	.recorded {
	    background-color: #ff8a9b;
	    color: black;
	}
	
	.tts {
	    background-color: #e8c666;
	    color: black;
	}
	
	.none {
	    background-color: rgb(173, 173, 173);
	}
	
	.lrn_widget {
	    border: 1px solid black;
	}
	
	#legend {
	    background: rgba(0, 0, 0, 0.75);
	    color: white;
	    display: flex;
	    align-items: center;
	    flex-direction: column;
	    position: fixed;
	    top: 0;
	    left: 0;
	}
	
	#legend span {
	    text-align: center;
	    margin-top: 15px;
	    width: 200px;
	    height: 20px
	}
	
	#upload {
	    display: none;
	}
	
	.audio-play {
	    width: 30px;
	    cursor: pointer;
	}
	
	.learnosity_menu {
	    height: 500px;
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	    align-content: center;
	    justify-content: center;
	    width: 100%;
	    background: #fcfcd3;
	    border: 1px solid black;
	    border-radius: 5px;
	}
	
	.lrn_itm_list {
	    align-self: center;
	    cursor: pointer;
	    height: 100%;
	    width: 100%;
	    ;
	}
	
	.lrn_menu_item {
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	    align-self: center;
	    width: 250px;
	    background-color: #FFA036;
	    color: #E8673E;
	    text-align: center;
	    margin: 20px;
	    border: 1px solid #FF8A9B;
	}
	
	.menu-button {
	    width: 200px;
	    border-radius: 5px;
	    background-color: #FFA036;
	    color: #E8673E;
	    margin: 15px;
	    padding: 10px;
	}
	
	.message {
	    display: flex;
	    flex-direction: row;
	    align-items: center;
	    line-height: 100%;
	}
	
	#progress-container {
	    float: left;
	    height: 10px;
	    width: 100%;
	    border: 1px solid black;
	}
	
	#load-progress {
	    height: 10px;
	    z-index: 500;
	    width: 0px;
	    float: left;
	    background-color: #E8673E;
	    border: 1px solid #E8673E;
	}
	
	.activity-form {
	    display: flex;
	    flex-wrap: wrap;
	    flex-direction: row;
	    justify-content: flex-start;
	}
	
	.activities {
	    max-height: 600px;
	    width: 450px;
	}
	
	.activity-checkbox {
	    width: 45%;
	    text-align: left;
	}
	
	.select-all {
	    text-align: center;
	    width: 100%;
	}
	
	.panel-footer {
	    width: 100%;
	}
	
	#audioMD5 {
	    width: 100%;
	}
	
	.text-speech {
	    color: green;
	}
	
	.resource-library {
	    position: fixed;
	    top: 50px;
	    right: 100px;
	    height: 800px;
	    width: 1200px;
	    overflow: auto;
	    border: 2px solid #FFA036;
	}
	
	.control-panel,
	.dropdown {
	    left: 200px;
	    position: fixed;
	    top: 50px;
	    margin-top: 47px;
	    width: 400px;
	}
	
	.dropdown {
	    display: none;
	    flex-direction: column;
	    align-content: flex-start;
	    justify-content: flex-start;
	    height: 500px;
	    background-color: #fcfcd3;
	    border: 1px solid black;
	    border-radius: 5px;
	    overflow: hidden
	}
	
	.secondary {
	    margin-top: 100px;
	}
	
	.closer {
	    display: flex;
	    align-self: flex-end;
	    color: white;
	    float: right;
	    font-size: 20px;
	    padding: 8px;
	    border: 1px solid white;
	    margin-right: 5px;
	    margin-top: 5px;
	    background: transparent;
	    cursor: pointer;
	}
	
	.closer>img {
	    height: 30px;
	}
	
	#addVoiceID,
	#uploadFile,
	#load-activity,
	#load-status,
	#upload-voice,
	#load-key {
	    align-items: center;
	}
	
	#color-key {
	    display: flex;
	    flex-direction: column;
	    margin-top: 150px;
	    justify-content: center;
	    width: 100%;
	}
	
	.color-display {
	    margin-left: 50px;
	    border: 1px solid black;
	    border-radius: 5px;
	    width: 75%;
	    height: 30px;
	    line-height: 30px;
	}
	
	#status-opts-header {
	    margin-top: 60px;
	}
	
	#recording_status_opts {
	    color: #E8673E;
	    border: 1px solid black;
	    border-radius: 5px;
	    text-align: left;
	}
	
	#learnosity-activity-input {
	    margin-top: 150px;
	    width: 80%;
	}
	
	input>.recording-radio {
	    padding: 5px;
	}
	
	.show-hide {
	    display: flex;
	}
	
	#fileUploadInput {
	    margin: 20px;
	    color: black;
	}
	
	#newVoiceId {
	    margin-top: 30px;
	    width: 60%;
	}
	
	#fallbackSelection,
	#fallbackSolutions {
	    display: flex;
	    flex-direction: column;
	    color: black;
	    border: 1px solid black;
	    height: 100%;
	    width: 45%;
	    text-align: center;
	    background-color: #e8c666;
	}
	
	#fallbackSelectionContent {
	    overflow: auto;
	    color: #E8673E;
	    background-color: rgb(173, 173, 173);
	}
	
	.candidate_record {
	    background-color: #fcfcd3;
	}
	
	.candidate_record {
	    font-size: 14px;
	    border: 1px solid green;
	}
	
	.fallback-header {
	    background-color: #e8c666;
	}
	
	.text {
	    color: green;
	}
	
	.note {
	    font-size: 10px;
	}
	
	.ebook-form {
	    display: flex;
	    align-self: center;
	    width: 90%;
	}
	
	.ebook-select {
	    margin: 10px;
	    width: 125px;
	}
	
	#fallback-overview-header {
	    top: inherit;
	    border: 1px solid black;
	    background-color: #fcfcd3;
	}