<!--container document for the fallback windows interface.   -->
<style>
    #ebook-fallback {
        display: none;
        cursor: default;
    }
    
    .r-table-contents {
        overflow: auto;
        max-height: 400px;
    }
    
    #fallback-killswitch>img,
    .fallback-play-btn {
        max-width: 30px;
        cursor: pointer;
    }
    
    .r-table {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .three-cols {
        width: 33%;
    }
    
    .four-cols {
        width: 25%;
    }
    
    .five-cols {
        font-size: 12px;
        width: 20%;
    }
</style>


<script>
    $(function() {

        ;

        $(document).on('click', ".fallback-button", function() {
            var source = $(this).parent().data(),
                md5 = source.md5,
                text = source.text,
                voiceArray = source.voiceArray;

            var testVal = "388205b105c2b70218af93cae3c7b7c5";

            // console.log($(this).parent().data());       //md5, voiceid, text
            var payload = {
                "md5": testVal,
                "lang_voice_id": voiceArray[0]
            };


            $.blockUI({
                message: "Gathering Fallback Options..."
            });


            $.post('services/ebooks/fallback.php', payload, function(response) {

                var data = JSON.parse(response);
                $.unblockUI();

                if (data.status) {
                    if (data.status == "result_found") {

                        //console.log(data.content);
                        displayFallbackOptions(md5, text, voiceArray, data.content);

                    } else {
                        alert("failure: " + data.status);
                    }
                } else {
                    alert("total script failure: ");
                }

            });
        });

        $(document).on('click', "#fallback-killswitch", function() {

            $.unblockUI();
        });

        $(document).on('click', '.fallback-play-btn', function() {
            var hash = $(this).data("hash");
            var voice_id_select_box = $("#voice_id_select_" + hash);
            var voiceID = voice_id_select_box.children(':selected').val();


            console.log(voiceID);
            var baseurl = "http://68b9c1bc7c9fa35e4a6d-0264cef6aad1b81efe617b95ad9e9064.r0.cf2.rackcdn.com";

            var path = hash[0] + hash[1] + hash[2] + "/" + voiceID + "/" + hash + ".mp3";
            var cdnPath = baseurl + "/" + path;

            var player = $("#audio_player");
            mp3 = document.createElement("source");
            mp3.src = cdnPath;
            mp3.dataset.md5 = hash;
            mp3.dataset.language = voiceID;

            player[0].pause(); //in case of latent play state
            player.empty(); //clear player sources
            player.append(mp3); //add new source
            player.load(); //restart
            player.trigger("play"); //play audio

        });
    });



    function displayFallbackOptions(md5, text, approvedVoices, data_content) {

        var target = $("#ebook-fallback");
        var og_md5 = $("#flbk-orig-md5");
        og_md5.text(md5);
        var og_txt = $("#flbk-orig-txt");
        og_txt.text(text);
        var og_vid = $("#flbk-orig-vid");
        og_vid.text(arrayToCommaList(approvedVoices));

        var contentContainer = $("#fallback-opts-content");

        contentContainer.empty();

        for (var i in data_content) {
            var fallback = data_content[i],
                hash = fallback.hash,
                text = fallback.text,
                idarr = fallback.vid_arr;

            var t1 = td("five-cols"),
                t2 = td("five-cols"),
                t3 = td("five-cols"),
                t4 = td("five-cols"),
                t5 = td("five-cols"),
                idList = "";

            var id_sel = $('<select id="voice_id_select_' + hash + '"></select>');
            /*build list of id arrays*/
            for (var j in idarr) {

                var opt = $('<option>', {
                    "text": idarr[j],
                    "value": idarr[j]
                });

                id_sel.append(opt);
                // idList += idarr[j];
                // if (j != (idarr.length - 1)) {
                //     idList += ", ";
                // }
            }


            t1.append('<button onclick="alert(\'' + hash + '\')">Show</button>');
            t1.attr('title', 'show the md5 of this string');
            t2.text(text);

            t3.append(id_sel);
            t4.append('<img class="fallback-play-btn" src="media/images/media-playback-start.png" data-hash="' + hash + '">');

            if (idarr.indexOf(approvedVoices[0]) != -1) {
                t5.append('<button class="post-fallback" data-md5="' + hash + '" data-voice_Id="' + approvedVoices[0] + '">Assign</button>');
            } else
                t5.append(" - - - ");

            contentContainer.append("<span style='width: 100%; border: 1px solid slategray; margin-top: 5px; margin-bottom: 5px;'></span>");
            contentContainer.append(t1);
            contentContainer.append(t2);
            contentContainer.append(t3);
            contentContainer.append(t4);
            contentContainer.append(t5);
        }




        $.blockUI({
            message: $("#ebook-fallback"),
            css: {
                "width": "1000px",
                "margin-left": "auto",
                "margin-right": "auto",
                "top": '20%',

            }
        });
        $("#ebook-fallback").css("display", "block");

    }

    function td(cols) {
        return $("<div class='r-table-cell " + cols + "'></div>");
    }

    function arrayToCommaList(_array) {
        var str = "";
        for (var i in _array) {
            str += _array[i];

            if (i < (_array.length - 1))
                str += ", ";
        }
        return str;
    }
</script>

<div id="ebook-fallback" style="display: none">
    <div class="r-table" id="fallback-opts-header">
        <div class="four-cols">
            <h4>Md5</h4>
        </div>
        <div class="four-cols">
            <h4>Text</h4>
        </div>
        <div class="four-cols">
            <h4>Approved Voice ID(s)</h4>
        </div>
        <div class="four-cols">
            <h4>Cancel</h4>
        </div>
        <div class="four-cols" id="flbk-orig-md5"></div>
        <div class="four-cols" id="flbk-orig-txt"></div>
        <div class="four-cols" id="flbk-orig-vid"></div>
        <div class="four-cols"><span id="fallback-killswitch"><img src="media/images/back-arrow.png"></span></div>
    </div>
    <hr style="margin-top: 0px;">
    <div class="r-table">
        <div class="five-cols">
            <h4>Md5</h4>
        </div>
        <div class="five-cols">
            <h4>Text</h4>
        </div>
        <div class="five-cols">
            <h4>Available Voice ID(s)</h4>
        </div>
        <div class="five-cols">
            <h4>Listen</h4>
        </div>
        <div class="five-cols">
            <h4>Assign</h4>
        </div>
    </div>

    <div class="r-table r-table-contents" id="fallback-opts-content">

    </div>


</div>