.tr666{ color:transparent;}
#P666_1
{
left:10241.6px;bottom:46829.1px;color:white;
}
#P666_2
{
left:11909.5px;bottom:47127.5px;color:white;
}
#P666_3
{
left:12283.1px;bottom:46829.1px;color:white;
}
#P666_4
{
left:3395.76px;bottom:46801.9px;letter-spacing:13.4px;color:white;
}
#P666_5
{
left:0px;letter-spacing:0px;margin-left:-13.4px;
}
#P666_6
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P666_7
{
left:3540.44px;bottom:1417.71px;color:rgb(35,31,31);
}
#P666_8
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P666_9
{
left:9471.43px;bottom:1417.71px;letter-spacing:1.2px;word-spacing:457.7px;color:rgb(35,31,31);
}
#P666_10
{
left:0px;letter-spacing:0px;margin-left:-458.9px;
}
#P666_11
{
left:0px;letter-spacing:2.2px;margin-left:4.4px;
}
#P666_12
{
left:0px;letter-spacing:0px;margin-left:-459.9px;
}
#P666_13
{
left:0px;letter-spacing:4.9px;margin-left:4.4px;
}
#P666_14
{
left:0px;letter-spacing:4.4px;margin-left:-6px;
}
#P666_15
{
left:4669.4px;bottom:43356.8px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P666_16
{
left:0px;letter-spacing:0px;margin-left:-27.6px;
}
#P666_17
{
left:12307.9px;bottom:43356.8px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P666_18
{
left:4669.4px;bottom:41820.8px;color:rgb(35,31,31);
}
#P666_19
{
left:5237.98px;bottom:41840.5px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P666_20
{
left:6269.4px;bottom:41840.5px;color:rgb(35,31,31);
}
#P666_21
{
left:6318.43px;bottom:42262.6px;color:rgb(35,31,31);
}
#P666_22
{
left:6654.23px;bottom:41838.4px;color:rgb(35,31,31);
}
#P666_23
{
left:6269.4px;bottom:41806.9px;color:rgb(35,31,31);
}
#P666_24
{
left:6703.19px;bottom:41822px;color:rgb(35,31,31);
}
#P666_25
{
left:6290.52px;bottom:41355.1px;color:rgb(35,31,31);
}
#P666_26
{
left:6682.07px;bottom:41838.4px;color:rgb(35,31,31);
}
#P666_27
{
left:6703.19px;bottom:41820.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P666_28
{
left:6861.59px;bottom:41791.2px;color:rgb(35,31,31);
}
#P666_29
{
left:7448.03px;bottom:41820.8px;color:rgb(35,31,31);
}
#P666_30
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P666_31
{
left:7627.55px;bottom:42260.5px;color:rgb(35,31,31);
}
#P666_32
{
left:8299.16px;bottom:41838.4px;color:rgb(35,31,31);
}
#P666_33
{
left:7606.43px;bottom:41804.8px;color:rgb(35,31,31);
}
#P666_34
{
left:8320.28px;bottom:41822px;color:rgb(35,31,31);
}
#P666_35
{
left:7627.55px;bottom:41352.9px;color:rgb(35,31,31);
}
#P666_36
{
left:8299.16px;bottom:41838.4px;color:rgb(35,31,31);
}
#P666_37
{
left:8320.28px;bottom:41820.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P666_38
{
left:15158px;bottom:41840.5px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P666_39
{
left:16189.4px;bottom:41840.5px;color:rgb(35,31,31);
}
#P666_40
{
left:16214.9px;bottom:42262.6px;color:rgb(35,31,31);
}
#P666_41
{
left:16541.9px;bottom:41838.4px;color:rgb(35,31,31);
}
#P666_42
{
left:16189.4px;bottom:41806.9px;color:rgb(35,31,31);
}
#P666_43
{
left:16567.4px;bottom:41822px;color:rgb(35,31,31);
}
#P666_44
{
left:16210.5px;bottom:41355.1px;color:rgb(35,31,31);
}
#P666_45
{
left:16546.3px;bottom:41838.4px;color:rgb(35,31,31);
}
#P666_46
{
left:16567.4px;bottom:41820.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P666_47
{
left:16725.8px;bottom:41791.2px;color:rgb(35,31,31);
}
#P666_48
{
left:17312.3px;bottom:41820.8px;color:rgb(35,31,31);
}
#P666_49
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P666_50
{
left:17491.8px;bottom:42260.5px;color:rgb(35,31,31);
}
#P666_51
{
left:18163.4px;bottom:41838.4px;color:rgb(35,31,31);
}
#P666_52
{
left:17470.7px;bottom:41804.8px;color:rgb(35,31,31);
}
#P666_53
{
left:18184.5px;bottom:41822px;color:rgb(35,31,31);
}
#P666_54
{
left:17491.8px;bottom:41352.9px;color:rgb(35,31,31);
}
#P666_55
{
left:18163.4px;bottom:41838.4px;color:rgb(35,31,31);
}
#P666_56
{
left:18184.5px;bottom:41820.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P666_57
{
left:25078px;bottom:41840.5px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P666_58
{
left:26109.4px;bottom:41840.5px;color:rgb(35,31,31);
}
#P666_59
{
left:26298.5px;bottom:42262.6px;color:rgb(35,31,31);
}
#P666_60
{
left:26634.3px;bottom:41838.4px;color:rgb(35,31,31);
}
#P666_61
{
left:26109.4px;bottom:41806.9px;color:rgb(35,31,31);
}
#P666_62
{
left:26823.3px;bottom:41822px;color:rgb(35,31,31);
}
#P666_63
{
left:26130.5px;bottom:41355.1px;color:rgb(35,31,31);
}
#P666_64
{
left:26802.1px;bottom:41838.4px;color:rgb(35,31,31);
}
#P666_65
{
left:26823.3px;bottom:41820.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P666_66
{
left:26981.7px;bottom:41791.2px;color:rgb(35,31,31);
}
#P666_67
{
left:27568.1px;bottom:41820.8px;color:rgb(35,31,31);
}
#P666_68
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P666_69
{
left:27747.6px;bottom:42260.5px;color:rgb(35,31,31);
}
#P666_70
{
left:28419.2px;bottom:41838.4px;color:rgb(35,31,31);
}
#P666_71
{
left:27726.5px;bottom:41804.8px;color:rgb(35,31,31);
}
#P666_72
{
left:28440.3px;bottom:41822px;color:rgb(35,31,31);
}
#P666_73
{
left:27935.1px;bottom:41352.9px;color:rgb(35,31,31);
}
#P666_74
{
left:28231.6px;bottom:41838.4px;color:rgb(35,31,31);
}
#P666_75
{
left:28440.3px;bottom:41820.8px;color:rgb(35,31,31);
}
#P666_76
{
left:4669.53px;bottom:39772.8px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P666_77
{
left:0px;letter-spacing:0px;margin-left:-27.4px;
}
#P666_78
{
left:13570.1px;bottom:39772.8px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P666_79
{
left:4669.4px;bottom:38556.8px;color:rgb(35,31,31);
}
#P666_80
{
left:5237.98px;bottom:38576.5px;color:rgb(35,31,31);
}
#P666_81
{
left:12157.4px;bottom:34853.8px;color:rgb(35,31,31);
}
#P666_82
{
left:8952.47px;bottom:38812.8px;color:rgb(35,31,31);
}
#P666_83
{
left:9342.23px;bottom:34853.8px;letter-spacing:513.6px;color:rgb(35,31,31);
}
#P666_84
{
left:6640.99px;bottom:34861.5px;color:rgb(35,31,31);
}
#P666_85
{
left:7040.79px;bottom:34853.8px;color:rgb(35,31,31);
}
#P666_86
{
left:7858.59px;bottom:33730.8px;color:rgb(35,31,31);
}
#P666_87
{
left:8258.46px;bottom:33723.1px;color:rgb(35,31,31);
}
#P666_88
{
left:8258.46px;bottom:36790.8px;color:rgb(35,31,31);
}
#P666_89
{
left:8258.46px;bottom:37558.8px;color:rgb(35,31,31);
}
#P666_90
{
left:8258.46px;bottom:38326.8px;color:rgb(35,31,31);
}
#P666_91
{
left:7243.87px;bottom:35664.6px;color:rgb(0,124,196);
}
#P666_92
{
left:10334.6px;bottom:35682.9px;color:rgb(0,124,196);
}
#P666_93
{
left:12817.7px;bottom:38556.8px;color:rgb(35,31,31);
}
#P666_94
{
left:19830px;bottom:38576.5px;color:rgb(35,31,31);
}
#P666_95
{
left:26749.4px;bottom:34079.4px;color:rgb(35,31,31);
}
#P666_96
{
left:22776.5px;bottom:38806.4px;color:rgb(35,31,31);
}
#P666_97
{
left:23166.2px;bottom:34079.4px;color:rgb(35,31,31);
}
#P666_98
{
left:21959px;bottom:34015.6px;color:rgb(35,31,31);
}
#P666_99
{
left:23934.2px;bottom:34079.4px;letter-spacing:513.6px;color:rgb(35,31,31);
}
#P666_100
{
left:22082.5px;bottom:36016.4px;color:rgb(35,31,31);
}
#P666_101
{
left:22082.5px;bottom:35248.4px;color:rgb(35,31,31);
}
#P666_102
{
left:22082.5px;bottom:36784.4px;color:rgb(35,31,31);
}
#P666_103
{
left:22082.5px;bottom:38320.4px;color:rgb(35,31,31);
}
#P666_104
{
left:22082.5px;bottom:37552.4px;color:rgb(35,31,31);
}
#P666_105
{
left:23434.5px;bottom:36418.3px;color:rgb(0,124,196);
}
#P666_106
{
left:24948.7px;bottom:37211.1px;color:rgb(0,124,196);
}
#P666_107
{
left:4669.4px;bottom:31132.8px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P666_108
{
left:0px;letter-spacing:-14px;margin-left:-27.1px;
}
#P666_109
{
left:0px;letter-spacing:0px;margin-left:14px;
}
#P666_110
{
left:0px;letter-spacing:0px;margin-left:-225.1px;
}
#P666_111
{
left:0px;letter-spacing:0px;margin-left:77.1px;
}
#P666_112
{
left:0px;letter-spacing:-0.4px;
}
#P666_113
{
left:0px;letter-spacing:-1.9px;margin-left:0.4px;
}
#P666_114
{
left:4669.4px;bottom:30236.8px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P666_115
{
left:4669.4px;bottom:28700.8px;color:rgb(35,31,31);
}
#P666_116
{
left:5237.98px;bottom:28720.5px;color:rgb(35,31,31);
}
#P666_117
{
left:6525.4px;bottom:28592.1px;color:rgb(35,31,31);
}
#P666_118
{
left:8765.15px;bottom:28592.1px;color:rgb(35,31,31);
}
#P666_119
{
left:10512.7px;bottom:28593.3px;letter-spacing:1900.8px;color:rgb(35,31,31);
}
#P666_120
{
left:6525.4px;bottom:27440.1px;color:rgb(35,31,31);
}
#P666_121
{
left:8579.03px;bottom:27440.1px;color:rgb(35,31,31);
}
#P666_122
{
left:10326.1px;bottom:27421.3px;color:rgb(35,31,31);
}
#P666_123
{
left:0px;letter-spacing:0px;margin-left:1527.7px;
}
#P666_124
{
left:0px;letter-spacing:0px;margin-left:1527.6px;
}
#P666_125
{
left:0px;letter-spacing:0px;margin-left:1527.7px;
}
#P666_126
{
left:19031.2px;bottom:28700.8px;color:rgb(35,31,31);
}
#P666_127
{
left:19830px;bottom:28720.5px;color:rgb(35,31,31);
}
#P666_128
{
left:21117.4px;bottom:28643.3px;color:rgb(35,31,31);
}
#P666_129
{
left:24366.6px;bottom:28643.3px;color:rgb(35,31,31);
}
#P666_130
{
left:25818.9px;bottom:28644.5px;color:rgb(35,31,31);
}
#P666_131
{
left:0px;letter-spacing:0px;margin-left:1329.1px;
}
#P666_132
{
left:0px;letter-spacing:1433.6px;
}
#P666_133
{
left:0px;letter-spacing:1433.6px;margin-left:-1433.6px;
}
#P666_134
{
left:0px;letter-spacing:0px;margin-left:-1433.6px;
}
#P666_135
{
left:21117.4px;bottom:27491.3px;color:rgb(35,31,31);
}
#P666_136
{
left:24179.8px;bottom:27491.3px;color:rgb(35,31,31);
}
#P666_137
{
left:25810.5px;bottom:27472.5px;color:rgb(35,31,31);
}
#P666_138
{
left:0px;letter-spacing:0px;margin-left:1303.7px;
}
#P666_139
{
left:0px;letter-spacing:1399.7px;
}
#P666_140
{
left:0px;letter-spacing:1399.7px;margin-left:-1399.7px;
}
#P666_141
{
left:0px;letter-spacing:0px;margin-left:-1399.7px;
}
#P666_142
{
left:4669.4px;bottom:25500.8px;letter-spacing:-28.1px;color:rgb(35,31,31);
}
#P666_143
{
left:0px;letter-spacing:0px;margin-left:28.1px;
}
#P666_144
{
left:8882.91px;bottom:25506.4px;color:rgb(35,31,31);
}
#P666_145
{
left:9246.17px;bottom:25500.8px;color:rgb(35,31,31);
}
#P666_146
{
left:10799.8px;bottom:25506.4px;color:rgb(35,31,31);
}
#P666_147
{
left:11144.1px;bottom:25500.8px;letter-spacing:-3.5px;color:rgb(35,31,31);
}
#P666_148
{
left:0px;letter-spacing:-3.5px;margin-left:3.5px;
}
#P666_149
{
left:0px;letter-spacing:-2.8px;margin-left:3.5px;
}
#P666_150
{
left:0px;letter-spacing:-0.6px;margin-left:2.8px;
}
#P666_151
{
left:26326.9px;bottom:25500.8px;color:rgb(35,31,31);
}
#P666_152
{
left:27030.9px;bottom:25500.8px;letter-spacing:-0.3px;word-spacing:-0.1px;color:rgb(0,124,196);
}
#P666_153
{
left:4669.4px;bottom:23964.8px;color:rgb(35,31,31);
}
#P666_154
{
left:5237.98px;bottom:23984.5px;color:rgb(35,31,31);
}
#P666_155
{
left:6269.4px;bottom:23964.8px;color:rgb(35,31,31);
}
#P666_156
{
left:6598.87px;bottom:23964.8px;color:rgb(35,31,31);
}
#P666_157
{
left:6757.27px;bottom:23935.2px;color:rgb(35,31,31);
}
#P666_158
{
left:7343.71px;bottom:23964.8px;color:rgb(35,31,31);
}
#P666_159
{
left:8033.56px;bottom:23935.2px;color:rgb(35,31,31);
}
#P666_160
{
left:8619.99px;bottom:23964.8px;color:rgb(35,31,31);
}
#P666_161
{
left:9309.91px;bottom:23935.2px;color:rgb(35,31,31);
}
#P666_162
{
left:9896.35px;bottom:23964.8px;color:rgb(35,31,31);
}
#P666_163
{
left:10054.7px;bottom:23964.8px;color:rgb(35,31,31);
}
#P666_164
{
left:10418px;bottom:23964.8px;color:rgb(35,31,31);
}
#P666_165
{
left:19830px;bottom:23984.5px;color:rgb(35,31,31);
}
#P666_166
{
left:20861.4px;bottom:23964.8px;color:rgb(35,31,31);
}
#P666_167
{
left:21224.7px;bottom:23964.8px;color:rgb(35,31,31);
}
#P666_168
{
left:21383.1px;bottom:23935.2px;color:rgb(35,31,31);
}
#P666_169
{
left:21969.5px;bottom:23964.8px;color:rgb(35,31,31);
}
#P666_170
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P666_171
{
left:22149px;bottom:24404.5px;color:rgb(35,31,31);
}
#P666_172
{
left:22484.8px;bottom:23982.4px;color:rgb(35,31,31);
}
#P666_173
{
left:22127.9px;bottom:23948.8px;color:rgb(35,31,31);
}
#P666_174
{
left:22505.9px;bottom:23966px;color:rgb(35,31,31);
}
#P666_175
{
left:22149px;bottom:23496.9px;color:rgb(35,31,31);
}
#P666_176
{
left:22484.8px;bottom:23982.4px;color:rgb(35,31,31);
}
#P666_177
{
left:22505.9px;bottom:23964.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P666_178
{
left:22593.9px;bottom:23964.8px;color:rgb(35,31,31);
}
#P666_179
{
left:4669.4px;bottom:22300.8px;color:rgb(35,31,31);
}
#P666_180
{
left:4846.55px;bottom:22320.5px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P666_181
{
left:6269.4px;bottom:22320.5px;color:rgb(2,77,161);
}
#P666_182
{
left:9516.25px;bottom:22300.8px;word-spacing:193.6px;color:rgb(35,31,31);
}
#P666_183
{
left:0px;letter-spacing:0px;margin-left:-193.6px;
}
#P666_184
{
left:11916.8px;bottom:22300.8px;letter-spacing:28.2px;color:rgb(35,31,31);
}
#P666_185
{
left:0px;letter-spacing:0.1px;margin-left:-28.2px;
}
#P666_186
{
left:0px;letter-spacing:-0.7px;margin-left:-0.1px;
}
#P666_187
{
left:0px;letter-spacing:-0.7px;margin-left:-7.7px;
}
#P666_188
{
left:0px;letter-spacing:0px;margin-left:-13.3px;
}
#P666_189
{
left:6269.4px;bottom:21404.8px;letter-spacing:-3px;color:rgb(35,31,31);
}
#P666_190
{
left:0px;letter-spacing:0.4px;margin-left:3px;
}
#P666_191
{
left:22436.2px;bottom:21404.8px;color:rgb(35,31,31);
}
#P666_192
{
left:23140.2px;bottom:21404.8px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P666_193
{
left:4669.4px;bottom:20060.8px;color:rgb(35,31,31);
}
#P666_194
{
left:4846.55px;bottom:20080.5px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P666_195
{
left:6269.4px;bottom:20080.5px;letter-spacing:-1.3px;color:rgb(2,77,161);
}
#P666_196
{
left:11460.1px;bottom:20060.8px;letter-spacing:168.4px;word-spacing:-0.1px;color:rgb(35,31,31);
}
#P666_197
{
left:0px;letter-spacing:-4.4px;margin-left:-170.4px;
}
#P666_198
{
left:0px;letter-spacing:-5.5px;margin-left:2.3px;
}
#P666_199
{
left:0px;letter-spacing:-2px;margin-left:3.5px;
}
#P666_200
{
left:6269.4px;bottom:19164.8px;letter-spacing:-4px;color:rgb(35,31,31);
}
#P666_201
{
left:0px;letter-spacing:0px;margin-left:-12px;
}
#P666_202
{
left:11003.4px;bottom:19164.8px;color:rgb(35,31,31);
}
#P666_203
{
left:11705.2px;bottom:19164.8px;letter-spacing:-2.4px;color:rgb(0,124,196);
}
#P666_204
{
left:4669.4px;bottom:17692.8px;color:rgb(35,31,31);
}
#P666_205
{
left:15353.3px;bottom:17692.8px;color:rgb(35,31,31);
}
#P666_206
{
left: 16513.4px;bottom:17692.8px;letter-spacing:481.6px;color:rgb(35,31,31);
}
#P666_207
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P666_208
{
left:0px;letter-spacing:-2px;margin-left:-8.4px;
}
#P666_209
{
left:0px;letter-spacing:-0.5px;margin-left:2px;
}
#P666_210
{
left:0px;letter-spacing:0px;margin-left:-41.5px;
}
#P666_211
{
left:0px;letter-spacing:0px;
}
#P666_212
{
left:16573.4px;bottom:16796.8px;color:rgb(35,31,31);
}
#P666_213
{
left:16572.9px;bottom:15900.8px;letter-spacing:-0.5px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P666_214
{
left:4669.4px;bottom:14684.7px;color:rgb(35,31,31);
}
#P666_215
{
left:15317.3px;bottom:14684.7px;letter-spacing:-6.9px;color:rgb(35,31,31);
}
#P666_216
{
left: 17253.4px;bottom:14684.7px;letter-spacing:481.6px;color:rgb(35,31,31);
}
#P666_217
{
left:0px;letter-spacing:0px;margin-left:-640px;
}
#P666_218
{
left:0px;letter-spacing:-0.9px;
margin-left: 0px;
}
#P666_219
{
left:0px;letter-spacing:-0.6px;margin-left:0.9px;
}
#P666_220
{
left:4669.4px;bottom:13468.7px;color:rgb(35,31,31);
}
#P666_221
{
left:15388.5px;bottom:13468.7px;color:rgb(35,31,31);
}
#P666_222
{
left: 16483.4px;bottom:13468.7px;letter-spacing:481.6px;color:rgb(35,31,31);
}
#P666_223
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P666_224
{
left:0px;letter-spacing:-7px;
margin-left: 0px;
}
#P666_225
{
left:0px;letter-spacing:-0.4px;margin-left:7px;
}
#P666_226
{
left:16573.4px;bottom:12572.7px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P666_227
{
left:4669.4px;bottom:7836.72px;color:rgb(35,31,31);
}
#P666_228
{
left:4846.55px;bottom:7856.43px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P666_229
{
left:6269.4px;bottom:7856.49px;color:rgb(2,77,161);
}
#P666_230
{
left: 9465.8px;bottom:7836.78px;letter-spacing:168.3px;color:rgb(35,31,31);
}
#P666_231
{
left:0px;letter-spacing:-1.7px;
margin-left: 0px;
}
#P666_232
{
left:0px;letter-spacing:-0.5px;margin-left:1.7px;
}
#P666_233
{
left:0px;letter-spacing:0px;margin-left:-214.3px;
}
#P666_234
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P666_235
{
left:0px;letter-spacing:-0.9px;
}
#P666_236
{
left:0px;letter-spacing:-70.3px;margin-left:-24.4px;
}
#P666_237
{
left:0px;letter-spacing:0px;margin-left:70.3px;
}
#P666_238
{
left:6269.4px;bottom:6940.78px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P666_239
{
left:9062.81px;bottom:6940.78px;color:rgb(35,31,31);
}
#P666_240
{
left:9426.07px;bottom:6940.78px;color:rgb(35,31,31);
}
#P666_241
{
left:10967.8px;bottom:6940.78px;color:rgb(35,31,31);
}
#P666_242
{
left:11297.3px;bottom:6940.78px;letter-spacing:-5.2px;color:rgb(35,31,31);
}
#P666_243
{
left:0px;letter-spacing:-1.1px;margin-left:5.2px;
}
#P666_244
{
left:0px;letter-spacing:-2.7px;margin-left:1.1px;
}
#P666_245
{
left:0px;letter-spacing:0.5px;margin-left:2.7px;
}
#P666_246
{
left:6269.4px;bottom:6044.91px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P666_247
{
left:0px;letter-spacing:-1px;margin-left:158.4px;
}
#P666_248
{
left:0px;letter-spacing:0.7px;margin-left:1px;
}
#P666_249
{
left:15826.8px;bottom:6044.78px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P666_250
{
left:4669.4px;bottom:4572.78px;color:rgb(0,124,196);
}
#P666_251
{
left:5629.4px;bottom:4600.94px;color:rgb(0,124,196);
}
#P666_252
{
left:6653.4px;bottom:4564.91px;color:rgb(35,31,31);
}
#P666_253
{
left:9827.93px;bottom:4564.91px;color:rgb(35,31,31);
}
#P666_254
{
left:11793.6px;bottom:4546.09px;color:rgb(35,31,31);
}
#P666_255
{
left:0px;letter-spacing:0px;margin-left:2423.7px;
}
#P666_256
{
left:0px;letter-spacing:0px;margin-left:2423.7px;
}
#P666_257
{
left:0px;letter-spacing:0px;margin-left:2423.7px;
}
#P666_258
{
left:6653.4px;bottom:3412.9px;letter-spacing:-4px;color:rgb(35,31,31);
}
#P666_259
{
left:8135.31px;bottom:3412.9px;word-spacing:37.3px;color:rgb(35,31,31);
}
#P666_260
{
left:8770.33px;bottom:3412.9px;color:rgb(35,31,31);
}
#P666_261
{
left:11170.3px;bottom:3394.08px;color:rgb(35,31,31);
}
#P666_262
{
left:0px;letter-spacing:0px;margin-left:1177.1px;
}
#P666_263
{
left:0px;letter-spacing:0px;margin-left:999.1px;
}
#P666_264
{
left:0px;letter-spacing:0px;margin-left:821px;
}
#P666_265
{
left:27145.8px;bottom:45147.3px;letter-spacing:-0.1px;word-spacing:0.3px;color:rgb(33,31,31);
}
#P666_266
{
left:13668.7px;bottom:11085px;color:rgb(35,31,31);
}
#P666_267
{
left:6630.23px;bottom:16751.3px;color:rgb(35,31,31);
}
#P666_268
{
left:8432.54px;bottom:11135.3px;color:rgb(35,31,31);
}
#P666_269
{
left:9965.15px;bottom:11144.4px;color:rgb(35,31,31);
}
#P666_270
{
left:11487.7px;bottom:11134.3px;color:rgb(35,31,31);
}
#P666_271
{
left:13044.4px;bottom:11135.3px;color:rgb(35,31,31);
}
#P666_272
{
left:5668.57px;bottom:12059.6px;letter-spacing:0.6px;color:rgb(35,31,31);
}
#P666_273
{
left:9670.17px;bottom:10207.3px;color:rgb(35,31,31);
}
#P666_274
{
left:7577.56px;bottom:17713.2px;color:rgb(35,31,31);
}
#P666_275
{
left:6314.27px;bottom:13030.5px;color:rgb(35,31,31);
}
#P666_276
{
left:6048.35px;bottom:14575.7px;color:rgb(35,31,31);
}
#P666_277
{
left:6049.31px;bottom:16118.4px;color:rgb(35,31,31);
}
#P666_278
{
left:6315.74px;bottom:12248.6px;color:rgb(35,31,31);
}
#P666_279
{
left:6314.78px;bottom:13797.5px;color:rgb(35,31,31);
}
#P666_280
{
left:6048.86px;bottom:15335.5px;color:rgb(35,31,31);
}
#P666_281
{
left:7639.07px;bottom:11139.3px;color:rgb(35,31,31);
}
#P666_282
{
left:9199.07px;bottom:11137.4px;color:rgb(35,31,31);
}
#P666_283
{
left:10721.2px;bottom:11141.2px;letter-spacing:1284.9px;color:rgb(35,31,31);
}
#P666_284
{
left:6583.07px;bottom:11493.1px;color:rgb(35,31,31);
}
#P666_285
{
left:6871.07px;bottom:11139.3px;color:rgb(35,31,31);
}
#P666_286
{
left:8007.96px;bottom:16030px;letter-spacing:-28.2px;color:rgb(0,145,68);
}
#P666_287
{
left:8007.96px;bottom:15338.8px;color:rgb(0,124,196);
}
#P666_288
{
left:7476.83px;bottom:13128px;color:rgb(0,145,68);
}
#P666_289
{
left:9723.23px;bottom:12174.1px;color:rgb(0,124,196);
}
#P666_290
{
left:10224.9px;bottom:14917.6px;color:rgb(0,145,68);
}
#P666_291
{
left:12203.5px;bottom:13184.5px;color:rgb(0,124,196);
}
#PageContainer666
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg666.jpg");background-repeat:no-repeat;background-size: 1000px 1283px; background-position: 0px -0.519999999999982px;
}
#ImageContainer666 {bottom:81.52px;left:0.00px;width:1000.30px;height:1282.64px;position:absolute;} #TextContainer666 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.progress_check{
position: absolute;
top: 85px;
left: 725px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}