.tr217{ color:transparent;}
#P217_1
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P217_2
{
left:28047.8px;bottom:1410.03px;color:rgb(35,31,31);
}
#P217_3
{
left:31320px;bottom:1410.03px;letter-spacing:462.1px;color:rgb(35,31,31);
}
#P217_4
{
left:0px;letter-spacing:0.5px;margin-left:-461.8px;
}
#P217_5
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P217_6
{
left:11555.5px;bottom:43330.7px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P217_7
{
left:0px;letter-spacing:0.4px;margin-left:14.1px;
}
#P217_8
{
left:0px;letter-spacing:-44.5px;margin-left:-42.5px;
}
#P217_9
{
left:0px;letter-spacing:-0.4px;margin-left:44.5px;
}
#P217_10
{
left:0px;letter-spacing:0px;margin-left:-13.6px;
}
#P217_11
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P217_12
{
left:11555.5px;bottom:42434.7px;letter-spacing:-14.8px;color:rgb(35,31,31);
}
#P217_13
{
left:0px;letter-spacing:-0.2px;margin-left:14.8px;
}
#P217_14
{
left:0px;letter-spacing:0px;margin-left:-6.7px;
}
#P217_15
{
left:11555.5px;bottom:41538.7px;letter-spacing:-2.3px;color:rgb(35,31,31);
}
#P217_16
{
left:0px;letter-spacing:0px;margin-left:2.3px;
}
#P217_17
{
left:11555.5px;bottom:39682.6px;color:rgb(35,31,31);
}
#P217_18
{
left:11683.5px;bottom:39682.6px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P217_19
{
left:12771.5px;bottom:39682.6px;letter-spacing:-1.7px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P217_20
{
left:23920.1px;bottom:39682.7px;color:rgb(35,31,31);
}
#P217_21
{
left:24279.3px;bottom:39682.7px;letter-spacing:-17.4px;color:rgb(35,31,31);
}
#P217_22
{
left:25507.5px;bottom:39682.7px;letter-spacing:-1px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P217_23
{
left:11555.5px;bottom:37826.7px;color:rgb(35,31,31);
}
#P217_24
{
left:11683.5px;bottom:37826.7px;letter-spacing:940.2px;color:rgb(35,31,31);
}
#P217_25
{
left:12771.5px;bottom:37826.7px;letter-spacing:-3.3px;word-spacing:-69.3px;color:rgb(35,31,31);
}
#P217_26
{
left:22117.5px;bottom:37826.7px;color:rgb(35,31,31);
}
#P217_27
{
left:24867.5px;bottom:37826.7px;letter-spacing:492.2px;color:rgb(35,31,31);
}
#P217_28
{
left:25507.5px;bottom:37826.7px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P217_29
{
left:0px;letter-spacing:0px;margin-left:-63.2px;
}
#P217_30
{
left:0px;letter-spacing:0px;margin-left:-21px;
}
#P217_31
{
left:11555.5px;bottom:35970.7px;color:rgb(35,31,31);
}
#P217_32
{
left:11683.5px;bottom:35970.7px;letter-spacing:940.2px;color:rgb(35,31,31);
}
#P217_33
{
left:12771.5px;bottom:35970.7px;letter-spacing:-2px;color:rgb(35,31,31);
}
#P217_34
{
left:0px;letter-spacing:0px;margin-left:-12px;
}
#P217_35
{
left:0px;letter-spacing:0px;margin-left:1343.9px;
}
#P217_36
{
left:0px;letter-spacing:0.4px;
}
#P217_37
{
left:24867.5px;bottom:35970.7px;letter-spacing:492.2px;color:rgb(35,31,31);
}
#P217_38
{
left:25507.6px;bottom:35970.7px;color:rgb(35,31,31);
}
#P217_39
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P217_40
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P217_41
{
left:0px;letter-spacing:0px;margin-left:5632.8px;
}
#P217_42
{
left:11555.5px;bottom:34498.7px;color:rgb(35,31,31);
}
#P217_43
{
left:11683.5px;bottom:34498.7px;letter-spacing:940.2px;color:rgb(35,31,31);
}
#P217_44
{
left:12771.5px;bottom:34498.7px;letter-spacing:2.1px;color:rgb(35,31,31);
}
#P217_45
{
left:0px;letter-spacing:0px;margin-left:1340.7px;
}
#P217_46
{
left:0px;letter-spacing:-0.7px;
}
#P217_47
{
left:24867.5px;bottom:34498.7px;letter-spacing:492.2px;color:rgb(35,31,31);
}
#P217_48
{
left:25507.5px;bottom:34498.7px;letter-spacing:2.1px;color:rgb(35,31,31);
}
#P217_49
{
left:27383.6px;bottom:34738.7px;color:rgb(35,31,31);
}
#P217_50
{
left:33016.5px;bottom:34498.7px;color:rgb(35,31,31);
}
#P217_51
{
left:11555.5px;bottom:31874.7px;color:rgb(35,31,31);
}
#P217_52
{
left:11683.5px;bottom:31874.7px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P217_53
{
left:12771.5px;bottom:31874.7px;letter-spacing:-3.5px;word-spacing:-129px;color:rgb(35,31,31);
}
#P217_54
{
left:23711.1px;bottom:31874.7px;color:rgb(35,31,31);
}
#P217_55
{
left:24272.5px;bottom:31874.7px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P217_56
{
left:25507.6px;bottom:31874.7px;word-spacing:-129px;color:rgb(35,31,31);
}
#P217_57
{
left:11555.5px;bottom:30018.7px;color:rgb(35,31,31);
}
#P217_58
{
left:11683.5px;bottom:30018.7px;letter-spacing:940.2px;color:rgb(35,31,31);
}
#P217_59
{
left:12771.5px;bottom:30018.7px;letter-spacing:-1.7px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P217_60
{
left:19312.1px;bottom:30018.7px;color:rgb(35,31,31);
}
#P217_61
{
left:24867.5px;bottom:30018.7px;letter-spacing:492.2px;color:rgb(35,31,31);
}
#P217_62
{
left:25507.5px;bottom:30018.7px;letter-spacing:-1.2px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P217_63
{
left:11555.5px;bottom:28290.7px;color:rgb(35,31,31);
}
#P217_64
{
left:11683.5px;bottom:28290.7px;letter-spacing:940.2px;color:rgb(35,31,31);
}
#P217_65
{
left:0px;letter-spacing:0px;margin-left:11007.9px;
}
#P217_66
{
left:11555.5px;bottom:26754.7px;color:rgb(35,31,31);
}
#P217_67
{
left:11683.5px;bottom:26754.7px;color:rgb(35,31,31);
}
#P217_68
{
left:12771.5px;bottom:26994.7px;color:rgb(35,31,31);
}
#P217_69
{
left:21757.4px;bottom:26754.7px;color:rgb(35,31,31);
}
#P217_70
{
left:21944px;bottom:26754.7px;letter-spacing:2775.7px;color:rgb(35,31,31);
}
#P217_71
{
left:25507.5px;bottom:26994.7px;color:rgb(35,31,31);
}
#P217_72
{
left:34493.4px;bottom:26754.7px;color:rgb(35,31,31);
}
#P217_73
{
left:12433.7px;bottom:44890.9px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P217_74
{
left:15858.8px;bottom:45082.7px;color:rgb(255,223,126);
}
#P217_75
{
left:16483.5px;bottom:44890.9px;word-spacing:207.4px;color:white;
}
#P217_76
{
left:18419.7px;bottom:45082.7px;color:white;
}
#P217_77
{
left:18659.9px;bottom:44890.9px;color:white;
}
#P217_78
{
left:21125.8px;bottom:45082.7px;color:white;
}
#P217_79
{
left:21366px;bottom:44890.9px;letter-spacing:-3.8px;color:white;
}
#P217_80
{
left:10693.3px;bottom:44767.3px;
}
#P217_81
{
left:10693.3px;bottom:44767.3px;color:white;
}
#P217_82
{
left:14845.4px;bottom:4204.65px;letter-spacing:228.8px;color:rgb(0,124,196);
}
#P217_83
{
left:15261.4px;bottom:4236.65px;letter-spacing:-9.3px;color:rgb(35,31,31);
}
#P217_84
{
left:0px;letter-spacing:0.1px;margin-left:9.3px;
}
#P217_85
{
left:15261.4px;bottom:3340.67px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P217_86
{
left:0px;letter-spacing:0px;margin-left:0.9px;
}
#P217_87
{
left:11555.5px;bottom:21852.8px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P217_88
{
left:0px;letter-spacing:0.4px;margin-left:14.1px;
}
#P217_89
{
left:0px;letter-spacing:-14px;margin-left:-42.5px;
}
#P217_90
{
left:0px;letter-spacing:0px;margin-left:-17.5px;
}
#P217_91
{
left:0px;letter-spacing:-0.5px;
}
#P217_92
{
left:0px;letter-spacing:0px;margin-left:-13.4px;
}
#P217_93
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P217_94
{
left:11555.5px;bottom:20956.8px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P217_95
{
left:11555.5px;bottom:19676.8px;color:rgb(35,31,31);
}
#P217_96
{
left:11683.5px;bottom:19676.8px;letter-spacing:-14px;word-spacing:516.1px;color:rgb(35,31,31);
}
#P217_97
{
left:12899.5px;bottom:19676.8px;letter-spacing:-8.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P217_98
{
left:0px;letter-spacing:-0.9px;margin-left:8.4px;
}
#P217_99
{
left:0px;letter-spacing:-0.6px;margin-left:0.8px;
}
#P217_100
{
left:0px;letter-spacing:-3.5px;margin-left:-13.3px;
}
#P217_101
{
left:0px;letter-spacing:-1.8px;margin-left:160.1px;
}
#P217_102
{
left:11555.5px;bottom:18588.8px;color:rgb(35,31,31);
}
#P217_103
{
left:11683.5px;bottom:18588.8px;letter-spacing:-17.5px;color:rgb(35,31,31);
}
#P217_104
{
left:12899.5px;bottom:18588.8px;letter-spacing:-6.5px;word-spacing:0.3px;color:rgb(35,31,31);
}
#P217_105
{
left:0px;letter-spacing:-1.3px;margin-left:6.2px;
}
#P217_106
{
left:0px;letter-spacing:-1.2px;margin-left:1px;
}
#P217_107
{
left:0px;letter-spacing:-0.3px;margin-left:-12.8px;
}
#P217_108
{
left:0px;letter-spacing:0px;margin-left:-13.6px;
}
#P217_109
{
left:11555.5px;bottom:17500.7px;color:rgb(35,31,31);
}
#P217_110
{
left:11683.5px;bottom:17500.7px;letter-spacing:-14px;word-spacing:551.3px;color:rgb(35,31,31);
}
#P217_111
{
left:12899.5px;bottom:17500.7px;letter-spacing:-0.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P217_112
{
left:0px;letter-spacing:-0.3px;margin-left:158.6px;
}
#P217_113
{
left:12899.5px;bottom:16604.7px;color:rgb(35,31,31);
}
#P217_114
{
left:16634.9px;bottom:16772.3px;letter-spacing:-84.4px;color:rgb(35,31,31);
}
#P217_115
{
left:0px;letter-spacing:0px;margin-left:84.4px;
}
#P217_116
{
left:17643.1px;bottom:16604.7px;letter-spacing:-8.4px;color:rgb(35,31,31);
}
#P217_117
{
left:0px;letter-spacing:-4.6px;margin-left:8.4px;
}
#P217_118
{
left:0px;letter-spacing:-0.3px;margin-left:4.6px;
}
#P217_119
{
left:11555.5px;bottom:15516.7px;color:rgb(35,31,31);
}
#P217_120
{
left:11683.5px;bottom:15516.7px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P217_121
{
left:12899.5px;bottom:15516.7px;letter-spacing:0.2px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P217_122
{
left:0px;letter-spacing:0.2px;margin-left:158.3px;
}
#P217_123
{
left:0px;letter-spacing:0px;margin-left:-42.3px;
}
#P217_124
{
left:12433.7px;bottom:23413px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P217_125
{
left:15858.8px;bottom:23604.8px;color:rgb(255,223,126);
}
#P217_126
{
left:16483.5px;bottom:23413px;word-spacing:207.4px;color:white;
}
#P217_127
{
left:18611.5px;bottom:23604.8px;color:white;
}
#P217_128
{
left:18851.7px;bottom:23413px;color:white;
}
#P217_129
{
left:19347.7px;bottom:23604.8px;color:white;
}
#P217_130
{
left:19587.9px;bottom:23413px;color:white;
}
#P217_131
{
left:22805.4px;bottom:23604.8px;color:white;
}
#P217_132
{
left:23045.6px;bottom:23413px;color:white;
}
#P217_133
{
left:24870.4px;bottom:23604.8px;color:white;
}
#P217_134
{
left:25110.6px;bottom:23413px;color:white;
}
#P217_135
{
left:10693.3px;bottom:23289.5px;
}
#P217_136
{
left:10693.3px;bottom:23289.5px;color:white;
}
#P217_137
{
left:10534.6px;bottom:11389.7px;color:rgb(35,31,31);
}
#P217_138
{
left:10929px;bottom:11416.5px;word-spacing:394.4px;color:rgb(35,31,31);
}
#P217_139
{
left:12070.6px;bottom:11409.4px;word-spacing:-26px;color:rgb(2,77,161);
}
#P217_140
{
left:0px;letter-spacing:0px;margin-left:-26px;
}
#P217_141
{
left:0px;letter-spacing:0px;margin-left:26px;
}
#P217_142
{
left:19230.5px;bottom:11389.7px;letter-spacing:-10.5px;color:rgb(35,31,31);
}
#P217_143
{
left:0px;letter-spacing:-1.8px;margin-left:10.5px;
}
#P217_144
{
left:0px;letter-spacing:0px;margin-left:-12.1px;
}
#P217_145
{
left:0px;letter-spacing:-0.2px;margin-left:-14px;
}
#P217_146
{
left:12070.6px;bottom:10493.7px;letter-spacing:-0.2px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P217_147
{
left:10534.6px;bottom:9149.68px;color:rgb(35,31,31);
}
#P217_148
{
left:10929px;bottom:9176.49px;word-spacing:394.4px;color:rgb(35,31,31);
}
#P217_149
{
left:12070.6px;bottom:9169.39px;color:rgb(2,77,161);
}
#P217_150
{
left:15825.7px;bottom:9149.68px;letter-spacing:-63.2px;color:rgb(35,31,31);
}
#P217_151
{
left:0px;letter-spacing:-0.6px;margin-left:63.2px;
}
#P217_152
{
left:0px;letter-spacing:-0.5px;margin-left:0.6px;
}
#P217_153
{
left:12070.6px;bottom:8253.68px;letter-spacing:-0.6px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P217_154
{
left:0px;letter-spacing:-0.5px;margin-left:0.5px;
}
#P217_155
{
left:26710.3px;bottom:8253.68px;letter-spacing:28.2px;color:rgb(35,31,31);
}
#P217_156
{
left:0px;letter-spacing:-0.5px;margin-left:-28.2px;
}
#P217_157
{
left:12070.6px;bottom:7357.8px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P217_158
{
left:0px;letter-spacing:-0.4px;margin-left:-13.4px;
}
#P217_159
{
left:4691.74px;bottom:21055.6px;color:rgb(35,31,31);
}
#P217_160
{
left:0px;letter-spacing:0px;margin-left:-36.9px;
}
#P217_161
{
left:0px;letter-spacing:0px;margin-left:-50.4px;
}
#P217_162
{
left:4691.74px;bottom:20287.6px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P217_163
{
left:4691.74px;bottom:19420.8px;color:rgb(35,31,31);
}
#P217_164
{
left:4691.74px;bottom:18684.8px;color:rgb(35,31,31);
}
#P217_165
{
left:4691.74px;bottom:17948.8px;color:rgb(35,31,31);
}
#P217_166
{
left:4691.74px;bottom:17212.9px;color:rgb(35,31,31);
}
#P217_167
{
left:4691.74px;bottom:16476.9px;color:rgb(35,31,31);
}
#P217_168
{
left:4691.74px;bottom:15740.9px;color:rgb(35,31,31);
}
#P217_169
{
left:4691.74px;bottom:15004.9px;color:rgb(35,31,31);
}
#P217_170
{
left:4691.74px;bottom:14269px;color:rgb(35,31,31);
}
#P217_171
{
left:4441.11px;bottom:22839.5px;letter-spacing:-20.4px;color:white;
}
#P217_172
{
left:4441.11px;bottom:21879.4px;letter-spacing:-27.2px;color:white;
}
#P217_173
{
left:6420.19px;bottom:22136.2px;color:white;
}
#P217_174
{
left:6695.45px;bottom:21879.4px;letter-spacing:-27.2px;color:white;
}
#PageContainer217
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg217.jpg");background-repeat:no-repeat;background-size: 1021px 1279px; background-position: 0px -0.190000000000055px;
}
#ImageContainer217 {bottom:85.19px;left:0.00px;width:1020.57px;height:1278.97px;position:absolute;} #TextContainer217 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.practice{position:absolute;top: 1228px;left: 255px;}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}