.tr607{ color:transparent;}
#P607_1
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P607_2
{
left:14607px;bottom:1410.03px;color:rgb(35,31,31);
}
#P607_3
{
left:19515.1px;bottom:1410.03px;letter-spacing:462.3px;word-spacing:-0.3px;color:rgb(35,31,31);
}
#P607_4
{
left:0px;letter-spacing:0px;margin-left:-455.6px;
}
#P607_5
{
left:0px;letter-spacing:0.1px;margin-left:6.3px;
}
#P607_6
{
left:0px;letter-spacing:0.7px;margin-left:7.6px;
}
#P607_7
{
left:0px;letter-spacing:0.3px;margin-left:3.3px;
}
#P607_8
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P607_9
{
left:6973.4px;bottom:46736.5px;color:rgb(2,77,161);
}
#P607_10
{
left:11055.8px;bottom:46716.8px;letter-spacing:204.2px;color:rgb(35,31,31);
}
#P607_11
{
left:0px;letter-spacing:0px;margin-left:-204.2px;
}
#P607_12
{
left:0px;letter-spacing:-14.8px;margin-left:-42.1px;
}
#P607_13
{
left:0px;letter-spacing:-0.2px;margin-left:14.8px;
}
#P607_14
{
left:0px;letter-spacing:0px;margin-left:-27.8px;
}
#P607_15
{
left:6973.4px;bottom:45820.8px;letter-spacing:-10.5px;color:rgb(35,31,31);
}
#P607_16
{
left:0px;letter-spacing:5.5px;margin-left:-24.5px;
}
#P607_17
{
left:0px;letter-spacing:0px;margin-left:-5.5px;
}
#P607_18
{
left:7150.55px;bottom:44304.6px;color:rgb(35,31,31);
}
#P607_19
{
left:8573.4px;bottom:44255.3px;color:rgb(35,31,31);
}
#P607_20
{
left:9159.83px;bottom:44284.8px;color:rgb(35,31,31);
}
#P607_21
{
left:14446.5px;bottom:44304.6px;color:rgb(35,31,31);
}
#P607_22
{
left:15869.3px;bottom:44255.3px;color:rgb(35,31,31);
}
#P607_23
{
left:16455.8px;bottom:44284.8px;color:rgb(35,31,31);
}
#P607_24
{
left:21870.6px;bottom:44304.6px;color:rgb(35,31,31);
}
#P607_25
{
left:23293.5px;bottom:44255.3px;color:rgb(35,31,31);
}
#P607_26
{
left:23725px;bottom:44284.8px;color:rgb(35,31,31);
}
#P607_27
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P607_28
{
left:23904.5px;bottom:44724.5px;color:rgb(35,31,31);
}
#P607_29
{
left:24240.3px;bottom:44302.4px;color:rgb(35,31,31);
}
#P607_30
{
left:23883.4px;bottom:44268.8px;color:rgb(35,31,31);
}
#P607_31
{
left:24261.4px;bottom:44286px;color:rgb(35,31,31);
}
#P607_32
{
left:23904.5px;bottom:43816.9px;color:rgb(35,31,31);
}
#P607_33
{
left:24240.3px;bottom:44302.4px;color:rgb(35,31,31);
}
#P607_34
{
left:24261.4px;bottom:44284.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P607_35
{
left:29230.6px;bottom:44304.5px;color:rgb(35,31,31);
}
#P607_36
{
left:30653.5px;bottom:44255.2px;color:rgb(35,31,31);
}
#P607_37
{
left:31085.1px;bottom:44284.8px;color:rgb(35,31,31);
}
#P607_38
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P607_39
{
left:31637.6px;bottom:44724.5px;color:rgb(35,31,31);
}
#P607_40
{
left:31973.4px;bottom:44302.4px;color:rgb(35,31,31);
}
#P607_41
{
left:31616.5px;bottom:44268.8px;color:rgb(35,31,31);
}
#P607_42
{
left:31994.5px;bottom:44286px;color:rgb(35,31,31);
}
#P607_43
{
left:31637.6px;bottom:43816.9px;color:rgb(35,31,31);
}
#P607_44
{
left:31973.4px;bottom:44302.4px;color:rgb(35,31,31);
}
#P607_45
{
left:31994.5px;bottom:44284.8px;color:rgb(35,31,31);
}
#P607_46
{
left:7150.55px;bottom:42256.5px;color:rgb(35,31,31);
}
#P607_47
{
left:8637.4px;bottom:42256.5px;color:rgb(2,77,161);
}
#P607_48
{
left:12663.6px;bottom:42236.8px;letter-spacing:151.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P607_49
{
left:0px;letter-spacing:-0.2px;margin-left:-151.5px;
}
#P607_50
{
left:26341.6px;bottom:42207.2px;color:rgb(35,31,31);
}
#P607_51
{
left:26773.1px;bottom:42236.8px;color:rgb(35,31,31);
}
#P607_52
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P607_53
{
left:26952.7px;bottom:42676.5px;color:rgb(35,31,31);
}
#P607_54
{
left:27288.5px;bottom:42254.4px;color:rgb(35,31,31);
}
#P607_55
{
left:26931.5px;bottom:42220.8px;color:rgb(35,31,31);
}
#P607_56
{
left:27309.6px;bottom:42238px;color:rgb(35,31,31);
}
#P607_57
{
left:26952.7px;bottom:41768.9px;color:rgb(35,31,31);
}
#P607_58
{
left:27288.5px;bottom:42254.4px;color:rgb(35,31,31);
}
#P607_59
{
left:27309.6px;bottom:42236.8px;color:rgb(35,31,31);
}
#P607_60
{
left:27309.6px;bottom:42236.8px;color:rgb(35,31,31);
}
#P607_61
{
left:27620.1px;bottom:42236.8px;color:rgb(35,31,31);
}
#P607_62
{
left:27778.5px;bottom:42207.2px;color:rgb(35,31,31);
}
#P607_63
{
left:28364.9px;bottom:42236.8px;color:rgb(35,31,31);
}
#P607_64
{
left:7150.55px;bottom:34576.5px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P607_65
{
left:8637.4px;bottom:34576.5px;letter-spacing:-3.1px;color:rgb(2,77,161);
}
#P607_66
{
left:10671.4px;bottom:34556.8px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P607_67
{
left:0px;letter-spacing:-0.4px;margin-left:-193.6px;
}
#P607_68
{
left:18201.2px;bottom:34527.2px;color:rgb(35,31,31);
}
#P607_69
{
left:18787.7px;bottom:34556.8px;letter-spacing:-0.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P607_70
{
left:0px;letter-spacing:-0.1px;margin-left:-66.8px;
}
#P607_71
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P607_72
{
left:0px;letter-spacing:0px;margin-left:-31.6px;
}
#P607_73
{
left:0px;letter-spacing:-0.1px;margin-left:5.5px;
}
#P607_74
{
left:8637.4px;bottom:33660.8px;letter-spacing:-214.7px;color:rgb(35,31,31);
}
#P607_75
{
left:0px;letter-spacing:0px;margin-left:271px;
}
#P607_76
{
left:0px;letter-spacing:-0.2px;
}
#P607_77
{
left:23700.5px;bottom:33631.2px;color:rgb(35,31,31);
}
#P607_78
{
left:24286.9px;bottom:33660.8px;color:rgb(35,31,31);
}
#P607_79
{
left:7150.55px;bottom:31952.6px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P607_80
{
left:8637.4px;bottom:31952.5px;color:rgb(2,77,161);
}
#P607_81
{
left:11623px;bottom:31932.8px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P607_82
{
left:0px;letter-spacing:0px;margin-left:-206.1px;
}
#P607_83
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P607_84
{
left:18503.9px;bottom:32372.5px;color:rgb(35,31,31);
}
#P607_85
{
left:18839.7px;bottom:31950.4px;color:rgb(35,31,31);
}
#P607_86
{
left:18482.8px;bottom:31916.8px;color:rgb(35,31,31);
}
#P607_87
{
left:18860.8px;bottom:31934px;color:rgb(35,31,31);
}
#P607_88
{
left:18503.9px;bottom:31464.9px;color:rgb(35,31,31);
}
#P607_89
{
left:18839.7px;bottom:31950.4px;color:rgb(35,31,31);
}
#P607_90
{
left:19019.2px;bottom:31932.8px;letter-spacing:-0.7px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P607_91
{
left:0px;letter-spacing:-0.1px;margin-left:-24.6px;
}
#P607_92
{
left:0px;letter-spacing:-5.6px;
}
#P607_93
{
left:0px;letter-spacing:-1.1px;margin-left:163px;
}
#P607_94
{
left:6973.4px;bottom:30588.8px;color:rgb(35,31,31);
}
#P607_95
{
left:7933.34px;bottom:30608.5px;color:rgb(35,31,31);
}
#P607_96
{
left:8637.34px;bottom:30588.8px;letter-spacing:-13.1px;color:rgb(35,31,31);
}
#P607_97
{
left:0px;letter-spacing:0px;margin-left:13.1px;
}
#P607_98
{
left:10355.7px;bottom:30608.5px;color:rgb(35,31,31);
}
#P607_99
{
left:10551.4px;bottom:30588.8px;letter-spacing:-0.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P607_100
{
left:18719.8px;bottom:30588.8px;letter-spacing:28.2px;color:rgb(35,31,31);
}
#P607_101
{
left:0px;letter-spacing:-0.6px;margin-left:-28.2px;
}
#P607_102
{
left:6973.21px;bottom:29244.8px;color:rgb(35,31,31);
}
#P607_103
{
left:7150.36px;bottom:29264.5px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P607_104
{
left:8637.4px;bottom:29264.5px;color:rgb(2,77,161);
}
#P607_105
{
left:13892px;bottom:29244.8px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P607_106
{
left:0px;letter-spacing:0.9px;margin-left:-197.8px;
}
#P607_107
{
left:0px;letter-spacing:0px;margin-left:-0.9px;
}
#P607_108
{
left:8637.4px;bottom:28348.8px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P607_109
{
left:0px;letter-spacing:-2.1px;margin-left:-0.1px;
}
#P607_110
{
left:0px;letter-spacing:0px;margin-left:-18.9px;
}
#P607_111
{
left:0px;letter-spacing:-0.4px;
}
#P607_112
{
left:6973.4px;bottom:27132.8px;color:rgb(35,31,31);
}
#P607_113
{
left:7933.4px;bottom:27152.5px;color:rgb(35,31,31);
}
#P607_114
{
left:8637.4px;bottom:27132.8px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P607_115
{
left:0px;letter-spacing:0px;margin-left:-66.9px;
}
#P607_116
{
left:11958.1px;bottom:27152.5px;color:rgb(35,31,31);
}
#P607_117
{
left:12153.8px;bottom:27132.8px;word-spacing:0.2px;color:rgb(35,31,31);
}
#P607_118
{
left:0px;letter-spacing:-0.2px;margin-left:-8.4px;
}
#P607_119
{
left:18352.5px;bottom:27574.6px;color:rgb(35,31,31);
}
#P607_120
{
left:19024.2px;bottom:27150.4px;color:rgb(35,31,31);
}
#P607_121
{
left:18331.4px;bottom:27118.9px;color:rgb(35,31,31);
}
#P607_122
{
left:19045.3px;bottom:27134px;color:rgb(35,31,31);
}
#P607_123
{
left:18352.5px;bottom:26667.1px;color:rgb(35,31,31);
}
#P607_124
{
left:19024.2px;bottom:27150.4px;color:rgb(35,31,31);
}
#P607_125
{
left:19045.3px;bottom:27132.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P607_126
{
left:19133.3px;bottom:27132.8px;color:rgb(35,31,31);
}
#P607_127
{
left:19496.5px;bottom:27132.8px;color:rgb(35,31,31);
}
#P607_128
{
left:19654.9px;bottom:27103.2px;color:rgb(35,31,31);
}
#P607_129
{
left:20241.4px;bottom:27132.8px;color:rgb(35,31,31);
}
#P607_130
{
left:20399.8px;bottom:27103.2px;color:rgb(35,31,31);
}
#P607_131
{
left:20986.2px;bottom:27132.8px;color:rgb(35,31,31);
}
#P607_132
{
left:23127.1px;bottom:27132.8px;word-spacing:56.3px;color:rgb(35,31,31);
}
#P607_133
{
left:0px;letter-spacing:0px;margin-left:-56.3px;
}
#P607_134
{
left:8637.4px;bottom:26236.8px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P607_135
{
left:11288.7px;bottom:26236.8px;color:rgb(35,31,31);
}
#P607_136
{
left:11652px;bottom:26236.8px;color:rgb(35,31,31);
}
#P607_137
{
left:7150.55px;bottom:24656.6px;color:rgb(35,31,31);
}
#P607_138
{
left:8637.4px;bottom:24656.5px;letter-spacing:-183px;color:rgb(2,77,161);
}
#P607_139
{
left:0px;letter-spacing:0px;margin-left:183px;
}
#P607_140
{
left:11871.5px;bottom:24636.8px;letter-spacing:168.3px;color:rgb(35,31,31);
}
#P607_141
{
left:0px;letter-spacing:-0.5px;margin-left:-168.3px;
}
#P607_142
{
left:0px;letter-spacing:-1.6px;margin-left:0.5px;
}
#P607_143
{
left:0px;letter-spacing:0px;margin-left:-156.8px;
}
#P607_144
{
left:22053.4px;bottom:25076.5px;color:rgb(35,31,31);
}
#P607_145
{
left:22389.2px;bottom:24654.4px;color:rgb(35,31,31);
}
#P607_146
{
left:22032.3px;bottom:24620.8px;color:rgb(35,31,31);
}
#P607_147
{
left:22410.3px;bottom:24638px;color:rgb(35,31,31);
}
#P607_148
{
left:22053.4px;bottom:24168.9px;color:rgb(35,31,31);
}
#P607_149
{
left:22389.2px;bottom:24654.4px;color:rgb(35,31,31);
}
#P607_150
{
left:22410.3px;bottom:24636.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P607_151
{
left:0px;letter-spacing:0.5px;margin-left:158.4px;
}
#P607_152
{
left:7933.4px;bottom:23440.5px;letter-spacing:508.3px;color:rgb(35,31,31);
}
#P607_153
{
left:8637.4px;bottom:23420.8px;letter-spacing:-7.7px;color:rgb(35,31,31);
}
#P607_154
{
left:10271.6px;bottom:23440.5px;color:rgb(35,31,31);
}
#P607_155
{
left:10467.3px;bottom:23420.8px;letter-spacing:-15.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P607_156
{
left:0px;letter-spacing:-0.9px;margin-left:15.4px;
}
#P607_157
{
left:0px;letter-spacing:-0.9px;margin-left:0.9px;
}
#P607_158
{
left:0px;letter-spacing:-13.1px;margin-left:-41.3px;
}
#P607_159
{
left:0px;letter-spacing:-0.1px;margin-left:13px;
}
#P607_160
{
left:8637.4px;bottom:22524.8px;color:rgb(35,31,31);
}
#P607_161
{
left:12865.6px;bottom:22524.8px;letter-spacing:28.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P607_162
{
left:0px;letter-spacing:-3.6px;margin-left:126.8px;
}
#P607_163
{
left:0px;letter-spacing:-1.7px;margin-left:3.5px;
}
#P607_164
{
left:0px;letter-spacing:-0.1px;margin-left:160.1px;
}
#P607_165
{
left:8637.4px;bottom:21628.8px;letter-spacing:-2.8px;color:rgb(35,31,31);
}
#P607_166
{
left:0px;letter-spacing:0px;margin-left:-11.1px;
}
#P607_167
{
left:7150.55px;bottom:20368.5px;color:rgb(35,31,31);
}
#P607_168
{
left:8637.4px;bottom:20368.5px;word-spacing:-26px;color:rgb(2,77,161);
}
#P607_169
{
left:14985.5px;bottom:20348.8px;letter-spacing:-2px;word-spacing:194.3px;color:rgb(35,31,31);
}
#P607_170
{
left:16833.4px;bottom:20319.2px;color:rgb(35,31,31);
}
#P607_171
{
left:17419.9px;bottom:20348.8px;color:rgb(35,31,31);
}
#P607_172
{
left:17793px;bottom:20294px;color:rgb(35,31,31);
}
#P607_173
{
left:17934px;bottom:20294.7px;color:rgb(35,31,31);
}
#P607_174
{
left:17990.4px;bottom:20348.8px;color:rgb(35,31,31);
}
#P607_175
{
left:18688.7px;bottom:20294px;color:rgb(35,31,31);
}
#P607_176
{
left:18829.8px;bottom:20348.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P607_177
{
left:18988.2px;bottom:20319.2px;color:rgb(35,31,31);
}
#P607_178
{
left:19574.6px;bottom:20348.8px;color:rgb(35,31,31);
}
#P607_179
{
left:19733px;bottom:20319.2px;color:rgb(35,31,31);
}
#P607_180
{
left:20319.4px;bottom:20348.8px;color:rgb(35,31,31);
}
#P607_181
{
left:6973.34px;bottom:18236.8px;color:rgb(35,31,31);
}
#P607_182
{
left:7150.49px;bottom:18256.5px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P607_183
{
left:13181.4px;bottom:18236.8px;letter-spacing:193.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P607_184
{
left:0px;letter-spacing:-0.7px;margin-left:-206px;
}
#P607_185
{
left:0px;letter-spacing:-0.1px;margin-left:159.1px;
}
#P607_186
{
left:23169.2px;bottom:18676.5px;color:rgb(35,31,31);
}
#P607_187
{
left:23505px;bottom:18254.4px;color:rgb(35,31,31);
}
#P607_188
{
left:23148.1px;bottom:18220.8px;color:rgb(35,31,31);
}
#P607_189
{
left:23526.1px;bottom:18238px;color:rgb(35,31,31);
}
#P607_190
{
left:23169.2px;bottom:17768.9px;color:rgb(35,31,31);
}
#P607_191
{
left:23505px;bottom:18254.4px;color:rgb(35,31,31);
}
#P607_192
{
left:23526.1px;bottom:18236.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P607_193
{
left:0px;letter-spacing:0.7px;margin-left:158.4px;
}
#P607_194
{
left:0px;letter-spacing:0px;margin-left:-28.7px;
}
#P607_195
{
left:7933.4px;bottom:16912.5px;letter-spacing:508.3px;color:rgb(35,31,31);
}
#P607_196
{
left:8637.4px;bottom:16892.8px;letter-spacing:-31.6px;color:rgb(35,31,31);
}
#P607_197
{
left:0px;letter-spacing:0px;margin-left:31.6px;
}
#P607_198
{
left:10094.7px;bottom:16912.5px;color:rgb(35,31,31);
}
#P607_199
{
left:10290.5px;bottom:16892.8px;letter-spacing:-0.7px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P607_200
{
left:0px;letter-spacing:-1.6px;margin-left:0.6px;
}
#P607_201
{
left:0px;letter-spacing:-12.7px;margin-left:147.3px;
}
#P607_202
{
left:0px;letter-spacing:0.4px;margin-left:12.6px;
}
#P607_203
{
left:8637.4px;bottom:15996.8px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P607_204
{
left:0px;letter-spacing:-5.2px;margin-left:-11.5px;
}
#P607_205
{
left:0px;letter-spacing:-0.8px;margin-left:5.2px;
}
#P607_206
{
left:0px;letter-spacing:-0.9px;margin-left:0.8px;
}
#P607_207
{
left:0px;letter-spacing:0px;margin-left:0.9px;
}
#P607_208
{
left:6973.53px;bottom:10805.2px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P607_209
{
left:0px;letter-spacing:0px;margin-left:-27.2px;
}
#P607_210
{
left:10665.2px;bottom:10805px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P607_211
{
left:6973.4px;bottom:9653.04px;color:rgb(35,31,31);
}
#P607_212
{
left:7150.55px;bottom:9672.75px;color:rgb(35,31,31);
}
#P607_213
{
left:8573.4px;bottom:9653.04px;color:rgb(35,31,31);
}
#P607_214
{
left:9104.92px;bottom:9623.47px;color:rgb(35,31,31);
}
#P607_215
{
left:9691.35px;bottom:9653.04px;color:rgb(35,31,31);
}
#P607_216
{
left:14446.5px;bottom:9672.75px;color:rgb(35,31,31);
}
#P607_217
{
left:15869.3px;bottom:9623.47px;color:rgb(35,31,31);
}
#P607_218
{
left:16455.8px;bottom:9653.04px;color:rgb(35,31,31);
}
#P607_219
{
left:16987.3px;bottom:9623.47px;color:rgb(35,31,31);
}
#P607_220
{
left:17573.7px;bottom:9653.04px;color:rgb(35,31,31);
}
#P607_221
{
left:21870.6px;bottom:9672.75px;color:rgb(35,31,31);
}
#P607_222
{
left:23293.5px;bottom:9653.04px;color:rgb(35,31,31);
}
#P607_223
{
left:23825px;bottom:9623.47px;color:rgb(35,31,31);
}
#P607_224
{
left:24411.4px;bottom:9653.04px;color:rgb(35,31,31);
}
#P607_225
{
left:24816.2px;bottom:9623.47px;color:rgb(35,31,31);
}
#P607_226
{
left:25402.6px;bottom:9653.04px;color:rgb(35,31,31);
}
#P607_227
{
left:29230.6px;bottom:9672.75px;color:rgb(35,31,31);
}
#P607_228
{
left:30653.4px;bottom:9623.47px;color:rgb(35,31,31);
}
#P607_229
{
left:31239.8px;bottom:9653.04px;color:rgb(35,31,31);
}
#P607_230
{
left:32144.5px;bottom:9623.47px;color:rgb(35,31,31);
}
#P607_231
{
left:32730.9px;bottom:9653.04px;color:rgb(35,31,31);
}
#P607_232
{
left:33135.6px;bottom:9623.47px;color:rgb(35,31,31);
}
#P607_233
{
left:33722.1px;bottom:9653.04px;color:rgb(35,31,31);
}
#P607_234
{
left:6973.4px;bottom:7989.04px;color:rgb(35,31,31);
}
#P607_235
{
left:7150.43px;bottom:8008.75px;color:rgb(35,31,31);
}
#P607_236
{
left:8637.4px;bottom:8008.75px;color:rgb(2,77,161);
}
#P607_237
{
left:0px;letter-spacing:0px;margin-left:-183px;
}
#P607_238
{
left:0px;letter-spacing:0px;margin-left:-52.8px;
}
#P607_239
{
left:14465px;bottom:7989.04px;letter-spacing:193.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P607_240
{
left:0px;letter-spacing:0px;margin-left:-193.6px;
}
#P607_241
{
left:8637.4px;bottom:7093.04px;letter-spacing:-0.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P607_242
{
left:0px;letter-spacing:-0.1px;margin-left:-41.6px;
}
#P607_243
{
left:0px;letter-spacing:-0.1px;
}
#P607_244
{
left:8637.4px;bottom:6197.1px;letter-spacing:-0.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P607_245
{
left:22763.2px;bottom:6197.04px;letter-spacing:-2.1px;color:rgb(0,124,196);
}
#P607_246
{
left:0px;letter-spacing:-1.5px;margin-left:-6.3px;
}
#P607_247
{
left:0px;letter-spacing:0px;margin-left:1.5px;
}
#P607_248
{
left:30764.2px;bottom:6197.04px;color:rgb(35,31,31);
}
#P607_249
{
left:6973.4px;bottom:4533.04px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P607_250
{
left:8550.49px;bottom:4576.42px;color:rgb(35,31,31);
}
#P607_251
{
left:8887.32px;bottom:4697.55px;color:rgb(35,31,31);
}
#P607_252
{
left:9533.4px;bottom:4533.04px;color:rgb(35,31,31);
}
#P607_253
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P607_254
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P607_255
{
left:10322.5px;bottom:4972.72px;color:rgb(35,31,31);
}
#P607_256
{
left:10658.3px;bottom:4550.64px;color:rgb(35,31,31);
}
#P607_257
{
left:10301.4px;bottom:4517.02px;color:rgb(35,31,31);
}
#P607_258
{
left:10679.4px;bottom:4534.3px;color:rgb(35,31,31);
}
#P607_259
{
left:10322.5px;bottom:4065.2px;color:rgb(35,31,31);
}
#P607_260
{
left:10658.3px;bottom:4550.64px;color:rgb(35,31,31);
}
#P607_261
{
left:10679.4px;bottom:4533.04px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P607_262
{
left:15846.5px;bottom:4576.42px;color:rgb(35,31,31);
}
#P607_263
{
left:16183.3px;bottom:4697.55px;color:rgb(35,31,31);
}
#P607_264
{
left:16829.4px;bottom:4533.04px;color:rgb(35,31,31);
}
#P607_265
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P607_266
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P607_267
{
left:17618.5px;bottom:4972.72px;color:rgb(35,31,31);
}
#P607_268
{
left:17954.3px;bottom:4550.64px;color:rgb(35,31,31);
}
#P607_269
{
left:17597.4px;bottom:4517.02px;color:rgb(35,31,31);
}
#P607_270
{
left:17975.4px;bottom:4534.3px;color:rgb(35,31,31);
}
#P607_271
{
left:17618.5px;bottom:4065.2px;color:rgb(35,31,31);
}
#P607_272
{
left:17954.3px;bottom:4550.64px;color:rgb(35,31,31);
}
#P607_273
{
left:17975.4px;bottom:4533.04px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P607_274
{
left:23334.5px;bottom:4576.42px;color:rgb(35,31,31);
}
#P607_275
{
left:23671.3px;bottom:4697.55px;color:rgb(35,31,31);
}
#P607_276
{
left:24317.4px;bottom:4533.04px;color:rgb(35,31,31);
}
#P607_277
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P607_278
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P607_279
{
left:25106.5px;bottom:4972.72px;color:rgb(35,31,31);
}
#P607_280
{
left:25442.3px;bottom:4550.64px;color:rgb(35,31,31);
}
#P607_281
{
left:25085.4px;bottom:4517.02px;color:rgb(35,31,31);
}
#P607_282
{
left:25463.4px;bottom:4534.3px;color:rgb(35,31,31);
}
#P607_283
{
left:25106.5px;bottom:4065.2px;color:rgb(35,31,31);
}
#P607_284
{
left:25442.3px;bottom:4550.64px;color:rgb(35,31,31);
}
#P607_285
{
left:25463.4px;bottom:4533.04px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P607_286
{
left:30694.5px;bottom:4576.42px;color:rgb(35,31,31);
}
#P607_287
{
left:31031.3px;bottom:4697.55px;color:rgb(35,31,31);
}
#P607_288
{
left:31677.4px;bottom:4533.04px;color:rgb(35,31,31);
}
#P607_289
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P607_290
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P607_291
{
left:32466.5px;bottom:4972.72px;color:rgb(35,31,31);
}
#P607_292
{
left:32802.3px;bottom:4550.64px;color:rgb(35,31,31);
}
#P607_293
{
left:32445.4px;bottom:4517.02px;color:rgb(35,31,31);
}
#P607_294
{
left:32823.4px;bottom:4534.3px;color:rgb(35,31,31);
}
#P607_295
{
left:32466.5px;bottom:4065.2px;color:rgb(35,31,31);
}
#P607_296
{
left:32802.3px;bottom:4550.64px;color:rgb(35,31,31);
}
#P607_297
{
left:32823.4px;bottom:4533.04px;color:rgb(35,31,31);
}
#P607_298
{
left:11901.3px;bottom:39811.5px;letter-spacing:-8.4px;color:rgb(35,31,31);
}
#P607_299
{
left:0px;letter-spacing:-1.1px;margin-left:8.4px;
}
#P607_300
{
left:0px;letter-spacing:0px;margin-left:1.1px;
}
#P607_301
{
left:18785.8px;bottom:39781.9px;color:rgb(35,31,31);
}
#P607_302
{
left:19217.3px;bottom:39811.5px;color:rgb(35,31,31);
}
#P607_303
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P607_304
{
left:19396.8px;bottom:40251.2px;color:rgb(35,31,31);
}
#P607_305
{
left:19732.6px;bottom:39829.1px;color:rgb(35,31,31);
}
#P607_306
{
left:19375.7px;bottom:39795.5px;color:rgb(35,31,31);
}
#P607_307
{
left:19753.8px;bottom:39812.8px;color:rgb(35,31,31);
}
#P607_308
{
left:19396.8px;bottom:39343.7px;color:rgb(35,31,31);
}
#P607_309
{
left:19732.6px;bottom:39829.1px;color:rgb(35,31,31);
}
#P607_310
{
left:19753.8px;bottom:39811.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P607_311
{
left:11946.1px;bottom:36944.3px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P607_312
{
left:0px;letter-spacing:0px;margin-left:1.2px;
}
#P607_313
{
left:18232.2px;bottom:36914.7px;color:rgb(35,31,31);
}
#P607_314
{
left:18663.8px;bottom:36944.3px;color:rgb(35,31,31);
}
#P607_315
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P607_316
{
left:18843.3px;bottom:37384px;color:rgb(35,31,31);
}
#P607_317
{
left:19179.1px;bottom:36961.9px;color:rgb(35,31,31);
}
#P607_318
{
left:18822.2px;bottom:36928.3px;color:rgb(35,31,31);
}
#P607_319
{
left:19200.2px;bottom:36945.6px;color:rgb(35,31,31);
}
#P607_320
{
left:18843.3px;bottom:36476.5px;color:rgb(35,31,31);
}
#P607_321
{
left:19179.1px;bottom:36961.9px;color:rgb(35,31,31);
}
#P607_322
{
left:19200.2px;bottom:36944.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P607_323
{
left:21597.4px;bottom:39843.5px;letter-spacing:-8.4px;color:rgb(35,31,31);
}
#P607_324
{
left:0px;letter-spacing:-1.1px;margin-left:8.4px;
}
#P607_325
{
left:0px;letter-spacing:0px;margin-left:1.1px;
}
#P607_326
{
left:28481.8px;bottom:39813.9px;color:rgb(35,31,31);
}
#P607_327
{
left:28913.4px;bottom:39843.5px;color:rgb(35,31,31);
}
#P607_328
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P607_329
{
left:29092.8px;bottom:40283.2px;color:rgb(35,31,31);
}
#P607_330
{
left:29428.6px;bottom:39861.1px;color:rgb(35,31,31);
}
#P607_331
{
left:29071.7px;bottom:39827.5px;color:rgb(35,31,31);
}
#P607_332
{
left:29449.8px;bottom:39844.8px;color:rgb(35,31,31);
}
#P607_333
{
left:29092.8px;bottom:39375.7px;color:rgb(35,31,31);
}
#P607_334
{
left:29428.6px;bottom:39861.1px;color:rgb(35,31,31);
}
#P607_335
{
left:29449.8px;bottom:39843.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P607_336
{
left:21597.4px;bottom:37483.2px;letter-spacing:-8.4px;color:rgb(35,31,31);
}
#P607_337
{
left:0px;letter-spacing:-1.1px;margin-left:8.4px;
}
#P607_338
{
left:0px;letter-spacing:0px;margin-left:1.1px;
}
#P607_339
{
left:21597.4px;bottom:36587.2px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P607_340
{
left:0px;letter-spacing:0px;margin-left:1px;
}
#P607_341
{
left:27760.2px;bottom:36557.7px;color:rgb(35,31,31);
}
#P607_342
{
left:28346.6px;bottom:36587.2px;color:rgb(35,31,31);
}
#P607_343
{
left:34942.4px;bottom:24977.3px;color:rgb(35,31,31);
}
#P607_344
{
left:35422.2px;bottom:25105.2px;color:rgb(35,31,31);
}
#P607_345
{
left:31084.9px;bottom:26024.5px;color:rgb(35,31,31);
}
#PageContainer607
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg607.jpg");background-repeat:no-repeat;background-size: 851px 1032px; background-position: 153.07px 240.73px;
}
#ImageContainer607 {bottom:91.27px;left:153.07px;width:850.96px;height:1031.62px;position:absolute;} #TextContainer607 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}


#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}