.tr544{ color:transparent;}
#P544_1
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P544_2
{
left:3540.44px;bottom:1410.03px;color:rgb(35,31,31);
}
#P544_3
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P544_4
{
left:8197.72px;bottom:1410.03px;letter-spacing:462.1px;color:rgb(35,31,31);
}
#P544_5
{
left:0px;letter-spacing:1.5px;margin-left:-461.8px;
}
#P544_6
{
left:0px;letter-spacing:0px;margin-left:11.7px;
}
#P544_7
{
left:6977.56px;bottom:46189.1px;color:white;
}
#P544_8
{
left:9019.1px;bottom:46487.5px;color:white;
}
#P544_9
{
left:9392.73px;bottom:46189.1px;letter-spacing:-1.2px;color:white;
}
#P544_10
{
left:18900.5px;bottom:41322.2px;color:rgb(35,31,31);
}
#P544_11
{
left:19309.4px;bottom:41322.2px;
}
#P544_12
{
left:7789.4px;bottom:40234.2px;
}
#P544_13
{
left:3459.8px;bottom:46161.9px;color:white;
}
#P544_14
{
left:18900.5px;bottom:41322.2px;letter-spacing:213.2px;color:rgb(35,31,31);
}
#P544_15
{
left:0px;letter-spacing:0px;margin-left:-213.2px;
}
#P544_16
{
left:7789.4px;bottom:40234.2px;color:rgb(35,31,31);
}
#P544_17
{
left:9187.48px;bottom:22236.7px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P544_18
{
left:0px;letter-spacing:-0.3px;margin-left:14.1px;
}
#P544_19
{
left:0px;letter-spacing:0px;margin-left:-224.8px;
}
#P544_20
{
left:0px;letter-spacing:0px;margin-left:77.1px;
}
#P544_21
{
left:0px;letter-spacing:-9.3px;margin-left:-10.4px;
}
#P544_22
{
left:0px;letter-spacing:-1.4px;margin-left:2.4px;
}
#P544_23
{
left:0px;letter-spacing:-0.8px;margin-left:1.4px;
}
#P544_24
{
left:0px;letter-spacing:3.5px;margin-left:0.8px;
}
#P544_25
{
left:9187.48px;bottom:20782.3px;letter-spacing:1027.4px;color:rgb(35,31,31);
}
#P544_26
{
left:10693.8px;bottom:20636.8px;letter-spacing:383.2px;color:rgb(35,31,31);
}
#P544_27
{
left:0px;letter-spacing:0px;margin-left:-541.6px;
}
#P544_28
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P544_29
{
left:0px;letter-spacing:-0.1px;
}
#P544_30
{
left:31314.1px;bottom:20636.8px;word-spacing:56.3px;color:rgb(35,31,31);
}
#P544_31
{
left:11235.5px;bottom:19740.8px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P544_32
{
left:0px;letter-spacing:0px;margin-left:1px;
}
#P544_33
{
left:9187.48px;bottom:18140.9px;letter-spacing:993.6px;color:rgb(35,31,31);
}
#P544_34
{
left:21362.9px;bottom:17498.3px;color:rgb(35,31,31);
}
#P544_35
{
left:0px;letter-spacing:0px;margin-left:1774.1px;
}
#P544_36
{
left:0px;letter-spacing:0px;margin-left:1773.6px;
}
#P544_37
{
left:0px;letter-spacing:0px;margin-left:1774.1px;
}
#P544_38
{
left:0px;letter-spacing:0px;margin-left:1773.6px;
}
#P544_39
{
left:11849.4px;bottom:17384.6px;color:rgb(35,31,31);
}
#P544_40
{
left:12275.9px;bottom:17498.3px;color:rgb(35,31,31);
}
#P544_41
{
left:13904.6px;bottom:17384.6px;color:rgb(35,31,31);
}
#P544_42
{
left:14331.1px;bottom:17498.3px;color:rgb(35,31,31);
}
#P544_43
{
left:18459.9px;bottom:17384.6px;color:rgb(35,31,31);
}
#P544_44
{
left:18886.4px;bottom:17498.3px;color:rgb(35,31,31);
}
#P544_45
{
left:16393.4px;bottom:17384.6px;color:rgb(35,31,31);
}
#P544_46
{
left:16819.9px;bottom:17498.3px;color:rgb(35,31,31);
}
#P544_47
{
left:9187.48px;bottom:15662.3px;letter-spacing:1027.4px;color:rgb(35,31,31);
}
#P544_48
{
left: 11343.8px;bottom:15516.8px;color:rgb(35,31,31);
}
#P544_49
{
left:0px;letter-spacing:0px;margin-left:383.2px;
}
#P544_50
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P544_51
{
left:0px;letter-spacing:0px;margin-left:-31.6px;
}
#P544_52
{
left:0px;letter-spacing:0px;margin-left:5.4px;
}
#P544_53
{
left:0px;letter-spacing:0px;margin-left:-42px;
}
#P544_54
{
left:0px;letter-spacing:0px;margin-left:-25.3px;
}
#P544_55
{
left:11235.5px;bottom:14620.8px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P544_56
{
left:9187.48px;bottom:13294.3px;letter-spacing:1027.4px;color:rgb(35,31,31);
}
#P544_57
{
left: 10693.8px;bottom:13148.8px;letter-spacing:383.2px;color:rgb(35,31,31);
}
#P544_58
{
left:0px;letter-spacing:0px;margin-left:-400px;
}
#P544_59
{
left:0px;letter-spacing:-0.5px;margin-left:-4.2px;
}
#P544_60
{
left:9187.48px;bottom:11822.3px;letter-spacing:1027.4px;color:rgb(35,31,31);
}
#P544_61
{
left:10693.8px;bottom:11676.8px;letter-spacing:383.2px;color:rgb(35,31,31);
}
#P544_62
{
left:0px;letter-spacing:0px;margin-left:-411.2px;
}
#P544_63
{
left:0px;letter-spacing:-0.9px;
}
#P544_64
{
left:0px;letter-spacing:-0.6px;margin-left:0.9px;
}
#P544_65
{
left:0px;letter-spacing:0px;margin-left:0.6px;
}
#P544_66
{
left:9187.48px;bottom:9564.78px;color:rgb(35,31,31);
}
#P544_67
{
left:9315.48px;bottom:9564.78px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P544_68
{
left:10531.5px;bottom:9535.21px;color:rgb(35,31,31);
}
#P544_69
{
left:11117.9px;bottom:9564.78px;color:rgb(35,31,31);
}
#P544_70
{
left:14046.6px;bottom:9535.21px;color:rgb(35,31,31);
}
#P544_71
{
left:14478.1px;bottom:9564.78px;color:rgb(35,31,31);
}
#P544_72
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P544_73
{
left:14657.6px;bottom:10004.5px;color:rgb(35,31,31);
}
#P544_74
{
left:14993.4px;bottom:9582.38px;color:rgb(35,31,31);
}
#P544_75
{
left:14636.5px;bottom:9548.77px;color:rgb(35,31,31);
}
#P544_76
{
left:15014.6px;bottom:9566.05px;color:rgb(35,31,31);
}
#P544_77
{
left:14657.6px;bottom:9096.94px;color:rgb(35,31,31);
}
#P544_78
{
left:14993.4px;bottom:9582.38px;color:rgb(35,31,31);
}
#P544_79
{
left:15014.6px;bottom:9564.78px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P544_80
{
left:0px;letter-spacing:0px;margin-left:158.4px;
}
#P544_81
{
left:16637.2px;bottom:9535.21px;color:rgb(35,31,31);
}
#P544_82
{
left:17068.8px;bottom:9564.78px;color:rgb(35,31,31);
}
#P544_83
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P544_84
{
left:17248.3px;bottom:10004.5px;color:rgb(35,31,31);
}
#P544_85
{
left:17584.1px;bottom:9582.38px;color:rgb(35,31,31);
}
#P544_86
{
left:17227.2px;bottom:9548.77px;color:rgb(35,31,31);
}
#P544_87
{
left:17605.2px;bottom:9566.05px;color:rgb(35,31,31);
}
#P544_88
{
left:17248.3px;bottom:9096.94px;color:rgb(35,31,31);
}
#P544_89
{
left:17584.1px;bottom:9582.38px;color:rgb(35,31,31);
}
#P544_90
{
left:17605.2px;bottom:9564.78px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P544_91
{
left:21719.3px;bottom:9564.78px;letter-spacing:-17.5px;color:rgb(35,31,31);
}
#P544_92
{
left:23011.5px;bottom:9535.21px;color:rgb(35,31,31);
}
#P544_93
{
left:23443px;bottom:9564.78px;color:rgb(35,31,31);
}
#P544_94
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P544_95
{
left:23622.6px;bottom:10004.5px;color:rgb(35,31,31);
}
#P544_96
{
left:23958.4px;bottom:9582.38px;color:rgb(35,31,31);
}
#P544_97
{
left:23601.4px;bottom:9548.77px;color:rgb(35,31,31);
}
#P544_98
{
left:23979.5px;bottom:9566.05px;color:rgb(35,31,31);
}
#P544_99
{
left:23622.6px;bottom:9096.94px;color:rgb(35,31,31);
}
#P544_100
{
left:23958.4px;bottom:9582.38px;color:rgb(35,31,31);
}
#P544_101
{
left:23979.5px;bottom:9564.78px;color:rgb(35,31,31);
}
#P544_102
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P544_103
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P544_104
{
left:25623.3px;bottom:10004.5px;color:rgb(35,31,31);
}
#P544_105
{
left:25959.1px;bottom:9582.38px;color:rgb(35,31,31);
}
#P544_106
{
left:25602.2px;bottom:9548.77px;color:rgb(35,31,31);
}
#P544_107
{
left:25980.2px;bottom:9566.05px;color:rgb(35,31,31);
}
#P544_108
{
left:25623.3px;bottom:9096.94px;color:rgb(35,31,31);
}
#P544_109
{
left:25959.1px;bottom:9582.38px;color:rgb(35,31,31);
}
#P544_110
{
left:25980.2px;bottom:9564.78px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P544_111
{
left:26325.2px;bottom:9535.21px;color:rgb(35,31,31);
}
#P544_112
{
left:26756.8px;bottom:9564.78px;color:rgb(35,31,31);
}
#P544_113
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P544_114
{
left:27104.2px;bottom:10004.5px;color:rgb(35,31,31);
}
#P544_115
{
left:27440px;bottom:9582.38px;color:rgb(35,31,31);
}
#P544_116
{
left:26915.1px;bottom:9548.77px;color:rgb(35,31,31);
}
#P544_117
{
left:27629px;bottom:9566.05px;color:rgb(35,31,31);
}
#P544_118
{
left:26936.2px;bottom:9096.94px;color:rgb(35,31,31);
}
#P544_119
{
left:27607.8px;bottom:9582.38px;color:rgb(35,31,31);
}
#P544_120
{
left:27629px;bottom:9564.78px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P544_121
{
left:27973.9px;bottom:9535.21px;color:rgb(35,31,31);
}
#P544_122
{
left:28560.3px;bottom:9564.78px;color:rgb(35,31,31);
}
#P544_123
{
left:9187.48px;bottom:7260.78px;color:rgb(35,31,31);
}
#P544_124
{
left:9315.48px;bottom:7260.78px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P544_125
{
left:10531.5px;bottom:7231.21px;color:rgb(35,31,31);
}
#P544_126
{
left:11117.9px;bottom:7260.78px;color:rgb(35,31,31);
}
#P544_127
{
left:12395.7px;bottom:7231.21px;color:rgb(35,31,31);
}
#P544_128
{
left:12827.2px;bottom:7260.78px;color:rgb(35,31,31);
}
#P544_129
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P544_130
{
left:13006.7px;bottom:7700.46px;color:rgb(35,31,31);
}
#P544_131
{
left:13342.6px;bottom:7278.38px;color:rgb(35,31,31);
}
#P544_132
{
left:12985.6px;bottom:7244.77px;color:rgb(35,31,31);
}
#P544_133
{
left:13363.7px;bottom:7262.05px;color:rgb(35,31,31);
}
#P544_134
{
left:13006.7px;bottom:6792.94px;color:rgb(35,31,31);
}
#P544_135
{
left:13342.6px;bottom:7278.38px;color:rgb(35,31,31);
}
#P544_136
{
left:13363.7px;bottom:7260.78px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P544_137
{
left:13729.8px;bottom:7700.46px;color:rgb(35,31,31);
}
#P544_138
{
left:14065.6px;bottom:7278.38px;color:rgb(35,31,31);
}
#P544_139
{
left:13708.6px;bottom:7244.77px;color:rgb(35,31,31);
}
#P544_140
{
left:14086.7px;bottom:7262.05px;color:rgb(35,31,31);
}
#P544_141
{
left:13729.8px;bottom:6792.94px;color:rgb(35,31,31);
}
#P544_142
{
left:14065.6px;bottom:7278.38px;color:rgb(35,31,31);
}
#P544_143
{
left:14086.7px;bottom:7260.78px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P544_144
{
left:14452.8px;bottom:7700.46px;color:rgb(35,31,31);
}
#P544_145
{
left:14788.6px;bottom:7278.38px;color:rgb(35,31,31);
}
#P544_146
{
left:14431.6px;bottom:7244.77px;color:rgb(35,31,31);
}
#P544_147
{
left:14809.7px;bottom:7262.05px;color:rgb(35,31,31);
}
#P544_148
{
left:14452.8px;bottom:6792.94px;color:rgb(35,31,31);
}
#P544_149
{
left:14788.6px;bottom:7278.38px;color:rgb(35,31,31);
}
#P544_150
{
left:14809.7px;bottom:7260.78px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P544_151
{
left:0px;letter-spacing:0px;margin-left:158.4px;
}
#P544_152
{
left:21712.5px;bottom:7260.78px;word-spacing:556.2px;color:rgb(35,31,31);
}
#P544_153
{
left:23032.6px;bottom:7700.46px;color:rgb(35,31,31);
}
#P544_154
{
left:23368.4px;bottom:7278.38px;color:rgb(35,31,31);
}
#P544_155
{
left:23011.5px;bottom:7244.77px;color:rgb(35,31,31);
}
#P544_156
{
left:23389.5px;bottom:7262.05px;color:rgb(35,31,31);
}
#P544_157
{
left:23032.6px;bottom:6792.94px;color:rgb(35,31,31);
}
#P544_158
{
left:23368.4px;bottom:7278.38px;color:rgb(35,31,31);
}
#P544_159
{
left:23389.5px;bottom:7260.78px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P544_160
{
left:0px;letter-spacing:0px;margin-left:158.4px;
}
#P544_161
{
left:25385.4px;bottom:7231.21px;color:rgb(35,31,31);
}
#P544_162
{
left:25816.9px;bottom:7260.78px;color:rgb(35,31,31);
}
#P544_163
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P544_164
{
left:25996.4px;bottom:7700.46px;color:rgb(35,31,31);
}
#P544_165
{
left:26332.2px;bottom:7278.38px;color:rgb(35,31,31);
}
#P544_166
{
left:25975.3px;bottom:7244.77px;color:rgb(35,31,31);
}
#P544_167
{
left:26353.4px;bottom:7262.05px;color:rgb(35,31,31);
}
#P544_168
{
left:25996.4px;bottom:6792.94px;color:rgb(35,31,31);
}
#P544_169
{
left:26332.2px;bottom:7278.38px;color:rgb(35,31,31);
}
#P544_170
{
left:26353.4px;bottom:7260.78px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P544_171
{
left:26698.3px;bottom:7231.21px;color:rgb(35,31,31);
}
#P544_172
{
left:27284.8px;bottom:7260.78px;color:rgb(35,31,31);
}
#P544_173
{
left:28562.5px;bottom:7231.21px;color:rgb(35,31,31);
}
#P544_174
{
left:28994px;bottom:7260.78px;color:rgb(35,31,31);
}
#P544_175
{
left:10065.7px;bottom:23797px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P544_176
{
left:13490.8px;bottom:23988.8px;color:rgb(255,223,126);
}
#P544_177
{
left:14113.8px;bottom:23797px;letter-spacing:-1.7px;word-spacing:207.4px;color:white;
}
#P544_178
{
left:16331px;bottom:23988.8px;color:white;
}
#P544_179
{
left:16571.2px;bottom:23797px;color:white;
}
#P544_180
{
left:19084.6px;bottom:23988.8px;color:white;
}
#P544_181
{
left:19324.8px;bottom:23797px;letter-spacing:-0.8px;color:white;
}
#P544_182
{
left:8325.27px;bottom:23673.5px;
}
#P544_183
{
left:8325.27px;bottom:23673.5px;color:white;
}
#P544_184
{
left:7741.4px;bottom:36257px;letter-spacing:-1.7px;color:rgb(35,31,31);
}
#P544_185
{
left:10912.3px;bottom:36257px;color:rgb(0,124,196);
}
#P544_186
{
left:13549.5px;bottom:36257px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P544_187
{
left:20624.8px;bottom:36257px;letter-spacing:-3.5px;color:rgb(35,31,31);
}
#P544_188
{
left:22130.1px;bottom:36257px;color:rgb(35,31,31);
}
#P544_189
{
left:7741.4px;bottom:35361px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P544_190
{
left:0px;letter-spacing:-0.3px;margin-left:1.3px;
}
#P544_191
{
left:7741.4px;bottom:34465.1px;color:rgb(35,31,31);
}
#P544_192
{
left:7741.4px;bottom:33120.9px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P544_193
{
left:0px;letter-spacing:0px;margin-left:-59.6px;
}
#P544_194
{
left:0px;letter-spacing:0px;
}
#P544_195
{
left:7741.4px;bottom:32225.1px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P544_196
{
left:7741.4px;bottom:31329.1px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P544_197
{
left:20509.4px;bottom:37800.6px;color:rgb(0,124,196);
}
#P544_198
{
left:7741.4px;bottom:29180.8px;color:rgb(35,31,31);
}
#P544_199
{
left:8346.84px;bottom:29180.8px;color:rgb(35,31,31);
}
#P544_200
{
left:13792.2px;bottom:29180.8px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P544_201
{
left:9277.39px;bottom:27516.8px;word-spacing:1377.6px;color:rgb(35,31,31);
}
#P544_202
{
left:9808.92px;bottom:27487.2px;color:rgb(35,31,31);
}
#P544_203
{
left:10395.4px;bottom:27516.8px;color:rgb(35,31,31);
}
#P544_204
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P544_205
{
left:10574.9px;bottom:27956.5px;color:rgb(35,31,31);
}
#P544_206
{
left:10910.7px;bottom:27534.4px;color:rgb(35,31,31);
}
#P544_207
{
left:10553.8px;bottom:27500.8px;color:rgb(35,31,31);
}
#P544_208
{
left:10931.8px;bottom:27518px;color:rgb(35,31,31);
}
#P544_209
{
left:10574.9px;bottom:27048.9px;color:rgb(35,31,31);
}
#P544_210
{
left:10910.7px;bottom:27534.4px;color:rgb(35,31,31);
}
#P544_211
{
left:10931.8px;bottom:27516.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P544_212
{
left:0px;letter-spacing:545.6px;margin-left:704px;
}
#P544_213
{
left:13043.8px;bottom:27487.2px;color:rgb(35,31,31);
}
#P544_214
{
left:13630.2px;bottom:27516.8px;color:rgb(35,31,31);
}
#P544_215
{
left:14161.8px;bottom:27487.2px;color:rgb(35,31,31);
}
#P544_216
{
left:14748.1px;bottom:27516.8px;color:rgb(35,31,31);
}
#P544_217
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P544_218
{
left:14927.6px;bottom:27929.8px;color:rgb(35,31,31);
}
#P544_219
{
left:15455.4px;bottom:27956.5px;color:rgb(35,31,31);
}
#P544_220
{
left:15791.3px;bottom:27534.4px;color:rgb(35,31,31);
}
#P544_221
{
left:14906.5px;bottom:27500.8px;color:rgb(35,31,31);
}
#P544_222
{
left:15812.4px;bottom:27518px;color:rgb(35,31,31);
}
#P544_223
{
left:15191.6px;bottom:27048.9px;color:rgb(35,31,31);
}
#P544_224
{
left:15527.4px;bottom:27534.4px;color:rgb(35,31,31);
}
#P544_225
{
left:15812.4px;bottom:27516.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P544_226
{
left:0px;letter-spacing:545.6px;margin-left:704px;
}
#P544_227
{
left:17924.4px;bottom:27487.2px;color:rgb(35,31,31);
}
#P544_228
{
left:18355.9px;bottom:27516.8px;color:rgb(35,31,31);
}
#P544_229
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P544_230
{
left:18535.4px;bottom:27956.5px;color:rgb(35,31,31);
}
#P544_231
{
left:18871.3px;bottom:27534.4px;color:rgb(35,31,31);
}
#P544_232
{
left:18514.3px;bottom:27500.8px;color:rgb(35,31,31);
}
#P544_233
{
left:18892.4px;bottom:27518px;color:rgb(35,31,31);
}
#P544_234
{
left:18535.4px;bottom:27048.9px;color:rgb(35,31,31);
}
#P544_235
{
left:18871.3px;bottom:27534.4px;color:rgb(35,31,31);
}
#P544_236
{
left:18892.4px;bottom:27516.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P544_237
{
left:19050.8px;bottom:27487.2px;color:rgb(35,31,31);
}
#P544_238
{
left:19637.2px;bottom:27516.8px;color:rgb(35,31,31);
}
#P544_239
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P544_240
{
left:19816.7px;bottom:27929.8px;color:rgb(35,31,31);
}
#P544_241
{
left:20344.5px;bottom:27956.5px;color:rgb(35,31,31);
}
#P544_242
{
left:20680.3px;bottom:27534.4px;color:rgb(35,31,31);
}
#P544_243
{
left:19795.5px;bottom:27500.8px;color:rgb(35,31,31);
}
#P544_244
{
left:20701.4px;bottom:27518px;color:rgb(35,31,31);
}
#P544_245
{
left:20080.6px;bottom:27048.9px;color:rgb(35,31,31);
}
#P544_246
{
left:20416.4px;bottom:27534.4px;color:rgb(35,31,31);
}
#P544_247
{
left:22813.4px;bottom:27516.8px;word-spacing:545.6px;color:rgb(35,31,31);
}
#P544_248
{
left:24277.7px;bottom:27487.2px;color:rgb(35,31,31);
}
#P544_249
{
left:24864.2px;bottom:27516.8px;color:rgb(35,31,31);
}
#P544_250
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P544_251
{
left:25043.7px;bottom:27956.5px;color:rgb(35,31,31);
}
#P544_252
{
left:25379.5px;bottom:27534.4px;color:rgb(35,31,31);
}
#P544_253
{
left:25022.6px;bottom:27500.8px;color:rgb(35,31,31);
}
#P544_254
{
left:25400.6px;bottom:27518px;color:rgb(35,31,31);
}
#P544_255
{
left:25043.7px;bottom:27048.9px;color:rgb(35,31,31);
}
#P544_256
{
left:25379.5px;bottom:27534.4px;color:rgb(35,31,31);
}
#P544_257
{
left:25400.6px;bottom:27516.8px;color:rgb(35,31,31);
}
#P544_258
{
left:20920.8px;bottom:32275.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P544_259
{
left:21298.8px;bottom:32964.8px;color:rgb(35,31,31);
}
#P544_260
{
left:23024.7px;bottom:32134.4px;color:rgb(35,31,31);
}
#P544_261
{
left:20920.8px;bottom:32435.2px;color:rgb(35,31,31);
}
#P544_262
{
left:23402.8px;bottom:32276.4px;color:rgb(35,31,31);
}
#P544_263
{
left:20963px;bottom:31177.3px;color:rgb(35,31,31);
}
#P544_264
{
left:23360.5px;bottom:32134.4px;color:rgb(35,31,31);
}
#P544_265
{
left:23402.8px;bottom:32275.2px;color:rgb(35,31,31);
}
#P544_266
{
left:23402.8px;bottom:32099.2px;color:rgb(35,31,31);
}
#P544_267
{
left:4301.34px;bottom:13360.5px;color:rgb(35,31,31);
}
#P544_268
{
left:4674.39px;bottom:13388.9px;letter-spacing:-10.2px;color:rgb(35,31,31);
}
#P544_269
{
left:6691.93px;bottom:13360.5px;color:rgb(35,31,31);
}
#P544_270
{
left:4301.34px;bottom:12656.5px;letter-spacing:-14.1px;color:rgb(35,31,31);
}
#P544_271
{
left:5012.31px;bottom:12684.9px;letter-spacing:-10.4px;color:rgb(35,31,31);
}
#P544_272
{
left:2365.37px;bottom:11788px;letter-spacing:2.2px;word-spacing:-7.1px;color:rgb(35,31,31);
}
#P544_273
{
left:0px;letter-spacing:1.7px;margin-left:5.9px;
}
#P544_274
{
left:2365.37px;bottom:11004.8px;letter-spacing:-3.3px;word-spacing:-0.7px;color:rgb(35,31,31);
}
#P544_275
{
left:0px;letter-spacing:-0.3px;margin-left:2.4px;
}
#P544_276
{
left:0px;letter-spacing:-3.1px;margin-left:-4.5px;
}
#P544_277
{
left:2365.37px;bottom:10383px;color:rgb(35,31,31);
}
#P544_278
{
left:2615.28px;bottom:10164.8px;color:rgb(35,31,31);
}
#P544_279
{
left:2960.24px;bottom:10204.8px;letter-spacing:-130.6px;color:rgb(35,31,31);
}
#P544_280
{
left:0px;letter-spacing:2.7px;margin-left:130.3px;
}
#P544_281
{
left:0px;letter-spacing:-3.8px;margin-left:-1.8px;
}
#P544_282
{
left:0px;letter-spacing:-1.4px;margin-left:-1.7px;
}
#P544_283
{
left:2960.24px;bottom:9564.78px;letter-spacing:-1.8px;word-spacing:-1px;color:rgb(35,31,31);
}
#P544_284
{
left:0px;letter-spacing:-1.4px;margin-left:-2.6px;
}
#P544_285
{
left:0px;letter-spacing:0px;margin-left:1.9px;
}
#P544_286
{
left:2960.24px;bottom:8924.78px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P544_287
{
left:0px;letter-spacing:-2.7px;margin-left:-1.6px;
}
#P544_288
{
left:0px;letter-spacing:-11.5px;margin-left:5.4px;
}
#P544_289
{
left:2365.37px;bottom:8431.02px;color:rgb(35,31,31);
}
#P544_290
{
left:2615.28px;bottom:8212.78px;letter-spacing:186.6px;color:rgb(35,31,31);
}
#P544_291
{
left:2960.24px;bottom:8252.78px;letter-spacing:0.9px;word-spacing:-5.3px;color:rgb(35,31,31);
}
#P544_292
{
left:0px;letter-spacing:-1.1px;margin-left:117.8px;
}
#P544_293
{
left:0px;letter-spacing:1.5px;margin-left:1px;
}
#P544_294
{
left:2960.24px;bottom:7612.78px;letter-spacing:-0.8px;word-spacing:-3.6px;color:rgb(35,31,31);
}
#P544_295
{
left:2365.38px;bottom:6844.72px;letter-spacing:-1.5px;word-spacing:-5.3px;color:rgb(35,31,31);
}
#P544_296
{
left:0px;letter-spacing:-0.1px;margin-left:8.7px;
}
#P544_297
{
left:2365.38px;bottom:6204.65px;letter-spacing:-18.4px;color:rgb(35,31,31);
}
#P544_298
{
left:0px;letter-spacing:2px;margin-left:21px;
}
#P544_299
{
left:2365.38px;bottom:5564.65px;letter-spacing:-18.4px;color:rgb(35,31,31);
}
#P544_300
{
left:0px;letter-spacing:0.5px;margin-left:21px;
}
#PageContainer544
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg544.jpg");background-repeat:no-repeat;background-size: 1066px 1023px; background-position: 1px -0.0999999999999091px;
}
#ImageContainer544 {bottom:341.10px;right:0.00px;width:1066.24px;height:1023.06px;position:absolute;} #TextContainer544 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.rpj{position: absolute;top: 208px;left: 156px;}
.srpj{position: absolute;top: 208px;left: 107px;}
.math_tool{position: absolute;top: 684px;left: 151px;}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}