.tr386{ color:transparent;}
#P386_1
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P386_2
{
left:3540.44px;bottom:1410.03px;color:rgb(35,31,31);
}
#P386_3
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P386_4
{
left:9121.88px;bottom:1410.03px;letter-spacing:462.3px;word-spacing:-0.3px;color:rgb(35,31,31);
}
#P386_5
{
left:0px;letter-spacing:3.9px;margin-left:-462.1px;
}
#P386_6
{
left:0px;letter-spacing:-0.8px;margin-left:173.2px;
}
#P386_7
{
left:0px;letter-spacing:2.1px;margin-left:1.8px;
}
#P386_8
{
left:6977.56px;bottom:46189.1px;letter-spacing:-6.2px;color:white;
}
#P386_9
{
left:0px;letter-spacing:-2.7px;margin-left:6.2px;
}
#P386_10
{
left:18430.2px;bottom:46487.5px;color:white;
}
#P386_11
{
left:18803.8px;bottom:46189.1px;color:white;
}
#P386_12
{
left:3459.78px;bottom:46161.9px;color:white;
}
#P386_13
{
left:18852.5px;bottom:41182.6px;color:rgb(35,31,31);
}
#P386_14
{
left:0px;letter-spacing:0px;margin-left:213.2px;
}
#P386_15
{
left:0px;letter-spacing:0px;margin-left:-234.8px;
}
#P386_16
{
left:0px;letter-spacing:0px;margin-left:39.1px;
}
#P386_17
{
left:7741.4px;bottom:40094.5px;color:rgb(35,31,31);
}
#P386_18
{
left:9251.48px;bottom:36100.9px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P386_19
{
left:0px;letter-spacing:0.4px;margin-left:14.2px;
}
#P386_20
{
left:0px;letter-spacing:-14px;margin-left:-42.4px;
}
#P386_21
{
left:0px;letter-spacing:-1px;margin-left:14px;
}
#P386_22
{
left:0px;letter-spacing:-3.5px;margin-left:1px;
}
#P386_23
{
left:0px;letter-spacing:0px;margin-left:-24.5px;
}
#P386_24
{
left:0px;letter-spacing:0px;
}
#P386_25
{
left:9251.48px;bottom:35204.9px;color:rgb(35,31,31);
}
#P386_26
{
left:0px;letter-spacing:-28px;margin-left:-70.3px;
}
#P386_27
{
left:0px;letter-spacing:-31.6px;margin-left:28px;
}
#P386_28
{
left:0px;letter-spacing:0.1px;margin-left:31.6px;
}
#P386_29
{
left:9251.48px;bottom:33924.9px;color:rgb(35,31,31);
}
#P386_30
{
left:9379.48px;bottom:33924.9px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P386_31
{
left:18269.1px;bottom:31419.1px;
}
#P386_32
{
left:12523.5px;bottom:33804.8px;
}
#P386_33
{
left:21827.2px;bottom:33924.8px;color:rgb(35,31,31);
}
#P386_34
{
left:21827.2px;bottom:33924.8px;letter-spacing:-17.5px;color:rgb(35,31,31);
}
#P386_35
{
left:23273.8px;bottom:30986.9px;
}
#P386_36
{
left:27770.1px;bottom:33803px;
}
#P386_37
{
left:9251.48px;bottom:26436.8px;color:rgb(35,31,31);
}
#P386_38
{
left:16897.4px;bottom:26436.8px;color:rgb(35,31,31);
}
#P386_39
{
left:17045.3px;bottom:26564.8px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P386_40
{
left:19013.5px;bottom:26564.8px;color:rgb(35,31,31);
}
#P386_41
{
left:28929.4px;bottom:26436.8px;color:rgb(35,31,31);
}
#P386_42
{
left:29077.3px;bottom:26564.8px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P386_43
{
left:10129.7px;bottom:37661px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P386_44
{
left:13554.8px;bottom:37852.8px;color:rgb(255,223,126);
}
#P386_45
{
left:14179.5px;bottom:37661px;word-spacing:207.4px;color:white;
}
#P386_46
{
left:16211.7px;bottom:37852.8px;color:white;
}
#P386_47
{
left:16451.9px;bottom:37661px;color:white;
}
#P386_48
{
left:17219.9px;bottom:37852.8px;color:white;
}
#P386_49
{
left:17460.1px;bottom:37661px;color:white;
}
#P386_50
{
left:19477.6px;bottom:37852.8px;color:white;
}
#P386_51
{
left:19717.8px;bottom:37661px;color:white;
}
#P386_52
{
left:8389.27px;bottom:37537.5px;
}
#P386_53
{
left:8389.27px;bottom:37537.5px;color:white;
}
#P386_54
{
left:9250.71px;bottom:21703.5px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P386_55
{
left:0px;letter-spacing:0.4px;margin-left:14.1px;
}
#P386_56
{
left:0px;letter-spacing:-28px;margin-left:-42.5px;
}
#P386_57
{
left:9250.71px;bottom:20423.5px;color:rgb(35,31,31);
}
#P386_58
{
left:9378.71px;bottom:20423.5px;letter-spacing:-14px;word-spacing:516.1px;color:rgb(35,31,31);
}
#P386_59
{
left:10594.7px;bottom:20423.5px;letter-spacing:-4.3px;color:rgb(35,31,31);
}
#P386_60
{
left:0px;letter-spacing:0px;margin-left:4.3px;
}
#P386_61
{
left:0px;letter-spacing:0px;margin-left:-214.7px;
}
#P386_62
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P386_63
{
left:0px;letter-spacing:-2.8px;
}
#P386_64
{
left:0px;letter-spacing:0px;margin-left:-18.1px;
}
#P386_65
{
left:0px;letter-spacing:0px;margin-left:-21px;
}
#P386_66
{
left:0px;letter-spacing:0.6px;
}
#P386_67
{
left:0px;letter-spacing:0px;margin-left:-42.7px;
}
#P386_68
{
left:9250.71px;bottom:19335.4px;color:rgb(35,31,31);
}
#P386_69
{
left:9378.71px;bottom:19335.4px;letter-spacing:-13.9px;word-spacing:486.9px;color:rgb(35,31,31);
}
#P386_70
{
left:10594.7px;bottom:19335.4px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P386_71
{
left:0px;letter-spacing:0px;margin-left:-213.7px;
}
#P386_72
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P386_73
{
left:0px;letter-spacing:-0.1px;
}
#P386_74
{
left:0px;letter-spacing:0px;margin-left:-42px;
}
#P386_75
{
left:0px;letter-spacing:0.3px;
}
#P386_76
{
left:10594.7px;bottom:18439.5px;letter-spacing:0.8px;color:rgb(35,31,31);
}
#P386_77
{
left:9250.71px;bottom:17351.5px;color:rgb(35,31,31);
}
#P386_78
{
left:9378.71px;bottom:17351.5px;color:rgb(35,31,31);
}
#P386_79
{
left:10128.9px;bottom:23263.7px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P386_80
{
left:13554.1px;bottom:23455.5px;color:rgb(255,223,126);
}
#P386_81
{
left:14178.8px;bottom:23263.7px;word-spacing:207.4px;color:white;
}
#P386_82
{
left:15091.2px;bottom:23455.5px;color:white;
}
#P386_83
{
left:15331.4px;bottom:23263.7px;color:white;
}
#P386_84
{
left:17444.7px;bottom:23455.5px;color:white;
}
#P386_85
{
left:17684.9px;bottom:23263.7px;letter-spacing:-0.6px;color:white;
}
#P386_86
{
left:27354.1px;bottom:23455.5px;color:white;
}
#P386_87
{
left:27594.3px;bottom:23263.7px;color:white;
}
#P386_88
{
left:8388.51px;bottom:23140.1px;
}
#P386_89
{
left:8388.51px;bottom:23140.1px;color:white;
}
#P386_90
{
left:4301.34px;bottom:13360.5px;color:rgb(35,31,31);
}
#P386_91
{
left:4674.39px;bottom:13388.9px;letter-spacing:-10.2px;color:rgb(35,31,31);
}
#P386_92
{
left:6691.93px;bottom:13360.5px;color:rgb(35,31,31);
}
#P386_93
{
left:4301.34px;bottom:12656.5px;letter-spacing:-14.1px;color:rgb(35,31,31);
}
#P386_94
{
left:5012.31px;bottom:12684.9px;letter-spacing:-10.4px;color:rgb(35,31,31);
}
#P386_95
{
left:2365.37px;bottom:11788px;letter-spacing:4.5px;color:rgb(35,31,31);
}
#P386_96
{
left:2365.37px;bottom:11004.8px;letter-spacing:-3.3px;word-spacing:-0.7px;color:rgb(35,31,31);
}
#P386_97
{
left:0px;letter-spacing:-0.3px;margin-left:2.4px;
}
#P386_98
{
left:0px;letter-spacing:-3.1px;margin-left:-4.5px;
}
#P386_99
{
left:2365.37px;bottom:10383px;color:rgb(35,31,31);
}
#P386_100
{
left:2615.28px;bottom:10164.8px;color:rgb(35,31,31);
}
#P386_101
{
left:2960.24px;bottom:10204.8px;letter-spacing:-130.6px;color:rgb(35,31,31);
}
#P386_102
{
left:0px;letter-spacing:0px;margin-left:130px;
}
#P386_103
{
left:0px;letter-spacing:-2px;margin-left:-5.5px;
}
#P386_104
{
left:2960.24px;bottom:9564.78px;letter-spacing:0.4px;word-spacing:-7px;color:rgb(35,31,31);
}
#P386_105
{
left:0px;letter-spacing:0.1px;margin-left:-4.3px;
}
#P386_106
{
left:2365.37px;bottom:8943.02px;color:rgb(35,31,31);
}
#P386_107
{
left:2615.28px;bottom:8724.78px;letter-spacing:186.6px;color:rgb(35,31,31);
}
#P386_108
{
left:2960.24px;bottom:8764.78px;letter-spacing:-135.2px;word-spacing:-0.4px;color:rgb(35,31,31);
}
#P386_109
{
left:0px;letter-spacing:-1.4px;margin-left:141.8px;
}
#P386_110
{
left:0px;letter-spacing:1px;margin-left:127.5px;
}
#P386_111
{
left:0px;letter-spacing:-1.7px;margin-left:-2.8px;
}
#P386_112
{
left:2960.24px;bottom:8124.78px;letter-spacing:-1.6px;word-spacing:-2.1px;color:rgb(35,31,31);
}
#P386_113
{
left:2365.37px;bottom:7503.02px;color:rgb(35,31,31);
}
#P386_114
{
left:2615.28px;bottom:7284.78px;letter-spacing:186.6px;color:rgb(35,31,31);
}
#P386_115
{
left:2960.24px;bottom:7324.78px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P386_116
{
left:0px;letter-spacing:-2.7px;margin-left:5.3px;
}
#P386_117
{
left:0px;letter-spacing:0.6px;margin-left:3.2px;
}
#P386_118
{
left:2365.38px;bottom:6556.78px;letter-spacing:-1.4px;word-spacing:-5.4px;color:rgb(35,31,31);
}
#P386_119
{
left:0px;letter-spacing:-0.1px;margin-left:8.7px;
}
#P386_120
{
left:2365.38px;bottom:5916.72px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#PageContainer386
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg386.jpg");background-repeat:no-repeat;background-size: 1066px 1274px; background-position: 1px -0.3599999999999px;
}
#ImageContainer386 {bottom:90.36px;right:0.00px;width:1066.24px;height:1273.80px;position:absolute;} #TextContainer386 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.rpj{
                            position: absolute;
                            top: 211px;
                            left: 157px;
}
.srpj{
                            position: absolute;
                            top: 211px;
                            left: 114px;
}
.math_paper{
                            position: absolute;
                            top: 699px;
                            left: 167px;
}
.math_tool{
                            position: absolute;
                            top: 693px;
                            left: 118px;
}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}