.tr194{ color:transparent;}
#P194_1
{
left:2365.4px;bottom:1409.96px;color:rgb(35,31,31);
}
#P194_2
{
left:3540.44px;bottom:1409.96px;color:rgb(35,31,31);
}
#P194_3
{
left:4925.4px;bottom:1409.96px;color:rgb(35,31,31);
}
#P194_4
{
left:9125.52px;bottom:1409.96px;letter-spacing:2.1px;word-spacing:461.8px;color:rgb(35,31,31);
}
#P194_5
{
left:0px;letter-spacing:0px;margin-left:-463.9px;
}
#P194_6
{
left:0px;letter-spacing:0.3px;margin-left:0.3px;
}
#P194_7
{
left:0px;letter-spacing:0px;margin-left:-462.1px;
}
#P194_8
{
left:0px;letter-spacing:1.6px;margin-left:0.3px;
}
#P194_9
{
left:5889.56px;bottom:46957.1px;color:white;
}
#P194_10
{
left:2371.78px;bottom:46929.9px;color:white;
}
#P194_11
{
left:26785.2px;bottom:46188.3px;word-spacing:0.2px;color:rgb(33,31,31);
}
#P194_12
{
left:0px;letter-spacing:0px;margin-left:-44.8px;
}
#P194_13
{
left:0px;letter-spacing:0px;margin-left:0.2px;
}
#P194_14
{
left:5450.2px;bottom:32779.8px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P194_15
{
left:12318.5px;bottom:32804.3px;color:white;
}
#P194_16
{
left:12734px;bottom:32996.1px;color:white;
}
#P194_17
{
left:12974.2px;bottom:32804.3px;color:white;
}
#P194_18
{
left:13950.6px;bottom:32996.1px;color:white;
}
#P194_19
{
left:14190.7px;bottom:32804.3px;letter-spacing:1.8px;word-spacing:-31.9px;color:white;
}
#P194_20
{
left:0px;letter-spacing:-15.8px;margin-left:-1.8px;
}
#P194_21
{
left:0px;letter-spacing:0px;margin-left:0.4px;
}
#P194_22
{
left:21762.6px;bottom:32996.1px;color:white;
}
#P194_23
{
left:22002.8px;bottom:32804.3px;color:white;
}
#P194_24
{
left:10474.1px;bottom:32637.2px;
}
#P194_25
{
left:10474.1px;bottom:32637.2px;color:white;
}
#P194_26
{
left:11545.5px;bottom:31174.9px;letter-spacing:-1.6px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P194_27
{
left:0px;letter-spacing:-0.3px;margin-left:-12.4px;
}
#P194_28
{
left:11496.1px;bottom:30022.9px;letter-spacing:-9.3px;word-spacing:580.1px;color:rgb(35,31,31);
}
#P194_29
{
left:18689.2px;bottom:27826.9px;color:rgb(0,145,68);
}
#P194_30
{
left:16361px;bottom:30124.6px;color:rgb(0,145,68);
}
#P194_31
{
left:15065px;bottom:25427.3px;color:rgb(0,145,68);
}
#P194_32
{
left:23058.4px;bottom:30022.9px;letter-spacing:-13.9px;word-spacing:2853.9px;color:rgb(35,31,31);
}
#P194_33
{
left:26969px;bottom:26062.2px;color:rgb(100,94,170);
}
#P194_34
{
left:26808.9px;bottom:30113.2px;color:rgb(100,94,170);
}
#P194_35
{
left:29076.1px;bottom:28116.9px;color:rgb(100,94,170);
}
#P194_36
{
left:10777.5px;bottom:23622.9px;color:rgb(35,31,31);
}
#P194_37
{
left:12569.5px;bottom:23622.9px;color:rgb(35,31,31);
}
#P194_38
{
left:13008.8px;bottom:23622.9px;color:rgb(35,31,31);
}
#P194_39
{
left:13167.3px;bottom:23593.3px;color:rgb(35,31,31);
}
#P194_40
{
left:13753.6px;bottom:23622.9px;color:rgb(35,31,31);
}
#P194_41
{
left:13912.2px;bottom:23622.9px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P194_42
{
left:13933.1px;bottom:24062.6px;color:rgb(35,31,31);
}
#P194_43
{
left:14268.9px;bottom:23640.5px;color:rgb(35,31,31);
}
#P194_44
{
left:13912px;bottom:23606.9px;color:rgb(35,31,31);
}
#P194_45
{
left:14290px;bottom:23624.2px;color:rgb(35,31,31);
}
#P194_46
{
left:13933.1px;bottom:23155.1px;color:rgb(35,31,31);
}
#P194_47
{
left:14268.9px;bottom:23640.5px;color:rgb(35,31,31);
}
#P194_48
{
left:14290px;bottom:23622.9px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P194_49
{
left:14378px;bottom:23622.9px;color:rgb(235,26,35);
}
#P194_50
{
left:14824px;bottom:23622.9px;color:rgb(35,31,31);
}
#P194_51
{
left:15071.4px;bottom:23622.9px;color:rgb(0,124,196);
}
#P194_52
{
left:15464.9px;bottom:23414.7px;color:rgb(0,124,196);
}
#P194_53
{
left:15736.2px;bottom:23622.9px;color:rgb(35,31,31);
}
#P194_54
{
left:15894.6px;bottom:23593.3px;color:rgb(35,31,31);
}
#P194_55
{
left:16481px;bottom:23622.9px;color:rgb(35,31,31);
}
#P194_56
{
left:16639.4px;bottom:23622.9px;color:rgb(0,170,77);
}
#P194_57
{
left:17046.2px;bottom:23414.7px;color:rgb(0,170,77);
}
#P194_58
{
left:17330.8px;bottom:23622.9px;color:rgb(35,31,31);
}
#P194_59
{
left:18918.7px;bottom:23630.9px;letter-spacing:0.1px;color:rgb(0,124,196);
}
#P194_60
{
left:24089.5px;bottom:23622.9px;color:rgb(35,31,31);
}
#P194_61
{
left:24528.8px;bottom:23622.9px;color:rgb(35,31,31);
}
#P194_62
{
left:24687.2px;bottom:23593.3px;color:rgb(35,31,31);
}
#P194_63
{
left:25273.6px;bottom:23622.9px;color:rgb(35,31,31);
}
#P194_64
{
left:25432px;bottom:23622.9px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P194_65
{
left:25453.1px;bottom:24062.6px;color:rgb(35,31,31);
}
#P194_66
{
left:25789px;bottom:23640.5px;color:rgb(35,31,31);
}
#P194_67
{
left:25432px;bottom:23606.9px;color:rgb(35,31,31);
}
#P194_68
{
left:25810.1px;bottom:23624.2px;color:rgb(35,31,31);
}
#P194_69
{
left:25453.1px;bottom:23155.1px;color:rgb(35,31,31);
}
#P194_70
{
left:25789px;bottom:23640.5px;color:rgb(35,31,31);
}
#P194_71
{
left:25810.1px;bottom:23622.9px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P194_72
{
left:25898.1px;bottom:23622.9px;color:rgb(235,26,35);
}
#P194_73
{
left:26344px;bottom:23622.9px;color:rgb(35,31,31);
}
#P194_74
{
left:26591.4px;bottom:23622.9px;color:rgb(0,124,196);
}
#P194_75
{
left:26984.9px;bottom:23414.7px;color:rgb(0,124,196);
}
#P194_76
{
left:27256.2px;bottom:23622.9px;color:rgb(35,31,31);
}
#P194_77
{
left:27414.6px;bottom:23593.3px;color:rgb(35,31,31);
}
#P194_78
{
left:28001px;bottom:23622.9px;color:rgb(35,31,31);
}
#P194_79
{
left:28159.4px;bottom:23622.9px;color:rgb(0,170,77);
}
#P194_80
{
left:28566.2px;bottom:23414.7px;color:rgb(0,170,77);
}
#P194_81
{
left:28850.8px;bottom:23622.9px;color:rgb(35,31,31);
}
#P194_82
{
left:10777.5px;bottom:21830.8px;letter-spacing:2081.6px;color:rgb(35,31,31);
}
#P194_83
{
left:13175.8px;bottom:21801.3px;color:rgb(35,31,31);
}
#P194_84
{
left:13762.2px;bottom:21830.8px;color:rgb(35,31,31);
}
#P194_85
{
left:13920.6px;bottom:21830.8px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P194_86
{
left:13941.8px;bottom:22270.6px;color:rgb(35,31,31);
}
#P194_87
{
left:14277.7px;bottom:21848.5px;color:rgb(35,31,31);
}
#P194_88
{
left:13920.7px;bottom:21814.9px;color:rgb(35,31,31);
}
#P194_89
{
left:14298.8px;bottom:21832.2px;color:rgb(35,31,31);
}
#P194_90
{
left:13941.8px;bottom:21363.1px;color:rgb(35,31,31);
}
#P194_91
{
left:14277.7px;bottom:21848.5px;color:rgb(35,31,31);
}
#P194_92
{
left:14298.8px;bottom:21830.9px;color:rgb(35,31,31);
}
#P194_93
{
left:14298.8px;bottom:21830.9px;color:rgb(35,31,31);
}
#P194_94
{
left:14560.1px;bottom:21830.9px;color:rgb(235,26,35);
}
#P194_95
{
left:14950.2px;bottom:21830.9px;letter-spacing:-6.1px;color:rgb(35,31,31);
}
#P194_96
{
left:15447.6px;bottom:21830.9px;color:rgb(0,124,196);
}
#P194_97
{
left:15820.8px;bottom:21830.9px;color:rgb(35,31,31);
}
#P194_98
{
left:15979.2px;bottom:21801.3px;color:rgb(35,31,31);
}
#P194_99
{
left:16565.6px;bottom:21830.9px;color:rgb(35,31,31);
}
#P194_100
{
left:16724px;bottom:21830.9px;color:rgb(0,170,77);
}
#P194_101
{
left:17109.3px;bottom:21830.9px;color:rgb(35,31,31);
}
#P194_102
{
left:19460.9px;bottom:21838.9px;letter-spacing:0.6px;color:rgb(0,124,196);
}
#P194_103
{
left:22190.1px;bottom:21830.9px;letter-spacing:2189px;color:rgb(35,31,31);
}
#P194_104
{
left:24695.9px;bottom:21801.3px;color:rgb(35,31,31);
}
#P194_105
{
left:25282.3px;bottom:21830.9px;color:rgb(35,31,31);
}
#P194_106
{
left:25440.7px;bottom:21830.9px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P194_107
{
left:25461.8px;bottom:22270.6px;color:rgb(35,31,31);
}
#P194_108
{
left:25797.7px;bottom:21848.5px;color:rgb(35,31,31);
}
#P194_109
{
left:25440.7px;bottom:21814.9px;color:rgb(35,31,31);
}
#P194_110
{
left:25818.8px;bottom:21832.2px;color:rgb(35,31,31);
}
#P194_111
{
left:25461.8px;bottom:21363.1px;color:rgb(35,31,31);
}
#P194_112
{
left:25797.7px;bottom:21848.5px;color:rgb(35,31,31);
}
#P194_113
{
left:25818.8px;bottom:21830.9px;color:rgb(35,31,31);
}
#P194_114
{
left:25818.8px;bottom:21830.9px;color:rgb(35,31,31);
}
#P194_115
{
left:26075.9px;bottom:21830.9px;color:rgb(235,26,35);
}
#P194_116
{
left:26453.7px;bottom:21830.9px;letter-spacing:-6.1px;color:rgb(35,31,31);
}
#P194_117
{
left:26956.1px;bottom:21830.9px;letter-spacing:4.4px;color:rgb(0,124,196);
}
#P194_118
{
left:27897.6px;bottom:21830.9px;color:rgb(35,31,31);
}
#P194_119
{
left:28056px;bottom:21801.3px;color:rgb(35,31,31);
}
#P194_120
{
left:28642.4px;bottom:21830.9px;color:rgb(35,31,31);
}
#P194_121
{
left:28800.8px;bottom:21830.9px;letter-spacing:-15.6px;color:rgb(0,170,77);
}
#P194_122
{
left:30064.6px;bottom:21830.9px;color:rgb(35,31,31);
}
#P194_123
{
left:10777.4px;bottom:20038.8px;letter-spacing:2081.6px;color:rgb(35,31,31);
}
#P194_124
{
left:13175.8px;bottom:20009.3px;color:rgb(35,31,31);
}
#P194_125
{
left:13762.3px;bottom:20038.8px;color:rgb(35,31,31);
}
#P194_126
{
left:13920.7px;bottom:20038.8px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P194_127
{
left:13941.8px;bottom:20478.6px;color:rgb(35,31,31);
}
#P194_128
{
left:14277.7px;bottom:20056.5px;color:rgb(35,31,31);
}
#P194_129
{
left:13920.7px;bottom:20022.9px;color:rgb(35,31,31);
}
#P194_130
{
left:14298.8px;bottom:20040.2px;color:rgb(35,31,31);
}
#P194_131
{
left:13941.8px;bottom:19571.1px;color:rgb(35,31,31);
}
#P194_132
{
left:14277.7px;bottom:20056.5px;color:rgb(35,31,31);
}
#P194_133
{
left:14298.8px;bottom:20038.9px;color:rgb(35,31,31);
}
#P194_134
{
left:14298.8px;bottom:20038.9px;letter-spacing:8.6px;color:rgb(35,31,31);
}
#P194_135
{
left:0px;letter-spacing:-44.1px;margin-left:-23.3px;
}
#P194_136
{
left:0px;letter-spacing:0px;margin-left:47.4px;
}
#P194_137
{
left:20159.9px;bottom:20046.9px;letter-spacing:3px;color:rgb(0,124,196);
}
#P194_138
{
left:21363.1px;bottom:20038.9px;letter-spacing:3016px;color:rgb(35,31,31);
}
#P194_139
{
left:24695.9px;bottom:20009.3px;color:rgb(35,31,31);
}
#P194_140
{
left:25282.3px;bottom:20038.9px;color:rgb(35,31,31);
}
#P194_141
{
left:25440.7px;bottom:20038.9px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P194_142
{
left:25461.8px;bottom:20478.6px;color:rgb(35,31,31);
}
#P194_143
{
left:25797.7px;bottom:20056.5px;color:rgb(35,31,31);
}
#P194_144
{
left:25440.7px;bottom:20022.9px;color:rgb(35,31,31);
}
#P194_145
{
left:25818.8px;bottom:20040.2px;color:rgb(35,31,31);
}
#P194_146
{
left:25461.8px;bottom:19571.1px;color:rgb(35,31,31);
}
#P194_147
{
left:25797.7px;bottom:20056.5px;color:rgb(35,31,31);
}
#P194_148
{
left:25818.8px;bottom:20038.9px;color:rgb(35,31,31);
}
#P194_149
{
left:25818.8px;bottom:20038.9px;letter-spacing:4.9px;color:rgb(35,31,31);
}
#P194_150
{
left:10777.5px;bottom:18374.9px;letter-spacing:2081.6px;color:rgb(35,31,31);
}
#P194_151
{
left:13175.8px;bottom:18345.3px;color:rgb(35,31,31);
}
#P194_152
{
left:13919.4px;bottom:18374.9px;letter-spacing:2.4px;word-spacing:-3.7px;color:rgb(35,31,31);
}
#P194_153
{
left:19708.8px;bottom:18382.9px;letter-spacing:-1.9px;color:rgb(0,124,196);
}
#P194_154
{
left:21942.2px;bottom:18374.9px;letter-spacing:2437px;color:rgb(35,31,31);
}
#P194_155
{
left:24695.8px;bottom:18345.3px;color:rgb(35,31,31);
}
#P194_156
{
left:25440.7px;bottom:18374.9px;letter-spacing:1.2px;word-spacing:-1.2px;color:rgb(35,31,31);
}
#P194_157
{
left:10777.4px;bottom:16134.9px;color:rgb(35,31,31);
}
#P194_158
{
left:13832.2px;bottom:16326.9px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P194_159
{
left:0px;
letter-spacing: 0px;
margin-left: 0px;
}
#P194_160
{
left:0px;letter-spacing:-0.8px;margin-left:-5.9px;
}
#P194_161
{
left:21742.7px;bottom:16134.9px;color:rgb(35,31,31);
}
#P194_162
{
left:25352.2px;bottom:16326.9px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P194_163
{
left:0px;letter-spacing:-1px;margin-left:-0.1px;
}
#P194_164
{
left:0px;letter-spacing:-0.8px;margin-left:-5.9px;
}
#P194_165
{
left: 13980.5px;bottom:15430.9px;letter-spacing:609.6px;color:rgb(35,31,31);
}
#P194_165a
{
left: 25402.5px;bottom:15430.9px;letter-spacing:609.6px;color:rgb(35,31,31);
}
#P194_166
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P194_167
{
left:0px;letter-spacing:-0.8px;
}
#P194_168
{
left:0px;letter-spacing:0px;margin-left:4576.6px;
}
#P194_169
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P194_170
{
left:0px;letter-spacing:-0.8px;
}
#P194_171
{
left:0px;letter-spacing:0px;margin-left:-13.1px;
}
#P194_172
{
left:11545.5px;bottom:12166.9px;letter-spacing:-1.6px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P194_173
{
left:0px;letter-spacing:-0.3px;margin-left:-12.3px;
}
#P194_174
{
left:11545.5px;bottom:11014.8px;color:rgb(35,31,31);
}
#P194_175
{
left:11683.9px;bottom:11041.7px;color:rgb(35,31,31);
}
#P194_176
{
left:12895.8px;bottom:8738.48px;color:rgb(235,26,35);
}
#P194_177
{
left:15660.1px;bottom:5451.82px;color:rgb(235,26,35);
}
#P194_178
{
left:18400.1px;bottom:7333.04px;color:rgb(235,26,35);
}
#P194_179
{
left:20517.1px;bottom:11014.9px;color:rgb(35,31,31);
}
#P194_180
{
left:23075.9px;bottom:11041.7px;color:rgb(35,31,31);
}
#P194_181
{
left:26141px;bottom:11153.5px;color:rgb(207,153,14);
}
#P194_182
{
left:26227.4px;bottom:8606.38px;color:rgb(207,153,14);
}
#P194_183
{
left:25987.2px;bottom:5956.78px;color:rgb(207,153,14);
}
#P194_184
{
left:5709.4px;bottom:11272.8px;color:rgb(35,31,31);
}
#P194_185
{
left:0px;letter-spacing:0px;margin-left:34.6px;
}
#P194_186
{
left:12293.4px;bottom:42218.2px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P194_187
{
left:0px;letter-spacing:-25.6px;margin-left:-24.6px;
}
#P194_188
{
left:0px;letter-spacing:0px;margin-left:25.6px;
}
#P194_189
{
left:17771.7px;bottom:42374.4px;color:rgb(35,31,31);
}
#P194_190
{
left:17967.4px;bottom:42218.2px;color:rgb(35,31,31);
}
#P194_191
{
left:12293.4px;bottom:41151.5px;letter-spacing:-5.4px;color:rgb(2,77,161);
}
#P194_192
{
left:14265.9px;bottom:41134.4px;letter-spacing:508.3px;color:rgb(35,31,31);
}
#P194_193
{
left:14969.9px;bottom:41110.4px;letter-spacing:-1.7px;color:rgb(35,31,31);
}
#P194_194
{
left:17871.3px;bottom:41078.4px;color:rgb(35,31,31);
}
#P194_195
{
left:18468.4px;bottom:41110.4px;letter-spacing:-0.7px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P194_196
{
left:28071.4px;bottom:39663.2px;color:rgb(0,124,196);
}
#P194_197
{
left:29525.3px;bottom:37768.7px;color:rgb(0,124,196);
}
#P194_198
{
left:29877.3px;bottom:37578.5px;color:rgb(0,124,196);
}
#P194_199
{
left:30101.3px;bottom:41583.3px;color:rgb(0,124,196);
}
#P194_200
{
left:30453.3px;bottom:41393px;color:rgb(0,124,196);
}
#P194_201
{
left:14969.9px;bottom:40214.4px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P194_202
{
left:14969.9px;bottom:39318.4px;color:rgb(35,31,31);
}
#P194_203
{
left:17158px;bottom:39318.4px;color:rgb(35,31,31);
}
#P194_204
{
left:17585.2px;bottom:39318.4px;color:rgb(35,31,31);
}
#P194_205
{
left:14969.9px;bottom:38422.6px;color:rgb(35,31,31);
}
#P194_206
{
left:16893.3px;bottom:38422.6px;color:rgb(35,31,31);
}
#P194_207
{
left:17283.3px;bottom:38214.2px;color:rgb(35,31,31);
}
#P194_208
{
left:17554.5px;bottom:38422.4px;color:rgb(35,31,31);
}
#P194_209
{
left:19096.2px;bottom:38422.4px;color:rgb(35,31,31);
}
#P194_210
{
left:19489.8px;bottom:38214.2px;color:rgb(35,31,31);
}
#P194_211
{
left:19761px;bottom:38422.4px;color:rgb(35,31,31);
}
#P194_212
{
left:12293.4px;bottom:36895.5px;letter-spacing:2.4px;color:rgb(2,77,161);
}
#P194_213
{
left:15420.5px;bottom:36854.4px;color:rgb(35,31,31);
}
#P194_214
{
left:15859.8px;bottom:36886.5px;color:rgb(35,31,31);
}
#P194_215
{
left:16018.2px;bottom:36856.9px;color:rgb(35,31,31);
}
#P194_216
{
left:16604.6px;bottom:36886.5px;color:rgb(35,31,31);
}
#P194_217
{
left:16763px;bottom:36874.2px;letter-spacing:-195.7px;color:rgb(35,31,31);
}
#P194_218
{
left:16830.6px;bottom:37326.1px;color:rgb(35,31,31);
}
#P194_219
{
left:17166.4px;bottom:36872px;color:rgb(35,31,31);
}
#P194_220
{
left:16809.5px;bottom:36870.4px;color:rgb(35,31,31);
}
#P194_221
{
left:17187.5px;bottom:36855.7px;color:rgb(35,31,31);
}
#P194_222
{
left:16830.6px;bottom:36418.6px;color:rgb(35,31,31);
}
#P194_223
{
left:17166.4px;bottom:36872px;color:rgb(35,31,31);
}
#P194_224
{
left:17187.5px;bottom:36874.2px;letter-spacing:-195.7px;color:rgb(35,31,31);
}
#P194_225
{
left:17275.5px;bottom:36886.5px;color:rgb(35,31,31);
}
#P194_226
{
left:17721.4px;bottom:36886.5px;color:rgb(35,31,31);
}
#P194_227
{
left:17968.9px;bottom:36886.5px;color:rgb(35,31,31);
}
#P194_228
{
left:18362.4px;bottom:36678.2px;color:rgb(35,31,31);
}
#P194_229
{
left:18633.7px;bottom:36886.4px;color:rgb(35,31,31);
}
#P194_230
{
left:18792.1px;bottom:36856.9px;color:rgb(35,31,31);
}
#P194_231
{
left:19378.5px;bottom:36886.4px;color:rgb(35,31,31);
}
#P194_232
{
left:19536.9px;bottom:36886.4px;color:rgb(35,31,31);
}
#P194_233
{
left:19943.6px;bottom:36678.2px;color:rgb(35,31,31);
}
#P194_234
{
left:20228.3px;bottom:36886.4px;color:rgb(35,31,31);
}
#PageContainer194
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg194.jpg");background-repeat:no-repeat;background-size: 947px 1210px; background-position: 0px 35.51px;
}
#ImageContainer194 {bottom:118.49px;left:0.00px;width:946.60px;height:1210.49px;position:absolute;} #TextContainer194 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.nyr{position: absolute;top: 1010px;left: 120px;}
.nyr_exr{position: absolute;top: 1045px;left: 146px;color: rgb(30,31,31);font-size: 16px;}

.example1{position: absolute;top: 441px;left: 104px;}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}