.tr192{ color:transparent;}
#P192_1
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P192_2
{
left:3540.44px;bottom:1410.03px;color:rgb(35,31,31);
}
#P192_3
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P192_4
{
left:9125.52px;bottom:1410.03px;letter-spacing:2.1px;word-spacing:461.8px;color:rgb(35,31,31);
}
#P192_5
{
left:0px;letter-spacing:0px;margin-left:-463.9px;
}
#P192_6
{
left:0px;letter-spacing:0.3px;margin-left:0.3px;
}
#P192_7
{
left:0px;letter-spacing:0px;margin-left:-462.1px;
}
#P192_8
{
left:0px;letter-spacing:1.6px;margin-left:0.3px;
}
#P192_9
{
left:6977.56px;bottom:46189.1px;letter-spacing:-3px;color:white;
}
#P192_10
{
left:0px;letter-spacing:-32.6px;margin-left:-46.6px;
}
#P192_11
{
left:0px;letter-spacing:0px;margin-left:32.6px;
}
#P192_12
{
left:16937.4px;bottom:46487.5px;color:white;
}
#P192_13
{
left:17311.1px;bottom:46189.1px;color:white;
}
#P192_14
{
left:3459.78px;bottom:46161.9px;color:white;
}
#P192_15
{
left:18852.5px;bottom:41182.6px;letter-spacing:213.2px;color:rgb(35,31,31);
}
#P192_16
{
left:0px;letter-spacing:0px;margin-left:-213.2px;
}
#P192_17
{
left:7741.4px;bottom:40094.5px;color:rgb(35,31,31);
}
#P192_18
{
left:9251.48px;bottom:36092.8px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P192_19
{
left:0px;letter-spacing:0.4px;margin-left:14.2px;
}
#P192_20
{
left:0px;letter-spacing:-14px;margin-left:-42.4px;
}
#P192_21
{
left:0px;letter-spacing:0px;margin-left:-17.6px;
}
#P192_22
{
left:0px;letter-spacing:0.2px;
}
#P192_23
{
left:0px;letter-spacing:0px;margin-left:-42.3px;
}
#P192_24
{
left:9251.48px;bottom:34812.8px;word-spacing:-147.8px;color:rgb(35,31,31);
}
#P192_25
{
left:10403.6px;bottom:34812.8px;letter-spacing:-3.8px;color:rgb(35,31,31);
}
#P192_26
{
left:12277.8px;bottom:34812.8px;color:rgb(35,31,31);
}
#P192_27
{
left:13595.1px;bottom:34812.8px;letter-spacing:-0.7px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P192_28
{
left:10403.6px;bottom:33916.8px;color:rgb(35,31,31);
}
#P192_29
{
left:10403.6px;bottom:33020.8px;color:rgb(35,31,31);
}
#P192_30
{
left:0px;letter-spacing:0px;margin-left:-42.2px;
}
#P192_31
{
left:9251.48px;bottom:31164.7px;letter-spacing:-6.9px;word-spacing:-140.9px;color:rgb(35,31,31);
}
#P192_32
{
left:10403.6px;bottom:31164.7px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P192_33
{
left:0px;letter-spacing:0px;margin-left:0.8px;
}
#P192_34
{
left:10403.6px;bottom:30268.7px;letter-spacing:-1.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P192_35
{
left:10403.6px;bottom:29372.8px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P192_36
{
left:0px;letter-spacing:0px;margin-left:0.8px;
}
#P192_37
{
left:10403.6px;bottom:28476.8px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P192_38
{
left:0px;letter-spacing:0px;margin-left:-12.7px;
}
#P192_39
{
left:10403.5px;bottom:26812.8px;word-spacing:-94.4px;color:rgb(35,31,31);
}
#P192_40
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P192_41
{
left:11998.9px;bottom:26783.2px;color:rgb(35,31,31);
}
#P192_42
{
left:12585.3px;bottom:26812.8px;color:rgb(35,31,31);
}
#P192_43
{
left:16083.7px;bottom:26620.8px;color:rgb(35,31,31);
}
#P192_44
{
left:17635.5px;bottom:26820.8px;color:rgb(0,124,196);
}
#P192_45
{
left:9251.48px;bottom:24700.8px;word-spacing:-147.8px;color:rgb(35,31,31);
}
#P192_46
{
left:10403.5px;bottom:24700.8px;color:rgb(35,31,31);
}
#P192_47
{
left:10403.5px;bottom:23804.8px;color:rgb(35,31,31);
}
#P192_48
{
left:12448.5px;bottom:23804.8px;letter-spacing:-1px;word-spacing:0.2px;color:rgb(35,31,31);
}
#P192_49
{
left:9251.48px;bottom:22076.8px;color:rgb(35,31,31);
}
#P192_50
{
left:9251.48px;bottom:22076.8px;color:rgb(35,31,31);
}
#P192_51
{
left:10403.5px;bottom:22076.8px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P192_52
{
left:0px;letter-spacing:-0.7px;margin-left:-12.5px;
}
#P192_53
{
left:0px;letter-spacing:-1.1px;margin-left:0.5px;
}
#P192_54
{
left:10403.5px;bottom:21180.8px;color:rgb(35,31,31);
}
#P192_55
{
left:10403.5px;bottom:20284.8px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P192_56
{
left:0px;letter-spacing:0px;margin-left:0.9px;
}
#P192_57
{
left:10403.5px;bottom:19388.9px;letter-spacing:0.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P192_58
{
left:9251.48px;bottom:17660.9px;color:rgb(35,31,31);
}
#P192_59
{
left:9251.48px;bottom:17660.9px;color:rgb(35,31,31);
}
#P192_60
{
left:9813.98px;bottom:17660.9px;letter-spacing:431.1px;color:rgb(35,31,31);
}
#P192_61
{
left:0px;letter-spacing:0px;margin-left:-589.5px;
}
#P192_62
{
left:0px;letter-spacing:0px;margin-left:-12.5px;
}
#P192_63
{
left:0px;letter-spacing:-21.1px;margin-left:-14px;
}
#P192_64
{
left:0px;letter-spacing:0px;margin-left:-42.2px;
}
#P192_65
{
left:0px;letter-spacing:0px;
}
#P192_66
{
left:10403.5px;bottom:16765px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P192_67
{
left:10403.5px;bottom:15869.1px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P192_68
{
left:0px;letter-spacing:0px;margin-left:-214.4px;
}
#P192_69
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P192_70
{
left:0px;letter-spacing:-0.8px;
}
#P192_71
{
left:10403.5px;bottom:14973.1px;color:rgb(35,31,31);
}
#P192_72
{
left:0px;letter-spacing:0px;margin-left:-214.7px;
}
#P192_73
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P192_74
{
left:0px;letter-spacing:-1.4px;
}
#P192_75
{
left:0px;letter-spacing:-0.5px;margin-left:-12.6px;
}
#P192_76
{
left:0px;letter-spacing:-56.2px;margin-left:-20.5px;
}
#P192_77
{
left:9251.55px;bottom:13245.2px;color:rgb(35,31,31);
}
#P192_78
{
left:9251.55px;bottom:13245.2px;letter-spacing:-6.9px;color:rgb(35,31,31);
}
#P192_79
{
left:9682.59px;bottom:13245.2px;letter-spacing:562.6px;color:rgb(35,31,31);
}
#P192_80
{
left:0px;letter-spacing:0px;margin-left:-721px;
}
#P192_81
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P192_82
{
left:0px;letter-spacing:-1.6px;
}
#P192_83
{
left:0px;letter-spacing:0.6px;margin-left:1.6px;
}
#P192_84
{
left:18449.8px;bottom:13245.2px;color:rgb(35,31,31);
}
#P192_85
{
left:21020.1px;bottom:13245.2px;color:rgb(35,31,31);
}
#P192_86
{
left:10403.5px;bottom:12349.2px;letter-spacing:-0.8px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P192_87
{
left:0px;letter-spacing:-0.7px;margin-left:-6.1px;
}
#P192_88
{
left:10403.5px;bottom:10685.2px;word-spacing:-94.4px;color:rgb(35,31,31);
}
#P192_89
{
left:0px;letter-spacing:0px;margin-left:-13.9px;
}
#P192_90
{
left:11998.9px;bottom:10655.7px;color:rgb(35,31,31);
}
#P192_91
{
left:12585.4px;bottom:10685.2px;color:rgb(35,31,31);
}
#P192_92
{
left:16083.7px;bottom:10492.8px;color:rgb(35,31,31);
}
#P192_93
{
left:17635.5px;bottom:10692.8px;letter-spacing:-8.3px;color:rgb(0,124,196);
}
#P192_94
{
left:0px;letter-spacing:0px;margin-left:8.3px;
}
#P192_95
{
left:9251.48px;bottom:8572.78px;color:rgb(35,31,31);
}
#P192_96
{
left:9251.48px;bottom:8572.78px;color:rgb(35,31,31);
}
#P192_97
{
left:9823.83px;bottom:8572.78px;letter-spacing:421.2px;color:rgb(35,31,31);
}
#P192_98
{
left:0px;letter-spacing:0px;margin-left:-579.6px;
}
#P192_99
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P192_100
{
left:0px;letter-spacing:0.1px;
}
#P192_101
{
left:0px;letter-spacing:0px;margin-left:-214.9px;
}
#P192_102
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P192_103
{
left:0px;letter-spacing:-1.2px;
}
#P192_104
{
left:10403.5px;bottom:7676.78px;letter-spacing:-0.7px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P192_105
{
left:0px;letter-spacing:-0.1px;margin-left:-13.2px;
}
#P192_106
{
left:10403.5px;bottom:6012.84px;word-spacing:-94.4px;color:rgb(35,31,31);
}
#P192_107
{
left:0px;letter-spacing:0px;margin-left:-13.9px;
}
#P192_108
{
left:11998.9px;bottom:5983.28px;color:rgb(35,31,31);
}
#P192_109
{
left:12585.3px;bottom:6012.84px;color:rgb(35,31,31);
}
#P192_110
{
left:16083.7px;bottom:5820.78px;color:rgb(35,31,31);
}
#P192_111
{
left:17635.5px;bottom:6020.78px;word-spacing:-36.9px;color:rgb(0,124,196);
}
#P192_112
{
left:9251.48px;bottom:3900.78px;color:rgb(35,31,31);
}
#P192_113
{
left:9251.48px;bottom:3900.78px;color:rgb(35,31,31);
}
#P192_114
{
left:9892.83px;bottom:3900.78px;letter-spacing:352.3px;color:rgb(35,31,31);
}
#P192_115
{
left:0px;letter-spacing:-2px;margin-left:-360.7px;
}
#P192_116
{
left:0px;letter-spacing:-1.1px;margin-left:2px;
}
#P192_117
{
left:0px;letter-spacing:0.3px;margin-left:1.1px;
}
#P192_118
{
left:10129.7px;bottom:37653px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P192_119
{
left:13554.8px;bottom:37844.8px;color:rgb(255,223,126);
}
#P192_120
{
left:14179.5px;bottom:37653px;word-spacing:207.4px;color:white;
}
#P192_121
{
left:15555.9px;bottom:37844.8px;color:white;
}
#P192_122
{
left:15796.1px;bottom:37653px;color:white;
}
#P192_123
{
left:16244.5px;bottom:37844.8px;color:white;
}
#P192_124
{
left:16484.7px;bottom:37653px;letter-spacing:-4.6px;color:white;
}
#P192_125
{
left:0px;letter-spacing:-1.6px;margin-left:4.6px;
}
#P192_126
{
left:0px;letter-spacing:-39.7px;margin-left:1.6px;
}
#P192_127
{
left:0px;letter-spacing:0px;margin-left:24.3px;
}
#P192_128
{
left:29251px;bottom:37844.8px;color:white;
}
#P192_129
{
left:29491.2px;bottom:37653px;color:white;
}
#P192_130
{
left:8389.27px;bottom:37529.5px;
}
#P192_131
{
left:8389.27px;bottom:37529.5px;color:white;
}
#P192_132
{
left:29856.3px;bottom:30484.1px;color:rgb(33,31,31);
}
#P192_133
{
left:27836.3px;bottom:28787.8px;color:rgb(33,31,31);
}
#P192_134
{
left:28188.3px;bottom:28507px;color:rgb(33,31,31);
}
#P192_135
{
left:27132.4px;bottom:32922.3px;color:rgb(33,31,31);
}
#P192_136
{
left:27484.3px;bottom:32641.4px;color:rgb(33,31,31);
}
#P192_137
{
left:30592.9px;bottom:26700.1px;
}
#P192_138
{
left:30592.9px;bottom:26700.1px;
}
#P192_139
{
left:0px;letter-spacing:0px;margin-left:-1312.1px;
}
#P192_140
{
left:0px;letter-spacing:0px;
}
#P192_141
{
left:31905px;bottom:26700.1px;color:rgb(0,124,196);
}
#P192_142
{
left:32065.2px;bottom:26700.1px;
}
#P192_143
{
left:31022.6px;bottom:17136.1px;
}
#P192_144
{
left:29002.6px;bottom:15427.1px;
}
#P192_145
{
left:29354.6px;bottom:15146.2px;
}
#P192_146
{
left:28298.6px;bottom:19580.7px;
}
#P192_147
{
left:28650.6px;bottom:19299.7px;
}
#P192_148
{
left:31022.6px;bottom:17136.1px;color:rgb(33,31,31);
}
#P192_149
{
left:29002.6px;bottom:15427.1px;color:rgb(33,31,31);
}
#P192_150
{
left:29002.6px;bottom:15427.1px;
}
#P192_151
{
left:29354.6px;bottom:15146.2px;color:rgb(33,31,31);
}
#P192_152
{
left:28298.6px;bottom:19580.7px;letter-spacing:-351.9px;
}
#P192_153
{
left:28650.6px;bottom:19299.7px;letter-spacing:-240.2px;
}
#P192_154
{
left:33033.6px;bottom:19459.2px;color:rgb(33,31,31);
}
#P192_155
{
left:30719.1px;bottom:18544.8px;letter-spacing:2342px;color:rgb(33,31,31);
}
#P192_156
{
left:23571.8px;bottom:16364.5px;color:rgb(33,31,31);
}
#P192_157
{
left:0px;letter-spacing:0px;
}
#P192_158
{
left:0px;letter-spacing:833px;margin-left:541.3px;
}
#P192_159
{
left:28995.2px;bottom:18507px;letter-spacing:833px;color:rgb(33,31,31);
}
#P192_160
{
left:32571.2px;bottom:19919.8px;color:rgb(33,31,31);
}
#P192_161
{
left:32707.5px;bottom:19973.6px;color:rgb(33,31,31);
}
#P192_162
{
left:0px;letter-spacing:0px;margin-left:686.4px;
}
#P192_163
{
left:0px;letter-spacing:0px;margin-left:0.1px;
}
#P192_164
{
left:34393px;bottom:20639.6px;
}
#P192_165
{
left:34529.3px;bottom:20693.4px;
}
#P192_166
{
left:30585.3px;bottom:8378.67px;color:rgb(33,31,31);
}
#P192_167
{
left:28560.2px;bottom:6659.56px;color:rgb(33,31,31);
}
#P192_168
{
left:28912.2px;bottom:6378.57px;color:rgb(33,31,31);
}
#P192_169
{
left:27605.3px;bottom:11354.7px;color:rgb(33,31,31);
}
#P192_170
{
left:27957.3px;bottom:11073.7px;color:rgb(33,31,31);
}
#P192_171
{
left:4301.34px;bottom:13360.5px;color:rgb(35,31,31);
}
#P192_172
{
left:4674.39px;bottom:13388.9px;letter-spacing:-10.2px;color:rgb(35,31,31);
}
#P192_173
{
left:6691.93px;bottom:13360.5px;color:rgb(35,31,31);
}
#P192_174
{
left:4301.34px;bottom:12656.5px;letter-spacing:-14.1px;color:rgb(35,31,31);
}
#P192_175
{
left:5012.31px;bottom:12684.9px;letter-spacing:-10.4px;color:rgb(35,31,31);
}
#P192_176
{
left:2365.37px;bottom:11756.9px;letter-spacing:8.7px;color:rgb(35,31,31);
}
#P192_177
{
left:2365.37px;bottom:10980.8px;letter-spacing:-3.3px;word-spacing:-0.7px;color:rgb(35,31,31);
}
#P192_178
{
left:0px;letter-spacing:-0.3px;margin-left:2.4px;
}
#P192_179
{
left:0px;letter-spacing:-3.1px;margin-left:-4.5px;
}
#P192_180
{
left:2365.37px;bottom:10487px;color:rgb(35,31,31);
}
#P192_181
{
left:2615.28px;bottom:10268.8px;color:rgb(35,31,31);
}
#P192_182
{
left:2960.24px;bottom:10292.8px;color:rgb(35,31,31);
}
#P192_183
{
left:2960.24px;bottom:10308.8px;letter-spacing:-135.2px;word-spacing:-0.5px;color:rgb(35,31,31);
}
#P192_184
{
left:0px;letter-spacing:-1.8px;margin-left:141.9px;
}
#P192_185
{
left:0px;letter-spacing:-2.5px;margin-left:124.5px;
}
#P192_186
{
left:0px;letter-spacing:-1.3px;margin-left:4.8px;
}
#P192_187
{
left:2365.37px;bottom:9815.02px;color:rgb(35,31,31);
}
#P192_188
{
left:2615.28px;bottom:9596.78px;color:rgb(35,31,31);
}
#P192_189
{
left:2960.24px;bottom:9636.78px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P192_190
{
left:0px;letter-spacing:-2.7px;margin-left:5.3px;
}
#P192_191
{
left:0px;letter-spacing:0.6px;margin-left:3.2px;
}
#P192_192
{
left:2365.38px;bottom:8868.78px;letter-spacing:4px;word-spacing:-5.4px;color:rgb(35,31,31);
}
#P192_193
{
left:0px;letter-spacing:5.4px;margin-left:8.7px;
}
#P192_194
{
left:2365.38px;bottom:8228.72px;letter-spacing:3.7px;color:rgb(35,31,31);
}
#P192_195
{
left:0px;letter-spacing:0px;margin-left:-28.5px;
}
#PageContainer192
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg192.jpg");background-repeat:no-repeat;background-size: 1066px 1206px; background-position: 1px -0.519999999999982px;
}
#ImageContainer192 {bottom:158.52px;right:0.00px;width:1066.24px;height:1205.64px;position:absolute;} #TextContainer192 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
  .geo{position: absolute;top: 302px;left: 100px;}
.rpj{position: absolute;top: 195px;left: 157px;}
.srpj{position: absolute;top: 194px;left: 105px;}
.math_paper{position: absolute;top: 306px;left: 166px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}