.tr376{ color:transparent;}
#P376_1
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P376_2
{
left:3540.44px;bottom:1417.71px;color:rgb(35,31,31);
}
#P376_3
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P376_4
{
left:9120.15px;bottom:1417.71px;letter-spacing:0.2px;word-spacing:461px;color:rgb(35,31,31);
}
#P376_5
{
left:0px;letter-spacing:0px;margin-left:-461.2px;
}
#P376_6
{
left:0px;letter-spacing:2.9px;margin-left:1.1px;
}
#P376_7
{
left:0px;letter-spacing:0px;margin-left:-463.9px;
}
#P376_8
{
left:0px;letter-spacing:1.3px;margin-left:1.1px;
}
#P376_9
{
left:4669.4px;bottom:45479.5px;color:rgb(35,31,31);
}
#P376_10
{
left:5237.98px;bottom:45499.2px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P376_11
{
left:6269.4px;bottom:45479.5px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P376_12
{
left:0px;letter-spacing:-3.5px;margin-left:0.2px;
}
#P376_13
{
left:0px;letter-spacing:-5.2px;margin-left:3.5px;
}
#P376_14
{
left:0px;letter-spacing:0px;margin-left:-50.9px;
}
#P376_15
{
left:4669.4px;bottom:44007.5px;color:rgb(35,31,31);
}
#P376_16
{
left:5629.4px;bottom:44027.2px;color:rgb(35,31,31);
}
#P376_17
{
left:14141.4px;bottom:42832.6px;color:rgb(35,31,31);
}
#P376_18
{
left:14717.4px;bottom:42819.9px;color:rgb(35,31,31);
}
#P376_19
{
left:15218.6px;bottom:42862.1px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P376_20
{
left:15239.8px;bottom:43241.6px;color:rgb(35,31,31);
}
#P376_21
{
left:15611.7px;bottom:42841.7px;color:rgb(35,31,31);
}
#P376_22
{
left:15218.6px;bottom:42823.9px;color:rgb(35,31,31);
}
#P376_23
{
left:15632.8px;bottom:42863.4px;color:rgb(35,31,31);
}
#P376_24
{
left:15245.5px;bottom:42334.1px;color:rgb(35,31,31);
}
#P376_25
{
left:15606px;bottom:42841.7px;color:rgb(35,31,31);
}
#P376_26
{
left:15632.8px;bottom:42862.1px;color:rgb(35,31,31);
}
#P376_27
{
left:15632.8px;bottom:42819.9px;color:rgb(35,31,31);
}
#P376_28
{
left:15808.8px;bottom:42832.6px;color:rgb(35,31,31);
}
#P376_29
{
left:16395.2px;bottom:42819.9px;color:rgb(35,31,31);
}
#P376_30
{
left:16883.8px;bottom:42862.1px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P376_31
{
left:16974.6px;bottom:43241.6px;color:rgb(35,31,31);
}
#P376_32
{
left:17176.7px;bottom:42841.7px;color:rgb(35,31,31);
}
#P376_33
{
left:16883.8px;bottom:42823.9px;color:rgb(35,31,31);
}
#P376_34
{
left:17267.5px;bottom:42863.4px;color:rgb(35,31,31);
}
#P376_35
{
left:16904.9px;bottom:42334.1px;color:rgb(35,31,31);
}
#P376_36
{
left:17246.4px;bottom:42841.7px;color:rgb(35,31,31);
}
#P376_37
{
left:17267.5px;bottom:42862.1px;color:rgb(35,31,31);
}
#P376_38
{
left:17267.5px;bottom:42819.9px;color:rgb(35,31,31);
}
#P376_39
{
left:17443.5px;bottom:42832.6px;color:rgb(35,31,31);
}
#P376_40
{
left:18030px;bottom:42819.9px;color:rgb(35,31,31);
}
#P376_41
{
left:18206px;bottom:42862.1px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P376_42
{
left:18227.1px;bottom:43241.6px;color:rgb(35,31,31);
}
#P376_43
{
left:18846.7px;bottom:42841.7px;color:rgb(35,31,31);
}
#P376_44
{
left:18206px;bottom:42823.9px;color:rgb(35,31,31);
}
#P376_45
{
left:18867.9px;bottom:42863.4px;color:rgb(35,31,31);
}
#P376_46
{
left:18356.6px;bottom:42334.1px;color:rgb(35,31,31);
}
#P376_47
{
left:18717.1px;bottom:42841.7px;color:rgb(35,31,31);
}
#P376_48
{
left:18867.9px;bottom:42862.1px;color:rgb(35,31,31);
}
#P376_49
{
left:18867.9px;bottom:42819.9px;color:rgb(35,31,31);
}
#P376_50
{
left:19043.9px;bottom:42832.6px;color:rgb(35,31,31);
}
#P376_51
{
left:19630.3px;bottom:42819.9px;color:rgb(35,31,31);
}
#P376_52
{
left:19806.3px;bottom:42862.1px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P376_53
{
left:19827.4px;bottom:43241.6px;color:rgb(35,31,31);
}
#P376_54
{
left:20199.3px;bottom:42841.7px;color:rgb(35,31,31);
}
#P376_55
{
left:19806.3px;bottom:42823.9px;color:rgb(35,31,31);
}
#P376_56
{
left:20220.4px;bottom:42863.4px;color:rgb(35,31,31);
}
#P376_57
{
left:19842.6px;bottom:42334.1px;color:rgb(35,31,31);
}
#P376_58
{
left:20184.1px;bottom:42841.7px;color:rgb(35,31,31);
}
#P376_59
{
left:20220.4px;bottom:42862.1px;color:rgb(35,31,31);
}
#P376_60
{
left:14141.4px;bottom:40720.6px;letter-spacing:3152px;color:rgb(35,31,31);
}
#P376_61
{
left:18055.8px;bottom:40707.9px;color:rgb(35,31,31);
}
#P376_62
{
left:18231.8px;bottom:40750.1px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P376_63
{
left:18253px;bottom:41129.6px;color:rgb(35,31,31);
}
#P376_64
{
left:18898.6px;bottom:40729.7px;color:rgb(35,31,31);
}
#P376_65
{
left:18231.8px;bottom:40711.9px;color:rgb(35,31,31);
}
#P376_66
{
left:18919.7px;bottom:40751.4px;color:rgb(35,31,31);
}
#P376_67
{
left:18395.5px;bottom:40222.1px;color:rgb(35,31,31);
}
#P376_68
{
left:18756px;bottom:40729.7px;color:rgb(35,31,31);
}
#P376_69
{
left:18919.7px;bottom:40750.1px;color:rgb(35,31,31);
}
#P376_70
{
left:14141.4px;bottom:38608.6px;letter-spacing:3152px;color:rgb(35,31,31);
}
#P376_71
{
left:18055.8px;bottom:38595.9px;color:rgb(35,31,31);
}
#P376_72
{
left:18720.4px;bottom:38638.1px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P376_73
{
left:18751px;bottom:39017.6px;color:rgb(35,31,31);
}
#P376_74
{
left:19092.5px;bottom:38617.7px;color:rgb(35,31,31);
}
#P376_75
{
left:18720.4px;bottom:38599.9px;color:rgb(35,31,31);
}
#P376_76
{
left:19123.2px;bottom:38639.4px;color:rgb(35,31,31);
}
#P376_77
{
left:18741.5px;bottom:38110.1px;color:rgb(35,31,31);
}
#P376_78
{
left:19102px;bottom:38617.7px;color:rgb(35,31,31);
}
#P376_79
{
left:19123.2px;bottom:38638.1px;color:rgb(35,31,31);
}
#P376_80
{
left:4669.4px;bottom:36199.5px;color:rgb(35,31,31);
}
#P376_81
{
left:5629.4px;bottom:36219.2px;letter-spacing:444.3px;color:rgb(35,31,31);
}
#P376_82
{
left:6269.4px;bottom:36199.5px;color:rgb(35,31,31);
}
#P376_83
{
left:7968.86px;bottom:36219.2px;color:rgb(35,31,31);
}
#P376_84
{
left:8164.57px;bottom:36199.5px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P376_85
{
left:0px;letter-spacing:0px;margin-left:0.4px;
}
#P376_86
{
left:6269.4px;bottom:35303.5px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P376_87
{
left:13076.4px;bottom:35303.5px;color:rgb(0,124,196);
}
#P376_88
{
left:4669.4px;bottom:33831.5px;color:rgb(35,31,31);
}
#P376_89
{
left:6145.11px;bottom:33851.2px;color:rgb(35,31,31);
}
#P376_90
{
left:6849.11px;bottom:33831.5px;letter-spacing:285.9px;color:rgb(35,31,31);
}
#P376_91
{
left:0px;letter-spacing:0px;margin-left:-292.8px;
}
#P376_92
{
left:4669.4px;bottom:32295.5px;color:rgb(35,31,31);
}
#P376_93
{
left:6223.26px;bottom:32315.2px;color:rgb(35,31,31);
}
#P376_94
{
left:6849.11px;bottom:32295.5px;letter-spacing:285.9px;color:rgb(35,31,31);
}
#P376_95
{
left:0px;letter-spacing:0px;margin-left:-311.2px;
}
#P376_96
{
left:0px;letter-spacing:-2.2px;
}
#P376_97
{
left:0px;letter-spacing:-1.6px;margin-left:2.2px;
}
#P376_98
{
left:0px;letter-spacing:0px;margin-left:1.6px;
}
#P376_99
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P376_100
{
left:16411.8px;bottom:32735.1px;color:rgb(35,31,31);
}
#P376_101
{
left:17083.4px;bottom:32313.1px;color:rgb(35,31,31);
}
#P376_102
{
left:16390.7px;bottom:32279.5px;color:rgb(35,31,31);
}
#P376_103
{
left:17104.5px;bottom:32296.7px;color:rgb(35,31,31);
}
#P376_104
{
left:16579.7px;bottom:31827.6px;color:rgb(35,31,31);
}
#P376_105
{
left:16915.5px;bottom:32313.1px;color:rgb(35,31,31);
}
#P376_106
{
left:17104.5px;bottom:32295.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P376_107
{
left:4669.47px;bottom:30439.5px;color:rgb(35,31,31);
}
#P376_108
{
left:6223.32px;bottom:30459.2px;color:rgb(35,31,31);
}
#P376_109
{
left:6849.18px;bottom:30439.5px;letter-spacing:285.9px;color:rgb(35,31,31);
}
#P376_110
{
left:0px;letter-spacing:0px;margin-left:-311.2px;
}
#P376_111
{
left:0px;letter-spacing:-2.5px;
}
#P376_112
{
left:0px;letter-spacing:-1.6px;margin-left:2.5px;
}
#P376_113
{
left:0px;letter-spacing:0px;margin-left:1.6px;
}
#P376_114
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P376_115
{
left:16411.8px;bottom:30879.1px;color:rgb(35,31,31);
}
#P376_116
{
left:16747.6px;bottom:30457.1px;color:rgb(35,31,31);
}
#P376_117
{
left:16390.7px;bottom:30423.5px;color:rgb(35,31,31);
}
#P376_118
{
left:16768.7px;bottom:30440.7px;color:rgb(35,31,31);
}
#P376_119
{
left:16411.8px;bottom:29971.6px;color:rgb(35,31,31);
}
#P376_120
{
left:16747.6px;bottom:30457.1px;color:rgb(35,31,31);
}
#P376_121
{
left:16768.7px;bottom:30439.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P376_122
{
left:4669.4px;bottom:28583.5px;color:rgb(35,31,31);
}
#P376_123
{
left:6145.24px;bottom:28603.2px;color:rgb(35,31,31);
}
#P376_124
{
left:7293.54px;bottom:28583.5px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P376_125
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P376_126
{
left:0px;letter-spacing:0px;margin-left:-285.9px;
}
#P376_127
{
left:10550.9px;bottom:29023.1px;color:rgb(35,31,31);
}
#P376_128
{
left:10886.7px;bottom:28601.1px;color:rgb(35,31,31);
}
#P376_129
{
left:10529.8px;bottom:28567.5px;color:rgb(35,31,31);
}
#P376_130
{
left:10907.9px;bottom:28584.7px;color:rgb(35,31,31);
}
#P376_131
{
left:10550.9px;bottom:28115.6px;color:rgb(35,31,31);
}
#P376_132
{
left:10886.7px;bottom:28601.1px;color:rgb(35,31,31);
}
#P376_133
{
left:10907.9px;bottom:28583.5px;color:rgb(35,31,31);
}
#P376_134
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P376_135
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P376_136
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P376_137
{
left:12382px;bottom:29023.1px;color:rgb(35,31,31);
}
#P376_138
{
left:12717.8px;bottom:28601.1px;color:rgb(35,31,31);
}
#P376_139
{
left:12360.9px;bottom:28567.5px;color:rgb(35,31,31);
}
#P376_140
{
left:12738.9px;bottom:28584.7px;color:rgb(35,31,31);
}
#P376_141
{
left:12382px;bottom:28115.6px;color:rgb(35,31,31);
}
#P376_142
{
left:12717.8px;bottom:28601.1px;color:rgb(35,31,31);
}
#P376_143
{
left:12738.9px;bottom:28583.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P376_144
{
left:4669.4px;bottom:25959.5px;color:rgb(35,31,31);
}
#P376_145
{
left:5237.85px;bottom:25979.2px;color:rgb(35,31,31);
}
#P376_146
{
left:6269.27px;bottom:25959.5px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P376_147
{
left:0px;letter-spacing:-56.2px;margin-left:-20.8px;
}
#P376_148
{
left:4669.4px;bottom:23975.3px;letter-spacing:1825.6px;color:rgb(35,31,31);
}
#P376_149
{
left:9797.91px;bottom:23963.8px;letter-spacing:931.3px;color:rgb(35,31,31);
}
#P376_150
{
left:0px;letter-spacing:0px;margin-left:-142.3px;
}
#P376_151
{
left:0px;letter-spacing:0px;
}
#P376_152
{
left:0px;letter-spacing:0px;margin-left:646.7px;
}
#P376_153
{
left:0px;letter-spacing:0px;
}
#P376_154
{
left:0px;letter-spacing:0px;margin-left:646.7px;
}
#P376_155
{
left:0px;letter-spacing:0px;
}
#P376_156
{
left:4669.4px;bottom:21671.5px;color:rgb(35,31,31);
}
#P376_157
{
left:5629.4px;bottom:21691.2px;letter-spacing:444.3px;color:rgb(35,31,31);
}
#P376_158
{
left:6269.4px;bottom:21671.5px;color:rgb(35,31,31);
}
#P376_159
{
left:7968.86px;bottom:21691.2px;color:rgb(35,31,31);
}
#P376_160
{
left:8164.57px;bottom:21671.5px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P376_161
{
left:6269.4px;bottom:20775.5px;letter-spacing:1px;color:rgb(0,124,196);
}
#P376_162
{
left:4669.4px;bottom:18535.5px;color:rgb(35,31,31);
}
#P376_163
{
left:5237.98px;bottom:18555.2px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P376_164
{
left:6269.4px;bottom:18535.5px;letter-spacing:-0.2px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P376_165
{
left:0px;letter-spacing:-0.2px;margin-left:-13.8px;
}
#P376_166
{
left:0px;letter-spacing:-0.1px;margin-left:0.2px;
}
#P376_167
{
left:6269.4px;bottom:17639.5px;letter-spacing:0.3px;color:rgb(35,31,31);
}
#P376_168
{
left:0px;letter-spacing:0px;margin-left:-42.4px;
}
#P376_169
{
left:0px;letter-spacing:-0.9px;
}
#P376_170
{
left:0px;letter-spacing:0px;margin-left:-13.1px;
}
#P376_171
{
left:23291.4px;bottom:17639.5px;color:rgb(35,31,31);
}
#P376_172
{
left:23601.9px;bottom:17639.5px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P376_173
{
left:27442.8px;bottom:17639.5px;color:rgb(35,31,31);
}
#P376_174
{
left:27858.2px;bottom:17639.5px;letter-spacing:0.8px;color:rgb(35,31,31);
}
#P376_175
{
left:6269.4px;bottom:16743.5px;letter-spacing:1px;color:rgb(0,124,196);
}
#P376_176
{
left:4669.4px;bottom:15015.5px;color:rgb(35,31,31);
}
#P376_177
{
left:6392.15px;bottom:15035.2px;letter-spacing:-90.7px;color:rgb(35,31,31);
}
#P376_178
{
left:6849.11px;bottom:15015.5px;color:rgb(35,31,31);
}
#P376_179
{
left:7293.4px;bottom:15015.5px;color:rgb(35,31,31);
}
#P376_180
{
left:7603.87px;bottom:15015.5px;color:rgb(35,31,31);
}
#P376_181
{
left:7762.27px;bottom:14985.9px;color:rgb(35,31,31);
}
#P376_182
{
left:8348.7px;bottom:15015.5px;color:rgb(35,31,31);
}
#P376_183
{
left:9411.74px;bottom:14985.9px;color:rgb(35,31,31);
}
#P376_184
{
left:9998.11px;bottom:15015.5px;color:rgb(35,31,31);
}
#P376_185
{
left:10902.7px;bottom:15015.5px;color:rgb(35,31,31);
}
#P376_186
{
left:11318.1px;bottom:15015.5px;color:rgb(35,31,31);
}
#P376_187
{
left:20737.2px;bottom:15035.2px;color:rgb(35,31,31);
}
#P376_188
{
left:21441.2px;bottom:15015.5px;color:rgb(35,31,31);
}
#P376_189
{
left:21885.5px;bottom:15015.5px;color:rgb(35,31,31);
}
#P376_190
{
left:22300.9px;bottom:15015.5px;color:rgb(35,31,31);
}
#P376_191
{
left:22459.3px;bottom:14985.9px;color:rgb(35,31,31);
}
#P376_192
{
left:23045.7px;bottom:15015.5px;color:rgb(35,31,31);
}
#P376_193
{
left:24108.8px;bottom:14985.9px;color:rgb(35,31,31);
}
#P376_194
{
left:24695.2px;bottom:15015.5px;color:rgb(35,31,31);
}
#P376_195
{
left:25599.7px;bottom:15015.5px;color:rgb(35,31,31);
}
#P376_196
{
left:4669.4px;bottom:13479.5px;color:rgb(35,31,31);
}
#P376_197
{
left:6145.11px;bottom:13499.2px;color:rgb(35,31,31);
}
#P376_198
{
left:6849.11px;bottom:13479.5px;color:rgb(35,31,31);
}
#P376_199
{
left:7293.4px;bottom:13479.5px;color:rgb(35,31,31);
}
#P376_200
{
left:7603.87px;bottom:13479.5px;color:rgb(35,31,31);
}
#P376_201
{
left:7762.27px;bottom:13449.9px;color:rgb(35,31,31);
}
#P376_202
{
left:8348.7px;bottom:13479.5px;color:rgb(35,31,31);
}
#P376_203
{
left:9411.74px;bottom:13449.9px;color:rgb(35,31,31);
}
#P376_204
{
left:9998.11px;bottom:13479.5px;color:rgb(35,31,31);
}
#P376_205
{
left:10902.7px;bottom:13479.5px;color:rgb(35,31,31);
}
#P376_206
{
left:11318.1px;bottom:13479.5px;color:rgb(35,31,31);
}
#P376_207
{
left:21049.8px;bottom:13499.2px;color:rgb(35,31,31);
}
#P376_208
{
left:21441.2px;bottom:13479.5px;color:rgb(35,31,31);
}
#P376_209
{
left:21885.5px;bottom:13479.5px;color:rgb(35,31,31);
}
#P376_210
{
left:22300.9px;bottom:13479.5px;color:rgb(35,31,31);
}
#P376_211
{
left:22459.3px;bottom:13449.9px;color:rgb(35,31,31);
}
#P376_212
{
left:23045.7px;bottom:13479.5px;color:rgb(35,31,31);
}
#P376_213
{
left:24108.8px;bottom:13449.9px;color:rgb(35,31,31);
}
#P376_214
{
left:24695.1px;bottom:13479.5px;color:rgb(35,31,31);
}
#P376_215
{
left:25599.7px;bottom:13479.5px;color:rgb(35,31,31);
}
#P376_216
{
left:4669.4px;bottom:11239.5px;color:rgb(35,31,31);
}
#P376_217
{
left:5237.98px;bottom:11259.2px;color:rgb(35,31,31);
}
#P376_218
{
left:6269.4px;bottom:11239.5px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P376_219
{
left:0px;letter-spacing:0px;margin-left:-17.4px;
}
#P376_220
{
left:0px;letter-spacing:-4.2px;
}
#P376_221
{
left:0px;letter-spacing:0px;margin-left:4.2px;
}
#P376_222
{
left:23850.5px;bottom:11239.5px;letter-spacing:1px;color:rgb(0,124,196);
}
#P376_223
{
left:10685.3px;bottom:9767.47px;word-spacing:1441.6px;color:rgb(35,31,31);
}
#P376_224
{
left:11836.5px;bottom:9737.9px;color:rgb(35,31,31);
}
#P376_225
{
left:12422.8px;bottom:9767.47px;color:rgb(35,31,31);
}
#P376_226
{
left:13359.1px;bottom:9737.9px;color:rgb(35,31,31);
}
#P376_227
{
left:13945.5px;bottom:9767.47px;color:rgb(35,31,31);
}
#P376_228
{
left:15501.3px;bottom:9737.9px;color:rgb(35,31,31);
}
#P376_229
{
left:16087.8px;bottom:9767.47px;color:rgb(35,31,31);
}
#P376_230
{
left:4669.34px;bottom:8103.47px;color:rgb(35,31,31);
}
#P376_231
{
left:6145.05px;bottom:8123.18px;color:rgb(35,31,31);
}
#P376_232
{
left:7293.34px;bottom:8103.47px;letter-spacing:285.8px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P376_233
{
left:0px;letter-spacing:-0.4px;margin-left:-285.9px;
}
#P376_234
{
left:0px;letter-spacing:-0.1px;margin-left:-24.9px;
}
#P376_235
{
left:0px;letter-spacing:-0.1px;
}
#P376_236
{
left:4669.34px;bottom:6567.6px;color:rgb(35,31,31);
}
#P376_237
{
left:6223.19px;bottom:6587.31px;color:rgb(35,31,31);
}
#P376_238
{
left:7293.34px;bottom:6567.6px;letter-spacing:285.8px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P376_239
{
left:0px;letter-spacing:-0.5px;margin-left:-294.3px;
}
#P376_240
{
left:0px;letter-spacing:-4.3px;margin-left:0.4px;
}
#P376_241
{
left:0px;letter-spacing:-0.1px;margin-left:4.2px;
}
#P376_242
{
left:4669.34px;bottom:5031.6px;color:rgb(35,31,31);
}
#P376_243
{
left:6223.19px;bottom:5051.31px;color:rgb(35,31,31);
}
#P376_244
{
left:7293.34px;bottom:5031.6px;letter-spacing:285.7px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P376_245
{
left:0px;letter-spacing:-0.5px;margin-left:-294.2px;
}
#P376_246
{
left:0px;letter-spacing:-0.8px;margin-left:0.4px;
}
#P376_247
{
left:4669.34px;bottom:3495.6px;color:rgb(35,31,31);
}
#P376_248
{
left:6145.05px;bottom:3515.31px;color:rgb(35,31,31);
}
#P376_249
{
left:7293.48px;bottom:3495.6px;letter-spacing:-0.1px;word-spacing:286.1px;color:rgb(35,31,31);
}
#P376_250
{
left:0px;letter-spacing:0px;margin-left:-286px;
}
#P376_251
{
left:0px;letter-spacing:0.1px;margin-left:-8.4px;
}
#PageContainer376
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg376.jpg");background-repeat:no-repeat;background-size: 1066px 730px; background-position: 1px -0.650000000000091px;
}
#ImageContainer376 {bottom:634.65px;right:0.00px;width:1066.24px;height:729.51px;position:absolute;} #TextContainer376 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}