.tr418{ color:transparent;}
#P418_1
{
left:2365.4px;bottom:1409.96px;color:rgb(35,31,31);
}
#P418_2
{
left:3540.44px;bottom:1409.96px;color:rgb(35,31,31);
}
#P418_3
{
left:4925.4px;bottom:1409.96px;color:rgb(35,31,31);
}
#P418_4
{
left:7841.88px;bottom:1409.96px;letter-spacing:462.1px;color:rgb(35,31,31);
}
#P418_5
{
left:0px;letter-spacing:4.6px;margin-left:-470px;
}
#P418_6
{
left:0px;letter-spacing:2px;margin-left:-8.9px;
}
#P418_7
{
left:0px;letter-spacing:2.7px;margin-left:4.6px;
}
#P418_8
{
left:5889.56px;bottom:46957.1px;color:white;
}
#P418_9
{
left:2371.78px;bottom:46929.9px;color:white;
}
#P418_10
{
left:5433.11px;bottom:36460.3px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P418_11
{
left:12301.4px;bottom:36484.9px;color:white;
}
#P418_12
{
left:15197.5px;bottom:36676.7px;color:white;
}
#P418_13
{
left:15437.7px;bottom:36484.9px;color:white;
}
#P418_14
{
left:18927.4px;bottom:36676.7px;color:white;
}
#P418_15
{
left:19167.6px;bottom:36484.9px;color:white;
}
#P418_16
{
left:19871.8px;bottom:36676.7px;color:white;
}
#P418_17
{
left:20112px;bottom:36484.9px;color:white;
}
#P418_18
{
left:23664.7px;bottom:36676.7px;color:white;
}
#P418_19
{
left:23904.9px;bottom:36484.9px;color:white;
}
#P418_20
{
left:10457px;bottom:36317.7px;
}
#P418_21
{
left:10457px;bottom:36317.7px;color:white;
}
#P418_22
{
left:11528.4px;bottom:34855.5px;letter-spacing:-31.6px;color:rgb(35,31,31);
}
#P418_23
{
left:0px;letter-spacing:-0.5px;margin-left:31.6px;
}
#P418_24
{
left:0px;letter-spacing:-63.3px;margin-left:-41.6px;
}
#P418_25
{
left:0px;letter-spacing:0px;margin-left:63.3px;
}
#P418_26
{
left:11528.4px;bottom:33959.5px;letter-spacing:-1.6px;color:rgb(35,31,31);
}
#P418_27
{
left:0px;letter-spacing:28px;margin-left:-26.4px;
}
#P418_28
{
left:0px;letter-spacing:-0.2px;margin-left:-14.1px;
}
#P418_29
{
left:0px;letter-spacing:0px;margin-left:-27.8px;
}
#P418_30
{
left:10760.4px;bottom:32807.5px;letter-spacing:580.1px;color:rgb(35,31,31);
}
#P418_31
{
left:0px;letter-spacing:-28px;margin-left:-580.1px;
}
#P418_32
{
left:0px;letter-spacing:0px;margin-left:392.3px;
}
#P418_33
{
left:0px;letter-spacing:0px;margin-left:-12.5px;
}
#P418_34
{
left:13136.4px;bottom:31335.5px;color:rgb(35,31,31);
}
#P418_35
{
left:13840.4px;bottom:31527.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P418_36
{
left:0px;letter-spacing:-0.2px;margin-left:154.2px;
}
#P418_37
{
left:13840.4px;bottom:30631.5px;letter-spacing:0.5px;color:rgb(35,31,31);
}
#P418_38
{
left:0px;letter-spacing:0px;margin-left:-60.4px;
}
#P418_39
{
left:0px;letter-spacing:0px;
}
#P418_40
{
left:10760.4px;bottom:29351.5px;letter-spacing:544px;color:rgb(35,31,31);
}
#P418_41
{
left:0px;letter-spacing:-28px;margin-left:-550.9px;
}
#P418_42
{
left:0px;letter-spacing:0px;margin-left:392.2px;
}
#P418_43
{
left:0px;letter-spacing:0px;margin-left:-147.8px;
}
#P418_44
{
left:0px;letter-spacing:0px;margin-left:-63.3px;
}
#P418_45
{
left:0px;letter-spacing:-0.9px;
}
#P418_46
{
left:0px;letter-spacing:-1.9px;margin-left:0.9px;
}
#P418_47
{
left:0px;letter-spacing:0px;margin-left:1.9px;
}
#P418_48
{
left:12552.4px;bottom:28455.5px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P418_49
{
left:0px;letter-spacing:-0.4px;margin-left:1.2px;
}
#P418_50
{
left:12552.4px;bottom:27559.5px;letter-spacing:-1.9px;color:rgb(35,31,31);
}
#P418_51
{
left:0px;letter-spacing:-5.2px;margin-left:1.9px;
}
#P418_52
{
left:0px;letter-spacing:-1.6px;margin-left:5.2px;
}
#P418_53
{
left:0px;letter-spacing:-4.7px;margin-left:1.6px;
}
#P418_54
{
left:0px;letter-spacing:0px;margin-left:4.7px;
}
#P418_55
{
left:12552.4px;bottom:26663.5px;color:rgb(35,31,31);
}
#P418_56
{
left:12552.4px;bottom:25383.4px;letter-spacing:-7.4px;color:rgb(35,31,31);
}
#P418_57
{
left:0px;letter-spacing:-8px;margin-left:-3.8px;
}
#P418_58
{
left:0px;letter-spacing:-5.9px;margin-left:-13px;
}
#P418_59
{
left:12552.4px;bottom:24487.5px;letter-spacing:-8.8px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P418_60
{
left:0px;letter-spacing:-7px;margin-left:-23.5px;
}
#P418_61
{
left:0px;letter-spacing:-8.3px;
}
#P418_62
{
left:0px;letter-spacing:-7.5px;margin-left:1.2px;
}
#P418_63
{
left:15132.4px;bottom:18770.5px;color:rgb(35,31,31);
}
#P418_64
{
left:0px;letter-spacing:0px;margin-left:902.7px;
}
#P418_65
{
left:0px;letter-spacing:0px;margin-left:902.7px;
}
#P418_66
{
left:0px;letter-spacing:0px;margin-left:2374.7px;
}
#P418_67
{
left:0px;letter-spacing:0px;margin-left:2374.7px;
}
#P418_68
{
left:0px;letter-spacing:0px;margin-left:2374.7px;
}
#P418_69
{
left:19548.4px;bottom:18770.5px;color:rgb(35,31,31);
}
#P418_70
{
left:0px;letter-spacing:0px;margin-left:2374.7px;
}
#P418_71
{
left:0px;letter-spacing:0px;margin-left:2374.7px;
}
#P418_72
{
left:0px;letter-spacing:0px;margin-left:2374.7px;
}
#P418_73
{
left:0px;letter-spacing:0px;margin-left:902.7px;
}
#P418_74
{
left:31612.4px;bottom:19764.4px;letter-spacing:-3.1px;color:rgb(33,31,31);
}
#P418_75
{
left:31590.9px;bottom:19150px;color:rgb(33,31,31);
}
#P418_76
{
left:15226.4px;bottom:23125px;color:rgb(235,26,35);
}
#P418_77
{
left:25209px;bottom:21983.4px;color:rgb(235,26,35);
}
#P418_78
{
left:12750.7px;bottom:22050.8px;color:rgb(235,26,35);
}
#P418_79
{
left:12552.4px;bottom:17063.5px;letter-spacing:-4.2px;color:rgb(35,31,31);
}
#P418_80
{
left:0px;letter-spacing:-0.7px;margin-left:4.2px;
}
#P418_81
{
left:0px;letter-spacing:-0.3px;margin-left:-13.2px;
}
#P418_82
{
left:0px;letter-spacing:0px;margin-left:-25px;
}
#P418_83
{
left:0px;letter-spacing:-0.6px;
}
#P418_84
{
left:12552.4px;bottom:16167.5px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P418_85
{
left:10760.3px;bottom:14887.5px;letter-spacing:615.3px;color:rgb(35,31,31);
}
#P418_86
{
left:0px;letter-spacing:-28px;margin-left:-615.3px;
}
#P418_87
{
left:0px;letter-spacing:0px;margin-left:392.1px;
}
#P418_88
{
left:0px;letter-spacing:0px;margin-left:-31.6px;
}
#P418_89
{
left:0px;letter-spacing:0px;
}
#P418_90
{
left:13136.4px;bottom:13415.5px;color:rgb(35,31,31);
}
#P418_91
{
left:13840.4px;bottom:13607.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P418_92
{
left:0px;letter-spacing:0px;margin-left:137.4px;
}
#P418_93
{
left:0px;letter-spacing:-1.1px;
}
#P418_94
{
left:11528.4px;bottom:10279.3px;color:rgb(35,31,31);
}
#P418_95
{
left:11992px;bottom:10306.3px;word-spacing:453.2px;color:rgb(35,31,31);
}
#P418_96
{
left:13192.4px;bottom:10279.5px;letter-spacing:-1.6px;color:rgb(35,31,31);
}
#P418_97
{
left:0px;letter-spacing:0px;margin-left:1.6px;
}
#P418_98
{
left:13192.4px;bottom:9383.47px;letter-spacing:-1.7px;color:rgb(35,31,31);
}
#P418_99
{
left:0px;letter-spacing:0px;margin-left:-12.2px;
}
#P418_100
{
left:0px;letter-spacing:0px;margin-left:-66.9px;
}
#P418_101
{
left:0px;letter-spacing:-42px;
}
#P418_102
{
left:0px;letter-spacing:0px;margin-left:-21.2px;
}
#P418_103
{
left:0px;letter-spacing:-1.2px;
}
#P418_104
{
left:0px;letter-spacing:-14px;margin-left:-26.9px;
}
#P418_105
{
left:0px;letter-spacing:-2px;margin-left:14px;
}
#P418_106
{
left:13192.4px;bottom:8487.6px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P418_107
{
left:0px;letter-spacing:0px;margin-left:-13px;
}
#P418_108
{
left:10760.4px;bottom:7399.53px;color:rgb(35,31,31);
}
#P418_109
{
left:13206.9px;bottom:7399.53px;letter-spacing:-9.3px;word-spacing:2180.1px;color:rgb(35,31,31);
}
#P418_110
{
left:14280.4px;bottom:7399.53px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P418_111
{
left:0px;letter-spacing:0px;margin-left:0.5px;
}
#P418_112
{
left:10760.4px;bottom:6311.53px;color:rgb(35,31,31);
}
#P418_113
{
left:13180.2px;bottom:6311.53px;letter-spacing:-6.9px;word-spacing:2150.9px;color:rgb(35,31,31);
}
#P418_114
{
left:14280.4px;bottom:6311.53px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P418_115
{
left:0px;letter-spacing:0px;margin-left:0.8px;
}
#P418_116
{
left:14280.4px;bottom:5415.53px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P418_117
{
left:10760.4px;bottom:4327.53px;color:rgb(35,31,31);
}
#P418_118
{
left:13251.5px;bottom:4327.53px;word-spacing:2215.3px;color:rgb(35,31,31);
}
#P418_119
{
left:14280.4px;bottom:4327.53px;letter-spacing:-9.3px;color:rgb(35,31,31);
}
#P418_120
{
left:0px;letter-spacing:0px;margin-left:9.3px;
}
#P418_121
{
left:14280.4px;bottom:3431.59px;color:rgb(35,31,31);
}
#P418_122
{
left:5709.4px;bottom:9385.77px;color:rgb(35,31,31);
}
#P418_123
{
left:26785.2px;bottom:46188.3px;word-spacing:0.2px;color:rgb(33,31,31);
}
#P418_124
{
left:0px;letter-spacing:0px;margin-left:-44.8px;
}
#P418_125
{
left:0px;letter-spacing:0px;margin-left:0.2px;
}
#P418_126
{
left:10045.4px;bottom:44178.7px;letter-spacing:-1.9px;color:rgb(35,31,31);
}
#P418_127
{
left:13008.5px;bottom:44178.7px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P418_128
{
left:0px;letter-spacing:0px;margin-left:0.3px;
}
#P418_129
{
left:10045.4px;bottom:43282.7px;color:rgb(35,31,31);
}
#P418_130
{
left:12395.3px;bottom:43282.7px;color:rgb(35,31,31);
}
#P418_131
{
left:18615.1px;bottom:43282.7px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P418_132
{
left:10045.4px;bottom:42386.8px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P418_133
{
left:0px;letter-spacing:0px;margin-left:-41.3px;
}
#P418_134
{
left:0px;letter-spacing:-0.8px;
}
#P418_135
{
left:0px;letter-spacing:-0.4px;margin-left:-3.4px;
}
#P418_136
{
left:0px;letter-spacing:-1.4px;margin-left:0.4px;
}
#P418_137
{
left:0px;letter-spacing:0px;margin-left:-12.6px;
}
#P418_138
{
left:10045.4px;bottom:41490.8px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P418_139
{
left:10045.4px;bottom:40338.7px;color:rgb(35,31,31);
}
#P418_140
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P418_141
{
left:0px;letter-spacing:0px;margin-left:-21px;
}
#P418_142
{
left:10045.4px;bottom:39442.7px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P418_143
{
left:0px;letter-spacing:-1.5px;margin-left:0.7px;
}
#P418_144
{
left:0px;letter-spacing:0px;margin-left:1.5px;
}
#P418_145
{
left:24405px;bottom:39442.7px;letter-spacing:-3.6px;color:rgb(35,31,31);
}
#P418_146
{
left:26486.1px;bottom:39442.7px;color:rgb(35,31,31);
}
#P418_147
{
left:29217.6px;bottom:39442.7px;color:rgb(35,31,31);
}
#P418_148
{
left:32979px;bottom:39442.7px;color:rgb(35,31,31);
}
#P418_149
{
left:10045.4px;bottom:38546.8px;color:rgb(35,31,31);
}
#P418_150
{
left:2856.07px;bottom:43515.2px;letter-spacing:-7.7px;word-spacing:-26px;color:rgb(0,124,196);
}
#P418_151
{
left:0px;letter-spacing:0px;margin-left:7.7px;
}
#P418_152
{
left:2856.07px;bottom:42573.2px;color:rgb(35,31,31);
}
#P418_153
{
left:5486.43px;bottom:42573.2px;color:rgb(35,31,31);
}
#P418_154
{
left:2856.07px;bottom:41677.2px;color:rgb(35,31,31);
}
#P418_155
{
left:2856.07px;bottom:40781.2px;color:rgb(35,31,31);
}
#P418_156
{
left:3624.07px;bottom:40781.2px;color:rgb(35,31,31);
}
#P418_157
{
left:3616.83px;bottom:29110.3px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P418_158
{
left:3035.08px;bottom:28003.4px;color:rgb(35,31,31);
}
#P418_159
{
left:0px;letter-spacing:0px;margin-left:1251.6px;
}
#P418_160
{
left:0px;letter-spacing:0px;margin-left:1163.8px;
}
#P418_161
{
left:0px;letter-spacing:0px;margin-left:1163.8px;
}
#P418_162
{
left:3035.08px;bottom:26979.6px;color:rgb(35,31,31);
}
#P418_163
{
left:0px;letter-spacing:0px;margin-left:1251.6px;
}
#P418_164
{
left:0px;letter-spacing:0px;margin-left:1163.8px;
}
#P418_165
{
left:0px;letter-spacing:0px;margin-left:1163.8px;
}
#P418_166
{
left:3035.08px;bottom:25955.6px;color:rgb(35,31,31);
}
#P418_167
{
left:0px;letter-spacing:0px;margin-left:1251.6px;
}
#P418_168
{
left:0px;letter-spacing:0px;margin-left:1163.8px;
}
#P418_169
{
left:0px;letter-spacing:0px;margin-left:1163.8px;
}
#P418_170
{
left:3035.08px;bottom:24931.7px;color:rgb(35,31,31);
}
#P418_171
{
left:0px;letter-spacing:0px;margin-left:1251.6px;
}
#P418_172
{
left:0px;letter-spacing:0px;margin-left:1163.8px;
}
#P418_173
{
left:0px;letter-spacing:0px;margin-left:1163.8px;
}
#P418_174
{
left:3035.08px;bottom:23907.8px;color:rgb(35,31,31);
}
#P418_175
{
left:0px;letter-spacing:0px;margin-left:1251.6px;
}
#P418_176
{
left:0px;letter-spacing:0px;margin-left:1163.8px;
}
#P418_177
{
left:0px;letter-spacing:0px;margin-left:1163.8px;
}
#P418_178
{
left:30829.5px;bottom:9995.63px;color:rgb(35,31,31);
}
#P418_179
{
left:29052.8px;bottom:8888.88px;color:rgb(35,31,31);
}
#P418_180
{
left:0px;letter-spacing:0px;margin-left:826px;
}
#P418_181
{
left:0px;letter-spacing:0px;margin-left:757.2px;
}
#P418_182
{
left:0px;letter-spacing:0px;margin-left:757.4px;
}
#P418_183
{
left:29052.8px;bottom:7864.88px;color:rgb(35,31,31);
}
#P418_184
{
left:0px;letter-spacing:0px;margin-left:826px;
}
#P418_185
{
left:0px;letter-spacing:0px;margin-left:757.2px;
}
#P418_186
{
left:0px;letter-spacing:0px;margin-left:757.4px;
}
#P418_187
{
left:29052.8px;bottom:6840.88px;color:rgb(35,31,31);
}
#P418_188
{
left:0px;letter-spacing:0px;margin-left:826px;
}
#P418_189
{
left:0px;letter-spacing:0px;margin-left:757.2px;
}
#P418_190
{
left:0px;letter-spacing:0px;margin-left:757.4px;
}
#P418_191
{
left:29052.8px;bottom:5816.88px;color:rgb(35,31,31);
}
#P418_192
{
left:0px;letter-spacing:0px;margin-left:826px;
}
#P418_193
{
left:0px;letter-spacing:0px;margin-left:757.2px;
}
#P418_194
{
left:0px;letter-spacing:0px;margin-left:757.4px;
}
#P418_195
{
left:2514.73px;bottom:19708.8px;color:white;
}
#P418_196
{
left:5870.36px;bottom:19950.4px;color:white;
}
#P418_197
{
left:6206.3px;bottom:19708.8px;color:white;
}
#P418_198
{
left:2749.4px;bottom:18605.9px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P418_199
{
left:2749.4px;bottom:17837.9px;color:rgb(35,31,31);
}
#P418_200
{
left:4491.48px;bottom:17837.9px;color:rgb(35,31,31);
}
#P418_201
{
left:7123.1px;bottom:17837.9px;color:rgb(35,31,31);
}
#P418_202
{
left:2749.4px;bottom:17069.9px;color:rgb(35,31,31);
}
#P418_203
{
left:2749.4px;bottom:16301.9px;color:rgb(35,31,31);
}
#P418_204
{
left:2749.4px;bottom:15533.9px;color:rgb(35,31,31);
}
#PageContainer418
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg418.jpg");background-repeat:no-repeat;background-size: 985px 1291px; background-position: 0px 35.3699999999999px;
}
#ImageContainer418 {bottom:37.63px;left:0.00px;width:985.18px;height:1291.35px;position:absolute;} #TextContainer418 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.example1{position:absolute; top: 341px; left: 97px;}
.now{position:absolute; top: 1061px; left: 121px;}
.nyr_exr{position:absolute; top: 1095px; left: 150px;color:rgb(35,31,31);font-size:16px}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}