.tr661{ color:transparent;}
#P661_1
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P661_2
{
left:24780.1px;bottom:1410.03px;color:rgb(35,31,31);
}
#P661_3
{
left:29697px;bottom:1410.03px;letter-spacing:3.6px;word-spacing:462.8px;color:rgb(35,31,31);
}
#P661_4
{
left:0px;letter-spacing:0px;margin-left:174.3px;
}
#P661_5
{
left:0px;letter-spacing:0.1px;margin-left:-23px;
}
#P661_6
{
left:0px;letter-spacing:-0.6px;margin-left:-0.9px;
}
#P661_7
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P661_8
{
left:11555.5px;bottom:43029.6px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P661_9
{
left:0px;letter-spacing:0.4px;margin-left:14.1px;
}
#P661_10
{
left:0px;letter-spacing:-14px;margin-left:-42.5px;
}
#P661_11
{
left:0px;letter-spacing:0px;margin-left:-17.6px;
}
#P661_12
{
left:0px;letter-spacing:-0.2px;
}
#P661_13
{
left:0px;letter-spacing:0px;margin-left:-27.8px;
}
#P661_14
{
left:36520.5px;bottom:34756.4px;color:rgb(35,31,31);
}
#P661_15
{
left:32467.4px;bottom:43226px;color:rgb(35,31,31);
}
#P661_16
{
left:31816.5px;bottom:37447.3px;color:rgb(35,31,31);
}
#P661_17
{
left:31816.5px;bottom:38215.3px;color:rgb(35,31,31);
}
#P661_18
{
left:31816.5px;bottom:36679.3px;color:rgb(35,31,31);
}
#P661_19
{
left:31816.5px;bottom:35911.3px;color:rgb(35,31,31);
}
#P661_20
{
left:35194.3px;bottom:34756.5px;color:rgb(35,31,31);
}
#P661_21
{
left:32890.3px;bottom:34756.4px;color:rgb(35,31,31);
}
#P661_22
{
left:33658.3px;bottom:34756.4px;color:rgb(35,31,31);
}
#P661_23
{
left:34426.3px;bottom:34756.4px;color:rgb(35,31,31);
}
#P661_24
{
left:31821.5px;bottom:38976.8px;color:rgb(35,31,31);
}
#P661_25
{
left:31812.9px;bottom:39768.8px;color:rgb(35,31,31);
}
#P661_26
{
left:31811px;bottom:40494.1px;color:rgb(35,31,31);
}
#P661_27
{
left:31816.7px;bottom:41282.3px;color:rgb(35,31,31);
}
#P661_28
{
left:31824.4px;bottom:42046.4px;color:rgb(35,31,31);
}
#P661_29
{
left:31559.4px;bottom:42814.4px;color:rgb(35,31,31);
}
#P661_30
{
left:35966.7px;bottom:34756.1px;color:rgb(35,31,31);
}
#P661_31
{
left:11555.5px;bottom:41749.6px;color:rgb(35,31,31);
}
#P661_32
{
left:11683.5px;bottom:41749.6px;letter-spacing:-14px;word-spacing:516.1px;color:rgb(35,31,31);
}
#P661_33
{
left:12899.5px;bottom:41749.6px;letter-spacing:-2.1px;color:rgb(35,31,31);
}
#P661_34
{
left:0px;letter-spacing:0px;margin-left:-18.8px;
}
#P661_35
{
left:0px;letter-spacing:-0.2px;margin-left:-14px;
}
#P661_36
{
left:0px;letter-spacing:-0.8px;margin-left:0.2px;
}
#P661_37
{
left:0px;letter-spacing:0px;margin-left:0.8px;
}
#P661_38
{
left:12899.5px;bottom:40853.6px;color:rgb(35,31,31);
}
#P661_39
{
left:13139.5px;bottom:40853.6px;color:rgb(35,31,31);
}
#P661_40
{
left:14681.3px;bottom:40853.6px;letter-spacing:-43.5px;color:rgb(35,31,31);
}
#P661_41
{
left:11555.5px;bottom:39637.6px;color:rgb(35,31,31);
}
#P661_42
{
left:11683.5px;bottom:39637.6px;letter-spacing:-13.9px;word-spacing:486.9px;color:rgb(35,31,31);
}
#P661_43
{
left:12899.5px;bottom:39637.6px;letter-spacing:-9.3px;color:rgb(35,31,31);
}
#P661_44
{
left:0px;letter-spacing:-0.3px;margin-left:9.3px;
}
#P661_45
{
left:0px;letter-spacing:0px;margin-left:-13.6px;
}
#P661_46
{
left:25613.8px;bottom:39637.6px;letter-spacing:-9.3px;color:rgb(35,31,31);
}
#P661_47
{
left:26723.4px;bottom:39637.6px;word-spacing:-25.3px;color:rgb(35,31,31);
}
#P661_48
{
left:12899.5px;bottom:38741.6px;letter-spacing:-1.1px;color:rgb(35,31,31);
}
#P661_49
{
left:0px;letter-spacing:0px;margin-left:-12.8px;
}
#P661_50
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P661_51
{
left:11555.5px;bottom:37525.6px;color:rgb(35,31,31);
}
#P661_52
{
left:11683.5px;bottom:37525.6px;letter-spacing:-14px;word-spacing:551.3px;color:rgb(35,31,31);
}
#P661_53
{
left:12899.5px;bottom:37525.6px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P661_54
{
left:0px;letter-spacing:-2.8px;margin-left:-13.6px;
}
#P661_55
{
left:12899.5px;bottom:36629.6px;color:rgb(35,31,31);
}
#P661_56
{
left:11555.5px;bottom:35413.6px;color:rgb(35,31,31);
}
#P661_57
{
left:11683.5px;bottom:35413.6px;letter-spacing:-14px;word-spacing:473.2px;color:rgb(35,31,31);
}
#P661_58
{
left:12899.5px;bottom:35413.6px;color:rgb(35,31,31);
}
#P661_59
{
left:0px;letter-spacing:0px;margin-left:-214.8px;
}
#P661_60
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P661_61
{
left:12899.5px;bottom:34517.6px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P661_62
{
left:11555.5px;bottom:33301.6px;color:rgb(35,31,31);
}
#P661_63
{
left:11683.5px;bottom:33301.6px;letter-spacing:-14px;word-spacing:533.7px;color:rgb(35,31,31);
}
#P661_64
{
left:12899.5px;bottom:33301.6px;color:rgb(35,31,31);
}
#P661_65
{
left:17652.1px;bottom:33301.6px;color:rgb(35,31,31);
}
#P661_66
{
left:17892.1px;bottom:33301.6px;color:rgb(35,31,31);
}
#P661_67
{
left:19433.9px;bottom:33301.6px;color:rgb(35,31,31);
}
#P661_68
{
left:19986.5px;bottom:33301.6px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P661_69
{
left:23559.4px;bottom:33301.6px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P661_70
{
left:0px;letter-spacing:0px;margin-left:1.2px;
}
#P661_71
{
left:27408.2px;bottom:33301.6px;color:rgb(35,31,31);
}
#P661_72
{
left:12899.5px;bottom:32405.6px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P661_73
{
left:15395.5px;bottom:30869.7px;color:rgb(35,31,31);
}
#P661_74
{
left:15948.2px;bottom:30869.7px;color:rgb(35,31,31);
}
#P661_75
{
left:16106.6px;bottom:30840.1px;color:rgb(35,31,31);
}
#P661_76
{
left:16693px;bottom:30869.7px;letter-spacing:1343.9px;color:rgb(35,31,31);
}
#P661_77
{
left:18353.8px;bottom:30869.6px;color:rgb(35,31,31);
}
#P661_78
{
left:18593.8px;bottom:30869.6px;color:rgb(35,31,31);
}
#P661_79
{
left:12433.7px;bottom:44853px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P661_80
{
left:15858.8px;bottom:45044.8px;color:rgb(255,223,126);
}
#P661_81
{
left:16479.7px;bottom:44853px;letter-spacing:-3.9px;word-spacing:207.4px;color:white;
}
#P661_82
{
left:18532.2px;bottom:45044.8px;color:white;
}
#P661_83
{
left:18772.4px;bottom:44853px;letter-spacing:-1.7px;color:white;
}
#P661_84
{
left:10693.3px;bottom:44729.5px;
}
#P661_85
{
left:10693.3px;bottom:44729.5px;color:white;
}
#P661_86
{
left:11555.5px;bottom:26580px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P661_87
{
left:0px;letter-spacing:0.4px;margin-left:14.1px;
}
#P661_88
{
left:0px;letter-spacing:-14px;margin-left:-42.5px;
}
#P661_89
{
left:0px;letter-spacing:0px;margin-left:-17.6px;
}
#P661_90
{
left:0px;letter-spacing:-0.1px;
}
#P661_91
{
left:11555.5px;bottom:25684px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P661_92
{
left:0px;letter-spacing:-23.9px;margin-left:-26.7px;
}
#P661_93
{
left:0px;letter-spacing:-0.2px;margin-left:23.9px;
}
#P661_94
{
left:0px;letter-spacing:0px;margin-left:-6.7px;
}
#P661_95
{
left:11555.5px;bottom:24788.1px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P661_96
{
left:11555.5px;bottom:23444.1px;color:rgb(35,31,31);
}
#P661_97
{
left:11683.5px;bottom:23444.1px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P661_98
{
left:12899.5px;bottom:23444.1px;color:rgb(35,31,31);
}
#P661_99
{
left:15419.8px;bottom:23444.1px;color:rgb(35,31,31);
}
#P661_100
{
left:15659.8px;bottom:23444.1px;color:rgb(35,31,31);
}
#P661_101
{
left:18875.6px;bottom:23444.1px;color:rgb(35,31,31);
}
#P661_102
{
left:19310.7px;bottom:23444.1px;letter-spacing:1558.4px;color:rgb(35,31,31);
}
#P661_103
{
left:21273.8px;bottom:23444.1px;color:rgb(35,31,31);
}
#P661_104
{
left:21708.8px;bottom:23444.1px;color:rgb(35,31,31);
}
#P661_105
{
left:21867.2px;bottom:23414.5px;color:rgb(35,31,31);
}
#P661_106
{
left:22453.7px;bottom:23444.1px;color:rgb(35,31,31);
}
#P661_107
{
left:0px;letter-spacing:0px;margin-left:1378px;
}
#P661_108
{
left:24306.8px;bottom:23444px;color:rgb(35,31,31);
}
#P661_109
{
left:24589.1px;bottom:23444px;color:rgb(35,31,31);
}
#P661_110
{
left:11555.5px;bottom:22164px;color:rgb(35,31,31);
}
#P661_111
{
left:11683.5px;bottom:22164px;letter-spacing:-17.5px;color:rgb(35,31,31);
}
#P661_112
{
left:12899.5px;bottom:22164px;letter-spacing:-13.1px;color:rgb(35,31,31);
}
#P661_113
{
left:0px;letter-spacing:0px;margin-left:13.1px;
}
#P661_114
{
left:14721.3px;bottom:22164px;color:rgb(35,31,31);
}
#P661_115
{
left:15273.9px;bottom:22164px;color:rgb(35,31,31);
}
#P661_116
{
left:18636.9px;bottom:22164px;color:rgb(35,31,31);
}
#P661_117
{
left:19000.2px;bottom:22164px;letter-spacing:1868.9px;color:rgb(35,31,31);
}
#P661_118
{
left:21273.9px;bottom:22164px;color:rgb(35,31,31);
}
#P661_119
{
left:21637.1px;bottom:22164px;color:rgb(35,31,31);
}
#P661_120
{
left:21795.5px;bottom:22134.4px;color:rgb(35,31,31);
}
#P661_121
{
left:22382px;bottom:22164px;color:rgb(35,31,31);
}
#P661_122
{
left:0px;letter-spacing:0px;margin-left:1451.3px;
}
#P661_123
{
left:24308.4px;bottom:22164px;color:rgb(35,31,31);
}
#P661_124
{
left:24861.1px;bottom:22164px;color:rgb(35,31,31);
}
#P661_125
{
left:11555.5px;bottom:20884px;color:rgb(35,31,31);
}
#P661_126
{
left:11683.5px;bottom:20884px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P661_127
{
left:12899.5px;bottom:20884px;letter-spacing:-13.1px;color:rgb(35,31,31);
}
#P661_128
{
left:0px;letter-spacing:0px;margin-left:13.1px;
}
#P661_129
{
left:14721.3px;bottom:20884px;color:rgb(35,31,31);
}
#P661_130
{
left:15273.9px;bottom:20884px;color:rgb(35,31,31);
}
#P661_131
{
left:19141px;bottom:20884px;color:rgb(35,31,31);
}
#P661_132
{
left:19381px;bottom:20884px;letter-spacing:1488px;color:rgb(35,31,31);
}
#P661_133
{
left:21273.8px;bottom:20884px;color:rgb(35,31,31);
}
#P661_134
{
left:21513.8px;bottom:20884px;color:rgb(35,31,31);
}
#P661_135
{
left:21672.2px;bottom:20854.4px;color:rgb(35,31,31);
}
#P661_136
{
left:22258.6px;bottom:20884px;color:rgb(35,31,31);
}
#P661_137
{
left:0px;letter-spacing:0px;margin-left:1574.7px;
}
#P661_138
{
left:24308.4px;bottom:20884px;color:rgb(35,31,31);
}
#P661_139
{
left:24861.1px;bottom:20884px;color:rgb(35,31,31);
}
#P661_140
{
left:11555.5px;bottom:19604px;color:rgb(35,31,31);
}
#P661_141
{
left:11683.5px;bottom:19604px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P661_142
{
left:12899.5px;bottom:19604px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P661_143
{
left:0px;letter-spacing:0px;margin-left:21.1px;
}
#P661_144
{
left:14799.7px;bottom:19604px;color:rgb(35,31,31);
}
#P661_145
{
left:15163px;bottom:19604px;letter-spacing:0.6px;color:rgb(35,31,31);
}
#P661_146
{
left:18437px;bottom:19604px;color:rgb(35,31,31);
}
#P661_147
{
left:18989.7px;bottom:19604px;letter-spacing:1879.4px;color:rgb(35,31,31);
}
#P661_148
{
left:21273.8px;bottom:19604px;color:rgb(35,31,31);
}
#P661_149
{
left:21826.4px;bottom:19604px;color:rgb(35,31,31);
}
#P661_150
{
left:21984.8px;bottom:19574.4px;color:rgb(35,31,31);
}
#P661_151
{
left:22571.2px;bottom:19604px;color:rgb(35,31,31);
}
#P661_152
{
left:0px;letter-spacing:0px;margin-left:1275.5px;
}
#P661_153
{
left:24321.8px;bottom:19604px;color:rgb(35,31,31);
}
#P661_154
{
left:24685.1px;bottom:19604px;color:rgb(35,31,31);
}
#P661_155
{
left:12433.7px;bottom:28140.2px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P661_156
{
left:15858.8px;bottom:28332px;color:rgb(255,223,126);
}
#P661_157
{
left:16479.7px;bottom:28140.2px;letter-spacing:-3.9px;word-spacing:207.4px;color:white;
}
#P661_158
{
left:18532.2px;bottom:28332px;color:white;
}
#P661_159
{
left:18772.4px;bottom:28140.2px;letter-spacing:-1.1px;color:white;
}
#P661_160
{
left:0px;letter-spacing:0px;margin-left:-30.8px;
}
#P661_161
{
left:25929.2px;bottom:28332px;color:white;
}
#P661_162
{
left:26169.4px;bottom:28140.2px;color:white;
}
#P661_163
{
left:26505.5px;bottom:28332px;color:white;
}
#P661_164
{
left:26745.7px;bottom:28140.2px;color:white;
}
#P661_165
{
left:31340.4px;bottom:28332px;color:white;
}
#P661_166
{
left:31580.6px;bottom:28140.2px;color:white;
}
#P661_167
{
left:10693.3px;bottom:28016.7px;
}
#P661_168
{
left:10693.3px;bottom:28016.7px;color:white;
}
#P661_169
{
left:10531.3px;bottom:15043.2px;color:rgb(35,31,31);
}
#P661_170
{
left:10989.7px;bottom:15070px;word-spacing:394.4px;color:rgb(35,31,31);
}
#P661_171
{
left:12131.3px;bottom:15062.9px;word-spacing:-26px;color:rgb(2,77,161);
}
#P661_172
{
left:0px;letter-spacing:0px;margin-left:-26px;
}
#P661_173
{
left:0px;letter-spacing:0px;margin-left:26px;
}
#P661_174
{
left: 19469.2px;bottom:15043.2px;
letter-spacing: 0px;color:rgb(35,31,31);
}
#P661_175
{
left: 5930px;letter-spacing:-7px;
margin-left: 0px;
}
#P661_176
{
left:0px;letter-spacing:-0.5px;margin-left:7px;
}
#P661_177
{
left:0px;letter-spacing:0px;margin-left:-20.5px;
}
#P661_178
{
left:12131.3px;bottom:14147.2px;
letter-spacing: 0px;color:rgb(35,31,31);
}
#P661_179
{
left:0px;letter-spacing:-0.2px;margin-left:1.1px;
}
#P661_180
{
left:0px;letter-spacing:0px;margin-left:0.2px;
}
#P661_181
{
left:12131.3px;bottom:13251.2px;
letter-spacing: 0px;color:rgb(35,31,31);
}
#P661_182
{
left:0px;letter-spacing:-0.2px;margin-left:10.5px;
}
#P661_183
{
left:10531.3px;bottom:11907.2px;color:rgb(35,31,31);
}
#P661_184
{
left:10989.7px;bottom:11934px;word-spacing:394.4px;color:rgb(35,31,31);
}
#P661_185
{
left:12131.3px;bottom:11926.9px;color:rgb(2,77,161);
}
#P661_186
{
left: 15966.7px;bottom:11907.2px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P661_187
{
left:0px;letter-spacing:-10.5px;margin-left:-214.6px;
}
#P661_188
{
left:0px;letter-spacing:-1.1px;margin-left:10.5px;
}
#P661_189
{
left:0px;letter-spacing:-0.4px;margin-left:-5.8px;
}
#P661_190
{
left:10531.3px;bottom:10563.2px;color:rgb(35,31,31);
}
#P661_191
{
left:10989.7px;bottom:10590px;word-spacing:394.4px;color:rgb(35,31,31);
}
#P661_192
{
left:12131.3px;bottom:10563.2px;letter-spacing:-2.8px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P661_193
{
left:0px;letter-spacing:0.2px;margin-left:2.8px;
}
#P661_194
{
left:0px;letter-spacing:-1.8px;margin-left:156.5px;
}
#P661_195
{
left:0px;letter-spacing:0px;margin-left:-65.1px;
}
#P661_196
{
left:10531.3px;bottom:9219.18px;color:rgb(35,31,31);
}
#P661_197
{
left:10989.7px;bottom:9246px;word-spacing:394.4px;color:rgb(35,31,31);
}
#P661_198
{
left:12131.3px;bottom:9219.18px;letter-spacing:-22.9px;color:rgb(35,31,31);
}
#P661_199
{
left:0px;letter-spacing:0.4px;margin-left:18.7px;
}
#P661_200
{
left:0px;letter-spacing:0px;margin-left:-42.5px;
}
#P661_201
{
left:0px;letter-spacing:-14px;
}
#P661_202
{
left:0px;letter-spacing:0.5px;margin-left:14px;
}
#P661_203
{
left:0px;letter-spacing:0px;margin-left:-215.3px;
}
#P661_204
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P661_205
{
left:0px;letter-spacing:0px;
}
#P661_206
{
left:12131.3px;bottom:8323.18px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P661_207
{
left:0px;letter-spacing:0px;margin-left:-27.5px;
}
#P661_208
{
left:0px;letter-spacing:0.1px;
}
#P661_209
{
left:12131.3px;bottom:7427.24px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P661_210
{
left:0px;letter-spacing:0px;margin-left:-13px;
}
#P661_211
{
left:0px;letter-spacing:-77.4px;margin-left:-13.9px;
}
#P661_212
{
left:0px;letter-spacing:0px;margin-left:77.4px;
}
#P661_213
{
left:12131.3px;bottom:6531.24px;letter-spacing:-2.5px;color:rgb(35,31,31);
}
#P661_214
{
left:0px;letter-spacing:0px;margin-left:-36.2px;
}
#P661_215
{
left:0px;letter-spacing:-45.1px;
}
#P661_216
{
left:0px;letter-spacing:-1px;margin-left:31.1px;
}
#P661_217
{
left:17415.1px;bottom:6531.24px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P661_218
{
left:0px;letter-spacing:0px;margin-left:1.4px;
}
#P661_219
{
left:14845.4px;bottom:4140.65px;letter-spacing:228.8px;color:rgb(0,124,196);
}
#P661_220
{
left:15261.4px;bottom:4172.65px;letter-spacing:-9.3px;color:rgb(35,31,31);
}
#P661_221
{
left:0px;letter-spacing:0.2px;margin-left:9.3px;
}
#P661_222
{
left:0px;letter-spacing:-1.2px;margin-left:-0.2px;
}
#P661_223
{
left:15261.4px;bottom:3276.67px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P661_224
{
left:0px;letter-spacing:0px;margin-left:0.8px;
}
#P661_225
{
left:4941.34px;bottom:24250.3px;word-spacing:-36.9px;color:rgb(35,31,31);
}
#P661_226
{
left:4941.34px;bottom:23383.5px;color:rgb(35,31,31);
}
#P661_227
{
left:4941.34px;bottom:22647.5px;color:rgb(35,31,31);
}
#P661_228
{
left:4941.34px;bottom:21911.5px;color:rgb(35,31,31);
}
#P661_229
{
left:4941.34px;bottom:21175.6px;color:rgb(35,31,31);
}
#P661_230
{
left:4690.71px;bottom:26034.2px;letter-spacing:-20.4px;color:white;
}
#P661_231
{
left:4690.71px;bottom:25074.1px;letter-spacing:-27.2px;color:white;
}
#P661_232
{
left:6669.79px;bottom:25330.9px;color:white;
}
#P661_233
{
left:6945.05px;bottom:25074.1px;letter-spacing:-27.2px;color:white;
}
#PageContainer661
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg661.jpg");background-repeat:no-repeat;background-size: 1021px 1281px; background-position: 0px -0.450000000000045px;
}
#ImageContainer661 {bottom:83.45px;left:0.00px;width:1020.57px;height:1280.71px;position:absolute;} #TextContainer661 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.math_paper{position: absolute;top: 120px;left: 217px;}
.geo{position: absolute;top: 114px;left: 95px;}
.geo1{position: absolute;top: 566px;left: 95px;}
.math_tool{position: absolute;top: 115px;left: 158px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}
.practice{position: absolute;top: 1220px;left: 257px;}
#middle-toolbar img{vertical-align: middle;}