.tr258{ color:transparent;}
#P258_1
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P258_2
{
left:3540.44px;bottom:1410.03px;color:rgb(35,31,31);
}
#P258_3
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P258_4
{
left:9122.35px;bottom:1410.03px;letter-spacing:0.2px;word-spacing:462.1px;color:rgb(35,31,31);
}
#P258_5
{
left:0px;letter-spacing:0px;margin-left:-462.3px;
}
#P258_6
{
left:0px;letter-spacing:2.3px;
}
#P258_7
{
left:0px;letter-spacing:0px;margin-left:-464.4px;
}
#P258_8
{
left:0px;letter-spacing:3px;
}
#P258_9
{
left:6977.56px;bottom:46152.8px;color:white;
}
#P258_10
{
left:11732.6px;bottom:46451.2px;color:white;
}
#P258_11
{
left:12106.3px;bottom:46152.8px;letter-spacing:-2.2px;color:white;
}
#P258_12
{
left:3459.78px;bottom:46162px;color:white;
}
#P258_13
{
left:18900.5px;bottom:41182.6px;letter-spacing:213.2px;color:rgb(35,31,31);
}
#P258_14
{
left:0px;letter-spacing:0px;margin-left:-213.2px;
}
#P258_15
{
left:7789.4px;bottom:40094.5px;color:rgb(35,31,31);
}
#P258_16
{
left:9187.48px;bottom:28316.8px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P258_17
{
left:0px;letter-spacing:0.4px;margin-left:14.1px;
}
#P258_18
{
left:0px;letter-spacing:0px;margin-left:-42.5px;
}
#P258_19
{
left:9187.48px;bottom:27036.7px;color:rgb(35,31,31);
}
#P258_20
{
left:9315.48px;bottom:27036.7px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P258_21
{
left:10531.5px;bottom:27036.7px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P258_22
{
left:0px;letter-spacing:0.1px;margin-left:1.4px;
}
#P258_23
{
left:10531.5px;bottom:25954.3px;letter-spacing:0.1px;word-spacing:2330.3px;color:rgb(35,31,31);
}
#P258_23a
{
left: 14841.5px;bottom:25954.3px;letter-spacing:0.1px;word-spacing:2330.3px;color:rgb(35,31,31);
}
#P258_24
{
left:0px;letter-spacing:0.1px;margin-left:-17.6px;
}
#P258_25
{
left:0px;letter-spacing:0.1px;margin-left:-2330.4px;
}
#P258_26
{
left:10531.5px;bottom:24604.7px;color:rgb(35,31,31);
}
#P258_26a
{
left: 14842.5px;bottom:24604.7px;color:rgb(35,31,31);
}
#P258_27
{
left:0px;letter-spacing:0px;margin-left:-12.5px;
}
#P258_28
{
left:0px;letter-spacing:0px;
margin-left: 0;
}
#P258_29
{
left:10531.5px;bottom:23516.7px;color:rgb(35,31,31);
}
#P258_29a
{
left: 14901.5px;bottom:23516.7px;color:rgb(35,31,31);
}
#P258_30
{
left:0px;letter-spacing:0px;margin-left:-25.3px;
}
#P258_31
{
left:0px;letter-spacing:0px;
margin-left: 0;
}
#P258_32
{
left:10531.5px;bottom:22428.7px;letter-spacing:-23.9px;color:rgb(35,31,31);
}
#P258_32a
{
left: 14951.5px;bottom:22428.7px;letter-spacing:-23.9px;color:rgb(35,31,31);
}
#P258_33
{
left:0px;letter-spacing:0px;margin-left:10px;
}
#P258_34
{
left:0px;letter-spacing:0px;margin-left:3162.3px;
}
#P258_35
{
left:0px;letter-spacing:0px;
margin-left: 0;
}
#P258_36
{
left:0px;letter-spacing:0px;
}
#P258_37
{
left:15267.5px;bottom:21532.7px;color:rgb(35,31,31);
}
#P258_38
{
left:17711.1px;bottom:21503.1px;color:rgb(35,31,31);
}
#P258_39
{
left:18297.4px;bottom:21532.7px;color:rgb(35,31,31);
}
#P258_40
{
left:10531.5px;bottom:20444.7px;letter-spacing:-2.1px;word-spacing:-40.7px;color:rgb(35,31,31);
}
#P258_40a
{
left: 15121.5px;bottom:20444.7px;letter-spacing:-2.1px;word-spacing:-40.7px;color:rgb(35,31,31);
}
#P258_41
{
left:0px;letter-spacing:0px;
margin-left: 0;
}
#P258_42
{
left:0px;letter-spacing:-0.3px;
}
#P258_43
{
left:0px;letter-spacing:0px;margin-left:0.3px;
}
#P258_44
{
left:15267.5px;bottom:19548.7px;letter-spacing:0.7px;color:rgb(35,31,31);
}
#P258_45
{
left:9187.48px;bottom:18268.7px;color:rgb(35,31,31);
}
#P258_46
{
left:9315.48px;bottom:18268.7px;letter-spacing:-13.9px;word-spacing:486.9px;color:rgb(35,31,31);
}
#P258_47
{
left:10531.5px;bottom:18268.7px;letter-spacing:-9.3px;color:rgb(35,31,31);
}
#P258_48
{
left:0px;letter-spacing:-0.6px;margin-left:9.3px;
}
#P258_49
{
left:0px;letter-spacing:-3.5px;margin-left:0.6px;
}
#P258_50
{
left:0px;letter-spacing:-0.9px;margin-left:3.5px;
}
#P258_51
{
left:0px;letter-spacing:0px;margin-left:-20.1px;
}
#P258_52
{
left:0px;letter-spacing:0px;margin-left:-4.2px;
}
#P258_53
{
left:10531.5px;bottom:17372.7px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P258_54
{
left:0px;letter-spacing:-0.6px;margin-left:-13.1px;
}
#P258_55
{
left:0px;letter-spacing:-0.6px;margin-left:0.6px;
}
#P258_56
{
left:0px;letter-spacing:0px;margin-left:0.6px;
}
#P258_57
{
left:10531.5px;bottom:16476.7px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P258_58
{
left:9187.48px;bottom:15004.8px;letter-spacing:-31.7px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P258_59
{
left:0px;letter-spacing:-3.6px;margin-left:186.5px;
}
#P258_60
{
left:0px;letter-spacing:-3.6px;margin-left:3.5px;
}
#P258_61
{
left:0px;letter-spacing:0.1px;margin-left:3.5px;
}
#P258_62
{
left:0px;letter-spacing:-0.5px;margin-left:157.8px;
}
#P258_63
{
left:10723.5px;bottom:13730.3px;letter-spacing:0.4px;color:rgb(35,31,31);
}
#P258_64
{
left:0px;letter-spacing:0px;margin-left:-0.4px;
}
#P258_65
{
left:10723.5px;bottom:12444.6px;color:rgb(35,31,31);
}
#P258_66
{
left:11880.2px;bottom:12415px;color:rgb(35,31,31);
}
#P258_67
{
left:12466.6px;bottom:12444.6px;color:rgb(35,31,31);
}
#P258_68
{
left:0px;letter-spacing:0px;margin-left:1968.3px;
}
#P258_69
{
left:0px;letter-spacing:-1.4px;
}
#P258_70
{
left:17946.5px;bottom:12415px;color:rgb(35,31,31);
}
#P258_71
{
left:18532.9px;bottom:12444.6px;color:rgb(35,31,31);
}
#P258_72
{
left:0px;letter-spacing:0px;margin-left:3291.5px;
}
#P258_73
{
left:24684.1px;bottom:12415px;color:rgb(35,31,31);
}
#P258_74
{
left:25270.5px;bottom:12444.6px;color:rgb(35,31,31);
}
#P258_75
{
left:10723.5px;bottom:10978.2px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P258_76
{
left:0px;letter-spacing:0px;margin-left:1.2px;
}
#P258_77
{
left:10723.5px;bottom:9692.59px;color:rgb(35,31,31);
}
#P258_78
{
left:12063.2px;bottom:9663.02px;color:rgb(35,31,31);
}
#P258_79
{
left:12649.6px;bottom:9692.59px;color:rgb(35,31,31);
}
#P258_80
{
left:0px;letter-spacing:0px;margin-left:566.7px;
}
#P258_81
{
left:17823.2px;bottom:9663.02px;color:rgb(35,31,31);
}
#P258_82
{
left:18409.6px;bottom:9692.59px;color:rgb(35,31,31);
}
#P258_83
{
left:0px;letter-spacing:0px;margin-left:2136.3px;
}
#P258_84
{
left:24848px;bottom:9663.02px;color:rgb(35,31,31);
}
#P258_85
{
left:25434.5px;bottom:9692.59px;color:rgb(35,31,31);
}
#P258_86
{
left:9187.42px;bottom:8220.59px;letter-spacing:-31.7px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P258_87
{
left:0px;letter-spacing:-1.2px;margin-left:188.9px;
}
#P258_88
{
left:0px;letter-spacing:0px;margin-left:159.6px;
}
#P258_89
{
left:9187.42px;bottom:7324.59px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P258_90
{
left:10723.4px;bottom:6050.22px;letter-spacing:-0.9px;word-spacing:-0.1px;color:rgb(35,31,31);
}
#P258_91
{
left:0px;letter-spacing:0.1px;margin-left:1px;
}
#P258_92
{
left:10723.4px;bottom:4764.59px;color:rgb(35,31,31);
}
#P258_93
{
left:12240.5px;bottom:4735.02px;color:rgb(35,31,31);
}
#P258_94
{
left:12827px;bottom:4764.59px;color:rgb(35,31,31);
}
#P258_95
{
left:10723.4px;bottom:3484.57px;color:rgb(35,31,31);
}
#P258_96
{
left:12268px;bottom:3455px;color:rgb(35,31,31);
}
#P258_97
{
left:12854.4px;bottom:3484.57px;color:rgb(35,31,31);
}
#P258_98
{
left:10065.7px;bottom:29877px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P258_99
{
left:13490.8px;bottom:30068.8px;color:rgb(255,223,126);
}
#P258_100
{
left:13683.5px;bottom:29877px;letter-spacing:207.4px;color:white;
}
#P258_101
{
left:0px;letter-spacing:-0.9px;margin-left:-207.4px;
}
#P258_102
{
left:22551.8px;bottom:30068.8px;color:white;
}
#P258_103
{
left:22792px;bottom:29877px;color:white;
}
#P258_104
{
left:8325.27px;bottom:29753.5px;
}
#P258_105
{
left:8325.27px;bottom:29753.5px;color:white;
}
#P258_106
{
left:23884.3px;bottom:6628.14px;word-spacing:-0.4px;
}
#P258_107
{
left:23884.3px;bottom:6628.14px;letter-spacing:149.2px;
}
#P258_108
{
left:23884.3px;bottom:6628.14px;word-spacing:-0.4px;
}
#P258_109
{
left:23884.3px;bottom:6628.14px;
}
#P258_110
{
left:24631.1px;bottom:6628.14px;
}
#P258_111
{
left:26727.8px;bottom:4515.37px;letter-spacing:149.2px;
}
#P258_112
{
left:26727.8px;bottom:4515.37px;word-spacing:-0.4px;
}
#P258_113
{
left:27325px;bottom:4515.37px;
}
#P258_114
{
left:26132.4px;bottom:6628.14px;
}
#P258_115
{
left:27932px;bottom:6628.14px;letter-spacing:-298.8px;
}
#P258_116
{
left:23933px;bottom:8411.95px;color:rgb(33,31,31);
}
#P258_117
{
left:24381.1px;bottom:2566.7px;color:rgb(33,31,31);
}
#P258_118
{
left:24861.5px;bottom:2566.7px;
}
#P258_119
{
left:24722.8px;bottom:34023px;color:rgb(35,31,31);
}
#P258_120
{
left:21106.1px;bottom:32081.5px;color:rgb(35,31,31);
}
#P258_121
{
left:4301.34px;bottom:13360.5px;color:rgb(35,31,31);
}
#P258_122
{
left:4674.39px;bottom:13388.9px;letter-spacing:-10.2px;color:rgb(35,31,31);
}
#P258_123
{
left:6691.93px;bottom:13360.5px;color:rgb(35,31,31);
}
#P258_124
{
left:4301.34px;bottom:12656.5px;letter-spacing:-14.1px;color:rgb(35,31,31);
}
#P258_125
{
left:5012.31px;bottom:12684.9px;letter-spacing:-10.4px;color:rgb(35,31,31);
}
#P258_126
{
left:2365.37px;bottom:11756.9px;letter-spacing:6.7px;word-spacing:-8.4px;color:rgb(35,31,31);
}
#P258_127
{
left:0px;letter-spacing:6.8px;margin-left:0.3px;
}
#P258_128
{
left:2365.37px;bottom:10980.8px;letter-spacing:-3.3px;word-spacing:-0.7px;color:rgb(35,31,31);
}
#P258_129
{
left:0px;letter-spacing:-0.3px;margin-left:2.4px;
}
#P258_130
{
left:0px;letter-spacing:-3.1px;margin-left:-4.5px;
}
#P258_131
{
left:2365.37px;bottom:10487px;color:rgb(35,31,31);
}
#P258_132
{
left:2615.28px;bottom:10268.8px;color:rgb(35,31,31);
}
#P258_133
{
left:2960.24px;bottom:10292.8px;color:rgb(35,31,31);
}
#P258_134
{
left:2960.24px;bottom:10308.8px;letter-spacing:-0.7px;word-spacing:-5.3px;color:rgb(35,31,31);
}
#P258_135
{
left:0px;letter-spacing:0.6px;margin-left:-5.2px;
}
#P258_136
{
left:0px;letter-spacing:2.6px;margin-left:-0.7px;
}
#P258_137
{
left:2960.24px;bottom:9668.78px;letter-spacing:3.7px;word-spacing:-0.2px;color:rgb(35,31,31);
}
#P258_138
{
left:0px;letter-spacing:0.3px;margin-left:-4.2px;
}
#P258_139
{
left:0px;letter-spacing:-3.1px;margin-left:-0.7px;
}
#P258_140
{
left:0px;letter-spacing:-5.2px;margin-left:17.5px;
}
#P258_141
{
left:0px;letter-spacing:0.9px;
}
#P258_142
{
left:2960.24px;bottom:9028.78px;letter-spacing:-0.8px;word-spacing:-4.6px;color:rgb(35,31,31);
}
#P258_143
{
left:2365.38px;bottom:8260.65px;letter-spacing:4px;word-spacing:-5.4px;color:rgb(35,31,31);
}
#P258_144
{
left:0px;letter-spacing:5.4px;margin-left:8.7px;
}
#P258_145
{
left:2365.38px;bottom:7620.65px;letter-spacing:7.8px;color:rgb(35,31,31);
}
#P258_146
{
left:0px;letter-spacing:0px;margin-left:-54.1px;
}
#P258_147
{
left:0px;letter-spacing:3.6px;margin-left:13.1px;
}
#PageContainer258
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg258.jpg");background-repeat:no-repeat;background-size: 1066px 1298px; background-position: 1px -0.569999999999936px;
}
#ImageContainer258 {bottom:66.57px;right:0.00px;width:1066.24px;height:1297.59px;position:absolute;} #TextContainer258 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.rpj{position: absolute;top: 208px;left: 157px;}
.srpj{position: absolute;top: 208px;left: 107px;}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}