.tr127{ color:transparent;}
#P127_1
{
left:4592.6px;bottom:1417.71px;color:rgb(35,31,31);
}
#P127_2
{
left:29713.8px;bottom:1417.71px;letter-spacing:1.1px;word-spacing:462.3px;color:rgb(35,31,31);
}
#P127_3
{
left:0px;letter-spacing:0px;margin-left:-463.3px;
}
#P127_4
{
left:0px;letter-spacing:-0.2px;margin-left:-0.2px;
}
#P127_5
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P127_6
{
left:8722.71px;bottom:37975.7px;letter-spacing:9.6px;color:white;
}
#P127_7
{
left:11026.7px;bottom:38011.4px;color:rgb(2,77,161);
}
#P127_8
{
left:12819.5px;bottom:38203.2px;color:rgb(2,77,161);
}
#P127_9
{
left:13059.7px;bottom:38011.4px;color:rgb(2,77,161);
}
#P127_10
{
left:14244.2px;bottom:38203.2px;color:rgb(2,77,161);
}
#P127_11
{
left:14484.4px;bottom:38011.4px;letter-spacing:-2.2px;color:rgb(2,77,161);
}
#P127_12
{
left:17605.2px;bottom:38203.2px;color:rgb(2,77,161);
}
#P127_13
{
left:17845.4px;bottom:38011.4px;color:rgb(2,77,161);
}
#P127_14
{
left:20053.8px;bottom:38068.8px;color:rgb(2,77,161);
}
#P127_15
{
left:0px;letter-spacing:0px;margin-left:38.4px;
}
#P127_16
{
left:9650.71px;bottom:36024.9px;word-spacing:388.1px;color:rgb(35,31,31);
}
#P127_16a
{
left: 10608.71px;bottom:36024.9px;word-spacing:388.1px;color:rgb(35,31,31);
}
#P127_17
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P127_18
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P127_19
{
left:12407.2px;bottom:36464.6px;color:rgb(35,31,31);
}
#P127_20
{
left:12762px;bottom:36042.5px;color:rgb(35,31,31);
}
#P127_21
{
left:12386.1px;bottom:36008.9px;color:rgb(35,31,31);
}
#P127_22
{
left:12783.1px;bottom:36026.2px;color:rgb(35,31,31);
}
#P127_23
{
left:12407.2px;bottom:35557.1px;color:rgb(35,31,31);
}
#P127_24
{
left:12762px;bottom:36042.5px;color:rgb(35,31,31);
}
#P127_25
{
left:12783.1px;bottom:36024.9px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P127_26
{
left:12931px;bottom:35995.4px;color:rgb(35,31,31);
}
#P127_27
{
left:13517.4px;bottom:36024.9px;color:rgb(35,31,31);
}
#P127_28
{
left:0px;letter-spacing:0px;margin-left:-147.8px;
}
#P127_29
{
left:13686.4px;bottom:36464.6px;color:rgb(35,31,31);
}
#P127_30
{
left:14041.2px;bottom:36042.5px;color:rgb(35,31,31);
}
#P127_31
{
left:13665.2px;bottom:36008.9px;color:rgb(35,31,31);
}
#P127_32
{
left:14062.3px;bottom:36026.2px;color:rgb(35,31,31);
}
#P127_33
{
left:13686.4px;bottom:35557.1px;color:rgb(35,31,31);
}
#P127_34
{
left:14041.2px;bottom:36042.5px;color:rgb(35,31,31);
}
#P127_35
{
left:14062.3px;bottom:36024.9px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P127_36
{
left:10738.7px;bottom:33954.5px;color:rgb(35,31,31);
}
#P127_37
{
left:10738.7px;bottom:33954.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P127_38
{
left:10759.8px;bottom:34394.2px;color:rgb(35,31,31);
}
#P127_39
{
left:11087.4px;bottom:33972.1px;color:rgb(35,31,31);
}
#P127_40
{
left:10738.7px;bottom:33938.5px;color:rgb(35,31,31);
}
#P127_41
{
left:11099.5px;bottom:33955.8px;color:rgb(35,31,31);
}
#P127_42
{
left:10750.8px;bottom:33486.7px;color:rgb(35,31,31);
}
#P127_43
{
left:11078.4px;bottom:33972.1px;color:rgb(35,31,31);
}
#P127_44
{
left:11099.5px;bottom:33954.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P127_45
{
left:11257.9px;bottom:33925px;color:rgb(35,31,31);
}
#P127_46
{
left:11844.4px;bottom:33954.5px;color:rgb(35,31,31);
}
#P127_47
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P127_48
{
left:12023.9px;bottom:34394.2px;color:rgb(35,31,31);
}
#P127_49
{
left:12351.5px;bottom:33972.1px;color:rgb(35,31,31);
}
#P127_50
{
left:12002.8px;bottom:33938.5px;color:rgb(35,31,31);
}
#P127_51
{
left:12363.6px;bottom:33955.8px;color:rgb(35,31,31);
}
#P127_52
{
left:12014.9px;bottom:33486.7px;color:rgb(35,31,31);
}
#P127_53
{
left:12342.5px;bottom:33972.1px;color:rgb(35,31,31);
}
#P127_54
{
left:12363.6px;bottom:33954.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P127_55
{
left:12522px;bottom:33925px;color:rgb(35,31,31);
}
#P127_56
{
left:13108.4px;bottom:33954.5px;color:rgb(35,31,31);
}
#P127_57
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P127_58
{
left:13288px;bottom:34394.2px;color:rgb(35,31,31);
}
#P127_59
{
left:13766.4px;bottom:34367.6px;color:rgb(35,31,31);
}
#P127_60
{
left:14294.1px;bottom:34394.2px;color:rgb(35,31,31);
}
#P127_61
{
left:14772.4px;bottom:33972.1px;color:rgb(35,31,31);
}
#P127_62
{
left:13266.8px;bottom:33938.5px;color:rgb(35,31,31);
}
#P127_63
{
left:14793.6px;bottom:33955.8px;color:rgb(35,31,31);
}
#P127_64
{
left:13288px;bottom:33486.7px;color:rgb(35,31,31);
}
#P127_65
{
left:13766.4px;bottom:33460.1px;color:rgb(35,31,31);
}
#P127_66
{
left:14294.1px;bottom:33486.7px;color:rgb(35,31,31);
}
#P127_67
{
left:14772.4px;bottom:33972.1px;color:rgb(35,31,31);
}
#P127_68
{
left:14793.6px;bottom:33954.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P127_69
{
left:14952px;bottom:33925px;color:rgb(35,31,31);
}
#P127_70
{
left:15538.4px;bottom:33954.5px;color:rgb(35,31,31);
}
#P127_71
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P127_72
{
left:15885.8px;bottom:34394.2px;color:rgb(35,31,31);
}
#P127_73
{
left:16221.6px;bottom:33972.1px;color:rgb(35,31,31);
}
#P127_74
{
left:15696.8px;bottom:33938.5px;color:rgb(35,31,31);
}
#P127_75
{
left:16410.6px;bottom:33955.8px;color:rgb(35,31,31);
}
#P127_76
{
left:15717.9px;bottom:33486.7px;color:rgb(35,31,31);
}
#P127_77
{
left:16389.5px;bottom:33972.1px;color:rgb(35,31,31);
}
#P127_78
{
left:16410.6px;bottom:33954.5px;color:rgb(35,31,31);
}
#P127_79
{
left:16410.6px;bottom:33985.4px;color:rgb(35,31,31);
}
#P127_80
{
left:19315px;bottom:33962.5px;letter-spacing:-0.6px;color:rgb(0,124,196);
}
#P127_81
{
left:9650.71px;bottom:31842.5px;letter-spacing:-11.7px;word-spacing:352px;color:rgb(35,31,31);
}
#P127_81a
{
left: 10700.71px;bottom:31842.5px;letter-spacing:-11.7px;word-spacing:352px;color:rgb(35,31,31);
}
#P127_82
{
left:0px;letter-spacing:0px;margin-left:-3.8px;
}
#P127_83
{
left:12407.2px;bottom:32282.2px;color:rgb(35,31,31);
}
#P127_84
{
left:12762px;bottom:31860.1px;color:rgb(35,31,31);
}
#P127_85
{
left:12386.1px;bottom:31826.5px;color:rgb(35,31,31);
}
#P127_86
{
left:12783.1px;bottom:31843.8px;color:rgb(35,31,31);
}
#P127_87
{
left:12407.2px;bottom:31374.7px;color:rgb(35,31,31);
}
#P127_88
{
left:12762px;bottom:31860.1px;color:rgb(35,31,31);
}
#P127_89
{
left:12783.1px;bottom:31842.5px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P127_90
{
left:12931px;bottom:31813px;color:rgb(35,31,31);
}
#P127_91
{
left:13517.4px;bottom:31842.5px;color:rgb(35,31,31);
}
#P127_92
{
left:0px;letter-spacing:0px;margin-left:-147.8px;
}
#P127_93
{
left:14080.6px;bottom:32282.2px;color:rgb(35,31,31);
}
#P127_94
{
left:14435.4px;bottom:31860.1px;color:rgb(35,31,31);
}
#P127_95
{
left:14059.5px;bottom:31826.5px;color:rgb(35,31,31);
}
#P127_96
{
left:14456.5px;bottom:31843.8px;color:rgb(35,31,31);
}
#P127_97
{
left:14080.6px;bottom:31374.7px;color:rgb(35,31,31);
}
#P127_98
{
left:14435.4px;bottom:31860.1px;color:rgb(35,31,31);
}
#P127_99
{
left:14456.5px;bottom:31842.5px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P127_100
{
left:10738.7px;bottom:29772.1px;color:rgb(35,31,31);
}
#P127_101
{
left:10738.7px;bottom:29772.1px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P127_102
{
left:10759.8px;bottom:30211.8px;color:rgb(35,31,31);
}
#P127_103
{
left:11087.4px;bottom:29789.7px;color:rgb(35,31,31);
}
#P127_104
{
left:10738.7px;bottom:29756.1px;color:rgb(35,31,31);
}
#P127_105
{
left:11099.5px;bottom:29773.4px;color:rgb(35,31,31);
}
#P127_106
{
left:10750.8px;bottom:29304.3px;color:rgb(35,31,31);
}
#P127_107
{
left:11078.4px;bottom:29789.7px;color:rgb(35,31,31);
}
#P127_108
{
left:11099.5px;bottom:29772.1px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P127_109
{
left:11257.9px;bottom:29742.6px;color:rgb(35,31,31);
}
#P127_110
{
left:11844.4px;bottom:29772.1px;color:rgb(35,31,31);
}
#P127_111
{
left:12002.8px;bottom:29772.1px;word-spacing:-70.4px;color:rgb(235,26,35);
}
#P127_112
{
left:12485px;bottom:30211.8px;color:rgb(235,26,35);
}
#P127_113
{
left:12820.8px;bottom:29789.7px;color:rgb(235,26,35);
}
#P127_114
{
left:12463.9px;bottom:29756.1px;color:rgb(235,26,35);
}
#P127_115
{
left:12841.9px;bottom:29773.4px;color:rgb(235,26,35);
}
#P127_116
{
left:12485px;bottom:29304.3px;color:rgb(235,26,35);
}
#P127_117
{
left:12820.8px;bottom:29789.7px;color:rgb(235,26,35);
}
#P127_118
{
left:12841.9px;bottom:29772.1px;color:rgb(235,26,35);
}
#P127_119
{
left:12841.9px;bottom:29772.1px;color:rgb(35,31,31);
}
#P127_120
{
left:13000.3px;bottom:29742.6px;color:rgb(35,31,31);
}
#P127_121
{
left:13586.8px;bottom:29772.1px;color:rgb(35,31,31);
}
#P127_122
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P127_123
{
left:13766.3px;bottom:30211.8px;color:rgb(35,31,31);
}
#P127_124
{
left:14102.1px;bottom:29789.7px;color:rgb(35,31,31);
}
#P127_125
{
left:13745.2px;bottom:29756.1px;color:rgb(35,31,31);
}
#P127_126
{
left:14123.2px;bottom:29773.4px;color:rgb(35,31,31);
}
#P127_127
{
left:13766.3px;bottom:29304.3px;color:rgb(35,31,31);
}
#P127_128
{
left:14102.1px;bottom:29789.7px;color:rgb(35,31,31);
}
#P127_129
{
left:14123.2px;bottom:29772.1px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P127_130
{
left:14281.6px;bottom:29742.6px;color:rgb(35,31,31);
}
#P127_131
{
left:14868.1px;bottom:29772.1px;color:rgb(35,31,31);
}
#P127_132
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P127_133
{
left:15047.5px;bottom:30211.8px;color:rgb(235,26,35);
}
#P127_134
{
left:15383.3px;bottom:29789.7px;color:rgb(235,26,35);
}
#P127_135
{
left:15026.4px;bottom:29756.1px;color:rgb(235,26,35);
}
#P127_136
{
left:15404.4px;bottom:29773.4px;color:rgb(235,26,35);
}
#P127_137
{
left:15047.5px;bottom:29304.3px;color:rgb(235,26,35);
}
#P127_138
{
left:15383.3px;bottom:29789.7px;color:rgb(235,26,35);
}
#P127_139
{
left:15404.4px;bottom:29772.1px;color:rgb(235,26,35);
}
#P127_140
{
left:15404.4px;bottom:29803px;color:rgb(35,31,31);
}
#P127_141
{
left:19314.8px;bottom:29780.1px;color:rgb(0,124,196);
}
#P127_142
{
left:0px;letter-spacing:0px;margin-left:-161.3px;
}
#P127_143
{
left:21199px;bottom:30201.9px;color:rgb(0,124,196);
}
#P127_144
{
left:21489.2px;bottom:29796.9px;color:rgb(0,124,196);
}
#P127_145
{
left:21178.8px;bottom:29766.9px;color:rgb(0,124,196);
}
#P127_146
{
left:21509.4px;bottom:29781.4px;color:rgb(0,124,196);
}
#P127_147
{
left:21199px;bottom:29335.6px;color:rgb(0,124,196);
}
#P127_148
{
left:21489.2px;bottom:29796.9px;color:rgb(0,124,196);
}
#P127_149
{
left:21509.4px;bottom:29780.1px;color:rgb(0,124,196);
}
#P127_150
{
left:0px;letter-spacing:0px;margin-left:-161.3px;
}
#P127_151
{
left:0px;letter-spacing:0px;margin-left:-161.3px;
}
#P127_152
{
left:27971.9px;bottom:30201.9px;color:rgb(0,124,196);
}
#P127_153
{
left:28262.2px;bottom:29796.9px;color:rgb(0,124,196);
}
#P127_154
{
left:27951.7px;bottom:29766.9px;color:rgb(0,124,196);
}
#P127_155
{
left:28282.3px;bottom:29781.4px;color:rgb(0,124,196);
}
#P127_156
{
left:27971.9px;bottom:29335.6px;color:rgb(0,124,196);
}
#P127_157
{
left:28262.2px;bottom:29796.9px;color:rgb(0,124,196);
}
#P127_158
{
left:28282.3px;bottom:29780.1px;letter-spacing:-161.3px;color:rgb(0,124,196);
}
#P127_159
{
left:10738.7px;bottom:27701.7px;letter-spacing:1923.2px;color:rgb(35,31,31);
}
#P127_160
{
left:12978.8px;bottom:27672.2px;color:rgb(35,31,31);
}
#P127_161
{
left:13565.3px;bottom:27701.7px;color:rgb(35,31,31);
}
#P127_162
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P127_163
{
left:13744.7px;bottom:28141.4px;color:rgb(35,31,31);
}
#P127_164
{
left:14223.1px;bottom:28114.8px;color:rgb(35,31,31);
}
#P127_165
{
left:14750.8px;bottom:28141.4px;color:rgb(35,31,31);
}
#P127_166
{
left:15229.2px;bottom:27719.3px;color:rgb(35,31,31);
}
#P127_167
{
left:13723.5px;bottom:27685.7px;color:rgb(35,31,31);
}
#P127_168
{
left:15250.3px;bottom:27703px;color:rgb(35,31,31);
}
#P127_169
{
left:13744.7px;bottom:27233.9px;color:rgb(35,31,31);
}
#P127_170
{
left:14223.1px;bottom:27207.3px;color:rgb(35,31,31);
}
#P127_171
{
left:14750.8px;bottom:27233.9px;color:rgb(35,31,31);
}
#P127_172
{
left:15229.1px;bottom:27719.3px;color:rgb(35,31,31);
}
#P127_173
{
left:15250.3px;bottom:27701.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P127_174
{
left:15408.7px;bottom:27672.2px;color:rgb(35,31,31);
}
#P127_175
{
left:15995.1px;bottom:27701.7px;color:rgb(35,31,31);
}
#P127_176
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P127_177
{
left:16174.6px;bottom:28141.4px;color:rgb(35,31,31);
}
#P127_178
{
left:16846.2px;bottom:27719.3px;color:rgb(35,31,31);
}
#P127_179
{
left:16153.5px;bottom:27685.7px;color:rgb(35,31,31);
}
#P127_180
{
left:16867.4px;bottom:27703px;color:rgb(35,31,31);
}
#P127_181
{
left:16174.6px;bottom:27233.9px;color:rgb(35,31,31);
}
#P127_182
{
left:16846.2px;bottom:27719.3px;color:rgb(35,31,31);
}
#P127_183
{
left:16867.4px;bottom:27701.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P127_184
{
left:19314.7px;bottom:27709.7px;letter-spacing:-0.6px;color:rgb(0,124,196);
}
#P127_185
{
left:10034.7px;bottom:23554.9px;letter-spacing:-6.3px;color:rgb(35,31,31);
}
#P127_186
{
left:0px;letter-spacing:0px;margin-left:6.3px;
}
#P127_187
{
left:0px;letter-spacing:-35.2px;margin-left:-50.7px;
}
#P127_188
{
left:0px;letter-spacing:0px;margin-left:40.8px;
}
#P127_189
{
left:10034.7px;bottom:22082.9px;color:rgb(35,31,31);
}
#P127_190
{
left:10603.5px;bottom:22102.6px;color:rgb(35,31,31);
}
#P127_191
{
left:11190.7px;bottom:22082.9px;letter-spacing:285.9px;color:rgb(35,31,31);
}
#P127_192
{
left:0px;letter-spacing:0px;margin-left:-444.2px;
}
#P127_193
{
left:11655.8px;bottom:22522.6px;color:rgb(35,31,31);
}
#P127_194
{
left:11991.6px;bottom:22100.5px;color:rgb(35,31,31);
}
#P127_195
{
left:11634.7px;bottom:22066.9px;color:rgb(35,31,31);
}
#P127_196
{
left:12012.8px;bottom:22084.2px;color:rgb(35,31,31);
}
#P127_197
{
left:11655.8px;bottom:21615.1px;color:rgb(35,31,31);
}
#P127_198
{
left:11991.6px;bottom:22100.5px;color:rgb(35,31,31);
}
#P127_199
{
left:12012.8px;bottom:22082.9px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P127_200
{
left:12171.2px;bottom:22053.4px;color:rgb(35,31,31);
}
#P127_201
{
left:12757.6px;bottom:22082.9px;color:rgb(35,31,31);
}
#P127_202
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P127_203
{
left:12937.1px;bottom:22522.6px;color:rgb(35,31,31);
}
#P127_204
{
left:13272.9px;bottom:22100.5px;color:rgb(35,31,31);
}
#P127_205
{
left:12916px;bottom:22066.9px;color:rgb(35,31,31);
}
#P127_206
{
left:13294px;bottom:22084.2px;color:rgb(35,31,31);
}
#P127_207
{
left:12937.1px;bottom:21615.1px;color:rgb(35,31,31);
}
#P127_208
{
left:13272.9px;bottom:22100.5px;color:rgb(35,31,31);
}
#P127_209
{
left:13294px;bottom:22082.9px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P127_210
{
left:17035.1px;bottom:22102.6px;color:rgb(35,31,31);
}
#P127_211
{
left:17622.2px;bottom:22082.9px;letter-spacing:221.9px;color:rgb(35,31,31);
}
#P127_212
{
left:0px;letter-spacing:0px;margin-left:-380.2px;
}
#P127_213
{
left:18023.8px;bottom:22522.6px;color:rgb(35,31,31);
}
#P127_214
{
left:18359.6px;bottom:22100.5px;color:rgb(35,31,31);
}
#P127_215
{
left:18002.7px;bottom:22066.9px;color:rgb(35,31,31);
}
#P127_216
{
left:18380.8px;bottom:22084.2px;color:rgb(35,31,31);
}
#P127_217
{
left:18023.8px;bottom:21615.1px;color:rgb(35,31,31);
}
#P127_218
{
left:18359.6px;bottom:22100.5px;color:rgb(35,31,31);
}
#P127_219
{
left:18380.8px;bottom:22082.9px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P127_220
{
left:18539.2px;bottom:22053.4px;color:rgb(35,31,31);
}
#P127_221
{
left:19125.6px;bottom:22082.9px;color:rgb(35,31,31);
}
#P127_222
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P127_223
{
left:19305.1px;bottom:22522.6px;color:rgb(35,31,31);
}
#P127_224
{
left:19640.9px;bottom:22100.5px;color:rgb(35,31,31);
}
#P127_225
{
left:19284px;bottom:22066.9px;color:rgb(35,31,31);
}
#P127_226
{
left:19662px;bottom:22084.2px;color:rgb(35,31,31);
}
#P127_227
{
left:19305.1px;bottom:21615.1px;color:rgb(35,31,31);
}
#P127_228
{
left:19640.9px;bottom:22100.5px;color:rgb(35,31,31);
}
#P127_229
{
left:19662px;bottom:22082.9px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P127_230
{
left:23467.2px;bottom:22102.6px;color:rgb(35,31,31);
}
#P127_231
{
left:24054.3px;bottom:22082.9px;letter-spacing:285.9px;color:rgb(35,31,31);
}
#P127_232
{
left:0px;letter-spacing:0px;margin-left:-444.2px;
}
#P127_233
{
left:24519.8px;bottom:22522.6px;color:rgb(35,31,31);
}
#P127_234
{
left:24855.6px;bottom:22100.5px;color:rgb(35,31,31);
}
#P127_235
{
left:24498.7px;bottom:22066.9px;color:rgb(35,31,31);
}
#P127_236
{
left:24876.8px;bottom:22084.2px;color:rgb(35,31,31);
}
#P127_237
{
left:24519.8px;bottom:21615.1px;color:rgb(35,31,31);
}
#P127_238
{
left:24855.6px;bottom:22100.5px;color:rgb(35,31,31);
}
#P127_239
{
left:24876.8px;bottom:22082.9px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P127_240
{
left:25035.2px;bottom:22053.4px;color:rgb(35,31,31);
}
#P127_241
{
left:25621.6px;bottom:22082.9px;color:rgb(35,31,31);
}
#P127_242
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P127_243
{
left:25801.1px;bottom:22522.6px;color:rgb(35,31,31);
}
#P127_244
{
left:26136.9px;bottom:22100.5px;color:rgb(35,31,31);
}
#P127_245
{
left:25780px;bottom:22066.9px;color:rgb(35,31,31);
}
#P127_246
{
left:26158px;bottom:22084.2px;color:rgb(35,31,31);
}
#P127_247
{
left:25801.1px;bottom:21615.1px;color:rgb(35,31,31);
}
#P127_248
{
left:26136.9px;bottom:22100.5px;color:rgb(35,31,31);
}
#P127_249
{
left:26158px;bottom:22082.9px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P127_250
{
left:30251.1px;bottom:22102.6px;color:rgb(35,31,31);
}
#P127_251
{
left:30838.2px;bottom:22082.9px;letter-spacing:221.9px;color:rgb(35,31,31);
}
#P127_252
{
left:0px;letter-spacing:0px;margin-left:-380.2px;
}
#P127_253
{
left:31407.8px;bottom:22522.6px;color:rgb(35,31,31);
}
#P127_254
{
left:31743.6px;bottom:22100.5px;color:rgb(35,31,31);
}
#P127_255
{
left:31218.7px;bottom:22066.9px;color:rgb(35,31,31);
}
#P127_256
{
left:31932.6px;bottom:22084.2px;color:rgb(35,31,31);
}
#P127_257
{
left:31239.8px;bottom:21615.1px;color:rgb(35,31,31);
}
#P127_258
{
left:31911.4px;bottom:22100.5px;color:rgb(35,31,31);
}
#P127_259
{
left:31932.6px;bottom:22082.9px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P127_260
{
left:32091px;bottom:22053.4px;color:rgb(35,31,31);
}
#P127_261
{
left:32677.4px;bottom:22082.9px;color:rgb(35,31,31);
}
#P127_262
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P127_263
{
left:32856.9px;bottom:22522.6px;color:rgb(35,31,31);
}
#P127_264
{
left:33192.7px;bottom:22100.5px;color:rgb(35,31,31);
}
#P127_265
{
left:32835.8px;bottom:22066.9px;color:rgb(35,31,31);
}
#P127_266
{
left:33213.8px;bottom:22084.2px;color:rgb(35,31,31);
}
#P127_267
{
left:32856.9px;bottom:21615.1px;color:rgb(35,31,31);
}
#P127_268
{
left:33192.7px;bottom:22100.5px;color:rgb(35,31,31);
}
#P127_269
{
left:33213.8px;bottom:22082.9px;color:rgb(35,31,31);
}
#P127_270
{
left:10034.6px;bottom:19970.9px;color:rgb(35,31,31);
}
#P127_271
{
left:10603.5px;bottom:19990.6px;color:rgb(35,31,31);
}
#P127_272
{
left:11634.9px;bottom:19970.9px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P127_273
{
left:12146.3px;bottom:20410.6px;color:rgb(35,31,31);
}
#P127_274
{
left:12482.1px;bottom:19988.5px;color:rgb(35,31,31);
}
#P127_275
{
left:12125.2px;bottom:19954.9px;color:rgb(35,31,31);
}
#P127_276
{
left:12503.3px;bottom:19972.2px;color:rgb(35,31,31);
}
#P127_277
{
left:12146.3px;bottom:19503.1px;color:rgb(35,31,31);
}
#P127_278
{
left:12482.1px;bottom:19988.5px;color:rgb(35,31,31);
}
#P127_279
{
left:12503.3px;bottom:19970.9px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P127_280
{
left:12661.7px;bottom:19941.4px;color:rgb(35,31,31);
}
#P127_281
{
left:13248.1px;bottom:19970.9px;color:rgb(35,31,31);
}
#P127_282
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P127_283
{
left:13427.5px;bottom:20410.6px;color:rgb(35,31,31);
}
#P127_284
{
left:13763.4px;bottom:19988.5px;color:rgb(35,31,31);
}
#P127_285
{
left:13406.4px;bottom:19954.9px;color:rgb(35,31,31);
}
#P127_286
{
left:13784.5px;bottom:19972.2px;color:rgb(35,31,31);
}
#P127_287
{
left:13427.5px;bottom:19503.1px;color:rgb(35,31,31);
}
#P127_288
{
left:13763.4px;bottom:19988.5px;color:rgb(35,31,31);
}
#P127_289
{
left:13784.5px;bottom:19970.9px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P127_290
{
left:17035.5px;bottom:19990.6px;color:rgb(35,31,31);
}
#P127_291
{
left:17622.7px;bottom:19970.9px;letter-spacing:221.9px;color:rgb(35,31,31);
}
#P127_292
{
left:0px;letter-spacing:0px;margin-left:-380.2px;
}
#P127_293
{
left:18023.8px;bottom:20410.6px;color:rgb(35,31,31);
}
#P127_294
{
left:18359.6px;bottom:19988.5px;color:rgb(35,31,31);
}
#P127_295
{
left:18002.7px;bottom:19954.9px;color:rgb(35,31,31);
}
#P127_296
{
left:18380.8px;bottom:19972.2px;color:rgb(35,31,31);
}
#P127_297
{
left:18023.8px;bottom:19503.1px;color:rgb(35,31,31);
}
#P127_298
{
left:18359.6px;bottom:19988.5px;color:rgb(35,31,31);
}
#P127_299
{
left:18380.8px;bottom:19970.9px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P127_300
{
left:18539.2px;bottom:19941.4px;color:rgb(35,31,31);
}
#P127_301
{
left:19125.6px;bottom:19970.9px;color:rgb(35,31,31);
}
#P127_302
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P127_303
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P127_304
{
left:19766.2px;bottom:20410.6px;color:rgb(35,31,31);
}
#P127_305
{
left:20102px;bottom:19988.5px;color:rgb(35,31,31);
}
#P127_306
{
left:19745.1px;bottom:19954.9px;color:rgb(35,31,31);
}
#P127_307
{
left:20123.2px;bottom:19972.2px;color:rgb(35,31,31);
}
#P127_308
{
left:19766.2px;bottom:19503.1px;color:rgb(35,31,31);
}
#P127_309
{
left:20102px;bottom:19988.5px;color:rgb(35,31,31);
}
#P127_310
{
left:20123.2px;bottom:19970.9px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P127_311
{
left:23467.2px;bottom:19990.6px;color:rgb(35,31,31);
}
#P127_312
{
left:24498.6px;bottom:19970.9px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P127_313
{
left:24981px;bottom:20410.6px;color:rgb(35,31,31);
}
#P127_314
{
left:25316.8px;bottom:19988.5px;color:rgb(35,31,31);
}
#P127_315
{
left:24959.8px;bottom:19954.9px;color:rgb(35,31,31);
}
#P127_316
{
left:25337.9px;bottom:19972.2px;color:rgb(35,31,31);
}
#P127_317
{
left:24981px;bottom:19503.1px;color:rgb(35,31,31);
}
#P127_318
{
left:25316.8px;bottom:19988.5px;color:rgb(35,31,31);
}
#P127_319
{
left:25337.9px;bottom:19970.9px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P127_320
{
left:25496.3px;bottom:19941.4px;color:rgb(35,31,31);
}
#P127_321
{
left:26082.7px;bottom:19970.9px;color:rgb(35,31,31);
}
#P127_322
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P127_323
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P127_324
{
left:26723.4px;bottom:20410.6px;color:rgb(35,31,31);
}
#P127_325
{
left:27059.2px;bottom:19988.5px;color:rgb(35,31,31);
}
#P127_326
{
left:26702.2px;bottom:19954.9px;color:rgb(35,31,31);
}
#P127_327
{
left:27080.3px;bottom:19972.2px;color:rgb(35,31,31);
}
#P127_328
{
left:26723.4px;bottom:19503.1px;color:rgb(35,31,31);
}
#P127_329
{
left:27059.2px;bottom:19988.5px;color:rgb(35,31,31);
}
#P127_330
{
left:27080.3px;bottom:19970.9px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P127_331
{
left:30251.1px;bottom:19990.6px;color:rgb(35,31,31);
}
#P127_332
{
left:31218.5px;bottom:19970.9px;word-spacing:221.9px;color:rgb(35,31,31);
}
#P127_333
{
left:31868.9px;bottom:20410.6px;color:rgb(35,31,31);
}
#P127_334
{
left:32204.7px;bottom:19988.5px;color:rgb(35,31,31);
}
#P127_335
{
left:31679.8px;bottom:19954.9px;color:rgb(35,31,31);
}
#P127_336
{
left:32393.7px;bottom:19972.2px;color:rgb(35,31,31);
}
#P127_337
{
left:31701px;bottom:19503.1px;color:rgb(35,31,31);
}
#P127_338
{
left:32372.6px;bottom:19988.5px;color:rgb(35,31,31);
}
#P127_339
{
left:32393.7px;bottom:19970.9px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P127_340
{
left:32552.1px;bottom:19941.4px;color:rgb(35,31,31);
}
#P127_341
{
left:33138.5px;bottom:19970.9px;color:rgb(35,31,31);
}
#P127_342
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P127_343
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P127_344
{
left:33779.2px;bottom:20410.6px;color:rgb(35,31,31);
}
#P127_345
{
left:34115px;bottom:19988.5px;color:rgb(35,31,31);
}
#P127_346
{
left:33758px;bottom:19954.9px;color:rgb(35,31,31);
}
#P127_347
{
left:34136.1px;bottom:19972.2px;color:rgb(35,31,31);
}
#P127_348
{
left:33779.2px;bottom:19503.1px;color:rgb(35,31,31);
}
#P127_349
{
left:34115px;bottom:19988.5px;color:rgb(35,31,31);
}
#P127_350
{
left:34136.1px;bottom:19970.9px;color:rgb(35,31,31);
}
#P127_351
{
left:6651.35px;bottom:46893.1px;color:white;
}
#P127_352
{
left:13996.3px;bottom:47191.5px;color:white;
}
#P127_353
{
left:14369.9px;bottom:46893.1px;color:white;
}
#P127_354
{
left:0px;bottom:0px;letter-spacing:0px;color:white;
}
#P127_355
{
left:6973.4px;bottom:43555.5px;letter-spacing:-4.4px;color:rgb(0,124,196);
}
#P127_356
{
left:0px;letter-spacing:0px;margin-left:4.4px;
}
#P127_357
{
left:6973.4px;bottom:39896px;letter-spacing:-0.6px;color:rgb(0,124,196);
}
#P127_358
{
left:10045.4px;bottom:42258.5px;letter-spacing:-4px;color:rgb(35,31,31);
}
#P127_359
{
left:0px;letter-spacing:0px;margin-left:4px;
}
#P127_360
{
left:13418.2px;bottom:42258.5px;color:rgb(35,31,31);
}
#P127_361
{
left:29449.8px;bottom:45131.3px;letter-spacing:-22.4px;word-spacing:0.2px;color:rgb(33,31,31);
}
#P127_362
{
left:0px;letter-spacing:0px;margin-left:22.4px;
}
#P127_363
{
left:8722.71px;bottom:16892.2px;letter-spacing:9.6px;
}
#P127_364
{
left:8722.71px;bottom:16892.2px;letter-spacing:9.6px;color:white;
}
#P127_365
{
left:11026.7px;bottom:16927.9px;color:rgb(2,77,161);
}
#P127_366
{
left:11603px;bottom:17119.7px;color:rgb(2,77,161);
}
#P127_367
{
left:11843.2px;bottom:16927.9px;color:rgb(2,77,161);
}
#P127_368
{
left:12291.6px;bottom:17119.7px;color:rgb(2,77,161);
}
#P127_369
{
left:12531.8px;bottom:16927.9px;color:rgb(2,77,161);
}
#P127_370
{
left:13027.7px;bottom:17119.7px;color:rgb(2,77,161);
}
#P127_371
{
left:13267.9px;bottom:16927.9px;letter-spacing:-2.2px;color:rgb(2,77,161);
}
#P127_372
{
left:16388.7px;bottom:17119.7px;color:rgb(2,77,161);
}
#P127_373
{
left:16628.9px;bottom:16927.9px;color:rgb(2,77,161);
}
#P127_374
{
left:18837.3px;bottom:16985.3px;color:rgb(2,77,161);
}
#P127_375
{
left:10034.7px;bottom:14941.5px;color:rgb(35,31,31);
}
#P127_376
{
left:0px;letter-spacing:0px;margin-left:-15.5px;
}
#P127_377
{
left:0px;letter-spacing:0px;margin-left:-147.8px;
}
#P127_378
{
left:11703.2px;bottom:15381.2px;color:rgb(35,31,31);
}
#P127_379
{
left:12058px;bottom:14959.1px;color:rgb(35,31,31);
}
#P127_380
{
left:11682.1px;bottom:14925.5px;color:rgb(35,31,31);
}
#P127_381
{
left:12079.1px;bottom:14942.8px;color:rgb(35,31,31);
}
#P127_382
{
left:11703.2px;bottom:14473.6px;color:rgb(35,31,31);
}
#P127_383
{
left:12058px;bottom:14959.1px;color:rgb(35,31,31);
}
#P127_384
{
left:12079.1px;bottom:14941.5px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P127_385
{
left:12227px;bottom:14912px;color:rgb(35,31,31);
}
#P127_386
{
left:12813.4px;bottom:14941.5px;color:rgb(35,31,31);
}
#P127_387
{
left:0px;letter-spacing:0px;margin-left:-147.8px;
}
#P127_388
{
left:12982.4px;bottom:15381.2px;color:rgb(35,31,31);
}
#P127_389
{
left:13337.2px;bottom:14959.1px;color:rgb(35,31,31);
}
#P127_390
{
left:12961.2px;bottom:14925.5px;color:rgb(35,31,31);
}
#P127_391
{
left:13358.3px;bottom:14942.8px;color:rgb(35,31,31);
}
#P127_392
{
left:12982.4px;bottom:14473.6px;color:rgb(35,31,31);
}
#P127_393
{
left:13337.2px;bottom:14959.1px;color:rgb(35,31,31);
}
#P127_394
{
left:13358.3px;bottom:14941.5px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P127_395
{
left:11186.7px;bottom:12871.1px;color:rgb(35,31,31);
}
#P127_396
{
left:11186.7px;bottom:12871.1px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P127_397
{
left:11207.8px;bottom:13310.8px;color:rgb(35,31,31);
}
#P127_398
{
left:11535.4px;bottom:12888.7px;color:rgb(35,31,31);
}
#P127_399
{
left:11186.7px;bottom:12855.1px;color:rgb(35,31,31);
}
#P127_400
{
left:11547.5px;bottom:12872.4px;color:rgb(35,31,31);
}
#P127_401
{
left:11198.8px;bottom:12403.2px;color:rgb(35,31,31);
}
#P127_402
{
left:11526.4px;bottom:12888.7px;color:rgb(35,31,31);
}
#P127_403
{
left:11547.5px;bottom:12871.1px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P127_404
{
left:11705.9px;bottom:12841.6px;color:rgb(35,31,31);
}
#P127_405
{
left:12292.4px;bottom:12871.1px;color:rgb(35,31,31);
}
#P127_406
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P127_407
{
left:12471.9px;bottom:13310.8px;color:rgb(0,124,196);
}
#P127_408
{
left:12807.7px;bottom:12888.7px;color:rgb(0,124,196);
}
#P127_409
{
left:12450.8px;bottom:12855.1px;color:rgb(35,31,31);
}
#P127_410
{
left:12828.8px;bottom:12872.4px;color:rgb(35,31,31);
}
#P127_411
{
left:12471.9px;bottom:12403.2px;color:rgb(235,26,35);
}
#P127_412
{
left:12807.7px;bottom:12888.7px;color:rgb(235,26,35);
}
#P127_413
{
left:12828.8px;bottom:12871.1px;color:rgb(235,26,35);
}
#P127_414
{
left:12828.8px;bottom:12871.1px;color:rgb(35,31,31);
}
#P127_415
{
left:12987.2px;bottom:12841.6px;color:rgb(35,31,31);
}
#P127_416
{
left:13573.7px;bottom:12871.1px;color:rgb(35,31,31);
}
#P127_417
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P127_418
{
left:13753.2px;bottom:13310.8px;color:rgb(35,31,31);
}
#P127_419
{
left:14089px;bottom:12888.7px;color:rgb(35,31,31);
}
#P127_420
{
left:13732.1px;bottom:12855.1px;color:rgb(35,31,31);
}
#P127_421
{
left:14110.1px;bottom:12872.4px;color:rgb(35,31,31);
}
#P127_422
{
left:13753.2px;bottom:12403.2px;color:rgb(35,31,31);
}
#P127_423
{
left:14089px;bottom:12888.7px;color:rgb(35,31,31);
}
#P127_424
{
left:14110.1px;bottom:12871.1px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P127_425
{
left:14268.5px;bottom:12841.6px;color:rgb(35,31,31);
}
#P127_426
{
left:14854.9px;bottom:12871.1px;color:rgb(35,31,31);
}
#P127_427
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P127_428
{
left:15034.5px;bottom:13310.8px;color:rgb(235,26,35);
}
#P127_429
{
left:15370.2px;bottom:12888.7px;color:rgb(235,26,35);
}
#P127_430
{
left:15013.3px;bottom:12855.1px;color:rgb(35,31,31);
}
#P127_431
{
left:15391.3px;bottom:12872.4px;color:rgb(35,31,31);
}
#P127_432
{
left:15034.5px;bottom:12403.2px;color:rgb(0,124,196);
}
#P127_433
{
left:15370.2px;bottom:12888.7px;color:rgb(0,124,196);
}
#P127_434
{
left:15391.3px;bottom:12871.1px;color:rgb(0,124,196);
}
#P127_435
{
left:15391.3px;bottom:12902px;color:rgb(35,31,31);
}
#P127_436
{
left:19314.5px;bottom:12879.1px;color:rgb(0,124,196);
}
#P127_437
{
left:0px;letter-spacing:0px;margin-left:-161.3px;
}
#P127_438
{
left:26635.3px;bottom:13300.8px;color:rgb(0,124,196);
}
#P127_439
{
left:26925.6px;bottom:12895.9px;color:rgb(0,124,196);
}
#P127_440
{
left:26615.1px;bottom:12865.8px;color:rgb(0,124,196);
}
#P127_441
{
left:26945.8px;bottom:12880.4px;color:rgb(0,124,196);
}
#P127_442
{
left:26635.3px;bottom:12434.6px;color:rgb(0,124,196);
}
#P127_443
{
left:26925.6px;bottom:12895.9px;color:rgb(0,124,196);
}
#P127_444
{
left:26945.8px;bottom:12879.1px;color:rgb(0,124,196);
}
#P127_445
{
left:0px;letter-spacing:0px;margin-left:-161.3px;
}
#P127_446
{
left:0px;letter-spacing:0px;margin-left:-24.9px;
}
#P127_447
{
left:0px;letter-spacing:0px;margin-left:-161.3px;
}
#P127_448
{
left:29502.7px;bottom:13300.8px;color:rgb(0,124,196);
}
#P127_449
{
left:29793px;bottom:12895.9px;color:rgb(0,124,196);
}
#P127_450
{
left:29482.6px;bottom:12865.8px;color:rgb(0,124,196);
}
#P127_451
{
left:29813.2px;bottom:12880.4px;color:rgb(0,124,196);
}
#P127_452
{
left:29502.7px;bottom:12434.6px;color:rgb(0,124,196);
}
#P127_453
{
left:29793px;bottom:12895.9px;color:rgb(0,124,196);
}
#P127_454
{
left:29813.2px;bottom:12879.1px;letter-spacing:-161.3px;color:rgb(0,124,196);
}
#P127_455
{
left:10418.7px;bottom:10800.7px;letter-spacing:2243.2px;color:rgb(35,31,31);
}
#P127_456
{
left:12978.5px;bottom:10771.2px;color:rgb(35,31,31);
}
#P127_457
{
left:13564.9px;bottom:10800.7px;color:rgb(35,31,31);
}
#P127_458
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P127_459
{
left:13744.7px;bottom:11240.4px;color:rgb(35,31,31);
}
#P127_460
{
left:14223.1px;bottom:11213.8px;color:rgb(35,31,31);
}
#P127_461
{
left:14750.8px;bottom:11240.4px;color:rgb(35,31,31);
}
#P127_462
{
left:15229.2px;bottom:10818.3px;color:rgb(35,31,31);
}
#P127_463
{
left:13723.5px;bottom:10784.7px;color:rgb(35,31,31);
}
#P127_464
{
left:15250.3px;bottom:10802px;color:rgb(35,31,31);
}
#P127_465
{
left:13744.7px;bottom:10332.8px;color:rgb(35,31,31);
}
#P127_466
{
left:14223.1px;bottom:10306.2px;color:rgb(35,31,31);
}
#P127_467
{
left:14750.8px;bottom:10332.8px;color:rgb(35,31,31);
}
#P127_468
{
left:15229.2px;bottom:10818.3px;color:rgb(35,31,31);
}
#P127_469
{
left:15250.3px;bottom:10800.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P127_470
{
left:15408.7px;bottom:10771.2px;color:rgb(35,31,31);
}
#P127_471
{
left:15995.2px;bottom:10800.7px;color:rgb(35,31,31);
}
#P127_472
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P127_473
{
left:16174.6px;bottom:11240.4px;color:rgb(35,31,31);
}
#P127_474
{
left:16846.2px;bottom:10818.3px;color:rgb(35,31,31);
}
#P127_475
{
left:16153.5px;bottom:10784.7px;color:rgb(35,31,31);
}
#P127_476
{
left:16867.4px;bottom:10802px;color:rgb(35,31,31);
}
#P127_477
{
left:16174.6px;bottom:10332.8px;color:rgb(35,31,31);
}
#P127_478
{
left:16846.2px;bottom:10818.3px;color:rgb(35,31,31);
}
#P127_479
{
left:16867.4px;bottom:10800.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P127_480
{
left:19314.7px;bottom:10808.7px;color:rgb(0,124,196);
}
#P127_481
{
left:0px;letter-spacing:0px;margin-left:-49.7px;
}
#P127_482
{
left:10034.7px;bottom:6556.78px;letter-spacing:-5.2px;color:rgb(35,31,31);
}
#P127_483
{
left:0px;letter-spacing:-14.8px;margin-left:-37px;
}
#P127_484
{
left:0px;letter-spacing:0px;margin-left:14.8px;
}
#P127_485
{
left:10034.7px;bottom:5084.72px;color:rgb(35,31,31);
}
#P127_486
{
left:10603.5px;bottom:5104.43px;color:rgb(35,31,31);
}
#P127_487
{
left:11190.7px;bottom:5084.72px;letter-spacing:285.9px;color:rgb(35,31,31);
}
#P127_488
{
left:0px;letter-spacing:0px;margin-left:-444.2px;
}
#P127_489
{
left:11655.8px;bottom:5524.46px;color:rgb(35,31,31);
}
#P127_490
{
left:11991.6px;bottom:5102.38px;color:rgb(35,31,31);
}
#P127_491
{
left:11634.7px;bottom:5068.77px;color:rgb(35,31,31);
}
#P127_492
{
left:12012.8px;bottom:5086.05px;color:rgb(35,31,31);
}
#P127_493
{
left:11655.8px;bottom:4616.94px;color:rgb(35,31,31);
}
#P127_494
{
left:11991.6px;bottom:5102.38px;color:rgb(35,31,31);
}
#P127_495
{
left:12012.8px;bottom:5084.78px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P127_496
{
left:12171.2px;bottom:5055.21px;color:rgb(35,31,31);
}
#P127_497
{
left:12757.6px;bottom:5084.78px;color:rgb(35,31,31);
}
#P127_498
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P127_499
{
left:12937.1px;bottom:5524.46px;color:rgb(35,31,31);
}
#P127_500
{
left:13272.9px;bottom:5102.38px;color:rgb(35,31,31);
}
#P127_501
{
left:12916px;bottom:5068.77px;color:rgb(35,31,31);
}
#P127_502
{
left:13294px;bottom:5086.05px;color:rgb(35,31,31);
}
#P127_503
{
left:12937.1px;bottom:4616.94px;color:rgb(35,31,31);
}
#P127_504
{
left:13272.9px;bottom:5102.38px;color:rgb(35,31,31);
}
#P127_505
{
left:13294px;bottom:5084.78px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P127_506
{
left:16643.7px;bottom:5104.49px;color:rgb(35,31,31);
}
#P127_507
{
left:17622.2px;bottom:5084.78px;letter-spacing:221.9px;color:rgb(35,31,31);
}
#P127_508
{
left:0px;letter-spacing:0px;margin-left:-380.2px;
}
#P127_509
{
left:18023.8px;bottom:5524.46px;color:rgb(35,31,31);
}
#P127_510
{
left:18359.6px;bottom:5102.38px;color:rgb(35,31,31);
}
#P127_511
{
left:18002.7px;bottom:5068.77px;color:rgb(35,31,31);
}
#P127_512
{
left:18380.8px;bottom:5086.05px;color:rgb(35,31,31);
}
#P127_513
{
left:18023.8px;bottom:4616.94px;color:rgb(35,31,31);
}
#P127_514
{
left:18359.6px;bottom:5102.38px;color:rgb(35,31,31);
}
#P127_515
{
left:18380.8px;bottom:5084.78px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P127_516
{
left:18539.2px;bottom:5055.21px;color:rgb(35,31,31);
}
#P127_517
{
left:19125.6px;bottom:5084.78px;color:rgb(35,31,31);
}
#P127_518
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P127_519
{
left:19305.1px;bottom:5524.46px;color:rgb(35,31,31);
}
#P127_520
{
left:19640.9px;bottom:5102.38px;color:rgb(35,31,31);
}
#P127_521
{
left:19284px;bottom:5068.77px;color:rgb(35,31,31);
}
#P127_522
{
left:19662px;bottom:5086.05px;color:rgb(35,31,31);
}
#P127_523
{
left:19305.1px;bottom:4616.94px;color:rgb(35,31,31);
}
#P127_524
{
left:19640.9px;bottom:5102.38px;color:rgb(35,31,31);
}
#P127_525
{
left:19662px;bottom:5084.78px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P127_526
{
left:23075.7px;bottom:5104.49px;color:rgb(35,31,31);
}
#P127_527
{
left:24498.6px;bottom:5084.78px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P127_528
{
left:25030px;bottom:5055.21px;color:rgb(35,31,31);
}
#P127_529
{
left:25616.5px;bottom:5084.78px;color:rgb(35,31,31);
}
#P127_530
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P127_531
{
left:25796.2px;bottom:5524.46px;color:rgb(35,31,31);
}
#P127_532
{
left:26132px;bottom:5102.38px;color:rgb(35,31,31);
}
#P127_533
{
left:25775.1px;bottom:5068.77px;color:rgb(35,31,31);
}
#P127_534
{
left:26153.1px;bottom:5086.05px;color:rgb(35,31,31);
}
#P127_535
{
left:25796.2px;bottom:4616.94px;color:rgb(35,31,31);
}
#P127_536
{
left:26132px;bottom:5102.38px;color:rgb(35,31,31);
}
#P127_537
{
left:26153.1px;bottom:5084.78px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P127_538
{
left:29859.7px;bottom:5104.49px;color:rgb(35,31,31);
}
#P127_539
{
left:30838.2px;bottom:5084.78px;letter-spacing:221.9px;color:rgb(35,31,31);
}
#P127_540
{
left:0px;letter-spacing:0px;margin-left:-380.2px;
}
#P127_541
{
left:31239.8px;bottom:5524.46px;color:rgb(35,31,31);
}
#P127_542
{
left:31575.6px;bottom:5102.38px;color:rgb(35,31,31);
}
#P127_543
{
left:31218.7px;bottom:5068.77px;color:rgb(35,31,31);
}
#P127_544
{
left:31596.8px;bottom:5086.05px;color:rgb(35,31,31);
}
#P127_545
{
left:31239.8px;bottom:4616.94px;color:rgb(35,31,31);
}
#P127_546
{
left:31575.6px;bottom:5102.38px;color:rgb(35,31,31);
}
#P127_547
{
left:31596.8px;bottom:5084.78px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P127_548
{
left:31755.2px;bottom:5055.21px;color:rgb(35,31,31);
}
#P127_549
{
left:32341.6px;bottom:5084.78px;color:rgb(35,31,31);
}
#P127_550
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P127_551
{
left:32689px;bottom:5524.46px;color:rgb(35,31,31);
}
#P127_552
{
left:33024.9px;bottom:5102.38px;color:rgb(35,31,31);
}
#P127_553
{
left:32500px;bottom:5068.77px;color:rgb(35,31,31);
}
#P127_554
{
left:33213.8px;bottom:5086.05px;color:rgb(35,31,31);
}
#P127_555
{
left:32521.1px;bottom:4616.94px;color:rgb(35,31,31);
}
#P127_556
{
left:33192.7px;bottom:5102.38px;color:rgb(35,31,31);
}
#P127_557
{
left:33213.8px;bottom:5084.78px;color:rgb(35,31,31);
}
#P127_558
{
left:4097.75px;bottom:46399px;
}
#PageContainer127
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg127.jpg");background-repeat:no-repeat;background-size: 1030px 1270px; background-position: 3.85px 0.119999999999891px;
}
#ImageContainer127 {bottom:93.88px;left:3.85px;width:1029.78px;height:1270.28px;position:absolute;} #TextContainer127 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.spanish_review{position:absolute; top: 50px; left: 50px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}