.tr568{ color:transparent;}
#P568_1
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P568_2
{
left:3540.44px;bottom:1410.03px;color:rgb(35,31,31);
}
#P568_3
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P568_4
{
left:8197.72px;bottom:1410.03px;letter-spacing:462.1px;color:rgb(35,31,31);
}
#P568_5
{
left:0px;letter-spacing:1.5px;margin-left:-461.8px;
}
#P568_6
{
left:0px;letter-spacing:0px;margin-left:11.7px;
}
#P568_7
{
left:5889.56px;bottom:46957.1px;letter-spacing:-6px;color:white;
}
#P568_8
{
left:9101.98px;bottom:47255.5px;color:white;
}
#P568_9
{
left:9475.61px;bottom:46957.1px;color:white;
}
#P568_10
{
left:2371.78px;bottom:46929.9px;color:white;
}
#P568_11
{
left:4690.71px;bottom:42321.3px;color:rgb(35,31,31);
}
#P568_12
{
left:5259.29px;bottom:42341px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P568_13
{
left:6354.71px;bottom:42341px;color:rgb(2,77,161);
}
#P568_14
{
left:9079.83px;bottom:42321.3px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P568_15
{
left:0px;letter-spacing:-7px;margin-left:-214.6px;
}
#P568_16
{
left:0px;letter-spacing:-0.1px;margin-left:7px;
}
#P568_17
{
left:6354.71px;bottom:41425.3px;color:rgb(35,31,31);
}
#P568_18
{
left:4690.71px;bottom:40081.3px;color:rgb(35,31,31);
}
#P568_19
{
left:5259.29px;bottom:40101px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P568_20
{
left:6354.71px;bottom:40101px;color:rgb(2,77,161);
}
#P568_21
{
left:11193.9px;bottom:40081.3px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P568_22
{
left:0px;letter-spacing:-1.6px;margin-left:-200.5px;
}
#P568_23
{
left:0px;letter-spacing:-0.4px;margin-left:1.6px;
}
#P568_24
{
left:18498.2px;bottom:40051.7px;color:rgb(35,31,31);
}
#P568_25
{
left:19084.6px;bottom:40081.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P568_26
{
left:19105.8px;bottom:40520.9px;color:rgb(35,31,31);
}
#P568_27
{
left:19441.6px;bottom:40098.9px;color:rgb(35,31,31);
}
#P568_28
{
left:19084.6px;bottom:40065.2px;color:rgb(35,31,31);
}
#P568_29
{
left:19462.7px;bottom:40082.5px;color:rgb(35,31,31);
}
#P568_30
{
left:19105.8px;bottom:39613.4px;color:rgb(35,31,31);
}
#P568_31
{
left:19441.6px;bottom:40098.9px;color:rgb(35,31,31);
}
#P568_32
{
left:19462.7px;bottom:40081.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P568_33
{
left:4690.71px;bottom:38481.3px;letter-spacing:-28.1px;color:rgb(35,31,31);
}
#P568_34
{
left:0px;letter-spacing:-0.5px;margin-left:28.1px;
}
#P568_35
{
left:14492.6px;bottom:38486.9px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P568_36
{
left:17034.1px;bottom:38481.3px;color:rgb(35,31,31);
}
#P568_37
{
left:18051.4px;bottom:38486.9px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P568_38
{
left:20807.6px;bottom:38481.3px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P568_39
{
left:4690.71px;bottom:36881.3px;color:rgb(35,31,31);
}
#P568_40
{
left:5259.29px;bottom:36901px;color:rgb(35,31,31);
}
#P568_41
{
left:6290.71px;bottom:36851.8px;color:rgb(35,31,31);
}
#P568_42
{
left:6722.27px;bottom:36881.3px;color:rgb(35,31,31);
}
#P568_43
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P568_44
{
left:7069.66px;bottom:37320.9px;color:rgb(35,31,31);
}
#P568_45
{
left:7405.47px;bottom:36898.9px;color:rgb(35,31,31);
}
#P568_46
{
left:6880.67px;bottom:36865.2px;color:rgb(35,31,31);
}
#P568_47
{
left:7594.52px;bottom:36882.5px;color:rgb(35,31,31);
}
#P568_48
{
left:6901.79px;bottom:36413.4px;color:rgb(35,31,31);
}
#P568_49
{
left:7573.4px;bottom:36898.9px;color:rgb(35,31,31);
}
#P568_50
{
left:7594.52px;bottom:36881.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P568_51
{
left:7752.92px;bottom:36851.7px;color:rgb(35,31,31);
}
#P568_52
{
left:8339.35px;bottom:36881.3px;color:rgb(35,31,31);
}
#P568_53
{
left:8497.75px;bottom:36290.9px;color:rgb(35,31,31);
}
#P568_54
{
left:8744.09px;bottom:36612.5px;color:rgb(35,31,31);
}
#P568_55
{
left:8800.41px;bottom:36851.7px;color:rgb(35,31,31);
}
#P568_56
{
left:9231.96px;bottom:36881.3px;color:rgb(35,31,31);
}
#P568_57
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P568_58
{
left:9579.42px;bottom:37320.9px;color:rgb(35,31,31);
}
#P568_59
{
left:9915.23px;bottom:36898.9px;color:rgb(35,31,31);
}
#P568_60
{
left:9390.36px;bottom:36865.2px;color:rgb(35,31,31);
}
#P568_61
{
left:10104.2px;bottom:36882.5px;color:rgb(35,31,31);
}
#P568_62
{
left:9411.48px;bottom:36413.4px;color:rgb(35,31,31);
}
#P568_63
{
left:10083.1px;bottom:36898.9px;color:rgb(35,31,31);
}
#P568_64
{
left:10104.2px;bottom:36881.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P568_65
{
left:10160.5px;bottom:36290.9px;color:rgb(35,31,31);
}
#P568_66
{
left:10406.9px;bottom:36881.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P568_67
{
left:12555.3px;bottom:36901px;color:rgb(35,31,31);
}
#P568_68
{
left:13586.7px;bottom:36881.3px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P568_69
{
left:13981px;bottom:37320.9px;color:rgb(35,31,31);
}
#P568_70
{
left:14316.8px;bottom:36898.9px;color:rgb(35,31,31);
}
#P568_71
{
left:13959.8px;bottom:36865.2px;color:rgb(35,31,31);
}
#P568_72
{
left:14337.9px;bottom:36882.5px;color:rgb(35,31,31);
}
#P568_73
{
left:13981px;bottom:36413.4px;color:rgb(35,31,31);
}
#P568_74
{
left:14316.8px;bottom:36898.9px;color:rgb(35,31,31);
}
#P568_75
{
left:14337.9px;bottom:36881.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P568_76
{
left:14496.3px;bottom:36851.7px;color:rgb(35,31,31);
}
#P568_77
{
left:15082.7px;bottom:36881.3px;color:rgb(35,31,31);
}
#P568_78
{
left:15241.1px;bottom:36299.6px;color:rgb(35,31,31);
}
#P568_79
{
left:15487.5px;bottom:36614.9px;color:rgb(35,31,31);
}
#P568_80
{
left:15543.8px;bottom:36851.7px;color:rgb(35,31,31);
}
#P568_81
{
left:15975.4px;bottom:36881.3px;color:rgb(35,31,31);
}
#P568_82
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P568_83
{
left:16154.8px;bottom:37320.9px;color:rgb(35,31,31);
}
#P568_84
{
left:16490.6px;bottom:36898.9px;color:rgb(35,31,31);
}
#P568_85
{
left:16133.7px;bottom:36865.2px;color:rgb(35,31,31);
}
#P568_86
{
left:16511.8px;bottom:36882.5px;color:rgb(35,31,31);
}
#P568_87
{
left:16154.8px;bottom:36413.4px;color:rgb(35,31,31);
}
#P568_88
{
left:16490.6px;bottom:36898.9px;color:rgb(35,31,31);
}
#P568_89
{
left:16511.8px;bottom:36881.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P568_90
{
left:16568.1px;bottom:36299.6px;color:rgb(35,31,31);
}
#P568_91
{
left:16814.5px;bottom:36881.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P568_92
{
left:19979.3px;bottom:36901px;color:rgb(35,31,31);
}
#P568_93
{
left:21010.8px;bottom:36851.7px;color:rgb(35,31,31);
}
#P568_94
{
left:21597.3px;bottom:36881.3px;color:rgb(35,31,31);
}
#P568_95
{
left:22688.5px;bottom:36851.7px;color:rgb(35,31,31);
}
#P568_96
{
left:23274.9px;bottom:36881.3px;color:rgb(35,31,31);
}
#P568_97
{
left:27339.4px;bottom:36901px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P568_98
{
left:28370.8px;bottom:36901px;color:rgb(35,31,31);
}
#P568_99
{
left:28391.8px;bottom:37296.4px;color:rgb(35,31,31);
}
#P568_100
{
left:28919.6px;bottom:37323.1px;color:rgb(35,31,31);
}
#P568_101
{
left:30094.9px;bottom:36898.9px;color:rgb(35,31,31);
}
#P568_102
{
left:28370.7px;bottom:36867.4px;color:rgb(35,31,31);
}
#P568_103
{
left:30116.1px;bottom:36882.5px;color:rgb(35,31,31);
}
#P568_104
{
left:28391.8px;bottom:36388.9px;color:rgb(35,31,31);
}
#P568_105
{
left:28919.6px;bottom:36415.5px;color:rgb(35,31,31);
}
#P568_106
{
left:30094.9px;bottom:36898.9px;color:rgb(35,31,31);
}
#P568_107
{
left:30116.1px;bottom:36881.3px;color:rgb(35,31,31);
}
#P568_108
{
left:4086.06px;bottom:34477.1px;color:rgb(33,31,31);
}
#P568_109
{
left:4172.45px;bottom:34508.5px;letter-spacing:-0.2px;color:rgb(33,31,31);
}
#P568_110
{
left:4455.46px;bottom:34611.2px;letter-spacing:0.8px;color:rgb(33,31,31);
}
#P568_111
{
left:4602.53px;bottom:34664.6px;color:rgb(33,31,31);
}
#P568_112
{
left:4164.48px;bottom:34297.9px;color:rgb(33,31,31);
}
#P568_113
{
left:4250.85px;bottom:34329.3px;letter-spacing:-0.2px;color:rgb(33,31,31);
}
#P568_114
{
left:4533.86px;bottom:34432px;letter-spacing:0.8px;color:rgb(33,31,31);
}
#P568_115
{
left:4259.68px;bottom:34118.7px;color:rgb(33,31,31);
}
#P568_116
{
left:4346.08px;bottom:34150.1px;letter-spacing:-0.2px;color:rgb(33,31,31);
}
#P568_117
{
left:4629.09px;bottom:34252.8px;letter-spacing:0.8px;color:rgb(33,31,31);
}
#P568_118
{
left:4424.86px;bottom:33869.5px;color:rgb(33,31,31);
}
#P568_119
{
left:4511.26px;bottom:33900.9px;letter-spacing:-0.2px;color:rgb(33,31,31);
}
#P568_120
{
left:4794.27px;bottom:34003.6px;letter-spacing:0.8px;color:rgb(33,31,31);
}
#P568_121
{
left:4669.4px;bottom:32037.3px;color:rgb(35,31,31);
}
#P568_122
{
left:0px;letter-spacing:0px;margin-left:-25.3px;
}
#P568_123
{
left:0px;letter-spacing:0px;margin-left:-50.6px;
}
#P568_124
{
left:4669.4px;bottom:30437.3px;color:rgb(35,31,31);
}
#P568_125
{
left:5237.98px;bottom:30457px;color:rgb(35,31,31);
}
#P568_126
{
left:6269.4px;bottom:30407.7px;color:rgb(35,31,31);
}
#P568_127
{
left:6855.83px;bottom:30437.3px;color:rgb(35,31,31);
}
#P568_128
{
left:7228.95px;bottom:29848px;color:rgb(35,31,31);
}
#P568_129
{
left:7475.35px;bottom:30171px;color:rgb(35,31,31);
}
#P568_130
{
left:7531.67px;bottom:30437.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P568_131
{
left:7552.79px;bottom:30877px;color:rgb(35,31,31);
}
#P568_132
{
left:7888.6px;bottom:30454.9px;color:rgb(35,31,31);
}
#P568_133
{
left:7531.67px;bottom:30421.3px;color:rgb(35,31,31);
}
#P568_134
{
left:7909.72px;bottom:30438.6px;color:rgb(35,31,31);
}
#P568_135
{
left:7552.79px;bottom:29969.5px;color:rgb(35,31,31);
}
#P568_136
{
left:7888.6px;bottom:30454.9px;color:rgb(35,31,31);
}
#P568_137
{
left:7909.72px;bottom:30437.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P568_138
{
left:7966.04px;bottom:29848px;color:rgb(35,31,31);
}
#P568_139
{
left:8212.44px;bottom:30437.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P568_140
{
left:15542px;bottom:30457px;color:rgb(35,31,31);
}
#P568_141
{
left:16573.4px;bottom:30407.7px;color:rgb(35,31,31);
}
#P568_142
{
left:17159.8px;bottom:30437.3px;color:rgb(35,31,31);
}
#P568_143
{
left:17533px;bottom:29855.6px;color:rgb(35,31,31);
}
#P568_144
{
left:17779.4px;bottom:30171px;color:rgb(35,31,31);
}
#P568_145
{
left:17835.7px;bottom:30407.7px;color:rgb(35,31,31);
}
#P568_146
{
left:18422.1px;bottom:30437.3px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P568_147
{
left:18904.3px;bottom:30877px;color:rgb(35,31,31);
}
#P568_148
{
left:19240.2px;bottom:30454.9px;color:rgb(35,31,31);
}
#P568_149
{
left:18883.2px;bottom:30421.3px;color:rgb(35,31,31);
}
#P568_150
{
left:19261.3px;bottom:30438.6px;color:rgb(35,31,31);
}
#P568_151
{
left:18904.3px;bottom:29969.5px;color:rgb(35,31,31);
}
#P568_152
{
left:19240.2px;bottom:30454.9px;color:rgb(35,31,31);
}
#P568_153
{
left:19261.3px;bottom:30437.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P568_154
{
left:19317.6px;bottom:29855.6px;color:rgb(35,31,31);
}
#P568_155
{
left:19564px;bottom:30437.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P568_156
{
left:25846px;bottom:30457px;color:rgb(35,31,31);
}
#P568_157
{
left:26749.5px;bottom:30407.7px;color:rgb(35,31,31);
}
#P568_158
{
left:27336px;bottom:30437.3px;color:rgb(35,31,31);
}
#P568_159
{
left:28888.3px;bottom:30407.7px;color:rgb(35,31,31);
}
#P568_160
{
left:29474.7px;bottom:30437.3px;color:rgb(35,31,31);
}
#P568_161
{
left:4669.53px;bottom:28261.3px;letter-spacing:-5.2px;color:rgb(35,31,31);
}
#P568_162
{
left:0px;letter-spacing:-14.8px;margin-left:-36.9px;
}
#P568_163
{
left:0px;letter-spacing:0.2px;margin-left:14.8px;
}
#P568_164
{
left:4669.53px;bottom:26661.3px;color:rgb(35,31,31);
}
#P568_165
{
left:4846.68px;bottom:26681px;color:rgb(35,31,31);
}
#P568_166
{
left:6269.53px;bottom:26631.7px;color:rgb(35,31,31);
}
#P568_167
{
left:6701.08px;bottom:26661.3px;color:rgb(35,31,31);
}
#P568_168
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P568_169
{
left:7048.35px;bottom:27101px;color:rgb(35,31,31);
}
#P568_170
{
left:7384.15px;bottom:26678.9px;color:rgb(35,31,31);
}
#P568_171
{
left:6859.35px;bottom:26645.3px;color:rgb(35,31,31);
}
#P568_172
{
left:7573.21px;bottom:26662.6px;color:rgb(35,31,31);
}
#P568_173
{
left:6880.47px;bottom:26193.5px;color:rgb(35,31,31);
}
#P568_174
{
left:7552.09px;bottom:26678.9px;color:rgb(35,31,31);
}
#P568_175
{
left:7573.21px;bottom:26661.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P568_176
{
left:7731.61px;bottom:26631.7px;color:rgb(35,31,31);
}
#P568_177
{
left:8318.04px;bottom:26661.3px;color:rgb(35,31,31);
}
#P568_178
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P568_179
{
left:8497.5px;bottom:27101px;color:rgb(35,31,31);
}
#P568_180
{
left:8833.31px;bottom:26678.9px;color:rgb(35,31,31);
}
#P568_181
{
left:8476.38px;bottom:26645.3px;color:rgb(35,31,31);
}
#P568_182
{
left:8854.43px;bottom:26662.6px;color:rgb(35,31,31);
}
#P568_183
{
left:8497.5px;bottom:26193.5px;color:rgb(35,31,31);
}
#P568_184
{
left:8833.31px;bottom:26678.9px;color:rgb(35,31,31);
}
#P568_185
{
left:8854.43px;bottom:26661.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P568_186
{
left:12142.6px;bottom:26681px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P568_187
{
left:13565.4px;bottom:26681px;color:rgb(35,31,31);
}
#P568_188
{
left:13586.5px;bottom:27103.1px;color:rgb(35,31,31);
}
#P568_189
{
left:13922.3px;bottom:26678.9px;color:rgb(35,31,31);
}
#P568_190
{
left:13565.4px;bottom:26647.4px;color:rgb(35,31,31);
}
#P568_191
{
left:13943.4px;bottom:26662.6px;color:rgb(35,31,31);
}
#P568_192
{
left:13586.5px;bottom:26195.6px;color:rgb(35,31,31);
}
#P568_193
{
left:13922.3px;bottom:26678.9px;color:rgb(35,31,31);
}
#P568_194
{
left:13943.4px;bottom:26661.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P568_195
{
left:14101.8px;bottom:26631.7px;color:rgb(35,31,31);
}
#P568_196
{
left:14688.3px;bottom:26661.3px;color:rgb(35,31,31);
}
#P568_197
{
left:14846.7px;bottom:26070.9px;color:rgb(35,31,31);
}
#P568_198
{
left:15093.1px;bottom:26392.5px;color:rgb(35,31,31);
}
#P568_199
{
left:15149.4px;bottom:26631.7px;color:rgb(35,31,31);
}
#P568_200
{
left:15580.9px;bottom:26661.3px;color:rgb(35,31,31);
}
#P568_201
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P568_202
{
left:15760.4px;bottom:27101px;color:rgb(35,31,31);
}
#P568_203
{
left:16096.2px;bottom:26678.9px;color:rgb(35,31,31);
}
#P568_204
{
left:15739.3px;bottom:26645.3px;color:rgb(35,31,31);
}
#P568_205
{
left:16117.3px;bottom:26662.6px;color:rgb(35,31,31);
}
#P568_206
{
left:15760.4px;bottom:26193.5px;color:rgb(35,31,31);
}
#P568_207
{
left:16096.2px;bottom:26678.9px;color:rgb(35,31,31);
}
#P568_208
{
left:16117.3px;bottom:26661.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P568_209
{
left:16173.7px;bottom:26070.9px;color:rgb(35,31,31);
}
#P568_210
{
left:16420.1px;bottom:26661.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P568_211
{
left:19566.6px;bottom:26681px;color:rgb(35,31,31);
}
#P568_212
{
left:20989.5px;bottom:26631.7px;color:rgb(35,31,31);
}
#P568_213
{
left:21421.1px;bottom:26661.3px;color:rgb(35,31,31);
}
#P568_214
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P568_215
{
left:21600.5px;bottom:27101px;color:rgb(35,31,31);
}
#P568_216
{
left:21936.3px;bottom:26678.9px;color:rgb(35,31,31);
}
#P568_217
{
left:21579.4px;bottom:26645.3px;color:rgb(35,31,31);
}
#P568_218
{
left:21957.4px;bottom:26662.6px;color:rgb(35,31,31);
}
#P568_219
{
left:21600.5px;bottom:26193.5px;color:rgb(35,31,31);
}
#P568_220
{
left:21936.3px;bottom:26678.9px;color:rgb(35,31,31);
}
#P568_221
{
left:21957.4px;bottom:26661.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P568_222
{
left:22115.8px;bottom:26631.7px;color:rgb(35,31,31);
}
#P568_223
{
left:22702.2px;bottom:26661.3px;color:rgb(35,31,31);
}
#P568_224
{
left:22860.6px;bottom:26070.9px;color:rgb(35,31,31);
}
#P568_225
{
left:23107px;bottom:26392.5px;color:rgb(35,31,31);
}
#P568_226
{
left:23163.3px;bottom:26631.7px;color:rgb(35,31,31);
}
#P568_227
{
left:23594.8px;bottom:26661.3px;color:rgb(35,31,31);
}
#P568_228
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P568_229
{
left:23774.4px;bottom:27101px;color:rgb(35,31,31);
}
#P568_230
{
left:24110.2px;bottom:26678.9px;color:rgb(35,31,31);
}
#P568_231
{
left:23753.2px;bottom:26645.3px;color:rgb(35,31,31);
}
#P568_232
{
left:24131.3px;bottom:26662.6px;color:rgb(35,31,31);
}
#P568_233
{
left:23774.4px;bottom:26193.5px;color:rgb(35,31,31);
}
#P568_234
{
left:24110.2px;bottom:26678.9px;color:rgb(35,31,31);
}
#P568_235
{
left:24131.3px;bottom:26661.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P568_236
{
left:24187.6px;bottom:26070.9px;color:rgb(35,31,31);
}
#P568_237
{
left:24434px;bottom:26661.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P568_238
{
left:26926.6px;bottom:26681px;color:rgb(35,31,31);
}
#P568_239
{
left:28349.5px;bottom:26631.7px;color:rgb(35,31,31);
}
#P568_240
{
left:28781px;bottom:26661.3px;color:rgb(35,31,31);
}
#P568_241
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P568_242
{
left:28960.5px;bottom:27101px;color:rgb(35,31,31);
}
#P568_243
{
left:29296.3px;bottom:26678.9px;color:rgb(35,31,31);
}
#P568_244
{
left:28939.4px;bottom:26645.3px;color:rgb(35,31,31);
}
#P568_245
{
left:29317.4px;bottom:26662.6px;color:rgb(35,31,31);
}
#P568_246
{
left:28960.5px;bottom:26193.5px;color:rgb(35,31,31);
}
#P568_247
{
left:29296.3px;bottom:26678.9px;color:rgb(35,31,31);
}
#P568_248
{
left:29317.4px;bottom:26661.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P568_249
{
left:29475.8px;bottom:26631.7px;color:rgb(35,31,31);
}
#P568_250
{
left:30062.2px;bottom:26661.3px;color:rgb(35,31,31);
}
#P568_251
{
left:4669.4px;bottom:24549.3px;color:rgb(35,31,31);
}
#P568_252
{
left:4846.43px;bottom:24569px;color:rgb(35,31,31);
}
#P568_253
{
left:6269.27px;bottom:24519.7px;color:rgb(35,31,31);
}
#P568_254
{
left:6855.71px;bottom:24549.3px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P568_255
{
left:7338.07px;bottom:24989px;color:rgb(35,31,31);
}
#P568_256
{
left:7673.88px;bottom:24566.9px;color:rgb(35,31,31);
}
#P568_257
{
left:7316.95px;bottom:24533.3px;color:rgb(35,31,31);
}
#P568_258
{
left:7695px;bottom:24550.6px;color:rgb(35,31,31);
}
#P568_259
{
left:7338.07px;bottom:24081.5px;color:rgb(35,31,31);
}
#P568_260
{
left:7673.88px;bottom:24566.9px;color:rgb(35,31,31);
}
#P568_261
{
left:7695px;bottom:24549.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P568_262
{
left:7853.4px;bottom:24519.7px;color:rgb(35,31,31);
}
#P568_263
{
left:8439.83px;bottom:24549.3px;color:rgb(35,31,31);
}
#P568_264
{
left:8844.57px;bottom:24519.7px;color:rgb(35,31,31);
}
#P568_265
{
left:9431px;bottom:24549.3px;color:rgb(35,31,31);
}
#P568_266
{
left:12142.4px;bottom:24569px;color:rgb(35,31,31);
}
#P568_267
{
left:13565.4px;bottom:24519.7px;color:rgb(35,31,31);
}
#P568_268
{
left:14151.8px;bottom:24549.3px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P568_269
{
left:15007.2px;bottom:24989px;color:rgb(35,31,31);
}
#P568_270
{
left:15343px;bottom:24566.9px;color:rgb(35,31,31);
}
#P568_271
{
left:14986.1px;bottom:24533.3px;color:rgb(35,31,31);
}
#P568_272
{
left:15364.1px;bottom:24550.6px;color:rgb(35,31,31);
}
#P568_273
{
left:15007.2px;bottom:24081.5px;color:rgb(35,31,31);
}
#P568_274
{
left:15343px;bottom:24566.9px;color:rgb(35,31,31);
}
#P568_275
{
left:15364.1px;bottom:24549.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P568_276
{
left:15522.5px;bottom:24519.7px;color:rgb(35,31,31);
}
#P568_277
{
left:16109px;bottom:24549.3px;color:rgb(35,31,31);
}
#P568_278
{
left:16267.3px;bottom:23968.7px;color:rgb(35,31,31);
}
#P568_279
{
left:16513.7px;bottom:24285.2px;color:rgb(35,31,31);
}
#P568_280
{
left:16570px;bottom:24519.7px;color:rgb(35,31,31);
}
#P568_281
{
left:17156.4px;bottom:24549.3px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P568_282
{
left:17806.6px;bottom:24989px;color:rgb(35,31,31);
}
#P568_283
{
left:18142.4px;bottom:24566.9px;color:rgb(35,31,31);
}
#P568_284
{
left:17617.6px;bottom:24533.3px;color:rgb(35,31,31);
}
#P568_285
{
left:18331.4px;bottom:24550.6px;color:rgb(35,31,31);
}
#P568_286
{
left:17638.7px;bottom:24081.5px;color:rgb(35,31,31);
}
#P568_287
{
left:18310.3px;bottom:24566.9px;color:rgb(35,31,31);
}
#P568_288
{
left:18331.4px;bottom:24549.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P568_289
{
left:18387.7px;bottom:23968.7px;color:rgb(35,31,31);
}
#P568_290
{
left:18634.1px;bottom:24549.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P568_291
{
left:19566.6px;bottom:24569px;color:rgb(35,31,31);
}
#P568_292
{
left:20989.5px;bottom:24519.7px;color:rgb(35,31,31);
}
#P568_293
{
left:21576px;bottom:24549.3px;color:rgb(35,31,31);
}
#P568_294
{
left:22107.5px;bottom:24519.7px;color:rgb(35,31,31);
}
#P568_295
{
left:22693.9px;bottom:24549.3px;color:rgb(35,31,31);
}
#P568_296
{
left:26926.7px;bottom:24569px;color:rgb(35,31,31);
}
#P568_297
{
left:28349.5px;bottom:24549.3px;color:rgb(35,31,31);
}
#P568_298
{
left:28881px;bottom:24519.7px;color:rgb(35,31,31);
}
#P568_299
{
left:29467.5px;bottom:24549.3px;color:rgb(35,31,31);
}
#P568_300
{
left:4669.53px;bottom:22437.3px;color:rgb(35,31,31);
}
#P568_301
{
left:4846.55px;bottom:22457px;color:rgb(35,31,31);
}
#P568_302
{
left:6269.47px;bottom:22407.7px;color:rgb(35,31,31);
}
#P568_303
{
left:6855.9px;bottom:22437.3px;color:rgb(35,31,31);
}
#P568_304
{
left:8320.22px;bottom:22407.7px;color:rgb(35,31,31);
}
#P568_305
{
left:8906.65px;bottom:22437.3px;color:rgb(35,31,31);
}
#P568_306
{
left:9311.32px;bottom:22407.7px;color:rgb(35,31,31);
}
#P568_307
{
left:9897.75px;bottom:22437.3px;color:rgb(35,31,31);
}
#P568_308
{
left:12142.6px;bottom:22457px;color:rgb(35,31,31);
}
#P568_309
{
left:13565.4px;bottom:22407.7px;color:rgb(35,31,31);
}
#P568_310
{
left:14151.8px;bottom:22437.3px;color:rgb(35,31,31);
}
#P568_311
{
left:15616.2px;bottom:22407.7px;color:rgb(35,31,31);
}
#P568_312
{
left:16202.6px;bottom:22437.3px;color:rgb(35,31,31);
}
#P568_313
{
left:19566.6px;bottom:22457px;color:rgb(35,31,31);
}
#P568_314
{
left:20989.5px;bottom:22437.3px;color:rgb(35,31,31);
}
#P568_315
{
left:22827px;bottom:22407.7px;color:rgb(35,31,31);
}
#P568_316
{
left:23413.4px;bottom:22437.3px;color:rgb(35,31,31);
}
#P568_317
{
left:23818.1px;bottom:22407.7px;color:rgb(35,31,31);
}
#P568_318
{
left:24404.5px;bottom:22437.3px;color:rgb(35,31,31);
}
#P568_319
{
left:26926.6px;bottom:22457px;color:rgb(35,31,31);
}
#P568_320
{
left:28349.4px;bottom:22437.3px;color:rgb(35,31,31);
}
#P568_321
{
left:30186.8px;bottom:22407.7px;color:rgb(35,31,31);
}
#P568_322
{
left:30773.3px;bottom:22437.3px;color:rgb(35,31,31);
}
#P568_323
{
left:31178px;bottom:22407.7px;color:rgb(35,31,31);
}
#P568_324
{
left:31764.4px;bottom:22437.3px;color:rgb(35,31,31);
}
#P568_325
{
left:4669.4px;bottom:20517.3px;letter-spacing:-6.3px;color:rgb(35,31,31);
}
#P568_326
{
left:0px;letter-spacing:0px;margin-left:6.3px;
}
#P568_327
{
left:0px;letter-spacing:-35.1px;margin-left:-50.6px;
}
#P568_328
{
left:0px;letter-spacing:0.2px;margin-left:40.5px;
}
#P568_329
{
left:4669.4px;bottom:18917.3px;color:rgb(35,31,31);
}
#P568_330
{
left:4846.43px;bottom:18937px;color:rgb(35,31,31);
}
#P568_331
{
left:6269.27px;bottom:18887.7px;color:rgb(35,31,31);
}
#P568_332
{
left:6700.83px;bottom:18917.3px;color:rgb(35,31,31);
}
#P568_333
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P568_334
{
left:6880.47px;bottom:19357px;color:rgb(35,31,31);
}
#P568_335
{
left:7216.28px;bottom:18934.9px;color:rgb(35,31,31);
}
#P568_336
{
left:6859.35px;bottom:18901.3px;color:rgb(35,31,31);
}
#P568_337
{
left:7237.4px;bottom:18918.6px;color:rgb(35,31,31);
}
#P568_338
{
left:6880.47px;bottom:18449.5px;color:rgb(35,31,31);
}
#P568_339
{
left:7216.28px;bottom:18934.9px;color:rgb(35,31,31);
}
#P568_340
{
left:7237.4px;bottom:18917.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P568_341
{
left:7395.8px;bottom:18887.7px;color:rgb(35,31,31);
}
#P568_342
{
left:7982.23px;bottom:18917.3px;color:rgb(35,31,31);
}
#P568_343
{
left:8140.57px;bottom:18328px;color:rgb(35,31,31);
}
#P568_344
{
left:8386.97px;bottom:18651px;color:rgb(35,31,31);
}
#P568_345
{
left:8443.29px;bottom:18887.7px;color:rgb(35,31,31);
}
#P568_346
{
left:8874.84px;bottom:18917.3px;color:rgb(35,31,31);
}
#P568_347
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P568_348
{
left:9054.36px;bottom:19357px;color:rgb(35,31,31);
}
#P568_349
{
left:9390.17px;bottom:18934.9px;color:rgb(35,31,31);
}
#P568_350
{
left:9033.24px;bottom:18901.3px;color:rgb(35,31,31);
}
#P568_351
{
left:9411.29px;bottom:18918.6px;color:rgb(35,31,31);
}
#P568_352
{
left:9054.36px;bottom:18449.5px;color:rgb(35,31,31);
}
#P568_353
{
left:9390.17px;bottom:18934.9px;color:rgb(35,31,31);
}
#P568_354
{
left:9411.29px;bottom:18917.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P568_355
{
left:9467.61px;bottom:18328px;color:rgb(35,31,31);
}
#P568_356
{
left:9714.01px;bottom:18917.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P568_357
{
left:15150.6px;bottom:18937px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P568_358
{
left:16573.5px;bottom:18937px;color:rgb(35,31,31);
}
#P568_359
{
left:16594.5px;bottom:19359.1px;color:rgb(35,31,31);
}
#P568_360
{
left:16930.3px;bottom:18934.9px;color:rgb(35,31,31);
}
#P568_361
{
left:16573.4px;bottom:18903.4px;color:rgb(35,31,31);
}
#P568_362
{
left:16951.4px;bottom:18918.6px;color:rgb(35,31,31);
}
#P568_363
{
left:16594.5px;bottom:18451.6px;color:rgb(35,31,31);
}
#P568_364
{
left:16930.3px;bottom:18934.9px;color:rgb(35,31,31);
}
#P568_365
{
left:16951.4px;bottom:18917.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P568_366
{
left:16951.4px;bottom:18326.9px;color:rgb(35,31,31);
}
#P568_367
{
left:17197.8px;bottom:18648.5px;color:rgb(35,31,31);
}
#P568_368
{
left:17254.2px;bottom:18887.7px;color:rgb(35,31,31);
}
#P568_369
{
left:17685.7px;bottom:18917.3px;color:rgb(35,31,31);
}
#P568_370
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P568_371
{
left:18033.1px;bottom:19357px;color:rgb(35,31,31);
}
#P568_372
{
left:18368.9px;bottom:18934.9px;color:rgb(35,31,31);
}
#P568_373
{
left:17844.1px;bottom:18901.3px;color:rgb(35,31,31);
}
#P568_374
{
left:18558px;bottom:18918.6px;color:rgb(35,31,31);
}
#P568_375
{
left:17865.2px;bottom:18449.5px;color:rgb(35,31,31);
}
#P568_376
{
left:18536.9px;bottom:18934.9px;color:rgb(35,31,31);
}
#P568_377
{
left:18558px;bottom:18917.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P568_378
{
left:18614.3px;bottom:18326.9px;color:rgb(35,31,31);
}
#P568_379
{
left:18860.7px;bottom:18917.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P568_380
{
left:25454.6px;bottom:18937px;color:rgb(35,31,31);
}
#P568_381
{
left:26749.5px;bottom:18887.7px;color:rgb(35,31,31);
}
#P568_382
{
left:27336px;bottom:18917.3px;color:rgb(35,31,31);
}
#P568_383
{
left:27709px;bottom:18335.6px;color:rgb(35,31,31);
}
#P568_384
{
left:27955.4px;bottom:18651px;color:rgb(35,31,31);
}
#P568_385
{
left:28011.7px;bottom:18887.7px;color:rgb(35,31,31);
}
#P568_386
{
left:28598.1px;bottom:18917.3px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P568_387
{
left:28992.3px;bottom:19357px;color:rgb(35,31,31);
}
#P568_388
{
left:29328.2px;bottom:18934.9px;color:rgb(35,31,31);
}
#P568_389
{
left:28971.2px;bottom:18901.3px;color:rgb(35,31,31);
}
#P568_390
{
left:29349.3px;bottom:18918.6px;color:rgb(35,31,31);
}
#P568_391
{
left:28992.3px;bottom:18449.5px;color:rgb(35,31,31);
}
#P568_392
{
left:29328.2px;bottom:18934.9px;color:rgb(35,31,31);
}
#P568_393
{
left:29349.3px;bottom:18917.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P568_394
{
left:29405.6px;bottom:18335.6px;color:rgb(35,31,31);
}
#P568_395
{
left:29652px;bottom:18917.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P568_396
{
left:4669.4px;bottom:16805.3px;color:rgb(35,31,31);
}
#P568_397
{
left:4846.55px;bottom:16825px;color:rgb(35,31,31);
}
#P568_398
{
left:6269.4px;bottom:16775.7px;color:rgb(35,31,31);
}
#P568_399
{
left:6855.83px;bottom:16805.3px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P568_400
{
left:7338.07px;bottom:17245px;color:rgb(35,31,31);
}
#P568_401
{
left:7673.88px;bottom:16822.9px;color:rgb(35,31,31);
}
#P568_402
{
left:7316.95px;bottom:16789.3px;color:rgb(35,31,31);
}
#P568_403
{
left:7695px;bottom:16806.6px;color:rgb(35,31,31);
}
#P568_404
{
left:7338.07px;bottom:16337.5px;color:rgb(35,31,31);
}
#P568_405
{
left:7673.88px;bottom:16822.9px;color:rgb(35,31,31);
}
#P568_406
{
left:7695px;bottom:16805.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P568_407
{
left:7800.6px;bottom:16366.7px;color:rgb(35,31,31);
}
#P568_408
{
left:8152.35px;bottom:16805.3px;color:rgb(35,31,31);
}
#P568_409
{
left:8310.75px;bottom:16216px;color:rgb(35,31,31);
}
#P568_410
{
left:8557.15px;bottom:16539px;color:rgb(35,31,31);
}
#P568_411
{
left:8613.47px;bottom:16775.7px;color:rgb(35,31,31);
}
#P568_412
{
left:9199.9px;bottom:16805.3px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P568_413
{
left:9850.01px;bottom:17245px;color:rgb(35,31,31);
}
#P568_414
{
left:10185.8px;bottom:16822.9px;color:rgb(35,31,31);
}
#P568_415
{
left:9661.02px;bottom:16789.3px;color:rgb(35,31,31);
}
#P568_416
{
left:10374.9px;bottom:16806.6px;color:rgb(35,31,31);
}
#P568_417
{
left:9682.14px;bottom:16337.5px;color:rgb(35,31,31);
}
#P568_418
{
left:10353.8px;bottom:16822.9px;color:rgb(35,31,31);
}
#P568_419
{
left:10374.9px;bottom:16805.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P568_420
{
left:10431.2px;bottom:16216px;color:rgb(35,31,31);
}
#P568_421
{
left:10677.6px;bottom:16805.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P568_422
{
left:15150.6px;bottom:16825px;color:rgb(35,31,31);
}
#P568_423
{
left:16573.4px;bottom:16805.3px;color:rgb(35,31,31);
}
#P568_424
{
left:17664.6px;bottom:16775.7px;color:rgb(35,31,31);
}
#P568_425
{
left:18251px;bottom:16805.3px;color:rgb(35,31,31);
}
#P568_426
{
left:18655.8px;bottom:16775.7px;color:rgb(35,31,31);
}
#P568_427
{
left:19242.2px;bottom:16805.3px;color:rgb(35,31,31);
}
#P568_428
{
left:25454.6px;bottom:16825px;color:rgb(35,31,31);
}
#P568_429
{
left:26749.4px;bottom:16775.7px;color:rgb(35,31,31);
}
#P568_430
{
left:27335.8px;bottom:16805.3px;color:rgb(35,31,31);
}
#P568_431
{
left:28800.2px;bottom:16775.7px;color:rgb(35,31,31);
}
#P568_432
{
left:29386.6px;bottom:16805.3px;color:rgb(35,31,31);
}
#P568_433
{
left:29791.3px;bottom:16775.7px;color:rgb(35,31,31);
}
#P568_434
{
left:30377.8px;bottom:16805.3px;color:rgb(35,31,31);
}
#P568_435
{
left:4669.47px;bottom:14693.3px;color:rgb(35,31,31);
}
#P568_436
{
left:4846.49px;bottom:14713px;color:rgb(35,31,31);
}
#P568_437
{
left:6269.34px;bottom:14663.7px;color:rgb(35,31,31);
}
#P568_438
{
left:6855.77px;bottom:14693.3px;color:rgb(35,31,31);
}
#P568_439
{
left:9273.95px;bottom:14663.7px;color:rgb(35,31,31);
}
#P568_440
{
left:9860.38px;bottom:14693.3px;color:rgb(35,31,31);
}
#P568_441
{
left:15150.6px;bottom:14713px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P568_442
{
left:16573.5px;bottom:14713px;color:rgb(35,31,31);
}
#P568_443
{
left:16594.5px;bottom:15135.1px;color:rgb(35,31,31);
}
#P568_444
{
left:16930.3px;bottom:14710.9px;color:rgb(35,31,31);
}
#P568_445
{
left:16573.4px;bottom:14679.4px;color:rgb(35,31,31);
}
#P568_446
{
left:16951.4px;bottom:14694.6px;color:rgb(35,31,31);
}
#P568_447
{
left:16594.5px;bottom:14227.6px;color:rgb(35,31,31);
}
#P568_448
{
left:16930.3px;bottom:14710.9px;color:rgb(35,31,31);
}
#P568_449
{
left:16951.4px;bottom:14693.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P568_450
{
left:17057px;bottom:14254.7px;color:rgb(35,31,31);
}
#P568_451
{
left:17408.8px;bottom:14693.3px;color:rgb(35,31,31);
}
#P568_452
{
left:17567.2px;bottom:14111.6px;color:rgb(35,31,31);
}
#P568_453
{
left:17813.6px;bottom:14427px;color:rgb(35,31,31);
}
#P568_454
{
left:17869.9px;bottom:14663.7px;color:rgb(35,31,31);
}
#P568_455
{
left:18456.3px;bottom:14693.3px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P568_456
{
left:18938.6px;bottom:15133px;color:rgb(35,31,31);
}
#P568_457
{
left:19274.4px;bottom:14710.9px;color:rgb(35,31,31);
}
#P568_458
{
left:18917.5px;bottom:14677.3px;color:rgb(35,31,31);
}
#P568_459
{
left:19295.5px;bottom:14694.6px;color:rgb(35,31,31);
}
#P568_460
{
left:18938.6px;bottom:14225.5px;color:rgb(35,31,31);
}
#P568_461
{
left:19274.4px;bottom:14710.9px;color:rgb(35,31,31);
}
#P568_462
{
left:19295.5px;bottom:14693.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P568_463
{
left:19351.8px;bottom:14111.6px;color:rgb(35,31,31);
}
#P568_464
{
left:19598.2px;bottom:14693.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P568_465
{
left:19703.8px;bottom:14254.7px;color:rgb(35,31,31);
}
#P568_466
{
left:20055.6px;bottom:14693.3px;color:rgb(35,31,31);
}
#P568_467
{
left:20214px;bottom:14102.9px;color:rgb(35,31,31);
}
#P568_468
{
left:20460.4px;bottom:14424.5px;color:rgb(35,31,31);
}
#P568_469
{
left:20516.7px;bottom:14663.7px;color:rgb(35,31,31);
}
#P568_470
{
left:21103.1px;bottom:14693.3px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P568_471
{
left:21585.4px;bottom:15133px;color:rgb(35,31,31);
}
#P568_472
{
left:21921.2px;bottom:14710.9px;color:rgb(35,31,31);
}
#P568_473
{
left:21564.2px;bottom:14677.3px;color:rgb(35,31,31);
}
#P568_474
{
left:21942.3px;bottom:14694.6px;color:rgb(35,31,31);
}
#P568_475
{
left:21585.4px;bottom:14225.5px;color:rgb(35,31,31);
}
#P568_476
{
left:21921.2px;bottom:14710.9px;color:rgb(35,31,31);
}
#P568_477
{
left:21942.3px;bottom:14693.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P568_478
{
left:21998.6px;bottom:14102.9px;color:rgb(35,31,31);
}
#P568_479
{
left:22245px;bottom:14693.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P568_480
{
left:25454.6px;bottom:14713px;word-spacing:120.6px;color:rgb(35,31,31);
}
#P568_481
{
left:26749.4px;bottom:14102.9px;color:rgb(35,31,31);
}
#P568_482
{
left:26995.8px;bottom:14424.5px;color:rgb(35,31,31);
}
#P568_483
{
left:27052.1px;bottom:14663.7px;color:rgb(35,31,31);
}
#P568_484
{
left:27638.6px;bottom:14693.3px;letter-spacing:-9.8px;word-spacing:-129px;color:rgb(35,31,31);
}
#P568_485
{
left:28062.1px;bottom:15133px;color:rgb(35,31,31);
}
#P568_486
{
left:28397.9px;bottom:14710.9px;color:rgb(35,31,31);
}
#P568_487
{
left:28041px;bottom:14677.3px;color:rgb(35,31,31);
}
#P568_488
{
left:28419px;bottom:14694.6px;color:rgb(35,31,31);
}
#P568_489
{
left:28062.1px;bottom:14225.5px;color:rgb(35,31,31);
}
#P568_490
{
left:28397.9px;bottom:14710.9px;color:rgb(35,31,31);
}
#P568_491
{
left:28419px;bottom:14693.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P568_492
{
left:28475.4px;bottom:14102.9px;color:rgb(35,31,31);
}
#P568_493
{
left:28721.8px;bottom:14693.3px;color:rgb(35,31,31);
}
#P568_494
{
left:28721.8px;bottom:15357px;color:rgb(35,31,31);
}
#P568_495
{
left:4669.4px;bottom:12773.3px;color:rgb(35,31,31);
}
#P568_496
{
left:4669.4px;bottom:12793px;word-spacing:-26px;color:rgb(2,77,161);
}
#P568_497
{
left:0px;letter-spacing:0px;margin-left:-52.8px;
}
#P568_498
{
left:0px;letter-spacing:0px;margin-left:-12.5px;
}
#P568_499
{
left:10315px;bottom:12773.3px;letter-spacing:204px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P568_500
{
left:0px;letter-spacing:-0.6px;margin-left:-204.2px;
}
#P568_501
{
left:0px;letter-spacing:-42.1px;margin-left:0.5px;
}
#P568_502
{
left:4669.4px;bottom:11621.3px;color:rgb(35,31,31);
}
#P568_503
{
left:4846.43px;bottom:11641px;color:rgb(35,31,31);
}
#P568_504
{
left:6269.4px;bottom:10613.7px;color:rgb(35,31,31);
}
#P568_505
{
left:9213.4px;bottom:10584.2px;color:rgb(35,31,31);
}
#P568_506
{
left:9799.83px;bottom:10571.5px;color:rgb(35,31,31);
}
#P568_507
{
left:10895.2px;bottom:10584.2px;color:rgb(35,31,31);
}
#P568_508
{
left:11481.6px;bottom:10571.5px;color:rgb(35,31,31);
}
#P568_509
{
left:12745.3px;bottom:10584.2px;color:rgb(35,31,31);
}
#P568_510
{
left:13331.7px;bottom:10571.5px;color:rgb(35,31,31);
}
#P568_511
{
left:0px;bottom:0px;letter-spacing:0px;color:rgb(235,26,35);
}
#P568_512
{
left:15901.3px;bottom:11621.3px;color:rgb(35,31,31);
}
#P568_513
{
left:19630.6px;bottom:11641px;color:rgb(35,31,31);
}
#P568_514
{
left:21053.4px;bottom:10667.9px;color:rgb(35,31,31);
}
#P568_515
{
left:23741.4px;bottom:10718.4px;color:rgb(35,31,31);
}
#P568_516
{
left:24173px;bottom:10638.4px;color:rgb(35,31,31);
}
#P568_517
{
left:24349px;bottom:10667.9px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P568_518
{
left:24447.7px;bottom:11121px;color:rgb(35,31,31);
}
#P568_519
{
left:24649.8px;bottom:10647.5px;color:rgb(35,31,31);
}
#P568_520
{
left:24349px;bottom:10703.3px;color:rgb(35,31,31);
}
#P568_521
{
left:24748.5px;bottom:10669.2px;color:rgb(35,31,31);
}
#P568_522
{
left:24370.1px;bottom:10213.5px;color:rgb(35,31,31);
}
#P568_523
{
left:24727.4px;bottom:10647.5px;color:rgb(35,31,31);
}
#P568_524
{
left:24748.5px;bottom:10625.7px;letter-spacing:-176px;color:rgb(35,31,31);
}
#P568_525
{
left:24924.5px;bottom:10638.4px;color:rgb(35,31,31);
}
#P568_526
{
left:25510.9px;bottom:10625.7px;color:rgb(35,31,31);
}
#P568_527
{
left:0px;letter-spacing:0px;margin-left:-176px;
}
#P568_528
{
left:25708.1px;bottom:11047.5px;color:rgb(35,31,31);
}
#P568_529
{
left:26080px;bottom:10647.5px;color:rgb(35,31,31);
}
#P568_530
{
left:25686.9px;bottom:10684.2px;color:rgb(35,31,31);
}
#P568_531
{
left:26101.1px;bottom:10669.2px;color:rgb(35,31,31);
}
#P568_532
{
left:25723.3px;bottom:10197.5px;color:rgb(35,31,31);
}
#P568_533
{
left:26064.8px;bottom:10647.5px;color:rgb(35,31,31);
}
#P568_534
{
left:26101.1px;bottom:10625.7px;letter-spacing:-176px;color:rgb(35,31,31);
}
#P568_535
{
left:26277.1px;bottom:10638.4px;color:rgb(35,31,31);
}
#P568_536
{
left:26863.5px;bottom:10625.7px;color:rgb(35,31,31);
}
#P568_537
{
left:27039.5px;bottom:10718.4px;color:rgb(35,31,31);
}
#P568_538
{
left:27471.1px;bottom:10625.7px;color:rgb(35,31,31);
}
#P568_539
{
left:0px;letter-spacing:0px;margin-left:-176px;
}
#P568_540
{
left:27668.2px;bottom:11121px;color:rgb(35,31,31);
}
#P568_541
{
left:28025.6px;bottom:10647.5px;color:rgb(35,31,31);
}
#P568_542
{
left:27647.1px;bottom:10703.3px;color:rgb(35,31,31);
}
#P568_543
{
left:28046.7px;bottom:10669.2px;color:rgb(35,31,31);
}
#P568_544
{
left:27745.8px;bottom:10213.5px;color:rgb(35,31,31);
}
#P568_545
{
left:27947.9px;bottom:10647.5px;color:rgb(35,31,31);
}
#P568_546
{
left:28046.7px;bottom:10625.7px;letter-spacing:-176px;color:rgb(35,31,31);
}
#P568_547
{
left:28222.7px;bottom:10638.4px;color:rgb(35,31,31);
}
#P568_548
{
left:28809.1px;bottom:10625.7px;color:rgb(35,31,31);
}
#P568_549
{
left:0px;letter-spacing:0px;margin-left:-176px;
}
#P568_550
{
left:29006.2px;bottom:11047.5px;color:rgb(35,31,31);
}
#P568_551
{
left:29378.1px;bottom:10647.5px;color:rgb(35,31,31);
}
#P568_552
{
left:28985.1px;bottom:10684.2px;color:rgb(35,31,31);
}
#P568_553
{
left:29399.3px;bottom:10669.2px;color:rgb(35,31,31);
}
#P568_554
{
left:29021.4px;bottom:10197.5px;color:rgb(35,31,31);
}
#P568_555
{
left:29362.9px;bottom:10647.5px;color:rgb(35,31,31);
}
#P568_556
{
left:29399.3px;bottom:10625.7px;letter-spacing:-176px;color:rgb(35,31,31);
}
#P568_557
{
left:29575.3px;bottom:10638.4px;color:rgb(35,31,31);
}
#P568_558
{
left:30161.7px;bottom:10625.7px;color:rgb(35,31,31);
}
#P568_559
{
left:30337.7px;bottom:10702.4px;color:rgb(35,31,31);
}
#P568_560
{
left:30769.2px;bottom:10638.4px;color:rgb(35,31,31);
}
#P568_561
{
left:30903px;bottom:10625.7px;letter-spacing:-176px;color:rgb(35,31,31);
}
#P568_562
{
left:30924.1px;bottom:11121px;color:rgb(35,31,31);
}
#P568_563
{
left:31467.7px;bottom:10647.5px;color:rgb(35,31,31);
}
#P568_564
{
left:30903px;bottom:10703.3px;color:rgb(35,31,31);
}
#P568_565
{
left:31488.9px;bottom:10669.2px;color:rgb(35,31,31);
}
#P568_566
{
left:31025.2px;bottom:10213.5px;color:rgb(35,31,31);
}
#P568_567
{
left:31366.7px;bottom:10647.5px;color:rgb(35,31,31);
}
#P568_568
{
left:31488.9px;bottom:10625.7px;letter-spacing:-176px;color:rgb(35,31,31);
}
#P568_569
{
left:31664.9px;bottom:10638.4px;color:rgb(35,31,31);
}
#P568_570
{
left:32251.3px;bottom:10625.7px;color:rgb(35,31,31);
}
#P568_571
{
left:32427.3px;bottom:10638.4px;color:rgb(35,31,31);
}
#P568_572
{
left:33013.7px;bottom:10625.7px;color:rgb(35,31,31);
}
#P568_573
{
left:0px;bottom:0px;letter-spacing:0px;color:rgb(235,26,35);
}
#P568_574
{
left:34429.4px;bottom:11621.3px;color:rgb(35,31,31);
}
#P568_575
{
left:4669.4px;bottom:8165.29px;color:rgb(35,31,31);
}
#P568_576
{
left:4846.55px;bottom:8185px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P568_577
{
left:6333.4px;bottom:8185px;color:rgb(2,77,161);
}
#P568_578
{
left:10468.7px;bottom:8165.29px;letter-spacing:-0.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P568_579
{
left:0px;letter-spacing:-0.1px;margin-left:-20.9px;
}
#P568_580
{
left:20714.1px;bottom:8135.72px;color:rgb(35,31,31);
}
#P568_581
{
left:21300.5px;bottom:8165.29px;letter-spacing:1.1px;word-spacing:0.4px;color:rgb(35,31,31);
}
#P568_582
{
left:30464.3px;bottom:5384.81px;color:rgb(237,28,35);
}
#P568_583
{
left:30944.2px;bottom:5512.68px;color:rgb(237,28,35);
}
#P568_584
{
left:31584.7px;bottom:5384.81px;color:rgb(237,28,35);
}
#P568_585
{
left:4669.4px;bottom:6949.29px;color:rgb(35,31,31);
}
#P568_586
{
left:5629.4px;bottom:6969px;color:rgb(35,31,31);
}
#P568_587
{
left:6333.4px;bottom:6949.29px;letter-spacing:-10.5px;color:rgb(35,31,31);
}
#P568_588
{
left:8011.87px;bottom:6969px;color:rgb(35,31,31);
}
#P568_589
{
left:8207.58px;bottom:6949.29px;letter-spacing:-10.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P568_590
{
left:0px;letter-spacing:-0.8px;margin-left:10.4px;
}
#P568_591
{
left:0px;letter-spacing:-0.1px;margin-left:-20.2px;
}
#P568_592
{
left:19758.6px;bottom:7388.97px;color:rgb(35,31,31);
}
#P568_593
{
left:20094.4px;bottom:6966.89px;color:rgb(35,31,31);
}
#P568_594
{
left:19737.4px;bottom:6933.28px;color:rgb(35,31,31);
}
#P568_595
{
left:20115.5px;bottom:6950.56px;color:rgb(35,31,31);
}
#P568_596
{
left:19758.6px;bottom:6481.45px;color:rgb(35,31,31);
}
#P568_597
{
left:20094.4px;bottom:6966.89px;color:rgb(35,31,31);
}
#P568_598
{
left:20273.9px;bottom:6949.29px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P568_599
{
left:4669.34px;bottom:4837.29px;color:rgb(35,31,31);
}
#P568_600
{
left:4846.49px;bottom:4857px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P568_601
{
left:6333.4px;bottom:4857px;color:rgb(2,77,161);
}
#P568_602
{
left:12306px;bottom:4837.29px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P568_603
{
left:0px;letter-spacing:-7px;margin-left:-214.6px;
}
#P568_604
{
left:0px;letter-spacing:0px;margin-left:7px;
}
#P568_605
{
left:6333.4px;bottom:3941.29px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P568_606
{
left:17966.1px;bottom:3941.29px;letter-spacing:-5px;word-spacing:56.3px;color:rgb(35,31,31);
}
#P568_607
{
left:0px;letter-spacing:0px;margin-left:-51.3px;
}
#P568_608
{
left:0px;letter-spacing:0px;
}
#P568_609
{
left:2796.34px;bottom:18975.2px;
}
#P568_610
{
left:2796.34px;bottom:18975.2px;color:white;
}
#P568_611
{
left:3963.8px;bottom:18981.6px;
}
#P568_612
{
left:3963.8px;bottom:18981.6px;color:white;
}
#P568_613
{
left:3893.4px;bottom:26722.6px;
}
#P568_614
{
left:3893.4px;bottom:26722.6px;color:white;
}
#P568_615
{
left:26785.2px;bottom:46233.7px;word-spacing:0.2px;color:rgb(33,31,31);
}
#P568_616
{
left:6750.04px;bottom:10320.4px;
}
#P568_617
{
left:21374px;bottom:10374.5px;
}
#PageContainer568
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg568.jpg");background-repeat:no-repeat;background-size: 942px 1284px; background-position: 0px 35.04px;
}
#ImageContainer568 {bottom:44.96px;left:0.00px;width:942.01px;height:1283.55px;position:absolute;} #TextContainer568 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.answer{position: absolute;top: 44px;left: 22px;}
.c1{position: absolute;top: 610px;left: 95px;}
.c2{position: absolute;top: 819px;left: 68px;}
.c3{position: absolute;top: 821px;left: 98px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}