.tr323{ color:transparent;}
#P323_1
{
left:4592.6px;bottom:1410.03px;letter-spacing:14791.1px;color:rgb(35,31,31);
}
#P323_2
{
left:19739.5px;bottom:1410.03px;color:rgb(35,31,31);
}
#P323_3
{
left:21944.3px;bottom:1410.03px;color:rgb(35,31,31);
}
#P323_4
{
left:22122.2px;bottom:1410.03px;letter-spacing:-49.3px;color:rgb(35,31,31);
}
#P323_5
{
left:22913.2px;bottom:1410.03px;letter-spacing:462.1px;color:rgb(35,31,31);
}
#P323_6
{
left:0px;letter-spacing:-0.9px;margin-left:-467.1px;
}
#P323_7
{
left:0px;letter-spacing:1.9px;margin-left:-3.4px;
}
#P323_8
{
left:0px;letter-spacing:-7.3px;margin-left:-1.9px;
}
#P323_9
{
left:0px;letter-spacing:0px;margin-left:3.7px;
}
#P323_10
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P323_11
{
left:7737.11px;bottom:46049.6px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P323_12
{
left:14605.4px;bottom:46074.2px;color:white;
}
#P323_13
{
left:15677.7px;bottom:46266px;color:white;
}
#P323_14
{
left:15917.8px;bottom:46074.2px;color:white;
}
#P323_15
{
left:16253.9px;bottom:46266px;color:white;
}
#P323_16
{
left:16494.1px;bottom:46074.2px;color:white;
}
#P323_17
{
left:21088.9px;bottom:46266px;color:white;
}
#P323_18
{
left:21329px;bottom:46074.2px;color:white;
}
#P323_19
{
left:12761px;bottom:45907.1px;
}
#P323_20
{
left:12761px;bottom:45907.1px;color:white;
}
#P323_21
{
left:13832.4px;bottom:44444.8px;letter-spacing:-28.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P323_22
{
left:0px;letter-spacing:2.1px;margin-left:178px;
}
#P323_23
{
left:0px;letter-spacing:-0.3px;margin-left:-2.1px;
}
#P323_24
{
left:0px;letter-spacing:-0.1px;margin-left:120px;
}
#P323_25
{
left:0px;letter-spacing:-0.1px;
}
#P323_26
{
left:13832.4px;bottom:43548.8px;color:rgb(35,31,31);
}
#P323_27
{
left:0px;letter-spacing:0px;margin-left:-21px;
}
#P323_28
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P323_29
{
left:18322.7px;bottom:43554.4px;color:rgb(35,31,31);
}
#P323_30
{
left:18643.7px;bottom:43548.8px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P323_31
{
left:13832.4px;bottom:42652.9px;letter-spacing:0.5px;color:rgb(35,31,31);
}
#P323_32
{
left:24452px;bottom:42652.9px;word-spacing:77.1px;color:rgb(35,31,31);
}
#P323_33
{
left:25474.9px;bottom:42658.5px;color:rgb(35,31,31);
}
#P323_34
{
left:25883.7px;bottom:42652.9px;color:rgb(35,31,31);
}
#P323_35
{
left:13064.3px;bottom:41500.8px;color:rgb(35,31,31);
}
#P323_36
{
left:13866.6px;bottom:41544.2px;color:rgb(35,31,31);
}
#P323_37
{
left:14203.5px;bottom:41665.3px;color:rgb(35,31,31);
}
#P323_38
{
left:14664.4px;bottom:41500.8px;color:rgb(35,31,31);
}
#P323_39
{
left:15624.4px;bottom:41500.8px;color:rgb(35,31,31);
}
#P323_40
{
left:15934.9px;bottom:41500.8px;color:rgb(35,31,31);
}
#P323_41
{
left:16093.3px;bottom:41471.2px;color:rgb(35,31,31);
}
#P323_42
{
left:16679.7px;bottom:41500.8px;color:rgb(35,31,31);
}
#P323_43
{
left:17742.6px;bottom:41471.2px;color:rgb(35,31,31);
}
#P323_44
{
left:18329px;bottom:41500.8px;color:rgb(35,31,31);
}
#P323_45
{
left:19265.4px;bottom:41471.2px;color:rgb(35,31,31);
}
#P323_46
{
left:19851.7px;bottom:41500.8px;color:rgb(35,31,31);
}
#P323_47
{
left:25258.6px;bottom:41544.2px;color:rgb(35,31,31);
}
#P323_48
{
left:25595.5px;bottom:41665.3px;color:rgb(35,31,31);
}
#P323_49
{
left:26056.4px;bottom:41500.8px;color:rgb(35,31,31);
}
#P323_50
{
left:27016.4px;bottom:41500.8px;color:rgb(35,31,31);
}
#P323_51
{
left:27326.9px;bottom:41500.8px;color:rgb(35,31,31);
}
#P323_52
{
left:27485.3px;bottom:41471.2px;color:rgb(35,31,31);
}
#P323_53
{
left:28071.7px;bottom:41500.8px;color:rgb(35,31,31);
}
#P323_54
{
left:29754.1px;bottom:41471.2px;color:rgb(35,31,31);
}
#P323_55
{
left:30340.6px;bottom:41500.8px;color:rgb(35,31,31);
}
#P323_56
{
left:13064.3px;bottom:40412.7px;color:rgb(35,31,31);
}
#P323_57
{
left:13866.6px;bottom:40456.2px;color:rgb(35,31,31);
}
#P323_58
{
left:14203.5px;bottom:40577.3px;color:rgb(35,31,31);
}
#P323_59
{
left:14664.4px;bottom:40412.8px;color:rgb(35,31,31);
}
#P323_60
{
left:14822.8px;bottom:40412.8px;color:rgb(35,31,31);
}
#P323_61
{
left:15624.4px;bottom:40412.8px;color:rgb(35,31,31);
}
#P323_62
{
left:15934.9px;bottom:40412.8px;color:rgb(35,31,31);
}
#P323_63
{
left:16093.3px;bottom:40383.2px;color:rgb(35,31,31);
}
#P323_64
{
left:16679.7px;bottom:40412.8px;color:rgb(35,31,31);
}
#P323_65
{
left:18735.3px;bottom:40383.2px;color:rgb(35,31,31);
}
#P323_66
{
left:19321.7px;bottom:40412.8px;color:rgb(35,31,31);
}
#P323_67
{
left:20011.6px;bottom:40383.2px;color:rgb(35,31,31);
}
#P323_68
{
left:20598px;bottom:40412.8px;color:rgb(35,31,31);
}
#P323_69
{
left:25247px;bottom:40456.2px;color:rgb(35,31,31);
}
#P323_70
{
left:25595.5px;bottom:40577.3px;color:rgb(35,31,31);
}
#P323_71
{
left:26056.4px;bottom:40412.8px;color:rgb(35,31,31);
}
#P323_72
{
left:26204.2px;bottom:40412.8px;color:rgb(35,31,31);
}
#P323_73
{
left:27016.4px;bottom:40412.8px;color:rgb(35,31,31);
}
#P323_74
{
left:27326.9px;bottom:40412.8px;color:rgb(35,31,31);
}
#P323_75
{
left:27485.3px;bottom:40383.2px;color:rgb(35,31,31);
}
#P323_76
{
left:28071.6px;bottom:40412.8px;color:rgb(35,31,31);
}
#P323_77
{
left:29754.1px;bottom:40383.2px;color:rgb(35,31,31);
}
#P323_78
{
left:30340.6px;bottom:40412.8px;color:rgb(35,31,31);
}
#P323_79
{
left:13832.4px;bottom:38661.8px;letter-spacing:-7.2px;
}
#P323_80
{
left:15501px;bottom:38661.8px;color:rgb(2,77,161);
}
#P323_81
{
left:15805px;bottom:38620.8px;color:rgb(35,31,31);
}
#P323_82
{
left:17416.4px;
bottom: 38636.8px;color:rgb(35,31,31);
}
#P323_83
{
left:17416.4px;bottom:37740.8px;color:rgb(35,31,31);
}
#P323_84
{
left:17416.4px;bottom:36844.8px;color:rgb(35,31,31);
}
#P323_85
{
left:21021.4px;bottom:38620.7px;color:rgb(35,31,31);
}
#P323_86
{
left:22008.3px;bottom:38668.8px;color:rgb(35,31,31);
}
#P323_87
{
left:22008.3px;bottom:37772.8px;color:rgb(35,31,31);
}
#P323_88
{
left:25912.3px;bottom:38620.8px;color:rgb(35,31,31);
}
#P323_89
{
left:28311.5px;bottom:38642.6px;color:rgb(35,31,31);
}
#P323_90
{
left:28311.5px;bottom:37746.6px;color:rgb(35,31,31);
}
#P323_91
{
left:28311.5px;bottom:36850.7px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P323_92
{
left:13768.4px;bottom:34885.8px;letter-spacing:-16.7px;
}
#P323_93
{
left:0px;letter-spacing:0px;margin-left:16.7px;
}
#P323_94
{
left:17416.4px;bottom:34844.8px;word-spacing:887.3px;color:rgb(35,31,31);
}
#P323_95
{
left:18578.6px;bottom:34844.8px;color:rgb(35,31,31);
}
#P323_96
{
left:19205.9px;bottom:34844.8px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P323_97
{
left:13832.4px;bottom:33221.8px;color:rgb(2,77,161);
}
#P323_98
{
left:16671.7px;bottom:33180.8px;color:rgb(35,31,31);
}
#P323_99
{
left:18910px;bottom:33180.8px;color:rgb(35,31,31);
}
#P323_100
{
left:19537.2px;bottom:33180.8px;color:rgb(35,31,31);
}
#P323_101
{
left:21067.3px;bottom:33151.2px;color:rgb(35,31,31);
}
#P323_102
{
left:21829.7px;bottom:33180.8px;color:rgb(35,31,31);
}
#P323_103
{
left:0px;letter-spacing:0px;margin-left:1217.6px;
}
#P323_104
{
left:0px;letter-spacing:0px;margin-left:2122.5px;
}
#P323_105
{
left:26866.5px;bottom:33151.2px;color:rgb(35,31,31);
}
#P323_106
{
left:27452.9px;bottom:33180.8px;color:rgb(35,31,31);
}
#P323_107
{
left:0px;letter-spacing:0px;margin-left:1552.4px;
}
#P323_108
{
left:30258.5px;bottom:33151.2px;color:rgb(35,31,31);
}
#P323_109
{
left:30844.9px;bottom:33180.8px;color:rgb(35,31,31);
}
#P323_110
{
left:14416.4px;bottom:31132.8px;letter-spacing:520.3px;color:rgb(35,31,31);
}
#P323_111
{
left:0px;letter-spacing:0px;margin-left:-678.7px;
}
#P323_112
{
left:0px;letter-spacing:-1.2px;
}
#P323_113
{
left:0px;letter-spacing:0px;margin-left:1.2px;
}
#P323_114
{
left:21992.3px;bottom:31176.2px;color:rgb(35,31,31);
}
#P323_115
{
left:22329.2px;bottom:31297.3px;color:rgb(35,31,31);
}
#P323_116
{
left:22790.1px;bottom:31132.8px;color:rgb(35,31,31);
}
#P323_117
{
left:4925.4px;bottom:21799.5px;color:white;
}
#P323_118
{
left:7095.51px;bottom:22041.1px;color:white;
}
#P323_119
{
left:7431.45px;bottom:21799.5px;color:white;
}
#P323_120
{
left:5053.4px;bottom:20696.6px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P323_121
{
left:7816.41px;bottom:20696.6px;color:rgb(35,31,31);
}
#P323_122
{
left:10660.5px;bottom:20696.6px;color:rgb(35,31,31);
}
#P323_123
{
left:5053.4px;bottom:19928.6px;color:rgb(35,31,31);
}
#P323_124
{
left:7009.24px;bottom:19928.6px;color:rgb(35,31,31);
}
#P323_125
{
left:10067.1px;bottom:19928.6px;color:rgb(35,31,31);
}
#P323_126
{
left:7801.11px;bottom:28225.6px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P323_127
{
left:14669.4px;bottom:28250.2px;color:white;
}
#P323_128
{
left:17053.2px;bottom:28442px;color:white;
}
#P323_129
{
left:17293.4px;bottom:28250.2px;word-spacing:-31.9px;color:white;
}
#P323_130
{
left:20061.7px;bottom:28442px;color:white;
}
#P323_131
{
left:20301.9px;bottom:28250.2px;color:white;
}
#P323_132
{
left:21485.6px;bottom:28442px;color:white;
}
#P323_133
{
left:21725.8px;bottom:28250.2px;color:white;
}
#P323_134
{
left:12825px;bottom:28083.1px;
}
#P323_135
{
left:12825px;bottom:28083.1px;color:white;
}
#P323_136
{
left:13896.4px;bottom:26620.8px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P323_137
{
left:0px;letter-spacing:0px;margin-left:-27.3px;
}
#P323_138
{
left:0px;letter-spacing:-0.7px;
}
#P323_139
{
left:0px;letter-spacing:-1.6px;margin-left:0.7px;
}
#P323_140
{
left:13896.4px;bottom:25724.8px;letter-spacing:-3.5px;color:rgb(35,31,31);
}
#P323_141
{
left:0px;letter-spacing:-0.6px;margin-left:3.5px;
}
#P323_142
{
left:0px;letter-spacing:-23.9px;margin-left:-27.4px;
}
#P323_143
{
left:0px;letter-spacing:0px;margin-left:23.9px;
}
#P323_144
{
left:13896.4px;bottom:24828.8px;color:rgb(35,31,31);
}
#P323_145
{
left:0px;letter-spacing:0px;margin-left:-225px;
}
#P323_146
{
left:0px;letter-spacing:0px;margin-left:77.1px;
}
#P323_147
{
left:0px;letter-spacing:0px;margin-left:5.5px;
}
#P323_148
{
left:13896.4px;bottom:23397.8px;letter-spacing:-5.4px;color:rgb(2,77,161);
}
#P323_149
{
left:15869px;bottom:23356.8px;color:rgb(35,31,31);
}
#P323_150
{
left:17480.4px;bottom:23372.8px;color:rgb(35,31,31);
}
#P323_151
{
left:17480.4px;bottom:22476.8px;color:rgb(35,31,31);
}
#P323_152
{
left:17480.4px;bottom:21580.8px;letter-spacing:0.5px;color:rgb(35,31,31);
}
#P323_153
{
left:21851.8px;bottom:23356.7px;color:rgb(35,31,31);
}
#P323_154
{
left:24034.1px;bottom:23385.6px;color:rgb(35,31,31);
}
#P323_155
{
left:24034.1px;bottom:22489.6px;color:rgb(35,31,31);
}
#P323_156
{
left:24034.1px;bottom:21593.7px;color:rgb(35,31,31);
}
#P323_157
{
left:27938.1px;bottom:23356.8px;color:rgb(35,31,31);
}
#P323_158
{
left:29083.5px;bottom:23385.6px;color:rgb(35,31,31);
}
#P323_159
{
left:29083.5px;bottom:22489.6px;color:rgb(35,31,31);
}
#P323_160
{
left:29083.5px;bottom:21593.7px;letter-spacing:-1.6px;color:rgb(35,31,31);
}
#P323_161
{
left:13832.4px;bottom:19621.9px;letter-spacing:-16.7px;color:rgb(2,77,161);
}
#P323_162
{
left:0px;letter-spacing:0px;margin-left:16.7px;
}
#P323_163
{
left:17480.4px;bottom:19580.8px;word-spacing:887.3px;color:rgb(35,31,31);
}
#P323_164
{
left:18642.6px;bottom:19580.8px;color:rgb(35,31,31);
}
#P323_165
{
left:18916.5px;bottom:19580.8px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P323_166
{
left:13896.4px;bottom:17957.9px;color:rgb(2,77,161);
}
#P323_167
{
left:16735.7px;bottom:17916.8px;color:rgb(35,31,31);
}
#P323_168
{
left:19248.3px;bottom:17916.8px;color:rgb(35,31,31);
}
#P323_169
{
left:19838.9px;bottom:17916.8px;color:rgb(35,31,31);
}
#P323_170
{
left:22539.2px;bottom:17887.3px;color:rgb(35,31,31);
}
#P323_171
{
left:23477.6px;bottom:17916.8px;letter-spacing:1840px;color:rgb(35,31,31);
}
#P323_172
{
left:0px;letter-spacing:0px;margin-left:-1840px;
}
#P323_173
{
left:28171.2px;bottom:17887.3px;color:rgb(35,31,31);
}
#P323_174
{
left:28933.6px;bottom:17916.8px;color:rgb(35,31,31);
}
#P323_175
{
left:0px;letter-spacing:0px;margin-left:1281.6px;
}
#P323_176
{
left:14480.4px;bottom:15868.8px;color:rgb(35,31,31);
}
#P323_177
{
left:0px;letter-spacing:0px;margin-left:545.6px;
}
#P323_178
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P323_179
{
left:19915.9px;bottom:15868.8px;color:rgb(35,31,31);
}
#P323_180
{
left:20189.7px;bottom:15868.8px;color:rgb(35,31,31);
}
#P323_181
{
left:20348.1px;bottom:15839.2px;color:rgb(35,31,31);
}
#P323_182
{
left:20934.6px;bottom:15868.8px;color:rgb(35,31,31);
}
#P323_183
{
left:21997.6px;bottom:15839.2px;color:rgb(35,31,31);
}
#P323_184
{
left:22584px;bottom:15868.8px;color:rgb(35,31,31);
}
#P323_185
{
left:13896.3px;bottom:12348.8px;color:rgb(35,31,31);
}
#P323_186
{
left:14360px;bottom:12375.6px;word-spacing:453.2px;color:rgb(35,31,31);
}
#P323_187
{
left:15560.4px;bottom:12348.8px;letter-spacing:-63.2px;color:rgb(35,31,31);
}
#P323_188
{
left:0px;letter-spacing:-0.9px;margin-left:63.2px;
}
#P323_189
{
left:0px;letter-spacing:0px;margin-left:0.9px;
}
#P323_190
{
left:0px;letter-spacing:0px;margin-left:-214.9px;
}
#P323_191
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P323_192
{
left:0px;letter-spacing:-4.7px;
}
#P323_193
{
left:0px;letter-spacing:-63.2px;margin-left:-37.4px;
}
#P323_194
{
left:0px;letter-spacing:0px;margin-left:63.2px;
}
#P323_195
{
left:15560.4px;bottom:11452.8px;color:rgb(35,31,31);
}
#P323_196
{
left:0px;letter-spacing:0px;margin-left:-214.7px;
}
#P323_197
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P323_198
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P323_199
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P323_200
{
left:0px;letter-spacing:0px;margin-left:-31.6px;
}
#P323_201
{
left:0px;letter-spacing:0px;margin-left:5.5px;
}
#P323_202
{
left:0px;letter-spacing:0px;margin-left:-4.2px;
}
#P323_203
{
left:0px;letter-spacing:0px;margin-left:-214.9px;
}
#P323_204
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P323_205
{
left:32549.3px;bottom:11452.8px;word-spacing:56.3px;color:rgb(35,31,31);
}
#P323_206
{
left:15560.4px;bottom:10556.9px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P323_207
{
left:0px;letter-spacing:-0.3px;margin-left:-12.7px;
}
#P323_208
{
left:0px;letter-spacing:0px;margin-left:-41.8px;
}
#P323_209
{
left:13896.4px;bottom:9276.78px;color:rgb(35,31,31);
}
#P323_210
{
left:14360px;bottom:9303.6px;word-spacing:453.2px;color:rgb(35,31,31);
}
#P323_211
{
left:15560.4px;bottom:9276.78px;letter-spacing:-70.3px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P323_212
{
left:0px;letter-spacing:0px;margin-left:70.3px;
}
#P323_213
{
left:0px;letter-spacing:-63.2px;margin-left:-42.1px;
}
#P323_214
{
left:0px;letter-spacing:0.2px;margin-left:63.2px;
}
#P323_215
{
left:0px;letter-spacing:-13.1px;margin-left:-42.4px;
}
#P323_216
{
left:0px;letter-spacing:-0.1px;margin-left:13px;
}
#P323_217
{
left:15560.4px;bottom:8380.78px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P323_218
{
left:24659.5px;bottom:8380.78px;letter-spacing:28px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P323_219
{
left:0px;letter-spacing:-2.2px;margin-left:128.2px;
}
#P323_220
{
left:0px;letter-spacing:-1.5px;margin-left:2.1px;
}
#P323_221
{
left:13896.4px;bottom:7100.78px;color:rgb(35,31,31);
}
#P323_222
{
left:14360px;bottom:7127.6px;word-spacing:453.2px;color:rgb(35,31,31);
}
#P323_223
{
left:15560.4px;bottom:7100.78px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P323_224
{
left:0px;letter-spacing:0px;margin-left:-66.6px;
}
#P323_225
{
left:0px;letter-spacing:-42.1px;
}
#P323_226
{
left:0px;letter-spacing:5.5px;margin-left:10.5px;
}
#P323_227
{
left:0px;letter-spacing:0px;margin-left:-5.5px;
}
#P323_228
{
left:15560.4px;bottom:6204.78px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P323_229
{
left:0px;letter-spacing:0px;margin-left:-214.7px;
}
#P323_230
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P323_231
{
left:0px;letter-spacing:-0.4px;
}
#P323_232
{
left:15560.4px;bottom:5308.91px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P323_233
{
left:13832.4px;bottom:38661.8px;letter-spacing:-7.2px;
}
#P323_234
{
left:13768.4px;bottom:34885.8px;letter-spacing:-16.7px;color:rgb(2,77,161);
}
#P323_234a
{
left:13768.4px;
bottom: 38636.8px;letter-spacing:-16.7px;color:rgb(2,77,161);
}
#P323_235
{
left:0px;letter-spacing:0px;margin-left:16.7px;
}
#P323_236
{
left:15018.5px;bottom:34885.8px;
}
#PageContainer323
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg323.jpg");background-repeat:no-repeat;background-size: 941px 1169px; background-position: 69.78px 75.45px;
}
#ImageContainer323 {bottom:119.55px;left:69.78px;width:940.64px;height:1169.50px;position:absolute;} #TextContainer323 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.example2{position: absolute;top: 80px;left: 163px;}
.example3{position: absolute;top: 565px;left: 163px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}