.tr414{ color:transparent;}
#P414_1
{
left:0px;bottom:0px;letter-spacing:0px;color:white;
}
#P414_2
{
left:0px;bottom:0px;letter-spacing:0px;color:white;
}
#P414_3
{
left:0px;bottom:0px;letter-spacing:0px;color:white;
}
#P414_4
{
left:0px;bottom:0px;letter-spacing:0px;color:white;
}
#P414_5
{
left:0px;bottom:0px;letter-spacing:-3.2px;color:white;
}
#P414_6
{
left:5781.85px;bottom:41067.6px;letter-spacing:-2px;word-spacing:994.6px;
}
#P414_7
{
left:14449.4px;bottom:41365.9px;
}
#P414_8
{
left:14823.1px;bottom:41067.6px;
}
#P414_9
{
left:20824px;bottom:41365.9px;
}
#P414_10
{
left:21197.7px;bottom:41067.6px;
}
#P414_11
{
left:22293px;bottom:41365.9px;
}
#P414_12
{
left:5781.85px;bottom:41067.6px;letter-spacing:-2px;word-spacing:994.6px;color:white;
}
#P414_13
{
left:22666.6px;bottom:41067.6px;
}
#P414_14
{
left:14449.6px;bottom:41365.9px;color:white;
}
#P414_15
{
left:14823.2px;bottom:41067.6px;color:white;
}
#P414_16
{
left:20824.2px;bottom:41365.9px;color:white;
}
#P414_17
{
left:21197.8px;bottom:41067.6px;color:white;
}
#P414_18
{
left:22293.1px;bottom:41365.9px;color:white;
}
#P414_19
{
left:22666.8px;bottom:41067.6px;color:white;
}
#P414_20
{
left:5781.85px;bottom:38942.8px;word-spacing:994.6px;
}
#P414_21
{
left:5781.85px;bottom:38942.8px;word-spacing:994.6px;color:white;
}
#P414_22
{
left:5781.85px;bottom:36818px;
}
#P414_23
{
left:0px;letter-spacing:0px;margin-left:994.6px;
}
#P414_24
{
left:0px;letter-spacing:0px;margin-left:-23.9px;
}
#P414_25
{
left:5781.85px;bottom:36818px;color:white;
}
#P414_26
{
left:0px;letter-spacing:0px;margin-left:994.6px;
}
#P414_27
{
left:0px;letter-spacing:0px;margin-left:-23.9px;
}
#P414_28
{
left:5781.85px;bottom:34693.2px;word-spacing:994.6px;
}
#P414_29
{
left:0px;letter-spacing:0px;margin-left:-23.9px;
}
#P414_30
{
left:0px;letter-spacing:0px;margin-left:-994.6px;
}
#P414_31
{
left:0px;letter-spacing:0px;margin-left:-1044.2px;
}
#P414_32
{
left:0px;letter-spacing:0px;margin-left:-73.9px;
}
#P414_33
{
left:0px;letter-spacing:0px;
}
#P414_34
{
left:18484.4px;bottom:34991.5px;
}
#P414_35
{
left:18858px;bottom:34693.2px;
}
#P414_36
{
left:20102.6px;bottom:34991.5px;
}
#P414_37
{
left:5781.85px;bottom:34693.2px;word-spacing:994.6px;color:white;
}
#P414_38
{
left:0px;letter-spacing:0px;margin-left:-23.9px;
}
#P414_39
{
left:0px;letter-spacing:0px;margin-left:-994.6px;
}
#P414_40
{
left:0px;letter-spacing:0px;margin-left:-1044.2px;
}
#P414_41
{
left:0px;letter-spacing:0px;margin-left:-73.8px;
}
#P414_42
{
left:0px;letter-spacing:0px;
}
#P414_43
{
left:20476.2px;bottom:34693.2px;
}
#P414_44
{
left:18484.5px;bottom:34991.5px;color:white;
}
#P414_45
{
left:18858.1px;bottom:34693.2px;color:white;
}
#P414_46
{
left:20102.7px;bottom:34991.5px;color:white;
}
#P414_47
{
left:20476.3px;bottom:34693.2px;color:white;
}
#P414_48
{
left:5781.85px;bottom:32568.4px;word-spacing:994.6px;
}
#P414_49
{
left:0px;letter-spacing:0px;margin-left:-1044.2px;
}
#P414_50
{
left:0px;letter-spacing:0px;margin-left:-994.6px;
}
#P414_51
{
left:20525.7px;bottom:32866.7px;
}
#P414_52
{
left:20899.3px;bottom:32568.4px;
}
#P414_53
{
left:22143.8px;bottom:32866.7px;
}
#P414_54
{
left:5781.85px;bottom:32568.4px;word-spacing:994.6px;color:white;
}
#P414_55
{
left:0px;letter-spacing:0px;margin-left:-1044.2px;
}
#P414_56
{
left:0px;letter-spacing:0px;margin-left:-994.6px;
}
#P414_57
{
left:22517.5px;bottom:32568.4px;
}
#P414_58
{
left:20525.7px;bottom:32866.7px;color:white;
}
#P414_59
{
left:20899.3px;bottom:32568.4px;color:white;
}
#P414_60
{
left:22143.8px;bottom:32866.7px;color:white;
}
#P414_61
{
left:22517.5px;bottom:32568.4px;color:white;
}
#P414_62
{
left:9184.43px;bottom:4231.87px;letter-spacing:-1.5px;color:rgb(33,31,31);
}
#P414_63
{
left:0px;letter-spacing:3.3px;margin-left:1.5px;
}
#P414_64
{
left:0px;letter-spacing:-1.1px;margin-left:-3.3px;
}
#P414_65
{
left:0px;letter-spacing:-14.4px;margin-left:1.1px;
}
#P414_66
{
left:0px;letter-spacing:-0.4px;margin-left:14.4px;
}
#P414_67
{
left:17970.9px;bottom:4051.52px;letter-spacing:0.4px;word-spacing:0.1px;color:rgb(33,31,31);
}
#P414_68
{
left:0px;letter-spacing:0px;margin-left:-52.3px;
}
#P414_69
{
left:14835.6px;bottom:18248.7px;letter-spacing:-5.8px;color:rgb(33,31,31);
}
#P414_70
{
left:0px;letter-spacing:-3.8px;margin-left:5.8px;
}
#P414_71
{
left:0px;letter-spacing:-43.2px;margin-left:3.8px;
}
#P414_72
{
left:0px;letter-spacing:0px;margin-left:14.4px;
}
#P414_73
{
left:0px;letter-spacing:-0.9px;
}
#P414_74
{
left:15604.1px;bottom:17571.1px;color:rgb(33,31,31);
}
#P414_75
{
left:15475px;bottom:16936.6px;letter-spacing:2.8px;word-spacing:0.1px;color:rgb(33,31,31);
}
#P414_76
{
left:0px;letter-spacing:-31.7px;margin-left:-14.3px;
}
#P414_77
{
left:0px;letter-spacing:-1.2px;margin-left:17.2px;
}
#P414_78
{
left:0px;letter-spacing:-0.1px;margin-left:-16px;
}
#P414_79
{
left:0px;letter-spacing:1.3px;margin-left:-11.4px;
}
#P414_80
{
left:17660.5px;bottom:16190.9px;letter-spacing:-1.3px;color:rgb(33,31,31);
}
#P414_81
{
left:0px;bottom:0px;letter-spacing:0px;color:white;
}
#P414_82
{
left:6909.4px;bottom:44493.4px;
}
#P414_83
{
left:12243.2px;bottom:45132.8px;
}
#P414_84
{
left:13043.8px;bottom:44493.4px;
}
#P414_85
{
left:15391px;bottom:45132.8px;
}
#P414_86
{
left:16191.6px;bottom:44493.4px;
}
#P414_87
{
left:2365.4px;bottom:42782.1px;
}
#PageContainer414
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg414.jpg");background-repeat:no-repeat;background-size: 1066px 1364px; background-position: right bottom;
}
#ImageContainer414 {bottom:0.00px;right:0.00px;width:1066.24px;height:1364.16px;position:absolute;} #TextContainer414 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}