.tr82{ color:transparent;}
#P82_1
{
left:11592.4px;bottom:19802.2px;color:rgb(35,31,31);
}
#P82_2
{
left:0px;letter-spacing:0px;margin-left:-15.5px;
}
#P82_3
{
left:0px;letter-spacing:0px;margin-left:-147.8px;
}
#P82_4
{
left:13260.9px;bottom:20241.8px;color:rgb(35,31,31);
}
#P82_5
{
left:13615.7px;bottom:19819.8px;color:rgb(35,31,31);
}
#P82_6
{
left:13239.8px;bottom:19786.1px;color:rgb(35,31,31);
}
#P82_7
{
left:13636.8px;bottom:19803.4px;color:rgb(35,31,31);
}
#P82_8
{
left:13260.9px;bottom:19334.3px;color:rgb(35,31,31);
}
#P82_9
{
left:13615.7px;bottom:19819.8px;color:rgb(35,31,31);
}
#P82_10
{
left:13636.8px;bottom:19802.2px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P82_11
{
left:13784.6px;bottom:19772.6px;color:rgb(35,31,31);
}
#P82_12
{
left:14371px;bottom:19802.2px;color:rgb(35,31,31);
}
#P82_13
{
left:0px;letter-spacing:0px;margin-left:-147.8px;
}
#P82_14
{
left:14540px;bottom:20241.8px;color:rgb(35,31,31);
}
#P82_15
{
left:14894.8px;bottom:19819.8px;color:rgb(35,31,31);
}
#P82_16
{
left:14518.9px;bottom:19786.1px;color:rgb(35,31,31);
}
#P82_17
{
left:14915.9px;bottom:19803.4px;color:rgb(35,31,31);
}
#P82_18
{
left:14540px;bottom:19334.3px;color:rgb(35,31,31);
}
#P82_19
{
left:14894.8px;bottom:19819.8px;color:rgb(35,31,31);
}
#P82_20
{
left:14915.9px;bottom:19802.2px;letter-spacing:-28px;word-spacing:-119.8px;color:rgb(35,31,31);
}
#P82_21
{
left:21192.4px;bottom:19802.2px;letter-spacing:-1.2px;color:rgb(235,26,35);
}
#P82_22
{
left:24099.9px;bottom:19802.2px;color:rgb(35,31,31);
}
#P82_23
{
left:24451.9px;bottom:19802.2px;color:rgb(0,124,196);
}
#P82_24
{
left:24994px;bottom:19772.6px;color:rgb(0,124,196);
}
#P82_25
{
left:25580.4px;bottom:19802.2px;color:rgb(0,124,196);
}
#P82_26
{
left:25728.3px;bottom:19802.2px;letter-spacing:-158.4px;color:rgb(0,124,196);
}
#P82_27
{
left:25749.4px;bottom:20241.8px;color:rgb(0,124,196);
}
#P82_28
{
left:26104.2px;bottom:19819.8px;color:rgb(0,124,196);
}
#P82_29
{
left:25728.2px;bottom:19786.1px;color:rgb(0,124,196);
}
#P82_30
{
left:26125.3px;bottom:19803.4px;color:rgb(0,124,196);
}
#P82_31
{
left:25749.4px;bottom:19334.3px;color:rgb(0,124,196);
}
#P82_32
{
left:26104.2px;bottom:19819.8px;color:rgb(0,124,196);
}
#P82_33
{
left:26125.3px;bottom:19802.2px;color:rgb(0,124,196);
}
#P82_34
{
left:26125.3px;bottom:19802.2px;color:rgb(0,124,196);
}
#P82_35
{
left:26273.1px;bottom:19772.6px;color:rgb(0,124,196);
}
#P82_36
{
left:26859.5px;bottom:19802.2px;color:rgb(0,124,196);
}
#P82_37
{
left:27007.4px;bottom:19802.2px;letter-spacing:-158.4px;color:rgb(0,124,196);
}
#P82_38
{
left:27028.5px;bottom:20241.8px;color:rgb(0,124,196);
}
#P82_39
{
left:27383.3px;bottom:19819.8px;color:rgb(0,124,196);
}
#P82_40
{
left:27007.4px;bottom:19786.1px;color:rgb(0,124,196);
}
#P82_41
{
left:27404.4px;bottom:19803.4px;color:rgb(0,124,196);
}
#P82_42
{
left:27028.5px;bottom:19334.3px;color:rgb(0,124,196);
}
#P82_43
{
left:27383.3px;bottom:19819.8px;color:rgb(0,124,196);
}
#P82_44
{
left:27404.4px;bottom:19802.2px;color:rgb(0,124,196);
}
#P82_45
{
left:11592.4px;bottom:17178.2px;letter-spacing:1441.6px;color:rgb(35,31,31);
}
#P82_46
{
left:0px;letter-spacing:0px;margin-left:-1600px;
}
#P82_47
{
left:13213.5px;bottom:17617.8px;color:rgb(35,31,31);
}
#P82_48
{
left:13549.3px;bottom:17195.8px;color:rgb(35,31,31);
}
#P82_49
{
left:13192.4px;bottom:17162.1px;color:rgb(35,31,31);
}
#P82_50
{
left:13570.5px;bottom:17179.4px;color:rgb(35,31,31);
}
#P82_51
{
left:13213.5px;bottom:16710.3px;color:rgb(35,31,31);
}
#P82_52
{
left:13549.3px;bottom:17195.8px;color:rgb(35,31,31);
}
#P82_53
{
left:13570.5px;bottom:17178.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P82_54
{
left:13728.9px;bottom:17148.6px;color:rgb(35,31,31);
}
#P82_55
{
left:14315.3px;bottom:17178.2px;color:rgb(35,31,31);
}
#P82_56
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P82_57
{
left:14494.7px;bottom:17617.8px;color:rgb(35,31,31);
}
#P82_58
{
left:14830.6px;bottom:17195.8px;color:rgb(35,31,31);
}
#P82_59
{
left:14473.6px;bottom:17162.1px;color:rgb(35,31,31);
}
#P82_60
{
left:14851.7px;bottom:17179.4px;color:rgb(35,31,31);
}
#P82_61
{
left:14494.7px;bottom:16710.3px;color:rgb(35,31,31);
}
#P82_62
{
left:14830.6px;bottom:17195.8px;color:rgb(35,31,31);
}
#P82_63
{
left:14851.7px;bottom:17178.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P82_64
{
left:15010.1px;bottom:17148.6px;color:rgb(35,31,31);
}
#P82_65
{
left:15596.5px;bottom:17178.2px;color:rgb(35,31,31);
}
#P82_66
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P82_67
{
left:15776px;bottom:17617.8px;color:rgb(35,31,31);
}
#P82_68
{
left:16254.4px;bottom:17591.2px;color:rgb(35,31,31);
}
#P82_69
{
left:16782.2px;bottom:17617.8px;color:rgb(35,31,31);
}
#P82_70
{
left:17260.6px;bottom:17195.8px;color:rgb(35,31,31);
}
#P82_71
{
left:15754.9px;bottom:17162.1px;color:rgb(35,31,31);
}
#P82_72
{
left:17281.7px;bottom:17179.4px;color:rgb(35,31,31);
}
#P82_73
{
left:15776px;bottom:16710.3px;color:rgb(35,31,31);
}
#P82_74
{
left:16254.3px;bottom:16683.7px;color:rgb(35,31,31);
}
#P82_75
{
left:16782px;bottom:16710.3px;color:rgb(35,31,31);
}
#P82_76
{
left:17260.5px;bottom:17195.8px;color:rgb(35,31,31);
}
#P82_77
{
left:17281.6px;bottom:17178.2px;color:rgb(35,31,31);
}
#P82_78
{
left:11592.4px;bottom:14746.2px;letter-spacing:1441.6px;color:rgb(35,31,31);
}
#P82_79
{
left:0px;letter-spacing:0px;margin-left:64px;
}
#P82_80
{
left:15014.8px;bottom:14716.7px;color:rgb(35,31,31);
}
#P82_81
{
left:15601.2px;bottom:14746.2px;color:rgb(35,31,31);
}
#P82_82
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P82_83
{
left:15780.7px;bottom:15185.8px;
}
#P82_84
{
left:16259.2px;bottom:15159.2px;color:rgb(35,31,31);
}
#P82_85
{
left:16786.8px;bottom:15185.8px;
}
#P82_86
{
left:17265.2px;bottom:14763.8px;color:rgb(35,31,31);
}
#P82_87
{
left:15759.6px;bottom:14730.1px;color:rgb(35,31,31);
}
#P82_88
{
left:17286.4px;bottom:14747.4px;color:rgb(35,31,31);
}
#P82_89
{
left:15780.7px;bottom:14278.3px;color:rgb(35,31,31);
}
#P82_90
{
left:16259.2px;bottom:14251.7px;color:rgb(35,31,31);
}
#P82_91
{
left:16786.8px;bottom:14278.3px;
}
#P82_92
{
left:17265.2px;bottom:14763.8px;color:rgb(35,31,31);
}
#P82_93
{
left:17286.4px;bottom:14746.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P82_94
{
left:19464.4px;bottom:14754.2px;letter-spacing:-1px;color:rgb(0,124,196);
}
#P82_95
{
left:11592.4px;bottom:12314.2px;letter-spacing:993.6px;color:rgb(35,31,31);
}
#P82_96
{
left:0px;letter-spacing:0px;margin-left:959.9px;
}
#P82_97
{
left:15014.8px;bottom:12284.6px;color:rgb(35,31,31);
}
#P82_98
{
left:15601.2px;bottom:12314.2px;color:rgb(35,31,31);
}
#P82_99
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P82_100
{
left:15780.7px;bottom:12753.8px;color:rgb(35,31,31);
}
#P82_101
{
left:16116.5px;bottom:12331.8px;color:rgb(35,31,31);
}
#P82_102
{
left:15759.6px;bottom:12298.1px;color:rgb(35,31,31);
}
#P82_103
{
left:16137.6px;bottom:12315.4px;color:rgb(35,31,31);
}
#P82_104
{
left:15780.7px;bottom:11846.3px;color:rgb(35,31,31);
}
#P82_105
{
left:16116.5px;bottom:12331.8px;color:rgb(35,31,31);
}
#P82_106
{
left:16137.6px;bottom:12314.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P82_107
{
left:19592.4px;bottom:12322.2px;color:rgb(0,124,196);
}
#P82_107a
{
left: 12740px;
bottom: 10100.8px;
color:rgb(35,31,31);
}
#P82_108
{
left:0px;letter-spacing:0px;margin-left:-49.7px;
}
#P82_109
{
left:12176.4px;bottom:10074.2px;color:rgb(35,31,31);
}
#P82_110
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P82_111
{
left:0px;letter-spacing:0px;margin-left:-4.2px;
}
#P82_112
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P82_113
{
left:17632.5px;bottom:10513.8px;color:rgb(35,31,31);
}
#P82_114
{
left:17968.3px;bottom:10091.8px;color:rgb(35,31,31);
}
#P82_115
{
left:17611.4px;bottom:10058.1px;color:rgb(35,31,31);
}
#P82_116
{
left:17989.4px;bottom:10075.4px;color:rgb(35,31,31);
}
#P82_117
{
left:17632.5px;bottom:9606.32px;color:rgb(35,31,31);
}
#P82_118
{
left:17968.3px;bottom:10091.8px;color:rgb(35,31,31);
}
#P82_119
{
left:17989.4px;bottom:10074.2px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P82_120
{
left:21192.4px;bottom:10074.2px;letter-spacing:-1.3px;color:rgb(235,26,35);
}
#P82_121
{
left:25297.5px;bottom:10074.2px;color:rgb(35,31,31);
}
#P82_122
{
left:25649.5px;bottom:10074.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P82_123
{
left:25670.6px;bottom:10513.8px;color:rgb(0,124,196);
}
#P82_124
{
left:26025.4px;bottom:10091.8px;color:rgb(0,124,196);
}
#P82_125
{
left:25649.5px;bottom:10058.1px;color:rgb(0,124,196);
}
#P82_126
{
left:26046.6px;bottom:10075.4px;color:rgb(0,124,196);
}
#P82_127
{
left:25670.6px;bottom:9606.32px;color:rgb(0,124,196);
}
#P82_128
{
left:26025.4px;bottom:10091.8px;color:rgb(0,124,196);
}
#P82_129
{
left:26046.6px;bottom:10074.2px;color:rgb(0,124,196);
}
#P82_130
{
left:26046.6px;bottom:10074.2px;color:rgb(0,124,196);
}
#P82_131
{
left:26194.4px;bottom:10044.6px;color:rgb(0,124,196);
}
#P82_132
{
left:26194.4px;bottom:10044.6px;
}
#P82_133
{
left:26780.8px;bottom:10074.2px;color:rgb(0,124,196);
}
#P82_134
{
left:26928.6px;bottom:10074.2px;letter-spacing:-158.4px;color:rgb(0,124,196);
}
#P82_135
{
left:26949.7px;bottom:10513.8px;color:rgb(0,124,196);
}
#P82_136
{
left:27304.5px;bottom:10091.8px;color:rgb(0,124,196);
}
#P82_137
{
left:26928.6px;bottom:10058.1px;color:rgb(0,124,196);
}
#P82_138
{
left:27325.7px;bottom:10075.4px;color:rgb(0,124,196);
}
#P82_139
{
left:26949.7px;bottom:9606.32px;color:rgb(0,124,196);
}
#P82_140
{
left:27304.5px;bottom:10091.8px;color:rgb(0,124,196);
}
#P82_141
{
left:27325.7px;bottom:10074.2px;color:rgb(0,124,196);
}
#P82_142
{
left:27325.7px;bottom:10082.2px;color:rgb(0,124,196);
}
#P82_143
{
left:27997.7px;bottom:10163.1px;color:rgb(235,26,35);
}
#P82_144
{
left:11592.4px;bottom:6234.16px;letter-spacing:-6.3px;color:rgb(35,31,31);
}
#P82_145
{
left:0px;letter-spacing:0px;margin-left:6.3px;
}
#P82_146
{
left:0px;letter-spacing:-35.1px;margin-left:-50.6px;
}
#P82_147
{
left:0px;letter-spacing:0px;margin-left:40.6px;
}
#P82_148
{
left:10824.4px;bottom:4762.16px;color:rgb(35,31,31);
}
#P82_149
{
left:11504.2px;bottom:4788.97px;word-spacing:301px;color:rgb(35,31,31);
}
#P82_150
{
left:12552.4px;bottom:4788.97px;color:rgb(35,31,31);
}
#P82_151
{
left:12573.5px;bottom:5195.88px;color:rgb(35,31,31);
}
#P82_152
{
left:12909.3px;bottom:4779.76px;color:rgb(35,31,31);
}
#P82_153
{
left:12552.4px;bottom:4740.19px;color:rgb(35,31,31);
}
#P82_154
{
left:12930.5px;bottom:4763.42px;color:rgb(35,31,31);
}
#P82_155
{
left:12573.5px;bottom:4288.36px;color:rgb(35,31,31);
}
#P82_156
{
left:12909.3px;bottom:4779.76px;color:rgb(35,31,31);
}
#P82_157
{
left:12930.5px;bottom:4762.16px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P82_158
{
left:13088.8px;bottom:4732.59px;color:rgb(35,31,31);
}
#P82_159
{
left:13675.2px;bottom:4762.16px;color:rgb(35,31,31);
}
#P82_160
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P82_161
{
left:13854.7px;bottom:5201.84px;color:rgb(35,31,31);
}
#P82_162
{
left:14190.6px;bottom:4779.76px;color:rgb(35,31,31);
}
#P82_163
{
left:13833.6px;bottom:4746.14px;color:rgb(35,31,31);
}
#P82_164
{
left:14211.7px;bottom:4763.42px;color:rgb(35,31,31);
}
#P82_165
{
left:13854.7px;bottom:4294.32px;color:rgb(35,31,31);
}
#P82_166
{
left:14190.6px;bottom:4779.76px;color:rgb(35,31,31);
}
#P82_167
{
left:14211.7px;bottom:4762.16px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P82_168
{
left:17456.2px;bottom:4788.97px;word-spacing:301px;color:rgb(35,31,31);
}
#P82_169
{
left:18504.4px;bottom:4788.97px;color:rgb(35,31,31);
}
#P82_170
{
left:18525.5px;bottom:5195.88px;color:rgb(35,31,31);
}
#P82_171
{
left:18861.3px;bottom:4779.76px;color:rgb(35,31,31);
}
#P82_172
{
left:18504.4px;bottom:4740.19px;color:rgb(35,31,31);
}
#P82_173
{
left:18882.5px;bottom:4763.42px;color:rgb(35,31,31);
}
#P82_174
{
left:18525.5px;bottom:4288.36px;color:rgb(35,31,31);
}
#P82_175
{
left:18861.3px;bottom:4779.76px;color:rgb(35,31,31);
}
#P82_176
{
left:18882.5px;bottom:4762.16px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P82_177
{
left:19040.8px;bottom:4732.59px;color:rgb(35,31,31);
}
#P82_178
{
left:19627.2px;bottom:4762.16px;color:rgb(35,31,31);
}
#P82_179
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P82_180
{
left:19806.7px;bottom:5201.84px;color:rgb(35,31,31);
}
#P82_181
{
left:20142.6px;bottom:4779.76px;color:rgb(35,31,31);
}
#P82_182
{
left:19785.6px;bottom:4746.14px;color:rgb(35,31,31);
}
#P82_183
{
left:20163.7px;bottom:4763.42px;color:rgb(35,31,31);
}
#P82_184
{
left:19806.7px;bottom:4294.32px;color:rgb(35,31,31);
}
#P82_185
{
left:20142.6px;bottom:4779.76px;color:rgb(35,31,31);
}
#P82_186
{
left:20163.7px;bottom:4762.16px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P82_187
{
left:23280.2px;bottom:4788.97px;word-spacing:301px;color:rgb(35,31,31);
}
#P82_188
{
left:24328.4px;bottom:4788.97px;color:rgb(35,31,31);
}
#P82_189
{
left:24349.5px;bottom:5195.88px;color:rgb(35,31,31);
}
#P82_190
{
left:24685.3px;bottom:4779.76px;color:rgb(35,31,31);
}
#P82_191
{
left:24328.4px;bottom:4740.19px;color:rgb(35,31,31);
}
#P82_192
{
left:24706.5px;bottom:4763.42px;color:rgb(35,31,31);
}
#P82_193
{
left:24349.5px;bottom:4288.36px;color:rgb(35,31,31);
}
#P82_194
{
left:24685.3px;bottom:4779.76px;color:rgb(35,31,31);
}
#P82_195
{
left:24706.5px;bottom:4762.16px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P82_196
{
left:24864.8px;bottom:4732.59px;color:rgb(35,31,31);
}
#P82_197
{
left:25451.2px;bottom:4762.16px;color:rgb(35,31,31);
}
#P82_198
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P82_199
{
left:25630.7px;bottom:5201.84px;color:rgb(35,31,31);
}
#P82_200
{
left:25966.6px;bottom:4779.76px;color:rgb(35,31,31);
}
#P82_201
{
left:25609.6px;bottom:4746.14px;color:rgb(35,31,31);
}
#P82_202
{
left:25987.7px;bottom:4763.42px;color:rgb(35,31,31);
}
#P82_203
{
left:25630.7px;bottom:4294.32px;color:rgb(35,31,31);
}
#P82_204
{
left:25966.6px;bottom:4779.76px;color:rgb(35,31,31);
}
#P82_205
{
left:25987.7px;bottom:4762.16px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P82_206
{
left:28976.2px;bottom:4788.97px;word-spacing:301px;color:rgb(35,31,31);
}
#P82_207
{
left:30024.4px;bottom:4788.97px;color:rgb(35,31,31);
}
#P82_208
{
left:30045.5px;bottom:5195.88px;color:rgb(35,31,31);
}
#P82_209
{
left:30381.3px;bottom:4779.76px;color:rgb(35,31,31);
}
#P82_210
{
left:30024.4px;bottom:4740.19px;color:rgb(35,31,31);
}
#P82_211
{
left:30402.5px;bottom:4763.42px;color:rgb(35,31,31);
}
#P82_212
{
left:30045.5px;bottom:4288.36px;color:rgb(35,31,31);
}
#P82_213
{
left:30381.3px;bottom:4779.76px;color:rgb(35,31,31);
}
#P82_214
{
left:30402.5px;bottom:4762.16px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P82_215
{
left:30560.8px;bottom:4732.59px;color:rgb(35,31,31);
}
#P82_216
{
left:31147.2px;bottom:4762.16px;color:rgb(35,31,31);
}
#P82_217
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P82_218
{
left:31494.7px;bottom:5201.84px;color:rgb(35,31,31);
}
#P82_219
{
left:31830.5px;bottom:4779.76px;color:rgb(35,31,31);
}
#P82_220
{
left:31305.6px;bottom:4746.14px;color:rgb(35,31,31);
}
#P82_221
{
left:32019.5px;bottom:4763.42px;color:rgb(35,31,31);
}
#P82_222
{
left:31326.7px;bottom:4294.32px;color:rgb(35,31,31);
}
#P82_223
{
left:31998.4px;bottom:4779.76px;color:rgb(35,31,31);
}
#P82_224
{
left:32019.5px;bottom:4762.16px;color:rgb(35,31,31);
}
#P82_225
{
left:15357.4px;bottom:15676.8px;color:rgb(235,26,35);
}
#P82_226
{
left:17437.4px;bottom:15676.8px;color:rgb(235,26,35);
}
#P82_227
{
left:15237.9px;bottom:13878.4px;color:rgb(235,26,35);
}
#P82_228
{
left:17373.4px;bottom:13904px;color:rgb(235,26,35);
}
#P82_229
{
left:5889.56px;bottom:46957.1px;color:white;
}
#P82_230
{
left:2371.78px;bottom:46929.9px;color:white;
}
#P82_231
{
left:2365.4px;bottom:1525.23px;color:rgb(35,31,31);
}
#P82_232
{
left:3148.76px;bottom:1525.23px;color:rgb(35,31,31);
}
#P82_233
{
left:4925.4px;bottom:1525.23px;color:rgb(35,31,31);
}
#P82_234
{
left:9125.85px;bottom:1525.23px;letter-spacing:2.1px;word-spacing:462px;color:rgb(35,31,31);
}
#P82_235
{
left:0px;letter-spacing:2.3px;margin-left:-6.5px;
}
#P82_236
{
left:0px;letter-spacing:0px;margin-left:-464.3px;
}
#P82_237
{
left:0px;letter-spacing:2.4px;margin-left:0.1px;
}
#P82_238
{
left:0px;letter-spacing:0px;margin-left:-464.4px;
}
#P82_239
{
left:0px;letter-spacing:1.4px;margin-left:5.4px;
}
#P82_240
{
left:11581.4px;bottom:41944.7px;color:rgb(35,31,31);
}
#P82_241
{
left:13042.2px;bottom:42101px;color:rgb(35,31,31);
}
#P82_242
{
left:13237.9px;bottom:41944.7px;color:rgb(35,31,31);
}
#P82_243
{
left:14203.1px;bottom:42101px;color:rgb(35,31,31);
}
#P82_244
{
left:14398.8px;bottom:41944.7px;letter-spacing:-1.8px;color:rgb(35,31,31);
}
#P82_245
{
left:16941.8px;bottom:42101px;color:rgb(35,31,31);
}
#P82_246
{
left:17137.5px;bottom:41944.7px;color:rgb(35,31,31);
}
#P82_247
{
left:11581.4px;bottom:40878.1px;letter-spacing:-5.4px;color:rgb(2,77,161);
}
#P82_248
{
left:13553.9px;bottom:40861px;letter-spacing:508.3px;color:rgb(35,31,31);
}
#P82_249
{
left:14257.9px;bottom:40837px;letter-spacing:-6.3px;color:rgb(35,31,31);
}
#P82_250
{
left:0px;letter-spacing:-0.4px;margin-left:6.3px;
}
#P82_251
{
left:11581.4px;bottom:39278.1px;color:rgb(2,77,161);
}
#P82_252
{
left:14419.5px;bottom:39245px;color:rgb(35,31,31);
}
#P82_253
{
left:15091.5px;bottom:39237px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P82_254
{
left:15111.7px;bottom:39665.4px;color:rgb(35,31,31);
}
#P82_255
{
left:15432.2px;bottom:39261.8px;color:rgb(35,31,31);
}
#P82_256
{
left:15091.5px;bottom:39213px;color:rgb(35,31,31);
}
#P82_257
{
left:15452.4px;bottom:39238.3px;color:rgb(35,31,31);
}
#P82_258
{
left:15111.7px;bottom:38797.8px;color:rgb(35,31,31);
}
#P82_259
{
left:15432.2px;bottom:39261.8px;color:rgb(35,31,31);
}
#P82_260
{
left:15452.4px;bottom:39237px;color:rgb(35,31,31);
}
#P82_261
{
left:15452.4px;bottom:39245px;color:rgb(35,31,31);
}
#P82_262
{
left:15603.6px;bottom:39216.8px;color:rgb(35,31,31);
}
#P82_263
{
left:16163.4px;bottom:39245px;color:rgb(35,31,31);
}
#P82_264
{
left:16314.5px;bottom:39237px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P82_265
{
left:16334.7px;bottom:39665.4px;color:rgb(35,31,31);
}
#P82_266
{
left:16655.3px;bottom:39261.8px;color:rgb(35,31,31);
}
#P82_267
{
left:16314.5px;bottom:39213px;color:rgb(35,31,31);
}
#P82_268
{
left:16675.4px;bottom:39238.3px;color:rgb(35,31,31);
}
#P82_269
{
left:16334.7px;bottom:38797.8px;color:rgb(35,31,31);
}
#P82_270
{
left:16655.3px;bottom:39261.8px;color:rgb(35,31,31);
}
#P82_271
{
left:16675.4px;bottom:39237px;color:rgb(35,31,31);
}
#P82_272
{
left:16675.4px;bottom:39245px;color:rgb(35,31,31);
}
#P82_273
{
left:16826.6px;bottom:39216.8px;color:rgb(35,31,31);
}
#P82_274
{
left:17386.4px;bottom:39245px;color:rgb(35,31,31);
}
#P82_275
{
left:17537.6px;bottom:39237px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P82_276
{
left:17557.7px;bottom:39665.4px;color:rgb(35,31,31);
}
#P82_277
{
left:18014.4px;bottom:39640px;color:rgb(35,31,31);
}
#P82_278
{
left:18518.2px;bottom:39665.4px;color:rgb(35,31,31);
}
#P82_279
{
left:18974.7px;bottom:39261.8px;color:rgb(35,31,31);
}
#P82_280
{
left:17537.6px;bottom:39213px;color:rgb(35,31,31);
}
#P82_281
{
left:18994.9px;bottom:39238.3px;color:rgb(35,31,31);
}
#P82_282
{
left:17557.7px;bottom:38797.8px;color:rgb(35,31,31);
}
#P82_283
{
left:18014.4px;bottom:38772.4px;color:rgb(35,31,31);
}
#P82_284
{
left:18518.2px;bottom:38797.8px;color:rgb(35,31,31);
}
#P82_285
{
left:18974.7px;bottom:39261.8px;color:rgb(35,31,31);
}
#P82_286
{
left:18994.9px;bottom:39237px;color:rgb(35,31,31);
}
#P82_287
{
left:18994.9px;bottom:39245px;color:rgb(35,31,31);
}
#P82_288
{
left:19146.2px;bottom:39216.8px;color:rgb(35,31,31);
}
#P82_289
{
left:19705.9px;bottom:39245px;color:rgb(35,31,31);
}
#P82_290
{
left:19857px;bottom:39237px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P82_291
{
left:20037.5px;bottom:39665.4px;color:rgb(35,31,31);
}
#P82_292
{
left:20358px;bottom:39261.8px;color:rgb(35,31,31);
}
#P82_293
{
left:19857px;bottom:39213px;color:rgb(35,31,31);
}
#P82_294
{
left:20538.5px;bottom:39238.3px;color:rgb(35,31,31);
}
#P82_295
{
left:19877.2px;bottom:38797.8px;color:rgb(35,31,31);
}
#P82_296
{
left:20518.3px;bottom:39261.8px;color:rgb(35,31,31);
}
#P82_297
{
left:20538.5px;bottom:39237px;color:rgb(35,31,31);
}
#P82_298
{
left:11581.4px;bottom:37166.1px;color:rgb(2,77,161);
}
#P82_299
{
left:14082.7px;bottom:37149px;letter-spacing:508.3px;color:rgb(35,31,31);
}
#P82_300
{
left:14786.7px;bottom:37125px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P82_301
{
left:14807.8px;bottom:37566.8px;color:rgb(35,31,31);
}
#P82_302
{
left:15163.3px;bottom:37142.6px;color:rgb(35,31,31);
}
#P82_303
{
left:14786.7px;bottom:37111.1px;color:rgb(35,31,31);
}
#P82_304
{
left:15184.4px;bottom:37126.3px;color:rgb(35,31,31);
}
#P82_305
{
left:14808.5px;bottom:36659.2px;color:rgb(35,31,31);
}
#P82_306
{
left:15162.6px;bottom:37142.6px;color:rgb(35,31,31);
}
#P82_307
{
left:15184.4px;bottom:37125px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P82_308
{
left:15289.9px;bottom:36686.5px;color:rgb(35,31,31);
}
#P82_309
{
left:15641.8px;bottom:37125px;color:rgb(35,31,31);
}
#P82_310
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P82_311
{
left:15867.5px;bottom:37564.7px;color:rgb(35,31,31);
}
#P82_312
{
left:16146.9px;bottom:37142.6px;color:rgb(35,31,31);
}
#P82_313
{
left:15800.2px;bottom:37109px;color:rgb(35,31,31);
}
#P82_314
{
left:16214.3px;bottom:37126.3px;color:rgb(35,31,31);
}
#P82_315
{
left:15821.3px;bottom:36657.1px;color:rgb(35,31,31);
}
#P82_316
{
left:16193.2px;bottom:37142.6px;color:rgb(35,31,31);
}
#P82_317
{
left:16214.3px;bottom:37125px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P82_318
{
left:16372.7px;bottom:37095.5px;color:rgb(35,31,31);
}
#P82_319
{
left:16959.1px;bottom:37125px;color:rgb(35,31,31);
}
#P82_320
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P82_321
{
left:17184.3px;bottom:37564.7px;color:rgb(35,31,31);
}
#P82_322
{
left:17539.7px;bottom:37564.7px;color:rgb(35,31,31);
}
#P82_323
{
left:17634.7px;bottom:37170px;color:rgb(35,31,31);
}
#P82_324
{
left:17951.3px;bottom:37564.7px;color:rgb(35,31,31);
}
#P82_325
{
left:18093.9px;bottom:37564.7px;color:rgb(35,31,31);
}
#P82_326
{
left:18373.3px;bottom:37142.6px;color:rgb(35,31,31);
}
#P82_327
{
left:17117.5px;bottom:37109px;color:rgb(35,31,31);
}
#P82_328
{
left:18440px;bottom:37126.3px;color:rgb(35,31,31);
}
#P82_329
{
left:17138.6px;bottom:36657.1px;color:rgb(35,31,31);
}
#P82_330
{
left:17492.8px;bottom:36657.1px;color:rgb(35,31,31);
}
#P82_331
{
left:17587.9px;bottom:36262.4px;color:rgb(35,31,31);
}
#P82_332
{
left:17904.5px;bottom:36657.1px;color:rgb(35,31,31);
}
#P82_333
{
left:18047px;bottom:36657.1px;color:rgb(35,31,31);
}
#P82_334
{
left:18418.9px;bottom:37142.6px;color:rgb(35,31,31);
}
#P82_335
{
left:18528px;bottom:37125px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P82_336
{
left:0px;letter-spacing:0px;margin-left:158.4px;
}
#P82_337
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P82_338
{
left:20983px;bottom:37125px;color:rgb(35,31,31);
}
#P82_339
{
left:21376.5px;bottom:37125px;color:rgb(35,31,31);
}
#P82_340
{
left:21721.5px;bottom:37125px;color:rgb(35,31,31);
}
#P82_341
{
left:22134.7px;bottom:37125px;color:rgb(35,31,31);
}
#P82_342
{
left:22293.1px;bottom:37095.5px;color:rgb(35,31,31);
}
#P82_343
{
left:22879.5px;bottom:37125px;color:rgb(35,31,31);
}
#P82_344
{
left:2514.73px;bottom:18631.4px;color:white;
}
#P82_345
{
left:5870.36px;bottom:18873.1px;color:white;
}
#P82_346
{
left:6206.3px;bottom:18631.4px;color:white;
}
#P82_347
{
left:2749.4px;bottom:17528.4px;color:rgb(35,31,31);
}
#P82_348
{
left:2749.4px;bottom:16760.4px;color:rgb(35,31,31);
}
#P82_349
{
left:2749.4px;bottom:15992.4px;color:rgb(35,31,31);
}
#P82_350
{
left:2749.4px;bottom:15224.4px;color:rgb(35,31,31);
}
#P82_351
{
left:2749.4px;bottom:14456.4px;color:rgb(35,31,31);
}
#P82_352
{
left:2749.4px;bottom:13688.4px;color:rgb(35,31,31);
}
#P82_353
{
left:0px;letter-spacing:0px;margin-left:-58.8px;
}
#P82_354
{
left:2749.4px;bottom:12536.4px;letter-spacing:-177.9px;color:rgb(0,124,196);
}
#P82_355
{
left:2768.6px;bottom:12935.9px;color:rgb(0,124,196);
}
#P82_356
{
left:3088.86px;bottom:12550.3px;color:rgb(0,124,196);
}
#P82_357
{
left:2749.4px;bottom:12502.1px;color:rgb(35,31,31);
}
#P82_358
{
left:3108.06px;bottom:12515.8px;color:rgb(35,31,31);
}
#P82_359
{
left:2768.6px;bottom:12110.9px;color:rgb(235,26,35);
}
#P82_360
{
left:3088.86px;bottom:12550.3px;color:rgb(235,26,35);
}
#P82_361
{
left:3108.06px;bottom:12536.4px;color:rgb(235,26,35);
}
#P82_362
{
left:3108.06px;bottom:12536.4px;color:rgb(35,31,31);
}
#P82_363
{
left:3285.98px;bottom:12487.8px;color:rgb(35,31,31);
}
#P82_364
{
left:3819.1px;bottom:12536.4px;color:rgb(35,31,31);
}
#P82_365
{
left:0px;letter-spacing:0px;margin-left:-177.9px;
}
#P82_366
{
left:4016.21px;bottom:12935.9px;color:rgb(235,26,35);
}
#P82_367
{
left:4336.47px;bottom:12550.3px;color:rgb(235,26,35);
}
#P82_368
{
left:3997.01px;bottom:12502.1px;color:rgb(35,31,31);
}
#P82_369
{
left:4355.67px;bottom:12515.8px;color:rgb(35,31,31);
}
#P82_370
{
left:4016.21px;bottom:12110.9px;color:rgb(0,124,196);
}
#P82_371
{
left:4336.47px;bottom:12550.3px;color:rgb(0,124,196);
}
#P82_372
{
left:4355.67px;bottom:12536.4px;color:rgb(0,124,196);
}
#P82_373
{
left:4355.67px;bottom:12536.4px;color:rgb(35,31,31);
}
#P82_374
{
left:4533.59px;bottom:12487.8px;color:rgb(35,31,31);
}
#P82_375
{
left:5066.71px;bottom:12536.4px;color:rgb(35,31,31);
}
#P82_376
{
left:0px;letter-spacing:0px;margin-left:-177.9px;
}
#P82_377
{
left:5263.83px;bottom:12935.9px;color:rgb(0,124,196);
}
#P82_378
{
left:5584.09px;bottom:12550.3px;color:rgb(0,124,196);
}
#P82_379
{
left:5244.63px;bottom:12502.1px;color:rgb(35,31,31);
}
#P82_380
{
left:5603.29px;bottom:12515.8px;color:rgb(35,31,31);
}
#P82_381
{
left:5263.83px;bottom:12110.9px;color:rgb(0,124,196);
}
#P82_382
{
left:5584.09px;bottom:12550.3px;color:rgb(0,124,196);
}
#P82_383
{
left:5603.29px;bottom:12536.4px;color:rgb(0,124,196);
}
#P82_384
{
left:5603.29px;bottom:12536.4px;color:rgb(35,31,31);
}
#P82_385
{
left:2749.4px;bottom:11384.4px;color:rgb(35,31,31);
}
#P82_386
{
left:2749.4px;bottom:10616.4px;color:rgb(35,31,31);
}
#P82_387
{
left:11539px;bottom:30618.2px;color:rgb(35,31,31);
}
#P82_388
{
left:0px;letter-spacing:0px;margin-left:-15.5px;
}
#P82_389
{
left:0px;letter-spacing:0px;margin-left:-147.8px;
}
#P82_390
{
left:13207.5px;bottom:31057.9px;color:rgb(35,31,31);
}
#P82_391
{
left:13562.3px;bottom:30635.8px;color:rgb(35,31,31);
}
#P82_392
{
left:13186.4px;bottom:30602.2px;color:rgb(35,31,31);
}
#P82_393
{
left:13583.4px;bottom:30619.5px;color:rgb(35,31,31);
}
#P82_394
{
left:13207.5px;bottom:30150.4px;color:rgb(35,31,31);
}
#P82_395
{
left:13562.3px;bottom:30635.8px;color:rgb(35,31,31);
}
#P82_396
{
left:13583.4px;bottom:30618.2px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P82_397
{
left:13731.3px;bottom:30588.7px;color:rgb(35,31,31);
}
#P82_398
{
left:14317.7px;bottom:30618.2px;color:rgb(35,31,31);
}
#P82_399
{
left:0px;letter-spacing:0px;margin-left:-147.8px;
}
#P82_400
{
left:14486.7px;bottom:31057.9px;color:rgb(35,31,31);
}
#P82_401
{
left:14841.5px;bottom:30635.8px;color:rgb(35,31,31);
}
#P82_402
{
left:14465.6px;bottom:30602.2px;color:rgb(35,31,31);
}
#P82_403
{
left:14862.6px;bottom:30619.5px;color:rgb(35,31,31);
}
#P82_404
{
left:14486.7px;bottom:30150.4px;color:rgb(35,31,31);
}
#P82_405
{
left:14841.5px;bottom:30635.8px;color:rgb(35,31,31);
}
#P82_406
{
left:14862.6px;bottom:30618.2px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P82_407
{
left:11539px;bottom:28378.2px;letter-spacing:1441.6px;color:rgb(35,31,31);
}
#P82_408
{
left:0px;letter-spacing:0px;margin-left:-1600px;
}
#P82_409
{
left:13160.2px;bottom:28817.9px;color:rgb(35,31,31);
}
#P82_410
{
left:13496px;bottom:28395.8px;color:rgb(35,31,31);
}
#P82_411
{
left:13139px;bottom:28362.2px;color:rgb(35,31,31);
}
#P82_412
{
left:13517.1px;bottom:28379.5px;color:rgb(35,31,31);
}
#P82_413
{
left:13160.2px;bottom:27910.4px;color:rgb(35,31,31);
}
#P82_414
{
left:13496px;bottom:28395.8px;color:rgb(35,31,31);
}
#P82_415
{
left:13517.1px;bottom:28378.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P82_416
{
left:13675.5px;bottom:28348.7px;color:rgb(35,31,31);
}
#P82_417
{
left:14261.9px;bottom:28378.2px;color:rgb(35,31,31);
}
#P82_418
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P82_419
{
left:14441.4px;bottom:28817.9px;color:rgb(35,31,31);
}
#P82_420
{
left:14777.2px;bottom:28395.8px;color:rgb(35,31,31);
}
#P82_421
{
left:14420.3px;bottom:28362.2px;color:rgb(35,31,31);
}
#P82_422
{
left:14798.4px;bottom:28379.5px;color:rgb(35,31,31);
}
#P82_423
{
left:14441.4px;bottom:27910.4px;color:rgb(35,31,31);
}
#P82_424
{
left:14777.2px;bottom:28395.8px;color:rgb(35,31,31);
}
#P82_425
{
left:14798.4px;bottom:28378.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P82_426
{
left:14956.8px;bottom:28348.7px;color:rgb(35,31,31);
}
#P82_427
{
left:15543.2px;bottom:28378.2px;color:rgb(35,31,31);
}
#P82_428
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P82_429
{
left:15722.7px;bottom:28817.9px;color:rgb(35,31,31);
}
#P82_430
{
left:16201px;bottom:28791.3px;color:rgb(35,31,31);
}
#P82_431
{
left:16728.8px;bottom:28817.9px;color:rgb(35,31,31);
}
#P82_432
{
left:17207.2px;bottom:28395.8px;color:rgb(35,31,31);
}
#P82_433
{
left:15701.6px;bottom:28362.2px;color:rgb(35,31,31);
}
#P82_434
{
left:17228.3px;bottom:28379.5px;color:rgb(35,31,31);
}
#P82_435
{
left:15722.7px;bottom:27910.4px;color:rgb(35,31,31);
}
#P82_436
{
left:16201px;bottom:27883.8px;color:rgb(35,31,31);
}
#P82_437
{
left:16728.8px;bottom:27910.4px;color:rgb(35,31,31);
}
#P82_438
{
left:17207.2px;bottom:28395.8px;color:rgb(35,31,31);
}
#P82_439
{
left:17228.3px;bottom:28378.2px;color:rgb(35,31,31);
}
#P82_440
{
left:11539px;bottom:25946.2px;letter-spacing:993.6px;color:rgb(35,31,31);
}
#P82_441
{
left:0px;letter-spacing:0px;margin-left:895.9px;
}
#P82_442
{
left:14897.4px;bottom:25916.7px;color:rgb(35,31,31);
}
#P82_443
{
left:15483.9px;bottom:25946.2px;color:rgb(35,31,31);
}
#P82_444
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P82_445
{
left:15831.3px;bottom:26385.9px;color:rgb(35,31,31);
}
#P82_446
{
left:16167.1px;bottom:25963.8px;color:rgb(35,31,31);
}
#P82_447
{
left:15642.3px;bottom:25930.2px;color:rgb(35,31,31);
}
#P82_448
{
left:16356.1px;bottom:25947.5px;color:rgb(35,31,31);
}
#P82_449
{
left:15663.4px;bottom:25478.4px;color:rgb(35,31,31);
}
#P82_450
{
left:16335px;bottom:25963.8px;color:rgb(35,31,31);
}
#P82_451
{
left:16356.1px;bottom:25946.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P82_452
{
left:19539px;bottom:25954.2px;color:rgb(0,124,196);
}
#P82_453
{
left:0px;letter-spacing:0px;margin-left:-49.7px;
}
#P82_454
{
left:5443.8px;bottom:32385.6px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P82_455
{
left:12312.1px;bottom:32410.2px;color:white;
}
#P82_456
{
left:14104.9px;bottom:32602px;color:white;
}
#P82_457
{
left:14345.1px;bottom:32410.2px;color:white;
}
#P82_458
{
left:15529.6px;bottom:32602px;color:white;
}
#P82_459
{
left:15769.8px;bottom:32410.2px;letter-spacing:-2.2px;color:white;
}
#P82_460
{
left:18890.8px;bottom:32602px;color:white;
}
#P82_461
{
left:19131px;bottom:32410.2px;color:white;
}
#P82_462
{
left:10467.7px;bottom:32243.1px;
}
#P82_463
{
left:10467.7px;bottom:32243.1px;color:white;
}
#P82_464
{
left:19966.5px;bottom:29292.8px;letter-spacing:-1.1px;color:rgb(0,124,196);
}
#P82_465
{
left:19850.2px;bottom:27660.8px;letter-spacing:-1px;color:rgb(0,124,196);
}
#P82_466
{
left:20019.8px;bottom:18092.8px;letter-spacing:-1.1px;color:rgb(0,124,196);
}
#P82_467
{
left:20005.9px;bottom:16460.8px;letter-spacing:-1px;color:rgb(0,124,196);
}
#P82_468
{
left:5497.11px;bottom:21569.6px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P82_469
{
left:12365.4px;bottom:21594.2px;color:white;
}
#P82_470
{
left:14158.2px;bottom:21786px;color:white;
}
#P82_471
{
left:14398.4px;bottom:21594.2px;color:white;
}
#P82_472
{
left:15582.9px;bottom:21786px;color:white;
}
#P82_473
{
left:15823.1px;bottom:21594.2px;letter-spacing:-2.2px;color:white;
}
#P82_474
{
left:18944.1px;bottom:21786px;color:white;
}
#P82_475
{
left:19184.3px;bottom:21594.2px;color:white;
}
#P82_476
{
left:21441px;bottom:21786px;color:white;
}
#P82_477
{
left:21681.2px;bottom:21594.2px;letter-spacing:-1.4px;color:white;
}
#P82_478
{
left:0px;letter-spacing:0px;margin-left:-7px;
}
#P82_479
{
left:10521px;bottom:21427.1px;
}
#P82_480
{
left:10521px;bottom:21427.1px;color:white;
}
#P82_481
{
left:5709.4px;bottom:5116.78px;color:rgb(35,31,31);
}
#P82_482
{
left:0px;letter-spacing:0px;margin-left:-66.2px;
}
#P82_483
{
left:26785.2px;bottom:46188.3px;word-spacing:0.2px;color:rgb(33,31,31);
}
#P82_484
{
left:0px;letter-spacing:0px;margin-left:-44.8px;
}
#P82_485
{
left:0px;letter-spacing:0px;margin-left:0.2px;
}
#PageContainer82
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg082.jpg");background-repeat:no-repeat;background-size: 945px 1239px; background-position: 0px 35.03px;
}
#ImageContainer82 {bottom:89.97px;left:0.00px;width:945.19px;height:1239.01px;position:absolute;} #TextContainer82 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.example1{position:absolute; top: 452px; left: 98px;}
.example2{position:absolute; top: 743px; left: 98px;}
.nyr{position: absolute; top: 1176px; left: 122px;}
.nyr_exr{position: absolute; top: 1206px; left: 153px;color:rgb(35,31,31);font-size:16px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}