.tr457{ color:transparent;}
#P457_1
{
left:4592.6px;bottom:1544.43px;color:rgb(35,31,31);
}
#P457_2
{
left:27821.3px;bottom:1544.43px;letter-spacing:1.8px;word-spacing:461.5px;color:rgb(35,31,31);
}
#P457_3
{
left:0px;letter-spacing:0px;margin-left:176.7px;
}
#P457_4
{
left:0px;letter-spacing:6.3px;margin-left:21.1px;
}
#P457_5
{
left:35751px;bottom:1410.03px;color:rgb(35,31,31);
}
#P457_6
{
left:6973.4px;bottom:45459.8px;color:rgb(35,31,31);
}
#P457_7
{
left:7542.23px;bottom:45479.5px;color:rgb(35,31,31);
}
#P457_8
{
left:8573.59px;bottom:45459.8px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P457_9
{
left:0px;letter-spacing:-2.1px;margin-left:0.6px;
}
#P457_10
{
left:0px;letter-spacing:0px;margin-left:2.1px;
}
#P457_11
{
left:22588.1px;bottom:45459.8px;color:rgb(0,124,196);
}
#P457_12
{
left:12989.4px;bottom:43987.7px;word-spacing:5857.6px;color:rgb(35,31,31);
}
#P457_13
{
left:14454.1px;bottom:43958.1px;color:rgb(35,31,31);
}
#P457_14
{
left:15040.5px;bottom:43987.7px;color:rgb(35,31,31);
}
#P457_15
{
left:6973.4px;bottom:40339.6px;color:rgb(35,31,31);
}
#P457_16
{
left:7542.23px;bottom:40359.3px;color:rgb(35,31,31);
}
#P457_17
{
left:8573.59px;bottom:40339.6px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P457_18
{
left:0px;letter-spacing:-2.1px;margin-left:0.6px;
}
#P457_19
{
left:0px;letter-spacing:0px;margin-left:2.1px;
}
#P457_20
{
left:23692.8px;bottom:40339.6px;color:rgb(35,31,31);
}
#P457_21
{
left:24087.7px;bottom:40339.6px;color:rgb(35,31,31);
}
#P457_22
{
left:24246.1px;bottom:40310px;color:rgb(35,31,31);
}
#P457_23
{
left:24832.5px;bottom:40339.6px;color:rgb(35,31,31);
}
#P457_24
{
left:26905.8px;bottom:40339.6px;color:rgb(35,31,31);
}
#P457_25
{
left:27299.4px;bottom:40339.6px;color:rgb(35,31,31);
}
#P457_26
{
left:27457.8px;bottom:40310px;color:rgb(35,31,31);
}
#P457_27
{
left:28044.2px;bottom:40339.6px;color:rgb(35,31,31);
}
#P457_28
{
left:29926.6px;bottom:40339.6px;letter-spacing:0.9px;color:rgb(0,124,196);
}
#P457_29
{
left:16701.4px;bottom:38867.6px;word-spacing:9569.6px;color:rgb(35,31,31);
}
#P457_30
{
left:17634.2px;bottom:38867.6px;color:rgb(35,31,31);
}
#P457_31
{
left:18029.1px;bottom:38867.6px;color:rgb(35,31,31);
}
#P457_32
{
left:18187.5px;bottom:38838px;color:rgb(35,31,31);
}
#P457_33
{
left:18774px;bottom:38867.6px;color:rgb(35,31,31);
}
#P457_34
{
left:20238.3px;bottom:38867.6px;color:rgb(35,31,31);
}
#P457_35
{
left:6973.4px;bottom:37139.2px;color:rgb(35,31,31);
}
#P457_36
{
left:8448.99px;bottom:37159px;color:rgb(35,31,31);
}
#P457_37
{
left:9597.28px;bottom:37139.2px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P457_38
{
left:23118.9px;bottom:37159px;color:rgb(35,31,31);
}
#P457_39
{
left:24189.1px;bottom:37139.2px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P457_40
{
left:6973.4px;bottom:35603.1px;color:rgb(35,31,31);
}
#P457_41
{
left:8527.13px;bottom:35622.8px;color:rgb(35,31,31);
}
#P457_42
{
left:9597.28px;bottom:35603.1px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P457_43
{
left:23040.8px;bottom:35622.8px;color:rgb(35,31,31);
}
#P457_44
{
left:24189.1px;bottom:35603.1px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P457_45
{
left:6973.4px;bottom:32403.4px;color:rgb(35,31,31);
}
#P457_46
{
left:7150.81px;bottom:32423.1px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P457_47
{
left:8573.59px;bottom:32403.4px;color:rgb(35,31,31);
}
#P457_48
{
left:11500.1px;bottom:32403.6px;letter-spacing:0.6px;color:rgb(35,31,31);
}
#P457_49
{
left:15106.7px;bottom:32403.6px;color:rgb(35,31,31);
}
#P457_50
{
left:16159.9px;bottom:32403.6px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P457_51
{
left:0px;letter-spacing:0px;margin-left:-20.5px;
}
#P457_52
{
left:0px;letter-spacing:-0.6px;
}
#P457_53
{
left:32479.3px;bottom:32403.6px;letter-spacing:1px;color:rgb(0,124,196);
}
#P457_54
{
left:15213.4px;bottom:30250.8px;color:rgb(35,31,31);
}
#P457_55
{
left:16304.6px;bottom:30221.2px;color:rgb(35,31,31);
}
#P457_56
{
left:16891px;bottom:30250.8px;color:rgb(35,31,31);
}
#P457_57
{
left:17954.1px;bottom:30221.2px;color:rgb(35,31,31);
}
#P457_58
{
left:18540.5px;bottom:30250.8px;color:rgb(35,31,31);
}
#P457_59
{
left:19603.5px;bottom:30221.2px;color:rgb(35,31,31);
}
#P457_60
{
left:20190px;bottom:30250.8px;color:rgb(35,31,31);
}
#P457_61
{
left:21439.6px;bottom:30221.2px;color:rgb(35,31,31);
}
#P457_62
{
left:22026px;bottom:30250.8px;color:rgb(35,31,31);
}
#P457_63
{
left:23089px;bottom:30221.2px;color:rgb(35,31,31);
}
#P457_64
{
left:23675.5px;bottom:30250.8px;color:rgb(35,31,31);
}
#P457_65
{
left:24925.1px;bottom:30221.2px;color:rgb(35,31,31);
}
#P457_66
{
left:25511.5px;bottom:30250.8px;color:rgb(35,31,31);
}
#P457_67
{
left:26574.6px;bottom:30221.2px;color:rgb(35,31,31);
}
#P457_68
{
left:27161px;bottom:30250.8px;color:rgb(35,31,31);
}
#P457_69
{
left:15213.4px;bottom:29099.1px;letter-spacing:5921.6px;color:rgb(35,31,31);
}
#P457_70
{
left:21451.5px;bottom:29069.5px;color:rgb(35,31,31);
}
#P457_71
{
left:22038px;bottom:29099.1px;color:rgb(35,31,31);
}
#P457_72
{
left:23101px;bottom:29069.5px;color:rgb(35,31,31);
}
#P457_73
{
left:23687.4px;bottom:29099.1px;color:rgb(35,31,31);
}
#P457_74
{
left:25183.4px;bottom:29069.5px;color:rgb(35,31,31);
}
#P457_75
{
left:25769.9px;bottom:29099.1px;color:rgb(35,31,31);
}
#P457_76
{
left:15213.4px;bottom:27947.3px;letter-spacing:5921.6px;color:rgb(35,31,31);
}
#P457_77
{
left:21451.5px;bottom:27917.7px;color:rgb(35,31,31);
}
#P457_78
{
left:22038px;bottom:27947.3px;color:rgb(35,31,31);
}
#P457_79
{
left:23101px;bottom:27917.7px;color:rgb(35,31,31);
}
#P457_80
{
left:23687.4px;bottom:27947.3px;color:rgb(35,31,31);
}
#P457_81
{
left:15213.4px;bottom:26795.6px;letter-spacing:5921.6px;color:rgb(35,31,31);
}
#P457_82
{
left:21451.5px;bottom:26766px;color:rgb(35,31,31);
}
#P457_83
{
left:22038px;bottom:26795.6px;color:rgb(35,31,31);
}
#P457_84
{
left:6973.08px;bottom:24468.1px;color:rgb(35,31,31);
}
#P457_85
{
left:8695.77px;bottom:24487.9px;letter-spacing:-90.7px;color:rgb(35,31,31);
}
#P457_86
{
left:9597.07px;bottom:24468.1px;letter-spacing:-0.1px;word-spacing:286.1px;color:rgb(35,31,31);
}
#P457_87
{
left:0px;letter-spacing:0px;margin-left:-285.9px;
}
#P457_88
{
left:0px;letter-spacing:0px;margin-left:-8.7px;
}
#P457_89
{
left:6973.08px;bottom:22932px;color:rgb(35,31,31);
}
#P457_90
{
left:8448.67px;bottom:22951.7px;color:rgb(35,31,31);
}
#P457_91
{
left:9596.89px;bottom:22932px;letter-spacing:285.7px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P457_92
{
left:0px;letter-spacing:-0.8px;margin-left:-285.8px;
}
#P457_93
{
left:0px;letter-spacing:-0.1px;margin-left:0.6px;
}
#P457_94
{
left:6973.08px;bottom:21395.9px;color:rgb(35,31,31);
}
#P457_95
{
left:8448.67px;bottom:21415.6px;color:rgb(35,31,31);
}
#P457_96
{
left:9152.67px;bottom:21395.9px;letter-spacing:285.8px;color:rgb(35,31,31);
}
#P457_97
{
left:0px;letter-spacing:0px;margin-left:-306.9px;
}
#P457_98
{
left:0px;letter-spacing:-0.5px;
}
#P457_99
{
left:0px;letter-spacing:0px;margin-left:-24.9px;
}
#P457_100
{
left:0px;letter-spacing:0px;
}
#P457_101
{
left:6973.08px;bottom:19859.8px;color:rgb(35,31,31);
}
#P457_102
{
left:8761.24px;bottom:19879.5px;color:rgb(35,31,31);
}
#P457_103
{
left:9596.89px;bottom:19859.8px;letter-spacing:285.8px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P457_104
{
left:0px;letter-spacing:-0.9px;margin-left:-294.3px;
}
#P457_105
{
left:0px;letter-spacing:-2.5px;margin-left:0.8px;
}
#P457_106
{
left:0px;letter-spacing:-0.1px;margin-left:2.5px;
}
#P457_107
{
left:6973.08px;bottom:16660.1px;color:rgb(35,31,31);
}
#P457_108
{
left:7150.49px;bottom:16679.8px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P457_109
{
left:8573.27px;bottom:16660.1px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P457_110
{
left:0px;letter-spacing:-1.2px;margin-left:0.4px;
}
#P457_111
{
left:6973.08px;bottom:15188px;color:rgb(35,31,31);
}
#P457_112
{
left:9661.4px;bottom:15333.3px;color:rgb(35,31,31);
}
#P457_113
{
left:10015.8px;bottom:15187.8px;color:rgb(35,31,31);
}
#P457_114
{
left:10685.3px;bottom:15187.8px;color:rgb(35,31,31);
}
#P457_115
{
left:6973.08px;bottom:13843.8px;color:rgb(35,31,31);
}
#P457_116
{
left:9661.4px;bottom:13989.3px;color:rgb(35,31,31);
}
#P457_117
{
left:10015.8px;bottom:13843.8px;color:rgb(35,31,31);
}
#P457_118
{
left:10685.3px;bottom:13843.8px;color:rgb(35,31,31);
}
#P457_119
{
left:6973.08px;bottom:12499.8px;letter-spacing:1441.8px;color:rgb(35,31,31);
}
#P457_120
{
left:0px;letter-spacing:0px;margin-left:-1600.2px;
}
#P457_121
{
left:0px;letter-spacing:-2.3px;margin-left:-4.2px;
}
#P457_122
{
left:0px;letter-spacing:-0.1px;margin-left:2.3px;
}
#P457_123
{
left:0px;letter-spacing:0px;margin-left:-25.3px;
}
#P457_124
{
left:0px;letter-spacing:-0.2px;
}
#P457_125
{
left:8573.27px;bottom:11603.6px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P457_126
{
left:21126.3px;bottom:11603.6px;color:rgb(0,124,196);
}
#P457_127
{
left:0px;letter-spacing:0px;margin-left:-154.9px;
}
#P457_128
{
left:6973.08px;bottom:8403.95px;color:rgb(35,31,31);
}
#P457_129
{
left:7150.49px;bottom:8423.66px;color:rgb(35,31,31);
}
#P457_130
{
left:8573.27px;bottom:8403.95px;color:rgb(35,31,31);
}
#P457_131
{
left:12642px;bottom:8403.76px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P457_132
{
left:0px;letter-spacing:0px;margin-left:-20.6px;
}
#P457_133
{
left:22588.1px;bottom:8403.76px;color:rgb(0,124,196);
}
#P457_134
{
left:0px;letter-spacing:0px;margin-left:-154.9px;
}
#P457_135
{
left:6973.4px;bottom:6931.69px;letter-spacing:6459.9px;color:rgb(35,31,31);
}
#P457_136
{
left:0px;letter-spacing:0px;margin-left:-6459.9px;
}
#P457_137
{
left:6973.4px;bottom:5203.37px;color:rgb(35,31,31);
}
#P457_138
{
left:8448.99px;bottom:5223.08px;color:rgb(35,31,31);
}
#P457_139
{
left:9597.28px;bottom:5203.37px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P457_140
{
left:23118.9px;bottom:5223.08px;color:rgb(35,31,31);
}
#P457_141
{
left:24189.1px;bottom:5203.37px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P457_142
{
left:6973.4px;bottom:3667.24px;color:rgb(35,31,31);
}
#P457_143
{
left:8527.13px;bottom:3686.95px;color:rgb(35,31,31);
}
#P457_144
{
left:9597.28px;bottom:3667.24px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P457_145
{
left:23040.8px;bottom:3686.95px;color:rgb(35,31,31);
}
#P457_146
{
left:24189.1px;bottom:3667.24px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P457_147
{
left:6973.4px;bottom:43987.8px;color:rgb(230,89,94);
}
#PageContainer457
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg457.jpg");background-repeat:no-repeat;background-size: 1066px 982px; background-position: 1px -0.329999999999927px;
}
#ImageContainer457 {bottom:382.33px;right:0.00px;width:1066.24px;height:981.83px;position:absolute;} #TextContainer457 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}