.tr200{ color:transparent;}
#P200_1
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P200_2
{
left:3540.44px;bottom:1410.03px;color:rgb(35,31,31);
}
#P200_3
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P200_4
{
left:9125.52px;bottom:1410.03px;letter-spacing:2.1px;word-spacing:461.8px;color:rgb(35,31,31);
}
#P200_5
{
left:0px;letter-spacing:0px;margin-left:-463.9px;
}
#P200_6
{
left:0px;letter-spacing:0.3px;margin-left:0.3px;
}
#P200_7
{
left:0px;letter-spacing:0px;margin-left:-462.1px;
}
#P200_8
{
left:0px;letter-spacing:1.6px;margin-left:0.3px;
}
#P200_9
{
left:6945.5px;bottom:46119.2px;letter-spacing:-1.6px;color:white;
}
#P200_10
{
left:12734.4px;bottom:46417.6px;color:white;
}
#P200_11
{
left:13108px;bottom:46119.2px;letter-spacing:-1.3px;color:white;
}
#P200_12
{
left:20141.4px;bottom:46417.6px;color:white;
}
#P200_13
{
left:20515px;bottom:46119.2px;color:white;
}
#P200_14
{
left:3427.71px;bottom:46092.1px;color:white;
}
#P200_15
{
left:18900.5px;bottom:41706.2px;color:rgb(35,31,31);
}
#P200_16
{
left:0px;letter-spacing:0px;margin-left:213.2px;
}
#P200_17
{
left:0px;letter-spacing:0px;margin-left:-234.8px;
}
#P200_18
{
left:0px;letter-spacing:0px;margin-left:39.1px;
}
#P200_19
{
left:7789.4px;bottom:40618.2px;color:rgb(35,31,31);
}
#P200_20
{
left:9251.48px;bottom:15196.8px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P200_21
{
left:0px;letter-spacing:0.4px;margin-left:14.1px;
}
#P200_22
{
left:0px;letter-spacing:-14px;margin-left:-42.5px;
}
#P200_23
{
left:0px;letter-spacing:0px;margin-left:3.5px;
}
#P200_24
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P200_25
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P200_26
{
left:9251.48px;bottom:14300.8px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P200_27
{
left:11555.5px;bottom:13020.8px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P200_28
{
left:15021.4px;bottom:13020.8px;color:rgb(35,31,31);
}
#P200_29
{
left:15460.7px;bottom:13020.8px;color:rgb(35,31,31);
}
#P200_30
{
left:17389.6px;bottom:13020.8px;color:rgb(35,31,31);
}
#P200_31
{
left:17863.9px;bottom:13020.8px;color:rgb(35,31,31);
}
#P200_32
{
left:20165.8px;bottom:13020.8px;color:rgb(35,31,31);
}
#P200_33
{
left:20660.4px;bottom:13020.8px;color:rgb(35,31,31);
}
#P200_34
{
left:22962.5px;bottom:13020.8px;color:rgb(35,31,31);
}
#P200_35
{
left:23499.7px;bottom:13020.8px;color:rgb(35,31,31);
}
#P200_36
{
left:11555.3px;bottom:11740.7px;letter-spacing:-57.5px;color:rgb(35,31,31);
}
#P200_37
{
left:0px;letter-spacing:0px;margin-left:63px;
}
#P200_38
{
left:14492.4px;bottom:11740.7px;color:rgb(35,31,31);
}
#P200_39
{
left:14941.2px;bottom:11740.7px;color:rgb(35,31,31);
}
#P200_40
{
left:16870.1px;bottom:11740.7px;color:rgb(35,31,31);
}
#P200_41
{
left:17301.5px;bottom:11740.7px;color:rgb(35,31,31);
}
#P200_42
{
left:19603.4px;bottom:11740.7px;color:rgb(35,31,31);
}
#P200_43
{
left:20131.9px;bottom:11740.7px;color:rgb(35,31,31);
}
#P200_44
{
left:27297px;bottom:2270.83px;color:rgb(35,31,31);
}
#P200_45
{
left:15592.7px;bottom:10985.3px;color:rgb(35,31,31);
}
#P200_46
{
left:16689px;bottom:2270.83px;letter-spacing:512.9px;color:rgb(35,31,31);
}
#P200_47
{
left:15610.5px;bottom:3388.79px;color:rgb(35,31,31);
}
#P200_48
{
left:15610.5px;bottom:4156.78px;color:rgb(35,31,31);
}
#P200_49
{
left:15610.5px;bottom:4924.78px;color:rgb(35,31,31);
}
#P200_50
{
left:18990.2px;bottom:2277.55px;color:rgb(33,31,31);
}
#P200_51
{
left:19756.8px;bottom:2275.2px;color:rgb(33,31,31);
}
#P200_52
{
left:0px;letter-spacing:0px;margin-left:512.6px;
}
#P200_53
{
left:0px;letter-spacing:0px;margin-left:512.3px;
}
#P200_54
{
left:0px;letter-spacing:0px;margin-left:512.3px;
}
#P200_55
{
left:0px;letter-spacing:0px;margin-left:512.3px;
}
#P200_56
{
left:0px;letter-spacing:0px;margin-left:385.1px;
}
#P200_57
{
left:0px;letter-spacing:0px;margin-left:257.9px;
}
#P200_58
{
left:0px;letter-spacing:0px;margin-left:257.9px;
}
#P200_59
{
left:0px;letter-spacing:0px;margin-left:257.9px;
}
#P200_60
{
left:0px;letter-spacing:0px;margin-left:257.9px;
}
#P200_61
{
left:15610.5px;bottom:5692.78px;color:rgb(33,31,31);
}
#P200_62
{
left:15610.5px;bottom:6460.78px;color:rgb(33,31,31);
}
#P200_63
{
left:15610.6px;bottom:7229.23px;color:rgb(33,31,31);
}
#P200_64
{
left:15610.6px;bottom:7997.42px;color:rgb(33,31,31);
}
#P200_65
{
left:15610.6px;bottom:8765.55px;color:rgb(33,31,31);
}
#P200_66
{
left:15610.6px;bottom:9533.68px;color:rgb(33,31,31);
}
#P200_67
{
left:15356.2px;bottom:10301.8px;color:rgb(33,31,31);
}
#P200_68
{
left:15610.6px;bottom:2620.32px;color:rgb(33,31,31);
}
#P200_69
{
left:15893.8px;bottom:2291.04px;color:rgb(33,31,31);
}
#P200_70
{
left:10129.7px;bottom:16757px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P200_71
{
left:13554.8px;bottom:16948.8px;color:rgb(255,223,126);
}
#P200_72
{
left:14176.5px;bottom:16757px;letter-spacing:-3.1px;word-spacing:207.4px;color:white;
}
#P200_73
{
left:16516.8px;bottom:16948.8px;color:white;
}
#P200_74
{
left:16757px;bottom:16757px;letter-spacing:-0.9px;color:white;
}
#P200_75
{
left:8389.27px;bottom:16633.5px;
}
#P200_76
{
left:8389.27px;bottom:16633.5px;color:white;
}
#P200_77
{
left:9251.48px;bottom:36674.7px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P200_78
{
left:0px;letter-spacing:0.4px;margin-left:14.1px;
}
#P200_79
{
left:0px;letter-spacing:-18.7px;margin-left:-42.5px;
}
#P200_80
{
left:0px;letter-spacing:-0.4px;margin-left:18.7px;
}
#P200_81
{
left:0px;letter-spacing:0px;margin-left:-20.6px;
}
#P200_82
{
left:0px;letter-spacing:0.4px;
}
#P200_83
{
left:0px;letter-spacing:-28px;margin-left:-50.9px;
}
#P200_84
{
left:9251.48px;bottom:35778.7px;letter-spacing:-0.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P200_85
{
left:0px;letter-spacing:-2.8px;margin-left:-13.5px;
}
#P200_86
{
left:0px;letter-spacing:-0.8px;margin-left:2.8px;
}
#P200_87
{
left:26145px;bottom:26180.7px;color:rgb(35,31,31);
}
#P200_88
{
left:17512.7px;bottom:34895.1px;color:rgb(35,31,31);
}
#P200_89
{
left:18609px;bottom:26180.7px;letter-spacing:511.7px;color:rgb(35,31,31);
}
#P200_90
{
left:17530.1px;bottom:27302.5px;color:rgb(35,31,31);
}
#P200_91
{
left:17530.1px;bottom:28070px;color:rgb(35,31,31);
}
#P200_92
{
left:17530.1px;bottom:28837.5px;color:rgb(35,31,31);
}
#P200_93
{
left:20907.3px;bottom:26187.4px;color:rgb(33,31,31);
}
#P200_94
{
left:21673.4px;bottom:26185.1px;letter-spacing:512px;color:rgb(33,31,31);
}
#P200_95
{
left:0px;letter-spacing:0px;margin-left:-127.4px;
}
#P200_96
{
left:0px;letter-spacing:0px;
}
#P200_97
{
left:17530.5px;bottom:29605.5px;color:rgb(33,31,31);
}
#P200_98
{
left:17530.5px;bottom:30373px;color:rgb(33,31,31);
}
#P200_99
{
left:17530.6px;bottom:31140.9px;color:rgb(33,31,31);
}
#P200_100
{
left:17530.6px;bottom:31908.6px;color:rgb(33,31,31);
}
#P200_101
{
left:17530.6px;bottom:32676.3px;color:rgb(33,31,31);
}
#P200_102
{
left:17530.6px;bottom:33444px;color:rgb(33,31,31);
}
#P200_103
{
left:17276.2px;bottom:34211.7px;color:rgb(33,31,31);
}
#P200_104
{
left:17530.6px;bottom:26535px;color:rgb(33,31,31);
}
#P200_105
{
left:17813.8px;bottom:26201.5px;color:rgb(33,31,31);
}
#P200_106
{
left:9251.48px;bottom:25026.7px;color:rgb(35,31,31);
}
#P200_107
{
left:9379.48px;bottom:25026.7px;letter-spacing:-14px;word-spacing:516.1px;color:rgb(35,31,31);
}
#P200_108
{
left:10595.5px;bottom:25026.7px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P200_109
{
left:0px;letter-spacing:0px;margin-left:-17px;
}
#P200_110
{
left:0px;letter-spacing:-0.1px;
}
#P200_111
{
left:10595.5px;bottom:24130.7px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P200_112
{
left:9251.48px;bottom:23042.7px;color:rgb(35,31,31);
}
#P200_113
{
left:9379.48px;bottom:23042.7px;letter-spacing:-17.5px;color:rgb(35,31,31);
}
#P200_114
{
left:10595.5px;bottom:23042.7px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P200_115
{
left:0px;letter-spacing:0px;margin-left:14px;
}
#P200_116
{
left:0px;letter-spacing:0px;margin-left:-16.9px;
}
#P200_117
{
left:9251.48px;bottom:21954.6px;color:rgb(35,31,31);
}
#P200_118
{
left:9379.48px;bottom:21954.6px;letter-spacing:-14px;word-spacing:551.3px;color:rgb(35,31,31);
}
#P200_119
{
left:10595.5px;bottom:21954.6px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P200_120
{
left:0px;letter-spacing:0px;margin-left:-66.8px;
}
#P200_121
{
left:0px;letter-spacing:-1.7px;margin-left:156.8px;
}
#P200_122
{
left:0px;letter-spacing:-0.1px;margin-left:1.6px;
}
#P200_123
{
left:10595.5px;bottom:21058.7px;letter-spacing:-0.2px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P200_124
{
left:0px;letter-spacing:-0.1px;margin-left:-25px;
}
#P200_125
{
left:0px;letter-spacing:-1.5px;
}
#P200_126
{
left:0px;letter-spacing:-0.8px;margin-left:159.1px;
}
#P200_127
{
left:9251.48px;bottom:19970.7px;color:rgb(35,31,31);
}
#P200_128
{
left:9379.48px;bottom:19970.7px;letter-spacing:-14px;word-spacing:473.2px;color:rgb(35,31,31);
}
#P200_129
{
left:10595.5px;bottom:19970.7px;letter-spacing:-1.5px;color:rgb(35,31,31);
}
#P200_130
{
left:0px;letter-spacing:0.2px;margin-left:1.5px;
}
#P200_131
{
left:0px;letter-spacing:0px;margin-left:-60px;
}
#P200_132
{
left:0px;letter-spacing:-1.1px;
}
#P200_133
{
left:0px;letter-spacing:0px;margin-left:1.1px;
}
#P200_134
{
left:10595.5px;bottom:19074.7px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P200_135
{
left:0px;letter-spacing:0px;margin-left:-42px;
}
#P200_136
{
left:0px;letter-spacing:-0.4px;
}
#P200_137
{
left:10129.7px;bottom:38234.9px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P200_138
{
left:13554.8px;bottom:38426.7px;color:rgb(255,223,126);
}
#P200_139
{
left:13747.5px;bottom:38234.9px;letter-spacing:207.4px;color:white;
}
#P200_140
{
left:14595.1px;bottom:38426.7px;color:white;
}
#P200_141
{
left:14835.3px;bottom:38234.9px;color:white;
}
#P200_142
{
left:15811.6px;bottom:38426.7px;color:white;
}
#P200_143
{
left:16051.8px;bottom:38234.9px;color:white;
}
#P200_144
{
left:17829.1px;bottom:38426.7px;color:white;
}
#P200_145
{
left:18069.3px;bottom:38234.9px;color:white;
}
#P200_146
{
left:8389.27px;bottom:38111.3px;
}
#P200_147
{
left:8389.27px;bottom:38111.3px;color:white;
}
#P200_148
{
left:4301.34px;bottom:13360.5px;color:rgb(35,31,31);
}
#P200_149
{
left:4674.39px;bottom:13388.9px;letter-spacing:-10.2px;color:rgb(35,31,31);
}
#P200_150
{
left:6691.93px;bottom:13360.5px;color:rgb(35,31,31);
}
#P200_151
{
left:4301.34px;bottom:12656.5px;letter-spacing:-14.1px;color:rgb(35,31,31);
}
#P200_152
{
left:5012.31px;bottom:12684.9px;letter-spacing:-10.4px;color:rgb(35,31,31);
}
#P200_153
{
left:2365.37px;bottom:11756.9px;letter-spacing:8.7px;color:rgb(35,31,31);
}
#P200_154
{
left:2365.37px;bottom:10980.8px;letter-spacing:-3.3px;word-spacing:-0.7px;color:rgb(35,31,31);
}
#P200_155
{
left:0px;letter-spacing:-0.3px;margin-left:2.4px;
}
#P200_156
{
left:0px;letter-spacing:-3.1px;margin-left:-4.5px;
}
#P200_157
{
left:2365.37px;bottom:10487px;color:rgb(35,31,31);
}
#P200_158
{
left:2615.28px;bottom:10268.8px;color:rgb(35,31,31);
}
#P200_159
{
left:2960.24px;bottom:10292.8px;color:rgb(35,31,31);
}
#P200_160
{
left:2960.24px;bottom:10308.8px;letter-spacing:-0.9px;word-spacing:-6.7px;color:rgb(35,31,31);
}
#P200_161
{
left:0px;letter-spacing:-1.2px;margin-left:2.2px;
}
#P200_162
{
left:0px;letter-spacing:1.3px;margin-left:2.5px;
}
#P200_163
{
left:2960.24px;bottom:9668.78px;letter-spacing:-1.1px;word-spacing:-4.9px;color:rgb(35,31,31);
}
#P200_164
{
left:0px;letter-spacing:0px;margin-left:-3.9px;
}
#P200_165
{
left:2365.37px;bottom:9175.02px;color:rgb(35,31,31);
}
#P200_166
{
left:2615.28px;bottom:8956.78px;letter-spacing:186.6px;color:rgb(35,31,31);
}
#P200_167
{
left:2960.24px;bottom:8996.78px;letter-spacing:-135.2px;color:rgb(35,31,31);
}
#P200_168
{
left:0px;letter-spacing:-2.6px;margin-left:141.4px;
}
#P200_169
{
left:0px;letter-spacing:-0.5px;margin-left:2.8px;
}
#P200_170
{
left:0px;letter-spacing:-1.7px;margin-left:-1.9px;
}
#P200_171
{
left:2960.24px;bottom:8356.78px;letter-spacing:-1.1px;word-spacing:-4.9px;color:rgb(35,31,31);
}
#P200_172
{
left:0px;letter-spacing:0px;margin-left:-3.9px;
}
#P200_173
{
left:2365.37px;bottom:7863.02px;color:rgb(35,31,31);
}
#P200_174
{
left:2615.28px;bottom:7644.78px;color:rgb(35,31,31);
}
#P200_175
{
left:2960.24px;bottom:7684.78px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P200_176
{
left:0px;letter-spacing:-2.7px;margin-left:5.3px;
}
#P200_177
{
left:0px;letter-spacing:0.6px;margin-left:3.2px;
}
#P200_178
{
left:2365.38px;bottom:6916.78px;letter-spacing:4px;word-spacing:-5.4px;color:rgb(35,31,31);
}
#P200_179
{
left:0px;letter-spacing:5.4px;margin-left:8.7px;
}
#P200_180
{
left:2365.38px;bottom:6276.72px;letter-spacing:6.1px;color:rgb(35,31,31);
}
#PageContainer200
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg200.jpg");background-repeat:no-repeat;background-size: 1066px 1289px; background-position: 1px -0.529999999999973px;
}
#ImageContainer200 {bottom:75.53px;right:0.00px;width:1066.24px;height:1288.63px;position:absolute;} #TextContainer200 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

.rpj{position: absolute;top: 185px;left: 157px;}
.srpj{position: absolute;top: 183px;left: 104px;}
.math_paper{position: absolute;top: 870px;left: 166px;}
.math_tool{position: absolute;top: 865px;left: 106px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}