.tr476{ color:transparent;}
#P476_1
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P476_2
{
left:3540.44px;bottom:1410.03px;color:rgb(35,31,31);
}
#P476_3
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P476_4
{
left:8197.72px;bottom:1410.03px;letter-spacing:462.1px;color:rgb(35,31,31);
}
#P476_5
{
left:0px;letter-spacing:1.5px;margin-left:-465px;
}
#P476_6
{
left:0px;letter-spacing:0px;margin-left:6.1px;
}
#P476_7
{
left:6977.56px;bottom:46189.1px;color:white;
}
#P476_8
{
left:14098.1px;bottom:46487.5px;color:white;
}
#P476_9
{
left:14471.7px;bottom:46189.1px;color:white;
}
#P476_10
{
left:16089.9px;bottom:46487.5px;color:white;
}
#P476_11
{
left:16463.5px;bottom:46189.1px;color:white;
}
#P476_12
{
left:18505px;bottom:46487.5px;color:white;
}
#P476_13
{
left:18878.7px;bottom:46189.1px;color:white;
}
#P476_14
{
left:3459.78px;bottom:46161.9px;color:white;
}
#P476_15
{
left:18900.5px;bottom:41374.6px;letter-spacing:213.2px;color:rgb(35,31,31);
}
#P476_16
{
left:0px;letter-spacing:0px;margin-left:-213.2px;
}
#P476_17
{
left:7789.4px;bottom:40286.5px;color:rgb(35,31,31);
}
#P476_18
{
left: 13091.48px;bottom:36312.2px;letter-spacing:3692.1px;color:rgb(35,31,31);
}
#P476_19
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P476_20
{
left:0px;letter-spacing:0px;margin-left:-42px;
}
#P476_21
{
left:0px;letter-spacing:0.4px;margin-left:-6.9px;
}
#P476_22
{
left:0px;letter-spacing:-18.7px;margin-left:-42.5px;
}
#P476_23
{
left:0px;letter-spacing:-0.9px;margin-left:18.7px;
}
#P476_24
{
left:0px;letter-spacing:0px;margin-left:0.9px;
}
#P476_25
{
left:13091.4px;bottom:35416.2px;color:rgb(35,31,31);
}
#P476_26
{
left:9251.48px;bottom:34328.2px;color:rgb(35,31,31);
}
#P476_27
{
left:13115.4px;bottom:34328.2px;word-spacing:556.2px;color:rgb(35,31,31);
}
#P476_28
{
left:14371.5px;bottom:34328.2px;letter-spacing:-1.1px;color:rgb(35,31,31);
}
#P476_29
{
left:0px;letter-spacing:-4.7px;margin-left:1.1px;
}
#P476_30
{
left:0px;letter-spacing:0px;margin-left:4.7px;
}
#P476_31
{
left:14371.5px;bottom:33432.2px;letter-spacing:-3.5px;color:rgb(35,31,31);
}
#P476_32
{
left:0px;letter-spacing:-0.3px;margin-left:3.5px;
}
#P476_33
{
left:9251.48px;bottom:32152.2px;color:rgb(35,31,31);
}
#P476_34
{
left:13079.4px;bottom:32152.2px;letter-spacing:-13.9px;word-spacing:563.1px;color:rgb(35,31,31);
}
#P476_35
{
left:14371.6px;bottom:32152.2px;letter-spacing:-4.2px;color:rgb(35,31,31);
}
#P476_36
{
left:0px;letter-spacing:-2.1px;margin-left:4.2px;
}
#P476_37
{
left:0px;letter-spacing:0px;margin-left:-18.9px;
}
#P476_38
{
left:14371.6px;bottom:31256.2px;color:rgb(35,31,31);
}
#P476_39
{
left:14371.6px;bottom:30360.2px;letter-spacing:0.4px;color:rgb(35,31,31);
}
#P476_40
{
left:0px;letter-spacing:0px;margin-left:-42.5px;
}
#P476_41
{
left:0px;letter-spacing:-0.8px;
}
#P476_42
{
left:14371.6px;bottom:29464.2px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P476_43
{
left:14371.6px;bottom:28568.2px;color:rgb(35,31,31);
}
#P476_44
{
left:14371.6px;bottom:27672.2px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P476_45
{
left:10129.7px;bottom:37872.4px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P476_46
{
left:13554.8px;bottom:38064.2px;color:rgb(255,223,126);
}
#P476_47
{
left:14179.5px;bottom:37872.4px;word-spacing:207.4px;color:white;
}
#P476_48
{
left:16307.5px;bottom:38064.2px;color:white;
}
#P476_49
{
left:16547.7px;bottom:37872.4px;color:white;
}
#P476_50
{
left:17043.7px;bottom:38064.2px;color:white;
}
#P476_51
{
left:17283.9px;bottom:37872.4px;color:white;
}
#P476_52
{
left:24888px;bottom:38064.2px;color:white;
}
#P476_53
{
left:25128.2px;bottom:37872.4px;color:white;
}
#P476_54
{
left:26168.4px;bottom:38064.2px;color:white;
}
#P476_55
{
left:26408.6px;bottom:37872.4px;color:white;
}
#P476_56
{
left:27721px;bottom:38064.2px;color:white;
}
#P476_57
{
left:27961.2px;bottom:37872.4px;color:white;
}
#P476_58
{
left:8389.27px;bottom:37748.9px;
}
#P476_59
{
left:8389.27px;bottom:37748.9px;color:white;
}
#P476_60
{
left:9251.48px;bottom:17139.7px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P476_61
{
left:0px;letter-spacing:0.4px;margin-left:14.1px;
}
#P476_62
{
left:0px;letter-spacing:-18.7px;margin-left:-42.5px;
}
#P476_63
{
left:0px;letter-spacing:-0.6px;margin-left:18.7px;
}
#P476_64
{
left:0px;letter-spacing:0px;margin-left:0.6px;
}
#P476_65
{
left:9251.48px;bottom:16243.7px;color:rgb(35,31,31);
}
#P476_66
{
left:0px;letter-spacing:0px;margin-left:-224.9px;
}
#P476_67
{
left:0px;letter-spacing:0px;margin-left:77.1px;
}
#P476_68
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P476_69
{
left:9251.48px;bottom:15347.8px;letter-spacing:-1.8px;color:rgb(35,31,31);
}
#P476_70
{
left:0px;letter-spacing:0px;margin-left:1.8px;
}
#P476_71
{
left:9251.48px;bottom:14195.7px;color:rgb(35,31,31);
}
#P476_72
{
left:9379.48px;bottom:14195.7px;letter-spacing:-14px;word-spacing:516.1px;color:rgb(35,31,31);
}
#P476_73
{
left:10595.5px;bottom:14195.7px;letter-spacing:-1.6px;color:rgb(35,31,31);
}
#P476_74
{
left:0px;letter-spacing:-1.4px;margin-left:1.6px;
}
#P476_75
{
left:0px;letter-spacing:0px;margin-left:-12.6px;
}
#P476_76
{
left:0px;letter-spacing:0px;margin-left:-214.8px;
}
#P476_77
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P476_78
{
left:0px;letter-spacing:0px;
}
#P476_79
{
left:10595.5px;bottom:13299.7px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P476_80
{
left:0px;letter-spacing:-0.5px;margin-left:1px;
}
#P476_81
{
left:10595.5px;bottom:12403.8px;color:rgb(35,31,31);
}
#P476_82
{
left:9251.48px;bottom:11315.8px;color:rgb(35,31,31);
}
#P476_83
{
left:9379.48px;bottom:11315.8px;letter-spacing:-13.9px;word-spacing:486.9px;color:rgb(35,31,31);
}
#P476_84
{
left:10595.5px;bottom:11315.8px;letter-spacing:-2.1px;color:rgb(35,31,31);
}
#P476_85
{
left:0px;letter-spacing:0px;margin-left:-18.8px;
}
#P476_86
{
left:0px;letter-spacing:-4.7px;margin-left:-14px;
}
#P476_87
{
left:0px;letter-spacing:0.1px;margin-left:4.7px;
}
#P476_88
{
left:10595.5px;bottom:10419.9px;letter-spacing:0.2px;color:rgb(35,31,31);
}
#P476_89
{
left:0px;letter-spacing:0px;margin-left:-42.3px;
}
#P476_90
{
left:0px;letter-spacing:-0.8px;
}
#P476_91
{
left:10595.5px;bottom:9523.95px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P476_92
{
left:10595.5px;bottom:8628.08px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P476_93
{
left:0px;letter-spacing:0px;margin-left:0.6px;
}
#P476_94
{
left:9251.48px;bottom:7540.01px;color:rgb(35,31,31);
}
#P476_95
{
left:9379.48px;bottom:7540.01px;letter-spacing:-14px;word-spacing:551.3px;color:rgb(35,31,31);
}
#P476_96
{
left:10595.5px;bottom:7540.01px;letter-spacing:-0.9px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P476_97
{
left:0px;letter-spacing:0px;margin-left:-6px;
}
#P476_98
{
left:10595.5px;bottom:6644.01px;color:rgb(35,31,31);
}
#P476_99
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P476_100
{
left:0px;letter-spacing:0px;margin-left:-4.2px;
}
#P476_101
{
left:9251.48px;bottom:5556.01px;color:rgb(35,31,31);
}
#P476_102
{
left:9379.48px;bottom:5556.01px;letter-spacing:-14px;word-spacing:473.2px;color:rgb(35,31,31);
}
#P476_103
{
left:10595.5px;bottom:5556.01px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P476_104
{
left:0px;letter-spacing:0.4px;margin-left:-3.9px;
}
#P476_105
{
left:10595.5px;bottom:4660.08px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P476_106
{
left:0px;letter-spacing:0px;margin-left:-41.5px;
}
#P476_107
{
left:0px;letter-spacing:-0.5px;
}
#P476_108
{
left:0px;letter-spacing:0px;margin-left:-13.3px;
}
#P476_109
{
left:10595.5px;bottom:3764.18px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P476_110
{
left:10129.7px;bottom:18699.9px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P476_111
{
left:13554.8px;bottom:18891.7px;color:rgb(255,223,126);
}
#P476_112
{
left:14179.5px;bottom:18699.9px;word-spacing:207.4px;color:white;
}
#P476_113
{
left:16307.5px;bottom:18891.7px;color:white;
}
#P476_114
{
left:16547.7px;bottom:18699.9px;color:white;
}
#P476_115
{
left:17043.7px;bottom:18891.7px;color:white;
}
#P476_116
{
left:17283.9px;bottom:18699.9px;color:white;
}
#P476_117
{
left:24888px;bottom:18891.7px;color:white;
}
#P476_118
{
left:25128.2px;bottom:18699.9px;color:white;
}
#P476_119
{
left:26168.4px;bottom:18891.7px;color:white;
}
#P476_120
{
left:26408.6px;bottom:18699.9px;color:white;
}
#P476_121
{
left:27721px;bottom:18891.7px;color:white;
}
#P476_122
{
left:27961.2px;bottom:18699.9px;color:white;
}
#P476_123
{
left:8389.27px;bottom:18576.4px;
}
#P476_124
{
left:8389.27px;bottom:18576.4px;color:white;
}
#P476_125
{
left:4365.34px;bottom:13872.5px;color:rgb(35,31,31);
}
#P476_126
{
left:4738.39px;bottom:13900.9px;letter-spacing:-10.2px;color:rgb(35,31,31);
}
#P476_127
{
left:6755.93px;bottom:13872.5px;color:rgb(35,31,31);
}
#P476_128
{
left:4365.34px;bottom:13168.5px;letter-spacing:-14.1px;color:rgb(35,31,31);
}
#P476_129
{
left:5076.31px;bottom:13196.9px;letter-spacing:-10.4px;color:rgb(35,31,31);
}
#P476_130
{
left:2429.37px;bottom:12300px;letter-spacing:1.8px;word-spacing:-6.7px;color:rgb(35,31,31);
}
#P476_131
{
left:2429.37px;bottom:11516.8px;letter-spacing:-3.3px;word-spacing:-0.7px;color:rgb(35,31,31);
}
#P476_132
{
left:0px;letter-spacing:-0.3px;margin-left:2.4px;
}
#P476_133
{
left:0px;letter-spacing:-3.1px;margin-left:-4.5px;
}
#P476_134
{
left:2429.37px;bottom:10895px;color:rgb(35,31,31);
}
#P476_135
{
left:2679.28px;bottom:10676.8px;color:rgb(35,31,31);
}
#P476_136
{
left:3023.49px;bottom:10716.8px;letter-spacing:0.6px;word-spacing:-131.9px;color:rgb(35,31,31);
}
#P476_137
{
left:0px;letter-spacing:0px;margin-left:125.9px;
}
#P476_138
{
left:0px;letter-spacing:0.4px;margin-left:-2.9px;
}
#P476_139
{
left:3024.24px;bottom:10076.8px;letter-spacing:-0.5px;word-spacing:-5px;color:rgb(35,31,31);
}
#P476_140
{
left:2429.38px;bottom:9308.72px;letter-spacing:-1.5px;word-spacing:-5.3px;color:rgb(35,31,31);
}
#P476_141
{
left:0px;letter-spacing:-0.1px;margin-left:8.7px;
}
#P476_142
{
left:2429.38px;bottom:8668.65px;letter-spacing:2.7px;color:rgb(35,31,31);
}
#P476_143
{
left:0px;letter-spacing:0px;margin-left:-54.4px;
}
#P476_144
{
left:0px;letter-spacing:0px;margin-left:10.6px;
}
#P476_145
{
left:2429.38px;bottom:8028.65px;letter-spacing:2.5px;color:rgb(35,31,31);
}
#P476_146
{
left:0px;letter-spacing:0px;margin-left:-54.2px;
}
#P476_147
{
left:0px;letter-spacing:0px;margin-left:3.3px;
}
#P476_148
{
left:9251.48px;bottom:36312.2px;color:rgb(33,31,31);
}
#PageContainer476
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg476.jpg");background-repeat:no-repeat;background-size: 1066px 1277px; background-position: 1px 0.0699999999999363px;
}
#ImageContainer476 {bottom:86.93px;right:0.00px;width:1066.24px;height:1277.23px;position:absolute;} #TextContainer476 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.rpj{ position: absolute; top: 200px; left: 160px;
}
.srpj{ position: absolute; top: 200px; left: 118px;
}
.math_paper1{ position: absolute; top: 307px; left: 165px;
}
.math_paper2{ position: absolute; top: 307px; left: 122px;
} 

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}