.tr284{ color:transparent;}
#P284_1
{
left:5889.56px;bottom:46957.1px;letter-spacing:-6px;color:white;
}
#P284_2
{
left:9101.98px;bottom:47255.5px;color:white;
}
#P284_3
{
left:9475.61px;bottom:46957.1px;color:white;
}
#P284_4
{
left:2371.78px;bottom:46929.9px;color:white;
}
#P284_5
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P284_6
{
left:3540.44px;bottom:1410.03px;color:rgb(35,31,31);
}
#P284_7
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P284_8
{
left:9121.88px;bottom:1410.03px;letter-spacing:462px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P284_9
{
left:0px;letter-spacing:4.3px;margin-left:-462.1px;
}
#P284_10
{
left:0px;letter-spacing:0.8px;margin-left:-4.4px;
}
#P284_11
{
left:0px;letter-spacing:0px;margin-left:2.9px;
}
#P284_12
{
left:4055.2px;bottom:27597.3px;color:rgb(33,31,31);
}
#P284_13
{
left:4141.59px;bottom:27628.7px;color:rgb(33,31,31);
}
#P284_14
{
left:4571.68px;bottom:27784.8px;color:rgb(33,31,31);
}
#P284_15
{
left:4133.62px;bottom:27418.1px;color:rgb(33,31,31);
}
#P284_16
{
left:4220px;bottom:27449.5px;letter-spacing:-0.2px;color:rgb(33,31,31);
}
#P284_17
{
left:4503.01px;bottom:27552.2px;letter-spacing:0.8px;color:rgb(33,31,31);
}
#P284_18
{
left:4228.83px;bottom:27238.9px;color:rgb(33,31,31);
}
#P284_19
{
left:4315.23px;bottom:27270.3px;letter-spacing:-0.2px;color:rgb(33,31,31);
}
#P284_20
{
left:4598.24px;bottom:27373px;letter-spacing:0.8px;color:rgb(33,31,31);
}
#P284_21
{
left:4394.01px;bottom:26989.7px;color:rgb(33,31,31);
}
#P284_22
{
left:4480.42px;bottom:27021.1px;letter-spacing:-0.2px;color:rgb(33,31,31);
}
#P284_23
{
left:4763.42px;bottom:27123.8px;letter-spacing:0.8px;color:rgb(33,31,31);
}
#P284_24
{
left:4690.71px;bottom:42321.3px;color:rgb(35,31,31);
}
#P284_25
{
left:5259.29px;bottom:42341px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P284_26
{
left:6354.71px;bottom:42341px;color:rgb(2,77,161);
}
#P284_27
{
left:9079.83px;bottom:42321.3px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P284_28
{
left:0px;letter-spacing:-2.3px;margin-left:-197.8px;
}
#P284_29
{
left:0px;letter-spacing:0px;margin-left:2.3px;
}
#P284_30
{
left:6354.71px;bottom:41425.3px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P284_31
{
left:0px;letter-spacing:0px;margin-left:-13.4px;
}
#P284_32
{
left:4690.71px;bottom:40081.3px;color:rgb(35,31,31);
}
#P284_33
{
left:5259.29px;bottom:40101px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P284_34
{
left:6354.71px;bottom:40101px;color:rgb(2,77,161);
}
#P284_35
{
left:10071.1px;bottom:40081.3px;letter-spacing:168.3px;color:rgb(35,31,31);
}
#P284_36
{
left:0px;letter-spacing:0px;margin-left:-168.3px;
}
#P284_37
{
left:17591.1px;bottom:40081.3px;word-spacing:56.3px;color:rgb(35,31,31);
}
#P284_38
{
left:6354.71px;bottom:39185.3px;letter-spacing:-5px;color:rgb(35,31,31);
}
#P284_39
{
left:0px;letter-spacing:0px;margin-left:5px;
}
#P284_40
{
left:4690.71px;bottom:37841.3px;color:rgb(35,31,31);
}
#P284_41
{
left:6442.65px;bottom:37841.3px;letter-spacing:-14px;word-spacing:492.2px;color:rgb(35,31,31);
}
#P284_42
{
left:7634.71px;bottom:37841.3px;letter-spacing:-9.3px;color:rgb(35,31,31);
}
#P284_43
{
left:0px;letter-spacing:-1.7px;margin-left:9.3px;
}
#P284_44
{
left:0px;letter-spacing:-0.7px;margin-left:-12.2px;
}
#P284_45
{
left:0px;letter-spacing:-52.8px;margin-left:-20.3px;
}
#P284_46
{
left:0px;letter-spacing:-0.9px;margin-left:52.8px;
}
#P284_47
{
left:7634.71px;bottom:36945.3px;color:rgb(35,31,31);
}
#P284_48
{
left:0px;letter-spacing:0px;margin-left:-6.8px;
}
#P284_49
{
left:0px;letter-spacing:0px;margin-left:-214.9px;
}
#P284_50
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P284_51
{
left:7634.71px;bottom:36049.4px;letter-spacing:0.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P284_52
{
left:7634.71px;bottom:35153.5px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P284_53
{
left:4690.78px;bottom:34065.5px;color:rgb(35,31,31);
}
#P284_54
{
left:6406.68px;bottom:34065.5px;letter-spacing:-13.9px;word-spacing:499.1px;color:rgb(35,31,31);
}
#P284_55
{
left:7634.78px;bottom:34065.5px;letter-spacing:-2.5px;color:rgb(35,31,31);
}
#P284_56
{
left:0px;letter-spacing:0px;margin-left:2.5px;
}
#P284_57
{
left:7634.78px;bottom:33169.5px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P284_58
{
left:0px;letter-spacing:0px;margin-left:0.7px;
}
#P284_59
{
left:7634.78px;bottom:32273.6px;letter-spacing:-1.1px;color:rgb(35,31,31);
}
#P284_60
{
left:0px;letter-spacing:0px;margin-left:1.1px;
}
#P284_61
{
left:4690.84px;bottom:30929.6px;color:rgb(35,31,31);
}
#P284_62
{
left:5259.35px;bottom:30949.4px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P284_63
{
left:6354.71px;bottom:30949px;color:rgb(2,77,161);
}
#P284_64
{
left:11193.9px;bottom:30929.3px;color:rgb(35,31,31);
}
#P284_65
{
left:11545.9px;bottom:30929.3px;color:rgb(35,31,31);
}
#P284_66
{
left:11940.9px;bottom:30929.3px;color:rgb(35,31,31);
}
#P284_67
{
left:13482.6px;bottom:30929.3px;color:rgb(35,31,31);
}
#P284_68
{
left:14034.5px;bottom:30929.3px;letter-spacing:-0.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P284_69
{
left:0px;letter-spacing:-0.1px;margin-left:-13.8px;
}
#P284_70
{
left:0px;letter-spacing:-0.1px;margin-left:-13.8px;
}
#P284_71
{
left:24482.8px;bottom:30265px;letter-spacing:4291px;color:rgb(35,31,31);
}
#P284_72
{
left:6354.71px;bottom:30033.3px;letter-spacing:-3.2px;color:rgb(35,31,31);
}
#P284_73
{
left:9460.19px;bottom:30033.3px;color:rgb(35,31,31);
}
#P284_74
{
left:9855.13px;bottom:30033.3px;color:rgb(35,31,31);
}
#P284_75
{
left:11396.9px;bottom:30033.3px;color:rgb(35,31,31);
}
#P284_76
{
left:11790.4px;bottom:30033.3px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P284_77
{
left:0px;letter-spacing:0px;margin-left:1.4px;
}
#P284_78
{
left:4638.55px;bottom:25157.5px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P284_79
{
left:0px;letter-spacing:0px;margin-left:0.9px;
}
#P284_80
{
left:4638.55px;bottom:23749.5px;color:rgb(35,31,31);
}
#P284_81
{
left:5207.13px;bottom:23769.2px;color:rgb(35,31,31);
}
#P284_82
{
left:6238.55px;bottom:23749.5px;color:rgb(35,31,31);
}
#P284_83
{
left:0px;letter-spacing:0px;margin-left:1266.4px;
}
#P284_84
{
left:12503.1px;bottom:23769.2px;color:rgb(35,31,31);
}
#P284_85
{
left:13534.6px;bottom:23719.9px;color:rgb(35,31,31);
}
#P284_86
{
left:13966.1px;bottom:23749.5px;color:rgb(35,31,31);
}
#P284_87
{
left:0px;letter-spacing:0px;margin-left:1266.4px;
}
#P284_88
{
left:19927.1px;bottom:23769.2px;color:rgb(35,31,31);
}
#P284_89
{
left:20958.6px;bottom:23749.5px;color:rgb(35,31,31);
}
#P284_90
{
left:0px;letter-spacing:0px;margin-left:1266.3px;
}
#P284_91
{
left:22914.8px;bottom:23719.9px;color:rgb(35,31,31);
}
#P284_92
{
left:23346.4px;bottom:23749.5px;color:rgb(35,31,31);
}
#P284_93
{
left:27287.1px;bottom:23769.2px;color:rgb(35,31,31);
}
#P284_94
{
left:28318.6px;bottom:23749.5px;color:rgb(35,31,31);
}
#P284_95
{
left:0px;letter-spacing:0px;margin-left:1266.4px;
}
#P284_96
{
left:30274.8px;bottom:23719.9px;color:rgb(35,31,31);
}
#P284_97
{
left:30706.4px;bottom:23749.5px;color:rgb(35,31,31);
}
#P284_98
{
left:4638.55px;bottom:22021.5px;color:rgb(35,31,31);
}
#P284_99
{
left:5207px;bottom:22041.2px;color:rgb(35,31,31);
}
#P284_100
{
left:6238.55px;bottom:21991.9px;color:rgb(35,31,31);
}
#P284_101
{
left:6670.11px;bottom:22021.5px;color:rgb(35,31,31);
}
#P284_102
{
left:0px;letter-spacing:0px;margin-left:1266.4px;
}
#P284_103
{
left:12503.1px;bottom:22041.2px;color:rgb(35,31,31);
}
#P284_104
{
left:13534.6px;bottom:21991.9px;color:rgb(35,31,31);
}
#P284_105
{
left:13966.1px;bottom:22021.5px;color:rgb(35,31,31);
}
#P284_106
{
left:0px;letter-spacing:0px;margin-left:1266.4px;
}
#P284_107
{
left:16080.8px;bottom:21991.9px;color:rgb(35,31,31);
}
#P284_108
{
left:16512.3px;bottom:22021.5px;color:rgb(35,31,31);
}
#P284_109
{
left:19535.7px;bottom:22041.2px;color:rgb(35,31,31);
}
#P284_110
{
left:20958.6px;bottom:21991.9px;color:rgb(35,31,31);
}
#P284_111
{
left:21390.1px;bottom:22021.5px;color:rgb(35,31,31);
}
#P284_112
{
left:0px;letter-spacing:0px;margin-left:1266.4px;
}
#P284_113
{
left:23504.8px;bottom:21991.9px;color:rgb(35,31,31);
}
#P284_114
{
left:23936.3px;bottom:22021.5px;color:rgb(35,31,31);
}
#P284_115
{
left:26895.7px;bottom:22041.2px;color:rgb(35,31,31);
}
#P284_116
{
left:28318.6px;bottom:21991.9px;color:rgb(35,31,31);
}
#P284_117
{
left:28750.1px;bottom:22021.5px;color:rgb(35,31,31);
}
#P284_118
{
left:0px;letter-spacing:0px;margin-left:1266.4px;
}
#P284_119
{
left:30864.8px;bottom:21991.9px;color:rgb(35,31,31);
}
#P284_120
{
left:31296.3px;bottom:22021.5px;color:rgb(35,31,31);
}
#P284_121
{
left:4638.55px;bottom:20441.2px;word-spacing:-26px;color:rgb(2,77,161);
}
#P284_122
{
left:0px;letter-spacing:0px;margin-left:-52.8px;
}
#P284_123
{
left:0px;letter-spacing:0px;margin-left:-12.5px;
}
#P284_124
{
left:10284.1px;bottom:20421.5px;letter-spacing:204.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P284_125
{
left:0px;letter-spacing:-0.5px;margin-left:-204.2px;
}
#P284_126
{
left:0px;letter-spacing:-0.2px;margin-left:0.5px;
}
#P284_127
{
left:4638.55px;bottom:19269.5px;color:rgb(35,31,31);
}
#P284_128
{
left:4815.58px;bottom:19289.2px;color:rgb(35,31,31);
}
#P284_129
{
left:6238.55px;bottom:18702.7px;color:rgb(35,31,31);
}
#P284_130
{
left:8670.55px;bottom:18660.5px;letter-spacing:-3px;color:rgb(35,31,31);
}
#P284_131
{
left:11414.2px;bottom:18673.1px;color:rgb(35,31,31);
}
#P284_132
{
left:12000.7px;bottom:18660.5px;color:rgb(35,31,31);
}
#P284_133
{
left:13870.4px;bottom:18673.1px;color:rgb(35,31,31);
}
#P284_134
{
left:14456.8px;bottom:18660.5px;color:rgb(35,31,31);
}
#P284_135
{
left:8734.59px;bottom:17636.5px;word-spacing:2320px;color:rgb(35,31,31);
}
#P284_136
{
left:9235.87px;bottom:17700.4px;color:rgb(35,31,31);
}
#P284_137
{
left:9713.75px;bottom:17636.5px;word-spacing:-88px;color:rgb(35,31,31);
}
#P284_138
{
left:0px;letter-spacing:0px;margin-left:88px;
}
#P284_139
{
left:0px;letter-spacing:0px;margin-left:-6.8px;
}
#P284_140
{
left:0px;letter-spacing:0px;margin-left:-35.1px;
}
#P284_141
{
left:11371.4px;bottom:17649.1px;color:rgb(35,31,31);
}
#P284_142
{
left:11957.8px;bottom:17636.5px;color:rgb(35,31,31);
}
#P284_143
{
left:12459px;bottom:17700.4px;color:rgb(35,31,31);
}
#P284_144
{
left:12849px;bottom:17636.5px;color:rgb(35,31,31);
}
#P284_145
{
left:12937px;bottom:17649.1px;color:rgb(35,31,31);
}
#P284_146
{
left:13523.4px;bottom:17636.5px;color:rgb(35,31,31);
}
#P284_147
{
left:0px;bottom:0px;letter-spacing:0px;color:rgb(235,26,35);
}
#P284_148
{
left:18526.6px;bottom:19269.5px;color:rgb(35,31,31);
}
#P284_149
{
left:19599.7px;bottom:19289.2px;color:rgb(35,31,31);
}
#P284_150
{
left:21034.3px;bottom:18739px;color:rgb(35,31,31);
}
#P284_151
{
left:23466.3px;bottom:18696.7px;letter-spacing:-3px;color:rgb(35,31,31);
}
#P284_152
{
left:26209.9px;bottom:18709.4px;color:rgb(35,31,31);
}
#P284_153
{
left:26796.4px;bottom:18696.7px;color:rgb(35,31,31);
}
#P284_154
{
left:28590.9px;bottom:18709.4px;color:rgb(35,31,31);
}
#P284_155
{
left:29177.3px;bottom:18696.7px;color:rgb(35,31,31);
}
#P284_156
{
left:23466.3px;bottom:17800.7px;word-spacing:2256px;color:rgb(35,31,31);
}
#P284_157
{
left:26123.2px;bottom:17813.4px;color:rgb(35,31,31);
}
#P284_158
{
left:26709.6px;bottom:17800.7px;color:rgb(35,31,31);
}
#P284_159
{
left:27135.5px;bottom:17864.7px;color:rgb(35,31,31);
}
#P284_160
{
left:27525.5px;bottom:17800.7px;color:rgb(35,31,31);
}
#P284_161
{
left:27613.5px;bottom:17813.4px;color:rgb(35,31,31);
}
#P284_162
{
left:28199.9px;bottom:17800.7px;color:rgb(35,31,31);
}
#P284_163
{
left:28949.7px;bottom:17813.4px;color:rgb(35,31,31);
}
#P284_164
{
left:29536.1px;bottom:17800.7px;color:rgb(35,31,31);
}
#P284_165
{
left:23466.3px;bottom:16904.9px;color:rgb(35,31,31);
}
#P284_166
{
left:25854.9px;bottom:16917.5px;color:rgb(35,31,31);
}
#P284_167
{
left:26441.3px;bottom:16904.9px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P284_168
{
left:0px;bottom:0px;letter-spacing:0px;color:rgb(235,26,35);
}
#P284_169
{
left:4638.55px;bottom:15301.5px;letter-spacing:-2.1px;color:rgb(35,31,31);
}
#P284_170
{
left:0px;letter-spacing:-0.8px;margin-left:2.1px;
}
#P284_171
{
left:0px;letter-spacing:2.1px;margin-left:0.8px;
}
#P284_172
{
left:4638.55px;bottom:14149.5px;color:rgb(35,31,31);
}
#P284_173
{
left:4815.58px;bottom:14169.2px;color:rgb(35,31,31);
}
#P284_174
{
left:6238.49px;bottom:14149.5px;color:rgb(35,31,31);
}
#P284_175
{
left:6956.57px;bottom:14119.9px;color:rgb(35,31,31);
}
#P284_176
{
left:7388.12px;bottom:14149.5px;color:rgb(35,31,31);
}
#P284_177
{
left:9700.63px;bottom:14119.9px;color:rgb(35,31,31);
}
#P284_178
{
left:10132.2px;bottom:14149.5px;color:rgb(35,31,31);
}
#P284_179
{
left:15119.7px;bottom:14169.2px;color:rgb(35,31,31);
}
#P284_180
{
left:16542.6px;bottom:14119.9px;color:rgb(35,31,31);
}
#P284_181
{
left:16974.1px;bottom:14149.5px;color:rgb(35,31,31);
}
#P284_182
{
left:17850.5px;bottom:14119.9px;color:rgb(35,31,31);
}
#P284_183
{
left:18282.1px;bottom:14149.5px;color:rgb(35,31,31);
}
#P284_184
{
left:19158.6px;bottom:14119.9px;color:rgb(35,31,31);
}
#P284_185
{
left:19590.1px;bottom:14149.5px;color:rgb(35,31,31);
}
#P284_186
{
left:25423.7px;bottom:14169.2px;color:rgb(35,31,31);
}
#P284_187
{
left:26718.6px;bottom:14119.9px;color:rgb(35,31,31);
}
#P284_188
{
left:27150.2px;bottom:14149.5px;color:rgb(35,31,31);
}
#P284_189
{
left:28744.7px;bottom:14119.9px;color:rgb(35,31,31);
}
#P284_190
{
left:29176.2px;bottom:14149.5px;color:rgb(35,31,31);
}
#P284_191
{
left:30052.7px;bottom:14119.9px;color:rgb(35,31,31);
}
#P284_192
{
left:30484.2px;bottom:14149.5px;color:rgb(35,31,31);
}
#P284_193
{
left:4638.62px;bottom:12805.4px;color:rgb(35,31,31);
}
#P284_194
{
left:4815.71px;bottom:12825.1px;color:rgb(35,31,31);
}
#P284_195
{
left:6238.55px;bottom:12775.8px;color:rgb(35,31,31);
}
#P284_196
{
left:6670.11px;bottom:12805.4px;color:rgb(35,31,31);
}
#P284_197
{
left:8982.68px;bottom:12775.8px;color:rgb(35,31,31);
}
#P284_198
{
left:9414.23px;bottom:12805.4px;color:rgb(35,31,31);
}
#P284_199
{
left:15119.8px;bottom:12825.1px;color:rgb(35,31,31);
}
#P284_200
{
left:16542.6px;bottom:12805.4px;color:rgb(35,31,31);
}
#P284_201
{
left:17633.8px;bottom:12775.8px;color:rgb(35,31,31);
}
#P284_202
{
left:18065.4px;bottom:12805.4px;color:rgb(35,31,31);
}
#P284_203
{
left:20406.1px;bottom:12775.8px;color:rgb(35,31,31);
}
#P284_204
{
left:20837.7px;bottom:12805.4px;color:rgb(35,31,31);
}
#P284_205
{
left:22087.3px;bottom:12775.8px;color:rgb(35,31,31);
}
#P284_206
{
left:22518.8px;bottom:12805.4px;color:rgb(35,31,31);
}
#P284_207
{
left:25423.8px;bottom:12825.1px;color:rgb(35,31,31);
}
#P284_208
{
left:26718.7px;bottom:12775.8px;color:rgb(35,31,31);
}
#P284_209
{
left:27150.2px;bottom:12805.4px;color:rgb(35,31,31);
}
#P284_210
{
left:29117.8px;bottom:12775.8px;color:rgb(35,31,31);
}
#P284_211
{
left:29549.4px;bottom:12805.4px;color:rgb(35,31,31);
}
#P284_212
{
left:30799px;bottom:12775.8px;color:rgb(35,31,31);
}
#P284_213
{
left:31230.6px;bottom:12805.4px;color:rgb(35,31,31);
}
#P284_214
{
left:4638.68px;bottom:10885.4px;color:rgb(35,31,31);
}
#P284_215
{
left:15695.8px;bottom:10905.1px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P284_216
{
left:17182.6px;bottom:10905.2px;color:rgb(2,77,161);
}
#P284_217
{
left:22266.8px;bottom:10885.5px;letter-spacing:-0.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P284_218
{
left:0px;letter-spacing:-0.1px;margin-left:-13.8px;
}
#P284_219
{
left:0px;letter-spacing:-0.1px;margin-left:-20.9px;
}
#P284_220
{
left:17182.6px;bottom:9989.48px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P284_221
{
left:0px;letter-spacing:0px;margin-left:0.9px;
}
#P284_222
{
left:4638.55px;bottom:8901.48px;color:rgb(35,31,31);
}
#P284_223
{
left:17142.5px;bottom:8901.48px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P284_224
{
left:18334.7px;bottom:8901.48px;letter-spacing:-158.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P284_225
{
left:0px;letter-spacing:-1px;margin-left:158.4px;
}
#P284_226
{
left:0px;letter-spacing:-0.3px;margin-left:-12.9px;
}
#P284_227
{
left:4638.62px;bottom:7813.42px;color:rgb(35,31,31);
}
#P284_228
{
left:17106.5px;bottom:7813.42px;letter-spacing:-13.9px;word-spacing:499.1px;color:rgb(35,31,31);
}
#P284_229
{
left:18334.6px;bottom:7813.42px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P284_230
{
left:0px;letter-spacing:0px;margin-left:0.5px;
}
#P284_231
{
left:18334.6px;bottom:6917.55px;letter-spacing:-0.7px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P284_232
{
left:0px;letter-spacing:0.1px;margin-left:159.3px;
}
#P284_233
{
left:4638.62px;bottom:5061.42px;color:rgb(35,31,31);
}
#P284_234
{
left:15695.8px;bottom:5081.13px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P284_235
{
left:17182.6px;bottom:5081.2px;letter-spacing:-5.5px;color:rgb(2,77,161);
}
#P284_236
{
left:0px;letter-spacing:0px;margin-left:5.5px;
}
#P284_237
{
left:21996.6px;bottom:5061.48px;letter-spacing:168.2px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P284_238
{
left:0px;letter-spacing:-1.2px;margin-left:-168.3px;
}
#P284_239
{
left:0px;letter-spacing:-1.2px;margin-left:1.1px;
}
#P284_240
{
left:17182.6px;bottom:4165.48px;color:rgb(35,31,31);
}
#P284_241
{
left:17852.7px;bottom:4135.92px;color:rgb(35,31,31);
}
#P284_242
{
left:18284.2px;bottom:4165.48px;color:rgb(35,31,31);
}
#P284_243
{
left:19562px;bottom:4135.92px;color:rgb(35,31,31);
}
#P284_244
{
left:19796.4px;bottom:4165.48px;letter-spacing:-0.6px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P284_245
{
left:0px;letter-spacing:-1.6px;margin-left:-6.3px;
}
#P284_246
{
left:0px;letter-spacing:-0.1px;margin-left:-10.9px;
}
#P284_247
{
left:17182.6px;bottom:3240.03px;color:rgb(35,31,31);
}
#P284_248
{
left:17614.1px;bottom:3269.59px;color:rgb(35,31,31);
}
#P284_249
{
left:18891.9px;bottom:3240.03px;color:rgb(35,31,31);
}
#P284_250
{
left:19126.2px;bottom:3269.59px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P284_251
{
left:0px;letter-spacing:-1.4px;margin-left:14px;
}
#P284_252
{
left:0px;letter-spacing:0px;margin-left:1.4px;
}
#P284_253
{
left:3954.73px;bottom:23815.2px;
}
#P284_254
{
left:3954.73px;bottom:23815.2px;color:white;
}
#P284_255
{
left:3963.8px;bottom:14238.6px;
}
#P284_256
{
left:3963.8px;bottom:14238.6px;color:white;
}
#P284_257
{
left:2943.53px;bottom:23810.6px;
}
#P284_258
{
left:2943.53px;bottom:23810.6px;color:white;
}
#P284_259
{
left:26785.2px;bottom:46233.7px;word-spacing:0.2px;color:rgb(33,31,31);
}
#P284_260
{
left:23463.5px;bottom:38898.2px;color:white;
}
#P284_261
{
left:23943.3px;bottom:39023.1px;color:white;
}
#P284_262
{
left:26881.2px;bottom:38628.9px;color:white;
}
#P284_263
{
left:27361px;bottom:38753.9px;color:white;
}
#P284_264
{
left:25550px;bottom:40979.9px;color:rgb(35,31,31);
}
#P284_265
{
left:7830.43px;bottom:10769.5px;letter-spacing:-0.9px;
}
#P284_266
{
left:7830.43px;bottom:10769.5px;letter-spacing:-0.9px;color:white;
}
#P284_267
{
left:5515.55px;bottom:7556.78px;color:white;
}
#P284_268
{
left:5995.35px;bottom:7563.69px;color:white;
}
#P284_269
{
left:11872.9px;bottom:7087.4px;color:white;
}
#P284_270
{
left:12352.7px;bottom:7094.32px;color:white;
}
#P284_271
{
left:6601.24px;bottom:18054.4px;
}
#P284_272
{
left:21375.2px;bottom:18174.1px;
}
#PageContainer284
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg284.jpg");background-repeat:no-repeat;background-size: 942px 1247px; background-position: 0px 35.3px;
}
#ImageContainer284 {bottom:81.70px;left:0.00px;width:942.01px;height:1246.81px;position:absolute;} #TextContainer284 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.answer{position: absolute;top: 50px;left: 10px;}
.circle1{position: absolute;top: 689px;left: 66px;}
.circle2{position: absolute;top: 688px;left: 99px;}
.circle3{position: absolute;top: 950px;left: 95px;}


#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}