.tr170{ color:transparent;}
#P170_1
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P170_2
{
left:3540.44px;bottom:1410.03px;color:rgb(35,31,31);
}
#P170_3
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P170_4
{
left:7841.88px;bottom:1410.03px;letter-spacing:462.1px;color:rgb(35,31,31);
}
#P170_5
{
left:0px;letter-spacing:1.2px;margin-left:-457.8px;
}
#P170_6
{
left:0px;letter-spacing:4.1px;margin-left:9.5px;
}
#P170_7
{
left:0px;letter-spacing:2.1px;margin-left:-0.2px;
}
#P170_8
{
left:0px;letter-spacing:6.5px;margin-left:2.6px;
}
#P170_9
{
left:0px;letter-spacing:0px;margin-left:2.5px;
}
#P170_10
{
left:6429.4px;bottom:33155.8px;letter-spacing:9.6px;
}
#P170_11
{
left:6429.4px;bottom:33155.8px;letter-spacing:9.6px;color:white;
}
#P170_12
{
left:8733.4px;bottom:33191.5px;letter-spacing:-2.6px;color:rgb(2,77,161);
}
#P170_13
{
left:11662.6px;bottom:33383.3px;color:rgb(2,77,161);
}
#P170_14
{
left:11902.7px;bottom:33191.5px;letter-spacing:-5.3px;color:rgb(2,77,161);
}
#P170_15
{
left:0px;letter-spacing:0px;margin-left:5.3px;
}
#P170_16
{
left:15519.5px;bottom:33383.3px;color:rgb(2,77,161);
}
#P170_17
{
left:15759.7px;bottom:33191.5px;color:rgb(2,77,161);
}
#P170_18
{
left:16095.8px;bottom:33383.3px;color:rgb(2,77,161);
}
#P170_19
{
left:16336px;bottom:33191.5px;color:rgb(2,77,161);
}
#P170_20
{
left:20994.7px;bottom:33383.3px;color:rgb(2,77,161);
}
#P170_21
{
left:21234.9px;bottom:33191.5px;color:rgb(2,77,161);
}
#P170_22
{
left:21971px;bottom:33383.3px;color:rgb(2,77,161);
}
#P170_23
{
left:22211.2px;bottom:33191.5px;color:rgb(2,77,161);
}
#P170_24
{
left:23394.9px;bottom:33383.3px;color:rgb(2,77,161);
}
#P170_25
{
left:23635.1px;bottom:33191.5px;color:rgb(2,77,161);
}
#P170_26
{
left:25475.2px;bottom:33241.3px;color:rgb(2,77,161);
}
#P170_27
{
left:6973.4px;bottom:31589.2px;letter-spacing:580.1px;color:rgb(35,31,31);
}
#P170_27a
{
left: 8316.4px;bottom:31589.2px;letter-spacing:580.1px;color:rgb(35,31,31);
}
#P170_28
{
left:0px;letter-spacing:-28px;margin-left:-580.1px;
}
#P170_29
{
left:0px;letter-spacing:0px;margin-left:392.2px;
}
#P170_30
{
left:0px;letter-spacing:-0.9px;margin-left:-8.4px;
}
#P170_31
{
left:0px;letter-spacing:0px;margin-left:0.9px;
}
#P170_32
{
left:16833.2px;bottom:31594.8px;color:rgb(35,31,31);
}
#P170_33
{
left:17196.5px;bottom:31589.2px;color:rgb(35,31,31);
}
#P170_34
{
left:17344.3px;bottom:31559.6px;color:rgb(35,31,31);
}
#P170_35
{
left:17930.8px;bottom:31589.2px;color:rgb(35,31,31);
}
#P170_36
{
left:19271.8px;bottom:31559.6px;color:rgb(35,31,31);
}
#P170_37
{
left:19858.3px;bottom:31589.2px;color:rgb(35,31,31);
}
#P170_38
{
left:6973.34px;bottom:30309.2px;letter-spacing:1132.2px;color:rgb(35,31,31);
}
#P170_39
{
left:0px;letter-spacing:0px;margin-left:-768px;
}
#P170_40
{
left:10265.1px;bottom:30309.2px;color:rgb(35,31,31);
}
#P170_41
{
left:10511.5px;bottom:30309.2px;color:rgb(35,31,31);
}
#P170_42
{
left:10874.8px;bottom:30309.2px;color:rgb(35,31,31);
}
#P170_43
{
left:11033.2px;bottom:30279.6px;color:rgb(35,31,31);
}
#P170_44
{
left:11619.6px;bottom:30309.2px;color:rgb(35,31,31);
}
#P170_45
{
left:12929px;bottom:30279.6px;color:rgb(35,31,31);
}
#P170_46
{
left:13515.4px;bottom:30309.2px;color:rgb(35,31,31);
}
#P170_47
{
left:14205.3px;bottom:30279.6px;color:rgb(35,31,31);
}
#P170_48
{
left:14791.8px;bottom:30309.2px;color:rgb(35,31,31);
}
#P170_49
{
left:14950.2px;bottom:30309.2px;color:rgb(35,31,31);
}
#P170_50
{
left:15313.4px;bottom:30309.2px;color:rgb(35,31,31);
}
#P170_51
{
left:15471.8px;bottom:30279.6px;color:rgb(35,31,31);
}
#P170_52
{
left:16058.3px;bottom:30309.2px;color:rgb(35,31,31);
}
#P170_53
{
left:17367.5px;bottom:30279.6px;color:rgb(35,31,31);
}
#P170_54
{
left:17953.9px;bottom:30309.2px;color:rgb(35,31,31);
}
#P170_55
{
left:22781.4px;bottom:30317.2px;color:rgb(0,124,196);
}
#P170_56
{
left:0px;letter-spacing:0px;margin-left:-36.9px;
}
#P170_57
{
left:6973.4px;bottom:29029.2px;letter-spacing:1121.6px;color:rgb(35,31,31);
}
#P170_58
{
left:0px;letter-spacing:0px;margin-left:-768px;
}
#P170_59
{
left:0px;letter-spacing:0px;margin-left:5123.3px;
}
#P170_60
{
left:14205.4px;bottom:28999.6px;color:rgb(35,31,31);
}
#P170_61
{
left:14791.8px;bottom:29029.2px;color:rgb(35,31,31);
}
#P170_62
{
left:14950.2px;bottom:29029.2px;color:rgb(35,31,31);
}
#P170_63
{
left:15313.5px;bottom:29029.2px;color:rgb(35,31,31);
}
#P170_64
{
left:15471.9px;bottom:28999.6px;color:rgb(35,31,31);
}
#P170_65
{
left:16058.3px;bottom:29029.2px;color:rgb(35,31,31);
}
#P170_66
{
left:22781.4px;bottom:29037.2px;color:rgb(0,124,196);
}
#P170_67
{
left:6973.4px;bottom:27749.2px;letter-spacing:544px;color:rgb(35,31,31);
}
#P170_67a
{
left: 8413.4px;bottom:27749.2px;letter-spacing:544px;color:rgb(35,31,31);
}
#P170_68
{
left:0px;letter-spacing:-28px;margin-left:-550.9px;
}
#P170_69
{
left:0px;letter-spacing:0px;margin-left:392.2px;
}
#P170_70
{
left:0px;letter-spacing:-0.9px;margin-left:-8.4px;
}
#P170_71
{
left:0px;letter-spacing:0px;margin-left:0.9px;
}
#P170_72
{
left:17966.7px;bottom:27719.6px;color:rgb(35,31,31);
}
#P170_73
{
left:18729.2px;bottom:27754.8px;color:rgb(35,31,31);
}
#P170_74
{
left:19148.8px;bottom:27749.2px;color:rgb(35,31,31);
}
#P170_75
{
left:19553.4px;bottom:27719.6px;color:rgb(35,31,31);
}
#P170_76
{
left:20139.8px;bottom:27749.2px;color:rgb(35,31,31);
}
#P170_77
{
left:6973.27px;bottom:26469.2px;letter-spacing:1132.2px;color:rgb(35,31,31);
}
#P170_78
{
left:0px;letter-spacing:0px;margin-left:-768px;
}
#P170_79
{
left:10270.8px;bottom:26469.2px;color:rgb(35,31,31);
}
#P170_80
{
left:11608.4px;bottom:26439.6px;color:rgb(35,31,31);
}
#P170_81
{
left:12194.8px;bottom:26469.2px;color:rgb(35,31,31);
}
#P170_82
{
left:12353.2px;bottom:26469.2px;color:rgb(35,31,31);
}
#P170_83
{
left:12748.1px;bottom:26469.2px;color:rgb(35,31,31);
}
#P170_84
{
left:13152.9px;bottom:26439.6px;color:rgb(35,31,31);
}
#P170_85
{
left:13739.4px;bottom:26469.2px;color:rgb(35,31,31);
}
#P170_86
{
left:14429.3px;bottom:26439.6px;color:rgb(35,31,31);
}
#P170_87
{
left:15015.7px;bottom:26469.2px;color:rgb(35,31,31);
}
#P170_88
{
left:16265.3px;bottom:26439.6px;color:rgb(35,31,31);
}
#P170_89
{
left:16851.7px;bottom:26469.2px;color:rgb(35,31,31);
}
#P170_90
{
left:17256.5px;bottom:26469.2px;color:rgb(35,31,31);
}
#P170_91
{
left:17651.4px;bottom:26469.2px;color:rgb(35,31,31);
}
#P170_92
{
left:17809.8px;bottom:26439.6px;color:rgb(35,31,31);
}
#P170_93
{
left:18396.2px;bottom:26469.2px;color:rgb(35,31,31);
}
#P170_94
{
left:22781.4px;bottom:26477.2px;color:rgb(0,124,196);
}
#P170_95
{
left:0px;letter-spacing:0px;margin-left:-36.9px;
}
#P170_96
{
left:6973.4px;bottom:25189.2px;letter-spacing:1121.6px;color:rgb(35,31,31);
}
#P170_97
{
left:0px;letter-spacing:0px;margin-left:-768px;
}
#P170_98
{
left:0px;letter-spacing:0px;margin-left:5347.3px;
}
#P170_99
{
left:14429.4px;bottom:25159.6px;color:rgb(35,31,31);
}
#P170_100
{
left:15015.8px;bottom:25189.2px;color:rgb(35,31,31);
}
#P170_101
{
left:16265.4px;bottom:25159.6px;color:rgb(35,31,31);
}
#P170_102
{
left:16851.9px;bottom:25189.2px;color:rgb(35,31,31);
}
#P170_103
{
left:17010.3px;bottom:25189.2px;color:rgb(35,31,31);
}
#P170_104
{
left:22781.4px;bottom:25197.2px;color:rgb(0,124,196);
}
#P170_105
{
left:6973.4px;bottom:23909.2px;letter-spacing:615.3px;color:rgb(35,31,31);
}
#P170_105a
{
left: 8431.4px;bottom:23909.2px;letter-spacing:615.3px;color:rgb(35,31,31);
}
#P170_106
{
left:0px;letter-spacing:-28px;margin-left:-615.3px;
}
#P170_107
{
left:0px;letter-spacing:0px;margin-left:392.2px;
}
#P170_108
{
left:0px;letter-spacing:-0.9px;margin-left:-8.4px;
}
#P170_109
{
left:0px;letter-spacing:0px;margin-left:0.9px;
}
#P170_110
{
left:17459.9px;bottom:23470.6px;color:rgb(35,31,31);
}
#P170_111
{
left:17811.6px;bottom:23909.2px;color:rgb(35,31,31);
}
#P170_112
{
left:17959.4px;bottom:23914.8px;color:rgb(35,31,31);
}
#P170_113
{
left:18269.2px;bottom:23909.2px;color:rgb(35,31,31);
}
#P170_114
{
left:18364.2px;bottom:23470.6px;color:rgb(35,31,31);
}
#P170_115
{
left:18716.1px;bottom:23909.2px;letter-spacing:-9.3px;color:rgb(35,31,31);
}
#P170_116
{
left:6973.4px;bottom:22629.2px;letter-spacing:1132.2px;color:rgb(35,31,31);
}
#P170_117
{
left:0px;letter-spacing:0px;margin-left:-768px;
}
#P170_118
{
left:10325.1px;bottom:22629.2px;color:rgb(35,31,31);
}
#P170_119
{
left:11176.9px;bottom:22190.6px;color:rgb(35,31,31);
}
#P170_120
{
left:11528.7px;bottom:22629.2px;color:rgb(35,31,31);
}
#P170_121
{
left:11687.1px;bottom:22629.2px;color:rgb(35,31,31);
}
#P170_122
{
left:11970.1px;bottom:22629.2px;color:rgb(35,31,31);
}
#P170_123
{
left:12075.7px;bottom:22190.6px;color:rgb(35,31,31);
}
#P170_124
{
left:12427.5px;bottom:22629.2px;color:rgb(35,31,31);
}
#P170_125
{
left:13117.4px;bottom:22599.6px;color:rgb(35,31,31);
}
#P170_126
{
left:13703.8px;bottom:22629.2px;color:rgb(35,31,31);
}
#P170_127
{
left:14714.1px;bottom:22190.6px;color:rgb(35,31,31);
}
#P170_128
{
left:15065.8px;bottom:22629.2px;color:rgb(35,31,31);
}
#P170_129
{
left:15470.6px;bottom:22629.2px;color:rgb(35,31,31);
}
#P170_130
{
left:15753.6px;bottom:22629.2px;color:rgb(35,31,31);
}
#P170_131
{
left:15859.2px;bottom:22190.6px;color:rgb(35,31,31);
}
#P170_132
{
left:16211px;bottom:22629.2px;color:rgb(35,31,31);
}
#P170_133
{
left:22781.4px;bottom:22637.2px;color:rgb(0,124,196);
}
#P170_134
{
left:6973.4px;bottom:21349.2px;letter-spacing:1121.6px;color:rgb(35,31,31);
}
#P170_135
{
left:0px;letter-spacing:0px;margin-left:-768px;
}
#P170_136
{
left:0px;letter-spacing:0px;margin-left:4035.2px;
}
#P170_137
{
left:13117.4px;bottom:21319.6px;color:rgb(35,31,31);
}
#P170_138
{
left:13703.8px;bottom:21349.2px;color:rgb(35,31,31);
}
#P170_139
{
left:14714.1px;bottom:20910.6px;color:rgb(35,31,31);
}
#P170_140
{
left:15065.8px;bottom:21349.2px;color:rgb(35,31,31);
}
#P170_141
{
left:15224.2px;bottom:21349.2px;color:rgb(35,31,31);
}
#P170_142
{
left:22781.4px;bottom:21357.2px;color:rgb(0,124,196);
}
#P170_143
{
left:6973.4px;bottom:20069.2px;letter-spacing:1121.6px;color:rgb(35,31,31);
}
#P170_144
{
left:0px;letter-spacing:0px;margin-left:-768px;
}
#P170_145
{
left:0px;letter-spacing:0px;margin-left:4035.2px;
}
#P170_146
{
left:13117.4px;bottom:20039.6px;color:rgb(35,31,31);
}
#P170_147
{
left:13703.8px;bottom:20069.2px;color:rgb(35,31,31);
}
#P170_148
{
left:14608.5px;bottom:20069.2px;color:rgb(35,31,31);
}
#P170_149
{
left:7752.09px;bottom:15950.3px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P170_150
{
left:0px;letter-spacing:-4.7px;margin-left:1.3px;
}
#P170_151
{
left:0px;letter-spacing:-0.4px;margin-left:4.7px;
}
#P170_152
{
left:7752.09px;bottom:14798.3px;color:rgb(35,31,31);
}
#P170_153
{
left:7929.24px;bottom:14818px;color:rgb(35,31,31);
}
#P170_154
{
left:9352.09px;bottom:14798.3px;color:rgb(35,31,31);
}
#P170_155
{
left:10256.7px;bottom:14768.7px;color:rgb(35,31,31);
}
#P170_156
{
left:10843.1px;bottom:14798.3px;color:rgb(35,31,31);
}
#P170_157
{
left:11779.4px;bottom:14768.7px;color:rgb(35,31,31);
}
#P170_158
{
left:12365.8px;bottom:14798.3px;color:rgb(35,31,31);
}
#P170_159
{
left:12524.2px;bottom:14798.3px;color:rgb(35,31,31);
}
#P170_160
{
left:12853.7px;bottom:14798.3px;color:rgb(35,31,31);
}
#P170_161
{
left:16761.2px;bottom:14818px;color:rgb(35,31,31);
}
#P170_162
{
left:18184.1px;bottom:14798.3px;color:rgb(35,31,31);
}
#P170_163
{
left:19335.1px;bottom:14768.7px;color:rgb(35,31,31);
}
#P170_164
{
left:19921.5px;bottom:14798.3px;color:rgb(35,31,31);
}
#P170_165
{
left:20079.9px;bottom:14798.3px;color:rgb(35,31,31);
}
#P170_166
{
left:20473.4px;bottom:14798.3px;color:rgb(35,31,31);
}
#P170_167
{
left:20878.2px;bottom:14768.7px;color:rgb(35,31,31);
}
#P170_168
{
left:21464.7px;bottom:14798.3px;color:rgb(35,31,31);
}
#P170_169
{
left:25593.3px;bottom:14818px;color:rgb(35,31,31);
}
#P170_170
{
left:27016.2px;bottom:14798.3px;color:rgb(35,31,31);
}
#P170_171
{
left:28008.8px;bottom:14798.3px;color:rgb(35,31,31);
}
#P170_172
{
left:28372px;bottom:14798.3px;color:rgb(35,31,31);
}
#P170_173
{
left:7752.15px;bottom:13454.2px;color:rgb(35,31,31);
}
#P170_174
{
left:7929.31px;bottom:13473.9px;color:rgb(35,31,31);
}
#P170_175
{
left:9352.15px;bottom:13454.2px;color:rgb(35,31,31);
}
#P170_176
{
left:10904.4px;bottom:13454.2px;color:rgb(35,31,31);
}
#P170_177
{
left:11457px;bottom:13454.2px;color:rgb(35,31,31);
}
#P170_178
{
left:16761.3px;bottom:13473.9px;color:rgb(35,31,31);
}
#P170_179
{
left:18184.2px;bottom:13454.2px;color:rgb(35,31,31);
}
#P170_180
{
left:19275.3px;bottom:13424.6px;color:rgb(35,31,31);
}
#P170_181
{
left:19861.7px;bottom:13454.2px;color:rgb(35,31,31);
}
#P170_182
{
left:20266.5px;bottom:13454.2px;color:rgb(35,31,31);
}
#P170_183
{
left:20819.2px;bottom:13454.2px;color:rgb(35,31,31);
}
#P170_184
{
left:20977.6px;bottom:13424.6px;color:rgb(35,31,31);
}
#P170_185
{
left:21564px;bottom:13454.2px;color:rgb(35,31,31);
}
#P170_186
{
left:25593.4px;bottom:13473.9px;color:rgb(35,31,31);
}
#P170_187
{
left:27016.2px;bottom:13454.2px;color:rgb(35,31,31);
}
#P170_188
{
left:27794.1px;bottom:13424.6px;color:rgb(35,31,31);
}
#P170_189
{
left:28380.5px;bottom:13454.2px;color:rgb(35,31,31);
}
#P170_190
{
left:28538.9px;bottom:13454.2px;color:rgb(35,31,31);
}
#P170_191
{
left:28779px;bottom:13454.2px;color:rgb(35,31,31);
}
#P170_192
{
left:29183.8px;bottom:13424.6px;color:rgb(35,31,31);
}
#P170_193
{
left:29770.2px;bottom:13454.2px;color:rgb(35,31,31);
}
#P170_194
{
left:7752.22px;bottom:11726.3px;color:rgb(35,31,31);
}
#P170_195
{
left:7929.37px;bottom:11746px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P170_196
{
left:9352.09px;bottom:11746px;letter-spacing:-1.8px;color:rgb(2,77,161);
}
#P170_197
{
left:12808.1px;bottom:11726.3px;letter-spacing:168.3px;color:rgb(35,31,31);
}
#P170_198
{
left:0px;letter-spacing:-0.9px;margin-left:-168.3px;
}
#P170_199
{
left:18624px;bottom:11696.7px;color:rgb(35,31,31);
}
#P170_200
{
left:19210.4px;bottom:11726.3px;color:rgb(35,31,31);
}
#P170_201
{
left:19741.9px;bottom:11726.3px;color:rgb(35,31,31);
}
#P170_202
{
left:20105.2px;bottom:11726.3px;color:rgb(35,31,31);
}
#P170_203
{
left:20263.6px;bottom:11696.7px;color:rgb(35,31,31);
}
#P170_204
{
left:20850px;bottom:11726.3px;letter-spacing:-4px;color:rgb(35,31,31);
}
#P170_205
{
left:0px;letter-spacing:0.2px;margin-left:4px;
}
#P170_206
{
left:9352.09px;bottom:10830.3px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P170_207
{
left:0px;letter-spacing:0px;margin-left:-13.3px;
}
#P170_208
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P170_209
{
left:22582.9px;bottom:7331.18px;color:rgb(100,94,170);
}
#P170_210
{
left:22903.1px;bottom:7338.09px;color:rgb(100,94,170);
}
#P170_211
{
left:19961.2px;bottom:7498.09px;color:rgb(100,94,170);
}
#P170_212
{
left:20471.5px;bottom:4069.73px;color:rgb(100,94,170);
}
#P170_213
{
left:7737.05px;bottom:43799.5px;letter-spacing:-14.8px;color:rgb(35,31,31);
}
#P170_214
{
left:0px;letter-spacing:-0.5px;margin-left:14.8px;
}
#P170_215
{
left:8305.6px;bottom:42667.2px;word-spacing:372.8px;color:rgb(35,31,31);
}
#P170_216
{
left:9337.05px;bottom:42647.5px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P170_217
{
left:17044.4px;bottom:42647.5px;color:rgb(35,31,31);
}
#P170_218
{
left:17437.9px;bottom:42647.5px;color:rgb(35,31,31);
}
#P170_219
{
left:21169.5px;bottom:42667.2px;color:rgb(35,31,31);
}
#P170_220
{
left:21756.6px;bottom:42647.5px;letter-spacing:285.9px;color:rgb(35,31,31);
}
#P170_221
{
left:0px;letter-spacing:-0.2px;margin-left:-285.9px;
}
#P170_222
{
left:30134.9px;bottom:42647.5px;color:rgb(35,31,31);
}
#P170_223
{
left:30548.2px;bottom:42647.5px;color:rgb(35,31,31);
}
#P170_224
{
left:7736.92px;bottom:41303.4px;color:rgb(35,31,31);
}
#P170_225
{
left:8305.37px;bottom:41323.1px;color:rgb(35,31,31);
}
#P170_226
{
left:9336.86px;bottom:41303.4px;color:rgb(35,31,31);
}
#P170_227
{
left:16453.4px;bottom:41303.4px;color:rgb(35,31,31);
}
#P170_228
{
left:16888.5px;bottom:41303.4px;color:rgb(35,31,31);
}
#P170_229
{
left:21169.4px;bottom:41323.1px;color:rgb(35,31,31);
}
#P170_230
{
left:22200.8px;bottom:41303.4px;color:rgb(35,31,31);
}
#P170_231
{
left:25454.6px;bottom:41303.4px;color:rgb(35,31,31);
}
#P170_232
{
left:25694.7px;bottom:41303.4px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P170_233
{
left:0px;letter-spacing:0px;margin-left:-16.3px;
}
#P170_234
{
left:7736.79px;bottom:39575.5px;color:rgb(35,31,31);
}
#P170_235
{
left:8305.24px;bottom:39595.2px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P170_236
{
left:9337.05px;bottom:39595.2px;letter-spacing:-2.8px;color:rgb(2,77,161);
}
#P170_237
{
left:13235.3px;bottom:39575.5px;letter-spacing:151.5px;color:rgb(35,31,31);
}
#P170_238
{
left:0px;letter-spacing:0px;margin-left:-214.7px;
}
#P170_239
{
left:0px;letter-spacing:-0.6px;
}
#P170_240
{
left:0px;letter-spacing:0px;margin-left:0.6px;
}
#P170_241
{
left:9337.05px;bottom:38679.5px;color:rgb(35,31,31);
}
#P170_242
{
left:7737.05px;bottom:37335.5px;color:rgb(35,31,31);
}
#P170_243
{
left:9460.95px;bottom:37335.5px;color:rgb(35,31,31);
}
#P170_244
{
left:10041px;bottom:37335.5px;letter-spacing:481.6px;color:rgb(35,31,31);
}
#P170_245
{
left:0px;letter-spacing:5.5px;margin-left:-513.2px;
}
#P170_246
{
left:0px;letter-spacing:-0.4px;margin-left:-5.5px;
}
#P170_247
{
left:0px;letter-spacing:-1px;margin-left:0.4px;
}
#P170_248
{
left:7737.05px;bottom:36119.5px;color:rgb(35,31,31);
}
#P170_249
{
left:9424.86px;bottom:36119.5px;letter-spacing:-6.9px;color:rgb(35,31,31);
}
#P170_250
{
left:10041.1px;bottom:36119.5px;letter-spacing:481.6px;color:rgb(35,31,31);
}
#P170_251
{
left:0px;letter-spacing:-0.5px;margin-left:-481.6px;
}
#P170_252
{
left:0px;letter-spacing:-7px;margin-left:-13.5px;
}
#P170_253
{
left:0px;letter-spacing:0px;margin-left:-13.9px;
}
#P170_254
{
left:0px;letter-spacing:-0.7px;
}
#PageContainer170
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg170.jpg");background-repeat:no-repeat;background-size: 1066px 1265px; background-position: 1px 0.00999999999999091px;
}
#ImageContainer170 {bottom:98.99px;right:0.00px;width:1066.24px;height:1265.17px;position:absolute;} #TextContainer170 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}