.tr812{ color:transparent;}
#P812_1
{
left:8125.59px;bottom:46122.4px;letter-spacing:-1.8px;color:rgb(35,31,32);
}
#P812_2
{
left:0px;letter-spacing:0px;margin-left:1.8px;
}
#P812_3
{
left:2365.4px;bottom:44092.8px;letter-spacing:-6.9px;color:rgb(35,31,32);
}
#P812_4
{
left:2365.4px;bottom:42634.3px;letter-spacing:-13.1px;color:rgb(0,125,197);
}
#P812_5
{
left:14461.4px;bottom:42634.3px;color:rgb(35,31,32);
}
#P812_6
{
left:14864.9px;bottom:42634.3px;letter-spacing:325.1px;color:rgb(35,31,32);
}
#P812_7
{
left:15421.4px;bottom:42648.5px;letter-spacing:-11.5px;color:rgb(35,31,32);
}
#P812_8
{
left:0px;letter-spacing:-11.5px;margin-left:-56.8px;
}
#P812_9
{
left:2365.4px;bottom:41098.3px;letter-spacing:-12.5px;color:rgb(0,125,197);
}
#P812_10
{
left:14461.4px;bottom:41098.3px;color:rgb(35,31,32);
}
#P812_11
{
left:14864.9px;bottom:41098.3px;color:rgb(35,31,32);
}
#P812_12
{
left:15421.4px;bottom:41112.5px;letter-spacing:-11.5px;color:rgb(35,31,32);
}
#P812_13
{
left:2365.4px;bottom:40138.3px;letter-spacing:-12.5px;color:rgb(0,125,197);
}
#P812_14
{
left:0px;letter-spacing:0px;margin-left:4751.1px;
}
#P812_15
{
left:2365.4px;bottom:38602.2px;letter-spacing:-12.5px;color:rgb(0,125,197);
}
#P812_16
{
left:14461.4px;bottom:38602.3px;color:rgb(35,31,32);
}
#P812_17
{
left:14864.9px;bottom:38602.3px;color:rgb(35,31,32);
}
#P812_18
{
left:15421.4px;bottom:38616.5px;letter-spacing:-13.6px;color:rgb(35,31,32);
}
#P812_19
{
left:0px;letter-spacing:-11.5px;margin-left:2.1px;
}
#P812_20
{
left:2365.4px;bottom:37642.3px;letter-spacing:-12.5px;color:rgb(0,125,197);
}
#P812_21
{
left:0px;letter-spacing:-12.5px;margin-left:-92.2px;
}
#P812_22
{
left:0px;letter-spacing:0px;margin-left:7668px;
}
#P812_23
{
left:15421.4px;bottom:37656.5px;letter-spacing:-14.9px;color:rgb(35,31,32);
}
#P812_24
{
left:0px;letter-spacing:-11.5px;margin-left:3.4px;
}
#P812_25
{
left:2365.4px;bottom:36106.3px;letter-spacing:-13.2px;color:rgb(0,125,197);
}
#P812_26
{
left:14461.4px;bottom:36106.3px;color:rgb(35,31,32);
}
#P812_27
{
left:14864.9px;bottom:36106.3px;letter-spacing:325.1px;color:rgb(35,31,32);
}
#P812_28
{
left:15421.4px;bottom:36120.5px;letter-spacing:-15.4px;color:rgb(35,31,32);
}
#P812_29
{
left:15421.4px;bottom:35160.5px;letter-spacing:-15.4px;color:rgb(35,31,32);
}
#P812_30
{
left:2365.4px;bottom:33610.3px;letter-spacing:-12.5px;color:rgb(0,125,197);
}
#P812_31
{
left:14461.4px;bottom:33610.3px;color:rgb(35,31,32);
}
#P812_32
{
left:14864.9px;bottom:33610.3px;color:rgb(35,31,32);
}
#P812_33
{
left:15421.4px;bottom:33624.5px;letter-spacing:-11.5px;color:rgb(35,31,32);
}
#P812_34
{
left:2365.4px;bottom:30572.5px;letter-spacing:-10.9px;color:rgb(35,31,32);
}
#P812_35
{
left:2365.4px;bottom:29130.3px;letter-spacing:-12.5px;color:rgb(0,125,197);
}
#P812_36
{
left:8246.73px;bottom:29130.3px;color:rgb(236,27,36);
}
#P812_37
{
left:8465.54px;bottom:29130.3px;color:rgb(0,125,197);
}
#P812_38
{
left:14461.4px;bottom:29130.3px;color:rgb(35,31,32);
}
#P812_39
{
left:14864.9px;bottom:29130.3px;color:rgb(35,31,32);
}
#P812_40
{
left:15421.4px;bottom:29144.5px;letter-spacing:-11.5px;color:rgb(35,31,32);
}
#P812_41
{
left:2365.4px;bottom:28170.3px;letter-spacing:-12.5px;color:rgb(0,125,197);
}
#P812_42
{
left:9491.4px;bottom:28170.3px;letter-spacing:4738.7px;color:rgb(236,27,36);
}
#P812_43
{
left:15421.4px;bottom:28184.5px;letter-spacing:-11.5px;color:rgb(35,31,32);
}
#P812_44
{
left:2365.4px;bottom:26570.3px;letter-spacing:-12.5px;color:rgb(0,125,197);
}
#P812_45
{
left:14461.4px;bottom:26570.3px;color:rgb(35,31,32);
}
#P812_46
{
left:14864.9px;bottom:26570.3px;color:rgb(35,31,32);
}
#P812_47
{
left:15421.4px;bottom:26584.5px;letter-spacing:-11.5px;color:rgb(35,31,32);
}
#P812_48
{
left:0px;letter-spacing:-11.5px;margin-left:-37.5px;
}
#P812_49
{
left:0px;letter-spacing:-11.5px;margin-left:-56.8px;
}
#P812_50
{
left:2365.4px;bottom:25610.3px;letter-spacing:-12.5px;color:rgb(0,125,197);
}
#P812_51
{
left:0px;letter-spacing:0px;margin-left:-92.2px;
}
#P812_52
{
left:0px;letter-spacing:0px;margin-left:-12.5px;
}
#P812_53
{
left:6574.66px;bottom:25610.3px;letter-spacing:7655.5px;color:rgb(236,27,36);
}
#P812_54
{
left:15421.4px;bottom:25624.5px;letter-spacing:-14.9px;color:rgb(35,31,32);
}
#P812_55
{
left:0px;letter-spacing:-11.1px;margin-left:3.4px;
}
#P812_56
{
left:15421.4px;bottom:24664.5px;letter-spacing:-11.5px;word-spacing:11894px;color:rgb(35,31,32);
}
#P812_57
{
left:0px;letter-spacing:-11.5px;margin-left:-11894px;
}
#P812_58
{
left:2365.4px;bottom:23050.3px;letter-spacing:-13.2px;color:rgb(0,125,197);
}
#P812_59
{
left:14461.4px;bottom:23050.3px;color:rgb(35,31,32);
}
#P812_60
{
left:14864.9px;bottom:23050.3px;color:rgb(35,31,32);
}
#P812_61
{
left:15421.4px;bottom:23064.5px;letter-spacing:-11.5px;color:rgb(35,31,32);
}
#P812_62
{
left:0px;letter-spacing:-11.5px;margin-left:-9.2px;
}
#P812_63
{
left:0px;letter-spacing:-11.5px;margin-left:-56.8px;
}
#P812_64
{
left:0px;letter-spacing:-11.5px;margin-left:-28.3px;
}
#P812_65
{
left:2365.4px;bottom:22104.5px;color:rgb(35,31,32);
}
#P812_66
{
left:0px;letter-spacing:0px;margin-left:11882.5px;
}
#P812_67
{
left:0px;letter-spacing:-11.5px;margin-left:746.5px;
}
#P812_68
{
left:2365.4px;bottom:20490.3px;letter-spacing:-12.5px;color:rgb(0,125,197);
}
#P812_69
{
left:14461.4px;bottom:20490.3px;color:rgb(35,31,32);
}
#P812_70
{
left:14864.9px;bottom:20490.3px;letter-spacing:325.1px;color:rgb(35,31,32);
}
#P812_71
{
left:15421.4px;bottom:20504.5px;letter-spacing:-11.5px;color:rgb(35,31,32);
}
#P812_72
{
left:15421.4px;bottom:19544.5px;letter-spacing:-11.5px;color:rgb(35,31,32);
}
#P812_73
{
left:0px;letter-spacing:-11.5px;margin-left:-56.8px;
}
#P812_74
{
left:2365.4px;bottom:16492.5px;letter-spacing:-10.9px;color:rgb(35,31,32);
}
#P812_75
{
left:2365.4px;bottom:15050.3px;letter-spacing:-12.5px;color:rgb(0,125,197);
}
#P812_76
{
left:14461.4px;bottom:15050.3px;color:rgb(35,31,32);
}
#P812_77
{
left:14864.9px;bottom:15050.3px;color:rgb(35,31,32);
}
#P812_78
{
left:15421.4px;bottom:15064.5px;letter-spacing:-11.5px;color:rgb(35,31,32);
}
#P812_79
{
left:0px;letter-spacing:-11.5px;margin-left:-56.8px;
}
#P812_80
{
left:2365.4px;bottom:14090.3px;letter-spacing:-12.5px;color:rgb(0,125,197);
}
#P812_81
{
left:0px;letter-spacing:0px;margin-left:4751.1px;
}
#P812_82
{
left:15421.4px;bottom:14104.5px;letter-spacing:-11.5px;color:rgb(35,31,32);
}
#P812_83
{
left:15421.4px;bottom:13144.5px;letter-spacing:-11.5px;word-spacing:11894px;color:rgb(35,31,32);
}
#P812_84
{
left:0px;letter-spacing:-11.5px;margin-left:-11894px;
}
#P812_85
{
left:2365.4px;bottom:11402.3px;letter-spacing:-12.5px;color:rgb(0,125,197);
}
#P812_86
{
left:14461.4px;bottom:11402.3px;color:rgb(35,31,32);
}
#P812_87
{
left:14864.9px;bottom:11402.3px;color:rgb(35,31,32);
}
#P812_88
{
left:15421.4px;bottom:11416.5px;letter-spacing:-13.6px;color:rgb(35,31,32);
}
#P812_89
{
left:0px;letter-spacing:-11.5px;margin-left:2.1px;
}
#P812_90
{
left:2365.4px;bottom:10442.3px;letter-spacing:-12.5px;color:rgb(0,125,197);
}
#P812_91
{
left:0px;letter-spacing:-12.5px;margin-left:-92.2px;
}
#P812_92
{
left:0px;letter-spacing:0px;margin-left:7668px;
}
#P812_93
{
left:15421.4px;bottom:10456.5px;letter-spacing:-14.9px;color:rgb(35,31,32);
}
#P812_94
{
left:0px;letter-spacing:-11.5px;margin-left:3.4px;
}
#P812_95
{
left:2365.4px;bottom:8714.28px;letter-spacing:-13.2px;color:rgb(0,125,197);
}
#P812_96
{
left:14461.4px;bottom:8714.28px;color:rgb(35,31,32);
}
#P812_97
{
left:14864.9px;bottom:8714.28px;letter-spacing:325.1px;color:rgb(35,31,32);
}
#P812_98
{
left:15421.4px;bottom:8728.49px;letter-spacing:-11.3px;color:rgb(35,31,32);
}
#P812_99
{
left:15421.4px;bottom:7768.49px;color:rgb(35,31,32);
}
#P812_100
{
left:0px;letter-spacing:-11.5px;margin-left:-34.4px;
}
#P812_101
{
left:0px;letter-spacing:-11.5px;margin-left:-28.3px;
}
#P812_102
{
left:2365.4px;bottom:6026.28px;letter-spacing:-12.5px;color:rgb(0,125,197);
}
#P812_103
{
left:14461.4px;bottom:6026.28px;color:rgb(35,31,32);
}
#P812_104
{
left:14864.9px;bottom:6026.28px;letter-spacing:325.1px;color:rgb(35,31,32);
}
#P812_105
{
left:15421.4px;bottom:6040.49px;letter-spacing:-11.3px;color:rgb(35,31,32);
}
#P812_106
{
left:15421.4px;bottom:5080.49px;letter-spacing:-11.5px;color:rgb(35,31,32);
}
#P812_107
{
left:0px;letter-spacing:-11.5px;margin-left:-56.8px;
}
#PageContainer812
{
width:1066.62px;height:1364.16px;
}
 #TextContainer812 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
