.tr190{ color:transparent;}
#P190_1
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P190_2
{
left:3540.44px;bottom:1410.03px;color:rgb(35,31,31);
}
#P190_3
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P190_4
{
left:9125.52px;bottom:1410.03px;letter-spacing:2.1px;word-spacing:461.8px;color:rgb(35,31,31);
}
#P190_5
{
left:0px;letter-spacing:0px;margin-left:-463.9px;
}
#P190_6
{
left:0px;letter-spacing:0.3px;margin-left:0.3px;
}
#P190_7
{
left:0px;letter-spacing:0px;margin-left:-462.1px;
}
#P190_8
{
left:0px;letter-spacing:1.6px;margin-left:0.3px;
}
#P190_9
{
left:0px;bottom:0px;letter-spacing:0px;color:white;
}
#P190_10
{
left:5437.4px;bottom:46893.1px;color:white;
}
#P190_11
{
left:5417.69px;bottom:14408.9px;letter-spacing:-1.1px;color:rgb(35,31,31);
}
#P190_12
{
left:0px;letter-spacing:0px;margin-left:-12.9px;
}
#P190_13
{
left:5417.69px;bottom:13512.9px;color:rgb(35,31,31);
}
#P190_14
{
left:5417.69px;bottom:12360.9px;color:rgb(35,31,31);
}
#P190_15
{
left:5979.87px;bottom:12380.6px;color:rgb(35,31,31);
}
#P190_16
{
left:7011.35px;bottom:12360.9px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P190_17
{
left:5417.75px;bottom:10760.9px;color:rgb(35,31,31);
}
#P190_18
{
left:0px;letter-spacing:0px;margin-left:-56.2px;
}
#P190_19
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P190_20
{
left:5417.75px;bottom:9865px;color:rgb(35,31,31);
}
#P190_21
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P190_22
{
left:0px;letter-spacing:0px;margin-left:-21px;
}
#P190_23
{
left:5417.75px;bottom:8712.88px;color:rgb(35,31,31);
}
#P190_24
{
left:5979.93px;bottom:8732.59px;color:rgb(35,31,31);
}
#P190_25
{
left:7011.42px;bottom:8712.88px;letter-spacing:-1.9px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P190_26
{
left:0px;letter-spacing:-0.9px;margin-left:1.7px;
}
#P190_27
{
left:5417.82px;bottom:7368.88px;color:rgb(35,31,31);
}
#P190_28
{
left:5979.99px;bottom:7388.59px;color:rgb(35,31,31);
}
#P190_29
{
left:7011.48px;bottom:7368.88px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P190_30
{
left:13783.3px;bottom:7368.88px;letter-spacing:-3.5px;word-spacing:56.3px;color:rgb(35,31,31);
}
#P190_31
{
left:5417.82px;bottom:6024.88px;color:rgb(35,31,31);
}
#P190_32
{
left:5979.99px;bottom:6044.59px;color:rgb(35,31,31);
}
#P190_33
{
left:7011.42px;bottom:6024.88px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P190_34
{
left:0px;letter-spacing:0px;margin-left:0.8px;
}
#P190_35
{
left:5417.88px;bottom:4680.88px;color:rgb(35,31,31);
}
#P190_36
{
left:5980.06px;bottom:4700.59px;color:rgb(35,31,31);
}
#P190_37
{
left:7011.48px;bottom:4680.88px;color:rgb(35,31,31);
}
#P190_38
{
left:0px;letter-spacing:0px;margin-left:-214.7px;
}
#P190_39
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P190_40
{
left:15036.2px;bottom:4680.88px;word-spacing:56.3px;color:rgb(35,31,31);
}
#P190_41
{
left:0px;letter-spacing:0px;margin-left:-56.3px;
}
#P190_42
{
left:0px;letter-spacing:0px;margin-left:-6.9px;
}
#P190_43
{
left:4669.4px;bottom:43212.8px;letter-spacing:-31.6px;color:rgb(35,31,31);
}
#P190_44
{
left:0px;letter-spacing:0px;margin-left:31.6px;
}
#P190_45
{
left:9103.19px;bottom:43212.8px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P190_46
{
left:12877.5px;bottom:43212.8px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P190_47
{
left:0px;letter-spacing:0px;margin-left:-13.7px;
}
#P190_48
{
left:4669.4px;bottom:42316.8px;letter-spacing:0.8px;color:rgb(35,31,31);
}
#P190_49
{
left:0px;letter-spacing:0px;margin-left:-60.6px;
}
#P190_50
{
left:0px;letter-spacing:0px;
}
#P190_51
{
left:12972.1px;bottom:42316.8px;color:rgb(35,31,31);
}
#P190_52
{
left:0px;letter-spacing:0px;margin-left:-213.7px;
}
#P190_53
{
left:0px;letter-spacing:0px;margin-left:55.3px;
}
#P190_54
{
left:0px;letter-spacing:-5.6px;
}
#P190_55
{
left:0px;letter-spacing:0.9px;margin-left:5.6px;
}
#P190_56
{
left:0px;letter-spacing:-14px;margin-left:-43px;
}
#P190_57
{
left:0px;letter-spacing:-4px;margin-left:7.1px;
}
#P190_58
{
left:0px;letter-spacing:-0.6px;margin-left:4px;
}
#P190_59
{
left:0px;letter-spacing:0px;margin-left:-27.4px;
}
#P190_60
{
left:0px;letter-spacing:-6.1px;
}
#P190_61
{
left:0px;letter-spacing:0px;margin-left:-22px;
}
#P190_62
{
left:0px;letter-spacing:-2.8px;
}
#P190_63
{
left:0px;letter-spacing:0px;margin-left:-25.2px;
}
#P190_64
{
left:4669.4px;bottom:41420.9px;letter-spacing:-4.7px;color:rgb(35,31,31);
}
#P190_65
{
left:0px;letter-spacing:-3.5px;margin-left:4.7px;
}
#P190_66
{
left:0px;letter-spacing:-4px;margin-left:3.5px;
}
#P190_67
{
left:0px;letter-spacing:-2.8px;margin-left:4px;
}
#P190_68
{
left:13910.6px;bottom:41420.9px;color:rgb(35,31,31);
}
#P190_69
{
left:14907.4px;bottom:41420.9px;color:rgb(35,31,31);
}
#P190_70
{
left:17726.2px;bottom:41420.9px;letter-spacing:-5.2px;color:rgb(35,31,31);
}
#P190_71
{
left:0px;letter-spacing:0px;margin-left:-8.7px;
}
#P190_72
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P190_73
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P190_74
{
left:4669.4px;bottom:40524.9px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P190_75
{
left:26738.5px;bottom:45195.3px;word-spacing:0.2px;color:rgb(33,31,31);
}
#P190_76
{
left:22686.5px;bottom:4887.85px;letter-spacing:-1.2px;color:rgb(33,31,31);
}
#P190_77
{
left:0px;letter-spacing:-20.2px;margin-left:-56.4px;
}
#P190_78
{
left:0px;letter-spacing:-6.2px;margin-left:14.4px;
}
#P190_79
{
left:0px;letter-spacing:-5.8px;margin-left:-11.1px;
}
#P190_80
{
left:22682.5px;bottom:4247.92px;letter-spacing:-6.3px;word-spacing:0.5px;color:rgb(235,26,35);
}
#P190_81
{
left:25972px;bottom:4247.92px;letter-spacing:-15.4px;color:rgb(33,31,31);
}
#P190_82
{
left:0px;letter-spacing:-5.8px;margin-left:9.6px;
}
#P190_83
{
left:25476.6px;bottom:3607.98px;letter-spacing:-5.2px;word-spacing:0.2px;color:rgb(33,31,31);
}
#P190_84
{
left:0px;letter-spacing:0px;margin-left:11px;
}
#P190_85
{
left:0px;letter-spacing:0px;margin-left:-57.6px;
}
#P190_86
{
left:6710.94px;bottom:37368.9px;letter-spacing:-22.4px;color:rgb(2,77,161);
}
#P190_87
{
left:0px;letter-spacing:0px;margin-left:22.4px;
}
#P190_88
{
left:6710.94px;bottom:36293.7px;letter-spacing:-4.5px;color:rgb(35,31,31);
}
#P190_89
{
left:0px;letter-spacing:0px;margin-left:4.5px;
}
#P190_90
{
left:10078.9px;bottom:36293.7px;color:rgb(35,31,31);
}
#P190_91
{
left:10643.4px;bottom:36293.7px;color:rgb(35,31,31);
}
#P190_92
{
left:0px;letter-spacing:0px;margin-left:-26.9px;
}
#P190_93
{
left:0px;letter-spacing:0px;margin-left:-26.9px;
}
#P190_94
{
left:6710.94px;bottom:35218.5px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P190_95
{
left:15668.2px;bottom:35218.5px;color:rgb(35,31,31);
}
#P190_96
{
left:16110px;bottom:35218.5px;color:rgb(35,31,31);
}
#P190_97
{
left:6710.94px;bottom:34143.3px;color:rgb(35,31,31);
}
#P190_98
{
left:9296.79px;bottom:34143.3px;color:rgb(35,31,31);
}
#P190_99
{
left:9752.86px;bottom:34143.3px;color:rgb(35,31,31);
}
#P190_100
{
left:20492.3px;bottom:37368.9px;letter-spacing:-4.5px;color:rgb(2,77,161);
}
#P190_101
{
left:20492.3px;bottom:36293.7px;color:rgb(35,31,31);
}
#P190_102
{
left:21056.8px;bottom:36293.7px;color:rgb(35,31,31);
}
#P190_103
{
left:22001.2px;bottom:36293.7px;color:rgb(35,31,31);
}
#P190_104
{
left:29498px;bottom:23735.3px;letter-spacing:14.9px;color:rgb(35,31,31);
}
#P190_105
{
left:20492.3px;bottom:26877.6px;color:rgb(2,77,161);
}
#P190_106
{
left:20492.3px;bottom:25802.4px;color:rgb(35,31,31);
}
#P190_107
{
left:21056.8px;bottom:25802.4px;color:rgb(35,31,31);
}
#P190_108
{
left:22001.2px;bottom:25802.4px;color:rgb(237,28,35);
}
#P190_109
{
left:22442.9px;bottom:25802.4px;color:rgb(0,124,196);
}
#P190_110
{
left:20492.3px;bottom:24727.2px;color:rgb(35,31,31);
}
#P190_111
{
left:21164.3px;bottom:24727.2px;color:rgb(35,31,31);
}
#P190_112
{
left:21884.7px;bottom:24727.2px;color:rgb(237,28,35);
}
#P190_113
{
left:22459.9px;bottom:24727.2px;color:rgb(35,31,31);
}
#P190_114
{
left:22787px;bottom:24727.2px;color:rgb(0,124,196);
}
#P190_115
{
left:23634.6px;bottom:24727.2px;color:rgb(35,31,31);
}
#P190_116
{
left:20492.3px;bottom:23652px;color:rgb(35,31,31);
}
#P190_117
{
left:21164.3px;bottom:23652px;color:rgb(35,31,31);
}
#P190_118
{
left:20492.3px;bottom:22308px;color:rgb(35,31,31);
}
#P190_119
{
left:0px;letter-spacing:0px;margin-left:-26.9px;
}
#P190_120
{
left:0px;letter-spacing:0px;margin-left:-26.9px;
}
#P190_121
{
left:0px;letter-spacing:0px;margin-left:-26.9px;
}
#P190_122
{
left:20492.3px;bottom:21232.8px;letter-spacing:-3.4px;color:rgb(35,31,31);
}
#P190_123
{
left:0px;letter-spacing:-3.6px;margin-left:3.4px;
}
#P190_124
{
left:17845.7px;bottom:30023.3px;letter-spacing:-5.4px;color:rgb(2,77,161);
}
#P190_125
{
left:0px;letter-spacing:0px;margin-left:5.4px;
}
#P190_126
{
left:17025px;bottom:28948.1px;color:rgb(2,77,161);
}
#P190_127
{
left:0px;letter-spacing:0px;margin-left:-26.9px;
}
#P190_128
{
left:0px;letter-spacing:0px;margin-left:-26.9px;
}
#P190_129
{
left:25878.4px;bottom:26203.7px;letter-spacing:11.2px;color:rgb(35,31,31);
}
#P190_130
{
left:6710.94px;bottom:27293.2px;color:rgb(2,77,161);
}
#P190_131
{
left:6710.94px;bottom:26218px;color:rgb(35,31,31);
}
#P190_132
{
left:7275.42px;bottom:26218px;color:rgb(35,31,31);
}
#P190_133
{
left:8219.8px;bottom:26218px;color:rgb(237,28,35);
}
#P190_134
{
left:8661.53px;bottom:26218px;color:rgb(0,124,196);
}
#P190_135
{
left:6710.94px;bottom:25142.8px;color:rgb(35,31,31);
}
#P190_136
{
left:7382.94px;bottom:25142.8px;color:rgb(35,31,31);
}
#P190_137
{
left:8103.32px;bottom:25142.8px;color:rgb(237,28,35);
}
#P190_138
{
left:8693.79px;bottom:25142.8px;color:rgb(35,31,31);
}
#P190_139
{
left:9020.83px;bottom:25142.8px;color:rgb(0,124,196);
}
#P190_140
{
left:9530.65px;bottom:25142.8px;color:rgb(35,31,31);
}
#P190_141
{
left:6710.94px;bottom:24067.6px;color:rgb(35,31,31);
}
#P190_142
{
left:7382.94px;bottom:24067.6px;color:rgb(35,31,31);
}
#P190_143
{
left:6710.94px;bottom:22723.6px;color:rgb(35,31,31);
}
#P190_144
{
left:0px;letter-spacing:0px;margin-left:-26.9px;
}
#P190_145
{
left:0px;letter-spacing:0px;margin-left:-26.9px;
}
#P190_146
{
left:0px;letter-spacing:0px;margin-left:-26.9px;
}
#P190_147
{
left:6710.94px;bottom:21648.4px;color:rgb(35,31,31);
}
#P190_148
{
left:0px;letter-spacing:0px;margin-left:-26.9px;
}
#P190_149
{
left:0px;letter-spacing:0px;margin-left:-35.8px;
}
#P190_150
{
left:14928.2px;bottom:27432.9px;color:rgb(35,31,31);
}
#P190_151
{
left:13816.2px;bottom:25528.9px;color:rgb(35,31,31);
}
#P190_152
{
left:2883.8px;bottom:46399px;
}
#PageContainer190
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg190.jpg");background-repeat:no-repeat;background-size: 1000px 1277px; background-position: 0px -0.00999999999999091px;
}
#ImageContainer190 {bottom:87.01px;left:0.00px;width:1000.30px;height:1277.15px;position:absolute;} #TextContainer190 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.graphic_organizer{position: absolute;top: 79px;left: 722px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}