.tr29{ color:transparent;}
#P29_1
{
left:4592.6px;bottom:1417.71px;color:rgb(35,31,31);
}
#P29_2
{
left:21766.7px;bottom:1410.03px;color:rgb(35,31,31);
}
#P29_3
{
left:26320px;bottom:1417.71px;letter-spacing:4px;word-spacing:458.6px;color:rgb(35,31,31);
}
#P29_4
{
left:0px;letter-spacing:0px;margin-left:-462.6px;
}
#P29_5
{
left:0px;letter-spacing:3.8px;margin-left:3.5px;
}
#P29_6
{
left:0px;letter-spacing:0px;margin-left:-462.3px;
}
#P29_7
{
left:0px;letter-spacing:0.6px;margin-left:8.4px;
}
#P29_8
{
left:0px;letter-spacing:1.8px;margin-left:3.3px;
}
#P29_9
{
left:36533.7px;bottom:1410.03px;color:rgb(35,31,31);
}
#P29_10
{
left:15133.4px;bottom:4428.65px;color:rgb(0,124,196);
}
#P29_11
{
left:15549.4px;bottom:4460.65px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P29_12
{
left:0px;letter-spacing:0px;margin-left:130.4px;
}
#P29_13
{
left:0px;letter-spacing:-0.1px;
}
#P29_14
{
left:15549.4px;bottom:3564.67px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P29_15
{
left:0px;letter-spacing:0px;margin-left:0.9px;
}
#P29_16
{
left:11363.5px;bottom:43292.8px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P29_17
{
left:0px;letter-spacing:0.4px;margin-left:14.2px;
}
#P29_18
{
left:0px;letter-spacing:-14px;margin-left:-42.4px;
}
#P29_19
{
left:11363.5px;bottom:42140.8px;color:rgb(35,31,31);
}
#P29_20
{
left:11491.5px;bottom:42140.8px;letter-spacing:-14px;word-spacing:516.1px;color:rgb(35,31,31);
}
#P29_21
{
left:12707.5px;bottom:42140.8px;letter-spacing:-2.5px;color:rgb(35,31,31);
}
#P29_22
{
left:0px;letter-spacing:-0.5px;margin-left:2.5px;
}
#P29_23
{
left:0px;letter-spacing:0px;margin-left:0.5px;
}
#P29_24
{
left:12707.5px;bottom:41244.8px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P29_25
{
left:0px;letter-spacing:-0.4px;margin-left:1.2px;
}
#P29_26
{
left:11363.5px;bottom:40156.8px;color:rgb(35,31,31);
}
#P29_27
{
left:11491.5px;bottom:40156.8px;letter-spacing:-6.9px;color:rgb(35,31,31);
}
#P29_28
{
left: 12667.7px;bottom:40156.8px;letter-spacing:441.4px;color:rgb(35,31,31);
}
#P29_29
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P29_30
{
left:0px;letter-spacing:-2.3px;margin-left:-4.2px;
}
#P29_31
{
left:0px;letter-spacing:-0.2px;margin-left:2.3px;
}
#P29_32
{
left:0px;letter-spacing:0px;margin-left:-13.7px;
}
#P29_33
{
left:12707.5px;bottom:39260.8px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P29_34
{
left:11363.5px;bottom:38172.7px;color:rgb(35,31,31);
}
#P29_35
{
left:11491.5px;bottom:38172.7px;color:rgb(35,31,31);
}
#P29_36
{
left: 12686.4px;bottom:38172.7px;letter-spacing:512.7px;color:rgb(35,31,31);
}
#P29_37
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P29_38
{
left:0px;letter-spacing:-2.3px;
margin-left: 0px;
}
#P29_39
{
left:0px;letter-spacing:-0.5px;
margin-left: 0px;
}
#P29_40
{
left:0px;letter-spacing:0px;margin-left:0.5px;
}
#P29_41
{
left:12707.5px;bottom:37276.8px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P29_42
{
left:0px;letter-spacing:-0.4px;margin-left:1.2px;
}
#P29_43
{
left:11363.5px;bottom:36188.7px;color:rgb(35,31,31);
}
#P29_44
{
left:11491.5px;bottom:36188.7px;color:rgb(35,31,31);
}
#P29_45
{
left: 12094.5px;bottom:36188.7px;letter-spacing:434.6px;color:rgb(35,31,31);
}
#P29_46
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P29_47
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P29_48
{
left:0px;letter-spacing:-0.5px;
}
#P29_49
{
left:0px;letter-spacing:-0.4px;
margin-left: 0px;
}
#P29_50
{
left:12707.5px;bottom:35292.8px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P29_51
{
left:0px;letter-spacing:0px;margin-left:-66.4px;
}
#P29_52
{
left:12241.7px;bottom:44853px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P29_53
{
left:15666.8px;bottom:45044.8px;color:rgb(255,223,126);
}
#P29_54
{
left:16291.5px;bottom:44853px;word-spacing:207.4px;color:white;
}
#P29_55
{
left:18579.4px;bottom:45044.8px;color:white;
}
#P29_56
{
left:18819.6px;bottom:44853px;letter-spacing:-0.9px;word-spacing:-31.9px;color:white;
}
#P29_57
{
left:10501.3px;bottom:44729.5px;
}
#P29_58
{
left:10501.3px;bottom:44729.5px;color:white;
}
#P29_59
{
left:10477.4px;bottom:13685.5px;color:rgb(35,31,31);
}
#P29_60
{
left:10935.8px;bottom:13712.4px;word-spacing:394.4px;color:rgb(35,31,31);
}
#P29_61
{
left:12077.4px;bottom:13705.3px;word-spacing:-26px;color:rgb(2,77,161);
}
#P29_62
{
left:0px;letter-spacing:0px;margin-left:-26px;
}
#P29_63
{
left:0px;letter-spacing:0px;margin-left:26px;
}
#P29_64
{
left:18885.3px;bottom:13685.5px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P29_65
{
left:0px;letter-spacing:-7px;margin-left:-214.6px;
}
#P29_66
{
left:0px;letter-spacing:-2.8px;margin-left:7px;
}
#P29_67
{
left:0px;letter-spacing:-0.2px;margin-left:2.8px;
}
#P29_68
{
left:12077.4px;bottom:12789.5px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P29_69
{
left:0px;letter-spacing:0px;margin-left:0.8px;
}
#P29_70
{
left:10477.4px;bottom:11445.5px;color:rgb(35,31,31);
}
#P29_71
{
left:10935.8px;bottom:11472.4px;word-spacing:394.4px;color:rgb(35,31,31);
}
#P29_72
{
left:12077.4px;bottom:11445.5px;letter-spacing:-3.1px;color:rgb(35,31,31);
}
#P29_73
{
left:13431.3px;bottom:11445.5px;letter-spacing:-1.7px;color:rgb(35,31,31);
}
#P29_74
{
left:17592.7px;bottom:11445.5px;color:rgb(35,31,31);
}
#P29_75
{
left:12077.4px;bottom:10549.5px;letter-spacing:-3.6px;color:rgb(35,31,31);
}
#P29_76
{
left:0px;letter-spacing:0px;margin-left:-49.2px;
}
#P29_77
{
left:0px;letter-spacing:0px;
}
#P29_78
{
left:12077.4px;bottom:9653.61px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P29_79
{
left:0px;letter-spacing:0px;margin-left:0.4px;
}
#P29_80
{
left:12077.4px;bottom:8757.61px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P29_81
{
left:0px;letter-spacing:-0.4px;margin-left:-13px;
}
#P29_82
{
left:0px;letter-spacing:-0.8px;margin-left:-20.5px;
}
#P29_83
{
left:12077.4px;bottom:7861.61px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P29_84
{
left:11363.5px;bottom:30876.8px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P29_85
{
left:0px;letter-spacing:0.4px;margin-left:14.1px;
}
#P29_86
{
left:0px;letter-spacing:-14px;margin-left:-42.5px;
}
#P29_87
{
left:0px;letter-spacing:0px;margin-left:-17.6px;
}
#P29_88
{
left:0px;letter-spacing:-4.4px;
}
#P29_89
{
left:0px;letter-spacing:-2.1px;margin-left:4.4px;
}
#P29_90
{
left:0px;letter-spacing:-0.3px;margin-left:2.1px;
}
#P29_91
{
left:0px;letter-spacing:0px;margin-left:-41.8px;
}
#P29_92
{
left:11363.5px;bottom:29596.8px;color:rgb(35,31,31);
}
#P29_93
{
left:11491.5px;bottom:29596.8px;letter-spacing:-14px;word-spacing:516.1px;color:rgb(35,31,31);
}
#P29_94
{
left:12707.5px;bottom:29596.8px;letter-spacing:-0.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P29_95
{
left:12707.5px;bottom:28700.8px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P29_96
{
left:12707.5px;bottom:27804.8px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P29_97
{
left:11363.5px;bottom:26716.8px;color:rgb(35,31,31);
}
#P29_98
{
left:11491.5px;bottom:26716.8px;letter-spacing:-6.9px;color:rgb(35,31,31);
}
#P29_99
{
left:12707.5px;bottom:26716.8px;letter-spacing:-0.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P29_100
{
left:0px;letter-spacing:-0.1px;margin-left:-20.9px;
}
#P29_101
{
left:12707.5px;bottom:25820.8px;letter-spacing:-1.1px;color:rgb(35,31,31);
}
#P29_102
{
left:0px;letter-spacing:0px;margin-left:-12.8px;
}
#P29_103
{
left:12707.5px;bottom:24924.8px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P29_104
{
left:0px;letter-spacing:0px;margin-left:-13.1px;
}
#P29_105
{
left:12707.5px;bottom:24028.8px;letter-spacing:0.1px;word-spacing:0.6px;color:rgb(35,31,31);
}
#P29_106
{
left:11363.5px;bottom:22940.8px;color:rgb(35,31,31);
}
#P29_107
{
left:11491.5px;bottom:22940.8px;color:rgb(35,31,31);
}
#P29_108
{
left:12707.5px;bottom:22940.8px;letter-spacing:-0.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P29_109
{
left:0px;letter-spacing:-0.1px;margin-left:-20.9px;
}
#P29_110
{
left:12707.5px;bottom:22044.9px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P29_111
{
left:12707.5px;bottom:21149px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P29_112
{
left:0px;letter-spacing:0px;margin-left:-12.9px;
}
#P29_113
{
left:12707.5px;bottom:20253.1px;letter-spacing:-0.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P29_114
{
left:11363.5px;bottom:19165px;color:rgb(35,31,31);
}
#P29_115
{
left:11491.5px;bottom:19165px;color:rgb(35,31,31);
}
#P29_116
{
left: 12703.5px;bottom:19165px;letter-spacing:434.6px;color:rgb(35,31,31);
}
#P29_117
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P29_118
{
left:0px;letter-spacing:-0.6px;
}
#P29_119
{
left:12707.5px;bottom:18269px;letter-spacing:-5.6px;word-spacing:0.4px;color:rgb(35,31,31);
}
#P29_120
{
left:0px;letter-spacing:-4.7px;margin-left:-8.4px;
}
#P29_121
{
left:0px;letter-spacing:-1.3px;margin-left:162.2px;
}
#P29_122
{
left:0px;letter-spacing:0px;margin-left:-12.6px;
}
#P29_123
{
left:12241.7px;bottom:32437px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P29_124
{
left:15666.8px;bottom:32628.8px;color:rgb(255,223,126);
}
#P29_125
{
left:16291.5px;bottom:32437px;word-spacing:207.4px;color:white;
}
#P29_126
{
left:17203.9px;bottom:32628.8px;color:white;
}
#P29_127
{
left:17444.1px;bottom:32437px;color:white;
}
#P29_128
{
left:19797.7px;bottom:32628.8px;color:white;
}
#P29_129
{
left:20037.8px;bottom:32437px;color:white;
}
#P29_130
{
left:21558.5px;bottom:32628.8px;color:white;
}
#P29_131
{
left:21798.7px;bottom:32437px;color:white;
}
#P29_132
{
left:10501.3px;bottom:32313.5px;
}
#P29_133
{
left:10501.3px;bottom:32313.5px;color:white;
}
#P29_134
{
left:24011.1px;bottom:28384.4px;color:rgb(33,31,31);
}
#P29_135
{
left:24434.5px;bottom:27693.2px;color:rgb(33,31,31);
}
#P29_136
{
left:27028.4px;bottom:27917.1px;color:rgb(33,31,31);
}
#P29_137
{
left:24008px;bottom:22664.6px;color:rgb(33,31,31);
}
#P29_138
{
left:24543.1px;bottom:21973.4px;color:rgb(33,31,31);
}
#P29_139
{
left:27137.1px;bottom:22197.5px;color:rgb(33,31,31);
}
#P29_140
{
left:29180.6px;bottom:24608.1px;color:rgb(33,31,31);
}
#P29_141
{
left:29315.9px;bottom:23916.9px;color:rgb(33,31,31);
}
#P29_142
{
left:31909.7px;bottom:24140.9px;color:rgb(33,31,31);
}
#P29_143
{
left:30530.7px;bottom:21026px;color:rgb(33,31,31);
}
#P29_144
{
left:30571px;bottom:20334.8px;color:rgb(33,31,31);
}
#P29_145
{
left:32684.1px;bottom:20558.7px;color:rgb(33,31,31);
}
#P29_146
{
left:33077.8px;bottom:23112.2px;color:rgb(33,31,31);
}
#P29_147
{
left:33645.8px;bottom:22421px;color:rgb(33,31,31);
}
#P29_148
{
left:35759.1px;bottom:22645px;color:rgb(33,31,31);
}
#P29_149
{
left:29862.8px;bottom:11286.1px;color:rgb(235,26,35);
}
#P29_150
{
left:31106.2px;bottom:11286.1px;letter-spacing:885.8px;color:rgb(33,31,31);
}
#P29_151
{
left:29862.8px;bottom:10006.1px;color:rgb(235,26,35);
}
#P29_152
{
left:31106.2px;bottom:10006.1px;color:rgb(33,31,31);
}
#P29_153
{
left:32422.8px;bottom:10006.1px;color:rgb(235,26,35);
}
#P29_154
{
left:29826.2px;bottom:8726.12px;color:rgb(33,31,31);
}
#P29_155
{
left:31142.8px;bottom:8726.12px;letter-spacing:959px;color:rgb(235,26,35);
}
#P29_156
{
left:4957.34px;bottom:40826.3px;color:rgb(35,31,31);
}
#P29_157
{
left:4957.34px;bottom:40058.3px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P29_158
{
left:4957.34px;bottom:39191.5px;letter-spacing:-3.7px;color:rgb(35,31,31);
}
#P29_159
{
left:0px;letter-spacing:0px;margin-left:3.7px;
}
#P29_160
{
left:4957.34px;bottom:38455.5px;color:rgb(35,31,31);
}
#P29_161
{
left:4957.34px;bottom:37719.5px;color:rgb(35,31,31);
}
#P29_162
{
left:4957.34px;bottom:36983.6px;color:rgb(35,31,31);
}
#P29_163
{
left:4957.34px;bottom:36247.6px;color:rgb(35,31,31);
}
#P29_164
{
left:4706.71px;bottom:42610.1px;letter-spacing:-20.4px;color:white;
}
#P29_165
{
left:4706.71px;bottom:41650px;letter-spacing:-27.2px;color:white;
}
#P29_166
{
left:6685.79px;bottom:41906.8px;color:white;
}
#P29_167
{
left:6961.05px;bottom:41650px;letter-spacing:-27.2px;color:white;
}
#PageContainer29
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg029.jpg");background-repeat:no-repeat;background-size: 1021px 1273px; background-position: 0px -0.279999999999973px;
}
#ImageContainer29 {bottom:91.28px;left:0.00px;width:1020.57px;height:1272.88px;position:absolute;} #TextContainer29 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.practice{position: absolute;top: 1214px;left: 264px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}