.tr85{ color:transparent;}
#P85_1
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P85_2
{
left:23548.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P85_3
{
left:28097.8px;bottom:1410.03px;letter-spacing:0.8px;word-spacing:459.9px;color:rgb(35,31,31);
}
#P85_4
{
left:0px;letter-spacing:0px;margin-left:-460.7px;
}
#P85_5
{
left:0px;letter-spacing:5.8px;margin-left:-6.9px;
}
#P85_6
{
left:0px;letter-spacing:2.4px;margin-left:-10.1px;
}
#P85_7
{
left:36142px;bottom:1410.03px;color:rgb(35,31,31);
}
#P85_8
{
left:6352.28px;bottom:34189.3px;color:rgb(33,31,31);
}
#P85_9
{
left:6438.69px;bottom:34220.7px;color:rgb(33,31,31);
}
#P85_10
{
left:6868.77px;bottom:34376.8px;color:rgb(33,31,31);
}
#P85_11
{
left:6430.68px;bottom:34010.1px;color:rgb(33,31,31);
}
#P85_12
{
left:6517.09px;bottom:34041.5px;letter-spacing:-0.2px;color:rgb(33,31,31);
}
#P85_13
{
left:6800.1px;bottom:34144.2px;letter-spacing:0.8px;color:rgb(33,31,31);
}
#P85_14
{
left:6525.92px;bottom:33830.9px;color:rgb(33,31,31);
}
#P85_15
{
left:6612.32px;bottom:33862.3px;letter-spacing:-0.2px;color:rgb(33,31,31);
}
#P85_16
{
left:6895.33px;bottom:33965px;letter-spacing:0.8px;color:rgb(33,31,31);
}
#P85_17
{
left:6691.1px;bottom:33581.7px;color:rgb(33,31,31);
}
#P85_18
{
left:6777.5px;bottom:33613.1px;color:rgb(33,31,31);
}
#P85_19
{
left:8193.56px;bottom:46957.1px;letter-spacing:-6px;color:white;
}
#P85_20
{
left:11406px;bottom:47255.5px;color:white;
}
#P85_21
{
left:11779.6px;bottom:46957.1px;color:white;
}
#P85_22
{
left:4675.8px;bottom:46929.9px;color:white;
}
#P85_23
{
left:6994.71px;bottom:42286px;color:rgb(35,31,31);
}
#P85_24
{
left:7563.29px;bottom:42306.7px;color:rgb(35,31,31);
}
#P85_25
{
left:8658.71px;bottom:42306.7px;color:rgb(2,77,161);
}
#P85_26
{
left:11383.8px;bottom:42286px;letter-spacing:198.4px;color:rgb(35,31,31);
}
#P85_27
{
left:0px;letter-spacing:-2.4px;margin-left:-202.7px;
}
#P85_28
{
left:0px;letter-spacing:-0.8px;margin-left:2.4px;
}
#P85_29
{
left:6994.71px;bottom:40874.8px;color:rgb(35,31,31);
}
#P85_30
{
left:7563.29px;bottom:40895.5px;color:rgb(35,31,31);
}
#P85_31
{
left:8658.71px;bottom:40895.5px;color:rgb(2,77,161);
}
#P85_32
{
left:12375.1px;bottom:40874.8px;color:rgb(35,31,31);
}
#P85_32a
{
left:12375.1px;bottom:40874.8px;color:rgb(35,31,31);
}
#P85_33
{
left:0px;letter-spacing:0px;margin-left:198.4px;
}
#P85_34
{
left:0px;letter-spacing:0px;margin-left:-21.5px;
}
#P85_35
{
left:0px;letter-spacing:0px;margin-left:-43.2px;
}
#P85_36
{
left:6994.78px;bottom:39463.6px;color:rgb(35,31,31);
}
#P85_37
{
left:7954.71px;bottom:39484.3px;letter-spacing:521px;color:rgb(35,31,31);
}
#P85_38
{
left:10258.7px;bottom:39492.1px;letter-spacing:-195.7px;color:rgb(35,31,31);
}
#P85_39
{
left:10280.9px;bottom:39926.8px;color:rgb(35,31,31);
}
#P85_40
{
left:10633.5px;bottom:39482.1px;color:rgb(35,31,31);
}
#P85_41
{
left:10258.7px;bottom:39467.5px;color:rgb(35,31,31);
}
#P85_42
{
left:10655.6px;bottom:39473.7px;color:rgb(35,31,31);
}
#P85_43
{
left:10280.9px;bottom:38975.3px;color:rgb(35,31,31);
}
#P85_44
{
left:10633.5px;bottom:39482.1px;color:rgb(35,31,31);
}
#P85_45
{
left:10655.6px;bottom:39472.4px;color:rgb(35,31,31);
}
#P85_46
{
left:10655.6px;bottom:39463.6px;color:rgb(35,31,31);
}
#P85_47
{
left:10814px;bottom:39432.6px;color:rgb(35,31,31);
}
#P85_48
{
left:11400.5px;bottom:39463.6px;color:rgb(35,31,31);
}
#P85_49
{
left:11558.9px;bottom:39472.4px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P85_50
{
left:12116.4px;bottom:39924.6px;color:rgb(35,31,31);
}
#P85_51
{
left:12469px;bottom:39482.1px;color:rgb(35,31,31);
}
#P85_52
{
left:11558.9px;bottom:39465.2px;color:rgb(35,31,31);
}
#P85_53
{
left:13026.5px;bottom:39473.7px;color:rgb(35,31,31);
}
#P85_54
{
left:11581.1px;bottom:38981px;color:rgb(35,31,31);
}
#P85_55
{
left:13004.2px;bottom:39482.1px;color:rgb(35,31,31);
}
#P85_56
{
left:13026.5px;bottom:39472.4px;color:rgb(35,31,31);
}
#P85_57
{
left:13026.5px;bottom:39463.6px;color:rgb(35,31,31);
}
#P85_58
{
left:13184.8px;bottom:39432.6px;color:rgb(35,31,31);
}
#P85_59
{
left:13771.2px;bottom:39463.6px;color:rgb(35,31,31);
}
#P85_60
{
left:13929.6px;bottom:39472.4px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P85_61
{
left:14128.1px;bottom:39924.6px;color:rgb(35,31,31);
}
#P85_62
{
left:14480.7px;bottom:39482.1px;color:rgb(35,31,31);
}
#P85_63
{
left:13929.6px;bottom:39465.2px;color:rgb(35,31,31);
}
#P85_64
{
left:14679.2px;bottom:39473.7px;color:rgb(35,31,31);
}
#P85_65
{
left:13951.8px;bottom:38973.1px;color:rgb(35,31,31);
}
#P85_66
{
left:14657px;bottom:39482.1px;color:rgb(35,31,31);
}
#P85_67
{
left:14679.2px;bottom:39472.4px;color:rgb(35,31,31);
}
#P85_68
{
left:6994.71px;bottom:37366.8px;color:rgb(35,31,31);
}
#P85_69
{
left:7563.16px;bottom:37386.5px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P85_70
{
left:8658.71px;bottom:37386.5px;color:rgb(2,77,161);
}
#P85_71
{
left:13051px;bottom:37366.8px;letter-spacing:151.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P85_72
{
left:0px;letter-spacing:5.5px;margin-left:-183px;
}
#P85_73
{
left:0px;letter-spacing:-0.2px;margin-left:-5.6px;
}
#P85_74
{
left:8658.71px;bottom:36470.8px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P85_75
{
left:6935.71px;bottom:31749.5px;letter-spacing:-6.3px;color:rgb(35,31,31);
}
#P85_76
{
left:0px;letter-spacing:0px;margin-left:6.3px;
}
#P85_77
{
left:0px;letter-spacing:-35.1px;margin-left:-50.6px;
}
#P85_78
{
left:0px;letter-spacing:0px;margin-left:40.5px;
}
#P85_79
{
left:6935.71px;bottom:30149.5px;color:rgb(35,31,31);
}
#P85_80
{
left:7504.15px;bottom:30169.2px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P85_81
{
left:8535.58px;bottom:30169.2px;color:rgb(35,31,31);
}
#P85_82
{
left:8556.76px;bottom:30591.3px;color:rgb(35,31,31);
}
#P85_83
{
left:8892.57px;bottom:30167.1px;color:rgb(35,31,31);
}
#P85_84
{
left:8535.64px;bottom:30135.6px;color:rgb(35,31,31);
}
#P85_85
{
left:8913.69px;bottom:30150.8px;color:rgb(35,31,31);
}
#P85_86
{
left:8556.76px;bottom:29683.8px;color:rgb(35,31,31);
}
#P85_87
{
left:8892.57px;bottom:30167.1px;color:rgb(35,31,31);
}
#P85_88
{
left:8913.69px;bottom:30149.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P85_89
{
left:9072.03px;bottom:30119.9px;color:rgb(35,31,31);
}
#P85_90
{
left:9658.46px;bottom:30149.5px;color:rgb(35,31,31);
}
#P85_91
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P85_92
{
left:9837.98px;bottom:30589.2px;color:rgb(35,31,31);
}
#P85_93
{
left:10173.8px;bottom:30167.1px;color:rgb(35,31,31);
}
#P85_94
{
left:9816.86px;bottom:30133.5px;color:rgb(35,31,31);
}
#P85_95
{
left:10194.9px;bottom:30150.8px;color:rgb(35,31,31);
}
#P85_96
{
left:9837.98px;bottom:29681.6px;color:rgb(35,31,31);
}
#P85_97
{
left:10173.8px;bottom:30167.1px;color:rgb(35,31,31);
}
#P85_98
{
left:10194.9px;bottom:30149.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P85_99
{
left:14800.2px;bottom:30169.2px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P85_100
{
left:15831.6px;bottom:30169.2px;color:rgb(35,31,31);
}
#P85_101
{
left:15852.8px;bottom:30591.3px;color:rgb(35,31,31);
}
#P85_102
{
left:16188.6px;bottom:30167.1px;color:rgb(35,31,31);
}
#P85_103
{
left:15831.6px;bottom:30135.6px;color:rgb(35,31,31);
}
#P85_104
{
left:16209.7px;bottom:30150.8px;color:rgb(35,31,31);
}
#P85_105
{
left:15852.8px;bottom:29683.8px;color:rgb(35,31,31);
}
#P85_106
{
left:16188.6px;bottom:30167.1px;color:rgb(35,31,31);
}
#P85_107
{
left:16209.7px;bottom:30149.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P85_108
{
left:16368px;bottom:30119.9px;color:rgb(35,31,31);
}
#P85_109
{
left:16954.5px;bottom:30149.5px;color:rgb(35,31,31);
}
#P85_110
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P85_111
{
left:17134px;bottom:30589.2px;color:rgb(35,31,31);
}
#P85_112
{
left:17469.8px;bottom:30167.1px;color:rgb(35,31,31);
}
#P85_113
{
left:17112.9px;bottom:30133.5px;color:rgb(35,31,31);
}
#P85_114
{
left:17490.9px;bottom:30150.8px;color:rgb(35,31,31);
}
#P85_115
{
left:17134px;bottom:29681.6px;color:rgb(35,31,31);
}
#P85_116
{
left:17469.8px;bottom:30167.1px;color:rgb(35,31,31);
}
#P85_117
{
left:17490.9px;bottom:30149.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P85_118
{
left:22224.2px;bottom:30169.2px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P85_119
{
left:23255.8px;bottom:30169.2px;color:rgb(35,31,31);
}
#P85_120
{
left:23276.8px;bottom:30591.3px;color:rgb(35,31,31);
}
#P85_121
{
left:23612.6px;bottom:30167.1px;color:rgb(35,31,31);
}
#P85_122
{
left:23255.6px;bottom:30135.6px;color:rgb(35,31,31);
}
#P85_123
{
left:23633.7px;bottom:30150.8px;color:rgb(35,31,31);
}
#P85_124
{
left:23276.8px;bottom:29683.8px;color:rgb(35,31,31);
}
#P85_125
{
left:23612.6px;bottom:30167.1px;color:rgb(35,31,31);
}
#P85_126
{
left:23633.7px;bottom:30149.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P85_127
{
left:23792.1px;bottom:30119.9px;color:rgb(35,31,31);
}
#P85_128
{
left:24378.5px;bottom:30149.5px;color:rgb(35,31,31);
}
#P85_129
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P85_130
{
left:24558px;bottom:30589.2px;color:rgb(35,31,31);
}
#P85_131
{
left:24893.8px;bottom:30167.1px;color:rgb(35,31,31);
}
#P85_132
{
left:24536.9px;bottom:30133.5px;color:rgb(35,31,31);
}
#P85_133
{
left:24914.9px;bottom:30150.8px;color:rgb(35,31,31);
}
#P85_134
{
left:24558px;bottom:29681.6px;color:rgb(35,31,31);
}
#P85_135
{
left:24893.8px;bottom:30167.1px;color:rgb(35,31,31);
}
#P85_136
{
left:24914.9px;bottom:30149.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P85_137
{
left:29584.2px;bottom:30169.2px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P85_138
{
left:30615.7px;bottom:30169.2px;color:rgb(35,31,31);
}
#P85_139
{
left:30636.8px;bottom:30591.3px;color:rgb(35,31,31);
}
#P85_140
{
left:30972.6px;bottom:30167.1px;color:rgb(35,31,31);
}
#P85_141
{
left:30615.6px;bottom:30135.6px;color:rgb(35,31,31);
}
#P85_142
{
left:30993.7px;bottom:30150.8px;color:rgb(35,31,31);
}
#P85_143
{
left:30636.8px;bottom:29683.8px;color:rgb(35,31,31);
}
#P85_144
{
left:30972.6px;bottom:30167.1px;color:rgb(35,31,31);
}
#P85_145
{
left:30993.7px;bottom:30149.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P85_146
{
left:31152.1px;bottom:30119.9px;color:rgb(35,31,31);
}
#P85_147
{
left:31738.5px;bottom:30149.5px;color:rgb(35,31,31);
}
#P85_148
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P85_149
{
left:31918px;bottom:30589.2px;color:rgb(35,31,31);
}
#P85_150
{
left:32253.8px;bottom:30167.1px;color:rgb(35,31,31);
}
#P85_151
{
left:31896.9px;bottom:30133.5px;color:rgb(35,31,31);
}
#P85_152
{
left:32274.9px;bottom:30150.8px;color:rgb(35,31,31);
}
#P85_153
{
left:31918px;bottom:29681.6px;color:rgb(35,31,31);
}
#P85_154
{
left:32253.8px;bottom:30167.1px;color:rgb(35,31,31);
}
#P85_155
{
left:32274.9px;bottom:30149.5px;color:rgb(35,31,31);
}
#P85_156
{
left:6935.64px;bottom:28037.5px;color:rgb(35,31,31);
}
#P85_157
{
left:7504.09px;bottom:28057.2px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P85_158
{
left:8535.51px;bottom:28057.2px;color:rgb(35,31,31);
}
#P85_159
{
left:8556.76px;bottom:28479.3px;color:rgb(35,31,31);
}
#P85_160
{
left:8892.57px;bottom:28055.1px;color:rgb(35,31,31);
}
#P85_161
{
left:8535.64px;bottom:28023.6px;color:rgb(35,31,31);
}
#P85_162
{
left:8913.69px;bottom:28038.8px;color:rgb(35,31,31);
}
#P85_163
{
left:8556.76px;bottom:27571.8px;color:rgb(35,31,31);
}
#P85_164
{
left:8892.57px;bottom:28055.1px;color:rgb(35,31,31);
}
#P85_165
{
left:8913.69px;bottom:28037.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P85_166
{
left:9072.03px;bottom:28007.9px;color:rgb(35,31,31);
}
#P85_167
{
left:9658.46px;bottom:28037.5px;color:rgb(35,31,31);
}
#P85_168
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P85_169
{
left:9837.98px;bottom:28477.2px;color:rgb(35,31,31);
}
#P85_170
{
left:10173.8px;bottom:28055.1px;color:rgb(35,31,31);
}
#P85_171
{
left:9816.86px;bottom:28021.5px;color:rgb(35,31,31);
}
#P85_172
{
left:10194.9px;bottom:28038.8px;color:rgb(35,31,31);
}
#P85_173
{
left:9837.98px;bottom:27569.6px;color:rgb(35,31,31);
}
#P85_174
{
left:10173.8px;bottom:28055.1px;color:rgb(35,31,31);
}
#P85_175
{
left:10194.9px;bottom:28037.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P85_176
{
left:14800.2px;bottom:28057.2px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P85_177
{
left:15831.6px;bottom:28057.2px;color:rgb(35,31,31);
}
#P85_178
{
left:15852.8px;bottom:28479.3px;color:rgb(35,31,31);
}
#P85_179
{
left:16188.6px;bottom:28055.1px;color:rgb(35,31,31);
}
#P85_180
{
left:15831.6px;bottom:28023.6px;color:rgb(35,31,31);
}
#P85_181
{
left:16209.7px;bottom:28038.8px;color:rgb(35,31,31);
}
#P85_182
{
left:15852.8px;bottom:27571.8px;color:rgb(35,31,31);
}
#P85_183
{
left:16188.6px;bottom:28055.1px;color:rgb(35,31,31);
}
#P85_184
{
left:16209.7px;bottom:28037.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P85_185
{
left:16368px;bottom:28007.9px;color:rgb(35,31,31);
}
#P85_186
{
left:16954.5px;bottom:28037.5px;color:rgb(35,31,31);
}
#P85_187
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P85_188
{
left:17134px;bottom:28477.2px;color:rgb(35,31,31);
}
#P85_189
{
left:17469.8px;bottom:28055.1px;color:rgb(35,31,31);
}
#P85_190
{
left:17112.9px;bottom:28021.5px;color:rgb(35,31,31);
}
#P85_191
{
left:17490.9px;bottom:28038.8px;color:rgb(35,31,31);
}
#P85_192
{
left:17134px;bottom:27569.6px;color:rgb(35,31,31);
}
#P85_193
{
left:17469.8px;bottom:28055.1px;color:rgb(35,31,31);
}
#P85_194
{
left:17490.9px;bottom:28037.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P85_195
{
left:21832.8px;bottom:28057.2px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P85_196
{
left:23255.8px;bottom:28057.2px;color:rgb(35,31,31);
}
#P85_197
{
left:23276.8px;bottom:28479.3px;color:rgb(35,31,31);
}
#P85_198
{
left:23612.6px;bottom:28055.1px;color:rgb(35,31,31);
}
#P85_199
{
left:23255.6px;bottom:28023.6px;color:rgb(35,31,31);
}
#P85_200
{
left:23633.7px;bottom:28038.8px;color:rgb(35,31,31);
}
#P85_201
{
left:23276.8px;bottom:27571.8px;color:rgb(35,31,31);
}
#P85_202
{
left:23612.6px;bottom:28055.1px;color:rgb(35,31,31);
}
#P85_203
{
left:23633.7px;bottom:28037.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P85_204
{
left:23792.1px;bottom:28007.9px;color:rgb(35,31,31);
}
#P85_205
{
left:24378.5px;bottom:28037.5px;color:rgb(35,31,31);
}
#P85_206
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P85_207
{
left:24558px;bottom:28477.2px;color:rgb(35,31,31);
}
#P85_208
{
left:24893.8px;bottom:28055.1px;color:rgb(35,31,31);
}
#P85_209
{
left:24536.9px;bottom:28021.5px;color:rgb(35,31,31);
}
#P85_210
{
left:24914.9px;bottom:28038.8px;color:rgb(35,31,31);
}
#P85_211
{
left:24558px;bottom:27569.6px;color:rgb(35,31,31);
}
#P85_212
{
left:24893.8px;bottom:28055.1px;color:rgb(35,31,31);
}
#P85_213
{
left:24914.9px;bottom:28037.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P85_214
{
left:29192.7px;bottom:28057.2px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P85_215
{
left:30615.7px;bottom:28057.2px;color:rgb(35,31,31);
}
#P85_216
{
left:30636.8px;bottom:28479.3px;color:rgb(35,31,31);
}
#P85_217
{
left:30972.6px;bottom:28055.1px;color:rgb(35,31,31);
}
#P85_218
{
left:30615.6px;bottom:28023.6px;color:rgb(35,31,31);
}
#P85_219
{
left:30993.7px;bottom:28038.8px;color:rgb(35,31,31);
}
#P85_220
{
left:30636.8px;bottom:27571.8px;color:rgb(35,31,31);
}
#P85_221
{
left:30972.6px;bottom:28055.1px;color:rgb(35,31,31);
}
#P85_222
{
left:30993.7px;bottom:28037.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P85_223
{
left:31152.1px;bottom:28007.9px;color:rgb(35,31,31);
}
#P85_224
{
left:31738.5px;bottom:28037.5px;color:rgb(35,31,31);
}
#P85_225
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P85_226
{
left:31918px;bottom:28477.2px;color:rgb(35,31,31);
}
#P85_227
{
left:32253.8px;bottom:28055.1px;color:rgb(35,31,31);
}
#P85_228
{
left:31896.9px;bottom:28021.5px;color:rgb(35,31,31);
}
#P85_229
{
left:32274.9px;bottom:28038.8px;color:rgb(35,31,31);
}
#P85_230
{
left:31918px;bottom:27569.6px;color:rgb(35,31,31);
}
#P85_231
{
left:32253.8px;bottom:28055.1px;color:rgb(35,31,31);
}
#P85_232
{
left:32274.9px;bottom:28037.5px;color:rgb(35,31,31);
}
#P85_233
{
left:6935.64px;bottom:25925.5px;color:rgb(35,31,31);
}
#P85_234
{
left:7112.67px;bottom:25945.2px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P85_235
{
left:8535.51px;bottom:25945.2px;color:rgb(35,31,31);
}
#P85_236
{
left:8724.63px;bottom:26367.3px;color:rgb(35,31,31);
}
#P85_237
{
left:9060.44px;bottom:25943.1px;color:rgb(35,31,31);
}
#P85_238
{
left:8535.64px;bottom:25911.6px;color:rgb(35,31,31);
}
#P85_239
{
left:9249.5px;bottom:25926.8px;color:rgb(35,31,31);
}
#P85_240
{
left:8556.76px;bottom:25459.8px;color:rgb(35,31,31);
}
#P85_241
{
left:9228.38px;bottom:25943.1px;color:rgb(35,31,31);
}
#P85_242
{
left:9249.5px;bottom:25925.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P85_243
{
left:9407.83px;bottom:25895.9px;color:rgb(35,31,31);
}
#P85_244
{
left:9994.27px;bottom:25925.5px;color:rgb(35,31,31);
}
#P85_245
{
left:14408.7px;bottom:25945.2px;color:rgb(35,31,31);
}
#P85_246
{
left:15831.6px;bottom:25925.5px;color:rgb(35,31,31);
}
#P85_247
{
left:16363px;bottom:25895.9px;color:rgb(35,31,31);
}
#P85_248
{
left:16949.4px;bottom:25925.5px;color:rgb(35,31,31);
}
#P85_249
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P85_250
{
left:17129px;bottom:26365.2px;color:rgb(35,31,31);
}
#P85_251
{
left:17464.9px;bottom:25943.1px;color:rgb(35,31,31);
}
#P85_252
{
left:17107.9px;bottom:25909.5px;color:rgb(35,31,31);
}
#P85_253
{
left:17486px;bottom:25926.8px;color:rgb(35,31,31);
}
#P85_254
{
left:17129px;bottom:25457.6px;color:rgb(35,31,31);
}
#P85_255
{
left:17464.9px;bottom:25943.1px;color:rgb(35,31,31);
}
#P85_256
{
left:17486px;bottom:25925.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P85_257
{
left:21832.9px;bottom:25945.2px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P85_258
{
left:23255.8px;bottom:25945.2px;color:rgb(35,31,31);
}
#P85_259
{
left:23276.8px;bottom:26367.3px;color:rgb(35,31,31);
}
#P85_260
{
left:23612.6px;bottom:25943.1px;color:rgb(35,31,31);
}
#P85_261
{
left:23255.6px;bottom:25911.6px;color:rgb(35,31,31);
}
#P85_262
{
left:23633.7px;bottom:25926.8px;color:rgb(35,31,31);
}
#P85_263
{
left:23276.8px;bottom:25459.8px;color:rgb(35,31,31);
}
#P85_264
{
left:23612.6px;bottom:25943.1px;color:rgb(35,31,31);
}
#P85_265
{
left:23633.7px;bottom:25925.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P85_266
{
left:23792.1px;bottom:25895.9px;color:rgb(35,31,31);
}
#P85_267
{
left:24378.5px;bottom:25925.5px;color:rgb(35,31,31);
}
#P85_268
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P85_269
{
left:24725.9px;bottom:26365.2px;color:rgb(35,31,31);
}
#P85_270
{
left:25061.7px;bottom:25943.1px;color:rgb(35,31,31);
}
#P85_271
{
left:24536.9px;bottom:25909.5px;color:rgb(35,31,31);
}
#P85_272
{
left:25250.7px;bottom:25926.8px;color:rgb(35,31,31);
}
#P85_273
{
left:24558px;bottom:25457.6px;color:rgb(35,31,31);
}
#P85_274
{
left:25229.6px;bottom:25943.1px;color:rgb(35,31,31);
}
#P85_275
{
left:25250.7px;bottom:25925.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P85_276
{
left:29192.8px;bottom:25945.2px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P85_277
{
left:30615.6px;bottom:25945.2px;color:rgb(35,31,31);
}
#P85_278
{
left:30636.8px;bottom:26367.3px;color:rgb(35,31,31);
}
#P85_279
{
left:30972.6px;bottom:25943.1px;color:rgb(35,31,31);
}
#P85_280
{
left:30615.6px;bottom:25911.6px;color:rgb(35,31,31);
}
#P85_281
{
left:30993.7px;bottom:25926.8px;color:rgb(35,31,31);
}
#P85_282
{
left:30636.8px;bottom:25459.8px;color:rgb(35,31,31);
}
#P85_283
{
left:30972.6px;bottom:25943.1px;color:rgb(35,31,31);
}
#P85_284
{
left:30993.7px;bottom:25925.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P85_285
{
left:31152.1px;bottom:25895.9px;color:rgb(35,31,31);
}
#P85_286
{
left:31738.5px;bottom:25925.5px;color:rgb(35,31,31);
}
#P85_287
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P85_288
{
left:31918px;bottom:26365.2px;color:rgb(35,31,31);
}
#P85_289
{
left:32253.8px;bottom:25943.1px;color:rgb(35,31,31);
}
#P85_290
{
left:31896.9px;bottom:25909.5px;color:rgb(35,31,31);
}
#P85_291
{
left:32274.9px;bottom:25926.8px;color:rgb(35,31,31);
}
#P85_292
{
left:31918px;bottom:25457.6px;color:rgb(35,31,31);
}
#P85_293
{
left:32253.8px;bottom:25943.1px;color:rgb(35,31,31);
}
#P85_294
{
left:32274.9px;bottom:25925.5px;color:rgb(35,31,31);
}
#P85_295
{
left:6935.64px;bottom:23813.5px;color:rgb(35,31,31);
}
#P85_296
{
left:7112.67px;bottom:23833.2px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P85_297
{
left:8535.51px;bottom:23833.2px;color:rgb(35,31,31);
}
#P85_298
{
left:8556.76px;bottom:24255.3px;color:rgb(35,31,31);
}
#P85_299
{
left:8892.57px;bottom:23831.1px;color:rgb(35,31,31);
}
#P85_300
{
left:8535.64px;bottom:23799.6px;color:rgb(35,31,31);
}
#P85_301
{
left:8913.69px;bottom:23814.8px;color:rgb(35,31,31);
}
#P85_302
{
left:8556.76px;bottom:23347.8px;color:rgb(35,31,31);
}
#P85_303
{
left:8892.57px;bottom:23831.1px;color:rgb(35,31,31);
}
#P85_304
{
left:8913.69px;bottom:23813.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P85_305
{
left:9072.03px;bottom:23783.9px;color:rgb(35,31,31);
}
#P85_306
{
left:9658.46px;bottom:23813.5px;color:rgb(35,31,31);
}
#P85_307
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P85_308
{
left:9837.98px;bottom:24253.2px;color:rgb(35,31,31);
}
#P85_309
{
left:10173.8px;bottom:23831.1px;color:rgb(35,31,31);
}
#P85_310
{
left:9816.86px;bottom:23797.5px;color:rgb(35,31,31);
}
#P85_311
{
left:10194.9px;bottom:23814.8px;color:rgb(35,31,31);
}
#P85_312
{
left:9837.98px;bottom:23345.6px;color:rgb(35,31,31);
}
#P85_313
{
left:10173.8px;bottom:23831.1px;color:rgb(35,31,31);
}
#P85_314
{
left:10194.9px;bottom:23813.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P85_315
{
left:14408.8px;bottom:23833.2px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P85_316
{
left:15831.6px;bottom:23833.2px;color:rgb(35,31,31);
}
#P85_317
{
left:15852.8px;bottom:24255.3px;color:rgb(35,31,31);
}
#P85_318
{
left:16188.6px;bottom:23831.1px;color:rgb(35,31,31);
}
#P85_319
{
left:15831.6px;bottom:23799.6px;color:rgb(35,31,31);
}
#P85_320
{
left:16209.7px;bottom:23814.8px;color:rgb(35,31,31);
}
#P85_321
{
left:15852.8px;bottom:23347.8px;color:rgb(35,31,31);
}
#P85_322
{
left:16188.6px;bottom:23831.1px;color:rgb(35,31,31);
}
#P85_323
{
left:16209.7px;bottom:23813.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P85_324
{
left:16368px;bottom:23783.9px;color:rgb(35,31,31);
}
#P85_325
{
left:16954.5px;bottom:23813.5px;color:rgb(35,31,31);
}
#P85_326
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P85_327
{
left:17134px;bottom:24253.2px;color:rgb(35,31,31);
}
#P85_328
{
left:17469.8px;bottom:23831.1px;color:rgb(35,31,31);
}
#P85_329
{
left:17112.9px;bottom:23797.5px;color:rgb(35,31,31);
}
#P85_330
{
left:17490.9px;bottom:23814.8px;color:rgb(35,31,31);
}
#P85_331
{
left:17134px;bottom:23345.6px;color:rgb(35,31,31);
}
#P85_332
{
left:17469.8px;bottom:23831.1px;color:rgb(35,31,31);
}
#P85_333
{
left:17490.9px;bottom:23813.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P85_334
{
left:21832.8px;bottom:23833.2px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P85_335
{
left:23255.8px;bottom:23833.2px;color:rgb(35,31,31);
}
#P85_336
{
left:23276.8px;bottom:24255.3px;color:rgb(35,31,31);
}
#P85_337
{
left:23948.4px;bottom:23831.1px;color:rgb(35,31,31);
}
#P85_338
{
left:23255.6px;bottom:23799.6px;color:rgb(35,31,31);
}
#P85_339
{
left:23969.5px;bottom:23814.8px;color:rgb(35,31,31);
}
#P85_340
{
left:23276.8px;bottom:23347.8px;color:rgb(35,31,31);
}
#P85_341
{
left:23948.4px;bottom:23831.1px;color:rgb(35,31,31);
}
#P85_342
{
left:23969.5px;bottom:23813.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P85_343
{
left:24127.8px;bottom:23783.9px;color:rgb(35,31,31);
}
#P85_344
{
left:24714.3px;bottom:23813.5px;color:rgb(35,31,31);
}
#P85_345
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P85_346
{
left:24893.8px;bottom:24253.2px;color:rgb(35,31,31);
}
#P85_347
{
left:25229.6px;bottom:23831.1px;color:rgb(35,31,31);
}
#P85_348
{
left:24872.7px;bottom:23797.5px;color:rgb(35,31,31);
}
#P85_349
{
left:25250.7px;bottom:23814.8px;color:rgb(35,31,31);
}
#P85_350
{
left:24893.8px;bottom:23345.6px;color:rgb(35,31,31);
}
#P85_351
{
left:25229.6px;bottom:23831.1px;color:rgb(35,31,31);
}
#P85_352
{
left:25250.7px;bottom:23813.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P85_353
{
left:29192.8px;bottom:23833.2px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P85_354
{
left:30615.6px;bottom:23833.2px;color:rgb(35,31,31);
}
#P85_355
{
left:30636.8px;bottom:24255.3px;color:rgb(35,31,31);
}
#P85_356
{
left:30972.6px;bottom:23831.1px;color:rgb(35,31,31);
}
#P85_357
{
left:30615.6px;bottom:23799.6px;color:rgb(35,31,31);
}
#P85_358
{
left:30993.7px;bottom:23814.8px;color:rgb(35,31,31);
}
#P85_359
{
left:30636.8px;bottom:23347.8px;color:rgb(35,31,31);
}
#P85_360
{
left:30972.6px;bottom:23831.1px;color:rgb(35,31,31);
}
#P85_361
{
left:30993.7px;bottom:23813.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P85_362
{
left:31152.1px;bottom:23783.9px;color:rgb(35,31,31);
}
#P85_363
{
left:31738.5px;bottom:23813.5px;color:rgb(35,31,31);
}
#P85_364
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P85_365
{
left:31918px;bottom:24253.2px;color:rgb(35,31,31);
}
#P85_366
{
left:32589.6px;bottom:23831.1px;color:rgb(35,31,31);
}
#P85_367
{
left:31896.9px;bottom:23797.5px;color:rgb(35,31,31);
}
#P85_368
{
left:32610.7px;bottom:23814.8px;color:rgb(35,31,31);
}
#P85_369
{
left:31918px;bottom:23345.6px;color:rgb(35,31,31);
}
#P85_370
{
left:32589.6px;bottom:23831.1px;color:rgb(35,31,31);
}
#P85_371
{
left:32610.7px;bottom:23813.5px;color:rgb(35,31,31);
}
#P85_372
{
left:6935.64px;bottom:21573.5px;color:rgb(35,31,31);
}
#P85_373
{
left:7112.67px;bottom:21593.2px;color:rgb(35,31,31);
}
#P85_374
{
left:8599.64px;bottom:21593.2px;word-spacing:-26px;color:rgb(2,77,161);
}
#P85_375
{
left:0px;letter-spacing:0px;margin-left:-52.8px;
}
#P85_376
{
left:0px;letter-spacing:0px;margin-left:-12.5px;
}
#P85_377
{
left:13893.1px;bottom:21573.5px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P85_378
{
left:0px;letter-spacing:-0.5px;margin-left:-197.8px;
}
#P85_379
{
left:0px;letter-spacing:-0.3px;margin-left:0.5px;
}
#P85_380
{
left:0px;letter-spacing:0px;margin-left:-214.6px;
}
#P85_381
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P85_382
{
left:0px;letter-spacing:-0.3px;
}
#P85_383
{
left:6935.64px;bottom:14917.5px;color:rgb(35,31,31);
}
#P85_384
{
left:10248.8px;bottom:14937.2px;color:rgb(35,31,31);
}
#P85_385
{
left:11735.6px;bottom:14937.2px;letter-spacing:-183px;color:rgb(2,77,161);
}
#P85_386
{
left:0px;letter-spacing:-2.1px;margin-left:170.5px;
}
#P85_387
{
left:15217.8px;bottom:14917.5px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P85_388
{
left:0px;letter-spacing:0.4px;margin-left:-206.1px;
}
#P85_389
{
left:0px;letter-spacing:0px;margin-left:-158.8px;
}
#P85_390
{
left:20865.2px;bottom:15357.2px;color:rgb(35,31,31);
}
#P85_391
{
left:21201px;bottom:14935.1px;color:rgb(35,31,31);
}
#P85_392
{
left:20844.1px;bottom:14901.5px;color:rgb(35,31,31);
}
#P85_393
{
left:21222.1px;bottom:14918.8px;color:rgb(35,31,31);
}
#P85_394
{
left:20865.2px;bottom:14449.6px;color:rgb(35,31,31);
}
#P85_395
{
left:21201px;bottom:14935.1px;color:rgb(35,31,31);
}
#P85_396
{
left:21222.1px;bottom:14917.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P85_397
{
left:0px;letter-spacing:0px;margin-left:158.4px;
}
#P85_398
{
left:23788.8px;bottom:14917.5px;word-spacing:56.3px;color:rgb(35,31,31);
}
#P85_399
{
left:0px;letter-spacing:0px;margin-left:-56.3px;
}
#P85_400
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P85_401
{
left:6935.64px;bottom:13445.5px;color:rgb(35,31,31);
}
#P85_402
{
left:11031.6px;bottom:13465.2px;color:rgb(35,31,31);
}
#P85_403
{
left:11735.6px;bottom:13445.5px;color:rgb(35,31,31);
}
#P85_404
{
left:0px;letter-spacing:0px;margin-left:-4.2px;
}
#P85_405
{
left:0px;letter-spacing:0px;margin-left:-214.7px;
}
#P85_406
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P85_407
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P85_408
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P85_409
{
left:18789.1px;bottom:13885.2px;color:rgb(35,31,31);
}
#P85_410
{
left:19125px;bottom:13463.1px;color:rgb(35,31,31);
}
#P85_411
{
left:18768px;bottom:13429.5px;color:rgb(35,31,31);
}
#P85_412
{
left:19146.1px;bottom:13446.8px;color:rgb(35,31,31);
}
#P85_413
{
left:18789.1px;bottom:12977.6px;color:rgb(35,31,31);
}
#P85_414
{
left:19125px;bottom:13463.1px;color:rgb(35,31,31);
}
#P85_415
{
left:19146.1px;bottom:13445.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P85_416
{
left:0px;letter-spacing:-2.3px;margin-left:158.4px;
}
#P85_417
{
left:0px;letter-spacing:0px;margin-left:-18.7px;
}
#P85_418
{
left:0px;letter-spacing:-4.6px;
}
#P85_419
{
left:0px;letter-spacing:0px;margin-left:-37.5px;
}
#P85_420
{
left:0px;letter-spacing:0px;
}
#P85_421
{
left:6935.64px;bottom:12229.5px;letter-spacing:3937.6px;color:rgb(35,31,31);
}
#P85_421a
{
left: 8175.64px;
bottom: -200px;letter-spacing:3937.6px;color:rgb(35,31,31);
}
#P85_422
{
left:0px;letter-spacing:0px;margin-left:-3392px;
}
#P85_423
{
left:0px;letter-spacing:-0.5px;
}
#P85_424
{
left:0px;letter-spacing:0px;margin-left:-214.3px;
}
#P85_425
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P85_426
{
left:0px;letter-spacing:-0.4px;
}
#P85_427
{
left:0px;letter-spacing:-4.2px;margin-left:-3.8px;
}
#P85_428
{
left:0px;letter-spacing:0px;margin-left:4.2px;
}
#P85_429
{
left:6935.64px;bottom:9669.42px;color:rgb(35,31,31);
}
#P85_430
{
left:7112.67px;bottom:9689.13px;color:rgb(35,31,31);
}
#P85_431
{
left:8599.64px;bottom:9689.2px;letter-spacing:-183px;color:rgb(2,77,161);
}
#P85_432
{
left:0px;letter-spacing:0px;margin-left:183px;
}
#P85_433
{
left:12147.7px;bottom:9669.48px;color:rgb(35,31,31);
}
#P85_434
{
left:0px;letter-spacing:0px;margin-left:151.5px;
}
#P85_435
{
left:0px;letter-spacing:0px;margin-left:-63.2px;
}
#P85_436
{
left:0px;letter-spacing:0px;margin-left:-13.9px;
}
#P85_437
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P85_438
{
left:17590.7px;bottom:10109.2px;color:rgb(35,31,31);
}
#P85_439
{
left:17926.5px;bottom:9687.08px;color:rgb(35,31,31);
}
#P85_440
{
left:17569.6px;bottom:9653.47px;color:rgb(35,31,31);
}
#P85_441
{
left:17947.6px;bottom:9670.75px;color:rgb(35,31,31);
}
#P85_442
{
left:17590.7px;bottom:9201.64px;color:rgb(35,31,31);
}
#P85_443
{
left:17926.5px;bottom:9687.08px;color:rgb(35,31,31);
}
#P85_444
{
left:17947.6px;bottom:9669.48px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P85_445
{
left:0px;letter-spacing:0px;margin-left:158.4px;
}
#P85_446
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P85_447
{
left:0px;letter-spacing:-63.3px;margin-left:-42.1px;
}
#P85_448
{
left:0px;letter-spacing:-0.4px;margin-left:63.3px;
}
#P85_449
{
left:6935.64px;bottom:8133.48px;color:rgb(35,31,31);
}
#P85_450
{
left:7895.64px;bottom:8153.2px;color:rgb(35,31,31);
}
#P85_451
{
left:8599.64px;bottom:8133.48px;color:rgb(35,31,31);
}
#P85_452
{
left:9504.09px;bottom:8153.2px;color:rgb(35,31,31);
}
#P85_453
{
left:0px;letter-spacing:0px;margin-left:-195.7px;
}
#P85_454
{
left:9758.36px;bottom:8573.16px;color:rgb(35,31,31);
}
#P85_455
{
left:10094.2px;bottom:8151.08px;color:rgb(35,31,31);
}
#P85_456
{
left:9737.24px;bottom:8117.47px;color:rgb(35,31,31);
}
#P85_457
{
left:10115.3px;bottom:8134.75px;color:rgb(35,31,31);
}
#P85_458
{
left:9758.36px;bottom:7665.64px;color:rgb(35,31,31);
}
#P85_459
{
left:10094.2px;bottom:8151.08px;color:rgb(35,31,31);
}
#P85_460
{
left:10115.3px;bottom:8133.48px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P85_461
{
left:0px;letter-spacing:-1.1px;margin-left:158.4px;
}
#P85_462
{
left:0px;letter-spacing:0px;margin-left:-41px;
}
#P85_463
{
left:0px;letter-spacing:-0.3px;
}
#P85_464
{
left:6935.64px;bottom:6469.48px;letter-spacing:0.4px;word-spacing:-0.4px;color:rgb(35,31,31);
}
#P85_465
{
left:10011px;bottom:6469.48px;letter-spacing:77.1px;color:rgb(35,31,31);
}
#P85_466
{
left:0px;letter-spacing:-1.5px;margin-left:-77.1px;
}
#P85_467
{
left:0px;letter-spacing:-0.3px;margin-left:1.5px;
}
#P85_468
{
left:0px;letter-spacing:0px;margin-left:-27.8px;
}
#P85_469
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P85_470
{
left:0px;letter-spacing:0px;
}
#P85_471
{
left:31786.8px;bottom:6439.92px;color:rgb(35,31,31);
}
#P85_472
{
left:32373.2px;bottom:6469.48px;letter-spacing:-28px;color:rgb(35,31,31);
}
#P85_473
{
left:6935.77px;bottom:5573.61px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P85_474
{
left:6935.77px;bottom:3845.63px;color:rgb(35,31,31);
}
#P85_475
{
left:7112.79px;bottom:3865.34px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P85_476
{
left:8535.64px;bottom:3865.34px;color:rgb(35,31,31);
}
#P85_477
{
left:8556.76px;bottom:4287.28px;color:rgb(35,31,31);
}
#P85_478
{
left:8892.57px;bottom:3863.08px;color:rgb(35,31,31);
}
#P85_479
{
left:8535.64px;bottom:3831.58px;color:rgb(35,31,31);
}
#P85_480
{
left:8913.69px;bottom:3846.75px;color:rgb(35,31,31);
}
#P85_481
{
left:8556.76px;bottom:3379.76px;color:rgb(35,31,31);
}
#P85_482
{
left:8892.57px;bottom:3863.08px;color:rgb(35,31,31);
}
#P85_483
{
left:8913.69px;bottom:3845.48px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P85_484
{
left:0px;letter-spacing:0px;margin-left:1502.3px;
}
#P85_485
{
left:10574.4px;bottom:3255.11px;color:rgb(35,31,31);
}
#P85_486
{
left:10820.8px;bottom:3576.72px;color:rgb(35,31,31);
}
#P85_487
{
left:10877.1px;bottom:3845.48px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P85_488
{
left:11066.2px;bottom:4285.16px;color:rgb(35,31,31);
}
#P85_489
{
left:11402px;bottom:3863.08px;color:rgb(35,31,31);
}
#P85_490
{
left:10877.1px;bottom:3829.47px;color:rgb(35,31,31);
}
#P85_491
{
left:11591px;bottom:3846.75px;color:rgb(35,31,31);
}
#P85_492
{
left:10898.3px;bottom:3377.64px;color:rgb(35,31,31);
}
#P85_493
{
left:11569.9px;bottom:3863.08px;color:rgb(35,31,31);
}
#P85_494
{
left:11591px;bottom:3845.48px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P85_495
{
left:11749.4px;bottom:3815.92px;color:rgb(35,31,31);
}
#P85_496
{
left:12335.8px;bottom:3845.48px;color:rgb(35,31,31);
}
#P85_497
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P85_498
{
left:12515.4px;bottom:4285.16px;color:rgb(35,31,31);
}
#P85_499
{
left:12851.2px;bottom:3863.08px;color:rgb(35,31,31);
}
#P85_500
{
left:12494.2px;bottom:3829.47px;color:rgb(35,31,31);
}
#P85_501
{
left:12872.3px;bottom:3846.75px;color:rgb(35,31,31);
}
#P85_502
{
left:12515.4px;bottom:3377.64px;color:rgb(35,31,31);
}
#P85_503
{
left:12851.2px;bottom:3863.08px;color:rgb(35,31,31);
}
#P85_504
{
left:12872.3px;bottom:3845.48px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P85_505
{
left:12928.6px;bottom:3255.11px;color:rgb(35,31,31);
}
#P85_506
{
left:13175px;bottom:3845.48px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P85_507
{
left:17416.8px;bottom:3865.2px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P85_508
{
left:18839.6px;bottom:3255.11px;color:rgb(35,31,31);
}
#P85_509
{
left:19086px;bottom:3576.72px;color:rgb(35,31,31);
}
#P85_510
{
left:19142.4px;bottom:3845.48px;letter-spacing:-70.4px;color:rgb(35,31,31);
}
#P85_511
{
left:0px;letter-spacing:0px;margin-left:-88px;
}
#P85_512
{
left:19214.1px;bottom:4287.28px;color:rgb(35,31,31);
}
#P85_513
{
left:19549.9px;bottom:3863.08px;color:rgb(35,31,31);
}
#P85_514
{
left:19193px;bottom:3831.58px;color:rgb(35,31,31);
}
#P85_515
{
left:19571px;bottom:3846.75px;color:rgb(35,31,31);
}
#P85_516
{
left:19214.1px;bottom:3379.76px;color:rgb(35,31,31);
}
#P85_517
{
left:19549.9px;bottom:3863.08px;color:rgb(35,31,31);
}
#P85_518
{
left:19571px;bottom:3845.48px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P85_519
{
left:19729.4px;bottom:3815.92px;color:rgb(35,31,31);
}
#P85_520
{
left:20315.9px;bottom:3845.48px;color:rgb(35,31,31);
}
#P85_521
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P85_522
{
left:20495.4px;bottom:4285.16px;color:rgb(35,31,31);
}
#P85_523
{
left:21167px;bottom:3863.08px;color:rgb(35,31,31);
}
#P85_524
{
left:20474.3px;bottom:3829.47px;color:rgb(35,31,31);
}
#P85_525
{
left:21188.1px;bottom:3846.75px;color:rgb(35,31,31);
}
#P85_526
{
left:20495.4px;bottom:3377.64px;color:rgb(35,31,31);
}
#P85_527
{
left:21167px;bottom:3863.08px;color:rgb(35,31,31);
}
#P85_528
{
left:21188.1px;bottom:3845.48px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P85_529
{
left:21244.4px;bottom:3255.11px;color:rgb(35,31,31);
}
#P85_530
{
left:21490.8px;bottom:3845.48px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P85_531
{
left:0px;letter-spacing:0px;margin-left:1502.4px;
}
#P85_532
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P85_533
{
left:23172.8px;bottom:4285.16px;color:rgb(35,31,31);
}
#P85_534
{
left:23508.6px;bottom:3863.08px;color:rgb(35,31,31);
}
#P85_535
{
left:23151.6px;bottom:3829.47px;color:rgb(35,31,31);
}
#P85_536
{
left:23529.7px;bottom:3846.75px;color:rgb(35,31,31);
}
#P85_537
{
left:23172.8px;bottom:3377.64px;color:rgb(35,31,31);
}
#P85_538
{
left:23508.6px;bottom:3863.08px;color:rgb(35,31,31);
}
#P85_539
{
left:23529.7px;bottom:3845.48px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P85_540
{
left:27720.8px;bottom:3865.2px;word-spacing:120.6px;color:rgb(35,31,31);
}
#P85_541
{
left:29015.8px;bottom:3865.2px;color:rgb(35,31,31);
}
#P85_542
{
left:29036.8px;bottom:4287.28px;color:rgb(35,31,31);
}
#P85_543
{
left:29372.6px;bottom:3863.08px;color:rgb(35,31,31);
}
#P85_544
{
left:29015.6px;bottom:3831.58px;color:rgb(35,31,31);
}
#P85_545
{
left:29393.7px;bottom:3846.75px;color:rgb(35,31,31);
}
#P85_546
{
left:29036.8px;bottom:3379.76px;color:rgb(35,31,31);
}
#P85_547
{
left:29372.6px;bottom:3863.08px;color:rgb(35,31,31);
}
#P85_548
{
left:29393.7px;bottom:3845.48px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P85_549
{
left:0px;letter-spacing:-0.1px;margin-left:1502.4px;
}
#P85_550
{
left:31054.4px;bottom:3256.21px;color:rgb(35,31,31);
}
#P85_551
{
left:31300.8px;bottom:3579.16px;color:rgb(35,31,31);
}
#P85_552
{
left:31357.1px;bottom:3845.48px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P85_553
{
left:31378.3px;bottom:4285.16px;color:rgb(35,31,31);
}
#P85_554
{
left:31714.1px;bottom:3863.08px;color:rgb(35,31,31);
}
#P85_555
{
left:31357.1px;bottom:3829.47px;color:rgb(35,31,31);
}
#P85_556
{
left:31735.2px;bottom:3846.75px;color:rgb(35,31,31);
}
#P85_557
{
left:31378.3px;bottom:3377.64px;color:rgb(35,31,31);
}
#P85_558
{
left:31714.1px;bottom:3863.08px;color:rgb(35,31,31);
}
#P85_559
{
left:31735.2px;bottom:3845.48px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P85_560
{
left:31893.6px;bottom:3815.92px;color:rgb(35,31,31);
}
#P85_561
{
left:32480px;bottom:3845.48px;color:rgb(35,31,31);
}
#P85_562
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P85_563
{
left:32659.5px;bottom:4285.16px;color:rgb(35,31,31);
}
#P85_564
{
left:32995.4px;bottom:3863.08px;color:rgb(35,31,31);
}
#P85_565
{
left:32638.4px;bottom:3829.47px;color:rgb(35,31,31);
}
#P85_566
{
left:33016.5px;bottom:3846.75px;color:rgb(35,31,31);
}
#P85_567
{
left:32659.5px;bottom:3377.64px;color:rgb(35,31,31);
}
#P85_568
{
left:32995.4px;bottom:3863.08px;color:rgb(35,31,31);
}
#P85_569
{
left:33016.5px;bottom:3845.48px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P85_570
{
left:33072.8px;bottom:3256.21px;color:rgb(35,31,31);
}
#P85_571
{
left:33319.2px;bottom:3845.48px;color:rgb(35,31,31);
}
#P85_572
{
left:12205.4px;bottom:18979.5px;letter-spacing:2785.6px;color:rgb(35,31,31);
}
#P85_573
{
left:0px;letter-spacing:0px;margin-left:-2944px;
}
#P85_574
{
left:15180px;bottom:19381.2px;color:rgb(35,31,31);
}
#P85_575
{
left:15521.5px;bottom:18959.1px;color:rgb(35,31,31);
}
#P85_576
{
left:15149.4px;bottom:18963.5px;color:rgb(35,31,31);
}
#P85_577
{
left:15552.2px;bottom:18980.8px;color:rgb(35,31,31);
}
#P85_578
{
left:15170.5px;bottom:18473.6px;color:rgb(35,31,31);
}
#P85_579
{
left:15531px;bottom:18959.1px;color:rgb(35,31,31);
}
#P85_580
{
left:15552.2px;bottom:18937.3px;letter-spacing:-176px;color:rgb(35,31,31);
}
#P85_581
{
left:15728.2px;bottom:18949.9px;color:rgb(35,31,31);
}
#P85_582
{
left:16314.6px;bottom:18937.3px;color:rgb(35,31,31);
}
#P85_583
{
left:0px;letter-spacing:0px;margin-left:-176px;
}
#P85_584
{
left:16625.4px;bottom:19359px;color:rgb(35,31,31);
}
#P85_585
{
left:16997.3px;bottom:18959.1px;color:rgb(35,31,31);
}
#P85_586
{
left:16490.6px;bottom:18941.3px;color:rgb(35,31,31);
}
#P85_587
{
left:17132.2px;bottom:18980.8px;color:rgb(35,31,31);
}
#P85_588
{
left:16511.7px;bottom:18451.4px;color:rgb(35,31,31);
}
#P85_589
{
left:17111.1px;bottom:18959.1px;color:rgb(35,31,31);
}
#P85_590
{
left:17132.2px;bottom:18937.3px;letter-spacing:-176px;color:rgb(35,31,31);
}
#P85_591
{
left:17308.2px;bottom:18949.9px;color:rgb(35,31,31);
}
#P85_592
{
left:17894.6px;bottom:18937.3px;color:rgb(35,31,31);
}
#P85_593
{
left:0px;letter-spacing:0px;margin-left:-176px;
}
#P85_594
{
left:18212.8px;bottom:19359px;color:rgb(35,31,31);
}
#P85_595
{
left:18570.1px;bottom:18959.1px;color:rgb(35,31,31);
}
#P85_596
{
left:18070.6px;bottom:18941.3px;color:rgb(35,31,31);
}
#P85_597
{
left:18712.2px;bottom:18980.8px;color:rgb(35,31,31);
}
#P85_598
{
left:18091.7px;bottom:18451.4px;color:rgb(35,31,31);
}
#P85_599
{
left:18691.1px;bottom:18959.1px;color:rgb(35,31,31);
}
#P85_600
{
left:18712.2px;bottom:18937.3px;letter-spacing:-176px;color:rgb(35,31,31);
}
#P85_601
{
left:18888.2px;bottom:18949.9px;color:rgb(35,31,31);
}
#P85_602
{
left:19474.6px;bottom:18937.3px;color:rgb(35,31,31);
}
#P85_603
{
left:0px;letter-spacing:0px;margin-left:-176px;
}
#P85_604
{
left:19785.5px;bottom:19359px;color:rgb(35,31,31);
}
#P85_605
{
left:20157.4px;bottom:18959.1px;color:rgb(35,31,31);
}
#P85_606
{
left:19650.6px;bottom:18941.3px;color:rgb(35,31,31);
}
#P85_607
{
left:20292.2px;bottom:18980.8px;color:rgb(35,31,31);
}
#P85_608
{
left:19671.8px;bottom:18451.4px;color:rgb(35,31,31);
}
#P85_609
{
left:20271.1px;bottom:18959.1px;color:rgb(35,31,31);
}
#P85_610
{
left:20292.2px;bottom:18937.3px;letter-spacing:-176px;color:rgb(35,31,31);
}
#P85_611
{
left:20468.2px;bottom:18949.9px;color:rgb(35,31,31);
}
#P85_612
{
left:21054.7px;bottom:18937.3px;color:rgb(35,31,31);
}
#P85_613
{
left:0px;letter-spacing:0px;margin-left:-176px;
}
#P85_614
{
left:21251.8px;bottom:19359px;color:rgb(35,31,31);
}
#P85_615
{
left:21767.6px;bottom:19370.4px;color:rgb(35,31,31);
}
#P85_616
{
left:22295.2px;bottom:19359px;color:rgb(35,31,31);
}
#P85_617
{
left:22825.7px;bottom:18959.1px;color:rgb(35,31,31);
}
#P85_618
{
left:21230.7px;bottom:18941.3px;color:rgb(35,31,31);
}
#P85_619
{
left:22846.8px;bottom:18980.8px;color:rgb(35,31,31);
}
#P85_620
{
left:21739px;bottom:18451.4px;color:rgb(35,31,31);
}
#P85_621
{
left:22338.5px;bottom:18959.1px;color:rgb(35,31,31);
}
#P85_622
{
left:22846.8px;bottom:18937.3px;letter-spacing:-176px;color:rgb(35,31,31);
}
#P85_623
{
left:23022.8px;bottom:18949.9px;color:rgb(35,31,31);
}
#P85_624
{
left:23609.2px;bottom:18937.3px;color:rgb(35,31,31);
}
#P85_625
{
left:0px;letter-spacing:0px;margin-left:-176px;
}
#P85_626
{
left:23834.2px;bottom:19359px;color:rgb(35,31,31);
}
#P85_627
{
left:24377.8px;bottom:18959.1px;color:rgb(35,31,31);
}
#P85_628
{
left:23785.2px;bottom:18941.3px;color:rgb(35,31,31);
}
#P85_629
{
left:24426.8px;bottom:18980.8px;color:rgb(35,31,31);
}
#P85_630
{
left:23806.4px;bottom:18451.4px;color:rgb(35,31,31);
}
#P85_631
{
left:24405.7px;bottom:18959.1px;color:rgb(35,31,31);
}
#P85_632
{
left:24426.8px;bottom:18937.3px;letter-spacing:-176px;color:rgb(35,31,31);
}
#P85_633
{
left:24602.8px;bottom:18949.9px;color:rgb(35,31,31);
}
#P85_634
{
left:25189.3px;bottom:18937.3px;color:rgb(35,31,31);
}
#P85_635
{
left:0px;letter-spacing:0px;margin-left:-88px;
}
#P85_636
{
left:0px;letter-spacing:0px;margin-left:-176px;
}
#P85_637
{
left:25778.1px;bottom:19359px;color:rgb(35,31,31);
}
#P85_638
{
left:25980.2px;bottom:18959.1px;color:rgb(35,31,31);
}
#P85_639
{
left:25677.8px;bottom:18941.3px;color:rgb(35,31,31);
}
#P85_640
{
left:26080.5px;bottom:18980.8px;color:rgb(35,31,31);
}
#P85_641
{
left:25699px;bottom:18451.4px;color:rgb(35,31,31);
}
#P85_642
{
left:26059.4px;bottom:18959.1px;color:rgb(35,31,31);
}
#P85_643
{
left:26080.5px;bottom:18937.3px;color:rgb(35,31,31);
}
#P85_644
{
left:0px;bottom:0px;letter-spacing:0px;color:rgb(235,26,35);
}
#P85_645
{
left:4978.71px;bottom:30201px;
}
#P85_646
{
left:4978.71px;bottom:30201px;color:white;
}
#P85_647
{
left:6267.8px;bottom:30207.4px;
}
#P85_648
{
left:6267.8px;bottom:30207.4px;color:white;
}
#P85_649
{
left:29089.2px;bottom:46233.7px;letter-spacing:0.1px;word-spacing:0.2px;color:rgb(33,31,31);
}
#P85_650
{
left:12686px;bottom:18654.1px;
}
#PageContainer85
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg085.jpg");background-repeat:no-repeat;background-size: 1020px 1226px; background-position: 1.67px 35.6099999999999px;
}
#ImageContainer85 {bottom:102.39px;left:1.67px;width:1020.10px;height:1226.12px;position:absolute;} #TextContainer85 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.answer{position:absolute; top: 44px; left: 72px;}
.circle1{position: absolute; top: 516px; left: 121px;}
.circle2{position: absolute; top: 514px; left:160px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}