.tr402{ color:transparent;}
#P402_1
{
left:2365.4px;bottom:1409.96px;color:rgb(35,31,31);
}
#P402_2
{
left:3540.44px;bottom:1544.36px;color:rgb(35,31,31);
}
#P402_3
{
left:4925.4px;bottom:1409.96px;color:rgb(35,31,31);
}
#P402_4
{
left:9121.88px;bottom:1544.36px;letter-spacing:462.3px;word-spacing:-0.3px;color:rgb(35,31,31);
}
#P402_5
{
left:0px;letter-spacing:3.9px;margin-left:-462.1px;
}
#P402_6
{
left:0px;letter-spacing:-0.8px;margin-left:173.2px;
}
#P402_7
{
left:0px;letter-spacing:2.1px;margin-left:1.8px;
}
#P402_8
{
left:5889.56px;bottom:46957.1px;color:white;
}
#P402_9
{
left:2371.78px;bottom:46929.9px;color:white;
}
#P402_10
{
left:2856.07px;bottom:43106.1px;letter-spacing:-7.7px;word-spacing:-26px;color:rgb(0,124,196);
}
#P402_11
{
left:0px;letter-spacing:0px;margin-left:7.7px;
}
#P402_12
{
left:2856.07px;bottom:42164.1px;color:rgb(35,31,31);
}
#P402_13
{
left:5202.97px;bottom:42164.1px;color:rgb(35,31,31);
}
#P402_14
{
left:26785.2px;bottom:46188.3px;word-spacing:0.2px;color:rgb(33,31,31);
}
#P402_15
{
left:0px;letter-spacing:0px;margin-left:-44.8px;
}
#P402_16
{
left:0px;letter-spacing:0px;margin-left:0.2px;
}
#P402_17
{
left:2514.73px;bottom:28542.7px;color:white;
}
#P402_18
{
left:5870.36px;bottom:28784.4px;color:white;
}
#P402_19
{
left:6206.3px;bottom:28542.7px;color:white;
}
#P402_20
{
left:2749.4px;bottom:27439.8px;color:rgb(35,31,31);
}
#P402_21
{
left:2749.4px;bottom:26671.8px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P402_22
{
left:2749.4px;bottom:25903.8px;color:rgb(35,31,31);
}
#P402_23
{
left:0px;letter-spacing:0px;margin-left:-58.8px;
}
#P402_24
{
left:2749.4px;bottom:25135.8px;color:rgb(35,31,31);
}
#P402_25
{
left:5060.44px;bottom:25135.8px;color:rgb(35,31,31);
}
#P402_26
{
left:5451.48px;bottom:25098px;color:rgb(35,31,31);
}
#P402_27
{
left:5609.88px;bottom:25068.5px;color:rgb(35,31,31);
}
#P402_28
{
left:6196.31px;bottom:25098px;color:rgb(35,31,31);
}
#P402_29
{
left:6354.65px;bottom:25135.8px;color:rgb(35,31,31);
}
#P402_30
{
left:6603.61px;bottom:25442.3px;color:rgb(35,31,31);
}
#P402_31
{
left:6862.3px;bottom:25135.8px;color:rgb(35,31,31);
}
#P402_32
{
left:0px;letter-spacing:0px;margin-left:-177.9px;
}
#P402_33
{
left:2749.4px;bottom:24367.8px;color:rgb(35,31,31);
}
#P402_34
{
left:5985.24px;bottom:24367.8px;color:rgb(35,31,31);
}
#P402_35
{
left:6376.28px;bottom:24367.8px;color:rgb(35,31,31);
}
#P402_36
{
left:2749.47px;bottom:23599.8px;color:rgb(35,31,31);
}
#P402_37
{
left:2749.47px;bottom:22831.8px;color:rgb(35,31,31);
}
#P402_38
{
left:3496.35px;bottom:22831.8px;color:rgb(35,31,31);
}
#P402_39
{
left:12285.4px;bottom:41530.2px;letter-spacing:-19.3px;color:rgb(35,31,31);
}
#P402_40
{
left:0px;letter-spacing:0px;margin-left:19.3px;
}
#P402_41
{
left:20867.9px;bottom:41686.4px;color:rgb(35,31,31);
}
#P402_42
{
left:21063.6px;bottom:41530.2px;color:rgb(35,31,31);
}
#P402_43
{
left:12285.4px;bottom:40463.5px;letter-spacing:-5.4px;color:rgb(2,77,161);
}
#P402_44
{
left:14257.9px;bottom:40446.4px;letter-spacing:508.3px;color:rgb(35,31,31);
}
#P402_45
{
left:14961.9px;bottom:40422.4px;letter-spacing:-0.3px;word-spacing:0.3px;color:rgb(35,31,31);
}
#P402_46
{
left:18897.4px;bottom:40422.4px;color:rgb(35,31,31);
}
#P402_47
{
left:19345.8px;bottom:40422.4px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P402_48
{
left:30429.4px;bottom:40574.8px;color:rgb(237,28,35);
}
#P402_49
{
left:34047.3px;bottom:40702.7px;color:rgb(237,28,35);
}
#P402_50
{
left:31187.8px;bottom:38894.8px;color:rgb(0,124,196);
}
#P402_51
{
left:33268.3px;bottom:39022.7px;color:rgb(0,124,196);
}
#P402_52
{
left:30739.7px;bottom:37487.1px;color:rgb(0,124,196);
}
#P402_53
{
left:32627.8px;bottom:37615px;color:rgb(0,124,196);
}
#P402_54
{
left:26796.4px;bottom:36722.2px;color:rgb(0,124,196);
}
#P402_55
{
left:28876.9px;bottom:36850px;color:rgb(0,124,196);
}
#P402_56
{
left:14961.9px;bottom:39526.4px;color:rgb(35,31,31);
}
#P402_57
{
left:14961.9px;bottom:38630.4px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P402_58
{
left:14961.9px;bottom:37734.5px;letter-spacing:0.5px;color:rgb(35,31,31);
}
#P402_59
{
left:12285.4px;bottom:36463.5px;letter-spacing:3px;color:rgb(2,77,161);
}
#P402_60
{
left:14804.5px;bottom:36430.4px;color:rgb(35,31,31);
}
#P402_61
{
left:15476.5px;bottom:36454.4px;color:rgb(35,31,31);
}
#P402_62
{
left:15925px;bottom:36454.4px;color:rgb(35,31,31);
}
#P402_63
{
left:16083.4px;bottom:36424.9px;color:rgb(35,31,31);
}
#P402_64
{
left:16669.8px;bottom:36454.4px;color:rgb(35,31,31);
}
#P402_65
{
left:16828.2px;bottom:36454.4px;letter-spacing:-2.6px;word-spacing:549.5px;color:rgb(35,31,31);
}
#P402_66
{
left:19104.5px;bottom:36454.4px;letter-spacing:-8.4px;color:rgb(35,31,31);
}
#P402_67
{
left:19776.2px;bottom:36454.4px;color:rgb(35,31,31);
}
#P402_68
{
left:0px;letter-spacing:545.6px;margin-left:545.6px;
}
#P402_69
{
left:21791px;bottom:36454.4px;color:rgb(35,31,31);
}
#P402_70
{
left:21949.4px;bottom:36424.9px;color:rgb(35,31,31);
}
#P402_71
{
left:22534.2px;bottom:36621.7px;color:rgb(35,31,31);
}
#P402_72
{
left:23073.4px;bottom:36454.4px;letter-spacing:-5.8px;color:rgb(35,31,31);
}
#P402_73
{
left:5378.01px;bottom:32929.6px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P402_74
{
left:12246.3px;bottom:32954.2px;color:white;
}
#P402_75
{
left:12661.9px;bottom:33146px;color:white;
}
#P402_76
{
left:12902.1px;bottom:32954.2px;color:white;
}
#P402_77
{
left:13878.4px;bottom:33146px;color:white;
}
#P402_78
{
left:14118.6px;bottom:32954.2px;color:white;
}
#P402_79
{
left:0px;letter-spacing:0px;margin-left:-31.9px;
}
#P402_80
{
left:0px;letter-spacing:0px;margin-left:-47.4px;
}
#P402_81
{
left:25500.2px;bottom:33146px;color:white;
}
#P402_82
{
left:25740.4px;bottom:32954.2px;color:white;
}
#P402_83
{
left:10401.9px;bottom:32787.1px;
}
#P402_84
{
left:10401.9px;bottom:32787.1px;color:white;
}
#P402_85
{
left:11473.3px;bottom:31324.8px;letter-spacing:-2.6px;color:rgb(35,31,31);
}
#P402_86
{
left:0px;letter-spacing:0.3px;margin-left:2.6px;
}
#P402_87
{
left:11537.3px;bottom:29980.8px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P402_88
{
left:18764.4px;bottom:28916.6px;color:rgb(0,145,68);
}
#P402_89
{
left:18764.4px;bottom:28263.8px;color:rgb(0,145,68);
}
#P402_90
{
left:19334.9px;bottom:28634.9px;color:rgb(0,145,68);
}
#P402_91
{
left:14296.5px;bottom:25492.6px;color:rgb(0,145,68);
}
#P402_92
{
left:14296.5px;bottom:24839.8px;color:rgb(0,145,68);
}
#P402_93
{
left:14866.8px;bottom:25210.9px;color:rgb(0,145,68);
}
#P402_94
{
left:17992.5px;bottom:26180.6px;color:rgb(0,145,68);
}
#P402_95
{
left:17992.5px;bottom:25527.8px;color:rgb(0,145,68);
}
#P402_96
{
left:18562.8px;bottom:25898.9px;color:rgb(0,145,68);
}
#P402_97
{
left:23306.2px;bottom:29980.8px;letter-spacing:-13.9px;word-spacing:3160.5px;color:rgb(35,31,31);
}
#P402_98
{
left:25848.7px;bottom:25337.9px;color:rgb(218,91,107);
}
#P402_99
{
left:25848.7px;bottom:24685.1px;color:rgb(218,91,107);
}
#P402_100
{
left:26419.2px;bottom:25056.2px;color:rgb(216,93,107);
}
#P402_101
{
left:29925.4px;bottom:29034.5px;color:rgb(218,91,107);
}
#P402_102
{
left:29925.4px;bottom:28381.7px;color:rgb(218,91,107);
}
#P402_103
{
left:30495.8px;bottom:28752.8px;color:rgb(216,93,107);
}
#P402_104
{
left:28988.6px;bottom:26188.6px;color:rgb(218,91,107);
}
#P402_105
{
left:28988.6px;bottom:25535.8px;color:rgb(218,91,107);
}
#P402_106
{
left:29559.1px;bottom:25906.9px;color:rgb(216,93,107);
}
#P402_107
{
left:11473.3px;bottom:22940.8px;color:rgb(35,31,31);
}
#P402_108
{
left:12625.3px;bottom:22940.8px;color:rgb(35,31,31);
}
#P402_109
{
left:13073.8px;bottom:22940.8px;color:rgb(35,31,31);
}
#P402_110
{
left:13232.2px;bottom:22911.2px;color:rgb(35,31,31);
}
#P402_111
{
left:13818.5px;bottom:22940.8px;color:rgb(35,31,31);
}
#P402_112
{
left:13848.7px;bottom:23108px;color:rgb(35,31,31);
}
#P402_113
{
left:14387.8px;bottom:22940.8px;color:rgb(35,31,31);
}
#P402_114
{
left:15367.8px;bottom:22940.8px;color:rgb(35,31,31);
}
#P402_115
{
left:19025.3px;bottom:22948.8px;letter-spacing:-1.8px;color:rgb(0,124,196);
}
#P402_116
{
left:24593.3px;bottom:22940.8px;color:rgb(35,31,31);
}
#P402_117
{
left:25041.8px;bottom:22940.8px;color:rgb(35,31,31);
}
#P402_118
{
left:25200.2px;bottom:22911.2px;color:rgb(35,31,31);
}
#P402_119
{
left:25786.5px;bottom:22940.8px;color:rgb(35,31,31);
}
#P402_120
{
left:25816.7px;bottom:23108px;color:rgb(35,31,31);
}
#P402_121
{
left:26355.8px;bottom:22940.8px;color:rgb(35,31,31);
}
#P402_122
{
left:11473.3px;bottom:21276.8px;letter-spacing:1441.6px;color:rgb(35,31,31);
}
#P402_123
{
left:13231.7px;bottom:21247.2px;color:rgb(35,31,31);
}
#P402_124
{
left:13818.1px;bottom:21276.8px;color:rgb(35,31,31);
}
#P402_125
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P402_126
{
left:13997.6px;bottom:21716.5px;color:rgb(35,31,31);
}
#P402_127
{
left:14333.4px;bottom:21294.4px;color:rgb(35,31,31);
}
#P402_128
{
left:13976.5px;bottom:21260.8px;color:rgb(35,31,31);
}
#P402_129
{
left:14354.5px;bottom:21278px;color:rgb(35,31,31);
}
#P402_130
{
left:13997.6px;bottom:20808.9px;color:rgb(35,31,31);
}
#P402_131
{
left:14333.4px;bottom:21294.4px;color:rgb(35,31,31);
}
#P402_132
{
left:14354.5px;bottom:21276.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P402_133
{
left:14354.5px;bottom:20695.1px;color:rgb(35,31,31);
}
#P402_134
{
left:14600.9px;bottom:21010.4px;color:rgb(35,31,31);
}
#P402_135
{
left:14657.2px;bottom:21276.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P402_136
{
left:14678.4px;bottom:21716.5px;color:rgb(35,31,31);
}
#P402_137
{
left:15014.2px;bottom:21294.4px;color:rgb(35,31,31);
}
#P402_138
{
left:14657.2px;bottom:21260.8px;color:rgb(35,31,31);
}
#P402_139
{
left:15035.3px;bottom:21278px;color:rgb(35,31,31);
}
#P402_140
{
left:14678.4px;bottom:20808.9px;color:rgb(35,31,31);
}
#P402_141
{
left:15014.2px;bottom:21294.4px;color:rgb(35,31,31);
}
#P402_142
{
left:15035.3px;bottom:21276.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P402_143
{
left:15091.6px;bottom:20695.1px;color:rgb(35,31,31);
}
#P402_144
{
left:15338px;bottom:21276.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P402_145
{
left:15338px;bottom:20687.5px;color:rgb(35,31,31);
}
#P402_146
{
left:15584.4px;bottom:21010.5px;color:rgb(35,31,31);
}
#P402_147
{
left:15640.7px;bottom:21276.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P402_148
{
left:15661.8px;bottom:21716.5px;color:rgb(35,31,31);
}
#P402_149
{
left:15997.7px;bottom:21294.4px;color:rgb(35,31,31);
}
#P402_150
{
left:15640.7px;bottom:21260.8px;color:rgb(35,31,31);
}
#P402_151
{
left:16018.8px;bottom:21278px;color:rgb(35,31,31);
}
#P402_152
{
left:15661.8px;bottom:20808.9px;color:rgb(35,31,31);
}
#P402_153
{
left:15997.7px;bottom:21294.4px;color:rgb(35,31,31);
}
#P402_154
{
left:16018.8px;bottom:21276.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P402_155
{
left:16075.1px;bottom:20687.5px;color:rgb(35,31,31);
}
#P402_156
{
left:16321.5px;bottom:21276.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P402_157
{
left:18641.3px;bottom:21284.8px;letter-spacing:-0.7px;color:rgb(0,124,196);
}
#P402_158
{
left:0px;letter-spacing:-24.8px;margin-left:-24.1px;
}
#P402_159
{
left:25041.3px;bottom:21276.8px;color:rgb(35,31,31);
}
#P402_160
{
left:25199.7px;bottom:21247.2px;color:rgb(35,31,31);
}
#P402_161
{
left:25786.1px;bottom:21276.8px;color:rgb(35,31,31);
}
#P402_162
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P402_163
{
left:25965.6px;bottom:21716.5px;color:rgb(35,31,31);
}
#P402_164
{
left:26301.4px;bottom:21294.4px;color:rgb(35,31,31);
}
#P402_165
{
left:25944.5px;bottom:21260.8px;color:rgb(35,31,31);
}
#P402_166
{
left:26322.5px;bottom:21278px;color:rgb(35,31,31);
}
#P402_167
{
left:25965.6px;bottom:20808.9px;color:rgb(35,31,31);
}
#P402_168
{
left:26301.4px;bottom:21294.4px;color:rgb(35,31,31);
}
#P402_169
{
left:26322.5px;bottom:21276.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P402_170
{
left:26322.5px;bottom:20695.1px;color:rgb(35,31,31);
}
#P402_171
{
left:26568.9px;bottom:21010.4px;color:rgb(35,31,31);
}
#P402_172
{
left:26625.2px;bottom:21276.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P402_173
{
left:26646.4px;bottom:21716.5px;color:rgb(35,31,31);
}
#P402_174
{
left:26982.2px;bottom:21294.4px;color:rgb(35,31,31);
}
#P402_175
{
left:26625.2px;bottom:21260.8px;color:rgb(35,31,31);
}
#P402_176
{
left:27003.3px;bottom:21278px;color:rgb(35,31,31);
}
#P402_177
{
left:26646.4px;bottom:20808.9px;color:rgb(35,31,31);
}
#P402_178
{
left:26982.2px;bottom:21294.4px;color:rgb(35,31,31);
}
#P402_179
{
left:27003.3px;bottom:21276.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P402_180
{
left:27059.6px;bottom:20695.1px;color:rgb(35,31,31);
}
#P402_181
{
left:27306px;bottom:21276.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P402_182
{
left:27306px;bottom:20695.1px;color:rgb(35,31,31);
}
#P402_183
{
left:27552.4px;bottom:21010.4px;color:rgb(35,31,31);
}
#P402_184
{
left:27608.7px;bottom:21276.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P402_185
{
left:27629.8px;bottom:21716.5px;color:rgb(35,31,31);
}
#P402_186
{
left:27965.7px;bottom:21294.4px;color:rgb(35,31,31);
}
#P402_187
{
left:27608.7px;bottom:21260.8px;color:rgb(35,31,31);
}
#P402_188
{
left:27986.8px;bottom:21278px;color:rgb(35,31,31);
}
#P402_189
{
left:27629.8px;bottom:20808.9px;color:rgb(35,31,31);
}
#P402_190
{
left:27965.7px;bottom:21294.4px;color:rgb(35,31,31);
}
#P402_191
{
left:27986.8px;bottom:21276.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P402_192
{
left:28043.1px;bottom:20695.1px;color:rgb(35,31,31);
}
#P402_193
{
left:28289.5px;bottom:21276.8px;color:rgb(35,31,31);
}
#P402_194
{
left:11473.3px;bottom:19484.7px;letter-spacing:1441.6px;color:rgb(35,31,31);
}
#P402_195
{
left:13231.7px;bottom:19455.1px;color:rgb(35,31,31);
}
#P402_196
{
left:13818.1px;bottom:19484.7px;color:rgb(35,31,31);
}
#P402_197
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P402_198
{
left:14165.5px;bottom:19924.5px;color:rgb(35,31,31);
}
#P402_199
{
left:14837.1px;bottom:19502.4px;color:rgb(35,31,31);
}
#P402_200
{
left:13976.5px;bottom:19468.8px;color:rgb(35,31,31);
}
#P402_201
{
left:15026.1px;bottom:19486px;color:rgb(35,31,31);
}
#P402_202
{
left:13997.6px;bottom:19016.9px;color:rgb(35,31,31);
}
#P402_203
{
left:15005px;bottom:19502.4px;color:rgb(35,31,31);
}
#P402_204
{
left:15026.1px;bottom:19484.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P402_205
{
left:19793.3px;bottom:19492.8px;color:rgb(0,124,196);
}
#P402_206
{
left:0px;letter-spacing:0px;margin-left:-49.7px;
}
#P402_207
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P402_208
{
left:25041.3px;bottom:19484.8px;color:rgb(35,31,31);
}
#P402_209
{
left:25199.7px;bottom:19455.2px;color:rgb(35,31,31);
}
#P402_210
{
left:25786.1px;bottom:19484.8px;color:rgb(35,31,31);
}
#P402_211
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P402_212
{
left:25965.6px;bottom:19924.5px;color:rgb(35,31,31);
}
#P402_213
{
left:26637.2px;bottom:19502.4px;color:rgb(35,31,31);
}
#P402_214
{
left:25944.5px;bottom:19468.8px;color:rgb(35,31,31);
}
#P402_215
{
left:26658.3px;bottom:19486px;color:rgb(35,31,31);
}
#P402_216
{
left:26133.5px;bottom:19016.9px;color:rgb(35,31,31);
}
#P402_217
{
left:26469.3px;bottom:19502.4px;color:rgb(35,31,31);
}
#P402_218
{
left:26658.3px;bottom:19484.8px;color:rgb(35,31,31);
}
#P402_219
{
left:11473.3px;bottom:17692.7px;letter-spacing:1793.6px;color:rgb(35,31,31);
}
#P402_220
{
left:0px;letter-spacing:0px;margin-left:4288px;
}
#P402_221
{
left:0px;letter-spacing:0px;margin-left:5217.6px;
}
#P402_222
{
left:25199.7px;bottom:17663.1px;color:rgb(35,31,31);
}
#P402_223
{
left:25786.1px;bottom:17692.7px;color:rgb(35,31,31);
}
#P402_224
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P402_225
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P402_226
{
left:26426.7px;bottom:18132.5px;color:rgb(35,31,31);
}
#P402_227
{
left:26762.5px;bottom:17710.4px;color:rgb(35,31,31);
}
#P402_228
{
left:26405.6px;bottom:17676.8px;color:rgb(35,31,31);
}
#P402_229
{
left:26783.6px;bottom:17694px;color:rgb(35,31,31);
}
#P402_230
{
left:26426.7px;bottom:17224.9px;color:rgb(35,31,31);
}
#P402_231
{
left:26762.5px;bottom:17710.4px;color:rgb(35,31,31);
}
#P402_232
{
left:26783.6px;bottom:17692.8px;color:rgb(35,31,31);
}
#P402_233
{
left:13913.3px;bottom:16028.8px;letter-spacing:545.4px;word-spacing:0.2px;color:rgb(35,31,31);
}
#P402_233a
{
left: 25913.3px;bottom:16028.8px;letter-spacing:545.4px;word-spacing:0.2px;color:rgb(35,31,31);
}
#P402_234
{
left:0px;letter-spacing:-9.5px;margin-left:-553.8px;
}
#P402_235
{
left:0px;letter-spacing:-0.2px;margin-left:9.3px;
}
#P402_236
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P402_237
{
left:0px;letter-spacing:-9.5px;margin-left:-8.4px;
}
#P402_238
{
left:0px;letter-spacing:-0.2px;margin-left:9.3px;
}
#P402_239
{
left:11473.3px;bottom:14748.8px;letter-spacing:2209.6px;color:rgb(35,31,31);
}
#P402_240
{
left:0px;letter-spacing:0px;margin-left:-2367.9px;
}
#P402_241
{
left:14030.3px;bottom:15188.5px;color:rgb(35,31,31);
}
#P402_242
{
left:14701.9px;bottom:14766.4px;color:rgb(35,31,31);
}
#P402_243
{
left:13841.3px;bottom:14732.8px;color:rgb(35,31,31);
}
#P402_244
{
left:14891px;bottom:14750px;color:rgb(35,31,31);
}
#P402_245
{
left:13862.4px;bottom:14280.9px;color:rgb(35,31,31);
}
#P402_246
{
left:14869.8px;bottom:14766.4px;color:rgb(35,31,31);
}
#P402_247
{
left:14891px;bottom:14748.8px;color:rgb(35,31,31);
}
#P402_248
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P402_249
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P402_250
{
left:0px;letter-spacing:0px;margin-left:4610.4px;
}
#P402_251
{
left:0px;letter-spacing:0px;margin-left:1953.6px;
}
#P402_252
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P402_253
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P402_254
{
left:26355.5px;bottom:15188.5px;color:rgb(35,31,31);
}
#P402_255
{
left:26691.4px;bottom:14766.4px;color:rgb(35,31,31);
}
#P402_256
{
left:26334.4px;bottom:14732.8px;color:rgb(35,31,31);
}
#P402_257
{
left:26712.5px;bottom:14750px;color:rgb(35,31,31);
}
#P402_258
{
left:26355.5px;bottom:14280.9px;color:rgb(35,31,31);
}
#P402_259
{
left:26691.4px;bottom:14766.4px;color:rgb(35,31,31);
}
#P402_260
{
left:26712.5px;bottom:14748.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P402_261
{
left:0px;letter-spacing:-1.2px;margin-left:158.4px;
}
#P402_262
{
left:11473.4px;bottom:11292.8px;letter-spacing:-1.7px;color:rgb(35,31,31);
}
#P402_263
{
left:0px;letter-spacing:0.3px;margin-left:-8.8px;
}
#P402_264
{
left:11473.4px;bottom:10140.7px;color:rgb(35,31,31);
}
#P402_265
{
left:11936.9px;bottom:10167.6px;word-spacing:453.2px;color:rgb(35,31,31);
}
#P402_266
{
left:23302.2px;bottom:10160.5px;color:rgb(35,31,31);
}
#P402_267
{
left:23889.3px;bottom:10140.8px;color:rgb(35,31,31);
}
#P402_268
{
left:25912.7px;bottom:5445.16px;color:rgb(202,121,73);
}
#P402_269
{
left:25912.7px;bottom:4792.36px;color:rgb(202,121,73);
}
#P402_270
{
left:26483.2px;bottom:5163.5px;color:rgb(204,121,73);
}
#P402_271
{
left:29989.4px;bottom:9141.74px;color:rgb(202,121,73);
}
#P402_272
{
left:29989.4px;bottom:8488.94px;color:rgb(202,121,73);
}
#P402_273
{
left:30559.8px;bottom:8860.08px;color:rgb(204,121,73);
}
#P402_274
{
left:29052.6px;bottom:6295.85px;color:rgb(202,121,73);
}
#P402_275
{
left:29052.6px;bottom:5643.05px;color:rgb(202,121,73);
}
#P402_276
{
left:29623.1px;bottom:6014.19px;color:rgb(204,121,73);
}
#P402_277
{
left:12561.3px;bottom:8860.78px;color:rgb(35,31,31);
}
#P402_278
{
left:20437.4px;bottom:9610.28px;color:rgb(98,93,170);
}
#P402_279
{
left:20437.4px;bottom:8957.48px;color:rgb(98,93,170);
}
#P402_280
{
left:21001.4px;bottom:9270.96px;color:rgb(100,94,170);
}
#P402_281
{
left:19360.4px;bottom:7022.44px;color:rgb(98,93,170);
}
#P402_282
{
left:19360.4px;bottom:6369.64px;color:rgb(98,93,170);
}
#P402_283
{
left:18939.6px;bottom:6683.12px;color:rgb(100,94,170);
}
#P402_284
{
left:14527.4px;bottom:5228.72px;color:rgb(100,94,170);
}
#P402_285
{
left:22089.8px;bottom:8860.78px;color:rgb(35,31,31);
}
#P402_286
{
left:5636.51px;bottom:10516.1px;letter-spacing:2.1px;color:rgb(35,31,31);
}
#P402_287
{
left:0px;letter-spacing:0px;margin-left:20.9px;
}
#PageContainer402
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg402.jpg");background-repeat:no-repeat;background-size: 947px 1291px; background-position: 0px 35.3699999999999px;
}
#ImageContainer402 {bottom:37.63px;left:0.00px;width:946.60px;height:1291.35px;position:absolute;} #TextContainer402 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.example1{      position: absolute;      top: 432px;      left: 93px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}