.tr488{ color:transparent;}
#P488_1
{
left:2365.4px;bottom:1409.96px;color:rgb(35,31,31);
}
#P488_2
{
left:3540.44px;bottom:1409.96px;color:rgb(35,31,31);
}
#P488_3
{
left:4925.4px;bottom:1409.96px;color:rgb(35,31,31);
}
#P488_4
{
left:8197.72px;bottom:1409.96px;letter-spacing:462.1px;color:rgb(35,31,31);
}
#P488_5
{
left:0px;letter-spacing:1.5px;margin-left:-465px;
}
#P488_6
{
left:0px;letter-spacing:0px;margin-left:6.1px;
}
#P488_7
{
left:5594.52px;bottom:32593.6px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P488_8
{
left:12462.8px;bottom:32618.2px;color:white;
}
#P488_9
{
left:15471.3px;bottom:32810px;color:white;
}
#P488_10
{
left:15711.4px;bottom:32618.2px;letter-spacing:-1.3px;color:white;
}
#P488_11
{
left:21569.6px;bottom:32810px;color:white;
}
#P488_12
{
left:21809.8px;bottom:32618.2px;color:white;
}
#P488_13
{
left:10618.5px;bottom:32451.1px;
}
#P488_14
{
left:10618.5px;bottom:32451.1px;color:white;
}
#P488_15
{
left:11689.8px;bottom:30988.8px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P488_16
{
left:0px;letter-spacing:-2.8px;margin-left:-13.6px;
}
#P488_17
{
left:0px;letter-spacing:-0.7px;margin-left:2.8px;
}
#P488_18
{
left:0px;letter-spacing:-2.3px;margin-left:0.7px;
}
#P488_19
{
left:11689.8px;bottom:30092.8px;letter-spacing:-1.9px;color:rgb(35,31,31);
}
#P488_20
{
left:0px;letter-spacing:-14px;margin-left:1.9px;
}
#P488_21
{
left:28978.1px;bottom:25399.4px;color:rgb(35,31,31);
}
#P488_22
{
left:31193.2px;bottom:26431.7px;color:rgb(35,31,31);
}
#P488_23
{
left:30795.4px;bottom:25817.3px;color:rgb(35,31,31);
}
#P488_24
{
left:12885.2px;bottom:27296.8px;color:rgb(237,28,35);
}
#P488_25
{
left:12821.3px;bottom:28755.8px;color:rgb(0,124,196);
}
#P488_26
{
left:13298.6px;bottom:25399.4px;color:rgb(35,31,31);
}
#P488_27
{
left:14724px;bottom:25399.4px;color:rgb(35,31,31);
}
#P488_28
{
left:16149.4px;bottom:25399.4px;color:rgb(35,31,31);
}
#P488_29
{
left:17574.8px;bottom:25399.4px;color:rgb(35,31,31);
}
#P488_30
{
left:19000.2px;bottom:25399.4px;color:rgb(35,31,31);
}
#P488_31
{
left:20425.6px;bottom:25399.4px;color:rgb(35,31,31);
}
#P488_32
{
left:21851px;bottom:25399.4px;color:rgb(35,31,31);
}
#P488_33
{
left:23276.4px;bottom:25399.4px;color:rgb(35,31,31);
}
#P488_34
{
left:24701.8px;bottom:25399.4px;color:rgb(35,31,31);
}
#P488_35
{
left:26127.3px;bottom:25399.4px;color:rgb(35,31,31);
}
#P488_36
{
left:27552.7px;bottom:25399.4px;color:rgb(35,31,31);
}
#P488_37
{
left:11689.8px;bottom:24140.8px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P488_37a
{
left: 12719.8px;bottom:24140.8px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P488_38
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P488_39
{
left:0px;letter-spacing:0px;margin-left:-21px;
}
#P488_40
{
left:0px;letter-spacing:-0.7px;
}
#P488_41
{
left:12713.8px;bottom:22988.8px;letter-spacing:-8.4px;color:rgb(35,31,31);
}
#P488_42
{
left:0px;letter-spacing:-7.7px;margin-left:8.4px;
}
#P488_43
{
left:0px;letter-spacing:-0.4px;margin-left:7.7px;
}
#P488_44
{
left:0px;letter-spacing:0px;margin-left:-24.9px;
}
#P488_45
{
left:0px;letter-spacing:0px;
}
#P488_46
{
left:12713.8px;bottom:22092.8px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P488_47
{
left:0px;letter-spacing:0px;margin-left:-24.6px;
}
#P488_48
{
left:0px;letter-spacing:-0.6px;
}
#P488_49
{
left:0px;letter-spacing:0px;margin-left:0.6px;
}
#P488_50
{
left:12713.8px;bottom:21196.8px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P488_51
{
left:0px;letter-spacing:0px;margin-left:-27.9px;
}
#P488_52
{
left:0px;letter-spacing:0.1px;
}
#P488_53
{
left:12713.8px;bottom:19916.8px;letter-spacing:-8.4px;color:rgb(35,31,31);
}
#P488_54
{
left:0px;letter-spacing:-7.7px;margin-left:8.4px;
}
#P488_55
{
left:0px;letter-spacing:-0.2px;margin-left:7.7px;
}
#P488_56
{
left:0px;letter-spacing:0px;margin-left:-41.9px;
}
#P488_57
{
left:12713.8px;bottom:19020.8px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P488_58
{
left:0px;letter-spacing:0px;margin-left:-66.6px;
}
#P488_59
{
left:0px;letter-spacing:-12.2px;
}
#P488_60
{
left:0px;letter-spacing:0px;margin-left:12.2px;
}
#P488_61
{
left:12713.8px;bottom:18124.9px;letter-spacing:0.2px;color:rgb(35,31,31);
}
#P488_62
{
left:11689.8px;bottom:16844.7px;letter-spacing:-17.5px;color:rgb(35,31,31);
}
#P488_62a
{
left: 12718.8px;bottom:16844.7px;letter-spacing:-17.5px;color:rgb(35,31,31);
}
#P488_63
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P488_64
{
left:0px;letter-spacing:-1.5px;margin-left:13.9px;
}
#P488_65
{
left:0px;letter-spacing:-24.6px;margin-left:-16px;
}
#P488_66
{
left:0px;letter-spacing:-0.6px;margin-left:24.6px;
}
#P488_67
{
left:0px;letter-spacing:-2.8px;margin-left:-13.3px;
}
#P488_68
{
left:0px;letter-spacing:0px;margin-left:2.8px;
}
#P488_69
{
left:12649.8px;bottom:15692.7px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P488_70
{
left:0px;letter-spacing:-9.3px;margin-left:-8px;
}
#P488_71
{
left:0px;letter-spacing:-0.3px;margin-left:9.3px;
}
#P488_72
{
left:12649.8px;bottom:14796.7px;letter-spacing:-0.8px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P488_73
{
left:0px;letter-spacing:-1.1px;margin-left:-20.2px;
}
#P488_74
{
left:0px;letter-spacing:-0.1px;margin-left:-41px;
}
#P488_75
{
left:0px;letter-spacing:-0.7px;
}
#P488_76
{
left:0px;letter-spacing:-2.8px;margin-left:0.6px;
}
#P488_77
{
left:12649.8px;bottom:13900.7px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P488_78
{
left:0px;letter-spacing:-0.5px;margin-left:-6.2px;
}
#P488_79
{
left:0px;letter-spacing:-2.8px;margin-left:0.5px;
}
#P488_80
{
left:0px;letter-spacing:0px;margin-left:-25.2px;
}
#P488_81
{
left:0px;letter-spacing:0.5px;
}
#P488_82
{
left:12649.8px;bottom:13004.8px;letter-spacing:-6.2px;color:rgb(35,31,31);
}
#P488_83
{
left:0px;letter-spacing:-1.7px;margin-left:6.2px;
}
#P488_84
{
left:0px;letter-spacing:-2.8px;margin-left:-12.2px;
}
#P488_85
{
left:0px;letter-spacing:0px;margin-left:2.8px;
}
#P488_86
{
left:11689.8px;bottom:10252.8px;color:rgb(35,31,31);
}
#P488_87
{
left:12166.8px;bottom:10279.6px;letter-spacing:-6.7px;word-spacing:459.9px;color:rgb(35,31,31);
}
#P488_88
{
left:13353.8px;bottom:10252.8px;letter-spacing:-7.4px;color:rgb(35,31,31);
}
#P488_89
{
left:0px;letter-spacing:-10.5px;margin-left:-13.6px;
}
#P488_90
{
left:0px;letter-spacing:-6.7px;margin-left:3.5px;
}
#P488_91
{
left:13353.8px;bottom:9356.78px;letter-spacing:-7.3px;color:rgb(35,31,31);
}
#P488_92
{
left:0px;letter-spacing:-7px;margin-left:-27.8px;
}
#P488_93
{
left:0px;letter-spacing:-7px;margin-left:-20.9px;
}
#P488_94
{
left:0px;letter-spacing:-6.7px;
}
#P488_95
{
left:13353.8px;bottom:8460.84px;letter-spacing:-6.6px;color:rgb(35,31,31);
}
#P488_96
{
left:0px;letter-spacing:-7px;margin-left:-42.5px;
}
#P488_97
{
left:0px;letter-spacing:-8.4px;
}
#P488_98
{
left:0px;letter-spacing:-84.4px;margin-left:-40.7px;
}
#P488_99
{
left:0px;letter-spacing:-7.8px;margin-left:77.3px;
}
#P488_100
{
left:0px;letter-spacing:-9.8px;margin-left:-13.2px;
}
#P488_101
{
left:0px;letter-spacing:-7.3px;margin-left:2.8px;
}
#P488_102
{
left:11689.8px;bottom:7180.72px;color:rgb(35,31,31);
}
#P488_103
{
left:12713.8px;bottom:7207.6px;color:rgb(35,31,31);
}
#P488_104
{
left:5712.99px;bottom:9356.78px;color:rgb(35,31,31);
}
#P488_105
{
left:28020.5px;bottom:3560.68px;color:rgb(35,31,31);
}
#P488_106
{
left:29343px;bottom:3560.68px;color:rgb(35,31,31);
}
#P488_107
{
left:31077.9px;bottom:4605.74px;color:rgb(35,31,31);
}
#P488_108
{
left:31362.6px;bottom:3991.34px;color:rgb(35,31,31);
}
#P488_109
{
left:14697px;bottom:5458.09px;color:rgb(237,28,35);
}
#P488_110
{
left:14537.4px;bottom:6917.1px;color:rgb(0,124,196);
}
#P488_111
{
left:13472.7px;bottom:3560.68px;color:rgb(35,31,31);
}
#P488_112
{
left:14795.2px;bottom:3560.68px;color:rgb(35,31,31);
}
#P488_113
{
left:16117.7px;bottom:3560.68px;color:rgb(35,31,31);
}
#P488_114
{
left:17440.2px;bottom:3560.68px;color:rgb(35,31,31);
}
#P488_115
{
left:18762.6px;bottom:3560.68px;color:rgb(35,31,31);
}
#P488_116
{
left:20085.1px;bottom:3560.68px;color:rgb(35,31,31);
}
#P488_117
{
left:21407.6px;bottom:3560.68px;color:rgb(35,31,31);
}
#P488_118
{
left:22730.1px;bottom:3560.68px;color:rgb(35,31,31);
}
#P488_119
{
left:24052.6px;bottom:3560.68px;color:rgb(35,31,31);
}
#P488_120
{
left:25375.1px;bottom:3560.68px;color:rgb(35,31,31);
}
#P488_121
{
left:26697.6px;bottom:3560.68px;color:rgb(35,31,31);
}
#P488_122
{
left:2454.3px;bottom:42327.5px;color:white;
}
#P488_123
{
left:5809.95px;bottom:42569.1px;color:white;
}
#P488_124
{
left:6145.82px;bottom:42327.5px;color:white;
}
#P488_125
{
left:2688.97px;bottom:41224.5px;color:rgb(35,31,31);
}
#P488_126
{
left:2688.97px;bottom:40456.5px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P488_127
{
left:2688.97px;bottom:39688.5px;color:rgb(35,31,31);
}
#P488_128
{
left:2688.97px;bottom:38920.5px;color:rgb(35,31,31);
}
#P488_129
{
left:2688.97px;bottom:38152.5px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P488_130
{
left:2688.97px;bottom:37384.5px;color:rgb(35,31,31);
}
#P488_131
{
left:0px;letter-spacing:0px;margin-left:-58.7px;
}
#P488_132
{
left:2688.97px;bottom:36616.5px;color:rgb(35,31,31);
}
#P488_133
{
left:2688.97px;bottom:35848.5px;color:rgb(35,31,31);
}
#P488_134
{
left:11229.4px;bottom:43442.1px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P488_135
{
left:18284.3px;bottom:43598.4px;color:rgb(35,31,31);
}
#P488_136
{
left:18480px;bottom:43442.1px;color:rgb(35,31,31);
}
#P488_137
{
left: 12798.4px;bottom:40158.4px;letter-spacing:1441.6px;color:rgb(35,31,31);
}
#P488_137a
{
left: 21200.4px;bottom:40158.4px;letter-spacing:1441.6px;color:rgb(35,31,31);
}
#P488_137b
{
left: 28758.4px;bottom:40158.4px;letter-spacing:1441.6px;color:rgb(35,31,31);
}
#P488_138
{
left:0px;letter-spacing:-1.2px;margin-left:-1458.4px;
}
#P488_139
{
left:0px;letter-spacing:0px;margin-left:1.2px;
}
#P488_140
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P488_141
{
left:0px;letter-spacing:0px;margin-left:-21px;
}
#P488_142
{
left:0px;letter-spacing:0px;
}
#P488_143
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P488_144
{
left:0px;letter-spacing:-1px;margin-left:-16.8px;
}
#P488_145
{
left:0px;letter-spacing:0px;margin-left:1px;
}
#P488_146
{
left:11229.4px;bottom:39151.9px;color:rgb(35,31,31);
}
#P488_147
{
left:11583.8px;bottom:39134.5px;color:rgb(35,31,31);
}
#P488_148
{
left:11935.8px;bottom:38966.3px;color:rgb(35,31,31);
}
#P488_149
{
left:11935.8px;bottom:38070.3px;letter-spacing:0.3px;color:rgb(35,31,31);
}
#P488_150
{
left:19039.8px;bottom:39134.5px;color:rgb(35,31,31);
}
#P488_151
{
left:19805.4px;bottom:39151.9px;color:rgb(35,31,31);
}
#P488_152
{
left:20159.8px;bottom:39134.5px;color:rgb(35,31,31);
}
#P488_153
{
left:20511.8px;bottom:38942.1px;color:rgb(35,31,31);
}
#P488_154
{
left:20511.8px;bottom:38046.1px;color:rgb(35,31,31);
}
#P488_155
{
left:26831.5px;bottom:39134.5px;color:rgb(35,31,31);
}
#P488_156
{
left:27229.4px;bottom:39151.9px;color:rgb(35,31,31);
}
#P488_157
{
left:27583.8px;bottom:39134.5px;color:rgb(35,31,31);
}
#P488_158
{
left:27935.8px;bottom:38934.3px;color:rgb(35,31,31);
}
#P488_159
{
left:27935.8px;bottom:38038.3px;color:rgb(35,31,31);
}
#P488_160
{
left:11229.4px;bottom:37039.9px;color:rgb(35,31,31);
}
#P488_161
{
left:11583.8px;bottom:37022.5px;color:rgb(35,31,31);
}
#P488_162
{
left:11935.8px;bottom:36854.3px;letter-spacing:-3.5px;color:rgb(35,31,31);
}
#P488_163
{
left:0px;letter-spacing:0.4px;margin-left:3.5px;
}
#P488_164
{
left:19039.8px;bottom:37022.5px;color:rgb(35,31,31);
}
#P488_165
{
left:19805.4px;bottom:37039.9px;color:rgb(35,31,31);
}
#P488_166
{
left:20159.8px;bottom:37022.5px;color:rgb(35,31,31);
}
#P488_167
{
left:20511.8px;bottom:36830.1px;letter-spacing:-3.5px;color:rgb(35,31,31);
}
#P488_168
{
left:0px;letter-spacing:0px;margin-left:3.5px;
}
#P488_169
{
left:20511.8px;bottom:35934.1px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P488_170
{
left:26721.8px;bottom:37022.5px;color:rgb(35,31,31);
}
#P488_171
{
left:27229.4px;bottom:37039.9px;color:rgb(35,31,31);
}
#P488_172
{
left:27583.8px;bottom:37022.5px;color:rgb(35,31,31);
}
#P488_173
{
left:27935.8px;bottom:36822.3px;letter-spacing:-4.2px;color:rgb(35,31,31);
}
#P488_174
{
left:0px;letter-spacing:0px;margin-left:4.2px;
}
#P488_175
{
left:10813.4px;bottom:46716.8px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P488_176
{
left:0px;letter-spacing:0px;margin-left:-20.6px;
}
#P488_177
{
left:0px;letter-spacing:0.2px;
}
#PageContainer488
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg488.jpg");background-repeat:no-repeat;background-size: 914px 1184px; background-position: 32.8px 107.22px;
}
#ImageContainer488 {bottom:72.78px;left:32.80px;width:913.80px;height:1184.06px;position:absolute;} #TextContainer488 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.example3{       position: absolute;       top: 446px;       left: 97px;
}
.nyr{
position: absolute;
top: 1059px;left: 128px;
}
.nyr_exr{position: absolute;top: 1093px;left: 153px;color:rgb(35,31,31);font-size:16px}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}