.tr241{ color:transparent;}
#P241_1
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P241_2
{
left:20239.8px;bottom:1410.03px;color:rgb(35,31,31);
}
#P241_3
{
left:24792.1px;bottom:1410.03px;letter-spacing:463.2px;word-spacing:-1.2px;color:rgb(35,31,31);
}
#P241_4
{
left:0px;letter-spacing:0.6px;margin-left:-462.1px;
}
#P241_5
{
left:0px;letter-spacing:1.1px;margin-left:0.5px;
}
#P241_6
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P241_7
{
left:6265.11px;bottom:44684.2px;
}
#P241_8
{
left:6265.11px;bottom:44684.2px;color:white;
}
#P241_9
{
left:6909.4px;bottom:9013.1px;color:rgb(35,31,31);
}
#P241_10
{
left:0px;letter-spacing:0px;margin-left:-8.4px;
}
#P241_11
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P241_12
{
left:10219px;bottom:9013.1px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P241_13
{
left:6909.4px;bottom:7861.1px;color:rgb(35,31,31);
}
#P241_14
{
left:7086.55px;bottom:7880.81px;color:rgb(35,31,31);
}
#P241_15
{
left:8509.4px;bottom:7861.1px;color:rgb(35,31,31);
}
#P241_16
{
left:9787.16px;bottom:7831.53px;color:rgb(35,31,31);
}
#P241_17
{
left:10373.6px;bottom:7861.1px;color:rgb(35,31,31);
}
#P241_18
{
left:17390.6px;bottom:7880.81px;color:rgb(35,31,31);
}
#P241_19
{
left:18813.4px;bottom:7861.1px;color:rgb(35,31,31);
}
#P241_20
{
left:20464.3px;bottom:7831.53px;color:rgb(35,31,31);
}
#P241_21
{
left:21050.7px;bottom:7861.1px;color:rgb(35,31,31);
}
#P241_22
{
left:27694.6px;bottom:7880.81px;color:rgb(35,31,31);
}
#P241_23
{
left:28989.5px;bottom:7861.1px;color:rgb(35,31,31);
}
#P241_24
{
left:30640.4px;bottom:7831.53px;color:rgb(35,31,31);
}
#P241_25
{
left:31226.8px;bottom:7861.1px;color:rgb(35,31,31);
}
#P241_26
{
left:6909.53px;bottom:6325.1px;color:rgb(35,31,31);
}
#P241_27
{
left:7086.68px;bottom:6344.81px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P241_28
{
left:8573.4px;bottom:6344.81px;letter-spacing:-17.6px;color:rgb(2,77,161);
}
#P241_29
{
left:0px;letter-spacing:0px;margin-left:17.6px;
}
#P241_30
{
left:14049px;bottom:6325.1px;letter-spacing:151.5px;color:rgb(35,31,31);
}
#P241_31
{
left:0px;letter-spacing:-1.2px;margin-left:-151.5px;
}
#P241_32
{
left:0px;letter-spacing:-0.1px;margin-left:1.2px;
}
#P241_33
{
left:8573.4px;bottom:5429.1px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P241_34
{
left:0px;letter-spacing:0px;margin-left:-16.4px;
}
#P241_35
{
left:15187.6px;bottom:5429.1px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P241_36
{
left:6909.4px;bottom:4085.1px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P241_37
{
left:8486.49px;bottom:4128.48px;color:rgb(35,31,31);
}
#P241_38
{
left:8823.32px;bottom:4249.61px;color:rgb(35,31,31);
}
#P241_39
{
left:9469.4px;bottom:4085.1px;color:rgb(35,31,31);
}
#P241_40
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P241_41
{
left:15782.5px;bottom:4128.48px;color:rgb(35,31,31);
}
#P241_42
{
left:16119.3px;bottom:4249.61px;color:rgb(35,31,31);
}
#P241_43
{
left:16765.4px;bottom:4085.1px;color:rgb(35,31,31);
}
#P241_44
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P241_45
{
left:23270.5px;bottom:4128.48px;color:rgb(35,31,31);
}
#P241_46
{
left:23607.3px;bottom:4249.61px;color:rgb(35,31,31);
}
#P241_47
{
left:24253.4px;bottom:4085.1px;color:rgb(35,31,31);
}
#P241_48
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P241_49
{
left:30630.5px;bottom:4128.48px;color:rgb(35,31,31);
}
#P241_50
{
left:30967.3px;bottom:4249.61px;color:rgb(35,31,31);
}
#P241_51
{
left:31613.4px;bottom:4085.1px;color:rgb(35,31,31);
}
#P241_52
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P241_53
{
left:6973.4px;bottom:46716.8px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P241_54
{
left:0px;letter-spacing:-0.8px;margin-left:0.5px;
}
#P241_55
{
left:0px;letter-spacing:-9.3px;margin-left:0.8px;
}
#P241_56
{
left:6973.4px;bottom:45820.8px;letter-spacing:0.7px;color:rgb(35,31,31);
}
#P241_57
{
left:7150.55px;bottom:44688.5px;color:rgb(35,31,31);
}
#P241_58
{
left:9688.86px;bottom:44402.9px;color:rgb(35,31,31);
}
#P241_59
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P241_60
{
left:0px;letter-spacing:0px;margin-left:-74.5px;
}
#P241_61
{
left:9263.64px;bottom:43318.9px;color:rgb(35,31,31);
}
#P241_62
{
left:9208.09px;bottom:42486.9px;color:rgb(35,31,31);
}
#P241_63
{
left:12050.5px;bottom:43318.9px;color:rgb(35,31,31);
}
#P241_64
{
left:11788.7px;bottom:42486.9px;color:rgb(35,31,31);
}
#P241_65
{
left:9851.29px;bottom:41384.2px;letter-spacing:2523.8px;color:rgb(35,31,31);
}
#P241_66
{
left:9851.29px;bottom:40232.2px;color:rgb(35,31,31);
}
#P241_67
{
left:9851.29px;bottom:39080.2px;color:rgb(35,31,31);
}
#P241_68
{
left:9851.29px;bottom:37928.1px;color:rgb(35,31,31);
}
#P241_69
{
left:15212.9px;bottom:44402.9px;color:rgb(35,31,31);
}
#P241_70
{
left:15471.6px;bottom:43318.9px;color:rgb(35,31,31);
}
#P241_71
{
left:15416.1px;bottom:42486.9px;color:rgb(35,31,31);
}
#P241_72
{
left:18258.5px;bottom:43318.9px;color:rgb(35,31,31);
}
#P241_73
{
left:17996.7px;bottom:42486.9px;color:rgb(35,31,31);
}
#P241_74
{
left:16059.3px;bottom:41384.2px;letter-spacing:2523.8px;color:rgb(35,31,31);
}
#P241_75
{
left:16059.3px;bottom:40232.2px;color:rgb(35,31,31);
}
#P241_76
{
left:16059.3px;bottom:39080.2px;color:rgb(35,31,31);
}
#P241_77
{
left:15881.2px;bottom:37928.1px;color:rgb(35,31,31);
}
#P241_78
{
left:20573.4px;bottom:44668.8px;color:rgb(35,31,31);
}
#P241_79
{
left:21934.6px;bottom:44688.5px;color:rgb(35,31,31);
}
#P241_80
{
left:25848px;bottom:44402.9px;color:rgb(35,31,31);
}
#P241_81
{
left:23749px;bottom:42902.8px;color:rgb(35,31,31);
}
#P241_82
{
left:27194.9px;bottom:43318.8px;color:rgb(35,31,31);
}
#P241_83
{
left:26597.5px;bottom:42486.8px;color:rgb(35,31,31);
}
#P241_84
{
left:24635.3px;bottom:41384px;letter-spacing:2537.8px;color:rgb(35,31,31);
}
#P241_85
{
left:0px;letter-spacing:0px;margin-left:-2537.8px;
}
#P241_86
{
left:24635.3px;bottom:40232px;color:rgb(35,31,31);
}
#P241_87
{
left:24457.2px;bottom:39080px;color:rgb(35,31,31);
}
#P241_88
{
left:24457.2px;bottom:37928px;color:rgb(35,31,31);
}
#P241_89
{
left:31611px;bottom:44402.9px;color:rgb(35,31,31);
}
#P241_90
{
left:30277px;bottom:42902.8px;color:rgb(35,31,31);
}
#P241_91
{
left:33722.9px;bottom:43318.8px;color:rgb(35,31,31);
}
#P241_92
{
left:33125.5px;bottom:42486.8px;color:rgb(35,31,31);
}
#P241_93
{
left:31163.3px;bottom:41384px;letter-spacing:2537.8px;color:rgb(35,31,31);
}
#P241_94
{
left:0px;letter-spacing:0px;margin-left:-2537.8px;
}
#P241_95
{
left:30985.1px;bottom:40232px;color:rgb(35,31,31);
}
#P241_96
{
left:30985.1px;bottom:39080px;color:rgb(35,31,31);
}
#P241_97
{
left:30985.1px;bottom:37928px;color:rgb(35,31,31);
}
#P241_98
{
left:7150.55px;bottom:36304.5px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P241_99
{
left:8637.4px;bottom:36304.5px;color:rgb(2,77,161);
}
#P241_100
{
left:10214.4px;bottom:36284.8px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P241_101
{
left:0px;letter-spacing:0.2px;margin-left:-206.1px;
}
#P241_102
{
left:0px;letter-spacing:0px;margin-left:-14.1px;
}
#P241_103
{
left:0px;letter-spacing:0px;margin-left:-12.5px;
}
#P241_104
{
left:8637.4px;bottom:35388.8px;letter-spacing:0.2px;color:rgb(35,31,31);
}
#P241_105
{
left:0px;letter-spacing:0px;margin-left:-42.3px;
}
#P241_106
{
left:0px;letter-spacing:-0.4px;
}
#P241_107
{
left:8637.4px;bottom:34492.8px;color:rgb(35,31,31);
}
#P241_108
{
left:7150.55px;bottom:33168.4px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P241_109
{
left:8637.4px;bottom:33168.5px;letter-spacing:-4.8px;color:rgb(2,77,161);
}
#P241_110
{
left:0px;letter-spacing:0px;margin-left:4.8px;
}
#P241_111
{
left:12407.3px;bottom:33148.8px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P241_112
{
left:0px;letter-spacing:0px;margin-left:-193.6px;
}
#P241_113
{
left:0px;letter-spacing:-77.4px;margin-left:-42.1px;
}
#P241_114
{
left:0px;letter-spacing:-0.2px;margin-left:77.4px;
}
#P241_115
{
left:8637.4px;bottom:32252.8px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P241_116
{
left:0px;letter-spacing:0px;margin-left:-76px;
}
#P241_117
{
left:0px;letter-spacing:-0.2px;
}
#P241_118
{
left:0px;letter-spacing:0px;margin-left:-41.9px;
}
#P241_119
{
left:0px;letter-spacing:0px;
}
#P241_120
{
left:8637.4px;bottom:31356.8px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P241_121
{
left:0px;letter-spacing:0px;margin-left:-6.5px;
}
#P241_122
{
left:7150.55px;bottom:30032.6px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P241_123
{
left:8637.4px;bottom:30032.5px;letter-spacing:-1.1px;word-spacing:-26px;color:rgb(2,77,161);
}
#P241_124
{
left:13370.6px;bottom:30012.8px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P241_125
{
left:0px;letter-spacing:-1px;margin-left:-193.6px;
}
#P241_126
{
left:0px;letter-spacing:0px;margin-left:-13px;
}
#P241_127
{
left:0px;letter-spacing:0px;margin-left:-13.9px;
}
#P241_128
{
left:8725.34px;bottom:28668.8px;letter-spacing:-14px;word-spacing:492.2px;color:rgb(35,31,31);
}
#P241_129
{
left:9917.4px;bottom:28668.8px;letter-spacing:-9.3px;color:rgb(35,31,31);
}
#P241_130
{
left:0px;letter-spacing:0px;margin-left:9.3px;
}
#P241_131
{
left:9917.4px;bottom:27772.8px;letter-spacing:-1.9px;color:rgb(35,31,31);
}
#P241_132
{
left:8689.24px;bottom:26684.8px;letter-spacing:-13.9px;word-spacing:499.1px;color:rgb(35,31,31);
}
#P241_133
{
left:9917.4px;bottom:26684.8px;letter-spacing:-9.3px;color:rgb(35,31,31);
}
#P241_134
{
left:0px;letter-spacing:0px;margin-left:9.3px;
}
#P241_135
{
left:9917.4px;bottom:25788.8px;letter-spacing:-1.9px;color:rgb(35,31,31);
}
#P241_136
{
left:0px;letter-spacing:0px;margin-left:1.9px;
}
#P241_137
{
left:8760.54px;bottom:24700.7px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P241_138
{
left:9917.4px;bottom:24700.7px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P241_139
{
left:0px;letter-spacing:0px;margin-left:-3.5px;
}
#P241_140
{
left:7150.55px;bottom:23376.4px;color:rgb(35,31,31);
}
#P241_141
{
left:0px;letter-spacing:0px;margin-left:116.9px;
}
#P241_142
{
left:8637.4px;bottom:23376.5px;color:rgb(2,77,161);
}
#P241_143
{
left:12902.2px;bottom:23356.8px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P241_144
{
left:0px;letter-spacing:-0.4px;margin-left:-193.6px;
}
#P241_145
{
left:8637.4px;bottom:22460.8px;letter-spacing:-0.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P241_146
{
left:0px;letter-spacing:-0.1px;margin-left:-25.2px;
}
#P241_147
{
left:0px;letter-spacing:-0.1px;
}
#P241_148
{
left:8637.4px;bottom:21564.8px;letter-spacing:-0.2px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P241_149
{
left:0px;letter-spacing:-0.1px;margin-left:-6.7px;
}
#P241_150
{
left:8637.4px;bottom:20668.8px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P241_151
{
left:8725.34px;bottom:19324.8px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P241_152
{
left:9917.4px;bottom:19324.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P241_153
{
left:0px;letter-spacing:-2.3px;margin-left:154.2px;
}
#P241_154
{
left:0px;letter-spacing:-0.6px;margin-left:2.3px;
}
#P241_155
{
left:0px;letter-spacing:-7px;margin-left:-13.4px;
}
#P241_156
{
left:0px;letter-spacing:0px;margin-left:-13.9px;
}
#P241_157
{
left:0px;letter-spacing:-0.5px;
}
#P241_158
{
left:9917.4px;bottom:18428.8px;color:rgb(35,31,31);
}
#P241_159
{
left:8689.31px;bottom:17340.8px;letter-spacing:-17.5px;color:rgb(35,31,31);
}
#P241_160
{
left:9917.4px;bottom:17340.8px;letter-spacing:-1.9px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P241_161
{
left:0px;letter-spacing:-0.9px;margin-left:1.7px;
}
#P241_162
{
left:0px;letter-spacing:-21.2px;margin-left:-13px;
}
#P241_163
{
left:0px;letter-spacing:-0.3px;margin-left:21px;
}
#P241_164
{
left:8760.54px;bottom:16252.8px;letter-spacing:-14px;word-spacing:492.2px;color:rgb(35,31,31);
}
#P241_165
{
left:9917.4px;bottom:16252.8px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P241_166
{
left:0px;letter-spacing:-0.9px;margin-left:-13.4px;
}
#P241_167
{
left:0px;letter-spacing:-0.6px;margin-left:0.9px;
}
#P241_168
{
left:9917.4px;bottom:15356.8px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P241_169
{
left:0px;letter-spacing:-1px;margin-left:0.8px;
}
#P241_170
{
left:7150.55px;bottom:13712.6px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P241_171
{
left:12371.4px;bottom:13692.8px;letter-spacing:-8.4px;color:rgb(35,31,31);
}
#P241_172
{
left:0px;letter-spacing:0px;margin-left:8.4px;
}
#P241_173
{
left:16011.1px;bottom:13692.8px;color:rgb(35,31,31);
}
#P241_174
{
left:16426.5px;bottom:13692.8px;color:rgb(35,31,31);
}
#P241_175
{
left:16771.4px;bottom:13692.8px;color:rgb(35,31,31);
}
#P241_176
{
left:17165px;bottom:13692.8px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P241_177
{
left:0px;letter-spacing:-1.4px;margin-left:-6.4px;
}
#P241_178
{
left:0px;letter-spacing:-42.1px;margin-left:1.4px;
}
#P241_179
{
left:0px;letter-spacing:0px;margin-left:42.1px;
}
#P241_180
{
left:8637.4px;bottom:12796.8px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#PageContainer241
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg241.jpg");background-repeat:no-repeat;background-size: 915px 1146px; background-position: 152px 125.86px;
}
#ImageContainer241 {bottom:92.14px;right:0.00px;width:914.91px;height:1146.12px;position:absolute;} #TextContainer241 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.c3{position: absolute;top: 121px;left: 159px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}