.tr367{ color:transparent;}
#P367_1
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P367_2
{
left:14449.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P367_3
{
left:19001.7px;bottom:1410.03px;letter-spacing:462.5px;word-spacing:-0.4px;color:rgb(35,31,31);
}
#P367_4
{
left:0px;letter-spacing:1.1px;margin-left:-455.8px;
}
#P367_5
{
left:0px;letter-spacing:0.8px;margin-left:-0.6px;
}
#P367_6
{
left:0px;letter-spacing:0.6px;margin-left:-0.4px;
}
#P367_7
{
left:0px;letter-spacing:1.3px;margin-left:3.2px;
}
#P367_8
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P367_9
{
left:7753.11px;bottom:46049.6px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P367_10
{
left:14621.4px;bottom:46074.2px;color:white;
}
#P367_11
{
left:16269.9px;bottom:46266px;color:white;
}
#P367_12
{
left:16510.1px;bottom:46074.2px;color:white;
}
#P367_13
{
left:21760.7px;bottom:46266px;color:white;
}
#P367_14
{
left:22000.9px;bottom:46074.2px;color:white;
}
#P367_15
{
left:23922.4px;bottom:46266px;color:white;
}
#P367_16
{
left:24162.6px;bottom:46074.2px;color:white;
}
#P367_17
{
left:25939.8px;bottom:46266px;color:white;
}
#P367_18
{
left:26180px;bottom:46074.2px;color:white;
}
#P367_19
{
left:26628.4px;bottom:46266px;color:white;
}
#P367_20
{
left:26868.6px;bottom:46074.2px;color:white;
}
#P367_21
{
left:27236.7px;bottom:46266px;color:white;
}
#P367_22
{
left:27476.9px;bottom:46074.2px;color:white;
}
#P367_23
{
left:12777px;bottom:45907.1px;
}
#P367_24
{
left:12777px;bottom:45907.1px;color:white;
}
#P367_25
{
left:13848.4px;bottom:44444.8px;letter-spacing:-1.7px;color:rgb(35,31,31);
}
#P367_26
{
left:16135.7px;bottom:44450.4px;color:rgb(35,31,31);
}
#P367_27
{
left:16582.7px;bottom:44444.8px;color:rgb(35,31,31);
}
#P367_28
{
left:16818.6px;bottom:44514.4px;color:rgb(35,31,31);
}
#P367_29
{
left:17241px;bottom:44444.8px;letter-spacing:-29.9px;color:rgb(35,31,31);
}
#P367_30
{
left:0px;letter-spacing:-14px;margin-left:29.9px;
}
#P367_31
{
left:0px;letter-spacing:-0.7px;margin-left:14px;
}
#P367_32
{
left:15416.4px;bottom:43292.8px;color:rgb(35,31,31);
}
#P367_33
{
left:15789.5px;bottom:43292.8px;color:rgb(35,31,31);
}
#P367_34
{
left:16224.6px;bottom:43292.8px;color:rgb(35,31,31);
}
#P367_35
{
left:16471px;bottom:43356.7px;color:rgb(35,31,31);
}
#P367_36
{
left:17118.6px;bottom:43292.8px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P367_37
{
left:19960.4px;bottom:43300.8px;color:rgb(0,124,196);
}
#P367_38
{
left:0px;letter-spacing:0px;margin-left:33.6px;
}
#P367_39
{
left:0px;letter-spacing:0px;margin-left:-49.8px;
}
#P367_40
{
left:15464.4px;bottom:41692.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P367_41
{
left:15485.5px;bottom:42132.5px;color:rgb(35,31,31);
}
#P367_42
{
left:15821.3px;bottom:42132.5px;color:rgb(35,31,31);
}
#P367_43
{
left:16212.9px;bottom:41710.4px;color:rgb(35,31,31);
}
#P367_44
{
left:15464.4px;bottom:41676.8px;color:rgb(235,26,35);
}
#P367_45
{
left:16234px;bottom:41694px;color:rgb(235,26,35);
}
#P367_46
{
left:15681.3px;bottom:41224.9px;color:rgb(235,26,35);
}
#P367_47
{
left:16017.1px;bottom:41710.4px;color:rgb(235,26,35);
}
#P367_48
{
left:16234px;bottom:41692.8px;letter-spacing:-158.4px;color:rgb(235,26,35);
}
#P367_49
{
left:16392.4px;bottom:41692.8px;color:rgb(35,31,31);
}
#P367_50
{
left:16480.4px;bottom:41756.8px;color:rgb(35,31,31);
}
#P367_51
{
left:17149.2px;bottom:42132.5px;color:rgb(35,31,31);
}
#P367_52
{
left:17820.8px;bottom:41710.4px;color:rgb(35,31,31);
}
#P367_53
{
left:17128.1px;bottom:41676.8px;color:rgb(235,26,35);
}
#P367_54
{
left:17841.9px;bottom:41694px;color:rgb(235,26,35);
}
#P367_55
{
left:17317.1px;bottom:41224.9px;color:rgb(235,26,35);
}
#P367_56
{
left:17652.9px;bottom:41710.4px;color:rgb(235,26,35);
}
#P367_57
{
left:17841.9px;bottom:41692.8px;letter-spacing:-158.4px;color:rgb(235,26,35);
}
#P367_58
{
left:19928.4px;bottom:41700.8px;color:rgb(0,124,196);
}
#P367_59
{
left:15416.4px;bottom:40060.8px;letter-spacing:219.2px;color:rgb(35,31,31);
}
#P367_60
{
left:16229.1px;bottom:40060.8px;color:rgb(35,31,31);
}
#P367_61
{
left:16475.5px;bottom:40124.8px;color:rgb(35,31,31);
}
#P367_62
{
left:17123.1px;bottom:40060.8px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P367_63
{
left:19928.4px;bottom:40068.8px;color:rgb(0,124,196);
}
#P367_64
{
left:0px;letter-spacing:0px;margin-left:40.3px;
}
#P367_65
{
left:0px;letter-spacing:0px;margin-left:-49.7px;
}
#P367_66
{
left:14464.4px;bottom:38332.8px;letter-spacing:520.3px;color:rgb(35,31,31);
}
#P367_67
{
left:0px;letter-spacing:0px;margin-left:-520.3px;
}
#P367_68
{
left:19981.6px;bottom:38332.8px;color:rgb(35,31,31);
}
#P367_69
{
left:20416.7px;bottom:38332.8px;color:rgb(35,31,31);
}
#P367_70
{
left:20663.1px;bottom:38396.8px;color:rgb(35,31,31);
}
#P367_71
{
left:21310.7px;bottom:38332.8px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P367_72
{
left:25189.4px;bottom:35701.8px;color:rgb(35,31,31);
}
#P367_73
{
left:22184px;bottom:35704.4px;color:rgb(35,31,31);
}
#P367_74
{
left:18789.4px;bottom:35592.2px;color:rgb(35,31,31);
}
#P367_75
{
left:19215.9px;bottom:35705.9px;color:rgb(35,31,31);
}
#P367_76
{
left:17240.1px;bottom:35592.2px;color:rgb(35,31,31);
}
#P367_77
{
left:17666.6px;bottom:35705.9px;color:rgb(35,31,31);
}
#P367_78
{
left:20674.6px;bottom:35701.8px;color:rgb(35,31,31);
}
#P367_79
{
left:29509.7px;bottom:35703.3px;color:rgb(35,31,31);
}
#P367_80
{
left:32539.7px;bottom:35703.3px;color:rgb(35,31,31);
}
#P367_81
{
left:26692.1px;bottom:35716.7px;color:rgb(35,31,31);
}
#P367_82
{
left:23671.8px;bottom:35703.3px;color:rgb(35,31,31);
}
#P367_83
{
left:28000.8px;bottom:35716.7px;color:rgb(35,31,31);
}
#P367_84
{
left:31058.5px;bottom:35716.7px;color:rgb(35,31,31);
}
#P367_85
{
left:29885.5px;bottom:36967.7px;color:rgb(0,124,196);
}
#P367_86
{
left:30397.5px;bottom:36975.7px;color:rgb(0,124,196);
}
#P367_87
{
left:30824px;bottom:37088.6px;color:rgb(0,124,196);
}
#P367_88
{
left:6869.59px;bottom:41710.4px;color:rgb(0,124,196);
}
#P367_89
{
left:7752.35px;bottom:32941.7px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P367_90
{
left:14620.6px;bottom:32966.2px;color:white;
}
#P367_91
{
left:17004.4px;bottom:33158px;color:white;
}
#P367_92
{
left:17244.6px;bottom:32966.2px;word-spacing:-31.9px;color:white;
}
#P367_93
{
left:20013px;bottom:33158px;color:white;
}
#P367_94
{
left:20253.1px;bottom:32966.2px;color:white;
}
#P367_95
{
left:21436.8px;bottom:33158px;color:white;
}
#P367_96
{
left:21677px;bottom:32966.2px;color:white;
}
#P367_97
{
left:12776.3px;bottom:32799.1px;
}
#P367_98
{
left:12776.3px;bottom:32799.1px;color:white;
}
#P367_99
{
left:13844.7px;bottom:31340.8px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P367_100
{
left:0px;letter-spacing:0px;margin-left:0.7px;
}
#P367_101
{
left:13796.7px;bottom:30188.8px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P367_101a
{
left: 15006.7px;bottom:30188.8px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P367_102
{
left:0px;letter-spacing:0px;margin-left:450px;
}
#P367_103
{
left:0px;letter-spacing:0px;margin-left:-147.8px;
}
#P367_104
{
left:0px;letter-spacing:5.4px;margin-left:-35px;
}
#P367_105
{
left:0px;letter-spacing:-0.3px;margin-left:-5.4px;
}
#P367_106
{
left:0px;letter-spacing:0px;margin-left:-224.7px;
}
#P367_107
{
left:0px;letter-spacing:0px;margin-left:77.1px;
}
#P367_108
{
left:0px;letter-spacing:0px;
}
#P367_109
{
left:14932.7px;bottom:29292.8px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P367_110
{
left:13796.8px;bottom:28140.8px;letter-spacing:-17.5px;color:rgb(35,31,31);
}
#P367_110a
{
left: 15066.8px;bottom:28140.8px;letter-spacing:-17.5px;color:rgb(35,31,31);
}
#P367_111
{
left:0px;letter-spacing:0px;margin-left:417.5px;
}
#P367_112
{
left:0px;letter-spacing:0px;margin-left:-147.8px;
}
#P367_113
{
left:0px;letter-spacing:0px;margin-left:-63.2px;
}
#P367_114
{
left:0px;letter-spacing:-0.1px;
}
#P367_115
{
left:0px;letter-spacing:-4.2px;margin-left:-27.9px;
}
#P367_116
{
left:0px;letter-spacing:0px;margin-left:4.2px;
}
#P367_117
{
left:14932.7px;bottom:27244.8px;color:rgb(35,31,31);
}
#P367_118
{
left:13796.8px;bottom:25516.8px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P367_119
{
left:14932.7px;bottom:25557.8px;letter-spacing:-5.4px;color:rgb(2,77,161);
}
#P367_120
{
left:16905.2px;bottom:25516.8px;color:rgb(35,31,31);
}
#P367_121
{
left:14916.7px;bottom:23317.8px;letter-spacing:-16.7px;color:rgb(2,77,161);
}
#P367_122
{
left:0px;letter-spacing:0px;margin-left:16.7px;
}
#P367_123
{
left:18004.7px;bottom:23276.8px;word-spacing:327.4px;color:rgb(35,31,31);
}
#P367_124
{
left:19167px;bottom:23276.8px;color:rgb(35,31,31);
}
#P367_125
{
left:19450px;bottom:23276.8px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P367_126
{
left:14884.7px;bottom:21973.8px;color:rgb(2,77,161);
}
#P367_127
{
left:18095.5px;bottom:21932.8px;color:rgb(35,31,31);
}
#P367_128
{
left:19719.7px;bottom:21932.8px;color:rgb(35,31,31);
}
#P367_129
{
left:23724.4px;bottom:21718.2px;color:rgb(35,31,31);
}
#P367_130
{
left:23965.2px;bottom:21462.2px;color:rgb(35,31,31);
}
#P367_131
{
left:24317px;bottom:21718.2px;color:rgb(35,31,31);
}
#P367_132
{
left:24651.4px;bottom:21932.8px;color:rgb(35,31,31);
}
#P367_133
{
left:27911.2px;bottom:21932.8px;color:rgb(35,31,31);
}
#P367_134
{
left:32091.2px;bottom:21932.8px;word-spacing:3580.3px;color:rgb(35,31,31);
}
#P367_135
{
left:0px;letter-spacing:0px;margin-left:-1959.6px;
}
#P367_136
{
left:16388.7px;bottom:20396.8px;color:rgb(35,31,31);
}
#P367_137
{
left:17694.6px;bottom:20396.8px;color:rgb(35,31,31);
}
#P367_138
{
left:17977.6px;bottom:20396.8px;color:rgb(35,31,31);
}
#P367_139
{
left:18224px;bottom:20460.8px;color:rgb(35,31,31);
}
#P367_140
{
left:18871.7px;bottom:20396.8px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P367_141
{
left:22292.7px;bottom:20404.8px;color:rgb(0,124,196);
}
#P367_142
{
left:0px;letter-spacing:0px;margin-left:-49.7px;
}
#P367_143
{
left:16500.7px;bottom:18812.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P367_144
{
left:16521.8px;bottom:19252.5px;color:rgb(35,31,31);
}
#P367_145
{
left:17697.1px;bottom:19252.5px;color:rgb(35,31,31);
}
#P367_146
{
left:17951.8px;bottom:18830.4px;color:rgb(35,31,31);
}
#P367_147
{
left:16500.7px;bottom:18796.8px;color:rgb(235,26,35);
}
#P367_148
{
left:17973px;bottom:18814px;color:rgb(235,26,35);
}
#P367_149
{
left:16649.2px;bottom:18344.9px;color:rgb(235,26,35);
}
#P367_150
{
left:17824.5px;bottom:18830.4px;color:rgb(235,26,35);
}
#P367_151
{
left:17973px;bottom:18812.8px;color:rgb(235,26,35);
}
#P367_152
{
left:17973px;bottom:18812.8px;color:rgb(35,31,31);
}
#P367_153
{
left:18219.4px;bottom:18876.8px;color:rgb(35,31,31);
}
#P367_154
{
left:19140px;bottom:19252.5px;color:rgb(35,31,31);
}
#P367_155
{
left:19811.6px;bottom:18830.4px;color:rgb(35,31,31);
}
#P367_156
{
left:18867px;bottom:18796.8px;color:rgb(235,26,35);
}
#P367_157
{
left:20084.6px;bottom:18814px;color:rgb(235,26,35);
}
#P367_158
{
left:18888.2px;bottom:18344.9px;color:rgb(235,26,35);
}
#P367_159
{
left:20063.4px;bottom:18830.4px;color:rgb(235,26,35);
}
#P367_160
{
left:20084.6px;bottom:18812.8px;letter-spacing:-158.4px;color:rgb(235,26,35);
}
#P367_161
{
left:22228.7px;bottom:18820.8px;color:rgb(0,124,196);
}
#P367_162
{
left:16388.7px;bottom:17180.8px;letter-spacing:1137.6px;color:rgb(35,31,31);
}
#P367_163
{
left:17967.7px;bottom:17180.8px;color:rgb(35,31,31);
}
#P367_164
{
left:18214.1px;bottom:17244.8px;color:rgb(35,31,31);
}
#P367_165
{
left:18861.8px;bottom:17180.8px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P367_166
{
left:22260.7px;bottom:17188.8px;color:rgb(0,124,196);
}
#P367_167
{
left:0px;letter-spacing:0px;margin-left:-49.7px;
}
#P367_168
{
left:15484.7px;bottom:15644.8px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P367_169
{
left:0px;letter-spacing:0px;margin-left:-704px;
}
#P367_170
{
left:0px;letter-spacing:-9.3px;margin-left:-8.4px;
}
#P367_171
{
left:0px;letter-spacing:-0.7px;margin-left:5.2px;
}
#P367_172
{
left:0px;letter-spacing:0.2px;margin-left:0.7px;
}
#P367_173
{
left:16188.7px;bottom:14748.8px;color:rgb(35,31,31);
}
#P367_174
{
left:13768.5px;bottom:13577.7px;letter-spacing:-6.9px;word-spacing:550.9px;color:rgb(35,31,31);
}
#P367_175
{
left:14868.7px;bottom:13577.7px;letter-spacing:-16.3px;color:rgb(35,31,31);
}
#P367_176
{
left:0px;letter-spacing:0px;margin-left:-8.9px;
}
#P367_177
{
left:0px;letter-spacing:-0.1px;
}
#P367_178
{
left:0px;letter-spacing:0px;margin-left:-27.9px;
}
#P367_179
{
left:0px;letter-spacing:0px;
}
#P367_180
{
left:14868.7px;bottom:12681.7px;color:rgb(35,31,31);
}
#P367_181
{
left:13844.8px;bottom:9289.71px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P367_182
{
left:0px;letter-spacing:-14px;margin-left:-50px;
}
#P367_183
{
left:0px;letter-spacing:0px;margin-left:1.5px;
}
#P367_184
{
left:13844.8px;bottom:8137.58px;color:rgb(35,31,31);
}
#P367_185
{
left:14308.2px;bottom:8164.4px;color:rgb(35,31,31);
}
#P367_186
{
left:15508.7px;bottom:8137.58px;color:rgb(35,31,31);
}
#P367_187
{
left:16254.9px;bottom:8137.58px;color:rgb(35,31,31);
}
#P367_188
{
left:16638.6px;bottom:8137.58px;color:rgb(35,31,31);
}
#P367_189
{
left:16885px;bottom:8313.58px;color:rgb(35,31,31);
}
#P367_190
{
left:17359.5px;bottom:8137.58px;color:rgb(35,31,31);
}
#P367_191
{
left:21860.2px;bottom:8164.4px;color:rgb(35,31,31);
}
#P367_192
{
left:23124.7px;bottom:8137.58px;color:rgb(35,31,31);
}
#P367_193
{
left:23603.4px;bottom:7699px;color:rgb(35,31,31);
}
#P367_194
{
left:23955.2px;bottom:8137.58px;color:rgb(35,31,31);
}
#P367_195
{
left:24113.6px;bottom:8137.58px;color:rgb(35,31,31);
}
#P367_196
{
left:24331.1px;bottom:8137.58px;color:rgb(35,31,31);
}
#P367_197
{
left:24577.5px;bottom:8201.58px;color:rgb(35,31,31);
}
#P367_198
{
left:25225.2px;bottom:8137.58px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P367_199
{
left:29540.2px;bottom:8164.4px;color:rgb(35,31,31);
}
#P367_200
{
left:30804.7px;bottom:8137.58px;color:rgb(35,31,31);
}
#P367_201
{
left:31797.3px;bottom:8313.58px;color:rgb(35,31,31);
}
#P367_202
{
left:32271.8px;bottom:8137.58px;color:rgb(35,31,31);
}
#P367_203
{
left:32803.4px;bottom:8137.58px;color:rgb(35,31,31);
}
#P367_204
{
left:13844.7px;bottom:6857.58px;color:rgb(35,31,31);
}
#P367_205
{
left:14308.2px;bottom:6884.4px;word-spacing:453.2px;color:rgb(35,31,31);
}
#P367_206
{
left:15508.7px;bottom:6857.58px;color:rgb(35,31,31);
}
#P367_207
{
left:0px;letter-spacing:0px;margin-left:-21px;
}
#P367_208
{
left:0px;letter-spacing:0px;margin-left:5.5px;
}
#P367_209
{
left:0px;letter-spacing:0px;margin-left:-66.9px;
}
#P367_210
{
left:15508.7px;bottom:5961.58px;letter-spacing:-13.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P367_211
{
left:0px;letter-spacing:-0.5px;margin-left:13px;
}
#P367_212
{
left:0px;letter-spacing:-0.1px;margin-left:-13.4px;
}
#P367_213
{
left:15508.7px;bottom:5065.64px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P367_214
{
left:25553.4px;bottom:25517.3px;color:rgb(35,31,31);
}
#P367_215
{
left:25588.7px;bottom:24621.3px;letter-spacing:0.5px;color:rgb(35,31,31);
}
#P367_216
{
left:31021.8px;bottom:25519.2px;letter-spacing:-2px;color:rgb(35,31,31);
}
#P367_217
{
left:31459.1px;bottom:24623.2px;color:rgb(35,31,31);
}
#P367_218
{
left:34085.3px;bottom:25527.2px;color:rgb(35,31,31);
}
#P367_219
{
left:23180.5px;bottom:25520.5px;color:rgb(35,31,31);
}
#P367_220
{
left:18031.8px;bottom:25516.5px;letter-spacing:0.4px;color:rgb(35,31,31);
}
#P367_221
{
left:18108.6px;bottom:24620.5px;letter-spacing:0.5px;color:rgb(35,31,31);
}
#P367_222
{
left:8013.4px;bottom:8444.78px;color:rgb(35,31,31);
}
#P367_223
{
left:0px;letter-spacing:0px;margin-left:34.6px;
}
#PageContainer367
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg367.jpg");background-repeat:no-repeat;background-size: 973px 1196px; background-position: 94px 76.76px;
}
#ImageContainer367 {bottom:91.24px;right:0.00px;width:973.06px;height:1196.43px;position:absolute;} #TextContainer367 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.example2{position: absolute;top: 81px;left: 166px;}
.example3{position: absolute;top: 439px;left: 162px;}



.nyr{position: absolute;top: 1086px;left: 187px;}
.nyr_exr{position: absolute;top: 1120px;left: 211px;color: rgb(35,31,31);font-size: 16px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}