.tr314{ color:transparent;}
#P314_1
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P314_2
{
left:3540.44px;bottom:1410.03px;color:rgb(35,31,31);
}
#P314_3
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P314_4
{
left:9121.88px;bottom:1410.03px;letter-spacing:462px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P314_5
{
left:0px;letter-spacing:4.3px;margin-left:-462.1px;
}
#P314_6
{
left:0px;letter-spacing:0.8px;margin-left:-4.4px;
}
#P314_7
{
left:0px;letter-spacing:0px;margin-left:2.9px;
}
#P314_8
{
left:5437.4px;bottom:46893.1px;word-spacing:-49.6px;color:white;
}
#P314_9
{
left:0px;letter-spacing:0px;margin-left:-73.8px;
}
#P314_10
{
left:0px;bottom:0px;letter-spacing:0px;color:white;
}
#P314_11
{
left:4682.2px;bottom:43768.6px;letter-spacing:-2.1px;color:rgb(35,31,31);
}
#P314_12
{
left:0px;letter-spacing:-0.8px;margin-left:2.1px;
}
#P314_13
{
left:0px;letter-spacing:2.1px;margin-left:0.8px;
}
#P314_14
{
left:4682.2px;bottom:42552.5px;color:rgb(35,31,31);
}
#P314_15
{
left:5250.65px;bottom:42572.2px;color:rgb(35,31,31);
}
#P314_16
{
left:6282.14px;bottom:42552.5px;color:rgb(35,31,31);
}
#P314_17
{
left:7000.22px;bottom:42522.9px;color:rgb(35,31,31);
}
#P314_18
{
left:7431.77px;bottom:42552.5px;color:rgb(35,31,31);
}
#P314_19
{
left:9744.41px;bottom:42522.9px;color:rgb(35,31,31);
}
#P314_20
{
left:10176px;bottom:42552.5px;color:rgb(35,31,31);
}
#P314_21
{
left:19842.7px;bottom:42572.2px;color:rgb(35,31,31);
}
#P314_22
{
left:20874.1px;bottom:42522.9px;color:rgb(35,31,31);
}
#P314_23
{
left:21305.8px;bottom:42552.5px;color:rgb(35,31,31);
}
#P314_24
{
left:22182.2px;bottom:42522.9px;color:rgb(35,31,31);
}
#P314_25
{
left:22613.8px;bottom:42552.5px;color:rgb(35,31,31);
}
#P314_26
{
left:24926.4px;bottom:42522.9px;color:rgb(35,31,31);
}
#P314_27
{
left:25358px;bottom:42552.5px;color:rgb(35,31,31);
}
#P314_28
{
left:4682.2px;bottom:40824.5px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P314_29
{
left:4682.2px;bottom:39608.5px;color:rgb(35,31,31);
}
#P314_30
{
left:5250.71px;bottom:39628.2px;color:rgb(35,31,31);
}
#P314_31
{
left:6282.14px;bottom:39608.5px;color:rgb(35,31,31);
}
#P314_32
{
left:19842.6px;bottom:39628.2px;color:rgb(35,31,31);
}
#P314_33
{
left:20874.1px;bottom:39578.9px;color:rgb(35,31,31);
}
#P314_34
{
left:21460.5px;bottom:39608.5px;color:rgb(35,31,31);
}
#P314_35
{
left:4682.07px;bottom:37624.4px;color:rgb(35,31,31);
}
#P314_36
{
left:5250.59px;bottom:37644.1px;color:rgb(35,31,31);
}
#P314_37
{
left:6282.07px;bottom:37594.9px;color:rgb(35,31,31);
}
#P314_38
{
left:6868.51px;bottom:37624.4px;letter-spacing:42.2px;word-spacing:-200.6px;color:rgb(35,31,31);
}
#P314_39
{
left:7305.05px;bottom:38064.2px;color:rgb(35,31,31);
}
#P314_40
{
left:7640.86px;bottom:37642.2px;color:rgb(35,31,31);
}
#P314_41
{
left:7283.93px;bottom:37608.5px;color:rgb(35,31,31);
}
#P314_42
{
left:7661.98px;bottom:37625.8px;color:rgb(35,31,31);
}
#P314_43
{
left:7305.05px;bottom:37156.7px;color:rgb(35,31,31);
}
#P314_44
{
left:7640.86px;bottom:37642.2px;color:rgb(35,31,31);
}
#P314_45
{
left:7661.98px;bottom:37624.6px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P314_46
{
left:19842.7px;bottom:37644.3px;color:rgb(35,31,31);
}
#P314_47
{
left:20874.1px;bottom:37624.6px;color:rgb(35,31,31);
}
#P314_48
{
left:4682.14px;bottom:35640.6px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P314_49
{
left:0px;letter-spacing:-5.6px;margin-left:-9.6px;
}
#P314_50
{
left:4682.14px;bottom:34424.6px;color:rgb(35,31,31);
}
#P314_51
{
left:5250.71px;bottom:34444.3px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P314_52
{
left:6282.14px;bottom:34389.3px;color:rgb(35,31,31);
}
#P314_53
{
left:6458.52px;bottom:34326.6px;color:rgb(35,31,31);
}
#P314_54
{
left:6592.28px;bottom:34395px;color:rgb(35,31,31);
}
#P314_55
{
left:7178.71px;bottom:34424.6px;color:rgb(35,31,31);
}
#P314_56
{
left:7713.75px;bottom:34389.3px;color:rgb(35,31,31);
}
#P314_57
{
left:7890.07px;bottom:34424.6px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P314_58
{
left:19842.7px;bottom:34444.3px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P314_59
{
left:20874.1px;bottom:34389.3px;color:rgb(35,31,31);
}
#P314_60
{
left:21050.5px;bottom:34326.6px;color:rgb(35,31,31);
}
#P314_61
{
left:21184.3px;bottom:34395px;color:rgb(35,31,31);
}
#P314_62
{
left:21770.7px;bottom:34424.6px;color:rgb(35,31,31);
}
#P314_63
{
left:22678.9px;bottom:34389.3px;color:rgb(35,31,31);
}
#P314_64
{
left:22855.2px;bottom:34424.6px;color:rgb(35,31,31);
}
#P314_65
{
left:4682.14px;bottom:32824.6px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P314_66
{
left:0px;letter-spacing:-1.4px;margin-left:1px;
}
#P314_67
{
left:0px;letter-spacing:-14px;margin-left:1.4px;
}
#P314_68
{
left:0px;letter-spacing:0px;margin-left:14px;
}
#P314_69
{
left:20123.1px;bottom:32795px;color:rgb(35,31,31);
}
#P314_70
{
left:20709.5px;bottom:32824.6px;color:rgb(35,31,31);
}
#P314_71
{
left:4682.14px;bottom:31288.7px;color:rgb(35,31,31);
}
#P314_72
{
left:5250.71px;bottom:31308.4px;color:rgb(35,31,31);
}
#P314_73
{
left:6282.14px;bottom:31259.1px;color:rgb(35,31,31);
}
#P314_74
{
left:6713.69px;bottom:31288.7px;color:rgb(35,31,31);
}
#P314_75
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P314_76
{
left:6893.21px;bottom:31728.2px;color:rgb(35,31,31);
}
#P314_77
{
left:7229.02px;bottom:31306.2px;color:rgb(35,31,31);
}
#P314_78
{
left:6872.09px;bottom:31272.5px;color:rgb(35,31,31);
}
#P314_79
{
left:7250.14px;bottom:31289.8px;color:rgb(35,31,31);
}
#P314_80
{
left:6893.21px;bottom:30820.7px;color:rgb(35,31,31);
}
#P314_81
{
left:7229.02px;bottom:31306.2px;color:rgb(35,31,31);
}
#P314_82
{
left:7250.14px;bottom:31288.6px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P314_83
{
left:0px;letter-spacing:0px;margin-left:1424.8px;
}
#P314_84
{
left:8833.31px;bottom:31259px;color:rgb(35,31,31);
}
#P314_85
{
left:9264.86px;bottom:31288.6px;color:rgb(35,31,31);
}
#P314_86
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P314_87
{
left:9444.38px;bottom:31728.2px;color:rgb(35,31,31);
}
#P314_88
{
left:9780.19px;bottom:31306.2px;color:rgb(35,31,31);
}
#P314_89
{
left:9423.26px;bottom:31272.5px;color:rgb(35,31,31);
}
#P314_90
{
left:9801.31px;bottom:31289.8px;color:rgb(35,31,31);
}
#P314_91
{
left:9444.38px;bottom:30820.7px;color:rgb(35,31,31);
}
#P314_92
{
left:9780.19px;bottom:31306.2px;color:rgb(35,31,31);
}
#P314_93
{
left:9801.31px;bottom:31288.6px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P314_94
{
left:19451.4px;bottom:31308.3px;color:rgb(35,31,31);
}
#P314_95
{
left:20874.3px;bottom:31288.6px;color:rgb(35,31,31);
}
#P314_96
{
left:0px;letter-spacing:0px;margin-left:1266.3px;
}
#P314_97
{
left:23763.2px;bottom:31259px;color:rgb(35,31,31);
}
#P314_98
{
left:24349.7px;bottom:31288.6px;color:rgb(35,31,31);
}
#P314_99
{
left:4682.14px;bottom:29304.6px;color:rgb(35,31,31);
}
#P314_100
{
left:4859.29px;bottom:29324.3px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P314_101
{
left:6282.14px;bottom:29269.3px;color:rgb(35,31,31);
}
#P314_102
{
left:6458.52px;bottom:29206.6px;color:rgb(35,31,31);
}
#P314_103
{
left:6620.44px;bottom:29275px;color:rgb(35,31,31);
}
#P314_104
{
left:7206.87px;bottom:29304.6px;color:rgb(35,31,31);
}
#P314_105
{
left:7741.91px;bottom:29269.3px;color:rgb(35,31,31);
}
#P314_106
{
left:7918.23px;bottom:29304.6px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P314_107
{
left:0px;letter-spacing:0px;margin-left:1424.8px;
}
#P314_108
{
left:9501.4px;bottom:29275px;color:rgb(35,31,31);
}
#P314_109
{
left:10087.8px;bottom:29304.6px;color:rgb(35,31,31);
}
#P314_110
{
left:19451.3px;bottom:29324.3px;color:rgb(35,31,31);
}
#P314_111
{
left:20874.1px;bottom:29275px;color:rgb(35,31,31);
}
#P314_112
{
left:21460.6px;bottom:29304.6px;color:rgb(35,31,31);
}
#P314_113
{
left:0px;letter-spacing:0px;margin-left:1266.4px;
}
#P314_114
{
left:23976.5px;bottom:29269.3px;color:rgb(35,31,31);
}
#P314_115
{
left:24152.9px;bottom:29206.6px;color:rgb(35,31,31);
}
#P314_116
{
left:24314.8px;bottom:29304.6px;color:rgb(35,31,31);
}
#P314_117
{
left:25409.6px;bottom:29269.3px;color:rgb(35,31,31);
}
#P314_118
{
left:25585.9px;bottom:29304.6px;color:rgb(35,31,31);
}
#P314_119
{
left:4682.14px;bottom:27128.6px;letter-spacing:-2.3px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P314_120
{
left:0px;letter-spacing:-0.8px;margin-left:2.2px;
}
#P314_121
{
left:0px;letter-spacing:-0.1px;margin-left:-13.1px;
}
#P314_122
{
left:0px;letter-spacing:-0.1px;margin-left:119.9px;
}
#P314_123
{
left:0px;letter-spacing:-0.4px;
}
#P314_124
{
left:4682.14px;bottom:25912.6px;color:rgb(35,31,31);
}
#P314_125
{
left:4859.29px;bottom:25932.3px;color:rgb(35,31,31);
}
#P314_126
{
left:6282.14px;bottom:25912.6px;color:rgb(35,31,31);
}
#P314_127
{
left:6529.95px;bottom:25912.6px;color:rgb(35,31,31);
}
#P314_128
{
left:19451.3px;bottom:25932.3px;color:rgb(35,31,31);
}
#P314_129
{
left:20874.1px;bottom:25912.6px;color:rgb(35,31,31);
}
#P314_130
{
left:21331.7px;bottom:25912.6px;color:rgb(35,31,31);
}
#P314_131
{
left:21578.1px;bottom:25883px;color:rgb(35,31,31);
}
#P314_132
{
left:22164.6px;bottom:25912.6px;color:rgb(35,31,31);
}
#P314_133
{
left:4682.14px;bottom:24440.6px;color:rgb(35,31,31);
}
#P314_134
{
left:4859.29px;bottom:24460.3px;color:rgb(35,31,31);
}
#P314_135
{
left:6282.14px;bottom:24440.6px;color:rgb(35,31,31);
}
#P314_136
{
left:6679.9px;bottom:24440.6px;color:rgb(35,31,31);
}
#P314_137
{
left:8204.06px;bottom:24411px;color:rgb(35,31,31);
}
#P314_138
{
left:8790.49px;bottom:24440.6px;color:rgb(35,31,31);
}
#P314_139
{
left:19451.3px;bottom:24460.3px;color:rgb(35,31,31);
}
#P314_140
{
left:20874.1px;bottom:24440.6px;color:rgb(35,31,31);
}
#P314_141
{
left:21521.8px;bottom:24440.6px;color:rgb(35,31,31);
}
#P314_142
{
left:21768.2px;bottom:24411px;color:rgb(35,31,31);
}
#P314_143
{
left:22354.6px;bottom:24440.6px;color:rgb(35,31,31);
}
#P314_144
{
left:23072.7px;bottom:24411px;color:rgb(35,31,31);
}
#P314_145
{
left:23659.2px;bottom:24440.6px;color:rgb(35,31,31);
}
#P314_146
{
left:4682.2px;bottom:22712.6px;letter-spacing:-12.5px;color:rgb(35,31,31);
}
#P314_147
{
left:0px;letter-spacing:0px;margin-left:12.6px;
}
#P314_148
{
left:0px;letter-spacing:0px;margin-left:-225px;
}
#P314_149
{
left:0px;letter-spacing:0px;margin-left:77.1px;
}
#P314_150
{
left:12267.9px;bottom:22718.2px;color:rgb(35,31,31);
}
#P314_151
{
left:12631.1px;bottom:22712.6px;letter-spacing:-1.9px;color:rgb(35,31,31);
}
#P314_152
{
left:0px;letter-spacing:-1.2px;margin-left:-5px;
}
#P314_153
{
left:19447.6px;bottom:22718.2px;color:rgb(35,31,31);
}
#P314_154
{
left:19791.8px;bottom:22712.6px;letter-spacing:-4.7px;color:rgb(35,31,31);
}
#P314_155
{
left:0px;letter-spacing:0px;margin-left:4.7px;
}
#P314_156
{
left:4682.2px;bottom:21496.6px;color:rgb(35,31,31);
}
#P314_157
{
left:4859.35px;bottom:21516.3px;color:rgb(35,31,31);
}
#P314_158
{
left:6282.2px;bottom:21496.6px;color:rgb(35,31,31);
}
#P314_159
{
left:19451.3px;bottom:21516.3px;color:rgb(35,31,31);
}
#P314_160
{
left:20874.1px;bottom:21496.6px;color:rgb(35,31,31);
}
#P314_161
{
left:21120.5px;bottom:21467px;color:rgb(35,31,31);
}
#P314_162
{
left:21707px;bottom:21496.6px;color:rgb(35,31,31);
}
#P314_163
{
left:4682.14px;bottom:19640.6px;color:rgb(35,31,31);
}
#P314_164
{
left:4859.29px;bottom:19660.3px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P314_165
{
left:6282.14px;bottom:19660.3px;color:rgb(2,77,161);
}
#P314_166
{
left:8328.67px;bottom:19640.6px;letter-spacing:193.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P314_167
{
left:0px;letter-spacing:-0.3px;margin-left:-35.4px;
}
#P314_168
{
left:0px;letter-spacing:-0.1px;margin-left:-20.7px;
}
#P314_169
{
left:0px;letter-spacing:-0.1px;
}
#P314_170
{
left:6282.14px;bottom:18744.6px;letter-spacing:-0.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P314_171
{
left:0px;letter-spacing:0.4px;margin-left:159.2px;
}
#P314_172
{
left:6282.14px;bottom:17848.6px;color:rgb(35,31,31);
}
#P314_173
{
left:4682.14px;bottom:16568.5px;color:rgb(35,31,31);
}
#P314_174
{
left:6406.04px;bottom:16568.5px;color:rgb(35,31,31);
}
#P314_175
{
left:7626.07px;bottom:16568.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P314_176
{
left:0px;letter-spacing:5.5px;margin-left:-31.6px;
}
#P314_177
{
left:0px;letter-spacing:-0.1px;margin-left:-5.6px;
}
#P314_178
{
left:7626.07px;bottom:15672.6px;letter-spacing:-0.3px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P314_179
{
left:4682.07px;bottom:14456.5px;color:rgb(35,31,31);
}
#P314_180
{
left:6369.95px;bottom:14456.5px;letter-spacing:-6.9px;color:rgb(35,31,31);
}
#P314_181
{
left:6986.07px;bottom:14456.5px;letter-spacing:481.6px;color:rgb(35,31,31);
}
#P314_182
{
left:0px;letter-spacing:-0.1px;margin-left:-488.5px;
}
#P314_183
{
left:0px;letter-spacing:0px;margin-left:-42px;
}
#P314_184
{
left:4682.07px;bottom:13240.5px;color:rgb(35,31,31);
}
#P314_185
{
left:6441.18px;bottom:13240.5px;color:rgb(35,31,31);
}
#P314_186
{
left:6986.01px;bottom:13240.5px;letter-spacing:481.6px;color:rgb(35,31,31);
}
#P314_187
{
left:0px;letter-spacing:0.2px;margin-left:-481.6px;
}
#P314_188
{
left:4682.01px;bottom:11768.5px;color:rgb(35,31,31);
}
#P314_189
{
left:4859.16px;bottom:11788.2px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P314_190
{
left:6282.14px;bottom:11788.3px;color:rgb(2,77,161);
}
#P314_191
{
left:10691.4px;bottom:11768.6px;letter-spacing:168.2px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P314_192
{
left:0px;letter-spacing:0px;margin-left:-238.5px;
}
#P314_193
{
left:0px;letter-spacing:-0.2px;margin-left:-0.1px;
}
#P314_194
{
left:19856.6px;bottom:11768.6px;color:rgb(35,31,31);
}
#P314_195
{
left:20346.6px;bottom:11768.6px;color:rgb(35,31,31);
}
#P314_196
{
left:21311.1px;bottom:11739px;color:rgb(35,31,31);
}
#P314_197
{
left:21897.5px;bottom:11768.6px;color:rgb(35,31,31);
}
#P314_198
{
left:6282.14px;bottom:10872.6px;color:rgb(35,31,31);
}
#P314_199
{
left:6781.27px;bottom:10872.6px;color:rgb(35,31,31);
}
#P314_200
{
left:7745.75px;bottom:10843px;color:rgb(35,31,31);
}
#P314_201
{
left:8332.19px;bottom:10872.6px;letter-spacing:-0.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P314_202
{
left:0px;letter-spacing:0.6px;margin-left:-13.5px;
}
#P314_203
{
left:6282.14px;bottom:9976.68px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P314_204
{
left:0px;letter-spacing:0px;margin-left:-13.8px;
}
#P314_205
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P314_206
{
left:4682.14px;bottom:8504.68px;color:rgb(35,31,31);
}
#P314_207
{
left:4859.29px;bottom:8524.4px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P314_208
{
left:6282.14px;bottom:8524.27px;letter-spacing:-17.6px;color:rgb(2,77,161);
}
#P314_209
{
left:0px;letter-spacing:0px;margin-left:17.6px;
}
#P314_210
{
left:11119.3px;bottom:8504.56px;letter-spacing:168.3px;color:rgb(35,31,31);
}
#P314_211
{
left:0px;letter-spacing:-1.7px;margin-left:-168.3px;
}
#P314_212
{
left:0px;letter-spacing:-0.4px;margin-left:1.7px;
}
#P314_213
{
left:0px;letter-spacing:0px;margin-left:-8px;
}
#P314_214
{
left:6282.14px;bottom:7608.56px;letter-spacing:-1.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P314_215
{
left:0px;letter-spacing:-2.8px;margin-left:156.9px;
}
#P314_216
{
left:0px;letter-spacing:-0.1px;margin-left:2.8px;
}
#P314_217
{
left:6282.14px;bottom:6712.62px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P314_218
{
left:4682.14px;bottom:5240.62px;color:rgb(35,31,31);
}
#P314_219
{
left:5642.14px;bottom:5260.33px;color:rgb(35,31,31);
}
#P314_220
{
left:6538.14px;bottom:5096.88px;color:rgb(35,31,31);
}
#P314_221
{
left:13297px;bottom:5078.06px;letter-spacing:-3.6px;color:rgb(35,31,31);
}
#P314_222
{
left:0px;letter-spacing:0px;margin-left:1123.2px;
}
#P314_223
{
left:0px;letter-spacing:0px;margin-left:-8.1px;
}
#P314_224
{
left:0px;letter-spacing:0px;margin-left:1124.4px;
}
#P314_225
{
left:0px;letter-spacing:-0.8px;margin-left:-8.1px;
}
#P314_226
{
left:0px;letter-spacing:0px;margin-left:1055.5px;
}
#P314_227
{
left:0px;letter-spacing:0px;margin-left:-8.1px;
}
#P314_228
{
left:0px;letter-spacing:0px;margin-left:997.4px;
}
#P314_229
{
left:0px;letter-spacing:-1.1px;margin-left:-13.3px;
}
#P314_230
{
left:6538.14px;bottom:3935.26px;color:rgb(35,31,31);
}
#P314_231
{
left:13496.7px;bottom:3874.57px;color:rgb(35,31,31);
}
#P314_232
{
left:14056.5px;bottom:3902.8px;color:rgb(35,31,31);
}
#P314_233
{
left:17333.3px;bottom:3874.57px;color:rgb(35,31,31);
}
#P314_234
{
left:17893.1px;bottom:3902.8px;color:rgb(35,31,31);
}
#P314_235
{
left:20683.8px;bottom:3906.48px;color:rgb(35,31,31);
}
#P314_236
{
left:21243.6px;bottom:3934.7px;color:rgb(35,31,31);
}
#P314_237
{
left:24321px;bottom:3916.44px;color:rgb(35,31,31);
}
#P314_238
{
left:0px;letter-spacing:0px;margin-left:2652px;
}
#P314_239
{
left:27209.8px;bottom:45083.3px;letter-spacing:-22.4px;word-spacing:0.3px;color:rgb(33,31,31);
}
#P314_240
{
left:0px;letter-spacing:-0.1px;margin-left:22.4px;
}
#P314_241
{
left:31015px;bottom:14199.5px;color:rgb(35,31,31);
}
#P314_242
{
left:31015px;bottom:15825.1px;color:rgb(35,31,31);
}
#P314_243
{
left:2883.8px;bottom:46399px;
}
#PageContainer314
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg314.jpg");background-repeat:no-repeat;background-size: 1000px 1270px; background-position: 0px 0.119999999999891px;
}
#ImageContainer314 {bottom:93.88px;left:0.00px;width:1000.30px;height:1270.28px;position:absolute;} #TextContainer314 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.graphic_organizer{position: absolute;top: 93px;left: 733px;}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}