.tr147{ color:transparent;}
#P147_1
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P147_2
{
left:23990.5px;bottom:1410.03px;color:rgb(35,31,31);
}
#P147_3
{
left:28540.9px;bottom:1410.03px;letter-spacing:-0.9px;word-spacing:462px;color:rgb(35,31,31);
}
#P147_4
{
left:0px;letter-spacing:0px;margin-left:-461.1px;
}
#P147_5
{
left:0px;letter-spacing:4.2px;margin-left:10.8px;
}
#P147_6
{
left:0px;letter-spacing:3.2px;margin-left:-0.3px;
}
#P147_7
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P147_8
{
left:13960.4px;bottom:44444.8px;letter-spacing:-0.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P147_9
{
left:0px;letter-spacing:-21.1px;margin-left:-41.6px;
}
#P147_10
{
left:0px;letter-spacing:-0.7px;margin-left:21px;
}
#P147_11
{
left:13960.4px;bottom:43548.8px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P147_12
{
left:0px;letter-spacing:-0.2px;margin-left:-12.2px;
}
#P147_13
{
left:13960.4px;bottom:42652.8px;letter-spacing:0.2px;color:rgb(35,31,31);
}
#P147_14
{
left:0px;letter-spacing:-5.2px;margin-left:5.3px;
}
#P147_15
{
left:0px;letter-spacing:-5.6px;margin-left:5.2px;
}
#P147_16
{
left:0px;letter-spacing:0px;margin-left:5.6px;
}
#P147_17
{
left:29021.4px;bottom:42658.5px;color:rgb(35,31,31);
}
#P147_18
{
left:29664.9px;bottom:42652.8px;color:rgb(35,31,31);
}
#P147_19
{
left:13960.4px;bottom:41756.8px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P147_20
{
left:0px;letter-spacing:-42px;margin-left:-27.1px;
}
#P147_21
{
left:0px;letter-spacing:-0.4px;margin-left:55.9px;
}
#P147_22
{
left:0px;letter-spacing:-3.5px;margin-left:-13.5px;
}
#P147_23
{
left:0px;letter-spacing:0px;margin-left:3.5px;
}
#P147_24
{
left:13960.4px;bottom:40860.8px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P147_25
{
left:13192.4px;bottom:39708.8px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P147_26
{
left:14186.6px;bottom:39752.2px;color:rgb(35,31,31);
}
#P147_27
{
left:14523.5px;bottom:39873.3px;color:rgb(35,31,31);
}
#P147_28
{
left:14984.4px;bottom:39708.8px;color:rgb(35,31,31);
}
#P147_29
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P147_30
{
left:16125.5px;bottom:39708.8px;color:rgb(35,31,31);
}
#P147_31
{
left:16767.6px;bottom:39708.8px;color:rgb(35,31,31);
}
#P147_32
{
left:16925.9px;bottom:39679.2px;color:rgb(35,31,31);
}
#P147_33
{
left:17512.3px;bottom:39708.8px;color:rgb(35,31,31);
}
#P147_34
{
left:20010.6px;bottom:39752.2px;color:rgb(35,31,31);
}
#P147_35
{
left:20347.5px;bottom:39873.3px;color:rgb(35,31,31);
}
#P147_36
{
left:20808.4px;bottom:39708.8px;color:rgb(35,31,31);
}
#P147_37
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P147_38
{
left:21949.5px;bottom:39708.8px;color:rgb(35,31,31);
}
#P147_39
{
left:22591.6px;bottom:39708.8px;color:rgb(35,31,31);
}
#P147_40
{
left:22749.9px;bottom:39679.2px;color:rgb(35,31,31);
}
#P147_41
{
left:23336.3px;bottom:39708.8px;color:rgb(35,31,31);
}
#P147_42
{
left:25770.6px;bottom:39752.2px;color:rgb(35,31,31);
}
#P147_43
{
left:26107.5px;bottom:39873.3px;color:rgb(35,31,31);
}
#P147_44
{
left:27336.4px;bottom:39708.8px;word-spacing:419.5px;color:rgb(35,31,31);
}
#P147_45
{
left:29173.8px;bottom:39679.2px;color:rgb(35,31,31);
}
#P147_46
{
left:29760.2px;bottom:39708.8px;color:rgb(35,31,31);
}
#P147_47
{
left:30291.7px;bottom:39708.8px;color:rgb(35,31,31);
}
#P147_48
{
left:30933.8px;bottom:39708.8px;color:rgb(35,31,31);
}
#P147_49
{
left:31583px;bottom:39752.2px;color:rgb(35,31,31);
}
#P147_50
{
left:31931.5px;bottom:39873.3px;color:rgb(35,31,31);
}
#P147_51
{
left:32392.4px;bottom:39708.8px;color:rgb(35,31,31);
}
#P147_52
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P147_53
{
left:34839.4px;bottom:39708.8px;color:rgb(35,31,31);
}
#P147_54
{
left:35481.4px;bottom:39708.8px;color:rgb(35,31,31);
}
#P147_55
{
left:35639.8px;bottom:39679.2px;color:rgb(35,31,31);
}
#P147_56
{
left:36226.3px;bottom:39708.8px;color:rgb(35,31,31);
}
#P147_57
{
left:23642px;bottom:36764.8px;color:rgb(0,124,196);
}
#P147_58
{
left:24015.1px;bottom:36764.8px;color:rgb(0,124,196);
}
#P147_59
{
left:24657.2px;bottom:36764.8px;color:rgb(35,31,31);
}
#P147_60
{
left:24815.6px;bottom:36735.2px;color:rgb(235,26,35);
}
#P147_61
{
left:25402px;bottom:36764.8px;color:rgb(35,31,31);
}
#P147_62
{
left:25560.4px;bottom:36764.8px;color:rgb(235,26,35);
}
#P147_63
{
left:14544.4px;bottom:35484.8px;letter-spacing:520.3px;color:rgb(35,31,31);
}
#P147_64
{
left:0px;letter-spacing:0px;margin-left:-678.7px;
}
#P147_65
{
left:0px;letter-spacing:-1.2px;
}
#P147_66
{
left:0px;letter-spacing:0px;margin-left:1.2px;
}
#P147_67
{
left:22120.3px;bottom:35528.2px;color:rgb(35,31,31);
}
#P147_68
{
left:22457.2px;bottom:35649.3px;color:rgb(35,31,31);
}
#P147_69
{
left:22918.1px;bottom:35484.8px;letter-spacing:147.8px;color:rgb(35,31,31);
}
#P147_70
{
left:7801.11px;bottom:46049.6px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P147_71
{
left:14669.4px;bottom:46074.2px;color:white;
}
#P147_72
{
left:15741.7px;bottom:46266px;color:white;
}
#P147_73
{
left:15981.8px;bottom:46074.2px;color:white;
}
#P147_74
{
left:16317.9px;bottom:46266px;color:white;
}
#P147_75
{
left:16558.1px;bottom:46074.2px;letter-spacing:-5.3px;color:white;
}
#P147_76
{
left:0px;letter-spacing:-3.1px;margin-left:5.3px;
}
#P147_77
{
left:21936.8px;bottom:46266px;color:white;
}
#P147_78
{
left:22177px;bottom:46074.2px;letter-spacing:-1.9px;color:white;
}
#P147_79
{
left:25698.8px;bottom:46266px;color:white;
}
#P147_80
{
left:25939px;bottom:46074.2px;color:white;
}
#P147_81
{
left:12857px;bottom:45907.1px;
}
#P147_82
{
left:12857px;bottom:45907.1px;color:white;
}
#P147_83
{
left:13388.3px;bottom:38204.8px;letter-spacing:-8.3px;color:rgb(0,124,196);
}
#P147_84
{
left:0px;letter-spacing:0px;margin-left:8.3px;
}
#P147_85
{
left:15913px;bottom:38231.7px;color:rgb(0,124,196);
}
#P147_86
{
left:17341.6px;bottom:38204.8px;color:rgb(0,124,196);
}
#P147_87
{
left:13388.3px;bottom:37335.7px;color:rgb(0,124,196);
}
#P147_88
{
left:17101.7px;bottom:37308.8px;color:rgb(0,124,196);
}
#P147_89
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P147_90
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P147_91
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P147_92
{
left:22111.5px;bottom:37335.7px;color:rgb(0,124,196);
}
#P147_93
{
left:22619.3px;bottom:37308.8px;color:rgb(0,124,196);
}
#P147_94
{
left:28253.4px;bottom:38183.3px;letter-spacing:-8.3px;color:rgb(235,26,35);
}
#P147_95
{
left:0px;letter-spacing:0px;margin-left:8.3px;
}
#P147_96
{
left:31176px;bottom:38210.2px;color:rgb(235,26,35);
}
#P147_97
{
left:33969px;bottom:38183.3px;color:rgb(235,26,35);
}
#P147_98
{
left:28253.4px;bottom:37314.2px;color:rgb(235,26,35);
}
#P147_99
{
left:30506.8px;bottom:37287.3px;color:rgb(235,26,35);
}
#P147_100
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P147_101
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P147_102
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P147_103
{
left:33141.2px;bottom:37314.2px;color:rgb(235,26,35);
}
#P147_104
{
left:33678.9px;bottom:37287.3px;color:rgb(235,26,35);
}
#P147_105
{
left:13896.4px;bottom:31772.8px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P147_106
{
left:0px;letter-spacing:-0.1px;margin-left:-63.3px;
}
#P147_107
{
left:0px;letter-spacing:-0.1px;margin-left:-13.9px;
}
#P147_108
{
left:0px;letter-spacing:-0.1px;margin-left:-13.9px;
}
#P147_109
{
left:0px;letter-spacing:-0.1px;margin-left:119.9px;
}
#P147_110
{
left:0px;letter-spacing:0px;margin-left:-56.1px;
}
#P147_111
{
left:0px;letter-spacing:-0.1px;margin-left:119.8px;
}
#P147_112
{
left:13896.4px;bottom:30876.8px;letter-spacing:-2.2px;color:rgb(35,31,31);
}
#P147_113
{
left:0px;letter-spacing:0px;margin-left:2.2px;
}
#P147_114
{
left:13128.4px;bottom:29724.8px;letter-spacing:644.1px;color:rgb(35,31,31);
}
#P147_114a
{
left: 15058.4px;bottom:29724.8px;letter-spacing:644.1px;color:rgb(35,31,31);
}
#P147_115
{
left:0px;letter-spacing:-28px;margin-left:-644.1px;
}
#P147_116
{
left:0px;letter-spacing:0px;margin-left:392.2px;
}
#P147_117
{
left:0px;letter-spacing:0px;margin-left:-147.8px;
}
#P147_118
{
left:0px;letter-spacing:0px;margin-left:-17.5px;
}
#P147_119
{
left:0px;letter-spacing:-2.3px;
}
#P147_120
{
left:0px;letter-spacing:-0.4px;margin-left:2.3px;
}
#P147_121
{
left:0px;letter-spacing:0px;margin-left:-27.6px;
}
#P147_122
{
left:14984.5px;bottom:28828.8px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P147_123
{
left:29647.8px;bottom:28834.5px;color:rgb(35,31,31);
}
#P147_124
{
left:29900.5px;bottom:28828.8px;color:rgb(35,31,31);
}
#P147_125
{
left:13128.4px;bottom:27740.8px;letter-spacing:608.1px;color:rgb(35,31,31);
}
#P147_125a
{
left: 14558.4px;bottom:27740.8px;letter-spacing:608.1px;color:rgb(35,31,31);
}
#P147_126
{
left:0px;letter-spacing:-28px;margin-left:-615px;
}
#P147_127
{
left:0px;letter-spacing:0px;margin-left:392.3px;
}
#P147_128
{
left:0px;letter-spacing:0px;margin-left:13.9px;
}
#P147_129
{
left:13128.4px;bottom:26076.8px;color:rgb(35,31,31);
}
#P147_130
{
left:13920.3px;bottom:26076.8px;letter-spacing:-14px;word-spacing:364.2px;color:rgb(35,31,31);
}
#P147_131
{
left:14984.5px;bottom:26076.8px;color:rgb(35,31,31);
}
#P147_132
{
left:19227.2px;bottom:26076.8px;letter-spacing:-2px;color:rgb(35,31,31);
}
#P147_133
{
left:22457.9px;bottom:26076.8px;color:rgb(35,31,31);
}
#P147_134
{
left:23674.4px;bottom:26076.8px;color:rgb(35,31,31);
}
#P147_135
{
left:24895.8px;bottom:26076.8px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P147_136
{
left:28979.8px;bottom:26076.8px;color:rgb(35,31,31);
}
#P147_137
{
left:29138.2px;bottom:26076.8px;letter-spacing:-3.5px;color:rgb(35,31,31);
}
#P147_138
{
left:0px;letter-spacing:-1px;margin-left:3.5px;
}
#P147_139
{
left:15568.4px;bottom:15772.8px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P147_140
{
left:0px;letter-spacing:0px;margin-left:-704px;
}
#P147_141
{
left:0px;letter-spacing:-14px;margin-left:-8.4px;
}
#P147_142
{
left:0px;letter-spacing:-0.2px;margin-left:14px;
}
#P147_143
{
left:23889.1px;bottom:15772.8px;color:rgb(35,31,31);
}
#P147_144
{
left:24129.2px;bottom:15772.8px;color:rgb(35,31,31);
}
#P147_145
{
left:25862.4px;bottom:15743.3px;color:rgb(35,31,31);
}
#P147_146
{
left:26448.8px;bottom:15772.8px;color:rgb(35,31,31);
}
#P147_147
{
left:27353.4px;bottom:15772.8px;color:rgb(35,31,31);
}
#P147_148
{
left:27593.5px;bottom:15772.8px;color:rgb(35,31,31);
}
#P147_149
{
left:13128.4px;bottom:14108.8px;color:rgb(35,31,31);
}
#P147_150
{
left:13948.2px;bottom:14108.8px;letter-spacing:-13.9px;word-spacing:371.1px;color:rgb(35,31,31);
}
#P147_151
{
left:15048.3px;bottom:14108.8px;letter-spacing:-2.1px;color:rgb(35,31,31);
}
#P147_152
{
left:0px;letter-spacing:0px;margin-left:2.1px;
}
#P147_153
{
left:18835.2px;bottom:14079.3px;color:rgb(35,31,31);
}
#P147_154
{
left:19421.6px;bottom:14108.8px;color:rgb(35,31,31);
}
#P147_155
{
left:20326.2px;bottom:14108.8px;color:rgb(35,31,31);
}
#P147_156
{
left:20566.3px;bottom:14108.8px;color:rgb(35,31,31);
}
#P147_157
{
left:22648.7px;bottom:14108.8px;color:rgb(35,31,31);
}
#P147_158
{
left:22888.7px;bottom:14108.8px;color:rgb(35,31,31);
}
#P147_159
{
left:23047.1px;bottom:14079.3px;color:rgb(35,31,31);
}
#P147_160
{
left:23633.6px;bottom:14108.8px;color:rgb(35,31,31);
}
#P147_161
{
left:16584.3px;bottom:12828.8px;word-spacing:1121.6px;color:rgb(35,31,31);
}
#P147_162
{
left:17488.9px;bottom:12799.3px;color:rgb(35,31,31);
}
#P147_163
{
left:18075.3px;bottom:12828.8px;color:rgb(35,31,31);
}
#P147_164
{
left:18980.1px;bottom:12828.8px;color:rgb(235,26,35);
}
#P147_165
{
left:19220.1px;bottom:12828.8px;color:rgb(35,31,31);
}
#P147_166
{
left:19378.5px;bottom:12799.3px;color:rgb(35,31,31);
}
#P147_167
{
left:19965px;bottom:12828.8px;color:rgb(35,31,31);
}
#P147_168
{
left:21028px;bottom:12799.3px;color:rgb(35,31,31);
}
#P147_169
{
left:21614.4px;bottom:12828.8px;color:rgb(35,31,31);
}
#P147_170
{
left:22765.5px;bottom:12828.8px;color:rgb(235,26,35);
}
#P147_171
{
left:23138.6px;bottom:12828.8px;color:rgb(35,31,31);
}
#P147_172
{
left:23543.3px;bottom:12799.3px;color:rgb(35,31,31);
}
#P147_173
{
left:24129.8px;bottom:12828.8px;color:rgb(35,31,31);
}
#P147_174
{
left:15568.4px;bottom:11356.8px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P147_175
{
left:0px;letter-spacing:0px;margin-left:-704px;
}
#P147_176
{
left:0px;letter-spacing:-0.3px;
}
#P147_177
{
left:0px;letter-spacing:0px;margin-left:-13.6px;
}
#P147_178
{
left:0px;letter-spacing:0px;margin-left:-13.9px;
}
#P147_179
{
left:13896.4px;bottom:8028.84px;color:rgb(35,31,31);
}
#P147_180
{
left:14360px;bottom:8055.66px;word-spacing:453.2px;color:rgb(35,31,31);
}
#P147_181
{
left:15560.4px;bottom:8028.84px;letter-spacing:-31.6px;color:rgb(35,31,31);
}
#P147_182
{
left:0px;letter-spacing:-0.2px;margin-left:31.6px;
}
#P147_183
{
left:0px;letter-spacing:0px;margin-left:0.2px;
}
#P147_184
{
left:15560.4px;bottom:7132.84px;color:rgb(35,31,31);
}
#P147_185
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P147_186
{
left:18722.1px;bottom:7132.84px;color:rgb(35,31,31);
}
#P147_187
{
left:18962.2px;bottom:7132.84px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P147_188
{
left:0px;letter-spacing:-42px;margin-left:0.4px;
}
#P147_189
{
left:0px;letter-spacing:5.4px;margin-left:10.4px;
}
#P147_190
{
left:0px;letter-spacing:0px;margin-left:-5.4px;
}
#P147_191
{
left:15560.4px;bottom:6236.97px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P147_192
{
left:0px;letter-spacing:-0.6px;margin-left:0.4px;
}
#P147_193
{
left:13896.4px;bottom:4956.84px;color:rgb(35,31,31);
}
#P147_194
{
left:14360px;bottom:4983.66px;word-spacing:453.2px;color:rgb(35,31,31);
}
#P147_195
{
left:15560.4px;bottom:4976.56px;letter-spacing:-12.9px;color:rgb(2,77,161);
}
#P147_196
{
left:0px;letter-spacing:0px;margin-left:12.9px;
}
#P147_197
{
left:18429.2px;bottom:4956.84px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P147_198
{
left:0px;letter-spacing:-0.2px;margin-left:-206.1px;
}
#P147_199
{
left:0px;letter-spacing:-0.6px;margin-left:0.2px;
}
#P147_200
{
left:0px;letter-spacing:0px;margin-left:-13.4px;
}
#P147_201
{
left:15560.4px;bottom:4060.84px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P147_202
{
left:7801.11px;bottom:33377.7px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P147_203
{
left:14669.4px;bottom:33402.2px;color:white;
}
#P147_204
{
left:17053.2px;bottom:33594px;color:white;
}
#P147_205
{
left:17293.4px;bottom:33402.2px;word-spacing:-31.9px;color:white;
}
#P147_206
{
left:20061.7px;bottom:33594px;color:white;
}
#P147_207
{
left:20301.9px;bottom:33402.2px;color:white;
}
#P147_208
{
left:21485.6px;bottom:33594px;color:white;
}
#P147_209
{
left:21725.8px;bottom:33402.2px;color:white;
}
#P147_210
{
left:12825px;bottom:33235.1px;
}
#P147_211
{
left:12825px;bottom:33235.1px;color:white;
}
#P147_212
{
left:18178.1px;bottom:24516.1px;color:rgb(35,31,31);
}
#P147_213
{
left:0px;letter-spacing:0px;margin-left:-61.7px;
}
#P147_214
{
left:0px;letter-spacing:0px;margin-left:-61.7px;
}
#P147_215
{
left:19885.2px;bottom:24516.1px;color:rgb(35,31,31);
}
#P147_216
{
left:21223.9px;bottom:24516.1px;color:rgb(35,31,31);
}
#P147_217
{
left:18984.2px;bottom:23409.3px;color:rgb(235,26,35);
}
#P147_218
{
left:25205.1px;bottom:23409.3px;color:rgb(0,124,196);
}
#P147_219
{
left:18984.2px;bottom:22385.3px;color:rgb(235,26,35);
}
#P147_220
{
left:21250.4px;bottom:22385.3px;color:rgb(35,31,31);
}
#P147_221
{
left:22113.9px;bottom:22357.1px;color:rgb(35,31,31);
}
#P147_222
{
left:22673.7px;bottom:22385.3px;color:rgb(35,31,31);
}
#P147_223
{
left:23772.4px;bottom:22385.3px;color:rgb(235,26,35);
}
#P147_224
{
left:24128.5px;bottom:22385.3px;color:rgb(35,31,31);
}
#P147_225
{
left:24515px;bottom:22357.1px;color:rgb(35,31,31);
}
#P147_226
{
left:25074.7px;bottom:22385.3px;color:rgb(35,31,31);
}
#P147_227
{
left:25225.9px;bottom:22385.3px;color:rgb(0,124,196);
}
#P147_228
{
left:18984.2px;bottom:21361.3px;color:rgb(235,26,35);
}
#P147_229
{
left:21250.4px;bottom:21361.3px;color:rgb(35,31,31);
}
#P147_230
{
left:22113.9px;bottom:21333.1px;color:rgb(35,31,31);
}
#P147_231
{
left:22673.7px;bottom:21361.3px;color:rgb(35,31,31);
}
#P147_232
{
left:23772.4px;bottom:21361.3px;color:rgb(235,26,35);
}
#P147_233
{
left:24128.5px;bottom:21361.3px;color:rgb(35,31,31);
}
#P147_234
{
left:24515px;bottom:21333.1px;color:rgb(35,31,31);
}
#P147_235
{
left:25074.7px;bottom:21361.3px;color:rgb(35,31,31);
}
#P147_236
{
left:25225.9px;bottom:21361.3px;color:rgb(0,124,196);
}
#P147_237
{
left:18984.2px;bottom:20337.3px;color:rgb(235,26,35);
}
#P147_238
{
left:21250.4px;bottom:20337.3px;color:rgb(35,31,31);
}
#P147_239
{
left:22113.9px;bottom:20309.1px;color:rgb(35,31,31);
}
#P147_240
{
left:22673.7px;bottom:20337.3px;color:rgb(35,31,31);
}
#P147_241
{
left:23772.4px;bottom:20337.3px;color:rgb(235,26,35);
}
#P147_242
{
left:24128.5px;bottom:20337.3px;color:rgb(35,31,31);
}
#P147_243
{
left:24515px;bottom:20309.1px;color:rgb(35,31,31);
}
#P147_244
{
left:25074.7px;bottom:20337.3px;color:rgb(35,31,31);
}
#P147_245
{
left:25225.9px;bottom:20337.3px;color:rgb(0,124,196);
}
#P147_246
{
left:18984.2px;bottom:19313.3px;color:rgb(235,26,35);
}
#P147_247
{
left:21250.4px;bottom:19313.3px;color:rgb(35,31,31);
}
#P147_248
{
left:22113.9px;bottom:19285.1px;color:rgb(35,31,31);
}
#P147_249
{
left:22673.7px;bottom:19313.3px;color:rgb(35,31,31);
}
#P147_250
{
left:23772.4px;bottom:19313.3px;color:rgb(235,26,35);
}
#P147_251
{
left:24128.5px;bottom:19313.3px;color:rgb(35,31,31);
}
#P147_252
{
left:24515px;bottom:19285.1px;color:rgb(35,31,31);
}
#P147_253
{
left:25074.7px;bottom:19313.3px;color:rgb(35,31,31);
}
#P147_254
{
left:25225.9px;bottom:19313.3px;color:rgb(0,124,196);
}
#P147_255
{
left:28218.3px;bottom:23868.8px;color:rgb(0,124,196);
}
#P147_256
{
left:29860.6px;bottom:23895.7px;color:rgb(0,124,196);
}
#P147_257
{
left:30095.8px;bottom:23868.8px;letter-spacing:-4.1px;color:rgb(0,124,196);
}
#P147_258
{
left:0px;letter-spacing:0px;margin-left:4.1px;
}
#P147_259
{
left:28218.3px;bottom:22972.8px;letter-spacing:-1.3px;color:rgb(0,124,196);
}
#P147_260
{
left:18291.9px;bottom:17585.6px;letter-spacing:-54.3px;color:rgb(0,124,196);
}
#P147_261
{
left:0px;letter-spacing:0px;margin-left:54.3px;
}
#P147_262
{
left:27675.5px;bottom:17557.4px;color:rgb(0,124,196);
}
#P147_263
{
left:28235.3px;bottom:17585.6px;color:rgb(0,124,196);
}
#P147_264
{
left:29041.8px;bottom:17612.5px;color:rgb(235,26,35);
}
#P147_265
{
left:29277px;bottom:17585.6px;color:rgb(0,124,196);
}
#P147_266
{
left:8781.4px;bottom:5155.56px;color:rgb(35,31,31);
}
#P147_267
{
left:6499.74px;bottom:25880.2px;color:rgb(33,31,31);
}
#P147_268
{
left:4818.71px;bottom:13754.7px;color:white;
}
#P147_269
{
left:8174.36px;bottom:13996.3px;color:white;
}
#P147_270
{
left:8510.23px;bottom:13754.7px;color:white;
}
#P147_271
{
left:5053.4px;bottom:12651.7px;letter-spacing:-6px;color:rgb(35,31,31);
}
#P147_272
{
left:5053.4px;bottom:11883.7px;letter-spacing:-6.1px;color:rgb(35,31,31);
}
#P147_273
{
left:5053.4px;bottom:11115.7px;letter-spacing:-11px;color:rgb(35,31,31);
}
#P147_274
{
left:0px;letter-spacing:-5.9px;margin-left:4.6px;
}
#P147_275
{
left:5053.4px;bottom:10347.7px;letter-spacing:-6.1px;color:rgb(35,31,31);
}
#P147_276
{
left:5053.4px;bottom:9579.69px;letter-spacing:-6.1px;color:rgb(35,31,31);
}
#P147_277
{
left:5053.4px;bottom:8811.69px;letter-spacing:-9.2px;color:rgb(35,31,31);
}
#P147_278
{
left:0px;letter-spacing:-6.8px;margin-left:2.8px;
}
#P147_279
{
left:5053.4px;bottom:8043.69px;letter-spacing:-6.4px;color:rgb(35,31,31);
}
#PageContainer147
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg147.jpg");background-repeat:no-repeat;background-size: 895px 1200px; background-position: 120.34px 75.25px;
}
#ImageContainer147 {bottom:88.75px;left:120.34px;width:894.96px;height:1200.30px;position:absolute;} #TextContainer147 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

.example3{position: absolute;top: 85px;left: 168px;}
.example4{position: absolute;top: 426px;left: 168px;}
.nyr{position: absolute;top: 1174px;left: 203px;}
.nyr_exr{position: absolute;top: 1215px;left: 225px;color: rgb(35,31,31);font-size: 16px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}