.tr94{ color:transparent;}
#P94_1
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P94_2
{
left:3148.76px;bottom:1410.03px;color:rgb(35,31,31);
}
#P94_3
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P94_4
{
left:9480.1px;bottom:1410.03px;letter-spacing:2.5px;word-spacing:-0.1px;color:rgb(35,31,31);
}
#P94_5
{
left:0px;letter-spacing:2px;margin-left:-6.9px;
}
#P94_6
{
left:0px;letter-spacing:0.1px;margin-left:5.8px;
}
#P94_7
{
left:4669.34px;bottom:46554.2px;color:rgb(35,31,31);
}
#P94_8
{
left:4846.49px;bottom:46573.9px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P94_9
{
left:6333.34px;bottom:46573.9px;color:rgb(2,77,161);
}
#P94_10
{
left:9734.49px;bottom:46554.2px;word-spacing:0.4px;color:rgb(35,31,31);
}
#P94_11
{
left:0px;letter-spacing:-0.4px;margin-left:-63.2px;
}
#P94_12
{
left:12764.6px;bottom:46993.8px;color:rgb(35,31,31);
}
#P94_13
{
left:13100.4px;bottom:46571.8px;color:rgb(35,31,31);
}
#P94_14
{
left:12743.5px;bottom:46538.1px;color:rgb(35,31,31);
}
#P94_15
{
left:13121.6px;bottom:46555.4px;color:rgb(35,31,31);
}
#P94_16
{
left:12764.6px;bottom:46086.3px;color:rgb(35,31,31);
}
#P94_17
{
left:13100.4px;bottom:46571.8px;color:rgb(35,31,31);
}
#P94_18
{
left:13121.6px;bottom:46554.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P94_19
{
left:0px;letter-spacing:-0.9px;margin-left:158.4px;
}
#P94_20
{
left:0px;letter-spacing:-63.2px;margin-left:-41.2px;
}
#P94_21
{
left:0px;letter-spacing:-0.4px;margin-left:63.2px;
}
#P94_22
{
left:4669.34px;bottom:45338.2px;color:rgb(35,31,31);
}
#P94_23
{
left:5629.34px;bottom:45357.9px;color:rgb(35,31,31);
}
#P94_24
{
left:6333.34px;bottom:45338.2px;letter-spacing:-1.1px;color:rgb(35,31,31);
}
#P94_25
{
left:0px;letter-spacing:0px;margin-left:-41px;
}
#P94_26
{
left:0px;letter-spacing:0px;
}
#P94_27
{
left:4669.34px;bottom:43546.1px;color:rgb(35,31,31);
}
#P94_28
{
left:4846.49px;bottom:43565.8px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P94_29
{
left:6333.34px;bottom:43565.9px;color:rgb(2,77,161);
}
#P94_30
{
left:9240.15px;bottom:43546.2px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P94_31
{
left:0px;letter-spacing:-7px;margin-left:-214.6px;
}
#P94_32
{
left:0px;letter-spacing:-0.6px;margin-left:7px;
}
#P94_33
{
left:0px;letter-spacing:-0.8px;margin-left:0.6px;
}
#P94_34
{
left:0px;letter-spacing:0px;margin-left:0.8px;
}
#P94_35
{
left:4669.34px;bottom:34714.1px;letter-spacing:-0.3px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P94_36
{
left:0px;letter-spacing:-0.5px;margin-left:-13.6px;
}
#P94_37
{
left:0px;letter-spacing:-1.4px;margin-left:118.9px;
}
#P94_38
{
left:0px;letter-spacing:-5.3px;margin-left:1.3px;
}
#P94_39
{
left:0px;letter-spacing:-0.8px;margin-left:5.2px;
}
#P94_40
{
left:0px;letter-spacing:-0.1px;margin-left:0.7px;
}
#P94_41
{
left:4669.34px;bottom:33818.2px;color:rgb(35,31,31);
}
#P94_42
{
left:0px;letter-spacing:0px;margin-left:-42px;
}
#P94_43
{
left:4669.34px;bottom:32218.2px;color:rgb(35,31,31);
}
#P94_44
{
left:4846.49px;bottom:32237.9px;color:rgb(35,31,31);
}
#P94_45
{
left:6269.34px;bottom:32218.2px;color:rgb(35,31,31);
}
#P94_46
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P94_47
{
left:7008.54px;bottom:32657.8px;color:rgb(35,31,31);
}
#P94_48
{
left:7344.35px;bottom:32235.8px;color:rgb(35,31,31);
}
#P94_49
{
left:6987.42px;bottom:32202.1px;color:rgb(35,31,31);
}
#P94_50
{
left:7365.47px;bottom:32219.4px;color:rgb(35,31,31);
}
#P94_51
{
left:7008.54px;bottom:31750.3px;color:rgb(35,31,31);
}
#P94_52
{
left:7344.35px;bottom:32235.8px;color:rgb(35,31,31);
}
#P94_53
{
left:7365.47px;bottom:32218.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P94_54
{
left:12142.6px;bottom:32237.9px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P94_55
{
left:13565.4px;bottom:32237.9px;color:rgb(35,31,31);
}
#P94_56
{
left:13586.5px;bottom:32659.9px;color:rgb(35,31,31);
}
#P94_57
{
left:13922.3px;bottom:32235.8px;color:rgb(35,31,31);
}
#P94_58
{
left:13565.4px;bottom:32204.3px;color:rgb(35,31,31);
}
#P94_59
{
left:13943.4px;bottom:32219.4px;color:rgb(35,31,31);
}
#P94_60
{
left:13586.5px;bottom:31752.4px;color:rgb(35,31,31);
}
#P94_61
{
left:13922.3px;bottom:32235.8px;color:rgb(35,31,31);
}
#P94_62
{
left:13943.4px;bottom:32218.2px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P94_63
{
left:14309.5px;bottom:32657.8px;color:rgb(35,31,31);
}
#P94_64
{
left:14981.1px;bottom:32235.8px;color:rgb(35,31,31);
}
#P94_65
{
left:14288.3px;bottom:32202.1px;color:rgb(35,31,31);
}
#P94_66
{
left:15002.2px;bottom:32219.4px;color:rgb(35,31,31);
}
#P94_67
{
left:14477.4px;bottom:31750.3px;color:rgb(35,31,31);
}
#P94_68
{
left:14813.2px;bottom:32235.8px;color:rgb(35,31,31);
}
#P94_69
{
left:15002.2px;bottom:32218.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P94_70
{
left:19566.6px;bottom:32237.9px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P94_71
{
left:20989.5px;bottom:32237.9px;color:rgb(35,31,31);
}
#P94_72
{
left:21010.5px;bottom:32659.9px;color:rgb(35,31,31);
}
#P94_73
{
left:21346.3px;bottom:32235.8px;color:rgb(35,31,31);
}
#P94_74
{
left:20989.4px;bottom:32204.3px;color:rgb(35,31,31);
}
#P94_75
{
left:21367.4px;bottom:32219.4px;color:rgb(35,31,31);
}
#P94_76
{
left:21010.5px;bottom:31752.4px;color:rgb(35,31,31);
}
#P94_77
{
left:21346.3px;bottom:32235.8px;color:rgb(35,31,31);
}
#P94_78
{
left:21367.4px;bottom:32218.2px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P94_79
{
left:21733.5px;bottom:32657.8px;color:rgb(35,31,31);
}
#P94_80
{
left:22405.1px;bottom:32235.8px;color:rgb(35,31,31);
}
#P94_81
{
left:21712.3px;bottom:32202.1px;color:rgb(35,31,31);
}
#P94_82
{
left:22426.2px;bottom:32219.4px;color:rgb(35,31,31);
}
#P94_83
{
left:21733.5px;bottom:31750.3px;color:rgb(35,31,31);
}
#P94_84
{
left:22405.1px;bottom:32235.8px;color:rgb(35,31,31);
}
#P94_85
{
left:22426.2px;bottom:32218.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P94_86
{
left:26926.6px;bottom:32237.9px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P94_87
{
left:28349.4px;bottom:32237.9px;color:rgb(35,31,31);
}
#P94_88
{
left:28370.5px;bottom:32659.9px;color:rgb(35,31,31);
}
#P94_89
{
left:28706.3px;bottom:32235.8px;color:rgb(35,31,31);
}
#P94_90
{
left:28349.4px;bottom:32204.3px;color:rgb(35,31,31);
}
#P94_91
{
left:28727.4px;bottom:32219.4px;color:rgb(35,31,31);
}
#P94_92
{
left:28370.5px;bottom:31752.4px;color:rgb(35,31,31);
}
#P94_93
{
left:28706.3px;bottom:32235.8px;color:rgb(35,31,31);
}
#P94_94
{
left:28727.4px;bottom:32218.2px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P94_95
{
left:29093.5px;bottom:32657.8px;color:rgb(35,31,31);
}
#P94_96
{
left:29429.3px;bottom:32235.8px;color:rgb(35,31,31);
}
#P94_97
{
left:29072.3px;bottom:32202.1px;color:rgb(35,31,31);
}
#P94_98
{
left:29450.4px;bottom:32219.4px;color:rgb(35,31,31);
}
#P94_99
{
left:29093.5px;bottom:31750.3px;color:rgb(35,31,31);
}
#P94_100
{
left:29429.3px;bottom:32235.8px;color:rgb(35,31,31);
}
#P94_101
{
left:29450.4px;bottom:32218.2px;color:rgb(35,31,31);
}
#P94_102
{
left:4669.4px;bottom:30170.2px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P94_103
{
left:4669.4px;bottom:28570.2px;color:rgb(35,31,31);
}
#P94_104
{
left:4846.43px;bottom:28589.9px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P94_105
{
left:6269.27px;bottom:28589.9px;color:rgb(35,31,31);
}
#P94_106
{
left:6458.39px;bottom:29011.9px;color:rgb(35,31,31);
}
#P94_107
{
left:6794.2px;bottom:28587.8px;color:rgb(35,31,31);
}
#P94_108
{
left:6269.34px;bottom:28556.3px;color:rgb(35,31,31);
}
#P94_109
{
left:6983.19px;bottom:28571.4px;color:rgb(35,31,31);
}
#P94_110
{
left:6290.46px;bottom:28104.4px;color:rgb(35,31,31);
}
#P94_111
{
left:6962.07px;bottom:28587.8px;color:rgb(35,31,31);
}
#P94_112
{
left:6983.19px;bottom:28570.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P94_113
{
left:7141.59px;bottom:28540.6px;color:rgb(35,31,31);
}
#P94_114
{
left:9170.46px;bottom:28442.2px;color:rgb(35,31,31);
}
#P94_115
{
left:9258.46px;bottom:28570.2px;color:rgb(35,31,31);
}
#P94_116
{
left:9416.79px;bottom:28540.6px;color:rgb(35,31,31);
}
#P94_117
{
left:10003.2px;bottom:28570.2px;color:rgb(35,31,31);
}
#P94_118
{
left:15150.5px;bottom:28589.9px;color:rgb(35,31,31);
}
#P94_119
{
left:16573.3px;bottom:28570.2px;color:rgb(35,31,31);
}
#P94_120
{
left:17104.8px;bottom:28540.6px;color:rgb(35,31,31);
}
#P94_121
{
left:17691.2px;bottom:28570.2px;letter-spacing:1266.4px;color:rgb(35,31,31);
}
#P94_122
{
left:19274.5px;bottom:28540.6px;color:rgb(35,31,31);
}
#P94_123
{
left:19860.9px;bottom:28570.2px;color:rgb(35,31,31);
}
#P94_124
{
left:25454.6px;bottom:28589.9px;color:rgb(35,31,31);
}
#P94_125
{
left:26749.4px;bottom:28570.2px;color:rgb(35,31,31);
}
#P94_126
{
left:27280.9px;bottom:28540.6px;color:rgb(35,31,31);
}
#P94_127
{
left:27867.3px;bottom:28570.2px;color:rgb(35,31,31);
}
#P94_128
{
left:29292.1px;bottom:28442.2px;color:rgb(35,31,31);
}
#P94_129
{
left:29380.1px;bottom:28540.6px;color:rgb(35,31,31);
}
#P94_130
{
left:30142.5px;bottom:28570.2px;color:rgb(35,31,31);
}
#P94_131
{
left:4669.4px;bottom:26522.2px;letter-spacing:0.4px;word-spacing:-0.4px;color:rgb(35,31,31);
}
#P94_132
{
left:7744.67px;bottom:26522.2px;letter-spacing:77.1px;color:rgb(35,31,31);
}
#P94_133
{
left:0px;letter-spacing:-1.2px;margin-left:-77.1px;
}
#P94_134
{
left:0px;letter-spacing:-0.3px;margin-left:1.2px;
}
#P94_135
{
left:0px;letter-spacing:0px;margin-left:-27.8px;
}
#P94_136
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P94_137
{
left:0px;letter-spacing:0px;
}
#P94_138
{
left:29726px;bottom:26492.6px;color:rgb(35,31,31);
}
#P94_139
{
left:30312.4px;bottom:26522.2px;letter-spacing:-28px;color:rgb(35,31,31);
}
#P94_140
{
left:4669.34px;bottom:25626.2px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P94_141
{
left:4669.34px;bottom:23898.2px;color:rgb(35,31,31);
}
#P94_142
{
left:4846.43px;bottom:23917.9px;color:rgb(35,31,31);
}
#P94_143
{
left:6269.27px;bottom:23898.2px;color:rgb(35,31,31);
}
#P94_144
{
left:6800.79px;bottom:23868.7px;color:rgb(35,31,31);
}
#P94_145
{
left:7387.23px;bottom:23898.2px;color:rgb(35,31,31);
}
#P94_146
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P94_147
{
left:7566.81px;bottom:24337.8px;color:rgb(35,31,31);
}
#P94_148
{
left:7902.62px;bottom:23915.8px;color:rgb(35,31,31);
}
#P94_149
{
left:7545.69px;bottom:23882.1px;color:rgb(35,31,31);
}
#P94_150
{
left:7923.74px;bottom:23899.4px;color:rgb(35,31,31);
}
#P94_151
{
left:7566.81px;bottom:23430.3px;color:rgb(35,31,31);
}
#P94_152
{
left:7902.62px;bottom:23915.8px;color:rgb(35,31,31);
}
#P94_153
{
left:7923.74px;bottom:23898.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P94_154
{
left:9348.51px;bottom:23770.2px;color:rgb(35,31,31);
}
#P94_155
{
left:9436.51px;bottom:23898.2px;color:rgb(35,31,31);
}
#P94_156
{
left:12142.6px;bottom:23917.9px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P94_157
{
left:13565.4px;bottom:23917.9px;color:rgb(35,31,31);
}
#P94_158
{
left:13586.5px;bottom:24339.9px;color:rgb(35,31,31);
}
#P94_159
{
left:13922.3px;bottom:23915.8px;color:rgb(35,31,31);
}
#P94_160
{
left:13565.4px;bottom:23884.3px;color:rgb(35,31,31);
}
#P94_161
{
left:13943.4px;bottom:23899.4px;color:rgb(35,31,31);
}
#P94_162
{
left:13586.5px;bottom:23432.4px;color:rgb(35,31,31);
}
#P94_163
{
left:13922.3px;bottom:23915.8px;color:rgb(35,31,31);
}
#P94_164
{
left:13943.4px;bottom:23898.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P94_165
{
left:14101.8px;bottom:23868.6px;color:rgb(35,31,31);
}
#P94_166
{
left:14688.2px;bottom:23898.2px;color:rgb(35,31,31);
}
#P94_167
{
left:0px;letter-spacing:0px;margin-left:1266.4px;
}
#P94_168
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P94_169
{
left:16824px;bottom:24337.8px;color:rgb(35,31,31);
}
#P94_170
{
left:17159.8px;bottom:23915.8px;color:rgb(35,31,31);
}
#P94_171
{
left:16802.9px;bottom:23882.1px;color:rgb(35,31,31);
}
#P94_172
{
left:17181px;bottom:23899.4px;color:rgb(35,31,31);
}
#P94_173
{
left:16824px;bottom:23430.3px;color:rgb(35,31,31);
}
#P94_174
{
left:17159.8px;bottom:23915.8px;color:rgb(35,31,31);
}
#P94_175
{
left:17181px;bottom:23898.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P94_176
{
left:19566.6px;bottom:23917.9px;color:rgb(35,31,31);
}
#P94_177
{
left:20989.4px;bottom:23898.2px;color:rgb(35,31,31);
}
#P94_178
{
left:21520.9px;bottom:23868.6px;color:rgb(35,31,31);
}
#P94_179
{
left:22107.3px;bottom:23898.2px;color:rgb(35,31,31);
}
#P94_180
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P94_181
{
left:22286.8px;bottom:24337.8px;color:rgb(35,31,31);
}
#P94_182
{
left:22622.6px;bottom:23915.8px;color:rgb(35,31,31);
}
#P94_183
{
left:22265.7px;bottom:23882.1px;color:rgb(35,31,31);
}
#P94_184
{
left:22643.7px;bottom:23899.4px;color:rgb(35,31,31);
}
#P94_185
{
left:22286.8px;bottom:23430.3px;color:rgb(35,31,31);
}
#P94_186
{
left:22622.6px;bottom:23915.8px;color:rgb(35,31,31);
}
#P94_187
{
left:22643.7px;bottom:23898.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P94_188
{
left:24068.5px;bottom:23770.2px;color:rgb(35,31,31);
}
#P94_189
{
left:24156.5px;bottom:23898.2px;color:rgb(35,31,31);
}
#P94_190
{
left:26926.6px;bottom:23917.9px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P94_191
{
left:28349.4px;bottom:23917.9px;color:rgb(35,31,31);
}
#P94_192
{
left:28370.5px;bottom:24339.9px;color:rgb(35,31,31);
}
#P94_193
{
left:28706.3px;bottom:23915.8px;color:rgb(35,31,31);
}
#P94_194
{
left:28349.4px;bottom:23884.3px;color:rgb(35,31,31);
}
#P94_195
{
left:28727.4px;bottom:23899.4px;color:rgb(35,31,31);
}
#P94_196
{
left:28370.5px;bottom:23432.4px;color:rgb(35,31,31);
}
#P94_197
{
left:28706.3px;bottom:23915.8px;color:rgb(35,31,31);
}
#P94_198
{
left:28727.4px;bottom:23898.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P94_199
{
left:28885.8px;bottom:23868.6px;color:rgb(35,31,31);
}
#P94_200
{
left:29472.2px;bottom:23898.2px;color:rgb(35,31,31);
}
#P94_201
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P94_202
{
left:29651.7px;bottom:24337.8px;color:rgb(35,31,31);
}
#P94_203
{
left:29987.5px;bottom:23915.8px;color:rgb(35,31,31);
}
#P94_204
{
left:29630.6px;bottom:23882.1px;color:rgb(35,31,31);
}
#P94_205
{
left:30008.7px;bottom:23899.4px;color:rgb(35,31,31);
}
#P94_206
{
left:29651.7px;bottom:23430.3px;color:rgb(35,31,31);
}
#P94_207
{
left:29987.5px;bottom:23915.8px;color:rgb(35,31,31);
}
#P94_208
{
left:30008.7px;bottom:23898.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P94_209
{
left:0px;letter-spacing:0px;margin-left:1424.8px;
}
#P94_210
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P94_211
{
left:31613px;bottom:24337.8px;color:rgb(35,31,31);
}
#P94_212
{
left:31948.8px;bottom:23915.8px;color:rgb(35,31,31);
}
#P94_213
{
left:31591.8px;bottom:23882.1px;color:rgb(35,31,31);
}
#P94_214
{
left:31969.9px;bottom:23899.4px;color:rgb(35,31,31);
}
#P94_215
{
left:31613px;bottom:23430.3px;color:rgb(35,31,31);
}
#P94_216
{
left:31948.8px;bottom:23915.8px;color:rgb(35,31,31);
}
#P94_217
{
left:31969.9px;bottom:23898.2px;color:rgb(35,31,31);
}
#P94_218
{
left:4669.4px;bottom:21978.2px;letter-spacing:-4.6px;color:rgb(35,31,31);
}
#P94_219
{
left:0px;letter-spacing:-0.9px;margin-left:4.6px;
}
#P94_220
{
left:0px;letter-spacing:-23.9px;margin-left:-27.1px;
}
#P94_221
{
left:0px;letter-spacing:0px;margin-left:23.9px;
}
#P94_222
{
left:4669.4px;bottom:20378.2px;color:rgb(35,31,31);
}
#P94_223
{
left:4846.55px;bottom:20397.9px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P94_224
{
left:6269.4px;bottom:20397.9px;color:rgb(35,31,31);
}
#P94_225
{
left:6290.46px;bottom:20819.9px;color:rgb(35,31,31);
}
#P94_226
{
left:6626.33px;bottom:20395.8px;color:rgb(35,31,31);
}
#P94_227
{
left:6269.34px;bottom:20364.3px;color:rgb(35,31,31);
}
#P94_228
{
left:6647.45px;bottom:20379.4px;color:rgb(35,31,31);
}
#P94_229
{
left:6290.46px;bottom:19912.4px;color:rgb(35,31,31);
}
#P94_230
{
left:6626.33px;bottom:20395.8px;color:rgb(35,31,31);
}
#P94_231
{
left:6647.45px;bottom:20378.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P94_232
{
left:6805.79px;bottom:20348.6px;color:rgb(35,31,31);
}
#P94_233
{
left:7392.22px;bottom:20378.2px;color:rgb(35,31,31);
}
#P94_234
{
left:8082.14px;bottom:20348.6px;color:rgb(35,31,31);
}
#P94_235
{
left:8668.57px;bottom:20378.2px;color:rgb(35,31,31);
}
#P94_236
{
left:15150.6px;bottom:20397.9px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P94_237
{
left:16573.4px;bottom:20397.9px;color:rgb(35,31,31);
}
#P94_238
{
left:16762.4px;bottom:20819.9px;color:rgb(35,31,31);
}
#P94_239
{
left:17098.2px;bottom:20395.8px;color:rgb(35,31,31);
}
#P94_240
{
left:16573.4px;bottom:20364.3px;color:rgb(35,31,31);
}
#P94_241
{
left:17287.3px;bottom:20379.4px;color:rgb(35,31,31);
}
#P94_242
{
left:16594.5px;bottom:19912.4px;color:rgb(35,31,31);
}
#P94_243
{
left:17266.1px;bottom:20395.8px;color:rgb(35,31,31);
}
#P94_244
{
left:17287.3px;bottom:20378.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P94_245
{
left:17445.6px;bottom:20348.6px;color:rgb(35,31,31);
}
#P94_246
{
left:18032px;bottom:20378.2px;color:rgb(35,31,31);
}
#P94_247
{
left:19095.1px;bottom:20348.6px;color:rgb(35,31,31);
}
#P94_248
{
left:19681.5px;bottom:20378.2px;color:rgb(35,31,31);
}
#P94_249
{
left:25454.6px;bottom:20397.9px;word-spacing:120.6px;color:rgb(35,31,31);
}
#P94_250
{
left:26749.5px;bottom:20397.9px;color:rgb(35,31,31);
}
#P94_251
{
left:26770.5px;bottom:20819.9px;color:rgb(35,31,31);
}
#P94_252
{
left:27106.3px;bottom:20395.8px;color:rgb(35,31,31);
}
#P94_253
{
left:26749.4px;bottom:20364.3px;color:rgb(35,31,31);
}
#P94_254
{
left:27127.4px;bottom:20379.4px;color:rgb(35,31,31);
}
#P94_255
{
left:26770.5px;bottom:19912.4px;color:rgb(35,31,31);
}
#P94_256
{
left:27106.3px;bottom:20395.8px;color:rgb(35,31,31);
}
#P94_257
{
left:27127.4px;bottom:20378.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P94_258
{
left:27285.8px;bottom:20348.6px;color:rgb(35,31,31);
}
#P94_259
{
left:27872.2px;bottom:20378.2px;color:rgb(35,31,31);
}
#P94_260
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P94_261
{
left:28051.7px;bottom:20817.8px;color:rgb(35,31,31);
}
#P94_262
{
left:28387.5px;bottom:20395.8px;color:rgb(35,31,31);
}
#P94_263
{
left:28030.6px;bottom:20362.1px;color:rgb(35,31,31);
}
#P94_264
{
left:28408.7px;bottom:20379.4px;color:rgb(35,31,31);
}
#P94_265
{
left:28051.7px;bottom:19910.3px;color:rgb(35,31,31);
}
#P94_266
{
left:28387.5px;bottom:20395.8px;color:rgb(35,31,31);
}
#P94_267
{
left:28408.7px;bottom:20378.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P94_268
{
left:28567.1px;bottom:20348.6px;color:rgb(35,31,31);
}
#P94_269
{
left:29153.5px;bottom:20378.2px;color:rgb(35,31,31);
}
#P94_270
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P94_271
{
left:29500.9px;bottom:20817.8px;color:rgb(35,31,31);
}
#P94_272
{
left:29836.7px;bottom:20395.8px;color:rgb(35,31,31);
}
#P94_273
{
left:29311.9px;bottom:20362.1px;color:rgb(35,31,31);
}
#P94_274
{
left:30025.8px;bottom:20379.4px;color:rgb(35,31,31);
}
#P94_275
{
left:29333px;bottom:19910.3px;color:rgb(35,31,31);
}
#P94_276
{
left:30004.6px;bottom:20395.8px;color:rgb(35,31,31);
}
#P94_277
{
left:30025.8px;bottom:20378.2px;color:rgb(35,31,31);
}
#P94_278
{
left:4669.34px;bottom:18266.2px;color:rgb(35,31,31);
}
#P94_279
{
left:4846.49px;bottom:18285.9px;color:rgb(35,31,31);
}
#P94_280
{
left:6269.34px;bottom:18266.2px;color:rgb(35,31,31);
}
#P94_281
{
left:6800.86px;bottom:18236.6px;color:rgb(35,31,31);
}
#P94_282
{
left:7387.29px;bottom:18266.2px;color:rgb(35,31,31);
}
#P94_283
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P94_284
{
left:7566.81px;bottom:18705.8px;color:rgb(35,31,31);
}
#P94_285
{
left:7902.62px;bottom:18283.8px;color:rgb(35,31,31);
}
#P94_286
{
left:7545.69px;bottom:18250.1px;color:rgb(35,31,31);
}
#P94_287
{
left:7923.74px;bottom:18267.4px;color:rgb(35,31,31);
}
#P94_288
{
left:7566.81px;bottom:17798.3px;color:rgb(35,31,31);
}
#P94_289
{
left:7902.62px;bottom:18283.8px;color:rgb(35,31,31);
}
#P94_290
{
left:7923.74px;bottom:18266.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P94_291
{
left:8082.14px;bottom:18236.6px;color:rgb(35,31,31);
}
#P94_292
{
left:8668.57px;bottom:18266.2px;color:rgb(35,31,31);
}
#P94_293
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P94_294
{
left:8848.09px;bottom:18705.8px;color:rgb(35,31,31);
}
#P94_295
{
left:9183.9px;bottom:18283.8px;color:rgb(35,31,31);
}
#P94_296
{
left:8826.97px;bottom:18250.1px;color:rgb(35,31,31);
}
#P94_297
{
left:9205.02px;bottom:18267.4px;color:rgb(35,31,31);
}
#P94_298
{
left:8848.09px;bottom:17798.3px;color:rgb(35,31,31);
}
#P94_299
{
left:9183.9px;bottom:18283.8px;color:rgb(35,31,31);
}
#P94_300
{
left:9205.02px;bottom:18266.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P94_301
{
left:15150.6px;bottom:18285.9px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P94_302
{
left:16573.5px;bottom:18285.9px;color:rgb(35,31,31);
}
#P94_303
{
left:16594.5px;bottom:18707.9px;color:rgb(35,31,31);
}
#P94_304
{
left:16930.3px;bottom:18283.8px;color:rgb(35,31,31);
}
#P94_305
{
left:16573.4px;bottom:18252.3px;color:rgb(35,31,31);
}
#P94_306
{
left:16951.4px;bottom:18267.4px;color:rgb(35,31,31);
}
#P94_307
{
left:16594.5px;bottom:17800.4px;color:rgb(35,31,31);
}
#P94_308
{
left:16930.3px;bottom:18283.8px;color:rgb(35,31,31);
}
#P94_309
{
left:16951.4px;bottom:18266.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P94_310
{
left:17109.8px;bottom:18236.6px;color:rgb(35,31,31);
}
#P94_311
{
left:17696.2px;bottom:18266.2px;color:rgb(35,31,31);
}
#P94_312
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P94_313
{
left:17875.7px;bottom:18705.8px;color:rgb(35,31,31);
}
#P94_314
{
left:18211.5px;bottom:18283.8px;color:rgb(35,31,31);
}
#P94_315
{
left:17854.6px;bottom:18250.1px;color:rgb(35,31,31);
}
#P94_316
{
left:18232.7px;bottom:18267.4px;color:rgb(35,31,31);
}
#P94_317
{
left:17875.7px;bottom:17798.3px;color:rgb(35,31,31);
}
#P94_318
{
left:18211.5px;bottom:18283.8px;color:rgb(35,31,31);
}
#P94_319
{
left:18232.7px;bottom:18266.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P94_320
{
left:18391.1px;bottom:18236.6px;color:rgb(35,31,31);
}
#P94_321
{
left:18977.5px;bottom:18266.2px;color:rgb(35,31,31);
}
#P94_322
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P94_323
{
left:19157px;bottom:18705.8px;color:rgb(35,31,31);
}
#P94_324
{
left:19492.8px;bottom:18283.8px;color:rgb(35,31,31);
}
#P94_325
{
left:19135.9px;bottom:18250.1px;color:rgb(35,31,31);
}
#P94_326
{
left:19513.9px;bottom:18267.4px;color:rgb(35,31,31);
}
#P94_327
{
left:19157px;bottom:17798.3px;color:rgb(35,31,31);
}
#P94_328
{
left:19492.8px;bottom:18283.8px;color:rgb(35,31,31);
}
#P94_329
{
left:19513.9px;bottom:18266.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P94_330
{
left:25454.6px;bottom:18285.9px;word-spacing:120.6px;color:rgb(35,31,31);
}
#P94_331
{
left:26749.5px;bottom:18285.9px;color:rgb(35,31,31);
}
#P94_332
{
left:26770.5px;bottom:18707.9px;color:rgb(35,31,31);
}
#P94_333
{
left:27106.3px;bottom:18283.8px;color:rgb(35,31,31);
}
#P94_334
{
left:26749.4px;bottom:18252.3px;color:rgb(35,31,31);
}
#P94_335
{
left:27127.4px;bottom:18267.4px;color:rgb(35,31,31);
}
#P94_336
{
left:26770.5px;bottom:17800.4px;color:rgb(35,31,31);
}
#P94_337
{
left:27106.3px;bottom:18283.8px;color:rgb(35,31,31);
}
#P94_338
{
left:27127.4px;bottom:18266.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P94_339
{
left:27285.8px;bottom:18236.6px;color:rgb(35,31,31);
}
#P94_340
{
left:27872.2px;bottom:18266.2px;color:rgb(35,31,31);
}
#P94_341
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P94_342
{
left:28051.7px;bottom:18705.8px;color:rgb(35,31,31);
}
#P94_343
{
left:28387.5px;bottom:18283.8px;color:rgb(35,31,31);
}
#P94_344
{
left:28030.6px;bottom:18250.1px;color:rgb(35,31,31);
}
#P94_345
{
left:28408.7px;bottom:18267.4px;color:rgb(35,31,31);
}
#P94_346
{
left:28051.7px;bottom:17798.3px;color:rgb(35,31,31);
}
#P94_347
{
left:28387.5px;bottom:18283.8px;color:rgb(35,31,31);
}
#P94_348
{
left:28408.7px;bottom:18266.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P94_349
{
left:28567.1px;bottom:18236.6px;color:rgb(35,31,31);
}
#P94_350
{
left:29153.5px;bottom:18266.2px;color:rgb(35,31,31);
}
#P94_351
{
left:4669.34px;bottom:16154.2px;color:rgb(35,31,31);
}
#P94_352
{
left:4846.49px;bottom:16173.9px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P94_353
{
left:6269.34px;bottom:16173.9px;color:rgb(35,31,31);
}
#P94_354
{
left:6458.39px;bottom:16595.9px;color:rgb(35,31,31);
}
#P94_355
{
left:6794.2px;bottom:16171.8px;color:rgb(35,31,31);
}
#P94_356
{
left:6269.34px;bottom:16140.3px;color:rgb(35,31,31);
}
#P94_357
{
left:6983.26px;bottom:16155.4px;color:rgb(35,31,31);
}
#P94_358
{
left:6290.52px;bottom:15688.4px;color:rgb(35,31,31);
}
#P94_359
{
left:6962.14px;bottom:16171.8px;color:rgb(35,31,31);
}
#P94_360
{
left:6983.26px;bottom:16154.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P94_361
{
left:7141.59px;bottom:16124.6px;color:rgb(35,31,31);
}
#P94_362
{
left:7728.03px;bottom:16154.2px;color:rgb(35,31,31);
}
#P94_363
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P94_364
{
left:7907.55px;bottom:16593.8px;color:rgb(35,31,31);
}
#P94_365
{
left:8243.35px;bottom:16171.8px;color:rgb(35,31,31);
}
#P94_366
{
left:7886.43px;bottom:16138.1px;color:rgb(35,31,31);
}
#P94_367
{
left:8264.47px;bottom:16155.4px;color:rgb(35,31,31);
}
#P94_368
{
left:7907.55px;bottom:15686.3px;color:rgb(35,31,31);
}
#P94_369
{
left:8243.35px;bottom:16171.8px;color:rgb(35,31,31);
}
#P94_370
{
left:8264.47px;bottom:16154.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P94_371
{
left:8370.07px;bottom:15715.6px;color:rgb(35,31,31);
}
#P94_372
{
left:8721.88px;bottom:16154.2px;color:rgb(35,31,31);
}
#P94_373
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P94_374
{
left:9069.27px;bottom:16593.8px;color:rgb(35,31,31);
}
#P94_375
{
left:9405.08px;bottom:16171.8px;color:rgb(35,31,31);
}
#P94_376
{
left:8880.28px;bottom:16138.1px;color:rgb(35,31,31);
}
#P94_377
{
left:9594.14px;bottom:16155.4px;color:rgb(35,31,31);
}
#P94_378
{
left:8901.4px;bottom:15686.3px;color:rgb(35,31,31);
}
#P94_379
{
left:9573.02px;bottom:16171.8px;color:rgb(35,31,31);
}
#P94_380
{
left:9594.14px;bottom:16154.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P94_381
{
left:15150.6px;bottom:16173.9px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P94_382
{
left:16573.4px;bottom:16173.9px;color:rgb(35,31,31);
}
#P94_383
{
left:16762.4px;bottom:16595.9px;color:rgb(35,31,31);
}
#P94_384
{
left:17098.2px;bottom:16171.8px;color:rgb(35,31,31);
}
#P94_385
{
left:16573.4px;bottom:16140.3px;color:rgb(35,31,31);
}
#P94_386
{
left:17287.3px;bottom:16155.4px;color:rgb(35,31,31);
}
#P94_387
{
left:16594.5px;bottom:15688.4px;color:rgb(35,31,31);
}
#P94_388
{
left:17266.1px;bottom:16171.8px;color:rgb(35,31,31);
}
#P94_389
{
left:17287.3px;bottom:16154.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P94_390
{
left:17392.8px;bottom:15715.6px;color:rgb(35,31,31);
}
#P94_391
{
left:17744.6px;bottom:16154.2px;color:rgb(35,31,31);
}
#P94_392
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P94_393
{
left:17924.1px;bottom:16593.8px;color:rgb(35,31,31);
}
#P94_394
{
left:18259.9px;bottom:16171.8px;color:rgb(35,31,31);
}
#P94_395
{
left:17903px;bottom:16138.1px;color:rgb(35,31,31);
}
#P94_396
{
left:18281px;bottom:16155.4px;color:rgb(35,31,31);
}
#P94_397
{
left:17924.1px;bottom:15686.3px;color:rgb(35,31,31);
}
#P94_398
{
left:18259.9px;bottom:16171.8px;color:rgb(35,31,31);
}
#P94_399
{
left:18281px;bottom:16154.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P94_400
{
left:18439.4px;bottom:16124.6px;color:rgb(35,31,31);
}
#P94_401
{
left:19025.9px;bottom:16154.2px;color:rgb(35,31,31);
}
#P94_402
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P94_403
{
left:19205.4px;bottom:16593.8px;color:rgb(35,31,31);
}
#P94_404
{
left:19541.2px;bottom:16171.8px;color:rgb(35,31,31);
}
#P94_405
{
left:19184.3px;bottom:16138.1px;color:rgb(35,31,31);
}
#P94_406
{
left:19562.3px;bottom:16155.4px;color:rgb(35,31,31);
}
#P94_407
{
left:19205.4px;bottom:15686.3px;color:rgb(35,31,31);
}
#P94_408
{
left:19541.2px;bottom:16171.8px;color:rgb(35,31,31);
}
#P94_409
{
left:19562.3px;bottom:16154.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P94_410
{
left:25454.6px;bottom:16173.9px;word-spacing:120.6px;color:rgb(35,31,31);
}
#P94_411
{
left:26749.4px;bottom:16173.9px;color:rgb(35,31,31);
}
#P94_412
{
left:26770.5px;bottom:16595.9px;color:rgb(35,31,31);
}
#P94_413
{
left:27442.1px;bottom:16171.8px;color:rgb(35,31,31);
}
#P94_414
{
left:26749.4px;bottom:16140.3px;color:rgb(35,31,31);
}
#P94_415
{
left:27463.3px;bottom:16155.4px;color:rgb(35,31,31);
}
#P94_416
{
left:26770.5px;bottom:15688.4px;color:rgb(35,31,31);
}
#P94_417
{
left:27442.1px;bottom:16171.8px;color:rgb(35,31,31);
}
#P94_418
{
left:27463.3px;bottom:16154.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P94_419
{
left:27568.8px;bottom:15715.6px;color:rgb(35,31,31);
}
#P94_420
{
left:27920.6px;bottom:16154.2px;color:rgb(35,31,31);
}
#P94_421
{
left:28079px;bottom:15563.8px;color:rgb(35,31,31);
}
#P94_422
{
left:28325.4px;bottom:15885.4px;color:rgb(35,31,31);
}
#P94_423
{
left:28381.7px;bottom:16154.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P94_424
{
left:28402.8px;bottom:16593.8px;color:rgb(35,31,31);
}
#P94_425
{
left:28738.6px;bottom:16171.8px;color:rgb(35,31,31);
}
#P94_426
{
left:28381.7px;bottom:16138.1px;color:rgb(35,31,31);
}
#P94_427
{
left:28759.8px;bottom:16155.4px;color:rgb(35,31,31);
}
#P94_428
{
left:28402.8px;bottom:15686.3px;color:rgb(35,31,31);
}
#P94_429
{
left:28738.6px;bottom:16171.8px;color:rgb(35,31,31);
}
#P94_430
{
left:28759.8px;bottom:16154.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P94_431
{
left:28918.2px;bottom:16124.6px;color:rgb(35,31,31);
}
#P94_432
{
left:29504.6px;bottom:16154.2px;color:rgb(35,31,31);
}
#P94_433
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P94_434
{
left:29852px;bottom:16593.8px;color:rgb(35,31,31);
}
#P94_435
{
left:30187.8px;bottom:16171.8px;color:rgb(35,31,31);
}
#P94_436
{
left:29662.9px;bottom:16138.1px;color:rgb(35,31,31);
}
#P94_437
{
left:30376.8px;bottom:16155.4px;color:rgb(35,31,31);
}
#P94_438
{
left:29684.1px;bottom:15686.3px;color:rgb(35,31,31);
}
#P94_439
{
left:30355.7px;bottom:16171.8px;color:rgb(35,31,31);
}
#P94_440
{
left:30376.8px;bottom:16154.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P94_441
{
left:30433.1px;bottom:15563.8px;color:rgb(35,31,31);
}
#P94_442
{
left:30679.5px;bottom:16154.2px;color:rgb(35,31,31);
}
#P94_443
{
left:4669.4px;bottom:13146.2px;color:rgb(35,31,31);
}
#P94_444
{
left:4846.43px;bottom:13165.9px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P94_445
{
left:6333.34px;bottom:13165.9px;color:rgb(2,77,161);
}
#P94_446
{
left:10401.8px;bottom:13146.2px;letter-spacing:-9.3px;color:rgb(35,31,31);
}
#P94_447
{
left:0px;letter-spacing:-0.2px;margin-left:9.3px;
}
#P94_448
{
left:4669.34px;bottom:11866.2px;color:rgb(35,31,31);
}
#P94_449
{
left:5629.34px;bottom:11885.9px;color:rgb(35,31,31);
}
#P94_450
{
left:6333.34px;bottom:11866.2px;color:rgb(35,31,31);
}
#P94_451
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P94_452
{
left:9248.6px;bottom:12305.8px;color:rgb(35,31,31);
}
#P94_453
{
left:9584.41px;bottom:11883.8px;color:rgb(35,31,31);
}
#P94_454
{
left:9227.48px;bottom:11850.1px;color:rgb(35,31,31);
}
#P94_455
{
left:9605.53px;bottom:11867.4px;color:rgb(35,31,31);
}
#P94_456
{
left:9248.6px;bottom:11398.3px;color:rgb(35,31,31);
}
#P94_457
{
left:9584.41px;bottom:11883.8px;color:rgb(35,31,31);
}
#P94_458
{
left:9605.53px;bottom:11866.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P94_459
{
left:9763.93px;bottom:11836.6px;color:rgb(35,31,31);
}
#P94_460
{
left:10350.3px;bottom:11866.2px;color:rgb(35,31,31);
}
#P94_461
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P94_462
{
left:10529.8px;bottom:12305.8px;color:rgb(35,31,31);
}
#P94_463
{
left:10865.6px;bottom:11883.8px;color:rgb(35,31,31);
}
#P94_464
{
left:10508.7px;bottom:11850.1px;color:rgb(35,31,31);
}
#P94_465
{
left:10886.7px;bottom:11867.4px;color:rgb(35,31,31);
}
#P94_466
{
left:10529.8px;bottom:11398.3px;color:rgb(35,31,31);
}
#P94_467
{
left:10865.6px;bottom:11883.8px;color:rgb(35,31,31);
}
#P94_468
{
left:10886.7px;bottom:11866.2px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P94_469
{
left:0px;letter-spacing:0px;margin-left:158.4px;
}
#P94_470
{
left:0px;letter-spacing:0px;margin-left:-4.2px;
}
#P94_471
{
left:4669.34px;bottom:8986.16px;color:rgb(35,31,31);
}
#P94_472
{
left:4846.49px;bottom:9005.87px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P94_473
{
left:6333.34px;bottom:9005.87px;letter-spacing:-4.3px;color:rgb(2,77,161);
}
#P94_474
{
left:0px;letter-spacing:0px;margin-left:4.3px;
}
#P94_475
{
left:11940.7px;bottom:8986.16px;color:rgb(35,31,31);
}
#P94_476
{
left:0px;letter-spacing:0px;margin-left:-63.2px;
}
#P94_477
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P94_478
{
left:14557.5px;bottom:9425.84px;color:rgb(35,31,31);
}
#P94_479
{
left:14893.3px;bottom:9003.76px;color:rgb(35,31,31);
}
#P94_480
{
left:14536.4px;bottom:8970.14px;color:rgb(35,31,31);
}
#P94_481
{
left:14914.5px;bottom:8987.42px;color:rgb(35,31,31);
}
#P94_482
{
left:14557.5px;bottom:8518.32px;color:rgb(35,31,31);
}
#P94_483
{
left:14893.3px;bottom:9003.76px;color:rgb(35,31,31);
}
#P94_484
{
left:14914.5px;bottom:8986.16px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P94_485
{
left:0px;letter-spacing:0.4px;margin-left:158.4px;
}
#P94_486
{
left:4669.34px;bottom:7642.16px;color:rgb(35,31,31);
}
#P94_487
{
left:5629.34px;bottom:7661.87px;letter-spacing:508.3px;color:rgb(35,31,31);
}
#P94_488
{
left:6333.34px;bottom:7642.16px;letter-spacing:-0.6px;word-spacing:0.6px;color:rgb(35,31,31);
}
#P94_489
{
left:0px;letter-spacing:-0.6px;margin-left:13.1px;
}
#P94_490
{
left:8230.55px;bottom:8081.84px;color:rgb(35,31,31);
}
#P94_491
{
left:8566.36px;bottom:7659.76px;color:rgb(35,31,31);
}
#P94_492
{
left:8209.43px;bottom:7626.14px;color:rgb(35,31,31);
}
#P94_493
{
left:8587.48px;bottom:7643.42px;color:rgb(35,31,31);
}
#P94_494
{
left:8230.55px;bottom:7174.32px;color:rgb(35,31,31);
}
#P94_495
{
left:8566.36px;bottom:7659.76px;color:rgb(35,31,31);
}
#P94_496
{
left:8587.48px;bottom:7642.16px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P94_497
{
left:0px;letter-spacing:-0.1px;margin-left:158.4px;
}
#P94_498
{
left:0px;letter-spacing:-63.2px;margin-left:-42px;
}
#P94_499
{
left:0px;letter-spacing:0px;margin-left:63.2px;
}
#P94_500
{
left:4669.4px;bottom:6298.16px;color:rgb(35,31,31);
}
#P94_501
{
left:5629.27px;bottom:6317.87px;letter-spacing:508.3px;color:rgb(35,31,31);
}
#P94_502
{
left:0px;letter-spacing:0px;margin-left:-704px;
}
#P94_503
{
left:6333.27px;bottom:6298.16px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P94_504
{
left:6354.46px;bottom:6739.95px;color:rgb(35,31,31);
}
#P94_505
{
left:6690.33px;bottom:6315.76px;color:rgb(35,31,31);
}
#P94_506
{
left:6333.34px;bottom:6284.26px;color:rgb(35,31,31);
}
#P94_507
{
left:6711.45px;bottom:6299.42px;color:rgb(35,31,31);
}
#P94_508
{
left:6354.46px;bottom:5832.43px;color:rgb(35,31,31);
}
#P94_509
{
left:6690.33px;bottom:6315.76px;color:rgb(35,31,31);
}
#P94_510
{
left:6711.45px;bottom:6298.16px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P94_511
{
left:0px;letter-spacing:-0.4px;margin-left:158.4px;
}
#P94_512
{
left:0px;letter-spacing:0px;margin-left:-20.6px;
}
#P94_513
{
left:0px;letter-spacing:0px;
}
#P94_514
{
left:4669.34px;bottom:4954.16px;color:rgb(35,31,31);
}
#P94_515
{
left:5629.34px;bottom:4973.87px;color:rgb(35,31,31);
}
#P94_516
{
left:6333.34px;bottom:4954.16px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P94_517
{
left:3954.73px;bottom:20423.7px;
}
#P94_518
{
left:3954.73px;bottom:20423.7px;color:white;
}
#P94_519
{
left:18546.3px;bottom:36573px;color:rgb(35,31,31);
}
#P94_520
{
left:18546.3px;bottom:35920.2px;color:rgb(35,31,31);
}
#P94_521
{
left:19094.3px;bottom:36249px;color:rgb(35,31,31);
}
#P94_522
{
left:30212.6px;bottom:40953.6px;
}
#P94_523
{
left:30061.3px;bottom:40300.8px;
}
#P94_524
{
left:30851.4px;bottom:40629.6px;
}
#P94_525
{
left:30212.6px;bottom:40953.6px;color:rgb(33,31,31);
}
#P94_526
{
left:30061.3px;bottom:40300.8px;
}
#P94_527
{
left:0px;letter-spacing:0px;margin-left:-604.9px;
}
#P94_528
{
left:30851.4px;bottom:40629.6px;color:rgb(33,31,31);
}
#PageContainer94
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg094.jpg");background-repeat:no-repeat;background-size: 851px 1119px; background-position: 91.54px 192.48px;
}
#ImageContainer94 {bottom:52.52px;left:91.54px;width:850.59px;height:1118.56px;position:absolute;} #TextContainer94 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.circle5{position: absolute; top: 781px; left: 95px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}