.tr97{ color:transparent;}
#P97_1
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P97_2
{
left:22457.9px;bottom:1410.03px;color:rgb(35,31,31);
}
#P97_3
{
left:27010.1px;bottom:1410.03px;letter-spacing:0.9px;word-spacing:461.2px;color:rgb(35,31,31);
}
#P97_4
{
left:0px;letter-spacing:0px;margin-left:-462.1px;
}
#P97_5
{
left:0px;letter-spacing:1.4px;margin-left:0.9px;
}
#P97_6
{
left:0px;letter-spacing:0px;margin-left:-462.6px;
}
#P97_7
{
left:0px;letter-spacing:4.8px;margin-left:0.9px;
}
#P97_8
{
left:36142px;bottom:1410.03px;color:rgb(35,31,31);
}
#P97_9
{
left:11619.5px;bottom:43292.8px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P97_10
{
left:0px;letter-spacing:0.4px;margin-left:14.1px;
}
#P97_11
{
left:0px;letter-spacing:-35.1px;margin-left:-42.5px;
}
#P97_12
{
left:0px;letter-spacing:-0.3px;margin-left:40.6px;
}
#P97_13
{
left:11619.5px;bottom:42012.8px;color:rgb(35,31,31);
}
#P97_14
{
left:11747.5px;bottom:42012.8px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P97_15
{
left:12963.5px;bottom:42012.8px;letter-spacing:-10.5px;color:rgb(35,31,31);
}
#P97_16
{
left:0px;letter-spacing:-0.4px;margin-left:10.5px;
}
#P97_17
{
left:0px;letter-spacing:0px;margin-left:-13.5px;
}
#P97_18
{
left:11619.5px;bottom:37276.7px;color:rgb(35,31,31);
}
#P97_19
{
left:11747.5px;bottom:37276.7px;color:rgb(35,31,31);
}
#P97_20
{
left:15264.1px;bottom:40261.9px;letter-spacing:4287.7px;color:rgb(35,31,31);
}
#P97_21
{
left:32553px;bottom:40920.6px;color:rgb(35,31,31);
}
#P97_22
{
left:32553px;bottom:40267.8px;color:rgb(35,31,31);
}
#P97_23
{
left:11619.5px;bottom:35932.8px;color:rgb(35,31,31);
}
#P97_24
{
left:11747.5px;bottom:35932.8px;letter-spacing:-17.5px;color:rgb(35,31,31);
}
#P97_25
{
left:12963.5px;bottom:35932.8px;letter-spacing:-10.5px;color:rgb(35,31,31);
}
#P97_26
{
left:0px;letter-spacing:0px;margin-left:10.5px;
}
#P97_27
{
left:16958.2px;bottom:35932.8px;letter-spacing:28.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P97_28
{
left:0px;letter-spacing:-0.9px;margin-left:-28.2px;
}
#P97_29
{
left:0px;letter-spacing:-0.1px;margin-left:-13.1px;
}
#P97_30
{
left:0px;letter-spacing:-0.1px;margin-left:-13.9px;
}
#P97_31
{
left:11619.5px;bottom:31196.8px;color:rgb(35,31,31);
}
#P97_32
{
left:11747.5px;bottom:31196.8px;color:rgb(35,31,31);
}
#P97_33
{
left:15264.1px;bottom:34181.9px;letter-spacing:4287.7px;color:rgb(35,31,31);
}
#P97_34
{
left:27560.9px;bottom:34840.6px;color:rgb(35,31,31);
}
#P97_35
{
left:27560.9px;bottom:34187.8px;color:rgb(35,31,31);
}
#P97_36
{
left:11619.5px;bottom:29724.8px;color:rgb(35,31,31);
}
#P97_37
{
left:11747.5px;bottom:29724.8px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P97_38
{
left:12963.5px;bottom:29724.8px;letter-spacing:-10.5px;color:rgb(35,31,31);
}
#P97_39
{
left:0px;letter-spacing:-0.7px;margin-left:10.5px;
}
#P97_40
{
left:0px;letter-spacing:-1.7px;margin-left:-13.2px;
}
#P97_41
{
left:0px;letter-spacing:-0.4px;margin-left:1.7px;
}
#P97_42
{
left:11619.5px;bottom:28636.7px;color:rgb(35,31,31);
}
#P97_43
{
left:11747.5px;bottom:28636.7px;color:rgb(35,31,31);
}
#P97_44
{
left:15264.1px;bottom:27990.1px;letter-spacing:4287.7px;color:rgb(35,31,31);
}
#P97_45
{
left:28521px;bottom:28648.9px;color:rgb(35,31,31);
}
#P97_46
{
left:28521px;bottom:27996.1px;color:rgb(35,31,31);
}
#P97_47
{
left:11619.5px;bottom:23516.8px;color:rgb(35,31,31);
}
#P97_48
{
left:11747.5px;bottom:23516.8px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P97_49
{
left:12963.5px;bottom:23516.8px;letter-spacing:-10.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P97_50
{
left:0px;letter-spacing:-0.5px;margin-left:10.4px;
}
#P97_51
{
left:11619.5px;bottom:21852.8px;color:rgb(35,31,31);
}
#P97_52
{
left:11747.5px;bottom:21852.8px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P97_53
{
left:12963.5px;bottom:21852.8px;letter-spacing:-10.5px;color:rgb(35,31,31);
}
#P97_54
{
left:0px;letter-spacing:0px;margin-left:10.5px;
}
#P97_55
{
left:0px;letter-spacing:0px;margin-left:-214.8px;
}
#P97_56
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P97_57
{
left:0px;letter-spacing:-1.4px;
}
#P97_58
{
left:24948.1px;bottom:21852.8px;letter-spacing:-1.8px;word-spacing:58.1px;color:rgb(35,31,31);
}
#P97_59
{
left:11619.5px;bottom:20188.9px;color:rgb(35,31,31);
}
#P97_60
{
left:11747.5px;bottom:20188.9px;letter-spacing:-17.5px;color:rgb(35,31,31);
}
#P97_61
{
left:12963.5px;bottom:20188.9px;letter-spacing:-10.5px;color:rgb(35,31,31);
}
#P97_62
{
left:0px;letter-spacing:-0.2px;margin-left:10.5px;
}
#P97_63
{
left:11619.5px;bottom:18524.9px;color:rgb(35,31,31);
}
#P97_64
{
left:11747.5px;bottom:18524.9px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P97_65
{
left:12963.5px;bottom:18524.9px;letter-spacing:-10.5px;color:rgb(35,31,31);
}
#P97_66
{
left:0px;letter-spacing:-0.6px;margin-left:10.5px;
}
#P97_67
{
left:0px;letter-spacing:0px;margin-left:-13.4px;
}
#P97_68
{
left:25136.9px;bottom:18524.9px;letter-spacing:27.7px;word-spacing:0.5px;color:rgb(35,31,31);
}
#P97_69
{
left:0px;letter-spacing:-0.5px;margin-left:130.2px;
}
#P97_70
{
left:27849.4px;bottom:18524.9px;letter-spacing:-0.4px;word-spacing:56.7px;color:rgb(35,31,31);
}
#P97_71
{
left:12497.7px;bottom:44853px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P97_72
{
left:15922.8px;bottom:45044.8px;color:rgb(255,223,126);
}
#P97_73
{
left:16115.5px;bottom:44853px;letter-spacing:207.4px;color:white;
}
#P97_74
{
left:17123.8px;bottom:45044.8px;color:white;
}
#P97_75
{
left:17364px;bottom:44853px;color:white;
}
#P97_76
{
left:17812.4px;bottom:45044.8px;color:white;
}
#P97_77
{
left:18052.6px;bottom:44853px;color:white;
}
#P97_78
{
left:18548.6px;bottom:45044.8px;color:white;
}
#P97_79
{
left:18788.8px;bottom:44853px;color:white;
}
#P97_80
{
left:20725.8px;bottom:45044.8px;color:white;
}
#P97_81
{
left:20966px;bottom:44853px;letter-spacing:-0.8px;color:white;
}
#P97_82
{
left:10757.3px;bottom:44729.5px;
}
#P97_83
{
left:10757.3px;bottom:44729.5px;color:white;
}
#P97_84
{
left:10477.4px;bottom:12656.6px;color:rgb(35,31,31);
}
#P97_85
{
left:10935.8px;bottom:12683.4px;word-spacing:394.4px;color:rgb(35,31,31);
}
#P97_86
{
left:12077.4px;bottom:12676.3px;word-spacing:-26px;color:rgb(2,77,161);
}
#P97_87
{
left:0px;letter-spacing:0px;margin-left:-26px;
}
#P97_88
{
left:0px;letter-spacing:0px;margin-left:26px;
}
#P97_89
{
left:18885.3px;bottom:12656.6px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P97_90
{
left:0px;letter-spacing:-7px;margin-left:-214.6px;
}
#P97_91
{
left:0px;letter-spacing:-0.9px;margin-left:7px;
}
#P97_92
{
left:0px;letter-spacing:0px;margin-left:0.9px;
}
#P97_93
{
left:10477.4px;bottom:11312.6px;color:rgb(35,31,31);
}
#P97_94
{
left:10935.8px;bottom:11339.4px;word-spacing:394.4px;color:rgb(35,31,31);
}
#P97_95
{
left:12077.4px;bottom:11312.6px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P97_96
{
left:0px;letter-spacing:-0.3px;margin-left:-3.8px;
}
#P97_97
{
left:12077.4px;bottom:10416.6px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P97_98
{
left:14845.4px;bottom:5587.12px;letter-spacing:228.8px;color:rgb(0,124,196);
}
#P97_99
{
left:15261.4px;bottom:5619.12px;letter-spacing:-9.3px;color:rgb(35,31,31);
}
#P97_100
{
left:0px;letter-spacing:0px;margin-left:9.3px;
}
#P97_101
{
left:15261.4px;bottom:4723.12px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P97_102
{
left:0px;letter-spacing:0px;margin-left:0.9px;
}
#P97_103
{
left:4928.54px;bottom:39674.3px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P97_104
{
left:4928.54px;bottom:38906.3px;color:rgb(35,31,31);
}
#P97_105
{
left:4928.54px;bottom:38039.5px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P97_106
{
left:4928.54px;bottom:37303.5px;color:rgb(35,31,31);
}
#P97_107
{
left:4928.54px;bottom:36567.5px;color:rgb(35,31,31);
}
#P97_108
{
left:4677.91px;bottom:41458.1px;letter-spacing:-20.4px;color:white;
}
#P97_109
{
left:4677.91px;bottom:40498px;letter-spacing:-27.2px;color:white;
}
#P97_110
{
left:6656.99px;bottom:40754.8px;color:white;
}
#P97_111
{
left:6932.25px;bottom:40498px;letter-spacing:-27.2px;color:white;
}
#PageContainer97
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg097.jpg");background-repeat:no-repeat;background-size: 1020px 1241px; background-position: 0px 0.230000000000018px;
}
#ImageContainer97 {bottom:122.77px;left:0.00px;width:1019.69px;height:1241.39px;position:absolute;} #TextContainer97 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.math_tool{position:absolute; top: 108px; left: 217px;}
.practice{position: absolute; top: 1186px; left: 255px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}