.tr700{ color:transparent;}
#P700_1
{
left:5417.69px;bottom:17601.4px;color:rgb(35,31,31);
}
#P700_2
{
left:0px;letter-spacing:0px;
}
#P700_3
{
left:5417.69px;bottom:16705.4px;color:rgb(35,31,31);
}
#P700_4
{
left:5417.69px;bottom:15553.4px;color:rgb(35,31,31);
}
#P700_5
{
left:5979.87px;bottom:15573.1px;color:rgb(35,31,31);
}
#P700_6
{
left:7011.35px;bottom:15553.4px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P700_7
{
left:5417.75px;bottom:14209.4px;color:rgb(35,31,31);
}
#P700_8
{
left:5979.93px;bottom:14229.1px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P700_9
{
left:7011.42px;bottom:14209.4px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P700_10
{
left:0px;letter-spacing:-0.9px;margin-left:-6.8px;
}
#P700_11
{
left:7011.42px;bottom:13313.4px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P700_12
{
left:0px;letter-spacing:0px;margin-left:1.2px;
}
#P700_13
{
left:5417.82px;bottom:11969.4px;color:rgb(35,31,31);
}
#P700_14
{
left:5979.99px;bottom:11989.1px;color:rgb(35,31,31);
}
#P700_15
{
left:7011.48px;bottom:11969.4px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P700_16
{
left:0px;letter-spacing:0px;margin-left:0.6px;
}
#P700_17
{
left:5417.88px;bottom:10625.4px;color:rgb(35,31,31);
}
#P700_18
{
left:5980.06px;bottom:10645.1px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P700_19
{
left:7011.55px;bottom:10625.4px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P700_20
{
left:5417.95px;bottom:9025.39px;color:rgb(35,31,31);
}
#P700_21
{
left:0px;letter-spacing:0px;margin-left:-56.1px;
}
#P700_22
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P700_23
{
left:5417.95px;bottom:8129.52px;letter-spacing:0.7px;color:rgb(35,31,31);
}
#P700_24
{
left:0px;letter-spacing:-4.2px;margin-left:-0.7px;
}
#P700_25
{
left:0px;letter-spacing:0px;margin-left:4.2px;
}
#P700_26
{
left:5417.95px;bottom:6977.45px;color:rgb(35,31,31);
}
#P700_27
{
left:5980.12px;bottom:6997.16px;color:rgb(35,31,31);
}
#P700_28
{
left:7011.61px;bottom:6977.45px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P700_29
{
left:14556.1px;bottom:6997.16px;color:rgb(35,31,31);
}
#P700_30
{
left:15587.5px;bottom:6977.45px;color:rgb(35,31,31);
}
#P700_31
{
left:5417.88px;bottom:5633.45px;color:rgb(35,31,31);
}
#P700_32
{
left:5980.06px;bottom:5653.16px;color:rgb(35,31,31);
}
#P700_33
{
left:7011.48px;bottom:5633.45px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P700_34
{
left:14556.1px;bottom:5653.16px;color:rgb(35,31,31);
}
#P700_35
{
left:15587.5px;bottom:5633.45px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P700_36
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P700_37
{
left:3540.44px;bottom:1417.71px;color:rgb(35,31,31);
}
#P700_38
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P700_39
{
left:8197.72px;bottom:1417.71px;letter-spacing:462.1px;color:rgb(35,31,31);
}
#P700_40
{
left:0px;letter-spacing:3.5px;margin-left:-461.2px;
}
#P700_41
{
left:0px;bottom:0px;letter-spacing:-220px;color:white;
}
#P700_42
{
left:5437.4px;bottom:46893.1px;color:white;
}
#P700_43
{
left:4669.4px;bottom:43212.8px;letter-spacing:-31.6px;color:rgb(35,31,31);
}
#P700_44
{
left:0px;letter-spacing:0px;margin-left:31.6px;
}
#P700_45
{
left:9103.19px;bottom:43212.8px;letter-spacing:1.2px;color:rgb(35,31,31);
}
#P700_46
{
left:15005.1px;bottom:43212.8px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P700_47
{
left:0px;letter-spacing:0px;margin-left:0.9px;
}
#P700_48
{
left:4669.4px;bottom:42316.8px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P700_49
{
left:16506.1px;bottom:33924.8px;letter-spacing:-1.5px;color:rgb(35,31,31);
}
#P700_50
{
left:0px;letter-spacing:0px;margin-left:-21.6px;
}
#P700_51
{
left:15339.5px;bottom:33003.2px;letter-spacing:0.3px;color:rgb(35,31,31);
}
#P700_52
{
left:14775px;bottom:32081.6px;letter-spacing:-1.7px;color:rgb(35,31,31);
}
#P700_53
{
left:0px;letter-spacing:0px;margin-left:1.7px;
}
#P700_54
{
left:16076px;bottom:31160px;letter-spacing:0.4px;color:rgb(35,31,31);
}
#P700_55
{
left:0px;letter-spacing:0px;margin-left:38px;
}
#P700_56
{
left:18505.2px;bottom:38052px;color:rgb(35,31,31);
}
#P700_57
{
left:18147.3px;bottom:37130.4px;letter-spacing:-4.6px;color:rgb(35,31,31);
}
#P700_58
{
left:0px;letter-spacing:0px;margin-left:4.6px;
}
#P700_59
{
left:17641.2px;bottom:36208.8px;color:rgb(35,31,31);
}
#P700_60
{
left:16224.2px;bottom:24251.1px;color:rgb(35,31,31);
}
#P700_61
{
left:18165.7px;bottom:28204.7px;color:rgb(35,31,31);
}
#P700_62
{
left:18556.6px;bottom:28204.7px;color:rgb(35,31,31);
}
#P700_63
{
left:20324.6px;bottom:28584.1px;color:rgb(35,31,31);
}
#P700_64
{
left:19916px;bottom:27662.5px;color:rgb(35,31,31);
}
#P700_65
{
left:21914.1px;bottom:6501.55px;letter-spacing:-5.9px;word-spacing:0.1px;color:rgb(33,31,31);
}
#P700_66
{
left:27144.2px;bottom:6501.55px;color:rgb(7,1,2);
}
#P700_67
{
left:27316.4px;bottom:6501.55px;letter-spacing:-1.9px;color:rgb(235,26,35);
}
#P700_68
{
left:0px;letter-spacing:-4.3px;margin-left:-3.8px;
}
#P700_69
{
left:32432.5px;bottom:6501.55px;color:rgb(7,1,2);
}
#P700_70
{
left:32604.7px;bottom:6501.55px;letter-spacing:-8.1px;color:rgb(33,31,31);
}
#P700_71
{
left:23940.5px;bottom:5871.4px;letter-spacing:-5.8px;color:rgb(33,31,31);
}
#P700_72
{
left:31725.7px;bottom:5861.61px;letter-spacing:-57.6px;color:rgb(33,31,31);
}
#P700_73
{
left:26738.5px;bottom:45195.3px;word-spacing:0.2px;color:rgb(33,31,31);
}
#P700_74
{
left:2883.8px;bottom:46399px;
}
#PageContainer700
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg700.jpg");background-repeat:no-repeat;background-size: 1000px 1274px; background-position: 0px -0.410000000000082px;
}
#ImageContainer700 {bottom:90.41px;left:0.00px;width:1000.30px;height:1273.75px;position:absolute;} #TextContainer700 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.graphic_organizer{position: absolute;top: 80px;left: 716px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}