.tr346{ color:transparent;}
#P346_1
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P346_2
{
left:3540.44px;bottom:1410.03px;color:rgb(35,31,31);
}
#P346_3
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P346_4
{
left:9120.15px;bottom:1410.03px;letter-spacing:0.2px;word-spacing:461px;color:rgb(35,31,31);
}
#P346_5
{
left:0px;letter-spacing:0px;margin-left:-461.2px;
}
#P346_6
{
left:0px;letter-spacing:2.9px;margin-left:1.1px;
}
#P346_7
{
left:0px;letter-spacing:0px;margin-left:-463.9px;
}
#P346_8
{
left:0px;letter-spacing:1.3px;margin-left:1.1px;
}
#P346_9
{
left:4669.4px;bottom:46704.6px;color:rgb(2,77,161);
}
#P346_10
{
left:9103.83px;bottom:46684.8px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P346_11
{
left:0px;letter-spacing:0.2px;margin-left:0.9px;
}
#P346_12
{
left:4669.4px;bottom:45788.8px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P346_13
{
left:6704.79px;bottom:44171.6px;color:rgb(35,31,31);
}
#P346_14
{
left:0px;letter-spacing:0px;margin-left:-36.9px;
}
#P346_15
{
left:0px;letter-spacing:0px;margin-left:7345px;
}
#P346_16
{
left:0px;letter-spacing:0px;margin-left:-36.9px;
}
#P346_17
{
left:4846.55px;bottom:42808.6px;color:rgb(35,31,31);
}
#P346_18
{
left:6704.73px;bottom:42788.8px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P346_19
{
left:4846.55px;bottom:41477.2px;color:rgb(35,31,31);
}
#P346_20
{
left:6704.73px;bottom:41457.5px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P346_21
{
left:0px;letter-spacing:0px;margin-left:0.7px;
}
#P346_22
{
left:4846.55px;bottom:40145.8px;color:rgb(35,31,31);
}
#P346_23
{
left:20847.1px;bottom:40126.1px;letter-spacing:-31.6px;color:rgb(35,31,31);
}
#P346_24
{
left:0px;letter-spacing:0px;margin-left:31.6px;
}
#P346_25
{
left:4846.55px;bottom:38825.8px;color:rgb(35,31,31);
}
#P346_26
{
left:20847.1px;bottom:38806.1px;color:rgb(35,31,31);
}
#P346_27
{
left:4669.4px;bottom:36742.1px;color:rgb(35,31,31);
}
#P346_28
{
left:4846.55px;bottom:36761.8px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P346_29
{
left:6269.4px;bottom:36761.8px;color:rgb(2,77,161);
}
#P346_30
{
left:8056.15px;bottom:36742.1px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P346_31
{
left:0px;letter-spacing:-0.1px;margin-left:-193.6px;
}
#P346_32
{
left:0px;letter-spacing:-13.1px;margin-left:-42px;
}
#P346_33
{
left:0px;letter-spacing:0px;margin-left:13.1px;
}
#P346_34
{
left:6269.4px;bottom:35846.1px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P346_35
{
left:0px;letter-spacing:-3.5px;margin-left:-13.8px;
}
#P346_36
{
left:0px;letter-spacing:0px;margin-left:3.5px;
}
#P346_37
{
left:4669.4px;bottom:33990.1px;color:rgb(35,31,31);
}
#P346_38
{
left:4846.55px;bottom:34009.8px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P346_39
{
left:6269.4px;bottom:34009.8px;color:rgb(2,77,161);
}
#P346_40
{
left:12111.8px;bottom:33990.1px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P346_41
{
left:0px;letter-spacing:0px;margin-left:-210.4px;
}
#P346_42
{
left:0px;letter-spacing:-1.8px;
}
#P346_43
{
left:0px;letter-spacing:0px;margin-left:1.8px;
}
#P346_44
{
left:6269.4px;bottom:33094.1px;letter-spacing:-13.1px;color:rgb(35,31,31);
}
#P346_45
{
left:0px;letter-spacing:-0.1px;margin-left:13.1px;
}
#P346_46
{
left:0px;letter-spacing:-3.5px;margin-left:-13.8px;
}
#P346_47
{
left:0px;letter-spacing:0px;margin-left:3.5px;
}
#P346_48
{
left:6269.4px;bottom:32198.1px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P346_49
{
left:0px;letter-spacing:0px;margin-left:0.9px;
}
#P346_50
{
left:4669.4px;bottom:30342px;color:rgb(35,31,31);
}
#P346_51
{
left:4846.55px;bottom:30361.7px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P346_52
{
left:6269.4px;bottom:30361.8px;color:rgb(2,77,161);
}
#P346_53
{
left:8916.44px;bottom:30342.1px;letter-spacing:168.3px;color:rgb(35,31,31);
}
#P346_54
{
left:0px;letter-spacing:-0.2px;margin-left:-168.3px;
}
#P346_55
{
left:0px;letter-spacing:0px;margin-left:-13.7px;
}
#P346_56
{
left:6269.4px;bottom:29446.1px;color:rgb(35,31,31);
}
#P346_57
{
left:0px;letter-spacing:0px;margin-left:-6.9px;
}
#P346_58
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P346_59
{
left:4669.4px;bottom:28102.1px;color:rgb(35,31,31);
}
#P346_60
{
left:6269.41px;bottom:28121.8px;word-spacing:444.3px;color:rgb(35,31,31);
}
#P346_61
{
left:7052.25px;bottom:28121.8px;color:rgb(35,31,31);
}
#P346_62
{
left:7052.25px;bottom:28102.1px;letter-spacing:-13.1px;color:rgb(35,31,31);
}
#P346_63
{
left:0px;letter-spacing:-0.3px;margin-left:13.1px;
}
#P346_64
{
left:0px;letter-spacing:-1.2px;margin-left:0.3px;
}
#P346_65
{
left:7052.25px;bottom:27206.2px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P346_66
{
left:0px;letter-spacing:-0.5px;margin-left:0.9px;
}
#P346_67
{
left:4669.4px;bottom:25862.1px;color:rgb(35,31,31);
}
#P346_68
{
left:6269.41px;bottom:25881.8px;word-spacing:444.3px;color:rgb(35,31,31);
}
#P346_69
{
left:7090.97px;bottom:25862.1px;letter-spacing:-3.5px;color:rgb(35,31,31);
}
#P346_70
{
left:0px;letter-spacing:-0.3px;margin-left:3.5px;
}
#P346_71
{
left:4669.4px;bottom:24518.1px;color:rgb(35,31,31);
}
#P346_72
{
left:6269.41px;bottom:24537.8px;word-spacing:444.3px;color:rgb(35,31,31);
}
#P346_73
{
left:6973.4px;bottom:24518.1px;letter-spacing:-10.5px;color:rgb(35,31,31);
}
#P346_74
{
left:0px;letter-spacing:-1.3px;margin-left:10.5px;
}
#P346_75
{
left:0px;letter-spacing:-0.9px;margin-left:1.3px;
}
#P346_76
{
left:0px;letter-spacing:0px;margin-left:0.9px;
}
#P346_77
{
left:4669.4px;bottom:22662.1px;color:rgb(35,31,31);
}
#P346_78
{
left:4846.55px;bottom:22681.8px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P346_79
{
left:6269.4px;bottom:22681.8px;letter-spacing:-1.1px;word-spacing:-26px;color:rgb(2,77,161);
}
#P346_80
{
left:11354.6px;bottom:22662.1px;letter-spacing:193.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P346_81
{
left:0px;letter-spacing:-0.3px;margin-left:-35.4px;
}
#P346_82
{
left:6269.4px;bottom:21766.1px;letter-spacing:-3px;color:rgb(35,31,31);
}
#P346_83
{
left:0px;letter-spacing:-14px;margin-left:3px;
}
#P346_84
{
left:0px;letter-spacing:-1.7px;margin-left:14px;
}
#P346_85
{
left:0px;letter-spacing:-0.8px;margin-left:1.7px;
}
#P346_86
{
left:0px;letter-spacing:0px;margin-left:0.8px;
}
#P346_87
{
left:6269.4px;bottom:20870.1px;letter-spacing:-0.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P346_88
{
left:0px;letter-spacing:-0.1px;margin-left:-6.8px;
}
#P346_89
{
left:0px;letter-spacing:-0.1px;margin-left:-42.1px;
}
#P346_90
{
left:6269.4px;bottom:19974.1px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P346_91
{
left:0px;letter-spacing:-0.8px;margin-left:-3.2px;
}
#P346_92
{
left:4669.4px;bottom:17734.1px;letter-spacing:-14.8px;color:rgb(35,31,31);
}
#P346_93
{
left:0px;letter-spacing:-0.3px;margin-left:14.8px;
}
#P346_94
{
left:0px;letter-spacing:-1.5px;margin-left:0.3px;
}
#P346_95
{
left:0px;letter-spacing:0px;margin-left:1.5px;
}
#P346_96
{
left:4669.4px;bottom:16838.1px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P346_97
{
left:0px;letter-spacing:-0.3px;margin-left:1px;
}
#P346_98
{
left:4669.4px;bottom:15494.1px;color:rgb(35,31,31);
}
#P346_99
{
left:4846.55px;bottom:15513.8px;color:rgb(35,31,31);
}
#P346_100
{
left:12586.8px;bottom:14329.4px;color:rgb(35,31,31);
}
#P346_101
{
left:12586.8px;bottom:13638.2px;color:rgb(35,31,31);
}
#P346_102
{
left:16980.2px;bottom:15494.1px;color:rgb(35,31,31);
}
#P346_103
{
left:19630.6px;bottom:15513.8px;color:rgb(35,31,31);
}
#P346_104
{
left:27494.9px;bottom:13779px;color:rgb(35,31,31);
}
#P346_105
{
left:27494.9px;bottom:13087.8px;color:rgb(35,31,31);
}
#P346_106
{
left:4669.4px;bottom:9030.06px;color:rgb(35,31,31);
}
#P346_107
{
left:4846.55px;bottom:9049.77px;color:rgb(35,31,31);
}
#P346_108
{
left:9356.31px;bottom:6104.56px;color:rgb(35,31,31);
}
#P346_109
{
left:9356.31px;bottom:5413.36px;color:rgb(35,31,31);
}
#P346_110
{
left:18893.4px;bottom:9030.06px;color:rgb(35,31,31);
}
#P346_111
{
left:19630.6px;bottom:9049.77px;color:rgb(35,31,31);
}
#P346_112
{
left:26318.6px;bottom:4859.05px;color:rgb(35,31,31);
}
#P346_113
{
left:26318.6px;bottom:4167.85px;color:rgb(35,31,31);
}
#P346_114
{
left:3954.73px;bottom:36803.1px;
}
#P346_115
{
left:3954.73px;bottom:36803.1px;color:white;
}
#P346_116
{
left:3954.73px;bottom:22710.9px;
}
#P346_117
{
left:3954.73px;bottom:22710.9px;color:white;
}
#P346_118
{
left:29358.2px;bottom:27642.5px;
}
#P346_119
{
left:28699.4px;bottom:26729.1px;
}
#P346_120
{
left:29183.4px;bottom:26599.4px;color:rgb(33,31,31);
}
#P346_121
{
left:32285.2px;bottom:25768.3px;
}
#PageContainer346
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg346.jpg");background-repeat:no-repeat;background-size: 873px 1115px; background-position: 100.86px 129.83px;
}
#ImageContainer346 {bottom:119.17px;left:100.86px;width:873.38px;height:1115.42px;position:absolute;} #TextContainer346 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}



.circle3{position: absolute;top: 334px;left: 94px;}
.circle4{position: absolute;top: 720px;left: 96px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}