.tr288{ color:transparent;}
#P288_1
{
left:2365.4px;bottom:1525.23px;color:rgb(35,31,31);
}
#P288_2
{
left:3540.44px;bottom:1525.23px;color:rgb(35,31,31);
}
#P288_3
{
left:4925.4px;bottom:1525.23px;color:rgb(35,31,31);
}
#P288_4
{
left:9121.88px;bottom:1525.23px;letter-spacing:462px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P288_5
{
left:0px;letter-spacing:4.3px;margin-left:-462.1px;
}
#P288_6
{
left:0px;letter-spacing:0.8px;margin-left:-4.4px;
}
#P288_7
{
left:0px;letter-spacing:0px;margin-left:2.9px;
}
#P288_8
{
left:5889.56px;bottom:46957.1px;color:white;
}
#P288_9
{
left:2371.78px;bottom:46929.9px;color:white;
}
#P288_10
{
left:10813.4px;bottom:44208.9px;letter-spacing:-2.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P288_11
{
left:0px;letter-spacing:-0.3px;margin-left:160.4px;
}
#P288_12
{
left:0px;letter-spacing:-2.7px;margin-left:156.1px;
}
#P288_13
{
left:0px;letter-spacing:-0.1px;margin-left:2.6px;
}
#P288_14
{
left:10813.4px;bottom:43312.8px;letter-spacing:-0.6px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P288_15
{
left:11592.4px;bottom:39229.9px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P288_16
{
left:10824.5px;bottom:37693.9px;color:rgb(35,31,31);
}
#P288_17
{
left:11552.4px;bottom:37693.9px;word-spacing:364.2px;color:rgb(35,31,31);
}
#P288_18
{
left:12637.5px;bottom:38133.5px;color:rgb(35,31,31);
}
#P288_19
{
left:12973.3px;bottom:37711.4px;color:rgb(35,31,31);
}
#P288_20
{
left:12616.4px;bottom:37677.8px;color:rgb(35,31,31);
}
#P288_21
{
left:12994.5px;bottom:37695.1px;color:rgb(35,31,31);
}
#P288_22
{
left:12637.5px;bottom:37226px;color:rgb(35,31,31);
}
#P288_23
{
left:12973.3px;bottom:37711.4px;color:rgb(35,31,31);
}
#P288_24
{
left:12994.5px;bottom:37693.8px;color:rgb(35,31,31);
}
#P288_25
{
left:16875.7px;bottom:34948.7px;color:rgb(33,31,31);
}
#P288_26
{
left:17302.2px;bottom:35062.4px;letter-spacing:5348.1px;color:rgb(35,31,31);
}
#P288_27
{
left:16029.5px;bottom:35107.4px;color:rgb(35,31,31);
}
#P288_28
{
left:16029.5px;bottom:34523.7px;color:rgb(35,31,31);
}
#P288_29
{
left:15255.3px;bottom:34701.1px;color:rgb(35,31,31);
}
#P288_30
{
left:15681.8px;bottom:34814.8px;color:rgb(35,31,31);
}
#P288_31
{
left:18275.5px;bottom:34701.1px;color:rgb(35,31,31);
}
#P288_32
{
left:30119.1px;bottom:35107.4px;color:rgb(35,31,31);
}
#P288_33
{
left:30119.1px;bottom:34523.7px;color:rgb(35,31,31);
}
#P288_34
{
left:29771.4px;bottom:34814.8px;color:rgb(35,31,31);
}
#P288_35
{
left:18713.6px;bottom:35107.4px;color:rgb(35,31,31);
}
#P288_36
{
left:18713.6px;bottom:34523.7px;color:rgb(35,31,31);
}
#P288_37
{
left:19683.5px;bottom:34701.1px;color:rgb(35,31,31);
}
#P288_38
{
left:20121.6px;bottom:35107.4px;color:rgb(35,31,31);
}
#P288_39
{
left:20121.6px;bottom:34523.7px;color:rgb(35,31,31);
}
#P288_40
{
left:21091.5px;bottom:34701.1px;color:rgb(35,31,31);
}
#P288_41
{
left:21529.6px;bottom:35107.4px;color:rgb(35,31,31);
}
#P288_42
{
left:21529.6px;bottom:34523.7px;color:rgb(35,31,31);
}
#P288_43
{
left:24345.6px;bottom:35107.4px;color:rgb(35,31,31);
}
#P288_44
{
left:24345.6px;bottom:34523.7px;color:rgb(35,31,31);
}
#P288_45
{
left:25753.6px;bottom:35107.4px;color:rgb(35,31,31);
}
#P288_46
{
left:25753.6px;bottom:34523.7px;color:rgb(35,31,31);
}
#P288_47
{
left:27161.5px;bottom:35107.4px;color:rgb(35,31,31);
}
#P288_48
{
left:27161.5px;bottom:34523.7px;color:rgb(35,31,31);
}
#P288_49
{
left:26899.9px;bottom:37438.7px;color:rgb(0,124,196);
}
#P288_50
{
left:0px;letter-spacing:0px;margin-left:-67.2px;
}
#P288_51
{
left:0px;letter-spacing:0px;margin-left:-33.6px;
}
#P288_52
{
left:0px;letter-spacing:0px;margin-left:-26.9px;
}
#P288_53
{
left:28765.3px;bottom:37810.3px;color:rgb(0,124,196);
}
#P288_54
{
left:28765.3px;bottom:37050px;color:rgb(0,124,196);
}
#P288_55
{
left:18451.4px;bottom:32728.4px;color:rgb(0,124,196);
}
#P288_56
{
left:18931.2px;bottom:32695.1px;color:rgb(0,124,196);
}
#P288_57
{
left:0px;letter-spacing:0px;margin-left:-26.9px;
}
#P288_58
{
left:0px;letter-spacing:0px;margin-left:-33.6px;
}
#P288_59
{
left:18973.3px;bottom:33054px;color:rgb(0,124,196);
}
#P288_60
{
left:18973.3px;bottom:32293.7px;color:rgb(0,124,196);
}
#P288_61
{
left:27491.2px;bottom:33054px;color:rgb(0,124,196);
}
#P288_62
{
left:27491.2px;bottom:32293.7px;color:rgb(0,124,196);
}
#P288_63
{
left:10824.4px;bottom:29757.8px;color:rgb(35,31,31);
}
#P288_64
{
left:11516.2px;bottom:29757.8px;letter-spacing:-17.5px;color:rgb(35,31,31);
}
#P288_65
{
left:12616.3px;bottom:29728.2px;color:rgb(35,31,31);
}
#P288_66
{
left:13202.7px;bottom:29757.8px;color:rgb(35,31,31);
}
#P288_67
{
left:16659.8px;bottom:27635.3px;color:rgb(33,31,31);
}
#P288_68
{
left:17086.3px;bottom:27749px;color:rgb(35,31,31);
}
#P288_69
{
left:0px;letter-spacing:0px;margin-left:5132.3px;
}
#P288_70
{
left:0px;letter-spacing:0px;margin-left:909.8px;
}
#P288_71
{
left:0px;letter-spacing:0px;margin-left:696.3px;
}
#P288_72
{
left:0px;letter-spacing:0px;margin-left:696.3px;
}
#P288_73
{
left:0px;letter-spacing:0px;margin-left:696.3px;
}
#P288_74
{
left:0px;letter-spacing:0px;margin-left:696.3px;
}
#P288_75
{
left:17492.7px;bottom:29795.8px;word-spacing:-67.2px;color:rgb(0,124,196);
}
#P288_76
{
left:19282.9px;bottom:29829px;color:rgb(0,124,196);
}
#P288_77
{
left:19762.7px;bottom:29795.8px;color:rgb(0,124,196);
}
#P288_78
{
left:20374.7px;bottom:26063.3px;color:rgb(0,124,196);
}
#P288_79
{
left:29225.4px;bottom:26096.6px;color:rgb(0,124,196);
}
#P288_80
{
left:29705.2px;bottom:26063.3px;color:rgb(0,124,196);
}
#P288_81
{
left:15251.8px;bottom:27635.3px;color:rgb(33,31,31);
}
#P288_82
{
left:15678.3px;bottom:27749px;color:rgb(35,31,31);
}
#P288_83
{
left:18067.8px;bottom:27635.3px;color:rgb(33,31,31);
}
#P288_84
{
left:18494.3px;bottom:27749px;color:rgb(35,31,31);
}
#P288_85
{
left:19475.8px;bottom:27635.3px;color:rgb(33,31,31);
}
#P288_86
{
left:19902.3px;bottom:27749px;color:rgb(35,31,31);
}
#P288_87
{
left:20883.8px;bottom:27635.3px;color:rgb(33,31,31);
}
#P288_88
{
left:21310.3px;bottom:27749px;color:rgb(35,31,31);
}
#P288_89
{
left:11592.4px;bottom:21437.8px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P288_90
{
left:10824.4px;bottom:19901.8px;color:rgb(35,31,31);
}
#P288_91
{
left:11504.2px;bottom:19928.6px;color:rgb(35,31,31);
}
#P288_92
{
left:12552.4px;bottom:19901.8px;letter-spacing:-9.8px;word-spacing:-129px;color:rgb(35,31,31);
}
#P288_93
{
left:12976px;bottom:20341.5px;color:rgb(35,31,31);
}
#P288_94
{
left:13311.8px;bottom:19919.4px;color:rgb(35,31,31);
}
#P288_95
{
left:12954.8px;bottom:19885.8px;color:rgb(35,31,31);
}
#P288_96
{
left:13332.9px;bottom:19903.1px;color:rgb(35,31,31);
}
#P288_97
{
left:12976px;bottom:19434px;color:rgb(35,31,31);
}
#P288_98
{
left:13311.8px;bottom:19919.4px;color:rgb(35,31,31);
}
#P288_99
{
left:13332.9px;bottom:19901.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P288_100
{
left:17456.2px;bottom:19928.6px;color:rgb(35,31,31);
}
#P288_101
{
left:18504.4px;bottom:19872.2px;color:rgb(35,31,31);
}
#P288_102
{
left:19090.8px;bottom:19901.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P288_103
{
left:19112px;bottom:20392.9px;color:rgb(35,31,31);
}
#P288_104
{
left:19447.8px;bottom:19919.4px;color:rgb(35,31,31);
}
#P288_105
{
left:19090.8px;bottom:19937.2px;color:rgb(35,31,31);
}
#P288_106
{
left:19468.9px;bottom:19903.1px;color:rgb(35,31,31);
}
#P288_107
{
left:19112px;bottom:19485.4px;color:rgb(35,31,31);
}
#P288_108
{
left:19447.8px;bottom:19919.4px;color:rgb(35,31,31);
}
#P288_109
{
left:19468.9px;bottom:19901.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P288_110
{
left:23280.2px;bottom:19928.6px;color:rgb(35,31,31);
}
#P288_111
{
left:24328.4px;bottom:19872.2px;color:rgb(35,31,31);
}
#P288_112
{
left:24914.8px;bottom:19901.8px;color:rgb(35,31,31);
}
#P288_113
{
left:28976.2px;bottom:19928.6px;color:rgb(35,31,31);
}
#P288_114
{
left:30024.4px;bottom:19901.8px;color:rgb(35,31,31);
}
#P288_115
{
left:6477.4px;bottom:20451.6px;color:rgb(35,31,31);
}
#P288_116
{
left:26785.2px;bottom:46188.3px;word-spacing:0.2px;color:rgb(33,31,31);
}
#P288_117
{
left:0px;letter-spacing:0px;margin-left:-44.8px;
}
#P288_118
{
left:0px;letter-spacing:0px;margin-left:0.2px;
}
#P288_119
{
left:5531.16px;bottom:15756.4px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P288_120
{
left:12399.5px;bottom:15780.9px;color:white;
}
#P288_121
{
left:15408px;bottom:15972.7px;color:white;
}
#P288_122
{
left:15648.2px;bottom:15780.9px;letter-spacing:-2.2px;color:white;
}
#P288_123
{
left:18769.1px;bottom:15972.7px;color:white;
}
#P288_124
{
left:19009.3px;bottom:15780.9px;color:white;
}
#P288_125
{
left:22979.4px;bottom:15972.7px;color:white;
}
#P288_126
{
left:23219.5px;bottom:15780.9px;letter-spacing:-0.8px;color:white;
}
#P288_127
{
left:10555.2px;bottom:15613.8px;
}
#P288_128
{
left:10555.2px;bottom:15613.8px;color:white;
}
#P288_129
{
left:5531.16px;bottom:40780.4px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P288_130
{
left:12399.5px;bottom:40804.9px;letter-spacing:-3.8px;color:white;
}
#P288_131
{
left:14736.8px;bottom:40996.7px;color:white;
}
#P288_132
{
left:14977px;bottom:40804.9px;color:white;
}
#P288_133
{
left:18514.2px;bottom:40996.7px;color:white;
}
#P288_134
{
left:18754.4px;bottom:40804.9px;letter-spacing:-2.2px;color:white;
}
#P288_135
{
left:21811.4px;bottom:40996.7px;color:white;
}
#P288_136
{
left:22051.6px;bottom:40804.9px;color:white;
}
#P288_137
{
left:26709.4px;bottom:40996.7px;color:white;
}
#P288_138
{
left:26949.6px;bottom:40804.9px;color:white;
}
#P288_139
{
left:10555.2px;bottom:40637.8px;
}
#P288_140
{
left:10555.2px;bottom:40637.8px;color:white;
}
#P288_141
{
left:11434.5px;bottom:13988.9px;letter-spacing:-9.3px;word-spacing:452.1px;color:rgb(35,31,31);
}
#P288_141a
{
left:12434.5px;bottom:13988.9px;letter-spacing:-9.3px;word-spacing:452.1px;color:rgb(35,31,31);
}
#P288_142
{
left:0px;letter-spacing:-2.3px;margin-left:0.9px;
}
#P288_143
{
left:15767.3px;bottom:13959.3px;letter-spacing:-154.9px;color:rgb(35,31,31);
}
#P288_144
{
left:16374.9px;bottom:13988.9px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P288_145
{
left:16396px;bottom:14480px;color:rgb(35,31,31);
}
#P288_146
{
left:16750.7px;bottom:14006.5px;color:rgb(35,31,31);
}
#P288_147
{
left:16374.9px;bottom:14024.3px;color:rgb(35,31,31);
}
#P288_148
{
left:16771.9px;bottom:13990.2px;color:rgb(35,31,31);
}
#P288_149
{
left:16396px;bottom:13572.5px;color:rgb(35,31,31);
}
#P288_150
{
left:16750.7px;bottom:14006.5px;color:rgb(35,31,31);
}
#P288_151
{
left:16919.8px;bottom:13988.9px;word-spacing:-147.8px;color:rgb(35,31,31);
}
#P288_152
{
left:18325.6px;bottom:13959.3px;color:rgb(35,31,31);
}
#P288_153
{
left:18757.1px;bottom:13988.9px;color:rgb(35,31,31);
}
#P288_154
{
left:0px;letter-spacing:0px;margin-left:-59.8px;
}
#P288_155
{
left:0px;letter-spacing:0px;margin-left:-147.8px;
}
#P288_156
{
left:19014.1px;bottom:14428.6px;color:rgb(35,31,31);
}
#P288_157
{
left:19368.9px;bottom:14006.5px;color:rgb(35,31,31);
}
#P288_158
{
left:18993px;bottom:13972.9px;color:rgb(35,31,31);
}
#P288_159
{
left:19390px;bottom:13990.2px;color:rgb(35,31,31);
}
#P288_160
{
left:19014.1px;bottom:13521.1px;color:rgb(35,31,31);
}
#P288_161
{
left:19368.9px;bottom:14006.5px;color:rgb(35,31,31);
}
#P288_162
{
left:19478px;bottom:13988.9px;word-spacing:-147.8px;color:rgb(35,31,31);
}
#P288_162a
{
left: 22278px;bottom:13988.9px;word-spacing:-147.8px;color:rgb(35,31,31);
}
#P288_162b
{
left: 23308px;bottom:13988.9px;word-spacing:-147.8px;color:rgb(35,31,31);
}
#P288_163
{
left:0px;letter-spacing:0px;
margin-left: 0;
}
#P288_164
{
left:0px;letter-spacing:-28px;margin-left:-6.8px;
}
#P288_165
{
left:0px;letter-spacing:0px;
margin-left: 0;
}
#P288_166
{
left:0px;letter-spacing:-2.3px;margin-left:-8.4px;
}
#P288_167
{
left:26327.3px;bottom:13959.3px;color:rgb(35,31,31);
}
#P288_168
{
left:26758.9px;bottom:13988.9px;color:rgb(35,31,31);
}
#P288_169
{
left:0px;letter-spacing:0px;margin-left:-59.8px;
}
#P288_170
{
left:0px;letter-spacing:0px;margin-left:-147.8px;
}
#P288_171
{
left:27410px;bottom:14428.6px;color:rgb(35,31,31);
}
#P288_172
{
left:27764.8px;bottom:14006.5px;color:rgb(35,31,31);
}
#P288_173
{
left:27388.9px;bottom:13972.9px;color:rgb(35,31,31);
}
#P288_174
{
left:27785.9px;bottom:13990.2px;color:rgb(35,31,31);
}
#P288_175
{
left:27410px;bottom:13521.1px;color:rgb(35,31,31);
}
#P288_176
{
left:27764.8px;bottom:14006.5px;color:rgb(35,31,31);
}
#P288_177
{
left:28021.8px;bottom:13988.9px;word-spacing:-147.8px;color:rgb(35,31,31);
}
#P288_178
{
left:29427.7px;bottom:13959.3px;color:rgb(35,31,31);
}
#P288_179
{
left:29859.2px;bottom:13988.9px;color:rgb(35,31,31);
}
#P288_180
{
left:0px;letter-spacing:0px;margin-left:-59.8px;
}
#P288_181
{
left:0px;letter-spacing:0px;margin-left:-147.8px;
}
#P288_182
{
left:30510.4px;bottom:14428.6px;color:rgb(35,31,31);
}
#P288_183
{
left:30865.2px;bottom:14006.5px;color:rgb(35,31,31);
}
#P288_184
{
left:30489.3px;bottom:13972.9px;color:rgb(35,31,31);
}
#P288_185
{
left:30886.4px;bottom:13990.2px;color:rgb(35,31,31);
}
#P288_186
{
left:30510.4px;bottom:13521.1px;color:rgb(35,31,31);
}
#P288_187
{
left:30865.2px;bottom:14006.5px;color:rgb(35,31,31);
}
#P288_188
{
left:30886.4px;bottom:13988.9px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P288_189
{
left:10858.5px;bottom:12580.9px;color:rgb(35,31,31);
}
#P288_190
{
left:18739.3px;bottom:9897.12px;color:rgb(35,31,31);
}
#P288_191
{
left:18739.3px;bottom:9313.44px;color:rgb(35,31,31);
}
#P288_192
{
left:18249.7px;bottom:9490.92px;color:rgb(35,31,31);
}
#P288_193
{
left:17155.2px;bottom:9897.12px;color:rgb(35,31,31);
}
#P288_194
{
left:17155.2px;bottom:9313.44px;color:rgb(35,31,31);
}
#P288_195
{
left:16665.6px;bottom:9490.92px;color:rgb(35,31,31);
}
#P288_196
{
left:15539.3px;bottom:9897.12px;color:rgb(35,31,31);
}
#P288_197
{
left:15539.3px;bottom:9313.44px;color:rgb(35,31,31);
}
#P288_198
{
left:15049.7px;bottom:9490.92px;color:rgb(35,31,31);
}
#P288_199
{
left:13493.9px;bottom:9768.56px;color:rgb(35,31,31);
}
#P288_200
{
left:13920.4px;bottom:9882.22px;letter-spacing:6127.1px;color:rgb(35,31,31);
}
#P288_201
{
left:13170.6px;bottom:11848.6px;color:rgb(0,124,196);
}
#P288_202
{
left:14900.3px;bottom:11881.8px;color:rgb(0,124,196);
}
#P288_203
{
left:15380.1px;bottom:11848.6px;color:rgb(0,124,196);
}
#P288_204
{
left:0px;letter-spacing:0px;margin-left:-26.9px;
}
#P288_205
{
left:15481.3px;bottom:12220.2px;color:rgb(0,124,196);
}
#P288_206
{
left:15481.3px;bottom:11459.9px;color:rgb(0,124,196);
}
#P288_207
{
left:17532.2px;bottom:11842.2px;color:rgb(0,124,196);
}
#P288_208
{
left:19261.8px;bottom:11875.4px;color:rgb(0,124,196);
}
#P288_209
{
left:19741.7px;bottom:11842.2px;color:rgb(0,124,196);
}
#P288_210
{
left:0px;letter-spacing:0px;margin-left:-26.9px;
}
#P288_211
{
left:19830px;bottom:12220.2px;color:rgb(0,124,196);
}
#P288_212
{
left:19830px;bottom:11459.9px;color:rgb(0,124,196);
}
#P288_213
{
left:22189.4px;bottom:12580.9px;color:rgb(35,31,31);
}
#P288_214
{
left:31181.8px;bottom:9911.01px;color:rgb(35,31,31);
}
#P288_215
{
left:31181.8px;bottom:9327.33px;color:rgb(35,31,31);
}
#P288_216
{
left:30407.6px;bottom:9504.81px;color:rgb(35,31,31);
}
#P288_217
{
left:30834.1px;bottom:9618.48px;color:rgb(35,31,31);
}
#P288_218
{
left:29784.5px;bottom:9911.01px;color:rgb(35,31,31);
}
#P288_219
{
left:29784.5px;bottom:9327.33px;color:rgb(35,31,31);
}
#P288_220
{
left:29010.3px;bottom:9504.81px;color:rgb(35,31,31);
}
#P288_221
{
left:29436.8px;bottom:9618.48px;color:rgb(35,31,31);
}
#P288_222
{
left:28387.2px;bottom:9911.01px;color:rgb(35,31,31);
}
#P288_223
{
left:28387.2px;bottom:9327.33px;color:rgb(35,31,31);
}
#P288_224
{
left:27613px;bottom:9504.81px;color:rgb(35,31,31);
}
#P288_225
{
left:28039.5px;bottom:9618.48px;color:rgb(35,31,31);
}
#P288_226
{
left:26989.9px;bottom:9911.01px;color:rgb(35,31,31);
}
#P288_227
{
left:26989.9px;bottom:9327.33px;color:rgb(35,31,31);
}
#P288_228
{
left:26215.7px;bottom:9504.81px;color:rgb(35,31,31);
}
#P288_229
{
left:26642.2px;bottom:9618.48px;color:rgb(35,31,31);
}
#P288_230
{
left:25592.6px;bottom:9911.01px;color:rgb(35,31,31);
}
#P288_231
{
left:25592.6px;bottom:9327.33px;color:rgb(35,31,31);
}
#P288_232
{
left:24818.4px;bottom:9504.81px;color:rgb(35,31,31);
}
#P288_233
{
left:25244.9px;bottom:9618.48px;color:rgb(35,31,31);
}
#P288_234
{
left:23750.4px;bottom:9782.44px;color:rgb(35,31,31);
}
#P288_235
{
left:24176.9px;bottom:9896.11px;color:rgb(35,31,31);
}
#P288_236
{
left:32151.8px;bottom:9782.44px;color:rgb(35,31,31);
}
#P288_237
{
left:32578.3px;bottom:9896.11px;color:rgb(35,31,31);
}
#P288_238
{
left:23685.8px;bottom:11843.2px;color:rgb(0,124,196);
}
#P288_239
{
left:25415.5px;bottom:11876.5px;color:rgb(0,124,196);
}
#P288_240
{
left:25895.3px;bottom:11843.2px;color:rgb(0,124,196);
}
#P288_241
{
left:0px;letter-spacing:0px;margin-left:-26.9px;
}
#P288_242
{
left:26386.8px;bottom:12234.1px;color:rgb(0,124,196);
}
#P288_243
{
left:26386.8px;bottom:11473.8px;color:rgb(0,124,196);
}
#P288_244
{
left:30128.3px;bottom:11843.2px;color:rgb(0,124,196);
}
#P288_245
{
left:31858px;bottom:11876.5px;color:rgb(0,124,196);
}
#P288_246
{
left:32337.8px;bottom:11843.2px;color:rgb(0,124,196);
}
#P288_247
{
left:0px;letter-spacing:0px;margin-left:-26.9px;
}
#P288_248
{
left:32829.4px;bottom:12234.1px;color:rgb(0,124,196);
}
#P288_249
{
left:32829.4px;bottom:11473.8px;color:rgb(0,124,196);
}
#P288_250
{
left:12586.5px;bottom:7175.34px;color:rgb(35,31,31);
}
#P288_251
{
left:13172.9px;bottom:7204.91px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P288_252
{
left:13194px;bottom:7695.98px;color:rgb(35,31,31);
}
#P288_253
{
left:13529.8px;bottom:7222.51px;color:rgb(35,31,31);
}
#P288_254
{
left:13172.9px;bottom:7240.29px;color:rgb(35,31,31);
}
#P288_255
{
left:13550.9px;bottom:7206.18px;color:rgb(35,31,31);
}
#P288_256
{
left:13194px;bottom:6788.46px;color:rgb(35,31,31);
}
#P288_257
{
left:13529.8px;bottom:7222.51px;color:rgb(35,31,31);
}
#P288_258
{
left:13550.9px;bottom:7204.91px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P288_259
{
left:0px;letter-spacing:0.3px;margin-left:158.4px;
}
#P288_260
{
left:18843.4px;bottom:7175.34px;color:rgb(35,31,31);
}
#P288_261
{
left:19429.8px;bottom:7204.91px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P288_262
{
left:19450.9px;bottom:7695.98px;color:rgb(35,31,31);
}
#P288_263
{
left:19786.7px;bottom:7222.51px;color:rgb(35,31,31);
}
#P288_264
{
left:19429.8px;bottom:7240.29px;color:rgb(35,31,31);
}
#P288_265
{
left:19807.8px;bottom:7206.18px;color:rgb(35,31,31);
}
#P288_266
{
left:19450.9px;bottom:6788.46px;color:rgb(35,31,31);
}
#P288_267
{
left:19786.7px;bottom:7222.51px;color:rgb(35,31,31);
}
#P288_268
{
left:19807.8px;bottom:7204.91px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P288_269
{
left:23146.5px;bottom:7127.34px;color:rgb(35,31,31);
}
#P288_270
{
left:23732.9px;bottom:7204.91px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P288_271
{
left:24215.1px;bottom:7644.59px;color:rgb(35,31,31);
}
#P288_272
{
left:24550.9px;bottom:7222.51px;color:rgb(35,31,31);
}
#P288_273
{
left:24194px;bottom:7188.9px;color:rgb(35,31,31);
}
#P288_274
{
left:24572.1px;bottom:7206.18px;color:rgb(35,31,31);
}
#P288_275
{
left:24215.1px;bottom:6737.07px;color:rgb(35,31,31);
}
#P288_276
{
left:24550.9px;bottom:7222.51px;color:rgb(35,31,31);
}
#P288_277
{
left:24572.1px;bottom:7204.91px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P288_278
{
left:0px;letter-spacing:0px;margin-left:158.4px;
}
#P288_279
{
left:29369.7px;bottom:7127.34px;color:rgb(35,31,31);
}
#P288_280
{
left:29956.1px;bottom:7204.91px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P288_281
{
left:30438.4px;bottom:7644.59px;color:rgb(35,31,31);
}
#P288_282
{
left:30774.2px;bottom:7222.51px;color:rgb(35,31,31);
}
#P288_283
{
left:30417.2px;bottom:7188.9px;color:rgb(35,31,31);
}
#P288_284
{
left:30795.3px;bottom:7206.18px;color:rgb(35,31,31);
}
#P288_285
{
left:30438.4px;bottom:6737.07px;color:rgb(35,31,31);
}
#P288_286
{
left:30774.2px;bottom:7222.51px;color:rgb(35,31,31);
}
#P288_287
{
left:30795.3px;bottom:7204.91px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P288_288
{
left:13871.7px;bottom:5348.91px;letter-spacing:-11.2px;word-spacing:554px;color:rgb(35,31,31);
}
#P288_289
{
left:14970.1px;bottom:5319.34px;color:rgb(35,31,31);
}
#P288_290
{
left:15556.5px;bottom:5348.91px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P288_291
{
left:15577.6px;bottom:5839.98px;color:rgb(35,31,31);
}
#P288_292
{
left:15913.4px;bottom:5366.51px;color:rgb(35,31,31);
}
#P288_293
{
left:15556.5px;bottom:5384.29px;color:rgb(35,31,31);
}
#P288_294
{
left:15934.6px;bottom:5350.18px;color:rgb(35,31,31);
}
#P288_295
{
left:15577.6px;bottom:4932.46px;color:rgb(35,31,31);
}
#P288_296
{
left:15913.4px;bottom:5366.51px;color:rgb(35,31,31);
}
#P288_297
{
left:16181px;bottom:5412.91px;color:rgb(35,31,31);
}
#P288_298
{
left:16582.2px;bottom:5348.91px;letter-spacing:-70.4px;color:rgb(35,31,31);
}
#P288_299
{
left:16828.6px;bottom:5319.34px;color:rgb(35,31,31);
}
#P288_300
{
left:17415px;bottom:5348.91px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P288_301
{
left:17436.1px;bottom:5839.98px;color:rgb(35,31,31);
}
#P288_302
{
left:17771.9px;bottom:5366.51px;color:rgb(35,31,31);
}
#P288_303
{
left:17415px;bottom:5384.29px;color:rgb(35,31,31);
}
#P288_304
{
left:17793px;bottom:5350.18px;color:rgb(35,31,31);
}
#P288_305
{
left:17436.1px;bottom:4932.46px;color:rgb(35,31,31);
}
#P288_306
{
left:17771.9px;bottom:5366.51px;color:rgb(35,31,31);
}
#P288_307
{
left:17793px;bottom:5348.91px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P288_308
{
left:24431.7px;bottom:5348.91px;letter-spacing:-11.2px;word-spacing:554px;color:rgb(35,31,31);
}
#P288_309
{
left:25530.1px;bottom:5271.34px;color:rgb(35,31,31);
}
#P288_310
{
left:26116.5px;bottom:5348.91px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P288_311
{
left:26598.7px;bottom:5788.59px;color:rgb(35,31,31);
}
#P288_312
{
left:26934.6px;bottom:5366.51px;color:rgb(35,31,31);
}
#P288_313
{
left:26577.6px;bottom:5332.9px;color:rgb(35,31,31);
}
#P288_314
{
left:26955.7px;bottom:5350.18px;color:rgb(35,31,31);
}
#P288_315
{
left:26598.7px;bottom:4881.07px;color:rgb(35,31,31);
}
#P288_316
{
left:26934.6px;bottom:5366.51px;color:rgb(35,31,31);
}
#P288_317
{
left:27202.1px;bottom:5412.91px;color:rgb(35,31,31);
}
#P288_318
{
left:27603.3px;bottom:5348.91px;letter-spacing:-70.4px;color:rgb(35,31,31);
}
#P288_319
{
left:27849.7px;bottom:5271.34px;color:rgb(35,31,31);
}
#P288_320
{
left:28436.1px;bottom:5348.91px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P288_321
{
left:28918.4px;bottom:5788.59px;color:rgb(35,31,31);
}
#P288_322
{
left:29254.2px;bottom:5366.51px;color:rgb(35,31,31);
}
#P288_323
{
left:28897.2px;bottom:5332.9px;color:rgb(35,31,31);
}
#P288_324
{
left:29275.3px;bottom:5350.18px;color:rgb(35,31,31);
}
#P288_325
{
left:28918.4px;bottom:4881.07px;color:rgb(35,31,31);
}
#P288_326
{
left:29254.2px;bottom:5366.51px;color:rgb(35,31,31);
}
#P288_327
{
left:29275.3px;bottom:5348.91px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#PageContainer288
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg288.jpg");background-repeat:no-repeat;background-size: 943px 1184px; background-position: 0px 34.99px;
}
#ImageContainer288 {bottom:145.01px;left:0.00px;width:943.45px;height:1183.97px;position:absolute;} #TextContainer288 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.math_tool{position: absolute;top: 206px;left: 45px;}
.example1{position: absolute;top: 223px;left: 101px;}
.example2{position: absolute;top: 909px;left: 81px;}
.nyr{position: absolute;top: 758px;left: 145px;}
.nyr_exr{position: absolute;top: 795px;left: 178px;color: rgb(35,31,31);font-size: 16px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}