.tr435{ color:transparent;}
#P435_1
{
left:6973.4px;bottom:10037.4px;letter-spacing:-1.7px;color:rgb(35,31,31);
}
#P435_2
{
left:0px;letter-spacing:-0.9px;margin-left:-8.8px;
}
#P435_3
{
left:0px;letter-spacing:-4.7px;margin-left:0.9px;
}
#P435_4
{
left:18180.6px;bottom:10037.4px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P435_5
{
left:6973.4px;bottom:8885.42px;color:rgb(35,31,31);
}
#P435_6
{
left:7150.55px;bottom:8905.13px;color:rgb(35,31,31);
}
#P435_7
{
left:8573.4px;bottom:8885.42px;color:rgb(35,31,31);
}
#P435_8
{
left:9478.04px;bottom:8855.85px;color:rgb(35,31,31);
}
#P435_9
{
left:10064.5px;bottom:8885.42px;color:rgb(35,31,31);
}
#P435_10
{
left:14446.5px;bottom:8905.13px;color:rgb(35,31,31);
}
#P435_11
{
left:15869.3px;bottom:8885.42px;color:rgb(35,31,31);
}
#P435_12
{
left:17147.1px;bottom:8855.85px;color:rgb(35,31,31);
}
#P435_13
{
left:17733.5px;bottom:8885.42px;color:rgb(35,31,31);
}
#P435_14
{
left:21870.6px;bottom:8905.13px;color:rgb(35,31,31);
}
#P435_15
{
left:23293.5px;bottom:8885.42px;color:rgb(35,31,31);
}
#P435_16
{
left:24571.2px;bottom:8855.85px;color:rgb(35,31,31);
}
#P435_17
{
left:25157.7px;bottom:8885.42px;color:rgb(35,31,31);
}
#P435_18
{
left:29230.6px;bottom:8905.13px;color:rgb(35,31,31);
}
#P435_19
{
left:30653.5px;bottom:8885.42px;color:rgb(35,31,31);
}
#P435_20
{
left:32304.4px;bottom:8855.85px;color:rgb(35,31,31);
}
#P435_21
{
left:32890.8px;bottom:8885.42px;color:rgb(35,31,31);
}
#P435_22
{
left:6973.47px;bottom:7221.42px;color:rgb(35,31,31);
}
#P435_23
{
left:7150.62px;bottom:7241.13px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P435_24
{
left:8637.4px;bottom:7241.13px;letter-spacing:-17.6px;color:rgb(2,77,161);
}
#P435_25
{
left:0px;letter-spacing:0px;margin-left:17.6px;
}
#P435_26
{
left:14113px;bottom:7221.42px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P435_27
{
left:0px;letter-spacing:-0.5px;margin-left:-193.6px;
}
#P435_28
{
left:0px;letter-spacing:0px;margin-left:0.5px;
}
#P435_29
{
left:8637.4px;bottom:6325.42px;letter-spacing:-3.5px;color:rgb(35,31,31);
}
#P435_30
{
left:0px;letter-spacing:-0.4px;margin-left:3.5px;
}
#P435_31
{
left:0px;letter-spacing:0px;margin-left:-41.7px;
}
#P435_32
{
left:0px;letter-spacing:-0.8px;
}
#P435_33
{
left:0px;letter-spacing:0px;margin-left:-13.2px;
}
#P435_34
{
left:8637.4px;bottom:5429.48px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P435_35
{
left:24441.3px;bottom:5429.42px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P435_36
{
left:6973.4px;bottom:4085.42px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P435_37
{
left:8550.49px;bottom:4128.8px;color:rgb(35,31,31);
}
#P435_38
{
left:8887.32px;bottom:4249.93px;color:rgb(35,31,31);
}
#P435_39
{
left:9533.4px;bottom:4085.42px;color:rgb(35,31,31);
}
#P435_40
{
left:10301.4px;bottom:4085.42px;color:rgb(35,31,31);
}
#P435_41
{
left:10664.7px;bottom:4085.42px;color:rgb(35,31,31);
}
#P435_42
{
left:10823.1px;bottom:4149.42px;color:rgb(35,31,31);
}
#P435_43
{
left:11224.3px;bottom:4085.42px;color:rgb(35,31,31);
}
#P435_44
{
left:15846.5px;bottom:4128.8px;color:rgb(35,31,31);
}
#P435_45
{
left:16183.3px;bottom:4249.93px;color:rgb(35,31,31);
}
#P435_46
{
left:16829.4px;bottom:4085.42px;color:rgb(35,31,31);
}
#P435_47
{
left:17597.4px;bottom:4085.42px;color:rgb(35,31,31);
}
#P435_48
{
left:17960.7px;bottom:4085.42px;color:rgb(35,31,31);
}
#P435_49
{
left:18277.5px;bottom:4261.42px;color:rgb(35,31,31);
}
#P435_50
{
left:18664px;bottom:4085.42px;color:rgb(35,31,31);
}
#P435_51
{
left:23334.5px;bottom:4128.8px;color:rgb(35,31,31);
}
#P435_52
{
left:23671.3px;bottom:4249.93px;color:rgb(35,31,31);
}
#P435_53
{
left:24317.4px;bottom:4085.42px;color:rgb(35,31,31);
}
#P435_54
{
left:25085.4px;bottom:4085.42px;color:rgb(35,31,31);
}
#P435_55
{
left:25448.7px;bottom:4085.42px;color:rgb(35,31,31);
}
#P435_56
{
left:25765.5px;bottom:4261.42px;color:rgb(35,31,31);
}
#P435_57
{
left:26152px;bottom:4085.42px;color:rgb(35,31,31);
}
#P435_58
{
left:30694.5px;bottom:4128.8px;color:rgb(35,31,31);
}
#P435_59
{
left:31031.3px;bottom:4249.93px;color:rgb(35,31,31);
}
#P435_60
{
left:31677.4px;bottom:4085.42px;color:rgb(35,31,31);
}
#P435_61
{
left:32445.4px;bottom:4085.42px;color:rgb(35,31,31);
}
#P435_62
{
left:32808.7px;bottom:4085.42px;color:rgb(35,31,31);
}
#P435_63
{
left:32967.1px;bottom:4261.42px;color:rgb(35,31,31);
}
#P435_64
{
left:33353.6px;bottom:4085.42px;color:rgb(35,31,31);
}
#P435_65
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P435_66
{
left:23997.4px;bottom:1410.03px;letter-spacing:3.6px;word-spacing:-1.2px;color:rgb(35,31,31);
}
#P435_67
{
left:28589.1px;bottom:1410.03px;letter-spacing:2.6px;word-spacing:461.8px;color:rgb(35,31,31);
}
#P435_68
{
left:0px;letter-spacing:0px;margin-left:-464.3px;
}
#P435_69
{
left:0px;letter-spacing:0.3px;margin-left:0.3px;
}
#P435_70
{
left:0px;letter-spacing:0px;margin-left:-462.1px;
}
#P435_71
{
left:0px;letter-spacing:2.1px;margin-left:0.3px;
}
#P435_72
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P435_73
{
left:7150.55px;bottom:46765.8px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P435_74
{
left:8637.4px;bottom:46765.8px;letter-spacing:-3.1px;color:rgb(2,77,161);
}
#P435_75
{
left:12588.4px;bottom:46746.1px;letter-spacing:168.3px;color:rgb(35,31,31);
}
#P435_76
{
left:0px;letter-spacing:-0.3px;margin-left:-168.3px;
}
#P435_77
{
left:0px;letter-spacing:0px;margin-left:-6.6px;
}
#P435_78
{
left:8637.4px;bottom:45850.1px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P435_79
{
left:0px;letter-spacing:0px;margin-left:-25px;
}
#P435_80
{
left:0px;letter-spacing:-1.6px;
}
#P435_81
{
left:0px;letter-spacing:0px;margin-left:1.6px;
}
#P435_82
{
left:8637.4px;bottom:44954.1px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P435_83
{
left:0px;letter-spacing:-0.2px;margin-left:-13.6px;
}
#P435_84
{
left:0px;letter-spacing:-1.7px;margin-left:0.2px;
}
#P435_85
{
left:0px;letter-spacing:-10.5px;margin-left:-19.3px;
}
#P435_86
{
left:0px;letter-spacing:-4.7px;margin-left:10.5px;
}
#P435_87
{
left:8637.4px;bottom:44058.1px;color:rgb(35,31,31);
}
#P435_88
{
left:18926.6px;bottom:41005.9px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P435_89
{
left:20413.4px;bottom:41005.8px;color:rgb(2,77,161);
}
#P435_90
{
left:23490.5px;bottom:40986.1px;letter-spacing:168.3px;color:rgb(35,31,31);
}
#P435_91
{
left:0px;letter-spacing:-1.3px;margin-left:-168.3px;
}
#P435_92
{
left:20413.4px;bottom:40090.1px;letter-spacing:-0.2px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P435_93
{
left:20413.4px;bottom:39194.2px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P435_94
{
left:0px;letter-spacing:0px;margin-left:-13.1px;
}
#P435_95
{
left:20413.4px;bottom:37850.2px;color:rgb(35,31,31);
}
#P435_96
{
left:20413.4px;bottom:36954.2px;color:rgb(35,31,31);
}
#P435_97
{
left:8661.34px;bottom:35610.2px;letter-spacing:-14px;word-spacing:300.2px;color:rgb(35,31,31);
}
#P435_98
{
left:9661.34px;bottom:35610.2px;letter-spacing:-0.9px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P435_99
{
left:0px;letter-spacing:-0.4px;margin-left:0.9px;
}
#P435_100
{
left:0px;letter-spacing:0px;margin-left:-13.5px;
}
#P435_101
{
left:0px;letter-spacing:-0.1px;margin-left:-0.1px;
}
#P435_102
{
left:9661.34px;bottom:34714.2px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P435_103
{
left:8625.18px;bottom:33626.2px;letter-spacing:-13.9px;word-spacing:307.1px;color:rgb(35,31,31);
}
#P435_104
{
left:9661.34px;bottom:33626.2px;letter-spacing:-0.3px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P435_105
{
left:8696.54px;bottom:32538.2px;letter-spacing:-14px;word-spacing:300.2px;color:rgb(35,31,31);
}
#P435_106
{
left:9661.34px;bottom:32538.2px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P435_107
{
left:0px;letter-spacing:0px;margin-left:-20.7px;
}
#P435_108
{
left:0px;letter-spacing:0px;
}
#P435_109
{
left:9661.34px;bottom:31642.3px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P435_110
{
left:7150.55px;bottom:29422.1px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P435_111
{
left:8637.4px;bottom:29421.8px;color:rgb(2,77,161);
}
#P435_112
{
left:11635.7px;bottom:29402.1px;color:rgb(35,31,31);
}
#P435_113
{
left:0px;letter-spacing:0px;margin-left:168.3px;
}
#P435_114
{
left:0px;letter-spacing:0px;margin-left:-21px;
}
#P435_115
{
left:8637.4px;bottom:28506.1px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P435_116
{
left:0px;letter-spacing:0px;margin-left:-3.6px;
}
#P435_117
{
left:8637.4px;bottom:27610.2px;color:rgb(35,31,31);
}
#P435_118
{
left:0px;letter-spacing:0px;margin-left:-66.9px;
}
#P435_119
{
left:8661.34px;bottom:26074.2px;letter-spacing:-14px;word-spacing:300.2px;color:rgb(35,31,31);
}
#P435_120
{
left:9661.4px;bottom:26074.2px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P435_121
{
left:9661.4px;bottom:25178.2px;color:rgb(35,31,31);
}
#P435_122
{
left:8625.14px;bottom:24090.2px;letter-spacing:-6.9px;word-spacing:1510.9px;color:rgb(35,31,31);
}
#P435_123
{
left:9661.4px;bottom:24090.2px;letter-spacing:-2.2px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P435_124
{
left:0px;letter-spacing:-0.9px;margin-left:-2px;
}
#P435_125
{
left:0px;letter-spacing:-3px;margin-left:-6px;
}
#P435_126
{
left:0px;letter-spacing:-0.1px;margin-left:3px;
}
#P435_127
{
left:9661.4px;bottom:23194.2px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P435_128
{
left:0px;letter-spacing:-10.5px;margin-left:0.9px;
}
#P435_129
{
left:0px;letter-spacing:0px;margin-left:-10.5px;
}
#P435_130
{
left:0px;letter-spacing:-0.3px;
}
#P435_131
{
left:9661.4px;bottom:22298.2px;color:rgb(35,31,31);
}
#P435_132
{
left:8696.38px;bottom:21210.2px;word-spacing:1575.3px;color:rgb(35,31,31);
}
#P435_133
{
left:9661.4px;bottom:21210.2px;letter-spacing:-9.3px;color:rgb(35,31,31);
}
#P435_134
{
left:0px;letter-spacing:0.3px;margin-left:9.3px;
}
#P435_135
{
left:0px;letter-spacing:-2.6px;margin-left:-0.3px;
}
#P435_136
{
left:0px;letter-spacing:0px;margin-left:2.6px;
}
#P435_137
{
left:9661.4px;bottom:20314.2px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P435_138
{
left:0px;letter-spacing:-7px;margin-left:-20.8px;
}
#P435_139
{
left:0px;letter-spacing:-1.1px;margin-left:7px;
}
#P435_140
{
left:0px;letter-spacing:0px;margin-left:-12.8px;
}
#P435_141
{
left:9661.4px;bottom:19418.2px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P435_142
{
left:7150.55px;bottom:17709.9px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P435_143
{
left:12371.5px;bottom:17690.1px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P435_144
{
left:0px;letter-spacing:-0.3px;margin-left:-202px;
}
#P435_145
{
left:0px;letter-spacing:0px;margin-left:-13.7px;
}
#P435_146
{
left:24269.2px;bottom:17690.1px;color:rgb(35,31,31);
}
#P435_147
{
left:24819px;bottom:17690.1px;color:rgb(35,31,31);
}
#P435_148
{
left:25350.5px;bottom:17690.1px;color:rgb(35,31,31);
}
#P435_149
{
left:25900.3px;bottom:17690.1px;color:rgb(35,31,31);
}
#P435_150
{
left:26431.8px;bottom:17690.1px;color:rgb(35,31,31);
}
#P435_151
{
left:26981.7px;bottom:17690.1px;color:rgb(35,31,31);
}
#P435_152
{
left:27886.3px;bottom:17690.1px;color:rgb(35,31,31);
}
#P435_153
{
left:28436.1px;bottom:17690.1px;color:rgb(35,31,31);
}
#P435_154
{
left:28967.6px;bottom:17690.1px;color:rgb(35,31,31);
}
#P435_155
{
left:29517.5px;bottom:17690.1px;color:rgb(35,31,31);
}
#P435_156
{
left:31432.3px;bottom:17690.1px;color:rgb(35,31,31);
}
#P435_157
{
left:31982.1px;bottom:17690.1px;color:rgb(35,31,31);
}
#P435_158
{
left:8637.4px;bottom:16730.1px;color:rgb(35,31,31);
}
#P435_159
{
left:11294.9px;bottom:16730.1px;color:rgb(35,31,31);
}
#P435_160
{
left:11658.2px;bottom:16730.1px;color:rgb(35,31,31);
}
#P435_161
{
left:11816.6px;bottom:16794.1px;color:rgb(35,31,31);
}
#P435_162
{
left:12217.9px;bottom:16730.1px;color:rgb(35,31,31);
}
#P435_163
{
left:8661.34px;bottom:15514.1px;letter-spacing:-14px;word-spacing:300.2px;color:rgb(35,31,31);
}
#P435_164
{
left:9661.34px;bottom:15514.1px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P435_165
{
left:8625.2px;bottom:14426.1px;letter-spacing:-6.9px;word-spacing:1510.9px;color:rgb(35,31,31);
}
#P435_166
{
left:9661.34px;bottom:14426.1px;letter-spacing:-3.8px;color:rgb(35,31,31);
}
#P435_167
{
left:0px;letter-spacing:-0.2px;margin-left:3.8px;
}
#P435_168
{
left:0px;letter-spacing:0px;margin-left:-27.8px;
}
#P435_169
{
left:0px;letter-spacing:0px;
}
#P435_170
{
left:24931.2px;bottom:29099.6px;color:rgb(35,31,31);
}
#P435_171
{
left:22702.9px;bottom:27992.8px;color:rgb(35,31,31);
}
#P435_172
{
left:0px;letter-spacing:0px;margin-left:1479.5px;
}
#P435_173
{
left:0px;letter-spacing:0px;margin-left:1349.6px;
}
#P435_174
{
left:0px;letter-spacing:0px;margin-left:1349.7px;
}
#P435_175
{
left:0px;letter-spacing:0px;margin-left:1349.8px;
}
#P435_176
{
left:22702.9px;bottom:26968.9px;color:rgb(35,31,31);
}
#P435_177
{
left:0px;letter-spacing:0px;margin-left:1479.5px;
}
#P435_178
{
left:0px;letter-spacing:0px;margin-left:1349.6px;
}
#P435_179
{
left:0px;letter-spacing:0px;margin-left:1349.7px;
}
#P435_180
{
left:0px;letter-spacing:0px;margin-left:1349.8px;
}
#PageContainer435
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg435.jpg");background-repeat:no-repeat;background-size: 860px 1221px; background-position: 126.96px 51.73px;
}
#ImageContainer435 {bottom:91.27px;left:126.96px;width:860.01px;height:1221.24px;position:absolute;} #TextContainer435 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}