.tr815{ color:transparent;}
#P815_1
{
left:26207.7px;bottom:13645.5px;letter-spacing:-18.8px;color:rgb(0,102,177);
}
#P815_2
{
left:35172.6px;bottom:7665.96px;color:rgb(35,31,31);
}
#P815_3
{
left:31214.1px;bottom:12415.4px;color:rgb(35,31,31);
}
#P815_4
{
left:30510.7px;bottom:10357px;color:rgb(35,31,31);
}
#P815_5
{
left:30510.7px;bottom:11125px;color:rgb(35,31,31);
}
#P815_6
{
left:30510.7px;bottom:11893px;color:rgb(35,31,31);
}
#P815_7
{
left:30510.7px;bottom:9588.97px;color:rgb(35,31,31);
}
#P815_8
{
left:30510.7px;bottom:8820.97px;color:rgb(35,31,31);
}
#P815_9
{
left:30110.8px;bottom:5744.62px;color:rgb(35,31,31);
}
#P815_10
{
left:30510.7px;bottom:5736.94px;color:rgb(35,31,31);
}
#P815_11
{
left:30110.8px;bottom:6512.68px;color:rgb(35,31,31);
}
#P815_12
{
left:30510.6px;bottom:6505px;color:rgb(35,31,31);
}
#P815_13
{
left:30110.8px;bottom:4975.28px;color:rgb(35,31,31);
}
#P815_14
{
left:30510.6px;bottom:4967.6px;color:rgb(35,31,31);
}
#P815_15
{
left:30110.8px;bottom:4207.34px;color:rgb(35,31,31);
}
#P815_16
{
left:30510.6px;bottom:4199.66px;color:rgb(35,31,31);
}
#P815_17
{
left:33888.4px;bottom:7665.71px;color:rgb(35,31,31);
}
#P815_18
{
left:30410.9px;bottom:7665.96px;color:rgb(35,31,31);
}
#P815_19
{
left:31584.5px;bottom:7665.96px;color:rgb(35,31,31);
}
#P815_20
{
left:32352.5px;bottom:7665.96px;color:rgb(35,31,31);
}
#P815_21
{
left:33120.5px;bottom:7665.96px;color:rgb(35,31,31);
}
#P815_22
{
left:34656.5px;bottom:7665.96px;color:rgb(35,31,31);
}
#P815_23
{
left:28886.6px;bottom:7673.64px;color:rgb(35,31,31);
}
#P815_24
{
left:29286.5px;bottom:7665.96px;color:rgb(35,31,31);
}
#P815_25
{
left:28117.2px;bottom:7673.64px;color:rgb(35,31,31);
}
#P815_26
{
left:28517px;bottom:7665.96px;color:rgb(35,31,31);
}
#P815_27
{
left:27347.7px;bottom:7673.64px;color:rgb(35,31,31);
}
#P815_28
{
left:27747.6px;bottom:7665.96px;color:rgb(35,31,31);
}
#P815_29
{
left:26580.1px;bottom:7673.64px;color:rgb(35,31,31);
}
#P815_30
{
left:26980px;bottom:7665.96px;color:rgb(35,31,31);
}
#P815_31
{
left:26696.7px;bottom:11501.6px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P815_32
{
left:0px;letter-spacing:0px;margin-left:2130.4px;
}
#P815_33
{
left:0px;letter-spacing:0px;margin-left:-3.5px;
}
#P815_34
{
left:26586.1px;bottom:4568.3px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P815_35
{
left:31804.6px;bottom:4568.3px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P815_36
{
left:32076.6px;bottom:9942.7px;color:rgb(35,31,31);
}
#P815_37
{
left:32379px;bottom:9923.88px;color:rgb(35,31,31);
}
#P815_38
{
left:27351.8px;bottom:9294.51px;color:rgb(35,31,31);
}
#P815_39
{
left:27654.2px;bottom:9275.69px;color:rgb(35,31,31);
}
#P815_40
{
left:31957.1px;bottom:6671.15px;letter-spacing:-12.4px;color:rgb(35,31,31);
}
#P815_41
{
left:0px;letter-spacing:0px;margin-left:12.4px;
}
#P815_42
{
left:31957.1px;bottom:5864.75px;letter-spacing:-4.1px;color:rgb(35,31,31);
}
#P815_43
{
left:0px;letter-spacing:0px;margin-left:4.1px;
}
#P815_44
{
left:5757.4px;bottom:40097.8px;letter-spacing:-0.9px;color:rgb(0,124,196);
}
#P815_45
{
left:6757.34px;bottom:38396.3px;letter-spacing:-2.5px;color:rgb(35,31,31);
}
#P815_46
{
left:7625.95px;bottom:35182.6px;color:rgb(0,124,196);
}
#P815_47
{
left:8938.07px;bottom:36537.4px;color:rgb(0,124,196);
}
#P815_48
{
left:11229.4px;bottom:38396.3px;color:rgb(35,31,31);
}
#P815_49
{
left:14255.4px;bottom:36669.4px;color:rgb(0,124,196);
}
#P815_50
{
left:16400.6px;bottom:38396.3px;color:rgb(35,31,31);
}
#P815_51
{
left:18183.2px;bottom:35022.6px;color:rgb(0,124,196);
}
#P815_52
{
left:17893.1px;bottom:36458.5px;color:rgb(0,124,196);
}
#P815_53
{
left:22698.3px;bottom:38396.3px;letter-spacing:-32.3px;color:rgb(35,31,31);
}
#P815_54
{
left:0px;letter-spacing:0px;margin-left:32.3px;
}
#P815_55
{
left:23824.9px;bottom:34798.6px;color:rgb(0,124,196);
}
#P815_56
{
left:24102.3px;bottom:36291.9px;color:rgb(0,124,196);
}
#P815_57
{
left:28116.3px;bottom:38396.3px;letter-spacing:-32.3px;color:rgb(35,31,31);
}
#P815_58
{
left:0px;letter-spacing:0px;margin-left:32.3px;
}
#P815_59
{
left:29013px;bottom:35848.7px;color:rgb(0,124,196);
}
#P815_60
{
left:29409.2px;bottom:34420.8px;color:rgb(0,124,196);
}
#P815_61
{
left:29804.6px;bottom:34265.9px;color:rgb(0,124,196);
}
#P815_62
{
left:29409.5px;bottom:37390.1px;color:rgb(0,124,196);
}
#P815_63
{
left:29804.6px;bottom:37235.3px;color:rgb(0,124,196);
}
#P815_64
{
left:6813.4px;bottom:32539.8px;color:rgb(35,31,31);
}
#P815_65
{
left:7245.66px;bottom:32539.8px;color:rgb(35,31,31);
}
#P815_66
{
left:7404.06px;bottom:32510.3px;color:rgb(35,31,31);
}
#P815_67
{
left:7990.49px;bottom:32539.8px;color:rgb(35,31,31);
}
#P815_68
{
left:8522.01px;bottom:32539.8px;color:rgb(35,31,31);
}
#P815_69
{
left:6813.4px;bottom:31515.8px;color:rgb(35,31,31);
}
#P815_70
{
left:7252.7px;bottom:31515.8px;color:rgb(35,31,31);
}
#P815_71
{
left:7411.1px;bottom:31486.2px;color:rgb(35,31,31);
}
#P815_72
{
left:7997.53px;bottom:31515.8px;color:rgb(35,31,31);
}
#P815_73
{
left:8155.93px;bottom:31515.8px;color:rgb(35,31,31);
}
#P815_74
{
left:8517.79px;bottom:31859.5px;color:rgb(35,31,31);
}
#P815_75
{
left:10917.1px;bottom:32539.8px;color:rgb(35,31,31);
}
#P815_76
{
left:11349.4px;bottom:32539.8px;color:rgb(35,31,31);
}
#P815_77
{
left:11507.8px;bottom:32510.3px;color:rgb(35,31,31);
}
#P815_78
{
left:12094.2px;bottom:32539.8px;color:rgb(35,31,31);
}
#P815_79
{
left:12483.3px;bottom:32706.7px;letter-spacing:-141.3px;color:rgb(35,31,31);
}
#P815_80
{
left:13100.9px;bottom:32510.3px;color:rgb(35,31,31);
}
#P815_81
{
left:13863.3px;bottom:32539.8px;color:rgb(35,31,31);
}
#P815_82
{
left:14236.4px;bottom:32539.8px;color:rgb(35,31,31);
}
#P815_83
{
left:10917.1px;bottom:31515.8px;color:rgb(35,31,31);
}
#P815_84
{
left:11356.4px;bottom:31515.8px;color:rgb(35,31,31);
}
#P815_85
{
left:11514.8px;bottom:31486.2px;color:rgb(35,31,31);
}
#P815_86
{
left:12099.7px;bottom:31682.7px;color:rgb(35,31,31);
}
#P815_87
{
left:12685.6px;bottom:31515.8px;color:rgb(35,31,31);
}
#P815_88
{
left:17668.5px;bottom:32539.9px;color:rgb(35,31,31);
}
#P815_89
{
left:18107.8px;bottom:32539.9px;color:rgb(35,31,31);
}
#P815_90
{
left:18266.2px;bottom:32510.3px;color:rgb(35,31,31);
}
#P815_91
{
left:18852.6px;bottom:32539.9px;color:rgb(35,31,31);
}
#P815_92
{
left:19011px;bottom:32539.9px;color:rgb(35,31,31);
}
#P815_93
{
left:0px;letter-spacing:0px;margin-left:2873.3px;
}
#P815_94
{
left:23144.5px;bottom:32539.9px;color:rgb(35,31,31);
}
#P815_95
{
left:23302.9px;bottom:32510.3px;color:rgb(35,31,31);
}
#P815_96
{
left:23889.3px;bottom:32539.9px;color:rgb(35,31,31);
}
#P815_97
{
left:24047.6px;bottom:32555.8px;letter-spacing:-144px;color:rgb(35,31,31);
}
#P815_98
{
left:24068.8px;bottom:32978.2px;color:rgb(35,31,31);
}
#P815_99
{
left:24404.6px;bottom:32557.4px;color:rgb(35,31,31);
}
#P815_100
{
left:24047.6px;bottom:32557.3px;color:rgb(35,31,31);
}
#P815_101
{
left:24425.7px;bottom:32557px;color:rgb(35,31,31);
}
#P815_102
{
left:24068.8px;bottom:32073.2px;color:rgb(35,31,31);
}
#P815_103
{
left:24404.6px;bottom:32557.4px;color:rgb(35,31,31);
}
#P815_104
{
left:24425.7px;bottom:32555.8px;letter-spacing:-144px;color:rgb(35,31,31);
}
#P815_105
{
left:24505.7px;bottom:32539.8px;color:rgb(35,31,31);
}
#P815_106
{
left:0px;letter-spacing:0px;margin-left:1970.3px;
}
#P815_107
{
left:27736.2px;bottom:32539.8px;color:rgb(35,31,31);
}
#P815_108
{
left:27894.6px;bottom:32510.3px;color:rgb(35,31,31);
}
#P815_109
{
left:28481px;bottom:32539.8px;color:rgb(35,31,31);
}
#P815_110
{
left:28639.4px;bottom:32555.8px;letter-spacing:-144px;color:rgb(35,31,31);
}
#P815_111
{
left:28660.5px;bottom:32978.2px;color:rgb(35,31,31);
}
#P815_112
{
left:28996.3px;bottom:32557.4px;color:rgb(35,31,31);
}
#P815_113
{
left:28639.4px;bottom:32557.3px;color:rgb(35,31,31);
}
#P815_114
{
left:29017.4px;bottom:32557px;color:rgb(35,31,31);
}
#P815_115
{
left:28660.5px;bottom:32073.2px;color:rgb(35,31,31);
}
#P815_116
{
left:28996.3px;bottom:32557.4px;color:rgb(35,31,31);
}
#P815_117
{
left:29017.4px;bottom:32555.8px;letter-spacing:-144px;color:rgb(35,31,31);
}
#P815_118
{
left:29097.4px;bottom:32539.8px;color:rgb(35,31,31);
}
#P815_119
{
left:29524.8px;bottom:32539.8px;color:rgb(35,31,31);
}
#P815_120
{
left:29771.2px;bottom:32539.8px;color:rgb(35,31,31);
}
#P815_121
{
left:30164.7px;bottom:32331.6px;color:rgb(35,31,31);
}
#P815_122
{
left:30435.9px;bottom:32539.8px;color:rgb(35,31,31);
}
#P815_123
{
left:30594.3px;bottom:32510.3px;color:rgb(35,31,31);
}
#P815_124
{
left:31180.8px;bottom:32539.8px;color:rgb(35,31,31);
}
#P815_125
{
left:31339.2px;bottom:32539.8px;color:rgb(35,31,31);
}
#P815_126
{
left:31732.7px;bottom:32331.6px;color:rgb(35,31,31);
}
#P815_127
{
left:32003.9px;bottom:32539.8px;color:rgb(35,31,31);
}
#P815_128
{
left:32091.9px;bottom:32539.8px;color:rgb(35,31,31);
}
#P815_129
{
left:5760.15px;bottom:28245.9px;letter-spacing:-19.4px;color:rgb(0,102,177);
}
#P815_130
{
left:5760.15px;bottom:26924.8px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P815_131
{
left:20933.7px;bottom:25743.1px;color:rgb(237,28,35);
}
#P815_132
{
left:20510.8px;bottom:22098.2px;color:rgb(237,28,35);
}
#P815_133
{
left:8953.05px;bottom:23744.5px;color:rgb(35,31,31);
}
#P815_134
{
left:26230.7px;bottom:23870.6px;color:rgb(35,31,31);
}
#P815_135
{
left:5966.36px;bottom:23201.5px;color:rgb(35,31,31);
}
#P815_136
{
left:19094.6px;bottom:24935.9px;color:rgb(35,31,31);
}
#P815_137
{
left:22986.6px;bottom:24935.9px;color:rgb(35,31,31);
}
#P815_138
{
left:22306.3px;bottom:25692.7px;color:rgb(35,31,31);
}
#P815_139
{
left:9650.78px;bottom:23870.7px;color:rgb(35,31,31);
}
#P815_140
{
left:0px;letter-spacing:0px;margin-left:4935.6px;
}
#P815_141
{
left:18938.6px;bottom:23901.7px;color:rgb(0,124,196);
}
#P815_142
{
left:0px;letter-spacing:0px;margin-left:3067.9px;
}
#P815_143
{
left:20809.2px;bottom:23901.7px;color:rgb(0,145,68);
}
#P815_144
{
left:24648.9px;bottom:23901.7px;color:rgb(0,145,68);
}
#P815_145
{
left:7220.57px;bottom:26184.7px;color:rgb(237,28,35);
}
#P815_146
{
left:5760.15px;bottom:20140.8px;color:rgb(35,31,31);
}
#P815_147
{
left:6135.39px;bottom:20140.8px;color:rgb(35,31,31);
}
#P815_148
{
left:6293.79px;bottom:20111.2px;color:rgb(35,31,31);
}
#P815_149
{
left:6880.22px;bottom:20140.8px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P815_150
{
left:11733px;bottom:20111.2px;color:rgb(35,31,31);
}
#P815_151
{
left:12319.4px;bottom:20140.8px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P815_152
{
left:0px;letter-spacing:0px;margin-left:-5.9px;
}
#P815_153
{
left:5760.22px;bottom:18284.8px;letter-spacing:1.2px;color:rgb(35,31,31);
}
#P815_154
{
left:9631.58px;bottom:14799.5px;color:rgb(35,31,31);
}
#P815_155
{
left:0px;letter-spacing:0px;margin-left:4612.6px;
}
#P815_156
{
left:19574.1px;bottom:14861.7px;color:rgb(0,124,196);
}
#P815_157
{
left:0px;letter-spacing:0px;margin-left:2975.6px;
}
#P815_158
{
left:21124.2px;bottom:14861.7px;color:rgb(237,28,35);
}
#P815_159
{
left:21497.4px;bottom:13012.3px;color:rgb(0,124,196);
}
#P815_160
{
left:21497.4px;bottom:16629.9px;color:rgb(0,124,196);
}
#P815_161
{
left:5958.49px;bottom:12406.4px;color:rgb(237,28,35);
}
#P815_162
{
left:5760.15px;bottom:10220.8px;color:rgb(35,31,31);
}
#P815_163
{
left:6135.39px;bottom:10220.8px;color:rgb(35,31,31);
}
#P815_164
{
left:6293.79px;bottom:10191.2px;color:rgb(35,31,31);
}
#P815_165
{
left:6880.22px;bottom:10220.8px;letter-spacing:-1.1px;color:rgb(35,31,31);
}
#P815_166
{
left:10960.7px;bottom:10191.2px;color:rgb(35,31,31);
}
#P815_167
{
left:11547.1px;bottom:10220.8px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P815_168
{
left:0px;letter-spacing:0px;margin-left:-5.9px;
}
#P815_169
{
left:5760.15px;bottom:7893.87px;color:rgb(0,102,177);
}
#P815_170
{
left:0px;letter-spacing:-17.9px;margin-left:-67.1px;
}
#P815_171
{
left:0px;letter-spacing:-17.9px;margin-left:6751.4px;
}
#P815_172
{
left:0px;letter-spacing:-17.9px;margin-left:-15.9px;
}
#P815_173
{
left:5760.15px;bottom:6677.93px;letter-spacing:-17.9px;color:rgb(0,102,177);
}
#P815_174
{
left:17856.2px;bottom:6700.78px;letter-spacing:-15.3px;color:rgb(35,31,31);
}
#P815_175
{
left:0px;letter-spacing:-13.5px;margin-left:-12.7px;
}
#P815_176
{
left:9814.11px;bottom:3958.12px;color:rgb(0,124,196);
}
#P815_177
{
left:10113px;bottom:5099.18px;color:rgb(0,124,196);
}
#P815_178
{
left:10850.3px;bottom:5356.78px;letter-spacing:383.4px;color:rgb(35,31,31);
}
#P815_179
{
left:11480.2px;bottom:5420.78px;color:rgb(35,31,31);
}
#P815_180
{
left:11928.5px;bottom:5420.78px;color:rgb(35,31,31);
}
#P815_181
{
left:12086.9px;bottom:5391.21px;color:rgb(35,31,31);
}
#P815_182
{
left:12673.3px;bottom:5420.78px;color:rgb(35,31,31);
}
#P815_183
{
left:12830.2px;bottom:5588.04px;color:rgb(35,31,31);
}
#P815_184
{
left:13825.7px;bottom:5400.56px;color:rgb(35,31,31);
}
#P815_185
{
left:14383.9px;bottom:5588.04px;color:rgb(35,31,31);
}
#P815_186
{
left:14929.8px;bottom:5420.78px;word-spacing:1788px;color:rgb(35,31,31);
}
#P815_187
{
left:18099px;bottom:5356.78px;color:rgb(35,31,31);
}
#P815_188
{
left:18257.4px;bottom:5327.21px;color:rgb(35,31,31);
}
#P815_189
{
left:18843.8px;bottom:5356.78px;color:rgb(35,31,31);
}
#P815_190
{
left:19002.2px;bottom:5356.78px;letter-spacing:0.7px;color:rgb(35,31,31);
}
#P815_191
{
left:5903.71px;bottom:46549.9px;letter-spacing:-18.6px;color:rgb(0,102,177);
}
#P815_192
{
left:5903.71px;bottom:45484.8px;letter-spacing:-1.6px;color:rgb(35,31,31);
}
#P815_193
{
left:0px;letter-spacing:-0.4px;margin-left:1.6px;
}
#P815_194
{
left:7441.08px;bottom:44588.8px;letter-spacing:-2.8px;word-spacing:1381.7px;color:rgb(35,31,31);
}
#P815_195
{
left:8064.22px;bottom:44588.8px;color:rgb(35,31,31);
}
#P815_196
{
left:8705.56px;bottom:44588.8px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P815_197
{
left:9353.24px;bottom:44588.8px;color:rgb(35,31,31);
}
#P815_198
{
left:9746.78px;bottom:44588.8px;color:rgb(35,31,31);
}
#P815_199
{
left:11717.2px;bottom:44588.8px;color:rgb(35,31,31);
}
#P815_200
{
left:12112.2px;bottom:44588.8px;color:rgb(35,31,31);
}
#P815_201
{
left:12270.6px;bottom:44559.2px;color:rgb(35,31,31);
}
#P815_202
{
left:12857px;bottom:44588.8px;color:rgb(35,31,31);
}
#P815_203
{
left:13015.4px;bottom:44588.8px;color:rgb(35,31,31);
}
#P815_204
{
left:13572.2px;bottom:44588.8px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P815_205
{
left:14219.9px;bottom:44588.8px;color:rgb(35,31,31);
}
#P815_206
{
left:14613.4px;bottom:44588.8px;color:rgb(35,31,31);
}
#P815_207
{
left:14771.8px;bottom:44559.2px;color:rgb(35,31,31);
}
#P815_208
{
left:15358.2px;bottom:44588.8px;color:rgb(35,31,31);
}
#P815_209
{
left:15516.6px;bottom:44588.8px;color:rgb(35,31,31);
}
#P815_210
{
left:15827.1px;bottom:44588.8px;color:rgb(35,31,31);
}
#P815_211
{
left:5903.71px;bottom:43308.8px;letter-spacing:-3.4px;color:rgb(35,31,31);
}
#P815_212
{
left:0px;letter-spacing:-0.4px;margin-left:3.4px;
}
#P815_213
{
left:0px;letter-spacing:0px;margin-left:-12.1px;
}
#P815_214
{
left:7441.08px;bottom:42412.8px;letter-spacing:-2.8px;word-spacing:1381.7px;color:rgb(35,31,31);
}
#P815_215
{
left:8064.22px;bottom:42412.8px;color:rgb(35,31,31);
}
#P815_216
{
left:8705.56px;bottom:42412.8px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P815_217
{
left:9353.24px;bottom:42412.8px;color:rgb(35,31,31);
}
#P815_218
{
left:9746.78px;bottom:42412.8px;color:rgb(35,31,31);
}
#P815_219
{
left:11717.2px;bottom:42412.8px;color:rgb(35,31,31);
}
#P815_220
{
left:12112.2px;bottom:42412.8px;color:rgb(35,31,31);
}
#P815_221
{
left:12270.6px;bottom:42383.2px;color:rgb(35,31,31);
}
#P815_222
{
left:12857px;bottom:42412.8px;color:rgb(35,31,31);
}
#P815_223
{
left:13015.4px;bottom:42412.8px;color:rgb(35,31,31);
}
#P815_224
{
left:13572.2px;bottom:42412.8px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P815_225
{
left:14219.9px;bottom:42412.8px;color:rgb(35,31,31);
}
#P815_226
{
left:14613.4px;bottom:42412.8px;color:rgb(35,31,31);
}
#P815_227
{
left:14771.8px;bottom:42383.2px;color:rgb(35,31,31);
}
#P815_228
{
left:15358.2px;bottom:42412.8px;color:rgb(35,31,31);
}
#P815_229
{
left:15516.6px;bottom:42412.8px;color:rgb(35,31,31);
}
#P815_230
{
left:15827.1px;bottom:42412.8px;color:rgb(35,31,31);
}
#P815_231
{
left:20185.8px;bottom:45494.5px;letter-spacing:-8.4px;color:rgb(35,31,31);
}
#P815_232
{
left:0px;letter-spacing:-0.3px;margin-left:8.4px;
}
#P815_233
{
left:0px;letter-spacing:0px;margin-left:-12.2px;
}
#P815_234
{
left:21723.1px;bottom:44598.5px;letter-spacing:-2.8px;word-spacing:1381.7px;color:rgb(35,31,31);
}
#P815_235
{
left:22346.3px;bottom:44598.5px;color:rgb(35,31,31);
}
#P815_236
{
left:22987.6px;bottom:44598.5px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P815_237
{
left:23635.3px;bottom:44598.5px;color:rgb(35,31,31);
}
#P815_238
{
left:24028.8px;bottom:44598.5px;color:rgb(35,31,31);
}
#P815_239
{
left:25570.5px;bottom:44598.5px;color:rgb(35,31,31);
}
#P815_240
{
left:26038.6px;bottom:44598.5px;letter-spacing:-1px;word-spacing:0.2px;color:rgb(35,31,31);
}
#P815_241
{
left:31172.4px;bottom:44598.5px;color:rgb(35,31,31);
}
#P815_242
{
left:31567.3px;bottom:44598.5px;color:rgb(35,31,31);
}
#P815_243
{
left:31672.9px;bottom:44159.8px;color:rgb(35,31,31);
}
#P815_244
{
left:32024.7px;bottom:44598.4px;color:rgb(35,31,31);
}
#P815_245
{
left:32183.1px;bottom:44598.4px;color:rgb(35,31,31);
}
#P815_246
{
left:32739.9px;bottom:44598.4px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P815_247
{
left:33387.6px;bottom:44598.4px;color:rgb(35,31,31);
}
#P815_248
{
left:33781.1px;bottom:44598.4px;color:rgb(35,31,31);
}
#P815_249
{
left:33886.7px;bottom:44159.8px;color:rgb(35,31,31);
}
#P815_250
{
left:34238.5px;bottom:44598.4px;color:rgb(35,31,31);
}
#P815_251
{
left:34396.9px;bottom:44598.4px;color:rgb(35,31,31);
}
#P815_252
{
left:34707.4px;bottom:44598.4px;color:rgb(35,31,31);
}
#P815_253
{
left:20185.8px;bottom:43510.4px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P815_254
{
left:0px;letter-spacing:0px;margin-left:-12px;
}
#P815_255
{
left:21723.1px;bottom:42614.4px;letter-spacing:-2.8px;word-spacing:1381.7px;color:rgb(35,31,31);
}
#P815_256
{
left:22346.3px;bottom:42614.4px;color:rgb(35,31,31);
}
#P815_257
{
left:22987.6px;bottom:42614.4px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P815_258
{
left:23635.3px;bottom:42614.4px;color:rgb(35,31,31);
}
#P815_259
{
left:24187.2px;bottom:42614.4px;color:rgb(35,31,31);
}
#P815_260
{
left:25570.4px;bottom:42614.4px;color:rgb(35,31,31);
}
#P815_261
{
left:26038.6px;bottom:42614.4px;letter-spacing:-1px;word-spacing:0.2px;color:rgb(35,31,31);
}
#P815_262
{
left:31172.4px;bottom:42614.4px;color:rgb(35,31,31);
}
#P815_263
{
left:31567.3px;bottom:42614.4px;color:rgb(35,31,31);
}
#P815_264
{
left:31725.7px;bottom:42584.8px;color:rgb(35,31,31);
}
#P815_265
{
left:32312.2px;bottom:42614.4px;color:rgb(35,31,31);
}
#P815_266
{
left:32470.6px;bottom:42614.4px;color:rgb(35,31,31);
}
#P815_267
{
left:33027.4px;bottom:42614.4px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P815_268
{
left:33675px;bottom:42614.4px;color:rgb(35,31,31);
}
#P815_269
{
left:34068.6px;bottom:42614.4px;color:rgb(35,31,31);
}
#P815_270
{
left:34227px;bottom:42584.8px;color:rgb(35,31,31);
}
#P815_271
{
left:34971.8px;bottom:42614.4px;color:rgb(35,31,31);
}
#P815_272
{
left:35282.3px;bottom:42614.4px;color:rgb(35,31,31);
}
#P815_273
{
left:36183.6px;bottom:1424.42px;color:rgb(35,31,31);
}
#PageContainer815
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg815.jpg");background-repeat:no-repeat;background-size: 821px 987px; background-position: 147.85px 280.51px;
}
#ImageContainer815 {bottom:96.49px;left:147.85px;width:820.57px;height:987.02px;position:absolute;} #TextContainer815 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
