.tr363{ color:transparent;}
#P363_1
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P363_2
{
left:14895.3px;bottom:1410.03px;color:rgb(35,31,31);
}
#P363_3
{
left:19447.5px;bottom:1410.03px;letter-spacing:462.1px;word-spacing:-0.1px;color:rgb(35,31,31);
}
#P363_4
{
left:0px;letter-spacing:0.9px;margin-left:-455.4px;
}
#P363_5
{
left:0px;letter-spacing:1.1px;margin-left:-0.8px;
}
#P363_6
{
left:0px;letter-spacing:0.8px;margin-left:4.5px;
}
#P363_7
{
left:0px;letter-spacing:6.4px;margin-left:-0.7px;
}
#P363_8
{
left:0px;letter-spacing:1.3px;margin-left:-10.8px;
}
#P363_9
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P363_10
{
left:6909.4px;bottom:11157px;color:rgb(35,31,31);
}
#P363_11
{
left:0px;letter-spacing:0px;margin-left:-10.5px;
}
#P363_12
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P363_13
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P363_14
{
left:20776.9px;bottom:11157px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P363_15
{
left:6909.4px;bottom:9685.04px;color:rgb(35,31,31);
}
#P363_16
{
left:7086.55px;bottom:9704.75px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P363_17
{
left:8509.4px;bottom:9704.75px;color:rgb(35,31,31);
}
#P363_18
{
left:8758.3px;bottom:10126.8px;color:rgb(35,31,31);
}
#P363_19
{
left:8974.36px;bottom:9702.64px;color:rgb(35,31,31);
}
#P363_20
{
left:8509.4px;bottom:9671.14px;color:rgb(35,31,31);
}
#P363_21
{
left:9223.26px;bottom:9686.3px;color:rgb(35,31,31);
}
#P363_22
{
left:8530.52px;bottom:9219.31px;color:rgb(35,31,31);
}
#P363_23
{
left:9202.14px;bottom:9702.64px;color:rgb(35,31,31);
}
#P363_24
{
left:9223.26px;bottom:9685.04px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P363_25
{
left:9381.66px;bottom:9655.47px;color:rgb(35,31,31);
}
#P363_26
{
left:9968.09px;bottom:9685.04px;color:rgb(35,31,31);
}
#P363_27
{
left:14382.6px;bottom:9704.75px;color:rgb(35,31,31);
}
#P363_28
{
left:15805.4px;bottom:9685.04px;color:rgb(35,31,31);
}
#P363_29
{
left:16336.9px;bottom:9655.47px;color:rgb(35,31,31);
}
#P363_30
{
left:16923.4px;bottom:9685.04px;color:rgb(35,31,31);
}
#P363_31
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P363_32
{
left:17102.9px;bottom:10124.7px;color:rgb(35,31,31);
}
#P363_33
{
left:17438.7px;bottom:10124.7px;color:rgb(35,31,31);
}
#P363_34
{
left:17685.1px;bottom:9702.64px;color:rgb(35,31,31);
}
#P363_35
{
left:17081.8px;bottom:9669.02px;color:rgb(35,31,31);
}
#P363_36
{
left:17706.3px;bottom:9686.3px;color:rgb(35,31,31);
}
#P363_37
{
left:17226.1px;bottom:9217.2px;color:rgb(35,31,31);
}
#P363_38
{
left:17561.9px;bottom:9702.64px;color:rgb(35,31,31);
}
#P363_39
{
left:17706.3px;bottom:9685.04px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P363_40
{
left:21806.6px;bottom:9704.75px;color:rgb(35,31,31);
}
#P363_41
{
left:23229.4px;bottom:9685.04px;color:rgb(35,31,31);
}
#P363_42
{
left:23602.5px;bottom:9685.04px;color:rgb(35,31,31);
}
#P363_43
{
left:23965.8px;bottom:9685.04px;color:rgb(35,31,31);
}
#P363_44
{
left:24124.2px;bottom:9655.47px;color:rgb(35,31,31);
}
#P363_45
{
left:24710.6px;bottom:9685.04px;color:rgb(35,31,31);
}
#P363_46
{
left:29166.6px;bottom:9704.75px;color:rgb(35,31,31);
}
#P363_47
{
left:30589.5px;bottom:9685.04px;color:rgb(35,31,31);
}
#P363_48
{
left:31121px;bottom:9655.47px;color:rgb(35,31,31);
}
#P363_49
{
left:31707.4px;bottom:9685.04px;color:rgb(35,31,31);
}
#P363_50
{
left:32798.6px;bottom:9685.04px;color:rgb(35,31,31);
}
#P363_51
{
left:6909.47px;bottom:7573.04px;color:rgb(35,31,31);
}
#P363_52
{
left:7086.49px;bottom:7592.75px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P363_53
{
left:8573.4px;bottom:7592.75px;letter-spacing:-17.6px;color:rgb(2,77,161);
}
#P363_54
{
left:0px;letter-spacing:0px;margin-left:17.6px;
}
#P363_55
{
left:14049px;bottom:7573.04px;letter-spacing:151.5px;color:rgb(35,31,31);
}
#P363_56
{
left:0px;letter-spacing:-0.5px;margin-left:-151.5px;
}
#P363_57
{
left:8573.4px;bottom:6677.04px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P363_58
{
left:16289.2px;bottom:6677.04px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P363_59
{
left:6909.4px;bottom:5333.04px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P363_60
{
left:8486.49px;bottom:5376.42px;color:rgb(35,31,31);
}
#P363_61
{
left:8823.32px;bottom:5497.55px;color:rgb(35,31,31);
}
#P363_62
{
left:9469.4px;bottom:5333.04px;color:rgb(35,31,31);
}
#P363_63
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P363_64
{
left:0px;letter-spacing:-1.2px;margin-left:-8.4px;
}
#P363_65
{
left:15782.5px;bottom:5376.42px;color:rgb(35,31,31);
}
#P363_66
{
left:16119.3px;bottom:5497.55px;color:rgb(35,31,31);
}
#P363_67
{
left:16765.4px;bottom:5333.04px;color:rgb(35,31,31);
}
#P363_68
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P363_69
{
left:0px;letter-spacing:-1.4px;margin-left:-8.4px;
}
#P363_70
{
left:6909.4px;bottom:4181.04px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P363_71
{
left:8486.49px;bottom:4224.42px;color:rgb(35,31,31);
}
#P363_72
{
left:8823.32px;bottom:4345.55px;color:rgb(35,31,31);
}
#P363_73
{
left:9469.4px;bottom:4181.04px;color:rgb(35,31,31);
}
#P363_74
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P363_75
{
left:0px;letter-spacing:-1.2px;margin-left:-8.4px;
}
#P363_76
{
left:15782.5px;bottom:4224.42px;color:rgb(35,31,31);
}
#P363_77
{
left:16119.3px;bottom:4345.55px;color:rgb(35,31,31);
}
#P363_78
{
left:16765.4px;bottom:4181.04px;color:rgb(35,31,31);
}
#P363_79
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P363_80
{
left:0px;letter-spacing:-1.4px;margin-left:-8.4px;
}
#P363_81
{
left:6973.4px;bottom:46716.8px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P363_82
{
left:0px;letter-spacing:-14px;margin-left:-50px;
}
#P363_83
{
left:0px;letter-spacing:0px;margin-left:1.5px;
}
#P363_84
{
left:7150.55px;bottom:45584.5px;color:rgb(35,31,31);
}
#P363_85
{
left:8573.4px;bottom:45564.8px;color:rgb(35,31,31);
}
#P363_86
{
left:8936.67px;bottom:45564.8px;color:rgb(35,31,31);
}
#P363_87
{
left:9095.07px;bottom:45535.2px;color:rgb(35,31,31);
}
#P363_88
{
left:9681.5px;bottom:45564.8px;color:rgb(35,31,31);
}
#P363_89
{
left:10371.4px;bottom:45535.2px;color:rgb(35,31,31);
}
#P363_90
{
left:10957.8px;bottom:45564.8px;color:rgb(35,31,31);
}
#P363_91
{
left:11647.7px;bottom:45740.8px;color:rgb(35,31,31);
}
#P363_92
{
left:12034.2px;bottom:45564.8px;color:rgb(35,31,31);
}
#P363_93
{
left:17454.6px;bottom:45584.5px;color:rgb(35,31,31);
}
#P363_94
{
left:18877.4px;bottom:45564.8px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P363_95
{
left:0px;letter-spacing:0px;margin-left:158.4px;
}
#P363_96
{
left:0px;letter-spacing:0px;margin-left:70.4px;
}
#P363_97
{
left:21049.2px;bottom:45535.2px;color:rgb(35,31,31);
}
#P363_98
{
left:21635.6px;bottom:45564.8px;color:rgb(35,31,31);
}
#P363_99
{
left:21794px;bottom:45564.8px;color:rgb(35,31,31);
}
#P363_100
{
left:22067.9px;bottom:45564.8px;color:rgb(35,31,31);
}
#P363_101
{
left:22226.3px;bottom:45535.2px;color:rgb(35,31,31);
}
#P363_102
{
left:22812.7px;bottom:45564.8px;color:rgb(35,31,31);
}
#P363_103
{
left:27758.6px;bottom:45584.5px;color:rgb(35,31,31);
}
#P363_104
{
left:29053.5px;bottom:45564.8px;color:rgb(35,31,31);
}
#P363_105
{
left:30144.7px;bottom:45535.2px;color:rgb(35,31,31);
}
#P363_106
{
left:30731.2px;bottom:45564.8px;color:rgb(35,31,31);
}
#P363_107
{
left:32068.8px;bottom:45740.8px;color:rgb(35,31,31);
}
#P363_108
{
left:32543.3px;bottom:45564.8px;color:rgb(35,31,31);
}
#P363_109
{
left:32701.6px;bottom:45564.8px;color:rgb(35,31,31);
}
#P363_110
{
left:33012.1px;bottom:45564.8px;color:rgb(35,31,31);
}
#P363_111
{
left:33170.5px;bottom:45535.2px;color:rgb(35,31,31);
}
#P363_112
{
left:33756.9px;bottom:45564.8px;color:rgb(35,31,31);
}
#P363_113
{
left:6973.53px;bottom:43708.7px;color:rgb(35,31,31);
}
#P363_114
{
left:10926.7px;bottom:43728.4px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P363_115
{
left:12349.4px;bottom:43728.5px;color:rgb(2,77,161);
}
#P363_116
{
left:16379px;bottom:43708.8px;letter-spacing:168.3px;color:rgb(35,31,31);
}
#P363_117
{
left:0px;letter-spacing:-0.3px;margin-left:-168.3px;
}
#P363_118
{
left:0px;letter-spacing:-63.2px;margin-left:-41.7px;
}
#P363_119
{
left:0px;letter-spacing:-1px;margin-left:63.2px;
}
#P363_120
{
left:0px;letter-spacing:0px;margin-left:-13px;
}
#P363_121
{
left:12349.4px;bottom:42812.8px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P363_122
{
left:0px;letter-spacing:0px;margin-left:-214.4px;
}
#P363_123
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P363_124
{
left:0px;letter-spacing:0px;
}
#P363_125
{
left:0px;letter-spacing:-63.2px;margin-left:-42.2px;
}
#P363_126
{
left:0px;letter-spacing:0px;margin-left:63.2px;
}
#P363_127
{
left:12349.4px;bottom:41916.9px;letter-spacing:-0.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P363_128
{
left:0px;letter-spacing:-21.1px;margin-left:-13.4px;
}
#P363_129
{
left:0px;letter-spacing:5.5px;margin-left:-10.5px;
}
#P363_130
{
left:0px;letter-spacing:-0.5px;margin-left:-5.6px;
}
#P363_131
{
left:0px;letter-spacing:-0.1px;margin-left:-13.4px;
}
#P363_132
{
left:12349.4px;bottom:41021px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P363_133
{
left:0px;letter-spacing:0px;margin-left:-214.4px;
}
#P363_134
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P363_135
{
left:0px;letter-spacing:-0.3px;
}
#P363_136
{
left:0px;letter-spacing:0px;margin-left:-13.6px;
}
#P363_137
{
left:6973.47px;bottom:38589px;color:rgb(35,31,31);
}
#P363_138
{
left:7150.49px;bottom:38608.7px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P363_139
{
left:8637.4px;bottom:38608.5px;word-spacing:-26px;color:rgb(2,77,161);
}
#P363_140
{
left:13798.6px;bottom:38588.8px;letter-spacing:151.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P363_141
{
left:0px;letter-spacing:0px;margin-left:-214.6px;
}
#P363_142
{
left:0px;letter-spacing:-0.2px;margin-left:-0.1px;
}
#P363_143
{
left:8637.4px;bottom:37692.8px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P363_144
{
left:0px;letter-spacing:0.3px;margin-left:0.2px;
}
#P363_145
{
left:8637.4px;bottom:36796.8px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P363_146
{
left:6973.4px;bottom:35452.7px;color:rgb(35,31,31);
}
#P363_147
{
left:8725.34px;bottom:35452.7px;color:rgb(35,31,31);
}
#P363_148
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P363_149
{
left:0px;letter-spacing:0px;margin-left:344.3px;
}
#P363_150
{
left:9917.4px;bottom:35452.7px;letter-spacing:-31.6px;color:rgb(35,31,31);
}
#P363_151
{
left:0px;letter-spacing:-0.4px;margin-left:31.6px;
}
#P363_152
{
left:0px;letter-spacing:-42px;margin-left:0.4px;
}
#P363_153
{
left:0px;letter-spacing:5.5px;margin-left:10.4px;
}
#P363_154
{
left:0px;letter-spacing:-0.6px;margin-left:-5.5px;
}
#P363_155
{
left:0px;letter-spacing:0px;margin-left:-13.3px;
}
#P363_156
{
left:9917.4px;bottom:34556.8px;letter-spacing:0.3px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P363_157
{
left:0px;letter-spacing:-0.4px;margin-left:157.7px;
}
#P363_158
{
left:9917.4px;bottom:33660.9px;letter-spacing:-0.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P363_159
{
left:0px;letter-spacing:0px;margin-left:-66.7px;
}
#P363_160
{
left:6973.4px;bottom:32573px;color:rgb(35,31,31);
}
#P363_161
{
left:21873.2px;bottom:32573px;letter-spacing:-6.9px;word-spacing:6.9px;color:rgb(35,31,31);
}
#P363_162
{
left:23101.3px;bottom:32573px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P363_163
{
left:0px;letter-spacing:0px;margin-left:0.8px;
}
#P363_164
{
left:23101.3px;bottom:31677px;letter-spacing:-1.1px;color:rgb(35,31,31);
}
#P363_165
{
left:0px;letter-spacing:-7px;margin-left:-19.9px;
}
#P363_166
{
left:0px;letter-spacing:-0.8px;margin-left:7px;
}
#P363_167
{
left:23101.3px;bottom:30781px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P363_168
{
left:23101.3px;bottom:29885px;letter-spacing:-0.2px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P363_169
{
left:23101.3px;bottom:28989px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P363_170
{
left:6973.34px;bottom:26237px;color:rgb(35,31,31);
}
#P363_171
{
left:7150.49px;bottom:26256.7px;color:rgb(35,31,31);
}
#P363_172
{
left:8637.4px;bottom:26256.5px;color:rgb(2,77,161);
}
#P363_173
{
left:0px;letter-spacing:0px;margin-left:-183px;
}
#P363_174
{
left:0px;letter-spacing:0px;margin-left:-38.7px;
}
#P363_175
{
left:12428.6px;bottom:26236.8px;letter-spacing:151.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P363_176
{
left:0px;letter-spacing:0px;margin-left:-214.6px;
}
#P363_177
{
left:0px;letter-spacing:0.1px;margin-left:-0.1px;
}
#P363_178
{
left:0px;letter-spacing:-63.3px;margin-left:-42.3px;
}
#P363_179
{
left:0px;letter-spacing:-0.1px;margin-left:63.2px;
}
#P363_180
{
left:29928.6px;bottom:26236.8px;word-spacing:56.3px;color:rgb(35,31,31);
}
#P363_181
{
left:0px;letter-spacing:0px;margin-left:-56.3px;
}
#P363_182
{
left:8637.4px;bottom:25340.8px;letter-spacing:-5.2px;color:rgb(35,31,31);
}
#P363_183
{
left:0px;letter-spacing:-0.2px;margin-left:1.8px;
}
#P363_184
{
left:0px;letter-spacing:0px;margin-left:-13.8px;
}
#P363_185
{
left:6973.4px;bottom:23996.8px;color:rgb(35,31,31);
}
#P363_186
{
left:8702.43px;bottom:23996.8px;letter-spacing:-14px;word-spacing:451.1px;color:rgb(35,31,31);
}
#P363_187
{
left:9853.4px;bottom:23996.8px;letter-spacing:-13.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P363_188
{
left:0px;letter-spacing:-0.5px;margin-left:13px;
}
#P363_189
{
left:0px;letter-spacing:-0.1px;margin-left:-13.4px;
}
#P363_190
{
left:0px;letter-spacing:-0.1px;margin-left:-20.9px;
}
#P363_191
{
left:9853.4px;bottom:23100.9px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P363_192
{
left:0px;letter-spacing:0px;margin-left:-214.7px;
}
#P363_193
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P363_194
{
left:0px;letter-spacing:0.4px;
}
#P363_195
{
left:9853.4px;bottom:22204.9px;letter-spacing:-0.3px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P363_196
{
left:6973.4px;bottom:21116.8px;color:rgb(35,31,31);
}
#P363_197
{
left:8666.39px;bottom:21116.8px;letter-spacing:-13.9px;word-spacing:458px;color:rgb(35,31,31);
}
#P363_198
{
left:9853.4px;bottom:21116.8px;letter-spacing:-0.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P363_199
{
left:9853.4px;bottom:20221px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P363_200
{
left:0px;letter-spacing:0px;margin-left:0.3px;
}
#P363_201
{
left:9853.4px;bottom:19325px;letter-spacing:-22.9px;color:rgb(35,31,31);
}
#P363_202
{
left:0px;letter-spacing:-1.2px;margin-left:22.9px;
}
#P363_203
{
left:0px;letter-spacing:-1.3px;margin-left:1.2px;
}
#P363_204
{
left:0px;letter-spacing:0px;margin-left:-2.9px;
}
#P363_205
{
left:9853.4px;bottom:18429.2px;letter-spacing:-1.6px;color:rgb(35,31,31);
}
#P363_206
{
left:0px;letter-spacing:0px;margin-left:1.6px;
}
#P363_207
{
left:6973.4px;bottom:16317.2px;color:rgb(35,31,31);
}
#P363_208
{
left:7150.55px;bottom:16336.9px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P363_209
{
left:12829.4px;bottom:16316.8px;letter-spacing:168.3px;color:rgb(35,31,31);
}
#P363_210
{
left:0px;letter-spacing:-0.2px;margin-left:-168.3px;
}
#P363_211
{
left:20289.8px;bottom:16316.8px;color:rgb(35,31,31);
}
#P363_212
{
left:20810.1px;bottom:16316.8px;letter-spacing:-1.5px;word-spacing:0.3px;color:rgb(35,31,31);
}
#P363_213
{
left:0px;letter-spacing:0px;margin-left:-16px;
}
#P363_214
{
left:24756.1px;bottom:16316.8px;color:rgb(35,31,31);
}
#P363_215
{
left:25119.4px;bottom:16316.8px;color:rgb(35,31,31);
}
#P363_216
{
left:25277.8px;bottom:16287.2px;color:rgb(35,31,31);
}
#P363_217
{
left:25864.2px;bottom:16316.8px;color:rgb(35,31,31);
}
#P363_218
{
left:26642.1px;bottom:16492.8px;color:rgb(35,31,31);
}
#P363_219
{
left:27116.6px;bottom:16316.8px;color:rgb(35,31,31);
}
#P363_220
{
left:0px;letter-spacing:0px;margin-left:-42px;
}
#P363_221
{
left:6973.47px;bottom:15228.7px;color:rgb(35,31,31);
}
#P363_222
{
left:7933.47px;bottom:15248.4px;color:rgb(35,31,31);
}
#P363_223
{
left:8637.47px;bottom:15228.7px;color:rgb(35,31,31);
}
#P363_224
{
left:9668.83px;bottom:15248.4px;color:rgb(35,31,31);
}
#P363_225
{
left:9864.54px;bottom:15228.7px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P363_226
{
left:17313.4px;bottom:15228.7px;color:rgb(35,31,31);
}
#P363_227
{
left:17676.6px;bottom:15228.7px;color:rgb(35,31,31);
}
#P363_228
{
left:30222.6px;bottom:23720.7px;letter-spacing:-30.8px;color:rgb(35,31,31);
}
#P363_229
{
left:0px;letter-spacing:0px;margin-left:30.8px;
}
#P363_230
{
left:28281.9px;bottom:22220.7px;color:rgb(35,31,31);
}
#P363_231
{
left:32368.7px;bottom:22636.6px;letter-spacing:-30.9px;color:rgb(35,31,31);
}
#P363_232
{
left:0px;letter-spacing:0px;margin-left:30.9px;
}
#P363_233
{
left:32469.2px;bottom:21804.6px;color:rgb(35,31,31);
}
#P363_234
{
left:27550.1px;bottom:20765.8px;color:rgb(35,31,31);
}
#P363_235
{
left:0px;letter-spacing:0px;margin-left:-20.1px;
}
#P363_236
{
left:0px;letter-spacing:0px;margin-left:2532.4px;
}
#P363_237
{
left:28210.9px;bottom:19741.9px;color:rgb(35,31,31);
}
#P363_238
{
left:0px;letter-spacing:0px;margin-left:-8.1px;
}
#P363_239
{
left:0px;letter-spacing:0px;margin-left:3193.4px;
}
#P363_240
{
left:27865.9px;bottom:18717.9px;color:rgb(35,31,31);
}
#P363_241
{
left:0px;letter-spacing:0px;margin-left:-8.1px;
}
#P363_242
{
left:0px;letter-spacing:0px;margin-left:3340.9px;
}
#P363_243
{
left:21985.2px;bottom:7288.75px;color:rgb(35,31,31);
}
#P363_244
{
left:27684.1px;bottom:7269.93px;letter-spacing:2061.6px;color:rgb(35,31,31);
}
#P363_245
{
left:21985.2px;bottom:6136.75px;color:rgb(35,31,31);
}
#P363_246
{
left:27096.1px;bottom:6117.93px;color:rgb(35,31,31);
}
#P363_247
{
left:0px;letter-spacing:0px;margin-left:915.1px;
}
#P363_248
{
left:0px;letter-spacing:0px;margin-left:915.2px;
}
#P363_249
{
left:0px;letter-spacing:0px;margin-left:915.2px;
}
#P363_250
{
left:21985.2px;bottom:4984.75px;color:rgb(35,31,31);
}
#P363_251
{
left:27719.4px;bottom:4965.93px;letter-spacing:2161.7px;color:rgb(35,31,31);
}
#PageContainer363
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg363.jpg");background-repeat:no-repeat;background-size: 897px 1129px; background-position: 107.35px 145.47px;
}
#ImageContainer363 {bottom:89.53px;left:107.35px;width:897.35px;height:1129.31px;position:absolute;} #TextContainer363 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}