.tr43{ color:transparent;}
#P43_1
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P43_2
{
left:23779.9px;bottom:1410.03px;color:rgb(35,31,31);
}
#P43_3
{
left:28337.4px;bottom:1410.03px;letter-spacing:2.6px;word-spacing:462.1px;color:rgb(35,31,31);
}
#P43_4
{
left:0px;letter-spacing:0px;margin-left:-464.7px;
}
#P43_5
{
left:0px;letter-spacing:0px;
}
#P43_6
{
left:0px;letter-spacing:0px;margin-left:-462.1px;
}
#P43_7
{
left:0px;letter-spacing:0.5px;margin-left:8.4px;
}
#P43_8
{
left:0px;letter-spacing:3.4px;margin-left:-0.5px;
}
#P43_9
{
left:36142px;bottom:1410.03px;color:rgb(35,31,31);
}
#P43_10
{
left:14845.4px;bottom:4108.72px;letter-spacing:228.8px;color:rgb(0,124,196);
}
#P43_11
{
left:15261.4px;bottom:4140.72px;letter-spacing:-9.3px;color:rgb(35,31,31);
}
#P43_12
{
left:0px;letter-spacing:-0.4px;margin-left:9.3px;
}
#P43_13
{
left:0px;letter-spacing:-0.2px;margin-left:0.4px;
}
#P43_14
{
left:15261.4px;bottom:3244.74px;color:rgb(35,31,31);
}
#P43_15
{
left:0px;letter-spacing:0px;margin-left:-4.2px;
}
#P43_16
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P43_17
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P43_18
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P43_19
{
left:11568.3px;bottom:43292.8px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P43_20
{
left:0px;letter-spacing:0.4px;margin-left:14.1px;
}
#P43_21
{
left:0px;letter-spacing:-14px;margin-left:-42.5px;
}
#P43_22
{
left:0px;letter-spacing:0px;margin-left:-17.6px;
}
#P43_23
{
left:0px;letter-spacing:-0.2px;
}
#P43_24
{
left:11568.3px;bottom:42396.8px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P43_25
{
left:0px;letter-spacing:0px;margin-left:1px;
}
#P43_26
{
left:11568.3px;bottom:40733px;color:rgb(35,31,31);
}
#P43_27
{
left:13012.7px;bottom:40738.6px;letter-spacing:-2.1px;color:rgb(35,31,31);
}
#P43_28
{
left:0px;letter-spacing:-2.1px;margin-left:2.1px;
}
#P43_29
{
left:0px;letter-spacing:0px;margin-left:2245.4px;
}
#P43_30
{
left:0px;letter-spacing:0px;margin-left:-56.2px;
}
#P43_31
{
left:0px;letter-spacing:0px;
}
#P43_32
{
left:0px;letter-spacing:0px;margin-left:3768.2px;
}
#P43_33
{
left:0px;letter-spacing:-2.3px;margin-left:10.5px;
}
#P43_34
{
left:11568.3px;bottom:39452.8px;color:rgb(35,31,31);
}
#P43_35
{
left:11696.3px;bottom:39452.8px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P43_36
{
left:12912.3px;bottom:39452.8px;word-spacing:545.6px;color:rgb(35,31,31);
}
#P43_37
{
left:14454px;bottom:39443.7px;color:rgb(35,31,31);
}
#P43_38
{
left:15040.5px;bottom:39452.8px;color:rgb(35,31,31);
}
#P43_39
{
left:15385.4px;bottom:39443.7px;color:rgb(35,31,31);
}
#P43_40
{
left:15971.9px;bottom:39452.8px;color:rgb(35,31,31);
}
#P43_41
{
left:0px;letter-spacing:0px;margin-left:5129.3px;
}
#P43_42
{
left:11568.3px;bottom:37596.8px;color:rgb(35,31,31);
}
#P43_43
{
left:11696.3px;bottom:37596.8px;letter-spacing:-17.5px;color:rgb(35,31,31);
}
#P43_44
{
left:12912.3px;bottom:37596.8px;word-spacing:545.6px;color:rgb(35,31,31);
}
#P43_45
{
left:14454px;bottom:37587.6px;color:rgb(35,31,31);
}
#P43_46
{
left:15040.5px;bottom:37596.8px;color:rgb(35,31,31);
}
#P43_47
{
left:15385.4px;bottom:37587.6px;color:rgb(35,31,31);
}
#P43_48
{
left:15971.9px;bottom:37596.8px;color:rgb(35,31,31);
}
#P43_49
{
left:0px;letter-spacing:0px;margin-left:4942.7px;
}
#P43_50
{
left:11568.3px;bottom:35740.8px;color:rgb(35,31,31);
}
#P43_51
{
left:11696.3px;bottom:35740.8px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P43_52
{
left:12912.3px;bottom:35740.8px;word-spacing:545.6px;color:rgb(35,31,31);
}
#P43_53
{
left:14454px;bottom:35731.6px;color:rgb(35,31,31);
}
#P43_54
{
left:15040.5px;bottom:35740.8px;color:rgb(35,31,31);
}
#P43_55
{
left:15385.4px;bottom:35731.6px;color:rgb(35,31,31);
}
#P43_56
{
left:15971.9px;bottom:35740.8px;color:rgb(35,31,31);
}
#P43_57
{
left:0px;letter-spacing:0px;margin-left:4569.6px;
}
#P43_58
{
left:11568.3px;bottom:33884.8px;color:rgb(35,31,31);
}
#P43_59
{
left:11696.3px;bottom:33884.8px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P43_60
{
left:12912.3px;bottom:33884.8px;word-spacing:545.6px;color:rgb(35,31,31);
}
#P43_61
{
left:14454px;bottom:33875.6px;color:rgb(35,31,31);
}
#P43_62
{
left:15040.5px;bottom:33884.8px;color:rgb(35,31,31);
}
#P43_63
{
left:15385.4px;bottom:33875.6px;color:rgb(35,31,31);
}
#P43_64
{
left:15971.9px;bottom:33884.8px;color:rgb(35,31,31);
}
#P43_65
{
left:0px;letter-spacing:0px;margin-left:4756.2px;
}
#P43_66
{
left:11568.3px;bottom:32028.8px;color:rgb(35,31,31);
}
#P43_67
{
left:11696.3px;bottom:32028.8px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P43_68
{
left:12912.3px;bottom:32028.8px;word-spacing:545.6px;color:rgb(35,31,31);
}
#P43_69
{
left:14454px;bottom:32019.6px;color:rgb(35,31,31);
}
#P43_70
{
left:15040.5px;bottom:32028.8px;color:rgb(35,31,31);
}
#P43_71
{
left:15385.4px;bottom:32019.6px;color:rgb(35,31,31);
}
#P43_72
{
left:15971.9px;bottom:32028.8px;color:rgb(35,31,31);
}
#P43_73
{
left:0px;letter-spacing:0px;margin-left:4569.6px;
}
#P43_74
{
left:12446.5px;bottom:44853px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P43_75
{
left:15871.6px;bottom:45044.8px;color:rgb(255,223,126);
}
#P43_76
{
left:16496.3px;bottom:44853px;word-spacing:207.4px;color:white;
}
#P43_77
{
left:17408.7px;bottom:45044.8px;color:white;
}
#P43_78
{
left:17648.9px;bottom:44853px;letter-spacing:-4.4px;color:white;
}
#P43_79
{
left:0px;letter-spacing:0px;margin-left:4.4px;
}
#P43_80
{
left:10706.1px;bottom:44729.5px;
}
#P43_81
{
left:10706.1px;bottom:44729.5px;color:white;
}
#P43_82
{
left:10477.4px;bottom:10773.9px;color:rgb(35,31,31);
}
#P43_83
{
left:10935.8px;bottom:10800.7px;word-spacing:394.4px;color:rgb(35,31,31);
}
#P43_84
{
left:12077.4px;bottom:10773.9px;letter-spacing:-2.6px;color:rgb(35,31,31);
}
#P43_85
{
left:0px;letter-spacing:-0.5px;margin-left:2.6px;
}
#P43_86
{
left:0px;letter-spacing:0.2px;margin-left:-6.4px;
}
#P43_87
{
left:12077.4px;bottom:9877.93px;letter-spacing:-0.9px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P43_88
{
left:0px;letter-spacing:-0.7px;margin-left:-13px;
}
#P43_89
{
left:0px;letter-spacing:-0.3px;margin-left:0.6px;
}
#P43_90
{
left:12077.4px;bottom:8982px;color:rgb(35,31,31);
}
#P43_91
{
left:10477.4px;bottom:7638px;color:rgb(35,31,31);
}
#P43_92
{
left:10935.8px;bottom:7664.75px;word-spacing:394.4px;color:rgb(35,31,31);
}
#P43_93
{
left:12077.4px;bottom:7657.64px;word-spacing:-26px;color:rgb(2,77,161);
}
#P43_94
{
left:0px;letter-spacing:0px;margin-left:-26px;
}
#P43_95
{
left:0px;letter-spacing:0px;margin-left:26px;
}
#P43_96
{
left:18885.3px;bottom:7637.93px;color:rgb(35,31,31);
}
#P43_97
{
left:19237.3px;bottom:7637.93px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P43_98
{
left:12077.4px;bottom:6741.93px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P43_99
{
left:11619.5px;bottom:26791.7px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P43_100
{
left:0px;letter-spacing:0.4px;margin-left:14.1px;
}
#P43_101
{
left:0px;letter-spacing:-14px;margin-left:-42.5px;
}
#P43_102
{
left:0px;letter-spacing:-2.1px;margin-left:-2.8px;
}
#P43_103
{
left:0px;letter-spacing:-0.9px;margin-left:2.1px;
}
#P43_104
{
left:11619.5px;bottom:25127.7px;color:rgb(35,31,31);
}
#P43_105
{
left:11747.5px;bottom:25127.7px;word-spacing:516.1px;color:rgb(35,31,31);
}
#P43_106
{
left:13121.9px;bottom:25567.4px;color:rgb(35,31,31);
}
#P43_107
{
left:13457.7px;bottom:25145.3px;color:rgb(35,31,31);
}
#P43_108
{
left:13100.8px;bottom:25129.1px;color:rgb(35,31,31);
}
#P43_109
{
left:13478.8px;bottom:25146.3px;color:rgb(35,31,31);
}
#P43_110
{
left:13121.9px;bottom:24659.9px;color:rgb(35,31,31);
}
#P43_111
{
left:13457.7px;bottom:25145.3px;color:rgb(35,31,31);
}
#P43_112
{
left:13478.8px;bottom:25127.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P43_113
{
left:13637.2px;bottom:25118.6px;color:rgb(35,31,31);
}
#P43_114
{
left:14223.6px;bottom:25127.7px;color:rgb(35,31,31);
}
#P43_115
{
left:14382px;bottom:24538.4px;color:rgb(35,31,31);
}
#P43_116
{
left:14628.4px;bottom:24845.7px;color:rgb(35,31,31);
}
#P43_117
{
left:14684.8px;bottom:25127.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P43_118
{
left:14705.9px;bottom:25618.8px;color:rgb(35,31,31);
}
#P43_119
{
left:15041.7px;bottom:25145.3px;color:rgb(35,31,31);
}
#P43_120
{
left:14684.8px;bottom:25180.5px;color:rgb(35,31,31);
}
#P43_121
{
left:15062.8px;bottom:25146.3px;color:rgb(35,31,31);
}
#P43_122
{
left:14705.9px;bottom:24711.3px;color:rgb(35,31,31);
}
#P43_123
{
left:15041.7px;bottom:25145.3px;color:rgb(35,31,31);
}
#P43_124
{
left:15062.8px;bottom:25127.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P43_125
{
left:15221.2px;bottom:25118.6px;color:rgb(35,31,31);
}
#P43_126
{
left:15807.6px;bottom:25127.7px;color:rgb(35,31,31);
}
#P43_127
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P43_128
{
left:15987.1px;bottom:25567.4px;color:rgb(35,31,31);
}
#P43_129
{
left:16322.9px;bottom:25145.3px;color:rgb(35,31,31);
}
#P43_130
{
left:15966px;bottom:25129.1px;color:rgb(35,31,31);
}
#P43_131
{
left:16344px;bottom:25146.3px;color:rgb(35,31,31);
}
#P43_132
{
left:15987.1px;bottom:24659.9px;color:rgb(35,31,31);
}
#P43_133
{
left:16322.9px;bottom:25145.3px;color:rgb(35,31,31);
}
#P43_134
{
left:16344px;bottom:25127.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P43_135
{
left:16400.3px;bottom:24538.4px;color:rgb(35,31,31);
}
#P43_136
{
left:16646.7px;bottom:25127.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P43_137
{
left:0px;letter-spacing:0px;margin-left:5404.7px;
}
#P43_138
{
left:22209.9px;bottom:25118.6px;color:rgb(35,31,31);
}
#P43_139
{
left:22796.3px;bottom:25127.7px;color:rgb(35,31,31);
}
#P43_140
{
left:11619.5px;bottom:23079.7px;color:rgb(35,31,31);
}
#P43_141
{
left:11747.5px;bottom:23079.7px;letter-spacing:-13.9px;word-spacing:486.9px;color:rgb(35,31,31);
}
#P43_142
{
left:12963.5px;bottom:22489.3px;color:rgb(35,31,31);
}
#P43_143
{
left:13209.9px;bottom:22810.9px;color:rgb(35,31,31);
}
#P43_144
{
left:13266.2px;bottom:23079.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P43_145
{
left:13297.9px;bottom:23519.4px;color:rgb(35,31,31);
}
#P43_146
{
left:13633.7px;bottom:23097.3px;color:rgb(35,31,31);
}
#P43_147
{
left:13276.8px;bottom:23081.1px;color:rgb(35,31,31);
}
#P43_148
{
left:13654.8px;bottom:23098.3px;color:rgb(35,31,31);
}
#P43_149
{
left:13297.9px;bottom:22611.9px;color:rgb(35,31,31);
}
#P43_150
{
left:13633.7px;bottom:23097.3px;color:rgb(35,31,31);
}
#P43_151
{
left:13654.8px;bottom:23079.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P43_152
{
left:13813.2px;bottom:23070.6px;color:rgb(35,31,31);
}
#P43_153
{
left:14399.6px;bottom:23079.7px;color:rgb(35,31,31);
}
#P43_154
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P43_155
{
left:14579.2px;bottom:23519.4px;color:rgb(35,31,31);
}
#P43_156
{
left:14915px;bottom:23097.3px;color:rgb(35,31,31);
}
#P43_157
{
left:14558px;bottom:23081.1px;color:rgb(35,31,31);
}
#P43_158
{
left:14936.1px;bottom:23098.3px;color:rgb(35,31,31);
}
#P43_159
{
left:14579.2px;bottom:22611.9px;color:rgb(35,31,31);
}
#P43_160
{
left:14915px;bottom:23097.3px;color:rgb(35,31,31);
}
#P43_161
{
left:14936.1px;bottom:23079.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P43_162
{
left:14992.4px;bottom:22489.3px;color:rgb(35,31,31);
}
#P43_163
{
left:15238.8px;bottom:23079.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P43_164
{
left:15397.2px;bottom:23070.6px;color:rgb(35,31,31);
}
#P43_165
{
left:15983.6px;bottom:23079.7px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P43_166
{
left:0px;letter-spacing:0px;margin-left:-158.3px;
}
#P43_167
{
left:16331px;bottom:23519.4px;color:rgb(35,31,31);
}
#P43_168
{
left:16666.8px;bottom:23097.3px;color:rgb(35,31,31);
}
#P43_169
{
left:16142px;bottom:23081.1px;color:rgb(35,31,31);
}
#P43_170
{
left:16855.8px;bottom:23098.3px;color:rgb(35,31,31);
}
#P43_171
{
left:16163.1px;bottom:22611.9px;color:rgb(35,31,31);
}
#P43_172
{
left:16834.7px;bottom:23097.3px;color:rgb(35,31,31);
}
#P43_173
{
left:16855.8px;bottom:23079.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P43_174
{
left:0px;letter-spacing:0px;margin-left:5195.6px;
}
#P43_175
{
left:22209.9px;bottom:23070.6px;color:rgb(35,31,31);
}
#P43_176
{
left:22796.3px;bottom:23079.7px;color:rgb(35,31,31);
}
#P43_177
{
left:11619.5px;bottom:21031.7px;color:rgb(35,31,31);
}
#P43_178
{
left:11747.5px;bottom:21031.7px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P43_179
{
left:12963.5px;bottom:21031.7px;color:rgb(35,31,31);
}
#P43_180
{
left:14054.7px;bottom:21022.6px;color:rgb(35,31,31);
}
#P43_181
{
left:14641.1px;bottom:21031.7px;color:rgb(35,31,31);
}
#P43_182
{
left:16137.1px;bottom:21022.6px;color:rgb(35,31,31);
}
#P43_183
{
left:16723.5px;bottom:21031.7px;color:rgb(35,31,31);
}
#P43_184
{
left:0px;letter-spacing:0px;margin-left:3831.9px;
}
#P43_185
{
left:22209.9px;bottom:21022.6px;color:rgb(35,31,31);
}
#P43_186
{
left:22796.3px;bottom:21031.7px;color:rgb(35,31,31);
}
#P43_187
{
left:11619.5px;bottom:19175.7px;color:rgb(35,31,31);
}
#P43_188
{
left:11747.5px;bottom:19175.7px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P43_189
{
left:12963.5px;bottom:19175.7px;color:rgb(35,31,31);
}
#P43_190
{
left:14427.8px;bottom:19166.6px;color:rgb(35,31,31);
}
#P43_191
{
left:15014.2px;bottom:19175.7px;color:rgb(35,31,31);
}
#P43_192
{
left:16510.2px;bottom:19166.6px;color:rgb(35,31,31);
}
#P43_193
{
left:17096.7px;bottom:19175.7px;color:rgb(35,31,31);
}
#P43_194
{
left:0px;letter-spacing:0px;margin-left:3458.9px;
}
#P43_195
{
left:22209.9px;bottom:19166.6px;color:rgb(35,31,31);
}
#P43_196
{
left:22796.3px;bottom:19175.7px;color:rgb(35,31,31);
}
#P43_197
{
left:11619.5px;bottom:17319.7px;color:rgb(35,31,31);
}
#P43_198
{
left:11747.5px;bottom:17319.7px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P43_199
{
left:12963.5px;bottom:17319.7px;color:rgb(35,31,31);
}
#P43_200
{
left:15047.3px;bottom:17310.6px;color:rgb(35,31,31);
}
#P43_201
{
left:15633.8px;bottom:17319.7px;color:rgb(35,31,31);
}
#P43_202
{
left:17876px;bottom:17310.6px;color:rgb(35,31,31);
}
#P43_203
{
left:18462.4px;bottom:17319.7px;color:rgb(35,31,31);
}
#P43_204
{
left:0px;letter-spacing:0px;margin-left:1593.3px;
}
#P43_205
{
left:22209.9px;bottom:17310.6px;color:rgb(35,31,31);
}
#P43_206
{
left:22796.3px;bottom:17319.7px;color:rgb(35,31,31);
}
#P43_207
{
left:11619.5px;bottom:15463.7px;color:rgb(35,31,31);
}
#P43_208
{
left:11747.5px;bottom:15463.7px;letter-spacing:-17.5px;color:rgb(35,31,31);
}
#P43_209
{
left:12963.5px;bottom:15463.7px;color:rgb(35,31,31);
}
#P43_210
{
left:15547.2px;bottom:15454.6px;color:rgb(35,31,31);
}
#P43_211
{
left:16133.6px;bottom:15463.7px;color:rgb(35,31,31);
}
#P43_212
{
left:18749px;bottom:15454.6px;color:rgb(35,31,31);
}
#P43_213
{
left:19335.4px;bottom:15463.7px;color:rgb(35,31,31);
}
#P43_214
{
left:0px;letter-spacing:0px;margin-left:473.9px;
}
#P43_215
{
left:22209.9px;bottom:15454.6px;color:rgb(35,31,31);
}
#P43_216
{
left:22796.3px;bottom:15463.7px;color:rgb(35,31,31);
}
#P43_217
{
left:12497.7px;bottom:28351.9px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P43_218
{
left:15922.8px;bottom:28543.7px;color:rgb(255,223,126);
}
#P43_219
{
left:16547.5px;bottom:28351.9px;word-spacing:207.4px;color:white;
}
#P43_220
{
left:17972.2px;bottom:28543.7px;color:white;
}
#P43_221
{
left:18212.4px;bottom:28351.9px;color:white;
}
#P43_222
{
left:19364.2px;bottom:28543.7px;color:white;
}
#P43_223
{
left:19604.4px;bottom:28351.9px;letter-spacing:-2.2px;color:white;
}
#P43_224
{
left:22725.3px;bottom:28543.7px;color:white;
}
#P43_225
{
left:22965.5px;bottom:28351.9px;color:white;
}
#P43_226
{
left:27623.3px;bottom:28543.7px;color:white;
}
#P43_227
{
left:27863.5px;bottom:28351.9px;color:white;
}
#P43_228
{
left:10757.3px;bottom:28228.4px;
}
#P43_229
{
left:10757.3px;bottom:28228.4px;color:white;
}
#P43_230
{
left:4877.34px;bottom:24368.7px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P43_231
{
left:4877.34px;bottom:23501.9px;color:rgb(35,31,31);
}
#P43_232
{
left:4877.34px;bottom:22765.9px;color:rgb(35,31,31);
}
#P43_233
{
left:4877.34px;bottom:22029.9px;color:rgb(35,31,31);
}
#P43_234
{
left:0px;letter-spacing:0px;margin-left:-152px;
}
#P43_235
{
left:0px;letter-spacing:0px;margin-left:6.1px;
}
#P43_236
{
left:4626.71px;bottom:26152.5px;letter-spacing:-20.4px;color:white;
}
#P43_237
{
left:4626.71px;bottom:25192.4px;letter-spacing:-27.2px;color:white;
}
#P43_238
{
left:6605.79px;bottom:25449.2px;color:white;
}
#P43_239
{
left:6881.05px;bottom:25192.4px;letter-spacing:-27.2px;color:white;
}
#PageContainer43
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg043.jpg");background-repeat:no-repeat;background-size: 1021px 1282px; background-position: 0px -0.579999999999927px;
}
#ImageContainer43 {bottom:82.58px;left:0.00px;width:1020.57px;height:1281.58px;position:absolute;} #TextContainer43 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.practice{position: absolute;top: 1224px;left: 256px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}