.tr505{ color:transparent;}
#P505_1
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P505_2
{
left:21002.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P505_3
{
left:25910.5px;bottom:1410.03px;letter-spacing:461.5px;word-spacing:0.6px;color:rgb(35,31,31);
}
#P505_4
{
left:0px;letter-spacing:4.2px;margin-left:-462.1px;
}
#P505_5
{
left:0px;letter-spacing:3.8px;margin-left:-4.7px;
}
#P505_6
{
left:0px;letter-spacing:-3.1px;margin-left:-2.8px;
}
#P505_7
{
left:0px;letter-spacing:1.5px;margin-left:0.7px;
}
#P505_8
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P505_9
{
left:13633.9px;bottom:44634.2px;letter-spacing:-2px;color:rgb(35,31,31);
}
#P505_10
{
left:0px;letter-spacing:0px;margin-left:2px;
}
#P505_11
{
left:18762.7px;bottom:44598.9px;color:rgb(35,31,31);
}
#P505_12
{
left:18939.1px;bottom:44536.2px;color:rgb(35,31,31);
}
#P505_13
{
left:19101px;bottom:44604.6px;color:rgb(35,31,31);
}
#P505_14
{
left:19687.4px;bottom:44634.2px;color:rgb(35,31,31);
}
#P505_15
{
left:20243.5px;bottom:44598.9px;color:rgb(35,31,31);
}
#P505_16
{
left:20567.8px;bottom:44634.2px;word-spacing:-147.8px;color:rgb(35,31,31);
}
#P505_17
{
left:19429.7px;bottom:40553.8px;letter-spacing:1313.3px;color:rgb(33,31,31);
}
#P505_18
{
left:17399.1px;bottom:40440.1px;color:rgb(33,31,31);
}
#P505_19
{
left:17825.6px;bottom:40553.8px;color:rgb(33,31,31);
}
#P505_20
{
left:15799.1px;bottom:40440.1px;color:rgb(33,31,31);
}
#P505_21
{
left:16225.6px;bottom:40553.8px;color:rgb(33,31,31);
}
#P505_22
{
left:14199.6px;bottom:40440.1px;color:rgb(33,31,31);
}
#P505_23
{
left:14626.1px;bottom:40553.8px;letter-spacing:7714.8px;color:rgb(33,31,31);
}
#P505_24
{
left:0px;letter-spacing:1318.1px;margin-left:-6401.5px;
}
#P505_25
{
left:27575.2px;bottom:42696.9px;color:rgb(0,124,196);
}
#P505_26
{
left:29304.9px;bottom:42707.7px;color:rgb(0,124,196);
}
#P505_27
{
left:30013.9px;bottom:42696.9px;color:rgb(0,124,196);
}
#P505_28
{
left:30403.7px;bottom:42707.7px;color:rgb(0,124,196);
}
#P505_29
{
left:30552.9px;bottom:42696.9px;color:rgb(0,124,196);
}
#P505_30
{
left:30714.1px;bottom:42707.7px;color:rgb(0,124,196);
}
#P505_31
{
left:13684.8px;bottom:42696.9px;letter-spacing:-1px;color:rgb(0,124,196);
}
#P505_32
{
left:31273.9px;bottom:42696.9px;letter-spacing:-1.3px;color:rgb(0,124,196);
}
#P505_33
{
left:27716.4px;bottom:38972.7px;color:rgb(0,124,196);
}
#P505_34
{
left:32092.5px;bottom:38983.5px;color:rgb(0,124,196);
}
#P505_35
{
left:32801.4px;bottom:38972.7px;color:rgb(0,124,196);
}
#P505_36
{
left:33191.3px;bottom:38983.5px;color:rgb(0,124,196);
}
#P505_37
{
left:33340.4px;bottom:38972.7px;letter-spacing:-67.2px;color:rgb(0,124,196);
}
#P505_38
{
left:25415.4px;bottom:41919.9px;color:rgb(0,124,196);
}
#P505_39
{
left:26023.1px;bottom:42047.8px;color:rgb(0,124,196);
}
#P505_40
{
left:26400.9px;bottom:41919.9px;color:rgb(0,124,196);
}
#P505_41
{
left:14217.9px;bottom:37493.7px;color:rgb(35,31,31);
}
#P505_42
{
left:14921.9px;bottom:37317.7px;letter-spacing:-12px;color:rgb(35,31,31);
}
#P505_43
{
left:0px;letter-spacing:0px;margin-left:12px;
}
#P505_44
{
left:17055.4px;bottom:37317.7px;color:rgb(35,31,31);
}
#P505_45
{
left:17055.4px;bottom:37282.4px;color:rgb(35,31,31);
}
#P505_46
{
left:17231.7px;bottom:37219.7px;color:rgb(35,31,31);
}
#P505_47
{
left:17365.5px;bottom:37288.1px;color:rgb(35,31,31);
}
#P505_48
{
left:17951.9px;bottom:37317.7px;color:rgb(35,31,31);
}
#P505_49
{
left:18315.9px;bottom:37317.7px;color:rgb(35,31,31);
}
#P505_50
{
left:18477.8px;bottom:37282.4px;color:rgb(35,31,31);
}
#P505_51
{
left:18654.2px;bottom:37317.7px;color:rgb(35,31,31);
}
#P505_52
{
left:18654.2px;bottom:37317.7px;color:rgb(35,31,31);
}
#P505_53
{
left:13633.9px;bottom:34053.7px;letter-spacing:-1.1px;color:rgb(35,31,31);
}
#P505_54
{
left:0px;letter-spacing:-1.3px;margin-left:1.1px;
}
#P505_55
{
left:0px;letter-spacing:-14px;margin-left:1.3px;
}
#P505_56
{
left:0px;letter-spacing:0px;margin-left:14px;
}
#P505_57
{
left:29222.8px;bottom:34024.1px;color:rgb(35,31,31);
}
#P505_58
{
left:29809.2px;bottom:34053.7px;color:rgb(35,31,31);
}
#P505_59
{
left:13122px;bottom:32901.7px;color:rgb(35,31,31);
}
#P505_60
{
left:14028.3px;bottom:32928.5px;word-spacing:266.4px;color:rgb(35,31,31);
}
#P505_61
{
left:15041.9px;bottom:32866.4px;color:rgb(35,31,31);
}
#P505_62
{
left:15218.3px;bottom:32803.7px;color:rgb(35,31,31);
}
#P505_63
{
left:15352.1px;bottom:32872.1px;color:rgb(35,31,31);
}
#P505_64
{
left:15938.5px;bottom:32901.7px;color:rgb(35,31,31);
}
#P505_65
{
left:16473.6px;bottom:32866.4px;color:rgb(35,31,31);
}
#P505_66
{
left:18233px;bottom:32901.7px;color:rgb(35,31,31);
}
#P505_67
{
left:18549.8px;bottom:32872.1px;color:rgb(35,31,31);
}
#P505_68
{
left:19136.3px;bottom:32901.7px;color:rgb(35,31,31);
}
#P505_69
{
left:25420.3px;bottom:32928.5px;color:rgb(35,31,31);
}
#P505_70
{
left:26433.9px;bottom:32872.1px;color:rgb(35,31,31);
}
#P505_71
{
left:27020.4px;bottom:32901.7px;color:rgb(35,31,31);
}
#P505_72
{
left:0px;letter-spacing:0px;margin-left:1266.4px;
}
#P505_73
{
left:29293.5px;bottom:32866.4px;color:rgb(35,31,31);
}
#P505_74
{
left:29469.8px;bottom:32803.7px;color:rgb(35,31,31);
}
#P505_75
{
left:29631.8px;bottom:32901.7px;color:rgb(35,31,31);
}
#P505_76
{
left:30166.8px;bottom:32866.4px;color:rgb(35,31,31);
}
#P505_77
{
left:30343.1px;bottom:32901.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P505_78
{
left:13121.9px;bottom:31237.7px;color:rgb(35,31,31);
}
#P505_79
{
left:14028.3px;bottom:31264.5px;word-spacing:266.4px;color:rgb(35,31,31);
}
#P505_80
{
left:15041.9px;bottom:31202.4px;color:rgb(35,31,31);
}
#P505_81
{
left:15218.3px;bottom:31139.7px;color:rgb(35,31,31);
}
#P505_82
{
left:15380.2px;bottom:31237.7px;color:rgb(35,31,31);
}
#P505_83
{
left:16288.4px;bottom:31202.4px;color:rgb(35,31,31);
}
#P505_84
{
left:18047.9px;bottom:31237.7px;color:rgb(35,31,31);
}
#P505_85
{
left:25420.4px;bottom:31264.5px;color:rgb(35,31,31);
}
#P505_86
{
left:26434px;bottom:31237.7px;color:rgb(35,31,31);
}
#P505_87
{
left:0px;letter-spacing:0px;margin-left:1266.3px;
}
#P505_88
{
left:28707px;bottom:31202.4px;color:rgb(35,31,31);
}
#P505_89
{
left:28883.4px;bottom:31139.7px;color:rgb(35,31,31);
}
#P505_90
{
left:29017.2px;bottom:31208.1px;color:rgb(35,31,31);
}
#P505_91
{
left:29603.6px;bottom:31237.7px;color:rgb(35,31,31);
}
#P505_92
{
left:30138.6px;bottom:31202.4px;color:rgb(35,31,31);
}
#P505_93
{
left:30315px;bottom:31237.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P505_94
{
left:7695.26px;bottom:46256.7px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P505_95
{
left:14563.5px;bottom:46281.3px;color:white;
}
#P505_96
{
left:17572px;bottom:46473.1px;color:white;
}
#P505_97
{
left:17812.2px;bottom:46281.3px;letter-spacing:-11.9px;word-spacing:-31.9px;color:white;
}
#P505_98
{
left:0px;letter-spacing:0px;margin-left:11.9px;
}
#P505_99
{
left:12719.2px;bottom:46114.1px;
}
#P505_100
{
left:12719.2px;bottom:46114.1px;color:white;
}
#P505_101
{
left:16084.7px;bottom:26796.8px;word-spacing:-147.8px;color:rgb(35,31,31);
}
#P505_102
{
left:17481.4px;bottom:26802.5px;letter-spacing:-1.5px;color:rgb(35,31,31);
}
#P505_103
{
left:0px;letter-spacing:0px;margin-left:1.5px;
}
#P505_104
{
left:21977.9px;bottom:26796.8px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P505_105
{
left:16084.7px;bottom:25900.8px;color:rgb(35,31,31);
}
#P505_106
{
left: 16444.7px;bottom:24748.8px;letter-spacing:247.7px;color:rgb(35,31,31);
}
#P505_106a
{
left: 17504.7px;bottom:24748.8px;letter-spacing:247.7px;color:rgb(35,31,31);
}
#P505_107
{
left:0px;letter-spacing:-28px;margin-left:-247.7px;
}
#P505_108
{
left:0px;letter-spacing:0px;margin-left:351.1px;
}
#P505_109
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P505_110
{
left:0px;letter-spacing:-0.6px;margin-left:14px;
}
#P505_111
{
left:0px;letter-spacing:0px;margin-left:-6.4px;
}
#P505_112
{
left:17503.3px;bottom:23852.8px;letter-spacing:-1.2px;word-spacing:0.2px;color:rgb(35,31,31);
}
#P505_113
{
left:16444.2px;bottom:22764.8px;letter-spacing:211.6px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P505_113a
{
left: 17524.2px;bottom:22764.8px;letter-spacing:211.6px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P505_114
{
left:0px;letter-spacing:-28px;margin-left:-218.5px;
}
#P505_115
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P505_116
{
left:0px;letter-spacing:-1.8px;margin-left:-12.5px;
}
#P505_117
{
left:0px;letter-spacing:-0.1px;margin-left:1.7px;
}
#P505_118
{
left:17503.3px;bottom:21868.8px;letter-spacing:-0.6px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P505_119
{
left:0px;letter-spacing:-14px;margin-left:-55.6px;
}
#P505_120
{
left:26764.1px;bottom:21839.3px;color:rgb(35,31,31);
}
#P505_121
{
left:26998.5px;bottom:21868.8px;color:rgb(35,31,31);
}
#P505_122
{
left:13535.3px;bottom:18156.8px;color:rgb(35,31,31);
}
#P505_123
{
left:14071.2px;bottom:18156.8px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P505_124
{
left:15263.3px;bottom:18156.8px;letter-spacing:-1.9px;word-spacing:0.4px;color:rgb(35,31,31);
}
#P505_125
{
left:0px;letter-spacing:-0.4px;margin-left:1.5px;
}
#P505_126
{
left:13535.3px;bottom:17018.6px;color:rgb(35,31,31);
}
#P505_127
{
left:25701.1px;bottom:15001.3px;color:rgb(35,31,31);
}
#P505_128
{
left:0px;letter-spacing:0px;margin-left:1066.5px;
}
#P505_129
{
left:0px;letter-spacing:924.2px;
}
#P505_130
{
left:0px;letter-spacing:924.2px;margin-left:-924.2px;
}
#P505_131
{
left:0px;letter-spacing:924.2px;margin-left:-924.2px;
}
#P505_132
{
left:0px;letter-spacing:924.2px;margin-left:-924.2px;
}
#P505_133
{
left:0px;letter-spacing:924.2px;margin-left:-924.2px;
}
#P505_134
{
left:0px;letter-spacing:0px;margin-left:-924.2px;
}
#P505_135
{
left:16178.9px;bottom:14887.6px;color:rgb(35,31,31);
}
#P505_136
{
left:16605.4px;bottom:15001.3px;color:rgb(35,31,31);
}
#P505_137
{
left:17672.4px;bottom:14887.6px;color:rgb(35,31,31);
}
#P505_138
{
left:18098.9px;bottom:15001.3px;color:rgb(35,31,31);
}
#P505_139
{
left:19165.9px;bottom:14887.6px;color:rgb(35,31,31);
}
#P505_140
{
left:19592.4px;bottom:15001.3px;color:rgb(35,31,31);
}
#P505_141
{
left:20659.4px;bottom:14887.6px;color:rgb(35,31,31);
}
#P505_142
{
left:21085.9px;bottom:15001.3px;color:rgb(35,31,31);
}
#P505_143
{
left:22152.9px;bottom:14887.6px;color:rgb(35,31,31);
}
#P505_144
{
left:22579.4px;bottom:15001.3px;color:rgb(35,31,31);
}
#P505_145
{
left:23646.4px;bottom:14887.6px;color:rgb(35,31,31);
}
#P505_146
{
left:24072.9px;bottom:15001.3px;color:rgb(35,31,31);
}
#P505_147
{
left:15464.5px;bottom:17003.9px;letter-spacing:0.1px;word-spacing:-0.1px;color:rgb(0,124,196);
}
#P505_148
{
left:16477.1px;bottom:16305.3px;color:rgb(0,124,196);
}
#P505_149
{
left:16956.9px;bottom:16296px;color:rgb(0,124,196);
}
#P505_150
{
left:19039.8px;bottom:17003.9px;letter-spacing:2px;color:rgb(0,124,196);
}
#P505_151
{
left:19273.6px;bottom:16305.3px;color:rgb(0,124,196);
}
#P505_152
{
left:19753.4px;bottom:16296px;color:rgb(0,124,196);
}
#P505_153
{
left:24609.7px;bottom:17003.9px;color:rgb(0,124,196);
}
#P505_154
{
left:24788.2px;bottom:16305.3px;color:rgb(0,124,196);
}
#P505_155
{
left:25268px;bottom:16296px;color:rgb(0,124,196);
}
#P505_156
{
left:30328.2px;bottom:17003.9px;letter-spacing:-0.7px;color:rgb(0,124,196);
}
#P505_157
{
left:30793.6px;bottom:16296px;color:rgb(0,124,196);
}
#P505_158
{
left:32674.2px;bottom:17003.9px;letter-spacing:-0.7px;word-spacing:0.3px;color:rgb(0,124,196);
}
#P505_159
{
left:33780.1px;bottom:16296px;color:rgb(0,124,196);
}
#P505_160
{
left:15911.3px;bottom:13661.8px;color:rgb(35,31,31);
}
#P505_161
{
left:16615.3px;bottom:13485.8px;letter-spacing:-0.9px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P505_162
{
left:0px;letter-spacing:-1px;margin-left:-3.1px;
}
#P505_163
{
left:0px;letter-spacing:-0.1px;margin-left:0.9px;
}
#P505_164
{
left:29933px;bottom:13456.2px;color:rgb(35,31,31);
}
#P505_165
{
left:30505.1px;bottom:13485.8px;color:rgb(35,31,31);
}
#P505_166
{
left:31233.2px;bottom:13456.2px;color:rgb(35,31,31);
}
#P505_167
{
left:31461.7px;bottom:13485.8px;color:rgb(35,31,31);
}
#P505_168
{
left:13535.3px;bottom:11679.4px;color:rgb(35,31,31);
}
#P505_169
{
left:14035.1px;bottom:11679.4px;letter-spacing:-17.5px;color:rgb(35,31,31);
}
#P505_170
{
left:15263.3px;bottom:11679.4px;letter-spacing:-0.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P505_171
{
left:25009.4px;bottom:11649.8px;color:rgb(35,31,31);
}
#P505_172
{
left:25243.7px;bottom:11679.4px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P505_173
{
left:13535.2px;bottom:10399.4px;color:rgb(35,31,31);
}
#P505_174
{
left:15327.2px;bottom:10399.4px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P505_175
{
left:0px;letter-spacing:13.9px;margin-left:19.5px;
}
#P505_176
{
left:18306.5px;bottom:10399.4px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P505_177
{
left:18658.5px;bottom:10364.2px;color:rgb(35,31,31);
}
#P505_178
{
left:18834.9px;bottom:10301.5px;color:rgb(35,31,31);
}
#P505_179
{
left:18968.7px;bottom:10369.8px;color:rgb(35,31,31);
}
#P505_180
{
left:19555.1px;bottom:10399.4px;color:rgb(35,31,31);
}
#P505_181
{
left:20463.3px;bottom:10364.2px;color:rgb(35,31,31);
}
#P505_182
{
left:20639.6px;bottom:10399.4px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P505_183
{
left:20798px;bottom:10369.8px;color:rgb(35,31,31);
}
#P505_184
{
left:21384.4px;bottom:10399.4px;color:rgb(35,31,31);
}
#P505_185
{
left:27167.3px;bottom:10399.4px;letter-spacing:0.9px;color:rgb(35,31,31);
}
#P505_186
{
left:29489.6px;bottom:10399.4px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P505_187
{
left:29841.6px;bottom:10364.2px;color:rgb(35,31,31);
}
#P505_188
{
left:30017.9px;bottom:10301.5px;color:rgb(35,31,31);
}
#P505_189
{
left:30179.9px;bottom:10399.4px;color:rgb(35,31,31);
}
#P505_190
{
left:31088px;bottom:10364.2px;color:rgb(35,31,31);
}
#P505_191
{
left:31264.3px;bottom:10399.4px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P505_192
{
left:31422.7px;bottom:10369.8px;color:rgb(35,31,31);
}
#P505_193
{
left:32009.2px;bottom:10399.4px;color:rgb(35,31,31);
}
#P505_194
{
left:15911.3px;bottom:9081px;letter-spacing:534.6px;color:rgb(35,31,31);
}
#P505_195
{
left:16615.3px;bottom:8905px;letter-spacing:-0.6px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P505_196
{
left:0px;letter-spacing:-0.1px;margin-left:0.5px;
}
#P505_197
{
left:16615.3px;bottom:8009px;letter-spacing:-0.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P505_198
{
left:0px;letter-spacing:-0.1px;margin-left:-13.7px;
}
#P505_199
{
left:0px;letter-spacing:-0.1px;margin-left:-41.5px;
}
#P505_200
{
left:13535.3px;bottom:5065px;color:rgb(35,31,31);
}
#P505_201
{
left:14103.8px;bottom:5084.72px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P505_202
{
left:15135.3px;bottom:5065px;letter-spacing:-12.2px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P505_203
{
left:0px;letter-spacing:-10.6px;margin-left:-12.3px;
}
#P505_204
{
left:0px;letter-spacing:-8.9px;margin-left:-13.9px;
}
#P505_205
{
left:15135.3px;bottom:4169px;letter-spacing:-11.3px;color:rgb(35,31,31);
}
#P505_206
{
left:0px;letter-spacing:-10.6px;margin-left:0.7px;
}
#P505_207
{
left:5935.13px;bottom:25808.6px;color:rgb(35,31,31);
}
#P505_208
{
left:11559.8px;bottom:26224.6px;letter-spacing:-1.7px;color:rgb(35,31,31);
}
#P505_209
{
left:11400.2px;bottom:25392.4px;color:rgb(35,31,31);
}
#P505_210
{
left:13453.8px;bottom:25345.4px;color:rgb(35,31,31);
}
#P505_211
{
left:13677.7px;bottom:25392.4px;word-spacing:-102.8px;color:rgb(35,31,31);
}
#P505_212
{
left:6634.59px;bottom:24373.7px;color:rgb(35,31,31);
}
#P505_213
{
left:0px;letter-spacing:0px;margin-left:-7.7px;
}
#P505_214
{
left:0px;letter-spacing:0px;margin-left:4112.4px;
}
#P505_215
{
left:5684.25px;bottom:23291.8px;color:rgb(35,31,31);
}
#P505_216
{
left:12292.3px;bottom:23255px;color:rgb(35,31,31);
}
#P505_217
{
left:12825.4px;bottom:23281.9px;color:rgb(35,31,31);
}
#P505_218
{
left:6585.56px;bottom:22152px;letter-spacing:-4.8px;color:rgb(35,31,31);
}
#P505_219
{
left:12461.9px;bottom:22115.2px;color:rgb(35,31,31);
}
#P505_220
{
left:12995px;bottom:22142.1px;color:rgb(35,31,31);
}
#P505_221
{
left:6320.6px;bottom:21012.2px;letter-spacing:-3.4px;color:rgb(35,31,31);
}
#P505_222
{
left:12292.3px;bottom:20975.4px;color:rgb(35,31,31);
}
#P505_223
{
left:12825.4px;bottom:21002.3px;color:rgb(35,31,31);
}
#P505_224
{
left:5874.27px;bottom:19930.3px;color:rgb(35,31,31);
}
#P505_225
{
left:0px;letter-spacing:0px;margin-left:-7.7px;
}
#P505_226
{
left:0px;letter-spacing:0px;margin-left:3352.1px;
}
#P505_227
{
left:7727.26px;bottom:28208.7px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P505_228
{
left:14595.5px;bottom:28233.3px;color:white;
}
#P505_229
{
left:16979.4px;bottom:28425.1px;color:white;
}
#P505_230
{
left:17219.5px;bottom:28233.3px;word-spacing:-31.9px;color:white;
}
#P505_231
{
left:19987.9px;bottom:28425.1px;color:white;
}
#P505_232
{
left:20228.1px;bottom:28233.3px;color:white;
}
#P505_233
{
left:21411.7px;bottom:28425.1px;color:white;
}
#P505_234
{
left:21651.9px;bottom:28233.3px;color:white;
}
#P505_235
{
left:12751.2px;bottom:28066.1px;
}
#P505_236
{
left:12751.2px;bottom:28066.1px;color:white;
}
#P505_237
{
left:4938.07px;bottom:43451.7px;color:white;
}
#P505_238
{
left:5172.7px;bottom:42357.7px;letter-spacing:-8.5px;color:rgb(35,31,31);
}
#P505_239
{
left:5172.7px;bottom:41589.7px;letter-spacing:-9.1px;color:rgb(35,31,31);
}
#P505_240
{
left:5172.7px;bottom:40821.7px;letter-spacing:-9.1px;word-spacing:-2.9px;color:rgb(35,31,31);
}
#P505_241
{
left:5172.7px;bottom:40053.7px;letter-spacing:-9.1px;color:rgb(35,31,31);
}
#P505_242
{
left:5172.7px;bottom:39285.7px;letter-spacing:-8.5px;color:rgb(35,31,31);
}
#P505_243
{
left:5172.7px;bottom:38517.7px;letter-spacing:-8.5px;color:rgb(35,31,31);
}
#P505_244
{
left:5172.7px;bottom:37749.7px;letter-spacing:-12.8px;color:rgb(35,31,31);
}
#P505_245
{
left:0px;letter-spacing:-8px;margin-left:3.8px;
}
#P505_246
{
left:5172.7px;bottom:36981.7px;letter-spacing:-9px;color:rgb(35,31,31);
}
#P505_247
{
left:8036.7px;bottom:32973.7px;letter-spacing:1.9px;color:rgb(35,31,31);
}
#P505_248
{
left:0px;letter-spacing:0px;margin-left:9.6px;
}
#PageContainer505
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg505.jpg");background-repeat:no-repeat;background-size: 886px 1205px; background-position: 123.58px 69.03px;
}
#ImageContainer505 {bottom:89.97px;left:123.58px;width:885.74px;height:1204.71px;position:absolute;} #TextContainer505 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

.example3{position: absolute;top: 77px;left: 163px;}
.example4{position: absolute;top: 567px;left: 163px;}
.nyr{position: absolute;top: 417px;left: 184px;}
.nyr_exr{position: absolute;top: 450px;left: 213px; color:rgb(35,31,31); font-size:16px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}