.tr810{ color:transparent;}
#PageContainer810
{
width:1066.62px;height:1364.16px;
}
 #TextContainer810 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
