.tr68{ color:transparent;}
#P68_1
{
left:2365.4px;bottom:1460.27px;color:rgb(35,31,31);
}
#P68_2
{
left:3227.1px;bottom:1616.56px;color:rgb(35,31,31);
}
#P68_3
{
left:4669.4px;bottom:1474.48px;color:rgb(35,31,31);
}
#P68_4
{
left:8865.88px;bottom:1474.48px;letter-spacing:461.9px;word-spacing:0.2px;color:rgb(35,31,31);
}
#P68_5
{
left:0px;letter-spacing:3px;margin-left:-458.4px;
}
#P68_6
{
left:0px;letter-spacing:3.7px;margin-left:2.8px;
}
#P68_7
{
left:0px;letter-spacing:-1.2px;margin-left:-3.9px;
}
#P68_8
{
left:0px;letter-spacing:-0.2px;margin-left:22.6px;
}
#P68_9
{
left:0px;letter-spacing:0px;margin-left:13.5px;
}
#P68_10
{
left:10045.4px;bottom:43625.6px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P68_11
{
left:0px;letter-spacing:-0.3px;margin-left:0.9px;
}
#P68_12
{
left:0px;letter-spacing:0px;margin-left:-17.3px;
}
#P68_13
{
left:10045.4px;bottom:42729.6px;letter-spacing:-0.2px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P68_14
{
left:0px;letter-spacing:-0.1px;margin-left:-42px;
}
#P68_15
{
left:0px;letter-spacing:-0.1px;
}
#P68_16
{
left:10045.4px;bottom:41833.8px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P68_17
{
left:0px;letter-spacing:-0.3px;margin-left:1px;
}
#P68_18
{
left:0px;letter-spacing:0px;margin-left:-17.2px;
}
#P68_19
{
left:10045.4px;bottom:40937.8px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P68_20
{
left:5445.91px;bottom:38770.8px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P68_21
{
left:12314.2px;bottom:38795.3px;color:white;
}
#P68_22
{
left:13865.9px;bottom:38987.1px;color:white;
}
#P68_23
{
left:14106.1px;bottom:38795.3px;letter-spacing:-2.2px;color:white;
}
#P68_24
{
left:17227.1px;bottom:38987.1px;color:white;
}
#P68_25
{
left:17467.3px;bottom:38795.3px;color:white;
}
#P68_26
{
left:19948.7px;bottom:38987.1px;color:white;
}
#P68_27
{
left:20188.9px;bottom:38795.3px;color:white;
}
#P68_28
{
left:28449.6px;bottom:38987.1px;color:white;
}
#P68_29
{
left:28689.8px;bottom:38795.3px;color:white;
}
#P68_30
{
left:10469.8px;bottom:38628.2px;
}
#P68_31
{
left:10469.8px;bottom:38628.2px;color:white;
}
#P68_32
{
left:5445.91px;bottom:18290.8px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P68_33
{
left:12314.2px;bottom:18315.3px;color:white;
}
#P68_34
{
left:13865.9px;bottom:18507.1px;color:white;
}
#P68_35
{
left:14106.1px;bottom:18315.3px;letter-spacing:-2.2px;color:white;
}
#P68_36
{
left:17227.1px;bottom:18507.1px;color:white;
}
#P68_37
{
left:17467.3px;bottom:18315.3px;color:white;
}
#P68_38
{
left:19948.7px;bottom:18507.1px;color:white;
}
#P68_39
{
left:20188.9px;bottom:18315.3px;color:white;
}
#P68_40
{
left:10469.8px;bottom:18148.2px;
}
#P68_41
{
left:10469.8px;bottom:18148.2px;color:white;
}
#P68_42
{
left:11641.2px;bottom:37018.2px;color:rgb(35,31,31);
}
#P68_43
{
left:0px;letter-spacing:0px;margin-left:-15.5px;
}
#P68_44
{
left:0px;letter-spacing:0px;margin-left:-147.8px;
}
#P68_45
{
left:13309.6px;bottom:37457.8px;color:rgb(35,31,31);
}
#P68_46
{
left:13664.4px;bottom:37035.8px;color:rgb(35,31,31);
}
#P68_47
{
left:13288.5px;bottom:37002.1px;color:rgb(35,31,31);
}
#P68_48
{
left:13685.5px;bottom:37019.4px;color:rgb(35,31,31);
}
#P68_49
{
left:13309.6px;bottom:36550.3px;color:rgb(35,31,31);
}
#P68_50
{
left:13664.4px;bottom:37035.8px;color:rgb(35,31,31);
}
#P68_51
{
left:13685.5px;bottom:37018.2px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P68_52
{
left:13833.4px;bottom:36988.6px;color:rgb(35,31,31);
}
#P68_53
{
left:14419.8px;bottom:37018.2px;color:rgb(35,31,31);
}
#P68_54
{
left:0px;letter-spacing:0px;margin-left:-147.8px;
}
#P68_55
{
left:14588.8px;bottom:37457.8px;color:rgb(35,31,31);
}
#P68_56
{
left:14943.6px;bottom:37035.8px;color:rgb(35,31,31);
}
#P68_57
{
left:14567.6px;bottom:37002.1px;color:rgb(35,31,31);
}
#P68_58
{
left:14964.7px;bottom:37019.4px;color:rgb(35,31,31);
}
#P68_59
{
left:14588.8px;bottom:36550.3px;color:rgb(35,31,31);
}
#P68_60
{
left:14943.6px;bottom:37035.8px;color:rgb(35,31,31);
}
#P68_61
{
left:15006.9px;bottom:37018.2px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P68_62
{
left:11641.2px;bottom:35546.2px;letter-spacing:-1.1px;color:rgb(35,31,31);
}
#P68_63
{
left:0px;letter-spacing:0px;margin-left:1.1px;
}
#P68_64
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P68_65
{
left:0px;letter-spacing:-14px;
}
#P68_66
{
left:0px;letter-spacing:-0.3px;margin-left:14px;
}
#P68_67
{
left:11641.2px;bottom:34650.2px;color:rgb(35,31,31);
}
#P68_68
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P68_69
{
left:11641.2px;bottom:33178.3px;letter-spacing:993.6px;color:rgb(35,31,31);
}
#P68_70
{
left:0px;letter-spacing:0px;margin-left:-1152.1px;
}
#P68_71
{
left:12814.3px;bottom:33617.8px;color:rgb(35,31,31);
}
#P68_72
{
left:13150.1px;bottom:33195.8px;color:rgb(35,31,31);
}
#P68_73
{
left:12793.2px;bottom:33162.1px;color:rgb(35,31,31);
}
#P68_74
{
left:13171.2px;bottom:33179.4px;color:rgb(35,31,31);
}
#P68_75
{
left:12814.3px;bottom:32710.3px;color:rgb(35,31,31);
}
#P68_76
{
left:13150.1px;bottom:33195.8px;color:rgb(35,31,31);
}
#P68_77
{
left:13171.2px;bottom:33178.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P68_78
{
left:13329.6px;bottom:33148.6px;color:rgb(35,31,31);
}
#P68_79
{
left:13916px;bottom:33178.2px;color:rgb(35,31,31);
}
#P68_80
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P68_81
{
left:14095.5px;bottom:33617.8px;color:rgb(35,31,31);
}
#P68_82
{
left:14431.3px;bottom:33195.8px;color:rgb(35,31,31);
}
#P68_83
{
left:14074.4px;bottom:33162.1px;color:rgb(35,31,31);
}
#P68_84
{
left:14452.4px;bottom:33179.4px;color:rgb(35,31,31);
}
#P68_85
{
left:14095.5px;bottom:32710.3px;color:rgb(35,31,31);
}
#P68_86
{
left:14431.3px;bottom:33195.8px;color:rgb(35,31,31);
}
#P68_87
{
left:14452.4px;bottom:33178.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P68_88
{
left:14610.8px;bottom:33148.6px;color:rgb(35,31,31);
}
#P68_89
{
left:15197.3px;bottom:33178.2px;color:rgb(35,31,31);
}
#P68_90
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P68_91
{
left:15376.8px;bottom:33617.8px;color:rgb(35,31,31);
}
#P68_92
{
left:15807.6px;bottom:33223.1px;color:rgb(35,31,31);
}
#P68_93
{
left:16124.2px;bottom:33617.8px;color:rgb(35,31,31);
}
#P68_94
{
left:16602.6px;bottom:33195.8px;color:rgb(35,31,31);
}
#P68_95
{
left:15355.7px;bottom:33162.1px;color:rgb(35,31,31);
}
#P68_96
{
left:16623.7px;bottom:33179.4px;color:rgb(35,31,31);
}
#P68_97
{
left:15376.8px;bottom:32710.3px;color:rgb(35,31,31);
}
#P68_98
{
left:15807.6px;bottom:32315.6px;color:rgb(35,31,31);
}
#P68_99
{
left:16124.2px;bottom:32710.3px;color:rgb(35,31,31);
}
#P68_100
{
left:16602.6px;bottom:33195.8px;color:rgb(35,31,31);
}
#P68_101
{
left:16623.7px;bottom:33178.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P68_102
{
left:16782.1px;bottom:33148.6px;color:rgb(35,31,31);
}
#P68_103
{
left:17368.5px;bottom:33178.2px;color:rgb(35,31,31);
}
#P68_104
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P68_105
{
left:17548.1px;bottom:33617.8px;color:rgb(35,31,31);
}
#P68_106
{
left:17978.9px;bottom:33223.1px;color:rgb(35,31,31);
}
#P68_107
{
left:18295.5px;bottom:33617.8px;color:rgb(35,31,31);
}
#P68_108
{
left:18773.8px;bottom:33195.8px;color:rgb(35,31,31);
}
#P68_109
{
left:17526.9px;bottom:33162.1px;color:rgb(35,31,31);
}
#P68_110
{
left:18795px;bottom:33179.4px;color:rgb(35,31,31);
}
#P68_111
{
left:17548.1px;bottom:32710.3px;color:rgb(35,31,31);
}
#P68_112
{
left:17978.9px;bottom:32315.6px;color:rgb(35,31,31);
}
#P68_113
{
left:18295.5px;bottom:32710.3px;color:rgb(35,31,31);
}
#P68_114
{
left:18773.8px;bottom:33195.8px;color:rgb(35,31,31);
}
#P68_115
{
left:18795px;bottom:33178.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P68_116
{
left:0px;letter-spacing:0px;margin-left:1550.2px;
}
#P68_117
{
left:20345.2px;bottom:33506.2px;color:rgb(0,124,196);
}
#P68_118
{
left:20345.2px;bottom:32610.2px;color:rgb(0,124,196);
}
#P68_119
{
left:27237px;bottom:32181.3px;color:rgb(0,124,196);
}
#P68_120
{
left:27572.8px;bottom:32610.2px;color:rgb(0,124,196);
}
#P68_121
{
left:28217.9px;bottom:32581.9px;color:rgb(0,124,196);
}
#P68_122
{
left:28777.7px;bottom:32610.2px;color:rgb(0,124,196);
}
#P68_123
{
left:11641.2px;bottom:31130.2px;color:rgb(35,31,31);
}
#P68_124
{
left:14617.2px;bottom:31100.6px;color:rgb(35,31,31);
}
#P68_125
{
left:15203.6px;bottom:31130.2px;color:rgb(35,31,31);
}
#P68_126
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P68_127
{
left:15383.1px;bottom:31569.8px;color:rgb(35,31,31);
}
#P68_128
{
left:16054.7px;bottom:31147.8px;color:rgb(35,31,31);
}
#P68_129
{
left:15361.9px;bottom:31114.1px;color:rgb(35,31,31);
}
#P68_130
{
left:16075.8px;bottom:31131.4px;color:rgb(35,31,31);
}
#P68_131
{
left:15383.1px;bottom:30662.3px;color:rgb(35,31,31);
}
#P68_132
{
left:16054.7px;bottom:31147.8px;color:rgb(35,31,31);
}
#P68_133
{
left:16075.8px;bottom:31130.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P68_134
{
left:16234.2px;bottom:31100.6px;color:rgb(35,31,31);
}
#P68_135
{
left:16820.6px;bottom:31130.2px;color:rgb(35,31,31);
}
#P68_136
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P68_137
{
left:17168.1px;bottom:31569.8px;color:rgb(35,31,31);
}
#P68_138
{
left:17503.9px;bottom:31147.8px;color:rgb(35,31,31);
}
#P68_139
{
left:16979px;bottom:31114.1px;color:rgb(35,31,31);
}
#P68_140
{
left:17692.9px;bottom:31131.4px;color:rgb(35,31,31);
}
#P68_141
{
left:17000.2px;bottom:30662.3px;color:rgb(35,31,31);
}
#P68_142
{
left:17671.8px;bottom:31147.8px;color:rgb(35,31,31);
}
#P68_143
{
left:17692.9px;bottom:31130.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P68_144
{
left:20345.2px;bottom:31138.2px;color:rgb(0,124,196);
}
#P68_145
{
left:0px;letter-spacing:0px;margin-left:-49.7px;
}
#P68_146
{
left:11641.2px;bottom:29274.2px;color:rgb(235,26,35);
}
#P68_147
{
left:14617.2px;bottom:29244.6px;color:rgb(35,31,31);
}
#P68_148
{
left:15203.6px;bottom:29274.2px;color:rgb(35,31,31);
}
#P68_149
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P68_150
{
left:15383.1px;bottom:29713.8px;color:rgb(35,31,31);
}
#P68_151
{
left:16054.7px;bottom:29291.8px;color:rgb(35,31,31);
}
#P68_152
{
left:15362px;bottom:29258.1px;color:rgb(35,31,31);
}
#P68_153
{
left:16075.8px;bottom:29275.4px;color:rgb(35,31,31);
}
#P68_154
{
left:15383.1px;bottom:28806.3px;color:rgb(35,31,31);
}
#P68_155
{
left:16054.7px;bottom:29291.8px;color:rgb(35,31,31);
}
#P68_156
{
left:16075.8px;bottom:29274.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P68_157
{
left:20345.2px;bottom:29282.2px;letter-spacing:-1.4px;color:rgb(0,124,196);
}
#P68_158
{
left:11641.2px;bottom:27418.2px;color:rgb(235,26,35);
}
#P68_159
{
left:14617.2px;bottom:27388.6px;color:rgb(35,31,31);
}
#P68_160
{
left:15203.6px;bottom:27418.2px;color:rgb(35,31,31);
}
#P68_161
{
left:15362px;bottom:27418.2px;letter-spacing:-158.4px;color:rgb(235,26,35);
}
#P68_162
{
left:15383.1px;bottom:27857.8px;color:rgb(35,31,31);
}
#P68_163
{
left:15813.9px;bottom:27463.1px;color:rgb(35,31,31);
}
#P68_164
{
left:16130.5px;bottom:27857.8px;color:rgb(35,31,31);
}
#P68_165
{
left:16944.7px;bottom:27435.8px;color:rgb(35,31,31);
}
#P68_166
{
left:15362px;bottom:27402.1px;color:rgb(35,31,31);
}
#P68_167
{
left:16965.8px;bottom:27419.4px;color:rgb(35,31,31);
}
#P68_168
{
left:15383.1px;bottom:26950.3px;color:rgb(35,31,31);
}
#P68_169
{
left:15813.9px;bottom:26555.6px;color:rgb(35,31,31);
}
#P68_170
{
left:16130.5px;bottom:26950.3px;color:rgb(35,31,31);
}
#P68_171
{
left:16944.7px;bottom:27435.8px;color:rgb(35,31,31);
}
#P68_172
{
left:16965.8px;bottom:27418.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P68_173
{
left:20345.2px;bottom:27426.2px;color:rgb(0,124,196);
}
#P68_174
{
left:11641.2px;bottom:25370.2px;color:rgb(235,26,35);
}
#P68_175
{
left:14617.2px;bottom:25340.6px;color:rgb(35,31,31);
}
#P68_176
{
left:15203.6px;bottom:25370.2px;color:rgb(35,31,31);
}
#P68_177
{
left:15362px;bottom:25370.2px;letter-spacing:-158.4px;color:rgb(235,26,35);
}
#P68_178
{
left:15383.1px;bottom:25809.8px;color:rgb(35,31,31);
}
#P68_179
{
left:16054.7px;bottom:25387.8px;color:rgb(35,31,31);
}
#P68_180
{
left:15362px;bottom:25354.1px;color:rgb(35,31,31);
}
#P68_181
{
left:16075.8px;bottom:25371.4px;color:rgb(35,31,31);
}
#P68_182
{
left:15383.1px;bottom:24902.3px;color:rgb(35,31,31);
}
#P68_183
{
left:16054.7px;bottom:25387.8px;color:rgb(35,31,31);
}
#P68_184
{
left:16075.8px;bottom:25370.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P68_185
{
left:20345.2px;bottom:25378.2px;color:rgb(0,124,196);
}
#P68_186
{
left:0px;letter-spacing:0px;margin-left:-49.7px;
}
#P68_187
{
left:11641.2px;bottom:16540.5px;color:rgb(35,31,31);
}
#P68_188
{
left:0px;letter-spacing:0px;margin-left:-15.5px;
}
#P68_189
{
left:0px;letter-spacing:0px;margin-left:-147.8px;
}
#P68_190
{
left:13309.6px;bottom:16980.1px;color:rgb(35,31,31);
}
#P68_191
{
left:13664.4px;bottom:16558.1px;color:rgb(35,31,31);
}
#P68_192
{
left:13288.5px;bottom:16524.4px;color:rgb(35,31,31);
}
#P68_193
{
left:13685.5px;bottom:16541.7px;color:rgb(35,31,31);
}
#P68_194
{
left:13309.6px;bottom:16072.6px;color:rgb(35,31,31);
}
#P68_195
{
left:13664.4px;bottom:16558.1px;color:rgb(35,31,31);
}
#P68_196
{
left:13685.5px;bottom:16540.5px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P68_197
{
left:13833.4px;bottom:16510.9px;color:rgb(35,31,31);
}
#P68_198
{
left:14419.8px;bottom:16540.5px;color:rgb(35,31,31);
}
#P68_199
{
left:0px;letter-spacing:0px;margin-left:-147.8px;
}
#P68_200
{
left:14588.8px;bottom:16980.1px;color:rgb(35,31,31);
}
#P68_201
{
left:14943.6px;bottom:16558.1px;color:rgb(35,31,31);
}
#P68_202
{
left:14567.6px;bottom:16524.4px;color:rgb(35,31,31);
}
#P68_203
{
left:14964.7px;bottom:16541.7px;color:rgb(35,31,31);
}
#P68_204
{
left:14588.8px;bottom:16072.6px;color:rgb(35,31,31);
}
#P68_205
{
left:14943.6px;bottom:16558.1px;color:rgb(35,31,31);
}
#P68_206
{
left:15006.9px;bottom:16540.5px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P68_207
{
left:11641.2px;bottom:15068.5px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P68_208
{
left:0px;letter-spacing:-1.2px;margin-left:1px;
}
#P68_209
{
left:11641.2px;bottom:13596.5px;color:rgb(35,31,31);
}
#P68_210
{
left:12793.2px;bottom:13596.5px;letter-spacing:-8.4px;color:rgb(35,31,31);
}
#P68_211
{
left:0px;letter-spacing:0px;margin-left:8.4px;
}
#P68_212
{
left:17426.9px;bottom:13596.5px;color:rgb(35,31,31);
}
#P68_213
{
left:11641.2px;bottom:12252.5px;color:rgb(35,31,31);
}
#P68_214
{
left:12793.2px;bottom:12252.5px;letter-spacing:-8.4px;color:rgb(35,31,31);
}
#P68_215
{
left:0px;letter-spacing:-1.3px;margin-left:8.4px;
}
#P68_216
{
left:17560.9px;bottom:12252.5px;color:rgb(35,31,31);
}
#P68_217
{
left:11641.3px;bottom:10972.5px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P68_218
{
left:0px;letter-spacing:-9.3px;margin-left:-8px;
}
#P68_219
{
left:0px;letter-spacing:-1px;margin-left:9.3px;
}
#P68_220
{
left:11641.3px;bottom:9116.4px;letter-spacing:993.6px;color:rgb(35,31,31);
}
#P68_221
{
left:0px;letter-spacing:0px;margin-left:-1152px;
}
#P68_222
{
left:12814.3px;bottom:9556.14px;color:rgb(35,31,31);
}
#P68_223
{
left:13150.1px;bottom:9134.06px;color:rgb(35,31,31);
}
#P68_224
{
left:12793.2px;bottom:9100.45px;color:rgb(35,31,31);
}
#P68_225
{
left:13171.2px;bottom:9117.73px;color:rgb(35,31,31);
}
#P68_226
{
left:12814.3px;bottom:8648.62px;color:rgb(35,31,31);
}
#P68_227
{
left:13150.1px;bottom:9134.06px;color:rgb(35,31,31);
}
#P68_228
{
left:13171.2px;bottom:9116.46px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P68_229
{
left:13329.6px;bottom:9086.89px;color:rgb(35,31,31);
}
#P68_230
{
left:13916px;bottom:9116.46px;color:rgb(35,31,31);
}
#P68_231
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P68_232
{
left:14095.5px;bottom:9556.14px;color:rgb(35,31,31);
}
#P68_233
{
left:14431.3px;bottom:9134.06px;color:rgb(35,31,31);
}
#P68_234
{
left:14074.4px;bottom:9100.45px;color:rgb(35,31,31);
}
#P68_235
{
left:14452.4px;bottom:9117.73px;color:rgb(35,31,31);
}
#P68_236
{
left:14095.5px;bottom:8648.62px;color:rgb(35,31,31);
}
#P68_237
{
left:14431.3px;bottom:9134.06px;color:rgb(35,31,31);
}
#P68_238
{
left:14452.4px;bottom:9116.46px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P68_239
{
left:14610.8px;bottom:9086.89px;color:rgb(35,31,31);
}
#P68_240
{
left:15197.3px;bottom:9116.46px;color:rgb(35,31,31);
}
#P68_241
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P68_242
{
left:15376.8px;bottom:9556.14px;color:rgb(35,31,31);
}
#P68_243
{
left:15807.6px;bottom:9161.42px;color:rgb(35,31,31);
}
#P68_244
{
left:16124.2px;bottom:9556.14px;color:rgb(35,31,31);
}
#P68_245
{
left:16602.6px;bottom:9134.06px;color:rgb(35,31,31);
}
#P68_246
{
left:15355.7px;bottom:9100.45px;color:rgb(35,31,31);
}
#P68_247
{
left:16623.7px;bottom:9117.73px;color:rgb(35,31,31);
}
#P68_248
{
left:15376.8px;bottom:8648.62px;color:rgb(35,31,31);
}
#P68_249
{
left:15807.6px;bottom:8253.9px;color:rgb(35,31,31);
}
#P68_250
{
left:16124.2px;bottom:8648.62px;color:rgb(35,31,31);
}
#P68_251
{
left:16602.6px;bottom:9134.06px;color:rgb(35,31,31);
}
#P68_252
{
left:16623.7px;bottom:9116.46px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P68_253
{
left:16782.1px;bottom:9086.89px;color:rgb(35,31,31);
}
#P68_254
{
left:17368.5px;bottom:9116.46px;color:rgb(35,31,31);
}
#P68_255
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P68_256
{
left:17548.1px;bottom:9556.14px;color:rgb(35,31,31);
}
#P68_257
{
left:17978.9px;bottom:9161.42px;color:rgb(35,31,31);
}
#P68_258
{
left:18295.5px;bottom:9556.14px;color:rgb(35,31,31);
}
#P68_259
{
left:18773.8px;bottom:9134.06px;color:rgb(35,31,31);
}
#P68_260
{
left:17526.9px;bottom:9100.45px;color:rgb(35,31,31);
}
#P68_261
{
left:18795px;bottom:9117.73px;color:rgb(35,31,31);
}
#P68_262
{
left:17548.1px;bottom:8648.62px;color:rgb(35,31,31);
}
#P68_263
{
left:17978.9px;bottom:8253.9px;color:rgb(35,31,31);
}
#P68_264
{
left:18295.5px;bottom:8648.62px;color:rgb(35,31,31);
}
#P68_265
{
left:18773.8px;bottom:9134.06px;color:rgb(35,31,31);
}
#P68_266
{
left:20345.2px;bottom:9124.46px;color:rgb(0,124,196);
}
#P68_267
{
left:0px;letter-spacing:0px;margin-left:-36.9px;
}
#P68_268
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P68_269
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P68_270
{
left:11641.2px;bottom:7068.46px;color:rgb(35,31,31);
}
#P68_271
{
left:14617.2px;bottom:7038.89px;color:rgb(35,31,31);
}
#P68_272
{
left:15203.6px;bottom:7068.46px;color:rgb(35,31,31);
}
#P68_273
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P68_274
{
left:15383.1px;bottom:7508.14px;color:rgb(35,31,31);
}
#P68_275
{
left:16054.7px;bottom:7086.06px;color:rgb(35,31,31);
}
#P68_276
{
left:15361.9px;bottom:7052.45px;color:rgb(35,31,31);
}
#P68_277
{
left:16075.8px;bottom:7069.73px;color:rgb(35,31,31);
}
#P68_278
{
left:15383.1px;bottom:6600.62px;color:rgb(35,31,31);
}
#P68_279
{
left:16054.7px;bottom:7086.06px;color:rgb(35,31,31);
}
#P68_280
{
left:16075.8px;bottom:7068.46px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P68_281
{
left:16234.2px;bottom:7038.89px;color:rgb(35,31,31);
}
#P68_282
{
left:16820.6px;bottom:7068.46px;color:rgb(35,31,31);
}
#P68_283
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P68_284
{
left:17168.1px;bottom:7508.14px;color:rgb(35,31,31);
}
#P68_285
{
left:17503.9px;bottom:7086.06px;color:rgb(35,31,31);
}
#P68_286
{
left:16979px;bottom:7052.45px;color:rgb(35,31,31);
}
#P68_287
{
left:17692.9px;bottom:7069.73px;color:rgb(35,31,31);
}
#P68_288
{
left:17000.2px;bottom:6600.62px;color:rgb(35,31,31);
}
#P68_289
{
left:17671.8px;bottom:7086.06px;color:rgb(35,31,31);
}
#P68_290
{
left:17692.9px;bottom:7068.46px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P68_291
{
left:20345.2px;bottom:7076.46px;color:rgb(0,124,196);
}
#P68_292
{
left:0px;letter-spacing:0px;margin-left:-49.7px;
}
#P68_293
{
left:11641.2px;bottom:5212.46px;color:rgb(235,26,35);
}
#P68_294
{
left:14617.2px;bottom:5182.89px;color:rgb(35,31,31);
}
#P68_295
{
left:15203.6px;bottom:5212.46px;color:rgb(35,31,31);
}
#P68_296
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P68_297
{
left:15383.1px;bottom:5652.14px;color:rgb(35,31,31);
}
#P68_298
{
left:16054.7px;bottom:5230.06px;color:rgb(35,31,31);
}
#P68_299
{
left:15362px;bottom:5196.45px;color:rgb(35,31,31);
}
#P68_300
{
left:16075.8px;bottom:5213.73px;color:rgb(35,31,31);
}
#P68_301
{
left:15383.1px;bottom:4744.62px;color:rgb(35,31,31);
}
#P68_302
{
left:16054.7px;bottom:5230.06px;color:rgb(35,31,31);
}
#P68_303
{
left:16075.8px;bottom:5212.46px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P68_304
{
left:20345.2px;bottom:5220.46px;letter-spacing:-1.4px;color:rgb(0,124,196);
}
#P68_305
{
left:26785.2px;bottom:46188.3px;word-spacing:0.2px;color:rgb(33,31,31);
}
#P68_306
{
left:0px;letter-spacing:0px;margin-left:-44.8px;
}
#P68_307
{
left:0px;letter-spacing:0px;margin-left:0.2px;
}
#P68_308
{
left:2613.34px;bottom:30855.5px;color:white;
}
#P68_309
{
left:5968.99px;bottom:31097.1px;color:white;
}
#P68_310
{
left:6304.86px;bottom:30855.5px;color:white;
}
#P68_311
{
left:2848.01px;bottom:29752.5px;color:rgb(35,31,31);
}
#P68_312
{
left:2848.01px;bottom:28984.5px;color:rgb(35,31,31);
}
#P68_313
{
left:6545.24px;bottom:28984.5px;color:rgb(35,31,31);
}
#P68_314
{
left:2848.01px;bottom:28216.5px;color:rgb(35,31,31);
}
#P68_315
{
left:2848.01px;bottom:27448.5px;color:rgb(35,31,31);
}
#P68_316
{
left:2848.01px;bottom:26680.5px;color:rgb(35,31,31);
}
#P68_317
{
left:2848.01px;bottom:25912.5px;color:rgb(35,31,31);
}
#P68_318
{
left:15002.7px;bottom:28229.9px;color:rgb(235,26,35);
}
#P68_319
{
left:15002.7px;bottom:26565.9px;color:rgb(235,26,35);
}
#P68_320
{
left:2702.47px;bottom:43503.3px;letter-spacing:-7.7px;word-spacing:-26px;color:rgb(0,124,196);
}
#P68_321
{
left:0px;letter-spacing:0px;margin-left:7.7px;
}
#P68_322
{
left:2702.47px;bottom:42561.4px;color:rgb(35,31,31);
}
#P68_323
{
left:3470.47px;bottom:41793.4px;word-spacing:590.1px;color:rgb(35,31,31);
}
#P68_324
{
left:0px;letter-spacing:0px;margin-left:-58.7px;
}
#P68_325
{
left:7288.15px;bottom:41793.4px;color:rgb(35,31,31);
}
#P68_326
{
left:6273.56px;bottom:47048.6px;color:white;
}
#P68_327
{
left:8400.03px;bottom:47311.5px;color:white;
}
#P68_328
{
left:8729.18px;bottom:47048.6px;letter-spacing:-1.5px;color:white;
}
#P68_329
{
left:17152.4px;bottom:47311.5px;color:white;
}
#P68_330
{
left:17481.6px;bottom:47048.6px;letter-spacing:-3px;color:white;
}
#P68_331
{
left:21758.4px;bottom:47311.5px;color:white;
}
#P68_332
{
left:22087.5px;bottom:47048.6px;color:white;
}
#P68_333
{
left:2173.4px;bottom:47676.8px;letter-spacing:-1px;color:white;
}
#P68_334
{
left:4460.12px;bottom:47903.3px;color:white;
}
#P68_335
{
left:4726.04px;bottom:47676.8px;letter-spacing:-1px;color:white;
}
#P68_336
{
left:2901.72px;bottom:46476px;letter-spacing:-80.6px;color:white;
}
#P68_337
{
left:4301.34px;bottom:13360.5px;color:rgb(35,31,31);
}
#P68_338
{
left:4674.39px;bottom:13388.9px;letter-spacing:-10.2px;color:rgb(35,31,31);
}
#P68_339
{
left:6691.93px;bottom:13360.5px;color:rgb(35,31,31);
}
#P68_340
{
left:4301.34px;bottom:12656.5px;letter-spacing:-14.1px;color:rgb(35,31,31);
}
#P68_341
{
left:5012.31px;bottom:12684.9px;letter-spacing:-10.4px;color:rgb(35,31,31);
}
#P68_342
{
left:2365.37px;bottom:11756.9px;letter-spacing:6.9px;word-spacing:-5.7px;color:rgb(35,31,31);
}
#P68_343
{
left:0px;letter-spacing:5.7px;margin-left:-1.2px;
}
#P68_344
{
left:2365.37px;bottom:10980.8px;letter-spacing:-3.3px;word-spacing:-0.7px;color:rgb(35,31,31);
}
#P68_345
{
left:0px;letter-spacing:0.6px;margin-left:4.9px;
}
#P68_346
{
left:0px;letter-spacing:-2.5px;margin-left:-2.6px;
}
#P68_347
{
left:0px;letter-spacing:-2.8px;margin-left:-2.2px;
}
#P68_348
{
left:2365.37px;bottom:10487px;color:rgb(35,31,31);
}
#P68_349
{
left:2615.28px;bottom:10268.8px;color:rgb(35,31,31);
}
#P68_350
{
left:2960.24px;bottom:10292.8px;color:rgb(35,31,31);
}
#P68_351
{
left:2960.24px;bottom:10308.8px;letter-spacing:-2.5px;color:rgb(35,31,31);
}
#P68_352
{
left:0px;letter-spacing:0.3px;margin-left:1px;
}
#P68_353
{
left:2960.24px;bottom:9668.78px;letter-spacing:-1.7px;color:rgb(35,31,31);
}
#P68_354
{
left:0px;letter-spacing:-1.2px;margin-left:-3.7px;
}
#P68_355
{
left:0px;letter-spacing:0px;margin-left:1.2px;
}
#P68_356
{
left:2960.24px;bottom:9028.78px;letter-spacing:0.9px;word-spacing:-3px;color:rgb(35,31,31);
}
#P68_357
{
left:0px;letter-spacing:1.5px;margin-left:122.7px;
}
#P68_358
{
left:0px;letter-spacing:0px;margin-left:-1.2px;
}
#P68_359
{
left:2365.38px;bottom:8260.65px;letter-spacing:6.3px;word-spacing:-14.3px;color:rgb(35,31,31);
}
#P68_360
{
left:0px;letter-spacing:2.9px;margin-left:8px;
}
#P68_361
{
left:0px;letter-spacing:5.9px;margin-left:1.8px;
}
#P68_362
{
left:2365.38px;bottom:7620.65px;letter-spacing:8.4px;color:rgb(35,31,31);
}
#P68_363
{
left:10045.4px;bottom:22991.1px;color:rgb(35,31,31);
}
#P68_364
{
left:11430.2px;bottom:22991.1px;color:rgb(35,31,31);
}
#P68_365
{
left:20577.8px;bottom:22991.1px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P68_366
{
left:0px;letter-spacing:-1px;margin-left:-13.3px;
}
#P68_367
{
left:0px;letter-spacing:0px;margin-left:1px;
}
#P68_368
{
left:10045.4px;bottom:22095.1px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P68_369
{
left:0px;letter-spacing:-8.4px;margin-left:-13.6px;
}
#P68_370
{
left:0px;letter-spacing:-2.1px;margin-left:8.4px;
}
#P68_371
{
left:0px;letter-spacing:0px;margin-left:-18.9px;
}
#P68_372
{
left:0px;letter-spacing:0px;
}
#P68_373
{
left:10045.4px;bottom:21199.1px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P68_374
{
left:0px;letter-spacing:0px;margin-left:-13.7px;
}
#PageContainer68
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg068.jpg");background-repeat:no-repeat;background-size: 942px 1291px; background-position: 0px 35.3699999999999px;
}
#ImageContainer68 {bottom:37.63px;left:0.00px;width:942.01px;height:1290.88px;position:absolute;} #TextContainer68 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.rpj{  position: absolute;  top: 411px;  left: 167px;}
.srpj{  position: absolute;  top: 411px;  left: 123px;}
.example1{  position: absolute;  top: 279px;  left: 101px;}
.example2{  position: absolute;  top: 833px;  left: 100px;}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}