.tr495{ color:transparent;}
#P495_1
{
left:4592.6px;bottom:1417.71px;color:rgb(35,31,31);
}
#P495_2
{
left:29714.8px;bottom:1417.71px;letter-spacing:1px;word-spacing:462.2px;color:rgb(35,31,31);
}
#P495_3
{
left:0px;letter-spacing:0px;margin-left:-463.2px;
}
#P495_4
{
left:0px;letter-spacing:-0.1px;margin-left:-0.1px;
}
#P495_5
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P495_6
{
left:10614px;bottom:44075.2px;color:rgb(35,31,31);
}
#P495_7
{
left:11645.4px;bottom:44055.5px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P495_8
{
left:23478px;bottom:44075.2px;color:rgb(35,31,31);
}
#P495_9
{
left: 24509.4px;bottom:44055.5px;color:rgb(35,31,31);
}
#P495_10
{
left: 11665.3px;bottom:43159.5px;letter-spacing:801.6px;color:rgb(35,31,31);
}
#P495_10a
{
left: 24509.4px;bottom:43159.5px;letter-spacing:801.6px;color:rgb(35,31,31);
}
#P495_11
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P495_12
{
left:0px;letter-spacing:0.3px;
}
#P495_13
{
left:0px;letter-spacing:0px;margin-left:6893.2px;
}
#P495_14
{
left:0px;letter-spacing:0px;margin-left:481.6px;
}
#P495_15
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P495_16
{
left:0px;letter-spacing:-0.3px;
}
#P495_17
{
left:24509.4px;bottom:42263.5px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P495_18
{
left:0px;letter-spacing:0px;margin-left:-13.8px;
}
#P495_19
{
left:24509.4px;bottom:41367.5px;letter-spacing:-2px;color:rgb(35,31,31);
}
#P495_20
{
left:13444.7px;bottom:37218.5px;color:rgb(35,31,31);
}
#P495_21
{
left:13466px;bottom:37986.5px;color:rgb(35,31,31);
}
#P495_22
{
left:13476.6px;bottom:38754.5px;color:rgb(35,31,31);
}
#P495_23
{
left:13455.5px;bottom:39522.5px;color:rgb(35,31,31);
}
#P495_24
{
left:13188.6px;bottom:40290.5px;color:rgb(35,31,31);
}
#P495_25
{
left:14264.9px;bottom:35326.6px;letter-spacing:12px;color:rgb(35,31,31);
}
#P495_26
{
left:0px;letter-spacing:0px;margin-left:-12px;
}
#P495_27
{
left:13726.5px;bottom:36430.6px;color:rgb(35,31,31);
}
#P495_28
{
left:15918.9px;bottom:34452.1px;letter-spacing:-63.9px;color:rgb(35,31,31);
}
#P495_29
{
left:0px;letter-spacing:-0.8px;margin-left:63.9px;
}
#P495_30
{
left:12840.2px;bottom:37235.4px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P495_31
{
left:13893px;bottom:41219.8px;color:rgb(35,31,31);
}
#P495_32
{
left:0px;letter-spacing:0px;margin-left:-63.9px;
}
#P495_33
{
left:0px;letter-spacing:0px;margin-left:-10.4px;
}
#P495_34
{
left:15390.1px;bottom:35352px;color:rgb(35,31,31);
}
#P495_34a
{
left: 16560.1px;bottom:35352px;color:rgb(35,31,31);
}
#P495_34b
{
left: 17580.1px;bottom:35352px;color:rgb(35,31,31);
}
#P495_34c
{
left: 18720.1px;bottom:35352px;color:rgb(35,31,31);
}
#P495_34d
{
left: 19790.1px;bottom:35352px;color:rgb(35,31,31);
}
#P495_34e
{
left: 20950.1px;bottom:35352px;color:rgb(35,31,31);
}
#P495_35
{
left:23057.9px;bottom:33771.2px;letter-spacing:615.8px;color:rgb(35,31,31);
}
#P495_36
{
left:25408.7px;bottom:34032.8px;color:rgb(35,31,31);
}
#P495_37
{
left:0px;letter-spacing:0px;margin-left:742.9px;
}
#P495_38
{
left:0px;letter-spacing:0px;margin-left:742.9px;
}
#P495_39
{
left:0px;letter-spacing:0px;margin-left:742.9px;
}
#P495_40
{
left:0px;letter-spacing:0px;margin-left:742.9px;
}
#P495_41
{
left:32565.7px;bottom:35090.7px;color:rgb(33,31,31);
}
#P495_42
{
left:32466.3px;bottom:34476.3px;color:rgb(33,31,31);
}
#P495_43
{
left:26996.1px;bottom:39695.3px;color:rgb(35,31,31);
}
#P495_44
{
left:8408.09px;bottom:30660.5px;letter-spacing:9.6px;
}
#P495_45
{
left:8408.09px;bottom:30660.5px;letter-spacing:9.6px;color:white;
}
#P495_46
{
left:11010.8px;bottom:30696.2px;letter-spacing:-1.7px;color:rgb(2,77,161);
}
#P495_47
{
left:15667.9px;bottom:30888px;color:rgb(2,77,161);
}
#P495_48
{
left:15908.1px;bottom:30696.2px;color:rgb(2,77,161);
}
#P495_49
{
left:20549.3px;bottom:30745.9px;color:rgb(2,77,161);
}
#P495_50
{
left:0px;letter-spacing:0px;margin-left:38.4px;
}
#P495_51
{
left:10061.4px;bottom:29273.6px;letter-spacing:-2.2px;color:rgb(35,31,31);
}
#P495_52
{
left:0px;letter-spacing:-0.2px;margin-left:-10.4px;
}
#P495_53
{
left:0px;letter-spacing:0px;margin-left:0.2px;
}
#P495_54
{
left:10061.4px;bottom:28377.6px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P495_55
{
left:10061.4px;bottom:26905.6px;color:rgb(35,31,31);
}
#P495_56
{
left:0px;letter-spacing:0px;margin-left:1004.2px;
}
#P495_57
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P495_58
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P495_59
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P495_60
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P495_61
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P495_62
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P495_63
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P495_64
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P495_65
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P495_66
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P495_67
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P495_68
{
left:10061.4px;bottom:25049.6px;letter-spacing:-2.8px;color:rgb(35,31,31);
}
#P495_69
{
left:12237.5px;bottom:25049.6px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P495_70
{
left:0px;letter-spacing:-1.3px;margin-left:-193.6px;
}
#P495_71
{
left:0px;letter-spacing:0px;margin-left:1.3px;
}
#P495_72
{
left:27009.7px;bottom:25049.6px;letter-spacing:-2.8px;
}
#P495_73
{
left:10061.4px;bottom:22553.6px;color:rgb(35,31,31);
}
#P495_74
{
left:12621.4px;bottom:22553.6px;letter-spacing:-0.4px;color:rgb(63,172,72);
}
#P495_75
{
left:17167.6px;bottom:22553.6px;color:rgb(35,31,31);
}
#P495_76
{
left:17549.4px;bottom:22553.6px;color:rgb(63,172,72);
}
#P495_77
{
left:17922.5px;bottom:22553.6px;color:rgb(35,31,31);
}
#P495_78
{
left:28123.4px;bottom:22553.6px;color:rgb(63,172,72);
}
#P495_79
{
left:28869.6px;bottom:22553.6px;color:rgb(35,31,31);
}
#P495_80
{
left:30375.6px;bottom:22553.6px;letter-spacing:-1.4px;color:rgb(63,172,72);
}
#P495_81
{
left:10061.5px;bottom:20633.6px;color:rgb(35,31,31);
}
#P495_82
{
left:15053.5px;bottom:20633.6px;letter-spacing:-214.7px;color:rgb(235,26,35);
}
#P495_83
{
left:0px;letter-spacing:0px;margin-left:271px;
}
#P495_84
{
left:0px;letter-spacing:-0.6px;
}
#P495_85
{
left:19663.8px;bottom:20633.6px;color:rgb(35,31,31);
}
#P495_86
{
left:20621.4px;bottom:20633.6px;color:rgb(0,124,196);
}
#P495_87
{
left:24154.1px;bottom:20633.6px;color:rgb(35,31,31);
}
#P495_88
{
left:25037.4px;bottom:20633.6px;letter-spacing:-0.6px;color:rgb(235,26,35);
}
#P495_89
{
left:0px;letter-spacing:0px;margin-left:-13.3px;
}
#P495_90
{
left:10061.4px;bottom:18969.6px;letter-spacing:-2.8px;color:rgb(35,31,31);
}
#P495_91
{
left:12237.5px;bottom:18969.6px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P495_92
{
left:0px;letter-spacing:0px;margin-left:-352px;
}
#P495_93
{
left:0px;letter-spacing:-0.1px;margin-left:-8.4px;
}
#P495_94
{
left:0px;letter-spacing:-0.3px;margin-left:-13.8px;
}
#P495_95
{
left:0px;letter-spacing:0px;margin-left:-13.6px;
}
#P495_96
{
left:12589.5px;bottom:18073.6px;letter-spacing:-1.9px;word-spacing:0.2px;color:rgb(35,31,31);
}
#P495_97
{
left:0px;letter-spacing:-0.7px;margin-left:1.7px;
}
#P495_98
{
left:0px;letter-spacing:-0.2px;margin-left:-13.2px;
}
#P495_99
{
left:12589.5px;bottom:17177.6px;color:rgb(35,31,31);
}
#P495_100
{
left:13019px;bottom:17177.6px;letter-spacing:-0.2px;word-spacing:56.5px;color:rgb(35,31,31);
}
#P495_101
{
left:0px;letter-spacing:-0.2px;margin-left:-56.3px;
}
#P495_102
{
left:0px;letter-spacing:0px;margin-left:12.8px;
}
#P495_103
{
left:0px;letter-spacing:0px;margin-left:-66.9px;
}
#P495_104
{
left:10061.4px;bottom:15769.6px;letter-spacing:-2.8px;color:rgb(35,31,31);
}
#P495_105
{
left:12237.5px;bottom:15769.6px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P495_106
{
left:0px;letter-spacing:0px;margin-left:-352px;
}
#P495_107
{
left:0px;letter-spacing:-2.4px;margin-left:-8.4px;
}
#P495_108
{
left:0px;letter-spacing:-0.4px;margin-left:2.4px;
}
#P495_109
{
left:0px;letter-spacing:-0.6px;margin-left:-8.1px;
}
#P495_110
{
left:0px;letter-spacing:0px;margin-left:0.6px;
}
#P495_111
{
left:12589.5px;bottom:14873.6px;letter-spacing:-1.1px;color:rgb(35,31,31);
}
#P495_112
{
left:0px;letter-spacing:-0.4px;margin-left:1.1px;
}
#P495_113
{
left:0px;letter-spacing:-0.3px;margin-left:-13.5px;
}
#P495_114
{
left:0px;letter-spacing:0px;margin-left:-13.6px;
}
#P495_115
{
left:32108.8px;bottom:11926.1px;letter-spacing:-3.1px;color:rgb(35,31,31);
}
#P495_116
{
left:31931.1px;bottom:11311.7px;color:rgb(35,31,31);
}
#P495_117
{
left:12960.5px;bottom:10831.5px;letter-spacing:2415.6px;color:rgb(35,31,31);
}
#P495_118
{
left:0px;letter-spacing:0px;margin-left:-2415.6px;
}
#P495_119
{
left:14381.8px;bottom:10831.5px;color:rgb(35,31,31);
}
#P495_120
{
left:0px;letter-spacing:0px;margin-left:2415.6px;
}
#P495_121
{
left:0px;letter-spacing:852px;
}
#P495_122
{
left:0px;letter-spacing:852px;margin-left:-852px;
}
#P495_123
{
left:0px;letter-spacing:852px;margin-left:-852px;
}
#P495_124
{
left:0px;letter-spacing:0px;margin-left:-852px;
}
#P495_125
{
left:0px;letter-spacing:0px;margin-left:2273.3px;
}
#P495_126
{
left:0px;letter-spacing:0px;
}
#P495_127
{
left:0px;letter-spacing:0px;margin-left:2273.3px;
}
#P495_128
{
left:0px;letter-spacing:0px;
}
#P495_129
{
left:0px;letter-spacing:0px;margin-left:2273.3px;
}
#P495_130
{
left:0px;letter-spacing:0px;
}
#P495_131
{
left:22767.3px;bottom:10831.5px;color:rgb(35,31,31);
}
#P495_132
{
left:0px;letter-spacing:0px;margin-left:2273.3px;
}
#P495_133
{
left:0px;letter-spacing:0px;margin-left:2273.3px;
}
#P495_134
{
left:10045.4px;bottom:6943.98px;letter-spacing:-2.2px;color:rgb(35,31,31);
}
#P495_135
{
left:0px;letter-spacing:0px;margin-left:-10.4px;
}
#P495_136
{
left:10614px;bottom:5811.69px;color:rgb(35,31,31);
}
#P495_137
{
left:11645.4px;bottom:5791.98px;letter-spacing:-0.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P495_138
{
left:23086.4px;bottom:5811.69px;color:rgb(35,31,31);
}
#P495_139
{
left:24509.3px;bottom:5791.98px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P495_140
{
left:10045.3px;bottom:4895.98px;color:rgb(35,31,31);
}
#P495_141
{
left:0px;letter-spacing:0px;margin-left:801.5px;
}
#P495_142
{
left:0px;letter-spacing:0px;margin-left:481.6px;
}
#P495_143
{
left:0px;letter-spacing:0px;margin-left:3681px;
}
#P495_144
{
left:0px;letter-spacing:0px;margin-left:481.6px;
}
#P495_145
{
left:18415.5px;bottom:23882.9px;color:rgb(35,31,31);
}
#P495_146
{
left:0px;letter-spacing:0px;margin-left:-21px;
}
#P495_147
{
left:0px;letter-spacing:0px;margin-left:-4.2px;
}
#P495_148
{
left:0px;letter-spacing:0px;margin-left:2567.2px;
}
#P495_149
{
left:27653px;bottom:25049.6px;
}
#P495_150
{
left:28014.8px;bottom:25049.6px;letter-spacing:-14px;color:rgb(33,29,26);
}
#PageContainer495
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg495.jpg");background-repeat:no-repeat;background-size: 1066px 1229px; background-position: 1px -0.230000000000018px;
}
#ImageContainer495 {bottom:135.23px;right:0.00px;width:1066.24px;height:1228.93px;position:absolute;} #TextContainer495 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}