.tr620{ color:transparent;}
#P620_1
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P620_2
{
left:3540.44px;bottom:1417.71px;color:rgb(35,31,31);
}
#P620_3
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P620_4
{
left:9487.37px;bottom:1417.71px;letter-spacing:5px;word-spacing:461.9px;color:rgb(35,31,31);
}
#P620_5
{
left:0px;letter-spacing:2.7px;margin-left:-4.8px;
}
#P620_6
{
left:0px;letter-spacing:0px;margin-left:-464.6px;
}
#P620_7
{
left:0px;letter-spacing:2.4px;margin-left:0.2px;
}
#P620_8
{
left:0px;letter-spacing:0px;margin-left:-464.3px;
}
#P620_9
{
left:0px;letter-spacing:1.1px;margin-left:-8.1px;
}
#P620_10
{
left:4669.4px;bottom:45479.5px;color:rgb(35,31,31);
}
#P620_11
{
left:5237.98px;bottom:45499.2px;color:rgb(35,31,31);
}
#P620_12
{
left:6269.4px;bottom:45479.5px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P620_13
{
left:0px;letter-spacing:-3.5px;margin-left:0.5px;
}
#P620_14
{
left:0px;letter-spacing:0px;margin-left:3.5px;
}
#P620_15
{
left:25865.3px;bottom:45479.5px;letter-spacing:0.9px;color:rgb(0,124,196);
}
#P620_16
{
left:4669.4px;bottom:43687.5px;letter-spacing:1441.6px;color:rgb(35,31,31);
}
#P620_17
{
left:14525.4px;bottom:43657.9px;color:rgb(35,31,31);
}
#P620_18
{
left:14957px;bottom:43687.5px;color:rgb(35,31,31);
}
#P620_19
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P620_20
{
left:15136.5px;bottom:44127.1px;color:rgb(35,31,31);
}
#P620_21
{
left:15472.3px;bottom:43705.1px;color:rgb(35,31,31);
}
#P620_22
{
left:15115.4px;bottom:43671.4px;color:rgb(35,31,31);
}
#P620_23
{
left:15493.4px;bottom:43688.7px;color:rgb(35,31,31);
}
#P620_24
{
left:15136.5px;bottom:43219.6px;color:rgb(35,31,31);
}
#P620_25
{
left:15472.3px;bottom:43705.1px;color:rgb(35,31,31);
}
#P620_26
{
left:15493.4px;bottom:43687.5px;color:rgb(35,31,31);
}
#P620_27
{
left:15493.4px;bottom:43687.5px;color:rgb(35,31,31);
}
#P620_28
{
left:15856.7px;bottom:43687.5px;color:rgb(35,31,31);
}
#P620_29
{
left:16015.1px;bottom:43657.9px;color:rgb(35,31,31);
}
#P620_30
{
left:16601.4px;bottom:43687.5px;color:rgb(35,31,31);
}
#P620_31
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P620_32
{
left:16781px;bottom:44127.1px;color:rgb(35,31,31);
}
#P620_33
{
left:17116.8px;bottom:43705.1px;color:rgb(35,31,31);
}
#P620_34
{
left:16759.8px;bottom:43671.4px;color:rgb(35,31,31);
}
#P620_35
{
left:17137.9px;bottom:43688.7px;color:rgb(35,31,31);
}
#P620_36
{
left:16781px;bottom:43219.6px;color:rgb(35,31,31);
}
#P620_37
{
left:17116.8px;bottom:43705.1px;color:rgb(35,31,31);
}
#P620_38
{
left:17137.9px;bottom:43687.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P620_39
{
left:17296.3px;bottom:43657.9px;color:rgb(35,31,31);
}
#P620_40
{
left:17882.7px;bottom:43687.5px;color:rgb(35,31,31);
}
#P620_41
{
left:18041.1px;bottom:43657.9px;color:rgb(35,31,31);
}
#P620_42
{
left:18472.7px;bottom:43687.5px;color:rgb(35,31,31);
}
#P620_43
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P620_44
{
left:18652.2px;bottom:44127.1px;color:rgb(35,31,31);
}
#P620_45
{
left:18988px;bottom:43705.1px;color:rgb(35,31,31);
}
#P620_46
{
left:18631.1px;bottom:43671.4px;color:rgb(35,31,31);
}
#P620_47
{
left:19009.1px;bottom:43688.7px;color:rgb(35,31,31);
}
#P620_48
{
left:18652.2px;bottom:43219.6px;color:rgb(35,31,31);
}
#P620_49
{
left:18988px;bottom:43705.1px;color:rgb(35,31,31);
}
#P620_50
{
left:19009.1px;bottom:43687.5px;color:rgb(35,31,31);
}
#P620_51
{
left:4669.4px;bottom:41447.5px;color:rgb(35,31,31);
}
#P620_52
{
left:6392.15px;bottom:41467.2px;letter-spacing:-90.7px;color:rgb(35,31,31);
}
#P620_53
{
left:6849.11px;bottom:41447.5px;color:rgb(35,31,31);
}
#P620_54
{
left:7293.4px;bottom:41417.9px;color:rgb(35,31,31);
}
#P620_55
{
left:7724.95px;bottom:41447.5px;color:rgb(35,31,31);
}
#P620_56
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P620_57
{
left:7904.47px;bottom:41887.1px;color:rgb(35,31,31);
}
#P620_58
{
left:8240.28px;bottom:41465.1px;color:rgb(35,31,31);
}
#P620_59
{
left:7883.35px;bottom:41431.5px;color:rgb(35,31,31);
}
#P620_60
{
left:8261.4px;bottom:41448.7px;color:rgb(35,31,31);
}
#P620_61
{
left:7904.47px;bottom:40979.6px;color:rgb(35,31,31);
}
#P620_62
{
left:8240.28px;bottom:41465.1px;color:rgb(35,31,31);
}
#P620_63
{
left:8261.4px;bottom:41447.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P620_64
{
left:8349.4px;bottom:41447.5px;color:rgb(35,31,31);
}
#P620_65
{
left:8712.67px;bottom:41447.5px;color:rgb(35,31,31);
}
#P620_66
{
left:8871.07px;bottom:41417.9px;color:rgb(35,31,31);
}
#P620_67
{
left:9457.5px;bottom:41447.5px;color:rgb(35,31,31);
}
#P620_68
{
left:9615.83px;bottom:41417.9px;color:rgb(35,31,31);
}
#P620_69
{
left:10047.4px;bottom:41447.5px;color:rgb(35,31,31);
}
#P620_70
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P620_71
{
left:10226.9px;bottom:41887.1px;color:rgb(35,31,31);
}
#P620_72
{
left:10562.7px;bottom:41465.1px;color:rgb(35,31,31);
}
#P620_73
{
left:10205.8px;bottom:41431.5px;color:rgb(35,31,31);
}
#P620_74
{
left:10583.8px;bottom:41448.7px;color:rgb(35,31,31);
}
#P620_75
{
left:10226.9px;bottom:40979.6px;color:rgb(35,31,31);
}
#P620_76
{
left:10562.7px;bottom:41465.1px;color:rgb(35,31,31);
}
#P620_77
{
left:10583.8px;bottom:41447.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P620_78
{
left:10742.2px;bottom:41417.9px;color:rgb(35,31,31);
}
#P620_79
{
left:11328.7px;bottom:41447.5px;color:rgb(35,31,31);
}
#P620_80
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P620_81
{
left:11508.2px;bottom:41887.1px;color:rgb(35,31,31);
}
#P620_82
{
left:11844px;bottom:41465.1px;color:rgb(35,31,31);
}
#P620_83
{
left:11487.1px;bottom:41431.5px;color:rgb(35,31,31);
}
#P620_84
{
left:11865.1px;bottom:41448.7px;color:rgb(35,31,31);
}
#P620_85
{
left:11508.2px;bottom:40979.6px;color:rgb(35,31,31);
}
#P620_86
{
left:11844px;bottom:41465.1px;color:rgb(35,31,31);
}
#P620_87
{
left:11865.1px;bottom:41447.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P620_88
{
left:20737.1px;bottom:41467.2px;color:rgb(35,31,31);
}
#P620_89
{
left:21441.1px;bottom:41447.5px;color:rgb(35,31,31);
}
#P620_90
{
left:21885.4px;bottom:41447.5px;color:rgb(35,31,31);
}
#P620_91
{
left:22248.7px;bottom:41447.5px;color:rgb(35,31,31);
}
#P620_92
{
left:22407.1px;bottom:41417.9px;color:rgb(35,31,31);
}
#P620_93
{
left:22993.5px;bottom:41447.5px;color:rgb(35,31,31);
}
#P620_94
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P620_95
{
left:23173px;bottom:41887.1px;color:rgb(35,31,31);
}
#P620_96
{
left:23508.8px;bottom:41465.1px;color:rgb(35,31,31);
}
#P620_97
{
left:23151.9px;bottom:41431.5px;color:rgb(35,31,31);
}
#P620_98
{
left:23529.9px;bottom:41448.7px;color:rgb(35,31,31);
}
#P620_99
{
left:23173px;bottom:40979.6px;color:rgb(35,31,31);
}
#P620_100
{
left:23508.8px;bottom:41465.1px;color:rgb(35,31,31);
}
#P620_101
{
left:23529.9px;bottom:41447.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P620_102
{
left:23688.3px;bottom:41417.9px;color:rgb(35,31,31);
}
#P620_103
{
left:24274.7px;bottom:41447.5px;color:rgb(35,31,31);
}
#P620_104
{
left:24433.1px;bottom:41417.9px;color:rgb(35,31,31);
}
#P620_105
{
left:24864.7px;bottom:41447.5px;color:rgb(35,31,31);
}
#P620_106
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P620_107
{
left:25044.2px;bottom:41887.1px;color:rgb(35,31,31);
}
#P620_108
{
left:25380px;bottom:41465.1px;color:rgb(35,31,31);
}
#P620_109
{
left:25023.1px;bottom:41431.5px;color:rgb(35,31,31);
}
#P620_110
{
left:25401.1px;bottom:41448.7px;color:rgb(35,31,31);
}
#P620_111
{
left:25044.2px;bottom:40979.6px;color:rgb(35,31,31);
}
#P620_112
{
left:25380px;bottom:41465.1px;color:rgb(35,31,31);
}
#P620_113
{
left:25401.1px;bottom:41447.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P620_114
{
left:25506.7px;bottom:41008.9px;color:rgb(35,31,31);
}
#P620_115
{
left:25858.5px;bottom:41447.5px;color:rgb(35,31,31);
}
#P620_116
{
left:26016.9px;bottom:40858.2px;color:rgb(35,31,31);
}
#P620_117
{
left:26263.3px;bottom:41181.1px;color:rgb(35,31,31);
}
#P620_118
{
left:26319.6px;bottom:41417.9px;color:rgb(35,31,31);
}
#P620_119
{
left:26751.1px;bottom:41447.5px;color:rgb(35,31,31);
}
#P620_120
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P620_121
{
left:26930.6px;bottom:41887.1px;color:rgb(35,31,31);
}
#P620_122
{
left:27266.5px;bottom:41465.1px;color:rgb(35,31,31);
}
#P620_123
{
left:26909.5px;bottom:41431.5px;color:rgb(35,31,31);
}
#P620_124
{
left:27287.6px;bottom:41448.7px;color:rgb(35,31,31);
}
#P620_125
{
left:26930.6px;bottom:40979.6px;color:rgb(35,31,31);
}
#P620_126
{
left:27266.5px;bottom:41465.1px;color:rgb(35,31,31);
}
#P620_127
{
left:27287.6px;bottom:41447.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P620_128
{
left:27343.9px;bottom:40858.2px;color:rgb(35,31,31);
}
#P620_129
{
left:27590.3px;bottom:41447.5px;color:rgb(35,31,31);
}
#P620_130
{
left:4669.4px;bottom:39591.5px;color:rgb(35,31,31);
}
#P620_131
{
left:6145.11px;bottom:39611.2px;color:rgb(35,31,31);
}
#P620_132
{
left:6849.11px;bottom:39591.5px;color:rgb(35,31,31);
}
#P620_133
{
left:7293.4px;bottom:39561.9px;color:rgb(35,31,31);
}
#P620_134
{
left:7724.95px;bottom:39591.5px;color:rgb(35,31,31);
}
#P620_135
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P620_136
{
left:7904.47px;bottom:40031.1px;color:rgb(35,31,31);
}
#P620_137
{
left:8240.28px;bottom:39609.1px;color:rgb(35,31,31);
}
#P620_138
{
left:7883.35px;bottom:39575.5px;color:rgb(35,31,31);
}
#P620_139
{
left:8261.4px;bottom:39592.7px;color:rgb(35,31,31);
}
#P620_140
{
left:7904.47px;bottom:39123.6px;color:rgb(35,31,31);
}
#P620_141
{
left:8240.28px;bottom:39609.1px;color:rgb(35,31,31);
}
#P620_142
{
left:8261.4px;bottom:39591.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P620_143
{
left:8349.4px;bottom:39591.5px;color:rgb(35,31,31);
}
#P620_144
{
left:8712.67px;bottom:39591.5px;color:rgb(35,31,31);
}
#P620_145
{
left:8871.07px;bottom:39561.9px;color:rgb(35,31,31);
}
#P620_146
{
left:9457.5px;bottom:39591.5px;color:rgb(35,31,31);
}
#P620_147
{
left:9615.83px;bottom:39561.9px;color:rgb(35,31,31);
}
#P620_148
{
left:10047.4px;bottom:39591.5px;color:rgb(35,31,31);
}
#P620_149
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P620_150
{
left:10226.9px;bottom:40031.1px;color:rgb(35,31,31);
}
#P620_151
{
left:10562.7px;bottom:39609.1px;color:rgb(35,31,31);
}
#P620_152
{
left:10205.8px;bottom:39575.5px;color:rgb(35,31,31);
}
#P620_153
{
left:10583.8px;bottom:39592.7px;color:rgb(35,31,31);
}
#P620_154
{
left:10226.9px;bottom:39123.6px;color:rgb(35,31,31);
}
#P620_155
{
left:10562.7px;bottom:39609.1px;color:rgb(35,31,31);
}
#P620_156
{
left:10583.8px;bottom:39591.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P620_157
{
left:10742.2px;bottom:39561.9px;color:rgb(35,31,31);
}
#P620_158
{
left:11328.7px;bottom:39591.5px;color:rgb(35,31,31);
}
#P620_159
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P620_160
{
left:11508.2px;bottom:40031.1px;color:rgb(35,31,31);
}
#P620_161
{
left:11844px;bottom:39609.1px;color:rgb(35,31,31);
}
#P620_162
{
left:11487.1px;bottom:39575.5px;color:rgb(35,31,31);
}
#P620_163
{
left:11865.1px;bottom:39592.7px;color:rgb(35,31,31);
}
#P620_164
{
left:11508.2px;bottom:39123.6px;color:rgb(35,31,31);
}
#P620_165
{
left:11844px;bottom:39609.1px;color:rgb(35,31,31);
}
#P620_166
{
left:11865.1px;bottom:39591.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P620_167
{
left:21049.7px;bottom:39611.2px;color:rgb(35,31,31);
}
#P620_168
{
left:21441.1px;bottom:39591.5px;color:rgb(35,31,31);
}
#P620_169
{
left:21885.4px;bottom:39591.5px;color:rgb(35,31,31);
}
#P620_170
{
left:22248.7px;bottom:39591.5px;color:rgb(35,31,31);
}
#P620_171
{
left:22407.1px;bottom:39561.9px;color:rgb(35,31,31);
}
#P620_172
{
left:22993.5px;bottom:39591.5px;color:rgb(35,31,31);
}
#P620_173
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P620_174
{
left:23173px;bottom:40031.1px;color:rgb(35,31,31);
}
#P620_175
{
left:23508.8px;bottom:39609.1px;color:rgb(35,31,31);
}
#P620_176
{
left:23151.9px;bottom:39575.5px;color:rgb(35,31,31);
}
#P620_177
{
left:23529.9px;bottom:39592.7px;color:rgb(35,31,31);
}
#P620_178
{
left:23173px;bottom:39123.6px;color:rgb(35,31,31);
}
#P620_179
{
left:23508.8px;bottom:39609.1px;color:rgb(35,31,31);
}
#P620_180
{
left:23529.9px;bottom:39591.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P620_181
{
left:23688.3px;bottom:39561.9px;color:rgb(35,31,31);
}
#P620_182
{
left:24274.7px;bottom:39591.5px;color:rgb(35,31,31);
}
#P620_183
{
left:24433.1px;bottom:39561.9px;color:rgb(35,31,31);
}
#P620_184
{
left:24864.7px;bottom:39591.5px;color:rgb(35,31,31);
}
#P620_185
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P620_186
{
left:25044.2px;bottom:40031.1px;color:rgb(35,31,31);
}
#P620_187
{
left:25380px;bottom:39609.1px;color:rgb(35,31,31);
}
#P620_188
{
left:25023.1px;bottom:39575.5px;color:rgb(35,31,31);
}
#P620_189
{
left:25401.1px;bottom:39592.7px;color:rgb(35,31,31);
}
#P620_190
{
left:25044.2px;bottom:39123.6px;color:rgb(35,31,31);
}
#P620_191
{
left:25380px;bottom:39609.1px;color:rgb(35,31,31);
}
#P620_192
{
left:25401.1px;bottom:39591.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P620_193
{
left:25506.7px;bottom:39152.9px;color:rgb(35,31,31);
}
#P620_194
{
left:25858.5px;bottom:39591.5px;color:rgb(35,31,31);
}
#P620_195
{
left:26016.9px;bottom:39009.7px;color:rgb(35,31,31);
}
#P620_196
{
left:26263.3px;bottom:39325.1px;color:rgb(35,31,31);
}
#P620_197
{
left:26319.6px;bottom:39561.9px;color:rgb(35,31,31);
}
#P620_198
{
left:26751.1px;bottom:39591.5px;color:rgb(35,31,31);
}
#P620_199
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P620_200
{
left:26930.6px;bottom:40031.1px;color:rgb(35,31,31);
}
#P620_201
{
left:27266.5px;bottom:39609.1px;color:rgb(35,31,31);
}
#P620_202
{
left:26909.5px;bottom:39575.5px;color:rgb(35,31,31);
}
#P620_203
{
left:27287.6px;bottom:39592.7px;color:rgb(35,31,31);
}
#P620_204
{
left:26930.6px;bottom:39123.6px;color:rgb(35,31,31);
}
#P620_205
{
left:27266.5px;bottom:39609.1px;color:rgb(35,31,31);
}
#P620_206
{
left:27287.6px;bottom:39591.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P620_207
{
left:27343.9px;bottom:39009.7px;color:rgb(35,31,31);
}
#P620_208
{
left:27590.3px;bottom:39591.5px;color:rgb(35,31,31);
}
#P620_209
{
left:4669.4px;bottom:36775.5px;color:rgb(35,31,31);
}
#P620_210
{
left:5237.85px;bottom:36795.2px;color:rgb(35,31,31);
}
#P620_211
{
left:6269.4px;bottom:36775.5px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P620_212
{
left:0px;letter-spacing:-2.1px;margin-left:0.6px;
}
#P620_213
{
left:0px;letter-spacing:0px;margin-left:2.1px;
}
#P620_214
{
left:20284.1px;bottom:36775.5px;color:rgb(0,124,196);
}
#P620_215
{
left:4669.4px;bottom:35273.9px;letter-spacing:1424px;color:rgb(35,31,31);
}
#P620_216
{
left:0px;letter-spacing:0px;margin-left:3200px;
}
#P620_217
{
left:11655.8px;bottom:35303.5px;color:rgb(35,31,31);
}
#P620_218
{
left:13120.2px;bottom:35273.9px;color:rgb(35,31,31);
}
#P620_219
{
left:13706.6px;bottom:35303.5px;color:rgb(35,31,31);
}
#P620_220
{
left:13865px;bottom:35273.9px;color:rgb(35,31,31);
}
#P620_221
{
left:14451.4px;bottom:35303.5px;color:rgb(35,31,31);
}
#P620_222
{
left:4669.4px;bottom:32743.5px;color:rgb(35,31,31);
}
#P620_223
{
left:5237.98px;bottom:32763.2px;color:rgb(35,31,31);
}
#P620_224
{
left:6269.4px;bottom:32743.5px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P620_225
{
left:0px;letter-spacing:-4.2px;margin-left:0.4px;
}
#P620_226
{
left:0px;letter-spacing:0px;margin-left:-52px;
}
#P620_227
{
left:14829.4px;bottom:30658.1px;letter-spacing:1616px;color:rgb(35,31,31);
}
#P620_228
{
left:17207.8px;bottom:30645.4px;color:rgb(35,31,31);
}
#P620_229
{
left:18258.2px;bottom:30658.1px;color:rgb(35,31,31);
}
#P620_230
{
left:18844.6px;bottom:30645.4px;color:rgb(35,31,31);
}
#P620_231
{
left:19020.6px;bottom:30658.1px;color:rgb(35,31,31);
}
#P620_232
{
left:19607px;bottom:30645.4px;color:rgb(35,31,31);
}
#P620_233
{
left:20315.9px;bottom:30645.4px;color:rgb(35,31,31);
}
#P620_234
{
left:20595.4px;bottom:30645.4px;color:rgb(35,31,31);
}
#P620_235
{
left:20771.4px;bottom:30658.1px;color:rgb(35,31,31);
}
#P620_236
{
left:21357.8px;bottom:30645.4px;color:rgb(35,31,31);
}
#P620_237
{
left:14829.3px;bottom:29314.1px;letter-spacing:1616px;color:rgb(35,31,31);
}
#P620_238
{
left:17207.8px;bottom:29301.4px;color:rgb(35,31,31);
}
#P620_239
{
left:18258.1px;bottom:29314.1px;color:rgb(35,31,31);
}
#P620_240
{
left:18844.6px;bottom:29301.4px;color:rgb(35,31,31);
}
#P620_241
{
left:19020.6px;bottom:29314.1px;color:rgb(35,31,31);
}
#P620_242
{
left:19607px;bottom:29301.4px;color:rgb(35,31,31);
}
#P620_243
{
left:20059px;bottom:29301.4px;color:rgb(35,31,31);
}
#P620_244
{
left:20338.4px;bottom:29301.4px;color:rgb(35,31,31);
}
#P620_245
{
left:20514.4px;bottom:29314.1px;color:rgb(35,31,31);
}
#P620_246
{
left:21276.8px;bottom:29301.4px;color:rgb(35,31,31);
}
#P620_247
{
left:14829.3px;bottom:27970.1px;color:rgb(35,31,31);
}
#P620_248
{
left:15415.8px;bottom:27957.4px;color:rgb(35,31,31);
}
#P620_249
{
left:16466.1px;bottom:27970.1px;color:rgb(35,31,31);
}
#P620_250
{
left:17052.6px;bottom:27957.4px;color:rgb(35,31,31);
}
#P620_251
{
left:18268.3px;bottom:27970.1px;color:rgb(35,31,31);
}
#P620_252
{
left:18854.7px;bottom:27957.4px;color:rgb(35,31,31);
}
#P620_253
{
left:19030.7px;bottom:27970.1px;color:rgb(35,31,31);
}
#P620_254
{
left:19617.2px;bottom:27957.4px;color:rgb(35,31,31);
}
#P620_255
{
left:20069.1px;bottom:27957.4px;color:rgb(35,31,31);
}
#P620_256
{
left:20348.6px;bottom:27957.4px;color:rgb(35,31,31);
}
#P620_257
{
left:20524.6px;bottom:27970.1px;color:rgb(35,31,31);
}
#P620_258
{
left:21287.1px;bottom:27957.4px;color:rgb(35,31,31);
}
#P620_259
{
left:22326.9px;bottom:27970.1px;color:rgb(35,31,31);
}
#P620_260
{
left:22913.3px;bottom:27957.4px;color:rgb(35,31,31);
}
#P620_261
{
left:14829.3px;bottom:26626.1px;letter-spacing:2064px;color:rgb(35,31,31);
}
#P620_262
{
left:17655.8px;bottom:26613.4px;color:rgb(35,31,31);
}
#P620_263
{
left:18283.7px;bottom:26626.1px;color:rgb(35,31,31);
}
#P620_264
{
left:18870.2px;bottom:26613.4px;color:rgb(35,31,31);
}
#P620_265
{
left:19046.2px;bottom:26626.1px;color:rgb(35,31,31);
}
#P620_266
{
left:19632.6px;bottom:26613.4px;color:rgb(35,31,31);
}
#P620_267
{
left:20084.6px;bottom:26613.4px;color:rgb(35,31,31);
}
#P620_268
{
left:14829.3px;bottom:24991.7px;letter-spacing:1985.6px;color:rgb(35,31,31);
}
#P620_269
{
left:0px;letter-spacing:0px;margin-left:-2144.1px;
}
#P620_270
{
left:17062.9px;bottom:25404.7px;color:rgb(35,31,31);
}
#P620_271
{
left:17590.7px;bottom:25393.3px;color:rgb(35,31,31);
}
#P620_272
{
left:17997.5px;bottom:24971.2px;color:rgb(35,31,31);
}
#P620_273
{
left:16973.4px;bottom:24975.6px;color:rgb(35,31,31);
}
#P620_274
{
left:18087px;bottom:24992.9px;color:rgb(35,31,31);
}
#P620_275
{
left:16994.5px;bottom:24497.2px;color:rgb(35,31,31);
}
#P620_276
{
left:17522.3px;bottom:24485.8px;color:rgb(35,31,31);
}
#P620_277
{
left:17929px;bottom:24971.2px;color:rgb(35,31,31);
}
#P620_278
{
left:17950.2px;bottom:24991.7px;color:rgb(35,31,31);
}
#P620_279
{
left:17950.2px;bottom:24949.4px;color:rgb(35,31,31);
}
#P620_280
{
left:18274px;bottom:24962.1px;color:rgb(35,31,31);
}
#P620_281
{
left:19036.4px;bottom:24949.4px;color:rgb(35,31,31);
}
#P620_282
{
left:19212.4px;bottom:24991.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P620_283
{
left:19233.6px;bottom:25382.6px;color:rgb(35,31,31);
}
#P620_284
{
left:19761.4px;bottom:25371.2px;color:rgb(35,31,31);
}
#P620_285
{
left:20168.1px;bottom:25371.2px;color:rgb(35,31,31);
}
#P620_286
{
left:20419.7px;bottom:24971.2px;color:rgb(35,31,31);
}
#P620_287
{
left:19075.6px;bottom:24953.5px;color:rgb(35,31,31);
}
#P620_288
{
left:20440.8px;bottom:24992.9px;color:rgb(35,31,31);
}
#P620_289
{
left:19222.5px;bottom:24475.1px;color:rgb(35,31,31);
}
#P620_290
{
left:19908.7px;bottom:24463.7px;color:rgb(35,31,31);
}
#P620_291
{
left:20315.4px;bottom:24971.2px;color:rgb(35,31,31);
}
#P620_292
{
left:20462.4px;bottom:24991.7px;color:rgb(35,31,31);
}
#P620_293
{
left:14829.4px;bottom:23327.7px;color:rgb(35,31,31);
}
#P620_294
{
left:0px;letter-spacing:0px;margin-left:2563.2px;
}
#P620_295
{
left:17909.9px;bottom:23285.4px;color:rgb(35,31,31);
}
#P620_296
{
left:18134.4px;bottom:23327.7px;color:rgb(35,31,31);
}
#P620_297
{
left:18292.8px;bottom:23298.1px;color:rgb(35,31,31);
}
#P620_298
{
left:18879.3px;bottom:23285.4px;color:rgb(35,31,31);
}
#P620_299
{
left:19055.3px;bottom:23285.4px;color:rgb(35,31,31);
}
#P620_300
{
left: 6289.4px;bottom:21159.6px;letter-spacing:1441.6px;color:rgb(35,31,31);
}
#P620_301
{
left:0px;letter-spacing:-0.6px;margin-left:-1441.6px;
}
#P620_302
{
left:0px;letter-spacing:-0.2px;margin-left:0.6px;
}
#P620_303
{
left:25337.8px;bottom:21159.5px;letter-spacing:0.9px;color:rgb(0,124,196);
}
#P620_304
{
left:4669.4px;bottom:19815.5px;color:rgb(35,31,31);
}
#P620_305
{
left:6145.11px;bottom:19835.2px;color:rgb(35,31,31);
}
#P620_306
{
left: 7259.11px;bottom:19815.5px;letter-spacing:285.9px;color:rgb(35,31,31);
}
#P620_307
{
left:0px;letter-spacing:0px;margin-left:-292.8px;
}
#P620_308
{
left:4669.4px;bottom:18279.5px;color:rgb(35,31,31);
}
#P620_309
{
left:6223.26px;bottom:18299.2px;color:rgb(35,31,31);
}
#P620_310
{
left:7292.27px;bottom:18279.5px;letter-spacing:-1.1px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P620_311
{
left:0px;letter-spacing:0px;margin-left:-284.8px;
}
#P620_312
{
left:0px;letter-spacing:-1px;
}
#P620_313
{
left:11662.7px;bottom:18279.5px;color:rgb(35,31,31);
}
#P620_314
{
left:12026px;bottom:18279.5px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P620_315
{
left:4669.47px;bottom:16743.5px;color:rgb(35,31,31);
}
#P620_316
{
left:6223.32px;bottom:16763.2px;color:rgb(35,31,31);
}
#P620_317
{
left:7293.59px;bottom:16743.5px;letter-spacing:0.1px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P620_318
{
left:0px;letter-spacing:0px;margin-left:-286px;
}
#P620_319
{
left:0px;letter-spacing:0px;
}
#P620_320
{
left:11875.7px;bottom:16713.9px;color:rgb(35,31,31);
}
#P620_321
{
left:12462.1px;bottom:16743.5px;color:rgb(35,31,31);
}
#P620_322
{
left:15302px;bottom:16743.5px;color:rgb(35,31,31);
}
#P620_323
{
left:15665.2px;bottom:16743.5px;color:rgb(35,31,31);
}
#P620_324
{
left:15823.6px;bottom:16713.9px;color:rgb(35,31,31);
}
#P620_325
{
left:16410.1px;bottom:16743.5px;color:rgb(35,31,31);
}
#P620_326
{
left:17314.7px;bottom:16743.5px;color:rgb(35,31,31);
}
#P620_327
{
left:17501.3px;bottom:16743.5px;color:rgb(35,31,31);
}
#P620_328
{
left:4669.47px;bottom:15207.6px;color:rgb(35,31,31);
}
#P620_329
{
left:6145.18px;bottom:15227.3px;color:rgb(35,31,31);
}
#P620_330
{
left:7293.59px;bottom:15207.6px;letter-spacing:0.1px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P620_331
{
left:0px;letter-spacing:0px;margin-left:-286px;
}
#P620_332
{
left:0px;letter-spacing:0px;
}
#P620_333
{
left:11875.7px;bottom:15178px;color:rgb(35,31,31);
}
#P620_334
{
left:12462.1px;bottom:15207.6px;color:rgb(35,31,31);
}
#P620_335
{
left:14928.9px;bottom:15178px;color:rgb(35,31,31);
}
#P620_336
{
left:15515.3px;bottom:15207.6px;color:rgb(35,31,31);
}
#P620_337
{
left:15888.4px;bottom:15207.6px;color:rgb(35,31,31);
}
#P620_338
{
left:16251.7px;bottom:15207.6px;color:rgb(35,31,31);
}
#P620_339
{
left:16410.1px;bottom:15178px;color:rgb(35,31,31);
}
#P620_340
{
left:16996.5px;bottom:15207.6px;color:rgb(35,31,31);
}
#P620_341
{
left:4669.47px;bottom:12967.6px;color:rgb(35,31,31);
}
#P620_342
{
left:5238.04px;bottom:12987.3px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P620_343
{
left:6269.47px;bottom:12967.6px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P620_344
{
left:0px;letter-spacing:-21.1px;margin-left:-13.8px;
}
#P620_345
{
left:0px;letter-spacing:-0.2px;margin-left:21.1px;
}
#P620_346
{
left:26746.7px;bottom:12967.6px;color:rgb(35,31,31);
}
#P620_347
{
left:27006.5px;bottom:12967.6px;color:rgb(35,31,31);
}
#P620_348
{
left:6269.47px;bottom:12071.6px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P620_349
{
left:0px;letter-spacing:0px;margin-left:-13.2px;
}
#P620_350
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P620_351
{
left:17560.4px;bottom:12071.5px;letter-spacing:0.9px;color:rgb(0,124,196);
}
#P620_352
{
left:4669.4px;bottom:10279.5px;color:rgb(35,31,31);
}
#P620_353
{
left:4669.4px;bottom:6823.47px;color:rgb(35,31,31);
}
#P620_354
{
left:6392.15px;bottom:6843.18px;letter-spacing:-90.7px;color:rgb(35,31,31);
}
#P620_355
{
left:7293.41px;bottom:6823.47px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P620_356
{
left:20737.2px;bottom:6843.18px;color:rgb(35,31,31);
}
#P620_357
{
left:21885.5px;bottom:6823.47px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P620_358
{
left:4669.47px;bottom:4967.47px;color:rgb(35,31,31);
}
#P620_359
{
left:6145.18px;bottom:4987.18px;color:rgb(35,31,31);
}
#P620_360
{
left:7293.47px;bottom:4967.47px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P620_361
{
left:21049.9px;bottom:4987.18px;color:rgb(35,31,31);
}
#P620_362
{
left:21885.6px;bottom:4967.47px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P620_363
{
left:4669.4px;bottom:35273.9px;color:rgb(235,96,100);
}
#P620_364
{
left:11724.9px;bottom:9172.91px;color:rgb(235,26,35);
}
#P620_365
{
left:15642.8px;bottom:11059.9px;color:rgb(235,26,35);
}
#P620_366
{
left:16020.7px;bottom:10938.9px;color:rgb(235,26,35);
}
#PageContainer620
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg620.jpg");background-repeat:no-repeat;background-size: 1066px 1150px; background-position: 1px -0.269999999999982px;
}
#ImageContainer620 {bottom:214.27px;right:0.00px;width:1066.24px;height:1149.89px;position:absolute;} #TextContainer620 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}