.tr711{ color:transparent;}
#P711_1
{
left:4592.6px;bottom:1417.71px;color:rgb(35,31,31);
}
#P711_2
{
left:22532.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P711_3
{
left:27443.5px;bottom:1417.71px;letter-spacing:2.5px;word-spacing:461px;color:rgb(35,31,31);
}
#P711_4
{
left:0px;letter-spacing:0px;margin-left:176.5px;
}
#P711_5
{
left:0px;letter-spacing:2.9px;margin-left:1.1px;
}
#P711_6
{
left:0px;letter-spacing:0px;margin-left:-463.9px;
}
#P711_7
{
left:0px;letter-spacing:1.2px;margin-left:1.1px;
}
#P711_8
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P711_9
{
left:7761.95px;bottom:28785.6px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P711_10
{
left:14630.3px;bottom:28810.2px;color:white;
}
#P711_11
{
left:15045.9px;bottom:29002px;color:white;
}
#P711_12
{
left:15286.1px;bottom:28810.2px;color:white;
}
#P711_13
{
left:16262.4px;bottom:29002px;color:white;
}
#P711_14
{
left:16502.6px;bottom:28810.2px;color:white;
}
#P711_15
{
left:19800.5px;bottom:29002px;color:white;
}
#P711_16
{
left:20040.7px;bottom:28810.2px;color:white;
}
#P711_17
{
left:22058.1px;bottom:29002px;color:white;
}
#P711_18
{
left:22298.3px;bottom:28810.2px;color:white;
}
#P711_19
{
left:12785.9px;bottom:28643.1px;
}
#P711_20
{
left:12785.9px;bottom:28643.1px;color:white;
}
#P711_21
{
left:8013.4px;
bottom: 6122.78px;color:rgb(35,31,31);
}
#P711_22
{
left:0px;letter-spacing:0px;margin-left:-66.2px;
}
#P711_23
{
left:8013.4px;
bottom: 5482.78px;color:rgb(35,31,31);
}
#P711_24
{
left:7773.4px;bottom:46049.6px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P711_25
{
left:14641.7px;bottom:46074.2px;color:white;
}
#P711_26
{
left:15057.2px;bottom:46266px;color:white;
}
#P711_27
{
left:15297.4px;bottom:46074.2px;color:white;
}
#P711_28
{
left:16273.8px;bottom:46266px;color:white;
}
#P711_29
{
left:16513.9px;bottom:46074.2px;color:white;
}
#P711_30
{
left:19811.9px;bottom:46266px;color:white;
}
#P711_31
{
left:20052.1px;bottom:46074.2px;color:white;
}
#P711_32
{
left:20548px;bottom:46266px;color:white;
}
#P711_33
{
left:20788.2px;bottom:46074.2px;color:white;
}
#P711_34
{
left:23013.8px;bottom:46266px;
}
#P711_35
{
left:23254px;bottom:46074.2px;
}
#P711_36
{
left:12797.4px;bottom:45907.1px;
}
#P711_37
{
left:12797.4px;bottom:45907.1px;color:white;
}
#P711_38
{
left:13885.4px;bottom:44316.8px;letter-spacing:1.4px;color:rgb(35,31,31);
}
#P711_39
{
left:0px;letter-spacing:0.5px;margin-left:-1.4px;
}
#P711_40
{
left:13885.4px;bottom:43420.8px;color:rgb(35,31,31);
}
#P711_41
{
left:13885.4px;bottom:42140.8px;letter-spacing:0.3px;color:rgb(35,31,31);
}
#P711_42
{
left:13885.4px;bottom:41244.9px;color:rgb(35,31,31);
}
#P711_43
{
left:15753.1px;bottom:41215.3px;color:rgb(35,31,31);
}
#P711_44
{
left:16339.5px;bottom:41244.9px;color:rgb(35,31,31);
}
#P711_45
{
left:17992.5px;bottom:41215.3px;color:rgb(35,31,31);
}
#P711_46
{
left:18578.9px;bottom:41244.9px;color:rgb(35,31,31);
}
#P711_47
{
left:13885.4px;bottom:40348.9px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P711_48
{
left:13885.4px;bottom:38428.9px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P711_49
{
left:20934.6px;bottom:38428.9px;
}
#P711_50
{
left:13885.4px;bottom:37148.8px;color:rgb(35,31,31);
}
#P711_51
{
left:15677.4px;bottom:37148.8px;color:rgb(235,26,35);
}
#P711_52
{
left:16072.3px;bottom:37148.8px;color:rgb(35,31,31);
}
#P711_53
{
left:16230.7px;bottom:37119.3px;color:rgb(35,31,31);
}
#P711_54
{
left:16817.2px;bottom:37148.8px;color:rgb(35,31,31);
}
#P711_55
{
left:16975.6px;bottom:37148.8px;color:rgb(0,170,77);
}
#P711_56
{
left:17390.9px;bottom:37148.8px;color:rgb(35,31,31);
}
#P711_57
{
left:17496.5px;bottom:36710.3px;color:rgb(35,31,31);
}
#P711_58
{
left:17848.3px;bottom:37148.8px;color:rgb(35,31,31);
}
#P711_59
{
left:18006.7px;bottom:37148.8px;color:rgb(0,124,196);
}
#P711_60
{
left:18559.3px;bottom:37148.8px;color:rgb(35,31,31);
}
#P711_61
{
left:21501.4px;bottom:37156.8px;color:rgb(0,124,196);
}
#P711_62
{
left:13885.4px;bottom:35740.8px;color:rgb(35,31,31);
}
#P711_63
{
left:15357.4px;bottom:35740.8px;color:rgb(235,26,35);
}
#P711_64
{
left:16103.6px;bottom:35740.8px;color:rgb(35,31,31);
}
#P711_65
{
left:16262px;bottom:35711.3px;color:rgb(35,31,31);
}
#P711_66
{
left:16848.5px;bottom:35740.8px;color:rgb(35,31,31);
}
#P711_67
{
left:17006.9px;bottom:35740.8px;color:rgb(0,170,77);
}
#P711_68
{
left:17939.7px;bottom:35740.8px;color:rgb(35,31,31);
}
#P711_69
{
left:18045.3px;bottom:35302.3px;color:rgb(35,31,31);
}
#P711_70
{
left:18397px;bottom:35740.8px;color:rgb(35,31,31);
}
#P711_71
{
left:18555.4px;bottom:35740.8px;color:rgb(0,124,196);
}
#P711_72
{
left:19108.1px;bottom:35740.8px;color:rgb(35,31,31);
}
#P711_73
{
left:21501.4px;bottom:35748.8px;color:rgb(0,124,196);
}
#P711_74
{
left:25902.2px;bottom:35774.8px;color:rgb(0,124,196);
}
#P711_75
{
left:26222.5px;bottom:35748.8px;color:rgb(0,124,196);
}
#P711_76
{
left:29341.8px;bottom:35774.8px;color:rgb(0,124,196);
}
#P711_77
{
left:29693.8px;bottom:35748.8px;color:rgb(0,124,196);
}
#P711_78
{
left:13885.4px;bottom:34332.8px;color:rgb(35,31,31);
}
#P711_79
{
left:0px;letter-spacing:0px;margin-left:1155.2px;
}
#P711_80
{
left:16262px;bottom:34303.3px;color:rgb(35,31,31);
}
#P711_81
{
left:16848.5px;bottom:34332.8px;color:rgb(35,31,31);
}
#P711_82
{
left:17006.9px;bottom:34332.8px;color:rgb(35,31,31);
}
#P711_83
{
left:17559.5px;bottom:34332.8px;color:rgb(35,31,31);
}
#P711_84
{
left:21501.4px;bottom:34340.8px;color:rgb(0,124,196);
}
#P711_85
{
left: 15179.4px;bottom:32668.8px;
letter-spacing: 0px;color:rgb(35,31,31);
}
#P711_86
{
left:0px;letter-spacing:-9.3px;
margin-left: 0px;
}
#P711_87
{
left:0px;letter-spacing:0.7px;
margin-left: 0px;
}
#P711_88
{
left:21702px;bottom:32676.8px;color:rgb(0,124,196);
}
#P711_89
{
left:13885.4px;bottom:31029.8px;letter-spacing:604.2px;color:rgb(235,26,35);
}
#P711_90
{
left:15201.2px;bottom:31772.8px;color:rgb(35,31,31);
}
#P711_91
{
left:23013.8px;bottom:46266px;
}
#P711_92
{
left:23253.9px;bottom:46074.2px;letter-spacing:-0.1px;
}
#P711_93
{
left:23013.8px;bottom:46266px;
}
#P711_94
{
left:23254px;bottom:46074.2px;letter-spacing:-0.1px;
}
#P711_95
{
left:22882.5px;bottom:38428.8px;
}
#P711_96
{
left:0px;letter-spacing:0px;margin-left:158.4px;
}
#P711_97
{
left:0px;letter-spacing:0px;
}
#P711_98
{
left:0px;letter-spacing:0px;margin-left:158.4px;
}
#P711_99
{
left:0px;letter-spacing:0px;
}
#P711_100
{
left:0px;letter-spacing:0px;margin-left:158.3px;
}
#P711_101
{
left:0px;letter-spacing:0px;
}
#P711_102
{
left:13857.2px;bottom:27180.8px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P711_103
{
left:0px;letter-spacing:-14px;margin-left:-27.6px;
}
#P711_104
{
left:0px;letter-spacing:-1.3px;margin-left:14px;
}
#P711_105
{
left:0px;letter-spacing:-2.8px;margin-left:1.3px;
}
#P711_106
{
left:0px;letter-spacing:14px;margin-left:-39.3px;
}
#P711_107
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P711_108
{
left:13857.2px;bottom:26284.8px;letter-spacing:0.3px;color:rgb(35,31,31);
}
#P711_109
{
left:13857.2px;bottom:24748.9px;letter-spacing:-2.6px;color:rgb(35,31,31);
}
#P711_110
{
left:17481.6px;bottom:24748.9px;word-spacing:193.6px;color:rgb(35,31,31);
}
#P711_111
{
left:0px;letter-spacing:0px;margin-left:-6.9px;
}
#P711_112
{
left:0px;letter-spacing:0px;margin-left:-193.6px;
}
#P711_113
{
left:19470.5px;bottom:24748.9px;letter-spacing:28.2px;color:rgb(35,31,31);
}
#P711_114
{
left:0px;letter-spacing:-2.9px;margin-left:-28.2px;
}
#P711_115
{
left:13857.3px;bottom:23852.9px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P711_116
{
left:15009.2px;bottom:22572.8px;color:rgb(235,26,35);
}
#P711_117
{
left:15404.2px;bottom:22572.8px;color:rgb(35,31,31);
}
#P711_118
{
left:15562.6px;bottom:22543.2px;color:rgb(35,31,31);
}
#P711_119
{
left:16149px;bottom:22572.8px;color:rgb(35,31,31);
}
#P711_120
{
left:16307.4px;bottom:22572.8px;color:rgb(0,170,77);
}
#P711_121
{
left:16722.8px;bottom:22572.8px;color:rgb(35,31,31);
}
#P711_122
{
left:16828.4px;bottom:22134.2px;color:rgb(35,31,31);
}
#P711_123
{
left:17180.1px;bottom:22572.8px;color:rgb(35,31,31);
}
#P711_124
{
left:17338.5px;bottom:22572.8px;color:rgb(0,124,196);
}
#P711_125
{
left:13857.2px;bottom:21292.8px;color:rgb(35,31,31);
}
#P711_126
{
left:0px;letter-spacing:0px;margin-left:1219.2px;
}
#P711_127
{
left:15551.6px;bottom:21263.2px;color:rgb(35,31,31);
}
#P711_128
{
left:16138.1px;bottom:21292.8px;color:rgb(35,31,31);
}
#P711_129
{
left:16296.5px;bottom:21292.8px;color:rgb(0,170,77);
}
#P711_130
{
left:17602.4px;bottom:21292.8px;color:rgb(35,31,31);
}
#P711_131
{
left:17708px;bottom:20854.2px;color:rgb(35,31,31);
}
#P711_132
{
left:18059.7px;bottom:21292.8px;color:rgb(35,31,31);
}
#P711_133
{
left:18218.1px;bottom:21292.8px;color:rgb(0,124,196);
}
#P711_134
{
left:13857.2px;bottom:20012.8px;color:rgb(35,31,31);
}
#P711_135
{
left:0px;letter-spacing:0px;margin-left:1219.2px;
}
#P711_136
{
left:15551.6px;bottom:19983.2px;color:rgb(35,31,31);
}
#P711_137
{
left:16138.1px;bottom:20012.8px;color:rgb(35,31,31);
}
#P711_138
{
left:13857.2px;bottom:18732.8px;letter-spacing:-4.2px;color:rgb(35,31,31);
}
#P711_139
{
left:0px;letter-spacing:0px;margin-left:4.2px;
}
#P711_140
{
left:0px;letter-spacing:0px;margin-left:-214.7px;
}
#P711_141
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P711_142
{
left:0px;letter-spacing:-0.5px;
}
#P711_143
{
left:14117.2px;bottom:17268.8px;color:rgb(35,31,31);
}
#P711_144
{
left:14339.7px;bottom:16372.8px;letter-spacing:1.4px;color:rgb(35,31,31);
}
#P711_145
{
left:16603.8px;bottom:16527.3px;color:rgb(35,31,31);
}
#P711_146
{
left:17190.2px;bottom:16556.8px;color:rgb(35,31,31);
}
#P711_147
{
left:17569.4px;bottom:17268.8px;color:rgb(35,31,31);
}
#P711_148
{
left:17836.4px;bottom:16372.8px;letter-spacing:-3.5px;color:rgb(35,31,31);
}
#P711_149
{
left:19901.5px;bottom:16556.8px;color:rgb(35,31,31);
}
#P711_150
{
left:20059.9px;bottom:16527.3px;color:rgb(35,31,31);
}
#P711_151
{
left:20646.4px;bottom:16556.8px;color:rgb(35,31,31);
}
#P711_152
{
left:20921.4px;bottom:16820.8px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P711_153
{
left:13857.2px;bottom:14892.8px;letter-spacing:2433.6px;color:rgb(35,31,31);
}
#P711_154
{
left:16607.6px;bottom:14863.2px;color:rgb(35,31,31);
}
#P711_155
{
left:17194.1px;bottom:14892.8px;color:rgb(35,31,31);
}
#P711_156
{
left:0px;letter-spacing:0px;margin-left:709.2px;
}
#P711_157
{
left:0px;letter-spacing:0px;margin-left:760.1px;
}
#P711_158
{
left:20043.2px;bottom:14863.2px;color:rgb(35,31,31);
}
#P711_159
{
left:20629.7px;bottom:14892.8px;color:rgb(35,31,31);
}
#P711_160
{
left:0px;letter-spacing:0px;margin-left:729.7px;
}
#P711_161
{
left:13857.2px;bottom:13676.8px;letter-spacing:2433.6px;color:rgb(35,31,31);
}
#P711_162
{
left:16607.6px;bottom:13647.2px;color:rgb(35,31,31);
}
#P711_163
{
left:17194.1px;bottom:13676.8px;color:rgb(35,31,31);
}
#P711_164
{
left: 15131.2px;bottom:12076.8px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P711_165
{
left:0px;letter-spacing:-14px;margin-left:-554px;
}
#P711_166
{
left:0px;letter-spacing:0px;margin-left:14px;
}
#P711_167
{
left:21281.2px;bottom:12076.8px;color:rgb(235,26,35);
}
#P711_168
{
left:24171.7px;bottom:10308.3px;color:rgb(35,31,31);
}
#P711_169
{
left:25612.3px;bottom:10308.3px;color:rgb(35,31,31);
}
#P711_170
{
left:0px;letter-spacing:0px;margin-left:5759.4px;
}
#P711_171
{
left:27211.9px;bottom:10308.3px;color:rgb(35,31,31);
}
#P711_172
{
left:28812px;bottom:10308.3px;color:rgb(35,31,31);
}
#P711_173
{
left:30412.1px;bottom:10308.3px;color:rgb(35,31,31);
}
#P711_174
{
left:23883.7px;bottom:12055.3px;color:rgb(35,31,31);
}
#P711_175
{
left:0px;letter-spacing:0px;margin-left:2143.9px;
}
#P711_176
{
left:0px;letter-spacing:0px;margin-left:1983.7px;
}
#P711_177
{
left:33404.2px;bottom:12055.3px;color:rgb(35,31,31);
}
#P711_178
{
left:33612.1px;bottom:10308.3px;color:rgb(35,31,31);
}
#P711_179
{
left:35041.9px;bottom:11244.8px;color:rgb(35,31,31);
}
#P711_180
{
left:35393.9px;bottom:11333.7px;color:rgb(235,26,35);
}
#P711_181
{
left:13857.2px;bottom:11180.8px;color:rgb(235,26,35);
}
#P711_182
{
left:15137.2px;bottom:11180.8px;letter-spacing:0.5px;color:rgb(35,31,31);
}
#P711_183
{
left:13857.2px;bottom:7276.78px;color:rgb(35,31,31);
}
#P711_184
{
left:14320.8px;bottom:7303.6px;word-spacing:453.2px;color:rgb(35,31,31);
}
#P711_185
{
left:15521.2px;bottom:7276.78px;color:rgb(35,31,31);
}
#P711_186
{
left:0px;letter-spacing:0px;margin-left:-24.6px;
}
#P711_187
{
left:0px;letter-spacing:0px;margin-left:-16.8px;
}
#P711_188
{
left:0px;letter-spacing:0px;
}
#P711_189
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P711_190
{
left:15521.2px;bottom:6380.78px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P711_191
{
left:0px;letter-spacing:0px;margin-left:0.5px;
}
#P711_192
{
left:13857.2px;bottom:5100.78px;color:rgb(35,31,31);
}
#P711_193
{
left:14320.8px;bottom:5127.6px;word-spacing:453.2px;color:rgb(35,31,31);
}
#P711_194
{
left:15521.2px;bottom:5100.78px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P711_195
{
left:0px;letter-spacing:0px;margin-left:-25px;
}
#P711_196
{
left:0px;letter-spacing:-0.3px;
}
#P711_197
{
left:15521.2px;bottom:4204.78px;letter-spacing:0.2px;color:rgb(35,31,31);
}
#P711_198
{
left:26813.4px;bottom:24764.8px;letter-spacing:-2.6px;color:rgb(35,31,31);
}
#P711_199
{
left:30085.7px;bottom:24764.8px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P711_200
{
left:0px;letter-spacing:0px;margin-left:-221.6px;
}
#P711_201
{
left:0px;letter-spacing:-1.6px;
}
#P711_202
{
left:0px;letter-spacing:0px;margin-left:1.6px;
}
#P711_203
{
left:26813.4px;bottom:23868.8px;letter-spacing:0.2px;color:rgb(35,31,31);
}
#P711_204
{
left:26813.4px;bottom:22972.8px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P711_205
{
left:0px;letter-spacing:0px;margin-left:-13.3px;
}
#P711_206
{
left:29243.1px;bottom:21150.8px;color:rgb(35,31,31);
}
#P711_207
{
left:0px;letter-spacing:0px;margin-left:-11.9px;
}
#P711_208
{
left:0px;letter-spacing:0px;margin-left:800.3px;
}
#P711_209
{
left:29558.7px;bottom:19768px;color:rgb(35,31,31);
}
#P711_210
{
left:0px;letter-spacing:0px;margin-left:1657.7px;
}
#P711_211
{
left:29745.3px;bottom:18424px;color:rgb(35,31,31);
}
#P711_212
{
left:0px;letter-spacing:0px;margin-left:1844.2px;
}
#P711_213
{
left:29558.7px;bottom:17080px;color:rgb(35,31,31);
}
#P711_214
{
left:0px;letter-spacing:0px;margin-left:1657.7px;
}
#P711_215
{
left:26974.7px;bottom:19133.9px;color:rgb(235,26,35);
}
#P711_216
{
left:27695.7px;bottom:19162.1px;letter-spacing:7648.4px;word-spacing:-7648.4px;color:rgb(235,26,35);
}
#P711_217
{
left:35828px;bottom:19133.9px;color:rgb(235,26,35);
}
#P711_218
{
left:36387.8px;bottom:19162.1px;color:rgb(235,26,35);
}
#P711_219
{
left:26974.7px;bottom:17768.6px;color:rgb(235,26,35);
}
#P711_220
{
left:27695.7px;bottom:17796.8px;letter-spacing:7648.4px;word-spacing:-7648.4px;color:rgb(235,26,35);
}
#P711_221
{
left:35828px;bottom:17768.6px;color:rgb(235,26,35);
}
#P711_222
{
left:36387.8px;bottom:17796.8px;color:rgb(235,26,35);
}
#P711_223
{
left:27397.4px;bottom:14992px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P711_224
{
left:0px;letter-spacing:-14px;margin-left:-554px;
}
#P711_225
{
left:0px;letter-spacing:0.2px;margin-left:14px;
}
#P711_226
{
left:30034.8px;bottom:30634.2px;color:rgb(35,31,31);
}
#P711_227
{
left:0px;letter-spacing:0px;margin-left:2444.5px;
}
#P711_228
{
left:30041.8px;bottom:32381.2px;color:rgb(35,31,31);
}
#P711_229
{
left:0px;letter-spacing:0px;margin-left:1696.9px;
}
#P711_230
{
left:25599.8px;bottom:30642.2px;color:rgb(35,31,31);
}
#P711_231
{
left:25311.8px;bottom:32389.2px;color:rgb(35,31,31);
}
#P711_232
{
left:25223.6px;bottom:33127.5px;color:rgb(235,26,35);
}
#P711_233
{
left:35782.6px;bottom:31393.5px;color:rgb(235,26,35);
}
#PageContainer711
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg711.jpg");background-repeat:no-repeat;background-size: 894px 1228px; background-position: 130.44px 44.29px;
}
#ImageContainer711 {bottom:91.71px;left:130.44px;width:894.27px;height:1227.71px;position:absolute;} #TextContainer711 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.example2{position: absolute;top: 80px;left: 160px;}
.example3{position: absolute;top: 552px;left: 160px;}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}
.now1
{
position: absolute;
top: 1143px;
left: 187px;
}

#middle-toolbar img{vertical-align: middle;}