.tr280{ color:transparent;}
#P280_1
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P280_2
{
left:3540.44px;bottom:1410.03px;color:rgb(35,31,31);
}
#P280_3
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P280_4
{
left:9121.88px;bottom:1410.03px;letter-spacing:462px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P280_5
{
left:0px;letter-spacing:4.3px;margin-left:-462.1px;
}
#P280_6
{
left:0px;letter-spacing:0.8px;margin-left:-4.4px;
}
#P280_7
{
left:0px;letter-spacing:0px;margin-left:2.9px;
}
#P280_8
{
left:6977.56px;bottom:46189.1px;color:white;
}
#P280_9
{
left:11657.4px;bottom:46487.5px;color:white;
}
#P280_10
{
left:12031px;bottom:46189.1px;letter-spacing:-1.2px;color:white;
}
#P280_11
{
left:19935.3px;bottom:46487.5px;color:white;
}
#P280_12
{
left:20309px;bottom:46189.1px;letter-spacing:-1.3px;color:white;
}
#P280_13
{
left:3459.78px;bottom:46161.9px;color:white;
}
#P280_14
{
left:18852.5px;bottom:41182.6px;letter-spacing:213.2px;color:rgb(35,31,31);
}
#P280_15
{
left:0px;letter-spacing:0px;margin-left:-213.2px;
}
#P280_16
{
left:7741.4px;bottom:40094.5px;color:rgb(35,31,31);
}
#P280_17
{
left:9251.48px;bottom:35617.5px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P280_18
{
left:0px;letter-spacing:0.4px;margin-left:14.2px;
}
#P280_19
{
left:0px;letter-spacing:-44.5px;margin-left:-42.4px;
}
#P280_20
{
left:0px;letter-spacing:-0.9px;margin-left:44.5px;
}
#P280_21
{
left:9251.48px;bottom:34721.5px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P280_22
{
left:9251.48px;bottom:33825.5px;letter-spacing:0.6px;color:rgb(35,31,31);
}
#P280_23
{
left:9251.48px;bottom:32545.4px;color:rgb(35,31,31);
}
#P280_24
{
left:0px;letter-spacing:0px;margin-left:-63.3px;
}
#P280_25
{
left:0px;letter-spacing:0px;margin-left:-21px;
}
#P280_26
{
left: 10151.48px;bottom:31265.3px;letter-spacing:1388.2px;color:rgb(35,31,31);
}
#P280_27
{
left:0px;letter-spacing:0px;
margin-left: 0;
}
#P280_28
{
left:0px;letter-spacing:-1.4px;margin-left:12.5px;
}
#P280_29
{
left:0px;letter-spacing:-14px;margin-left:1.4px;
}
#P280_30
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P280_31
{
left:0px;letter-spacing:0px;
}
#P280_32
{
left:10787.5px;bottom:30369.4px;letter-spacing:0.4px;color:rgb(35,31,31);
}
#P280_33
{
left:0px;letter-spacing:0px;margin-left:-28.5px;
}
#P280_34
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P280_35
{
left:0px;letter-spacing:-14px;margin-left:-28px;
}
#P280_36
{
left:0px;letter-spacing:-3.1px;margin-left:14px;
}
#P280_37
{
left:0px;letter-spacing:-28px;margin-left:3.1px;
}
#P280_38
{
left:0px;letter-spacing:-28px;margin-left:28px;
}
#P280_39
{
left:0px;letter-spacing:-9.3px;margin-left:28px;
}
#P280_40
{
left:0px;letter-spacing:-28px;margin-left:9.3px;
}
#P280_41
{
left:0px;letter-spacing:-28px;margin-left:28px;
}
#P280_42
{
left:10787.5px;bottom:29473.5px;word-spacing:28px;color:rgb(35,31,31);
}
#P280_43
{
left:0px;letter-spacing:-28px;margin-left:147.8px;
}
#P280_44
{
left:0px;letter-spacing:-28px;margin-left:175.9px;
}
#P280_45
{
left:0px;letter-spacing:-28px;margin-left:175.8px;
}
#P280_46
{
left:0px;letter-spacing:-28px;margin-left:175.9px;
}
#P280_47
{
left:0px;letter-spacing:-28px;margin-left:175.8px;
}
#P280_48
{
left:0px;letter-spacing:-28px;margin-left:175.9px;
}
#P280_49
{
left:0px;letter-spacing:-28px;margin-left:175.9px;
}
#P280_50
{
left:10787.5px;bottom:28577.6px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P280_51
{
left:0px;letter-spacing:0px;margin-left:-5.7px;
}
#P280_52
{
left:0px;letter-spacing:0px;margin-left:-70.3px;
}
#P280_53
{
left:10129.7px;bottom:37177.6px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P280_54
{
left:13554.8px;bottom:37369.5px;color:rgb(255,223,126);
}
#P280_55
{
left:14179.5px;bottom:37177.6px;word-spacing:207.4px;color:white;
}
#P280_56
{
left:0px;letter-spacing:0px;margin-left:-207.4px;
}
#P280_57
{
left:0px;letter-spacing:0px;margin-left:-239.3px;
}
#P280_58
{
left:0px;letter-spacing:0px;margin-left:-40.5px;
}
#P280_59
{
left:8389.27px;bottom:37054.1px;
}
#P280_60
{
left:8389.27px;bottom:37054.1px;color:white;
}
#P280_61
{
left:11463.1px;bottom:15941.4px;color:rgb(2,77,161);
}
#P280_62
{
left:10930.9px;bottom:15019.8px;color:rgb(2,77,161);
}
#P280_63
{
left:19620.2px;bottom:13589.9px;color:rgb(35,31,31);
}
#P280_64
{
left:21190.2px;bottom:12821.9px;letter-spacing:-1.9px;color:rgb(35,31,31);
}
#P280_65
{
left:28957.8px;bottom:12907.1px;letter-spacing:-1.9px;color:rgb(35,31,31);
}
#P280_66
{
left:27415.8px;bottom:15941.4px;color:rgb(2,77,161);
}
#P280_67
{
left:11189px;bottom:21696.6px;letter-spacing:-0.5px;word-spacing:-0.1px;color:rgb(35,31,31);
}
#P280_68
{
left:11753.6px;bottom:24656px;letter-spacing:0.2px;word-spacing:-0.2px;color:rgb(2,77,161);
}
#P280_69
{
left:11204.4px;bottom:23734.4px;color:rgb(2,77,161);
}
#P280_70
{
left:19442px;bottom:15941.5px;letter-spacing:-1.2px;word-spacing:0.2px;color:rgb(2,77,161);
}
#P280_71
{
left:19478.1px;bottom:15019.9px;color:rgb(2,77,161);
}
#P280_72
{
left:20665.4px;bottom:24656px;color:rgb(2,77,161);
}
#P280_73
{
left:20048px;bottom:23734.4px;letter-spacing:0.2px;color:rgb(2,77,161);
}
#P280_74
{
left:19533.8px;bottom:22379.2px;color:rgb(35,31,31);
}
#P280_75
{
left:21183.7px;bottom:21611.2px;letter-spacing:-1.9px;color:rgb(35,31,31);
}
#P280_76
{
left:26919.8px;bottom:24656px;color:rgb(2,77,161);
}
#P280_77
{
left:27590.6px;bottom:22379.2px;color:rgb(35,31,31);
}
#P280_78
{
left:29080.5px;bottom:21611.2px;letter-spacing:-1.9px;color:rgb(35,31,31);
}
#P280_79
{
left:11490.7px;bottom:13590.1px;letter-spacing:-7.9px;color:rgb(35,31,31);
}
#P280_80
{
left:0px;letter-spacing:0px;margin-left:7.9px;
}
#P280_81
{
left:13208.5px;bottom:12822.1px;letter-spacing:-1.9px;color:rgb(35,31,31);
}
#P280_82
{
left:9229.4px;bottom:8364.78px;color:rgb(35,31,31);
}
#P280_83
{
left:9357.4px;bottom:8364.78px;letter-spacing:-14px;word-spacing:516.1px;color:rgb(35,31,31);
}
#P280_84
{
left:10573.4px;bottom:8364.78px;letter-spacing:-1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P280_85
{
left:0px;letter-spacing:-8.5px;margin-left:-13px;
}
#P280_86
{
left:0px;letter-spacing:-0.9px;margin-left:8.4px;
}
#P280_87
{
left:0px;letter-spacing:-3.6px;margin-left:0.9px;
}
#P280_88
{
left:0px;letter-spacing:0px;margin-left:162px;
}
#P280_89
{
left:10573.4px;bottom:7468.78px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P280_90
{
left:9229.4px;bottom:6380.78px;color:rgb(35,31,31);
}
#P280_91
{
left:9357.4px;bottom:6380.78px;letter-spacing:-13.9px;word-spacing:486.9px;color:rgb(35,31,31);
}
#P280_92
{
left:10573.4px;bottom:6380.78px;letter-spacing:-0.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P280_93
{
left:9229.4px;bottom:5292.72px;color:rgb(35,31,31);
}
#P280_94
{
left:9357.4px;bottom:5292.72px;letter-spacing:-14px;word-spacing:551.3px;color:rgb(35,31,31);
}
#P280_95
{
left:10573.4px;bottom:5292.72px;letter-spacing:-0.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P280_96
{
left:19699.3px;bottom:5292.72px;letter-spacing:-0.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P280_97
{
left:0px;letter-spacing:-0.1px;margin-left:-42.1px;
}
#P280_98
{
left:10573.4px;bottom:4396.84px;letter-spacing:-10.5px;color:rgb(35,31,31);
}
#P280_99
{
left:0px;letter-spacing:-2.8px;margin-left:10.5px;
}
#P280_100
{
left:0px;letter-spacing:0px;margin-left:2.8px;
}
#P280_101
{
left:9229.4px;bottom:3308.79px;color:rgb(35,31,31);
}
#P280_102
{
left:9357.4px;bottom:3308.79px;letter-spacing:-14px;word-spacing:473.2px;color:rgb(35,31,31);
}
#P280_103
{
left:10573.4px;bottom:3308.79px;letter-spacing:-0.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P280_104
{
left:0px;letter-spacing:-0.1px;margin-left:-13.5px;
}
#P280_105
{
left:4301.4px;bottom:13360.5px;color:rgb(35,31,31);
}
#P280_106
{
left:4674.39px;bottom:13388.9px;letter-spacing:-10.2px;color:rgb(35,31,31);
}
#P280_107
{
left:6691.93px;bottom:13360.5px;color:rgb(35,31,31);
}
#P280_108
{
left:4301.34px;bottom:12656.5px;letter-spacing:-14.1px;color:rgb(35,31,31);
}
#P280_109
{
left:5012.31px;bottom:12684.9px;letter-spacing:-10.4px;color:rgb(35,31,31);
}
#P280_110
{
left:2365.37px;bottom:11756.9px;letter-spacing:7.1px;color:rgb(35,31,31);
}
#P280_111
{
left:2365.37px;bottom:10980.8px;letter-spacing:-3.3px;word-spacing:-0.7px;color:rgb(35,31,31);
}
#P280_112
{
left:0px;letter-spacing:-0.3px;margin-left:2.4px;
}
#P280_113
{
left:0px;letter-spacing:-3.1px;margin-left:-4.5px;
}
#P280_114
{
left:2365.37px;bottom:10487px;color:rgb(35,31,31);
}
#P280_115
{
left:2615.28px;bottom:10268.8px;color:rgb(35,31,31);
}
#P280_116
{
left:2960.24px;bottom:10292.8px;color:rgb(35,31,31);
}
#P280_117
{
left:2960.24px;bottom:10308.8px;letter-spacing:-2.3px;word-spacing:-0.2px;color:rgb(35,31,31);
}
#P280_118
{
left:0px;letter-spacing:-2.5px;margin-left:4.7px;
}
#P280_119
{
left:2960.24px;bottom:9668.78px;letter-spacing:-1.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P280_120
{
left:0px;letter-spacing:-0.9px;margin-left:-4px;
}
#P280_121
{
left:2960.24px;bottom:9028.78px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P280_122
{
left:0px;letter-spacing:-1.4px;margin-left:-3.2px;
}
#P280_123
{
left:0px;letter-spacing:5.5px;margin-left:2px;
}
#P280_124
{
left:2365.37px;bottom:8535.02px;color:rgb(35,31,31);
}
#P280_125
{
left:2615.28px;bottom:8316.78px;letter-spacing:186.6px;color:rgb(35,31,31);
}
#P280_126
{
left:2960.24px;bottom:8356.78px;letter-spacing:-2.3px;word-spacing:-0.1px;color:rgb(35,31,31);
}
#P280_127
{
left:0px;letter-spacing:-3.3px;margin-left:4.7px;
}
#P280_128
{
left:0px;letter-spacing:-0.2px;margin-left:-2px;
}
#P280_129
{
left:2960.24px;bottom:7716.78px;letter-spacing:-0.3px;word-spacing:0.2px;color:rgb(35,31,31);
}
#P280_130
{
left:0px;letter-spacing:-2px;margin-left:-5.3px;
}
#P280_131
{
left:2960.24px;bottom:7076.72px;letter-spacing:0.1px;word-spacing:-5.2px;color:rgb(35,31,31);
}
#P280_132
{
left:2960.24px;bottom:6436.65px;letter-spacing:-1.2px;word-spacing:0.2px;color:rgb(35,31,31);
}
#P280_133
{
left:0px;letter-spacing:-3.9px;margin-left:5.1px;
}
#P280_134
{
left:0px;letter-spacing:-0.2px;margin-left:2.3px;
}
#P280_135
{
left:2365.38px;bottom:5668.65px;letter-spacing:4px;word-spacing:-5.3px;color:rgb(35,31,31);
}
#P280_136
{
left:0px;letter-spacing:5.3px;margin-left:8.7px;
}
#P280_137
{
left:2365.38px;bottom:5028.65px;letter-spacing:8.6px;color:rgb(35,31,31);
}
#P280_138
{
left:2365.38px;bottom:4388.59px;letter-spacing:5.2px;color:rgb(35,31,31);
}
#P280_139
{
left:0px;letter-spacing:0px;margin-left:-22.1px;
}
#P280_140
{
left:2365.38px;bottom:3748.56px;letter-spacing:5.2px;color:rgb(35,31,31);
}
#P280_141
{
left:0px;letter-spacing:0px;margin-left:-3.4px;
}
#PageContainer280
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg280.jpg");background-repeat:no-repeat;background-size: 1066px 1209px; background-position: 1px -0.509999999999991px;
}
#ImageContainer280 {bottom:155.51px;right:0.00px;width:1066.24px;height:1208.65px;position:absolute;} #TextContainer280 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.rpj{position: absolute;top: 210px;left: 160px;}
.srpj{position: absolute;top: 210px;left: 110px;}
.math_paper{position: absolute;top: 320px;left: 160px;}
.math_tool{position: absolute;top: 310px;left: 110px;}


#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}