.tr270{ color:transparent;}
#P270_1
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P270_2
{
left:3540.44px;bottom:1417.71px;color:rgb(35,31,31);
}
#P270_3
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P270_4
{
left:9122.35px;bottom:1417.71px;letter-spacing:0.2px;word-spacing:462.1px;color:rgb(35,31,31);
}
#P270_5
{
left:0px;letter-spacing:0px;margin-left:-462.3px;
}
#P270_6
{
left:0px;letter-spacing:2.3px;
}
#P270_7
{
left:0px;letter-spacing:0px;margin-left:-464.4px;
}
#P270_8
{
left:0px;letter-spacing:3px;
}
#P270_9
{
left:4669.4px;bottom:45479.5px;color:rgb(35,31,31);
}
#P270_10
{
left:5237.98px;bottom:45499.2px;color:rgb(35,31,31);
}
#P270_11
{
left:6269.4px;bottom:45479.5px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P270_12
{
left:0px;letter-spacing:0px;margin-left:0.3px;
}
#P270_13
{
left:23225px;bottom:45479.5px;letter-spacing:1px;color:rgb(0,124,196);
}
#P270_14
{
left:15240.1px;bottom:43454.7px;color:rgb(35,31,31);
}
#P270_15
{
left:16144.7px;bottom:43425.1px;color:rgb(35,31,31);
}
#P270_16
{
left:16731.1px;bottom:43454.7px;color:rgb(35,31,31);
}
#P270_17
{
left:17794.1px;bottom:43425.1px;color:rgb(35,31,31);
}
#P270_18
{
left:18380.6px;bottom:43454.7px;color:rgb(35,31,31);
}
#P270_19
{
left:19443.6px;bottom:43425.1px;color:rgb(35,31,31);
}
#P270_20
{
left:20030px;bottom:43454.7px;color:rgb(35,31,31);
}
#P270_21
{
left:21339.4px;bottom:43425.1px;color:rgb(35,31,31);
}
#P270_22
{
left:21925.8px;bottom:43454.7px;color:rgb(35,31,31);
}
#P270_23
{
left:15240.1px;bottom:42302.7px;letter-spacing:2241.6px;color:rgb(35,31,31);
}
#P270_24
{
left:17798.5px;bottom:42273.1px;color:rgb(35,31,31);
}
#P270_25
{
left:18384.9px;bottom:42302.7px;color:rgb(35,31,31);
}
#P270_26
{
left:19447.9px;bottom:42273.1px;color:rgb(35,31,31);
}
#P270_27
{
left:20034.3px;bottom:42302.7px;color:rgb(35,31,31);
}
#P270_28
{
left:21097.4px;bottom:42273.1px;color:rgb(35,31,31);
}
#P270_29
{
left:21683.8px;bottom:42302.7px;color:rgb(35,31,31);
}
#P270_30
{
left:22746.8px;bottom:42273.1px;color:rgb(35,31,31);
}
#P270_31
{
left:23333.3px;bottom:42302.7px;color:rgb(35,31,31);
}
#P270_32
{
left:15240.1px;bottom:41150.6px;letter-spacing:2241.6px;color:rgb(35,31,31);
}
#P270_33
{
left:17798.5px;bottom:41121px;color:rgb(35,31,31);
}
#P270_34
{
left:18384.9px;bottom:41150.6px;color:rgb(35,31,31);
}
#P270_35
{
left:19821px;bottom:41121px;color:rgb(35,31,31);
}
#P270_36
{
left:20407.4px;bottom:41150.6px;color:rgb(35,31,31);
}
#P270_37
{
left:15240.1px;bottom:39998.6px;letter-spacing:2241.6px;color:rgb(35,31,31);
}
#P270_38
{
left:17798.4px;bottom:39969px;color:rgb(35,31,31);
}
#P270_39
{
left:18384.9px;bottom:39998.6px;color:rgb(35,31,31);
}
#P270_40
{
left:4669.4px;bottom:37735.3px;color:rgb(35,31,31);
}
#P270_41
{
left:6392.15px;bottom:37755.1px;letter-spacing:-90.7px;color:rgb(35,31,31);
}
#P270_42
{
left:7293.54px;bottom:37735.3px;letter-spacing:-0.1px;word-spacing:286.1px;color:rgb(35,31,31);
}
#P270_43
{
left:0px;letter-spacing:0px;margin-left:-286px;
}
#P270_44
{
left:0px;letter-spacing:0.1px;margin-left:-8.4px;
}
#P270_45
{
left:4669.4px;bottom:36199.3px;color:rgb(35,31,31);
}
#P270_46
{
left:6145.11px;bottom:36219.1px;color:rgb(35,31,31);
}
#P270_47
{
left:6849.11px;bottom:36199.3px;letter-spacing:285.9px;color:rgb(35,31,31);
}
#P270_48
{
left:0px;letter-spacing:0px;margin-left:-306.9px;
}
#P270_49
{
left:0px;letter-spacing:-1px;
}
#P270_50
{
left:0px;letter-spacing:0px;margin-left:1px;
}
#P270_51
{
left:4669.4px;bottom:34663.3px;color:rgb(35,31,31);
}
#P270_52
{
left:6145.11px;bottom:34683.1px;color:rgb(35,31,31);
}
#P270_53
{
left:7293.4px;bottom:34663.3px;letter-spacing:285.7px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P270_54
{
left:0px;letter-spacing:-0.5px;margin-left:-294.2px;
}
#P270_55
{
left:0px;letter-spacing:-0.8px;margin-left:0.4px;
}
#P270_56
{
left:4669.4px;bottom:33127.5px;color:rgb(35,31,31);
}
#P270_57
{
left:6457.69px;bottom:33147.2px;color:rgb(35,31,31);
}
#P270_58
{
left:7293.4px;bottom:33127.5px;letter-spacing:285.8px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P270_59
{
left:0px;letter-spacing:-0.4px;margin-left:-285.9px;
}
#P270_60
{
left:0px;letter-spacing:-0.1px;margin-left:-24.9px;
}
#P270_61
{
left:0px;letter-spacing:-0.1px;
}
#P270_62
{
left:4669.4px;bottom:30695.5px;color:rgb(35,31,31);
}
#P270_63
{
left:5237.85px;bottom:30715.2px;color:rgb(35,31,31);
}
#P270_64
{
left:6269.27px;bottom:30695.5px;color:rgb(35,31,31);
}
#P270_65
{
left:12805.3px;bottom:30695.5px;color:rgb(0,124,196);
}
#P270_66
{
left:0px;letter-spacing:0px;margin-left:-154.9px;
}
#P270_67
{
left:4669.4px;bottom:26279.5px;color:rgb(35,31,31);
}
#P270_68
{
left:5237.98px;bottom:26299.2px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P270_69
{
left:6269.4px;bottom:26279.5px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P270_70
{
left:0px;letter-spacing:-0.5px;margin-left:1.3px;
}
#P270_71
{
left:0px;letter-spacing:-0.7px;margin-left:-6.4px;
}
#P270_72
{
left:0px;letter-spacing:-3.5px;margin-left:0.7px;
}
#P270_73
{
left:6269.4px;bottom:25383.5px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P270_74
{
left:0px;letter-spacing:0px;margin-left:-13px;
}
#P270_75
{
left:0px;letter-spacing:-3.5px;margin-left:-14px;
}
#P270_76
{
left:0px;letter-spacing:-14px;margin-left:3.5px;
}
#P270_77
{
left:0px;letter-spacing:-1.2px;margin-left:14px;
}
#P270_78
{
left:6269.4px;bottom:24487.5px;color:rgb(35,31,31);
}
#P270_79
{
left:12888.3px;bottom:24487.5px;color:rgb(0,124,196);
}
#P270_80
{
left:0px;letter-spacing:0px;margin-left:-154.9px;
}
#P270_81
{
left:4669.4px;bottom:23015.5px;color:rgb(35,31,31);
}
#P270_82
{
left:6145.11px;bottom:23035.2px;color:rgb(35,31,31);
}
#P270_83
{
left:7293.41px;bottom:23015.5px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P270_84
{
left:20815.4px;bottom:23035.2px;color:rgb(35,31,31);
}
#P270_85
{
left:21885.5px;bottom:23015.5px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P270_86
{
left:4669.47px;bottom:21479.5px;color:rgb(35,31,31);
}
#P270_87
{
left:6223.32px;bottom:21499.2px;color:rgb(35,31,31);
}
#P270_88
{
left:7293.47px;bottom:21479.5px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P270_89
{
left:20737.3px;bottom:21499.2px;color:rgb(35,31,31);
}
#P270_90
{
left:21885.6px;bottom:21479.5px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P270_91
{
left:4669.53px;bottom:19047.5px;color:rgb(35,31,31);
}
#P270_92
{
left:5238.11px;bottom:19067.2px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P270_93
{
left:6269.53px;bottom:19047.5px;color:rgb(35,31,31);
}
#P270_94
{
left:0px;letter-spacing:0px;margin-left:-214.7px;
}
#P270_95
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P270_96
{
left:0px;letter-spacing:-2.3px;
}
#P270_97
{
left:0px;letter-spacing:0px;margin-left:-18.7px;
}
#P270_98
{
left:0px;letter-spacing:-0.1px;
}
#P270_99
{
left:0px;letter-spacing:0px;margin-left:-13.9px;
}
#P270_100
{
left:25772.3px;bottom:19047.5px;color:rgb(0,124,196);
}
#P270_101
{
left:4669.4px;bottom:14503.5px;color:rgb(35,31,31);
}
#P270_102
{
left:10371.7px;bottom:14866.9px;color:rgb(237,28,35);
}
#P270_103
{
left:14638.2px;bottom:11010px;color:rgb(237,28,35);
}
#P270_104
{
left:16558.3px;bottom:13974.4px;color:rgb(237,28,35);
}
#P270_105
{
left:14264.7px;bottom:16307.2px;color:rgb(237,28,35);
}
#P270_106
{
left:4669.4px;bottom:8871.47px;color:rgb(35,31,31);
}
#P270_107
{
left:5629.4px;bottom:8891.18px;letter-spacing:444.3px;color:rgb(35,31,31);
}
#P270_108
{
left:0px;letter-spacing:0px;margin-left:-640px;
}
#P270_109
{
left:6269.4px;bottom:8871.47px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P270_110
{
left:0px;letter-spacing:0px;margin-left:-13.5px;
}
#P270_111
{
left:4669.4px;bottom:7015.47px;color:rgb(35,31,31);
}
#P270_112
{
left:6392.15px;bottom:7035.18px;letter-spacing:-90.7px;color:rgb(35,31,31);
}
#P270_113
{
left:7293.41px;bottom:7015.47px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P270_114
{
left:0px;letter-spacing:0px;margin-left:-285.9px;
}
#P270_115
{
left:9814.36px;bottom:7359.2px;color:rgb(35,31,31);
}
#P270_116
{
left:10085.7px;bottom:7015.47px;color:rgb(35,31,31);
}
#P270_117
{
left:20737.1px;bottom:7035.18px;color:rgb(35,31,31);
}
#P270_118
{
left:21885.4px;bottom:7015.47px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P270_119
{
left:0px;letter-spacing:0px;margin-left:-285.9px;
}
#P270_120
{
left:24406.4px;bottom:7359.2px;color:rgb(35,31,31);
}
#P270_121
{
left:4669.4px;bottom:5479.47px;color:rgb(35,31,31);
}
#P270_122
{
left:6145.11px;bottom:5499.18px;color:rgb(35,31,31);
}
#P270_123
{
left:7293.41px;bottom:5479.47px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P270_124
{
left:0px;letter-spacing:0px;margin-left:-285.9px;
}
#P270_125
{
left:9814.36px;bottom:5823.2px;color:rgb(35,31,31);
}
#P270_126
{
left:10085.7px;bottom:5479.47px;color:rgb(35,31,31);
}
#P270_127
{
left:21049.7px;bottom:5499.18px;color:rgb(35,31,31);
}
#P270_128
{
left:21885.4px;bottom:5479.47px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P270_129
{
left:0px;letter-spacing:0px;margin-left:-285.9px;
}
#P270_130
{
left:24406.4px;bottom:5823.2px;color:rgb(35,31,31);
}
#PageContainer270
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg270.jpg");background-repeat:no-repeat;background-size: 1066px 1047px; background-position: 1px 0.110000000000127px;
}
#ImageContainer270 {bottom:316.89px;right:0.00px;width:1066.24px;height:1047.27px;position:absolute;} #TextContainer270 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}