.tr353{ color:transparent;}
#P353_1
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P353_2
{
left:19640.8px;bottom:1410.03px;color:rgb(35,31,31);
}
#P353_3
{
left:24193px;bottom:1410.03px;letter-spacing:462.5px;word-spacing:-0.4px;color:rgb(35,31,31);
}
#P353_4
{
left:0px;letter-spacing:0.1px;margin-left:-467.5px;
}
#P353_5
{
left:0px;letter-spacing:1.5px;margin-left:0.3px;
}
#P353_6
{
left:0px;letter-spacing:1.3px;margin-left:-1.1px;
}
#P353_7
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P353_8
{
left:13117.4px;bottom:46716.8px;color:rgb(35,31,31);
}
#P353_9
{
left:13722.8px;bottom:46716.8px;color:rgb(35,31,31);
}
#P353_10
{
left:21733.5px;bottom:46716.8px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P353_11
{
left:0px;letter-spacing:0px;margin-left:0.3px;
}
#P353_12
{
left:13117.4px;bottom:45820.8px;letter-spacing:-0.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P353_13
{
left:0px;letter-spacing:-0.1px;margin-left:-13.9px;
}
#P353_14
{
left:0px;letter-spacing:-0.1px;margin-left:-25.2px;
}
#P353_15
{
left:13117.4px;bottom:44924.8px;color:rgb(35,31,31);
}
#P353_16
{
left:20400.1px;bottom:44924.8px;color:rgb(35,31,31);
}
#P353_17
{
left:24217.9px;bottom:44924.8px;color:rgb(35,31,31);
}
#P353_18
{
left:4925.4px;bottom:38048.3px;color:white;
}
#P353_19
{
left:7095.51px;bottom:38290px;color:white;
}
#P353_20
{
left:7431.45px;bottom:38048.3px;color:white;
}
#P353_21
{
left:5053.4px;bottom:36994.5px;color:rgb(35,31,31);
}
#P353_22
{
left:8325.08px;bottom:37132.7px;
}
#P353_23
{
left:8676.38px;bottom:36994.5px;color:rgb(35,31,31);
}
#P353_24
{
left:5053.4px;bottom:36226.5px;color:rgb(35,31,31);
}
#P353_25
{
left:5053.4px;bottom:35458.5px;color:rgb(35,31,31);
}
#P353_26
{
left:7294.04px;bottom:35458.5px;color:rgb(35,31,31);
}
#P353_27
{
left:7755.55px;bottom:32409.4px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P353_28
{
left:14623.8px;bottom:32433.9px;color:white;
}
#P353_29
{
left:16911.7px;bottom:32625.7px;color:white;
}
#P353_30
{
left:17151.9px;bottom:32433.9px;color:white;
}
#P353_31
{
left:20369.4px;bottom:32625.7px;color:white;
}
#P353_32
{
left:20609.6px;bottom:32433.9px;color:white;
}
#P353_33
{
left:12779.5px;bottom:32266.8px;
}
#P353_34
{
left:12779.5px;bottom:32266.8px;color:white;
}
#P353_35
{
left:13847.6px;bottom:30553.6px;letter-spacing:-28.1px;color:rgb(35,31,31);
}
#P353_36
{
left:0px;letter-spacing:-1px;margin-left:28.1px;
}
#P353_37
{
left:0px;letter-spacing:0px;margin-left:1px;
}
#P353_38
{
left:0px;letter-spacing:0px;margin-left:-50.5px;
}
#P353_39
{
left:13798.2px;bottom:29401.6px;letter-spacing:-9.3px;word-spacing:580.1px;color:rgb(35,31,31);
}
#P353_40
{
left:14871.7px;bottom:29401.6px;color:rgb(35,31,31);
}
#P353_41
{
left:15235px;bottom:29401.6px;color:rgb(35,31,31);
}
#P353_42
{
left:15393.4px;bottom:29372px;color:rgb(35,31,31);
}
#P353_43
{
left:16138.2px;bottom:29401.6px;letter-spacing:-0.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P353_44
{
left:16757.7px;bottom:29465.6px;color:rgb(35,31,31);
}
#P353_45
{
left:17158.8px;bottom:29401.6px;letter-spacing:-70.4px;color:rgb(35,31,31);
}
#P353_46
{
left:0px;letter-spacing:0px;margin-left:70.4px;
}
#P353_47
{
left:18281.8px;bottom:29401.6px;color:rgb(35,31,31);
}
#P353_48
{
left:18645.1px;bottom:29401.6px;color:rgb(35,31,31);
}
#P353_49
{
left:18803.5px;bottom:29372px;color:rgb(35,31,31);
}
#P353_50
{
left:19389.9px;bottom:29401.6px;color:rgb(35,31,31);
}
#P353_51
{
left:13079.6px;bottom:28121.5px;color:rgb(35,31,31);
}
#P353_52
{
left:16375.6px;bottom:28121.5px;color:rgb(35,31,31);
}
#P353_53
{
left:16738.8px;bottom:28121.5px;color:rgb(35,31,31);
}
#P353_54
{
left:16897.2px;bottom:28091.9px;color:rgb(35,31,31);
}
#P353_55
{
left:17483.6px;bottom:28121.5px;color:rgb(35,31,31);
}
#P353_56
{
left:18261.5px;bottom:28185.5px;color:rgb(35,31,31);
}
#P353_57
{
left:18909.2px;bottom:28121.5px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P353_58
{
left:22871.6px;bottom:28129.6px;color:rgb(0,124,196);
}
#P353_59
{
left:0px;letter-spacing:0px;margin-left:-49.7px;
}
#P353_60
{
left:13079.6px;bottom:26841.6px;color:rgb(35,31,31);
}
#P353_61
{
left:16369.2px;bottom:26841.6px;color:rgb(235,26,35);
}
#P353_62
{
left:16742.4px;bottom:26841.6px;color:rgb(35,31,31);
}
#P353_63
{
left:16900.8px;bottom:26812px;color:rgb(35,31,31);
}
#P353_64
{
left:17645.6px;bottom:26841.6px;letter-spacing:-0.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P353_65
{
left:18265px;bottom:26905.6px;color:rgb(35,31,31);
}
#P353_66
{
left:18349.5px;bottom:27291.2px;color:rgb(235,26,35);
}
#P353_67
{
left:18958.2px;bottom:26841.6px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P353_68
{
left:22871.6px;bottom:26849.6px;color:rgb(0,124,196);
}
#P353_69
{
left:26949.9px;bottom:26868.4px;color:rgb(0,124,196);
}
#P353_70
{
left:27252.3px;bottom:26849.6px;color:rgb(0,124,196);
}
#P353_71
{
left:17642.8px;bottom:25561.6px;word-spacing:4404.8px;color:rgb(35,31,31);
}
#P353_72
{
left:18262.4px;bottom:25625.6px;color:rgb(35,31,31);
}
#P353_73
{
left:18910px;bottom:25561.6px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P353_74
{
left:19635.1px;bottom:25633.1px;color:rgb(235,26,35);
}
#P353_75
{
left:20794.8px;bottom:25561.6px;color:rgb(35,31,31);
}
#P353_76
{
left:22871.6px;bottom:25569.6px;letter-spacing:-6.2px;color:rgb(0,124,196);
}
#P353_77
{
left:0px;letter-spacing:0px;margin-left:6.2px;
}
#P353_78
{
left:15439.6px;bottom:24281.6px;color:rgb(35,31,31);
}
#P353_79
{
left:0px;letter-spacing:0px;margin-left:545.6px;
}
#P353_80
{
left:0px;letter-spacing:0px;margin-left:-8.4px;
}
#P353_81
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P353_82
{
left:0px;letter-spacing:0px;margin-left:-66.9px;
}
#P353_83
{
left:13764.4px;bottom:23001.6px;letter-spacing:-13.9px;word-spacing:550.9px;color:rgb(35,31,31);
}
#P353_84
{
left:14871.6px;bottom:23001.6px;color:rgb(35,31,31);
}
#P353_85
{
left:15244.8px;bottom:23001.6px;color:rgb(35,31,31);
}
#P353_86
{
left:15574.2px;bottom:23001.6px;color:rgb(35,31,31);
}
#P353_87
{
left:15820.6px;bottom:23065.6px;color:rgb(35,31,31);
}
#P353_88
{
left:16221.8px;bottom:23001.6px;letter-spacing:-70.4px;color:rgb(35,31,31);
}
#P353_89
{
left:0px;letter-spacing:0px;margin-left:70.4px;
}
#P353_90
{
left:17717.8px;bottom:23001.6px;color:rgb(35,31,31);
}
#P353_91
{
left:18047.3px;bottom:23001.6px;color:rgb(35,31,31);
}
#P353_92
{
left:18205.7px;bottom:22972px;color:rgb(35,31,31);
}
#P353_93
{
left:18792.2px;bottom:23001.6px;color:rgb(35,31,31);
}
#P353_94
{
left:13079.6px;bottom:21721.6px;letter-spacing:3649.6px;color:rgb(35,31,31);
}
#P353_95
{
left:17260.8px;bottom:21721.6px;color:rgb(35,31,31);
}
#P353_96
{
left:17590.2px;bottom:21721.6px;color:rgb(35,31,31);
}
#P353_97
{
left:17748.6px;bottom:21721.6px;color:rgb(235,26,35);
}
#P353_98
{
left:17836.6px;bottom:21785.6px;color:rgb(35,31,31);
}
#P353_99
{
left:18237.8px;bottom:21721.6px;letter-spacing:-70.4px;color:rgb(235,26,35);
}
#P353_100
{
left:18484.2px;bottom:21721.6px;color:rgb(35,31,31);
}
#P353_101
{
left:22871.6px;bottom:21729.6px;color:rgb(0,124,196);
}
#P353_102
{
left:0px;letter-spacing:0px;margin-left:-49.7px;
}
#P353_103
{
left:16369.2px;bottom:20441.6px;word-spacing:3131.2px;color:rgb(35,31,31);
}
#P353_104
{
left:16988.8px;bottom:20441.6px;color:rgb(235,26,35);
}
#P353_105
{
left:17361.9px;bottom:20441.6px;letter-spacing:-0.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P353_106
{
left:17854.6px;bottom:20505.6px;color:rgb(35,31,31);
}
#P353_107
{
left:17918px;bottom:20891.2px;color:rgb(235,26,35);
}
#P353_108
{
left:18526.6px;bottom:20441.6px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P353_109
{
left:22871.6px;bottom:20449.6px;color:rgb(0,124,196);
}
#P353_110
{
left:26949.9px;bottom:20468.4px;color:rgb(0,124,196);
}
#P353_111
{
left:27252.3px;bottom:20449.6px;color:rgb(0,124,196);
}
#P353_112
{
left:16791.6px;bottom:19161.6px;word-spacing:3553.6px;color:rgb(35,31,31);
}
#P353_113
{
left:0px;letter-spacing:0px;margin-left:-3391.6px;
}
#P353_114
{
left:17914.5px;bottom:19081.6px;color:rgb(35,31,31);
}
#P353_115
{
left:18440.2px;bottom:19161.6px;word-spacing:14.1px;color:rgb(35,31,31);
}
#P353_116
{
left:19538.5px;bottom:19169.1px;color:rgb(235,26,35);
}
#P353_117
{
left:20678.6px;bottom:19161.6px;color:rgb(35,31,31);
}
#P353_118
{
left:22871.6px;bottom:19169.6px;color:rgb(0,124,196);
}
#P353_119
{
left:0px;letter-spacing:0px;margin-left:-49.7px;
}
#P353_120
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P353_121
{
left:26575px;bottom:19188.4px;color:rgb(0,124,196);
}
#P353_122
{
left:27549.3px;bottom:19169.6px;color:rgb(0,124,196);
}
#P353_123
{
left:15439.6px;bottom:17881.6px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P353_124
{
left:0px;letter-spacing:-14px;margin-left:-554px;
}
#P353_125
{
left:0px;letter-spacing:0px;margin-left:14px;
}
#P353_126
{
left:18440.9px;bottom:17881.6px;color:rgb(35,31,31);
}
#P353_127
{
left:19494px;bottom:17881.6px;color:rgb(35,31,31);
}
#P353_128
{
left:0px;letter-spacing:0px;margin-left:-66.9px;
}
#P353_129
{
left:13842.8px;bottom:16185.6px;word-spacing:615.3px;color:rgb(35,31,31);
}
#P353_130
{
left:14912.4px;bottom:16625.3px;color:rgb(35,31,31);
}
#P353_131
{
left:15208.9px;bottom:16203.2px;color:rgb(35,31,31);
}
#P353_132
{
left:14871.6px;bottom:16169.6px;color:rgb(35,31,31);
}
#P353_133
{
left:15249.7px;bottom:16186.8px;color:rgb(35,31,31);
}
#P353_134
{
left:14892.8px;bottom:15717.7px;color:rgb(35,31,31);
}
#P353_135
{
left:15228.6px;bottom:16203.2px;color:rgb(35,31,31);
}
#P353_136
{
left:15249.7px;bottom:16185.6px;color:rgb(35,31,31);
}
#P353_137
{
left:15249.7px;bottom:16185.6px;color:rgb(35,31,31);
}
#P353_138
{
left:15496.1px;bottom:16361.6px;color:rgb(35,31,31);
}
#P353_139
{
left:15970.5px;bottom:16185.6px;color:rgb(35,31,31);
}
#P353_140
{
left:17005.4px;bottom:16185.6px;color:rgb(35,31,31);
}
#P353_141
{
left:17334.9px;bottom:16185.6px;color:rgb(35,31,31);
}
#P353_142
{
left:17493.3px;bottom:16156px;color:rgb(35,31,31);
}
#P353_143
{
left:18079.7px;bottom:16185.6px;color:rgb(35,31,31);
}
#P353_144
{
left:13079.6px;bottom:14265.6px;letter-spacing:3457.6px;color:rgb(35,31,31);
}
#P353_145
{
left:0px;letter-spacing:0px;margin-left:-3616px;
}
#P353_146
{
left:16736.4px;bottom:14705.3px;color:rgb(35,31,31);
}
#P353_147
{
left:17032.9px;bottom:14283.2px;color:rgb(235,26,35);
}
#P353_148
{
left:16695.6px;bottom:14249.6px;color:rgb(35,31,31);
}
#P353_149
{
left:17073.7px;bottom:14266.8px;color:rgb(35,31,31);
}
#P353_150
{
left:16716.8px;bottom:13797.7px;color:rgb(35,31,31);
}
#P353_151
{
left:17052.6px;bottom:14283.2px;color:rgb(35,31,31);
}
#P353_152
{
left:17320.1px;bottom:14441.6px;color:rgb(35,31,31);
}
#P353_153
{
left:17794.5px;bottom:14265.6px;color:rgb(35,31,31);
}
#P353_154
{
left:22871.6px;bottom:14273.6px;color:rgb(0,124,196);
}
#P353_155
{
left:0px;letter-spacing:0px;margin-left:-49.7px;
}
#P353_156
{
left:13079.6px;bottom:12057.6px;letter-spacing:3131.2px;color:rgb(35,31,31);
}
#P353_157
{
left:0px;letter-spacing:0px;margin-left:-3289.6px;
}
#P353_158
{
left:16390.4px;bottom:12497.3px;color:rgb(235,26,35);
}
#P353_159
{
left:17062px;bottom:12075.2px;color:rgb(235,26,35);
}
#P353_160
{
left:16369.2px;bottom:12041.6px;color:rgb(35,31,31);
}
#P353_161
{
left:17083.1px;bottom:12058.8px;color:rgb(35,31,31);
}
#P353_162
{
left:16558.2px;bottom:11589.7px;color:rgb(35,31,31);
}
#P353_163
{
left:16894px;bottom:12075.2px;color:rgb(35,31,31);
}
#P353_164
{
left:17329.5px;bottom:12233.6px;color:rgb(35,31,31);
}
#P353_165
{
left:17399.2px;bottom:12532.8px;color:rgb(235,26,35);
}
#P353_166
{
left:18007.8px;bottom:12057.6px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P353_167
{
left:22871.6px;bottom:12065.6px;color:rgb(0,124,196);
}
#P353_168
{
left:27272.5px;bottom:12084.4px;color:rgb(0,124,196);
}
#P353_169
{
left:27574.9px;bottom:12065.6px;color:rgb(0,124,196);
}
#P353_170
{
left:16711.6px;bottom:10297.6px;word-spacing:3473.6px;color:rgb(35,31,31);
}
#P353_171
{
left:17331.2px;bottom:10473.6px;color:rgb(35,31,31);
}
#P353_172
{
left:17964px;bottom:10297.6px;word-spacing:-0.1px;color:rgb(35,31,31);
}
#P353_173
{
left:18689.1px;bottom:10369.1px;color:rgb(235,26,35);
}
#P353_174
{
left:19848.8px;bottom:10297.6px;color:rgb(35,31,31);
}
#P353_175
{
left:22871.6px;bottom:10305.6px;color:rgb(0,124,196);
}
#P353_176
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P353_177
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P353_178
{
left:15439.6px;bottom:9017.58px;color:rgb(35,31,31);
}
#P353_179
{
left:0px;letter-spacing:0px;margin-left:545.6px;
}
#P353_180
{
left:0px;letter-spacing:0px;margin-left:-8.4px;
}
#P353_181
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P353_182
{
left:0px;letter-spacing:0px;margin-left:-66.9px;
}
#P353_183
{
left:13847.6px;bottom:5561.58px;color:rgb(35,31,31);
}
#P353_184
{
left:0px;letter-spacing:0px;margin-left:-56.2px;
}
#P353_185
{
left:0px;letter-spacing:0px;margin-left:-50.6px;
}
#P353_186
{
left:13847.6px;bottom:4409.52px;color:rgb(35,31,31);
}
#P353_187
{
left:14311.2px;bottom:4436.4px;color:rgb(35,31,31);
}
#P353_188
{
left:15511.6px;bottom:4409.58px;color:rgb(35,31,31);
}
#P353_189
{
left:15905.2px;bottom:4409.58px;color:rgb(35,31,31);
}
#P353_190
{
left:16063.6px;bottom:4380.01px;color:rgb(35,31,31);
}
#P353_191
{
left:16649.9px;bottom:4409.58px;color:rgb(35,31,31);
}
#P353_192
{
left:0px;letter-spacing:0px;margin-left:42.2px;
}
#P353_193
{
left:0px;letter-spacing:0px;margin-left:84.5px;
}
#P353_194
{
left:21863.2px;bottom:4436.4px;color:rgb(35,31,31);
}
#P353_195
{
left:23127.6px;bottom:4409.58px;color:rgb(35,31,31);
}
#P353_196
{
left:23659.2px;bottom:4380.01px;color:rgb(35,31,31);
}
#P353_197
{
left:24245.6px;bottom:4409.58px;color:rgb(35,31,31);
}
#P353_198
{
left:24403.9px;bottom:4409.58px;color:rgb(35,31,31);
}
#P353_199
{
left:24839px;bottom:4409.58px;color:rgb(35,31,31);
}
#P353_200
{
left:25085.4px;bottom:4585.58px;color:rgb(35,31,31);
}
#P353_201
{
left:25559.9px;bottom:4409.58px;color:rgb(35,31,31);
}
#P353_202
{
left:29543.2px;bottom:4436.4px;color:rgb(35,31,31);
}
#P353_203
{
left:30807.6px;bottom:4409.58px;color:rgb(35,31,31);
}
#P353_204
{
left:31712.3px;bottom:4380.01px;color:rgb(35,31,31);
}
#P353_205
{
left:32298.7px;bottom:4409.58px;color:rgb(35,31,31);
}
#P353_206
{
left:32457px;bottom:4409.58px;color:rgb(35,31,31);
}
#P353_207
{
left:32820.3px;bottom:4409.58px;color:rgb(35,31,31);
}
#P353_208
{
left:33137.1px;bottom:4585.58px;color:rgb(35,31,31);
}
#P353_209
{
left:33611.6px;bottom:4409.58px;color:rgb(35,31,31);
}
#P353_210
{
left:8013.4px;bottom:4444.78px;color:rgb(35,31,31);
}
#P353_211
{
left:15225.8px;bottom:42866px;letter-spacing:-18.4px;color:rgb(35,31,31);
}
#P353_212
{
left:0px;letter-spacing:0px;margin-left:18.4px;
}
#P353_213
{
left:18027.4px;bottom:42866px;color:rgb(35,31,31);
}
#P353_214
{
left:20054.9px;bottom:42788.4px;color:rgb(35,31,31);
}
#P353_215
{
left:20428.6px;bottom:42788.4px;color:rgb(35,31,31);
}
#P353_216
{
left:20615.4px;bottom:42741.4px;color:rgb(35,31,31);
}
#P353_217
{
left:21175.2px;bottom:42788.4px;color:rgb(35,31,31);
}
#P353_218
{
left:21922.4px;bottom:43001.6px;color:rgb(35,31,31);
}
#P353_219
{
left:21922.5px;bottom:43001.6px;
}
#P353_220
{
left:22291.4px;bottom:42788.4px;color:rgb(35,31,31);
}
#P353_221
{
left:24367px;bottom:42866px;color:rgb(35,31,31);
}
#P353_222
{
left:16635.3px;bottom:40875.9px;color:rgb(235,26,35);
}
#P353_223
{
left:19597.4px;bottom:41150.3px;color:rgb(235,26,35);
}
#P353_224
{
left:19953.6px;bottom:41150.3px;color:rgb(35,31,31);
}
#P353_225
{
left:20104.7px;bottom:41122.1px;color:rgb(35,31,31);
}
#P353_226
{
left:20664.5px;bottom:41150.3px;color:rgb(35,31,31);
}
#P353_227
{
left:21406.9px;bottom:41318.3px;color:rgb(35,31,31);
}
#P353_228
{
left:21453.5px;bottom:41617.5px;color:rgb(235,26,35);
}
#P353_229
{
left:22050.8px;bottom:41150.3px;word-spacing:-67.2px;color:rgb(35,31,31);
}
#P353_230
{
left:20813.4px;bottom:40254.3px;color:rgb(35,31,31);
}
#P353_231
{
left:21404.8px;bottom:40422.3px;color:rgb(35,31,31);
}
#P353_232
{
left:21857.7px;bottom:40254.3px;color:rgb(35,31,31);
}
#P353_233
{
left:22701px;bottom:40352.7px;color:rgb(235,26,35);
}
#P353_234
{
left:27334.2px;bottom:40875.9px;letter-spacing:-2px;color:rgb(235,26,35);
}
#P353_235
{
left:16635.4px;bottom:38360.6px;color:rgb(235,26,35);
}
#P353_236
{
left:19597.3px;bottom:38635.1px;color:rgb(235,26,35);
}
#P353_237
{
left:19953.6px;bottom:38635.1px;color:rgb(35,31,31);
}
#P353_238
{
left:20104.7px;bottom:38606.9px;color:rgb(35,31,31);
}
#P353_239
{
left:20664.5px;bottom:38635.1px;color:rgb(35,31,31);
}
#P353_240
{
left:21406.9px;bottom:38803.1px;color:rgb(35,31,31);
}
#P353_241
{
left:21453.5px;bottom:39102.3px;color:rgb(235,26,35);
}
#P353_242
{
left:22050.8px;bottom:38635.1px;word-spacing:-67.2px;color:rgb(35,31,31);
}
#P353_243
{
left:20813.4px;bottom:37739.1px;color:rgb(35,31,31);
}
#P353_244
{
left:21404.8px;bottom:37907.1px;color:rgb(35,31,31);
}
#P353_245
{
left:21857.7px;bottom:37739.1px;color:rgb(35,31,31);
}
#P353_246
{
left:22701px;bottom:37837.5px;color:rgb(235,26,35);
}
#P353_247
{
left:27334.2px;bottom:38360.7px;letter-spacing:-2px;color:rgb(235,26,35);
}
#P353_248
{
left:16635.4px;bottom:35845.5px;color:rgb(235,26,35);
}
#P353_249
{
left:19597.3px;bottom:36120px;color:rgb(235,26,35);
}
#P353_250
{
left:19953.6px;bottom:36119.9px;color:rgb(35,31,31);
}
#P353_251
{
left:20104.7px;bottom:36091.7px;color:rgb(35,31,31);
}
#P353_252
{
left:20664.5px;bottom:36119.9px;color:rgb(35,31,31);
}
#P353_253
{
left:21406.9px;bottom:36287.9px;color:rgb(35,31,31);
}
#P353_254
{
left:21453.5px;bottom:36587.1px;color:rgb(235,26,35);
}
#P353_255
{
left:22050.8px;bottom:36119.9px;word-spacing:-67.2px;color:rgb(35,31,31);
}
#P353_256
{
left:20781.3px;bottom:35223.9px;color:rgb(35,31,31);
}
#P353_257
{
left:21372.7px;bottom:35391.9px;color:rgb(35,31,31);
}
#P353_258
{
left:21389.3px;bottom:35135.9px;color:rgb(35,31,31);
}
#P353_259
{
left:21412.4px;bottom:35135.9px;color:rgb(35,31,31);
}
#P353_260
{
left:21185.8px;bottom:35223.9px;color:rgb(35,31,31);
}
#P353_261
{
left:0px;letter-spacing:0px;margin-left:-67.1px;
}
#P353_262
{
left:22533.1px;bottom:35258.3px;color:rgb(235,26,35);
}
#P353_263
{
left:27419.5px;bottom:35845.5px;color:rgb(35,31,31);
}
#PageContainer353
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg353.jpg");background-repeat:no-repeat;background-size: 889px 1269px; background-position: 120.34px -0.339999999999918px;
}
#ImageContainer353 {bottom:95.34px;left:120.34px;width:888.55px;height:1268.82px;position:absolute;} #TextContainer353 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.example2{ position: absolute; top: 453px; left: 159px;}

.nyr{position: absolute;top: 1201px;left: 188px;}
.nyr_exr{position: absolute;top: 1243px;left: 213px;color: rgb(35,31,31);font-size: 16px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}