.tr214{ color:transparent;}
#P214_1
{
left:0px;bottom:0px;letter-spacing:0px;color:white;
}
#P214_2
{
left:0px;bottom:0px;letter-spacing:0px;color:white;
}
#P214_3
{
left:0px;bottom:0px;letter-spacing:0px;color:white;
}
#P214_4
{
left:5781.85px;bottom:39271px;word-spacing:994.6px;
}
#P214_5
{
left:10914.6px;bottom:39569.3px;
}
#P214_6
{
left:5781.85px;bottom:39271px;word-spacing:994.6px;color:white;
}
#P214_7
{
left:11288.2px;bottom:39271px;
}
#P214_8
{
left:10914.6px;bottom:39569.3px;color:white;
}
#P214_9
{
left:11288.2px;bottom:39271px;color:white;
}
#P214_10
{
left:5781.85px;bottom:37274.2px;word-spacing:994.6px;
}
#P214_11
{
left:10914.6px;bottom:37572.5px;
}
#P214_12
{
left:5781.85px;bottom:37274.2px;word-spacing:994.6px;color:white;
}
#P214_13
{
left:11288.2px;bottom:37274.2px;letter-spacing:-21px;word-spacing:-49.6px;
}
#P214_14
{
left:0px;letter-spacing:0px;margin-left:21px;
}
#P214_15
{
left:10914.6px;bottom:37572.5px;color:white;
}
#P214_16
{
left:11288.2px;bottom:37274.2px;letter-spacing:-21px;word-spacing:-49.6px;color:white;
}
#P214_17
{
left:0px;letter-spacing:0px;margin-left:21px;
}
#P214_18
{
left:5781.85px;bottom:35277.4px;word-spacing:994.6px;
}
#P214_19
{
left:5781.85px;bottom:35277.4px;word-spacing:994.6px;color:white;
}
#P214_20
{
left:5781.85px;bottom:33280.6px;word-spacing:994.6px;
}
#P214_21
{
left:13552.9px;bottom:33578.9px;
}
#P214_22
{
left:13926.5px;bottom:33280.6px;letter-spacing:-2.2px;
}
#P214_23
{
left:22020.2px;bottom:33578.9px;
}
#P214_24
{
left:22393.8px;bottom:33280.6px;
}
#P214_25
{
left:26303.5px;bottom:33578.9px;
}
#P214_26
{
left:5781.85px;bottom:33280.6px;word-spacing:994.6px;color:white;
}
#P214_27
{
left:26677.1px;bottom:33280.6px;
}
#P214_28
{
left:13552.9px;bottom:33578.9px;color:white;
}
#P214_29
{
left:13926.5px;bottom:33280.6px;letter-spacing:-2.2px;color:white;
}
#P214_30
{
left:22020.3px;bottom:33578.9px;color:white;
}
#P214_31
{
left:22393.9px;bottom:33280.6px;color:white;
}
#P214_32
{
left:26303.6px;bottom:33578.9px;color:white;
}
#P214_33
{
left:26677.3px;bottom:33280.6px;color:white;
}
#P214_34
{
left:5781.85px;bottom:31283.8px;letter-spacing:-6.9px;word-spacing:994.6px;
}
#P214_35
{
left:0px;letter-spacing:0px;margin-left:6.9px;
}
#P214_36
{
left:5781.85px;bottom:31283.8px;letter-spacing:-6.8px;word-spacing:994.6px;color:white;
}
#P214_37
{
left:0px;letter-spacing:0px;margin-left:6.8px;
}
#P214_38
{
left:5781.85px;bottom:29287px;word-spacing:994.6px;
}
#P214_39
{
left:11437.4px;bottom:29585.3px;
}
#P214_40
{
left:5781.85px;bottom:29287px;word-spacing:994.6px;color:white;
}
#P214_41
{
left:11811px;bottom:29287px;letter-spacing:-6.9px;
}
#P214_42
{
left:0px;letter-spacing:-2.4px;margin-left:6.9px;
}
#P214_43
{
left:11437.4px;bottom:29585.3px;color:white;
}
#P214_44
{
left:11811px;bottom:29287px;letter-spacing:-6.8px;color:white;
}
#P214_45
{
left:0px;letter-spacing:-2.4px;margin-left:6.8px;
}
#P214_46
{
left:5781.85px;bottom:27290.2px;word-spacing:994.6px;
}
#P214_47
{
left:13628.1px;bottom:27588.5px;
}
#P214_48
{
left:5781.85px;bottom:27290.2px;word-spacing:994.6px;color:white;
}
#P214_49
{
left:14001.8px;bottom:27290.2px;letter-spacing:-2.4px;
}
#P214_50
{
left:13628.1px;bottom:27588.5px;color:white;
}
#P214_51
{
left:14001.8px;bottom:27290.2px;letter-spacing:-2.4px;color:white;
}
#P214_52
{
left:9428.66px;bottom:4852.73px;letter-spacing:-0.7px;word-spacing:-0.1px;color:rgb(33,31,31);
}
#P214_53
{
left:0px;letter-spacing:0.1px;margin-left:0.8px;
}
#P214_54
{
left:0px;letter-spacing:-14.3px;margin-left:-43.3px;
}
#P214_55
{
left:0px;letter-spacing:0.1px;margin-left:14.4px;
}
#P214_56
{
left:10253px;bottom:4176.19px;color:rgb(33,31,31);
}
#P214_57
{
left:0px;letter-spacing:-14.4px;margin-left:-43.2px;
}
#P214_58
{
left:0px;letter-spacing:-2.4px;margin-left:14.4px;
}
#P214_59
{
left:0px;letter-spacing:-14.4px;margin-left:-40.9px;
}
#P214_60
{
left:0px;letter-spacing:0px;margin-left:14.4px;
}
#P214_61
{
left:0px;letter-spacing:0px;margin-left:-51.8px;
}
#P214_62
{
left:24027.6px;bottom:3959.29px;letter-spacing:0.2px;word-spacing:-0.2px;color:rgb(33,31,31);
}
#P214_63
{
left:0px;letter-spacing:0.2px;margin-left:148.9px;
}
#P214_64
{
left:0px;letter-spacing:0px;margin-left:-52px;
}
#P214_65
{
left:4618.95px;bottom:14013.3px;letter-spacing:-0.2px;color:rgb(33,31,31);
}
#P214_66
{
left:0px;letter-spacing:0px;margin-left:-28.5px;
}
#P214_67
{
left:0px;letter-spacing:0px;
}
#P214_68
{
left:8985.28px;bottom:13847.7px;letter-spacing:-1.4px;color:rgb(33,31,31);
}
#P214_69
{
left:0px;letter-spacing:-51.8px;margin-left:-40.6px;
}
#P214_70
{
left:17970.9px;bottom:15475.6px;letter-spacing:-0.1px;word-spacing:-0.2px;color:rgb(33,31,31);
}
#P214_71
{
left:20452.3px;bottom:15103.5px;color:rgb(33,31,31);
}
#P214_72
{
left:0px;letter-spacing:0px;margin-left:-34.6px;
}
#P214_73
{
left:0px;letter-spacing:0px;margin-left:-51.8px;
}
#P214_74
{
left:0px;bottom:0px;letter-spacing:0px;color:white;
}
#P214_75
{
left:6845.4px;bottom:42552.1px;
}
#P214_76
{
left:11220.1px;bottom:43191.5px;
}
#P214_77
{
left:12020.8px;bottom:42552.1px;
}
#P214_78
{
left:2365.4px;bottom:40990.1px;
}
#PageContainer214
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg214.jpg");background-repeat:no-repeat;background-size: 1066px 1364px; background-position: right bottom;
}
#ImageContainer214 {bottom:0.00px;right:0.00px;width:1066.24px;height:1364.16px;position:absolute;} #TextContainer214 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}