.tr233{ color:transparent;}
#P233_1
{
left:4592.6px;bottom:1544.43px;color:rgb(35,31,31);
}
#P233_2
{
left:28254.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P233_3
{
left:31526.9px;bottom:1544.43px;letter-spacing:462.1px;color:rgb(35,31,31);
}
#P233_4
{
left:0px;letter-spacing:2.2px;margin-left:-461.8px;
}
#P233_5
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P233_6
{
left:13896.4px;bottom:35740.8px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P233_6a
{
left:14896.4px;bottom:35740.8px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P233_7
{
left:0px;letter-spacing:0px;margin-left:274.1px;
}
#P233_8
{
left:0px;letter-spacing:0px;
margin-left: 0;
}
#P233_9
{
left:0px;letter-spacing:0px;
}
#P233_10
{
left:0px;letter-spacing:0px;margin-left:-225.1px;
}
#P233_11
{
left:0px;letter-spacing:0px;margin-left:77.1px;
}
#P233_12
{
left:0px;letter-spacing:-2.2px;
}
#P233_13
{
left:0px;letter-spacing:-14px;margin-left:2.2px;
}
#P233_14
{
left:0px;letter-spacing:0px;margin-left:14px;
}
#P233_15
{
left:14856.4px;bottom:34844.8px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P233_16
{
left:27740.9px;bottom:34844.8px;word-spacing:77.1px;color:rgb(35,31,31);
}
#P233_17
{
left:14920.4px;bottom:33692.8px;letter-spacing:-9.3px;color:rgb(35,31,31);
}
#P233_18
{
left:0px;letter-spacing:-1.4px;margin-left:9.3px;
}
#P233_19
{
left:0px;letter-spacing:0px;margin-left:1.4px;
}
#P233_20
{
left:0px;letter-spacing:0px;margin-left:-214.8px;
}
#P233_21
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P233_22
{
left:0px;letter-spacing:-0.2px;
}
#P233_23
{
left:14920.4px;bottom:32796.8px;color:rgb(35,31,31);
}
#P233_24
{
left:0px;letter-spacing:0px;margin-left:-214.7px;
}
#P233_25
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P233_26
{
left:26933px;bottom:32796.8px;letter-spacing:-2.3px;word-spacing:56.3px;color:rgb(35,31,31);
}
#P233_27
{
left:13128.4px;bottom:29916.8px;color:rgb(35,31,31);
}
#P233_28
{
left:17944.4px;bottom:29585.3px;color:rgb(35,31,31);
}
#P233_29
{
left:24340.4px;bottom:29566.5px;color:rgb(35,31,31);
}
#P233_30
{
left:0px;letter-spacing:0px;margin-left:1118.6px;
}
#P233_31
{
left:0px;letter-spacing:0px;margin-left:851.6px;
}
#P233_32
{
left:17944.4px;bottom:28049.3px;color:rgb(35,31,31);
}
#P233_33
{
left:24518.4px;bottom:28030.5px;letter-spacing:1563.8px;word-spacing:-151.1px;color:rgb(35,31,31);
}
#P233_34
{
left:0px;letter-spacing:1563.8px;margin-left:0.1px;
}
#P233_35
{
left: 16165.4px;bottom:24796.8px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P233_36
{
left:0px;letter-spacing:0px;
margin-left: 0;
}
#P233_37
{
left:0px;letter-spacing:-9.3px;margin-left:-8.4px;
}
#P233_38
{
left:0px;letter-spacing:-0.3px;margin-left:9.3px;
}
#P233_39
{
left:34584.7px;bottom:24796.8px;letter-spacing:-2.3px;word-spacing:56.3px;color:rgb(35,31,31);
}
#P233_40
{
left:13896.4px;bottom:23132.8px;letter-spacing:-17.5px;color:rgb(35,31,31);
}
#P233_40a
{
left:14896.4px;bottom:23132.8px;letter-spacing:-17.5px;color:rgb(35,31,31);
}
#P233_41
{
left:0px;letter-spacing:0px;margin-left:241.5px;
}
#P233_42
{
left:0px;letter-spacing:0px;
margin-left: 0;
}
#P233_43
{
left:0px;letter-spacing:0px;margin-left:-63.3px;
}
#P233_44
{
left:0px;letter-spacing:0px;
}
#P233_45
{
left:0px;letter-spacing:0px;margin-left:-225px;
}
#P233_46
{
left:0px;letter-spacing:0px;margin-left:77.1px;
}
#P233_47
{
left:0px;letter-spacing:-2.2px;
}
#P233_48
{
left:0px;letter-spacing:14px;margin-left:-40px;
}
#P233_49
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P233_50
{
left:14856.5px;bottom:22237px;color:rgb(35,31,31);
}
#P233_51
{
left:21542.9px;bottom:22237px;word-spacing:77.1px;color:rgb(35,31,31);
}
#P233_52
{
left:14920.4px;bottom:21084.8px;letter-spacing:-0.3px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P233_53
{
left:0px;letter-spacing:-0.4px;margin-left:158.3px;
}
#P233_54
{
left:14920.4px;bottom:20189px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P233_55
{
left:0px;letter-spacing:0px;margin-left:-13.9px;
}
#P233_56
{
left: 15924.4px;bottom:13276.8px;color:rgb(35,31,31);
}
#P233_57
{
left:0px;letter-spacing:0px;margin-left:545.6px;
}
#P233_58
{
left:0px;letter-spacing:0px;
margin-left: 0;
}
#P233_59
{
left:0px;letter-spacing:0px;margin-left:-8.4px;
}
#P233_60
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P233_61
{
left:0px;letter-spacing:0px;margin-left:-214.9px;
}
#P233_62
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P233_63
{
left:13896.4px;bottom:9692.84px;color:rgb(35,31,31);
}
#P233_64
{
left:14360px;bottom:9719.66px;word-spacing:453.2px;color:rgb(35,31,31);
}
#P233_65
{
left:15560.4px;bottom:9692.84px;letter-spacing:-31.7px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P233_66
{
left:0px;letter-spacing:-3.6px;margin-left:31.6px;
}
#P233_67
{
left:0px;letter-spacing:-0.2px;margin-left:3.5px;
}
#P233_68
{
left:0px;letter-spacing:-1.5px;margin-left:157.2px;
}
#P233_69
{
left:13128.4px;bottom:8412.84px;color:rgb(35,31,31);
}
#P233_70
{
left:15520.3px;bottom:8412.84px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P233_71
{
left:16712.3px;bottom:8412.84px;letter-spacing:-10.5px;color:rgb(35,31,31);
}
#P233_72
{
left:0px;letter-spacing:-1px;margin-left:10.5px;
}
#P233_73
{
left:0px;letter-spacing:-3px;margin-left:-3.2px;
}
#P233_74
{
left:0px;letter-spacing:0px;margin-left:3px;
}
#P233_75
{
left:13128.5px;bottom:7132.84px;color:rgb(35,31,31);
}
#P233_76
{
left:15484.3px;bottom:7132.84px;letter-spacing:-13.9px;word-spacing:499.1px;color:rgb(35,31,31);
}
#P233_77
{
left:16712.4px;bottom:7132.84px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P233_78
{
left:0px;letter-spacing:-1.2px;margin-left:0.5px;
}
#P233_79
{
left:16712.4px;bottom:6236.84px;letter-spacing:-1.7px;color:rgb(35,31,31);
}
#P233_80
{
left:0px;letter-spacing:0px;margin-left:-19.2px;
}
#P233_81
{
left:0px;letter-spacing:-1.3px;
}
#P233_82
{
left:0px;letter-spacing:-3.5px;margin-left:-2.8px;
}
#P233_83
{
left:0px;letter-spacing:0px;margin-left:3.5px;
}
#P233_84
{
left:16712.4px;bottom:5340.84px;color:rgb(35,31,31);
}
#P233_85
{
left:7737.11px;bottom:37281.7px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P233_86
{
left:14605.4px;bottom:37306.2px;color:white;
}
#P233_87
{
left:15021px;bottom:37498px;color:white;
}
#P233_88
{
left:15261.2px;bottom:37306.2px;color:white;
}
#P233_89
{
left:16237.5px;bottom:37498px;color:white;
}
#P233_90
{
left:16477.7px;bottom:37306.2px;color:white;
}
#P233_91
{
left:19103.4px;bottom:37498px;color:white;
}
#P233_92
{
left:19343.6px;bottom:37306.2px;color:white;
}
#P233_93
{
left:12809px;bottom:37139.1px;
}
#P233_94
{
left:12809px;bottom:37139.1px;color:white;
}
#P233_95
{
left:8013.4px;bottom:44195.6px;color:rgb(35,31,31);
}
#P233_96
{
left:8013.4px;bottom:8739.56px;color:rgb(35,31,31);
}
#P233_97
{
left:8013.4px;bottom:7971.56px;color:rgb(35,31,31);
}
#P233_98
{
left:14349px;bottom:45207.6px;color:rgb(35,31,31);
}
#P233_99
{
left:15549.4px;bottom:45180.8px;letter-spacing:-13.1px;color:rgb(35,31,31);
}
#P233_100
{
left:0px;letter-spacing:-0.9px;margin-left:13.1px;
}
#P233_101
{
left:0px;letter-spacing:-0.7px;margin-left:0.9px;
}
#P233_102
{
left:0px;letter-spacing:0px;margin-left:0.7px;
}
#P233_103
{
left:14349px;bottom:43927.6px;word-spacing:453.2px;color:rgb(35,31,31);
}
#P233_104
{
left:15549.4px;bottom:43900.8px;letter-spacing:-8.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P233_105
{
left:0px;letter-spacing:-0.4px;margin-left:8.4px;
}
#P233_106
{
left:0px;letter-spacing:-7px;margin-left:-13.6px;
}
#P233_107
{
left:0px;letter-spacing:-0.1px;margin-left:-13.9px;
}
#P233_108
{
left:0px;letter-spacing:-0.1px;margin-left:158.4px;
}
#P233_109
{
left:15549.4px;bottom:43004.8px;word-spacing:0.4px;color:rgb(35,31,31);
}
#P233_110
{
left:14349px;bottom:41751.6px;word-spacing:453.2px;color:rgb(35,31,31);
}
#P233_111
{
left:15549.4px;bottom:41724.8px;letter-spacing:-63.2px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P233_112
{
left:0px;letter-spacing:-0.2px;margin-left:63.2px;
}
#P233_113
{
left:0px;letter-spacing:0px;margin-left:-66.8px;
}
#P233_114
{
left:0px;letter-spacing:-42.2px;margin-left:116.2px;
}
#P233_115
{
left:0px;letter-spacing:5.4px;margin-left:10.6px;
}
#P233_116
{
left:0px;letter-spacing:-0.4px;margin-left:-5.5px;
}
#P233_117
{
left:15549.4px;bottom:40828.8px;color:rgb(35,31,31);
}
#P233_118
{
left:0px;letter-spacing:0px;margin-left:-66.9px;
}
#P233_119
{
left:4818.71px;bottom:22599.5px;color:white;
}
#P233_120
{
left:8174.36px;bottom:22841.1px;color:white;
}
#P233_121
{
left:8510.23px;bottom:22599.5px;color:white;
}
#P233_122
{
left:5053.4px;bottom:21496.5px;color:rgb(35,31,31);
}
#P233_123
{
left:5053.4px;bottom:20728.5px;color:rgb(35,31,31);
}
#P233_124
{
left:8609.18px;bottom:20728.5px;color:rgb(35,31,31);
}
#P233_125
{
left:10956.1px;bottom:20728.5px;color:rgb(35,31,31);
}
#P233_126
{
left:5053.4px;bottom:19960.5px;color:rgb(35,31,31);
}
#P233_127
{
left:5053.4px;bottom:19192.5px;color:rgb(35,31,31);
}
#P233_128
{
left:5053.4px;bottom:18424.5px;color:rgb(35,31,31);
}
#P233_129
{
left:13315.7px;bottom:15926.8px;color:rgb(33,31,31);
}
#P233_130
{
left:13315.7px;bottom:15265px;color:rgb(33,31,31);
}
#P233_131
{
left:13315.7px;bottom:18592px;color:rgb(33,31,31);
}
#P233_132
{
left:16896.8px;bottom:15926.8px;letter-spacing:10458.6px;color:rgb(33,31,31);
}
#P233_133
{
left:0px;letter-spacing:0px;margin-left:-14324.2px;
}
#P233_134
{
left:20477.7px;bottom:15926.8px;color:rgb(33,31,31);
}
#P233_135
{
left:25848.1px;bottom:15926.8px;color:rgb(0,124,196);
}
#P233_136
{
left:13315.4px;bottom:17953.3px;color:rgb(33,31,31);
}
#P233_137
{
left:16754.5px;bottom:17953.3px;color:rgb(33,31,31);
}
#P233_138
{
left:0px;letter-spacing:0px;margin-left:10174px;
}
#P233_139
{
left:20335.4px;bottom:17953.3px;color:rgb(33,31,31);
}
#P233_140
{
left:23916.8px;bottom:17953.3px;color:rgb(33,31,31);
}
#P233_141
{
left:25705.8px;bottom:17953.3px;color:rgb(0,124,196);
}
#P233_142
{
left:29787.7px;bottom:17519.7px;letter-spacing:-0.5px;color:rgb(0,124,196);
}
#P233_143
{
left:29787.7px;bottom:16713.3px;letter-spacing:-8.3px;color:rgb(0,124,196);
}
#P233_144
{
left:0px;letter-spacing:-24.9px;margin-left:8.3px;
}
#P233_145
{
left:0px;letter-spacing:-0.6px;margin-left:24.9px;
}
#P233_146
{
left:0px;letter-spacing:0px;margin-left:-11.5px;
}
#P233_147
{
left:29787.7px;bottom:15906.9px;color:rgb(0,124,196);
}
#P233_148
{
left:25122.7px;bottom:31579.8px;color:rgb(235,26,35);
}
#P233_149
{
left:25766.5px;bottom:31608px;color:rgb(235,26,35);
}
#P233_150
{
left:26862px;bottom:31617.6px;color:rgb(235,26,35);
}
#P233_151
{
left:27023.3px;bottom:31589.4px;color:rgb(235,26,35);
}
#P233_152
{
left:27583.1px;bottom:31617.6px;letter-spacing:-77.3px;color:rgb(235,26,35);
}
#P233_153
{
left:25122.7px;bottom:26155.8px;color:rgb(235,26,35);
}
#P233_154
{
left:25766.5px;bottom:26184px;color:rgb(235,26,35);
}
#P233_155
{
left:26862px;bottom:26193.6px;color:rgb(235,26,35);
}
#P233_156
{
left:27023.3px;bottom:26165.4px;color:rgb(235,26,35);
}
#P233_157
{
left:27583.1px;bottom:26193.6px;letter-spacing:-77.3px;color:rgb(235,26,35);
}
#PageContainer233
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg233.jpg");background-repeat:no-repeat;background-size: 922px 1165px; background-position: 104.78px 73.71px;
}
#ImageContainer233 {bottom:125.29px;left:104.78px;width:921.93px;height:1165.07px;position:absolute;} #TextContainer233 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.example3{ position: absolute ; top: 321px; left: 166px;}
.nyr{position:absolute;top: 118px;left: 184px;}
.nyr_exr{position:absolute;top: 153px;left: 210px;color:rgb(35,31,31); font-size:16px}

.nyr1{position:absolute;top: 1080px;left: 184px;}
.nyr_exr1{position:absolute;top: 1120px;left: 199px;color:rgb(35,31,31); font-size:16px;white-space :pre;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}