.tr58{ color:transparent;}
#P58_1
{
left:5889.56px;bottom:46957.1px;color:white;
}
#P58_2
{
left:2371.78px;bottom:46929.9px;color:white;
}
#P58_3
{
left:2365.4px;bottom:1525.23px;color:rgb(35,31,31);
}
#P58_4
{
left:3148.76px;bottom:1532.91px;color:rgb(35,31,31);
}
#P58_5
{
left:4925.4px;bottom:1525.23px;color:rgb(35,31,31);
}
#P58_6
{
left:9121.88px;bottom:1532.91px;letter-spacing:461.9px;word-spacing:0.2px;color:rgb(35,31,31);
}
#P58_7
{
left:0px;letter-spacing:3px;margin-left:-458.4px;
}
#P58_8
{
left:0px;letter-spacing:3.7px;margin-left:2.8px;
}
#P58_9
{
left:0px;letter-spacing:-1.2px;margin-left:-3.9px;
}
#P58_10
{
left:0px;letter-spacing:-0.2px;margin-left:22.6px;
}
#P58_11
{
left:0px;letter-spacing:0px;margin-left:13.5px;
}
#P58_12
{
left:2856.07px;bottom:37202.1px;letter-spacing:-7.7px;word-spacing:-26px;color:rgb(0,124,196);
}
#P58_13
{
left:0px;letter-spacing:0px;margin-left:7.7px;
}
#P58_14
{
left:2856.07px;bottom:36260.1px;letter-spacing:-17.6px;color:rgb(35,31,31);
}
#P58_15
{
left:0px;letter-spacing:0px;margin-left:17.6px;
}
#P58_16
{
left:7017.37px;bottom:36260.1px;color:rgb(35,31,31);
}
#P58_17
{
left:2856.07px;bottom:35364.1px;color:rgb(35,31,31);
}
#P58_18
{
left:2856.07px;bottom:34596.1px;color:rgb(35,31,31);
}
#P58_19
{
left:3624.07px;bottom:34596.1px;color:rgb(35,31,31);
}
#P58_20
{
left:2856.07px;bottom:33700.1px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P58_21
{
left:3624.07px;bottom:32932.1px;word-spacing:590.1px;color:rgb(35,31,31);
}
#P58_22
{
left:0px;letter-spacing:0px;margin-left:-58.7px;
}
#P58_23
{
left:5520.54px;bottom:32932.1px;color:rgb(35,31,31);
}
#P58_24
{
left:10813.4px;bottom:44009.6px;letter-spacing:-20.5px;word-spacing:-3.2px;color:rgb(35,31,31);
}
#P58_25
{
left:0px;letter-spacing:-4.5px;margin-left:16.8px;
}
#P58_26
{
left:0px;letter-spacing:-8px;margin-left:-13px;
}
#P58_27
{
left:0px;letter-spacing:-4.3px;margin-left:155.4px;
}
#P58_28
{
left:0px;letter-spacing:-3.7px;margin-left:-13.2px;
}
#P58_29
{
left:29116.5px;bottom:44009.6px;letter-spacing:-3.5px;word-spacing:-3.2px;color:rgb(35,31,31);
}
#P58_30
{
left:34434.8px;bottom:44009.6px;color:rgb(35,31,31);
}
#P58_31
{
left:10813.4px;bottom:43113.6px;letter-spacing:-3.8px;word-spacing:83.1px;color:rgb(35,31,31);
}
#P58_32
{
left:26715.9px;bottom:43113.6px;letter-spacing:-4px;word-spacing:77.4px;color:rgb(35,31,31);
}
#P58_33
{
left:10813.4px;bottom:42217.7px;letter-spacing:-3.7px;word-spacing:0.2px;color:rgb(35,31,31);
}
#P58_34
{
left:16926.6px;bottom:42217.7px;letter-spacing:25.5px;color:rgb(35,31,31);
}
#P58_35
{
left:0px;letter-spacing:-3.9px;margin-left:-29.1px;
}
#P58_36
{
left:0px;letter-spacing:-3.5px;margin-left:-17.1px;
}
#P58_37
{
left:0px;letter-spacing:-8.2px;
}
#P58_38
{
left:5445.91px;bottom:39986.8px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P58_39
{
left:12314.2px;bottom:40011.3px;color:white;
}
#P58_40
{
left:12729.8px;bottom:40203.1px;color:white;
}
#P58_41
{
left:12969.9px;bottom:40011.3px;color:white;
}
#P58_42
{
left:13946.3px;bottom:40203.1px;color:white;
}
#P58_43
{
left:14186.5px;bottom:40011.3px;color:white;
}
#P58_44
{
left:19517.3px;bottom:40203.1px;color:white;
}
#P58_45
{
left:19757.5px;bottom:40011.3px;color:white;
}
#P58_46
{
left:21374.1px;bottom:40203.1px;color:white;
}
#P58_47
{
left:21614.3px;bottom:40011.3px;letter-spacing:-2.2px;color:white;
}
#P58_48
{
left:0px;letter-spacing:-4.2px;margin-left:2.2px;
}
#P58_49
{
left:10469.8px;bottom:39844.2px;
}
#P58_50
{
left:10469.8px;bottom:39844.2px;color:white;
}
#P58_51
{
left:5445.91px;bottom:25714.8px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P58_52
{
left:12314.2px;bottom:25739.3px;color:white;
}
#P58_53
{
left:12729.8px;bottom:25931.1px;color:white;
}
#P58_54
{
left:12969.9px;bottom:25739.3px;color:white;
}
#P58_55
{
left:13946.3px;bottom:25931.1px;color:white;
}
#P58_56
{
left:14186.5px;bottom:25739.3px;color:white;
}
#P58_57
{
left:19517.3px;bottom:25931.1px;color:white;
}
#P58_58
{
left:19757.5px;bottom:25739.3px;color:white;
}
#P58_59
{
left:21775px;bottom:25931.1px;color:white;
}
#P58_60
{
left:22015.2px;bottom:25739.3px;letter-spacing:-2.7px;color:white;
}
#P58_61
{
left:25834.1px;bottom:25931.1px;color:white;
}
#P58_62
{
left:26074.3px;bottom:25739.3px;color:white;
}
#P58_63
{
left:27242.5px;bottom:25931.1px;color:white;
}
#P58_64
{
left:27482.6px;bottom:25739.3px;color:white;
}
#P58_65
{
left:10469.8px;bottom:25572.2px;
}
#P58_66
{
left:10469.8px;bottom:25572.2px;color:white;
}
#P58_67
{
left:11645.4px;bottom:38399.1px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P58_68
{
left:11645.4px;bottom:37055.1px;color:rgb(35,31,31);
}
#P58_69
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P58_70
{
left:12797.4px;bottom:35711.1px;letter-spacing:-16.9px;color:rgb(35,31,31);
}
#P58_71
{
left:0px;letter-spacing:0px;margin-left:16.9px;
}
#P58_72
{
left:17142px;bottom:35711.1px;color:rgb(35,31,31);
}
#P58_73
{
left:26045.4px;bottom:35143.1px;letter-spacing:-1px;color:rgb(0,124,196);
}
#P58_74
{
left:12797.4px;bottom:34367.1px;letter-spacing:-16.9px;color:rgb(35,31,31);
}
#P58_75
{
left:0px;letter-spacing:0px;margin-left:16.9px;
}
#P58_76
{
left:17141.8px;bottom:34367.1px;color:rgb(35,31,31);
}
#P58_77
{
left:11645.4px;bottom:33087.1px;letter-spacing:-0.3px;word-spacing:15.6px;color:rgb(35,31,31);
}
#P58_78
{
left:0px;letter-spacing:0px;margin-left:-25px;
}
#P58_79
{
left:0px;letter-spacing:-0.8px;margin-left:173.2px;
}
#P58_80
{
left:11645.4px;bottom:32191.1px;color:rgb(35,31,31);
}
#P58_81
{
left:12229.4px;bottom:30719.1px;color:rgb(35,31,31);
}
#P58_82
{
left:12933.4px;bottom:30911.1px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P58_83
{
left:0px;letter-spacing:-9.3px;margin-left:150px;
}
#P58_84
{
left:0px;letter-spacing:0px;margin-left:9.3px;
}
#P58_85
{
left:11645.5px;bottom:29631px;color:rgb(35,31,31);
}
#P58_86
{
left:0px;letter-spacing:0px;margin-left:-214.9px;
}
#P58_87
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P58_88
{
left:0px;letter-spacing:-0.4px;
}
#P58_89
{
left:0px;letter-spacing:0px;margin-left:-17.1px;
}
#P58_90
{
left:11645.5px;bottom:28735.1px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P58_91
{
left:0px;letter-spacing:0px;margin-left:-24.7px;
}
#P58_92
{
left:0px;letter-spacing:0px;
}
#P58_93
{
left:11645.5px;bottom:27839.1px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P58_94
{
left:11645.5px;bottom:24127.2px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P58_95
{
left:11645.5px;bottom:22847.1px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P58_96
{
left:0px;letter-spacing:0px;margin-left:1.4px;
}
#P58_97
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P58_98
{
left:12296.3px;bottom:21631.1px;word-spacing:492.4px;color:rgb(35,31,31);
}
#P58_99
{
left:12389.1px;bottom:21023.1px;color:rgb(0,124,196);
}
#P58_100
{
left:11677.4px;bottom:20479.1px;word-spacing:-126.4px;color:rgb(35,31,31);
}
#P58_101
{
left:12560.9px;bottom:20040.5px;color:rgb(35,31,31);
}
#P58_102
{
left:13423.1px;bottom:20479.1px;word-spacing:193.6px;color:rgb(35,31,31);
}
#P58_103
{
left:13541.1px;bottom:19871.1px;color:rgb(0,124,196);
}
#P58_104
{
left:12728.4px;bottom:19327.1px;word-spacing:924.6px;color:rgb(35,31,31);
}
#P58_105
{
left:13453.5px;bottom:18888.5px;color:rgb(35,31,31);
}
#P58_106
{
left:13805.3px;bottom:19327.1px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P58_107
{
left:21275.5px;bottom:21599.1px;word-spacing:492.5px;color:rgb(35,31,31);
}
#P58_108
{
left:20624.6px;bottom:20991.1px;letter-spacing:585.3px;color:rgb(0,124,196);
}
#P58_109
{
left:20656.6px;bottom:20447.1px;word-spacing:-126.4px;color:rgb(35,31,31);
}
#P58_110
{
left:21540.1px;bottom:20008.5px;color:rgb(35,31,31);
}
#P58_111
{
left:22402.3px;bottom:20447.1px;word-spacing:193.6px;color:rgb(35,31,31);
}
#P58_112
{
left:20624.6px;bottom:19839.1px;letter-spacing:1737.3px;color:rgb(0,124,196);
}
#P58_113
{
left:21707.6px;bottom:19295.1px;word-spacing:924.6px;color:rgb(35,31,31);
}
#P58_114
{
left:22432.7px;bottom:18856.5px;color:rgb(35,31,31);
}
#P58_115
{
left:22784.5px;bottom:19295.1px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P58_116
{
left:20624.6px;bottom:18687.1px;letter-spacing:2441.3px;color:rgb(0,124,196);
}
#P58_117
{
left:22411.6px;bottom:18143.1px;word-spacing:1628.6px;color:rgb(35,31,31);
}
#P58_118
{
left:23136.7px;bottom:17704.5px;color:rgb(35,31,31);
}
#P58_119
{
left:23488.5px;bottom:18143.1px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P58_120
{
left:11645.5px;bottom:16831.1px;letter-spacing:-13.1px;color:rgb(35,31,31);
}
#P58_121
{
left:0px;letter-spacing:0.3px;margin-left:13.1px;
}
#P58_122
{
left:0px;letter-spacing:0px;margin-left:-42.4px;
}
#P58_123
{
left:12797.6px;bottom:15359.1px;word-spacing:993.6px;color:rgb(35,31,31);
}
#P58_124
{
left:13702.2px;bottom:15329.6px;color:rgb(35,31,31);
}
#P58_125
{
left:14288.6px;bottom:15359.1px;color:rgb(35,31,31);
}
#P58_126
{
left:14925.6px;bottom:14920.5px;color:rgb(35,31,31);
}
#P58_127
{
left:15277.3px;bottom:15359.1px;color:rgb(35,31,31);
}
#P58_128
{
left:15914.5px;bottom:14920.5px;color:rgb(35,31,31);
}
#P58_129
{
left:16266.2px;bottom:15359.1px;color:rgb(35,31,31);
}
#P58_130
{
left:18685.4px;bottom:14727.1px;letter-spacing:-0.8px;color:rgb(0,124,196);
}
#P58_131
{
left:12797.4px;bottom:14015.1px;word-spacing:993.6px;color:rgb(35,31,31);
}
#P58_132
{
left:13702px;bottom:13985.5px;color:rgb(35,31,31);
}
#P58_133
{
left:14288.5px;bottom:14015.1px;color:rgb(35,31,31);
}
#P58_134
{
left:14925.6px;bottom:13576.5px;color:rgb(35,31,31);
}
#P58_135
{
left:15277.3px;bottom:14015.1px;color:rgb(35,31,31);
}
#P58_136
{
left:15914.5px;bottom:13576.5px;color:rgb(35,31,31);
}
#P58_137
{
left:16266.2px;bottom:14015.1px;color:rgb(35,31,31);
}
#P58_138
{
left:16903.3px;bottom:13576.5px;color:rgb(35,31,31);
}
#P58_139
{
left:17255.1px;bottom:14015.1px;color:rgb(35,31,31);
}
#P58_140
{
left:14800.7px;bottom:13055.1px;color:rgb(35,31,31);
}
#P58_141
{
left:14461.4px;bottom:12159.1px;color:rgb(235,26,35);
}
#P58_142
{
left:14940.1px;bottom:11720.5px;color:rgb(235,26,35);
}
#P58_143
{
left:15291.9px;bottom:12159.1px;color:rgb(235,26,35);
}
#P58_144
{
left:15823.4px;bottom:12129.5px;color:rgb(235,26,35);
}
#P58_145
{
left:16761.8px;bottom:12159.1px;color:rgb(235,26,35);
}
#P58_146
{
left:17134.9px;bottom:12159.1px;color:rgb(35,31,31);
}
#P58_147
{
left:18685.4px;bottom:12167.1px;color:rgb(0,124,196);
}
#P58_148
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P58_149
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P58_150
{
left:12229.4px;bottom:10431.1px;color:rgb(35,31,31);
}
#P58_151
{
left:12933.4px;bottom:10623.1px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P58_152
{
left:0px;letter-spacing:-9.3px;margin-left:150px;
}
#P58_153
{
left:0px;letter-spacing:0px;margin-left:9.3px;
}
#P58_154
{
left:11645.5px;bottom:7423.02px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P58_155
{
left:12109px;bottom:6297.9px;color:rgb(35,31,31);
}
#P58_156
{
left:13309.4px;bottom:6271.08px;color:rgb(35,31,31);
}
#P58_157
{
left:19661px;bottom:6297.9px;color:rgb(35,31,31);
}
#P58_158
{
left:20861.4px;bottom:6271.08px;color:rgb(35,31,31);
}
#P58_159
{
left:27341px;bottom:6297.9px;color:rgb(35,31,31);
}
#P58_160
{
left:28605.4px;bottom:6271.08px;color:rgb(35,31,31);
}
#P58_161
{
left:11645.4px;bottom:4991.08px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P58_162
{
left:12109px;bottom:3865.9px;color:rgb(35,31,31);
}
#P58_163
{
left:13309.4px;bottom:3839.08px;color:rgb(35,31,31);
}
#P58_164
{
left:19661px;bottom:3865.9px;color:rgb(35,31,31);
}
#P58_165
{
left:20861.4px;bottom:3839.08px;color:rgb(35,31,31);
}
#P58_166
{
left:27341px;bottom:3865.9px;color:rgb(35,31,31);
}
#P58_167
{
left:28541.4px;bottom:3839.08px;color:rgb(35,31,31);
}
#P58_168
{
left:26785.2px;bottom:46188.3px;word-spacing:0.2px;color:rgb(33,31,31);
}
#P58_169
{
left:0px;letter-spacing:0px;margin-left:-44.8px;
}
#P58_170
{
left:0px;letter-spacing:0px;margin-left:0.2px;
}
#P58_171
{
left:5915.1px;bottom:6556.78px;color:rgb(35,31,31);
}
#P58_172
{
left:2514.73px;bottom:22010.7px;color:white;
}
#P58_173
{
left:5870.36px;bottom:22252.3px;color:white;
}
#P58_174
{
left:6206.3px;bottom:22010.7px;color:white;
}
#P58_175
{
left:2749.4px;bottom:20907.7px;color:rgb(35,31,31);
}
#P58_176
{
left:2749.4px;bottom:20139.7px;letter-spacing:-2.3px;color:rgb(35,31,31);
}
#P58_177
{
left:0px;letter-spacing:0px;margin-left:2.3px;
}
#P58_178
{
left:2749.4px;bottom:19371.7px;color:rgb(35,31,31);
}
#P58_179
{
left:0px;letter-spacing:0px;margin-left:-177.9px;
}
#P58_180
{
left:0px;letter-spacing:0px;margin-left:-82.5px;
}
#P58_181
{
left:2749.4px;bottom:18603.7px;color:rgb(35,31,31);
}
#P58_182
{
left:2749.4px;bottom:17835.7px;color:rgb(35,31,31);
}
#P58_183
{
left:2749.4px;bottom:17067.7px;color:rgb(35,31,31);
}
#P58_184
{
left:2749.4px;bottom:16299.7px;color:rgb(35,31,31);
}
#P58_185
{
left:0px;letter-spacing:0px;margin-left:-58.8px;
}
#PageContainer58
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg058.jpg");background-repeat:no-repeat;background-size: 1054px 1291px; background-position: 0px 35.3699999999999px;
}
#ImageContainer58 {bottom:37.63px;left:0.00px;width:1054.49px;height:1291.35px;position:absolute;} #TextContainer58 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.example1{position: absolute;top: 246px;left: 102px;}
.example2{position: absolute;top: 633px;left: 99px;}
.nyr{position: absolute;top: 1135px;left: 127px;}
.nyr_exr{position: absolute;top: 1169px;left: 152px;color:rgb(35,31,31);font-size:16px}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}