.tr264{ color:transparent;}
#P264_1
{
left:10241.6px;bottom:46829.1px;color:white;
}
#P264_2
{
left:11909.5px;bottom:47127.5px;color:white;
}
#P264_3
{
left:12283.1px;bottom:46829.1px;color:white;
}
#P264_4
{
left:3395.76px;bottom:46801.9px;color:white;
}
#P264_5
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P264_6
{
left:3540.44px;bottom:1410.03px;color:rgb(35,31,31);
}
#P264_7
{
left:4925.4px;bottom:1410.03px;letter-spacing:2px;word-spacing:-1.7px;color:rgb(35,31,31);
}
#P264_8
{
left:9139.05px;bottom:1410.03px;letter-spacing:0.2px;word-spacing:462.1px;color:rgb(35,31,31);
}
#P264_9
{
left:0px;letter-spacing:0px;margin-left:-462.3px;
}
#P264_10
{
left:0px;letter-spacing:2.3px;
}
#P264_11
{
left:0px;letter-spacing:0px;margin-left:-464.4px;
}
#P264_12
{
left:0px;letter-spacing:3px;
}
#P264_13
{
left:4669.4px;bottom:43784.6px;letter-spacing:-14.8px;color:rgb(35,31,31);
}
#P264_14
{
left:0px;letter-spacing:-0.4px;margin-left:14.8px;
}
#P264_15
{
left:0px;letter-spacing:0.2px;margin-left:-8px;
}
#P264_16
{
left:0px;letter-spacing:0px;margin-left:-28.2px;
}
#P264_17
{
left:26769.2px;bottom:43784.6px;letter-spacing:-0.3px;
}
#P264_18
{
left:4669.4px;bottom:42568.6px;color:rgb(35,31,31);
}
#P264_19
{
left:5237.98px;bottom:42588.3px;color:rgb(35,31,31);
}
#P264_20
{
left:6269.4px;bottom:42568.6px;color:rgb(35,31,31);
}
#P264_21
{
left:19830px;bottom:42588.3px;color:rgb(35,31,31);
}
#P264_22
{
left:20861.4px;bottom:42568.6px;color:rgb(35,31,31);
}
#P264_23
{
left:4669.4px;bottom:40712.6px;letter-spacing:-14.8px;color:rgb(35,31,31);
}
#P264_24
{
left:0px;letter-spacing:-0.6px;margin-left:14.8px;
}
#P264_25
{
left:0px;letter-spacing:3.5px;margin-left:0.6px;
}
#P264_26
{
left:20559.3px;bottom:40712.6px;color:rgb(35,31,31);
}
#P264_27
{
left:21263.3px;bottom:40712.6px;letter-spacing:-0.3px;word-spacing:-0.1px;
color: rgb(0,124,196);
}
#P264_28
{
left:4669.4px;bottom:39176.6px;color:rgb(35,31,31);
}
#P264_29
{
left:5237.91px;bottom:39196.3px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P264_30
{
left:6269.4px;bottom:39196.3px;color:rgb(35,31,31);
}
#P264_31
{
left:6290.52px;bottom:39618.4px;color:rgb(35,31,31);
}
#P264_32
{
left:6962.14px;bottom:39194.2px;color:rgb(35,31,31);
}
#P264_33
{
left:6269.4px;bottom:39162.7px;color:rgb(35,31,31);
}
#P264_34
{
left:6983.26px;bottom:39177.9px;color:rgb(35,31,31);
}
#P264_35
{
left:6290.52px;bottom:38710.9px;color:rgb(35,31,31);
}
#P264_36
{
left:6962.14px;bottom:39194.2px;color:rgb(35,31,31);
}
#P264_37
{
left:6983.26px;bottom:39176.6px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P264_38
{
left:19830px;bottom:39196.3px;color:rgb(35,31,31);
}
#P264_39
{
left:20861.4px;bottom:39176.6px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P264_40
{
left:21255.6px;bottom:39616.3px;color:rgb(35,31,31);
}
#P264_41
{
left:21591.4px;bottom:39194.2px;color:rgb(35,31,31);
}
#P264_42
{
left:21234.5px;bottom:39160.6px;color:rgb(35,31,31);
}
#P264_43
{
left:21612.6px;bottom:39177.9px;color:rgb(35,31,31);
}
#P264_44
{
left:21255.6px;bottom:38708.8px;color:rgb(35,31,31);
}
#P264_45
{
left:21591.4px;bottom:39194.2px;color:rgb(35,31,31);
}
#P264_46
{
left:21612.6px;bottom:39176.6px;color:rgb(35,31,31);
}
#P264_47
{
left:4669.4px;bottom:37320.5px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P264_48
{
left:0px;letter-spacing:0px;margin-left:-12.5px;
}
#P264_49
{
left:0px;letter-spacing:-14px;margin-left:-42.1px;
}
#P264_50
{
left:0px;letter-spacing:-1.5px;margin-left:14px;
}
#P264_51
{
left:22945.6px;bottom:37320.6px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P264_52
{
left:4669.4px;bottom:36104.6px;color:rgb(35,31,31);
}
#P264_53
{
left:5237.91px;bottom:36124.3px;color:rgb(35,31,31);
}
#P264_54
{
left:6269.4px;bottom:36104.6px;color:rgb(35,31,31);
}
#P264_55
{
left:19830px;bottom:36124.3px;color:rgb(35,31,31);
}
#P264_56
{
left:20861.4px;bottom:36104.6px;color:rgb(35,31,31);
}
#P264_57
{
left:4669.4px;bottom:34248.5px;color:rgb(35,31,31);
}
#P264_58
{
left:0px;letter-spacing:0px;margin-left:-15.5px;
}
#P264_59
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P264_60
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P264_61
{
left:17628.1px;bottom:34248.6px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P264_62
{
left:4669.4px;bottom:33032.6px;color:rgb(35,31,31);
}
#P264_63
{
left:5237.91px;bottom:33052.3px;color:rgb(35,31,31);
}
#P264_64
{
left:6269.4px;bottom:33032.6px;color:rgb(35,31,31);
}
#P264_65
{
left:19830px;bottom:33052.3px;color:rgb(35,31,31);
}
#P264_66
{
left:20861.4px;bottom:33032.6px;color:rgb(35,31,31);
}
#P264_67
{
left:4669.4px;bottom:31176.6px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P264_68
{
left:0px;letter-spacing:-4.4px;margin-left:0.7px;
}
#P264_69
{
left:0px;letter-spacing:-1.3px;margin-left:4.4px;
}
#P264_70
{
left:0px;letter-spacing:-1.2px;margin-left:1.3px;
}
#P264_71
{
left:4669.4px;bottom:30280.6px;letter-spacing:1.1px;color:rgb(35,31,31);
}
#P264_72
{
left:0px;letter-spacing:-14px;margin-left:-51.7px;
}
#P264_73
{
left:9480.67px;bottom:30280.6px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P264_74
{
left:4669.4px;bottom:29064.6px;color:rgb(35,31,31);
}
#P264_75
{
left:5237.91px;bottom:29084.3px;color:rgb(35,31,31);
}
#P264_76
{
left:6269.4px;bottom:29064.6px;color:rgb(35,31,31);
}
#P264_77
{
left:8346.14px;bottom:29035.1px;color:rgb(35,31,31);
}
#P264_78
{
left:8932.44px;bottom:29064.6px;letter-spacing:1344.1px;color:rgb(35,31,31);
}
#P264_79
{
left:0px;letter-spacing:0px;margin-left:-1344.1px;
}
#P264_80
{
left:14766.6px;bottom:29084.3px;color:rgb(35,31,31);
}
#P264_81
{
left:16189.4px;bottom:29064.6px;color:rgb(35,31,31);
}
#P264_82
{
left:17537.6px;bottom:29035.1px;color:rgb(35,31,31);
}
#P264_83
{
left:18123.9px;bottom:29064.6px;letter-spacing:1344px;color:rgb(35,31,31);
}
#P264_84
{
left:0px;letter-spacing:0px;margin-left:-1344px;
}
#P264_85
{
left:24686.6px;bottom:29084.3px;color:rgb(35,31,31);
}
#P264_86
{
left:26109.4px;bottom:29064.6px;color:rgb(35,31,31);
}
#P264_87
{
left:27907.4px;bottom:29035.1px;color:rgb(35,31,31);
}
#P264_88
{
left:28493.8px;bottom:29064.6px;letter-spacing:1344px;color:rgb(35,31,31);
}
#P264_89
{
left:0px;letter-spacing:0px;margin-left:-1344px;
}
#P264_90
{
left:4669.47px;bottom:27272.6px;color:rgb(35,31,31);
}
#P264_91
{
left:4846.49px;bottom:27292.3px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P264_92
{
left:6269.4px;bottom:27292.3px;letter-spacing:-12.9px;color:rgb(2,77,161);
}
#P264_93
{
left:0px;letter-spacing:0px;margin-left:0.3px;
}
#P264_94
{
left:9450.91px;bottom:27272.6px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P264_95
{
left:0px;letter-spacing:0px;margin-left:-202px;
}
#P264_96
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P264_97
{
left:0px;letter-spacing:-13.1px;margin-left:-42.1px;
}
#P264_98
{
left:0px;letter-spacing:0px;margin-left:13.1px;
}
#P264_99
{
left:6269.4px;bottom:26376.6px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P264_100
{
left:0px;letter-spacing:0.3px;margin-left:1.4px;
}
#P264_101
{
left:18283.8px;bottom:26376.6px;color:rgb(35,31,31);
}
#P264_102
{
left:18987.8px;bottom:26376.6px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P264_103
{
left:4669.4px;bottom:22408.6px;color:rgb(35,31,31);
}
#P264_104
{
left:4846.55px;bottom:22428.3px;color:rgb(35,31,31);
}
#P264_105
{
left:6269.4px;bottom:22428.3px;color:rgb(2,77,161);
}
#P264_106
{
left:0px;letter-spacing:0px;margin-left:-183px;
}
#P264_107
{
left:0px;letter-spacing:0px;margin-left:-38.7px;
}
#P264_108
{
left:8590.49px;bottom:22408.6px;letter-spacing:193.4px;word-spacing:0.2px;color:rgb(35,31,31);
}
#P264_109
{
left:0px;letter-spacing:-0.2px;margin-left:-35.2px;
}
#P264_110
{
left:0px;letter-spacing:-77.4px;margin-left:-41.9px;
}
#P264_111
{
left:0px;letter-spacing:-0.2px;margin-left:235.8px;
}
#P264_112
{
left:13846.7px;bottom:21970px;color:rgb(35,31,31);
}
#P264_113
{
left:14198.6px;bottom:22408.6px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P264_114
{
left:6269.4px;bottom:21512.6px;color:rgb(35,31,31);
}
#P264_115
{
left:8966.36px;bottom:21512.6px;color:rgb(35,31,31);
}
#P264_116
{
left:9114.2px;bottom:21483.1px;color:rgb(35,31,31);
}
#P264_117
{
left:9700.63px;bottom:21512.6px;color:rgb(35,31,31);
}
#P264_118
{
left:9848.47px;bottom:21512.6px;letter-spacing:-1.7px;color:rgb(35,31,31);
}
#P264_119
{
left:0px;letter-spacing:0px;margin-left:-19.2px;
}
#P264_120
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P264_121
{
left:0px;letter-spacing:-0.7px;
}
#P264_122
{
left:6269.4px;bottom:20616.6px;letter-spacing:-0.3px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P264_123
{
left:15131.4px;bottom:20616.6px;color:rgb(35,31,31);
}
#P264_124
{
left:15835.4px;bottom:20616.6px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P264_125
{
left:4669.4px;bottom:15688.6px;color:rgb(35,31,31);
}
#P264_126
{
left:16174.6px;bottom:15708.3px;color:rgb(35,31,31);
}
#P264_127
{
left:17661.4px;bottom:15708.3px;letter-spacing:-183px;color:rgb(2,77,161);
}
#P264_128
{
left:0px;letter-spacing:0px;margin-left:183px;
}
#P264_129
{
left:20895.5px;bottom:15688.6px;letter-spacing:151.5px;color:rgb(35,31,31);
}
#P264_130
{
left:0px;letter-spacing:0px;margin-left:-214.8px;
}
#P264_131
{
left:0px;letter-spacing:-0.1px;
}
#P264_132
{
left:0px;letter-spacing:-63.2px;margin-left:-41.9px;
}
#P264_133
{
left:0px;letter-spacing:0px;margin-left:63.2px;
}
#P264_134
{
left:17661.4px;bottom:14792.6px;color:rgb(35,31,31);
}
#P264_135
{
left:17661.4px;bottom:13896.7px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P264_136
{
left:0px;letter-spacing:-7px;margin-left:-13.5px;
}
#P264_137
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P264_138
{
left:0px;letter-spacing:0px;
}
#P264_139
{
left:17661.4px;bottom:13000.7px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P264_140
{
left:0px;letter-spacing:-0.8px;margin-left:-20.8px;
}
#P264_141
{
left:17661.4px;bottom:12104.7px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P264_142
{
left:0px;letter-spacing:0px;margin-left:-41.6px;
}
#P264_143
{
left:23778.6px;bottom:12104.7px;color:rgb(35,31,31);
}
#P264_144
{
left:24482.6px;bottom:12104.6px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P264_145
{
left:4669.4px;bottom:9864.62px;color:rgb(35,31,31);
}
#P264_146
{
left:4846.55px;bottom:9884.33px;color:rgb(35,31,31);
}
#P264_147
{
left:6269.4px;bottom:9884.33px;letter-spacing:-183px;color:rgb(2,77,161);
}
#P264_148
{
left:0px;letter-spacing:0px;margin-left:183px;
}
#P264_149
{
left:11093.8px;bottom:9864.62px;letter-spacing:193.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P264_150
{
left:0px;letter-spacing:0px;margin-left:-197.7px;
}
#P264_151
{
left:0px;letter-spacing:-0.1px;margin-left:-42.1px;
}
#P264_152
{
left:0px;letter-spacing:-0.7px;
}
#P264_153
{
left:6269.4px;bottom:8968.62px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P264_154
{
left:11218.7px;bottom:8968.62px;color:rgb(35,31,31);
}
#P264_155
{
left:11922.7px;bottom:8968.62px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P264_156
{
left:26769.2px;bottom:43784.6px;
color: rgb(0,124,196);
letter-spacing:-0.6px;
}
#P264_157
{
left:0px;
letter-spacing: 36.6px;margin-left:159px;
}
#P264_158
{
left:0px;letter-spacing:0px;
margin-left: -36.6px;
}
#P264_159
{
left:27145.8px;bottom:45403.3px;letter-spacing:-0.1px;word-spacing:0.3px;color:rgb(33,31,31);
}
#P264_160
{
left:12335.5px;bottom:6298.67px;color:rgb(2,77,161);
}
#P264_161
{
left:12335.5px;bottom:5607.47px;color:rgb(35,31,31);
}
#P264_162
{
left:25562.1px;bottom:6320.04px;color:rgb(237,28,35);
}
#P264_163
{
left:25562.1px;bottom:5628.84px;color:rgb(35,31,31);
}
#PageContainer264
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg264.jpg");background-repeat:no-repeat;background-size: 1000px 1282px; background-position: 0px -0.349999999999909px;
}
#ImageContainer264 {bottom:82.35px;left:0.00px;width:1000.30px;height:1281.81px;position:absolute;} #TextContainer264 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.progress_check{position: absolute;top: 76px;left: 723px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}