.tr691{ color:transparent;}
#P691_1
{
left:4592.6px;bottom:1417.71px;color:rgb(35,31,31);
}
#P691_2
{
left:22481.4px;bottom:1410.03px;letter-spacing:5.8px;color:rgb(35,31,31);
}
#P691_3
{
left:24721px;bottom:1417.71px;color:rgb(35,31,31);
}
#P691_4
{
left:24899px;bottom:1410.03px;color:rgb(35,31,31);
}
#P691_5
{
left:27424.7px;bottom:1417.71px;letter-spacing:3.7px;word-spacing:458.6px;color:rgb(35,31,31);
}
#P691_6
{
left:0px;letter-spacing:0px;margin-left:-462.2px;
}
#P691_7
{
left:0px;letter-spacing:1.4px;margin-left:3.5px;
}
#P691_8
{
left:0px;letter-spacing:0px;margin-left:-460px;
}
#P691_9
{
left:0px;letter-spacing:6.3px;margin-left:3.5px;
}
#P691_10
{
left:0px;letter-spacing:0.8px;margin-left:-10.7px;
}
#P691_11
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P691_12
{
left:13832.4px;bottom:44444.8px;color:rgb(35,31,31);
}
#P691_13
{
left:13832.4px;bottom:42908.8px;letter-spacing:3111.6px;color:rgb(35,31,31);
}
#P691_14
{
left:0px;letter-spacing:0px;margin-left:-3270px;
}
#P691_15
{
left:17194.5px;bottom:43348.5px;color:rgb(235,26,35);
}
#P691_16
{
left:17549.9px;bottom:42926.4px;color:rgb(235,26,35);
}
#P691_17
{
left:17102.4px;bottom:42892.8px;color:rgb(35,31,31);
}
#P691_18
{
left:17642px;bottom:42910px;color:rgb(35,31,31);
}
#P691_19
{
left:17123.5px;bottom:42440.9px;color:rgb(0,124,196);
}
#P691_20
{
left:17620.9px;bottom:42926.4px;color:rgb(0,124,196);
}
#P691_21
{
left:17642px;bottom:42908.8px;color:rgb(0,124,196);
}
#P691_22
{
left:17642px;bottom:42908.8px;color:rgb(35,31,31);
}
#P691_23
{
left:17800.4px;bottom:42879.2px;color:rgb(35,31,31);
}
#P691_24
{
left:18386.8px;bottom:42908.8px;color:rgb(35,31,31);
}
#P691_25
{
left:18545.2px;bottom:42908.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P691_26
{
left:18883.2px;bottom:43348.5px;color:rgb(0,170,77);
}
#P691_27
{
left:19257px;bottom:42926.4px;color:rgb(0,170,77);
}
#P691_28
{
left:18545.2px;bottom:42892.8px;color:rgb(35,31,31);
}
#P691_29
{
left:19594.9px;bottom:42910px;color:rgb(35,31,31);
}
#P691_30
{
left:18566.4px;bottom:42440.9px;color:rgb(35,31,31);
}
#P691_31
{
left:19573.8px;bottom:42926.4px;color:rgb(35,31,31);
}
#P691_32
{
left:19594.9px;bottom:42908.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P691_33
{
left:23368.4px;bottom:42916.8px;color:rgb(0,124,196);
}
#P691_34
{
left:13832.4px;bottom:40860.8px;letter-spacing:2937.4px;color:rgb(35,31,31);
}
#P691_35
{
left:0px;letter-spacing:0px;margin-left:-3095.8px;
}
#P691_36
{
left:16949.3px;bottom:41300.5px;color:rgb(235,26,35);
}
#P691_37
{
left:17620.9px;bottom:40878.4px;color:rgb(235,26,35);
}
#P691_38
{
left:16928.2px;bottom:40844.8px;color:rgb(35,31,31);
}
#P691_39
{
left:17642px;bottom:40862px;color:rgb(35,31,31);
}
#P691_40
{
left:17036.4px;bottom:40392.9px;color:rgb(0,124,196);
}
#P691_41
{
left:17533.8px;bottom:40878.4px;color:rgb(0,124,196);
}
#P691_42
{
left:17642px;bottom:40860.8px;color:rgb(0,124,196);
}
#P691_43
{
left:17642px;bottom:40860.8px;color:rgb(35,31,31);
}
#P691_44
{
left:17800.4px;bottom:40831.2px;color:rgb(35,31,31);
}
#P691_45
{
left:18386.8px;bottom:40860.8px;color:rgb(35,31,31);
}
#P691_46
{
left:18545.2px;bottom:40860.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P691_47
{
left:18566.4px;bottom:41300.5px;color:rgb(0,170,77);
}
#P691_48
{
left:19573.8px;bottom:40878.4px;color:rgb(0,170,77);
}
#P691_49
{
left:18545.2px;bottom:40844.8px;color:rgb(35,31,31);
}
#P691_50
{
left:19594.9px;bottom:40862px;color:rgb(35,31,31);
}
#P691_51
{
left:18566.4px;bottom:40392.9px;color:rgb(35,31,31);
}
#P691_52
{
left:19573.8px;bottom:40878.4px;color:rgb(35,31,31);
}
#P691_53
{
left:19594.9px;bottom:40860.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P691_54
{
left:23368.4px;bottom:40868.8px;color:rgb(0,124,196);
}
#P691_55
{
left:27769.2px;bottom:40894.7px;color:rgb(0,124,196);
}
#P691_56
{
left:28089.5px;bottom:40868.8px;color:rgb(0,124,196);
}
#P691_57
{
left:31370.1px;bottom:40894.7px;color:rgb(0,124,196);
}
#P691_58
{
left:31722.1px;bottom:40868.8px;color:rgb(0,124,196);
}
#P691_59
{
left:15160.6px;bottom:39196.8px;word-spacing:1169.8px;color:rgb(35,31,31);
}
#P691_60
{
left:16012.5px;bottom:38758.2px;color:rgb(35,31,31);
}
#P691_61
{
left:16364.2px;bottom:39196.8px;color:rgb(35,31,31);
}
#P691_62
{
left:17800.4px;bottom:39167.2px;color:rgb(35,31,31);
}
#P691_63
{
left:18386.8px;bottom:39196.8px;color:rgb(35,31,31);
}
#P691_64
{
left:18545.2px;bottom:39196.8px;color:rgb(35,31,31);
}
#P691_65
{
left:19097.9px;bottom:39196.8px;color:rgb(35,31,31);
}
#P691_66
{
left:19203.4px;bottom:38758.2px;color:rgb(35,31,31);
}
#P691_67
{
left:19555.2px;bottom:39196.8px;color:rgb(35,31,31);
}
#P691_68
{
left:23368.4px;bottom:39204.8px;color:rgb(0,124,196);
}
#P691_69
{
left:16149.6px;bottom:37916.8px;word-spacing:2158.7px;color:rgb(35,31,31);
}
#P691_70
{
left:17800.4px;bottom:37887.2px;color:rgb(35,31,31);
}
#P691_71
{
left:18386.8px;bottom:37916.8px;color:rgb(35,31,31);
}
#P691_72
{
left:19664.6px;bottom:37916.8px;color:rgb(35,31,31);
}
#P691_73
{
left:20217.2px;bottom:37916.8px;color:rgb(35,31,31);
}
#P691_74
{
left:23368.4px;bottom:37924.8px;color:rgb(0,124,196);
}
#P691_75
{
left:0px;letter-spacing:0px;margin-left:-49.7px;
}
#P691_76
{
left:16895.8px;bottom:36636.8px;word-spacing:2905px;color:rgb(35,31,31);
}
#P691_77
{
left:17800.4px;bottom:36607.2px;color:rgb(35,31,31);
}
#P691_78
{
left:18386.8px;bottom:36636.8px;color:rgb(35,31,31);
}
#P691_79
{
left:18545.2px;bottom:36636.8px;color:rgb(35,31,31);
}
#P691_80
{
left:19097.9px;bottom:36636.8px;color:rgb(35,31,31);
}
#P691_81
{
left:23368.4px;bottom:36644.8px;color:rgb(0,124,196);
}
#P691_82
{
left: 15246.4px;bottom:35228.8px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P691_83
{
left:0px;letter-spacing:0px;margin-left:-704px;
}
#P691_84
{
left:0px;letter-spacing:-14px;margin-left:-8.4px;
}
#P691_85
{
left:0px;letter-spacing:0px;margin-left:14px;
}
#P691_86
{
left:26163.4px;bottom:33660.3px;color:rgb(35,31,31);
}
#P691_87
{
left:25875.4px;bottom:35407.3px;color:rgb(35,31,31);
}
#P691_88
{
left:0px;letter-spacing:0px;margin-left:8383.7px;
}
#P691_89
{
left:28915.3px;bottom:35412.5px;color:rgb(35,31,31);
}
#P691_90
{
left:29363.4px;bottom:33660.3px;color:rgb(35,31,31);
}
#P691_91
{
left:31955.4px;bottom:35412.5px;color:rgb(35,31,31);
}
#P691_92
{
left:32403.5px;bottom:33660.3px;color:rgb(35,31,31);
}
#P691_93
{
left:0px;letter-spacing:0px;margin-left:2559.7px;
}
#P691_94
{
left:13832.4px;bottom:31004.8px;letter-spacing:-14.8px;color:rgb(35,31,31);
}
#P691_95
{
left:0px;letter-spacing:-0.3px;margin-left:14.8px;
}
#P691_96
{
left:0px;letter-spacing:0px;margin-left:-6.6px;
}
#P691_97
{
left:13832.4px;bottom:29852.8px;color:rgb(35,31,31);
}
#P691_98
{
left:13970.8px;bottom:29879.6px;color:rgb(35,31,31);
}
#P691_99
{
left:14984.4px;bottom:29852.8px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P691_100
{
left:25362.8px;bottom:29879.6px;color:rgb(35,31,31);
}
#P691_101
{
left:26376.4px;bottom:29852.8px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P691_102
{
left:13832.4px;bottom:28572.8px;color:rgb(35,31,31);
}
#P691_103
{
left:13970.8px;bottom:28599.6px;color:rgb(35,31,31);
}
#P691_104
{
left:14984.4px;bottom:28572.8px;color:rgb(35,31,31);
}
#P691_105
{
left:25362.8px;bottom:28599.6px;color:rgb(35,31,31);
}
#P691_106
{
left:26376.4px;bottom:28572.8px;color:rgb(35,31,31);
}
#P691_107
{
left:13832.4px;bottom:26908.8px;color:rgb(35,31,31);
}
#P691_108
{
left:13970.8px;bottom:26935.6px;color:rgb(35,31,31);
}
#P691_109
{
left:14984.4px;bottom:26908.8px;color:rgb(35,31,31);
}
#P691_110
{
left:25362.8px;bottom:26935.6px;word-spacing:266.4px;color:rgb(35,31,31);
}
#P691_111
{
left:26376.4px;bottom:26935.6px;color:rgb(35,31,31);
}
#P691_112
{
left:26397.5px;bottom:27342.4px;color:rgb(35,31,31);
}
#P691_113
{
left:26733.3px;bottom:26926.4px;color:rgb(35,31,31);
}
#P691_114
{
left:26376.4px;bottom:26886.8px;color:rgb(35,31,31);
}
#P691_115
{
left:26754.5px;bottom:26910px;color:rgb(35,31,31);
}
#P691_116
{
left:26397.5px;bottom:26434.9px;color:rgb(35,31,31);
}
#P691_117
{
left:26733.3px;bottom:26926.4px;color:rgb(35,31,31);
}
#P691_118
{
left:26754.5px;bottom:26908.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P691_119
{
left:0px;letter-spacing:0px;margin-left:158.4px;
}
#P691_120
{
left:7737.11px;bottom:46049.6px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P691_121
{
left:14605.4px;bottom:46074.2px;color:white;
}
#P691_122
{
left:15021px;bottom:46266px;color:white;
}
#P691_123
{
left:15261.2px;bottom:46074.2px;color:white;
}
#P691_124
{
left:16237.5px;bottom:46266px;color:white;
}
#P691_125
{
left:16477.7px;bottom:46074.2px;letter-spacing:-6.4px;color:white;
}
#P691_126
{
left:0px;letter-spacing:0px;margin-left:6.4px;
}
#P691_127
{
left:12761px;bottom:45907.1px;
}
#P691_128
{
left:12761px;bottom:45907.1px;color:white;
}
#P691_129
{
left:7969.18px;
bottom: 29608.2px;color:rgb(35,31,31);
}
#P691_130
{
left:0px;letter-spacing:0px;margin-left:-66.2px;
}
#P691_131
{
left:16076.6px;bottom:21860.4px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P691_132
{
left:0px;letter-spacing:-0.3px;margin-left:1.2px;
}
#P691_133
{
left:16076.6px;bottom:20964.4px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P691_134
{
left:0px;letter-spacing:-14.1px;margin-left:-27.5px;
}
#P691_135
{
left:0px;letter-spacing:-0.8px;margin-left:14.1px;
}
#P691_136
{
left:16076.6px;bottom:20068.5px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P691_137
{
left:0px;letter-spacing:0px;margin-left:1.2px;
}
#P691_138
{
left:16076.6px;bottom:18916.3px;color:rgb(35,31,31);
}
#P691_139
{
left:29481.3px;bottom:18916.3px;color:rgb(35,31,31);
}
#P691_140
{
left:31373.7px;bottom:18916.3px;color:rgb(35,31,31);
}
#P691_141
{
left:16076.6px;bottom:18020.4px;color:rgb(35,31,31);
}
#P691_142
{
left:27476.4px;bottom:18020.4px;letter-spacing:1.8px;color:rgb(35,31,31);
}
#P691_143
{
left:28815.2px;bottom:18020.4px;color:rgb(35,31,31);
}
#P691_144
{
left:13772.5px;bottom:16484.5px;letter-spacing:5287.6px;color:rgb(35,31,31);
}
#P691_145
{
left:0px;letter-spacing:0px;margin-left:-5446px;
}
#P691_146
{
left:19310.7px;bottom:16924.1px;color:rgb(235,26,35);
}
#P691_147
{
left:19666.2px;bottom:16502px;color:rgb(235,26,35);
}
#P691_148
{
left:19218.6px;bottom:16468.4px;color:rgb(35,31,31);
}
#P691_149
{
left:19758.3px;bottom:16485.7px;color:rgb(35,31,31);
}
#P691_150
{
left:19239.8px;bottom:16016.6px;color:rgb(0,124,196);
}
#P691_151
{
left:19737.2px;bottom:16502px;color:rgb(0,124,196);
}
#P691_152
{
left:19758.3px;bottom:16484.4px;color:rgb(0,124,196);
}
#P691_153
{
left:19758.3px;bottom:16484.4px;color:rgb(35,31,31);
}
#P691_154
{
left:19916.6px;bottom:16454.8px;color:rgb(35,31,31);
}
#P691_155
{
left:20503.1px;bottom:16484.4px;color:rgb(35,31,31);
}
#P691_156
{
left:20661.5px;bottom:16484.4px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P691_157
{
left:20999.4px;bottom:16924.1px;color:rgb(0,170,77);
}
#P691_158
{
left:21373.2px;bottom:16502px;color:rgb(0,170,77);
}
#P691_159
{
left:20661.5px;bottom:16468.4px;color:rgb(35,31,31);
}
#P691_160
{
left:21711.1px;bottom:16485.7px;color:rgb(35,31,31);
}
#P691_161
{
left:20682.6px;bottom:16016.6px;color:rgb(35,31,31);
}
#P691_162
{
left:21690px;bottom:16502px;color:rgb(35,31,31);
}
#P691_163
{
left:21711.1px;bottom:16484.4px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P691_164
{
left:26060.6px;bottom:16492.4px;color:rgb(0,124,196);
}
#P691_165
{
left:13772.6px;bottom:14436.4px;letter-spacing:4777.6px;color:rgb(35,31,31);
}
#P691_166
{
left:0px;letter-spacing:0px;margin-left:-4936px;
}
#P691_167
{
left:18897.6px;bottom:14876.1px;color:rgb(235,26,35);
}
#P691_168
{
left:19569.2px;bottom:14454px;color:rgb(235,26,35);
}
#P691_169
{
left:18708.6px;bottom:14420.4px;color:rgb(35,31,31);
}
#P691_170
{
left:19758.3px;bottom:14437.7px;color:rgb(35,31,31);
}
#P691_171
{
left:18729.8px;bottom:13968.6px;color:rgb(0,124,196);
}
#P691_172
{
left:19737.2px;bottom:14454px;color:rgb(0,124,196);
}
#P691_173
{
left:19758.3px;bottom:14436.4px;color:rgb(0,124,196);
}
#P691_174
{
left:19758.3px;bottom:14436.4px;color:rgb(35,31,31);
}
#P691_175
{
left:19916.7px;bottom:14406.8px;color:rgb(35,31,31);
}
#P691_176
{
left:20503.1px;bottom:14436.4px;color:rgb(35,31,31);
}
#P691_177
{
left:20661.5px;bottom:14436.4px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P691_178
{
left:20999.4px;bottom:14876.1px;color:rgb(0,170,77);
}
#P691_179
{
left:21373.2px;bottom:14454px;color:rgb(0,170,77);
}
#P691_180
{
left:20661.5px;bottom:14420.4px;color:rgb(35,31,31);
}
#P691_181
{
left:21711.1px;bottom:14437.7px;color:rgb(35,31,31);
}
#P691_182
{
left:20682.6px;bottom:13968.6px;color:rgb(35,31,31);
}
#P691_183
{
left:21690px;bottom:14454px;color:rgb(35,31,31);
}
#P691_184
{
left:21711.1px;bottom:14436.4px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P691_185
{
left:26060.7px;bottom:14444.4px;color:rgb(0,124,196);
}
#P691_186
{
left:30461.5px;bottom:14470.3px;color:rgb(0,124,196);
}
#P691_187
{
left:30781.7px;bottom:14444.4px;color:rgb(0,124,196);
}
#P691_188
{
left:34062.4px;bottom:14470.3px;color:rgb(0,124,196);
}
#P691_189
{
left:34542.2px;bottom:14444.4px;color:rgb(0,124,196);
}
#P691_190
{
left:16973.5px;bottom:12388.4px;word-spacing:3042.4px;color:rgb(35,31,31);
}
#P691_191
{
left:18198.4px;bottom:11949.8px;color:rgb(35,31,31);
}
#P691_192
{
left:18550.2px;bottom:12388.4px;color:rgb(35,31,31);
}
#P691_193
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P691_194
{
left:18897.6px;bottom:12828.1px;color:rgb(35,31,31);
}
#P691_195
{
left:19569.2px;bottom:12406px;color:rgb(35,31,31);
}
#P691_196
{
left:18708.6px;bottom:12372.4px;color:rgb(35,31,31);
}
#P691_197
{
left:19758.3px;bottom:12389.7px;color:rgb(35,31,31);
}
#P691_198
{
left:18729.8px;bottom:11920.6px;color:rgb(35,31,31);
}
#P691_199
{
left:19737.2px;bottom:12406px;color:rgb(35,31,31);
}
#P691_200
{
left:19758.3px;bottom:12388.4px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P691_201
{
left:19916.7px;bottom:12358.8px;color:rgb(35,31,31);
}
#P691_202
{
left:20503.1px;bottom:12388.4px;color:rgb(35,31,31);
}
#P691_203
{
left:21886.4px;bottom:11949.8px;color:rgb(35,31,31);
}
#P691_204
{
left:22238.2px;bottom:12388.4px;color:rgb(35,31,31);
}
#P691_205
{
left:22396.6px;bottom:12388.4px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P691_206
{
left:22734.6px;bottom:12828.1px;color:rgb(35,31,31);
}
#P691_207
{
left:23108.4px;bottom:12406px;color:rgb(35,31,31);
}
#P691_208
{
left:22396.6px;bottom:12372.4px;color:rgb(35,31,31);
}
#P691_209
{
left:23446.3px;bottom:12389.7px;color:rgb(35,31,31);
}
#P691_210
{
left:22417.8px;bottom:11920.6px;color:rgb(35,31,31);
}
#P691_211
{
left:23425.2px;bottom:12406px;color:rgb(35,31,31);
}
#P691_212
{
left:23446.3px;bottom:12388.4px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P691_213
{
left:26060.6px;bottom:12396.4px;color:rgb(0,124,196);
}
#P691_214
{
left:19012.1px;bottom:10340.4px;word-spacing:5081px;color:rgb(35,31,31);
}
#P691_215
{
left:19916.7px;bottom:10310.8px;color:rgb(35,31,31);
}
#P691_216
{
left:20503.1px;bottom:10340.4px;color:rgb(35,31,31);
}
#P691_217
{
left:20661.5px;bottom:10340.4px;color:rgb(35,31,31);
}
#P691_218
{
left:21076.8px;bottom:10340.4px;color:rgb(35,31,31);
}
#P691_219
{
left:26060.7px;bottom:10348.4px;color:rgb(0,124,196);
}
#P691_220
{
left:0px;letter-spacing:0px;margin-left:-49.7px;
}
#P691_221
{
left: 17910.7px;bottom:8932.4px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P691_222
{
left:0px;letter-spacing:0px;margin-left:-704px;
}
#P691_223
{
left:0px;letter-spacing:-9.3px;margin-left:-8.4px;
}
#P691_224
{
left:0px;letter-spacing:-0.5px;margin-left:9.3px;
}
#P691_225
{
left:0px;letter-spacing:-2.8px;margin-left:0.5px;
}
#P691_226
{
left:13772.7px;bottom:5540.4px;color:rgb(35,31,31);
}
#P691_227
{
left:13980.2px;bottom:5567.21px;word-spacing:261.2px;color:rgb(35,31,31);
}
#P691_228
{
left:14988.7px;bottom:5540.4px;letter-spacing:-70.3px;color:rgb(35,31,31);
}
#P691_229
{
left:0px;letter-spacing:-0.4px;margin-left:66.2px;
}
#P691_230
{
left:0px;letter-spacing:-0.9px;margin-left:0.4px;
}
#P691_231
{
left:0px;letter-spacing:0px;margin-left:0.9px;
}
#P691_232
{
left:14988.7px;bottom:4644.4px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P691_233
{
left:0px;letter-spacing:-7px;margin-left:-20.3px;
}
#P691_234
{
left:0px;letter-spacing:-0.3px;margin-left:7px;
}
#P691_235
{
left:0px;letter-spacing:0px;margin-left:-13.6px;
}
#P691_236
{
left:7709.34px;bottom:23465.3px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P691_237
{
left:14577.7px;bottom:23489.8px;color:white;
}
#P691_238
{
left:16961.4px;bottom:23681.6px;color:white;
}
#P691_239
{
left:17201.6px;bottom:23489.8px;word-spacing:-31.9px;color:white;
}
#P691_240
{
left:19970px;bottom:23681.6px;color:white;
}
#P691_241
{
left:20210.2px;bottom:23489.8px;color:white;
}
#P691_242
{
left:21393.9px;bottom:23681.6px;color:white;
}
#P691_243
{
left:21634.1px;bottom:23489.8px;color:white;
}
#P691_244
{
left:12733.3px;bottom:23322.7px;
}
#P691_245
{
left:12733.3px;bottom:23322.7px;color:white;
}
#P691_246
{
left:6094.23px;bottom:15987.1px;color:rgb(35,31,31);
}
#P691_247
{
left:6094.23px;bottom:16739.1px;color:rgb(35,31,31);
}
#P691_248
{
left:6094.23px;bottom:17507.1px;color:rgb(35,31,31);
}
#P691_249
{
left:6094.23px;bottom:18269.8px;color:rgb(35,31,31);
}
#P691_250
{
left:6094.23px;bottom:19043.1px;color:rgb(35,31,31);
}
#P691_251
{
left:6094.23px;bottom:19832.4px;color:rgb(35,31,31);
}
#P691_252
{
left:6094.23px;bottom:20601.8px;color:rgb(35,31,31);
}
#P691_253
{
left:6361.11px;bottom:15191.7px;color:rgb(35,31,31);
}
#P691_254
{
left:7216.92px;bottom:14841.8px;color:rgb(35,31,31);
}
#P691_255
{
left:7336.92px;bottom:18294.4px;color:rgb(35,31,31);
}
#P691_256
{
left:8318.62px;bottom:14841.8px;color:rgb(35,31,31);
}
#P691_257
{
left:8438.62px;bottom:19984px;color:rgb(35,31,31);
}
#P691_258
{
left:9420.12px;bottom:14841.8px;color:rgb(35,31,31);
}
#P691_259
{
left:9540.12px;bottom:17756.8px;color:rgb(35,31,31);
}
#P691_260
{
left:10521.8px;bottom:14841.8px;color:rgb(35,31,31);
}
#P691_261
{
left:10641.8px;bottom:16528px;color:rgb(35,31,31);
}
#P691_262
{
left:11623.3px;bottom:14841.8px;color:rgb(35,31,31);
}
#P691_263
{
left:11876.8px;bottom:16067.2px;color:rgb(35,31,31);
}
#P691_264
{
left:12725px;bottom:14841.8px;color:rgb(35,31,31);
}
#P691_265
{
left:12978.5px;bottom:15683.2px;color:rgb(35,31,31);
}
#P691_266
{
left:9178.46px;bottom:13844.5px;letter-spacing:-1.5px;color:rgb(35,31,31);
}
#P691_267
{
left:5686.49px;bottom:15151px;letter-spacing:0.6px;color:rgb(35,31,31);
}
#P691_268
{
left:6105.18px;bottom:21503.1px;color:rgb(35,31,31);
}
#P691_269
{
left:0px;letter-spacing:0px;margin-left:-63.9px;
}
#P691_270
{
left:0px;letter-spacing:1.7px;
}
#PageContainer691
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg691.jpg");background-repeat:no-repeat;background-size: 882px 1187px; background-position: 121.75px 74.8499999999999px;
}
#ImageContainer691 {bottom:102.15px;left:121.75px;width:882.32px;height:1186.90px;position:absolute;} #TextContainer691 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.example3{position: absolute;top: 80px;left: 165px;}
.example4{position: absolute;top: 695px;left: 165px;}
.now1{position: absolute;top: 500px;left: 185px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}