.tr128{ color:transparent;}
#P128_1
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P128_2
{
left:3540.44px;bottom:1417.71px;color:rgb(35,31,31);
}
#P128_3
{
left:5565.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P128_4
{
left:9765.85px;bottom:1417.71px;letter-spacing:2.1px;word-spacing:462px;color:rgb(35,31,31);
}
#P128_5
{
left:0px;letter-spacing:2.3px;margin-left:-6.5px;
}
#P128_6
{
left:0px;letter-spacing:0px;margin-left:-464.3px;
}
#P128_7
{
left:0px;letter-spacing:2.4px;margin-left:0.1px;
}
#P128_8
{
left:0px;letter-spacing:0px;margin-left:-464.4px;
}
#P128_9
{
left:0px;letter-spacing:1.4px;margin-left:5.4px;
}
#P128_10
{
left:6418.71px;bottom:45383.7px;letter-spacing:9.6px;
}
#P128_11
{
left:6418.71px;bottom:45383.7px;letter-spacing:9.6px;color:white;
}
#P128_12
{
left:8722.71px;bottom:45419.4px;color:rgb(2,77,161);
}
#P128_13
{
left:9298.97px;bottom:45611.2px;color:rgb(2,77,161);
}
#P128_14
{
left:9539.16px;bottom:45419.4px;color:rgb(2,77,161);
}
#P128_15
{
left:9987.61px;bottom:45611.2px;color:rgb(2,77,161);
}
#P128_16
{
left:10227.8px;bottom:45419.4px;color:rgb(2,77,161);
}
#P128_17
{
left:10723.7px;bottom:45611.2px;color:rgb(2,77,161);
}
#P128_18
{
left:10963.9px;bottom:45419.4px;color:rgb(2,77,161);
}
#P128_19
{
left:12901px;bottom:45611.2px;color:rgb(2,77,161);
}
#P128_20
{
left:13141.2px;bottom:45419.4px;letter-spacing:-0.8px;color:rgb(2,77,161);
}
#P128_21
{
left:19070.9px;bottom:45476.8px;color:rgb(2,77,161);
}
#P128_22
{
left:0px;letter-spacing:0px;margin-left:51.2px;
}
#P128_23
{
left:7730.71px;bottom:43432.9px;color:rgb(35,31,31);
}
#P128_24
{
left:0px;letter-spacing:0px;margin-left:-15.5px;
}
#P128_25
{
left:0px;letter-spacing:0px;margin-left:-59.8px;
}
#P128_26
{
left:0px;letter-spacing:0px;margin-left:-147.8px;
}
#P128_27
{
left:9881.43px;bottom:43872.6px;color:rgb(35,31,31);
}
#P128_28
{
left:10236.2px;bottom:43450.5px;color:rgb(35,31,31);
}
#P128_29
{
left:9860.31px;bottom:43416.9px;color:rgb(35,31,31);
}
#P128_30
{
left:10257.4px;bottom:43434.2px;color:rgb(35,31,31);
}
#P128_31
{
left:9881.43px;bottom:42965.1px;color:rgb(35,31,31);
}
#P128_32
{
left:10236.2px;bottom:43450.5px;color:rgb(35,31,31);
}
#P128_33
{
left:10257.4px;bottom:43432.9px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P128_34
{
left:10405.2px;bottom:43403.4px;color:rgb(35,31,31);
}
#P128_35
{
left:10991.6px;bottom:43432.9px;color:rgb(35,31,31);
}
#P128_36
{
left:0px;letter-spacing:0px;margin-left:-147.8px;
}
#P128_37
{
left:11554.8px;bottom:43872.6px;color:rgb(35,31,31);
}
#P128_38
{
left:11909.7px;bottom:43450.5px;color:rgb(35,31,31);
}
#P128_39
{
left:11533.7px;bottom:43416.9px;color:rgb(35,31,31);
}
#P128_40
{
left:11930.8px;bottom:43434.2px;color:rgb(35,31,31);
}
#P128_41
{
left:11554.8px;bottom:42965.1px;color:rgb(35,31,31);
}
#P128_42
{
left:11909.7px;bottom:43450.5px;color:rgb(35,31,31);
}
#P128_43
{
left:11930.8px;bottom:43432.9px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P128_44
{
left:8882.71px;bottom:41362.5px;color:rgb(235,26,35);
}
#P128_45
{
left:9246.75px;bottom:41362.5px;color:rgb(35,31,31);
}
#P128_46
{
left:9332.63px;bottom:41362.5px;letter-spacing:-158.4px;color:rgb(235,26,35);
}
#P128_47
{
left:9353.75px;bottom:41802.2px;color:rgb(235,26,35);
}
#P128_48
{
left:9681.37px;bottom:41380.1px;color:rgb(235,26,35);
}
#P128_49
{
left:9332.63px;bottom:41346.5px;color:rgb(235,26,35);
}
#P128_50
{
left:9693.47px;bottom:41363.8px;color:rgb(235,26,35);
}
#P128_51
{
left:9344.73px;bottom:40894.7px;color:rgb(235,26,35);
}
#P128_52
{
left:9672.35px;bottom:41380.1px;color:rgb(235,26,35);
}
#P128_53
{
left:9693.47px;bottom:41362.5px;color:rgb(235,26,35);
}
#P128_54
{
left:9693.47px;bottom:41362.5px;color:rgb(35,31,31);
}
#P128_55
{
left:9851.87px;bottom:41333px;color:rgb(35,31,31);
}
#P128_56
{
left:10438.2px;bottom:41362.5px;color:rgb(35,31,31);
}
#P128_57
{
left:10596.6px;bottom:41362.5px;color:rgb(0,124,196);
}
#P128_58
{
left:10969.8px;bottom:41362.5px;color:rgb(35,31,31);
}
#P128_59
{
left:11057.8px;bottom:41362.5px;letter-spacing:-158.4px;color:rgb(0,124,196);
}
#P128_60
{
left:11078.9px;bottom:41802.2px;color:rgb(0,124,196);
}
#P128_61
{
left:11414.7px;bottom:41380.1px;color:rgb(0,124,196);
}
#P128_62
{
left:11057.8px;bottom:41346.5px;color:rgb(0,124,196);
}
#P128_63
{
left:11435.8px;bottom:41363.8px;color:rgb(0,124,196);
}
#P128_64
{
left:11078.9px;bottom:40894.7px;color:rgb(0,124,196);
}
#P128_65
{
left:11414.7px;bottom:41380.1px;color:rgb(0,124,196);
}
#P128_66
{
left:11435.8px;bottom:41362.5px;color:rgb(0,124,196);
}
#P128_67
{
left:11435.8px;bottom:41362.5px;color:rgb(35,31,31);
}
#P128_68
{
left:11594.2px;bottom:41333px;color:rgb(35,31,31);
}
#P128_69
{
left:12180.6px;bottom:41362.5px;color:rgb(35,31,31);
}
#P128_70
{
left:12339px;bottom:41362.5px;letter-spacing:-158.4px;color:rgb(235,26,35);
}
#P128_71
{
left:12360.2px;bottom:41802.2px;color:rgb(235,26,35);
}
#P128_72
{
left:13031.8px;bottom:41380.1px;color:rgb(235,26,35);
}
#P128_73
{
left:12339px;bottom:41346.5px;color:rgb(235,26,35);
}
#P128_74
{
left:13052.9px;bottom:41363.8px;color:rgb(235,26,35);
}
#P128_75
{
left:12528.1px;bottom:40894.7px;color:rgb(235,26,35);
}
#P128_76
{
left:12863.9px;bottom:41380.1px;color:rgb(235,26,35);
}
#P128_77
{
left:13052.9px;bottom:41362.5px;color:rgb(235,26,35);
}
#P128_78
{
left:13052.9px;bottom:41362.5px;color:rgb(35,31,31);
}
#P128_79
{
left:13211.3px;bottom:41333px;color:rgb(35,31,31);
}
#P128_80
{
left:13797.7px;bottom:41362.5px;color:rgb(35,31,31);
}
#P128_81
{
left:13956.1px;bottom:41362.5px;letter-spacing:-158.4px;color:rgb(0,124,196);
}
#P128_82
{
left:13977.2px;bottom:41802.2px;color:rgb(0,124,196);
}
#P128_83
{
left:14313px;bottom:41380.1px;color:rgb(0,124,196);
}
#P128_84
{
left:13956.1px;bottom:41346.5px;color:rgb(0,124,196);
}
#P128_85
{
left:14334.2px;bottom:41363.8px;color:rgb(0,124,196);
}
#P128_86
{
left:13977.2px;bottom:40894.7px;color:rgb(0,124,196);
}
#P128_87
{
left:14313px;bottom:41380.1px;color:rgb(0,124,196);
}
#P128_88
{
left:14334.2px;bottom:41362.5px;color:rgb(0,124,196);
}
#P128_89
{
left:14334.2px;bottom:41362.5px;color:rgb(35,31,31);
}
#P128_90
{
left:17074.7px;bottom:41370.5px;color:rgb(0,124,196);
}
#P128_91
{
left:8114.71px;bottom:39292.1px;letter-spacing:3203.2px;color:rgb(35,31,31);
}
#P128_92
{
left:11634.7px;bottom:39262.6px;color:rgb(35,31,31);
}
#P128_93
{
left:12221.1px;bottom:39292.1px;color:rgb(35,31,31);
}
#P128_94
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P128_95
{
left:12400.7px;bottom:39731.8px;color:rgb(35,31,31);
}
#P128_96
{
left:13072.3px;bottom:39309.7px;color:rgb(35,31,31);
}
#P128_97
{
left:12379.5px;bottom:39276.1px;color:rgb(35,31,31);
}
#P128_98
{
left:13093.4px;bottom:39293.4px;color:rgb(35,31,31);
}
#P128_99
{
left:12568.6px;bottom:38824.3px;color:rgb(35,31,31);
}
#P128_100
{
left:12904.4px;bottom:39309.7px;color:rgb(35,31,31);
}
#P128_101
{
left:13093.4px;bottom:39292.1px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P128_102
{
left:13251.8px;bottom:39262.6px;color:rgb(35,31,31);
}
#P128_103
{
left:13838.2px;bottom:39292.1px;color:rgb(35,31,31);
}
#P128_104
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P128_105
{
left:14017.8px;bottom:39731.8px;color:rgb(35,31,31);
}
#P128_106
{
left:14353.6px;bottom:39309.7px;color:rgb(35,31,31);
}
#P128_107
{
left:13996.6px;bottom:39276.1px;color:rgb(35,31,31);
}
#P128_108
{
left:14374.7px;bottom:39293.4px;color:rgb(35,31,31);
}
#P128_109
{
left:14017.8px;bottom:38824.3px;color:rgb(35,31,31);
}
#P128_110
{
left:14353.6px;bottom:39309.7px;color:rgb(35,31,31);
}
#P128_111
{
left:14374.7px;bottom:39292.1px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P128_112
{
left:17074.7px;bottom:39300.1px;color:rgb(0,124,196);
}
#P128_113
{
left:0px;letter-spacing:0px;margin-left:-161.3px;
}
#P128_114
{
left:24395.3px;bottom:39721.9px;color:rgb(0,124,196);
}
#P128_115
{
left:24685.6px;bottom:39316.9px;color:rgb(0,124,196);
}
#P128_116
{
left:24375.1px;bottom:39286.9px;color:rgb(0,124,196);
}
#P128_117
{
left:24705.8px;bottom:39301.4px;color:rgb(0,124,196);
}
#P128_118
{
left:24395.3px;bottom:38855.6px;color:rgb(0,124,196);
}
#P128_119
{
left:24685.6px;bottom:39316.9px;color:rgb(0,124,196);
}
#P128_120
{
left:24705.8px;bottom:39300.1px;color:rgb(0,124,196);
}
#P128_121
{
left:0px;letter-spacing:0px;margin-left:-161.3px;
}
#P128_122
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P128_123
{
left:0px;letter-spacing:0px;margin-left:-161.3px;
}
#P128_124
{
left:27262.7px;bottom:39721.9px;color:rgb(0,124,196);
}
#P128_125
{
left:27553px;bottom:39316.9px;color:rgb(0,124,196);
}
#P128_126
{
left:27242.6px;bottom:39286.9px;color:rgb(0,124,196);
}
#P128_127
{
left:27573.2px;bottom:39301.4px;color:rgb(0,124,196);
}
#P128_128
{
left:27262.7px;bottom:38855.6px;color:rgb(0,124,196);
}
#P128_129
{
left:27553px;bottom:39316.9px;color:rgb(0,124,196);
}
#P128_130
{
left:27573.2px;bottom:39300.1px;letter-spacing:-161.3px;color:rgb(0,124,196);
}
#P128_131
{
left:8114.71px;bottom:36965.7px;letter-spacing:3203.2px;color:rgb(35,31,31);
}
#P128_132
{
left:11634.7px;bottom:36936.2px;color:rgb(35,31,31);
}
#P128_133
{
left:12221.1px;bottom:36965.7px;color:rgb(35,31,31);
}
#P128_134
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P128_135
{
left:12400.7px;bottom:37405.4px;
}
#P128_136
{
left:13214.8px;bottom:37378.8px;color:rgb(35,31,31);
}
#P128_137
{
left:13742.6px;bottom:37405.4px;
}
#P128_138
{
left:14221px;bottom:36983.3px;color:rgb(35,31,31);
}
#P128_139
{
left:12379.5px;bottom:36949.7px;color:rgb(35,31,31);
}
#P128_140
{
left:14242.1px;bottom:36967px;color:rgb(35,31,31);
}
#P128_141
{
left:12568.6px;bottom:36497.9px;
}
#P128_142
{
left:13046.9px;bottom:36471.3px;color:rgb(35,31,31);
}
#P128_143
{
left:13574.6px;bottom:36497.9px;
}
#P128_144
{
left:14053.1px;bottom:36983.3px;color:rgb(35,31,31);
}
#P128_145
{
left:14242.1px;bottom:36965.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P128_146
{
left:17074.7px;bottom:36973.7px;color:rgb(0,124,196);
}
#P128_147
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P128_148
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P128_149
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P128_150
{
left:8114.71px;bottom:34639.3px;letter-spacing:3203.2px;color:rgb(35,31,31);
}
#P128_151
{
left:11634.7px;bottom:34609.8px;color:rgb(35,31,31);
}
#P128_152
{
left:12221.1px;bottom:34639.3px;color:rgb(35,31,31);
}
#P128_153
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P128_154
{
left:12400.7px;bottom:35079px;color:rgb(35,31,31);
}
#P128_155
{
left:12736.5px;bottom:34656.9px;color:rgb(35,31,31);
}
#P128_156
{
left:12379.5px;bottom:34623.3px;color:rgb(35,31,31);
}
#P128_157
{
left:12757.6px;bottom:34640.6px;color:rgb(35,31,31);
}
#P128_158
{
left:12400.7px;bottom:34171.5px;color:rgb(35,31,31);
}
#P128_159
{
left:12736.5px;bottom:34656.9px;color:rgb(35,31,31);
}
#P128_160
{
left:12757.6px;bottom:34639.3px;color:rgb(35,31,31);
}
#P128_161
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P128_162
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P128_163
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P128_164
{
left:14423.3px;bottom:35079px;color:rgb(35,31,31);
}
#P128_165
{
left:14759.1px;bottom:34656.9px;color:rgb(35,31,31);
}
#P128_166
{
left:14402.1px;bottom:34623.3px;color:rgb(35,31,31);
}
#P128_167
{
left:14780.2px;bottom:34640.6px;color:rgb(35,31,31);
}
#P128_168
{
left:14423.3px;bottom:34171.5px;color:rgb(35,31,31);
}
#P128_169
{
left:14759.1px;bottom:34656.9px;color:rgb(35,31,31);
}
#P128_170
{
left:14780.2px;bottom:34639.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P128_171
{
left:17074.7px;bottom:34647.3px;color:rgb(0,124,196);
}
#P128_172
{
left:0px;letter-spacing:0px;margin-left:-49.7px;
}
#P128_173
{
left:7735px;bottom:30396.8px;letter-spacing:-5.2px;color:rgb(35,31,31);
}
#P128_174
{
left:0px;letter-spacing:-14.8px;margin-left:-36.9px;
}
#P128_175
{
left:0px;letter-spacing:0px;margin-left:14.8px;
}
#P128_176
{
left:7735px;bottom:28924.8px;color:rgb(35,31,31);
}
#P128_177
{
left:7912.15px;bottom:28944.5px;color:rgb(35,31,31);
}
#P128_178
{
left:9335.01px;bottom:28924.8px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P128_179
{
left:9817.24px;bottom:29364.5px;color:rgb(35,31,31);
}
#P128_180
{
left:10153px;bottom:28942.4px;color:rgb(35,31,31);
}
#P128_181
{
left:9796.12px;bottom:28908.8px;color:rgb(35,31,31);
}
#P128_182
{
left:10174.2px;bottom:28926px;color:rgb(35,31,31);
}
#P128_183
{
left:9817.24px;bottom:28456.9px;color:rgb(35,31,31);
}
#P128_184
{
left:10153px;bottom:28942.4px;color:rgb(35,31,31);
}
#P128_185
{
left:10174.2px;bottom:28924.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P128_186
{
left:10332.6px;bottom:28895.2px;color:rgb(35,31,31);
}
#P128_187
{
left:10919px;bottom:28924.8px;color:rgb(35,31,31);
}
#P128_188
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P128_189
{
left:11098.5px;bottom:29364.5px;color:rgb(35,31,31);
}
#P128_190
{
left:11434.3px;bottom:28942.4px;color:rgb(35,31,31);
}
#P128_191
{
left:11077.4px;bottom:28908.8px;color:rgb(35,31,31);
}
#P128_192
{
left:11455.4px;bottom:28926px;color:rgb(35,31,31);
}
#P128_193
{
left:11098.5px;bottom:28456.9px;color:rgb(35,31,31);
}
#P128_194
{
left:11434.3px;bottom:28942.4px;color:rgb(35,31,31);
}
#P128_195
{
left:11455.4px;bottom:28924.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P128_196
{
left:14344.2px;bottom:28944.5px;color:rgb(35,31,31);
}
#P128_197
{
left:15703px;bottom:28924.8px;word-spacing:221.9px;color:rgb(35,31,31);
}
#P128_198
{
left:16185.2px;bottom:29364.5px;color:rgb(35,31,31);
}
#P128_199
{
left:16521px;bottom:28942.4px;color:rgb(35,31,31);
}
#P128_200
{
left:16164.1px;bottom:28908.8px;color:rgb(35,31,31);
}
#P128_201
{
left:16542.2px;bottom:28926px;color:rgb(35,31,31);
}
#P128_202
{
left:16185.2px;bottom:28456.9px;color:rgb(35,31,31);
}
#P128_203
{
left:16521px;bottom:28942.4px;color:rgb(35,31,31);
}
#P128_204
{
left:16542.2px;bottom:28924.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P128_205
{
left:16700.6px;bottom:28895.2px;color:rgb(35,31,31);
}
#P128_206
{
left:17287px;bottom:28924.8px;color:rgb(35,31,31);
}
#P128_207
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P128_208
{
left:17466.5px;bottom:29364.5px;color:rgb(35,31,31);
}
#P128_209
{
left:17802.3px;bottom:28942.4px;color:rgb(35,31,31);
}
#P128_210
{
left:17445.4px;bottom:28908.8px;color:rgb(35,31,31);
}
#P128_211
{
left:17823.4px;bottom:28926px;color:rgb(35,31,31);
}
#P128_212
{
left:17466.5px;bottom:28456.9px;color:rgb(35,31,31);
}
#P128_213
{
left:17802.3px;bottom:28942.4px;color:rgb(35,31,31);
}
#P128_214
{
left:17823.4px;bottom:28924.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P128_215
{
left:20776.2px;bottom:28944.5px;color:rgb(35,31,31);
}
#P128_216
{
left:22199px;bottom:28924.8px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P128_217
{
left:22681.2px;bottom:29364.5px;color:rgb(35,31,31);
}
#P128_218
{
left:23017px;bottom:28942.4px;color:rgb(35,31,31);
}
#P128_219
{
left:22660.1px;bottom:28908.8px;color:rgb(35,31,31);
}
#P128_220
{
left:23038.2px;bottom:28926px;color:rgb(35,31,31);
}
#P128_221
{
left:22681.2px;bottom:28456.9px;color:rgb(35,31,31);
}
#P128_222
{
left:23017px;bottom:28942.4px;color:rgb(35,31,31);
}
#P128_223
{
left:23038.2px;bottom:28924.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P128_224
{
left:23196.6px;bottom:28895.2px;color:rgb(35,31,31);
}
#P128_225
{
left:23783px;bottom:28924.8px;color:rgb(35,31,31);
}
#P128_226
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P128_227
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P128_228
{
left:24423.6px;bottom:29364.5px;color:rgb(35,31,31);
}
#P128_229
{
left:24759.4px;bottom:28942.4px;color:rgb(35,31,31);
}
#P128_230
{
left:24402.5px;bottom:28908.8px;color:rgb(35,31,31);
}
#P128_231
{
left:24780.6px;bottom:28926px;color:rgb(35,31,31);
}
#P128_232
{
left:24423.6px;bottom:28456.9px;color:rgb(35,31,31);
}
#P128_233
{
left:24759.4px;bottom:28942.4px;color:rgb(35,31,31);
}
#P128_234
{
left:24780.6px;bottom:28924.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P128_235
{
left:27560.2px;bottom:28944.5px;color:rgb(35,31,31);
}
#P128_236
{
left:28919px;bottom:28924.8px;word-spacing:221.9px;color:rgb(35,31,31);
}
#P128_237
{
left:29401.2px;bottom:29364.5px;color:rgb(35,31,31);
}
#P128_238
{
left:29737px;bottom:28942.4px;color:rgb(35,31,31);
}
#P128_239
{
left:29380.1px;bottom:28908.8px;color:rgb(35,31,31);
}
#P128_240
{
left:29758.2px;bottom:28926px;color:rgb(35,31,31);
}
#P128_241
{
left:29401.2px;bottom:28456.9px;color:rgb(35,31,31);
}
#P128_242
{
left:29737px;bottom:28942.4px;color:rgb(35,31,31);
}
#P128_243
{
left:29758.2px;bottom:28924.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P128_244
{
left:29916.6px;bottom:28895.2px;color:rgb(35,31,31);
}
#P128_245
{
left:30503px;bottom:28924.8px;color:rgb(35,31,31);
}
#P128_246
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P128_247
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P128_248
{
left:31143.6px;bottom:29364.5px;color:rgb(35,31,31);
}
#P128_249
{
left:31479.4px;bottom:28942.4px;color:rgb(35,31,31);
}
#P128_250
{
left:31122.5px;bottom:28908.8px;color:rgb(35,31,31);
}
#P128_251
{
left:31500.6px;bottom:28926px;color:rgb(35,31,31);
}
#P128_252
{
left:31143.6px;bottom:28456.9px;color:rgb(35,31,31);
}
#P128_253
{
left:31479.4px;bottom:28942.4px;color:rgb(35,31,31);
}
#P128_254
{
left:31500.6px;bottom:28924.8px;color:rgb(35,31,31);
}
#P128_255
{
left:7735px;bottom:26812.8px;color:rgb(35,31,31);
}
#P128_256
{
left:7912.15px;bottom:26832.5px;color:rgb(35,31,31);
}
#P128_257
{
left:8890.71px;bottom:26812.8px;letter-spacing:285.9px;color:rgb(35,31,31);
}
#P128_258
{
left:9335px;bottom:26832.5px;letter-spacing:-12.9px;color:rgb(2,77,161);
}
#P128_259
{
left:0px;letter-spacing:0px;margin-left:12.9px;
}
#P128_260
{
left:12647.3px;bottom:26812.8px;color:rgb(35,31,31);
}
#P128_261
{
left:0px;letter-spacing:0px;margin-left:193.6px;
}
#P128_262
{
left:0px;letter-spacing:0px;margin-left:-12.5px;
}
#P128_263
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P128_264
{
left:0px;letter-spacing:0px;margin-left:-63.3px;
}
#P128_265
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P128_266
{
left:28145.2px;bottom:27252.5px;color:rgb(35,31,31);
}
#P128_267
{
left:28481px;bottom:26830.4px;color:rgb(35,31,31);
}
#P128_268
{
left:28124.1px;bottom:26796.8px;color:rgb(35,31,31);
}
#P128_269
{
left:28502.2px;bottom:26814px;color:rgb(35,31,31);
}
#P128_270
{
left:28145.2px;bottom:26344.9px;color:rgb(35,31,31);
}
#P128_271
{
left:28481px;bottom:26830.4px;color:rgb(35,31,31);
}
#P128_272
{
left:28502.2px;bottom:26812.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P128_273
{
left:0px;letter-spacing:0px;margin-left:158.4px;
}
#P128_274
{
left: 9336px;bottom:25596.8px;letter-spacing:801.6px;color:rgb(35,31,31);
}
#P128_275
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P128_276
{
left:0px;letter-spacing:-0.8px;
margin-left: 0px;
}
#P128_277
{
left:0px;letter-spacing:-7px;
margin-left: 0px;
}
#P128_278
{
left:0px;letter-spacing:-0.1px;
margin-left: 0px;
}
#P128_279
{
left:14316.3px;bottom:37810.1px;color:rgb(235,26,35);
}
#P128_280
{
left:14060.3px;bottom:36056.5px;color:rgb(235,26,35);
}
#P128_281
{
left:12015px;bottom:37810.1px;color:rgb(235,26,35);
}
#P128_282
{
left:12079px;bottom:36056.5px;color:rgb(235,26,35);
}
#P128_283
{
left:6418.71px;bottom:22545.3px;letter-spacing:9.6px;
}
#P128_284
{
left:6418.71px;bottom:22545.3px;letter-spacing:9.6px;color:white;
}
#P128_285
{
left:8722.71px;bottom:22581px;color:rgb(2,77,161);
}
#P128_286
{
left:10274.5px;bottom:22772.8px;color:rgb(2,77,161);
}
#P128_287
{
left:10514.6px;bottom:22581px;letter-spacing:-1.1px;color:rgb(2,77,161);
}
#P128_288
{
left:16661.3px;bottom:22772.8px;color:rgb(2,77,161);
}
#P128_289
{
left:16901.5px;bottom:22581px;color:rgb(2,77,161);
}
#P128_290
{
left:19526.4px;bottom:22772.8px;color:rgb(2,77,161);
}
#P128_291
{
left:19766.6px;bottom:22581px;color:rgb(2,77,161);
}
#P128_292
{
left:22423.1px;bottom:22638.4px;color:rgb(2,77,161);
}

#P128_293
{
left:7346.71px;bottom:20594.5px;word-spacing:388.1px;color:rgb(35,31,31);
}
#P128_293a
{
left: 8427.71px;bottom:20594.5px;word-spacing:388.1px;color:rgb(35,31,31);
}
#P128_294
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P128_295
{
left:0px;letter-spacing:0px;margin-left:-8.5px;
}
#P128_296
{
left:0px;letter-spacing:0px;margin-left:-388.1px;
}
#P128_297
{
left:11407px;bottom:20565px;color:rgb(35,31,31);
}
#P128_298
{
left:11993.4px;bottom:20594.5px;color:rgb(35,31,31);
}
#P128_299
{
left:8434.71px;bottom:18162.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P128_300
{
left:9369.82px;bottom:18162.5px;color:rgb(35,31,31);
}
#P128_301
{
left:10643.9px;bottom:18162.5px;color:rgb(35,31,31);
}
#P128_302
{
left:8434.71px;bottom:17907.7px;color:rgb(35,31,31);
}
#P128_303
{
left:10590px;bottom:18162.5px;color:rgb(35,31,31);
}
#P128_304
{
left:8380.89px;bottom:17323.4px;color:rgb(35,31,31);
}
#P128_305
{
left:8539.29px;bottom:17293.8px;color:rgb(35,31,31);
}
#P128_306
{
left:9125.72px;bottom:17323.4px;color:rgb(35,31,31);
}
#P128_307
{
left:10590px;bottom:18162.5px;color:rgb(35,31,31);
}
#P128_308
{
left:8380.89px;bottom:17156.5px;color:rgb(35,31,31);
}
#P128_309
{
left:10590px;bottom:18162.5px;color:rgb(35,31,31);
}
#P128_310
{
left:9284.06px;bottom:16378.6px;color:rgb(35,31,31);
}
#P128_311
{
left:8114.71px;bottom:17266.5px;color:rgb(35,31,31);
}
#P128_312
{
left:7346.71px;bottom:14578.5px;letter-spacing:-11.6px;word-spacing:352px;color:rgb(35,31,31);
}
#P128_312a
{
left:8346.71px;bottom:14578.5px;letter-spacing:-11.6px;word-spacing:352px;color:rgb(35,31,31);
}
#P128_313
{
left:0px;letter-spacing:0px;margin-left:-5.2px;
}
#P128_314
{
left:0px;letter-spacing:0px;margin-left:-352px;
}
#P128_315
{
left:0px;letter-spacing:0px;
}
#P128_316
{
left:13312.8px;bottom:14549px;color:rgb(35,31,31);
}
#P128_317
{
left:13899.2px;bottom:14578.5px;color:rgb(35,31,31);
}
#P128_318
{
left:8434.78px;bottom:12146.6px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P128_319
{
left:9338.01px;bottom:12146.6px;color:rgb(35,31,31);
}
#P128_320
{
left:0px;bottom:0px;letter-spacing:0px;color:rgb(35,31,31);
}
#P128_321
{
left:8434.71px;bottom:11891.7px;color:rgb(35,31,31);
}
#P128_322
{
left:0px;bottom:0px;letter-spacing:0px;color:rgb(35,31,31);
}
#P128_323
{
left:8434.71px;bottom:11307.4px;color:rgb(35,31,31);
}
#P128_324
{
left:8593.11px;bottom:11277.8px;color:rgb(35,31,31);
}
#P128_325
{
left:9179.55px;bottom:11307.4px;color:rgb(35,31,31);
}
#P128_326
{
left:0px;bottom:0px;letter-spacing:0px;color:rgb(35,31,31);
}
#P128_327
{
left:8434.71px;bottom:11140.5px;color:rgb(35,31,31);
}
#P128_328
{
left:11017px;bottom:12146.5px;color:rgb(35,31,31);
}
#P128_329
{
left:9337.95px;bottom:10362.6px;color:rgb(35,31,31);
}
#P128_330
{
left:11017px;bottom:12146.5px;color:rgb(35,31,31);
}
#P128_331
{
left:7735px;bottom:6790.38px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P128_332
{
left:7735px;bottom:5638.38px;color:rgb(35,31,31);
}
#P128_333
{
left:7912.15px;bottom:5658.09px;color:rgb(35,31,31);
}
#P128_334
{
left:9335px;bottom:5638.38px;color:rgb(35,31,31);
}
#P128_335
{
left:10799.3px;bottom:5608.81px;color:rgb(35,31,31);
}
#P128_336
{
left:11385.8px;bottom:5638.38px;color:rgb(35,31,31);
}
#P128_337
{
left:20776px;bottom:5658.09px;color:rgb(35,31,31);
}
#P128_338
{
left:22198.9px;bottom:5638.38px;color:rgb(35,31,31);
}
#P128_339
{
left:24036.3px;bottom:5608.81px;color:rgb(35,31,31);
}
#P128_340
{
left:24622.7px;bottom:5638.38px;color:rgb(35,31,31);
}
#P128_341
{
left:7734.87px;bottom:4294.32px;color:rgb(35,31,31);
}
#P128_342
{
left:7911.9px;bottom:4314.03px;color:rgb(35,31,31);
}
#P128_343
{
left:9334.81px;bottom:4294.32px;color:rgb(35,31,31);
}
#P128_344
{
left:11172.2px;bottom:4264.75px;color:rgb(35,31,31);
}
#P128_345
{
left:11758.7px;bottom:4294.32px;color:rgb(35,31,31);
}
#P128_346
{
left:20775.9px;bottom:4314.03px;color:rgb(35,31,31);
}
#P128_347
{
left:22198.7px;bottom:4294.32px;color:rgb(35,31,31);
}
#P128_348
{
left:24036.2px;bottom:4264.75px;color:rgb(35,31,31);
}
#P128_349
{
left:24622.6px;bottom:4294.32px;color:rgb(35,31,31);
}
#P128_350
{
left:9341.4px;bottom:12871.5px;letter-spacing:356px;color:rgb(235,26,35);
}
#P128_351
{
left:0px;letter-spacing:0px;margin-left:-356px;
}
#P128_352
{
left:12224.7px;bottom:19042.1px;letter-spacing:-1px;color:rgb(0,124,196);
}
#P128_353
{
left:12224.7px;bottom:13282.1px;letter-spacing:-1px;color:rgb(0,124,196);
}
#P128_354
{
left:11886.2px;bottom:17330.1px;letter-spacing:-0.7px;color:rgb(0,124,196);
}
#P128_355
{
left:11853.4px;bottom:11308.8px;letter-spacing:-0.6px;color:rgb(0,124,196);
}
#P128_356
{
left:11017px;bottom:12146.5px;
}
#P128_357
{
left:11017px;bottom:12146.5px;
}
#P128_358
{
left:11017px;bottom:12146.5px;
}
#PageContainer128
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg128.jpg");background-repeat:no-repeat;background-size: 1066px 1246px; background-position: 1px -0.25px;
}
#ImageContainer128 {bottom:118.25px;right:0.00px;width:1066.24px;height:1245.91px;position:absolute;} #TextContainer128 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}