.tr391{ color:transparent;}
#P391_1
{
left:4592.6px;bottom:1544.43px;letter-spacing:17931.8px;color:rgb(35,31,31);
}
#P391_2
{
left:22880.3px;bottom:1410.03px;color:rgb(35,31,31);
}
#P391_3
{
left:25085px;bottom:1544.43px;color:rgb(35,31,31);
}
#P391_4
{
left:25262.9px;bottom:1410.03px;letter-spacing:17px;color:rgb(35,31,31);
}
#P391_5
{
left:26186.6px;bottom:1544.43px;letter-spacing:462.1px;color:rgb(35,31,31);
}
#P391_6
{
left:0px;letter-spacing:4.9px;margin-left:-462.1px;
}
#P391_7
{
left:0px;letter-spacing:1.1px;margin-left:-0.8px;
}
#P391_8
{
left:0px;letter-spacing:3.5px;margin-left:-1.1px;
}
#P391_9
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P391_10
{
left:6974.55px;bottom:46716.8px;color:rgb(35,31,31);
}
#P391_11
{
left:6974.55px;bottom:45372.8px;color:rgb(35,31,31);
}
#P391_12
{
left:17775.7px;bottom:45392.5px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P391_13
{
left:19262.6px;bottom:45392.5px;letter-spacing:-3.6px;color:rgb(2,77,161);
}
#P391_14
{
left:22744.7px;bottom:45372.8px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P391_15
{
left:0px;letter-spacing:0.4px;margin-left:-193.6px;
}
#P391_16
{
left:0px;letter-spacing:0px;margin-left:-0.4px;
}
#P391_17
{
left:19262.6px;bottom:44476.8px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P391_18
{
left:0px;letter-spacing:0px;margin-left:-25px;
}
#P391_19
{
left:0px;letter-spacing:0px;
}
#P391_20
{
left:19262.6px;bottom:43580.8px;letter-spacing:-1.6px;color:rgb(35,31,31);
}
#P391_21
{
left:0px;letter-spacing:-2.3px;margin-left:1.6px;
}
#P391_22
{
left:0px;letter-spacing:-1px;margin-left:2.3px;
}
#P391_23
{
left:0px;letter-spacing:0px;margin-left:-20px;
}
#P391_24
{
left:19262.6px;bottom:42684.8px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P391_25
{
left:0px;letter-spacing:-0.9px;margin-left:0.7px;
}
#P391_26
{
left:19262.6px;bottom:41788.8px;letter-spacing:0.4px;color:rgb(35,31,31);
}
#P391_27
{
left:0px;letter-spacing:0px;margin-left:44.7px;
}
#P391_28
{
left:0px;letter-spacing:0.2px;
}
#P391_29
{
left:6974.55px;bottom:36156.8px;color:rgb(35,31,31);
}
#P391_30
{
left:7151.71px;bottom:36176.6px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P391_31
{
left:8638.55px;bottom:36176.5px;letter-spacing:-2.8px;color:rgb(2,77,161);
}
#P391_32
{
left:0px;letter-spacing:0px;margin-left:-9.7px;
}
#P391_33
{
left:13021.3px;bottom:36156.8px;letter-spacing:168.3px;color:rgb(35,31,31);
}
#P391_34
{
left:0px;letter-spacing:0.2px;margin-left:-168.3px;
}
#P391_35
{
left:8638.49px;bottom:35260.8px;letter-spacing:-1.6px;color:rgb(35,31,31);
}
#P391_36
{
left:0px;letter-spacing:-0.5px;margin-left:1.6px;
}
#P391_37
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P391_38
{
left:0px;letter-spacing:0px;
}
#P391_39
{
left:8638.49px;bottom:34364.8px;letter-spacing:-1.2px;word-spacing:0.2px;color:rgb(35,31,31);
}
#P391_40
{
left:0px;letter-spacing:-14.1px;margin-left:145.6px;
}
#P391_41
{
left:0px;letter-spacing:-0.2px;margin-left:172.5px;
}
#P391_42
{
left:8638.49px;bottom:33468.8px;letter-spacing:-0.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P391_43
{
left:8638.49px;bottom:32572.8px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P391_44
{
left:0px;letter-spacing:-2.8px;margin-left:0.6px;
}
#P391_45
{
left:6974.55px;bottom:29308.8px;color:rgb(35,31,31);
}
#P391_46
{
left:21359.7px;bottom:29328.6px;word-spacing:504.6px;color:rgb(35,31,31);
}
#P391_47
{
left:23038.6px;bottom:29328.5px;color:rgb(2,77,161);
}
#P391_48
{
left:25255.4px;bottom:29308.8px;letter-spacing:193.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P391_49
{
left:0px;letter-spacing:-1px;margin-left:-36px;
}
#P391_50
{
left:0px;letter-spacing:-0.1px;margin-left:0.8px;
}
#P391_51
{
left:23038.6px;bottom:28412.8px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P391_52
{
left:0px;letter-spacing:-7px;margin-left:-20.2px;
}
#P391_53
{
left:0px;letter-spacing:0.5px;margin-left:7px;
}
#P391_54
{
left:23038.6px;bottom:27516.8px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P391_55
{
left:23038.6px;bottom:26620.8px;letter-spacing:-0.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P391_56
{
left:23038.6px;bottom:25724.8px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P391_57
{
left:0px;letter-spacing:0px;margin-left:-27.8px;
}
#P391_58
{
left:6974.55px;bottom:20668.8px;color:rgb(35,31,31);
}
#P391_59
{
left:7151.58px;bottom:20688.6px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P391_60
{
left:12724.6px;bottom:20668.8px;letter-spacing:193.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P391_61
{
left:0px;letter-spacing:-1.3px;margin-left:-36.3px;
}
#P391_62
{
left:0px;letter-spacing:-0.1px;margin-left:-19.7px;
}
#P391_63
{
left:0px;letter-spacing:-0.1px;margin-left:-4px;
}
#P391_64
{
left:8638.55px;bottom:19772.8px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P391_65
{
left:0px;letter-spacing:-0.5px;margin-left:-6.5px;
}
#P391_66
{
left:0px;letter-spacing:0px;margin-left:0.5px;
}
#P391_67
{
left:8638.55px;bottom:18876.8px;color:rgb(35,31,31);
}
#P391_68
{
left:0px;letter-spacing:0px;margin-left:-214.8px;
}
#P391_69
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P391_70
{
left:0px;letter-spacing:-1.6px;
}
#P391_71
{
left:0px;letter-spacing:-7px;margin-left:-12.4px;
}
#P391_72
{
left:0px;letter-spacing:-1.2px;margin-left:7px;
}
#P391_73
{
left:27236.6px;bottom:35841.9px;color:rgb(35,31,31);
}
#P391_74
{
left:0px;letter-spacing:0px;margin-left:988.8px;
}
#P391_75
{
left:0px;letter-spacing:0px;margin-left:1029.2px;
}
#P391_76
{
left:24581.3px;bottom:34753.8px;color:rgb(35,31,31);
}
#P391_77
{
left:27511.6px;bottom:34735px;color:rgb(35,31,31);
}
#P391_78
{
left:0px;letter-spacing:0px;margin-left:1585.7px;
}
#P391_79
{
left:0px;letter-spacing:0px;margin-left:1767.1px;
}
#P391_80
{
left:24581.3px;bottom:33730px;color:rgb(35,31,31);
}
#P391_81
{
left:27511.6px;bottom:33711.1px;color:rgb(35,31,31);
}
#P391_82
{
left:0px;letter-spacing:0px;margin-left:1585.7px;
}
#P391_83
{
left:0px;letter-spacing:0px;margin-left:1767.1px;
}
#P391_84
{
left:13785.2px;bottom:36156.8px;letter-spacing:2994.6px;
}
#P391_85
{
left:16113.6px;bottom:42761.2px;color:rgb(33,31,31);
}
#P391_86
{
left:11021.4px;bottom:38788.5px;color:rgb(33,31,31);
}
#P391_87
{
left:4729.75px;bottom:39198.1px;color:rgb(33,31,31);
}
#P391_88
{
left:12820.4px;bottom:24374.6px;color:rgb(35,31,31);
}
#P391_89
{
left:10693.8px;bottom:29227.9px;color:rgb(35,31,31);
}
#P391_90
{
left:0px;letter-spacing:0px;margin-left:28.8px;
}
#P391_91
{
left:5402.71px;bottom:26396.9px;color:rgb(35,31,31);
}
#P391_92
{
left:19572.3px;bottom:25366.4px;color:rgb(35,31,31);
}
#P391_93
{
left:11552.3px;bottom:29570.7px;color:rgb(35,31,31);
}
#P391_94
{
left:11401.1px;bottom:28917.9px;color:rgb(35,31,31);
}
#P391_95
{
left:25709.2px;bottom:17807.3px;color:rgb(216,93,107);
}
#P391_96
{
left:29901.3px;bottom:18888.5px;color:rgb(216,93,107);
}
#P391_97
{
left:31026.8px;bottom:21474.2px;color:rgb(216,93,107);
}
#P391_98
{
left:28251.1px;bottom:23476.9px;color:rgb(216,93,107);
}
#P391_99
{
left:24445.5px;bottom:23139.4px;color:rgb(216,93,107);
}
#P391_100
{
left:6975.58px;bottom:13265.8px;letter-spacing:-1.5px;color:rgb(35,31,31);
}
#P391_101
{
left:0px;letter-spacing:0.3px;margin-left:-12.4px;
}
#P391_102
{
left:0px;letter-spacing:0px;margin-left:-28.3px;
}
#P391_103
{
left:16895.6px;bottom:13265.8px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P391_104
{
left:6975.58px;bottom:12113.8px;color:rgb(35,31,31);
}
#P391_105
{
left:7152.73px;bottom:12133.5px;color:rgb(35,31,31);
}
#P391_106
{
left:8773.91px;bottom:10558.1px;color:rgb(240,89,40);
}
#P391_107
{
left:12213.8px;bottom:8221.8px;color:rgb(240,89,40);
}
#P391_108
{
left:15846.4px;bottom:12113.8px;color:rgb(35,31,31);
}
#P391_109
{
left:17456.8px;bottom:12133.5px;color:rgb(35,31,31);
}
#P391_110
{
left:21343.2px;bottom:7922.28px;color:rgb(100,94,170);
}
#P391_111
{
left:21271.2px;bottom:10355.9px;color:rgb(100,94,170);
}
#P391_112
{
left:25055.6px;bottom:12113.8px;color:rgb(35,31,31);
}
#P391_113
{
left:27760.7px;bottom:12133.5px;letter-spacing:-9.4px;color:rgb(35,31,31);
}
#P391_114
{
left:6975.51px;bottom:6417.84px;color:rgb(35,31,31);
}
#P391_115
{
left:7152.67px;bottom:6437.55px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P391_116
{
left:8639.58px;bottom:6437.55px;letter-spacing:-17.6px;color:rgb(2,77,161);
}
#P391_117
{
left:0px;letter-spacing:0px;margin-left:17.6px;
}
#P391_118
{
left:14115.2px;bottom:6417.84px;letter-spacing:151.5px;color:rgb(35,31,31);
}
#P391_119
{
left:0px;letter-spacing:-0.3px;margin-left:-151.5px;
}
#P391_120
{
left:19186.3px;bottom:6417.84px;color:rgb(35,31,31);
}
#P391_121
{
left:20239.4px;bottom:6417.84px;color:rgb(35,31,31);
}
#P391_122
{
left:29058.3px;bottom:6417.84px;color:rgb(35,31,31);
}
#P391_123
{
left:29421.5px;bottom:6417.84px;color:rgb(35,31,31);
}
#P391_124
{
left:29579.9px;bottom:6388.27px;color:rgb(35,31,31);
}
#P391_125
{
left:30166.4px;bottom:6417.84px;color:rgb(35,31,31);
}
#P391_126
{
left:30944.3px;bottom:6593.84px;color:rgb(35,31,31);
}
#P391_127
{
left:31418.7px;bottom:6417.84px;color:rgb(35,31,31);
}
#P391_128
{
left:8639.58px;bottom:5521.84px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P391_129
{
left:6975.58px;bottom:4177.84px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P391_130
{
left:8552.67px;bottom:4221.22px;color:rgb(35,31,31);
}
#P391_131
{
left:8889.5px;bottom:4342.35px;color:rgb(35,31,31);
}
#P391_132
{
left:9535.58px;bottom:4177.84px;color:rgb(35,31,31);
}
#P391_133
{
left:10303.6px;bottom:4177.84px;color:rgb(35,31,31);
}
#P391_134
{
left:10666.8px;bottom:4177.84px;color:rgb(35,31,31);
}
#P391_135
{
left:10825.2px;bottom:4148.27px;color:rgb(35,31,31);
}
#P391_136
{
left:11411.7px;bottom:4177.84px;color:rgb(35,31,31);
}
#P391_137
{
left:15848.7px;bottom:4221.22px;color:rgb(35,31,31);
}
#P391_138
{
left:16185.5px;bottom:4342.35px;color:rgb(35,31,31);
}
#P391_139
{
left:16831.6px;bottom:4177.84px;color:rgb(35,31,31);
}
#P391_140
{
left:17599.6px;bottom:4177.84px;color:rgb(35,31,31);
}
#P391_141
{
left:17962.8px;bottom:4177.84px;color:rgb(35,31,31);
}
#P391_142
{
left:18121.2px;bottom:4148.27px;color:rgb(35,31,31);
}
#P391_143
{
left:18707.7px;bottom:4177.84px;color:rgb(35,31,31);
}
#P391_144
{
left:23336.7px;bottom:4221.22px;color:rgb(35,31,31);
}
#P391_145
{
left:23673.5px;bottom:4342.35px;color:rgb(35,31,31);
}
#P391_146
{
left:24319.6px;bottom:4177.84px;color:rgb(35,31,31);
}
#P391_147
{
left:25087.6px;bottom:4177.84px;color:rgb(35,31,31);
}
#P391_148
{
left:25450.8px;bottom:4177.84px;color:rgb(35,31,31);
}
#P391_149
{
left:25609.2px;bottom:4148.27px;color:rgb(35,31,31);
}
#P391_150
{
left:26195.7px;bottom:4177.84px;color:rgb(35,31,31);
}
#P391_151
{
left:30696.7px;bottom:4221.22px;color:rgb(35,31,31);
}
#P391_152
{
left:31033.5px;bottom:4342.35px;color:rgb(35,31,31);
}
#P391_153
{
left:31679.6px;bottom:4177.84px;color:rgb(35,31,31);
}
#P391_154
{
left:32447.6px;bottom:4177.84px;color:rgb(35,31,31);
}
#P391_155
{
left:32810.8px;bottom:4177.84px;color:rgb(35,31,31);
}
#P391_156
{
left:32969.2px;bottom:4148.27px;color:rgb(35,31,31);
}
#P391_157
{
left:33555.7px;bottom:4177.84px;color:rgb(35,31,31);
}
#P391_158
{
left:30941px;bottom:10327.6px;color:rgb(0,145,68);
}
#P391_159
{
left:35733.9px;bottom:11641.5px;color:rgb(0,145,68);
}
#PageContainer391
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg391.jpg");background-repeat:no-repeat;background-size: 890px 1180px; background-position: 97.38px 91.8099999999999px;
}
#ImageContainer391 {bottom:92.19px;left:97.38px;width:889.90px;height:1180.25px;position:absolute;} #TextContainer391 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}