.tr409{ color:transparent;}
#P409_1
{
left:4592.6px;bottom:1417.71px;color:rgb(35,31,31);
}
#P409_2
{
left:29714px;bottom:1417.71px;letter-spacing:1.1px;word-spacing:462.2px;color:rgb(35,31,31);
}
#P409_3
{
left:0px;letter-spacing:0px;margin-left:-463.3px;
}
#P409_4
{
left:0px;letter-spacing:-0.1px;margin-left:-0.1px;
}
#P409_5
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P409_6
{
left:10045.4px;bottom:30300.8px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P409_7
{
left:0px;letter-spacing:0px;margin-left:-13.4px;
}
#P409_8
{
left:0px;letter-spacing:0px;margin-left:-10.5px;
}
#P409_9
{
left:0px;letter-spacing:-14px;margin-left:-28px;
}
#P409_10
{
left:0px;letter-spacing:-0.4px;margin-left:14px;
}
#P409_11
{
left:10222.6px;bottom:29168.4px;color:rgb(35,31,31);
}
#P409_12
{
left:15915.2px;bottom:28082.9px;color:rgb(237,28,35);
}
#P409_13
{
left:12743.2px;bottom:24716.7px;color:rgb(149,144,89);
}
#P409_14
{
left:17234.7px;bottom:29148.8px;color:rgb(35,31,31);
}
#P409_15
{
left:19054.6px;bottom:29168.5px;color:rgb(35,31,31);
}
#P409_16
{
left:23772.9px;bottom:24758.1px;color:rgb(98,93,170);
}
#P409_17
{
left:21661.8px;bottom:24340.5px;color:rgb(98,93,170);
}
#P409_18
{
left:20675.7px;bottom:27742.3px;color:rgb(237,28,35);
}
#P409_19
{
left:25890.7px;bottom:29148.8px;color:rgb(35,31,31);
}
#P409_20
{
left:27886.6px;bottom:29168.5px;color:rgb(35,31,31);
}
#P409_21
{
left:33110.9px;bottom:28586.1px;color:rgb(237,28,35);
}
#P409_22
{
left:30372px;bottom:24655.5px;color:rgb(0,145,68);
}
#P409_23
{
left:8722.71px;bottom:44834.3px;letter-spacing:9.6px;
}
#P409_24
{
left:8722.71px;bottom:44834.3px;letter-spacing:9.6px;color:white;
}
#P409_25
{
left:11026.7px;bottom:44870.1px;letter-spacing:-4px;color:rgb(2,77,161);
}
#P409_26
{
left:0px;letter-spacing:-2.8px;margin-left:4px;
}
#P409_27
{
left:0px;letter-spacing:0px;margin-left:2.8px;
}
#P409_28
{
left:20006.7px;bottom:45061.9px;color:rgb(2,77,161);
}
#P409_29
{
left:20246.9px;bottom:44870.1px;color:rgb(2,77,161);
}
#P409_30
{
left:21974.7px;bottom:44927.5px;color:rgb(2,77,161);
}
#P409_31
{
left:10013.4px;bottom:43271.4px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P409_32
{
left:0px;letter-spacing:0.3px;margin-left:-13.4px;
}
#P409_33
{
left:0px;letter-spacing:0px;margin-left:-10.8px;
}
#P409_34
{
left:15773.4px;bottom:41965.9px;color:rgb(35,31,31);
}
#P409_35
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P409_36
{
left:0px;letter-spacing:0px;margin-left:-214.8px;
}
#P409_37
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P409_38
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P409_39
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P409_40
{
left:15773.4px;bottom:40685.8px;word-spacing:5601.6px;color:rgb(235,26,35);
}
#P409_41
{
left:0px;letter-spacing:0px;margin-left:-4.1px;
}
#P409_42
{
left:18536.7px;bottom:41125.5px;color:rgb(235,26,35);
}
#P409_43
{
left:18872.5px;bottom:40703.4px;color:rgb(235,26,35);
}
#P409_44
{
left:18515.5px;bottom:40669.8px;color:rgb(235,26,35);
}
#P409_45
{
left:18893.6px;bottom:40687.1px;color:rgb(235,26,35);
}
#P409_46
{
left:18536.7px;bottom:40218px;color:rgb(235,26,35);
}
#P409_47
{
left:18872.5px;bottom:40703.4px;color:rgb(235,26,35);
}
#P409_48
{
left:18893.6px;bottom:40685.8px;letter-spacing:-158.4px;color:rgb(235,26,35);
}
#P409_49
{
left:18999.2px;bottom:40247.2px;color:rgb(235,26,35);
}
#P409_50
{
left:19350.9px;bottom:40685.8px;color:rgb(235,26,35);
}
#P409_51
{
left:19988.1px;bottom:40247.2px;color:rgb(235,26,35);
}
#P409_52
{
left:20339.9px;bottom:40685.8px;color:rgb(235,26,35);
}
#P409_53
{
left:21589.5px;bottom:40656.2px;color:rgb(235,26,35);
}
#P409_54
{
left:22175.8px;bottom:40685.8px;color:rgb(235,26,35);
}
#P409_55
{
left:23640.2px;bottom:40685.8px;color:rgb(35,31,31);
}
#P409_56
{
left:24477.4px;bottom:40685.8px;letter-spacing:-3.5px;color:rgb(0,124,196);
}
#P409_57
{
left:26018.6px;bottom:40685.8px;color:rgb(35,31,31);
}
#P409_58
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P409_59
{
left:26198.1px;bottom:41125.5px;color:rgb(0,124,196);
}
#P409_60
{
left:26533.9px;bottom:40703.4px;color:rgb(0,124,196);
}
#P409_61
{
left:26177px;bottom:40669.8px;color:rgb(0,124,196);
}
#P409_62
{
left:26555px;bottom:40687.1px;color:rgb(0,124,196);
}
#P409_63
{
left:26198.1px;bottom:40218px;color:rgb(0,124,196);
}
#P409_64
{
left:26533.9px;bottom:40703.4px;color:rgb(0,124,196);
}
#P409_65
{
left:26555px;bottom:40685.8px;letter-spacing:-158.4px;color:rgb(0,124,196);
}
#P409_66
{
left:26660.6px;bottom:40247.2px;color:rgb(0,124,196);
}
#P409_67
{
left:27012.4px;bottom:40685.8px;color:rgb(0,124,196);
}
#P409_68
{
left:27649.5px;bottom:40247.2px;color:rgb(0,124,196);
}
#P409_69
{
left:28001.3px;bottom:40685.8px;color:rgb(0,124,196);
}
#P409_70
{
left:29064.3px;bottom:40656.2px;color:rgb(0,124,196);
}
#P409_71
{
left:29650.7px;bottom:40685.8px;color:rgb(0,124,196);
}
#P409_72
{
left:16789.4px;bottom:38676.2px;letter-spacing:-2.8px;word-spacing:6620.4px;color:rgb(0,124,196);
}
#P409_73
{
left:18333.4px;bottom:38676.2px;letter-spacing:33.6px;color:rgb(35,31,31);
}
#P409_74
{
left:0px;letter-spacing:0px;margin-left:-192px;
}
#P409_75
{
left:18546.5px;bottom:39115.9px;color:rgb(0,124,196);
}
#P409_76
{
left:18882.3px;bottom:38693.8px;color:rgb(0,124,196);
}
#P409_77
{
left:18525.4px;bottom:38660.2px;color:rgb(0,124,196);
}
#P409_78
{
left:18903.4px;bottom:38677.5px;color:rgb(0,124,196);
}
#P409_79
{
left:18546.5px;bottom:38208.4px;color:rgb(0,124,196);
}
#P409_80
{
left:18882.3px;bottom:38693.8px;color:rgb(0,124,196);
}
#P409_81
{
left:18903.4px;bottom:38676.2px;letter-spacing:-158.4px;color:rgb(0,124,196);
}
#P409_82
{
left:19009px;bottom:38237.6px;color:rgb(0,124,196);
}
#P409_83
{
left:19360.8px;bottom:38676.2px;color:rgb(0,124,196);
}
#P409_84
{
left:19997.9px;bottom:38237.6px;color:rgb(0,124,196);
}
#P409_85
{
left:20349.7px;bottom:38676.2px;color:rgb(0,124,196);
}
#P409_86
{
left:21412.7px;bottom:38646.6px;color:rgb(0,124,196);
}
#P409_87
{
left:21999.1px;bottom:38676.2px;color:rgb(0,124,196);
}
#P409_88
{
left:0px;letter-spacing:0px;margin-left:1415.2px;
}
#P409_89
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P409_90
{
left:26018.6px;bottom:38676.2px;color:rgb(35,31,31);
}
#P409_91
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P409_92
{
left:26198.1px;bottom:39115.9px;color:rgb(0,124,196);
}
#P409_93
{
left:26533.9px;bottom:38693.8px;color:rgb(0,124,196);
}
#P409_94
{
left:26177px;bottom:38660.2px;color:rgb(0,124,196);
}
#P409_95
{
left:26555px;bottom:38677.5px;color:rgb(0,124,196);
}
#P409_96
{
left:26198.1px;bottom:38208.4px;color:rgb(0,124,196);
}
#P409_97
{
left:26533.9px;bottom:38693.8px;color:rgb(0,124,196);
}
#P409_98
{
left:26555px;bottom:38676.2px;letter-spacing:-158.4px;color:rgb(0,124,196);
}
#P409_99
{
left:26660.6px;bottom:38237.6px;color:rgb(0,124,196);
}
#P409_100
{
left:27012.4px;bottom:38676.2px;color:rgb(0,124,196);
}
#P409_101
{
left:27649.5px;bottom:38237.6px;color:rgb(0,124,196);
}
#P409_102
{
left:28001.3px;bottom:38676.2px;color:rgb(0,124,196);
}
#P409_103
{
left:29064.3px;bottom:38646.6px;color:rgb(0,124,196);
}
#P409_104
{
left:29650.7px;bottom:38676.2px;color:rgb(0,124,196);
}
#P409_105
{
left:15773.4px;bottom:36666.6px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P409_106
{
left:0px;letter-spacing:-0.9px;margin-left:0.9px;
}
#P409_107
{
left:10013.4px;bottom:35361.1px;letter-spacing:5601.6px;color:rgb(35,31,31);
}
#P409_108
{
left:17309.4px;bottom:35361.1px;color:rgb(35,31,31);
}
#P409_109
{
left:17684.6px;bottom:35361.1px;color:rgb(35,31,31);
}
#P409_110
{
left:17843px;bottom:35331.5px;color:rgb(35,31,31);
}
#P409_111
{
left:18429.5px;bottom:35361.1px;color:rgb(35,31,31);
}
#P409_112
{
left:18587.9px;bottom:35361px;color:rgb(235,26,35);
}
#P409_113
{
left:19893.8px;bottom:35361px;color:rgb(35,31,31);
}
#P409_114
{
left:20052.1px;bottom:35331.4px;color:rgb(35,31,31);
}
#P409_115
{
left:20638.6px;bottom:35361px;color:rgb(35,31,31);
}
#P409_116
{
left:20797px;bottom:35361px;color:rgb(0,124,196);
}
#P409_117
{
left:21543.2px;bottom:35361px;color:rgb(35,31,31);
}
#P409_118
{
left:21701.6px;bottom:35331.4px;color:rgb(35,31,31);
}
#P409_119
{
left:22288px;bottom:35361px;color:rgb(35,31,31);
}
#P409_120
{
left:22446.4px;bottom:35361px;color:rgb(0,124,196);
}
#P409_121
{
left:23192.7px;bottom:35361px;color:rgb(35,31,31);
}
#P409_122
{
left:23351.1px;bottom:35331.4px;color:rgb(35,31,31);
}
#P409_123
{
left:23937.5px;bottom:35361px;color:rgb(35,31,31);
}
#P409_124
{
left:24095.9px;bottom:35361px;color:rgb(0,124,196);
}
#P409_125
{
left:24842.1px;bottom:35361px;color:rgb(35,31,31);
}
#P409_126
{
left:25000.5px;bottom:35331.4px;color:rgb(35,31,31);
}
#P409_127
{
left:25586.9px;bottom:35361px;color:rgb(35,31,31);
}
#P409_128
{
left:16421.4px;bottom:34234.6px;color:rgb(35,31,31);
}
#P409_129
{
left:17125.4px;bottom:34058.6px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P409_130
{
left:0px;letter-spacing:-2.8px;margin-left:-13.5px;
}
#P409_131
{
left:0px;letter-spacing:-13.8px;margin-left:2.8px;
}
#P409_132
{
left:10051.7px;bottom:40595.2px;color:rgb(237,28,35);
}
#P409_133
{
left:11062px;bottom:35083.5px;color:rgb(0,124,196);
}
#P409_134
{
left:13928.8px;bottom:36230.3px;color:rgb(0,124,196);
}
#P409_135
{
left:33184px;bottom:39075.6px;color:rgb(0,124,196);
}
#P409_136
{
left:34993.2px;bottom:38791px;color:rgb(0,124,196);
}
#P409_137
{
left:34289.3px;bottom:42363.9px;color:rgb(237,28,35);
}
#P409_138
{
left:10045.4px;bottom:9948.78px;letter-spacing:-1.7px;color:rgb(35,31,31);
}
#P409_139
{
left:0px;letter-spacing:0.3px;margin-left:-8.8px;
}
#P409_140
{
left:10222.6px;bottom:8816.49px;color:rgb(35,31,31);
}
#P409_141
{
left:18458.8px;bottom:8318.06px;color:rgb(218,91,107);
}
#P409_142
{
left:18458.8px;bottom:7665.26px;color:rgb(218,91,107);
}
#P409_143
{
left:19029.1px;bottom:8036.27px;color:rgb(216,93,107);
}
#P409_144
{
left:17562.8px;bottom:5811.31px;color:rgb(218,91,107);
}
#P409_145
{
left:17562.8px;bottom:5158.51px;color:rgb(218,91,107);
}
#P409_146
{
left:18133.1px;bottom:5529.64px;color:rgb(216,93,107);
}
#P409_147
{
left:13733px;bottom:5050.54px;color:rgb(218,91,107);
}
#P409_148
{
left:13733px;bottom:4397.74px;color:rgb(218,91,107);
}
#P409_149
{
left:14303.4px;bottom:4768.88px;color:rgb(216,93,107);
}
#P409_150
{
left:19930.2px;bottom:8796.78px;color:rgb(35,31,31);
}
#P409_151
{
left:23086.6px;bottom:8816.49px;color:rgb(35,31,31);
}
#P409_152
{
left:27116.4px;bottom:6834.16px;color:rgb(149,144,89);
}
#P409_153
{
left:27523.5px;bottom:7186.73px;color:rgb(149,144,89);
}
#P409_154
{
left:27523.5px;bottom:6533.93px;color:rgb(149,144,89);
}
#P409_155
{
left:24696.7px;bottom:3364.46px;color:rgb(149,144,89);
}
#P409_156
{
left:24696.7px;bottom:2711.66px;color:rgb(149,144,89);
}
#P409_157
{
left:25241.6px;bottom:3082.73px;color:rgb(147,144,89);
}
#P409_158
{
left:26572.8px;bottom:3833.77px;color:rgb(149,144,89);
}
#P409_159
{
left:26572.8px;bottom:3180.97px;color:rgb(149,144,89);
}
#P409_160
{
left:27117.5px;bottom:3552.04px;color:rgb(147,144,89);
}
#P409_161
{
left:8722.71px;bottom:22242.3px;letter-spacing:9.6px;
}
#P409_162
{
left:8722.71px;bottom:22242.3px;letter-spacing:9.6px;color:white;
}
#P409_163
{
left:11026.7px;bottom:22278px;letter-spacing:-23.7px;color:rgb(2,77,161);
}
#P409_164
{
left:0px;letter-spacing:0px;margin-left:23.7px;
}
#P409_165
{
left:21239.3px;bottom:22469.8px;color:rgb(2,77,161);
}
#P409_166
{
left:21479.4px;bottom:22278px;color:rgb(2,77,161);
}
#P409_167
{
left:23800px;bottom:22335.4px;color:rgb(2,77,161);
}
#P409_168
{
left:10013.4px;bottom:20679.4px;letter-spacing:-1.7px;color:rgb(35,31,31);
}
#P409_169
{
left:0px;letter-spacing:0.3px;margin-left:-8.8px;
}
#P409_170
{
left:10013.4px;bottom:19399.4px;letter-spacing:993.6px;color:rgb(35,31,31);
}
#P409_171
{
left:11613.8px;bottom:19399.4px;color:rgb(35,31,31);
}
#P409_172
{
left:11772.2px;bottom:19369.8px;color:rgb(35,31,31);
}
#P409_173
{
left:12357.1px;bottom:19566.7px;color:rgb(35,31,31);
}
#P409_174
{
left:12929.9px;bottom:19399.4px;color:rgb(35,31,31);
}
#P409_175
{
left:13909.8px;bottom:19399.4px;color:rgb(35,31,31);
}
#P409_176
{
left:17757.4px;bottom:19407.4px;letter-spacing:-1px;color:rgb(0,124,196);
}
#P409_177
{
left:10013.4px;bottom:17735.4px;letter-spacing:1441.6px;color:rgb(35,31,31);
}
#P409_178
{
left:11771.8px;bottom:17705.8px;color:rgb(35,31,31);
}
#P409_179
{
left:12358.2px;bottom:17735.4px;color:rgb(35,31,31);
}
#P409_180
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P409_181
{
left:12537.8px;bottom:18175.1px;color:rgb(35,31,31);
}
#P409_182
{
left:12873.6px;bottom:17753px;color:rgb(35,31,31);
}
#P409_183
{
left:12516.6px;bottom:17719.4px;color:rgb(35,31,31);
}
#P409_184
{
left:12894.7px;bottom:17736.7px;color:rgb(35,31,31);
}
#P409_185
{
left:12537.8px;bottom:17267.6px;color:rgb(35,31,31);
}
#P409_186
{
left:12873.6px;bottom:17753px;color:rgb(35,31,31);
}
#P409_187
{
left:12894.7px;bottom:17735.4px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P409_188
{
left:12894.7px;bottom:17153.7px;color:rgb(35,31,31);
}
#P409_189
{
left:13141.1px;bottom:17469.1px;color:rgb(35,31,31);
}
#P409_190
{
left:13197.4px;bottom:17735.4px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P409_191
{
left:13218.5px;bottom:18175.1px;color:rgb(35,31,31);
}
#P409_192
{
left:13554.3px;bottom:17753px;color:rgb(35,31,31);
}
#P409_193
{
left:13197.4px;bottom:17719.4px;color:rgb(35,31,31);
}
#P409_194
{
left:13575.4px;bottom:17736.7px;color:rgb(35,31,31);
}
#P409_195
{
left:13218.5px;bottom:17267.6px;color:rgb(35,31,31);
}
#P409_196
{
left:13554.3px;bottom:17753px;color:rgb(35,31,31);
}
#P409_197
{
left:13575.4px;bottom:17735.4px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P409_198
{
left:13631.8px;bottom:17153.7px;color:rgb(35,31,31);
}
#P409_199
{
left:13878.1px;bottom:17735.4px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P409_200
{
left:13878.1px;bottom:17146.1px;color:rgb(35,31,31);
}
#P409_201
{
left:14124.5px;bottom:17469.1px;color:rgb(35,31,31);
}
#P409_202
{
left:14180.8px;bottom:17735.4px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P409_203
{
left:14201.9px;bottom:18175.1px;color:rgb(35,31,31);
}
#P409_204
{
left:14537.8px;bottom:17753px;color:rgb(35,31,31);
}
#P409_205
{
left:14180.8px;bottom:17719.4px;color:rgb(35,31,31);
}
#P409_206
{
left:14558.9px;bottom:17736.7px;color:rgb(35,31,31);
}
#P409_207
{
left:14201.9px;bottom:17267.6px;color:rgb(35,31,31);
}
#P409_208
{
left:14537.8px;bottom:17753px;color:rgb(35,31,31);
}
#P409_209
{
left:14558.9px;bottom:17735.4px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P409_210
{
left:14615.2px;bottom:17146.1px;color:rgb(35,31,31);
}
#P409_211
{
left:14861.6px;bottom:17735.4px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P409_212
{
left:17757.4px;bottom:17743.4px;letter-spacing:-0.7px;color:rgb(0,124,196);
}
#P409_213
{
left:0px;letter-spacing:0px;margin-left:-24.1px;
}
#P409_214
{
left:10013.4px;bottom:15725.8px;letter-spacing:1441.6px;color:rgb(35,31,31);
}
#P409_215
{
left:11771.8px;bottom:15696.2px;color:rgb(35,31,31);
}
#P409_216
{
left:12358.2px;bottom:15725.8px;color:rgb(35,31,31);
}
#P409_217
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P409_218
{
left:12537.8px;bottom:16165.5px;color:rgb(35,31,31);
}
#P409_219
{
left:12873.6px;bottom:15743.4px;color:rgb(35,31,31);
}
#P409_220
{
left:12516.6px;bottom:15709.8px;color:rgb(35,31,31);
}
#P409_221
{
left:12894.7px;bottom:15727.1px;color:rgb(35,31,31);
}
#P409_222
{
left:12537.8px;bottom:15258px;color:rgb(35,31,31);
}
#P409_223
{
left:12873.6px;bottom:15743.4px;color:rgb(35,31,31);
}
#P409_224
{
left:12894.7px;bottom:15725.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P409_225
{
left:17757.4px;bottom:15733.8px;color:rgb(0,124,196);
}
#P409_226
{
left:0px;letter-spacing:0px;margin-left:-49.7px;
}
#P409_227
{
left:10597.4px;bottom:13831.4px;color:rgb(35,31,31);
}
#P409_228
{
left:11301.4px;bottom:13655.4px;letter-spacing:-0.3px;word-spacing:0.3px;color:rgb(35,31,31);
}
#P409_229
{
left:15794.6px;bottom:13655.4px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P409_230
{
left:15815.8px;bottom:14095.1px;color:rgb(35,31,31);
}
#P409_231
{
left:16143.4px;bottom:13673px;color:rgb(35,31,31);
}
#P409_232
{
left:15794.6px;bottom:13639.4px;color:rgb(35,31,31);
}
#P409_233
{
left:16155.5px;bottom:13656.7px;color:rgb(35,31,31);
}
#P409_234
{
left:15806.7px;bottom:13187.6px;color:rgb(35,31,31);
}
#P409_235
{
left:16134.4px;bottom:13673px;color:rgb(35,31,31);
}
#P409_236
{
left:16155.5px;bottom:13655.4px;color:rgb(35,31,31);
}
#P409_237
{
left:16155.5px;bottom:13655.4px;color:rgb(35,31,31);
}
#P409_238
{
left:27802.8px;bottom:14497.5px;color:rgb(202,121,73);
}
#P409_239
{
left:27802.8px;bottom:13844.7px;color:rgb(202,121,73);
}
#P409_240
{
left:28373.3px;bottom:14215.8px;color:rgb(204,121,73);
}
#P409_241
{
left:31124.4px;bottom:15310.3px;color:rgb(202,121,73);
}
#P409_242
{
left:31124.4px;bottom:14657.5px;color:rgb(202,121,73);
}
#P409_243
{
left:31694.9px;bottom:15028.7px;color:rgb(204,121,73);
}
#P409_244
{
left:32036.4px;bottom:18246.6px;color:rgb(202,121,73);
}
#P409_245
{
left:32036.4px;bottom:17593.8px;color:rgb(202,121,73);
}
#P409_246
{
left:32606.9px;bottom:17964.8px;color:rgb(204,121,73);
}
#PageContainer409
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg409.jpg");background-repeat:no-repeat;background-size: 1066px 1291px; background-position: 1px -0.349999999999909px;
}
#ImageContainer409 {bottom:73.35px;right:0.00px;width:1066.24px;height:1290.81px;position:absolute;} #TextContainer409 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}