.tr487{ color:transparent;}
#P487_1
{
left:4592.6px;bottom:1544.43px;color:rgb(35,31,31);
}
#P487_2
{
left:22785.3px;bottom:1410.03px;color:rgb(35,31,31);
}
#P487_3
{
left:27696.4px;bottom:1544.43px;letter-spacing:1.8px;word-spacing:461.8px;color:rgb(35,31,31);
}
#P487_4
{
left:0px;letter-spacing:-0.2px;margin-left:3.3px;
}
#P487_5
{
left:0px;letter-spacing:0.3px;margin-left:4.8px;
}
#P487_6
{
left:0px;letter-spacing:0px;margin-left:-462.1px;
}
#P487_7
{
left:0px;letter-spacing:3.4px;margin-left:0.3px;
}
#P487_8
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P487_9
{
left:7784.15px;bottom:36369.2px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P487_10
{
left:14652.4px;bottom:36393.7px;color:white;
}
#P487_11
{
left:17213.3px;bottom:36585.5px;color:white;
}
#P487_12
{
left:17453.5px;bottom:36393.7px;letter-spacing:-1.1px;color:white;
}
#P487_13
{
left:24000.2px;bottom:36585.5px;color:white;
}
#P487_14
{
left:24240.4px;bottom:36393.7px;color:white;
}
#P487_15
{
left:12808.2px;bottom:36226.6px;
}
#P487_16
{
left:12808.2px;bottom:36226.6px;color:white;
}
#P487_17
{
left:15223.4px;bottom:34764.3px;color:rgb(35,31,31);
}
#P487_18
{
left:0px;letter-spacing:0px;margin-left:-12.5px;
}
#P487_19
{
left:0px;letter-spacing:0px;margin-left:-21px;
}
#P487_20
{
left:15223.4px;bottom:33868.3px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P487_21
{
left:13751.4px;bottom:32588.3px;letter-spacing:556.2px;color:rgb(35,31,31);
}
#P487_22
{
left:16154.8px;bottom:30190.1px;color:rgb(35,31,31);
}
#P487_23
{
left:0px;letter-spacing:0px;margin-left:873.5px;
}
#P487_24
{
left:0px;letter-spacing:0px;margin-left:873.5px;
}
#P487_25
{
left:0px;letter-spacing:0px;margin-left:873.5px;
}
#P487_26
{
left:0px;letter-spacing:0px;margin-left:873.5px;
}
#P487_27
{
left:0px;letter-spacing:0px;margin-left:873.5px;
}
#P487_28
{
left:0px;letter-spacing:0px;margin-left:873.5px;
}
#P487_29
{
left:0px;letter-spacing:0px;margin-left:873.5px;
}
#P487_30
{
left:0px;letter-spacing:0px;margin-left:873.5px;
}
#P487_31
{
left:0px;letter-spacing:0px;margin-left:873.5px;
}
#P487_32
{
left:0px;letter-spacing:0px;margin-left:873.5px;
}
#P487_33
{
left:0px;letter-spacing:0px;margin-left:873.5px;
}
#P487_34
{
left:33747.5px;bottom:30929.6px;color:rgb(35,31,31);
}
#P487_35
{
left:13687.4px;bottom:28044.3px;color:rgb(35,31,31);
}
#P487_36
{
left:14267.5px;bottom:28044.3px;color:rgb(35,31,31);
}
#P487_37
{
left:14839.4px;bottom:28044.3px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P487_38
{
left:14839.4px;bottom:26892.3px;letter-spacing:993.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P487_39
{
left:0px;letter-spacing:-0.5px;margin-left:-993.6px;
}
#P487_40
{
left:0px;letter-spacing:-0.1px;margin-left:-13.5px;
}
#P487_41
{
left: 16175.4px;bottom:25356.3px;color:rgb(35,31,31);
}
#P487_42
{
left:0px;letter-spacing:0px;margin-left:1577.6px;
}
#P487_43
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P487_44
{
left:0px;letter-spacing:0px;margin-left:-8.4px;
}
#P487_45
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P487_46
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P487_47
{
left:19266.7px;bottom:25796px;color:rgb(35,31,31);
}
#P487_48
{
left:19602.5px;bottom:25373.9px;color:rgb(35,31,31);
}
#P487_49
{
left:19245.6px;bottom:25340.3px;color:rgb(35,31,31);
}
#P487_50
{
left:19623.6px;bottom:25357.6px;color:rgb(35,31,31);
}
#P487_51
{
left:19266.7px;bottom:24888.5px;color:rgb(35,31,31);
}
#P487_52
{
left:19602.5px;bottom:25373.9px;color:rgb(35,31,31);
}
#P487_53
{
left:19782px;bottom:25356.3px;letter-spacing:-0.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P487_54
{
left:13687.4px;bottom:23692.3px;letter-spacing:-6.9px;color:rgb(35,31,31);
}
#P487_55
{
left:14303.6px;bottom:23692.3px;letter-spacing:377.4px;color:rgb(35,31,31);
}
#P487_56
{
left:14839.4px;bottom:23692.3px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P487_57
{
left:0px;letter-spacing:-2.8px;margin-left:-13px;
}
#P487_58
{
left:0px;letter-spacing:-1.9px;margin-left:2.8px;
}
#P487_59
{
left:0px;letter-spacing:0px;margin-left:1.9px;
}
#P487_60
{
left:0px;letter-spacing:0px;margin-left:-225.1px;
}
#P487_61
{
left:0px;letter-spacing:0px;margin-left:77.1px;
}
#P487_62
{
left:0px;letter-spacing:-0.9px;
}
#P487_63
{
left:0px;letter-spacing:0px;margin-left:-9.6px;
}
#P487_64
{
left:14839.4px;bottom:22796.5px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P487_65
{
left: 14728.4px;bottom:21644.4px;letter-spacing:993.6px;color:rgb(35,31,31);
}
#P487_66
{
left:0px;letter-spacing:0.1px;margin-left:-993.6px;
}
#P487_67
{
left:0px;letter-spacing:0px;margin-left:-42.2px;
}
#P487_68
{
left:13687.4px;bottom:20364.4px;color:rgb(35,31,31);
}
#P487_69
{
left:15423.4px;bottom:20364.3px;letter-spacing:556.2px;color:rgb(35,31,31);
}
#P487_70
{
left:16127.4px;bottom:20364.3px;letter-spacing:-9.2px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P487_71
{
left:0px;letter-spacing:-1.1px;margin-left:9.1px;
}
#P487_72
{
left:0px;letter-spacing:-2.8px;margin-left:-12.9px;
}
#P487_73
{
left:0px;letter-spacing:-2.2px;margin-left:2.8px;
}
#P487_74
{
left:0px;letter-spacing:-0.4px;margin-left:2.1px;
}
#P487_75
{
left:16127.4px;bottom:19468.3px;letter-spacing:-3px;color:rgb(35,31,31);
}
#P487_76
{
left:0px;letter-spacing:0px;margin-left:3px;
}
#P487_77
{
left:19810.1px;bottom:19468.3px;word-spacing:56.3px;color:rgb(35,31,31);
}
#P487_78
{
left:0px;letter-spacing:0px;margin-left:-56.3px;
}
#P487_79
{
left:0px;letter-spacing:-1.2px;
}
#P487_80
{
left:13687.4px;bottom:18060.3px;color:rgb(35,31,31);
}
#P487_81
{
left:14232.3px;bottom:18060.3px;letter-spacing:448.7px;color:rgb(35,31,31);
}
#P487_82
{
left:14839.6px;bottom:18060.3px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P487_83
{
left:0px;letter-spacing:0.1px;margin-left:-12.9px;
}
#P487_84
{
left:0px;letter-spacing:0px;margin-left:-0.1px;
}
#P487_85
{
left:16759.5px;bottom:16908.3px;letter-spacing:0.1px;word-spacing:2913.6px;color:rgb(35,31,31);
}
#P487_86
{
left:0px;letter-spacing:0px;margin-left:-2913.7px;
}
#P487_87
{
left:0px;letter-spacing:0px;margin-left:-6.9px;
}
#P487_88
{
left:22885px;bottom:16878.8px;color:rgb(35,31,31);
}
#P487_89
{
left:23471.4px;bottom:16908.3px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P487_90
{
left:27997.3px;bottom:16878.8px;color:rgb(35,31,31);
}
#P487_91
{
left:28583.8px;bottom:16908.3px;color:rgb(35,31,31);
}
#P487_92
{
left:29171.6px;bottom:16908.3px;word-spacing:56.3px;color:rgb(35,31,31);
}
#P487_93
{
left:0px;letter-spacing:0px;margin-left:-56.3px;
}
#P487_94
{
left:0px;letter-spacing:0px;margin-left:5.4px;
}
#P487_95
{
left:13687.4px;bottom:15756.3px;color:rgb(35,31,31);
}
#P487_96
{
left:22903.4px;bottom:15726.8px;color:rgb(35,31,31);
}
#P487_97
{
left:23489.9px;bottom:15756.3px;color:rgb(35,31,31);
}
#P487_98
{
left:24552.9px;bottom:15726.8px;color:rgb(35,31,31);
}
#P487_99
{
left:25139.4px;bottom:15756.3px;color:rgb(35,31,31);
}
#P487_100
{
left:26202.3px;bottom:15726.8px;color:rgb(35,31,31);
}
#P487_101
{
left:26788.8px;bottom:15756.3px;color:rgb(35,31,31);
}
#P487_102
{
left:13687.4px;bottom:14412.2px;color:rgb(35,31,31);
}
#P487_103
{
left:15423.4px;bottom:14412.3px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P487_104
{
left:0px;letter-spacing:-9.3px;margin-left:-554px;
}
#P487_105
{
left:0px;letter-spacing:-0.9px;margin-left:9.3px;
}
#P487_106
{
left:0px;letter-spacing:-0.9px;margin-left:0.9px;
}
#P487_107
{
left:0px;letter-spacing:0px;margin-left:-16.7px;
}
#P487_108
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P487_109
{
left:13879.4px;bottom:11148.3px;color:rgb(35,31,31);
}
#P487_110
{
left:14343px;bottom:11175.1px;word-spacing:453.2px;color:rgb(35,31,31);
}
#P487_111
{
left:15543.4px;bottom:11148.3px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P487_112
{
left:0px;letter-spacing:0px;margin-left:-20.5px;
}
#P487_113
{
left:0px;letter-spacing:-0.1px;
}
#P487_114
{
left:15543.4px;bottom:10252.3px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P487_115
{
left:0px;letter-spacing:0px;margin-left:-41.9px;
}
#P487_116
{
left:0px;letter-spacing:-0.3px;
}
#P487_117
{
left:0px;letter-spacing:0px;margin-left:-13.6px;
}
#P487_118
{
left:15543.4px;bottom:9356.4px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P487_119
{
left:0px;letter-spacing:-0.8px;margin-left:0.4px;
}
#P487_120
{
left:0px;letter-spacing:0px;margin-left:-13.1px;
}
#P487_121
{
left:15543.4px;bottom:8460.4px;letter-spacing:-2.7px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P487_122
{
left:0px;letter-spacing:-3.1px;margin-left:158px;
}
#P487_123
{
left:0px;letter-spacing:-0.3px;margin-left:3px;
}
#P487_124
{
left:0px;letter-spacing:-0.1px;margin-left:-13.6px;
}
#P487_125
{
left:15543.4px;bottom:7564.4px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P487_126
{
left:13103.4px;bottom:46716.8px;color:rgb(35,31,31);
}
#P487_127
{
left:0px;letter-spacing:0px;margin-left:-214.7px;
}
#P487_128
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P487_129
{
left:0px;letter-spacing:-2.8px;
}
#P487_130
{
left:0px;letter-spacing:0px;margin-left:-18.2px;
}
#P487_131
{
left:0px;letter-spacing:0px;margin-left:-20.9px;
}
#P487_132
{
left:0px;letter-spacing:-0.4px;
}
#P487_133
{
left:0px;letter-spacing:0px;margin-left:-12.2px;
}
#P487_134
{
left:21644.2px;bottom:39493.4px;color:rgb(237,28,35);
}
#P487_135
{
left:21174.7px;bottom:38879px;color:rgb(237,28,35);
}
#P487_136
{
left:29430px;bottom:39493.4px;color:rgb(237,28,35);
}
#P487_137
{
left:29074.1px;bottom:38879px;color:rgb(237,28,35);
}
#P487_138
{
left:29475.2px;bottom:44621.7px;color:rgb(0,124,196);
}
#P487_139
{
left:29475.2px;bottom:43629.9px;color:rgb(0,124,196);
}
#P487_140
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P487_141
{
left:0px;letter-spacing:0px;margin-left:-61.2px;
}
#P487_142
{
left:31243.3px;bottom:44961px;color:rgb(0,124,196);
}
#P487_143
{
left:31243.3px;bottom:44308.2px;color:rgb(0,124,196);
}
#P487_144
{
left:16504.5px;bottom:44621.7px;color:rgb(0,124,196);
}
#P487_145
{
left:16504.5px;bottom:43629.9px;color:rgb(0,124,196);
}
#P487_146
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P487_147
{
left:0px;letter-spacing:0px;margin-left:-61.2px;
}
#P487_148
{
left:18272.6px;bottom:44961px;color:rgb(0,124,196);
}
#P487_149
{
left:18272.6px;bottom:44308.2px;color:rgb(0,124,196);
}
#P487_150
{
left:23011.2px;bottom:44621.7px;color:rgb(0,124,196);
}
#P487_151
{
left:23011.2px;bottom:43629.9px;color:rgb(0,124,196);
}
#P487_152
{
left:24779.3px;bottom:44961px;color:rgb(0,124,196);
}
#P487_153
{
left:24779.3px;bottom:44308.2px;color:rgb(0,124,196);
}
#P487_154
{
left:4818.71px;bottom:42977.6px;color:white;
}
#P487_155
{
left:8174.36px;bottom:43219.3px;color:white;
}
#P487_156
{
left:8510.23px;bottom:42977.6px;color:white;
}
#P487_157
{
left:5053.4px;bottom:41874.7px;color:rgb(35,31,31);
}
#P487_158
{
left:5053.4px;bottom:41106.7px;color:rgb(35,31,31);
}
#P487_159
{
left:5053.4px;bottom:40338.7px;letter-spacing:-3.3px;color:rgb(35,31,31);
}
#P487_160
{
left:0px;letter-spacing:-1px;margin-left:3.3px;
}
#P487_161
{
left:16767.1px;bottom:3993.2px;color:rgb(35,31,31);
}
#P487_162
{
left:0px;letter-spacing:0px;margin-left:2701.8px;
}
#P487_163
{
left:18331.7px;bottom:3993.2px;color:rgb(35,31,31);
}
#P487_164
{
left:0px;letter-spacing:0px;margin-left:2559.5px;
}
#P487_165
{
left:0px;letter-spacing:0px;margin-left:2559.5px;
}
#P487_166
{
left:0px;letter-spacing:0px;margin-left:2559.5px;
}
#P487_167
{
left:0px;letter-spacing:0px;margin-left:2559.5px;
}
#P487_168
{
left:23452.2px;bottom:3993.2px;color:rgb(35,31,31);
}
#P487_169
{
left:0px;letter-spacing:0px;margin-left:2559.5px;
}
#P487_170
{
left:0px;letter-spacing:0px;margin-left:2559.5px;
}
#P487_171
{
left:34385px;bottom:4991.85px;color:rgb(35,31,31);
}
#P487_172
{
left:34541.2px;bottom:4377.45px;color:rgb(35,31,31);
}
#P487_173
{
left:7947.74px;bottom:10259.1px;color:rgb(35,31,31);
}
#P487_174
{
left:7947.74px;bottom:9491.05px;color:rgb(35,31,31);
}
#PageContainer487
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg487.jpg");background-repeat:no-repeat;background-size: 889px 1170px; background-position: 120.34px 113.76px;
}
#ImageContainer487 {bottom:80.24px;left:120.34px;width:888.91px;height:1169.92px;position:absolute;} #TextContainer487 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.example2{       position: absolute;       top: 343px;       left: 157px;
}
.nyr{position: absolute;top: 1038px;left: 188px;}
.nyr_exr{position: absolute;top: 1078px;left: 208px;color:rgb(35,31,31);font-size:16px;white-space:pre;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}