.tr439{ color:transparent;}
#P439_1
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P439_2
{
left:23253.8px;bottom:1410.03px;letter-spacing:3.6px;word-spacing:-1.2px;color:rgb(35,31,31);
}
#P439_3
{
left:27846.6px;bottom:1410.03px;letter-spacing:2.6px;word-spacing:462.3px;color:rgb(35,31,31);
}
#P439_4
{
left:0px;letter-spacing:0px;margin-left:175.1px;
}
#P439_5
{
left:0px;letter-spacing:-0.3px;margin-left:-0.3px;
}
#P439_6
{
left:0px;letter-spacing:0px;margin-left:-462.1px;
}
#P439_7
{
left:0px;letter-spacing:0.4px;margin-left:-23px;
}
#P439_8
{
left:0px;letter-spacing:-0.2px;margin-left:-4px;
}
#P439_9
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P439_10
{
left:10453.5px;bottom:10815.3px;color:rgb(35,31,31);
}
#P439_11
{
left:10911.9px;bottom:10842.2px;word-spacing:394.4px;color:rgb(35,31,31);
}
#P439_12
{
left:12053.5px;bottom:10835.1px;word-spacing:-26px;color:rgb(2,77,161);
}
#P439_13
{
left:0px;letter-spacing:0px;margin-left:-26px;
}
#P439_14
{
left:0px;letter-spacing:0px;margin-left:26px;
}
#P439_15
{
left:18861.4px;bottom:10815.3px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P439_16
{
left:0px;letter-spacing:-7px;margin-left:-214.6px;
}
#P439_17
{
left:0px;letter-spacing:-0.5px;margin-left:7px;
}
#P439_18
{
left:0px;letter-spacing:0px;margin-left:0.5px;
}
#P439_19
{
left:10453.5px;bottom:9471.34px;color:rgb(35,31,31);
}
#P439_20
{
left:10911.9px;bottom:9498.16px;word-spacing:394.4px;color:rgb(35,31,31);
}
#P439_21
{
left:12053.5px;bottom:9471.34px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P439_22
{
left:0px;letter-spacing:0.1px;margin-left:0.5px;
}
#P439_23
{
left:12053.5px;bottom:8575.34px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P439_24
{
left:11517.4px;bottom:43218.1px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P439_25
{
left:0px;letter-spacing:0.4px;margin-left:14.1px;
}
#P439_26
{
left:0px;letter-spacing:-14px;margin-left:-42.5px;
}
#P439_27
{
left:0px;letter-spacing:-0.2px;margin-left:14px;
}
#P439_28
{
left:0px;letter-spacing:-14px;margin-left:-27.8px;
}
#P439_29
{
left:0px;letter-spacing:0px;margin-left:14px;
}
#P439_30
{
left:11517.4px;bottom:42322.1px;color:rgb(35,31,31);
}
#P439_31
{
left:11645.4px;bottom:41170.1px;letter-spacing:-14px;word-spacing:516.1px;color:rgb(35,31,31);
}
#P439_32
{
left:12861.4px;bottom:41170.1px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P439_33
{
left:0px;letter-spacing:-3.5px;margin-left:-13.4px;
}
#P439_34
{
left:0px;letter-spacing:-0.4px;margin-left:3.5px;
}
#P439_35
{
left:0px;letter-spacing:0px;margin-left:0.4px;
}
#P439_36
{
left:12861.4px;bottom:40274.1px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P439_37
{
left:11645.4px;bottom:39186.1px;letter-spacing:-6.9px;color:rgb(35,31,31);
}
#P439_38
{
left:12261.6px;bottom:39186.1px;letter-spacing:441.4px;color:rgb(35,31,31);
}
#P439_39
{
left:0px;letter-spacing:0px;margin-left:-599.8px;
}
#P439_40
{
left:0px;letter-spacing:-7px;margin-left:-21px;
}
#P439_41
{
left:0px;letter-spacing:0px;margin-left:7px;
}
#P439_42
{
left:12861.4px;bottom:38290.1px;letter-spacing:-1.6px;color:rgb(35,31,31);
}
#P439_43
{
left:0px;letter-spacing:0px;margin-left:1.6px;
}
#P439_44
{
left:11645.4px;bottom:37202.1px;color:rgb(35,31,31);
}
#P439_45
{
left:12190.3px;bottom:37202.1px;letter-spacing:512.7px;color:rgb(35,31,31);
}
#P439_46
{
left:0px;letter-spacing:0px;margin-left:-671.1px;
}
#P439_47
{
left:0px;letter-spacing:-10.5px;margin-left:-21px;
}
#P439_48
{
left:0px;letter-spacing:-0.2px;margin-left:10.5px;
}
#P439_49
{
left:12861.4px;bottom:36306.1px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P439_50
{
left:12438.3px;bottom:44853px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P439_51
{
left:15863.4px;bottom:45044.8px;color:rgb(255,223,126);
}
#P439_52
{
left:16456.3px;bottom:44853px;word-spacing:175.5px;color:white;
}
#P439_53
{
left:18008px;bottom:45044.8px;color:white;
}
#P439_54
{
left:18248.2px;bottom:44853px;color:white;
}
#P439_55
{
left:0px;letter-spacing:0px;margin-left:-31.8px;
}
#P439_56
{
left:0px;letter-spacing:0px;margin-left:-47.5px;
}
#P439_57
{
left:10697.8px;bottom:44729.5px;
}
#P439_58
{
left:10697.8px;bottom:44729.5px;color:white;
}
#P439_59
{
left:11517.4px;bottom:31250.1px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P439_60
{
left:0px;letter-spacing:0.4px;margin-left:14.1px;
}
#P439_61
{
left:0px;letter-spacing:-14px;margin-left:-42.5px;
}
#P439_62
{
left:0px;letter-spacing:0px;margin-left:-7px;
}
#P439_63
{
left:0px;letter-spacing:-0.3px;
}
#P439_64
{
left:11517.4px;bottom:30354.1px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P439_65
{
left:0px;letter-spacing:0px;margin-left:-27.9px;
}
#P439_66
{
left:0px;letter-spacing:-0.7px;
}
#P439_67
{
left:11645.4px;bottom:29202.1px;letter-spacing:-14px;word-spacing:516.1px;color:rgb(35,31,31);
}
#P439_68
{
left:14176.7px;bottom:26506.4px;color:rgb(35,31,31);
}
#P439_69
{
left:0px;letter-spacing:0px;margin-left:1777.2px;
}
#P439_70
{
left:0px;letter-spacing:0px;margin-left:1777.2px;
}
#P439_71
{
left:0px;letter-spacing:0px;margin-left:1777.2px;
}
#P439_72
{
left:0px;letter-spacing:0px;margin-left:1777.2px;
}
#P439_73
{
left:0px;letter-spacing:0px;margin-left:1777.2px;
}
#P439_74
{
left:0px;letter-spacing:0px;margin-left:1777.2px;
}
#P439_75
{
left:11638.3px;bottom:24978.1px;letter-spacing:-13.9px;word-spacing:-13px;color:rgb(35,31,31);
}
#P439_76
{
left:14176.7px;bottom:23401.2px;color:rgb(35,31,31);
}
#P439_77
{
left:0px;letter-spacing:0px;margin-left:1777.2px;
}
#P439_78
{
left:0px;letter-spacing:0px;margin-left:1777.2px;
}
#P439_79
{
left:0px;letter-spacing:0px;margin-left:1777.2px;
}
#P439_80
{
left:0px;letter-spacing:0px;margin-left:1777.2px;
}
#P439_81
{
left:0px;letter-spacing:0px;margin-left:1777.2px;
}
#P439_82
{
left:0px;letter-spacing:0px;margin-left:1777.2px;
}
#P439_83
{
left:11645.4px;bottom:21906.1px;word-spacing:-19.9px;color:rgb(35,31,31);
}
#P439_84
{
left:14176.7px;bottom:19245.7px;color:rgb(35,31,31);
}
#P439_85
{
left:0px;letter-spacing:0px;margin-left:1777.2px;
}
#P439_86
{
left:0px;letter-spacing:0px;margin-left:1777.2px;
}
#P439_87
{
left:0px;letter-spacing:0px;margin-left:1777.2px;
}
#P439_88
{
left:0px;letter-spacing:0px;margin-left:1777.2px;
}
#P439_89
{
left:0px;letter-spacing:0px;margin-left:1777.2px;
}
#P439_90
{
left:0px;letter-spacing:0px;margin-left:1777.2px;
}
#P439_91
{
left:11636px;bottom:17682.1px;letter-spacing:-9.3px;word-spacing:-19.9px;color:rgb(35,31,31);
}
#P439_92
{
left:14176.7px;bottom:16113.5px;color:rgb(35,31,31);
}
#P439_93
{
left:0px;letter-spacing:0px;margin-left:1777.2px;
}
#P439_94
{
left:0px;letter-spacing:0px;margin-left:1777.2px;
}
#P439_95
{
left:0px;letter-spacing:0px;margin-left:1777.2px;
}
#P439_96
{
left:0px;letter-spacing:0px;margin-left:1777.2px;
}
#P439_97
{
left:0px;letter-spacing:0px;margin-left:1777.2px;
}
#P439_98
{
left:0px;letter-spacing:0px;margin-left:1777.2px;
}
#P439_99
{
left:12438.3px;bottom:32885px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P439_100
{
left:15863.4px;bottom:33076.8px;color:rgb(255,223,126);
}
#P439_101
{
left:16456.3px;bottom:32885px;word-spacing:175.5px;color:white;
}
#P439_102
{
left:19017.1px;bottom:33076.8px;color:white;
}
#P439_103
{
left:19257.3px;bottom:32885px;color:white;
}
#P439_104
{
left:10697.8px;bottom:32761.5px;
}
#P439_105
{
left:10697.8px;bottom:32761.5px;color:white;
}
#P439_106
{
left:14845.4px;bottom:4371.56px;letter-spacing:228.8px;color:rgb(0,124,196);
}
#P439_107
{
left:15261.4px;bottom:4403.56px;letter-spacing:-9.3px;color:rgb(35,31,31);
}
#P439_108
{
left:0px;letter-spacing:0px;margin-left:9.3px;
}
#P439_109
{
left:0px;letter-spacing:0px;margin-left:-13.9px;
}
#P439_110
{
left:15261.4px;bottom:3507.58px;color:rgb(35,31,31);
}
#P439_111
{
left:5037.34px;bottom:25082.3px;color:rgb(35,31,31);
}
#P439_112
{
left:5037.34px;bottom:24215.5px;color:rgb(35,31,31);
}
#P439_113
{
left:5037.34px;bottom:23479.5px;color:rgb(35,31,31);
}
#P439_114
{
left:5037.34px;bottom:22743.5px;color:rgb(35,31,31);
}
#P439_115
{
left:5037.34px;bottom:22007.6px;color:rgb(35,31,31);
}
#P439_116
{
left:5037.34px;bottom:21271.7px;color:rgb(35,31,31);
}
#P439_117
{
left:4914.71px;bottom:26978.1px;letter-spacing:-20.4px;color:white;
}
#P439_118
{
left:4914.71px;bottom:26018px;letter-spacing:-27.2px;color:white;
}
#P439_119
{
left:6893.79px;bottom:26274.8px;color:white;
}
#P439_120
{
left:7169.05px;bottom:26018px;letter-spacing:-27.2px;color:white;
}
#PageContainer439
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg439.jpg");background-repeat:no-repeat;background-size: 1021px 1274px; background-position: 0px 0.279999999999973px;
}
#ImageContainer439 {bottom:89.72px;left:0.00px;width:1020.57px;height:1274.44px;position:absolute;} #TextContainer439 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.math_paper{position:absolute; top: 429px; left: 163px;}
.practice{position:absolute; top: 1215px; left: 258px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}