.tr121{ color:transparent;}
#P121_1
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P121_2
{
left:24549.3px;bottom:1410.03px;color:rgb(35,31,31);
}
#P121_3
{
left:27821.6px;bottom:1410.03px;letter-spacing:462.1px;color:rgb(35,31,31);
}
#P121_4
{
left:0px;letter-spacing:1px;margin-left:-462.4px;
}
#P121_5
{
left:0px;letter-spacing:1px;margin-left:0.4px;
}
#P121_6
{
left:36142px;bottom:1410.03px;color:rgb(35,31,31);
}
#P121_7
{
left:14589.4px;bottom:44440.7px;color:rgb(35,31,31);
}
#P121_8
{
left:15059px;bottom:44597px;color:rgb(35,31,31);
}
#P121_9
{
left:15254.7px;bottom:44440.7px;color:rgb(35,31,31);
}
#P121_10
{
left:15620.1px;bottom:44597px;color:rgb(35,31,31);
}
#P121_11
{
left:15815.8px;bottom:44440.7px;color:rgb(35,31,31);
}
#P121_12
{
left:16219.9px;bottom:44597px;color:rgb(35,31,31);
}
#P121_13
{
left:16415.6px;bottom:44440.7px;color:rgb(35,31,31);
}
#P121_14
{
left:18554.3px;bottom:44597px;color:rgb(35,31,31);
}
#P121_15
{
left:18750px;bottom:44440.7px;color:rgb(35,31,31);
}
#P121_16
{
left:22506.6px;bottom:44597px;color:rgb(35,31,31);
}
#P121_17
{
left:22702.3px;bottom:44440.7px;color:rgb(35,31,31);
}
#P121_18
{
left:14589.4px;bottom:43374.1px;letter-spacing:-5.4px;color:rgb(2,77,161);
}
#P121_19
{
left: 17251.9px;bottom:43333px;color:rgb(35,31,31);
}
#P121_20
{
left:0px;letter-spacing:0px;margin-left:545.6px;
}
#P121_21
{
left:0px;letter-spacing:0px;
margin-left: 0;
}
#P121_22
{
left:0px;letter-spacing:0px;margin-left:-25.3px;
}
#P121_23
{
left:23635px;bottom:43333px;color:rgb(35,31,31);
}
#P121_24
{
left:24878.2px;bottom:43333px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P121_25
{
left:0px;letter-spacing:-4.2px;margin-left:1.2px;
}
#P121_26
{
left:0px;letter-spacing:0px;
}
#P121_27
{
left:17265.9px;bottom:42437px;color:rgb(35,31,31);
}
#P121_28
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P121_29
{
left:0px;letter-spacing:0px;margin-left:-25.3px;
}
#P121_30
{
left:17265.9px;bottom:41541.1px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P121_31
{
left:17265.9px;bottom:40645.1px;letter-spacing:-2.2px;color:rgb(35,31,31);
}
#P121_32
{
left:0px;letter-spacing:-0.6px;margin-left:2.2px;
}
#P121_33
{
left:0px;letter-spacing:0px;margin-left:-13.3px;
}
#P121_34
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P121_35
{
left:27479px;bottom:38605px;word-spacing:12738.4px;color:rgb(35,31,31);
}
#P121_36
{
left:14589.4px;bottom:37742.1px;color:rgb(2,77,161);
}
#P121_37
{
left:18045.4px;bottom:37709px;word-spacing:466.7px;color:rgb(35,31,31);
}
#P121_38
{
left:19019.8px;bottom:37701px;color:rgb(35,31,31);
}
#P121_39
{
left:19019.8px;bottom:37819.7px;color:rgb(35,31,31);
}
#P121_40
{
left:19176.1px;bottom:37664.6px;color:rgb(35,31,31);
}
#P121_41
{
left:19052.9px;bottom:37812.4px;color:rgb(35,31,31);
}
#P121_42
{
left:20609px;bottom:37712.6px;color:rgb(35,31,31);
}
#P121_43
{
left:19313.2px;bottom:37709px;word-spacing:-67.2px;color:rgb(35,31,31);
}
#P121_44
{
left:20609px;bottom:37701px;color:rgb(35,31,31);
}
#P121_45
{
left:26045.4px;bottom:37709px;word-spacing:5285.1px;color:rgb(35,31,31);
}
#P121_46
{
left:26841.8px;bottom:37701px;color:rgb(35,31,31);
}
#P121_47
{
left:26841.8px;bottom:37819.7px;color:rgb(35,31,31);
}
#P121_48
{
left:26998px;bottom:37664.6px;color:rgb(35,31,31);
}
#P121_49
{
left:26874.8px;bottom:37812.4px;color:rgb(35,31,31);
}
#P121_50
{
left:28431px;bottom:37712.6px;color:rgb(35,31,31);
}
#P121_51
{
left:27135.2px;bottom:37709px;word-spacing:-67.2px;color:rgb(35,31,31);
}
#P121_52
{
left:28431px;bottom:37701px;color:rgb(35,31,31);
}
#P121_53
{
left:29936.6px;bottom:38928px;color:rgb(0,124,196);
}
#P121_54
{
left:29936.6px;bottom:38032px;color:rgb(0,124,196);
}
#P121_55
{
left:29936.6px;bottom:37136.2px;color:rgb(0,124,196);
}
#P121_56
{
left:18410.2px;bottom:34816.9px;color:rgb(0,124,196);
}
#P121_57
{
left:4818.71px;bottom:24435.1px;color:white;
}
#P121_58
{
left:8174.36px;bottom:24676.8px;color:white;
}
#P121_59
{
left:8510.23px;bottom:24435.1px;color:white;
}
#P121_60
{
left:5053.4px;bottom:23332.2px;letter-spacing:-6.1px;color:rgb(35,31,31);
}
#P121_61
{
left:5053.4px;bottom:22564.2px;letter-spacing:-6.1px;color:rgb(35,31,31);
}
#P121_62
{
left:5053.4px;bottom:21796.2px;letter-spacing:-6.1px;color:rgb(35,31,31);
}
#P121_63
{
left:5053.4px;bottom:21028.2px;letter-spacing:-6.4px;color:rgb(35,31,31);
}
#P121_64
{
left:5053.4px;bottom:20004.2px;color:rgb(35,31,31);
}
#P121_65
{
left:5821.4px;bottom:19108.2px;word-spacing:590.1px;color:rgb(35,31,31);
}
#P121_66
{
left:7244.76px;bottom:19059.6px;color:rgb(35,31,31);
}
#P121_67
{
left:7777.88px;bottom:19108.2px;color:rgb(35,31,31);
}
#P121_68
{
left:9023.32px;bottom:19059.6px;color:rgb(35,31,31);
}
#P121_69
{
left:9556.44px;bottom:19108.2px;color:rgb(35,31,31);
}
#P121_70
{
left:5821.4px;bottom:18212.2px;word-spacing:590.1px;color:rgb(35,31,31);
}
#P121_71
{
left:7066.84px;bottom:18163.6px;color:rgb(35,31,31);
}
#P121_72
{
left:7599.96px;bottom:18212.2px;color:rgb(35,31,31);
}
#P121_73
{
left:8667.48px;bottom:18163.6px;color:rgb(35,31,31);
}
#P121_74
{
left:9200.6px;bottom:18212.2px;color:rgb(35,31,31);
}
#P121_75
{
left:5821.4px;bottom:17316.2px;word-spacing:590.1px;color:rgb(35,31,31);
}
#P121_76
{
left:7422.68px;bottom:17267.6px;color:rgb(35,31,31);
}
#P121_77
{
left:7955.8px;bottom:17316.2px;color:rgb(35,31,31);
}
#P121_78
{
left:9379.16px;bottom:17267.6px;color:rgb(35,31,31);
}
#P121_79
{
left:9912.28px;bottom:17316.2px;color:rgb(35,31,31);
}
#P121_80
{
left:7801.11px;bottom:29265.9px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P121_81
{
left:14669.4px;bottom:29290.5px;color:white;
}
#P121_82
{
left:15245.7px;bottom:29482.3px;color:white;
}
#P121_83
{
left:15485.8px;bottom:29290.5px;color:white;
}
#P121_84
{
left:15934.3px;bottom:29482.3px;color:white;
}
#P121_85
{
left:16174.5px;bottom:29290.5px;color:white;
}
#P121_86
{
left:16670.4px;bottom:29482.3px;color:white;
}
#P121_87
{
left:16910.6px;bottom:29290.5px;color:white;
}
#P121_88
{
left:19535.4px;bottom:29482.3px;color:white;
}
#P121_89
{
left:19775.6px;bottom:29290.5px;color:white;
}
#P121_90
{
left:12825px;bottom:29123.3px;
}
#P121_91
{
left:12825px;bottom:29123.3px;color:white;
}
#P121_92
{
left:13704.4px;bottom:27498.4px;word-spacing:452.1px;color:rgb(35,31,31);
}
#P121_92a
{
left:14704.4px;bottom:27498.4px;word-spacing:452.1px;color:rgb(35,31,31);
}
#P121_93
{
left:0px;letter-spacing:0px;
margin-left: 0;
}
#P121_94
{
left:0px;letter-spacing:0px;margin-left:-15.5px;
}
#P121_95
{
left:0px;letter-spacing:0px;margin-left:-452.1px;
}
#P121_96
{
left:18031.4px;bottom:27468.8px;color:rgb(35,31,31);
}
#P121_97
{
left:18617.8px;bottom:27498.4px;color:rgb(35,31,31);
}
#P121_98
{
left:26568.5px;bottom:25450.4px;word-spacing:12513.6px;color:rgb(35,31,31);
}
#P121_99
{
left:16328.4px;bottom:24554.4px;word-spacing:2273.6px;color:rgb(35,31,31);
}
#P121_100
{
left:17349.2px;bottom:24671.9px;color:rgb(35,31,31);
}
#P121_101
{
left:17505.5px;bottom:24510.3px;color:rgb(35,31,31);
}
#P121_102
{
left:17382.3px;bottom:24664.5px;color:rgb(35,31,31);
}
#P121_103
{
left:18931.1px;bottom:24566px;color:rgb(35,31,31);
}
#P121_104
{
left:17575.9px;bottom:24554.4px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P121_105
{
left:0px;letter-spacing:0px;margin-left:6190.7px;
}
#P121_106
{
left:25994.6px;bottom:24671.9px;color:rgb(35,31,31);
}
#P121_107
{
left:26150.9px;bottom:24510.3px;color:rgb(35,31,31);
}
#P121_108
{
left:26027.7px;bottom:24664.5px;color:rgb(35,31,31);
}
#P121_109
{
left:27576.5px;bottom:24566px;color:rgb(35,31,31);
}
#P121_110
{
left:26221.3px;bottom:24554.4px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P121_111
{
left:13896.4px;bottom:23658.4px;letter-spacing:11457.6px;color:rgb(35,31,31);
}
#P121_112
{
left:25670.8px;bottom:23628.8px;color:rgb(35,31,31);
}
#P121_113
{
left:26257.2px;bottom:23658.4px;color:rgb(35,31,31);
}
#P121_114
{
left:26654.2px;bottom:22762.5px;word-spacing:12599.3px;color:rgb(35,31,31);
}
#P121_115
{
left:13896.4px;bottom:21866.6px;letter-spacing:11854.5px;color:rgb(35,31,31);
}
#P121_116
{
left:26067.7px;bottom:21837px;color:rgb(35,31,31);
}
#P121_117
{
left:26654.2px;bottom:21866.6px;color:rgb(35,31,31);
}
#P121_118
{
left:13896.4px;bottom:20970.6px;letter-spacing:12972.5px;color:rgb(35,31,31);
}
#P121_119
{
left:13896.4px;bottom:19306.7px;color:rgb(35,31,31);
}
#P121_120
{
left:16208.4px;bottom:19306.4px;word-spacing:545.6px;color:rgb(35,31,31);
}
#P121_121
{
left:0px;letter-spacing:0px;margin-left:-8.4px;
}
#P121_122
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P121_123
{
left:0px;letter-spacing:0px;margin-left:-545.6px;
}
#P121_124
{
left:18768.3px;bottom:19276.8px;color:rgb(35,31,31);
}
#P121_125
{
left:19354.7px;bottom:19306.4px;color:rgb(35,31,31);
}
#P121_126
{
left:20604.3px;bottom:19276.8px;color:rgb(35,31,31);
}
#P121_127
{
left:21190.7px;bottom:19306.4px;color:rgb(35,31,31);
}
#P121_128
{
left:25224.4px;bottom:19306.4px;color:rgb(235,26,35);
}
#P121_129
{
left:27276.5px;bottom:19306.4px;color:rgb(35,31,31);
}
#P121_130
{
left:27628.5px;bottom:19306.4px;color:rgb(0,124,196);
}
#P121_131
{
left:28564.8px;bottom:19276.8px;color:rgb(0,124,196);
}
#P121_132
{
left:29151.3px;bottom:19306.4px;color:rgb(0,124,196);
}
#P121_133
{
left:30432.5px;bottom:19276.8px;color:rgb(0,124,196);
}
#P121_134
{
left:31019px;bottom:19306.4px;color:rgb(0,124,196);
}
#P121_135
{
left:32546.6px;bottom:19306.4px;color:rgb(35,31,31);
}
#P121_136
{
left:33250.6px;bottom:19395.4px;color:rgb(235,26,35);
}
#P121_137
{
left:13808.6px;bottom:17194.4px;letter-spacing:-11.6px;word-spacing:544px;color:rgb(35,31,31);
}
#P121_137a
{
left:14808.6px;bottom:17194.4px;letter-spacing:-11.6px;word-spacing:544px;color:rgb(35,31,31);
}
#P121_138
{
left:0px;letter-spacing:0px;
margin-left: 0;
}
#P121_139
{
left:0px;letter-spacing:0px;margin-left:-15.5px;
}
#P121_140
{
left:0px;letter-spacing:0px;margin-left:-544px;
}
#P121_141
{
left:0px;letter-spacing:0px;
}
#P121_142
{
left:18489.6px;bottom:17164.8px;color:rgb(35,31,31);
}
#P121_143
{
left:19076.1px;bottom:17194.4px;color:rgb(35,31,31);
}
#P121_144
{
left:26568.4px;bottom:15914.4px;word-spacing:12513.6px;color:rgb(35,31,31);
}
#P121_145
{
left:16328.4px;bottom:15018.4px;word-spacing:2273.6px;color:rgb(35,31,31);
}
#P121_146
{
left:17722.3px;bottom:15135.9px;color:rgb(35,31,31);
}
#P121_147
{
left:17878.6px;bottom:14974.3px;color:rgb(35,31,31);
}
#P121_148
{
left:17755.4px;bottom:15128.5px;color:rgb(35,31,31);
}
#P121_149
{
left:19677.3px;bottom:15030px;color:rgb(35,31,31);
}
#P121_150
{
left:17949px;bottom:15018.4px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P121_151
{
left:0px;letter-spacing:0px;margin-left:5444.4px;
}
#P121_152
{
left:25994.6px;bottom:15135.9px;color:rgb(35,31,31);
}
#P121_153
{
left:26150.9px;bottom:14974.3px;color:rgb(35,31,31);
}
#P121_154
{
left:26027.7px;bottom:15128.5px;color:rgb(35,31,31);
}
#P121_155
{
left:27576.5px;bottom:15030px;color:rgb(35,31,31);
}
#P121_156
{
left:26221.3px;bottom:15018.4px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P121_157
{
left:13896.4px;bottom:14122.4px;letter-spacing:11457.6px;color:rgb(35,31,31);
}
#P121_158
{
left:25670.8px;bottom:14092.8px;color:rgb(35,31,31);
}
#P121_159
{
left:26257.2px;bottom:14122.4px;color:rgb(35,31,31);
}
#P121_160
{
left:13896.4px;bottom:13226.5px;letter-spacing:12972.5px;color:rgb(35,31,31);
}
#P121_161
{
left:13896.4px;bottom:10538.4px;color:rgb(35,31,31);
}
#P121_162
{
left:16208.4px;bottom:10538.4px;word-spacing:545.6px;color:rgb(35,31,31);
}
#P121_163
{
left:0px;letter-spacing:0px;margin-left:-8.4px;
}
#P121_164
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P121_165
{
left:0px;letter-spacing:0px;margin-left:-545.6px;
}
#P121_166
{
left:19141.4px;bottom:10508.8px;color:rgb(35,31,31);
}
#P121_167
{
left:19727.8px;bottom:10538.4px;color:rgb(35,31,31);
}
#P121_168
{
left:21350.6px;bottom:10508.8px;color:rgb(35,31,31);
}
#P121_169
{
left:21937px;bottom:10538.4px;color:rgb(35,31,31);
}
#P121_170
{
left:25224.4px;bottom:10538.4px;color:rgb(235,26,35);
}
#P121_171
{
left:27276.5px;bottom:10538.4px;color:rgb(35,31,31);
}
#P121_172
{
left:27628.5px;bottom:10538.4px;color:rgb(0,124,196);
}
#P121_173
{
left:28761.9px;bottom:10508.8px;color:rgb(0,124,196);
}
#P121_174
{
left:29348.4px;bottom:10538.4px;color:rgb(0,124,196);
}
#P121_175
{
left:31023.9px;bottom:10508.8px;color:rgb(0,124,196);
}
#P121_176
{
left:31610.3px;bottom:10538.4px;color:rgb(0,124,196);
}
#P121_177
{
left:33532.2px;bottom:10538.4px;color:rgb(35,31,31);
}
#P121_178
{
left:34236.2px;bottom:10627.4px;color:rgb(235,26,35);
}
#P121_179
{
left:13896.4px;bottom:6698.41px;letter-spacing:-5.2px;color:rgb(35,31,31);
}
#P121_180
{
left:0px;letter-spacing:-0.4px;margin-left:5.2px;
}
#P121_181
{
left:0px;letter-spacing:0px;margin-left:-41.6px;
}
#P121_182
{
left:13896.4px;bottom:5546.41px;color:rgb(35,31,31);
}
#P121_183
{
left:14034.8px;bottom:5573.23px;color:rgb(35,31,31);
}
#P121_184
{
left:15048.4px;bottom:5546.41px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P121_185
{
left:16069.2px;bottom:5663.93px;color:rgb(35,31,31);
}
#P121_186
{
left:16225.5px;bottom:5502.27px;color:rgb(35,31,31);
}
#P121_187
{
left:16102.3px;bottom:5656.52px;color:rgb(35,31,31);
}
#P121_188
{
left:17278px;bottom:5557.96px;color:rgb(35,31,31);
}
#P121_189
{
left:16295.9px;bottom:5546.41px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P121_190
{
left:25426.8px;bottom:5573.23px;color:rgb(35,31,31);
}
#P121_191
{
left:26440.4px;bottom:5546.41px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P121_192
{
left:27461.2px;bottom:5663.93px;color:rgb(35,31,31);
}
#P121_193
{
left:27617.5px;bottom:5502.27px;color:rgb(35,31,31);
}
#P121_194
{
left:27494.3px;bottom:5656.52px;color:rgb(35,31,31);
}
#P121_195
{
left:29043.1px;bottom:5557.96px;color:rgb(35,31,31);
}
#P121_196
{
left:27687.9px;bottom:5546.41px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P121_197
{
left:13896.4px;bottom:4266.41px;color:rgb(35,31,31);
}
#P121_198
{
left:14034.8px;bottom:4293.23px;color:rgb(35,31,31);
}
#P121_199
{
left:15048.4px;bottom:4266.41px;color:rgb(35,31,31);
}
#P121_200
{
left:17259px;bottom:4236.84px;color:rgb(35,31,31);
}
#P121_201
{
left:17845.4px;bottom:4266.41px;color:rgb(35,31,31);
}
#P121_202
{
left:25053.1px;bottom:4293.23px;color:rgb(35,31,31);
}
#P121_203
{
left:26440.4px;bottom:4266.41px;color:rgb(35,31,31);
}
#P121_204
{
left:28277.8px;bottom:4236.84px;color:rgb(35,31,31);
}
#P121_205
{
left:28864.3px;bottom:4266.41px;color:rgb(35,31,31);
}
#P121_206
{
left:16829.3px;bottom:22212.4px;color:rgb(0,124,196);
}
#P121_207
{
left:30186.2px;bottom:26269px;color:rgb(0,124,196);
}
#P121_208
{
left:30186.2px;bottom:25373px;color:rgb(0,124,196);
}
#P121_209
{
left:30186.2px;bottom:24477.1px;color:rgb(0,124,196);
}
#P121_210
{
left:17002.1px;bottom:12644.4px;color:rgb(0,124,196);
}
#P121_211
{
left:8122.2px;bottom:5952.24px;color:rgb(35,31,31);
}
#PageContainer121
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg121.jpg");background-repeat:no-repeat;background-size: 892px 1193px; background-position: 120.34px 78.4100000000001px;
}
#ImageContainer121 {bottom:92.59px;left:120.34px;width:891.56px;height:1193.15px;position:absolute;} #TextContainer121 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.example2a{position:absolute; top: 539px; left: 108px;}
.example2b{position:absolute; top: 537px; left: 161px;}
.nyr{position: absolute; top: 1156px; left: 186px;}
.nyr_exr{position: absolute; top: 1188px; left: 217px;color:rgb(35,31,31);font-size:16px;white-space:pre;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}