.tr279{ color:transparent;}
#P279_1
{
left:4592.6px;bottom:1410.03px;letter-spacing:22505.5px;color:rgb(35,31,31);
}
#P279_2
{
left:27454px;bottom:1410.03px;letter-spacing:1px;color:rgb(35,31,31);
}
#P279_3
{
left:0px;letter-spacing:0px;margin-left:-50px;
}
#P279_4
{
left:30685.9px;bottom:1410.03px;letter-spacing:462.1px;color:rgb(35,31,31);
}
#P279_5
{
left:0px;letter-spacing:4.2px;margin-left:-459.2px;
}
#P279_6
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P279_7
{
left:7382.94px;bottom:9749.04px;letter-spacing:-1.9px;color:rgb(35,31,31);
}
#P279_8
{
left:0px;letter-spacing:-0.7px;margin-left:1.9px;
}
#P279_9
{
left:0px;letter-spacing:-5.8px;margin-left:0.7px;
}
#P279_10
{
left:21586.6px;bottom:9749.04px;letter-spacing:-2.1px;color:rgb(0,124,196);
}
#P279_11
{
left:0px;letter-spacing:-1.5px;margin-left:-6.3px;
}
#P279_12
{
left:0px;letter-spacing:0px;margin-left:1.5px;
}
#P279_13
{
left:7382.94px;bottom:8277.04px;color:rgb(35,31,31);
}
#P279_14
{
left:7560.09px;bottom:8296.75px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P279_15
{
left:8982.94px;bottom:8296.75px;color:rgb(35,31,31);
}
#P279_16
{
left:9004.06px;bottom:8718.83px;color:rgb(35,31,31);
}
#P279_17
{
left:9339.87px;bottom:8294.64px;color:rgb(35,31,31);
}
#P279_18
{
left:8982.94px;bottom:8263.14px;color:rgb(35,31,31);
}
#P279_19
{
left:9360.99px;bottom:8278.3px;color:rgb(35,31,31);
}
#P279_20
{
left:9004.06px;bottom:7811.31px;color:rgb(35,31,31);
}
#P279_21
{
left:9339.87px;bottom:8294.64px;color:rgb(35,31,31);
}
#P279_22
{
left:9360.99px;bottom:8277.04px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P279_23
{
left:9727.07px;bottom:8716.72px;color:rgb(35,31,31);
}
#P279_24
{
left:10062.9px;bottom:8294.64px;color:rgb(35,31,31);
}
#P279_25
{
left:9705.95px;bottom:8261.02px;color:rgb(35,31,31);
}
#P279_26
{
left:10084px;bottom:8278.3px;color:rgb(35,31,31);
}
#P279_27
{
left:9727.07px;bottom:7809.2px;color:rgb(35,31,31);
}
#P279_28
{
left:10062.9px;bottom:8294.64px;color:rgb(35,31,31);
}
#P279_29
{
left:10084px;bottom:8277.04px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P279_30
{
left:10450.1px;bottom:8716.72px;color:rgb(35,31,31);
}
#P279_31
{
left:10785.9px;bottom:8294.64px;color:rgb(35,31,31);
}
#P279_32
{
left:10429px;bottom:8261.02px;color:rgb(35,31,31);
}
#P279_33
{
left:10807px;bottom:8278.3px;color:rgb(35,31,31);
}
#P279_34
{
left:10450.1px;bottom:7809.2px;color:rgb(35,31,31);
}
#P279_35
{
left:10785.9px;bottom:8294.64px;color:rgb(35,31,31);
}
#P279_36
{
left:10807px;bottom:8277.04px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P279_37
{
left:11173.1px;bottom:8716.72px;color:rgb(35,31,31);
}
#P279_38
{
left:11508.9px;bottom:8294.64px;color:rgb(35,31,31);
}
#P279_39
{
left:11152px;bottom:8261.02px;color:rgb(35,31,31);
}
#P279_40
{
left:11530px;bottom:8278.3px;color:rgb(35,31,31);
}
#P279_41
{
left:11173.1px;bottom:7809.2px;color:rgb(35,31,31);
}
#P279_42
{
left:11508.9px;bottom:8294.64px;color:rgb(35,31,31);
}
#P279_43
{
left:11530px;bottom:8277.04px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P279_44
{
left:22344.1px;bottom:8296.75px;color:rgb(35,31,31);
}
#P279_45
{
left:23766.9px;bottom:8277.04px;color:rgb(35,31,31);
}
#P279_46
{
left:7382.94px;bottom:6229.04px;color:rgb(35,31,31);
}
#P279_47
{
left:7560.09px;bottom:6248.75px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P279_48
{
left:9046.94px;bottom:6248.75px;letter-spacing:-17.6px;color:rgb(2,77,161);
}
#P279_49
{
left:0px;letter-spacing:0px;margin-left:17.6px;
}
#P279_50
{
left: 14872.6px;bottom:6229.04px;color:rgb(35,31,31);
}
#P279_51
{
left:0px;letter-spacing:0px;
margin-left: 0;
}
#P279_52
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P279_53
{
left:0px;letter-spacing:0px;margin-left:-42px;
}
#P279_54
{
left:9046.94px;bottom:5333.04px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P279_55
{
left:0px;letter-spacing:-0.8px;margin-left:0.7px;
}
#P279_56
{
left:0px;letter-spacing:-1.4px;margin-left:0.8px;
}
#P279_57
{
left:29732.2px;bottom:5333.04px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P279_58
{
left:7382.94px;bottom:3989.04px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P279_59
{
left:8960.03px;bottom:4032.41px;color:rgb(35,31,31);
}
#P279_60
{
left:9296.92px;bottom:4153.55px;color:rgb(35,31,31);
}
#P279_61
{
left:9942.94px;bottom:3989.04px;color:rgb(35,31,31);
}
#P279_62
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P279_63
{
left:16256px;bottom:4032.41px;color:rgb(35,31,31);
}
#P279_64
{
left:16592.9px;bottom:4153.55px;color:rgb(35,31,31);
}
#P279_65
{
left:17238.9px;bottom:3989.04px;color:rgb(35,31,31);
}
#P279_66
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P279_67
{
left:23744px;bottom:4032.41px;color:rgb(35,31,31);
}
#P279_68
{
left:24080.9px;bottom:4153.55px;color:rgb(35,31,31);
}
#P279_69
{
left:24726.9px;bottom:3989.04px;color:rgb(35,31,31);
}
#P279_70
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P279_71
{
left:31104px;bottom:4032.41px;color:rgb(35,31,31);
}
#P279_72
{
left:31440.9px;bottom:4153.55px;color:rgb(35,31,31);
}
#P279_73
{
left:32086.9px;bottom:3989.04px;color:rgb(35,31,31);
}
#P279_74
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P279_75
{
left:7446.94px;bottom:46716.8px;letter-spacing:-3.5px;color:rgb(35,31,31);
}
#P279_76
{
left:0px;letter-spacing:-0.8px;margin-left:3.5px;
}
#P279_77
{
left:0px;letter-spacing:-1.2px;margin-left:-13.1px;
}
#P279_78
{
left:0px;letter-spacing:0px;margin-left:1.2px;
}
#P279_79
{
left:7446.94px;bottom:45564.8px;color:rgb(35,31,31);
}
#P279_80
{
left:7624.09px;bottom:45584.5px;color:rgb(35,31,31);
}
#P279_81
{
left:9046.94px;bottom:45564.8px;color:rgb(35,31,31);
}
#P279_82
{
left:14920px;bottom:45584.5px;color:rgb(35,31,31);
}
#P279_83
{
left:16342.9px;bottom:45564.8px;color:rgb(35,31,31);
}
#P279_84
{
left:22344.1px;bottom:45584.5px;color:rgb(35,31,31);
}
#P279_85
{
left:23766.9px;bottom:45564.8px;color:rgb(35,31,31);
}
#P279_86
{
left:29704px;bottom:45584.5px;color:rgb(35,31,31);
}
#P279_87
{
left:31126.9px;bottom:45564.8px;color:rgb(35,31,31);
}
#P279_88
{
left:7446.87px;bottom:39804.8px;color:rgb(35,31,31);
}
#P279_89
{
left:7624.03px;bottom:39824.5px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P279_90
{
left:9110.94px;bottom:39824.5px;color:rgb(2,77,161);
}
#P279_91
{
left:10884.3px;bottom:39804.8px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P279_92
{
left:0px;letter-spacing:0px;margin-left:-221.6px;
}
#P279_93
{
left:0px;letter-spacing:-0.8px;
}
#P279_94
{
left:0px;letter-spacing:0px;margin-left:-55.4px;
}
#P279_95
{
left:7446.94px;bottom:38460.8px;color:rgb(35,31,31);
}
#P279_96
{
left:8406.94px;bottom:38480.5px;color:rgb(35,31,31);
}
#P279_97
{
left:9110.94px;bottom:38606.3px;word-spacing:323.5px;color:rgb(35,31,31);
}
#P279_98
{
left:9913.31px;bottom:38460.8px;letter-spacing:-4.3px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P279_99
{
left:0px;letter-spacing:-1.3px;margin-left:4.2px;
}
#P279_100
{
left:0px;letter-spacing:-0.6px;margin-left:159.1px;
}
#P279_101
{
left:9913.31px;bottom:37564.8px;letter-spacing:-0.3px;word-spacing:0.3px;color:rgb(35,31,31);
}
#P279_102
{
left:7446.94px;bottom:36220.8px;letter-spacing:801.6px;color:rgb(35,31,31);
}
#P279_103
{
left:9110.94px;bottom:36366.3px;word-spacing:323.5px;color:rgb(35,31,31);
}
#P279_104
{
left:9913.31px;bottom:36220.8px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P279_105
{
left:9913.31px;bottom:35324.8px;letter-spacing:-4.2px;color:rgb(35,31,31);
}
#P279_106
{
left:0px;letter-spacing:-7px;margin-left:4.2px;
}
#P279_107
{
left:9110.87px;bottom:34044.8px;word-spacing:801.6px;color:rgb(35,31,31);
}
#P279_108
{
left:0px;letter-spacing:0px;margin-left:-31.6px;
}
#P279_109
{
left:0px;letter-spacing:0px;margin-left:5.5px;
}
#P279_110
{
left:10829.3px;bottom:34064.5px;color:rgb(35,31,31);
}
#P279_111
{
left:11025px;bottom:34044.8px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P279_112
{
left:0px;letter-spacing:0px;margin-left:-13.2px;
}
#P279_113
{
left:9110.87px;bottom:33148.8px;letter-spacing:-1.2px;word-spacing:0.3px;color:rgb(35,31,31);
}
#P279_114
{
left:0px;letter-spacing:-1px;margin-left:1px;
}
#P279_115
{
left:7447px;bottom:31100.8px;color:rgb(35,31,31);
}
#P279_116
{
left:7624.03px;bottom:31120.5px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P279_117
{
left:9110.94px;bottom:31120.5px;letter-spacing:-7.7px;color:rgb(2,77,161);
}
#P279_118
{
left:0px;letter-spacing:0px;margin-left:7.7px;
}
#P279_119
{
left:16506.5px;bottom:31100.8px;letter-spacing:-0.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P279_120
{
left:0px;letter-spacing:0px;margin-left:-41.9px;
}
#P279_121
{
left:7446.94px;bottom:29756.8px;color:rgb(35,31,31);
}
#P279_122
{
left:9198.87px;bottom:29756.8px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P279_123
{
left:10390.9px;bottom:29756.8px;color:rgb(35,31,31);
}
#P279_124
{
left:0px;letter-spacing:0px;margin-left:-6.9px;
}
#P279_125
{
left:0px;letter-spacing:0px;margin-left:-42px;
}
#P279_126
{
left:21422.9px;bottom:29756.8px;letter-spacing:-6.9px;color:rgb(35,31,31);
}
#P279_127
{
left:22039.1px;bottom:29756.8px;letter-spacing:481.6px;color:rgb(35,31,31);
}
#P279_128
{
left:0px;letter-spacing:0.1px;margin-left:-488.5px;
}
#P279_129
{
left:7446.94px;bottom:28668.7px;color:rgb(35,31,31);
}
#P279_130
{
left:9234.07px;bottom:28668.7px;letter-spacing:-14px;word-spacing:492.2px;color:rgb(35,31,31);
}
#P279_131
{
left:10390.9px;bottom:28668.7px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P279_132
{
left:10390.9px;bottom:27772.8px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P279_133
{
left:0px;letter-spacing:0px;margin-left:-27.8px;
}
#P279_134
{
left:0px;letter-spacing:-0.2px;
}
#P279_135
{
left:0px;letter-spacing:0px;margin-left:-41.9px;
}
#P279_136
{
left:7446.94px;bottom:26684.8px;color:rgb(35,31,31);
}
#P279_137
{
left:9155.93px;bottom:26684.8px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P279_138
{
left:10390.9px;bottom:26684.8px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P279_139
{
left:18338.2px;bottom:26655.2px;color:rgb(35,31,31);
}
#P279_140
{
left:18924.6px;bottom:26684.8px;color:rgb(35,31,31);
}
#P279_141
{
left:19171px;bottom:26655.2px;color:rgb(35,31,31);
}
#P279_142
{
left:19757.5px;bottom:26684.8px;color:rgb(35,31,31);
}
#P279_143
{
left:20003.9px;bottom:26655.2px;color:rgb(35,31,31);
}
#P279_144
{
left:20590.3px;bottom:26684.8px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P279_145
{
left:0px;letter-spacing:0px;margin-left:-13.3px;
}
#P279_146
{
left:7446.94px;bottom:24636.8px;color:rgb(35,31,31);
}
#P279_147
{
left:7624.09px;bottom:24656.5px;color:rgb(35,31,31);
}
#P279_148
{
left:9110.94px;bottom:24656.5px;color:rgb(2,77,161);
}
#P279_149
{
left:13302.9px;bottom:24636.8px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P279_150
{
left:0px;letter-spacing:0px;margin-left:-206.1px;
}
#P279_151
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P279_152
{
left:0px;letter-spacing:-1.3px;
}
#P279_153
{
left:0px;letter-spacing:0px;margin-left:1.3px;
}
#P279_154
{
left:30308.8px;bottom:24636.8px;word-spacing:56.3px;color:rgb(35,31,31);
}
#P279_155
{
left:7446.94px;bottom:23548.7px;color:rgb(35,31,31);
}
#P279_156
{
left:8406.81px;bottom:23568.4px;letter-spacing:508.3px;color:rgb(35,31,31);
}
#P279_157
{
left:9110.81px;bottom:23548.7px;letter-spacing:-8.1px;color:rgb(35,31,31);
}
#P279_158
{
left:10483.3px;bottom:23568.4px;color:rgb(35,31,31);
}
#P279_159
{
left:10679px;bottom:23548.7px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P279_160
{
left:0px;letter-spacing:0px;margin-left:-24.3px;
}
#P279_161
{
left:0px;letter-spacing:0px;
}
#P279_162
{
left:0px;letter-spacing:0px;margin-left:-214.8px;
}
#P279_163
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P279_164
{
left:0px;letter-spacing:-0.6px;
}
#P279_165
{
left:0px;letter-spacing:0px;margin-left:0.6px;
}
#P279_166
{
left:27673.6px;bottom:23548.7px;letter-spacing:-0.4px;word-spacing:56.7px;color:rgb(35,31,31);
}
#P279_167
{
left:0px;letter-spacing:-0.4px;margin-left:-56.3px;
}
#P279_168
{
left:0px;letter-spacing:-0.4px;margin-left:-20.7px;
}
#P279_169
{
left:9110.94px;bottom:22652.8px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P279_170
{
left:9110.94px;bottom:21756.8px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P279_171
{
left:22103.6px;bottom:43090px;color:rgb(35,31,31);
}
#P279_172
{
left:20440.6px;bottom:42976.3px;color:rgb(33,31,31);
}
#P279_173
{
left:20867px;bottom:43090px;color:rgb(35,31,31);
}
#P279_174
{
left:19192.3px;bottom:42976.3px;color:rgb(33,31,31);
}
#P279_175
{
left:19618.8px;bottom:43090px;color:rgb(35,31,31);
}
#P279_176
{
left:17944px;bottom:42976.3px;color:rgb(33,31,31);
}
#P279_177
{
left:18370.5px;bottom:43090px;color:rgb(35,31,31);
}
#P279_178
{
left:16695.8px;bottom:42976.3px;color:rgb(33,31,31);
}
#P279_179
{
left:17122.3px;bottom:43090px;color:rgb(35,31,31);
}
#P279_180
{
left:15303.6px;bottom:42976.3px;color:rgb(33,31,31);
}
#P279_181
{
left:15730.1px;bottom:43090px;color:rgb(35,31,31);
}
#P279_182
{
left:14050.3px;bottom:42976.3px;color:rgb(33,31,31);
}
#P279_183
{
left:14476.8px;bottom:43090px;color:rgb(35,31,31);
}
#P279_184
{
left:12797.4px;bottom:42976.3px;color:rgb(33,31,31);
}
#P279_185
{
left:13223.9px;bottom:43090px;color:rgb(35,31,31);
}
#P279_186
{
left:11544px;bottom:42976.3px;color:rgb(33,31,31);
}
#P279_187
{
left:11970.5px;bottom:43090px;color:rgb(35,31,31);
}
#P279_188
{
left:10291.2px;bottom:42976.3px;color:rgb(33,31,31);
}
#P279_189
{
left:10717.7px;bottom:43090px;color:rgb(35,31,31);
}
#P279_190
{
left:9037.79px;bottom:42976.3px;color:rgb(33,31,31);
}
#P279_191
{
left:9464.28px;bottom:43090px;color:rgb(35,31,31);
}
#P279_192
{
left:0px;letter-spacing:0px;margin-left:13316.6px;
}
#P279_193
{
left:0px;letter-spacing:0px;margin-left:963.6px;
}
#P279_194
{
left:0px;letter-spacing:0px;margin-left:963.1px;
}
#P279_195
{
left:0px;letter-spacing:0px;margin-left:963.6px;
}
#P279_196
{
left:0px;letter-spacing:0px;margin-left:820.7px;
}
#P279_197
{
left:0px;letter-spacing:0px;margin-left:678.9px;
}
#P279_198
{
left:0px;letter-spacing:0px;margin-left:678.4px;
}
#P279_199
{
left:0px;letter-spacing:0px;margin-left:678.9px;
}
#P279_200
{
left:0px;letter-spacing:0px;margin-left:678.9px;
}
#P279_201
{
left:0px;letter-spacing:0px;margin-left:678.4px;
}
#P279_202
{
left:12709.9px;bottom:44393.1px;letter-spacing:12096px;color:rgb(0,124,196);
}
#P279_203
{
left:0px;letter-spacing:15840px;margin-left:-20592px;
}
#P279_204
{
left:22225.6px;bottom:14390px;color:rgb(35,31,31);
}
#P279_205
{
left:11500.7px;bottom:14276.3px;color:rgb(35,31,31);
}
#P279_206
{
left:11927.2px;bottom:14390px;color:rgb(35,31,31);
}
#P279_207
{
left:13484.7px;bottom:14276.3px;color:rgb(35,31,31);
}
#P279_208
{
left:13911.2px;bottom:14390px;color:rgb(35,31,31);
}
#P279_209
{
left:15564.4px;bottom:14276.3px;color:rgb(35,31,31);
}
#P279_210
{
left:15990.9px;bottom:14390px;color:rgb(35,31,31);
}
#P279_211
{
left:17580.7px;bottom:14276.3px;color:rgb(237,28,35);
}
#P279_212
{
left:18007.2px;bottom:14390px;color:rgb(237,28,35);
}
#P279_213
{
left:19775.1px;bottom:14276.3px;color:rgb(35,31,31);
}
#P279_214
{
left:20201.6px;bottom:14390px;letter-spacing:11762.2px;color:rgb(35,31,31);
}
#P279_215
{
left:0px;letter-spacing:0px;margin-left:-11762.2px;
}
#P279_216
{
left:24220.4px;bottom:14390px;color:rgb(35,31,31);
}
#P279_217
{
left:26179.3px;bottom:14390px;color:rgb(237,28,35);
}
#P279_218
{
left:28195.5px;bottom:14390px;color:rgb(35,31,31);
}
#P279_219
{
left:0px;letter-spacing:0px;margin-left:1446.9px;
}
#P279_220
{
left:19018.8px;bottom:15940.1px;color:rgb(235,26,35);
}
#P279_221
{
left:26167.6px;bottom:15940.1px;color:rgb(235,26,35);
}
#PageContainer279
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg279.jpg");background-repeat:no-repeat;background-size: 827px 1113px; background-position: 164.2px 159.73px;
}
#ImageContainer279 {bottom:91.27px;left:164.20px;width:827.31px;height:1113.38px;position:absolute;} #TextContainer279 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}