.tr522{ color:transparent;}
#P522_1
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P522_2
{
left:3540.44px;bottom:1410.03px;color:rgb(35,31,31);
}
#P522_3
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P522_4
{
left:8197.72px;bottom:1410.03px;letter-spacing:462.1px;color:rgb(35,31,31);
}
#P522_5
{
left:0px;letter-spacing:4.9px;margin-left:-459.2px;
}
#P522_6
{
left:6977.56px;bottom:46189.1px;color:white;
}
#P522_7
{
left:9766.36px;bottom:46487.5px;color:white;
}
#P522_8
{
left:10140px;bottom:46189.1px;color:white;
}
#P522_9
{
left:11982.6px;bottom:46487.5px;color:white;
}
#P522_10
{
left:12356.2px;bottom:46189.1px;letter-spacing:-1.3px;color:white;
}
#P522_11
{
left:3459.78px;bottom:46161.9px;color:white;
}
#P522_12
{
left:18900.5px;bottom:41322.2px;color:rgb(35,31,31);
}
#P522_13
{
left:19309.4px;bottom:41322.2px;
}
#P522_14
{
left:29284.2px;bottom:41322.2px;
}
#P522_15
{
left:31827.1px;bottom:41322.2px;
}
#P522_16
{
left:7789.34px;bottom:40234.2px;
}
#P522_17
{
left:10645.5px;bottom:40234.2px;
}
#P522_18
{
left:11936.6px;bottom:40234.2px;
}
#P522_19
{
left:13384px;bottom:40234.2px;
}
#P522_20
{
left:18900.5px;bottom:41322.2px;letter-spacing:213.2px;color:rgb(35,31,31);
}
#P522_21
{
left:0px;letter-spacing:0px;margin-left:-213.2px;
}
#P522_22
{
left:29284.2px;bottom:41322.2px;color:rgb(35,31,31);
}
#P522_23
{
left:31827.1px;bottom:41322.2px;color:rgb(35,31,31);
}
#P522_24
{
left:7789.34px;bottom:40234.2px;color:rgb(35,31,31);
}
#P522_25
{
left:10645.5px;bottom:40234.2px;color:rgb(35,31,31);
}
#P522_26
{
left:11936.6px;bottom:40234.2px;color:rgb(35,31,31);
}
#P522_27
{
left:13384px;bottom:40234.2px;color:rgb(35,31,31);
}
#P522_28
{
left:9245.02px;bottom:35999.9px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P522_29
{
left:0px;letter-spacing:0.4px;margin-left:14.1px;
}
#P522_30
{
left:0px;letter-spacing:-14px;margin-left:-42.5px;
}
#P522_31
{
left:0px;letter-spacing:0px;margin-left:-17.6px;
}
#P522_32
{
left:0px;letter-spacing:-0.7px;
}
#P522_33
{
left:24683.4px;bottom:35999.9px;word-spacing:77.1px;color:rgb(35,31,31);
}
#P522_34
{
left:0px;letter-spacing:0px;margin-left:-77.1px;
}
#P522_35
{
left:26195.7px;bottom:35561.5px;color:rgb(35,31,31);
}
#P522_36
{
left:26547.5px;bottom:36000px;color:rgb(35,31,31);
}
#P522_37
{
left:9245.08px;bottom:34720px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P522_38
{
left:0px;letter-spacing:0px;margin-left:-13.5px;
}
#P522_39
{
left:24628.2px;bottom:34281.5px;color:rgb(35,31,31);
}
#P522_40
{
left:24980px;bottom:34720px;color:rgb(35,31,31);
}
#P522_41
{
left:9245.08px;bottom:33824px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P522_42
{
left:11739.2px;bottom:30635.8px;color:rgb(35,31,31);
}
#P522_43
{
left:9870.87px;bottom:30522.1px;color:rgb(35,31,31);
}
#P522_44
{
left:10297.4px;bottom:30635.8px;letter-spacing:2583.6px;color:rgb(35,31,31);
}
#P522_45
{
left:0px;letter-spacing:1141.8px;margin-left:-1441.8px;
}
#P522_46
{
left:12907.8px;bottom:32638.9px;color:rgb(0,124,196);
}
#P522_47
{
left:13387.6px;bottom:32766.8px;color:rgb(0,124,196);
}
#P522_48
{
left:15760.4px;bottom:32638.9px;color:rgb(0,124,196);
}
#P522_49
{
left:16240.2px;bottom:32766.8px;color:rgb(0,124,196);
}
#P522_50
{
left:18613px;bottom:32638.9px;color:rgb(0,124,196);
}
#P522_51
{
left:19092.8px;bottom:32766.8px;color:rgb(0,124,196);
}
#P522_52
{
left: 23832.9px;bottom:32544px;letter-spacing:357.8px;color:rgb(35,31,31);
}
#P522_53
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P522_54
{
left:0px;letter-spacing:-7px;margin-left:-21px;
}
#P522_55
{
left:0px;letter-spacing:0.5px;margin-left:2.8px;
}
#P522_56
{
left:23837.1px;bottom:31136px;letter-spacing:-14.1px;word-spacing:14447.7px;color:rgb(35,31,31);
}
#P522_57
{
left:24287.6px;bottom:30697.5px;color:rgb(35,31,31);
}
#P522_58
{
left:24612.7px;bottom:31136px;letter-spacing:-14.1px;color:rgb(35,31,31);
}
#P522_59
{
left:25263.8px;bottom:31106.5px;color:rgb(35,31,31);
}
#P522_60
{
left:25839.7px;bottom:31136px;letter-spacing:1322.9px;color:rgb(35,31,31);
}
#P522_61
{
left:27468.8px;bottom:31106.5px;color:rgb(35,31,31);
}
#P522_62
{
left:28044.7px;bottom:31136px;letter-spacing:1322.9px;color:rgb(35,31,31);
}
#P522_63
{
left:29673.8px;bottom:31106.5px;color:rgb(35,31,31);
}
#P522_64
{
left:30249.7px;bottom:31136px;color:rgb(35,31,31);
}
#P522_65
{
left:9245.08px;bottom:29600px;color:rgb(35,31,31);
}
#P522_66
{
left:25117.1px;bottom:29728px;color:rgb(35,31,31);
}
#P522_67
{
left:25264.9px;bottom:29698.5px;color:rgb(35,31,31);
}
#P522_68
{
left:25840.8px;bottom:29728px;color:rgb(35,31,31);
}
#P522_69
{
left:27322.1px;bottom:29600px;color:rgb(35,31,31);
}
#P522_70
{
left:27399.5px;bottom:29728px;color:rgb(35,31,31);
}
#P522_71
{
left:10533.1px;bottom:28448px;word-spacing:545.6px;color:rgb(35,31,31);
}
#P522_72
{
left:0px;letter-spacing:0px;margin-left:-8.4px;
}
#P522_73
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P522_74
{
left:0px;letter-spacing:0px;margin-left:-545.6px;
}
#P522_75
{
left:12107.4px;bottom:28009.5px;color:rgb(35,31,31);
}
#P522_76
{
left:12459.2px;bottom:28448px;color:rgb(35,31,31);
}
#P522_77
{
left:13149.1px;bottom:28418.5px;color:rgb(35,31,31);
}
#P522_78
{
left:13735.5px;bottom:28448px;color:rgb(35,31,31);
}
#P522_79
{
left:15237.9px;bottom:28320px;color:rgb(35,31,31);
}
#P522_80
{
left:15325.9px;bottom:28448px;color:rgb(35,31,31);
}
#P522_81
{
left:10123.3px;bottom:37722.9px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P522_82
{
left:13548.4px;bottom:37914.7px;color:rgb(255,223,126);
}
#P522_83
{
left:14173.1px;bottom:37722.9px;word-spacing:207.4px;color:white;
}
#P522_84
{
left:15965.9px;bottom:37914.7px;color:white;
}
#P522_85
{
left:16206.1px;bottom:37722.9px;color:white;
}
#P522_86
{
left:17390.7px;bottom:37914.7px;color:white;
}
#P522_87
{
left:17630.9px;bottom:37722.9px;letter-spacing:-0.7px;color:white;
}
#P522_88
{
left:22936px;bottom:37914.7px;color:white;
}
#P522_89
{
left:23176.2px;bottom:37722.9px;color:white;
}
#P522_90
{
left:28523.5px;bottom:37914.7px;color:white;
}
#P522_91
{
left:28763.7px;bottom:37722.9px;color:white;
}
#P522_92
{
left:8382.87px;bottom:37599.3px;
}
#P522_93
{
left:8382.87px;bottom:37599.3px;color:white;
}
#P522_94
{
left:9200.28px;bottom:24864px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P522_95
{
left:0px;letter-spacing:0.4px;margin-left:14.1px;
}
#P522_96
{
left:0px;letter-spacing:-14px;margin-left:-42.5px;
}
#P522_97
{
left:0px;letter-spacing:0px;margin-left:-17.6px;
}
#P522_98
{
left:0px;letter-spacing:-0.7px;
}
#P522_99
{
left:24638.7px;bottom:24864px;word-spacing:77.1px;color:rgb(35,31,31);
}
#P522_100
{
left:0px;letter-spacing:0px;margin-left:-77.1px;
}
#P522_101
{
left:26150.9px;bottom:24425.5px;color:rgb(35,31,31);
}
#P522_102
{
left:26502.7px;bottom:24864px;color:rgb(35,31,31);
}
#P522_103
{
left:26907.5px;bottom:24834.5px;color:rgb(35,31,31);
}
#P522_104
{
left:27493.8px;bottom:24864px;color:rgb(35,31,31);
}
#P522_105
{
left:9200.28px;bottom:23584px;color:rgb(35,31,31);
}
#P522_106
{
left:9679px;bottom:23145.5px;color:rgb(35,31,31);
}
#P522_107
{
left:10030.8px;bottom:23584px;color:rgb(35,31,31);
}
#P522_108
{
left:10435.5px;bottom:23554.5px;color:rgb(35,31,31);
}
#P522_109
{
left:11022px;bottom:23584px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P522_110
{
left:19938.8px;bottom:23554.5px;color:rgb(35,31,31);
}
#P522_111
{
left:20525.2px;bottom:23584px;color:rgb(35,31,31);
}
#P522_112
{
left:20252.1px;bottom:20436.3px;color:rgb(35,31,31);
}
#P522_113
{
left:18397.1px;bottom:20322.7px;color:rgb(35,31,31);
}
#P522_114
{
left:18823.6px;bottom:20436.3px;color:rgb(35,31,31);
}
#P522_115
{
left:16973.8px;bottom:20322.7px;color:rgb(35,31,31);
}
#P522_116
{
left:17400.3px;bottom:20436.3px;color:rgb(35,31,31);
}
#P522_117
{
left:15550.4px;bottom:20322.7px;color:rgb(35,31,31);
}
#P522_118
{
left:15976.9px;bottom:20436.3px;color:rgb(35,31,31);
}
#P522_119
{
left:14127.1px;bottom:20322.7px;color:rgb(35,31,31);
}
#P522_120
{
left:14553.6px;bottom:20436.3px;color:rgb(35,31,31);
}
#P522_121
{
left:12703.7px;bottom:20322.7px;color:rgb(35,31,31);
}
#P522_122
{
left:13130.2px;bottom:20436.3px;color:rgb(35,31,31);
}
#P522_123
{
left:11280.3px;bottom:20322.7px;color:rgb(35,31,31);
}
#P522_124
{
left:11706.8px;bottom:20436.3px;color:rgb(35,31,31);
}
#P522_125
{
left:9856.99px;bottom:20322.7px;color:rgb(35,31,31);
}
#P522_126
{
left:10283.5px;bottom:20436.3px;letter-spacing:11109.4px;color:rgb(35,31,31);
}
#P522_127
{
left:12863px;bottom:22439.5px;color:rgb(237,28,35);
}
#P522_128
{
left:13342.8px;bottom:22567.4px;color:rgb(237,28,35);
}
#P522_129
{
left:15715.6px;bottom:22439.5px;color:rgb(237,28,35);
}
#P522_130
{
left:16195.4px;bottom:22567.4px;color:rgb(237,28,35);
}
#P522_131
{
left:18568.2px;bottom:22439.5px;color:rgb(237,28,35);
}
#P522_132
{
left:19048px;bottom:22567.4px;color:rgb(237,28,35);
}
#P522_133
{
left: 23651.1px;bottom:22304px;letter-spacing:294.8px;color:rgb(35,31,31);
}
#P522_134
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P522_135
{
left:0px;letter-spacing:-7px;margin-left:-21px;
}
#P522_136
{
left:0px;letter-spacing:0.5px;margin-left:2.8px;
}
#P522_137
{
left:23664.2px;bottom:20896px;word-spacing:14305.5px;color:rgb(35,31,31);
}
#P522_138
{
left:24143px;bottom:20457.5px;color:rgb(35,31,31);
}
#P522_139
{
left:24494.8px;bottom:20896px;color:rgb(35,31,31);
}
#P522_140
{
left:24899.5px;bottom:20866.5px;color:rgb(35,31,31);
}
#P522_141
{
left:25486px;bottom:20896px;color:rgb(35,31,31);
}
#P522_142
{
left:26263.9px;bottom:20866.5px;color:rgb(35,31,31);
}
#P522_143
{
left:26850.3px;bottom:20896px;letter-spacing:1333.4px;color:rgb(35,31,31);
}
#P522_144
{
left:28500.6px;bottom:20866.5px;color:rgb(35,31,31);
}
#P522_145
{
left:29087px;bottom:20896px;letter-spacing:1333.4px;color:rgb(35,31,31);
}
#P522_146
{
left:30737.2px;bottom:20866.5px;color:rgb(35,31,31);
}
#P522_147
{
left:31323.7px;bottom:20896px;letter-spacing:1343.9px;color:rgb(35,31,31);
}
#P522_148
{
left:9200.28px;bottom:19616px;color:rgb(35,31,31);
}
#P522_149
{
left:26256.3px;bottom:19586.5px;color:rgb(35,31,31);
}
#P522_150
{
left:26842.7px;bottom:19616px;color:rgb(35,31,31);
}
#P522_151
{
left:28345.1px;bottom:19488px;color:rgb(35,31,31);
}
#P522_152
{
left:28433.1px;bottom:19616px;color:rgb(35,31,31);
}
#P522_153
{
left:10485.5px;bottom:18336px;letter-spacing:-11.2px;word-spacing:554px;color:rgb(35,31,31);
}
#P522_154
{
left:0px;letter-spacing:0px;margin-left:-542.8px;
}
#P522_155
{
left:12062.6px;bottom:17897.5px;color:rgb(35,31,31);
}
#P522_156
{
left:12414.4px;bottom:18336px;color:rgb(35,31,31);
}
#P522_157
{
left:12819.2px;bottom:18306.5px;color:rgb(35,31,31);
}
#P522_158
{
left:13405.6px;bottom:18336px;color:rgb(35,31,31);
}
#P522_159
{
left:14183.5px;bottom:18306.5px;color:rgb(35,31,31);
}
#P522_160
{
left:14769.9px;bottom:18336px;color:rgb(35,31,31);
}
#P522_161
{
left:16272.3px;bottom:18208px;color:rgb(35,31,31);
}
#P522_162
{
left:16360.3px;bottom:18336px;color:rgb(35,31,31);
}
#P522_163
{
left:10078.5px;bottom:26586.9px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P522_164
{
left:13503.6px;bottom:26778.7px;color:rgb(255,223,126);
}
#P522_165
{
left:14128.3px;bottom:26586.9px;word-spacing:207.4px;color:white;
}
#P522_166
{
left:15921.1px;bottom:26778.7px;color:white;
}
#P522_167
{
left:16161.3px;bottom:26586.9px;color:white;
}
#P522_168
{
left:17345.9px;bottom:26778.7px;color:white;
}
#P522_169
{
left:17586.1px;bottom:26586.9px;letter-spacing:-0.7px;color:white;
}
#P522_170
{
left:22891.2px;bottom:26778.7px;color:white;
}
#P522_171
{
left:23131.4px;bottom:26586.9px;color:white;
}
#P522_172
{
left:24748.8px;bottom:26778.7px;color:white;
}
#P522_173
{
left:24989px;bottom:26586.9px;letter-spacing:-1.9px;color:white;
}
#P522_174
{
left:28382px;bottom:26778.7px;color:white;
}
#P522_175
{
left:28622.2px;bottom:26586.9px;color:white;
}
#P522_176
{
left:8338.07px;bottom:26463.3px;
}
#P522_177
{
left:8338.07px;bottom:26463.3px;color:white;
}
#P522_178
{
left:9187.48px;bottom:14368px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P522_179
{
left:0px;letter-spacing:0.4px;margin-left:14.1px;
}
#P522_180
{
left:0px;letter-spacing:-14px;margin-left:-42.5px;
}
#P522_181
{
left:0px;letter-spacing:0px;margin-left:-17.6px;
}
#P522_182
{
left:0px;letter-spacing:0px;
}
#P522_183
{
left:20965.7px;bottom:14368px;word-spacing:77.1px;color:rgb(35,31,31);
}
#P522_184
{
left:21988.6px;bottom:14338.5px;color:rgb(35,31,31);
}
#P522_185
{
left:22575px;bottom:14368px;color:rgb(35,31,31);
}
#P522_186
{
left:22969.2px;bottom:14368px;color:rgb(35,31,31);
}
#P522_187
{
left:23074.8px;bottom:13929.5px;color:rgb(35,31,31);
}
#P522_188
{
left:23426.6px;bottom:14368px;color:rgb(35,31,31);
}
#P522_189
{
left:23585px;bottom:14368px;color:rgb(35,31,31);
}
#P522_190
{
left:9187.48px;bottom:13088px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P522_191
{
left:0px;letter-spacing:-12.6px;margin-left:0.2px;
}
#P522_192
{
left:0px;letter-spacing:-0.7px;margin-left:12.6px;
}
#P522_193
{
left:10472.7px;bottom:3232.04px;letter-spacing:-11.2px;word-spacing:554px;color:rgb(35,31,31);
}
#P522_194
{
left:11571.1px;bottom:3202.48px;color:rgb(35,31,31);
}
#P522_195
{
left:12157.5px;bottom:3232.04px;color:rgb(35,31,31);
}
#P522_196
{
left:12636.2px;bottom:2793.47px;color:rgb(35,31,31);
}
#P522_197
{
left:12988px;bottom:3232.04px;color:rgb(35,31,31);
}
#P522_198
{
left:13677.9px;bottom:3202.48px;color:rgb(35,31,31);
}
#P522_199
{
left:14264.3px;bottom:3232.04px;color:rgb(35,31,31);
}
#P522_200
{
left:15689.1px;bottom:3104.04px;color:rgb(35,31,31);
}
#P522_201
{
left:15777.1px;bottom:3232.03px;color:rgb(35,31,31);
}
#P522_202
{
left:10065.7px;bottom:16090.9px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P522_203
{
left:13490.8px;bottom:16282.7px;color:rgb(255,223,126);
}
#P522_204
{
left:14115.5px;bottom:16090.9px;word-spacing:207.4px;color:white;
}
#P522_205
{
left:15908.3px;bottom:16282.7px;color:white;
}
#P522_206
{
left:16148.5px;bottom:16090.9px;color:white;
}
#P522_207
{
left:17333.1px;bottom:16282.7px;color:white;
}
#P522_208
{
left:17573.3px;bottom:16090.9px;letter-spacing:-0.7px;color:white;
}
#P522_209
{
left:22878.4px;bottom:16282.7px;color:white;
}
#P522_210
{
left:23118.6px;bottom:16090.9px;color:white;
}
#P522_211
{
left:24736px;bottom:16282.7px;color:white;
}
#P522_212
{
left:24976.2px;bottom:16090.9px;letter-spacing:-1.9px;color:white;
}
#P522_213
{
left:28369.2px;bottom:16282.7px;color:white;
}
#P522_214
{
left:28609.4px;bottom:16090.9px;color:white;
}
#P522_215
{
left:8325.27px;bottom:15967.3px;
}
#P522_216
{
left:8325.27px;bottom:15967.3px;color:white;
}
#P522_217
{
left:16969.2px;bottom:11693.5px;letter-spacing:1528.9px;color:rgb(35,31,31);
}
#P522_218
{
left:18955.2px;bottom:11264.7px;color:rgb(35,31,31);
}
#P522_219
{
left:20859.3px;bottom:11693.5px;letter-spacing:1386.4px;word-spacing:-58.7px;color:rgb(35,31,31);
}
#P522_220
{
left:22753px;bottom:11665.3px;color:rgb(35,31,31);
}
#P522_221
{
left:23312.9px;bottom:11693.5px;letter-spacing:1219.2px;color:rgb(35,31,31);
}
#P522_222
{
left:16969.2px;bottom:10349.5px;letter-spacing:1528.9px;color:rgb(35,31,31);
}
#P522_223
{
left:18955.2px;bottom:9920.72px;color:rgb(35,31,31);
}
#P522_224
{
left:20859.3px;bottom:10349.5px;letter-spacing:1386.4px;word-spacing:-58.7px;color:rgb(35,31,31);
}
#P522_225
{
left:22753px;bottom:10321.3px;color:rgb(35,31,31);
}
#P522_226
{
left:23312.9px;bottom:10349.5px;letter-spacing:1219.2px;color:rgb(35,31,31);
}
#P522_227
{
left:16969.2px;bottom:9005.55px;letter-spacing:1528.9px;color:rgb(35,31,31);
}
#P522_228
{
left:18955.2px;bottom:8576.72px;color:rgb(35,31,31);
}
#P522_229
{
left:20859.3px;bottom:9005.55px;letter-spacing:1386.4px;word-spacing:-58.7px;color:rgb(35,31,31);
}
#P522_230
{
left:22753px;bottom:8977.32px;color:rgb(35,31,31);
}
#P522_231
{
left:23312.9px;bottom:9005.55px;letter-spacing:1219.2px;color:rgb(35,31,31);
}
#P522_232
{
left:16493.4px;bottom:7633.32px;color:rgb(35,31,31);
}
#P522_233
{
left:17053.1px;bottom:7661.55px;letter-spacing:1445.1px;color:rgb(35,31,31);
}
#P522_234
{
left:18955.2px;bottom:7232.72px;color:rgb(35,31,31);
}
#P522_235
{
left:20859.3px;bottom:7661.55px;letter-spacing:1386.4px;word-spacing:-58.7px;color:rgb(35,31,31);
}
#P522_236
{
left:22753px;bottom:7633.32px;color:rgb(35,31,31);
}
#P522_237
{
left:23312.9px;bottom:7661.55px;color:rgb(35,31,31);
}
#P522_238
{
left:25494.6px;bottom:7437.55px;color:rgb(35,31,31);
}
#P522_239
{
left:16493.4px;bottom:6289.32px;color:rgb(35,31,31);
}
#P522_240
{
left:17053.1px;bottom:6317.55px;letter-spacing:1445.1px;color:rgb(35,31,31);
}
#P522_241
{
left:18955.2px;bottom:5888.72px;color:rgb(35,31,31);
}
#P522_242
{
left:20859.3px;bottom:6317.55px;letter-spacing:1386.4px;word-spacing:-58.7px;color:rgb(35,31,31);
}
#P522_243
{
left:22753px;bottom:6289.32px;color:rgb(35,31,31);
}
#P522_244
{
left:23312.9px;bottom:6317.55px;color:rgb(35,31,31);
}
#P522_245
{
left:25494.6px;bottom:6093.55px;color:rgb(35,31,31);
}
#P522_246
{
left:16493.4px;bottom:4945.32px;color:rgb(35,31,31);
}
#P522_247
{
left:17053.1px;bottom:4973.55px;letter-spacing:1445.1px;color:rgb(35,31,31);
}
#P522_248
{
left:18955.2px;bottom:4544.72px;color:rgb(35,31,31);
}
#P522_249
{
left:20859.3px;bottom:4973.55px;letter-spacing:1386.4px;word-spacing:-58.7px;color:rgb(35,31,31);
}
#P522_250
{
left:22753px;bottom:4945.32px;color:rgb(35,31,31);
}
#P522_251
{
left:23312.9px;bottom:4973.55px;color:rgb(35,31,31);
}
#P522_252
{
left:25494.6px;bottom:4749.55px;color:rgb(35,31,31);
}
#P522_253
{
left:4301.34px;bottom:13360.5px;color:rgb(35,31,31);
}
#P522_254
{
left:4674.39px;bottom:13388.9px;letter-spacing:-10.2px;color:rgb(35,31,31);
}
#P522_255
{
left:6691.93px;bottom:13360.5px;color:rgb(35,31,31);
}
#P522_256
{
left:4301.34px;bottom:12656.5px;letter-spacing:-14.1px;color:rgb(35,31,31);
}
#P522_257
{
left:5012.31px;bottom:12684.9px;letter-spacing:-10.4px;color:rgb(35,31,31);
}
#P522_258
{
left:2365.37px;bottom:11788px;letter-spacing:3px;color:rgb(35,31,31);
}
#P522_259
{
left:2365.37px;bottom:11004.8px;letter-spacing:-3.3px;word-spacing:-0.7px;color:rgb(35,31,31);
}
#P522_260
{
left:0px;letter-spacing:-0.3px;margin-left:2.4px;
}
#P522_261
{
left:0px;letter-spacing:-3.1px;margin-left:-4.5px;
}
#P522_262
{
left:2365.37px;bottom:10383px;color:rgb(35,31,31);
}
#P522_263
{
left:2615.28px;bottom:10164.8px;color:rgb(35,31,31);
}
#P522_264
{
left:2959.73px;bottom:10204.8px;letter-spacing:-1.3px;word-spacing:-129.7px;color:rgb(35,31,31);
}
#P522_265
{
left:0px;letter-spacing:0px;margin-left:125.6px;
}
#P522_266
{
left:0px;letter-spacing:2.2px;margin-left:-0.8px;
}
#P522_267
{
left:2365.37px;bottom:9711.02px;color:rgb(35,31,31);
}
#P522_268
{
left:2615.28px;bottom:9492.78px;letter-spacing:186.6px;color:rgb(35,31,31);
}
#P522_269
{
left:2960.24px;bottom:9532.78px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P522_270
{
left:0px;letter-spacing:-2.7px;margin-left:5.3px;
}
#P522_271
{
left:0px;letter-spacing:0.6px;margin-left:3.2px;
}
#P522_272
{
left:2365.38px;bottom:8764.78px;letter-spacing:-1.5px;word-spacing:-5.3px;color:rgb(35,31,31);
}
#P522_273
{
left:0px;letter-spacing:-0.1px;margin-left:8.7px;
}
#P522_274
{
left:2365.38px;bottom:8124.72px;letter-spacing:-18.4px;color:rgb(35,31,31);
}
#P522_275
{
left:0px;letter-spacing:2.6px;margin-left:21px;
}
#P522_276
{
left:2365.38px;bottom:7484.65px;letter-spacing:-18.4px;color:rgb(35,31,31);
}
#P522_277
{
left:0px;letter-spacing:-0.4px;margin-left:21px;
}
#P522_278
{
left:2365.38px;bottom:6844.65px;letter-spacing:-18.4px;color:rgb(35,31,31);
}
#P522_279
{
left:0px;letter-spacing:5.5px;margin-left:21px;
}
#PageContainer522
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg522.jpg");background-repeat:no-repeat;background-size: 1066px 1277px; background-position: 1px -0.450000000000045px;
}
#ImageContainer522 {bottom:87.45px;right:0.00px;width:1066.24px;height:1276.71px;position:absolute;} #TextContainer522 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.rpj{position: absolute;top: 194px;left: 160px;}
.srpj{position: absolute;top: 194px;left: 107px;}
.math_tool{position: absolute;top: 300px;left: 156px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}