.tr575{ color:transparent;}
#P575_1
{
left:6973.4px;bottom:43784.6px;color:rgb(35,31,31);
}
#P575_2
{
left:7541.98px;bottom:43804.3px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P575_3
{
left:8573.4px;bottom:43784.6px;letter-spacing:-3.5px;color:rgb(35,31,31);
}
#P575_4
{
left:0px;letter-spacing:-1.8px;margin-left:3.5px;
}
#P575_5
{
left:0px;letter-spacing:-0.2px;margin-left:1.8px;
}
#P575_6
{
left:6973.4px;bottom:42504.6px;color:rgb(35,31,31);
}
#P575_7
{
left:7933.4px;bottom:42524.3px;color:rgb(35,31,31);
}
#P575_8
{
left:8573.4px;bottom:42504.6px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P575_9
{
left:9873.82px;bottom:42524.3px;color:rgb(35,31,31);
}
#P575_10
{
left:10069.5px;bottom:42504.6px;color:rgb(35,31,31);
}
#P575_11
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P575_12
{
left:11838px;bottom:42944.3px;color:rgb(35,31,31);
}
#P575_13
{
left:12173.8px;bottom:42522.2px;color:rgb(35,31,31);
}
#P575_14
{
left:11816.9px;bottom:42488.6px;color:rgb(35,31,31);
}
#P575_15
{
left:12194.9px;bottom:42505.9px;color:rgb(35,31,31);
}
#P575_16
{
left:11838px;bottom:42036.8px;color:rgb(35,31,31);
}
#P575_17
{
left:12173.8px;bottom:42522.2px;color:rgb(35,31,31);
}
#P575_18
{
left:12194.9px;bottom:42504.6px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P575_19
{
left:0px;letter-spacing:-0.3px;margin-left:158.4px;
}
#P575_20
{
left:0px;letter-spacing:0px;margin-left:-20.7px;
}
#P575_21
{
left:0px;letter-spacing:-4.7px;
}
#P575_22
{
left:6973.4px;bottom:41032.6px;color:rgb(35,31,31);
}
#P575_23
{
left:7933.4px;bottom:41052.3px;color:rgb(35,31,31);
}
#P575_24
{
left:8573.4px;bottom:41032.6px;color:rgb(35,31,31);
}
#P575_25
{
left:9183.77px;bottom:41052.3px;color:rgb(35,31,31);
}
#P575_26
{
left:9379.48px;bottom:41032.6px;letter-spacing:-0.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P575_27
{
left:0px;letter-spacing:-0.1px;margin-left:-6.8px;
}
#P575_28
{
left:0px;letter-spacing:-0.1px;margin-left:-6.7px;
}
#P575_29
{
left:0px;letter-spacing:-0.1px;margin-left:88px;
}
#P575_30
{
left:15701.7px;bottom:41472.3px;color:rgb(35,31,31);
}
#P575_31
{
left:16037.5px;bottom:41050.2px;color:rgb(35,31,31);
}
#P575_32
{
left:15680.6px;bottom:41016.6px;color:rgb(35,31,31);
}
#P575_33
{
left:16058.6px;bottom:41033.9px;color:rgb(35,31,31);
}
#P575_34
{
left:15701.7px;bottom:40564.8px;color:rgb(35,31,31);
}
#P575_35
{
left:16037.5px;bottom:41050.2px;color:rgb(35,31,31);
}
#P575_36
{
left:16058.6px;bottom:41032.6px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P575_37
{
left:0px;letter-spacing:0px;margin-left:158.4px;
}
#P575_38
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P575_39
{
left:0px;letter-spacing:-0.4px;
}
#P575_40
{
left:6973.4px;bottom:39752.6px;color:rgb(35,31,31);
}
#P575_41
{
left:7933.27px;bottom:39772.3px;letter-spacing:444.3px;color:rgb(35,31,31);
}
#P575_42
{
left:8573.4px;bottom:39752.6px;color:rgb(35,31,31);
}
#P575_43
{
left:9604.76px;bottom:39772.3px;color:rgb(35,31,31);
}
#P575_44
{
left:9800.47px;bottom:39752.6px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P575_45
{
left:8573.4px;bottom:38856.6px;letter-spacing:-1.1px;color:rgb(35,31,31);
}
#P575_46
{
left:0px;letter-spacing:0px;margin-left:1.1px;
}
#P575_47
{
left:8573.4px;bottom:37960.6px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P575_48
{
left:0px;letter-spacing:0px;margin-left:-20.1px;
}
#P575_49
{
left:0px;letter-spacing:-0.9px;
}
#P575_50
{
left:8573.4px;bottom:37064.7px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P575_51
{
left:17173.4px;bottom:37064.6px;color:rgb(0,124,196);
}
#P575_52
{
left:6973.4px;bottom:35592.6px;color:rgb(35,31,31);
}
#P575_53
{
left:8449.11px;bottom:35612.3px;color:rgb(35,31,31);
}
#P575_54
{
left:9597.41px;bottom:35592.6px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P575_55
{
left:10452.8px;bottom:36032.3px;color:rgb(35,31,31);
}
#P575_56
{
left:10788.6px;bottom:35610.2px;color:rgb(35,31,31);
}
#P575_57
{
left:10431.6px;bottom:35576.6px;color:rgb(35,31,31);
}
#P575_58
{
left:10809.7px;bottom:35593.9px;color:rgb(35,31,31);
}
#P575_59
{
left:10452.8px;bottom:35124.8px;color:rgb(35,31,31);
}
#P575_60
{
left:10788.6px;bottom:35610.2px;color:rgb(35,31,31);
}
#P575_61
{
left:10968.1px;bottom:35592.6px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P575_62
{
left:16783.3px;bottom:35612.3px;color:rgb(35,31,31);
}
#P575_63
{
left:17853.4px;bottom:35592.6px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P575_64
{
left:18708.8px;bottom:36032.3px;color:rgb(35,31,31);
}
#P575_65
{
left:19044.6px;bottom:35610.2px;color:rgb(35,31,31);
}
#P575_66
{
left:18687.6px;bottom:35576.6px;color:rgb(35,31,31);
}
#P575_67
{
left:19065.7px;bottom:35593.9px;color:rgb(35,31,31);
}
#P575_68
{
left:18708.8px;bottom:35124.8px;color:rgb(35,31,31);
}
#P575_69
{
left:19044.6px;bottom:35610.2px;color:rgb(35,31,31);
}
#P575_70
{
left:19224.1px;bottom:35592.6px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P575_71
{
left:6973.4px;bottom:33736.5px;color:rgb(35,31,31);
}
#P575_72
{
left:8527.39px;bottom:33756.2px;color:rgb(35,31,31);
}
#P575_73
{
left:9597.54px;bottom:33736.5px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P575_74
{
left:10452.8px;bottom:34176.3px;color:rgb(35,31,31);
}
#P575_75
{
left:10788.6px;bottom:33754.2px;color:rgb(35,31,31);
}
#P575_76
{
left:10431.6px;bottom:33720.6px;color:rgb(35,31,31);
}
#P575_77
{
left:10809.7px;bottom:33737.9px;color:rgb(35,31,31);
}
#P575_78
{
left:10452.8px;bottom:33268.8px;color:rgb(35,31,31);
}
#P575_79
{
left:10788.6px;bottom:33754.2px;color:rgb(35,31,31);
}
#P575_80
{
left:10809.7px;bottom:33736.6px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P575_81
{
left:0px;letter-spacing:0px;margin-left:158.4px;
}
#P575_82
{
left:16705.1px;bottom:33756.3px;color:rgb(35,31,31);
}
#P575_83
{
left:17853.4px;bottom:33736.6px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P575_84
{
left:18708.8px;bottom:34176.3px;color:rgb(35,31,31);
}
#P575_85
{
left:19044.6px;bottom:33754.2px;color:rgb(35,31,31);
}
#P575_86
{
left:18687.6px;bottom:33720.6px;color:rgb(35,31,31);
}
#P575_87
{
left:19065.7px;bottom:33737.9px;color:rgb(35,31,31);
}
#P575_88
{
left:18708.8px;bottom:33268.8px;color:rgb(35,31,31);
}
#P575_89
{
left:19044.6px;bottom:33754.2px;color:rgb(35,31,31);
}
#P575_90
{
left:19224.1px;bottom:33736.6px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P575_91
{
left:6973.4px;bottom:31304.6px;color:rgb(35,31,31);
}
#P575_92
{
left:7541.98px;bottom:31324.3px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P575_93
{
left:8573.4px;bottom:31304.6px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P575_94
{
left:0px;letter-spacing:-2.8px;margin-left:-13.1px;
}
#P575_95
{
left:0px;letter-spacing:0px;margin-left:2.8px;
}
#P575_96
{
left:8573.4px;bottom:30408.7px;letter-spacing:-0.2px;word-spacing:0.2px;color:rgb(35,31,31);
}
#P575_97
{
left:14462.4px;bottom:30408.6px;color:rgb(0,124,196);
}
#P575_98
{
left:6973.4px;bottom:28936.6px;color:rgb(35,31,31);
}
#P575_99
{
left:8696.15px;bottom:28956.3px;letter-spacing:-90.7px;color:rgb(35,31,31);
}
#P575_100
{
left:9153.11px;bottom:28936.6px;color:rgb(35,31,31);
}
#P575_101
{
left:9597.4px;bottom:28907.1px;color:rgb(35,31,31);
}
#P575_102
{
left:10183.8px;bottom:28936.6px;color:rgb(35,31,31);
}
#P575_103
{
left:10557px;bottom:29280.3px;color:rgb(35,31,31);
}
#P575_104
{
left:10828.2px;bottom:28936.6px;color:rgb(35,31,31);
}
#P575_105
{
left:16705.1px;bottom:28956.3px;color:rgb(35,31,31);
}
#P575_106
{
left:17409.1px;bottom:28936.6px;letter-spacing:285.9px;color:rgb(35,31,31);
}
#P575_107
{
left:18099.8px;bottom:28907.1px;color:rgb(35,31,31);
}
#P575_108
{
left:18686.2px;bottom:28936.6px;color:rgb(35,31,31);
}
#P575_109
{
left:19305.8px;bottom:29280.3px;color:rgb(35,31,31);
}
#P575_110
{
left:6973.4px;bottom:27592.6px;color:rgb(35,31,31);
}
#P575_111
{
left:8449.11px;bottom:27612.3px;color:rgb(35,31,31);
}
#P575_112
{
left:9153.11px;bottom:27592.6px;letter-spacing:285.9px;color:rgb(35,31,31);
}
#P575_113
{
left:9843.8px;bottom:27563.1px;color:rgb(35,31,31);
}
#P575_114
{
left:10430.2px;bottom:27592.6px;color:rgb(35,31,31);
}
#P575_115
{
left:11049.8px;bottom:27936.3px;color:rgb(35,31,31);
}
#P575_116
{
left:11321px;bottom:27592.6px;color:rgb(35,31,31);
}
#P575_117
{
left:17017.7px;bottom:27612.3px;color:rgb(35,31,31);
}
#P575_118
{
left:17409.1px;bottom:27592.6px;color:rgb(35,31,31);
}
#P575_119
{
left:17853.4px;bottom:27563.1px;color:rgb(35,31,31);
}
#P575_120
{
left:18439.8px;bottom:27592.6px;color:rgb(35,31,31);
}
#P575_121
{
left:18813px;bottom:27936.3px;color:rgb(35,31,31);
}
#P575_122
{
left:6973.4px;bottom:25224.6px;color:rgb(35,31,31);
}
#P575_123
{
left:7541.98px;bottom:25244.3px;color:rgb(35,31,31);
}
#P575_124
{
left:8573.4px;bottom:25224.6px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P575_125
{
left:0px;letter-spacing:0px;margin-left:0.4px;
}
#P575_126
{
left:25702.2px;bottom:25224.6px;color:rgb(0,124,196);
}
#P575_127
{
left:6973.4px;bottom:23432.6px;letter-spacing:6177.6px;color:rgb(35,31,31);
}
#P575_128
{
left:0px;letter-spacing:0px;margin-left:-6336px;
}
#P575_129
{
left:13498.4px;bottom:23872.3px;color:rgb(35,31,31);
}
#P575_130
{
left:13834.2px;bottom:23450.2px;color:rgb(35,31,31);
}
#P575_131
{
left:13309.4px;bottom:23416.6px;color:rgb(35,31,31);
}
#P575_132
{
left:14023.3px;bottom:23433.9px;color:rgb(35,31,31);
}
#P575_133
{
left:13330.5px;bottom:22964.8px;color:rgb(35,31,31);
}
#P575_134
{
left:14002.1px;bottom:23450.2px;color:rgb(35,31,31);
}
#P575_135
{
left:14023.3px;bottom:23432.6px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P575_136
{
left:14526.6px;bottom:23403.1px;color:rgb(35,31,31);
}
#P575_137
{
left:14958.2px;bottom:23432.6px;color:rgb(35,31,31);
}
#P575_138
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P575_139
{
left:15137.7px;bottom:23872.3px;color:rgb(35,31,31);
}
#P575_140
{
left:15473.5px;bottom:23450.2px;color:rgb(35,31,31);
}
#P575_141
{
left:15116.6px;bottom:23416.6px;color:rgb(35,31,31);
}
#P575_142
{
left:15494.6px;bottom:23433.9px;color:rgb(35,31,31);
}
#P575_143
{
left:15137.7px;bottom:22964.8px;color:rgb(35,31,31);
}
#P575_144
{
left:15473.5px;bottom:23450.2px;color:rgb(35,31,31);
}
#P575_145
{
left:15494.6px;bottom:23432.6px;color:rgb(35,31,31);
}
#P575_146
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P575_147
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P575_148
{
left:16019px;bottom:23872.3px;color:rgb(35,31,31);
}
#P575_149
{
left:16354.8px;bottom:23450.2px;color:rgb(35,31,31);
}
#P575_150
{
left:15997.9px;bottom:23416.6px;color:rgb(35,31,31);
}
#P575_151
{
left:16376px;bottom:23433.9px;color:rgb(35,31,31);
}
#P575_152
{
left:16019px;bottom:22964.8px;color:rgb(35,31,31);
}
#P575_153
{
left:16354.8px;bottom:23450.2px;color:rgb(35,31,31);
}
#P575_154
{
left:16376px;bottom:23432.6px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P575_155
{
left:16879.3px;bottom:23403.1px;color:rgb(35,31,31);
}
#P575_156
{
left:17310.9px;bottom:23432.6px;color:rgb(35,31,31);
}
#P575_157
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P575_158
{
left:17490.4px;bottom:23872.3px;color:rgb(35,31,31);
}
#P575_159
{
left:17826.2px;bottom:23450.2px;color:rgb(35,31,31);
}
#P575_160
{
left:17469.3px;bottom:23416.6px;color:rgb(35,31,31);
}
#P575_161
{
left:17847.3px;bottom:23433.9px;color:rgb(35,31,31);
}
#P575_162
{
left:17490.4px;bottom:22964.8px;color:rgb(35,31,31);
}
#P575_163
{
left:17826.2px;bottom:23450.2px;color:rgb(35,31,31);
}
#P575_164
{
left:17847.3px;bottom:23432.6px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P575_165
{
left:0px;letter-spacing:0px;margin-left:158.4px;
}
#P575_166
{
left:6973.4px;bottom:20488.6px;color:rgb(35,31,31);
}
#P575_167
{
left:7541.98px;bottom:20508.3px;color:rgb(35,31,31);
}
#P575_168
{
left:8573.4px;bottom:20488.6px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P575_169
{
left:0px;letter-spacing:-2.1px;margin-left:0.6px;
}
#P575_170
{
left:0px;letter-spacing:0px;margin-left:2.1px;
}
#P575_171
{
left:22588.1px;bottom:20488.6px;color:rgb(0,124,196);
}
#P575_172
{
left:6973.4px;bottom:19016.6px;letter-spacing:1441.6px;color:rgb(35,31,31);
}
#P575_173
{
left:0px;letter-spacing:0px;margin-left:3136px;
}
#P575_174
{
left:13309.4px;bottom:18981.4px;color:rgb(35,31,31);
}
#P575_175
{
left:13485.7px;bottom:18918.7px;color:rgb(35,31,31);
}
#P575_176
{
left:13619.5px;bottom:18987.1px;color:rgb(35,31,31);
}
#P575_177
{
left:14205.9px;bottom:19016.6px;color:rgb(35,31,31);
}
#P575_178
{
left:14737.4px;bottom:18987.1px;color:rgb(35,31,31);
}
#P575_179
{
left:15323.9px;bottom:19016.6px;color:rgb(35,31,31);
}
#P575_180
{
left:15728.7px;bottom:18987.1px;color:rgb(35,31,31);
}
#P575_181
{
left:16315.1px;bottom:19016.6px;color:rgb(35,31,31);
}
#P575_182
{
left:17656.2px;bottom:18981.4px;color:rgb(35,31,31);
}
#P575_183
{
left:17832.5px;bottom:19016.6px;color:rgb(35,31,31);
}
#P575_184
{
left:6973.4px;bottom:17224.6px;color:rgb(35,31,31);
}
#P575_185
{
left:8449.11px;bottom:17244.3px;color:rgb(35,31,31);
}
#P575_186
{
left:9153.11px;bottom:17224.6px;color:rgb(35,31,31);
}
#P575_187
{
left:9597.4px;bottom:17195px;color:rgb(35,31,31);
}
#P575_188
{
left:10183.8px;bottom:17224.6px;color:rgb(35,31,31);
}
#P575_189
{
left:23119.4px;bottom:17244.3px;color:rgb(35,31,31);
}
#P575_190
{
left:24189.5px;bottom:17224.6px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P575_191
{
left:6973.47px;bottom:15688.6px;color:rgb(35,31,31);
}
#P575_192
{
left:8527.32px;bottom:15708.3px;color:rgb(35,31,31);
}
#P575_193
{
left:9153.18px;bottom:15688.6px;color:rgb(35,31,31);
}
#P575_194
{
left:9597.53px;bottom:15659.1px;color:rgb(35,31,31);
}
#P575_195
{
left:10184px;bottom:15688.6px;color:rgb(35,31,31);
}
#P575_196
{
left:23041.3px;bottom:15708.3px;color:rgb(35,31,31);
}
#P575_197
{
left:24189.6px;bottom:15688.6px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P575_198
{
left:6973.53px;bottom:13256.6px;color:rgb(35,31,31);
}
#P575_199
{
left:7542.11px;bottom:13276.3px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P575_200
{
left:8573.53px;bottom:13256.6px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P575_201
{
left:8573.4px;bottom:12360.6px;color:rgb(0,124,196);
}
#P575_202
{
left:12508.5px;bottom:10675.7px;color:rgb(0,124,196);
}
#P575_203
{
left:13047.6px;bottom:11135.6px;color:rgb(0,124,196);
}
#P575_204
{
left:13047.6px;bottom:10482.8px;color:rgb(0,124,196);
}
#P575_205
{
left:20806.2px;bottom:11135.6px;color:rgb(0,124,196);
}
#P575_206
{
left:20806.2px;bottom:10482.8px;color:rgb(0,124,196);
}
#P575_207
{
left:11724.1px;bottom:8899.88px;color:rgb(35,31,31);
}
#P575_208
{
left:12150.6px;bottom:9013.55px;color:rgb(35,31,31);
}
#P575_209
{
left:15374.7px;bottom:8899.88px;color:rgb(35,31,31);
}
#P575_210
{
left:15801.2px;bottom:9013.55px;letter-spacing:3364.2px;color:rgb(35,31,31);
}
#P575_211
{
left:6973.4px;bottom:6728.62px;color:rgb(35,31,31);
}
#P575_212
{
left:8696.15px;bottom:6748.33px;letter-spacing:-90.7px;color:rgb(35,31,31);
}
#P575_213
{
left:9153.11px;bottom:6728.62px;color:rgb(35,31,31);
}
#P575_214
{
left:9597.4px;bottom:6699.05px;color:rgb(35,31,31);
}
#P575_215
{
left:10183.8px;bottom:6728.62px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P575_216
{
left:10578.1px;bottom:7168.3px;color:rgb(35,31,31);
}
#P575_217
{
left:10913.9px;bottom:6746.22px;color:rgb(35,31,31);
}
#P575_218
{
left:10557px;bottom:6712.61px;color:rgb(35,31,31);
}
#P575_219
{
left:10935px;bottom:6729.89px;color:rgb(35,31,31);
}
#P575_220
{
left:10578.1px;bottom:6260.78px;color:rgb(35,31,31);
}
#P575_221
{
left:10913.9px;bottom:6746.22px;color:rgb(35,31,31);
}
#P575_222
{
left:10935px;bottom:6728.62px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P575_223
{
left:23041.1px;bottom:6748.33px;color:rgb(35,31,31);
}
#P575_224
{
left:24189.4px;bottom:6728.62px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P575_225
{
left:24583.6px;bottom:7168.3px;color:rgb(35,31,31);
}
#P575_226
{
left:24919.4px;bottom:6746.22px;color:rgb(35,31,31);
}
#P575_227
{
left:24562.5px;bottom:6712.61px;color:rgb(35,31,31);
}
#P575_228
{
left:24940.6px;bottom:6729.89px;color:rgb(35,31,31);
}
#P575_229
{
left:24583.6px;bottom:6260.78px;color:rgb(35,31,31);
}
#P575_230
{
left:24919.4px;bottom:6746.22px;color:rgb(35,31,31);
}
#P575_231
{
left:24940.6px;bottom:6728.62px;color:rgb(35,31,31);
}
#P575_232
{
left:6973.47px;bottom:4744.62px;color:rgb(35,31,31);
}
#P575_233
{
left:8449.18px;bottom:4764.33px;color:rgb(35,31,31);
}
#P575_234
{
left:9153.18px;bottom:4744.62px;color:rgb(35,31,31);
}
#P575_235
{
left:9597.47px;bottom:4715.05px;color:rgb(35,31,31);
}
#P575_236
{
left:10183.9px;bottom:4744.62px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P575_237
{
left:10578.1px;bottom:5184.3px;color:rgb(35,31,31);
}
#P575_238
{
left:10913.9px;bottom:4762.22px;color:rgb(35,31,31);
}
#P575_239
{
left:10557px;bottom:4728.61px;color:rgb(35,31,31);
}
#P575_240
{
left:10935px;bottom:4745.89px;color:rgb(35,31,31);
}
#P575_241
{
left:10578.1px;bottom:4276.78px;color:rgb(35,31,31);
}
#P575_242
{
left:10913.9px;bottom:4762.22px;color:rgb(35,31,31);
}
#P575_243
{
left:10935px;bottom:4744.62px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P575_244
{
left:23353.7px;bottom:4764.33px;color:rgb(35,31,31);
}
#P575_245
{
left:24189.4px;bottom:4744.62px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P575_246
{
left:24583.6px;bottom:5184.3px;color:rgb(35,31,31);
}
#P575_247
{
left:24919.4px;bottom:4762.22px;color:rgb(35,31,31);
}
#P575_248
{
left:24562.5px;bottom:4728.61px;color:rgb(35,31,31);
}
#P575_249
{
left:24940.6px;bottom:4745.89px;color:rgb(35,31,31);
}
#P575_250
{
left:24583.6px;bottom:4276.78px;color:rgb(35,31,31);
}
#P575_251
{
left:24919.4px;bottom:4762.22px;color:rgb(35,31,31);
}
#P575_252
{
left:24940.6px;bottom:4744.62px;color:rgb(35,31,31);
}
#P575_253
{
left:4592.6px;bottom:1544.43px;color:rgb(35,31,31);
}
#P575_254
{
left:27821px;bottom:1544.43px;letter-spacing:1.8px;word-spacing:461.5px;color:rgb(35,31,31);
}
#P575_255
{
left:0px;letter-spacing:0px;margin-left:176.7px;
}
#P575_256
{
left:0px;letter-spacing:6.3px;margin-left:21.2px;
}
#P575_257
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P575_258
{
left:6651.35px;bottom:46893.1px;letter-spacing:-0.7px;word-spacing:-49.6px;color:white;
}
#P575_259
{
left:0px;bottom:0px;letter-spacing:-220px;color:white;
}
#P575_260
{
left:24494.8px;bottom:32577.7px;letter-spacing:-5.8px;color:rgb(33,31,31);
}
#P575_261
{
left:26378.9px;bottom:32312.9px;color:rgb(7,1,2);
}
#P575_262
{
left:26549.4px;bottom:32288.9px;letter-spacing:-5.5px;color:rgb(235,26,35);
}
#P575_263
{
left:29738.3px;bottom:31840.8px;letter-spacing:-7.5px;word-spacing:-0.2px;color:rgb(33,31,31);
}
#P575_264
{
left:0px;letter-spacing:-5.6px;margin-left:1.9px;
}
#P575_265
{
left:24137.6px;bottom:31981.6px;letter-spacing:-5.4px;word-spacing:-0.1px;color:rgb(33,31,31);
}
#P575_266
{
left:0px;letter-spacing:-5.6px;margin-left:143.2px;
}
#P575_267
{
left:0px;letter-spacing:-5.6px;margin-left:172.3px;
}
#P575_268
{
left:26510.4px;bottom:31001.9px;letter-spacing:-5.4px;word-spacing:-0.1px;color:rgb(33,31,31);
}
#P575_269
{
left:0px;letter-spacing:0px;margin-left:-52.2px;
}
#P575_270
{
left:28071.3px;bottom:45118.6px;color:rgb(35,31,31);
}
#P575_271
{
left:0px;letter-spacing:0px;margin-left:-38.7px;
}
#P575_272
{
left:0px;letter-spacing:0px;margin-left:-33px;
}
#P575_273
{
left:30644.4px;bottom:44937.5px;color:rgb(35,31,31);
}
#P575_274
{
left:30818px;bottom:44757px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P575_275
{
left:27912.6px;bottom:44042.1px;color:rgb(0,124,196);
}
#P575_276
{
left:28864.1px;bottom:44074.5px;color:rgb(0,124,196);
}
#P575_277
{
left:29037.7px;bottom:43894px;letter-spacing:-2.9px;color:rgb(0,124,196);
}
#P575_278
{
left:0px;letter-spacing:0px;margin-left:2.9px;
}
#P575_279
{
left:6973.4px;bottom:23432.6px;
}
#P575_280
{
left:4097.75px;bottom:46399px;
}
#PageContainer575
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg575.jpg");background-repeat:no-repeat;background-size: 1031px 1270px; background-position: 3.85px 0.119999999999891px;
}
#ImageContainer575 {bottom:93.88px;left:3.85px;width:1031.25px;height:1270.28px;position:absolute;} #TextContainer575 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}