.tr66{ color:transparent;}
#P66_1
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P66_2
{
left:3148.76px;bottom:1410.03px;color:rgb(35,31,31);
}
#P66_3
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P66_4
{
left:9121.88px;bottom:1410.03px;letter-spacing:462.3px;word-spacing:-0.2px;color:rgb(35,31,31);
}
#P66_5
{
left:0px;letter-spacing:3px;margin-left:-462.1px;
}
#P66_6
{
left:0px;letter-spacing:3.7px;margin-left:2.8px;
}
#P66_7
{
left:0px;letter-spacing:2.1px;margin-left:-3.5px;
}
#P66_8
{
left:0px;letter-spacing:8.6px;margin-left:-6.6px;
}
#P66_9
{
left:5889.56px;bottom:46957.1px;letter-spacing:-6px;color:white;
}
#P66_10
{
left:9101.72px;bottom:47255.5px;color:white;
}
#P66_11
{
left:9475.35px;bottom:46957.1px;color:white;
}
#P66_12
{
left:2372.31px;bottom:46930.2px;color:white;
}
#P66_13
{
left:4690.71px;bottom:42321.3px;color:rgb(35,31,31);
}
#P66_14
{
left:5259.55px;bottom:42341px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P66_15
{
left:6354.97px;bottom:42341px;letter-spacing:-2.8px;color:rgb(2,77,161);
}
#P66_16
{
left:10579px;bottom:42321.3px;letter-spacing:151.4px;color:rgb(35,31,31);
}
#P66_17
{
left:0px;letter-spacing:-0.2px;margin-left:-151.4px;
}
#P66_18
{
left:4690.71px;bottom:40977.3px;color:rgb(35,31,31);
}
#P66_19
{
left:5259.55px;bottom:40997px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P66_20
{
left:6354.97px;bottom:40997px;color:rgb(2,77,161);
}
#P66_21
{
left:9080.15px;bottom:40977.3px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P66_22
{
left:0px;letter-spacing:-1.5px;margin-left:-197.8px;
}
#P66_23
{
left:0px;letter-spacing:0px;margin-left:1.5px;
}
#P66_24
{
left:0px;letter-spacing:0px;margin-left:-214.7px;
}
#P66_25
{
left:0px;letter-spacing:0px;margin-left:56px;
}
#P66_26
{
left:0px;letter-spacing:-0.5px;
}
#P66_27
{
left:0px;letter-spacing:0.4px;margin-left:-17.1px;
}
#P66_28
{
left:6354.71px;bottom:40081.1px;letter-spacing:0.4px;color:rgb(35,31,31);
}
#P66_29
{
left:4088.44px;bottom:37517.4px;color:rgb(33,31,31);
}
#P66_30
{
left:4174.82px;bottom:37548.8px;letter-spacing:-0.2px;color:rgb(33,31,31);
}
#P66_31
{
left:4457.82px;bottom:37651.5px;letter-spacing:0.8px;color:rgb(33,31,31);
}
#P66_32
{
left:4604.9px;bottom:37704.9px;color:rgb(33,31,31);
}
#P66_33
{
left:4166.88px;bottom:37338.2px;color:rgb(33,31,31);
}
#P66_34
{
left:4253.28px;bottom:37369.6px;letter-spacing:0.1px;color:rgb(33,31,31);
}
#P66_35
{
left:4262.11px;bottom:37159px;color:rgb(33,31,31);
}
#P66_36
{
left:4348.51px;bottom:37190.4px;letter-spacing:0.1px;color:rgb(33,31,31);
}
#P66_37
{
left:4427.29px;bottom:36909.8px;color:rgb(33,31,31);
}
#P66_38
{
left:4513.7px;bottom:36941.1px;letter-spacing:0.1px;color:rgb(33,31,31);
}
#P66_39
{
left:4671.77px;bottom:35077.5px;color:rgb(35,31,31);
}
#P66_40
{
left:0px;letter-spacing:0px;margin-left:-31.7px;
}
#P66_41
{
left:0px;letter-spacing:0px;margin-left:-42.2px;
}
#P66_42
{
left:0px;letter-spacing:0px;margin-left:-49.3px;
}
#P66_43
{
left:0px;letter-spacing:0px;margin-left:-225.3px;
}
#P66_44
{
left:0px;letter-spacing:0px;margin-left:76.7px;
}
#P66_45
{
left:4671.77px;bottom:33925.8px;color:rgb(35,31,31);
}
#P66_46
{
left:5240.6px;bottom:33945.5px;color:rgb(35,31,31);
}
#P66_47
{
left:6271.96px;bottom:33925.8px;color:rgb(35,31,31);
}
#P66_48
{
left:15544.3px;bottom:33945.5px;color:rgb(35,31,31);
}
#P66_49
{
left:16575.7px;bottom:33925.8px;color:rgb(35,31,31);
}
#P66_50
{
left:25848.1px;bottom:33945.5px;color:rgb(35,31,31);
}
#P66_51
{
left:26751.3px;bottom:33925.8px;color:rgb(35,31,31);
}
#P66_52
{
left:4671.07px;bottom:32325.6px;letter-spacing:-2.4px;color:rgb(35,31,31);
}
#P66_53
{
left:0px;letter-spacing:0px;margin-left:2.4px;
}
#P66_54
{
left:4671.07px;bottom:31173.9px;color:rgb(35,31,31);
}
#P66_55
{
left:5239.9px;bottom:31193.6px;color:rgb(35,31,31);
}
#P66_56
{
left:6271.26px;bottom:31173.9px;color:rgb(35,31,31);
}
#P66_57
{
left:15543.6px;bottom:31193.6px;color:rgb(35,31,31);
}
#P66_58
{
left:16575px;bottom:31173.9px;color:rgb(35,31,31);
}
#P66_59
{
left:25847.4px;bottom:31193.6px;color:rgb(35,31,31);
}
#P66_60
{
left:26750.6px;bottom:31173.9px;color:rgb(35,31,31);
}
#P66_61
{
left:4670.36px;bottom:29829.9px;color:rgb(35,31,31);
}
#P66_62
{
left:5239.19px;bottom:29849.6px;color:rgb(35,31,31);
}
#P66_63
{
left:6270.55px;bottom:29829.9px;color:rgb(35,31,31);
}
#P66_64
{
left:15151.5px;bottom:29849.6px;color:rgb(35,31,31);
}
#P66_65
{
left:16574.3px;bottom:29829.9px;color:rgb(35,31,31);
}
#P66_66
{
left:25455.3px;bottom:29849.6px;color:rgb(35,31,31);
}
#P66_67
{
left:26749.9px;bottom:29829.9px;color:rgb(35,31,31);
}
#P66_68
{
left:4669.66px;bottom:28229.7px;letter-spacing:-2.4px;color:rgb(35,31,31);
}
#P66_69
{
left:0px;letter-spacing:0.3px;margin-left:2.4px;
}
#P66_70
{
left:4669.66px;bottom:27078px;color:rgb(35,31,31);
}
#P66_71
{
left:4847.07px;bottom:27097.7px;color:rgb(35,31,31);
}
#P66_72
{
left:6269.85px;bottom:27078px;color:rgb(35,31,31);
}
#P66_73
{
left:15150.8px;bottom:27097.7px;color:rgb(35,31,31);
}
#P66_74
{
left:16573.6px;bottom:27078px;color:rgb(35,31,31);
}
#P66_75
{
left:25454.6px;bottom:27097.7px;color:rgb(35,31,31);
}
#P66_76
{
left:26749.2px;bottom:27078px;color:rgb(35,31,31);
}
#P66_77
{
left:4668.95px;bottom:25734.1px;color:rgb(35,31,31);
}
#P66_78
{
left:4846.36px;bottom:25753.8px;color:rgb(35,31,31);
}
#P66_79
{
left:6269.15px;bottom:25734.1px;color:rgb(35,31,31);
}
#P66_80
{
left:15150.1px;bottom:25753.8px;color:rgb(35,31,31);
}
#P66_81
{
left:16572.9px;bottom:25734.1px;color:rgb(35,31,31);
}
#P66_82
{
left:25453.8px;bottom:25753.8px;color:rgb(35,31,31);
}
#P66_83
{
left:26748.5px;bottom:25734.1px;color:rgb(35,31,31);
}
#P66_84
{
left:8319.77px;bottom:23429.6px;color:rgb(35,31,31);
}
#P66_85
{
left:8947.74px;bottom:23442.3px;color:rgb(35,31,31);
}
#P66_86
{
left:9534.17px;bottom:23429.6px;color:rgb(35,31,31);
}
#P66_87
{
left:10308.6px;bottom:23442.3px;color:rgb(35,31,31);
}
#P66_88
{
left:10895px;bottom:23429.6px;color:rgb(35,31,31);
}
#P66_89
{
left:8319.77px;bottom:22341.2px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P66_90
{
left:0px;bottom:0px;letter-spacing:0px;color:rgb(235,26,35);
}
#P66_91
{
left:19632.9px;bottom:23961.3px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P66_92
{
left:21055.7px;bottom:23961.3px;word-spacing:-26px;color:rgb(2,77,161);
}
#P66_93
{
left:0px;letter-spacing:0px;margin-left:-52.8px;
}
#P66_94
{
left:0px;letter-spacing:0px;margin-left:-12.7px;
}
#P66_95
{
left:26349.1px;bottom:23941.5px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P66_96
{
left:0px;letter-spacing:-0.5px;margin-left:-197.8px;
}
#P66_97
{
left:0px;letter-spacing:0px;margin-left:0.5px;
}
#P66_98
{
left:21055.7px;bottom:23045.4px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P66_99
{
left:0px;letter-spacing:0px;margin-left:-214.4px;
}
#P66_100
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P66_101
{
left:0px;letter-spacing:-1.2px;
}
#P66_102
{
left:4671.77px;bottom:20165.3px;color:rgb(35,31,31);
}
#P66_103
{
left:4849.18px;bottom:20185px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P66_104
{
left:6336.03px;bottom:20185px;letter-spacing:-12.8px;color:rgb(2,77,161);
}
#P66_105
{
left:0px;letter-spacing:0px;margin-left:12.8px;
}
#P66_106
{
left:9762.39px;bottom:20165.3px;letter-spacing:151.1px;word-spacing:0.2px;color:rgb(35,31,31);
}
#P66_107
{
left:0px;letter-spacing:-0.2px;margin-left:-214.7px;
}
#P66_108
{
left:0px;letter-spacing:0.3px;margin-left:158.9px;
}
#P66_109
{
left:19702.2px;bottom:20165.3px;word-spacing:56.3px;color:rgb(35,31,31);
}
#P66_110
{
left:20754.6px;bottom:20165.5px;color:rgb(35,31,31);
}
#P66_111
{
left:6336.03px;bottom:19269.4px;letter-spacing:-0.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P66_112
{
left:0px;letter-spacing:0px;margin-left:-66.8px;
}
#P66_113
{
left:0px;letter-spacing:-25.4px;margin-left:133px;
}
#P66_114
{
left:0px;letter-spacing:0px;margin-left:-45.1px;
}
#P66_115
{
left:0px;letter-spacing:-0.7px;margin-left:-0.1px;
}
#P66_116
{
left:6336.03px;bottom:18373.2px;letter-spacing:-0.9px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P66_117
{
left:0px;letter-spacing:-5.4px;margin-left:-11.9px;
}
#P66_118
{
left:0px;letter-spacing:-0.3px;margin-left:163.5px;
}
#P66_119
{
left:6336.03px;bottom:17477px;color:rgb(35,31,31);
}
#P66_120
{
left:4671.77px;bottom:15812.7px;color:rgb(35,31,31);
}
#P66_121
{
left:4849.18px;bottom:15832.4px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P66_122
{
left:6336.03px;bottom:15832.4px;letter-spacing:-1.8px;color:rgb(2,77,161);
}
#P66_123
{
left:9583.58px;bottom:15812.7px;color:rgb(35,31,31);
}
#P66_124
{
left:0px;letter-spacing:0px;margin-left:193.6px;
}
#P66_125
{
left:0px;letter-spacing:0px;margin-left:-21.1px;
}
#P66_126
{
left:6336.03px;bottom:14916.5px;color:rgb(35,31,31);
}
#P66_127
{
left:13734.2px;bottom:14917.4px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P66_128
{
left:6335.9px;bottom:14021.2px;letter-spacing:-0.7px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P66_129
{
left:0px;letter-spacing:-0.1px;margin-left:0.6px;
}
#P66_130
{
left:6335.9px;bottom:13125px;color:rgb(35,31,31);
}
#P66_131
{
left:4671.64px;bottom:11396.7px;color:rgb(35,31,31);
}
#P66_132
{
left:4849.05px;bottom:11416.4px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P66_133
{
left:6335.9px;bottom:11416.4px;color:rgb(2,77,161);
}
#P66_134
{
left:9739.03px;bottom:11396.7px;letter-spacing:151.4px;color:rgb(35,31,31);
}
#P66_135
{
left:0px;letter-spacing:-1px;margin-left:-151.4px;
}
#P66_136
{
left:0px;letter-spacing:0px;margin-left:-13.1px;
}
#P66_137
{
left:0px;letter-spacing:0px;margin-left:-12.7px;
}
#P66_138
{
left:0px;letter-spacing:-0.2px;margin-left:-14.1px;
}
#P66_139
{
left:6335.9px;bottom:10500.5px;color:rgb(35,31,31);
}
#P66_140
{
left:7265.05px;bottom:10501.4px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P66_141
{
left:0px;letter-spacing:0px;margin-left:1.3px;
}
#P66_142
{
left:4671.51px;bottom:9157.42px;color:rgb(35,31,31);
}
#P66_143
{
left:5631.77px;bottom:9177.13px;color:rgb(35,31,31);
}
#P66_144
{
left:6335.77px;bottom:9177.13px;color:rgb(0,124,196);
}
#P66_145
{
left:7039.77px;bottom:9177.13px;color:rgb(35,31,31);
}
#P66_146
{
left:8289.43px;bottom:7394.92px;color:rgb(35,31,31);
}
#P66_147
{
left:0px;letter-spacing:0px;margin-left:1352.7px;
}
#P66_148
{
left:0px;letter-spacing:0px;margin-left:1352.7px;
}
#P66_149
{
left:0px;letter-spacing:0px;margin-left:1210.4px;
}
#P66_150
{
left:0px;letter-spacing:0px;margin-left:1068px;
}
#P66_151
{
left:0px;letter-spacing:0px;margin-left:1068px;
}
#P66_152
{
left:0px;letter-spacing:0px;margin-left:1068px;
}
#P66_153
{
left:19295.8px;bottom:9157.55px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P66_154
{
left:20774.2px;bottom:9177.26px;color:rgb(0,124,196);
}
#P66_155
{
left:21400.1px;bottom:9157.55px;color:rgb(35,31,31);
}
#P66_156
{
left:22649.8px;bottom:7400.17px;color:rgb(35,31,31);
}
#P66_157
{
left:0px;letter-spacing:0px;margin-left:1352.7px;
}
#P66_158
{
left:0px;letter-spacing:0px;margin-left:1352.7px;
}
#P66_159
{
left:0px;letter-spacing:0px;margin-left:1210.4px;
}
#P66_160
{
left:0px;letter-spacing:0px;margin-left:1068px;
}
#P66_161
{
left:0px;letter-spacing:0px;margin-left:1068px;
}
#P66_162
{
left:0px;letter-spacing:0px;margin-left:1068px;
}
#P66_163
{
left:4671.77px;bottom:5701.55px;color:rgb(35,31,31);
}
#P66_164
{
left:5632.03px;bottom:5721.26px;color:rgb(35,31,31);
}
#P66_165
{
left:6336.03px;bottom:5721.26px;color:rgb(0,124,196);
}
#P66_166
{
left:6961.88px;bottom:5721.26px;color:rgb(35,31,31);
}
#P66_167
{
left:8281.69px;bottom:4182.57px;color:rgb(35,31,31);
}
#P66_168
{
left:0px;letter-spacing:0px;margin-left:1352.7px;
}
#P66_169
{
left:0px;letter-spacing:0px;margin-left:1352.7px;
}
#P66_170
{
left:0px;letter-spacing:0px;margin-left:1210.4px;
}
#P66_171
{
left:0px;letter-spacing:0px;margin-left:1068px;
}
#P66_172
{
left:0px;letter-spacing:0px;margin-left:1068px;
}
#P66_173
{
left:0px;letter-spacing:0px;margin-left:1068px;
}
#P66_174
{
left:19288.1px;bottom:5701.55px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P66_175
{
left:20696.1px;bottom:5721.26px;color:rgb(0,124,196);
}
#P66_176
{
left:21400.1px;bottom:5701.55px;color:rgb(35,31,31);
}
#P66_177
{
left:22649.8px;bottom:4182.57px;color:rgb(35,31,31);
}
#P66_178
{
left:0px;letter-spacing:0px;margin-left:1352.7px;
}
#P66_179
{
left:0px;letter-spacing:0px;margin-left:1352.7px;
}
#P66_180
{
left:0px;letter-spacing:0px;margin-left:1210.4px;
}
#P66_181
{
left:0px;letter-spacing:0px;margin-left:1068px;
}
#P66_182
{
left:0px;letter-spacing:0px;margin-left:1068px;
}
#P66_183
{
left:0px;letter-spacing:0px;margin-left:1068px;
}
#P66_184
{
left:4671.77px;bottom:2693.55px;color:rgb(35,31,31);
}
#P66_185
{
left:5632.03px;bottom:2713.26px;letter-spacing:508.3px;color:rgb(35,31,31);
}
#P66_186
{
left:26785.2px;bottom:46233.7px;word-spacing:0.2px;color:rgb(33,31,31);
}
#P66_187
{
left:3954.73px;bottom:31154.6px;
}
#P66_188
{
left:3954.73px;bottom:31154.6px;color:white;
}
#P66_189
{
left:3963.8px;bottom:27154.6px;
}
#P66_190
{
left:3963.8px;bottom:27154.6px;color:white;
}
#P66_191
{
left:5440.41px;bottom:22551.7px;
}
#PageContainer66
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg066.jpg");background-repeat:no-repeat;background-size: 993px 1239px; background-position: 0px 35.0799999999999px;
}
#ImageContainer66 {bottom:89.92px;left:0.00px;width:993.17px;height:1238.58px;position:absolute;} #TextContainer66 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.answer{position: absolute;top: 49px;left: 28px;}
.c1{position: absolute;top: 489px;left: 95px;}
.c2{position: absolute;top: 597px;left: 97px;}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}