.tr710{ color:transparent;}
#P710_1
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P710_2
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P710_3
{
left:8197.72px;bottom:1544.43px;letter-spacing:462.1px;color:rgb(35,31,31);
}
#P710_4
{
left:0px;letter-spacing:3.5px;margin-left:-461.2px;
}
#P710_5
{
left:5889.56px;bottom:46957.1px;color:white;
}
#P710_6
{
left:2371.78px;bottom:46929.9px;color:white;
}
#P710_7
{
left:2856.07px;bottom:43520.6px;letter-spacing:-7.7px;word-spacing:-26px;color:rgb(0,124,196);
}
#P710_8
{
left:0px;letter-spacing:0px;margin-left:7.7px;
}
#P710_9
{
left:2856.07px;bottom:42578.7px;color:rgb(35,31,31);
}
#P710_10
{
left:5523.55px;bottom:42578.7px;color:rgb(35,31,31);
}
#P710_11
{
left:2856.07px;bottom:41682.7px;color:rgb(35,31,31);
}
#P710_12
{
left:5309.85px;bottom:41682.7px;color:rgb(35,31,31);
}
#P710_13
{
left:12285.4px;bottom:41944.7px;color:rgb(35,31,31);
}
#P710_14
{
left:12755px;bottom:42101px;color:rgb(35,31,31);
}
#P710_15
{
left:12950.7px;bottom:41944.7px;color:rgb(35,31,31);
}
#P710_16
{
left:12285.4px;bottom:40837px;color:rgb(35,31,31);
}
#P710_17
{
left:12890.8px;bottom:40837px;color:rgb(35,31,31);
}
#P710_18
{
left:15765.2px;bottom:40837px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P710_19
{
left:12285.4px;bottom:39000.6px;color:rgb(35,31,31);
}
#P710_20
{
left:12285.4px;bottom:37892.9px;letter-spacing:-70.3px;word-spacing:26.5px;color:rgb(35,31,31);
}
#P710_21
{
left:0px;letter-spacing:-0.4px;margin-left:254.8px;
}
#P710_22
{
left:0px;letter-spacing:0px;margin-left:0.4px;
}
#P710_23
{
left:0px;letter-spacing:-1.1px;
}
#P710_24
{
left:0px;letter-spacing:0px;margin-left:-12.9px;
}
#P710_25
{
left:0px;letter-spacing:0px;margin-left:-66.8px;
}
#P710_26
{
left:0px;letter-spacing:-8.4px;margin-left:176.4px;
}
#P710_27
{
left:0px;letter-spacing:-1.5px;margin-left:191.8px;
}
#P710_28
{
left:12285.4px;bottom:36996.9px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P710_29
{
left:0px;letter-spacing:0.1px;margin-left:1px;
}
#P710_30
{
left:29526.8px;bottom:36996.9px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P710_31
{
left:32165.5px;bottom:36996.9px;color:rgb(35,31,31);
}
#P710_32
{
left:5501.34px;bottom:33889.6px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P710_33
{
left:12369.7px;bottom:33914.2px;color:white;
}
#P710_34
{
left:12785.3px;bottom:34106px;color:white;
}
#P710_35
{
left:13025.5px;bottom:33914.2px;color:white;
}
#P710_36
{
left:14001.8px;bottom:34106px;color:white;
}
#P710_37
{
left:14242px;bottom:33914.2px;color:white;
}
#P710_38
{
left:18804.8px;bottom:34106px;color:white;
}
#P710_39
{
left:19045px;bottom:33914.2px;color:white;
}
#P710_40
{
left:10525.3px;bottom:33747.1px;
}
#P710_41
{
left:10525.3px;bottom:33747.1px;color:white;
}
#P710_42
{
left:11596.6px;bottom:32284.8px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P710_43
{
left:0px;letter-spacing:14px;margin-left:-41.8px;
}
#P710_44
{
left:0px;letter-spacing:0.3px;margin-left:-14px;
}
#P710_45
{
left:11596.6px;bottom:31132.8px;letter-spacing:-2.6px;color:rgb(35,31,31);
}
#P710_46
{
left:15573px;bottom:31132.8px;word-spacing:545.6px;color:rgb(35,31,31);
}
#P710_47
{
left:0px;letter-spacing:0px;margin-left:-6.9px;
}
#P710_48
{
left:0px;letter-spacing:0px;margin-left:-545.6px;
}
#P710_49
{
left:17561.9px;bottom:31132.8px;color:rgb(35,31,31);
}
#P710_50
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P710_51
{
left:0px;letter-spacing:0px;margin-left:-25.2px;
}
#P710_52
{
left:11596.7px;bottom:29468.8px;color:rgb(35,31,31);
}
#P710_53
{
left:17164.6px;bottom:29468.8px;color:rgb(235,26,35);
}
#P710_54
{
left:17559.6px;bottom:29468.8px;color:rgb(35,31,31);
}
#P710_55
{
left:17718px;bottom:29439.2px;color:rgb(35,31,31);
}
#P710_56
{
left:18304.4px;bottom:29468.8px;color:rgb(35,31,31);
}
#P710_57
{
left:18462.8px;bottom:29468.8px;color:rgb(0,170,77);
}
#P710_58
{
left:18878.2px;bottom:29468.8px;color:rgb(35,31,31);
}
#P710_59
{
left:18983.8px;bottom:29030.2px;color:rgb(35,31,31);
}
#P710_60
{
left:19335.6px;bottom:29468.8px;color:rgb(35,31,31);
}
#P710_61
{
left:19493.9px;bottom:29468.8px;color:rgb(0,124,196);
}
#P710_62
{
left:20046.6px;bottom:29468.8px;color:rgb(35,31,31);
}
#P710_63
{
left:23436.7px;bottom:29476.8px;color:rgb(0,124,196);
}
#P710_64
{
left:11596.7px;bottom:27996.8px;color:rgb(35,31,31);
}
#P710_65
{
left:0px;letter-spacing:0px;margin-left:5635.3px;
}
#P710_66
{
left:17707px;bottom:27967.2px;color:rgb(35,31,31);
}
#P710_67
{
left:18293.4px;bottom:27996.8px;color:rgb(35,31,31);
}
#P710_68
{
left:18451.9px;bottom:27996.8px;color:rgb(0,170,77);
}
#P710_69
{
left:19757.8px;bottom:27996.8px;color:rgb(35,31,31);
}
#P710_70
{
left:19863.4px;bottom:27558.2px;color:rgb(35,31,31);
}
#P710_71
{
left:20215.2px;bottom:27996.8px;color:rgb(35,31,31);
}
#P710_72
{
left:20373.6px;bottom:27996.8px;color:rgb(0,124,196);
}
#P710_73
{
left:21119.8px;bottom:27996.8px;color:rgb(35,31,31);
}
#P710_74
{
left:23436.7px;bottom:28004.8px;color:rgb(0,124,196);
}
#P710_75
{
left:28321.3px;bottom:28023.6px;color:rgb(0,124,196);
}
#P710_76
{
left:28690.8px;bottom:28004.8px;color:rgb(0,124,196);
}
#P710_77
{
left:31648.9px;bottom:28023.6px;color:rgb(0,124,196);
}
#P710_78
{
left:32152.7px;bottom:28004.8px;color:rgb(0,124,196);
}
#P710_79
{
left:11596.7px;bottom:26524.8px;color:rgb(35,31,31);
}
#P710_80
{
left:0px;letter-spacing:0px;margin-left:5635.3px;
}
#P710_81
{
left:17707px;bottom:26495.3px;color:rgb(35,31,31);
}
#P710_82
{
left:18293.4px;bottom:26524.8px;color:rgb(35,31,31);
}
#P710_83
{
left:23500.7px;bottom:26532.8px;color:rgb(0,124,196);
}
#P710_84
{
left:0px;letter-spacing:0px;margin-left:-49.7px;
}
#P710_85
{
left:15564.7px;bottom:25244.8px;word-spacing:3809.6px;color:rgb(35,31,31);
}
#P710_86
{
left:0px;letter-spacing:0px;margin-left:-21px;
}
#P710_87
{
left:0px;letter-spacing:0px;margin-left:-3809.6px;
}
#P710_88
{
left:17598.6px;bottom:25244.8px;letter-spacing:28.2px;color:rgb(35,31,31);
}
#P710_89
{
left:0px;letter-spacing:-0.6px;margin-left:-28.2px;
}
#P710_90
{
left:11596.6px;bottom:23452.8px;color:rgb(35,31,31);
}
#P710_91
{
left:17737.2px;bottom:23364.8px;letter-spacing:0.6px;color:rgb(35,31,31);
}
#P710_92
{
left:21324.6px;bottom:23452.8px;color:rgb(35,31,31);
}
#P710_93
{
left:21483px;bottom:23423.3px;color:rgb(35,31,31);
}
#P710_94
{
left:22069.5px;bottom:23452.8px;color:rgb(35,31,31);
}
#P710_95
{
left:22798.9px;bottom:23356.8px;letter-spacing:0.8px;color:rgb(35,31,31);
}
#P710_96
{
left:27613.4px;bottom:23452.8px;color:rgb(35,31,31);
}
#P710_97
{
left:27771.8px;bottom:23423.3px;color:rgb(35,31,31);
}
#P710_98
{
left:28358.2px;bottom:23452.8px;color:rgb(35,31,31);
}
#P710_99
{
left:29200.3px;bottom:23364.8px;color:rgb(35,31,31);
}
#P710_100
{
left:11596.6px;bottom:21788.8px;letter-spacing:9581.2px;color:rgb(35,31,31);
}
#P710_101
{
left:21494.5px;bottom:21759.3px;color:rgb(35,31,31);
}
#P710_102
{
left:22080.9px;bottom:21788.8px;color:rgb(35,31,31);
}
#P710_103
{
left:0px;letter-spacing:0px;margin-left:2265.7px;
}
#P710_104
{
left:0px;letter-spacing:0px;margin-left:2040px;
}
#P710_105
{
left:27766.6px;bottom:21759.3px;color:rgb(35,31,31);
}
#P710_106
{
left:28353px;bottom:21788.8px;color:rgb(35,31,31);
}
#P710_107
{
left:0px;letter-spacing:0px;margin-left:1409.8px;
}
#P710_108
{
left:11596.6px;bottom:20508.8px;letter-spacing:9582.4px;color:rgb(35,31,31);
}
#P710_109
{
left:21495.8px;bottom:20479.3px;color:rgb(35,31,31);
}
#P710_110
{
left:22082.3px;bottom:20508.8px;color:rgb(35,31,31);
}
#P710_111
{
left: 17393.6px;bottom:18844.8px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P710_112
{
left:0px;letter-spacing:-14px;margin-left:-554px;
}
#P710_113
{
left:0px;letter-spacing:0.2px;margin-left:14px;
}
#P710_114
{
left:11596.6px;bottom:16796.8px;letter-spacing:-2.6px;color:rgb(35,31,31);
}
#P710_115
{
left:15573px;bottom:16796.8px;word-spacing:545.6px;color:rgb(35,31,31);
}
#P710_116
{
left:0px;letter-spacing:0px;margin-left:-6.8px;
}
#P710_117
{
left:0px;letter-spacing:0px;margin-left:-545.6px;
}
#P710_118
{
left:17562px;bottom:16796.8px;letter-spacing:28.2px;color:rgb(35,31,31);
}
#P710_119
{
left:0px;letter-spacing:-0.1px;margin-left:-28.2px;
}
#P710_120
{
left:0px;letter-spacing:0px;margin-left:-13.9px;
}
#P710_121
{
left:17164.7px;bottom:15516.8px;word-spacing:5409.6px;color:rgb(35,31,31);
}
#P710_122
{
left:19032.4px;bottom:15487.2px;color:rgb(35,31,31);
}
#P710_123
{
left:19618.8px;bottom:15516.8px;color:rgb(35,31,31);
}
#P710_124
{
left:21271.8px;bottom:15487.2px;color:rgb(35,31,31);
}
#P710_125
{
left:21858.3px;bottom:15516.8px;color:rgb(35,31,31);
}
#P710_126
{
left:15628.7px;bottom:14236.7px;word-spacing:3873.6px;color:rgb(35,31,31);
}
#P710_127
{
left:0px;letter-spacing:0px;margin-left:-20.9px;
}
#P710_128
{
left:0px;letter-spacing:0px;margin-left:-3873.6px;
}
#P710_129
{
left:17662.7px;bottom:14236.7px;letter-spacing:28.2px;color:rgb(35,31,31);
}
#P710_130
{
left:0px;letter-spacing:-0.6px;margin-left:-28.2px;
}
#P710_131
{
left:17228.7px;bottom:12956.7px;word-spacing:5473.6px;color:rgb(35,31,31);
}
#P710_132
{
left:0px;letter-spacing:0px;margin-left:-5473.6px;
}
#P710_133
{
left:0px;letter-spacing:0px;margin-left:5.5px;
}
#P710_134
{
left:20402.1px;bottom:12927.1px;color:rgb(35,31,31);
}
#P710_135
{
left:20988.6px;bottom:12956.7px;color:rgb(35,31,31);
}
#P710_136
{
left:11596.7px;bottom:11676.7px;letter-spacing:8481.6px;color:rgb(35,31,31);
}
#P710_137
{
left:20395.1px;bottom:11647.1px;color:rgb(35,31,31);
}
#P710_138
{
left:20981.5px;bottom:11676.7px;color:rgb(35,31,31);
}
#P710_139
{
left:22551.4px;bottom:11238.2px;color:rgb(35,31,31);
}
#P710_140
{
left:22903.2px;bottom:11676.8px;color:rgb(35,31,31);
}
#P710_141
{
left:11596.6px;bottom:10396.8px;letter-spacing:8481.6px;color:rgb(35,31,31);
}
#P710_142
{
left:20394.9px;bottom:10367.2px;color:rgb(35,31,31);
}
#P710_143
{
left:20981.3px;bottom:10396.8px;color:rgb(35,31,31);
}
#P710_144
{
left: 12881.6px;bottom:8348.78px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P710_145
{
left:0px;letter-spacing:-14px;margin-left:-554px;
}
#P710_146
{
left:0px;letter-spacing:0.2px;margin-left:14px;
}
#P710_147
{
left:34557.4px;bottom:8348.78px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P710_148
{
left:11596.7px;bottom:4892.78px;color:rgb(35,31,31);
}
#P710_149
{
left:12060.2px;bottom:4919.6px;word-spacing:453.2px;color:rgb(35,31,31);
}
#P710_150
{
left:13260.6px;bottom:4892.78px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P710_151
{
left:0px;letter-spacing:0px;margin-left:-25.2px;
}
#P710_152
{
left:0px;letter-spacing:0.5px;
}
#P710_153
{
left:13260.6px;bottom:3996.78px;color:rgb(35,31,31);
}
#P710_154
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P710_155
{
left:0px;letter-spacing:0px;margin-left:5.5px;
}
#P710_156
{
left:5709.4px;
bottom: 3728.04px;word-spacing:-66.2px;color:rgb(35,31,31);
}
#P710_157
{
left:0px;letter-spacing:0px;margin-left:66.2px;
}
#P710_158
{
left:2514.73px;bottom:14782.3px;color:white;
}
#P710_159
{
left:5870.36px;bottom:15024px;color:white;
}
#P710_160
{
left:6206.3px;bottom:14782.3px;color:white;
}
#P710_161
{
left:2749.4px;bottom:13679.4px;color:rgb(35,31,31);
}
#P710_162
{
left:2749.4px;bottom:12911.4px;color:rgb(35,31,31);
}
#P710_163
{
left:2749.4px;bottom:12143.4px;color:rgb(35,31,31);
}
#P710_164
{
left:26785.2px;bottom:46188.3px;word-spacing:0.2px;color:rgb(33,31,31);
}
#P710_165
{
left:0px;letter-spacing:0px;margin-left:-44.8px;
}
#P710_166
{
left:0px;letter-spacing:0px;margin-left:0.2px;
}
#P710_167
{
left:24623.5px;bottom:6727.6px;color:rgb(35,31,31);
}
#P710_168
{
left:0px;letter-spacing:0px;margin-left:2559.2px;
}
#P710_169
{
left:0px;letter-spacing:0px;margin-left:879px;
}
#P710_170
{
left:24852.8px;bottom:8474.6px;color:rgb(35,31,31);
}
#P710_171
{
left:0px;letter-spacing:0px;margin-left:4396.6px;
}
#P710_172
{
left:28724.6px;bottom:8474.6px;color:rgb(35,31,31);
}
#P710_173
{
left:23103.8px;bottom:6727.6px;color:rgb(35,31,31);
}
#P710_174
{
left:22815.8px;bottom:8474.6px;color:rgb(35,31,31);
}
#P710_175
{
left:22727.6px;bottom:9212.78px;color:rgb(235,26,35);
}
#P710_176
{
left:33286.6px;bottom:7478.76px;color:rgb(235,26,35);
}
#PageContainer710
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg710.jpg");background-repeat:no-repeat;background-size: 988px 1291px; background-position: 0px 35.3699999999999px;
}
#ImageContainer710 {bottom:37.63px;left:0.00px;width:987.72px;height:1291.35px;position:absolute;} #TextContainer710 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.example1{position: absolute;top: 412px;left: 110px;}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}
.now1
{
position: absolute;
top: 1207px;
left: 125px;
}
#middle-toolbar img{vertical-align: middle;}