.tr2{ color:transparent;}
#P2_1
{
left:13904.5px;bottom:42670.4px;color:rgb(35,31,31);
}
#P2_2
{
left:5985.95px;bottom:41203.6px;letter-spacing:-5.4px;color:rgb(35,31,31);
}
#P2_3
{
left:0px;letter-spacing:-0.4px;margin-left:5.4px;
}
#P2_4
{
left:5985.95px;bottom:40371.6px;letter-spacing:-2.7px;color:rgb(35,31,31);
}
#P2_5
{
left:0px;letter-spacing:-2.4px;margin-left:-10.1px;
}
#P2_6
{
left:0px;letter-spacing:0px;margin-left:2.4px;
}
#P2_7
{
left:5985.95px;bottom:39539.6px;letter-spacing:-1.5px;word-spacing:0.3px;color:rgb(35,31,31);
}
#P2_8
{
left:0px;letter-spacing:-0.3px;margin-left:-33.4px;
}
#P2_9
{
left:0px;letter-spacing:-0.3px;
}
#P2_10
{
left:5985.95px;bottom:38707.6px;color:rgb(35,31,31);
}
#P2_11
{
left:5985.95px;bottom:37043.6px;letter-spacing:-5.8px;color:rgb(35,31,31);
}
#P2_12
{
left:0px;letter-spacing:0px;margin-left:5.8px;
}
#P2_13
{
left:0px;letter-spacing:0px;margin-left:-19.2px;
}
#P2_14
{
left:0px;letter-spacing:0.7px;
}
#P2_15
{
left:5985.95px;bottom:36211.6px;color:rgb(35,31,31);
}
#P2_16
{
left:6684.83px;bottom:36211.6px;color:rgb(35,31,31);
}
#P2_17
{
left:11379.9px;bottom:36211.6px;color:rgb(35,31,31);
}
#P2_18
{
left:15134.1px;bottom:36216.7px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P2_19
{
left:21815.1px;bottom:36211.6px;color:rgb(35,31,31);
}
#P2_20
{
left:5985.95px;bottom:32243.6px;letter-spacing:-1.7px;word-spacing:0.3px;color:rgb(35,31,31);
}
#P2_21
{
left:0px;letter-spacing:-0.3px;margin-left:-17.2px;
}
#P2_22
{
left:5985.95px;bottom:31411.6px;letter-spacing:-3.3px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P2_23
{
left:0px;letter-spacing:-0.1px;margin-left:3.2px;
}
#P2_24
{
left:13141.1px;bottom:31411.6px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P2_25
{
left:17389.5px;bottom:31411.6px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P2_26
{
left:5985.95px;bottom:30579.6px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P2_27
{
left:0px;letter-spacing:0px;margin-left:-22.8px;
}
#P2_28
{
left:0px;letter-spacing:-1px;
}
#P2_29
{
left:0px;letter-spacing:-0.3px;margin-left:1px;
}
#P2_30
{
left:5985.95px;bottom:29747.6px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P2_31
{
left:0px;letter-spacing:0px;margin-left:-69.8px;
}
#P2_32
{
left:0px;letter-spacing:-0.2px;
}
#P2_33
{
left:0px;letter-spacing:0px;margin-left:-22.8px;
}
#P2_34
{
left:0px;letter-spacing:0.3px;
}
#P2_35
{
left:5985.95px;bottom:28915.6px;letter-spacing:-1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P2_36
{
left:0px;letter-spacing:-0.1px;margin-left:-11.8px;
}
#P2_37
{
left:0px;letter-spacing:-2.3px;margin-left:-7.7px;
}
#P2_38
{
left:0px;letter-spacing:-0.6px;margin-left:145.7px;
}
#P2_39
{
left:5985.95px;bottom:28083.6px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P2_40
{
left:0px;letter-spacing:0px;margin-left:-194.9px;
}
#P2_41
{
left:0px;letter-spacing:0px;margin-left:51.2px;
}
#P2_42
{
left:0px;letter-spacing:0.1px;
}
#P2_43
{
left:5985.95px;bottom:27251.6px;color:rgb(35,31,31);
}
#P2_44
{
left:7784.99px;bottom:27251.6px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P2_45
{
left:12033.4px;bottom:27251.6px;letter-spacing:-1.1px;color:rgb(35,31,31);
}
#P2_46
{
left:5985.95px;bottom:19507.6px;letter-spacing:-3.8px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P2_47
{
left:0px;letter-spacing:-1.4px;margin-left:3.7px;
}
#P2_48
{
left:0px;letter-spacing:-4.5px;margin-left:140.9px;
}
#P2_49
{
left:0px;letter-spacing:-0.1px;margin-left:4.5px;
}
#P2_50
{
left:0px;letter-spacing:1.6px;margin-left:-12.8px;
}
#P2_51
{
left:5985.95px;bottom:17843.6px;letter-spacing:-2.3px;color:rgb(35,31,31);
}
#P2_52
{
left:0px;letter-spacing:-0.8px;margin-left:2.3px;
}
#P2_53
{
left:0px;letter-spacing:-0.1px;margin-left:0.8px;
}
#P2_54
{
left:0px;letter-spacing:0px;margin-left:-15.9px;
}
#P2_55
{
left:0px;letter-spacing:0px;margin-left:-6.4px;
}
#P2_56
{
left:5985.95px;bottom:17011.6px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P2_57
{
left:0px;letter-spacing:0px;margin-left:-25.5px;
}
#P2_58
{
left:0px;letter-spacing:-1.2px;
}
#P2_59
{
left:0px;letter-spacing:-2.1px;margin-left:1.2px;
}
#P2_60
{
left:0px;letter-spacing:0px;margin-left:-10.7px;
}
#P2_61
{
left:5985.95px;bottom:16179.6px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P2_62
{
left:0px;letter-spacing:-1.1px;margin-left:0.9px;
}
#P2_63
{
left:0px;letter-spacing:0.3px;margin-left:1.1px;
}
#P2_64
{
left:0px;letter-spacing:0.3px;margin-left:-0.3px;
}
#P2_65
{
left:5985.95px;bottom:15347.6px;letter-spacing:-5.4px;color:rgb(35,31,31);
}
#P2_66
{
left:0px;letter-spacing:-0.2px;margin-left:5.4px;
}
#P2_67
{
left:0px;letter-spacing:0px;margin-left:-15.8px;
}
#P2_68
{
left:0px;letter-spacing:0.3px;margin-left:-12.8px;
}
#P2_69
{
left:0px;letter-spacing:0px;margin-left:-16.3px;
}
#P2_70
{
left:0px;letter-spacing:0.6px;margin-left:-16px;
}
#P2_71
{
left:0px;letter-spacing:0px;margin-left:-51.8px;
}
#P2_72
{
left:5985.95px;bottom:14515.6px;letter-spacing:-2.6px;color:rgb(35,31,31);
}
#P2_73
{
left:0px;letter-spacing:-1.1px;margin-left:2.6px;
}
#P2_74
{
left:0px;letter-spacing:-0.6px;margin-left:1.1px;
}
#P2_75
{
left:0px;letter-spacing:0px;margin-left:-18.6px;
}
#P2_76
{
left:0px;letter-spacing:-0.3px;
}
#P2_77
{
left:0px;letter-spacing:-4.3px;margin-left:-18.9px;
}
#P2_78
{
left:0px;letter-spacing:-1.4px;margin-left:0.4px;
}
#P2_79
{
left:5985.95px;bottom:13683.6px;letter-spacing:-1.6px;word-spacing:0.4px;color:rgb(35,31,31);
}
#P2_80
{
left:0px;letter-spacing:0.3px;margin-left:-33.4px;
}
#P2_81
{
left:0px;letter-spacing:-0.4px;margin-left:-0.6px;
}
#P2_82
{
left:5985.95px;bottom:12019.6px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P2_83
{
left:11264.7px;bottom:12019.6px;color:rgb(35,31,31);
}
#P2_84
{
left:12666.3px;bottom:12019.6px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P2_85
{
left:16914.6px;bottom:12019.6px;letter-spacing:-4.3px;color:rgb(35,31,31);
}
#P2_86
{
left:0px;letter-spacing:-1.7px;margin-left:4.3px;
}
#P2_87
{
left:0px;letter-spacing:-1.5px;margin-left:1.7px;
}
#P2_88
{
left:0px;letter-spacing:0px;margin-left:-62.5px;
}
#P2_89
{
left:0px;letter-spacing:-2.6px;
}
#P2_90
{
left:0px;letter-spacing:0px;margin-left:-3.8px;
}
#P2_91
{
left:5985.95px;bottom:10355.6px;letter-spacing:-2.8px;word-spacing:-0.1px;color:rgb(35,31,31);
}
#P2_92
{
left:0px;letter-spacing:-2.1px;margin-left:144.6px;
}
#P2_93
{
left:0px;letter-spacing:0.1px;margin-left:-13.2px;
}
#P2_94
{
left:0px;letter-spacing:-0.9px;margin-left:-12.8px;
}
#P2_95
{
left:0px;letter-spacing:0.5px;margin-left:-15px;
}
#P2_96
{
left:0px;letter-spacing:0.1px;margin-left:-19.6px;
}
#P2_97
{
left:0px;letter-spacing:-2.3px;margin-left:141.7px;
}
#P2_98
{
left:0px;letter-spacing:-0.3px;margin-left:2.3px;
}
#P2_99
{
left:5985.95px;bottom:9523.63px;letter-spacing:-1.1px;color:rgb(35,31,31);
}
#P2_100
{
left:0px;letter-spacing:-1px;margin-left:1.1px;
}
#P2_101
{
left:0px;letter-spacing:0px;margin-left:1px;
}
#P2_102
{
left:21904px;bottom:9523.63px;letter-spacing:25.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P2_103
{
left:0px;letter-spacing:-0.6px;margin-left:-25.6px;
}
#P2_104
{
left:0px;letter-spacing:1.5px;margin-left:-12.3px;
}
#P2_105
{
left:5985.95px;bottom:7859.63px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P2_106
{
left:5985.95px;bottom:6195.63px;color:rgb(35,31,31);
}
#P2_107
{
left:0px;letter-spacing:0px;margin-left:176px;
}
#P2_108
{
left:5985.95px;bottom:5363.63px;color:rgb(35,31,31);
}
#P2_109
{
left:0px;letter-spacing:0px;margin-left:176px;
}
#P2_110
{
left:5985.95px;bottom:3699.63px;color:rgb(35,31,31);
}
#P2_111
{
left:0px;letter-spacing:0px;margin-left:137.6px;
}
#P2_112
{
left:0px;letter-spacing:0px;margin-left:176px;
}
#P2_113
{
left:0px;letter-spacing:0px;margin-left:176px;
}
#P2_114
{
left:0px;letter-spacing:0px;margin-left:176px;
}
#P2_115
{
left:0px;letter-spacing:0px;margin-left:176px;
}
#P2_116
{
left:0px;letter-spacing:0px;margin-left:176px;
}
#PageContainer2
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg002.jpg");background-repeat:no-repeat;background-size: 985px 173px; background-position: 82px 41.1600000000001px;
}
#ImageContainer2 {bottom:1149.84px;right:0.00px;width:985.34px;height:172.78px;position:absolute;} #TextContainer2 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
