.tr13{ color:transparent;}
#P13_1
{
left:4669.4px;bottom:43600.2px;letter-spacing:-27.6px;color:rgb(0,151,73);
}
#P13_2
{
left:4669.4px;bottom:42000.2px;letter-spacing:-30.6px;color:rgb(0,151,73);
}
#P13_3
{
left:0px;bottom:0px;letter-spacing:0px;color:rgb(35,31,31);
}
#P13_4
{
left:27842.9px;bottom:33159px;letter-spacing:-6.5px;color:rgb(35,31,31);
}
#P13_5
{
left:26260.8px;bottom:32391px;letter-spacing:-6.1px;color:rgb(35,31,31);
}
#P13_6
{
left:26754.9px;bottom:31623px;letter-spacing:-7.6px;color:rgb(35,31,31);
}
#P13_7
{
left:0px;letter-spacing:-4.3px;margin-left:-6.5px;
}
#P13_8
{
left:26727.4px;bottom:30855px;letter-spacing:-6.5px;color:rgb(35,31,31);
}
#P13_9
{
left:27214.4px;bottom:30087px;letter-spacing:-6.1px;color:rgb(35,31,31);
}
#P13_10
{
left:28437.5px;bottom:29319px;letter-spacing:-6.9px;color:rgb(35,31,31);
}
#P13_11
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P13_12
{
left:35893.1px;bottom:1410.03px;color:rgb(35,31,31);
}
#P13_13
{
left:4669.4px;bottom:39380.5px;color:rgb(0,151,73);
}
#P13_14
{
left:0px;letter-spacing:0px;margin-left:4393px;
}
#P13_15
{
left:0px;letter-spacing:-7px;margin-left:296.4px;
}
#P13_16
{
left:0px;letter-spacing:-7px;margin-left:-52.1px;
}
#P13_17
{
left:0px;letter-spacing:0px;margin-left:-8.4px;
}
#P13_18
{
left:18548.6px;bottom:39531.2px;letter-spacing:-7px;word-spacing:-95.1px;color:rgb(145,147,151);
}
#P13_19
{
left:21480.2px;bottom:39380.5px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P13_20
{
left:5599.03px;bottom:38356.2px;letter-spacing:-7px;word-spacing:720.5px;color:rgb(145,147,151);
}
#P13_21
{
left:0px;letter-spacing:-7px;margin-left:-720.9px;
}
#P13_22
{
left:9789.8px;bottom:38356.2px;letter-spacing:-7px;word-spacing:303.6px;color:rgb(35,31,31);
}
#P13_23
{
left:4670.11px;bottom:37332.6px;letter-spacing:4392.6px;color:rgb(35,31,31);
}
#P13_24
{
left:9790.3px;bottom:37332.6px;letter-spacing:-7px;color:rgb(235,26,35);
}
#P13_25
{
left:12281.4px;bottom:37483.2px;letter-spacing:-7px;word-spacing:-65.8px;color:rgb(145,147,151);
}
#P13_26
{
left:21454.2px;bottom:37332.6px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P13_27
{
left:4670.81px;bottom:36309px;letter-spacing:4392.6px;color:rgb(35,31,31);
}
#P13_28
{
left:9791px;bottom:36309px;letter-spacing:-7px;color:rgb(2,77,161);
}
#P13_29
{
left:12282.1px;bottom:36459.6px;letter-spacing:-7px;word-spacing:-94px;color:rgb(145,147,151);
}
#P13_30
{
left:21467.5px;bottom:36309px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P13_31
{
left:5469.5px;bottom:35284.7px;letter-spacing:-7px;word-spacing:589.6px;color:rgb(145,147,151);
}
#P13_32
{
left:0px;letter-spacing:-7px;margin-left:-590px;
}
#P13_33
{
left:9279.19px;bottom:35284.7px;letter-spacing:296.4px;color:rgb(35,31,31);
}
#P13_34
{
left:0px;letter-spacing:-7.3px;margin-left:-303.4px;
}
#P13_35
{
left:4671.51px;bottom:34261px;letter-spacing:4392.6px;color:rgb(35,31,31);
}
#P13_36
{
left:9791.71px;bottom:34261px;letter-spacing:-7px;color:rgb(235,26,35);
}
#P13_37
{
left:12282.8px;bottom:34411.7px;letter-spacing:-7px;word-spacing:-65.8px;color:rgb(145,147,151);
}
#P13_38
{
left:21469px;bottom:34261px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P13_39
{
left:4672.22px;bottom:33237.4px;letter-spacing:4392.6px;color:rgb(35,31,31);
}
#P13_40
{
left:9792.41px;bottom:33237.4px;letter-spacing:-7px;color:rgb(2,77,161);
}
#P13_41
{
left:12283.5px;bottom:33388.1px;letter-spacing:-7px;word-spacing:-94px;color:rgb(145,147,151);
}
#P13_42
{
left:21469px;bottom:33237.4px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P13_43
{
left:5470.91px;bottom:32213.1px;letter-spacing:-7px;word-spacing:589.6px;color:rgb(145,147,151);
}
#P13_44
{
left:0px;letter-spacing:-7px;margin-left:-590px;
}
#P13_45
{
left:9280.6px;bottom:32213.1px;letter-spacing:296.6px;color:rgb(35,31,31);
}
#P13_46
{
left:0px;letter-spacing:0px;margin-left:-511.5px;
}
#P13_47
{
left:10213.1px;bottom:32212.5px;letter-spacing:-7.2px;color:rgb(35,31,31);
}
#P13_48
{
left:9789.27px;bottom:31380.4px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P13_49
{
left:4669.08px;bottom:30356.8px;letter-spacing:4392.6px;color:rgb(35,31,31);
}
#P13_50
{
left:9789.21px;bottom:30356.8px;letter-spacing:-7px;color:rgb(235,26,35);
}
#P13_51
{
left:12280.3px;bottom:30507.4px;letter-spacing:-7px;word-spacing:-65.8px;color:rgb(145,147,151);
}
#P13_52
{
left:21452.4px;bottom:30356.8px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P13_53
{
left:4669.72px;bottom:29333.2px;letter-spacing:4392.6px;color:rgb(35,31,31);
}
#P13_54
{
left:9789.91px;bottom:29333.2px;letter-spacing:-7px;color:rgb(2,77,161);
}
#P13_55
{
left:12281px;bottom:29483.8px;letter-spacing:-7px;word-spacing:-94px;color:rgb(145,147,151);
}
#P13_56
{
left:21466.5px;bottom:29333.2px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P13_57
{
left:4670.43px;bottom:28308.8px;letter-spacing:4393px;color:rgb(0,151,73);
}
#P13_58
{
left:0px;letter-spacing:0px;margin-left:-4096.6px;
}
#P13_59
{
left:0px;letter-spacing:-7.5px;margin-left:-7px;
}
#P13_60
{
left:20042px;bottom:28459.5px;letter-spacing:-7px;word-spacing:-119.2px;color:rgb(145,147,151);
}
#P13_61
{
left:21453.8px;bottom:28308.8px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P13_62
{
left:9791.32px;bottom:27284.5px;letter-spacing:-7px;word-spacing:4399.6px;color:rgb(0,151,73);
}
#P13_63
{
left:0px;letter-spacing:-7px;margin-left:-4399.6px;
}
#P13_64
{
left:13924.1px;bottom:27435.2px;letter-spacing:-7px;word-spacing:-87.7px;color:rgb(145,147,151);
}
#P13_65
{
left:21481.2px;bottom:27284.5px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P13_66
{
left:5457.15px;bottom:26260.2px;letter-spacing:-7px;word-spacing:576.9px;color:rgb(145,147,151);
}
#P13_67
{
left:0px;letter-spacing:-7px;margin-left:-577.3px;
}
#P13_68
{
left:9791.53px;bottom:26260.2px;letter-spacing:-7px;word-spacing:303.6px;color:rgb(35,31,31);
}
#P13_69
{
left:0px;letter-spacing:0px;margin-left:-303.4px;
}
#P13_70
{
left:0px;letter-spacing:-7px;margin-left:-45.8px;
}
#P13_71
{
left:4671.83px;bottom:25236.6px;letter-spacing:4392.6px;color:rgb(35,31,31);
}
#P13_72
{
left:9792.03px;bottom:25236.6px;letter-spacing:-7px;color:rgb(235,26,35);
}
#P13_73
{
left:12283.1px;bottom:25387.2px;letter-spacing:-7px;word-spacing:-65.8px;color:rgb(145,147,151);
}
#P13_74
{
left:21455.2px;bottom:25236.6px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P13_75
{
left:4672.54px;bottom:24213px;letter-spacing:4392.6px;color:rgb(35,31,31);
}
#P13_76
{
left:9792.73px;bottom:24213px;letter-spacing:-7px;color:rgb(2,77,161);
}
#P13_77
{
left:12283.8px;bottom:24363.6px;letter-spacing:-7px;word-spacing:-94px;color:rgb(145,147,151);
}
#P13_78
{
left:21482.6px;bottom:24213px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P13_79
{
left:5471.23px;bottom:23188.7px;letter-spacing:-7px;word-spacing:589.6px;color:rgb(145,147,151);
}
#P13_80
{
left:0px;letter-spacing:-7px;margin-left:-590px;
}
#P13_81
{
left:9280.92px;bottom:23188.7px;letter-spacing:296.4px;color:rgb(35,31,31);
}
#P13_82
{
left:0px;letter-spacing:-7.5px;margin-left:-316.1px;
}
#P13_83
{
left:4673.24px;bottom:22165px;letter-spacing:4392.6px;color:rgb(35,31,31);
}
#P13_84
{
left:9793.43px;bottom:22165px;letter-spacing:-7px;color:rgb(235,26,35);
}
#P13_85
{
left:12284.5px;bottom:22315.7px;letter-spacing:-7px;word-spacing:-65.8px;color:rgb(145,147,151);
}
#P13_86
{
left:21484.1px;bottom:22165px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P13_87
{
left:4673.95px;bottom:21141.4px;letter-spacing:4392.6px;color:rgb(35,31,31);
}
#P13_88
{
left:9794.14px;bottom:21141.4px;letter-spacing:-7px;color:rgb(2,77,161);
}
#P13_89
{
left:12285.2px;bottom:21292.1px;letter-spacing:-7px;word-spacing:-94px;color:rgb(145,147,151);
}
#P13_90
{
left:21484.1px;bottom:21141.4px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P13_91
{
left:4674.65px;bottom:20117.1px;color:rgb(145,147,151);
}
#P13_92
{
left:9282.33px;bottom:20117.1px;color:rgb(35,31,31);
}
#P13_93
{
left:9794.14px;bottom:20117.1px;letter-spacing:-215.4px;color:rgb(2,77,161);
}
#P13_94
{
left:0px;letter-spacing:-7px;margin-left:208.4px;
}
#P13_95
{
left:14884.3px;bottom:20117.1px;letter-spacing:-6.7px;word-spacing:1.3px;color:rgb(2,77,161);
}
#P13_96
{
left:17641.8px;bottom:20116.5px;letter-spacing:-5.4px;color:rgb(2,77,161);
}
#P13_97
{
left:9789.4px;bottom:19284.4px;letter-spacing:-7.4px;color:rgb(2,77,161);
}
#P13_98
{
left:17951.5px;bottom:19435.1px;letter-spacing:-7px;word-spacing:-26.8px;color:rgb(145,147,151);
}
#P13_99
{
left:21465.9px;bottom:19284.4px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P13_100
{
left:9790.11px;bottom:18260.1px;letter-spacing:-7px;word-spacing:4399.6px;color:rgb(0,151,73);
}
#P13_101
{
left:0px;letter-spacing:-7px;margin-left:-4399.6px;
}
#P13_102
{
left:14072.1px;bottom:18410.7px;letter-spacing:-7px;word-spacing:-82.1px;color:rgb(145,147,151);
}
#P13_103
{
left:21454px;bottom:18260.1px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P13_104
{
left:9790.81px;bottom:17235.8px;letter-spacing:-7px;word-spacing:4399.6px;color:rgb(0,151,73);
}
#P13_105
{
left:0px;letter-spacing:-7px;margin-left:-4399.6px;
}
#P13_106
{
left:15266.7px;bottom:17386.4px;letter-spacing:-7px;word-spacing:-45.6px;color:rgb(145,147,151);
}
#P13_107
{
left:21467.4px;bottom:17235.8px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P13_108
{
left:9791.51px;bottom:16211.4px;letter-spacing:-7px;word-spacing:4399.6px;color:rgb(0,151,73);
}
#P13_109
{
left:0px;letter-spacing:0px;margin-left:-4399.6px;
}
#P13_110
{
left:0px;letter-spacing:-7px;margin-left:-103.5px;
}
#P13_111
{
left:14222.7px;bottom:16362.1px;letter-spacing:-7px;word-spacing:-68.8px;color:rgb(145,147,151);
}
#P13_112
{
left:21454.7px;bottom:16211.4px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P13_113
{
left:9792.22px;bottom:15187.1px;letter-spacing:-7px;word-spacing:4399.6px;color:rgb(0,151,73);
}
#P13_114
{
left:0px;letter-spacing:-7px;margin-left:-8.4px;
}
#P13_115
{
left:0px;letter-spacing:-7px;margin-left:-4399.6px;
}
#P13_116
{
left:17656px;bottom:15337.8px;letter-spacing:-7px;word-spacing:-95.7px;color:rgb(145,147,151);
}
#P13_117
{
left:21455.4px;bottom:15187.1px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P13_118
{
left:24829.4px;bottom:41388.8px;
}
#PageContainer13
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg013.jpg");background-repeat:no-repeat;background-size: 1066px 1364px; background-position: right bottom;
}
#ImageContainer13 {bottom:0.00px;right:0.00px;width:1066.24px;height:1364.16px;position:absolute;} #TextContainer13 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
