.tr378{ color:transparent;}
#P378_1
{
left:0px;bottom:0px;letter-spacing:-3px;word-spacing:-73.8px;color:white;
}
#P378_2
{
left:0px;bottom:0px;letter-spacing:-22px;word-spacing:-73.8px;color:white;
}
#P378_3
{
left:0px;letter-spacing:0px;margin-left:22px;
}
#P378_4
{
left:5781.85px;bottom:39220.7px;letter-spacing:-2.4px;word-spacing:945px;
}
#P378_5
{
left:13528.9px;bottom:39519.1px;
}
#P378_6
{
left:13902.6px;bottom:39220.7px;
}
#P378_7
{
left:17065px;bottom:39519.1px;
}
#P378_8
{
left:17438.6px;bottom:39220.7px;
}
#P378_9
{
left:21048.6px;bottom:39519.1px;
}
#P378_10
{
left:5781.85px;bottom:39220.7px;letter-spacing:-2.4px;word-spacing:945px;color:white;
}
#P378_11
{
left:21422.2px;bottom:39220.7px;letter-spacing:-6px;
}
#P378_12
{
left:13529px;bottom:39519.1px;color:white;
}
#P378_13
{
left:13902.7px;bottom:39220.7px;color:white;
}
#P378_14
{
left:17065.1px;bottom:39519.1px;color:white;
}
#P378_15
{
left:17438.7px;bottom:39220.7px;color:white;
}
#P378_16
{
left:21048.7px;bottom:39519.1px;color:white;
}
#P378_17
{
left:21422.4px;bottom:39220.7px;letter-spacing:-6px;color:white;
}
#P378_18
{
left:5781.85px;bottom:37095.9px;
}
#P378_19
{
left:0px;letter-spacing:0px;margin-left:994.6px;
}
#P378_20
{
left:0px;letter-spacing:0px;margin-left:-49.6px;
}
#P378_21
{
left:0px;letter-spacing:0px;margin-left:-23.9px;
}
#P378_22
{
left:20325.7px;bottom:37394.3px;
}
#P378_23
{
left:5781.85px;bottom:37095.9px;color:white;
}
#P378_24
{
left:0px;letter-spacing:0px;margin-left:994.6px;
}
#P378_25
{
left:0px;letter-spacing:0px;margin-left:-49.6px;
}
#P378_26
{
left:0px;letter-spacing:0px;margin-left:-23.9px;
}
#P378_27
{
left:20699.3px;bottom:37095.9px;
}
#P378_28
{
left:20325.7px;bottom:37394.3px;color:white;
}
#P378_29
{
left:20699.3px;bottom:37095.9px;color:white;
}
#P378_30
{
left:5781.85px;bottom:34971.1px;
}
#P378_31
{
left:0px;letter-spacing:0px;margin-left:994.6px;
}
#P378_32
{
left:0px;letter-spacing:0px;margin-left:-49.6px;
}
#P378_33
{
left:0px;letter-spacing:0px;margin-left:-23.9px;
}
#P378_34
{
left:0px;letter-spacing:0px;margin-left:-24.1px;
}
#P378_35
{
left:22841.8px;bottom:35269.5px;
}
#P378_36
{
left:5781.85px;bottom:34971.1px;color:white;
}
#P378_37
{
left:0px;letter-spacing:0px;margin-left:994.6px;
}
#P378_38
{
left:0px;letter-spacing:0px;margin-left:-49.6px;
}
#P378_39
{
left:0px;letter-spacing:0px;margin-left:-23.9px;
}
#P378_40
{
left:0px;letter-spacing:0px;margin-left:-23.9px;
}
#P378_41
{
left:23215.4px;bottom:34971.1px;
}
#P378_42
{
left:22841.9px;bottom:35269.5px;color:white;
}
#P378_43
{
left:23215.5px;bottom:34971.1px;color:white;
}
#P378_44
{
left:5781.85px;bottom:32846.3px;
}
#P378_45
{
left:0px;letter-spacing:0px;margin-left:945px;
}
#P378_46
{
left:0px;letter-spacing:0px;margin-left:-73.9px;
}
#P378_47
{
left:24709.5px;bottom:33144.7px;
}
#P378_48
{
left:5781.85px;bottom:32846.3px;color:white;
}
#P378_49
{
left:0px;letter-spacing:0px;margin-left:945px;
}
#P378_50
{
left:0px;letter-spacing:0px;margin-left:-73.8px;
}
#P378_51
{
left:25083.2px;bottom:32846.3px;
}
#P378_52
{
left:24709.7px;bottom:33144.7px;color:white;
}
#P378_53
{
left:25083.3px;bottom:32846.3px;color:white;
}
#P378_54
{
left:5020.68px;bottom:3521.82px;letter-spacing:-1.3px;word-spacing:0.1px;color:rgb(33,31,31);
}
#P378_55
{
left:0px;letter-spacing:-0.9px;margin-left:1.2px;
}
#P378_56
{
left:0px;letter-spacing:-14.2px;margin-left:135.9px;
}
#P378_57
{
left:0px;letter-spacing:-1.7px;margin-left:14.2px;
}
#P378_58
{
left:5220.49px;bottom:2894.23px;letter-spacing:-0.1px;word-spacing:0.1px;color:rgb(33,31,31);
}
#P378_59
{
left:0px;letter-spacing:-0.1px;margin-left:149.2px;
}
#P378_60
{
left:0px;letter-spacing:-0.1px;margin-left:-17.2px;
}
#P378_61
{
left:6403.4px;bottom:2335.51px;color:rgb(33,31,31);
}
#P378_62
{
left:0px;letter-spacing:0px;margin-left:-51.8px;
}
#P378_63
{
left:19299.8px;bottom:4531.23px;color:rgb(33,31,31);
}
#P378_64
{
left:0px;letter-spacing:0px;margin-left:-28.8px;
}
#P378_65
{
left:0px;letter-spacing:0px;margin-left:-17.3px;
}
#P378_66
{
left:20123.6px;bottom:3947.23px;letter-spacing:-2.4px;color:rgb(33,31,31);
}
#P378_67
{
left:0px;letter-spacing:-0.7px;margin-left:2.4px;
}
#P378_68
{
left:0px;letter-spacing:0px;margin-left:-10.8px;
}
#P378_69
{
left:0px;letter-spacing:0px;margin-left:-28.8px;
}
#P378_70
{
left:0px;letter-spacing:0px;
}
#P378_71
{
left:23242.3px;bottom:3523.84px;letter-spacing:-0.4px;color:rgb(33,31,31);
}
#P378_72
{
left:0px;letter-spacing:0px;margin-left:0.4px;
}
#P378_73
{
left:7164.72px;bottom:17503.6px;letter-spacing:-0.8px;word-spacing:0.1px;color:rgb(33,31,31);
}
#P378_74
{
left:0px;letter-spacing:-0.1px;margin-left:-10.7px;
}
#P378_75
{
left:6542.96px;bottom:16890.2px;letter-spacing:-0.4px;color:rgb(33,31,31);
}
#P378_76
{
left:0px;letter-spacing:0px;margin-left:-51.4px;
}
#P378_77
{
left:19228.7px;bottom:16665.5px;letter-spacing:-14.4px;color:rgb(33,31,31);
}
#P378_78
{
left:0px;letter-spacing:0.3px;margin-left:14.4px;
}
#P378_79
{
left:0px;letter-spacing:0px;margin-left:-52.1px;
}
#P378_80
{
left:0px;bottom:0px;letter-spacing:0px;color:white;
}
#P378_81
{
left:6845.4px;bottom:44472.1px;
}
#P378_82
{
left:6845.4px;bottom:41272.1px;
}
#P378_83
{
left:2365.4px;bottom:41502.1px;
}
#PageContainer378
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg378.jpg");background-repeat:no-repeat;background-size: 1066px 1364px; background-position: right bottom;
}
#ImageContainer378 {bottom:0.00px;right:0.00px;width:1066.24px;height:1364.16px;position:absolute;} #TextContainer378 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}