.tr160{ color:transparent;}
#P160_1
{
left:2365.4px;bottom:1481.77px;color:rgb(35,31,31);
}
#P160_2
{
left:3540.44px;bottom:1623.85px;color:rgb(35,31,31);
}
#P160_3
{
left:4669.4px;bottom:1481.77px;color:rgb(35,31,31);
}
#P160_4
{
left:7585.88px;bottom:1481.77px;letter-spacing:462.1px;color:rgb(35,31,31);
}
#P160_5
{
left:0px;letter-spacing:1.1px;margin-left:-457.6px;
}
#P160_6
{
left:0px;letter-spacing:4px;margin-left:9.7px;
}
#P160_7
{
left:0px;letter-spacing:2.1px;margin-left:-0.2px;
}
#P160_8
{
left:0px;letter-spacing:6.4px;margin-left:2.4px;
}
#P160_9
{
left:0px;letter-spacing:0px;margin-left:2.6px;
}
#P160_10
{
left:5889.56px;bottom:46957.1px;color:white;
}
#P160_11
{
left:2372.31px;bottom:46930.2px;color:white;
}
#P160_12
{
left:11581.4px;bottom:41944.7px;color:rgb(35,31,31);
}
#P160_13
{
left:12051px;bottom:42101px;color:rgb(35,31,31);
}
#P160_14
{
left:12246.7px;bottom:41944.7px;color:rgb(35,31,31);
}
#P160_15
{
left:13094.3px;bottom:42101px;color:rgb(35,31,31);
}
#P160_16
{
left:13290px;bottom:41944.7px;color:rgb(35,31,31);
}
#P160_17
{
left:14359.4px;bottom:42101px;color:rgb(35,31,31);
}
#P160_18
{
left:14555.1px;bottom:41944.7px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P160_19
{
left:11581.4px;bottom:40878.1px;letter-spacing:-5.3px;color:rgb(0,124,196);
}
#P160_20
{
left:13553.9px;bottom:40861px;letter-spacing:508.3px;color:rgb(35,31,31);
}
#P160_21
{
left:14257.9px;bottom:40837px;letter-spacing:-70.4px;color:rgb(35,31,31);
}
#P160_22
{
left:0px;letter-spacing:-0.5px;margin-left:70.4px;
}
#P160_23
{
left:0px;letter-spacing:0px;margin-left:-17.1px;
}
#P160_24
{
left:0px;letter-spacing:0px;margin-left:-42.2px;
}
#P160_25
{
left:0px;letter-spacing:0px;
}
#P160_26
{
left:14257.9px;bottom:39940.8px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P160_27
{
left:0px;letter-spacing:0px;margin-left:-17.2px;
}
#P160_28
{
left:0px;letter-spacing:0px;
}
#P160_29
{
left:14257.9px;bottom:39044.7px;letter-spacing:-1.4px;word-spacing:-25.3px;color:rgb(35,31,31);
}
#P160_30
{
left:0px;letter-spacing:3.6px;margin-left:-12.7px;
}
#P160_31
{
left:0px;letter-spacing:-2.6px;margin-left:-3.6px;
}
#P160_32
{
left:11581.4px;bottom:37934.1px;color:rgb(0,124,196);
}
#P160_33
{
left:14419.5px;bottom:37901px;color:rgb(35,31,31);
}
#P160_34
{
left:15091.5px;bottom:37893px;color:rgb(35,31,31);
}
#P160_35
{
left:16242.6px;bottom:37863.5px;color:rgb(35,31,31);
}
#P160_36
{
left:16829px;bottom:37893px;color:rgb(35,31,31);
}
#P160_37
{
left:17765.3px;bottom:37863.5px;color:rgb(35,31,31);
}
#P160_38
{
left:18351.8px;bottom:37893px;color:rgb(35,31,31);
}
#P160_39
{
left:19041.7px;bottom:37863.5px;color:rgb(35,31,31);
}
#P160_40
{
left:19628.1px;bottom:37893px;color:rgb(35,31,31);
}
#P160_41
{
left:20318px;bottom:37863.5px;color:rgb(35,31,31);
}
#P160_42
{
left:20904.5px;bottom:37893px;color:rgb(35,31,31);
}
#P160_43
{
left:21594.4px;bottom:37863.5px;color:rgb(35,31,31);
}
#P160_44
{
left:22180.8px;bottom:37893px;color:rgb(35,31,31);
}
#P160_45
{
left:0px;letter-spacing:0px;margin-left:545.6px;
}
#P160_46
{
left:24120.2px;bottom:37934.1px;color:rgb(0,124,196);
}
#P160_47
{
left:26621.5px;bottom:37901px;color:rgb(35,31,31);
}
#P160_48
{
left:27293.5px;bottom:37893px;color:rgb(35,31,31);
}
#P160_49
{
left:27688.5px;bottom:37893px;color:rgb(35,31,31);
}
#P160_50
{
left:27934.9px;bottom:37893px;color:rgb(35,31,31);
}
#P160_51
{
left:28328.4px;bottom:37893px;color:rgb(35,31,31);
}
#P160_52
{
left:28486.8px;bottom:37863.5px;color:rgb(35,31,31);
}
#P160_53
{
left:29073.2px;bottom:37893px;color:rgb(35,31,31);
}
#P160_54
{
left:29231.6px;bottom:37893px;color:rgb(35,31,31);
}
#P160_55
{
left:29542.1px;bottom:37893px;color:rgb(35,31,31);
}
#P160_56
{
left:29946.9px;bottom:37863.5px;color:rgb(35,31,31);
}
#P160_57
{
left:30533.3px;bottom:37893px;color:rgb(35,31,31);
}
#P160_58
{
left:30691.7px;bottom:37893px;color:rgb(35,31,31);
}
#P160_59
{
left:31480.2px;bottom:37893px;color:rgb(35,31,31);
}
#P160_60
{
left:31638.6px;bottom:37863.5px;color:rgb(35,31,31);
}
#P160_61
{
left:32225px;bottom:37893px;color:rgb(35,31,31);
}
#P160_62
{
left:32383.4px;bottom:37893px;color:rgb(35,31,31);
}
#P160_63
{
left:15101.7px;bottom:36100.7px;word-spacing:3361.6px;color:rgb(35,31,31);
}
#P160_64
{
left:16252.7px;bottom:36071.1px;color:rgb(35,31,31);
}
#P160_65
{
left:16839.1px;bottom:36100.7px;color:rgb(35,31,31);
}
#P160_66
{
left:17775.4px;bottom:36071.1px;color:rgb(35,31,31);
}
#P160_67
{
left:18361.9px;bottom:36100.7px;color:rgb(35,31,31);
}
#P160_68
{
left:19051.8px;bottom:36071.1px;color:rgb(35,31,31);
}
#P160_69
{
left:19638.2px;bottom:36100.7px;color:rgb(35,31,31);
}
#P160_70
{
left:20328.2px;bottom:36071.1px;color:rgb(35,31,31);
}
#P160_71
{
left:20914.6px;bottom:36100.7px;color:rgb(35,31,31);
}
#P160_72
{
left:21604.5px;bottom:36071.1px;color:rgb(35,31,31);
}
#P160_73
{
left:22190.9px;bottom:36100.7px;color:rgb(35,31,31);
}
#P160_74
{
left:27293.5px;bottom:36100.7px;color:rgb(35,31,31);
}
#P160_75
{
left:27688.5px;bottom:36100.7px;color:rgb(35,31,31);
}
#P160_76
{
left:27934.9px;bottom:36100.7px;color:rgb(35,31,31);
}
#P160_77
{
left:28328.4px;bottom:36100.7px;color:rgb(35,31,31);
}
#P160_78
{
left:28486.8px;bottom:36071.1px;color:rgb(35,31,31);
}
#P160_79
{
left:29073.2px;bottom:36100.7px;color:rgb(35,31,31);
}
#P160_80
{
left:29231.6px;bottom:36100.7px;color:rgb(35,31,31);
}
#P160_81
{
left:29542.1px;bottom:36100.7px;color:rgb(35,31,31);
}
#P160_82
{
left:29946.9px;bottom:36071.1px;color:rgb(35,31,31);
}
#P160_83
{
left:30533.3px;bottom:36100.7px;color:rgb(35,31,31);
}
#P160_84
{
left:30691.7px;bottom:36100.7px;color:rgb(35,31,31);
}
#P160_85
{
left:31480.2px;bottom:36100.7px;color:rgb(35,31,31);
}
#P160_86
{
left:31638.6px;bottom:36071.1px;color:rgb(35,31,31);
}
#P160_87
{
left:32225px;bottom:36100.7px;color:rgb(35,31,31);
}
#P160_88
{
left:32383.4px;bottom:36100.7px;color:rgb(35,31,31);
}
#P160_89
{
left:11592.4px;bottom:30170.2px;letter-spacing:-10.6px;color:rgb(35,31,31);
}
#P160_90
{
left:0px;letter-spacing:-0.9px;margin-left:10.6px;
}
#P160_91
{
left:0px;letter-spacing:-0.2px;margin-left:0.9px;
}
#P160_92
{
left:28379.6px;bottom:30170.2px;word-spacing:77.1px;color:rgb(35,31,31);
}
#P160_93
{
left:0px;letter-spacing:0px;margin-left:-77.4px;
}
#P160_94
{
left:29944.3px;bottom:30140.7px;color:rgb(35,31,31);
}
#P160_95
{
left:30530.7px;bottom:30170.2px;color:rgb(35,31,31);
}
#P160_96
{
left:13191.7px;bottom:28826.3px;word-spacing:1441.6px;color:rgb(35,31,31);
}
#P160_97
{
left:13723.4px;bottom:28796.7px;color:rgb(35,31,31);
}
#P160_98
{
left:14309.8px;bottom:28826.3px;color:rgb(35,31,31);
}
#P160_99
{
left:14468.2px;bottom:28826.3px;color:rgb(235,26,35);
}
#P160_100
{
left:15214.5px;bottom:28826.3px;color:rgb(35,31,31);
}
#P160_101
{
left:15372.9px;bottom:28796.7px;color:rgb(35,31,31);
}
#P160_102
{
left:15959.3px;bottom:28826.3px;color:rgb(35,31,31);
}
#P160_103
{
left:16737.2px;bottom:28826.3px;color:rgb(235,26,35);
}
#P160_104
{
left:17641.9px;bottom:28796.7px;color:rgb(235,26,35);
}
#P160_105
{
left:18228.3px;bottom:28826.3px;color:rgb(235,26,35);
}
#P160_106
{
left:18759.8px;bottom:28826.3px;color:rgb(35,31,31);
}
#P160_107
{
left:22152.4px;bottom:28834.2px;color:rgb(0,124,196);
}
#P160_108
{
left:26027.9px;bottom:28806px;color:rgb(0,124,196);
}
#P160_109
{
left:26587.7px;bottom:28834.2px;color:rgb(0,124,196);
}
#P160_110
{
left:11592.4px;bottom:27546.2px;letter-spacing:1441.6px;color:rgb(35,31,31);
}
#P160_111
{
left:0px;letter-spacing:0px;margin-left:383.7px;
}
#P160_112
{
left:15334.9px;bottom:27516.7px;color:rgb(35,31,31);
}
#P160_113
{
left:15921.3px;bottom:27546.2px;color:rgb(35,31,31);
}
#P160_114
{
left:17850.3px;bottom:27516.7px;color:rgb(35,31,31);
}
#P160_115
{
left:18436.7px;bottom:27546.2px;color:rgb(35,31,31);
}
#P160_116
{
left:22152.4px;bottom:27554.2px;color:rgb(0,124,196);
}
#P160_117
{
left:11592.4px;bottom:26266.2px;letter-spacing:1441.6px;color:rgb(35,31,31);
}
#P160_118
{
left:0px;letter-spacing:0px;margin-left:383.7px;
}
#P160_119
{
left:15334.9px;bottom:26236.7px;color:rgb(35,31,31);
}
#P160_120
{
left:15921.3px;bottom:26266.2px;color:rgb(35,31,31);
}
#P160_121
{
left:17357.5px;bottom:26236.7px;color:rgb(35,31,31);
}
#P160_122
{
left:17943.9px;bottom:26266.2px;color:rgb(35,31,31);
}
#P160_123
{
left:22152.4px;bottom:26274.2px;color:rgb(0,124,196);
}
#P160_124
{
left:0px;letter-spacing:0px;margin-left:-49.7px;
}
#P160_125
{
left:11592.4px;bottom:24986.2px;letter-spacing:1441.6px;color:rgb(35,31,31);
}
#P160_126
{
left:0px;letter-spacing:0px;margin-left:383.7px;
}
#P160_127
{
left:15334.9px;bottom:24956.7px;color:rgb(35,31,31);
}
#P160_128
{
left:15921.3px;bottom:24986.2px;color:rgb(35,31,31);
}
#P160_129
{
left:22152.4px;bottom:24994.2px;color:rgb(0,124,196);
}
#P160_130
{
left:5497.11px;bottom:31937.6px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P160_131
{
left:12365.4px;bottom:31962.2px;color:white;
}
#P160_132
{
left:13277.8px;bottom:32154px;color:white;
}
#P160_133
{
left:13518px;bottom:31962.2px;color:white;
}
#P160_134
{
left:10521px;bottom:31795.1px;
}
#P160_135
{
left:10521px;bottom:31795.1px;color:white;
}
#P160_136
{
left:26785.2px;bottom:46188.3px;word-spacing:0.2px;color:rgb(33,31,31);
}
#P160_137
{
left:0px;letter-spacing:0px;margin-left:-44.9px;
}
#P160_138
{
left:0px;letter-spacing:0px;margin-left:0.1px;
}
#P160_139
{
left:11528.4px;bottom:20712.7px;letter-spacing:-10.6px;color:rgb(35,31,31);
}
#P160_140
{
left:0px;letter-spacing:-0.9px;margin-left:10.6px;
}
#P160_141
{
left:0px;letter-spacing:-0.5px;margin-left:0.9px;
}
#P160_142
{
left:22516.1px;bottom:20712.7px;word-spacing:77.1px;color:rgb(35,31,31);
}
#P160_143
{
left:23560.3px;bottom:21152.4px;color:rgb(35,31,31);
}
#P160_144
{
left:23915.1px;bottom:20730.3px;color:rgb(35,31,31);
}
#P160_145
{
left:23539.2px;bottom:20696.7px;color:rgb(35,31,31);
}
#P160_146
{
left:23936.2px;bottom:20714px;color:rgb(35,31,31);
}
#P160_147
{
left:23560.3px;bottom:20244.9px;color:rgb(35,31,31);
}
#P160_148
{
left:23915.1px;bottom:20730.3px;color:rgb(35,31,31);
}
#P160_149
{
left:23936.2px;bottom:20712.7px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P160_150
{
left:24084.1px;bottom:20683.2px;color:rgb(35,31,31);
}
#P160_151
{
left:24670.5px;bottom:20712.7px;color:rgb(35,31,31);
}
#P160_152
{
left:0px;letter-spacing:0px;margin-left:-59.8px;
}
#P160_153
{
left:0px;letter-spacing:0px;margin-left:-147.8px;
}
#P160_154
{
left:25321.7px;bottom:21152.4px;color:rgb(35,31,31);
}
#P160_155
{
left:25676.5px;bottom:20730.3px;color:rgb(35,31,31);
}
#P160_156
{
left:25300.6px;bottom:20696.7px;color:rgb(35,31,31);
}
#P160_157
{
left:25697.6px;bottom:20714px;color:rgb(35,31,31);
}
#P160_158
{
left:25321.7px;bottom:20244.9px;color:rgb(35,31,31);
}
#P160_159
{
left:25676.5px;bottom:20730.3px;color:rgb(35,31,31);
}
#P160_160
{
left:25697.6px;bottom:20712.7px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P160_161
{
left:11528.2px;bottom:18280.4px;letter-spacing:1441.6px;color:rgb(35,31,31);
}
#P160_162
{
left:0px;letter-spacing:0px;margin-left:-1600.2px;
}
#P160_163
{
left:13149.5px;bottom:18720.4px;color:rgb(35,31,31);
}
#P160_164
{
left:13485.3px;bottom:18298.3px;color:rgb(35,31,31);
}
#P160_165
{
left:13128.4px;bottom:18264.7px;color:rgb(35,31,31);
}
#P160_166
{
left:13506.5px;bottom:18282px;color:rgb(35,31,31);
}
#P160_167
{
left:13149.5px;bottom:17812.9px;color:rgb(35,31,31);
}
#P160_168
{
left:13485.3px;bottom:18298.3px;color:rgb(35,31,31);
}
#P160_169
{
left:13506.5px;bottom:18280.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P160_170
{
left:13664.9px;bottom:18251.2px;color:rgb(35,31,31);
}
#P160_171
{
left:14251.3px;bottom:18280.7px;color:rgb(35,31,31);
}
#P160_172
{
left:14409.7px;bottom:18280.7px;word-spacing:-70.4px;color:rgb(235,26,35);
}
#P160_173
{
left:14891.9px;bottom:18720.4px;color:rgb(235,26,35);
}
#P160_174
{
left:15227.7px;bottom:18298.3px;color:rgb(235,26,35);
}
#P160_175
{
left:14870.7px;bottom:18264.7px;color:rgb(235,26,35);
}
#P160_176
{
left:15248.8px;bottom:18282px;color:rgb(235,26,35);
}
#P160_177
{
left:14891.9px;bottom:17812.9px;color:rgb(235,26,35);
}
#P160_178
{
left:15227.7px;bottom:18298.3px;color:rgb(235,26,35);
}
#P160_179
{
left:15248.8px;bottom:18280.7px;color:rgb(235,26,35);
}
#P160_180
{
left:15248.8px;bottom:18280.7px;color:rgb(35,31,31);
}
#P160_181
{
left:15407.2px;bottom:18251.2px;color:rgb(35,31,31);
}
#P160_182
{
left:15993.6px;bottom:18280.7px;color:rgb(35,31,31);
}
#P160_183
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P160_184
{
left:16173.1px;bottom:18720.4px;color:rgb(35,31,31);
}
#P160_185
{
left:16509px;bottom:18298.3px;color:rgb(35,31,31);
}
#P160_186
{
left:16152px;bottom:18264.7px;color:rgb(35,31,31);
}
#P160_187
{
left:16530.1px;bottom:18282px;color:rgb(35,31,31);
}
#P160_188
{
left:16173.1px;bottom:17812.9px;color:rgb(35,31,31);
}
#P160_189
{
left:16509px;bottom:18298.3px;color:rgb(35,31,31);
}
#P160_190
{
left:16530.1px;bottom:18280.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P160_191
{
left:16688.5px;bottom:18251.2px;color:rgb(35,31,31);
}
#P160_192
{
left:17450.9px;bottom:18280.7px;color:rgb(35,31,31);
}
#P160_193
{
left:17450.9px;bottom:17699.1px;color:rgb(35,31,31);
}
#P160_194
{
left:17697.3px;bottom:18014.1px;color:rgb(35,31,31);
}
#P160_195
{
left:17753.6px;bottom:18280.7px;color:rgb(235,26,35);
}
#P160_196
{
left:18285.1px;bottom:18251.2px;color:rgb(235,26,35);
}
#P160_197
{
left:18871.6px;bottom:18280.7px;color:rgb(235,26,35);
}
#P160_198
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P160_199
{
left:19051.1px;bottom:18720.4px;color:rgb(235,26,35);
}
#P160_200
{
left:19386.9px;bottom:18298.3px;color:rgb(235,26,35);
}
#P160_201
{
left:19030px;bottom:18264.7px;color:rgb(235,26,35);
}
#P160_202
{
left:19408px;bottom:18282px;color:rgb(235,26,35);
}
#P160_203
{
left:19051.1px;bottom:17812.9px;color:rgb(235,26,35);
}
#P160_204
{
left:19386.9px;bottom:18298.3px;color:rgb(235,26,35);
}
#P160_205
{
left:19408px;bottom:18280.7px;letter-spacing:-158.4px;color:rgb(235,26,35);
}
#P160_206
{
left:19464.3px;bottom:17699.1px;color:rgb(35,31,31);
}
#P160_207
{
left:19710.7px;bottom:18280.7px;color:rgb(235,26,35);
}
#P160_208
{
left:11528.1px;bottom:15848.4px;letter-spacing:1441.6px;color:rgb(35,31,31);
}
#P160_209
{
left:0px;letter-spacing:0px;margin-left:511.8px;
}
#P160_210
{
left:15398.7px;bottom:15818.9px;color:rgb(35,31,31);
}
#P160_211
{
left:15985.1px;bottom:15848.4px;color:rgb(35,31,31);
}
#P160_212
{
left:16143.6px;bottom:15267.1px;color:rgb(35,31,31);
}
#P160_213
{
left:16390px;bottom:15582.1px;color:rgb(35,31,31);
}
#P160_214
{
left:16446.3px;bottom:15848.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P160_215
{
left:16467.4px;bottom:16288.4px;color:rgb(35,31,31);
}
#P160_216
{
left:16803.2px;bottom:15866.3px;color:rgb(35,31,31);
}
#P160_217
{
left:16446.3px;bottom:15832.7px;color:rgb(35,31,31);
}
#P160_218
{
left:16824.3px;bottom:15850px;color:rgb(35,31,31);
}
#P160_219
{
left:16467.4px;bottom:15380.9px;color:rgb(35,31,31);
}
#P160_220
{
left:16803.2px;bottom:15866.3px;color:rgb(35,31,31);
}
#P160_221
{
left:16824.3px;bottom:15848.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P160_222
{
left:16982.7px;bottom:15819.2px;color:rgb(35,31,31);
}
#P160_223
{
left:17569.2px;bottom:15848.7px;color:rgb(35,31,31);
}
#P160_224
{
left:18157px;bottom:15267.1px;color:rgb(35,31,31);
}
#P160_225
{
left:18403.4px;bottom:15848.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P160_226
{
left:18561.8px;bottom:15819.2px;color:rgb(35,31,31);
}
#P160_227
{
left:19148.2px;bottom:15848.7px;color:rgb(35,31,31);
}
#P160_228
{
left:19306.6px;bottom:15267.1px;color:rgb(35,31,31);
}
#P160_229
{
left:19553px;bottom:15582.1px;color:rgb(35,31,31);
}
#P160_230
{
left:19609.4px;bottom:15848.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P160_231
{
left:19630.5px;bottom:16288.4px;color:rgb(35,31,31);
}
#P160_232
{
left:19966.3px;bottom:15866.3px;color:rgb(35,31,31);
}
#P160_233
{
left:19609.4px;bottom:15832.7px;color:rgb(35,31,31);
}
#P160_234
{
left:19987.4px;bottom:15850px;color:rgb(35,31,31);
}
#P160_235
{
left:19630.5px;bottom:15380.9px;color:rgb(35,31,31);
}
#P160_236
{
left:19966.3px;bottom:15866.3px;color:rgb(35,31,31);
}
#P160_237
{
left:19987.4px;bottom:15848.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P160_238
{
left:20145.8px;bottom:15819.2px;color:rgb(35,31,31);
}
#P160_239
{
left:20732.2px;bottom:15848.7px;color:rgb(35,31,31);
}
#P160_240
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P160_241
{
left:20911.7px;bottom:16288.4px;color:rgb(35,31,31);
}
#P160_242
{
left:21247.5px;bottom:15866.3px;color:rgb(35,31,31);
}
#P160_243
{
left:20890.6px;bottom:15832.7px;color:rgb(35,31,31);
}
#P160_244
{
left:21268.6px;bottom:15850px;color:rgb(35,31,31);
}
#P160_245
{
left:20911.7px;bottom:15380.9px;color:rgb(35,31,31);
}
#P160_246
{
left:21247.5px;bottom:15866.3px;color:rgb(35,31,31);
}
#P160_247
{
left:21268.6px;bottom:15848.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P160_248
{
left:21325px;bottom:15267.1px;color:rgb(35,31,31);
}
#P160_249
{
left:21571.4px;bottom:15848.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P160_250
{
left:23688.4px;bottom:15856.7px;color:rgb(0,124,196);
}
#P160_251
{
left:11528.4px;bottom:13416.7px;letter-spacing:993.6px;color:rgb(35,31,31);
}
#P160_252
{
left:0px;letter-spacing:0px;margin-left:1408px;
}
#P160_253
{
left:15399px;bottom:13387.2px;color:rgb(35,31,31);
}
#P160_254
{
left:15985.4px;bottom:13416.7px;color:rgb(35,31,31);
}
#P160_255
{
left:16675.4px;bottom:13387.2px;color:rgb(35,31,31);
}
#P160_256
{
left:17261.8px;bottom:13416.7px;color:rgb(35,31,31);
}
#P160_257
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P160_258
{
left:17441px;bottom:13856.4px;color:rgb(35,31,31);
}
#P160_259
{
left:17776.9px;bottom:13434.3px;color:rgb(35,31,31);
}
#P160_260
{
left:17419.9px;bottom:13400.7px;color:rgb(35,31,31);
}
#P160_261
{
left:17798px;bottom:13418px;color:rgb(35,31,31);
}
#P160_262
{
left:17441px;bottom:12948.9px;color:rgb(35,31,31);
}
#P160_263
{
left:17776.9px;bottom:13434.3px;color:rgb(35,31,31);
}
#P160_264
{
left:23688.4px;bottom:13424.7px;color:rgb(0,124,196);
}
#P160_265
{
left:0px;letter-spacing:0px;margin-left:-49.7px;
}
#P160_266
{
left:11528.4px;bottom:11176.7px;letter-spacing:993.6px;color:rgb(35,31,31);
}
#P160_267
{
left:0px;letter-spacing:0px;margin-left:1408px;
}
#P160_268
{
left:15399px;bottom:11147.2px;color:rgb(35,31,31);
}
#P160_269
{
left:15985.4px;bottom:11176.7px;color:rgb(35,31,31);
}
#P160_270
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P160_271
{
left:16537.8px;bottom:11616.4px;color:rgb(35,31,31);
}
#P160_272
{
left:16873.6px;bottom:11194.3px;color:rgb(35,31,31);
}
#P160_273
{
left:16516.8px;bottom:11160.7px;color:rgb(35,31,31);
}
#P160_274
{
left:16894.7px;bottom:11178px;color:rgb(35,31,31);
}
#P160_275
{
left:16537.8px;bottom:10708.9px;color:rgb(35,31,31);
}
#P160_276
{
left:16873.6px;bottom:11194.3px;color:rgb(35,31,31);
}
#P160_277
{
left:16894.7px;bottom:11176.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P160_278
{
left:23688.4px;bottom:11184.7px;color:rgb(0,124,196);
}
#P160_279
{
left:11528.4px;bottom:7144.75px;letter-spacing:-10.6px;color:rgb(35,31,31);
}
#P160_280
{
left:0px;letter-spacing:-0.9px;margin-left:10.6px;
}
#P160_281
{
left:0px;letter-spacing:-0.5px;margin-left:0.9px;
}
#P160_282
{
left:0px;letter-spacing:0px;margin-left:-224.7px;
}
#P160_283
{
left:0px;letter-spacing:0px;margin-left:76.7px;
}
#P160_284
{
left:0px;letter-spacing:0.5px;
}
#P160_285
{
left:11528.4px;bottom:5993px;color:rgb(35,31,31);
}
#P160_286
{
left:11992px;bottom:6019.56px;color:rgb(35,31,31);
}
#P160_287
{
left:13192.4px;bottom:5992.75px;color:rgb(35,31,31);
}
#P160_288
{
left:13723.9px;bottom:5963.18px;color:rgb(35,31,31);
}
#P160_289
{
left:14310.4px;bottom:5992.75px;color:rgb(35,31,31);
}
#P160_290
{
left:19544px;bottom:6019.56px;color:rgb(35,31,31);
}
#P160_291
{
left:20808.4px;bottom:5992.75px;color:rgb(35,31,31);
}
#P160_292
{
left:21339.9px;bottom:5963.18px;color:rgb(35,31,31);
}
#P160_293
{
left:21926.4px;bottom:5992.75px;color:rgb(35,31,31);
}
#P160_294
{
left:27224px;bottom:6019.56px;color:rgb(35,31,31);
}
#P160_295
{
left:28488.4px;bottom:5992.75px;word-spacing:545.6px;color:rgb(35,31,31);
}
#P160_296
{
left:11528.3px;bottom:4328.49px;color:rgb(35,31,31);
}
#P160_297
{
left:11992px;bottom:4355.56px;word-spacing:453.2px;color:rgb(35,31,31);
}
#P160_298
{
left:13192.2px;bottom:4355.56px;color:rgb(35,31,31);
}
#P160_299
{
left:13213.5px;bottom:4762.41px;color:rgb(35,31,31);
}
#P160_300
{
left:13549.3px;bottom:4346.35px;color:rgb(35,31,31);
}
#P160_301
{
left:13192.4px;bottom:4306.72px;color:rgb(35,31,31);
}
#P160_302
{
left:13570.5px;bottom:4330.02px;color:rgb(35,31,31);
}
#P160_303
{
left:13213.5px;bottom:3854.89px;color:rgb(35,31,31);
}
#P160_304
{
left:13549.3px;bottom:4346.35px;color:rgb(35,31,31);
}
#P160_305
{
left:13570.5px;bottom:4328.75px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P160_306
{
left:13728.9px;bottom:4299.18px;color:rgb(35,31,31);
}
#P160_307
{
left:14315.3px;bottom:4328.75px;color:rgb(35,31,31);
}
#P160_308
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P160_309
{
left:14867.9px;bottom:4768.43px;color:rgb(35,31,31);
}
#P160_310
{
left:15203.7px;bottom:4346.35px;color:rgb(35,31,31);
}
#P160_311
{
left:14846.7px;bottom:4312.74px;color:rgb(35,31,31);
}
#P160_312
{
left:15224.8px;bottom:4330.02px;color:rgb(35,31,31);
}
#P160_313
{
left:14867.9px;bottom:3860.91px;color:rgb(35,31,31);
}
#P160_314
{
left:15203.7px;bottom:4346.35px;color:rgb(35,31,31);
}
#P160_315
{
left:19544px;bottom:4355.56px;word-spacing:517.2px;color:rgb(35,31,31);
}
#P160_316
{
left:20808.7px;bottom:4355.56px;color:rgb(35,31,31);
}
#P160_317
{
left:20829.5px;bottom:4762.41px;color:rgb(35,31,31);
}
#P160_318
{
left:21165.3px;bottom:4346.35px;color:rgb(35,31,31);
}
#P160_319
{
left:20808.4px;bottom:4306.72px;color:rgb(35,31,31);
}
#P160_320
{
left:21186.5px;bottom:4330.02px;color:rgb(35,31,31);
}
#P160_321
{
left:20829.5px;bottom:3854.89px;color:rgb(35,31,31);
}
#P160_322
{
left:21165.3px;bottom:4346.35px;color:rgb(35,31,31);
}
#P160_323
{
left:21186.5px;bottom:4328.75px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P160_324
{
left:21344.9px;bottom:4299.18px;color:rgb(35,31,31);
}
#P160_325
{
left:21931.3px;bottom:4328.75px;color:rgb(35,31,31);
}
#P160_326
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P160_327
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P160_328
{
left:22571.9px;bottom:4768.43px;color:rgb(35,31,31);
}
#P160_329
{
left:22907.7px;bottom:4346.35px;color:rgb(35,31,31);
}
#P160_330
{
left:22550.7px;bottom:4312.74px;color:rgb(35,31,31);
}
#P160_331
{
left:22928.8px;bottom:4330.02px;color:rgb(35,31,31);
}
#P160_332
{
left:22571.9px;bottom:3860.91px;color:rgb(35,31,31);
}
#P160_333
{
left:22907.7px;bottom:4346.35px;color:rgb(35,31,31);
}
#P160_334
{
left:22928.8px;bottom:4328.75px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P160_335
{
left:27224px;bottom:4355.56px;word-spacing:517.2px;color:rgb(35,31,31);
}
#P160_336
{
left:28488.7px;bottom:4355.56px;color:rgb(35,31,31);
}
#P160_337
{
left:28509.5px;bottom:4762.41px;color:rgb(35,31,31);
}
#P160_338
{
left:28845.3px;bottom:4346.35px;color:rgb(35,31,31);
}
#P160_339
{
left:28488.4px;bottom:4306.72px;color:rgb(35,31,31);
}
#P160_340
{
left:28866.5px;bottom:4330.02px;color:rgb(35,31,31);
}
#P160_341
{
left:28509.5px;bottom:3854.89px;color:rgb(35,31,31);
}
#P160_342
{
left:28845.3px;bottom:4346.35px;color:rgb(35,31,31);
}
#P160_343
{
left:28866.5px;bottom:4328.75px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P160_344
{
left:29024.9px;bottom:4299.18px;color:rgb(35,31,31);
}
#P160_345
{
left:29611.3px;bottom:4328.75px;color:rgb(35,31,31);
}
#P160_346
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P160_347
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P160_348
{
left:30251.9px;bottom:4768.43px;color:rgb(35,31,31);
}
#P160_349
{
left:30587.7px;bottom:4346.35px;color:rgb(35,31,31);
}
#P160_350
{
left:30230.7px;bottom:4312.74px;color:rgb(35,31,31);
}
#P160_351
{
left:30608.8px;bottom:4330.02px;color:rgb(35,31,31);
}
#P160_352
{
left:30251.9px;bottom:3860.91px;color:rgb(35,31,31);
}
#P160_353
{
left:30587.7px;bottom:4346.35px;color:rgb(35,31,31);
}
#P160_354
{
left:30608.8px;bottom:4328.75px;color:rgb(35,31,31);
}
#P160_355
{
left:5433.11px;bottom:22480.2px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P160_356
{
left:12301.4px;bottom:22504.7px;color:white;
}
#P160_357
{
left:13213.8px;bottom:22696.6px;color:white;
}
#P160_358
{
left:13454px;bottom:22504.7px;color:white;
}
#P160_359
{
left:16736.3px;bottom:22696.6px;color:white;
}
#P160_360
{
left:16976.5px;bottom:22504.7px;color:white;
}
#P160_361
{
left:18016.8px;bottom:22696.6px;color:white;
}
#P160_362
{
left:18257px;bottom:22504.7px;color:white;
}
#P160_363
{
left:19569.4px;bottom:22696.6px;color:white;
}
#P160_364
{
left:19809.6px;bottom:22504.7px;letter-spacing:-1.6px;color:white;
}
#P160_365
{
left:10457px;bottom:22337.6px;
}
#P160_366
{
left:10457px;bottom:22337.6px;color:white;
}
#P160_367
{
left:24170.1px;bottom:18328px;color:rgb(0,124,196);
}
#P160_368
{
left:0px;letter-spacing:0px;margin-left:-77.2px;
}
#P160_369
{
left:0px;letter-spacing:0px;margin-left:-161.3px;
}
#P160_370
{
left:26710.9px;bottom:18749.7px;color:rgb(0,124,196);
}
#P160_371
{
left:27001.2px;bottom:18344.8px;color:rgb(0,124,196);
}
#P160_372
{
left:26690.8px;bottom:18314.7px;color:rgb(0,124,196);
}
#P160_373
{
left:27021.4px;bottom:18329.3px;color:rgb(0,124,196);
}
#P160_374
{
left:26710.9px;bottom:17883.5px;color:rgb(0,124,196);
}
#P160_375
{
left:27001.2px;bottom:18344.8px;color:rgb(0,124,196);
}
#P160_376
{
left:27021.4px;bottom:18328px;letter-spacing:-161.3px;color:rgb(0,124,196);
}
#P160_377
{
left:0px;letter-spacing:0px;margin-left:161.3px;
}
#P160_378
{
left:30589.1px;bottom:18299.8px;color:rgb(0,124,196);
}
#P160_379
{
left:31148.8px;bottom:18328px;color:rgb(0,124,196);
}
#P160_380
{
left:0px;letter-spacing:0px;margin-left:-161.3px;
}
#P160_381
{
left:31330.2px;bottom:18749.7px;color:rgb(0,124,196);
}
#P160_382
{
left:31620.5px;bottom:18344.8px;color:rgb(0,124,196);
}
#P160_383
{
left:31310px;bottom:18314.7px;color:rgb(0,124,196);
}
#P160_384
{
left:31640.7px;bottom:18329.3px;color:rgb(0,124,196);
}
#P160_385
{
left:31330.2px;bottom:17883.5px;color:rgb(0,124,196);
}
#P160_386
{
left:31620.5px;bottom:18344.8px;color:rgb(0,124,196);
}
#P160_387
{
left:31640.7px;bottom:18328px;letter-spacing:-161.3px;color:rgb(0,124,196);
}
#P160_388
{
left:5709.4px;bottom:5916.78px;color:rgb(35,31,31);
}
#P160_389
{
left:0px;letter-spacing:0px;margin-left:-66.2px;
}
#P160_390
{
left:2856.07px;bottom:43504.5px;word-spacing:-26px;color:rgb(0,124,196);
}
#P160_391
{
left:0px;letter-spacing:0px;margin-left:-17.6px;
}
#P160_392
{
left:0px;letter-spacing:0px;margin-left:-38.7px;
}
#P160_393
{
left:2856.07px;bottom:42562.5px;color:rgb(35,31,31);
}
#P160_394
{
left:5842.33px;bottom:42562.5px;color:rgb(35,31,31);
}
#PageContainer160
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg160.jpg");background-repeat:no-repeat;background-size: 943px 1291px; background-position: 0px 35.3699999999999px;
}
#ImageContainer160 {bottom:37.63px;left:0.00px;width:943.45px;height:1291.35px;position:absolute;} #TextContainer160 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
  .example1{position: absolute;top: 465px;left: 106px;}
   .example2{position: absolute;top: 723px;left: 106px;}
.nyr{position: absolute;top: 1154px;left: 125px;}
.nyr_exr{position: absolute;top: 1192px;left: 155px;color: rgb(35,31,31);font-size: 16px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}