.tr113{ color:transparent;}
#P113_1
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P113_2
{
left:23588.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P113_3
{
left:28137.8px;bottom:1410.03px;letter-spacing:0.9px;word-spacing:459.7px;color:rgb(35,31,31);
}
#P113_4
{
left:0px;letter-spacing:0px;margin-left:-460.6px;
}
#P113_5
{
left:0px;letter-spacing:1px;margin-left:2.4px;
}
#P113_6
{
left:36142px;bottom:1410.03px;color:rgb(35,31,31);
}
#P113_7
{
left:7801.11px;bottom:29233.6px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P113_8
{
left:14669.4px;bottom:29258.2px;color:white;
}
#P113_9
{
left:16462.2px;bottom:29450px;color:white;
}
#P113_10
{
left:16702.4px;bottom:29258.2px;color:white;
}
#P113_11
{
left:17886.9px;bottom:29450px;color:white;
}
#P113_12
{
left:18127.1px;bottom:29258.2px;color:white;
}
#P113_13
{
left:20752px;bottom:29450px;color:white;
}
#P113_14
{
left:20992.2px;bottom:29258.2px;color:white;
}
#P113_15
{
left:12825px;bottom:29091.1px;
}
#P113_16
{
left:12825px;bottom:29091.1px;color:white;
}
#P113_17
{
left:13704.4px;bottom:27466.2px;word-spacing:452.1px;color:rgb(35,31,31);
}
#P113_17a
{
left:14704.4px;bottom:27466.2px;word-spacing:452.1px;color:rgb(35,31,31);
}
#P113_18
{
left:0px;letter-spacing:0px;
margin-left: 0;
}
#P113_19
{
left:0px;letter-spacing:0px;margin-left:-25.3px;
}
#P113_20
{
left:0px;letter-spacing:0px;margin-left:-452.1px;
}
#P113_21
{
left:18921.3px;bottom:27436.6px;color:rgb(35,31,31);
}
#P113_22
{
left:19507.7px;bottom:27466.2px;letter-spacing:-5.6px;color:rgb(35,31,31);
}
#P113_23
{
left:24712.4px;bottom:27466.2px;letter-spacing:-1.2px;color:rgb(235,26,35);
}
#P113_24
{
left:27619.9px;bottom:27466.2px;color:rgb(35,31,31);
}
#P113_25
{
left:27971.9px;bottom:27466.2px;color:rgb(0,124,196);
}
#P113_26
{
left:28514px;bottom:27436.6px;color:rgb(0,124,196);
}
#P113_27
{
left:29100.4px;bottom:27466.2px;color:rgb(0,124,196);
}
#P113_28
{
left:29790.3px;bottom:27436.6px;color:rgb(0,124,196);
}
#P113_29
{
left:30376.7px;bottom:27466.2px;color:rgb(0,124,196);
}
#P113_30
{
left:13896.4px;bottom:25674.2px;color:rgb(35,31,31);
}
#P113_31
{
left:17955.6px;bottom:25713.7px;word-spacing:1404.8px;color:rgb(35,31,31);
}
#P113_32
{
left:16392.4px;bottom:24817.7px;color:rgb(35,31,31);
}
#P113_33
{
left:17193.2px;bottom:24788.1px;color:rgb(35,31,31);
}
#P113_34
{
left:17955.6px;bottom:24817.7px;color:rgb(35,31,31);
}
#P113_35
{
left:16392.4px;bottom:23921.8px;letter-spacing:1404.8px;color:rgb(35,31,31);
}
#P113_36
{
left:18328.7px;bottom:23921.7px;color:rgb(235,26,35);
}
#P113_37
{
left:18515.3px;bottom:23921.7px;color:rgb(35,31,31);
}
#P113_38
{
left:16392.4px;bottom:23025.7px;letter-spacing:269.1px;color:rgb(35,31,31);
}
#P113_39
{
left:17193px;bottom:23025.7px;color:rgb(235,26,35);
}
#P113_40
{
left:17379.6px;bottom:23025.7px;color:rgb(35,31,31);
}
#P113_41
{
left:17752.7px;bottom:23025.7px;color:rgb(235,26,35);
}
#P113_42
{
left:17939.3px;bottom:23025.7px;color:rgb(35,31,31);
}
#P113_43
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P113_44
{
left:16392.4px;bottom:22129.7px;letter-spacing:221.5px;color:rgb(35,31,31);
}
#P113_45
{
left:17145.4px;bottom:22129.7px;color:rgb(235,26,35);
}
#P113_46
{
left:17331.9px;bottom:22129.7px;color:rgb(35,31,31);
}
#P113_47
{
left:18264.7px;bottom:22129.7px;color:rgb(235,26,35);
}
#P113_48
{
left:18451.3px;bottom:22129.7px;color:rgb(35,31,31);
}
#P113_49
{
left:19299px;bottom:25783px;color:rgb(35,31,31);
}
#P113_50
{
left:21832.4px;bottom:25714.1px;letter-spacing:544.6px;color:rgb(0,124,196);
}
#P113_51
{
left:0px;letter-spacing:0px;margin-left:-544.6px;
}
#P113_52
{
left:21832.4px;bottom:24693.9px;color:rgb(0,124,196);
}
#P113_53
{
left:22392.2px;bottom:24722.1px;color:rgb(235,26,35);
}
#P113_54
{
left:22553.4px;bottom:24722.1px;color:rgb(0,124,196);
}
#P113_55
{
left:13896.4px;bottom:19946.6px;color:rgb(35,31,31);
}
#P113_56
{
left:16144.4px;bottom:20147.8px;word-spacing:545.6px;color:rgb(35,31,31);
}
#P113_57
{
left:0px;letter-spacing:0px;margin-left:-8.4px;
}
#P113_58
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P113_59
{
left:0px;letter-spacing:0px;margin-left:-545.6px;
}
#P113_60
{
left:18331.2px;bottom:20118.2px;color:rgb(35,31,31);
}
#P113_61
{
left:18917.6px;bottom:20147.8px;color:rgb(35,31,31);
}
#P113_62
{
left:20167.2px;bottom:20118.2px;color:rgb(35,31,31);
}
#P113_63
{
left:20753.6px;bottom:20147.8px;color:rgb(35,31,31);
}
#P113_64
{
left:24711.2px;bottom:20147.8px;letter-spacing:-1.1px;word-spacing:1787px;color:rgb(235,26,35);
}
#P113_65
{
left:28817.5px;bottom:20147.8px;color:rgb(35,31,31);
}
#P113_66
{
left:29169.5px;bottom:20147.8px;color:rgb(0,124,196);
}
#P113_67
{
left:31091.4px;bottom:20118.2px;color:rgb(0,124,196);
}
#P113_68
{
left:31677.8px;bottom:20147.8px;color:rgb(0,124,196);
}
#P113_69
{
left:33318.1px;bottom:20236.7px;color:rgb(235,26,35);
}
#P113_70
{
left:13704.4px;bottom:17907.8px;word-spacing:416px;color:rgb(35,31,31);
}
#P113_70a
{
left:14704.4px;bottom:17907.8px;word-spacing:416px;color:rgb(35,31,31);
}
#P113_71
{
left:0px;letter-spacing:0px;margin-left:-6.9px;
}
#P113_72
{
left:0px;letter-spacing:0px;
margin-left: 0;
}
#P113_73
{
left:0px;letter-spacing:0px;margin-left:-25.3px;
}
#P113_74
{
left:0px;letter-spacing:0px;margin-left:-416px;
}
#P113_75
{
left:18921.3px;bottom:17878.2px;color:rgb(35,31,31);
}
#P113_76
{
left:19507.7px;bottom:17907.8px;letter-spacing:-4.7px;color:rgb(35,31,31);
}
#P113_77
{
left:24712.4px;bottom:17907.8px;letter-spacing:-1.2px;color:rgb(235,26,35);
}
#P113_78
{
left:27619.9px;bottom:17907.8px;color:rgb(35,31,31);
}
#P113_79
{
left:27971.9px;bottom:17907.8px;color:rgb(0,124,196);
}
#P113_80
{
left:28514px;bottom:17878.2px;color:rgb(0,124,196);
}
#P113_81
{
left:29100.4px;bottom:17907.8px;color:rgb(0,124,196);
}
#P113_82
{
left:29790.3px;bottom:17878.2px;color:rgb(0,124,196);
}
#P113_83
{
left:30376.7px;bottom:17907.8px;color:rgb(0,124,196);
}
#P113_84
{
left:13896.4px;bottom:16115.8px;color:rgb(35,31,31);
}
#P113_85
{
left:17699.6px;bottom:16128.1px;word-spacing:1148.8px;color:rgb(35,31,31);
}
#P113_86
{
left:16392.4px;bottom:15202.5px;color:rgb(35,31,31);
}
#P113_87
{
left:17139.9px;bottom:15232.1px;color:rgb(35,31,31);
}
#P113_88
{
left:18072.7px;bottom:15232.1px;color:rgb(235,26,35);
}
#P113_89
{
left:18259.3px;bottom:15232.1px;color:rgb(35,31,31);
}
#P113_90
{
left:16580.2px;bottom:14336.1px;word-spacing:29.4px;color:rgb(35,31,31);
}
#P113_91
{
left:17513px;bottom:14336.1px;color:rgb(235,26,35);
}
#P113_92
{
left:17699.6px;bottom:14336.1px;color:rgb(35,31,31);
}
#P113_93
{
left:18072.7px;bottom:14336.1px;color:rgb(235,26,35);
}
#P113_94
{
left:18259.3px;bottom:14336.1px;color:rgb(35,31,31);
}
#P113_95
{
left:19299px;bottom:16224.6px;color:rgb(35,31,31);
}
#P113_96
{
left:21512.4px;bottom:16155.7px;letter-spacing:608.7px;color:rgb(0,124,196);
}
#P113_97
{
left:0px;letter-spacing:0px;margin-left:-608.7px;
}
#P113_98
{
left:21512.4px;bottom:15199.5px;color:rgb(0,124,196);
}
#P113_99
{
left:22072.1px;bottom:15227.7px;color:rgb(235,26,35);
}
#P113_100
{
left:22233.4px;bottom:15227.7px;color:rgb(0,124,196);
}
#P113_101
{
left:13896.4px;bottom:12116.2px;color:rgb(35,31,31);
}
#P113_102
{
left:16144.4px;bottom:12317.4px;word-spacing:545.6px;color:rgb(35,31,31);
}
#P113_103
{
left:0px;letter-spacing:0px;margin-left:-8.4px;
}
#P113_104
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P113_105
{
left:0px;letter-spacing:0px;margin-left:-545.6px;
}
#P113_106
{
left:18331.2px;bottom:12287.8px;color:rgb(35,31,31);
}
#P113_107
{
left:18917.6px;bottom:12317.4px;color:rgb(35,31,31);
}
#P113_108
{
left:20540.3px;bottom:12287.8px;color:rgb(35,31,31);
}
#P113_109
{
left:21126.7px;bottom:12317.4px;color:rgb(35,31,31);
}
#P113_110
{
left:24711.2px;bottom:12317.4px;letter-spacing:-1.1px;word-spacing:1413.8px;color:rgb(235,26,35);
}
#P113_111
{
left:28817.5px;bottom:12317.4px;color:rgb(35,31,31);
}
#P113_112
{
left:29169.5px;bottom:12317.4px;color:rgb(0,124,196);
}
#P113_113
{
left:31091.4px;bottom:12287.8px;color:rgb(0,124,196);
}
#P113_114
{
left:31677.8px;bottom:12317.4px;color:rgb(0,124,196);
}
#P113_115
{
left:32923.9px;bottom:12406.3px;color:rgb(235,26,35);
}
#P113_116
{
left:13896.4px;bottom:8861.36px;letter-spacing:-6.3px;color:rgb(35,31,31);
}
#P113_117
{
left:0px;letter-spacing:0px;margin-left:6.3px;
}
#P113_118
{
left:0px;letter-spacing:-14px;margin-left:-50.6px;
}
#P113_119
{
left:0px;letter-spacing:0px;margin-left:-17.5px;
}
#P113_120
{
left:0px;letter-spacing:-0.2px;
}
#P113_121
{
left:0px;letter-spacing:0px;margin-left:-41.9px;
}
#P113_122
{
left:13896.4px;bottom:7709.29px;color:rgb(35,31,31);
}
#P113_123
{
left:14034.8px;bottom:7736.17px;color:rgb(35,31,31);
}
#P113_124
{
left:15048.4px;bottom:7709.36px;color:rgb(35,31,31);
}
#P113_125
{
left:16139.5px;bottom:7679.79px;color:rgb(35,31,31);
}
#P113_126
{
left:16726px;bottom:7709.36px;color:rgb(35,31,31);
}
#P113_127
{
left:25426.8px;bottom:7736.17px;color:rgb(35,31,31);
}
#P113_128
{
left:26440.4px;bottom:7709.36px;color:rgb(35,31,31);
}
#P113_129
{
left:27531.5px;bottom:7679.79px;color:rgb(35,31,31);
}
#P113_130
{
left:28118px;bottom:7709.36px;color:rgb(35,31,31);
}
#P113_131
{
left:13896.4px;bottom:6429.36px;color:rgb(35,31,31);
}
#P113_132
{
left:14034.8px;bottom:6456.17px;color:rgb(35,31,31);
}
#P113_133
{
left:15048.4px;bottom:6429.36px;color:rgb(35,31,31);
}
#P113_134
{
left:16512.7px;bottom:6399.79px;color:rgb(35,31,31);
}
#P113_135
{
left:17099.1px;bottom:6429.36px;color:rgb(35,31,31);
}
#P113_136
{
left:25426.8px;bottom:6456.17px;color:rgb(35,31,31);
}
#P113_137
{
left:26440.4px;bottom:6429.36px;color:rgb(35,31,31);
}
#P113_138
{
left:28277.8px;bottom:6399.79px;color:rgb(35,31,31);
}
#P113_139
{
left:28864.2px;bottom:6429.36px;color:rgb(35,31,31);
}
#P113_140
{
left:22521.6px;bottom:22192px;color:rgb(0,124,196);
}
#P113_141
{
left:22197.1px;bottom:14344px;color:rgb(0,124,196);
}
#P113_142
{
left:8298.2px;bottom:7669.93px;color:rgb(35,31,31);
}
#P113_143
{
left:13197.4px;bottom:46716.8px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P113_144
{
left:13197.4px;bottom:45820.8px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P113_145
{
left:0px;letter-spacing:0px;margin-left:-41.4px;
}
#P113_146
{
left:14109.4px;bottom:40673px;color:rgb(35,31,31);
}
#P113_147
{
left:15570.2px;bottom:40829.3px;color:rgb(35,31,31);
}
#P113_148
{
left:15765.9px;bottom:40673px;color:rgb(35,31,31);
}
#P113_149
{
left:16731.1px;bottom:40829.3px;color:rgb(35,31,31);
}
#P113_150
{
left:16926.8px;bottom:40673px;color:rgb(35,31,31);
}
#P113_151
{
left:19065.6px;bottom:40829.3px;color:rgb(35,31,31);
}
#P113_152
{
left:19261.3px;bottom:40673px;color:rgb(35,31,31);
}
#P113_153
{
left:23017.8px;bottom:40829.3px;color:rgb(35,31,31);
}
#P113_154
{
left:23213.5px;bottom:40673px;color:rgb(35,31,31);
}
#P113_155
{
left:14109.4px;bottom:39606.3px;letter-spacing:-5.4px;color:rgb(2,77,161);
}
#P113_156
{
left:16081.9px;bottom:39589.2px;letter-spacing:508.3px;color:rgb(35,31,31);
}
#P113_157
{
left:16785.9px;bottom:39565.3px;letter-spacing:-6.3px;color:rgb(35,31,31);
}
#P113_158
{
left:0px;letter-spacing:-0.5px;margin-left:6.3px;
}
#P113_159
{
left:0px;letter-spacing:-8.4px;margin-left:0.5px;
}
#P113_160
{
left:0px;letter-spacing:0px;margin-left:8.4px;
}
#P113_161
{
left:16785.9px;bottom:38669.3px;color:rgb(35,31,31);
}
#P113_162
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P113_163
{
left:0px;letter-spacing:0px;margin-left:-25.3px;
}
#P113_164
{
left:16785.9px;bottom:37773.4px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P113_165
{
left:14109.4px;bottom:36214.3px;color:rgb(2,77,161);
}
#P113_166
{
left:16947.5px;bottom:36181.3px;color:rgb(35,31,31);
}
#P113_167
{
left:18339.2px;bottom:36186px;word-spacing:561.3px;color:rgb(35,31,31);
}
#P113_168
{
left:18898.9px;bottom:36186px;letter-spacing:112.6px;color:rgb(0,124,196);
}
#P113_169
{
left:17619.5px;bottom:35260.5px;color:rgb(35,31,31);
}
#P113_170
{
left:19374.7px;bottom:35290px;color:rgb(35,31,31);
}
#P113_171
{
left:19934.4px;bottom:35290px;color:rgb(0,124,196);
}
#P113_172
{
left:17861.2px;bottom:34394px;word-spacing:83.2px;color:rgb(35,31,31);
}
#P113_173
{
left:18420.8px;bottom:34394px;letter-spacing:131.4px;color:rgb(0,124,196);
}
#P113_174
{
left:20526.2px;bottom:36282.1px;color:rgb(35,31,31);
}
#P113_175
{
left:21789.4px;bottom:36166.6px;letter-spacing:798.7px;color:rgb(0,124,196);
}
#P113_176
{
left:0px;letter-spacing:0px;margin-left:-798.7px;
}
#P113_177
{
left:21789.4px;bottom:35242.4px;letter-spacing:72.9px;color:rgb(0,124,196);
}
#P113_178
{
left:22590.1px;bottom:35270.6px;color:rgb(0,124,196);
}
#P113_179
{
left:21995px;bottom:34405px;letter-spacing:542.7px;color:rgb(0,124,196);
}
#P113_180
{
left:0px;letter-spacing:0px;margin-left:-542.7px;
}
#PageContainer113
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg113.jpg");background-repeat:no-repeat;background-size: 813px 1034px; background-position: 199.1px 180.43px;
}
#ImageContainer113 {bottom:149.57px;left:199.10px;width:813.11px;height:1033.72px;position:absolute;} #TextContainer113 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.example3{position:absolute; top: 542px; left: 164px;}
.nyr{position: absolute; top: 1106px; left: 194px;}
.nyr_exr{position: absolute; top: 1139px; left: 228px;color:rgb(35,31,31);font-size:16px;white-space:pre;}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}