.tr683{ color:transparent;}
#P683_1
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P683_2
{
left:11891.8px;bottom:1410.03px;color:rgb(35,31,31);
}
#P683_3
{
left:16800px;bottom:1410.03px;letter-spacing:462.2px;word-spacing:-0.1px;color:rgb(35,31,31);
}
#P683_4
{
left:0px;letter-spacing:1.4px;margin-left:-462.1px;
}
#P683_5
{
left:0px;letter-spacing:0px;margin-left:4.2px;
}
#P683_6
{
left:0px;letter-spacing:-2.7px;margin-left:21.4px;
}
#P683_7
{
left:0px;letter-spacing:4.3px;margin-left:6.6px;
}
#P683_8
{
left:0px;letter-spacing:2.9px;margin-left:-5.9px;
}
#P683_9
{
left:0px;letter-spacing:2.5px;margin-left:1.8px;
}
#P683_10
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P683_11
{
left:11561.9px;bottom:43292.8px;letter-spacing:-2px;color:rgb(35,31,31);
}
#P683_12
{
left:12329.9px;bottom:42350.3px;color:rgb(35,31,31);
}
#P683_13
{
left:12684.2px;bottom:42204.8px;letter-spacing:575.2px;color:rgb(35,31,31);
}
#P683_14
{
left:0px;letter-spacing:0px;margin-left:-587.8px;
}
#P683_15
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P683_16
{
left:0px;letter-spacing:-7px;margin-left:-13.9px;
}
#P683_17
{
left:12329.9px;bottom:41262.3px;color:rgb(35,31,31);
}
#P683_18
{
left:12684.2px;bottom:41116.8px;letter-spacing:575.2px;color:rgb(35,31,31);
}
#P683_19
{
left:0px;letter-spacing:5.5px;margin-left:-606.8px;
}
#P683_20
{
left:0px;letter-spacing:-0.4px;margin-left:-5.5px;
}
#P683_21
{
left:11561.9px;bottom:40028.7px;letter-spacing:-31.6px;color:rgb(35,31,31);
}
#P683_22
{
left:0px;letter-spacing:0.9px;margin-left:31.6px;
}
#P683_23
{
left:12329.9px;bottom:39086.3px;color:rgb(35,31,31);
}
#P683_24
{
left: 13417.9px;bottom:38940.8px;letter-spacing:575.2px;color:rgb(35,31,31);
}
#P683_25
{
left:0px;letter-spacing:0.3px;margin-left:-579.4px;
}
#P683_26
{
left:0px;letter-spacing:0px;margin-left:-42.4px;
}
#P683_27
{
left:12329.9px;bottom:37998.3px;color:rgb(35,31,31);
}
#P683_28
{
left: 13417.9px;bottom:37852.8px;letter-spacing:575.2px;color:rgb(35,31,31);
}
#P683_29
{
left:0px;letter-spacing:-0.8px;margin-left:-579.4px;
}
#P683_30
{
left:0px;letter-spacing:0px;margin-left:-20.2px;
}
#P683_31
{
left:0px;letter-spacing:-0.4px;
}
#P683_32
{
left:0px;letter-spacing:0px;margin-left:-41.7px;
}
#P683_33
{
left:12329.9px;bottom:36910.3px;color:rgb(35,31,31);
}
#P683_34
{
left:12684.2px;bottom:36764.8px;color:rgb(35,31,31);
}
#P683_35
{
left:13417.9px;bottom:36764.8px;color:rgb(35,31,31);
}
#P683_36
{
left: 13417.9px;bottom:36764.8px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P683_37
{
left:0px;letter-spacing:-4px;margin-left:0.5px;
}
#P683_38
{
left:0px;letter-spacing:-8.4px;margin-left:4px;
}
#P683_39
{
left:0px;letter-spacing:-0.8px;margin-left:8.4px;
}
#P683_40
{
left:0px;letter-spacing:0px;margin-left:0.8px;
}
#P683_41
{
left:13417.9px;bottom:35868.8px;letter-spacing:-2.8px;color:rgb(35,31,31);
}
#P683_42
{
left:0px;letter-spacing:0px;margin-left:-22.5px;
}
#P683_43
{
left:0px;letter-spacing:-0.2px;
}
#P683_44
{
left:13417.9px;bottom:34972.8px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P683_45
{
left:0px;letter-spacing:0px;margin-left:-13px;
}
#P683_46
{
left:12329.9px;bottom:34030.3px;color:rgb(35,31,31);
}
#P683_47
{
left:12684.2px;bottom:33884.8px;color:rgb(35,31,31);
}
#P683_48
{
left:13417.9px;bottom:33884.8px;color:rgb(35,31,31);
}
#P683_49
{
left:13417.9px;bottom:33884.8px;letter-spacing:-1.5px;color:rgb(35,31,31);
}
#P683_50
{
left:0px;letter-spacing:0px;margin-left:-12.4px;
}
#P683_51
{
left:0px;letter-spacing:-0.3px;margin-left:-13.9px;
}
#P683_52
{
left:0px;letter-spacing:-1.4px;margin-left:0.3px;
}
#P683_53
{
left:0px;letter-spacing:0px;margin-left:-12.6px;
}
#P683_54
{
left:0px;letter-spacing:0px;margin-left:-21px;
}
#P683_55
{
left:0px;letter-spacing:0px;
}
#P683_56
{
left:13417.9px;bottom:32988.8px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P683_57
{
left:0px;letter-spacing:-12.6px;margin-left:-27px;
}
#P683_58
{
left:0px;letter-spacing:-0.9px;margin-left:12.6px;
}
#P683_59
{
left:0px;letter-spacing:-0.5px;margin-left:0.9px;
}
#P683_60
{
left:0px;letter-spacing:0px;margin-left:-13.4px;
}
#P683_61
{
left:13417.9px;bottom:32092.8px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P683_62
{
left:13417.9px;bottom:31196.8px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P683_63
{
left:0px;letter-spacing:0px;margin-left:-12.7px;
}
#P683_64
{
left:12329.9px;bottom:30254.3px;color:rgb(35,31,31);
}
#P683_65
{
left:12684.2px;bottom:30108.8px;color:rgb(35,31,31);
}
#P683_66
{
left:13417.9px;bottom:30108.8px;color:rgb(35,31,31);
}
#P683_67
{
left:13417.9px;bottom:30108.8px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P683_68
{
left:0px;letter-spacing:-9.8px;margin-left:-13.7px;
}
#P683_69
{
left:0px;letter-spacing:-0.3px;margin-left:9.8px;
}
#P683_70
{
left:13417.9px;bottom:29212.8px;letter-spacing:-1.7px;color:rgb(35,31,31);
}
#P683_71
{
left:12440.1px;bottom:44853px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P683_72
{
left:15865.2px;bottom:45044.8px;color:rgb(255,223,126);
}
#P683_73
{
left:16057.9px;bottom:44853px;letter-spacing:175.4px;color:white;
}
#P683_74
{
left:0px;letter-spacing:-0.4px;margin-left:-175.4px;
}
#P683_75
{
left:0px;letter-spacing:-16px;margin-left:-31.4px;
}
#P683_76
{
left:10699.7px;bottom:44729.5px;
}
#P683_77
{
left:10699.7px;bottom:44729.5px;color:white;
}
#P683_78
{
left:10477.4px;bottom:15259.9px;color:rgb(35,31,31);
}
#P683_79
{
left:10935.8px;bottom:15286.8px;word-spacing:394.4px;color:rgb(35,31,31);
}
#P683_80
{
left:12077.4px;bottom:15279.7px;word-spacing:-26px;color:rgb(2,77,161);
}
#P683_81
{
left:0px;letter-spacing:0px;margin-left:-26px;
}
#P683_82
{
left:0px;letter-spacing:0px;margin-left:26px;
}
#P683_83
{
left:18885.3px;bottom:15259.9px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P683_84
{
left:0px;letter-spacing:-7px;margin-left:-214.6px;
}
#P683_85
{
left:0px;letter-spacing:-0.8px;margin-left:7px;
}
#P683_86
{
left:0px;letter-spacing:-0.6px;margin-left:0.8px;
}
#P683_87
{
left:12077.4px;bottom:14363.9px;letter-spacing:-1.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P683_88
{
left:0px;letter-spacing:-1.5px;margin-left:158.1px;
}
#P683_89
{
left:0px;letter-spacing:-0.4px;margin-left:1.5px;
}
#P683_90
{
left:0px;letter-spacing:0px;margin-left:-41.8px;
}
#P683_91
{
left:10477.4px;bottom:13019.9px;color:rgb(35,31,31);
}
#P683_92
{
left:10935.8px;bottom:13046.8px;word-spacing:394.4px;color:rgb(35,31,31);
}
#P683_93
{
left:12077.4px;bottom:13019.9px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P683_94
{
left:0px;letter-spacing:-0.4px;margin-left:0.6px;
}
#P683_95
{
left:0px;letter-spacing:-2.8px;margin-left:-3.7px;
}
#P683_96
{
left:12077.4px;bottom:12123.9px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P683_97
{
left:0px;letter-spacing:0px;margin-left:-19.8px;
}
#P683_98
{
left:0px;letter-spacing:0px;margin-left:-13.9px;
}
#P683_99
{
left:0px;letter-spacing:-0.2px;margin-left:-14px;
}
#P683_100
{
left:0px;letter-spacing:0px;margin-left:0.2px;
}
#P683_101
{
left:10477.4px;bottom:10779.9px;color:rgb(35,31,31);
}
#P683_102
{
left:11309.4px;bottom:10806.8px;color:rgb(35,31,31);
}
#P683_103
{
left:14845.4px;bottom:4460.65px;letter-spacing:228.8px;color:rgb(0,124,196);
}
#P683_104
{
left:15261.4px;bottom:4492.65px;letter-spacing:-9.3px;color:rgb(35,31,31);
}
#P683_105
{
left:0px;letter-spacing:-0.5px;margin-left:9.3px;
}
#P683_106
{
left:0px;letter-spacing:0.2px;margin-left:0.5px;
}
#P683_107
{
left:15261.4px;bottom:3596.67px;letter-spacing:-1.6px;color:rgb(35,31,31);
}
#P683_108
{
left:0px;letter-spacing:0px;margin-left:-68.8px;
}
#P683_109
{
left:0px;letter-spacing:0px;
}
#P683_110
{
left:8016.09px;bottom:26894.8px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P683_111
{
left:11142.7px;bottom:27334.4px;color:rgb(35,31,31);
}
#P683_112
{
left:11478.5px;bottom:26912.4px;color:rgb(35,31,31);
}
#P683_113
{
left:11121.6px;bottom:26878.8px;color:rgb(35,31,31);
}
#P683_114
{
left:11499.6px;bottom:26896px;color:rgb(35,31,31);
}
#P683_115
{
left:11142.7px;bottom:26426.9px;color:rgb(35,31,31);
}
#P683_116
{
left:11478.5px;bottom:26912.4px;color:rgb(35,31,31);
}
#P683_117
{
left:11499.6px;bottom:26894.8px;letter-spacing:2176.6px;color:rgb(35,31,31);
}
#P683_118
{
left:0px;letter-spacing:0px;margin-left:-2335px;
}
#P683_119
{
left:13855.8px;bottom:27385.8px;color:rgb(35,31,31);
}
#P683_120
{
left:14191.6px;bottom:26912.4px;color:rgb(35,31,31);
}
#P683_121
{
left:13834.6px;bottom:26930.1px;color:rgb(35,31,31);
}
#P683_122
{
left:14212.7px;bottom:26896px;color:rgb(35,31,31);
}
#P683_123
{
left:13855.8px;bottom:26478.3px;color:rgb(35,31,31);
}
#P683_124
{
left:14191.6px;bottom:26912.4px;color:rgb(35,31,31);
}
#P683_125
{
left:14212.7px;bottom:26894.8px;letter-spacing:2031px;color:rgb(35,31,31);
}
#P683_126
{
left:0px;letter-spacing:0px;margin-left:-2189.4px;
}
#P683_127
{
left:16591.1px;bottom:27334.4px;color:rgb(35,31,31);
}
#P683_128
{
left:16926.9px;bottom:26912.4px;color:rgb(35,31,31);
}
#P683_129
{
left:16402.1px;bottom:26878.8px;color:rgb(35,31,31);
}
#P683_130
{
left:17115.9px;bottom:26896px;color:rgb(35,31,31);
}
#P683_131
{
left:16423.2px;bottom:26426.9px;color:rgb(35,31,31);
}
#P683_132
{
left:17094.8px;bottom:26912.4px;color:rgb(35,31,31);
}
#P683_133
{
left:19061.6px;bottom:26894.8px;word-spacing:1787.2px;color:rgb(35,31,31);
}
#P683_134
{
left:0px;letter-spacing:0px;margin-left:1690.5px;
}
#P683_135
{
left:0px;letter-spacing:0px;margin-left:1774px;
}
#P683_136
{
left:0px;letter-spacing:0px;margin-left:2052.1px;
}
#P683_137
{
left:0px;letter-spacing:0px;margin-left:2010px;
}
#P683_138
{
left:0px;letter-spacing:0px;margin-left:1821px;
}
#P683_139
{
left:8031.13px;bottom:24558.8px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P683_140
{
left:0px;letter-spacing:0px;margin-left:1061.8px;
}
#P683_141
{
left:11254.2px;bottom:24998.4px;color:rgb(35,31,31);
}
#P683_142
{
left:11590px;bottom:24576.4px;color:rgb(35,31,31);
}
#P683_143
{
left:11233.1px;bottom:24542.8px;color:rgb(35,31,31);
}
#P683_144
{
left:11611.2px;bottom:24560px;color:rgb(35,31,31);
}
#P683_145
{
left:11254.2px;bottom:24090.9px;color:rgb(35,31,31);
}
#P683_146
{
left:11590px;bottom:24576.4px;color:rgb(35,31,31);
}
#P683_147
{
left:11611.2px;bottom:24558.8px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P683_148
{
left:0px;letter-spacing:0px;margin-left:864.1px;
}
#P683_149
{
left:0px;letter-spacing:0px;margin-left:1119.3px;
}
#P683_150
{
left:19370.6px;bottom:24998.4px;color:rgb(35,31,31);
}
#P683_151
{
left:19706.5px;bottom:24576.4px;color:rgb(35,31,31);
}
#P683_152
{
left:19349.5px;bottom:24542.8px;color:rgb(35,31,31);
}
#P683_153
{
left:19727.6px;bottom:24560px;color:rgb(35,31,31);
}
#P683_154
{
left:19370.6px;bottom:24090.9px;color:rgb(35,31,31);
}
#P683_155
{
left:19706.5px;bottom:24576.4px;color:rgb(35,31,31);
}
#P683_156
{
left:21871.4px;bottom:24558.8px;word-spacing:1985.4px;color:rgb(35,31,31);
}
#P683_157
{
left:0px;letter-spacing:0px;margin-left:1665.6px;
}
#P683_158
{
left:0px;letter-spacing:0px;margin-left:1757.1px;
}
#P683_159
{
left:31793.1px;bottom:24998.4px;color:rgb(35,31,31);
}
#P683_160
{
left:32128.9px;bottom:24576.4px;color:rgb(35,31,31);
}
#P683_161
{
left:31436.2px;bottom:24542.8px;color:rgb(35,31,31);
}
#P683_162
{
left:32485.8px;bottom:24560px;color:rgb(35,31,31);
}
#P683_163
{
left:31457.3px;bottom:24090.9px;color:rgb(35,31,31);
}
#P683_164
{
left:32464.7px;bottom:24576.4px;color:rgb(35,31,31);
}
#P683_165
{
left:32485.8px;bottom:24558.8px;letter-spacing:2456.5px;color:rgb(35,31,31);
}
#P683_166
{
left:0px;letter-spacing:0px;margin-left:-2614.9px;
}
#P683_167
{
left:35121.8px;bottom:24998.4px;color:rgb(35,31,31);
}
#P683_168
{
left:35457.6px;bottom:24576.4px;color:rgb(35,31,31);
}
#P683_169
{
left:35100.7px;bottom:24542.8px;color:rgb(35,31,31);
}
#P683_170
{
left:35478.7px;bottom:24560px;color:rgb(35,31,31);
}
#P683_171
{
left:35121.8px;bottom:24090.9px;color:rgb(35,31,31);
}
#P683_172
{
left:35457.6px;bottom:24576.4px;color:rgb(35,31,31);
}
#P683_173
{
left:35478.7px;bottom:24558.8px;color:rgb(35,31,31);
}
#P683_174
{
left:8497.56px;bottom:22222.8px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P683_175
{
left:0px;letter-spacing:0px;margin-left:1761.2px;
}
#P683_176
{
left:0px;letter-spacing:0px;margin-left:1563.5px;
}
#P683_177
{
left:16423.2px;bottom:22662.4px;color:rgb(35,31,31);
}
#P683_178
{
left:17094.8px;bottom:22240.4px;color:rgb(35,31,31);
}
#P683_179
{
left:16234.1px;bottom:22206.8px;color:rgb(35,31,31);
}
#P683_180
{
left:17283.8px;bottom:22224px;color:rgb(35,31,31);
}
#P683_181
{
left:16255.3px;bottom:21754.9px;color:rgb(35,31,31);
}
#P683_182
{
left:17262.7px;bottom:22240.4px;color:rgb(35,31,31);
}
#P683_183
{
left:18875.1px;bottom:22222.8px;word-spacing:1432.9px;color:rgb(35,31,31);
}
#P683_184
{
left:0px;letter-spacing:0px;margin-left:1270.9px;
}
#P683_185
{
left:22307.2px;bottom:22662.4px;color:rgb(35,31,31);
}
#P683_186
{
left:22643px;bottom:22240.4px;color:rgb(35,31,31);
}
#P683_187
{
left:22286px;bottom:22206.8px;color:rgb(35,31,31);
}
#P683_188
{
left:22664.1px;bottom:22224px;color:rgb(35,31,31);
}
#P683_189
{
left:22307.2px;bottom:21754.9px;color:rgb(35,31,31);
}
#P683_190
{
left:22643px;bottom:22240.4px;color:rgb(35,31,31);
}
#P683_191
{
left:22664.1px;bottom:22222.8px;letter-spacing:1828.9px;word-spacing:-1987.3px;color:rgb(35,31,31);
}
#P683_192
{
left:25104.1px;bottom:22662.4px;color:rgb(35,31,31);
}
#P683_193
{
left:25439.9px;bottom:22240.4px;color:rgb(35,31,31);
}
#P683_194
{
left:25083px;bottom:22206.8px;color:rgb(35,31,31);
}
#P683_195
{
left:25461px;bottom:22224px;color:rgb(35,31,31);
}
#P683_196
{
left:25104.1px;bottom:21754.9px;color:rgb(35,31,31);
}
#P683_197
{
left:25439.9px;bottom:22240.4px;color:rgb(35,31,31);
}
#P683_198
{
left:25461px;bottom:22222.8px;color:rgb(35,31,31);
}
#P683_199
{
left:0px;letter-spacing:0px;margin-left:1535.7px;
}
#P683_200
{
left:0px;letter-spacing:0px;margin-left:1571.8px;
}
#P683_201
{
left:0px;letter-spacing:0px;margin-left:2179.1px;
}
#P683_202
{
left:8497.63px;bottom:19886.8px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P683_203
{
left:0px;letter-spacing:0px;margin-left:1776.3px;
}
#P683_204
{
left:13855.8px;bottom:20326.4px;color:rgb(35,31,31);
}
#P683_205
{
left:14191.6px;bottom:19904.4px;color:rgb(35,31,31);
}
#P683_206
{
left:13666.8px;bottom:19870.8px;color:rgb(35,31,31);
}
#P683_207
{
left:14380.6px;bottom:19888px;color:rgb(35,31,31);
}
#P683_208
{
left:13687.9px;bottom:19418.9px;color:rgb(35,31,31);
}
#P683_209
{
left:14359.5px;bottom:19904.4px;color:rgb(35,31,31);
}
#P683_210
{
left:14380.6px;bottom:19886.8px;letter-spacing:2030.9px;color:rgb(35,31,31);
}
#P683_211
{
left:0px;letter-spacing:0px;margin-left:-2189.3px;
}
#P683_212
{
left:16591.1px;bottom:20326.4px;color:rgb(35,31,31);
}
#P683_213
{
left:16926.9px;bottom:19904.4px;color:rgb(35,31,31);
}
#P683_214
{
left:16569.9px;bottom:19870.8px;color:rgb(35,31,31);
}
#P683_215
{
left:16948px;bottom:19888px;color:rgb(35,31,31);
}
#P683_216
{
left:16591.1px;bottom:19418.9px;color:rgb(35,31,31);
}
#P683_217
{
left:16926.9px;bottom:19904.4px;color:rgb(35,31,31);
}
#P683_218
{
left:18688.5px;bottom:19886.8px;word-spacing:1582.1px;color:rgb(35,31,31);
}
#P683_219
{
left:22195.5px;bottom:20326.4px;color:rgb(35,31,31);
}
#P683_220
{
left:22531.4px;bottom:19904.4px;color:rgb(35,31,31);
}
#P683_221
{
left:22006.6px;bottom:19870.8px;color:rgb(35,31,31);
}
#P683_222
{
left:22720.4px;bottom:19888px;color:rgb(35,31,31);
}
#P683_223
{
left:22027.7px;bottom:19418.9px;color:rgb(35,31,31);
}
#P683_224
{
left:22699.3px;bottom:19904.4px;color:rgb(35,31,31);
}
#P683_225
{
left:22720.4px;bottom:19886.8px;letter-spacing:1868.3px;color:rgb(35,31,31);
}
#P683_226
{
left:0px;letter-spacing:0px;margin-left:-2026.7px;
}
#P683_227
{
left:25104.1px;bottom:20326.4px;color:rgb(35,31,31);
}
#P683_228
{
left:25439.9px;bottom:19904.4px;color:rgb(35,31,31);
}
#P683_229
{
left:24747.2px;bottom:19870.8px;color:rgb(35,31,31);
}
#P683_230
{
left:25796.8px;bottom:19888px;color:rgb(35,31,31);
}
#P683_231
{
left:24768.3px;bottom:19418.9px;color:rgb(35,31,31);
}
#P683_232
{
left:25775.7px;bottom:19904.4px;color:rgb(35,31,31);
}
#P683_233
{
left:25796.8px;bottom:19886.8px;color:rgb(35,31,31);
}
#P683_234
{
left:0px;letter-spacing:0px;margin-left:1638.1px;
}
#P683_235
{
left:0px;letter-spacing:0px;margin-left:1400.3px;
}
#P683_236
{
left:0px;letter-spacing:0px;margin-left:1569.4px;
}
#P683_237
{
left:0px;letter-spacing:0px;
}
#P683_238
{
left:4941.34px;bottom:41034.3px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P683_239
{
left:4941.34px;bottom:40266.3px;color:rgb(35,31,31);
}
#P683_240
{
left:4941.34px;bottom:39399.5px;color:rgb(35,31,31);
}
#P683_241
{
left:4941.34px;bottom:38663.5px;color:rgb(35,31,31);
}
#P683_242
{
left:4941.34px;bottom:37927.5px;color:rgb(35,31,31);
}
#P683_243
{
left:4941.34px;bottom:37191.5px;color:rgb(35,31,31);
}
#P683_244
{
left:4690.71px;bottom:42818.1px;letter-spacing:-20.4px;color:white;
}
#P683_245
{
left:4690.71px;bottom:41858px;letter-spacing:-27.2px;color:white;
}
#P683_246
{
left:6669.79px;bottom:42114.8px;color:white;
}
#P683_247
{
left:6945.05px;bottom:41858px;letter-spacing:-27.2px;color:white;
}
#PageContainer683
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg683.jpg");background-repeat:no-repeat;background-size: 1021px 1272px; background-position: 0px -0.150000000000091px;
}
#ImageContainer683 {bottom:92.15px;left:0.00px;width:1020.57px;height:1272.01px;position:absolute;} #TextContainer683 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.math_paper_1{position: absolute;top: 108px;left: 160px;}
.math_paper_2{position: absolute;top: 108px;left: 211px;}
.class{position: absolute;top: 1210px;left: 252px;}
.practice{position: absolute;top: 1215px;left: 253px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}