.tr368{ color:transparent;}
#P368_1
{
left:5889.56px;bottom:46957.1px;letter-spacing:-6px;color:white;
}
#P368_2
{
left:9101.98px;bottom:47255.5px;color:white;
}
#P368_3
{
left:9475.61px;bottom:46957.1px;color:white;
}
#P368_4
{
left:2371.78px;bottom:46929.9px;color:white;
}
#P368_5
{
left:4086.06px;bottom:33252.6px;color:rgb(33,31,31);
}
#P368_6
{
left:4172.45px;bottom:33284px;letter-spacing:-0.7px;color:rgb(33,31,31);
}
#P368_7
{
left:4369.89px;bottom:33355.7px;color:rgb(33,31,31);
}
#P368_8
{
left:4455.46px;bottom:33386.8px;letter-spacing:0.8px;color:rgb(33,31,31);
}
#P368_9
{
left:4602.53px;bottom:33440.2px;color:rgb(33,31,31);
}
#P368_10
{
left:4164.48px;bottom:33073.4px;color:rgb(33,31,31);
}
#P368_11
{
left:4250.85px;bottom:33104.8px;letter-spacing:-0.2px;color:rgb(33,31,31);
}
#P368_12
{
left:4533.86px;bottom:33207.5px;letter-spacing:0.8px;color:rgb(33,31,31);
}
#P368_13
{
left:4259.68px;bottom:32894.2px;color:rgb(33,31,31);
}
#P368_14
{
left:4346.08px;bottom:32925.6px;letter-spacing:-0.2px;color:rgb(33,31,31);
}
#P368_15
{
left:4629.09px;bottom:33028.3px;letter-spacing:0.8px;color:rgb(33,31,31);
}
#P368_16
{
left:4424.86px;bottom:32645px;color:rgb(33,31,31);
}
#P368_17
{
left:4511.26px;bottom:32676.4px;letter-spacing:-0.2px;color:rgb(33,31,31);
}
#P368_18
{
left:4794.27px;bottom:32779.1px;letter-spacing:0.8px;color:rgb(33,31,31);
}
#P368_19
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P368_20
{
left:3540.44px;bottom:1410.03px;color:rgb(35,31,31);
}
#P368_21
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P368_22
{
left:9120.15px;bottom:1410.03px;letter-spacing:0.2px;word-spacing:461px;color:rgb(35,31,31);
}
#P368_23
{
left:0px;letter-spacing:0px;margin-left:-461.2px;
}
#P368_24
{
left:0px;letter-spacing:2.9px;margin-left:1.1px;
}
#P368_25
{
left:0px;letter-spacing:0px;margin-left:-463.9px;
}
#P368_26
{
left:0px;letter-spacing:1.3px;margin-left:1.1px;
}
#P368_27
{
left:4690.71px;bottom:42303.6px;color:rgb(35,31,31);
}
#P368_28
{
left:5259.29px;bottom:42323.3px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P368_29
{
left:6354.71px;bottom:42323.3px;color:rgb(2,77,161);
}
#P368_30
{
left:10071.1px;bottom:42303.6px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P368_31
{
left:0px;letter-spacing:-10.5px;margin-left:-214.6px;
}
#P368_32
{
left:0px;letter-spacing:-0.2px;margin-left:10.5px;
}
#P368_33
{
left:21847.8px;bottom:42303.6px;color:rgb(35,31,31);
}
#P368_34
{
left:22211.1px;bottom:42303.6px;color:rgb(35,31,31);
}
#P368_35
{
left:22457.5px;bottom:42479.6px;color:rgb(35,31,31);
}
#P368_36
{
left:22932px;bottom:42303.6px;letter-spacing:-1.1px;color:rgb(35,31,31);
}
#P368_37
{
left:0px;letter-spacing:0px;margin-left:1.1px;
}
#P368_38
{
left:6354.71px;bottom:41407.6px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P368_39
{
left:14294.4px;bottom:41407.6px;color:rgb(35,31,31);
}
#P368_40
{
left:14657.7px;bottom:41407.6px;color:rgb(35,31,31);
}
#P368_41
{
left:14816.1px;bottom:41378px;color:rgb(35,31,31);
}
#P368_42
{
left:15402.5px;bottom:41407.6px;color:rgb(35,31,31);
}
#P368_43
{
left:4690.71px;bottom:39807.6px;letter-spacing:-3px;color:rgb(35,31,31);
}
#P368_44
{
left:0px;letter-spacing:-0.2px;margin-left:3px;
}
#P368_45
{
left:0px;letter-spacing:0px;margin-left:-50.4px;
}
#P368_46
{
left:4690.71px;bottom:38271.7px;color:rgb(35,31,31);
}
#P368_47
{
left:5259.29px;bottom:38291.4px;color:rgb(35,31,31);
}
#P368_48
{
left:6290.71px;bottom:38271.7px;color:rgb(35,31,31);
}
#P368_49
{
left:6663.83px;bottom:38271.7px;color:rgb(35,31,31);
}
#P368_50
{
left:7027.1px;bottom:38271.7px;color:rgb(35,31,31);
}
#P368_51
{
left:7273.5px;bottom:38447.7px;color:rgb(35,31,31);
}
#P368_52
{
left:7747.99px;bottom:38271.7px;color:rgb(35,31,31);
}
#P368_53
{
left:15563.3px;bottom:38291.4px;color:rgb(35,31,31);
}
#P368_54
{
left:16594.8px;bottom:38271.7px;color:rgb(35,31,31);
}
#P368_55
{
left:16968px;bottom:38271.7px;color:rgb(35,31,31);
}
#P368_56
{
left:17331.2px;bottom:38271.7px;color:rgb(35,31,31);
}
#P368_57
{
left:17577.6px;bottom:38335.7px;color:rgb(35,31,31);
}
#P368_58
{
left:18225.3px;bottom:38271.7px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P368_59
{
left:25867.4px;bottom:38291.4px;word-spacing:120.6px;color:rgb(35,31,31);
}
#P368_60
{
left:26770.8px;bottom:38291.4px;color:rgb(35,31,31);
}
#P368_61
{
left:26796.2px;bottom:38713.3px;color:rgb(35,31,31);
}
#P368_62
{
left:27123.2px;bottom:38289.2px;color:rgb(35,31,31);
}
#P368_63
{
left:26770.7px;bottom:38257.6px;color:rgb(35,31,31);
}
#P368_64
{
left:27148.8px;bottom:38272.9px;color:rgb(35,31,31);
}
#P368_65
{
left:26791.8px;bottom:37805.8px;color:rgb(35,31,31);
}
#P368_66
{
left:27127.6px;bottom:38289.2px;color:rgb(35,31,31);
}
#P368_67
{
left:27395.2px;bottom:38335.6px;color:rgb(35,31,31);
}
#P368_68
{
left:28042.8px;bottom:38271.6px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P368_69
{
left:4690.71px;bottom:36735.6px;color:rgb(35,31,31);
}
#P368_70
{
left:5259.29px;bottom:36755.3px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P368_71
{
left:6354.71px;bottom:36755.3px;color:rgb(2,77,161);
}
#P368_72
{
left:10747px;bottom:36735.6px;letter-spacing:151.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P368_73
{
left:0px;letter-spacing:5.5px;margin-left:-183px;
}
#P368_74
{
left:0px;letter-spacing:-0.1px;margin-left:-5.6px;
}
#P368_75
{
left:6354.71px;bottom:35839.6px;letter-spacing:-0.2px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P368_76
{
left:4669.4px;bottom:30812.8px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P368_77
{
left:0px;letter-spacing:-14px;margin-left:-49.9px;
}
#P368_78
{
left:0px;letter-spacing:0px;margin-left:1.5px;
}
#P368_79
{
left:4669.4px;bottom:29148.8px;color:rgb(35,31,31);
}
#P368_80
{
left:5237.98px;bottom:29168.6px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P368_81
{
left:6269.4px;bottom:29168.6px;color:rgb(35,31,31);
}
#P368_82
{
left:6290.52px;bottom:29590.6px;color:rgb(35,31,31);
}
#P368_83
{
left:6868.38px;bottom:29166.4px;color:rgb(35,31,31);
}
#P368_84
{
left:6269.4px;bottom:29134.9px;color:rgb(35,31,31);
}
#P368_85
{
left:6889.5px;bottom:29150.1px;color:rgb(35,31,31);
}
#P368_86
{
left:6411.55px;bottom:28683.1px;color:rgb(35,31,31);
}
#P368_87
{
left:6747.35px;bottom:29166.4px;color:rgb(35,31,31);
}
#P368_88
{
left:7135.9px;bottom:29212.8px;color:rgb(35,31,31);
}
#P368_89
{
left:7783.51px;bottom:29148.8px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P368_90
{
left:12534px;bottom:29168.6px;color:rgb(35,31,31);
}
#P368_91
{
left:13565.4px;bottom:29148.8px;color:rgb(35,31,31);
}
#P368_92
{
left:14000.5px;bottom:29148.8px;color:rgb(35,31,31);
}
#P368_93
{
left:14158.9px;bottom:29119.3px;color:rgb(35,31,31);
}
#P368_94
{
left:14745.3px;bottom:29148.8px;color:rgb(35,31,31);
}
#P368_95
{
left:15523.2px;bottom:29212.8px;color:rgb(35,31,31);
}
#P368_96
{
left:16170.8px;bottom:29148.8px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P368_97
{
left:19958px;bottom:29168.6px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P368_98
{
left:20989.4px;bottom:29168.6px;color:rgb(35,31,31);
}
#P368_99
{
left:21070.4px;bottom:29590.6px;color:rgb(35,31,31);
}
#P368_100
{
left:21286.4px;bottom:29166.4px;color:rgb(35,31,31);
}
#P368_101
{
left:20989.4px;bottom:29134.9px;color:rgb(35,31,31);
}
#P368_102
{
left:21367.4px;bottom:29150.1px;color:rgb(35,31,31);
}
#P368_103
{
left:21010.5px;bottom:28683.1px;color:rgb(35,31,31);
}
#P368_104
{
left:21346.3px;bottom:29166.4px;color:rgb(35,31,31);
}
#P368_105
{
left:21613.8px;bottom:29324.8px;color:rgb(35,31,31);
}
#P368_106
{
left:22088.3px;bottom:29148.8px;color:rgb(35,31,31);
}
#P368_107
{
left:27122.3px;bottom:29168.6px;color:rgb(35,31,31);
}
#P368_108
{
left:0px;letter-spacing:0px;margin-left:248.6px;
}
#P368_109
{
left:0px;letter-spacing:0px;margin-left:-195.7px;
}
#P368_110
{
left:28538.4px;bottom:29590.6px;color:rgb(35,31,31);
}
#P368_111
{
left:28874.2px;bottom:29166.4px;color:rgb(35,31,31);
}
#P368_112
{
left:28349.4px;bottom:29134.9px;color:rgb(35,31,31);
}
#P368_113
{
left:29063.3px;bottom:29150.1px;color:rgb(35,31,31);
}
#P368_114
{
left:28370.5px;bottom:28683.1px;color:rgb(35,31,31);
}
#P368_115
{
left:29042.1px;bottom:29166.4px;color:rgb(35,31,31);
}
#P368_116
{
left:29063.3px;bottom:29148.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P368_117
{
left:29151.3px;bottom:29148.8px;color:rgb(35,31,31);
}
#P368_118
{
left:29461.7px;bottom:29148.8px;color:rgb(35,31,31);
}
#P368_119
{
left:29708.1px;bottom:29324.8px;color:rgb(35,31,31);
}
#P368_120
{
left:30182.6px;bottom:29148.8px;color:rgb(35,31,31);
}
#P368_121
{
left:4669.4px;bottom:26908.8px;color:rgb(35,31,31);
}
#P368_122
{
left:4846.43px;bottom:26928.6px;color:rgb(35,31,31);
}
#P368_123
{
left:6269.27px;bottom:26908.8px;color:rgb(35,31,31);
}
#P368_124
{
left:7015.51px;bottom:26908.8px;color:rgb(35,31,31);
}
#P368_125
{
left:7378.78px;bottom:26908.8px;color:rgb(35,31,31);
}
#P368_126
{
left:7625.18px;bottom:26972.8px;color:rgb(35,31,31);
}
#P368_127
{
left:8272.86px;bottom:26908.8px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P368_128
{
left:12142.4px;bottom:26928.6px;color:rgb(35,31,31);
}
#P368_129
{
left:13565.3px;bottom:26908.8px;color:rgb(35,31,31);
}
#P368_130
{
left:13938.4px;bottom:26908.8px;color:rgb(35,31,31);
}
#P368_131
{
left:14301.7px;bottom:26908.8px;color:rgb(35,31,31);
}
#P368_132
{
left:14548.1px;bottom:27084.8px;color:rgb(35,31,31);
}
#P368_133
{
left:15022.6px;bottom:26908.8px;color:rgb(35,31,31);
}
#P368_134
{
left:19566.4px;bottom:26928.6px;color:rgb(35,31,31);
}
#P368_135
{
left:20989.3px;bottom:26908.8px;color:rgb(35,31,31);
}
#P368_136
{
left:21468.1px;bottom:26470.3px;color:rgb(35,31,31);
}
#P368_137
{
left:21819.9px;bottom:26908.8px;color:rgb(35,31,31);
}
#P368_138
{
left:21978.3px;bottom:26908.8px;color:rgb(35,31,31);
}
#P368_139
{
left:22530.9px;bottom:26908.8px;color:rgb(35,31,31);
}
#P368_140
{
left:22777.3px;bottom:27084.8px;color:rgb(35,31,31);
}
#P368_141
{
left:23251.8px;bottom:26908.8px;color:rgb(35,31,31);
}
#P368_142
{
left:26926.6px;bottom:26928.6px;color:rgb(35,31,31);
}
#P368_143
{
left:28349.4px;bottom:26908.8px;color:rgb(35,31,31);
}
#P368_144
{
left:28722.5px;bottom:26908.8px;color:rgb(35,31,31);
}
#P368_145
{
left:29137.9px;bottom:26908.8px;color:rgb(35,31,31);
}
#P368_146
{
left:29384.3px;bottom:27084.8px;color:rgb(35,31,31);
}
#P368_147
{
left:29858.8px;bottom:26908.8px;color:rgb(35,31,31);
}
#P368_148
{
left:4669.27px;bottom:24668.8px;color:rgb(35,31,31);
}
#P368_149
{
left:4846.43px;bottom:24688.6px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P368_150
{
left:6269.27px;bottom:24688.6px;color:rgb(35,31,31);
}
#P368_151
{
left:6290.52px;bottom:25110.6px;color:rgb(35,31,31);
}
#P368_152
{
left:6626.33px;bottom:24686.4px;color:rgb(35,31,31);
}
#P368_153
{
left:6269.4px;bottom:24654.9px;color:rgb(35,31,31);
}
#P368_154
{
left:6647.45px;bottom:24670.1px;color:rgb(35,31,31);
}
#P368_155
{
left:6290.52px;bottom:24203.1px;color:rgb(35,31,31);
}
#P368_156
{
left:6626.33px;bottom:24686.4px;color:rgb(35,31,31);
}
#P368_157
{
left:6647.45px;bottom:24668.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P368_158
{
left:6735.45px;bottom:24668.8px;color:rgb(35,31,31);
}
#P368_159
{
left:7128.99px;bottom:24668.8px;color:rgb(35,31,31);
}
#P368_160
{
left:7375.39px;bottom:24732.8px;color:rgb(35,31,31);
}
#P368_161
{
left:8023.07px;bottom:24668.8px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P368_162
{
left:12142.5px;bottom:24688.6px;color:rgb(35,31,31);
}
#P368_163
{
left:13565.4px;bottom:24668.8px;color:rgb(35,31,31);
}
#P368_164
{
left:13938.5px;bottom:24668.8px;color:rgb(35,31,31);
}
#P368_165
{
left:14301.8px;bottom:24668.8px;color:rgb(35,31,31);
}
#P368_166
{
left:14548.2px;bottom:24732.8px;color:rgb(35,31,31);
}
#P368_167
{
left:15195.9px;bottom:24668.8px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P368_168
{
left:19566.6px;bottom:24688.6px;color:rgb(35,31,31);
}
#P368_169
{
left:20989.4px;bottom:24668.8px;color:rgb(35,31,31);
}
#P368_170
{
left:21362.5px;bottom:24668.8px;color:rgb(35,31,31);
}
#P368_171
{
left:21636.4px;bottom:24668.8px;color:rgb(35,31,31);
}
#P368_172
{
left:21882.8px;bottom:24844.8px;color:rgb(35,31,31);
}
#P368_173
{
left:22357.3px;bottom:24668.8px;color:rgb(35,31,31);
}
#P368_174
{
left:26926.6px;bottom:24688.6px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P368_175
{
left:28349.5px;bottom:24688.6px;color:rgb(35,31,31);
}
#P368_176
{
left:28370.5px;bottom:25110.6px;color:rgb(35,31,31);
}
#P368_177
{
left:28706.3px;bottom:24686.4px;color:rgb(35,31,31);
}
#P368_178
{
left:28349.4px;bottom:24654.9px;color:rgb(35,31,31);
}
#P368_179
{
left:28727.4px;bottom:24670.1px;color:rgb(35,31,31);
}
#P368_180
{
left:28370.5px;bottom:24203.1px;color:rgb(35,31,31);
}
#P368_181
{
left:28706.3px;bottom:24686.4px;color:rgb(35,31,31);
}
#P368_182
{
left:28727.4px;bottom:24668.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P368_183
{
left:28815.4px;bottom:24668.8px;color:rgb(35,31,31);
}
#P368_184
{
left:29174.5px;bottom:24668.8px;color:rgb(35,31,31);
}
#P368_185
{
left:29420.9px;bottom:24844.8px;color:rgb(35,31,31);
}
#P368_186
{
left:29895.4px;bottom:24668.8px;color:rgb(35,31,31);
}
#P368_187
{
left:4669.4px;bottom:22428.8px;color:rgb(35,31,31);
}
#P368_188
{
left:4846.43px;bottom:22448.6px;color:rgb(35,31,31);
}
#P368_189
{
left:6269.27px;bottom:22428.8px;color:rgb(35,31,31);
}
#P368_190
{
left:6642.39px;bottom:22428.8px;color:rgb(35,31,31);
}
#P368_191
{
left:6882.46px;bottom:22428.8px;color:rgb(35,31,31);
}
#P368_192
{
left:7128.86px;bottom:22492.8px;color:rgb(35,31,31);
}
#P368_193
{
left:7776.54px;bottom:22428.8px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P368_194
{
left:12142.4px;bottom:22448.6px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P368_195
{
left:13565.3px;bottom:22448.6px;color:rgb(35,31,31);
}
#P368_196
{
left:13586.5px;bottom:22870.6px;color:rgb(35,31,31);
}
#P368_197
{
left:13922.3px;bottom:22446.4px;color:rgb(35,31,31);
}
#P368_198
{
left:13565.4px;bottom:22414.9px;color:rgb(35,31,31);
}
#P368_199
{
left:13943.4px;bottom:22430.1px;color:rgb(35,31,31);
}
#P368_200
{
left:13586.5px;bottom:21963.1px;color:rgb(35,31,31);
}
#P368_201
{
left:13922.3px;bottom:22446.4px;color:rgb(35,31,31);
}
#P368_202
{
left:13943.4px;bottom:22428.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P368_203
{
left:14031.4px;bottom:22428.8px;color:rgb(35,31,31);
}
#P368_204
{
left:14584.1px;bottom:22428.8px;color:rgb(35,31,31);
}
#P368_205
{
left:14830.5px;bottom:22604.8px;color:rgb(35,31,31);
}
#P368_206
{
left:15305px;bottom:22428.8px;color:rgb(35,31,31);
}
#P368_207
{
left:19566.6px;bottom:22448.6px;color:rgb(35,31,31);
}
#P368_208
{
left:20989.4px;bottom:22428.8px;color:rgb(35,31,31);
}
#P368_209
{
left:21735.6px;bottom:22428.8px;color:rgb(35,31,31);
}
#P368_210
{
left:22377.8px;bottom:22428.8px;color:rgb(35,31,31);
}
#P368_211
{
left:22624.2px;bottom:22492.8px;color:rgb(35,31,31);
}
#P368_212
{
left:23271.9px;bottom:22428.8px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P368_213
{
left:26926.7px;bottom:22448.6px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P368_214
{
left:28349.5px;bottom:22448.6px;color:rgb(35,31,31);
}
#P368_215
{
left:28370.5px;bottom:22870.6px;color:rgb(35,31,31);
}
#P368_216
{
left:28706.3px;bottom:22870.6px;color:rgb(35,31,31);
}
#P368_217
{
left:29033.2px;bottom:22446.4px;color:rgb(35,31,31);
}
#P368_218
{
left:28349.4px;bottom:22414.9px;color:rgb(35,31,31);
}
#P368_219
{
left:29054.4px;bottom:22430.1px;color:rgb(35,31,31);
}
#P368_220
{
left:28534px;bottom:21963.1px;color:rgb(35,31,31);
}
#P368_221
{
left:28869.8px;bottom:22446.4px;color:rgb(35,31,31);
}
#P368_222
{
left:29300.8px;bottom:22604.8px;color:rgb(35,31,31);
}
#P368_223
{
left:29775.3px;bottom:22428.8px;color:rgb(35,31,31);
}
#P368_224
{
left:4669.4px;bottom:20188.8px;color:rgb(35,31,31);
}
#P368_225
{
left:4846.55px;bottom:20208.6px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P368_226
{
left:6333.4px;bottom:20208.6px;word-spacing:-26px;color:rgb(2,77,161);
}
#P368_227
{
left:0px;letter-spacing:0px;margin-left:-52.8px;
}
#P368_228
{
left:0px;letter-spacing:0px;margin-left:-12.5px;
}
#P368_229
{
left:11627px;bottom:20188.8px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P368_230
{
left:0px;letter-spacing:-0.5px;margin-left:-197.8px;
}
#P368_231
{
left:0px;letter-spacing:-0.3px;margin-left:0.5px;
}
#P368_232
{
left:6333.4px;bottom:19292.8px;color:rgb(35,31,31);
}
#P368_233
{
left:0px;letter-spacing:0px;margin-left:-66.9px;
}
#P368_234
{
left:4669.4px;bottom:17180.8px;color:rgb(35,31,31);
}
#P368_235
{
left:4846.55px;bottom:17200.6px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P368_236
{
left:6333.4px;bottom:17200.6px;letter-spacing:-1.8px;color:rgb(2,77,161);
}
#P368_237
{
left:9789.4px;bottom:17180.8px;letter-spacing:168.3px;color:rgb(35,31,31);
}
#P368_238
{
left:0px;letter-spacing:-0.3px;margin-left:-168.3px;
}
#P368_239
{
left:6333.4px;bottom:16284.8px;letter-spacing:-0.6px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P368_240
{
left:0px;letter-spacing:-0.1px;margin-left:-13.4px;
}
#P368_241
{
left:0px;letter-spacing:-13.1px;margin-left:-42.1px;
}
#P368_242
{
left:0px;letter-spacing:-0.1px;margin-left:13px;
}
#P368_243
{
left:6333.4px;bottom:15388.7px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P368_244
{
left:0px;letter-spacing:0px;margin-left:-13.1px;
}
#P368_245
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P368_246
{
left:0px;letter-spacing:0px;margin-left:-13.9px;
}
#P368_247
{
left:4669.4px;bottom:13276.7px;color:rgb(35,31,31);
}
#P368_248
{
left:4846.55px;bottom:13296.4px;color:rgb(35,31,31);
}
#P368_249
{
left:6333.4px;bottom:13296.5px;color:rgb(2,77,161);
}
#P368_250
{
left:0px;letter-spacing:0px;margin-left:-183px;
}
#P368_251
{
left:0px;letter-spacing:0px;margin-left:-52.1px;
}
#P368_252
{
left:10636.2px;bottom:13276.8px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P368_253
{
left:0px;letter-spacing:0px;margin-left:-210.4px;
}
#P368_254
{
left:0px;letter-spacing:-0.9px;margin-left:-4.2px;
}
#P368_255
{
left:0px;letter-spacing:0px;margin-left:0.9px;
}
#P368_256
{
left:6333.4px;bottom:12380.8px;letter-spacing:-0.3px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P368_257
{
left:0px;letter-spacing:-21.1px;margin-left:-27.8px;
}
#P368_258
{
left:0px;letter-spacing:5.5px;margin-left:-10.5px;
}
#P368_259
{
left:0px;letter-spacing:-0.1px;margin-left:-5.6px;
}
#P368_260
{
left:6333.4px;bottom:11484.8px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P368_261
{
left:0px;letter-spacing:-0.1px;margin-left:-13.1px;
}
#P368_262
{
left:0px;letter-spacing:0px;margin-left:0.1px;
}
#P368_263
{
left:4669.53px;bottom:9500.72px;letter-spacing:-14.8px;color:rgb(35,31,31);
}
#P368_264
{
left:0px;letter-spacing:-2.1px;margin-left:14.8px;
}
#P368_265
{
left:0px;letter-spacing:0px;margin-left:2.1px;
}
#P368_266
{
left:0px;letter-spacing:-28px;margin-left:-50.6px;
}
#P368_267
{
left:4669.53px;bottom:8604.84px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P368_268
{
left:0px;letter-spacing:0px;margin-left:-50.1px;
}
#P368_269
{
left:4669.53px;bottom:7260.84px;color:rgb(35,31,31);
}
#P368_270
{
left:4846.55px;bottom:7280.56px;color:rgb(35,31,31);
}
#P368_271
{
left:6333.4px;bottom:7260.84px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P368_272
{
left:13332.5px;bottom:7260.84px;color:rgb(35,31,31);
}
#P368_273
{
left:13767.6px;bottom:7260.84px;color:rgb(35,31,31);
}
#P368_274
{
left:4669.47px;bottom:5916.78px;color:rgb(35,31,31);
}
#P368_275
{
left:4846.49px;bottom:5936.49px;color:rgb(35,31,31);
}
#P368_276
{
left:6333.34px;bottom:5916.78px;color:rgb(35,31,31);
}
#P368_277
{
left:9666.01px;bottom:5916.78px;color:rgb(35,31,31);
}
#P368_278
{
left:9906.07px;bottom:5916.78px;letter-spacing:-1.8px;color:rgb(35,31,31);
}
#P368_279
{
left:0px;letter-spacing:0px;margin-left:1.8px;
}
#P368_280
{
left:4669.34px;bottom:4572.72px;color:rgb(35,31,31);
}
#P368_281
{
left:4846.43px;bottom:4592.43px;color:rgb(35,31,31);
}
#P368_282
{
left:6333.27px;bottom:4572.72px;color:rgb(35,31,31);
}
#P368_283
{
left:18326.4px;bottom:4572.72px;color:rgb(35,31,31);
}
#P368_284
{
left:18879px;bottom:4572.72px;color:rgb(35,31,31);
}
#P368_285
{
left:24636.6px;bottom:19389.1px;letter-spacing:3816px;color:rgb(35,31,31);
}
#P368_286
{
left:0px;letter-spacing:0px;margin-left:-3974.4px;
}
#P368_287
{
left:28709.8px;bottom:19790.8px;color:rgb(35,31,31);
}
#P368_288
{
left:28961.3px;bottom:19368.7px;color:rgb(35,31,31);
}
#P368_289
{
left:28611px;bottom:19373.1px;color:rgb(35,31,31);
}
#P368_290
{
left:29060.1px;bottom:19390.4px;color:rgb(35,31,31);
}
#P368_291
{
left:28632.2px;bottom:18883.2px;color:rgb(35,31,31);
}
#P368_292
{
left:29038.9px;bottom:19368.7px;color:rgb(35,31,31);
}
#P368_293
{
left:29060.1px;bottom:19346.9px;color:rgb(35,31,31);
}
#P368_294
{
left:29060.1px;bottom:19346.9px;color:rgb(35,31,31);
}
#P368_295
{
left:29324.1px;bottom:19545.3px;color:rgb(35,31,31);
}
#P368_296
{
left:29332.1px;bottom:19629.1px;color:rgb(35,31,31);
}
#P368_297
{
left:29806.6px;bottom:19346.9px;color:rgb(35,31,31);
}
#P368_298
{
left:24636.6px;bottom:17490.9px;letter-spacing:2704px;color:rgb(35,31,31);
}
#P368_299
{
left:0px;letter-spacing:0px;margin-left:-2880px;
}
#P368_300
{
left:27615.4px;bottom:17912.6px;color:rgb(35,31,31);
}
#P368_301
{
left:27866.9px;bottom:17512.7px;color:rgb(35,31,31);
}
#P368_302
{
left:27516.6px;bottom:17494.9px;color:rgb(35,31,31);
}
#P368_303
{
left:27965.7px;bottom:17534.4px;color:rgb(35,31,31);
}
#P368_304
{
left:27537.8px;bottom:17005px;color:rgb(35,31,31);
}
#P368_305
{
left:27944.5px;bottom:17512.7px;color:rgb(35,31,31);
}
#P368_306
{
left:27965.7px;bottom:17490.9px;letter-spacing:-176px;color:rgb(35,31,31);
}
#P368_307
{
left:28088.9px;bottom:17094.5px;color:rgb(35,31,31);
}
#P368_308
{
left:28440.6px;bottom:17490.9px;color:rgb(35,31,31);
}
#P368_309
{
left:29332.6px;bottom:17773.1px;color:rgb(35,31,31);
}
#P368_310
{
left:29807.1px;bottom:17490.9px;color:rgb(35,31,31);
}
#P368_311
{
left:0px;letter-spacing:0px;margin-left:-176px;
}
#P368_312
{
left:30004.2px;bottom:17912.6px;color:rgb(35,31,31);
}
#P368_313
{
left:30773.4px;bottom:17512.7px;color:rgb(35,31,31);
}
#P368_314
{
left:29983.1px;bottom:17494.9px;color:rgb(35,31,31);
}
#P368_315
{
left:30794.5px;bottom:17534.4px;color:rgb(35,31,31);
}
#P368_316
{
left:30185.4px;bottom:17005px;color:rgb(35,31,31);
}
#P368_317
{
left:30592.2px;bottom:17512.7px;color:rgb(35,31,31);
}
#P368_318
{
left:30794.5px;bottom:17490.9px;color:rgb(35,31,31);
}
#P368_319
{
left:24636.6px;bottom:16018.9px;color:rgb(35,31,31);
}
#P368_320
{
left:28790.2px;bottom:16018.9px;color:rgb(35,31,31);
}
#P368_321
{
left:29333.7px;bottom:16301.1px;color:rgb(35,31,31);
}
#P368_322
{
left:29808.2px;bottom:16018.9px;color:rgb(35,31,31);
}
#P368_323
{
left:29984.2px;bottom:16018.9px;color:rgb(35,31,31);
}
#P368_324
{
left:0px;bottom:0px;letter-spacing:0px;color:rgb(235,26,35);
}
#P368_325
{
left:3973.02px;bottom:29132.2px;
}
#P368_326
{
left:3973.02px;bottom:29132.2px;color:white;
}
#P368_327
{
left:3963.8px;bottom:26962.7px;
}
#P368_328
{
left:3963.8px;bottom:26962.7px;color:white;
}
#P368_329
{
left:26785.2px;bottom:46233.7px;word-spacing:0.2px;color:rgb(33,31,31);
}
#P368_330
{
left:25073.6px;bottom:18518.1px;
}
#PageContainer368
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg368.jpg");background-repeat:no-repeat;background-size: 971px 1237px; background-position: 0px 35.73px;
}
#ImageContainer368 {bottom:91.27px;left:0.00px;width:970.96px;height:1237.24px;position:absolute;} #TextContainer368 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.answer{ position: absolute; top: 46px; left: 22px;}
.circle1{position: absolute;top: 545px;left: 94px;}
.circle2{position: absolute;top: 602px;left: 94px;}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}