.tr413{ color:transparent;}
#P413_1
{
left:4592.6px;bottom:1544.43px;color:rgb(35,31,31);
}
#P413_2
{
left:27821px;bottom:1544.43px;letter-spacing:1.8px;word-spacing:461.5px;color:rgb(35,31,31);
}
#P413_3
{
left:0px;letter-spacing:0px;margin-left:176.7px;
}
#P413_4
{
left:0px;letter-spacing:6.3px;margin-left:21.2px;
}
#P413_5
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P413_6
{
left:6973.4px;bottom:45479.5px;color:rgb(35,31,31);
}
#P413_7
{
left:7541.98px;bottom:45499.2px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P413_8
{
left:8573.4px;bottom:45479.5px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P413_9
{
left:0px;letter-spacing:-0.9px;margin-left:-6.6px;
}
#P413_10
{
left:0px;letter-spacing:0px;margin-left:0.9px;
}
#P413_11
{
left:8573.4px;bottom:44583.5px;letter-spacing:0.3px;color:rgb(35,31,31);
}
#P413_12
{
left:0px;letter-spacing:0px;margin-left:-67.2px;
}
#P413_13
{
left:0px;letter-spacing:-2.4px;
}
#P413_14
{
left:0px;letter-spacing:-1.2px;margin-left:2.4px;
}
#P413_15
{
left:0px;letter-spacing:0px;margin-left:-19.8px;
}
#P413_16
{
left:0px;letter-spacing:-56.2px;margin-left:-21px;
}
#P413_17
{
left:6973.4px;bottom:35047.5px;color:rgb(35,31,31);
}
#P413_18
{
left:7933.4px;bottom:35067.2px;letter-spacing:444.3px;color:rgb(35,31,31);
}
#P413_19
{
left:8573.4px;bottom:35047.5px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P413_20
{
left:0px;letter-spacing:0px;margin-left:-20.6px;
}
#P413_21
{
left:0px;letter-spacing:-0.4px;
}
#P413_22
{
left:8573.4px;bottom:34151.5px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P413_23
{
left:13624px;bottom:34151.5px;color:rgb(0,124,196);
}
#P413_24
{
left:6973.4px;bottom:32359.5px;color:rgb(35,31,31);
}
#P413_25
{
left:8696.15px;bottom:32379.2px;letter-spacing:-90.7px;color:rgb(35,31,31);
}
#P413_26
{
left:9153.11px;bottom:32359.5px;letter-spacing:285.9px;color:rgb(35,31,31);
}
#P413_27
{
left:0px;letter-spacing:0px;margin-left:-444.3px;
}
#P413_28
{
left:9786.39px;bottom:32799.1px;color:rgb(35,31,31);
}
#P413_29
{
left:10122.2px;bottom:32377.1px;color:rgb(35,31,31);
}
#P413_30
{
left:9597.4px;bottom:32343.5px;color:rgb(35,31,31);
}
#P413_31
{
left:10311.3px;bottom:32360.7px;color:rgb(35,31,31);
}
#P413_32
{
left:9618.52px;bottom:31891.6px;color:rgb(35,31,31);
}
#P413_33
{
left:10290.1px;bottom:32377.1px;color:rgb(35,31,31);
}
#P413_34
{
left:10311.3px;bottom:32359.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P413_35
{
left:23041.1px;bottom:32379.2px;color:rgb(35,31,31);
}
#P413_36
{
left:24189.4px;bottom:32359.5px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P413_37
{
left:6973.4px;bottom:30439.5px;color:rgb(35,31,31);
}
#P413_38
{
left:8449.11px;bottom:30459.2px;color:rgb(35,31,31);
}
#P413_39
{
left:9597.41px;bottom:30439.5px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P413_40
{
left:10079.6px;bottom:30879.1px;color:rgb(35,31,31);
}
#P413_41
{
left:10751.3px;bottom:30457.1px;color:rgb(35,31,31);
}
#P413_42
{
left:10058.5px;bottom:30423.5px;color:rgb(35,31,31);
}
#P413_43
{
left:10772.4px;bottom:30440.7px;color:rgb(35,31,31);
}
#P413_44
{
left:10079.6px;bottom:29971.6px;color:rgb(35,31,31);
}
#P413_45
{
left:10751.3px;bottom:30457.1px;color:rgb(35,31,31);
}
#P413_46
{
left:10772.4px;bottom:30439.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P413_47
{
left:23353.7px;bottom:30459.2px;color:rgb(35,31,31);
}
#P413_48
{
left:24189.4px;bottom:30439.5px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P413_49
{
left:6973.4px;bottom:27623.5px;color:rgb(35,31,31);
}
#P413_50
{
left:7541.85px;bottom:27643.2px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P413_51
{
left:8573.27px;bottom:27623.5px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P413_52
{
left:22989.9px;bottom:27623.5px;color:rgb(0,124,196);
}
#P413_53
{
left:0px;letter-spacing:0px;margin-left:-154.9px;
}
#P413_54
{
left:6973.4px;bottom:26087.5px;letter-spacing:1825.6px;color:rgb(35,31,31);
}
#P413_55
{
left:10107px;bottom:25640.4px;color:rgb(35,31,31);
}
#P413_56
{
left:13937.2px;bottom:25621.6px;letter-spacing:2267.9px;color:rgb(35,31,31);
}
#P413_57
{
left:0px;letter-spacing:0px;margin-left:2446px;
}
#P413_58
{
left:0px;letter-spacing:0px;
}
#P413_59
{
left:10088.1px;bottom:24296.4px;letter-spacing:-37.2px;color:rgb(35,31,31);
}
#P413_60
{
left:0px;letter-spacing:0px;margin-left:37.2px;
}
#P413_61
{
left:13937.3px;bottom:24277.6px;color:rgb(35,31,31);
}
#P413_62
{
left:0px;letter-spacing:0px;margin-left:2267.8px;
}
#P413_63
{
left:0px;letter-spacing:0px;margin-left:2089.7px;
}
#P413_64
{
left:0px;letter-spacing:0px;margin-left:1911.7px;
}
#P413_65
{
left:6973.4px;bottom:20775.5px;color:rgb(35,31,31);
}
#P413_66
{
left:7150.55px;bottom:20795.2px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P413_67
{
left:8573.4px;bottom:20775.5px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P413_68
{
left:0px;letter-spacing:0px;margin-left:-214.4px;
}
#P413_69
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P413_70
{
left:0px;letter-spacing:-2.8px;
}
#P413_71
{
left:0px;letter-spacing:0px;margin-left:-18.2px;
}
#P413_72
{
left:0px;letter-spacing:-7px;
}
#P413_73
{
left:25390.9px;bottom:20775.5px;color:rgb(0,124,196);
}
#P413_74
{
left:6973.4px;bottom:19303.5px;letter-spacing:801.6px;color:rgb(0,124,196);
}
#P413_75
{
left:6973.4px;bottom:5351.47px;color:rgb(35,31,31);
}
#P413_76
{
left:8449.11px;bottom:5371.18px;color:rgb(35,31,31);
}
#P413_77
{
left:9597.41px;bottom:5351.47px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P413_78
{
left:0px;letter-spacing:0px;margin-left:-285.9px;
}
#P413_79
{
left:12118.4px;bottom:5695.2px;color:rgb(35,31,31);
}
#P413_80
{
left:12389.7px;bottom:5351.47px;color:rgb(35,31,31);
}
#P413_81
{
left:23119.3px;bottom:5371.18px;color:rgb(35,31,31);
}
#P413_82
{
left:24189.4px;bottom:5351.47px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P413_83
{
left:0px;letter-spacing:0px;margin-left:-285.9px;
}
#P413_84
{
left:26710.4px;bottom:5695.2px;color:rgb(35,31,31);
}
#P413_85
{
left:6973.4px;bottom:3815.47px;color:rgb(35,31,31);
}
#P413_86
{
left:8527.26px;bottom:3835.18px;color:rgb(35,31,31);
}
#P413_87
{
left:9597.41px;bottom:3815.47px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P413_88
{
left:0px;letter-spacing:0px;margin-left:-285.9px;
}
#P413_89
{
left:12118.4px;bottom:4159.2px;color:rgb(35,31,31);
}
#P413_90
{
left:12389.7px;bottom:3815.47px;color:rgb(35,31,31);
}
#P413_91
{
left:23041.1px;bottom:3835.18px;color:rgb(35,31,31);
}
#P413_92
{
left:24189.4px;bottom:3815.47px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P413_93
{
left:0px;letter-spacing:0px;margin-left:-285.9px;
}
#P413_94
{
left:26710.4px;bottom:4159.2px;color:rgb(35,31,31);
}
#P413_95
{
left:11366.6px;bottom:43376.7px;color:rgb(35,31,31);
}
#P413_96
{
left:0px;letter-spacing:0px;margin-left:9844.4px;
}
#P413_97
{
left:31206.3px;bottom:36657.1px;color:rgb(35,31,31);
}
#P413_98
{
left:11722.4px;bottom:38070.7px;color:rgb(35,31,31);
}
#P413_99
{
left:11571.2px;bottom:37417.9px;color:rgb(35,31,31);
}
#P413_100
{
left:12366.4px;bottom:37749.6px;color:rgb(35,31,31);
}
#P413_101
{
left:26550.2px;bottom:37726.3px;color:rgb(35,31,31);
}
#P413_102
{
left:6973.4px;bottom:26087.5px;color:rgb(239,100,102);
}
#PageContainer413
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg413.jpg");background-repeat:no-repeat;background-size: 1066px 1142px; background-position: 1px -0.319999999999936px;
}
#ImageContainer413 {bottom:222.32px;right:0.00px;width:1066.24px;height:1141.84px;position:absolute;} #TextContainer413 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}