.tr326{ color:transparent;}
#P326_1
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P326_2
{
left:3540.44px;bottom:1410.03px;color:rgb(35,31,31);
}
#P326_3
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P326_4
{
left:9120.15px;bottom:1410.03px;letter-spacing:0.2px;word-spacing:461px;color:rgb(35,31,31);
}
#P326_5
{
left:0px;letter-spacing:0px;margin-left:-461.2px;
}
#P326_6
{
left:0px;letter-spacing:2.9px;margin-left:1.1px;
}
#P326_7
{
left:0px;letter-spacing:0px;margin-left:-463.9px;
}
#P326_8
{
left:0px;letter-spacing:1.3px;margin-left:1.1px;
}
#P326_9
{
left:6977.56px;bottom:46940.1px;color:white;
}
#P326_10
{
left:9541.91px;bottom:47238.4px;color:white;
}
#P326_11
{
left:9915.55px;bottom:46940.1px;color:white;
}
#P326_12
{
left:15244.5px;bottom:47238.4px;color:white;
}
#P326_13
{
left:15618.1px;bottom:46940.1px;color:white;
}
#P326_14
{
left:19478.1px;bottom:47238.4px;color:white;
}
#P326_15
{
left:19851.7px;bottom:46940.1px;color:white;
}
#P326_16
{
left:6977.56px;bottom:45327.3px;color:white;
}
#P326_17
{
left:9391.39px;bottom:45625.6px;color:white;
}
#P326_18
{
left:9765.02px;bottom:45327.3px;color:white;
}
#P326_19
{
left:10287.8px;bottom:45625.6px;color:white;
}
#P326_20
{
left:10661.5px;bottom:45327.3px;letter-spacing:-1.8px;color:white;
}
#P326_21
{
left:19276.8px;bottom:45625.6px;color:white;
}
#P326_22
{
left:19650.4px;bottom:45327.3px;color:white;
}
#P326_23
{
left:3459.64px;bottom:46161.9px;color:white;
}
#P326_24
{
left:18852.5px;bottom:41182.6px;letter-spacing:213.2px;color:rgb(35,31,31);
}
#P326_25
{
left:0px;letter-spacing:0px;margin-left:-213.2px;
}
#P326_26
{
left:7741.4px;bottom:40094.5px;color:rgb(35,31,31);
}
#P326_27
{
left:7741.4px;bottom:38364.8px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P326_28
{
left:7741.4px;bottom:37468.9px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P326_29
{
left:0px;letter-spacing:0px;margin-left:-13.4px;
}
#P326_30
{
left:20349.4px;bottom:38364.8px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P326_31
{
left:20349.4px;bottom:37468.9px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P326_32
{
left:0px;letter-spacing:0px;margin-left:-13.6px;
}
#P326_33
{
left:9251.48px;bottom:27324.8px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P326_34
{
left:0px;letter-spacing:0.4px;margin-left:14.2px;
}
#P326_35
{
left:0px;letter-spacing:0px;margin-left:-42.4px;
}
#P326_36
{
left:9251.48px;bottom:26044.7px;color:rgb(35,31,31);
}
#P326_37
{
left:9379.48px;bottom:26044.7px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P326_38
{
left:10595.5px;bottom:26044.7px;letter-spacing:-9.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P326_39
{
left:0px;letter-spacing:-0.1px;margin-left:9.3px;
}
#P326_40
{
left:17259.8px;bottom:26044.7px;color:rgb(35,31,31);
}
#P326_41
{
left:17694.9px;bottom:26044.7px;color:rgb(35,31,31);
}
#P326_42
{
left:17853.3px;bottom:26015.1px;color:rgb(35,31,31);
}
#P326_43
{
left:18439.7px;bottom:26044.7px;color:rgb(35,31,31);
}
#P326_44
{
left:19129.4px;bottom:26015.1px;color:rgb(35,31,31);
}
#P326_45
{
left:19715.9px;bottom:26044.7px;color:rgb(35,31,31);
}
#P326_46
{
left:10595.5px;bottom:25102.3px;color:rgb(35,31,31);
}
#P326_47
{
left:10949.8px;bottom:24956.8px;letter-spacing:447.2px;color:rgb(35,31,31);
}
#P326_48
{
left:0px;letter-spacing:0px;margin-left:-605.6px;
}
#P326_49
{
left:0px;letter-spacing:-2.3px;margin-left:-4.2px;
}
#P326_50
{
left:0px;letter-spacing:-1px;margin-left:2.3px;
}
#P326_51
{
left:0px;letter-spacing:0px;margin-left:-13px;
}
#P326_52
{
left:26700.2px;bottom:24956.8px;color:rgb(35,31,31);
}
#P326_53
{
left:27135.3px;bottom:24956.8px;color:rgb(35,31,31);
}
#P326_54
{
left:27293.7px;bottom:24927.2px;color:rgb(35,31,31);
}
#P326_55
{
left:27880.1px;bottom:24956.8px;color:rgb(35,31,31);
}
#P326_56
{
left:28570px;bottom:24927.2px;color:rgb(35,31,31);
}
#P326_57
{
left:29156.4px;bottom:24956.8px;color:rgb(35,31,31);
}
#P326_58
{
left:10595.5px;bottom:16334.3px;color:rgb(35,31,31);
}
#P326_59
{
left:10949.8px;bottom:16188.8px;letter-spacing:447.2px;color:rgb(35,31,31);
}
#P326_60
{
left:0px;letter-spacing:0px;margin-left:-605.6px;
}
#P326_61
{
left:0px;letter-spacing:-7px;margin-left:-20.9px;
}
#P326_62
{
left:0px;letter-spacing:0px;margin-left:7px;
}
#P326_63
{
left:0px;letter-spacing:0px;margin-left:999.9px;
}
#P326_64
{
left:0px;letter-spacing:-3.1px;
}
#P326_65
{
left:0px;letter-spacing:0px;margin-left:-17.8px;
}
#P326_66
{
left:0px;letter-spacing:-3px;margin-left:-4.2px;
}
#P326_67
{
left:0px;letter-spacing:0px;margin-left:3px;
}
#P326_68
{
left:11179.5px;bottom:14652.8px;color:rgb(35,31,31);
}
#P326_69
{
left:11883.5px;bottom:14844.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P326_70
{
left:0px;letter-spacing:0px;margin-left:158.4px;
}
#P326_71
{
left:16721.9px;bottom:14844.8px;color:rgb(35,31,31);
}
#P326_72
{
left:17157px;bottom:14844.8px;color:rgb(35,31,31);
}
#P326_73
{
left:17315.4px;bottom:14815.2px;color:rgb(35,31,31);
}
#P326_74
{
left:17901.8px;bottom:14844.8px;letter-spacing:1364.9px;color:rgb(35,31,31);
}
#P326_75
{
left:9251.48px;bottom:13372.8px;color:rgb(35,31,31);
}
#P326_76
{
left:9379.35px;bottom:13372.8px;letter-spacing:-17.4px;color:rgb(35,31,31);
}
#P326_77
{
left:10595.5px;bottom:13372.8px;letter-spacing:-1.8px;color:rgb(35,31,31);
}
#P326_78
{
left:0px;letter-spacing:-0.2px;margin-left:1.8px;
}
#P326_79
{
left:9251.48px;bottom:12284.8px;color:rgb(35,31,31);
}
#P326_80
{
left:9379.35px;bottom:12284.8px;letter-spacing:-14px;word-spacing:551.3px;color:rgb(35,31,31);
}
#P326_81
{
left:10595.5px;bottom:12284.8px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P326_82
{
left:0px;letter-spacing:-5.6px;margin-left:1.3px;
}
#P326_83
{
left:0px;letter-spacing:0px;margin-left:5.6px;
}
#P326_84
{
left:25327.6px;bottom:12284.8px;color:rgb(35,31,31);
}
#P326_85
{
left:25762.6px;bottom:12284.8px;color:rgb(35,31,31);
}
#P326_86
{
left:25921px;bottom:12255.2px;color:rgb(35,31,31);
}
#P326_87
{
left:26507.5px;bottom:12284.8px;color:rgb(35,31,31);
}
#P326_88
{
left:27197.4px;bottom:12255.2px;color:rgb(35,31,31);
}
#P326_89
{
left:27783.8px;bottom:12284.8px;color:rgb(35,31,31);
}
#P326_90
{
left:10595.5px;bottom:11388.8px;letter-spacing:-10.5px;color:rgb(35,31,31);
}
#P326_91
{
left:0px;letter-spacing:-2.8px;margin-left:10.5px;
}
#P326_92
{
left:0px;letter-spacing:0px;margin-left:2.8px;
}
#P326_93
{
left:9251.48px;bottom:9468.78px;color:rgb(35,31,31);
}
#P326_94
{
left:9379.42px;bottom:9468.78px;letter-spacing:10690.5px;color:rgb(35,31,31);
}
#P326_95
{
left:0px;letter-spacing:0px;margin-left:-10134.3px;
}
#P326_96
{
left:10129.7px;bottom:28885px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P326_97
{
left:13554.8px;bottom:29076.8px;color:rgb(255,223,126);
}
#P326_98
{
left:14179.5px;bottom:28885px;word-spacing:207.4px;color:white;
}
#P326_99
{
left:15828.1px;bottom:29076.8px;color:white;
}
#P326_100
{
left:16068.2px;bottom:28885px;color:white;
}
#P326_101
{
left:20663px;bottom:29076.8px;color:white;
}
#P326_102
{
left:20903.2px;bottom:28885px;color:white;
}
#P326_103
{
left:8389.27px;bottom:28761.5px;
}
#P326_104
{
left:8389.27px;bottom:28761.5px;color:white;
}
#P326_105
{
left:4301.34px;bottom:13360.5px;color:rgb(35,31,31);
}
#P326_106
{
left:4674.39px;bottom:13388.9px;letter-spacing:-10.2px;color:rgb(35,31,31);
}
#P326_107
{
left:6691.93px;bottom:13360.5px;color:rgb(35,31,31);
}
#P326_108
{
left:4301.34px;bottom:12656.5px;letter-spacing:-14.1px;color:rgb(35,31,31);
}
#P326_109
{
left:5012.31px;bottom:12684.9px;letter-spacing:-10.4px;color:rgb(35,31,31);
}
#P326_110
{
left:2365.37px;bottom:11788px;letter-spacing:2px;word-spacing:-8.2px;color:rgb(35,31,31);
}
#P326_111
{
left:2365.37px;bottom:11004.8px;letter-spacing:-3.3px;word-spacing:-0.7px;color:rgb(35,31,31);
}
#P326_112
{
left:0px;letter-spacing:-0.3px;margin-left:2.4px;
}
#P326_113
{
left:0px;letter-spacing:-3.1px;margin-left:-4.5px;
}
#P326_114
{
left:2365.37px;bottom:10383px;color:rgb(35,31,31);
}
#P326_115
{
left:2615.28px;bottom:10164.8px;color:rgb(35,31,31);
}
#P326_116
{
left:2960.24px;bottom:10204.8px;letter-spacing:-125.2px;word-spacing:-5.4px;color:rgb(35,31,31);
}
#P326_117
{
left:0px;letter-spacing:-0.6px;margin-left:125.1px;
}
#P326_118
{
left:0px;letter-spacing:1.1px;margin-left:121.4px;
}
#P326_119
{
left:0px;letter-spacing:-0.1px;margin-left:-1.1px;
}
#P326_120
{
left:2960.24px;bottom:9564.78px;letter-spacing:-2.9px;color:rgb(35,31,31);
}
#P326_121
{
left:0px;letter-spacing:-0.3px;margin-left:5.9px;
}
#P326_122
{
left:2365.37px;bottom:9071.02px;color:rgb(35,31,31);
}
#P326_123
{
left:2615.28px;bottom:8852.78px;color:rgb(35,31,31);
}
#P326_124
{
left:2960.24px;bottom:8892.78px;letter-spacing:-124.9px;word-spacing:-5.7px;color:rgb(35,31,31);
}
#P326_125
{
left:0px;letter-spacing:-0.3px;margin-left:125.1px;
}
#P326_126
{
left:0px;letter-spacing:0.2px;margin-left:120px;
}
#P326_127
{
left:2960.24px;bottom:8252.78px;letter-spacing:0.2px;word-spacing:-5.2px;color:rgb(35,31,31);
}
#P326_128
{
left:0px;letter-spacing:0px;margin-left:3px;
}
#P326_129
{
left:2365.37px;bottom:7759.02px;color:rgb(35,31,31);
}
#P326_130
{
left:2615.28px;bottom:7540.78px;color:rgb(35,31,31);
}
#P326_131
{
left:2960.24px;bottom:7580.78px;letter-spacing:-130.6px;color:rgb(35,31,31);
}
#P326_132
{
left:0px;letter-spacing:-1.7px;margin-left:131.9px;
}
#P326_133
{
left:0px;letter-spacing:-2.7px;margin-left:5.6px;
}
#P326_134
{
left:0px;letter-spacing:0.6px;margin-left:3.2px;
}
#P326_135
{
left:2365.38px;bottom:6812.78px;letter-spacing:-1.5px;word-spacing:-5.3px;color:rgb(35,31,31);
}
#P326_136
{
left:0px;letter-spacing:-0.1px;margin-left:8.7px;
}
#P326_137
{
left:2365.38px;bottom:6172.72px;letter-spacing:0.6px;color:rgb(35,31,31);
}
#P326_138
{
left:2365.38px;bottom:5532.65px;letter-spacing:-2.5px;color:rgb(35,31,31);
}
#PageContainer326
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg326.jpg");background-repeat:no-repeat;background-size: 1066px 1255px; background-position: 1px -0.6400000000001px;
}
#ImageContainer326 {bottom:109.64px;right:0.00px;width:1066.24px;height:1254.52px;position:absolute;} #TextContainer326 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.rpj{position: absolute;top: 214px;left: 152px;}
.srpj{position: absolute;top: 214px;left: 102px;}
.math_tool{position: absolute;top: 543px;left: 156px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}