.tr380{ color:transparent;}
#P380_1
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P380_2
{
left:3540.44px;bottom:1410.03px;color:rgb(35,31,31);
}
#P380_3
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P380_4
{
left:9121.88px;bottom:1410.03px;letter-spacing:462.3px;word-spacing:-0.3px;color:rgb(35,31,31);
}
#P380_5
{
left:0px;letter-spacing:3.9px;margin-left:-462.1px;
}
#P380_6
{
left:0px;letter-spacing:-0.8px;margin-left:173.2px;
}
#P380_7
{
left:0px;letter-spacing:2.1px;margin-left:1.8px;
}
#P380_8
{
left:6977.56px;bottom:46182.7px;letter-spacing:-4px;color:white;
}
#P380_9
{
left:11683.2px;bottom:46481.1px;color:white;
}
#P380_10
{
left:12056.8px;bottom:46182.7px;color:white;
}
#P380_11
{
left:15219.2px;bottom:46481.1px;color:white;
}
#P380_12
{
left:15592.9px;bottom:46182.7px;color:white;
}
#P380_13
{
left:19202.8px;bottom:46481.1px;color:white;
}
#P380_14
{
left:19576.5px;bottom:46182.7px;letter-spacing:-6px;color:white;
}
#P380_15
{
left:3459.78px;bottom:46155.6px;color:white;
}
#P380_16
{
left:18852.5px;bottom:41182.6px;letter-spacing:213.2px;color:rgb(35,31,31);
}
#P380_17
{
left:0px;letter-spacing:0px;margin-left:-213.2px;
}
#P380_18
{
left:32248px;bottom:41182.6px;word-spacing:39.1px;color:rgb(35,31,31);
}
#P380_19
{
left:7741.4px;bottom:39103px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P380_20
{
left:0px;letter-spacing:0px;margin-left:0.8px;
}
#P380_21
{
left:23602.5px;bottom:39103px;letter-spacing:-3px;word-spacing:56.3px;color:rgb(35,31,31);
}
#P380_22
{
left:0px;letter-spacing:0px;margin-left:-53.3px;
}
#P380_23
{
left:0px;letter-spacing:0px;
}
#P380_24
{
left:26503.4px;bottom:39103px;letter-spacing:-4px;color:rgb(35,31,31);
}
#P380_25
{
left:11016.9px;bottom:37823px;letter-spacing:-0.2px;word-spacing:0.2px;color:rgb(35,31,31);
}
#P380_26
{
left:0px;letter-spacing:-0.2px;margin-left:-13.7px;
}
#P380_27
{
left:0px;letter-spacing:-0.2px;margin-left:-25.1px;
}
#P380_28
{
left:0px;letter-spacing:0px;margin-left:5140.9px;
}
#P380_29
{
left:0px;letter-spacing:-0.2px;margin-left:-12.5px;
}
#P380_30
{
left:0px;letter-spacing:-0.2px;margin-left:5.7px;
}
#P380_31
{
left:0px;letter-spacing:-0.2px;margin-left:-25.1px;
}
#P380_32
{
left:11789.8px;bottom:30079px;letter-spacing:3889.9px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P380_33
{
left:0px;letter-spacing:-0.1px;margin-left:-3923.6px;
}
#P380_34
{
left:0px;letter-spacing:-0.1px;
}
#P380_35
{
left:0px;letter-spacing:0px;margin-left:7212.7px;
}
#P380_36
{
left:0px;letter-spacing:0.5px;margin-left:-8.4px;
}
#P380_37
{
left:9251.48px;bottom:25521.3px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P380_38
{
left:0px;letter-spacing:0.4px;margin-left:14.1px;
}
#P380_39
{
left:0px;letter-spacing:-14px;margin-left:-42.5px;
}
#P380_40
{
left:0px;letter-spacing:0.2px;margin-left:5.5px;
}
#P380_41
{
left:0px;letter-spacing:0px;margin-left:-28.2px;
}
#P380_42
{
left:0px;letter-spacing:-9.3px;
}
#P380_43
{
left:0px;letter-spacing:0px;margin-left:9.3px;
}
#P380_44
{
left:9251.48px;bottom:24625.3px;word-spacing:-28px;color:rgb(35,31,31);
}
#P380_45
{
left:0px;letter-spacing:0px;margin-left:91.8px;
}
#P380_46
{
left:0px;letter-spacing:0px;margin-left:28px;
}
#P380_47
{
left:13507px;bottom:24625.3px;letter-spacing:77.1px;color:rgb(35,31,31);
}
#P380_48
{
left:0px;letter-spacing:0px;margin-left:-77.1px;
}
#P380_49
{
left:9242.14px;bottom:22577.3px;letter-spacing:-9.3px;word-spacing:-147.8px;color:rgb(35,31,31);
}
#P380_50
{
left:0px;letter-spacing:0px;margin-left:609.3px;
}
#P380_51
{
left:0px;letter-spacing:-2.3px;margin-left:-12.5px;
}
#P380_52
{
left:20701.4px;bottom:22577.3px;letter-spacing:556.2px;color:rgb(35,31,31);
}
#P380_53
{
left:29117.4px;bottom:20216px;color:rgb(0,145,68);
}
#P380_54
{
left:23469.1px;bottom:20168.2px;color:rgb(237,28,35);
}
#P380_55
{
left:26373.3px;bottom:20192.4px;color:rgb(0,124,196);
}
#P380_56
{
left:9251.48px;bottom:18801.3px;letter-spacing:-83.8px;color:rgb(35,31,31);
}
#P380_57
{
left:0px;letter-spacing:0px;margin-left:1024px;
}
#P380_58
{
left:0px;letter-spacing:0px;margin-left:11372.2px;
}
#P380_59
{
left:0px;letter-spacing:0px;margin-left:-21px;
}
#P380_60
{
left:0px;letter-spacing:-1.4px;
}
#P380_61
{
left:9251.48px;bottom:15153.3px;color:rgb(35,31,31);
}
#P380_62
{
left:9379.48px;bottom:15153.3px;letter-spacing:-17.5px;color:rgb(35,31,31);
}
#P380_63
{
left:15395.5px;bottom:15153.3px;color:rgb(35,31,31);
}
#P380_64
{
left:18782.6px;bottom:15153.3px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P380_65
{
left:24806.7px;bottom:15153.3px;color:rgb(35,31,31);
}
#P380_66
{
left:27828.4px;bottom:15153.3px;color:rgb(35,31,31);
}
#P380_67
{
left:28451.5px;bottom:15153.3px;color:rgb(35,31,31);
}
#P380_68
{
left:9251.48px;bottom:9073.32px;color:rgb(35,31,31);
}
#P380_69
{
left:9379.48px;bottom:9073.32px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P380_70
{
left:15398.7px;bottom:9073.32px;color:rgb(35,31,31);
}
#P380_71
{
left:18896.5px;bottom:9073.32px;letter-spacing:-17.4px;color:rgb(35,31,31);
}
#P380_72
{
left:27113.9px;bottom:9073.32px;color:rgb(35,31,31);
}
#P380_73
{
left:27879.1px;bottom:9073.32px;color:rgb(35,31,31);
}
#P380_74
{
left:28451.5px;bottom:9073.32px;color:rgb(35,31,31);
}
#P380_75
{
left:10129.7px;bottom:27081.5px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P380_76
{
left:13554.8px;bottom:27273.3px;color:rgb(255,223,126);
}
#P380_77
{
left:14175.7px;bottom:27081.5px;letter-spacing:-3.9px;word-spacing:207.4px;color:white;
}
#P380_78
{
left:16228.2px;bottom:27273.3px;color:white;
}
#P380_79
{
left:16468.4px;bottom:27081.5px;word-spacing:-31.9px;color:white;
}
#P380_80
{
left:18150px;bottom:27273.3px;color:white;
}
#P380_81
{
left:18390.2px;bottom:27081.5px;color:white;
}
#P380_82
{
left:23063.6px;bottom:27273.3px;color:white;
}
#P380_83
{
left:23303.8px;bottom:27081.5px;color:white;
}
#P380_84
{
left:8389.27px;bottom:26958px;
}
#P380_85
{
left:8389.27px;bottom:26958px;color:white;
}
#P380_86
{
left:4301.34px;bottom:13360.5px;color:rgb(35,31,31);
}
#P380_87
{
left:4674.39px;bottom:13388.9px;letter-spacing:-10.2px;color:rgb(35,31,31);
}
#P380_88
{
left:6691.93px;bottom:13360.5px;color:rgb(35,31,31);
}
#P380_89
{
left:4301.34px;bottom:12656.5px;letter-spacing:-14.1px;color:rgb(35,31,31);
}
#P380_90
{
left:5012.31px;bottom:12684.9px;letter-spacing:-10.4px;color:rgb(35,31,31);
}
#P380_91
{
left:2365.37px;bottom:11788px;letter-spacing:4.5px;color:rgb(35,31,31);
}
#P380_92
{
left:2365.37px;bottom:11004.8px;letter-spacing:-3.3px;word-spacing:-0.7px;color:rgb(35,31,31);
}
#P380_93
{
left:0px;letter-spacing:-0.3px;margin-left:2.4px;
}
#P380_94
{
left:0px;letter-spacing:-3.1px;margin-left:-4.5px;
}
#P380_95
{
left:2365.37px;bottom:10383px;color:rgb(35,31,31);
}
#P380_96
{
left:2615.28px;bottom:10164.8px;color:rgb(35,31,31);
}
#P380_97
{
left:2957.34px;bottom:10204.8px;letter-spacing:-2px;word-spacing:-131.5px;color:rgb(35,31,31);
}
#P380_98
{
left:0px;letter-spacing:0px;margin-left:128px;
}
#P380_99
{
left:0px;letter-spacing:4.9px;margin-left:0.9px;
}
#P380_100
{
left:0px;letter-spacing:-1.4px;margin-left:-3.7px;
}
#P380_101
{
left:2960.24px;bottom:9564.78px;letter-spacing:-134.6px;word-spacing:141.4px;color:rgb(35,31,31);
}
#P380_102
{
left:0px;letter-spacing:1.6px;margin-left:135.8px;
}
#P380_103
{
left:2365.37px;bottom:8943.02px;color:rgb(35,31,31);
}
#P380_104
{
left:2615.28px;bottom:8724.78px;letter-spacing:186.6px;color:rgb(35,31,31);
}
#P380_105
{
left:2960.24px;bottom:8764.78px;letter-spacing:-135.2px;word-spacing:-0.3px;color:rgb(35,31,31);
}
#P380_106
{
left:0px;letter-spacing:-1.4px;margin-left:141.7px;
}
#P380_107
{
left:0px;letter-spacing:-1.2px;margin-left:125.4px;
}
#P380_108
{
left:0px;letter-spacing:-1.6px;margin-left:-4px;
}
#P380_109
{
left:2960.24px;bottom:8124.78px;letter-spacing:0.9px;word-spacing:-1px;color:rgb(35,31,31);
}
#P380_110
{
left:0px;letter-spacing:0.4px;margin-left:-1.6px;
}
#P380_111
{
left:0px;letter-spacing:-0.8px;margin-left:-0.1px;
}
#P380_112
{
left:2960.24px;bottom:7484.72px;letter-spacing:-1.6px;word-spacing:-1.5px;color:rgb(35,31,31);
}
#P380_113
{
left:2365.38px;bottom:6716.65px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P380_114
{
left:0px;letter-spacing:-3.1px;margin-left:0.4px;
}
#P380_115
{
left:0px;letter-spacing:0.5px;margin-left:2.3px;
}
#P380_116
{
left:2365.38px;bottom:6076.65px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#PageContainer380
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg380.jpg");background-repeat:no-repeat;background-size: 1066px 1269px; background-position: 1px -0.5px;
}
#ImageContainer380 {bottom:95.50px;right:0.00px;width:1066.24px;height:1268.66px;position:absolute;} #TextContainer380 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.rpj{ position: absolute; top: 203px; left: 154px;
}
.srpj{ position: absolute; top: 204px; left: 111px;
}
.math_paper1{ position: absolute; top: 598px; left: 171px;
}
.math_paper2{ position: absolute; top: 599px;left: 128px;
}
.math_tool{ position: absolute; top: 595px; left: 88px;
}
.geo{position: absolute;top: 661px;left: 155px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}