.tr99{ color:transparent;}
#P99_1
{
left:5065.69px;bottom:42564.3px;color:white;
}
#P99_2
{
left:5300.38px;bottom:41470.4px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P99_3
{
left:5300.38px;bottom:40702.4px;color:rgb(35,31,31);
}
#P99_4
{
left:5300.38px;bottom:39934.4px;color:rgb(35,31,31);
}
#P99_5
{
left:5300.38px;bottom:39166.4px;color:rgb(35,31,31);
}
#P99_6
{
left:5300.38px;bottom:38398.4px;color:rgb(35,31,31);
}
#P99_7
{
left:5300.38px;bottom:37630.4px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P99_8
{
left:6068.38px;bottom:36478.4px;color:rgb(35,31,31);
}
#P99_9
{
left:0px;letter-spacing:0px;margin-left:-177.9px;
}
#P99_10
{
left:6443.42px;bottom:36877.8px;color:rgb(35,31,31);
}
#P99_11
{
left:6763.67px;bottom:36492.2px;color:rgb(35,31,31);
}
#P99_12
{
left:6424.22px;bottom:36444px;color:rgb(35,31,31);
}
#P99_13
{
left:6782.87px;bottom:36457.8px;color:rgb(35,31,31);
}
#P99_14
{
left:6443.42px;bottom:36052.8px;color:rgb(35,31,31);
}
#P99_15
{
left:6763.67px;bottom:36492.2px;color:rgb(35,31,31);
}
#P99_16
{
left:6782.87px;bottom:36478.4px;letter-spacing:-177.9px;color:rgb(35,31,31);
}
#P99_17
{
left:6960.79px;bottom:36429.7px;color:rgb(35,31,31);
}
#P99_18
{
left:7493.91px;bottom:36478.4px;color:rgb(35,31,31);
}
#P99_19
{
left:0px;letter-spacing:0px;margin-left:-177.9px;
}
#P99_20
{
left:8046.87px;bottom:36877.8px;color:rgb(35,31,31);
}
#P99_21
{
left:8367.13px;bottom:36492.2px;color:rgb(35,31,31);
}
#P99_22
{
left:8027.67px;bottom:36444px;color:rgb(35,31,31);
}
#P99_23
{
left:8386.33px;bottom:36457.8px;color:rgb(35,31,31);
}
#P99_24
{
left:8046.87px;bottom:36052.8px;color:rgb(35,31,31);
}
#P99_25
{
left:8367.13px;bottom:36492.2px;color:rgb(35,31,31);
}
#P99_26
{
left:8386.33px;bottom:36478.4px;letter-spacing:-177.9px;color:rgb(35,31,31);
}
#P99_27
{
left:8564.25px;bottom:36429.7px;color:rgb(35,31,31);
}
#P99_28
{
left:9097.37px;bottom:36478.4px;color:rgb(35,31,31);
}
#P99_29
{
left:0px;letter-spacing:0px;margin-left:-177.9px;
}
#P99_30
{
left:9294.49px;bottom:36877.8px;color:rgb(35,31,31);
}
#P99_31
{
left:9614.75px;bottom:36492.2px;color:rgb(35,31,31);
}
#P99_32
{
left:9275.29px;bottom:36444px;color:rgb(35,31,31);
}
#P99_33
{
left:9633.95px;bottom:36457.8px;color:rgb(35,31,31);
}
#P99_34
{
left:9294.49px;bottom:36052.8px;color:rgb(35,31,31);
}
#P99_35
{
left:9614.75px;bottom:36492.2px;color:rgb(35,31,31);
}
#P99_36
{
left:9633.95px;bottom:36478.4px;letter-spacing:-177.9px;color:rgb(35,31,31);
}
#P99_37
{
left:5300.38px;bottom:35198.4px;color:rgb(35,31,31);
}
#P99_38
{
left:6964.38px;bottom:35149.7px;color:rgb(35,31,31);
}
#P99_39
{
left:7497.5px;bottom:35198.4px;color:rgb(35,31,31);
}
#P99_40
{
left:8209.18px;bottom:35149.7px;color:rgb(35,31,31);
}
#P99_41
{
left:8742.3px;bottom:35198.4px;color:rgb(35,31,31);
}
#P99_42
{
left:9453.98px;bottom:35149.7px;color:rgb(35,31,31);
}
#P99_43
{
left:9987.1px;bottom:35198.4px;color:rgb(35,31,31);
}
#P99_44
{
left:5300.38px;bottom:34302.4px;color:rgb(35,31,31);
}
#P99_45
{
left:6964.38px;bottom:34253.7px;color:rgb(35,31,31);
}
#P99_46
{
left:7497.5px;bottom:34302.4px;color:rgb(35,31,31);
}
#P99_47
{
left:8209.18px;bottom:34253.7px;color:rgb(35,31,31);
}
#P99_48
{
left:8742.3px;bottom:34302.4px;color:rgb(35,31,31);
}
#P99_49
{
left:5300.38px;bottom:33406.4px;color:rgb(35,31,31);
}
#P99_50
{
left:6964.38px;bottom:33357.7px;color:rgb(35,31,31);
}
#P99_51
{
left:7497.5px;bottom:33406.4px;color:rgb(35,31,31);
}
#P99_52
{
left:8671.26px;bottom:33492.4px;color:rgb(235,26,35);
}
#P99_53
{
left:7741.4px;bottom:46049.6px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P99_54
{
left:14609.7px;bottom:46074.2px;color:white;
}
#P99_55
{
left:15522.1px;bottom:46266px;color:white;
}
#P99_56
{
left:15762.3px;bottom:46074.2px;letter-spacing:-1.4px;color:white;
}
#P99_57
{
left:23116.1px;bottom:46266px;color:white;
}
#P99_58
{
left:23356.3px;bottom:46074.2px;color:white;
}
#P99_59
{
left:12765.3px;bottom:45907.1px;
}
#P99_60
{
left:12765.3px;bottom:45907.1px;color:white;
}
#P99_61
{
left:13836.6px;bottom:44282.2px;color:rgb(35,31,31);
}
#P99_62
{
left:0px;letter-spacing:0px;margin-left:-16.8px;
}
#P99_63
{
left:0px;letter-spacing:0px;margin-left:-10.5px;
}
#P99_64
{
left:0px;letter-spacing:0px;margin-left:-59.8px;
}
#P99_65
{
left:0px;letter-spacing:0px;margin-left:-147.8px;
}
#P99_66
{
left:17321.6px;bottom:44721.8px;color:rgb(35,31,31);
}
#P99_67
{
left:17676.4px;bottom:44299.8px;color:rgb(35,31,31);
}
#P99_68
{
left:17300.4px;bottom:44266.1px;color:rgb(35,31,31);
}
#P99_69
{
left:17697.5px;bottom:44283.4px;color:rgb(35,31,31);
}
#P99_70
{
left:17321.6px;bottom:43814.3px;color:rgb(35,31,31);
}
#P99_71
{
left:17676.4px;bottom:44299.8px;color:rgb(35,31,31);
}
#P99_72
{
left:17697.5px;bottom:44282.2px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P99_73
{
left:17845.3px;bottom:44252.6px;color:rgb(35,31,31);
}
#P99_74
{
left:18431.8px;bottom:44282.2px;color:rgb(35,31,31);
}
#P99_75
{
left:0px;letter-spacing:0px;margin-left:-147.8px;
}
#P99_76
{
left:18994.9px;bottom:44721.8px;color:rgb(35,31,31);
}
#P99_77
{
left:19349.7px;bottom:44299.8px;color:rgb(35,31,31);
}
#P99_78
{
left:18973.8px;bottom:44266.1px;color:rgb(35,31,31);
}
#P99_79
{
left:19370.8px;bottom:44283.4px;color:rgb(35,31,31);
}
#P99_80
{
left:18994.9px;bottom:43814.3px;color:rgb(35,31,31);
}
#P99_81
{
left:19349.7px;bottom:44299.8px;color:rgb(35,31,31);
}
#P99_82
{
left:19370.8px;bottom:44282.2px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P99_83
{
left:19518.7px;bottom:44252.6px;color:rgb(35,31,31);
}
#P99_84
{
left:20105.1px;bottom:44282.2px;color:rgb(35,31,31);
}
#P99_85
{
left:0px;letter-spacing:0px;margin-left:-147.8px;
}
#P99_86
{
left:20274.1px;bottom:44721.8px;color:rgb(35,31,31);
}
#P99_87
{
left:20628.9px;bottom:44299.8px;color:rgb(35,31,31);
}
#P99_88
{
left:20253px;bottom:44266.1px;color:rgb(35,31,31);
}
#P99_89
{
left:20650px;bottom:44283.4px;color:rgb(35,31,31);
}
#P99_90
{
left:20274.1px;bottom:43814.3px;color:rgb(35,31,31);
}
#P99_91
{
left:20628.9px;bottom:44299.8px;color:rgb(35,31,31);
}
#P99_92
{
left:20650px;bottom:44282.2px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P99_93
{
left:13804.6px;bottom:42170.2px;word-spacing:-158.4px;color:rgb(235,26,35);
}
#P99_94
{
left:14198.9px;bottom:42609.8px;color:rgb(235,26,35);
}
#P99_95
{
left:14534.7px;bottom:42187.8px;color:rgb(235,26,35);
}
#P99_96
{
left:14177.8px;bottom:42154.1px;color:rgb(235,26,35);
}
#P99_97
{
left:14555.8px;bottom:42171.4px;color:rgb(235,26,35);
}
#P99_98
{
left:14198.9px;bottom:41702.3px;color:rgb(235,26,35);
}
#P99_99
{
left:14534.7px;bottom:42187.8px;color:rgb(235,26,35);
}
#P99_100
{
left:14555.8px;bottom:42170.2px;color:rgb(235,26,35);
}
#P99_101
{
left:14555.8px;bottom:42170.2px;color:rgb(35,31,31);
}
#P99_102
{
left:14714.2px;bottom:42140.6px;color:rgb(35,31,31);
}
#P99_103
{
left:15300.6px;bottom:42170.2px;color:rgb(35,31,31);
}
#P99_104
{
left:15459px;bottom:42170.2px;word-spacing:-158.4px;color:rgb(0,124,196);
}
#P99_105
{
left:15853.3px;bottom:42609.8px;color:rgb(0,124,196);
}
#P99_106
{
left:16189.1px;bottom:42187.8px;color:rgb(0,124,196);
}
#P99_107
{
left:15832.2px;bottom:42154.1px;color:rgb(0,124,196);
}
#P99_108
{
left:16210.2px;bottom:42171.4px;color:rgb(0,124,196);
}
#P99_109
{
left:15853.3px;bottom:41702.3px;color:rgb(0,124,196);
}
#P99_110
{
left:16189.1px;bottom:42187.8px;color:rgb(0,124,196);
}
#P99_111
{
left:16210.2px;bottom:42170.2px;color:rgb(0,124,196);
}
#P99_112
{
left:16210.2px;bottom:42170.2px;color:rgb(35,31,31);
}
#P99_113
{
left:16368.6px;bottom:42140.6px;color:rgb(35,31,31);
}
#P99_114
{
left:16955px;bottom:42170.2px;color:rgb(35,31,31);
}
#P99_115
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P99_116
{
left:17134.6px;bottom:42609.8px;color:rgb(35,31,31);
}
#P99_117
{
left:17470.4px;bottom:42187.8px;color:rgb(35,31,31);
}
#P99_118
{
left:17113.4px;bottom:42154.1px;color:rgb(35,31,31);
}
#P99_119
{
left:17491.5px;bottom:42171.4px;color:rgb(35,31,31);
}
#P99_120
{
left:17134.6px;bottom:41702.3px;color:rgb(35,31,31);
}
#P99_121
{
left:17470.4px;bottom:42187.8px;color:rgb(35,31,31);
}
#P99_122
{
left:17491.5px;bottom:42170.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P99_123
{
left:17649.9px;bottom:42140.6px;color:rgb(35,31,31);
}
#P99_124
{
left:18236.3px;bottom:42170.2px;color:rgb(235,26,35);
}
#P99_125
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P99_126
{
left:18415.8px;bottom:42609.8px;color:rgb(235,26,35);
}
#P99_127
{
left:19087.4px;bottom:42187.8px;color:rgb(235,26,35);
}
#P99_128
{
left:18394.7px;bottom:42154.1px;color:rgb(235,26,35);
}
#P99_129
{
left:19108.6px;bottom:42171.4px;color:rgb(235,26,35);
}
#P99_130
{
left:18583.7px;bottom:41702.3px;color:rgb(235,26,35);
}
#P99_131
{
left:18919.5px;bottom:42187.8px;color:rgb(235,26,35);
}
#P99_132
{
left:19108.6px;bottom:42170.2px;color:rgb(235,26,35);
}
#P99_133
{
left:19108.6px;bottom:42170.2px;color:rgb(35,31,31);
}
#P99_134
{
left:19266.9px;bottom:42140.6px;color:rgb(35,31,31);
}
#P99_135
{
left:19853.3px;bottom:42170.2px;color:rgb(0,124,196);
}
#P99_136
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P99_137
{
left:20032.9px;bottom:42609.8px;color:rgb(0,124,196);
}
#P99_138
{
left:20368.7px;bottom:42187.8px;color:rgb(0,124,196);
}
#P99_139
{
left:20011.7px;bottom:42154.1px;color:rgb(0,124,196);
}
#P99_140
{
left:20389.8px;bottom:42171.4px;color:rgb(0,124,196);
}
#P99_141
{
left:20032.9px;bottom:41702.3px;color:rgb(0,124,196);
}
#P99_142
{
left:20368.7px;bottom:42187.8px;color:rgb(0,124,196);
}
#P99_143
{
left:20389.8px;bottom:42170.2px;color:rgb(0,124,196);
}
#P99_144
{
left:20389.8px;bottom:42170.2px;color:rgb(35,31,31);
}
#P99_145
{
left:20548.2px;bottom:42140.6px;color:rgb(35,31,31);
}
#P99_146
{
left:21134.6px;bottom:42170.2px;color:rgb(35,31,31);
}
#P99_147
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P99_148
{
left:21314.1px;bottom:42609.8px;color:rgb(35,31,31);
}
#P99_149
{
left:21649.9px;bottom:42187.8px;color:rgb(35,31,31);
}
#P99_150
{
left:21293px;bottom:42154.1px;color:rgb(35,31,31);
}
#P99_151
{
left:21671.1px;bottom:42171.4px;color:rgb(35,31,31);
}
#P99_152
{
left:21314.1px;bottom:41702.3px;color:rgb(35,31,31);
}
#P99_153
{
left:21649.9px;bottom:42187.8px;color:rgb(35,31,31);
}
#P99_154
{
left:21671.1px;bottom:42170.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P99_155
{
left:23948.6px;bottom:42178.2px;color:rgb(0,124,196);
}
#P99_156
{
left:13836.6px;bottom:39994.2px;letter-spacing:3489.6px;color:rgb(35,31,31);
}
#P99_157
{
left:17643px;bottom:39964.6px;color:rgb(35,31,31);
}
#P99_158
{
left:18229.5px;bottom:39994.2px;color:rgb(35,31,31);
}
#P99_159
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P99_160
{
left:18409px;bottom:40433.8px;color:rgb(35,31,31);
}
#P99_161
{
left:19080.6px;bottom:40011.8px;color:rgb(35,31,31);
}
#P99_162
{
left:18387.9px;bottom:39978.1px;color:rgb(35,31,31);
}
#P99_163
{
left:19101.7px;bottom:39995.4px;color:rgb(35,31,31);
}
#P99_164
{
left:18576.9px;bottom:39526.3px;color:rgb(35,31,31);
}
#P99_165
{
left:18912.7px;bottom:40011.8px;color:rgb(35,31,31);
}
#P99_166
{
left:19101.7px;bottom:39994.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P99_167
{
left:19260.1px;bottom:39964.6px;color:rgb(35,31,31);
}
#P99_168
{
left:19846.6px;bottom:39994.2px;color:rgb(35,31,31);
}
#P99_169
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P99_170
{
left:20026.1px;bottom:40433.8px;color:rgb(35,31,31);
}
#P99_171
{
left:20361.9px;bottom:40011.8px;color:rgb(35,31,31);
}
#P99_172
{
left:20005px;bottom:39978.1px;color:rgb(35,31,31);
}
#P99_173
{
left:20383px;bottom:39995.4px;color:rgb(35,31,31);
}
#P99_174
{
left:20026.1px;bottom:39526.3px;color:rgb(35,31,31);
}
#P99_175
{
left:20361.9px;bottom:40011.8px;color:rgb(35,31,31);
}
#P99_176
{
left:20383px;bottom:39994.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P99_177
{
left:20541.4px;bottom:39964.6px;color:rgb(35,31,31);
}
#P99_178
{
left:21127.8px;bottom:39994.2px;color:rgb(35,31,31);
}
#P99_179
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P99_180
{
left:21307.4px;bottom:40433.8px;color:rgb(35,31,31);
}
#P99_181
{
left:21643.2px;bottom:40011.8px;color:rgb(35,31,31);
}
#P99_182
{
left:21286.2px;bottom:39978.1px;color:rgb(35,31,31);
}
#P99_183
{
left:21664.3px;bottom:39995.4px;color:rgb(35,31,31);
}
#P99_184
{
left:21307.4px;bottom:39526.3px;color:rgb(35,31,31);
}
#P99_185
{
left:21643.2px;bottom:40011.8px;color:rgb(35,31,31);
}
#P99_186
{
left:21664.3px;bottom:39994.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P99_187
{
left:23884.6px;bottom:40002.2px;color:rgb(0,124,196);
}
#P99_188
{
left:0px;letter-spacing:0px;margin-left:-161.3px;
}
#P99_189
{
left:31205.2px;bottom:40423.9px;color:rgb(0,124,196);
}
#P99_190
{
left:31495.5px;bottom:40019px;color:rgb(0,124,196);
}
#P99_191
{
left:31185px;bottom:39988.9px;color:rgb(0,124,196);
}
#P99_192
{
left:31515.7px;bottom:40003.4px;color:rgb(0,124,196);
}
#P99_193
{
left:31205.2px;bottom:39557.6px;color:rgb(0,124,196);
}
#P99_194
{
left:31495.5px;bottom:40019px;color:rgb(0,124,196);
}
#P99_195
{
left:31515.7px;bottom:40002.2px;color:rgb(0,124,196);
}
#P99_196
{
left:0px;letter-spacing:0px;margin-left:-161.3px;
}
#P99_197
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P99_198
{
left:0px;letter-spacing:0px;margin-left:-161.3px;
}
#P99_199
{
left:34072.7px;bottom:40423.9px;color:rgb(0,124,196);
}
#P99_200
{
left:34363px;bottom:40019px;color:rgb(0,124,196);
}
#P99_201
{
left:34052.5px;bottom:39988.9px;color:rgb(0,124,196);
}
#P99_202
{
left:34383.1px;bottom:40003.4px;color:rgb(0,124,196);
}
#P99_203
{
left:34072.7px;bottom:39557.6px;color:rgb(0,124,196);
}
#P99_204
{
left:34363px;bottom:40019px;color:rgb(0,124,196);
}
#P99_205
{
left:34383.1px;bottom:40002.2px;letter-spacing:-161.3px;color:rgb(0,124,196);
}
#P99_206
{
left:13836.6px;bottom:37562.2px;letter-spacing:3489.6px;color:rgb(35,31,31);
}
#P99_207
{
left:17643px;bottom:37532.6px;color:rgb(35,31,31);
}
#P99_208
{
left:18229.5px;bottom:37562.2px;color:rgb(35,31,31);
}
#P99_209
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P99_210
{
left:18409px;bottom:38001.8px;color:rgb(35,31,31);
}
#P99_211
{
left:19223.2px;bottom:37975.2px;color:rgb(35,31,31);
}
#P99_212
{
left:19750.9px;bottom:38001.8px;
}
#P99_213
{
left:20229.3px;bottom:37579.8px;color:rgb(35,31,31);
}
#P99_214
{
left:18387.9px;bottom:37546.1px;color:rgb(35,31,31);
}
#P99_215
{
left:20250.5px;bottom:37563.4px;color:rgb(35,31,31);
}
#P99_216
{
left:18576.9px;bottom:37094.3px;
}
#P99_217
{
left:19055.3px;bottom:37067.7px;color:rgb(35,31,31);
}
#P99_218
{
left:19583.1px;bottom:37094.3px;color:rgb(35,31,31);
}
#P99_219
{
left:20061.4px;bottom:37579.8px;color:rgb(35,31,31);
}
#P99_220
{
left:20250.4px;bottom:37562.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P99_221
{
left:20408.8px;bottom:37532.6px;color:rgb(35,31,31);
}
#P99_222
{
left:20995.2px;bottom:37562.2px;color:rgb(35,31,31);
}
#P99_223
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P99_224
{
left:21174.7px;bottom:38001.8px;color:rgb(35,31,31);
}
#P99_225
{
left:21510.6px;bottom:37579.8px;color:rgb(35,31,31);
}
#P99_226
{
left:21153.6px;bottom:37546.1px;color:rgb(35,31,31);
}
#P99_227
{
left:21531.7px;bottom:37563.4px;color:rgb(35,31,31);
}
#P99_228
{
left:21174.7px;bottom:37094.3px;color:rgb(35,31,31);
}
#P99_229
{
left:21510.6px;bottom:37579.8px;color:rgb(35,31,31);
}
#P99_230
{
left:21531.7px;bottom:37562.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P99_231
{
left:23884.6px;bottom:37570.2px;color:rgb(0,124,196);
}
#P99_232
{
left:0px;letter-spacing:0px;margin-left:-161.3px;
}
#P99_233
{
left:26155.9px;bottom:37991.9px;color:rgb(0,124,196);
}
#P99_234
{
left:26736.5px;bottom:37587px;color:rgb(0,124,196);
}
#P99_235
{
left:26135.8px;bottom:37556.9px;color:rgb(0,124,196);
}
#P99_236
{
left:26756.7px;bottom:37571.4px;color:rgb(0,124,196);
}
#P99_237
{
left:26301.1px;bottom:37125.6px;color:rgb(0,124,196);
}
#P99_238
{
left:26591.4px;bottom:37587px;color:rgb(0,124,196);
}
#P99_239
{
left:26756.7px;bottom:37570.2px;color:rgb(0,124,196);
}
#P99_240
{
left:0px;letter-spacing:0px;margin-left:-161.3px;
}
#P99_241
{
left:0px;letter-spacing:0px;margin-left:-161.3px;
}
#P99_242
{
left:28057.7px;bottom:37991.9px;color:rgb(0,124,196);
}
#P99_243
{
left:28348px;bottom:37587px;color:rgb(0,124,196);
}
#P99_244
{
left:28037.5px;bottom:37556.9px;color:rgb(0,124,196);
}
#P99_245
{
left:28368.2px;bottom:37571.4px;color:rgb(0,124,196);
}
#P99_246
{
left:28057.7px;bottom:37125.6px;color:rgb(0,124,196);
}
#P99_247
{
left:28348px;bottom:37587px;color:rgb(0,124,196);
}
#P99_248
{
left:28368.2px;bottom:37570.2px;color:rgb(0,124,196);
}
#P99_249
{
left:0px;letter-spacing:0px;margin-left:-161.3px;
}
#P99_250
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P99_251
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P99_252
{
left:13836.6px;bottom:35130.2px;letter-spacing:3489.6px;color:rgb(35,31,31);
}
#P99_253
{
left:17643px;bottom:35100.6px;color:rgb(35,31,31);
}
#P99_254
{
left:18229.5px;bottom:35130.2px;color:rgb(35,31,31);
}
#P99_255
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P99_256
{
left:18409px;bottom:35569.8px;color:rgb(35,31,31);
}
#P99_257
{
left:19080.6px;bottom:35147.8px;color:rgb(35,31,31);
}
#P99_258
{
left:18387.9px;bottom:35114.1px;color:rgb(35,31,31);
}
#P99_259
{
left:19101.7px;bottom:35131.4px;color:rgb(35,31,31);
}
#P99_260
{
left:18576.9px;bottom:34662.3px;color:rgb(35,31,31);
}
#P99_261
{
left:18912.7px;bottom:35147.8px;color:rgb(35,31,31);
}
#P99_262
{
left:19101.7px;bottom:35130.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P99_263
{
left:19260.1px;bottom:35100.6px;color:rgb(35,31,31);
}
#P99_264
{
left:19846.6px;bottom:35130.2px;color:rgb(35,31,31);
}
#P99_265
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P99_266
{
left:20026.1px;bottom:35569.8px;color:rgb(35,31,31);
}
#P99_267
{
left:20361.9px;bottom:35147.8px;color:rgb(35,31,31);
}
#P99_268
{
left:20005px;bottom:35114.1px;color:rgb(35,31,31);
}
#P99_269
{
left:20383px;bottom:35131.4px;color:rgb(35,31,31);
}
#P99_270
{
left:20026.1px;bottom:34662.3px;color:rgb(35,31,31);
}
#P99_271
{
left:20361.9px;bottom:35147.8px;color:rgb(35,31,31);
}
#P99_272
{
left:20383px;bottom:35130.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P99_273
{
left:23884.6px;bottom:35138.2px;color:rgb(0,124,196);
}
#P99_274
{
left:0px;letter-spacing:0px;margin-left:-49.7px;
}
#P99_275
{
left:13836.6px;bottom:33082.2px;letter-spacing:3489.6px;color:rgb(35,31,31);
}
#P99_276
{
left:17643px;bottom:33052.6px;color:rgb(35,31,31);
}
#P99_277
{
left:18229.5px;bottom:33082.2px;color:rgb(35,31,31);
}
#P99_278
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P99_279
{
left:18409px;bottom:33521.8px;color:rgb(35,31,31);
}
#P99_280
{
left:19080.6px;bottom:33099.8px;color:rgb(35,31,31);
}
#P99_281
{
left:18387.9px;bottom:33066.1px;color:rgb(35,31,31);
}
#P99_282
{
left:19101.7px;bottom:33083.4px;color:rgb(35,31,31);
}
#P99_283
{
left:18576.9px;bottom:32614.3px;color:rgb(35,31,31);
}
#P99_284
{
left:18912.7px;bottom:33099.8px;color:rgb(35,31,31);
}
#P99_285
{
left:19101.7px;bottom:33082.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P99_286
{
left:0px;letter-spacing:0px;margin-left:158.4px;
}
#P99_287
{
left:23884.6px;bottom:33090.2px;color:rgb(0,124,196);
}
#P99_288
{
left:18077.4px;bottom:36700.8px;color:rgb(235,26,35);
}
#P99_289
{
left:20419.8px;bottom:38460.8px;color:rgb(235,26,35);
}
#P99_290
{
left:20119px;bottom:36713.6px;color:rgb(235,26,35);
}
#P99_291
{
left:18077.4px;bottom:38460.8px;color:rgb(235,26,35);
}
#P99_292
{
left:20206.4px;bottom:17878.4px;color:rgb(235,26,35);
}
#P99_293
{
left:18045.3px;bottom:19642.7px;color:rgb(235,26,35);
}
#P99_294
{
left:7779.8px;bottom:29921.6px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P99_295
{
left:14648.1px;bottom:29946.2px;color:white;
}
#P99_296
{
left:17031.8px;bottom:30138px;color:white;
}
#P99_297
{
left:17272px;bottom:29946.2px;word-spacing:-31.9px;color:white;
}
#P99_298
{
left:20040.4px;bottom:30138px;color:white;
}
#P99_299
{
left:20280.6px;bottom:29946.2px;color:white;
}
#P99_300
{
left:21464.3px;bottom:30138px;color:white;
}
#P99_301
{
left:21704.5px;bottom:29946.2px;color:white;
}
#P99_302
{
left:12803.7px;bottom:29779.1px;
}
#P99_303
{
left:12803.7px;bottom:29779.1px;color:white;
}
#P99_304
{
left:13875px;bottom:28154.2px;letter-spacing:2px;color:rgb(35,31,31);
}
#P99_305
{
left:0px;letter-spacing:0.2px;margin-left:-2px;
}
#P99_306
{
left:0px;letter-spacing:0px;margin-left:-148.1px;
}
#P99_307
{
left:24027.9px;bottom:28593.8px;color:rgb(35,31,31);
}
#P99_308
{
left:24382.7px;bottom:28171.8px;color:rgb(35,31,31);
}
#P99_309
{
left:24006.7px;bottom:28138.1px;color:rgb(35,31,31);
}
#P99_310
{
left:24403.8px;bottom:28155.4px;color:rgb(35,31,31);
}
#P99_311
{
left:24027.9px;bottom:27686.3px;color:rgb(35,31,31);
}
#P99_312
{
left:24382.7px;bottom:28171.8px;color:rgb(35,31,31);
}
#P99_313
{
left:24403.8px;bottom:28154.2px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P99_314
{
left:0px;letter-spacing:-5.6px;margin-left:147.8px;
}
#P99_315
{
left:0px;letter-spacing:-0.6px;margin-left:5.6px;
}
#P99_316
{
left:13875px;bottom:26874.2px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P99_317
{
left:0px;letter-spacing:-4.2px;margin-left:-27.6px;
}
#P99_318
{
left:0px;letter-spacing:0.4px;margin-left:4.2px;
}
#P99_319
{
left:0px;letter-spacing:0px;margin-left:-10.9px;
}
#P99_320
{
left:13875px;bottom:25146.2px;letter-spacing:-2px;color:rgb(35,31,31);
}
#P99_321
{
left:0px;letter-spacing:0px;margin-left:2px;
}
#P99_322
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P99_323
{
left:18342px;bottom:25585.8px;color:rgb(35,31,31);
}
#P99_324
{
left:18677.8px;bottom:25163.8px;color:rgb(35,31,31);
}
#P99_325
{
left:18320.9px;bottom:25130.1px;color:rgb(35,31,31);
}
#P99_326
{
left:18699px;bottom:25147.4px;color:rgb(35,31,31);
}
#P99_327
{
left:18342px;bottom:24678.3px;color:rgb(35,31,31);
}
#P99_328
{
left:18677.8px;bottom:25163.8px;color:rgb(35,31,31);
}
#P99_329
{
left:18699px;bottom:25146.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P99_330
{
left:0px;letter-spacing:0px;margin-left:158.4px;
}
#P99_331
{
left:0px;letter-spacing:0px;margin-left:-214.7px;
}
#P99_332
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P99_333
{
left:0px;letter-spacing:-0.2px;
}
#P99_334
{
left:15411.1px;bottom:23098.2px;word-spacing:1377.6px;color:rgb(35,31,31);
}
#P99_335
{
left:16315.7px;bottom:23068.6px;color:rgb(35,31,31);
}
#P99_336
{
left:16902.2px;bottom:23098.2px;color:rgb(35,31,31);
}
#P99_337
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P99_338
{
left:17454.7px;bottom:23537.8px;color:rgb(35,31,31);
}
#P99_339
{
left:17790.6px;bottom:23115.8px;color:rgb(35,31,31);
}
#P99_340
{
left:17433.6px;bottom:23082.1px;color:rgb(35,31,31);
}
#P99_341
{
left:17811.7px;bottom:23099.4px;color:rgb(35,31,31);
}
#P99_342
{
left:17454.7px;bottom:22630.3px;color:rgb(35,31,31);
}
#P99_343
{
left:17790.6px;bottom:23115.8px;color:rgb(35,31,31);
}
#P99_344
{
left:17811.7px;bottom:23098.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P99_345
{
left:17970.1px;bottom:23068.6px;color:rgb(35,31,31);
}
#P99_346
{
left:18556.5px;bottom:23098.2px;color:rgb(35,31,31);
}
#P99_347
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P99_348
{
left:18736px;bottom:23537.8px;color:rgb(35,31,31);
}
#P99_349
{
left:19407.6px;bottom:23115.8px;color:rgb(35,31,31);
}
#P99_350
{
left:18714.9px;bottom:23082.1px;color:rgb(35,31,31);
}
#P99_351
{
left:19428.8px;bottom:23099.4px;color:rgb(35,31,31);
}
#P99_352
{
left:18903.9px;bottom:22630.3px;color:rgb(35,31,31);
}
#P99_353
{
left:19239.7px;bottom:23115.8px;color:rgb(35,31,31);
}
#P99_354
{
left:19428.8px;bottom:23098.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P99_355
{
left:19587.2px;bottom:23068.6px;color:rgb(35,31,31);
}
#P99_356
{
left:20173.6px;bottom:23098.2px;color:rgb(35,31,31);
}
#P99_357
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P99_358
{
left:20353.1px;bottom:23537.8px;color:rgb(35,31,31);
}
#P99_359
{
left:20688.9px;bottom:23115.8px;color:rgb(35,31,31);
}
#P99_360
{
left:20332px;bottom:23082.1px;color:rgb(35,31,31);
}
#P99_361
{
left:20710px;bottom:23099.4px;color:rgb(35,31,31);
}
#P99_362
{
left:20353.1px;bottom:22630.3px;color:rgb(35,31,31);
}
#P99_363
{
left:20688.9px;bottom:23115.8px;color:rgb(35,31,31);
}
#P99_364
{
left:20710px;bottom:23098.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P99_365
{
left:23027.1px;bottom:23106.2px;color:rgb(0,124,196);
}
#P99_366
{
left:34706.8px;bottom:23098.2px;color:rgb(35,31,31);
}
#P99_367
{
left:13875.2px;bottom:21050.2px;letter-spacing:3771.2px;color:rgb(35,31,31);
}
#P99_368
{
left:17963px;bottom:21020.6px;color:rgb(35,31,31);
}
#P99_369
{
left:18549.4px;bottom:21050.2px;color:rgb(35,31,31);
}
#P99_370
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P99_371
{
left:18729px;bottom:21489.8px;color:rgb(35,31,31);
}
#P99_372
{
left:19400.6px;bottom:21067.8px;color:rgb(35,31,31);
}
#P99_373
{
left:18707.9px;bottom:21034.1px;color:rgb(35,31,31);
}
#P99_374
{
left:19421.7px;bottom:21051.4px;color:rgb(35,31,31);
}
#P99_375
{
left:18896.9px;bottom:20582.3px;color:rgb(35,31,31);
}
#P99_376
{
left:19232.7px;bottom:21067.8px;color:rgb(35,31,31);
}
#P99_377
{
left:19421.7px;bottom:21050.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P99_378
{
left:19527.3px;bottom:20611.6px;color:rgb(35,31,31);
}
#P99_379
{
left:19879.1px;bottom:21050.2px;color:rgb(35,31,31);
}
#P99_380
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P99_381
{
left:20058.6px;bottom:21489.8px;color:rgb(35,31,31);
}
#P99_382
{
left:20394.4px;bottom:21067.8px;color:rgb(35,31,31);
}
#P99_383
{
left:20037.5px;bottom:21034.1px;color:rgb(35,31,31);
}
#P99_384
{
left:20415.6px;bottom:21051.4px;color:rgb(35,31,31);
}
#P99_385
{
left:20058.6px;bottom:20582.3px;color:rgb(35,31,31);
}
#P99_386
{
left:20394.4px;bottom:21067.8px;color:rgb(35,31,31);
}
#P99_387
{
left:20415.6px;bottom:21050.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P99_388
{
left:23027.1px;bottom:21058.2px;color:rgb(0,124,196);
}
#P99_389
{
left:0px;letter-spacing:0px;margin-left:-161.3px;
}
#P99_390
{
left:30347.7px;bottom:21479.9px;color:rgb(0,124,196);
}
#P99_391
{
left:30637.9px;bottom:21075px;color:rgb(0,124,196);
}
#P99_392
{
left:30327.5px;bottom:21044.9px;color:rgb(0,124,196);
}
#P99_393
{
left:30658.1px;bottom:21059.4px;color:rgb(0,124,196);
}
#P99_394
{
left:30347.7px;bottom:20613.6px;color:rgb(0,124,196);
}
#P99_395
{
left:30637.9px;bottom:21075px;color:rgb(0,124,196);
}
#P99_396
{
left:30658.1px;bottom:21058.2px;color:rgb(0,124,196);
}
#P99_397
{
left:0px;letter-spacing:0px;margin-left:-161.3px;
}
#P99_398
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P99_399
{
left:0px;letter-spacing:0px;margin-left:-161.3px;
}
#P99_400
{
left:33215.1px;bottom:21479.9px;color:rgb(0,124,196);
}
#P99_401
{
left:33505.4px;bottom:21075px;color:rgb(0,124,196);
}
#P99_402
{
left:33194.9px;bottom:21044.9px;color:rgb(0,124,196);
}
#P99_403
{
left:33525.5px;bottom:21059.4px;color:rgb(0,124,196);
}
#P99_404
{
left:33215.1px;bottom:20613.6px;color:rgb(0,124,196);
}
#P99_405
{
left:33505.4px;bottom:21075px;color:rgb(0,124,196);
}
#P99_406
{
left:33525.5px;bottom:21058.2px;letter-spacing:-161.3px;color:rgb(0,124,196);
}
#P99_407
{
left:13875.1px;bottom:18810.2px;letter-spacing:3771.2px;color:rgb(35,31,31);
}
#P99_408
{
left:17963px;bottom:18780.6px;color:rgb(35,31,31);
}
#P99_409
{
left:18549.5px;bottom:18810.2px;color:rgb(35,31,31);
}
#P99_410
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P99_411
{
left:18729px;bottom:19249.8px;color:rgb(35,31,31);
}
#P99_412
{
left:19495.6px;bottom:18855.1px;color:rgb(35,31,31);
}
#P99_413
{
left:19812.2px;bottom:19249.8px;color:rgb(35,31,31);
}
#P99_414
{
left:20290.6px;bottom:18827.8px;color:rgb(35,31,31);
}
#P99_415
{
left:18707.9px;bottom:18794.1px;color:rgb(35,31,31);
}
#P99_416
{
left:20311.7px;bottom:18811.4px;color:rgb(35,31,31);
}
#P99_417
{
left:18896.9px;bottom:18342.3px;color:rgb(35,31,31);
}
#P99_418
{
left:19327.8px;bottom:17947.6px;color:rgb(35,31,31);
}
#P99_419
{
left:19644.3px;bottom:18342.3px;color:rgb(35,31,31);
}
#P99_420
{
left:20122.7px;bottom:18827.8px;color:rgb(35,31,31);
}
#P99_421
{
left:20311.7px;bottom:18810.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P99_422
{
left:23027px;bottom:18818.2px;color:rgb(0,124,196);
}
#P99_423
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P99_424
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P99_425
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P99_426
{
left:13875px;bottom:16762.2px;letter-spacing:3771.2px;color:rgb(35,31,31);
}
#P99_427
{
left:17963px;bottom:16732.6px;color:rgb(35,31,31);
}
#P99_428
{
left:18549.5px;bottom:16762.2px;color:rgb(35,31,31);
}
#P99_429
{
left:23027px;bottom:16770.2px;color:rgb(0,124,196);
}
#P99_430
{
left:0px;letter-spacing:0px;margin-left:-49.7px;
}
#P99_431
{
left:15163px;bottom:14906.2px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P99_432
{
left:0px;letter-spacing:-14.1px;margin-left:-21px;
}
#P99_433
{
left:0px;letter-spacing:-0.6px;margin-left:14px;
}
#P99_434
{
left:0px;letter-spacing:0.4px;margin-left:159.4px;
}
#P99_435
{
left:15163px;bottom:14010.2px;letter-spacing:-1.6px;color:rgb(35,31,31);
}
#P99_436
{
left:13875.1px;bottom:10490.2px;letter-spacing:-4.6px;color:rgb(35,31,31);
}
#P99_437
{
left:0px;letter-spacing:-0.9px;margin-left:4.6px;
}
#P99_438
{
left:0px;letter-spacing:-23.9px;margin-left:-27.2px;
}
#P99_439
{
left:0px;letter-spacing:0px;margin-left:23.9px;
}
#P99_440
{
left:13875.1px;bottom:8954.28px;color:rgb(35,31,31);
}
#P99_441
{
left:14333.4px;bottom:8980.97px;color:rgb(35,31,31);
}
#P99_442
{
left:15539px;bottom:8954.16px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P99_443
{
left:15933.3px;bottom:9393.84px;color:rgb(35,31,31);
}
#P99_444
{
left:16269.1px;bottom:8971.76px;color:rgb(35,31,31);
}
#P99_445
{
left:15912.2px;bottom:8938.14px;color:rgb(35,31,31);
}
#P99_446
{
left:16290.2px;bottom:8955.42px;color:rgb(35,31,31);
}
#P99_447
{
left:15933.3px;bottom:8486.32px;color:rgb(35,31,31);
}
#P99_448
{
left:16269.1px;bottom:8971.76px;color:rgb(35,31,31);
}
#P99_449
{
left:16290.2px;bottom:8954.16px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P99_450
{
left:16448.6px;bottom:8924.59px;color:rgb(35,31,31);
}
#P99_451
{
left:17035px;bottom:8954.16px;color:rgb(35,31,31);
}
#P99_452
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P99_453
{
left:17214.6px;bottom:9393.84px;color:rgb(35,31,31);
}
#P99_454
{
left:17550.4px;bottom:8971.76px;color:rgb(35,31,31);
}
#P99_455
{
left:17193.4px;bottom:8938.14px;color:rgb(35,31,31);
}
#P99_456
{
left:17571.5px;bottom:8955.42px;color:rgb(35,31,31);
}
#P99_457
{
left:17214.6px;bottom:8486.32px;color:rgb(35,31,31);
}
#P99_458
{
left:17550.4px;bottom:8971.76px;color:rgb(35,31,31);
}
#P99_459
{
left:17571.5px;bottom:8954.16px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P99_460
{
left:17729.9px;bottom:8924.59px;color:rgb(35,31,31);
}
#P99_461
{
left:18316.3px;bottom:8954.16px;color:rgb(35,31,31);
}
#P99_462
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P99_463
{
left:18495.8px;bottom:9393.84px;color:rgb(35,31,31);
}
#P99_464
{
left:18831.6px;bottom:8971.76px;color:rgb(35,31,31);
}
#P99_465
{
left:18474.7px;bottom:8938.14px;color:rgb(35,31,31);
}
#P99_466
{
left:18852.8px;bottom:8955.42px;color:rgb(35,31,31);
}
#P99_467
{
left:18495.8px;bottom:8486.32px;color:rgb(35,31,31);
}
#P99_468
{
left:18831.6px;bottom:8971.76px;color:rgb(35,31,31);
}
#P99_469
{
left:18852.8px;bottom:8954.16px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P99_470
{
left:25405.4px;bottom:8980.97px;color:rgb(35,31,31);
}
#P99_471
{
left:26419.1px;bottom:8954.16px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P99_472
{
left:26901.3px;bottom:9393.84px;color:rgb(35,31,31);
}
#P99_473
{
left:27237.1px;bottom:8971.76px;color:rgb(35,31,31);
}
#P99_474
{
left:26880.2px;bottom:8938.14px;color:rgb(35,31,31);
}
#P99_475
{
left:27258.2px;bottom:8955.42px;color:rgb(35,31,31);
}
#P99_476
{
left:26901.3px;bottom:8486.32px;color:rgb(35,31,31);
}
#P99_477
{
left:27237.1px;bottom:8971.76px;color:rgb(35,31,31);
}
#P99_478
{
left:27258.2px;bottom:8954.16px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P99_479
{
left:27416.6px;bottom:8924.59px;color:rgb(35,31,31);
}
#P99_480
{
left:28179px;bottom:8954.16px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P99_481
{
left:28200.2px;bottom:9445.23px;color:rgb(35,31,31);
}
#P99_482
{
left:28536px;bottom:8971.76px;color:rgb(35,31,31);
}
#P99_483
{
left:28179px;bottom:8989.54px;color:rgb(35,31,31);
}
#P99_484
{
left:28557.1px;bottom:8955.42px;color:rgb(35,31,31);
}
#P99_485
{
left:28200.2px;bottom:8537.71px;color:rgb(35,31,31);
}
#P99_486
{
left:28536px;bottom:8971.76px;color:rgb(35,31,31);
}
#P99_487
{
left:28557.1px;bottom:8954.16px;color:rgb(35,31,31);
}
#P99_488
{
left:28557.1px;bottom:8924.59px;color:rgb(35,31,31);
}
#P99_489
{
left:29495.5px;bottom:8954.16px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P99_490
{
left:29516.6px;bottom:9445.23px;color:rgb(35,31,31);
}
#P99_491
{
left:29852.4px;bottom:8971.76px;color:rgb(35,31,31);
}
#P99_492
{
left:29495.5px;bottom:8989.54px;color:rgb(35,31,31);
}
#P99_493
{
left:29873.6px;bottom:8955.42px;color:rgb(35,31,31);
}
#P99_494
{
left:29516.6px;bottom:8537.71px;color:rgb(35,31,31);
}
#P99_495
{
left:29852.4px;bottom:8971.76px;color:rgb(35,31,31);
}
#P99_496
{
left:29873.6px;bottom:8954.16px;color:rgb(35,31,31);
}
#P99_497
{
left:13875px;bottom:6970.16px;color:rgb(35,31,31);
}
#P99_498
{
left:14333.4px;bottom:6996.97px;word-spacing:458.4px;color:rgb(35,31,31);
}
#P99_499
{
left:15539px;bottom:6996.97px;color:rgb(35,31,31);
}
#P99_500
{
left:15560.2px;bottom:7403.88px;color:rgb(35,31,31);
}
#P99_501
{
left:15896px;bottom:6987.76px;color:rgb(35,31,31);
}
#P99_502
{
left:15539px;bottom:6948.19px;color:rgb(35,31,31);
}
#P99_503
{
left:15917.1px;bottom:6971.42px;color:rgb(35,31,31);
}
#P99_504
{
left:15560.2px;bottom:6496.36px;color:rgb(35,31,31);
}
#P99_505
{
left:15896px;bottom:6987.76px;color:rgb(35,31,31);
}
#P99_506
{
left:15917.1px;bottom:6970.16px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P99_507
{
left:16075.5px;bottom:6940.59px;color:rgb(35,31,31);
}
#P99_508
{
left:16661.9px;bottom:6970.16px;color:rgb(35,31,31);
}
#P99_509
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P99_510
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P99_511
{
left:17302.6px;bottom:7409.84px;color:rgb(35,31,31);
}
#P99_512
{
left:17638.4px;bottom:6987.76px;color:rgb(35,31,31);
}
#P99_513
{
left:17281.4px;bottom:6954.14px;color:rgb(35,31,31);
}
#P99_514
{
left:17659.5px;bottom:6971.42px;color:rgb(35,31,31);
}
#P99_515
{
left:17302.6px;bottom:6502.32px;color:rgb(35,31,31);
}
#P99_516
{
left:17638.4px;bottom:6987.76px;color:rgb(35,31,31);
}
#P99_517
{
left:17659.5px;bottom:6970.16px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P99_518
{
left:17817.9px;bottom:6940.59px;color:rgb(35,31,31);
}
#P99_519
{
left:18404.3px;bottom:6970.16px;color:rgb(35,31,31);
}
#P99_520
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P99_521
{
left:18957px;bottom:7409.84px;color:rgb(35,31,31);
}
#P99_522
{
left:19292.8px;bottom:6987.76px;color:rgb(35,31,31);
}
#P99_523
{
left:18935.8px;bottom:6954.14px;color:rgb(35,31,31);
}
#P99_524
{
left:19313.9px;bottom:6971.42px;color:rgb(35,31,31);
}
#P99_525
{
left:18957px;bottom:6502.32px;color:rgb(35,31,31);
}
#P99_526
{
left:19292.8px;bottom:6987.76px;color:rgb(35,31,31);
}
#P99_527
{
left:19313.9px;bottom:6970.16px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P99_528
{
left:25405.4px;bottom:6996.97px;word-spacing:266.4px;color:rgb(35,31,31);
}
#P99_529
{
left:26419px;bottom:6996.97px;color:rgb(35,31,31);
}
#P99_530
{
left:26440.2px;bottom:7403.88px;color:rgb(35,31,31);
}
#P99_531
{
left:26776px;bottom:6987.76px;color:rgb(35,31,31);
}
#P99_532
{
left:26419.1px;bottom:6948.19px;color:rgb(35,31,31);
}
#P99_533
{
left:26797.1px;bottom:6971.42px;color:rgb(35,31,31);
}
#P99_534
{
left:26440.2px;bottom:6496.36px;color:rgb(35,31,31);
}
#P99_535
{
left:26776px;bottom:6987.76px;color:rgb(35,31,31);
}
#P99_536
{
left:26797.1px;bottom:6970.16px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P99_537
{
left:26955.5px;bottom:6940.59px;color:rgb(35,31,31);
}
#P99_538
{
left:27717.9px;bottom:6970.16px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P99_539
{
left:28112.2px;bottom:7409.84px;color:rgb(35,31,31);
}
#P99_540
{
left:28448px;bottom:6987.76px;color:rgb(35,31,31);
}
#P99_541
{
left:28091px;bottom:6954.14px;color:rgb(35,31,31);
}
#P99_542
{
left:28469.1px;bottom:6971.42px;color:rgb(35,31,31);
}
#P99_543
{
left:28112.2px;bottom:6502.32px;color:rgb(35,31,31);
}
#P99_544
{
left:28448px;bottom:6987.76px;color:rgb(35,31,31);
}
#P99_545
{
left:28469.1px;bottom:6970.16px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P99_546
{
left:28627.5px;bottom:6940.59px;color:rgb(35,31,31);
}
#P99_547
{
left:29389.9px;bottom:6970.16px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P99_548
{
left:29872.2px;bottom:7409.84px;color:rgb(35,31,31);
}
#P99_549
{
left:30208px;bottom:6987.76px;color:rgb(35,31,31);
}
#P99_550
{
left:29851px;bottom:6954.14px;color:rgb(35,31,31);
}
#P99_551
{
left:30229.1px;bottom:6971.42px;color:rgb(35,31,31);
}
#P99_552
{
left:29872.2px;bottom:6502.32px;color:rgb(35,31,31);
}
#P99_553
{
left:30208px;bottom:6987.76px;color:rgb(35,31,31);
}
#P99_554
{
left:30229.1px;bottom:6970.16px;color:rgb(35,31,31);
}
#P99_555
{
left:13875px;bottom:4922.16px;color:rgb(35,31,31);
}
#P99_556
{
left:14338.6px;bottom:4948.97px;color:rgb(35,31,31);
}
#P99_557
{
left:15539px;bottom:4922.16px;letter-spacing:-0.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P99_558
{
left:0px;letter-spacing:0.2px;margin-left:0.3px;
}
#P99_559
{
left:8013.4px;bottom:9500.78px;word-spacing:-66.2px;color:rgb(35,31,31);
}
#P99_560
{
left:0px;letter-spacing:0px;margin-left:66.2px;
}
#P99_561
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P99_562
{
left:22457.9px;bottom:1410.03px;color:rgb(35,31,31);
}
#P99_563
{
left:27010.1px;bottom:1410.03px;letter-spacing:0.9px;word-spacing:461.2px;color:rgb(35,31,31);
}
#P99_564
{
left:0px;letter-spacing:0px;margin-left:-462.1px;
}
#P99_565
{
left:0px;letter-spacing:1.4px;margin-left:0.9px;
}
#P99_566
{
left:0px;letter-spacing:0px;margin-left:-462.6px;
}
#P99_567
{
left:0px;letter-spacing:4.8px;margin-left:0.9px;
}
#P99_568
{
left:36142px;bottom:1410.03px;color:rgb(35,31,31);
}
#PageContainer99
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg099.jpg");background-repeat:no-repeat;background-size: 883px 1183px; background-position: 126.68px 75.3699999999999px;
}
#ImageContainer99 {bottom:105.63px;left:126.68px;width:882.57px;height:1183.42px;position:absolute;} #TextContainer99 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.example3{position:absolute; top: 89px; left: 157px;}
.example4{position:absolute; top: 526px; left: 157px;}
.nyr{position: absolute; top: 1053px; left: 188px;}
.nyr_exr{position: absolute; top: 1085px; left: 222px;color:rgb(35,31,31);font-size:16px;white-space:pre;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}