.tr653{ color:transparent;}
#P653_1
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P653_2
{
left:23621.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P653_3
{
left:28527.5px;bottom:1410.03px;letter-spacing:2.7px;word-spacing:458.4px;color:rgb(35,31,31);
}
#P653_4
{
left:0px;letter-spacing:0px;margin-left:-461px;
}
#P653_5
{
left:0px;letter-spacing:6.4px;margin-left:3.7px;
}
#P653_6
{
left:0px;letter-spacing:1.6px;margin-left:-10.8px;
}
#P653_7
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P653_8
{
left:6973.4px;bottom:8927.79px;letter-spacing:-2.2px;color:rgb(35,31,31);
}
#P653_9
{
left:0px;letter-spacing:-0.8px;margin-left:2.2px;
}
#P653_10
{
left:0px;letter-spacing:0px;margin-left:-13.1px;
}
#P653_11
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P653_12
{
left:21698.7px;bottom:8927.79px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P653_13
{
left:6973.4px;bottom:7583.79px;color:rgb(35,31,31);
}
#P653_14
{
left:7150.55px;bottom:7603.5px;color:rgb(35,31,31);
}
#P653_15
{
left:8573.4px;bottom:7583.79px;color:rgb(35,31,31);
}
#P653_16
{
left:9012.7px;bottom:7583.79px;color:rgb(35,31,31);
}
#P653_17
{
left:9259.1px;bottom:7554.22px;color:rgb(35,31,31);
}
#P653_18
{
left:9845.53px;bottom:7583.79px;color:rgb(35,31,31);
}
#P653_19
{
left:10563.6px;bottom:7554.22px;color:rgb(35,31,31);
}
#P653_20
{
left:11150px;bottom:7583.79px;color:rgb(35,31,31);
}
#P653_21
{
left:14446.5px;bottom:7603.5px;color:rgb(35,31,31);
}
#P653_22
{
left:15869.3px;bottom:7583.79px;color:rgb(35,31,31);
}
#P653_23
{
left:16314.3px;bottom:7583.79px;color:rgb(35,31,31);
}
#P653_24
{
left:16560.7px;bottom:7554.22px;color:rgb(35,31,31);
}
#P653_25
{
left:17147.1px;bottom:7583.79px;color:rgb(35,31,31);
}
#P653_26
{
left:21870.6px;bottom:7603.5px;color:rgb(35,31,31);
}
#P653_27
{
left:23293.5px;bottom:7583.79px;color:rgb(35,31,31);
}
#P653_28
{
left:23846.8px;bottom:7583.79px;color:rgb(35,31,31);
}
#P653_29
{
left:24093.2px;bottom:7554.22px;color:rgb(35,31,31);
}
#P653_30
{
left:24679.6px;bottom:7583.79px;color:rgb(35,31,31);
}
#P653_31
{
left:29230.6px;bottom:7603.5px;color:rgb(35,31,31);
}
#P653_32
{
left:30653.5px;bottom:7583.79px;color:rgb(35,31,31);
}
#P653_33
{
left:31190.6px;bottom:7583.79px;color:rgb(35,31,31);
}
#P653_34
{
left:6973.47px;bottom:5855.79px;color:rgb(35,31,31);
}
#P653_35
{
left:7150.62px;bottom:5875.5px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P653_36
{
left:8637.4px;bottom:5875.5px;letter-spacing:-17.6px;color:rgb(2,77,161);
}
#P653_37
{
left:0px;letter-spacing:0px;margin-left:17.6px;
}
#P653_38
{
left: 14203px;bottom:5855.79px;letter-spacing:151.5px;color:rgb(35,31,31);
}
#P653_39
{
left:0px;letter-spacing:-0.2px;margin-left:-151.5px;
}
#P653_40
{
left:21411.5px;bottom:5855.79px;color:rgb(35,31,31);
}
#P653_41
{
left:21964.2px;bottom:5855.79px;color:rgb(35,31,31);
}
#P653_42
{
left:22122.6px;bottom:5826.22px;color:rgb(35,31,31);
}
#P653_43
{
left:22709px;bottom:5855.79px;color:rgb(35,31,31);
}
#P653_44
{
left:23645.3px;bottom:5826.22px;color:rgb(35,31,31);
}
#P653_45
{
left:24231.7px;bottom:5855.79px;color:rgb(35,31,31);
}
#P653_46
{
left:25382.7px;bottom:5855.79px;color:rgb(35,31,31);
}
#P653_47
{
left:25935.4px;bottom:5855.79px;color:rgb(35,31,31);
}
#P653_48
{
left:26093.8px;bottom:5826.22px;color:rgb(35,31,31);
}
#P653_49
{
left:26680.2px;bottom:5855.79px;color:rgb(35,31,31);
}
#P653_50
{
left:28435.9px;bottom:5855.79px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P653_51
{
left:6973.4px;bottom:4511.79px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P653_52
{
left:8550.49px;bottom:4555.17px;color:rgb(35,31,31);
}
#P653_53
{
left:8887.32px;bottom:4676.3px;color:rgb(35,31,31);
}
#P653_54
{
left:9533.4px;bottom:4511.79px;color:rgb(35,31,31);
}
#P653_55
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P653_56
{
left:11047.6px;bottom:4511.79px;color:rgb(35,31,31);
}
#P653_57
{
left:11600.3px;bottom:4511.79px;color:rgb(35,31,31);
}
#P653_58
{
left:11758.7px;bottom:4482.22px;color:rgb(35,31,31);
}
#P653_59
{
left:12345.1px;bottom:4511.79px;color:rgb(35,31,31);
}
#P653_60
{
left:15846.5px;bottom:4555.17px;color:rgb(35,31,31);
}
#P653_61
{
left:16183.3px;bottom:4676.3px;color:rgb(35,31,31);
}
#P653_62
{
left:16829.4px;bottom:4511.79px;color:rgb(35,31,31);
}
#P653_63
{
left:17597.4px;bottom:4482.22px;color:rgb(35,31,31);
}
#P653_64
{
left:18183.8px;bottom:4511.79px;color:rgb(35,31,31);
}
#P653_65
{
left:18557px;bottom:4511.79px;color:rgb(35,31,31);
}
#P653_66
{
left:19109.6px;bottom:4511.79px;color:rgb(35,31,31);
}
#P653_67
{
left:19268px;bottom:4482.22px;color:rgb(35,31,31);
}
#P653_68
{
left:19854.4px;bottom:4511.79px;color:rgb(35,31,31);
}
#P653_69
{
left:22502.5px;bottom:4555.17px;color:rgb(35,31,31);
}
#P653_70
{
left:22839.3px;bottom:4676.3px;color:rgb(35,31,31);
}
#P653_71
{
left:23485.4px;bottom:4511.79px;color:rgb(35,31,31);
}
#P653_72
{
left:24253.4px;bottom:4482.22px;color:rgb(35,31,31);
}
#P653_73
{
left:24839.8px;bottom:4511.79px;color:rgb(35,31,31);
}
#P653_74
{
left:25213px;bottom:4511.79px;color:rgb(35,31,31);
}
#P653_75
{
left:25765.6px;bottom:4511.79px;color:rgb(35,31,31);
}
#P653_76
{
left:25924px;bottom:4482.22px;color:rgb(35,31,31);
}
#P653_77
{
left:26510.4px;bottom:4511.79px;color:rgb(35,31,31);
}
#P653_78
{
left:30694.5px;bottom:4555.17px;color:rgb(35,31,31);
}
#P653_79
{
left:31031.3px;bottom:4676.3px;color:rgb(35,31,31);
}
#P653_80
{
left:31677.4px;bottom:4511.79px;color:rgb(35,31,31);
}
#P653_81
{
left:32445.4px;bottom:4482.22px;color:rgb(35,31,31);
}
#P653_82
{
left:33031.8px;bottom:4511.79px;color:rgb(35,31,31);
}
#P653_83
{
left:33405px;bottom:4511.79px;color:rgb(35,31,31);
}
#P653_84
{
left:33957.6px;bottom:4511.79px;color:rgb(35,31,31);
}
#P653_85
{
left:34116px;bottom:4482.22px;color:rgb(35,31,31);
}
#P653_86
{
left:34702.4px;bottom:4511.79px;color:rgb(35,31,31);
}
#P653_87
{
left:6973.4px;bottom:46716.8px;letter-spacing:-14.8px;color:rgb(35,31,31);
}
#P653_88
{
left:0px;letter-spacing:0px;margin-left:14.8px;
}
#P653_89
{
left:0px;letter-spacing:-2.8px;margin-left:-28.1px;
}
#P653_90
{
left:0px;letter-spacing:0px;margin-left:2.8px;
}
#P653_91
{
left:6973.4px;bottom:45820.8px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P653_92
{
left:0px;letter-spacing:0.8px;margin-left:-12.8px;
}
#P653_93
{
left:0px;letter-spacing:0px;margin-left:-51.3px;
}
#P653_94
{
left:6973.4px;bottom:44668.8px;color:rgb(35,31,31);
}
#P653_95
{
left:7150.55px;bottom:44688.5px;color:rgb(35,31,31);
}
#P653_96
{
left:8573.4px;bottom:44668.8px;color:rgb(35,31,31);
}
#P653_97
{
left:10281.9px;bottom:44639.2px;color:rgb(35,31,31);
}
#P653_98
{
left:10868.4px;bottom:44668.8px;letter-spacing:1266.4px;color:rgb(35,31,31);
}
#P653_99
{
left:0px;letter-spacing:0px;margin-left:-1266.4px;
}
#P653_100
{
left:17454.6px;bottom:44688.5px;color:rgb(35,31,31);
}
#P653_101
{
left:18877.5px;bottom:44668.8px;color:rgb(35,31,31);
}
#P653_102
{
left:20527px;bottom:44639.2px;color:rgb(35,31,31);
}
#P653_103
{
left:21113.4px;bottom:44668.8px;color:rgb(35,31,31);
}
#P653_104
{
left:22538.1px;bottom:44540.8px;color:rgb(35,31,31);
}
#P653_105
{
left:22626.1px;bottom:44668.8px;color:rgb(35,31,31);
}
#P653_106
{
left:27758.6px;bottom:44688.5px;color:rgb(35,31,31);
}
#P653_107
{
left:29053.5px;bottom:44668.8px;color:rgb(35,31,31);
}
#P653_108
{
left:30734px;bottom:44639.2px;color:rgb(35,31,31);
}
#P653_109
{
left:31320.4px;bottom:44668.8px;color:rgb(35,31,31);
}
#P653_110
{
left:32745px;bottom:44540.8px;color:rgb(35,31,31);
}
#P653_111
{
left:32833px;bottom:44668.8px;color:rgb(35,31,31);
}
#P653_112
{
left:6973.4px;bottom:42684.8px;color:rgb(35,31,31);
}
#P653_113
{
left:7150.43px;bottom:42704.5px;color:rgb(35,31,31);
}
#P653_114
{
left:8573.4px;bottom:42704.5px;letter-spacing:-2.9px;color:rgb(2,77,161);
}
#P653_115
{
left:0px;letter-spacing:0px;margin-left:2.9px;
}
#P653_116
{
left: 13730.3px;bottom:42684.8px;color:rgb(35,31,31);
}
#P653_117
{
left:0px;letter-spacing:0px;margin-left:168.3px;
}
#P653_118
{
left:0px;letter-spacing:0px;margin-left:-70.3px;
}
#P653_119
{
left:23223.7px;bottom:42684.8px;color:rgb(35,31,31);
}
#P653_120
{
left:24500.7px;bottom:42684.8px;color:rgb(35,31,31);
}
#P653_121
{
left:25497.6px;bottom:42684.8px;color:rgb(35,31,31);
}
#P653_122
{
left:26922.4px;bottom:42684.8px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P653_123
{
left:6973.4px;bottom:41020.8px;color:rgb(35,31,31);
}
#P653_124
{
left:7933.4px;bottom:41040.5px;letter-spacing:508.3px;color:rgb(35,31,31);
}
#P653_125
{
left:10173.4px;bottom:41020.8px;letter-spacing:-2.8px;word-spacing:-66.2px;color:rgb(35,31,31);
}
#P653_126
{
left:10885.9px;bottom:41040.5px;letter-spacing:-195.7px;color:rgb(35,31,31);
}
#P653_127
{
left:10907px;bottom:41462.6px;color:rgb(35,31,31);
}
#P653_128
{
left:11262.5px;bottom:41038.4px;color:rgb(35,31,31);
}
#P653_129
{
left:10885.9px;bottom:41006.9px;color:rgb(35,31,31);
}
#P653_130
{
left:11283.6px;bottom:41022px;color:rgb(35,31,31);
}
#P653_131
{
left:10907.7px;bottom:40555.1px;color:rgb(35,31,31);
}
#P653_132
{
left:11261.8px;bottom:41038.4px;color:rgb(35,31,31);
}
#P653_133
{
left:11283.6px;bottom:41020.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P653_134
{
left:11442px;bottom:40991.2px;color:rgb(35,31,31);
}
#P653_135
{
left:12028.4px;bottom:41020.8px;color:rgb(35,31,31);
}
#P653_136
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P653_137
{
left:12208px;bottom:41460.5px;color:rgb(35,31,31);
}
#P653_138
{
left:12543.8px;bottom:41038.4px;color:rgb(35,31,31);
}
#P653_139
{
left:12186.8px;bottom:41004.8px;color:rgb(35,31,31);
}
#P653_140
{
left:12564.9px;bottom:41022px;color:rgb(35,31,31);
}
#P653_141
{
left:12208px;bottom:40552.9px;color:rgb(35,31,31);
}
#P653_142
{
left:12543.8px;bottom:41038.4px;color:rgb(35,31,31);
}
#P653_143
{
left:12564.9px;bottom:41020.8px;color:rgb(35,31,31);
}
#P653_144
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P653_145
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P653_146
{
left:14556.4px;bottom:41460.5px;color:rgb(35,31,31);
}
#P653_147
{
left:14892.2px;bottom:41038.4px;color:rgb(35,31,31);
}
#P653_148
{
left:14535.3px;bottom:41004.8px;color:rgb(35,31,31);
}
#P653_149
{
left:14913.4px;bottom:41022px;color:rgb(35,31,31);
}
#P653_150
{
left:14556.4px;bottom:40552.9px;color:rgb(35,31,31);
}
#P653_151
{
left:14892.2px;bottom:41038.4px;color:rgb(35,31,31);
}
#P653_152
{
left:14913.4px;bottom:41020.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P653_153
{
left:15071.8px;bottom:40991.2px;color:rgb(35,31,31);
}
#P653_154
{
left:15658.2px;bottom:41020.8px;color:rgb(35,31,31);
}
#P653_155
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P653_156
{
left:15838.4px;bottom:41460.5px;color:rgb(35,31,31);
}
#P653_157
{
left:16192.5px;bottom:41038.4px;color:rgb(35,31,31);
}
#P653_158
{
left:15816.6px;bottom:41004.8px;color:rgb(35,31,31);
}
#P653_159
{
left:16214.3px;bottom:41022px;color:rgb(35,31,31);
}
#P653_160
{
left:15837.7px;bottom:40552.9px;color:rgb(35,31,31);
}
#P653_161
{
left:16193.2px;bottom:41038.4px;color:rgb(35,31,31);
}
#P653_162
{
left:16214.3px;bottom:41020.8px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P653_163
{
left:6973.4px;bottom:38588.8px;color:rgb(35,31,31);
}
#P653_164
{
left:7150.43px;bottom:38608.6px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P653_165
{
left:8637.4px;bottom:38608.5px;word-spacing:-26px;color:rgb(2,77,161);
}
#P653_166
{
left: 12358.7px;bottom:38588.8px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P653_167
{
left:0px;letter-spacing:0px;margin-left:-210.4px;
}
#P653_168
{
left:0px;letter-spacing:-0.6px;
}
#P653_169
{
left:0px;letter-spacing:0px;margin-left:-20.4px;
}
#P653_170
{
left:0px;letter-spacing:0px;
}
#P653_171
{
left:8637.4px;bottom:37692.8px;color:rgb(35,31,31);
}
#P653_172
{
left:6973.4px;bottom:36348.8px;color:rgb(35,31,31);
}
#P653_173
{
left:15790.7px;bottom:36368.5px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P653_174
{
left:17213.4px;bottom:36368.5px;letter-spacing:-12.9px;color:rgb(2,77,161);
}
#P653_175
{
left:0px;letter-spacing:0px;margin-left:12.9px;
}
#P653_176
{
left: 20395.2px;bottom:36348.8px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P653_177
{
left:0px;letter-spacing:-0.1px;margin-left:-193.6px;
}
#P653_178
{
left:17213.4px;bottom:35452.8px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P653_179
{
left:0px;letter-spacing:-4.2px;margin-left:0.6px;
}
#P653_180
{
left:0px;letter-spacing:0px;margin-left:-16.7px;
}
#P653_181
{
left:17213.4px;bottom:34556.8px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P653_182
{
left:0px;letter-spacing:0px;margin-left:0.7px;
}
#P653_183
{
left:6973.4px;bottom:32892.8px;color:rgb(35,31,31);
}
#P653_184
{
left:15790.6px;bottom:32912.6px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P653_185
{
left:17213.4px;bottom:32912.5px;color:rgb(2,77,161);
}
#P653_186
{
left: 19199px;bottom:32892.8px;letter-spacing:168.3px;color:rgb(35,31,31);
}
#P653_187
{
left:0px;letter-spacing:0px;margin-left:-168.3px;
}
#P653_188
{
left:17213.4px;bottom:31996.8px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P653_189
{
left:0px;letter-spacing:0px;margin-left:0.7px;
}
#P653_190
{
left:6973.4px;bottom:30652.8px;color:rgb(35,31,31);
}
#P653_191
{
left:17214.4px;bottom:30652.8px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P653_192
{
left:18493.3px;bottom:30652.8px;color:rgb(35,31,31);
}
#P653_193
{
left:26630.7px;bottom:30652.8px;color:rgb(35,31,31);
}
#P653_194
{
left:30235.1px;bottom:30652.8px;color:rgb(35,31,31);
}
#P653_195
{
left:6973.21px;bottom:29564.8px;color:rgb(35,31,31);
}
#P653_196
{
left:17178.2px;bottom:29564.8px;letter-spacing:-13.9px;word-spacing:585.9px;color:rgb(35,31,31);
}
#P653_197
{
left:18493.2px;bottom:29564.8px;letter-spacing:-10.5px;color:rgb(35,31,31);
}
#P653_198
{
left:0px;letter-spacing:-0.9px;margin-left:10.5px;
}
#P653_199
{
left:0px;letter-spacing:0px;margin-left:0.9px;
}
#P653_200
{
left:6973.21px;bottom:28476.7px;color:rgb(35,31,31);
}
#P653_201
{
left:17249.4px;bottom:28476.7px;letter-spacing:-14px;word-spacing:579px;color:rgb(35,31,31);
}
#P653_202
{
left:18493.2px;bottom:28476.7px;letter-spacing:-9.3px;color:rgb(35,31,31);
}
#P653_203
{
left:0px;letter-spacing:-0.2px;margin-left:9.3px;
}
#P653_204
{
left:18493.2px;bottom:27580.7px;color:rgb(35,31,31);
}
#P653_205
{
left:0px;letter-spacing:0px;margin-left:-214.7px;
}
#P653_206
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P653_207
{
left:0px;letter-spacing:-5.2px;
}
#P653_208
{
left:0px;letter-spacing:-1px;margin-left:5.2px;
}
#P653_209
{
left:0px;letter-spacing:-1.4px;margin-left:1px;
}
#P653_210
{
left:6973.21px;bottom:25596.7px;color:rgb(35,31,31);
}
#P653_211
{
left:7150.36px;bottom:25616.4px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P653_212
{
left:8637.4px;bottom:25616.5px;color:rgb(2,77,161);
}
#P653_213
{
left: 12481.2px;bottom:25596.8px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P653_214
{
left:0px;letter-spacing:0px;margin-left:-210.4px;
}
#P653_215
{
left:0px;letter-spacing:-0.2px;
}
#P653_216
{
left:8637.4px;bottom:24380.8px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P653_217
{
left:0px;letter-spacing:0px;margin-left:-158.5px;
}
#P653_218
{
left:12323.4px;bottom:24820.5px;color:rgb(35,31,31);
}
#P653_219
{
left:12659.2px;bottom:24398.4px;color:rgb(35,31,31);
}
#P653_220
{
left:12302.3px;bottom:24364.8px;color:rgb(35,31,31);
}
#P653_221
{
left:12680.3px;bottom:24382px;color:rgb(35,31,31);
}
#P653_222
{
left:12323.4px;bottom:23912.9px;color:rgb(35,31,31);
}
#P653_223
{
left:12659.2px;bottom:24398.4px;color:rgb(35,31,31);
}
#P653_224
{
left:12680.3px;bottom:24380.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P653_225
{
left:12838.7px;bottom:24351.2px;color:rgb(35,31,31);
}
#P653_226
{
left:13425.2px;bottom:24380.8px;color:rgb(35,31,31);
}
#P653_227
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P653_228
{
left:13629.1px;bottom:24820.5px;color:rgb(35,31,31);
}
#P653_229
{
left:13964.9px;bottom:24398.4px;color:rgb(35,31,31);
}
#P653_230
{
left:13583.6px;bottom:24364.8px;color:rgb(35,31,31);
}
#P653_231
{
left:14010.4px;bottom:24382px;color:rgb(35,31,31);
}
#P653_232
{
left:13604.7px;bottom:23912.9px;color:rgb(35,31,31);
}
#P653_233
{
left:13989.3px;bottom:24398.4px;color:rgb(35,31,31);
}
#P653_234
{
left:14010.4px;bottom:24380.8px;color:rgb(35,31,31);
}
#P653_235
{
left:14010.4px;bottom:24380.8px;letter-spacing:0.2px;color:rgb(35,31,31);
}
#P653_236
{
left:25157.9px;bottom:24380.8px;color:rgb(35,31,31);
}
#P653_237
{
left:25585.2px;bottom:24380.8px;color:rgb(35,31,31);
}
#P653_238
{
left:8637.4px;bottom:23164.8px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P653_239
{
left:6973.4px;bottom:21180.7px;color:rgb(35,31,31);
}
#P653_240
{
left:7150.55px;bottom:21200.4px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P653_241
{
left:8637.4px;bottom:21200.4px;color:rgb(35,31,31);
}
#P653_242
{
left:8637.4px;bottom:21200.5px;color:rgb(2,77,161);
}
#P653_243
{
left: 12643.8px;bottom:21180.8px;letter-spacing:168.3px;color:rgb(35,31,31);
}
#P653_244
{
left:0px;letter-spacing:-2.3px;margin-left:-168.3px;
}
#P653_245
{
left:0px;letter-spacing:0px;margin-left:-11.6px;
}
#P653_246
{
left:0px;letter-spacing:-8.4px;margin-left:-13.9px;
}
#P653_247
{
left:0px;letter-spacing:-0.7px;margin-left:8.4px;
}
#P653_248
{
left:8637.4px;bottom:20284.8px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P653_249
{
left:0px;letter-spacing:-10.5px;margin-left:-20.5px;
}
#P653_250
{
left:0px;letter-spacing:-0.9px;margin-left:10.5px;
}
#P653_251
{
left:6973.4px;bottom:18300.8px;color:rgb(35,31,31);
}
#P653_252
{
left:7150.55px;bottom:18320.5px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P653_253
{
left:8637.4px;bottom:18320.5px;color:rgb(35,31,31);
}
#P653_254
{
left:8637.4px;bottom:18320.5px;color:rgb(2,77,161);
}
#P653_255
{
left:0px;letter-spacing:0px;margin-left:-52.8px;
}
#P653_256
{
left:14869.9px;bottom:18300.8px;letter-spacing:168.2px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P653_257
{
left:0px;letter-spacing:-0.6px;margin-left:-168.3px;
}
#P653_258
{
left:0px;letter-spacing:-0.1px;margin-left:-20.4px;
}
#P653_259
{
left:0px;letter-spacing:-1.5px;
}
#P653_260
{
left:8637.4px;bottom:17404.8px;letter-spacing:-3.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P653_261
{
left:0px;letter-spacing:-0.1px;margin-left:-17.9px;
}
#P653_262
{
left:0px;letter-spacing:-0.7px;margin-left:157.7px;
}
#P653_263
{
left:0px;letter-spacing:-0.1px;margin-left:-20.2px;
}
#P653_264
{
left:0px;letter-spacing:-1.1px;
}
#P653_265
{
left:6973.53px;bottom:15228.8px;color:rgb(35,31,31);
}
#P653_266
{
left:7150.55px;bottom:15248.5px;color:rgb(35,31,31);
}
#P653_267
{
left:12371.5px;bottom:14844.8px;color:rgb(35,31,31);
}
#P653_268
{
left:12371.5px;bottom:15228.8px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P653_269
{
left:0px;letter-spacing:0.1px;margin-left:-202px;
}
#P653_270
{
left:0px;letter-spacing:0px;margin-left:-158.5px;
}
#P653_271
{
left:20948.1px;bottom:15668.5px;color:rgb(35,31,31);
}
#P653_272
{
left:21526px;bottom:15246.4px;color:rgb(35,31,31);
}
#P653_273
{
left:20927px;bottom:15212.8px;color:rgb(35,31,31);
}
#P653_274
{
left:21547.1px;bottom:15230px;color:rgb(35,31,31);
}
#P653_275
{
left:21041.2px;bottom:14760.9px;color:rgb(35,31,31);
}
#P653_276
{
left:21432.9px;bottom:15246.4px;color:rgb(35,31,31);
}
#P653_277
{
left:21547.1px;bottom:15228.8px;color:rgb(35,31,31);
}
#P653_278
{
left:21547.1px;bottom:15228.8px;color:rgb(35,31,31);
}
#P653_279
{
left:21705.5px;bottom:15199.2px;color:rgb(35,31,31);
}
#P653_280
{
left:22291.9px;bottom:15228.8px;color:rgb(35,31,31);
}
#P653_281
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P653_282
{
left:22471.4px;bottom:15668.5px;color:rgb(35,31,31);
}
#P653_283
{
left:22807.3px;bottom:15246.4px;color:rgb(35,31,31);
}
#P653_284
{
left:22450.3px;bottom:15212.8px;color:rgb(35,31,31);
}
#P653_285
{
left:22828.4px;bottom:15230px;color:rgb(35,31,31);
}
#P653_286
{
left:22471.4px;bottom:14760.9px;color:rgb(35,31,31);
}
#P653_287
{
left:22807.3px;bottom:15246.4px;color:rgb(35,31,31);
}
#P653_288
{
left:22828.4px;bottom:15228.8px;color:rgb(35,31,31);
}
#P653_289
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P653_290
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P653_291
{
left:24391.2px;bottom:15668.5px;color:rgb(35,31,31);
}
#P653_292
{
left:24782.7px;bottom:15246.4px;color:rgb(35,31,31);
}
#P653_293
{
left:24370.1px;bottom:15212.8px;color:rgb(35,31,31);
}
#P653_294
{
left:24803.9px;bottom:15230px;color:rgb(35,31,31);
}
#P653_295
{
left:24414.3px;bottom:14760.9px;color:rgb(35,31,31);
}
#P653_296
{
left:24759.6px;bottom:15246.4px;color:rgb(35,31,31);
}
#P653_297
{
left:24803.9px;bottom:15228.8px;color:rgb(35,31,31);
}
#P653_298
{
left:24803.9px;bottom:15228.8px;color:rgb(35,31,31);
}
#P653_299
{
left:24962.3px;bottom:15199.2px;color:rgb(35,31,31);
}
#P653_300
{
left:25548.7px;bottom:15228.8px;color:rgb(35,31,31);
}
#P653_301
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P653_302
{
left:25728.2px;bottom:15668.5px;color:rgb(35,31,31);
}
#P653_303
{
left:26064px;bottom:15246.4px;color:rgb(35,31,31);
}
#P653_304
{
left:25707.1px;bottom:15212.8px;color:rgb(35,31,31);
}
#P653_305
{
left:26085.1px;bottom:15230px;color:rgb(35,31,31);
}
#P653_306
{
left:25728.2px;bottom:14760.9px;color:rgb(35,31,31);
}
#P653_307
{
left:26064px;bottom:15246.4px;color:rgb(35,31,31);
}
#P653_308
{
left:26085.1px;bottom:15228.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P653_309
{
left:6973.4px;bottom:13692.8px;color:rgb(35,31,31);
}
#P653_310
{
left:7933.27px;bottom:13712.5px;color:rgb(35,31,31);
}
#P653_311
{
left:8637.27px;bottom:13692.8px;color:rgb(35,31,31);
}
#P653_312
{
left:0px;letter-spacing:0px;margin-left:-6.9px;
}
#P653_313
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P653_314
{
left:14023.1px;bottom:14132.5px;color:rgb(35,31,31);
}
#P653_315
{
left:14600.9px;bottom:13710.4px;color:rgb(35,31,31);
}
#P653_316
{
left:14001.9px;bottom:13676.8px;color:rgb(35,31,31);
}
#P653_317
{
left:14622px;bottom:13694px;color:rgb(35,31,31);
}
#P653_318
{
left:14139.4px;bottom:13224.9px;color:rgb(35,31,31);
}
#P653_319
{
left:14484.6px;bottom:13710.4px;color:rgb(35,31,31);
}
#P653_320
{
left:14720.6px;bottom:13692.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P653_321
{
left:0px;letter-spacing:-1.5px;margin-left:158.4px;
}
#P653_322
{
left:0px;letter-spacing:0px;margin-left:1.5px;
}
#P653_323
{
left:13690.8px;bottom:30291.9px;color:rgb(35,31,31);
}
#P653_324
{
left:6588.44px;bottom:35188px;color:rgb(35,31,31);
}
#P653_325
{
left:8388.51px;bottom:30336.5px;color:rgb(35,31,31);
}
#P653_326
{
left:9913.5px;bottom:30346.1px;color:rgb(35,31,31);
}
#P653_327
{
left:11446.1px;bottom:30336.5px;letter-spacing:1285px;color:rgb(35,31,31);
}
#P653_328
{
left:6092.63px;bottom:31172.1px;color:rgb(35,31,31);
}
#P653_329
{
left:8166.68px;bottom:29412.1px;color:rgb(35,31,31);
}
#P653_330
{
left:7963.35px;bottom:36117.9px;color:rgb(35,31,31);
}
#P653_331
{
left:6572.89px;bottom:31455.3px;color:rgb(35,31,31);
}
#P653_332
{
left:6550.3px;bottom:32993.2px;color:rgb(35,31,31);
}
#P653_333
{
left:6544.54px;bottom:34525.8px;color:rgb(35,31,31);
}
#P653_334
{
left:10134.7px;bottom:33333px;color:rgb(0,124,196);
}
#P653_335
{
left:7339.93px;bottom:32133.2px;color:rgb(0,124,196);
}
#P653_336
{
left:6545.31px;bottom:32273px;color:rgb(35,31,31);
}
#P653_337
{
left:6524.7px;bottom:33803.2px;color:rgb(35,31,31);
}
#P653_338
{
left:7605.66px;bottom:30341.5px;color:rgb(35,31,31);
}
#P653_339
{
left:9146.46px;bottom:30340px;color:rgb(35,31,31);
}
#P653_340
{
left:10689.2px;bottom:30342.9px;color:rgb(35,31,31);
}
#P653_341
{
left:12246.7px;bottom:30340.5px;color:rgb(35,31,31);
}
#P653_342
{
left:6534.3px;bottom:30690.4px;color:rgb(35,31,31);
}
#P653_343
{
left:6818.46px;bottom:30340px;color:rgb(35,31,31);
}
#P653_344
{
left:6267.8px;bottom:44671.5px;
}
#P653_345
{
left:6267.8px;bottom:44671.5px;color:white;
}
#PageContainer653
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg653.jpg");background-repeat:no-repeat;background-size: 860px 1145px; background-position: 126.96px 124.25px;
}
#ImageContainer653 {bottom:94.75px;left:126.96px;width:859.74px;height:1145.49px;position:absolute;} #TextContainer653 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}
.circle3{position: absolute;top: 124px;left: 158px;}
#middle-toolbar img{vertical-align: middle;}