.tr283{ color:transparent;}
#P283_1
{
left:4592.6px;bottom:1410.03px;letter-spacing:14720.9px;color:rgb(35,31,31);
}
#P283_2
{
left:19669.3px;bottom:1410.03px;letter-spacing:2.8px;color:rgb(35,31,31);
}
#P283_3
{
left:24249.9px;bottom:1410.03px;letter-spacing:462.1px;word-spacing:-0.1px;color:rgb(35,31,31);
}
#P283_4
{
left:0px;letter-spacing:1.4px;margin-left:-462.1px;
}
#P283_5
{
left:0px;letter-spacing:2.1px;margin-left:4.2px;
}
#P283_6
{
left:0px;letter-spacing:0px;margin-left:11.1px;
}
#P283_7
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P283_8
{
left:7737.11px;bottom:46049.6px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P283_9
{
left:14605.4px;bottom:46074.2px;color:white;
}
#P283_10
{
left:17390.1px;bottom:46266px;color:white;
}
#P283_11
{
left:17630.3px;bottom:46074.2px;color:white;
}
#P283_12
{
left:19519px;bottom:46266px;color:white;
}
#P283_13
{
left:19759.2px;bottom:46074.2px;letter-spacing:-0.8px;color:white;
}
#P283_14
{
left:12761px;bottom:45907.1px;
}
#P283_15
{
left:12761px;bottom:45907.1px;color:white;
}
#P283_16
{
left:13832.4px;bottom:44282.2px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P283_17
{
left:22113.6px;bottom:44252.6px;color:rgb(35,31,31);
}
#P283_18
{
left:22700px;bottom:44282.2px;letter-spacing:-1.6px;color:rgb(35,31,31);
}
#P283_19
{
left:0px;letter-spacing:14px;margin-left:-40.6px;
}
#P283_20
{
left:0px;letter-spacing:-0.8px;margin-left:-14px;
}
#P283_21
{
left:13832.4px;bottom:43386.2px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P283_22
{
left:13832.4px;bottom:42106.2px;color:rgb(35,31,31);
}
#P283_23
{
left:14073.9px;bottom:42151.8px;color:rgb(35,31,31);
}
#P283_24
{
left:14395.5px;bottom:42270.7px;color:rgb(35,31,31);
}
#P283_25
{
left:14856.4px;bottom:42106.2px;color:rgb(35,31,31);
}
#P283_26
{
left:15014.8px;bottom:42133px;color:rgb(35,31,31);
}
#P283_27
{
left:15496.4px;bottom:42076.6px;color:rgb(35,31,31);
}
#P283_28
{
left:16082.8px;bottom:42106.2px;color:rgb(35,31,31);
}
#P283_29
{
left:20025.9px;bottom:42151.8px;color:rgb(35,31,31);
}
#P283_30
{
left:20347.5px;bottom:42270.7px;color:rgb(35,31,31);
}
#P283_31
{
left:20808.4px;bottom:42133px;color:rgb(35,31,31);
}
#P283_32
{
left:21384.4px;bottom:42076.6px;color:rgb(35,31,31);
}
#P283_33
{
left:21816px;bottom:42106.2px;color:rgb(35,31,31);
}
#P283_34
{
left:25657.9px;bottom:42151.8px;color:rgb(35,31,31);
}
#P283_35
{
left:25979.5px;bottom:42270.7px;color:rgb(35,31,31);
}
#P283_36
{
left:26440.4px;bottom:42106.2px;color:rgb(35,31,31);
}
#P283_37
{
left:27016.4px;bottom:42076.6px;color:rgb(35,31,31);
}
#P283_38
{
left:27602.8px;bottom:42106.2px;color:rgb(35,31,31);
}
#P283_39
{
left:31278.8px;bottom:42151.8px;color:rgb(35,31,31);
}
#P283_40
{
left:31611.5px;bottom:42270.7px;color:rgb(35,31,31);
}
#P283_41
{
left:32072.4px;bottom:42106.2px;color:rgb(35,31,31);
}
#P283_42
{
left:0px;letter-spacing:0px;margin-left:259.2px;
}
#P283_43
{
left:13832.4px;bottom:40442.2px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P283_44
{
left:22638.7px;bottom:40412.6px;color:rgb(35,31,31);
}
#P283_45
{
left:23225.2px;bottom:40442.2px;color:rgb(35,31,31);
}
#P283_46
{
left:0px;letter-spacing:0px;margin-left:-8.4px;
}
#P283_47
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P283_48
{
left:13832.4px;bottom:39546.3px;letter-spacing:0.4px;color:rgb(35,31,31);
}
#P283_49
{
left:18296.2px;bottom:39516.7px;color:rgb(35,31,31);
}
#P283_50
{
left:18882.6px;bottom:39546.3px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P283_51
{
left:13832.4px;bottom:34554.3px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P283_52
{
left:0px;letter-spacing:-0.4px;margin-left:0.6px;
}
#P283_53
{
left:27821.7px;bottom:34524.7px;color:rgb(35,31,31);
}
#P283_54
{
left:28408.1px;bottom:34554.3px;color:rgb(35,31,31);
}
#P283_55
{
left:13832.4px;bottom:33658.3px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P283_56
{
left:13832.4px;bottom:32762.3px;color:rgb(35,31,31);
}
#P283_57
{
left:14502.6px;bottom:32732.7px;color:rgb(35,31,31);
}
#P283_58
{
left:15089px;bottom:32762.3px;color:rgb(35,31,31);
}
#P283_59
{
left: 15026.4px;bottom:31482.2px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P283_60
{
left:0px;letter-spacing:-9.3px;margin-left:-554px;
}
#P283_61
{
left:0px;letter-spacing:-1.2px;margin-left:9.3px;
}
#P283_62
{
left:0px;letter-spacing:0px;margin-left:1.2px;
}
#P283_63
{
left:22918.2px;bottom:31525.5px;color:rgb(35,31,31);
}
#P283_64
{
left:23255px;bottom:31646.1px;color:rgb(35,31,31);
}
#P283_65
{
left:23737.9px;bottom:31482.2px;color:rgb(35,31,31);
}
#P283_66
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P283_67
{
left:7750.49px;bottom:29387px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P283_68
{
left:14618.8px;bottom:29411.6px;color:white;
}
#P283_69
{
left:17002.6px;bottom:29603.4px;color:white;
}
#P283_70
{
left:17242.8px;bottom:29411.6px;word-spacing:-31.9px;color:white;
}
#P283_71
{
left:20011.1px;bottom:29603.4px;color:white;
}
#P283_72
{
left:20251.3px;bottom:29411.6px;color:white;
}
#P283_73
{
left:21435px;bottom:29603.4px;color:white;
}
#P283_74
{
left:21675.2px;bottom:29411.6px;color:white;
}
#P283_75
{
left:12774.4px;bottom:29244.4px;
}
#P283_76
{
left:12774.4px;bottom:29244.4px;color:white;
}
#P283_77
{
left:13845.7px;bottom:27782.1px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P283_78
{
left:0px;letter-spacing:0px;margin-left:1.4px;
}
#P283_79
{
left:13845.7px;bottom:26886.1px;letter-spacing:-4.7px;color:rgb(35,31,31);
}
#P283_80
{
left:0px;letter-spacing:-0.8px;margin-left:4.7px;
}
#P283_81
{
left:13845.7px;bottom:25990.2px;letter-spacing:-0.5px;word-spacing:-0.1px;color:rgb(35,31,31);
}
#P283_82
{
left:0px;letter-spacing:14px;margin-left:-41.5px;
}
#P283_83
{
left:0px;letter-spacing:0.1px;margin-left:-14px;
}
#P283_84
{
left:13077.7px;bottom:24838.1px;color:rgb(35,31,31);
}
#P283_85
{
left:13805.7px;bottom:24838.1px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P283_85a
{
left:14805.7px;bottom:24838.1px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P283_86
{
left:0px;letter-spacing:0px;margin-left:378.2px;
}
#P283_87
{
left:0px;letter-spacing:0px;
margin-left: 0;
}
#P283_88
{
left:0px;letter-spacing:0px;margin-left:13.9px;
}
#P283_89
{
left:14869.8px;bottom:23942.1px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P283_90
{
left:0px;letter-spacing:0px;margin-left:-12.8px;
}
#P283_91
{
left:14869.8px;bottom:23046.3px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P283_92
{
left:14805.8px;bottom:21574.3px;word-spacing:0.2px;color:rgb(35,31,31);
}
#P283_93
{
left:0px;letter-spacing:-0.6px;margin-left:-0.2px;
}
#P283_94
{
left:15453.7px;bottom:20102.1px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P283_95
{
left:16157.7px;bottom:20072.6px;color:rgb(35,31,31);
}
#P283_96
{
left:16589.3px;bottom:20102.1px;letter-spacing:-1.6px;color:rgb(35,31,31);
}
#P283_97
{
left:0px;letter-spacing:-0.6px;margin-left:-2.5px;
}
#P283_98
{
left:0px;letter-spacing:-12.2px;margin-left:0.6px;
}
#P283_99
{
left:0px;letter-spacing:0px;margin-left:12.2px;
}
#P283_100
{
left:16157.7px;bottom:19206.1px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P283_101
{
left:0px;letter-spacing:-0.7px;margin-left:-13.3px;
}
#P283_102
{
left:0px;letter-spacing:-7px;margin-left:0.7px;
}
#P283_103
{
left:13077.7px;bottom:17542.3px;color:rgb(35,31,31);
}
#P283_104
{
left:13769.6px;bottom:17542.3px;letter-spacing:-17.5px;color:rgb(35,31,31);
}
#P283_104a
{
left:14769.6px;bottom:17542.3px;letter-spacing:-17.5px;color:rgb(35,31,31);
}
#P283_105
{
left:0px;letter-spacing:0px;margin-left:381.7px;
}
#P283_106
{
left:0px;letter-spacing:0px;
margin-left: 0;
}
#P283_107
{
left:0px;letter-spacing:0px;margin-left:-17.5px;
}
#P283_108
{
left:0px;letter-spacing:-11.2px;margin-left:-10.5px;
}
#P283_109
{
left:0px;letter-spacing:-0.8px;margin-left:11.2px;
}
#P283_110
{
left:0px;letter-spacing:-1.7px;margin-left:-13.2px;
}
#P283_111
{
left:0px;letter-spacing:-1.5px;margin-left:1.7px;
}
#P283_112
{
left:0px;letter-spacing:0px;margin-left:-12.4px;
}
#P283_113
{
left:14869.6px;bottom:16646.3px;letter-spacing:-26.4px;color:rgb(35,31,31);
}
#P283_114
{
left:0px;letter-spacing:-0.6px;margin-left:26.4px;
}
#P283_115
{
left: 16123.7px;bottom:15110.1px;letter-spacing:520.3px;color:rgb(35,31,31);
}
#P283_116
{
left:0px;letter-spacing:0px;
margin-left: 0;
}
#P283_117
{
left:0px;letter-spacing:-0.9px;
}
#P283_118
{
left:0px;letter-spacing:-0.7px;margin-left:-13px;
}
#P283_119
{
left:0px;letter-spacing:-2px;margin-left:0.7px;
}
#P283_120
{
left:0px;letter-spacing:-21.1px;margin-left:-40.1px;
}
#P283_121
{
left:0px;letter-spacing:-0.8px;margin-left:21.1px;
}
#P283_122
{
left:33888.1px;bottom:15080.6px;color:rgb(35,31,31);
}
#P283_123
{
left:34122.5px;bottom:15110.1px;letter-spacing:-126.6px;color:rgb(35,31,31);
}
#P283_124
{
left:0px;letter-spacing:0px;margin-left:126.6px;
}
#P283_125
{
left:16132.5px;bottom:14214.1px;letter-spacing:-0.2px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P283_126
{
left:0px;letter-spacing:-5.7px;margin-left:-6.7px;
}
#P283_127
{
left:0px;letter-spacing:-12.2px;margin-left:152px;
}
#P283_128
{
left:0px;letter-spacing:-0.1px;margin-left:170.4px;
}
#P283_129
{
left:16132.5px;bottom:13318.2px;letter-spacing:-1.8px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P283_130
{
left:0px;letter-spacing:-0.8px;margin-left:1.7px;
}
#P283_131
{
left:0px;letter-spacing:-0.1px;margin-left:-13.1px;
}
#P283_132
{
left:0px;letter-spacing:-21.1px;margin-left:-42.1px;
}
#P283_133
{
left:0px;letter-spacing:-1.2px;margin-left:21px;
}
#P283_134
{
left:13845.7px;bottom:10502.2px;letter-spacing:-2.1px;color:rgb(35,31,31);
}
#P283_135
{
left:0px;letter-spacing:-0.8px;margin-left:2.1px;
}
#P283_136
{
left:0px;letter-spacing:2.1px;margin-left:0.8px;
}
#P283_137
{
left:13845.7px;bottom:9350.12px;color:rgb(35,31,31);
}
#P283_138
{
left:14309.3px;bottom:9376.94px;color:rgb(35,31,31);
}
#P283_139
{
left:15509.7px;bottom:9320.56px;color:rgb(35,31,31);
}
#P283_140
{
left:15941.3px;bottom:9350.12px;color:rgb(35,31,31);
}
#P283_141
{
left:16817.8px;bottom:9320.56px;color:rgb(35,31,31);
}
#P283_142
{
left:17249.3px;bottom:9350.12px;color:rgb(35,31,31);
}
#P283_143
{
left:19561.9px;bottom:9320.56px;color:rgb(35,31,31);
}
#P283_144
{
left:19993.5px;bottom:9350.12px;color:rgb(35,31,31);
}
#P283_145
{
left:24805.3px;bottom:9376.94px;color:rgb(35,31,31);
}
#P283_146
{
left:26133.7px;bottom:9350.12px;color:rgb(35,31,31);
}
#P283_147
{
left:26851.8px;bottom:9320.56px;color:rgb(35,31,31);
}
#P283_148
{
left:27283.4px;bottom:9350.12px;color:rgb(35,31,31);
}
#P283_149
{
left:28159.8px;bottom:9320.56px;color:rgb(35,31,31);
}
#P283_150
{
left:28591.4px;bottom:9350.12px;color:rgb(35,31,31);
}
#P283_151
{
left:13845.8px;bottom:8070.12px;color:rgb(35,31,31);
}
#P283_152
{
left:14309.3px;bottom:8096.94px;word-spacing:453.2px;color:rgb(35,31,31);
}
#P283_153
{
left:15509.7px;bottom:8070.12px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P283_154
{
left:0px;letter-spacing:-0.1px;margin-left:0.6px;
}
#P283_155
{
left:15509.7px;bottom:7174.12px;color:rgb(35,31,31);
}
#P283_156
{
left:13845.7px;bottom:5894.12px;color:rgb(35,31,31);
}
#P283_157
{
left:14309.3px;bottom:5920.94px;color:rgb(35,31,31);
}
#P283_158
{
left:15509.7px;bottom:5913.84px;color:rgb(2,77,161);
}
#P283_159
{
left:15509.7px;bottom:5894.12px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P283_160
{
left:0px;letter-spacing:1.8px;margin-left:-19.7px;
}
#P283_161
{
left:0px;letter-spacing:-2px;margin-left:-1.8px;
}
#P283_162
{
left:0px;letter-spacing:0px;margin-left:-12px;
}
#P283_163
{
left:0px;letter-spacing:-3.5px;margin-left:-14px;
}
#P283_164
{
left:0px;letter-spacing:-4.2px;margin-left:3.5px;
}
#P283_165
{
left:0px;letter-spacing:0px;margin-left:4.2px;
}
#P283_166
{
left:15509.7px;bottom:4998.12px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P283_167
{
left:0px;letter-spacing:-5.2px;margin-left:-12.8px;
}
#P283_168
{
left:0px;letter-spacing:-0.7px;margin-left:5.2px;
}
#P283_169
{
left:0px;letter-spacing:-3.5px;margin-left:-13.3px;
}
#P283_170
{
left:0px;letter-spacing:-4.2px;margin-left:3.5px;
}
#P283_171
{
left:0px;letter-spacing:-12.1px;margin-left:4.2px;
}
#P283_172
{
left:0px;letter-spacing:-0.5px;margin-left:12.1px;
}
#P283_173
{
left:15509.7px;bottom:4102.19px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P283_174
{
left:0px;letter-spacing:0px;margin-left:-13.3px;
}
#P283_175
{
left:0px;letter-spacing:-3.5px;margin-left:-13.9px;
}
#P283_176
{
left:0px;letter-spacing:-4.2px;margin-left:3.5px;
}
#P283_177
{
left:0px;letter-spacing:-3.1px;margin-left:4.2px;
}
#P283_178
{
left:0px;letter-spacing:0px;margin-left:3.1px;
}
#P283_179
{
left:8013.4px;bottom:9581.04px;color:rgb(35,31,31);
}
#P283_180
{
left:8013.4px;bottom:8813.04px;color:rgb(35,31,31);
}
#P283_181
{
left:17777.5px;bottom:35847.7px;color:rgb(33,31,31);
}
#P283_182
{
left:18204px;bottom:35853.9px;color:rgb(35,31,31);
}
#P283_183
{
left:19003.7px;bottom:35847.7px;color:rgb(33,31,31);
}
#P283_184
{
left:19430.2px;bottom:35853.9px;color:rgb(35,31,31);
}
#P283_185
{
left:20230px;bottom:35847.7px;color:rgb(33,31,31);
}
#P283_186
{
left:20656.5px;bottom:35853.9px;color:rgb(35,31,31);
}
#P283_187
{
left:21456.2px;bottom:35847.7px;color:rgb(33,31,31);
}
#P283_188
{
left:21882.7px;bottom:35853.9px;color:rgb(35,31,31);
}
#P283_189
{
left:22682.5px;bottom:35847.7px;color:rgb(33,31,31);
}
#P283_190
{
left:23109px;bottom:35853.9px;color:rgb(35,31,31);
}
#P283_191
{
left:23908.7px;bottom:35847.7px;color:rgb(33,31,31);
}
#P283_192
{
left:24335.2px;bottom:35853.9px;color:rgb(35,31,31);
}
#P283_193
{
left:25134.9px;bottom:35847.7px;color:rgb(33,31,31);
}
#P283_194
{
left:25561.4px;bottom:35853.9px;color:rgb(35,31,31);
}
#P283_195
{
left:26361.2px;bottom:35847.7px;color:rgb(33,31,31);
}
#P283_196
{
left:26787.7px;bottom:35853.9px;color:rgb(35,31,31);
}
#P283_197
{
left:27587.4px;bottom:35847.7px;color:rgb(33,31,31);
}
#P283_198
{
left:28013.9px;bottom:35853.9px;color:rgb(35,31,31);
}
#P283_199
{
left:16394.1px;bottom:35847.7px;color:rgb(33,31,31);
}
#P283_200
{
left:16820.6px;bottom:35853.9px;color:rgb(35,31,31);
}
#P283_201
{
left:0px;letter-spacing:0px;margin-left:13062.1px;
}
#P283_202
{
left:29225.3px;bottom:35853.9px;letter-spacing:2168.8px;color:rgb(35,31,31);
}
#P283_203
{
left:22556.4px;bottom:38267.9px;color:rgb(0,124,196);
}
#P283_204
{
left:21884.2px;bottom:37576.7px;color:rgb(0,124,196);
}
#P283_205
{
left:24412.8px;bottom:37569.8px;color:rgb(0,124,196);
}
#P283_206
{
left:24892.6px;bottom:37576.7px;color:rgb(0,124,196);
}
#P283_207
{
left:24109.9px;bottom:23703.2px;color:rgb(33,31,31);
}
#P283_208
{
left:26478.4px;bottom:23703.2px;color:rgb(35,31,31);
}
#P283_209
{
left:26798.7px;bottom:23696.3px;color:rgb(33,31,31);
}
#P283_210
{
left:27278.5px;bottom:23703.2px;color:rgb(35,31,31);
}
#P283_211
{
left:27919px;bottom:23696.3px;color:rgb(33,31,31);
}
#P283_212
{
left:28110.8px;bottom:23703.2px;color:rgb(35,31,31);
}
#P283_213
{
left:27268.7px;bottom:25852.8px;letter-spacing:-5.3px;color:rgb(33,31,31);
}
#P283_214
{
left:0px;letter-spacing:0px;margin-left:5.3px;
}
#P283_215
{
left:27945.5px;bottom:25154.7px;color:rgb(33,31,31);
}
#P283_216
{
left:28425.3px;bottom:25161.6px;color:rgb(35,31,31);
}
#P283_217
{
left:29065.8px;bottom:25154.7px;color:rgb(33,31,31);
}
#P283_218
{
left:29257.6px;bottom:25161.6px;color:rgb(35,31,31);
}
#P283_219
{
left:31448.5px;bottom:22964.1px;color:rgb(35,31,31);
}
#P283_220
{
left:33817px;bottom:22957.2px;color:rgb(33,31,31);
}
#P283_221
{
left:34296.9px;bottom:22964.1px;color:rgb(35,31,31);
}
#P283_222
{
left:34617.1px;bottom:22957.2px;color:rgb(33,31,31);
}
#P283_223
{
left:34808.9px;bottom:22964.1px;color:rgb(35,31,31);
}
#P283_224
{
left:30717px;bottom:26277.3px;color:rgb(33,31,31);
}
#P283_225
{
left:33404.6px;bottom:26277.3px;color:rgb(35,31,31);
}
#P283_226
{
left:31340.8px;bottom:25579.2px;color:rgb(33,31,31);
}
#P283_227
{
left:31820.6px;bottom:25586.1px;color:rgb(35,31,31);
}
#P283_228
{
left:32461.1px;bottom:25579.2px;color:rgb(33,31,31);
}
#P283_229
{
left:32653px;bottom:25586.1px;color:rgb(35,31,31);
}
#P283_230
{
left:34636.7px;bottom:27408px;letter-spacing:-1.7px;color:rgb(33,31,31);
}
#P283_231
{
left:34359.6px;bottom:26716.8px;color:rgb(35,31,31);
}
#P283_232
{
left:36568.6px;bottom:26709.9px;color:rgb(33,31,31);
}
#P283_233
{
left:36760.4px;bottom:26716.8px;color:rgb(35,31,31);
}
#P283_234
{
left:4818.71px;bottom:39679.9px;color:white;
}
#P283_235
{
left:8174.36px;bottom:39921.5px;color:white;
}
#P283_236
{
left:8510.23px;bottom:39679.9px;color:white;
}
#P283_237
{
left:5053.4px;bottom:38576.9px;color:rgb(35,31,31);
}
#P283_238
{
left:5053.4px;bottom:37808.9px;color:rgb(35,31,31);
}
#P283_239
{
left:5053.4px;bottom:37040.9px;color:rgb(35,31,31);
}
#P283_240
{
left:5053.4px;bottom:36272.9px;color:rgb(35,31,31);
}
#P283_241
{
left:5053.4px;bottom:35504.9px;color:rgb(35,31,31);
}
#P283_242
{
left:6618.33px;bottom:26085.4px;color:rgb(33,31,31);
}
#P283_243
{
left:7044.76px;bottom:26091.5px;color:rgb(35,31,31);
}
#P283_244
{
left:7044.83px;bottom:27286px;color:rgb(35,31,31);
}
#P283_245
{
left:6618.33px;bottom:24858.6px;color:rgb(33,31,31);
}
#P283_246
{
left:7044.76px;bottom:24864.7px;color:rgb(35,31,31);
}
#P283_247
{
left:6618.33px;bottom:23631.9px;color:rgb(33,31,31);
}
#P283_248
{
left:7044.76px;bottom:23638px;color:rgb(35,31,31);
}
#P283_249
{
left:6618.33px;bottom:22405.1px;color:rgb(33,31,31);
}
#P283_250
{
left:7044.76px;bottom:22411.2px;color:rgb(35,31,31);
}
#P283_251
{
left:6618.33px;bottom:21178.3px;color:rgb(33,31,31);
}
#P283_252
{
left:7044.76px;bottom:21184.5px;color:rgb(35,31,31);
}
#P283_253
{
left:6618.33px;bottom:19951.6px;color:rgb(33,31,31);
}
#P283_254
{
left:7044.76px;bottom:19957.7px;color:rgb(35,31,31);
}
#P283_255
{
left:6618.33px;bottom:18724.8px;color:rgb(33,31,31);
}
#P283_256
{
left:7044.76px;bottom:18731px;color:rgb(35,31,31);
}
#P283_257
{
left:6618.33px;bottom:17498.1px;color:rgb(33,31,31);
}
#P283_258
{
left:7044.76px;bottom:17504.2px;color:rgb(35,31,31);
}
#P283_259
{
left:6618.33px;bottom:16271.3px;color:rgb(33,31,31);
}
#P283_260
{
left:7044.76px;bottom:16277.5px;color:rgb(35,31,31);
}
#P283_261
{
left:6333.59px;bottom:15044.6px;color:rgb(33,31,31);
}
#P283_262
{
left:6760.09px;bottom:15050.7px;color:rgb(35,31,31);
}
#P283_263
{
left:6333.59px;bottom:13817.8px;color:rgb(33,31,31);
}
#P283_264
{
left:6760.09px;bottom:13824px;color:rgb(35,31,31);
}
#P283_265
{
left:6333.59px;bottom:12591.1px;color:rgb(33,31,31);
}
#P283_266
{
left:6760.09px;bottom:12597.2px;color:rgb(35,31,31);
}
#P283_267
{
left:8357.53px;bottom:12559px;color:rgb(0,124,196);
}
#P283_268
{
left:8357.53px;bottom:13787.1px;color:rgb(0,124,196);
}
#P283_269
{
left:8357.53px;bottom:15015.1px;letter-spacing:-4.3px;color:rgb(0,124,196);
}
#P283_270
{
left:0px;letter-spacing:0px;margin-left:4.3px;
}
#P283_271
{
left:8357.53px;bottom:23592.9px;color:rgb(0,124,196);
}
#P283_272
{
left:8357.53px;bottom:27663.5px;letter-spacing:-1.7px;color:rgb(0,124,196);
}
#P283_273
{
left:8357.53px;bottom:26972.3px;color:rgb(0,124,196);
}
#PageContainer283
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg283.jpg");background-repeat:no-repeat;background-size: 895px 1198px; background-position: 120.34px 75.1600000000001px;
}
#ImageContainer283 {bottom:90.84px;left:120.34px;width:895.25px;height:1198.21px;position:absolute;} #TextContainer283 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.example4{position: absolute;top: 78px;left: 159px;}
.example5{position: absolute;top: 535px;left: 159px;}
.nyr{position: absolute;top: 1054px;left: 187px;}
.nyr_exr{position: absolute;top: 1093px;left: 194px;color: rgb(35,31,31);font-size: 16px;white-space: pre;}


#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}