.tr470{ color:transparent;}
#P470_1
{
left:2365.4px;bottom:1409.96px;color:rgb(35,31,31);
}
#P470_2
{
left:3540.44px;bottom:1409.96px;color:rgb(35,31,31);
}
#P470_3
{
left:4925.4px;bottom:1409.96px;color:rgb(35,31,31);
}
#P470_4
{
left:8197.72px;bottom:1409.96px;letter-spacing:462.1px;color:rgb(35,31,31);
}
#P470_5
{
left:0px;letter-spacing:1.5px;margin-left:-465px;
}
#P470_6
{
left:0px;letter-spacing:0px;margin-left:6.1px;
}
#P470_7
{
left:5433.11px;bottom:46049.6px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P470_8
{
left:12301.4px;bottom:46074.2px;color:white;
}
#P470_9
{
left:15309.8px;bottom:46266px;color:white;
}
#P470_10
{
left:15550px;bottom:46074.2px;color:white;
}
#P470_11
{
left:19392.3px;bottom:46266px;color:white;
}
#P470_12
{
left:19632.5px;bottom:46074.2px;color:white;
}
#P470_13
{
left:10457px;bottom:45907.1px;
}
#P470_14
{
left:10457px;bottom:45907.1px;color:white;
}
#P470_15
{
left:11592.4px;bottom:44374.4px;color:rgb(35,31,31);
}
#P470_16
{
left:0px;letter-spacing:0px;margin-left:-21px;
}
#P470_17
{
left:0px;letter-spacing:0px;margin-left:-21px;
}
#P470_18
{
left:11592.4px;bottom:43478.4px;color:rgb(35,31,31);
}
#P470_19
{
left:0px;letter-spacing:0px;margin-left:-225.1px;
}
#P470_20
{
left:0px;letter-spacing:0px;margin-left:77.1px;
}
#P470_21
{
left:0px;letter-spacing:-1.8px;
}
#P470_22
{
left:0px;letter-spacing:14px;margin-left:-40.4px;
}
#P470_23
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P470_24
{
left:11592.4px;bottom:42582.5px;color:rgb(35,31,31);
}
#P470_25
{
left:0px;letter-spacing:0px;margin-left:-225px;
}
#P470_26
{
left:0px;letter-spacing:0px;margin-left:77.1px;
}
#P470_27
{
left:0px;letter-spacing:0px;margin-left:-21px;
}
#P470_28
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P470_29
{
left: 12726.4px;bottom:31702.4px;color:rgb(35,31,31);
}
#P470_30
{
left:0px;letter-spacing:0px;margin-left:503.5px;
}
#P470_31
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P470_32
{
left:0px;letter-spacing:0px;margin-left:-63.2px;
}
#P470_33
{
left:0px;letter-spacing:0px;margin-left:-6.8px;
}
#P470_34
{
left:0px;letter-spacing:0px;margin-left:-21px;
}
#P470_35
{
left:12838.3px;bottom:30806.4px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P470_36
{
left:0px;letter-spacing:-0.8px;margin-left:0.9px;
}
#P470_37
{
left:0px;letter-spacing:-0.6px;margin-left:0.8px;
}
#P470_38
{
left:12838.3px;bottom:29910.4px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P470_39
{
left:0px;letter-spacing:-63.2px;margin-left:-41.4px;
}
#P470_40
{
left:0px;letter-spacing:-0.6px;margin-left:63.2px;
}
#P470_41
{
left:0px;letter-spacing:0px;margin-left:-6.4px;
}
#P470_42
{
left:12838.3px;bottom:29014.4px;letter-spacing:-3px;color:rgb(35,31,31);
}
#P470_43
{
left:0px;letter-spacing:0.2px;margin-left:3px;
}
#P470_44
{
left:5501.4px;bottom:26465.6px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P470_45
{
left:12369.7px;bottom:26490.2px;color:white;
}
#P470_46
{
left:14033.8px;bottom:26682px;color:white;
}
#P470_47
{
left:14273.9px;bottom:26490.2px;color:white;
}
#P470_48
{
left:18419.4px;bottom:26682px;color:white;
}
#P470_49
{
left:18659.6px;bottom:26490.2px;letter-spacing:-1.1px;color:white;
}
#P470_50
{
left:24951.4px;bottom:26682px;color:white;
}
#P470_51
{
left:25191.6px;bottom:26490.2px;color:white;
}
#P470_52
{
left:10525.4px;bottom:26323.1px;
}
#P470_53
{
left:10525.4px;bottom:26323.1px;color:white;
}
#P470_54
{
left:11596.7px;bottom:24860.8px;letter-spacing:0.9px;color:rgb(35,31,31);
}
#P470_55
{
left:17347.4px;bottom:24866.4px;color:rgb(35,31,31);
}
#P470_56
{
left:19630.5px;bottom:24860.8px;color:rgb(35,31,31);
}
#P470_57
{
left:10828.7px;bottom:23708.8px;color:rgb(35,31,31);
}
#P470_58
{
left:11630.9px;bottom:23752.2px;color:rgb(35,31,31);
}
#P470_59
{
left:11967.8px;bottom:23873.3px;color:rgb(35,31,31);
}
#P470_60
{
left:12428.7px;bottom:23708.8px;color:rgb(35,31,31);
}
#P470_61
{
left:13388.7px;bottom:23708.8px;letter-spacing:-70.3px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P470_62
{
left:0px;letter-spacing:-0.7px;margin-left:66.2px;
}
#P470_63
{
left:0px;letter-spacing:-0.5px;margin-left:0.6px;
}
#P470_64
{
left:10828.6px;bottom:22620.7px;color:rgb(35,31,31);
}
#P470_65
{
left:11630.9px;bottom:22664.2px;color:rgb(35,31,31);
}
#P470_66
{
left:11967.8px;bottom:22785.3px;color:rgb(35,31,31);
}
#P470_67
{
left:13388.7px;bottom:22620.8px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P470_68
{
left:0px;letter-spacing:-0.3px;margin-left:-6.9px;
}
#P470_69
{
left:10828.7px;bottom:21532.7px;color:rgb(35,31,31);
}
#P470_70
{
left:11630.9px;bottom:21576.2px;color:rgb(35,31,31);
}
#P470_71
{
left:11967.8px;bottom:21697.3px;color:rgb(35,31,31);
}
#P470_72
{
left:12428.7px;bottom:21532.8px;color:rgb(35,31,31);
}
#P470_73
{
left:12587.1px;bottom:21532.8px;color:rgb(35,31,31);
}
#P470_74
{
left:13388.7px;bottom:21532.8px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P470_75
{
left:0px;letter-spacing:-0.8px;margin-left:0.7px;
}
#P470_76
{
left:10828.6px;bottom:20444.7px;color:rgb(35,31,31);
}
#P470_77
{
left:11619.3px;bottom:20488.2px;color:rgb(35,31,31);
}
#P470_78
{
left:11967.8px;bottom:20609.3px;color:rgb(35,31,31);
}
#P470_79
{
left:12428.7px;bottom:20444.8px;color:rgb(35,31,31);
}
#P470_80
{
left:0px;letter-spacing:0px;margin-left:664.3px;
}
#P470_81
{
left:13388.7px;bottom:20444.8px;letter-spacing:-37.2px;color:rgb(35,31,31);
}
#P470_82
{
left:0px;letter-spacing:-3.5px;margin-left:37.2px;
}
#P470_83
{
left:0px;letter-spacing:-0.3px;margin-left:3.5px;
}
#P470_84
{
left:0px;letter-spacing:0px;margin-left:-13.6px;
}
#P470_85
{
left:0px;letter-spacing:0px;margin-left:-13.9px;
}
#P470_86
{
left:11596.6px;bottom:18780.8px;letter-spacing:-1.6px;color:rgb(35,31,31);
}
#P470_87
{
left:0px;letter-spacing:-3.5px;margin-left:1.6px;
}
#P470_88
{
left:0px;letter-spacing:0px;margin-left:3.5px;
}
#P470_89
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P470_90
{
left:0px;letter-spacing:-1.3px;
}
#P470_91
{
left:11596.6px;bottom:17884.9px;letter-spacing:-9.1px;color:rgb(35,31,31);
}
#P470_92
{
left:0px;letter-spacing:0px;margin-left:-7.7px;
}
#P470_93
{
left:0px;letter-spacing:0px;margin-left:-13.9px;
}
#P470_94
{
left:11596.6px;bottom:16604.8px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P470_95
{
left:0px;letter-spacing:0.1px;margin-left:1.4px;
}
#P470_96
{
left:11596.6px;bottom:15708.9px;color:rgb(35,31,31);
}
#P470_97
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P470_98
{
left:0px;letter-spacing:0px;
}
#P470_99
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P470_100
{
left:0px;letter-spacing:0px;margin-left:-16.8px;
}
#P470_101
{
left:0px;letter-spacing:-1.4px;
}
#P470_102
{
left:11596.6px;bottom:14428.9px;letter-spacing:-1.6px;color:rgb(35,31,31);
}
#P470_103
{
left:0px;letter-spacing:-3.5px;margin-left:1.6px;
}
#P470_104
{
left:0px;letter-spacing:-0.2px;margin-left:3.5px;
}
#P470_105
{
left:11596.6px;bottom:13532.9px;color:rgb(35,31,31);
}
#P470_106
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P470_107
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P470_108
{
left:0px;letter-spacing:0px;margin-left:-8.4px;
}
#P470_109
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P470_110
{
left:24331.4px;bottom:13503.3px;color:rgb(35,31,31);
}
#P470_111
{
left:24917.8px;bottom:13532.9px;color:rgb(35,31,31);
}
#P470_112
{
left:26197.7px;bottom:13503.3px;color:rgb(35,31,31);
}
#P470_113
{
left:26784.2px;bottom:13532.9px;color:rgb(35,31,31);
}
#P470_114
{
left:11596.6px;bottom:12636.9px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P470_115
{
left:0px;letter-spacing:-4.2px;margin-left:-13.2px;
}
#P470_116
{
left:0px;letter-spacing:-0.6px;margin-left:4.2px;
}
#P470_117
{
left: 12810.7px;bottom:10908.8px;letter-spacing:520.3px;color:rgb(35,31,31);
}
#P470_118
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P470_119
{
left:0px;letter-spacing:-1.2px;
}
#P470_120
{
left:0px;letter-spacing:0px;margin-left:1.2px;
}
#P470_121
{
left:19756.6px;bottom:10952.2px;color:rgb(35,31,31);
}
#P470_122
{
left:20105.1px;bottom:11073.3px;color:rgb(35,31,31);
}
#P470_123
{
left:20566px;bottom:10908.8px;color:rgb(35,31,31);
}
#P470_124
{
left:11596.8px;bottom:7132.78px;color:rgb(35,31,31);
}
#P470_125
{
left:12060.2px;bottom:7159.6px;word-spacing:453.2px;color:rgb(35,31,31);
}
#P470_126
{
left:13260.7px;bottom:7132.78px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P470_127
{
left:0px;letter-spacing:0.3px;margin-left:-3.7px;
}
#P470_128
{
left:13260.7px;bottom:6236.78px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P470_129
{
left:11596.7px;bottom:4956.78px;color:rgb(35,31,31);
}
#P470_130
{
left:12060.2px;bottom:4983.6px;word-spacing:453.2px;color:rgb(35,31,31);
}
#P470_131
{
left:13260.7px;bottom:4956.78px;letter-spacing:-1.9px;color:rgb(35,31,31);
}
#P470_132
{
left:0px;letter-spacing:-0.1px;margin-left:1.9px;
}
#P470_133
{
left:13260.7px;bottom:4060.78px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P470_134
{
left:5325.4px;bottom:6095.98px;color:rgb(35,31,31);
}
#P470_135
{
left:11748.1px;bottom:35007.7px;letter-spacing:12px;color:rgb(35,31,31);
}
#P470_136
{
left:10642.6px;bottom:35349px;color:rgb(35,31,31);
}
#P470_137
{
left:10642.6px;bottom:36117px;color:rgb(35,31,31);
}
#P470_138
{
left:10642.6px;bottom:36885px;color:rgb(35,31,31);
}
#P470_139
{
left:10642.6px;bottom:37653px;color:rgb(35,31,31);
}
#P470_140
{
left:10642.6px;bottom:38421px;color:rgb(35,31,31);
}
#P470_141
{
left:10375.8px;bottom:39189px;color:rgb(35,31,31);
}
#P470_142
{
left:10375.8px;bottom:39957px;color:rgb(35,31,31);
}
#P470_143
{
left:13528.9px;bottom:35007.7px;color:rgb(35,31,31);
}
#P470_144
{
left:0px;letter-spacing:0px;margin-left:24px;
}
#P470_145
{
left:0px;letter-spacing:0px;margin-left:716.7px;
}
#P470_146
{
left:0px;letter-spacing:0px;margin-left:24px;
}
#P470_147
{
left:0px;letter-spacing:0px;margin-left:716.6px;
}
#P470_148
{
left:0px;letter-spacing:0px;margin-left:24px;
}
#P470_149
{
left:0px;letter-spacing:0px;margin-left:698.4px;
}
#P470_150
{
left:0px;letter-spacing:0px;margin-left:24px;
}
#P470_151
{
left:0px;letter-spacing:0px;margin-left:36px;
}
#P470_152
{
left:0px;letter-spacing:0px;
}
#P470_153
{
left:13459.8px;bottom:34049.1px;color:rgb(35,31,31);
}
#P470_154
{
left:14285.2px;bottom:41025.1px;color:rgb(35,31,31);
}
#P470_155
{
left:10142.2px;bottom:35140.9px;color:rgb(35,31,31);
}
#P470_156
{
left:25136.3px;bottom:40065.9px;letter-spacing:24px;color:rgb(35,31,31);
}
#P470_157
{
left:0px;letter-spacing:0px;margin-left:-24px;
}
#P470_158
{
left:25509px;bottom:39305px;color:rgb(33,31,31);
}
#P470_159
{
left:31164.8px;bottom:40065.9px;letter-spacing:36px;color:rgb(35,31,31);
}
#P470_160
{
left:32489px;bottom:38485.9px;letter-spacing:24px;color:rgb(35,31,31);
}
#P470_161
{
left:0px;letter-spacing:0px;margin-left:-24px;
}
#P470_162
{
left:32337.5px;bottom:33846.8px;letter-spacing:24px;color:rgb(35,31,31);
}
#P470_163
{
left:0px;letter-spacing:0px;margin-left:-24px;
}
#P470_164
{
left:23584.6px;bottom:38557.4px;letter-spacing:24px;color:rgb(35,31,31);
}
#P470_165
{
left:0px;letter-spacing:0px;margin-left:-24px;
}
#P470_166
{
left:28676.6px;bottom:38282px;color:white;
}
#P470_167
{
left:29995.7px;bottom:36745.2px;color:white;
}
#P470_168
{
left:28155.9px;bottom:34708.5px;color:white;
}
#P470_169
{
left:26524.7px;bottom:36973.9px;color:white;
}
#P470_170
{
left:27155.2px;bottom:41037.6px;color:rgb(2,77,161);
}
#PageContainer470
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg470.jpg");background-repeat:no-repeat;background-size: 889px 1202px; background-position: 57.36px 75.0799999999999px;
}
#ImageContainer470 {bottom:86.92px;left:57.36px;width:889.24px;height:1202.13px;position:absolute;} #TextContainer470 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.example3{

                            position: absolute;

                            top: 83px;

                            left: 100px;
}
.example4{

                            position: absolute;

                            top: 613px;

                            left: 100px;
}

 .nyr{position: absolute;top: 1148px;left: 128px}
.nyr_exr{position: absolute;top: 1188px;left: 145px;color:rgb(35,31,31);font-size:16px} 

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}