.tr282{ color:transparent;}
#P282_1
{
left:2365.4px;bottom:1409.96px;color:rgb(35,31,31);
}
#P282_2
{
left:3540.44px;bottom:1409.96px;color:rgb(35,31,31);
}
#P282_3
{
left:4925.4px;bottom:1409.96px;color:rgb(35,31,31);
}
#P282_4
{
left:9121.88px;bottom:1409.96px;letter-spacing:462px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P282_5
{
left:0px;letter-spacing:4.3px;margin-left:-462.1px;
}
#P282_6
{
left:0px;letter-spacing:0.8px;margin-left:-4.4px;
}
#P282_7
{
left:0px;letter-spacing:0px;margin-left:2.9px;
}
#P282_8
{
left:5889.56px;bottom:46957.1px;color:white;
}
#P282_9
{
left:2371.78px;bottom:46929.9px;color:white;
}
#P282_10
{
left:10813.4px;bottom:44172.8px;letter-spacing:-0.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P282_11
{
left:0px;letter-spacing:-0.4px;margin-left:158.6px;
}
#P282_12
{
left:10813.4px;bottom:43276.8px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P282_13
{
left:0px;letter-spacing:-0.4px;margin-left:1.3px;
}
#P282_14
{
left:0px;letter-spacing:0px;margin-left:-13.6px;
}
#P282_15
{
left:5655.64px;bottom:15825.6px;color:rgb(35,31,31);
}
#P282_16
{
left:0px;letter-spacing:57.6px;margin-left:57.6px;
}
#P282_17
{
left:0px;letter-spacing:0px;margin-left:-57.6px;
}
#P282_18
{
left:5433.11px;bottom:40889.6px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P282_19
{
left:12301.4px;bottom:40914.1px;color:white;
}
#P282_20
{
left:15309.8px;bottom:41105.9px;color:white;
}
#P282_21
{
left:15550px;bottom:40914.1px;letter-spacing:-0.4px;color:white;
}
#P282_22
{
left:23433.4px;bottom:41105.9px;color:white;
}
#P282_23
{
left:23673.6px;bottom:40914.1px;color:white;
}
#P282_24
{
left:29996.3px;bottom:41105.9px;color:white;
}
#P282_25
{
left:30236.5px;bottom:40914.1px;color:white;
}
#P282_26
{
left:10457px;bottom:40747px;
}
#P282_27
{
left:10457px;bottom:40747px;color:white;
}
#P282_28
{
left:5433.11px;bottom:28193.6px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P282_29
{
left:12301.4px;bottom:28218.2px;color:white;
}
#P282_30
{
left:15309.8px;bottom:28410px;color:white;
}
#P282_31
{
left:15550px;bottom:28218.2px;letter-spacing:-0.5px;color:white;
}
#P282_32
{
left:0px;letter-spacing:-23.7px;margin-left:-31.4px;
}
#P282_33
{
left:0px;letter-spacing:0px;margin-left:23.7px;
}
#P282_34
{
left:23641.8px;bottom:28410px;color:white;
}
#P282_35
{
left:23881.9px;bottom:28218.2px;color:white;
}
#P282_36
{
left:28907.8px;bottom:28410px;color:white;
}
#P282_37
{
left:29148px;bottom:28218.2px;color:white;
}
#P282_38
{
left:10457px;bottom:28051.1px;
}
#P282_39
{
left:10457px;bottom:28051.1px;color:white;
}
#P282_40
{
left:11336.4px;bottom:39122.1px;letter-spacing:-1.7px;color:rgb(35,31,31);
}
#P282_41
{
left:16465.2px;bottom:39092.5px;color:rgb(35,31,31);
}
#P282_42
{
left:17051.5px;bottom:39122.1px;color:rgb(35,31,31);
}
#P282_43
{
left:10760.4px;bottom:37522.1px;letter-spacing:1132.2px;color:rgb(35,31,31);
}
#P282_44
{
left:22503px;bottom:35422.8px;color:rgb(33,31,31);
}
#P282_45
{
left:22929.5px;bottom:35536.5px;color:rgb(35,31,31);
}
#P282_46
{
left:21082.7px;bottom:35422.8px;color:rgb(33,31,31);
}
#P282_47
{
left:21509.2px;bottom:35536.5px;color:rgb(35,31,31);
}
#P282_48
{
left:19662.4px;bottom:35422.8px;color:rgb(33,31,31);
}
#P282_49
{
left:20088.9px;bottom:35536.5px;color:rgb(35,31,31);
}
#P282_50
{
left:18242.1px;bottom:35422.8px;color:rgb(33,31,31);
}
#P282_51
{
left:18668.6px;bottom:35536.5px;color:rgb(35,31,31);
}
#P282_52
{
left:16821.8px;bottom:35422.8px;color:rgb(33,31,31);
}
#P282_53
{
left:17248.3px;bottom:35536.5px;color:rgb(35,31,31);
}
#P282_54
{
left:15401.6px;bottom:35422.8px;color:rgb(33,31,31);
}
#P282_55
{
left:15828.1px;bottom:35536.5px;color:rgb(35,31,31);
}
#P282_56
{
left:13981.3px;bottom:35422.8px;color:rgb(33,31,31);
}
#P282_57
{
left:14407.8px;bottom:35536.5px;letter-spacing:9650.7px;color:rgb(35,31,31);
}
#P282_58
{
left:0px;letter-spacing:1136.1px;margin-left:-8514.6px;
}
#P282_59
{
left:13078.7px;bottom:37533.2px;color:rgb(0,124,196);
}
#P282_60
{
left:14808.5px;bottom:37544px;color:rgb(0,124,196);
}
#P282_61
{
left:15368.3px;bottom:37533.2px;color:rgb(0,124,196);
}
#P282_62
{
left:0px;letter-spacing:0px;margin-left:11791.9px;
}
#P282_63
{
left: 12952.4px;bottom:33682.1px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P282_64
{
left:0px;letter-spacing:0.3px;margin-left:-545.6px;
}
#P282_65
{
left:18481.9px;bottom:33652.5px;color:rgb(35,31,31);
}
#P282_66
{
left:18913.5px;bottom:33682.1px;color:rgb(35,31,31);
}
#P282_67
{
left:0px;letter-spacing:0px;margin-left:-8.4px;
}
#P282_68
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P282_69
{
left:21505px;bottom:33746.1px;color:rgb(35,31,31);
}
#P282_70
{
left:21906.3px;bottom:33682.1px;letter-spacing:-70.4px;color:rgb(35,31,31);
}
#P282_71
{
left:22152.7px;bottom:33652.5px;color:rgb(35,31,31);
}
#P282_72
{
left:22584.2px;bottom:33682.1px;color:rgb(35,31,31);
}
#P282_73
{
left:11528.3px;bottom:31250.2px;letter-spacing:-0.4px;word-spacing:0.2px;color:rgb(35,31,31);
}
#P282_74
{
left:0px;letter-spacing:-0.2px;margin-left:-20.6px;
}
#P282_75
{
left:0px;letter-spacing:-0.2px;margin-left:-13.7px;
}
#P282_76
{
left:0px;letter-spacing:-4.8px;margin-left:-20.8px;
}
#P282_77
{
left:11528.3px;bottom:30354.2px;letter-spacing:-2.7px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P282_78
{
left:0px;letter-spacing:-3.5px;margin-left:2.6px;
}
#P282_79
{
left:0px;letter-spacing:-2.8px;margin-left:-10.4px;
}
#P282_80
{
left:0px;letter-spacing:-1.1px;margin-left:2.8px;
}
#P282_81
{
left:0px;letter-spacing:0px;margin-left:-55.1px;
}
#P282_82
{
left:5547.48px;bottom:12211.8px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P282_83
{
left:12415.8px;bottom:12236.3px;letter-spacing:-2.1px;color:white;
}
#P282_84
{
left:14631.3px;bottom:12428.1px;color:white;
}
#P282_85
{
left:14871.4px;bottom:12236.3px;letter-spacing:-0.9px;color:white;
}
#P282_86
{
left:10571.4px;bottom:12069.2px;
}
#P282_87
{
left:10571.4px;bottom:12069.2px;color:white;
}
#P282_88
{
left:11642.8px;bottom:10444.3px;letter-spacing:-4.2px;color:rgb(35,31,31);
}
#P282_89
{
left:13721.2px;bottom:10414.7px;color:rgb(35,31,31);
}
#P282_90
{
left:14307.7px;bottom:10444.3px;color:rgb(35,31,31);
}
#P282_91
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P282_92
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P282_93
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P282_94
{
left:16441.2px;bottom:10414.7px;color:rgb(35,31,31);
}
#P282_95
{
left:17027.6px;bottom:10444.3px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P282_96
{
left:17738.8px;bottom:10414.7px;color:rgb(35,31,31);
}
#P282_97
{
left:18325.2px;bottom:10444.3px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P282_98
{
left:0px;letter-spacing:2.1px;margin-left:1px;
}
#P282_99
{
left:11642.8px;bottom:9292.27px;letter-spacing:-0.8px;word-spacing:0.2px;color:rgb(35,31,31);
}
#P282_100
{
left:10874.8px;bottom:7820.27px;letter-spacing:1132.2px;color:rgb(35,31,31);
}
#P282_101
{
left:19118.6px;bottom:6934px;color:rgb(33,31,31);
}
#P282_102
{
left:19545.1px;bottom:7047.66px;color:rgb(35,31,31);
}
#P282_103
{
left:17697.8px;bottom:6934px;color:rgb(33,31,31);
}
#P282_104
{
left:18124.3px;bottom:7047.66px;color:rgb(35,31,31);
}
#P282_105
{
left:16277px;bottom:6934px;color:rgb(33,31,31);
}
#P282_106
{
left:16703.5px;bottom:7047.66px;color:rgb(35,31,31);
}
#P282_107
{
left:14856.2px;bottom:6934px;color:rgb(33,31,31);
}
#P282_108
{
left:15282.7px;bottom:7047.66px;color:rgb(35,31,31);
}
#P282_109
{
left:13435.4px;bottom:6934px;color:rgb(33,31,31);
}
#P282_110
{
left:13861.9px;bottom:7047.66px;letter-spacing:6826px;color:rgb(35,31,31);
}
#P282_111
{
left:0px;letter-spacing:1136.1px;margin-left:-5689.9px;
}
#P282_112
{
left:11642.8px;bottom:5196.27px;letter-spacing:-13.1px;color:rgb(35,31,31);
}
#P282_113
{
left:0px;letter-spacing:0px;margin-left:13.1px;
}
#P282_114
{
left: 12926.8px;bottom:3276.27px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P282_115
{
left:0px;letter-spacing:-9.3px;margin-left:-554px;
}
#P282_116
{
left:0px;letter-spacing:-1.6px;margin-left:9.3px;
}
#P282_117
{
left:0px;letter-spacing:-0.6px;margin-left:1.6px;
}
#P282_118
{
left:24584.4px;bottom:3246.7px;color:rgb(35,31,31);
}
#P282_119
{
left:25016px;bottom:3276.27px;color:rgb(35,31,31);
}
#P282_120
{
left:25892.6px;bottom:3246.7px;color:rgb(35,31,31);
}
#P282_121
{
left:26324.1px;bottom:3276.27px;color:rgb(35,31,31);
}
#P282_122
{
left:27200.6px;bottom:3246.7px;color:rgb(35,31,31);
}
#P282_123
{
left:27632.2px;bottom:3276.27px;color:rgb(35,31,31);
}
#P282_124
{
left:11389.5px;bottom:26410.2px;letter-spacing:-3.2px;color:rgb(35,31,31);
}
#P282_125
{
left:14570.3px;bottom:26380.6px;color:rgb(35,31,31);
}
#P282_126
{
left:15156.8px;bottom:26410.2px;color:rgb(35,31,31);
}
#P282_127
{
left:17104.7px;bottom:26380.6px;color:rgb(35,31,31);
}
#P282_128
{
left:17691.2px;bottom:26410.2px;color:rgb(35,31,31);
}
#P282_129
{
left:12165.4px;bottom:23274.2px;color:rgb(35,31,31);
}
#P282_130
{
left:12869.4px;bottom:23244.6px;color:rgb(35,31,31);
}
#P282_131
{
left:13301px;bottom:23274.2px;letter-spacing:-2.1px;color:rgb(35,31,31);
}
#P282_132
{
left:0px;letter-spacing:0px;margin-left:2.1px;
}
#P282_133
{
left:16724.6px;bottom:23244.6px;color:rgb(35,31,31);
}
#P282_134
{
left:17156.1px;bottom:23274.2px;color:rgb(35,31,31);
}
#P282_135
{
left:0px;letter-spacing:0px;margin-left:-8.4px;
}
#P282_136
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P282_137
{
left:19128.2px;bottom:23244.6px;color:rgb(35,31,31);
}
#P282_138
{
left:19559.7px;bottom:23274.2px;color:rgb(35,31,31);
}
#P282_139
{
left:20337.6px;bottom:23338.2px;color:rgb(35,31,31);
}
#P282_140
{
left:20738.9px;bottom:23274.2px;letter-spacing:-70.4px;color:rgb(35,31,31);
}
#P282_141
{
left:20985.3px;bottom:23244.6px;color:rgb(35,31,31);
}
#P282_142
{
left:21416.9px;bottom:23274.2px;color:rgb(35,31,31);
}
#P282_143
{
left:11581.5px;bottom:16746.2px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P282_144
{
left:0px;letter-spacing:0px;margin-left:0.7px;
}
#P282_145
{
left:24674.3px;bottom:16810.2px;color:rgb(35,31,31);
}
#P282_146
{
left:25096.7px;bottom:16746.2px;color:rgb(35,31,31);
}
#P282_147
{
left:26113.9px;bottom:16810.2px;color:rgb(35,31,31);
}
#P282_148
{
left:26536.3px;bottom:16746.2px;color:rgb(35,31,31);
}
#P282_149
{
left:11581.5px;bottom:15210.3px;color:rgb(35,31,31);
}
#P282_150
{
left:12045px;bottom:15237px;color:rgb(35,31,31);
}
#P282_151
{
left:13245.4px;bottom:15210.2px;color:rgb(35,31,31);
}
#P282_152
{
left:0px;letter-spacing:0px;margin-left:1266.4px;
}
#P282_153
{
left:15201.7px;bottom:15180.6px;color:rgb(35,31,31);
}
#P282_154
{
left:15633.2px;bottom:15210.2px;color:rgb(35,31,31);
}
#P282_155
{
left:19597px;bottom:15237px;color:rgb(35,31,31);
}
#P282_156
{
left:20861.4px;bottom:15180.6px;color:rgb(35,31,31);
}
#P282_157
{
left:21293px;bottom:15210.2px;color:rgb(35,31,31);
}
#P282_158
{
left:0px;letter-spacing:0px;margin-left:1266.4px;
}
#P282_159
{
left:27277px;bottom:15237px;color:rgb(35,31,31);
}
#P282_160
{
left:28541.4px;bottom:15180.6px;color:rgb(35,31,31);
}
#P282_161
{
left:28973px;bottom:15210.2px;color:rgb(35,31,31);
}
#P282_162
{
left:0px;letter-spacing:0px;margin-left:1266.4px;
}
#P282_163
{
left:31087.6px;bottom:15180.6px;color:rgb(35,31,31);
}
#P282_164
{
left:31519.2px;bottom:15210.2px;color:rgb(35,31,31);
}
#P282_165
{
left:27350px;bottom:18858.9px;color:rgb(33,31,31);
}
#P282_166
{
left:27776.5px;bottom:18972.6px;color:rgb(35,31,31);
}
#P282_167
{
left:27350px;bottom:20011.9px;color:rgb(33,31,31);
}
#P282_168
{
left:27776.5px;bottom:20125.6px;color:rgb(35,31,31);
}
#P282_169
{
left:27350px;bottom:21165px;color:rgb(33,31,31);
}
#P282_170
{
left:27776.5px;bottom:21278.6px;color:rgb(35,31,31);
}
#P282_171
{
left:27350px;bottom:22318px;color:rgb(33,31,31);
}
#P282_172
{
left:27776.5px;bottom:22431.7px;color:rgb(35,31,31);
}
#P282_173
{
left:27350px;bottom:23471px;color:rgb(33,31,31);
}
#P282_174
{
left:27776.5px;bottom:23584.7px;color:rgb(35,31,31);
}
#P282_175
{
left:27350px;bottom:24624px;color:rgb(33,31,31);
}
#P282_176
{
left:27776.5px;bottom:24737.7px;color:rgb(35,31,31);
}
#P282_177
{
left:27776.5px;bottom:25899.9px;color:rgb(35,31,31);
}
#P282_178
{
left:29179.6px;bottom:18442.3px;color:rgb(0,124,196);
}
#P282_179
{
left:30909.3px;bottom:18453.1px;color:rgb(0,124,196);
}
#P282_180
{
left:31469.1px;bottom:18442.3px;color:rgb(0,124,196);
}
#P282_181
{
left:29213.1px;bottom:23732.9px;color:rgb(0,124,196);
}
#P282_182
{
left:30942.9px;bottom:23743.7px;color:rgb(0,124,196);
}
#P282_183
{
left:31502.7px;bottom:23732.9px;color:rgb(0,124,196);
}
#P282_184
{
left:26785.2px;bottom:46188.3px;word-spacing:0.2px;color:rgb(33,31,31);
}
#P282_185
{
left:0px;letter-spacing:0px;margin-left:-44.8px;
}
#P282_186
{
left:0px;letter-spacing:0px;margin-left:0.2px;
}
#PageContainer282
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg282.jpg");background-repeat:no-repeat;background-size: 945px 1240px; background-position: 0px 35.3499999999999px;
}
#ImageContainer282 {bottom:88.65px;left:0.00px;width:944.86px;height:1240.33px;position:absolute;} #TextContainer282 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.example1{position: absolute;top: 219px;left: 108px;}
.example2{position: absolute;top: 568px;left: 108px;}
.example3{position: absolute;top: 1001px;left: 108px;}
.nyr{position: absolute;top: 881px;left: 125px;}
.nyr_exr{position: absolute;top: 918px;left: 153px;color: rgb(35,31,31);font-size: 16px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}