.tr625{ color:transparent;}
#P625_1
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P625_2
{
left:24582.7px;bottom:1410.03px;color:rgb(35,31,31);
}
#P625_3
{
left:29491.4px;bottom:1410.03px;letter-spacing:0.2px;word-spacing:462.1px;color:rgb(35,31,31);
}
#P625_4
{
left:0px;letter-spacing:0px;margin-left:-462.3px;
}
#P625_5
{
left:0px;letter-spacing:2.3px;
}
#P625_6
{
left:0px;letter-spacing:0px;margin-left:-464.4px;
}
#P625_7
{
left:0px;letter-spacing:2.2px;
}
#P625_8
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P625_9
{
left:10477.4px;bottom:18078.3px;color:rgb(35,31,31);
}
#P625_10
{
left:10935.8px;bottom:18105.1px;word-spacing:394.4px;color:rgb(35,31,31);
}
#P625_11
{
left:12077.4px;bottom:18098px;word-spacing:-26px;color:rgb(2,77,161);
}
#P625_12
{
left:0px;letter-spacing:0px;margin-left:-26px;
}
#P625_13
{
left:0px;letter-spacing:0px;margin-left:26px;
}
#P625_14
{
left:18885.3px;bottom:18078.3px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P625_15
{
left:0px;letter-spacing:-10.5px;margin-left:-214.6px;
}
#P625_16
{
left:0px;letter-spacing:-0.2px;margin-left:10.5px;
}
#P625_17
{
left:0px;letter-spacing:0px;margin-left:-13.7px;
}
#P625_18
{
left:12077.4px;bottom:17182.3px;letter-spacing:-1.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P625_19
{
left:10477.4px;bottom:15838.3px;color:rgb(35,31,31);
}
#P625_20
{
left:10935.8px;bottom:15865.1px;word-spacing:394.4px;color:rgb(35,31,31);
}
#P625_21
{
left:12077.4px;bottom:15838.3px;letter-spacing:-70.3px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P625_22
{
left:0px;letter-spacing:-0.2px;margin-left:228.6px;
}
#P625_23
{
left:0px;letter-spacing:-0.1px;margin-left:158.5px;
}
#P625_24
{
left:12077.4px;bottom:14942.3px;letter-spacing:-1.6px;color:rgb(35,31,31);
}
#P625_25
{
left:0px;letter-spacing:-5.6px;margin-left:1.6px;
}
#P625_26
{
left:0px;letter-spacing:0px;margin-left:5.6px;
}
#P625_27
{
left:10477.4px;bottom:13598.3px;color:rgb(35,31,31);
}
#P625_28
{
left:11309.4px;bottom:13625.1px;color:rgb(35,31,31);
}
#P625_29
{
left:12077.4px;bottom:13598.3px;letter-spacing:-2.1px;color:rgb(35,31,31);
}
#P625_30
{
left:14723.1px;bottom:13598.3px;color:rgb(35,31,31);
}
#P625_31
{
left:0px;letter-spacing:0px;margin-left:193.6px;
}
#P625_32
{
left:0px;letter-spacing:0px;margin-left:-4.2px;
}
#P625_33
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P625_34
{
left:0px;letter-spacing:0px;margin-left:76.7px;
}
#P625_35
{
left:10477.4px;bottom:12254.3px;color:rgb(35,31,31);
}
#P625_36
{
left:12078.6px;bottom:12254.3px;color:rgb(35,31,31);
}
#P625_37
{
left: 13181.6px;bottom:12254.3px;letter-spacing:348.5px;color:rgb(35,31,31);
}
#P625_38
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P625_39
{
left:0px;letter-spacing:-0.9px;margin-left:-4.2px;
}
#P625_40
{
left:0px;letter-spacing:0px;margin-left:0.9px;
}
#P625_41
{
left:13165.5px;bottom:11358.3px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P625_42
{
left:10477.4px;bottom:10270.3px;color:rgb(35,31,31);
}
#P625_43
{
left:12042.3px;bottom:10270.3px;letter-spacing:-6.9px;color:rgb(35,31,31);
}
#P625_44
{
left: 13090.6px;bottom:10270.3px;letter-spacing:348.5px;color:rgb(35,31,31);
}
#P625_45
{
left:0px;letter-spacing:0px;
margin-left: 0;
}
#P625_46
{
left:0px;letter-spacing:0.3px;
}
#P625_47
{
left:13165.5px;bottom:9374.25px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P625_48
{
left:0px;letter-spacing:0px;margin-left:-41.8px;
}
#P625_49
{
left:10477.4px;bottom:8286.19px;color:rgb(35,31,31);
}
#P625_50
{
left:12113.7px;bottom:8286.19px;color:rgb(35,31,31);
}
#P625_51
{
left: 12905.6px;bottom:8286.19px;color:rgb(35,31,31);
}
#P625_52
{
left:0px;letter-spacing:0px;margin-left:348.5px;
}
#P625_53
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P625_54
{
left:0px;letter-spacing:0px;margin-left:-63.2px;
}
#P625_55
{
left:0px;letter-spacing:0px;margin-left:5.5px;
}
#P625_56
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P625_57
{
left:13165.5px;bottom:7390.25px;letter-spacing:0.5px;color:rgb(35,31,31);
}
#P625_58
{
left:10477.4px;bottom:6302.19px;color:rgb(35,31,31);
}
#P625_59
{
left:12035.5px;bottom:6302.19px;color:rgb(35,31,31);
}
#P625_60
{
left: 13098.6px;bottom:6302.19px;letter-spacing:348.5px;color:rgb(35,31,31);
}
#P625_61
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P625_62
{
left:0px;letter-spacing:0.2px;
}
#P625_63
{
left:11555.5px;bottom:25389.3px;letter-spacing:-21.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P625_64
{
left:0px;letter-spacing:0.3px;margin-left:14.1px;
}
#P625_65
{
left:0px;letter-spacing:-14px;margin-left:-42.5px;
}
#P625_66
{
left:0px;letter-spacing:-0.5px;margin-left:13.9px;
}
#P625_67
{
left:0px;letter-spacing:-0.1px;margin-left:0.4px;
}
#P625_68
{
left:0px;letter-spacing:-28px;margin-left:-50.5px;
}
#P625_69
{
left:11555.5px;bottom:24493.3px;color:rgb(35,31,31);
}
#P625_70
{
left:0px;letter-spacing:0px;margin-left:-224.9px;
}
#P625_71
{
left:0px;letter-spacing:0px;margin-left:77.1px;
}
#P625_72
{
left:0px;letter-spacing:0px;margin-left:-4.2px;
}
#P625_73
{
left:11555.5px;bottom:22829.4px;color:rgb(35,31,31);
}
#P625_74
{
left:12132.5px;bottom:22829.4px;color:rgb(35,31,31);
}
#P625_75
{
left:12712.6px;bottom:22849.1px;color:rgb(35,31,31);
}
#P625_76
{
left:13155.5px;bottom:22829.4px;color:rgb(35,31,31);
}
#P625_77
{
left:15149.2px;bottom:22799.9px;color:rgb(35,31,31);
}
#P625_78
{
left:15735.6px;bottom:22829.4px;color:rgb(35,31,31);
}
#P625_79
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P625_80
{
left:15915.2px;bottom:23269px;color:rgb(35,31,31);
}
#P625_81
{
left:17498.5px;bottom:22846.9px;color:rgb(35,31,31);
}
#P625_82
{
left:15894px;bottom:22813.3px;color:rgb(35,31,31);
}
#P625_83
{
left:17519.6px;bottom:22830.6px;color:rgb(35,31,31);
}
#P625_84
{
left:16288px;bottom:22361.5px;color:rgb(35,31,31);
}
#P625_85
{
left:17125.6px;bottom:22846.9px;color:rgb(35,31,31);
}
#P625_86
{
left:17519.6px;bottom:22829.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P625_87
{
left:22080.3px;bottom:22829.3px;letter-spacing:-6.9px;color:rgb(35,31,31);
}
#P625_88
{
left:22696.6px;bottom:22849px;letter-spacing:247.2px;color:rgb(35,31,31);
}
#P625_89
{
left:0px;letter-spacing:0px;margin-left:-442.9px;
}
#P625_90
{
left:23160.6px;bottom:23271.1px;color:rgb(35,31,31);
}
#P625_91
{
left:23496.4px;bottom:22846.9px;color:rgb(35,31,31);
}
#P625_92
{
left:23139.5px;bottom:22815.4px;color:rgb(35,31,31);
}
#P625_93
{
left:23517.5px;bottom:22830.6px;color:rgb(35,31,31);
}
#P625_94
{
left:23160.6px;bottom:22363.6px;color:rgb(35,31,31);
}
#P625_95
{
left:23496.4px;bottom:22846.9px;color:rgb(35,31,31);
}
#P625_96
{
left:23675.9px;bottom:22829.3px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P625_97
{
left:24451.7px;bottom:22799.7px;color:rgb(35,31,31);
}
#P625_98
{
left:25038.2px;bottom:22829.3px;color:rgb(35,31,31);
}
#P625_99
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P625_100
{
left:25401.1px;bottom:23269px;color:rgb(35,31,31);
}
#P625_101
{
left:26072.7px;bottom:22846.9px;color:rgb(35,31,31);
}
#P625_102
{
left:25196.6px;bottom:22813.3px;color:rgb(35,31,31);
}
#P625_103
{
left:26277.3px;bottom:22830.6px;color:rgb(35,31,31);
}
#P625_104
{
left:25217.7px;bottom:22009.5px;letter-spacing:-142.6px;color:rgb(35,31,31);
}
#P625_105
{
left:25236.7px;bottom:22405.2px;color:rgb(35,31,31);
}
#P625_106
{
left:25538.9px;bottom:22025.3px;color:rgb(35,31,31);
}
#P625_107
{
left:25217.7px;bottom:21995px;color:rgb(35,31,31);
}
#P625_108
{
left:25557.9px;bottom:22010.6px;color:rgb(35,31,31);
}
#P625_109
{
left:25236.7px;bottom:21588.4px;color:rgb(35,31,31);
}
#P625_110
{
left:25538.9px;bottom:22025.3px;color:rgb(35,31,31);
}
#P625_111
{
left:25700.4px;bottom:22009.5px;word-spacing:-142.6px;color:rgb(35,31,31);
}
#P625_112
{
left:26256.2px;bottom:22846.9px;color:rgb(35,31,31);
}
#P625_113
{
left:26277.3px;bottom:22829.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P625_114
{
left:30919.7px;bottom:22829.3px;color:rgb(35,31,31);
}
#P625_115
{
left:31464.6px;bottom:22849px;letter-spacing:375.2px;color:rgb(35,31,31);
}
#P625_116
{
left:0px;letter-spacing:0px;margin-left:-570.9px;
}
#P625_117
{
left:32056.6px;bottom:23271.1px;color:rgb(35,31,31);
}
#P625_118
{
left:32392.4px;bottom:22846.9px;color:rgb(35,31,31);
}
#P625_119
{
left:32035.5px;bottom:22815.4px;color:rgb(35,31,31);
}
#P625_120
{
left:32413.5px;bottom:22830.6px;color:rgb(35,31,31);
}
#P625_121
{
left:32056.6px;bottom:22363.6px;color:rgb(35,31,31);
}
#P625_122
{
left:32392.4px;bottom:22846.9px;color:rgb(35,31,31);
}
#P625_123
{
left:32571.9px;bottom:22829.3px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P625_124
{
left:33748.3px;bottom:22799.7px;color:rgb(35,31,31);
}
#P625_125
{
left:34334.7px;bottom:22829.3px;color:rgb(35,31,31);
}
#P625_126
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P625_127
{
left:34514.3px;bottom:23269px;color:rgb(35,31,31);
}
#P625_128
{
left:35748.4px;bottom:23578.3px;color:rgb(35,31,31);
}
#P625_129
{
left:35992.6px;bottom:22846.9px;color:rgb(35,31,31);
}
#P625_130
{
left:34493.1px;bottom:22813.3px;color:rgb(35,31,31);
}
#P625_131
{
left:36013.7px;bottom:22830.6px;color:rgb(35,31,31);
}
#P625_132
{
left:34795.4px;bottom:22361.5px;color:rgb(35,31,31);
}
#P625_133
{
left:35711.5px;bottom:22846.9px;color:rgb(35,31,31);
}
#P625_134
{
left:36013.7px;bottom:22829.3px;color:rgb(35,31,31);
}
#P625_135
{
left:12433.7px;bottom:26949.5px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P625_136
{
left:15858.8px;bottom:27141.3px;color:rgb(255,223,126);
}
#P625_137
{
left:16483.5px;bottom:26949.5px;word-spacing:207.4px;color:white;
}
#P625_138
{
left:17508.2px;bottom:27141.3px;color:white;
}
#P625_139
{
left:17748.4px;bottom:26949.5px;word-spacing:-31.9px;color:white;
}
#P625_140
{
left:20838.2px;bottom:27141.3px;color:white;
}
#P625_141
{
left:21078.4px;bottom:26949.5px;color:white;
}
#P625_142
{
left:10693.3px;bottom:26826px;
}
#P625_143
{
left:10693.3px;bottom:26826px;color:white;
}
#P625_144
{
left:14845.4px;bottom:4204.72px;letter-spacing:228.8px;color:rgb(0,124,196);
}
#P625_145
{
left:15261.4px;bottom:4236.72px;letter-spacing:-9.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P625_146
{
left:0px;letter-spacing:-1.9px;margin-left:9.3px;
}
#P625_147
{
left:0px;letter-spacing:-1.8px;margin-left:1.8px;
}
#P625_148
{
left:0px;letter-spacing:-0.3px;margin-left:1.7px;
}
#P625_149
{
left:15261.4px;bottom:3340.74px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P625_150
{
left:0px;letter-spacing:0px;margin-left:0.8px;
}
#P625_151
{
left:28817.9px;bottom:8197.55px;letter-spacing:-20px;word-spacing:0.1px;color:rgb(33,31,31);
}
#P625_152
{
left:0px;letter-spacing:-10.8px;margin-left:8.7px;
}
#P625_153
{
left:28615.2px;bottom:7557.48px;letter-spacing:-14.7px;color:rgb(33,31,31);
}
#P625_154
{
left:0px;letter-spacing:-12.6px;margin-left:3.5px;
}
#P625_155
{
left:0px;letter-spacing:-13px;margin-left:1.4px;
}
#P625_156
{
left:29016.2px;bottom:6917.42px;letter-spacing:-12.7px;color:rgb(33,31,31);
}
#P625_157
{
left:0px;letter-spacing:-11.2px;margin-left:1.5px;
}
#P625_158
{
left:29805.8px;bottom:6277.23px;letter-spacing:-11.3px;word-spacing:0.1px;color:rgb(33,31,31);
}
#P625_159
{
left:0px;letter-spacing:0px;margin-left:-40.8px;
}
#P625_160
{
left:0px;letter-spacing:0px;margin-left:-61.6px;
}
#P625_161
{
left:12433.7px;bottom:44853px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P625_162
{
left:15858.8px;bottom:45044.8px;color:rgb(255,223,126);
}
#P625_163
{
left:16483.5px;bottom:44853px;word-spacing:207.4px;color:white;
}
#P625_164
{
left:17395.9px;bottom:45044.8px;color:white;
}
#P625_165
{
left:17636.1px;bottom:44853px;color:white;
}
#P625_166
{
left:20149.5px;bottom:45044.8px;color:white;
}
#P625_167
{
left:20389.7px;bottom:44853px;letter-spacing:-24.1px;color:white;
}
#P625_168
{
left:0px;letter-spacing:0px;margin-left:24.1px;
}
#P625_169
{
left:25198.9px;bottom:45044.8px;color:white;
}
#P625_170
{
left:25439.1px;bottom:44853px;color:white;
}
#P625_171
{
left:28064.7px;bottom:45044.8px;color:white;
}
#P625_172
{
left:28304.9px;bottom:44853px;color:white;
}
#P625_173
{
left:10693.3px;bottom:44729.5px;
}
#P625_174
{
left:10693.3px;bottom:44729.5px;color:white;
}
#P625_175
{
left:11555.5px;bottom:43292.8px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P625_176
{
left:0px;letter-spacing:0.4px;margin-left:14.1px;
}
#P625_177
{
left:0px;letter-spacing:-14px;margin-left:-42.5px;
}
#P625_178
{
left:0px;letter-spacing:0px;margin-left:14px;
}
#P625_179
{
left:11555.5px;bottom:42396.8px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P625_180
{
left:0px;letter-spacing:1px;margin-left:0.7px;
}
#P625_181
{
left:11555.5px;bottom:41116.8px;color:rgb(35,31,31);
}
#P625_182
{
left:11683.5px;bottom:41116.8px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P625_183
{
left:12899.5px;bottom:41116.8px;letter-spacing:-4.2px;color:rgb(35,31,31);
}
#P625_184
{
left:0px;letter-spacing:-0.4px;margin-left:4.2px;
}
#P625_185
{
left:11555.5px;bottom:40028.8px;color:rgb(35,31,31);
}
#P625_186
{
left:11683.5px;bottom:40028.8px;letter-spacing:-13.9px;word-spacing:486.9px;color:rgb(35,31,31);
}
#P625_187
{
left:12899.5px;bottom:40028.8px;letter-spacing:-1.1px;color:rgb(35,31,31);
}
#P625_188
{
left:0px;letter-spacing:0px;margin-left:1.1px;
}
#P625_189
{
left:20316.2px;bottom:40028.8px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P625_190
{
left:23816.6px;bottom:40028.8px;color:rgb(35,31,31);
}
#P625_191
{
left:25211.2px;bottom:40028.8px;word-spacing:56.3px;color:rgb(35,31,31);
}
#P625_192
{
left:0px;letter-spacing:0px;margin-left:-56.3px;
}
#P625_193
{
left:12899.5px;bottom:39132.8px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P625_194
{
left:0px;letter-spacing:-2.1px;margin-left:0.8px;
}
#P625_195
{
left:0px;letter-spacing:-0.9px;margin-left:2.1px;
}
#P625_196
{
left:12899.5px;bottom:38236.8px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P625_197
{
left:0px;letter-spacing:-56.2px;margin-left:-20.6px;
}
#P625_198
{
left:11555.5px;bottom:34716.8px;color:rgb(35,31,31);
}
#P625_199
{
left:11683.5px;bottom:34716.8px;color:rgb(35,31,31);
}
#P625_200
{
left:13299.5px;bottom:36711px;color:rgb(35,31,31);
}
#P625_201
{
left:19567.4px;bottom:36692.2px;color:rgb(35,31,31);
}
#P625_202
{
left:0px;letter-spacing:0px;margin-left:1691.8px;
}
#P625_203
{
left:0px;letter-spacing:0px;margin-left:1513.8px;
}
#P625_204
{
left:0px;letter-spacing:0px;margin-left:1335.7px;
}
#P625_205
{
left:0px;letter-spacing:0px;margin-left:1335.6px;
}
#P625_206
{
left:13299.5px;bottom:35367px;color:rgb(35,31,31);
}
#P625_207
{
left:11555.5px;bottom:33628.8px;color:rgb(35,31,31);
}
#P625_208
{
left:11683.5px;bottom:33628.8px;letter-spacing:-14px;word-spacing:551.3px;color:rgb(35,31,31);
}
#P625_209
{
left:12899.5px;bottom:33628.8px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P625_210
{
left:0px;letter-spacing:-0.4px;margin-left:14px;
}
#P625_211
{
left:0px;letter-spacing:0px;margin-left:-214.5px;
}
#P625_212
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P625_213
{
left:0px;letter-spacing:0px;
}
#P625_214
{
left:12899.5px;bottom:32732.8px;color:rgb(35,31,31);
}
#P625_215
{
left:11555.5px;bottom:31644.8px;color:rgb(35,31,31);
}
#P625_216
{
left:11683.5px;bottom:31644.8px;letter-spacing:-14px;word-spacing:473.2px;color:rgb(35,31,31);
}
#P625_217
{
left:12899.5px;bottom:31644.8px;letter-spacing:-14px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P625_218
{
left:0px;letter-spacing:-0.4px;margin-left:13.8px;
}
#P625_219
{
left:0px;letter-spacing:-0.1px;margin-left:-3.8px;
}
#P625_220
{
left:12899.5px;bottom:30748.8px;letter-spacing:-1.8px;color:rgb(35,31,31);
}
#P625_221
{
left:0px;letter-spacing:-1px;margin-left:1.8px;
}
#P625_222
{
left:0px;letter-spacing:-0.2px;margin-left:1px;
}
#P625_223
{
left:11555.5px;bottom:29404.8px;color:rgb(35,31,31);
}
#P625_224
{
left:11683.5px;bottom:29404.8px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P625_225
{
left:12899.5px;bottom:29404.8px;letter-spacing:-14px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P625_226
{
left:0px;letter-spacing:-0.3px;margin-left:13.9px;
}
#P625_227
{
left:23798.4px;bottom:29844.5px;color:rgb(35,31,31);
}
#P625_228
{
left:24134.2px;bottom:29422.4px;color:rgb(35,31,31);
}
#P625_229
{
left:23777.3px;bottom:29388.8px;color:rgb(35,31,31);
}
#P625_230
{
left:24155.4px;bottom:29406px;color:rgb(35,31,31);
}
#P625_231
{
left:23798.4px;bottom:28936.9px;color:rgb(35,31,31);
}
#P625_232
{
left:24134.2px;bottom:29422.4px;color:rgb(35,31,31);
}
#P625_233
{
left:24155.4px;bottom:29404.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P625_234
{
left:0px;letter-spacing:-0.9px;margin-left:158.4px;
}
#P625_235
{
left:4685.34px;bottom:24528.7px;letter-spacing:-1.7px;color:rgb(35,31,31);
}
#P625_236
{
left:4685.34px;bottom:23760.7px;color:rgb(35,31,31);
}
#P625_237
{
left:4685.34px;bottom:22893.9px;color:rgb(35,31,31);
}
#P625_238
{
left:4685.34px;bottom:22157.9px;color:rgb(35,31,31);
}
#P625_239
{
left:4685.34px;bottom:21422px;color:rgb(35,31,31);
}
#P625_240
{
left:4685.34px;bottom:20686.1px;color:rgb(35,31,31);
}
#P625_241
{
left:4434.71px;bottom:26312.6px;letter-spacing:-20.4px;color:white;
}
#P625_242
{
left:4434.71px;bottom:25352.6px;letter-spacing:-27.2px;color:white;
}
#P625_243
{
left:6413.79px;bottom:25609.3px;color:white;
}
#P625_244
{
left:6689.05px;bottom:25352.6px;letter-spacing:-27.2px;color:white;
}
#PageContainer625
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg625.jpg");background-repeat:no-repeat;background-size: 1021px 1279px; background-position: 0px -0.190000000000055px;
}
#ImageContainer625 {bottom:85.19px;left:0.00px;width:1020.57px;height:1278.97px;position:absolute;} #TextContainer625 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}
.practice{position:absolute;top: 1221px;left: 256px;}
#middle-toolbar img{vertical-align: middle;}