.tr201{ color:transparent;}
#P201_1
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P201_2
{
left:19919.2px;bottom:1410.03px;color:rgb(35,31,31);
}
#P201_3
{
left:23191.4px;bottom:1410.03px;letter-spacing:462.1px;color:rgb(35,31,31);
}
#P201_4
{
left:0px;letter-spacing:0.9px;margin-left:-462.1px;
}
#P201_5
{
left:0px;letter-spacing:0.9px;margin-left:-0.9px;
}
#P201_6
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P201_7
{
left:11555.5px;bottom:43330.7px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P201_8
{
left:0px;letter-spacing:0.4px;margin-left:14.1px;
}
#P201_9
{
left:0px;letter-spacing:0px;margin-left:-42.5px;
}
#P201_10
{
left:11555.5px;bottom:42242.6px;color:rgb(35,31,31);
}
#P201_11
{
left:11683.5px;bottom:42242.6px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P201_12
{
left:12899.5px;bottom:42242.6px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P201_13
{
left:0px;letter-spacing:0px;margin-left:0.3px;
}
#P201_14
{
left:11555.5px;bottom:41154.6px;color:rgb(35,31,31);
}
#P201_15
{
left:11683.5px;bottom:41154.6px;letter-spacing:-13.9px;word-spacing:486.9px;color:rgb(35,31,31);
}
#P201_16
{
left:12899.5px;bottom:41174.4px;color:rgb(2,77,161);
}
#P201_17
{
left:16472.9px;bottom:41154.7px;letter-spacing:151.5px;color:rgb(35,31,31);
}
#P201_18
{
left:0px;letter-spacing:-0.9px;margin-left:-151.5px;
}
#P201_19
{
left:0px;letter-spacing:-0.1px;margin-left:0.9px;
}
#P201_20
{
left:12899.5px;bottom:40258.7px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P201_21
{
left:0px;letter-spacing:0px;margin-left:-4px;
}
#P201_22
{
left:11555.5px;bottom:39170.7px;color:rgb(35,31,31);
}
#P201_23
{
left:11683.5px;bottom:39170.7px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P201_24
{
left:12899.5px;bottom:39170.7px;letter-spacing:-0.2px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P201_25
{
left:11555.5px;bottom:38082.6px;color:rgb(35,31,31);
}
#P201_26
{
left:11683.5px;bottom:38082.6px;letter-spacing:-14px;word-spacing:473.2px;color:rgb(35,31,31);
}
#P201_27
{
left:12899.5px;bottom:38102.4px;color:rgb(2,77,161);
}
#P201_28
{
left:16472.9px;bottom:38082.7px;letter-spacing:151.5px;color:rgb(35,31,31);
}
#P201_29
{
left:0px;letter-spacing:-0.9px;margin-left:-151.5px;
}
#P201_30
{
left:0px;letter-spacing:-0.1px;margin-left:0.9px;
}
#P201_31
{
left:12899.5px;bottom:37186.7px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P201_32
{
left:0px;letter-spacing:0px;margin-left:-4px;
}
#P201_33
{
left:11555.5px;bottom:36098.7px;color:rgb(35,31,31);
}
#P201_34
{
left:11683.5px;bottom:36098.7px;letter-spacing:-14px;word-spacing:533.7px;color:rgb(35,31,31);
}
#P201_35
{
left:12899.5px;bottom:36098.7px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P201_36
{
left:0px;letter-spacing:-0.6px;margin-left:0.8px;
}
#P201_37
{
left:0px;letter-spacing:-8.4px;margin-left:-13.3px;
}
#P201_38
{
left:0px;letter-spacing:0px;margin-left:8.4px;
}
#P201_39
{
left:12899.5px;bottom:35202.7px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P201_40
{
left:0px;letter-spacing:-0.9px;margin-left:0.7px;
}
#P201_41
{
left:0px;letter-spacing:0px;margin-left:0.9px;
}
#P201_42
{
left:12899.5px;bottom:34306.7px;letter-spacing:-4.3px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P201_43
{
left:0px;letter-spacing:-0.4px;margin-left:4.2px;
}
#P201_44
{
left:0px;letter-spacing:-0.1px;margin-left:-20.6px;
}
#P201_45
{
left:0px;letter-spacing:-0.1px;margin-left:158.4px;
}
#P201_46
{
left:25658.3px;bottom:34306.7px;letter-spacing:28.2px;color:rgb(35,31,31);
}
#P201_47
{
left:0px;letter-spacing:0px;margin-left:-28.2px;
}
#P201_48
{
left:12899.5px;bottom:33410.8px;letter-spacing:-2.5px;color:rgb(35,31,31);
}
#P201_49
{
left:0px;letter-spacing:-0.8px;margin-left:2.5px;
}
#P201_50
{
left:11555.5px;bottom:32322.7px;color:rgb(35,31,31);
}
#P201_51
{
left:14883.5px;bottom:32322.7px;color:rgb(35,31,31);
}
#P201_52
{
left:15258.7px;bottom:32322.7px;color:rgb(35,31,31);
}
#P201_53
{
left:18384.4px;bottom:32322.7px;color:rgb(35,31,31);
}
#P201_54
{
left:18840.4px;bottom:32322.7px;color:rgb(35,31,31);
}
#P201_55
{
left:23011.5px;bottom:32322.7px;color:rgb(35,31,31);
}
#P201_56
{
left:23599.7px;bottom:32322.7px;color:rgb(35,31,31);
}
#P201_57
{
left:26725.4px;bottom:32322.7px;color:rgb(35,31,31);
}
#P201_58
{
left:27203.2px;bottom:32322.7px;color:rgb(35,31,31);
}
#P201_59
{
left:11555.4px;bottom:31042.7px;color:rgb(35,31,31);
}
#P201_60
{
left:14883.4px;bottom:31042.7px;color:rgb(35,31,31);
}
#P201_61
{
left:15578.7px;bottom:31042.7px;color:rgb(35,31,31);
}
#P201_62
{
left:18704.4px;bottom:31042.7px;color:rgb(35,31,31);
}
#P201_63
{
left:19178.5px;bottom:31042.7px;color:rgb(35,31,31);
}
#P201_64
{
left:23011.4px;bottom:31042.7px;color:rgb(35,31,31);
}
#P201_65
{
left:23456.6px;bottom:31042.7px;color:rgb(35,31,31);
}
#P201_66
{
left:26582.4px;bottom:31042.7px;color:rgb(35,31,31);
}
#P201_67
{
left:27049.6px;bottom:31042.7px;color:rgb(35,31,31);
}
#P201_68
{
left:11555.2px;bottom:29762.7px;color:rgb(35,31,31);
}
#P201_69
{
left:11683.1px;bottom:29762.7px;letter-spacing:-17.4px;color:rgb(35,31,31);
}
#P201_70
{
left:12899.2px;bottom:29762.7px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P201_71
{
left:0px;letter-spacing:-0.4px;margin-left:0.6px;
}
#P201_72
{
left:12433.7px;bottom:44890.9px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P201_73
{
left:15858.8px;bottom:45082.7px;color:rgb(255,223,126);
}
#P201_74
{
left:16051.5px;bottom:44890.9px;letter-spacing:207.4px;color:white;
}
#P201_75
{
left:16899.1px;bottom:45082.7px;color:white;
}
#P201_76
{
left:17139.3px;bottom:44890.9px;color:white;
}
#P201_77
{
left:18115.6px;bottom:45082.7px;color:white;
}
#P201_78
{
left:18355.8px;bottom:44890.9px;color:white;
}
#P201_79
{
left:20133.1px;bottom:45082.7px;color:white;
}
#P201_80
{
left:20373.3px;bottom:44890.9px;color:white;
}
#P201_81
{
left:23462px;bottom:45082.7px;color:white;
}
#P201_82
{
left:23702.2px;bottom:44890.9px;letter-spacing:-1.1px;color:white;
}
#P201_83
{
left:27407.3px;bottom:45082.7px;color:white;
}
#P201_84
{
left:27647.4px;bottom:44890.9px;color:white;
}
#P201_85
{
left:10693.3px;bottom:44767.3px;
}
#P201_86
{
left:10693.3px;bottom:44767.3px;color:white;
}
#P201_87
{
left:14845.4px;bottom:4204.65px;letter-spacing:228.8px;color:rgb(0,124,196);
}
#P201_88
{
left:15261.4px;bottom:4236.65px;letter-spacing:-9.3px;color:rgb(35,31,31);
}
#P201_89
{
left:0px;letter-spacing:0.1px;margin-left:9.3px;
}
#P201_90
{
left:0px;letter-spacing:0px;margin-left:-214.9px;
}
#P201_91
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P201_92
{
left:0px;letter-spacing:0px;
}
#P201_93
{
left:15261.4px;bottom:3340.67px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P201_94
{
left:0px;letter-spacing:0px;margin-left:0.7px;
}
#P201_95
{
left:10477px;bottom:24765.7px;color:rgb(35,31,31);
}
#P201_96
{
left:10929px;bottom:24792.5px;word-spacing:394.4px;color:rgb(35,31,31);
}
#P201_97
{
left:12070.6px;bottom:24785.4px;word-spacing:-26px;color:rgb(2,77,161);
}
#P201_98
{
left:0px;letter-spacing:0px;margin-left:-26px;
}
#P201_99
{
left:0px;letter-spacing:0px;margin-left:26px;
}
#P201_100
{
left:19230.5px;bottom:24765.7px;letter-spacing:-10.5px;color:rgb(35,31,31);
}
#P201_101
{
left:0px;letter-spacing:-0.6px;margin-left:10.5px;
}
#P201_102
{
left:0px;letter-spacing:0px;margin-left:-214.1px;
}
#P201_103
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P201_104
{
left:0px;letter-spacing:0px;
}
#P201_105
{
left:12070.7px;bottom:23869.7px;letter-spacing:-1.2px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P201_106
{
left:0px;letter-spacing:0px;margin-left:1.2px;
}
#P201_107
{
left:10477.1px;bottom:22525.7px;color:rgb(35,31,31);
}
#P201_108
{
left:10929px;bottom:22552.5px;word-spacing:394.4px;color:rgb(35,31,31);
}
#P201_109
{
left:12070.6px;bottom:22525.7px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P201_110
{
left:12070.6px;bottom:21629.7px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P201_111
{
left:10477px;bottom:20285.7px;color:rgb(35,31,31);
}
#P201_112
{
left:10929px;bottom:20312.5px;word-spacing:394.4px;color:rgb(35,31,31);
}
#P201_113
{
left:12070.6px;bottom:20285.7px;letter-spacing:-9.3px;color:rgb(35,31,31);
}
#P201_114
{
left:0px;letter-spacing:-0.3px;margin-left:9.3px;
}
#P201_115
{
left:0px;letter-spacing:-3.5px;margin-left:-13.7px;
}
#P201_116
{
left:0px;letter-spacing:0px;margin-left:3.5px;
}
#P201_117
{
left:0px;letter-spacing:0px;margin-left:-215px;
}
#P201_118
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P201_119
{
left:0px;letter-spacing:-1.2px;
}
#P201_120
{
left:0px;letter-spacing:-14px;margin-left:1.2px;
}
#P201_121
{
left:34198.5px;bottom:20285.7px;word-spacing:56.3px;color:rgb(35,31,31);
}
#P201_122
{
left:12070.7px;bottom:19389.7px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P201_123
{
left:0px;letter-spacing:0px;margin-left:-41.6px;
}
#P201_124
{
left:0px;letter-spacing:-0.7px;
}
#P201_125
{
left:0px;letter-spacing:-1.4px;margin-left:0.7px;
}
#P201_126
{
left:0px;letter-spacing:0px;margin-left:-12.6px;
}
#P201_127
{
left:10477.1px;bottom:18045.7px;color:rgb(35,31,31);
}
#P201_128
{
left:12030.6px;bottom:18045.7px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P201_129
{
left:19485.4px;bottom:18045.7px;color:rgb(35,31,31);
}
#P201_130
{
left:20442.5px;bottom:18045.7px;letter-spacing:-17.5px;color:rgb(35,31,31);
}
#P201_131
{
left:27910.6px;bottom:18045.7px;color:rgb(35,31,31);
}
#P201_132
{
left:29125.7px;bottom:18045.7px;color:rgb(35,31,31);
}
#P201_133
{
left:29670.6px;bottom:18045.7px;color:rgb(35,31,31);
}
#P201_134
{
left:14157.1px;bottom:9157.68px;letter-spacing:-1px;word-spacing:3529.9px;color:rgb(35,31,31);
}
#P201_134a
{
left: 23137.1px;bottom:9157.68px;letter-spacing:-1px;word-spacing:3529.9px;color:rgb(35,31,31);
}
#P201_134b
{
left: 32477.1px;bottom:9157.68px;letter-spacing:-1px;word-spacing:3529.9px;color:rgb(35,31,31);
}
#P201_135
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P201_136
{
left:0px;letter-spacing:2.9px;margin-left:-16px;
}
#P201_137
{
left:0px;letter-spacing:-1.3px;margin-left:-2.9px;
}
#P201_138
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P201_139
{
left:0px;letter-spacing:0px;
}
#P201_140
{
left:4941.34px;bottom:37966.8px;color:rgb(35,31,31);
}
#P201_141
{
left:4941.34px;bottom:37198.8px;color:rgb(35,31,31);
}
#P201_142
{
left:4941.34px;bottom:36332px;color:rgb(35,31,31);
}
#P201_143
{
left:4941.34px;bottom:35596px;color:rgb(35,31,31);
}
#P201_144
{
left:4941.34px;bottom:34860px;color:rgb(35,31,31);
}
#P201_145
{
left:4941.34px;bottom:34124.1px;color:rgb(35,31,31);
}
#P201_146
{
left:4941.34px;bottom:33388.1px;color:rgb(35,31,31);
}
#P201_147
{
left:4941.34px;bottom:32652.1px;color:rgb(35,31,31);
}
#P201_148
{
left:4941.34px;bottom:31916.1px;color:rgb(35,31,31);
}
#P201_149
{
left:4690.71px;bottom:39750.7px;letter-spacing:-20.4px;color:white;
}
#P201_150
{
left:4690.71px;bottom:38790.6px;letter-spacing:-27.2px;color:white;
}
#P201_151
{
left:6669.79px;bottom:39047.4px;color:white;
}
#P201_152
{
left:6945.05px;bottom:38790.6px;letter-spacing:-27.2px;color:white;
}
#PageContainer201
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg201.jpg");background-repeat:no-repeat;background-size: 1021px 1279px; background-position: 0px -0.190000000000055px;
}
#ImageContainer201 {bottom:85.19px;left:0.00px;width:1020.57px;height:1278.97px;position:absolute;} #TextContainer201 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.practice{position: absolute;top: 1215px;left: 255px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}