.tr572{ color:transparent;}
#P572_1
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P572_2
{
left:3540.44px;bottom:1417.71px;color:rgb(35,31,31);
}
#P572_3
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P572_4
{
left:8197.72px;bottom:1417.71px;letter-spacing:462.1px;color:rgb(35,31,31);
}
#P572_5
{
left:0px;letter-spacing:1.5px;margin-left:-461.8px;
}
#P572_6
{
left:0px;letter-spacing:0px;margin-left:11.7px;
}
#P572_7
{
left:6149.91px;bottom:44834.3px;letter-spacing:9.6px;
}
#P572_8
{
left:6149.91px;bottom:44834.3px;letter-spacing:9.6px;color:white;
}
#P572_9
{
left:8722.71px;bottom:44870.1px;color:rgb(2,77,161);
}
#P572_10
{
left:10274.5px;bottom:45061.9px;color:rgb(2,77,161);
}
#P572_11
{
left:10514.6px;bottom:44870.1px;color:rgb(2,77,161);
}
#P572_12
{
left:13028px;bottom:45061.9px;color:rgb(2,77,161);
}
#P572_13
{
left:13268.2px;bottom:44870.1px;letter-spacing:-0.7px;color:rgb(2,77,161);
}
#P572_14
{
left:19470.1px;bottom:44927.5px;color:rgb(2,77,161);
}
#P572_15
{
left:0px;letter-spacing:0px;margin-left:51.2px;
}
#P572_16
{
left:8050.71px;bottom:42947.6px;letter-spacing:-3.9px;color:rgb(35,31,31);
}
#P572_17
{
left:9698.07px;bottom:42918.1px;color:rgb(35,31,31);
}
#P572_18
{
left:10129.6px;bottom:42947.6px;color:rgb(35,31,31);
}
#P572_19
{
left:0px;letter-spacing:0px;margin-left:-147.8px;
}
#P572_20
{
left:10298.6px;bottom:43387.3px;color:rgb(35,31,31);
}
#P572_21
{
left:10653.4px;bottom:42965.2px;color:rgb(35,31,31);
}
#P572_22
{
left:10277.5px;bottom:42931.6px;color:rgb(35,31,31);
}
#P572_23
{
left:10674.5px;bottom:42948.9px;color:rgb(35,31,31);
}
#P572_24
{
left:10298.6px;bottom:42479.8px;color:rgb(35,31,31);
}
#P572_25
{
left:10653.4px;bottom:42965.2px;color:rgb(35,31,31);
}
#P572_26
{
left:10674.5px;bottom:42947.6px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P572_27
{
left:10822.4px;bottom:42918.1px;color:rgb(35,31,31);
}
#P572_28
{
left:11408.8px;bottom:42947.6px;color:rgb(35,31,31);
}
#P572_29
{
left:0px;letter-spacing:0px;margin-left:-147.8px;
}
#P572_30
{
left:11577.8px;bottom:43387.3px;color:rgb(35,31,31);
}
#P572_31
{
left:11932.6px;bottom:42965.2px;color:rgb(35,31,31);
}
#P572_32
{
left:11556.6px;bottom:42931.6px;color:rgb(35,31,31);
}
#P572_33
{
left:11953.7px;bottom:42948.9px;color:rgb(35,31,31);
}
#P572_34
{
left:11577.8px;bottom:42479.8px;color:rgb(35,31,31);
}
#P572_35
{
left:11932.6px;bottom:42965.2px;color:rgb(35,31,31);
}
#P572_36
{
left:11953.7px;bottom:42947.6px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P572_37
{
left:8050.71px;bottom:40643.6px;color:rgb(35,31,31);
}
#P572_38
{
left:9586.71px;bottom:40614.1px;color:rgb(35,31,31);
}
#P572_39
{
left:10018.3px;bottom:40643.6px;color:rgb(35,31,31);
}
#P572_40
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P572_41
{
left:10197.8px;bottom:41083.3px;color:rgb(35,31,31);
}
#P572_42
{
left:10533.6px;bottom:40661.2px;color:rgb(35,31,31);
}
#P572_43
{
left:10176.7px;bottom:40627.6px;color:rgb(35,31,31);
}
#P572_44
{
left:10554.7px;bottom:40644.9px;color:rgb(35,31,31);
}
#P572_45
{
left:10197.8px;bottom:40175.8px;color:rgb(35,31,31);
}
#P572_46
{
left:10533.6px;bottom:40661.2px;color:rgb(35,31,31);
}
#P572_47
{
left:10554.7px;bottom:40643.6px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P572_48
{
left:10713.1px;bottom:40614.1px;color:rgb(35,31,31);
}
#P572_49
{
left:11299.5px;bottom:40643.6px;color:rgb(35,31,31);
}
#P572_50
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P572_51
{
left:11479.1px;bottom:41083.3px;color:rgb(35,31,31);
}
#P572_52
{
left:11814.9px;bottom:40661.2px;color:rgb(35,31,31);
}
#P572_53
{
left:11457.9px;bottom:40627.6px;color:rgb(35,31,31);
}
#P572_54
{
left:11836px;bottom:40644.9px;color:rgb(35,31,31);
}
#P572_55
{
left:11479.1px;bottom:40175.8px;color:rgb(35,31,31);
}
#P572_56
{
left:11814.9px;bottom:40661.2px;color:rgb(35,31,31);
}
#P572_57
{
left:11836px;bottom:40643.6px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P572_58
{
left:11994.4px;bottom:40614.1px;color:rgb(35,31,31);
}
#P572_59
{
left:12580.8px;bottom:40643.6px;color:rgb(35,31,31);
}
#P572_60
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P572_61
{
left:12760.3px;bottom:41056.7px;color:rgb(35,31,31);
}
#P572_62
{
left:13288.1px;bottom:41083.3px;color:rgb(35,31,31);
}
#P572_63
{
left:13959.7px;bottom:40661.2px;color:rgb(35,31,31);
}
#P572_64
{
left:12739.2px;bottom:40627.6px;color:rgb(35,31,31);
}
#P572_65
{
left:13980.8px;bottom:40644.9px;color:rgb(35,31,31);
}
#P572_66
{
left:13192.1px;bottom:40175.8px;color:rgb(35,31,31);
}
#P572_67
{
left:13527.9px;bottom:40661.2px;color:rgb(35,31,31);
}
#P572_68
{
left:13980.8px;bottom:40643.6px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P572_69
{
left:14139.2px;bottom:40614.1px;color:rgb(35,31,31);
}
#P572_70
{
left:14725.7px;bottom:40643.6px;color:rgb(35,31,31);
}
#P572_71
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P572_72
{
left:14905.2px;bottom:41083.3px;color:rgb(35,31,31);
}
#P572_73
{
left:15241px;bottom:40661.2px;color:rgb(35,31,31);
}
#P572_74
{
left:14884.1px;bottom:40627.6px;color:rgb(35,31,31);
}
#P572_75
{
left:15262.1px;bottom:40644.9px;color:rgb(35,31,31);
}
#P572_76
{
left:14905.2px;bottom:40175.8px;color:rgb(35,31,31);
}
#P572_77
{
left:15241px;bottom:40661.2px;color:rgb(35,31,31);
}
#P572_78
{
left:15262.1px;bottom:40643.6px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P572_79
{
left:20210.7px;bottom:40651.6px;color:rgb(0,124,196);
}
#P572_80
{
left:8050.71px;bottom:38723.6px;letter-spacing:161.6px;color:rgb(35,31,31);
}
#P572_81
{
left:11986.7px;bottom:38694.1px;color:rgb(35,31,31);
}
#P572_82
{
left:12573.1px;bottom:38723.6px;color:rgb(35,31,31);
}
#P572_83
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P572_84
{
left:12752.7px;bottom:39136.7px;color:rgb(35,31,31);
}
#P572_85
{
left:13280.5px;bottom:39163.3px;color:rgb(35,31,31);
}
#P572_86
{
left:14094.6px;bottom:39136.7px;color:rgb(35,31,31);
}
#P572_87
{
left:14622.4px;bottom:39163.3px;color:rgb(35,31,31);
}
#P572_88
{
left:15100.8px;bottom:38741.2px;color:rgb(35,31,31);
}
#P572_89
{
left:12731.5px;bottom:38707.6px;color:rgb(35,31,31);
}
#P572_90
{
left:15121.9px;bottom:38724.9px;color:rgb(35,31,31);
}
#P572_91
{
left:13758.8px;bottom:38255.8px;color:rgb(35,31,31);
}
#P572_92
{
left:14094.6px;bottom:38741.2px;color:rgb(35,31,31);
}
#P572_93
{
left:15121.9px;bottom:38723.6px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P572_94
{
left:0px;letter-spacing:0px;margin-left:5088.9px;
}
#P572_95
{
left:20210.7px;bottom:39115.6px;color:rgb(0,124,196);
}
#P572_96
{
left:20210.7px;bottom:38219.6px;color:rgb(0,124,196);
}
#P572_97
{
left:0px;letter-spacing:0px;margin-left:-61px;
}
#P572_98
{
left:8050.71px;bottom:36675.6px;letter-spacing:161.6px;color:rgb(35,31,31);
}
#P572_99
{
left:0px;letter-spacing:0px;margin-left:3137.7px;
}
#P572_100
{
left:11986.7px;bottom:36646.1px;color:rgb(35,31,31);
}
#P572_101
{
left:12573.1px;bottom:36675.6px;color:rgb(35,31,31);
}
#P572_102
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P572_103
{
left:12752.7px;bottom:37088.7px;color:rgb(35,31,31);
}
#P572_104
{
left:13280.5px;bottom:37115.3px;color:rgb(35,31,31);
}
#P572_105
{
left:13616.3px;bottom:36693.2px;color:rgb(35,31,31);
}
#P572_106
{
left:12731.5px;bottom:36659.6px;color:rgb(35,31,31);
}
#P572_107
{
left:13637.4px;bottom:36676.9px;color:rgb(35,31,31);
}
#P572_108
{
left:13016.5px;bottom:36207.8px;color:rgb(35,31,31);
}
#P572_109
{
left:13352.3px;bottom:36693.2px;color:rgb(35,31,31);
}
#P572_110
{
left:13637.4px;bottom:36675.6px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P572_111
{
left:20210.7px;bottom:36683.6px;color:rgb(0,124,196);
}
#P572_112
{
left:8050.71px;bottom:34691.6px;letter-spacing:161.6px;color:rgb(35,31,31);
}
#P572_113
{
left:11986.7px;bottom:34662.1px;color:rgb(35,31,31);
}
#P572_114
{
left:12573.1px;bottom:34691.6px;color:rgb(35,31,31);
}
#P572_115
{
left:12731.5px;bottom:34662.1px;color:rgb(35,31,31);
}
#P572_116
{
left:13318px;bottom:34691.6px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P572_117
{
left:13800.2px;bottom:35131.3px;color:rgb(35,31,31);
}
#P572_118
{
left:14136px;bottom:34709.2px;color:rgb(35,31,31);
}
#P572_119
{
left:13779.1px;bottom:34675.6px;color:rgb(35,31,31);
}
#P572_120
{
left:14157.1px;bottom:34692.9px;color:rgb(35,31,31);
}
#P572_121
{
left:13800.2px;bottom:34223.8px;color:rgb(35,31,31);
}
#P572_122
{
left:14136px;bottom:34709.2px;color:rgb(35,31,31);
}
#P572_123
{
left:14157.1px;bottom:34691.6px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P572_124
{
left:20210.7px;bottom:34699.6px;color:rgb(0,124,196);
}
#P572_125
{
left:0px;letter-spacing:0px;margin-left:-61px;
}
#P572_126
{
left:8634.71px;bottom:32707.6px;letter-spacing:520.3px;color:rgb(35,31,31);
}
#P572_127
{
left:0px;letter-spacing:0px;margin-left:-520.3px;
}
#P572_128
{
left:12910.1px;bottom:32678.1px;color:rgb(35,31,31);
}
#P572_129
{
left:13496.5px;bottom:32707.6px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P572_130
{
left:13978.8px;bottom:33147.3px;color:rgb(35,31,31);
}
#P572_131
{
left:14314.6px;bottom:32725.2px;color:rgb(35,31,31);
}
#P572_132
{
left:13957.7px;bottom:32691.6px;color:rgb(35,31,31);
}
#P572_133
{
left:14335.7px;bottom:32708.9px;color:rgb(35,31,31);
}
#P572_134
{
left:13978.8px;bottom:32239.8px;color:rgb(35,31,31);
}
#P572_135
{
left:14314.6px;bottom:32725.2px;color:rgb(35,31,31);
}
#P572_136
{
left:14335.7px;bottom:32707.6px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P572_137
{
left:7741.4px;bottom:28663.5px;letter-spacing:-9.1px;color:rgb(35,31,31);
}
#P572_138
{
left:0px;letter-spacing:-14.8px;margin-left:-33px;
}
#P572_139
{
left:0px;letter-spacing:-0.8px;margin-left:14.8px;
}
#P572_140
{
left:7741.4px;bottom:27063.5px;color:rgb(35,31,31);
}
#P572_141
{
left:8309.98px;bottom:27083.2px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P572_142
{
left:9341.4px;bottom:27083.2px;color:rgb(35,31,31);
}
#P572_143
{
left:9530.39px;bottom:27505.3px;color:rgb(35,31,31);
}
#P572_144
{
left:9866.2px;bottom:27081.1px;color:rgb(35,31,31);
}
#P572_145
{
left:9341.4px;bottom:27049.6px;color:rgb(35,31,31);
}
#P572_146
{
left:10055.2px;bottom:27064.7px;color:rgb(35,31,31);
}
#P572_147
{
left:9362.52px;bottom:26597.7px;color:rgb(35,31,31);
}
#P572_148
{
left:10034.1px;bottom:27081.1px;color:rgb(35,31,31);
}
#P572_149
{
left:10055.2px;bottom:27063.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P572_150
{
left:10213.6px;bottom:27033.9px;color:rgb(35,31,31);
}
#P572_151
{
left:10800px;bottom:27063.5px;color:rgb(35,31,31);
}
#P572_152
{
left:10958.4px;bottom:26474.2px;color:rgb(35,31,31);
}
#P572_153
{
left:11204.8px;bottom:26797.1px;color:rgb(35,31,31);
}
#P572_154
{
left:11261.1px;bottom:27033.9px;color:rgb(35,31,31);
}
#P572_155
{
left:11692.7px;bottom:27063.5px;color:rgb(35,31,31);
}
#P572_156
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P572_157
{
left:11872.2px;bottom:27503.1px;color:rgb(35,31,31);
}
#P572_158
{
left:12208px;bottom:27081.1px;color:rgb(35,31,31);
}
#P572_159
{
left:11851.1px;bottom:27047.5px;color:rgb(35,31,31);
}
#P572_160
{
left:12229.1px;bottom:27064.7px;color:rgb(35,31,31);
}
#P572_161
{
left:11872.2px;bottom:26595.6px;color:rgb(35,31,31);
}
#P572_162
{
left:12208px;bottom:27081.1px;color:rgb(35,31,31);
}
#P572_163
{
left:12229.1px;bottom:27063.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P572_164
{
left:12285.5px;bottom:26474.2px;color:rgb(35,31,31);
}
#P572_165
{
left:12531.9px;bottom:27063.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P572_166
{
left:16750.6px;bottom:27083.2px;color:rgb(35,31,31);
}
#P572_167
{
left:18173.5px;bottom:27033.9px;color:rgb(35,31,31);
}
#P572_168
{
left:18759.8px;bottom:27063.5px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P572_169
{
left:19242px;bottom:27503.1px;color:rgb(35,31,31);
}
#P572_170
{
left:19577.8px;bottom:27081.1px;color:rgb(35,31,31);
}
#P572_171
{
left:19220.9px;bottom:27047.5px;color:rgb(35,31,31);
}
#P572_172
{
left:19598.9px;bottom:27064.7px;color:rgb(35,31,31);
}
#P572_173
{
left:19242px;bottom:26595.6px;color:rgb(35,31,31);
}
#P572_174
{
left:19577.8px;bottom:27081.1px;color:rgb(35,31,31);
}
#P572_175
{
left:19598.9px;bottom:27063.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P572_176
{
left:19757.3px;bottom:27033.9px;color:rgb(35,31,31);
}
#P572_177
{
left:20343.8px;bottom:27063.5px;color:rgb(35,31,31);
}
#P572_178
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P572_179
{
left:20523.3px;bottom:27503.1px;color:rgb(35,31,31);
}
#P572_180
{
left:20859.1px;bottom:27081.1px;color:rgb(35,31,31);
}
#P572_181
{
left:20502.2px;bottom:27047.5px;color:rgb(35,31,31);
}
#P572_182
{
left:20880.2px;bottom:27064.7px;color:rgb(35,31,31);
}
#P572_183
{
left:20523.3px;bottom:26595.6px;color:rgb(35,31,31);
}
#P572_184
{
left:20859.1px;bottom:27081.1px;color:rgb(35,31,31);
}
#P572_185
{
left:20880.2px;bottom:27063.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P572_186
{
left:25582.5px;bottom:27083.2px;color:rgb(35,31,31);
}
#P572_187
{
left:27005.4px;bottom:27033.9px;color:rgb(35,31,31);
}
#P572_188
{
left:27591.8px;bottom:27063.5px;color:rgb(35,31,31);
}
#P572_189
{
left:28683px;bottom:27033.9px;color:rgb(35,31,31);
}
#P572_190
{
left:29269.5px;bottom:27063.5px;color:rgb(35,31,31);
}
#P572_191
{
left:29674.3px;bottom:27033.9px;color:rgb(35,31,31);
}
#P572_192
{
left:30260.7px;bottom:27063.5px;color:rgb(35,31,31);
}
#P572_193
{
left:7741.4px;bottom:8604.78px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P572_194
{
left:0px;letter-spacing:-23.9px;margin-left:-27.2px;
}
#P572_195
{
left:0px;letter-spacing:-0.8px;margin-left:23.9px;
}
#P572_196
{
left:7741.4px;bottom:7004.78px;color:rgb(35,31,31);
}
#P572_197
{
left:7918.55px;bottom:7024.49px;color:rgb(35,31,31);
}
#P572_198
{
left:9341.4px;bottom:6975.21px;color:rgb(35,31,31);
}
#P572_199
{
left:9772.89px;bottom:7004.78px;color:rgb(35,31,31);
}
#P572_200
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P572_201
{
left:10120.3px;bottom:7444.46px;color:rgb(35,31,31);
}
#P572_202
{
left:10456.2px;bottom:7022.38px;color:rgb(35,31,31);
}
#P572_203
{
left:9931.29px;bottom:6988.77px;color:rgb(35,31,31);
}
#P572_204
{
left:10645.1px;bottom:7006.05px;color:rgb(35,31,31);
}
#P572_205
{
left:9952.41px;bottom:6536.94px;color:rgb(35,31,31);
}
#P572_206
{
left:10624px;bottom:7022.38px;color:rgb(35,31,31);
}
#P572_207
{
left:10645.1px;bottom:7004.78px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P572_208
{
left:10803.5px;bottom:6975.21px;color:rgb(35,31,31);
}
#P572_209
{
left:11390px;bottom:7004.78px;color:rgb(35,31,31);
}
#P572_210
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P572_211
{
left:11737.4px;bottom:7444.46px;color:rgb(35,31,31);
}
#P572_212
{
left:12073.2px;bottom:7022.38px;color:rgb(35,31,31);
}
#P572_213
{
left:11548.4px;bottom:6988.77px;color:rgb(35,31,31);
}
#P572_214
{
left:12262.2px;bottom:7006.05px;color:rgb(35,31,31);
}
#P572_215
{
left:11569.5px;bottom:6536.94px;color:rgb(35,31,31);
}
#P572_216
{
left:12241.1px;bottom:7022.38px;color:rgb(35,31,31);
}
#P572_217
{
left:12262.2px;bottom:7004.78px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P572_218
{
left:16750.6px;bottom:7024.49px;color:rgb(35,31,31);
}
#P572_219
{
left:18173.5px;bottom:7004.78px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P572_220
{
left:18655.6px;bottom:7444.46px;color:rgb(35,31,31);
}
#P572_221
{
left:18991.4px;bottom:7022.38px;color:rgb(35,31,31);
}
#P572_222
{
left:18634.5px;bottom:6988.77px;color:rgb(35,31,31);
}
#P572_223
{
left:19012.5px;bottom:7006.05px;color:rgb(35,31,31);
}
#P572_224
{
left:18655.6px;bottom:6536.94px;color:rgb(35,31,31);
}
#P572_225
{
left:18991.4px;bottom:7022.38px;color:rgb(35,31,31);
}
#P572_226
{
left:19012.5px;bottom:7004.78px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P572_227
{
left:19170.9px;bottom:6975.21px;color:rgb(35,31,31);
}
#P572_228
{
left:19757.3px;bottom:7004.78px;color:rgb(35,31,31);
}
#P572_229
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P572_230
{
left:19936.9px;bottom:7444.46px;color:rgb(35,31,31);
}
#P572_231
{
left:20272.7px;bottom:7022.38px;color:rgb(35,31,31);
}
#P572_232
{
left:19915.7px;bottom:6988.77px;color:rgb(35,31,31);
}
#P572_233
{
left:20293.8px;bottom:7006.05px;color:rgb(35,31,31);
}
#P572_234
{
left:19936.9px;bottom:6536.94px;color:rgb(35,31,31);
}
#P572_235
{
left:20272.7px;bottom:7022.38px;color:rgb(35,31,31);
}
#P572_236
{
left:20293.8px;bottom:7004.78px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P572_237
{
left:25582.6px;bottom:7024.49px;color:rgb(35,31,31);
}
#P572_238
{
left:27005.5px;bottom:7004.78px;color:rgb(35,31,31);
}
#P572_239
{
left:28096.5px;bottom:6975.21px;color:rgb(35,31,31);
}
#P572_240
{
left:28682.9px;bottom:7004.78px;color:rgb(35,31,31);
}
#P572_241
{
left:29087.8px;bottom:6975.21px;color:rgb(35,31,31);
}
#P572_242
{
left:29674.3px;bottom:7004.78px;color:rgb(35,31,31);
}
#P572_243
{
left:7741.47px;bottom:5340.78px;color:rgb(35,31,31);
}
#P572_244
{
left:7918.62px;bottom:5360.49px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P572_245
{
left:9341.4px;bottom:5360.49px;color:rgb(2,77,161);
}
#P572_246
{
left:11610.3px;bottom:5340.78px;color:rgb(35,31,31);
}
#P572_247
{
left:0px;letter-spacing:0px;margin-left:193.6px;
}
#P572_248
{
left:0px;letter-spacing:0px;margin-left:5.5px;
}
#P572_249
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P572_250
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P572_251
{
left:16000.3px;bottom:5780.46px;color:rgb(35,31,31);
}
#P572_252
{
left:16336.1px;bottom:5358.38px;color:rgb(35,31,31);
}
#P572_253
{
left:15979.2px;bottom:5324.77px;color:rgb(35,31,31);
}
#P572_254
{
left:16357.2px;bottom:5342.05px;color:rgb(35,31,31);
}
#P572_255
{
left:16000.3px;bottom:4872.94px;color:rgb(35,31,31);
}
#P572_256
{
left:16336.1px;bottom:5358.38px;color:rgb(35,31,31);
}
#P572_257
{
left:16515.6px;bottom:5340.78px;letter-spacing:-2px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P572_258
{
left:0px;letter-spacing:-0.5px;margin-left:159.9px;
}
#P572_259
{
left:0px;letter-spacing:-0.1px;margin-left:158.9px;
}
#P572_260
{
left: 8851.4px;bottom:3996.78px;color:rgb(35,31,31);
}
#P572_261
{
left:0px;letter-spacing:0px;margin-left:737.5px;
}
#P572_262
{
left:0px;letter-spacing:0px;margin-left:545.6px;
}
#P572_263
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P572_264
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P572_265
{
left:13024.7px;bottom:4436.46px;color:rgb(35,31,31);
}
#P572_266
{
left:13360.5px;bottom:4014.38px;color:rgb(35,31,31);
}
#P572_267
{
left:13003.5px;bottom:3980.77px;color:rgb(35,31,31);
}
#P572_268
{
left:13381.6px;bottom:3998.05px;color:rgb(35,31,31);
}
#P572_269
{
left:13024.7px;bottom:3528.93px;color:rgb(35,31,31);
}
#P572_270
{
left:13360.5px;bottom:4014.38px;color:rgb(35,31,31);
}
#P572_271
{
left:13381.6px;bottom:3996.78px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P572_272
{
left:0px;letter-spacing:-2px;margin-left:158.4px;
}
#P572_273
{
left:0px;letter-spacing:0px;margin-left:-40.1px;
}
#P572_274
{
left:0px;letter-spacing:0.2px;
}
#P572_275
{
left:0px;letter-spacing:-77.3px;margin-left:-42.3px;
}
#P572_276
{
left:0px;letter-spacing:0px;margin-left:77.3px;
}
#P572_277
{
left:6109.4px;bottom:24109px;letter-spacing:9.6px;
}
#P572_278
{
left:6109.4px;bottom:24109px;letter-spacing:9.6px;color:white;
}
#P572_279
{
left:8669.4px;bottom:24144.7px;letter-spacing:-2.2px;color:rgb(2,77,161);
}
#P572_280
{
left:11950.2px;bottom:24336.5px;color:rgb(2,77,161);
}
#P572_281
{
left:12190.4px;bottom:24144.7px;color:rgb(2,77,161);
}
#P572_282
{
left:14703.8px;bottom:24336.5px;color:rgb(2,77,161);
}
#P572_283
{
left:14944px;bottom:24144.7px;letter-spacing:-0.7px;color:rgb(2,77,161);
}
#P572_284
{
left:21145.8px;bottom:24202.1px;color:rgb(2,77,161);
}
#P572_285
{
left:0px;letter-spacing:0px;margin-left:38.4px;
}
#P572_286
{
left:7677.4px;bottom:22542.3px;letter-spacing:-3.9px;color:rgb(35,31,31);
}
#P572_287
{
left:9324.76px;bottom:22512.7px;color:rgb(35,31,31);
}
#P572_288
{
left:9911.19px;bottom:22542.3px;word-spacing:-59.8px;color:rgb(35,31,31);
}
#P572_289
{
left:10414.6px;bottom:22981.9px;color:rgb(35,31,31);
}
#P572_290
{
left:10769.4px;bottom:22559.9px;color:rgb(35,31,31);
}
#P572_291
{
left:10393.4px;bottom:22526.2px;color:rgb(35,31,31);
}
#P572_292
{
left:10790.5px;bottom:22543.5px;color:rgb(35,31,31);
}
#P572_293
{
left:10414.6px;bottom:22074.4px;color:rgb(35,31,31);
}
#P572_294
{
left:10769.4px;bottom:22559.9px;color:rgb(35,31,31);
}
#P572_295
{
left:10790.5px;bottom:22542.3px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P572_296
{
left:10938.3px;bottom:22512.7px;color:rgb(35,31,31);
}
#P572_297
{
left:11524.7px;bottom:22542.3px;color:rgb(35,31,31);
}
#P572_298
{
left:11672.5px;bottom:21951.9px;color:rgb(35,31,31);
}
#P572_299
{
left:11918.9px;bottom:22273.5px;color:rgb(35,31,31);
}
#P572_300
{
left:11975.3px;bottom:22528.7px;color:rgb(35,31,31);
}
#P572_301
{
left:12406.8px;bottom:22542.3px;color:rgb(35,31,31);
}
#P572_302
{
left:0px;letter-spacing:0px;margin-left:-147.8px;
}
#P572_303
{
left:12575.8px;bottom:22981.9px;color:rgb(35,31,31);
}
#P572_304
{
left:12930.6px;bottom:22559.9px;color:rgb(35,31,31);
}
#P572_305
{
left:12554.6px;bottom:22526.2px;color:rgb(35,31,31);
}
#P572_306
{
left:12951.7px;bottom:22543.5px;color:rgb(35,31,31);
}
#P572_307
{
left:12575.8px;bottom:22074.4px;color:rgb(35,31,31);
}
#P572_308
{
left:12930.6px;bottom:22559.9px;color:rgb(35,31,31);
}
#P572_309
{
left:12951.7px;bottom:22542.3px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P572_310
{
left:13008px;bottom:21951.9px;color:rgb(35,31,31);
}
#P572_311
{
left:13254.4px;bottom:22542.3px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P572_312
{
left:7677.4px;bottom:20622.3px;color:rgb(35,31,31);
}
#P572_313
{
left:9213.4px;bottom:20592.7px;color:rgb(35,31,31);
}
#P572_314
{
left:9799.83px;bottom:20622.3px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P572_315
{
left:10282.1px;bottom:21061.9px;color:rgb(35,31,31);
}
#P572_316
{
left:10617.9px;bottom:20639.9px;color:rgb(35,31,31);
}
#P572_317
{
left:10261px;bottom:20606.2px;color:rgb(35,31,31);
}
#P572_318
{
left:10639px;bottom:20623.5px;color:rgb(35,31,31);
}
#P572_319
{
left:10282.1px;bottom:20154.4px;color:rgb(35,31,31);
}
#P572_320
{
left:10617.9px;bottom:20639.9px;color:rgb(35,31,31);
}
#P572_321
{
left:10639px;bottom:20622.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P572_322
{
left:10797.4px;bottom:20592.7px;color:rgb(35,31,31);
}
#P572_323
{
left:11383.8px;bottom:20622.3px;color:rgb(35,31,31);
}
#P572_324
{
left:11542.2px;bottom:20031.9px;color:rgb(35,31,31);
}
#P572_325
{
left:11788.6px;bottom:20353.5px;color:rgb(35,31,31);
}
#P572_326
{
left:11845px;bottom:20592.7px;color:rgb(35,31,31);
}
#P572_327
{
left:12276.4px;bottom:20622.3px;color:rgb(35,31,31);
}
#P572_328
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P572_329
{
left:12456px;bottom:21061.9px;color:rgb(35,31,31);
}
#P572_330
{
left:12791.8px;bottom:20639.9px;color:rgb(35,31,31);
}
#P572_331
{
left:12434.8px;bottom:20606.2px;color:rgb(35,31,31);
}
#P572_332
{
left:12812.9px;bottom:20623.5px;color:rgb(35,31,31);
}
#P572_333
{
left:12456px;bottom:20154.4px;color:rgb(35,31,31);
}
#P572_334
{
left:12791.8px;bottom:20639.9px;color:rgb(35,31,31);
}
#P572_335
{
left:12812.9px;bottom:20622.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P572_336
{
left:12869.2px;bottom:20031.9px;color:rgb(35,31,31);
}
#P572_337
{
left:13115.6px;bottom:20622.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P572_338
{
left:13274px;bottom:20592.7px;color:rgb(35,31,31);
}
#P572_339
{
left:13860.4px;bottom:20622.3px;color:rgb(35,31,31);
}
#P572_340
{
left:14018.8px;bottom:20592.7px;color:rgb(35,31,31);
}
#P572_341
{
left:14605.3px;bottom:20622.3px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P572_342
{
left:15087.5px;bottom:21061.9px;color:rgb(35,31,31);
}
#P572_343
{
left:15423.3px;bottom:20639.9px;color:rgb(35,31,31);
}
#P572_344
{
left:15066.4px;bottom:20606.2px;color:rgb(35,31,31);
}
#P572_345
{
left:15444.4px;bottom:20623.5px;color:rgb(35,31,31);
}
#P572_346
{
left:15087.5px;bottom:20154.4px;color:rgb(35,31,31);
}
#P572_347
{
left:15423.3px;bottom:20639.9px;color:rgb(35,31,31);
}
#P572_348
{
left:15444.4px;bottom:20622.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P572_349
{
left:15602.8px;bottom:20592.7px;color:rgb(35,31,31);
}
#P572_350
{
left:16189.3px;bottom:20622.3px;color:rgb(35,31,31);
}
#P572_351
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P572_352
{
left:16368.8px;bottom:21061.9px;color:rgb(35,31,31);
}
#P572_353
{
left:16704.6px;bottom:20639.9px;color:rgb(35,31,31);
}
#P572_354
{
left:16347.7px;bottom:20606.2px;color:rgb(35,31,31);
}
#P572_355
{
left:16725.7px;bottom:20623.5px;color:rgb(35,31,31);
}
#P572_356
{
left:16368.8px;bottom:20154.4px;color:rgb(35,31,31);
}
#P572_357
{
left:16704.6px;bottom:20639.9px;color:rgb(35,31,31);
}
#P572_358
{
left:16725.7px;bottom:20622.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P572_359
{
left:20221.4px;bottom:20630.3px;color:rgb(0,124,196);
}
#P572_360
{
left:25419.9px;bottom:20602px;color:rgb(0,124,196);
}
#P572_361
{
left:25979.6px;bottom:20630.3px;letter-spacing:-161.3px;color:rgb(0,124,196);
}
#P572_362
{
left:25999.8px;bottom:21052px;color:rgb(0,124,196);
}
#P572_363
{
left:26290.1px;bottom:20647.1px;color:rgb(0,124,196);
}
#P572_364
{
left:25979.6px;bottom:20617px;color:rgb(0,124,196);
}
#P572_365
{
left:26310.2px;bottom:20631.5px;color:rgb(0,124,196);
}
#P572_366
{
left:25999.8px;bottom:20185.7px;color:rgb(0,124,196);
}
#P572_367
{
left:26290.1px;bottom:20647.1px;color:rgb(0,124,196);
}
#P572_368
{
left:26310.2px;bottom:20630.3px;letter-spacing:-161.3px;color:rgb(0,124,196);
}
#P572_369
{
left:7677.4px;bottom:18702.3px;letter-spacing:161.6px;color:rgb(35,31,31);
}
#P572_370
{
left:13277.4px;bottom:18672.7px;color:rgb(35,31,31);
}
#P572_371
{
left:13863.8px;bottom:18702.3px;color:rgb(35,31,31);
}
#P572_372
{
left:14022.2px;bottom:18672.7px;color:rgb(35,31,31);
}
#P572_373
{
left:14453.8px;bottom:18702.3px;color:rgb(35,31,31);
}
#P572_374
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P572_375
{
left:14633.3px;bottom:19141.9px;color:rgb(35,31,31);
}
#P572_376
{
left:15304.9px;bottom:18719.9px;color:rgb(35,31,31);
}
#P572_377
{
left:14612.2px;bottom:18686.2px;color:rgb(35,31,31);
}
#P572_378
{
left:15326px;bottom:18703.5px;color:rgb(35,31,31);
}
#P572_379
{
left:14801.2px;bottom:18234.4px;color:rgb(35,31,31);
}
#P572_380
{
left:15137px;bottom:18719.9px;color:rgb(35,31,31);
}
#P572_381
{
left:15326px;bottom:18702.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P572_382
{
left:15484.4px;bottom:18672.7px;color:rgb(35,31,31);
}
#P572_383
{
left:16070.8px;bottom:18702.3px;color:rgb(35,31,31);
}
#P572_384
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P572_385
{
left:16250.3px;bottom:19141.9px;color:rgb(35,31,31);
}
#P572_386
{
left:16586.1px;bottom:18719.9px;color:rgb(35,31,31);
}
#P572_387
{
left:16229.2px;bottom:18686.2px;color:rgb(35,31,31);
}
#P572_388
{
left:16607.3px;bottom:18703.5px;color:rgb(35,31,31);
}
#P572_389
{
left:16250.3px;bottom:18234.4px;color:rgb(35,31,31);
}
#P572_390
{
left:16586.1px;bottom:18719.9px;color:rgb(35,31,31);
}
#P572_391
{
left:16607.3px;bottom:18702.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P572_392
{
left:0px;letter-spacing:0px;margin-left:3614.1px;
}
#P572_393
{
left:20221.4px;bottom:18710.3px;color:rgb(0,124,196);
}
#P572_394
{
left:7677.4px;bottom:16782.3px;letter-spacing:161.6px;color:rgb(35,31,31);
}
#P572_395
{
left:0px;letter-spacing:0px;margin-left:4801.6px;
}
#P572_396
{
left:13277.4px;bottom:16752.7px;color:rgb(35,31,31);
}
#P572_397
{
left:13863.8px;bottom:16782.3px;color:rgb(35,31,31);
}
#P572_398
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P572_399
{
left:14043.4px;bottom:17195.3px;color:rgb(35,31,31);
}
#P572_400
{
left:14571.1px;bottom:17221.9px;color:rgb(35,31,31);
}
#P572_401
{
left:15385.3px;bottom:17195.3px;color:rgb(35,31,31);
}
#P572_402
{
left:15913px;bottom:17221.9px;color:rgb(35,31,31);
}
#P572_403
{
left:16391.4px;bottom:16799.9px;color:rgb(35,31,31);
}
#P572_404
{
left:14022.2px;bottom:16766.2px;color:rgb(35,31,31);
}
#P572_405
{
left:16412.6px;bottom:16783.5px;color:rgb(35,31,31);
}
#P572_406
{
left:15049.5px;bottom:16314.4px;color:rgb(35,31,31);
}
#P572_407
{
left:15385.3px;bottom:16799.9px;color:rgb(35,31,31);
}
#P572_408
{
left:16412.6px;bottom:16782.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P572_409
{
left:0px;letter-spacing:0px;margin-left:3808.8px;
}
#P572_410
{
left:20221.4px;bottom:17174.3px;color:rgb(0,124,196);
}
#P572_411
{
left:20221.4px;bottom:16278.3px;color:rgb(0,124,196);
}
#P572_412
{
left:0px;letter-spacing:0px;margin-left:-61px;
}
#P572_413
{
left:7677.4px;bottom:14670.3px;letter-spacing:161.6px;color:rgb(35,31,31);
}
#P572_414
{
left:13277.4px;bottom:14640.7px;color:rgb(35,31,31);
}
#P572_415
{
left:13863.8px;bottom:14670.3px;color:rgb(35,31,31);
}
#P572_416
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P572_417
{
left:14043.4px;bottom:15083.3px;color:rgb(35,31,31);
}
#P572_418
{
left:14571.1px;bottom:15109.9px;color:rgb(35,31,31);
}
#P572_419
{
left:15242.7px;bottom:14687.9px;color:rgb(35,31,31);
}
#P572_420
{
left:14022.2px;bottom:14654.2px;color:rgb(35,31,31);
}
#P572_421
{
left:15263.8px;bottom:14671.5px;color:rgb(35,31,31);
}
#P572_422
{
left:14475.2px;bottom:14202.4px;color:rgb(35,31,31);
}
#P572_423
{
left:14811px;bottom:14687.9px;color:rgb(35,31,31);
}
#P572_424
{
left:15263.8px;bottom:14670.3px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P572_425
{
left:0px;letter-spacing:0px;margin-left:158.4px;
}
#P572_426
{
left:16447.3px;bottom:14640.7px;color:rgb(35,31,31);
}
#P572_427
{
left:17033.7px;bottom:14670.3px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P572_428
{
left:17515.9px;bottom:15109.9px;color:rgb(35,31,31);
}
#P572_429
{
left:17851.7px;bottom:14687.9px;color:rgb(35,31,31);
}
#P572_430
{
left:17494.8px;bottom:14654.2px;color:rgb(35,31,31);
}
#P572_431
{
left:17872.9px;bottom:14671.5px;color:rgb(35,31,31);
}
#P572_432
{
left:17515.9px;bottom:14202.4px;color:rgb(35,31,31);
}
#P572_433
{
left:17851.7px;bottom:14687.9px;color:rgb(35,31,31);
}
#P572_434
{
left:17872.9px;bottom:14670.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P572_435
{
left:20221.4px;bottom:14678.3px;color:rgb(0,124,196);
}
#P572_436
{
left:0px;letter-spacing:0px;margin-left:-49.7px;
}
#P572_437
{
left:8261.4px;bottom:12686.3px;letter-spacing:520.3px;color:rgb(35,31,31);
}
#P572_438
{
left:0px;letter-spacing:-0.9px;margin-left:-520.3px;
}
#P572_439
{
left:14358.9px;bottom:12656.7px;color:rgb(35,31,31);
}
#P572_440
{
left:14945.3px;bottom:12686.3px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P572_441
{
left:15427.5px;bottom:13125.9px;color:rgb(35,31,31);
}
#P572_442
{
left:15763.4px;bottom:12703.9px;color:rgb(35,31,31);
}
#P572_443
{
left:15406.4px;bottom:12670.2px;color:rgb(35,31,31);
}
#P572_444
{
left:15784.5px;bottom:12687.5px;color:rgb(35,31,31);
}
#P572_445
{
left:15427.5px;bottom:12218.4px;color:rgb(35,31,31);
}
#P572_446
{
left:15763.3px;bottom:12703.9px;color:rgb(35,31,31);
}
#P572_447
{
left:15784.5px;bottom:12686.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#PageContainer572
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg572.jpg");background-repeat:no-repeat;background-size: 1066px 1265px; background-position: 1px -0.1099999999999px;
}
#ImageContainer572 {bottom:99.11px;right:0.00px;width:1066.24px;height:1265.05px;position:absolute;} #TextContainer572 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}