.tr699{ color:transparent;}
#P699_1
{
left:4592.6px;bottom:1417.71px;color:rgb(35,31,31);
}
#P699_2
{
left:23091.3px;bottom:1410.03px;color:rgb(35,31,31);
}
#P699_3
{
left:28003.9px;bottom:1417.71px;letter-spacing:2.3px;word-spacing:462px;color:rgb(35,31,31);
}
#P699_4
{
left:0px;letter-spacing:0px;margin-left:-464.3px;
}
#P699_5
{
left:0px;letter-spacing:1.6px;margin-left:0.1px;
}
#P699_6
{
left:0px;letter-spacing:0px;margin-left:-463.6px;
}
#P699_7
{
left:0px;letter-spacing:0.2px;margin-left:-8.1px;
}
#P699_8
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P699_9
{
left:9111.45px;bottom:31015.6px;color:white;
}
#P699_10
{
left:6931.87px;bottom:28682.5px;color:white;
}
#P699_11
{
left:6031.45px;bottom:32328.6px;color:white;
}
#P699_12
{
left:6213.79px;bottom:35281.1px;color:rgb(2,77,161);
}
#P699_13
{
left:6909.4px;bottom:10083.4px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P699_14
{
left:0px;letter-spacing:-35.1px;margin-left:-49.4px;
}
#P699_15
{
left:0px;letter-spacing:-0.3px;margin-left:40.6px;
}
#P699_16
{
left:0px;letter-spacing:0px;margin-left:-27.8px;
}
#P699_17
{
left:20428.9px;bottom:10083.4px;letter-spacing:-2.1px;color:rgb(0,124,196);
}
#P699_18
{
left:0px;letter-spacing:-1.5px;margin-left:-6.3px;
}
#P699_19
{
left:0px;letter-spacing:0px;margin-left:1.5px;
}
#P699_20
{
left:6909.4px;bottom:8611.44px;color:rgb(35,31,31);
}
#P699_21
{
left:7086.55px;bottom:8631.15px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P699_22
{
left:8509.4px;bottom:8631.15px;color:rgb(35,31,31);
}
#P699_23
{
left:8530.52px;bottom:9053.23px;color:rgb(35,31,31);
}
#P699_24
{
left:9344.67px;bottom:9026.62px;color:rgb(35,31,31);
}
#P699_25
{
left:9872.41px;bottom:9053.23px;color:rgb(35,31,31);
}
#P699_26
{
left:10350.8px;bottom:8629.04px;color:rgb(35,31,31);
}
#P699_27
{
left:8509.4px;bottom:8597.54px;color:rgb(35,31,31);
}
#P699_28
{
left:10371.9px;bottom:8612.7px;color:rgb(35,31,31);
}
#P699_29
{
left:9104.86px;bottom:8145.71px;color:rgb(35,31,31);
}
#P699_30
{
left:9776.47px;bottom:8629.04px;color:rgb(35,31,31);
}
#P699_31
{
left:10371.9px;bottom:8611.44px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P699_32
{
left:14382.6px;bottom:8631.15px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P699_33
{
left:15805.4px;bottom:8631.15px;color:rgb(35,31,31);
}
#P699_34
{
left:15826.5px;bottom:9053.23px;color:rgb(35,31,31);
}
#P699_35
{
left:16640.7px;bottom:9026.62px;color:rgb(35,31,31);
}
#P699_36
{
left:17168.5px;bottom:9053.23px;color:rgb(35,31,31);
}
#P699_37
{
left:17646.8px;bottom:8629.04px;color:rgb(35,31,31);
}
#P699_38
{
left:15805.4px;bottom:8597.54px;color:rgb(35,31,31);
}
#P699_39
{
left:17667.9px;bottom:8612.7px;color:rgb(35,31,31);
}
#P699_40
{
left:16400.9px;bottom:8145.71px;color:rgb(35,31,31);
}
#P699_41
{
left:17072.5px;bottom:8629.04px;color:rgb(35,31,31);
}
#P699_42
{
left:17667.9px;bottom:8611.44px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P699_43
{
left:21806.6px;bottom:8631.15px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P699_44
{
left:23229.4px;bottom:8631.15px;color:rgb(35,31,31);
}
#P699_45
{
left:23250.5px;bottom:9053.23px;color:rgb(35,31,31);
}
#P699_46
{
left:24400.4px;bottom:9026.62px;color:rgb(35,31,31);
}
#P699_47
{
left:24928.2px;bottom:9053.23px;color:rgb(35,31,31);
}
#P699_48
{
left:25742.4px;bottom:8629.04px;color:rgb(35,31,31);
}
#P699_49
{
left:23229.4px;bottom:8597.54px;color:rgb(35,31,31);
}
#P699_50
{
left:25763.5px;bottom:8612.7px;color:rgb(35,31,31);
}
#P699_51
{
left:24160.7px;bottom:8145.71px;color:rgb(35,31,31);
}
#P699_52
{
left:24832.3px;bottom:8629.04px;color:rgb(35,31,31);
}
#P699_53
{
left:25763.5px;bottom:8611.44px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P699_54
{
left:29166.6px;bottom:8631.15px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P699_55
{
left:30589.4px;bottom:8631.15px;color:rgb(35,31,31);
}
#P699_56
{
left:30610.5px;bottom:9053.23px;color:rgb(35,31,31);
}
#P699_57
{
left:31760.5px;bottom:9026.62px;color:rgb(35,31,31);
}
#P699_58
{
left:32288.2px;bottom:9053.23px;color:rgb(35,31,31);
}
#P699_59
{
left:0px;bottom:0px;letter-spacing:0px;color:rgb(35,31,31);
}
#P699_60
{
left:30589.4px;bottom:8597.54px;color:rgb(35,31,31);
}
#P699_61
{
left:33459.4px;bottom:8612.7px;color:rgb(35,31,31);
}
#P699_62
{
left:31520.7px;bottom:8145.71px;color:rgb(35,31,31);
}
#P699_63
{
left:32528.1px;bottom:8629.04px;color:rgb(35,31,31);
}
#P699_64
{
left:33459.4px;bottom:8611.44px;color:rgb(35,31,31);
}
#P699_65
{
left:6909.4px;bottom:6627.44px;color:rgb(35,31,31);
}
#P699_66
{
left:7086.55px;bottom:6647.15px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P699_67
{
left:8573.4px;bottom:6647.15px;letter-spacing:-17.6px;color:rgb(2,77,161);
}
#P699_68
{
left:0px;letter-spacing:0px;margin-left:17.6px;
}
#P699_69
{
left:14049px;bottom:6627.44px;letter-spacing:168.3px;color:rgb(35,31,31);
}
#P699_70
{
left:0px;letter-spacing:-2.3px;margin-left:-168.3px;
}
#P699_71
{
left:0px;letter-spacing:0px;margin-left:-11.6px;
}
#P699_72
{
left:0px;letter-spacing:-3.5px;margin-left:-6.9px;
}
#P699_73
{
left:0px;letter-spacing:0px;margin-left:-21.8px;
}
#P699_74
{
left:0px;letter-spacing:-2.3px;
}
#P699_75
{
left:0px;letter-spacing:0px;margin-left:2.3px;
}
#P699_76
{
left:8573.4px;bottom:5731.44px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P699_77
{
left:0px;letter-spacing:0px;margin-left:-214.8px;
}
#P699_78
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P699_79
{
left:0px;letter-spacing:0px;
}
#P699_80
{
left:24544.1px;bottom:5731.44px;color:rgb(35,31,31);
}
#P699_81
{
left:24907.4px;bottom:5731.44px;letter-spacing:-3.5px;color:rgb(35,31,31);
}
#P699_82
{
left:0px;letter-spacing:0px;margin-left:3.5px;
}
#P699_83
{
left:28302.2px;bottom:5731.44px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P699_84
{
left:32536px;bottom:5731.44px;color:rgb(35,31,31);
}
#P699_85
{
left:6909.4px;bottom:4067.44px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P699_86
{
left:8486.49px;bottom:4110.82px;color:rgb(35,31,31);
}
#P699_87
{
left:8823.32px;bottom:4231.95px;color:rgb(35,31,31);
}
#P699_88
{
left:9469.4px;bottom:4067.44px;color:rgb(35,31,31);
}
#P699_89
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P699_90
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P699_91
{
left:10258.5px;bottom:4507.12px;color:rgb(35,31,31);
}
#P699_92
{
left:10594.3px;bottom:4085.04px;color:rgb(35,31,31);
}
#P699_93
{
left:10237.4px;bottom:4051.42px;color:rgb(35,31,31);
}
#P699_94
{
left:10615.4px;bottom:4068.7px;color:rgb(35,31,31);
}
#P699_95
{
left:10258.5px;bottom:3599.6px;color:rgb(35,31,31);
}
#P699_96
{
left:10594.3px;bottom:4085.04px;color:rgb(35,31,31);
}
#P699_97
{
left:10615.4px;bottom:4067.44px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P699_98
{
left:10773.8px;bottom:4037.87px;color:rgb(35,31,31);
}
#P699_99
{
left:11360.3px;bottom:4067.44px;color:rgb(35,31,31);
}
#P699_100
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P699_101
{
left:11880px;bottom:4507.12px;color:rgb(35,31,31);
}
#P699_102
{
left:12206.9px;bottom:4085.04px;color:rgb(35,31,31);
}
#P699_103
{
left:11518.7px;bottom:4051.42px;color:rgb(35,31,31);
}
#P699_104
{
left:12568.3px;bottom:4068.7px;color:rgb(35,31,31);
}
#P699_105
{
left:11539.8px;bottom:3599.6px;color:rgb(35,31,31);
}
#P699_106
{
left:12547.2px;bottom:4085.04px;color:rgb(35,31,31);
}
#P699_107
{
left:12568.3px;bottom:4067.44px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P699_108
{
left:15782.5px;bottom:4110.82px;color:rgb(35,31,31);
}
#P699_109
{
left:16119.3px;bottom:4231.95px;color:rgb(35,31,31);
}
#P699_110
{
left:16765.4px;bottom:4067.44px;color:rgb(35,31,31);
}
#P699_111
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P699_112
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P699_113
{
left:17554.5px;bottom:4507.12px;color:rgb(35,31,31);
}
#P699_114
{
left:17890.3px;bottom:4085.04px;color:rgb(35,31,31);
}
#P699_115
{
left:17533.4px;bottom:4051.42px;color:rgb(35,31,31);
}
#P699_116
{
left:17911.4px;bottom:4068.7px;color:rgb(35,31,31);
}
#P699_117
{
left:17554.5px;bottom:3599.6px;color:rgb(35,31,31);
}
#P699_118
{
left:17890.3px;bottom:4085.04px;color:rgb(35,31,31);
}
#P699_119
{
left:17911.4px;bottom:4067.44px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P699_120
{
left:18069.8px;bottom:4037.87px;color:rgb(35,31,31);
}
#P699_121
{
left:18832.3px;bottom:4067.44px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P699_122
{
left:19193.6px;bottom:4558.51px;color:rgb(35,31,31);
}
#P699_123
{
left:19520.5px;bottom:4085.04px;color:rgb(35,31,31);
}
#P699_124
{
left:18832.3px;bottom:4102.82px;color:rgb(35,31,31);
}
#P699_125
{
left:19881.9px;bottom:4068.7px;color:rgb(35,31,31);
}
#P699_126
{
left:18853.4px;bottom:3650.99px;color:rgb(35,31,31);
}
#P699_127
{
left:19860.8px;bottom:4085.04px;color:rgb(35,31,31);
}
#P699_128
{
left:19881.9px;bottom:4067.44px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P699_129
{
left:23270.5px;bottom:4110.82px;color:rgb(35,31,31);
}
#P699_130
{
left:23607.3px;bottom:4231.95px;color:rgb(35,31,31);
}
#P699_131
{
left:24253.4px;bottom:4067.44px;color:rgb(35,31,31);
}
#P699_132
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P699_133
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P699_134
{
left:25042.5px;bottom:4507.12px;color:rgb(35,31,31);
}
#P699_135
{
left:25378.3px;bottom:4085.04px;color:rgb(35,31,31);
}
#P699_136
{
left:25021.4px;bottom:4051.42px;color:rgb(35,31,31);
}
#P699_137
{
left:25399.4px;bottom:4068.7px;color:rgb(35,31,31);
}
#P699_138
{
left:25042.5px;bottom:3599.6px;color:rgb(35,31,31);
}
#P699_139
{
left:25378.3px;bottom:4085.04px;color:rgb(35,31,31);
}
#P699_140
{
left:25399.4px;bottom:4067.44px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P699_141
{
left:25557.8px;bottom:4037.87px;color:rgb(35,31,31);
}
#P699_142
{
left:26144.3px;bottom:4067.44px;color:rgb(35,31,31);
}
#P699_143
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P699_144
{
left:26664px;bottom:4507.12px;color:rgb(35,31,31);
}
#P699_145
{
left:26990.9px;bottom:4085.04px;color:rgb(35,31,31);
}
#P699_146
{
left:26302.7px;bottom:4051.42px;color:rgb(35,31,31);
}
#P699_147
{
left:27352.3px;bottom:4068.7px;color:rgb(35,31,31);
}
#P699_148
{
left:26323.8px;bottom:3599.6px;color:rgb(35,31,31);
}
#P699_149
{
left:27331.2px;bottom:4085.04px;color:rgb(35,31,31);
}
#P699_150
{
left:27352.3px;bottom:4067.44px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P699_151
{
left:30630.5px;bottom:4110.82px;color:rgb(35,31,31);
}
#P699_152
{
left:30967.3px;bottom:4231.95px;color:rgb(35,31,31);
}
#P699_153
{
left:31613.4px;bottom:4067.44px;color:rgb(35,31,31);
}
#P699_154
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P699_155
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P699_156
{
left:32402.5px;bottom:4507.12px;color:rgb(35,31,31);
}
#P699_157
{
left:32738.3px;bottom:4085.04px;color:rgb(35,31,31);
}
#P699_158
{
left:32381.4px;bottom:4051.42px;color:rgb(35,31,31);
}
#P699_159
{
left:32759.4px;bottom:4068.7px;color:rgb(35,31,31);
}
#P699_160
{
left:32402.5px;bottom:3599.6px;color:rgb(35,31,31);
}
#P699_161
{
left:32738.3px;bottom:4085.04px;color:rgb(35,31,31);
}
#P699_162
{
left:32759.4px;bottom:4067.44px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P699_163
{
left:32917.8px;bottom:4037.87px;color:rgb(35,31,31);
}
#P699_164
{
left:33504.3px;bottom:4067.44px;color:rgb(35,31,31);
}
#P699_165
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P699_166
{
left:33683.8px;bottom:4507.12px;color:rgb(35,31,31);
}
#P699_167
{
left:34691.2px;bottom:4085.04px;color:rgb(35,31,31);
}
#P699_168
{
left:33662.7px;bottom:4051.42px;color:rgb(35,31,31);
}
#P699_169
{
left:34712.3px;bottom:4068.7px;color:rgb(35,31,31);
}
#P699_170
{
left:34024px;bottom:3599.6px;color:rgb(35,31,31);
}
#P699_171
{
left:34350.9px;bottom:4085.04px;color:rgb(35,31,31);
}
#P699_172
{
left:34712.3px;bottom:4067.44px;color:rgb(35,31,31);
}
#P699_173
{
left:6973.4px;bottom:46736.5px;color:rgb(2,77,161);
}
#P699_174
{
left:9564.69px;bottom:46716.8px;letter-spacing:-2.3px;word-spacing:176.1px;color:rgb(35,31,31);
}
#P699_175
{
left:0px;letter-spacing:0px;margin-left:-173.8px;
}
#P699_176
{
left:0px;letter-spacing:-4.7px;margin-left:-6.8px;
}
#P699_177
{
left:13337.4px;bottom:46722.4px;color:rgb(35,31,31);
}
#P699_178
{
left:13897px;bottom:46716.8px;color:rgb(35,31,31);
}
#P699_179
{
left:6973.4px;bottom:45820.8px;letter-spacing:-0.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P699_180
{
left:0px;letter-spacing:-14.1px;margin-left:106.3px;
}
#P699_181
{
left:0px;letter-spacing:-0.1px;margin-left:14px;
}
#P699_182
{
left:6973.4px;bottom:44924.8px;letter-spacing:-2.2px;color:rgb(35,31,31);
}
#P699_183
{
left:0px;letter-spacing:-4px;margin-left:2.2px;
}
#P699_184
{
left:0px;letter-spacing:0px;margin-left:4px;
}
#P699_185
{
left:17206.4px;bottom:44930.5px;color:rgb(35,31,31);
}
#P699_186
{
left:17569.6px;bottom:44924.8px;letter-spacing:-2.5px;color:rgb(35,31,31);
}
#P699_187
{
left:6973.4px;bottom:44028.8px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P699_188
{
left:0px;letter-spacing:-4px;margin-left:1.2px;
}
#P699_189
{
left:0px;letter-spacing:0px;margin-left:4px;
}
#P699_190
{
left:6973.4px;bottom:43132.8px;color:rgb(35,31,31);
}
#P699_191
{
left:8363.03px;bottom:43138.5px;color:rgb(35,31,31);
}
#P699_192
{
left:8707.29px;bottom:43132.8px;color:rgb(35,31,31);
}
#P699_193
{
left:6973.4px;bottom:41980.8px;color:rgb(35,31,31);
}
#P699_194
{
left:7150.55px;bottom:42000.6px;color:rgb(35,31,31);
}
#P699_195
{
left:8637.4px;bottom:41980.8px;color:rgb(35,31,31);
}
#P699_196
{
left:9000.6px;bottom:41980.8px;color:rgb(35,31,31);
}
#P699_197
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P699_198
{
left:0px;letter-spacing:-0.6px;
}
#P699_199
{
left:0px;letter-spacing:-77.4px;margin-left:-41.5px;
}
#P699_200
{
left:0px;letter-spacing:0px;margin-left:77.4px;
}
#P699_201
{
left:6973.4px;bottom:40636.8px;color:rgb(35,31,31);
}
#P699_202
{
left:7150.55px;bottom:40656.6px;color:rgb(35,31,31);
}
#P699_203
{
left:8637.4px;bottom:40636.8px;color:rgb(35,31,31);
}
#P699_204
{
left:12122.8px;bottom:40636.8px;color:rgb(35,31,31);
}
#P699_205
{
left:12452.1px;bottom:40636.8px;letter-spacing:-21px;color:rgb(35,31,31);
}
#P699_206
{
left:0px;letter-spacing:-2.1px;margin-left:21px;
}
#P699_207
{
left:0px;letter-spacing:0px;margin-left:2.1px;
}
#P699_208
{
left:0px;letter-spacing:-77.4px;margin-left:-56.2px;
}
#P699_209
{
left:0px;letter-spacing:0px;margin-left:77.4px;
}
#P699_210
{
left:6973.27px;bottom:39292.8px;color:rgb(35,31,31);
}
#P699_211
{
left:7150.43px;bottom:39312.6px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P699_212
{
left:8637.27px;bottom:39292.8px;color:rgb(35,31,31);
}
#P699_213
{
left:9189.72px;bottom:39292.8px;color:rgb(35,31,31);
}
#P699_214
{
left:12302px;bottom:39292.8px;color:rgb(35,31,31);
}
#P699_215
{
left:12631.5px;bottom:39292.8px;letter-spacing:-10.5px;color:rgb(35,31,31);
}
#P699_216
{
left:0px;letter-spacing:0px;margin-left:10.5px;
}
#P699_217
{
left:8637.27px;bottom:38396.8px;letter-spacing:-3.6px;color:rgb(35,31,31);
}
#P699_218
{
left:0px;letter-spacing:0px;margin-left:3.6px;
}
#P699_219
{
left:6973.27px;bottom:37052.8px;color:rgb(35,31,31);
}
#P699_220
{
left:7150.43px;bottom:37072.6px;color:rgb(35,31,31);
}
#P699_221
{
left:8637.27px;bottom:37052.8px;color:rgb(35,31,31);
}
#P699_222
{
left:8966.55px;bottom:37052.8px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P699_223
{
left:15164.8px;bottom:37052.8px;color:rgb(35,31,31);
}
#P699_224
{
left:15717.4px;bottom:37052.8px;color:rgb(35,31,31);
}
#P699_225
{
left:15875.6px;bottom:37023.3px;color:rgb(35,31,31);
}
#P699_226
{
left:16462px;bottom:37052.8px;color:rgb(35,31,31);
}
#P699_227
{
left:16620.4px;bottom:37052.8px;color:rgb(35,31,31);
}
#P699_228
{
left:16949.9px;bottom:37052.8px;color:rgb(35,31,31);
}
#P699_229
{
left:17108.3px;bottom:37023.3px;color:rgb(35,31,31);
}
#P699_230
{
left:17694.7px;bottom:37052.8px;color:rgb(35,31,31);
}
#P699_231
{
left:17853.1px;bottom:37052.8px;color:rgb(35,31,31);
}
#P699_232
{
left:18216.4px;bottom:37052.8px;color:rgb(35,31,31);
}
#P699_233
{
left:6973.4px;bottom:34566.6px;color:rgb(35,31,31);
}
#P699_234
{
left:14894.6px;bottom:34587.3px;color:rgb(35,31,31);
}
#P699_235
{
left:16317.4px;bottom:34595.2px;color:rgb(2,77,161);
}
#P699_236
{
left:16317.4px;bottom:34595.2px;color:rgb(2,77,161);
}
#P699_237
{
left:18220.2px;bottom:34566.6px;color:rgb(35,31,31);
}
#P699_238
{
left:18572.2px;bottom:34575.5px;letter-spacing:-10.5px;color:rgb(35,31,31);
}
#P699_239
{
left:0px;letter-spacing:-0.7px;margin-left:10.5px;
}
#P699_240
{
left:0px;letter-spacing:0px;margin-left:0.7px;
}
#P699_241
{
left:16317.4px;bottom:33679.5px;color:rgb(35,31,31);
}
#P699_242
{
left:18555.4px;bottom:33679.5px;letter-spacing:-1.7px;color:rgb(35,31,31);
}
#P699_243
{
left:22383px;bottom:33679.5px;color:rgb(35,31,31);
}
#P699_244
{
left:22728px;bottom:33679.5px;color:rgb(35,31,31);
}
#P699_245
{
left:25465.8px;bottom:33679.5px;color:rgb(35,31,31);
}
#P699_246
{
left:26649.2px;bottom:33679.5px;color:rgb(35,31,31);
}
#P699_247
{
left:29183.5px;bottom:33679.5px;color:rgb(35,31,31);
}
#P699_248
{
left:16317.4px;bottom:32738.1px;letter-spacing:-0.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P699_249
{
left:0px;letter-spacing:0px;margin-left:-41.7px;
}
#P699_250
{
left:6973.4px;bottom:30498.1px;color:rgb(35,31,31);
}
#P699_251
{
left:14894.6px;bottom:30517.8px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P699_252
{
left:16317.4px;bottom:30517.8px;letter-spacing:-1.4px;color:rgb(2,77,161);
}
#P699_253
{
left:19113.8px;bottom:30498.1px;letter-spacing:193.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P699_254
{
left:0px;letter-spacing:1.3px;margin-left:-206.1px;
}
#P699_255
{
left:0px;letter-spacing:-0.1px;margin-left:-61.2px;
}
#P699_256
{
left:0px;letter-spacing:-1px;
}
#P699_257
{
left:0px;letter-spacing:-0.1px;margin-left:159.4px;
}
#P699_258
{
left:16317.4px;bottom:29602.1px;letter-spacing:0.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P699_259
{
left:0px;letter-spacing:-28.1px;margin-left:-28.1px;
}
#P699_260
{
left:0px;letter-spacing:-0.9px;margin-left:28.1px;
}
#P699_261
{
left:0px;letter-spacing:0px;margin-left:-13px;
}
#P699_262
{
left:6973.4px;bottom:28258.1px;color:rgb(35,31,31);
}
#P699_263
{
left:16277.3px;bottom:28258.1px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P699_264
{
left:17469.4px;bottom:28258.1px;letter-spacing:-10.5px;color:rgb(35,31,31);
}
#P699_265
{
left:0px;letter-spacing:0.2px;margin-left:10.5px;
}
#P699_266
{
left:6973.4px;bottom:27170.1px;color:rgb(35,31,31);
}
#P699_267
{
left:16241.2px;bottom:27170.1px;letter-spacing:-17.5px;color:rgb(35,31,31);
}
#P699_268
{
left:17469.3px;bottom:27170.1px;letter-spacing:-10.5px;color:rgb(35,31,31);
}
#P699_269
{
left:0px;letter-spacing:0px;margin-left:10.5px;
}
#P699_270
{
left:6973.34px;bottom:24930.1px;color:rgb(35,31,31);
}
#P699_271
{
left:7150.49px;bottom:24949.8px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P699_272
{
left:8637.4px;bottom:24949.8px;letter-spacing:-12.8px;word-spacing:-26px;color:rgb(2,77,161);
}
#P699_273
{
left:0px;letter-spacing:-19.3px;margin-left:150.6px;
}
#P699_274
{
left:0px;letter-spacing:0px;margin-left:19.3px;
}
#P699_275
{
left:12913.2px;bottom:24930.1px;word-spacing:151.5px;color:rgb(35,31,31);
}
#P699_276
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P699_277
{
left:0px;letter-spacing:0px;margin-left:-151.5px;
}
#P699_278
{
left:16510.7px;bottom:24930.1px;color:rgb(35,31,31);
}
#P699_279
{
left:16950px;bottom:24930.1px;color:rgb(35,31,31);
}
#P699_280
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P699_281
{
left:0px;letter-spacing:0px;margin-left:-42px;
}
#P699_282
{
left:8637.53px;bottom:24034.1px;color:rgb(35,31,31);
}
#P699_283
{
left:10210.9px;bottom:24034.1px;color:rgb(35,31,31);
}
#P699_284
{
left:10655.8px;bottom:24034.1px;letter-spacing:-1.8px;color:rgb(35,31,31);
}
#P699_285
{
left:0px;letter-spacing:-0.3px;margin-left:1.8px;
}
#P699_286
{
left:0px;letter-spacing:-70.3px;margin-left:-25px;
}
#P699_287
{
left:0px;letter-spacing:0px;margin-left:70.3px;
}
#P699_288
{
left:24639.5px;bottom:24034.1px;color:rgb(35,31,31);
}
#P699_289
{
left:25078.8px;bottom:24034.1px;color:rgb(35,31,31);
}
#P699_290
{
left:0px;letter-spacing:0px;margin-left:-25.3px;
}
#P699_291
{
left:0px;letter-spacing:0px;margin-left:-70.3px;
}
#P699_292
{
left:27716.8px;bottom:24034.1px;color:rgb(35,31,31);
}
#P699_293
{
left:28161.8px;bottom:24034.1px;color:rgb(35,31,31);
}
#P699_294
{
left:0px;letter-spacing:0px;margin-left:105.6px;
}
#P699_295
{
left:0px;letter-spacing:0px;margin-left:105.6px;
}
#P699_296
{
left:6973.53px;bottom:22946.1px;color:rgb(35,31,31);
}
#P699_297
{
left:8789.47px;bottom:22946.1px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P699_298
{
left:9981.66px;bottom:22946.1px;letter-spacing:-10.5px;color:rgb(35,31,31);
}
#P699_299
{
left:0px;letter-spacing:-1.6px;margin-left:10.5px;
}
#P699_300
{
left:0px;letter-spacing:0px;margin-left:-68.8px;
}
#P699_301
{
left:0px;letter-spacing:0px;
}
#P699_302
{
left:18705.2px;bottom:22946.1px;color:rgb(35,31,31);
}
#P699_303
{
left:19144.5px;bottom:22946.1px;color:rgb(35,31,31);
}
#P699_304
{
left:6973.66px;bottom:21848.4px;color:rgb(35,31,31);
}
#P699_305
{
left:8753.56px;bottom:21848.4px;letter-spacing:-17.5px;color:rgb(35,31,31);
}
#P699_306
{
left:9981.66px;bottom:21848.4px;color:rgb(35,31,31);
}
#P699_307
{
left:0px;letter-spacing:0px;margin-left:-25.3px;
}
#P699_308
{
left:0px;letter-spacing:0px;margin-left:-70.3px;
}
#P699_309
{
left:18985.8px;bottom:21848.4px;color:rgb(35,31,31);
}
#P699_310
{
left:19430.7px;bottom:21848.4px;color:rgb(35,31,31);
}
#P699_311
{
left:6973.66px;bottom:20760.3px;color:rgb(35,31,31);
}
#P699_312
{
left:8760.79px;bottom:20760.3px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P699_313
{
left:9917.72px;bottom:20760.3px;letter-spacing:-10.5px;color:rgb(35,31,31);
}
#P699_314
{
left:0px;letter-spacing:-1.6px;margin-left:10.5px;
}
#P699_315
{
left:0px;letter-spacing:0px;margin-left:-68.8px;
}
#P699_316
{
left:0px;letter-spacing:0px;
}
#P699_317
{
left:18641.3px;bottom:20760.3px;color:rgb(35,31,31);
}
#P699_318
{
left:19086.2px;bottom:20760.3px;color:rgb(35,31,31);
}
#P699_319
{
left:6973.4px;bottom:19362.1px;color:rgb(35,31,31);
}
#P699_320
{
left:7150.55px;bottom:19382.9px;color:rgb(35,31,31);
}
#P699_321
{
left:8637.4px;bottom:19390.8px;color:rgb(2,77,161);
}
#P699_322
{
left:8637.4px;bottom:19390.8px;letter-spacing:-2.9px;color:rgb(2,77,161);
}
#P699_323
{
left:0px;letter-spacing:0px;margin-left:2.9px;
}
#P699_324
{
left:13658.3px;bottom:19371.1px;color:rgb(35,31,31);
}
#P699_325
{
left:0px;letter-spacing:0px;margin-left:168.3px;
}
#P699_326
{
left:0px;letter-spacing:0px;margin-left:-70.3px;
}
#P699_327
{
left:23287.6px;bottom:19371.1px;color:rgb(35,31,31);
}
#P699_328
{
left:24564.7px;bottom:19371.1px;color:rgb(35,31,31);
}
#P699_329
{
left:25561.5px;bottom:19371.1px;color:rgb(35,31,31);
}
#P699_330
{
left:26986.4px;bottom:19371.1px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P699_331
{
left:0px;letter-spacing:0px;margin-left:1.4px;
}
#P699_332
{
left:10046.8px;bottom:18237.7px;letter-spacing:-2.8px;word-spacing:2917.7px;color:rgb(35,31,31);
}
#P699_333
{
left:10669.9px;bottom:18237.7px;color:rgb(35,31,31);
}
#P699_334
{
left:11335.9px;bottom:18237.7px;color:rgb(35,31,31);
}
#P699_335
{
left:14448.2px;bottom:18237.7px;color:rgb(35,31,31);
}
#P699_336
{
left:14886.1px;bottom:18237.7px;color:rgb(35,31,31);
}
#P699_337
{
left:16856.5px;bottom:18237.7px;color:rgb(35,31,31);
}
#P699_338
{
left:17456.3px;bottom:18237.7px;color:rgb(35,31,31);
}
#P699_339
{
left:17748.5px;bottom:18237.7px;color:rgb(35,31,31);
}
#P699_340
{
left:18414.5px;bottom:18237.7px;color:rgb(35,31,31);
}
#P699_341
{
left:0px;letter-spacing:0px;margin-left:119.7px;
}
#P699_342
{
left:0px;letter-spacing:0px;margin-left:105.6px;
}
#P699_343
{
left:6973.4px;bottom:16583.5px;color:rgb(35,31,31);
}
#P699_344
{
left:7150.55px;bottom:16604.2px;word-spacing:320.5px;color:rgb(35,31,31);
}
#P699_345
{
left:12371.4px;bottom:16583.5px;color:rgb(35,31,31);
}
#P699_346
{
left:12723.4px;bottom:16592.4px;letter-spacing:-1.6px;color:rgb(35,31,31);
}
#P699_347
{
left:0px;letter-spacing:-1.2px;margin-left:1.6px;
}
#P699_348
{
left:0px;letter-spacing:0px;margin-left:1.2px;
}
#P699_349
{
left:8637.4px;bottom:15696.4px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P699_350
{
left:0px;letter-spacing:0px;margin-left:-41.2px;
}
#P699_351
{
left:0px;letter-spacing:-0.9px;
}
#P699_352
{
left:0px;letter-spacing:0px;margin-left:0.9px;
}
#P699_353
{
left:8637.4px;bottom:14800.4px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P699_354
{
left:25379.6px;bottom:17613.2px;color:rgb(35,31,31);
}
#P699_355
{
left:0px;letter-spacing:0px;margin-left:-74.4px;
}
#P699_356
{
left:0px;letter-spacing:0px;margin-left:-12px;
}
#P699_357
{
left:0px;letter-spacing:0px;margin-left:988.5px;
}
#P699_358
{
left:0px;letter-spacing:0px;margin-left:-36.9px;
}
#P699_359
{
left:26304.4px;bottom:16506.3px;color:rgb(35,31,31);
}
#P699_360
{
left:0px;letter-spacing:0px;margin-left:3171.9px;
}
#P699_361
{
left:26037.3px;bottom:15482.4px;color:rgb(35,31,31);
}
#P699_362
{
left:0px;letter-spacing:0px;margin-left:2904.8px;
}
#P699_363
{
left:26304.4px;bottom:14458.4px;color:rgb(35,31,31);
}
#P699_364
{
left:0px;letter-spacing:0px;margin-left:3171.9px;
}
#P699_365
{
left:26811.4px;bottom:13434.4px;letter-spacing:3678.9px;color:rgb(35,31,31);
}
#P699_366
{
left:0px;letter-spacing:0px;margin-left:-3678.9px;
}
#P699_367
{
left:33438.2px;bottom:8629.04px;
}
#PageContainer699
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg699.jpg");background-repeat:no-repeat;background-size: 901px 1216px; background-position: 116.19px 69.5999999999999px;
}
#ImageContainer699 {bottom:78.40px;left:116.19px;width:900.59px;height:1216.26px;position:absolute;} #TextContainer699 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}