.tr513{ color:transparent;}
#P513_1
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P513_2
{
left:24671.2px;bottom:1410.03px;color:rgb(35,31,31);
}
#P513_3
{
left:28299.4px;bottom:1410.03px;letter-spacing:462.1px;color:rgb(35,31,31);
}
#P513_4
{
left:0px;letter-spacing:1.8px;margin-left:-463.6px;
}
#P513_5
{
left:0px;letter-spacing:6.6px;margin-left:2.8px;
}
#P513_6
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P513_7
{
left:7150.53px;bottom:46736.5px;word-spacing:-18.6px;color:rgb(35,31,31);
}
#P513_8
{
left:8637.4px;bottom:46736.5px;color:rgb(2,77,161);
}
#P513_9
{
left:11584.3px;bottom:46716.8px;letter-spacing:193.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P513_10
{
left:0px;letter-spacing:-0.2px;margin-left:-35.3px;
}
#P513_11
{
left:8637.4px;bottom:45820.8px;letter-spacing:-0.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P513_12
{
left:0px;letter-spacing:-8.5px;margin-left:-13.6px;
}
#P513_13
{
left:0px;letter-spacing:-0.1px;margin-left:8.4px;
}
#P513_14
{
left:8637.4px;bottom:44924.8px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P513_15
{
left:0px;letter-spacing:-0.2px;margin-left:-12.9px;
}
#P513_16
{
left:0px;letter-spacing:0px;margin-left:0.2px;
}
#P513_17
{
left:8637.4px;bottom:44028.8px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P513_18
{
left:7150.53px;bottom:42384.6px;word-spacing:-18.6px;color:rgb(35,31,31);
}
#P513_19
{
left:8637.4px;bottom:42384.5px;color:rgb(2,77,161);
}
#P513_20
{
left:12719.8px;bottom:42364.8px;letter-spacing:151.5px;color:rgb(35,31,31);
}
#P513_21
{
left:0px;letter-spacing:5.5px;margin-left:-183.1px;
}
#P513_22
{
left:0px;letter-spacing:-0.3px;margin-left:-5.5px;
}
#P513_23
{
left:8637.4px;bottom:41468.8px;letter-spacing:-0.3px;word-spacing:0.3px;color:rgb(35,31,31);
}
#P513_24
{
left:13162px;bottom:41439.2px;color:rgb(35,31,31);
}
#P513_25
{
left:13748.4px;bottom:41468.8px;color:rgb(35,31,31);
}
#P513_26
{
left:0px;letter-spacing:-13.1px;margin-left:-42.1px;
}
#P513_27
{
left:0px;letter-spacing:0px;margin-left:13.1px;
}
#P513_28
{
left:8637.4px;bottom:40572.9px;letter-spacing:-0.3px;word-spacing:0.3px;color:rgb(35,31,31);
}
#P513_29
{
left:13162px;bottom:40543.3px;color:rgb(35,31,31);
}
#P513_30
{
left:13748.4px;bottom:40572.9px;color:rgb(35,31,31);
}
#P513_31
{
left:6973.4px;bottom:38672.5px;color:rgb(2,77,161);
}
#P513_32
{
left:10232.9px;bottom:38652.8px;letter-spacing:-4.6px;color:rgb(35,31,31);
}
#P513_33
{
left:0px;letter-spacing:-0.7px;margin-left:4.6px;
}
#P513_34
{
left:20070px;bottom:38658.4px;color:rgb(35,31,31);
}
#P513_35
{
left:20489.6px;bottom:38652.8px;color:rgb(35,31,31);
}
#P513_36
{
left:20637.4px;bottom:38623.2px;color:rgb(35,31,31);
}
#P513_37
{
left:21223.8px;bottom:38652.8px;letter-spacing:-9.3px;color:rgb(35,31,31);
}
#P513_38
{
left:22082.8px;bottom:38658.4px;color:rgb(35,31,31);
}
#P513_39
{
left:22495.4px;bottom:38652.8px;color:rgb(35,31,31);
}
#P513_40
{
left:22643.2px;bottom:38623.2px;color:rgb(35,31,31);
}
#P513_41
{
left:23229.7px;bottom:38652.8px;color:rgb(35,31,31);
}
#P513_42
{
left:23377.5px;bottom:38623.2px;color:rgb(35,31,31);
}
#P513_43
{
left:23963.9px;bottom:38652.8px;letter-spacing:-9.3px;color:rgb(35,31,31);
}
#P513_44
{
left:0px;letter-spacing:0px;margin-left:9.3px;
}
#P513_45
{
left:26081.1px;bottom:38658.4px;color:rgb(35,31,31);
}
#P513_46
{
left:26402.1px;bottom:38652.8px;color:rgb(35,31,31);
}
#P513_47
{
left:26550px;bottom:38623.2px;color:rgb(35,31,31);
}
#P513_48
{
left:27136.4px;bottom:38652.8px;color:rgb(35,31,31);
}
#P513_49
{
left:27284.1px;bottom:38623.2px;color:rgb(35,31,31);
}
#P513_50
{
left:27870.5px;bottom:38652.8px;color:rgb(35,31,31);
}
#P513_51
{
left:6973.4px;bottom:37500.8px;color:rgb(35,31,31);
}
#P513_52
{
left:7150.55px;bottom:37520.5px;color:rgb(35,31,31);
}
#P513_53
{
left:8573.4px;bottom:37500.8px;color:rgb(35,31,31);
}
#P513_54
{
left:8968.35px;bottom:37500.8px;color:rgb(35,31,31);
}
#P513_55
{
left:9126.75px;bottom:37471.2px;color:rgb(35,31,31);
}
#P513_56
{
left:9713.18px;bottom:37500.8px;color:rgb(35,31,31);
}
#P513_57
{
left:9871.58px;bottom:37500.8px;color:rgb(35,31,31);
}
#P513_58
{
left:10265.1px;bottom:37500.8px;color:rgb(35,31,31);
}
#P513_59
{
left:17454.6px;bottom:37520.5px;color:rgb(35,31,31);
}
#P513_60
{
left:18877.4px;bottom:37471.2px;color:rgb(35,31,31);
}
#P513_61
{
left:19463.8px;bottom:37500.8px;color:rgb(35,31,31);
}
#P513_62
{
left:19857.4px;bottom:37500.8px;color:rgb(35,31,31);
}
#P513_63
{
left:20015.8px;bottom:37471.2px;color:rgb(35,31,31);
}
#P513_64
{
left:20602.2px;bottom:37500.8px;color:rgb(35,31,31);
}
#P513_65
{
left:20760.6px;bottom:37500.8px;color:rgb(35,31,31);
}
#P513_66
{
left:21071.1px;bottom:37500.8px;color:rgb(35,31,31);
}
#P513_67
{
left:27758.6px;bottom:37520.5px;word-spacing:120.6px;color:rgb(35,31,31);
}
#P513_68
{
left:29053.4px;bottom:37465.6px;color:rgb(35,31,31);
}
#P513_69
{
left:29229.7px;bottom:37402.8px;color:rgb(35,31,31);
}
#P513_70
{
left:29391.6px;bottom:37500.8px;color:rgb(35,31,31);
}
#P513_71
{
left:29786.6px;bottom:37500.8px;color:rgb(35,31,31);
}
#P513_72
{
left:29945px;bottom:37471.2px;color:rgb(35,31,31);
}
#P513_73
{
left:30531.4px;bottom:37500.8px;color:rgb(35,31,31);
}
#P513_74
{
left:30689.8px;bottom:37500.8px;color:rgb(35,31,31);
}
#P513_75
{
left:31083.4px;bottom:37500.8px;color:rgb(35,31,31);
}
#P513_76
{
left:31241.8px;bottom:37471.2px;color:rgb(35,31,31);
}
#P513_77
{
left:31828.2px;bottom:37500.8px;color:rgb(35,31,31);
}
#P513_78
{
left:31986.6px;bottom:37500.8px;color:rgb(35,31,31);
}
#P513_79
{
left:32459px;bottom:37465.6px;color:rgb(35,31,31);
}
#P513_80
{
left:32635.3px;bottom:37500.8px;color:rgb(35,31,31);
}
#P513_81
{
left:6973.4px;bottom:35600.5px;color:rgb(2,77,161);
}
#P513_82
{
left:0px;letter-spacing:0px;margin-left:-38.7px;
}
#P513_83
{
left:0px;letter-spacing:0px;margin-left:-38.7px;
}
#P513_84
{
left:11864.2px;bottom:35580.8px;letter-spacing:-10.5px;color:rgb(35,31,31);
}
#P513_85
{
left:0px;letter-spacing:-0.3px;margin-left:10.5px;
}
#P513_86
{
left:0px;letter-spacing:0px;margin-left:-27.7px;
}
#P513_87
{
left:6973.4px;bottom:34428.8px;color:rgb(35,31,31);
}
#P513_88
{
left:7150.43px;bottom:34448.5px;color:rgb(35,31,31);
}
#P513_89
{
left:8573.4px;bottom:34428.8px;color:rgb(35,31,31);
}
#P513_90
{
left:8986.65px;bottom:34428.8px;color:rgb(35,31,31);
}
#P513_91
{
left:9145.05px;bottom:34399.2px;color:rgb(35,31,31);
}
#P513_92
{
left:9731.48px;bottom:34428.8px;color:rgb(35,31,31);
}
#P513_93
{
left:10794.5px;bottom:34399.2px;color:rgb(35,31,31);
}
#P513_94
{
left:11380.8px;bottom:34428.8px;color:rgb(35,31,31);
}
#P513_95
{
left:17454.6px;bottom:34448.5px;color:rgb(35,31,31);
}
#P513_96
{
left:18877.4px;bottom:34428.8px;color:rgb(35,31,31);
}
#P513_97
{
left:19270.9px;bottom:34428.8px;color:rgb(35,31,31);
}
#P513_98
{
left:19429.3px;bottom:34399.2px;color:rgb(35,31,31);
}
#P513_99
{
left:20015.8px;bottom:34428.8px;color:rgb(35,31,31);
}
#P513_100
{
left:20420.6px;bottom:34399.2px;color:rgb(35,31,31);
}
#P513_101
{
left:21006.9px;bottom:34428.8px;color:rgb(35,31,31);
}
#P513_102
{
left:21784.9px;bottom:34399.2px;color:rgb(35,31,31);
}
#P513_103
{
left:22371.3px;bottom:34428.8px;color:rgb(35,31,31);
}
#P513_104
{
left:27758.6px;bottom:34448.5px;color:rgb(35,31,31);
}
#P513_105
{
left:29053.5px;bottom:34399.2px;color:rgb(35,31,31);
}
#P513_106
{
left:29640px;bottom:34428.8px;color:rgb(35,31,31);
}
#P513_107
{
left:30171.5px;bottom:34399.2px;color:rgb(35,31,31);
}
#P513_108
{
left:30757.9px;bottom:34428.8px;color:rgb(35,31,31);
}
#P513_109
{
left:30916.3px;bottom:34428.8px;color:rgb(35,31,31);
}
#P513_110
{
left:31558.3px;bottom:34428.8px;color:rgb(35,31,31);
}
#P513_111
{
left:31716.6px;bottom:34399.2px;color:rgb(35,31,31);
}
#P513_112
{
left:32303px;bottom:34428.8px;color:rgb(35,31,31);
}
#P513_113
{
left:32461.4px;bottom:34399.2px;color:rgb(35,31,31);
}
#P513_114
{
left:33047.8px;bottom:34428.8px;color:rgb(35,31,31);
}
#P513_115
{
left:6973.47px;bottom:32764.8px;color:rgb(35,31,31);
}
#P513_116
{
left:7150.62px;bottom:32784.5px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P513_117
{
left:8637.4px;bottom:32784.5px;color:rgb(2,77,161);
}
#P513_118
{
left:0px;letter-spacing:0px;margin-left:-52.8px;
}
#P513_119
{
left:14543.2px;bottom:32764.8px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P513_120
{
left:0px;letter-spacing:0.9px;margin-left:-210.4px;
}
#P513_121
{
left:0px;letter-spacing:0px;margin-left:-0.9px;
}
#P513_122
{
left:20200.3px;bottom:32764.8px;color:rgb(35,31,31);
}
#P513_123
{
left:20639.6px;bottom:32764.8px;color:rgb(35,31,31);
}
#P513_124
{
left:8637.4px;bottom:31868.8px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P513_125
{
left:0px;letter-spacing:0px;margin-left:1.3px;
}
#P513_126
{
left:8524.11px;bottom:30524.8px;letter-spacing:-9.3px;word-spacing:1412.1px;color:rgb(35,31,31);
}
#P513_127
{
left:9597.53px;bottom:30524.8px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P513_128
{
left:19174.7px;bottom:30524.8px;color:rgb(35,31,31);
}
#P513_129
{
left:19640px;bottom:30524.8px;color:rgb(35,31,31);
}
#P513_130
{
left:22512.3px;bottom:30524.8px;color:rgb(35,31,31);
}
#P513_131
{
left:23072.7px;bottom:30524.8px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P513_132
{
left:0px;letter-spacing:0px;margin-left:1.4px;
}
#P513_133
{
left:8490.37px;bottom:29436.8px;letter-spacing:-13.9px;word-spacing:1382.9px;color:rgb(35,31,31);
}
#P513_134
{
left:9597.53px;bottom:29436.8px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P513_135
{
left:19027.5px;bottom:29436.8px;color:rgb(35,31,31);
}
#P513_136
{
left:19472.5px;bottom:29436.8px;color:rgb(35,31,31);
}
#P513_137
{
left:22344.7px;bottom:29436.8px;color:rgb(35,31,31);
}
#P513_138
{
left:22952.3px;bottom:29436.8px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P513_139
{
left:0px;letter-spacing:0px;margin-left:1.4px;
}
#P513_140
{
left:6973.53px;bottom:27964.8px;color:rgb(35,31,31);
}
#P513_141
{
left:10451.5px;bottom:22690.8px;color:rgb(35,31,31);
}
#P513_142
{
left:13431.8px;bottom:26427.9px;color:rgb(35,31,31);
}
#P513_143
{
left:17533.5px;bottom:23428.1px;color:rgb(35,31,31);
}
#P513_144
{
left:22188.7px;bottom:26082.9px;color:rgb(35,31,31);
}
#P513_145
{
left:27206.2px;bottom:23681.5px;color:rgb(35,31,31);
}
#P513_146
{
left:12826.5px;bottom:24447.7px;color:rgb(35,31,31);
}
#P513_147
{
left:13306.3px;bottom:24572.7px;color:rgb(35,31,31);
}
#P513_148
{
left:16961px;bottom:24814.1px;color:rgb(35,31,31);
}
#P513_149
{
left:17440.8px;bottom:24939.1px;letter-spacing:-8.6px;color:rgb(35,31,31);
}
#P513_150
{
left:26593.4px;bottom:24777.8px;color:rgb(35,31,31);
}
#P513_151
{
left:27073.2px;bottom:24902.8px;letter-spacing:-8.6px;color:rgb(35,31,31);
}
#P513_152
{
left:21588px;bottom:24633.8px;color:rgb(35,31,31);
}
#P513_153
{
left:22067.8px;bottom:24758.8px;letter-spacing:-8.6px;color:rgb(35,31,31);
}
#P513_154
{
left:6973.4px;bottom:20156.8px;color:rgb(35,31,31);
}
#P513_155
{
left:7150.55px;bottom:20176.5px;color:rgb(35,31,31);
}
#P513_156
{
left:8129.11px;bottom:20156.8px;letter-spacing:349.9px;color:rgb(35,31,31);
}
#P513_157
{
left:12723.5px;bottom:20156.8px;letter-spacing:193.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P513_158
{
left:0px;letter-spacing:-8.8px;margin-left:-209px;
}
#P513_159
{
left:0px;letter-spacing:-7.2px;margin-left:1.7px;
}
#P513_160
{
left:30810.1px;bottom:17944.1px;color:rgb(35,31,31);
}
#P513_161
{
left:31343.3px;bottom:18086.2px;color:rgb(35,31,31);
}
#P513_162
{
left:33473.8px;bottom:15777.7px;color:rgb(35,31,31);
}
#P513_163
{
left:33249.2px;bottom:17944.1px;color:rgb(35,31,31);
}
#P513_164
{
left:33782.3px;bottom:18086.2px;color:rgb(35,31,31);
}
#P513_165
{
left:8637.4px;bottom:19260.8px;letter-spacing:-26px;color:rgb(35,31,31);
}
#P513_166
{
left:0px;letter-spacing:-8.9px;margin-left:19px;
}
#P513_167
{
left:0px;letter-spacing:-7.3px;margin-left:1.8px;
}
#P513_168
{
left:0px;letter-spacing:-8.4px;margin-left:-13.7px;
}
#P513_169
{
left:8637.4px;bottom:18364.8px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P513_170
{
left:9149.91px;bottom:18364.8px;letter-spacing:-8.7px;color:rgb(35,31,31);
}
#P513_171
{
left:13226.8px;bottom:18364.8px;letter-spacing:-8.1px;color:rgb(35,31,31);
}
#P513_172
{
left:0px;letter-spacing:-6.5px;margin-left:1px;
}
#P513_173
{
left:8637.4px;bottom:17468.9px;letter-spacing:-8px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P513_174
{
left:0px;letter-spacing:-6.7px;margin-left:1px;
}
#P513_175
{
left:8637.4px;bottom:16573px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P513_176
{
left:12005.3px;bottom:16573px;color:rgb(35,31,31);
}
#P513_177
{
left: 8560.4px;bottom:15293px;letter-spacing:1505.6px;color:rgb(35,31,31);
}
#P513_178
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P513_179
{
left:0px;letter-spacing:-3.5px;margin-left:-8.4px;
}
#P513_180
{
left:0px;letter-spacing:-0.4px;margin-left:3.5px;
}
#P513_181
{
left:0px;letter-spacing:0px;margin-left:-20.5px;
}
#P513_182
{
left:8637.4px;bottom:14397px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P513_183
{
left:0px;letter-spacing:0px;margin-left:0.7px;
}
#P513_184
{
left:8637.4px;bottom:13501px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P513_185
{
left:10346.1px;bottom:13471.5px;color:rgb(35,31,31);
}
#P513_186
{
left:10932.5px;bottom:13501px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P513_187
{
left:6947.8px;bottom:9169.58px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P513_188
{
left:0px;letter-spacing:0px;margin-left:-27.2px;
}
#P513_189
{
left:10639.6px;bottom:9169.26px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P513_190
{
left:6947.8px;bottom:8017.26px;color:rgb(35,31,31);
}
#P513_191
{
left:7124.95px;bottom:8036.97px;color:rgb(35,31,31);
}
#P513_192
{
left:8547.8px;bottom:8017.26px;color:rgb(35,31,31);
}
#P513_193
{
left:9452.44px;bottom:7987.69px;color:rgb(35,31,31);
}
#P513_194
{
left:10038.9px;bottom:8017.26px;color:rgb(35,31,31);
}
#P513_195
{
left:14420.9px;bottom:8036.97px;color:rgb(35,31,31);
}
#P513_196
{
left:15843.7px;bottom:8017.26px;color:rgb(35,31,31);
}
#P513_197
{
left:16748.4px;bottom:7987.69px;color:rgb(35,31,31);
}
#P513_198
{
left:17334.8px;bottom:8017.26px;color:rgb(35,31,31);
}
#P513_199
{
left:21845px;bottom:8036.97px;color:rgb(35,31,31);
}
#P513_200
{
left:23267.9px;bottom:8017.26px;color:rgb(35,31,31);
}
#P513_201
{
left:24545.6px;bottom:7987.69px;color:rgb(35,31,31);
}
#P513_202
{
left:25132.1px;bottom:8017.26px;color:rgb(35,31,31);
}
#P513_203
{
left:29205px;bottom:8036.97px;color:rgb(35,31,31);
}
#P513_204
{
left:30627.9px;bottom:8017.26px;color:rgb(35,31,31);
}
#P513_205
{
left:31905.7px;bottom:7987.69px;color:rgb(35,31,31);
}
#P513_206
{
left:32492.1px;bottom:8017.26px;color:rgb(35,31,31);
}
#P513_207
{
left:6947.87px;bottom:6353.26px;color:rgb(35,31,31);
}
#P513_208
{
left:7125.02px;bottom:6372.97px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P513_209
{
left:8611.8px;bottom:6372.97px;letter-spacing:-17.6px;color:rgb(2,77,161);
}
#P513_210
{
left:0px;letter-spacing:0px;margin-left:17.6px;
}
#P513_211
{
left:14087.4px;bottom:6353.26px;letter-spacing:151.5px;color:rgb(35,31,31);
}
#P513_212
{
left:0px;letter-spacing:-0.2px;margin-left:-151.5px;
}
#P513_213
{
left:0px;letter-spacing:0px;margin-left:-20.7px;
}
#P513_214
{
left:27968.5px;bottom:6353.26px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P513_215
{
left:6947.8px;bottom:5265.26px;color:rgb(35,31,31);
}
#P513_216
{
left:0px;letter-spacing:0px;margin-left:801.6px;
}
#P513_217
{
left:0px;letter-spacing:0px;margin-left:545.6px;
}
#P513_218
{
left:0px;letter-spacing:0px;margin-left:1377.5px;
}
#P513_219
{
left:6947.8px;bottom:3921.26px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P513_220
{
left:8524.89px;bottom:3964.64px;color:rgb(35,31,31);
}
#P513_221
{
left:8861.72px;bottom:4085.77px;color:rgb(35,31,31);
}
#P513_222
{
left:9507.8px;bottom:3921.26px;color:rgb(35,31,31);
}
#P513_223
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P513_224
{
left:15820.9px;bottom:3964.64px;color:rgb(35,31,31);
}
#P513_225
{
left:16157.7px;bottom:4085.77px;color:rgb(35,31,31);
}
#P513_226
{
left:16803.8px;bottom:3921.26px;color:rgb(35,31,31);
}
#P513_227
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P513_228
{
left:23308.9px;bottom:3964.64px;color:rgb(35,31,31);
}
#P513_229
{
left:23645.7px;bottom:4085.77px;color:rgb(35,31,31);
}
#P513_230
{
left:24291.8px;bottom:3921.26px;color:rgb(35,31,31);
}
#P513_231
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P513_232
{
left:30668.9px;bottom:3964.64px;color:rgb(35,31,31);
}
#P513_233
{
left:31005.7px;bottom:4085.77px;color:rgb(35,31,31);
}
#P513_234
{
left:31651.8px;bottom:3921.26px;color:rgb(35,31,31);
}
#P513_235
{
left:0px;letter-spacing:0px;margin-left:292.8px;
}
#P513_236
{
left:30681.2px;bottom:46891.9px;color:rgb(33,31,31);
}
#PageContainer513
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg513.jpg");background-repeat:no-repeat;background-size: 836px 1177px; background-position: 152.37px 100.34px;
}
#ImageContainer513 {bottom:86.66px;left:152.37px;width:835.54px;height:1176.83px;position:absolute;} #TextContainer513 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}