.tr679{ color:transparent;}
#P679_1
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P679_2
{
left:22853.8px;bottom:1410.03px;color:rgb(35,31,31);
}
#P679_3
{
left:27766.2px;bottom:1410.03px;letter-spacing:2.3px;word-spacing:462px;color:rgb(35,31,31);
}
#P679_4
{
left:0px;letter-spacing:0px;margin-left:-464.2px;
}
#P679_5
{
left:0px;letter-spacing:2.4px;margin-left:0.1px;
}
#P679_6
{
left:0px;letter-spacing:0px;margin-left:-464.4px;
}
#P679_7
{
left:0px;letter-spacing:1.2px;margin-left:5.4px;
}
#P679_8
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P679_9
{
left:13964.7px;bottom:45052.8px;letter-spacing:-14.8px;color:rgb(35,31,31);
}
#P679_10
{
left:0px;letter-spacing:-0.1px;margin-left:14.8px;
}
#P679_11
{
left:0px;letter-spacing:-15.8px;margin-left:-27.9px;
}
#P679_12
{
left:0px;letter-spacing:-0.2px;margin-left:15.8px;
}
#P679_13
{
left:0px;letter-spacing:0px;margin-left:-41.9px;
}
#P679_14
{
left:13964.7px;bottom:43900.8px;color:rgb(35,31,31);
}
#P679_15
{
left:14428.2px;bottom:43927.6px;color:rgb(35,31,31);
}
#P679_16
{
left:15628.7px;bottom:43900.8px;color:rgb(35,31,31);
}
#P679_17
{
left:20380.2px;bottom:43927.6px;color:rgb(35,31,31);
}
#P679_18
{
left:21516.7px;bottom:43900.8px;color:rgb(35,31,31);
}
#P679_19
{
left:26012.2px;bottom:43927.6px;color:rgb(35,31,31);
}
#P679_20
{
left:27148.7px;bottom:43900.8px;color:rgb(35,31,31);
}
#P679_21
{
left:31644.2px;bottom:43927.6px;color:rgb(35,31,31);
}
#P679_22
{
left:32780.7px;bottom:43900.8px;word-spacing:417.6px;color:rgb(35,31,31);
}
#P679_23
{
left:7805.34px;bottom:40673.6px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P679_24
{
left:14673.7px;bottom:40698.2px;color:white;
}
#P679_25
{
left:15745.9px;bottom:40890px;color:white;
}
#P679_26
{
left:15986.1px;bottom:40698.2px;color:white;
}
#P679_27
{
left:16322.2px;bottom:40890px;color:white;
}
#P679_28
{
left:16562.4px;bottom:40698.2px;letter-spacing:-1.7px;color:white;
}
#P679_29
{
left:20371.9px;bottom:40890px;color:white;
}
#P679_30
{
left:20612.1px;bottom:40698.2px;letter-spacing:-2.8px;color:white;
}
#P679_31
{
left:0px;letter-spacing:0px;margin-left:2.8px;
}
#P679_32
{
left:30474.2px;bottom:40890px;color:white;
}
#P679_33
{
left:30714.4px;bottom:40698.2px;color:white;
}
#P679_34
{
left:12829.3px;bottom:40531.1px;
}
#P679_35
{
left:12829.3px;bottom:40531.1px;color:white;
}
#P679_36
{
left:13900.6px;bottom:39068.8px;color:rgb(35,31,31);
}
#P679_37
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P679_38
{
left:0px;letter-spacing:-0.7px;
}
#P679_39
{
left:0px;letter-spacing:13.9px;margin-left:-41.3px;
}
#P679_40
{
left:0px;letter-spacing:0px;margin-left:-13.9px;
}
#P679_41
{
left:13900.6px;bottom:38172.8px;letter-spacing:-4.2px;color:rgb(35,31,31);
}
#P679_42
{
left:0px;letter-spacing:0px;margin-left:4.2px;
}
#P679_43
{
left:17803px;bottom:38178.5px;color:rgb(35,31,31);
}
#P679_44
{
left:18898.4px;bottom:38172.8px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P679_45
{
left:13132.6px;bottom:36636.8px;color:rgb(35,31,31);
}
#P679_46
{
left:13934.9px;bottom:36680.2px;color:rgb(35,31,31);
}
#P679_47
{
left:14271.8px;bottom:36801.4px;color:rgb(35,31,31);
}
#P679_48
{
left:14732.6px;bottom:36636.8px;color:rgb(35,31,31);
}
#P679_49
{
left:14891px;bottom:36636.8px;color:rgb(35,31,31);
}
#P679_50
{
left:0px;letter-spacing:0px;margin-left:506px;
}
#P679_51
{
left:0px;letter-spacing:0px;margin-left:-147.8px;
}
#P679_52
{
left:15713.8px;bottom:37076.5px;color:rgb(35,31,31);
}
#P679_53
{
left:16385.4px;bottom:36654.4px;color:rgb(35,31,31);
}
#P679_54
{
left:15692.6px;bottom:36620.8px;color:rgb(35,31,31);
}
#P679_55
{
left:16406.5px;bottom:36638.1px;color:rgb(35,31,31);
}
#P679_56
{
left:15713.8px;bottom:36168.9px;color:rgb(35,31,31);
}
#P679_57
{
left:16385.4px;bottom:36654.4px;color:rgb(35,31,31);
}
#P679_58
{
left:16406.5px;bottom:36636.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P679_59
{
left:19566.9px;bottom:36680.2px;color:rgb(35,31,31);
}
#P679_60
{
left:19903.8px;bottom:36801.4px;color:rgb(35,31,31);
}
#P679_61
{
left:20364.6px;bottom:36636.8px;color:rgb(35,31,31);
}
#P679_62
{
left:0px;letter-spacing:0px;margin-left:643.2px;
}
#P679_63
{
left:25326.9px;bottom:36680.2px;color:rgb(35,31,31);
}
#P679_64
{
left:25663.8px;bottom:36801.4px;color:rgb(35,31,31);
}
#P679_65
{
left:26124.6px;bottom:36636.8px;color:rgb(35,31,31);
}
#P679_66
{
left:0px;letter-spacing:0px;margin-left:707.3px;
}
#P679_67
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P679_68
{
left:27169.8px;bottom:37076.5px;color:rgb(35,31,31);
}
#P679_69
{
left:27841.4px;bottom:36654.4px;color:rgb(35,31,31);
}
#P679_70
{
left:27148.6px;bottom:36620.8px;color:rgb(35,31,31);
}
#P679_71
{
left:27862.5px;bottom:36638.1px;color:rgb(35,31,31);
}
#P679_72
{
left:27169.8px;bottom:36168.9px;color:rgb(35,31,31);
}
#P679_73
{
left:27841.4px;bottom:36654.4px;color:rgb(35,31,31);
}
#P679_74
{
left:27862.5px;bottom:36636.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P679_75
{
left:30691.3px;bottom:36680.2px;color:rgb(35,31,31);
}
#P679_76
{
left:31039.8px;bottom:36801.4px;color:rgb(35,31,31);
}
#P679_77
{
left:31500.6px;bottom:36636.8px;color:rgb(35,31,31);
}
#P679_78
{
left:0px;letter-spacing:0px;margin-left:643.3px;
}
#P679_79
{
left:13900.6px;bottom:34588.8px;letter-spacing:9761.6px;color:rgb(35,31,31);
}
#P679_80
{
left:23979px;bottom:34559.3px;color:rgb(35,31,31);
}
#P679_81
{
left:24565.5px;bottom:34588.8px;color:rgb(35,31,31);
}
#P679_82
{
left:24723.9px;bottom:34588.8px;color:rgb(235,26,35);
}
#P679_83
{
left:26060.1px;bottom:34588.8px;color:rgb(35,31,31);
}
#P679_84
{
left:27980.6px;bottom:34596.8px;color:rgb(0,124,196);
}
#P679_85
{
left:0px;letter-spacing:0px;margin-left:-36.9px;
}
#P679_86
{
left:13900.6px;bottom:32732.8px;letter-spacing:1377.6px;color:rgb(35,31,31);
}
#P679_87
{
left:0px;letter-spacing:0px;margin-left:-1377.6px;
}
#P679_88
{
left:19641.6px;bottom:32703.3px;color:rgb(35,31,31);
}
#P679_89
{
left:20228px;bottom:32732.8px;color:rgb(35,31,31);
}
#P679_90
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P679_91
{
left:20575.4px;bottom:33172.5px;color:rgb(35,31,31);
}
#P679_92
{
left:21247.1px;bottom:32750.4px;color:rgb(35,31,31);
}
#P679_93
{
left:20386.4px;bottom:32716.8px;color:rgb(35,31,31);
}
#P679_94
{
left:21436.1px;bottom:32734.1px;color:rgb(35,31,31);
}
#P679_95
{
left:20407.5px;bottom:32264.9px;color:rgb(35,31,31);
}
#P679_96
{
left:21414.9px;bottom:32750.4px;color:rgb(35,31,31);
}
#P679_97
{
left:21436.1px;bottom:32732.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P679_98
{
left:0px;letter-spacing:0px;margin-left:2384.6px;
}
#P679_99
{
left:23979px;bottom:32703.3px;color:rgb(35,31,31);
}
#P679_100
{
left:24565.5px;bottom:32732.8px;color:rgb(35,31,31);
}
#P679_101
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P679_102
{
left:24745px;bottom:33172.5px;color:rgb(235,26,35);
}
#P679_103
{
left:25416.6px;bottom:32750.4px;color:rgb(235,26,35);
}
#P679_104
{
left:24723.9px;bottom:32716.8px;color:rgb(235,26,35);
}
#P679_105
{
left:25437.7px;bottom:32734.1px;color:rgb(235,26,35);
}
#P679_106
{
left:24745px;bottom:32264.9px;color:rgb(235,26,35);
}
#P679_107
{
left:25416.6px;bottom:32750.4px;color:rgb(235,26,35);
}
#P679_108
{
left:25437.7px;bottom:32732.8px;color:rgb(235,26,35);
}
#P679_109
{
left:25437.7px;bottom:32732.8px;color:rgb(35,31,31);
}
#P679_110
{
left:27980.6px;bottom:32740.8px;color:rgb(0,124,196);
}
#P679_111
{
left:0px;letter-spacing:0px;margin-left:-36.9px;
}
#P679_112
{
left:13900.6px;bottom:30876.8px;letter-spacing:9761.6px;color:rgb(35,31,31);
}
#P679_113
{
left:23979px;bottom:30847.3px;color:rgb(35,31,31);
}
#P679_114
{
left:24565.5px;bottom:30876.8px;color:rgb(35,31,31);
}
#P679_115
{
left:24723.9px;bottom:30876.8px;color:rgb(235,26,35);
}
#P679_116
{
left:26029.8px;bottom:30876.8px;color:rgb(35,31,31);
}
#P679_117
{
left:27980.6px;bottom:30884.8px;color:rgb(0,124,196);
}
#P679_118
{
left:0px;letter-spacing:0px;margin-left:-36.9px;
}
#P679_119
{
left:14484.6px;bottom:29212.8px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P679_120
{
left:0px;letter-spacing:-9.3px;margin-left:-554px;
}
#P679_121
{
left:0px;letter-spacing:-1.2px;margin-left:9.3px;
}
#P679_122
{
left:0px;letter-spacing:0px;margin-left:1.2px;
}
#P679_123
{
left:22986.5px;bottom:29256.2px;color:rgb(35,31,31);
}
#P679_124
{
left:23323.3px;bottom:29377.4px;color:rgb(35,31,31);
}
#P679_125
{
left:23784.2px;bottom:29212.8px;color:rgb(35,31,31);
}
#P679_126
{
left:7729.18px;bottom:26686.9px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P679_127
{
left:14597.5px;bottom:26711.4px;color:white;
}
#P679_128
{
left:16981.3px;bottom:26903.2px;color:white;
}
#P679_129
{
left:17221.5px;bottom:26711.4px;word-spacing:-31.9px;color:white;
}
#P679_130
{
left:19989.8px;bottom:26903.2px;color:white;
}
#P679_131
{
left:20230px;bottom:26711.4px;color:white;
}
#P679_132
{
left:21413.7px;bottom:26903.2px;color:white;
}
#P679_133
{
left:21653.8px;bottom:26711.4px;color:white;
}
#P679_134
{
left:12753.1px;bottom:26544.3px;
}
#P679_135
{
left:12753.1px;bottom:26544.3px;color:white;
}
#P679_136
{
left:13824.5px;bottom:25082px;color:rgb(35,31,31);
}
#P679_137
{
left:0px;letter-spacing:0px;margin-left:-224.9px;
}
#P679_138
{
left:0px;letter-spacing:0px;margin-left:77.1px;
}
#P679_139
{
left:0px;letter-spacing:-2.3px;
}
#P679_140
{
left:0px;letter-spacing:0px;margin-left:-18.7px;
}
#P679_141
{
left:0px;letter-spacing:0.2px;
}
#P679_142
{
left:0px;letter-spacing:0px;margin-left:56px;
}
#P679_143
{
left:0px;letter-spacing:-2px;
}
#P679_144
{
left:32402.9px;bottom:25082px;word-spacing:77.1px;color:rgb(35,31,31);
}
#P679_145
{
left:0px;letter-spacing:0px;margin-left:-77.1px;
}
#P679_146
{
left:0px;letter-spacing:0px;margin-left:-10.5px;
}
#P679_147
{
left:13824.4px;bottom:24186px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P679_148
{
left:0px;letter-spacing:-14px;margin-left:-27.7px;
}
#P679_149
{
left:0px;letter-spacing:-0.5px;margin-left:14px;
}
#P679_150
{
left:0px;letter-spacing:-3.5px;margin-left:-13.4px;
}
#P679_151
{
left:33925.6px;bottom:24186px;word-spacing:77.1px;color:rgb(35,31,31);
}
#P679_152
{
left:13824.4px;bottom:23290.2px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P679_153
{
left:0px;letter-spacing:0px;margin-left:1.4px;
}
#P679_154
{
left:13824.4px;bottom:16506px;color:rgb(35,31,31);
}
#P679_155
{
left:0px;letter-spacing:0px;margin-left:-31.6px;
}
#P679_156
{
left:0px;letter-spacing:0px;margin-left:5.5px;
}
#P679_157
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P679_158
{
left:18600.3px;bottom:16945.7px;color:rgb(35,31,31);
}
#P679_159
{
left:19271.9px;bottom:16523.6px;color:rgb(35,31,31);
}
#P679_160
{
left:18579.2px;bottom:16490px;color:rgb(35,31,31);
}
#P679_161
{
left:19293px;bottom:16507.3px;color:rgb(35,31,31);
}
#P679_162
{
left:18600.3px;bottom:16038.1px;color:rgb(35,31,31);
}
#P679_163
{
left:19271.9px;bottom:16523.6px;color:rgb(35,31,31);
}
#P679_164
{
left:19293px;bottom:16506px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P679_165
{
left:0px;letter-spacing:-1.3px;margin-left:158.4px;
}
#P679_166
{
left:13824.5px;bottom:14458px;color:rgb(35,31,31);
}
#P679_167
{
left:15360.5px;bottom:14458px;color:rgb(35,31,31);
}
#P679_168
{
left:18903.6px;bottom:14458px;word-spacing:193.6px;color:rgb(35,31,31);
}
#P679_169
{
left:20398.2px;bottom:14428.5px;color:rgb(35,31,31);
}
#P679_170
{
left:20984.7px;bottom:14458px;color:rgb(35,31,31);
}
#P679_171
{
left:21889.3px;bottom:14458px;color:rgb(235,26,35);
}
#P679_172
{
left:22086.4px;bottom:14458px;color:rgb(35,31,31);
}
#P679_173
{
left:22834.8px;bottom:14428.5px;color:rgb(35,31,31);
}
#P679_174
{
left:23421.2px;bottom:14458px;color:rgb(35,31,31);
}
#P679_175
{
left:26944.5px;bottom:14458px;letter-spacing:-26.4px;color:rgb(35,31,31);
}
#P679_176
{
left:0px;letter-spacing:6.9px;margin-left:26.4px;
}
#P679_177
{
left:29078px;bottom:14458px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P679_178
{
left:0px;letter-spacing:0px;margin-left:-352px;
}
#P679_179
{
left:29451.3px;bottom:14897.7px;color:rgb(35,31,31);
}
#P679_180
{
left:30122.9px;bottom:14475.6px;color:rgb(35,31,31);
}
#P679_181
{
left:29430.2px;bottom:14442px;color:rgb(35,31,31);
}
#P679_182
{
left:30144px;bottom:14459.3px;color:rgb(35,31,31);
}
#P679_183
{
left:29451.3px;bottom:13990.1px;color:rgb(35,31,31);
}
#P679_184
{
left:30122.9px;bottom:14475.6px;color:rgb(35,31,31);
}
#P679_185
{
left:30144px;bottom:14458px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P679_186
{
left:30302.4px;bottom:14428.5px;color:rgb(35,31,31);
}
#P679_187
{
left:30888.8px;bottom:14458px;color:rgb(35,31,31);
}
#P679_188
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P679_189
{
left:31236.2px;bottom:14897.7px;color:rgb(35,31,31);
}
#P679_190
{
left:31907.9px;bottom:14475.6px;color:rgb(35,31,31);
}
#P679_191
{
left:31047.2px;bottom:14442px;color:rgb(35,31,31);
}
#P679_192
{
left:32096.9px;bottom:14459.3px;color:rgb(35,31,31);
}
#P679_193
{
left:31068.3px;bottom:13990.1px;color:rgb(35,31,31);
}
#P679_194
{
left:32075.7px;bottom:14475.6px;color:rgb(35,31,31);
}
#P679_195
{
left:32096.9px;bottom:14458px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P679_196
{
left:32255.3px;bottom:14428.5px;color:rgb(35,31,31);
}
#P679_197
{
left:32841.7px;bottom:14458px;color:rgb(35,31,31);
}
#P679_198
{
left:27680.5px;bottom:12602px;word-spacing:13697.6px;color:rgb(35,31,31);
}
#P679_199
{
left:13824.5px;bottom:11706px;letter-spacing:-1.7px;color:rgb(35,31,31);
}
#P679_200
{
left:0px;letter-spacing:0px;margin-left:1.7px;
}
#P679_201
{
left:0px;letter-spacing:193.6px;margin-left:193.6px;
}
#P679_202
{
left:0px;letter-spacing:0px;margin-left:-193.6px;
}
#P679_203
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P679_204
{
left:22047.3px;bottom:11823.5px;color:rgb(35,31,31);
}
#P679_205
{
left:22203.5px;bottom:11661.9px;color:rgb(35,31,31);
}
#P679_206
{
left:22080.3px;bottom:11816.1px;color:rgb(35,31,31);
}
#P679_207
{
left:23629.1px;bottom:11717.6px;color:rgb(35,31,31);
}
#P679_208
{
left:22273.9px;bottom:11706px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P679_209
{
left:0px;letter-spacing:0px;margin-left:2572.6px;
}
#P679_210
{
left:27074.7px;bottom:11823.5px;color:rgb(35,31,31);
}
#P679_211
{
left:27231px;bottom:11661.9px;color:rgb(35,31,31);
}
#P679_212
{
left:27107.8px;bottom:11816.1px;color:rgb(35,31,31);
}
#P679_213
{
left:29029.7px;bottom:11717.6px;color:rgb(35,31,31);
}
#P679_214
{
left:27301.4px;bottom:11706px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P679_215
{
left:14408.5px;bottom:9850.03px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P679_216
{
left:0px;letter-spacing:-9.3px;margin-left:-554px;
}
#P679_217
{
left:0px;letter-spacing:-2px;margin-left:9.3px;
}
#P679_218
{
left:0px;letter-spacing:0px;margin-left:-212.7px;
}
#P679_219
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P679_220
{
left:0px;letter-spacing:-0.5px;
}
#P679_221
{
left:0px;letter-spacing:0px;margin-left:-6.4px;
}
#P679_222
{
left:13824.5px;bottom:6394.03px;color:rgb(35,31,31);
}
#P679_223
{
left:14288px;bottom:6420.84px;color:rgb(35,31,31);
}
#P679_224
{
left:15488.5px;bottom:6394.03px;letter-spacing:-13.1px;color:rgb(35,31,31);
}
#P679_225
{
left:0px;letter-spacing:-9.3px;margin-left:13.1px;
}
#P679_226
{
left:0px;letter-spacing:-0.4px;margin-left:9.3px;
}
#P679_227
{
left:0px;letter-spacing:0px;margin-left:-6.4px;
}
#P679_228
{
left:13824.5px;bottom:5114.03px;color:rgb(35,31,31);
}
#P679_229
{
left:13914.4px;bottom:5140.84px;word-spacing:453.2px;color:rgb(35,31,31);
}
#P679_230
{
left:15488.5px;bottom:5114.03px;letter-spacing:-1.1px;color:rgb(35,31,31);
}
#P679_231
{
left:0px;letter-spacing:0px;margin-left:-19.8px;
}
#P679_232
{
left:0px;letter-spacing:-1.4px;
}
#P679_233
{
left:0px;letter-spacing:-3.5px;margin-left:1.4px;
}
#P679_234
{
left:0px;letter-spacing:0px;margin-left:3.5px;
}
#P679_235
{
left:32019.2px;bottom:5114.03px;word-spacing:56.3px;color:rgb(35,31,31);
}
#P679_236
{
left:15488.5px;bottom:4218.03px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P679_237
{
left:0px;letter-spacing:0px;margin-left:-16.3px;
}
#P679_238
{
left:8013.4px;bottom:43983.3px;color:rgb(35,31,31);
}
#P679_239
{
left:28021.9px;bottom:20436.8px;color:rgb(35,31,31);
}
#P679_240
{
left:34674.4px;bottom:22108px;color:rgb(35,31,31);
}
#P679_241
{
left:34674.4px;bottom:21436.2px;color:rgb(35,31,31);
}
#P679_242
{
left:20127.4px;bottom:18957.3px;color:rgb(35,31,31);
}
#P679_243
{
left:26516.1px;bottom:18575.9px;color:rgb(35,31,31);
}
#P679_244
{
left:33481.3px;bottom:19286.5px;letter-spacing:-4.7px;color:rgb(35,31,31);
}
#P679_245
{
left:12813px;bottom:19052.7px;color:rgb(35,31,31);
}
#P679_246
{
left:21042.3px;bottom:20869.5px;color:rgb(35,31,31);
}
#P679_247
{
left:13939.9px;bottom:20945.8px;color:rgb(35,31,31);
}
#PageContainer679
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg679.jpg");background-repeat:no-repeat;background-size: 818px 1195px; background-position: 191.35px 79.03px;
}
#ImageContainer679 {bottom:89.97px;left:191.35px;width:817.90px;height:1195.36px;position:absolute;} #TextContainer679 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.example3{position: absolute;top: 227px;left: 165px;}
.example4{position: absolute;top: 608px;left: 165px;}
.now{position: absolute;top: 119px;left: 184px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}

.nyr_exr{position: absolute;top: 153px;left: 217px;}