.tr671{ color:transparent;}
#P671_1
{
left:6973.4px;bottom:43784.6px;color:rgb(35,31,31);
}
#P671_2
{
left:7541.98px;bottom:43804.3px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P671_3
{
left:8573.4px;bottom:43784.6px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P671_4
{
left:8573.4px;bottom:42888.6px;color:rgb(35,31,31);
}
#P671_5
{
left:19491.5px;bottom:42888.6px;color:rgb(0,124,196);
}
#P671_6
{
left:0px;letter-spacing:0px;margin-left:-154.9px;
}
#P671_7
{
left:6973.4px;bottom:41416.6px;color:rgb(35,31,31);
}
#P671_8
{
left:8449.11px;bottom:41436.3px;color:rgb(35,31,31);
}
#P671_9
{
left:9597.41px;bottom:41416.6px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P671_10
{
left:15759.3px;bottom:41436.3px;color:rgb(35,31,31);
}
#P671_11
{
left:16893.4px;bottom:41416.6px;word-spacing:349.9px;color:rgb(35,31,31);
}
#P671_12
{
left:6973.4px;bottom:39880.6px;color:rgb(35,31,31);
}
#P671_13
{
left:8527.26px;bottom:39900.3px;color:rgb(35,31,31);
}
#P671_14
{
left:9597.41px;bottom:39880.6px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P671_15
{
left:15681.1px;bottom:39900.3px;color:rgb(35,31,31);
}
#P671_16
{
left:16893.4px;bottom:39880.6px;word-spacing:349.9px;color:rgb(35,31,31);
}
#P671_17
{
left:6973.4px;bottom:37384.6px;color:rgb(35,31,31);
}
#P671_18
{
left:7541.98px;bottom:37404.3px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P671_19
{
left:8573.4px;bottom:37384.6px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P671_20
{
left:15667.6px;bottom:37384.6px;color:rgb(35,31,31);
}
#P671_21
{
left:16879.2px;bottom:37384.6px;letter-spacing:-0.4px;word-spacing:0.4px;color:rgb(35,31,31);
}
#P671_22
{
left:8573.4px;bottom:36488.6px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P671_23
{
left:12575.7px;bottom:36488.6px;color:rgb(0,124,196);
}
#P671_24
{
left:9287.73px;bottom:35016.6px;word-spacing:2155.9px;color:rgb(35,31,31);
}
#P671_25
{
left:0px;letter-spacing:0px;margin-left:-1540.9px;
}
#P671_26
{
left:11024.9px;bottom:34987.1px;color:rgb(35,31,31);
}
#P671_27
{
left:11611.4px;bottom:35016.6px;color:rgb(35,31,31);
}
#P671_28
{
left:12016.2px;bottom:34987.1px;color:rgb(35,31,31);
}
#P671_29
{
left:12602.5px;bottom:35016.6px;word-spacing:2253.6px;color:rgb(35,31,31);
}
#P671_30
{
left:0px;letter-spacing:0px;margin-left:-1830.5px;
}
#P671_31
{
left:17424.9px;bottom:34987.1px;color:rgb(35,31,31);
}
#P671_32
{
left:18011.4px;bottom:35016.6px;color:rgb(35,31,31);
}
#P671_33
{
left:18416.2px;bottom:34987.1px;color:rgb(35,31,31);
}
#P671_34
{
left:19002.6px;bottom:35016.6px;color:rgb(35,31,31);
}
#P671_35
{
left:8796.34px;bottom:33480.6px;word-spacing:1664.5px;color:rgb(35,31,31);
}
#P671_36
{
left:10493.4px;bottom:33451.1px;color:rgb(35,31,31);
}
#P671_37
{
left:11079.8px;bottom:33480.6px;color:rgb(35,31,31);
}
#P671_38
{
left:11611.4px;bottom:33451.1px;color:rgb(35,31,31);
}
#P671_39
{
left:12197.8px;bottom:33480.6px;color:rgb(35,31,31);
}
#P671_40
{
left:12602.5px;bottom:33451.1px;color:rgb(35,31,31);
}
#P671_41
{
left:13189px;bottom:33480.6px;word-spacing:1565px;color:rgb(35,31,31);
}
#P671_42
{
left:0px;letter-spacing:0px;margin-left:-98.5px;
}
#P671_43
{
left:16893.4px;bottom:33451.1px;color:rgb(35,31,31);
}
#P671_44
{
left:17479.8px;bottom:33480.6px;color:rgb(35,31,31);
}
#P671_45
{
left:18011.4px;bottom:33451.1px;color:rgb(35,31,31);
}
#P671_46
{
left:18597.8px;bottom:33480.6px;color:rgb(35,31,31);
}
#P671_47
{
left:19002.5px;bottom:33451.1px;color:rgb(35,31,31);
}
#P671_48
{
left:19589px;bottom:33480.6px;color:rgb(35,31,31);
}
#P671_49
{
left:6973.4px;bottom:31624.6px;color:rgb(35,31,31);
}
#P671_50
{
left:8696.15px;bottom:31644.3px;letter-spacing:-90.7px;color:rgb(35,31,31);
}
#P671_51
{
left:9597.41px;bottom:31624.6px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P671_52
{
left:0px;letter-spacing:0px;margin-left:-285.9px;
}
#P671_53
{
left:15617.1px;bottom:31644.3px;color:rgb(35,31,31);
}
#P671_54
{
left:16893.4px;bottom:31624.6px;word-spacing:413.9px;color:rgb(35,31,31);
}
#P671_55
{
left:0px;letter-spacing:0px;margin-left:-413.9px;
}
#P671_56
{
left:6973.4px;bottom:30088.6px;color:rgb(35,31,31);
}
#P671_57
{
left:8449.11px;bottom:30108.3px;color:rgb(35,31,31);
}
#P671_58
{
left:9153.11px;bottom:30088.6px;letter-spacing:285.9px;color:rgb(35,31,31);
}
#P671_59
{
left:0px;letter-spacing:0px;margin-left:-285.9px;
}
#P671_60
{
left:15929.7px;bottom:30108.3px;color:rgb(35,31,31);
}
#P671_61
{
left:16321.1px;bottom:30088.6px;letter-spacing:413.9px;color:rgb(35,31,31);
}
#P671_62
{
left:0px;letter-spacing:0px;margin-left:-413.9px;
}
#P671_63
{
left:6973.4px;bottom:27592.6px;color:rgb(35,31,31);
}
#P671_64
{
left:7541.98px;bottom:27612.3px;color:rgb(35,31,31);
}
#P671_65
{
left:8573.4px;bottom:27592.6px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P671_66
{
left:0px;letter-spacing:-2.1px;margin-left:0.6px;
}
#P671_67
{
left:0px;letter-spacing:0px;margin-left:2.1px;
}
#P671_68
{
left:22588.1px;bottom:27592.6px;color:rgb(0,124,196);
}
#P671_69
{
left:6973.4px;bottom:26120.6px;letter-spacing:1441.6px;color:rgb(35,31,31);
}
#P671_70
{
left:16381.4px;bottom:26091.1px;color:rgb(35,31,31);
}
#P671_71
{
left:16967.8px;bottom:26120.6px;color:rgb(35,31,31);
}
#P671_72
{
left:17499.4px;bottom:26091.1px;color:rgb(35,31,31);
}
#P671_73
{
left:18085.8px;bottom:26120.6px;color:rgb(35,31,31);
}
#P671_74
{
left:18490.4px;bottom:26091.1px;color:rgb(35,31,31);
}
#P671_75
{
left:19076.8px;bottom:26120.6px;color:rgb(35,31,31);
}
#P671_76
{
left:19854.7px;bottom:26091.1px;color:rgb(35,31,31);
}
#P671_77
{
left:20441.2px;bottom:26120.6px;color:rgb(35,31,31);
}
#P671_78
{
left:20846px;bottom:26091.1px;color:rgb(35,31,31);
}
#P671_79
{
left:21432.4px;bottom:26120.6px;color:rgb(35,31,31);
}
#P671_80
{
left:6973.34px;bottom:23304.6px;color:rgb(35,31,31);
}
#P671_81
{
left:7541.91px;bottom:23324.3px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P671_82
{
left:8573.34px;bottom:23304.6px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P671_83
{
left:0px;letter-spacing:0px;margin-left:0.6px;
}
#P671_84
{
left:20558.9px;bottom:23304.6px;color:rgb(0,124,196);
}
#P671_85
{
left:0px;letter-spacing:0px;margin-left:-154.9px;
}
#P671_86
{
left:6973.4px;bottom:16187.8px;letter-spacing:1441.6px;color:rgb(35,31,31);
}
#P671_87
{
left:19133.4px;bottom:20420.8px;color:rgb(35,31,31);
}
#P671_88
{
left:15160.4px;bottom:22075.9px;color:rgb(35,31,31);
}
#P671_89
{
left:14375.6px;bottom:20420.8px;color:rgb(35,31,31);
}
#P671_90
{
left:15550.2px;bottom:20420.8px;letter-spacing:513.6px;color:rgb(35,31,31);
}
#P671_91
{
left:14066.6px;bottom:19297.9px;color:rgb(35,31,31);
}
#P671_92
{
left:14466.4px;bottom:19290.2px;color:rgb(35,31,31);
}
#P671_93
{
left:14466.5px;bottom:21589.9px;color:rgb(35,31,31);
}
#P671_94
{
left:14066.6px;bottom:18529.9px;color:rgb(35,31,31);
}
#P671_95
{
left:14466.4px;bottom:18522.2px;color:rgb(35,31,31);
}
#P671_96
{
left:14066.6px;bottom:17755.9px;color:rgb(35,31,31);
}
#P671_97
{
left:14466.4px;bottom:17748.3px;color:rgb(35,31,31);
}
#P671_98
{
left:15102.4px;bottom:16856.2px;color:rgb(0,124,196);
}
#P671_99
{
left:15934.7px;bottom:16849.3px;color:rgb(0,124,196);
}
#P671_100
{
left:16414.5px;bottom:16856.2px;color:rgb(0,124,196);
}
#P671_101
{
left:16587.6px;bottom:21196.9px;color:rgb(0,124,196);
}
#P671_102
{
left:6973.4px;bottom:14191px;color:rgb(35,31,31);
}
#P671_103
{
left:8449.11px;bottom:14210.7px;color:rgb(35,31,31);
}
#P671_104
{
left:9153.11px;bottom:14191px;letter-spacing:285.9px;color:rgb(35,31,31);
}
#P671_105
{
left:0px;letter-spacing:0px;margin-left:-444.3px;
}
#P671_106
{
left:9618.52px;bottom:14630.7px;color:rgb(35,31,31);
}
#P671_107
{
left:9954.33px;bottom:14208.6px;color:rgb(35,31,31);
}
#P671_108
{
left:9597.4px;bottom:14175px;color:rgb(35,31,31);
}
#P671_109
{
left:9975.45px;bottom:14192.3px;color:rgb(35,31,31);
}
#P671_110
{
left:9618.52px;bottom:13723.2px;color:rgb(35,31,31);
}
#P671_111
{
left:9954.33px;bottom:14208.6px;color:rgb(35,31,31);
}
#P671_112
{
left:9975.45px;bottom:14191px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P671_113
{
left:23119.3px;bottom:14210.7px;color:rgb(35,31,31);
}
#P671_114
{
left:23745.1px;bottom:14191px;letter-spacing:285.9px;color:rgb(35,31,31);
}
#P671_115
{
left:6973.4px;bottom:11887px;color:rgb(35,31,31);
}
#P671_116
{
left:8527.26px;bottom:11906.7px;color:rgb(35,31,31);
}
#P671_117
{
left:9153.11px;bottom:11887px;letter-spacing:285.9px;color:rgb(35,31,31);
}
#P671_118
{
left:0px;letter-spacing:0px;margin-left:-444.3px;
}
#P671_119
{
left:9618.52px;bottom:12326.7px;color:rgb(35,31,31);
}
#P671_120
{
left:9954.33px;bottom:11904.6px;color:rgb(35,31,31);
}
#P671_121
{
left:9597.4px;bottom:11871px;color:rgb(35,31,31);
}
#P671_122
{
left:9975.45px;bottom:11888.3px;color:rgb(35,31,31);
}
#P671_123
{
left:9618.52px;bottom:11419.2px;color:rgb(35,31,31);
}
#P671_124
{
left:9954.33px;bottom:11904.6px;color:rgb(35,31,31);
}
#P671_125
{
left:9975.45px;bottom:11887px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P671_126
{
left:23041.1px;bottom:11906.7px;color:rgb(35,31,31);
}
#P671_127
{
left:23745.1px;bottom:11887px;letter-spacing:285.9px;color:rgb(35,31,31);
}
#P671_128
{
left:6973.4px;bottom:9199.02px;color:rgb(35,31,31);
}
#P671_129
{
left:7541.85px;bottom:9218.73px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P671_130
{
left:8573.27px;bottom:9199.02px;letter-spacing:-2px;color:rgb(35,31,31);
}
#P671_131
{
left:0px;letter-spacing:-5.6px;margin-left:2px;
}
#P671_132
{
left:0px;letter-spacing:0px;margin-left:5.6px;
}
#P671_133
{
left:23818.8px;bottom:9199.02px;letter-spacing:0.9px;color:rgb(0,124,196);
}
#P671_134
{
left:6973.4px;bottom:6896.62px;color:rgb(0,124,196);
}
#P671_135
{
left:7933.27px;bottom:7064.17px;color:rgb(0,124,196);
}
#P671_136
{
left:20205.7px;bottom:7309.61px;color:rgb(35,31,31);
}
#P671_137
{
left:17203.3px;bottom:7312.17px;color:rgb(35,31,31);
}
#P671_138
{
left:13753.9px;bottom:7200.04px;color:rgb(35,31,31);
}
#P671_139
{
left:14180.4px;bottom:7313.71px;color:rgb(35,31,31);
}
#P671_140
{
left:12273.2px;bottom:7200.04px;color:rgb(35,31,31);
}
#P671_141
{
left:12699.7px;bottom:7313.71px;color:rgb(35,31,31);
}
#P671_142
{
left:10779.7px;bottom:7200.04px;color:rgb(35,31,31);
}
#P671_143
{
left:11206.2px;bottom:7313.71px;color:rgb(35,31,31);
}
#P671_144
{
left:9286.17px;bottom:7200.04px;color:rgb(35,31,31);
}
#P671_145
{
left:9712.67px;bottom:7313.71px;color:rgb(35,31,31);
}
#P671_146
{
left:15702px;bottom:7309.61px;color:rgb(35,31,31);
}
#P671_147
{
left:21706.3px;bottom:7324.46px;letter-spacing:1216.5px;color:rgb(35,31,31);
}
#P671_148
{
left:18704.4px;bottom:7311.15px;color:rgb(35,31,31);
}
#P671_149
{
left:6973.4px;bottom:5424.56px;color:rgb(35,31,31);
}
#P671_150
{
left:8696.15px;bottom:5444.27px;letter-spacing:-90.7px;color:rgb(35,31,31);
}
#P671_151
{
left:9153.11px;bottom:5424.56px;color:rgb(35,31,31);
}
#P671_152
{
left:9597.4px;bottom:5394.99px;color:rgb(35,31,31);
}
#P671_153
{
left:10183.8px;bottom:5424.56px;color:rgb(35,31,31);
}
#P671_154
{
left:10715.4px;bottom:5394.99px;color:rgb(35,31,31);
}
#P671_155
{
left:11301.8px;bottom:5424.56px;color:rgb(35,31,31);
}
#P671_156
{
left:11833.3px;bottom:5424.56px;color:rgb(35,31,31);
}
#P671_157
{
left:12196.5px;bottom:5424.56px;color:rgb(35,31,31);
}
#P671_158
{
left:12914.6px;bottom:5394.99px;color:rgb(35,31,31);
}
#P671_159
{
left:13501px;bottom:5424.56px;color:rgb(35,31,31);
}
#P671_160
{
left:23041.1px;bottom:5444.27px;color:rgb(35,31,31);
}
#P671_161
{
left:24189.4px;bottom:5424.56px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P671_162
{
left:24721px;bottom:5394.99px;color:rgb(35,31,31);
}
#P671_163
{
left:25307.5px;bottom:5424.56px;color:rgb(35,31,31);
}
#P671_164
{
left:25839px;bottom:5424.56px;color:rgb(35,31,31);
}
#P671_165
{
left:26202.3px;bottom:5424.56px;color:rgb(35,31,31);
}
#P671_166
{
left:26920.2px;bottom:5394.99px;color:rgb(35,31,31);
}
#P671_167
{
left:27506.6px;bottom:5424.56px;color:rgb(35,31,31);
}
#P671_168
{
left:6973.4px;bottom:4016.56px;color:rgb(35,31,31);
}
#P671_169
{
left:8449.11px;bottom:4036.27px;color:rgb(35,31,31);
}
#P671_170
{
left:9153.11px;bottom:4016.56px;letter-spacing:285.9px;color:rgb(35,31,31);
}
#P671_171
{
left:9970.52px;bottom:4016.56px;color:rgb(35,31,31);
}
#P671_172
{
left:10333.8px;bottom:4016.56px;color:rgb(35,31,31);
}
#P671_173
{
left:10492.2px;bottom:3986.99px;color:rgb(35,31,31);
}
#P671_174
{
left:11078.6px;bottom:4016.56px;color:rgb(35,31,31);
}
#P671_175
{
left:11768.5px;bottom:4192.56px;color:rgb(35,31,31);
}
#P671_176
{
left:12155px;bottom:4016.56px;color:rgb(35,31,31);
}
#P671_177
{
left:23353.7px;bottom:4036.27px;color:rgb(35,31,31);
}
#P671_178
{
left:23745.1px;bottom:4016.56px;letter-spacing:285.9px;color:rgb(35,31,31);
}
#P671_179
{
left:24562.6px;bottom:4016.56px;color:rgb(35,31,31);
}
#P671_180
{
left:24925.9px;bottom:4016.56px;color:rgb(35,31,31);
}
#P671_181
{
left:25084.3px;bottom:3986.99px;color:rgb(35,31,31);
}
#P671_182
{
left:25670.7px;bottom:4016.56px;color:rgb(35,31,31);
}
#P671_183
{
left:26360.5px;bottom:4192.56px;color:rgb(35,31,31);
}
#P671_184
{
left:26747px;bottom:4016.56px;color:rgb(35,31,31);
}
#P671_185
{
left:4592.6px;bottom:1544.43px;color:rgb(35,31,31);
}
#P671_186
{
left:27821px;bottom:1544.43px;letter-spacing:1.8px;word-spacing:461.5px;color:rgb(35,31,31);
}
#P671_187
{
left:0px;letter-spacing:0px;margin-left:176.7px;
}
#P671_188
{
left:0px;letter-spacing:6.3px;margin-left:21.2px;
}
#P671_189
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P671_190
{
left:6651.35px;bottom:46893.1px;letter-spacing:-0.7px;word-spacing:-49.6px;color:white;
}
#P671_191
{
left:0px;bottom:0px;letter-spacing:-220px;color:white;
}
#P671_192
{
left:28071.3px;bottom:45118.6px;color:rgb(35,31,31);
}
#P671_193
{
left:0px;letter-spacing:0px;margin-left:-38.7px;
}
#P671_194
{
left:0px;letter-spacing:0px;margin-left:-33px;
}
#P671_195
{
left:30644.4px;bottom:44937.5px;color:rgb(35,31,31);
}
#P671_196
{
left:30818px;bottom:44757px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P671_197
{
left:25999.5px;bottom:44294px;color:rgb(0,124,196);
}
#P671_198
{
left:29575.4px;bottom:43980.8px;color:rgb(0,124,196);
}
#P671_199
{
left:29749px;bottom:43800.4px;color:rgb(0,124,196);
}
#P671_200
{
left:0px;letter-spacing:0px;margin-left:-12.5px;
}
#P671_201
{
left:0px;letter-spacing:0px;margin-left:-26px;
}
#P671_202
{
left:35303.2px;bottom:43226.7px;color:rgb(0,124,196);
}
#P671_203
{
left:35476.8px;bottom:43046.2px;color:rgb(0,124,196);
}
#P671_204
{
left:24509.1px;bottom:33033.4px;letter-spacing:-6px;word-spacing:0.2px;color:rgb(33,31,31);
}
#P671_205
{
left:27652.5px;bottom:32591.6px;color:rgb(7,1,2);
}
#P671_206
{
left:27823.1px;bottom:32567.6px;letter-spacing:-6px;word-spacing:0.3px;color:rgb(235,26,35);
}
#P671_207
{
left:24501.5px;bottom:32388.2px;letter-spacing:-6.8px;color:rgb(235,26,35);
}
#P671_208
{
left:0px;letter-spacing:-5.8px;margin-left:-10.5px;
}
#P671_209
{
left:30748.5px;bottom:31510.3px;letter-spacing:-34.4px;color:rgb(33,31,31);
}
#P671_210
{
left:0px;letter-spacing:-5.8px;margin-left:28.7px;
}
#P671_211
{
left:24440.5px;bottom:31750.6px;letter-spacing:-7.8px;word-spacing:-0.1px;color:rgb(33,31,31);
}
#P671_212
{
left:0px;letter-spacing:-5.6px;margin-left:174.3px;
}
#P671_213
{
left:0px;letter-spacing:0px;margin-left:-52px;
}
#P671_214
{
left:6973.4px;bottom:26120.6px;
}
#P671_215
{
left:4097.75px;bottom:46399px;
}
#PageContainer671
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg671.jpg");background-repeat:no-repeat;background-size: 1033px 1270px; background-position: 1.67px 0.119999999999891px;
}
#ImageContainer671 {bottom:93.88px;left:1.67px;width:1033.42px;height:1270.28px;position:absolute;} #TextContainer671 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}