.tr78{ color:transparent;}
#P78_1
{
left:0px;bottom:0px;letter-spacing:-8.9px;color:white;
}
#P78_2
{
left:0px;bottom:0px;letter-spacing:0px;color:white;
}
#P78_3
{
left:0px;bottom:0px;letter-spacing:0px;color:white;
}
#P78_4
{
left:0px;bottom:0px;letter-spacing:0px;color:white;
}
#P78_5
{
left:0px;bottom:0px;letter-spacing:0px;color:white;
}
#P78_6
{
left:0px;bottom:0px;letter-spacing:0px;color:white;
}
#P78_7
{
left:5781.85px;bottom:39618.4px;word-spacing:994.6px;
}
#P78_8
{
left:11661.8px;bottom:39916.8px;
}
#P78_9
{
left:12035.5px;bottom:39618.4px;
}
#P78_10
{
left:13878.1px;bottom:39916.8px;
}
#P78_11
{
left:14251.7px;bottom:39618.4px;letter-spacing:-3.4px;
}
#P78_12
{
left:19106.4px;bottom:39916.8px;
}
#P78_13
{
left:5781.85px;bottom:39618.4px;word-spacing:994.6px;color:white;
}
#P78_14
{
left:19480px;bottom:39618.4px;
}
#P78_15
{
left:11661.8px;bottom:39916.8px;color:white;
}
#P78_16
{
left:12035.5px;bottom:39618.4px;color:white;
}
#P78_17
{
left:13878.1px;bottom:39916.8px;color:white;
}
#P78_18
{
left:14251.7px;bottom:39618.4px;letter-spacing:-3.4px;color:white;
}
#P78_19
{
left:19106.5px;bottom:39916.8px;color:white;
}
#P78_20
{
left:19480.2px;bottom:39618.4px;color:white;
}
#P78_21
{
left:5781.85px;bottom:37429.6px;word-spacing:994.6px;
}
#P78_22
{
left:9769.5px;bottom:37728px;
}
#P78_23
{
left:10143.1px;bottom:37429.6px;
}
#P78_24
{
left:10840.7px;bottom:37728px;
}
#P78_25
{
left:11214.3px;bottom:37429.6px;
}
#P78_26
{
left:11985.8px;bottom:37728px;
}
#P78_27
{
left:12359.4px;bottom:37429.6px;letter-spacing:-3.4px;
}
#P78_28
{
left:17214px;bottom:37728px;
}
#P78_29
{
left:5781.85px;bottom:37429.6px;word-spacing:994.6px;color:white;
}
#P78_30
{
left:17587.7px;bottom:37429.6px;
}
#P78_31
{
left:9769.5px;bottom:37728px;color:white;
}
#P78_32
{
left:10143.1px;bottom:37429.6px;color:white;
}
#P78_33
{
left:10840.7px;bottom:37728px;color:white;
}
#P78_34
{
left:11214.3px;bottom:37429.6px;color:white;
}
#P78_35
{
left:11985.8px;bottom:37728px;color:white;
}
#P78_36
{
left:12359.4px;bottom:37429.6px;letter-spacing:-3.4px;color:white;
}
#P78_37
{
left:17214.2px;bottom:37728px;color:white;
}
#P78_38
{
left:17587.8px;bottom:37429.6px;color:white;
}
#P78_39
{
left:5781.85px;bottom:35240.8px;word-spacing:994.6px;
}
#P78_40
{
left:9769.5px;bottom:35539.2px;
}
#P78_41
{
left:10143.1px;bottom:35240.8px;
}
#P78_42
{
left:10840.7px;bottom:35539.2px;
}
#P78_43
{
left:11214.3px;bottom:35240.8px;
}
#P78_44
{
left:11985.8px;bottom:35539.2px;
}
#P78_45
{
left:12359.4px;bottom:35240.8px;
}
#P78_46
{
left:15372.6px;bottom:35539.2px;
}
#P78_47
{
left:5781.85px;bottom:35240.8px;word-spacing:994.6px;color:white;
}
#P78_48
{
left:15746.3px;bottom:35240.8px;letter-spacing:-1.1px;
}
#P78_49
{
left:9769.5px;bottom:35539.2px;color:white;
}
#P78_50
{
left:10143.1px;bottom:35240.8px;color:white;
}
#P78_51
{
left:10840.7px;bottom:35539.2px;color:white;
}
#P78_52
{
left:11214.3px;bottom:35240.8px;color:white;
}
#P78_53
{
left:11985.8px;bottom:35539.2px;color:white;
}
#P78_54
{
left:12359.4px;bottom:35240.8px;color:white;
}
#P78_55
{
left:15372.6px;bottom:35539.2px;color:white;
}
#P78_56
{
left:15746.3px;bottom:35240.8px;letter-spacing:-1.1px;color:white;
}
#P78_57
{
left:5781.85px;bottom:33052px;word-spacing:945px;
}
#P78_58
{
left:11237.3px;bottom:33350.4px;
}
#P78_59
{
left:11610.9px;bottom:33052px;letter-spacing:-1.7px;
}
#P78_60
{
left:21172.2px;bottom:33350.4px;
}
#P78_61
{
left:21545.9px;bottom:33052px;
}
#P78_62
{
left:25629px;bottom:33350.4px;
}
#P78_63
{
left:5781.85px;bottom:33052px;word-spacing:945px;color:white;
}
#P78_64
{
left:26002.6px;bottom:33052px;
}
#P78_65
{
left:11237.3px;bottom:33350.4px;color:white;
}
#P78_66
{
left:11610.9px;bottom:33052px;letter-spacing:-1.7px;color:white;
}
#P78_67
{
left:21172.4px;bottom:33350.4px;color:white;
}
#P78_68
{
left:21546px;bottom:33052px;color:white;
}
#P78_69
{
left:25629.1px;bottom:33350.4px;color:white;
}
#P78_70
{
left:26002.7px;bottom:33052px;color:white;
}
#P78_71
{
left:5781.85px;bottom:30863.2px;word-spacing:994.6px;
}
#P78_72
{
left:11661.8px;bottom:31161.6px;
}
#P78_73
{
left:12035.5px;bottom:30863.2px;
}
#P78_74
{
left:13878.1px;bottom:31161.6px;
}
#P78_75
{
left:14251.7px;bottom:30863.2px;
}
#P78_76
{
left:18334.8px;bottom:31161.6px;
}
#P78_77
{
left:5781.85px;bottom:30863.2px;word-spacing:994.6px;color:white;
}
#P78_78
{
left:18708.4px;bottom:30863.2px;
}
#P78_79
{
left:11661.8px;bottom:31161.6px;color:white;
}
#P78_80
{
left:12035.5px;bottom:30863.2px;color:white;
}
#P78_81
{
left:13878.1px;bottom:31161.6px;color:white;
}
#P78_82
{
left:14251.7px;bottom:30863.2px;color:white;
}
#P78_83
{
left:18334.8px;bottom:31161.6px;color:white;
}
#P78_84
{
left:18708.4px;bottom:30863.2px;color:white;
}
#P78_85
{
left:5781.85px;bottom:28674.4px;word-spacing:994.6px;
}
#P78_86
{
left:9769.5px;bottom:28972.8px;
}
#P78_87
{
left:10143.1px;bottom:28674.4px;
}
#P78_88
{
left:10840.7px;bottom:28972.8px;
}
#P78_89
{
left:11214.3px;bottom:28674.4px;
}
#P78_90
{
left:11985.8px;bottom:28972.8px;
}
#P78_91
{
left:12359.4px;bottom:28674.4px;
}
#P78_92
{
left:16442.5px;bottom:28972.8px;
}
#P78_93
{
left:5781.85px;bottom:28674.4px;word-spacing:994.6px;color:white;
}
#P78_94
{
left:16816.1px;bottom:28674.4px;
}
#P78_95
{
left:9769.5px;bottom:28972.8px;color:white;
}
#P78_96
{
left:10143.1px;bottom:28674.4px;color:white;
}
#P78_97
{
left:10840.7px;bottom:28972.8px;color:white;
}
#P78_98
{
left:11214.3px;bottom:28674.4px;color:white;
}
#P78_99
{
left:11985.8px;bottom:28972.8px;color:white;
}
#P78_100
{
left:12359.4px;bottom:28674.4px;color:white;
}
#P78_101
{
left:16442.5px;bottom:28972.8px;color:white;
}
#P78_102
{
left:16816.1px;bottom:28674.4px;color:white;
}
#P78_103
{
left:10921.7px;bottom:15683.5px;letter-spacing:0.1px;word-spacing:-0.1px;color:rgb(33,31,31);
}
#P78_104
{
left:0px;letter-spacing:0px;margin-left:-34.6px;
}
#P78_105
{
left:0px;letter-spacing:0.1px;margin-left:-51.3px;
}
#P78_106
{
left:17480.5px;bottom:15998.6px;color:rgb(7,1,2);
}
#P78_107
{
left:17658.3px;bottom:16007.1px;color:rgb(0,102,177);
}
#P78_108
{
left:19291.2px;bottom:16085.5px;color:rgb(7,1,2);
}
#P78_109
{
left:19468.8px;bottom:16094.1px;color:rgb(33,31,31);
}
#P78_110
{
left:10486.3px;bottom:15022px;letter-spacing:-0.3px;color:rgb(33,31,31);
}
#P78_111
{
left:0px;letter-spacing:-21px;margin-left:-11.2px;
}
#P78_112
{
left:0px;letter-spacing:0px;margin-left:-30.8px;
}
#P78_113
{
left:23347.7px;bottom:16209.1px;letter-spacing:0.1px;word-spacing:-0.1px;color:rgb(33,31,31);
}
#P78_114
{
left:0px;letter-spacing:0.1px;margin-left:856.2px;
}
#P78_115
{
left:0px;letter-spacing:0.1px;margin-left:148.3px;
}
#P78_116
{
left:0px;letter-spacing:0.1px;margin-left:148.3px;
}
#P78_117
{
left:23313px;bottom:15246.1px;letter-spacing:1px;color:rgb(33,31,31);
}
#P78_118
{
left:24475.4px;bottom:15301.9px;color:rgb(7,1,2);
}
#P78_119
{
left:24651.2px;bottom:15310.6px;color:rgb(0,102,177);
}
#P78_120
{
left:26300.8px;bottom:15389.8px;color:rgb(7,1,2);
}
#P78_121
{
left:26476.6px;bottom:15398.2px;color:rgb(33,31,31);
}
#P78_122
{
left:26472.3px;bottom:14821.4px;letter-spacing:-1.5px;color:rgb(33,31,31);
}
#P78_123
{
left:0px;letter-spacing:0px;margin-left:1.5px;
}
#P78_124
{
left:4546.99px;bottom:4336.32px;letter-spacing:-1.5px;color:rgb(7,1,2);
}
#P78_125
{
left:0px;letter-spacing:1.6px;margin-left:-15.8px;
}
#P78_126
{
left:0px;letter-spacing:-3.6px;margin-left:-1.6px;
}
#P78_127
{
left:0px;letter-spacing:-3.8px;margin-left:3.6px;
}
#P78_128
{
left:5634.86px;bottom:3648.27px;letter-spacing:-2.3px;word-spacing:0.1px;color:rgb(7,1,2);
}
#P78_129
{
left:0px;letter-spacing:-0.7px;margin-left:2.2px;
}
#P78_130
{
left:0px;letter-spacing:-0.1px;margin-left:-10.8px;
}
#P78_131
{
left:0px;bottom:0px;letter-spacing:0px;color:white;
}
#P78_132
{
left:6845.4px;bottom:45368.1px;
}
#P78_133
{
left:13245.3px;bottom:46007.5px;
}
#P78_134
{
left:14046px;bottom:45368.1px;
}
#P78_135
{
left:6845.4px;bottom:41912.1px;
}
#P78_136
{
left:11591.6px;bottom:42551.5px;
}
#P78_137
{
left:12392.3px;bottom:41912.1px;
}
#P78_138
{
left:2365.4px;bottom:42014.1px;
}
#PageContainer78
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg078.jpg");background-repeat:no-repeat;background-size: 1066px 1364px; background-position: right bottom;
}
#ImageContainer78 {bottom:0.00px;right:0.00px;width:1066.24px;height:1364.16px;position:absolute;} #TextContainer78 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}