.tr253{ color:transparent;}
#P253_1
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P253_2
{
left:22317.1px;bottom:1410.03px;color:rgb(35,31,31);
}
#P253_3
{
left:26871.7px;bottom:1410.03px;letter-spacing:1.4px;word-spacing:461.8px;color:rgb(35,31,31);
}
#P253_4
{
left:0px;letter-spacing:0px;margin-left:-463.3px;
}
#P253_5
{
left:0px;letter-spacing:1.7px;margin-left:0.3px;
}
#P253_6
{
left:0px;letter-spacing:0px;margin-left:-463.6px;
}
#P253_7
{
left:0px;letter-spacing:2.6px;margin-left:0.3px;
}
#P253_8
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P253_9
{
left:14224.2px;bottom:41944.7px;color:rgb(35,31,31);
}
#P253_10
{
left:14562.8px;bottom:42101px;color:rgb(35,31,31);
}
#P253_11
{
left:14758.5px;bottom:41944.7px;color:rgb(35,31,31);
}
#P253_12
{
left:15554px;bottom:42101px;color:rgb(35,31,31);
}
#P253_13
{
left:15749.7px;bottom:41944.7px;letter-spacing:-3.7px;color:rgb(35,31,31);
}
#P253_14
{
left:0px;letter-spacing:0px;margin-left:3.7px;
}
#P253_15
{
left:14224.2px;bottom:40837px;letter-spacing:-13.1px;color:rgb(35,31,31);
}
#P253_16
{
left:0px;letter-spacing:-0.7px;margin-left:13.1px;
}
#P253_17
{
left:0px;letter-spacing:-3.2px;margin-left:-6.2px;
}
#P253_18
{
left:0px;letter-spacing:-0.6px;margin-left:3.2px;
}
#P253_19
{
left:0px;letter-spacing:-0.5px;margin-left:0.6px;
}
#P253_20
{
left:14224.2px;bottom:39726.1px;letter-spacing:-5.4px;color:rgb(2,77,161);
}
#P253_21
{
left:16196.7px;bottom:39709px;letter-spacing:508.3px;color:rgb(35,31,31);
}
#P253_22
{
left:16900.7px;bottom:39685px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P253_23
{
left:0px;letter-spacing:-0.5px;margin-left:0.7px;
}
#P253_24
{
left:0px;letter-spacing:0px;margin-left:-13.5px;
}
#P253_25
{
left:14224.2px;bottom:38542.1px;letter-spacing:8.1px;color:rgb(2,77,161);
}
#P253_26
{
left:17110.7px;bottom:38509px;color:rgb(35,31,31);
}
#P253_27
{
left:17782.7px;bottom:38533px;letter-spacing:9.1px;word-spacing:359.5px;color:rgb(35,31,31);
}
#P253_28
{
left:0px;letter-spacing:-3.8px;margin-left:-9px;
}
#P253_29
{
left:0px;letter-spacing:0px;margin-left:-49.2px;
}
#P253_30
{
left:0px;letter-spacing:4.1px;margin-left:10.6px;
}
#P253_31
{
left:0px;letter-spacing:0px;margin-left:106.9px;
}
#P253_32
{
left:0px;letter-spacing:7.4px;margin-left:-6px;
}
#P253_33
{
left:14224.2px;bottom:36645px;color:rgb(35,31,31);
}
#P253_34
{
left:16272.2px;bottom:36645px;letter-spacing:2273.6px;color:rgb(235,26,35);
}
#P253_35
{
left:0px;letter-spacing:0px;margin-left:-2431.9px;
}
#P253_36
{
left:18734.4px;bottom:37055.9px;color:rgb(235,26,35);
}
#P253_37
{
left:19070.2px;bottom:36662.6px;color:rgb(235,26,35);
}
#P253_38
{
left:18713.3px;bottom:36629px;color:rgb(235,26,35);
}
#P253_39
{
left:19091.4px;bottom:36646.3px;color:rgb(235,26,35);
}
#P253_40
{
left:18734.4px;bottom:36148.3px;color:rgb(235,26,35);
}
#P253_41
{
left:19070.2px;bottom:36662.6px;color:rgb(235,26,35);
}
#P253_42
{
left:19091.4px;bottom:36645px;letter-spacing:-158.4px;color:rgb(235,26,35);
}
#P253_43
{
left:19664.2px;bottom:36647.6px;color:rgb(235,26,35);
}
#P253_44
{
left:20748.6px;bottom:36677.2px;letter-spacing:7.1px;word-spacing:332.6px;color:rgb(235,26,35);
}
#P253_45
{
left:22032px;bottom:36647.6px;color:rgb(235,26,35);
}
#P253_46
{
left:23184.1px;bottom:36677.2px;letter-spacing:-6px;word-spacing:413.2px;color:rgb(235,26,35);
}
#P253_47
{
left:23924.4px;bottom:36677px;color:rgb(35,31,31);
}
#P253_48
{
left:28304.2px;bottom:36677px;letter-spacing:-6px;color:rgb(2,77,161);
}
#P253_49
{
left:29648.1px;bottom:36647.5px;word-spacing:427.8px;color:rgb(2,77,161);
}
#P253_50
{
left:30864.2px;bottom:36645px;letter-spacing:-158.4px;color:rgb(2,77,161);
}
#P253_51
{
left:30894.4px;bottom:37055.9px;color:rgb(2,77,161);
}
#P253_52
{
left:31230.2px;bottom:36662.6px;color:rgb(2,77,161);
}
#P253_53
{
left:30873.3px;bottom:36629px;color:rgb(2,77,161);
}
#P253_54
{
left:31251.4px;bottom:36646.3px;color:rgb(2,77,161);
}
#P253_55
{
left:30894.4px;bottom:36148.3px;color:rgb(2,77,161);
}
#P253_56
{
left:31230.2px;bottom:36662.6px;color:rgb(2,77,161);
}
#P253_57
{
left:31251.4px;bottom:36645px;letter-spacing:-158.4px;color:rgb(2,77,161);
}
#P253_58
{
left:31504.2px;bottom:36647.6px;color:rgb(2,77,161);
}
#P253_59
{
left:32656.2px;bottom:36677.2px;letter-spacing:10.6px;word-spacing:396.6px;color:rgb(2,77,161);
}
#P253_60
{
left:17296.2px;bottom:35013.2px;word-spacing:1288.7px;color:rgb(235,26,35);
}
#P253_61
{
left:0px;letter-spacing:25.2px;margin-left:-15.2px;
}
#P253_62
{
left:0px;letter-spacing:10.7px;margin-left:-30.8px;
}
#P253_63
{
left:0px;letter-spacing:7.4px;margin-left:-14.9px;
}
#P253_64
{
left:0px;letter-spacing:5.9px;margin-left:4.7px;
}
#P253_65
{
left:0px;letter-spacing:0px;margin-left:-14.3px;
}
#P253_66
{
left:0px;letter-spacing:0px;margin-left:-1288.7px;
}
#P253_67
{
left:0px;letter-spacing:6.8px;margin-left:7.9px;
}
#P253_68
{
left:0px;letter-spacing:-8.4px;margin-left:-12.1px;
}
#P253_69
{
left:28304.1px;bottom:35013.2px;letter-spacing:3173px;word-spacing:7.3px;color:rgb(2,77,161);
}
#P253_70
{
left:0px;letter-spacing:0.5px;margin-left:-3180.2px;
}
#P253_71
{
left:0px;letter-spacing:16.3px;margin-left:20.5px;
}
#P253_72
{
left:0px;letter-spacing:-1.1px;margin-left:-16.4px;
}
#P253_73
{
left:0px;letter-spacing:9.8px;margin-left:-0.8px;
}
#P253_74
{
left:0px;letter-spacing:0px;margin-left:-17px;
}
#P253_75
{
left:7877.47px;bottom:32148.8px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P253_76
{
left:14745.8px;bottom:32173.4px;color:white;
}
#P253_77
{
left:15161.3px;bottom:32365.2px;color:white;
}
#P253_78
{
left:15401.5px;bottom:32173.4px;color:white;
}
#P253_79
{
left:16377.8px;bottom:32365.2px;color:white;
}
#P253_80
{
left:16618px;bottom:32173.4px;letter-spacing:-4.6px;color:white;
}
#P253_81
{
left:0px;letter-spacing:0px;margin-left:4.6px;
}
#P253_82
{
left:12901.4px;bottom:32006.3px;
}
#P253_83
{
left:12901.4px;bottom:32006.3px;color:white;
}
#P253_84
{
left:13972.7px;bottom:30544px;color:rgb(35,31,31);
}
#P253_85
{
left:15244.7px;bottom:29072px;word-spacing:993.6px;color:rgb(35,31,31);
}
#P253_86
{
left:16149.3px;bottom:29042.4px;color:rgb(35,31,31);
}
#P253_87
{
left:16735.8px;bottom:29072px;color:rgb(35,31,31);
}
#P253_88
{
left:18388.8px;bottom:29042.4px;color:rgb(35,31,31);
}
#P253_89
{
left:18975.1px;bottom:29072px;color:rgb(35,31,31);
}
#P253_90
{
left:20038.2px;bottom:29042.4px;color:rgb(35,31,31);
}
#P253_91
{
left:20624.6px;bottom:29072px;color:rgb(35,31,31);
}
#P253_92
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P253_93
{
left:20804.1px;bottom:29511.7px;color:rgb(35,31,31);
}
#P253_94
{
left:21139.9px;bottom:29089.6px;color:rgb(35,31,31);
}
#P253_95
{
left:20783px;bottom:29056px;color:rgb(35,31,31);
}
#P253_96
{
left:21161px;bottom:29073.2px;color:rgb(35,31,31);
}
#P253_97
{
left:20804.1px;bottom:28604.1px;color:rgb(35,31,31);
}
#P253_98
{
left:21139.9px;bottom:29089.6px;color:rgb(35,31,31);
}
#P253_99
{
left:24340.8px;bottom:29080px;letter-spacing:-0.6px;color:rgb(0,124,196);
}
#P253_100
{
left:13972.8px;bottom:27088px;letter-spacing:993.6px;color:rgb(35,31,31);
}
#P253_101
{
left:0px;letter-spacing:0px;margin-left:1953.6px;
}
#P253_102
{
left:18388.8px;bottom:27058.4px;color:rgb(35,31,31);
}
#P253_103
{
left:18975.1px;bottom:27088px;color:rgb(35,31,31);
}
#P253_104
{
left:19985.4px;bottom:26649.4px;color:rgb(35,31,31);
}
#P253_105
{
left:20337.2px;bottom:27088px;color:rgb(35,31,31);
}
#P253_106
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P253_107
{
left:20675.1px;bottom:27527.7px;color:rgb(35,31,31);
}
#P253_108
{
left:21010.9px;bottom:27105.6px;color:rgb(35,31,31);
}
#P253_109
{
left:20654px;bottom:27072px;color:rgb(35,31,31);
}
#P253_110
{
left:21032px;bottom:27089.2px;color:rgb(35,31,31);
}
#P253_111
{
left:20675.1px;bottom:26620.1px;color:rgb(35,31,31);
}
#P253_112
{
left:21010.8px;bottom:27105.6px;color:rgb(35,31,31);
}
#P253_113
{
left:21032px;bottom:27088px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P253_114
{
left:24340.8px;bottom:27096px;color:rgb(0,124,196);
}
#P253_115
{
left:13972.8px;bottom:25296px;letter-spacing:993.6px;color:rgb(35,31,31);
}
#P253_116
{
left:0px;letter-spacing:0px;margin-left:1953.6px;
}
#P253_117
{
left:18388.8px;bottom:25266.4px;color:rgb(35,31,31);
}
#P253_118
{
left:18975.1px;bottom:25296px;color:rgb(35,31,31);
}
#P253_119
{
left:24340.8px;bottom:25304px;color:rgb(0,124,196);
}
#P253_120
{
left:0px;letter-spacing:0px;margin-left:-49.7px;
}
#P253_121
{
left: 15066.8px;bottom:23696px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P253_122
{
left:0px;letter-spacing:-9.3px;margin-left:-554px;
}
#P253_123
{
left:0px;letter-spacing:0px;margin-left:9.3px;
}
#P253_124
{
left:21147.7px;bottom:23704px;color:rgb(0,124,196);
}
#P253_125
{
left:23963.1px;bottom:23965.9px;color:rgb(35,31,31);
}
#P253_126
{
left:0px;letter-spacing:0px;margin-left:906px;
}
#P253_127
{
left:0px;letter-spacing:0px;margin-left:1023.6px;
}
#P253_128
{
left:0px;letter-spacing:0px;margin-left:1023.6px;
}
#P253_129
{
left:0px;letter-spacing:0px;margin-left:863.4px;
}
#P253_130
{
left:23984.4px;bottom:22159px;color:rgb(35,31,31);
}
#P253_131
{
left:0px;letter-spacing:0px;margin-left:1748.7px;
}
#P253_132
{
left:0px;letter-spacing:1599.6px;
}
#P253_133
{
left:0px;letter-spacing:1599.6px;margin-left:-1599.6px;
}
#P253_134
{
left:0px;letter-spacing:1599.6px;margin-left:-1599.6px;
}
#P253_135
{
left:0px;letter-spacing:0px;margin-left:-1599.6px;
}
#P253_136
{
left:7877.47px;bottom:19246.4px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P253_137
{
left:14745.8px;bottom:19271px;color:white;
}
#P253_138
{
left:15161.3px;bottom:19462.8px;color:white;
}
#P253_139
{
left:15401.5px;bottom:19271px;color:white;
}
#P253_140
{
left:16377.8px;bottom:19462.8px;color:white;
}
#P253_141
{
left:16618px;bottom:19271px;letter-spacing:-4.6px;color:white;
}
#P253_142
{
left:0px;letter-spacing:0px;margin-left:4.6px;
}
#P253_143
{
left:22845.8px;bottom:19462.8px;color:white;
}
#P253_144
{
left:23086px;bottom:19271px;color:white;
}
#P253_145
{
left:26288px;bottom:19462.8px;color:white;
}
#P253_146
{
left:26528.2px;bottom:19271px;letter-spacing:-13.5px;word-spacing:-31.9px;color:white;
}
#P253_147
{
left:0px;letter-spacing:0px;margin-left:13.5px;
}
#P253_148
{
left:12901.4px;bottom:19103.9px;
}
#P253_149
{
left:12901.4px;bottom:19103.9px;color:white;
}
#P253_150
{
left:13972.7px;bottom:17641.6px;color:rgb(35,31,31);
}
#P253_151
{
left:13972.7px;bottom:16489.6px;letter-spacing:-9.3px;color:rgb(35,31,31);
}
#P253_152
{
left:0px;letter-spacing:-0.4px;margin-left:9.3px;
}
#P253_153
{
left:0px;letter-spacing:0px;margin-left:-214.4px;
}
#P253_154
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P253_155
{
left:0px;letter-spacing:-1.6px;
}
#P253_156
{
left:0px;letter-spacing:-0.3px;margin-left:1.6px;
}
#P253_157
{
left:13972.7px;bottom:15593.6px;letter-spacing:0.7px;color:rgb(35,31,31);
}
#P253_158
{
left:13972.7px;bottom:12905.6px;color:rgb(35,31,31);
}
#P253_159
{
left:19492.7px;bottom:12568.4px;color:rgb(35,31,31);
}
#P253_160
{
left:22631.9px;bottom:12529.6px;color:rgb(35,31,31);
}
#P253_161
{
left:0px;letter-spacing:0px;margin-left:1409.2px;
}
#P253_162
{
left:0px;letter-spacing:0px;margin-left:1595.6px;
}
#P253_163
{
left:0px;letter-spacing:0px;
}
#P253_164
{
left:19492.7px;bottom:11224.4px;color:rgb(35,31,31);
}
#P253_165
{
left:22631.9px;bottom:11185.6px;color:rgb(35,31,31);
}
#P253_166
{
left:0px;letter-spacing:0px;margin-left:1409.2px;
}
#P253_167
{
left:0px;letter-spacing:0px;margin-left:1595.6px;
}
#P253_168
{
left:0px;letter-spacing:0px;
}
#P253_169
{
left: 15146.7px;bottom:8361.58px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P253_170
{
left:0px;letter-spacing:-9.3px;margin-left:-554px;
}
#P253_171
{
left:0px;letter-spacing:0px;margin-left:9.3px;
}
#P253_172
{
left:14000.2px;bottom:4886.38px;color:rgb(35,31,31);
}
#P253_173
{
left:0px;letter-spacing:0px;margin-left:-15.5px;
}
#P253_174
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P253_175
{
left:14000.2px;bottom:3734.36px;color:rgb(35,31,31);
}
#P253_176
{
left:14463.7px;bottom:3761.2px;color:rgb(35,31,31);
}
#P253_177
{
left:15664.2px;bottom:3734.38px;color:rgb(35,31,31);
}
#P253_178
{
left:26047.7px;bottom:3761.2px;color:rgb(35,31,31);
}
#P253_179
{
left:27184.2px;bottom:3734.38px;color:rgb(35,31,31);
}
#P253_180
{
left:8018.71px;bottom:3996.78px;color:rgb(35,31,31);
}
#P253_181
{
left:13117.4px;bottom:46716.8px;letter-spacing:-63.2px;color:rgb(35,31,31);
}
#P253_182
{
left:0px;letter-spacing:-0.3px;margin-left:63.2px;
}
#P253_183
{
left:26846.8px;bottom:46716.8px;letter-spacing:28px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P253_184
{
left:0px;letter-spacing:0.1px;margin-left:130.5px;
}
#P253_185
{
left:13117.4px;bottom:45820.8px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P253_186
{
left:10692.2px;bottom:14146.1px;color:rgb(0,124,196);
}
#P253_187
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P253_188
{
left:0px;letter-spacing:0px;margin-left:-168px;
}
#P253_189
{
left:0px;letter-spacing:0px;margin-left:6.7px;
}
#P253_190
{
left:10692.2px;bottom:13250.1px;color:rgb(0,124,196);
}
#P253_191
{
left:10692.2px;bottom:11778.1px;letter-spacing:-161.3px;color:rgb(0,124,196);
}
#P253_192
{
left:10948px;bottom:12323.7px;color:rgb(0,124,196);
}
#P253_193
{
left:11877px;bottom:11794.9px;color:rgb(0,124,196);
}
#P253_194
{
left:10692.2px;bottom:11764.8px;color:rgb(0,124,196);
}
#P253_195
{
left:12132.6px;bottom:11779.3px;color:rgb(0,124,196);
}
#P253_196
{
left:10712.4px;bottom:11293.3px;color:rgb(0,124,196);
}
#P253_197
{
left:12112.5px;bottom:11794.9px;color:rgb(0,124,196);
}
#P253_198
{
left:12132.6px;bottom:11778.1px;letter-spacing:-161.3px;color:rgb(0,124,196);
}
#P253_199
{
left:12293.9px;bottom:11749.9px;color:rgb(0,124,196);
}
#P253_200
{
left:12853.7px;bottom:11778.1px;color:rgb(0,124,196);
}
#P253_201
{
left:0px;letter-spacing:0px;margin-left:-161.3px;
}
#P253_202
{
left:13035.2px;bottom:12199.8px;color:rgb(0,124,196);
}
#P253_203
{
left:13906px;bottom:11794.9px;color:rgb(0,124,196);
}
#P253_204
{
left:13015px;bottom:11764.8px;color:rgb(0,124,196);
}
#P253_205
{
left:13926.2px;bottom:11779.3px;color:rgb(0,124,196);
}
#P253_206
{
left:13035.2px;bottom:11333.6px;color:rgb(0,124,196);
}
#P253_207
{
left:13906px;bottom:11794.9px;color:rgb(0,124,196);
}
#P253_208
{
left:13926.2px;bottom:11778.1px;letter-spacing:-161.3px;color:rgb(0,124,196);
}
#P253_209
{
left:14087.4px;bottom:11749.9px;color:rgb(0,124,196);
}
#P253_210
{
left:14647.2px;bottom:11778.1px;color:rgb(0,124,196);
}
#P253_211
{
left:23622.8px;bottom:14389.4px;color:rgb(235,26,35);
}
#P253_212
{
left:24266.6px;bottom:14417.6px;color:rgb(235,26,35);
}
#P253_213
{
left:25682.1px;bottom:14420.8px;color:rgb(235,26,35);
}
#P253_214
{
left:25843.4px;bottom:14392.6px;color:rgb(235,26,35);
}
#P253_215
{
left:26487.1px;bottom:14420.8px;word-spacing:-77.3px;color:rgb(235,26,35);
}
#P253_216
{
left:23622.9px;bottom:9397.36px;color:rgb(235,26,35);
}
#P253_217
{
left:24266.6px;bottom:9425.58px;color:rgb(235,26,35);
}
#P253_218
{
left:25682.1px;bottom:9444.78px;color:rgb(235,26,35);
}
#P253_219
{
left:25843.4px;bottom:9416.56px;color:rgb(235,26,35);
}
#P253_220
{
left:26487.1px;bottom:9444.78px;word-spacing:-77.3px;color:rgb(235,26,35);
}
#PageContainer253
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg253.jpg");background-repeat:no-repeat;background-size: 814px 1137px; background-position: 194.98px 146.6px;
}
#ImageContainer253 {bottom:80.40px;left:194.98px;width:814.27px;height:1137.47px;position:absolute;} #TextContainer253 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.example3{position: absolute;top: 461px;left: 167px;}
.example4{position: absolute;top: 808px;left: 167px;}
.nyr{position:absolute;top: 1204px;left: 187px;}
.nyr_exr{position:absolute;top: 1240px;left: 217px;color:rgb(35,31,31); font-size:16px}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}