.tr579{ color:transparent;}
#P579_1
{
left:7485.4px;bottom:36498.3px;color:rgb(0,124,196);
}
#P579_2
{
left:0px;letter-spacing:0px;margin-left:568.3px;
}
#P579_3
{
left:11569.6px;bottom:36498.3px;color:rgb(35,31,31);
}
#P579_4
{
left:14903.3px;bottom:36498.3px;color:rgb(35,31,31);
}
#P579_5
{
left:15569.3px;bottom:36444.5px;color:rgb(35,31,31);
}
#P579_6
{
left:16209px;bottom:36498.3px;color:rgb(35,31,31);
}
#P579_7
{
left:16768.7px;bottom:36498.3px;color:rgb(35,31,31);
}
#P579_8
{
left:17235.1px;bottom:36498.3px;color:rgb(35,31,31);
}
#P579_9
{
left:11530.3px;bottom:35538.3px;color:rgb(35,31,31);
}
#P579_10
{
left:12196.2px;bottom:35484.5px;letter-spacing:199.7px;color:rgb(35,31,31);
}
#P579_11
{
left:13675.4px;bottom:35538.3px;color:rgb(35,31,31);
}
#P579_12
{
left:15629.8px;bottom:35538.3px;color:rgb(35,31,31);
}
#P579_13
{
left:16295.8px;bottom:35484.5px;color:rgb(35,31,31);
}
#P579_14
{
left:16935.6px;bottom:35538.3px;color:rgb(35,31,31);
}
#P579_15
{
left:5565.4px;bottom:33932.8px;letter-spacing:1761.6px;color:rgb(35,31,31);
}
#P579_16
{
left:7858.52px;bottom:33932.8px;color:rgb(235,26,35);
}
#P579_17
{
left:8380.19px;bottom:33903.2px;color:rgb(35,31,31);
}
#P579_18
{
left:8966.62px;bottom:33932.8px;color:rgb(35,31,31);
}
#P579_19
{
left:9498.14px;bottom:33932.8px;color:rgb(0,124,196);
}
#P579_20
{
left:9985.95px;bottom:33903.2px;color:rgb(35,31,31);
}
#P579_21
{
left:10572.4px;bottom:33932.8px;color:rgb(35,31,31);
}
#P579_22
{
left:11350.3px;bottom:33903.2px;color:rgb(235,26,35);
}
#P579_23
{
left:11936.7px;bottom:33932.8px;color:rgb(235,26,35);
}
#P579_24
{
left:12309.8px;bottom:33932.8px;color:rgb(35,31,31);
}
#P579_25
{
left:12714.6px;bottom:33903.2px;color:rgb(35,31,31);
}
#P579_26
{
left:13301.1px;bottom:33932.8px;color:rgb(35,31,31);
}
#P579_27
{
left:14078.9px;bottom:33932.8px;color:rgb(0,124,196);
}
#P579_28
{
left:14452.1px;bottom:33932.8px;color:rgb(35,31,31);
}
#P579_29
{
left:21501.4px;bottom:33940.8px;color:rgb(0,124,196);
}
#P579_30
{
left:24224.9px;bottom:33912.6px;color:rgb(0,124,196);
}
#P579_31
{
left:24784.7px;bottom:33940.8px;color:rgb(0,124,196);
}
#P579_32
{
left:26100.6px;bottom:33940.8px;color:rgb(0,124,196);
}
#P579_33
{
left:26425.7px;bottom:33940.8px;color:rgb(0,124,196);
}
#P579_34
{
left:29022.4px;bottom:33940.8px;color:rgb(0,124,196);
}
#P579_35
{
left:29334.7px;bottom:33940.8px;color:rgb(0,124,196);
}
#P579_36
{
left:9981.4px;bottom:32687.2px;letter-spacing:158.4px;color:rgb(35,31,31);
}
#P579_37
{
left:11312.7px;bottom:32716.8px;color:rgb(35,31,31);
}
#P579_38
{
left:12217.3px;bottom:32687.2px;color:rgb(35,31,31);
}
#P579_39
{
left:12803.7px;bottom:32716.8px;color:rgb(35,31,31);
}
#P579_40
{
left:21501.4px;bottom:32724.8px;letter-spacing:-10.1px;color:rgb(0,124,196);
}
#P579_41
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P579_42
{
left:0px;letter-spacing:-10.1px;margin-left:-34.9px;
}
#P579_43
{
left:31648.5px;bottom:32696.6px;color:rgb(0,124,196);
}
#P579_44
{
left:32198.2px;bottom:32724.8px;letter-spacing:-18.3px;color:rgb(0,124,196);
}
#P579_45
{
left:0px;letter-spacing:-10.1px;margin-left:8.3px;
}
#P579_46
{
left:9981.4px;bottom:31471.2px;letter-spacing:158.4px;color:rgb(35,31,31);
}
#P579_47
{
left:11312.7px;bottom:31500.8px;color:rgb(35,31,31);
}
#P579_48
{
left:21501.4px;bottom:31508.8px;color:rgb(0,124,196);
}
#P579_49
{
left:22694.8px;bottom:31480.6px;color:rgb(0,124,196);
}
#P579_50
{
left:23254.6px;bottom:31508.8px;color:rgb(0,124,196);
}
#P579_51
{
left:7485.4px;bottom:29202.3px;word-spacing:1720.3px;color:rgb(0,124,196);
}
#P579_52
{
left:0px;letter-spacing:0px;margin-left:-1720.3px;
}
#P579_53
{
left:11569.6px;bottom:29202.3px;color:rgb(35,31,31);
}
#P579_54
{
left:14903.3px;bottom:29202.3px;color:rgb(35,31,31);
}
#P579_55
{
left:15344.3px;bottom:29571.4px;color:rgb(35,31,31);
}
#P579_56
{
left:15834.3px;bottom:29148.5px;color:rgb(35,31,31);
}
#P579_57
{
left:16474px;bottom:29202.3px;color:rgb(35,31,31);
}
#P579_58
{
left:17261px;bottom:29202.3px;color:rgb(35,31,31);
}
#P579_59
{
left:17855.6px;bottom:29148.5px;color:rgb(35,31,31);
}
#P579_60
{
left:18495.4px;bottom:29202.3px;color:rgb(35,31,31);
}
#P579_61
{
left:19521.4px;bottom:29148.5px;color:rgb(35,31,31);
}
#P579_62
{
left:20161.1px;bottom:29202.3px;color:rgb(35,31,31);
}
#P579_63
{
left:22870.4px;bottom:29202.3px;color:rgb(35,31,31);
}
#P579_64
{
left:23465px;bottom:29148.5px;letter-spacing:199.6px;color:rgb(35,31,31);
}
#P579_65
{
left:24944.2px;bottom:29202.3px;color:rgb(35,31,31);
}
#P579_66
{
left:26898.5px;bottom:29202.3px;color:rgb(35,31,31);
}
#P579_67
{
left:27493.1px;bottom:29148.5px;color:rgb(35,31,31);
}
#P579_68
{
left:28324.9px;bottom:29202.3px;color:rgb(35,31,31);
}
#P579_69
{
left:5565.4px;bottom:27596.8px;letter-spacing:1761.6px;color:rgb(35,31,31);
}
#P579_70
{
left:7858.52px;bottom:27596.8px;color:rgb(235,26,35);
}
#P579_71
{
left:8292.19px;bottom:27940.5px;color:rgb(35,31,31);
}
#P579_72
{
left:8721.82px;bottom:27567.2px;color:rgb(35,31,31);
}
#P579_73
{
left:9308.25px;bottom:27596.8px;color:rgb(35,31,31);
}
#P579_74
{
left:10128.4px;bottom:27596.8px;color:rgb(0,124,196);
}
#P579_75
{
left:10616.3px;bottom:27567.2px;color:rgb(35,31,31);
}
#P579_76
{
left:11202.7px;bottom:27596.8px;color:rgb(35,31,31);
}
#P579_77
{
left:12139px;bottom:27567.2px;color:rgb(35,31,31);
}
#P579_78
{
left:12725.4px;bottom:27596.8px;color:rgb(35,31,31);
}
#P579_79
{
left:13415.3px;bottom:27567.2px;color:rgb(35,31,31);
}
#P579_80
{
left:14001.8px;bottom:27596.8px;color:rgb(35,31,31);
}
#P579_81
{
left:14779.7px;bottom:27567.2px;color:rgb(235,26,35);
}
#P579_82
{
left:15366.1px;bottom:27596.8px;color:rgb(235,26,35);
}
#P579_83
{
left:15739.2px;bottom:27596.8px;color:rgb(35,31,31);
}
#P579_84
{
left:15985.6px;bottom:27940.5px;color:rgb(35,31,31);
}
#P579_85
{
left:16415.3px;bottom:27567.2px;color:rgb(35,31,31);
}
#P579_86
{
left:17001.7px;bottom:27596.8px;color:rgb(35,31,31);
}
#P579_87
{
left:17779.5px;bottom:27596.8px;color:rgb(0,124,196);
}
#P579_88
{
left:18311.1px;bottom:27567.2px;color:rgb(35,31,31);
}
#P579_89
{
left:18897.5px;bottom:27596.8px;color:rgb(35,31,31);
}
#P579_90
{
left:19833.8px;bottom:27567.2px;color:rgb(35,31,31);
}
#P579_91
{
left:20420.2px;bottom:27596.8px;color:rgb(35,31,31);
}
#P579_92
{
left:21437.4px;bottom:27604.8px;color:rgb(0,124,196);
}
#P579_93
{
left:24160.9px;bottom:27576.6px;color:rgb(0,124,196);
}
#P579_94
{
left:24720.7px;bottom:27604.8px;color:rgb(0,124,196);
}
#P579_95
{
left:26036.6px;bottom:27604.8px;color:rgb(0,124,196);
}
#P579_96
{
left:26361.7px;bottom:27604.8px;color:rgb(0,124,196);
}
#P579_97
{
left:28958.4px;bottom:27604.8px;color:rgb(0,124,196);
}
#P579_98
{
left:29270.7px;bottom:27604.8px;color:rgb(0,124,196);
}
#P579_99
{
left:13373.4px;bottom:26351.2px;color:rgb(35,31,31);
}
#P579_100
{
left:13959.8px;bottom:26380.8px;color:rgb(35,31,31);
}
#P579_101
{
left:14737.8px;bottom:26351.2px;color:rgb(35,31,31);
}
#P579_102
{
left:15324.2px;bottom:26380.8px;color:rgb(35,31,31);
}
#P579_103
{
left:15943.6px;bottom:26724.5px;color:rgb(35,31,31);
}
#P579_104
{
left:16373.3px;bottom:26351.2px;color:rgb(35,31,31);
}
#P579_105
{
left:16959.8px;bottom:26380.8px;color:rgb(35,31,31);
}
#P579_106
{
left:18515.5px;bottom:26351.2px;color:rgb(35,31,31);
}
#P579_107
{
left:19102px;bottom:26380.8px;color:rgb(35,31,31);
}
#P579_108
{
left:21437.4px;bottom:26388.8px;letter-spacing:-8.3px;word-spacing:-26.9px;color:rgb(0,124,196);
}
#P579_109
{
left:0px;letter-spacing:-12.8px;margin-left:-1.8px;
}
#P579_110
{
left:0px;letter-spacing:-23.5px;margin-left:88.9px;
}
#P579_111
{
left:0px;letter-spacing:-9.1px;margin-left:1.5px;
}
#P579_112
{
left:0px;letter-spacing:-11.1px;margin-left:-1px;
}
#P579_113
{
left:0px;letter-spacing:0px;margin-left:-23.8px;
}
#P579_114
{
left:13373.4px;bottom:25135.2px;color:rgb(35,31,31);
}
#P579_115
{
left:13959.8px;bottom:25164.8px;color:rgb(35,31,31);
}
#P579_116
{
left:15515.6px;bottom:25135.2px;color:rgb(35,31,31);
}
#P579_117
{
left:16102px;bottom:25164.8px;color:rgb(35,31,31);
}
#P579_118
{
left:17657.9px;bottom:25135.2px;color:rgb(35,31,31);
}
#P579_119
{
left:18244.3px;bottom:25164.8px;color:rgb(35,31,31);
}
#P579_120
{
left:21437.4px;bottom:25172.8px;letter-spacing:-8.3px;word-spacing:-26.9px;color:rgb(0,124,196);
}
#P579_121
{
left:0px;letter-spacing:-12.8px;margin-left:-1.8px;
}
#P579_122
{
left:27811.3px;bottom:25172.8px;letter-spacing:-7.3px;color:rgb(0,124,196);
}
#P579_123
{
left:13373.4px;bottom:23919.2px;color:rgb(35,31,31);
}
#P579_124
{
left:13959.8px;bottom:23948.8px;color:rgb(35,31,31);
}
#P579_125
{
left:15022.9px;bottom:23919.2px;color:rgb(35,31,31);
}
#P579_126
{
left:15609.3px;bottom:23948.8px;color:rgb(35,31,31);
}
#P579_127
{
left:16672.3px;bottom:23919.2px;color:rgb(35,31,31);
}
#P579_128
{
left:17258.7px;bottom:23948.8px;color:rgb(35,31,31);
}
#P579_129
{
left:21437.4px;bottom:23956.8px;letter-spacing:-14.6px;color:rgb(0,124,196);
}
#P579_130
{
left:0px;letter-spacing:-15.5px;margin-left:4.5px;
}
#P579_131
{
left:0px;letter-spacing:-12.1px;margin-left:5.4px;
}
#P579_132
{
left:0px;letter-spacing:-63.8px;margin-left:-22.7px;
}
#P579_133
{
left:0px;letter-spacing:-11.6px;margin-left:53.7px;
}
#P579_134
{
left:0px;letter-spacing:-10.1px;margin-left:1.5px;
}
#P579_135
{
left:13373.4px;bottom:22703.2px;color:rgb(35,31,31);
}
#P579_136
{
left:13959.8px;bottom:22732.8px;color:rgb(35,31,31);
}
#P579_137
{
left:21437.4px;bottom:22740.8px;letter-spacing:-6.7px;color:rgb(0,124,196);
}
#P579_138
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P579_139
{
left:0px;letter-spacing:-6.7px;margin-left:-43.6px;
}
#P579_140
{
left: 7541.4px;bottom:19218.3px;letter-spacing:1706.5px;color:rgb(35,31,31);
}
#P579_141
{
left:0px;letter-spacing:-0.5px;margin-left:-1706.5px;
}
#P579_142
{
left:18529.1px;bottom:19218.3px;color:rgb(35,31,31);
}
#P579_143
{
left:19209px;bottom:19164.5px;letter-spacing:213.5px;color:rgb(35,31,31);
}
#P579_144
{
left:20725px;bottom:19751.9px;color:rgb(35,31,31);
}
#P579_145
{
left:20701.9px;bottom:19235.3px;color:rgb(35,31,31);
}
#P579_146
{
left:20725px;bottom:18761.8px;color:rgb(35,31,31);
}
#P579_147
{
left:21132.3px;bottom:19218.3px;color:rgb(35,31,31);
}
#P579_148
{
left:22885.5px;bottom:19218.3px;color:rgb(35,31,31);
}
#P579_149
{
left:23351.8px;bottom:19218.3px;color:rgb(35,31,31);
}
#P579_150
{
left:7861.98px;bottom:17568.5px;color:rgb(35,31,31);
}
#P579_151
{
left:8893.4px;bottom:17548.8px;color:rgb(35,31,31);
}
#P579_152
{
left:9266.52px;bottom:17548.8px;letter-spacing:8.4px;color:rgb(35,31,31);
}
#P579_153
{
left:14774px;bottom:17568.5px;color:rgb(35,31,31);
}
#P579_154
{
left:15805.4px;bottom:17548.8px;color:rgb(35,31,31);
}
#P579_155
{
left:16551.6px;bottom:17548.8px;color:rgb(35,31,31);
}
#P579_156
{
left:17073.3px;bottom:17519.2px;color:rgb(35,31,31);
}
#P579_157
{
left:17659.7px;bottom:17548.8px;color:rgb(35,31,31);
}
#P579_158
{
left:18191.3px;bottom:17548.8px;color:rgb(35,31,31);
}
#P579_159
{
left:21622px;bottom:17568.5px;color:rgb(35,31,31);
}
#P579_160
{
left:22404.9px;bottom:17519.2px;color:rgb(35,31,31);
}
#P579_161
{
left:22991.3px;bottom:17548.8px;color:rgb(35,31,31);
}
#P579_162
{
left:23364.4px;bottom:17548.8px;color:rgb(35,31,31);
}
#P579_163
{
left:23886.1px;bottom:17519.2px;color:rgb(35,31,31);
}
#P579_164
{
left:24630.8px;bottom:17548.8px;color:rgb(35,31,31);
}
#P579_165
{
left:25118.7px;bottom:17519.2px;color:rgb(35,31,31);
}
#P579_166
{
left:25705.1px;bottom:17548.8px;color:rgb(35,31,31);
}
#P579_167
{
left:28598.1px;bottom:17568.5px;color:rgb(35,31,31);
}
#P579_168
{
left:29629.5px;bottom:17548.8px;color:rgb(35,31,31);
}
#P579_169
{
left:30002.6px;bottom:17548.8px;color:rgb(35,31,31);
}
#P579_170
{
left:30524.3px;bottom:17519.2px;color:rgb(35,31,31);
}
#P579_171
{
left:31269.1px;bottom:17548.8px;color:rgb(35,31,31);
}
#P579_172
{
left:31654.7px;bottom:17892.5px;color:rgb(35,31,31);
}
#P579_173
{
left:32084.4px;bottom:17519.2px;color:rgb(35,31,31);
}
#P579_174
{
left:32670.9px;bottom:17548.8px;color:rgb(35,31,31);
}
#P579_175
{
left:7485.4px;bottom:13714.3px;word-spacing:1720.3px;color:rgb(0,124,196);
}
#P579_176
{
left:0px;letter-spacing:0px;margin-left:-1720.3px;
}
#P579_177
{
left:11527.4px;bottom:13714.3px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P579_178
{
left:0px;letter-spacing:0px;margin-left:-7.1px;
}
#P579_179
{
left:7861.98px;bottom:12064.5px;color:rgb(35,31,31);
}
#P579_180
{
left:8893.4px;bottom:12044.8px;color:rgb(35,31,31);
}
#P579_181
{
left:17525px;bottom:12044.8px;color:rgb(35,31,31);
}
#P579_182
{
left:18167px;bottom:12044.8px;color:rgb(35,31,31);
}
#P579_183
{
left:22223.3px;bottom:12064.5px;color:rgb(35,31,31);
}
#P579_184
{
left:23229.4px;bottom:12044.8px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P579_185
{
left:34941.8px;bottom:12044.8px;color:rgb(35,31,31);
}
#P579_186
{
left:5565.4px;bottom:10764.8px;letter-spacing:6973.4px;color:rgb(35,31,31);
}
#P579_187
{
left:0px;letter-spacing:0px;margin-left:-6973.4px;
}
#P579_188
{
left:14179.2px;bottom:10764.8px;color:rgb(35,31,31);
}
#P579_189
{
left:14979.6px;bottom:10735.2px;color:rgb(35,31,31);
}
#P579_190
{
left:15566px;bottom:10764.8px;color:rgb(35,31,31);
}
#P579_191
{
left:0px;letter-spacing:0px;margin-left:11535.1px;
}
#P579_192
{
left:28164.2px;bottom:10764.8px;color:rgb(35,31,31);
}
#P579_193
{
left:28685.8px;bottom:10735.2px;color:rgb(35,31,31);
}
#P579_194
{
left:29272.2px;bottom:10764.8px;color:rgb(35,31,31);
}
#P579_195
{
left: 7373.4px;bottom:7314.28px;letter-spacing:1706.5px;color:rgb(35,31,31);
}
#P579_196
{
left: 72px;letter-spacing:0px;margin-left:-1720.2px;
}
#P579_197
{
left:0px;letter-spacing:0px;margin-left:-13.6px;
}
#P579_198
{
left:7861.98px;bottom:6048.49px;color:rgb(35,31,31);
}
#P579_199
{
left:8893.4px;bottom:6028.78px;color:rgb(35,31,31);
}
#P579_200
{
left:9322.84px;bottom:6028.78px;letter-spacing:-0.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P579_201
{
left:0px;letter-spacing:-0.1px;margin-left:-13.9px;
}
#P579_202
{
left:0px;letter-spacing:-0.1px;margin-left:-13.9px;
}
#P579_203
{
left:0px;letter-spacing:-0.1px;margin-left:158.5px;
}
#P579_204
{
left:20651.8px;bottom:6028.78px;color:rgb(35,31,31);
}
#P579_205
{
left:22269.4px;bottom:6048.49px;word-spacing:444.3px;color:rgb(35,31,31);
}
#P579_206
{
left:23248px;bottom:6028.78px;color:rgb(35,31,31);
}
#P579_207
{
left:30902.4px;bottom:6028.78px;color:rgb(35,31,31);
}
#P579_208
{
left:7861.98px;bottom:4704.49px;color:rgb(35,31,31);
}
#P579_209
{
left:8893.4px;bottom:4684.78px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P579_210
{
left:16827.4px;bottom:4684.78px;color:rgb(35,31,31);
}
#P579_211
{
left:17242.8px;bottom:4684.78px;color:rgb(35,31,31);
}
#P579_212
{
left:22269.4px;bottom:4704.49px;word-spacing:444.3px;color:rgb(35,31,31);
}
#P579_213
{
left:23248px;bottom:4684.78px;color:rgb(35,31,31);
}
#P579_214
{
left:34360.4px;bottom:4684.78px;color:rgb(35,31,31);
}
#P579_215
{
left:7861.98px;bottom:3360.48px;color:rgb(35,31,31);
}
#P579_216
{
left:8893.4px;bottom:3340.77px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P579_217
{
left:0px;letter-spacing:0px;margin-left:-13.1px;
}
#P579_218
{
left:20840.3px;bottom:3340.77px;color:rgb(35,31,31);
}
#P579_219
{
left:21885.4px;bottom:3360.48px;word-spacing:380.3px;color:rgb(35,31,31);
}
#P579_220
{
left:23255.5px;bottom:3340.77px;letter-spacing:-0.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P579_221
{
left:34719.3px;bottom:3340.77px;color:rgb(35,31,31);
}
#P579_222
{
left:5899.1px;bottom:43568.7px;word-spacing:-68.5px;color:rgb(237,28,35);
}
#P579_223
{
left:0px;letter-spacing:0px;margin-left:-139.2px;
}
#P579_224
{
left:5899.1px;bottom:41520.6px;letter-spacing:-2.5px;color:rgb(237,28,35);
}
#P579_225
{
left:23953.5px;bottom:37093.5px;letter-spacing:-3.8px;color:rgb(33,31,31);
}
#P579_226
{
left:0px;letter-spacing:-14.4px;margin-left:-48px;
}
#P579_227
{
left:0px;letter-spacing:-1.4px;margin-left:14.4px;
}
#P579_228
{
left:29467.5px;bottom:36523.8px;letter-spacing:-2.9px;color:rgb(33,31,31);
}
#P579_229
{
left:0px;letter-spacing:-1.3px;margin-left:2.9px;
}
#P579_230
{
left:33132.5px;bottom:36128.7px;color:rgb(33,31,31);
}
#P579_231
{
left:23887.2px;bottom:36392.7px;letter-spacing:-0.8px;word-spacing:0.2px;color:rgb(33,31,31);
}
#P579_232
{
left:0px;letter-spacing:-0.2px;margin-left:-16.5px;
}
#P579_233
{
left:0px;letter-spacing:0px;margin-left:-51.6px;
}
#PageContainer579
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg579.jpg");background-repeat:no-repeat;background-size: 1066px 1364px; background-position: right bottom;
}
#ImageContainer579 {bottom:0.00px;right:0.00px;width:1066.24px;height:1364.16px;position:absolute;} #TextContainer579 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.rpj{position: absolute;top: 137px;left: 48px;}
.srpj{position: absolute;top: 127px;left: 1px;}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}