.tr219{ color:transparent;}
#P219_1
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P219_2
{
left:28047.8px;bottom:1410.03px;color:rgb(35,31,31);
}
#P219_3
{
left:31320px;bottom:1410.03px;letter-spacing:462.1px;color:rgb(35,31,31);
}
#P219_4
{
left:0px;letter-spacing:0.5px;margin-left:-461.8px;
}
#P219_5
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P219_6
{
left:4185.24px;bottom:13925px;color:rgb(33,31,31);
}
#P219_7
{
left:9565.08px;bottom:14687.9px;color:rgb(33,31,31);
}
#P219_8
{
left:13960.4px;bottom:41756.8px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P219_9
{
left:0px;letter-spacing:-0.6px;margin-left:0.7px;
}
#P219_10
{
left:0px;letter-spacing:0px;margin-left:-48.6px;
}
#P219_11
{
left:0px;letter-spacing:0px;
}
#P219_12
{
left:13960.4px;bottom:40860.8px;letter-spacing:-3.5px;color:rgb(35,31,31);
}
#P219_13
{
left:0px;letter-spacing:-1.3px;margin-left:3.5px;
}
#P219_14
{
left:0px;letter-spacing:-14px;margin-left:-26.7px;
}
#P219_15
{
left:0px;letter-spacing:-1.5px;margin-left:14px;
}
#P219_16
{
left:0px;letter-spacing:-1.8px;margin-left:1.5px;
}
#P219_17
{
left:0px;letter-spacing:-14px;margin-left:1.8px;
}
#P219_18
{
left:0px;letter-spacing:0px;margin-left:14px;
}
#P219_19
{
left:13960.4px;bottom:39964.8px;letter-spacing:-2.3px;color:rgb(35,31,31);
}
#P219_20
{
left:0px;letter-spacing:0px;margin-left:2.3px;
}
#P219_21
{
left:13960.4px;bottom:38812.7px;letter-spacing:-76px;color:rgb(35,31,31);
}
#P219_22
{
left:0px;letter-spacing:-6.3px;margin-left:70.3px;
}
#P219_23
{
left:0px;letter-spacing:-6px;margin-left:0.7px;
}
#P219_24
{
left:17064.4px;bottom:37148.8px;word-spacing:2177.6px;color:rgb(35,31,31);
}
#P219_25
{
left:0px;letter-spacing:0px;margin-left:-63.2px;
}
#P219_26
{
left:14728.4px;bottom:35484.8px;color:rgb(35,31,31);
}
#P219_27
{
left:0px;letter-spacing:0px;margin-left:-63.2px;
}
#P219_28
{
left:0px;letter-spacing:0px;margin-left:5.5px;
}
#P219_29
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P219_30
{
left:13960.4px;bottom:33820.8px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P219_31
{
left:0px;letter-spacing:-0.2px;margin-left:-12.7px;
}
#P219_32
{
left:0px;letter-spacing:-3.1px;margin-left:0.2px;
}
#P219_33
{
left:0px;letter-spacing:-0.5px;margin-left:3.1px;
}
#P219_34
{
left:0px;letter-spacing:0px;margin-left:-13.4px;
}
#P219_35
{
left:33637.7px;bottom:33791.2px;color:rgb(35,31,31);
}
#P219_36
{
left:34224.2px;bottom:33820.8px;color:rgb(35,31,31);
}
#P219_37
{
left:34914.1px;bottom:33791.2px;color:rgb(35,31,31);
}
#P219_38
{
left:35500.5px;bottom:33820.8px;color:rgb(35,31,31);
}
#P219_39
{
left: 20720.4px;bottom:32540.8px;letter-spacing:6561.6px;color:rgb(35,31,31);
}
#P219_40
{
left:0px;letter-spacing:-0.8px;margin-left:-6561.6px;
}
#P219_41
{
left:0px;letter-spacing:0px;margin-left:-13px;
}
#P219_42
{
left:27023.5px;bottom:32102.2px;color:rgb(35,31,31);
}
#P219_43
{
left:27375.3px;bottom:32540.8px;color:rgb(35,31,31);
}
#P219_44
{
left:28065.2px;bottom:32511.2px;color:rgb(35,31,31);
}
#P219_45
{
left:28651.6px;bottom:32540.8px;color:rgb(35,31,31);
}
#P219_46
{
left: 20780.4px;bottom:31260.8px;letter-spacing:6561.6px;color:rgb(35,31,31);
}
#P219_47
{
left:0px;letter-spacing:-0.8px;margin-left:-6561.6px;
}
#P219_48
{
left:0px;letter-spacing:0px;margin-left:-13.1px;
}
#P219_49
{
left:27023.5px;bottom:30822.2px;color:rgb(35,31,31);
}
#P219_50
{
left:27375.3px;bottom:31260.8px;color:rgb(35,31,31);
}
#P219_51
{
left:28065.2px;bottom:31231.2px;color:rgb(35,31,31);
}
#P219_52
{
left:28651.6px;bottom:31260.8px;color:rgb(35,31,31);
}
#P219_53
{
left: 15224.4px;bottom:29596.8px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P219_54
{
left:0px;letter-spacing:0px;
margin-left: 0;
}
#P219_55
{
left:0px;letter-spacing:-9.3px;margin-left:-8.4px;
}
#P219_56
{
left:0px;letter-spacing:-1.3px;margin-left:5.2px;
}
#P219_57
{
left:0px;letter-spacing:-0.6px;margin-left:1.3px;
}
#P219_58
{
left:0px;letter-spacing:0px;margin-left:-76.8px;
}
#P219_59
{
left:0px;letter-spacing:0px;
}
#P219_60
{
left:15248.4px;bottom:28700.8px;letter-spacing:-3.5px;color:rgb(35,31,31);
}
#P219_61
{
left:0px;letter-spacing:0px;margin-left:3.5px;
}
#P219_62
{
left:7801.11px;bottom:43361.6px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P219_63
{
left:14669.4px;bottom:43386.2px;color:white;
}
#P219_64
{
left:15581.8px;bottom:43578px;color:white;
}
#P219_65
{
left:15822px;bottom:43386.2px;color:white;
}
#P219_66
{
left:0px;letter-spacing:0px;margin-left:-31.9px;
}
#P219_67
{
left:0px;letter-spacing:0px;margin-left:-40.5px;
}
#P219_68
{
left:20296px;bottom:43578px;color:white;
}
#P219_69
{
left:20536.2px;bottom:43386.2px;letter-spacing:-3.9px;color:white;
}
#P219_70
{
left:12857px;bottom:43283.1px;
}
#P219_71
{
left:12857px;bottom:43283.1px;color:white;
}
#P219_72
{
left:13960.4px;bottom:24604.8px;letter-spacing:-31.6px;color:rgb(35,31,31);
}
#P219_73
{
left:0px;letter-spacing:-0.4px;margin-left:31.6px;
}
#P219_74
{
left:0px;letter-spacing:-0.6px;margin-left:0.4px;
}
#P219_75
{
left:13960.4px;bottom:23708.8px;letter-spacing:-1.8px;color:rgb(35,31,31);
}
#P219_76
{
left:0px;letter-spacing:-63.3px;margin-left:-40.4px;
}
#P219_77
{
left:0px;letter-spacing:0px;margin-left:63.3px;
}
#P219_78
{
left:13960.4px;bottom:22812.9px;letter-spacing:-1.8px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P219_79
{
left:0px;letter-spacing:-0.9px;margin-left:1.7px;
}
#P219_80
{
left:0px;letter-spacing:-9.4px;margin-left:-9.6px;
}
#P219_81
{
left:0px;letter-spacing:-3.7px;margin-left:9.3px;
}
#P219_82
{
left:0px;letter-spacing:-2.4px;margin-left:149.2px;
}
#P219_83
{
left:0px;letter-spacing:-0.1px;margin-left:-8px;
}
#P219_84
{
left:13960.4px;bottom:21916.9px;color:rgb(35,31,31);
}
#P219_85
{
left:13960.4px;bottom:20764.9px;letter-spacing:-70.3px;color:rgb(35,31,31);
}
#P219_86
{
left:0px;letter-spacing:-0.7px;margin-left:70.3px;
}
#P219_87
{
left:0px;letter-spacing:-0.6px;margin-left:0.7px;
}
#P219_88
{
left:29010.8px;bottom:20764.9px;letter-spacing:0.7px;color:rgb(35,31,31);
}
#P219_89
{
left:32732.8px;bottom:20764.9px;color:rgb(35,31,31);
}
#P219_90
{
left:13960.3px;bottom:19868.9px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P219_91
{
left:14344.3px;bottom:18204.9px;letter-spacing:-0.5px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P219_92
{
left:18286.7px;bottom:18379.1px;letter-spacing:1930.9px;color:rgb(33,31,31);
}
#P219_93
{
left:14344.4px;bottom:16540.8px;letter-spacing:-1.1px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P219_94
{
left:18280.3px;bottom:16715.1px;letter-spacing:1930.9px;color:rgb(33,31,31);
}
#P219_95
{
left:13960.4px;bottom:14876.8px;letter-spacing:-2px;color:rgb(35,31,31);
}
#P219_96
{
left:0px;letter-spacing:0px;margin-left:-12px;
}
#P219_97
{
left:17594px;bottom:14438.3px;color:rgb(35,31,31);
}
#P219_98
{
left:17945.8px;bottom:14876.8px;color:rgb(35,31,31);
}
#P219_99
{
left:18635.7px;bottom:14847.3px;color:rgb(35,31,31);
}
#P219_100
{
left:19222.1px;bottom:14876.8px;color:rgb(35,31,31);
}
#P219_101
{
left:27976.2px;bottom:14438.3px;color:rgb(35,31,31);
}
#P219_102
{
left:28328px;bottom:14876.8px;color:rgb(35,31,31);
}
#P219_103
{
left:29017.9px;bottom:14847.3px;color:rgb(35,31,31);
}
#P219_104
{
left:29604.3px;bottom:14876.8px;color:rgb(35,31,31);
}
#P219_105
{
left:13960.4px;bottom:13980.8px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P219_106
{
left:25159.5px;bottom:13542.3px;color:rgb(35,31,31);
}
#P219_107
{
left:25511.3px;bottom:13980.8px;color:rgb(35,31,31);
}
#P219_108
{
left:26201.2px;bottom:13951.3px;color:rgb(35,31,31);
}
#P219_109
{
left:26943.5px;bottom:13980.8px;letter-spacing:-2.9px;word-spacing:0.4px;color:rgb(35,31,31);
}
#P219_110
{
left:0px;letter-spacing:-7.2px;margin-left:2.6px;
}
#P219_111
{
left:15248.4px;bottom:12316.8px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P219_112
{
left:0px;letter-spacing:-9.4px;margin-left:-8.4px;
}
#P219_113
{
left:0px;letter-spacing:-0.9px;margin-left:5.3px;
}
#P219_114
{
left:0px;letter-spacing:-7px;margin-left:0.8px;
}
#P219_115
{
left:13960.4px;bottom:8732.84px;color:rgb(35,31,31);
}
#P219_116
{
left:14424px;bottom:8759.66px;word-spacing:453.2px;color:rgb(35,31,31);
}
#P219_117
{
left:15624.4px;bottom:8752.56px;letter-spacing:-12.9px;color:rgb(2,77,161);
}
#P219_118
{
left:0px;letter-spacing:0px;margin-left:12.9px;
}
#P219_119
{
left:18493.2px;bottom:8732.84px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P219_120
{
left:0px;letter-spacing:-0.2px;margin-left:-206.1px;
}
#P219_121
{
left:0px;letter-spacing:-1.2px;margin-left:-6.6px;
}
#P219_122
{
left:0px;letter-spacing:0px;margin-left:-19.8px;
}
#P219_123
{
left:0px;letter-spacing:0px;
}
#P219_124
{
left:15624.4px;bottom:7836.84px;letter-spacing:-3px;color:rgb(35,31,31);
}
#P219_125
{
left:0px;letter-spacing:0px;margin-left:3px;
}
#P219_126
{
left:13960.4px;bottom:6556.84px;color:rgb(35,31,31);
}
#P219_127
{
left:14424px;bottom:6583.66px;word-spacing:453.2px;color:rgb(35,31,31);
}
#P219_128
{
left:15624.4px;bottom:6576.56px;letter-spacing:-12.9px;color:rgb(2,77,161);
}
#P219_129
{
left:0px;letter-spacing:0px;margin-left:12.9px;
}
#P219_130
{
left:18845.2px;bottom:6556.84px;letter-spacing:193.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P219_131
{
left:0px;letter-spacing:-0.4px;margin-left:-206.1px;
}
#P219_132
{
left:0px;letter-spacing:0.2px;margin-left:-3.7px;
}
#P219_133
{
left:15624.4px;bottom:5660.84px;letter-spacing:-0.2px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P219_134
{
left:0px;letter-spacing:-6.8px;margin-left:-41.9px;
}
#P219_135
{
left:0px;letter-spacing:-1.1px;margin-left:6.8px;
}
#P219_136
{
left:0px;letter-spacing:-2.2px;margin-left:1.1px;
}
#P219_137
{
left:0px;letter-spacing:-0.1px;margin-left:2.1px;
}
#P219_138
{
left:15624.4px;bottom:4764.97px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P219_139
{
left:0px;letter-spacing:0px;margin-left:0.5px;
}
#P219_140
{
left:7801.11px;bottom:26209.7px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P219_141
{
left:14669.4px;bottom:26234.2px;color:white;
}
#P219_142
{
left:15581.8px;bottom:26426px;color:white;
}
#P219_143
{
left:15822px;bottom:26234.2px;color:white;
}
#P219_144
{
left:0px;letter-spacing:0px;margin-left:-31.9px;
}
#P219_145
{
left:0px;letter-spacing:0px;margin-left:-40.5px;
}
#P219_146
{
left:20296px;bottom:26426px;color:white;
}
#P219_147
{
left:20536.2px;bottom:26234.2px;letter-spacing:-3.9px;color:white;
}
#P219_148
{
left:12873px;bottom:26131.1px;
}
#P219_149
{
left:12873px;bottom:26131.1px;color:white;
}
#P219_150
{
left:8781.4px;bottom:7779.56px;color:rgb(35,31,31);
}
#P219_151
{
left:8781.4px;bottom:7011.56px;color:rgb(35,31,31);
}
#P219_152
{
left:12285.4px;bottom:46716.8px;color:rgb(35,31,31);
}
#P219_153
{
left:12890.8px;bottom:46716.8px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P219_154
{
left:17265.6px;bottom:46716.8px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P219_155
{
left:0px;letter-spacing:-2.8px;margin-left:0.5px;
}
#P219_156
{
left:0px;letter-spacing:0px;margin-left:-18.2px;
}
#P219_157
{
left:12285.4px;bottom:45820.8px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P219_158
{
left:0px;letter-spacing:-0.8px;margin-left:0.9px;
}
#P219_159
{
left:31933.4px;bottom:36876.8px;letter-spacing:0.5px;color:rgb(35,31,31);
}
#P219_160
{
left:31933.4px;bottom:35980.8px;letter-spacing:-5.6px;color:rgb(35,31,31);
}
#P219_161
{
left:0px;letter-spacing:0px;margin-left:5.6px;
}
#P219_162
{
left:28029.4px;bottom:18060.8px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P219_163
{
left:0px;letter-spacing:0px;margin-left:-13.4px;
}
#P219_164
{
left:28029.4px;bottom:17164.8px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P219_165
{
left:28029.4px;bottom:16268.8px;letter-spacing:-5.6px;color:rgb(35,31,31);
}
#P219_166
{
left:0px;letter-spacing:0px;margin-left:5.6px;
}
#P219_167
{
left:32417.7px;bottom:16239.3px;color:rgb(35,31,31);
}
#P219_168
{
left:33004.1px;bottom:16268.8px;color:rgb(35,31,31);
}
#P219_169
{
left:33694px;bottom:16239.3px;color:rgb(35,31,31);
}
#P219_170
{
left:34280.4px;bottom:16268.8px;letter-spacing:-1.7px;color:rgb(35,31,31);
}
#PageContainer219
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg219.jpg");background-repeat:no-repeat;background-size: 965px 1110px; background-position: 46.4px 147.85px;
}
#ImageContainer219 {bottom:106.15px;left:46.40px;width:965.26px;height:1109.81px;position:absolute;} #TextContainer219 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.example2{position: absolute;top: 155px;left: 166px;}
.example3{position: absolute;top: 620px;left: 166px;}

.nyr{position:absolute;top: 1104px;left: 211px;}
.nyr_exr{position:absolute;top: 1130px;left: 245px;color:rgb(35,31,31); font-size:16px; /* white-space: pre; */  font-family: f0generic;  line-height: 5px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}
  .geo{position: absolute;top: 149px;left: 100px;}
#middle-toolbar img{vertical-align: middle;}