.tr641{ color:transparent;}
#P641_1
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P641_2
{
left:23534.7px;bottom:1410.03px;color:rgb(35,31,31);
}
#P641_3
{
left:28435.5px;bottom:1410.03px;letter-spacing:0.1px;word-spacing:458.2px;color:rgb(35,31,31);
}
#P641_4
{
left:0px;letter-spacing:0px;margin-left:-458.4px;
}
#P641_5
{
left:0px;letter-spacing:6.5px;margin-left:3.8px;
}
#P641_6
{
left:0px;letter-spacing:1.6px;margin-left:-10.9px;
}
#P641_7
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P641_8
{
left:11555.5px;bottom:43292.8px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P641_9
{
left:0px;letter-spacing:0.4px;margin-left:14.1px;
}
#P641_10
{
left:0px;letter-spacing:-18.7px;margin-left:-42.5px;
}
#P641_11
{
left:0px;letter-spacing:-0.2px;margin-left:18.7px;
}
#P641_12
{
left:0px;letter-spacing:0px;margin-left:-46.8px;
}
#P641_13
{
left:11555.5px;bottom:42396.8px;letter-spacing:-5.6px;color:rgb(35,31,31);
}
#P641_14
{
left:0px;letter-spacing:0px;margin-left:-22.4px;
}
#P641_15
{
left:0px;letter-spacing:-0.5px;
}
#P641_16
{
left:0px;letter-spacing:-21.1px;margin-left:-27.6px;
}
#P641_17
{
left:0px;letter-spacing:0px;margin-left:21.1px;
}
#P641_18
{
left:0px;letter-spacing:0px;margin-left:-70.3px;
}
#P641_19
{
left:19532.9px;bottom:40412.8px;letter-spacing:-0.7px;word-spacing:0.2px;color:rgb(35,31,31);
}
#P641_20
{
left:24574.4px;bottom:40383.2px;color:rgb(35,31,31);
}
#P641_21
{
left:25160.9px;bottom:40412.8px;color:rgb(35,31,31);
}
#P641_22
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P641_23
{
left:25709.1px;bottom:40852.5px;color:rgb(35,31,31);
}
#P641_24
{
left:27136.5px;bottom:40852.5px;color:rgb(35,31,31);
}
#P641_25
{
left:27627.5px;bottom:40852.5px;color:rgb(35,31,31);
}
#P641_26
{
left:27849.4px;bottom:40430.4px;color:rgb(35,31,31);
}
#P641_27
{
left:25319.2px;bottom:40396.8px;color:rgb(35,31,31);
}
#P641_28
{
left:0px;bottom:0px;letter-spacing:0px;color:rgb(35,31,31);
}
#P641_29
{
left:25340.3px;bottom:39944.9px;color:rgb(35,31,31);
}
#P641_30
{
left:27601px;bottom:39944.9px;color:rgb(35,31,31);
}
#P641_31
{
left:27996.3px;bottom:39944.9px;color:rgb(35,31,31);
}
#P641_32
{
left:28218.1px;bottom:40430.4px;color:rgb(35,31,31);
}
#P641_33
{
left:28239.2px;bottom:40412.8px;color:rgb(35,31,31);
}
#P641_34
{
left:11555.5px;bottom:38044.8px;letter-spacing:-0.3px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P641_35
{
left:0px;letter-spacing:-0.1px;margin-left:-27.8px;
}
#P641_36
{
left:0px;letter-spacing:-0.1px;
}
#P641_37
{
left:0px;letter-spacing:0px;margin-left:-35px;
}
#P641_38
{
left:19040.4px;bottom:34844.8px;letter-spacing:-158.4px;color:rgb(235,26,35);
}
#P641_39
{
left:19478.1px;bottom:35284.5px;color:rgb(235,26,35);
}
#P641_40
{
left:21355.4px;bottom:34862.4px;color:rgb(235,26,35);
}
#P641_41
{
left:19040.4px;bottom:34828.8px;color:rgb(35,31,31);
}
#P641_42
{
left:0px;bottom:0px;letter-spacing:0px;color:rgb(35,31,31);
}
#P641_43
{
left:19061.5px;bottom:34376.9px;color:rgb(0,124,196);
}
#P641_44
{
left:21772px;bottom:34862.4px;color:rgb(0,124,196);
}
#P641_45
{
left:21793.1px;bottom:34844.8px;color:rgb(0,124,196);
}
#P641_46
{
left:21793.1px;bottom:34844.8px;color:rgb(35,31,31);
}
#P641_47
{
left:21951.5px;bottom:34815.2px;color:rgb(35,31,31);
}
#P641_48
{
left:22537.9px;bottom:34844.8px;color:rgb(35,31,31);
}
#P641_49
{
left:24533.8px;bottom:34815.2px;color:rgb(35,31,31);
}
#P641_50
{
left:25120.2px;bottom:34812.8px;color:rgb(35,31,31);
}
#P641_51
{
left:25307.4px;bottom:34844.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P641_52
{
left:25913px;bottom:35316.5px;color:rgb(235,26,35);
}
#P641_53
{
left:0px;bottom:0px;letter-spacing:0px;color:rgb(235,26,35);
}
#P641_54
{
left:0px;bottom:0px;letter-spacing:0px;color:rgb(35,31,31);
}
#P641_55
{
left:0px;bottom:0px;letter-spacing:0px;color:rgb(35,31,31);
}
#P641_56
{
left:25328.5px;bottom:34408.9px;color:rgb(0,124,196);
}
#P641_57
{
left:28710.6px;bottom:34862.4px;color:rgb(0,124,196);
}
#P641_58
{
left:28731.7px;bottom:34844.8px;color:rgb(0,124,196);
}
#P641_59
{
left:11555.5px;bottom:29724.8px;letter-spacing:-14.8px;color:rgb(35,31,31);
}
#P641_60
{
left:0px;letter-spacing:0.1px;margin-left:14.8px;
}
#P641_61
{
left:0px;letter-spacing:0px;margin-left:-225.1px;
}
#P641_62
{
left:0px;letter-spacing:0px;margin-left:77.1px;
}
#P641_63
{
left:0px;letter-spacing:-3.5px;
}
#P641_64
{
left:0px;letter-spacing:0px;margin-left:3.5px;
}
#P641_65
{
left:25047.6px;bottom:29730.4px;color:rgb(35,31,31);
}
#P641_66
{
left:25610.8px;bottom:29724.8px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P641_67
{
left:11555.5px;bottom:28828.8px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P641_68
{
left:0px;letter-spacing:-5.6px;margin-left:1.3px;
}
#P641_69
{
left:0px;letter-spacing:0px;margin-left:-22.4px;
}
#P641_70
{
left:0px;letter-spacing:-0.4px;
}
#P641_71
{
left:11555.5px;bottom:27548.8px;color:rgb(35,31,31);
}
#P641_72
{
left:11683.5px;bottom:27548.8px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P641_73
{
left:12899.5px;bottom:27548.8px;letter-spacing:-0.2px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P641_74
{
left:11555.5px;bottom:26460.8px;color:rgb(35,31,31);
}
#P641_75
{
left:11683.5px;bottom:26460.8px;letter-spacing:-17.5px;color:rgb(35,31,31);
}
#P641_76
{
left:12899.5px;bottom:26460.8px;letter-spacing:-0.2px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P641_77
{
left:11555.5px;bottom:25372.8px;color:rgb(35,31,31);
}
#P641_78
{
left:11683.5px;bottom:25372.8px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P641_79
{
left:12899.5px;bottom:25372.8px;letter-spacing:-0.2px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P641_80
{
left:11555.5px;bottom:24284.8px;color:rgb(35,31,31);
}
#P641_81
{
left:11683.5px;bottom:24284.8px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P641_82
{
left:12899.5px;bottom:24284.8px;letter-spacing:-0.2px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P641_83
{
left:12433.7px;bottom:44853px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P641_84
{
left:15858.8px;bottom:45044.8px;color:rgb(255,223,126);
}
#P641_85
{
left:16451.7px;bottom:44853px;word-spacing:175.5px;color:white;
}
#P641_86
{
left:17523.9px;bottom:45044.8px;color:white;
}
#P641_87
{
left:17764.1px;bottom:44853px;color:white;
}
#P641_88
{
left:18100.1px;bottom:45044.8px;color:white;
}
#P641_89
{
left:18340.3px;bottom:44853px;letter-spacing:-1.7px;color:white;
}
#P641_90
{
left:22502.4px;bottom:45044.8px;color:white;
}
#P641_91
{
left:22742.6px;bottom:44853px;color:white;
}
#P641_92
{
left:10693.3px;bottom:44729.5px;
}
#P641_93
{
left:10693.3px;bottom:44729.5px;color:white;
}
#P641_94
{
left:14136.4px;bottom:35724.8px;color:rgb(235,26,35);
}
#P641_95
{
left:13409.9px;bottom:33712px;color:rgb(0,124,196);
}
#P641_96
{
left:21697.9px;bottom:32076.8px;color:rgb(0,124,196);
}
#P641_97
{
left:31256.4px;bottom:35360px;color:rgb(0,124,196);
}
#P641_98
{
left:31256.4px;bottom:34464px;color:rgb(0,124,196);
}
#P641_99
{
left:10541.4px;bottom:20043.9px;color:rgb(35,31,31);
}
#P641_100
{
left:10935.8px;bottom:20070.8px;color:rgb(35,31,31);
}
#P641_101
{
left:12077.4px;bottom:20063.7px;color:rgb(2,77,161);
}
#P641_102
{
left:12077.4px;bottom:20063.7px;word-spacing:-26px;color:rgb(2,77,161);
}
#P641_103
{
left:0px;letter-spacing:0px;margin-left:-26px;
}
#P641_104
{
left:0px;letter-spacing:0px;margin-left:26px;
}
#P641_105
{
left:19237.3px;bottom:20043.9px;letter-spacing:193.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P641_106
{
left:0px;letter-spacing:-7px;margin-left:-214.5px;
}
#P641_107
{
left:0px;letter-spacing:0px;margin-left:7px;
}
#P641_108
{
left:12077.4px;bottom:19147.9px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P641_109
{
left:0px;letter-spacing:0px;margin-left:1.3px;
}
#P641_110
{
left:10541.4px;bottom:17803.9px;color:rgb(35,31,31);
}
#P641_111
{
left:10935.8px;bottom:17830.8px;color:rgb(35,31,31);
}
#P641_112
{
left:12077.4px;bottom:17803.9px;letter-spacing:-70.3px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P641_113
{
left:0px;letter-spacing:-0.8px;margin-left:70.2px;
}
#P641_114
{
left:10541.4px;bottom:15755.9px;color:rgb(35,31,31);
}
#P641_115
{
left:11309.4px;bottom:15782.8px;letter-spacing:581.2px;color:rgb(35,31,31);
}
#P641_116
{
left:19005.4px;bottom:15626.8px;color:rgb(35,31,31);
}
#P641_117
{
left:0px;letter-spacing:0px;margin-left:2405.4px;
}
#P641_118
{
left:0px;letter-spacing:0px;margin-left:1996.3px;
}
#P641_119
{
left:0px;letter-spacing:0px;margin-left:-20px;
}
#P641_120
{
left:14735.6px;bottom:14538.7px;color:rgb(35,31,31);
}
#P641_121
{
left:19609.9px;bottom:14519.9px;color:rgb(35,31,31);
}
#P641_122
{
left:0px;letter-spacing:0px;margin-left:3269.5px;
}
#P641_123
{
left:14735.6px;bottom:13514.9px;color:rgb(35,31,31);
}
#P641_124
{
left:19609.9px;bottom:13496px;color:rgb(35,31,31);
}
#P641_125
{
left:0px;letter-spacing:0px;margin-left:3269.5px;
}
#P641_126
{
left:12077.4px;bottom:11211.9px;word-spacing:-6.8px;color:rgb(35,31,31);
}
#P641_127
{
left:0px;letter-spacing:-0.1px;margin-left:-4.2px;
}
#P641_128
{
left:22907.1px;bottom:11211.9px;letter-spacing:63px;word-spacing:-6.7px;color:rgb(35,31,31);
}
#P641_129
{
left:0px;letter-spacing:-1.6px;margin-left:-63.1px;
}
#P641_130
{
left:0px;letter-spacing:-1.3px;margin-left:1.5px;
}
#P641_131
{
left:0px;letter-spacing:-0.1px;margin-left:1.2px;
}
#P641_132
{
left:12077.4px;bottom:10315.9px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P641_133
{
left:0px;letter-spacing:0px;margin-left:-13.4px;
}
#P641_134
{
left:10541.4px;bottom:8971.95px;color:rgb(35,31,31);
}
#P641_135
{
left:12068.1px;bottom:8971.95px;letter-spacing:-9.3px;word-spacing:1324.2px;color:rgb(35,31,31);
}
#P641_136
{
left:13037.3px;bottom:8971.95px;letter-spacing:-0.3px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P641_137
{
left:10541.3px;bottom:7883.95px;color:rgb(35,31,31);
}
#P641_138
{
left:12070.3px;bottom:7883.95px;letter-spacing:-13.9px;word-spacing:1331.1px;color:rgb(35,31,31);
}
#P641_139
{
left:13037.3px;bottom:7883.95px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P641_140
{
left:0px;letter-spacing:0px;margin-left:0.6px;
}
#P641_141
{
left:14845.4px;bottom:4460.65px;letter-spacing:228.8px;color:rgb(0,124,196);
}
#P641_142
{
left:15261.4px;bottom:4492.65px;letter-spacing:-9.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P641_143
{
left:0px;letter-spacing:-1.9px;margin-left:9.3px;
}
#P641_144
{
left:0px;letter-spacing:-0.6px;margin-left:1.8px;
}
#P641_145
{
left:0px;letter-spacing:-0.1px;margin-left:158.9px;
}
#P641_146
{
left:15261.4px;bottom:3596.67px;letter-spacing:-1.6px;color:rgb(35,31,31);
}
#P641_147
{
left:0px;letter-spacing:0px;margin-left:-68.8px;
}
#P641_148
{
left:0px;letter-spacing:0px;
}
#P641_149
{
left:4900.19px;bottom:40810.3px;color:rgb(35,31,31);
}
#P641_150
{
left:4900.19px;bottom:40042.3px;color:rgb(35,31,31);
}
#P641_151
{
left:4900.19px;bottom:39175.5px;color:rgb(35,31,31);
}
#P641_152
{
left:4900.19px;bottom:38439.5px;color:rgb(35,31,31);
}
#P641_153
{
left:4900.19px;bottom:37703.5px;color:rgb(35,31,31);
}
#P641_154
{
left:4900.19px;bottom:36967.5px;color:rgb(35,31,31);
}
#P641_155
{
left:4649.56px;bottom:42594.1px;letter-spacing:-20.4px;color:white;
}
#P641_156
{
left:4649.56px;bottom:41634px;letter-spacing:-27.2px;color:white;
}
#P641_157
{
left:6628.63px;bottom:41890.8px;color:white;
}
#P641_158
{
left:6903.9px;bottom:41634px;letter-spacing:-27.2px;color:white;
}
#P641_159
{
left:28239.2px;bottom:40414px;
}
#P641_160
{
left:21793.1px;bottom:34846px;
}
#P641_161
{
left:28126.1px;bottom:34862.4px;
}
#P641_162
{
left:25307.4px;bottom:34860.8px;
}
#P641_163
{
left:28731.7px;bottom:34846px;
}
#PageContainer641
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg641.jpg");background-repeat:no-repeat;background-size: 1021px 1272px; background-position: 0px -0.150000000000091px;
}
#ImageContainer641 {bottom:92.15px;left:0.00px;width:1020.57px;height:1272.01px;position:absolute;} #TextContainer641 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}
.practice{position: absolute;top: 1212px;left: 253px;}
#middle-toolbar img{vertical-align: middle;}