.tr296{ color:transparent;}
#P296_1
{
left:2365.4px;bottom:1409.96px;color:rgb(35,31,31);
}
#P296_2
{
left:3540.44px;bottom:1409.96px;color:rgb(35,31,31);
}
#P296_3
{
left:4925.4px;bottom:1409.96px;color:rgb(35,31,31);
}
#P296_4
{
left:9121.88px;bottom:1409.96px;letter-spacing:462px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P296_5
{
left:0px;letter-spacing:4.3px;margin-left:-462.1px;
}
#P296_6
{
left:0px;letter-spacing:0.8px;margin-left:-4.4px;
}
#P296_7
{
left:0px;letter-spacing:0px;margin-left:2.9px;
}
#P296_8
{
left:5889.56px;bottom:46957.1px;color:white;
}
#P296_9
{
left:2371.78px;bottom:46929.9px;color:white;
}
#P296_10
{
left:12216.9px;bottom:42442.2px;word-spacing:-26px;color:rgb(35,31,31);
}
#P296_11
{
left:0px;letter-spacing:0px;margin-left:-38.7px;
}
#P296_12
{
left:12216.9px;bottom:41375.5px;letter-spacing:-5.4px;color:rgb(2,77,161);
}
#P296_13
{
left:14189.4px;bottom:41358.4px;letter-spacing:508.3px;color:rgb(35,31,31);
}
#P296_14
{
left:14893.4px;bottom:41334.4px;color:rgb(35,31,31);
}
#P296_15
{
left:16278.1px;bottom:41334.4px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P296_16
{
left:21011.2px;bottom:41334.4px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P296_17
{
left:14893.4px;bottom:40438.4px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P296_18
{
left:0px;letter-spacing:0px;margin-left:-24.9px;
}
#P296_19
{
left:0px;letter-spacing:-0.3px;
}
#P296_20
{
left:14893.4px;bottom:39542.5px;color:rgb(35,31,31);
}
#P296_21
{
left:18936.4px;bottom:39542.5px;color:rgb(35,31,31);
}
#P296_22
{
left:19331.3px;bottom:39542.5px;letter-spacing:0.4px;color:rgb(35,31,31);
}
#P296_23
{
left:23458.6px;bottom:39507.2px;color:rgb(35,31,31);
}
#P296_24
{
left:23635px;bottom:39444.5px;color:rgb(35,31,31);
}
#P296_25
{
left:23796.9px;bottom:39542.4px;color:rgb(35,31,31);
}
#P296_26
{
left:24353.8px;bottom:39507.2px;color:rgb(35,31,31);
}
#P296_27
{
left:24530.1px;bottom:39542.4px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P296_28
{
left:12216.9px;bottom:37983.5px;color:rgb(2,77,161);
}
#P296_29
{
left:15054.9px;bottom:37966.4px;letter-spacing:508.3px;color:rgb(35,31,31);
}
#P296_30
{
left:0px;letter-spacing:0px;margin-left:3241.9px;
}
#P296_31
{
left:19704.9px;bottom:37942.4px;color:rgb(35,31,31);
}
#P296_32
{
left:19704.9px;bottom:37907.2px;color:rgb(35,31,31);
}
#P296_33
{
left:19881.2px;bottom:37844.5px;color:rgb(35,31,31);
}
#P296_34
{
left:20043.1px;bottom:37912.9px;color:rgb(35,31,31);
}
#P296_35
{
left:20629.5px;bottom:37942.4px;color:rgb(35,31,31);
}
#P296_36
{
left:21164.6px;bottom:37907.2px;color:rgb(35,31,31);
}
#P296_37
{
left:21340.9px;bottom:37942.4px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P296_38
{
left:21499.3px;bottom:37912.9px;color:rgb(35,31,31);
}
#P296_39
{
left:22085.7px;bottom:37942.4px;color:rgb(35,31,31);
}
#P296_40
{
left:0px;letter-spacing:0px;margin-left:1537.2px;
}
#P296_41
{
left:24312.9px;bottom:37907.2px;color:rgb(35,31,31);
}
#P296_42
{
left:24489.2px;bottom:37844.5px;color:rgb(35,31,31);
}
#P296_43
{
left:24651.1px;bottom:37942.4px;color:rgb(35,31,31);
}
#P296_44
{
left:25186.1px;bottom:37907.2px;color:rgb(35,31,31);
}
#P296_45
{
left:25362.5px;bottom:37942.4px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P296_46
{
left:25520.9px;bottom:37912.9px;color:rgb(35,31,31);
}
#P296_47
{
left:26107.3px;bottom:37942.4px;color:rgb(35,31,31);
}
#P296_48
{
left:12216.9px;bottom:36918.5px;color:rgb(35,31,31);
}
#P296_49
{
left:23212.6px;bottom:34738.2px;letter-spacing:1827.3px;color:rgb(35,31,31);
}
#P296_50
{
left:20695.6px;bottom:34624.5px;color:rgb(35,31,31);
}
#P296_51
{
left:21122.1px;bottom:34738.2px;color:rgb(35,31,31);
}
#P296_52
{
left:18583.6px;bottom:34624.5px;color:rgb(237,28,35);
}
#P296_53
{
left:19010.1px;bottom:34738.2px;color:rgb(237,28,35);
}
#P296_54
{
left:16471.6px;bottom:34624.5px;color:rgb(35,31,31);
}
#P296_55
{
left:16898.1px;bottom:34738.2px;color:rgb(35,31,31);
}
#P296_56
{
left:27436.6px;bottom:34738.2px;color:rgb(0,124,196);
}
#P296_57
{
left:29548.6px;bottom:34738.2px;color:rgb(35,31,31);
}
#P296_58
{
left:20368.1px;bottom:36695.3px;color:rgb(237,28,35);
}
#P296_59
{
left:24634.5px;bottom:36695.3px;color:rgb(0,124,196);
}
#P296_60
{
left:11709.4px;bottom:7231.4px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P296_61
{
left:0px;letter-spacing:0px;margin-left:-9.6px;
}
#P296_62
{
left:11981px;bottom:6106.22px;word-spacing:453.2px;color:rgb(35,31,31);
}
#P296_63
{
left:13181.4px;bottom:6044.18px;color:rgb(35,31,31);
}
#P296_64
{
left:13357.7px;bottom:5981.46px;color:rgb(35,31,31);
}
#P296_65
{
left:13519.6px;bottom:6079.4px;color:rgb(35,31,31);
}
#P296_66
{
left:14054.7px;bottom:6044.18px;color:rgb(35,31,31);
}
#P296_67
{
left:14231.1px;bottom:6079.4px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P296_68
{
left:19533px;bottom:6106.22px;word-spacing:517.2px;color:rgb(35,31,31);
}
#P296_69
{
left:20797.4px;bottom:6044.18px;color:rgb(35,31,31);
}
#P296_70
{
left:20973.7px;bottom:5981.46px;color:rgb(35,31,31);
}
#P296_71
{
left:21107.5px;bottom:6049.84px;color:rgb(35,31,31);
}
#P296_72
{
left:21693.9px;bottom:6079.4px;color:rgb(35,31,31);
}
#P296_73
{
left:22229px;bottom:6044.18px;color:rgb(35,31,31);
}
#P296_74
{
left:22405.3px;bottom:6079.4px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P296_75
{
left:27213px;bottom:6106.22px;word-spacing:517.2px;color:rgb(35,31,31);
}
#P296_76
{
left:28477.4px;bottom:6044.18px;color:rgb(35,31,31);
}
#P296_77
{
left:28653.7px;bottom:5981.46px;color:rgb(35,31,31);
}
#P296_78
{
left:28787.5px;bottom:6079.4px;color:rgb(35,31,31);
}
#P296_79
{
left:29322.5px;bottom:6044.18px;color:rgb(35,31,31);
}
#P296_80
{
left:29498.9px;bottom:6079.4px;color:rgb(35,31,31);
}
#P296_81
{
left:11517.4px;bottom:4479.4px;color:rgb(35,31,31);
}
#P296_82
{
left:11981px;bottom:4506.22px;word-spacing:453.2px;color:rgb(35,31,31);
}
#P296_83
{
left:13181.4px;bottom:4096.34px;color:rgb(35,31,31);
}
#P296_84
{
left:13357.7px;bottom:4184.21px;color:rgb(35,31,31);
}
#P296_85
{
left:13485.4px;bottom:4479.4px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P296_86
{
left:13470.2px;bottom:4913.07px;color:rgb(35,31,31);
}
#P296_87
{
left:13806px;bottom:4497px;color:rgb(35,31,31);
}
#P296_88
{
left:13449.1px;bottom:4457.38px;color:rgb(35,31,31);
}
#P296_89
{
left:13827.2px;bottom:4480.67px;color:rgb(35,31,31);
}
#P296_90
{
left:13470.2px;bottom:4005.55px;color:rgb(35,31,31);
}
#P296_91
{
left:13806px;bottom:4497px;color:rgb(35,31,31);
}
#P296_92
{
left:13827.2px;bottom:4479.4px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P296_93
{
left:14028.8px;bottom:4117.76px;color:rgb(35,31,31);
}
#P296_94
{
left:19533px;bottom:4506.22px;word-spacing:517.2px;color:rgb(35,31,31);
}
#P296_95
{
left:20797.4px;bottom:4092.18px;color:rgb(35,31,31);
}
#P296_96
{
left:20973.7px;bottom:4184.21px;color:rgb(35,31,31);
}
#P296_97
{
left:21107.5px;bottom:4449.84px;color:rgb(35,31,31);
}
#P296_98
{
left:21693.9px;bottom:4479.4px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P296_99
{
left:22088.2px;bottom:4919.08px;color:rgb(35,31,31);
}
#P296_100
{
left:22424px;bottom:4497px;color:rgb(35,31,31);
}
#P296_101
{
left:22067px;bottom:4463.39px;color:rgb(35,31,31);
}
#P296_102
{
left:22445.1px;bottom:4480.67px;color:rgb(35,31,31);
}
#P296_103
{
left:22088.2px;bottom:4011.5px;color:rgb(35,31,31);
}
#P296_104
{
left:22424px;bottom:4497px;color:rgb(35,31,31);
}
#P296_105
{
left:22445.1px;bottom:4479.4px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P296_106
{
left:22656.3px;bottom:4092.18px;color:rgb(35,31,31);
}
#P296_107
{
left:27213px;bottom:4506.22px;word-spacing:517.2px;color:rgb(35,31,31);
}
#P296_108
{
left:28477.4px;bottom:4444.18px;color:rgb(35,31,31);
}
#P296_109
{
left:28653.7px;bottom:4381.46px;color:rgb(35,31,31);
}
#P296_110
{
left:28787.5px;bottom:4449.84px;color:rgb(35,31,31);
}
#P296_111
{
left:29373.9px;bottom:4479.4px;color:rgb(35,31,31);
}
#P296_112
{
left:30841.8px;bottom:4444.18px;color:rgb(35,31,31);
}
#P296_113
{
left:31018.1px;bottom:4479.4px;color:rgb(35,31,31);
}
#P296_114
{
left:5613.4px;bottom:6233px;color:rgb(35,31,31);
}
#P296_115
{
left:12301.4px;bottom:31066.2px;color:white;
}
#P296_116
{
left:12717px;bottom:31258px;color:white;
}
#P296_117
{
left:12957.2px;bottom:31066.2px;color:white;
}
#P296_118
{
left:13933.5px;bottom:31258px;color:white;
}
#P296_119
{
left:14173.7px;bottom:31066.2px;word-spacing:-31.9px;color:white;
}
#P296_120
{
left:0px;letter-spacing:0px;margin-left:-47.4px;
}
#P296_121
{
left:10457px;bottom:30899.1px;
}
#P296_122
{
left:10457px;bottom:30899.1px;color:white;
}
#P296_123
{
left:2856.07px;bottom:43477px;letter-spacing:-7.7px;word-spacing:-26px;color:rgb(0,124,196);
}
#P296_124
{
left:0px;letter-spacing:0px;margin-left:7.7px;
}
#P296_125
{
left:2856.07px;bottom:42535px;color:rgb(35,31,31);
}
#P296_126
{
left:2856.07px;bottom:41767px;color:rgb(35,31,31);
}
#P296_127
{
left:3624.07px;bottom:41767px;color:rgb(35,31,31);
}
#P296_128
{
left:26785.2px;bottom:46188.3px;word-spacing:0.2px;color:rgb(33,31,31);
}
#P296_129
{
left:0px;letter-spacing:0px;margin-left:-44.8px;
}
#P296_130
{
left:0px;letter-spacing:0px;margin-left:0.2px;
}
#P296_131
{
left:11317.1px;bottom:29482.2px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P296_131a
{
left:12317.1px;bottom:29482.2px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P296_132
{
left:0px;letter-spacing:0px;
margin-left: 0;
}
#P296_133
{
left:0px;letter-spacing:0px;margin-left:-15.5px;
}
#P296_134
{
left:0px;letter-spacing:0px;margin-left:-10.4px;
}
#P296_135
{
left:19745.7px;bottom:25865.7px;color:rgb(33,31,31);
}
#P296_136
{
left:20172.2px;bottom:25979.4px;color:rgb(35,31,31);
}
#P296_137
{
left:18324.9px;bottom:25865.7px;color:rgb(33,31,31);
}
#P296_138
{
left:18751.4px;bottom:25979.4px;color:rgb(35,31,31);
}
#P296_139
{
left:16904.1px;bottom:25865.7px;color:rgb(33,31,31);
}
#P296_140
{
left:17330.6px;bottom:25979.4px;color:rgb(35,31,31);
}
#P296_141
{
left:23712.9px;bottom:25274.6px;color:rgb(0,124,196);
}
#P296_142
{
left:15483.3px;bottom:25865.7px;color:rgb(33,31,31);
}
#P296_143
{
left:15909.8px;bottom:25979.4px;color:rgb(35,31,31);
}
#P296_144
{
left:14062.5px;bottom:25865.7px;color:rgb(33,31,31);
}
#P296_145
{
left:14489px;bottom:25979.4px;letter-spacing:6826px;color:rgb(35,31,31);
}
#P296_146
{
left:0px;letter-spacing:1136.1px;margin-left:-5689.9px;
}
#P296_147
{
left:23023.2px;bottom:27976.1px;letter-spacing:-1px;color:rgb(0,124,196);
}
#P296_148
{
left:22343.5px;bottom:23754.1px;letter-spacing:-8.3px;color:rgb(0,124,196);
}
#P296_149
{
left:0px;letter-spacing:0px;margin-left:8.3px;
}
#P296_150
{
left:11509.1px;bottom:22122.2px;color:rgb(35,31,31);
}
#P296_151
{
left:13821.1px;bottom:22314.2px;word-spacing:545.6px;color:rgb(35,31,31);
}
#P296_152
{
left:0px;letter-spacing:0px;margin-left:-8.4px;
}
#P296_153
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P296_154
{
left:14916.8px;bottom:22279px;color:rgb(35,31,31);
}
#P296_155
{
left:15093.1px;bottom:22216.3px;color:rgb(35,31,31);
}
#P296_156
{
left:15255px;bottom:22314.2px;color:rgb(35,31,31);
}
#P296_157
{
left:15790px;bottom:22279px;color:rgb(35,31,31);
}
#P296_158
{
left:15966.4px;bottom:22314.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P296_159
{
left:16124.8px;bottom:22284.7px;color:rgb(35,31,31);
}
#P296_160
{
left:16711.2px;bottom:22314.2px;color:rgb(35,31,31);
}
#P296_161
{
left:11317.1px;bottom:20458.2px;letter-spacing:-17.5px;color:rgb(35,31,31);
}
#P296_161a
{
left:12317.1px;bottom:20458.2px;letter-spacing:-17.5px;color:rgb(35,31,31);
}
#P296_162
{
left:0px;letter-spacing:0px;
margin-left: 0;
}
#P296_163
{
left:0px;letter-spacing:0px;margin-left:-15.5px;
}
#P296_164
{
left:0px;letter-spacing:0px;margin-left:-10.5px;
}
#P296_165
{
left:21015.7px;bottom:20428.7px;color:rgb(35,31,31);
}
#P296_166
{
left:21602.1px;bottom:20458.2px;word-spacing:-147.8px;color:rgb(35,31,31);
}
#P296_167
{
left:22017.5px;bottom:20897.9px;color:rgb(35,31,31);
}
#P296_168
{
left:22372.3px;bottom:20475.8px;color:rgb(35,31,31);
}
#P296_169
{
left:21996.4px;bottom:20442.2px;color:rgb(35,31,31);
}
#P296_170
{
left:22393.4px;bottom:20459.5px;color:rgb(35,31,31);
}
#P296_171
{
left:22017.5px;bottom:19990.4px;color:rgb(35,31,31);
}
#P296_172
{
left:22372.3px;bottom:20475.8px;color:rgb(35,31,31);
}
#P296_173
{
left:22393.4px;bottom:20458.2px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P296_174
{
left:20897.4px;bottom:16081.2px;color:rgb(33,31,31);
}
#P296_175
{
left:21323.9px;bottom:16194.9px;color:rgb(35,31,31);
}
#P296_176
{
left:18055.8px;bottom:16081.2px;color:rgb(33,31,31);
}
#P296_177
{
left:18482.3px;bottom:16194.9px;color:rgb(35,31,31);
}
#P296_178
{
left:15214.2px;bottom:16081.2px;color:rgb(33,31,31);
}
#P296_179
{
left:15640.7px;bottom:16194.9px;color:rgb(35,31,31);
}
#P296_180
{
left:23734.9px;bottom:16081.2px;color:rgb(33,31,31);
}
#P296_181
{
left:24161.4px;bottom:16194.9px;letter-spacing:2562px;color:rgb(35,31,31);
}
#P296_182
{
left:18779.2px;bottom:18313.3px;color:rgb(0,124,196);
}
#P296_183
{
left:20509px;bottom:18324px;color:rgb(0,124,196);
}
#P296_184
{
left:21068.8px;bottom:18313.3px;letter-spacing:-1.2px;color:rgb(0,124,196);
}
#P296_185
{
left:23229.3px;bottom:15374.9px;color:rgb(0,124,196);
}
#P296_186
{
left:23656.1px;bottom:15710.5px;color:rgb(0,124,196);
}
#P296_187
{
left:23656.1px;bottom:15057.7px;color:rgb(0,124,196);
}
#P296_188
{
left:21519.4px;bottom:18688.7px;color:rgb(0,124,196);
}
#P296_189
{
left:21519.4px;bottom:18035.9px;color:rgb(0,124,196);
}
#P296_190
{
left:20078.6px;bottom:13404.4px;letter-spacing:-8.3px;color:rgb(0,124,196);
}
#P296_191
{
left:0px;letter-spacing:0px;margin-left:8.3px;
}
#P296_192
{
left:25774.5px;bottom:13415.1px;color:rgb(0,124,196);
}
#P296_193
{
left:26334.3px;bottom:13404.4px;color:rgb(0,124,196);
}
#P296_194
{
left:26783.4px;bottom:13799.1px;color:rgb(0,124,196);
}
#P296_195
{
left:26783.4px;bottom:13146.3px;color:rgb(0,124,196);
}
#P296_196
{
left:29899.6px;bottom:13799.1px;color:rgb(0,124,196);
}
#P296_197
{
left:29899.6px;bottom:13146.3px;color:rgb(0,124,196);
}
#P296_198
{
left:11509.1px;bottom:11114.2px;color:rgb(35,31,31);
}
#P296_199
{
left:13821.1px;bottom:11306.2px;word-spacing:545.6px;color:rgb(35,31,31);
}
#P296_200
{
left:0px;letter-spacing:0px;margin-left:-8.4px;
}
#P296_201
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P296_202
{
left:14916.8px;bottom:10919px;color:rgb(35,31,31);
}
#P296_203
{
left:15093.1px;bottom:11011px;color:rgb(35,31,31);
}
#P296_204
{
left:15226.8px;bottom:11276.7px;color:rgb(35,31,31);
}
#P296_205
{
left:15813.3px;bottom:11306.2px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P296_206
{
left:16207.5px;bottom:11745.9px;color:rgb(35,31,31);
}
#P296_207
{
left:16543.3px;bottom:11323.8px;color:rgb(35,31,31);
}
#P296_208
{
left:16186.4px;bottom:11290.2px;color:rgb(35,31,31);
}
#P296_209
{
left:16564.4px;bottom:11307.5px;color:rgb(35,31,31);
}
#P296_210
{
left:16207.5px;bottom:10838.4px;color:rgb(35,31,31);
}
#P296_211
{
left:16543.3px;bottom:11323.8px;color:rgb(35,31,31);
}
#P296_212
{
left:16564.4px;bottom:11306.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P296_213
{
left:16775.6px;bottom:10919px;color:rgb(35,31,31);
}
#P296_214
{
left:16952px;bottom:11306.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P296_215
{
left:17110.4px;bottom:11276.7px;color:rgb(35,31,31);
}
#P296_216
{
left:17696.8px;bottom:11306.2px;color:rgb(35,31,31);
}
#P296_217
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P296_218
{
left:18249.4px;bottom:11745.9px;color:rgb(35,31,31);
}
#P296_219
{
left:18585.2px;bottom:11323.8px;color:rgb(35,31,31);
}
#P296_220
{
left:18228.3px;bottom:11290.2px;color:rgb(35,31,31);
}
#P296_221
{
left:18606.4px;bottom:11307.5px;color:rgb(35,31,31);
}
#P296_222
{
left:18249.4px;bottom:10838.4px;color:rgb(35,31,31);
}
#P296_223
{
left:18585.2px;bottom:11323.8px;color:rgb(35,31,31);
}
#P296_224
{
left:18606.4px;bottom:11306.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P296_225
{
left:5437.4px;bottom:31073.6px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#PageContainer296
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg296.jpg");background-repeat:no-repeat;background-size: 943px 1291px; background-position: 0px 35.3699999999999px;
}
#ImageContainer296 {bottom:37.63px;left:0.00px;width:942.93px;height:1291.35px;position:absolute;} #TextContainer296 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.math_tool{position: absolute;top: 469px;left: 34px;}
.example1{position: absolute;top: 484px;left: 101px;}
.nyr{position: absolute;top: 1145px;left: 118px;}
.nyr_exr{position: absolute;top: 1181px;left: 152px;color: rgb(35,31,31);font-size: 16px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}