.tr482{ color:transparent;}
#P482_1
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P482_2
{
left:3540.44px;bottom:1410.03px;color:rgb(35,31,31);
}
#P482_3
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P482_4
{
left:8197.72px;bottom:1410.03px;letter-spacing:462.1px;color:rgb(35,31,31);
}
#P482_5
{
left:0px;letter-spacing:1.5px;margin-left:-465px;
}
#P482_6
{
left:0px;letter-spacing:0px;margin-left:6.1px;
}
#P482_7
{
left:2173.4px;bottom:47676.8px;letter-spacing:-1px;color:white;
}
#P482_8
{
left:4460.12px;bottom:47903.3px;color:white;
}
#P482_9
{
left:4726.04px;bottom:47676.8px;letter-spacing:-1px;color:white;
}
#P482_10
{
left:2530.77px;bottom:46476px;letter-spacing:-80.6px;color:white;
}
#P482_11
{
left:10813.4px;bottom:43625.6px;letter-spacing:-31.6px;color:rgb(35,31,31);
}
#P482_12
{
left:0px;letter-spacing:-0.3px;margin-left:31.6px;
}
#P482_13
{
left:0px;letter-spacing:0.1px;margin-left:-13.5px;
}
#P482_14
{
left:0px;letter-spacing:0.5px;margin-left:-0.1px;
}
#P482_15
{
left:10813.4px;bottom:42729.6px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P482_16
{
left:0px;letter-spacing:0px;margin-left:0.6px;
}
#P482_17
{
left:10813.4px;bottom:41833.8px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P482_18
{
left:0px;letter-spacing:0.1px;margin-left:-13.3px;
}
#P482_19
{
left:0px;letter-spacing:-1.6px;margin-left:-0.1px;
}
#P482_20
{
left:5445.91px;bottom:25409.6px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P482_21
{
left:12314.2px;bottom:25434.2px;color:white;
}
#P482_22
{
left:14650.5px;bottom:25626px;color:white;
}
#P482_23
{
left:14890.6px;bottom:25434.2px;letter-spacing:-1.7px;word-spacing:-31.9px;color:white;
}
#P482_24
{
left:19260.2px;bottom:25626px;color:white;
}
#P482_25
{
left:19500.4px;bottom:25434.2px;letter-spacing:-1.4px;color:white;
}
#P482_26
{
left:10469.8px;bottom:25267.1px;
}
#P482_27
{
left:10469.8px;bottom:25267.1px;color:white;
}
#P482_28
{
left:11449.2px;bottom:23819.6px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P482_29
{
left:0px;letter-spacing:-0.2px;margin-left:1.3px;
}
#P482_30
{
left:11449.2px;bottom:22923.6px;letter-spacing:0.7px;color:rgb(35,31,31);
}
#P482_31
{
left:11449.2px;bottom:21643.6px;color:rgb(35,31,31);
}
#P482_32
{
left:13610.8px;bottom:16995.1px;letter-spacing:3235.3px;color:rgb(35,31,31);
}
#P482_33
{
left:0px;letter-spacing:0px;margin-left:-142.3px;
}
#P482_34
{
left:0px;letter-spacing:0px;
}
#P482_35
{
left:29622.6px;bottom:17750.3px;letter-spacing:-4.7px;color:rgb(33,31,31);
}
#P482_36
{
left:0px;letter-spacing:0px;margin-left:4.7px;
}
#P482_37
{
left:20069px;bottom:21463.6px;color:rgb(35,31,31);
}
#P482_38
{
left:11449.2px;bottom:15371.6px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P482_38a
{
left: 12629.2px;bottom:15371.6px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P482_39
{
left:0px;letter-spacing:0px;margin-left:466.1px;
}
#P482_40
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P482_41
{
left:0px;letter-spacing:-0.9px;margin-left:14px;
}
#P482_42
{
left:0px;letter-spacing:-0.1px;margin-left:0.9px;
}
#P482_43
{
left:12601.2px;bottom:14475.6px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P482_44
{
left:12601.2px;bottom:13323.6px;letter-spacing:-4.2px;color:rgb(35,31,31);
}
#P482_45
{
left:0px;letter-spacing:-0.9px;margin-left:4.2px;
}
#P482_46
{
left:0px;letter-spacing:-0.5px;margin-left:0.9px;
}
#P482_47
{
left:0px;letter-spacing:0px;margin-left:0.5px;
}
#P482_48
{
left:12601.2px;bottom:12427.6px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P482_49
{
left:0px;letter-spacing:0px;margin-left:1px;
}
#P482_50
{
left:13185.2px;bottom:10891.6px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P482_51
{
left:13889.2px;bottom:11083.6px;letter-spacing:-9.1px;color:rgb(35,31,31);
}
#P482_52
{
left:0px;letter-spacing:-0.1px;margin-left:9.1px;
}
#P482_53
{
left:0px;letter-spacing:0px;margin-left:-13.7px;
}
#P482_54
{
left:13889.2px;bottom:10187.6px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P482_55
{
left:0px;letter-spacing:0.2px;margin-left:0.7px;
}
#P482_56
{
left:11449.2px;bottom:8779.63px;letter-spacing:-17.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P482_56a
{
left: 12589.2px;bottom:8779.63px;letter-spacing:-17.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P482_57
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P482_58
{
left:0px;letter-spacing:-0.1px;margin-left:-0.1px;
}
#P482_59
{
left:0px;letter-spacing:0px;margin-left:10.5px;
}
#P482_60
{
left:12601.3px;bottom:7627.63px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P482_61
{
left:0px;letter-spacing:0px;margin-left:-24.7px;
}
#P482_62
{
left:0px;letter-spacing:0px;
}
#P482_63
{
left:0px;letter-spacing:0px;margin-left:-214.8px;
}
#P482_64
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P482_65
{
left:0px;letter-spacing:-0.3px;
}
#P482_66
{
left:12601.2px;bottom:6731.63px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P482_67
{
left:0px;letter-spacing:0px;margin-left:-27.8px;
}
#P482_68
{
left:0px;letter-spacing:-0.2px;
}
#P482_69
{
left:26255.8px;bottom:6702.06px;color:rgb(35,31,31);
}
#P482_70
{
left:26842.3px;bottom:6731.63px;color:rgb(35,31,31);
}
#P482_71
{
left:28091.8px;bottom:6702.06px;color:rgb(35,31,31);
}
#P482_72
{
left:28678.2px;bottom:6731.63px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P482_73
{
left:13185.2px;bottom:5195.63px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P482_74
{
left:13889.2px;bottom:5387.63px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P482_75
{
left:0px;letter-spacing:-0.2px;margin-left:-13.2px;
}
#P482_76
{
left:0px;letter-spacing:-8.4px;margin-left:-13.7px;
}
#P482_77
{
left:0px;letter-spacing:0px;margin-left:8.4px;
}
#P482_78
{
left:13889.2px;bottom:4491.63px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P482_79
{
left:0px;letter-spacing:-0.6px;margin-left:1.2px;
}
#P482_80
{
left:0px;letter-spacing:0px;margin-left:-13.3px;
}
#P482_81
{
left:11741.4px;bottom:37492.8px;color:rgb(35,31,31);
}
#P482_82
{
left:13645px;bottom:37649.1px;color:rgb(35,31,31);
}
#P482_83
{
left:13840.7px;bottom:37492.8px;letter-spacing:-1.4px;word-spacing:-26px;color:rgb(35,31,31);
}
#P482_84
{
left:17401.1px;bottom:37649.1px;color:rgb(35,31,31);
}
#P482_85
{
left:17596.8px;bottom:37492.8px;letter-spacing:-1.1px;color:rgb(35,31,31);
}
#P482_86
{
left:12509.4px;bottom:36385.1px;word-spacing:-31.3px;color:rgb(35,31,31);
}
#P482_87
{
left:12509.4px;bottom:35489.2px;letter-spacing:-9.1px;color:rgb(35,31,31);
}
#P482_88
{
left:0px;letter-spacing:0.2px;margin-left:9.1px;
}
#P482_89
{
left:22237.8px;bottom:35489.2px;color:rgb(35,31,31);
}
#P482_90
{
left:25500.8px;bottom:35489.2px;color:rgb(35,31,31);
}
#P482_91
{
left:12509.4px;bottom:34546.7px;color:rgb(35,31,31);
}
#P482_92
{
left:12863.8px;bottom:34401.1px;letter-spacing:319.3px;color:rgb(35,31,31);
}
#P482_93
{
left:0px;letter-spacing:0.1px;margin-left:-319.3px;
}
#P482_94
{
left:12509.4px;bottom:33458.7px;color:rgb(35,31,31);
}
#P482_95
{
left:12863.8px;bottom:33313.1px;letter-spacing:319.3px;color:rgb(35,31,31);
}
#P482_96
{
left:0px;letter-spacing:0.2px;margin-left:-319.3px;
}
#P482_97
{
left:12509.4px;bottom:31841.1px;color:rgb(35,31,31);
}
#P482_98
{
left:12509.4px;bottom:30945.1px;letter-spacing:-9.1px;color:rgb(35,31,31);
}
#P482_99
{
left:0px;letter-spacing:0.2px;margin-left:9.1px;
}
#P482_100
{
left:22237.7px;bottom:30945.1px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P482_101
{
left:24492.1px;bottom:30945.1px;color:rgb(35,31,31);
}
#P482_102
{
left:12509.4px;bottom:30002.7px;color:rgb(35,31,31);
}
#P482_103
{
left:12863.8px;bottom:29857.1px;letter-spacing:319.3px;color:rgb(35,31,31);
}
#P482_104
{
left:0px;letter-spacing:0.1px;margin-left:-319.3px;
}
#P482_105
{
left:12509.4px;bottom:28914.7px;color:rgb(35,31,31);
}
#P482_106
{
left:12863.8px;bottom:28769.1px;letter-spacing:319.3px;color:rgb(35,31,31);
}
#P482_107
{
left:0px;letter-spacing:0.2px;margin-left:-319.3px;
}
#P482_108
{
left:2861.36px;bottom:34517.7px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P482_109
{
left:2861.36px;bottom:33749.7px;color:rgb(35,31,31);
}
#P482_110
{
left:2861.36px;bottom:32882.9px;color:rgb(35,31,31);
}
#P482_111
{
left:2861.36px;bottom:32146.9px;color:rgb(35,31,31);
}
#P482_112
{
left:2861.36px;bottom:31411px;color:rgb(35,31,31);
}
#P482_113
{
left:2861.36px;bottom:30675.1px;color:rgb(35,31,31);
}
#P482_114
{
left:2610.72px;bottom:36301.5px;letter-spacing:-20.4px;color:white;
}
#P482_115
{
left:2610.72px;bottom:35341.5px;letter-spacing:-27.2px;color:white;
}
#P482_116
{
left:4589.79px;bottom:35598.3px;color:white;
}
#P482_117
{
left:4865.05px;bottom:35341.5px;letter-spacing:-27.2px;color:white;
}
#P482_118
{
left:4301.34px;bottom:13360.5px;color:rgb(35,31,31);
}
#P482_119
{
left:4674.39px;bottom:13388.9px;letter-spacing:-10.2px;color:rgb(35,31,31);
}
#P482_120
{
left:6691.93px;bottom:13360.5px;color:rgb(35,31,31);
}
#P482_121
{
left:4301.34px;bottom:12656.5px;letter-spacing:-14.1px;color:rgb(35,31,31);
}
#P482_122
{
left:5012.31px;bottom:12684.9px;letter-spacing:-10.4px;color:rgb(35,31,31);
}
#P482_123
{
left:2365.37px;bottom:11788px;letter-spacing:1.8px;word-spacing:-6.7px;color:rgb(35,31,31);
}
#P482_124
{
left:2365.37px;bottom:11004.8px;letter-spacing:-3.3px;word-spacing:-0.7px;color:rgb(35,31,31);
}
#P482_125
{
left:0px;letter-spacing:0.6px;margin-left:4.9px;
}
#P482_126
{
left:0px;letter-spacing:-2.5px;margin-left:-2.6px;
}
#P482_127
{
left:0px;letter-spacing:-2.8px;margin-left:-2.2px;
}
#P482_128
{
left:2365.37px;bottom:10383px;color:rgb(35,31,31);
}
#P482_129
{
left:2615.28px;bottom:10164.8px;color:rgb(35,31,31);
}
#P482_130
{
left:2959.35px;bottom:10204.8px;letter-spacing:-0.1px;word-spacing:-131.3px;color:rgb(35,31,31);
}
#P482_131
{
left:0px;letter-spacing:0px;margin-left:126px;
}
#P482_132
{
left:0px;letter-spacing:0.5px;margin-left:0.8px;
}
#P482_133
{
left:2960.24px;bottom:9564.78px;letter-spacing:-1.9px;word-spacing:-0.3px;color:rgb(35,31,31);
}
#P482_134
{
left:0px;letter-spacing:-2.1px;margin-left:124.9px;
}
#P482_135
{
left:0px;letter-spacing:0px;margin-left:3.1px;
}
#P482_136
{
left:2960.24px;bottom:8924.78px;letter-spacing:-1.3px;word-spacing:-5.8px;color:rgb(35,31,31);
}
#P482_137
{
left:0px;letter-spacing:-0.2px;margin-left:1.6px;
}
#P482_138
{
left:2960.24px;bottom:8284.65px;letter-spacing:1.3px;word-spacing:-5.3px;color:rgb(35,31,31);
}
#P482_139
{
left:0px;letter-spacing:0px;margin-left:1.9px;
}
#P482_140
{
left:2365.38px;bottom:7516.65px;letter-spacing:-1.4px;word-spacing:-5.4px;color:rgb(35,31,31);
}
#P482_141
{
left:0px;letter-spacing:-0.1px;margin-left:8.7px;
}
#P482_142
{
left:2365.38px;bottom:6876.65px;letter-spacing:2.4px;color:rgb(35,31,31);
}
#P482_143
{
left:0px;letter-spacing:0px;margin-left:-54.1px;
}
#P482_144
{
left:0px;letter-spacing:0.2px;margin-left:3px;
}
#P482_145
{
left:26785.2px;bottom:46188.3px;word-spacing:0.2px;color:rgb(33,31,31);
}
#P482_146
{
left:0px;letter-spacing:0px;margin-left:-44.8px;
}
#P482_147
{
left:0px;letter-spacing:0px;margin-left:0.2px;
}
#P482_148
{
left:6273.56px;bottom:47048.6px;color:white;
}
#P482_149
{
left:9475.1px;bottom:47311.5px;color:white;
}
#P482_150
{
left:9804.25px;bottom:47048.6px;letter-spacing:-2.3px;word-spacing:-43.7px;color:white;
}
#P482_151
{
left:15792.1px;bottom:47311.5px;color:white;
}
#P482_152
{
left:16121.2px;bottom:47048.6px;letter-spacing:-1.9px;color:white;
}
#PageContainer482
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg482.jpg");background-repeat:no-repeat;background-size: 942px 1182px; background-position: 0px 35.9400000000001px;
}
#ImageContainer482 {bottom:146.06px;left:0.00px;width:942.01px;height:1182.45px;position:absolute;} #TextContainer482 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.rpj{
                            position: absolute;
                            top: 145px;
                            left: 112px;
}
.srpj{
                            position: absolute;
                            top: 144px;
                            left: 62px;
}
.math_paper{
                            position: absolute;
                            top: 280px;
                            left: 226px;
}
.example1{
                            position: absolute;
                            top: 639px;
                            left: 104px;
}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}