.tr407{ color:transparent;}
#P407_1
{
left:4592.6px;bottom:1417.71px;color:rgb(35,31,31);
}
#P407_2
{
left:29714px;bottom:1417.71px;letter-spacing:1.1px;word-spacing:462.2px;color:rgb(35,31,31);
}
#P407_3
{
left:0px;letter-spacing:0px;margin-left:-463.3px;
}
#P407_4
{
left:0px;letter-spacing:-0.1px;margin-left:-0.1px;
}
#P407_5
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P407_6
{
left:6651.35px;bottom:46893.1px;color:white;
}
#P407_7
{
left:13996.3px;bottom:47191.5px;color:white;
}
#P407_8
{
left:14369.9px;bottom:46893.1px;color:white;
}
#P407_9
{
left:0px;bottom:0px;letter-spacing:0px;color:white;
}
#P407_10
{
left:29449.8px;bottom:45131.3px;letter-spacing:-22.4px;word-spacing:0.2px;color:rgb(33,31,31);
}
#P407_11
{
left:0px;letter-spacing:0px;margin-left:22.4px;
}
#P407_12
{
left:6973.4px;bottom:43555.5px;letter-spacing:-4.4px;color:rgb(0,124,196);
}
#P407_13
{
left:0px;letter-spacing:0px;margin-left:4.4px;
}
#P407_14
{
left:6973.4px;bottom:37122.2px;letter-spacing:-0.6px;color:rgb(0,124,196);
}
#P407_15
{
left:10045.4px;bottom:11067.9px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P407_16
{
left:0px;letter-spacing:0px;margin-left:-27.4px;
}
#P407_17
{
left:0px;letter-spacing:-7px;
}
#P407_18
{
left:0px;letter-spacing:-0.2px;margin-left:7px;
}
#P407_19
{
left:10614px;bottom:9935.6px;color:rgb(35,31,31);
}
#P407_20
{
left:15463.1px;bottom:9915.88px;color:rgb(35,31,31);
}
#P407_21
{
left:23478px;bottom:9935.6px;color:rgb(35,31,31);
}
#P407_22
{
left:10045.4px;bottom:5115.88px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P407_23
{
left:10614px;bottom:3983.6px;color:rgb(35,31,31);
}
#P407_24
{
left:11645.4px;bottom:3963.88px;letter-spacing:-3.9px;color:rgb(35,31,31);
}
#P407_25
{
left:0px;letter-spacing:-1.4px;margin-left:3.9px;
}
#P407_26
{
left:23477.8px;bottom:3983.6px;color:rgb(35,31,31);
}
#P407_27
{
left:24509.3px;bottom:3963.88px;letter-spacing:0.4px;color:rgb(35,31,31);
}
#P407_28
{
left:8620.31px;bottom:35228px;letter-spacing:9.6px;
}
#P407_29
{
left:8620.31px;bottom:35228px;letter-spacing:9.6px;color:white;
}
#P407_30
{
left:11026.7px;bottom:35135.7px;letter-spacing:-2.6px;color:rgb(2,77,161);
}
#P407_31
{
left:14051.7px;bottom:35327.5px;color:rgb(2,77,161);
}
#P407_32
{
left:14291.9px;bottom:35135.7px;color:rgb(2,77,161);
}
#P407_33
{
left:16325px;bottom:35327.5px;color:rgb(2,77,161);
}
#P407_34
{
left:16565.1px;bottom:35135.7px;color:rgb(2,77,161);
}
#P407_35
{
left:18885.8px;bottom:35327.5px;color:rgb(2,77,161);
}
#P407_36
{
left:19126px;bottom:35135.7px;letter-spacing:-3.1px;color:rgb(2,77,161);
}
#P407_37
{
left:22118.9px;bottom:35193.1px;color:rgb(2,77,161);
}
#P407_38
{
left:10034.7px;bottom:33695.9px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P407_38a
{
left: 10764.7px;bottom:33695.9px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P407_39
{
left:0px;letter-spacing:0px;margin-left:402.1px;
}
#P407_40
{
left:0px;letter-spacing:0px;margin-left:-15.5px;
}
#P407_41
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P407_42
{
left:0px;letter-spacing:-7px;
}
#P407_43
{
left:0px;letter-spacing:-0.2px;margin-left:7px;
}
#P407_44
{
left:10034.7px;bottom:32607.9px;color:rgb(35,31,31);
}
#P407_45
{
left:9266.71px;bottom:27039.9px;color:rgb(35,31,31);
}
#P407_46
{
left:11122.7px;bottom:27039.9px;color:rgb(35,31,31);
}
#P407_47
{
left:15462.1px;bottom:27039.9px;color:rgb(235,26,35);
}
#P407_48
{
left:17297.4px;bottom:27039.9px;color:rgb(35,31,31);
}
#P407_49
{
left:23555.2px;bottom:27039.9px;color:rgb(235,26,35);
}
#P407_50
{
left:25697.4px;bottom:27039.9px;letter-spacing:-1.1px;color:rgb(35,31,31);
}
#P407_51
{
left: 11096.71px;bottom:25759.9px;letter-spacing:1697.6px;color:rgb(35,31,31);
}
#P407_52
{
left:0px;letter-spacing:0px;margin-left:-1697.6px;
}
#P407_53
{
left:17982.4px;bottom:25759.9px;letter-spacing:-0.6px;color:rgb(0,124,196);
}
#P407_54
{
left:25783.5px;bottom:25759.9px;color:rgb(35,31,31);
}
#P407_55
{
left:9266.71px;bottom:24479.9px;color:rgb(35,31,31);
}
#P407_56
{
left:11122.7px;bottom:24479.9px;color:rgb(35,31,31);
}
#P407_57
{
left:18189.3px;bottom:24479.9px;letter-spacing:-0.8px;color:rgb(0,170,77);
}
#P407_58
{
left:23625.8px;bottom:24479.9px;color:rgb(35,31,31);
}
#P407_59
{
left:11706.7px;bottom:22710.3px;color:rgb(35,31,31);
}
#P407_60
{
left:12474.7px;bottom:22726.3px;letter-spacing:-9.2px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P407_61
{
left:0px;letter-spacing:-0.3px;margin-left:9.1px;
}
#P407_62
{
left:0px;letter-spacing:0px;margin-left:-13.7px;
}
#P407_63
{
left:10034.7px;bottom:20998.3px;letter-spacing:-17.5px;color:rgb(35,31,31);
}
#P407_63a
{
left: 10734.7px;bottom:20998.3px;letter-spacing:-17.5px;color:rgb(35,31,31);
}
#P407_64
{
left:0px;letter-spacing:0px;margin-left:433.5px;
}
#P407_65
{
left:0px;letter-spacing:0.5px;margin-left:-8.4px;
}
#P407_66
{
left: 11154.7px;bottom:19846.3px;letter-spacing:993.6px;color:rgb(35,31,31);
}
#P407_66a
{
left: 19545.7px;bottom:19846.3px;letter-spacing:993.6px;color:rgb(35,31,31);
}
#P407_66b
{
left: 28834.7px;bottom:19846.3px;letter-spacing:993.6px;color:rgb(35,31,31);
}
#P407_67
{
left:0px;letter-spacing:-0.5px;margin-left:-1002px;
}
#P407_68
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P407_69
{
left:0px;letter-spacing:-1.3px;margin-left:-8.4px;
}
#P407_70
{
left:0px;letter-spacing:0px;margin-left:1.3px;
}
#P407_71
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P407_72
{
left:0px;letter-spacing:0px;
}
#P407_73
{
left:32768.4px;bottom:19846.3px;color:rgb(35,31,31);
}
#P407_74
{
left:11186.7px;bottom:18950.3px;letter-spacing:993.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P407_74a
{
left: 19636.7px;bottom:18950.3px;letter-spacing:993.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P407_74b
{
left: 28896.7px;bottom:18950.3px;letter-spacing:993.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P407_75
{
left:0px;letter-spacing:-0.6px;margin-left:-993.6px;
}
#P407_76
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P407_77
{
left:0px;letter-spacing:-1.1px;margin-left:-0.1px;
}
#P407_78
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P407_79
{
left:0px;letter-spacing:-0.8px;margin-left:-0.1px;
}
#P407_80
{
left:10034.7px;bottom:17286.4px;color:rgb(35,31,31);
}
#P407_81
{
left:16434.7px;bottom:17286.3px;letter-spacing:8989px;color:rgb(35,31,31);
}
#P407_82
{
left:9250.71px;bottom:42450.7px;letter-spacing:-6.7px;color:rgb(35,31,31);
}
#P407_83
{
left:10884.3px;bottom:42450.7px;letter-spacing:-6.7px;color:rgb(35,31,31);
}
#P407_84
{
left:9250.71px;bottom:41554.7px;letter-spacing:-1.1px;color:rgb(35,31,31);
}
#P407_85
{
left:12861.5px;bottom:41554.7px;color:rgb(35,31,31);
}
#P407_86
{
left:9250.71px;bottom:40658.9px;color:rgb(35,31,31);
}
#P407_87
{
left:10818.5px;bottom:40658.9px;color:rgb(35,31,31);
}
#P407_88
{
left:9250.71px;bottom:39762.9px;color:rgb(35,31,31);
}
#P407_89
{
left:11043.6px;bottom:39762.9px;color:rgb(35,31,31);
}
#P407_90
{
left:18688.9px;bottom:42450.9px;color:rgb(35,31,31);
}
#P407_91
{
left:20778.8px;bottom:42450.9px;color:rgb(35,31,31);
}
#P407_92
{
left:18688.9px;bottom:41554.9px;color:rgb(35,31,31);
}
#P407_93
{
left:20630.4px;bottom:41554.9px;color:rgb(35,31,31);
}
#P407_94
{
left:18688.9px;bottom:40659px;letter-spacing:-13.4px;color:rgb(35,31,31);
}
#P407_95
{
left:21256px;bottom:40659px;letter-spacing:-13.4px;color:rgb(35,31,31);
}
#P407_96
{
left:18688.9px;bottom:39763px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P407_97
{
left:22522.2px;bottom:39763px;color:rgb(35,31,31);
}
#P407_98
{
left:28127.3px;bottom:42451px;color:rgb(35,31,31);
}
#P407_99
{
left:29434.4px;bottom:42451px;color:rgb(35,31,31);
}
#P407_100
{
left:28127.3px;bottom:41555.1px;letter-spacing:-13.4px;color:rgb(35,31,31);
}
#P407_101
{
left:30484.1px;bottom:41555.1px;letter-spacing:-13.4px;color:rgb(35,31,31);
}
#P407_102
{
left:31017.6px;bottom:41555.1px;color:rgb(35,31,31);
}
#P407_103
{
left:31190.9px;bottom:41555.1px;letter-spacing:-13.4px;color:rgb(35,31,31);
}
#P407_104
{
left:4097.75px;bottom:46399px;
}
#PageContainer407
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg407.jpg");background-repeat:no-repeat;background-size: 1030px 1270px; background-position: 3.85px 0.119999999999891px;
}
#ImageContainer407 {bottom:93.88px;left:3.85px;width:1029.78px;height:1270.28px;position:absolute;} #TextContainer407 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.spanish_review{
                            position: absolute;
                            top: 40px;
                            left: 43px;}


							#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}