.tr21{ color:transparent;}
#P21_1
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P21_2
{
left:35929.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P21_3
{
left:0px;bottom:0px;letter-spacing:0px;color:rgb(35,31,31);
}
#P21_4
{
left:27820.8px;bottom:33031px;letter-spacing:-6.5px;color:rgb(35,31,31);
}
#P21_5
{
left:25556.5px;bottom:32263px;letter-spacing:-6.6px;color:rgb(35,31,31);
}
#P21_6
{
left:25911.7px;bottom:31495px;letter-spacing:-6.3px;color:rgb(35,31,31);
}
#P21_7
{
left:27971.9px;bottom:30727px;letter-spacing:-6.4px;color:rgb(35,31,31);
}
#P21_8
{
left:4669.4px;bottom:42064.2px;letter-spacing:-30.3px;color:rgb(0,151,73);
}
#P21_9
{
left:4669.4px;bottom:39357.7px;color:rgb(0,170,77);
}
#P21_10
{
left:0px;letter-spacing:0px;margin-left:4136.7px;
}
#P21_11
{
left:0px;letter-spacing:-7px;margin-left:424.5px;
}
#P21_12
{
left:0px;letter-spacing:-7px;margin-left:-52.1px;
}
#P21_13
{
left:0px;letter-spacing:0px;margin-left:-8.4px;
}
#P21_14
{
left:18399.2px;bottom:39508.3px;letter-spacing:-7px;word-spacing:-116.4px;color:rgb(145,147,151);
}
#P21_15
{
left:21479.5px;bottom:39357.7px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P21_16
{
left:5064.28px;bottom:38333.4px;letter-spacing:-7px;word-spacing:185.8px;color:rgb(145,147,151);
}
#P21_17
{
left:0px;letter-spacing:-7px;margin-left:-185.8px;
}
#P21_18
{
left:9662.17px;bottom:38333.4px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P21_19
{
left:4670.11px;bottom:37309.7px;letter-spacing:4136.6px;color:rgb(35,31,31);
}
#P21_20
{
left:9662.17px;bottom:37309.7px;letter-spacing:-7px;color:rgb(235,26,35);
}
#P21_21
{
left:12132.1px;bottom:37460.4px;letter-spacing:-7px;word-spacing:-87px;color:rgb(145,147,151);
}
#P21_22
{
left:21452.8px;bottom:37309.7px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P21_23
{
left:4670.11px;bottom:36286.1px;letter-spacing:4136.6px;color:rgb(35,31,31);
}
#P21_24
{
left:9662.17px;bottom:36286.1px;letter-spacing:-7px;color:rgb(2,77,161);
}
#P21_25
{
left:12132.1px;bottom:36436.8px;letter-spacing:-7px;word-spacing:-115.2px;color:rgb(145,147,151);
}
#P21_26
{
left:21439.4px;bottom:36286.1px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P21_27
{
left:4933.33px;bottom:35261.8px;letter-spacing:-7px;word-spacing:54.8px;color:rgb(145,147,151);
}
#P21_28
{
left:0px;letter-spacing:-7px;margin-left:-54.9px;
}
#P21_29
{
left:9022.11px;bottom:35261.8px;letter-spacing:424.6px;color:rgb(35,31,31);
}
#P21_30
{
left:0px;letter-spacing:-7px;margin-left:-639.9px;
}
#P21_31
{
left:10421px;bottom:35261.7px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P21_32
{
left:4669.27px;bottom:34238.1px;letter-spacing:4136.6px;color:rgb(35,31,31);
}
#P21_33
{
left:9661.34px;bottom:34238.1px;letter-spacing:-7px;color:rgb(235,26,35);
}
#P21_34
{
left:12131.3px;bottom:34388.7px;letter-spacing:-7px;word-spacing:-87px;color:rgb(145,147,151);
}
#P21_35
{
left:21438.6px;bottom:34238.1px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P21_36
{
left:4669.27px;bottom:33214.4px;letter-spacing:4136.6px;color:rgb(35,31,31);
}
#P21_37
{
left:9661.34px;bottom:33214.4px;letter-spacing:-7px;color:rgb(2,77,161);
}
#P21_38
{
left:12131.3px;bottom:33365.1px;letter-spacing:-7px;word-spacing:-115.2px;color:rgb(145,147,151);
}
#P21_39
{
left:21438.6px;bottom:33214.4px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P21_40
{
left:4669.27px;bottom:32190.1px;color:rgb(145,147,151);
}
#P21_41
{
left:9021.4px;bottom:32190.1px;letter-spacing:424.6px;color:rgb(35,31,31);
}
#P21_42
{
left:9661.34px;bottom:32190.1px;letter-spacing:-8px;color:rgb(2,77,161);
}
#P21_43
{
left:0px;letter-spacing:-6.3px;margin-left:1px;
}
#P21_44
{
left:9661.34px;bottom:31358px;letter-spacing:-7px;color:rgb(2,77,161);
}
#P21_45
{
left:14369.8px;bottom:31508.7px;letter-spacing:-7px;word-spacing:-56.9px;color:rgb(145,147,151);
}
#P21_46
{
left:21596.2px;bottom:31358px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P21_47
{
left:4932.5px;bottom:30333.7px;letter-spacing:-7px;word-spacing:54.8px;color:rgb(145,147,151);
}
#P21_48
{
left:0px;letter-spacing:-7px;margin-left:-54.9px;
}
#P21_49
{
left:9021.27px;bottom:30333.7px;letter-spacing:424.6px;color:rgb(35,31,31);
}
#P21_50
{
left:0px;letter-spacing:-7px;margin-left:-639.9px;
}
#P21_51
{
left:0px;letter-spacing:-7px;margin-left:-8.4px;
}
#P21_52
{
left:4669.27px;bottom:29310.1px;letter-spacing:4136.6px;color:rgb(35,31,31);
}
#P21_53
{
left:9661.34px;bottom:29310.1px;letter-spacing:-7px;color:rgb(235,26,35);
}
#P21_54
{
left:12131.3px;bottom:29460.7px;letter-spacing:-7px;word-spacing:-87px;color:rgb(145,147,151);
}
#P21_55
{
left:21583.6px;bottom:29310.1px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P21_56
{
left:4669.27px;bottom:28286.4px;letter-spacing:4136.6px;color:rgb(35,31,31);
}
#P21_57
{
left:9661.34px;bottom:28286.4px;letter-spacing:-7px;color:rgb(2,77,161);
}
#P21_58
{
left:12131.3px;bottom:28437.1px;letter-spacing:-7px;word-spacing:-115.2px;color:rgb(145,147,151);
}
#P21_59
{
left:21582.9px;bottom:28286.4px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P21_60
{
left:4669.27px;bottom:27262.8px;color:rgb(35,31,31);
}
#P21_61
{
left:9021.4px;bottom:27262.8px;letter-spacing:424.5px;color:rgb(0,170,77);
}
#P21_62
{
left:0px;letter-spacing:-7.5px;margin-left:-431.6px;
}
#P21_63
{
left:19891.4px;bottom:27413.5px;letter-spacing:-7px;word-spacing:-140.4px;color:rgb(145,147,151);
}
#P21_64
{
left:21452.6px;bottom:27262.8px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P21_65
{
left:9662.04px;bottom:26238.5px;letter-spacing:-7px;word-spacing:4143.6px;color:rgb(0,170,77);
}
#P21_66
{
left:0px;letter-spacing:-7px;margin-left:-4143.6px;
}
#P21_67
{
left:14370.5px;bottom:26389.2px;letter-spacing:-7px;word-spacing:-69.6px;color:rgb(145,147,151);
}
#P21_68
{
left:21597px;bottom:26238.5px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P21_69
{
left:4920.53px;bottom:25214.2px;letter-spacing:-7px;word-spacing:42.2px;color:rgb(145,147,151);
}
#P21_70
{
left:0px;letter-spacing:-7px;margin-left:-42.2px;
}
#P21_71
{
left:9661.92px;bottom:25214.2px;letter-spacing:-7px;word-spacing:431.6px;color:rgb(35,31,31);
}
#P21_72
{
left:0px;letter-spacing:-7px;margin-left:-431.6px;
}
#P21_73
{
left:0px;letter-spacing:-7px;margin-left:-8.4px;
}
#P21_74
{
left:4669.98px;bottom:24190.6px;letter-spacing:4136.6px;color:rgb(35,31,31);
}
#P21_75
{
left:9662.04px;bottom:24190.6px;letter-spacing:-7px;color:rgb(235,26,35);
}
#P21_76
{
left:12132px;bottom:24341.2px;letter-spacing:-7px;word-spacing:-87px;color:rgb(145,147,151);
}
#P21_77
{
left:21466px;bottom:24190.6px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P21_78
{
left:4669.98px;bottom:23167px;letter-spacing:4136.6px;color:rgb(35,31,31);
}
#P21_79
{
left:9662.04px;bottom:23167px;letter-spacing:-7px;color:rgb(2,77,161);
}
#P21_80
{
left:12132px;bottom:23317.6px;letter-spacing:-7px;word-spacing:-115.2px;color:rgb(145,147,151);
}
#P21_81
{
left:21453.3px;bottom:23167px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P21_82
{
left:4933.2px;bottom:22142.6px;letter-spacing:-7px;word-spacing:54.8px;color:rgb(145,147,151);
}
#P21_83
{
left:0px;letter-spacing:-7px;margin-left:-54.9px;
}
#P21_84
{
left:9661.98px;bottom:22142.6px;letter-spacing:-7px;word-spacing:431.6px;color:rgb(35,31,31);
}
#P21_85
{
left:4669.98px;bottom:21119px;letter-spacing:4136.6px;color:rgb(35,31,31);
}
#P21_86
{
left:9662.04px;bottom:21119px;letter-spacing:-7px;color:rgb(235,26,35);
}
#P21_87
{
left:12132px;bottom:21269.7px;letter-spacing:-7px;word-spacing:-87px;color:rgb(145,147,151);
}
#P21_88
{
left:21452.6px;bottom:21119px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P21_89
{
left:4669.98px;bottom:20095.4px;letter-spacing:4136.6px;color:rgb(35,31,31);
}
#P21_90
{
left:9662.04px;bottom:20095.4px;letter-spacing:-7px;color:rgb(2,77,161);
}
#P21_91
{
left:12132px;bottom:20246.1px;letter-spacing:-7px;word-spacing:-115.2px;color:rgb(145,147,151);
}
#P21_92
{
left:21452.6px;bottom:20095.4px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P21_93
{
left:4919.83px;bottom:19071.1px;letter-spacing:-7px;word-spacing:41.5px;color:rgb(145,147,151);
}
#P21_94
{
left:0px;letter-spacing:-7px;margin-left:-41.5px;
}
#P21_95
{
left:9661.98px;bottom:19071.1px;letter-spacing:-7px;word-spacing:431.6px;color:rgb(35,31,31);
}
#P21_96
{
left:0px;letter-spacing:-7px;margin-left:-8.5px;
}
#P21_97
{
left:0px;letter-spacing:0px;margin-left:-431.6px;
}
#P21_98
{
left:0px;letter-spacing:-7px;margin-left:-45.8px;
}
#P21_99
{
left:4669.98px;bottom:18047.5px;letter-spacing:4136.6px;color:rgb(35,31,31);
}
#P21_100
{
left:9662.04px;bottom:18047.5px;letter-spacing:-7px;color:rgb(235,26,35);
}
#P21_101
{
left:12132px;bottom:18198.1px;letter-spacing:-7px;word-spacing:-87px;color:rgb(145,147,151);
}
#P21_102
{
left:21453.3px;bottom:18047.5px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P21_103
{
left:4669.98px;bottom:17023.9px;letter-spacing:4136.6px;color:rgb(35,31,31);
}
#P21_104
{
left:9662.04px;bottom:17023.9px;letter-spacing:-7px;color:rgb(2,77,161);
}
#P21_105
{
left:12132px;bottom:17174.5px;letter-spacing:-7px;word-spacing:-115.2px;color:rgb(145,147,151);
}
#P21_106
{
left:21452.6px;bottom:17023.9px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P21_107
{
left:4669.98px;bottom:16000.2px;color:rgb(35,31,31);
}
#P21_108
{
left:9662.11px;bottom:16000.2px;letter-spacing:-7px;word-spacing:431.6px;color:rgb(0,170,77);
}
#P21_109
{
left:0px;letter-spacing:-7px;margin-left:-431.6px;
}
#P21_110
{
left:14519.8px;bottom:16150.9px;letter-spacing:-7px;word-spacing:-77.4px;color:rgb(145,147,151);
}
#P21_111
{
left:21440.7px;bottom:16000.2px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P21_112
{
left:9662.75px;bottom:14975.9px;letter-spacing:-7px;word-spacing:4143.6px;color:rgb(0,170,77);
}
#P21_113
{
left:0px;letter-spacing:-7px;margin-left:-4143.6px;
}
#P21_114
{
left:15117.4px;bottom:15126.6px;letter-spacing:-7px;word-spacing:-66.8px;color:rgb(145,147,151);
}
#P21_115
{
left:21514.6px;bottom:14975.9px;letter-spacing:28.2px;color:rgb(35,31,31);
}
#P21_116
{
left:9662.75px;bottom:13951.6px;letter-spacing:-7px;word-spacing:4143.6px;color:rgb(0,170,77);
}
#P21_117
{
left:0px;letter-spacing:0px;margin-left:-4143.6px;
}
#P21_118
{
left:0px;letter-spacing:-7px;margin-left:-103.5px;
}
#P21_119
{
left:14072.7px;bottom:14102.3px;letter-spacing:-7px;word-spacing:-90px;color:rgb(145,147,151);
}
#P21_120
{
left:21441.4px;bottom:13951.6px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P21_121
{
left:9662.75px;bottom:12927.3px;letter-spacing:-7px;word-spacing:4143.6px;color:rgb(0,170,77);
}
#P21_122
{
left:0px;letter-spacing:-7px;margin-left:-8.4px;
}
#P21_123
{
left:0px;letter-spacing:-7px;margin-left:-4143.6px;
}
#P21_124
{
left:17505.2px;bottom:13077.9px;letter-spacing:-7px;word-spacing:-116.9px;color:rgb(145,147,151);
}
#P21_125
{
left:21454px;bottom:12927.3px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P21_126
{
left:24253.4px;bottom:41388.8px;
}
#PageContainer21
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg021.jpg");background-repeat:no-repeat;background-size: 1066px 1364px; background-position: right bottom;
}
#ImageContainer21 {bottom:0.00px;right:0.00px;width:1066.24px;height:1364.16px;position:absolute;} #TextContainer21 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
