.tr265{ color:transparent;}
#P265_1
{
left:4592.6px;bottom:1417.71px;color:rgb(35,31,31);
}
#P265_2
{
left:29714.8px;bottom:1417.71px;letter-spacing:1px;word-spacing:462.2px;color:rgb(35,31,31);
}
#P265_3
{
left:0px;letter-spacing:0px;margin-left:-463.2px;
}
#P265_4
{
left:0px;letter-spacing:-0.1px;margin-left:-0.1px;
}
#P265_5
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P265_6
{
left:6651.35px;bottom:46893.1px;color:white;
}
#P265_7
{
left:13996.3px;bottom:47191.5px;color:white;
}
#P265_8
{
left:14369.9px;bottom:46893.1px;color:white;
}
#P265_9
{
left:0px;bottom:0px;letter-spacing:0px;color:white;
}
#P265_10
{
left:6973.4px;bottom:43555.5px;letter-spacing:-4.4px;color:rgb(0,124,196);
}
#P265_11
{
left:0px;letter-spacing:0px;margin-left:4.4px;
}
#P265_12
{
left:6973.4px;bottom:37431.7px;letter-spacing:-0.6px;color:rgb(0,124,196);
}
#P265_13
{
left:9309.34px;bottom:42258.5px;color:rgb(35,31,31);
}
#P265_14
{
left:10989.3px;bottom:42258.5px;color:rgb(35,31,31);
}
#P265_15
{
left:9309.34px;bottom:41362.5px;color:rgb(35,31,31);
}
#P265_16
{
left:14386.9px;bottom:41362.5px;color:rgb(35,31,31);
}
#P265_17
{
left:9309.34px;bottom:40466.6px;color:rgb(35,31,31);
}
#P265_18
{
left:12594.7px;bottom:40466.6px;color:rgb(35,31,31);
}
#P265_19
{
left:9309.34px;bottom:39570.6px;color:rgb(35,31,31);
}
#P265_20
{
left:10802.5px;bottom:39570.6px;color:rgb(35,31,31);
}
#P265_21
{
left:18770.7px;bottom:42258.6px;color:rgb(35,31,31);
}
#P265_22
{
left:21570.9px;bottom:42258.6px;color:rgb(35,31,31);
}
#P265_23
{
left:18770.7px;bottom:41362.6px;color:rgb(35,31,31);
}
#P265_24
{
left:23661.5px;bottom:41362.6px;color:rgb(35,31,31);
}
#P265_25
{
left:18770.7px;bottom:40466.7px;letter-spacing:-1.5px;color:rgb(35,31,31);
}
#P265_26
{
left:21297.6px;bottom:40466.7px;color:rgb(35,31,31);
}
#P265_27
{
left:18770.7px;bottom:39570.7px;color:rgb(35,31,31);
}
#P265_28
{
left:25565.2px;bottom:39570.7px;color:rgb(35,31,31);
}
#P265_29
{
left:28232.1px;bottom:42258.7px;color:rgb(35,31,31);
}
#P265_30
{
left:32524.2px;bottom:42258.7px;color:rgb(35,31,31);
}
#P265_31
{
left:28232.1px;bottom:41362.8px;color:rgb(35,31,31);
}
#P265_32
{
left:0px;letter-spacing:0px;margin-left:-61.7px;
}
#P265_33
{
left:33471.8px;bottom:41362.8px;color:rgb(35,31,31);
}
#P265_34
{
left:28232.1px;bottom:40466.9px;color:rgb(35,31,31);
}
#P265_35
{
left:32077.9px;bottom:40466.9px;color:rgb(35,31,31);
}
#P265_36
{
left:10045.4px;bottom:23394.3px;letter-spacing:-14.8px;color:rgb(35,31,31);
}
#P265_37
{
left:0px;letter-spacing:-0.6px;margin-left:14.8px;
}
#P265_38
{
left:0px;letter-spacing:0px;margin-left:-27.5px;
}
#P265_39
{
left:0px;letter-spacing:0px;
}
#P265_40
{
left:10614px;bottom:22262.1px;color:rgb(35,31,31);
}
#P265_41
{
left:11645.4px;bottom:22242.3px;color:rgb(35,31,31);
}
#P265_42
{
left:14042.5px;bottom:22242.3px;word-spacing:56.3px;color:rgb(35,31,31);
}
#P265_43
{
left:0px;letter-spacing:0px;margin-left:105.6px;
}
#P265_44
{
left:0px;letter-spacing:0px;margin-left:105.6px;
}
#P265_45
{
left:23477.8px;bottom:22262.1px;color:rgb(35,31,31);
}
#P265_46
{
left:24509.3px;bottom:22242.3px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P265_47
{
left:0px;letter-spacing:105.6px;margin-left:106.1px;
}
#P265_48
{
left:0px;letter-spacing:0.9px;margin-left:-105.6px;
}
#P265_49
{
left:22365.4px;bottom:20918.1px;letter-spacing:1308.2px;color:rgb(35,31,31);
}
#P265_50
{
left:8722.71px;bottom:35409.5px;letter-spacing:9.6px;
}
#P265_51
{
left:8722.71px;bottom:35409.5px;letter-spacing:9.6px;color:white;
}
#P265_52
{
left:11026.7px;bottom:35445.2px;color:rgb(2,77,161);
}
#P265_53
{
left:12339.1px;bottom:35637px;color:rgb(2,77,161);
}
#P265_54
{
left:12579.3px;bottom:35445.2px;color:rgb(2,77,161);
}
#P265_55
{
left:14307.3px;bottom:35502.6px;color:rgb(2,77,161);
}
#P265_56
{
left:0px;letter-spacing:0px;margin-left:76.8px;
}
#P265_57
{
left:10034.7px;bottom:34005.4px;letter-spacing:-14.8px;color:rgb(35,31,31);
}
#P265_58
{
left:0px;letter-spacing:-0.8px;margin-left:14.8px;
}
#P265_59
{
left:10034.7px;bottom:33109.4px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P265_60
{
left:9266.71px;bottom:31061.4px;color:rgb(35,31,31);
}
#P265_61
{
left:0px;letter-spacing:0px;margin-left:1761.6px;
}
#P265_62
{
left:0px;letter-spacing:0px;margin-left:4705.6px;
}
#P265_63
{
left:10618.7px;bottom:28986.6px;letter-spacing:552.4px;color:rgb(35,31,31);
}
#P265_64
{
left:11322.7px;bottom:28991px;letter-spacing:-9px;color:rgb(35,31,31);
}
#P265_65
{
left:0px;letter-spacing:-0.3px;margin-left:9px;
}
#P265_66
{
left:11322.7px;bottom:28095px;letter-spacing:-2.6px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P265_67
{
left:0px;letter-spacing:0.1px;margin-left:2.5px;
}
#P265_68
{
left:11322.7px;bottom:27199.1px;letter-spacing:-2px;color:rgb(35,31,31);
}
#P265_69
{
left:0px;letter-spacing:-0.9px;margin-left:-11.8px;
}
#P265_70
{
left:0px;letter-spacing:-6.9px;margin-left:0.9px;
}
#P265_71
{
left:8722.71px;bottom:14647.7px;letter-spacing:9.6px;
}
#P265_72
{
left:8722.71px;bottom:14647.7px;letter-spacing:9.6px;color:white;
}
#P265_73
{
left:11026.7px;bottom:14683.4px;color:rgb(2,77,161);
}
#P265_74
{
left:12339.1px;bottom:14875.2px;color:rgb(2,77,161);
}
#P265_75
{
left:12579.3px;bottom:14683.4px;letter-spacing:-13.5px;word-spacing:-31.9px;color:rgb(2,77,161);
}
#P265_76
{
left:0px;letter-spacing:0px;margin-left:13.5px;
}
#P265_77
{
left:16555.6px;bottom:14740.8px;color:rgb(2,77,161);
}
#P265_78
{
left:10034.7px;bottom:13243.6px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P265_79
{
left:0px;letter-spacing:0px;margin-left:-9.6px;
}
#P265_80
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P265_81
{
left:10034.7px;bottom:12347.6px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P265_82
{
left:10034.7px;bottom:10811.7px;letter-spacing:-31.6px;color:rgb(35,31,31);
}
#P265_83
{
left:0px;letter-spacing:0px;margin-left:31.6px;
}
#P265_84
{
left:19892.1px;bottom:10811.7px;word-spacing:56.3px;color:rgb(35,31,31);
}
#P265_85
{
left:0px;letter-spacing:0px;margin-left:-56.3px;
}
#P265_86
{
left:10034.7px;bottom:9915.69px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P265_87
{
left:10618.7px;bottom:6304.76px;letter-spacing:552.4px;color:rgb(35,31,31);
}
#P265_88
{
left:11322.7px;bottom:6309.16px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P265_89
{
left:0px;letter-spacing:0px;margin-left:-13.3px;
}
#P265_90
{
left:11322.7px;bottom:5413.16px;color:rgb(35,31,31);
}
#P265_91
{
left:29449.8px;bottom:45131.3px;letter-spacing:-22.4px;word-spacing:0.2px;color:rgb(33,31,31);
}
#P265_92
{
left:0px;letter-spacing:0px;margin-left:22.4px;
}
#P265_93
{
left:25791px;bottom:12935.3px;letter-spacing:-36.8px;color:rgb(35,31,31);
}
#P265_94
{
left:0px;letter-spacing:0px;margin-left:36.8px;
}
#P265_95
{
left:28887.3px;bottom:12916.5px;letter-spacing:1563.8px;color:rgb(35,31,31);
}
#P265_96
{
left:25791px;bottom:11591.3px;letter-spacing:-3px;color:rgb(35,31,31);
}
#P265_97
{
left:28887.3px;bottom:11572.5px;letter-spacing:3305.8px;color:rgb(35,31,31);
}
#P265_98
{
left:0px;letter-spacing:0px;margin-left:-3305.8px;
}
#P265_99
{
left:25791px;bottom:7239.28px;letter-spacing:-36.8px;color:rgb(35,31,31);
}
#P265_100
{
left:0px;letter-spacing:0px;margin-left:36.8px;
}
#P265_101
{
left:28887.3px;bottom:7220.46px;letter-spacing:1563.8px;color:rgb(35,31,31);
}
#P265_102
{
left:0px;letter-spacing:0px;margin-left:-178.1px;
}
#P265_103
{
left:0px;letter-spacing:0px;
}
#P265_104
{
left:25791px;bottom:5895.28px;letter-spacing:-3px;color:rgb(35,31,31);
}
#P265_105
{
left:28887.3px;bottom:5876.46px;letter-spacing:1385.8px;color:rgb(35,31,31);
}
#P265_106
{
left:0px;letter-spacing:0px;margin-left:-1385.8px;
}
#P265_107
{
left:0px;letter-spacing:0px;margin-left:1207.6px;
}
#P265_108
{
left:0px;letter-spacing:0px;
}
#P265_109
{
left:29460.2px;bottom:8897px;color:rgb(235,26,35);
}
#P265_110
{
left:30188px;bottom:8925.23px;color:rgb(235,26,35);
}
#P265_111
{
left:31444.2px;bottom:8897px;color:rgb(235,26,35);
}
#P265_112
{
left:32172.1px;bottom:8925.23px;color:rgb(235,26,35);
}
#P265_113
{
left:29460.2px;bottom:4113.07px;color:rgb(235,26,35);
}
#P265_114
{
left:30188px;bottom:4141.29px;color:rgb(235,26,35);
}
#P265_115
{
left:31444.2px;bottom:4113.07px;color:rgb(235,26,35);
}
#P265_116
{
left:32172.1px;bottom:4141.29px;color:rgb(235,26,35);
}
#P265_117
{
left:12565.4px;bottom:31086.9px;color:rgb(0,124,196);
}
#P265_118
{
left:19074.6px;bottom:31070.9px;color:rgb(0,124,196);
}
#P265_119
{
left:4097.75px;bottom:46399px;
}
#PageContainer265
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg265.jpg");background-repeat:no-repeat;background-size: 1030px 1276px; background-position: 3.85px 0.0599999999999454px;
}
#ImageContainer265 {bottom:87.94px;left:3.85px;width:1029.78px;height:1276.22px;position:absolute;} #TextContainer265 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.spanish_review{position: absolute;top: 39px;left: 44px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}