.tr125{ color:transparent;}
#P125_1
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P125_2
{
left:24549.3px;bottom:1410.03px;color:rgb(35,31,31);
}
#P125_3
{
left:27821.6px;bottom:1410.03px;letter-spacing:462.1px;color:rgb(35,31,31);
}
#P125_4
{
left:0px;letter-spacing:1px;margin-left:-462.4px;
}
#P125_5
{
left:0px;letter-spacing:1px;margin-left:0.4px;
}
#P125_6
{
left:36142px;bottom:1410.03px;color:rgb(35,31,31);
}
#P125_7
{
left:6973.4px;bottom:46554.2px;letter-spacing:0.4px;word-spacing:-0.4px;color:rgb(35,31,31);
}
#P125_8
{
left:10048.7px;bottom:46554.2px;letter-spacing:77.1px;color:rgb(35,31,31);
}
#P125_9
{
left:0px;letter-spacing:-1.2px;margin-left:-77.1px;
}
#P125_10
{
left:0px;letter-spacing:-0.3px;margin-left:1.2px;
}
#P125_11
{
left:0px;letter-spacing:0px;margin-left:-27.8px;
}
#P125_12
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P125_13
{
left:0px;letter-spacing:0px;
}
#P125_14
{
left:32030px;bottom:46524.6px;color:rgb(35,31,31);
}
#P125_15
{
left:32616.5px;bottom:46554.2px;color:rgb(35,31,31);
}
#P125_16
{
left:7150.55px;bottom:45421.9px;color:rgb(35,31,31);
}
#P125_17
{
left:8573.4px;bottom:45402.2px;color:rgb(35,31,31);
}
#P125_18
{
left:10037.7px;bottom:45372.6px;color:rgb(35,31,31);
}
#P125_19
{
left:10624.2px;bottom:45402.2px;color:rgb(35,31,31);
}
#P125_20
{
left:13749.2px;bottom:45274.2px;letter-spacing:-70.4px;color:rgb(35,31,31);
}
#P125_21
{
left:13995.6px;bottom:45402.2px;color:rgb(35,31,31);
}
#P125_22
{
left:15459.9px;bottom:45372.6px;color:rgb(35,31,31);
}
#P125_23
{
left:16046.4px;bottom:45402.2px;color:rgb(35,31,31);
}
#P125_24
{
left:21934.6px;bottom:45421.9px;color:rgb(35,31,31);
}
#P125_25
{
left:23357.4px;bottom:45402.2px;color:rgb(35,31,31);
}
#P125_26
{
left:24821.7px;bottom:45372.6px;color:rgb(35,31,31);
}
#P125_27
{
left:25408.2px;bottom:45402.2px;color:rgb(35,31,31);
}
#P125_28
{
left:0px;letter-spacing:0px;margin-left:1343.9px;
}
#P125_29
{
left:29941.2px;bottom:45372.6px;color:rgb(35,31,31);
}
#P125_30
{
left:30527.6px;bottom:45402.2px;color:rgb(35,31,31);
}
#P125_31
{
left:7150.55px;bottom:43949.9px;color:rgb(35,31,31);
}
#P125_32
{
left:8573.4px;bottom:43930.2px;color:rgb(35,31,31);
}
#P125_33
{
left:10784px;bottom:43900.6px;color:rgb(35,31,31);
}
#P125_34
{
left:11370.4px;bottom:43930.2px;color:rgb(35,31,31);
}
#P125_35
{
left:0px;letter-spacing:0px;margin-left:1343.9px;
}
#P125_36
{
left:17022.8px;bottom:43900.6px;color:rgb(35,31,31);
}
#P125_37
{
left:17609.2px;bottom:43930.2px;color:rgb(35,31,31);
}
#P125_38
{
left:21934.6px;bottom:43949.9px;color:rgb(35,31,31);
}
#P125_39
{
left:23357.4px;bottom:43930.2px;color:rgb(35,31,31);
}
#P125_40
{
left:24821.7px;bottom:43900.6px;color:rgb(35,31,31);
}
#P125_41
{
left:25408.2px;bottom:43930.2px;color:rgb(35,31,31);
}
#P125_42
{
left:0px;letter-spacing:0px;margin-left:1343.9px;
}
#P125_43
{
left:29754.6px;bottom:43900.6px;color:rgb(35,31,31);
}
#P125_44
{
left:30341.1px;bottom:43930.2px;color:rgb(35,31,31);
}
#P125_45
{
left:7150.55px;bottom:42285.8px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P125_46
{
left:8637.4px;bottom:42285.9px;color:rgb(2,77,161);
}
#P125_47
{
left:10477px;bottom:42266.2px;letter-spacing:168.2px;word-spacing:0.1px;
color: rgb(35,31,31);
}
#P125_48
{
left:0px;letter-spacing:0px;margin-left:-238.6px;
}
#P125_49
{
left:0px;letter-spacing:-0.5px;margin-left:158px;
}
#P125_50
{
left:0px;letter-spacing:-0.1px;margin-left:-13.4px;
}
#P125_51
{
left:8637.4px;
color: rgb(35,31,31);
bottom:41370.2px;letter-spacing:-0.1px;word-spacing:0.1px;
}
#P125_52
{
left:19616.5px;bottom:41370.2px;letter-spacing:-1.2px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P125_53
{
left:0px;letter-spacing:-0.1px;margin-left:159.6px;
}
#P125_54
{
left:0px;letter-spacing:-63.2px;margin-left:-42.1px;
}
#P125_55
{
left:0px;letter-spacing:-0.1px;margin-left:63.2px;
}
#P125_56
{
left:8637.4px;bottom:40474.2px;
color: rgb(35,31,31);
letter-spacing:-0.1px;word-spacing:0.1px;
}
#P125_57
{
left:17583px;bottom:40474.2px;letter-spacing:-10.6px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P125_58
{
left:0px;letter-spacing:-0.7px;margin-left:168.4px;
}
#P125_59
{
left:7150.55px;bottom:34925.8px;color:rgb(35,31,31);
}
#P125_60
{
left:8637.4px;bottom:34925.9px;color:rgb(2,77,161);
}
#P125_61
{
left:0px;letter-spacing:0px;margin-left:-52.8px;
}
#P125_62
{
left:14543.2px;bottom:34906.2px;letter-spacing:151.5px;color:rgb(35,31,31);
}
#P125_63
{
left:0px;letter-spacing:0px;margin-left:-214.7px;
}
#P125_64
{
left:0px;letter-spacing:-0.5px;
}
#P125_65
{
left:0px;letter-spacing:0px;margin-left:0.5px;
}
#P125_66
{
left:7933.4px;bottom:33965.9px;letter-spacing:508.3px;color:rgb(35,31,31);
}
#P125_67
{
left:8637.4px;bottom:33946.2px;letter-spacing:-31.6px;color:rgb(35,31,31);
}
#P125_68
{
left:9820.95px;bottom:33965.9px;color:rgb(35,31,31);
}
#P125_69
{
left:10016.7px;bottom:33946.2px;letter-spacing:-0.2px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P125_70
{
left:0px;letter-spacing:-63.3px;margin-left:-42px;
}
#P125_71
{
left:0px;letter-spacing:-0.3px;margin-left:63.2px;
}
#P125_72
{
left:8637.4px;bottom:33050.3px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P125_73
{
left:8725.34px;bottom:31706.3px;letter-spacing:-14px;word-spacing:492.2px;color:rgb(35,31,31);
}
#P125_74
{
left:9917.4px;bottom:31706.3px;letter-spacing:-10.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P125_75
{
left:0px;letter-spacing:-0.3px;margin-left:10.4px;
}
#P125_76
{
left:9917.4px;bottom:30810.3px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P125_77
{
left:8689.31px;bottom:29722.2px;letter-spacing:-13.9px;word-spacing:499.1px;color:rgb(35,31,31);
}
#P125_78
{
left:9917.4px;bottom:29722.2px;letter-spacing:-10.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P125_79
{
left:0px;letter-spacing:-1px;margin-left:10.4px;
}
#P125_80
{
left:0px;letter-spacing:-0.2px;margin-left:-3.2px;
}
#P125_81
{
left:9917.4px;bottom:28826.3px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P125_82
{
left:0px;letter-spacing:-0.6px;margin-left:1px;
}
#P125_83
{
left:0px;letter-spacing:0px;margin-left:-41.5px;
}
#P125_84
{
left:13550.6px;bottom:27182.1px;color:rgb(35,31,31);
}
#P125_85
{
left:15101.4px;bottom:27181.9px;color:rgb(2,77,161);
}
#P125_86
{
left:18426.3px;bottom:27162.2px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P125_87
{
left:0px;letter-spacing:-0.4px;margin-left:-193.6px;
}
#P125_88
{
left:0px;letter-spacing:-7px;margin-left:-3.7px;
}
#P125_89
{
left:15125.3px;bottom:26074.2px;letter-spacing:-14px;word-spacing:364.2px;color:rgb(35,31,31);
}
#P125_90
{
left:16189.5px;bottom:26074.2px;letter-spacing:-10.5px;color:rgb(35,31,31);
}
#P125_91
{
left:0px;letter-spacing:0px;margin-left:10.5px;
}
#P125_92
{
left:19782.9px;bottom:26074.2px;letter-spacing:-5.2px;color:rgb(35,31,31);
}
#P125_93
{
left:21575.4px;bottom:26074.2px;color:rgb(35,31,31);
}
#P125_94
{
left:0px;letter-spacing:0px;margin-left:-214.8px;
}
#P125_95
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P125_96
{
left:28432.2px;bottom:26074.2px;color:rgb(35,31,31);
}
#P125_97
{
left:29327.7px;bottom:26074.2px;color:rgb(35,31,31);
}
#P125_98
{
left:16189.5px;bottom:25178.2px;letter-spacing:-1.5px;color:rgb(35,31,31);
}
#P125_99
{
left:0px;letter-spacing:-0.7px;margin-left:1.5px;
}
#P125_100
{
left:0px;letter-spacing:0px;margin-left:-13.3px;
}
#P125_101
{
left:15089.3px;bottom:24090.1px;letter-spacing:-17.5px;color:rgb(35,31,31);
}
#P125_102
{
left:16189.5px;bottom:24090.1px;color:rgb(35,31,31);
}
#P125_103
{
left:0px;letter-spacing:0px;margin-left:-4.2px;
}
#P125_104
{
left:0px;letter-spacing:0px;margin-left:-214.8px;
}
#P125_105
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P125_106
{
left:0px;letter-spacing:0px;margin-left:-66.9px;
}
#P125_107
{
left:15160.5px;bottom:23002.1px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P125_108
{
left:16189.5px;bottom:23002.1px;color:rgb(35,31,31);
}
#P125_109
{
left:7150.49px;bottom:21357.8px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P125_110
{
left:12371.5px;bottom:21338.2px;letter-spacing:168.3px;color:rgb(35,31,31);
}
#P125_111
{
left:0px;letter-spacing:-1.1px;margin-left:-168.3px;
}
#P125_112
{
left:0px;letter-spacing:-42px;margin-left:1.1px;
}
#P125_113
{
left:0px;letter-spacing:0px;margin-left:-35.3px;
}
#P125_114
{
left:0px;letter-spacing:-0.9px;
}
#P125_115
{
left:32195px;bottom:18395.4px;color:rgb(98,93,170);
}
#P125_116
{
left:27446.4px;bottom:20550.8px;color:rgb(98,93,170);
}
#P125_117
{
left:8637.4px;bottom:20442.2px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P125_118
{
left:0px;letter-spacing:0px;margin-left:-13.6px;
}
#P125_119
{
left:0px;letter-spacing:0px;margin-left:-13.9px;
}
#P125_120
{
left:8739.42px;bottom:19354.2px;letter-spacing:-21.1px;word-spacing:499.2px;color:rgb(35,31,31);
}
#P125_121
{
left:9917.4px;bottom:19354.2px;letter-spacing:-17.5px;color:rgb(35,31,31);
}
#P125_122
{
left:0px;letter-spacing:-7.3px;margin-left:10.5px;
}
#P125_123
{
left:0px;letter-spacing:0px;margin-left:0.3px;
}
#P125_124
{
left:9917.4px;bottom:18458.2px;letter-spacing:-8px;color:rgb(35,31,31);
}
#P125_125
{
left:0px;letter-spacing:-6.9px;margin-left:-13px;
}
#P125_126
{
left:0px;letter-spacing:-7px;margin-left:-14.1px;
}
#P125_127
{
left:8689.31px;bottom:17370.1px;letter-spacing:-13.9px;word-spacing:499.1px;color:rgb(35,31,31);
}
#P125_128
{
left:9917.4px;bottom:17370.1px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P125_129
{
left:0px;letter-spacing:-0.5px;margin-left:14px;
}
#P125_130
{
left:0px;letter-spacing:-0.3px;margin-left:-13.4px;
}
#P125_131
{
left:0px;letter-spacing:0px;margin-left:-13.7px;
}
#P125_132
{
left:9917.4px;bottom:16474.2px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P125_133
{
left:0px;letter-spacing:0px;margin-left:-13.1px;
}
#P125_134
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P125_135
{
left:8760.54px;bottom:15386.2px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P125_136
{
left:9917.4px;bottom:15386.2px;letter-spacing:-1.1px;color:rgb(35,31,31);
}
#P125_137
{
left:0px;letter-spacing:0.2px;margin-left:1.1px;
}
#P125_138
{
left:24456.3px;bottom:15386.2px;letter-spacing:0.5px;color:rgb(35,31,31);
}
#P125_139
{
left:26926.5px;bottom:15386.2px;color:rgb(35,31,31);
}
#P125_140
{
left:8682.39px;bottom:14298.2px;letter-spacing:-14px;word-spacing:492.2px;color:rgb(35,31,31);
}
#P125_141
{
left:9917.4px;bottom:14298.2px;color:rgb(35,31,31);
}
#P125_142
{
left:9917.4px;bottom:13402.2px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P125_143
{
left:0px;letter-spacing:0px;margin-left:-12.6px;
}
#P125_144
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P125_145
{
left:6973.4px;bottom:9377.84px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P125_146
{
left:0px;letter-spacing:-23.9px;margin-left:-28.1px;
}
#P125_147
{
left:0px;letter-spacing:0px;margin-left:23.9px;
}
#P125_148
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P125_149
{
left:24708px;bottom:9377.84px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P125_150
{
left:6973.4px;bottom:8033.84px;color:rgb(35,31,31);
}
#P125_151
{
left:7150.55px;bottom:8053.55px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P125_152
{
left:8573.4px;bottom:8053.55px;color:rgb(35,31,31);
}
#P125_153
{
left:8594.52px;bottom:8475.63px;color:rgb(35,31,31);
}
#P125_154
{
left:8930.33px;bottom:8051.44px;color:rgb(35,31,31);
}
#P125_155
{
left:8573.4px;bottom:8019.94px;color:rgb(35,31,31);
}
#P125_156
{
left:8951.45px;bottom:8035.1px;color:rgb(35,31,31);
}
#P125_157
{
left:8594.52px;bottom:7568.11px;color:rgb(35,31,31);
}
#P125_158
{
left:8930.33px;bottom:8051.44px;color:rgb(35,31,31);
}
#P125_159
{
left:8951.45px;bottom:8033.84px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P125_160
{
left:9109.85px;bottom:8004.27px;color:rgb(35,31,31);
}
#P125_161
{
left:9696.28px;bottom:8033.84px;color:rgb(35,31,31);
}
#P125_162
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P125_163
{
left:9875.8px;bottom:8473.52px;color:rgb(35,31,31);
}
#P125_164
{
left:10211.6px;bottom:8051.44px;color:rgb(35,31,31);
}
#P125_165
{
left:9854.68px;bottom:8017.82px;color:rgb(35,31,31);
}
#P125_166
{
left:10232.7px;bottom:8035.1px;color:rgb(35,31,31);
}
#P125_167
{
left:9875.8px;bottom:7566px;color:rgb(35,31,31);
}
#P125_168
{
left:10211.6px;bottom:8051.44px;color:rgb(35,31,31);
}
#P125_169
{
left:10232.7px;bottom:8033.84px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P125_170
{
left:14446.6px;bottom:8053.55px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P125_171
{
left:15869.5px;bottom:8053.55px;color:rgb(35,31,31);
}
#P125_172
{
left:15890.5px;bottom:8475.63px;color:rgb(35,31,31);
}
#P125_173
{
left:16226.3px;bottom:8051.44px;color:rgb(35,31,31);
}
#P125_174
{
left:15869.4px;bottom:8019.94px;color:rgb(35,31,31);
}
#P125_175
{
left:16247.4px;bottom:8035.1px;color:rgb(35,31,31);
}
#P125_176
{
left:15890.5px;bottom:7568.11px;color:rgb(35,31,31);
}
#P125_177
{
left:16226.3px;bottom:8051.44px;color:rgb(35,31,31);
}
#P125_178
{
left:16247.4px;bottom:8033.84px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P125_179
{
left:16405.8px;bottom:8004.27px;color:rgb(35,31,31);
}
#P125_180
{
left:16992.3px;bottom:8033.84px;color:rgb(35,31,31);
}
#P125_181
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P125_182
{
left:17171.8px;bottom:8473.52px;color:rgb(35,31,31);
}
#P125_183
{
left:17507.6px;bottom:8051.44px;color:rgb(35,31,31);
}
#P125_184
{
left:17150.7px;bottom:8017.82px;color:rgb(35,31,31);
}
#P125_185
{
left:17528.7px;bottom:8035.1px;color:rgb(35,31,31);
}
#P125_186
{
left:17171.8px;bottom:7566px;color:rgb(35,31,31);
}
#P125_187
{
left:17507.6px;bottom:8051.44px;color:rgb(35,31,31);
}
#P125_188
{
left:17528.7px;bottom:8033.84px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P125_189
{
left:21870.6px;bottom:8053.55px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P125_190
{
left:23293.5px;bottom:8053.55px;color:rgb(35,31,31);
}
#P125_191
{
left:23482.4px;bottom:8475.63px;color:rgb(35,31,31);
}
#P125_192
{
left:23818.2px;bottom:8051.44px;color:rgb(35,31,31);
}
#P125_193
{
left:23293.4px;bottom:8019.94px;color:rgb(35,31,31);
}
#P125_194
{
left:24007.3px;bottom:8035.1px;color:rgb(35,31,31);
}
#P125_195
{
left:23314.5px;bottom:7568.11px;color:rgb(35,31,31);
}
#P125_196
{
left:23986.1px;bottom:8051.44px;color:rgb(35,31,31);
}
#P125_197
{
left:24007.3px;bottom:8033.84px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P125_198
{
left:24165.7px;bottom:8004.27px;color:rgb(35,31,31);
}
#P125_199
{
left:24928.1px;bottom:8033.84px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P125_200
{
left:24949.2px;bottom:8524.91px;color:rgb(35,31,31);
}
#P125_201
{
left:25285px;bottom:8051.44px;color:rgb(35,31,31);
}
#P125_202
{
left:24928.1px;bottom:8069.22px;color:rgb(35,31,31);
}
#P125_203
{
left:25306.1px;bottom:8035.1px;color:rgb(35,31,31);
}
#P125_204
{
left:24949.2px;bottom:7617.39px;color:rgb(35,31,31);
}
#P125_205
{
left:25285px;bottom:8051.44px;color:rgb(35,31,31);
}
#P125_206
{
left:25306.1px;bottom:8033.84px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P125_207
{
left:29230.6px;bottom:8053.55px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P125_208
{
left:30653.5px;bottom:8053.55px;color:rgb(35,31,31);
}
#P125_209
{
left:30674.5px;bottom:8475.63px;color:rgb(35,31,31);
}
#P125_210
{
left:31346.1px;bottom:8051.44px;color:rgb(35,31,31);
}
#P125_211
{
left:30653.4px;bottom:8019.94px;color:rgb(35,31,31);
}
#P125_212
{
left:31367.3px;bottom:8035.1px;color:rgb(35,31,31);
}
#P125_213
{
left:30674.5px;bottom:7568.11px;color:rgb(35,31,31);
}
#P125_214
{
left:31346.1px;bottom:8051.44px;color:rgb(35,31,31);
}
#P125_215
{
left:31367.3px;bottom:8033.84px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P125_216
{
left:31525.7px;bottom:8004.27px;color:rgb(35,31,31);
}
#P125_217
{
left:32112.1px;bottom:8033.84px;color:rgb(35,31,31);
}
#P125_218
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P125_219
{
left:32291.6px;bottom:8473.52px;color:rgb(35,31,31);
}
#P125_220
{
left:32627.4px;bottom:8051.44px;color:rgb(35,31,31);
}
#P125_221
{
left:32270.5px;bottom:8017.82px;color:rgb(35,31,31);
}
#P125_222
{
left:32648.5px;bottom:8035.1px;color:rgb(35,31,31);
}
#P125_223
{
left:32291.6px;bottom:7566px;color:rgb(35,31,31);
}
#P125_224
{
left:32627.4px;bottom:8051.44px;color:rgb(35,31,31);
}
#P125_225
{
left:32648.5px;bottom:8033.84px;color:rgb(35,31,31);
}
#P125_226
{
left:6973.4px;bottom:6369.84px;color:rgb(35,31,31);
}
#P125_227
{
left:7150.43px;bottom:6389.55px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P125_228
{
left:8637.4px;bottom:6389.55px;letter-spacing:-17.6px;color:rgb(2,77,161);
}
#P125_229
{
left:0px;letter-spacing:0px;margin-left:17.6px;
}
#P125_230
{
left:14113px;bottom:6369.84px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P125_231
{
left:0px;letter-spacing:0px;margin-left:-214.6px;
}
#P125_232
{
left:0px;letter-spacing:0.2px;
}
#P125_233
{
left:0px;letter-spacing:-4.7px;margin-left:-0.2px;
}
#P125_234
{
left:0px;letter-spacing:-2.1px;margin-left:4.7px;
}
#P125_235
{
left:8637.4px;bottom:5473.84px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P125_236
{
left:0px;letter-spacing:0px;margin-left:-20px;
}
#P125_237
{
left:0px;letter-spacing:0.4px;
}
#P125_238
{
left:26807px;bottom:5473.84px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P125_239
{
left:6973.4px;bottom:4129.84px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P125_240
{
left:8550.49px;bottom:4173.22px;color:rgb(35,31,31);
}
#P125_241
{
left:8887.32px;bottom:4294.35px;color:rgb(35,31,31);
}
#P125_242
{
left:9533.4px;bottom:4129.84px;color:rgb(35,31,31);
}
#P125_243
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P125_244
{
left:15846.5px;bottom:4173.22px;color:rgb(35,31,31);
}
#P125_245
{
left:16183.3px;bottom:4294.35px;color:rgb(35,31,31);
}
#P125_246
{
left:16829.4px;bottom:4129.84px;color:rgb(35,31,31);
}
#P125_247
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P125_248
{
left:23334.5px;bottom:4173.22px;color:rgb(35,31,31);
}
#P125_249
{
left:23671.3px;bottom:4294.35px;color:rgb(35,31,31);
}
#P125_250
{
left:24317.4px;bottom:4129.84px;color:rgb(35,31,31);
}
#P125_251
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P125_252
{
left:30694.5px;bottom:4173.22px;color:rgb(35,31,31);
}
#P125_253
{
left:31031.3px;bottom:4294.35px;color:rgb(35,31,31);
}
#P125_254
{
left:31677.4px;bottom:4129.84px;color:rgb(35,31,31);
}
#P125_255
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P125_256
{
left:6485.4px;bottom:26550.4px;color:rgb(35,31,31);
}
#P125_257
{
left:5197.4px;bottom:25266.5px;color:rgb(35,31,31);
}
#P125_258
{
left:5197.4px;bottom:24421.7px;color:rgb(35,31,31);
}
#P125_259
{
left:10613.3px;bottom:25242.6px;color:rgb(35,31,31);
}
#P125_260
{
left:10613.3px;bottom:24397.8px;color:rgb(35,31,31);
}
#P125_261
{
left:8637.4px;bottom:41370.2px;
}
#P125_262
{
left:8637.4px;bottom:40474.2px;color:rgb(33,31,31);
}
#P125_263
{
left:9195.67px;bottom:40474.2px;
}
#P125_264
{
left:32477.1px;bottom:41370.2px;
}
#PageContainer125
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg125.jpg");background-repeat:no-repeat;background-size: 902px 1169px; background-position: 125.23px 103.73px;
}
#ImageContainer125 {bottom:91.27px;left:125.23px;width:902.25px;height:1168.91px;position:absolute;} #TextContainer125 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}