.tr597{ color:transparent;}
#P597_1
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P597_2
{
left:15052.8px;bottom:1410.03px;color:rgb(35,31,31);
}
#P597_3
{
left:19961px;bottom:1410.03px;letter-spacing:461.8px;word-spacing:0.3px;color:rgb(35,31,31);
}
#P597_4
{
left:0px;letter-spacing:-0.3px;margin-left:-455.1px;
}
#P597_5
{
left:0px;letter-spacing:0.6px;margin-left:6.6px;
}
#P597_6
{
left:0px;letter-spacing:0.9px;margin-left:-0.9px;
}
#P597_7
{
left:0px;letter-spacing:-2.2px;margin-left:20.5px;
}
#P597_8
{
left:0px;letter-spacing:-0.1px;margin-left:6.1px;
}
#P597_9
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P597_10
{
left:14877.4px;bottom:3948.65px;letter-spacing:228.8px;color:rgb(0,124,196);
}
#P597_11
{
left:15293.4px;bottom:3980.65px;letter-spacing:-9.3px;color:rgb(35,31,31);
}
#P597_12
{
left:0px;letter-spacing:-0.1px;margin-left:9.3px;
}
#P597_13
{
left:15293.4px;bottom:3084.67px;color:rgb(35,31,31);
}
#P597_14
{
left:0px;letter-spacing:0px;margin-left:-4.2px;
}
#P597_15
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P597_16
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P597_17
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P597_18
{
left:11555.5px;bottom:43292.8px;letter-spacing:-21px;color:rgb(35,31,31);
}
#P597_19
{
left:0px;letter-spacing:0.4px;margin-left:14.1px;
}
#P597_20
{
left:0px;letter-spacing:-35.1px;margin-left:-42.5px;
}
#P597_21
{
left:0px;letter-spacing:-1.1px;margin-left:40.6px;
}
#P597_22
{
left:0px;letter-spacing:-0.5px;margin-left:1.1px;
}
#P597_23
{
left:0px;letter-spacing:-14px;margin-left:-27.6px;
}
#P597_24
{
left:0px;letter-spacing:-1.3px;margin-left:14px;
}
#P597_25
{
left:11555.5px;bottom:42012.8px;color:rgb(35,31,31);
}
#P597_26
{
left:11683.4px;bottom:42012.8px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P597_27
{
left:15086.3px;bottom:41331.2px;color:rgb(35,31,31);
}
#P597_28
{
left:19077.5px;bottom:42012.8px;color:rgb(35,31,31);
}
#P597_29
{
left:24151.4px;bottom:42012.8px;letter-spacing:-17.4px;color:rgb(35,31,31);
}
#P597_30
{
left:29681.6px;bottom:41363.2px;color:rgb(35,31,31);
}
#P597_31
{
left:11555.5px;bottom:39452.8px;color:rgb(35,31,31);
}
#P597_32
{
left:11683.5px;bottom:39452.8px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P597_33
{
left:18161.6px;bottom:38771.2px;color:rgb(35,31,31);
}
#P597_34
{
left:21000.7px;bottom:39452.8px;color:rgb(35,31,31);
}
#P597_35
{
left:24144.3px;bottom:39452.8px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P597_36
{
left:28526.3px;bottom:38803.2px;color:rgb(35,31,31);
}
#P597_37
{
left:12433.7px;bottom:44853px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P597_38
{
left:15858.8px;bottom:45044.8px;color:rgb(255,223,126);
}
#P597_39
{
left:16451.7px;bottom:44853px;word-spacing:175.5px;color:white;
}
#P597_40
{
left:17523.9px;bottom:45044.8px;color:white;
}
#P597_41
{
left:17764.1px;bottom:44853px;color:white;
}
#P597_42
{
left:18100.1px;bottom:45044.8px;color:white;
}
#P597_43
{
left:18340.3px;bottom:44853px;color:white;
}
#P597_44
{
left:22854.7px;bottom:45044.8px;color:white;
}
#P597_45
{
left:23094.9px;bottom:44853px;color:white;
}
#P597_46
{
left:26520.7px;bottom:45044.8px;color:white;
}
#P597_47
{
left:26760.9px;bottom:44853px;color:white;
}
#P597_48
{
left:10693.3px;bottom:44729.5px;
}
#P597_49
{
left:10693.3px;bottom:44729.5px;color:white;
}
#P597_50
{
left: 26165.5px;bottom:34131.6px;letter-spacing:7212.2px;color:rgb(35,31,31);
}
#P597_51
{
left:0px;letter-spacing:0px;margin-left:-7360px;
}
#P597_52
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P597_53
{
left:0px;letter-spacing:0.4px;margin-left:-6.9px;
}
#P597_54
{
left:0px;letter-spacing:-18.7px;margin-left:-42.5px;
}
#P597_55
{
left:0px;letter-spacing:0px;margin-left:18.7px;
}
#P597_56
{
left:27112.6px;bottom:34137.3px;color:rgb(35,31,31);
}
#P597_57
{
left:31535.8px;bottom:34131.6px;color:rgb(35,31,31);
}
#P597_58
{
left:18915.5px;bottom:33235.6px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P597_59
{
left:18915.5px;bottom:32339.7px;letter-spacing:-3.1px;color:rgb(35,31,31);
}
#P597_60
{
left:0px;letter-spacing:0px;margin-left:-24.9px;
}
#P597_61
{
left:0px;letter-spacing:-0.1px;
}
#P597_62
{
left:18915.5px;bottom:31443.7px;color:rgb(35,31,31);
}
#P597_63
{
left:0px;letter-spacing:0px;margin-left:-105.5px;
}
#P597_64
{
left:0px;letter-spacing:-14px;margin-left:-28px;
}
#P597_65
{
left:0px;letter-spacing:-0.4px;margin-left:14px;
}
#P597_66
{
left:18915.5px;bottom:30547.7px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P597_67
{
left:0px;letter-spacing:0px;margin-left:-50.5px;
}
#P597_68
{
left:11555.5px;bottom:29267.7px;color:rgb(35,31,31);
}
#P597_69
{
left:11683.5px;bottom:29267.7px;letter-spacing:-14px;word-spacing:516.1px;color:rgb(35,31,31);
}
#P597_70
{
left:12899.5px;bottom:29267.7px;color:rgb(35,31,31);
}
#P597_71
{
left:0px;letter-spacing:0px;margin-left:-21px;
}
#P597_72
{
left:0px;letter-spacing:0px;margin-left:-4.2px;
}
#P597_73
{
left:0px;letter-spacing:0px;margin-left:-215px;
}
#P597_74
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P597_75
{
left:12899.5px;bottom:28371.7px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P597_76
{
left:0px;letter-spacing:0px;margin-left:-42px;
}
#P597_77
{
left:0px;letter-spacing:0px;
}
#P597_78
{
left:11555.5px;bottom:27091.7px;color:rgb(35,31,31);
}
#P597_79
{
left:11683.5px;bottom:27091.7px;color:rgb(35,31,31);
}
#P597_80
{
left:13283.5px;bottom:26730.3px;color:rgb(35,31,31);
}
#P597_81
{
left:13646.7px;bottom:26730.3px;color:rgb(35,31,31);
}
#P597_82
{
left:13805.1px;bottom:26700.8px;color:rgb(35,31,31);
}
#P597_83
{
left:14391.6px;bottom:26730.3px;color:rgb(35,31,31);
}
#P597_84
{
left:15454.6px;bottom:26700.8px;color:rgb(35,31,31);
}
#P597_85
{
left:16041px;bottom:26730.3px;color:rgb(35,31,31);
}
#P597_86
{
left:17379.5px;bottom:27091.6px;letter-spacing:204.2px;color:rgb(35,31,31);
}
#P597_87
{
left:18819.5px;bottom:26730.3px;color:rgb(35,31,31);
}
#P597_88
{
left:19182.7px;bottom:26730.3px;color:rgb(35,31,31);
}
#P597_89
{
left:19341.1px;bottom:26700.8px;color:rgb(35,31,31);
}
#P597_90
{
left:19927.6px;bottom:26730.3px;color:rgb(35,31,31);
}
#P597_91
{
left:20990.6px;bottom:26700.8px;color:rgb(35,31,31);
}
#P597_92
{
left:21577px;bottom:26730.3px;color:rgb(35,31,31);
}
#P597_93
{
left:22915.5px;bottom:27091.6px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P597_94
{
left:24355.5px;bottom:26747.2px;color:rgb(35,31,31);
}
#P597_95
{
left:24718.7px;bottom:26747.2px;color:rgb(35,31,31);
}
#P597_96
{
left:24877.1px;bottom:26717.7px;color:rgb(35,31,31);
}
#P597_97
{
left:25463.6px;bottom:26747.2px;color:rgb(35,31,31);
}
#P597_98
{
left:26526.6px;bottom:26717.7px;color:rgb(35,31,31);
}
#P597_99
{
left:27113px;bottom:26747.2px;color:rgb(35,31,31);
}
#P597_100
{
left:28451.5px;bottom:27091.6px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P597_101
{
left:29763.5px;bottom:26730.3px;color:rgb(35,31,31);
}
#P597_102
{
left:30126.7px;bottom:26730.3px;color:rgb(35,31,31);
}
#P597_103
{
left:30285.1px;bottom:26700.8px;color:rgb(35,31,31);
}
#P597_104
{
left:30871.6px;bottom:26730.3px;color:rgb(35,31,31);
}
#P597_105
{
left:31934.6px;bottom:26700.8px;color:rgb(35,31,31);
}
#P597_106
{
left:33283.4px;bottom:26730.3px;color:rgb(35,31,31);
}
#P597_107
{
left:11555.5px;bottom:24787.7px;color:rgb(35,31,31);
}
#P597_108
{
left:11683.5px;bottom:24787.7px;letter-spacing:-13.9px;word-spacing:486.9px;color:rgb(35,31,31);
}
#P597_109
{
left:12899.5px;bottom:24807.3px;letter-spacing:-1.1px;word-spacing:-26px;color:rgb(2,77,161);
}
#P597_110
{
left:17780.6px;bottom:24787.6px;letter-spacing:-10.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P597_111
{
left:0px;letter-spacing:-0.3px;margin-left:10.4px;
}
#P597_112
{
left:12899.5px;bottom:23891.6px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P597_113
{
left:0px;letter-spacing:0px;margin-left:-19.7px;
}
#P597_114
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P597_115
{
left:0px;letter-spacing:0px;margin-left:-13.9px;
}
#P597_116
{
left:12433.7px;bottom:35691.8px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P597_117
{
left:15858.8px;bottom:35883.6px;color:rgb(255,223,126);
}
#P597_118
{
left:16483.5px;bottom:35691.8px;word-spacing:207.4px;color:white;
}
#P597_119
{
left:17395.9px;bottom:35883.6px;color:white;
}
#P597_120
{
left:17636.1px;bottom:35691.8px;color:white;
}
#P597_121
{
left:20102px;bottom:35883.6px;color:white;
}
#P597_122
{
left:20342.2px;bottom:35691.8px;letter-spacing:-0.9px;color:white;
}
#P597_123
{
left:27976.6px;bottom:35883.6px;color:white;
}
#P597_124
{
left:28216.8px;bottom:35691.8px;color:white;
}
#P597_125
{
left:32123px;bottom:35883.6px;color:white;
}
#P597_126
{
left:32363.2px;bottom:35691.8px;color:white;
}
#P597_127
{
left:10693.3px;bottom:35568.3px;
}
#P597_128
{
left:10693.3px;bottom:35568.3px;color:white;
}
#P597_129
{
left:10477.4px;bottom:20120.7px;color:rgb(35,31,31);
}
#P597_130
{
left:10935.8px;bottom:20147.6px;word-spacing:394.4px;color:rgb(35,31,31);
}
#P597_131
{
left:12077.4px;bottom:20140.5px;word-spacing:-26px;color:rgb(2,77,161);
}
#P597_132
{
left:0px;letter-spacing:0px;margin-left:-26px;
}
#P597_133
{
left:0px;letter-spacing:0px;margin-left:26px;
}
#P597_134
{
left:19237.3px;bottom:20120.7px;letter-spacing:-10.5px;color:rgb(35,31,31);
}
#P597_135
{
left:0px;letter-spacing:-0.7px;margin-left:10.5px;
}
#P597_136
{
left:12077.4px;bottom:19224.7px;letter-spacing:-0.3px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P597_137
{
left:12077.4px;bottom:18328.8px;letter-spacing:-0.6px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P597_138
{
left:12077.4px;bottom:17432.8px;color:rgb(35,31,31);
}
#P597_139
{
left:10477.4px;bottom:16088.8px;color:rgb(35,31,31);
}
#P597_140
{
left:10935.8px;bottom:16115.6px;word-spacing:394.4px;color:rgb(35,31,31);
}
#P597_141
{
left:12077.4px;bottom:16108.5px;color:rgb(2,77,161);
}
#P597_142
{
left:16002.8px;bottom:16088.7px;letter-spacing:-2.5px;color:rgb(35,31,31);
}
#P597_143
{
left:0px;letter-spacing:-0.4px;margin-left:2.5px;
}
#P597_144
{
left:12077.4px;bottom:15192.7px;letter-spacing:-0.4px;word-spacing:0.2px;color:rgb(35,31,31);
}
#P597_145
{
left:12077.4px;bottom:14296.8px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P597_146
{
left:12077.4px;bottom:13400.8px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P597_147
{
left:10477.4px;bottom:12056.8px;color:rgb(35,31,31);
}
#P597_148
{
left:10935.8px;bottom:12083.6px;word-spacing:394.4px;color:rgb(35,31,31);
}
#P597_149
{
left:12077.4px;bottom:12056.7px;letter-spacing:0.2px;color:rgb(35,31,31);
}
#P597_150
{
left:10477.4px;bottom:10712.7px;color:rgb(35,31,31);
}
#P597_151
{
left:10935.8px;bottom:10739.6px;word-spacing:394.4px;color:rgb(35,31,31);
}
#P597_152
{
left:12077.4px;bottom:10712.7px;letter-spacing:-1.7px;color:rgb(35,31,31);
}
#P597_153
{
left:15248.3px;bottom:10712.7px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P597_154
{
left:17827.1px;bottom:10712.7px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P597_155
{
left:12077.4px;bottom:9816.75px;letter-spacing:-1.7px;color:rgb(35,31,31);
}
#P597_156
{
left:15053.3px;bottom:9816.75px;letter-spacing:2.8px;color:rgb(35,31,31);
}
#P597_157
{
left:16428.2px;bottom:9816.75px;letter-spacing:-8.4px;color:rgb(35,31,31);
}
#P597_158
{
left:0px;letter-spacing:-1.4px;margin-left:8.4px;
}
#P597_159
{
left:12077.4px;bottom:8920.88px;letter-spacing:-1.5px;color:rgb(35,31,31);
}
#P597_160
{
left:0px;letter-spacing:-0.4px;margin-left:1.5px;
}
#P597_161
{
left:12077.4px;bottom:8024.94px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P597_162
{
left:0px;letter-spacing:0px;margin-left:-42px;
}
#P597_163
{
left:10477.4px;bottom:6680.94px;color:rgb(35,31,31);
}
#P597_164
{
left:11309.4px;bottom:6707.56px;letter-spacing:581.2px;color:rgb(35,31,31);
}
#P597_165
{
left:12077.4px;bottom:6680.75px;letter-spacing:-13.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P597_166
{
left:0px;letter-spacing:-0.4px;margin-left:13px;
}
#P597_167
{
left:28679.6px;bottom:6680.75px;letter-spacing:2.8px;color:rgb(35,31,31);
}
#P597_168
{
left:0px;letter-spacing:0px;margin-left:-51.9px;
}
#P597_169
{
left:24770.1px;bottom:10005px;color:rgb(33,31,31);
}
#P597_170
{
left:0px;letter-spacing:-28.5px;margin-left:-38.4px;
}
#P597_171
{
left:0px;letter-spacing:-2.9px;margin-left:28.5px;
}
#P597_172
{
left:0px;letter-spacing:0px;margin-left:2.9px;
}
#P597_173
{
left:34430.9px;bottom:10015.9px;color:rgb(33,31,31);
}
#P597_174
{
left:34834.1px;bottom:10005px;letter-spacing:-6.4px;color:rgb(33,31,31);
}
#P597_175
{
left:25994.5px;bottom:9301.04px;word-spacing:0.1px;color:rgb(33,31,31);
}
#P597_176
{
left:0px;letter-spacing:-0.1px;margin-left:-31.4px;
}
#P597_177
{
left:0px;letter-spacing:-0.1px;margin-left:-19.1px;
}
#P597_178
{
left:33206.6px;bottom:9311.92px;color:rgb(33,31,31);
}
#P597_179
{
left:33609.8px;bottom:9301.04px;letter-spacing:-6.4px;color:rgb(33,31,31);
}
#P597_180
{
left:25869px;bottom:8597.04px;letter-spacing:-1.1px;color:rgb(33,31,31);
}
#P597_181
{
left:0px;letter-spacing:0px;margin-left:-18.1px;
}
#P597_182
{
left:0px;letter-spacing:-32px;margin-left:-57.6px;
}
#P597_183
{
left:4735.64px;bottom:43088.5px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P597_184
{
left:4735.64px;bottom:42192.5px;color:rgb(35,31,31);
}
#P597_185
{
left:4735.64px;bottom:41332.8px;color:rgb(35,31,31);
}
#P597_186
{
left:4735.64px;bottom:40596.8px;letter-spacing:-1.9px;color:rgb(35,31,31);
}
#P597_187
{
left:0px;letter-spacing:0px;margin-left:1.9px;
}
#P597_188
{
left:4735.64px;bottom:39860.8px;color:rgb(35,31,31);
}
#P597_189
{
left:4735.64px;bottom:39124.8px;color:rgb(35,31,31);
}
#P597_190
{
left:4735.64px;bottom:38388.8px;color:rgb(35,31,31);
}
#P597_191
{
left:4485.02px;bottom:44903.4px;letter-spacing:-20.4px;color:white;
}
#P597_192
{
left:4485.02px;bottom:43943.3px;letter-spacing:-27.2px;color:white;
}
#P597_193
{
left:6464.09px;bottom:44200.1px;color:white;
}
#P597_194
{
left:6739.35px;bottom:43943.3px;letter-spacing:-27.2px;color:white;
}
#PageContainer597
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg597.jpg");background-repeat:no-repeat;background-size: 1021px 1284px; background-position: 0px 0.0299999999999727px;
}
#ImageContainer597 {bottom:79.97px;left:0.00px;width:1020.57px;height:1284.19px;position:absolute;} #TextContainer597 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}
.prw {position: absolute;top: 1226px;left: 257px;}
#middle-toolbar img{vertical-align: middle;}