.tr12{ color:transparent;}
#P12_1
{
left:17286.6px;bottom:42072.9px;letter-spacing:-29.4px;
}
#P12_2
{
left:0px;letter-spacing:0px;margin-left:-11989.4px;
}
#P12_3
{
left:0px;bottom:0px;letter-spacing:0px;color:rgb(35,31,31);
}
#P12_4
{
left:6170.33px;bottom:33159px;letter-spacing:-6px;color:rgb(35,31,31);
}
#P12_5
{
left:5150.17px;bottom:32391px;letter-spacing:-6.6px;color:rgb(35,31,31);
}
#P12_6
{
left:4633.05px;bottom:31623px;letter-spacing:-6.4px;color:rgb(35,31,31);
}
#P12_7
{
left:5388.25px;bottom:30855px;letter-spacing:-6.1px;color:rgb(35,31,31);
}
#P12_8
{
left:7143.77px;bottom:30087px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P12_9
{
left:2364.89px;bottom:1409.84px;color:rgb(35,31,31);
}
#P12_10
{
left:15713.9px;bottom:39412.5px;color:rgb(0,151,73);
}
#P12_11
{
left:0px;letter-spacing:0px;margin-left:4328.9px;
}
#P12_12
{
left:0px;letter-spacing:-7px;margin-left:232.3px;
}
#P12_13
{
left:0px;letter-spacing:-7px;margin-left:-52.1px;
}
#P12_14
{
left:0px;letter-spacing:0px;margin-left:-8.4px;
}
#P12_15
{
left:29443.8px;bottom:39563.2px;letter-spacing:-7px;word-spacing:-116.4px;color:rgb(145,147,151);
}
#P12_16
{
left:32628.2px;bottom:39412.5px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P12_17
{
left:16593px;bottom:38388.2px;letter-spacing:-7px;word-spacing:669.9px;color:rgb(145,147,151);
}
#P12_18
{
left:0px;letter-spacing:-7px;margin-left:-670.2px;
}
#P12_19
{
left:20706.4px;bottom:38388.2px;letter-spacing:-7px;word-spacing:239.6px;color:rgb(35,31,31);
}
#P12_20
{
left:15714.6px;bottom:37364.6px;letter-spacing:4328.5px;color:rgb(35,31,31);
}
#P12_21
{
left:20706.7px;bottom:37364.6px;letter-spacing:-7px;color:rgb(235,26,35);
}
#P12_22
{
left:23176.6px;bottom:37515.2px;letter-spacing:-7px;word-spacing:-87px;color:rgb(145,147,151);
}
#P12_23
{
left:32628.2px;bottom:37364.6px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P12_24
{
left:15714.6px;bottom:36341px;letter-spacing:4328.5px;color:rgb(35,31,31);
}
#P12_25
{
left:20706.7px;bottom:36341px;letter-spacing:-7px;color:rgb(2,77,161);
}
#P12_26
{
left:23176.6px;bottom:36491.6px;letter-spacing:-7px;word-spacing:-115.2px;color:rgb(145,147,151);
}
#P12_27
{
left:32642.3px;bottom:36341px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P12_28
{
left:16462.7px;bottom:35316.7px;letter-spacing:-7px;word-spacing:539px;color:rgb(145,147,151);
}
#P12_29
{
left:0px;letter-spacing:-7px;margin-left:-539.3px;
}
#P12_30
{
left:20707.1px;bottom:35316.7px;letter-spacing:-7px;word-spacing:239.6px;color:rgb(35,31,31);
}
#P12_31
{
left:0px;letter-spacing:0px;margin-left:-239.3px;
}
#P12_32
{
left:0px;letter-spacing:-7px;margin-left:-95px;
}
#P12_33
{
left:15715.4px;bottom:34293px;letter-spacing:4328.5px;color:rgb(35,31,31);
}
#P12_34
{
left:20707.4px;bottom:34293px;letter-spacing:-7px;color:rgb(235,26,35);
}
#P12_35
{
left:23177.3px;bottom:34443.7px;letter-spacing:-7px;word-spacing:-87px;color:rgb(145,147,151);
}
#P12_36
{
left:32629px;bottom:34293px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P12_37
{
left:15715.4px;bottom:33269.4px;letter-spacing:4328.5px;color:rgb(35,31,31);
}
#P12_38
{
left:20707.4px;bottom:33269.4px;letter-spacing:-7px;color:rgb(2,77,161);
}
#P12_39
{
left:23177.3px;bottom:33420.1px;letter-spacing:-7px;word-spacing:-115.2px;color:rgb(145,147,151);
}
#P12_40
{
left:32629px;bottom:33269.4px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P12_41
{
left:16462.7px;bottom:32245.1px;letter-spacing:-7px;word-spacing:539px;color:rgb(145,147,151);
}
#P12_42
{
left:0px;letter-spacing:-7px;margin-left:-539.3px;
}
#P12_43
{
left:20707.1px;bottom:32245.1px;letter-spacing:-7px;word-spacing:239.6px;color:rgb(35,31,31);
}
#P12_44
{
left:15715.4px;bottom:31221.5px;letter-spacing:4328.5px;color:rgb(35,31,31);
}
#P12_45
{
left:20707.4px;bottom:31221.5px;letter-spacing:-7px;color:rgb(235,26,35);
}
#P12_46
{
left:23177.3px;bottom:31372.1px;letter-spacing:-7px;word-spacing:-87px;color:rgb(145,147,151);
}
#P12_47
{
left:32499.4px;bottom:31221.5px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P12_48
{
left:15716.1px;bottom:30197.9px;letter-spacing:4328.5px;color:rgb(35,31,31);
}
#P12_49
{
left:20708.1px;bottom:30197.9px;letter-spacing:-7px;color:rgb(2,77,161);
}
#P12_50
{
left:23178px;bottom:30348.5px;letter-spacing:-7px;word-spacing:-115.2px;color:rgb(145,147,151);
}
#P12_51
{
left:32499.4px;bottom:30197.9px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P12_52
{
left:16451.5px;bottom:29173.5px;letter-spacing:-7px;word-spacing:526.3px;color:rgb(145,147,151);
}
#P12_53
{
left:0px;letter-spacing:-7px;margin-left:-526.6px;
}
#P12_54
{
left:20260.5px;bottom:29173.5px;letter-spacing:232.3px;color:rgb(35,31,31);
}
#P12_55
{
left:0px;letter-spacing:-7.5px;margin-left:-239.4px;
}
#P12_56
{
left:15716.8px;bottom:28149.9px;letter-spacing:4328.5px;color:rgb(35,31,31);
}
#P12_57
{
left:20708.8px;bottom:28149.9px;letter-spacing:-7px;color:rgb(235,26,35);
}
#P12_58
{
left:23178.7px;bottom:28300.6px;letter-spacing:-7px;word-spacing:-87px;color:rgb(145,147,151);
}
#P12_59
{
left:32644.4px;bottom:28149.9px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P12_60
{
left:15717.5px;bottom:27126.3px;letter-spacing:4328.5px;color:rgb(35,31,31);
}
#P12_61
{
left:20709.5px;bottom:27126.3px;letter-spacing:-7px;color:rgb(2,77,161);
}
#P12_62
{
left:23179.4px;bottom:27277px;letter-spacing:-7px;word-spacing:-115.2px;color:rgb(145,147,151);
}
#P12_63
{
left:32658.5px;bottom:27126.3px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P12_64
{
left:15718.2px;bottom:26102px;letter-spacing:4328.9px;color:rgb(0,151,73);
}
#P12_65
{
left:0px;letter-spacing:0px;margin-left:-4096.6px;
}
#P12_66
{
left:0px;letter-spacing:-7.5px;margin-left:-7px;
}
#P12_67
{
left:30940.3px;bottom:26252.7px;letter-spacing:-7px;word-spacing:-140.4px;color:rgb(145,147,151);
}
#P12_68
{
left:32645.8px;bottom:26102px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P12_69
{
left:20710.9px;bottom:25077.7px;letter-spacing:-7px;word-spacing:4335.6px;color:rgb(0,151,73);
}
#P12_70
{
left:0px;letter-spacing:-7px;margin-left:-4335.6px;
}
#P12_71
{
left:24822.4px;bottom:25228.3px;letter-spacing:-7px;word-spacing:-94.9px;color:rgb(145,147,151);
}
#P12_72
{
left:32631.1px;bottom:25077.7px;letter-spacing:14.1px;color:rgb(35,31,31);
}
#P12_73
{
left:16466.9px;bottom:24053.4px;letter-spacing:-7px;word-spacing:539px;color:rgb(145,147,151);
}
#P12_74
{
left:0px;letter-spacing:-7px;margin-left:-539.3px;
}
#P12_75
{
left:20706.4px;bottom:24053.4px;letter-spacing:-12px;word-spacing:239.6px;color:rgb(35,31,31);
}
#P12_76
{
left:0px;letter-spacing:-7px;margin-left:4.9px;
}
#P12_77
{
left:15719.6px;bottom:23029.7px;letter-spacing:4328.5px;color:rgb(35,31,31);
}
#P12_78
{
left:20711.6px;bottom:23029.7px;letter-spacing:-7px;color:rgb(235,26,35);
}
#P12_79
{
left:23181.6px;bottom:23180.4px;letter-spacing:-7px;word-spacing:-87px;color:rgb(145,147,151);
}
#P12_80
{
left:32576.9px;bottom:23029.7px;letter-spacing:28.2px;color:rgb(35,31,31);
}
#P12_81
{
left:15719.6px;bottom:22006.1px;letter-spacing:4328.5px;color:rgb(35,31,31);
}
#P12_82
{
left:20711.6px;bottom:22006.1px;letter-spacing:-7px;color:rgb(2,77,161);
}
#P12_83
{
left:23181.6px;bottom:22156.8px;letter-spacing:-7px;word-spacing:-115.2px;color:rgb(145,147,151);
}
#P12_84
{
left:32516.3px;bottom:22006.1px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P12_85
{
left:16454.3px;bottom:20981.8px;letter-spacing:-7px;word-spacing:525.6px;color:rgb(145,147,151);
}
#P12_86
{
left:0px;letter-spacing:-7px;margin-left:-525.9px;
}
#P12_87
{
left:20264px;bottom:20981.8px;letter-spacing:232.3px;color:rgb(35,31,31);
}
#P12_88
{
left:0px;letter-spacing:-9.4px;margin-left:-239.4px;
}
#P12_89
{
left:0px;letter-spacing:-7.7px;margin-left:-6.1px;
}
#P12_90
{
left:15720.3px;bottom:19958.2px;letter-spacing:4328.5px;color:rgb(35,31,31);
}
#P12_91
{
left:20712.3px;bottom:19958.2px;letter-spacing:-7px;color:rgb(235,26,35);
}
#P12_92
{
left:23182.3px;bottom:20108.8px;letter-spacing:-7px;word-spacing:-87px;color:rgb(145,147,151);
}
#P12_93
{
left:32517.7px;bottom:19958.2px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P12_94
{
left:15721px;bottom:18934.6px;letter-spacing:4328.5px;color:rgb(35,31,31);
}
#P12_95
{
left:20713px;bottom:18934.6px;letter-spacing:-7px;color:rgb(2,77,161);
}
#P12_96
{
left:23183px;bottom:19085.2px;letter-spacing:-7px;word-spacing:-115.2px;color:rgb(145,147,151);
}
#P12_97
{
left:32517.7px;bottom:18934.6px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P12_98
{
left:16482.4px;bottom:17910.3px;letter-spacing:-7px;word-spacing:552.4px;color:rgb(145,147,151);
}
#P12_99
{
left:0px;letter-spacing:-7px;margin-left:-552.7px;
}
#P12_100
{
left:20713.5px;bottom:17910.3px;letter-spacing:-7px;word-spacing:239.6px;color:rgb(35,31,31);
}
#P12_101
{
left:0px;letter-spacing:-7px;margin-left:-239.3px;
}
#P12_102
{
left:0px;letter-spacing:-7px;margin-left:-8.4px;
}
#P12_103
{
left:15721.7px;bottom:16886.6px;letter-spacing:4328.5px;color:rgb(35,31,31);
}
#P12_104
{
left:20713.8px;bottom:16886.6px;letter-spacing:-7px;color:rgb(235,26,35);
}
#P12_105
{
left:23183.7px;bottom:17037.3px;letter-spacing:-7px;word-spacing:-87px;color:rgb(145,147,151);
}
#P12_106
{
left:32531.8px;bottom:16886.6px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P12_107
{
left:15721.7px;bottom:15863px;letter-spacing:4328.5px;color:rgb(35,31,31);
}
#P12_108
{
left:20713.8px;bottom:15863px;letter-spacing:-7px;color:rgb(2,77,161);
}
#P12_109
{
left:23183.7px;bottom:16013.7px;letter-spacing:-7px;word-spacing:-115.2px;color:rgb(145,147,151);
}
#P12_110
{
left:32519.1px;bottom:15863px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P12_111
{
left:20714.5px;bottom:14838.7px;letter-spacing:-7px;word-spacing:4335.6px;color:rgb(0,151,73);
}
#P12_112
{
left:0px;letter-spacing:-7px;margin-left:-4335.6px;
}
#P12_113
{
left:24975.2px;bottom:14989.4px;letter-spacing:-7px;word-spacing:-50.5px;color:rgb(145,147,151);
}
#P12_114
{
left:32519.1px;bottom:14838.7px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P12_115
{
left:20715.2px;bottom:13814.4px;letter-spacing:-7px;word-spacing:4335.6px;color:rgb(0,151,73);
}
#P12_116
{
left:0px;letter-spacing:-7px;margin-left:-4335.6px;
}
#P12_117
{
left:26169.8px;bottom:13965px;letter-spacing:-7px;word-spacing:-66.8px;color:rgb(145,147,151);
}
#P12_118
{
left:32519.8px;bottom:13814.4px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P12_119
{
left:20715.9px;bottom:12790.1px;letter-spacing:-7px;word-spacing:4335.6px;color:rgb(0,151,73);
}
#P12_120
{
left:0px;letter-spacing:0px;margin-left:-4335.6px;
}
#P12_121
{
left:0px;letter-spacing:-7px;margin-left:-103.5px;
}
#P12_122
{
left:25125.9px;bottom:12940.7px;letter-spacing:-7px;word-spacing:-90px;color:rgb(145,147,151);
}
#P12_123
{
left:32521.2px;bottom:12790.1px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P12_124
{
left:20716.6px;bottom:11765.7px;letter-spacing:-7px;word-spacing:4335.6px;color:rgb(0,151,73);
}
#P12_125
{
left:0px;letter-spacing:-7px;margin-left:-8.4px;
}
#P12_126
{
left:0px;letter-spacing:-7px;margin-left:-4335.5px;
}
#P12_127
{
left:28559.1px;bottom:11916.4px;letter-spacing:-7px;word-spacing:-116.9px;color:rgb(145,147,151);
}
#P12_128
{
left:32521.9px;bottom:11765.7px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P12_129
{
left:3901.4px;bottom:41388.8px;
}
#PageContainer12
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg012.jpg");background-repeat:no-repeat;background-size: 1066px 1364px; background-position: right bottom;
}
#ImageContainer12 {bottom:0.00px;right:0.00px;width:1066.24px;height:1364.16px;position:absolute;} #TextContainer12 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
