.tr343{ color:transparent;}
#P343_1
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P343_2
{
left:19433.7px;bottom:1410.03px;color:rgb(35,31,31);
}
#P343_3
{
left:21638.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P343_4
{
left:21816.3px;bottom:1410.03px;letter-spacing:-49.5px;color:rgb(35,31,31);
}
#P343_5
{
left:0px;letter-spacing:0px;margin-left:64.8px;
}
#P343_6
{
left:23951.6px;bottom:1410.03px;letter-spacing:462.1px;word-spacing:-0.1px;color:rgb(35,31,31);
}
#P343_7
{
left:0px;letter-spacing:-0.9px;margin-left:-467.2px;
}
#P343_8
{
left:0px;letter-spacing:1.3px;margin-left:-3.5px;
}
#P343_9
{
left:0px;letter-spacing:-1.6px;margin-left:-40.1px;
}
#P343_10
{
left:0px;letter-spacing:-7.3px;margin-left:172.2px;
}
#P343_11
{
left:0px;letter-spacing:0.9px;margin-left:7.4px;
}
#P343_12
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P343_13
{
left:14589.4px;bottom:44459.9px;color:rgb(35,31,31);
}
#P343_14
{
left:0px;letter-spacing:0px;margin-left:-33px;
}
#P343_15
{
left:0px;letter-spacing:0px;margin-left:-26px;
}
#P343_16
{
left:0px;letter-spacing:0px;margin-left:-12.5px;
}
#P343_17
{
left:0px;letter-spacing:0px;margin-left:-26px;
}
#P343_18
{
left:22618.2px;bottom:44616.2px;color:rgb(35,31,31);
}
#P343_19
{
left:22813.9px;bottom:44459.9px;color:rgb(35,31,31);
}
#P343_20
{
left:14589.4px;bottom:43352.2px;letter-spacing:-63.2px;color:rgb(35,31,31);
}
#P343_21
{
left:0px;letter-spacing:-0.6px;margin-left:63.2px;
}
#P343_22
{
left:0px;letter-spacing:-0.7px;margin-left:0.6px;
}
#P343_23
{
left:0px;letter-spacing:-1.1px;margin-left:0.7px;
}
#P343_24
{
left:14589.4px;bottom:42456.3px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P343_25
{
left:0px;letter-spacing:-5.6px;margin-left:1.2px;
}
#P343_26
{
left:0px;letter-spacing:0px;margin-left:5.6px;
}
#P343_27
{
left:30570.5px;bottom:42456.3px;color:rgb(35,31,31);
}
#P343_28
{
left:30899.9px;bottom:42456.3px;color:rgb(35,31,31);
}
#P343_29
{
left:31058.3px;bottom:42426.7px;color:rgb(35,31,31);
}
#P343_30
{
left:31644.8px;bottom:42456.3px;color:rgb(35,31,31);
}
#P343_31
{
left:31803.2px;bottom:42456.3px;color:rgb(35,31,31);
}
#P343_32
{
left:32166.4px;bottom:42456.3px;color:rgb(35,31,31);
}
#P343_33
{
left:32324.8px;bottom:42426.7px;color:rgb(35,31,31);
}
#P343_34
{
left:32911.3px;bottom:42456.3px;color:rgb(35,31,31);
}
#P343_35
{
left:15066.2px;bottom:40939.1px;color:rgb(35,31,31);
}
#P343_36
{
left:15420px;bottom:40107.1px;letter-spacing:-18.4px;color:rgb(35,31,31);
}
#P343_37
{
left:0px;letter-spacing:0px;margin-left:18.4px;
}
#P343_38
{
left:18371.5px;bottom:40107.1px;color:rgb(35,31,31);
}
#P343_39
{
left:20282px;bottom:40939.1px;color:rgb(35,31,31);
}
#P343_40
{
left:20374.4px;bottom:40107.1px;letter-spacing:-18.4px;color:rgb(35,31,31);
}
#P343_41
{
left:0px;letter-spacing:0px;margin-left:18.4px;
}
#P343_42
{
left:23325.8px;bottom:40107.1px;color:rgb(35,31,31);
}
#P343_43
{
left:24942.4px;bottom:40939.1px;color:rgb(35,31,31);
}
#P343_44
{
left:0px;letter-spacing:0px;margin-left:-11.9px;
}
#P343_45
{
left:0px;letter-spacing:0px;margin-left:-12px;
}
#P343_46
{
left:0px;letter-spacing:0px;margin-left:-61.7px;
}
#P343_47
{
left:26206.9px;bottom:40107.1px;color:rgb(35,31,31);
}
#P343_48
{
left:26430.7px;bottom:40107.1px;color:rgb(35,31,31);
}
#P343_49
{
left:27551.6px;bottom:40107.1px;color:rgb(35,31,31);
}
#P343_50
{
left:16904.5px;bottom:38780.2px;color:rgb(0,124,196);
}
#P343_51
{
left:21858.7px;bottom:38780.2px;color:rgb(235,26,35);
}
#P343_52
{
left:26235.1px;bottom:38780.2px;color:rgb(35,31,31);
}
#P343_53
{
left:26470.3px;bottom:38780.2px;color:rgb(0,124,196);
}
#P343_54
{
left:26826.5px;bottom:38780.2px;color:rgb(35,31,31);
}
#P343_55
{
left:27155.7px;bottom:38780.2px;color:rgb(235,26,35);
}
#P343_56
{
left:27511.9px;bottom:38780.2px;color:rgb(35,31,31);
}
#P343_57
{
left:16904.5px;bottom:37436.2px;color:rgb(0,124,196);
}
#P343_58
{
left:21858.7px;bottom:37436.2px;color:rgb(235,26,35);
}
#P343_59
{
left:26235.1px;bottom:37436.2px;color:rgb(35,31,31);
}
#P343_60
{
left:26470.3px;bottom:37436.2px;color:rgb(0,124,196);
}
#P343_61
{
left:26826.5px;bottom:37436.2px;color:rgb(35,31,31);
}
#P343_62
{
left:27155.7px;bottom:37436.2px;color:rgb(235,26,35);
}
#P343_63
{
left:27511.9px;bottom:37436.2px;color:rgb(35,31,31);
}
#P343_64
{
left:16904.5px;bottom:36092.2px;color:rgb(0,124,196);
}
#P343_65
{
left:21858.7px;bottom:36092.2px;color:rgb(235,26,35);
}
#P343_66
{
left:26235.1px;bottom:36092.2px;color:rgb(35,31,31);
}
#P343_67
{
left:26470.3px;bottom:36092.2px;color:rgb(0,124,196);
}
#P343_68
{
left:26826.5px;bottom:36092.2px;color:rgb(35,31,31);
}
#P343_69
{
left:27155.7px;bottom:36092.2px;color:rgb(235,26,35);
}
#P343_70
{
left:27511.9px;bottom:36092.2px;color:rgb(35,31,31);
}
#P343_71
{
left:7753.95px;bottom:32224.8px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P343_72
{
left:14622.2px;bottom:32249.4px;color:white;
}
#P343_73
{
left:15694.5px;bottom:32441.2px;color:white;
}
#P343_74
{
left:15934.7px;bottom:32249.4px;color:white;
}
#P343_75
{
left:16270.7px;bottom:32441.2px;color:white;
}
#P343_76
{
left:16510.9px;bottom:32249.4px;letter-spacing:-1.4px;color:white;
}
#P343_77
{
left:21714.1px;bottom:32441.2px;color:white;
}
#P343_78
{
left:21954.3px;bottom:32249.4px;color:white;
}
#P343_79
{
left:26549.1px;bottom:32441.2px;color:white;
}
#P343_80
{
left:26789.3px;bottom:32249.4px;color:white;
}
#P343_81
{
left:27990.2px;bottom:32441.2px;color:white;
}
#P343_82
{
left:28230.4px;bottom:32249.4px;letter-spacing:-15.8px;word-spacing:-31.9px;color:white;
}
#P343_83
{
left:0px;letter-spacing:-15.8px;margin-left:15.8px;
}
#P343_84
{
left:0px;letter-spacing:0px;margin-left:15.8px;
}
#P343_85
{
left:31945.1px;bottom:32441.2px;color:white;
}
#P343_86
{
left:32185.3px;bottom:32249.4px;color:white;
}
#P343_87
{
left:12777.9px;bottom:32082.2px;
}
#P343_88
{
left:12777.9px;bottom:32082.2px;color:white;
}
#P343_89
{
left:13081.2px;bottom:30619.9px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P343_90
{
left:0px;letter-spacing:-14px;margin-left:-28.1px;
}
#P343_91
{
left:0px;letter-spacing:-0.6px;margin-left:14px;
}
#P343_92
{
left:13081.2px;bottom:29723.9px;color:rgb(35,31,31);
}
#P343_93
{
left:0px;letter-spacing:-3.1px;margin-left:12.5px;
}
#P343_94
{
left:0px;letter-spacing:-14.8px;margin-left:-39px;
}
#P343_95
{
left:0px;letter-spacing:0px;margin-left:14.8px;
}
#P343_96
{
left:13081.2px;bottom:28828px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P343_97
{
left:0px;letter-spacing:-1px;margin-left:0.4px;
}
#P343_98
{
left:0px;letter-spacing:0px;margin-left:-13px;
}
#P343_99
{
left:13081.2px;bottom:27932px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P343_100
{
left:0px;letter-spacing:0px;margin-left:10.4px;
}
#P343_101
{
left:13081.2px;bottom:26373px;letter-spacing:-5.4px;color:rgb(2,77,161);
}
#P343_102
{
left:15053.8px;bottom:26331.9px;color:rgb(35,31,31);
}
#P343_103
{
left:16921.2px;bottom:26306.3px;color:rgb(35,31,31);
}
#P343_104
{
left:16921.2px;bottom:25410.3px;color:rgb(35,31,31);
}
#P343_105
{
left:16921.2px;bottom:24514.4px;letter-spacing:0.5px;color:rgb(35,31,31);
}
#P343_106
{
left:16921.2px;bottom:23618.4px;letter-spacing:1.1px;color:rgb(35,31,31);
}
#P343_107
{
left:20217.2px;bottom:26331.9px;color:rgb(35,31,31);
}
#P343_108
{
left:22610.1px;bottom:26299.9px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P343_109
{
left:22610.1px;bottom:25403.9px;letter-spacing:0.9px;color:rgb(35,31,31);
}
#P343_110
{
left:22610.1px;bottom:24508px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P343_111
{
left:22610.1px;bottom:23612px;color:rgb(35,31,31);
}
#P343_112
{
left:25074.1px;bottom:26332px;color:rgb(35,31,31);
}
#P343_113
{
left:26748.9px;bottom:26331.9px;letter-spacing:0.7px;color:rgb(35,31,31);
}
#P343_114
{
left:26748.9px;bottom:25435.9px;letter-spacing:0.6px;color:rgb(35,31,31);
}
#P343_115
{
left:26748.9px;bottom:24540px;color:rgb(35,31,31);
}
#P343_116
{
left:30343.1px;bottom:26332px;color:rgb(35,31,31);
}
#P343_117
{
left:32425.5px;bottom:26338.3px;word-spacing:-14.6px;color:rgb(35,31,31);
}
#P343_118
{
left:32425.5px;bottom:25442.3px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P343_119
{
left:13081.2px;bottom:22341px;letter-spacing:-16.7px;color:rgb(2,77,161);
}
#P343_120
{
left:0px;letter-spacing:0px;margin-left:16.7px;
}
#P343_121
{
left:16921.2px;bottom:22299.9px;word-spacing:775.4px;color:rgb(35,31,31);
}
#P343_122
{
left:18246.8px;bottom:22299.9px;color:rgb(35,31,31);
}
#P343_123
{
left:18879.3px;bottom:22299.9px;letter-spacing:0.4px;word-spacing:2.3px;color:rgb(35,31,31);
}
#P343_124
{
left:33986.7px;bottom:22299.9px;color:rgb(35,31,31);
}
#P343_125
{
left:34950.4px;bottom:22299.9px;letter-spacing:1px;word-spacing:1.5px;color:rgb(35,31,31);
}
#P343_126
{
left:16921.2px;bottom:21403.9px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P343_127
{
left:0px;letter-spacing:0px;margin-left:-41.9px;
}
#P343_128
{
left:13081.2px;bottom:20101px;color:rgb(2,77,161);
}
#P343_129
{
left:15920.6px;bottom:20059.9px;color:rgb(35,31,31);
}
#P343_130
{
left:18222.8px;bottom:20059.9px;color:rgb(35,31,31);
}
#P343_131
{
left:18381.2px;bottom:20059.9px;color:rgb(35,31,31);
}
#P343_132
{
left:18691.7px;bottom:20059.9px;color:rgb(35,31,31);
}
#P343_133
{
left:21020.2px;bottom:20030.4px;color:rgb(35,31,31);
}
#P343_134
{
left:23352.9px;bottom:20059.9px;word-spacing:1077.5px;color:rgb(35,31,31);
}
#P343_135
{
left:25564.1px;bottom:20030.4px;color:rgb(35,31,31);
}
#P343_136
{
left:28083.4px;bottom:20059.9px;word-spacing:1264px;color:rgb(35,31,31);
}
#P343_137
{
left:28988.1px;bottom:20030.4px;letter-spacing:1983.8px;color:rgb(35,31,31);
}
#P343_138
{
left:31270.9px;bottom:19621.4px;color:rgb(35,31,31);
}
#P343_139
{
left:31622.7px;bottom:20030.4px;color:rgb(35,31,31);
}
#P343_140
{
left:31798.7px;bottom:20059.9px;letter-spacing:1971.9px;color:rgb(35,31,31);
}
#P343_141
{
left:34087.4px;bottom:20059.9px;color:rgb(35,31,31);
}
#P343_142
{
left:34729.4px;bottom:20059.9px;color:rgb(35,31,31);
}
#P343_143
{
left:13081.2px;bottom:18011.9px;letter-spacing:-70.3px;color:rgb(35,31,31);
}
#P343_144
{
left:0px;letter-spacing:-0.3px;margin-left:70.3px;
}
#P343_145
{
left:0px;letter-spacing:0px;margin-left:-214.5px;
}
#P343_146
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P343_147
{
left:0px;letter-spacing:-0.9px;
}
#P343_148
{
left:0px;letter-spacing:0px;margin-left:-24.3px;
}
#P343_149
{
left:0px;letter-spacing:-0.9px;
}
#P343_150
{
left:0px;letter-spacing:0px;margin-left:-13px;
}
#P343_151
{
left:13081.2px;bottom:17115.9px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P343_152
{
left:0px;letter-spacing:0px;margin-left:-13.6px;
}
#P343_153
{
left:13849.1px;bottom:6043.95px;color:rgb(35,31,31);
}
#P343_154
{
left:14312.8px;bottom:6070.76px;word-spacing:453.2px;color:rgb(35,31,31);
}
#P343_155
{
left:15513.2px;bottom:6043.95px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P343_156
{
left:0px;letter-spacing:-0.4px;margin-left:1.3px;
}
#P343_157
{
left:0px;letter-spacing:0px;margin-left:-41.7px;
}
#P343_158
{
left:0px;letter-spacing:-13.1px;margin-left:-42px;
}
#P343_159
{
left:0px;letter-spacing:0px;margin-left:13.1px;
}
#P343_160
{
left:15513.2px;bottom:5147.95px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P343_161
{
left:0px;letter-spacing:-3.5px;margin-left:-13.8px;
}
#P343_162
{
left:0px;letter-spacing:0px;margin-left:3.5px;
}
#P343_163
{
left:15513.2px;bottom:4252.01px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P343_164
{
left:8013.4px;bottom:5202.22px;color:rgb(35,31,31);
}
#P343_165
{
left:8013.4px;bottom:4434.22px;color:rgb(35,31,31);
}
#P343_166
{
left:4818.71px;bottom:43271.5px;color:white;
}
#P343_167
{
left:8174.36px;bottom:43513.1px;color:white;
}
#P343_168
{
left:8510.23px;bottom:43271.5px;color:white;
}
#P343_169
{
left:5053.4px;bottom:42168.5px;color:rgb(35,31,31);
}
#P343_170
{
left:5053.4px;bottom:41400.5px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P343_171
{
left:5053.4px;bottom:40632.5px;color:rgb(35,31,31);
}
#P343_172
{
left:6831.96px;bottom:40632.5px;color:rgb(35,31,31);
}
#P343_173
{
left:7436.12px;bottom:40632.5px;color:rgb(35,31,31);
}
#P343_174
{
left:5053.4px;bottom:39864.5px;color:rgb(35,31,31);
}
#P343_175
{
left:4842.2px;bottom:25079.5px;color:white;
}
#P343_176
{
left:7012.31px;bottom:25321.1px;color:white;
}
#P343_177
{
left:7348.25px;bottom:25079.5px;color:white;
}
#P343_178
{
left:4970.2px;bottom:23976.5px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P343_179
{
left:0px;letter-spacing:0px;margin-left:-10.6px;
}
#P343_180
{
left:4970.2px;bottom:23208.5px;color:rgb(35,31,31);
}
#P343_181
{
left:4970.2px;bottom:22440.5px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P343_182
{
left:4970.2px;bottom:21672.5px;color:rgb(35,31,31);
}
#P343_183
{
left:4970.2px;bottom:20904.5px;color:rgb(35,31,31);
}
#P343_184
{
left:4970.2px;bottom:20136.5px;color:rgb(35,31,31);
}
#P343_185
{
left:4970.2px;bottom:19368.5px;color:rgb(35,31,31);
}
#P343_186
{
left:9877.66px;bottom:19368.5px;color:rgb(35,31,31);
}
#P343_187
{
left:36182.4px;bottom:35717.2px;color:rgb(35,31,31);
}
#P343_188
{
left:30670.2px;bottom:41373.8px;color:rgb(35,31,31);
}
#P343_189
{
left:31719.3px;bottom:35717.2px;letter-spacing:521.5px;color:rgb(35,31,31);
}
#P343_190
{
left:30646px;bottom:36802px;color:rgb(35,31,31);
}
#P343_191
{
left:30648.8px;bottom:37572.8px;color:rgb(35,31,31);
}
#P343_192
{
left:30645.9px;bottom:38359.6px;color:rgb(35,31,31);
}
#P343_193
{
left:30646.4px;bottom:39162.5px;color:rgb(35,31,31);
}
#P343_194
{
left:30651.7px;bottom:39909.4px;color:rgb(35,31,31);
}
#P343_195
{
left:30641.1px;bottom:40650.5px;color:rgb(35,31,31);
}
#P343_196
{
left:34017px;bottom:35717.1px;letter-spacing:518.9px;color:rgb(35,31,31);
}
#P343_197
{
left:33489px;bottom:39527.2px;color:rgb(0,124,196);
}
#P343_198
{
left:34321.4px;bottom:39527.2px;color:rgb(237,28,35);
}
#P343_199
{
left:34641.6px;bottom:39527.2px;color:rgb(0,124,196);
}
#P343_200
{
left:31152.8px;bottom:39532.4px;color:rgb(0,124,196);
}
#P343_201
{
left:31985.1px;bottom:39532.4px;color:rgb(237,28,35);
}
#P343_202
{
left:32305.4px;bottom:39532.4px;color:rgb(0,124,196);
}
#P343_203
{
left:31947.7px;bottom:38033.6px;color:rgb(0,124,196);
}
#P343_204
{
left:32780px;bottom:38033.6px;color:rgb(237,28,35);
}
#P343_205
{
left:33100.2px;bottom:38033.6px;color:rgb(0,124,196);
}
#P343_206
{
left:30646.4px;bottom:36101.1px;color:rgb(35,31,31);
}
#P343_207
{
left:30950.2px;bottom:35717.1px;color:rgb(35,31,31);
}
#P343_208
{
left:36282.3px;bottom:9860.78px;color:rgb(35,31,31);
}
#P343_209
{
left:30113.8px;bottom:16271.1px;color:rgb(35,31,31);
}
#P343_210
{
left:31851px;bottom:9860.72px;color:rgb(35,31,31);
}
#P343_211
{
left:29622.8px;bottom:11746.7px;color:rgb(35,31,31);
}
#P343_212
{
left:33378.8px;bottom:9867.95px;color:rgb(33,31,31);
}
#P343_213
{
left:34907.2px;bottom:9865.07px;color:rgb(33,31,31);
}
#P343_214
{
left:32524.2px;bottom:8974.25px;letter-spacing:-1.2px;color:rgb(33,31,31);
}
#P343_215
{
left:29334.4px;bottom:12457.8px;letter-spacing:-0.7px;color:rgb(33,31,31);
}
#P343_216
{
left:29623.1px;bottom:13282.9px;color:rgb(33,31,31);
}
#P343_217
{
left:29623.1px;bottom:14819.1px;color:rgb(33,31,31);
}
#P343_218
{
left:30131.9px;bottom:10210.3px;color:rgb(33,31,31);
}
#P343_219
{
left:30415.1px;bottom:9881.07px;color:rgb(33,31,31);
}
#P343_220
{
left:31391.4px;bottom:12147.4px;color:rgb(0,124,196);
}
#P343_221
{
left:32544px;bottom:12147.4px;color:rgb(235,26,35);
}
#P343_222
{
left:33504.7px;bottom:12147.4px;color:rgb(0,124,196);
}
#P343_223
{
left:32173px;bottom:12928.9px;color:rgb(0,124,196);
}
#P343_224
{
left:33325.5px;bottom:12928.9px;color:rgb(235,26,35);
}
#P343_225
{
left:34286.3px;bottom:12928.9px;color:rgb(0,124,196);
}
#P343_226
{
left:32954.5px;bottom:13710.5px;color:rgb(0,124,196);
}
#P343_227
{
left:34107.1px;bottom:13710.5px;color:rgb(235,26,35);
}
#P343_228
{
left:35067.9px;bottom:13710.5px;color:rgb(0,124,196);
}
#P343_229
{
left:10822.5px;bottom:15573px;color:rgb(35,31,31);
}
#P343_230
{
left:11905px;bottom:14741px;color:rgb(35,31,31);
}
#P343_231
{
left:14632.2px;bottom:15079.3px;color:rgb(35,31,31);
}
#P343_232
{
left:14930.4px;bottom:15079.3px;color:rgb(35,31,31);
}
#P343_233
{
left:15117.2px;bottom:15032.3px;color:rgb(35,31,31);
}
#P343_234
{
left:15863.9px;bottom:15079.3px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P343_235
{
left:17171.5px;bottom:15032.3px;color:rgb(35,31,31);
}
#P343_236
{
left:17731.2px;bottom:15079.3px;color:rgb(35,31,31);
}
#P343_237
{
left:18665.3px;bottom:15079.3px;color:rgb(35,31,31);
}
#P343_238
{
left:20363.8px;bottom:15573px;color:rgb(35,31,31);
}
#P343_239
{
left:21559.1px;bottom:14741px;color:rgb(35,31,31);
}
#P343_240
{
left:24432.9px;bottom:15573px;letter-spacing:-3.4px;color:rgb(35,31,31);
}
#P343_241
{
left:24115.8px;bottom:14741px;color:rgb(35,31,31);
}
#P343_242
{
left:0px;letter-spacing:0px;margin-left:-61.7px;
}
#P343_243
{
left:25847px;bottom:14741px;color:rgb(35,31,31);
}
#P343_244
{
left:26444.4px;bottom:14741px;color:rgb(35,31,31);
}
#P343_245
{
left:26818px;bottom:14741px;color:rgb(35,31,31);
}
#P343_246
{
left:27116.3px;bottom:14741px;color:rgb(35,31,31);
}
#P343_247
{
left:11847.6px;bottom:13372.5px;color:rgb(0,124,196);
}
#P343_248
{
left:14465px;bottom:13295px;color:rgb(35,31,31);
}
#P343_249
{
left:14761.3px;bottom:13295px;color:rgb(35,31,31);
}
#P343_250
{
left:14907.7px;bottom:13266.7px;color:rgb(35,31,31);
}
#P343_251
{
left:15613.9px;bottom:13295px;word-spacing:-4.8px;color:rgb(35,31,31);
}
#P343_252
{
left:16828.7px;bottom:13266.7px;color:rgb(35,31,31);
}
#P343_253
{
left:17534.7px;bottom:13295px;word-spacing:-4.9px;color:rgb(35,31,31);
}
#P343_254
{
left:18482.3px;bottom:13295px;color:rgb(0,124,196);
}
#P343_255
{
left:19194.6px;bottom:13295px;color:rgb(35,31,31);
}
#P343_256
{
left:21174px;bottom:13372.5px;color:rgb(235,26,35);
}
#P343_257
{
left:24437.7px;bottom:13372.5px;color:rgb(35,31,31);
}
#P343_258
{
left:24672.9px;bottom:13372.5px;color:rgb(0,124,196);
}
#P343_259
{
left:25385.2px;bottom:13372.5px;color:rgb(35,31,31);
}
#P343_260
{
left:25714.5px;bottom:13372.5px;color:rgb(235,26,35);
}
#P343_261
{
left:26782.9px;bottom:13372.5px;color:rgb(35,31,31);
}
#P343_262
{
left:11847.6px;bottom:11945.3px;color:rgb(0,124,196);
}
#P343_263
{
left:14465px;bottom:11867.7px;color:rgb(35,31,31);
}
#P343_264
{
left:14761.3px;bottom:11867.7px;color:rgb(35,31,31);
}
#P343_265
{
left:14907.6px;bottom:11839.5px;color:rgb(35,31,31);
}
#P343_266
{
left:15613.8px;bottom:11867.7px;word-spacing:-4.8px;color:rgb(35,31,31);
}
#P343_267
{
left:16828.6px;bottom:11839.5px;color:rgb(35,31,31);
}
#P343_268
{
left:17534.6px;bottom:11867.7px;word-spacing:-4.9px;color:rgb(35,31,31);
}
#P343_269
{
left:18482.3px;bottom:11867.7px;color:rgb(0,124,196);
}
#P343_270
{
left:19194.6px;bottom:11867.7px;color:rgb(35,31,31);
}
#P343_271
{
left:21174px;bottom:11945.3px;color:rgb(235,26,35);
}
#P343_272
{
left:24437.7px;bottom:11945.3px;color:rgb(35,31,31);
}
#P343_273
{
left:24672.9px;bottom:11945.3px;color:rgb(0,124,196);
}
#P343_274
{
left:25385.2px;bottom:11945.3px;color:rgb(35,31,31);
}
#P343_275
{
left:25714.5px;bottom:11945.3px;color:rgb(235,26,35);
}
#P343_276
{
left:26782.9px;bottom:11945.3px;color:rgb(35,31,31);
}
#P343_277
{
left:11847.6px;bottom:10518.1px;color:rgb(0,124,196);
}
#P343_278
{
left:14465px;bottom:10440.5px;color:rgb(35,31,31);
}
#P343_279
{
left:14761.3px;bottom:10440.5px;color:rgb(35,31,31);
}
#P343_280
{
left:14907.6px;bottom:10412.3px;color:rgb(35,31,31);
}
#P343_281
{
left:15613.8px;bottom:10440.5px;word-spacing:-4.8px;color:rgb(35,31,31);
}
#P343_282
{
left:16828.6px;bottom:10412.3px;color:rgb(35,31,31);
}
#P343_283
{
left:17534.6px;bottom:10440.5px;word-spacing:-4.9px;color:rgb(35,31,31);
}
#P343_284
{
left:18482.3px;bottom:10440.5px;color:rgb(0,124,196);
}
#P343_285
{
left:19194.6px;bottom:10440.5px;color:rgb(35,31,31);
}
#P343_286
{
left:21174px;bottom:10518.1px;color:rgb(235,26,35);
}
#P343_287
{
left:24437.7px;bottom:10518.1px;color:rgb(35,31,31);
}
#P343_288
{
left:24672.9px;bottom:10518.1px;color:rgb(0,124,196);
}
#P343_289
{
left:25385.2px;bottom:10518.1px;color:rgb(35,31,31);
}
#P343_290
{
left:25714.5px;bottom:10518.1px;color:rgb(235,26,35);
}
#P343_291
{
left:26782.9px;bottom:10518.1px;color:rgb(35,31,31);
}
#PageContainer343
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg343.jpg");background-repeat:no-repeat;background-size: 948px 1192px; background-position: 119px 77.6800000000001px;
}
#ImageContainer343 {bottom:94.32px;right:0.00px;width:948.17px;height:1191.89px;position:absolute;} #TextContainer343 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.example3{ position: absolute; top: 457px; left: 165px;}

.nyr{position: absolute;top: 1175px;left: 189px;}
.nyr_exr{position: absolute;top: 1213px;left: 210px;color: rgb(35,31,31);font-size: 16px;}

.nyr_exrr{position: absolute;top: 1221px;left: 220px;color: rgb(35,31,31);font-size: 16px;}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}