.tr485{ color:transparent;}
#P485_1
{
left:4592.6px;bottom:1544.43px;color:rgb(35,31,31);
}
#P485_2
{
left:22785.3px;bottom:1410.03px;color:rgb(35,31,31);
}
#P485_3
{
left:27696.4px;bottom:1544.43px;letter-spacing:1.8px;word-spacing:461.8px;color:rgb(35,31,31);
}
#P485_4
{
left:0px;letter-spacing:-0.2px;margin-left:3.3px;
}
#P485_5
{
left:0px;letter-spacing:0.3px;margin-left:4.8px;
}
#P485_6
{
left:0px;letter-spacing:0px;margin-left:-462.1px;
}
#P485_7
{
left:0px;letter-spacing:3.4px;margin-left:0.3px;
}
#P485_8
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P485_9
{
left:11491.5px;bottom:43292.8px;letter-spacing:-5.6px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P485_10
{
left:0px;letter-spacing:0.4px;margin-left:5.6px;
}
#P485_11
{
left:0px;letter-spacing:-50.6px;margin-left:-0.4px;
}
#P485_12
{
left:0px;letter-spacing:-0.1px;margin-left:170.4px;
}
#P485_13
{
left:0px;letter-spacing:0.2px;
}
#P485_14
{
left:11491.5px;bottom:42396.8px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P485_15
{
left:0px;letter-spacing:0px;margin-left:-6.6px;
}
#P485_16
{
left:11491.5px;bottom:41500.8px;letter-spacing:-1.9px;color:rgb(35,31,31);
}
#P485_17
{
left:0px;letter-spacing:0px;margin-left:1.9px;
}
#P485_18
{
left:11491.5px;bottom:40220.7px;letter-spacing:-29.9px;color:rgb(35,31,31);
}
#P485_19
{
left:0px;letter-spacing:-2.3px;margin-left:1.9px;
}
#P485_20
{
left:0px;letter-spacing:-0.2px;margin-left:-4.6px;
}
#P485_21
{
left:0px;letter-spacing:0px;margin-left:0.2px;
}
#P485_22
{
left:11491.5px;bottom:39324.8px;color:rgb(35,31,31);
}
#P485_23
{
left:12369.7px;bottom:44853px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P485_24
{
left:15794.8px;bottom:45044.8px;color:rgb(255,223,126);
}
#P485_25
{
left:16419.5px;bottom:44853px;word-spacing:207.4px;color:white;
}
#P485_26
{
left:19587.8px;bottom:45044.8px;color:white;
}
#P485_27
{
left:19828px;bottom:44853px;color:white;
}
#P485_28
{
left:10629.3px;bottom:44729.5px;
}
#P485_29
{
left:10629.3px;bottom:44729.5px;color:white;
}
#P485_30
{
left:14845.4px;bottom:4428.72px;letter-spacing:228.8px;color:rgb(0,124,196);
}
#P485_31
{
left:15261.4px;bottom:4460.72px;letter-spacing:-9.3px;color:rgb(35,31,31);
}
#P485_32
{
left:0px;letter-spacing:-0.2px;margin-left:9.3px;
}
#P485_33
{
left:15261.4px;bottom:3564.74px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P485_34
{
left:0px;letter-spacing:0px;margin-left:0.9px;
}
#P485_35
{
left:10477.4px;bottom:10588.8px;color:rgb(35,31,31);
}
#P485_36
{
left:10935.8px;bottom:10615.7px;word-spacing:394.4px;color:rgb(35,31,31);
}
#P485_37
{
left:12077.4px;bottom:10608.6px;word-spacing:-26px;color:rgb(2,77,161);
}
#P485_38
{
left:0px;letter-spacing:0px;margin-left:-26px;
}
#P485_39
{
left:0px;letter-spacing:0px;margin-left:26px;
}
#P485_40
{
left:18885.3px;bottom:10588.8px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P485_41
{
left:0px;letter-spacing:-7px;margin-left:-214.6px;
}
#P485_42
{
left:0px;letter-spacing:-0.5px;margin-left:7px;
}
#P485_43
{
left:0px;letter-spacing:-1.2px;margin-left:0.5px;
}
#P485_44
{
left:12077.4px;bottom:9692.84px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P485_45
{
left:10477.4px;bottom:8348.84px;color:rgb(35,31,31);
}
#P485_46
{
left:10935.8px;bottom:8375.66px;word-spacing:394.4px;color:rgb(35,31,31);
}
#P485_47
{
left:12077.4px;bottom:8348.84px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P485_48
{
left:0px;letter-spacing:-0.2px;margin-left:0.5px;
}
#P485_49
{
left:12077.4px;bottom:7452.84px;letter-spacing:-4.2px;color:rgb(35,31,31);
}
#P485_50
{
left:0px;letter-spacing:-0.1px;margin-left:4.2px;
}
#P485_51
{
left:12077.4px;bottom:6556.91px;letter-spacing:-4.2px;color:rgb(35,31,31);
}
#P485_52
{
left:0px;letter-spacing:-0.4px;margin-left:4.2px;
}
#P485_53
{
left:0px;letter-spacing:0px;margin-left:-13.6px;
}
#P485_54
{
left:11491.5px;bottom:29212.8px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P485_55
{
left:0px;letter-spacing:0.4px;margin-left:14.1px;
}
#P485_56
{
left:0px;letter-spacing:-18.7px;margin-left:-42.5px;
}
#P485_57
{
left:0px;letter-spacing:-0.5px;margin-left:18.7px;
}
#P485_58
{
left:11491.5px;bottom:28316.8px;letter-spacing:-3.5px;
color: rgb(35,31,31);
}
#P485_59
{
left:0px;letter-spacing:-0.3px;margin-left:3.5px;
}
#P485_60
{
left:23816px;
color: rgb(35,31,31);
bottom:28316.8px;
}
#P485_61
{
left:11491.5px;bottom:27420.8px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P485_62
{
left:0px;letter-spacing:-14px;margin-left:-27.4px;
}
#P485_63
{
left:0px;letter-spacing:-0.2px;margin-left:14px;
}
#P485_64
{
left:11491.5px;bottom:26524.8px;color:rgb(35,31,31);
}
#P485_65
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P485_66
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P485_67
{
left:11491.5px;bottom:25628.8px;letter-spacing:0.2px;color:rgb(35,31,31);
}
#P485_68
{
left:11491.5px;bottom:24348.8px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P485_69
{
left:12771.5px;bottom:24348.8px;letter-spacing:-2.8px;color:rgb(35,31,31);
}
#P485_70
{
left:0px;letter-spacing:-0.9px;margin-left:2.8px;
}
#P485_71
{
left:0px;letter-spacing:-2.8px;margin-left:0.9px;
}
#P485_72
{
left:11491.5px;bottom:23068.8px;letter-spacing:-13.9px;word-spacing:550.9px;color:rgb(35,31,31);
}
#P485_73
{
left:12771.5px;bottom:23068.8px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P485_74
{
left:12771.5px;bottom:22172.8px;letter-spacing:-5.6px;color:rgb(35,31,31);
}
#P485_75
{
left:0px;letter-spacing:-0.5px;margin-left:5.6px;
}
#P485_76
{
left:12771.5px;bottom:21276.8px;letter-spacing:-10.5px;color:rgb(35,31,31);
}
#P485_77
{
left:0px;letter-spacing:-0.3px;margin-left:10.5px;
}
#P485_78
{
left:12369.7px;bottom:30773px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P485_79
{
left:15794.8px;bottom:30964.8px;color:rgb(255,223,126);
}
#P485_80
{
left:16419.5px;bottom:30773px;word-spacing:207.4px;color:white;
}
#P485_81
{
left:18355.7px;bottom:30964.8px;color:white;
}
#P485_82
{
left:18595.9px;bottom:30773px;letter-spacing:-1.1px;color:white;
}
#P485_83
{
left:25142.6px;bottom:30964.8px;color:white;
}
#P485_84
{
left:25382.8px;bottom:30773px;
}
#P485_85
{
left:10629.3px;bottom:30649.5px;
}
#P485_86
{
left:10629.3px;bottom:30649.5px;color:white;
}
#P485_87
{
left:12841.4px;bottom:14827.9px;color:rgb(35,31,31);
}
#P485_88
{
left:0px;letter-spacing:0px;margin-left:1545.7px;
}
#P485_89
{
left:0px;letter-spacing:1403.4px;
}
#P485_90
{
left:0px;letter-spacing:1403.4px;margin-left:-1403.4px;
}
#P485_91
{
left:0px;letter-spacing:1403.4px;margin-left:-1403.4px;
}
#P485_92
{
left:0px;letter-spacing:1403.4px;margin-left:-1403.4px;
}
#P485_93
{
left:0px;letter-spacing:1403.4px;margin-left:-1403.4px;
}
#P485_94
{
left:0px;letter-spacing:1403.4px;margin-left:-1403.4px;
}
#P485_95
{
left:0px;letter-spacing:1403.4px;margin-left:-1403.4px;
}
#P485_96
{
left:0px;letter-spacing:1403.4px;margin-left:-1403.4px;
}
#P485_97
{
left:0px;letter-spacing:0px;margin-left:-1403.4px;
}
#P485_98
{
left:0px;letter-spacing:0px;margin-left:1246.2px;
}
#P485_99
{
left:0px;letter-spacing:0px;
}
#P485_100
{
left:0px;letter-spacing:0px;
}
#P485_101
{
left:18581.6px;bottom:16504.9px;color:rgb(0,124,196);
}
#P485_102
{
left:0px;letter-spacing:0px;margin-left:12993.4px;
}
#P485_103
{
left:21540.5px;bottom:16504.9px;color:rgb(0,124,196);
}
#P485_104
{
left:23513.3px;bottom:16504.9px;color:rgb(0,124,196);
}
#P485_105
{
left:26472.2px;bottom:16504.9px;color:rgb(0,124,196);
}
#P485_106
{
left:22921.5px;bottom:18680.9px;color:rgb(0,124,196);
}
#P485_107
{
left:25485.8px;bottom:18680.9px;color:rgb(0,124,196);
}
#P485_108
{
left:27458.6px;bottom:18680.9px;
}
#P485_109
{
left:28444.8px;bottom:18680.9px;
}
#P485_110
{
left:32215.3px;bottom:18680.9px;
}
#P485_111
{
left:33669.9px;bottom:15587.1px;letter-spacing:-18.9px;color:rgb(35,31,31);
}
#P485_112
{
left:0px;letter-spacing:0px;margin-left:18.9px;
}
#P485_113
{
left:4941.34px;bottom:26752.4px;letter-spacing:-1.7px;color:rgb(35,31,31);
}
#P485_114
{
left:4941.34px;bottom:25984.4px;color:rgb(35,31,31);
}
#P485_115
{
left:4941.34px;bottom:25117.6px;letter-spacing:-5.8px;color:rgb(35,31,31);
}
#P485_116
{
left:4941.34px;bottom:24381.6px;color:rgb(35,31,31);
}
#P485_117
{
left:4941.34px;bottom:23645.7px;letter-spacing:-1.7px;color:rgb(35,31,31);
}
#P485_118
{
left:0px;letter-spacing:0px;margin-left:1.7px;
}
#P485_119
{
left:4941.34px;bottom:22909.7px;color:rgb(35,31,31);
}
#P485_120
{
left:4690.71px;bottom:28536.2px;letter-spacing:-20.4px;color:white;
}
#P485_121
{
left:4690.71px;bottom:27576.2px;letter-spacing:-27.2px;color:white;
}
#P485_122
{
left:6669.79px;bottom:27832.9px;color:white;
}
#P485_123
{
left:6945.05px;bottom:27576.2px;letter-spacing:-27.2px;color:white;
}
#P485_124
{
left:27200px;bottom:28316.8px;
}
#P485_125
{
left:27239.4px;bottom:30773px;
}
#P485_126
{
left:27719.8px;bottom:30773px;color:white;
}
#P485_127
{
left:27458.6px;bottom:18680.9px;
}
#P485_128
{
left:28444.8px;bottom:18680.9px;color:rgb(0,124,196);
}
#P485_129
{
left:32215.3px;bottom:18680.9px;color:rgb(0,124,196);
}
#P485_130
{
left:32215.3px;bottom:18680.9px;
}
#PageContainer485
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg485.jpg");background-repeat:no-repeat;background-size: 1021px 1273px; background-position: 0px -0.279999999999973px;
}
#ImageContainer485 {bottom:91.28px;left:0.00px;width:1020.93px;height:1272.88px;position:absolute;} #TextContainer485 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.practice{
position: absolute;
top: 1218px;
left: 255px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}