.tr589{ color:transparent;}
#P589_1
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P589_2
{
left:16688.7px;bottom:1410.03px;color:rgb(35,31,31);
}
#P589_3
{
left:21596.9px;bottom:1410.03px;letter-spacing:461.9px;word-spacing:0.2px;color:rgb(35,31,31);
}
#P589_4
{
left:0px;letter-spacing:0.8px;margin-left:-462.1px;
}
#P589_5
{
left:0px;letter-spacing:5.6px;margin-left:3.4px;
}
#P589_6
{
left:0px;letter-spacing:1.7px;margin-left:-2px;
}
#P589_7
{
left:0px;letter-spacing:3.4px;margin-left:4.2px;
}
#P589_8
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P589_9
{
left:13832.4px;bottom:41692.8px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P589_10
{
left:0px;letter-spacing:0px;margin-left:-12.9px;
}
#P589_11
{
left:13064.4px;bottom:40540.8px;color:rgb(35,31,31);
}
#P589_12
{
left:13792.3px;bottom:40540.8px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P589_13
{
left:14856.5px;bottom:40540.8px;color:rgb(35,31,31);
}
#P589_14
{
left:15476px;bottom:40540.8px;color:rgb(35,31,31);
}
#P589_15
{
left:15839.3px;bottom:40540.8px;color:rgb(35,31,31);
}
#P589_16
{
left:15997.5px;bottom:40511.2px;color:rgb(35,31,31);
}
#P589_17
{
left:16583.9px;bottom:40540.8px;color:rgb(35,31,31);
}
#P589_18
{
left:17520.3px;bottom:40511.2px;color:rgb(35,31,31);
}
#P589_19
{
left:18106.6px;bottom:40540.8px;color:rgb(35,31,31);
}
#P589_20
{
left:18511.5px;bottom:40511.2px;color:rgb(35,31,31);
}
#P589_21
{
left:19097.9px;bottom:40540.8px;color:rgb(35,31,31);
}
#P589_22
{
left:19461.1px;bottom:40540.8px;color:rgb(35,31,31);
}
#P589_23
{
left:19619.6px;bottom:40511.2px;color:rgb(35,31,31);
}
#P589_24
{
left:20205.9px;bottom:40540.8px;color:rgb(35,31,31);
}
#P589_25
{
left:25608.3px;bottom:40540.8px;letter-spacing:-6.9px;color:rgb(35,31,31);
}
#P589_26
{
left:26504.3px;bottom:40540.8px;word-spacing:121.4px;color:rgb(35,31,31);
}
#P589_27
{
left:27123.9px;bottom:40540.8px;color:rgb(35,31,31);
}
#P589_28
{
left:27453.3px;bottom:40540.8px;color:rgb(35,31,31);
}
#P589_29
{
left:27611.7px;bottom:40511.2px;color:rgb(35,31,31);
}
#P589_30
{
left:28198.1px;bottom:40540.8px;color:rgb(35,31,31);
}
#P589_31
{
left:29134.4px;bottom:40511.2px;color:rgb(35,31,31);
}
#P589_32
{
left:29720.9px;bottom:40540.8px;color:rgb(35,31,31);
}
#P589_33
{
left:30871.9px;bottom:40540.8px;color:rgb(35,31,31);
}
#P589_34
{
left:31201.4px;bottom:40540.8px;color:rgb(35,31,31);
}
#P589_35
{
left:31359.7px;bottom:40511.2px;color:rgb(35,31,31);
}
#P589_36
{
left:32122.1px;bottom:40540.8px;color:rgb(35,31,31);
}
#P589_37
{
left:13782.9px;bottom:39260.7px;letter-spacing:-9.3px;word-spacing:580.1px;color:rgb(35,31,31);
}
#P589_38
{
left:0px;letter-spacing:0px;margin-left:-206.5px;
}
#P589_39
{
left:0px;letter-spacing:0px;margin-left:-49.2px;
}
#P589_40
{
left:0px;letter-spacing:0px;margin-left:5.5px;
}
#P589_41
{
left:0px;letter-spacing:0px;margin-left:-580.1px;
}
#P589_42
{
left:0px;letter-spacing:-2.3px;
}
#P589_43
{
left:20427.2px;bottom:39260.7px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P589_44
{
left:13064.3px;bottom:37980.7px;letter-spacing:1132.2px;color:rgb(35,31,31);
}
#P589_45
{
left:0px;letter-spacing:0px;margin-left:-768px;
}
#P589_46
{
left:15806.8px;bottom:37980.7px;color:rgb(35,31,31);
}
#P589_47
{
left:16426.3px;bottom:37980.7px;color:rgb(35,31,31);
}
#P589_48
{
left:16789.6px;bottom:37980.7px;color:rgb(35,31,31);
}
#P589_49
{
left:16948px;bottom:37951.1px;color:rgb(35,31,31);
}
#P589_50
{
left:17534.4px;bottom:37980.7px;color:rgb(35,31,31);
}
#P589_51
{
left:0px;letter-spacing:0px;margin-left:7462.5px;
}
#P589_52
{
left:26464.7px;bottom:37980.7px;color:rgb(35,31,31);
}
#P589_53
{
left:26828px;bottom:37980.7px;color:rgb(35,31,31);
}
#P589_54
{
left:26986.4px;bottom:37951.1px;color:rgb(35,31,31);
}
#P589_55
{
left:27572.8px;bottom:37980.7px;color:rgb(35,31,31);
}
#P589_56
{
left:13064.3px;bottom:37084.7px;letter-spacing:1121.6px;color:rgb(35,31,31);
}
#P589_57
{
left:0px;letter-spacing:0px;margin-left:-768px;
}
#P589_58
{
left:14856.3px;bottom:37055.1px;color:rgb(35,31,31);
}
#P589_59
{
left:15618.8px;bottom:37084.7px;color:rgb(35,31,31);
}
#P589_60
{
left:15865.2px;bottom:37055.1px;color:rgb(35,31,31);
}
#P589_61
{
left:16451.6px;bottom:37084.7px;color:rgb(35,31,31);
}
#P589_62
{
left:16814.7px;bottom:37084.7px;color:rgb(35,31,31);
}
#P589_63
{
left:16973.2px;bottom:37055.1px;color:rgb(35,31,31);
}
#P589_64
{
left:17559.6px;bottom:37084.7px;color:rgb(35,31,31);
}
#P589_65
{
left:25174.4px;bottom:37055.1px;color:rgb(35,31,31);
}
#P589_66
{
left:26464.8px;bottom:37084.7px;color:rgb(35,31,31);
}
#P589_67
{
left:26828.1px;bottom:37084.7px;color:rgb(35,31,31);
}
#P589_68
{
left:26986.5px;bottom:37055.1px;color:rgb(35,31,31);
}
#P589_69
{
left:27572.9px;bottom:37084.7px;color:rgb(35,31,31);
}
#P589_70
{
left:13064.4px;bottom:36188.8px;letter-spacing:1121.6px;color:rgb(35,31,31);
}
#P589_71
{
left:0px;letter-spacing:0px;margin-left:-768px;
}
#P589_72
{
left:0px;letter-spacing:0px;margin-left:3297.6px;
}
#P589_73
{
left:0px;letter-spacing:0px;margin-left:7617.2px;
}
#P589_74
{
left:26461.2px;bottom:36188.8px;color:rgb(35,31,31);
}
#P589_75
{
left:13064.4px;bottom:34908.8px;color:rgb(35,31,31);
}
#P589_76
{
left: 13747.2px;bottom:34908.8px;letter-spacing:-11.6px;word-spacing:364.2px;color:rgb(35,31,31);
}
#P589_77
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P589_78
{
left:0px;letter-spacing:1.8px;margin-left:-20.9px;
}
#P589_79
{
left:0px;letter-spacing:0px;margin-left:-5.9px;
}
#P589_80
{
left:0px;letter-spacing:0px;margin-left:-364.2px;
}
#P589_81
{
left:0px;letter-spacing:-2.3px;
}
#P589_82
{
left:21465px;bottom:34908.8px;letter-spacing:-9.3px;color:rgb(35,31,31);
}
#P589_83
{
left:0px;letter-spacing:-0.1px;margin-left:9.3px;
}
#P589_84
{
left:14856.3px;bottom:34012.8px;color:rgb(35,31,31);
}
#P589_85
{
left:0px;letter-spacing:0px;margin-left:-66.9px;
}
#P589_86
{
left:14856.3px;bottom:32732.8px;color:rgb(35,31,31);
}
#P589_87
{
left:15475.9px;bottom:32732.8px;color:rgb(35,31,31);
}
#P589_88
{
left:15805.3px;bottom:32732.8px;color:rgb(35,31,31);
}
#P589_89
{
left:15963.7px;bottom:32703.2px;color:rgb(35,31,31);
}
#P589_90
{
left:16550.1px;bottom:32732.8px;color:rgb(35,31,31);
}
#P589_91
{
left:17486.4px;bottom:32703.2px;color:rgb(35,31,31);
}
#P589_92
{
left:18248.9px;bottom:32732.8px;color:rgb(35,31,31);
}
#P589_93
{
left:19241.5px;bottom:32732.8px;color:rgb(35,31,31);
}
#P589_94
{
left:19571px;bottom:32732.8px;color:rgb(35,31,31);
}
#P589_95
{
left:19729.4px;bottom:32703.2px;color:rgb(35,31,31);
}
#P589_96
{
left:20315.7px;bottom:32732.8px;color:rgb(35,31,31);
}
#P589_97
{
left:21252px;bottom:32703.2px;color:rgb(35,31,31);
}
#P589_98
{
left:21838.4px;bottom:32732.8px;color:rgb(35,31,31);
}
#P589_99
{
left:22369.9px;bottom:32732.8px;color:rgb(35,31,31);
}
#P589_100
{
left:22699.4px;bottom:32732.8px;color:rgb(35,31,31);
}
#P589_101
{
left:22857.8px;bottom:32703.2px;color:rgb(35,31,31);
}
#P589_102
{
left:23444.2px;bottom:32732.8px;color:rgb(35,31,31);
}
#P589_103
{
left:24134.1px;bottom:32703.2px;color:rgb(35,31,31);
}
#P589_104
{
left:24720.5px;bottom:32732.8px;color:rgb(35,31,31);
}
#P589_105
{
left:25252.1px;bottom:32732.8px;color:rgb(35,31,31);
}
#P589_106
{
left:25581.5px;bottom:32732.8px;color:rgb(35,31,31);
}
#P589_107
{
left:25739.9px;bottom:32703.2px;color:rgb(35,31,31);
}
#P589_108
{
left:26326.4px;bottom:32732.8px;color:rgb(35,31,31);
}
#P589_109
{
left:29128.4px;bottom:32740.8px;color:rgb(0,124,196);
}
#P589_110
{
left:13832.4px;bottom:31452.8px;letter-spacing:801.6px;color:rgb(35,31,31);
}
#P589_111
{
left:21224.4px;bottom:31423.2px;color:rgb(35,31,31);
}
#P589_112
{
left:21810.8px;bottom:31452.8px;color:rgb(0,124,196);
}
#P589_113
{
left:21969.2px;bottom:31452.8px;color:rgb(35,31,31);
}
#P589_114
{
left:22342.3px;bottom:31452.8px;color:rgb(35,31,31);
}
#P589_115
{
left:22671.8px;bottom:31452.8px;color:rgb(35,31,31);
}
#P589_116
{
left:22830.2px;bottom:31423.2px;color:rgb(35,31,31);
}
#P589_117
{
left:23416.6px;bottom:31452.8px;color:rgb(35,31,31);
}
#P589_118
{
left:23948.1px;bottom:31452.8px;color:rgb(35,31,31);
}
#P589_119
{
left:24436px;bottom:31423.2px;color:rgb(35,31,31);
}
#P589_120
{
left:25022.4px;bottom:31452.8px;color:rgb(35,31,31);
}
#P589_121
{
left:25712.3px;bottom:31423.2px;color:rgb(35,31,31);
}
#P589_122
{
left:26298.7px;bottom:31452.8px;color:rgb(35,31,31);
}
#P589_123
{
left:29128.4px;bottom:31460.8px;color:rgb(0,124,196);
}
#P589_124
{
left:29128.4px;bottom:30564.8px;word-spacing:798.7px;color:rgb(0,124,196);
}
#P589_125
{
left:0px;letter-spacing:0px;margin-left:-835.6px;
}
#P589_126
{
left:13832.4px;bottom:29276.8px;letter-spacing:801.6px;color:rgb(35,31,31);
}
#P589_127
{
left:21224.4px;bottom:29247.2px;color:rgb(35,31,31);
}
#P589_128
{
left:21810.8px;bottom:29276.8px;color:rgb(0,124,196);
}
#P589_129
{
left:21969.2px;bottom:29276.8px;color:rgb(35,31,31);
}
#P589_130
{
left:22588.7px;bottom:29276.8px;color:rgb(35,31,31);
}
#P589_131
{
left:22918.2px;bottom:29276.8px;color:rgb(35,31,31);
}
#P589_132
{
left:23076.6px;bottom:29247.2px;color:rgb(35,31,31);
}
#P589_133
{
left:23663px;bottom:29276.8px;color:rgb(35,31,31);
}
#P589_134
{
left:24194.5px;bottom:29276.8px;color:rgb(35,31,31);
}
#P589_135
{
left:24524px;bottom:29276.8px;color:rgb(35,31,31);
}
#P589_136
{
left:24928.7px;bottom:29247.2px;color:rgb(35,31,31);
}
#P589_137
{
left:25515.2px;bottom:29276.8px;color:rgb(35,31,31);
}
#P589_138
{
left:26451.5px;bottom:29247.2px;color:rgb(35,31,31);
}
#P589_139
{
left:27037.9px;bottom:29276.8px;color:rgb(35,31,31);
}
#P589_140
{
left:29128.4px;bottom:29284.8px;color:rgb(0,124,196);
}
#P589_141
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P589_142
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P589_143
{
left:13832.4px;bottom:27967.2px;letter-spacing:784px;color:rgb(35,31,31);
}
#P589_144
{
left:0px;letter-spacing:0px;margin-left:5472.1px;
}
#P589_145
{
left:21810.8px;bottom:27996.8px;color:rgb(0,124,196);
}
#P589_146
{
left:21969.2px;bottom:27967.2px;color:rgb(35,31,31);
}
#P589_147
{
left:22555.6px;bottom:27996.8px;color:rgb(35,31,31);
}
#P589_148
{
left:22885.1px;bottom:27996.8px;color:rgb(35,31,31);
}
#P589_149
{
left:23043.5px;bottom:27967.2px;color:rgb(35,31,31);
}
#P589_150
{
left:23629.9px;bottom:27996.8px;color:rgb(35,31,31);
}
#P589_151
{
left:29128.3px;bottom:28004.8px;color:rgb(0,124,196);
}
#P589_152
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P589_153
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P589_154
{
left:7737.11px;bottom:43297.6px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P589_155
{
left:14605.4px;bottom:43322.2px;letter-spacing:-2.2px;color:white;
}
#P589_156
{
left:17886.2px;bottom:43514px;color:white;
}
#P589_157
{
left:18126.4px;bottom:43322.2px;color:white;
}
#P589_158
{
left:19742.9px;bottom:43514px;color:white;
}
#P589_159
{
left:19983.1px;bottom:43322.2px;letter-spacing:-1.4px;color:white;
}
#P589_160
{
left:24865.8px;bottom:43514px;color:white;
}
#P589_161
{
left:25105.9px;bottom:43322.2px;color:white;
}
#P589_162
{
left:12761px;bottom:43155.1px;
}
#P589_163
{
left:12761px;bottom:43155.1px;color:white;
}
#P589_164
{
left:8013.4px;
bottom: 6364.78px;color:rgb(35,31,31);
}
#P589_165
{
left:7737.11px;bottom:24673.6px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P589_166
{
left:14605.4px;bottom:24698.2px;color:white;
}
#P589_167
{
left:16989.2px;bottom:24890px;color:white;
}
#P589_168
{
left:17229.4px;bottom:24698.2px;word-spacing:-31.9px;color:white;
}
#P589_169
{
left:19997.7px;bottom:24890px;color:white;
}
#P589_170
{
left:20237.9px;bottom:24698.2px;color:white;
}
#P589_171
{
left:21421.6px;bottom:24890px;color:white;
}
#P589_172
{
left:21661.8px;bottom:24698.2px;color:white;
}
#P589_173
{
left:12761px;bottom:24531.1px;
}
#P589_174
{
left:12761px;bottom:24531.1px;color:white;
}
#P589_175
{
left:4818.71px;bottom:39943.5px;color:white;
}
#P589_176
{
left:8174.36px;bottom:40185.1px;color:white;
}
#P589_177
{
left:8510.23px;bottom:39943.5px;color:white;
}
#P589_178
{
left:5053.4px;bottom:38840.5px;letter-spacing:-70.9px;word-spacing:70.9px;color:rgb(35,31,31);
}
#P589_179
{
left:0px;letter-spacing:-70.9px;margin-left:248.8px;
}
#P589_180
{
left:6014.17px;bottom:38840.5px;color:rgb(35,31,31);
}
#P589_181
{
left:5053.4px;bottom:38072.5px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P589_182
{
left:5053.4px;bottom:37304.5px;color:rgb(35,31,31);
}
#P589_183
{
left:5053.4px;bottom:36536.5px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P589_184
{
left:13117.4px;bottom:46716.8px;letter-spacing:-70.3px;word-spacing:76.1px;color:rgb(35,31,31);
}
#P589_185
{
left:0px;letter-spacing:-0.8px;margin-left:304px;
}
#P589_186
{
left:0px;letter-spacing:-0.2px;margin-left:0.8px;
}
#P589_187
{
left:0px;letter-spacing:0px;margin-left:-41.9px;
}
#P589_188
{
left:0px;letter-spacing:0px;
}
#P589_189
{
left:13117.4px;bottom:45820.8px;letter-spacing:-0.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P589_190
{
left:0px;letter-spacing:-63.2px;margin-left:-41.8px;
}
#P589_191
{
left:0px;letter-spacing:0.1px;margin-left:63.1px;
}
#P589_192
{
left:13832.4px;bottom:23068.8px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P589_193
{
left:0px;letter-spacing:-1.8px;margin-left:0.4px;
}
#P589_194
{
left:25677px;bottom:23074.4px;color:rgb(35,31,31);
}
#P589_195
{
left:26105.7px;bottom:23068.8px;letter-spacing:-3.1px;color:rgb(35,31,31);
}
#P589_196
{
left:0px;letter-spacing:-63.3px;margin-left:-39px;
}
#P589_197
{
left:0px;letter-spacing:0px;margin-left:63.3px;
}
#P589_198
{
left:13832.4px;bottom:22172.8px;color:rgb(35,31,31);
}
#P589_199
{
left:19038.4px;bottom:22178.4px;color:rgb(35,31,31);
}
#P589_200
{
left:19467.1px;bottom:22172.8px;color:rgb(35,31,31);
}
#P589_201
{
left:19614.9px;bottom:22143.2px;color:rgb(35,31,31);
}
#P589_202
{
left:20201.4px;bottom:22172.8px;letter-spacing:-2.3px;color:rgb(35,31,31);
}
#P589_203
{
left:0px;letter-spacing:-63.3px;margin-left:-39.8px;
}
#P589_204
{
left:0px;letter-spacing:0px;margin-left:63.3px;
}
#P589_205
{
left:13832.4px;bottom:21276.9px;color:rgb(35,31,31);
}
#P589_206
{
left:14483.6px;bottom:21282.5px;color:rgb(35,31,31);
}
#P589_207
{
left:14912.3px;bottom:21276.9px;color:rgb(35,31,31);
}
#P589_208
{
left:15060.1px;bottom:21247.3px;color:rgb(35,31,31);
}
#P589_209
{
left:15646.6px;bottom:21276.9px;letter-spacing:-2.3px;color:rgb(35,31,31);
}
#P589_210
{
left:0px;letter-spacing:-14.8px;margin-left:-39.8px;
}
#P589_211
{
left:0px;letter-spacing:-0.6px;margin-left:14.8px;
}
#P589_212
{
left:0px;letter-spacing:-3.5px;margin-left:-13.3px;
}
#P589_213
{
left:0px;letter-spacing:0.3px;margin-left:3.5px;
}
#P589_214
{
left:13832.4px;bottom:20380.9px;letter-spacing:0.2px;color:rgb(35,31,31);
}
#P589_215
{
left:0px;letter-spacing:-4.2px;margin-left:-28.2px;
}
#P589_216
{
left:0px;letter-spacing:-1px;margin-left:4.2px;
}
#P589_217
{
left:0px;letter-spacing:0px;margin-left:-13px;
}
#P589_218
{
left:13832.4px;bottom:18588.9px;letter-spacing:0.7px;color:rgb(35,31,31);
}
#P589_219
{
left:16749.6px;bottom:18559.3px;color:rgb(35,31,31);
}
#P589_220
{
left:17336px;bottom:18588.9px;letter-spacing:0.4px;color:rgb(35,31,31);
}
#P589_221
{
left:21502.6px;bottom:18559.3px;color:rgb(35,31,31);
}
#P589_222
{
left:22089px;bottom:18588.9px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P589_223
{
left:29128.4px;bottom:18596.8px;color:rgb(0,124,196);
}
#P589_224
{
left:13832.4px;bottom:17308.8px;color:rgb(35,31,31);
}
#P589_225
{
left:16744.4px;bottom:17279.2px;color:rgb(35,31,31);
}
#P589_226
{
left:17330.8px;bottom:17308.8px;color:rgb(35,31,31);
}
#P589_227
{
left:18108.8px;bottom:17308.8px;color:rgb(35,31,31);
}
#P589_228
{
left:18521.9px;bottom:17308.8px;color:rgb(35,31,31);
}
#P589_229
{
left:18680.3px;bottom:17279.2px;color:rgb(35,31,31);
}
#P589_230
{
left:19266.8px;bottom:17308.8px;color:rgb(35,31,31);
}
#P589_231
{
left:20203.1px;bottom:17279.2px;color:rgb(35,31,31);
}
#P589_232
{
left:20789.5px;bottom:17308.8px;color:rgb(35,31,31);
}
#P589_233
{
left:21194.3px;bottom:17308.8px;color:rgb(35,31,31);
}
#P589_234
{
left:21607.6px;bottom:17308.8px;color:rgb(35,31,31);
}
#P589_235
{
left:21765.9px;bottom:17279.2px;color:rgb(35,31,31);
}
#P589_236
{
left:22352.3px;bottom:17308.8px;color:rgb(35,31,31);
}
#P589_237
{
left:29128.4px;bottom:17316.8px;letter-spacing:-1.2px;color:rgb(0,124,196);
}
#P589_238
{
left:13832.4px;bottom:16028.8px;color:rgb(35,31,31);
}
#P589_239
{
left:16744.4px;bottom:15999.2px;color:rgb(35,31,31);
}
#P589_240
{
left:17330.8px;bottom:16028.8px;color:rgb(35,31,31);
}
#P589_241
{
left:18108.8px;bottom:16028.8px;color:rgb(35,31,31);
}
#P589_242
{
left:18521.9px;bottom:16028.8px;color:rgb(35,31,31);
}
#P589_243
{
left:18680.3px;bottom:15999.2px;color:rgb(35,31,31);
}
#P589_244
{
left:19266.8px;bottom:16028.8px;color:rgb(35,31,31);
}
#P589_245
{
left:20361.5px;bottom:15999.2px;color:rgb(35,31,31);
}
#P589_246
{
left:20947.9px;bottom:16028.8px;color:rgb(35,31,31);
}
#P589_247
{
left:21352.7px;bottom:15999.2px;color:rgb(35,31,31);
}
#P589_248
{
left:21939.2px;bottom:16028.8px;color:rgb(35,31,31);
}
#P589_249
{
left:22352.3px;bottom:16028.8px;color:rgb(35,31,31);
}
#P589_250
{
left:22510.7px;bottom:15999.2px;color:rgb(35,31,31);
}
#P589_251
{
left:23097.2px;bottom:16028.8px;color:rgb(35,31,31);
}
#P589_252
{
left:29128.4px;bottom:16036.8px;letter-spacing:-1.5px;color:rgb(0,124,196);
}
#P589_253
{
left:13832.4px;bottom:14748.8px;color:rgb(35,31,31);
}
#P589_254
{
left:16744.4px;bottom:14719.2px;color:rgb(35,31,31);
}
#P589_255
{
left:17330.8px;bottom:14748.8px;color:rgb(35,31,31);
}
#P589_256
{
left:17862.4px;bottom:14748.8px;color:rgb(35,31,31);
}
#P589_257
{
left:18275.6px;bottom:14748.8px;color:rgb(35,31,31);
}
#P589_258
{
left:18434px;bottom:14719.2px;color:rgb(35,31,31);
}
#P589_259
{
left:19020.4px;bottom:14748.8px;color:rgb(35,31,31);
}
#P589_260
{
left:19178.8px;bottom:14748.8px;color:rgb(35,31,31);
}
#P589_261
{
left:19592px;bottom:14748.8px;color:rgb(35,31,31);
}
#P589_262
{
left:19750.4px;bottom:14719.2px;color:rgb(35,31,31);
}
#P589_263
{
left:20336.9px;bottom:14748.8px;color:rgb(35,31,31);
}
#P589_264
{
left:21026.8px;bottom:14719.2px;color:rgb(35,31,31);
}
#P589_265
{
left:21613.2px;bottom:14748.8px;color:rgb(35,31,31);
}
#P589_266
{
left:29128.4px;bottom:14756.8px;color:rgb(0,124,196);
}
#P589_267
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P589_268
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P589_269
{
left:13832.4px;bottom:13468.8px;color:rgb(35,31,31);
}
#P589_270
{
left:16744.4px;bottom:13439.2px;color:rgb(35,31,31);
}
#P589_271
{
left:17330.8px;bottom:13468.8px;color:rgb(35,31,31);
}
#P589_272
{
left:17489.2px;bottom:13468.8px;color:rgb(35,31,31);
}
#P589_273
{
left:17902.5px;bottom:13468.8px;color:rgb(35,31,31);
}
#P589_274
{
left:18060.9px;bottom:13439.2px;color:rgb(35,31,31);
}
#P589_275
{
left:18647.3px;bottom:13468.8px;color:rgb(35,31,31);
}
#P589_276
{
left:29128.4px;bottom:13476.8px;color:rgb(0,124,196);
}
#P589_277
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P589_278
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P589_279
{
left: 15766.4px;bottom:11804.8px;letter-spacing:503.5px;color:rgb(35,31,31);
}
#P589_280
{
left:0px;letter-spacing:0px;margin-left:-661.9px;
}
#P589_281
{
left:0px;letter-spacing:0px;margin-left:-63.2px;
}
#P589_282
{
left:0px;letter-spacing:0.8px;
}
#P589_283
{
left:18270.2px;bottom:11804.8px;color:rgb(35,31,31);
}
#P589_284
{
left:18683.4px;bottom:11804.8px;color:rgb(35,31,31);
}
#P589_285
{
left:18841.8px;bottom:11775.2px;color:rgb(35,31,31);
}
#P589_286
{
left:19428.2px;bottom:11804.8px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P589_287
{
left:0px;letter-spacing:-63.2px;margin-left:-40.9px;
}
#P589_288
{
left:0px;letter-spacing:0px;margin-left:63.2px;
}
#P589_289
{
left:27427.3px;bottom:11804.8px;color:rgb(35,31,31);
}
#P589_290
{
left:27840.5px;bottom:11804.8px;color:rgb(35,31,31);
}
#P589_291
{
left:27998.9px;bottom:11775.2px;color:rgb(35,31,31);
}
#P589_292
{
left:28585.4px;bottom:11804.8px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P589_293
{
left:15078.3px;bottom:10908.8px;letter-spacing:-1.8px;color:rgb(35,31,31);
}
#P589_294
{
left:0px;letter-spacing:-0.1px;margin-left:1.8px;
}
#P589_295
{
left:13832.5px;bottom:7580.78px;letter-spacing:-1.1px;color:rgb(35,31,31);
}
#P589_296
{
left:0px;letter-spacing:0px;margin-left:-12.8px;
}
#P589_297
{
left:13832.5px;bottom:6428.78px;color:rgb(35,31,31);
}
#P589_298
{
left:14296px;bottom:6455.6px;color:rgb(35,31,31);
}
#P589_299
{
left:15496.4px;bottom:6428.78px;color:rgb(35,31,31);
}
#P589_300
{
left:15742.8px;bottom:6428.78px;color:rgb(35,31,31);
}
#P589_301
{
left:16384.9px;bottom:6428.78px;color:rgb(35,31,31);
}
#P589_302
{
left:16543.3px;bottom:6399.21px;color:rgb(35,31,31);
}
#P589_303
{
left:17288px;bottom:6428.78px;word-spacing:-0.1px;color:rgb(35,31,31);
}
#P589_304
{
left:18065.9px;bottom:6399.21px;color:rgb(35,31,31);
}
#P589_305
{
left:18652.4px;bottom:6428.78px;color:rgb(35,31,31);
}
#P589_306
{
left:19057.2px;bottom:6399.21px;color:rgb(35,31,31);
}
#P589_307
{
left:19643.6px;bottom:6428.78px;color:rgb(35,31,31);
}
#P589_308
{
left:20285.7px;bottom:6428.78px;color:rgb(35,31,31);
}
#P589_309
{
left:20444.1px;bottom:6399.21px;color:rgb(35,31,31);
}
#P589_310
{
left:21188.8px;bottom:6428.78px;word-spacing:-0.1px;color:rgb(35,31,31);
}
#P589_311
{
left:24792px;bottom:6455.6px;color:rgb(35,31,31);
}
#P589_312
{
left:26120.4px;bottom:6399.21px;color:rgb(35,31,31);
}
#P589_313
{
left:26706.8px;bottom:6428.78px;color:rgb(35,31,31);
}
#P589_314
{
left:27326.4px;bottom:6428.78px;color:rgb(35,31,31);
}
#P589_315
{
left:27636.8px;bottom:6428.78px;color:rgb(35,31,31);
}
#P589_316
{
left:27795.2px;bottom:6399.21px;color:rgb(35,31,31);
}
#P589_317
{
left:28540px;bottom:6428.78px;word-spacing:-0.1px;color:rgb(35,31,31);
}
#P589_318
{
left:29877.6px;bottom:6399.21px;color:rgb(35,31,31);
}
#P589_319
{
left:30464px;bottom:6428.78px;color:rgb(35,31,31);
}
#P589_320
{
left:32174.7px;bottom:6428.78px;color:rgb(35,31,31);
}
#P589_321
{
left:32485.2px;bottom:6428.78px;color:rgb(35,31,31);
}
#P589_322
{
left:32643.6px;bottom:6399.21px;color:rgb(35,31,31);
}
#P589_323
{
left:33230px;bottom:6428.78px;color:rgb(35,31,31);
}
#P589_324
{
left:13832.4px;bottom:5148.78px;color:rgb(35,31,31);
}
#P589_325
{
left:14296px;bottom:5175.6px;word-spacing:453.2px;color:rgb(35,31,31);
}
#P589_326
{
left:15496.4px;bottom:5168.49px;letter-spacing:-12.9px;color:rgb(2,77,161);
}
#P589_327
{
left:0px;letter-spacing:0px;margin-left:12.9px;
}
#P589_328
{
left:18365.2px;bottom:5148.78px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P589_329
{
left:0px;letter-spacing:-0.3px;margin-left:-206.1px;
}
#P589_330
{
left:0px;letter-spacing:0px;margin-left:-3.8px;
}
#P589_331
{
left:29448.4px;bottom:5148.78px;color:rgb(35,31,31);
}
#P589_332
{
left:29861.7px;bottom:5148.78px;color:rgb(35,31,31);
}
#P589_333
{
left:30020.1px;bottom:5119.21px;color:rgb(35,31,31);
}
#P589_334
{
left:30606.5px;bottom:5148.78px;letter-spacing:-1.1px;color:rgb(35,31,31);
}
#P589_335
{
left:0px;letter-spacing:-10.5px;margin-left:-19.9px;
}
#P589_336
{
left:15496.4px;bottom:4252.78px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P589_337
{
left:19453.4px;bottom:37049.6px;letter-spacing:-12.6px;color:white;
}
#PageContainer589
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg589.jpg");background-repeat:no-repeat;background-size: 922px 1126px; background-position: 85.19px 149.6px;
}
#ImageContainer589 {bottom:88.40px;left:85.19px;width:922.17px;height:1125.82px;position:absolute;} #TextContainer589 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.example3{position: absolute;top: 158px;left: 151px;}
.example4{position: absolute;top: 663px;left: 151px;}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}
.now {position: absolute;top: 1137px;left: 190px;}
#middle-toolbar img{vertical-align: middle;}

.nyr_exr{position:absolute; top: 1170px; left: 216px;}