.tr162{ color:transparent;}
#P162_1
{
left:2365.4px;bottom:1481.77px;color:rgb(35,31,31);
}
#P162_2
{
left:3540.44px;bottom:1623.85px;color:rgb(35,31,31);
}
#P162_3
{
left:4669.4px;bottom:1481.77px;color:rgb(35,31,31);
}
#P162_4
{
left:7585.88px;bottom:1481.77px;letter-spacing:462.1px;color:rgb(35,31,31);
}
#P162_5
{
left:0px;letter-spacing:1.1px;margin-left:-457.6px;
}
#P162_6
{
left:0px;letter-spacing:4px;margin-left:9.7px;
}
#P162_7
{
left:0px;letter-spacing:2.1px;margin-left:-0.2px;
}
#P162_8
{
left:0px;letter-spacing:6.4px;margin-left:2.4px;
}
#P162_9
{
left:0px;letter-spacing:0px;margin-left:2.6px;
}
#P162_10
{
left:11532.7px;bottom:44924.8px;color:rgb(35,31,31);
}
#P162_11
{
left:11622.6px;bottom:44951.6px;word-spacing:453.2px;color:rgb(35,31,31);
}
#P162_12
{
left:13196.7px;bottom:44924.8px;color:rgb(35,31,31);
}
#P162_13
{
left:15884.6px;bottom:44924.8px;color:rgb(35,31,31);
}
#P162_14
{
left:16247.8px;bottom:44924.8px;letter-spacing:-1.9px;color:rgb(35,31,31);
}
#P162_15
{
left:0px;letter-spacing:0px;margin-left:1.9px;
}
#P162_16
{
left:0px;letter-spacing:0px;margin-left:-42.2px;
}
#P162_17
{
left:0px;letter-spacing:-0.1px;
}
#P162_18
{
left:13196.7px;bottom:44028.6px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P162_19
{
left:0px;letter-spacing:0px;margin-left:-24.2px;
}
#P162_20
{
left:0px;letter-spacing:-0.4px;
}
#P162_21
{
left:23842.6px;bottom:44028.6px;letter-spacing:28px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P162_22
{
left:0px;letter-spacing:-0.1px;margin-left:130.3px;
}
#P162_23
{
left:13196.7px;bottom:43132.4px;letter-spacing:-13px;color:rgb(35,31,31);
}
#P162_24
{
left:0px;letter-spacing:-0.4px;margin-left:13px;
}
#P162_25
{
left:0px;letter-spacing:-3.5px;margin-left:-13.7px;
}
#P162_26
{
left:0px;letter-spacing:0px;margin-left:3.5px;
}
#P162_27
{
left:13196.7px;bottom:42236.2px;letter-spacing:-1.9px;color:rgb(35,31,31);
}
#P162_28
{
left:0px;letter-spacing:0px;margin-left:-75.5px;
}
#P162_29
{
left:0px;letter-spacing:-1.4px;
}
#P162_30
{
left:10764.4px;bottom:39420.2px;letter-spacing:-1.6px;color:rgb(35,31,31);
}
#P162_31
{
left:0px;letter-spacing:-1px;margin-left:1.6px;
}
#P162_32
{
left:19374.4px;bottom:39420.2px;letter-spacing:0.6px;color:rgb(35,31,31);
}
#P162_33
{
left:22818px;bottom:39420.2px;letter-spacing:-0.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P162_34
{
left:10764.4px;bottom:38524px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P162_35
{
left:0px;letter-spacing:-1.2px;margin-left:-13.9px;
}
#P162_36
{
left:0px;letter-spacing:-0.1px;margin-left:1.2px;
}
#P162_37
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P162_38
{
left:10764.7px;bottom:35212.8px;color:rgb(35,31,31);
}
#P162_39
{
left:17804.7px;bottom:35260.8px;color:rgb(0,124,196);
}
#P162_40
{
left:18198.9px;bottom:35266.4px;color:rgb(0,124,196);
}
#P162_41
{
left:18562.2px;bottom:35260.8px;color:rgb(35,31,31);
}
#P162_42
{
left:18710px;bottom:35231.2px;color:rgb(35,31,31);
}
#P162_43
{
left:19296.5px;bottom:35260.8px;color:rgb(35,31,31);
}
#P162_44
{
left:19444.3px;bottom:35260.8px;color:rgb(235,26,35);
}
#P162_45
{
left:20232.8px;bottom:35260.8px;color:rgb(35,31,31);
}
#P162_46
{
left:20380.6px;bottom:35231.2px;color:rgb(35,31,31);
}
#P162_47
{
left:20967.1px;bottom:35260.8px;color:rgb(35,31,31);
}
#P162_48
{
left:21114.9px;bottom:35260.8px;color:rgb(0,124,196);
}
#P162_49
{
left:21509.1px;bottom:35266.4px;color:rgb(0,124,196);
}
#P162_50
{
left:21872.4px;bottom:35260.8px;color:rgb(35,31,31);
}
#P162_51
{
left:22020.2px;bottom:35231.2px;color:rgb(35,31,31);
}
#P162_52
{
left:22606.7px;bottom:35260.8px;color:rgb(35,31,31);
}
#P162_53
{
left:22754.5px;bottom:35260.8px;color:rgb(235,26,35);
}
#P162_54
{
left:10764.7px;bottom:31933px;letter-spacing:-9.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P162_55
{
left:0px;letter-spacing:-0.4px;margin-left:9.4px;
}
#P162_56
{
left:0px;letter-spacing:-0.1px;margin-left:0.2px;
}
#P162_57
{
left:20981.8px;bottom:31933px;color:rgb(35,31,31);
}
#P162_58
{
left:23683.1px;bottom:31933px;color:rgb(35,31,31);
}
#P162_59
{
left:26015.4px;bottom:31932.8px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P162_60
{
left:12811.9px;bottom:36816.2px;letter-spacing:-8.3px;color:rgb(0,124,196);
}
#P162_61
{
left:0px;letter-spacing:0px;margin-left:8.3px;
}
#P162_62
{
left:25957.5px;bottom:33616.2px;letter-spacing:-8.3px;color:rgb(235,26,35);
}
#P162_63
{
left:0px;letter-spacing:0px;margin-left:8.3px;
}
#P162_64
{
left:11592.4px;bottom:27932.8px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P162_65
{
left:0px;letter-spacing:0px;margin-left:1.3px;
}
#P162_66
{
left:11606.9px;bottom:26588.8px;letter-spacing:-9.4px;word-spacing:644.1px;color:rgb(35,31,31);
}
#P162_67
{
left:12680.1px;bottom:26588.8px;color:rgb(35,31,31);
}
#P162_68
{
left:13053.2px;bottom:26588.8px;color:rgb(35,31,31);
}
#P162_69
{
left:13416.5px;bottom:26588.8px;color:rgb(35,31,31);
}
#P162_70
{
left:13574.9px;bottom:26559.3px;color:rgb(35,31,31);
}
#P162_71
{
left:14161.3px;bottom:26588.8px;color:rgb(35,31,31);
}
#P162_72
{
left:14851.2px;bottom:26559.3px;color:rgb(35,31,31);
}
#P162_73
{
left:15437.7px;bottom:26588.8px;color:rgb(35,31,31);
}
#P162_74
{
left:15969.2px;bottom:26588.8px;color:rgb(35,31,31);
}
#P162_75
{
left:16332.4px;bottom:26588.8px;color:rgb(35,31,31);
}
#P162_76
{
left:16490.8px;bottom:26559.3px;color:rgb(35,31,31);
}
#P162_77
{
left:17077.3px;bottom:26588.8px;color:rgb(35,31,31);
}
#P162_78
{
left:11591.7px;bottom:25309px;letter-spacing:929.6px;color:rgb(35,31,31);
}
#P162_79
{
left:13053.2px;bottom:25309px;color:rgb(35,31,31);
}
#P162_80
{
left:13416.5px;bottom:25309px;color:rgb(35,31,31);
}
#P162_81
{
left:13574.9px;bottom:25279.4px;color:rgb(35,31,31);
}
#P162_82
{
left:14161.3px;bottom:25309px;color:rgb(35,31,31);
}
#P162_83
{
left:14851.2px;bottom:25279.4px;color:rgb(35,31,31);
}
#P162_84
{
left:15437.7px;bottom:25309px;color:rgb(35,31,31);
}
#P162_85
{
left:15969.2px;bottom:25309px;color:rgb(35,31,31);
}
#P162_86
{
left:16332.4px;bottom:25309px;color:rgb(35,31,31);
}
#P162_87
{
left:16490.8px;bottom:25279.4px;color:rgb(35,31,31);
}
#P162_88
{
left:17077.3px;bottom:25309px;color:rgb(35,31,31);
}
#P162_89
{
left:17767.2px;bottom:25279.4px;color:rgb(35,31,31);
}
#P162_90
{
left:18353.6px;bottom:25309px;color:rgb(35,31,31);
}
#P162_91
{
left:18885.1px;bottom:25309px;color:rgb(35,31,31);
}
#P162_92
{
left:19248.4px;bottom:25309px;color:rgb(35,31,31);
}
#P162_93
{
left:19406.8px;bottom:25279.4px;color:rgb(35,31,31);
}
#P162_94
{
left:19993.2px;bottom:25309px;color:rgb(35,31,31);
}
#P162_95
{
left:20524.8px;bottom:25309px;color:rgb(35,31,31);
}
#P162_96
{
left:20888.1px;bottom:25309px;color:rgb(35,31,31);
}
#P162_97
{
left:21046.5px;bottom:25279.4px;color:rgb(35,31,31);
}
#P162_98
{
left:21632.9px;bottom:25309px;color:rgb(35,31,31);
}
#P162_99
{
left:22322.8px;bottom:25279.4px;color:rgb(35,31,31);
}
#P162_100
{
left:22909.3px;bottom:25309px;color:rgb(35,31,31);
}
#P162_101
{
left:25544.4px;bottom:25316.8px;color:rgb(0,124,196);
}
#P162_102
{
left:0px;letter-spacing:0px;margin-left:-37px;
}
#P162_103
{
left:11592.4px;bottom:24028.8px;color:rgb(35,31,31);
}
#P162_104
{
left:17768.6px;bottom:23999.2px;color:rgb(35,31,31);
}
#P162_105
{
left:18355px;bottom:24028.8px;color:rgb(35,31,31);
}
#P162_106
{
left:19291.4px;bottom:23999.2px;color:rgb(35,31,31);
}
#P162_107
{
left:19877.8px;bottom:24028.8px;color:rgb(35,31,31);
}
#P162_108
{
left:20655.7px;bottom:24028.8px;color:rgb(35,31,31);
}
#P162_109
{
left:21019px;bottom:24028.8px;color:rgb(35,31,31);
}
#P162_110
{
left:21177.4px;bottom:23999.2px;color:rgb(35,31,31);
}
#P162_111
{
left:21763.8px;bottom:24028.8px;color:rgb(35,31,31);
}
#P162_112
{
left:22453.7px;bottom:23999.2px;color:rgb(35,31,31);
}
#P162_113
{
left:23040.2px;bottom:24028.8px;color:rgb(35,31,31);
}
#P162_114
{
left:25544.4px;bottom:24036.8px;color:rgb(0,124,196);
}
#P162_115
{
left:11592.4px;bottom:22748.8px;color:rgb(35,31,31);
}
#P162_116
{
left:17768.6px;bottom:22719.2px;color:rgb(35,31,31);
}
#P162_117
{
left:18355px;bottom:22748.8px;color:rgb(35,31,31);
}
#P162_118
{
left:18886.6px;bottom:22748.8px;color:rgb(35,31,31);
}
#P162_119
{
left:19249.8px;bottom:22748.8px;color:rgb(35,31,31);
}
#P162_120
{
left:19408.2px;bottom:22719.2px;color:rgb(35,31,31);
}
#P162_121
{
left:19994.6px;bottom:22748.8px;color:rgb(35,31,31);
}
#P162_122
{
left:25544.4px;bottom:22756.8px;color:rgb(0,124,196);
}
#P162_123
{
left:0px;letter-spacing:0px;margin-left:-49.7px;
}
#P162_124
{
left:11573.3px;bottom:21084.8px;letter-spacing:-13.9px;word-spacing:614.9px;color:rgb(35,31,31);
}
#P162_125
{
left:12680.2px;bottom:21084.8px;color:rgb(35,31,31);
}
#P162_126
{
left:13009.6px;bottom:21084.8px;color:rgb(35,31,31);
}
#P162_127
{
left:13168px;bottom:21055.2px;color:rgb(35,31,31);
}
#P162_128
{
left:13754.5px;bottom:21084.8px;color:rgb(35,31,31);
}
#P162_129
{
left:13912.9px;bottom:21084.8px;color:rgb(35,31,31);
}
#P162_130
{
left:14242.3px;bottom:21084.8px;color:rgb(35,31,31);
}
#P162_131
{
left:14400.7px;bottom:21055.2px;color:rgb(35,31,31);
}
#P162_132
{
left:14987.2px;bottom:21084.8px;color:rgb(35,31,31);
}
#P162_133
{
left:15145.6px;bottom:21084.8px;color:rgb(35,31,31);
}
#P162_134
{
left:11591.8px;bottom:19804.9px;color:rgb(35,31,31);
}
#P162_135
{
left:12680.2px;bottom:19804.9px;color:rgb(35,31,31);
}
#P162_136
{
left:13009.6px;bottom:19804.9px;color:rgb(35,31,31);
}
#P162_137
{
left:13168px;bottom:19775.3px;color:rgb(35,31,31);
}
#P162_138
{
left:13754.5px;bottom:19804.9px;color:rgb(35,31,31);
}
#P162_139
{
left:13912.9px;bottom:19804.9px;color:rgb(35,31,31);
}
#P162_140
{
left:14242.3px;bottom:19804.9px;color:rgb(35,31,31);
}
#P162_141
{
left:14400.7px;bottom:19775.3px;color:rgb(35,31,31);
}
#P162_142
{
left:14987.2px;bottom:19804.9px;color:rgb(35,31,31);
}
#P162_143
{
left:15145.6px;bottom:19804.9px;color:rgb(35,31,31);
}
#P162_144
{
left:15475px;bottom:19804.9px;color:rgb(35,31,31);
}
#P162_145
{
left:15633.4px;bottom:19775.3px;color:rgb(35,31,31);
}
#P162_146
{
left:16219.9px;bottom:19804.9px;color:rgb(35,31,31);
}
#P162_147
{
left:16378.3px;bottom:19804.9px;color:rgb(235,26,35);
}
#P162_148
{
left:16751.4px;bottom:19804.9px;color:rgb(35,31,31);
}
#P162_149
{
left:17080.9px;bottom:19804.9px;color:rgb(35,31,31);
}
#P162_150
{
left:17239.3px;bottom:19775.3px;color:rgb(35,31,31);
}
#P162_151
{
left:17825.7px;bottom:19804.9px;color:rgb(35,31,31);
}
#P162_152
{
left:17984.1px;bottom:19804.9px;color:rgb(235,26,35);
}
#P162_153
{
left:18357.2px;bottom:19804.9px;color:rgb(35,31,31);
}
#P162_154
{
left:18686.7px;bottom:19804.9px;color:rgb(35,31,31);
}
#P162_155
{
left:18845.1px;bottom:19775.3px;color:rgb(35,31,31);
}
#P162_156
{
left:19431.5px;bottom:19804.9px;color:rgb(35,31,31);
}
#P162_157
{
left:19589.9px;bottom:19804.9px;color:rgb(235,26,35);
}
#P162_158
{
left:19963px;bottom:19804.9px;color:rgb(35,31,31);
}
#P162_159
{
left:20292.5px;bottom:19804.9px;color:rgb(35,31,31);
}
#P162_160
{
left:25544.4px;bottom:19812.8px;color:rgb(0,124,196);
}
#P162_161
{
left:11592.4px;bottom:18524.8px;color:rgb(35,31,31);
}
#P162_162
{
left:15656.6px;bottom:18495.2px;color:rgb(35,31,31);
}
#P162_163
{
left:16243px;bottom:18524.8px;color:rgb(35,31,31);
}
#P162_164
{
left:17179.4px;bottom:18495.2px;color:rgb(35,31,31);
}
#P162_165
{
left:17765.8px;bottom:18524.8px;color:rgb(35,31,31);
}
#P162_166
{
left:18455.7px;bottom:18495.2px;color:rgb(35,31,31);
}
#P162_167
{
left:19042.1px;bottom:18524.8px;color:rgb(35,31,31);
}
#P162_168
{
left:19820.1px;bottom:18524.8px;color:rgb(35,31,31);
}
#P162_169
{
left:20149.5px;bottom:18524.8px;color:rgb(35,31,31);
}
#P162_170
{
left:25544.4px;bottom:18532.8px;color:rgb(0,124,196);
}
#P162_171
{
left:11592.4px;bottom:17244.8px;color:rgb(35,31,31);
}
#P162_172
{
left:15656.6px;bottom:17215.2px;color:rgb(35,31,31);
}
#P162_173
{
left:16243px;bottom:17244.8px;color:rgb(35,31,31);
}
#P162_174
{
left:16774.6px;bottom:17244.8px;color:rgb(35,31,31);
}
#P162_175
{
left:17104px;bottom:17244.8px;color:rgb(35,31,31);
}
#P162_176
{
left:25544.4px;bottom:17252.8px;color:rgb(0,124,196);
}
#P162_177
{
left:0px;letter-spacing:0px;margin-left:-168px;
}
#P162_178
{
left:0px;letter-spacing:0px;margin-left:6.7px;
}
#P162_179
{
left:0px;letter-spacing:0px;margin-left:-24.9px;
}
#P162_180
{
left:11642.2px;bottom:15580.8px;letter-spacing:-9.4px;word-spacing:679.3px;color:rgb(35,31,31);
}
#P162_181
{
left:12680.2px;bottom:15580.8px;color:rgb(35,31,31);
}
#P162_182
{
left:13053.3px;bottom:15580.8px;color:rgb(35,31,31);
}
#P162_183
{
left:13382.7px;bottom:15580.8px;color:rgb(35,31,31);
}
#P162_184
{
left:13541.1px;bottom:15551.2px;color:rgb(35,31,31);
}
#P162_185
{
left:14127.6px;bottom:15580.8px;color:rgb(35,31,31);
}
#P162_186
{
left:14905.5px;bottom:15580.8px;color:rgb(35,31,31);
}
#P162_187
{
left:15235px;bottom:15580.8px;color:rgb(35,31,31);
}
#P162_188
{
left:15393.4px;bottom:15551.2px;color:rgb(35,31,31);
}
#P162_189
{
left:15979.8px;bottom:15580.8px;color:rgb(35,31,31);
}
#P162_190
{
left:16511.3px;bottom:15580.8px;color:rgb(35,31,31);
}
#P162_191
{
left:16840.8px;bottom:15580.8px;color:rgb(35,31,31);
}
#P162_192
{
left:11591.8px;bottom:14300.9px;letter-spacing:929.6px;color:rgb(35,31,31);
}
#P162_193
{
left:13052.6px;bottom:14300.9px;color:rgb(35,31,31);
}
#P162_194
{
left:13382px;bottom:14300.9px;color:rgb(35,31,31);
}
#P162_195
{
left:13540.4px;bottom:14271.3px;color:rgb(35,31,31);
}
#P162_196
{
left:14126.9px;bottom:14300.9px;color:rgb(35,31,31);
}
#P162_197
{
left:14904.8px;bottom:14300.9px;color:rgb(35,31,31);
}
#P162_198
{
left:15234.3px;bottom:14300.9px;color:rgb(35,31,31);
}
#P162_199
{
left:15392.7px;bottom:14271.3px;color:rgb(35,31,31);
}
#P162_200
{
left:15979.1px;bottom:14300.9px;color:rgb(35,31,31);
}
#P162_201
{
left:16510.6px;bottom:14300.9px;color:rgb(35,31,31);
}
#P162_202
{
left:16840.1px;bottom:14300.9px;color:rgb(35,31,31);
}
#P162_203
{
left:17244.9px;bottom:14271.3px;color:rgb(35,31,31);
}
#P162_204
{
left:17831.3px;bottom:14300.9px;color:rgb(35,31,31);
}
#P162_205
{
left:18362.8px;bottom:14300.9px;color:rgb(35,31,31);
}
#P162_206
{
left:18692.3px;bottom:14300.9px;color:rgb(35,31,31);
}
#P162_207
{
left:18850.7px;bottom:14271.3px;color:rgb(35,31,31);
}
#P162_208
{
left:19437.1px;bottom:14300.9px;color:rgb(35,31,31);
}
#P162_209
{
left:20215.1px;bottom:14300.9px;color:rgb(35,31,31);
}
#P162_210
{
left:20544.5px;bottom:14300.9px;color:rgb(35,31,31);
}
#P162_211
{
left:20949.4px;bottom:14271.3px;color:rgb(35,31,31);
}
#P162_212
{
left:21535.8px;bottom:14300.9px;color:rgb(35,31,31);
}
#P162_213
{
left:22686.9px;bottom:14300.9px;color:rgb(35,31,31);
}
#P162_214
{
left:23016.3px;bottom:14300.9px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P162_215
{
left:25544.3px;bottom:14308.8px;color:rgb(0,124,196);
}
#P162_216
{
left:11592.3px;bottom:13020.8px;color:rgb(35,31,31);
}
#P162_217
{
left:17224.3px;bottom:12991.2px;color:rgb(35,31,31);
}
#P162_218
{
left:17810.8px;bottom:13020.8px;color:rgb(35,31,31);
}
#P162_219
{
left:18342.3px;bottom:13020.8px;color:rgb(35,31,31);
}
#P162_220
{
left:18671.8px;bottom:13020.8px;color:rgb(35,31,31);
}
#P162_221
{
left:18830.2px;bottom:12991.2px;color:rgb(35,31,31);
}
#P162_222
{
left:19416.6px;bottom:13020.8px;color:rgb(35,31,31);
}
#P162_223
{
left:19948.1px;bottom:13020.8px;color:rgb(35,31,31);
}
#P162_224
{
left:20277.6px;bottom:13020.8px;color:rgb(35,31,31);
}
#P162_225
{
left:20436px;bottom:12991.2px;color:rgb(35,31,31);
}
#P162_226
{
left:21022.4px;bottom:13020.8px;color:rgb(35,31,31);
}
#P162_227
{
left:21927.1px;bottom:13020.8px;color:rgb(35,31,31);
}
#P162_228
{
left:22256.5px;bottom:13020.8px;color:rgb(35,31,31);
}
#P162_229
{
left:25544.3px;bottom:13028.8px;color:rgb(0,124,196);
}
#P162_230
{
left:0px;letter-spacing:0px;margin-left:-49.7px;
}
#P162_231
{
left:11592.3px;bottom:11740.8px;color:rgb(35,31,31);
}
#P162_232
{
left:17224.3px;bottom:11711.2px;color:rgb(35,31,31);
}
#P162_233
{
left:17810.8px;bottom:11740.8px;color:rgb(35,31,31);
}
#P162_234
{
left:18747.1px;bottom:11711.2px;color:rgb(35,31,31);
}
#P162_235
{
left:19333.5px;bottom:11740.8px;color:rgb(35,31,31);
}
#P162_236
{
left:20111.4px;bottom:11740.8px;color:rgb(35,31,31);
}
#P162_237
{
left:20440.9px;bottom:11740.8px;color:rgb(35,31,31);
}
#P162_238
{
left:20599.3px;bottom:11711.2px;color:rgb(35,31,31);
}
#P162_239
{
left:21185.8px;bottom:11740.8px;color:rgb(35,31,31);
}
#P162_240
{
left:22090.4px;bottom:11740.8px;color:rgb(35,31,31);
}
#P162_241
{
left:22419.9px;bottom:11740.8px;color:rgb(35,31,31);
}
#P162_242
{
left:25544.3px;bottom:11748.8px;color:rgb(0,124,196);
}
#P162_243
{
left:11592.3px;bottom:10460.8px;color:rgb(35,31,31);
}
#P162_244
{
left:17224.3px;bottom:10431.2px;color:rgb(35,31,31);
}
#P162_245
{
left:17810.8px;bottom:10460.8px;color:rgb(35,31,31);
}
#P162_246
{
left:18342.3px;bottom:10460.8px;color:rgb(35,31,31);
}
#P162_247
{
left:18671.8px;bottom:10460.8px;color:rgb(35,31,31);
}
#P162_248
{
left:18830.2px;bottom:10431.2px;color:rgb(35,31,31);
}
#P162_249
{
left:19416.6px;bottom:10460.8px;color:rgb(35,31,31);
}
#P162_250
{
left:20321.2px;bottom:10460.8px;color:rgb(35,31,31);
}
#P162_251
{
left:20650.7px;bottom:10460.8px;color:rgb(35,31,31);
}
#P162_252
{
left:25544.3px;bottom:10468.8px;color:rgb(0,124,196);
}
#P162_253
{
left:0px;letter-spacing:0px;margin-left:-168px;
}
#P162_254
{
left:0px;letter-spacing:0px;margin-left:6.7px;
}
#P162_255
{
left:0px;letter-spacing:0px;margin-left:-24.9px;
}
#P162_256
{
left:11592.3px;bottom:6876.78px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P162_257
{
left:0px;letter-spacing:0px;margin-left:1.3px;
}
#P162_258
{
left:11592.3px;bottom:5725.04px;color:rgb(35,31,31);
}
#P162_259
{
left:11682.3px;bottom:5751.6px;color:rgb(35,31,31);
}
#P162_260
{
left:13256.3px;bottom:5724.78px;color:rgb(35,31,31);
}
#P162_261
{
left:13787.9px;bottom:5695.21px;color:rgb(35,31,31);
}
#P162_262
{
left:14374.3px;bottom:5724.78px;color:rgb(35,31,31);
}
#P162_263
{
left:14905.8px;bottom:5724.78px;color:rgb(35,31,31);
}
#P162_264
{
left:15235.3px;bottom:5724.78px;color:rgb(35,31,31);
}
#P162_265
{
left:15393.7px;bottom:5695.21px;color:rgb(35,31,31);
}
#P162_266
{
left:15980.1px;bottom:5724.78px;color:rgb(35,31,31);
}
#P162_267
{
left:16138.5px;bottom:5724.78px;color:rgb(35,31,31);
}
#P162_268
{
left:16468px;bottom:5724.78px;color:rgb(35,31,31);
}
#P162_269
{
left:22178.3px;bottom:5751.6px;color:rgb(35,31,31);
}
#P162_270
{
left:23880.3px;bottom:5724.78px;word-spacing:609.6px;color:rgb(35,31,31);
}
#P162_271
{
left:24499.9px;bottom:5724.78px;color:rgb(35,31,31);
}
#P162_272
{
left:24893.4px;bottom:5724.78px;color:rgb(35,31,31);
}
#P162_273
{
left:25051.8px;bottom:5695.21px;color:rgb(35,31,31);
}
#P162_274
{
left:25638.2px;bottom:5724.78px;color:rgb(35,31,31);
}
#P162_275
{
left:26574.6px;bottom:5695.21px;color:rgb(35,31,31);
}
#P162_276
{
left:27161px;bottom:5724.78px;color:rgb(35,31,31);
}
#P162_277
{
left:27319.4px;bottom:5724.78px;color:rgb(35,31,31);
}
#P162_278
{
left:27712.9px;bottom:5724.78px;color:rgb(35,31,31);
}
#P162_279
{
left:27871.3px;bottom:5695.21px;color:rgb(35,31,31);
}
#P162_280
{
left:28457.8px;bottom:5724.78px;color:rgb(35,31,31);
}
#P162_281
{
left:5497.11px;bottom:29537.6px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P162_282
{
left:12365.4px;bottom:29562.2px;color:white;
}
#P162_283
{
left:14573.8px;bottom:29754px;color:white;
}
#P162_284
{
left:14814px;bottom:29562.2px;color:white;
}
#P162_285
{
left:15294.4px;bottom:29754px;color:white;
}
#P162_286
{
left:15534.6px;bottom:29562.2px;color:white;
}
#P162_287
{
left:17151.1px;bottom:29754px;color:white;
}
#P162_288
{
left:17391.3px;bottom:29562.2px;letter-spacing:-11.9px;word-spacing:-32px;color:white;
}
#P162_289
{
left:0px;letter-spacing:0px;margin-left:11.9px;
}
#P162_290
{
left:10521px;bottom:29395.1px;
}
#P162_291
{
left:10521px;bottom:29395.1px;color:white;
}
#P162_292
{
left:5705.11px;bottom:6012.78px;color:rgb(35,31,31);
}
#P162_293
{
left:0px;letter-spacing:0px;margin-left:-66.2px;
}
#PageContainer162
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg162.jpg");background-repeat:no-repeat;background-size: 818px 1157px; background-position: 128.59px 76.1399999999999px;
}
#ImageContainer162 {bottom:130.86px;left:128.59px;width:818.01px;height:1156.91px;position:absolute;} #TextContainer162 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
 .example5{position: absolute;top: 531px;left: 106px;}
.nyr{position: absolute;top: 1148px;left: 126px;}
.nyr_exr{position: absolute;top: 1184px;left: 155px;color: rgb(35,31,31);font-size: 16px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}