.tr159{ color:transparent;}
#P159_1
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P159_2
{
left:22307.1px;bottom:1410.03px;color:rgb(35,31,31);
}
#P159_3
{
left:26859.6px;bottom:1410.03px;letter-spacing:3.7px;word-spacing:458.5px;color:rgb(35,31,31);
}
#P159_4
{
left:0px;letter-spacing:0px;margin-left:-462.2px;
}
#P159_5
{
left:0px;letter-spacing:2.7px;margin-left:-0.3px;
}
#P159_6
{
left:0px;letter-spacing:0.6px;margin-left:-7.1px;
}
#P159_7
{
left:0px;letter-spacing:0px;margin-left:-459.1px;
}
#P159_8
{
left:0px;letter-spacing:7.3px;margin-left:3.6px;
}
#P159_9
{
left:0px;letter-spacing:0px;margin-left:12.1px;
}
#P159_10
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P159_11
{
left:15421.4px;bottom:4268.65px;letter-spacing:228.8px;color:rgb(0,124,196);
}
#P159_12
{
left:15837.4px;bottom:4300.65px;letter-spacing:-9.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P159_13
{
left:0px;letter-spacing:-0.2px;margin-left:9.3px;
}
#P159_14
{
left:0px;letter-spacing:0.2px;margin-left:-4px;
}
#P159_15
{
left:15837.4px;bottom:3404.67px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P159_16
{
left:0px;letter-spacing:0px;margin-left:0.9px;
}
#P159_17
{
left:11555.5px;bottom:27622px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P159_18
{
left:0px;letter-spacing:0.4px;margin-left:14.1px;
}
#P159_19
{
left:0px;letter-spacing:-14px;margin-left:-42.5px;
}
#P159_20
{
left:0px;letter-spacing:0px;margin-left:-17.6px;
}
#P159_21
{
left:0px;letter-spacing:-0.9px;
}
#P159_22
{
left:0px;letter-spacing:-0.2px;margin-left:0.9px;
}
#P159_23
{
left:35171.1px;bottom:27622px;word-spacing:77.1px;color:rgb(35,31,31);
}
#P159_24
{
left:11555.5px;bottom:26726px;letter-spacing:0.6px;color:rgb(35,31,31);
}
#P159_25
{
left:11546.1px;bottom:25446px;letter-spacing:-9.3px;word-spacing:-147.8px;color:rgb(35,31,31);
}
#P159_26
{
left:0px;letter-spacing:0px;margin-left:609.3px;
}
#P159_27
{
left:0px;letter-spacing:-2.3px;margin-left:-12.5px;
}
#P159_28
{
left:15691.2px;bottom:25446px;color:rgb(35,31,31);
}
#P159_29
{
left:16222.7px;bottom:25416.4px;color:rgb(35,31,31);
}
#P159_30
{
left:16809.1px;bottom:25446px;color:rgb(35,31,31);
}
#P159_31
{
left:11555.5px;bottom:24166px;color:rgb(35,31,31);
}
#P159_32
{
left:0px;letter-spacing:0px;margin-left:2371.2px;
}
#P159_33
{
left:14775px;bottom:24136.4px;color:rgb(35,31,31);
}
#P159_34
{
left:15361.4px;bottom:24166px;color:rgb(35,31,31);
}
#P159_35
{
left:16424.5px;bottom:24136.4px;color:rgb(35,31,31);
}
#P159_36
{
left:17010.9px;bottom:24166px;color:rgb(35,31,31);
}
#P159_37
{
left:17700.8px;bottom:24136.4px;color:rgb(35,31,31);
}
#P159_38
{
left:18287.2px;bottom:24166px;color:rgb(35,31,31);
}
#P159_39
{
left:19596.6px;bottom:24136.4px;color:rgb(35,31,31);
}
#P159_40
{
left:20183.1px;bottom:24166px;color:rgb(35,31,31);
}
#P159_41
{
left:24995.5px;bottom:24173.9px;color:rgb(0,124,196);
}
#P159_42
{
left:11555.5px;bottom:22885.9px;letter-spacing:4513.6px;color:rgb(35,31,31);
}
#P159_43
{
left:16385.9px;bottom:22856.4px;color:rgb(35,31,31);
}
#P159_44
{
left:16972.3px;bottom:22885.9px;color:rgb(35,31,31);
}
#P159_45
{
left:17908.6px;bottom:22856.4px;color:rgb(35,31,31);
}
#P159_46
{
left:18495.1px;bottom:22885.9px;color:rgb(35,31,31);
}
#P159_47
{
left:19804.4px;bottom:22856.4px;color:rgb(35,31,31);
}
#P159_48
{
left:20390.9px;bottom:22885.9px;color:rgb(35,31,31);
}
#P159_49
{
left:21327.2px;bottom:22856.4px;color:rgb(35,31,31);
}
#P159_50
{
left:21913.6px;bottom:22885.9px;color:rgb(35,31,31);
}
#P159_51
{
left:24995.5px;bottom:22893.9px;color:rgb(0,124,196);
}
#P159_52
{
left:11555.5px;bottom:21605.9px;letter-spacing:4513.6px;color:rgb(35,31,31);
}
#P159_53
{
left:16385.9px;bottom:21576.4px;color:rgb(35,31,31);
}
#P159_54
{
left:16972.3px;bottom:21605.9px;color:rgb(35,31,31);
}
#P159_55
{
left:18408.5px;bottom:21576.4px;color:rgb(35,31,31);
}
#P159_56
{
left:18994.9px;bottom:21605.9px;color:rgb(35,31,31);
}
#P159_57
{
left:24995.5px;bottom:21613.9px;color:rgb(0,124,196);
}
#P159_58
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P159_59
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P159_60
{
left:11555.5px;bottom:20325.9px;letter-spacing:4513.6px;color:rgb(35,31,31);
}
#P159_61
{
left:16385.9px;bottom:20296.4px;color:rgb(35,31,31);
}
#P159_62
{
left:16972.3px;bottom:20325.9px;color:rgb(35,31,31);
}
#P159_63
{
left:24931.5px;bottom:20333.9px;color:rgb(0,124,196);
}
#P159_64
{
left:11555.5px;bottom:18469.9px;color:rgb(35,31,31);
}
#P159_65
{
left:14059.5px;bottom:18661.9px;word-spacing:545.6px;color:rgb(35,31,31);
}
#P159_66
{
left:0px;letter-spacing:0px;margin-left:-8.4px;
}
#P159_67
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P159_68
{
left:0px;letter-spacing:0px;margin-left:-545.6px;
}
#P159_69
{
left:15686.6px;bottom:18632.4px;color:rgb(35,31,31);
}
#P159_70
{
left:16273px;bottom:18661.9px;color:rgb(35,31,31);
}
#P159_71
{
left:17336px;bottom:18632.4px;color:rgb(35,31,31);
}
#P159_72
{
left:17922.5px;bottom:18661.9px;color:rgb(35,31,31);
}
#P159_73
{
left:11555.5px;bottom:16997.9px;color:rgb(35,31,31);
}
#P159_74
{
left:11683.5px;bottom:16997.9px;letter-spacing:-17.5px;color:rgb(35,31,31);
}
#P159_75
{
left:12899.5px;bottom:16997.9px;color:rgb(35,31,31);
}
#P159_76
{
left:13431px;bottom:16968.4px;color:rgb(35,31,31);
}
#P159_77
{
left:14017.4px;bottom:16997.9px;color:rgb(35,31,31);
}
#P159_78
{
left:24222.6px;bottom:16997.9px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P159_79
{
left:25379.6px;bottom:16997.9px;color:rgb(35,31,31);
}
#P159_80
{
left:25911.1px;bottom:16968.4px;color:rgb(35,31,31);
}
#P159_81
{
left:26497.6px;bottom:16997.9px;color:rgb(35,31,31);
}
#P159_82
{
left:11555.5px;bottom:15909.9px;color:rgb(35,31,31);
}
#P159_83
{
left:11683.5px;bottom:15909.9px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P159_84
{
left:12899.5px;bottom:15909.9px;color:rgb(35,31,31);
}
#P159_85
{
left:13804.2px;bottom:15880.4px;color:rgb(35,31,31);
}
#P159_86
{
left:14390.6px;bottom:15909.9px;color:rgb(35,31,31);
}
#P159_87
{
left:24205.1px;bottom:15909.9px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P159_88
{
left:25379.7px;bottom:15909.9px;color:rgb(35,31,31);
}
#P159_89
{
left:26284.3px;bottom:15880.4px;color:rgb(35,31,31);
}
#P159_90
{
left:26870.7px;bottom:15909.9px;color:rgb(35,31,31);
}
#P159_91
{
left:11555.5px;bottom:14821.9px;color:rgb(35,31,31);
}
#P159_92
{
left:11683.5px;bottom:14821.9px;letter-spacing:-17.4px;color:rgb(35,31,31);
}
#P159_93
{
left:12899.5px;bottom:14821.9px;color:rgb(35,31,31);
}
#P159_94
{
left:13804.2px;bottom:14792.3px;color:rgb(35,31,31);
}
#P159_95
{
left:14390.6px;bottom:14821.9px;color:rgb(35,31,31);
}
#P159_96
{
left:24195.2px;bottom:14821.9px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P159_97
{
left:25379.7px;bottom:14821.9px;color:rgb(35,31,31);
}
#P159_98
{
left:26284.3px;bottom:14792.3px;color:rgb(35,31,31);
}
#P159_99
{
left:26870.7px;bottom:14821.9px;color:rgb(35,31,31);
}
#P159_100
{
left:12433.7px;bottom:29182.1px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P159_101
{
left:15858.8px;bottom:29373.9px;color:rgb(255,223,126);
}
#P159_102
{
left:16483.5px;bottom:29182.1px;word-spacing:207.4px;color:white;
}
#P159_103
{
left:17395.9px;bottom:29373.9px;color:white;
}
#P159_104
{
left:17636.1px;bottom:29182.1px;color:white;
}
#P159_105
{
left:10693.3px;bottom:29058.6px;
}
#P159_106
{
left:10693.3px;bottom:29058.6px;color:white;
}
#P159_107
{
left:10477.4px;bottom:10284px;color:rgb(35,31,31);
}
#P159_108
{
left:10903.8px;bottom:10310.8px;color:rgb(35,31,31);
}
#P159_109
{
left:11464.2px;bottom:10284px;letter-spacing:326.8px;color:rgb(35,31,31);
}
#P159_110
{
left:0px;letter-spacing:-158.4px;margin-left:-485.2px;
}
#P159_111
{
left:0px;letter-spacing:-2px;margin-left:150px;
}
#P159_112
{
left:0px;letter-spacing:-0.3px;margin-left:2px;
}
#P159_113
{
left:10477.4px;bottom:9004.01px;color:rgb(35,31,31);
}
#P159_114
{
left:10903.8px;bottom:9030.83px;color:rgb(35,31,31);
}
#P159_115
{
left:11464.2px;bottom:9004.01px;letter-spacing:326.8px;color:rgb(35,31,31);
}
#P159_116
{
left:0px;letter-spacing:0px;margin-left:-485.2px;
}
#P159_117
{
left:11949.4px;bottom:9023.72px;word-spacing:-26px;color:rgb(2,77,161);
}
#P159_118
{
left:0px;letter-spacing:0px;margin-left:-26px;
}
#P159_119
{
left:0px;letter-spacing:0px;margin-left:26px;
}
#P159_120
{
left:18757.3px;bottom:9004.01px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P159_121
{
left:0px;letter-spacing:-7px;margin-left:-214.6px;
}
#P159_122
{
left:0px;letter-spacing:-0.1px;margin-left:7px;
}
#P159_123
{
left:11949.4px;bottom:8108.01px;letter-spacing:-0.2px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P159_124
{
left:11555.5px;bottom:43292.8px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P159_125
{
left:0px;letter-spacing:0.4px;margin-left:14.1px;
}
#P159_126
{
left:0px;letter-spacing:-14px;margin-left:-42.5px;
}
#P159_127
{
left:0px;letter-spacing:0px;margin-left:-17.6px;
}
#P159_128
{
left:0px;letter-spacing:-1.5px;
}
#P159_129
{
left:0px;letter-spacing:0px;margin-left:1.5px;
}
#P159_130
{
left:0px;letter-spacing:0px;margin-left:-225.2px;
}
#P159_131
{
left:0px;letter-spacing:0px;margin-left:77.1px;
}
#P159_132
{
left:0px;letter-spacing:0.5px;
}
#P159_133
{
left:11546.1px;bottom:42012.8px;letter-spacing:-9.3px;word-spacing:-147.8px;color:rgb(35,31,31);
}
#P159_134
{
left:0px;letter-spacing:0px;margin-left:609.3px;
}
#P159_135
{
left:0px;letter-spacing:-2.3px;margin-left:-12.5px;
}
#P159_136
{
left:15691.3px;bottom:42012.8px;color:rgb(35,31,31);
}
#P159_137
{
left:16595.9px;bottom:41983.2px;color:rgb(35,31,31);
}
#P159_138
{
left:17182.4px;bottom:42012.8px;color:rgb(35,31,31);
}
#P159_139
{
left:11555.5px;bottom:40540.8px;color:rgb(35,31,31);
}
#P159_140
{
left:17593.3px;bottom:40364.8px;word-spacing:1591.4px;color:rgb(35,31,31);
}
#P159_141
{
left:15843.5px;bottom:39468.8px;letter-spacing:709.3px;color:rgb(35,31,31);
}
#P159_142
{
left:16869.6px;bottom:39439.2px;color:rgb(35,31,31);
}
#P159_143
{
left:17455.9px;bottom:39468.8px;color:rgb(35,31,31);
}
#P159_144
{
left:0px;letter-spacing:0px;margin-left:193.6px;
}
#P159_145
{
left:17220.1px;bottom:38572.9px;word-spacing:1218.3px;color:rgb(35,31,31);
}
#P159_146
{
left:20451.5px;bottom:38580.8px;color:rgb(0,124,196);
}
#P159_147
{
left:15843.5px;bottom:37676.8px;color:rgb(35,31,31);
}
#P159_148
{
left:16848.5px;bottom:37647.2px;color:rgb(35,31,31);
}
#P159_149
{
left:17434.9px;bottom:37676.8px;color:rgb(35,31,31);
}
#P159_150
{
left:20451.5px;bottom:37684.8px;color:rgb(0,124,196);
}
#P159_151
{
left:17220.2px;bottom:36780.8px;word-spacing:1218.3px;color:rgb(35,31,31);
}
#P159_152
{
left:20451.5px;bottom:36788.8px;color:rgb(0,124,196);
}
#P159_153
{
left:11555.5px;bottom:34844.8px;color:rgb(35,31,31);
}
#P159_154
{
left:14059.5px;bottom:35036.8px;word-spacing:545.6px;color:rgb(35,31,31);
}
#P159_155
{
left:0px;letter-spacing:0px;margin-left:-8.4px;
}
#P159_156
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P159_157
{
left:0px;letter-spacing:0px;margin-left:-545.6px;
}
#P159_158
{
left:16059.7px;bottom:35007.2px;color:rgb(35,31,31);
}
#P159_159
{
left:16646.1px;bottom:35036.8px;color:rgb(35,31,31);
}
#P159_160
{
left:17336px;bottom:35007.2px;color:rgb(35,31,31);
}
#P159_161
{
left:17922.5px;bottom:35036.8px;color:rgb(35,31,31);
}
#P159_162
{
left:11555.5px;bottom:33372.8px;color:rgb(35,31,31);
}
#P159_163
{
left:11683.5px;bottom:33372.8px;letter-spacing:-17.5px;color:rgb(35,31,31);
}
#P159_164
{
left:12899.5px;bottom:33372.8px;color:rgb(35,31,31);
}
#P159_165
{
left:13804.1px;bottom:33343.2px;color:rgb(35,31,31);
}
#P159_166
{
left:14390.6px;bottom:33372.8px;color:rgb(35,31,31);
}
#P159_167
{
left:24158.6px;bottom:33372.8px;word-spacing:556.2px;color:rgb(35,31,31);
}
#P159_168
{
left:25379.6px;bottom:33372.8px;color:rgb(35,31,31);
}
#P159_169
{
left:26284.2px;bottom:33343.2px;color:rgb(35,31,31);
}
#P159_170
{
left:26870.7px;bottom:33372.8px;color:rgb(35,31,31);
}
#P159_171
{
left:11555.5px;bottom:32092.8px;color:rgb(35,31,31);
}
#P159_172
{
left:11683.5px;bottom:32092.8px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P159_173
{
left:12899.5px;bottom:32092.8px;color:rgb(35,31,31);
}
#P159_174
{
left:13804.1px;bottom:32063.2px;color:rgb(35,31,31);
}
#P159_175
{
left:14390.6px;bottom:32092.8px;color:rgb(35,31,31);
}
#P159_176
{
left:24141px;bottom:32092.8px;word-spacing:556.2px;color:rgb(35,31,31);
}
#P159_177
{
left:25379.6px;bottom:32092.8px;color:rgb(35,31,31);
}
#P159_178
{
left:26284.2px;bottom:32063.2px;color:rgb(35,31,31);
}
#P159_179
{
left:26870.7px;bottom:32092.8px;color:rgb(35,31,31);
}
#P159_180
{
left:12433.7px;bottom:44853px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P159_181
{
left:15858.8px;bottom:45044.8px;color:rgb(255,223,126);
}
#P159_182
{
left:16483.5px;bottom:44853px;word-spacing:207.4px;color:white;
}
#P159_183
{
left:17395.9px;bottom:45044.8px;color:white;
}
#P159_184
{
left:17636.1px;bottom:44853px;color:white;
}
#P159_185
{
left:10693.3px;bottom:44729.5px;
}
#P159_186
{
left:10693.3px;bottom:44729.5px;color:white;
}
#P159_187
{
left:20367.9px;bottom:40337.6px;color:rgb(0,124,196);
}
#P159_188
{
left:22539.7px;bottom:40309.4px;color:rgb(0,124,196);
}
#P159_189
{
left:23099.5px;bottom:40337.6px;color:rgb(0,124,196);
}
#P159_190
{
left:4925.34px;bottom:41023.6px;color:rgb(35,31,31);
}
#P159_191
{
left:4925.34px;bottom:40255.6px;letter-spacing:-8.3px;color:rgb(35,31,31);
}
#P159_192
{
left:0px;letter-spacing:0px;margin-left:8.3px;
}
#P159_193
{
left:4925.34px;bottom:39388.8px;color:rgb(35,31,31);
}
#P159_194
{
left:4925.34px;bottom:38652.8px;color:rgb(35,31,31);
}
#P159_195
{
left:4925.34px;bottom:37916.8px;color:rgb(35,31,31);
}
#P159_196
{
left:4925.34px;bottom:37180.8px;color:rgb(35,31,31);
}
#P159_197
{
left:4925.34px;bottom:36444.8px;color:rgb(35,31,31);
}
#P159_198
{
left:4925.34px;bottom:35708.8px;color:rgb(35,31,31);
}
#P159_199
{
left:4674.71px;bottom:42807.5px;letter-spacing:-20.4px;color:white;
}
#P159_200
{
left:4674.71px;bottom:41847.4px;letter-spacing:-27.2px;color:white;
}
#P159_201
{
left:6653.79px;bottom:42104.2px;color:white;
}
#P159_202
{
left:6929.05px;bottom:41847.4px;letter-spacing:-27.2px;color:white;
}
#PageContainer159
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg159.jpg");background-repeat:no-repeat;background-size: 1013px 1274px; background-position: 7.76px -0.410000000000082px;
}
#ImageContainer159 {bottom:90.41px;left:7.76px;width:1012.80px;height:1273.75px;position:absolute;} #TextContainer159 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.practice{ position: absolute; top: 1216px; left: 271px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}