.tr629{ color:transparent;}
#P629_1
{
left:4592.6px;bottom:1417.71px;color:rgb(35,31,31);
}
#P629_2
{
left:24582.7px;bottom:1410.03px;color:rgb(35,31,31);
}
#P629_3
{
left:29491.4px;bottom:1417.71px;letter-spacing:0.2px;word-spacing:462.1px;color:rgb(35,31,31);
}
#P629_4
{
left:0px;letter-spacing:0px;margin-left:-462.3px;
}
#P629_5
{
left:0px;letter-spacing:2.3px;
}
#P629_6
{
left:0px;letter-spacing:0px;margin-left:-464.4px;
}
#P629_7
{
left:0px;letter-spacing:2.2px;
}
#P629_8
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P629_9
{
left:30032.1px;bottom:32991.1px;color:rgb(147,40,33);
}
#P629_10
{
left:0px;letter-spacing:0px;margin-left:-6.5px;
}
#P629_11
{
left:0px;letter-spacing:0px;margin-left:-35.4px;
}
#P629_12
{
left:6994.71px;bottom:42321.3px;color:rgb(35,31,31);
}
#P629_13
{
left:7563.29px;bottom:42341px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P629_14
{
left:8658.71px;bottom:42341px;letter-spacing:-2.8px;color:rgb(2,77,161);
}
#P629_15
{
left: 13552.9px;bottom:42321.3px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P629_16
{
left:0px;letter-spacing:-10.5px;margin-left:-214.6px;
}
#P629_17
{
left:0px;letter-spacing:-0.5px;margin-left:10.5px;
}
#P629_18
{
left:0px;letter-spacing:0px;margin-left:0.5px;
}
#P629_19
{
left:6994.71px;bottom:40977.3px;color:rgb(35,31,31);
}
#P629_20
{
left:7563.29px;bottom:40997px;color:rgb(35,31,31);
}
#P629_21
{
left:8658.71px;bottom:40997px;color:rgb(2,77,161);
}
#P629_22
{
left: 12033.8px;bottom:40977.3px;letter-spacing:151.5px;color:rgb(35,31,31);
}
#P629_23
{
left:0px;letter-spacing:-0.5px;margin-left:-151.5px;
}
#P629_24
{
left:0px;letter-spacing:0.2px;margin-left:-13.4px;
}
#P629_25
{
left:0px;letter-spacing:0px;margin-left:-7.1px;
}
#P629_26
{
left:6994.71px;bottom:39633.3px;color:rgb(35,31,31);
}
#P629_27
{
left:7563.29px;bottom:39653px;color:rgb(35,31,31);
}
#P629_28
{
left:8658.71px;bottom:39653px;color:rgb(2,77,161);
}
#P629_29
{
left: 13351.1px;bottom:39633.3px;letter-spacing:151.5px;color:rgb(35,31,31);
}
#P629_30
{
left:0px;letter-spacing:5.5px;margin-left:-183.1px;
}
#P629_31
{
left:0px;letter-spacing:-0.9px;margin-left:-5.5px;
}
#P629_32
{
left:0px;letter-spacing:-0.2px;margin-left:-5.9px;
}
#P629_33
{
left:6994.71px;bottom:38033.3px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P629_34
{
left:6994.71px;bottom:36881.3px;color:rgb(35,31,31);
}
#P629_35
{
left:7563.29px;bottom:36901px;color:rgb(35,31,31);
}
#P629_36
{
left:8594.71px;bottom:36881.3px;color:rgb(35,31,31);
}
#P629_37
{
left:0px;letter-spacing:0px;margin-left:5945.7px;
}
#P629_38
{
left:17867.3px;bottom:36901px;color:rgb(35,31,31);
}
#P629_39
{
left:18898.7px;bottom:36881.3px;word-spacing:545.6px;color:rgb(35,31,31);
}
#P629_40
{
left:25067.7px;bottom:36881.3px;color:rgb(35,31,31);
}
#P629_41
{
left:28171.4px;bottom:36901px;color:rgb(35,31,31);
}
#P629_42
{
left:29074.8px;bottom:36881.3px;color:rgb(35,31,31);
}
#P629_43
{
left:6994.84px;bottom:35985.3px;color:rgb(35,31,31);
}
#P629_44
{
left:7954.84px;bottom:36005px;letter-spacing:444.3px;color:rgb(35,31,31);
}
#P629_45
{
left:0px;letter-spacing:444.3px;margin-left:9024px;
}
#P629_46
{
left:0px;letter-spacing:0px;margin-left:9024.1px;
}
#P629_47
{
left:6390.04px;bottom:28301.3px;color:rgb(33,31,31);
}
#P629_48
{
left:6476.45px;bottom:28332.8px;letter-spacing:-0.2px;color:rgb(33,31,31);
}
#P629_49
{
left:6759.46px;bottom:28435.5px;letter-spacing:0.8px;color:rgb(33,31,31);
}
#P629_50
{
left:6906.53px;bottom:28488.9px;color:rgb(33,31,31);
}
#P629_51
{
left:6468.51px;bottom:28122.1px;color:rgb(33,31,31);
}
#P629_52
{
left:6554.91px;bottom:28153.5px;letter-spacing:-0.2px;color:rgb(33,31,31);
}
#P629_53
{
left:6837.86px;bottom:28256.3px;letter-spacing:0.8px;color:rgb(33,31,31);
}
#P629_54
{
left:6563.74px;bottom:27942.9px;color:rgb(33,31,31);
}
#P629_55
{
left:6650.08px;bottom:27974.3px;letter-spacing:-0.7px;color:rgb(33,31,31);
}
#P629_56
{
left:6847.52px;bottom:28046px;color:rgb(33,31,31);
}
#P629_57
{
left:6933.09px;bottom:28077px;letter-spacing:0.8px;color:rgb(33,31,31);
}
#P629_58
{
left:6728.86px;bottom:27693.7px;color:rgb(33,31,31);
}
#P629_59
{
left:6815.26px;bottom:27725.1px;letter-spacing:-0.7px;color:rgb(33,31,31);
}
#P629_60
{
left:7012.7px;bottom:27796.8px;color:rgb(33,31,31);
}
#P629_61
{
left:7098.27px;bottom:27827.8px;letter-spacing:0.8px;color:rgb(33,31,31);
}
#P629_62
{
left:6973.4px;bottom:25861.5px;letter-spacing:-1.6px;color:rgb(35,31,31);
}
#P629_63
{
left:0px;letter-spacing:-4.4px;margin-left:1.6px;
}
#P629_64
{
left:0px;letter-spacing:0px;margin-left:4.4px;
}
#P629_65
{
left:6973.4px;bottom:24325.5px;color:rgb(35,31,31);
}
#P629_66
{
left:7541.98px;bottom:24345.3px;color:rgb(35,31,31);
}
#P629_67
{
left:8573.4px;bottom:24325.5px;color:rgb(35,31,31);
}
#P629_68
{
left:9690.65px;bottom:24296px;color:rgb(35,31,31);
}
#P629_69
{
left:10277.1px;bottom:24325.5px;color:rgb(35,31,31);
}
#P629_70
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P629_71
{
left:10456.6px;bottom:24765.2px;color:rgb(35,31,31);
}
#P629_72
{
left:11128.2px;bottom:24343.1px;color:rgb(35,31,31);
}
#P629_73
{
left:10435.4px;bottom:24309.5px;color:rgb(35,31,31);
}
#P629_74
{
left:11149.3px;bottom:24326.8px;color:rgb(35,31,31);
}
#P629_75
{
left:10600.1px;bottom:23857.7px;color:rgb(35,31,31);
}
#P629_76
{
left:10984.7px;bottom:24343.1px;color:rgb(35,31,31);
}
#P629_77
{
left:11149.3px;bottom:24325.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P629_78
{
left:14838px;bottom:24345.3px;color:rgb(35,31,31);
}
#P629_79
{
left:15869.4px;bottom:24325.5px;color:rgb(35,31,31);
}
#P629_80
{
left:17176.7px;bottom:24296px;color:rgb(35,31,31);
}
#P629_81
{
left:17763.2px;bottom:24325.5px;color:rgb(35,31,31);
}
#P629_82
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P629_83
{
left:17942.6px;bottom:24765.2px;color:rgb(35,31,31);
}
#P629_84
{
left:19453.8px;bottom:24343.1px;color:rgb(35,31,31);
}
#P629_85
{
left:17921.5px;bottom:24309.5px;color:rgb(35,31,31);
}
#P629_86
{
left:19474.9px;bottom:24326.8px;color:rgb(35,31,31);
}
#P629_87
{
left:18420.4px;bottom:23857.7px;color:rgb(35,31,31);
}
#P629_88
{
left:18976px;bottom:24343.1px;color:rgb(35,31,31);
}
#P629_89
{
left:19474.9px;bottom:24325.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P629_90
{
left:22262px;bottom:24345.3px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P629_91
{
left:23293.4px;bottom:24345.3px;color:rgb(35,31,31);
}
#P629_92
{
left:23314.5px;bottom:24767.3px;color:rgb(35,31,31);
}
#P629_93
{
left:23986.1px;bottom:24343.1px;color:rgb(35,31,31);
}
#P629_94
{
left:23293.4px;bottom:24311.6px;color:rgb(35,31,31);
}
#P629_95
{
left:24007.3px;bottom:24326.8px;color:rgb(35,31,31);
}
#P629_96
{
left:23482.4px;bottom:23859.8px;color:rgb(35,31,31);
}
#P629_97
{
left:23818.2px;bottom:24343.1px;color:rgb(35,31,31);
}
#P629_98
{
left:24165.7px;bottom:24325.5px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P629_99
{
left:25342px;bottom:24296px;color:rgb(35,31,31);
}
#P629_100
{
left:25928.4px;bottom:24325.5px;color:rgb(35,31,31);
}
#P629_101
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P629_102
{
left:26107.9px;bottom:24765.2px;color:rgb(35,31,31);
}
#P629_103
{
left:27929.5px;bottom:24343.1px;color:rgb(35,31,31);
}
#P629_104
{
left:26086.8px;bottom:24309.5px;color:rgb(35,31,31);
}
#P629_105
{
left:27950.6px;bottom:24326.8px;color:rgb(35,31,31);
}
#P629_106
{
left:26560.7px;bottom:23857.7px;color:rgb(35,31,31);
}
#P629_107
{
left:27476.8px;bottom:24343.1px;color:rgb(35,31,31);
}
#P629_108
{
left:27950.6px;bottom:24325.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P629_109
{
left:29230.6px;bottom:24345.3px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P629_110
{
left:30653.4px;bottom:24345.3px;color:rgb(35,31,31);
}
#P629_111
{
left:30674.5px;bottom:24767.3px;color:rgb(35,31,31);
}
#P629_112
{
left:31010.3px;bottom:24343.1px;color:rgb(35,31,31);
}
#P629_113
{
left:30653.4px;bottom:24311.6px;color:rgb(35,31,31);
}
#P629_114
{
left:31031.4px;bottom:24326.8px;color:rgb(35,31,31);
}
#P629_115
{
left:30674.5px;bottom:23859.8px;color:rgb(35,31,31);
}
#P629_116
{
left:31010.3px;bottom:24343.1px;color:rgb(35,31,31);
}
#P629_117
{
left:31189.8px;bottom:24325.5px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P629_118
{
left:31775.6px;bottom:24296px;color:rgb(35,31,31);
}
#P629_119
{
left:32362px;bottom:24325.5px;color:rgb(35,31,31);
}
#P629_120
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P629_121
{
left:32541.5px;bottom:24765.2px;color:rgb(35,31,31);
}
#P629_122
{
left:34124.8px;bottom:24343.1px;color:rgb(35,31,31);
}
#P629_123
{
left:32520.3px;bottom:24309.5px;color:rgb(35,31,31);
}
#P629_124
{
left:34145.9px;bottom:24326.8px;color:rgb(35,31,31);
}
#P629_125
{
left:32899.5px;bottom:23505.7px;letter-spacing:-142.6px;color:rgb(35,31,31);
}
#P629_126
{
left:32918.5px;bottom:23901.4px;color:rgb(35,31,31);
}
#P629_127
{
left:33220.7px;bottom:23521.5px;color:rgb(35,31,31);
}
#P629_128
{
left:32899.5px;bottom:23491.3px;color:rgb(35,31,31);
}
#P629_129
{
left:33239.7px;bottom:23506.8px;color:rgb(35,31,31);
}
#P629_130
{
left:32918.5px;bottom:23084.6px;color:rgb(35,31,31);
}
#P629_131
{
left:33220.7px;bottom:23521.5px;color:rgb(35,31,31);
}
#P629_132
{
left:33382.3px;bottom:23505.7px;word-spacing:-142.6px;color:rgb(35,31,31);
}
#P629_133
{
left:33766.9px;bottom:24343.1px;color:rgb(35,31,31);
}
#P629_134
{
left:34145.9px;bottom:24325.5px;color:rgb(35,31,31);
}
#P629_135
{
left:6973.4px;bottom:21637.5px;letter-spacing:-14.8px;color:rgb(35,31,31);
}
#P629_136
{
left:0px;letter-spacing:0.1px;margin-left:14.8px;
}
#P629_137
{
left:6973.4px;bottom:20485.4px;color:rgb(35,31,31);
}
#P629_138
{
left:7150.43px;bottom:20505.1px;color:rgb(35,31,31);
}
#P629_139
{
left:8573.27px;bottom:20485.4px;color:rgb(35,31,31);
}
#P629_140
{
left:17454.6px;bottom:20505.1px;color:rgb(35,31,31);
}
#P629_141
{
left:18877.4px;bottom:20485.4px;color:rgb(35,31,31);
}
#P629_142
{
left:0px;letter-spacing:0px;margin-left:105.6px;
}
#P629_143
{
left:0px;letter-spacing:0px;margin-left:105.6px;
}
#P629_144
{
left:27758.6px;bottom:20505.1px;color:rgb(35,31,31);
}
#P629_145
{
left:29053.4px;bottom:20485.4px;color:rgb(35,31,31);
}
#P629_146
{
left:0px;letter-spacing:0px;margin-left:105.6px;
}
#P629_147
{
left:0px;letter-spacing:0px;margin-left:105.6px;
}
#P629_148
{
left:0px;letter-spacing:0px;margin-left:-21px;
}
#P629_149
{
left:6973.53px;bottom:18821.5px;color:rgb(35,31,31);
}
#P629_150
{
left:7150.55px;bottom:18841.3px;color:rgb(35,31,31);
}
#P629_151
{
left:8573.4px;bottom:18821.5px;letter-spacing:-1.5px;color:rgb(35,31,31);
}
#P629_152
{
left:0px;letter-spacing:105.6px;margin-left:107.1px;
}
#P629_153
{
left:0px;letter-spacing:-1.4px;margin-left:-105.6px;
}
#P629_154
{
left:17454.7px;bottom:18841.3px;color:rgb(35,31,31);
}
#P629_155
{
left:18877.5px;bottom:18821.5px;color:rgb(35,31,31);
}
#P629_156
{
left:27758.7px;bottom:18841.3px;color:rgb(35,31,31);
}
#P629_157
{
left:29053.5px;bottom:18821.5px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P629_158
{
left:29447.6px;bottom:19261.2px;color:rgb(35,31,31);
}
#P629_159
{
left:29783.4px;bottom:18839.1px;color:rgb(35,31,31);
}
#P629_160
{
left:29426.5px;bottom:18805.5px;color:rgb(35,31,31);
}
#P629_161
{
left:29804.6px;bottom:18822.8px;color:rgb(35,31,31);
}
#P629_162
{
left:29447.6px;bottom:18353.7px;color:rgb(35,31,31);
}
#P629_163
{
left:29783.4px;bottom:18839.1px;color:rgb(35,31,31);
}
#P629_164
{
left:29963px;bottom:18821.5px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P629_165
{
left:0px;letter-spacing:0px;margin-left:105.6px;
}
#P629_166
{
left:0px;letter-spacing:0px;margin-left:105.6px;
}
#P629_167
{
left:31945.4px;bottom:19261.2px;color:rgb(35,31,31);
}
#P629_168
{
left:32281.2px;bottom:18839.1px;color:rgb(35,31,31);
}
#P629_169
{
left:31924.2px;bottom:18805.5px;color:rgb(35,31,31);
}
#P629_170
{
left:32302.3px;bottom:18822.8px;color:rgb(35,31,31);
}
#P629_171
{
left:31945.4px;bottom:18353.7px;color:rgb(35,31,31);
}
#P629_172
{
left:32281.2px;bottom:18839.1px;color:rgb(35,31,31);
}
#P629_173
{
left:32460.7px;bottom:18821.5px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P629_174
{
left:6973.4px;bottom:16517.5px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P629_175
{
left:6973.4px;bottom:15365.5px;color:rgb(35,31,31);
}
#P629_176
{
left:7150.55px;bottom:15385.3px;color:rgb(35,31,31);
}
#P629_177
{
left:8573.4px;bottom:15365.5px;color:rgb(35,31,31);
}
#P629_178
{
left:17454.6px;bottom:15385.3px;color:rgb(35,31,31);
}
#P629_179
{
left:18877.5px;bottom:15365.5px;color:rgb(35,31,31);
}
#P629_180
{
left:27758.7px;bottom:15385.3px;color:rgb(35,31,31);
}
#P629_181
{
left:29053.5px;bottom:15365.5px;color:rgb(35,31,31);
}
#P629_182
{
left:6973.66px;bottom:13637.5px;color:rgb(35,31,31);
}
#P629_183
{
left:7150.68px;bottom:13657.3px;color:rgb(35,31,31);
}
#P629_184
{
left:8573.53px;bottom:13637.5px;color:rgb(35,31,31);
}
#P629_185
{
left:17454.8px;bottom:13657.3px;color:rgb(35,31,31);
}
#P629_186
{
left:18877.7px;bottom:13637.5px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P629_187
{
left:27758.8px;bottom:13657.3px;color:rgb(35,31,31);
}
#P629_188
{
left:29053.7px;bottom:13637.5px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P629_189
{
left:29820.8px;bottom:14077.2px;color:rgb(35,31,31);
}
#P629_190
{
left:30156.6px;bottom:13655.1px;color:rgb(35,31,31);
}
#P629_191
{
left:29799.6px;bottom:13621.5px;color:rgb(35,31,31);
}
#P629_192
{
left:30177.7px;bottom:13638.8px;color:rgb(35,31,31);
}
#P629_193
{
left:29820.8px;bottom:13169.7px;color:rgb(35,31,31);
}
#P629_194
{
left:30156.6px;bottom:13655.1px;color:rgb(35,31,31);
}
#P629_195
{
left:30177.7px;bottom:13637.5px;color:rgb(35,31,31);
}
#P629_196
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P629_197
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P629_198
{
left:33884.2px;bottom:14077.2px;color:rgb(35,31,31);
}
#P629_199
{
left:34220px;bottom:13655.1px;color:rgb(35,31,31);
}
#P629_200
{
left:33863.1px;bottom:13621.5px;color:rgb(35,31,31);
}
#P629_201
{
left:34241.1px;bottom:13638.8px;color:rgb(35,31,31);
}
#P629_202
{
left:33884.2px;bottom:13169.7px;color:rgb(35,31,31);
}
#P629_203
{
left:34220px;bottom:13655.1px;color:rgb(35,31,31);
}
#P629_204
{
left:34399.5px;bottom:13637.5px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P629_205
{
left:6973.47px;bottom:11333.5px;color:rgb(35,31,31);
}
#P629_206
{
left:0px;letter-spacing:0px;margin-left:-31.6px;
}
#P629_207
{
left:0px;letter-spacing:0px;margin-left:-225.1px;
}
#P629_208
{
left:0px;letter-spacing:0px;margin-left:77.1px;
}
#P629_209
{
left:24545.8px;bottom:11333.5px;word-spacing:77.1px;color:rgb(35,31,31);
}
#P629_210
{
left:0px;letter-spacing:0px;margin-left:-77.1px;
}
#P629_211
{
left:6973.47px;bottom:10181.5px;color:rgb(35,31,31);
}
#P629_212
{
left:7150.49px;bottom:10201.3px;color:rgb(35,31,31);
}
#P629_213
{
left:8573.34px;bottom:10181.5px;letter-spacing:0.6px;color:rgb(35,31,31);
}
#P629_214
{
left:21934.5px;bottom:10201.3px;color:rgb(35,31,31);
}
#P629_215
{
left:23357.3px;bottom:10181.5px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P629_216
{
left:6973.47px;bottom:8837.55px;color:rgb(35,31,31);
}
#P629_217
{
left:7933.34px;bottom:8857.26px;color:rgb(35,31,31);
}
#P629_218
{
left:8829.4px;bottom:8559.34px;color:rgb(35,31,31);
}
#P629_219
{
left:13011.8px;bottom:8560.56px;letter-spacing:1708.8px;color:rgb(35,31,31);
}
#P629_220
{
left:0px;letter-spacing:0px;margin-left:-169.6px;
}
#P629_221
{
left:0px;letter-spacing:0px;
}
#P629_222
{
left:8829.4px;bottom:7407.34px;color:rgb(35,31,31);
}
#P629_223
{
left:12558.1px;bottom:7388.52px;color:rgb(35,31,31);
}
#P629_224
{
left:0px;letter-spacing:0px;margin-left:1068.6px;
}
#P629_225
{
left:0px;letter-spacing:0px;margin-left:1068.5px;
}
#P629_226
{
left:0px;letter-spacing:0px;margin-left:1068.6px;
}
#P629_227
{
left:20445.4px;bottom:8857.26px;letter-spacing:2076.3px;color:rgb(35,31,31);
}
#P629_228
{
left:23613.4px;bottom:8652.59px;letter-spacing:-30.8px;color:rgb(35,31,31);
}
#P629_229
{
left:0px;letter-spacing:0px;margin-left:30.8px;
}
#P629_230
{
left:26865.6px;bottom:8633.77px;color:rgb(35,31,31);
}
#P629_231
{
left:0px;letter-spacing:0px;margin-left:2161.7px;
}
#P629_232
{
left:0px;letter-spacing:0px;margin-left:1983.6px;
}
#P629_233
{
left:0px;letter-spacing:0px;margin-left:1805.6px;
}
#P629_234
{
left:23613.4px;bottom:7500.59px;color:rgb(35,31,31);
}
#P629_235
{
left:26598.5px;bottom:7481.77px;color:rgb(35,31,31);
}
#P629_236
{
left:0px;letter-spacing:0px;margin-left:1449.4px;
}
#P629_237
{
left:0px;letter-spacing:0px;margin-left:1538.4px;
}
#P629_238
{
left:0px;letter-spacing:0px;margin-left:1538.4px;
}
#P629_239
{
left:6973.4px;bottom:4805.55px;color:rgb(35,31,31);
}
#P629_240
{
left:7150.55px;bottom:4825.26px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P629_241
{
left:8637.4px;bottom:4825.26px;letter-spacing:-1.8px;color:rgb(2,77,161);
}
#P629_242
{
left:12741.8px;bottom:4805.55px;letter-spacing:-2.8px;word-spacing:193.6px;color:rgb(35,31,31);
}
#P629_243
{
left:0px;letter-spacing:0px;margin-left:-190.8px;
}
#P629_244
{
left:0px;letter-spacing:0px;
}
#P629_245
{
left:15048.1px;bottom:4973.1px;letter-spacing:-84.4px;color:rgb(35,31,31);
}
#P629_246
{
left:0px;letter-spacing:0px;margin-left:84.4px;
}
#P629_247
{
left:16242.9px;bottom:4805.55px;letter-spacing:-1.2px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P629_248
{
left:0px;letter-spacing:-2px;margin-left:1.1px;
}
#P629_249
{
left:0px;letter-spacing:-3.2px;margin-left:1.9px;
}
#P629_250
{
left:0px;letter-spacing:-0.1px;margin-left:3.2px;
}
#P629_251
{
left:29984.7px;bottom:4973.1px;letter-spacing:-84.4px;color:rgb(35,31,31);
}
#P629_252
{
left:0px;letter-spacing:0px;margin-left:84.4px;
}
#P629_253
{
left:31179.4px;bottom:4805.55px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P629_254
{
left:8637.4px;bottom:3909.57px;letter-spacing:-1.2px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P629_255
{
left:0px;letter-spacing:-21.1px;margin-left:-12.8px;
}
#P629_256
{
left:0px;letter-spacing:-1.7px;margin-left:21.1px;
}
#P629_257
{
left:0px;letter-spacing:-1.3px;margin-left:1.6px;
}
#P629_258
{
left:0px;letter-spacing:-0.1px;margin-left:1.3px;
}
#P629_259
{
left:6258.71px;bottom:20524.3px;
}
#P629_260
{
left:6258.71px;bottom:20524.3px;color:white;
}
#P629_261
{
left:6267.8px;bottom:10290.7px;
}
#P629_262
{
left:6267.8px;bottom:10290.7px;color:white;
}
#P629_263
{
left:29089.2px;bottom:46233.7px;letter-spacing:0.1px;word-spacing:0.2px;color:rgb(33,31,31);
}
#P629_264
{
left:8170.27px;bottom:47021.1px;letter-spacing:-6px;color:white;
}
#P629_265
{
left:11382.7px;bottom:47319.5px;color:white;
}
#P629_266
{
left:11756.3px;bottom:47021.1px;color:white;
}
#P629_267
{
left:4652.51px;bottom:46993.9px;color:white;
}
#PageContainer629
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg629.jpg");background-repeat:no-repeat;background-size: 1003px 1140px; background-position: 1.67px 33.8699999999999px;
}
#ImageContainer629 {bottom:190.13px;left:1.67px;width:1003.33px;height:1140.11px;position:absolute;} #TextContainer629 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.answer{ position: absolute; top: 42px; left: 87px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

.circle1{position:absolute;top: 778px;left: 155px;}
.circle2{position:absolute;top: 1055px;left: 155px;}
#middle-toolbar img{vertical-align: middle;}