.tr77{ color:transparent;}
#P77_1
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P77_2
{
left:27821px;bottom:1410.03px;letter-spacing:1.8px;word-spacing:461.5px;color:rgb(35,31,31);
}
#P77_3
{
left:0px;letter-spacing:0px;margin-left:176.7px;
}
#P77_4
{
left:0px;letter-spacing:6.3px;margin-left:21.2px;
}
#P77_5
{
left:36142px;bottom:1410.03px;color:rgb(35,31,31);
}
#P77_6
{
left:6973.4px;bottom:45479.5px;color:rgb(35,31,31);
}
#P77_7
{
left:7150.55px;bottom:45499.2px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P77_8
{
left:8573.4px;bottom:45479.5px;letter-spacing:-63.2px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P77_9
{
left:0px;letter-spacing:-0.3px;margin-left:63.2px;
}
#P77_10
{
left:0px;letter-spacing:-21.1px;margin-left:-13.7px;
}
#P77_11
{
left:0px;letter-spacing:0px;margin-left:-42.2px;
}
#P77_12
{
left:0px;letter-spacing:-0.1px;margin-left:-0.1px;
}
#P77_13
{
left:8573.4px;bottom:44583.5px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P77_14
{
left:0px;letter-spacing:-21.1px;margin-left:-3px;
}
#P77_15
{
left:0px;letter-spacing:-42px;margin-left:21.1px;
}
#P77_16
{
left:0px;letter-spacing:0px;margin-left:42px;
}
#P77_17
{
left:8573.4px;bottom:43687.5px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P77_18
{
left:0px;letter-spacing:-0.3px;margin-left:0.7px;
}
#P77_19
{
left:23939px;bottom:43687.5px;color:rgb(0,124,196);
}
#P77_20
{
left:6973.4px;bottom:41447.5px;color:rgb(35,31,31);
}
#P77_21
{
left:7150.55px;bottom:41467.2px;color:rgb(35,31,31);
}
#P77_22
{
left:8573.4px;bottom:41447.5px;letter-spacing:-0.6px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P77_23
{
left:0px;letter-spacing:-0.8px;margin-left:0.4px;
}
#P77_24
{
left:0px;letter-spacing:-56.2px;margin-left:-20.2px;
}
#P77_25
{
left:6973.4px;bottom:39975.5px;color:rgb(35,31,31);
}
#P77_26
{
left:7933.4px;bottom:39995.2px;color:rgb(35,31,31);
}
#P77_27
{
left:11197.4px;bottom:39581.2px;color:rgb(35,31,31);
}
#P77_28
{
left:12225.9px;bottom:39593.8px;color:rgb(35,31,31);
}
#P77_29
{
left:12812.4px;bottom:39581.2px;color:rgb(35,31,31);
}
#P77_30
{
left:13624.7px;bottom:39936.4px;color:rgb(35,31,31);
}
#P77_31
{
left:13925.2px;bottom:39581.2px;color:rgb(35,31,31);
}
#P77_32
{
left:14101.2px;bottom:39593.8px;color:rgb(35,31,31);
}
#P77_33
{
left:14687.6px;bottom:39581.2px;color:rgb(35,31,31);
}
#P77_34
{
left:15521.1px;bottom:39593.8px;color:rgb(35,31,31);
}
#P77_35
{
left:16107.5px;bottom:39581.2px;color:rgb(35,31,31);
}
#P77_36
{
left:16856.6px;bottom:39593.8px;color:rgb(35,31,31);
}
#P77_37
{
left:17443px;bottom:39581.2px;color:rgb(35,31,31);
}
#P77_38
{
left:18647.6px;bottom:39593.8px;color:rgb(35,31,31);
}
#P77_39
{
left:19234px;bottom:39581.2px;color:rgb(35,31,31);
}
#P77_40
{
left:20306.9px;bottom:39593.8px;color:rgb(35,31,31);
}
#P77_41
{
left:20893.3px;bottom:39581.2px;color:rgb(35,31,31);
}
#P77_42
{
left:21726.8px;bottom:39593.8px;color:rgb(35,31,31);
}
#P77_43
{
left:22313.2px;bottom:39581.2px;color:rgb(35,31,31);
}
#P77_44
{
left:11197.4px;bottom:38429.2px;color:rgb(35,31,31);
}
#P77_45
{
left:16861.5px;bottom:38441.8px;color:rgb(35,31,31);
}
#P77_46
{
left:17447.9px;bottom:38429.2px;color:rgb(35,31,31);
}
#P77_47
{
left:18652.4px;bottom:38441.8px;color:rgb(35,31,31);
}
#P77_48
{
left:19238.9px;bottom:38429.2px;color:rgb(35,31,31);
}
#P77_49
{
left:19928.8px;bottom:38441.8px;color:rgb(35,31,31);
}
#P77_50
{
left:20515.2px;bottom:38429.2px;color:rgb(35,31,31);
}
#P77_51
{
left:11197.3px;bottom:37277px;color:rgb(35,31,31);
}
#P77_52
{
left:16861.4px;bottom:37289.7px;color:rgb(35,31,31);
}
#P77_53
{
left:17447.8px;bottom:37277px;color:rgb(35,31,31);
}
#P77_54
{
left:18652.4px;bottom:37289.7px;color:rgb(35,31,31);
}
#P77_55
{
left:19238.7px;bottom:37277px;color:rgb(35,31,31);
}
#P77_56
{
left:11197.3px;bottom:36125px;color:rgb(35,31,31);
}
#P77_57
{
left:16861.3px;bottom:36137.7px;color:rgb(35,31,31);
}
#P77_58
{
left:17447.8px;bottom:36125px;color:rgb(35,31,31);
}
#P77_59
{
left:6973.27px;bottom:34356.7px;color:rgb(35,31,31);
}
#P77_60
{
left:7933.27px;bottom:34376.4px;letter-spacing:444.3px;color:rgb(35,31,31);
}
#P77_61
{
left:8573.27px;bottom:34356.7px;letter-spacing:-0.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P77_62
{
left:0px;letter-spacing:-0.1px;margin-left:0.3px;
}
#P77_63
{
left:27156.1px;bottom:34356.8px;letter-spacing:1px;color:rgb(0,124,196);
}
#P77_64
{
left:6973.4px;bottom:32884.8px;color:rgb(35,31,31);
}
#P77_65
{
left:8696.15px;bottom:32904.6px;letter-spacing:-90.7px;color:rgb(35,31,31);
}
#P77_66
{
left:9153.11px;bottom:32884.8px;letter-spacing:285.9px;color:rgb(35,31,31);
}
#P77_67
{
left:0px;letter-spacing:-1.8px;margin-left:-290px;
}
#P77_68
{
left:0px;letter-spacing:-0.9px;margin-left:1.8px;
}
#P77_69
{
left:0px;letter-spacing:0.7px;margin-left:0.9px;
}
#P77_70
{
left:6973.4px;bottom:31348.8px;color:rgb(35,31,31);
}
#P77_71
{
left:8449.11px;bottom:31368.6px;color:rgb(35,31,31);
}
#P77_72
{
left:9153.11px;bottom:31348.8px;letter-spacing:285.9px;color:rgb(35,31,31);
}
#P77_73
{
left:0px;letter-spacing:0px;margin-left:-311.2px;
}
#P77_74
{
left:0px;letter-spacing:-1.3px;
}
#P77_75
{
left:0px;letter-spacing:-0.3px;margin-left:1.3px;
}
#P77_76
{
left:0px;letter-spacing:0px;margin-left:-6.6px;
}
#P77_77
{
left:6973.4px;bottom:29812.8px;color:rgb(35,31,31);
}
#P77_78
{
left:8449.11px;bottom:29832.6px;color:rgb(35,31,31);
}
#P77_79
{
left:9153.11px;bottom:29812.8px;letter-spacing:285.9px;color:rgb(35,31,31);
}
#P77_80
{
left:0px;letter-spacing:-1.8px;margin-left:-290px;
}
#P77_81
{
left:0px;letter-spacing:-0.9px;margin-left:1.8px;
}
#P77_82
{
left:0px;letter-spacing:0.7px;margin-left:0.9px;
}
#P77_83
{
left:6973.4px;bottom:28277px;color:rgb(35,31,31);
}
#P77_84
{
left:8761.69px;bottom:28296.7px;color:rgb(35,31,31);
}
#P77_85
{
left:9153.11px;bottom:28277px;letter-spacing:285.9px;color:rgb(35,31,31);
}
#P77_86
{
left:0px;letter-spacing:0px;margin-left:-444.3px;
}
#P77_87
{
left:0px;letter-spacing:-1.8px;margin-left:-4.2px;
}
#P77_88
{
left:0px;letter-spacing:-0.9px;margin-left:1.8px;
}
#P77_89
{
left:0px;letter-spacing:0px;margin-left:0.9px;
}
#P77_90
{
left:9597.4px;bottom:27381px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P77_91
{
left:0px;letter-spacing:-0.7px;margin-left:-13.8px;
}
#P77_92
{
left:0px;letter-spacing:0px;margin-left:0.7px;
}
#P77_93
{
left:6973.4px;bottom:24949px;color:rgb(35,31,31);
}
#P77_94
{
left:7150.55px;bottom:24968.7px;color:rgb(35,31,31);
}
#P77_95
{
left:8573.4px;bottom:24949px;letter-spacing:-1.9px;color:rgb(35,31,31);
}
#P77_96
{
left:0px;letter-spacing:-0.3px;margin-left:1.9px;
}
#P77_97
{
left:10230.1px;bottom:23477px;word-spacing:545.6px;color:rgb(35,31,31);
}
#P77_98
{
left:0px;letter-spacing:0px;margin-left:-545.6px;
}
#P77_99
{
left:0px;letter-spacing:0px;margin-left:-545.6px;
}
#P77_100
{
left:0px;letter-spacing:0px;margin-left:-545.6px;
}
#P77_101
{
left:0px;letter-spacing:0px;margin-left:-545.6px;
}
#P77_102
{
left:0px;letter-spacing:0px;margin-left:-545.6px;
}
#P77_103
{
left:0px;letter-spacing:0px;margin-left:-545.6px;
}
#P77_104
{
left:6973.4px;bottom:22005.1px;color:rgb(35,31,31);
}
#P77_105
{
left:7933.4px;bottom:22024.8px;letter-spacing:444.3px;color:rgb(35,31,31);
}
#P77_106
{
left:8573.4px;bottom:22005.1px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P77_107
{
left:0px;letter-spacing:-0.5px;margin-left:158.4px;
}
#P77_108
{
left:0px;letter-spacing:0px;margin-left:0.5px;
}
#P77_109
{
left:8573.4px;bottom:21109.1px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P77_110
{
left:0px;letter-spacing:0px;margin-left:1px;
}
#P77_111
{
left:19344.8px;bottom:21108.8px;color:rgb(0,124,196);
}
#P77_112
{
left:6973.4px;bottom:18676.8px;color:rgb(35,31,31);
}
#P77_113
{
left:7150.55px;bottom:18696.6px;color:rgb(35,31,31);
}
#P77_114
{
left:8573.4px;bottom:18676.8px;color:rgb(35,31,31);
}
#P77_115
{
left:14199.5px;bottom:18676.8px;color:rgb(35,31,31);
}
#P77_116
{
left:15252.7px;bottom:18676.8px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P77_117
{
left:21460.6px;bottom:18676.8px;letter-spacing:1px;color:rgb(0,124,196);
}
#P77_118
{
left:6973.4px;bottom:17204.8px;color:rgb(35,31,31);
}
#P77_119
{
left:8449.11px;bottom:17224.6px;color:rgb(35,31,31);
}
#P77_120
{
left:9597.41px;bottom:17204.8px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P77_121
{
left:23119.4px;bottom:17224.6px;color:rgb(35,31,31);
}
#P77_122
{
left:24189.5px;bottom:17204.8px;color:rgb(35,31,31);
}
#P77_123
{
left:6973.53px;bottom:15668.8px;color:rgb(35,31,31);
}
#P77_124
{
left:8527.39px;bottom:15688.6px;color:rgb(35,31,31);
}
#P77_125
{
left:9597.54px;bottom:15668.8px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P77_126
{
left:23041.4px;bottom:15688.6px;color:rgb(35,31,31);
}
#P77_127
{
left:24189.7px;bottom:15668.8px;color:rgb(35,31,31);
}
#P77_128
{
left:6973.66px;bottom:13237px;color:rgb(35,31,31);
}
#P77_129
{
left:7150.81px;bottom:13256.7px;color:rgb(35,31,31);
}
#P77_130
{
left:8573.66px;bottom:13237px;color:rgb(35,31,31);
}
#P77_131
{
left:26817.2px;bottom:13236.8px;color:rgb(0,124,196);
}
#P77_132
{
left:6973.4px;bottom:11764.8px;color:rgb(35,31,31);
}
#P77_133
{
left:8696.15px;bottom:11784.6px;letter-spacing:-90.7px;color:rgb(35,31,31);
}
#P77_134
{
left:9597.41px;bottom:11764.8px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P77_135
{
left:0px;letter-spacing:0px;margin-left:-285.9px;
}
#P77_136
{
left:23041.2px;bottom:11784.6px;color:rgb(35,31,31);
}
#P77_137
{
left:24189.5px;bottom:11764.8px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P77_138
{
left:0px;letter-spacing:0px;margin-left:-285.9px;
}
#P77_139
{
left:6973.47px;bottom:10228.8px;color:rgb(35,31,31);
}
#P77_140
{
left:8449.18px;bottom:10248.6px;color:rgb(35,31,31);
}
#P77_141
{
left:9597.47px;bottom:10228.8px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P77_142
{
left:0px;letter-spacing:0px;margin-left:-285.9px;
}
#P77_143
{
left:23353.9px;bottom:10248.6px;color:rgb(35,31,31);
}
#P77_144
{
left:24189.6px;bottom:10228.8px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P77_145
{
left:0px;letter-spacing:0px;margin-left:-285.9px;
}
#P77_146
{
left:6973.53px;bottom:7796.91px;color:rgb(35,31,31);
}
#P77_147
{
left:7150.68px;bottom:7816.62px;color:rgb(35,31,31);
}
#P77_148
{
left:8573.53px;bottom:7796.91px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P77_149
{
left:0px;letter-spacing:-2.1px;margin-left:0.5px;
}
#P77_150
{
left:0px;letter-spacing:0px;margin-left:2.1px;
}
#P77_151
{
left:26174.9px;bottom:7796.84px;letter-spacing:1px;color:rgb(0,124,196);
}
#P77_152
{
left:14700.7px;bottom:6324.84px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P77_153
{
left:14721.8px;bottom:6764.52px;color:rgb(35,31,31);
}
#P77_154
{
left:15757.8px;bottom:6737.91px;color:rgb(35,31,31);
}
#P77_155
{
left:16285.5px;bottom:6764.52px;color:rgb(35,31,31);
}
#P77_156
{
left:16763.9px;bottom:7073.88px;color:rgb(35,31,31);
}
#P77_157
{
left:17008px;bottom:6764.52px;color:rgb(35,31,31);
}
#P77_158
{
left:17372.4px;bottom:6737.91px;color:rgb(35,31,31);
}
#P77_159
{
left:17900.1px;bottom:6764.52px;color:rgb(35,31,31);
}
#P77_160
{
left:0px;bottom:0px;letter-spacing:0px;color:rgb(35,31,31);
}
#P77_161
{
left:14700.7px;bottom:6308.83px;color:rgb(35,31,31);
}
#P77_162
{
left:18399.6px;bottom:6326.11px;color:rgb(35,31,31);
}
#P77_163
{
left:16382.2px;bottom:5857px;color:rgb(35,31,31);
}
#P77_164
{
left:16718px;bottom:6342.44px;color:rgb(35,31,31);
}
#P77_165
{
left:18399.6px;bottom:6324.84px;color:rgb(35,31,31);
}
#P77_166
{
left:6973.4px;bottom:4852.84px;color:rgb(35,31,31);
}
#P77_167
{
left:8449.11px;bottom:4872.56px;color:rgb(35,31,31);
}
#P77_168
{
left:9597.41px;bottom:4852.84px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P77_169
{
left:23119.3px;bottom:4872.56px;color:rgb(35,31,31);
}
#P77_170
{
left:23745.1px;bottom:4852.84px;letter-spacing:285.9px;color:rgb(35,31,31);
}
#P77_171
{
left:6973.4px;bottom:3316.86px;color:rgb(35,31,31);
}
#P77_172
{
left:8527.26px;bottom:3336.57px;color:rgb(35,31,31);
}
#P77_173
{
left:9597.41px;bottom:3316.86px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P77_174
{
left:23041.1px;bottom:3336.57px;color:rgb(35,31,31);
}
#P77_175
{
left:24189.4px;bottom:3316.86px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P77_176
{
left:24956.8px;bottom:3756.52px;color:rgb(35,31,31);
}
#P77_177
{
left:25292.6px;bottom:3334.44px;color:rgb(35,31,31);
}
#P77_178
{
left:24935.6px;bottom:3300.83px;color:rgb(35,31,31);
}
#P77_179
{
left:25313.7px;bottom:3318.11px;color:rgb(35,31,31);
}
#P77_180
{
left:24956.8px;bottom:2849px;color:rgb(35,31,31);
}
#P77_181
{
left:25292.6px;bottom:3334.44px;color:rgb(35,31,31);
}
#P77_182
{
left:25313.7px;bottom:3316.84px;color:rgb(35,31,31);
}
#P77_183
{
left:18378.5px;bottom:6342.44px;
}
#PageContainer77
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg077.jpg");background-repeat:no-repeat;background-size: 1066px 756px; background-position: 1px -0.549999999999955px;
}
#ImageContainer77 {bottom:608.55px;right:0.00px;width:1066.24px;height:755.61px;position:absolute;} #TextContainer77 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}