.tr536{ color:transparent;}
#P536_1
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P536_2
{
left:3540.44px;bottom:1410.03px;color:rgb(35,31,31);
}
#P536_3
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P536_4
{
left:8197.72px;bottom:1410.03px;letter-spacing:462.1px;color:rgb(35,31,31);
}
#P536_5
{
left:0px;letter-spacing:4.9px;margin-left:-459.2px;
}
#P536_6
{
left:6188.31px;bottom:44834.3px;letter-spacing:9.6px;
}
#P536_7
{
left:6188.31px;bottom:44834.3px;letter-spacing:9.6px;color:white;
}
#P536_8
{
left:8722.71px;bottom:44870.1px;letter-spacing:-2.2px;color:rgb(2,77,161);
}
#P536_9
{
left:12003.5px;bottom:45061.9px;color:rgb(2,77,161);
}
#P536_10
{
left:12243.7px;bottom:44870.1px;letter-spacing:-0.8px;color:rgb(2,77,161);
}
#P536_11
{
left:17500.3px;bottom:44919.8px;color:rgb(2,77,161);
}
#P536_12
{
left:7730.71px;bottom:43430.3px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P536_13
{
left:6962.71px;bottom:42278.1px;color:rgb(35,31,31);
}
#P536_14
{
left:7690.65px;bottom:42278.1px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P536_15
{
left:8749.85px;bottom:42278.1px;color:rgb(35,31,31);
}
#P536_16
{
left:9281.37px;bottom:42248.6px;color:rgb(35,31,31);
}
#P536_17
{
left:9867.8px;bottom:42278.1px;color:rgb(35,31,31);
}
#P536_18
{
left:10026.1px;bottom:42278.3px;color:rgb(235,26,35);
}
#P536_19
{
left:10772.3px;bottom:42278.3px;color:rgb(35,31,31);
}
#P536_20
{
left:10930.7px;bottom:42248.7px;color:rgb(35,31,31);
}
#P536_21
{
left:11517.1px;bottom:42278.3px;color:rgb(35,31,31);
}
#P536_22
{
left:12207.1px;bottom:42248.7px;color:rgb(35,31,31);
}
#P536_23
{
left:12793.5px;bottom:42278.3px;color:rgb(35,31,31);
}
#P536_24
{
left:13198.3px;bottom:42248.7px;color:rgb(235,26,35);
}
#P536_25
{
left:13784.7px;bottom:42278.3px;color:rgb(235,26,35);
}
#P536_26
{
left:14531px;bottom:42278.3px;color:rgb(35,31,31);
}
#P536_27
{
left:18162.7px;bottom:42286.3px;color:rgb(0,124,196);
}
#P536_28
{
left:6962.71px;bottom:40998.3px;letter-spacing:1132.2px;color:rgb(35,31,31);
}
#P536_29
{
left:0px;letter-spacing:0px;margin-left:-768px;
}
#P536_30
{
left:10738.7px;bottom:40998.3px;color:rgb(35,31,31);
}
#P536_31
{
left:10897.1px;bottom:40968.7px;color:rgb(35,31,31);
}
#P536_32
{
left:11483.5px;bottom:40998.3px;color:rgb(35,31,31);
}
#P536_33
{
left:11641.9px;bottom:40968.7px;color:rgb(35,31,31);
}
#P536_34
{
left:12228.4px;bottom:40998.3px;color:rgb(35,31,31);
}
#P536_35
{
left:18162.7px;bottom:41006.3px;color:rgb(0,124,196);
}
#P536_36
{
left:9338.71px;bottom:39695.9px;letter-spacing:520.3px;color:rgb(35,31,31);
}
#P536_37
{
left:0px;letter-spacing:-0.9px;margin-left:-520.3px;
}
#P536_38
{
left:15436.2px;bottom:39666.3px;color:rgb(35,31,31);
}
#P536_39
{
left:16022.6px;bottom:39695.9px;color:rgb(35,31,31);
}
#P536_40
{
left:6962.71px;bottom:38031.9px;color:rgb(35,31,31);
}
#P536_41
{
left:7654.62px;bottom:38031.9px;letter-spacing:-17.5px;color:rgb(35,31,31);
}
#P536_42
{
left:8684.12px;bottom:38002.3px;color:rgb(35,31,31);
}
#P536_43
{
left:9270.55px;bottom:38031.9px;color:rgb(35,31,31);
}
#P536_44
{
left:9802.07px;bottom:38002.3px;color:rgb(35,31,31);
}
#P536_45
{
left:10388.5px;bottom:38031.9px;color:rgb(35,31,31);
}
#P536_46
{
left:10793.3px;bottom:38002.3px;color:rgb(235,26,35);
}
#P536_47
{
left:11379.7px;bottom:38031.9px;color:rgb(235,26,35);
}
#P536_48
{
left:12126px;bottom:38031.9px;color:rgb(35,31,31);
}
#P536_49
{
left:12530.7px;bottom:38002.3px;color:rgb(35,31,31);
}
#P536_50
{
left:13117.1px;bottom:38031.9px;color:rgb(35,31,31);
}
#P536_51
{
left:13275.5px;bottom:38002.3px;color:rgb(35,31,31);
}
#P536_52
{
left:13862px;bottom:38031.9px;color:rgb(35,31,31);
}
#P536_53
{
left:14393.5px;bottom:38002.3px;color:rgb(35,31,31);
}
#P536_54
{
left:14979.9px;bottom:38031.9px;color:rgb(35,31,31);
}
#P536_55
{
left:15138.3px;bottom:38031.9px;color:rgb(235,26,35);
}
#P536_56
{
left:15884.6px;bottom:38031.9px;color:rgb(35,31,31);
}
#P536_57
{
left:18162.7px;bottom:38039.9px;color:rgb(0,124,196);
}
#P536_58
{
left:23361.2px;bottom:38011.6px;color:rgb(0,124,196);
}
#P536_59
{
left:23921px;bottom:38039.9px;color:rgb(0,124,196);
}
#P536_60
{
left:6962.71px;bottom:36751.9px;letter-spacing:1121.6px;color:rgb(35,31,31);
}
#P536_61
{
left:0px;letter-spacing:0px;margin-left:2849.6px;
}
#P536_62
{
left:12530.7px;bottom:36722.3px;color:rgb(35,31,31);
}
#P536_63
{
left:13117.1px;bottom:36751.9px;color:rgb(35,31,31);
}
#P536_64
{
left:13648.7px;bottom:36751.9px;color:rgb(35,31,31);
}
#P536_65
{
left:18162.7px;bottom:36759.9px;color:rgb(0,124,196);
}
#P536_66
{
left:7730.71px;bottom:35457.5px;color:rgb(0,124,196);
}
#P536_67
{
left:9274.71px;bottom:35449.5px;letter-spacing:520.3px;color:rgb(35,31,31);
}
#P536_68
{
left:0px;letter-spacing:-0.8px;margin-left:-520.3px;
}
#P536_69
{
left:7627.99px;bottom:23630.3px;letter-spacing:-9.3px;word-spacing:580.1px;color:rgb(35,31,31);
}
#P536_69a
{
left:8627.99px;bottom:23630.3px;letter-spacing:-9.3px;word-spacing:580.1px;color:rgb(35,31,31);
}
#P536_70
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P536_71
{
left:0px;letter-spacing:0px;margin-left:-15.5px;
}
#P536_72
{
left:10348.8px;bottom:23600.7px;color:rgb(35,31,31);
}
#P536_73
{
left:10935.2px;bottom:23630.3px;color:rgb(35,31,31);
}
#P536_74
{
left:11424.5px;bottom:23191.7px;color:rgb(35,31,31);
}
#P536_75
{
left:11776.2px;bottom:23630.3px;color:rgb(35,31,31);
}
#P536_76
{
left:12181px;bottom:23600.7px;color:rgb(35,31,31);
}
#P536_77
{
left:12767.4px;bottom:23630.3px;color:rgb(35,31,31);
}
#P536_78
{
left:14909.4px;bottom:19824.7px;color:rgb(35,31,31);
}
#P536_79
{
left:15495.8px;bottom:19854.3px;color:rgb(35,31,31);
}
#P536_80
{
left:15974.6px;bottom:19415.7px;color:rgb(35,31,31);
}
#P536_81
{
left:16326.3px;bottom:19854.3px;color:rgb(35,31,31);
}
#P536_82
{
left:16731.1px;bottom:19824.7px;color:rgb(35,31,31);
}
#P536_83
{
left:17317.5px;bottom:19854.3px;color:rgb(35,31,31);
}
#P536_84
{
left:18095.4px;bottom:19824.7px;color:rgb(35,31,31);
}
#P536_85
{
left:18681.9px;bottom:19854.3px;color:rgb(35,31,31);
}
#P536_86
{
left:9285.4px;bottom:16567.9px;letter-spacing:520.3px;color:rgb(35,31,31);
}
#P536_87
{
left:0px;letter-spacing:-0.3px;margin-left:-520.3px;
}
#P536_88
{
left:7601.24px;bottom:14903.9px;letter-spacing:-11.6px;word-spacing:364.2px;color:rgb(35,31,31);
}
#P536_88a
{
left:8601.24px;bottom:14903.9px;letter-spacing:-11.6px;word-spacing:364.2px;color:rgb(35,31,31);
}
#P536_89
{
left:0px;letter-spacing:0px;margin-left:-3.9px;
}
#P536_90
{
left:10348.6px;bottom:14874.3px;color:rgb(35,31,31);
}
#P536_91
{
left:10935.1px;bottom:14903.9px;color:rgb(35,31,31);
}
#P536_92
{
left:14909.4px;bottom:11098.5px;color:rgb(35,31,31);
}
#P536_93
{
left:15495.8px;bottom:11128px;color:rgb(35,31,31);
}
#P536_94
{
left:17266.4px;bottom:11098.5px;color:rgb(35,31,31);
}
#P536_95
{
left:17852.8px;bottom:11128px;color:rgb(35,31,31);
}
#P536_96
{
left:18011.2px;bottom:11098.5px;color:rgb(35,31,31);
}
#P536_97
{
left:18597.6px;bottom:11128px;color:rgb(35,31,31);
}
#P536_98
{
left:9285.4px;bottom:7969.52px;letter-spacing:520.3px;color:rgb(35,31,31);
}
#P536_99
{
left:0px;letter-spacing:-0.3px;margin-left:-520.3px;
}
#P536_100
{
left:14720.3px;bottom:7939.95px;color:rgb(35,31,31);
}
#P536_101
{
left:15306.8px;bottom:7969.52px;color:rgb(35,31,31);
}
#P536_102
{
left:7741.4px;bottom:31596.8px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P536_103
{
left:7918.55px;bottom:30464.4px;color:rgb(35,31,31);
}
#P536_104
{
left:9341.4px;bottom:30444.7px;color:rgb(35,31,31);
}
#P536_105
{
left:9872.92px;bottom:30415.1px;color:rgb(35,31,31);
}
#P536_106
{
left:10459.4px;bottom:30444.7px;color:rgb(35,31,31);
}
#P536_107
{
left:14350.6px;bottom:30464.4px;color:rgb(35,31,31);
}
#P536_108
{
left:15709.4px;bottom:30415.1px;color:rgb(35,31,31);
}
#P536_109
{
left:16295.8px;bottom:30444.7px;color:rgb(35,31,31);
}
#P536_110
{
left:17200.5px;bottom:30415.1px;color:rgb(35,31,31);
}
#P536_111
{
left:17786.9px;bottom:30444.7px;color:rgb(35,31,31);
}
#P536_112
{
left:18191.6px;bottom:30415.1px;color:rgb(35,31,31);
}
#P536_113
{
left:18778.1px;bottom:30444.7px;color:rgb(35,31,31);
}
#P536_114
{
left:20782.5px;bottom:30464.4px;word-spacing:1189.2px;color:rgb(35,31,31);
}
#P536_115
{
left:22205.4px;bottom:30415.1px;color:rgb(35,31,31);
}
#P536_116
{
left:22791.8px;bottom:30444.7px;color:rgb(35,31,31);
}
#P536_117
{
left:23696.5px;bottom:30415.1px;color:rgb(35,31,31);
}
#P536_118
{
left:24282.9px;bottom:30444.7px;color:rgb(35,31,31);
}
#P536_119
{
left:27566.6px;bottom:30464.4px;word-spacing:2556.4px;color:rgb(35,31,31);
}
#P536_120
{
left:28925.5px;bottom:30415.1px;color:rgb(35,31,31);
}
#P536_121
{
left:29511.9px;bottom:30444.7px;color:rgb(35,31,31);
}
#P536_122
{
left:30416.5px;bottom:30415.1px;color:rgb(35,31,31);
}
#P536_123
{
left:31003px;bottom:30444.7px;color:rgb(35,31,31);
}
#P536_124
{
left:31407.8px;bottom:30415.1px;color:rgb(35,31,31);
}
#P536_125
{
left:31994.1px;bottom:30444.7px;color:rgb(35,31,31);
}
#P536_126
{
left:7918.62px;bottom:28736.4px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P536_127
{
left:9341.4px;bottom:28736.5px;color:rgb(2,77,161);
}
#P536_128
{
left:13318.9px;bottom:28716.8px;letter-spacing:151.5px;color:rgb(35,31,31);
}
#P536_129
{
left:0px;letter-spacing:0px;margin-left:-214.7px;
}
#P536_130
{
left:0px;letter-spacing:-0.7px;
}
#P536_131
{
left:0px;letter-spacing:0px;margin-left:-20.3px;
}
#P536_132
{
left:23007.1px;bottom:28687.2px;color:rgb(35,31,31);
}
#P536_133
{
left:23593.5px;bottom:28716.8px;color:rgb(35,31,31);
}
#P536_134
{
left:0px;letter-spacing:-63.2px;margin-left:-42.1px;
}
#P536_135
{
left:0px;letter-spacing:-0.3px;margin-left:63.2px;
}
#P536_136
{
left:30418.3px;bottom:28716.8px;word-spacing:56.3px;color:rgb(35,31,31);
}
#P536_137
{
left:0px;letter-spacing:0px;margin-left:-56.3px;
}
#P536_138
{
left:9341.34px;bottom:27820.8px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P536_139
{
left:0px;letter-spacing:0px;margin-left:-58.4px;
}
#P536_140
{
left:0px;letter-spacing:-0.8px;
}
#P536_141
{
left:0px;letter-spacing:-42.1px;margin-left:0.8px;
}
#P536_142
{
left:0px;letter-spacing:-0.3px;margin-left:42.1px;
}
#P536_143
{
left:24872px;bottom:27820.8px;word-spacing:56.3px;color:rgb(35,31,31);
}
#P536_144
{
left:0px;letter-spacing:0px;margin-left:-56.3px;
}
#P536_145
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P536_146
{
left:21470.4px;bottom:9682.09px;color:rgb(0,124,196);
}
#P536_147
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P536_148
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P536_149
{
left:9299.87px;bottom:13177.6px;color:rgb(0,124,196);
}
#P536_150
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P536_151
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P536_152
{
left:22379.2px;bottom:18418.1px;color:rgb(0,124,196);
}
#P536_153
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P536_154
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P536_155
{
left:7741.4px;bottom:4423.47px;color:rgb(35,31,31);
}
#P536_156
{
left:0px;letter-spacing:0px;margin-left:-25.3px;
}
#P536_157
{
left:0px;letter-spacing:0px;margin-left:-50.6px;
}
#P536_158
{
left:7741.4px;bottom:3271.44px;color:rgb(35,31,31);
}
#P536_159
{
left:7918.55px;bottom:3291.16px;color:rgb(35,31,31);
}
#P536_160
{
left:9341.4px;bottom:3241.88px;color:rgb(35,31,31);
}
#P536_161
{
left:9927.77px;bottom:3271.44px;color:rgb(35,31,31);
}
#P536_162
{
left:10406.5px;bottom:2832.89px;color:rgb(35,31,31);
}
#P536_163
{
left:10758.3px;bottom:3271.47px;color:rgb(35,31,31);
}
#P536_164
{
left:14350.6px;bottom:3291.18px;color:rgb(35,31,31);
}
#P536_165
{
left:15709.4px;bottom:3271.47px;color:rgb(35,31,31);
}
#P536_166
{
left:16702px;bottom:3241.9px;color:rgb(35,31,31);
}
#P536_167
{
left:17288.4px;bottom:3271.47px;color:rgb(35,31,31);
}
#P536_168
{
left:20782.5px;bottom:3291.18px;word-spacing:2678.9px;color:rgb(35,31,31);
}
#P536_169
{
left:22205.4px;bottom:3241.9px;color:rgb(35,31,31);
}
#P536_170
{
left:22791.8px;bottom:3271.47px;color:rgb(35,31,31);
}
#P536_171
{
left:23270.5px;bottom:2832.89px;color:rgb(35,31,31);
}
#P536_172
{
left:23622.3px;bottom:3271.47px;color:rgb(35,31,31);
}
#P536_173
{
left:24027.1px;bottom:3241.9px;color:rgb(35,31,31);
}
#P536_174
{
left:24613.5px;bottom:3271.47px;color:rgb(35,31,31);
}
#P536_175
{
left:27566.5px;bottom:3291.18px;word-spacing:2137.8px;color:rgb(35,31,31);
}
#P536_176
{
left:28925.4px;bottom:3241.9px;color:rgb(35,31,31);
}
#P536_177
{
left:29511.8px;bottom:3271.47px;color:rgb(35,31,31);
}
#P536_178
{
left:6109.4px;bottom:25197px;letter-spacing:9.6px;
}
#P536_179
{
left:6109.4px;bottom:25197px;letter-spacing:9.6px;color:white;
}
#P536_180
{
left:9299.87px;bottom:21945.6px;letter-spacing:-8.3px;color:rgb(0,124,196);
}
#P536_181
{
left:0px;letter-spacing:0px;margin-left:8.3px;
}
#P536_182
{
left:8669.4px;bottom:25232.7px;color:rgb(2,77,161);
}
#P536_183
{
left:10462.2px;bottom:25424.6px;color:rgb(2,77,161);
}
#P536_184
{
left:10702.4px;bottom:25232.7px;color:rgb(2,77,161);
}
#P536_185
{
left:11886.9px;bottom:25424.6px;color:rgb(2,77,161);
}
#P536_186
{
left:12127.1px;bottom:25232.7px;letter-spacing:-0.8px;color:rgb(2,77,161);
}
#P536_187
{
left:17383.8px;bottom:25282.5px;color:rgb(2,77,161);
}
#PageContainer536
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg536.jpg");background-repeat:no-repeat;background-size: 1066px 1274px; background-position: 1px -0.400000000000091px;
}
#ImageContainer536 {bottom:90.40px;right:0.00px;width:1066.24px;height:1273.76px;position:absolute;} #TextContainer536 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}