.tr318{ color:transparent;}
#P318_1
{
left:0px;bottom:0px;letter-spacing:0px;color:white;
}
#P318_2
{
left:0px;bottom:0px;letter-spacing:0px;color:white;
}
#P318_3
{
left:0px;bottom:0px;letter-spacing:0px;color:white;
}
#P318_4
{
left:0px;bottom:0px;letter-spacing:0px;color:white;
}
#P318_5
{
left:0px;bottom:0px;letter-spacing:0px;color:white;
}
#P318_6
{
left:0px;bottom:0px;letter-spacing:0px;color:white;
}
#P318_7
{
left:0px;bottom:0px;letter-spacing:0px;color:white;
}
#P318_8
{
left:0px;bottom:0px;letter-spacing:0px;color:white;
}
#P318_9
{
left:5781.85px;bottom:39182.8px;word-spacing:855px;
}
#P318_10
{
left:10042.8px;bottom:39452.8px;
}
#P318_11
{
left:10380.9px;bottom:39182.8px;
}
#P318_12
{
left:10853.9px;bottom:39452.8px;
}
#P318_13
{
left:11192px;bottom:39182.8px;
}
#P318_14
{
left:16013.4px;bottom:39452.8px;
}
#P318_15
{
left:16351.4px;bottom:39182.8px;
}
#P318_16
{
left:18559.7px;bottom:39452.8px;
}
#P318_17
{
left:18897.8px;bottom:39182.8px;letter-spacing:-7.5px;
}
#P318_18
{
left:0px;letter-spacing:0px;margin-left:-59.3px;
}
#P318_19
{
left:24125.5px;bottom:39452.8px;
}
#P318_20
{
left:5781.85px;bottom:39182.8px;word-spacing:855px;color:white;
}
#P318_21
{
left:24463.5px;bottom:39182.8px;
}
#P318_22
{
left:10042.8px;bottom:39452.8px;color:white;
}
#P318_23
{
left:10380.9px;bottom:39182.8px;color:white;
}
#P318_24
{
left:10853.9px;bottom:39452.8px;color:white;
}
#P318_25
{
left:11192px;bottom:39182.8px;color:white;
}
#P318_26
{
left:16013.4px;bottom:39452.8px;color:white;
}
#P318_27
{
left:16351.4px;bottom:39182.8px;color:white;
}
#P318_28
{
left:18559.7px;bottom:39452.8px;color:white;
}
#P318_29
{
left:18897.8px;bottom:39182.8px;letter-spacing:-7.5px;color:white;
}
#P318_30
{
left:0px;letter-spacing:0px;margin-left:-59.3px;
}
#P318_31
{
left:24125.6px;bottom:39452.8px;color:white;
}
#P318_32
{
left:24463.6px;bottom:39182.8px;color:white;
}
#P318_33
{
left:5781.85px;bottom:37454.8px;word-spacing:899.8px;
}
#P318_34
{
left:8578.78px;bottom:37454.8px;
}
#P318_35
{
left:10898.9px;bottom:37724.8px;
}
#P318_36
{
left:11237px;bottom:37454.8px;
}
#P318_37
{
left:16058.3px;bottom:37724.8px;
}
#P318_38
{
left:16396.3px;bottom:37454.8px;
}
#P318_39
{
left:19888.7px;bottom:37724.8px;
}
#P318_40
{
left:20226.7px;bottom:37454.8px;word-spacing:-45px;
}
#P318_41
{
left:24055.9px;bottom:37724.8px;
}
#P318_42
{
left:24393.9px;bottom:37454.8px;
}
#P318_43
{
left:24867px;bottom:37724.8px;
}
#P318_44
{
left:25205px;bottom:37454.8px;letter-spacing:-1.7px;
}
#P318_45
{
left:32999.7px;bottom:37724.8px;
}
#P318_46
{
left:5781.85px;bottom:37454.8px;word-spacing:899.8px;color:white;
}
#P318_47
{
left:8578.78px;bottom:37454.8px;color:white;
}
#P318_48
{
left:33337.8px;bottom:37454.8px;
}
#P318_49
{
left:10898.9px;bottom:37724.8px;color:white;
}
#P318_50
{
left:11237px;bottom:37454.8px;color:white;
}
#P318_51
{
left:16058.4px;bottom:37724.8px;color:white;
}
#P318_52
{
left:16396.4px;bottom:37454.8px;color:white;
}
#P318_53
{
left:19888.8px;bottom:37724.8px;color:white;
}
#P318_54
{
left:20226.8px;bottom:37454.8px;word-spacing:-44.9px;color:white;
}
#P318_55
{
left:24056.2px;bottom:37724.8px;color:white;
}
#P318_56
{
left:24394.2px;bottom:37454.8px;color:white;
}
#P318_57
{
left:24867.2px;bottom:37724.8px;color:white;
}
#P318_58
{
left:25205.3px;bottom:37454.8px;letter-spacing:-1.7px;color:white;
}
#P318_59
{
left:33000.1px;bottom:37724.8px;color:white;
}
#P318_60
{
left:33338.1px;bottom:37454.8px;color:white;
}
#P318_61
{
left:5781.85px;bottom:35726.8px;word-spacing:899.8px;
}
#P318_62
{
left:8578.78px;bottom:35726.8px;
}
#P318_63
{
left:10898.9px;bottom:35996.8px;
}
#P318_64
{
left:11237px;bottom:35726.8px;
}
#P318_65
{
left:16058.3px;bottom:35996.8px;
}
#P318_66
{
left:16396.3px;bottom:35726.8px;
}
#P318_67
{
left:19888.7px;bottom:35996.8px;
}
#P318_68
{
left:20226.7px;bottom:35726.8px;
}
#P318_69
{
left:24440.2px;bottom:35996.8px;
}
#P318_70
{
left:24778.3px;bottom:35726.8px;
}
#P318_71
{
left:25814.4px;bottom:35996.8px;
}
#P318_72
{
left:26152.4px;bottom:35726.8px;
}
#P318_73
{
left:27818.1px;bottom:35996.8px;
}
#P318_74
{
left:5781.85px;bottom:35726.8px;word-spacing:899.8px;color:white;
}
#P318_75
{
left:8578.78px;bottom:35726.8px;color:white;
}
#P318_76
{
left:28156.1px;bottom:35726.8px;
}
#P318_77
{
left:10898.9px;bottom:35996.8px;color:white;
}
#P318_78
{
left:11237px;bottom:35726.8px;color:white;
}
#P318_79
{
left:16058.4px;bottom:35996.8px;color:white;
}
#P318_80
{
left:16396.4px;bottom:35726.8px;color:white;
}
#P318_81
{
left:19888.8px;bottom:35996.8px;color:white;
}
#P318_82
{
left:20226.8px;bottom:35726.8px;color:white;
}
#P318_83
{
left:24440.3px;bottom:35996.8px;color:white;
}
#P318_84
{
left:24778.3px;bottom:35726.8px;color:white;
}
#P318_85
{
left:25814.4px;bottom:35996.8px;color:white;
}
#P318_86
{
left:26152.4px;bottom:35726.8px;color:white;
}
#P318_87
{
left:27818.3px;bottom:35996.8px;color:white;
}
#P318_88
{
left:28156.4px;bottom:35726.8px;color:white;
}
#P318_89
{
left:8578.65px;bottom:34382.8px;
}
#P318_90
{
left:10876.9px;bottom:34652.8px;
}
#P318_91
{
left:11214.9px;bottom:34382.8px;
}
#P318_92
{
left:11846px;bottom:34652.8px;
}
#P318_93
{
left:12184.1px;bottom:34382.8px;
}
#P318_94
{
left:12702.1px;bottom:34652.8px;
}
#P318_95
{
left:8578.65px;bottom:34382.8px;color:white;
}
#P318_96
{
left:13040.2px;bottom:34382.8px;
}
#P318_97
{
left:10876.9px;bottom:34652.8px;color:white;
}
#P318_98
{
left:11214.9px;bottom:34382.8px;color:white;
}
#P318_99
{
left:11846px;bottom:34652.8px;color:white;
}
#P318_100
{
left:12184.1px;bottom:34382.8px;color:white;
}
#P318_101
{
left:12702.1px;bottom:34652.8px;color:white;
}
#P318_102
{
left:13040.2px;bottom:34382.8px;color:white;
}
#P318_103
{
left:5781.85px;bottom:32654.8px;word-spacing:855px;
}
#P318_104
{
left:10042.8px;bottom:32924.8px;
}
#P318_105
{
left:10380.9px;bottom:32654.8px;
}
#P318_106
{
left:10853.9px;bottom:32924.8px;
}
#P318_107
{
left:11192px;bottom:32654.8px;
}
#P318_108
{
left:16013.4px;bottom:32924.8px;
}
#P318_109
{
left:16351.4px;bottom:32654.8px;
}
#P318_110
{
left:18559.7px;bottom:32924.8px;
}
#P318_111
{
left:18897.8px;bottom:32654.8px;letter-spacing:-22.2px;word-spacing:-44.9px;
}
#P318_112
{
left:0px;letter-spacing:-22.2px;margin-left:22.2px;
}
#P318_113
{
left:0px;letter-spacing:0px;margin-left:22.2px;
}
#P318_114
{
left:24125.8px;bottom:32924.8px;
}
#P318_115
{
left:5781.85px;bottom:32654.8px;word-spacing:855px;color:white;
}
#P318_116
{
left:24463.9px;bottom:32654.8px;
}
#P318_117
{
left:10042.8px;bottom:32924.8px;color:white;
}
#P318_118
{
left:10380.9px;bottom:32654.8px;color:white;
}
#P318_119
{
left:10853.9px;bottom:32924.8px;color:white;
}
#P318_120
{
left:11192px;bottom:32654.8px;color:white;
}
#P318_121
{
left:16013.4px;bottom:32924.8px;color:white;
}
#P318_122
{
left:16351.4px;bottom:32654.8px;color:white;
}
#P318_123
{
left:18559.7px;bottom:32924.8px;color:white;
}
#P318_124
{
left:18897.8px;bottom:32654.8px;letter-spacing:-22.2px;word-spacing:-44.9px;color:white;
}
#P318_125
{
left:0px;letter-spacing:-22.2px;margin-left:22.2px;
}
#P318_126
{
left:0px;letter-spacing:0px;margin-left:22.2px;
}
#P318_127
{
left:24125.8px;bottom:32924.8px;color:white;
}
#P318_128
{
left:24463.9px;bottom:32654.8px;color:white;
}
#P318_129
{
left:5781.85px;bottom:30926.8px;word-spacing:855px;
}
#P318_130
{
left:10042.8px;bottom:31196.8px;
}
#P318_131
{
left:10380.9px;bottom:30926.8px;
}
#P318_132
{
left:10853.9px;bottom:31196.8px;
}
#P318_133
{
left:11192px;bottom:30926.8px;letter-spacing:-2px;
}
#P318_134
{
left:18514.8px;bottom:31196.8px;
}
#P318_135
{
left:18852.9px;bottom:30926.8px;
}
#P318_136
{
left:24597.3px;bottom:31196.8px;
}
#P318_137
{
left:24935.3px;bottom:30926.8px;
}
#P318_138
{
left:25408.3px;bottom:31196.8px;
}
#P318_139
{
left:5781.85px;bottom:30926.8px;word-spacing:855px;color:white;
}
#P318_140
{
left:25746.4px;bottom:30926.8px;
}
#P318_141
{
left:10042.8px;bottom:31196.8px;color:white;
}
#P318_142
{
left:10380.9px;bottom:30926.8px;color:white;
}
#P318_143
{
left:10853.9px;bottom:31196.8px;color:white;
}
#P318_144
{
left:11192px;bottom:30926.8px;letter-spacing:-2px;color:white;
}
#P318_145
{
left:18515px;bottom:31196.8px;color:white;
}
#P318_146
{
left:18853px;bottom:30926.8px;color:white;
}
#P318_147
{
left:24597.4px;bottom:31196.8px;color:white;
}
#P318_148
{
left:24935.4px;bottom:30926.8px;color:white;
}
#P318_149
{
left:25408.5px;bottom:31196.8px;color:white;
}
#P318_150
{
left:25746.5px;bottom:30926.8px;color:white;
}
#P318_151
{
left:5781.85px;bottom:29198.8px;word-spacing:899.8px;
}
#P318_152
{
left:8578.78px;bottom:29198.8px;
}
#P318_153
{
left:10898.9px;bottom:29468.8px;
}
#P318_154
{
left:11237px;bottom:29198.8px;
}
#P318_155
{
left:16981.2px;bottom:29468.8px;
}
#P318_156
{
left:17319.4px;bottom:29198.8px;
}
#P318_157
{
left:17792.4px;bottom:29468.8px;
}
#P318_158
{
left:18130.5px;bottom:29198.8px;
}
#P318_159
{
left:20901.7px;bottom:29468.8px;
}
#P318_160
{
left:21239.8px;bottom:29198.8px;word-spacing:-45px;
}
#P318_161
{
left:25069px;bottom:29468.8px;
}
#P318_162
{
left:25407px;bottom:29198.8px;
}
#P318_163
{
left:25880px;bottom:29468.8px;
}
#P318_164
{
left:26218.1px;bottom:29198.8px;letter-spacing:-1.7px;
}
#P318_165
{
left:34012.8px;bottom:29468.8px;
}
#P318_166
{
left:5781.85px;bottom:29198.8px;word-spacing:899.8px;color:white;
}
#P318_167
{
left:8578.78px;bottom:29198.8px;color:white;
}
#P318_168
{
left:34350.8px;bottom:29198.8px;
}
#P318_169
{
left:10898.9px;bottom:29468.8px;color:white;
}
#P318_170
{
left:11237px;bottom:29198.8px;color:white;
}
#P318_171
{
left:16981.3px;bottom:29468.8px;color:white;
}
#P318_172
{
left:17319.4px;bottom:29198.8px;color:white;
}
#P318_173
{
left:17792.4px;bottom:29468.8px;color:white;
}
#P318_174
{
left:18130.5px;bottom:29198.8px;color:white;
}
#P318_175
{
left:20901.7px;bottom:29468.8px;color:white;
}
#P318_176
{
left:21239.8px;bottom:29198.8px;word-spacing:-44.9px;color:white;
}
#P318_177
{
left:25069.1px;bottom:29468.8px;color:white;
}
#P318_178
{
left:25407.1px;bottom:29198.8px;color:white;
}
#P318_179
{
left:25880.2px;bottom:29468.8px;color:white;
}
#P318_180
{
left:26218.2px;bottom:29198.8px;letter-spacing:-1.7px;color:white;
}
#P318_181
{
left:34013px;bottom:29468.8px;color:white;
}
#P318_182
{
left:34351.1px;bottom:29198.8px;color:white;
}
#P318_183
{
left:5781.85px;bottom:27342.8px;word-spacing:899.8px;
}
#P318_184
{
left:8578.78px;bottom:27342.8px;
}
#P318_185
{
left:10898.9px;bottom:27612.8px;
}
#P318_186
{
left:11237px;bottom:27342.8px;
}
#P318_187
{
left:16981.2px;bottom:27612.8px;
}
#P318_188
{
left:17319.4px;bottom:27342.8px;
}
#P318_189
{
left:17792.4px;bottom:27612.8px;
}
#P318_190
{
left:18130.5px;bottom:27342.8px;
}
#P318_191
{
left:20901.7px;bottom:27612.8px;
}
#P318_192
{
left:21239.8px;bottom:27342.8px;
}
#P318_193
{
left:25453.2px;bottom:27612.8px;
}
#P318_194
{
left:25791.1px;bottom:27342.8px;
}
#P318_195
{
left:26827.2px;bottom:27612.8px;
}
#P318_196
{
left:27165.2px;bottom:27342.8px;
}
#P318_197
{
left:28831.1px;bottom:27612.8px;
}
#P318_198
{
left:5781.85px;bottom:27342.8px;word-spacing:899.8px;color:white;
}
#P318_199
{
left:8578.78px;bottom:27342.8px;color:white;
}
#P318_200
{
left:29169.2px;bottom:27342.8px;
}
#P318_201
{
left:10898.9px;bottom:27612.8px;color:white;
}
#P318_202
{
left:11237px;bottom:27342.8px;color:white;
}
#P318_203
{
left:16981.3px;bottom:27612.8px;color:white;
}
#P318_204
{
left:17319.4px;bottom:27342.8px;color:white;
}
#P318_205
{
left:17792.4px;bottom:27612.8px;color:white;
}
#P318_206
{
left:18130.5px;bottom:27342.8px;color:white;
}
#P318_207
{
left:20901.7px;bottom:27612.8px;color:white;
}
#P318_208
{
left:21239.8px;bottom:27342.8px;color:white;
}
#P318_209
{
left:25453.2px;bottom:27612.8px;color:white;
}
#P318_210
{
left:25791.3px;bottom:27342.8px;color:white;
}
#P318_211
{
left:26827.3px;bottom:27612.8px;color:white;
}
#P318_212
{
left:27165.3px;bottom:27342.8px;color:white;
}
#P318_213
{
left:28831.3px;bottom:27612.8px;color:white;
}
#P318_214
{
left:29169.3px;bottom:27342.8px;color:white;
}
#P318_215
{
left:8578.65px;bottom:25998.8px;
}
#P318_216
{
left:10876.9px;bottom:26268.8px;
}
#P318_217
{
left:11214.9px;bottom:25998.8px;
}
#P318_218
{
left:11846px;bottom:26268.8px;
}
#P318_219
{
left:12184.1px;bottom:25998.8px;
}
#P318_220
{
left:12702.1px;bottom:26268.8px;
}
#P318_221
{
left:8578.65px;bottom:25998.8px;color:white;
}
#P318_222
{
left:13040.2px;bottom:25998.8px;
}
#P318_223
{
left:10876.9px;bottom:26268.8px;color:white;
}
#P318_224
{
left:11214.9px;bottom:25998.8px;color:white;
}
#P318_225
{
left:11846px;bottom:26268.8px;color:white;
}
#P318_226
{
left:12184.1px;bottom:25998.8px;color:white;
}
#P318_227
{
left:12702.1px;bottom:26268.8px;color:white;
}
#P318_228
{
left:13040.2px;bottom:25998.8px;color:white;
}
#P318_229
{
left:5143.79px;bottom:4113.73px;letter-spacing:-9.9px;color:rgb(33,31,31);
}
#P318_230
{
left:0px;letter-spacing:-8.6px;margin-left:1.2px;
}
#P318_231
{
left:0px;letter-spacing:-23px;margin-left:-43.2px;
}
#P318_232
{
left:0px;letter-spacing:-8.6px;margin-left:14.4px;
}
#P318_233
{
left:8370.1px;bottom:3332.37px;letter-spacing:-9.4px;word-spacing:0.1px;color:rgb(33,31,31);
}
#P318_234
{
left:0px;letter-spacing:0px;margin-left:-51.2px;
}
#P318_235
{
left:21625.3px;bottom:3209.12px;letter-spacing:-34.3px;color:rgb(33,31,31);
}
#P318_236
{
left:0px;letter-spacing:-8.6px;margin-left:25.6px;
}
#P318_237
{
left:0px;letter-spacing:0px;margin-left:-51.9px;
}
#P318_238
{
left:9794.5px;bottom:13063.6px;letter-spacing:0.3px;word-spacing:-0.3px;color:rgb(33,31,31);
}
#P318_239
{
left:12798.9px;bottom:13402.5px;color:rgb(33,31,31);
}
#P318_240
{
left:13295.8px;bottom:13447px;color:rgb(33,31,31);
}
#P318_241
{
left:15214px;bottom:13667px;color:rgb(33,31,31);
}
#P318_242
{
left:15710.9px;bottom:13711.5px;letter-spacing:-0.1px;word-spacing:0.1px;color:rgb(33,31,31);
}
#P318_243
{
left:0px;letter-spacing:-0.1px;margin-left:6823.3px;
}
#P318_244
{
left:0px;letter-spacing:-0.1px;margin-left:-51.1px;
}
#P318_245
{
left:0px;letter-spacing:-0.1px;margin-left:-11.4px;
}
#P318_246
{
left:0px;letter-spacing:-0.1px;margin-left:-11.4px;
}
#P318_247
{
left:0px;letter-spacing:0px;margin-left:-51.8px;
}
#P318_248
{
left:0px;bottom:0px;letter-spacing:0px;color:white;
}
#P318_249
{
left:6909.4px;bottom:44685.4px;
}
#P318_250
{
left:14325.4px;bottom:45324.8px;
}
#P318_251
{
left:15126px;bottom:44685.4px;
}
#P318_252
{
left:6909.4px;bottom:41229.4px;
}
#P318_253
{
left:22061.1px;bottom:41868.8px;
}
#P318_254
{
left:22861.7px;bottom:41229.4px;
}
#P318_255
{
left:23982px;bottom:41868.8px;
}
#P318_256
{
left:24782.7px;bottom:41229.4px;
}
#P318_257
{
left:2365.4px;bottom:41438.1px;
}
#PageContainer318
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg318.jpg");background-repeat:no-repeat;background-size: 1066px 1364px; background-position: right bottom;
}
#ImageContainer318 {bottom:0.00px;right:0.00px;width:1066.24px;height:1364.16px;position:absolute;} #TextContainer318 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}