.tr101{ color:transparent;}
#P101_1
{
left:7150.55px;bottom:46736.5px;color:rgb(35,31,31);
}
#P101_2
{
left:8637.4px;bottom:46736.5px;letter-spacing:-183px;color:rgb(2,77,161);
}
#P101_3
{
left:0px;letter-spacing:0px;margin-left:183px;
}
#P101_4
{
left:10540.3px;bottom:46716.8px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P101_5
{
left:0px;letter-spacing:0px;margin-left:-193.6px;
}
#P101_6
{
left:8637.4px;bottom:45820.8px;letter-spacing:-2.3px;color:rgb(35,31,31);
}
#P101_7
{
left:0px;letter-spacing:0px;margin-left:2.3px;
}
#P101_8
{
left:8637.4px;bottom:44476.8px;word-spacing:801.6px;color:rgb(35,31,31);
}
#P101_9
{
left:9119.64px;bottom:44916.5px;color:rgb(35,31,31);
}
#P101_10
{
left:9455.45px;bottom:44494.4px;color:rgb(35,31,31);
}
#P101_11
{
left:9098.52px;bottom:44460.8px;color:rgb(35,31,31);
}
#P101_12
{
left:9476.57px;bottom:44478px;color:rgb(35,31,31);
}
#P101_13
{
left:9119.64px;bottom:44008.9px;color:rgb(35,31,31);
}
#P101_14
{
left:9455.45px;bottom:44494.4px;color:rgb(35,31,31);
}
#P101_15
{
left:9476.57px;bottom:44476.8px;color:rgb(35,31,31);
}
#P101_16
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P101_17
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P101_18
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P101_19
{
left:10676.9px;bottom:44916.5px;color:rgb(35,31,31);
}
#P101_20
{
left:11012.7px;bottom:44494.4px;color:rgb(35,31,31);
}
#P101_21
{
left:10655.8px;bottom:44460.8px;color:rgb(35,31,31);
}
#P101_22
{
left:11033.8px;bottom:44478px;color:rgb(35,31,31);
}
#P101_23
{
left:10676.9px;bottom:44008.9px;color:rgb(35,31,31);
}
#P101_24
{
left:11012.7px;bottom:44494.4px;color:rgb(35,31,31);
}
#P101_25
{
left:11350.6px;bottom:44447.2px;color:rgb(35,31,31);
}
#P101_26
{
left:11937px;bottom:44476.8px;color:rgb(35,31,31);
}
#P101_27
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P101_28
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P101_29
{
left:12577.6px;bottom:44916.5px;color:rgb(35,31,31);
}
#P101_30
{
left:12913.4px;bottom:44494.4px;color:rgb(35,31,31);
}
#P101_31
{
left:12556.5px;bottom:44460.8px;color:rgb(35,31,31);
}
#P101_32
{
left:12934.6px;bottom:44478px;color:rgb(35,31,31);
}
#P101_33
{
left:12577.6px;bottom:44008.9px;color:rgb(35,31,31);
}
#P101_34
{
left:12913.4px;bottom:44494.4px;color:rgb(35,31,31);
}
#P101_35
{
left:12934.6px;bottom:44476.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P101_36
{
left:0px;letter-spacing:-1.1px;margin-left:158.4px;
}
#P101_37
{
left: 8443.47px;bottom:43132.8px;letter-spacing:801.5px;color:rgb(35,31,31);
}
#P101_38
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P101_39
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P101_40
{
left:0px;letter-spacing:-1.7px;
}
#P101_41
{
left:0px;letter-spacing:0px;margin-left:-23.5px;
}
#P101_42
{
left:0px;letter-spacing:-0.6px;
}
#P101_43
{
left:8637.34px;bottom:42236.8px;color:rgb(35,31,31);
}
#P101_44
{
left:6973.47px;bottom:40380.8px;letter-spacing:-4.6px;color:rgb(35,31,31);
}
#P101_45
{
left:0px;letter-spacing:-0.9px;margin-left:4.6px;
}
#P101_46
{
left:0px;letter-spacing:-23.9px;margin-left:-27.2px;
}
#P101_47
{
left:0px;letter-spacing:0px;margin-left:23.9px;
}
#P101_48
{
left:7150.49px;bottom:38800.5px;color:rgb(35,31,31);
}
#P101_49
{
left:8573.34px;bottom:38780.8px;color:rgb(35,31,31);
}
#P101_50
{
left:9104.86px;bottom:38751.2px;color:rgb(35,31,31);
}
#P101_51
{
left:9691.29px;bottom:38780.8px;color:rgb(35,31,31);
}
#P101_52
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P101_53
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P101_54
{
left:10332px;bottom:39220.5px;color:rgb(35,31,31);
}
#P101_55
{
left:10667.8px;bottom:38798.4px;color:rgb(35,31,31);
}
#P101_56
{
left:10310.9px;bottom:38764.8px;color:rgb(35,31,31);
}
#P101_57
{
left:10688.9px;bottom:38782px;color:rgb(35,31,31);
}
#P101_58
{
left:10332px;bottom:38312.9px;color:rgb(35,31,31);
}
#P101_59
{
left:10667.8px;bottom:38798.4px;color:rgb(35,31,31);
}
#P101_60
{
left:10688.9px;bottom:38780.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P101_61
{
left:10847.3px;bottom:38751.2px;color:rgb(35,31,31);
}
#P101_62
{
left:11433.7px;bottom:38780.8px;color:rgb(35,31,31);
}
#P101_63
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P101_64
{
left:11613.2px;bottom:39220.5px;color:rgb(35,31,31);
}
#P101_65
{
left:11949px;bottom:38798.4px;color:rgb(35,31,31);
}
#P101_66
{
left:11592.1px;bottom:38764.8px;color:rgb(35,31,31);
}
#P101_67
{
left:11970.1px;bottom:38782px;color:rgb(35,31,31);
}
#P101_68
{
left:11613.2px;bottom:38312.9px;color:rgb(35,31,31);
}
#P101_69
{
left:11949px;bottom:38798.4px;color:rgb(35,31,31);
}
#P101_70
{
left:11970.1px;bottom:38780.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P101_71
{
left:17454.6px;bottom:38800.5px;color:rgb(35,31,31);
}
#P101_72
{
left:18877.5px;bottom:38780.8px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P101_73
{
left:19359.6px;bottom:39220.5px;color:rgb(35,31,31);
}
#P101_74
{
left:19695.4px;bottom:38798.4px;color:rgb(35,31,31);
}
#P101_75
{
left:19338.5px;bottom:38764.8px;color:rgb(35,31,31);
}
#P101_76
{
left:19716.6px;bottom:38782px;color:rgb(35,31,31);
}
#P101_77
{
left:19359.6px;bottom:38312.9px;color:rgb(35,31,31);
}
#P101_78
{
left:19695.4px;bottom:38798.4px;color:rgb(35,31,31);
}
#P101_79
{
left:19716.6px;bottom:38780.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P101_80
{
left:19875px;bottom:38751.2px;color:rgb(35,31,31);
}
#P101_81
{
left:20461.4px;bottom:38780.8px;color:rgb(35,31,31);
}
#P101_82
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P101_83
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P101_84
{
left:21102px;bottom:39220.5px;color:rgb(35,31,31);
}
#P101_85
{
left:21437.8px;bottom:38798.4px;color:rgb(35,31,31);
}
#P101_86
{
left:21080.9px;bottom:38764.8px;color:rgb(35,31,31);
}
#P101_87
{
left:21459px;bottom:38782px;color:rgb(35,31,31);
}
#P101_88
{
left:21102px;bottom:38312.9px;color:rgb(35,31,31);
}
#P101_89
{
left:21437.8px;bottom:38798.4px;color:rgb(35,31,31);
}
#P101_90
{
left:21459px;bottom:38780.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P101_91
{
left:21617.4px;bottom:38751.2px;color:rgb(35,31,31);
}
#P101_92
{
left:22203.7px;bottom:38780.8px;color:rgb(35,31,31);
}
#P101_93
{
left:27758.6px;bottom:38800.5px;word-spacing:120.6px;color:rgb(35,31,31);
}
#P101_94
{
left:29053.5px;bottom:38800.5px;color:rgb(35,31,31);
}
#P101_95
{
left:29111.8px;bottom:39220.5px;color:rgb(35,31,31);
}
#P101_96
{
left:29447.6px;bottom:38798.4px;color:rgb(35,31,31);
}
#P101_97
{
left:29090.7px;bottom:38764.8px;color:rgb(35,31,31);
}
#P101_98
{
left:29468.8px;bottom:38782px;color:rgb(35,31,31);
}
#P101_99
{
left:29111.8px;bottom:38312.9px;color:rgb(35,31,31);
}
#P101_100
{
left:29447.6px;bottom:38798.4px;color:rgb(35,31,31);
}
#P101_101
{
left:29468.8px;bottom:38780.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P101_102
{
left:29627.2px;bottom:38751.2px;color:rgb(35,31,31);
}
#P101_103
{
left:30213.6px;bottom:38780.8px;color:rgb(35,31,31);
}
#P101_104
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P101_105
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P101_106
{
left:30854.2px;bottom:39220.5px;color:rgb(35,31,31);
}
#P101_107
{
left:31190px;bottom:38798.4px;color:rgb(35,31,31);
}
#P101_108
{
left:30833.1px;bottom:38764.8px;color:rgb(35,31,31);
}
#P101_109
{
left:31211.2px;bottom:38782px;color:rgb(35,31,31);
}
#P101_110
{
left:30854.2px;bottom:38312.9px;color:rgb(35,31,31);
}
#P101_111
{
left:31190px;bottom:38798.4px;color:rgb(35,31,31);
}
#P101_112
{
left:31211.2px;bottom:38780.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P101_113
{
left:31369.6px;bottom:38751.2px;color:rgb(35,31,31);
}
#P101_114
{
left:31956px;bottom:38780.8px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P101_115
{
left:0px;letter-spacing:0px;margin-left:-158.3px;
}
#P101_116
{
left:32135.4px;bottom:39220.5px;color:rgb(35,31,31);
}
#P101_117
{
left:32471.3px;bottom:38798.4px;color:rgb(35,31,31);
}
#P101_118
{
left:32114.3px;bottom:38764.8px;color:rgb(35,31,31);
}
#P101_119
{
left:32492.4px;bottom:38782px;color:rgb(35,31,31);
}
#P101_120
{
left:32135.4px;bottom:38312.9px;color:rgb(35,31,31);
}
#P101_121
{
left:32471.3px;bottom:38798.4px;color:rgb(35,31,31);
}
#P101_122
{
left:32492.4px;bottom:38780.8px;color:rgb(35,31,31);
}
#P101_123
{
left:6973.4px;bottom:36668.8px;color:rgb(35,31,31);
}
#P101_124
{
left:7150.49px;bottom:36688.5px;color:rgb(35,31,31);
}
#P101_125
{
left:8573.34px;bottom:36668.8px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P101_126
{
left:9055.64px;bottom:37108.5px;color:rgb(35,31,31);
}
#P101_127
{
left:9391.45px;bottom:36686.4px;color:rgb(35,31,31);
}
#P101_128
{
left:9034.52px;bottom:36652.8px;color:rgb(35,31,31);
}
#P101_129
{
left:9412.57px;bottom:36670px;color:rgb(35,31,31);
}
#P101_130
{
left:9055.64px;bottom:36200.9px;color:rgb(35,31,31);
}
#P101_131
{
left:9391.45px;bottom:36686.4px;color:rgb(35,31,31);
}
#P101_132
{
left:9412.57px;bottom:36668.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P101_133
{
left:9570.97px;bottom:36639.2px;color:rgb(35,31,31);
}
#P101_134
{
left:10157.4px;bottom:36668.8px;color:rgb(35,31,31);
}
#P101_135
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P101_136
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P101_137
{
left:10798px;bottom:37108.5px;color:rgb(35,31,31);
}
#P101_138
{
left:11133.8px;bottom:36686.4px;color:rgb(35,31,31);
}
#P101_139
{
left:10776.9px;bottom:36652.8px;color:rgb(35,31,31);
}
#P101_140
{
left:11155px;bottom:36670px;color:rgb(35,31,31);
}
#P101_141
{
left:10798px;bottom:36200.9px;color:rgb(35,31,31);
}
#P101_142
{
left:11133.8px;bottom:36686.4px;color:rgb(35,31,31);
}
#P101_143
{
left:11155px;bottom:36668.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P101_144
{
left:11313.3px;bottom:36639.2px;color:rgb(35,31,31);
}
#P101_145
{
left:11899.7px;bottom:36668.8px;color:rgb(35,31,31);
}
#P101_146
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P101_147
{
left:12079.3px;bottom:37108.5px;color:rgb(35,31,31);
}
#P101_148
{
left:12415.1px;bottom:36686.4px;color:rgb(35,31,31);
}
#P101_149
{
left:12058.1px;bottom:36652.8px;color:rgb(35,31,31);
}
#P101_150
{
left:12436.2px;bottom:36670px;color:rgb(35,31,31);
}
#P101_151
{
left:12079.3px;bottom:36200.9px;color:rgb(35,31,31);
}
#P101_152
{
left:12415.1px;bottom:36686.4px;color:rgb(35,31,31);
}
#P101_153
{
left:12436.2px;bottom:36668.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P101_154
{
left:17454.6px;bottom:36688.5px;color:rgb(35,31,31);
}
#P101_155
{
left:18877.5px;bottom:36668.8px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P101_156
{
left:19359.6px;bottom:37108.5px;color:rgb(35,31,31);
}
#P101_157
{
left:19695.4px;bottom:36686.4px;color:rgb(35,31,31);
}
#P101_158
{
left:19338.5px;bottom:36652.8px;color:rgb(35,31,31);
}
#P101_159
{
left:19716.6px;bottom:36670px;color:rgb(35,31,31);
}
#P101_160
{
left:19359.6px;bottom:36200.9px;color:rgb(35,31,31);
}
#P101_161
{
left:19695.4px;bottom:36686.4px;color:rgb(35,31,31);
}
#P101_162
{
left:19716.6px;bottom:36668.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P101_163
{
left:19875px;bottom:36639.2px;color:rgb(35,31,31);
}
#P101_164
{
left:20461.4px;bottom:36668.8px;color:rgb(35,31,31);
}
#P101_165
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P101_166
{
left:20640.9px;bottom:37108.5px;color:rgb(35,31,31);
}
#P101_167
{
left:20976.7px;bottom:36686.4px;color:rgb(35,31,31);
}
#P101_168
{
left:20619.8px;bottom:36652.8px;color:rgb(35,31,31);
}
#P101_169
{
left:20997.8px;bottom:36670px;color:rgb(35,31,31);
}
#P101_170
{
left:20640.9px;bottom:36200.9px;color:rgb(35,31,31);
}
#P101_171
{
left:20976.7px;bottom:36686.4px;color:rgb(35,31,31);
}
#P101_172
{
left:20997.8px;bottom:36668.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P101_173
{
left:21156.2px;bottom:36639.2px;color:rgb(35,31,31);
}
#P101_174
{
left:21742.6px;bottom:36668.8px;color:rgb(35,31,31);
}
#P101_175
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P101_176
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P101_177
{
left:22383.3px;bottom:37108.5px;color:rgb(35,31,31);
}
#P101_178
{
left:23054.9px;bottom:36686.4px;color:rgb(35,31,31);
}
#P101_179
{
left:22362.1px;bottom:36652.8px;color:rgb(35,31,31);
}
#P101_180
{
left:23076px;bottom:36670px;color:rgb(35,31,31);
}
#P101_181
{
left:22383.3px;bottom:36200.9px;color:rgb(35,31,31);
}
#P101_182
{
left:23054.9px;bottom:36686.4px;color:rgb(35,31,31);
}
#P101_183
{
left:23076px;bottom:36668.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P101_184
{
left:27758.6px;bottom:36688.5px;color:rgb(35,31,31);
}
#P101_185
{
left:29053.5px;bottom:36668.8px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P101_186
{
left:29535.6px;bottom:37108.5px;color:rgb(35,31,31);
}
#P101_187
{
left:29871.4px;bottom:36686.4px;color:rgb(35,31,31);
}
#P101_188
{
left:29514.5px;bottom:36652.8px;color:rgb(35,31,31);
}
#P101_189
{
left:29892.6px;bottom:36670px;color:rgb(35,31,31);
}
#P101_190
{
left:29535.6px;bottom:36200.9px;color:rgb(35,31,31);
}
#P101_191
{
left:29871.4px;bottom:36686.4px;color:rgb(35,31,31);
}
#P101_192
{
left:29892.6px;bottom:36668.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P101_193
{
left:30051px;bottom:36639.2px;color:rgb(35,31,31);
}
#P101_194
{
left:30637.4px;bottom:36668.8px;color:rgb(35,31,31);
}
#P101_195
{
left:31327.3px;bottom:36639.2px;color:rgb(35,31,31);
}
#P101_196
{
left:31913.7px;bottom:36668.8px;color:rgb(35,31,31);
}
#P101_197
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P101_198
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P101_199
{
left:32554.3px;bottom:37108.5px;color:rgb(35,31,31);
}
#P101_200
{
left:32890.1px;bottom:36686.4px;color:rgb(35,31,31);
}
#P101_201
{
left:32533.2px;bottom:36652.8px;color:rgb(35,31,31);
}
#P101_202
{
left:32911.3px;bottom:36670px;color:rgb(35,31,31);
}
#P101_203
{
left:32554.3px;bottom:36200.9px;color:rgb(35,31,31);
}
#P101_204
{
left:32890.1px;bottom:36686.4px;color:rgb(35,31,31);
}
#P101_205
{
left:32911.3px;bottom:36668.8px;color:rgb(35,31,31);
}
#P101_206
{
left:6973.47px;bottom:34556.8px;color:rgb(35,31,31);
}
#P101_207
{
left:7150.49px;bottom:34576.5px;color:rgb(35,31,31);
}
#P101_208
{
left:8573.34px;bottom:34556.8px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P101_209
{
left:9055.64px;bottom:34996.5px;color:rgb(35,31,31);
}
#P101_210
{
left:9391.45px;bottom:34574.4px;color:rgb(35,31,31);
}
#P101_211
{
left:9034.52px;bottom:34540.8px;color:rgb(35,31,31);
}
#P101_212
{
left:9412.57px;bottom:34558px;color:rgb(35,31,31);
}
#P101_213
{
left:9055.64px;bottom:34088.9px;color:rgb(35,31,31);
}
#P101_214
{
left:9391.45px;bottom:34574.4px;color:rgb(35,31,31);
}
#P101_215
{
left:9412.57px;bottom:34556.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P101_216
{
left:9570.97px;bottom:34527.2px;color:rgb(35,31,31);
}
#P101_217
{
left:10157.4px;bottom:34556.8px;color:rgb(35,31,31);
}
#P101_218
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P101_219
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P101_220
{
left:10965.9px;bottom:34996.5px;color:rgb(35,31,31);
}
#P101_221
{
left:11301.7px;bottom:34574.4px;color:rgb(35,31,31);
}
#P101_222
{
left:10776.9px;bottom:34540.8px;color:rgb(35,31,31);
}
#P101_223
{
left:11490.8px;bottom:34558px;color:rgb(35,31,31);
}
#P101_224
{
left:10798px;bottom:34088.9px;color:rgb(35,31,31);
}
#P101_225
{
left:11469.7px;bottom:34574.4px;color:rgb(35,31,31);
}
#P101_226
{
left:11490.8px;bottom:34556.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P101_227
{
left:11649.1px;bottom:34527.2px;color:rgb(35,31,31);
}
#P101_228
{
left:12235.5px;bottom:34556.8px;color:rgb(35,31,31);
}
#P101_229
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P101_230
{
left:12415.1px;bottom:34996.5px;color:rgb(35,31,31);
}
#P101_231
{
left:12750.9px;bottom:34574.4px;color:rgb(35,31,31);
}
#P101_232
{
left:12393.9px;bottom:34540.8px;color:rgb(35,31,31);
}
#P101_233
{
left:12772px;bottom:34558px;color:rgb(35,31,31);
}
#P101_234
{
left:12415.1px;bottom:34088.9px;color:rgb(35,31,31);
}
#P101_235
{
left:12750.9px;bottom:34574.4px;color:rgb(35,31,31);
}
#P101_236
{
left:12772px;bottom:34556.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P101_237
{
left:17454.6px;bottom:34576.5px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P101_238
{
left:18877.4px;bottom:34576.5px;color:rgb(35,31,31);
}
#P101_239
{
left:18898.5px;bottom:34998.6px;color:rgb(35,31,31);
}
#P101_240
{
left:19234.3px;bottom:34574.4px;color:rgb(35,31,31);
}
#P101_241
{
left:18877.4px;bottom:34542.9px;color:rgb(35,31,31);
}
#P101_242
{
left:19255.4px;bottom:34558px;color:rgb(35,31,31);
}
#P101_243
{
left:18898.5px;bottom:34091.1px;color:rgb(35,31,31);
}
#P101_244
{
left:19234.3px;bottom:34574.4px;color:rgb(35,31,31);
}
#P101_245
{
left:19255.4px;bottom:34556.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P101_246
{
left:19413.8px;bottom:34527.2px;color:rgb(35,31,31);
}
#P101_247
{
left:20000.3px;bottom:34556.8px;color:rgb(35,31,31);
}
#P101_248
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P101_249
{
left:20347.7px;bottom:34996.5px;color:rgb(35,31,31);
}
#P101_250
{
left:20683.5px;bottom:34574.4px;color:rgb(35,31,31);
}
#P101_251
{
left:20158.7px;bottom:34540.8px;color:rgb(35,31,31);
}
#P101_252
{
left:20872.5px;bottom:34558px;color:rgb(35,31,31);
}
#P101_253
{
left:20179.8px;bottom:34088.9px;color:rgb(35,31,31);
}
#P101_254
{
left:20851.4px;bottom:34574.4px;color:rgb(35,31,31);
}
#P101_255
{
left:20872.5px;bottom:34556.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P101_256
{
left:21030.9px;bottom:34527.2px;color:rgb(35,31,31);
}
#P101_257
{
left:21617.3px;bottom:34556.8px;color:rgb(35,31,31);
}
#P101_258
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P101_259
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P101_260
{
left:22425.9px;bottom:34996.5px;color:rgb(35,31,31);
}
#P101_261
{
left:22761.7px;bottom:34574.4px;color:rgb(35,31,31);
}
#P101_262
{
left:22236.8px;bottom:34540.8px;color:rgb(35,31,31);
}
#P101_263
{
left:22950.7px;bottom:34558px;color:rgb(35,31,31);
}
#P101_264
{
left:22257.9px;bottom:34088.9px;color:rgb(35,31,31);
}
#P101_265
{
left:22929.6px;bottom:34574.4px;color:rgb(35,31,31);
}
#P101_266
{
left:22950.7px;bottom:34556.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P101_267
{
left:27758.6px;bottom:34576.5px;color:rgb(35,31,31);
}
#P101_268
{
left:29053.5px;bottom:34556.8px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P101_269
{
left:29535.6px;bottom:34996.5px;color:rgb(35,31,31);
}
#P101_270
{
left:29871.4px;bottom:34574.4px;color:rgb(35,31,31);
}
#P101_271
{
left:29514.5px;bottom:34540.8px;color:rgb(35,31,31);
}
#P101_272
{
left:29892.6px;bottom:34558px;color:rgb(35,31,31);
}
#P101_273
{
left:29535.6px;bottom:34088.9px;color:rgb(35,31,31);
}
#P101_274
{
left:29871.4px;bottom:34574.4px;color:rgb(35,31,31);
}
#P101_275
{
left:29892.6px;bottom:34556.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P101_276
{
left:30051px;bottom:34527.2px;color:rgb(35,31,31);
}
#P101_277
{
left:30637.4px;bottom:34556.8px;color:rgb(35,31,31);
}
#P101_278
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P101_279
{
left:30816.9px;bottom:34996.5px;color:rgb(35,31,31);
}
#P101_280
{
left:31152.7px;bottom:34574.4px;color:rgb(35,31,31);
}
#P101_281
{
left:30795.8px;bottom:34540.8px;color:rgb(35,31,31);
}
#P101_282
{
left:31173.8px;bottom:34558px;color:rgb(35,31,31);
}
#P101_283
{
left:30816.9px;bottom:34088.9px;color:rgb(35,31,31);
}
#P101_284
{
left:31152.7px;bottom:34574.4px;color:rgb(35,31,31);
}
#P101_285
{
left:31173.8px;bottom:34556.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P101_286
{
left:31332.2px;bottom:34527.2px;color:rgb(35,31,31);
}
#P101_287
{
left:31918.6px;bottom:34556.8px;color:rgb(35,31,31);
}
#P101_288
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P101_289
{
left:32098.1px;bottom:34996.5px;color:rgb(35,31,31);
}
#P101_290
{
left:32433.9px;bottom:34574.4px;color:rgb(35,31,31);
}
#P101_291
{
left:32077px;bottom:34540.8px;color:rgb(35,31,31);
}
#P101_292
{
left:32455.1px;bottom:34558px;color:rgb(35,31,31);
}
#P101_293
{
left:32098.1px;bottom:34088.9px;color:rgb(35,31,31);
}
#P101_294
{
left:32433.9px;bottom:34574.4px;color:rgb(35,31,31);
}
#P101_295
{
left:32455.1px;bottom:34556.8px;color:rgb(35,31,31);
}
#P101_296
{
left:6973.47px;bottom:32444.8px;color:rgb(35,31,31);
}
#P101_297
{
left:7150.49px;bottom:32464.5px;color:rgb(35,31,31);
}
#P101_298
{
left:8573.34px;bottom:32444.8px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P101_299
{
left:9135.51px;bottom:32884.5px;color:rgb(35,31,31);
}
#P101_300
{
left:9471.32px;bottom:32462.4px;color:rgb(35,31,31);
}
#P101_301
{
left:8946.52px;bottom:32428.8px;color:rgb(35,31,31);
}
#P101_302
{
left:9660.38px;bottom:32446px;color:rgb(35,31,31);
}
#P101_303
{
left:8967.64px;bottom:31976.9px;color:rgb(35,31,31);
}
#P101_304
{
left:9639.26px;bottom:32462.4px;color:rgb(35,31,31);
}
#P101_305
{
left:9660.38px;bottom:32444.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P101_306
{
left:9818.78px;bottom:32415.2px;color:rgb(35,31,31);
}
#P101_307
{
left:10405.2px;bottom:32444.8px;color:rgb(35,31,31);
}
#P101_308
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P101_309
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P101_310
{
left:11213.7px;bottom:32884.5px;color:rgb(35,31,31);
}
#P101_311
{
left:11549.5px;bottom:32462.4px;color:rgb(35,31,31);
}
#P101_312
{
left:11024.7px;bottom:32428.8px;color:rgb(35,31,31);
}
#P101_313
{
left:11738.6px;bottom:32446px;color:rgb(35,31,31);
}
#P101_314
{
left:11045.8px;bottom:31976.9px;color:rgb(35,31,31);
}
#P101_315
{
left:11717.5px;bottom:32462.4px;color:rgb(35,31,31);
}
#P101_316
{
left:11738.6px;bottom:32444.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P101_317
{
left:11896.9px;bottom:32415.2px;color:rgb(35,31,31);
}
#P101_318
{
left:12483.4px;bottom:32444.8px;color:rgb(35,31,31);
}
#P101_319
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P101_320
{
left:12662.9px;bottom:32884.5px;color:rgb(35,31,31);
}
#P101_321
{
left:12998.7px;bottom:32462.4px;color:rgb(35,31,31);
}
#P101_322
{
left:12641.8px;bottom:32428.8px;color:rgb(35,31,31);
}
#P101_323
{
left:13019.8px;bottom:32446px;color:rgb(35,31,31);
}
#P101_324
{
left:12662.9px;bottom:31976.9px;color:rgb(35,31,31);
}
#P101_325
{
left:12998.7px;bottom:32462.4px;color:rgb(35,31,31);
}
#P101_326
{
left:13019.8px;bottom:32444.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P101_327
{
left:17454.6px;bottom:32464.5px;color:rgb(35,31,31);
}
#P101_328
{
left:18877.5px;bottom:32444.8px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P101_329
{
left:19527.5px;bottom:32884.5px;color:rgb(35,31,31);
}
#P101_330
{
left:19863.3px;bottom:32462.4px;color:rgb(35,31,31);
}
#P101_331
{
left:19338.5px;bottom:32428.8px;color:rgb(35,31,31);
}
#P101_332
{
left:20052.4px;bottom:32446px;color:rgb(35,31,31);
}
#P101_333
{
left:19359.6px;bottom:31976.9px;color:rgb(35,31,31);
}
#P101_334
{
left:20031.3px;bottom:32462.4px;color:rgb(35,31,31);
}
#P101_335
{
left:20052.4px;bottom:32444.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P101_336
{
left:20210.8px;bottom:32415.2px;color:rgb(35,31,31);
}
#P101_337
{
left:20797.2px;bottom:32444.8px;color:rgb(35,31,31);
}
#P101_338
{
left:20955.6px;bottom:31854.4px;color:rgb(35,31,31);
}
#P101_339
{
left:21202px;bottom:32176px;color:rgb(35,31,31);
}
#P101_340
{
left:21258.3px;bottom:32444.8px;color:rgb(35,31,31);
}
#P101_341
{
left:21789.8px;bottom:32415.2px;color:rgb(35,31,31);
}
#P101_342
{
left:22376.2px;bottom:32444.8px;color:rgb(35,31,31);
}
#P101_343
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P101_344
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P101_345
{
left:23184.8px;bottom:32884.5px;color:rgb(35,31,31);
}
#P101_346
{
left:23520.6px;bottom:32462.4px;color:rgb(35,31,31);
}
#P101_347
{
left:22995.7px;bottom:32428.8px;color:rgb(35,31,31);
}
#P101_348
{
left:23709.6px;bottom:32446px;color:rgb(35,31,31);
}
#P101_349
{
left:23016.9px;bottom:31976.9px;color:rgb(35,31,31);
}
#P101_350
{
left:23688.5px;bottom:32462.4px;color:rgb(35,31,31);
}
#P101_351
{
left:23709.6px;bottom:32444.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P101_352
{
left:23765.9px;bottom:31854.4px;color:rgb(35,31,31);
}
#P101_353
{
left:24012.3px;bottom:32444.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P101_354
{
left:27758.6px;bottom:32464.5px;color:rgb(35,31,31);
}
#P101_355
{
left:29053.5px;bottom:32444.8px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P101_356
{
left:29703.5px;bottom:32884.5px;color:rgb(35,31,31);
}
#P101_357
{
left:30039.3px;bottom:32462.4px;color:rgb(35,31,31);
}
#P101_358
{
left:29514.5px;bottom:32428.8px;color:rgb(35,31,31);
}
#P101_359
{
left:30228.4px;bottom:32446px;color:rgb(35,31,31);
}
#P101_360
{
left:29535.6px;bottom:31976.9px;color:rgb(35,31,31);
}
#P101_361
{
left:30207.3px;bottom:32462.4px;color:rgb(35,31,31);
}
#P101_362
{
left:30228.4px;bottom:32444.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P101_363
{
left:30386.8px;bottom:32415.2px;color:rgb(35,31,31);
}
#P101_364
{
left:30973.2px;bottom:32444.8px;color:rgb(35,31,31);
}
#P101_365
{
left:31131.6px;bottom:31854.4px;color:rgb(35,31,31);
}
#P101_366
{
left:31378px;bottom:32176px;color:rgb(35,31,31);
}
#P101_367
{
left:31434.3px;bottom:32444.8px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P101_368
{
left:31916.6px;bottom:32884.5px;color:rgb(35,31,31);
}
#P101_369
{
left:32252.4px;bottom:32462.4px;color:rgb(35,31,31);
}
#P101_370
{
left:31895.4px;bottom:32428.8px;color:rgb(35,31,31);
}
#P101_371
{
left:32273.5px;bottom:32446px;color:rgb(35,31,31);
}
#P101_372
{
left:31916.6px;bottom:31976.9px;color:rgb(35,31,31);
}
#P101_373
{
left:32252.4px;bottom:32462.4px;color:rgb(35,31,31);
}
#P101_374
{
left:32273.5px;bottom:32444.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P101_375
{
left:32431.8px;bottom:32415.2px;color:rgb(35,31,31);
}
#P101_376
{
left:33018.3px;bottom:32444.8px;color:rgb(35,31,31);
}
#P101_377
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P101_378
{
left:33570.9px;bottom:32884.5px;color:rgb(35,31,31);
}
#P101_379
{
left:33906.7px;bottom:32462.4px;color:rgb(35,31,31);
}
#P101_380
{
left:33549.8px;bottom:32428.8px;color:rgb(35,31,31);
}
#P101_381
{
left:33927.8px;bottom:32446px;color:rgb(35,31,31);
}
#P101_382
{
left:33570.9px;bottom:31976.9px;color:rgb(35,31,31);
}
#P101_383
{
left:33906.7px;bottom:32462.4px;color:rgb(35,31,31);
}
#P101_384
{
left:33927.8px;bottom:32444.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P101_385
{
left:33984.2px;bottom:31854.4px;color:rgb(35,31,31);
}
#P101_386
{
left:34230.6px;bottom:32444.8px;color:rgb(35,31,31);
}
#P101_387
{
left:6973.47px;bottom:30012.8px;color:rgb(35,31,31);
}
#P101_388
{
left:7150.49px;bottom:30032.6px;color:rgb(35,31,31);
}
#P101_389
{
left:8637.4px;bottom:30032.5px;letter-spacing:-183px;color:rgb(2,77,161);
}
#P101_390
{
left:0px;letter-spacing:0px;margin-left:183px;
}
#P101_391
{
left:12141.3px;bottom:30012.8px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P101_392
{
left:0px;letter-spacing:-0.1px;margin-left:-63.2px;
}
#P101_393
{
left:0px;letter-spacing:-0.1px;margin-left:-6.8px;
}
#P101_394
{
left:22945px;bottom:30452.5px;color:rgb(35,31,31);
}
#P101_395
{
left:23280.9px;bottom:30030.4px;color:rgb(35,31,31);
}
#P101_396
{
left:22923.9px;bottom:29996.8px;color:rgb(35,31,31);
}
#P101_397
{
left:23302px;bottom:30014px;color:rgb(35,31,31);
}
#P101_398
{
left:22945px;bottom:29544.9px;color:rgb(35,31,31);
}
#P101_399
{
left:23280.9px;bottom:30030.4px;color:rgb(35,31,31);
}
#P101_400
{
left:23302px;bottom:30012.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P101_401
{
left:0px;letter-spacing:0px;margin-left:158.4px;
}
#P101_402
{
left:6973.4px;bottom:28796.8px;color:rgb(35,31,31);
}
#P101_403
{
left:7933.4px;bottom:28816.5px;letter-spacing:508.3px;color:rgb(35,31,31);
}
#P101_404
{
left:8637.4px;bottom:28796.8px;color:rgb(35,31,31);
}
#P101_405
{
left:11206.8px;bottom:28816.5px;color:rgb(35,31,31);
}
#P101_406
{
left:11402.5px;bottom:28796.8px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P101_407
{
left:0px;letter-spacing:0px;margin-left:-41.7px;
}
#P101_408
{
left:0px;letter-spacing:-0.5px;
}
#P101_409
{
left:8637.4px;bottom:27900.8px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P101_410
{
left:0px;letter-spacing:-0.8px;margin-left:-20.7px;
}
#P101_411
{
left:8637.4px;bottom:27004.8px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P101_412
{
left:0px;letter-spacing:0px;margin-left:-41.6px;
}
#P101_413
{
left:9213.4px;bottom:25212.8px;color:rgb(35,31,31);
}
#P101_414
{
left:9277.4px;bottom:25232.5px;word-spacing:425.7px;color:rgb(35,31,31);
}
#P101_415
{
left:10877.4px;bottom:25232.5px;color:rgb(2,77,161);
}
#P101_416
{
left:13120.3px;bottom:25212.8px;letter-spacing:151.5px;color:rgb(35,31,31);
}
#P101_417
{
left:0px;letter-spacing:0px;margin-left:-214.7px;
}
#P101_418
{
left:0px;letter-spacing:-1.2px;
}
#P101_419
{
left:0px;letter-spacing:-1.3px;margin-left:1.2px;
}
#P101_420
{
left:9213.4px;bottom:23868.8px;color:rgb(35,31,31);
}
#P101_421
{
left:9277.4px;bottom:23888.5px;color:rgb(35,31,31);
}
#P101_422
{
left:10877.4px;bottom:23868.8px;color:rgb(35,31,31);
}
#P101_423
{
left:12890.1px;bottom:23888.5px;color:rgb(35,31,31);
}
#P101_424
{
left:13085.8px;bottom:23868.8px;color:rgb(35,31,31);
}
#P101_425
{
left:0px;letter-spacing:0px;margin-left:-4.2px;
}
#P101_426
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P101_427
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P101_428
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P101_429
{
left:20319.5px;bottom:24308.5px;color:rgb(35,31,31);
}
#P101_430
{
left:20655.3px;bottom:23886.4px;color:rgb(35,31,31);
}
#P101_431
{
left:20298.4px;bottom:23852.8px;color:rgb(35,31,31);
}
#P101_432
{
left:20676.4px;bottom:23870px;color:rgb(35,31,31);
}
#P101_433
{
left:20319.5px;bottom:23400.9px;color:rgb(35,31,31);
}
#P101_434
{
left:20655.3px;bottom:23886.4px;color:rgb(35,31,31);
}
#P101_435
{
left:20676.4px;bottom:23868.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P101_436
{
left:0px;letter-spacing:0px;margin-left:158.4px;
}
#P101_437
{
left:10877.4px;bottom:22588.8px;word-spacing:492.2px;color:rgb(35,31,31);
}
#P101_438
{
left:12093.4px;bottom:22588.8px;letter-spacing:-1.9px;color:rgb(35,31,31);
}
#P101_439
{
left:0px;letter-spacing:-0.4px;margin-left:1.9px;
}
#P101_440
{
left:0px;letter-spacing:-2.5px;margin-left:-13.5px;
}
#P101_441
{
left:0px;letter-spacing:-1px;margin-left:2.5px;
}
#P101_442
{
left:12093.4px;bottom:21692.8px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P101_443
{
left:0px;letter-spacing:0px;margin-left:0.8px;
}
#P101_444
{
left:10877.4px;bottom:20604.8px;letter-spacing:-6.9px;word-spacing:499.1px;color:rgb(35,31,31);
}
#P101_445
{
left:12093.4px;bottom:20604.8px;letter-spacing:-10.5px;color:rgb(35,31,31);
}
#P101_446
{
left:0px;letter-spacing:-0.4px;margin-left:10.5px;
}
#P101_447
{
left:0px;letter-spacing:-5.2px;margin-left:-13.5px;
}
#P101_448
{
left:0px;letter-spacing:0px;margin-left:-15.7px;
}
#P101_449
{
left:0px;letter-spacing:0px;
}
#P101_450
{
left:12093.4px;bottom:19708.8px;letter-spacing:-2.3px;color:rgb(35,31,31);
}
#P101_451
{
left:0px;letter-spacing:0px;margin-left:-1.1px;
}
#P101_452
{
left:9277.4px;bottom:17616.5px;word-spacing:425.7px;color:rgb(35,31,31);
}
#P101_453
{
left:14611.5px;bottom:17596.8px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P101_454
{
left:0px;letter-spacing:-0.2px;margin-left:-202px;
}
#P101_455
{
left:0px;letter-spacing:-7px;margin-left:-4px;
}
#P101_456
{
left:0px;letter-spacing:0px;margin-left:-10.6px;
}
#P101_457
{
left:0px;letter-spacing:0px;margin-left:-21px;
}
#P101_458
{
left:10877.4px;bottom:16675.2px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P101_459
{
left:0px;letter-spacing:0px;margin-left:-24.5px;
}
#P101_460
{
left:0px;letter-spacing:-1.1px;
}
#P101_461
{
left:0px;letter-spacing:-1.9px;margin-left:1.1px;
}
#P101_462
{
left:0px;letter-spacing:0px;margin-left:1.9px;
}
#P101_463
{
left:30259.4px;bottom:16659.2px;color:rgb(35,31,31);
}
#P101_464
{
left:30432.2px;bottom:16675.2px;color:rgb(35,31,31);
}
#P101_465
{
left:30805.3px;bottom:16659.2px;color:rgb(35,31,31);
}
#P101_466
{
left:30978.1px;bottom:16675.2px;letter-spacing:-2.3px;color:rgb(35,31,31);
}
#P101_467
{
left:33236.6px;bottom:16659.2px;color:rgb(35,31,31);
}
#P101_468
{
left:10877.4px;bottom:15779.2px;letter-spacing:-10.5px;color:rgb(35,31,31);
}
#P101_469
{
left:0px;letter-spacing:-0.4px;margin-left:10.5px;
}
#P101_470
{
left:0px;letter-spacing:-5.8px;margin-left:-20.6px;
}
#P101_471
{
left:0px;letter-spacing:-3px;margin-left:5.8px;
}
#P101_472
{
left:0px;letter-spacing:0px;margin-left:3px;
}
#P101_473
{
left:10877.4px;bottom:14883.2px;letter-spacing:-1.8px;color:rgb(35,31,31);
}
#P101_474
{
left:0px;letter-spacing:0px;margin-left:1.8px;
}
#P101_475
{
left:6973.4px;bottom:11073.9px;letter-spacing:-14.8px;color:rgb(35,31,31);
}
#P101_476
{
left:0px;letter-spacing:-1px;margin-left:14.8px;
}
#P101_477
{
left:17810.8px;bottom:11073.9px;letter-spacing:-2.1px;color:rgb(0,124,196);
}
#P101_478
{
left:0px;letter-spacing:-1.5px;margin-left:-6.3px;
}
#P101_479
{
left:0px;letter-spacing:0px;margin-left:1.5px;
}
#P101_480
{
left:6973.4px;bottom:9921.9px;color:rgb(35,31,31);
}
#P101_481
{
left:7150.55px;bottom:9941.61px;color:rgb(35,31,31);
}
#P101_482
{
left:8573.4px;bottom:9921.9px;letter-spacing:-3.1px;color:rgb(35,31,31);
}
#P101_483
{
left:0px;letter-spacing:-1.4px;margin-left:3.1px;
}
#P101_484
{
left:0px;letter-spacing:0px;margin-left:-12.6px;
}
#P101_485
{
left:21934.6px;bottom:9941.61px;color:rgb(35,31,31);
}
#P101_486
{
left:23357.4px;bottom:9921.9px;letter-spacing:0.3px;color:rgb(35,31,31);
}
#P101_487
{
left:6973.4px;bottom:8577.9px;color:rgb(35,31,31);
}
#P101_488
{
left:7150.55px;bottom:8597.61px;color:rgb(35,31,31);
}
#P101_489
{
left:8573.4px;bottom:8577.9px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P101_490
{
left:21934.6px;bottom:8597.61px;color:rgb(35,31,31);
}
#P101_491
{
left:23357.4px;bottom:8577.9px;letter-spacing:-0.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P101_492
{
left:6973.4px;bottom:6721.9px;color:rgb(35,31,31);
}
#P101_493
{
left:7150.55px;bottom:6741.61px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P101_494
{
left:8637.4px;bottom:6741.61px;letter-spacing:-17.6px;color:rgb(2,77,161);
}
#P101_495
{
left:0px;letter-spacing:0px;margin-left:17.6px;
}
#P101_496
{
left:14439.8px;bottom:6721.9px;letter-spacing:-0.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P101_497
{
left:0px;letter-spacing:-0.1px;margin-left:-13.8px;
}
#P101_498
{
left:0px;letter-spacing:-0.1px;margin-left:-13.8px;
}
#P101_499
{
left:29862.5px;bottom:7161.58px;color:rgb(35,31,31);
}
#P101_500
{
left:30198.3px;bottom:6739.5px;color:rgb(35,31,31);
}
#P101_501
{
left:29841.4px;bottom:6705.89px;color:rgb(35,31,31);
}
#P101_502
{
left:30219.4px;bottom:6723.17px;color:rgb(35,31,31);
}
#P101_503
{
left:29862.5px;bottom:6254.06px;color:rgb(35,31,31);
}
#P101_504
{
left:30198.3px;bottom:6739.5px;color:rgb(35,31,31);
}
#P101_505
{
left:30219.4px;bottom:6721.9px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P101_506
{
left:0px;letter-spacing:0px;margin-left:158.4px;
}
#P101_507
{
left:6973.4px;bottom:5377.9px;color:rgb(35,31,31);
}
#P101_508
{
left:7933.4px;bottom:5397.61px;color:rgb(35,31,31);
}
#P101_509
{
left:8637.4px;bottom:5377.9px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P101_510
{
left:9735.64px;bottom:5397.61px;color:rgb(35,31,31);
}
#P101_511
{
left:9924.31px;bottom:5377.9px;letter-spacing:-9.3px;word-spacing:0.3px;color:rgb(35,31,31);
}
#P101_512
{
left:0px;letter-spacing:-14.1px;margin-left:-18.7px;
}
#P101_513
{
left:0px;letter-spacing:-7.7px;margin-left:6.8px;
}
#P101_514
{
left:25055.3px;bottom:5377.9px;letter-spacing:-9.1px;color:rgb(0,124,196);
}
#P101_515
{
left:0px;letter-spacing:-8.6px;margin-left:-6.3px;
}
#P101_516
{
left:0px;letter-spacing:-7px;margin-left:1.5px;
}
#P101_517
{
left:6973.4px;bottom:4033.9px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P101_518
{
left:8735.64px;bottom:4077.28px;color:rgb(35,31,31);
}
#P101_519
{
left:9072.47px;bottom:4198.41px;color:rgb(35,31,31);
}
#P101_520
{
left:9533.4px;bottom:4033.9px;color:rgb(35,31,31);
}
#P101_521
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P101_522
{
left:16031.6px;bottom:4077.28px;color:rgb(35,31,31);
}
#P101_523
{
left:16368.5px;bottom:4198.41px;color:rgb(35,31,31);
}
#P101_524
{
left:16829.4px;bottom:4033.9px;color:rgb(35,31,31);
}
#P101_525
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P101_526
{
left:23519.6px;bottom:4077.28px;color:rgb(35,31,31);
}
#P101_527
{
left:23856.5px;bottom:4198.41px;color:rgb(35,31,31);
}
#P101_528
{
left:24317.4px;bottom:4033.9px;color:rgb(35,31,31);
}
#P101_529
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P101_530
{
left:30868px;bottom:4077.28px;color:rgb(35,31,31);
}
#P101_531
{
left:31216.5px;bottom:4198.41px;color:rgb(35,31,31);
}
#P101_532
{
left:31677.4px;bottom:4033.9px;color:rgb(35,31,31);
}
#P101_533
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P101_534
{
left:6267.8px;bottom:38818.6px;
}
#P101_535
{
left:6267.8px;bottom:38818.6px;color:white;
}
#P101_536
{
left:4547.74px;bottom:18523.6px;color:rgb(35,31,31);
}
#P101_537
{
left:0px;letter-spacing:0px;margin-left:115.2px;
}
#P101_538
{
left:4934.75px;bottom:18860.5px;color:rgb(35,31,31);
}
#P101_539
{
left:4934.75px;bottom:18207.7px;color:rgb(35,31,31);
}
#P101_540
{
left:4547.74px;bottom:22843.6px;color:rgb(35,31,31);
}
#P101_541
{
left:0px;letter-spacing:0px;margin-left:115.2px;
}
#P101_542
{
left:4934.75px;bottom:23180.5px;color:rgb(35,31,31);
}
#P101_543
{
left:4934.75px;bottom:22527.7px;color:rgb(35,31,31);
}
#P101_544
{
left:21298.6px;bottom:46150.2px;color:rgb(35,31,31);
}
#P101_545
{
left:21551.5px;bottom:42043.9px;color:rgb(35,31,31);
}
#P101_546
{
left:27446.9px;bottom:46150.2px;color:rgb(35,31,31);
}
#P101_547
{
left:22005.5px;bottom:42391.9px;color:rgb(35,31,31);
}
#P101_548
{
left:22005.5px;bottom:41739.1px;color:rgb(35,31,31);
}
#P101_549
{
left:28724.4px;bottom:42043.9px;color:rgb(35,31,31);
}
#P101_550
{
left:29178.4px;bottom:42391.9px;color:rgb(35,31,31);
}
#P101_551
{
left:29178.4px;bottom:41739.1px;color:rgb(35,31,31);
}
#P101_552
{
left:32067px;bottom:46808.9px;color:rgb(35,31,31);
}
#P101_553
{
left:32067px;bottom:46156.1px;color:rgb(35,31,31);
}
#P101_554
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P101_555
{
left:22457.9px;bottom:1410.03px;color:rgb(35,31,31);
}
#P101_556
{
left:27010.1px;bottom:1410.03px;letter-spacing:0.9px;word-spacing:461.2px;color:rgb(35,31,31);
}
#P101_557
{
left:0px;letter-spacing:0px;margin-left:-462.1px;
}
#P101_558
{
left:0px;letter-spacing:1.4px;margin-left:0.9px;
}
#P101_559
{
left:0px;letter-spacing:0px;margin-left:-462.6px;
}
#P101_560
{
left:0px;letter-spacing:4.8px;margin-left:0.9px;
}
#P101_561
{
left:36142px;bottom:1410.03px;color:rgb(35,31,31);
}
#PageContainer101
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg101.jpg");background-repeat:no-repeat;background-size: 873px 1186px; background-position: 128.87px 93.25px;
}
#ImageContainer101 {bottom:84.75px;left:128.87px;width:873.42px;height:1186.19px;position:absolute;} #TextContainer101 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.circle3{position: absolute; top: 282px; left: 157px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}