.tr196{ color:transparent;}
#P196_1
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P196_2
{
left:3540.44px;bottom:1410.03px;color:rgb(35,31,31);
}
#P196_3
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P196_4
{
left:9125.52px;bottom:1410.03px;letter-spacing:2.1px;word-spacing:461.8px;color:rgb(35,31,31);
}
#P196_5
{
left:0px;letter-spacing:0px;margin-left:-463.9px;
}
#P196_6
{
left:0px;letter-spacing:0.3px;margin-left:0.3px;
}
#P196_7
{
left:0px;letter-spacing:0px;margin-left:-462.1px;
}
#P196_8
{
left:0px;letter-spacing:1.6px;margin-left:0.3px;
}
#P196_9
{
left:5889.56px;bottom:46957.1px;letter-spacing:-6px;color:white;
}
#P196_10
{
left:9101.98px;bottom:47255.5px;color:white;
}
#P196_11
{
left:9475.61px;bottom:46957.1px;color:white;
}
#P196_12
{
left:2371.78px;bottom:46929.9px;color:white;
}
#P196_13
{
left:4086.06px;bottom:32740.6px;color:rgb(33,31,31);
}
#P196_14
{
left:4172.45px;bottom:32772px;letter-spacing:-0.2px;color:rgb(33,31,31);
}
#P196_15
{
left:4455.46px;bottom:32874.7px;letter-spacing:0.8px;color:rgb(33,31,31);
}
#P196_16
{
left:4602.53px;bottom:32928.2px;color:rgb(33,31,31);
}
#P196_17
{
left:4164.48px;bottom:32561.4px;color:rgb(33,31,31);
}
#P196_18
{
left:4250.85px;bottom:32592.8px;letter-spacing:-0.2px;color:rgb(33,31,31);
}
#P196_19
{
left:4533.86px;bottom:32695.5px;letter-spacing:0.8px;color:rgb(33,31,31);
}
#P196_20
{
left:4259.68px;bottom:32382.2px;color:rgb(33,31,31);
}
#P196_21
{
left:4346.08px;bottom:32413.6px;letter-spacing:-0.2px;color:rgb(33,31,31);
}
#P196_22
{
left:4629.09px;bottom:32516.3px;letter-spacing:0.8px;color:rgb(33,31,31);
}
#P196_23
{
left:4424.86px;bottom:32133px;color:rgb(33,31,31);
}
#P196_24
{
left:4511.26px;bottom:32164.4px;letter-spacing:-0.2px;color:rgb(33,31,31);
}
#P196_25
{
left:4794.27px;bottom:32267.1px;letter-spacing:0.8px;color:rgb(33,31,31);
}
#P196_26
{
left:4690.71px;bottom:42321.3px;color:rgb(35,31,31);
}
#P196_27
{
left:5259.29px;bottom:42341px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P196_28
{
left:6354.71px;bottom:42341px;letter-spacing:-2.8px;color:rgb(2,77,161);
}
#P196_29
{
left:10930.9px;bottom:42321.3px;letter-spacing:193.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P196_30
{
left:0px;letter-spacing:-0.1px;margin-left:-214.5px;
}
#P196_31
{
left:0px;letter-spacing:-0.3px;
}
#P196_32
{
left:4690.71px;bottom:40977.3px;color:rgb(35,31,31);
}
#P196_33
{
left:5259.29px;bottom:40997px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P196_34
{
left:6354.71px;bottom:40997px;color:rgb(2,77,161);
}
#P196_35
{
left:10071.1px;bottom:40977.3px;letter-spacing:151.5px;color:rgb(35,31,31);
}
#P196_36
{
left:0px;letter-spacing:-0.6px;margin-left:-151.5px;
}
#P196_37
{
left:20743.2px;bottom:40977.3px;word-spacing:56.3px;color:rgb(35,31,31);
}
#P196_38
{
left:0px;letter-spacing:0px;margin-left:-56.3px;
}
#P196_39
{
left:6354.71px;bottom:40081.3px;letter-spacing:-1.9px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P196_40
{
left:0px;letter-spacing:-0.8px;margin-left:1.7px;
}
#P196_41
{
left:4690.84px;bottom:38737.3px;color:rgb(35,31,31);
}
#P196_42
{
left:5259.29px;bottom:38757px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P196_43
{
left:6354.71px;bottom:38757px;color:rgb(2,77,161);
}
#P196_44
{
left:15875.5px;bottom:38737.3px;letter-spacing:151.5px;color:rgb(35,31,31);
}
#P196_45
{
left:0px;letter-spacing:0px;margin-left:-151.5px;
}
#P196_46
{
left:21430.8px;bottom:38737.3px;color:rgb(35,31,31);
}
#P196_47
{
left:22483.9px;bottom:38737.3px;color:rgb(35,31,31);
}
#P196_48
{
left:6354.71px;bottom:37841.3px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P196_49
{
left:0px;letter-spacing:-1.1px;margin-left:-3.2px;
}
#P196_50
{
left:4690.84px;bottom:36177.4px;color:rgb(35,31,31);
}
#P196_51
{
left:8338.71px;bottom:35786.6px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P196_52
{
left:8359.83px;bottom:36226.3px;color:rgb(35,31,31);
}
#P196_53
{
left:8695.64px;bottom:35804.2px;color:rgb(35,31,31);
}
#P196_54
{
left:8338.71px;bottom:35770.6px;color:rgb(35,31,31);
}
#P196_55
{
left:8716.76px;bottom:35787.9px;color:rgb(35,31,31);
}
#P196_56
{
left:8359.83px;bottom:35318.8px;color:rgb(35,31,31);
}
#P196_57
{
left:8695.64px;bottom:35804.2px;color:rgb(35,31,31);
}
#P196_58
{
left:8716.76px;bottom:35786.6px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P196_59
{
left:8804.76px;bottom:35786.6px;color:rgb(35,31,31);
}
#P196_60
{
left:10146.1px;bottom:36177.3px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P196_61
{
left:0px;letter-spacing:0px;margin-left:-352px;
}
#P196_62
{
left:12992.5px;bottom:36059.2px;color:rgb(35,31,31);
}
#P196_63
{
left:13585.4px;bottom:35891.9px;color:rgb(35,31,31);
}
#P196_64
{
left:14551.6px;bottom:36177.3px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P196_65
{
left:0px;letter-spacing:0px;margin-left:-352px;
}
#P196_66
{
left:17399.6px;bottom:35826.7px;color:rgb(35,31,31);
}
#P196_67
{
left:17693.7px;bottom:35993.9px;letter-spacing:-74.2px;color:rgb(35,31,31);
}
#P196_68
{
left:18333.7px;bottom:35797.1px;color:rgb(35,31,31);
}
#P196_69
{
left:18920.1px;bottom:35826.7px;color:rgb(35,31,31);
}
#P196_70
{
left:19451.6px;bottom:35826.7px;color:rgb(35,31,31);
}
#P196_71
{
left:20461px;bottom:36177.3px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P196_72
{
left:0px;letter-spacing:545.6px;margin-left:-352px;
}
#P196_73
{
left:23309px;bottom:35802.6px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P196_74
{
left:23330.1px;bottom:36242.3px;color:rgb(35,31,31);
}
#P196_75
{
left:23665.9px;bottom:35820.2px;color:rgb(35,31,31);
}
#P196_76
{
left:23309px;bottom:35786.6px;color:rgb(35,31,31);
}
#P196_77
{
left:23687px;bottom:35803.9px;color:rgb(35,31,31);
}
#P196_78
{
left:23330.1px;bottom:35334.8px;color:rgb(35,31,31);
}
#P196_79
{
left:23665.9px;bottom:35820.2px;color:rgb(35,31,31);
}
#P196_80
{
left:23687px;bottom:35802.6px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P196_81
{
left:23775px;bottom:35802.6px;color:rgb(35,31,31);
}
#P196_82
{
left:24202.3px;bottom:35802.6px;color:rgb(35,31,31);
}
#P196_83
{
left:24448.7px;bottom:35802.6px;color:rgb(35,31,31);
}
#P196_84
{
left:24842.3px;bottom:35594.4px;color:rgb(35,31,31);
}
#P196_85
{
left:25113.5px;bottom:35802.6px;color:rgb(35,31,31);
}
#P196_86
{
left:25271.9px;bottom:35773px;color:rgb(35,31,31);
}
#P196_87
{
left:25858.3px;bottom:35802.6px;color:rgb(35,31,31);
}
#P196_88
{
left:26016.7px;bottom:35802.6px;color:rgb(35,31,31);
}
#P196_89
{
left:26410.3px;bottom:35594.4px;color:rgb(35,31,31);
}
#P196_90
{
left:26681.5px;bottom:35802.6px;color:rgb(35,31,31);
}
#P196_91
{
left:4669.4px;bottom:30300.8px;letter-spacing:-1.6px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P196_92
{
left:0px;letter-spacing:-0.3px;margin-left:-12.4px;
}
#P196_93
{
left:4669.4px;bottom:29148.8px;color:rgb(35,31,31);
}
#P196_94
{
left:5237.85px;bottom:29168.5px;color:rgb(35,31,31);
}
#P196_95
{
left:6269.27px;bottom:29148.8px;color:rgb(35,31,31);
}
#P196_96
{
left:6662.94px;bottom:28940.6px;color:rgb(35,31,31);
}
#P196_97
{
left:6934.17px;bottom:29148.8px;color:rgb(35,31,31);
}
#P196_98
{
left:7092.57px;bottom:29119.3px;color:rgb(35,31,31);
}
#P196_99
{
left:7679px;bottom:29148.8px;color:rgb(35,31,31);
}
#P196_100
{
left:8555.48px;bottom:29148.8px;color:rgb(35,31,31);
}
#P196_101
{
left:8949.02px;bottom:28940.6px;color:rgb(35,31,31);
}
#P196_102
{
left:9220.25px;bottom:29148.8px;color:rgb(35,31,31);
}
#P196_103
{
left:9378.65px;bottom:29119.3px;color:rgb(35,31,31);
}
#P196_104
{
left:9965.08px;bottom:29148.8px;color:rgb(35,31,31);
}
#P196_105
{
left:10841.6px;bottom:29148.8px;color:rgb(35,31,31);
}
#P196_106
{
left:11268.9px;bottom:29148.8px;color:rgb(35,31,31);
}
#P196_107
{
left:11427.3px;bottom:29119.3px;color:rgb(35,31,31);
}
#P196_108
{
left:12013.7px;bottom:29148.8px;color:rgb(35,31,31);
}
#P196_109
{
left:15542px;bottom:29168.6px;color:rgb(35,31,31);
}
#P196_110
{
left:16573.4px;bottom:29148.8px;color:rgb(35,31,31);
}
#P196_111
{
left:16966.9px;bottom:28940.6px;color:rgb(35,31,31);
}
#P196_112
{
left:17238.2px;bottom:29148.8px;color:rgb(35,31,31);
}
#P196_113
{
left:17396.6px;bottom:29119.3px;color:rgb(35,31,31);
}
#P196_114
{
left:17983px;bottom:29148.8px;color:rgb(35,31,31);
}
#P196_115
{
left:18859.5px;bottom:29148.8px;color:rgb(35,31,31);
}
#P196_116
{
left:19253px;bottom:28940.6px;color:rgb(35,31,31);
}
#P196_117
{
left:19524.2px;bottom:29148.8px;color:rgb(35,31,31);
}
#P196_118
{
left:19682.6px;bottom:29119.3px;color:rgb(35,31,31);
}
#P196_119
{
left:20269.1px;bottom:29148.8px;color:rgb(35,31,31);
}
#P196_120
{
left:21145.6px;bottom:29148.8px;color:rgb(35,31,31);
}
#P196_121
{
left:21572.9px;bottom:29148.8px;color:rgb(35,31,31);
}
#P196_122
{
left:21731.3px;bottom:29119.3px;color:rgb(35,31,31);
}
#P196_123
{
left:22317.7px;bottom:29148.8px;color:rgb(35,31,31);
}
#P196_124
{
left:25846px;bottom:29168.6px;color:rgb(35,31,31);
}
#P196_125
{
left:26749.4px;bottom:29148.8px;color:rgb(35,31,31);
}
#P196_126
{
left:27142.9px;bottom:28940.6px;color:rgb(35,31,31);
}
#P196_127
{
left:27414.2px;bottom:29148.8px;color:rgb(35,31,31);
}
#P196_128
{
left:27572.6px;bottom:29119.3px;color:rgb(35,31,31);
}
#P196_129
{
left:28159px;bottom:29148.8px;color:rgb(35,31,31);
}
#P196_130
{
left:29408.6px;bottom:29148.8px;color:rgb(35,31,31);
}
#P196_131
{
left:29802.1px;bottom:28940.6px;color:rgb(35,31,31);
}
#P196_132
{
left:30073.4px;bottom:29148.8px;color:rgb(35,31,31);
}
#P196_133
{
left:30231.8px;bottom:29119.3px;color:rgb(35,31,31);
}
#P196_134
{
left:30818.2px;bottom:29148.8px;color:rgb(35,31,31);
}
#P196_135
{
left:31694.7px;bottom:29148.8px;color:rgb(35,31,31);
}
#P196_136
{
left:32122px;bottom:29148.8px;color:rgb(35,31,31);
}
#P196_137
{
left:32280.4px;bottom:29119.3px;color:rgb(35,31,31);
}
#P196_138
{
left:32866.8px;bottom:29148.8px;color:rgb(35,31,31);
}
#P196_139
{
left:4669.4px;bottom:27484.8px;color:rgb(35,31,31);
}
#P196_140
{
left:5237.85px;bottom:27504.6px;color:rgb(35,31,31);
}
#P196_141
{
left:9144.99px;bottom:27654.6px;color:rgb(0,145,68);
}
#P196_142
{
left:9784.92px;bottom:24249.9px;color:rgb(0,145,68);
}
#P196_143
{
left:6467.74px;bottom:25971.6px;color:rgb(0,145,68);
}
#P196_144
{
left:13017.2px;bottom:27484.8px;color:rgb(35,31,31);
}
#P196_145
{
left:15542px;bottom:27504.6px;color:rgb(35,31,31);
}
#P196_146
{
left:20075.1px;bottom:27084.3px;letter-spacing:678.5px;color:rgb(35,31,31);
}
#P196_147
{
left:0px;letter-spacing:0px;margin-left:-678.5px;
}
#P196_148
{
left:20500.2px;bottom:27436.8px;color:rgb(35,31,31);
}
#P196_149
{
left:20500.2px;bottom:26784px;color:rgb(35,31,31);
}
#P196_150
{
left:17981.8px;bottom:22634.9px;letter-spacing:678.5px;color:rgb(35,31,31);
}
#P196_151
{
left:0px;letter-spacing:0px;margin-left:-678.5px;
}
#P196_152
{
left:18413.4px;bottom:22987.3px;color:rgb(35,31,31);
}
#P196_153
{
left:18413.4px;bottom:22334.5px;color:rgb(35,31,31);
}
#P196_154
{
left:16771.7px;bottom:26686.4px;color:rgb(33,31,31);
}
#P196_155
{
left:22845.8px;bottom:27484.8px;color:rgb(35,31,31);
}
#P196_156
{
left:25846px;bottom:27504.6px;color:rgb(35,31,31);
}
#P196_157
{
left:4669.27px;bottom:20316.8px;color:rgb(35,31,31);
}
#P196_158
{
left:4846.43px;bottom:20336.6px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P196_159
{
left:6333.4px;bottom:20336.6px;word-spacing:-26px;color:rgb(2,77,161);
}
#P196_160
{
left:0px;letter-spacing:0px;margin-left:-52.8px;
}
#P196_161
{
left:0px;letter-spacing:0px;margin-left:-12.5px;
}
#P196_162
{
left:11979.1px;bottom:20316.8px;letter-spacing:0.1px;word-spacing:193.6px;color:rgb(35,31,31);
}
#P196_163
{
left:0px;letter-spacing:0px;margin-left:-193.7px;
}
#P196_164
{
left:0px;letter-spacing:0px;
}
#P196_165
{
left:6333.4px;bottom:19420.8px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P196_166
{
left:0px;letter-spacing:0px;margin-left:1.2px;
}
#P196_167
{
left:12896.2px;bottom:19420.8px;word-spacing:56.3px;color:rgb(35,31,31);
}
#P196_168
{
left:0px;letter-spacing:0px;margin-left:-56.3px;
}
#P196_169
{
left:6333.4px;bottom:18525px;letter-spacing:-1.6px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P196_170
{
left:0px;letter-spacing:-0.8px;margin-left:1.5px;
}
#P196_171
{
left:4669.4px;bottom:13340.9px;letter-spacing:-1.6px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P196_172
{
left:0px;letter-spacing:-0.3px;margin-left:-12.3px;
}
#P196_173
{
left:4669.4px;bottom:12188.9px;color:rgb(35,31,31);
}
#P196_174
{
left:4846.55px;bottom:12208.6px;color:rgb(35,31,31);
}
#P196_175
{
left:12669.4px;bottom:12188.8px;color:rgb(35,31,31);
}
#P196_176
{
left:15150.6px;bottom:12208.5px;color:rgb(35,31,31);
}
#P196_177
{
left:22973.4px;bottom:12188.8px;color:rgb(35,31,31);
}
#P196_178
{
left:25454.6px;bottom:12208.5px;color:rgb(35,31,31);
}
#P196_179
{
left:4669.4px;bottom:5916.78px;color:rgb(35,31,31);
}
#P196_180
{
left:4846.55px;bottom:5936.49px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P196_181
{
left:6333.4px;bottom:5936.49px;color:rgb(2,77,161);
}
#P196_182
{
left:8145.43px;bottom:5916.78px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P196_183
{
left:0px;letter-spacing:-0.9px;margin-left:-193.6px;
}
#P196_184
{
left:0px;letter-spacing:0px;margin-left:-55.2px;
}
#P196_185
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P196_186
{
left:0px;letter-spacing:-1px;
}
#P196_187
{
left:6333.4px;bottom:5020.78px;letter-spacing:-1.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P196_188
{
left:0px;letter-spacing:-1.1px;margin-left:1px;
}
#P196_189
{
left:0px;letter-spacing:-0.1px;margin-left:-16.4px;
}
#P196_190
{
left:16829.8px;bottom:18660.1px;color:rgb(35,31,31);
}
#P196_191
{
left:22500.3px;bottom:17978.7px;color:rgb(235,26,35);
}
#P196_192
{
left:20100.1px;bottom:17070.9px;color:rgb(235,26,35);
}
#P196_193
{
left:24912.6px;bottom:17816.2px;color:rgb(235,26,35);
}
#P196_194
{
left:26390.2px;bottom:18660.1px;color:rgb(35,31,31);
}
#P196_195
{
left:27581.8px;bottom:18617.9px;letter-spacing:-5.2px;color:rgb(35,31,31);
}
#P196_196
{
left:29118.8px;bottom:18630.6px;color:rgb(35,31,31);
}
#P196_197
{
left:29705.2px;bottom:18617.9px;color:rgb(35,31,31);
}
#P196_198
{
left:0px;letter-spacing:0px;margin-left:-176px;
}
#P196_199
{
left:29972px;bottom:19039.7px;color:rgb(35,31,31);
}
#P196_200
{
left:30174.1px;bottom:18639.7px;color:rgb(35,31,31);
}
#P196_201
{
left:29881.2px;bottom:18622px;color:rgb(35,31,31);
}
#P196_202
{
left:30264.9px;bottom:18661.4px;color:rgb(35,31,31);
}
#P196_203
{
left:29902.3px;bottom:18132.1px;color:rgb(35,31,31);
}
#P196_204
{
left:30243.8px;bottom:18639.7px;color:rgb(35,31,31);
}
#P196_205
{
left:30352.9px;bottom:18617.9px;word-spacing:-176px;color:rgb(35,31,31);
}
#P196_206
{
left:31237.8px;bottom:18630.6px;color:rgb(35,31,31);
}
#P196_207
{
left:31824.3px;bottom:18617.9px;color:rgb(35,31,31);
}
#P196_208
{
left:16829.8px;bottom:16953.9px;letter-spacing:11920px;color:rgb(35,31,31);
}
#P196_209
{
left:29101.8px;bottom:16966.6px;color:rgb(35,31,31);
}
#P196_210
{
left:29688.2px;bottom:16953.9px;color:rgb(35,31,31);
}
#P196_211
{
left:31253.9px;bottom:17309.2px;color:rgb(35,31,31);
}
#P196_212
{
left:0px;bottom:0px;letter-spacing:0px;color:rgb(235,26,35);
}
#P196_213
{
left:26785.2px;bottom:46233.7px;word-spacing:0.2px;color:rgb(33,31,31);
}
#P196_214
{
left:3954.73px;bottom:27506.6px;
}
#P196_215
{
left:3954.73px;bottom:27506.6px;color:white;
}
#P196_216
{
left:30244.3px;bottom:41185.8px;color:rgb(207,153,14);
}
#P196_217
{
left:26835.5px;bottom:41616px;color:rgb(207,153,14);
}
#P196_218
{
left:33944px;bottom:41377.6px;color:rgb(207,153,14);
}
#P196_219
{
left:26778.7px;bottom:24727.3px;color:rgb(100,94,170);
}
#P196_220
{
left:29869.5px;bottom:25868.4px;color:rgb(100,94,170);
}
#P196_221
{
left:32759.3px;bottom:24841.4px;color:rgb(100,94,170);
}
#P196_222
{
left:28879.4px;bottom:2230.57px;color:white;
}
#P196_223
{
left:30780.2px;bottom:3587.05px;color:white;
}
#P196_224
{
left:28467px;bottom:3964.91px;color:white;
}
#P196_225
{
left:3954.73px;bottom:12217.9px;
}
#P196_226
{
left:3954.73px;bottom:12217.9px;color:white;
}
#P196_227
{
left:18030.7px;bottom:19165.1px;
}
#PageContainer196
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg196.jpg");background-repeat:no-repeat;background-size: 942px 1278px; background-position: 0px 35.04px;
}
#ImageContainer196 {bottom:50.96px;left:0.00px;width:942.01px;height:1277.55px;position:absolute;} #TextContainer196 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.answer{position: absolute;top: 43px;left: 19px;}
.circle1{position: absolute;top: 589px;left: 93px;}
.circle2{position: absolute;top: 1003px;left: 98px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}