.tr506{ color:transparent;}
#P506_1
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P506_2
{
left:3540.44px;bottom:1410.03px;color:rgb(35,31,31);
}
#P506_3
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P506_4
{
left:8197.72px;bottom:1410.03px;letter-spacing:462.1px;color:rgb(35,31,31);
}
#P506_5
{
left:0px;letter-spacing:4.9px;margin-left:-459.2px;
}
#P506_6
{
left:5889.56px;bottom:46957.1px;letter-spacing:-6px;color:white;
}
#P506_7
{
left:9101.98px;bottom:47255.5px;color:white;
}
#P506_8
{
left:9475.61px;bottom:46957.1px;color:white;
}
#P506_9
{
left:2371.78px;bottom:46929.9px;color:white;
}
#P506_10
{
left:4672.22px;bottom:42315.5px;color:rgb(35,31,31);
}
#P506_11
{
left:5240.79px;bottom:42335.2px;color:rgb(35,31,31);
}
#P506_12
{
left:6272.22px;bottom:42335.2px;letter-spacing:-2.8px;color:rgb(2,77,161);
}
#P506_13
{
left:10496.4px;bottom:42315.5px;letter-spacing:151.5px;color:rgb(35,31,31);
}
#P506_14
{
left:0px;letter-spacing:-1.2px;margin-left:-151.5px;
}
#P506_15
{
left:0px;letter-spacing:-0.6px;margin-left:1.2px;
}
#P506_16
{
left:14235px;bottom:40971.5px;color:rgb(35,31,31);
}
#P506_17
{
left:16230.8px;bottom:40941.9px;color:rgb(35,31,31);
}
#P506_18
{
left:16817.2px;bottom:40971.5px;color:rgb(35,31,31);
}
#P506_19
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P506_20
{
left:17556.5px;bottom:41411.2px;color:rgb(35,31,31);
}
#P506_21
{
left:17892.3px;bottom:40989.1px;color:rgb(35,31,31);
}
#P506_22
{
left:17535.4px;bottom:40955.5px;color:rgb(35,31,31);
}
#P506_23
{
left:17913.4px;bottom:40972.8px;color:rgb(35,31,31);
}
#P506_24
{
left:17556.5px;bottom:40503.6px;color:rgb(35,31,31);
}
#P506_25
{
left:17892.3px;bottom:40989.1px;color:rgb(35,31,31);
}
#P506_26
{
left:17913.4px;bottom:40971.5px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P506_27
{
left:18258.4px;bottom:40941.9px;color:rgb(35,31,31);
}
#P506_28
{
left:18844.8px;bottom:40971.5px;color:rgb(35,31,31);
}
#P506_29
{
left:4672.22px;bottom:39307.5px;color:rgb(35,31,31);
}
#P506_30
{
left:5240.73px;bottom:39327.2px;color:rgb(35,31,31);
}
#P506_31
{
left:6272.22px;bottom:39327.2px;letter-spacing:-2.8px;color:rgb(2,77,161);
}
#P506_32
{
left:10496.4px;bottom:39307.5px;letter-spacing:151.5px;color:rgb(35,31,31);
}
#P506_33
{
left:0px;letter-spacing:-0.1px;margin-left:-151.5px;
}
#P506_34
{
left:4672.22px;bottom:37963.5px;color:rgb(35,31,31);
}
#P506_35
{
left:5240.79px;bottom:37983.2px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P506_36
{
left:6272.22px;bottom:37983.2px;color:rgb(2,77,161);
}
#P506_37
{
left:15793px;bottom:37963.5px;letter-spacing:151.5px;color:rgb(35,31,31);
}
#P506_38
{
left:0px;letter-spacing:-0.7px;margin-left:-151.5px;
}
#P506_39
{
left:23559px;bottom:37963.5px;color:rgb(35,31,31);
}
#P506_40
{
left:24612.1px;bottom:37963.5px;color:rgb(35,31,31);
}
#P506_41
{
left:6272.22px;bottom:37067.5px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P506_42
{
left:0px;letter-spacing:-1.1px;margin-left:-3.2px;
}
#P506_43
{
left:4672.22px;bottom:34699.6px;letter-spacing:801.6px;color:rgb(35,31,31);
}
#P506_44
{
left:0px;letter-spacing:0px;margin-left:-255.9px;
}
#P506_45
{
left:12243.4px;bottom:35131.3px;color:rgb(35,31,31);
}
#P506_46
{
left:12243.4px;bottom:35096.1px;color:rgb(35,31,31);
}
#P506_47
{
left:12419.7px;bottom:35033.4px;color:rgb(35,31,31);
}
#P506_48
{
left:12581.7px;bottom:35131.3px;color:rgb(35,31,31);
}
#P506_49
{
left:13116.7px;bottom:35096.1px;color:rgb(35,31,31);
}
#P506_50
{
left:13293px;bottom:35131.3px;color:rgb(35,31,31);
}
#P506_51
{
left:13293px;bottom:34619.3px;color:rgb(35,31,31);
}
#P506_52
{
left:13824.2px;bottom:34699.5px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P506_53
{
left:16101.7px;bottom:35164.6px;color:rgb(35,31,31);
}
#P506_54
{
left:16474.8px;bottom:34716.5px;color:rgb(35,31,31);
}
#P506_55
{
left:17344.2px;bottom:34699.4px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P506_56
{
left:19328.5px;bottom:35117.7px;color:rgb(35,31,31);
}
#P506_57
{
left:19914.9px;bottom:35147.3px;color:rgb(35,31,31);
}
#P506_58
{
left:20288px;bottom:34635.3px;color:rgb(35,31,31);
}
#P506_59
{
left:20864.3px;bottom:34699.5px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P506_60
{
left:22870.5px;bottom:35154.2px;color:rgb(35,31,31);
}
#P506_61
{
left:22870.5px;bottom:35118.9px;color:rgb(35,31,31);
}
#P506_62
{
left:23046.9px;bottom:35056.2px;color:rgb(35,31,31);
}
#P506_63
{
left:23180.6px;bottom:35124.6px;color:rgb(35,31,31);
}
#P506_64
{
left:23767.1px;bottom:35154.2px;color:rgb(35,31,31);
}
#P506_65
{
left:24302.1px;bottom:35118.9px;color:rgb(35,31,31);
}
#P506_66
{
left:24478.4px;bottom:35154.2px;color:rgb(35,31,31);
}
#P506_67
{
left:24478.4px;bottom:34642.2px;color:rgb(35,31,31);
}
#P506_68
{
left:4071.59px;bottom:31966.3px;color:rgb(33,31,31);
}
#P506_69
{
left:4157.98px;bottom:31997.7px;letter-spacing:-0.2px;color:rgb(33,31,31);
}
#P506_70
{
left:4440.99px;bottom:32100.4px;letter-spacing:0.8px;color:rgb(33,31,31);
}
#P506_71
{
left:4588.06px;bottom:32153.8px;color:rgb(33,31,31);
}
#P506_72
{
left:4150.01px;bottom:31787.1px;color:rgb(33,31,31);
}
#P506_73
{
left:4236.38px;bottom:31818.5px;letter-spacing:-0.2px;color:rgb(33,31,31);
}
#P506_74
{
left:4519.39px;bottom:31921.2px;letter-spacing:0.8px;color:rgb(33,31,31);
}
#P506_75
{
left:4245.21px;bottom:31607.9px;color:rgb(33,31,31);
}
#P506_76
{
left:4331.62px;bottom:31639.3px;letter-spacing:-0.2px;color:rgb(33,31,31);
}
#P506_77
{
left:4614.62px;bottom:31742px;letter-spacing:0.8px;color:rgb(33,31,31);
}
#P506_78
{
left:4410.4px;bottom:31358.7px;color:rgb(33,31,31);
}
#P506_79
{
left:4496.8px;bottom:31390px;letter-spacing:-0.2px;color:rgb(33,31,31);
}
#P506_80
{
left:4779.81px;bottom:31492.8px;letter-spacing:0.8px;color:rgb(33,31,31);
}
#P506_81
{
left:4724.7px;bottom:29325.7px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P506_82
{
left:0px;letter-spacing:0px;margin-left:-9.6px;
}
#P506_83
{
left:4724.7px;bottom:28173.7px;color:rgb(35,31,31);
}
#P506_84
{
left:5293.27px;bottom:28193.5px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P506_85
{
left:6324.7px;bottom:28138.6px;color:rgb(35,31,31);
}
#P506_86
{
left:6501.08px;bottom:28075.8px;color:rgb(35,31,31);
}
#P506_87
{
left:6663px;bottom:28173.7px;color:rgb(35,31,31);
}
#P506_88
{
left:7198.04px;bottom:28138.6px;color:rgb(35,31,31);
}
#P506_89
{
left:7374.36px;bottom:28173.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P506_90
{
left:12589.2px;bottom:28193.5px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P506_91
{
left:13620.7px;bottom:28138.6px;color:rgb(35,31,31);
}
#P506_92
{
left:13797.1px;bottom:28075.8px;color:rgb(35,31,31);
}
#P506_93
{
left:13930.8px;bottom:28144.2px;color:rgb(35,31,31);
}
#P506_94
{
left:14517.3px;bottom:28173.7px;color:rgb(35,31,31);
}
#P506_95
{
left:15052.3px;bottom:28138.6px;color:rgb(35,31,31);
}
#P506_96
{
left:15228.6px;bottom:28173.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P506_97
{
left:20013.3px;bottom:28193.5px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P506_98
{
left:21044.7px;bottom:28138.6px;color:rgb(35,31,31);
}
#P506_99
{
left:21221.1px;bottom:28075.8px;color:rgb(35,31,31);
}
#P506_100
{
left:21354.8px;bottom:28144.2px;color:rgb(35,31,31);
}
#P506_101
{
left:21941.3px;bottom:28173.7px;color:rgb(35,31,31);
}
#P506_102
{
left:22849.4px;bottom:28138.6px;color:rgb(35,31,31);
}
#P506_103
{
left:23025.8px;bottom:28173.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P506_104
{
left:27373.3px;bottom:28193.5px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P506_105
{
left:28404.7px;bottom:28138.6px;color:rgb(35,31,31);
}
#P506_106
{
left:28581.1px;bottom:28075.8px;color:rgb(35,31,31);
}
#P506_107
{
left:28743px;bottom:28173.7px;color:rgb(35,31,31);
}
#P506_108
{
left:29651.2px;bottom:28138.6px;color:rgb(35,31,31);
}
#P506_109
{
left:29827.5px;bottom:28173.7px;color:rgb(35,31,31);
}
#P506_110
{
left:4724.76px;bottom:26829.7px;color:rgb(35,31,31);
}
#P506_111
{
left:5293.21px;bottom:26849.5px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P506_112
{
left:6324.7px;bottom:26794.6px;color:rgb(35,31,31);
}
#P506_113
{
left:6501.08px;bottom:26731.8px;color:rgb(35,31,31);
}
#P506_114
{
left:6634.84px;bottom:26800.2px;color:rgb(35,31,31);
}
#P506_115
{
left:7221.27px;bottom:26829.7px;color:rgb(35,31,31);
}
#P506_116
{
left:8129.43px;bottom:26794.6px;color:rgb(35,31,31);
}
#P506_117
{
left:8305.75px;bottom:26829.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P506_118
{
left:12589.2px;bottom:26849.5px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P506_119
{
left:13620.7px;bottom:26794.6px;color:rgb(35,31,31);
}
#P506_120
{
left:13797.1px;bottom:26731.8px;color:rgb(35,31,31);
}
#P506_121
{
left:13959px;bottom:26829.7px;color:rgb(35,31,31);
}
#P506_122
{
left:14867.2px;bottom:26794.6px;color:rgb(35,31,31);
}
#P506_123
{
left:15043.5px;bottom:26829.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P506_124
{
left:19621.8px;bottom:26849.5px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P506_125
{
left:21044.7px;bottom:26794.6px;color:rgb(35,31,31);
}
#P506_126
{
left:21221.1px;bottom:26731.8px;color:rgb(35,31,31);
}
#P506_127
{
left:21354.8px;bottom:26800.2px;color:rgb(35,31,31);
}
#P506_128
{
left:21941.3px;bottom:26829.7px;color:rgb(35,31,31);
}
#P506_129
{
left:22476.3px;bottom:26794.6px;color:rgb(35,31,31);
}
#P506_130
{
left:22652.6px;bottom:26829.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P506_131
{
left:26981.8px;bottom:26849.5px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P506_132
{
left:28404.7px;bottom:26794.6px;color:rgb(35,31,31);
}
#P506_133
{
left:28581.1px;bottom:26731.8px;color:rgb(35,31,31);
}
#P506_134
{
left:28714.8px;bottom:26800.2px;color:rgb(35,31,31);
}
#P506_135
{
left:29301.3px;bottom:26829.7px;color:rgb(35,31,31);
}
#P506_136
{
left:30209.4px;bottom:26794.6px;color:rgb(35,31,31);
}
#P506_137
{
left:30385.8px;bottom:26829.7px;color:rgb(35,31,31);
}
#P506_138
{
left:4724.76px;bottom:25485.7px;color:rgb(35,31,31);
}
#P506_139
{
left:4901.79px;bottom:25505.5px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P506_140
{
left:6324.7px;bottom:25450.6px;color:rgb(35,31,31);
}
#P506_141
{
left:6501.08px;bottom:25387.8px;color:rgb(35,31,31);
}
#P506_142
{
left:6663px;bottom:25485.7px;color:rgb(35,31,31);
}
#P506_143
{
left:7198.04px;bottom:25450.6px;color:rgb(35,31,31);
}
#P506_144
{
left:7374.36px;bottom:25485.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P506_145
{
left:12197.8px;bottom:25505.5px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P506_146
{
left:13620.7px;bottom:25450.6px;color:rgb(35,31,31);
}
#P506_147
{
left:13797.1px;bottom:25387.8px;color:rgb(35,31,31);
}
#P506_148
{
left:13930.8px;bottom:25456.2px;color:rgb(35,31,31);
}
#P506_149
{
left:14517.3px;bottom:25485.7px;color:rgb(35,31,31);
}
#P506_150
{
left:15052.3px;bottom:25450.6px;color:rgb(35,31,31);
}
#P506_151
{
left:15228.6px;bottom:25485.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P506_152
{
left:19621.8px;bottom:25505.5px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P506_153
{
left:21044.7px;bottom:25450.6px;color:rgb(35,31,31);
}
#P506_154
{
left:21221.1px;bottom:25387.8px;color:rgb(35,31,31);
}
#P506_155
{
left:21383px;bottom:25485.7px;color:rgb(35,31,31);
}
#P506_156
{
left:21918px;bottom:25450.6px;color:rgb(35,31,31);
}
#P506_157
{
left:22094.4px;bottom:25485.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P506_158
{
left:26981.8px;bottom:25505.5px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P506_159
{
left:28404.7px;bottom:25450.6px;color:rgb(35,31,31);
}
#P506_160
{
left:28581.1px;bottom:25387.8px;color:rgb(35,31,31);
}
#P506_161
{
left:28743px;bottom:25485.7px;color:rgb(35,31,31);
}
#P506_162
{
left:29651.2px;bottom:25450.6px;color:rgb(35,31,31);
}
#P506_163
{
left:29827.5px;bottom:25485.7px;color:rgb(35,31,31);
}
#P506_164
{
left:4724.76px;bottom:24141.7px;color:rgb(35,31,31);
}
#P506_165
{
left:4901.79px;bottom:24161.5px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P506_166
{
left:6324.7px;bottom:24106.6px;color:rgb(35,31,31);
}
#P506_167
{
left:6501.08px;bottom:24043.8px;color:rgb(35,31,31);
}
#P506_168
{
left:6634.84px;bottom:24112.2px;color:rgb(35,31,31);
}
#P506_169
{
left:7221.27px;bottom:24141.7px;color:rgb(35,31,31);
}
#P506_170
{
left:8129.43px;bottom:24106.6px;color:rgb(35,31,31);
}
#P506_171
{
left:8305.75px;bottom:24141.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P506_172
{
left:12197.8px;bottom:24161.5px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P506_173
{
left:13620.7px;bottom:24106.6px;color:rgb(35,31,31);
}
#P506_174
{
left:13797.1px;bottom:24043.8px;color:rgb(35,31,31);
}
#P506_175
{
left:13930.8px;bottom:24112.2px;color:rgb(35,31,31);
}
#P506_176
{
left:14517.3px;bottom:24141.7px;color:rgb(35,31,31);
}
#P506_177
{
left:15425.4px;bottom:24106.6px;color:rgb(35,31,31);
}
#P506_178
{
left:15601.8px;bottom:24141.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P506_179
{
left:19621.8px;bottom:24161.5px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P506_180
{
left:21044.7px;bottom:24106.6px;color:rgb(35,31,31);
}
#P506_181
{
left:21221.1px;bottom:24043.8px;color:rgb(35,31,31);
}
#P506_182
{
left:21383px;bottom:24141.7px;color:rgb(35,31,31);
}
#P506_183
{
left:22291.2px;bottom:24106.6px;color:rgb(35,31,31);
}
#P506_184
{
left:22467.5px;bottom:24141.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P506_185
{
left:26981.8px;bottom:24161.5px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P506_186
{
left:28404.7px;bottom:24106.6px;color:rgb(35,31,31);
}
#P506_187
{
left:28581.1px;bottom:24043.8px;color:rgb(35,31,31);
}
#P506_188
{
left:28714.8px;bottom:24112.2px;color:rgb(35,31,31);
}
#P506_189
{
left:29301.3px;bottom:24141.7px;color:rgb(35,31,31);
}
#P506_190
{
left:30582.6px;bottom:24106.6px;color:rgb(35,31,31);
}
#P506_191
{
left:30758.9px;bottom:24141.7px;color:rgb(35,31,31);
}
#P506_192
{
left:4724.76px;bottom:22541.7px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P506_193
{
left:0px;letter-spacing:-1.4px;margin-left:1px;
}
#P506_194
{
left:0px;letter-spacing:-14px;margin-left:1.4px;
}
#P506_195
{
left:0px;letter-spacing:0px;margin-left:14px;
}
#P506_196
{
left:20165.7px;bottom:22512.2px;color:rgb(35,31,31);
}
#P506_197
{
left:20752.2px;bottom:22541.7px;color:rgb(35,31,31);
}
#P506_198
{
left:4724.76px;bottom:21389.7px;color:rgb(35,31,31);
}
#P506_199
{
left:4901.79px;bottom:21409.5px;color:rgb(35,31,31);
}
#P506_200
{
left:6324.63px;bottom:21389.7px;color:rgb(35,31,31);
}
#P506_201
{
left:0px;letter-spacing:0px;margin-left:1266.4px;
}
#P506_202
{
left:8597.79px;bottom:21354.6px;color:rgb(35,31,31);
}
#P506_203
{
left:8774.11px;bottom:21291.8px;color:rgb(35,31,31);
}
#P506_204
{
left:8907.87px;bottom:21360.2px;color:rgb(35,31,31);
}
#P506_205
{
left:9494.3px;bottom:21389.7px;color:rgb(35,31,31);
}
#P506_206
{
left:10029.3px;bottom:21354.6px;color:rgb(35,31,31);
}
#P506_207
{
left:14821.8px;bottom:21409.5px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P506_208
{
left:16244.7px;bottom:21354.6px;color:rgb(35,31,31);
}
#P506_209
{
left:16421.1px;bottom:21291.8px;color:rgb(35,31,31);
}
#P506_210
{
left:16554.8px;bottom:21360.2px;color:rgb(35,31,31);
}
#P506_211
{
left:17141.3px;bottom:21389.7px;color:rgb(35,31,31);
}
#P506_212
{
left:17676.3px;bottom:21354.6px;color:rgb(35,31,31);
}
#P506_213
{
left:19435.8px;bottom:21389.7px;color:rgb(35,31,31);
}
#P506_214
{
left:24741.8px;bottom:21409.5px;color:rgb(35,31,31);
}
#P506_215
{
left:26164.7px;bottom:21360.2px;color:rgb(35,31,31);
}
#P506_216
{
left:26751.1px;bottom:21389.7px;color:rgb(35,31,31);
}
#P506_217
{
left:0px;letter-spacing:0px;margin-left:1266.4px;
}
#P506_218
{
left:29024.2px;bottom:21354.6px;color:rgb(35,31,31);
}
#P506_219
{
left:29200.5px;bottom:21291.8px;color:rgb(35,31,31);
}
#P506_220
{
left:29334.3px;bottom:21360.2px;color:rgb(35,31,31);
}
#P506_221
{
left:29920.7px;bottom:21389.7px;color:rgb(35,31,31);
}
#P506_222
{
left:30455.8px;bottom:21354.6px;color:rgb(35,31,31);
}
#P506_223
{
left:30632.2px;bottom:21389.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P506_224
{
left:4724.76px;bottom:20045.7px;color:rgb(35,31,31);
}
#P506_225
{
left:4901.79px;bottom:20065.5px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P506_226
{
left:6324.7px;bottom:20010.6px;color:rgb(35,31,31);
}
#P506_227
{
left:6501.08px;bottom:19947.8px;color:rgb(35,31,31);
}
#P506_228
{
left:6634.84px;bottom:20016.2px;color:rgb(35,31,31);
}
#P506_229
{
left:7221.27px;bottom:20045.7px;color:rgb(35,31,31);
}
#P506_230
{
left:7756.31px;bottom:20010.6px;color:rgb(35,31,31);
}
#P506_231
{
left:9515.8px;bottom:19789.7px;color:rgb(35,31,31);
}
#P506_232
{
left:9674.2px;bottom:20045.7px;color:rgb(35,31,31);
}
#P506_233
{
left:9832.6px;bottom:20016.2px;color:rgb(35,31,31);
}
#P506_234
{
left:10419px;bottom:20045.7px;color:rgb(35,31,31);
}
#P506_235
{
left:14821.8px;bottom:20065.5px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P506_236
{
left:16244.7px;bottom:20010.6px;color:rgb(35,31,31);
}
#P506_237
{
left:16421.1px;bottom:19947.8px;color:rgb(35,31,31);
}
#P506_238
{
left:16554.8px;bottom:20016.2px;color:rgb(35,31,31);
}
#P506_239
{
left:17141.3px;bottom:20045.7px;color:rgb(35,31,31);
}
#P506_240
{
left:17676.3px;bottom:20010.6px;color:rgb(35,31,31);
}
#P506_241
{
left:19435.8px;bottom:20045.7px;color:rgb(35,31,31);
}
#P506_242
{
left:19752.6px;bottom:20010.6px;color:rgb(35,31,31);
}
#P506_243
{
left:19928.9px;bottom:19947.8px;color:rgb(35,31,31);
}
#P506_244
{
left:20062.7px;bottom:20016.2px;color:rgb(35,31,31);
}
#P506_245
{
left:20649.1px;bottom:20045.7px;color:rgb(35,31,31);
}
#P506_246
{
left:21184.2px;bottom:20010.6px;color:rgb(35,31,31);
}
#P506_247
{
left:21360.5px;bottom:20045.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P506_248
{
left:24741.8px;bottom:20065.5px;color:rgb(35,31,31);
}
#P506_249
{
left:26369.3px;bottom:20045.7px;color:rgb(35,31,31);
}
#P506_250
{
left:26369.3px;bottom:20010.6px;color:rgb(35,31,31);
}
#P506_251
{
left:26545.7px;bottom:19947.8px;color:rgb(35,31,31);
}
#P506_252
{
left:26707.6px;bottom:20045.7px;color:rgb(35,31,31);
}
#P506_253
{
left:27242.6px;bottom:20022.5px;color:rgb(35,31,31);
}
#P506_254
{
left:29133.1px;bottom:20045.7px;color:rgb(35,31,31);
}
#P506_255
{
left:29449.9px;bottom:20010.6px;color:rgb(35,31,31);
}
#P506_256
{
left:29626.3px;bottom:19947.8px;color:rgb(35,31,31);
}
#P506_257
{
left:29760px;bottom:20016.2px;color:rgb(35,31,31);
}
#P506_258
{
left:30346.5px;bottom:20045.7px;color:rgb(35,31,31);
}
#P506_259
{
left:30881.5px;bottom:20010.6px;color:rgb(35,31,31);
}
#P506_260
{
left:31057.9px;bottom:20045.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P506_261
{
left:4724.7px;bottom:18465.5px;word-spacing:-26px;color:rgb(2,77,161);
}
#P506_262
{
left:0px;letter-spacing:0px;margin-left:-52.8px;
}
#P506_263
{
left:0px;letter-spacing:0px;margin-left:-12.5px;
}
#P506_264
{
left:10370.3px;bottom:18445.7px;letter-spacing:204px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P506_265
{
left:0px;letter-spacing:-0.6px;margin-left:-204.2px;
}
#P506_266
{
left:0px;letter-spacing:-42.1px;margin-left:0.5px;
}
#P506_267
{
left:4724.76px;bottom:17293.7px;color:rgb(35,31,31);
}
#P506_268
{
left:4901.79px;bottom:17313.5px;color:rgb(35,31,31);
}
#P506_269
{
left:6324.7px;bottom:16244.4px;letter-spacing:2785.6px;color:rgb(35,31,31);
}
#P506_270
{
left:9268.7px;bottom:16209.2px;color:rgb(35,31,31);
}
#P506_271
{
left:9445.08px;bottom:16146.4px;color:rgb(35,31,31);
}
#P506_272
{
left:9607px;bottom:16202.2px;color:rgb(35,31,31);
}
#P506_273
{
left:10434.9px;bottom:16209.2px;color:rgb(35,31,31);
}
#P506_274
{
left:10611.2px;bottom:16202.2px;letter-spacing:-176px;color:rgb(35,31,31);
}
#P506_275
{
left:10787.2px;bottom:16214.8px;color:rgb(35,31,31);
}
#P506_276
{
left:11373.7px;bottom:16202.2px;color:rgb(35,31,31);
}
#P506_277
{
left:11549.7px;bottom:16214.8px;color:rgb(35,31,31);
}
#P506_278
{
left:12136.1px;bottom:16202.2px;color:rgb(35,31,31);
}
#P506_279
{
left:0px;bottom:0px;letter-spacing:0px;color:rgb(235,26,35);
}
#P506_280
{
left:14580.7px;bottom:17293.7px;color:rgb(35,31,31);
}
#P506_281
{
left:19685.8px;bottom:17313.5px;color:rgb(35,31,31);
}
#P506_282
{
left:21108.7px;bottom:16261.2px;letter-spacing:2785.6px;color:rgb(35,31,31);
}
#P506_283
{
left:24052.7px;bottom:16226px;color:rgb(35,31,31);
}
#P506_284
{
left:24229.1px;bottom:16163.3px;color:rgb(35,31,31);
}
#P506_285
{
left:24391px;bottom:16231.7px;color:rgb(35,31,31);
}
#P506_286
{
left:24977.4px;bottom:16219px;color:rgb(35,31,31);
}
#P506_287
{
left:25539.9px;bottom:16226px;color:rgb(35,31,31);
}
#P506_288
{
left:25716.2px;bottom:16219px;letter-spacing:-176px;color:rgb(35,31,31);
}
#P506_289
{
left:0px;letter-spacing:0px;margin-left:176px;
}
#P506_290
{
left:0px;bottom:0px;letter-spacing:0px;color:rgb(235,26,35);
}
#P506_291
{
left:4724.7px;bottom:13773.7px;color:rgb(35,31,31);
}
#P506_292
{
left:4901.85px;bottom:13793.5px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P506_293
{
left:6324.7px;bottom:13793.5px;letter-spacing:-12.9px;color:rgb(2,77,161);
}
#P506_294
{
left:0px;letter-spacing:0px;margin-left:12.9px;
}
#P506_295
{
left:9385.82px;bottom:13773.7px;letter-spacing:151.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P506_296
{
left:0px;letter-spacing:-0.1px;margin-left:-214.6px;
}
#P506_297
{
left:0px;letter-spacing:-0.2px;margin-left:158.2px;
}
#P506_298
{
left:0px;letter-spacing:-0.1px;margin-left:-41.8px;
}
#P506_299
{
left:0px;letter-spacing:-1.4px;
}
#P506_300
{
left:6324.7px;bottom:12877.7px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P506_301
{
left:0px;letter-spacing:-13.1px;margin-left:-41.6px;
}
#P506_302
{
left:0px;letter-spacing:0px;margin-left:13.1px;
}
#P506_303
{
left:0px;letter-spacing:0px;margin-left:-42px;
}
#P506_304
{
left:4724.7px;bottom:11533.7px;color:rgb(35,31,31);
}
#P506_305
{
left:4901.85px;bottom:11553.5px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P506_306
{
left:6324.7px;bottom:11553.5px;letter-spacing:-9.7px;color:rgb(2,77,161);
}
#P506_307
{
left:0px;letter-spacing:-6.3px;margin-left:-29px;
}
#P506_308
{
left:0px;letter-spacing:0px;margin-left:6.3px;
}
#P506_309
{
left:9794.2px;bottom:11533.7px;letter-spacing:-31.6px;color:rgb(35,31,31);
}
#P506_310
{
left:0px;letter-spacing:-3.5px;margin-left:31.6px;
}
#P506_311
{
left:0px;letter-spacing:0px;margin-left:3.5px;
}
#P506_312
{
left:0px;letter-spacing:0px;margin-left:-214.8px;
}
#P506_313
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P506_314
{
left:0px;letter-spacing:-0.3px;
}
#P506_315
{
left:0px;letter-spacing:0px;margin-left:-41.8px;
}
#P506_316
{
left:0px;letter-spacing:-63.2px;margin-left:-42.1px;
}
#P506_317
{
left:0px;letter-spacing:0.3px;margin-left:63.2px;
}
#P506_318
{
left:28378.6px;bottom:11533.7px;word-spacing:56.3px;color:rgb(35,31,31);
}
#P506_319
{
left:0px;letter-spacing:0px;margin-left:-56.3px;
}
#P506_320
{
left:6324.83px;bottom:10637.7px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P506_321
{
left:0px;letter-spacing:0px;margin-left:-41.7px;
}
#P506_322
{
left:0px;letter-spacing:-13.1px;margin-left:-42.1px;
}
#P506_323
{
left:0px;letter-spacing:0px;margin-left:13.1px;
}
#P506_324
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P506_325
{
left:4724.83px;bottom:9037.87px;letter-spacing:-2.1px;color:rgb(35,31,31);
}
#P506_326
{
left:0px;letter-spacing:-0.2px;margin-left:-8.4px;
}
#P506_327
{
left:0px;letter-spacing:1.7px;margin-left:-13.8px;
}
#P506_328
{
left:4724.83px;bottom:7885.8px;color:rgb(35,31,31);
}
#P506_329
{
left:4901.98px;bottom:7905.52px;color:rgb(35,31,31);
}
#P506_330
{
left:6324.83px;bottom:7885.8px;color:rgb(35,31,31);
}
#P506_331
{
left:7042.78px;bottom:7850.58px;color:rgb(35,31,31);
}
#P506_332
{
left:7219.16px;bottom:7787.79px;color:rgb(35,31,31);
}
#P506_333
{
left:7381.08px;bottom:7885.74px;color:rgb(35,31,31);
}
#P506_334
{
left:7916.12px;bottom:7850.58px;color:rgb(35,31,31);
}
#P506_335
{
left:8092.44px;bottom:7885.74px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P506_336
{
left:8437.4px;bottom:7856.17px;color:rgb(35,31,31);
}
#P506_337
{
left:9023.83px;bottom:7885.74px;color:rgb(35,31,31);
}
#P506_338
{
left:9741.91px;bottom:7850.58px;color:rgb(35,31,31);
}
#P506_339
{
left:9918.23px;bottom:7787.79px;color:rgb(35,31,31);
}
#P506_340
{
left:10052px;bottom:7856.17px;color:rgb(35,31,31);
}
#P506_341
{
left:10638.4px;bottom:7885.74px;color:rgb(35,31,31);
}
#P506_342
{
left:11173.5px;bottom:7850.58px;color:rgb(35,31,31);
}
#P506_343
{
left:11349.8px;bottom:7885.74px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P506_344
{
left:11694.7px;bottom:7856.17px;color:rgb(35,31,31);
}
#P506_345
{
left:12281.2px;bottom:7885.74px;color:rgb(35,31,31);
}
#P506_346
{
left:19685.8px;bottom:7905.45px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P506_347
{
left:21108.7px;bottom:7850.58px;color:rgb(35,31,31);
}
#P506_348
{
left:21285.1px;bottom:7787.79px;color:rgb(35,31,31);
}
#P506_349
{
left:21418.8px;bottom:7856.17px;color:rgb(35,31,31);
}
#P506_350
{
left:22005.3px;bottom:7885.74px;color:rgb(35,31,31);
}
#P506_351
{
left:22540.3px;bottom:7850.58px;color:rgb(35,31,31);
}
#P506_352
{
left:22716.6px;bottom:7885.74px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P506_353
{
left:23061.6px;bottom:7856.17px;color:rgb(35,31,31);
}
#P506_354
{
left:23648px;bottom:7885.74px;color:rgb(35,31,31);
}
#P506_355
{
left:25084.2px;bottom:7850.58px;color:rgb(35,31,31);
}
#P506_356
{
left:25260.5px;bottom:7787.79px;color:rgb(35,31,31);
}
#P506_357
{
left:25422.4px;bottom:7885.74px;color:rgb(35,31,31);
}
#P506_358
{
left:25957.5px;bottom:7850.58px;color:rgb(35,31,31);
}
#P506_359
{
left:26133.8px;bottom:7885.74px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P506_360
{
left:26478.7px;bottom:7856.17px;color:rgb(35,31,31);
}
#P506_361
{
left:27065.2px;bottom:7885.74px;color:rgb(35,31,31);
}
#P506_362
{
left:4724.7px;bottom:6541.74px;color:rgb(35,31,31);
}
#P506_363
{
left:4901.85px;bottom:6561.45px;color:rgb(35,31,31);
}
#P506_364
{
left:6324.7px;bottom:6512.17px;color:rgb(35,31,31);
}
#P506_365
{
left:6911.13px;bottom:6541.74px;color:rgb(35,31,31);
}
#P506_366
{
left:8002.33px;bottom:6506.58px;color:rgb(35,31,31);
}
#P506_367
{
left:8178.71px;bottom:6443.79px;color:rgb(35,31,31);
}
#P506_368
{
left:8312.47px;bottom:6512.17px;color:rgb(35,31,31);
}
#P506_369
{
left:8898.84px;bottom:6541.74px;color:rgb(35,31,31);
}
#P506_370
{
left:9807px;bottom:6506.58px;color:rgb(35,31,31);
}
#P506_371
{
left:9983.39px;bottom:6541.74px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P506_372
{
left:10328.3px;bottom:6512.17px;color:rgb(35,31,31);
}
#P506_373
{
left:10914.8px;bottom:6541.74px;color:rgb(35,31,31);
}
#P506_374
{
left:12005.9px;bottom:6506.58px;color:rgb(35,31,31);
}
#P506_375
{
left:12182.3px;bottom:6443.79px;color:rgb(35,31,31);
}
#P506_376
{
left:12316.1px;bottom:6512.17px;color:rgb(35,31,31);
}
#P506_377
{
left:12902.5px;bottom:6541.74px;color:rgb(35,31,31);
}
#P506_378
{
left:13810.6px;bottom:6506.58px;color:rgb(35,31,31);
}
#P506_379
{
left:13987px;bottom:6541.74px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P506_380
{
left:14331.9px;bottom:6506.58px;color:rgb(35,31,31);
}
#P506_381
{
left:14508.2px;bottom:6443.79px;color:rgb(35,31,31);
}
#P506_382
{
left:14670.2px;bottom:6541.74px;color:rgb(35,31,31);
}
#P506_383
{
left:15578.3px;bottom:6506.58px;color:rgb(35,31,31);
}
#P506_384
{
left:19685.8px;bottom:6561.45px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P506_385
{
left:21108.7px;bottom:6506.58px;color:rgb(35,31,31);
}
#P506_386
{
left:21285.1px;bottom:6443.79px;color:rgb(35,31,31);
}
#P506_387
{
left:21418.8px;bottom:6512.17px;color:rgb(35,31,31);
}
#P506_388
{
left:22005.3px;bottom:6541.74px;color:rgb(35,31,31);
}
#P506_389
{
left:22913.4px;bottom:6506.58px;color:rgb(35,31,31);
}
#P506_390
{
left:23089.8px;bottom:6541.74px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P506_391
{
left:0px;letter-spacing:0px;margin-left:158.4px;
}
#P506_392
{
left:24525.9px;bottom:6512.17px;color:rgb(35,31,31);
}
#P506_393
{
left:25112.3px;bottom:6541.74px;color:rgb(35,31,31);
}
#P506_394
{
left:26203.5px;bottom:6506.58px;color:rgb(35,31,31);
}
#P506_395
{
left:26379.9px;bottom:6443.79px;color:rgb(35,31,31);
}
#P506_396
{
left:26541.8px;bottom:6541.74px;color:rgb(35,31,31);
}
#P506_397
{
left:27449.9px;bottom:6506.58px;color:rgb(35,31,31);
}
#P506_398
{
left:27626.3px;bottom:6541.74px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P506_399
{
left:27971.2px;bottom:6506.58px;color:rgb(35,31,31);
}
#P506_400
{
left:28147.5px;bottom:6443.79px;color:rgb(35,31,31);
}
#P506_401
{
left:28281.3px;bottom:6512.17px;color:rgb(35,31,31);
}
#P506_402
{
left:28867.7px;bottom:6541.74px;color:rgb(35,31,31);
}
#P506_403
{
left:29775.9px;bottom:6506.58px;color:rgb(35,31,31);
}
#P506_404
{
left:29952.3px;bottom:6541.74px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P506_405
{
left:4724.7px;bottom:4941.74px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P506_406
{
left:0px;letter-spacing:0px;margin-left:1.3px;
}
#P506_407
{
left:4724.7px;bottom:3789.73px;color:rgb(35,31,31);
}
#P506_408
{
left:4901.85px;bottom:3809.45px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P506_409
{
left:6324.7px;bottom:3754.58px;color:rgb(35,31,31);
}
#P506_410
{
left:6501.08px;bottom:3691.79px;color:rgb(35,31,31);
}
#P506_411
{
left:6634.84px;bottom:3760.17px;color:rgb(35,31,31);
}
#P506_412
{
left:7221.27px;bottom:3789.74px;color:rgb(35,31,31);
}
#P506_413
{
left:8129.43px;bottom:3754.58px;color:rgb(35,31,31);
}
#P506_414
{
left:8305.75px;bottom:3789.74px;color:rgb(35,31,31);
}
#P506_415
{
left:8305.75px;bottom:3760.17px;color:rgb(35,31,31);
}
#P506_416
{
left:8481.75px;bottom:3789.74px;color:rgb(35,31,31);
}
#P506_417
{
left:14821.8px;bottom:3809.45px;color:rgb(35,31,31);
}
#P506_418
{
left:16244.7px;bottom:3760.17px;color:rgb(35,31,31);
}
#P506_419
{
left:16831.1px;bottom:3789.74px;color:rgb(35,31,31);
}
#P506_420
{
left:16831.1px;bottom:3754.58px;color:rgb(35,31,31);
}
#P506_421
{
left:17007.5px;bottom:3691.79px;color:rgb(35,31,31);
}
#P506_422
{
left:17169.4px;bottom:3789.74px;color:rgb(35,31,31);
}
#P506_423
{
left:17704.5px;bottom:3754.58px;color:rgb(35,31,31);
}
#P506_424
{
left:17880.8px;bottom:3789.74px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P506_425
{
left:24741.8px;bottom:3809.45px;color:rgb(35,31,31);
}
#P506_426
{
left:26164.7px;bottom:3760.17px;color:rgb(35,31,31);
}
#P506_427
{
left:26751.1px;bottom:3789.74px;color:rgb(35,31,31);
}
#P506_428
{
left:26751.1px;bottom:3754.58px;color:rgb(35,31,31);
}
#P506_429
{
left:26927.5px;bottom:3691.79px;color:rgb(35,31,31);
}
#P506_430
{
left:27061.3px;bottom:3760.17px;color:rgb(35,31,31);
}
#P506_431
{
left:27647.7px;bottom:3789.74px;color:rgb(35,31,31);
}
#P506_432
{
left:28555.9px;bottom:3754.58px;color:rgb(35,31,31);
}
#P506_433
{
left:28732.2px;bottom:3789.74px;color:rgb(35,31,31);
}
#P506_434
{
left:28732.2px;bottom:3760.17px;color:rgb(35,31,31);
}
#P506_435
{
left:2820.93px;bottom:28179.9px;
}
#P506_436
{
left:2820.93px;bottom:28179.9px;color:white;
}
#P506_437
{
left:4046px;bottom:28186.3px;
}
#P506_438
{
left:4046px;bottom:28186.3px;color:white;
}
#P506_439
{
left:4024.13px;bottom:21466.3px;
}
#P506_440
{
left:4024.13px;bottom:21466.3px;color:white;
}
#P506_441
{
left:26785.2px;bottom:46233.7px;word-spacing:0.2px;color:rgb(33,31,31);
}
#P506_442
{
left:6805.34px;bottom:15871px;
}
#P506_443
{
left:21589.3px;bottom:15904.6px;
}
#PageContainer506
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg506.jpg");background-repeat:no-repeat;background-size: 942px 912px; background-position: 0px 35.97px;
}
#ImageContainer506 {bottom:416.03px;left:0.00px;width:942.01px;height:912.47px;position:absolute;} #TextContainer506 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

.answer{position: absolute;top: 42px;left: 17px;}
.circle1{position: absolute;top: 570px;left: 66px;}
.circle2{position: absolute;top: 568px;left: 102px;}
.circle3{position: absolute;top: 752px;left: 98px;}


#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}