.tr477{ color:transparent;}
#P477_1
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P477_2
{
left:22561.9px;bottom:1410.03px;letter-spacing:3.2px;word-spacing:-1px;color:rgb(35,31,31);
}
#P477_3
{
left:27505.3px;bottom:1410.03px;letter-spacing:4.2px;word-spacing:458.1px;color:rgb(35,31,31);
}
#P477_4
{
left:0px;letter-spacing:0px;margin-left:-462.3px;
}
#P477_5
{
left:0px;letter-spacing:0px;margin-left:-1.5px;
}
#P477_6
{
left:0px;letter-spacing:0px;margin-left:-458.1px;
}
#P477_7
{
left:0px;letter-spacing:2.7px;margin-left:-0.3px;
}
#P477_8
{
left:0px;letter-spacing:0.5px;margin-left:1.3px;
}
#P477_9
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P477_10
{
left:10505.7px;bottom:9430.7px;color:rgb(35,31,31);
}
#P477_11
{
left:10964.1px;bottom:9457.52px;color:rgb(35,31,31);
}
#P477_12
{
left:12105.7px;bottom:9450.41px;color:rgb(2,77,161);
}
#P477_13
{
left:12105.7px;bottom:9450.41px;word-spacing:-26px;color:rgb(2,77,161);
}
#P477_14
{
left:0px;letter-spacing:0px;margin-left:-26px;
}
#P477_15
{
left:0px;letter-spacing:0px;margin-left:26px;
}
#P477_16
{
left:18913.6px;bottom:9430.7px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P477_17
{
left:0px;letter-spacing:-7px;margin-left:-214.6px;
}
#P477_18
{
left:0px;letter-spacing:0px;margin-left:7px;
}
#P477_19
{
left:12105.7px;bottom:8534.7px;letter-spacing:0.2px;color:rgb(35,31,31);
}
#P477_20
{
left:10505.7px;bottom:7190.7px;color:rgb(35,31,31);
}
#P477_21
{
left:10964.1px;bottom:7217.52px;color:rgb(35,31,31);
}
#P477_22
{
left:12105.7px;bottom:7210.41px;color:rgb(2,77,161);
}
#P477_23
{
left:12105.7px;bottom:7190.7px;letter-spacing:-3.5px;color:rgb(35,31,31);
}
#P477_24
{
left:0px;letter-spacing:0.1px;margin-left:3.5px;
}
#P477_25
{
left:11555.5px;bottom:32428.8px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P477_26
{
left:0px;letter-spacing:0.4px;margin-left:14.1px;
}
#P477_27
{
left:0px;letter-spacing:-18.7px;margin-left:-42.5px;
}
#P477_28
{
left:0px;letter-spacing:-1.9px;margin-left:18.7px;
}
#P477_29
{
left:0px;letter-spacing:0px;margin-left:1.9px;
}
#P477_30
{
left:29030.3px;bottom:32199.6px;color:rgb(35,31,31);
}
#P477_31
{
left:31700.1px;bottom:31367.6px;color:rgb(35,31,31);
}
#P477_32
{
left:29241.3px;bottom:30328.8px;letter-spacing:1352.8px;color:rgb(35,31,31);
}
#P477_33
{
left:0px;letter-spacing:0px;margin-left:-73.1px;
}
#P477_34
{
left:29241.3px;bottom:29304.8px;letter-spacing:1352.8px;color:rgb(35,31,31);
}
#P477_35
{
left:0px;letter-spacing:0px;margin-left:-73.1px;
}
#P477_36
{
left:29241.3px;bottom:28280.8px;letter-spacing:1352.8px;color:rgb(35,31,31);
}
#P477_37
{
left:0px;letter-spacing:0px;margin-left:-73.1px;
}
#P477_38
{
left:29241.3px;bottom:27256.8px;letter-spacing:1352.8px;color:rgb(35,31,31);
}
#P477_39
{
left:0px;letter-spacing:0px;margin-left:-73.1px;
}
#P477_40
{
left:29241.3px;bottom:26232.8px;letter-spacing:1352.8px;color:rgb(35,31,31);
}
#P477_41
{
left:0px;letter-spacing:0px;margin-left:-73.1px;
}
#P477_42
{
left:29241.3px;bottom:25208.9px;letter-spacing:1352.8px;color:rgb(35,31,31);
}
#P477_43
{
left:0px;letter-spacing:0px;margin-left:-73.1px;
}
#P477_44
{
left:11555.5px;bottom:31532.8px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P477_45
{
left:0px;letter-spacing:-1px;margin-left:0.8px;
}
#P477_46
{
left:11555.5px;bottom:30636.8px;color:rgb(35,31,31);
}
#P477_47
{
left:11555.5px;bottom:29548.8px;color:rgb(35,31,31);
}
#P477_48
{
left:11683.5px;bottom:29548.8px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P477_49
{
left:12899.5px;bottom:29548.8px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P477_50
{
left:11555.5px;bottom:28460.7px;color:rgb(35,31,31);
}
#P477_51
{
left:11683.5px;bottom:28460.7px;letter-spacing:-13.9px;word-spacing:486.9px;color:rgb(35,31,31);
}
#P477_52
{
left:12899.5px;bottom:28460.7px;letter-spacing:-4.2px;color:rgb(35,31,31);
}
#P477_53
{
left:0px;letter-spacing:-2.1px;margin-left:4.2px;
}
#P477_54
{
left:0px;letter-spacing:0px;margin-left:-18.9px;
}
#P477_55
{
left:0px;letter-spacing:0.1px;
}
#P477_56
{
left:12899.5px;bottom:27564.8px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P477_57
{
left:0px;letter-spacing:0px;margin-left:0.5px;
}
#P477_58
{
left:12899.5px;bottom:26668.9px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P477_59
{
left:11555.5px;bottom:25580.9px;color:rgb(35,31,31);
}
#P477_60
{
left:11683.5px;bottom:25580.9px;letter-spacing:-14px;word-spacing:551.3px;color:rgb(35,31,31);
}
#P477_61
{
left:12899.5px;bottom:25580.9px;color:rgb(35,31,31);
}
#P477_62
{
left:12899.5px;bottom:24685px;color:rgb(35,31,31);
}
#P477_63
{
left:15477.5px;bottom:24685px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P477_64
{
left:21693.8px;bottom:24685px;color:rgb(35,31,31);
}
#P477_65
{
left:12433.7px;bottom:33989px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P477_66
{
left:15858.8px;bottom:34180.8px;color:rgb(255,223,126);
}
#P477_67
{
left:16483.5px;bottom:33989px;word-spacing:207.4px;color:white;
}
#P477_68
{
left:18611.5px;bottom:34180.8px;color:white;
}
#P477_69
{
left:18851.7px;bottom:33989px;color:white;
}
#P477_70
{
left:19347.7px;bottom:34180.8px;color:white;
}
#P477_71
{
left:19587.9px;bottom:33989px;color:white;
}
#P477_72
{
left:27192px;bottom:34180.8px;color:white;
}
#P477_73
{
left:27432.2px;bottom:33989px;color:white;
}
#P477_74
{
left:28472.4px;bottom:34180.8px;color:white;
}
#P477_75
{
left:28712.6px;bottom:33989px;color:white;
}
#P477_76
{
left:30025px;bottom:34180.8px;color:white;
}
#P477_77
{
left:30265.2px;bottom:33989px;color:white;
}
#P477_78
{
left:10693.3px;bottom:33865.5px;
}
#P477_79
{
left:10693.3px;bottom:33865.5px;color:white;
}
#P477_80
{
left:11555.5px;bottom:20946.2px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P477_81
{
left:0px;letter-spacing:0.4px;margin-left:14.1px;
}
#P477_82
{
left:0px;letter-spacing:0px;margin-left:-42.5px;
}
#P477_83
{
left:11555.5px;bottom:19858.2px;color:rgb(35,31,31);
}
#P477_84
{
left:11683.5px;bottom:19858.2px;letter-spacing:-14px;word-spacing:516.1px;color:rgb(35,31,31);
}
#P477_85
{
left:12899.5px;bottom:19858.2px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P477_86
{
left:11555.5px;bottom:18770.1px;color:rgb(35,31,31);
}
#P477_87
{
left:11683.5px;bottom:18770.1px;letter-spacing:-13.9px;word-spacing:486.9px;color:rgb(35,31,31);
}
#P477_88
{
left:12899.5px;bottom:18770.1px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P477_89
{
left:12899.5px;bottom:17874.1px;color:rgb(35,31,31);
}
#P477_90
{
left:11555.5px;bottom:16786.1px;color:rgb(35,31,31);
}
#P477_91
{
left:11683.5px;bottom:16786.1px;letter-spacing:-14px;word-spacing:551.3px;color:rgb(35,31,31);
}
#P477_92
{
left:12899.5px;bottom:16786.1px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P477_93
{
left:0px;letter-spacing:0.1px;margin-left:0.6px;
}
#P477_94
{
left:12899.5px;bottom:15890.1px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P477_95
{
left:0px;letter-spacing:-1.2px;margin-left:0.8px;
}
#P477_96
{
left:0px;letter-spacing:0px;margin-left:1.2px;
}
#P477_97
{
left:11555.5px;bottom:14802.1px;color:rgb(35,31,31);
}
#P477_98
{
left:11683.5px;bottom:14802.1px;letter-spacing:-14px;word-spacing:473.2px;color:rgb(35,31,31);
}
#P477_99
{
left:12899.5px;bottom:14802.1px;letter-spacing:-9.3px;color:rgb(35,31,31);
}
#P477_100
{
left:0px;letter-spacing:-0.4px;margin-left:9.3px;
}
#P477_101
{
left:0px;letter-spacing:-0.1px;margin-left:0.4px;
}
#P477_102
{
left:12899.5px;bottom:13906.1px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P477_103
{
left:0px;letter-spacing:0px;margin-left:-42px;
}
#P477_104
{
left:0px;letter-spacing:-1.1px;
}
#P477_105
{
left:0px;letter-spacing:0.1px;margin-left:1.1px;
}
#P477_106
{
left:12899.5px;bottom:13010.1px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P477_107
{
left:0px;letter-spacing:-1.2px;margin-left:0.2px;
}
#P477_108
{
left:12433.7px;bottom:22506.3px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P477_109
{
left:15858.8px;bottom:22698.2px;color:rgb(255,223,126);
}
#P477_110
{
left:16051.5px;bottom:22506.3px;letter-spacing:207.4px;color:white;
}
#P477_111
{
left:16899.1px;bottom:22698.2px;color:white;
}
#P477_112
{
left:17139.3px;bottom:22506.3px;color:white;
}
#P477_113
{
left:18115.6px;bottom:22698.2px;color:white;
}
#P477_114
{
left:18355.8px;bottom:22506.3px;letter-spacing:-0.8px;color:white;
}
#P477_115
{
left:10693.3px;bottom:22382.8px;
}
#P477_116
{
left:10693.3px;bottom:22382.8px;color:white;
}
#P477_117
{
left:14845.4px;bottom:4393.96px;letter-spacing:228.8px;color:rgb(0,124,196);
}
#P477_118
{
left:15261.4px;bottom:4425.96px;letter-spacing:-9.3px;color:rgb(35,31,31);
}
#P477_119
{
left:0px;letter-spacing:0.1px;margin-left:9.3px;
}
#P477_120
{
left:15261.4px;bottom:3529.98px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P477_121
{
left:0px;letter-spacing:0px;margin-left:0.9px;
}
#P477_122
{
left:11596.6px;bottom:43691.7px;color:rgb(35,31,31);
}
#P477_123
{
left:17871.3px;bottom:43691.6px;letter-spacing:-1.4px;color:rgb(0,124,196);
}
#P477_124
{
left:20289.7px;bottom:43691.6px;color:rgb(35,31,31);
}
#P477_125
{
left:0px;letter-spacing:0px;margin-left:3378px;
}
#P477_126
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P477_127
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P477_128
{
left:21719.1px;bottom:42603.6px;color:rgb(35,31,31);
}
#P477_129
{
left:24364.6px;bottom:45235.2px;color:rgb(0,124,196);
}
#P477_130
{
left:5005.34px;bottom:18622.1px;color:rgb(35,31,31);
}
#P477_131
{
left:5005.34px;bottom:17854.1px;color:rgb(35,31,31);
}
#P477_132
{
left:5005.34px;bottom:16987.3px;color:rgb(35,31,31);
}
#P477_133
{
left:5005.34px;bottom:16251.3px;color:rgb(35,31,31);
}
#P477_134
{
left:5005.34px;bottom:15515.3px;color:rgb(35,31,31);
}
#P477_135
{
left:5005.34px;bottom:14779.4px;color:rgb(35,31,31);
}
#P477_136
{
left:5005.34px;bottom:14043.4px;color:rgb(35,31,31);
}
#P477_137
{
left:4754.71px;bottom:20405.9px;letter-spacing:-20.4px;color:white;
}
#P477_138
{
left:4754.71px;bottom:19445.9px;letter-spacing:-27.2px;color:white;
}
#P477_139
{
left:6733.79px;bottom:19702.6px;color:white;
}
#P477_140
{
left:7009.05px;bottom:19445.9px;letter-spacing:-27.2px;color:white;
}
#PageContainer477
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg477.jpg");background-repeat:no-repeat;background-size: 1021px 1274px; background-position: 0px -0.329999999999927px;
}
#ImageContainer477 {bottom:90.33px;left:0.00px;width:1020.57px;height:1273.83px;position:absolute;} #TextContainer477 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.practice{position: absolute;top: 1215px;left: 254px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}