.tr646{ color:transparent;}
#P646_1
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P646_2
{
left:3540.44px;bottom:1417.71px;color:rgb(35,31,31);
}
#P646_3
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P646_4
{
left:9471.43px;bottom:1417.71px;letter-spacing:1.2px;word-spacing:457.7px;color:rgb(35,31,31);
}
#P646_5
{
left:0px;letter-spacing:0px;margin-left:-458.9px;
}
#P646_6
{
left:0px;letter-spacing:2.2px;margin-left:4.4px;
}
#P646_7
{
left:0px;letter-spacing:0px;margin-left:-459.9px;
}
#P646_8
{
left:0px;letter-spacing:4.9px;margin-left:4.4px;
}
#P646_9
{
left:0px;letter-spacing:4.4px;margin-left:-6px;
}
#P646_10
{
left:0px;bottom:0px;letter-spacing:-220px;color:white;
}
#P646_11
{
left:5437.4px;bottom:46893.1px;color:white;
}
#P646_12
{
left:5417.69px;bottom:19356.8px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P646_13
{
left:5417.69px;bottom:18460.8px;color:rgb(35,31,31);
}
#P646_14
{
left:5417.69px;bottom:17308.8px;color:rgb(35,31,31);
}
#P646_15
{
left:5979.87px;bottom:17328.5px;color:rgb(35,31,31);
}
#P646_16
{
left:7011.35px;bottom:17308.8px;letter-spacing:-2.3px;color:rgb(35,31,31);
}
#P646_17
{
left:5417.75px;bottom:15964.8px;color:rgb(35,31,31);
}
#P646_18
{
left:5979.93px;bottom:15984.5px;color:rgb(35,31,31);
}
#P646_19
{
left:7011.42px;bottom:15964.8px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P646_20
{
left:5417.82px;bottom:14620.8px;color:rgb(35,31,31);
}
#P646_21
{
left:5979.99px;bottom:14640.5px;color:rgb(35,31,31);
}
#P646_22
{
left:7011.48px;bottom:14620.8px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P646_23
{
left:5417.88px;bottom:13276.8px;color:rgb(35,31,31);
}
#P646_24
{
left:5980.06px;bottom:13296.5px;color:rgb(35,31,31);
}
#P646_25
{
left:7011.55px;bottom:13276.8px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P646_26
{
left:5417.95px;bottom:11932.7px;color:rgb(35,31,31);
}
#P646_27
{
left:5980.12px;bottom:11952.4px;color:rgb(35,31,31);
}
#P646_28
{
left:7011.61px;bottom:11932.7px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P646_29
{
left:0px;letter-spacing:0px;margin-left:0.8px;
}
#P646_30
{
left:5418.01px;bottom:10332.8px;color:rgb(35,31,31);
}
#P646_31
{
left:0px;letter-spacing:0px;margin-left:-56.1px;
}
#P646_32
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P646_33
{
left:5418.01px;bottom:9436.78px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P646_34
{
left:0px;letter-spacing:0px;margin-left:0.5px;
}
#P646_35
{
left:5418.01px;bottom:8284.78px;color:rgb(35,31,31);
}
#P646_36
{
left:5980.19px;bottom:8304.49px;color:rgb(35,31,31);
}
#P646_37
{
left:7011.67px;bottom:8284.78px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P646_38
{
left:5418.14px;bottom:6940.78px;color:rgb(35,31,31);
}
#P646_39
{
left:5980.25px;bottom:6960.49px;color:rgb(35,31,31);
}
#P646_40
{
left:7011.74px;bottom:6940.78px;color:rgb(35,31,31);
}
#P646_41
{
left:5418.2px;bottom:5596.72px;color:rgb(35,31,31);
}
#P646_42
{
left:5980.31px;bottom:5616.43px;color:rgb(35,31,31);
}
#P646_43
{
left:7011.8px;bottom:5596.72px;letter-spacing:-1.1px;color:rgb(35,31,31);
}
#P646_44
{
left:0px;letter-spacing:0px;margin-left:1.1px;
}
#P646_45
{
left:4669.4px;bottom:43212.8px;letter-spacing:-31.6px;color:rgb(35,31,31);
}
#P646_46
{
left:0px;letter-spacing:0px;margin-left:31.6px;
}
#P646_47
{
left:9538.97px;bottom:43212.8px;letter-spacing:0.3px;color:rgb(35,31,31);
}
#P646_48
{
left:15805.8px;bottom:43212.8px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P646_49
{
left:4669.4px;bottom:42316.8px;letter-spacing:-8.7px;color:rgb(35,31,31);
}
#P646_50
{
left:0px;letter-spacing:0px;margin-left:8.7px;
}
#P646_51
{
left:0px;letter-spacing:0px;margin-left:-27.9px;
}
#P646_52
{
left:22271.9px;bottom:7111.15px;letter-spacing:-5.8px;color:rgb(33,31,31);
}
#P646_53
{
left:23432px;bottom:7111.15px;letter-spacing:-4.5px;color:rgb(235,26,35);
}
#P646_54
{
left:0px;letter-spacing:-5.8px;margin-left:7.4px;
}
#P646_55
{
left:28852.1px;bottom:7111.15px;color:rgb(7,1,2);
}
#P646_56
{
left:29024.3px;bottom:7111.15px;letter-spacing:-5.8px;color:rgb(33,31,31);
}
#P646_57
{
left:23599px;bottom:6471.21px;letter-spacing:-5.2px;word-spacing:-0.2px;color:rgb(33,31,31);
}
#P646_58
{
left:0px;letter-spacing:0px;margin-left:-52.4px;
}
#P646_59
{
left:26738.5px;bottom:45195.3px;word-spacing:0.2px;color:rgb(33,31,31);
}
#P646_60
{
left:18319.2px;bottom:32797.3px;letter-spacing:-1.9px;color:rgb(2,77,161);
}
#P646_61
{
left:9509.17px;bottom:37787.6px;color:rgb(35,31,31);
}
#P646_62
{
left:8519.99px;bottom:37089.2px;color:rgb(35,31,31);
}
#P646_63
{
left:10918px;bottom:33290.3px;color:rgb(35,31,31);
}
#P646_64
{
left:22607.6px;bottom:35079.6px;letter-spacing:-76.8px;color:rgb(35,31,31);
}
#P646_65
{
left:0px;letter-spacing:-1.8px;margin-left:76.8px;
}
#P646_66
{
left:0px;letter-spacing:0px;margin-left:-5.9px;
}
#P646_67
{
left:24124px;bottom:34599.6px;color:rgb(35,31,31);
}
#P646_68
{
left:0px;letter-spacing:0px;margin-left:-15.4px;
}
#P646_69
{
left:0px;letter-spacing:0px;margin-left:-23.1px;
}
#P646_70
{
left:0px;letter-spacing:0px;margin-left:-30.7px;
}
#P646_71
{
left:22284.5px;bottom:31685.9px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P646_72
{
left:22126.1px;bottom:30643.4px;color:rgb(35,31,31);
}
#P646_73
{
left:0px;letter-spacing:0px;margin-left:-15.4px;
}
#P646_74
{
left:0px;letter-spacing:0px;margin-left:-23.1px;
}
#P646_75
{
left:0px;letter-spacing:0px;margin-left:-30.7px;
}
#P646_76
{
left:22339.5px;bottom:29723.8px;letter-spacing:-7.7px;color:rgb(35,31,31);
}
#P646_77
{
left:0px;letter-spacing:0px;margin-left:7.7px;
}
#P646_78
{
left:27077.2px;bottom:27761.4px;letter-spacing:-10.2px;color:rgb(35,31,31);
}
#P646_79
{
left:28305.4px;bottom:27252.7px;color:rgb(35,31,31);
}
#P646_80
{
left:12089.5px;bottom:29923.1px;color:rgb(35,31,31);
}
#P646_81
{
left:26279.9px;bottom:34212px;color:rgb(35,31,31);
}
#P646_82
{
left:26277.6px;bottom:33290.4px;color:rgb(35,31,31);
}
#P646_83
{
left:2883.8px;bottom:46399px;
}
#PageContainer646
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg646.jpg");background-repeat:no-repeat;background-size: 1000px 1270px; background-position: 0px 0.119999999999891px;
}
#ImageContainer646 {bottom:93.88px;left:0.00px;width:1000.30px;height:1270.28px;position:absolute;} #TextContainer646 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.graphic_organizer{position: absolute;top: 84px;left: 722px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}