.tr252{ color:transparent;}
#P252_1
{
left:2365.4px;bottom:1525.23px;color:rgb(35,31,31);
}
#P252_2
{
left:4925.4px;bottom:1525.23px;color:rgb(35,31,31);
}
#P252_3
{
left:9122.35px;bottom:1525.23px;letter-spacing:0.2px;word-spacing:462.1px;color:rgb(35,31,31);
}
#P252_4
{
left:0px;letter-spacing:0px;margin-left:-462.3px;
}
#P252_5
{
left:0px;letter-spacing:2.3px;
}
#P252_6
{
left:0px;letter-spacing:0px;margin-left:-464.4px;
}
#P252_7
{
left:0px;letter-spacing:3px;
}
#P252_8
{
left:5889.56px;bottom:46957.1px;color:white;
}
#P252_9
{
left:2371.78px;bottom:46929.9px;color:white;
}
#P252_10
{
left:11805.4px;bottom:42328.7px;color:rgb(35,31,31);
}
#P252_11
{
left:12144px;bottom:42485px;color:rgb(35,31,31);
}
#P252_12
{
left:12339.7px;bottom:42328.7px;color:rgb(35,31,31);
}
#P252_13
{
left:13135.3px;bottom:42485px;color:rgb(35,31,31);
}
#P252_14
{
left:13331px;bottom:42328.7px;letter-spacing:-2.5px;color:rgb(35,31,31);
}
#P252_15
{
left:0px;letter-spacing:0px;margin-left:2.5px;
}
#P252_16
{
left:11805.4px;bottom:41262.1px;letter-spacing:-5.4px;color:rgb(2,77,161);
}
#P252_17
{
left:13777.9px;bottom:41245px;letter-spacing:508.3px;color:rgb(35,31,31);
}
#P252_18
{
left:14481.9px;bottom:41221px;letter-spacing:-13.1px;color:rgb(35,31,31);
}
#P252_19
{
left:0px;letter-spacing:-0.7px;margin-left:13.1px;
}
#P252_20
{
left:0px;letter-spacing:-3.2px;margin-left:-6.2px;
}
#P252_21
{
left:0px;letter-spacing:-1.3px;margin-left:3.2px;
}
#P252_22
{
left:0px;letter-spacing:-1.3px;margin-left:1.3px;
}
#P252_23
{
left:14481.9px;bottom:40325px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P252_24
{
left:11805.4px;bottom:39182.1px;letter-spacing:8.1px;color:rgb(2,77,161);
}
#P252_25
{
left:14691.9px;bottom:39149px;color:rgb(35,31,31);
}
#P252_26
{
left:15363.9px;bottom:39173px;letter-spacing:13.6px;color:rgb(235,31,35);
}
#P252_27
{
left:17247.7px;bottom:39173px;letter-spacing:-4.6px;word-spacing:366.5px;color:rgb(35,31,31);
}
#P252_28
{
left:0px;letter-spacing:0px;margin-left:-55.4px;
}
#P252_29
{
left:0px;letter-spacing:2.4px;margin-left:10.6px;
}
#P252_30
{
left:0px;letter-spacing:0px;margin-left:101.6px;
}
#P252_31
{
left:0px;letter-spacing:3.7px;margin-left:-6.8px;
}
#P252_32
{
left:23709.4px;bottom:39214.1px;letter-spacing:6.4px;color:rgb(2,77,161);
}
#P252_33
{
left:11805.4px;bottom:37285px;letter-spacing:1313.6px;color:rgb(35,31,31);
}
#P252_34
{
left:0px;letter-spacing:0px;margin-left:1536px;
}
#P252_35
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P252_36
{
left:16315.7px;bottom:37695.9px;color:rgb(235,26,35);
}
#P252_37
{
left:16651.5px;bottom:37302.6px;color:rgb(235,26,35);
}
#P252_38
{
left:16294.6px;bottom:37269px;color:rgb(235,26,35);
}
#P252_39
{
left:16672.6px;bottom:37286.3px;color:rgb(235,26,35);
}
#P252_40
{
left:16315.7px;bottom:36788.3px;color:rgb(235,26,35);
}
#P252_41
{
left:16651.5px;bottom:37302.6px;color:rgb(235,26,35);
}
#P252_42
{
left:16672.6px;bottom:37285px;color:rgb(235,26,35);
}
#P252_43
{
left:16672.6px;bottom:37285px;color:rgb(35,31,31);
}
#P252_44
{
left:17245.4px;bottom:37287.5px;color:rgb(35,31,31);
}
#P252_45
{
left:18329.9px;bottom:37317.1px;letter-spacing:7.1px;word-spacing:332.6px;color:rgb(35,31,31);
}
#P252_46
{
left:19613.3px;bottom:37287.5px;color:rgb(35,31,31);
}
#P252_47
{
left:20765.3px;bottom:37317.1px;letter-spacing:-6px;word-spacing:413.2px;color:rgb(35,31,31);
}
#P252_48
{
left:5458.71px;bottom:33633.6px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P252_49
{
left:12327px;bottom:33658.2px;color:white;
}
#P252_50
{
left:12742.6px;bottom:33850px;color:white;
}
#P252_51
{
left:12982.7px;bottom:33658.2px;color:white;
}
#P252_52
{
left:13959.1px;bottom:33850px;color:white;
}
#P252_53
{
left:14199.3px;bottom:33658.2px;letter-spacing:-3.1px;color:white;
}
#P252_54
{
left:0px;letter-spacing:0px;margin-left:3.1px;
}
#P252_55
{
left:10482.6px;bottom:33491.1px;
}
#P252_56
{
left:10482.6px;bottom:33491.1px;color:white;
}
#P252_57
{
left:11554px;bottom:32028.8px;color:rgb(35,31,31);
}
#P252_58
{
left:11554px;bottom:30556.8px;letter-spacing:993.6px;color:rgb(35,31,31);
}
#P252_59
{
left:12781.6px;bottom:30556.8px;color:rgb(235,26,35);
}
#P252_60
{
left:14117.8px;bottom:30556.8px;color:rgb(35,31,31);
}
#P252_61
{
left:15970px;bottom:30527.2px;color:rgb(35,31,31);
}
#P252_62
{
left:16556.4px;bottom:30556.8px;color:rgb(35,31,31);
}
#P252_63
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P252_64
{
left:16736px;bottom:30996.5px;color:rgb(235,26,35);
}
#P252_65
{
left:17071.8px;bottom:30574.4px;color:rgb(235,26,35);
}
#P252_66
{
left:16714.8px;bottom:30540.8px;color:rgb(235,26,35);
}
#P252_67
{
left:17092.9px;bottom:30558px;color:rgb(235,26,35);
}
#P252_68
{
left:16736px;bottom:30088.9px;color:rgb(235,26,35);
}
#P252_69
{
left:17071.8px;bottom:30574.4px;color:rgb(235,26,35);
}
#P252_70
{
left:17092.9px;bottom:30556.8px;color:rgb(235,26,35);
}
#P252_71
{
left:17092.9px;bottom:30556.8px;color:rgb(35,31,31);
}
#P252_72
{
left:17251.3px;bottom:30527.2px;color:rgb(35,31,31);
}
#P252_73
{
left:17374.5px;bottom:30118.2px;color:rgb(35,31,31);
}
#P252_74
{
left:17726.2px;bottom:30527.2px;color:rgb(35,31,31);
}
#P252_75
{
left:17902.2px;bottom:30556.8px;color:rgb(35,31,31);
}
#P252_76
{
left:21922px;bottom:30564.8px;color:rgb(0,124,196);
}
#P252_77
{
left:0px;letter-spacing:0px;margin-left:-49.7px;
}
#P252_78
{
left:11554px;bottom:28188.8px;letter-spacing:993.6px;color:rgb(35,31,31);
}
#P252_79
{
left:0px;letter-spacing:0px;margin-left:1953.6px;
}
#P252_80
{
left:15970px;bottom:28159.2px;color:rgb(35,31,31);
}
#P252_81
{
left:16732.4px;bottom:28188.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P252_82
{
left:16753.6px;bottom:28628.5px;color:rgb(35,31,31);
}
#P252_83
{
left:16975.3px;bottom:28601.8px;color:rgb(35,31,31);
}
#P252_84
{
left:17133.7px;bottom:28312.4px;color:rgb(35,31,31);
}
#P252_85
{
left:17411.4px;bottom:28601.8px;color:rgb(35,31,31);
}
#P252_86
{
left:17569.8px;bottom:28628.5px;color:rgb(35,31,31);
}
#P252_87
{
left:18241.4px;bottom:28206.4px;color:rgb(35,31,31);
}
#P252_88
{
left:16777px;bottom:28172.8px;color:rgb(35,31,31);
}
#P252_89
{
left:18262.6px;bottom:28190px;color:rgb(35,31,31);
}
#P252_90
{
left:17351.9px;bottom:27720.9px;
}
#P252_91
{
left:17687.7px;bottom:28206.4px;color:rgb(35,31,31);
}
#P252_92
{
left:18262.6px;bottom:28188.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P252_93
{
left:21922px;bottom:28196.8px;color:rgb(0,124,196);
}
#P252_94
{
left:0px;letter-spacing:0px;margin-left:-61px;
}
#P252_95
{
left:11554px;bottom:26140.8px;letter-spacing:993.6px;color:rgb(35,31,31);
}
#P252_96
{
left:0px;letter-spacing:0px;margin-left:1953.6px;
}
#P252_97
{
left:15970px;bottom:26111.2px;color:rgb(35,31,31);
}
#P252_98
{
left:16556.4px;bottom:26140.8px;color:rgb(35,31,31);
}
#P252_99
{
left:21922px;bottom:26148.8px;color:rgb(0,124,196);
}
#P252_100
{
left:0px;letter-spacing:0px;margin-left:-49.7px;
}
#P252_101
{
left: 12728px;bottom:24540.8px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P252_102
{
left:0px;letter-spacing:-9.3px;margin-left:-554px;
}
#P252_103
{
left:0px;letter-spacing:0px;margin-left:9.3px;
}
#P252_104
{
left:18728.9px;bottom:24548.8px;color:rgb(0,124,196);
}
#P252_105
{
left:21544.3px;bottom:24682.8px;color:rgb(35,31,31);
}
#P252_106
{
left:0px;letter-spacing:0px;margin-left:906px;
}
#P252_107
{
left:0px;letter-spacing:0px;margin-left:1023.6px;
}
#P252_108
{
left:0px;letter-spacing:0px;margin-left:1023.6px;
}
#P252_109
{
left:0px;letter-spacing:0px;margin-left:863.4px;
}
#P252_110
{
left:21565.7px;bottom:22875.8px;color:rgb(35,31,31);
}
#P252_111
{
left:0px;letter-spacing:0px;margin-left:1748.7px;
}
#P252_112
{
left:0px;letter-spacing:1599.6px;
}
#P252_113
{
left:0px;letter-spacing:1599.6px;margin-left:-1599.6px;
}
#P252_114
{
left:0px;letter-spacing:1599.6px;margin-left:-1599.6px;
}
#P252_115
{
left:0px;letter-spacing:0px;margin-left:-1599.6px;
}
#P252_116
{
left:10786px;bottom:20636.8px;letter-spacing:-63.2px;color:rgb(35,31,31);
}
#P252_117
{
left:0px;letter-spacing:-0.2px;margin-left:63.2px;
}
#P252_118
{
left:0px;letter-spacing:0px;margin-left:-214.7px;
}
#P252_119
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P252_120
{
left:0px;letter-spacing:-0.6px;
}
#P252_121
{
left:0px;letter-spacing:0px;margin-left:-41.4px;
}
#P252_122
{
left:23966.9px;bottom:38191.1px;color:rgb(35,31,31);
}
#P252_123
{
left:0px;letter-spacing:0px;margin-left:458.5px;
}
#P252_124
{
left:0px;letter-spacing:0px;margin-left:581.8px;
}
#P252_125
{
left:0px;letter-spacing:0px;margin-left:581.8px;
}
#P252_126
{
left:0px;letter-spacing:0px;margin-left:581.8px;
}
#P252_127
{
left:0px;letter-spacing:0px;margin-left:397.4px;
}
#P252_128
{
left:23989.4px;bottom:36384.2px;color:rgb(35,31,31);
}
#P252_129
{
left:0px;letter-spacing:0px;margin-left:1301.2px;
}
#P252_130
{
left:0px;letter-spacing:1151.4px;
}
#P252_131
{
left:0px;letter-spacing:1151.4px;margin-left:-1151.4px;
}
#P252_132
{
left:0px;letter-spacing:1151.4px;margin-left:-1151.4px;
}
#P252_133
{
left:0px;letter-spacing:1151.4px;margin-left:-1151.4px;
}
#P252_134
{
left:0px;letter-spacing:0px;margin-left:-1151.4px;
}
#P252_135
{
left:5458.71px;bottom:18049.6px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P252_136
{
left:12327px;bottom:18074.2px;color:white;
}
#P252_137
{
left:12742.6px;bottom:18266px;color:white;
}
#P252_138
{
left:12982.7px;bottom:18074.2px;color:white;
}
#P252_139
{
left:13959.1px;bottom:18266px;color:white;
}
#P252_140
{
left:14199.3px;bottom:18074.2px;letter-spacing:-3.1px;color:white;
}
#P252_141
{
left:0px;letter-spacing:0px;margin-left:3.1px;
}
#P252_142
{
left:25982.9px;bottom:18266px;color:white;
}
#P252_143
{
left:26223.1px;bottom:18074.2px;color:white;
}
#P252_144
{
left:29425px;bottom:18266px;color:white;
}
#P252_145
{
left:29665.2px;bottom:18074.2px;letter-spacing:-13.5px;word-spacing:-31.9px;color:white;
}
#P252_146
{
left:0px;letter-spacing:0px;margin-left:13.5px;
}
#P252_147
{
left:10482.6px;bottom:17907.1px;
}
#P252_148
{
left:10482.6px;bottom:17907.1px;color:white;
}
#P252_149
{
left:11554px;bottom:16444.8px;color:rgb(35,31,31);
}
#P252_150
{
left:11554px;bottom:15292.8px;letter-spacing:-9.3px;color:rgb(35,31,31);
}
#P252_151
{
left:0px;letter-spacing:-0.4px;margin-left:9.3px;
}
#P252_152
{
left:0px;letter-spacing:0px;margin-left:-214.4px;
}
#P252_153
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P252_154
{
left:0px;letter-spacing:-0.9px;
}
#P252_155
{
left:0px;letter-spacing:0px;margin-left:0.9px;
}
#P252_156
{
left:27944.7px;bottom:15292.8px;letter-spacing:1.8px;color:rgb(35,31,31);
}
#P252_157
{
left:29283.5px;bottom:15292.8px;color:rgb(35,31,31);
}
#P252_158
{
left:11554px;bottom:14396.8px;color:rgb(35,31,31);
}
#P252_159
{
left:15554.8px;bottom:14396.8px;color:rgb(35,31,31);
}
#P252_160
{
left:17447.1px;bottom:14396.8px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P252_161
{
left:0px;letter-spacing:-0.6px;margin-left:0.7px;
}
#P252_162
{
left:11554px;bottom:11708.8px;color:rgb(35,31,31);
}
#P252_163
{
left:17074px;bottom:11371.6px;color:rgb(35,31,31);
}
#P252_164
{
left:20399.7px;bottom:11332.7px;color:rgb(35,31,31);
}
#P252_165
{
left:0px;letter-spacing:0px;margin-left:1409.2px;
}
#P252_166
{
left:0px;letter-spacing:0px;margin-left:1409.1px;
}
#P252_167
{
left:17074px;bottom:10027.6px;color:rgb(35,31,31);
}
#P252_168
{
left:20213.1px;bottom:9988.72px;color:rgb(35,31,31);
}
#P252_169
{
left:0px;letter-spacing:0px;margin-left:1222.6px;
}
#P252_170
{
left:0px;letter-spacing:0px;margin-left:1222.5px;
}
#P252_171
{
left: 12678px;bottom:7740.78px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P252_172
{
left:0px;letter-spacing:-9.3px;margin-left:-554px;
}
#P252_173
{
left:0px;letter-spacing:0px;margin-left:9.3px;
}
#P252_174
{
left:11581.4px;bottom:4822.38px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P252_175
{
left:0px;letter-spacing:0px;margin-left:-12.5px;
}
#P252_176
{
left:0px;letter-spacing:-14px;margin-left:-42.1px;
}
#P252_177
{
left:0px;letter-spacing:0px;margin-left:14px;
}
#P252_178
{
left:12045px;bottom:3697.2px;color:rgb(35,31,31);
}
#P252_179
{
left:13245.4px;bottom:3670.38px;color:rgb(35,31,31);
}
#P252_180
{
left:17997px;bottom:3697.2px;color:rgb(35,31,31);
}
#P252_181
{
left:19133.4px;bottom:3670.38px;color:rgb(35,31,31);
}
#P252_182
{
left:23629px;bottom:3697.2px;color:rgb(35,31,31);
}
#P252_183
{
left:24765.4px;bottom:3670.38px;color:rgb(35,31,31);
}
#P252_184
{
left:29261px;bottom:3697.2px;color:rgb(35,31,31);
}
#P252_185
{
left:29821.4px;bottom:3670.38px;letter-spacing:417.6px;color:rgb(35,31,31);
}
#P252_186
{
left:0px;letter-spacing:0px;margin-left:-417.6px;
}
#P252_187
{
left:18034.7px;bottom:29142.3px;color:rgb(235,26,35);
}
#P252_188
{
left:16669.3px;bottom:27482.6px;color:rgb(235,26,35);
}
#P252_189
{
left:5599.96px;bottom:3932.78px;color:rgb(35,31,31);
}
#P252_190
{
left:8269.4px;bottom:12994.1px;color:rgb(0,124,196);
}
#P252_191
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P252_192
{
left:0px;letter-spacing:0px;margin-left:-168px;
}
#P252_193
{
left:0px;letter-spacing:0px;margin-left:6.7px;
}
#P252_194
{
left:8269.4px;bottom:12098.1px;color:rgb(0,124,196);
}
#P252_195
{
left:8269.4px;bottom:10626.1px;letter-spacing:-161.3px;color:rgb(0,124,196);
}
#P252_196
{
left:8525.15px;bottom:11171.7px;color:rgb(0,124,196);
}
#P252_197
{
left:9454.11px;bottom:10642.9px;color:rgb(0,124,196);
}
#P252_198
{
left:8269.4px;bottom:10612.8px;color:rgb(0,124,196);
}
#P252_199
{
left:9709.79px;bottom:10627.3px;color:rgb(0,124,196);
}
#P252_200
{
left:8289.56px;bottom:10141.3px;color:rgb(0,124,196);
}
#P252_201
{
left:9689.63px;bottom:10642.9px;color:rgb(0,124,196);
}
#P252_202
{
left:9709.79px;bottom:10626.1px;letter-spacing:-161.3px;color:rgb(0,124,196);
}
#P252_203
{
left:9871.07px;bottom:10597.9px;color:rgb(0,124,196);
}
#P252_204
{
left:10430.8px;bottom:10626.1px;color:rgb(0,124,196);
}
#P252_205
{
left:0px;letter-spacing:0px;margin-left:-161.3px;
}
#P252_206
{
left:10757.4px;bottom:11045.3px;color:rgb(0,124,196);
}
#P252_207
{
left:11338px;bottom:10642.9px;color:rgb(0,124,196);
}
#P252_208
{
left:10592.2px;bottom:10612.8px;color:rgb(0,124,196);
}
#P252_209
{
left:11503.3px;bottom:10627.3px;color:rgb(0,124,196);
}
#P252_210
{
left:10612.3px;bottom:10168.5px;color:rgb(0,124,196);
}
#P252_211
{
left:11483.2px;bottom:10642.9px;color:rgb(0,124,196);
}
#P252_212
{
left:11503.3px;bottom:10626.1px;letter-spacing:-161.3px;color:rgb(0,124,196);
}
#P252_213
{
left:11664.6px;bottom:10597.9px;color:rgb(0,124,196);
}
#P252_214
{
left:12224.3px;bottom:10626.1px;color:rgb(0,124,196);
}
#P252_215
{
left:2549.34px;bottom:29639.5px;color:white;
}
#P252_216
{
left:5904.99px;bottom:29881.1px;color:white;
}
#P252_217
{
left:6240.86px;bottom:29639.5px;color:white;
}
#P252_218
{
left:2784.01px;bottom:28536.5px;letter-spacing:-29.4px;color:rgb(35,31,31);
}
#P252_219
{
left:0px;letter-spacing:0px;margin-left:29.4px;
}
#P252_220
{
left:2784.01px;bottom:27768.5px;color:rgb(35,31,31);
}
#P252_221
{
left:2784.01px;bottom:27000.5px;color:rgb(35,31,31);
}
#P252_222
{
left:3552.01px;bottom:26104.5px;color:rgb(35,31,31);
}
#P252_223
{
left:6718.11px;bottom:26055.9px;color:rgb(35,31,31);
}
#P252_224
{
left:7251.16px;bottom:26104.5px;color:rgb(35,31,31);
}
#P252_225
{
left:3552.01px;bottom:25208.5px;color:rgb(35,31,31);
}
#P252_226
{
left:6362.27px;bottom:25159.9px;color:rgb(35,31,31);
}
#P252_227
{
left:6895.39px;bottom:25208.5px;color:rgb(35,31,31);
}
#P252_228
{
left:2784.01px;bottom:24312.5px;color:rgb(35,31,31);
}
#P252_229
{
left:2784.01px;bottom:23416.5px;color:rgb(35,31,31);
}
#P252_230
{
left:3317.77px;bottom:23367.9px;color:rgb(35,31,31);
}
#P252_231
{
left:3850.89px;bottom:23416.5px;color:rgb(35,31,31);
}
#P252_232
{
left:4562.59px;bottom:23367.9px;color:rgb(35,31,31);
}
#P252_233
{
left:5095.71px;bottom:23416.5px;color:rgb(35,31,31);
}
#P252_234
{
left:5807.39px;bottom:23367.9px;color:rgb(35,31,31);
}
#P252_235
{
left:6340.51px;bottom:23416.5px;color:rgb(35,31,31);
}
#P252_236
{
left:21264px;bottom:13167px;color:rgb(235,26,35);
}
#P252_237
{
left:21907.7px;bottom:13195.2px;color:rgb(235,26,35);
}
#P252_238
{
left:23323.2px;bottom:13204.8px;color:rgb(235,26,35);
}
#P252_239
{
left:23484.5px;bottom:13176.6px;color:rgb(235,26,35);
}
#P252_240
{
left:24044.3px;bottom:13204.8px;letter-spacing:-77.3px;color:rgb(235,26,35);
}
#P252_241
{
left:21264px;bottom:8190.96px;color:rgb(235,26,35);
}
#P252_242
{
left:21907.7px;bottom:8219.18px;color:rgb(235,26,35);
}
#P252_243
{
left:23323.2px;bottom:8228.78px;color:rgb(235,26,35);
}
#P252_244
{
left:23484.5px;bottom:8200.56px;color:rgb(235,26,35);
}
#P252_245
{
left:24044.3px;bottom:8228.78px;letter-spacing:-77.3px;color:rgb(235,26,35);
}
#P252_246
{
left:26785.2px;bottom:46188.3px;word-spacing:0.2px;color:rgb(33,31,31);
}
#P252_247
{
left:0px;letter-spacing:0px;margin-left:-44.8px;
}
#P252_248
{
left:0px;letter-spacing:0px;margin-left:0.2px;
}
#PageContainer252
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg252.jpg");background-repeat:no-repeat;background-size: 947px 1250px; background-position: 0px 35.3399999999999px;
}
#ImageContainer252 {bottom:78.66px;left:0.00px;width:946.60px;height:1250.32px;position:absolute;} #TextContainer252 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.example1{position: absolute;top: 418px;left: 105px;}
.example2{position: absolute;top: 843px;left: 105px;}
.nyr{position:absolute;top: 1208px;left: 124px;}
.nyr_exr{position:absolute;top: 1238px;left: 153px;color:rgb(35,31,31); font-size:16px}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}