.tr464{ color:transparent;}
#P464_1
{
left:5889.56px;bottom:46957.1px;letter-spacing:-6px;color:white;
}
#P464_2
{
left:9101.98px;bottom:47255.5px;color:white;
}
#P464_3
{
left:9475.61px;bottom:46957.1px;color:white;
}
#P464_4
{
left:2371.78px;bottom:46929.9px;color:white;
}
#P464_5
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P464_6
{
left:3540.44px;bottom:1410.03px;color:rgb(35,31,31);
}
#P464_7
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P464_8
{
left:8197.72px;bottom:1410.03px;letter-spacing:462.1px;color:rgb(35,31,31);
}
#P464_9
{
left:0px;letter-spacing:1.5px;margin-left:-465px;
}
#P464_10
{
left:0px;letter-spacing:0px;margin-left:6.1px;
}
#P464_11
{
left:4690.71px;bottom:42158.6px;color:rgb(35,31,31);
}
#P464_12
{
left:5259.29px;bottom:42178.3px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P464_13
{
left:6354.71px;bottom:42178.3px;letter-spacing:-2.8px;color:rgb(2,77,161);
}
#P464_14
{
left:10578.9px;bottom:42158.6px;letter-spacing:168.3px;color:rgb(35,31,31);
}
#P464_15
{
left:0px;letter-spacing:0px;margin-left:-168.3px;
}
#P464_16
{
left:22334.9px;bottom:42222.6px;color:rgb(35,31,31);
}
#P464_17
{
left:22583.4px;bottom:42158.6px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P464_18
{
left:23114.9px;bottom:42129.1px;color:rgb(35,31,31);
}
#P464_19
{
left:23701.3px;bottom:42158.6px;letter-spacing:-8.4px;color:rgb(35,31,31);
}
#P464_20
{
left:0px;letter-spacing:0px;margin-left:8.4px;
}
#P464_21
{
left:6354.71px;bottom:41262.6px;color:rgb(35,31,31);
}
#P464_22
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P464_23
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P464_24
{
left:4690.71px;bottom:39918.6px;color:rgb(35,31,31);
}
#P464_25
{
left:5259.29px;bottom:39938.3px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P464_26
{
left:6354.71px;bottom:39938.3px;color:rgb(2,77,161);
}
#P464_27
{
left:9079.83px;bottom:39918.6px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P464_28
{
left:0px;letter-spacing:-1.5px;margin-left:-197.8px;
}
#P464_29
{
left:0px;letter-spacing:-0.1px;margin-left:1.5px;
}
#P464_30
{
left:6354.71px;bottom:39022.6px;color:rgb(35,31,31);
}
#P464_31
{
left:4690.71px;bottom:37678.6px;color:rgb(35,31,31);
}
#P464_32
{
left:5259.29px;bottom:37698.3px;color:rgb(35,31,31);
}
#P464_33
{
left:6354.71px;bottom:37698.3px;color:rgb(2,77,161);
}
#P464_34
{
left:9079.83px;bottom:37678.6px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P464_35
{
left:0px;letter-spacing:-7px;margin-left:-214.6px;
}
#P464_36
{
left:0px;letter-spacing:-0.7px;margin-left:7px;
}
#P464_37
{
left:0px;letter-spacing:0.2px;margin-left:0.7px;
}
#P464_38
{
left:4086.06px;bottom:35345.9px;color:rgb(33,31,31);
}
#P464_39
{
left:4172.45px;bottom:35377.3px;letter-spacing:-0.2px;color:rgb(33,31,31);
}
#P464_40
{
left:4455.46px;bottom:35480px;letter-spacing:0.8px;color:rgb(33,31,31);
}
#P464_41
{
left:4602.53px;bottom:35533.4px;color:rgb(33,31,31);
}
#P464_42
{
left:4164.48px;bottom:35166.7px;color:rgb(33,31,31);
}
#P464_43
{
left:4250.85px;bottom:35198.1px;letter-spacing:-0.2px;color:rgb(33,31,31);
}
#P464_44
{
left:4533.86px;bottom:35300.8px;letter-spacing:0.8px;color:rgb(33,31,31);
}
#P464_45
{
left:4259.68px;bottom:34987.5px;color:rgb(33,31,31);
}
#P464_46
{
left:4346.08px;bottom:35018.9px;letter-spacing:-0.2px;color:rgb(33,31,31);
}
#P464_47
{
left:4629.09px;bottom:35121.6px;letter-spacing:0.8px;color:rgb(33,31,31);
}
#P464_48
{
left:4424.86px;bottom:34738.3px;color:rgb(33,31,31);
}
#P464_49
{
left:4511.26px;bottom:34769.7px;letter-spacing:-0.2px;color:rgb(33,31,31);
}
#P464_50
{
left:4794.27px;bottom:34872.4px;letter-spacing:0.8px;color:rgb(33,31,31);
}
#P464_51
{
left:4669.4px;bottom:32906.1px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P464_52
{
left:0px;letter-spacing:0px;margin-left:0.8px;
}
#P464_53
{
left:4669.4px;bottom:31754px;color:rgb(35,31,31);
}
#P464_54
{
left:5237.98px;bottom:31773.7px;color:rgb(35,31,31);
}
#P464_55
{
left:8279.9px;bottom:31453.8px;color:rgb(35,31,31);
}
#P464_56
{
left:6873.24px;bottom:30351px;color:rgb(35,31,31);
}
#P464_57
{
left:0px;letter-spacing:0px;margin-left:1207.7px;
}
#P464_58
{
left:0px;letter-spacing:0px;margin-left:1207.7px;
}
#P464_59
{
left:0px;letter-spacing:0px;margin-left:1385.7px;
}
#P464_60
{
left:6873.24px;bottom:29331.1px;color:rgb(35,31,31);
}
#P464_61
{
left:0px;letter-spacing:0px;margin-left:1207.7px;
}
#P464_62
{
left:0px;letter-spacing:0px;margin-left:1207.7px;
}
#P464_63
{
left:0px;letter-spacing:0px;margin-left:1207.6px;
}
#P464_64
{
left:6873.24px;bottom:28311.1px;color:rgb(35,31,31);
}
#P464_65
{
left:0px;letter-spacing:0px;margin-left:1207.7px;
}
#P464_66
{
left:0px;letter-spacing:0px;margin-left:1207.7px;
}
#P464_67
{
left:0px;letter-spacing:0px;margin-left:1207.6px;
}
#P464_68
{
left:14388.2px;bottom:31754.1px;color:rgb(35,31,31);
}
#P464_69
{
left:20022px;bottom:31773.8px;color:rgb(35,31,31);
}
#P464_70
{
left:22821.3px;bottom:31453.8px;color:rgb(35,31,31);
}
#P464_71
{
left:21835.3px;bottom:30351px;color:rgb(35,31,31);
}
#P464_72
{
left:0px;letter-spacing:0px;margin-left:1385.8px;
}
#P464_73
{
left:0px;letter-spacing:1207.7px;
}
#P464_74
{
left:0px;letter-spacing:1207.7px;margin-left:-1207.6px;
}
#P464_75
{
left:0px;letter-spacing:0px;margin-left:-1207.6px;
}
#P464_76
{
left:21657.3px;bottom:29331.1px;color:rgb(35,31,31);
}
#P464_77
{
left:0px;letter-spacing:1385.8px;margin-left:1385.7px;
}
#P464_78
{
left:0px;letter-spacing:0px;margin-left:-1385.8px;
}
#P464_79
{
left:0px;letter-spacing:0px;margin-left:1207.7px;
}
#P464_80
{
left:0px;letter-spacing:0px;
}
#P464_81
{
left:21657.3px;bottom:28307.1px;color:rgb(35,31,31);
}
#P464_82
{
left:0px;letter-spacing:0px;margin-left:1207.6px;
}
#P464_83
{
left:0px;letter-spacing:0px;margin-left:1385.7px;
}
#P464_84
{
left:0px;letter-spacing:0px;margin-left:1563.8px;
}
#P464_85
{
left:4669.4px;bottom:26250.1px;color:rgb(35,31,31);
}
#P464_86
{
left:5237.98px;bottom:26269.8px;color:rgb(35,31,31);
}
#P464_87
{
left:8704.54px;bottom:25955.5px;letter-spacing:-74.4px;color:rgb(35,31,31);
}
#P464_88
{
left:0px;letter-spacing:-1px;margin-left:74.4px;
}
#P464_89
{
left:6873.24px;bottom:24848.7px;color:rgb(35,31,31);
}
#P464_90
{
left:0px;letter-spacing:0px;margin-left:1207.7px;
}
#P464_91
{
left:0px;letter-spacing:0px;margin-left:1207.7px;
}
#P464_92
{
left:0px;letter-spacing:0px;margin-left:1207.6px;
}
#P464_93
{
left:0px;letter-spacing:0px;margin-left:1207.7px;
}
#P464_94
{
left:6873.24px;bottom:23824.8px;color:rgb(35,31,31);
}
#P464_95
{
left:0px;letter-spacing:0px;margin-left:1207.7px;
}
#P464_96
{
left:0px;letter-spacing:0px;margin-left:1207.7px;
}
#P464_97
{
left:0px;letter-spacing:0px;margin-left:1207.6px;
}
#P464_98
{
left:0px;letter-spacing:0px;margin-left:1207.7px;
}
#P464_99
{
left:6873.24px;bottom:22800.8px;color:rgb(35,31,31);
}
#P464_100
{
left:0px;letter-spacing:0px;margin-left:1207.7px;
}
#P464_101
{
left:0px;letter-spacing:0px;margin-left:1207.7px;
}
#P464_102
{
left:0px;letter-spacing:0px;margin-left:1207.6px;
}
#P464_103
{
left:0px;letter-spacing:0px;margin-left:1207.7px;
}
#P464_104
{
left:16365.4px;bottom:26250.1px;color:rgb(35,31,31);
}
#P464_105
{
left:20022px;bottom:26269.8px;color:rgb(35,31,31);
}
#P464_106
{
left:23731.2px;bottom:25955.5px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P464_107
{
left:21657.2px;bottom:24848.7px;color:rgb(35,31,31);
}
#P464_108
{
left:0px;letter-spacing:0px;margin-left:1207.6px;
}
#P464_109
{
left:0px;letter-spacing:0px;margin-left:1207.7px;
}
#P464_110
{
left:0px;letter-spacing:0px;margin-left:1207.7px;
}
#P464_111
{
left:0px;letter-spacing:0px;margin-left:1207.6px;
}
#P464_112
{
left:21657.2px;bottom:23824.8px;color:rgb(35,31,31);
}
#P464_113
{
left:0px;letter-spacing:0px;margin-left:1207.6px;
}
#P464_114
{
left:0px;letter-spacing:0px;margin-left:1207.7px;
}
#P464_115
{
left:0px;letter-spacing:0px;margin-left:1207.7px;
}
#P464_116
{
left:0px;letter-spacing:0px;margin-left:1207.6px;
}
#P464_117
{
left:21657.2px;bottom:22800.8px;color:rgb(35,31,31);
}
#P464_118
{
left:0px;letter-spacing:0px;margin-left:1207.6px;
}
#P464_119
{
left:0px;letter-spacing:0px;margin-left:1207.7px;
}
#P464_120
{
left:0px;letter-spacing:0px;margin-left:1207.7px;
}
#P464_121
{
left:0px;letter-spacing:0px;margin-left:1207.6px;
}
#P464_122
{
left:4669.4px;bottom:20746.1px;color:rgb(35,31,31);
}
#P464_123
{
left:5237.98px;bottom:20765.8px;color:rgb(35,31,31);
}
#P464_124
{
left:8503.64px;bottom:20489.3px;color:rgb(35,31,31);
}
#P464_125
{
left:6873.24px;bottom:19382.4px;color:rgb(35,31,31);
}
#P464_126
{
left:0px;letter-spacing:0px;margin-left:1029.6px;
}
#P464_127
{
left:0px;letter-spacing:0px;margin-left:851.5px;
}
#P464_128
{
left:0px;letter-spacing:0px;margin-left:1029.6px;
}
#P464_129
{
left:6873.24px;bottom:18358.5px;color:rgb(35,31,31);
}
#P464_130
{
left:0px;letter-spacing:0px;margin-left:1207.6px;
}
#P464_131
{
left:0px;letter-spacing:0px;margin-left:1029.6px;
}
#P464_132
{
left:0px;letter-spacing:0px;margin-left:851.5px;
}
#P464_133
{
left:6873.24px;bottom:17334.6px;color:rgb(35,31,31);
}
#P464_134
{
left:0px;letter-spacing:0px;margin-left:1207.6px;
}
#P464_135
{
left:0px;letter-spacing:0px;margin-left:1207.7px;
}
#P464_136
{
left:0px;letter-spacing:0px;margin-left:1029.6px;
}
#P464_137
{
left:14333.4px;bottom:20746.1px;color:rgb(35,31,31);
}
#P464_138
{
left:20022px;bottom:20765.8px;color:rgb(35,31,31);
}
#P464_139
{
left:22466.5px;bottom:20489.3px;color:rgb(35,31,31);
}
#P464_140
{
left:21568.2px;bottom:19382.4px;color:rgb(35,31,31);
}
#P464_141
{
left:0px;letter-spacing:0px;margin-left:1029.5px;
}
#P464_142
{
left:0px;letter-spacing:0px;margin-left:1029.6px;
}
#P464_143
{
left:0px;letter-spacing:0px;margin-left:1029.5px;
}
#P464_144
{
left:21568.2px;bottom:18358.5px;color:rgb(35,31,31);
}
#P464_145
{
left:0px;letter-spacing:0px;margin-left:1029.5px;
}
#P464_146
{
left:0px;letter-spacing:0px;margin-left:1029.6px;
}
#P464_147
{
left:0px;letter-spacing:0px;margin-left:1029.5px;
}
#P464_148
{
left:21568.2px;bottom:17334.6px;color:rgb(35,31,31);
}
#P464_149
{
left:0px;letter-spacing:0px;margin-left:1029.5px;
}
#P464_150
{
left:0px;letter-spacing:0px;margin-left:1029.6px;
}
#P464_151
{
left:0px;letter-spacing:0px;margin-left:1029.5px;
}
#P464_152
{
left:4669.4px;bottom:14538.1px;color:rgb(35,31,31);
}
#P464_153
{
left:4846.55px;bottom:14557.8px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P464_154
{
left:6333.4px;bottom:14557.8px;word-spacing:-26px;color:rgb(2,77,161);
}
#P464_155
{
left:0px;letter-spacing:0px;margin-left:-52.8px;
}
#P464_156
{
left:0px;letter-spacing:0px;margin-left:-12.5px;
}
#P464_157
{
left:11627px;bottom:14538.1px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P464_158
{
left:0px;letter-spacing:-0.5px;margin-left:-197.8px;
}
#P464_159
{
left:0px;letter-spacing:-0.4px;margin-left:0.5px;
}
#P464_160
{
left:6333.4px;bottom:13642.1px;color:rgb(35,31,31);
}
#P464_161
{
left:4669.4px;bottom:12298.1px;letter-spacing:3041.7px;color:rgb(35,31,31);
}
#P464_162
{
left:0px;letter-spacing:0px;margin-left:-3041.7px;
}
#P464_163
{
left:4669.4px;bottom:7178.22px;color:rgb(35,31,31);
}
#P464_164
{
left:15086.6px;bottom:7197.93px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P464_165
{
left:16509.4px;bottom:7197.8px;color:rgb(2,77,161);
}
#P464_166
{
left:19079px;bottom:7178.09px;letter-spacing:168.3px;color:rgb(35,31,31);
}
#P464_167
{
left:0px;letter-spacing:-0.1px;margin-left:-168.3px;
}
#P464_168
{
left:16509.4px;bottom:6282.09px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P464_169
{
left:0px;letter-spacing:0px;margin-left:-13.1px;
}
#P464_170
{
left:16509.4px;bottom:5386.16px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P464_171
{
left:16509.4px;bottom:4490.16px;letter-spacing:0.2px;color:rgb(35,31,31);
}
#P464_172
{
left:3954.73px;bottom:31750.4px;
}
#P464_173
{
left:3954.73px;bottom:31750.4px;color:white;
}
#P464_174
{
left:0px;bottom:0px;letter-spacing:0px;color:rgb(235,26,35);
}
#P464_175
{
left:27037.1px;bottom:14019.6px;word-spacing:720px;color:rgb(35,31,31);
}
#P464_176
{
left:30803.2px;bottom:14020.3px;color:rgb(35,31,31);
}
#P464_177
{
left:28273.9px;bottom:12932.2px;word-spacing:1940.6px;color:rgb(35,31,31);
}
#P464_178
{
left:0px;letter-spacing:0px;margin-left:-1220.6px;
}
#P464_179
{
left:0px;letter-spacing:0px;margin-left:-1685.2px;
}
#P464_180
{
left:28256.3px;bottom:12036.3px;word-spacing:1923px;color:rgb(35,31,31);
}
#P464_181
{
left:0px;letter-spacing:0px;margin-left:-1203px;
}
#P464_182
{
left:0px;letter-spacing:0px;margin-left:-1646.4px;
}
#P464_183
{
left:0px;letter-spacing:0px;margin-left:-1664px;
}
#P464_184
{
left:28252.8px;bottom:11140.3px;word-spacing:1919.5px;color:rgb(35,31,31);
}
#P464_185
{
left:0px;letter-spacing:0px;margin-left:-1199.5px;
}
#P464_186
{
left:0px;letter-spacing:0px;margin-left:-1704.9px;
}
#P464_187
{
left:0px;letter-spacing:0px;margin-left:-1474px;
}
#P464_188
{
left:0px;letter-spacing:0px;margin-left:-1664px;
}
#P464_189
{
left:26157.3px;bottom:9860.27px;color:rgb(35,31,31);
}
#P464_190
{
left:29549.3px;bottom:9859.56px;word-spacing:176px;color:rgb(35,31,31);
}
#P464_191
{
left:31565px;bottom:9632.36px;color:rgb(35,31,31);
}
#P464_192
{
left:31821px;bottom:9859.56px;color:rgb(35,31,31);
}
#P464_193
{
left:32376.4px;bottom:9872.24px;color:rgb(35,31,31);
}
#P464_194
{
left:32962.8px;bottom:9859.56px;color:rgb(35,31,31);
}
#P464_195
{
left:26505.8px;bottom:46200.7px;letter-spacing:0.1px;word-spacing:0.2px;color:rgb(33,31,31);
}
#P464_196
{
left:23598px;bottom:13041.6px;
}
#PageContainer464
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg464.jpg");background-repeat:no-repeat;background-size: 947px 1226px; background-position: 0px 35.8800000000001px;
}
#ImageContainer464 {bottom:102.12px;left:0.00px;width:947.24px;height:1226.39px;position:absolute;} #TextContainer464 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.answer{position: absolute;top: 52px;left: 25px;
}
.c1{position: absolute;top: 473px;left: 96px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}