.tr187{ color:transparent;}
#P187_1
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P187_2
{
left:24514.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P187_3
{
left:29070.8px;bottom:1410.03px;letter-spacing:2px;word-spacing:462px;color:rgb(35,31,31);
}
#P187_4
{
left:0px;letter-spacing:0px;margin-left:-464px;
}
#P187_5
{
left:0px;letter-spacing:0.1px;margin-left:0.1px;
}
#P187_6
{
left:0px;letter-spacing:0px;margin-left:-462.1px;
}
#P187_7
{
left:0px;letter-spacing:-2.5px;margin-left:-40.5px;
}
#P187_8
{
left:0px;letter-spacing:2px;margin-left:-1.1px;
}
#P187_9
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P187_10
{
left:7753.11px;bottom:46049.6px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P187_11
{
left:14621.4px;bottom:46074.2px;color:white;
}
#P187_12
{
left:15037px;bottom:46266px;color:white;
}
#P187_13
{
left:15277.2px;bottom:46074.2px;color:white;
}
#P187_14
{
left:16253.5px;bottom:46266px;color:white;
}
#P187_15
{
left:16493.7px;bottom:46074.2px;letter-spacing:-4.6px;color:white;
}
#P187_16
{
left:0px;letter-spacing:-1.9px;margin-left:4.6px;
}
#P187_17
{
left:0px;letter-spacing:-47.4px;margin-left:-30px;
}
#P187_18
{
left:23618.6px;bottom:46266px;color:white;
}
#P187_19
{
left:23858.8px;bottom:46074.2px;color:white;
}
#P187_20
{
left:12777px;bottom:45907.1px;
}
#P187_21
{
left:12777px;bottom:45907.1px;color:white;
}
#P187_22
{
left:13848.4px;bottom:44444.8px;letter-spacing:-1.5px;color:rgb(35,31,31);
}
#P187_23
{
left:0px;letter-spacing:0.3px;margin-left:-12.4px;
}
#P187_24
{
left:13080.4px;bottom:42524.8px;color:rgb(35,31,31);
}
#P187_25
{
left:23576.4px;bottom:42524.8px;color:rgb(35,31,31);
}
#P187_26
{
left:24015.7px;bottom:42524.8px;color:rgb(35,31,31);
}
#P187_27
{
left:24174.1px;bottom:42495.2px;color:rgb(35,31,31);
}
#P187_28
{
left:24760.5px;bottom:42524.8px;color:rgb(35,31,31);
}
#P187_29
{
left:24918.9px;bottom:42524.8px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P187_30
{
left:24940px;bottom:42964.5px;color:rgb(35,31,31);
}
#P187_31
{
left:25275.8px;bottom:42542.4px;color:rgb(35,31,31);
}
#P187_32
{
left:24918.9px;bottom:42508.8px;color:rgb(35,31,31);
}
#P187_33
{
left:25296.9px;bottom:42526px;color:rgb(35,31,31);
}
#P187_34
{
left:24940px;bottom:42056.9px;color:rgb(35,31,31);
}
#P187_35
{
left:25275.8px;bottom:42542.4px;color:rgb(35,31,31);
}
#P187_36
{
left:25296.9px;bottom:42524.8px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P187_37
{
left:25384.9px;bottom:42524.8px;color:rgb(235,26,35);
}
#P187_38
{
left:25772.6px;bottom:42524.8px;color:rgb(0,124,196);
}
#P187_39
{
left:26200px;bottom:42524.8px;color:rgb(35,31,31);
}
#P187_40
{
left:28632.4px;bottom:42532.8px;letter-spacing:0.4px;color:rgb(0,124,196);
}
#P187_41
{
left:13080.4px;bottom:40540.8px;letter-spacing:10785.6px;color:rgb(35,31,31);
}
#P187_42
{
left:24182.8px;bottom:40511.2px;color:rgb(35,31,31);
}
#P187_43
{
left:24769.2px;bottom:40540.8px;color:rgb(35,31,31);
}
#P187_44
{
left:24927.6px;bottom:40540.8px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P187_45
{
left:24948.8px;bottom:40980.5px;color:rgb(35,31,31);
}
#P187_46
{
left:25284.5px;bottom:40558.4px;color:rgb(35,31,31);
}
#P187_47
{
left:24927.6px;bottom:40524.8px;color:rgb(35,31,31);
}
#P187_48
{
left:25305.6px;bottom:40542px;color:rgb(35,31,31);
}
#P187_49
{
left:24948.8px;bottom:40072.9px;color:rgb(35,31,31);
}
#P187_50
{
left:25284.5px;bottom:40558.4px;color:rgb(35,31,31);
}
#P187_51
{
left:25305.6px;bottom:40540.8px;color:rgb(35,31,31);
}
#P187_52
{
left:25305.6px;bottom:40540.8px;color:rgb(35,31,31);
}
#P187_53
{
left:25537.4px;bottom:40540.8px;letter-spacing:-6px;color:rgb(235,26,35);
}
#P187_54
{
left:26287px;bottom:40540.8px;letter-spacing:-6.1px;color:rgb(35,31,31);
}
#P187_55
{
left:26788.6px;bottom:40540.8px;color:rgb(0,124,196);
}
#P187_56
{
left:27173.9px;bottom:40540.8px;color:rgb(35,31,31);
}
#P187_57
{
left:28632.4px;bottom:40548.8px;letter-spacing:0.9px;word-spacing:-0.2px;color:rgb(0,124,196);
}
#P187_58
{
left:0px;letter-spacing:0px;margin-left:-39.6px;
}
#P187_59
{
left:0px;letter-spacing:0.2px;margin-left:0.2px;
}
#P187_60
{
left:33008.3px;bottom:40708.7px;color:rgb(0,124,196);
}
#P187_61
{
left:33498.1px;bottom:40548.8px;letter-spacing:0.3px;word-spacing:-0.3px;color:rgb(0,124,196);
}
#P187_62
{
left:35977.1px;bottom:40708.7px;color:rgb(0,124,196);
}
#P187_63
{
left:36293.8px;bottom:40548.8px;color:rgb(0,124,196);
}
#P187_64
{
left:13080.4px;bottom:38684.8px;letter-spacing:10785.6px;color:rgb(35,31,31);
}
#P187_65
{
left:24182.8px;bottom:38655.2px;color:rgb(35,31,31);
}
#P187_66
{
left:24923.8px;bottom:38684.8px;letter-spacing:7.8px;word-spacing:-11.7px;color:rgb(35,31,31);
}
#P187_67
{
left:28632.4px;bottom:38692.8px;letter-spacing:-1.9px;color:rgb(0,124,196);
}
#P187_68
{
left:13080.4px;bottom:36444.8px;color:rgb(35,31,31);
}
#P187_69
{
left:14496.4px;bottom:36636.8px;letter-spacing:520.3px;color:rgb(35,31,31);
}
#P187_70
{
left:0px;letter-spacing:0px;margin-left:-678.7px;
}
#P187_71
{
left:0px;letter-spacing:-0.2px;
}
#P187_72
{
left:0px;letter-spacing:0px;margin-left:-13.7px;
}
#P187_73
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P187_74
{
left:7752.35px;bottom:33515.8px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P187_75
{
left:14620.6px;bottom:33540.3px;color:white;
}
#P187_76
{
left:17004.4px;bottom:33732.1px;color:white;
}
#P187_77
{
left:17244.6px;bottom:33540.3px;word-spacing:-31.9px;color:white;
}
#P187_78
{
left:20013px;bottom:33732.1px;color:white;
}
#P187_79
{
left:20253.1px;bottom:33540.3px;color:white;
}
#P187_80
{
left:21436.8px;bottom:33732.1px;color:white;
}
#P187_81
{
left:21677px;bottom:33540.3px;color:white;
}
#P187_82
{
left:12776.3px;bottom:33373.2px;
}
#P187_83
{
left:12776.3px;bottom:33373.2px;color:white;
}
#P187_84
{
left:13908.7px;bottom:31914.9px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P187_85
{
left:0px;letter-spacing:0px;margin-left:-224.6px;
}
#P187_86
{
left:0px;letter-spacing:0px;margin-left:77.1px;
}
#P187_87
{
left:0px;letter-spacing:-1.7px;
}
#P187_88
{
left:0px;letter-spacing:-1px;margin-left:1.7px;
}
#P187_89
{
left:13908.7px;bottom:31018.9px;color:rgb(35,31,31);
}
#P187_90
{
left:0px;letter-spacing:0px;margin-left:-225.2px;
}
#P187_91
{
left:0px;letter-spacing:0px;margin-left:77.1px;
}
#P187_92
{
left:0px;letter-spacing:-4.7px;
}
#P187_93
{
left:0px;letter-spacing:-14px;margin-left:4.7px;
}
#P187_94
{
left:0px;letter-spacing:0px;margin-left:14px;
}
#P187_95
{
left:13908.7px;bottom:30123px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P187_96
{
left:0px;letter-spacing:0px;margin-left:-13.1px;
}
#P187_97
{
left:0px;letter-spacing:0px;margin-left:-13.9px;
}
#P187_98
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P187_99
{
left:13908.7px;bottom:28587px;letter-spacing:-1.9px;color:rgb(35,31,31);
}
#P187_100
{
left:0px;letter-spacing:0px;margin-left:1.9px;
}
#P187_101
{
left:13076.7px;bottom:26923px;color:rgb(35,31,31);
}
#P187_102
{
left:15636.8px;bottom:26923px;color:rgb(35,31,31);
}
#P187_103
{
left:16076.1px;bottom:26923px;color:rgb(35,31,31);
}
#P187_104
{
left:16234.5px;bottom:26893.4px;color:rgb(35,31,31);
}
#P187_105
{
left:16821px;bottom:26923px;color:rgb(35,31,31);
}
#P187_106
{
left:16979.4px;bottom:26923px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P187_107
{
left:17000.3px;bottom:27362.5px;color:rgb(35,31,31);
}
#P187_108
{
left:17336.2px;bottom:26940.5px;color:rgb(35,31,31);
}
#P187_109
{
left:16979.2px;bottom:26906.8px;color:rgb(35,31,31);
}
#P187_110
{
left:17357.3px;bottom:26924.1px;color:rgb(35,31,31);
}
#P187_111
{
left:17000.3px;bottom:26455px;color:rgb(35,31,31);
}
#P187_112
{
left:17336.2px;bottom:26940.5px;color:rgb(35,31,31);
}
#P187_113
{
left:17357.3px;bottom:26922.9px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P187_114
{
left:17445.3px;bottom:26922.9px;color:rgb(235,26,35);
}
#P187_115
{
left:17832.9px;bottom:26922.9px;color:rgb(0,124,196);
}
#P187_116
{
left:18260.2px;bottom:26922.9px;color:rgb(35,31,31);
}
#P187_117
{
left:21332.7px;bottom:26930.9px;letter-spacing:0.4px;color:rgb(0,124,196);
}
#P187_118
{
left:13076.7px;bottom:25130.9px;letter-spacing:2849.6px;color:rgb(35,31,31);
}
#P187_119
{
left:16243.1px;bottom:25101.3px;color:rgb(35,31,31);
}
#P187_120
{
left:16829.5px;bottom:25130.9px;color:rgb(35,31,31);
}
#P187_121
{
left:16987.9px;bottom:25130.9px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P187_122
{
left:17009px;bottom:25570.5px;color:rgb(35,31,31);
}
#P187_123
{
left:17344.9px;bottom:25148.5px;color:rgb(35,31,31);
}
#P187_124
{
left:16987.9px;bottom:25114.8px;color:rgb(35,31,31);
}
#P187_125
{
left:17366px;bottom:25132.1px;color:rgb(35,31,31);
}
#P187_126
{
left:17009px;bottom:24663px;color:rgb(35,31,31);
}
#P187_127
{
left:17344.9px;bottom:25148.5px;color:rgb(35,31,31);
}
#P187_128
{
left:17366px;bottom:25130.9px;color:rgb(35,31,31);
}
#P187_129
{
left:17366px;bottom:25130.9px;color:rgb(35,31,31);
}
#P187_130
{
left:17615.6px;bottom:25130.9px;color:rgb(235,26,35);
}
#P187_131
{
left:17998.2px;bottom:25130.9px;letter-spacing:-6.1px;color:rgb(35,31,31);
}
#P187_132
{
left:18470.2px;bottom:25130.9px;color:rgb(0,124,196);
}
#P187_133
{
left:18817.8px;bottom:25130.9px;color:rgb(35,31,31);
}
#P187_134
{
left:21332.7px;bottom:25138.9px;letter-spacing:0.7px;word-spacing:-0.2px;color:rgb(0,124,196);
}
#P187_135
{
left:25424.9px;bottom:25298.8px;color:rgb(0,124,196);
}
#P187_136
{
left:25914.6px;bottom:25138.9px;letter-spacing:0.3px;word-spacing:-0.3px;color:rgb(0,124,196);
}
#P187_137
{
left:28393.6px;bottom:25298.8px;color:rgb(0,124,196);
}
#P187_138
{
left:28710.4px;bottom:25138.9px;color:rgb(0,124,196);
}
#P187_139
{
left:13076.7px;bottom:23338.9px;letter-spacing:2849.6px;color:rgb(35,31,31);
}
#P187_140
{
left:16243.1px;bottom:23309.3px;color:rgb(35,31,31);
}
#P187_141
{
left:16829.5px;bottom:23338.9px;letter-spacing:2.6px;color:rgb(35,31,31);
}
#P187_142
{
left:18551.4px;bottom:23682.6px;color:rgb(35,31,31);
}
#P187_143
{
left:18822.7px;bottom:23338.9px;color:rgb(35,31,31);
}
#P187_144
{
left:21332.7px;bottom:23346.9px;letter-spacing:-1.9px;color:rgb(0,124,196);
}
#P187_145
{
left:13908.7px;bottom:21802.9px;color:rgb(35,31,31);
}
#P187_146
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P187_147
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P187_148
{
left:0px;letter-spacing:0px;margin-left:-13.9px;
}
#P187_149
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P187_150
{
left:33112.6px;bottom:21773.3px;color:rgb(35,31,31);
}
#P187_151
{
left:33699px;bottom:21802.9px;color:rgb(35,31,31);
}
#P187_152
{
left:34389px;bottom:21773.3px;color:rgb(35,31,31);
}
#P187_153
{
left:34975.4px;bottom:21802.9px;color:rgb(35,31,31);
}
#P187_154
{
left:13908.7px;bottom:20906.9px;color:rgb(35,31,31);
}
#P187_155
{
left:19871.4px;bottom:20877.3px;color:rgb(35,31,31);
}
#P187_156
{
left:20457.9px;bottom:20906.9px;color:rgb(35,31,31);
}
#P187_157
{
left:21147.8px;bottom:20877.3px;color:rgb(35,31,31);
}
#P187_158
{
left:21734.2px;bottom:20906.9px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P187_159
{
left:0px;letter-spacing:-0.8px;margin-left:1.2px;
}
#P187_160
{
left:13076.7px;bottom:19351.7px;color:rgb(35,31,31);
}
#P187_161
{
left:15636.8px;bottom:19351.7px;color:rgb(35,31,31);
}
#P187_162
{
left:16076.1px;bottom:19351.7px;color:rgb(35,31,31);
}
#P187_163
{
left:16234.5px;bottom:19322.1px;color:rgb(35,31,31);
}
#P187_164
{
left:16821px;bottom:19351.7px;color:rgb(35,31,31);
}
#P187_165
{
left:16979.4px;bottom:19351.7px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P187_166
{
left:17000.3px;bottom:19791.3px;color:rgb(35,31,31);
}
#P187_167
{
left:17336.2px;bottom:19369.3px;color:rgb(35,31,31);
}
#P187_168
{
left:16979.2px;bottom:19335.6px;color:rgb(35,31,31);
}
#P187_169
{
left:17357.2px;bottom:19352.9px;color:rgb(35,31,31);
}
#P187_170
{
left:17000.3px;bottom:18883.8px;color:rgb(35,31,31);
}
#P187_171
{
left:17336.1px;bottom:19369.3px;color:rgb(35,31,31);
}
#P187_172
{
left:17357.2px;bottom:19351.7px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P187_173
{
left:17445.2px;bottom:19351.7px;color:rgb(235,26,35);
}
#P187_174
{
left:17832.9px;bottom:19351.7px;color:rgb(0,124,196);
}
#P187_175
{
left:18260.2px;bottom:19351.7px;color:rgb(35,31,31);
}
#P187_176
{
left:21332.7px;bottom:19359.7px;letter-spacing:0.4px;color:rgb(0,124,196);
}
#P187_177
{
left:13076.7px;bottom:17559.7px;letter-spacing:2849.6px;color:rgb(35,31,31);
}
#P187_178
{
left:16243.1px;bottom:17530.1px;color:rgb(35,31,31);
}
#P187_179
{
left:16829.5px;bottom:17559.7px;color:rgb(35,31,31);
}
#P187_180
{
left:16987.9px;bottom:17559.7px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P187_181
{
left:17009px;bottom:17999.3px;color:rgb(35,31,31);
}
#P187_182
{
left:17344.9px;bottom:17577.3px;color:rgb(35,31,31);
}
#P187_183
{
left:16987.9px;bottom:17543.6px;color:rgb(35,31,31);
}
#P187_184
{
left:17366px;bottom:17560.9px;color:rgb(35,31,31);
}
#P187_185
{
left:17009px;bottom:17091.8px;color:rgb(35,31,31);
}
#P187_186
{
left:17344.9px;bottom:17577.3px;color:rgb(35,31,31);
}
#P187_187
{
left:17366px;bottom:17559.7px;color:rgb(35,31,31);
}
#P187_188
{
left:17366px;bottom:17559.7px;color:rgb(35,31,31);
}
#P187_189
{
left:17605.5px;bottom:17559.7px;color:rgb(235,26,35);
}
#P187_190
{
left:17981.8px;bottom:17559.7px;letter-spacing:-6.1px;color:rgb(35,31,31);
}
#P187_191
{
left:18471.8px;bottom:17559.7px;color:rgb(0,124,196);
}
#P187_192
{
left:18854.3px;bottom:17559.7px;color:rgb(35,31,31);
}
#P187_193
{
left:21332.7px;bottom:17567.7px;letter-spacing:0.7px;word-spacing:-0.2px;color:rgb(0,124,196);
}
#P187_194
{
left:25424.9px;bottom:17727.6px;color:rgb(0,124,196);
}
#P187_195
{
left:25914.6px;bottom:17567.7px;letter-spacing:0.3px;word-spacing:-0.3px;color:rgb(0,124,196);
}
#P187_196
{
left:28393.6px;bottom:17727.6px;color:rgb(0,124,196);
}
#P187_197
{
left:28710.4px;bottom:17567.7px;color:rgb(0,124,196);
}
#P187_198
{
left:13076.7px;bottom:15767.7px;letter-spacing:2849.6px;color:rgb(35,31,31);
}
#P187_199
{
left:16243.1px;bottom:15738.1px;color:rgb(35,31,31);
}
#P187_200
{
left:16829.5px;bottom:15767.7px;letter-spacing:2.6px;color:rgb(35,31,31);
}
#P187_201
{
left:18551.4px;bottom:16111.4px;color:rgb(35,31,31);
}
#P187_202
{
left:18822.7px;bottom:15767.7px;color:rgb(35,31,31);
}
#P187_203
{
left:21332.7px;bottom:15775.7px;letter-spacing:-1.9px;color:rgb(0,124,196);
}
#P187_204
{
left:15260.7px;bottom:13719.7px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P187_205
{
left:0px;letter-spacing:0px;margin-left:-4.2px;
}
#P187_206
{
left:18065.5px;bottom:14159.3px;color:rgb(35,31,31);
}
#P187_207
{
left:19442.9px;bottom:14468.7px;
}
#P187_208
{
left:19687px;bottom:13737.3px;color:rgb(35,31,31);
}
#P187_209
{
left:18044.3px;bottom:13703.6px;color:rgb(35,31,31);
}
#P187_210
{
left:19708.1px;bottom:13720.9px;color:rgb(35,31,31);
}
#P187_211
{
left:18065.4px;bottom:13251.8px;color:rgb(35,31,31);
}
#P187_212
{
left:19442.9px;bottom:13561.2px;color:rgb(35,31,31);
}
#P187_213
{
left:19687px;bottom:13737.3px;color:rgb(35,31,31);
}
#P187_214
{
left:19708.1px;bottom:13719.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P187_215
{
left:19866.5px;bottom:13690.1px;color:rgb(35,31,31);
}
#P187_216
{
left:20453px;bottom:13719.7px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P187_217
{
left:0px;letter-spacing:0px;margin-left:-13.3px;
}
#P187_218
{
left:0px;letter-spacing:0px;margin-left:-13.9px;
}
#P187_219
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P187_220
{
left:13844.7px;bottom:10116.5px;color:rgb(35,31,31);
}
#P187_221
{
left:14308.2px;bottom:10143.3px;word-spacing:453.2px;color:rgb(35,31,31);
}
#P187_222
{
left:15508.7px;bottom:10116.5px;letter-spacing:-1.9px;color:rgb(35,31,31);
}
#P187_223
{
left:0px;letter-spacing:-0.5px;margin-left:1.9px;
}
#P187_224
{
left:13844.7px;bottom:8644.46px;color:rgb(35,31,31);
}
#P187_225
{
left:14308.2px;bottom:8671.28px;color:rgb(35,31,31);
}
#P187_226
{
left:15508.7px;bottom:8664.17px;color:rgb(2,77,161);
}
#P187_227
{
left:0px;letter-spacing:0px;margin-left:-183px;
}
#P187_228
{
left:0px;letter-spacing:0px;margin-left:-38.7px;
}
#P187_229
{
left:18377.5px;bottom:8644.46px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P187_230
{
left:0px;letter-spacing:-0.3px;margin-left:-206.1px;
}
#P187_231
{
left:15508.7px;bottom:7748.46px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P187_232
{
left:15508.7px;bottom:6852.52px;color:rgb(35,31,31);
}
#P187_233
{
left:0px;letter-spacing:0px;margin-left:-214.8px;
}
#P187_234
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P187_235
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P187_236
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P187_237
{
left:15508.7px;bottom:5956.52px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P187_238
{
left:15508.7px;bottom:5060.52px;letter-spacing:-3px;color:rgb(35,31,31);
}
#P187_239
{
left:0px;letter-spacing:0px;margin-left:-18px;
}
#P187_240
{
left:0px;letter-spacing:-1.1px;
}
#P187_241
{
left:15508.7px;bottom:4164.52px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P187_242
{
left:0px;letter-spacing:0px;margin-left:-13.2px;
}
#P187_243
{
left:8013.4px;bottom:9222.89px;color:rgb(35,31,31);
}
#P187_244
{
left:0px;letter-spacing:0px;margin-left:34.6px;
}
#P187_245
{
left:13963.5px;bottom:41242.5px;color:rgb(0,145,68);
}
#P187_246
{
left:19872.7px;bottom:38648.2px;color:rgb(0,145,68);
}
#P187_247
{
left:7692.89px;bottom:20039.5px;color:rgb(33,31,31);
}
#P187_248
{
left:8026.39px;bottom:22202.3px;color:white;
}
#P187_249
{
left:7332.83px;bottom:29667.8px;color:rgb(35,31,31);
}
#P187_250
{
left:8562.01px;bottom:28565.9px;color:white;
}
#P187_251
{
left:34328.3px;bottom:8857.26px;color:rgb(100,94,170);
}
#P187_252
{
left:28709.5px;bottom:6754.28px;color:rgb(100,94,170);
}
#PageContainer187
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg187.jpg");background-repeat:no-repeat;background-size: 879px 1200px; background-position: 130.24px 75.9300000000001px;
}
#ImageContainer187 {bottom:88.07px;left:130.24px;width:879.00px;height:1199.59px;position:absolute;} #TextContainer187 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

.example2{position: absolute;top: 83px;left: 164px;}
.example3{position: absolute;top: 422px;left: 164px;}
.nyr{position: absolute;top: 1060px;left: 190px;}
.nyr_exr{position: absolute;top: 1094px;left: 214px;color: rgb(30,31,31);font-size: 16px;}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}