.tr230{ color:transparent;}
#P230_1
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P230_2
{
left:3540.44px;bottom:1410.03px;color:rgb(35,31,31);
}
#P230_3
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P230_4
{
left:9122.35px;bottom:1410.03px;letter-spacing:0.2px;word-spacing:462.1px;color:rgb(35,31,31);
}
#P230_5
{
left:0px;letter-spacing:0px;margin-left:-462.3px;
}
#P230_6
{
left:0px;letter-spacing:2.3px;
}
#P230_7
{
left:0px;letter-spacing:0px;margin-left:-464.4px;
}
#P230_8
{
left:0px;letter-spacing:3px;
}
#P230_9
{
left:6945.5px;bottom:46119.2px;color:white;
}
#P230_10
{
left:3427.71px;bottom:46092.1px;color:white;
}
#P230_11
{
left:18900.5px;bottom:41182.6px;letter-spacing:213.2px;color:rgb(35,31,31);
}
#P230_12
{
left:0px;letter-spacing:0px;margin-left:-213.2px;
}
#P230_13
{
left:7789.4px;bottom:40094.5px;color:rgb(35,31,31);
}
#P230_14
{
left:9277.08px;bottom:36092.8px;letter-spacing:-21px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P230_15
{
left:0px;letter-spacing:0.3px;margin-left:14.1px;
}
#P230_16
{
left:0px;letter-spacing:-14.1px;margin-left:-42.4px;
}
#P230_17
{
left:0px;letter-spacing:-1.5px;margin-left:14px;
}
#P230_18
{
left:0px;letter-spacing:0.4px;margin-left:1.4px;
}
#P230_19
{
left:9277.08px;bottom:34812.8px;color:rgb(35,31,31);
}
#P230_20
{
left:10045.1px;bottom:34958.4px;color:rgb(35,31,31);
}
#P230_21
{
left:11069.1px;bottom:34812.8px;letter-spacing:521.7px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P230_22
{
left:0px;letter-spacing:0.5px;margin-left:-521.8px;
}
#P230_23
{
left:0px;letter-spacing:-2.4px;margin-left:-0.6px;
}
#P230_24
{
left:0px;letter-spacing:-3px;margin-left:2.3px;
}
#P230_25
{
left:9277.08px;bottom:33678.3px;letter-spacing:643.5px;color:rgb(35,31,31);
}
#P230_26
{
left: 11019.4px;bottom:33532.8px;letter-spacing:521.8px;color:rgb(35,31,31);
}
#P230_27
{
left:0px;letter-spacing:5.5px;margin-left:-556.9px;
}
#P230_28
{
left:0px;letter-spacing:-0.3px;margin-left:-5.5px;
}
#P230_29
{
left:0px;letter-spacing:-42px;margin-left:-27.7px;
}
#P230_30
{
left:0px;letter-spacing:-0.8px;margin-left:55.9px;
}
#P230_31
{
left:9277.08px;bottom:32252.8px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P230_32
{
left:24390.8px;bottom:26792.9px;color:rgb(35,31,31);
}
#P230_33
{
left:9277.08px;bottom:25212.8px;letter-spacing:-17.5px;color:rgb(35,31,31);
}
#P230_34
{
left:9277.08px;bottom:19708.8px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P230_35
{
left:12350.1px;bottom:13766.2px;color:rgb(26,18,26);
}
#P230_36
{
left:12354.5px;bottom:14543px;color:rgb(28,20,26);
}
#P230_37
{
left:12348.2px;bottom:15325.8px;color:rgb(28,21,26);
}
#P230_38
{
left:12882px;bottom:15325.8px;
}
#P230_39
{
left:12348.2px;bottom:16093.8px;color:rgb(29,21,26);
}
#P230_40
{
left:12076.8px;bottom:16861.8px;
}
#P230_41
{
left:0px;letter-spacing:0px;margin-left:-533.8px;
}
#P230_42
{
left:0px;letter-spacing:0px;
}
#P230_43
{
left:0px;letter-spacing:0px;margin-left:-266.9px;
}
#P230_44
{
left:12081.1px;bottom:17629.8px;color:rgb(31,24,29);
}
#P230_45
{
left:12881.8px;bottom:17629.8px;
}
#P230_46
{
left:12087.2px;bottom:18391.1px;color:rgb(31,26,29);
}
#P230_47
{
left:12087.2px;bottom:18391.1px;
}
#P230_48
{
left:12887.8px;bottom:18391.1px;color:rgb(31,26,29);
}
#P230_49
{
left:12884px;bottom:12965.7px;color:rgb(26,18,26);
}
#P230_50
{
left:14375.8px;bottom:12634px;color:rgb(26,18,26);
}
#P230_51
{
left:15176.5px;bottom:12634px;color:rgb(28,20,26);
}
#P230_52
{
left:16637.1px;bottom:12639.3px;color:rgb(28,20,26);
}
#P230_53
{
left:17437.8px;bottom:12639.3px;color:rgb(28,21,26);
}
#P230_54
{
left:18861px;bottom:12639.3px;
}
#P230_55
{
left:0px;letter-spacing:0px;margin-left:-800.6px;
}
#P230_56
{
left:19661.6px;bottom:12639.3px;color:rgb(29,21,26);
}
#P230_57
{
left:21122.3px;bottom:12639.3px;
}
#P230_58
{
left:0px;letter-spacing:0px;margin-left:-533.8px;
}
#P230_59
{
left:0px;letter-spacing:0px;
}
#P230_60
{
left:0px;letter-spacing:0px;margin-left:-266.9px;
}
#P230_61
{
left:23405.1px;bottom:12634px;
}
#P230_62
{
left:25655.8px;bottom:12634px;color:rgb(31,28,31);
}
#P230_63
{
left:26456.5px;bottom:12634px;color:rgb(33,28,31);
}
#P230_64
{
left:27927.7px;bottom:12634px;color:rgb(33,29,31);
}
#P230_65
{
left:28728.3px;bottom:12634px;color:rgb(31,26,29);
}
#P230_66
{
left:21074.5px;bottom:11759.3px;letter-spacing:-53px;color:rgb(29,21,26);
}
#P230_67
{
left:21074.5px;bottom:11759.3px;
}
#P230_68
{
left:21725.9px;bottom:11759.3px;color:rgb(29,21,26);
}
#P230_69
{
left:11661.1px;bottom:14530.9px;color:rgb(28,20,26);
}
#P230_70
{
left:11659.4px;bottom:15203.1px;color:rgb(28,21,26);
}
#P230_71
{
left:11656.3px;bottom:16387.4px;
}
#P230_72
{
left:0px;letter-spacing:0px;margin-left:-384.2px;
}
#P230_73
{
left:11655.4px;bottom:16771.6px;color:rgb(29,23,28);
}
#P230_74
{
left:15847.8px;bottom:19321.9px;
}
#P230_75
{
left:16168px;bottom:19321.9px;letter-spacing:-0.3px;color:rgb(4,0,11);
}
#P230_76
{
left:9277.08px;bottom:9596.78px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P230_77
{
left:11156.6px;bottom:8939.5px;color:rgb(35,31,31);
}
#P230_78
{
left:11156.6px;bottom:8248.3px;color:rgb(35,31,31);
}
#P230_79
{
left:28527.1px;bottom:8580.08px;color:rgb(35,31,31);
}
#P230_80
{
left:28527.1px;bottom:7888.88px;color:rgb(35,31,31);
}
#P230_81
{
left:10155.3px;bottom:37653px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P230_82
{
left:13580.4px;bottom:37844.8px;color:rgb(255,223,126);
}
#P230_83
{
left:14205.1px;bottom:37653px;word-spacing:207.4px;color:white;
}
#P230_84
{
left:15837.2px;bottom:37844.8px;color:white;
}
#P230_85
{
left:16077.4px;bottom:37653px;word-spacing:-31.9px;color:white;
}
#P230_86
{
left:17838.3px;bottom:37844.8px;color:white;
}
#P230_87
{
left:18078.5px;bottom:37653px;letter-spacing:-3.3px;word-spacing:-31.9px;color:white;
}
#P230_88
{
left:0px;letter-spacing:0px;margin-left:3.3px;
}
#P230_89
{
left:8414.87px;bottom:37529.5px;
}
#P230_90
{
left:8414.87px;bottom:37529.5px;color:white;
}
#P230_91
{
left:4301.34px;bottom:13360.5px;color:rgb(35,31,31);
}
#P230_92
{
left:4674.39px;bottom:13388.9px;letter-spacing:-10.2px;color:rgb(35,31,31);
}
#P230_93
{
left:6691.93px;bottom:13360.5px;color:rgb(35,31,31);
}
#P230_94
{
left:4301.34px;bottom:12656.5px;letter-spacing:-14.1px;color:rgb(35,31,31);
}
#P230_95
{
left:5012.31px;bottom:12684.9px;letter-spacing:-10.4px;color:rgb(35,31,31);
}
#P230_96
{
left:2365.37px;bottom:11756.9px;letter-spacing:5px;color:rgb(35,31,31);
}
#P230_97
{
left:2365.37px;bottom:10980.8px;letter-spacing:-3.3px;word-spacing:-0.7px;color:rgb(35,31,31);
}
#P230_98
{
left:0px;letter-spacing:-0.3px;margin-left:2.4px;
}
#P230_99
{
left:0px;letter-spacing:-3.1px;margin-left:-4.5px;
}
#P230_100
{
left:2365.37px;bottom:10487px;color:rgb(35,31,31);
}
#P230_101
{
left:2615.28px;bottom:10268.8px;color:rgb(35,31,31);
}
#P230_102
{
left:2960.24px;bottom:10292.8px;color:rgb(35,31,31);
}
#P230_103
{
left:2960.24px;bottom:10308.8px;letter-spacing:1.4px;color:rgb(35,31,31);
}
#P230_104
{
left:0px;letter-spacing:-1px;margin-left:-6.8px;
}
#P230_105
{
left:0px;letter-spacing:4.6px;margin-left:-0.4px;
}
#P230_106
{
left:2960.24px;bottom:9668.78px;letter-spacing:-3.1px;word-spacing:-0.3px;color:rgb(35,31,31);
}
#P230_107
{
left:0px;letter-spacing:-3.1px;margin-left:2.4px;
}
#P230_108
{
left:0px;letter-spacing:0.8px;margin-left:0.8px;
}
#P230_109
{
left:2365.37px;bottom:9175.02px;color:rgb(35,31,31);
}
#P230_110
{
left:2615.28px;bottom:8956.78px;letter-spacing:186.6px;color:rgb(35,31,31);
}
#P230_111
{
left:2960.24px;bottom:8996.78px;letter-spacing:-1.1px;word-spacing:-4.1px;color:rgb(35,31,31);
}
#P230_112
{
left:0px;letter-spacing:0px;margin-left:4.3px;
}
#P230_113
{
left:2365.37px;bottom:8503.02px;color:rgb(35,31,31);
}
#P230_114
{
left:2615.28px;bottom:8284.78px;letter-spacing:186.6px;color:rgb(35,31,31);
}
#P230_115
{
left:2960.24px;bottom:8324.78px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P230_116
{
left:0px;letter-spacing:-2.7px;margin-left:5.3px;
}
#P230_117
{
left:0px;letter-spacing:0.6px;margin-left:3.2px;
}
#P230_118
{
left:2365.38px;bottom:7556.78px;letter-spacing:4px;word-spacing:-5.3px;color:rgb(35,31,31);
}
#P230_119
{
left:0px;letter-spacing:5.3px;margin-left:8.7px;
}
#P230_120
{
left:2365.38px;bottom:6916.72px;letter-spacing:7.8px;color:rgb(35,31,31);
}
#P230_121
{
left:0px;letter-spacing:0px;margin-left:-54.1px;
}
#P230_122
{
left:0px;letter-spacing:0px;margin-left:16px;
}
#P230_123
{
left:2365.38px;bottom:6276.65px;letter-spacing:7.8px;color:rgb(35,31,31);
}
#P230_124
{
left:0px;letter-spacing:0px;margin-left:-54.1px;
}
#P230_125
{
left:0px;letter-spacing:2.8px;margin-left:13.1px;
}
#P230_126
{
left:2365.38px;bottom:5636.65px;letter-spacing:7.8px;color:rgb(35,31,31);
}
#P230_127
{
left:0px;letter-spacing:0px;margin-left:-54.1px;
}
#P230_128
{
left:0px;letter-spacing:5.1px;margin-left:13.1px;
}
#PageContainer230
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg230.jpg");background-repeat:no-repeat;background-size: 1066px 1233px; background-position: 1px -0.460000000000036px;
}
#ImageContainer230 {bottom:131.46px;right:0.00px;width:1066.24px;height:1232.70px;position:absolute;} #TextContainer230 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.rpj { position: absolute ; top: 214px; left: 162px;}
.srpj { position: absolute ; top: 214px; left: 112px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}