.tr299{ color:transparent;}
#P299_1
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P299_2
{
left:25284.4px;bottom:1410.03px;letter-spacing:2.4px;color:rgb(35,31,31);
}
#P299_3
{
left:29869.3px;bottom:1410.03px;letter-spacing:2.9px;word-spacing:463.6px;color:rgb(35,31,31);
}
#P299_4
{
left:0px;letter-spacing:-1.5px;margin-left:3.9px;
}
#P299_5
{
left:0px;letter-spacing:0px;margin-left:-462.1px;
}
#P299_6
{
left:0px;letter-spacing:0.6px;margin-left:-23px;
}
#P299_7
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P299_8
{
left:6909.4px;bottom:10898.9px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P299_9
{
left:0px;letter-spacing:-0.9px;margin-left:0.7px;
}
#P299_10
{
left:0px;letter-spacing:-2.3px;margin-left:0.9px;
}
#P299_11
{
left:28106.8px;bottom:10898.9px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P299_12
{
left:6909.4px;bottom:9746.92px;color:rgb(35,31,31);
}
#P299_13
{
left:7086.55px;bottom:9766.64px;color:rgb(35,31,31);
}
#P299_14
{
left:8509.4px;bottom:9746.92px;color:rgb(35,31,31);
}
#P299_15
{
left:8948.7px;bottom:9746.92px;color:rgb(35,31,31);
}
#P299_16
{
left:10877.6px;bottom:9746.92px;color:rgb(35,31,31);
}
#P299_17
{
left:11322.5px;bottom:9746.92px;color:rgb(35,31,31);
}
#P299_18
{
left:13251.5px;bottom:9746.92px;color:rgb(35,31,31);
}
#P299_19
{
left:13716.8px;bottom:9746.92px;color:rgb(35,31,31);
}
#P299_20
{
left:21870.6px;bottom:9766.64px;color:rgb(35,31,31);
}
#P299_21
{
left:23293.4px;bottom:9746.92px;color:rgb(35,31,31);
}
#P299_22
{
left:23830.6px;bottom:9746.92px;color:rgb(35,31,31);
}
#P299_23
{
left:25759.4px;bottom:9746.92px;color:rgb(35,31,31);
}
#P299_24
{
left:26179px;bottom:9746.92px;color:rgb(35,31,31);
}
#P299_25
{
left:28108px;bottom:9746.92px;color:rgb(35,31,31);
}
#P299_26
{
left:28510px;bottom:9746.92px;color:rgb(35,31,31);
}
#P299_27
{
left:6909.4px;bottom:8402.92px;color:rgb(35,31,31);
}
#P299_28
{
left:7086.55px;bottom:8422.64px;color:rgb(35,31,31);
}
#P299_29
{
left:8509.4px;bottom:8402.92px;color:rgb(35,31,31);
}
#P299_30
{
left:8941.66px;bottom:8402.92px;color:rgb(35,31,31);
}
#P299_31
{
left:10870.6px;bottom:8402.92px;color:rgb(35,31,31);
}
#P299_32
{
left:11400.7px;bottom:8402.92px;color:rgb(35,31,31);
}
#P299_33
{
left:13329.6px;bottom:8402.92px;color:rgb(35,31,31);
}
#P299_34
{
left:13780.2px;bottom:8402.92px;color:rgb(35,31,31);
}
#P299_35
{
left:15709.1px;bottom:8402.92px;color:rgb(35,31,31);
}
#P299_36
{
left:16084.3px;bottom:8402.92px;color:rgb(35,31,31);
}
#P299_37
{
left:21870.6px;bottom:8422.64px;color:rgb(35,31,31);
}
#P299_38
{
left:23293.4px;bottom:8402.92px;color:rgb(35,31,31);
}
#P299_39
{
left:23959.4px;bottom:8402.92px;color:rgb(35,31,31);
}
#P299_40
{
left:25888.3px;bottom:8402.92px;color:rgb(35,31,31);
}
#P299_41
{
left:26333.2px;bottom:8402.92px;color:rgb(35,31,31);
}
#P299_42
{
left:28262.2px;bottom:8402.92px;color:rgb(35,31,31);
}
#P299_43
{
left:28678.2px;bottom:8402.92px;color:rgb(35,31,31);
}
#P299_44
{
left:30607.1px;bottom:8402.92px;color:rgb(35,31,31);
}
#P299_45
{
left:31045px;bottom:8402.92px;color:rgb(35,31,31);
}
#P299_46
{
left:6909.4px;bottom:6674.92px;color:rgb(35,31,31);
}
#P299_47
{
left:7086.55px;bottom:6694.64px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P299_48
{
left:8573.4px;bottom:6694.64px;letter-spacing:-17.6px;color:rgb(2,77,161);
}
#P299_49
{
left:0px;letter-spacing:0px;margin-left:17.6px;
}
#P299_50
{
left:14049px;bottom:6674.92px;letter-spacing:151.5px;color:rgb(35,31,31);
}
#P299_51
{
left:0px;letter-spacing:-0.9px;margin-left:-151.5px;
}
#P299_52
{
left:0px;letter-spacing:-3.5px;margin-left:-13px;
}
#P299_53
{
left:0px;letter-spacing:-5.6px;margin-left:3.5px;
}
#P299_54
{
left:0px;letter-spacing:-0.2px;margin-left:5.6px;
}
#P299_55
{
left:8573.4px;bottom:5778.92px;color:rgb(35,31,31);
}
#P299_56
{
left:13742.1px;bottom:5778.92px;color:rgb(35,31,31);
}
#P299_57
{
left:14175.7px;bottom:5778.92px;color:rgb(35,31,31);
}
#P299_58
{
left:15476px;bottom:5778.92px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P299_59
{
left:6909.4px;bottom:4434.92px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P299_60
{
left:8486.49px;bottom:4478.37px;color:rgb(35,31,31);
}
#P299_61
{
left:8823.32px;bottom:4599.43px;color:rgb(35,31,31);
}
#P299_62
{
left:9469.4px;bottom:4434.92px;color:rgb(35,31,31);
}
#P299_63
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P299_64
{
left:11015.3px;bottom:4405.36px;color:rgb(35,31,31);
}
#P299_65
{
left:11601.8px;bottom:4434.92px;color:rgb(35,31,31);
}
#P299_66
{
left:12379.6px;bottom:4434.92px;color:rgb(35,31,31);
}
#P299_67
{
left:12742.9px;bottom:4434.92px;color:rgb(35,31,31);
}
#P299_68
{
left:15782.5px;bottom:4478.37px;color:rgb(35,31,31);
}
#P299_69
{
left:16119.3px;bottom:4599.43px;color:rgb(35,31,31);
}
#P299_70
{
left:16765.4px;bottom:4434.92px;color:rgb(35,31,31);
}
#P299_71
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P299_72
{
left:18064.9px;bottom:4405.36px;color:rgb(35,31,31);
}
#P299_73
{
left:18651.4px;bottom:4434.92px;color:rgb(35,31,31);
}
#P299_74
{
left:19182.9px;bottom:4434.92px;color:rgb(35,31,31);
}
#P299_75
{
left:19546.1px;bottom:4434.92px;color:rgb(35,31,31);
}
#P299_76
{
left:23270.5px;bottom:4478.37px;color:rgb(35,31,31);
}
#P299_77
{
left:23607.3px;bottom:4599.43px;color:rgb(35,31,31);
}
#P299_78
{
left:24253.4px;bottom:4434.92px;color:rgb(35,31,31);
}
#P299_79
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P299_80
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P299_81
{
left:25364.4px;bottom:4874.6px;color:rgb(35,31,31);
}
#P299_82
{
left:25700.2px;bottom:4452.52px;color:rgb(35,31,31);
}
#P299_83
{
left:25179.8px;bottom:4418.91px;color:rgb(35,31,31);
}
#P299_84
{
left:25884.8px;bottom:4436.19px;color:rgb(35,31,31);
}
#P299_85
{
left:25200.9px;bottom:3967.08px;color:rgb(35,31,31);
}
#P299_86
{
left:25536.7px;bottom:3967.08px;color:rgb(35,31,31);
}
#P299_87
{
left:25863.6px;bottom:4452.52px;color:rgb(35,31,31);
}
#P299_88
{
left:25884.8px;bottom:4434.92px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P299_89
{
left:30630.5px;bottom:4478.37px;color:rgb(35,31,31);
}
#P299_90
{
left:30967.3px;bottom:4599.43px;color:rgb(35,31,31);
}
#P299_91
{
left:31613.4px;bottom:4434.92px;color:rgb(35,31,31);
}
#P299_92
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P299_93
{
left:32754.5px;bottom:4434.92px;color:rgb(35,31,31);
}
#P299_94
{
left:33117.8px;bottom:4434.92px;color:rgb(35,31,31);
}
#P299_95
{
left:33276.2px;bottom:4405.36px;color:rgb(35,31,31);
}
#P299_96
{
left:33862.6px;bottom:4434.92px;color:rgb(35,31,31);
}
#P299_97
{
left:6973.4px;bottom:46716.8px;letter-spacing:-2.1px;color:rgb(35,31,31);
}
#P299_98
{
left:0px;letter-spacing:-0.2px;margin-left:-8.4px;
}
#P299_99
{
left:0px;letter-spacing:1.7px;margin-left:-13.8px;
}
#P299_100
{
left:7150.55px;bottom:45392.5px;color:rgb(35,31,31);
}
#P299_101
{
left:8573.4px;bottom:45372.8px;color:rgb(35,31,31);
}
#P299_102
{
left:10326.4px;bottom:45337.6px;color:rgb(35,31,31);
}
#P299_103
{
left:10502.7px;bottom:45274.8px;color:rgb(35,31,31);
}
#P299_104
{
left:10664.6px;bottom:45343.2px;color:rgb(35,31,31);
}
#P299_105
{
left:11251px;bottom:45372.8px;color:rgb(35,31,31);
}
#P299_106
{
left:11786.1px;bottom:45337.6px;color:rgb(35,31,31);
}
#P299_107
{
left:11962.4px;bottom:45372.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P299_108
{
left:0px;letter-spacing:0px;margin-left:158.4px;
}
#P299_109
{
left:12465.8px;bottom:45337.6px;color:rgb(35,31,31);
}
#P299_110
{
left:12642.1px;bottom:45274.8px;color:rgb(35,31,31);
}
#P299_111
{
left:12804px;bottom:45372.8px;color:rgb(35,31,31);
}
#P299_112
{
left:13339px;bottom:45337.6px;color:rgb(35,31,31);
}
#P299_113
{
left:13515.4px;bottom:45372.8px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P299_114
{
left:14018.8px;bottom:45343.2px;color:rgb(35,31,31);
}
#P299_115
{
left:14605.1px;bottom:45372.8px;color:rgb(35,31,31);
}
#P299_116
{
left:21934.6px;bottom:45392.5px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P299_117
{
left:23357.4px;bottom:45337.6px;color:rgb(35,31,31);
}
#P299_118
{
left:23533.7px;bottom:45274.8px;color:rgb(35,31,31);
}
#P299_119
{
left:23695.6px;bottom:45343.2px;color:rgb(35,31,31);
}
#P299_120
{
left:24282.1px;bottom:45372.8px;color:rgb(35,31,31);
}
#P299_121
{
left:24817.1px;bottom:45337.6px;color:rgb(35,31,31);
}
#P299_122
{
left:24993.5px;bottom:45372.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P299_123
{
left:0px;letter-spacing:0px;margin-left:158.4px;
}
#P299_124
{
left:25496.8px;bottom:45337.6px;color:rgb(35,31,31);
}
#P299_125
{
left:25673.2px;bottom:45274.8px;color:rgb(35,31,31);
}
#P299_126
{
left:25835.1px;bottom:45372.8px;color:rgb(35,31,31);
}
#P299_127
{
left:26370.1px;bottom:45337.6px;color:rgb(35,31,31);
}
#P299_128
{
left:26546.5px;bottom:45372.8px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P299_129
{
left:27049.8px;bottom:45343.2px;color:rgb(35,31,31);
}
#P299_130
{
left:27636.2px;bottom:45372.8px;color:rgb(35,31,31);
}
#P299_131
{
left:28512.7px;bottom:45343.2px;color:rgb(35,31,31);
}
#P299_132
{
left:29099.2px;bottom:45372.8px;color:rgb(35,31,31);
}
#P299_133
{
left:30134px;bottom:45337.6px;color:rgb(35,31,31);
}
#P299_134
{
left:30310.4px;bottom:45274.8px;color:rgb(35,31,31);
}
#P299_135
{
left:30472.3px;bottom:45343.2px;color:rgb(35,31,31);
}
#P299_136
{
left:31058.7px;bottom:45372.8px;color:rgb(35,31,31);
}
#P299_137
{
left:31593.8px;bottom:45337.6px;color:rgb(35,31,31);
}
#P299_138
{
left:31770.1px;bottom:45372.8px;color:rgb(35,31,31);
}
#P299_139
{
left:7150.55px;bottom:43920.5px;color:rgb(35,31,31);
}
#P299_140
{
left:8573.4px;bottom:43900.8px;color:rgb(35,31,31);
}
#P299_141
{
left:9823px;bottom:43865.6px;color:rgb(35,31,31);
}
#P299_142
{
left:9999.32px;bottom:43802.8px;color:rgb(35,31,31);
}
#P299_143
{
left:10161.2px;bottom:43871.2px;color:rgb(35,31,31);
}
#P299_144
{
left:10747.7px;bottom:43900.8px;color:rgb(35,31,31);
}
#P299_145
{
left:11282.7px;bottom:43865.6px;color:rgb(35,31,31);
}
#P299_146
{
left:11459px;bottom:43900.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P299_147
{
left:0px;letter-spacing:0px;margin-left:158.4px;
}
#P299_148
{
left:12838.9px;bottom:43865.6px;color:rgb(35,31,31);
}
#P299_149
{
left:13015.2px;bottom:43802.8px;color:rgb(35,31,31);
}
#P299_150
{
left:13177.1px;bottom:43900.8px;color:rgb(35,31,31);
}
#P299_151
{
left:13712.2px;bottom:43865.6px;color:rgb(35,31,31);
}
#P299_152
{
left:13888.5px;bottom:43900.8px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P299_153
{
left:14391.8px;bottom:43871.2px;color:rgb(35,31,31);
}
#P299_154
{
left:14978.3px;bottom:43900.8px;color:rgb(35,31,31);
}
#P299_155
{
left:21934.6px;bottom:43920.5px;color:rgb(35,31,31);
}
#P299_156
{
left:23357.4px;bottom:43871.2px;color:rgb(35,31,31);
}
#P299_157
{
left:23943.8px;bottom:43900.8px;color:rgb(35,31,31);
}
#P299_158
{
left:25193.4px;bottom:43865.6px;color:rgb(35,31,31);
}
#P299_159
{
left:25369.8px;bottom:43802.8px;color:rgb(35,31,31);
}
#P299_160
{
left:25531.7px;bottom:43900.8px;color:rgb(35,31,31);
}
#P299_161
{
left:26439.8px;bottom:43865.6px;color:rgb(35,31,31);
}
#P299_162
{
left:26616.2px;bottom:43900.8px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P299_163
{
left:27119.5px;bottom:43871.2px;color:rgb(35,31,31);
}
#P299_164
{
left:27705.9px;bottom:43900.8px;color:rgb(35,31,31);
}
#P299_165
{
left:29113.9px;bottom:43865.6px;color:rgb(35,31,31);
}
#P299_166
{
left:29290.3px;bottom:43802.8px;color:rgb(35,31,31);
}
#P299_167
{
left:29452.2px;bottom:43871.2px;color:rgb(35,31,31);
}
#P299_168
{
left:30038.6px;bottom:43900.8px;color:rgb(35,31,31);
}
#P299_169
{
left:30946.8px;bottom:43865.6px;color:rgb(35,31,31);
}
#P299_170
{
left:31123.1px;bottom:43900.8px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P299_171
{
left:31626.5px;bottom:43871.2px;color:rgb(35,31,31);
}
#P299_172
{
left:32212.9px;bottom:43900.8px;color:rgb(35,31,31);
}
#P299_173
{
left:33620.9px;bottom:43865.6px;color:rgb(35,31,31);
}
#P299_174
{
left:33797.2px;bottom:43802.8px;color:rgb(35,31,31);
}
#P299_175
{
left:33959.1px;bottom:43871.2px;color:rgb(35,31,31);
}
#P299_176
{
left:34545.6px;bottom:43900.8px;color:rgb(35,31,31);
}
#P299_177
{
left:35453.7px;bottom:43865.6px;color:rgb(35,31,31);
}
#P299_178
{
left:35630px;bottom:43900.8px;color:rgb(35,31,31);
}
#P299_179
{
left:6973.47px;bottom:42364.8px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P299_180
{
left:0px;letter-spacing:0px;margin-left:1.3px;
}
#P299_181
{
left:7150.49px;bottom:41104.5px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P299_182
{
left:8573.4px;bottom:41049.6px;color:rgb(35,31,31);
}
#P299_183
{
left:8749.72px;bottom:40986.8px;color:rgb(35,31,31);
}
#P299_184
{
left:8911.64px;bottom:41084.8px;color:rgb(35,31,31);
}
#P299_185
{
left:9446.68px;bottom:41049.6px;color:rgb(35,31,31);
}
#P299_186
{
left:9623.07px;bottom:41084.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P299_187
{
left:17454.6px;bottom:41104.5px;color:rgb(35,31,31);
}
#P299_188
{
left:18877.4px;bottom:41055.2px;color:rgb(35,31,31);
}
#P299_189
{
left:19463.8px;bottom:41084.8px;color:rgb(35,31,31);
}
#P299_190
{
left:19463.8px;bottom:41049.6px;color:rgb(35,31,31);
}
#P299_191
{
left:19640.2px;bottom:40986.8px;color:rgb(35,31,31);
}
#P299_192
{
left:19802.1px;bottom:41084.8px;color:rgb(35,31,31);
}
#P299_193
{
left:20337.1px;bottom:41049.6px;color:rgb(35,31,31);
}
#P299_194
{
left:20513.5px;bottom:41084.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P299_195
{
left:27758.6px;bottom:41104.5px;color:rgb(35,31,31);
}
#P299_196
{
left:29053.5px;bottom:41055.2px;color:rgb(35,31,31);
}
#P299_197
{
left:29640px;bottom:41084.8px;color:rgb(35,31,31);
}
#P299_198
{
left:29639.8px;bottom:41049.6px;color:rgb(35,31,31);
}
#P299_199
{
left:29816.2px;bottom:40986.8px;color:rgb(35,31,31);
}
#P299_200
{
left:29978.1px;bottom:41055.2px;color:rgb(35,31,31);
}
#P299_201
{
left:30564.5px;bottom:41084.8px;color:rgb(35,31,31);
}
#P299_202
{
left:31099.5px;bottom:41049.6px;color:rgb(35,31,31);
}
#P299_203
{
left:31275.9px;bottom:41084.8px;color:rgb(35,31,31);
}
#P299_204
{
left:18478.6px;bottom:39440.5px;word-spacing:568.6px;color:rgb(35,31,31);
}
#P299_205
{
left:20221.4px;bottom:39440.5px;color:rgb(2,77,161);
}
#P299_206
{
left:25254.9px;bottom:39420.8px;letter-spacing:168.3px;color:rgb(35,31,31);
}
#P299_207
{
left:0px;letter-spacing:-0.7px;margin-left:-168.3px;
}
#P299_208
{
left:0px;letter-spacing:0px;margin-left:0.7px;
}
#P299_209
{
left:20221.4px;bottom:38524.8px;color:rgb(35,31,31);
}
#P299_210
{
left:22943px;bottom:38524.8px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P299_211
{
left:27052.4px;bottom:38524.8px;letter-spacing:-2.1px;color:rgb(35,31,31);
}
#P299_212
{
left:0px;letter-spacing:-3.5px;margin-left:-11.8px;
}
#P299_213
{
left:0px;letter-spacing:-2.5px;margin-left:3.5px;
}
#P299_214
{
left:0px;letter-spacing:0px;margin-left:2.5px;
}
#P299_215
{
left:20221.4px;bottom:37628.9px;letter-spacing:-1.1px;color:rgb(35,31,31);
}
#P299_216
{
left:0px;letter-spacing:-1.5px;margin-left:-5.9px;
}
#P299_217
{
left:0px;letter-spacing:-14px;margin-left:1.5px;
}
#P299_218
{
left:20309.3px;bottom:36284.8px;letter-spacing:-14px;word-spacing:492.2px;color:rgb(35,31,31);
}
#P299_219
{
left:21501.4px;bottom:36284.8px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P299_220
{
left:0px;letter-spacing:0px;margin-left:1.3px;
}
#P299_221
{
left:21501.4px;bottom:35388.9px;color:rgb(35,31,31);
}
#P299_222
{
left:22247.6px;bottom:35359.3px;color:rgb(35,31,31);
}
#P299_223
{
left:22482.1px;bottom:35388.9px;color:rgb(35,31,31);
}
#P299_224
{
left:23887.2px;bottom:35359.3px;color:rgb(35,31,31);
}
#P299_225
{
left:24318.7px;bottom:35388.9px;color:rgb(35,31,31);
}
#P299_226
{
left:25223.4px;bottom:35359.3px;color:rgb(35,31,31);
}
#P299_227
{
left:25457.8px;bottom:35388.9px;letter-spacing:70.4px;color:rgb(35,31,31);
}
#P299_228
{
left:6973.4px;bottom:34300.8px;color:rgb(35,31,31);
}
#P299_229
{
left:20273.2px;bottom:34300.8px;letter-spacing:-13.9px;word-spacing:499.1px;color:rgb(35,31,31);
}
#P299_230
{
left:21501.3px;bottom:34300.8px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P299_231
{
left:0px;letter-spacing:0px;margin-left:0.7px;
}
#P299_232
{
left:21501.3px;bottom:33405px;letter-spacing:-0.6px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P299_233
{
left:18429.5px;bottom:32060.9px;letter-spacing:-28.1px;color:rgb(35,31,31);
}
#P299_234
{
left:0px;letter-spacing:0px;margin-left:28.1px;
}
#P299_235
{
left:28018.6px;bottom:32066.5px;color:rgb(35,31,31);
}
#P299_236
{
left:30285.3px;bottom:32060.9px;letter-spacing:-28px;color:rgb(35,31,31);
}
#P299_237
{
left:30602.5px;bottom:32066.5px;color:rgb(35,31,31);
}
#P299_238
{
left:34033.7px;bottom:32060.9px;letter-spacing:-28px;color:rgb(35,31,31);
}
#P299_239
{
left:18429.5px;bottom:31165px;color:rgb(35,31,31);
}
#P299_240
{
left:19298.9px;bottom:31170.6px;letter-spacing:-2.8px;color:rgb(35,31,31);
}
#P299_241
{
left:21079.5px;bottom:31165px;letter-spacing:-3.8px;color:rgb(35,31,31);
}
#P299_242
{
left:0px;letter-spacing:0px;margin-left:3.8px;
}
#P299_243
{
left:6973.47px;bottom:30012.8px;color:rgb(35,31,31);
}
#P299_244
{
left:18606.6px;bottom:30032.6px;word-spacing:440.6px;color:rgb(35,31,31);
}
#P299_245
{
left:20221.5px;bottom:30012.8px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P299_246
{
left:0px;letter-spacing:0px;margin-left:0.5px;
}
#P299_247
{
left:20221.5px;bottom:29117px;color:rgb(35,31,31);
}
#P299_248
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P299_249
{
left:6973.47px;bottom:27773px;color:rgb(35,31,31);
}
#P299_250
{
left:18606.6px;bottom:27792.7px;word-spacing:440.6px;color:rgb(35,31,31);
}
#P299_251
{
left:20221.5px;bottom:27773px;letter-spacing:-0.2px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P299_252
{
left:20221.5px;bottom:26877px;letter-spacing:-1.6px;word-spacing:0.4px;color:rgb(35,31,31);
}
#P299_253
{
left:6973.47px;bottom:25533px;color:rgb(35,31,31);
}
#P299_254
{
left:18606.6px;bottom:25552.7px;word-spacing:440.6px;color:rgb(35,31,31);
}
#P299_255
{
left:20221.5px;bottom:25533px;letter-spacing:-0.2px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P299_256
{
left:20221.5px;bottom:24637px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P299_257
{
left:6973.47px;bottom:23293px;color:rgb(35,31,31);
}
#P299_258
{
left:7150.62px;bottom:23312.7px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P299_259
{
left:8637.4px;bottom:23312.5px;letter-spacing:-12.9px;color:rgb(2,77,161);
}
#P299_260
{
left:0px;letter-spacing:0px;margin-left:12.9px;
}
#P299_261
{
left:13149.3px;bottom:23292.8px;word-spacing:193.6px;color:rgb(35,31,31);
}
#P299_262
{
left:13754.8px;bottom:23292.8px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P299_263
{
left:17469.8px;bottom:23292.8px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P299_264
{
left:0px;letter-spacing:0px;margin-left:-13.5px;
}
#P299_265
{
left:8637.4px;bottom:22396.8px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P299_266
{
left:0px;letter-spacing:0px;margin-left:-13.9px;
}
#P299_267
{
left:6973.4px;bottom:21052.8px;color:rgb(35,31,31);
}
#P299_268
{
left:8725.34px;bottom:21052.8px;letter-spacing:-14px;word-spacing:492.2px;color:rgb(35,31,31);
}
#P299_269
{
left:9917.4px;bottom:21052.8px;letter-spacing:-1.2px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P299_270
{
left:0px;letter-spacing:-0.1px;margin-left:1.1px;
}
#P299_271
{
left:27643.5px;bottom:21052.8px;color:rgb(35,31,31);
}
#P299_272
{
left:28082.8px;bottom:21052.8px;color:rgb(35,31,31);
}
#P299_273
{
left:28241.2px;bottom:21023.2px;color:rgb(35,31,31);
}
#P299_274
{
left:28827.6px;bottom:21052.8px;color:rgb(35,31,31);
}
#P299_275
{
left:28986px;bottom:21023.2px;color:rgb(35,31,31);
}
#P299_276
{
left:29417.5px;bottom:21052.8px;color:rgb(35,31,31);
}
#P299_277
{
left:9917.4px;bottom:20156.9px;color:rgb(35,31,31);
}
#P299_278
{
left:10382.7px;bottom:20156.9px;color:rgb(35,31,31);
}
#P299_279
{
left:10541.1px;bottom:20127.3px;color:rgb(35,31,31);
}
#P299_280
{
left:11127.6px;bottom:20156.9px;color:rgb(35,31,31);
}
#P299_281
{
left:11286px;bottom:20127.3px;color:rgb(35,31,31);
}
#P299_282
{
left:11717.5px;bottom:20156.9px;color:rgb(35,31,31);
}
#P299_283
{
left:12593.9px;bottom:20156.9px;color:rgb(35,31,31);
}
#P299_284
{
left:13013.5px;bottom:20156.9px;color:rgb(35,31,31);
}
#P299_285
{
left:13171.9px;bottom:20127.3px;color:rgb(35,31,31);
}
#P299_286
{
left:13758.4px;bottom:20156.9px;color:rgb(35,31,31);
}
#P299_287
{
left:14634.8px;bottom:20156.9px;color:rgb(35,31,31);
}
#P299_288
{
left:15085.4px;bottom:20156.9px;color:rgb(35,31,31);
}
#P299_289
{
left:15243.8px;bottom:20127.3px;color:rgb(35,31,31);
}
#P299_290
{
left:15830.2px;bottom:20156.9px;color:rgb(35,31,31);
}
#P299_291
{
left:15988.6px;bottom:20127.3px;color:rgb(35,31,31);
}
#P299_292
{
left:16420.1px;bottom:20156.9px;letter-spacing:-6.3px;color:rgb(35,31,31);
}
#P299_293
{
left:0px;letter-spacing:-0.3px;margin-left:6.3px;
}
#P299_294
{
left:9917.4px;bottom:19260.9px;color:rgb(35,31,31);
}
#P299_295
{
left:16437px;bottom:19260.9px;color:rgb(35,31,31);
}
#P299_296
{
left:18066.7px;bottom:19260.9px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P299_297
{
left:6973.4px;bottom:18172.8px;color:rgb(35,31,31);
}
#P299_298
{
left:8689.37px;bottom:18172.8px;letter-spacing:-17.5px;color:rgb(35,31,31);
}
#P299_299
{
left:9917.47px;bottom:18172.8px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P299_300
{
left:0px;letter-spacing:-0.2px;margin-left:-12.1px;
}
#P299_301
{
left:6973.53px;bottom:17084.8px;color:rgb(35,31,31);
}
#P299_302
{
left:8760.6px;bottom:17084.8px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P299_303
{
left:9917.47px;bottom:17084.8px;letter-spacing:-2.4px;color:rgb(35,31,31);
}
#P299_304
{
left:0px;letter-spacing:-1.5px;margin-left:2.4px;
}
#P299_305
{
left:6973.53px;bottom:15484.8px;color:rgb(35,31,31);
}
#P299_306
{
left:7150.62px;bottom:15504.6px;color:rgb(35,31,31);
}
#P299_307
{
left:12371.5px;bottom:15484.8px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P299_308
{
left:0px;letter-spacing:-0.3px;margin-left:-200.5px;
}
#P299_309
{
left:17303.1px;bottom:15484.8px;color:rgb(35,31,31);
}
#P299_310
{
left:17666.4px;bottom:15484.8px;color:rgb(35,31,31);
}
#P299_311
{
left:19208.2px;bottom:15484.8px;color:rgb(35,31,31);
}
#P299_312
{
left:19537.6px;bottom:15484.8px;color:rgb(35,31,31);
}
#P299_313
{
left:22005.8px;bottom:15449.6px;color:rgb(35,31,31);
}
#P299_314
{
left:22182.1px;bottom:15386.8px;color:rgb(35,31,31);
}
#P299_315
{
left:22344px;bottom:15484.8px;color:rgb(35,31,31);
}
#P299_316
{
left:22869.2px;bottom:15449.6px;color:rgb(35,31,31);
}
#P299_317
{
left:23291.9px;bottom:15548.8px;color:rgb(35,31,31);
}
#P299_318
{
left:23939.6px;bottom:15449.6px;color:rgb(35,31,31);
}
#P299_319
{
left:24116px;bottom:15386.8px;color:rgb(35,31,31);
}
#P299_320
{
left:24277.8px;bottom:15484.8px;color:rgb(35,31,31);
}
#P299_321
{
left:24769.2px;bottom:15449.6px;color:rgb(35,31,31);
}
#P299_322
{
left:25104px;bottom:15484.8px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P299_323
{
left:26487.3px;bottom:15484.8px;color:rgb(35,31,31);
}
#P299_324
{
left:26850.6px;bottom:15484.8px;color:rgb(35,31,31);
}
#P299_325
{
left:27097px;bottom:15548.8px;color:rgb(35,31,31);
}
#P299_326
{
left:27498.3px;bottom:15484.8px;letter-spacing:-70.4px;color:rgb(35,31,31);
}
#P299_327
{
left:27744.7px;bottom:15484.8px;color:rgb(35,31,31);
}
#P299_328
{
left:28074.1px;bottom:15484.8px;color:rgb(35,31,31);
}
#P299_329
{
left:6752.6px;bottom:25943.4px;letter-spacing:-0.1px;color:rgb(102,43,144);
}
#PageContainer299
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg299.jpg");background-repeat:no-repeat;background-size: 740px 988px; background-position: 121.75px 284.73px;
}
#ImageContainer299 {bottom:91.27px;left:121.75px;width:739.58px;height:987.72px;position:absolute;} #TextContainer299 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}