.tr345{ color:transparent;}
#P345_1
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P345_2
{
left:19433.7px;bottom:1410.03px;color:rgb(35,31,31);
}
#P345_3
{
left:21638.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P345_4
{
left:21816.3px;bottom:1410.03px;letter-spacing:-49.5px;color:rgb(35,31,31);
}
#P345_5
{
left:0px;letter-spacing:0px;margin-left:64.8px;
}
#P345_6
{
left:23951.6px;bottom:1410.03px;letter-spacing:462.1px;word-spacing:-0.1px;color:rgb(35,31,31);
}
#P345_7
{
left:0px;letter-spacing:-0.9px;margin-left:-467.2px;
}
#P345_8
{
left:0px;letter-spacing:1.3px;margin-left:-3.5px;
}
#P345_9
{
left:0px;letter-spacing:-1.6px;margin-left:-40.1px;
}
#P345_10
{
left:0px;letter-spacing:-7.3px;margin-left:172.2px;
}
#P345_11
{
left:0px;letter-spacing:0.9px;margin-left:7.4px;
}
#P345_12
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P345_13
{
left:6411.42px;bottom:33636.6px;color:rgb(33,31,31);
}
#P345_14
{
left:6497.82px;bottom:33668px;color:rgb(33,31,31);
}
#P345_15
{
left:6489.82px;bottom:33457.4px;color:rgb(33,31,31);
}
#P345_16
{
left:6576.22px;bottom:33488.8px;color:rgb(33,31,31);
}
#P345_17
{
left:6585.05px;bottom:33278.2px;color:rgb(33,31,31);
}
#P345_18
{
left:6671.46px;bottom:33309.6px;color:rgb(33,31,31);
}
#P345_19
{
left:6750.24px;bottom:33029px;color:rgb(33,31,31);
}
#P345_20
{
left:6836.64px;bottom:33060.4px;color:rgb(33,31,31);
}
#P345_21
{
left:7016.03px;bottom:42321.3px;color:rgb(35,31,31);
}
#P345_22
{
left:7584.6px;bottom:42341px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P345_23
{
left:8680.03px;bottom:42341px;letter-spacing:-2.8px;color:rgb(2,77,161);
}
#P345_24
{
left:12904.2px;bottom:42321.3px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P345_25
{
left:0px;letter-spacing:-7px;margin-left:-214.6px;
}
#P345_26
{
left:0px;letter-spacing:-0.7px;margin-left:7px;
}
#P345_27
{
left:0px;letter-spacing:-0.4px;margin-left:0.7px;
}
#P345_28
{
left:0px;letter-spacing:0px;margin-left:0.4px;
}
#P345_29
{
left:7016.03px;bottom:40977.3px;color:rgb(35,31,31);
}
#P345_30
{
left:7584.6px;bottom:40997px;color:rgb(35,31,31);
}
#P345_31
{
left:8680.03px;bottom:40997px;color:rgb(2,77,161);
}
#P345_32
{
left:12005px;bottom:40977.3px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P345_33
{
left:0px;letter-spacing:-2.3px;margin-left:-197.8px;
}
#P345_34
{
left:0px;letter-spacing:-0.2px;margin-left:2.3px;
}
#P345_35
{
left:0px;letter-spacing:0px;margin-left:-13.7px;
}
#P345_36
{
left:7016.03px;bottom:39633.3px;color:rgb(35,31,31);
}
#P345_37
{
left:7584.6px;bottom:39653px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P345_38
{
left:8680.03px;bottom:39653px;color:rgb(2,77,161);
}
#P345_39
{
left:18200.8px;bottom:39633.3px;letter-spacing:151.5px;color:rgb(35,31,31);
}
#P345_40
{
left:0px;letter-spacing:0px;margin-left:-151.5px;
}
#P345_41
{
left:23756.1px;bottom:39633.3px;color:rgb(35,31,31);
}
#P345_42
{
left:24809.3px;bottom:39633.3px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P345_43
{
left:8680.03px;bottom:38737.3px;letter-spacing:-1.6px;color:rgb(35,31,31);
}
#P345_44
{
left:0px;letter-spacing:0px;margin-left:1.6px;
}
#P345_45
{
left:7016.15px;bottom:37137.3px;color:rgb(35,31,31);
}
#P345_46
{
left:9148.25px;bottom:36668.4px;color:rgb(35,31,31);
}
#P345_47
{
left:9477.72px;bottom:36668.4px;color:rgb(35,31,31);
}
#P345_48
{
left:9636.12px;bottom:36638.8px;color:rgb(35,31,31);
}
#P345_49
{
left:10222.5px;bottom:36668.4px;color:rgb(35,31,31);
}
#P345_50
{
left:11127.1px;bottom:36668.4px;color:rgb(35,31,31);
}
#P345_51
{
left:11490.4px;bottom:36668.4px;color:rgb(35,31,31);
}
#P345_52
{
left:11648.8px;bottom:36638.8px;color:rgb(35,31,31);
}
#P345_53
{
left:12235.2px;bottom:36668.4px;color:rgb(35,31,31);
}
#P345_54
{
left:13544px;bottom:36625.3px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P345_55
{
left:15613.9px;bottom:36668.4px;color:rgb(35,31,31);
}
#P345_56
{
left:15924.4px;bottom:36668.4px;color:rgb(35,31,31);
}
#P345_57
{
left:16082.8px;bottom:36638.8px;color:rgb(35,31,31);
}
#P345_58
{
left:16669.1px;bottom:36668.4px;color:rgb(35,31,31);
}
#P345_59
{
left:17573.8px;bottom:36668.4px;color:rgb(35,31,31);
}
#P345_60
{
left:17813.8px;bottom:36668.4px;color:rgb(35,31,31);
}
#P345_61
{
left:17972.2px;bottom:36638.8px;color:rgb(35,31,31);
}
#P345_62
{
left:18558.7px;bottom:36668.4px;color:rgb(35,31,31);
}
#P345_63
{
left:19752px;bottom:36625.3px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P345_64
{
left:21702.9px;bottom:36668.4px;color:rgb(35,31,31);
}
#P345_65
{
left:22097.9px;bottom:36668.4px;color:rgb(35,31,31);
}
#P345_66
{
left:22256.3px;bottom:36638.8px;color:rgb(35,31,31);
}
#P345_67
{
left:22842.6px;bottom:36668.4px;color:rgb(35,31,31);
}
#P345_68
{
left:23374.2px;bottom:36668.4px;color:rgb(35,31,31);
}
#P345_69
{
left:23767.7px;bottom:36668.4px;color:rgb(35,31,31);
}
#P345_70
{
left:23926.1px;bottom:36638.8px;color:rgb(35,31,31);
}
#P345_71
{
left:24512.5px;bottom:36668.4px;color:rgb(35,31,31);
}
#P345_72
{
left:25960px;bottom:36625.3px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P345_73
{
left:28056.7px;bottom:36668.4px;color:rgb(35,31,31);
}
#P345_74
{
left:28491.7px;bottom:36668.4px;color:rgb(35,31,31);
}
#P345_75
{
left:28650.1px;bottom:36638.8px;color:rgb(35,31,31);
}
#P345_76
{
left:29236.5px;bottom:36668.4px;color:rgb(35,31,31);
}
#P345_77
{
left:29768px;bottom:36668.4px;color:rgb(35,31,31);
}
#P345_78
{
left:30203.1px;bottom:36668.4px;color:rgb(35,31,31);
}
#P345_79
{
left:30361.5px;bottom:36638.8px;color:rgb(35,31,31);
}
#P345_80
{
left:30947.9px;bottom:36668.4px;color:rgb(35,31,31);
}
#P345_81
{
left:6994.65px;bottom:31196.8px;letter-spacing:-14.8px;color:rgb(35,31,31);
}
#P345_82
{
left:0px;letter-spacing:-0.2px;margin-left:14.8px;
}
#P345_83
{
left:0px;letter-spacing:-18.7px;margin-left:-13.8px;
}
#P345_84
{
left:0px;letter-spacing:0px;margin-left:-37.5px;
}
#P345_85
{
left:0px;letter-spacing:-0.2px;
}
#P345_86
{
left:0px;letter-spacing:-3.5px;margin-left:-13.7px;
}
#P345_87
{
left:0px;letter-spacing:-5.6px;margin-left:3.5px;
}
#P345_88
{
left:6994.65px;bottom:30300.8px;letter-spacing:-3px;color:rgb(35,31,31);
}
#P345_89
{
left:0px;letter-spacing:0px;margin-left:3px;
}
#P345_90
{
left:6994.65px;bottom:29148.8px;color:rgb(35,31,31);
}
#P345_91
{
left:7563.23px;bottom:29168.6px;color:rgb(35,31,31);
}
#P345_92
{
left:8594.65px;bottom:29148.8px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P345_93
{
left:7563.2px;bottom:27824.6px;word-spacing:372.8px;color:rgb(35,31,31);
}
#P345_94
{
left:8594.65px;bottom:27804.8px;letter-spacing:-1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P345_95
{
left:0px;letter-spacing:-0.2px;margin-left:-5.9px;
}
#P345_96
{
left:6994.65px;bottom:26204.8px;letter-spacing:-28.1px;color:rgb(35,31,31);
}
#P345_97
{
left:0px;letter-spacing:-0.8px;margin-left:28.1px;
}
#P345_98
{
left:0px;letter-spacing:0px;margin-left:-13.2px;
}
#P345_99
{
left:6994.65px;bottom:25052.8px;color:rgb(35,31,31);
}
#P345_100
{
left:7563.23px;bottom:25072.6px;color:rgb(35,31,31);
}
#P345_101
{
left:8594.65px;bottom:25052.8px;color:rgb(35,31,31);
}
#P345_102
{
left:8924.12px;bottom:25052.8px;color:rgb(35,31,31);
}
#P345_103
{
left:9082.52px;bottom:25023.3px;color:rgb(35,31,31);
}
#P345_104
{
left:9668.95px;bottom:25052.8px;color:rgb(35,31,31);
}
#P345_105
{
left:10200.5px;bottom:25052.8px;color:rgb(35,31,31);
}
#P345_106
{
left:10563.7px;bottom:25052.8px;color:rgb(35,31,31);
}
#P345_107
{
left:17867.3px;bottom:25072.6px;word-spacing:5178.9px;color:rgb(35,31,31);
}
#P345_108
{
left:18898.6px;bottom:25052.8px;color:rgb(35,31,31);
}
#P345_109
{
left:19228.1px;bottom:25052.8px;color:rgb(35,31,31);
}
#P345_110
{
left:19386.5px;bottom:25023.3px;color:rgb(35,31,31);
}
#P345_111
{
left:19973px;bottom:25052.8px;color:rgb(35,31,31);
}
#P345_112
{
left:20504.5px;bottom:25052.8px;color:rgb(35,31,31);
}
#P345_113
{
left:20867.7px;bottom:25052.8px;color:rgb(35,31,31);
}
#P345_114
{
left:28171.2px;bottom:25072.6px;word-spacing:5178.9px;color:rgb(35,31,31);
}
#P345_115
{
left:29074.6px;bottom:25052.8px;color:rgb(35,31,31);
}
#P345_116
{
left:29404.1px;bottom:25052.8px;color:rgb(35,31,31);
}
#P345_117
{
left:29562.5px;bottom:25023.3px;color:rgb(35,31,31);
}
#P345_118
{
left:30148.9px;bottom:25052.8px;color:rgb(35,31,31);
}
#P345_119
{
left:30680.4px;bottom:25052.8px;color:rgb(35,31,31);
}
#P345_120
{
left:31043.7px;bottom:25052.8px;color:rgb(35,31,31);
}
#P345_121
{
left:31202.1px;bottom:25023.3px;color:rgb(35,31,31);
}
#P345_122
{
left:31788.5px;bottom:25052.8px;color:rgb(35,31,31);
}
#P345_123
{
left:7563.14px;bottom:23728.6px;word-spacing:372.8px;color:rgb(35,31,31);
}
#P345_124
{
left:8594.59px;bottom:23708.8px;color:rgb(35,31,31);
}
#P345_125
{
left:8924.06px;bottom:23708.8px;color:rgb(35,31,31);
}
#P345_126
{
left:9082.46px;bottom:23679.3px;color:rgb(35,31,31);
}
#P345_127
{
left:9668.89px;bottom:23708.8px;color:rgb(35,31,31);
}
#P345_128
{
left:9827.29px;bottom:23708.8px;color:rgb(35,31,31);
}
#P345_129
{
left:10190.6px;bottom:23708.8px;color:rgb(35,31,31);
}
#P345_130
{
left:10349px;bottom:23679.3px;color:rgb(35,31,31);
}
#P345_131
{
left:10935.4px;bottom:23708.8px;color:rgb(35,31,31);
}
#P345_132
{
left:17475.8px;bottom:23728.6px;word-spacing:3884.2px;color:rgb(35,31,31);
}
#P345_133
{
left:18898.6px;bottom:23708.8px;color:rgb(35,31,31);
}
#P345_134
{
left:19228.1px;bottom:23708.8px;color:rgb(35,31,31);
}
#P345_135
{
left:19386.5px;bottom:23679.3px;color:rgb(35,31,31);
}
#P345_136
{
left:19972.9px;bottom:23708.8px;color:rgb(35,31,31);
}
#P345_137
{
left:20504.4px;bottom:23708.8px;color:rgb(35,31,31);
}
#P345_138
{
left:20867.7px;bottom:23708.8px;color:rgb(35,31,31);
}
#P345_139
{
left:21026.1px;bottom:23679.3px;color:rgb(35,31,31);
}
#P345_140
{
left:21612.5px;bottom:23708.8px;color:rgb(35,31,31);
}
#P345_141
{
left:27779.7px;bottom:23728.6px;word-spacing:3511.1px;color:rgb(35,31,31);
}
#P345_142
{
left:29074.5px;bottom:23708.8px;color:rgb(35,31,31);
}
#P345_143
{
left:29404px;bottom:23708.8px;color:rgb(35,31,31);
}
#P345_144
{
left:29562.4px;bottom:23679.3px;color:rgb(35,31,31);
}
#P345_145
{
left:30148.8px;bottom:23708.8px;color:rgb(35,31,31);
}
#P345_146
{
left:30680.3px;bottom:23708.8px;color:rgb(35,31,31);
}
#P345_147
{
left:31043.6px;bottom:23708.8px;color:rgb(35,31,31);
}
#P345_148
{
left:31202px;bottom:23679.3px;color:rgb(35,31,31);
}
#P345_149
{
left:31788.4px;bottom:23708.8px;color:rgb(35,31,31);
}
#P345_150
{
left:6994.52px;bottom:21980.8px;color:rgb(35,31,31);
}
#P345_151
{
left:7171.67px;bottom:22000.6px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P345_152
{
left:8658.71px;bottom:22000.6px;word-spacing:-26px;color:rgb(2,77,161);
}
#P345_153
{
left:0px;letter-spacing:0px;margin-left:-52.8px;
}
#P345_154
{
left:0px;letter-spacing:0px;margin-left:-12.5px;
}
#P345_155
{
left:13952.3px;bottom:21980.8px;color:rgb(35,31,31);
}
#P345_156
{
left:14304.3px;bottom:21980.8px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P345_157
{
left:0px;letter-spacing:0px;margin-left:0.7px;
}
#P345_158
{
left:8658.71px;bottom:21084.8px;color:rgb(35,31,31);
}
#P345_159
{
left:0px;letter-spacing:0px;margin-left:-4.2px;
}
#P345_160
{
left:0px;letter-spacing:0px;margin-left:-214.8px;
}
#P345_161
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P345_162
{
left:8658.71px;bottom:20189px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P345_163
{
left:0px;letter-spacing:0px;margin-left:0.5px;
}
#P345_164
{
left:6994.71px;bottom:16604.9px;letter-spacing:-3px;color:rgb(35,31,31);
}
#P345_165
{
left:0px;letter-spacing:-0.1px;margin-left:3px;
}
#P345_166
{
left:6994.71px;bottom:15452.8px;color:rgb(35,31,31);
}
#P345_167
{
left:7171.87px;bottom:15472.6px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P345_168
{
left:8594.71px;bottom:15452.8px;color:rgb(35,31,31);
}
#P345_169
{
left:12999.6px;bottom:15452.8px;color:rgb(35,31,31);
}
#P345_170
{
left:13438.9px;bottom:15452.8px;color:rgb(35,31,31);
}
#P345_171
{
left:13597.3px;bottom:15423.3px;color:rgb(35,31,31);
}
#P345_172
{
left:14183.7px;bottom:15452.8px;color:rgb(35,31,31);
}
#P345_173
{
left:15088.3px;bottom:15452.8px;color:rgb(35,31,31);
}
#P345_174
{
left:15798.5px;bottom:15452.8px;letter-spacing:-1.1px;word-spacing:0.2px;color:rgb(35,31,31);
}
#P345_175
{
left:20255.1px;bottom:15452.8px;color:rgb(35,31,31);
}
#P345_176
{
left:20694.4px;bottom:15452.8px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P345_177
{
left:0px;letter-spacing:0px;margin-left:-13.3px;
}
#P345_178
{
left:8594.71px;bottom:14557px;color:rgb(35,31,31);
}
#P345_179
{
left:0px;letter-spacing:0px;margin-left:-214.8px;
}
#P345_180
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P345_181
{
left:17246.7px;bottom:14557px;color:rgb(35,31,31);
}
#P345_182
{
left:17799.4px;bottom:14557px;color:rgb(35,31,31);
}
#P345_183
{
left:6994.71px;bottom:13085px;color:rgb(35,31,31);
}
#P345_184
{
left:7171.87px;bottom:13104.7px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P345_185
{
left:8594.71px;bottom:13085px;color:rgb(35,31,31);
}
#P345_186
{
left:12999.6px;bottom:13085px;color:rgb(35,31,31);
}
#P345_187
{
left:13310px;bottom:13085px;color:rgb(35,31,31);
}
#P345_188
{
left:13468.4px;bottom:13055.4px;color:rgb(35,31,31);
}
#P345_189
{
left:14054.9px;bottom:13085px;color:rgb(35,31,31);
}
#P345_190
{
left:15519.2px;bottom:13085px;color:rgb(35,31,31);
}
#P345_191
{
left:15951.4px;bottom:13085px;letter-spacing:-0.2px;word-spacing:0.2px;color:rgb(35,31,31);
}
#P345_192
{
left:21577.8px;bottom:13085px;color:rgb(35,31,31);
}
#P345_193
{
left:21888.2px;bottom:13085px;color:rgb(35,31,31);
}
#P345_194
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P345_195
{
left:8594.71px;bottom:12189px;letter-spacing:-0.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P345_196
{
left:22071.4px;bottom:12189px;color:rgb(35,31,31);
}
#P345_197
{
left:22345.2px;bottom:12189px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P345_198
{
left:6994.71px;bottom:10717px;color:rgb(35,31,31);
}
#P345_199
{
left:7200.03px;bottom:10736.7px;letter-spacing:-14.1px;word-spacing:276.7px;color:rgb(35,31,31);
}
#P345_200
{
left:8594.71px;bottom:10717px;letter-spacing:-14.1px;color:rgb(35,31,31);
}
#P345_201
{
left:12816.5px;bottom:10717px;color:rgb(35,31,31);
}
#P345_202
{
left:13042.5px;bottom:10717px;color:rgb(35,31,31);
}
#P345_203
{
left:13186.8px;bottom:10687.4px;color:rgb(35,31,31);
}
#P345_204
{
left:13759.2px;bottom:10717px;letter-spacing:-14.1px;color:rgb(35,31,31);
}
#P345_205
{
left:14621.6px;bottom:10717px;color:rgb(35,31,31);
}
#P345_206
{
left:15022.9px;bottom:10717px;color:rgb(35,31,31);
}
#P345_207
{
left:15167.2px;bottom:10687.4px;color:rgb(35,31,31);
}
#P345_208
{
left:15883.8px;bottom:10717px;letter-spacing:-14.2px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P345_209
{
left:22466.2px;bottom:10717px;color:rgb(35,31,31);
}
#P345_210
{
left:22692.2px;bottom:10717px;letter-spacing:-13px;color:rgb(35,31,31);
}
#P345_211
{
left:8594.71px;bottom:9821.04px;letter-spacing:-14.1px;color:rgb(35,31,31);
}
#P345_212
{
left:15229.8px;bottom:9821.04px;color:rgb(35,31,31);
}
#P345_213
{
left:15631.1px;bottom:9821.04px;letter-spacing:-14.4px;color:rgb(35,31,31);
}
#P345_214
{
left:6994.71px;bottom:8349.04px;color:rgb(35,31,31);
}
#P345_215
{
left:7171.87px;bottom:8368.75px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P345_216
{
left:8594.71px;bottom:8349.04px;color:rgb(35,31,31);
}
#P345_217
{
left:12999.6px;bottom:8349.04px;color:rgb(35,31,31);
}
#P345_218
{
left:13426.9px;bottom:8349.04px;color:rgb(35,31,31);
}
#P345_219
{
left:13585.3px;bottom:8319.47px;color:rgb(35,31,31);
}
#P345_220
{
left:14171.7px;bottom:8349.04px;color:rgb(35,31,31);
}
#P345_221
{
left:15234.8px;bottom:8319.47px;color:rgb(35,31,31);
}
#P345_222
{
left:15821.2px;bottom:8349.04px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P345_223
{
left:16352.7px;bottom:8349.04px;color:rgb(35,31,31);
}
#P345_224
{
left:17153.1px;bottom:8349.04px;letter-spacing:-0.2px;word-spacing:0.2px;color:rgb(35,31,31);
}
#P345_225
{
left:22280.3px;bottom:8349.04px;color:rgb(35,31,31);
}
#P345_226
{
left:22707.7px;bottom:8349.04px;color:rgb(35,31,31);
}
#P345_227
{
left:8594.71px;bottom:7453.1px;color:rgb(35,31,31);
}
#P345_228
{
left:15417.8px;bottom:7453.1px;color:rgb(35,31,31);
}
#P345_229
{
left:16059.8px;bottom:7453.1px;color:rgb(35,31,31);
}
#P345_230
{
left:6994.71px;bottom:5981.1px;color:rgb(35,31,31);
}
#P345_231
{
left:7171.87px;bottom:6000.81px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P345_232
{
left:8594.71px;bottom:6000.49px;color:rgb(2,77,161);
}
#P345_233
{
left:12130.3px;bottom:5980.78px;word-spacing:168.3px;color:rgb(35,31,31);
}
#P345_234
{
left:0px;letter-spacing:0px;margin-left:-168.3px;
}
#P345_235
{
left:16535.1px;bottom:5980.78px;color:rgb(35,31,31);
}
#P345_236
{
left:16928.7px;bottom:5980.78px;color:rgb(35,31,31);
}
#P345_237
{
left:17087px;bottom:5951.21px;color:rgb(35,31,31);
}
#P345_238
{
left:17673.4px;bottom:5980.78px;color:rgb(35,31,31);
}
#P345_239
{
left:19109.6px;bottom:5951.21px;color:rgb(35,31,31);
}
#P345_240
{
left:19696px;bottom:5980.78px;color:rgb(35,31,31);
}
#P345_241
{
left:20600.7px;bottom:5980.78px;color:rgb(35,31,31);
}
#P345_242
{
left:21401.1px;bottom:5980.78px;letter-spacing:-0.3px;word-spacing:0.3px;color:rgb(35,31,31);
}
#P345_243
{
left:8594.71px;bottom:5084.78px;color:rgb(35,31,31);
}
#P345_244
{
left:11253.7px;bottom:5084.78px;color:rgb(35,31,31);
}
#P345_245
{
left:11647.3px;bottom:5084.78px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P345_246
{
left:0px;letter-spacing:0.4px;margin-left:-3.1px;
}
#P345_247
{
left:8594.71px;bottom:4188.91px;color:rgb(35,31,31);
}
#P345_248
{
left:10223.8px;bottom:4188.91px;color:rgb(35,31,31);
}
#P345_249
{
left:10865.8px;bottom:4188.91px;color:rgb(35,31,31);
}
#P345_250
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P345_251
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P345_252
{
left:8594.71px;bottom:3292.91px;color:rgb(35,31,31);
}
#P345_253
{
left:22701.4px;bottom:21345.5px;color:rgb(35,31,31);
}
#P345_254
{
left:25709.4px;bottom:21303.3px;color:rgb(35,31,31);
}
#P345_255
{
left:26013.5px;bottom:21303.3px;color:rgb(35,31,31);
}
#P345_256
{
left:26189.5px;bottom:21315.9px;color:rgb(35,31,31);
}
#P345_257
{
left:26776px;bottom:21303.3px;color:rgb(35,31,31);
}
#P345_258
{
left:27365.2px;bottom:21303.3px;color:rgb(35,31,31);
}
#P345_259
{
left:27644.7px;bottom:21303.3px;color:rgb(35,31,31);
}
#P345_260
{
left:27820.7px;bottom:21315.9px;color:rgb(35,31,31);
}
#P345_261
{
left:28407.1px;bottom:21303.3px;color:rgb(35,31,31);
}
#P345_262
{
left:22701.4px;bottom:20279.3px;letter-spacing:2832px;color:rgb(35,31,31);
}
#P345_263
{
left:26110px;bottom:20215.4px;color:rgb(35,31,31);
}
#P345_264
{
left:26286px;bottom:20228.1px;color:rgb(35,31,31);
}
#P345_265
{
left:26428.9px;bottom:20660.4px;color:rgb(235,26,35);
}
#P345_266
{
left:26853.6px;bottom:20215.3px;color:rgb(35,31,31);
}
#P345_267
{
left:27029.6px;bottom:20279.3px;color:rgb(35,31,31);
}
#P345_268
{
left:28357.3px;bottom:20291.9px;color:rgb(35,31,31);
}
#P345_269
{
left:28943.8px;bottom:20279.3px;color:rgb(35,31,31);
}
#P345_270
{
left:25709.4px;bottom:19255.3px;word-spacing:2832px;color:rgb(35,31,31);
}
#P345_271
{
left:26286px;bottom:19267.9px;color:rgb(35,31,31);
}
#P345_272
{
left:26872.4px;bottom:19255.3px;color:rgb(35,31,31);
}
#P345_273
{
left:22701.4px;bottom:18231.3px;letter-spacing:2832px;color:rgb(35,31,31);
}
#P345_274
{
left:0px;letter-spacing:-35.1px;margin-left:-2838.9px;
}
#P345_275
{
left:0px;letter-spacing:0px;margin-left:35.1px;
}
#P345_276
{
left:0px;bottom:0px;letter-spacing:0px;color:rgb(235,26,35);
}
#P345_277
{
left:6258.71px;bottom:25100.2px;
}
#P345_278
{
left:6258.71px;bottom:25100.2px;color:white;
}
#P345_279
{
left:6258.71px;bottom:15521.6px;
}
#P345_280
{
left:6258.71px;bottom:15521.6px;color:white;
}
#P345_281
{
left:8170.27px;bottom:47021.1px;letter-spacing:-6px;color:white;
}
#P345_282
{
left:11382.7px;bottom:47319.5px;color:white;
}
#P345_283
{
left:11756.3px;bottom:47021.1px;color:white;
}
#P345_284
{
left:4652.51px;bottom:46993.9px;color:white;
}
#P345_285
{
left:29065.8px;bottom:46233.7px;word-spacing:0.2px;color:rgb(33,31,31);
}
#P345_286
{
left:23204.2px;bottom:20598.8px;
}
#PageContainer345
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg345.jpg");background-repeat:no-repeat;background-size: 1056px 1238px; background-position: 1.67px 33.8699999999999px;
}
#ImageContainer345 {bottom:92.13px;left:1.67px;width:1056.34px;height:1238.11px;position:absolute;} #TextContainer345 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.answer{ position: absolute; top: 44px; left: 78px;}


.circle1{position: absolute;top: 653px;left: 158px;}
.circle2{position: absolute;top: 915px;left: 158px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}