.tr203{ color:transparent;}
#P203_1
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P203_2
{
left:19919.2px;bottom:1410.03px;color:rgb(35,31,31);
}
#P203_3
{
left:23191.4px;bottom:1410.03px;letter-spacing:462.1px;color:rgb(35,31,31);
}
#P203_4
{
left:0px;letter-spacing:0.9px;margin-left:-462.1px;
}
#P203_5
{
left:0px;letter-spacing:0.9px;margin-left:-0.9px;
}
#P203_6
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P203_7
{
left:13960.4px;bottom:44444.8px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P203_8
{
left:0px;letter-spacing:0px;margin-left:-13.7px;
}
#P203_9
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P203_10
{
left:23782px;bottom:44450.4px;color:rgb(35,31,31);
}
#P203_11
{
left:24223.1px;bottom:44444.8px;color:rgb(35,31,31);
}
#P203_12
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P203_13
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P203_14
{
left:26159.4px;bottom:44450.4px;color:rgb(35,31,31);
}
#P203_15
{
left:26699.9px;bottom:44444.8px;color:rgb(35,31,31);
}
#P203_16
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P203_17
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P203_18
{
left:28636.1px;bottom:44450.4px;color:rgb(35,31,31);
}
#P203_19
{
left:29228.6px;bottom:44444.8px;color:rgb(35,31,31);
}
#P203_20
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P203_21
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P203_22
{
left:32570.8px;bottom:44450.4px;color:rgb(35,31,31);
}
#P203_23
{
left:32873.2px;bottom:44444.8px;letter-spacing:-9.3px;color:rgb(35,31,31);
}
#P203_24
{
left:0px;letter-spacing:-9.3px;margin-left:9.3px;
}
#P203_25
{
left:0px;letter-spacing:-2.1px;margin-left:9.3px;
}
#P203_26
{
left:13960.4px;bottom:43548.8px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P203_27
{
left:0px;letter-spacing:0px;margin-left:-13.3px;
}
#P203_28
{
left:0px;letter-spacing:0px;margin-left:-225.1px;
}
#P203_29
{
left:0px;letter-spacing:0px;margin-left:77.1px;
}
#P203_30
{
left:0px;letter-spacing:0.4px;
}
#P203_31
{
left:0px;letter-spacing:0px;margin-left:-42.5px;
}
#P203_32
{
left:13960.4px;bottom:42396.8px;letter-spacing:-3px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P203_33
{
left:0px;letter-spacing:0.1px;margin-left:2.9px;
}
#P203_34
{
left:27588.5px;bottom:42396.8px;letter-spacing:28.2px;color:rgb(35,31,31);
}
#P203_35
{
left:0px;letter-spacing:-0.9px;margin-left:-28.2px;
}
#P203_36
{
left:13960.4px;bottom:41116.8px;color:rgb(35,31,31);
}
#P203_37
{
left:13960.4px;bottom:40220.8px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P203_38
{
left:16839.8px;bottom:40220.8px;color:rgb(35,31,31);
}
#P203_39
{
left:17271.1px;bottom:40220.8px;color:rgb(35,31,31);
}
#P203_40
{
left:17517.5px;bottom:40220.8px;color:rgb(235,26,35);
}
#P203_41
{
left:17890.6px;bottom:40220.8px;color:rgb(35,31,31);
}
#P203_42
{
left:20396.8px;bottom:40220.8px;color:rgb(35,31,31);
}
#P203_43
{
left:20925.3px;bottom:40220.8px;color:rgb(35,31,31);
}
#P203_44
{
left:21171.7px;bottom:40220.8px;color:rgb(235,26,35);
}
#P203_45
{
left:21544.8px;bottom:40220.8px;color:rgb(35,31,31);
}
#P203_46
{
left:13960.4px;bottom:39324.8px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P203_47
{
left:20334.4px;bottom:39324.8px;color:rgb(235,26,35);
}
#P203_48
{
left:20492.8px;bottom:39324.8px;color:rgb(235,26,35);
}
#P203_49
{
left:20856.1px;bottom:39324.8px;letter-spacing:-1.3px;color:rgb(235,26,35);
}
#P203_50
{
left:24880.4px;bottom:39324.8px;color:rgb(35,31,31);
}
#P203_51
{
left:15112.4px;bottom:38044.8px;color:rgb(35,31,31);
}
#P203_52
{
left:17300.4px;bottom:38015.2px;color:rgb(35,31,31);
}
#P203_53
{
left:17886.8px;bottom:38044.8px;color:rgb(35,31,31);
}
#P203_54
{
left:18045.2px;bottom:38044.8px;color:rgb(235,26,35);
}
#P203_55
{
left:18418.3px;bottom:38044.8px;color:rgb(35,31,31);
}
#P203_56
{
left:18576.7px;bottom:38015.2px;color:rgb(35,31,31);
}
#P203_57
{
left:19163.2px;bottom:38044.8px;color:rgb(35,31,31);
}
#P203_58
{
left:19321.6px;bottom:38044.8px;color:rgb(235,26,35);
}
#P203_59
{
left:19694.7px;bottom:38044.8px;color:rgb(35,31,31);
}
#P203_60
{
left:19853.1px;bottom:38015.2px;color:rgb(35,31,31);
}
#P203_61
{
left:20439.5px;bottom:38044.8px;color:rgb(35,31,31);
}
#P203_62
{
left:13960.4px;bottom:36764.8px;letter-spacing:0.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P203_63
{
left:13960.4px;bottom:35868.8px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P203_64
{
left:16839.8px;bottom:35868.8px;color:rgb(35,31,31);
}
#P203_65
{
left:17368.2px;bottom:35868.8px;color:rgb(35,31,31);
}
#P203_66
{
left:18332.8px;bottom:35868.8px;color:rgb(0,124,196);
}
#P203_67
{
left:18705.9px;bottom:35868.8px;color:rgb(35,31,31);
}
#P203_68
{
left:20494px;bottom:35868.8px;color:rgb(35,31,31);
}
#P203_69
{
left:21068.9px;bottom:35868.8px;color:rgb(35,31,31);
}
#P203_70
{
left:22033.4px;bottom:35868.8px;color:rgb(0,124,196);
}
#P203_71
{
left:22406.5px;bottom:35868.8px;color:rgb(35,31,31);
}
#P203_72
{
left:13960.4px;bottom:34972.8px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P203_73
{
left:20492.8px;bottom:34972.8px;color:rgb(0,124,196);
}
#P203_74
{
left:20822.3px;bottom:34972.8px;letter-spacing:-1.3px;color:rgb(0,124,196);
}
#P203_75
{
left:24846.6px;bottom:34972.8px;color:rgb(35,31,31);
}
#P203_76
{
left:15112.4px;bottom:33692.8px;color:rgb(35,31,31);
}
#P203_77
{
left:17106.8px;bottom:33663.2px;color:rgb(35,31,31);
}
#P203_78
{
left:17693.2px;bottom:33692.8px;color:rgb(35,31,31);
}
#P203_79
{
left:17851.6px;bottom:33692.8px;color:rgb(0,124,196);
}
#P203_80
{
left:18224.7px;bottom:33692.8px;color:rgb(35,31,31);
}
#P203_81
{
left:18383.1px;bottom:33663.2px;color:rgb(35,31,31);
}
#P203_82
{
left:18969.6px;bottom:33692.8px;color:rgb(35,31,31);
}
#P203_83
{
left:19128px;bottom:33692.8px;color:rgb(0,124,196);
}
#P203_84
{
left:19501.1px;bottom:33692.8px;color:rgb(35,31,31);
}
#P203_85
{
left:19659.5px;bottom:33663.2px;color:rgb(35,31,31);
}
#P203_86
{
left:20245.9px;bottom:33692.8px;color:rgb(35,31,31);
}
#P203_87
{
left:14544.4px;bottom:32156.8px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P203_88
{
left:0px;letter-spacing:0px;margin-left:-704px;
}
#P203_89
{
left:0px;letter-spacing:-9.3px;margin-left:-8.4px;
}
#P203_90
{
left:0px;letter-spacing:-0.2px;margin-left:9.3px;
}
#P203_91
{
left:28002px;bottom:32127.2px;color:rgb(35,31,31);
}
#P203_92
{
left:28588.4px;bottom:32156.8px;color:rgb(35,31,31);
}
#P203_93
{
left:30144.2px;bottom:32127.2px;color:rgb(35,31,31);
}
#P203_94
{
left:30730.6px;bottom:32156.8px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P203_95
{
left:7801.11px;bottom:46049.6px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P203_96
{
left:14669.4px;bottom:46074.2px;color:white;
}
#P203_97
{
left:15085px;bottom:46266px;color:white;
}
#P203_98
{
left:15325.2px;bottom:46074.2px;color:white;
}
#P203_99
{
left:16301.5px;bottom:46266px;color:white;
}
#P203_100
{
left:16541.7px;bottom:46074.2px;letter-spacing:-2.2px;color:white;
}
#P203_101
{
left:19696.3px;bottom:46266px;color:white;
}
#P203_102
{
left:19936.5px;bottom:46074.2px;color:white;
}
#P203_103
{
left:12857px;bottom:45907.1px;
}
#P203_104
{
left:12857px;bottom:45907.1px;color:white;
}
#P203_105
{
left:13960.4px;bottom:27996.8px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P203_106
{
left:0px;letter-spacing:-17.5px;margin-left:0.4px;
}
#P203_107
{
left:0px;letter-spacing:-0.1px;margin-left:17.5px;
}
#P203_108
{
left:13960.4px;bottom:27100.8px;letter-spacing:-4.7px;color:rgb(35,31,31);
}
#P203_109
{
left:15152.4px;bottom:27106.5px;color:rgb(35,31,31);
}
#P203_110
{
left:15619.6px;bottom:27100.8px;color:rgb(35,31,31);
}
#P203_111
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P203_112
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P203_113
{
left:17950.1px;bottom:27106.5px;color:rgb(35,31,31);
}
#P203_114
{
left:18391.3px;bottom:27100.8px;color:rgb(35,31,31);
}
#P203_115
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P203_116
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P203_117
{
left:21116.1px;bottom:27106.5px;color:rgb(35,31,31);
}
#P203_118
{
left:21656.5px;bottom:27100.8px;color:rgb(35,31,31);
}
#P203_119
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P203_120
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P203_121
{
left:26181.3px;bottom:27106.5px;color:rgb(35,31,31);
}
#P203_122
{
left:26773.8px;bottom:27100.8px;letter-spacing:-9.3px;color:rgb(35,31,31);
}
#P203_123
{
left:0px;letter-spacing:-7px;margin-left:9.3px;
}
#P203_124
{
left:0px;letter-spacing:0px;margin-left:-21px;
}
#P203_125
{
left:0px;letter-spacing:-1px;
}
#P203_126
{
left:0px;letter-spacing:0px;margin-left:-13px;
}
#P203_127
{
left:13960.4px;bottom:26205px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P203_128
{
left:0px;letter-spacing:-42px;margin-left:-27.8px;
}
#P203_129
{
left:0px;letter-spacing:-0.4px;margin-left:55.9px;
}
#P203_130
{
left:13960.4px;bottom:25052.8px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P203_131
{
left:13960.4px;bottom:24157px;letter-spacing:-0.2px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P203_132
{
left:0px;letter-spacing:-0.6px;margin-left:-6.7px;
}
#P203_133
{
left:13960.4px;bottom:23261px;color:rgb(35,31,31);
}
#P203_134
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P203_135
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P203_136
{
left:0px;letter-spacing:0px;margin-left:-214.8px;
}
#P203_137
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P203_138
{
left:13960.4px;bottom:22365px;color:rgb(35,31,31);
}
#P203_139
{
left:15112.4px;bottom:21085px;color:rgb(35,31,31);
}
#P203_140
{
left:15505.9px;bottom:20876.6px;color:rgb(35,31,31);
}
#P203_141
{
left:15777.2px;bottom:21084.8px;color:rgb(35,31,31);
}
#P203_142
{
left:15935.6px;bottom:21055.3px;color:rgb(35,31,31);
}
#P203_143
{
left:16522px;bottom:21084.8px;color:rgb(35,31,31);
}
#P203_144
{
left:17585px;bottom:21055.3px;color:rgb(35,31,31);
}
#P203_145
{
left:18171.5px;bottom:21084.8px;color:rgb(35,31,31);
}
#P203_146
{
left:18861.4px;bottom:21055.3px;color:rgb(35,31,31);
}
#P203_147
{
left:19447.8px;bottom:21084.8px;color:rgb(35,31,31);
}
#P203_148
{
left:15112.4px;bottom:19804.8px;color:rgb(35,31,31);
}
#P203_149
{
left:15505.9px;bottom:19596.6px;color:rgb(35,31,31);
}
#P203_150
{
left:15777.2px;bottom:19804.8px;color:rgb(35,31,31);
}
#P203_151
{
left:15935.6px;bottom:19775.3px;color:rgb(35,31,31);
}
#P203_152
{
left:16522px;bottom:19804.8px;color:rgb(35,31,31);
}
#P203_153
{
left:17958.2px;bottom:19775.3px;color:rgb(35,31,31);
}
#P203_154
{
left:18544.6px;bottom:19804.8px;color:rgb(35,31,31);
}
#P203_155
{
left:19234.5px;bottom:19775.3px;color:rgb(35,31,31);
}
#P203_156
{
left:19820.9px;bottom:19804.8px;color:rgb(35,31,31);
}
#P203_157
{
left:15112.4px;bottom:18524.8px;color:rgb(35,31,31);
}
#P203_158
{
left:15539.7px;bottom:18524.8px;color:rgb(35,31,31);
}
#P203_159
{
left:15698.1px;bottom:18495.3px;color:rgb(35,31,31);
}
#P203_160
{
left:16284.6px;bottom:18524.8px;color:rgb(35,31,31);
}
#P203_161
{
left:17347.5px;bottom:18495.3px;color:rgb(35,31,31);
}
#P203_162
{
left:17934px;bottom:18524.8px;color:rgb(35,31,31);
}
#P203_163
{
left:18997px;bottom:18495.3px;color:rgb(35,31,31);
}
#P203_164
{
left:19583.4px;bottom:18524.8px;color:rgb(35,31,31);
}
#P203_165
{
left:13960.3px;bottom:17244.8px;letter-spacing:-9.3px;color:rgb(35,31,31);
}
#P203_166
{
left:0px;letter-spacing:-0.3px;margin-left:9.3px;
}
#P203_167
{
left:13960.3px;bottom:16348.8px;letter-spacing:-1.2px;word-spacing:0.3px;color:rgb(35,31,31);
}
#P203_168
{
left:15112.4px;bottom:14684.8px;color:rgb(35,31,31);
}
#P203_169
{
left:15551.7px;bottom:14684.8px;color:rgb(35,31,31);
}
#P203_170
{
left:15710.1px;bottom:14655.3px;color:rgb(35,31,31);
}
#P203_171
{
left:16296.5px;bottom:14684.8px;color:rgb(35,31,31);
}
#P203_172
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P203_173
{
left:16476.1px;bottom:15124.5px;color:rgb(35,31,31);
}
#P203_174
{
left:16811.9px;bottom:14702.4px;color:rgb(35,31,31);
}
#P203_175
{
left:16454.9px;bottom:14668.8px;color:rgb(35,31,31);
}
#P203_176
{
left:16833px;bottom:14686.1px;color:rgb(35,31,31);
}
#P203_177
{
left:16476.1px;bottom:14217px;color:rgb(35,31,31);
}
#P203_178
{
left:16811.9px;bottom:14702.4px;color:rgb(35,31,31);
}
#P203_179
{
left:16833px;bottom:14684.8px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P203_180
{
left:19223px;bottom:14655.3px;color:rgb(35,31,31);
}
#P203_181
{
left:19809.4px;bottom:14684.8px;color:rgb(35,31,31);
}
#P203_182
{
left:15112.4px;bottom:13020.8px;color:rgb(35,31,31);
}
#P203_183
{
left:15784.4px;bottom:12991.3px;color:rgb(35,31,31);
}
#P203_184
{
left:16370.8px;bottom:13020.8px;color:rgb(35,31,31);
}
#P203_185
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P203_186
{
left:16550.4px;bottom:13460.5px;color:rgb(35,31,31);
}
#P203_187
{
left:16886.2px;bottom:13038.4px;color:rgb(35,31,31);
}
#P203_188
{
left:16529.2px;bottom:13004.8px;color:rgb(35,31,31);
}
#P203_189
{
left:16907.3px;bottom:13022.1px;color:rgb(35,31,31);
}
#P203_190
{
left:16550.4px;bottom:12553px;color:rgb(35,31,31);
}
#P203_191
{
left:16886.2px;bottom:13038.4px;color:rgb(35,31,31);
}
#P203_192
{
left:16907.3px;bottom:13020.8px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P203_193
{
left:19916.8px;bottom:12991.3px;color:rgb(35,31,31);
}
#P203_194
{
left:20503.3px;bottom:13020.8px;color:rgb(35,31,31);
}
#P203_195
{
left:14544.4px;bottom:11164.8px;letter-spacing:520.3px;color:rgb(35,31,31);
}
#P203_196
{
left:0px;letter-spacing:-0.8px;margin-left:-520.3px;
}
#P203_197
{
left:0px;letter-spacing:-0.5px;margin-left:-6.1px;
}
#P203_198
{
left:0px;letter-spacing:0px;margin-left:0.5px;
}
#P203_199
{
left:13960.4px;bottom:7580.84px;color:rgb(35,31,31);
}
#P203_200
{
left:14296px;bottom:7607.66px;word-spacing:325.2px;color:rgb(35,31,31);
}
#P203_201
{
left:15368.4px;bottom:7580.84px;letter-spacing:-0.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P203_202
{
left:0px;letter-spacing:-0.1px;margin-left:-13.5px;
}
#P203_203
{
left:24933px;bottom:7580.84px;color:rgb(35,31,31);
}
#P203_204
{
left:25210.1px;bottom:7580.84px;color:rgb(35,31,31);
}
#P203_205
{
left:27139.1px;bottom:7580.84px;color:rgb(35,31,31);
}
#P203_206
{
left:27625.9px;bottom:7580.84px;color:rgb(35,31,31);
}
#P203_207
{
left:29554.8px;bottom:7580.84px;color:rgb(35,31,31);
}
#P203_208
{
left:29952.6px;bottom:7580.84px;color:rgb(35,31,31);
}
#P203_209
{
left:15368.3px;bottom:6684.84px;color:rgb(35,31,31);
}
#P203_210
{
left:16045.2px;bottom:6684.84px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P203_211
{
left:0px;letter-spacing:-0.8px;margin-left:0.4px;
}
#P203_212
{
left:0px;letter-spacing:0px;margin-left:-13.1px;
}
#P203_213
{
left:13960.3px;bottom:5404.84px;color:rgb(35,31,31);
}
#P203_214
{
left:14296px;bottom:5431.66px;word-spacing:325.2px;color:rgb(35,31,31);
}
#P203_215
{
left:15368.4px;bottom:5424.56px;letter-spacing:-12.9px;color:rgb(2,77,161);
}
#P203_216
{
left:0px;letter-spacing:0px;margin-left:12.9px;
}
#P203_217
{
left:18237.2px;bottom:5404.84px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P203_218
{
left:0px;letter-spacing:-0.2px;margin-left:-206.1px;
}
#P203_219
{
left:0px;letter-spacing:-0.2px;margin-left:-6.6px;
}
#P203_220
{
left:0px;letter-spacing:0px;margin-left:-17.4px;
}
#P203_221
{
left:0px;letter-spacing:0px;margin-left:-21px;
}
#P203_222
{
left:15368.4px;bottom:4508.84px;letter-spacing:0.4px;color:rgb(35,31,31);
}
#P203_223
{
left:17465.6px;bottom:4508.84px;color:rgb(35,31,31);
}
#P203_224
{
left:17867.5px;bottom:4508.84px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P203_225
{
left:0px;letter-spacing:0px;margin-left:-19.6px;
}
#P203_226
{
left:0px;letter-spacing:-0.6px;
}
#P203_227
{
left:0px;letter-spacing:0px;margin-left:-3.6px;
}
#P203_228
{
left:7801.11px;bottom:29601.7px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P203_229
{
left:14669.4px;bottom:29626.2px;color:white;
}
#P203_230
{
left:17053.2px;bottom:29818px;color:white;
}
#P203_231
{
left:17293.4px;bottom:29626.2px;word-spacing:-31.9px;color:white;
}
#P203_232
{
left:20061.7px;bottom:29818px;color:white;
}
#P203_233
{
left:20301.9px;bottom:29626.2px;color:white;
}
#P203_234
{
left:21485.6px;bottom:29818px;color:white;
}
#P203_235
{
left:21725.8px;bottom:29626.2px;color:white;
}
#P203_236
{
left:12873px;bottom:29459.1px;
}
#P203_237
{
left:12873px;bottom:29459.1px;color:white;
}
#P203_238
{
left:8781.4px;bottom:6627.56px;color:rgb(35,31,31);
}
#P203_239
{
left:4885.21px;bottom:40284.1px;color:white;
}
#P203_240
{
left:8240.86px;bottom:40525.7px;color:white;
}
#P203_241
{
left:8576.73px;bottom:40284.1px;color:white;
}
#P203_242
{
left:5119.83px;bottom:39181.1px;color:rgb(35,31,31);
}
#P203_243
{
left:0px;letter-spacing:0px;margin-left:-58.8px;
}
#P203_244
{
left:0px;letter-spacing:0px;margin-left:-177.9px;
}
#P203_245
{
left:5119.83px;bottom:38413.1px;color:rgb(35,31,31);
}
#P203_246
{
left:5119.83px;bottom:37645.1px;color:rgb(35,31,31);
}
#P203_247
{
left:5546.71px;bottom:37645.1px;color:rgb(35,31,31);
}
#P203_248
{
left:6934.23px;bottom:37645.1px;color:rgb(35,31,31);
}
#P203_249
{
left:7147.35px;bottom:37645.1px;color:rgb(35,31,31);
}
#P203_250
{
left:0px;letter-spacing:0px;margin-left:-58.8px;
}
#P203_251
{
left:0px;letter-spacing:0px;margin-left:-177.9px;
}
#P203_252
{
left:5119.9px;bottom:36877.1px;color:rgb(35,31,31);
}
#P203_253
{
left:5119.9px;bottom:36109.1px;color:rgb(35,31,31);
}
#P203_254
{
left:5404.06px;bottom:36109.1px;color:rgb(35,31,31);
}
#P203_255
{
left:6791.58px;bottom:36109.1px;color:rgb(35,31,31);
}
#P203_256
{
left:7004.7px;bottom:36109.1px;color:rgb(35,31,31);
}
#P203_257
{
left:5183.83px;bottom:15085.1px;letter-spacing:-58.8px;color:rgb(35,31,31);
}
#P203_258
{
left:0px;letter-spacing:0px;margin-left:58.8px;
}
#P203_259
{
left:5183.83px;bottom:14317.1px;color:rgb(35,31,31);
}
#P203_260
{
left:0px;letter-spacing:0px;margin-left:-177.9px;
}
#P203_261
{
left:5183.83px;bottom:13549.1px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P203_262
{
left:5183.83px;bottom:12781.1px;color:rgb(35,31,31);
}
#P203_263
{
left:5183.83px;bottom:12013.1px;color:rgb(35,31,31);
}
#P203_264
{
left:4957.21px;bottom:16177.4px;color:white;
}
#P203_265
{
left:35177.1px;bottom:34685.1px;color:rgb(35,31,31);
}
#P203_266
{
left:28080.8px;bottom:41095.5px;color:rgb(35,31,31);
}
#P203_267
{
left:29177.1px;bottom:34685.1px;letter-spacing:511.2px;color:rgb(35,31,31);
}
#P203_268
{
left:28098.5px;bottom:35803px;color:rgb(35,31,31);
}
#P203_269
{
left:28098.5px;bottom:36571px;color:rgb(35,31,31);
}
#P203_270
{
left:28098.5px;bottom:37339px;color:rgb(35,31,31);
}
#P203_271
{
left:31474.4px;bottom:34691.8px;color:rgb(33,31,31);
}
#P203_272
{
left:32240px;bottom:34689.4px;letter-spacing:511.3px;color:rgb(33,31,31);
}
#P203_273
{
left:28098.5px;bottom:38107.5px;color:rgb(33,31,31);
}
#P203_274
{
left:28098.5px;bottom:38875.5px;color:rgb(33,31,31);
}
#P203_275
{
left:28098.6px;bottom:39643.8px;color:rgb(33,31,31);
}
#P203_276
{
left:28098.6px;bottom:40412px;color:rgb(33,31,31);
}
#P203_277
{
left:28098.6px;bottom:35034.6px;color:rgb(33,31,31);
}
#P203_278
{
left:28381.8px;bottom:34705.3px;color:rgb(33,31,31);
}
#P203_279
{
left:28676.4px;bottom:40037px;color:rgb(0,124,196);
}
#P203_280
{
left:28964.4px;bottom:40084.2px;color:rgb(0,124,196);
}
#P203_281
{
left:32788.9px;bottom:40037px;color:rgb(0,124,196);
}
#P203_282
{
left:33204.8px;bottom:40084.2px;color:rgb(0,124,196);
}
#P203_283
{
left:32788.9px;bottom:36120.9px;color:rgb(0,124,196);
}
#P203_284
{
left:33204.8px;bottom:36168.1px;color:rgb(0,124,196);
}
#P203_285
{
left:28633.9px;bottom:36120.9px;color:rgb(0,124,196);
}
#P203_286
{
left:28858px;bottom:36168.1px;color:rgb(0,124,196);
}
#P203_287
{
left:36594.6px;bottom:16349.1px;color:rgb(35,31,31);
}
#P203_288
{
left:27962.3px;bottom:25063.5px;color:rgb(35,31,31);
}
#P203_289
{
left:29699.4px;bottom:16349.1px;color:rgb(35,31,31);
}
#P203_290
{
left:27725.6px;bottom:18230.2px;color:rgb(35,31,31);
}
#P203_291
{
left:31230px;bottom:16356.3px;color:rgb(33,31,31);
}
#P203_292
{
left:32760.7px;bottom:16353.4px;color:rgb(33,31,31);
}
#P203_293
{
left:0px;letter-spacing:0px;margin-left:1021.9px;
}
#P203_294
{
left:0px;letter-spacing:0px;margin-left:900px;
}
#P203_295
{
left:27725.5px;bottom:19767.7px;color:rgb(33,31,31);
}
#P203_296
{
left:27725.7px;bottom:21305.1px;color:rgb(33,31,31);
}
#P203_297
{
left:27725.7px;bottom:22842.5px;color:rgb(33,31,31);
}
#P203_298
{
left:27471.3px;bottom:24380px;color:rgb(33,31,31);
}
#P203_299
{
left:27980.1px;bottom:16715.9px;color:rgb(33,31,31);
}
#P203_300
{
left:28263.3px;bottom:16369.3px;color:rgb(33,31,31);
}
#P203_301
{
left:30409.8px;bottom:23235.8px;color:rgb(0,145,68);
}
#P203_302
{
left:30761.7px;bottom:23111.1px;color:rgb(0,145,68);
}
#P203_303
{
left:31945.8px;bottom:19427.6px;color:rgb(0,145,68);
}
#P203_304
{
left:32297.7px;bottom:19303px;color:rgb(0,145,68);
}
#P203_305
{
left:28493.7px;bottom:18568.1px;color:rgb(0,145,68);
}
#P203_306
{
left:28909.5px;bottom:18615.3px;color:rgb(0,145,68);
}
#P203_307
{
left:34103.2px;bottom:18568.1px;color:rgb(0,145,68);
}
#P203_308
{
left:34519.1px;bottom:18615.3px;color:rgb(0,145,68);
}
#P203_309
{
left:33107.9px;bottom:23957.2px;color:rgb(0,145,68);
}
#P203_310
{
left:33395.9px;bottom:24004.4px;color:rgb(0,145,68);
}
#P203_311
{
left:28517.7px;bottom:23969.8px;color:rgb(0,145,68);
}
#P203_312
{
left:28838px;bottom:24017.1px;color:rgb(0,145,68);
}
#P203_313
{
left:28593.9px;bottom:21252.1px;color:rgb(0,145,68);
}
#PageContainer203
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg203.jpg");background-repeat:no-repeat;background-size: 890px 1190px; background-position: 122.14px 74.8099999999999px;
}
#ImageContainer203 {bottom:99.19px;left:122.14px;width:889.53px;height:1189.86px;position:absolute;} #TextContainer203 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.example2{position: absolute;top: 83px;left: 164px;}
.example3{position: absolute;top: 529px;left: 172px;}
.nyr{position: absolute;top: 1133px;left: 210px;}
.nyr_exr{position: absolute;top: 1170px;left: 233px;color: rgb(30,31,31);font-size: 16px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}