.tr638{ color:transparent;}
#P638_1
{
left:6273.56px;bottom:46917px;letter-spacing:-4.7px;color:white;
}
#P638_2
{
left:9130.27px;bottom:47151.5px;color:white;
}
#P638_3
{
left:9423.83px;bottom:46917px;letter-spacing:-2.1px;color:white;
}
#P638_4
{
left:14510.8px;bottom:47151.5px;color:white;
}
#P638_5
{
left:14804.4px;bottom:46917px;color:white;
}
#P638_6
{
left:19597.5px;bottom:47151.5px;color:white;
}
#P638_7
{
left:19891.1px;bottom:46917px;color:white;
}
#P638_8
{
left:22121.4px;bottom:47151.5px;color:white;
}
#P638_9
{
left:22414.9px;bottom:46917px;color:white;
}
#P638_10
{
left:2173.4px;bottom:47676.8px;letter-spacing:-1px;color:white;
}
#P638_11
{
left:4460.12px;bottom:47903.3px;color:white;
}
#P638_12
{
left:4726.04px;bottom:47676.8px;letter-spacing:-1px;color:white;
}
#P638_13
{
left:2530.77px;bottom:46476px;letter-spacing:-80.6px;color:white;
}
#P638_14
{
left:2365.4px;bottom:1525.23px;color:rgb(35,31,31);
}
#P638_15
{
left:3540.44px;bottom:1532.91px;color:rgb(35,31,31);
}
#P638_16
{
left:4925.4px;bottom:1525.23px;color:rgb(35,31,31);
}
#P638_17
{
left:9471.43px;bottom:1532.91px;letter-spacing:1.2px;word-spacing:457.7px;color:rgb(35,31,31);
}
#P638_18
{
left:0px;letter-spacing:0px;margin-left:-458.9px;
}
#P638_19
{
left:0px;letter-spacing:2.2px;margin-left:4.4px;
}
#P638_20
{
left:0px;letter-spacing:0px;margin-left:-459.9px;
}
#P638_21
{
left:0px;letter-spacing:4.9px;margin-left:4.4px;
}
#P638_22
{
left:0px;letter-spacing:4.4px;margin-left:-6px;
}
#P638_23
{
left:5433.11px;bottom:28659.4px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P638_24
{
left:12301.4px;bottom:28684px;color:white;
}
#P638_25
{
left:15198.4px;bottom:28875.8px;color:white;
}
#P638_26
{
left:15438.6px;bottom:28684px;color:white;
}
#P638_27
{
left:15918.9px;bottom:28875.8px;color:white;
}
#P638_28
{
left:16159.1px;bottom:28684px;word-spacing:-31.9px;color:white;
}
#P638_29
{
left:0px;letter-spacing:0px;margin-left:-47.4px;
}
#P638_30
{
left:0px;letter-spacing:0px;margin-left:31.9px;
}
#P638_31
{
left:24963.6px;bottom:28875.8px;color:white;
}
#P638_32
{
left:25203.8px;bottom:28684px;color:white;
}
#P638_33
{
left:25539.9px;bottom:28875.8px;color:white;
}
#P638_34
{
left:25780.1px;bottom:28684px;letter-spacing:2.4px;word-spacing:-31.9px;color:white;
}
#P638_35
{
left:0px;letter-spacing:-3.1px;margin-left:-2.4px;
}
#P638_36
{
left:31335.1px;bottom:28875.8px;color:white;
}
#P638_37
{
left:31575.3px;bottom:28684px;color:white;
}
#P638_38
{
left:10457px;bottom:28516.8px;
}
#P638_39
{
left:10457px;bottom:28516.8px;color:white;
}
#P638_40
{
left:10759.4px;bottom:26977.3px;letter-spacing:-10.5px;color:rgb(35,31,31);
}
#P638_41
{
left:0px;letter-spacing:0px;margin-left:10.5px;
}
#P638_42
{
left:19643.2px;bottom:26982.9px;color:rgb(35,31,31);
}
#P638_43
{
left:20006.4px;bottom:26977.3px;color:rgb(35,31,31);
}
#P638_44
{
left:21560.1px;bottom:26982.9px;color:rgb(35,31,31);
}
#P638_45
{
left:21904.3px;bottom:26977.3px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P638_46
{
left:0px;letter-spacing:-0.8px;margin-left:0.8px;
}
#P638_47
{
left:0px;letter-spacing:0px;margin-left:-6.1px;
}
#P638_48
{
left:10759.4px;bottom:25825.3px;color:rgb(35,31,31);
}
#P638_49
{
left:10887.4px;bottom:25825.3px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P638_50
{
left:12782.8px;bottom:25559.5px;color:rgb(35,31,31);
}
#P638_51
{
left:14916.6px;bottom:25540.7px;letter-spacing:2161.8px;color:rgb(35,31,31);
}
#P638_52
{
left:12782.8px;bottom:24407.5px;color:rgb(35,31,31);
}
#P638_53
{
left:14916.6px;bottom:24388.7px;letter-spacing:2161.8px;color:rgb(35,31,31);
}
#P638_54
{
left:0px;letter-spacing:0px;margin-left:-178.2px;
}
#P638_55
{
left:0px;letter-spacing:0px;
}
#P638_56
{
left:21389.4px;bottom:25825.3px;color:rgb(35,31,31);
}
#P638_57
{
left:23291.2px;bottom:25825.3px;letter-spacing:-17.4px;color:rgb(35,31,31);
}
#P638_58
{
left:25262.8px;bottom:25560.8px;color:rgb(35,31,31);
}
#P638_59
{
left:27396.6px;bottom:25542px;letter-spacing:2161.8px;color:rgb(35,31,31);
}
#P638_60
{
left:25262.8px;bottom:24408.8px;color:rgb(35,31,31);
}
#P638_61
{
left:27396.6px;bottom:24390px;letter-spacing:2161.8px;color:rgb(35,31,31);
}
#P638_62
{
left:10759.4px;bottom:22753.3px;color:rgb(35,31,31);
}
#P638_63
{
left:10887.4px;bottom:22753.3px;letter-spacing:1068.2px;color:rgb(35,31,31);
}
#P638_64
{
left:12103.4px;bottom:22753.3px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P638_65
{
left:23879.4px;bottom:22753.3px;letter-spacing:556.2px;color:rgb(35,31,31);
}
#P638_66
{
left:24583.4px;bottom:22753.3px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P638_67
{
left: 12009.4px;bottom:21857.3px;letter-spacing:-30.4px;color:rgb(35,31,31);
}
#P638_67a
{
left: 24609.4px;bottom:21857.3px;letter-spacing:-30.4px;color:rgb(35,31,31);
}
#P638_68
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P638_69
{
left:0px;letter-spacing:-0.7px;margin-left:-8.4px;
}
#P638_70
{
left:0px;letter-spacing:-1px;margin-left:0.7px;
}
#P638_71
{
left:0px;letter-spacing:0px;margin-left:1750.4px;
}
#P638_72
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P638_73
{
left:0px;letter-spacing:-0.7px;margin-left:-8.4px;
}
#P638_74
{
left:0px;letter-spacing:-1.1px;margin-left:0.7px;
}
#P638_75
{
left:10759.4px;bottom:14305.3px;color:rgb(35,31,31);
}
#P638_76
{
left:10887.4px;bottom:14305.3px;color:rgb(35,31,31);
}
#P638_77
{
left:18858.5px;bottom:14566.6px;color:rgb(35,31,31);
}
#P638_78
{
left:12530.2px;bottom:20977px;color:rgb(35,31,31);
}
#P638_79
{
left:14388.3px;bottom:14619.4px;color:rgb(35,31,31);
}
#P638_80
{
left:12535.5px;bottom:16505.3px;color:rgb(35,31,31);
}
#P638_81
{
left:15910.9px;bottom:14626.6px;color:rgb(33,31,31);
}
#P638_82
{
left:17444.4px;bottom:14623.7px;color:rgb(33,31,31);
}
#P638_83
{
left:12535.6px;bottom:18041.5px;color:rgb(33,31,31);
}
#P638_84
{
left:12268.8px;bottom:19577.8px;color:rgb(33,31,31);
}
#P638_85
{
left:12535.6px;bottom:14969px;color:rgb(33,31,31);
}
#P638_86
{
left:12831.3px;bottom:14639.7px;color:rgb(33,31,31);
}
#P638_87
{
left:13073.3px;bottom:17619.7px;color:rgb(0,124,196);
}
#P638_88
{
left:14618.9px;bottom:18384.5px;color:rgb(0,124,196);
}
#P638_89
{
left:15823.8px;bottom:19154.4px;color:rgb(0,124,196);
}
#P638_90
{
left:19518.9px;bottom:14305.3px;letter-spacing:4212.7px;color:rgb(35,31,31);
}
#P638_91
{
left:31107px;bottom:14566.6px;color:rgb(35,31,31);
}
#P638_92
{
left:24778.6px;bottom:20977px;color:rgb(35,31,31);
}
#P638_93
{
left:26636.7px;bottom:14619.4px;color:rgb(35,31,31);
}
#P638_94
{
left:24783.9px;bottom:16501px;color:rgb(35,31,31);
}
#P638_95
{
left:28159.3px;bottom:14626.1px;color:rgb(33,31,31);
}
#P638_96
{
left:29692.8px;bottom:14623.7px;color:rgb(33,31,31);
}
#P638_97
{
left:24784px;bottom:18033px;color:rgb(33,31,31);
}
#P638_98
{
left:24784px;bottom:19565px;color:rgb(33,31,31);
}
#P638_99
{
left:24784px;bottom:14969px;color:rgb(33,31,31);
}
#P638_100
{
left:25079.7px;bottom:14639.7px;color:rgb(33,31,31);
}
#P638_101
{
left:26094.6px;bottom:16111.7px;color:rgb(0,124,196);
}
#P638_102
{
left:26845.6px;bottom:17638.5px;color:rgb(0,124,196);
}
#P638_103
{
left:27602.9px;bottom:19165.3px;color:rgb(0,124,196);
}
#P638_104
{
left:10759.4px;bottom:13025.3px;color:rgb(35,31,31);
}
#P638_105
{
left:10887.4px;bottom:13025.3px;letter-spacing:1068.2px;color:rgb(35,31,31);
}
#P638_106
{
left:12103.4px;bottom:13025.3px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P638_107
{
left:23879.4px;bottom:13025.3px;color:rgb(35,31,31);
}
#P638_108
{
left:24583.4px;bottom:13025.3px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P638_109
{
left: 12119.4px;bottom:12129.3px;letter-spacing:-30.4px;color:rgb(35,31,31);
}
#P638_109a
{
left: 24649.4px;bottom:12129.3px;letter-spacing:-30.4px;color:rgb(35,31,31);
}
#P638_110
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P638_111
{
left:0px;letter-spacing:0px;
}
#P638_112
{
left:0px;letter-spacing:0px;margin-left:2809.4px;
}
#P638_113
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P638_114
{
left:0px;
letter-spacing: 0px;
}
#P638_115
{
left:10759.4px;bottom:10849.3px;color:rgb(35,31,31);
}
#P638_116
{
left:10887.4px;bottom:10849.3px;color:rgb(35,31,31);
}
#P638_117
{
left:12687.4px;bottom:10657.3px;letter-spacing:556.2px;color:rgb(35,31,31);
}
#P638_118
{
left:13391.4px;bottom:10849.3px;letter-spacing:-12.2px;color:rgb(35,31,31);
}
#P638_119
{
left:14487px;bottom:10849.3px;color:rgb(35,31,31);
}
#P638_120
{
left:14850.3px;bottom:10849.3px;color:rgb(35,31,31);
}
#P638_121
{
left:16392px;bottom:10849.3px;color:rgb(35,31,31);
}
#P638_122
{
left:16721.5px;bottom:10849.3px;letter-spacing:-1.1px;color:rgb(35,31,31);
}
#P638_123
{
left:23879.4px;bottom:10849.3px;color:rgb(35,31,31);
}
#P638_124
{
left:25167.4px;bottom:10657.3px;color:rgb(35,31,31);
}
#P638_125
{
left:25871.4px;bottom:10849.3px;letter-spacing:-12.2px;color:rgb(35,31,31);
}
#P638_126
{
left:26967px;bottom:10849.3px;color:rgb(35,31,31);
}
#P638_127
{
left:27330.3px;bottom:10849.3px;color:rgb(35,31,31);
}
#P638_128
{
left:28872px;bottom:10849.3px;color:rgb(35,31,31);
}
#P638_129
{
left:29201.5px;bottom:10849.3px;letter-spacing:-1.7px;color:rgb(35,31,31);
}
#P638_130
{
left:13391.4px;bottom:9953.26px;letter-spacing:0px;color:rgb(35,31,31);
}
#P638_130a
{left: 25861.4px;bottom:9953.26px;letter-spacing:0px;color:rgb(35,31,31);
}
#P638_131
{
left:0px;letter-spacing:-2.8px;margin-left:0.9px;
}
#P638_132
{
left:0px;letter-spacing:0px;margin-left:2.8px;
}
#P638_133
{
left:0px;letter-spacing:0px;margin-left:2099.1px;
}
#P638_134
{
left:0px;letter-spacing:0px;margin-left:545.6px;
}
#P638_135
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P638_136
{
left:0px;letter-spacing:-1px;
}
#P638_137
{
left: 0px;letter-spacing:-2.8px;margin-left:1px;
}
#P638_138
{
left:3085.36px;bottom:6928.62px;letter-spacing:-10.5px;color:rgb(35,31,31);
}
#P638_139
{
left:0px;letter-spacing:0px;margin-left:10.5px;
}
#P638_140
{
left:11969px;bottom:6934.25px;color:rgb(35,31,31);
}
#P638_141
{
left:12332.3px;bottom:6928.62px;color:rgb(35,31,31);
}
#P638_142
{
left:13886px;bottom:6934.25px;color:rgb(35,31,31);
}
#P638_143
{
left:14230.2px;bottom:6928.62px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P638_144
{
left:0px;letter-spacing:-1.2px;margin-left:0.8px;
}
#P638_145
{
left:3085.4px;bottom:5782.82px;color:rgb(35,31,31);
}
#P638_146
{
left:3522.23px;bottom:5801.82px;color:rgb(35,31,31);
}
#P638_147
{
left:5428.76px;bottom:5510.76px;color:rgb(35,31,31);
}
#P638_148
{
left:7562.59px;bottom:5491.95px;letter-spacing:2161.8px;color:rgb(35,31,31);
}
#P638_149
{
left:5428.76px;bottom:4358.76px;color:rgb(35,31,31);
}
#P638_150
{
left:7562.59px;bottom:4339.95px;letter-spacing:2161.8px;color:rgb(35,31,31);
}
#P638_151
{
left:14035.4px;bottom:5782.82px;color:rgb(35,31,31);
}
#P638_152
{
left:18818.3px;bottom:5801.82px;color:rgb(35,31,31);
}
#P638_153
{
left:20724.8px;bottom:5512.04px;color:rgb(35,31,31);
}
#P638_154
{
left:22858.6px;bottom:5493.23px;letter-spacing:2161.8px;color:rgb(35,31,31);
}
#P638_155
{
left:20724.8px;bottom:4360.04px;color:rgb(35,31,31);
}
#P638_156
{
left:22591.4px;bottom:4341.23px;color:rgb(35,31,31);
}
#P638_157
{
left:0px;letter-spacing:0px;margin-left:1627.5px;
}
#P638_158
{
left:0px;letter-spacing:0px;margin-left:1627.6px;
}
#P638_159
{
left:0px;letter-spacing:0px;margin-left:1627.4px;
}
#P638_160
{
left:10045.4px;bottom:44601.3px;letter-spacing:-1.1px;color:rgb(35,31,31);
}
#P638_161
{
left:0px;letter-spacing:-0.6px;margin-left:1.1px;
}
#P638_162
{
left:0px;letter-spacing:-1.4px;margin-left:-6.4px;
}
#P638_163
{
left:34211.6px;bottom:35654.1px;color:rgb(35,31,31);
}
#P638_164
{
left:23275.3px;bottom:43600.5px;color:rgb(35,31,31);
}
#P638_165
{
left:24365.4px;bottom:35706.9px;letter-spacing:501.1px;color:rgb(35,31,31);
}
#P638_166
{
left:23280.6px;bottom:36824.9px;color:rgb(35,31,31);
}
#P638_167
{
left:23280.6px;bottom:37592.9px;color:rgb(35,31,31);
}
#P638_168
{
left:23280.6px;bottom:38360.9px;color:rgb(35,31,31);
}
#P638_169
{
left:26656px;bottom:35713.6px;color:rgb(33,31,31);
}
#P638_170
{
left:27421.1px;bottom:35711.3px;letter-spacing:501.3px;color:rgb(33,31,31);
}
#P638_171
{
left:27091px;bottom:34783.8px;color:rgb(33,31,31);
}
#P638_172
{
left:22654.2px;bottom:38013px;color:rgb(33,31,31);
}
#P638_173
{
left:29725.5px;bottom:35711.3px;color:rgb(33,31,31);
}
#P638_174
{
left:0px;letter-spacing:0px;margin-left:501.1px;
}
#P638_175
{
left:0px;letter-spacing:0px;margin-left:367.7px;
}
#P638_176
{
left:0px;letter-spacing:0px;margin-left:234.2px;
}
#P638_177
{
left:0px;letter-spacing:0px;margin-left:234.2px;
}
#P638_178
{
left:0px;letter-spacing:0px;margin-left:234.2px;
}
#P638_179
{
left:23280.7px;bottom:39129.1px;color:rgb(33,31,31);
}
#P638_180
{
left:23280.7px;bottom:39897.1px;color:rgb(33,31,31);
}
#P638_181
{
left:23280.7px;bottom:40665.3px;color:rgb(33,31,31);
}
#P638_182
{
left:23280.7px;bottom:41433.5px;color:rgb(33,31,31);
}
#P638_183
{
left:23280.7px;bottom:42201.6px;color:rgb(33,31,31);
}
#P638_184
{
left:23280.7px;bottom:42969.8px;color:rgb(33,31,31);
}
#P638_185
{
left:23280.7px;bottom:36056.6px;color:rgb(33,31,31);
}
#P638_186
{
left:23576.3px;bottom:35727.3px;color:rgb(33,31,31);
}
#P638_187
{
left:28433px;bottom:38253.7px;color:rgb(235,26,35);
}
#P638_188
{
left:28912.9px;bottom:38307.9px;color:rgb(235,26,35);
}
#P638_189
{
left:26757.5px;bottom:37117.3px;color:rgb(0,124,196);
}
#P638_190
{
left:27237.3px;bottom:37171.4px;color:rgb(0,124,196);
}
#P638_191
{
left:30737px;bottom:39789.7px;color:rgb(235,26,35);
}
#P638_192
{
left:31216.9px;bottom:39843.9px;color:rgb(235,26,35);
}
#P638_193
{
left:29061.5px;bottom:38653.3px;color:rgb(0,124,196);
}
#P638_194
{
left:29541.3px;bottom:38707.4px;color:rgb(0,124,196);
}
#P638_195
{
left:33041.1px;bottom:41325.7px;color:rgb(235,26,35);
}
#P638_196
{
left:33520.9px;bottom:41379.9px;color:rgb(235,26,35);
}
#P638_197
{
left:31365.5px;bottom:40189.3px;color:rgb(0,124,196);
}
#P638_198
{
left:31845.3px;bottom:40243.4px;color:rgb(0,124,196);
}
#P638_199
{
left:24602.7px;bottom:37931.7px;color:rgb(0,145,68);
}
#P638_200
{
left:26858.6px;bottom:39481.8px;color:rgb(0,145,68);
}
#P638_201
{
left:29172.2px;bottom:40999.8px;color:rgb(0,145,68);
}
#P638_202
{
left:31163.2px;bottom:42537.1px;color:rgb(0,145,68);
}
#P638_203
{
left:10109.4px;bottom:33273.3px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P638_204
{
left:0px;letter-spacing:-1.5px;margin-left:-6.5px;
}
#P638_205
{
left:0px;letter-spacing:-0.2px;margin-left:1.5px;
}
#P638_206
{
left:31475.9px;bottom:33273.3px;letter-spacing:-2px;color:rgb(35,31,31);
}
#P638_207
{
left:10109.4px;bottom:32377.3px;color:rgb(35,31,31);
}
#P638_208
{
left:12533.9px;bottom:32377.3px;letter-spacing:-52.7px;color:rgb(35,31,31);
}
#P638_209
{
left:0px;letter-spacing:-0.2px;margin-left:52.7px;
}
#P638_210
{
left:0px;letter-spacing:0px;margin-left:-20.8px;
}
#P638_211
{
left:0px;letter-spacing:-0.7px;
}
#P638_212
{
left:10109.4px;bottom:31481.3px;letter-spacing:-1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P638_213
{
left:0px;letter-spacing:0.2px;margin-left:0.9px;
}
#P638_214
{
left:0px;letter-spacing:-0.7px;margin-left:-0.3px;
}
#P638_215
{
left:10109.4px;bottom:30585.3px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P638_216
{
left:4349.4px;bottom:19639.7px;color:rgb(35,31,31);
}
#P638_217
{
left:4722.46px;bottom:19668.1px;letter-spacing:-10.2px;color:rgb(35,31,31);
}
#P638_218
{
left:6739.93px;bottom:19639.7px;color:rgb(35,31,31);
}
#P638_219
{
left:4349.34px;bottom:18935.7px;letter-spacing:-14.1px;color:rgb(35,31,31);
}
#P638_220
{
left:5060.31px;bottom:18964.1px;letter-spacing:-10.4px;color:rgb(35,31,31);
}
#P638_221
{
left:2413.39px;bottom:18067.2px;letter-spacing:3.3px;color:rgb(35,31,31);
}
#P638_222
{
left:2413.39px;bottom:17283.9px;letter-spacing:-3.3px;word-spacing:-0.7px;color:rgb(35,31,31);
}
#P638_223
{
left:0px;letter-spacing:0.6px;margin-left:4.9px;
}
#P638_224
{
left:0px;letter-spacing:-2.5px;margin-left:-2.6px;
}
#P638_225
{
left:0px;letter-spacing:-2.8px;margin-left:-2.2px;
}
#P638_226
{
left:2413.39px;bottom:16662.2px;color:rgb(35,31,31);
}
#P638_227
{
left:2663.3px;bottom:16443.9px;color:rgb(35,31,31);
}
#P638_228
{
left:3008.26px;bottom:16483.9px;letter-spacing:-130.6px;color:rgb(35,31,31);
}
#P638_229
{
left:0px;letter-spacing:-0.9px;margin-left:130px;
}
#P638_230
{
left:0px;letter-spacing:-2.7px;margin-left:-0.9px;
}
#P638_231
{
left:0px;letter-spacing:-0.1px;margin-left:2.3px;
}
#P638_232
{
left:3008.26px;bottom:15843.9px;letter-spacing:1.3px;color:rgb(35,31,31);
}
#P638_233
{
left:0px;letter-spacing:-2.7px;margin-left:-3.5px;
}
#P638_234
{
left:0px;letter-spacing:2px;margin-left:3.3px;
}
#P638_235
{
left:3008.26px;bottom:15203.9px;letter-spacing:1.6px;word-spacing:-6.1px;color:rgb(35,31,31);
}
#P638_236
{
left:0px;letter-spacing:0.7px;margin-left:-0.9px;
}
#P638_237
{
left:2413.39px;bottom:14710.2px;color:rgb(35,31,31);
}
#P638_238
{
left:2663.3px;bottom:14491.9px;letter-spacing:186.6px;color:rgb(35,31,31);
}
#P638_239
{
left:3008.26px;bottom:14531.9px;letter-spacing:-0.3px;word-spacing:-1.6px;color:rgb(35,31,31);
}
#P638_240
{
left:0px;letter-spacing:-1.5px;margin-left:-3.5px;
}
#P638_241
{
left:3008.26px;bottom:13891.9px;letter-spacing:2.9px;word-spacing:-6px;color:rgb(35,31,31);
}
#P638_242
{
left:0px;letter-spacing:-1.4px;margin-left:-2.3px;
}
#P638_243
{
left:0px;letter-spacing:-0.2px;margin-left:2px;
}
#P638_244
{
left:2413.4px;bottom:13123.9px;letter-spacing:-1.5px;word-spacing:-5.3px;color:rgb(35,31,31);
}
#P638_245
{
left:0px;letter-spacing:-0.1px;margin-left:8.7px;
}
#P638_246
{
left:2413.4px;bottom:12483.8px;letter-spacing:-18.4px;color:rgb(35,31,31);
}
#P638_247
{
left:0px;letter-spacing:0px;margin-left:19.3px;
}
#P638_248
{
left:0px;letter-spacing:0px;margin-left:-51.7px;
}
#P638_249
{
left:0px;letter-spacing:-6.2px;margin-left:10.6px;
}
#P638_250
{
left:2413.4px;bottom:11843.8px;letter-spacing:-18.4px;color:rgb(35,31,31);
}
#P638_251
{
left:0px;letter-spacing:0px;margin-left:19.3px;
}
#P638_252
{
left:0px;letter-spacing:0px;margin-left:-51.7px;
}
#P638_253
{
left:0px;letter-spacing:-8px;margin-left:10.6px;
}
#P638_254
{
left:2413.4px;bottom:11203.8px;letter-spacing:-18.4px;color:rgb(35,31,31);
}
#P638_255
{
left:0px;letter-spacing:0px;margin-left:19.3px;
}
#P638_256
{
left:0px;letter-spacing:0px;margin-left:-51.7px;
}
#P638_257
{
left:0px;letter-spacing:-12.3px;margin-left:10.6px;
}
#P638_258
{
left:26074.6px;bottom:44601.3px;
}
#P638_259
{
left:26785.2px;bottom:46188.3px;word-spacing:0.2px;color:rgb(33,31,31);
}
#P638_260
{
left:0px;letter-spacing:0px;margin-left:-44.8px;
}
#P638_261
{
left:0px;letter-spacing:0px;margin-left:0.2px;
}
#P638_262
{
left:19924.2px;bottom:39563.8px;color:rgb(235,26,35);
}
#P638_263
{
left:20617.3px;bottom:39590.6px;color:rgb(235,26,35);
}
#P638_264
{
left:19944.2px;bottom:38175px;color:rgb(235,26,35);
}
#P638_265
{
left:20637.3px;bottom:38201.8px;color:rgb(235,26,35);
}
#P638_266
{
left:19944.2px;bottom:36860.8px;color:rgb(235,26,35);
}
#P638_267
{
left:20637.3px;bottom:36887.7px;color:rgb(235,26,35);
}
#P638_268
{
left:11228.4px;bottom:42332.1px;color:rgb(35,31,31);
}
#P638_269
{
left:13133.5px;bottom:42332.1px;color:rgb(35,31,31);
}
#P638_270
{
left:13507.1px;bottom:42332.1px;color:rgb(35,31,31);
}
#P638_271
{
left:10893.7px;bottom:41500.1px;color:rgb(35,31,31);
}
#P638_272
{
left:15491.9px;bottom:42332.1px;color:rgb(35,31,31);
}
#P638_273
{
left:17993.7px;bottom:42332.1px;color:rgb(35,31,31);
}
#P638_274
{
left:18367.3px;bottom:42332.1px;color:rgb(35,31,31);
}
#P638_275
{
left:15622.9px;bottom:41500.1px;color:rgb(35,31,31);
}
#P638_276
{
left:12181.2px;bottom:40153.3px;letter-spacing:4188.8px;color:rgb(35,31,31);
}
#P638_277
{
left:12181.2px;bottom:38809.3px;letter-spacing:4188.8px;color:rgb(35,31,31);
}
#P638_278
{
left:12181.2px;bottom:37465.3px;letter-spacing:4188.8px;color:rgb(35,31,31);
}
#P638_279
{
left:11994.6px;bottom:36121.3px;color:rgb(35,31,31);
}
#P638_280
{
left:0px;letter-spacing:0px;margin-left:4002.2px;
}
#P638_281
{
left:8212.25px;bottom:38138.7px;color:rgb(0,124,196);
}
#P638_282
{
left:8905.31px;bottom:38165.5px;color:rgb(0,124,196);
}
#P638_283
{
left:8190.87px;bottom:36805.4px;color:rgb(0,124,196);
}
#P638_284
{
left:8883.99px;bottom:36832.2px;color:rgb(0,124,196);
}
#P638_285
{
left:8190.87px;bottom:39551px;color:rgb(0,124,196);
}
#P638_286
{
left:8883.99px;bottom:39577.8px;color:rgb(0,124,196);
}
#PageContainer638
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg638.jpg");background-repeat:no-repeat;background-size: 942px 1221px; background-position: 0px 35.76px;
}
#ImageContainer638 {bottom:107.24px;left:0.00px;width:942.01px;height:1221.27px;position:absolute;} #TextContainer638 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.rpj{ position: absolute; top: 71px; left: 682px;}
.srpj{ position: absolute; top: -1px; left: 682px;}
.math_paper{ position: absolute; top: 559px; left: 98px;}
.example1{position: absolute; top: 556px; left: 49px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}