.tr231{ color:transparent;}
#P231_1
{
left:4592.6px;bottom:1544.43px;color:rgb(35,31,31);
}
#P231_2
{
left:28254.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P231_3
{
left:31526.9px;bottom:1544.43px;letter-spacing:462.1px;color:rgb(35,31,31);
}
#P231_4
{
left:0px;letter-spacing:2.2px;margin-left:-461.8px;
}
#P231_5
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P231_6
{
left:11555.5px;bottom:43266.7px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P231_7
{
left:0px;letter-spacing:0.4px;margin-left:14.1px;
}
#P231_8
{
left:0px;letter-spacing:-14px;margin-left:-42.5px;
}
#P231_9
{
left:0px;letter-spacing:0px;margin-left:-17.6px;
}
#P231_10
{
left:0px;letter-spacing:-0.3px;
}
#P231_11
{
left:0px;letter-spacing:0px;margin-left:-27.7px;
}
#P231_12
{
left:0px;letter-spacing:-2.6px;
}
#P231_13
{
left:0px;letter-spacing:0px;margin-left:2.6px;
}
#P231_14
{
left:11555.5px;bottom:42370.7px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P231_15
{
left:0px;letter-spacing:0px;margin-left:-41.4px;
}
#P231_16
{
left:11555.5px;bottom:41282.7px;color:rgb(35,31,31);
}
#P231_17
{
left:11683.5px;bottom:41282.7px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P231_18
{
left:12899.5px;bottom:41282.7px;letter-spacing:-10.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P231_19
{
left:0px;letter-spacing:-0.2px;margin-left:10.4px;
}
#P231_20
{
left:11555.5px;bottom:40194.6px;color:rgb(35,31,31);
}
#P231_21
{
left:11683.5px;bottom:40194.6px;letter-spacing:-17.5px;color:rgb(35,31,31);
}
#P231_22
{
left:12899.5px;bottom:40194.6px;letter-spacing:-10.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P231_23
{
left:0px;letter-spacing:0.4px;margin-left:10.4px;
}
#P231_24
{
left:11555.5px;bottom:39106.6px;color:rgb(35,31,31);
}
#P231_25
{
left:11683.5px;bottom:39106.6px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P231_26
{
left:12899.5px;bottom:39106.6px;letter-spacing:-10.5px;color:rgb(35,31,31);
}
#P231_27
{
left:0px;letter-spacing:-0.5px;margin-left:10.5px;
}
#P231_28
{
left:0px;letter-spacing:-3.7px;margin-left:-7.9px;
}
#P231_29
{
left:0px;letter-spacing:-0.8px;margin-left:3.7px;
}
#P231_30
{
left:11555.5px;bottom:38018.5px;color:rgb(35,31,31);
}
#P231_31
{
left:11683.5px;bottom:38018.5px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P231_32
{
left:12899.5px;bottom:38018.5px;letter-spacing:-10.5px;color:rgb(35,31,31);
}
#P231_33
{
left:0px;letter-spacing:-0.8px;margin-left:10.5px;
}
#P231_34
{
left:0px;letter-spacing:-0.5px;margin-left:0.8px;
}
#P231_35
{
left:12433.7px;bottom:34357px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P231_36
{
left:15858.8px;bottom:34548.8px;color:rgb(255,223,126);
}
#P231_37
{
left:16483.5px;bottom:34357px;word-spacing:207.4px;color:white;
}
#P231_38
{
left:17395.9px;bottom:34548.8px;color:white;
}
#P231_39
{
left:17636.1px;bottom:34357px;color:white;
}
#P231_40
{
left:26216.5px;bottom:34548.8px;color:white;
}
#P231_41
{
left:26456.7px;bottom:34357px;
}
#P231_42
{
left:10717.4px;bottom:34233.5px;
}
#P231_43
{
left:10717.4px;bottom:34233.5px;color:white;
}
#P231_44
{
left:12433.7px;bottom:44890.9px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P231_45
{
left:15858.8px;bottom:45082.7px;color:rgb(255,223,126);
}
#P231_46
{
left:16051.5px;bottom:44890.9px;letter-spacing:207.4px;color:white;
}
#P231_47
{
left:16899.1px;bottom:45082.7px;color:white;
}
#P231_48
{
left:17139.3px;bottom:44890.9px;color:white;
}
#P231_49
{
left:18115.6px;bottom:45082.7px;color:white;
}
#P231_50
{
left:18355.8px;bottom:44890.9px;color:white;
}
#P231_51
{
left:20981.5px;bottom:45082.7px;color:white;
}
#P231_52
{
left:21221.7px;bottom:44890.9px;color:white;
}
#P231_53
{
left:10717.4px;bottom:44767.3px;
}
#P231_54
{
left:10717.4px;bottom:44767.3px;color:white;
}
#P231_55
{
left:14845.4px;bottom:4204.65px;letter-spacing:228.8px;color:rgb(0,124,196);
}
#P231_56
{
left:15261.4px;bottom:4236.65px;letter-spacing:-9.3px;color:rgb(35,31,31);
}
#P231_57
{
left:0px;letter-spacing:-0.2px;margin-left:9.3px;
}
#P231_58
{
left:0px;letter-spacing:0px;margin-left:-13.7px;
}
#P231_59
{
left:15261.4px;bottom:3340.67px;color:rgb(35,31,31);
}
#P231_60
{
left:11555.5px;bottom:32755.1px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P231_61
{
left:0px;letter-spacing:0.4px;margin-left:14.1px;
}
#P231_62
{
left:0px;letter-spacing:-14px;margin-left:-42.5px;
}
#P231_63
{
left:0px;letter-spacing:0px;margin-left:5.6px;
}
#P231_64
{
left:11555.5px;bottom:31859.1px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P231_65
{
left:0px;letter-spacing:-7px;margin-left:0.7px;
}
#P231_66
{
left:11555.5px;bottom:30963.1px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P231_67
{
left:0px;letter-spacing:0px;margin-left:-13.8px;
}
#P231_68
{
left:11555.5px;bottom:30067.1px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P231_69
{
left:11555.5px;bottom:28787.1px;color:rgb(35,31,31);
}
#P231_70
{
left:11683.5px;bottom:28787.1px;letter-spacing:-14px;word-spacing:516.1px;color:rgb(35,31,31);
}
#P231_71
{
left:12899.5px;bottom:28787.1px;letter-spacing:-9.3px;color:rgb(35,31,31);
}
#P231_72
{
left:0px;letter-spacing:-0.4px;margin-left:9.3px;
}
#P231_73
{
left:12899.5px;bottom:27891.1px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P231_74
{
left:11555.5px;bottom:22963.1px;color:rgb(35,31,31);
}
#P231_75
{
left:11683.5px;bottom:22963.1px;color:rgb(35,31,31);
}
#P231_76
{
left:13097.8px;bottom:23938.9px;color:rgb(33,31,31);
}
#P231_77
{
left:13097.8px;bottom:23264.4px;color:rgb(33,31,31);
}
#P231_78
{
left:13097.8px;bottom:26591.4px;color:rgb(33,31,31);
}
#P231_79
{
left:17438.9px;bottom:23938.9px;letter-spacing:4056.6px;color:rgb(33,31,31);
}
#P231_80
{
left:0px;letter-spacing:0px;margin-left:-142.3px;
}
#P231_81
{
left:0px;letter-spacing:0px;
}
#P231_82
{
left:13098.6px;bottom:25965.4px;color:rgb(33,31,31);
}
#P231_83
{
left:11555.5px;bottom:21875.1px;color:rgb(35,31,31);
}
#P231_84
{
left:11683.5px;bottom:21875.1px;letter-spacing:-13.9px;word-spacing:486.9px;color:rgb(35,31,31);
}
#P231_85
{
left:12899.5px;bottom:21875.1px;color:rgb(35,31,31);
}
#P231_86
{
left:0px;letter-spacing:0px;margin-left:-4.2px;
}
#P231_87
{
left:0px;letter-spacing:0px;margin-left:-21px;
}
#P231_88
{
left:0px;letter-spacing:0px;margin-left:-214.9px;
}
#P231_89
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P231_90
{
left:12899.5px;bottom:20979.1px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P231_91
{
left:11555.5px;bottom:19891.1px;color:rgb(35,31,31);
}
#P231_92
{
left:11683.5px;bottom:19891.1px;letter-spacing:-14px;word-spacing:551.3px;color:rgb(35,31,31);
}
#P231_93
{
left:12899.5px;bottom:19891.1px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P231_94
{
left:0px;letter-spacing:0px;margin-left:-13.7px;
}
#P231_95
{
left:12899.5px;bottom:18995.1px;letter-spacing:-2.5px;color:rgb(35,31,31);
}
#P231_96
{
left:0px;letter-spacing:-0.6px;margin-left:2.5px;
}
#P231_97
{
left:0px;letter-spacing:0px;margin-left:-41.5px;
}
#P231_98
{
left:11555.5px;bottom:17907.1px;color:rgb(35,31,31);
}
#P231_99
{
left:11683.5px;bottom:17907.1px;letter-spacing:-14px;word-spacing:473.2px;color:rgb(35,31,31);
}
#P231_100
{
left:12899.5px;bottom:17907.1px;letter-spacing:-10.5px;color:rgb(35,31,31);
}
#P231_101
{
left:0px;letter-spacing:-0.6px;margin-left:10.5px;
}
#P231_102
{
left:0px;letter-spacing:0px;margin-left:-214.1px;
}
#P231_103
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P231_104
{
left:0px;letter-spacing:-0.2px;
}
#P231_105
{
left:12899.5px;bottom:17011.1px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P231_106
{
left:10534.6px;bottom:12605.7px;color:rgb(35,31,31);
}
#P231_107
{
left:10929px;bottom:12632.5px;word-spacing:394.4px;color:rgb(35,31,31);
}
#P231_108
{
left:12070.6px;bottom:12625.4px;word-spacing:-26px;color:rgb(2,77,161);
}
#P231_109
{
left:0px;letter-spacing:0px;margin-left:-26px;
}
#P231_110
{
left:0px;letter-spacing:0px;margin-left:26px;
}
#P231_111
{
left:19230.5px;bottom:12605.7px;letter-spacing:-10.5px;color:rgb(35,31,31);
}
#P231_112
{
left:0px;letter-spacing:-0.1px;margin-left:10.5px;
}
#P231_113
{
left:12070.6px;bottom:11709.7px;letter-spacing:-1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P231_114
{
left:0px;letter-spacing:0px;margin-left:-7.5px;
}
#P231_115
{
left:10534.6px;bottom:10365.7px;color:rgb(35,31,31);
}
#P231_116
{
left:10929px;bottom:10392.5px;word-spacing:394.4px;color:rgb(35,31,31);
}
#P231_117
{
left:12070.6px;bottom:10385.4px;color:rgb(2,77,161);
}
#P231_118
{
left:15825.7px;bottom:10365.7px;letter-spacing:-9.3px;color:rgb(35,31,31);
}
#P231_119
{
left:0px;letter-spacing:0.1px;margin-left:9.3px;
}
#P231_120
{
left:12070.6px;bottom:9469.68px;letter-spacing:-5.9px;color:rgb(35,31,31);
}
#P231_121
{
left:0px;letter-spacing:-3.5px;margin-left:5.9px;
}
#P231_122
{
left:0px;letter-spacing:-0.1px;margin-left:3.5px;
}
#P231_123
{
left:12070.6px;bottom:8573.74px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P231_124
{
left:0px;letter-spacing:0px;margin-left:-41.3px;
}
#P231_125
{
left:0px;letter-spacing:-0.1px;
}
#P231_126
{
left:12070.6px;bottom:7677.74px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P231_127
{
left:26937px;bottom:34357px;
}
#P231_128
{
left:26914.9px;bottom:32755.1px;
}
#P231_129
{
left:27228.9px;bottom:32755.1px;color:rgb(33,31,31);
}
#P231_130
{
left:4941.34px;bottom:41054.8px;color:rgb(35,31,31);
}
#P231_131
{
left:4941.34px;bottom:40188px;color:rgb(35,31,31);
}
#P231_132
{
left:4941.34px;bottom:39452px;color:rgb(35,31,31);
}
#P231_133
{
left:0px;letter-spacing:0px;margin-left:-152px;
}
#P231_134
{
left:0px;letter-spacing:0px;margin-left:6.1px;
}
#P231_135
{
left:4941.34px;bottom:38716px;color:rgb(35,31,31);
}
#P231_136
{
left:4941.34px;bottom:37980.1px;color:rgb(35,31,31);
}
#P231_137
{
left:4690.71px;bottom:42838.7px;letter-spacing:-20.4px;color:white;
}
#P231_138
{
left:4690.71px;bottom:41878.6px;letter-spacing:-27.2px;color:white;
}
#P231_139
{
left:6669.79px;bottom:42135.4px;color:white;
}
#P231_140
{
left:6945.05px;bottom:41878.6px;letter-spacing:-27.2px;color:white;
}
#PageContainer231
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg231.jpg");background-repeat:no-repeat;background-size: 1056px 1279px; background-position: 0px -0.190000000000055px;
}
#ImageContainer231 {bottom:85.19px;left:0.00px;width:1056.16px;height:1278.97px;position:absolute;} #TextContainer231 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.practice{position:absolute;top: 1228px;left: 255px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}