.tr257{ color:transparent;}
#P257_1
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P257_2
{
left:22317.1px;bottom:1410.03px;color:rgb(35,31,31);
}
#P257_3
{
left:26871.7px;bottom:1410.03px;letter-spacing:1.4px;word-spacing:461.8px;color:rgb(35,31,31);
}
#P257_4
{
left:0px;letter-spacing:0px;margin-left:-463.3px;
}
#P257_5
{
left:0px;letter-spacing:1.7px;margin-left:0.3px;
}
#P257_6
{
left:0px;letter-spacing:0px;margin-left:-463.6px;
}
#P257_7
{
left:0px;letter-spacing:2.6px;margin-left:0.3px;
}
#P257_8
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P257_9
{
left:6909.4px;bottom:9861.04px;letter-spacing:-8.4px;color:rgb(35,31,31);
}
#P257_10
{
left:0px;letter-spacing:0px;margin-left:8.4px;
}
#P257_11
{
left:0px;letter-spacing:-28px;margin-left:-50.6px;
}
#P257_12
{
left:10515.6px;bottom:9861.04px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P257_13
{
left:6909.4px;bottom:8389.04px;color:rgb(35,31,31);
}
#P257_14
{
left:7086.55px;bottom:8408.75px;color:rgb(35,31,31);
}
#P257_15
{
left:8509.4px;bottom:8389.04px;color:rgb(35,31,31);
}
#P257_16
{
left:9600.6px;bottom:8359.47px;color:rgb(35,31,31);
}
#P257_17
{
left:10187px;bottom:8389.04px;color:rgb(35,31,31);
}
#P257_18
{
left:14382.5px;bottom:8408.75px;color:rgb(35,31,31);
}
#P257_19
{
left:15805.3px;bottom:8389.04px;color:rgb(35,31,31);
}
#P257_20
{
left:16896.5px;bottom:8359.47px;color:rgb(35,31,31);
}
#P257_21
{
left:17483px;bottom:8389.04px;color:rgb(35,31,31);
}
#P257_22
{
left:21806.6px;bottom:8408.75px;color:rgb(35,31,31);
}
#P257_23
{
left:23229.5px;bottom:8389.04px;color:rgb(35,31,31);
}
#P257_24
{
left:24693.8px;bottom:8359.47px;color:rgb(35,31,31);
}
#P257_25
{
left:25280.2px;bottom:8389.04px;color:rgb(35,31,31);
}
#P257_26
{
left:29166.6px;bottom:8408.75px;color:rgb(35,31,31);
}
#P257_27
{
left:30589.5px;bottom:8389.04px;color:rgb(35,31,31);
}
#P257_28
{
left:32053.8px;bottom:8359.47px;color:rgb(35,31,31);
}
#P257_29
{
left:32640.2px;bottom:8389.04px;color:rgb(35,31,31);
}
#P257_30
{
left:6909.47px;bottom:6213.04px;color:rgb(35,31,31);
}
#P257_31
{
left:7086.62px;bottom:6232.75px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P257_32
{
left:8573.4px;bottom:6232.75px;letter-spacing:-17.6px;color:rgb(2,77,161);
}
#P257_33
{
left:0px;letter-spacing:0px;margin-left:17.6px;
}
#P257_34
{
left:14049px;bottom:6213.04px;letter-spacing:151.5px;color:rgb(35,31,31);
}
#P257_35
{
left:0px;letter-spacing:0px;margin-left:-151.5px;
}
#P257_36
{
left:25958.6px;bottom:6213.04px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P257_37
{
left:6909.4px;bottom:4869.04px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P257_38
{
left:8486.49px;bottom:4912.42px;color:rgb(35,31,31);
}
#P257_39
{
left:8823.32px;bottom:5033.55px;color:rgb(35,31,31);
}
#P257_40
{
left:9469.4px;bottom:4869.04px;color:rgb(35,31,31);
}
#P257_41
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P257_42
{
left:15782.5px;bottom:4912.42px;color:rgb(35,31,31);
}
#P257_43
{
left:16119.3px;bottom:5033.55px;color:rgb(35,31,31);
}
#P257_44
{
left:16765.4px;bottom:4869.04px;color:rgb(35,31,31);
}
#P257_45
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P257_46
{
left:23270.5px;bottom:4912.42px;color:rgb(35,31,31);
}
#P257_47
{
left:23607.3px;bottom:5033.55px;color:rgb(35,31,31);
}
#P257_48
{
left:24253.4px;bottom:4869.04px;color:rgb(35,31,31);
}
#P257_49
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P257_50
{
left:30630.5px;bottom:4912.42px;color:rgb(35,31,31);
}
#P257_51
{
left:30967.3px;bottom:5033.55px;color:rgb(35,31,31);
}
#P257_52
{
left:31613.4px;bottom:4869.04px;color:rgb(35,31,31);
}
#P257_53
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P257_54
{
left:6973.4px;bottom:46562.9px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P257_55
{
left:0px;letter-spacing:-1.4px;margin-left:1px;
}
#P257_56
{
left:0px;letter-spacing:-14px;margin-left:1.4px;
}
#P257_57
{
left:0px;letter-spacing:0px;margin-left:14px;
}
#P257_58
{
left:22414.4px;bottom:46533.4px;color:rgb(35,31,31);
}
#P257_59
{
left:23000.8px;bottom:46562.9px;color:rgb(35,31,31);
}
#P257_60
{
left:6973.4px;bottom:45218.9px;color:rgb(35,31,31);
}
#P257_61
{
left:7150.55px;bottom:45238.6px;color:rgb(35,31,31);
}
#P257_62
{
left:8573.4px;bottom:45218.9px;color:rgb(35,31,31);
}
#P257_63
{
left:13105.8px;bottom:45026.9px;color:rgb(35,31,31);
}
#P257_64
{
left:13264.2px;bottom:45218.9px;color:rgb(35,31,31);
}
#P257_65
{
left:21934.6px;bottom:45238.6px;color:rgb(35,31,31);
}
#P257_66
{
left:23357.4px;bottom:45218.9px;color:rgb(35,31,31);
}
#P257_67
{
left:27889.8px;bottom:45026.9px;color:rgb(35,31,31);
}
#P257_68
{
left:28048.2px;bottom:45218.9px;color:rgb(35,31,31);
}
#P257_69
{
left:6973.4px;bottom:43874.9px;color:rgb(35,31,31);
}
#P257_70
{
left:7150.55px;bottom:43894.6px;color:rgb(35,31,31);
}
#P257_71
{
left:8573.4px;bottom:43874.9px;color:rgb(35,31,31);
}
#P257_72
{
left:13105.8px;bottom:43682.9px;color:rgb(35,31,31);
}
#P257_73
{
left:13264.2px;bottom:43874.9px;color:rgb(35,31,31);
}
#P257_74
{
left:21934.6px;bottom:43894.6px;color:rgb(35,31,31);
}
#P257_75
{
left:23357.4px;bottom:43874.9px;color:rgb(35,31,31);
}
#P257_76
{
left:27889.8px;bottom:43682.9px;color:rgb(35,31,31);
}
#P257_77
{
left:28048.2px;bottom:43874.9px;color:rgb(35,31,31);
}
#P257_78
{
left:6973.4px;bottom:41954.8px;color:rgb(35,31,31);
}
#P257_79
{
left:7150.55px;bottom:41974.5px;color:rgb(35,31,31);
}
#P257_80
{
left:8637.4px;bottom:41974.6px;color:rgb(2,77,161);
}
#P257_81
{
left:10163px;bottom:41954.9px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P257_82
{
left:0px;letter-spacing:-7px;margin-left:-214.6px;
}
#P257_83
{
left:0px;letter-spacing:0px;margin-left:7px;
}
#P257_84
{
left:6973.4px;bottom:39906.9px;color:rgb(35,31,31);
}
#P257_85
{
left:7150.55px;bottom:39926.6px;color:rgb(35,31,31);
}
#P257_86
{
left:8637.4px;bottom:39926.6px;color:rgb(2,77,161);
}
#P257_87
{
left:11076.1px;bottom:39906.9px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P257_88
{
left:0px;letter-spacing:-7px;margin-left:-214.6px;
}
#P257_89
{
left:0px;letter-spacing:0px;margin-left:7px;
}
#P257_90
{
left:6973.4px;bottom:37858.9px;color:rgb(35,31,31);
}
#P257_91
{
left:7150.55px;bottom:37878.6px;color:rgb(35,31,31);
}
#P257_92
{
left:8637.4px;bottom:37878.6px;letter-spacing:-1.8px;color:rgb(2,77,161);
}
#P257_93
{
left:12093.5px;bottom:37858.9px;letter-spacing:168.3px;color:rgb(35,31,31);
}
#P257_94
{
left:0px;letter-spacing:-0.3px;margin-left:-168.3px;
}
#P257_95
{
left:30041.8px;bottom:34909.9px;color:rgb(0,145,68);
}
#P257_96
{
left:6973.4px;bottom:36770.9px;color:rgb(35,31,31);
}
#P257_97
{
left:8725.34px;bottom:36770.9px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P257_98
{
left:9917.4px;bottom:36770.9px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P257_99
{
left:0px;letter-spacing:0px;margin-left:-13.4px;
}
#P257_100
{
left:6973.4px;bottom:35682.9px;color:rgb(35,31,31);
}
#P257_101
{
left:8689.24px;bottom:35682.9px;letter-spacing:-13.9px;word-spacing:499.1px;color:rgb(35,31,31);
}
#P257_102
{
left:9917.4px;bottom:35682.9px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P257_103
{
left:0px;letter-spacing:0px;margin-left:-41.8px;
}
#P257_104
{
left:0px;letter-spacing:-1.4px;
}
#P257_105
{
left:9917.4px;bottom:34787px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P257_106
{
left:0px;letter-spacing:-1.4px;margin-left:0.7px;
}
#P257_107
{
left:0px;letter-spacing:0px;margin-left:1.4px;
}
#P257_108
{
left:6973.4px;bottom:32739px;color:rgb(35,31,31);
}
#P257_109
{
left:7150.55px;bottom:32758.7px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P257_110
{
left:8637.4px;bottom:32758.6px;letter-spacing:-2.8px;color:rgb(2,77,161);
}
#P257_111
{
left:12535.6px;bottom:32738.9px;letter-spacing:168.3px;color:rgb(35,31,31);
}
#P257_112
{
left:0px;letter-spacing:0px;margin-left:-238.7px;
}
#P257_113
{
left:0px;letter-spacing:0px;
}
#P257_114
{
left:8637.4px;bottom:31842.9px;color:rgb(35,31,31);
}
#P257_115
{
left:8637.4px;bottom:30947px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P257_116
{
left:8637.4px;bottom:30051px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P257_117
{
left:6973.4px;bottom:27747px;color:rgb(35,31,31);
}
#P257_118
{
left:15278.6px;bottom:27766.7px;word-spacing:376.6px;color:rgb(35,31,31);
}
#P257_119
{
left:16829.4px;bottom:27766.6px;color:rgb(2,77,161);
}
#P257_120
{
left:20545.8px;bottom:27746.9px;color:rgb(35,31,31);
}
#P257_121
{
left:0px;letter-spacing:0px;margin-left:151.5px;
}
#P257_122
{
left:0px;letter-spacing:0px;margin-left:-63.2px;
}
#P257_123
{
left:0px;letter-spacing:0px;margin-left:-20.9px;
}
#P257_124
{
left:31062.4px;bottom:27746.9px;color:rgb(35,31,31);
}
#P257_125
{
left:31497.4px;bottom:27746.9px;color:rgb(35,31,31);
}
#P257_126
{
left:16829.4px;bottom:26850.9px;letter-spacing:-4.2px;color:rgb(35,31,31);
}
#P257_127
{
left:0px;letter-spacing:0px;margin-left:-16.8px;
}
#P257_128
{
left:0px;letter-spacing:-0.3px;
}
#P257_129
{
left:0px;letter-spacing:0px;margin-left:-214.7px;
}
#P257_130
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P257_131
{
left:0px;letter-spacing:0px;
}
#P257_132
{
left:29329px;bottom:26850.9px;color:rgb(35,31,31);
}
#P257_133
{
left:29764.1px;bottom:26850.9px;color:rgb(35,31,31);
}
#P257_134
{
left:16829.3px;bottom:25955.1px;color:rgb(35,31,31);
}
#P257_135
{
left:17618.5px;bottom:25955.1px;color:rgb(35,31,31);
}
#P257_136
{
left:18095.8px;bottom:25955.1px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P257_137
{
left:6973.34px;bottom:23843.1px;color:rgb(35,31,31);
}
#P257_138
{
left:15278.5px;bottom:23862.8px;color:rgb(35,31,31);
}
#P257_139
{
left:16829.4px;bottom:23862.6px;letter-spacing:-1.6px;color:rgb(2,77,161);
}
#P257_140
{
left:20933.9px;bottom:23842.9px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P257_141
{
left:0px;letter-spacing:-0.1px;margin-left:-63.2px;
}
#P257_142
{
left: 16863.4px;bottom:22946.9px;letter-spacing:8929.6px;color:rgb(35,31,31);
}
#P257_143
{
left:0px;letter-spacing:0px;margin-left:-8320px;
}
#P257_144
{
left:0px;letter-spacing:0px;
margin-left: 0;
}
#P257_145
{
left:0px;letter-spacing:-0.1px;
}
#P257_146
{
left:0px;letter-spacing:0px;margin-left:-42px;
}
#P257_147
{
left:0px;letter-spacing:0px;
}
#P257_148
{
left:16829.4px;bottom:22051.1px;letter-spacing:-1.6px;color:rgb(35,31,31);
}
#P257_149
{
left:0px;letter-spacing:0px;margin-left:1.6px;
}
#P257_150
{
left:6973.4px;bottom:20963px;color:rgb(35,31,31);
}
#P257_151
{
left:16923px;bottom:21108.5px;color:rgb(35,31,31);
}
#P257_152
{
left:17277.4px;bottom:20962.9px;color:rgb(35,31,31);
}
#P257_153
{
left:17981.4px;bottom:20962.9px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P257_154
{
left:6973.4px;bottom:19874.9px;color:rgb(35,31,31);
}
#P257_155
{
left:16923px;bottom:20020.5px;color:rgb(35,31,31);
}
#P257_156
{
left:17277.4px;bottom:19874.9px;letter-spacing:556.2px;color:rgb(35,31,31);
}
#P257_157
{
left:17981.4px;bottom:19874.9px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P257_158
{
left:17981.4px;bottom:18978.9px;letter-spacing:0.4px;color:rgb(35,31,31);
}
#P257_159
{
left:6973.4px;bottom:16675.1px;color:rgb(35,31,31);
}
#P257_160
{
left:7150.43px;bottom:16694.8px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P257_161
{
left:13181.4px;bottom:16674.9px;letter-spacing:193.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P257_162
{
left:0px;letter-spacing:-1px;margin-left:-193.6px;
}
#P257_163
{
left:0px;letter-spacing:-0.6px;margin-left:0.9px;
}
#P257_164
{
left:0px;letter-spacing:-0.1px;margin-left:0.5px;
}
#P257_165
{
left:8637.4px;bottom:15778.9px;color:rgb(35,31,31);
}
#P257_166
{
left:0px;letter-spacing:0px;margin-left:-25.2px;
}
#P257_167
{
left:0px;letter-spacing:0px;margin-left:-214.9px;
}
#P257_168
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P257_169
{
left:0px;letter-spacing:0px;margin-left:5.5px;
}
#P257_170
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P257_171
{
left:0px;letter-spacing:0px;margin-left:-42px;
}
#P257_172
{
left:25814.9px;bottom:15778.9px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P257_173
{
left:28128.2px;bottom:15778.9px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P257_174
{
left:8637.4px;bottom:14883.1px;color:rgb(35,31,31);
}
#P257_175
{
left:0px;letter-spacing:0px;margin-left:-214.8px;
}
#P257_176
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P257_177
{
left:0px;letter-spacing:0px;margin-left:5.5px;
}
#PageContainer257
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg257.jpg");background-repeat:no-repeat;background-size: 775px 1150px; background-position: 121.55px 108.81px;
}
#ImageContainer257 {bottom:105.19px;left:121.55px;width:774.59px;height:1150.01px;position:absolute;} #TextContainer257 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}