.tr259{ color:transparent;}
#P259_1
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P259_2
{
left:23521.9px;bottom:1410.03px;color:rgb(35,31,31);
}
#P259_3
{
left:26794.2px;bottom:1410.03px;letter-spacing:462.1px;color:rgb(35,31,31);
}
#P259_4
{
left:0px;letter-spacing:4.8px;margin-left:-460.6px;
}
#P259_5
{
left:0px;letter-spacing:1.8px;margin-left:-9.2px;
}
#P259_6
{
left:0px;letter-spacing:0px;margin-left:7.2px;
}
#P259_7
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P259_8
{
left:11555.5px;bottom:43292.8px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P259_9
{
left:0px;letter-spacing:0.4px;margin-left:14.1px;
}
#P259_10
{
left:0px;letter-spacing:-14px;margin-left:-42.5px;
}
#P259_11
{
left:0px;letter-spacing:-0.4px;margin-left:14px;
}
#P259_12
{
left:0px;letter-spacing:0px;margin-left:-27.7px;
}
#P259_13
{
left:0px;letter-spacing:-0.4px;
}
#P259_14
{
left:0px;letter-spacing:-14px;margin-left:-41.7px;
}
#P259_15
{
left:0px;letter-spacing:0px;margin-left:-17.6px;
}
#P259_16
{
left:0px;letter-spacing:0px;
}
#P259_17
{
left:11555.5px;bottom:42396.8px;color:rgb(35,31,31);
}
#P259_18
{
left:11555.5px;bottom:41116.8px;color:rgb(35,31,31);
}
#P259_19
{
left:11683.5px;bottom:41116.8px;letter-spacing:1068.2px;color:rgb(35,31,31);
}
#P259_20
{
left:28067.4px;bottom:41122.4px;letter-spacing:-3.2px;word-spacing:2756.1px;color:rgb(35,31,31);
}
#P259_21
{
left:0px;letter-spacing:2.1px;margin-left:3.2px;
}
#P259_22
{
left:11555.4px;bottom:40028.8px;color:rgb(35,31,31);
}
#P259_23
{
left:11683.4px;bottom:40028.8px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P259_24
{
left:12899.5px;bottom:40028.8px;letter-spacing:-5.6px;color:rgb(0,124,196);
}
#P259_25
{
left:14066.1px;bottom:40028.8px;color:rgb(0,124,196);
}

#P259_26
{
left:14224.5px;bottom:40028.8px;letter-spacing:-3.4px;color:rgb(0,124,196);
}
#P259_27
{
left:16389.3px;bottom:40028.8px;color:rgb(35,31,31);
}
#P259_27a
{
left: 28049.3px;bottom:40028.8px;color:rgb(35,31,31);
}
#P259_28
{
left:0px;letter-spacing:0px;margin-left:151.5px;
}
#P259_29
{
left:0px;letter-spacing:0px;
margin-left: 0;
}
#P259_30
{
left:28813.7px;bottom:40028.8px;color:rgb(35,31,31);
}
#P259_31
{
left:28961.6px;bottom:40028.8px;word-spacing:2169.7px;color:rgb(35,31,31);
}
#P259_32
{
left:0px;letter-spacing:0px;margin-left:-2169.7px;
}
#P259_33
{
left:11555.5px;bottom:38812.8px;color:rgb(35,31,31);
}
#P259_34
{
left:11683.5px;bottom:38812.8px;letter-spacing:-17.5px;color:rgb(35,31,31);
}
#P259_35
{
left:12899.5px;bottom:38812.8px;letter-spacing:-23.3px;color:rgb(0,124,196);
}
#P259_36
{
left:0px;letter-spacing:-0.8px;margin-left:23.3px;
}
#P259_37
{
left:17483.1px;bottom:38812.8px;color:rgb(35,31,31);
}
#P259_37a
{
left: 28033.1px;bottom:38812.8px;color:rgb(35,31,31);
}
#P259_38
{
left:0px;letter-spacing:0px;margin-left:151.5px;
}
#P259_39
{
left:0px;letter-spacing:0px;margin-left:5.5px;
}
#P259_40
{
left:0px;letter-spacing:0px;
margin-left: 0;
}
#P259_41
{
left:0px;letter-spacing:0px;margin-left:2537.2px;
}
#P259_42
{
left:11555.5px;bottom:37596.8px;color:rgb(35,31,31);
}
#P259_43
{
left:11683.5px;bottom:37596.8px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P259_44
{
left:12899.5px;bottom:37596.8px;letter-spacing:-3px;color:rgb(0,124,196);
}
#P259_45
{
left:0px;letter-spacing:0px;margin-left:-18px;
}
#P259_46
{
left:17951.6px;bottom:37596.8px;color:rgb(35,31,31);
}
#P259_46a
{
left: 28061.6px;bottom:37596.8px;color:rgb(35,31,31);
}
#P259_47
{
left:0px;letter-spacing:0px;margin-left:151.5px;
}
#P259_48
{
left:0px;letter-spacing:0px;
margin-left: 0;
}
#P259_49
{
left:0px;letter-spacing:0px;margin-left:2556.9px;
}
#P259_50
{
left:11555.5px;bottom:36380.8px;color:rgb(35,31,31);
}
#P259_51
{
left:11683.4px;bottom:36380.8px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P259_52
{
left:12899.5px;bottom:36380.8px;letter-spacing:-12.1px;word-spacing:-42.4px;color:rgb(0,124,196);
}
#P259_53
{
left:0px;letter-spacing:0.3px;margin-left:12.4px;
}
#P259_54
{
left:17739.8px;bottom:36380.8px;color:rgb(35,31,31);
}#P259_54a
{
left: 28119.8px;bottom:36380.8px;color:rgb(35,31,31);
}
#P259_55
{
left:0px;letter-spacing:0px;margin-left:151.5px;
}
#P259_56
{
left:0px;letter-spacing:0px;
margin-left: 0;
}
#P259_57
{
left:0px;letter-spacing:0px;margin-left:3002.5px;
}
#P259_58
{
left:11555.5px;bottom:35164.8px;color:rgb(35,31,31);
}
#P259_59
{
left:11683.4px;bottom:35164.8px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P259_60
{
left:12899.5px;bottom:35164.8px;word-spacing:0.2px;color:rgb(0,124,196);
}
#P259_61
{
left:0px;letter-spacing:-0.2px;margin-left:-21px;
}
#P259_62
{
left:0px;letter-spacing:-0.2px;margin-left:-25.1px;
}
#P259_63
{
left:20435.4px;bottom:35164.8px;color:rgb(35,31,31);
}
#P259_63a
{
left: 28066.4px;bottom:35164.8px;color:rgb(35,31,31);
}
#P259_64
{
left:0px;letter-spacing:0px;margin-left:151.5px;
}
#P259_65
{
left:0px;letter-spacing:0px;
margin-left: 0;
}
#P259_66
{
left:0px;letter-spacing:0px;margin-left:3092.6px;
}
#P259_67
{
left:12433.7px;bottom:44853px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P259_68
{
left:15858.8px;bottom:45044.8px;color:rgb(255,223,126);
}
#P259_69
{
left:16483.5px;bottom:44853px;word-spacing:207.4px;color:white;
}
#P259_70
{
left:19492px;bottom:45044.8px;color:white;
}
#P259_71
{
left:19732.2px;bottom:44853px;letter-spacing:-1.5px;color:white;
}
#P259_72
{
left:10693.3px;bottom:44729.5px;
}
#P259_73
{
left:10693.3px;bottom:44729.5px;color:white;
}
#P259_74
{
left:10508.4px;bottom:9976.75px;color:rgb(35,31,31);
}
#P259_75
{
left:10966.8px;bottom:10003.6px;word-spacing:394.4px;color:rgb(35,31,31);
}
#P259_76
{
left:12108.4px;bottom:9976.75px;letter-spacing:-0.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P259_77
{
left:24426.4px;bottom:9976.75px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P259_78
{
left:0px;letter-spacing:0.8px;margin-left:7.2px;
}
#P259_79
{
left:0px;letter-spacing:0px;margin-left:-19px;
}
#P259_80
{
left:30690.9px;bottom:9976.75px;word-spacing:-42.1px;color:rgb(35,31,31);
}
#P259_81
{
left:0px;letter-spacing:0px;margin-left:42.1px;
}
#P259_82
{
left:12108.4px;bottom:9080.75px;letter-spacing:-1.7px;color:rgb(35,31,31);
}
#P259_83
{
left:0px;letter-spacing:0px;margin-left:-19.2px;
}
#P259_84
{
left:0px;letter-spacing:-0.4px;
}
#P259_85
{
left:0px;letter-spacing:0px;margin-left:-214.6px;
}
#P259_86
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P259_87
{
left:0px;letter-spacing:-0.6px;
}
#P259_88
{
left:10508.4px;bottom:7736.75px;color:rgb(35,31,31);
}
#P259_89
{
left:10966.8px;bottom:7763.56px;word-spacing:394.4px;color:rgb(35,31,31);
}
#P259_90
{
left:12108.4px;bottom:7756.46px;word-spacing:-26px;color:rgb(2,77,161);
}
#P259_91
{
left:0px;letter-spacing:0px;margin-left:-26px;
}
#P259_92
{
left:0px;letter-spacing:0px;margin-left:26px;
}
#P259_93
{
left:18916.3px;bottom:7736.75px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P259_94
{
left:0px;letter-spacing:-7px;margin-left:-214.6px;
}
#P259_95
{
left:0px;letter-spacing:-0.7px;margin-left:7px;
}
#P259_96
{
left:0px;letter-spacing:0px;margin-left:-3.5px;
}
#P259_97
{
left:12108.4px;bottom:6840.75px;letter-spacing:0.6px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P259_98
{
left:0px;letter-spacing:-0.2px;margin-left:-0.7px;
}
#P259_99
{
left:14845.4px;bottom:4364.72px;letter-spacing:228.8px;color:rgb(0,124,196);
}
#P259_100
{
left:15261.4px;bottom:4396.72px;letter-spacing:-9.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P259_101
{
left:0px;letter-spacing:-0.2px;margin-left:9.3px;
}
#P259_102
{
left:0px;letter-spacing:-0.3px;margin-left:0.2px;
}
#P259_103
{
left:15261.4px;bottom:3500.74px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P259_104
{
left:0px;letter-spacing:0px;margin-left:0.8px;
}
#P259_105
{
left:0px;bottom:0px;letter-spacing:0px;
}
#P259_106
{
left:0px;bottom:0px;letter-spacing:0px;
}
#P259_107
{
left:0px;bottom:0px;letter-spacing:0px;
}
#P259_108
{
left:0px;bottom:0px;letter-spacing:0px;
}
#P259_109
{
left:11563.5px;bottom:31504px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P259_110
{
left:0px;letter-spacing:0.4px;margin-left:14.1px;
}
#P259_111
{
left:0px;letter-spacing:-14px;margin-left:-42.5px;
}
#P259_112
{
left:0px;letter-spacing:-0.5px;margin-left:14px;
}
#P259_113
{
left:0px;letter-spacing:-9.3px;margin-left:0.5px;
}
#P259_114
{
left:0px;letter-spacing:-3.5px;margin-left:9.3px;
}
#P259_115
{
left:11563.5px;bottom:30608px;letter-spacing:-2.3px;color:rgb(35,31,31);
}
#P259_116
{
left:0px;letter-spacing:-28px;margin-left:-68px;
}
#P259_117
{
left:0px;letter-spacing:-42.1px;margin-left:28px;
}
#P259_118
{
left:0px;letter-spacing:5.5px;margin-left:7px;
}
#P259_119
{
left:0px;letter-spacing:-0.2px;margin-left:-5.5px;
}
#P259_120
{
left:0px;letter-spacing:-2.8px;margin-left:-27.8px;
}
#P259_121
{
left:0px;letter-spacing:0px;margin-left:-18.2px;
}
#P259_122
{
left:0px;letter-spacing:-2.8px;
}
#P259_123
{
left:11563.5px;bottom:29333.6px;letter-spacing:651.3px;color:rgb(35,31,31);
}
#P259_124
{
left:0px;letter-spacing:0px;margin-left:-655.5px;
}
#P259_125
{
left:0px;letter-spacing:0px;margin-left:2130px;
}
#P259_126
{
left:0px;letter-spacing:-0.5px;margin-left:-14px;
}
#P259_127
{
left:0px;letter-spacing:0px;margin-left:2111.6px;
}
#P259_128
{
left:0px;letter-spacing:-5.6px;margin-left:-11.2px;
}
#P259_129
{
left:0px;letter-spacing:0px;margin-left:5.6px;
}
#P259_130
{
left:0px;letter-spacing:0px;margin-left:2091.2px;
}
#P259_131
{
left:0px;letter-spacing:0px;margin-left:-21px;
}
#P259_132
{
left:0px;letter-spacing:0px;
}
#P259_133
{
left:11563.5px;bottom:28048px;color:rgb(35,31,31);
}
#P259_134
{
left:11691.5px;bottom:28048px;letter-spacing:-9.3px;word-spacing:516.1px;color:rgb(35,31,31);
}
#P259_135
{
left:0px;letter-spacing:0px;margin-left:-3.2px;
}
#P259_136
{
left:11563.5px;bottom:25808px;letter-spacing:-30.4px;color:rgb(35,31,31);
}
#P259_137
{
left:0px;letter-spacing:0px;margin-left:1088px;
}
#P259_138
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P259_139
{
left:12928.6px;bottom:26247.7px;color:rgb(35,31,31);
}
#P259_140
{
left:14271.8px;bottom:25825.6px;color:rgb(35,31,31);
}
#P259_141
{
left:12907.5px;bottom:25792px;color:rgb(35,31,31);
}
#P259_142
{
left:14293px;bottom:25809.2px;color:rgb(35,31,31);
}
#P259_143
{
left:13408px;bottom:25340.1px;
}
#P259_144
{
left:13792.5px;bottom:25825.6px;color:rgb(35,31,31);
}
#P259_145
{
left:14293px;bottom:25808px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P259_146
{
left:0px;letter-spacing:0px;margin-left:2530.1px;
}
#P259_147
{
left:16981.5px;bottom:25778.4px;color:rgb(35,31,31);
}
#P259_148
{
left:17567.9px;bottom:25808px;color:rgb(35,31,31);
}
#P259_149
{
left:0px;letter-spacing:0px;margin-left:1950px;
}
#P259_150
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P259_151
{
left:20412px;bottom:26247.7px;
}
#P259_152
{
left:21275px;bottom:25825.6px;color:rgb(35,31,31);
}
#P259_153
{
left:19834.6px;bottom:25792px;color:rgb(35,31,31);
}
#P259_154
{
left:21852.4px;bottom:25809.2px;color:rgb(35,31,31);
}
#P259_155
{
left:19855.7px;bottom:25340.1px;color:rgb(35,31,31);
}
#P259_156
{
left:21831.3px;bottom:25825.6px;color:rgb(35,31,31);
}
#P259_157
{
left:21852.4px;bottom:25808px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P259_158
{
left:23164.4px;bottom:25808px;color:rgb(35,31,31);
}
#P259_159
{
left:23312.2px;bottom:25778.4px;color:rgb(35,31,31);
}
#P259_160
{
left:23898.6px;bottom:25808px;color:rgb(35,31,31);
}
#P259_161
{
left:24046.5px;bottom:25808px;letter-spacing:1197.8px;color:rgb(35,31,31);
}
#P259_162
{
left:0px;letter-spacing:0px;margin-left:-1356.2px;
}
#P259_163
{
left:25739.9px;bottom:26247.7px;color:rgb(35,31,31);
}
#P259_164
{
left:27083.1px;bottom:25825.6px;color:rgb(35,31,31);
}
#P259_165
{
left:25402.6px;bottom:25792px;color:rgb(35,31,31);
}
#P259_166
{
left:27420.4px;bottom:25809.2px;color:rgb(35,31,31);
}
#P259_167
{
left:25423.7px;bottom:25340.1px;color:rgb(35,31,31);
}
#P259_168
{
left:27399.3px;bottom:25825.6px;color:rgb(35,31,31);
}
#P259_169
{
left:27420.4px;bottom:25808px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P259_170
{
left:28732.4px;bottom:25808px;color:rgb(35,31,31);
}
#P259_171
{
left:28880.2px;bottom:25778.4px;color:rgb(35,31,31);
}
#P259_172
{
left:29466.6px;bottom:25808px;color:rgb(35,31,31);
}
#P259_173
{
left:29614.5px;bottom:25808px;letter-spacing:1184.2px;color:rgb(35,31,31);
}
#P259_174
{
left:0px;letter-spacing:0px;margin-left:-1342.6px;
}
#P259_175
{
left:31462.2px;bottom:26247.7px;color:rgb(35,31,31);
}
#P259_176
{
left:32133.8px;bottom:25825.6px;color:rgb(35,31,31);
}
#P259_177
{
left:30957.1px;bottom:25792px;color:rgb(35,31,31);
}
#P259_178
{
left:32639.1px;bottom:25809.2px;color:rgb(35,31,31);
}
#P259_179
{
left:30978.2px;bottom:25340.1px;color:rgb(35,31,31);
}
#P259_180
{
left:32617.9px;bottom:25825.6px;color:rgb(35,31,31);
}
#P259_181
{
left:32639.1px;bottom:25808px;color:rgb(35,31,31);
}
#P259_182
{
left:11563.5px;bottom:22416px;color:rgb(35,31,31);
}
#P259_183
{
left:11691.5px;bottom:22416px;letter-spacing:-6.9px;word-spacing:486.9px;color:rgb(35,31,31);
}
#P259_184
{
left:13173.5px;bottom:22855.7px;color:rgb(35,31,31);
}
#P259_185
{
left:13845.1px;bottom:22433.6px;color:rgb(35,31,31);
}
#P259_186
{
left:12907.5px;bottom:22400px;color:rgb(35,31,31);
}
#P259_187
{
left:14111.1px;bottom:22417.2px;color:rgb(35,31,31);
}
#P259_188
{
left:12928.6px;bottom:21948.1px;color:rgb(35,31,31);
}
#P259_189
{
left:14090px;bottom:22433.6px;color:rgb(35,31,31);
}
#P259_190
{
left:14111.1px;bottom:22416px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P259_191
{
left:0px;letter-spacing:0px;margin-left:2712px;
}
#P259_192
{
left:16981.5px;bottom:22386.4px;color:rgb(35,31,31);
}
#P259_193
{
left:17567.9px;bottom:22416px;color:rgb(35,31,31);
}
#P259_194
{
left:0px;letter-spacing:0px;margin-left:2958.8px;
}
#P259_195
{
left:0px;letter-spacing:0px;margin-left:2529.6px;
}
#P259_196
{
left:0px;letter-spacing:0px;margin-left:2721.6px;
}
#P259_197
{
left:0px;letter-spacing:0px;margin-left:2157.2px;
}
#P259_198
{
left:28885.5px;bottom:22386.4px;color:rgb(35,31,31);
}
#P259_199
{
left:29471.9px;bottom:22416px;color:rgb(35,31,31);
}
#P259_200
{
left:0px;letter-spacing:0px;margin-left:1206px;
}
#P259_201
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P259_202
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P259_203
{
left:32820.9px;bottom:22433.6px;color:rgb(35,31,31);
}
#P259_204
{
left:31455.8px;bottom:22400px;color:rgb(35,31,31);
}
#P259_205
{
left:32842px;bottom:22417.2px;color:rgb(35,31,31);
}
#P259_206
{
left:31717.4px;bottom:21948.1px;color:rgb(35,31,31);
}
#P259_207
{
left:32580.4px;bottom:22433.6px;color:rgb(35,31,31);
}
#P259_208
{
left:32842px;bottom:22416px;color:rgb(35,31,31);
}
#P259_209
{
left:11563.5px;bottom:18640px;color:rgb(35,31,31);
}
#P259_210
{
left:11691.5px;bottom:18640px;word-spacing:551.3px;color:rgb(35,31,31);
}
#P259_211
{
left:12928.6px;bottom:19079.7px;color:rgb(35,31,31);
}
#P259_212
{
left:14487.3px;bottom:18657.6px;color:rgb(35,31,31);
}
#P259_213
{
left:12907.5px;bottom:18624px;color:rgb(35,31,31);
}
#P259_214
{
left:14508.4px;bottom:18641.2px;color:rgb(35,31,31);
}
#P259_215
{
left:13497.9px;bottom:18172.1px;color:rgb(35,31,31);
}
#P259_216
{
left:13918px;bottom:18657.6px;color:rgb(35,31,31);
}
#P259_217
{
left:14508.4px;bottom:18640px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P259_218
{
left:0px;letter-spacing:0px;margin-left:2314.8px;
}
#P259_219
{
left:16981.5px;bottom:18610.4px;color:rgb(35,31,31);
}
#P259_220
{
left:17567.9px;bottom:18640px;color:rgb(35,31,31);
}
#P259_221
{
left:0px;letter-spacing:0px;margin-left:2958.8px;
}
#P259_222
{
left:0px;letter-spacing:0px;margin-left:2529.6px;
}
#P259_223
{
left:26411.5px;bottom:18640px;letter-spacing:2173px;color:rgb(35,31,31);
}
#P259_224
{
left:28880.2px;bottom:18610.4px;color:rgb(35,31,31);
}
#P259_225
{
left:29466.6px;bottom:18640px;color:rgb(35,31,31);
}
#P259_226
{
left:0px;letter-spacing:0px;margin-left:1098.1px;
}
#P259_227
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P259_228
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P259_229
{
left:32334.7px;bottom:19079.7px;color:rgb(35,31,31);
}
#P259_230
{
left:33221.8px;bottom:18657.6px;color:rgb(35,31,31);
}
#P259_231
{
left:30969.6px;bottom:18624px;color:rgb(35,31,31);
}
#P259_232
{
left:33242.9px;bottom:18641.2px;color:rgb(35,31,31);
}
#P259_233
{
left:31519.2px;bottom:18172.1px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P259_234
{
left:32693.3px;bottom:18657.6px;color:rgb(35,31,31);
}
#P259_235
{
left:33242.9px;bottom:18640px;color:rgb(35,31,31);
}
#P259_236
{
left:11563.5px;bottom:14864px;color:rgb(35,31,31);
}
#P259_237
{
left:11691.5px;bottom:14864px;word-spacing:473.2px;color:rgb(35,31,31);
}
#P259_238
{
left:13212.5px;bottom:15303.7px;color:rgb(35,31,31);
}
#P259_239
{
left:14110.9px;bottom:14881.6px;color:rgb(35,31,31);
}
#P259_240
{
left:12907.5px;bottom:14848px;color:rgb(35,31,31);
}
#P259_241
{
left:14416px;bottom:14865.2px;color:rgb(35,31,31);
}
#P259_242
{
left:12928.6px;bottom:14396.1px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P259_243
{
left:14394.8px;bottom:14881.6px;color:rgb(35,31,31);
}
#P259_244
{
left:14416px;bottom:14864px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P259_245
{
left:0px;letter-spacing:0px;margin-left:2407.1px;
}
#P259_246
{
left:16981.5px;bottom:14834.4px;color:rgb(35,31,31);
}
#P259_247
{
left:17567.9px;bottom:14864px;color:rgb(35,31,31);
}
#P259_248
{
left:0px;letter-spacing:0px;margin-left:2958.8px;
}
#P259_249
{
left:0px;letter-spacing:0px;margin-left:2529.6px;
}
#P259_250
{
left:26411.5px;bottom:14864px;letter-spacing:2173px;color:rgb(35,31,31);
}
#P259_251
{
left:28880.2px;bottom:14834.4px;color:rgb(35,31,31);
}
#P259_252
{
left:29466.6px;bottom:14864px;color:rgb(35,31,31);
}
#P259_253
{
left:0px;letter-spacing:0px;margin-left:1211.5px;
}
#P259_254
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P259_255
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P259_256
{
left:32448px;bottom:15303.7px;color:rgb(35,31,31);
}
#P259_257
{
left:33010.6px;bottom:14881.6px;color:rgb(35,31,31);
}
#P259_258
{
left:31082.9px;bottom:14848px;color:rgb(35,31,31);
}
#P259_259
{
left:33031.8px;bottom:14865.2px;color:rgb(35,31,31);
}
#P259_260
{
left:31534.7px;bottom:14396.1px;color:rgb(35,31,31);
}
#P259_261
{
left:32580.1px;bottom:14881.6px;color:rgb(35,31,31);
}
#P259_262
{
left:33031.8px;bottom:14864px;color:rgb(35,31,31);
}
#P259_263
{
left:12441.7px;bottom:33064.2px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P259_264
{
left:15866.8px;bottom:33256px;color:rgb(255,223,126);
}
#P259_265
{
left:16491.5px;bottom:33064.2px;word-spacing:207.4px;color:white;
}
#P259_266
{
left:18908.1px;bottom:33256px;color:white;
}
#P259_267
{
left:19148.3px;bottom:33064.2px;color:white;
}
#P259_268
{
left:21374px;bottom:33256px;color:white;
}
#P259_269
{
left:21614.2px;bottom:33064.2px;color:white;
}
#P259_270
{
left:22543px;bottom:33256px;color:white;
}
#P259_271
{
left:22783.2px;bottom:33064.2px;color:white;
}
#P259_272
{
left:10701.3px;bottom:32940.7px;
}
#P259_273
{
left:10701.3px;bottom:32940.7px;color:white;
}
#P259_274
{
left:4941.34px;bottom:40944.7px;color:rgb(35,31,31);
}
#P259_275
{
left:4941.34px;bottom:40077.9px;color:rgb(35,31,31);
}
#P259_276
{
left:4941.34px;bottom:39341.9px;color:rgb(35,31,31);
}
#P259_277
{
left:4941.34px;bottom:38605.9px;color:rgb(35,31,31);
}
#P259_278
{
left:4941.34px;bottom:37870px;word-spacing:-33.4px;color:rgb(35,31,31);
}
#P259_279
{
left:4941.34px;bottom:37134px;color:rgb(35,31,31);
}
#P259_280
{
left:4941.34px;bottom:36398px;color:rgb(35,31,31);
}
#P259_281
{
left:0px;letter-spacing:0px;margin-left:-152px;
}
#P259_282
{
left:0px;letter-spacing:0px;margin-left:6.1px;
}
#P259_283
{
left:4690.71px;bottom:42728.5px;letter-spacing:-20.4px;color:white;
}
#P259_284
{
left:4690.71px;bottom:41768.4px;letter-spacing:-27.2px;color:white;
}
#P259_285
{
left:6669.79px;bottom:42025.2px;color:white;
}
#P259_286
{
left:6945.05px;bottom:41768.4px;letter-spacing:-27.2px;color:white;
}
#P259_287
{
left:19512.9px;bottom:23672.1px;
}
#P259_288
{
left:19512.9px;bottom:20024.1px;
}
#P259_289
{
left:19512.9px;bottom:16376.1px;
}
#P259_290
{
left:19512.9px;bottom:12728.1px;
}
#PageContainer259
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg259.jpg");background-repeat:no-repeat;background-size: 1021px 1275px; background-position: 0px -0.539999999999964px;
}
#ImageContainer259 {bottom:89.54px;left:0.00px;width:1020.57px;height:1274.62px;position:absolute;} #TextContainer259 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.math_tool{position: absolute;top: 431px;left: 209px;}
.practice{position:absolute;top: 1218px;left: 255px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}