.tr361{ color:transparent;}
#P361_1
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P361_2
{
left:14895.3px;bottom:1410.03px;color:rgb(35,31,31);
}
#P361_3
{
left:19447.5px;bottom:1410.03px;letter-spacing:462.1px;word-spacing:-0.1px;color:rgb(35,31,31);
}
#P361_4
{
left:0px;letter-spacing:0.9px;margin-left:-455.4px;
}
#P361_5
{
left:0px;letter-spacing:1.1px;margin-left:-0.8px;
}
#P361_6
{
left:0px;letter-spacing:0.8px;margin-left:4.5px;
}
#P361_7
{
left:0px;letter-spacing:6.4px;margin-left:-0.7px;
}
#P361_8
{
left:0px;letter-spacing:1.3px;margin-left:-10.8px;
}
#P361_9
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P361_10
{
left:7801.11px;bottom:46049.6px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P361_11
{
left:14669.4px;bottom:46074.2px;color:white;
}
#P361_12
{
left:16317.9px;bottom:46266px;color:white;
}
#P361_13
{
left:16558.1px;bottom:46074.2px;color:white;
}
#P361_14
{
left:21808.7px;bottom:46266px;color:white;
}
#P361_15
{
left:22048.9px;bottom:46074.2px;color:white;
}
#P361_16
{
left:23970.4px;bottom:46266px;color:white;
}
#P361_17
{
left:24210.6px;bottom:46074.2px;letter-spacing:-1.5px;color:white;
}
#P361_18
{
left:28692.3px;bottom:46266px;color:white;
}
#P361_19
{
left:28932.5px;bottom:46074.2px;color:white;
}
#P361_20
{
left:12825px;bottom:45907.1px;
}
#P361_21
{
left:12825px;bottom:45907.1px;color:white;
}
#P361_22
{
left:13896.4px;bottom:44282.2px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P361_23
{
left:16813.8px;bottom:44522.2px;color:rgb(35,31,31);
}
#P361_24
{
left:17288.3px;bottom:44282.2px;color:rgb(35,31,31);
}
#P361_25
{
left:17978.2px;bottom:44252.6px;color:rgb(35,31,31);
}
#P361_26
{
left:18564.6px;bottom:44282.2px;color:rgb(35,31,31);
}
#P361_27
{
left:18712.5px;bottom:44287.8px;color:rgb(35,31,31);
}
#P361_28
{
left:19075.7px;bottom:44282.2px;letter-spacing:-10.1px;color:rgb(35,31,31);
}
#P361_29
{
left:0px;letter-spacing:0px;margin-left:10.1px;
}
#P361_30
{
left:15752.4px;bottom:42874.2px;word-spacing:1697.6px;color:rgb(35,31,31);
}
#P361_31
{
left:16745px;bottom:43050.2px;color:rgb(35,31,31);
}
#P361_32
{
left:17219.5px;bottom:42874.2px;color:rgb(35,31,31);
}
#P361_33
{
left:0px;letter-spacing:0px;margin-left:608.5px;
}
#P361_34
{
left:18676.4px;bottom:42844.6px;color:rgb(35,31,31);
}
#P361_35
{
left:19262.9px;bottom:42874.2px;color:rgb(35,31,31);
}
#P361_36
{
left:19421.3px;bottom:42874.2px;color:rgb(35,31,31);
}
#P361_37
{
left:19784.5px;bottom:42874.2px;color:rgb(35,31,31);
}
#P361_38
{
left:22088.4px;bottom:42882.2px;color:rgb(0,124,196);
}
#P361_39
{
left:0px;letter-spacing:0px;margin-left:-49.8px;
}
#P361_40
{
left:13896.4px;bottom:41786.2px;color:rgb(35,31,31);
}
#P361_41
{
left:15320.9px;bottom:41756.6px;color:rgb(235,26,35);
}
#P361_42
{
left:16083.3px;bottom:41786.2px;color:rgb(235,26,35);
}
#P361_43
{
left:16456.4px;bottom:41786.2px;letter-spacing:595.7px;color:rgb(35,31,31);
}
#P361_44
{
left:17368.9px;bottom:41756.6px;color:rgb(235,26,35);
}
#P361_45
{
left:18131.3px;bottom:41786.2px;color:rgb(235,26,35);
}
#P361_46
{
left:18504.4px;bottom:41786.2px;color:rgb(35,31,31);
}
#P361_47
{
left:22088.4px;bottom:41794.2px;color:rgb(0,124,196);
}
#P361_48
{
left:16130.4px;bottom:40698.2px;word-spacing:2075.6px;color:rgb(35,31,31);
}
#P361_49
{
left:16749.9px;bottom:40874.2px;color:rgb(35,31,31);
}
#P361_50
{
left:17224.4px;bottom:40698.2px;color:rgb(35,31,31);
}
#P361_51
{
left:17382.8px;bottom:40698.2px;color:rgb(35,31,31);
}
#P361_52
{
left:22088.4px;bottom:40706.2px;color:rgb(0,124,196);
}
#P361_53
{
left:0px;letter-spacing:0px;margin-left:-49.7px;
}
#P361_54
{
left:14480.4px;bottom:38970.2px;color:rgb(35,31,31);
}
#P361_55
{
left:0px;letter-spacing:0px;margin-left:520.3px;
}
#P361_56
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P361_57
{
left:19997.6px;bottom:38970.2px;color:rgb(35,31,31);
}
#P361_58
{
left:20360.9px;bottom:38970.2px;color:rgb(35,31,31);
}
#P361_59
{
left:20607.3px;bottom:39146.2px;color:rgb(35,31,31);
}
#P361_60
{
left:21081.8px;bottom:38970.2px;color:rgb(35,31,31);
}
#P361_61
{
left:13896.3px;bottom:37690.2px;color:rgb(35,31,31);
}
#P361_62
{
left:23630px;bottom:36255.3px;color:rgb(35,31,31);
}
#P361_63
{
left:20208.8px;bottom:36144.2px;color:rgb(35,31,31);
}
#P361_64
{
left:20635.3px;bottom:36257.9px;color:rgb(35,31,31);
}
#P361_65
{
left:17030.3px;bottom:36145.7px;color:rgb(35,31,31);
}
#P361_66
{
left:17456.8px;bottom:36259.4px;color:rgb(35,31,31);
}
#P361_67
{
left:15536.8px;bottom:36145.7px;color:rgb(35,31,31);
}
#P361_68
{
left:15963.3px;bottom:36259.4px;color:rgb(35,31,31);
}
#P361_69
{
left:18715.3px;bottom:36141.6px;color:rgb(35,31,31);
}
#P361_70
{
left:19141.8px;bottom:36255.3px;color:rgb(35,31,31);
}
#P361_71
{
left:28158.1px;bottom:36256.8px;color:rgb(35,31,31);
}
#P361_72
{
left:30980.2px;bottom:36256.8px;color:rgb(35,31,31);
}
#P361_73
{
left:25132.7px;bottom:36270.1px;color:rgb(35,31,31);
}
#P361_74
{
left:21712.5px;bottom:36143.1px;color:rgb(35,31,31);
}
#P361_75
{
left:22139px;bottom:36256.8px;color:rgb(35,31,31);
}
#P361_76
{
left:26625.7px;bottom:36270.1px;color:rgb(35,31,31);
}
#P361_77
{
left:29499px;bottom:36270.1px;color:rgb(35,31,31);
}
#P361_78
{
left:21574px;bottom:37521.2px;color:rgb(0,124,196);
}
#P361_79
{
left:22022.1px;bottom:37649.1px;color:rgb(0,124,196);
}
#P361_80
{
left:22338.3px;bottom:37642.2px;color:rgb(0,124,196);
}
#P361_81
{
left:13896.4px;bottom:32634.2px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P361_82
{
left:0px;letter-spacing:-14px;margin-left:-50px;
}
#P361_83
{
left:0px;letter-spacing:0px;margin-left:1.5px;
}
#P361_84
{
left:13896.4px;bottom:31482.2px;color:rgb(35,31,31);
}
#P361_85
{
left:14360px;bottom:31509px;color:rgb(35,31,31);
}
#P361_86
{
left:15560.4px;bottom:31482.2px;color:rgb(35,31,31);
}
#P361_87
{
left:15923.7px;bottom:31482.2px;color:rgb(35,31,31);
}
#P361_88
{
left:16082.1px;bottom:31452.6px;color:rgb(35,31,31);
}
#P361_89
{
left:16668.4px;bottom:31482.2px;color:rgb(35,31,31);
}
#P361_90
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P361_91
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P361_92
{
left:21912px;bottom:31509px;color:rgb(35,31,31);
}
#P361_93
{
left:23176.4px;bottom:31482.2px;color:rgb(35,31,31);
}
#P361_94
{
left:23505.9px;bottom:31482.2px;color:rgb(35,31,31);
}
#P361_95
{
left:23664.2px;bottom:31452.6px;color:rgb(35,31,31);
}
#P361_96
{
left:24250.6px;bottom:31482.2px;color:rgb(35,31,31);
}
#P361_97
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P361_98
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P361_99
{
left:29592px;bottom:31509px;color:rgb(35,31,31);
}
#P361_100
{
left:30856.4px;bottom:31482.2px;color:rgb(35,31,31);
}
#P361_101
{
left:31849px;bottom:31658.2px;color:rgb(35,31,31);
}
#P361_102
{
left:32323.5px;bottom:31482.2px;color:rgb(35,31,31);
}
#P361_103
{
left:32481.9px;bottom:31482.2px;color:rgb(35,31,31);
}
#P361_104
{
left:33123.9px;bottom:31482.2px;color:rgb(35,31,31);
}
#P361_105
{
left:33282.3px;bottom:31452.6px;color:rgb(35,31,31);
}
#P361_106
{
left:33868.8px;bottom:31482.2px;color:rgb(35,31,31);
}
#P361_107
{
left:8632.28px;bottom:41785.6px;color:rgb(0,124,196);
}
#P361_108
{
left:4925.4px;bottom:38759.5px;color:white;
}
#P361_109
{
left:7095.51px;bottom:39001.1px;color:white;
}
#P361_110
{
left:7431.45px;bottom:38759.5px;color:white;
}
#P361_111
{
left:5053.4px;bottom:37640.4px;color:rgb(35,31,31);
}
#P361_112
{
left:9036.06px;bottom:37640.4px;color:rgb(35,31,31);
}
#P361_113
{
left:9320.22px;bottom:37640.4px;color:rgb(35,31,31);
}
#P361_114
{
left:9498.14px;bottom:37778.7px;color:rgb(35,31,31);
}
#P361_115
{
left:9849.5px;bottom:37640.4px;color:rgb(35,31,31);
}
#P361_116
{
left:5053.4px;bottom:36872.4px;color:rgb(35,31,31);
}
#P361_117
{
left:9000.92px;bottom:37010.7px;color:rgb(35,31,31);
}
#P361_118
{
left:9352.28px;bottom:36872.4px;color:rgb(35,31,31);
}
#P361_119
{
left:9530.2px;bottom:36872.4px;color:rgb(35,31,31);
}
#P361_120
{
left:9814.3px;bottom:36872.4px;color:rgb(35,31,31);
}
#P361_121
{
left:7748.63px;bottom:28193.6px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P361_122
{
left:14616.9px;bottom:28218.2px;color:white;
}
#P361_123
{
left:17000.7px;bottom:28410px;color:white;
}
#P361_124
{
left:17240.9px;bottom:28218.2px;word-spacing:-31.9px;color:white;
}
#P361_125
{
left:20009.2px;bottom:28410px;color:white;
}
#P361_126
{
left:20249.4px;bottom:28218.2px;color:white;
}
#P361_127
{
left:21433.1px;bottom:28410px;color:white;
}
#P361_128
{
left:21673.3px;bottom:28218.2px;color:white;
}
#P361_129
{
left:12772.6px;bottom:28051.1px;
}
#P361_130
{
left:12772.6px;bottom:28051.1px;color:white;
}
#P361_131
{
left:13843.9px;bottom:26588.8px;color:rgb(35,31,31);
}
#P361_132
{
left:0px;letter-spacing:0px;margin-left:-224.9px;
}
#P361_133
{
left:0px;letter-spacing:0px;margin-left:77.1px;
}
#P361_134
{
left:0px;letter-spacing:-0.5px;
}
#P361_135
{
left:0px;letter-spacing:-0.7px;margin-left:0.5px;
}
#P361_136
{
left:0px;letter-spacing:0px;margin-left:-9.8px;
}
#P361_137
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P361_138
{
left:13843.9px;bottom:25692.8px;letter-spacing:-3.1px;color:rgb(35,31,31);
}
#P361_139
{
left:0px;letter-spacing:-1.3px;margin-left:3.1px;
}
#P361_140
{
left:0px;letter-spacing:0px;margin-left:-12.6px;
}
#P361_141
{
left:0px;letter-spacing:0px;margin-left:-225px;
}
#P361_142
{
left:0px;letter-spacing:0px;margin-left:77.1px;
}
#P361_143
{
left:0px;letter-spacing:-7px;
}
#P361_144
{
left:0px;letter-spacing:-14.8px;margin-left:-35.1px;
}
#P361_145
{
left:0px;letter-spacing:-0.4px;margin-left:14.8px;
}
#P361_146
{
left:13843.9px;bottom:24796.9px;letter-spacing:-5.6px;color:rgb(35,31,31);
}
#P361_147
{
left:0px;letter-spacing:-0.5px;margin-left:5.6px;
}
#P361_148
{
left:0px;letter-spacing:0px;margin-left:0.5px;
}
#P361_149
{
left:13843.9px;bottom:23429.8px;letter-spacing:-5.4px;color:rgb(2,77,161);
}
#P361_150
{
left:15816.5px;bottom:23388.8px;color:rgb(35,31,31);
}
#P361_151
{
left:17683.9px;bottom:23407.7px;color:rgb(35,31,31);
}
#P361_152
{
left:17683.9px;bottom:22511.8px;color:rgb(35,31,31);
}
#P361_153
{
left:17683.9px;bottom:21615.9px;color:rgb(35,31,31);
}
#P361_154
{
left:18113.4px;bottom:21615.9px;word-spacing:56.3px;color:rgb(35,31,31);
}
#P361_155
{
left:21803.9px;bottom:23388.9px;color:rgb(35,31,31);
}
#P361_156
{
left:22507.9px;bottom:23372.8px;color:rgb(35,31,31);
}
#P361_157
{
left:23984.4px;bottom:23388.8px;color:rgb(35,31,31);
}
#P361_158
{
left:24688.4px;bottom:23372.8px;color:rgb(35,31,31);
}
#P361_159
{
left:24688.4px;bottom:22476.8px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P361_160
{
left:24688.4px;bottom:21580.8px;color:rgb(35,31,31);
}
#P361_161
{
left:28985.4px;bottom:23388.8px;color:rgb(35,31,31);
}
#P361_162
{
left:29689.4px;bottom:23404.8px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P361_163
{
left:29689.4px;bottom:22508.8px;color:rgb(35,31,31);
}
#P361_164
{
left:32857.4px;bottom:23388.8px;color:rgb(35,31,31);
}
#P361_165
{
left:33561.4px;bottom:23372.8px;color:rgb(35,31,31);
}
#P361_166
{
left:33561.4px;bottom:22476.8px;color:rgb(35,31,31);
}
#P361_167
{
left:33561.4px;bottom:21580.8px;letter-spacing:-1.6px;color:rgb(35,31,31);
}
#P361_168
{
left:13843.9px;bottom:20101.9px;letter-spacing:-16.7px;color:rgb(2,77,161);
}
#P361_169
{
left:0px;letter-spacing:0px;margin-left:16.7px;
}
#P361_170
{
left:17683.9px;bottom:20060.8px;word-spacing:1079.4px;color:rgb(35,31,31);
}
#P361_171
{
left:18846.2px;bottom:20060.8px;color:rgb(35,31,31);
}
#P361_172
{
left:19398.1px;bottom:20060.8px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P361_173
{
left:0px;letter-spacing:0px;margin-left:-13.5px;
}
#P361_174
{
left:13843.9px;bottom:18821.9px;color:rgb(2,77,161);
}
#P361_175
{
left:19236.2px;bottom:18780.8px;word-spacing:2023.2px;color:rgb(35,31,31);
}
#P361_176
{
left:20355.5px;bottom:18780.8px;color:rgb(35,31,31);
}
#P361_177
{
left:22879.5px;bottom:18780.8px;color:rgb(35,31,31);
}
#P361_178
{
left:23037.9px;bottom:18751.3px;color:rgb(35,31,31);
}
#P361_179
{
left:23624.3px;bottom:18780.8px;color:rgb(35,31,31);
}
#P361_180
{
left:23782.7px;bottom:18780.8px;color:rgb(35,31,31);
}
#P361_181
{
left:26703.1px;bottom:18780.8px;color:rgb(35,31,31);
}
#P361_182
{
left:27096.7px;bottom:18780.8px;color:rgb(35,31,31);
}
#P361_183
{
left:30972.1px;bottom:18780.8px;color:rgb(35,31,31);
}
#P361_184
{
left:31690.1px;bottom:18780.8px;color:rgb(35,31,31);
}
#P361_185
{
left:34532.2px;bottom:18780.8px;color:rgb(35,31,31);
}
#P361_186
{
left:16211.9px;bottom:16732.8px;word-spacing:2209.6px;color:rgb(35,31,31);
}
#P361_187
{
left:17489.6px;bottom:16703.2px;color:rgb(35,31,31);
}
#P361_188
{
left:18076.1px;bottom:16732.8px;color:rgb(35,31,31);
}
#P361_189
{
left:18234.5px;bottom:16732.8px;color:rgb(35,31,31);
}
#P361_190
{
left:18628px;bottom:16732.8px;color:rgb(35,31,31);
}
#P361_191
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P361_192
{
left:0px;letter-spacing:0px;margin-left:748px;
}
#P361_193
{
left:23955.9px;bottom:16740.8px;color:rgb(0,124,196);
}
#P361_194
{
left:0px;letter-spacing:0px;margin-left:-49.8px;
}
#P361_195
{
left:13843.9px;bottom:15644.8px;color:rgb(35,31,31);
}
#P361_196
{
left:15434.6px;bottom:15615.2px;color:rgb(235,26,35);
}
#P361_197
{
left:16197px;bottom:15644.8px;letter-spacing:-8.2px;color:rgb(235,26,35);
}
#P361_198
{
left:17299.9px;bottom:15644.8px;letter-spacing:1977.9px;color:rgb(35,31,31);
}
#P361_199
{
left:19594.6px;bottom:15615.2px;color:rgb(235,26,35);
}
#P361_200
{
left:20357px;bottom:15644.8px;letter-spacing:-8.2px;color:rgb(235,26,35);
}
#P361_201
{
left:21459.9px;bottom:15644.8px;color:rgb(35,31,31);
}
#P361_202
{
left:23891.9px;bottom:15652.8px;color:rgb(0,124,196);
}
#P361_203
{
left:13843.9px;bottom:14556.8px;color:rgb(35,31,31);
}
#P361_204
{
left:18114.8px;bottom:14556.8px;color:rgb(35,31,31);
}
#P361_205
{
left:18508.3px;bottom:14556.8px;color:rgb(35,31,31);
}
#P361_206
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P361_207
{
left:0px;letter-spacing:0px;margin-left:1240.9px;
}
#P361_208
{
left:23891.9px;bottom:14564.8px;color:rgb(0,124,196);
}
#P361_209
{
left:0px;letter-spacing:0px;margin-left:-49.7px;
}
#P361_210
{
left:15131.9px;bottom:12828.8px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P361_211
{
left:0px;letter-spacing:-4.7px;margin-left:-21px;
}
#P361_212
{
left:0px;letter-spacing:-0.6px;margin-left:4.6px;
}
#P361_213
{
left:0px;letter-spacing:-2.4px;margin-left:0.5px;
}
#P361_214
{
left:13843.9px;bottom:11548.8px;color:rgb(35,31,31);
}
#P361_215
{
left:13843.9px;bottom:9308.78px;color:rgb(35,31,31);
}
#P361_216
{
left:14307.5px;bottom:9335.6px;word-spacing:453.2px;color:rgb(35,31,31);
}
#P361_217
{
left:15507.9px;bottom:9308.78px;letter-spacing:-31.7px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P361_218
{
left:0px;letter-spacing:-0.7px;margin-left:189.3px;
}
#P361_219
{
left:15507.9px;bottom:8412.78px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P361_220
{
left:15507.9px;bottom:7516.84px;letter-spacing:-13.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P361_221
{
left:0px;letter-spacing:-0.1px;margin-left:12.9px;
}
#P361_222
{
left:15507.9px;bottom:6620.84px;letter-spacing:-4px;color:rgb(35,31,31);
}
#P361_223
{
left:0px;letter-spacing:0px;margin-left:4px;
}
#P361_224
{
left:15507.9px;bottom:5724.84px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P361_225
{
left:15507.9px;bottom:4828.97px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P361_226
{
left:8013.4px;bottom:31449.9px;color:rgb(35,31,31);
}
#PageContainer361
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg361.jpg");background-repeat:no-repeat;background-size: 946px 1184px; background-position: 121px 74.8800000000001px;
}
#ImageContainer361 {bottom:105.12px;right:0.00px;width:945.90px;height:1183.93px;position:absolute;} #TextContainer361 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.example2{position: absolute;top: 83px;left: 162px;}
.example3{position: absolute;top: 569px;left: 157px;}

.nyr{position: absolute;top: 460px;left: 185px;}
.nyr_exr{position: absolute;top: 498px;left: 212px;color: rgb(35,31,31);font-size: 16px;}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}