.tr468{ color:transparent;}
#P468_1
{
left:2365.4px;bottom:1409.96px;color:rgb(35,31,31);
}
#P468_2
{
left:3540.44px;bottom:1409.96px;color:rgb(35,31,31);
}
#P468_3
{
left:4925.4px;bottom:1409.96px;color:rgb(35,31,31);
}
#P468_4
{
left:8197.72px;bottom:1409.96px;letter-spacing:462.1px;color:rgb(35,31,31);
}
#P468_5
{
left:0px;letter-spacing:1.5px;margin-left:-465px;
}
#P468_6
{
left:0px;letter-spacing:0px;margin-left:6.1px;
}
#P468_7
{
left:5889.56px;bottom:46957.1px;color:white;
}
#P468_8
{
left:2371.78px;bottom:46929.9px;color:white;
}
#P468_9
{
left:26785.2px;bottom:46188.3px;word-spacing:0.2px;color:rgb(33,31,31);
}
#P468_10
{
left:0px;letter-spacing:0px;margin-left:-44.8px;
}
#P468_11
{
left:0px;letter-spacing:0px;margin-left:0.2px;
}
#P468_12
{
left:5445.91px;bottom:30049.6px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P468_13
{
left:12314.2px;bottom:30074.2px;color:white;
}
#P468_14
{
left:13978.3px;bottom:30266px;color:white;
}
#P468_15
{
left:14218.5px;bottom:30074.2px;color:white;
}
#P468_16
{
left:16652.3px;bottom:30266px;color:white;
}
#P468_17
{
left:16892.5px;bottom:30074.2px;letter-spacing:-2.6px;color:white;
}
#P468_18
{
left:10469.8px;bottom:29907.1px;
}
#P468_19
{
left:10469.8px;bottom:29907.1px;color:white;
}
#P468_20
{
left:10773.2px;bottom:28444.8px;color:rgb(35,31,31);
}
#P468_21
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P468_22
{
left:0px;letter-spacing:0px;margin-left:-21px;
}
#P468_23
{
left:10773.2px;bottom:27548.8px;color:rgb(35,31,31);
}
#P468_24
{
left:10773.2px;bottom:26652.8px;color:rgb(35,31,31);
}
#P468_25
{
left:0px;letter-spacing:-14px;margin-left:-50.6px;
}
#P468_26
{
left:0px;letter-spacing:0px;margin-left:5.6px;
}
#P468_27
{
left:10773.2px;bottom:25756.8px;color:rgb(35,31,31);
}
#P468_28
{
left:10773.2px;bottom:24412.8px;letter-spacing:-2.8px;color:rgb(35,31,31);
}
#P468_29
{
left:12949.3px;bottom:24412.8px;letter-spacing:353.5px;color:rgb(35,31,31);
}
#P468_30
{
left:0px;letter-spacing:-0.3px;margin-left:-361.9px;
}
#P468_31
{
left:0px;letter-spacing:0px;margin-left:-13.6px;
}
#P468_32
{
left:10773.2px;bottom:23132.8px;letter-spacing:-2.8px;color:rgb(35,31,31);
}
#P468_33
{
left:12949.3px;bottom:23132.8px;letter-spacing:353.5px;color:rgb(35,31,31);
}
#P468_34
{
left:0px;letter-spacing:0px;margin-left:-511.9px;
}
#P468_35
{
left:0px;letter-spacing:-0.5px;margin-left:-8.4px;
}
#P468_36
{
left:0px;letter-spacing:-3.5px;margin-left:-13.4px;
}
#P468_37
{
left:0px;letter-spacing:0px;margin-left:3.5px;
}
#P468_38
{
left:13461.2px;bottom:22236.9px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P468_39
{
left:0px;letter-spacing:0px;margin-left:-4.1px;
}
#P468_40
{
left:11541.2px;bottom:8284.84px;color:rgb(35,31,31);
}
#P468_41
{
left:12004.8px;bottom:8311.6px;word-spacing:453.2px;color:rgb(35,31,31);
}
#P468_42
{
left:13205.2px;bottom:8284.78px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P468_43
{
left:0px;letter-spacing:0px;margin-left:-20.4px;
}
#P468_44
{
left:0px;letter-spacing:0.2px;
}
#P468_45
{
left:13205.2px;bottom:7388.78px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P468_46
{
left:0px;letter-spacing:0px;margin-left:-41.8px;
}
#P468_47
{
left:0px;letter-spacing:-0.4px;
}
#P468_48
{
left:11541.2px;bottom:6108.78px;color:rgb(35,31,31);
}
#P468_49
{
left:14573.5px;bottom:5733.23px;color:rgb(35,31,31);
}
#P468_50
{
left:18494.2px;bottom:5714.41px;word-spacing:-67.2px;color:rgb(35,31,31);
}
#P468_51
{
left:0px;letter-spacing:0px;margin-left:631.2px;
}
#P468_52
{
left:0px;letter-spacing:0px;margin-left:589.3px;
}
#P468_53
{
left:0px;letter-spacing:0px;margin-left:589.2px;
}
#P468_54
{
left:0px;letter-spacing:0px;margin-left:589.3px;
}
#P468_55
{
left:14573.5px;bottom:4581.23px;letter-spacing:-1.5px;color:rgb(35,31,31);
}
#P468_56
{
left:19060.3px;bottom:4562.41px;color:rgb(35,31,31);
}
#P468_57
{
left:0px;letter-spacing:0px;margin-left:1805.6px;
}
#P468_58
{
left:0px;letter-spacing:0px;margin-left:1983.6px;
}
#P468_59
{
left:0px;letter-spacing:0px;margin-left:2161.7px;
}
#P468_60
{
left:0px;letter-spacing:0px;margin-left:2161.8px;
}
#P468_61
{
left:2856.07px;bottom:43442.1px;letter-spacing:-7.7px;word-spacing:-26px;color:rgb(0,124,196);
}
#P468_62
{
left:0px;letter-spacing:0px;margin-left:7.7px;
}
#P468_63
{
left:2856.07px;bottom:42500.1px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P468_64
{
left:3624.07px;bottom:41732.1px;color:rgb(35,31,31);
}
#P468_65
{
left:2856.07px;bottom:40836.1px;color:rgb(35,31,31);
}
#P468_66
{
left:0px;letter-spacing:0px;margin-left:-11.4px;
}
#P468_67
{
left:0px;letter-spacing:0px;margin-left:-58.7px;
}
#P468_68
{
left:5843.8px;bottom:40836.1px;color:rgb(35,31,31);
}
#P468_69
{
left:2856.07px;bottom:39940.1px;color:rgb(35,31,31);
}
#P468_70
{
left:5949.79px;bottom:39940.1px;color:rgb(35,31,31);
}
#P468_71
{
left:12285.4px;bottom:41866.2px;color:rgb(35,31,31);
}
#P468_72
{
left:12728.9px;bottom:42022.4px;color:rgb(35,31,31);
}
#P468_73
{
left:12924.6px;bottom:41866.2px;letter-spacing:-1.8px;color:rgb(35,31,31);
}
#P468_74
{
left:12285.4px;bottom:40758.4px;color:rgb(35,31,31);
}
#P468_75
{
left:12890.8px;bottom:40758.4px;color:rgb(35,31,31);
}
#P468_76
{
left:16279.1px;bottom:40758.4px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P468_77
{
left:12285.4px;bottom:39862.4px;letter-spacing:-2.6px;color:rgb(35,31,31);
}
#P468_78
{
left:0px;letter-spacing:-0.8px;margin-left:2.6px;
}
#P468_79
{
left:12285.4px;bottom:38966.4px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P468_80
{
left:12285.4px;bottom:38070.4px;letter-spacing:-2px;color:rgb(35,31,31);
}
#P468_81
{
left:12285.4px;bottom:36726.4px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P468_82
{
left:0px;letter-spacing:0px;margin-left:-13.3px;
}
#P468_83
{
left:12285.4px;bottom:35830.6px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P468_84
{
left:0px;letter-spacing:0px;margin-left:0.8px;
}
#P468_85
{
left:12285.4px;bottom:34934.6px;letter-spacing:0.7px;color:rgb(35,31,31);
}
#P468_86
{
left:5709.4px;bottom:7324.78px;word-spacing:-66.2px;color:rgb(35,31,31);
}
#P468_87
{
left:0px;letter-spacing:0px;margin-left:66.2px;
}
#P468_88
{
left:24067.8px;bottom:36799.1px;color:rgb(35,31,31);
}
#P468_89
{
left:24089.1px;bottom:37567.1px;color:rgb(35,31,31);
}
#P468_90
{
left:24099.7px;bottom:38335.1px;color:rgb(35,31,31);
}
#P468_91
{
left:24078.4px;bottom:39103.1px;color:rgb(35,31,31);
}
#P468_92
{
left:25330.7px;bottom:35653.8px;color:rgb(35,31,31);
}
#P468_93
{
left:0px;letter-spacing:0px;margin-left:1274.4px;
}
#P468_94
{
left:29674.8px;bottom:35650.9px;color:rgb(35,31,31);
}
#P468_95
{
left:31975.9px;bottom:35653.8px;color:rgb(35,31,31);
}
#P468_96
{
left:24088px;bottom:39850.9px;color:rgb(35,31,31);
}
#P468_97
{
left:24082.6px;bottom:36010.9px;color:rgb(35,31,31);
}
#P468_98
{
left:27037.4px;bottom:34625.1px;color:rgb(35,31,31);
}
#P468_99
{
left:23624px;bottom:36779.6px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P468_100
{
left:26818.7px;bottom:40742.3px;color:rgb(35,31,31);
}
#P468_101
{
left:12383px;bottom:15163px;color:rgb(35,31,31);
}
#P468_102
{
left:12351px;bottom:15923px;color:rgb(35,31,31);
}
#P468_103
{
left:12375px;bottom:16683px;color:rgb(35,31,31);
}
#P468_104
{
left:12375px;bottom:17443px;color:rgb(35,31,31);
}
#P468_105
{
left:12111px;bottom:18203px;color:rgb(35,31,31);
}
#P468_106
{
left:12120.6px;bottom:18996.4px;color:rgb(35,31,31);
}
#P468_107
{
left:12368.7px;bottom:14372.5px;color:rgb(35,31,31);
}
#P468_108
{
left:13732.4px;bottom:14004.4px;color:rgb(35,31,31);
}
#P468_109
{
left:15835.8px;bottom:14012.5px;color:rgb(35,31,31);
}
#P468_110
{
left:17832.6px;bottom:14004.4px;color:rgb(35,31,31);
}
#P468_111
{
left:0px;letter-spacing:0px;margin-left:887px;
}
#P468_112
{
left:0px;letter-spacing:0px;margin-left:753.1px;
}
#P468_113
{
left:15904.3px;bottom:12967.7px;color:rgb(35,31,31);
}
#P468_114
{
left:11712.5px;bottom:15463.5px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P468_115
{
left:15013.7px;bottom:19858.3px;color:rgb(35,31,31);
}
#P468_116
{
left:25536.6px;bottom:19540.8px;letter-spacing:-0.6px;color:rgb(0,124,196);
}
#P468_117
{
left:25536.6px;bottom:18734.4px;color:rgb(0,124,196);
}
#P468_118
{
left:25536.6px;bottom:17928px;letter-spacing:-12.4px;color:rgb(0,124,196);
}
#P468_119
{
left:0px;letter-spacing:0px;margin-left:12.4px;
}
#P468_120
{
left:25707.3px;bottom:14612.9px;letter-spacing:-8.3px;color:rgb(0,124,196);
}
#P468_121
{
left:0px;letter-spacing:0px;margin-left:8.3px;
}
#P468_122
{
left:25707.3px;bottom:13806.4px;color:rgb(0,124,196);
}
#P468_123
{
left:25504.7px;bottom:28171.6px;color:rgb(35,31,31);
}
#P468_124
{
left:0px;letter-spacing:0px;margin-left:613.7px;
}
#P468_125
{
left:0px;letter-spacing:0px;margin-left:-11.9px;
}
#P468_126
{
left:27440px;bottom:27064.8px;word-spacing:-67.2px;color:rgb(35,31,31);
}
#P468_127
{
left:0px;letter-spacing:0px;margin-left:3811px;
}
#P468_128
{
left:0px;letter-spacing:0px;
}
#P468_129
{
left:27398px;bottom:26040.9px;word-spacing:-67.2px;color:rgb(35,31,31);
}
#P468_130
{
left:0px;letter-spacing:0px;margin-left:3947.2px;
}
#P468_131
{
left:27440px;bottom:25016.9px;word-spacing:-67.2px;color:rgb(35,31,31);
}
#P468_132
{
left:0px;letter-spacing:0px;margin-left:3989.2px;
}
#P468_133
{
left:27083.9px;bottom:23992.9px;word-spacing:-67.2px;color:rgb(35,31,31);
}
#P468_134
{
left:0px;letter-spacing:0px;margin-left:3633px;
}
#P468_135
{
left:27083.9px;bottom:22968.9px;word-spacing:-67.2px;color:rgb(35,31,31);
}
#P468_136
{
left:0px;letter-spacing:0px;margin-left:3633px;
}
#PageContainer468
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg468.jpg");background-repeat:no-repeat;background-size: 951px 1291px; background-position: 0px 35.3699999999999px;
}
#ImageContainer468 {bottom:37.63px;left:0.00px;width:950.87px;height:1291.35px;position:absolute;} #TextContainer468 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.example1{ position: absolute; top: 520px; left: 101px;}
.nyr{position: absolute;top: 1118px;left: 128px}
.nyr_exr{position: absolute;top: 1148px;left: 163px;color:rgb(35,31,31);font-size:16px}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}