.tr15{ color:transparent;}
#P15_1
{
left:4669.4px;bottom:43600.2px;letter-spacing:-28.5px;color:rgb(0,151,73);
}
#P15_2
{
left:4669.4px;bottom:42000.2px;letter-spacing:-44.2px;color:rgb(0,151,73);
}
#P15_3
{
left:0px;letter-spacing:-29.4px;margin-left:14.7px;
}
#P15_4
{
left:0px;bottom:0px;letter-spacing:0px;color:rgb(35,31,31);
}
#P15_5
{
left:26234px;bottom:33031px;letter-spacing:-6.1px;color:rgb(35,31,31);
}
#P15_6
{
left:26046.5px;bottom:32263px;letter-spacing:-6.6px;color:rgb(35,31,31);
}
#P15_7
{
left:26216.7px;bottom:31495px;letter-spacing:-7.4px;color:rgb(35,31,31);
}
#P15_8
{
left:0px;letter-spacing:-5.1px;margin-left:1px;
}
#P15_9
{
left:26212.2px;bottom:30727px;letter-spacing:-6.5px;color:rgb(35,31,31);
}
#P15_10
{
left:28842.6px;bottom:29959px;letter-spacing:-6.4px;color:rgb(35,31,31);
}
#P15_11
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P15_12
{
left:36143.3px;bottom:1410.03px;color:rgb(35,31,31);
}
#P15_13
{
left:4669.4px;bottom:39378.8px;color:rgb(0,151,73);
}
#P15_14
{
left:0px;letter-spacing:0px;margin-left:4328.9px;
}
#P15_15
{
left:0px;letter-spacing:-7px;margin-left:232.3px;
}
#P15_16
{
left:0px;letter-spacing:-7px;margin-left:-52.1px;
}
#P15_17
{
left:0px;letter-spacing:0px;margin-left:-8.4px;
}
#P15_18
{
left:18399.2px;bottom:39529.5px;letter-spacing:-7px;word-spacing:-116.4px;color:rgb(145,147,151);
}
#P15_19
{
left:21479.5px;bottom:39378.8px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P15_20
{
left:5535.04px;bottom:38354.5px;letter-spacing:-7px;word-spacing:656.6px;color:rgb(145,147,151);
}
#P15_21
{
left:0px;letter-spacing:-7px;margin-left:-656.8px;
}
#P15_22
{
left:9660.7px;bottom:38354.5px;letter-spacing:-8.2px;word-spacing:239.6px;color:rgb(35,31,31);
}
#P15_23
{
left:0px;letter-spacing:0px;margin-left:-238.1px;
}
#P15_24
{
left:0px;letter-spacing:-8.7px;margin-left:-7px;
}
#P15_25
{
left:4670.11px;bottom:37330.9px;letter-spacing:4328.5px;color:rgb(35,31,31);
}
#P15_26
{
left:9662.17px;bottom:37330.9px;letter-spacing:-7px;color:rgb(235,26,35);
}
#P15_27
{
left:12132.1px;bottom:37481.5px;letter-spacing:-7px;word-spacing:-87px;color:rgb(145,147,151);
}
#P15_28
{
left:21466.8px;bottom:37330.9px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P15_29
{
left:4670.11px;bottom:36307.2px;letter-spacing:4328.5px;color:rgb(35,31,31);
}
#P15_30
{
left:9662.17px;bottom:36307.2px;letter-spacing:-7px;color:rgb(2,77,161);
}
#P15_31
{
left:12132.1px;bottom:36457.9px;letter-spacing:-7px;word-spacing:-115.2px;color:rgb(145,147,151);
}
#P15_32
{
left:21466.1px;bottom:36307.2px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P15_33
{
left:5404.1px;bottom:35282.9px;letter-spacing:-7px;word-spacing:525.6px;color:rgb(145,147,151);
}
#P15_34
{
left:0px;letter-spacing:-7px;margin-left:-525.9px;
}
#P15_35
{
left:9213.85px;bottom:35282.9px;letter-spacing:232.6px;color:rgb(35,31,31);
}
#P15_36
{
left:0px;letter-spacing:-7px;margin-left:-447.7px;
}
#P15_37
{
left:13252.2px;bottom:35282.8px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P15_38
{
left:4669.02px;bottom:34259.2px;letter-spacing:4328.5px;color:rgb(35,31,31);
}
#P15_39
{
left:9661.15px;bottom:34259.2px;letter-spacing:-7px;color:rgb(235,26,35);
}
#P15_40
{
left:12131.1px;bottom:34409.8px;letter-spacing:-7px;word-spacing:-87px;color:rgb(145,147,151);
}
#P15_41
{
left:21451.7px;bottom:34259.2px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P15_42
{
left:4669.08px;bottom:33235.6px;letter-spacing:4328.5px;color:rgb(35,31,31);
}
#P15_43
{
left:9661.15px;bottom:33235.6px;letter-spacing:-7px;color:rgb(2,77,161);
}
#P15_44
{
left:12131.1px;bottom:33386.2px;letter-spacing:-7px;word-spacing:-115.2px;color:rgb(145,147,151);
}
#P15_45
{
left:21465.1px;bottom:33235.6px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P15_46
{
left:4669.08px;bottom:32211.2px;letter-spacing:4328.9px;color:rgb(0,151,73);
}
#P15_47
{
left:0px;letter-spacing:0px;margin-left:-4096.6px;
}
#P15_48
{
left:0px;letter-spacing:-7.5px;margin-left:-7px;
}
#P15_49
{
left:19891.3px;bottom:32361.9px;letter-spacing:-7px;word-spacing:-140.4px;color:rgb(145,147,151);
}
#P15_50
{
left:21452.4px;bottom:32211.2px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P15_51
{
left:9661.85px;bottom:31186.9px;letter-spacing:-7px;word-spacing:4335.6px;color:rgb(0,151,73);
}
#P15_52
{
left:0px;letter-spacing:-7px;margin-left:-4335.6px;
}
#P15_53
{
left:13773.4px;bottom:31337.6px;letter-spacing:-7px;word-spacing:-109px;color:rgb(145,147,151);
}
#P15_54
{
left:21479.2px;bottom:31186.9px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P15_55
{
left:5403.78px;bottom:30162.6px;letter-spacing:-7px;word-spacing:525.6px;color:rgb(145,147,151);
}
#P15_56
{
left:0px;letter-spacing:-7px;margin-left:-525.9px;
}
#P15_57
{
left:9213.53px;bottom:30162.6px;letter-spacing:232.6px;color:rgb(35,31,31);
}
#P15_58
{
left:0px;letter-spacing:-7px;margin-left:-447.7px;
}
#P15_59
{
left:13252.2px;bottom:30162.8px;letter-spacing:-7.9px;color:rgb(35,31,31);
}
#P15_60
{
left:4669.08px;bottom:29139.2px;letter-spacing:4328.5px;color:rgb(35,31,31);
}
#P15_61
{
left:9661.15px;bottom:29139.2px;letter-spacing:-7px;color:rgb(235,26,35);
}
#P15_62
{
left:12131.1px;bottom:29289.8px;letter-spacing:-7px;word-spacing:-87px;color:rgb(145,147,151);
}
#P15_63
{
left:21451.7px;bottom:29139.2px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P15_64
{
left:4669.08px;bottom:28115.6px;letter-spacing:4328.5px;color:rgb(35,31,31);
}
#P15_65
{
left:9661.15px;bottom:28115.6px;letter-spacing:-7px;color:rgb(2,77,161);
}
#P15_66
{
left:12131.1px;bottom:28266.2px;letter-spacing:-7px;word-spacing:-115.2px;color:rgb(145,147,151);
}
#P15_67
{
left:21478.5px;bottom:28115.6px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P15_68
{
left:5390.4px;bottom:27091.2px;letter-spacing:-7px;word-spacing:512.9px;color:rgb(145,147,151);
}
#P15_69
{
left:0px;letter-spacing:-7px;margin-left:-513.2px;
}
#P15_70
{
left:9212.83px;bottom:27091.2px;color:rgb(35,31,31);
}
#P15_71
{
left:0px;letter-spacing:0px;margin-left:232.3px;
}
#P15_72
{
left:0px;letter-spacing:-7px;margin-left:-42.2px;
}
#P15_73
{
left:4669.08px;bottom:26067.6px;letter-spacing:4328.5px;color:rgb(35,31,31);
}
#P15_74
{
left:9661.15px;bottom:26067.6px;letter-spacing:-7px;color:rgb(235,26,35);
}
#P15_75
{
left:12131.1px;bottom:26218.3px;letter-spacing:-7px;word-spacing:-87px;color:rgb(145,147,151);
}
#P15_76
{
left:21479.2px;bottom:26067.6px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P15_77
{
left:4669.08px;bottom:25044px;letter-spacing:4328.5px;color:rgb(35,31,31);
}
#P15_78
{
left:9661.15px;bottom:25044px;letter-spacing:-7px;color:rgb(2,77,161);
}
#P15_79
{
left:12131.1px;bottom:25194.7px;letter-spacing:-7px;word-spacing:-115.2px;color:rgb(145,147,151);
}
#P15_80
{
left:21478.5px;bottom:25044px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P15_81
{
left:9661.15px;bottom:24019.7px;letter-spacing:-7px;word-spacing:4335.6px;color:rgb(0,151,73);
}
#P15_82
{
left:0px;letter-spacing:-7px;margin-left:-4335.6px;
}
#P15_83
{
left:13921.9px;bottom:24170.3px;letter-spacing:-7px;word-spacing:-103.3px;color:rgb(145,147,151);
}
#P15_84
{
left:21451.7px;bottom:24019.7px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P15_85
{
left:9661.15px;bottom:22995.4px;letter-spacing:-7px;word-spacing:4335.6px;color:rgb(0,151,73);
}
#P15_86
{
left:0px;letter-spacing:-7px;margin-left:-4335.6px;
}
#P15_87
{
left:15115.8px;bottom:23146px;letter-spacing:-7px;word-spacing:-66.8px;color:rgb(145,147,151);
}
#P15_88
{
left:21497.5px;bottom:22995.4px;letter-spacing:42.2px;color:rgb(35,31,31);
}
#P15_89
{
left:9661.15px;bottom:21971.1px;letter-spacing:-7px;word-spacing:4335.6px;color:rgb(0,151,73);
}
#P15_90
{
left:0px;letter-spacing:0px;margin-left:-4335.6px;
}
#P15_91
{
left:0px;letter-spacing:-7px;margin-left:-103.5px;
}
#P15_92
{
left:14071.1px;bottom:22121.7px;letter-spacing:-7px;word-spacing:-90px;color:rgb(145,147,151);
}
#P15_93
{
left:21452.4px;bottom:21971.1px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P15_94
{
left:9661.15px;bottom:20946.7px;letter-spacing:-7px;word-spacing:4335.6px;color:rgb(0,151,73);
}
#P15_95
{
left:0px;letter-spacing:-7px;margin-left:-8.4px;
}
#P15_96
{
left:0px;letter-spacing:-7px;margin-left:-4335.6px;
}
#P15_97
{
left:17503.6px;bottom:21097.4px;letter-spacing:-7px;word-spacing:-116.9px;color:rgb(145,147,151);
}
#P15_98
{
left:21465.1px;bottom:20946.7px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P15_99
{
left:24829.4px;bottom:41388.8px;
}
#PageContainer15
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg015.jpg");background-repeat:no-repeat;background-size: 1066px 1364px; background-position: right bottom;
}
#ImageContainer15 {bottom:0.00px;right:0.00px;width:1066.24px;height:1364.16px;position:absolute;} #TextContainer15 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
