.tr375{ color:transparent;}
#P375_1
{
left:6973.4px;bottom:43784.6px;color:rgb(35,31,31);
}
#P375_2
{
left:7541.98px;bottom:43804.3px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P375_3
{
left:8573.4px;bottom:43784.6px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P375_4
{
left:0px;letter-spacing:0px;margin-left:-20.6px;
}
#P375_5
{
left:0px;letter-spacing:-7px;
}
#P375_6
{
left:8573.4px;bottom:42888.6px;color:rgb(0,124,196);
}
#P375_7
{
left:6973.4px;bottom:41416.6px;color:rgb(0,124,196);
}
#P375_8
{
left:7933.4px;bottom:41416.6px;color:rgb(0,124,196);
}
#P375_9
{
left:14737.3px;bottom:37200.9px;color:rgb(33,31,31);
}
#P375_10
{
left:14737.3px;bottom:42026px;color:rgb(33,31,31);
}
#P375_11
{
left:16440px;bottom:39557.9px;color:white;
}
#P375_12
{
left:6973.4px;bottom:35528.6px;color:rgb(35,31,31);
}
#P375_13
{
left:8449.11px;bottom:35548.3px;color:rgb(35,31,31);
}
#P375_14
{
left:9597.41px;bottom:35528.6px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P375_15
{
left:0px;letter-spacing:0px;margin-left:-285.9px;
}
#P375_16
{
left:10623.8px;bottom:35872.3px;color:rgb(35,31,31);
}
#P375_17
{
left:10895.1px;bottom:35528.6px;color:rgb(35,31,31);
}
#P375_18
{
left:17039.3px;bottom:35548.3px;color:rgb(35,31,31);
}
#P375_19
{
left:18109.3px;bottom:35528.6px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P375_20
{
left:0px;letter-spacing:0px;margin-left:-285.8px;
}
#P375_21
{
left:19509px;bottom:35872.3px;color:rgb(35,31,31);
}
#P375_22
{
left:6973.4px;bottom:33992.6px;color:rgb(35,31,31);
}
#P375_23
{
left:8527.26px;bottom:34012.3px;color:rgb(35,31,31);
}
#P375_24
{
left:9597.41px;bottom:33992.6px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P375_25
{
left:0px;letter-spacing:0px;margin-left:-285.9px;
}
#P375_26
{
left:10997px;bottom:34336.3px;color:rgb(35,31,31);
}
#P375_27
{
left:11268.2px;bottom:33992.6px;color:rgb(35,31,31);
}
#P375_28
{
left:16961.1px;bottom:34012.3px;color:rgb(35,31,31);
}
#P375_29
{
left:18109.4px;bottom:33992.6px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P375_30
{
left:0px;letter-spacing:0px;margin-left:-285.9px;
}
#P375_31
{
left:19509px;bottom:34336.3px;color:rgb(35,31,31);
}
#P375_32
{
left:6973.4px;bottom:31560.6px;color:rgb(35,31,31);
}
#P375_33
{
left:7541.98px;bottom:31580.3px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P375_34
{
left:8573.4px;bottom:31560.6px;letter-spacing:-63.2px;color:rgb(35,31,31);
}
#P375_35
{
left:0px;letter-spacing:-0.2px;margin-left:63.2px;
}
#P375_36
{
left:8573.4px;bottom:30664.6px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P375_37
{
left:0px;letter-spacing:-21px;margin-left:-13.5px;
}
#P375_38
{
left:0px;letter-spacing:0px;margin-left:21px;
}
#P375_39
{
left:8573.4px;bottom:29768.7px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P375_40
{
left:0px;letter-spacing:0px;margin-left:0.5px;
}
#P375_41
{
left:8573.4px;bottom:28872.7px;letter-spacing:0.2px;color:rgb(35,31,31);
}
#P375_42
{
left:16843.7px;bottom:28872.6px;color:rgb(0,124,196);
}
#P375_43
{
left:6973.4px;bottom:27400.6px;color:rgb(35,31,31);
}
#P375_44
{
left:8696.15px;bottom:27420.3px;letter-spacing:-90.7px;color:rgb(35,31,31);
}
#P375_45
{
left:9597.41px;bottom:27400.6px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P375_46
{
left:16961.1px;bottom:27420.3px;color:rgb(35,31,31);
}
#P375_47
{
left:17665.1px;bottom:27400.6px;letter-spacing:285.9px;color:rgb(35,31,31);
}
#P375_48
{
left:6973.4px;bottom:25864.6px;color:rgb(35,31,31);
}
#P375_49
{
left:8449.11px;bottom:25884.3px;color:rgb(35,31,31);
}
#P375_50
{
left:9597.41px;bottom:25864.6px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P375_51
{
left:17273.7px;bottom:25884.3px;color:rgb(35,31,31);
}
#P375_52
{
left:18109.4px;bottom:25864.6px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P375_53
{
left:6973.4px;bottom:23432.7px;color:rgb(35,31,31);
}
#P375_54
{
left:7541.98px;bottom:23452.4px;color:rgb(35,31,31);
}
#P375_55
{
left:8573.4px;bottom:23432.7px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P375_56
{
left:0px;letter-spacing:0px;margin-left:-13.2px;
}
#P375_57
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P375_58
{
left:0px;letter-spacing:0px;margin-left:-21px;
}
#P375_59
{
left:26178.6px;bottom:23432.6px;letter-spacing:1px;color:rgb(0,124,196);
}
#P375_60
{
left:6973.4px;bottom:21768.6px;letter-spacing:1825.6px;color:rgb(35,31,31);
}
#P375_61
{
left:10493.4px;bottom:21264.6px;color:rgb(35,31,31);
}
#P375_62
{
left:27180.7px;bottom:21264.6px;color:rgb(35,31,31);
}
#P375_63
{
left:27510.2px;bottom:21264.6px;color:rgb(35,31,31);
}
#P375_64
{
left:6973.47px;bottom:18760.6px;color:rgb(35,31,31);
}
#P375_65
{
left:8449.18px;bottom:18780.3px;color:rgb(35,31,31);
}
#P375_66
{
left:9597.47px;bottom:18760.6px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P375_67
{
left:10502.1px;bottom:18731.1px;color:rgb(35,31,31);
}
#P375_68
{
left:11088.5px;bottom:18760.6px;color:rgb(35,31,31);
}
#P375_69
{
left:11778.5px;bottom:18731.1px;color:rgb(35,31,31);
}
#P375_70
{
left:12364.8px;bottom:18760.6px;color:rgb(35,31,31);
}
#P375_71
{
left:13054.7px;bottom:18731.1px;color:rgb(35,31,31);
}
#P375_72
{
left:13641.2px;bottom:18760.6px;color:rgb(35,31,31);
}
#P375_73
{
left:13799.6px;bottom:18760.6px;color:rgb(35,31,31);
}
#P375_74
{
left:14129px;bottom:18760.6px;color:rgb(35,31,31);
}
#P375_75
{
left:23119.4px;bottom:18780.3px;color:rgb(35,31,31);
}
#P375_76
{
left:24189.6px;bottom:18760.6px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P375_77
{
left:25094.2px;bottom:18731.1px;color:rgb(35,31,31);
}
#P375_78
{
left:25680.7px;bottom:18760.6px;color:rgb(35,31,31);
}
#P375_79
{
left:26370.6px;bottom:18731.1px;color:rgb(35,31,31);
}
#P375_80
{
left:26956.9px;bottom:18760.6px;color:rgb(35,31,31);
}
#P375_81
{
left:27115.3px;bottom:18760.6px;color:rgb(35,31,31);
}
#P375_82
{
left:27444.8px;bottom:18760.6px;color:rgb(35,31,31);
}
#P375_83
{
left:27603.2px;bottom:18731.1px;color:rgb(35,31,31);
}
#P375_84
{
left:28189.6px;bottom:18760.6px;color:rgb(35,31,31);
}
#P375_85
{
left:6973.47px;bottom:17224.7px;color:rgb(35,31,31);
}
#P375_86
{
left:8527.32px;bottom:17244.5px;color:rgb(35,31,31);
}
#P375_87
{
left:9597.47px;bottom:17224.7px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P375_88
{
left:10502.1px;bottom:17195.2px;color:rgb(35,31,31);
}
#P375_89
{
left:11088.5px;bottom:17224.7px;color:rgb(35,31,31);
}
#P375_90
{
left:11778.5px;bottom:17195.2px;color:rgb(35,31,31);
}
#P375_91
{
left:12364.8px;bottom:17224.7px;color:rgb(35,31,31);
}
#P375_92
{
left:13054.7px;bottom:17195.2px;color:rgb(35,31,31);
}
#P375_93
{
left:13641.2px;bottom:17224.7px;color:rgb(35,31,31);
}
#P375_94
{
left:13799.6px;bottom:17224.7px;color:rgb(35,31,31);
}
#P375_95
{
left:14129px;bottom:17224.7px;color:rgb(35,31,31);
}
#P375_96
{
left:23041.3px;bottom:17244.5px;color:rgb(35,31,31);
}
#P375_97
{
left:23745.3px;bottom:17224.7px;color:rgb(35,31,31);
}
#P375_98
{
left:0px;letter-spacing:0px;margin-left:127.5px;
}
#P375_99
{
left:25094.2px;bottom:17195.2px;color:rgb(35,31,31);
}
#P375_100
{
left:25680.7px;bottom:17224.7px;color:rgb(35,31,31);
}
#P375_101
{
left:26370.6px;bottom:17195.2px;color:rgb(35,31,31);
}
#P375_102
{
left:26956.9px;bottom:17224.7px;color:rgb(35,31,31);
}
#P375_103
{
left:27115.3px;bottom:17224.7px;color:rgb(35,31,31);
}
#P375_104
{
left:27444.8px;bottom:17224.7px;color:rgb(35,31,31);
}
#P375_105
{
left:27603.2px;bottom:17195.2px;color:rgb(35,31,31);
}
#P375_106
{
left:28189.6px;bottom:17224.7px;color:rgb(35,31,31);
}
#P375_107
{
left:6973.47px;bottom:14792.7px;color:rgb(35,31,31);
}
#P375_108
{
left:7542.04px;bottom:14812.5px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P375_109
{
left:8573.47px;bottom:14792.7px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P375_110
{
left:0px;letter-spacing:0px;margin-left:-20.9px;
}
#P375_111
{
left:31094.2px;bottom:14792.6px;letter-spacing:1px;color:rgb(0,124,196);
}
#P375_112
{
left:6973.4px;bottom:13320.6px;letter-spacing:1825.6px;color:rgb(35,31,31);
}
#P375_113
{
left:16445.4px;bottom:13320.6px;color:rgb(35,31,31);
}
#P375_114
{
left:16808.7px;bottom:13320.6px;color:rgb(35,31,31);
}
#P375_115
{
left:17055.1px;bottom:13496.6px;color:rgb(35,31,31);
}
#P375_116
{
left:17441.6px;bottom:13320.6px;color:rgb(35,31,31);
}
#P375_117
{
left:6973.4px;bottom:11784.6px;color:rgb(35,31,31);
}
#P375_118
{
left:8653.91px;bottom:11804.3px;letter-spacing:-48.5px;color:rgb(35,31,31);
}
#P375_119
{
left:9153.11px;bottom:11784.6px;color:rgb(35,31,31);
}
#P375_120
{
left:11119.1px;bottom:11362.8px;letter-spacing:1411.5px;color:rgb(35,31,31);
}
#P375_121
{
left:6973.4px;bottom:9224.62px;color:rgb(35,31,31);
}
#P375_122
{
left:8449.11px;bottom:9244.33px;color:rgb(35,31,31);
}
#P375_123
{
left:9153.11px;bottom:9224.62px;color:rgb(35,31,31);
}
#P375_124
{
left:11119.1px;bottom:8840.11px;letter-spacing:1411.5px;color:rgb(35,31,31);
}
#P375_125
{
left:6973.4px;bottom:6664.62px;color:rgb(35,31,31);
}
#P375_126
{
left:8449.11px;bottom:6684.33px;color:rgb(35,31,31);
}
#P375_127
{
left:9153.11px;bottom:6664.62px;color:rgb(35,31,31);
}
#P375_128
{
left:11233.8px;bottom:6226.8px;letter-spacing:1411.5px;color:rgb(35,31,31);
}
#P375_129
{
left:6973.4px;bottom:4104.62px;color:rgb(35,31,31);
}
#P375_130
{
left:8691.29px;bottom:4124.33px;letter-spacing:70.4px;color:rgb(35,31,31);
}
#P375_131
{
left:9153.11px;bottom:4104.62px;color:rgb(35,31,31);
}
#P375_132
{
left:11233.8px;bottom:3622px;letter-spacing:1411.5px;color:rgb(35,31,31);
}
#P375_133
{
left:4592.6px;bottom:1417.71px;color:rgb(35,31,31);
}
#P375_134
{
left:27821px;bottom:1417.71px;letter-spacing:1.8px;word-spacing:461.5px;color:rgb(35,31,31);
}
#P375_135
{
left:0px;letter-spacing:0px;margin-left:176.7px;
}
#P375_136
{
left:0px;letter-spacing:6.3px;margin-left:21.2px;
}
#P375_137
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P375_138
{
left:6651.35px;bottom:46893.1px;letter-spacing:-0.7px;word-spacing:-49.6px;color:white;
}
#P375_139
{
left:0px;bottom:0px;letter-spacing:0px;color:white;
}
#P375_140
{
left:28071.3px;bottom:45118.6px;color:rgb(35,31,31);
}
#P375_141
{
left:0px;letter-spacing:0px;margin-left:-38.7px;
}
#P375_142
{
left:0px;letter-spacing:0px;margin-left:-33px;
}
#P375_143
{
left:30644.4px;bottom:44937.5px;color:rgb(35,31,31);
}
#P375_144
{
left:30818px;bottom:44757px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P375_145
{
left:28553px;bottom:43957.8px;letter-spacing:-2px;color:rgb(0,124,196);
}
#P375_146
{
left:0px;letter-spacing:0px;margin-left:2px;
}
#P375_147
{
left:24445.3px;bottom:31838.2px;color:rgb(33,31,31);
}
#P375_148
{
left:24756.2px;bottom:31794.5px;letter-spacing:-10.8px;color:rgb(235,26,35);
}
#P375_149
{
left:0px;letter-spacing:-9.5px;margin-left:5px;
}
#P375_150
{
left:0px;letter-spacing:-5.8px;margin-left:0.2px;
}
#P375_151
{
left:29574.3px;bottom:31117.3px;letter-spacing:-3.8px;color:rgb(33,31,31);
}
#P375_152
{
left:0px;letter-spacing:-10.6px;margin-left:-1.9px;
}
#P375_153
{
left:0px;letter-spacing:-20.1px;margin-left:4.8px;
}
#P375_154
{
left:0px;letter-spacing:-20.2px;margin-left:14.4px;
}
#P375_155
{
left:24579.8px;bottom:31173px;letter-spacing:-10.5px;word-spacing:-0.1px;color:rgb(33,31,31);
}
#P375_156
{
left:0px;letter-spacing:-31.3px;margin-left:-29.7px;
}
#P375_157
{
left:0px;letter-spacing:-5.6px;margin-left:197.9px;
}
#P375_158
{
left:32568.9px;bottom:30067.7px;letter-spacing:-5.8px;
}
#P375_159
{
left:33092.9px;bottom:29976.5px;letter-spacing:-15.3px;color:rgb(33,31,31);
}
#P375_160
{
left:26803.8px;bottom:30214.2px;letter-spacing:-5.9px;word-spacing:0.1px;color:rgb(33,31,31);
}
#P375_161
{
left:0px;letter-spacing:-5.9px;margin-left:143.5px;
}
#P375_162
{
left:0px;letter-spacing:0px;margin-left:-51.7px;
}
#P375_163
{
left:4097.75px;bottom:46399px;
}
#PageContainer375
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg375.jpg");background-repeat:no-repeat;background-size: 1031px 1270px; background-position: 3.85px 0.119999999999891px;
}
#ImageContainer375 {bottom:93.88px;left:3.85px;width:1031.25px;height:1270.28px;position:absolute;} #TextContainer375 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}