.tr330{ color:transparent;}
#P330_1
{
left:2365.4px;bottom:1409.96px;color:rgb(35,31,31);
}
#P330_2
{
left:3540.44px;bottom:1409.96px;color:rgb(35,31,31);
}
#P330_3
{
left:4925.4px;bottom:1409.96px;color:rgb(35,31,31);
}
#P330_4
{
left:9120.15px;bottom:1409.96px;letter-spacing:0.2px;word-spacing:461px;color:rgb(35,31,31);
}
#P330_5
{
left:0px;letter-spacing:0px;margin-left:-461.2px;
}
#P330_6
{
left:0px;letter-spacing:2.9px;margin-left:1.1px;
}
#P330_7
{
left:0px;letter-spacing:0px;margin-left:-463.9px;
}
#P330_8
{
left:0px;letter-spacing:1.3px;margin-left:1.1px;
}
#P330_9
{
left:5433.11px;bottom:46049.6px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P330_10
{
left:12301.4px;bottom:46074.2px;color:white;
}
#P330_11
{
left:13949.9px;bottom:46266px;color:white;
}
#P330_12
{
left:14190.1px;bottom:46074.2px;color:white;
}
#P330_13
{
left:17615.8px;bottom:46266px;color:white;
}
#P330_14
{
left:17856px;bottom:46074.2px;color:white;
}
#P330_15
{
left:20337.4px;bottom:46266px;color:white;
}
#P330_16
{
left:20577.6px;bottom:46074.2px;letter-spacing:-1.5px;color:white;
}
#P330_17
{
left:25059.4px;bottom:46266px;color:white;
}
#P330_18
{
left:25299.6px;bottom:46074.2px;color:white;
}
#P330_19
{
left:10457px;bottom:45907.1px;
}
#P330_20
{
left:10457px;bottom:45907.1px;color:white;
}
#P330_21
{
left:11479px;bottom:44282.2px;letter-spacing:-9.3px;word-spacing:580.1px;color:rgb(35,31,31);
}
#P330_21a
{
left:12479px;bottom:44282.2px;letter-spacing:-9.3px;word-spacing:580.1px;color:rgb(35,31,31);
}
#P330_22
{
left:0px;letter-spacing:0px;margin-left:-206.6px;
}
#P330_23
{
left:0px;letter-spacing:-2.6px;
}
#P330_24
{
left:14445.5px;bottom:44287.8px;color:rgb(35,31,31);
}
#P330_25
{
left:14808.7px;bottom:44282.2px;color:rgb(35,31,31);
}
#P330_26
{
left:14956.6px;bottom:44252.6px;color:rgb(35,31,31);
}
#P330_27
{
left:15543px;bottom:44282.2px;color:rgb(35,31,31);
}
#P330_28
{
left:16232.9px;bottom:44252.6px;color:rgb(35,31,31);
}
#P330_29
{
left:16819.4px;bottom:44282.2px;color:rgb(35,31,31);
}
#P330_30
{
left:11528.5px;bottom:43002.2px;color:rgb(35,31,31);
}
#P330_31
{
left:14088.5px;bottom:43002.2px;color:rgb(35,31,31);
}
#P330_32
{
left:14451.7px;bottom:43002.2px;color:rgb(35,31,31);
}
#P330_33
{
left:14610.1px;bottom:42972.6px;color:rgb(35,31,31);
}
#P330_34
{
left:15196.6px;bottom:43002.2px;color:rgb(35,31,31);
}
#P330_35
{
left:15886.4px;bottom:42972.6px;color:rgb(35,31,31);
}
#P330_36
{
left:17427.3px;bottom:43002.2px;word-spacing:796.1px;color:rgb(35,31,31);
}
#P330_37
{
left:19080.4px;bottom:43010.2px;color:rgb(0,124,196);
}
#P330_38
{
left:11528.4px;bottom:41722.2px;color:rgb(35,31,31);
}
#P330_39
{
left:14600.4px;bottom:41692.6px;color:rgb(235,26,35);
}
#P330_40
{
left:15186.8px;bottom:41722.2px;color:rgb(235,26,35);
}
#P330_41
{
left:15718.4px;bottom:41722.2px;color:rgb(35,31,31);
}
#P330_42
{
left:16682.5px;bottom:41692.6px;color:rgb(235,26,35);
}
#P330_43
{
left:17268.9px;bottom:41722.2px;color:rgb(235,26,35);
}
#P330_44
{
left:17800.4px;bottom:41722.2px;color:rgb(35,31,31);
}
#P330_45
{
left:19080.4px;bottom:41730.2px;color:rgb(0,124,196);
}
#P330_46
{
left:11528.4px;bottom:40442.2px;color:rgb(35,31,31);
}
#P330_47
{
left:15368.3px;bottom:40442.2px;color:rgb(35,31,31);
}
#P330_48
{
left:15731.6px;bottom:40442.2px;color:rgb(35,31,31);
}
#P330_49
{
left:15890px;bottom:40412.6px;color:rgb(35,31,31);
}
#P330_50
{
left:17427.3px;bottom:40442.2px;word-spacing:616.4px;color:rgb(35,31,31);
}
#P330_51
{
left:19080.4px;bottom:40450.2px;color:rgb(0,124,196);
}
#P330_52
{
left:0px;letter-spacing:0px;margin-left:-49.7px;
}
#P330_53
{
left:13136.4px;bottom:38778.2px;color:rgb(35,31,31);
}
#P330_54
{
left:0px;letter-spacing:0px;margin-left:520.3px;
}
#P330_55
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P330_56
{
left:18653.6px;bottom:38778.2px;color:rgb(35,31,31);
}
#P330_57
{
left:19016.9px;bottom:38778.2px;color:rgb(35,31,31);
}
#P330_58
{
left:19175.3px;bottom:38748.6px;color:rgb(35,31,31);
}
#P330_59
{
left:19761.7px;bottom:38778.2px;color:rgb(35,31,31);
}
#P330_60
{
left:11440.6px;bottom:36666.2px;letter-spacing:-11.6px;word-spacing:544px;color:rgb(35,31,31);
}
#P330_60a
{
left:12440.6px;bottom:36666.2px;letter-spacing:-11.6px;word-spacing:544px;color:rgb(35,31,31);
}
#P330_61
{
left:0px;letter-spacing:0px;margin-left:-168.2px;
}
#P330_62
{
left:0px;letter-spacing:-2.6px;
}
#P330_63
{
left:0px;letter-spacing:0px;margin-left:-541.4px;
}
#P330_64
{
left:0px;letter-spacing:0px;
}
#P330_65
{
left:15381.8px;bottom:36636.6px;color:rgb(35,31,31);
}
#P330_66
{
left:15968.2px;bottom:36666.2px;color:rgb(35,31,31);
}
#P330_67
{
left:17052.3px;bottom:36636.6px;color:rgb(35,31,31);
}
#P330_68
{
left:17638.7px;bottom:36666.2px;color:rgb(35,31,31);
}
#P330_69
{
left:17786.6px;bottom:36671.8px;color:rgb(35,31,31);
}
#P330_70
{
left:18149.8px;bottom:36666.2px;color:rgb(35,31,31);
}
#P330_71
{
left:14088.4px;bottom:35386.2px;word-spacing:2401.6px;color:rgb(35,31,31);
}
#P330_72
{
left:14993px;bottom:35356.6px;color:rgb(35,31,31);
}
#P330_73
{
left:16456.5px;bottom:35386.2px;word-spacing:718.6px;color:rgb(35,31,31);
}
#P330_74
{
left:17361px;bottom:35356.6px;color:rgb(35,31,31);
}
#P330_75
{
left:17947.5px;bottom:35386.2px;color:rgb(35,31,31);
}
#P330_76
{
left:18105.8px;bottom:35386.2px;color:rgb(35,31,31);
}
#P330_77
{
left:18469.1px;bottom:35386.2px;color:rgb(35,31,31);
}
#P330_78
{
left:19080.4px;bottom:35394.2px;color:rgb(0,124,196);
}
#P330_79
{
left:11528.4px;bottom:34106.2px;color:rgb(35,31,31);
}
#P330_80
{
left:13384.4px;bottom:34076.6px;color:rgb(235,26,35);
}
#P330_81
{
left:14129.2px;bottom:34106.2px;letter-spacing:-34.4px;word-spacing:34.4px;color:rgb(235,26,35);
}
#P330_82
{
left:14841.1px;bottom:34106.2px;color:rgb(35,31,31);
}
#P330_83
{
left:15767.7px;bottom:34076.6px;color:rgb(235,26,35);
}
#P330_84
{
left:16512.5px;bottom:34106.2px;letter-spacing:-34.4px;word-spacing:34.4px;color:rgb(235,26,35);
}
#P330_85
{
left:17224.4px;bottom:34106.2px;color:rgb(35,31,31);
}
#P330_86
{
left:19080.4px;bottom:34114.2px;color:rgb(0,124,196);
}
#P330_87
{
left:14088.4px;bottom:32826.2px;word-spacing:2401.6px;color:rgb(35,31,31);
}
#P330_88
{
left:14993px;bottom:32796.6px;color:rgb(35,31,31);
}
#P330_89
{
left:15579.5px;bottom:32826.2px;color:rgb(35,31,31);
}
#P330_90
{
left:15737.8px;bottom:32826.2px;color:rgb(35,31,31);
}
#P330_91
{
left:16101.1px;bottom:32826.2px;letter-spacing:2180.9px;color:rgb(35,31,31);
}
#P330_92
{
left:19080.4px;bottom:32834.2px;color:rgb(0,124,196);
}
#P330_93
{
left:0px;letter-spacing:0px;margin-left:-49.7px;
}
#P330_94
{
left:13136.4px;bottom:31162.2px;color:rgb(35,31,31);
}
#P330_95
{
left:0px;letter-spacing:0px;margin-left:520.3px;
}
#P330_96
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P330_97
{
left:18653.6px;bottom:31162.2px;color:rgb(35,31,31);
}
#P330_98
{
left:19016.9px;bottom:31162.2px;color:rgb(35,31,31);
}
#P330_99
{
left:19175.3px;bottom:31132.6px;color:rgb(35,31,31);
}
#P330_100
{
left:19761.7px;bottom:31162.2px;color:rgb(35,31,31);
}
#P330_101
{
left:7714.78px;bottom:41692.8px;color:rgb(0,124,196);
}
#P330_102
{
left:28373.8px;bottom:43429.5px;color:rgb(235,26,35);
}
#P330_103
{
left:28373.8px;bottom:42312px;color:rgb(35,31,31);
}
#P330_104
{
left:29903.8px;bottom:42341.5px;color:rgb(235,26,35);
}
#P330_105
{
left:30267px;bottom:42341.5px;color:rgb(35,31,31);
}
#P330_106
{
left:30425.4px;bottom:42312px;color:rgb(35,31,31);
}
#P330_107
{
left:31011.9px;bottom:42341.5px;color:rgb(35,31,31);
}
#P330_108
{
left:31701.8px;bottom:42312px;color:rgb(35,31,31);
}
#P330_109
{
left:32288.2px;bottom:42341.5px;color:rgb(35,31,31);
}
#P330_110
{
left:28373.8px;bottom:40869.5px;color:rgb(35,31,31);
}
#P330_111
{
left:29893.9px;bottom:40869.5px;color:rgb(235,26,35);
}
#P330_112
{
left:30267px;bottom:40869.5px;color:rgb(35,31,31);
}
#P330_113
{
left:30425.4px;bottom:40840px;color:rgb(35,31,31);
}
#P330_114
{
left:31011.9px;bottom:40869.5px;color:rgb(35,31,31);
}
#P330_115
{
left:31701.8px;bottom:40840px;color:rgb(35,31,31);
}
#P330_116
{
left:31865.8px;bottom:41287.1px;color:rgb(235,26,35);
}
#P330_117
{
left:32291.9px;bottom:40869.5px;color:rgb(35,31,31);
}
#P330_118
{
left:31170.3px;bottom:39333.5px;word-spacing:2638.1px;color:rgb(35,31,31);
}
#P330_119
{
left:31701.8px;bottom:39304px;color:rgb(35,31,31);
}
#P330_120
{
left:32288.2px;bottom:39333.5px;color:rgb(35,31,31);
}
#P330_121
{
left:33171.7px;bottom:39422.5px;color:rgb(235,26,35);
}
#P330_122
{
left:28309.8px;bottom:35836.8px;color:rgb(235,26,35);
}
#P330_123
{
left:28309.8px;bottom:34719.3px;color:rgb(35,31,31);
}
#P330_124
{
left:29517.1px;bottom:34748.8px;color:rgb(35,31,31);
}
#P330_125
{
left:30421.8px;bottom:34719.3px;color:rgb(35,31,31);
}
#P330_126
{
left:31008.2px;bottom:34748.8px;color:rgb(35,31,31);
}
#P330_127
{
left:32071.3px;bottom:34719.3px;color:rgb(35,31,31);
}
#P330_128
{
left:32657.7px;bottom:34748.8px;color:rgb(35,31,31);
}
#P330_129
{
left:32816.1px;bottom:34748.8px;color:rgb(235,26,35);
}
#P330_130
{
left:29517.1px;bottom:33276.8px;word-spacing:1049px;color:rgb(35,31,31);
}
#P330_131
{
left:30421.8px;bottom:33247.2px;color:rgb(35,31,31);
}
#P330_132
{
left:30585.8px;bottom:33694.4px;color:rgb(235,26,35);
}
#P330_133
{
left:31011.9px;bottom:33276.8px;color:rgb(35,31,31);
}
#P330_134
{
left:32074.9px;bottom:33247.2px;color:rgb(35,31,31);
}
#P330_135
{
left:32661.3px;bottom:33276.8px;color:rgb(35,31,31);
}
#P330_136
{
left:32819.7px;bottom:33276.8px;color:rgb(235,26,35);
}
#P330_137
{
left:29517.1px;bottom:31740.8px;word-spacing:1049px;color:rgb(35,31,31);
}
#P330_138
{
left:30421.8px;bottom:31711.2px;color:rgb(35,31,31);
}
#P330_139
{
left:31008.2px;bottom:31740.8px;color:rgb(35,31,31);
}
#P330_140
{
left:32264.9px;bottom:31829.7px;color:rgb(235,26,35);
}
#P330_141
{
left:5369.11px;bottom:28382.6px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P330_142
{
left:12237.4px;bottom:28407.1px;color:white;
}
#P330_143
{
left:14621.2px;bottom:28599px;color:white;
}
#P330_144
{
left:14861.4px;bottom:28407.1px;word-spacing:-31.9px;color:white;
}
#P330_145
{
left:17629.7px;bottom:28599px;color:white;
}
#P330_146
{
left:17869.9px;bottom:28407.1px;color:white;
}
#P330_147
{
left:19053.6px;bottom:28599px;color:white;
}
#P330_148
{
left:19293.8px;bottom:28407.1px;color:white;
}
#P330_149
{
left:10393px;bottom:28240px;
}
#P330_150
{
left:10393px;bottom:28240px;color:white;
}
#P330_151
{
left:11464.4px;bottom:26777.7px;letter-spacing:-31.6px;color:rgb(35,31,31);
}
#P330_152
{
left:0px;letter-spacing:-1.2px;margin-left:31.6px;
}
#P330_153
{
left:0px;letter-spacing:0px;margin-left:-9.3px;
}
#P330_154
{
left:0px;letter-spacing:0px;margin-left:-20.9px;
}
#P330_155
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P330_156
{
left:11464.4px;bottom:25881.7px;letter-spacing:-1.2px;word-spacing:-1.5px;color:rgb(35,31,31);
}
#P330_157
{
left:0px;letter-spacing:0px;margin-left:1.2px;
}
#P330_158
{
left:0px;letter-spacing:-23.9px;margin-left:94.5px;
}
#P330_159
{
left:0px;letter-spacing:-0.4px;margin-left:23.9px;
}
#P330_160
{
left:11464.4px;bottom:24985.8px;color:rgb(35,31,31);
}
#P330_161
{
left:0px;letter-spacing:0px;margin-left:-225px;
}
#P330_162
{
left:0px;letter-spacing:0px;margin-left:77.1px;
}
#P330_163
{
left:0px;letter-spacing:0px;margin-left:-21px;
}
#P330_164
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P330_165
{
left:0px;letter-spacing:0px;margin-left:-13.9px;
}
#P330_166
{
left:0px;letter-spacing:0px;margin-left:-10.5px;
}
#P330_167
{
left:11464.4px;bottom:23554.7px;letter-spacing:-5.4px;color:rgb(2,77,161);
}
#P330_168
{
left:13437px;bottom:23513.7px;color:rgb(35,31,31);
}
#P330_169
{
left:15048.4px;bottom:23513.7px;letter-spacing:0.5px;color:rgb(35,31,31);
}
#P330_170
{
left:15048.4px;bottom:22617.7px;color:rgb(35,31,31);
}
#P330_171
{
left:19096.4px;bottom:23513.7px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P330_172
{
left:20630.4px;bottom:23513.7px;color:rgb(35,31,31);
}
#P330_173
{
left:20630.4px;bottom:22617.7px;letter-spacing:-1.6px;color:rgb(35,31,31);
}
#P330_174
{
left:20630.4px;bottom:21721.8px;letter-spacing:-1.1px;word-spacing:1.1px;color:rgb(35,31,31);
}
#P330_175
{
left:24672.6px;bottom:23513.8px;color:rgb(35,31,31);
}
#P330_176
{
left:27101.3px;bottom:23546.3px;color:rgb(35,31,31);
}
#P330_177
{
left:27101.3px;bottom:22650.3px;color:rgb(35,31,31);
}
#P330_178
{
left:27101.3px;bottom:21754.3px;color:rgb(35,31,31);
}
#P330_179
{
left:29805.3px;bottom:23513.8px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P330_180
{
left:30493.1px;bottom:23520.1px;color:rgb(35,31,31);
}
#P330_181
{
left:30493.1px;bottom:22624.1px;color:rgb(35,31,31);
}
#P330_182
{
left:11400.4px;bottom:20226.7px;letter-spacing:-16.7px;color:rgb(2,77,161);
}
#P330_183
{
left:0px;letter-spacing:0px;margin-left:16.7px;
}
#P330_184
{
left:15048.4px;bottom:20185.7px;word-spacing:887.3px;color:rgb(35,31,31);
}
#P330_185
{
left:16210.6px;bottom:20185.7px;color:rgb(35,31,31);
}
#P330_186
{
left:16801.3px;bottom:20185.7px;letter-spacing:0.2px;color:rgb(35,31,31);
}
#P330_187
{
left:11464.4px;bottom:18882.7px;color:rgb(2,77,161);
}
#P330_188
{
left:14303.7px;bottom:18841.7px;color:rgb(35,31,31);
}
#P330_189
{
left:16752.3px;bottom:18841.7px;color:rgb(35,31,31);
}
#P330_190
{
left:17342.9px;bottom:18841.7px;color:rgb(35,31,31);
}
#P330_191
{
left:19211.2px;bottom:18812.1px;color:rgb(35,31,31);
}
#P330_192
{
left:20149.6px;bottom:18841.7px;letter-spacing:1776.1px;color:rgb(35,31,31);
}
#P330_193
{
left:0px;letter-spacing:0px;margin-left:-1776.1px;
}
#P330_194
{
left:25571.2px;bottom:18812.1px;color:rgb(35,31,31);
}
#P330_195
{
left:27536.1px;bottom:18841.7px;word-spacing:1061.7px;color:rgb(35,31,31);
}
#P330_196
{
left:29373.5px;bottom:18812.1px;letter-spacing:181.6px;color:rgb(35,31,31);
}
#P330_197
{
left:30317.6px;bottom:18841.7px;color:rgb(35,31,31);
}
#P330_198
{
left:0px;letter-spacing:0px;margin-left:897.9px;
}
#P330_199
{
left:11464.4px;bottom:17369.7px;color:rgb(35,31,31);
}
#P330_200
{
left:14056.4px;bottom:17369.7px;color:rgb(35,31,31);
}
#P330_201
{
left:14330.3px;bottom:17369.7px;color:rgb(35,31,31);
}
#P330_202
{
left:14488.7px;bottom:17340.1px;color:rgb(35,31,31);
}
#P330_203
{
left:15075px;bottom:17369.7px;color:rgb(35,31,31);
}
#P330_204
{
left:16138.1px;bottom:17340.1px;color:rgb(35,31,31);
}
#P330_205
{
left:16724.5px;bottom:17369.7px;color:rgb(35,31,31);
}
#P330_206
{
left:18720.3px;bottom:17340.1px;color:rgb(35,31,31);
}
#P330_207
{
left:19306.8px;bottom:17369.7px;color:rgb(35,31,31);
}
#P330_208
{
left:25736.4px;bottom:17377.7px;color:rgb(0,124,196);
}
#P330_209
{
left:11464.4px;bottom:16153.7px;color:rgb(35,31,31);
}
#P330_210
{
left:11464.4px;bottom:16153.7px;color:rgb(35,31,31);
}
#P330_211
{
left:11738.3px;bottom:16153.7px;color:rgb(35,31,31);
}
#P330_212
{
left:11896.7px;bottom:16124.1px;color:rgb(35,31,31);
}
#P330_213
{
left:12483px;bottom:16153.7px;color:rgb(35,31,31);
}
#P330_214
{
left:13546.1px;bottom:16124.1px;color:rgb(35,31,31);
}
#P330_215
{
left:14132.5px;bottom:16153.7px;color:rgb(35,31,31);
}
#P330_216
{
left:16128.3px;bottom:16124.1px;color:rgb(235,26,35);
}
#P330_217
{
left:16714.8px;bottom:16153.7px;color:rgb(235,26,35);
}
#P330_218
{
left:18552.2px;bottom:16153.7px;color:rgb(35,31,31);
}
#P330_219
{
left:18710.6px;bottom:16124.1px;color:rgb(35,31,31);
}
#P330_220
{
left:19297px;bottom:16153.7px;color:rgb(35,31,31);
}
#P330_221
{
left:20919.7px;bottom:16124.1px;color:rgb(235,26,35);
}
#P330_222
{
left:21506.1px;bottom:16153.7px;color:rgb(235,26,35);
}
#P330_223
{
left:23343.6px;bottom:16153.7px;color:rgb(35,31,31);
}
#P330_224
{
left:25672.4px;bottom:16161.7px;color:rgb(0,124,196);
}
#P330_225
{
left:11464.4px;bottom:14937.7px;color:rgb(35,31,31);
}
#P330_226
{
left:16632.4px;bottom:14937.7px;color:rgb(35,31,31);
}
#P330_227
{
left:16906.3px;bottom:14937.7px;color:rgb(35,31,31);
}
#P330_228
{
left:17064.7px;bottom:14908.1px;color:rgb(35,31,31);
}
#P330_229
{
left:17809.4px;bottom:14937.7px;word-spacing:-0.1px;color:rgb(35,31,31);
}
#P330_230
{
left:18714.1px;bottom:14908.1px;color:rgb(35,31,31);
}
#P330_231
{
left:19300.5px;bottom:14937.7px;color:rgb(35,31,31);
}
#P330_232
{
left:25672.4px;bottom:14945.7px;color:rgb(0,124,196);
}
#P330_233
{
left:0px;letter-spacing:0px;margin-left:-49.7px;
}
#P330_234
{
left:11464.4px;bottom:13721.7px;color:rgb(35,31,31);
}
#P330_235
{
left:14984.4px;bottom:13721.7px;color:rgb(35,31,31);
}
#P330_236
{
left:15258.3px;bottom:13721.7px;color:rgb(35,31,31);
}
#P330_237
{
left:15416.7px;bottom:13692.1px;color:rgb(35,31,31);
}
#P330_238
{
left:16161.4px;bottom:13721.7px;word-spacing:-0.1px;color:rgb(35,31,31);
}
#P330_239
{
left:17066.1px;bottom:13692.1px;color:rgb(235,26,35);
}
#P330_240
{
left:17652.5px;bottom:13721.7px;color:rgb(235,26,35);
}
#P330_241
{
left:18557.1px;bottom:13721.7px;color:rgb(35,31,31);
}
#P330_242
{
left:18715.5px;bottom:13692.1px;color:rgb(35,31,31);
}
#P330_243
{
left:19302px;bottom:13721.7px;color:rgb(35,31,31);
}
#P330_244
{
left:21297.8px;bottom:13692.1px;color:rgb(235,26,35);
}
#P330_245
{
left:21884.2px;bottom:13721.7px;color:rgb(235,26,35);
}
#P330_246
{
left:22788.8px;bottom:13721.7px;color:rgb(35,31,31);
}
#P330_247
{
left:25672.4px;bottom:13729.7px;color:rgb(0,124,196);
}
#P330_248
{
left:11464.4px;bottom:12505.7px;color:rgb(35,31,31);
}
#P330_249
{
left:18280.4px;bottom:12505.7px;color:rgb(35,31,31);
}
#P330_250
{
left:18554.3px;bottom:12505.7px;color:rgb(35,31,31);
}
#P330_251
{
left:18712.7px;bottom:12476.1px;color:rgb(35,31,31);
}
#P330_252
{
left:19457.4px;bottom:12505.7px;word-spacing:-0.1px;color:rgb(35,31,31);
}
#P330_253
{
left:25672.4px;bottom:12513.7px;color:rgb(0,124,196);
}
#P330_254
{
left:0px;letter-spacing:0px;margin-left:-49.7px;
}
#P330_255
{
left:12710.3px;bottom:11033.7px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P330_256
{
left:0px;letter-spacing:-0.1px;margin-left:-63.2px;
}
#P330_257
{
left:0px;letter-spacing:-0.8px;margin-left:157.7px;
}
#P330_258
{
left:0px;letter-spacing:-1px;margin-left:0.7px;
}
#P330_259
{
left:0px;letter-spacing:0px;margin-left:-65.9px;
}
#P330_260
{
left:11464.4px;bottom:7897.71px;color:rgb(35,31,31);
}
#P330_261
{
left:0px;letter-spacing:0px;margin-left:-10.4px;
}
#P330_262
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P330_263
{
left:11464.4px;bottom:6745.64px;color:rgb(35,31,31);
}
#P330_264
{
left:11928px;bottom:6772.52px;color:rgb(35,31,31);
}
#P330_265
{
left:13128.4px;bottom:6745.71px;color:rgb(35,31,31);
}
#P330_266
{
left:13402.3px;bottom:6745.71px;color:rgb(35,31,31);
}
#P330_267
{
left:13560.7px;bottom:6716.14px;color:rgb(35,31,31);
}
#P330_268
{
left:14147.1px;bottom:6745.71px;color:rgb(35,31,31);
}
#P330_269
{
left:14837px;bottom:6716.14px;color:rgb(35,31,31);
}
#P330_270
{
left:15423.4px;bottom:6745.71px;color:rgb(35,31,31);
}
#P330_271
{
left:19480px;bottom:6772.52px;color:rgb(35,31,31);
}
#P330_272
{
left:20744.4px;bottom:6745.71px;color:rgb(35,31,31);
}
#P330_273
{
left:21275.9px;bottom:6716.14px;color:rgb(35,31,31);
}
#P330_274
{
left:21862.4px;bottom:6745.71px;color:rgb(35,31,31);
}
#P330_275
{
left:22020.8px;bottom:6745.71px;color:rgb(35,31,31);
}
#P330_276
{
left:22350.2px;bottom:6745.71px;color:rgb(35,31,31);
}
#P330_277
{
left:22508.6px;bottom:6716.14px;color:rgb(35,31,31);
}
#P330_278
{
left:23095px;bottom:6745.71px;color:rgb(35,31,31);
}
#P330_279
{
left:26786.3px;bottom:6772.52px;color:rgb(35,31,31);
}
#P330_280
{
left:28424.4px;bottom:6745.71px;color:rgb(35,31,31);
}
#P330_281
{
left:29329px;bottom:6716.14px;color:rgb(35,31,31);
}
#P330_282
{
left:29915.5px;bottom:6745.71px;color:rgb(35,31,31);
}
#P330_283
{
left:30073.9px;bottom:6745.71px;color:rgb(35,31,31);
}
#P330_284
{
left:30715.9px;bottom:6745.71px;color:rgb(35,31,31);
}
#P330_285
{
left:30874.3px;bottom:6716.14px;color:rgb(35,31,31);
}
#P330_286
{
left:31460.7px;bottom:6745.71px;color:rgb(35,31,31);
}
#P330_287
{
left:11464.4px;bottom:5529.71px;color:rgb(35,31,31);
}
#P330_288
{
left:11554.3px;bottom:5556.52px;word-spacing:453.2px;color:rgb(35,31,31);
}
#P330_289
{
left:13128.4px;bottom:5529.71px;letter-spacing:-63.2px;color:rgb(35,31,31);
}
#P330_290
{
left:0px;letter-spacing:0.2px;margin-left:63.2px;
}
#P330_291
{
left:0px;letter-spacing:-0.5px;margin-left:-0.2px;
}
#P330_292
{
left:13128.4px;bottom:4633.71px;letter-spacing:-1.8px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P330_293
{
left:0px;letter-spacing:-0.1px;margin-left:-23.5px;
}
#P330_294
{
left:0px;letter-spacing:-5.6px;
}
#P330_295
{
left:0px;letter-spacing:0.2px;margin-left:164.2px;
}
#P330_296
{
left:0px;letter-spacing:-13.1px;margin-left:-42.3px;
}
#P330_297
{
left:0px;letter-spacing:-0.1px;margin-left:13px;
}
#P330_298
{
left:13128.4px;bottom:3737.75px;color:rgb(35,31,31);
}
#P330_299
{
left:0px;letter-spacing:0px;margin-left:-214.7px;
}
#P330_300
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P330_301
{
left:0px;letter-spacing:-0.2px;
}
#P330_302
{
left:5709.4px;bottom:6937.77px;color:rgb(35,31,31);
}
#P330_303
{
left:2514.73px;bottom:17625.7px;color:white;
}
#P330_304
{
left:5870.36px;bottom:17867.4px;color:white;
}
#P330_305
{
left:6206.3px;bottom:17625.7px;color:white;
}
#P330_306
{
left:2749.4px;bottom:16522.8px;color:rgb(35,31,31);
}
#P330_307
{
left:2749.4px;bottom:15754.8px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P330_308
{
left:2749.4px;bottom:14986.8px;color:rgb(35,31,31);
}
#P330_309
{
left:2749.4px;bottom:14218.8px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P330_310
{
left:2749.4px;bottom:13450.8px;color:rgb(35,31,31);
}
#P330_311
{
left:0px;letter-spacing:0px;margin-left:-11.4px;
}
#P330_312
{
left:0px;letter-spacing:0px;margin-left:-38.4px;
}
#P330_313
{
left:3069.4px;bottom:12554.8px;color:rgb(35,31,31);
}
#P330_314
{
left:4492.76px;bottom:12506.2px;color:rgb(35,31,31);
}
#P330_315
{
left:5025.88px;bottom:12554.8px;color:rgb(35,31,31);
}
#P330_316
{
left:6983px;bottom:12506.2px;color:rgb(35,31,31);
}
#P330_317
{
left:7516.12px;bottom:12554.8px;color:rgb(35,31,31);
}
#P330_318
{
left:3069.4px;bottom:11786.8px;letter-spacing:462.1px;color:rgb(35,31,31);
}
#P330_319
{
left:4467.8px;bottom:11738.2px;color:rgb(35,31,31);
}
#P330_320
{
left:5000.92px;bottom:11786.8px;color:rgb(35,31,31);
}
#P330_321
{
left:2749.4px;bottom:10890.8px;color:rgb(35,31,31);
}
#P330_322
{
left:2749.4px;bottom:10122.8px;letter-spacing:-1.1px;color:rgb(35,31,31);
}
#PageContainer330
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg330.jpg");background-repeat:no-repeat;background-size: 986px 1210px; background-position: 57.69px 75.3399999999999px;
}
#ImageContainer330 {bottom:78.66px;left:57.69px;width:986.35px;height:1210.39px;position:absolute;} #TextContainer330 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.example3{position: absolute;top: 81px;left: 105px;}
.example4{position: absolute;top: 562px;left: 105px;}



.nyr{position: absolute;top: 1133px;left: 123px;}
.nyr_exr{position: absolute;top: 1170px;left: 150px;color: rgb(35,31,31);font-size: 16px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}