.tr438{ color:transparent;}
#P438_1
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P438_2
{
left:3540.44px;bottom:1410.03px;color:rgb(35,31,31);
}
#P438_3
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P438_4
{
left:7841.88px;bottom:1410.03px;letter-spacing:462.1px;color:rgb(35,31,31);
}
#P438_5
{
left:0px;letter-spacing:4.6px;margin-left:-470px;
}
#P438_6
{
left:0px;letter-spacing:2px;margin-left:-8.9px;
}
#P438_7
{
left:0px;letter-spacing:2.7px;margin-left:4.6px;
}
#P438_8
{
left:18900.5px;bottom:41182.6px;letter-spacing:213.2px;color:rgb(35,31,31);
}
#P438_9
{
left:0px;letter-spacing:0px;margin-left:-213.2px;
}
#P438_10
{
left:7789.4px;bottom:40094.5px;color:rgb(35,31,31);
}
#P438_11
{
left:10136.1px;bottom:37666.7px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P438_12
{
left:13561.2px;bottom:37858.5px;color:rgb(255,223,126);
}
#P438_13
{
left:14183.3px;bottom:37666.7px;letter-spacing:-2.7px;word-spacing:207.4px;color:white;
}
#P438_14
{
left:17666.5px;bottom:37858.5px;color:white;
}
#P438_15
{
left:17906.6px;bottom:37666.7px;color:white;
}
#P438_16
{
left:8395.67px;bottom:37543.2px;color:white;
}
#P438_17
{
left:9226.84px;bottom:36081.3px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P438_18
{
left:0px;letter-spacing:0.4px;margin-left:14.1px;
}
#P438_19
{
left:0px;letter-spacing:-18.7px;margin-left:-42.5px;
}
#P438_20
{
left:0px;letter-spacing:-4.7px;margin-left:18.7px;
}
#P438_21
{
left:0px;letter-spacing:0px;margin-left:4.7px;
}
#P438_22
{
left:9226.84px;bottom:35185.3px;letter-spacing:-2.5px;color:rgb(35,31,31);
}
#P438_23
{
left:0px;letter-spacing:-63.2px;margin-left:-39.6px;
}
#P438_24
{
left:0px;letter-spacing:-0.8px;margin-left:63.2px;
}
#P438_25
{
left:0px;letter-spacing:0px;margin-left:0.8px;
}
#P438_26
{
left:9226.84px;bottom:34289.4px;color:rgb(35,31,31);
}
#P438_27
{
left:9226.84px;bottom:33009.3px;color:rgb(35,31,31);
}
#P438_28
{
left:10122.8px;bottom:33218.9px;color:rgb(35,31,31);
}
#P438_29
{
left:10477.2px;bottom:33009.3px;color:rgb(35,31,31);
}
#P438_30
{
left:10829.2px;bottom:33015px;letter-spacing:3.8px;color:rgb(35,31,31);
}
#P438_31
{
left:0px;letter-spacing:-1.8px;margin-left:-3.8px;
}
#P438_32
{
left:0px;letter-spacing:-0.4px;margin-left:-15.7px;
}
#P438_33
{
left:0px;letter-spacing:0px;margin-left:0.4px;
}
#P438_34
{
left:0px;letter-spacing:0px;margin-left:-70.3px;
}
#P438_35
{
left:9226.84px;bottom:31729.3px;color:rgb(35,31,31);
}
#P438_36
{
left:10122.8px;bottom:31938.9px;color:rgb(35,31,31);
}
#P438_37
{
left:10477.2px;bottom:31729.3px;color:rgb(35,31,31);
}
#P438_38
{
left:10829.2px;bottom:31735px;color:rgb(35,31,31);
}
#P438_39
{
left:0px;letter-spacing:0px;margin-left:-17.5px;
}
#P438_40
{
left:0px;letter-spacing:0px;margin-left:-18.2px;
}
#P438_41
{
left:0px;letter-spacing:0px;margin-left:-4.2px;
}
#P438_42
{
left:0px;letter-spacing:0px;margin-left:-18.2px;
}
#P438_43
{
left:0px;letter-spacing:0px;margin-left:-70.3px;
}
#P438_44
{
left:9226.84px;bottom:30065.3px;color:rgb(35,31,31);
}
#P438_45
{
left:9354.84px;bottom:30065.3px;letter-spacing:-14px;word-spacing:516.1px;color:rgb(35,31,31);
}
#P438_46
{
left:10570.8px;bottom:30065.3px;
color: rgb(35,31,31);
}
#P438_47
{
left:0px;letter-spacing:0px;margin-left:-4.2px;
}
#P438_48
{
left:0px;letter-spacing:0px;margin-left:-214.8px;
}
#P438_49
{
left:18214.2px;
color: rgb(35,31,31);
bottom:30065.3px;letter-spacing:-0.1px;
}
#P438_50
{
left:9354.89px;bottom:28721.3px;letter-spacing:-6.9px;word-spacing:-13px;color:rgb(35,31,31);
}
#P438_51
{
left:10570.9px;bottom:28721.3px;letter-spacing:-1.8px;color:rgb(35,31,31);
}
#P438_52
{
left:0px;letter-spacing:0px;margin-left:-213px;
}
#P438_53
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P438_54
{
left:0px;letter-spacing:0px;
}
#P438_55
{
left:10570.9px;bottom:27825.5px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P438_56
{
left:9354.89px;bottom:26481.5px;word-spacing:-19.9px;color:rgb(35,31,31);
}
#P438_57
{
left:10570.9px;bottom:26481.5px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P438_58
{
left:0px;letter-spacing:-0.3px;margin-left:0.7px;
}
#P438_59
{
left:10570.9px;bottom:25585.5px;letter-spacing:-1.6px;color:rgb(35,31,31);
}
#P438_60
{
left:0px;letter-spacing:0px;margin-left:1.6px;
}
#P438_61
{
left:9354.89px;bottom:24241.5px;word-spacing:-19.9px;color:rgb(35,31,31);
}
#P438_62
{
left:10570.9px;bottom:24241.5px;letter-spacing:-9.3px;color:rgb(35,31,31);
}
#P438_63
{
left:0px;letter-spacing:-1.5px;margin-left:9.3px;
}
#P438_64
{
left:0px;letter-spacing:0px;margin-left:-75.9px;
}
#P438_65
{
left:0px;letter-spacing:-0.3px;
}
#P438_66
{
left:0px;letter-spacing:0px;margin-left:-13.6px;
}
#P438_67
{
left:10570.9px;bottom:23345.5px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P438_68
{
left:0px;letter-spacing:0px;margin-left:-13.8px;
}
#P438_69
{
left:6977.56px;bottom:46189.1px;letter-spacing:-2.2px;color:white;
}
#P438_70
{
left:0px;letter-spacing:-36.9px;margin-left:-47.4px;
}
#P438_71
{
left:16589px;bottom:46487.5px;color:white;
}
#P438_72
{
left:16962.6px;bottom:46189.1px;color:white;
}
#P438_73
{
left:18207.2px;bottom:46487.5px;color:white;
}
#P438_74
{
left:18580.8px;bottom:46189.1px;color:white;
}
#P438_75
{
left:3459.78px;bottom:46161.9px;color:white;
}
#P438_76
{
left:10136.1px;bottom:20810.3px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P438_77
{
left:13561.2px;bottom:21002.1px;color:rgb(255,223,126);
}
#P438_78
{
left:14182.9px;bottom:20810.3px;letter-spacing:-3.1px;word-spacing:207.4px;color:white;
}
#P438_79
{
left:16555.2px;bottom:21002.1px;color:white;
}
#P438_80
{
left:16795.4px;bottom:20810.3px;color:white;
}
#P438_81
{
left:8395.67px;bottom:20686.8px;
}
#P438_82
{
left:8395.67px;bottom:20686.8px;color:white;
}
#P438_83
{
left:9226.84px;bottom:19224.9px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P438_84
{
left:0px;letter-spacing:0.4px;margin-left:14.1px;
}
#P438_85
{
left:0px;letter-spacing:-18.7px;margin-left:-42.5px;
}
#P438_86
{
left:0px;letter-spacing:-1.6px;margin-left:18.7px;
}
#P438_87
{
left:0px;letter-spacing:0px;margin-left:1.6px;
}
#P438_88
{
left:9226.84px;bottom:18328.9px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P438_89
{
left:9226.84px;bottom:17432.9px;letter-spacing:-5px;color:rgb(35,31,31);
}
#P438_90
{
left:0px;letter-spacing:0px;margin-left:5px;
}
#P438_91
{
left:9226.84px;bottom:16152.8px;color:rgb(35,31,31);
}
#P438_92
{
left:9354.84px;bottom:16152.8px;letter-spacing:-14px;word-spacing:516.1px;color:rgb(35,31,31);
}
#P438_93
{
left:10570.8px;bottom:16152.8px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P438_94
{
left:0px;letter-spacing:0px;margin-left:0.6px;
}
#P438_95
{
left:9226.84px;bottom:14808.8px;color:rgb(35,31,31);
}
#P438_96
{
left:9354.84px;bottom:14808.8px;letter-spacing:-6.9px;color:rgb(35,31,31);
}
#P438_97
{
left:9971.03px;bottom:14808.8px;letter-spacing:441.4px;color:rgb(35,31,31);
}
#P438_98
{
left:0px;letter-spacing:0px;margin-left:-599.8px;
}
#P438_99
{
left:0px;letter-spacing:5.5px;margin-left:-31.6px;
}
#P438_100
{
left:0px;letter-spacing:-1.3px;margin-left:-5.5px;
}
#P438_101
{
left:0px;letter-spacing:-0.3px;margin-left:-12.7px;
}
#P438_102
{
left:0px;letter-spacing:0.4px;margin-left:0.3px;
}
#P438_103
{
left:10570.8px;bottom:13912.9px;color:rgb(35,31,31);
}
#P438_104
{
left:0px;letter-spacing:0px;margin-left:5.5px;
}
#P438_105
{
left:0px;letter-spacing:0px;margin-left:-214.8px;
}
#P438_106
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P438_107
{
left:10570.8px;bottom:13016.9px;letter-spacing:-10.5px;color:rgb(35,31,31);
}
#P438_108
{
left:0px;letter-spacing:-1.1px;margin-left:10.5px;
}
#P438_109
{
left:0px;letter-spacing:0px;margin-left:-12.8px;
}
#P438_110
{
left:10570.8px;bottom:12120.9px;letter-spacing:-2.3px;color:rgb(35,31,31);
}
#P438_111
{
left:0px;letter-spacing:0px;margin-left:-18.6px;
}
#P438_112
{
left:0px;letter-spacing:-0.6px;
}
#P438_113
{
left:9354.83px;bottom:10776.9px;word-spacing:-19.9px;color:rgb(35,31,31);
}
#P438_114
{
left:9899.74px;bottom:10776.9px;letter-spacing:512.7px;color:rgb(35,31,31);
}
#P438_115
{
left:10570.8px;bottom:10796.6px;letter-spacing:-7.7px;color:rgb(2,77,161);
}
#P438_116
{
left:0px;letter-spacing:0px;margin-left:7.7px;
}
#P438_117
{
left:17614.4px;bottom:10776.9px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P438_118
{
left:0px;letter-spacing:0px;margin-left:-218.9px;
}
#P438_119
{
left:0px;letter-spacing:0.3px;
}
#P438_120
{
left:10570.8px;bottom:9880.88px;letter-spacing:-0.8px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P438_121
{
left:0px;letter-spacing:-0.7px;margin-left:158.5px;
}
#P438_122
{
left:10570.8px;bottom:8984.94px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P438_123
{
left:0px;letter-spacing:-2px;margin-left:0.7px;
}
#P438_124
{
left:9354.83px;bottom:7640.88px;word-spacing:-19.9px;color:rgb(35,31,31);
}
#P438_125
{
left:9977.88px;bottom:7640.88px;letter-spacing:434.6px;color:rgb(35,31,31);
}
#P438_126
{
left:0px;letter-spacing:0px;margin-left:-593px;
}
#P438_127
{
left:0px;letter-spacing:0px;margin-left:-12.5px;
}
#P438_128
{
left:0px;letter-spacing:0px;margin-left:-21px;
}
#P438_129
{
left:0px;letter-spacing:0px;
}
#P438_130
{
left:10570.8px;bottom:6744.94px;letter-spacing:-10.5px;color:rgb(35,31,31);
}
#P438_131
{
left:0px;letter-spacing:-0.6px;margin-left:10.5px;
}
#P438_132
{
left:0px;letter-spacing:2.8px;margin-left:0.6px;
}
#P438_133
{
left:9354.83px;bottom:5400.94px;word-spacing:-19.9px;color:rgb(35,31,31);
}
#P438_134
{
left:10570.8px;bottom:5400.94px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P438_135
{
left:0px;letter-spacing:-0.3px;margin-left:-0.1px;
}
#P438_136
{
left:10570.8px;bottom:4504.94px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P438_137
{
left:0px;letter-spacing:-0.1px;margin-left:-13.2px;
}
#P438_138
{
left:0px;letter-spacing:0px;margin-left:0.1px;
}
#P438_139
{
left:9226.84px;bottom:3160.93px;color:rgb(35,31,31);
}
#P438_140
{
left:9354.84px;bottom:3160.93px;letter-spacing:-6.9px;color:rgb(35,31,31);
}
#P438_141
{
left:9785.88px;bottom:3160.93px;letter-spacing:626.6px;color:rgb(35,31,31);
}
#P438_142
{
left:0px;letter-spacing:-7px;margin-left:-647.6px;
}
#P438_143
{
left:0px;letter-spacing:-0.4px;margin-left:7px;
}
#P438_144
{
left:0px;letter-spacing:0px;margin-left:0.4px;
}
#P438_145
{
left:4301.4px;bottom:13360.6px;color:rgb(35,31,31);
}
#P438_146
{
left:4674.39px;bottom:13388.9px;letter-spacing:-10.2px;color:rgb(35,31,31);
}
#P438_147
{
left:6691.93px;bottom:13360.5px;color:rgb(35,31,31);
}
#P438_148
{
left:4301.34px;bottom:12656.5px;letter-spacing:-14.1px;color:rgb(35,31,31);
}
#P438_149
{
left:5012.31px;bottom:12684.9px;letter-spacing:-10.4px;color:rgb(35,31,31);
}
#P438_150
{
left:2365.37px;bottom:11788px;letter-spacing:1.2px;color:rgb(35,31,31);
}
#P438_151
{
left:0px;letter-spacing:2.3px;margin-left:1.3px;
}
#P438_152
{
left:2365.37px;bottom:11004.8px;letter-spacing:-3.3px;word-spacing:-0.7px;color:rgb(35,31,31);
}
#P438_153
{
left:0px;letter-spacing:-0.3px;margin-left:2.4px;
}
#P438_154
{
left:0px;letter-spacing:-3.1px;margin-left:-4.5px;
}
#P438_155
{
left:2365.37px;bottom:10383px;color:rgb(35,31,31);
}
#P438_156
{
left:2615.28px;bottom:10164.8px;color:rgb(35,31,31);
}
#P438_157
{
left:2957.82px;bottom:10204.8px;letter-spacing:-132.8px;word-spacing:-0.2px;color:rgb(35,31,31);
}
#P438_158
{
left:0px;letter-spacing:-1.8px;margin-left:139.2px;
}
#P438_159
{
left:0px;letter-spacing:-2.2px;margin-left:2px;
}
#P438_160
{
left:0px;letter-spacing:-1.7px;margin-left:-3.1px;
}
#P438_161
{
left:0px;letter-spacing:1.4px;margin-left:128px;
}
#P438_162
{
left:0px;letter-spacing:0px;margin-left:1.8px;
}
#P438_163
{
left:2365.37px;bottom:9583.02px;color:rgb(35,31,31);
}
#P438_164
{
left:2615.28px;bottom:9364.78px;letter-spacing:186.6px;color:rgb(35,31,31);
}
#P438_165
{
left:2960.24px;bottom:9404.78px;letter-spacing:-135.2px;word-spacing:-0.2px;color:rgb(35,31,31);
}
#P438_166
{
left:0px;letter-spacing:-1.9px;margin-left:141.5px;
}
#P438_167
{
left:0px;letter-spacing:-1.4px;margin-left:2px;
}
#P438_168
{
left:0px;letter-spacing:-2.5px;margin-left:15.8px;
}
#P438_169
{
left:0px;letter-spacing:-1.4px;margin-left:1.6px;
}
#P438_170
{
left:2960.24px;bottom:8764.78px;letter-spacing:-0.9px;word-spacing:-4.7px;color:rgb(35,31,31);
}
#P438_171
{
left:0px;letter-spacing:3.2px;margin-left:10.2px;
}
#P438_172
{
left:2365.37px;bottom:8143.02px;color:rgb(35,31,31);
}
#P438_173
{
left:2615.28px;bottom:7924.78px;letter-spacing:186.6px;color:rgb(35,31,31);
}
#P438_174
{
left:2960.24px;bottom:7964.78px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P438_175
{
left:0px;letter-spacing:-0.4px;margin-left:-4.5px;
}
#P438_176
{
left:0px;letter-spacing:-2.6px;margin-left:-5.1px;
}
#P438_177
{
left:2960.24px;bottom:7324.78px;letter-spacing:1.3px;word-spacing:-5.3px;color:rgb(35,31,31);
}
#P438_178
{
left:0px;letter-spacing:0px;margin-left:1.9px;
}
#P438_179
{
left:2365.38px;bottom:6556.72px;letter-spacing:-1.5px;word-spacing:-5.3px;color:rgb(35,31,31);
}
#P438_180
{
left:0px;letter-spacing:-0.1px;margin-left:8.7px;
}
#P438_181
{
left:2365.38px;bottom:5916.65px;letter-spacing:2.7px;color:rgb(35,31,31);
}
#P438_182
{
left:0px;letter-spacing:0px;margin-left:-54.4px;
}
#P438_183
{
left:0px;letter-spacing:0px;margin-left:10.6px;
}
#P438_184
{
left:2365.38px;bottom:5276.65px;letter-spacing:2.7px;color:rgb(35,31,31);
}
#P438_185
{
left:0px;letter-spacing:0px;margin-left:-54.4px;
}
#P438_186
{
left:0px;letter-spacing:0px;margin-left:7.6px;
}
#P438_187
{
left:2365.38px;bottom:4636.65px;letter-spacing:2.4px;color:rgb(35,31,31);
}
#P438_188
{
left:0px;letter-spacing:0px;margin-left:-54.1px;
}
#P438_189
{
left:0px;letter-spacing:0.2px;margin-left:3px;
}
#P438_190
{
left:24380.4px;bottom:30065.3px;
}
#P438_191
{
left:0px;letter-spacing:0px;margin-left:158.4px;
}
#P438_192
{
left:0px;letter-spacing:0px;margin-left:-4.2px;
}
#PageContainer438
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg438.jpg");background-repeat:no-repeat;background-size: 1066px 1075px; background-position: 1px 0.160000000000082px;
}
#ImageContainer438 {bottom:288.84px;right:0.00px;width:1066.24px;height:1075.32px;position:absolute;} #TextContainer438 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.rpj{position:absolute; top: 189px; left: 153px;}
.srpj{position:absolute; top: 186px; left: 97px;}
.geo{position: absolute;top: 674px;left: 145px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}