.tr498{ color:transparent;}
#P498_1
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P498_2
{
left:3540.44px;bottom:1410.03px;color:rgb(35,31,31);
}
#P498_3
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P498_4
{
left:8197.72px;bottom:1410.03px;letter-spacing:462.1px;color:rgb(35,31,31);
}
#P498_5
{
left:0px;letter-spacing:1.5px;margin-left:-465px;
}
#P498_6
{
left:0px;letter-spacing:0px;margin-left:6.1px;
}
#P498_7
{
left:4669.4px;bottom:45459.8px;color:rgb(35,31,31);
}
#P498_8
{
left:5237.98px;bottom:45479.5px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P498_9
{
left:6269.4px;bottom:45459.8px;color:rgb(35,31,31);
}
#P498_10
{
left:18041.5px;bottom:45459.8px;color:rgb(0,124,196);
}
#P498_11
{
left:0px;letter-spacing:0px;margin-left:-154.9px;
}
#P498_12
{
left:4669.4px;bottom:36035px;color:rgb(35,31,31);
}
#P498_13
{
left:5629.4px;bottom:36054.7px;color:rgb(35,31,31);
}
#P498_14
{
left:7477.47px;bottom:38065.3px;color:rgb(33,31,31);
}
#P498_15
{
left:7770.78px;bottom:42581.4px;color:rgb(35,31,31);
}
#P498_16
{
left:7770.78px;bottom:41367px;color:rgb(35,31,31);
}
#P498_17
{
left:7770.78px;bottom:40152.6px;color:rgb(35,31,31);
}
#P498_18
{
left:7770.78px;bottom:38938.2px;color:rgb(35,31,31);
}
#P498_19
{
left:7770.78px;bottom:37723.8px;color:rgb(35,31,31);
}
#P498_20
{
left:9987.1px;bottom:43950.4px;color:rgb(33,31,31);
}
#P498_21
{
left:4669.4px;bottom:34563px;color:rgb(35,31,31);
}
#P498_22
{
left:6392.15px;bottom:34582.7px;letter-spacing:-90.7px;color:rgb(35,31,31);
}
#P498_23
{
left:7293.41px;bottom:34563px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P498_24
{
left:0px;letter-spacing:0px;margin-left:-285.9px;
}
#P498_25
{
left:20737.2px;bottom:34582.7px;color:rgb(35,31,31);
}
#P498_26
{
left:21885.5px;bottom:34563px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P498_27
{
left:0px;letter-spacing:0px;margin-left:-285.9px;
}
#P498_28
{
left:4669.47px;bottom:33027px;color:rgb(35,31,31);
}
#P498_29
{
left:6145.18px;bottom:33046.7px;color:rgb(35,31,31);
}
#P498_30
{
left:7293.47px;bottom:33027px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P498_31
{
left:0px;letter-spacing:0px;margin-left:-285.9px;
}
#P498_32
{
left:21049.9px;bottom:33046.7px;color:rgb(35,31,31);
}
#P498_33
{
left:21885.6px;bottom:33027px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P498_34
{
left:0px;letter-spacing:0px;margin-left:-285.9px;
}
#P498_35
{
left:4669.53px;bottom:30339px;color:rgb(35,31,31);
}
#P498_36
{
left:5238.11px;bottom:30358.7px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P498_37
{
left:6269.53px;bottom:30339px;letter-spacing:-0.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P498_38
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P498_39
{
left:0px;letter-spacing:-0.1px;margin-left:-45.8px;
}
#P498_40
{
left:0px;letter-spacing:-0.1px;margin-left:-59.7px;
}
#P498_41
{
left:0px;letter-spacing:-0.1px;margin-left:-20.8px;
}
#P498_42
{
left:0px;letter-spacing:-0.1px;margin-left:-8.3px;
}
#P498_43
{
left:0px;letter-spacing:-0.1px;margin-left:-13.8px;
}
#P498_44
{
left:0px;letter-spacing:-0.1px;margin-left:-6.7px;
}
#P498_45
{
left:0px;letter-spacing:-0.1px;margin-left:-25.3px;
}
#P498_46
{
left:6269.53px;bottom:29443px;color:rgb(35,31,31);
}
#P498_47
{
left:7643.74px;bottom:29443px;color:rgb(35,31,31);
}
#P498_48
{
left:8164.25px;bottom:29443px;letter-spacing:-1.2px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P498_49
{
left:0px;letter-spacing:-1.6px;margin-left:1.1px;
}
#P498_50
{
left:0px;letter-spacing:-1.1px;margin-left:1.5px;
}
#P498_51
{
left:0px;letter-spacing:-28.8px;margin-left:-24.2px;
}
#P498_52
{
left:0px;letter-spacing:-0.1px;margin-left:28.8px;
}
#P498_53
{
left:0px;letter-spacing:0px;margin-left:-66.8px;
}
#P498_54
{
left:0px;letter-spacing:-42.2px;margin-left:116.2px;
}
#P498_55
{
left:0px;letter-spacing:-0.1px;margin-left:42.1px;
}
#P498_56
{
left:6269.53px;bottom:28547.1px;letter-spacing:-1.3px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P498_57
{
left:0px;letter-spacing:-3.5px;margin-left:-12.6px;
}
#P498_58
{
left:0px;letter-spacing:-0.4px;margin-left:3.5px;
}
#P498_59
{
left:0px;letter-spacing:-0.1px;margin-left:-20.7px;
}
#P498_60
{
left:0px;letter-spacing:-0.1px;margin-left:-13.9px;
}
#P498_61
{
left:6269.53px;bottom:27651.2px;word-spacing:-25.3px;color:rgb(35,31,31);
}
#P498_62
{
left:0px;letter-spacing:0px;margin-left:-57.6px;
}
#P498_63
{
left:10842.7px;bottom:27651px;letter-spacing:-2.3px;color:rgb(0,124,196);
}
#P498_64
{
left:0px;letter-spacing:1.2px;margin-left:2.3px;
}
#P498_65
{
left:4669.4px;bottom:26115px;color:rgb(35,31,31);
}
#P498_66
{
left:6145.11px;bottom:26134.7px;color:rgb(35,31,31);
}
#P498_67
{
left:7293.41px;bottom:26115px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P498_68
{
left:8039.64px;bottom:26115px;color:rgb(35,31,31);
}
#P498_69
{
left:8402.91px;bottom:26115px;color:rgb(35,31,31);
}
#P498_70
{
left:20815.3px;bottom:26134.7px;color:rgb(35,31,31);
}
#P498_71
{
left:21441.2px;bottom:26115px;color:rgb(35,31,31);
}
#P498_72
{
left:21885.5px;bottom:26115px;color:rgb(35,31,31);
}
#P498_73
{
left:22248.8px;bottom:26115px;color:rgb(35,31,31);
}
#P498_74
{
left:22407.2px;bottom:26085.4px;color:rgb(35,31,31);
}
#P498_75
{
left:22993.6px;bottom:26115px;color:rgb(35,31,31);
}
#P498_76
{
left:4669.47px;bottom:24579px;color:rgb(35,31,31);
}
#P498_77
{
left:6223.32px;bottom:24598.7px;color:rgb(35,31,31);
}
#P498_78
{
left:7293.47px;bottom:24579px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P498_79
{
left:8198.11px;bottom:24549.4px;color:rgb(35,31,31);
}
#P498_80
{
left:8784.54px;bottom:24579px;color:rgb(35,31,31);
}
#P498_81
{
left:8942.94px;bottom:24579px;color:rgb(35,31,31);
}
#P498_82
{
left:9306.2px;bottom:24579px;color:rgb(35,31,31);
}
#P498_83
{
left:20737.2px;bottom:24598.7px;color:rgb(35,31,31);
}
#P498_84
{
left:21441.2px;bottom:24579px;color:rgb(35,31,31);
}
#P498_85
{
left:21885.6px;bottom:24579px;color:rgb(35,31,31);
}
#P498_86
{
left:22248.9px;bottom:24579px;color:rgb(35,31,31);
}
#P498_87
{
left:22407.3px;bottom:24549.4px;color:rgb(35,31,31);
}
#P498_88
{
left:22993.7px;bottom:24579px;color:rgb(35,31,31);
}
#P498_89
{
left:4669.53px;bottom:21891px;color:rgb(35,31,31);
}
#P498_90
{
left:5238.11px;bottom:21910.7px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P498_91
{
left:6269.53px;bottom:21891px;letter-spacing:-0.2px;word-spacing:0.2px;color:rgb(35,31,31);
}
#P498_92
{
left:21974px;bottom:21715px;letter-spacing:-5.6px;color:rgb(235,26,35);
}
#P498_93
{
left:23645.4px;bottom:21715px;color:rgb(35,31,31);
}
#P498_94
{
left:24541.4px;bottom:21715px;color:rgb(0,124,196);
}
#P498_95
{
left:25942.4px;bottom:21715px;color:rgb(35,31,31);
}
#P498_96
{
left:21149.4px;bottom:20626.9px;color:rgb(35,31,31);
}
#P498_97
{
left:23272.3px;bottom:20627px;color:rgb(235,26,35);
}
#P498_98
{
left:23645.4px;bottom:20627px;color:rgb(35,31,31);
}
#P498_99
{
left:24541.4px;bottom:20627px;word-spacing:300.5px;color:rgb(0,124,196);
}
#P498_100
{
left:21149.4px;bottom:19283px;color:rgb(35,31,31);
}
#P498_101
{
left:23272.3px;bottom:19283px;color:rgb(235,26,35);
}
#P498_102
{
left:23645.4px;bottom:19283px;color:rgb(35,31,31);
}
#P498_103
{
left:21149.3px;bottom:17939px;color:rgb(35,31,31);
}
#P498_104
{
left:23272.3px;bottom:17939px;color:rgb(235,26,35);
}
#P498_105
{
left:23645.4px;bottom:17939px;color:rgb(35,31,31);
}
#P498_106
{
left:24541.4px;bottom:17939px;word-spacing:300.5px;color:rgb(0,124,196);
}
#P498_107
{
left:0px;letter-spacing:0px;margin-left:99.3px;
}
#P498_108
{
left:21149.4px;bottom:16595px;color:rgb(35,31,31);
}
#P498_109
{
left:23272.3px;bottom:16595px;color:rgb(235,26,35);
}
#P498_110
{
left:23645.4px;bottom:16595px;color:rgb(35,31,31);
}
#P498_111
{
left:24541.4px;bottom:16595px;word-spacing:300.5px;color:rgb(0,124,196);
}
#P498_112
{
left:21149.4px;bottom:15315px;color:rgb(0,124,196);
}
#P498_113
{
left:23272.3px;bottom:15315px;color:rgb(235,26,35);
}
#P498_114
{
left:24541.4px;bottom:15315px;letter-spacing:437.1px;word-spacing:300.5px;color:rgb(0,124,196);
}
#P498_115
{
left:0px;letter-spacing:0px;margin-left:21.7px;
}
#P498_116
{
left:21149.4px;bottom:14035px;color:rgb(35,31,31);
}
#P498_117
{
left:24541.4px;bottom:14035px;letter-spacing:-3.1px;word-spacing:216.7px;color:rgb(35,31,31);
}
#P498_118
{
left:0px;letter-spacing:0px;margin-left:-9.4px;
}
#P498_119
{
left:26792.2px;bottom:14099px;color:rgb(35,31,31);
}
#P498_120
{
left:27080.1px;bottom:14035px;word-spacing:-59.8px;color:rgb(35,31,31);
}
#P498_121
{
left:27622.2px;bottom:14005.4px;color:rgb(35,31,31);
}
#P498_122
{
left:28208.6px;bottom:14035px;color:rgb(35,31,31);
}
#P498_123
{
left:6269.4px;bottom:20995px;color:rgb(35,31,31);
}
#P498_124
{
left:4669.4px;bottom:19331px;color:rgb(35,31,31);
}
#P498_125
{
left:5629.4px;bottom:19350.7px;letter-spacing:444.3px;color:rgb(35,31,31);
}
#P498_126
{
left:6269.4px;bottom:19331px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P498_127
{
left:0px;letter-spacing:-0.5px;margin-left:158.4px;
}
#P498_128
{
left:0px;letter-spacing:0px;margin-left:-13.5px;
}
#P498_129
{
left:0px;letter-spacing:0px;margin-left:-17.5px;
}
#P498_130
{
left:6269.4px;bottom:18435.1px;color:rgb(35,31,31);
}
#P498_131
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P498_132
{
left:6269.4px;bottom:17539.2px;color:rgb(35,31,31);
}
#P498_133
{
left:0px;letter-spacing:0px;margin-left:-4.2px;
}
#P498_134
{
left:0px;letter-spacing:0px;margin-left:98.6px;
}
#P498_135
{
left:14971.5px;bottom:17539px;color:rgb(0,124,196);
}
#P498_136
{
left:0px;letter-spacing:0px;margin-left:-154.9px;
}
#P498_137
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P498_138
{
left:0px;letter-spacing:0px;margin-left:-154.9px;
}
#P498_139
{
left:4669.4px;bottom:11651px;color:rgb(35,31,31);
}
#P498_140
{
left:5237.91px;bottom:11670.7px;color:rgb(35,31,31);
}
#P498_141
{
left:6269.4px;bottom:11651px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P498_142
{
left:0px;letter-spacing:0px;margin-left:-17.4px;
}
#P498_143
{
left:0px;letter-spacing:0px;margin-left:-21px;
}
#P498_144
{
left:24751.5px;bottom:11651px;letter-spacing:1px;color:rgb(0,124,196);
}
#P498_145
{
left:9085.4px;bottom:10179px;color:rgb(35,31,31);
}
#P498_146
{
left:10363.2px;bottom:10149.4px;color:rgb(35,31,31);
}
#P498_147
{
left:10949.6px;bottom:10179px;color:rgb(35,31,31);
}
#P498_148
{
left:12632.1px;bottom:10149.4px;color:rgb(35,31,31);
}
#P498_149
{
left:13218.5px;bottom:10179px;color:rgb(35,31,31);
}
#P498_150
{
left:14901.1px;bottom:10149.4px;color:rgb(35,31,31);
}
#P498_151
{
left:15487.5px;bottom:10179px;color:rgb(35,31,31);
}
#P498_152
{
left:16923.7px;bottom:10149.4px;color:rgb(35,31,31);
}
#P498_153
{
left:17510px;bottom:10179px;color:rgb(35,31,31);
}
#P498_154
{
left:19192.6px;bottom:10149.4px;color:rgb(35,31,31);
}
#P498_155
{
left:19779px;bottom:10179px;color:rgb(35,31,31);
}
#P498_156
{
left:4669.34px;bottom:8066.99px;color:rgb(35,31,31);
}
#P498_157
{
left:6392.09px;bottom:8086.7px;letter-spacing:-90.7px;color:rgb(35,31,31);
}
#P498_158
{
left:7293.34px;bottom:8066.99px;letter-spacing:285.7px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P498_159
{
left:0px;letter-spacing:-0.8px;margin-left:-285.9px;
}
#P498_160
{
left:0px;letter-spacing:-0.1px;margin-left:0.6px;
}
#P498_161
{
left:4669.34px;bottom:6530.99px;color:rgb(35,31,31);
}
#P498_162
{
left:6145.05px;bottom:6550.7px;color:rgb(35,31,31);
}
#P498_163
{
left:7293.34px;bottom:6530.99px;letter-spacing:285.7px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P498_164
{
left:0px;letter-spacing:-0.5px;margin-left:-294.2px;
}
#P498_165
{
left:0px;letter-spacing:-0.8px;margin-left:0.4px;
}
#P498_166
{
left:4669.34px;bottom:4994.99px;color:rgb(35,31,31);
}
#P498_167
{
left:6145.05px;bottom:5014.7px;color:rgb(35,31,31);
}
#P498_168
{
left:7293.48px;bottom:4994.99px;letter-spacing:-0.1px;word-spacing:286.1px;color:rgb(35,31,31);
}
#P498_169
{
left:0px;letter-spacing:0px;margin-left:-286px;
}
#P498_170
{
left:0px;letter-spacing:0.1px;margin-left:-8.4px;
}
#P498_171
{
left:4669.34px;bottom:3459.1px;color:rgb(35,31,31);
}
#P498_172
{
left:6457.63px;bottom:3478.81px;color:rgb(35,31,31);
}
#P498_173
{
left:6849.05px;bottom:3459.1px;letter-spacing:285.9px;color:rgb(35,31,31);
}
#P498_174
{
left:0px;letter-spacing:0px;margin-left:-306.8px;
}
#P498_175
{
left:0px;letter-spacing:-1px;
}
#P498_176
{
left:0px;letter-spacing:0px;margin-left:1px;
}
#PageContainer498
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg498.jpg");background-repeat:no-repeat;background-size: 1066px 947px; background-position: 1px -0.289999999999964px;
}
#ImageContainer498 {bottom:417.29px;right:0.00px;width:1066.24px;height:946.87px;position:absolute;} #TextContainer498 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}