.tr52{ color:transparent;}
#P52_1
{
left:5445.91px;bottom:41010.8px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P52_2
{
left:12314.2px;bottom:41035.3px;color:white;
}
#P52_3
{
left:12729.8px;bottom:41227.1px;color:white;
}
#P52_4
{
left:12969.9px;bottom:41035.3px;color:white;
}
#P52_5
{
left:13946.3px;bottom:41227.1px;color:white;
}
#P52_6
{
left:14186.5px;bottom:41035.3px;letter-spacing:-2.1px;color:white;
}
#P52_7
{
left:0px;letter-spacing:0px;margin-left:-13.2px;
}
#P52_8
{
left:18950.9px;bottom:41227.1px;color:white;
}
#P52_9
{
left:19191.1px;bottom:41035.3px;letter-spacing:-8.5px;color:white;
}
#P52_10
{
left:10469.8px;bottom:40868.2px;
}
#P52_11
{
left:10469.8px;bottom:40868.2px;color:white;
}
#P52_12
{
left:5889.56px;bottom:46957.1px;color:white;
}
#P52_13
{
left:2371.78px;bottom:46929.9px;color:white;
}
#P52_14
{
left:2365.4px;bottom:1525.23px;color:rgb(35,31,31);
}
#P52_15
{
left:3148.76px;bottom:1525.23px;color:rgb(35,31,31);
}
#P52_16
{
left:4925.4px;bottom:1525.23px;color:rgb(35,31,31);
}
#P52_17
{
left:9121.88px;bottom:1525.23px;letter-spacing:461.9px;word-spacing:0.2px;color:rgb(35,31,31);
}
#P52_18
{
left:0px;letter-spacing:3px;margin-left:-458.4px;
}
#P52_19
{
left:0px;letter-spacing:3.7px;margin-left:2.8px;
}
#P52_20
{
left:0px;letter-spacing:-1.2px;margin-left:-3.9px;
}
#P52_21
{
left:0px;letter-spacing:-0.2px;margin-left:22.6px;
}
#P52_22
{
left:0px;letter-spacing:0px;margin-left:13.5px;
}
#P52_23
{
left:10813.4px;bottom:44039px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P52_24
{
left:20377.2px;bottom:43600.4px;color:rgb(35,31,31);
}
#P52_25
{
left:20728.9px;bottom:44039px;color:rgb(35,31,31);
}
#P52_26
{
left:21418.8px;bottom:44009.4px;color:rgb(35,31,31);
}
#P52_27
{
left:22005.3px;bottom:44039px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P52_28
{
left:0px;letter-spacing:0px;margin-left:0.8px;
}
#P52_29
{
left:10813.4px;bottom:43143px;color:rgb(35,31,31);
}
#P52_30
{
left:15311.2px;bottom:43143px;color:rgb(35,31,31);
}
#P52_31
{
left:18760.7px;bottom:43143px;color:rgb(35,31,31);
}
#P52_32
{
left:11645.4px;bottom:39423.1px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P52_33
{
left:11645.4px;bottom:38527.1px;letter-spacing:-2.5px;color:rgb(35,31,31);
}
#P52_34
{
left:0px;letter-spacing:0px;margin-left:-25.4px;
}
#P52_35
{
left:0px;letter-spacing:-0.5px;
}
#P52_36
{
left:11645.4px;bottom:37631.1px;letter-spacing:-1.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P52_37
{
left:0px;letter-spacing:-14px;margin-left:1.3px;
}
#P52_38
{
left:0px;letter-spacing:-3.6px;margin-left:14px;
}
#P52_39
{
left:0px;letter-spacing:-0.1px;margin-left:151.4px;
}
#P52_40
{
left:11645.4px;bottom:36735.1px;letter-spacing:-1.6px;color:rgb(35,31,31);
}
#P52_41
{
left:0px;letter-spacing:-14px;margin-left:1.6px;
}
#P52_42
{
left:0px;letter-spacing:0px;margin-left:14px;
}
#P52_43
{
left:11645.4px;bottom:35839.2px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P52_44
{
left:0px;letter-spacing:0px;margin-left:-13.2px;
}
#P52_45
{
left:11645.4px;bottom:34367.2px;color:rgb(35,31,31);
}
#P52_46
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P52_47
{
left:0px;letter-spacing:0px;margin-left:-214.9px;
}
#P52_48
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P52_49
{
left:0px;letter-spacing:0px;margin-left:-6.9px;
}
#P52_50
{
left:0px;letter-spacing:0px;margin-left:-13.9px;
}
#P52_51
{
left:12797.4px;bottom:33151.1px;word-spacing:1761.6px;color:rgb(35,31,31);
}
#P52_52
{
left:13702.1px;bottom:33121.6px;color:rgb(35,31,31);
}
#P52_53
{
left:14288.5px;bottom:33151.1px;color:rgb(35,31,31);
}
#P52_54
{
left:14925.6px;bottom:32712.5px;color:rgb(35,31,31);
}
#P52_55
{
left:15277.3px;bottom:33151.1px;color:rgb(35,31,31);
}
#P52_56
{
left:18685.4px;bottom:33159.1px;letter-spacing:-8.3px;color:rgb(0,124,196);
}
#P52_57
{
left:0px;letter-spacing:0px;margin-left:8.3px;
}
#P52_58
{
left:12797.4px;bottom:31999.1px;word-spacing:1761.6px;color:rgb(35,31,31);
}
#P52_59
{
left:13702px;bottom:31969.5px;color:rgb(35,31,31);
}
#P52_60
{
left:14288.5px;bottom:31999.1px;color:rgb(35,31,31);
}
#P52_61
{
left:14925.6px;bottom:31560.5px;color:rgb(35,31,31);
}
#P52_62
{
left:15277.3px;bottom:31999.1px;color:rgb(35,31,31);
}
#P52_63
{
left:18685.4px;bottom:32007.1px;letter-spacing:-8.3px;color:rgb(0,124,196);
}
#P52_64
{
left:0px;letter-spacing:0px;margin-left:8.3px;
}
#P52_65
{
left:12797.4px;bottom:30847.1px;word-spacing:1761.6px;color:rgb(35,31,31);
}
#P52_66
{
left:13702px;bottom:30817.5px;color:rgb(35,31,31);
}
#P52_67
{
left:14288.5px;bottom:30847.1px;color:rgb(35,31,31);
}
#P52_68
{
left:14925.6px;bottom:30408.5px;color:rgb(35,31,31);
}
#P52_69
{
left:15277.3px;bottom:30847.1px;color:rgb(35,31,31);
}
#P52_70
{
left:18685.4px;bottom:30855.1px;letter-spacing:-8.3px;color:rgb(0,124,196);
}
#P52_71
{
left:0px;letter-spacing:0px;margin-left:8.3px;
}
#P52_72
{
left:12797.4px;bottom:29695.1px;word-spacing:1761.6px;color:rgb(35,31,31);
}
#P52_73
{
left:13702px;bottom:29665.5px;color:rgb(35,31,31);
}
#P52_74
{
left:14288.5px;bottom:29695.1px;color:rgb(35,31,31);
}
#P52_75
{
left:14925.6px;bottom:29256.5px;color:rgb(35,31,31);
}
#P52_76
{
left:15277.3px;bottom:29695.1px;color:rgb(35,31,31);
}
#P52_77
{
left:0px;letter-spacing:0px;margin-left:158.1px;
}
#P52_78
{
left:18685.4px;bottom:29703.1px;letter-spacing:-8.3px;color:rgb(0,124,196);
}
#P52_79
{
left:0px;letter-spacing:0px;margin-left:8.3px;
}
#P52_80
{
left:12797.4px;bottom:28543.1px;word-spacing:1761.6px;color:rgb(35,31,31);
}
#P52_81
{
left:13702px;bottom:28513.5px;color:rgb(35,31,31);
}
#P52_82
{
left:14288.5px;bottom:28543.1px;color:rgb(35,31,31);
}
#P52_83
{
left:14925.6px;bottom:28104.5px;color:rgb(35,31,31);
}
#P52_84
{
left:15277.3px;bottom:28543.1px;color:rgb(35,31,31);
}
#P52_85
{
left:0px;letter-spacing:0px;margin-left:158.1px;
}
#P52_86
{
left:18685.4px;bottom:28551.1px;letter-spacing:-12.4px;color:rgb(0,124,196);
}
#P52_87
{
left:0px;letter-spacing:0px;margin-left:12.4px;
}
#P52_88
{
left:12229.4px;bottom:27071.1px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P52_89
{
left:12933.4px;bottom:27263.1px;letter-spacing:-2px;word-spacing:-19.2px;color:rgb(35,31,31);
}
#P52_90
{
left:0px;letter-spacing:0px;margin-left:-11.9px;
}
#P52_91
{
left:0px;letter-spacing:-0.3px;margin-left:-6.9px;
}
#P52_92
{
left:0px;letter-spacing:0px;margin-left:-20.7px;
}
#P52_93
{
left:0px;letter-spacing:-2.8px;
}
#P52_94
{
left:0px;letter-spacing:-2.1px;margin-left:2.8px;
}
#P52_95
{
left:0px;letter-spacing:0px;margin-left:2.1px;
}
#P52_96
{
left:12933.4px;bottom:26367.1px;letter-spacing:-2.8px;color:rgb(35,31,31);
}
#P52_97
{
left:0px;letter-spacing:-2.1px;margin-left:2.8px;
}
#P52_98
{
left:0px;letter-spacing:-1.8px;margin-left:2.1px;
}
#P52_99
{
left:0px;letter-spacing:-2.1px;margin-left:1.8px;
}
#P52_100
{
left:0px;letter-spacing:-1.7px;margin-left:2.1px;
}
#P52_101
{
left:0px;letter-spacing:0px;margin-left:1.7px;
}
#P52_102
{
left:11645.5px;bottom:23167.1px;color:rgb(35,31,31);
}
#P52_103
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P52_104
{
left:12109px;bottom:22041.9px;color:rgb(35,31,31);
}
#P52_105
{
left:13309.4px;bottom:22015.1px;color:rgb(35,31,31);
}
#P52_106
{
left:19661px;bottom:22041.9px;color:rgb(35,31,31);
}
#P52_107
{
left:20925.4px;bottom:22015.1px;color:rgb(35,31,31);
}
#P52_108
{
left:27341px;bottom:22041.9px;color:rgb(35,31,31);
}
#P52_109
{
left:28605.4px;bottom:22015.1px;color:rgb(35,31,31);
}
#P52_110
{
left:12109px;bottom:20761.9px;word-spacing:453.2px;color:rgb(35,31,31);
}
#P52_111
{
left:13309.4px;bottom:20754.8px;letter-spacing:-12.9px;color:rgb(2,77,161);
}
#P52_112
{
left:0px;letter-spacing:0px;margin-left:12.9px;
}
#P52_113
{
left:16178.2px;bottom:20735.1px;letter-spacing:168.3px;color:rgb(35,31,31);
}
#P52_114
{
left:0px;letter-spacing:-0.3px;margin-left:-168.3px;
}
#P52_115
{
left:13309.4px;bottom:19839.1px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P52_116
{
left:0px;letter-spacing:0px;margin-left:-40.8px;
}
#P52_117
{
left:0px;letter-spacing:-0.8px;
}
#P52_118
{
left:0px;letter-spacing:-0.7px;margin-left:0.8px;
}
#P52_119
{
left:13309.4px;bottom:18943.1px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P52_120
{
left:26785.2px;bottom:46188.3px;word-spacing:0.2px;color:rgb(33,31,31);
}
#P52_121
{
left:0px;letter-spacing:0px;margin-left:-44.8px;
}
#P52_122
{
left:0px;letter-spacing:0px;margin-left:0.2px;
}
#P52_123
{
left:5915.1px;bottom:22300.8px;color:rgb(35,31,31);
}
#P52_124
{
left:2514.73px;bottom:31001.7px;color:white;
}
#P52_125
{
left:5870.36px;bottom:31243.4px;color:white;
}
#P52_126
{
left:6206.3px;bottom:31001.7px;color:white;
}
#P52_127
{
left:2749.4px;bottom:29898.8px;color:rgb(35,31,31);
}
#P52_128
{
left:2749.4px;bottom:29130.8px;color:rgb(35,31,31);
}
#P52_129
{
left:2749.4px;bottom:28362.8px;color:rgb(35,31,31);
}
#P52_130
{
left:0px;letter-spacing:0px;margin-left:-177.9px;
}
#P52_131
{
left:2749.4px;bottom:27594.8px;color:rgb(35,31,31);
}
#P52_132
{
left:2749.4px;bottom:26826.8px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P52_133
{
left:12285.4px;bottom:14858.2px;color:rgb(35,31,31);
}
#P52_134
{
left:12950.7px;bottom:15014.4px;color:rgb(35,31,31);
}
#P52_135
{
left:13146.4px;bottom:14858.2px;letter-spacing:-2.2px;color:rgb(35,31,31);
}
#P52_136
{
left:16258.1px;bottom:15014.4px;color:rgb(35,31,31);
}
#P52_137
{
left:16453.8px;bottom:14858.2px;color:rgb(35,31,31);
}
#P52_138
{
left:17405.7px;bottom:15014.4px;color:rgb(35,31,31);
}
#P52_139
{
left:17601.4px;bottom:14858.2px;color:rgb(35,31,31);
}
#P52_140
{
left:12285.4px;bottom:13750.4px;color:rgb(35,31,31);
}
#P52_141
{
left:13670.2px;bottom:13750.4px;letter-spacing:0.6px;color:rgb(35,31,31);
}
#P52_142
{
left:20069.9px;bottom:13750.4px;color:rgb(35,31,31);
}
#P52_143
{
left:12285.4px;bottom:12854.4px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P52_144
{
left:12285.4px;bottom:11574.4px;letter-spacing:-63.2px;color:rgb(35,31,31);
}
#P52_145
{
left:0px;letter-spacing:0px;margin-left:63.2px;
}
#P52_146
{
left:21865.4px;bottom:11574.4px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P52_147
{
left:25253.8px;bottom:11574.4px;color:rgb(35,31,31);
}
#P52_148
{
left:0px;letter-spacing:0px;margin-left:-214.8px;
}
#P52_149
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P52_150
{
left:0px;letter-spacing:0px;margin-left:5.5px;
}
#P52_151
{
left:12285.4px;bottom:10678.4px;letter-spacing:0.2px;color:rgb(35,31,31);
}
#P52_152
{
left:0px;letter-spacing:0px;margin-left:-42.3px;
}
#P52_153
{
left:0px;letter-spacing:0px;margin-left:-25.3px;
}
#P52_154
{
left:0px;letter-spacing:-0.4px;
}
#P52_155
{
left:12285.4px;bottom:9782.44px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P52_156
{
left:0px;letter-spacing:-1.4px;margin-left:0.3px;
}
#P52_157
{
left:0px;letter-spacing:0px;margin-left:1.4px;
}
#P52_158
{
left:21957px;bottom:8635.76px;word-spacing:492.4px;color:rgb(35,31,31);
}
#P52_159
{
left:21306.2px;bottom:8027.76px;color:rgb(0,124,196);
}
#P52_160
{
left:22049.9px;bottom:8027.76px;color:rgb(0,124,196);
}
#P52_161
{
left:21370.2px;bottom:7483.76px;word-spacing:-94.4px;color:rgb(35,31,31);
}
#P52_162
{
left:22095.3px;bottom:7045.18px;color:rgb(35,31,31);
}
#P52_163
{
left:22799.1px;bottom:7483.76px;word-spacing:193.6px;color:rgb(35,31,31);
}
#P52_164
{
left:21306.2px;bottom:6875.76px;letter-spacing:1417.3px;color:rgb(0,124,196);
}
#P52_165
{
left:22202.6px;bottom:6331.76px;word-spacing:738px;color:rgb(35,31,31);
}
#P52_166
{
left:22927.8px;bottom:5893.18px;color:rgb(35,31,31);
}
#P52_167
{
left:23631.5px;bottom:6331.76px;word-spacing:193.6px;color:rgb(35,31,31);
}
#P52_168
{
left:21306.2px;bottom:5723.76px;letter-spacing:2249.3px;color:rgb(0,124,196);
}
#P52_169
{
left:22934.8px;bottom:5179.76px;word-spacing:1470.2px;color:rgb(35,31,31);
}
#P52_170
{
left:23818.3px;bottom:4741.18px;color:rgb(35,31,31);
}
#P52_171
{
left:24680.5px;bottom:5179.76px;word-spacing:193.6px;color:rgb(35,31,31);
}
#P52_172
{
left:25722.2px;bottom:5046.44px;color:rgb(35,31,31);
}
#P52_173
{
left:19056px;bottom:4150.44px;color:rgb(35,31,31);
}
#P52_174
{
left:19960.7px;bottom:4120.88px;color:rgb(35,31,31);
}
#P52_175
{
left:20547.1px;bottom:4150.44px;color:rgb(35,31,31);
}
#P52_176
{
left:21184.2px;bottom:3711.87px;color:rgb(35,31,31);
}
#P52_177
{
left:21536px;bottom:4150.44px;color:rgb(35,31,31);
}
#P52_178
{
left:22173.1px;bottom:3711.87px;color:rgb(35,31,31);
}
#P52_179
{
left:22524.8px;bottom:4150.44px;color:rgb(35,31,31);
}
#P52_180
{
left:23161.9px;bottom:3711.87px;color:rgb(35,31,31);
}
#P52_181
{
left:23513.8px;bottom:4150.44px;color:rgb(35,31,31);
}
#P52_182
{
left:25601.8px;bottom:4494.17px;color:rgb(35,31,31);
}
#P52_183
{
left:25873px;bottom:4150.44px;color:rgb(35,31,31);
}
#P52_184
{
left:25978.6px;bottom:3711.87px;color:rgb(35,31,31);
}
#P52_185
{
left:26330.4px;bottom:4150.44px;color:rgb(35,31,31);
}
#P52_186
{
left:26967.5px;bottom:3711.87px;color:rgb(35,31,31);
}
#P52_187
{
left:27319.3px;bottom:4150.44px;color:rgb(35,31,31);
}
#P52_188
{
left:2514.73px;bottom:13540.3px;color:white;
}
#P52_189
{
left:2749.4px;bottom:12446.4px;color:rgb(35,31,31);
}
#P52_190
{
left:3354.2px;bottom:12446.4px;color:rgb(35,31,31);
}
#P52_191
{
left:7229.98px;bottom:12446.4px;color:rgb(35,31,31);
}
#P52_192
{
left:2749.4px;bottom:11678.4px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P52_193
{
left:2749.4px;bottom:10910.4px;color:rgb(35,31,31);
}
#P52_194
{
left:2749.4px;bottom:10142.4px;color:rgb(35,31,31);
}
#P52_195
{
left:2749.4px;bottom:9374.38px;color:rgb(35,31,31);
}
#P52_196
{
left:7869.98px;bottom:9374.38px;color:rgb(35,31,31);
}
#P52_197
{
left:2749.4px;bottom:8606.38px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P52_198
{
left:2749.4px;bottom:7838.38px;color:rgb(35,31,31);
}
#P52_199
{
left:2749.4px;bottom:7070.38px;color:rgb(35,31,31);
}
#P52_200
{
left:2856.07px;bottom:38642.1px;letter-spacing:-7.7px;word-spacing:-26px;color:rgb(0,124,196);
}
#P52_201
{
left:0px;letter-spacing:0px;margin-left:7.7px;
}
#P52_202
{
left:2856.07px;bottom:37700.1px;color:rgb(35,31,31);
}
#P52_203
{
left:0px;letter-spacing:0px;margin-left:-58.7px;
}
#P52_204
{
left:5961.43px;bottom:37700.1px;color:rgb(35,31,31);
}
#P52_205
{
left:2856.07px;bottom:36804.1px;color:rgb(35,31,31);
}
#P52_206
{
left:2856.07px;bottom:36036.1px;color:rgb(35,31,31);
}
#P52_207
{
left:3624.07px;bottom:36036.1px;color:rgb(35,31,31);
}
#P52_208
{
left:2856.07px;bottom:35140.1px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P52_209
{
left:6043.99px;bottom:35140.1px;color:rgb(35,31,31);
}
#PageContainer52
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg052.jpg");background-repeat:no-repeat;background-size: 947px 1291px; background-position: 0px 35.3699999999999px;
}
#ImageContainer52 {bottom:37.63px;left:0.00px;width:946.60px;height:1291.35px;position:absolute;} #TextContainer52 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.example1{position:absolute;top: 218px;left: 97px;}
.nyr{position: absolute;top: 712px;left: 124px;}
.nyr_exr{position: absolute;top: 742px;left: 155px; color:rgb(35,31,31); font-size:16px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}