.tr172{ color:transparent;}
#P172_1
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P172_2
{
left:3540.44px;bottom:1410.03px;color:rgb(35,31,31);
}
#P172_3
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P172_4
{
left:7841.88px;bottom:1410.03px;letter-spacing:462.1px;color:rgb(35,31,31);
}
#P172_5
{
left:0px;letter-spacing:1.2px;margin-left:-457.8px;
}
#P172_6
{
left:0px;letter-spacing:4.1px;margin-left:9.5px;
}
#P172_7
{
left:0px;letter-spacing:2.1px;margin-left:-0.2px;
}
#P172_8
{
left:0px;letter-spacing:6.5px;margin-left:2.6px;
}
#P172_9
{
left:0px;letter-spacing:0px;margin-left:2.5px;
}
#P172_10
{
left:4669.4px;bottom:43622px;letter-spacing:-4.6px;color:rgb(35,31,31);
}
#P172_11
{
left:0px;letter-spacing:-0.7px;margin-left:4.6px;
}
#P172_12
{
left:14506.5px;bottom:43627.6px;color:rgb(35,31,31);
}
#P172_13
{
left:14926.1px;bottom:43622px;color:rgb(35,31,31);
}
#P172_14
{
left:15073.9px;bottom:43592.4px;color:rgb(35,31,31);
}
#P172_15
{
left:15660.4px;bottom:43622px;color:rgb(35,31,31);
}
#P172_16
{
left:17756.1px;bottom:43627.6px;color:rgb(35,31,31);
}
#P172_17
{
left:18168.7px;bottom:43622px;color:rgb(35,31,31);
}
#P172_18
{
left:18316.5px;bottom:43592.4px;color:rgb(35,31,31);
}
#P172_19
{
left:18902.9px;bottom:43622px;color:rgb(35,31,31);
}
#P172_20
{
left:4669.4px;bottom:42406px;color:rgb(35,31,31);
}
#P172_21
{
left:5237.98px;bottom:42425.7px;color:rgb(35,31,31);
}
#P172_22
{
left:6269.4px;bottom:42406px;color:rgb(35,31,31);
}
#P172_23
{
left:6800.92px;bottom:42376.4px;color:rgb(35,31,31);
}
#P172_24
{
left:7387.35px;bottom:42406px;color:rgb(35,31,31);
}
#P172_25
{
left:7545.75px;bottom:42406px;color:rgb(35,31,31);
}
#P172_26
{
left:7940.7px;bottom:42406px;color:rgb(35,31,31);
}
#P172_27
{
left:15158px;bottom:42425.7px;color:rgb(35,31,31);
}
#P172_28
{
left:16189.4px;bottom:42406px;color:rgb(35,31,31);
}
#P172_29
{
left:16584.3px;bottom:42406px;color:rgb(35,31,31);
}
#P172_30
{
left:16742.7px;bottom:42376.4px;color:rgb(35,31,31);
}
#P172_31
{
left:17329.2px;bottom:42406px;color:rgb(35,31,31);
}
#P172_32
{
left:25077.8px;bottom:42425.7px;color:rgb(35,31,31);
}
#P172_33
{
left:26109.3px;bottom:42406px;color:rgb(35,31,31);
}
#P172_34
{
left:4669.34px;bottom:40549.9px;letter-spacing:-14.8px;color:rgb(35,31,31);
}
#P172_35
{
left:0px;letter-spacing:-0.5px;margin-left:14.8px;
}
#P172_36
{
left:4669.34px;bottom:39333.9px;color:rgb(35,31,31);
}
#P172_37
{
left:5042.14px;bottom:39353.6px;color:rgb(35,31,31);
}
#P172_38
{
left:6269.34px;bottom:39333.9px;color:rgb(35,31,31);
}
#P172_39
{
left:11380.1px;bottom:39333.9px;color:rgb(35,31,31);
}
#P172_40
{
left:11743.4px;bottom:39333.9px;color:rgb(35,31,31);
}
#P172_41
{
left:15157.8px;bottom:39353.6px;color:rgb(35,31,31);
}
#P172_42
{
left:16189.3px;bottom:39333.9px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P172_43
{
left:25077.8px;bottom:39353.6px;color:rgb(35,31,31);
}
#P172_44
{
left:26109.2px;bottom:39333.9px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P172_45
{
left:4669.27px;bottom:37477.7px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P172_46
{
left:0px;letter-spacing:-4.7px;margin-left:1.3px;
}
#P172_47
{
left:0px;letter-spacing:-0.4px;margin-left:4.7px;
}
#P172_48
{
left:4669.27px;bottom:36261.7px;color:rgb(35,31,31);
}
#P172_49
{
left:5237.79px;bottom:36281.5px;color:rgb(35,31,31);
}
#P172_50
{
left:6269.21px;bottom:36261.7px;color:rgb(35,31,31);
}
#P172_51
{
left:7360.41px;bottom:36232.2px;color:rgb(35,31,31);
}
#P172_52
{
left:7946.84px;bottom:36261.7px;color:rgb(35,31,31);
}
#P172_53
{
left:9442.78px;bottom:36232.2px;color:rgb(35,31,31);
}
#P172_54
{
left:10029.2px;bottom:36261.7px;color:rgb(35,31,31);
}
#P172_55
{
left:10187.6px;bottom:36261.7px;color:rgb(35,31,31);
}
#P172_56
{
left:10829.7px;bottom:36261.7px;color:rgb(35,31,31);
}
#P172_57
{
left:15157.7px;bottom:36281.5px;color:rgb(35,31,31);
}
#P172_58
{
left:16189.2px;bottom:36261.7px;color:rgb(35,31,31);
}
#P172_59
{
left:17287.6px;bottom:35823.4px;color:rgb(35,31,31);
}
#P172_60
{
left:17639.4px;bottom:36262px;color:rgb(35,31,31);
}
#P172_61
{
left:17797.8px;bottom:36262px;color:rgb(35,31,31);
}
#P172_62
{
left:18232.9px;bottom:36262px;color:rgb(35,31,31);
}
#P172_63
{
left:18584.9px;bottom:35823.4px;color:rgb(35,31,31);
}
#P172_64
{
left:18936.6px;bottom:36262px;color:rgb(35,31,31);
}
#P172_65
{
left:25077.9px;bottom:36281.7px;color:rgb(35,31,31);
}
#P172_66
{
left:26109.5px;bottom:36262px;color:rgb(35,31,31);
}
#P172_67
{
left:27475.2px;bottom:36262px;color:rgb(35,31,31);
}
#P172_68
{
left:28027.9px;bottom:36262px;color:rgb(35,31,31);
}
#P172_69
{
left:4669.47px;bottom:34406px;letter-spacing:-10.5px;color:rgb(35,31,31);
}
#P172_70
{
left:0px;letter-spacing:-0.9px;margin-left:10.5px;
}
#P172_71
{
left:0px;letter-spacing:-0.2px;margin-left:0.9px;
}
#P172_72
{
left:0px;letter-spacing:0px;margin-left:-13.7px;
}
#P172_73
{
left:4669.47px;bottom:33189.9px;color:rgb(35,31,31);
}
#P172_74
{
left:4846.62px;bottom:33209.6px;color:rgb(35,31,31);
}
#P172_75
{
left:6269.47px;bottom:33189.9px;color:rgb(35,31,31);
}
#P172_76
{
left:6888.99px;bottom:33189.9px;color:rgb(35,31,31);
}
#P172_77
{
left:7252.25px;bottom:33189.9px;color:rgb(35,31,31);
}
#P172_78
{
left:7410.65px;bottom:33160.3px;color:rgb(35,31,31);
}
#P172_79
{
left:7997.08px;bottom:33189.9px;color:rgb(35,31,31);
}
#P172_80
{
left:19438.6px;bottom:33209.6px;color:rgb(35,31,31);
}
#P172_81
{
left:20861.5px;bottom:33189.9px;color:rgb(35,31,31);
}
#P172_82
{
left:21966.7px;bottom:33189.9px;color:rgb(35,31,31);
}
#P172_83
{
left:22296.2px;bottom:33189.9px;color:rgb(35,31,31);
}
#P172_84
{
left:22454.6px;bottom:33160.3px;color:rgb(35,31,31);
}
#P172_85
{
left:23041px;bottom:33189.9px;color:rgb(35,31,31);
}
#P172_86
{
left:4669.47px;bottom:31333.9px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P172_87
{
left:0px;letter-spacing:-4.7px;margin-left:1.3px;
}
#P172_88
{
left:4669.47px;bottom:30117.8px;color:rgb(35,31,31);
}
#P172_89
{
left:4846.62px;bottom:30137.5px;color:rgb(35,31,31);
}
#P172_90
{
left:6269.47px;bottom:30117.8px;color:rgb(35,31,31);
}
#P172_91
{
left:6888.99px;bottom:30117.8px;color:rgb(35,31,31);
}
#P172_92
{
left:7282.52px;bottom:30117.8px;color:rgb(35,31,31);
}
#P172_93
{
left:7440.92px;bottom:30088.2px;color:rgb(35,31,31);
}
#P172_94
{
left:8027.35px;bottom:30117.8px;color:rgb(35,31,31);
}
#P172_95
{
left:8963.61px;bottom:30088.2px;color:rgb(35,31,31);
}
#P172_96
{
left:9550.04px;bottom:30117.8px;color:rgb(35,31,31);
}
#P172_97
{
left:19438.6px;bottom:30137.5px;color:rgb(35,31,31);
}
#P172_98
{
left:20861.5px;bottom:30117.8px;color:rgb(35,31,31);
}
#P172_99
{
left:22012.5px;bottom:30088.2px;color:rgb(35,31,31);
}
#P172_100
{
left:22598.9px;bottom:30117.8px;color:rgb(35,31,31);
}
#P172_101
{
left:23130.5px;bottom:30117.8px;color:rgb(35,31,31);
}
#P172_102
{
left:23413.4px;bottom:30117.8px;color:rgb(35,31,31);
}
#P172_103
{
left:23818.2px;bottom:30088.2px;color:rgb(35,31,31);
}
#P172_104
{
left:24404.6px;bottom:30117.8px;color:rgb(35,31,31);
}
#P172_105
{
left:4669.47px;bottom:28645.9px;color:rgb(35,31,31);
}
#P172_106
{
left:4846.62px;bottom:28665.6px;color:rgb(35,31,31);
}
#P172_107
{
left:6269.47px;bottom:28645.9px;color:rgb(35,31,31);
}
#P172_108
{
left:6543.32px;bottom:28645.9px;color:rgb(35,31,31);
}
#P172_109
{
left:6701.72px;bottom:28616.3px;color:rgb(35,31,31);
}
#P172_110
{
left:7288.15px;bottom:28645.9px;color:rgb(35,31,31);
}
#P172_111
{
left:7819.67px;bottom:28645.9px;color:rgb(35,31,31);
}
#P172_112
{
left:8093.53px;bottom:28645.9px;color:rgb(35,31,31);
}
#P172_113
{
left:8251.87px;bottom:28616.3px;color:rgb(35,31,31);
}
#P172_114
{
left:8838.3px;bottom:28645.9px;color:rgb(35,31,31);
}
#P172_115
{
left:9369.82px;bottom:28645.9px;color:rgb(35,31,31);
}
#P172_116
{
left:9643.67px;bottom:28645.9px;color:rgb(35,31,31);
}
#P172_117
{
left:19438.6px;bottom:28665.6px;color:rgb(35,31,31);
}
#P172_118
{
left:20861.5px;bottom:28645.9px;color:rgb(35,31,31);
}
#P172_119
{
left:21234.6px;bottom:28645.9px;color:rgb(35,31,31);
}
#P172_120
{
left:21474.6px;bottom:28645.9px;color:rgb(35,31,31);
}
#P172_121
{
left:21633px;bottom:28616.3px;color:rgb(35,31,31);
}
#P172_122
{
left:22219.5px;bottom:28645.9px;color:rgb(35,31,31);
}
#P172_123
{
left:22909.3px;bottom:28616.3px;color:rgb(35,31,31);
}
#P172_124
{
left:23495.8px;bottom:28645.9px;color:rgb(35,31,31);
}
#P172_125
{
left:24027.3px;bottom:28645.9px;color:rgb(35,31,31);
}
#P172_126
{
left:24267.4px;bottom:28645.9px;color:rgb(35,31,31);
}
#P172_127
{
left:24425.8px;bottom:28616.3px;color:rgb(35,31,31);
}
#P172_128
{
left:25012.2px;bottom:28645.9px;color:rgb(35,31,31);
}
#P172_129
{
left:4669.47px;bottom:26789.7px;letter-spacing:-16.9px;color:rgb(35,31,31);
}
#P172_130
{
left:0px;letter-spacing:-0.5px;margin-left:16.9px;
}
#P172_131
{
left:0px;letter-spacing:0px;margin-left:-105px;
}
#P172_132
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P172_133
{
left:4669.47px;bottom:25573.7px;color:rgb(35,31,31);
}
#P172_134
{
left:4846.62px;bottom:25593.5px;color:rgb(35,31,31);
}
#P172_135
{
left:6269.47px;bottom:25573.7px;color:rgb(35,31,31);
}
#P172_136
{
left:7174.11px;bottom:25544.2px;color:rgb(35,31,31);
}
#P172_137
{
left:7760.54px;bottom:25573.7px;color:rgb(35,31,31);
}
#P172_138
{
left:19438.6px;bottom:25593.5px;color:rgb(35,31,31);
}
#P172_139
{
left:20861.5px;bottom:25573.7px;color:rgb(35,31,31);
}
#P172_140
{
left:21766.1px;bottom:25544.2px;color:rgb(35,31,31);
}
#P172_141
{
left:22352.5px;bottom:25573.7px;color:rgb(35,31,31);
}
#P172_142
{
left:4669.47px;bottom:24101.7px;color:rgb(35,31,31);
}
#P172_143
{
left:4846.62px;bottom:24121.5px;color:rgb(35,31,31);
}
#P172_144
{
left:6269.47px;bottom:24101.7px;color:rgb(35,31,31);
}
#P172_145
{
left:7015.71px;bottom:24101.7px;color:rgb(35,31,31);
}
#P172_146
{
left:7378.97px;bottom:24101.7px;color:rgb(35,31,31);
}
#P172_147
{
left:7537.37px;bottom:24072.2px;color:rgb(35,31,31);
}
#P172_148
{
left:8123.8px;bottom:24101.7px;color:rgb(35,31,31);
}
#P172_149
{
left:19438.6px;bottom:24121.5px;color:rgb(35,31,31);
}
#P172_150
{
left:20861.5px;bottom:24101.7px;color:rgb(35,31,31);
}
#P172_151
{
left:21607.7px;bottom:24101.7px;color:rgb(35,31,31);
}
#P172_152
{
left:21971px;bottom:24101.7px;color:rgb(35,31,31);
}
#P172_153
{
left:22129.4px;bottom:24072.2px;color:rgb(35,31,31);
}
#P172_154
{
left:22715.8px;bottom:24101.7px;color:rgb(35,31,31);
}
#P172_155
{
left:23620.4px;bottom:24101.7px;color:rgb(35,31,31);
}
#P172_156
{
left:4669.47px;bottom:22053.7px;color:rgb(35,31,31);
}
#P172_157
{
left:4846.62px;bottom:22073.5px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P172_158
{
left:6269.4px;bottom:22073.7px;color:rgb(2,77,161);
}
#P172_159
{
left:11146.6px;bottom:22054px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P172_160
{
left:6269.4px;bottom:21158px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P172_161
{
left:0px;letter-spacing:0px;margin-left:-13.6px;
}
#P172_162
{
left:6269.4px;bottom:20262.1px;color:rgb(35,31,31);
}
#P172_163
{
left:20147.8px;bottom:20262.1px;color:rgb(35,31,31);
}
#P172_164
{
left:20511.1px;bottom:20262.1px;color:rgb(35,31,31);
}
#P172_165
{
left:6269.4px;bottom:19366.1px;color:rgb(35,31,31);
}
#P172_166
{
left:12527.1px;bottom:19336.5px;color:rgb(35,31,31);
}
#P172_167
{
left:13113.6px;bottom:19366.1px;color:rgb(35,31,31);
}
#P172_168
{
left:13272px;bottom:19366.1px;color:rgb(35,31,31);
}
#P172_169
{
left:13635.2px;bottom:19366.1px;letter-spacing:-10.5px;color:rgb(35,31,31);
}
#P172_170
{
left:0px;letter-spacing:0px;margin-left:10.5px;
}
#P172_171
{
left:6269.4px;bottom:18470.1px;color:rgb(35,31,31);
}
#P172_172
{
left:4669.4px;bottom:15654.1px;color:rgb(35,31,31);
}
#P172_173
{
left:4846.55px;bottom:15673.8px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P172_174
{
left:6269.4px;bottom:15673.7px;letter-spacing:-1.6px;color:rgb(2,77,161);
}
#P172_175
{
left:10077.4px;bottom:15654px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P172_176
{
left:15886.9px;bottom:15215.4px;color:rgb(35,31,31);
}
#P172_177
{
left:16238.7px;bottom:15654px;color:rgb(35,31,31);
}
#P172_178
{
left:16397.1px;bottom:15654px;color:rgb(35,31,31);
}
#P172_179
{
left:16760.3px;bottom:15654px;color:rgb(35,31,31);
}
#P172_180
{
left:16865.9px;bottom:15215.4px;color:rgb(35,31,31);
}
#P172_181
{
left:17217.7px;bottom:15654px;color:rgb(35,31,31);
}
#P172_182
{
left:6269.4px;bottom:14758px;letter-spacing:-5.6px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P172_183
{
left:0px;letter-spacing:-0.3px;margin-left:5.5px;
}
#P172_184
{
left:6269.4px;bottom:13862.1px;color:rgb(35,31,31);
}
#P172_185
{
left:15747.9px;bottom:13862.1px;color:rgb(35,31,31);
}
#P172_186
{
left:16111.1px;bottom:13862.1px;color:rgb(35,31,31);
}
#P172_187
{
left:6269.4px;bottom:12966.1px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P172_188
{
left:0px;letter-spacing:0px;margin-left:-13.1px;
}
#P172_189
{
left:4669.53px;bottom:10150.1px;color:rgb(35,31,31);
}
#P172_190
{
left:9006.55px;bottom:10169.8px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P172_191
{
left:10429.4px;bottom:10169.7px;letter-spacing:-19.3px;color:rgb(2,77,161);
}
#P172_192
{
left:0px;letter-spacing:-6.5px;margin-left:19.3px;
}
#P172_193
{
left:0px;letter-spacing:-6.3px;margin-left:-32.2px;
}
#P172_194
{
left:0px;letter-spacing:0px;margin-left:6.3px;
}
#P172_195
{
left:15385.1px;bottom:10150px;letter-spacing:-63.2px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P172_196
{
left:0px;letter-spacing:0px;margin-left:63.1px;
}
#P172_197
{
left:0px;letter-spacing:-63.2px;margin-left:-42.2px;
}
#P172_198
{
left:0px;letter-spacing:-0.1px;margin-left:63.1px;
}
#P172_199
{
left:10429.4px;bottom:9254px;letter-spacing:0.2px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P172_200
{
left:0px;letter-spacing:-0.1px;margin-left:-42.3px;
}
#P172_201
{
left:0px;letter-spacing:-13.1px;margin-left:-42.1px;
}
#P172_202
{
left:0px;letter-spacing:-0.5px;margin-left:13px;
}
#P172_203
{
left:10429.4px;bottom:8358.12px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P172_204
{
left:16901px;bottom:8358.12px;color:rgb(35,31,31);
}
#P172_205
{
left:17493.9px;bottom:8358.12px;letter-spacing:-0.7px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P172_206
{
left:0px;letter-spacing:-0.1px;margin-left:-24.7px;
}
#P172_207
{
left:0px;letter-spacing:0.2px;margin-left:158.6px;
}
#P172_208
{
left:30677.4px;bottom:8358.12px;letter-spacing:-6.1px;color:rgb(35,31,31);
}
#P172_209
{
left:32079.8px;bottom:8358.12px;color:rgb(35,31,31);
}
#P172_210
{
left:10429.3px;bottom:7462.12px;letter-spacing:-13.1px;color:rgb(35,31,31);
}
#P172_211
{
left:0px;letter-spacing:-0.2px;margin-left:13.1px;
}
#P172_212
{
left:0px;bottom:0px;letter-spacing:0px;
}
#P172_213
{
left:5437.4px;bottom:46893.1px;word-spacing:-49.6px;color:white;
}
#P172_214
{
left:0px;letter-spacing:0px;margin-left:-73.8px;
}
#P172_215
{
left:0px;bottom:0px;letter-spacing:0px;color:white;
}
#P172_216
{
left:27209.8px;bottom:45083.3px;letter-spacing:-22.4px;word-spacing:0.3px;color:rgb(33,31,31);
}
#P172_217
{
left:0px;letter-spacing:-0.1px;margin-left:22.4px;
}
#P172_218
{
left:2883.8px;bottom:46399px;
}
#P172_219
{
left:2883.8px;bottom:46399px;
}
#PageContainer172
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg172.jpg");background-repeat:no-repeat;background-size: 1000px 1291px; background-position: 0px -0.470000000000027px;
}
#ImageContainer172 {bottom:73.47px;left:0.00px;width:1000.30px;height:1290.69px;position:absolute;} #TextContainer172 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

.test_practice{position: absolute;top: 91px;left: 729px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}