.tr765{ color:transparent;}
#P765_1
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P765_2
{
left:29171px;bottom:1410.03px;letter-spacing:6px;word-spacing:-0.6px;color:rgb(35,31,31);
}
#P765_3
{
left:0px;letter-spacing:5.6px;margin-left:2.1px;
}
#P765_4
{
left:35644.1px;bottom:1410.03px;color:rgb(35,31,31);
}
#P765_5
{
left:37346.4px;bottom:28730.5px;color:white;
}
#P765_6
{
left:4917.72px;bottom:46798.7px;color:rgb(35,31,31);
}
#P765_7
{
left:6269.4px;bottom:46780.8px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P765_8
{
left:7511.07px;bottom:46780.8px;color:rgb(35,31,31);
}
#P765_9
{
left:7870.11px;bottom:46780.8px;color:rgb(35,31,31);
}
#P765_10
{
left:8094.11px;bottom:46844.8px;color:rgb(35,31,31);
}
#P765_11
{
left:8538.91px;bottom:46780.8px;color:rgb(35,31,31);
}
#P765_12
{
left:8682.91px;bottom:46780.8px;color:rgb(35,31,31);
}
#P765_13
{
left:9040.67px;bottom:46780.8px;color:rgb(35,31,31);
}
#P765_14
{
left:10442.2px;bottom:46780.8px;color:rgb(35,31,31);
}
#P765_15
{
left:10772.4px;bottom:46780.8px;color:rgb(35,31,31);
}
#P765_16
{
left:10996.4px;bottom:46844.8px;color:rgb(35,31,31);
}
#P765_17
{
left:11441.2px;bottom:46780.8px;color:rgb(35,31,31);
}
#P765_18
{
left:11585.2px;bottom:46780.8px;color:rgb(35,31,31);
}
#P765_19
{
left:11884.8px;bottom:46780.8px;color:rgb(35,31,31);
}
#P765_20
{
left:20213.7px;bottom:46798.7px;color:rgb(35,31,31);
}
#P765_21
{
left:21565.4px;bottom:46780.8px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P765_22
{
left:22807.1px;bottom:46780.8px;color:rgb(35,31,31);
}
#P765_23
{
left:23166.1px;bottom:46780.8px;color:rgb(35,31,31);
}
#P765_24
{
left:23390.1px;bottom:46844.8px;color:rgb(35,31,31);
}
#P765_25
{
left:23834.9px;bottom:46780.8px;color:rgb(35,31,31);
}
#P765_26
{
left:23978.9px;bottom:46780.8px;color:rgb(35,31,31);
}
#P765_27
{
left:24336.7px;bottom:46780.8px;color:rgb(35,31,31);
}
#P765_28
{
left:25738.2px;bottom:46780.8px;color:rgb(35,31,31);
}
#P765_29
{
left:26068.4px;bottom:46780.8px;color:rgb(35,31,31);
}
#P765_30
{
left:26292.4px;bottom:46844.8px;color:rgb(35,31,31);
}
#P765_31
{
left:26737.2px;bottom:46780.8px;color:rgb(35,31,31);
}
#P765_32
{
left:26881.2px;bottom:46780.8px;color:rgb(35,31,31);
}
#P765_33
{
left:4917.72px;bottom:45518.7px;color:rgb(35,31,31);
}
#P765_34
{
left:6269.4px;bottom:45500.8px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P765_35
{
left:20213.7px;bottom:45518.7px;color:rgb(35,31,31);
}
#P765_36
{
left:21565.4px;bottom:45500.8px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P765_37
{
left:5273.56px;bottom:39879.9px;word-spacing:284.2px;color:rgb(35,31,31);
}
#P765_38
{
left:6269.4px;bottom:39861.9px;letter-spacing:-1.5px;color:rgb(35,31,31);
}
#P765_39
{
left:0px;letter-spacing:-0.3px;margin-left:1.5px;
}
#P765_40
{
left:20569.6px;bottom:39879.9px;color:rgb(35,31,31);
}
#P765_41
{
left:21565.4px;bottom:39861.9px;letter-spacing:1.7px;color:rgb(35,31,31);
}
#P765_42
{
left:5273.56px;bottom:38599.9px;color:rgb(35,31,31);
}
#P765_43
{
left:6333.4px;bottom:38581.9px;letter-spacing:-1.5px;color:rgb(35,31,31);
}
#P765_44
{
left:0px;letter-spacing:-0.3px;margin-left:1.5px;
}
#P765_45
{
left:5273.56px;bottom:37319.9px;color:rgb(35,31,31);
}
#P765_46
{
left:6269.4px;bottom:37301.9px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P765_47
{
left:11841.9px;bottom:37301.9px;word-spacing:496px;color:rgb(35,31,31);
}
#P765_48
{
left:0px;letter-spacing:0px;margin-left:-496px;
}
#P765_49
{
left:20569.6px;bottom:37319.9px;color:rgb(35,31,31);
}
#P765_50
{
left:21565.4px;bottom:37305.2px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P765_51
{
left:27713.9px;bottom:37305.2px;word-spacing:496px;color:rgb(35,31,31);
}
#P765_52
{
left:0px;letter-spacing:0px;margin-left:-496px;
}
#P765_53
{
left:21565.4px;bottom:35705.2px;color:rgb(35,31,31);
}
#P765_54
{
left:21565.4px;bottom:34105.2px;color:rgb(35,31,31);
}
#P765_55
{
left:6269.4px;bottom:35189.9px;color:rgb(35,31,31);
}
#P765_56
{
left:7615.96px;bottom:35207.9px;color:rgb(35,31,31);
}
#P765_57
{
left:8575.96px;bottom:35189.9px;letter-spacing:496px;color:rgb(35,31,31);
}
#P765_58
{
left:6269.4px;bottom:33013.9px;color:rgb(35,31,31);
}
#P765_59
{
left:7417.56px;bottom:33031.9px;color:rgb(35,31,31);
}
#P765_60
{
left:4917.72px;bottom:31047.9px;word-spacing:284.2px;color:rgb(35,31,31);
}
#P765_61
{
left:6269.4px;bottom:31029.9px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P765_62
{
left:15605.7px;bottom:31047.9px;color:rgb(35,31,31);
}
#P765_63
{
left:21130.6px;bottom:31029.9px;color:rgb(35,31,31);
}
#P765_64
{
left:26101.7px;bottom:31047.9px;color:rgb(35,31,31);
}
#P765_65
{
left:6269.4px;bottom:30197.9px;letter-spacing:0.1px;word-spacing:0.3px;color:rgb(35,31,31);
}
#P765_66
{
left:4917.72px;bottom:26695.9px;color:rgb(35,31,31);
}
#P765_67
{
left:6269.4px;bottom:26677.9px;color:rgb(35,31,31);
}
#P765_68
{
left:0px;letter-spacing:0px;margin-left:-3.8px;
}
#P765_69
{
left:0px;letter-spacing:0px;margin-left:3175.8px;
}
#P765_70
{
left:15605.7px;bottom:26695.9px;color:rgb(35,31,31);
}
#P765_71
{
left:16957.4px;bottom:26712px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P765_72
{
left:16957.4px;bottom:22424px;color:rgb(35,31,31);
}
#P765_73
{
left:16957.4px;bottom:18520px;color:rgb(35,31,31);
}
#P765_74
{
left:24545.4px;bottom:26677.9px;color:rgb(35,31,31);
}
#P765_75
{
left:26101.7px;bottom:26695.9px;color:rgb(35,31,31);
}
#P765_76
{
left:27453.4px;bottom:26645.5px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P765_77
{
left:27453.4px;bottom:24597.5px;color:rgb(35,31,31);
}
#P765_78
{
left:27453.4px;bottom:22933.5px;color:rgb(35,31,31);
}
#P765_79
{
left:6269.4px;bottom:24757.9px;color:rgb(35,31,31);
}
#P765_80
{
left:7615.96px;bottom:24775.9px;color:rgb(35,31,31);
}
#P765_81
{
left:9935.07px;bottom:24757.9px;letter-spacing:496px;color:rgb(35,31,31);
}
#P765_82
{
left:6269.4px;bottom:23221.9px;color:rgb(35,31,31);
}
#P765_83
{
left:7417.56px;bottom:23239.9px;color:rgb(35,31,31);
}
#P765_84
{
left:4917.72px;bottom:14727.9px;color:rgb(35,31,31);
}
#P765_85
{
left:10243.3px;bottom:14709.9px;color:rgb(35,31,31);
}
#P765_86
{
left:15605.7px;bottom:14727.9px;color:rgb(35,31,31);
}
#P765_87
{
left:20587.9px;bottom:14709.9px;color:rgb(35,31,31);
}
#P765_88
{
left:26101.7px;bottom:14727.9px;word-spacing:284.2px;color:rgb(35,31,31);
}
#P765_89
{
left:27453.4px;bottom:14709.9px;color:rgb(35,31,31);
}
#P765_90
{
left:0px;letter-spacing:0px;margin-left:-11.4px;
}
#P765_91
{
left:0px;letter-spacing:0px;margin-left:-25.5px;
}
#P765_92
{
left:27453.4px;bottom:13877.9px;color:rgb(35,31,31);
}
#P765_93
{
left:31499.4px;bottom:13877.9px;letter-spacing:0.4px;color:rgb(35,31,31);
}
#P765_94
{
left:27453.4px;bottom:13045.9px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P765_95
{
left:27453.4px;bottom:12213.9px;letter-spacing:0.2px;color:rgb(35,31,31);
}
#P765_96
{
left:27453.4px;bottom:11381.9px;letter-spacing:0.2px;color:rgb(35,31,31);
}
#P765_97
{
left:4917.72px;bottom:10183.9px;color:rgb(35,31,31);
}
#P765_98
{
left:6333.4px;bottom:10165.9px;color:rgb(35,31,31);
}
#P765_99
{
left:6333.4px;bottom:9223.85px;word-spacing:526.1px;color:rgb(35,31,31);
}
#P765_100
{
left:10424.2px;bottom:9205.93px;letter-spacing:6114px;color:rgb(35,31,31);
}
#P765_101
{
left:19325.4px;bottom:9205.93px;letter-spacing:-6.3px;color:rgb(35,31,31);
}
#P765_102
{
left:20205.5px;bottom:9205.93px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P765_103
{
left:0px;letter-spacing:-4.2px;margin-left:-19.1px;
}
#P765_104
{
left:0px;letter-spacing:-0.1px;margin-left:4.2px;
}
#P765_105
{
left:20205.5px;bottom:8373.93px;letter-spacing:-2px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P765_106
{
left:0px;letter-spacing:0.1px;margin-left:1.9px;
}
#P765_107
{
left:20205.5px;bottom:7541.93px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P765_108
{
left:6333.4px;bottom:5877.93px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P765_109
{
left:0px;letter-spacing:5px;margin-left:-52.4px;
}
#P765_110
{
left:0px;letter-spacing:0.3px;margin-left:-5.1px;
}
#P765_111
{
left:0px;letter-spacing:0px;margin-left:1360px;
}
#P765_112
{
left:0px;letter-spacing:-2.2px;margin-left:-0.1px;
}
#P765_113
{
left:0px;letter-spacing:-1.3px;margin-left:-13.7px;
}
#P765_114
{
left:7342.75px;bottom:5045.93px;word-spacing:0.3px;color:rgb(35,31,31);
}
#P765_115
{
left:0px;letter-spacing:0.3px;margin-left:144.3px;
}
#P765_116
{
left:0px;letter-spacing:0px;margin-left:3410px;
}
#P765_117
{
left:0px;letter-spacing:0.3px;margin-left:144.3px;
}
#P765_118
{
left:4669.4px;bottom:4213.93px;color:rgb(35,31,31);
}
#P765_119
{
left:0px;letter-spacing:0px;margin-left:816px;
}
#P765_120
{
left:0px;letter-spacing:0px;margin-left:560px;
}
#P765_121
{
left:0px;letter-spacing:0px;margin-left:1156.2px;
}
#P765_122
{
left:0px;letter-spacing:0px;margin-left:3992.4px;
}
#P765_123
{
left:4917.72px;bottom:2951.85px;color:rgb(35,31,31);
}
#P765_124
{
left:6269.4px;bottom:2933.93px;color:rgb(35,31,31);
}
#P765_125
{
left:7999.96px;bottom:3246.41px;color:rgb(35,31,31);
}
#P765_126
{
left:8246.55px;bottom:2933.93px;color:rgb(35,31,31);
}
#P765_127
{
left:20213.7px;bottom:2951.85px;color:rgb(35,31,31);
}
#P765_128
{
left:21565.4px;bottom:2933.93px;color:rgb(35,31,31);
}
#P765_129
{
left:4673.56px;bottom:41941.7px;color:white;
}
#P765_130
{
left:7236.57px;bottom:42240.1px;color:white;
}
#P765_131
{
left:7610.2px;bottom:41941.7px;color:white;
}
#P765_132
{
left:14125.4px;bottom:42402.2px;letter-spacing:-1.6px;color:rgb(2,77,161);
}
#P765_133
{
left:0px;letter-spacing:0px;margin-left:1.6px;
}
#P765_134
{
left:14125.4px;bottom:41420.8px;color:rgb(2,77,161);
}
#PageContainer765
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg765.jpg");background-repeat:no-repeat;background-size: 1065px 1364px; background-position: right bottom;
}
#ImageContainer765 {bottom:0.00px;right:0.00px;width:1064.57px;height:1364.16px;position:absolute;} #TextContainer765 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
