.tr275{ color:transparent;}
#P275_1
{
left:4592.6px;bottom:1410.03px;letter-spacing:22505.5px;color:rgb(35,31,31);
}
#P275_2
{
left:27454px;bottom:1410.03px;letter-spacing:1px;color:rgb(35,31,31);
}
#P275_3
{
left:0px;letter-spacing:0px;margin-left:-50px;
}
#P275_4
{
left:30685.9px;bottom:1410.03px;letter-spacing:462.1px;color:rgb(35,31,31);
}
#P275_5
{
left:0px;letter-spacing:4.2px;margin-left:-459.2px;
}
#P275_6
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P275_7
{
left:11555.5px;bottom:43292.8px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P275_8
{
left:0px;letter-spacing:0.4px;margin-left:14.1px;
}
#P275_9
{
left:0px;letter-spacing:0px;margin-left:-42.5px;
}
#P275_10
{
left:11555.5px;bottom:42012.8px;color:rgb(35,31,31);
}
#P275_11
{
left:11683.5px;bottom:42012.8px;letter-spacing:-14px;word-spacing:516.1px;color:rgb(35,31,31);
}
#P275_12
{
left:12899.5px;bottom:42012.8px;letter-spacing:-3.7px;color:rgb(35,31,31);
}
#P275_13
{
left:0px;letter-spacing:0px;margin-left:3.7px;
}
#P275_14
{
left:0px;letter-spacing:0px;margin-left:-66.9px;
}
#P275_15
{
left:11555.5px;bottom:36700.7px;color:rgb(35,31,31);
}
#P275_16
{
left:11683.5px;bottom:36700.7px;color:rgb(35,31,31);
}
#P275_17
{
left:24527px;bottom:38271.7px;color:rgb(33,31,31);
}
#P275_18
{
left:11555.5px;bottom:35612.8px;color:rgb(35,31,31);
}
#P275_19
{
left:11683.5px;bottom:35612.8px;letter-spacing:-13.9px;word-spacing:486.9px;color:rgb(35,31,31);
}
#P275_20
{
left:12899.5px;bottom:35612.8px;letter-spacing:-8.4px;color:rgb(35,31,31);
}
#P275_21
{
left:0px;letter-spacing:-0.1px;margin-left:8.4px;
}
#P275_22
{
left:0px;letter-spacing:-0.7px;margin-left:-20.8px;
}
#P275_23
{
left:0px;letter-spacing:0px;margin-left:-27.3px;
}
#P275_24
{
left:12899.5px;bottom:34716.8px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P275_25
{
left:12899.5px;bottom:33820.8px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P275_26
{
left:11555.5px;bottom:26588.8px;color:rgb(35,31,31);
}
#P275_27
{
left:11683.5px;bottom:26588.8px;color:rgb(35,31,31);
}
#P275_28
{
left:11555.5px;bottom:25500.8px;color:rgb(35,31,31);
}
#P275_29
{
left:11683.5px;bottom:25500.8px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P275_30
{
left:12899.5px;bottom:25520.5px;letter-spacing:-183px;color:rgb(2,77,161);
}
#P275_31
{
left:0px;letter-spacing:0px;margin-left:183px;
}
#P275_32
{
left:16472.9px;bottom:25500.8px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P275_33
{
left:0px;letter-spacing:-1.6px;margin-left:-202px;
}
#P275_34
{
left:0px;letter-spacing:0px;margin-left:1.6px;
}
#P275_35
{
left:12899.5px;bottom:24604.8px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P275_36
{
left:0px;letter-spacing:0px;margin-left:-41.7px;
}
#P275_37
{
left:0px;letter-spacing:-0.6px;
}
#P275_38
{
left:0px;letter-spacing:-1.7px;margin-left:0.6px;
}
#P275_39
{
left:12899.5px;bottom:23708.8px;letter-spacing:-10.5px;color:rgb(35,31,31);
}
#P275_40
{
left:0px;letter-spacing:-0.2px;margin-left:10.5px;
}
#P275_41
{
left:12433.7px;bottom:44853px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P275_42
{
left:15858.8px;bottom:45044.8px;color:rgb(255,223,126);
}
#P275_43
{
left:16483.5px;bottom:44853px;word-spacing:207.4px;color:white;
}
#P275_44
{
left:19156.8px;bottom:45044.8px;color:white;
}
#P275_45
{
left:19397px;bottom:44853px;letter-spacing:-1.9px;color:white;
}
#P275_46
{
left:0px;letter-spacing:-0.8px;margin-left:1.9px;
}
#P275_47
{
left:10693.3px;bottom:44729.5px;
}
#P275_48
{
left:10693.3px;bottom:44729.5px;color:white;
}
#P275_49
{
left:14845.4px;bottom:4373.87px;letter-spacing:228.8px;color:rgb(0,124,196);
}
#P275_50
{
left:15261.4px;bottom:4405.87px;letter-spacing:-9.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P275_51
{
left:0px;letter-spacing:-0.1px;margin-left:9.3px;
}
#P275_52
{
left:15261.4px;bottom:3509.89px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P275_53
{
left:0px;letter-spacing:0px;margin-left:0.7px;
}
#P275_54
{
left:10541.4px;bottom:19755.9px;color:rgb(35,31,31);
}
#P275_55
{
left:10935.8px;bottom:19782.8px;word-spacing:394.4px;color:rgb(35,31,31);
}
#P275_56
{
left:12077.4px;bottom:19775.7px;word-spacing:-26px;color:rgb(2,77,161);
}
#P275_57
{
left:0px;letter-spacing:0px;margin-left:-26px;
}
#P275_58
{
left:0px;letter-spacing:0px;margin-left:26px;
}
#P275_59
{
left:18885.3px;bottom:19755.9px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P275_60
{
left:0px;letter-spacing:-7px;margin-left:-214.6px;
}
#P275_61
{
left:0px;letter-spacing:-1.8px;margin-left:7px;
}
#P275_62
{
left:0px;letter-spacing:0px;margin-left:-12.1px;
}
#P275_63
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P275_64
{
left:10541.4px;bottom:18411.9px;color:rgb(35,31,31);
}
#P275_65
{
left:10935.8px;bottom:18438.8px;word-spacing:394.4px;color:rgb(35,31,31);
}
#P275_66
{
left:12077.4px;bottom:18411.9px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P275_67
{
left:0px;letter-spacing:0px;margin-left:0.7px;
}
#P275_68
{
left:27716.8px;bottom:8425.52px;color:rgb(33,31,31);
}
#P275_69
{
left:28089.9px;bottom:8521.84px;color:rgb(35,31,31);
}
#P275_70
{
left:27716.8px;bottom:9538.8px;color:rgb(33,31,31);
}
#P275_71
{
left:28089.9px;bottom:9635.12px;color:rgb(35,31,31);
}
#P275_72
{
left:28339px;bottom:10733.2px;color:rgb(35,31,31);
}
#P275_73
{
left:28089.9px;bottom:11846.4px;color:rgb(35,31,31);
}
#P275_74
{
left:28089.9px;bottom:14072.6px;color:rgb(35,31,31);
}
#P275_75
{
left:28089.9px;bottom:12959.3px;color:rgb(35,31,31);
}
#P275_76
{
left:28089.9px;bottom:15185.4px;color:rgb(35,31,31);
}
#P275_77
{
left:27840.9px;bottom:16298.7px;color:rgb(35,31,31);
}
#P275_78
{
left:27840.9px;bottom:17411.9px;color:rgb(35,31,31);
}
#P275_79
{
left:27997.4px;bottom:17902.6px;color:rgb(35,31,31);
}
#P275_80
{
left:28218px;bottom:18026.4px;color:rgb(35,31,31);
}
#P275_81
{
left:32996.8px;bottom:8425.52px;color:rgb(33,31,31);
}
#P275_82
{
left:33369.9px;bottom:8521.84px;color:rgb(35,31,31);
}
#P275_83
{
left:32996.8px;bottom:9538.8px;color:rgb(33,31,31);
}
#P275_84
{
left:33369.9px;bottom:9635.12px;color:rgb(35,31,31);
}
#P275_85
{
left:33619px;bottom:10733.2px;color:rgb(35,31,31);
}
#P275_86
{
left:33369.9px;bottom:11846.4px;color:rgb(35,31,31);
}
#P275_87
{
left:33369.9px;bottom:14072.6px;color:rgb(35,31,31);
}
#P275_88
{
left:33369.9px;bottom:12959.3px;color:rgb(35,31,31);
}
#P275_89
{
left:33369.9px;bottom:15185.4px;color:rgb(35,31,31);
}
#P275_90
{
left:33120.9px;bottom:16298.7px;color:rgb(35,31,31);
}
#P275_91
{
left:33120.9px;bottom:17411.9px;color:rgb(35,31,31);
}
#P275_92
{
left:33277.4px;bottom:17902.6px;color:rgb(35,31,31);
}
#P275_93
{
left:33498px;bottom:18026.4px;color:rgb(35,31,31);
}
#P275_94
{
left:12077.4px;bottom:17515.9px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P275_95
{
left:10541.4px;bottom:16171.9px;color:rgb(35,31,31);
}
#P275_96
{
left:10935.8px;bottom:16198.8px;color:rgb(35,31,31);
}
#P275_97
{
left:12077.4px;bottom:16191.7px;letter-spacing:-183px;color:rgb(2,77,161);
}
#P275_98
{
left:0px;letter-spacing:0px;margin-left:183px;
}
#P275_99
{
left:15793.8px;bottom:16171.9px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P275_100
{
left:0px;letter-spacing:-7px;margin-left:-214.6px;
}
#P275_101
{
left:0px;letter-spacing:-1.6px;margin-left:7px;
}
#P275_102
{
left:0px;letter-spacing:-2.8px;margin-left:1.6px;
}
#P275_103
{
left:12077.4px;bottom:15275.9px;letter-spacing:-3.5px;color:rgb(35,31,31);
}
#P275_104
{
left:0px;letter-spacing:0.4px;margin-left:-14px;
}
#P275_105
{
left:0px;letter-spacing:0.3px;margin-left:-0.4px;
}
#P275_106
{
left:12077.4px;bottom:14380px;letter-spacing:-2.1px;color:rgb(35,31,31);
}
#P275_107
{
left:0px;letter-spacing:0px;margin-left:-18.9px;
}
#P275_108
{
left:0px;letter-spacing:0px;margin-left:-13.9px;
}
#P275_109
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P275_110
{
left:10541.4px;bottom:13035.9px;color:rgb(35,31,31);
}
#P275_111
{
left:10935.8px;bottom:13062.8px;color:rgb(35,31,31);
}
#P275_112
{
left:12077.4px;bottom:13055.7px;letter-spacing:-183px;color:rgb(2,77,161);
}
#P275_113
{
left:0px;letter-spacing:0px;margin-left:183px;
}
#P275_114
{
left:14802.5px;bottom:13035.9px;letter-spacing:168.3px;color:rgb(35,31,31);
}
#P275_115
{
left:0px;letter-spacing:-1.6px;margin-left:-168.3px;
}
#P275_116
{
left:0px;letter-spacing:-2.6px;margin-left:1.6px;
}
#P275_117
{
left:0px;letter-spacing:0px;margin-left:2.6px;
}
#P275_118
{
left:12077.4px;bottom:12139.9px;letter-spacing:-0.2px;word-spacing:0.2px;color:rgb(35,31,31);
}
#P275_119
{
left:0px;letter-spacing:-0.2px;margin-left:-126.4px;
}
#P275_120
{
left:0px;letter-spacing:-0.2px;margin-left:-16.6px;
}
#P275_121
{
left:12077.4px;bottom:11244px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P275_122
{
left:0px;letter-spacing:-2.3px;margin-left:0.7px;
}
#P275_123
{
left:0px;letter-spacing:0px;margin-left:2.3px;
}
#P275_124
{
left:0px;letter-spacing:0px;margin-left:-126.7px;
}
#P275_125
{
left:0px;letter-spacing:0px;
}
#P275_126
{
left:12077.4px;bottom:10348px;letter-spacing:-13.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P275_127
{
left:0px;letter-spacing:0.9px;margin-left:13px;
}
#P275_128
{
left:0px;letter-spacing:-0.1px;margin-left:-1px;
}
#P275_129
{
left:12077.4px;bottom:9452.01px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P275_130
{
left:0px;letter-spacing:-0.9px;margin-left:1.2px;
}
#P275_131
{
left:12077.4px;bottom:8556.08px;color:rgb(35,31,31);
}
#P275_132
{
left:0px;letter-spacing:0px;margin-left:-6.9px;
}
#P275_133
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P275_134
{
left:0px;letter-spacing:0px;margin-left:-66.9px;
}
#P275_135
{
left:4973.34px;bottom:40938.3px;color:rgb(35,31,31);
}
#P275_136
{
left:4973.34px;bottom:40170.3px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P275_137
{
left:4973.34px;bottom:39303.5px;color:rgb(35,31,31);
}
#P275_138
{
left:4973.34px;bottom:38567.5px;color:rgb(35,31,31);
}
#P275_139
{
left:4973.34px;bottom:37831.5px;color:rgb(35,31,31);
}
#P275_140
{
left:4973.34px;bottom:37095.5px;color:rgb(35,31,31);
}
#P275_141
{
left:4722.71px;bottom:42722.1px;letter-spacing:-20.4px;color:white;
}
#P275_142
{
left:4722.71px;bottom:41762px;letter-spacing:-27.2px;color:white;
}
#P275_143
{
left:6701.79px;bottom:42018.8px;color:white;
}
#P275_144
{
left:6977.05px;bottom:41762px;letter-spacing:-27.2px;color:white;
}
#PageContainer275
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg275.jpg");background-repeat:no-repeat;background-size: 1021px 1274px; background-position: 0px 0.210000000000036px;
}
#ImageContainer275 {bottom:89.79px;left:0.00px;width:1020.57px;height:1274.37px;position:absolute;} #TextContainer275 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.math_paper{position: absolute;top: 113px;left: 217px;}

.practice{position: absolute;top: 1215px;left: 256px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}