.tr728{ color:transparent;}
#P728_1
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P728_2
{
left:3540.44px;bottom:1417.71px;color:rgb(35,31,31);
}
#P728_3
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P728_4
{
left:8197.72px;bottom:1417.71px;letter-spacing:462.1px;color:rgb(35,31,31);
}
#P728_5
{
left:0px;letter-spacing:3.5px;margin-left:-461.2px;
}
#P728_6
{
left:4669.4px;bottom:45479.5px;color:rgb(35,31,31);
}
#P728_7
{
left:5237.98px;bottom:45499.2px;color:rgb(35,31,31);
}
#P728_8
{
left:6269.4px;bottom:45479.5px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P728_9
{
left:0px;letter-spacing:-1px;margin-left:-3.8px;
}
#P728_10
{
left:0px;letter-spacing:0px;margin-left:1px;
}
#P728_11
{
left:24417.2px;bottom:45479.5px;letter-spacing:1px;color:rgb(0,124,196);
}
#P728_12
{
left:4669.4px;bottom:43687.5px;color:rgb(35,31,31);
}
#P728_13
{
left:6392.15px;bottom:43707.2px;letter-spacing:-90.7px;color:rgb(35,31,31);
}
#P728_14
{
left:6849.11px;bottom:43687.5px;color:rgb(35,31,31);
}
#P728_15
{
left:0px;letter-spacing:0px;margin-left:285.9px;
}
#P728_16
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P728_17
{
left:8750.68px;bottom:44127.1px;color:rgb(35,31,31);
}
#P728_18
{
left:9086.49px;bottom:43705.1px;color:rgb(35,31,31);
}
#P728_19
{
left:8729.56px;bottom:43671.4px;color:rgb(35,31,31);
}
#P728_20
{
left:9107.61px;bottom:43688.7px;color:rgb(35,31,31);
}
#P728_21
{
left:8750.68px;bottom:43219.6px;color:rgb(35,31,31);
}
#P728_22
{
left:9086.49px;bottom:43705.1px;color:rgb(35,31,31);
}
#P728_23
{
left:9107.61px;bottom:43687.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P728_24
{
left:0px;letter-spacing:0px;margin-left:158.4px;
}
#P728_25
{
left:20737.1px;bottom:43707.2px;color:rgb(35,31,31);
}
#P728_26
{
left:21441.1px;bottom:43687.5px;letter-spacing:285.9px;color:rgb(35,31,31);
}
#P728_27
{
left:0px;letter-spacing:0px;margin-left:-444.3px;
}
#P728_28
{
left:21906.5px;bottom:44127.1px;color:rgb(35,31,31);
}
#P728_29
{
left:22242.3px;bottom:43705.1px;color:rgb(35,31,31);
}
#P728_30
{
left:21885.4px;bottom:43671.4px;color:rgb(35,31,31);
}
#P728_31
{
left:22263.4px;bottom:43688.7px;color:rgb(35,31,31);
}
#P728_32
{
left:21906.5px;bottom:43219.6px;color:rgb(35,31,31);
}
#P728_33
{
left:22242.3px;bottom:43705.1px;color:rgb(35,31,31);
}
#P728_34
{
left:22263.4px;bottom:43687.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P728_35
{
left:0px;letter-spacing:0px;margin-left:158.4px;
}
#P728_36
{
left:4669.47px;bottom:41511.5px;color:rgb(35,31,31);
}
#P728_37
{
left:6145.18px;bottom:41531.2px;color:rgb(35,31,31);
}
#P728_38
{
left:6849.18px;bottom:41511.5px;color:rgb(35,31,31);
}
#P728_39
{
left:0px;letter-spacing:0px;margin-left:285.9px;
}
#P728_40
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P728_41
{
left:9123.8px;bottom:41951.1px;color:rgb(35,31,31);
}
#P728_42
{
left:9459.61px;bottom:41529.1px;color:rgb(35,31,31);
}
#P728_43
{
left:9102.68px;bottom:41495.5px;color:rgb(35,31,31);
}
#P728_44
{
left:9480.73px;bottom:41512.7px;color:rgb(35,31,31);
}
#P728_45
{
left:9123.8px;bottom:41043.6px;color:rgb(35,31,31);
}
#P728_46
{
left:9459.61px;bottom:41529.1px;color:rgb(35,31,31);
}
#P728_47
{
left:9480.73px;bottom:41511.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P728_48
{
left:0px;letter-spacing:0px;margin-left:158.4px;
}
#P728_49
{
left:21049.7px;bottom:41531.2px;color:rgb(35,31,31);
}
#P728_50
{
left:21441.1px;bottom:41511.5px;color:rgb(35,31,31);
}
#P728_51
{
left:0px;letter-spacing:0px;margin-left:285.9px;
}
#P728_52
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P728_53
{
left:23715.8px;bottom:41951.1px;color:rgb(35,31,31);
}
#P728_54
{
left:24051.6px;bottom:41529.1px;color:rgb(35,31,31);
}
#P728_55
{
left:23694.7px;bottom:41495.5px;color:rgb(35,31,31);
}
#P728_56
{
left:24072.7px;bottom:41512.7px;color:rgb(35,31,31);
}
#P728_57
{
left:23715.8px;bottom:41043.6px;color:rgb(35,31,31);
}
#P728_58
{
left:24051.6px;bottom:41529.1px;color:rgb(35,31,31);
}
#P728_59
{
left:24072.7px;bottom:41511.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P728_60
{
left:0px;letter-spacing:0px;margin-left:158.4px;
}
#P728_61
{
left:4669.34px;bottom:37415.5px;color:rgb(35,31,31);
}
#P728_62
{
left:5237.91px;bottom:37435.2px;color:rgb(35,31,31);
}
#P728_63
{
left:6269.34px;bottom:37415.5px;color:rgb(35,31,31);
}
#P728_64
{
left:0px;letter-spacing:0px;margin-left:-4.2px;
}
#P728_65
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P728_66
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P728_67
{
left:12747.6px;bottom:37855.1px;color:rgb(35,31,31);
}
#P728_68
{
left:13083.4px;bottom:37433.1px;color:rgb(35,31,31);
}
#P728_69
{
left:12726.5px;bottom:37399.5px;color:rgb(35,31,31);
}
#P728_70
{
left:13104.5px;bottom:37416.7px;color:rgb(35,31,31);
}
#P728_71
{
left:12747.6px;bottom:36947.6px;color:rgb(35,31,31);
}
#P728_72
{
left:13083.4px;bottom:37433.1px;color:rgb(35,31,31);
}
#P728_73
{
left:13104.5px;bottom:37415.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P728_74
{
left:13262.9px;bottom:37385.9px;color:rgb(35,31,31);
}
#P728_75
{
left:13849.3px;bottom:37415.5px;color:rgb(35,31,31);
}
#P728_76
{
left:14007.7px;bottom:36833.7px;color:rgb(35,31,31);
}
#P728_77
{
left:14254.1px;bottom:37149.1px;color:rgb(35,31,31);
}
#P728_78
{
left:14310.4px;bottom:37385.9px;color:rgb(35,31,31);
}
#P728_79
{
left:14742px;bottom:37415.5px;color:rgb(35,31,31);
}
#P728_80
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P728_81
{
left:14921.5px;bottom:37855.1px;color:rgb(35,31,31);
}
#P728_82
{
left:15593.1px;bottom:37433.1px;color:rgb(35,31,31);
}
#P728_83
{
left:14900.4px;bottom:37399.5px;color:rgb(35,31,31);
}
#P728_84
{
left:15614.2px;bottom:37416.7px;color:rgb(35,31,31);
}
#P728_85
{
left:15089.4px;bottom:36947.6px;color:rgb(35,31,31);
}
#P728_86
{
left:15425.2px;bottom:37433.1px;color:rgb(35,31,31);
}
#P728_87
{
left:15614.2px;bottom:37415.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P728_88
{
left:15670.6px;bottom:36833.7px;color:rgb(35,31,31);
}
#P728_89
{
left:15917px;bottom:37415.5px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P728_90
{
left:16894.8px;bottom:37415.5px;color:rgb(0,124,196);
}
#P728_91
{
left:4669.4px;bottom:32103.5px;color:rgb(35,31,31);
}
#P728_92
{
left:5237.91px;bottom:32123.2px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P728_93
{
left:6269.4px;bottom:32103.5px;letter-spacing:0.3px;color:rgb(35,31,31);
}
#P728_94
{
left:0px;letter-spacing:-7px;margin-left:-0.3px;
}
#P728_95
{
left:4669.4px;bottom:30631.5px;letter-spacing:481.6px;color:rgb(35,31,31);
}
#P728_96
{
left: 6409.4px;bottom:22439.5px;letter-spacing:609.6px;color:rgb(35,31,31);
}
#P728_97
{
left:0px;letter-spacing:0px;margin-left:64px;
}
#P728_98
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P728_99
{
left:0px;letter-spacing:0.3px;
}
#P728_100
{
left:0px;letter-spacing:0px;margin-left:-0.3px;
}
#P728_101
{
left:25956.6px;bottom:22439.5px;color:rgb(0,124,196);
}
#P728_102
{
left:0px;letter-spacing:0px;margin-left:-154.9px;
}
#P728_103
{
left:4669.4px;bottom:21095.5px;color:rgb(35,31,31);
}
#P728_104
{
left:6145.11px;bottom:21115.2px;color:rgb(35,31,31);
}
#P728_105
{
left:7293.41px;bottom:21095.5px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P728_106
{
left:20815.3px;bottom:21115.2px;color:rgb(35,31,31);
}
#P728_107
{
left:21885.5px;bottom:21095.5px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P728_108
{
left:4669.4px;bottom:19559.5px;color:rgb(35,31,31);
}
#P728_109
{
left:6223.26px;bottom:19579.2px;color:rgb(35,31,31);
}
#P728_110
{
left:7293.41px;bottom:19559.5px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P728_111
{
left:20737.2px;bottom:19579.2px;color:rgb(35,31,31);
}
#P728_112
{
left:21885.5px;bottom:19559.5px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P728_113
{
left:4669.4px;bottom:16359.5px;color:rgb(35,31,31);
}
#P728_114
{
left:5237.98px;bottom:16379.2px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P728_115
{
left:6269.4px;bottom:16359.5px;color:rgb(35,31,31);
}
#P728_116
{
left:16000.6px;bottom:16359.5px;color:rgb(0,124,196);
}
#P728_117
{
left:0px;letter-spacing:0px;margin-left:-154.9px;
}
#P728_118
{
left:4669.4px;bottom:7706.67px;letter-spacing:481.6px;color:rgb(35,31,31);
}
#P728_119
{
left:17922.3px;bottom:8882.22px;color:rgb(35,31,31);
}
#P728_120
{
left:12427.8px;bottom:15167.7px;color:rgb(35,31,31);
}
#P728_121
{
left:11724.4px;bottom:11573.2px;color:rgb(35,31,31);
}
#P728_122
{
left:11724.4px;bottom:12341.2px;color:rgb(35,31,31);
}
#P728_123
{
left:11724.4px;bottom:13109.2px;color:rgb(35,31,31);
}
#P728_124
{
left:11724.4px;bottom:13877.2px;color:rgb(35,31,31);
}
#P728_125
{
left:11724.4px;bottom:14645.2px;color:rgb(35,31,31);
}
#P728_126
{
left:11724.4px;bottom:10805.2px;color:rgb(35,31,31);
}
#P728_127
{
left:15102.1px;bottom:8882.35px;color:rgb(35,31,31);
}
#P728_128
{
left:11624.6px;bottom:8882.22px;color:rgb(35,31,31);
}
#P728_129
{
left:12798.2px;bottom:8882.22px;color:rgb(35,31,31);
}
#P728_130
{
left:13566.2px;bottom:8882.22px;color:rgb(35,31,31);
}
#P728_131
{
left:14334.2px;bottom:8882.22px;color:rgb(35,31,31);
}
#P728_132
{
left:15870.2px;bottom:8882.22px;letter-spacing:513.6px;color:rgb(35,31,31);
}
#P728_133
{
left:14559.5px;bottom:11236.7px;color:rgb(0,124,196);
}
#P728_134
{
left:16833.6px;bottom:12754.5px;color:rgb(0,124,196);
}
#P728_135
{
left:4669.4px;bottom:5850.67px;color:rgb(35,31,31);
}
#P728_136
{
left:6392.15px;bottom:5870.38px;letter-spacing:-90.7px;color:rgb(35,31,31);
}
#P728_137
{
left:6849.11px;bottom:5850.67px;letter-spacing:285.9px;color:rgb(35,31,31);
}
#P728_138
{
left:0px;letter-spacing:0px;margin-left:-444.3px;
}
#P728_139
{
left:7314.52px;bottom:6290.35px;color:rgb(35,31,31);
}
#P728_140
{
left:7650.33px;bottom:5868.27px;color:rgb(35,31,31);
}
#P728_141
{
left:7293.4px;bottom:5834.66px;color:rgb(35,31,31);
}
#P728_142
{
left:7671.45px;bottom:5851.94px;color:rgb(35,31,31);
}
#P728_143
{
left:7314.52px;bottom:5382.83px;color:rgb(35,31,31);
}
#P728_144
{
left:7650.33px;bottom:5868.27px;color:rgb(35,31,31);
}
#P728_145
{
left:7671.45px;bottom:5850.67px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P728_146
{
left:20737.1px;bottom:5870.38px;color:rgb(35,31,31);
}
#P728_147
{
left:21441.1px;bottom:5850.67px;letter-spacing:285.9px;color:rgb(35,31,31);
}
#P728_148
{
left:4669.4px;bottom:3930.67px;color:rgb(35,31,31);
}
#P728_149
{
left:6145.11px;bottom:3950.38px;color:rgb(35,31,31);
}
#P728_150
{
left:6849.11px;bottom:3930.67px;letter-spacing:285.9px;color:rgb(35,31,31);
}
#P728_151
{
left:0px;letter-spacing:0px;margin-left:-444.3px;
}
#P728_152
{
left:7314.52px;bottom:4370.35px;color:rgb(35,31,31);
}
#P728_153
{
left:7650.33px;bottom:3948.27px;color:rgb(35,31,31);
}
#P728_154
{
left:7293.4px;bottom:3914.66px;color:rgb(35,31,31);
}
#P728_155
{
left:7671.45px;bottom:3931.94px;color:rgb(35,31,31);
}
#P728_156
{
left:7314.52px;bottom:3462.83px;color:rgb(35,31,31);
}
#P728_157
{
left:7650.33px;bottom:3948.27px;color:rgb(35,31,31);
}
#P728_158
{
left:7671.45px;bottom:3930.67px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P728_159
{
left:21049.7px;bottom:3950.38px;color:rgb(35,31,31);
}
#P728_160
{
left:21441.1px;bottom:3930.67px;letter-spacing:285.9px;color:rgb(35,31,31);
}
#PageContainer728
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg728.jpg");background-repeat:no-repeat;background-size: 1066px 1148px; background-position: 1px -0.0799999999999272px;
}
#ImageContainer728 {bottom:216.08px;right:0.00px;width:1066.24px;height:1148.08px;position:absolute;} #TextContainer728 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}