.tr294{ color:transparent;}
#P294_1
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P294_2
{
left:3540.44px;bottom:1410.03px;color:rgb(35,31,31);
}
#P294_3
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P294_4
{
left:9121.88px;bottom:1410.03px;letter-spacing:462px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P294_5
{
left:0px;letter-spacing:4.3px;margin-left:-462.1px;
}
#P294_6
{
left:0px;letter-spacing:0.8px;margin-left:-4.4px;
}
#P294_7
{
left:0px;letter-spacing:0px;margin-left:2.9px;
}
#P294_8
{
left:6977.56px;bottom:46189.1px;word-spacing:-49.6px;color:white;
}
#P294_9
{
left:0px;letter-spacing:0px;margin-left:-73.8px;
}
#P294_10
{
left:3459.78px;bottom:46161.9px;color:white;
}
#P294_11
{
left:9251.03px;bottom:35900.8px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P294_12
{
left:0px;letter-spacing:0.4px;margin-left:14.1px;
}
#P294_13
{
left:0px;letter-spacing:-35.1px;margin-left:-42.5px;
}
#P294_14
{
left:0px;letter-spacing:-0.6px;margin-left:40.6px;
}
#P294_15
{
left:0px;letter-spacing:0px;margin-left:-13.3px;
}
#P294_16
{
left:0px;letter-spacing:0px;margin-left:-10.5px;
}
#P294_17
{
left:9251.03px;bottom:35004.8px;letter-spacing:-2.5px;color:rgb(35,31,31);
}
#P294_18
{
left:0px;letter-spacing:-14px;margin-left:2.5px;
}
#P294_19
{
left:0px;letter-spacing:-0.3px;margin-left:14px;
}
#P294_20
{
left:0px;letter-spacing:0px;margin-left:-13.6px;
}
#P294_21
{
left:10129.2px;bottom:37461px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P294_22
{
left:13554.4px;bottom:37652.8px;color:rgb(255,223,126);
}
#P294_23
{
left:14179.1px;bottom:37461px;word-spacing:207.4px;color:white;
}
#P294_24
{
left:0px;letter-spacing:0px;margin-left:-207.4px;
}
#P294_25
{
left:8388.76px;bottom:37337.5px;
}
#P294_26
{
left:8388.76px;bottom:37337.5px;color:white;
}
#P294_27
{
left:18852.5px;bottom:41374.6px;letter-spacing:213.2px;color:rgb(35,31,31);
}
#P294_28
{
left:0px;letter-spacing:0px;margin-left:-213.2px;
}
#P294_29
{
left:7741.4px;bottom:40286.5px;color:rgb(35,31,31);
}
#P294_30
{
left:6333.4px;bottom:31753.6px;color:rgb(35,31,31);
}
#P294_31
{
left:9277.47px;bottom:31753.6px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P294_32
{
left:10301.5px;bottom:31753.6px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P294_33
{
left:6333.34px;bottom:25929.6px;color:rgb(35,31,31);
}
#P294_34
{
left:9277.4px;bottom:25929.6px;letter-spacing:-17.5px;color:rgb(35,31,31);
}
#P294_35
{
left:10301.3px;bottom:25929.6px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P294_36
{
left:6333.27px;bottom:22921.6px;color:rgb(35,31,31);
}
#P294_37
{
left:9277.34px;bottom:22921.6px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P294_38
{
left:10301.3px;bottom:22921.6px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P294_39
{
left:6333.21px;bottom:21001.6px;color:rgb(35,31,31);
}
#P294_40
{
left:9277.27px;bottom:21001.6px;letter-spacing:-14px;word-spacing:281.1px;color:rgb(35,31,31);
}
#P294_41
{
left:10301.2px;bottom:21001.6px;letter-spacing:0.3px;color:rgb(35,31,31);
}
#P294_42
{
left:6333.15px;bottom:19977.7px;color:rgb(35,31,31);
}
#P294_43
{
left:9277.21px;bottom:19977.7px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P294_44
{
left:10301.1px;bottom:19977.7px;color:rgb(35,31,31);
}
#P294_45
{
left:9270.02px;bottom:18089.7px;letter-spacing:-13.9px;word-spacing:2803px;color:rgb(35,31,31);
}
#P294_46
{
left:10301.1px;bottom:18089.7px;color:rgb(35,31,31);
}
#P294_47
{
left:6333.08px;bottom:14537.6px;color:rgb(35,31,31);
}
#P294_48
{
left:9277.15px;bottom:14537.6px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P294_49
{
left:10301.1px;bottom:14537.6px;color:rgb(35,31,31);
}
#P294_50
{
left:0px;letter-spacing:0px;margin-left:-25.3px;
}
#P294_51
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P294_52
{
left:6333.02px;bottom:13129.6px;color:rgb(35,31,31);
}
#P294_53
{
left:9277.08px;bottom:13129.6px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P294_54
{
left:10301px;bottom:13129.6px;color:rgb(35,31,31);
}
#P294_55
{
left:6332.95px;bottom:8201.64px;color:rgb(35,31,31);
}
#P294_56
{
left:9276.95px;bottom:8201.64px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P294_57
{
left:10301px;bottom:8201.64px;letter-spacing:-2.1px;color:rgb(35,31,31);
}
#P294_58
{
left:19230.2px;bottom:20527px;color:white;
}
#P294_59
{
left:19710px;bottom:20654.8px;color:white;
}
#P294_60
{
left:19230.2px;bottom:22624.7px;color:white;
}
#P294_61
{
left:19230.2px;bottom:24594.5px;color:white;
}
#P294_62
{
left:19230.2px;bottom:26564.4px;color:white;
}
#P294_63
{
left:19230.2px;bottom:28534.1px;color:white;
}
#P294_64
{
left:19230.2px;bottom:30504px;color:white;
}
#P294_65
{
left:19230.2px;bottom:32473.7px;color:white;
}
#P294_66
{
left:19230.2px;bottom:18554.3px;color:white;
}
#P294_67
{
left:19710px;bottom:18682.2px;color:white;
}
#P294_68
{
left:19230.2px;bottom:16581.5px;color:white;
}
#P294_69
{
left:19710px;bottom:16709.4px;color:white;
}
#P294_70
{
left:19230.2px;bottom:14608.7px;color:white;
}
#P294_71
{
left:19710px;bottom:14736.6px;color:white;
}
#P294_72
{
left:19230.2px;bottom:12635.9px;color:white;
}
#P294_73
{
left:19710px;bottom:12763.8px;color:white;
}
#P294_74
{
left:19230.2px;bottom:10663.2px;color:white;
}
#P294_75
{
left:19710px;bottom:10791.1px;color:white;
}
#P294_76
{
left:19230.2px;bottom:8690.35px;color:white;
}
#P294_77
{
left:19710px;bottom:8818.22px;color:white;
}
#P294_78
{
left:19230.2px;bottom:6717.61px;color:white;
}
#P294_79
{
left:19710px;bottom:6845.48px;color:white;
}
#P294_80
{
left:4301.34px;bottom:13360.5px;color:rgb(35,31,31);
}
#P294_81
{
left:4674.39px;bottom:13388.9px;letter-spacing:-10.2px;color:rgb(35,31,31);
}
#P294_82
{
left:6691.93px;bottom:13360.5px;color:rgb(35,31,31);
}
#P294_83
{
left:4301.34px;bottom:12656.5px;letter-spacing:-14.1px;color:rgb(35,31,31);
}
#P294_84
{
left:5012.31px;bottom:12684.9px;letter-spacing:-10.4px;color:rgb(35,31,31);
}
#P294_85
{
left:2365.37px;bottom:11756.9px;letter-spacing:5.2px;word-spacing:-5.9px;color:rgb(35,31,31);
}
#P294_86
{
left:0px;letter-spacing:3.9px;margin-left:0.1px;
}
#P294_87
{
left:2365.37px;bottom:10980.8px;letter-spacing:-3.3px;word-spacing:-0.7px;color:rgb(35,31,31);
}
#P294_88
{
left:0px;letter-spacing:-0.3px;margin-left:2.4px;
}
#P294_89
{
left:0px;letter-spacing:-3.1px;margin-left:-4.5px;
}
#P294_90
{
left:2365.37px;bottom:10487px;color:rgb(35,31,31);
}
#P294_91
{
left:2615.28px;bottom:10268.8px;color:rgb(35,31,31);
}
#P294_92
{
left:2960.24px;bottom:10292.8px;color:rgb(35,31,31);
}
#P294_93
{
left:2960.24px;bottom:10308.8px;letter-spacing:-135.2px;word-spacing:-1.1px;color:rgb(35,31,31);
}
#P294_94
{
left:0px;letter-spacing:-1.3px;margin-left:142.5px;
}
#P294_95
{
left:0px;letter-spacing:-0.7px;margin-left:125.7px;
}
#P294_96
{
left:0px;letter-spacing:-2.9px;margin-left:121.8px;
}
#P294_97
{
left:2960.24px;bottom:9668.78px;letter-spacing:-0.4px;word-spacing:-2.3px;color:rgb(35,31,31);
}
#P294_98
{
left:0px;letter-spacing:0px;margin-left:3.7px;
}
#P294_99
{
left:2365.37px;bottom:9175.02px;color:rgb(35,31,31);
}
#P294_100
{
left:2615.28px;bottom:8956.78px;letter-spacing:186.6px;color:rgb(35,31,31);
}
#P294_101
{
left:2960.24px;bottom:8996.78px;letter-spacing:-0.8px;word-spacing:-1.1px;color:rgb(35,31,31);
}
#P294_102
{
left:0px;letter-spacing:-3.2px;margin-left:0.4px;
}
#P294_103
{
left:2960.24px;bottom:8356.78px;letter-spacing:0.2px;word-spacing:-5.9px;color:rgb(35,31,31);
}
#P294_104
{
left:0px;letter-spacing:0px;margin-left:-2.5px;
}
#P294_105
{
left:2960.24px;bottom:7716.78px;letter-spacing:-0.9px;word-spacing:-8px;color:rgb(35,31,31);
}
#P294_106
{
left:0px;letter-spacing:-1.2px;margin-left:3.5px;
}
#P294_107
{
left:0px;letter-spacing:3.2px;margin-left:-0.6px;
}
#P294_108
{
left:2365.38px;bottom:6948.65px;letter-spacing:4px;word-spacing:-5.3px;color:rgb(35,31,31);
}
#P294_109
{
left:0px;letter-spacing:5.3px;margin-left:8.7px;
}
#P294_110
{
left:2365.38px;bottom:6308.65px;letter-spacing:5.2px;color:rgb(35,31,31);
}
#P294_111
{
left:0px;letter-spacing:0px;margin-left:-24.1px;
}
#P294_112
{
left:2365.38px;bottom:5668.65px;letter-spacing:5.2px;color:rgb(35,31,31);
}
#P294_113
{
left:0px;letter-spacing:0px;margin-left:-22.3px;
}
#PageContainer294
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg294.jpg");background-repeat:no-repeat;background-size: 1066px 1212px; background-position: 1px -0.190000000000055px;
}
#ImageContainer294 {bottom:152.19px;right:0.00px;width:1066.24px;height:1211.97px;position:absolute;} #TextContainer294 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.rpj{position: absolute;top: 188px;left: 158px;}
.srpj{position: absolute;top: 188px;left: 111px;}
.math_paper{position: absolute;top: 310px;left: 168px;}


#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}