.tr473{ color:transparent;}
#P473_1
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P473_2
{
left:26106.4px;bottom:1410.03px;letter-spacing:3.2px;word-spacing:-1px;color:rgb(35,31,31);
}
#P473_3
{
left:29769.4px;bottom:1410.03px;letter-spacing:462.1px;color:rgb(35,31,31);
}
#P473_4
{
left:0px;letter-spacing:2.6px;margin-left:-463px;
}
#P473_5
{
left:0px;letter-spacing:4.3px;margin-left:-1.2px;
}
#P473_6
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P473_7
{
left:6909.4px;bottom:9131.95px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P473_8
{
left:0px;letter-spacing:0px;margin-left:-12.5px;
}
#P473_9
{
left:0px;letter-spacing:-28px;margin-left:-42.1px;
}
#P473_10
{
left:17949.1px;bottom:9131.95px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P473_11
{
left:6909.4px;bottom:7979.95px;color:rgb(35,31,31);
}
#P473_12
{
left:7086.55px;bottom:7999.66px;color:rgb(35,31,31);
}
#P473_13
{
left:8509.4px;bottom:7979.95px;color:rgb(35,31,31);
}
#P473_14
{
left:14382.5px;bottom:7999.66px;color:rgb(35,31,31);
}
#P473_15
{
left:15805.3px;bottom:7979.95px;color:rgb(35,31,31);
}
#P473_16
{
left:21806.6px;bottom:7999.66px;color:rgb(35,31,31);
}
#P473_17
{
left:23229.5px;bottom:7979.95px;color:rgb(35,31,31);
}
#P473_18
{
left:29166.6px;bottom:7999.66px;color:rgb(35,31,31);
}
#P473_19
{
left:30589.5px;bottom:7979.95px;color:rgb(35,31,31);
}
#P473_20
{
left:6909.47px;bottom:6315.95px;color:rgb(35,31,31);
}
#P473_21
{
left:7086.62px;bottom:6335.66px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P473_22
{
left:8573.4px;bottom:6335.66px;letter-spacing:-17.6px;color:rgb(2,77,161);
}
#P473_23
{
left:0px;letter-spacing:0px;margin-left:17.6px;
}
#P473_24
{
left:14049px;bottom:6315.95px;letter-spacing:151.5px;color:rgb(35,31,31);
}
#P473_25
{
left:0px;letter-spacing:-0.3px;margin-left:-151.5px;
}
#P473_26
{
left:0px;letter-spacing:0px;margin-left:-13.6px;
}
#P473_27
{
left:0px;letter-spacing:0px;margin-left:-17.5px;
}
#P473_28
{
left:8573.4px;bottom:5419.95px;letter-spacing:-9.8px;color:rgb(35,31,31);
}
#P473_29
{
left:0px;letter-spacing:0px;margin-left:9.8px;
}
#P473_30
{
left:15707.9px;bottom:5419.95px;color:rgb(35,31,31);
}
#P473_31
{
left:16142.9px;bottom:5419.95px;color:rgb(35,31,31);
}
#P473_32
{
left:21579.1px;bottom:5419.95px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P473_33
{
left:6909.4px;bottom:4075.95px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P473_34
{
left:8486.49px;bottom:4119.33px;color:rgb(35,31,31);
}
#P473_35
{
left:8823.32px;bottom:4240.46px;color:rgb(35,31,31);
}
#P473_36
{
left:9469.4px;bottom:4075.95px;color:rgb(35,31,31);
}
#P473_37
{
left:10237.4px;bottom:4075.95px;color:rgb(35,31,31);
}
#P473_38
{
left:10672.5px;bottom:4075.95px;color:rgb(35,31,31);
}
#P473_39
{
left:10918.9px;bottom:4139.95px;color:rgb(35,31,31);
}
#P473_40
{
left:11566.6px;bottom:4075.95px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P473_41
{
left:15782.5px;bottom:4119.33px;color:rgb(35,31,31);
}
#P473_42
{
left:16119.3px;bottom:4240.46px;color:rgb(35,31,31);
}
#P473_43
{
left:16765.4px;bottom:4075.95px;color:rgb(35,31,31);
}
#P473_44
{
left:17533.4px;bottom:4075.95px;color:rgb(35,31,31);
}
#P473_45
{
left:17968.5px;bottom:4075.95px;color:rgb(35,31,31);
}
#P473_46
{
left:18214.9px;bottom:4139.95px;color:rgb(35,31,31);
}
#P473_47
{
left:18862.6px;bottom:4075.95px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P473_48
{
left:23270.5px;bottom:4119.33px;color:rgb(35,31,31);
}
#P473_49
{
left:23607.3px;bottom:4240.46px;color:rgb(35,31,31);
}
#P473_50
{
left:24253.4px;bottom:4075.95px;color:rgb(35,31,31);
}
#P473_51
{
left:25021.4px;bottom:4075.95px;color:rgb(35,31,31);
}
#P473_52
{
left:25456.5px;bottom:4075.95px;color:rgb(35,31,31);
}
#P473_53
{
left:25702.9px;bottom:4251.95px;color:rgb(35,31,31);
}
#P473_54
{
left:26335.8px;bottom:4075.95px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P473_55
{
left:30630.5px;bottom:4119.33px;color:rgb(35,31,31);
}
#P473_56
{
left:30967.3px;bottom:4240.46px;color:rgb(35,31,31);
}
#P473_57
{
left:31613.4px;bottom:4075.95px;color:rgb(35,31,31);
}
#P473_58
{
left:32381.4px;bottom:4075.95px;color:rgb(35,31,31);
}
#P473_59
{
left:32816.5px;bottom:4075.95px;color:rgb(35,31,31);
}
#P473_60
{
left:33062.9px;bottom:4251.95px;color:rgb(35,31,31);
}
#P473_61
{
left:33695.8px;bottom:4075.95px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P473_62
{
left:7150.55px;bottom:46736.5px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P473_63
{
left:8637.4px;bottom:46736.5px;letter-spacing:-4.2px;color:rgb(2,77,161);
}
#P473_64
{
left:11650.7px;bottom:46716.8px;letter-spacing:168.3px;color:rgb(35,31,31);
}
#P473_65
{
left:0px;letter-spacing:-1px;margin-left:-168.3px;
}
#P473_66
{
left:0px;letter-spacing:-3.5px;margin-left:1px;
}
#P473_67
{
left:0px;letter-spacing:0.2px;margin-left:3.5px;
}
#P473_68
{
left:8637.4px;bottom:45820.8px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P473_69
{
left:0px;letter-spacing:0px;margin-left:-3.4px;
}
#P473_70
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P473_71
{
left:0px;letter-spacing:-0.1px;
}
#P473_72
{
left:0px;letter-spacing:0px;margin-left:-214.8px;
}
#P473_73
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P473_74
{
left:0px;letter-spacing:-4.2px;
}
#P473_75
{
left:0px;letter-spacing:0px;margin-left:4.2px;
}
#P473_76
{
left:8637.4px;bottom:44924.9px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P473_77
{
left:0px;letter-spacing:-0.1px;margin-left:-13.1px;
}
#P473_78
{
left:0px;letter-spacing:0px;margin-left:0.1px;
}
#P473_79
{
left:7150.55px;bottom:33488.6px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P473_80
{
left:8637.4px;bottom:33488.5px;color:rgb(2,77,161);
}
#P473_81
{
left:12353.8px;bottom:33468.8px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P473_82
{
left:0px;letter-spacing:-0.4px;margin-left:-197.8px;
}
#P473_83
{
left:0px;letter-spacing:0px;margin-left:0.4px;
}
#P473_84
{
left:8637.4px;bottom:32572.8px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P473_85
{
left:0px;letter-spacing:-1px;margin-left:0.7px;
}
#P473_86
{
left:0px;letter-spacing:0px;margin-left:1px;
}
#P473_87
{
left:8725.34px;bottom:31228.8px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P473_88
{
left:9917.4px;bottom:31228.8px;letter-spacing:-0.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P473_89
{
left:0px;letter-spacing:-13.9px;margin-left:0.4px;
}
#P473_90
{
left:8689.31px;bottom:30140.8px;letter-spacing:-17.5px;color:rgb(35,31,31);
}
#P473_91
{
left:9917.4px;bottom:30140.8px;letter-spacing:-37.2px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P473_92
{
left:0px;letter-spacing:-0.8px;margin-left:37.2px;
}
#P473_93
{
left:0px;letter-spacing:-0.5px;margin-left:-3.3px;
}
#P473_94
{
left:12078.6px;bottom:28304.4px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P473_95
{
left:13565.4px;bottom:28304.5px;color:rgb(2,77,161);
}
#P473_96
{
left:18404.6px;bottom:28284.8px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P473_97
{
left:0px;letter-spacing:-0.6px;margin-left:-202px;
}
#P473_98
{
left:0px;letter-spacing:0px;margin-left:-214.1px;
}
#P473_99
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P473_100
{
left:0px;letter-spacing:-0.4px;
}
#P473_101
{
left:13565.4px;bottom:27388.8px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P473_102
{
left:0px;letter-spacing:-0.3px;margin-left:-13.6px;
}
#P473_103
{
left:0px;letter-spacing:0px;margin-left:-27.7px;
}
#P473_104
{
left:29683.9px;bottom:27388.8px;word-spacing:56.3px;color:rgb(35,31,31);
}
#P473_105
{
left:13565.4px;bottom:26492.9px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P473_106
{
left:0px;letter-spacing:0px;margin-left:-214.4px;
}
#P473_107
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P473_108
{
left:0px;letter-spacing:0px;
}
#P473_109
{
left:12078.6px;bottom:24656.5px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P473_110
{
left:13565.4px;bottom:24656.5px;word-spacing:-26px;color:rgb(2,77,161);
}
#P473_111
{
left:19562.8px;bottom:24636.8px;color:rgb(35,31,31);
}
#P473_112
{
left:0px;letter-spacing:0px;margin-left:168.3px;
}
#P473_113
{
left:0px;letter-spacing:0px;margin-left:-21px;
}
#P473_114
{
left:13565.4px;bottom:23740.8px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P473_115
{
left:13565.4px;bottom:22844.8px;letter-spacing:-1.1px;color:rgb(35,31,31);
}
#P473_116
{
left:13566.5px;bottom:21500.8px;letter-spacing:-14px;word-spacing:323.1px;color:rgb(35,31,31);
}
#P473_117
{
left:14589.5px;bottom:21500.8px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P473_118
{
left:14589.5px;bottom:20604.8px;letter-spacing:0.4px;color:rgb(35,31,31);
}
#P473_119
{
left:0px;letter-spacing:0px;margin-left:-70.8px;
}
#P473_120
{
left:0px;letter-spacing:0px;
}
#P473_121
{
left:13530.3px;bottom:19516.8px;letter-spacing:-13.9px;word-spacing:330px;color:rgb(35,31,31);
}
#P473_122
{
left:14589.5px;bottom:19516.8px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P473_123
{
left:14589.5px;bottom:18620.9px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P473_124
{
left:0px;letter-spacing:-0.5px;margin-left:1px;
}
#P473_125
{
left:13601.7px;bottom:17532.8px;letter-spacing:-14px;word-spacing:323.1px;color:rgb(35,31,31);
}
#P473_126
{
left:14589.5px;bottom:17532.8px;letter-spacing:-2.2px;color:rgb(35,31,31);
}
#P473_127
{
left:0px;letter-spacing:-0.5px;margin-left:2.2px;
}
#P473_128
{
left:14589.5px;bottom:16636.9px;letter-spacing:-1.5px;color:rgb(35,31,31);
}
#P473_129
{
left:7150.62px;bottom:13840.6px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P473_130
{
left:9501.53px;bottom:13731.6px;letter-spacing:-24px;
}
#P473_131
{
left:9501.53px;bottom:13731.6px;letter-spacing:-24px;color:white;
}
#P473_132
{
left:12371.5px;bottom:13820.8px;letter-spacing:151.5px;color:rgb(35,31,31);
}
#P473_133
{
left:0px;letter-spacing:-0.8px;margin-left:-151.5px;
}
#P473_134
{
left:0px;letter-spacing:-0.7px;margin-left:0.8px;
}
#P473_135
{
left:0px;letter-spacing:0px;margin-left:0.7px;
}
#P473_136
{
left:29583.4px;bottom:23358.1px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P473_137
{
left:28500.8px;bottom:22251.3px;color:rgb(35,31,31);
}
#P473_138
{
left:0px;letter-spacing:0px;margin-left:695.6px;
}
#P473_139
{
left:0px;letter-spacing:0px;margin-left:695.7px;
}
#P473_140
{
left:0px;letter-spacing:0px;margin-left:695.6px;
}
#P473_141
{
left:0px;letter-spacing:0px;margin-left:695.7px;
}
#P473_142
{
left:0px;letter-spacing:0px;margin-left:695.7px;
}
#P473_143
{
left:28500.8px;bottom:21227.4px;color:rgb(35,31,31);
}
#P473_144
{
left:0px;letter-spacing:0px;margin-left:695.6px;
}
#P473_145
{
left:0px;letter-spacing:0px;margin-left:695.7px;
}
#P473_146
{
left:0px;letter-spacing:0px;margin-left:695.6px;
}
#P473_147
{
left:0px;letter-spacing:0px;margin-left:695.7px;
}
#P473_148
{
left:0px;letter-spacing:0px;margin-left:695.7px;
}
#P473_149
{
left:28500.8px;bottom:20203.5px;color:rgb(35,31,31);
}
#P473_150
{
left:0px;letter-spacing:0px;margin-left:695.6px;
}
#P473_151
{
left:0px;letter-spacing:0px;margin-left:695.7px;
}
#P473_152
{
left:0px;letter-spacing:0px;margin-left:695.6px;
}
#P473_153
{
left:0px;letter-spacing:0px;margin-left:695.7px;
}
#P473_154
{
left:0px;letter-spacing:0px;margin-left:695.7px;
}
#P473_155
{
left:28500.8px;bottom:19179.6px;color:rgb(35,31,31);
}
#P473_156
{
left:0px;letter-spacing:0px;margin-left:695.6px;
}
#P473_157
{
left:0px;letter-spacing:0px;margin-left:695.7px;
}
#P473_158
{
left:0px;letter-spacing:0px;margin-left:695.6px;
}
#P473_159
{
left:0px;letter-spacing:0px;margin-left:695.7px;
}
#P473_160
{
left:0px;letter-spacing:0px;margin-left:695.7px;
}
#P473_161
{
left:28500.8px;bottom:18155.6px;color:rgb(35,31,31);
}
#P473_162
{
left:0px;letter-spacing:0px;margin-left:695.6px;
}
#P473_163
{
left:0px;letter-spacing:0px;margin-left:695.7px;
}
#P473_164
{
left:0px;letter-spacing:0px;margin-left:695.6px;
}
#P473_165
{
left:0px;letter-spacing:0px;margin-left:695.7px;
}
#P473_166
{
left:0px;letter-spacing:0px;margin-left:695.7px;
}
#P473_167
{
left:24203.4px;bottom:41596px;letter-spacing:-1.9px;word-spacing:748.1px;color:rgb(35,31,31);
}
#P473_168
{
left:25501.7px;bottom:40507.9px;word-spacing:1964.5px;color:rgb(35,31,31);
}
#P473_169
{
left:0px;letter-spacing:0px;margin-left:-1226.9px;
}
#P473_170
{
left:25501.7px;bottom:39612.1px;word-spacing:300.5px;color:rgb(35,31,31);
}
#P473_171
{
left:0px;letter-spacing:0px;margin-left:437.1px;
}
#P473_172
{
left:25501.7px;bottom:38716.1px;word-spacing:300.5px;color:rgb(35,31,31);
}
#P473_173
{
left:0px;letter-spacing:0px;margin-left:437.1px;
}
#P473_174
{
left:0px;letter-spacing:0px;margin-left:64px;
}
#P473_175
{
left:0px;letter-spacing:0px;margin-left:64px;
}
#P473_176
{
left:25501.7px;bottom:37820.3px;word-spacing:300.5px;color:rgb(35,31,31);
}
#P473_177
{
left:0px;letter-spacing:0px;margin-left:437.1px;
}
#P473_178
{
left:23378.8px;bottom:36540.2px;color:rgb(35,31,31);
}
#P473_179
{
left:26770.8px;bottom:36540.2px;letter-spacing:-3.1px;word-spacing:216.7px;color:rgb(35,31,31);
}
#P473_180
{
left:0px;letter-spacing:0px;margin-left:-9.4px;
}
#P473_181
{
left:29021.5px;bottom:36604.2px;color:rgb(35,31,31);
}
#P473_182
{
left:29309.5px;bottom:36540.2px;word-spacing:-59.8px;color:rgb(35,31,31);
}
#P473_183
{
left:29851.5px;bottom:36510.6px;color:rgb(35,31,31);
}
#P473_184
{
left:30438px;bottom:36540.2px;color:rgb(35,31,31);
}
#P473_185
{
left:28398.2px;bottom:42976.6px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P473_186
{
left:10938.8px;bottom:38207.2px;color:rgb(35,31,31);
}
#P473_187
{
left:10917.5px;bottom:38996.6px;color:rgb(35,31,31);
}
#P473_188
{
left:10928.1px;bottom:39743.2px;color:rgb(35,31,31);
}
#P473_189
{
left:10928.1px;bottom:40511.2px;color:rgb(35,31,31);
}
#P473_190
{
left:10655.1px;bottom:41270px;color:rgb(35,31,31);
}
#P473_191
{
left:10655.1px;bottom:42038px;color:rgb(35,31,31);
}
#P473_192
{
left:10927.2px;bottom:37435.2px;color:rgb(35,31,31);
}
#P473_193
{
left:12111.8px;bottom:37082.9px;letter-spacing:18px;color:rgb(35,31,31);
}
#P473_194
{
left:14155.2px;bottom:37088.2px;letter-spacing:8px;color:rgb(35,31,31);
}
#P473_195
{
left:0px;letter-spacing:0px;margin-left:-8px;
}
#P473_196
{
left:16459.2px;bottom:37082.9px;letter-spacing:8px;color:rgb(35,31,31);
}
#P473_197
{
left:0px;letter-spacing:0px;margin-left:-8px;
}
#P473_198
{
left:18763.2px;bottom:37088.2px;letter-spacing:8px;color:rgb(35,31,31);
}
#P473_199
{
left:0px;letter-spacing:0px;margin-left:-8px;
}
#P473_200
{
left:14980.6px;bottom:36075.9px;color:rgb(35,31,31);
}
#P473_201
{
left:9732.83px;bottom:38459.6px;color:rgb(35,31,31);
}
#P473_202
{
left:10424px;bottom:38688.9px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P473_203
{
left:13737.6px;bottom:42966.5px;color:rgb(35,31,31);
}
#P473_204
{
left:6267.8px;bottom:46733.3px;
}
#P473_205
{
left:6267.8px;bottom:46733.3px;color:white;
}
#PageContainer473
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg473.jpg");background-repeat:no-repeat;background-size: 869px 1202px; background-position: 133.92px 70.73px;
}
#ImageContainer473 {bottom:91.27px;left:133.92px;width:868.58px;height:1202.16px;position:absolute;} #TextContainer473 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.c3{position: absolute;top: 66px;left: 158px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}