.tr96{ color:transparent;}
#P96_1
{
left:6945.5px;bottom:46119.2px;color:white;
}
#P96_2
{
left:7841.95px;bottom:46417.6px;color:white;
}
#P96_3
{
left:8215.58px;bottom:46119.2px;color:white;
}
#P96_4
{
left:8913.11px;bottom:46417.6px;color:white;
}
#P96_5
{
left:9286.75px;bottom:46119.2px;color:white;
}
#P96_6
{
left:10058.2px;bottom:46417.6px;color:white;
}
#P96_7
{
left:10431.8px;bottom:46119.2px;color:white;
}
#P96_8
{
left:13445.1px;bottom:46417.6px;color:white;
}
#P96_9
{
left:13818.7px;bottom:46119.2px;letter-spacing:-1.3px;color:white;
}
#P96_10
{
left:3427.71px;bottom:46092.1px;color:white;
}
#P96_11
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P96_12
{
left:3148.76px;bottom:1410.03px;color:rgb(35,31,31);
}
#P96_13
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P96_14
{
left:9125.85px;bottom:1410.03px;letter-spacing:2.1px;word-spacing:462px;color:rgb(35,31,31);
}
#P96_15
{
left:0px;letter-spacing:2.3px;margin-left:-6.5px;
}
#P96_16
{
left:0px;letter-spacing:0px;margin-left:-464.3px;
}
#P96_17
{
left:0px;letter-spacing:2.4px;margin-left:0.1px;
}
#P96_18
{
left:0px;letter-spacing:0px;margin-left:-464.4px;
}
#P96_19
{
left:0px;letter-spacing:1.4px;margin-left:5.4px;
}
#P96_20
{
left:18900.5px;bottom:41322.2px;letter-spacing:213.2px;color:rgb(35,31,31);
}
#P96_21
{
left:0px;letter-spacing:0px;margin-left:-213.2px;
}
#P96_22
{
left:7789.4px;bottom:40234.2px;color:rgb(35,31,31);
}
#P96_23
{
left:9245.08px;bottom:36162.5px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P96_24
{
left:0px;letter-spacing:0.4px;margin-left:14.1px;
}
#P96_25
{
left:0px;letter-spacing:-18.7px;margin-left:-42.5px;
}
#P96_26
{
left:0px;letter-spacing:-0.2px;margin-left:18.7px;
}
#P96_27
{
left:0px;letter-spacing:0px;margin-left:0.2px;
}
#P96_28
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P96_29
{
left:9245.08px;bottom:29506.6px;color:rgb(35,31,31);
}
#P96_30
{
left:9373.08px;bottom:29506.6px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P96_31
{
left:10589.1px;bottom:29506.6px;letter-spacing:-13.1px;color:rgb(35,31,31);
}
#P96_32
{
left:0px;letter-spacing:0.7px;margin-left:13.1px;
}
#P96_33
{
left:0px;letter-spacing:0px;margin-left:-67.6px;
}
#P96_34
{
left:0px;letter-spacing:-12.6px;
}
#P96_35
{
left:0px;letter-spacing:-1.5px;margin-left:12.6px;
}
#P96_36
{
left:0px;letter-spacing:0.6px;margin-left:1.5px;
}
#P96_37
{
left:0px;letter-spacing:0px;margin-left:-67.4px;
}
#P96_38
{
left:9245.08px;bottom:28418.5px;color:rgb(35,31,31);
}
#P96_39
{
left:9373.08px;bottom:28418.5px;letter-spacing:-13.9px;word-spacing:486.9px;color:rgb(35,31,31);
}
#P96_40
{
left:10589.1px;bottom:28418.5px;letter-spacing:-0.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P96_41
{
left:0px;letter-spacing:1.5px;margin-left:-3.7px;
}
#P96_42
{
left:0px;letter-spacing:0px;margin-left:-68.4px;
}
#P96_43
{
left:10589.1px;bottom:27522.5px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P96_44
{
left:0px;letter-spacing:-0.2px;margin-left:1.3px;
}
#P96_45
{
left:9245.08px;bottom:26178.7px;letter-spacing:-2px;color:rgb(0,124,196);
}
#P96_46
{
left:0px;letter-spacing:0.3px;margin-left:-12px;
}
#P96_47
{
left:0px;letter-spacing:-7px;margin-left:-14.2px;
}
#P96_48
{
left:0px;letter-spacing:-0.7px;margin-left:7px;
}
#P96_49
{
left:26844.1px;bottom:26149.1px;color:rgb(0,124,196);
}
#P96_50
{
left:27430.5px;bottom:26178.7px;color:rgb(0,124,196);
}
#P96_51
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P96_52
{
left:27983.1px;bottom:26618.3px;color:rgb(0,124,196);
}
#P96_53
{
left:28318.9px;bottom:26196.3px;color:rgb(0,124,196);
}
#P96_54
{
left:27961.9px;bottom:26162.7px;color:rgb(0,124,196);
}
#P96_55
{
left:28340px;bottom:26179.9px;color:rgb(0,124,196);
}
#P96_56
{
left:27983.1px;bottom:25710.8px;color:rgb(0,124,196);
}
#P96_57
{
left:28318.9px;bottom:26196.3px;color:rgb(0,124,196);
}
#P96_58
{
left:28340px;bottom:26178.7px;letter-spacing:-158.4px;color:rgb(0,124,196);
}
#P96_59
{
left:9245.08px;bottom:24706.7px;letter-spacing:-4.2px;color:rgb(35,31,31);
}
#P96_60
{
left:0px;letter-spacing:-0.2px;margin-left:4.2px;
}
#P96_61
{
left:9245.08px;bottom:23810.7px;letter-spacing:-0.9px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P96_62
{
left:0px;letter-spacing:-8.5px;margin-left:-13px;
}
#P96_63
{
left:0px;letter-spacing:-0.1px;margin-left:8.4px;
}
#P96_64
{
left:20954.3px;bottom:23978.2px;letter-spacing:-84.4px;color:rgb(35,31,31);
}
#P96_65
{
left:0px;letter-spacing:0px;margin-left:84.4px;
}
#P96_66
{
left:22259px;bottom:23810.7px;letter-spacing:0.3px;word-spacing:0.3px;color:rgb(35,31,31);
}
#P96_67
{
left:9245.21px;bottom:22914.8px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P96_68
{
left: 19585.21px;bottom:21122.7px;letter-spacing:10209.6px;color:rgb(35,31,31);
}
#P96_69
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P96_70
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P96_71
{
left:0px;
letter-spacing: 0px;
}
#P96_72
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P96_73
{
left:19613.2px;bottom:20226.8px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P96_74
{
left:19613.2px;bottom:19330.8px;letter-spacing:-2.3px;color:rgb(35,31,31);
}
#P96_75
{
left:0px;letter-spacing:0px;margin-left:-1.1px;
}
#P96_76
{
left:24208.5px;bottom:19330.8px;letter-spacing:-13.9px;word-spacing:70.3px;color:rgb(35,31,31);
}
#P96_77
{
left:9245.27px;bottom:15874.8px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P96_78
{
left:0px;letter-spacing:0px;margin-left:-20.6px;
}
#P96_79
{
left:0px;letter-spacing:0px;
}
#P96_80
{
left:9245.27px;bottom:14978.8px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P96_81
{
left:0px;letter-spacing:0px;margin-left:-19.5px;
}
#P96_82
{
left:0px;letter-spacing:-0.3px;
}
#P96_83
{
left:0px;letter-spacing:0px;margin-left:-13.7px;
}
#P96_84
{
left:9245.27px;bottom:14082.8px;letter-spacing:-0.2px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P96_85
{
left:0px;letter-spacing:-0.9px;margin-left:157.7px;
}
#P96_86
{
left:9245.27px;bottom:13186.9px;color:rgb(35,31,31);
}
#P96_87
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P96_88
{
left:0px;letter-spacing:0px;margin-left:-13.9px;
}
#P96_89
{
left: 19615.27px;bottom:11394.8px;letter-spacing:10145.7px;color:rgb(35,31,31);
}
#P96_90
{
left:0px;letter-spacing:0px;margin-left:-10304.1px;
}
#P96_91
{
left:0px;letter-spacing:-21.1px;
margin-left: 0px;
}
#P96_92
{
left:0px;letter-spacing:0px;margin-left:-56.3px;
}
#P96_93
{
left:0px;letter-spacing:0.1px;
}
#P96_94
{
left:19549.3px;bottom:10498.8px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P96_95
{
left:0px;letter-spacing:-8.4px;margin-left:1.2px;
}
#P96_96
{
left:0px;letter-spacing:0px;margin-left:8.4px;
}
#P96_97
{
left:19549.3px;bottom:9602.86px;letter-spacing:-1.1px;color:rgb(35,31,31);
}
#P96_98
{
left:0px;letter-spacing:-0.9px;margin-left:1.1px;
}
#P96_99
{
left:0px;letter-spacing:0px;margin-left:-20.1px;
}
#P96_100
{
left:0px;letter-spacing:0px;
}
#P96_101
{
left:19549.3px;bottom:8706.86px;color:rgb(35,31,31);
}
#P96_102
{
left:19549.3px;bottom:7810.86px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P96_103
{
left:9245.27px;bottom:5826.86px;color:rgb(35,31,31);
}
#P96_104
{
left:0px;letter-spacing:0px;margin-left:-21px;
}
#P96_105
{
left:0px;letter-spacing:0px;margin-left:-20.9px;
}
#P96_106
{
left:9245.27px;bottom:4930.86px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P96_107
{
left:9245.27px;bottom:4034.92px;letter-spacing:-2.2px;color:rgb(35,31,31);
}
#P96_108
{
left:0px;letter-spacing:-4.4px;margin-left:2.2px;
}
#P96_109
{
left:0px;letter-spacing:-0.5px;margin-left:11.2px;
}
#P96_110
{
left:0px;letter-spacing:0px;margin-left:-20.5px;
}
#P96_111
{
left:0px;letter-spacing:-1.7px;
}
#P96_112
{
left:9245.27px;bottom:2882.81px;letter-spacing:1.3px;color:rgb(35,31,31);
}
#P96_113
{
left:0px;letter-spacing:-5.8px;margin-left:-1.3px;
}
#P96_114
{
left:0px;letter-spacing:-1px;margin-left:5.8px;
}
#P96_115
{
left:0px;letter-spacing:-1.4px;margin-left:-12.9px;
}
#P96_116
{
left:20661.2px;bottom:2853.24px;color:rgb(35,31,31);
}
#P96_117
{
left:21247.6px;bottom:2882.81px;color:rgb(35,31,31);
}
#P96_118
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P96_119
{
left:21800px;bottom:3322.35px;color:rgb(35,31,31);
}
#P96_120
{
left:22135.8px;bottom:2900.27px;color:rgb(35,31,31);
}
#P96_121
{
left:21778.9px;bottom:2866.66px;color:rgb(35,31,31);
}
#P96_122
{
left:22157px;bottom:2883.94px;color:rgb(35,31,31);
}
#P96_123
{
left:21800px;bottom:2414.83px;color:rgb(35,31,31);
}
#P96_124
{
left:22135.8px;bottom:2900.27px;color:rgb(35,31,31);
}
#P96_125
{
left:22157px;bottom:2882.67px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P96_126
{
left:22315.4px;bottom:2853.1px;color:rgb(35,31,31);
}
#P96_127
{
left:22901.8px;bottom:2882.67px;color:rgb(35,31,31);
}
#P96_128
{
left:10123.3px;bottom:37722.9px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P96_129
{
left:13548.4px;bottom:37914.7px;color:rgb(255,223,126);
}
#P96_130
{
left:14141.3px;bottom:37722.9px;word-spacing:175.5px;color:white;
}
#P96_131
{
left:15213.5px;bottom:37914.7px;color:white;
}
#P96_132
{
left:15453.7px;bottom:37722.9px;color:white;
}
#P96_133
{
left:15789.7px;bottom:37914.7px;color:white;
}
#P96_134
{
left:16029.9px;bottom:37722.9px;color:white;
}
#P96_135
{
left:8382.87px;bottom:37599.3px;
}
#P96_136
{
left:8382.87px;bottom:37599.3px;color:white;
}
#P96_137
{
left:20045.4px;bottom:33434.2px;color:rgb(35,31,31);
}
#P96_138
{
left:20300.8px;bottom:33383.1px;color:rgb(35,31,31);
}
#P96_139
{
left:21313.7px;bottom:33434.2px;color:rgb(35,31,31);
}
#P96_140
{
left:11005.4px;bottom:32172.8px;word-spacing:-4.2px;color:rgb(0,124,196);
}
#P96_141
{
left:0px;letter-spacing:0px;margin-left:-61px;
}
#P96_142
{
left:0px;letter-spacing:0px;margin-left:132.3px;
}
#P96_143
{
left:11005.4px;bottom:31276.8px;color:rgb(0,124,196);
}
#P96_144
{
left:28067.9px;bottom:31491.1px;color:rgb(0,124,196);
}
#P96_145
{
left:4301.34px;bottom:13360.5px;color:rgb(35,31,31);
}
#P96_146
{
left:4674.39px;bottom:13388.9px;letter-spacing:-10.2px;color:rgb(35,31,31);
}
#P96_147
{
left:6691.93px;bottom:13360.5px;color:rgb(35,31,31);
}
#P96_148
{
left:4301.34px;bottom:12656.5px;letter-spacing:-14.1px;color:rgb(35,31,31);
}
#P96_149
{
left:5012.31px;bottom:12684.9px;letter-spacing:-10.4px;color:rgb(35,31,31);
}
#P96_150
{
left:2365.37px;bottom:11756.9px;letter-spacing:5.9px;word-spacing:-0.5px;color:rgb(35,31,31);
}
#P96_151
{
left:0px;letter-spacing:6.3px;margin-left:-5.4px;
}
#P96_152
{
left:0px;letter-spacing:5.2px;margin-left:2.2px;
}
#P96_153
{
left:2365.37px;bottom:10980.8px;letter-spacing:-3.3px;word-spacing:-0.7px;color:rgb(35,31,31);
}
#P96_154
{
left:0px;letter-spacing:-0.3px;margin-left:2.4px;
}
#P96_155
{
left:0px;letter-spacing:-3.1px;margin-left:-4.5px;
}
#P96_156
{
left:2365.37px;bottom:10487px;color:rgb(35,31,31);
}
#P96_157
{
left:2615.28px;bottom:10268.8px;color:rgb(35,31,31);
}
#P96_158
{
left:2960.24px;bottom:10292.8px;color:rgb(35,31,31);
}
#P96_159
{
left:2960.24px;bottom:10308.8px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P96_160
{
left:0px;letter-spacing:-2.3px;margin-left:-4.7px;
}
#P96_161
{
left:0px;letter-spacing:1.4px;margin-left:1.2px;
}
#P96_162
{
left:2960.24px;bottom:9668.78px;letter-spacing:-1.1px;word-spacing:-4px;color:rgb(35,31,31);
}
#P96_163
{
left:0px;letter-spacing:3.2px;margin-left:8.8px;
}
#P96_164
{
left:2365.37px;bottom:9175.02px;color:rgb(35,31,31);
}
#P96_165
{
left:2615.28px;bottom:8956.78px;color:rgb(35,31,31);
}
#P96_166
{
left:2960.24px;bottom:8996.78px;letter-spacing:-0.9px;word-spacing:-6.5px;color:rgb(35,31,31);
}
#P96_167
{
left:0px;letter-spacing:1.1px;margin-left:4px;
}
#P96_168
{
left:2365.37px;bottom:8503.02px;color:rgb(35,31,31);
}
#P96_169
{
left:2615.28px;bottom:8284.78px;color:rgb(35,31,31);
}
#P96_170
{
left:2960.24px;bottom:8324.78px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P96_171
{
left:0px;letter-spacing:-2.7px;margin-left:5.3px;
}
#P96_172
{
left:0px;letter-spacing:0.6px;margin-left:3.2px;
}
#P96_173
{
left:2365.38px;bottom:7556.78px;letter-spacing:4px;word-spacing:-5.4px;color:rgb(35,31,31);
}
#P96_174
{
left:0px;letter-spacing:5.4px;margin-left:8.7px;
}
#P96_175
{
left:2365.38px;bottom:6916.72px;letter-spacing:8.5px;color:rgb(35,31,31);
}
#P96_176
{
left:0px;letter-spacing:0px;margin-left:-33.3px;
}
#PageContainer96
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg096.jpg");background-repeat:no-repeat;background-size: 1066px 1281px; background-position: 1px 0.0199999999999818px;
}
#ImageContainer96 {bottom:82.98px;right:0.00px;width:1066.24px;height:1281.18px;position:absolute;} #TextContainer96 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.rpj{position:absolute; top: 194px; left: 152px;} 
.srpj{position:absolute; top: 192px; left: 99px;} 


#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}