.tr224{ color:transparent;}
#P224_1
{
left:2365.4px;bottom:1525.23px;color:rgb(35,31,31);
}
#P224_2
{
left:3540.44px;bottom:1525.23px;color:rgb(35,31,31);
}
#P224_3
{
left:4925.4px;bottom:1525.23px;color:rgb(35,31,31);
}
#P224_4
{
left:9122.35px;bottom:1525.23px;letter-spacing:0.2px;word-spacing:462.1px;color:rgb(35,31,31);
}
#P224_5
{
left:0px;letter-spacing:0px;margin-left:-462.3px;
}
#P224_6
{
left:0px;letter-spacing:2.3px;
}
#P224_7
{
left:0px;letter-spacing:0px;margin-left:-464.4px;
}
#P224_8
{
left:0px;letter-spacing:3px;
}
#P224_9
{
left:5889.56px;bottom:46957.1px;color:white;
}
#P224_10
{
left:2371.78px;bottom:46929.9px;color:white;
}
#P224_11
{
left:11592.4px;bottom:35068.8px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P224_12
{
left:0px;letter-spacing:0px;margin-left:-9.6px;
}
#P224_13
{
left:0px;letter-spacing:-14px;margin-left:-28px;
}
#P224_14
{
left:0px;letter-spacing:0.5px;margin-left:14px;
}
#P224_15
{
left:11592.4px;bottom:34172.8px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P224_16
{
left:11607px;bottom:32828.8px;letter-spacing:-9.3px;word-spacing:644.1px;color:rgb(35,31,31);
}
#P224_17
{
left:13208.4px;bottom:32381.5px;color:rgb(35,31,31);
}
#P224_18
{
left:16486.3px;bottom:32362.7px;letter-spacing:1179.8px;color:rgb(35,31,31);
}
#P224_19
{
left:13208.4px;bottom:31037.5px;color:rgb(35,31,31);
}
#P224_20
{
left:16486.3px;bottom:31018.7px;letter-spacing:2715.8px;color:rgb(35,31,31);
}
#P224_21
{
left:22709.2px;bottom:32828.8px;letter-spacing:-13.9px;word-spacing:2054.9px;color:rgb(35,31,31);
}
#P224_22
{
left:24344.4px;bottom:32432.9px;color:rgb(35,31,31);
}
#P224_23
{
left:26976.3px;bottom:32414.1px;letter-spacing:2537.8px;color:rgb(35,31,31);
}
#P224_24
{
left:0px;letter-spacing:0px;margin-left:-2537.8px;
}
#P224_25
{
left:24344.4px;bottom:31088.9px;color:rgb(35,31,31);
}
#P224_26
{
left:26976.3px;bottom:31070.1px;letter-spacing:1001.8px;color:rgb(35,31,31);
}
#P224_27
{
left:0px;letter-spacing:0px;margin-left:-1001.8px;
}
#P224_28
{
left:10824.4px;bottom:29052.8px;color:rgb(35,31,31);
}
#P224_29
{
left:11616.3px;bottom:29052.8px;letter-spacing:-14px;word-spacing:492.2px;color:rgb(35,31,31);
}
#P224_30
{
left:12808.4px;bottom:29052.8px;letter-spacing:-63.2px;color:rgb(35,31,31);
}
#P224_31
{
left:0px;letter-spacing:-0.2px;margin-left:63.2px;
}
#P224_32
{
left:0px;letter-spacing:0px;margin-left:-6.7px;
}
#P224_33
{
left:30807.5px;bottom:29052.8px;word-spacing:56.3px;color:rgb(35,31,31);
}
#P224_34
{
left:12808.4px;bottom:28156.8px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P224_35
{
left:19232.7px;bottom:25661.5px;color:rgb(35,31,31);
}
#P224_36
{
left:22510.7px;bottom:25642.7px;letter-spacing:1179.8px;color:rgb(35,31,31);
}
#P224_37
{
left:19232.7px;bottom:24317.5px;color:rgb(35,31,31);
}
#P224_38
{
left:22510.7px;bottom:24298.7px;letter-spacing:1179.8px;color:rgb(35,31,31);
}
#P224_39
{
left:12552.4px;bottom:21244.8px;color:rgb(35,31,31);
}
#P224_40
{
left: 13812.4px;bottom:21372.8px;letter-spacing:520.3px;color:rgb(35,31,31);
}
#P224_41
{
left:0px;letter-spacing:-0.5px;margin-left:-520.3px;
}
#P224_42
{
left:0px;letter-spacing:0px;margin-left:-13.4px;
}
#P224_43
{
left:10824.4px;bottom:19324.8px;color:rgb(35,31,31);
}
#P224_44
{
left:11580.2px;bottom:19324.8px;letter-spacing:-17.5px;color:rgb(35,31,31);
}
#P224_45
{
left:12808.3px;bottom:19324.8px;color:rgb(35,31,31);
}
#P224_46
{
left:0px;letter-spacing:0px;margin-left:-63.2px;
}
#P224_47
{
left:0px;letter-spacing:0px;margin-left:42.2px;
}
#P224_48
{
left:0px;letter-spacing:0px;margin-left:-4.2px;
}
#P224_49
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P224_50
{
left:19232.7px;bottom:16637.5px;color:rgb(35,31,31);
}
#P224_51
{
left:21981.3px;bottom:16618.7px;letter-spacing:1179.8px;color:rgb(35,31,31);
}
#P224_52
{
left:24858.3px;bottom:16598.6px;color:rgb(35,31,31);
}
#P224_53
{
left:19232.7px;bottom:15293.5px;color:rgb(35,31,31);
}
#P224_54
{
left:21981.3px;bottom:15274.7px;letter-spacing:1001.8px;color:rgb(35,31,31);
}
#P224_55
{
left:0px;letter-spacing:0px;margin-left:-1001.8px;
}
#P224_56
{
left:0px;letter-spacing:0px;margin-left:823.7px;
}
#P224_57
{
left:0px;letter-spacing:0px;
}
#P224_58
{
left:12552.4px;bottom:12220.8px;color:rgb(35,31,31);
}
#P224_59
{
left: 13912.4px;bottom:12348.8px;letter-spacing:520.3px;color:rgb(35,31,31);
}
#P224_60
{
left:0px;letter-spacing:-0.5px;margin-left:-520.3px;
}
#P224_61
{
left:0px;letter-spacing:0px;margin-left:-13.4px;
}
#P224_62
{
left:11592.4px;bottom:8764.78px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P224_63
{
left:0px;letter-spacing:0px;margin-left:-9.6px;
}
#P224_64
{
left:0px;letter-spacing:-14px;margin-left:-28px;
}
#P224_65
{
left:0px;letter-spacing:0.5px;margin-left:14px;
}
#P224_66
{
left:11592.4px;bottom:7868.78px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P224_67
{
left:11592.4px;bottom:6716.78px;color:rgb(35,31,31);
}
#P224_68
{
left:12056px;bottom:6743.6px;color:rgb(35,31,31);
}
#P224_69
{
left:13656.4px;bottom:6333.48px;color:rgb(35,31,31);
}
#P224_70
{
left:17510.3px;bottom:6314.67px;color:rgb(35,31,31);
}
#P224_71
{
left:20387.3px;bottom:6294.64px;color:rgb(35,31,31);
}
#P224_72
{
left:13656.4px;bottom:4989.48px;color:rgb(35,31,31);
}
#P224_73
{
left:17510.3px;bottom:4970.67px;letter-spacing:1179.8px;color:rgb(35,31,31);
}
#P224_74
{
left:21544.4px;bottom:6716.78px;color:rgb(35,31,31);
}
#P224_75
{
left:22552px;bottom:6743.6px;color:rgb(35,31,31);
}
#P224_76
{
left:24280.4px;bottom:6333.48px;letter-spacing:-3px;color:rgb(35,31,31);
}
#P224_77
{
left:27558.3px;bottom:6314.67px;letter-spacing:1001.8px;color:rgb(35,31,31);
}
#P224_78
{
left:0px;letter-spacing:0px;margin-left:-1001.8px;
}
#P224_79
{
left:24280.4px;bottom:4989.48px;color:rgb(35,31,31);
}
#P224_80
{
left:27558.3px;bottom:4970.67px;letter-spacing:2537.8px;color:rgb(35,31,31);
}
#P224_81
{
left:0px;letter-spacing:0px;margin-left:-2537.8px;
}
#P224_82
{
left:5497.11px;bottom:36673.6px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P224_83
{
left:12365.4px;bottom:36698.2px;color:white;
}
#P224_84
{
left:15614px;bottom:36890px;color:white;
}
#P224_85
{
left:15854.2px;bottom:36698.2px;color:white;
}
#P224_86
{
left:18367.6px;bottom:36890px;color:white;
}
#P224_87
{
left:18607.8px;bottom:36698.2px;letter-spacing:-13.5px;word-spacing:-31.9px;color:white;
}
#P224_88
{
left:0px;letter-spacing:0px;margin-left:13.5px;
}
#P224_89
{
left:10521px;bottom:36531.1px;
}
#P224_90
{
left:10521px;bottom:36531.1px;color:white;
}
#P224_91
{
left:26785.2px;bottom:46188.3px;word-spacing:0.2px;color:rgb(33,31,31);
}
#P224_92
{
left:0px;letter-spacing:0px;margin-left:-44.8px;
}
#P224_93
{
left:0px;letter-spacing:0px;margin-left:0.2px;
}
#P224_94
{
left:2856.07px;bottom:43312.5px;word-spacing:-26px;color:rgb(0,124,196);
}
#P224_95
{
left:0px;letter-spacing:0px;margin-left:-17.5px;
}
#P224_96
{
left:0px;letter-spacing:0px;margin-left:-38.6px;
}
#P224_97
{
left:2856.07px;bottom:42370.5px;color:rgb(35,31,31);
}
#P224_98
{
left:2856.07px;bottom:41602.5px;color:rgb(35,31,31);
}
#P224_99
{
left:3624.07px;bottom:41602.5px;color:rgb(35,31,31);
}
#P224_100
{
left:2856.07px;bottom:40706.5px;color:rgb(35,31,31);
}
#P224_101
{
left:5807.13px;bottom:40706.5px;color:rgb(35,31,31);
}
#P224_102
{
left:5709.4px;bottom:7772.78px;color:rgb(35,31,31);
}
#P224_103
{
left:0px;letter-spacing:0px;margin-left:-66.2px;
}
#P224_104
{
left:10813.4px;bottom:43932.8px;letter-spacing:-70.3px;color:rgb(35,31,31);
}
#P224_105
{
left:0px;letter-spacing:-0.5px;margin-left:70.3px;
}
#P224_106
{
left:0px;letter-spacing:-1px;margin-left:0.5px;
}
#P224_107
{
left:26726px;bottom:43932.8px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P224_108
{
left:32257.4px;bottom:43932.8px;word-spacing:-42.1px;color:rgb(35,31,31);
}
#P224_109
{
left:0px;letter-spacing:0px;margin-left:-63.2px;
}
#P224_110
{
left:10813.4px;bottom:43036.8px;color:rgb(35,31,31);
}
#P224_111
{
left:0px;letter-spacing:0px;margin-left:-214.7px;
}
#P224_112
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P224_113
{
left:0px;letter-spacing:-0.6px;
}
#P224_114
{
left:0px;letter-spacing:6.9px;margin-left:-17px;
}
#P224_115
{
left:11581.5px;bottom:41756.8px;color:rgb(35,31,31);
}
#P224_115a
{
left: 12201.5px;bottom:41756.8px;color:rgb(35,31,31);
}
#P224_116
{
left:0px;letter-spacing:0px;
margin-left: 0;
}
#P224_117
{
left:0px;letter-spacing:-0.4px;
}
#P224_118
{
left:0px;letter-spacing:-3.5px;margin-left:0.4px;
}
#P224_119
{
left:11581.5px;bottom:40476.8px;color:rgb(35,31,31);
}
#P224_119a
{
left: 12211.5px;bottom:40476.8px;color:rgb(35,31,31);
}
#P224_120
{
left:0px;letter-spacing:0px;
margin-left: 0;
}
#P224_121
{
left:0px;letter-spacing:-0.5px;
}
#P224_122
{
left:0px;letter-spacing:0px;margin-left:0.5px;
}
#P224_123
{
left:0px;letter-spacing:0px;margin-left:-42px;
}
#P224_124
{
left:10813.5px;bottom:39196.8px;letter-spacing:-63.2px;color:rgb(35,31,31);
}
#P224_125
{
left:0px;letter-spacing:0px;margin-left:63.2px;
}
#P224_126
{
left:0px;letter-spacing:0px;margin-left:-214.8px;
}
#P224_127
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P224_128
{
left:0px;letter-spacing:-0.7px;
}
#P224_129
{
left:0px;letter-spacing:0px;margin-left:0.7px;
}
#P224_130
{
left:26001.9px;bottom:39196.8px;color:rgb(35,31,31);
}
#P224_131
{
left:29389.4px;bottom:39196.8px;color:rgb(35,31,31);
}
#P224_132
{
left:22884.9px;bottom:22501.4px;color:rgb(235,26,35);
}
#P224_133
{
left:23444.6px;bottom:22529.4px;color:rgb(235,26,35);
}
#P224_134
{
left:23516.6px;bottom:22529.6px;color:rgb(235,26,35);
}
#P224_135
{
left:24605.4px;bottom:22501.4px;color:rgb(235,26,35);
}
#P224_136
{
left:25165.1px;bottom:22529.4px;color:rgb(235,26,35);
}
#P224_137
{
left:25237.1px;bottom:22529.6px;color:rgb(235,26,35);
}
#P224_138
{
left:22884.9px;bottom:27365.4px;color:rgb(235,26,35);
}
#P224_139
{
left:23444.6px;bottom:27393.4px;color:rgb(235,26,35);
}
#P224_140
{
left:23516.6px;bottom:27393.6px;color:rgb(235,26,35);
}
#P224_141
{
left:24621.4px;bottom:27365.4px;color:rgb(235,26,35);
}
#P224_142
{
left:25181.1px;bottom:27393.4px;color:rgb(235,26,35);
}
#P224_143
{
left:25253.1px;bottom:27393.6px;color:rgb(235,26,35);
}
#P224_144
{
left:22308.9px;bottom:13489.6px;color:rgb(235,26,35);
}
#P224_145
{
left:22470.1px;bottom:13461.4px;color:rgb(235,26,35);
}
#P224_146
{
left:23191.1px;bottom:13489.6px;letter-spacing:531.7px;word-spacing:-531.7px;color:rgb(235,26,35);
}
#P224_147
{
left:24206.6px;bottom:13461.4px;color:rgb(235,26,35);
}
#P224_148
{
left:24766.4px;bottom:13489.6px;color:rgb(235,26,35);
}
#P224_149
{
left:22308.9px;bottom:18353.6px;color:rgb(235,26,35);
}
#P224_150
{
left:22470.1px;bottom:18325.4px;color:rgb(235,26,35);
}
#P224_151
{
left:23191.1px;bottom:18353.6px;letter-spacing:531.7px;word-spacing:-531.7px;color:rgb(235,26,35);
}
#P224_152
{
left:24206.6px;bottom:18325.4px;color:rgb(235,26,35);
}
#P224_153
{
left:24766.4px;bottom:18353.6px;color:rgb(235,26,35);
}
#PageContainer224
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg224.jpg");background-repeat:no-repeat;background-size: 990px 1291px; background-position: 0px 35.3699999999999px;
}
#ImageContainer224 {bottom:37.63px;left:0.00px;width:990.21px;height:1291.35px;position:absolute;} #TextContainer224 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.example1{position: absolute ; top: 335px; left: 96px;}
.nyr{position:absolute;top: 1103px;left: 124px;}
.nyr_exr{position:absolute;top: 1138px;left: 152px;color:rgb(35,31,31); font-size:16px}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}