.tr34{ color:transparent;}
#P34_1
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P34_2
{
left:2757.08px;bottom:1417.71px;color:rgb(35,31,31);
}
#P34_3
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P34_4
{
left:9121.88px;bottom:1417.71px;letter-spacing:461.9px;word-spacing:0.2px;color:rgb(35,31,31);
}
#P34_5
{
left:0px;letter-spacing:3px;margin-left:-458.4px;
}
#P34_6
{
left:0px;letter-spacing:3.7px;margin-left:2.8px;
}
#P34_7
{
left:0px;letter-spacing:-1.2px;margin-left:-3.9px;
}
#P34_8
{
left:0px;letter-spacing:-0.2px;margin-left:22.6px;
}
#P34_9
{
left:0px;letter-spacing:0px;margin-left:13.5px;
}
#P34_10
{
left:4619.35px;bottom:46736.5px;word-spacing:-26px;color:rgb(2,77,161);
}
#P34_11
{
left:0px;letter-spacing:0px;margin-left:-52.8px;
}
#P34_12
{
left:0px;letter-spacing:0px;margin-left:-12.5px;
}
#P34_13
{
left:10264.9px;bottom:46716.8px;letter-spacing:204.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P34_14
{
left:0px;letter-spacing:-0.5px;margin-left:-204.2px;
}
#P34_15
{
left:0px;letter-spacing:-0.1px;margin-left:0.5px;
}
#P34_16
{
left:21317.3px;bottom:46716.8px;letter-spacing:77.1px;color:rgb(35,31,31);
}
#P34_17
{
left:0px;letter-spacing:-0.7px;margin-left:-77.1px;
}
#P34_18
{
left:4619.42px;bottom:45820.8px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P34_19
{
left:4619.42px;bottom:44476.8px;color:rgb(35,31,31);
}
#P34_20
{
left:4796.44px;bottom:44496.5px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P34_21
{
left:0px;letter-spacing:0px;margin-left:12916.9px;
}
#P34_22
{
left:20559px;bottom:44476.8px;color:rgb(35,31,31);
}
#P34_23
{
left:4619.42px;bottom:36668.8px;letter-spacing:-0.3px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P34_24
{
left:0px;letter-spacing:-4.7px;margin-left:-3.8px;
}
#P34_25
{
left:4619.42px;bottom:35772.9px;letter-spacing:-0.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P34_26
{
left:4619.42px;bottom:34620.8px;color:rgb(35,31,31);
}
#P34_27
{
left:4796.44px;bottom:34640.5px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P34_28
{
left:6283.29px;bottom:34620.8px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P34_29
{
left:0px;letter-spacing:-7px;margin-left:-20.5px;
}
#P34_30
{
left:0px;letter-spacing:-0.2px;margin-left:7px;
}
#P34_31
{
left:6283.29px;bottom:33724.8px;color:rgb(35,31,31);
}
#P34_32
{
left:4619.42px;bottom:32124.9px;color:rgb(35,31,31);
}
#P34_33
{
left:4796.44px;bottom:32144.6px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P34_34
{
left:6283.29px;bottom:32124.9px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P34_35
{
left:0px;letter-spacing:0px;margin-left:-213.9px;
}
#P34_36
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P34_37
{
left:0px;letter-spacing:-0.9px;
}
#P34_38
{
left:0px;letter-spacing:-1.3px;margin-left:0.9px;
}
#P34_39
{
left:0px;letter-spacing:0px;margin-left:-19.7px;
}
#P34_40
{
left:0px;letter-spacing:0px;
}
#P34_41
{
left:6283.29px;bottom:31228.9px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P34_42
{
left:0px;letter-spacing:-8.1px;margin-left:-3.4px;
}
#P34_43
{
left:4619.42px;bottom:29628.9px;color:rgb(35,31,31);
}
#P34_44
{
left:4796.44px;bottom:29648.6px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P34_45
{
left:6283.29px;bottom:29628.9px;letter-spacing:-63.2px;color:rgb(35,31,31);
}
#P34_46
{
left:0px;letter-spacing:-0.3px;margin-left:63.2px;
}
#P34_47
{
left:0px;letter-spacing:0px;margin-left:-13.7px;
}
#P34_48
{
left:6283.29px;bottom:28733px;color:rgb(35,31,31);
}
#P34_49
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P34_50
{
left:0px;letter-spacing:0px;margin-left:-42px;
}
#P34_51
{
left:6283.29px;bottom:27837.1px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P34_52
{
left:4619.42px;bottom:26237.2px;color:rgb(35,31,31);
}
#P34_53
{
left:4796.44px;bottom:26256.9px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P34_54
{
left:6283.29px;bottom:26237.2px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P34_55
{
left:0px;letter-spacing:0px;margin-left:-11.6px;
}
#P34_56
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P34_57
{
left:0px;letter-spacing:0px;margin-left:-12.5px;
}
#P34_58
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P34_59
{
left:6283.29px;bottom:25341.2px;letter-spacing:-10.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P34_60
{
left:0px;letter-spacing:-0.5px;margin-left:10.4px;
}
#P34_61
{
left:4619.42px;bottom:23741.2px;color:rgb(35,31,31);
}
#P34_62
{
left:4796.44px;bottom:23760.9px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P34_63
{
left:6283.29px;bottom:23741.2px;color:rgb(35,31,31);
}
#P34_64
{
left:0px;letter-spacing:0px;margin-left:-70.3px;
}
#P34_65
{
left:0px;letter-spacing:0px;margin-left:5.5px;
}
#P34_66
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P34_67
{
left:6283.29px;bottom:22845.3px;letter-spacing:0.5px;color:rgb(35,31,31);
}
#P34_68
{
left:4619.42px;bottom:21245.4px;color:rgb(35,31,31);
}
#P34_69
{
left:4796.44px;bottom:21265.1px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P34_70
{
left:6283.29px;bottom:21245.4px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P34_71
{
left:0px;letter-spacing:-0.1px;margin-left:0.7px;
}
#P34_72
{
left:6283.29px;bottom:20349.4px;letter-spacing:-3px;color:rgb(35,31,31);
}
#P34_73
{
left:0px;letter-spacing:0px;margin-left:-17.9px;
}
#P34_74
{
left:0px;letter-spacing:-0.5px;
}
#P34_75
{
left:0px;letter-spacing:0px;margin-left:0.5px;
}
#P34_76
{
left:4619.42px;bottom:18237.4px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P34_77
{
left:0px;letter-spacing:0px;margin-left:-13.5px;
}
#P34_78
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P34_79
{
left:4619.42px;bottom:17085.3px;color:rgb(35,31,31);
}
#P34_80
{
left:4796.44px;bottom:17105px;color:rgb(35,31,31);
}
#P34_81
{
left:6417.69px;bottom:15870.5px;color:rgb(100,94,170);
}
#P34_82
{
left:9440.54px;bottom:13852.2px;color:rgb(100,94,170);
}
#P34_83
{
left:12352.7px;bottom:17084.8px;color:rgb(35,31,31);
}
#P34_84
{
left:15100.5px;bottom:17104.5px;color:rgb(35,31,31);
}
#P34_85
{
left:16721.7px;bottom:15339.5px;color:rgb(235,26,35);
}
#P34_86
{
left:20094.2px;bottom:12764.2px;color:rgb(235,26,35);
}
#P34_87
{
left:23694.6px;bottom:17084.8px;color:rgb(35,31,31);
}
#P34_88
{
left:25404.5px;bottom:17104.5px;color:rgb(35,31,31);
}
#P34_89
{
left:26897.7px;bottom:15336.6px;color:rgb(0,145,68);
}
#P34_90
{
left:29838.2px;bottom:12764.2px;color:rgb(0,145,68);
}
#P34_91
{
left:4619.35px;bottom:10876.8px;color:rgb(35,31,31);
}
#P34_92
{
left:4796.51px;bottom:10896.5px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P34_93
{
left:6283.35px;bottom:10896.5px;letter-spacing:-1.4px;color:rgb(2,77,161);
}
#P34_94
{
left:9907.61px;bottom:10876.8px;letter-spacing:168.3px;color:rgb(35,31,31);
}
#P34_95
{
left:0px;letter-spacing:-0.4px;margin-left:-168.3px;
}
#P34_96
{
left:0px;letter-spacing:0px;margin-left:0.4px;
}
#P34_97
{
left:6283.35px;bottom:9980.78px;color:rgb(35,31,31);
}
#P34_98
{
left:0px;letter-spacing:0px;margin-left:-25.3px;
}
#P34_99
{
left:0px;letter-spacing:0px;margin-left:-21px;
}
#P34_100
{
left:0px;letter-spacing:0px;margin-left:-21px;
}
#P34_101
{
left:0px;letter-spacing:0px;margin-left:-4.1px;
}
#P34_102
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P34_103
{
left:6283.35px;bottom:9084.84px;letter-spacing:-0.2px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P34_104
{
left:4619.35px;bottom:7292.78px;color:rgb(35,31,31);
}
#P34_105
{
left:4796.51px;bottom:7312.49px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P34_106
{
left:6283.35px;bottom:7312.49px;color:rgb(2,77,161);
}
#P34_107
{
left:8496.1px;bottom:7292.78px;word-spacing:151.5px;color:rgb(35,31,31);
}
#P34_108
{
left:0px;letter-spacing:0px;margin-left:-63.2px;
}
#P34_109
{
left:0px;letter-spacing:0px;margin-left:-151.5px;
}
#P34_110
{
left:10052.7px;bottom:7292.78px;letter-spacing:28.2px;color:rgb(35,31,31);
}
#P34_111
{
left:0px;letter-spacing:-0.6px;margin-left:-28.2px;
}
#P34_112
{
left:0px;letter-spacing:0px;margin-left:-20.3px;
}
#P34_113
{
left:0px;letter-spacing:-0.2px;
}
#P34_114
{
left:6283.35px;bottom:6396.78px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P34_115
{
left:0px;letter-spacing:0px;margin-left:-19.7px;
}
#P34_116
{
left:0px;letter-spacing:-0.2px;margin-left:-4.2px;
}
#P34_117
{
left:4619.48px;bottom:4604.78px;color:rgb(35,31,31);
}
#P34_118
{
left:4796.51px;bottom:4624.49px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P34_119
{
left:6283.35px;bottom:4624.49px;color:rgb(2,77,161);
}
#P34_120
{
left:11122.6px;bottom:4604.78px;letter-spacing:151.5px;color:rgb(35,31,31);
}
#P34_121
{
left:0px;letter-spacing:-0.4px;margin-left:-158.4px;
}
#P34_122
{
left:0px;letter-spacing:0.7px;margin-left:0.4px;
}
#P34_123
{
left:27335.7px;bottom:4595.63px;color:rgb(35,31,31);
}
#P34_124
{
left:27922.1px;bottom:4604.78px;color:rgb(35,31,31);
}
#P34_125
{
left:6283.35px;bottom:3708.8px;color:rgb(35,31,31);
}
#P34_126
{
left:7934.23px;bottom:3699.65px;color:rgb(35,31,31);
}
#P34_127
{
left:8520.67px;bottom:3708.8px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P34_128
{
left:20992.7px;bottom:41104.4px;color:rgb(35,31,31);
}
#P34_129
{
left:20992.7px;bottom:39537.9px;color:rgb(35,31,31);
}
#P34_130
{
left:24192.7px;bottom:42900.4px;color:rgb(35,31,31);
}
#P34_131
{
left:24796.8px;bottom:42942.6px;color:rgb(35,31,31);
}
#P34_132
{
left:24796.8px;bottom:43077.8px;color:rgb(35,31,31);
}
#P34_133
{
left:24953px;bottom:42921.8px;color:rgb(35,31,31);
}
#P34_134
{
left:24829.8px;bottom:43059.9px;color:rgb(35,31,31);
}
#P34_135
{
left:26527.9px;bottom:42970.5px;color:rgb(35,31,31);
}
#P34_136
{
left:25023.4px;bottom:42900.4px;word-spacing:-88px;color:rgb(35,31,31);
}
#P34_137
{
left:26615.9px;bottom:42942.6px;color:rgb(35,31,31);
}
#P34_138
{
left:25243px;bottom:43672.3px;word-spacing:-88px;color:rgb(35,31,31);
}
#P34_139
{
left:24352.7px;bottom:42204.3px;color:rgb(35,31,31);
}
#P34_140
{
left:25027.2px;bottom:42171.2px;word-spacing:-88px;color:rgb(35,31,31);
}
#P34_141
{
left:25418px;bottom:41339.2px;word-spacing:1049.3px;color:rgb(35,31,31);
}
#P34_142
{
left:24192.7px;bottom:40540.4px;letter-spacing:286.9px;color:rgb(35,31,31);
}
#P34_143
{
left:25242.1px;bottom:40507.3px;color:rgb(35,31,31);
}
#P34_144
{
left:24192.7px;bottom:39739.3px;letter-spacing:1737.8px;color:rgb(35,31,31);
}
#P34_145
{
left:0px;bottom:0px;letter-spacing:0px;color:rgb(235,26,35);
}
#P34_146
{
left:6193.11px;bottom:41579.2px;color:rgb(35,31,31);
}
#P34_147
{
left:6219.35px;bottom:44496.5px;color:rgb(33,31,31);
}
#P34_148
{
left:6193.11px;bottom:43843.6px;letter-spacing:3809.6px;color:rgb(35,31,31);
}
#P34_149
{
left:10801.1px;bottom:43801.3px;color:rgb(35,31,31);
}
#P34_150
{
left:6193.11px;bottom:42905.3px;color:rgb(35,31,31);
}
#P34_151
{
left:10282.7px;bottom:42938.3px;color:rgb(35,31,31);
}
#P34_152
{
left:10869.1px;bottom:42905.3px;color:rgb(35,31,31);
}
#P34_153
{
left:10513.1px;bottom:42009.3px;word-spacing:4144px;color:rgb(35,31,31);
}
#P34_154
{
left:10801.1px;bottom:41113.3px;word-spacing:4432px;color:rgb(35,31,31);
}
#P34_155
{
left:10609.1px;bottom:40217.3px;word-spacing:4240px;color:rgb(35,31,31);
}
#P34_156
{
left:0px;bottom:0px;letter-spacing:0px;color:rgb(235,26,35);
}
#P34_157
{
left:21503.7px;bottom:43112.5px;
}
#P34_158
{
left:6673.75px;bottom:42892.8px;
}
#PageContainer34
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg034.jpg");background-repeat:no-repeat;background-size: 782px 868px; background-position: 167.73px 133.71px;
}
#ImageContainer34 {bottom:362.29px;left:167.73px;width:782.35px;height:867.64px;position:absolute;} #TextContainer34 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}