.tr389{ color:transparent;}
#P389_1
{
left:4592.6px;bottom:1544.43px;letter-spacing:17931.8px;color:rgb(35,31,31);
}
#P389_2
{
left:22880.3px;bottom:1410.03px;color:rgb(35,31,31);
}
#P389_3
{
left:25085px;bottom:1544.43px;color:rgb(35,31,31);
}
#P389_4
{
left:25262.9px;bottom:1410.03px;letter-spacing:17px;color:rgb(35,31,31);
}
#P389_5
{
left:26186.6px;bottom:1544.43px;letter-spacing:462.1px;color:rgb(35,31,31);
}
#P389_6
{
left:0px;letter-spacing:4.9px;margin-left:-462.1px;
}
#P389_7
{
left:0px;letter-spacing:1.1px;margin-left:-0.8px;
}
#P389_8
{
left:0px;letter-spacing:3.5px;margin-left:-1.1px;
}
#P389_9
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P389_10
{
left:14072.5px;bottom:44778.2px;letter-spacing:-2.9px;color:rgb(35,31,31);
}
#P389_11
{
left:0px;letter-spacing:0px;margin-left:-35.8px;
}
#P389_12
{
left:17347px;bottom:44934.4px;color:rgb(35,31,31);
}
#P389_13
{
left:17542.7px;bottom:44778.2px;color:rgb(35,31,31);
}
#P389_14
{
left:20803.6px;bottom:44934.4px;color:rgb(35,31,31);
}
#P389_15
{
left:20999.3px;bottom:44778.2px;color:rgb(35,31,31);
}
#P389_16
{
left:14072.5px;bottom:43670.4px;color:rgb(35,31,31);
}
#P389_17
{
left:14677.9px;bottom:43670.4px;color:rgb(35,31,31);
}
#P389_18
{
left:19929.7px;bottom:43670.4px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P389_19
{
left:14072.5px;bottom:42794.2px;color:rgb(35,31,31);
}
#P389_20
{
left:7710.81px;bottom:35938.8px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P389_21
{
left:14579.1px;bottom:35963.4px;color:white;
}
#P389_22
{
left:14994.6px;bottom:36155.2px;color:white;
}
#P389_23
{
left:15234.8px;bottom:35963.4px;color:white;
}
#P389_24
{
left:16211.2px;bottom:36155.2px;color:white;
}
#P389_25
{
left:16451.4px;bottom:35963.4px;letter-spacing:-2.1px;color:white;
}
#P389_26
{
left:0px;letter-spacing:-1.9px;margin-left:2.1px;
}
#P389_27
{
left:0px;letter-spacing:-47.4px;margin-left:-30px;
}
#P389_28
{
left:26712.7px;bottom:36155.2px;color:white;
}
#P389_29
{
left:26952.9px;bottom:35963.4px;color:white;
}
#P389_30
{
left:30954.9px;bottom:36155.2px;color:white;
}
#P389_31
{
left:31195.1px;bottom:35963.4px;color:white;
}
#P389_32
{
left:12734.7px;bottom:35796.2px;
}
#P389_33
{
left:12734.7px;bottom:35796.2px;color:white;
}
#P389_34
{
left:13614.1px;bottom:34333.9px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P389_35
{
left:0px;letter-spacing:0.4px;margin-left:-13.4px;
}
#P389_36
{
left:13614.1px;bottom:33181.9px;color:rgb(35,31,31);
}
#P389_37
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P389_38
{
left:0px;letter-spacing:0px;margin-left:-214.8px;
}
#P389_39
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P389_40
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P389_41
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P389_42
{
left:13678.1px;bottom:24669.9px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P389_43
{
left:0px;letter-spacing:-0.9px;margin-left:0.9px;
}
#P389_44
{
left:13771.2px;bottom:23381.9px;letter-spacing:-1.9px;color:rgb(35,31,31);
}
#P389_45
{
left:14239.7px;bottom:22486px;letter-spacing:-4.7px;color:rgb(35,31,31);
}
#P389_46
{
left:16238.1px;bottom:22877.9px;color:rgb(35,31,31);
}
#P389_47
{
left:16396.5px;bottom:22848.4px;color:rgb(35,31,31);
}
#P389_48
{
left:16982.9px;bottom:22877.9px;color:rgb(35,31,31);
}
#P389_49
{
left:17308.2px;bottom:23381.9px;letter-spacing:-1.7px;color:rgb(35,31,31);
}
#P389_50
{
left:17237.6px;bottom:22485.9px;color:rgb(35,31,31);
}
#P389_51
{
left:19701.2px;bottom:22877.9px;color:rgb(35,31,31);
}
#P389_52
{
left:19859.6px;bottom:22848.4px;color:rgb(35,31,31);
}
#P389_53
{
left:20446px;bottom:22877.9px;color:rgb(35,31,31);
}
#P389_54
{
left:20771.4px;bottom:23381.9px;letter-spacing:-1.7px;color:rgb(35,31,31);
}
#P389_55
{
left:21095.3px;bottom:22485.9px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P389_56
{
left:23164.5px;bottom:22877.9px;color:rgb(35,31,31);
}
#P389_57
{
left:23322.9px;bottom:22848.4px;color:rgb(35,31,31);
}
#P389_58
{
left:23909.3px;bottom:22877.9px;color:rgb(35,31,31);
}
#P389_59
{
left:24234.6px;bottom:23381.9px;letter-spacing:-1.7px;color:rgb(35,31,31);
}
#P389_60
{
left:24594.1px;bottom:22485.9px;color:rgb(35,31,31);
}
#P389_61
{
left:26627.6px;bottom:22877.9px;color:rgb(35,31,31);
}
#P389_62
{
left:26786px;bottom:22848.4px;color:rgb(35,31,31);
}
#P389_63
{
left:27372.4px;bottom:22877.9px;color:rgb(35,31,31);
}
#P389_64
{
left:27697.9px;bottom:23381.9px;letter-spacing:-1.7px;color:rgb(35,31,31);
}
#P389_65
{
left:27900.3px;bottom:22485.9px;color:rgb(35,31,31);
}
#P389_66
{
left:30090.8px;bottom:22877.9px;color:rgb(35,31,31);
}
#P389_67
{
left:30249.2px;bottom:22848.4px;color:rgb(35,31,31);
}
#P389_68
{
left:30835.6px;bottom:22877.9px;color:rgb(35,31,31);
}
#P389_69
{
left:31161px;bottom:23381.9px;letter-spacing:-1.7px;color:rgb(35,31,31);
}
#P389_70
{
left:31363.5px;bottom:22485.9px;color:rgb(35,31,31);
}
#P389_71
{
left:13678px;bottom:21214.1px;color:rgb(35,31,31);
}
#P389_72
{
left:14770.3px;bottom:21214.1px;color:rgb(35,31,31);
}
#P389_73
{
left:15145.6px;bottom:21214.1px;letter-spacing:934px;color:rgb(35,31,31);
}
#P389_74
{
left:16396.2px;bottom:21184.5px;color:rgb(35,31,31);
}
#P389_75
{
left:16982.7px;bottom:21214.1px;color:rgb(35,31,31);
}
#P389_76
{
left:17977px;bottom:21213.9px;color:rgb(235,26,35);
}
#P389_77
{
left:18723.2px;bottom:21213.9px;letter-spacing:824.1px;color:rgb(35,31,31);
}
#P389_78
{
left:19864.1px;bottom:21184.4px;color:rgb(35,31,31);
}
#P389_79
{
left:20450.4px;bottom:21213.9px;color:rgb(35,31,31);
}
#P389_80
{
left:21497px;bottom:21213.9px;color:rgb(0,170,77);
}
#P389_81
{
left:22243.2px;bottom:21213.9px;letter-spacing:760px;color:rgb(35,31,31);
}
#P389_82
{
left:23320.1px;bottom:21184.4px;color:rgb(35,31,31);
}
#P389_83
{
left:23906.5px;bottom:21213.9px;color:rgb(35,31,31);
}
#P389_84
{
left:24953px;bottom:21213.9px;color:rgb(0,170,77);
}
#P389_85
{
left:25699.2px;bottom:21213.9px;letter-spacing:760px;color:rgb(35,31,31);
}
#P389_86
{
left:26776.1px;bottom:21184.4px;color:rgb(35,31,31);
}
#P389_87
{
left:27362.5px;bottom:21213.9px;color:rgb(35,31,31);
}
#P389_88
{
left:28286.4px;bottom:21213.9px;color:rgb(0,124,196);
}
#P389_89
{
left:29405.8px;bottom:21213.9px;letter-spacing:509.5px;color:rgb(35,31,31);
}
#P389_90
{
left:30232.1px;bottom:21184.4px;color:rgb(35,31,31);
}
#P389_91
{
left:30818.5px;bottom:21213.9px;color:rgb(35,31,31);
}
#P389_92
{
left:31929px;bottom:21213.9px;color:rgb(253,184,18);
}
#P389_93
{
left:33582.1px;bottom:21213.9px;color:rgb(35,31,31);
}
#P389_94
{
left:33740.5px;bottom:21184.4px;color:rgb(35,31,31);
}
#P389_95
{
left:34326.9px;bottom:21213.9px;color:rgb(35,31,31);
}
#P389_96
{
left:14198.1px;bottom:19613.9px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P389_97
{
left:0px;letter-spacing:-9.3px;margin-left:-554px;
}
#P389_98
{
left:0px;letter-spacing:-0.3px;margin-left:9.3px;
}
#P389_99
{
left:0px;letter-spacing:0px;margin-left:-13.6px;
}
#P389_100
{
left:0px;letter-spacing:0px;margin-left:-13.9px;
}
#P389_101
{
left:13885.4px;bottom:16509.9px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P389_102
{
left:0px;letter-spacing:0px;margin-left:-13.4px;
}
#P389_103
{
left:0px;letter-spacing:0.3px;margin-left:-14px;
}
#P389_104
{
left:14349px;bottom:15384.7px;word-spacing:453.2px;color:rgb(35,31,31);
}
#P389_105
{
left:0px;letter-spacing:0px;margin-left:5711.5px;
}
#P389_106
{
left:27090.5px;bottom:13059.2px;color:rgb(35,31,31);
}
#P389_107
{
left:27090.5px;bottom:12406.4px;color:rgb(35,31,31);
}
#P389_108
{
left:26643.8px;bottom:12716.1px;color:rgb(35,31,31);
}
#P389_109
{
left:26021.7px;bottom:10697.3px;color:rgb(35,31,31);
}
#P389_110
{
left:23610.6px;bottom:10507.2px;color:rgb(35,31,31);
}
#P389_111
{
left:29581px;bottom:15384.7px;word-spacing:600.5px;color:rgb(35,31,31);
}
#P389_112
{
left:13885.4px;bottom:8893.93px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P389_113
{
left:0px;letter-spacing:0.4px;margin-left:-13.4px;
}
#P389_114
{
left:14349px;bottom:7768.75px;word-spacing:453.2px;color:rgb(35,31,31);
}
#P389_115
{
left:0px;letter-spacing:0px;margin-left:5711.5px;
}
#P389_116
{
left:0px;letter-spacing:0px;margin-left:7119.5px;
}
#P389_117
{
left:13885.4px;bottom:6488.75px;color:rgb(35,31,31);
}
#P389_118
{
left:16902.5px;bottom:3698.16px;color:rgb(98,93,170);
}
#P389_119
{
left:14457.4px;bottom:5344.94px;color:rgb(98,93,170);
}
#P389_120
{
left:20016.3px;bottom:4531.05px;color:rgb(98,93,170);
}
#P389_121
{
left:19217.4px;bottom:7071.21px;color:rgb(98,93,170);
}
#P389_122
{
left:21277.4px;bottom:6488.75px;color:rgb(35,31,31);
}
#P389_123
{
left:24042.2px;bottom:4922.67px;color:rgb(202,121,73);
}
#P389_124
{
left:22147.7px;bottom:6546.41px;color:rgb(202,121,73);
}
#P389_125
{
left:27382.4px;bottom:7475.5px;color:rgb(202,121,73);
}
#P389_126
{
left:27893.9px;bottom:5495.21px;color:rgb(202,121,73);
}
#P389_127
{
left:23374.6px;bottom:5700.84px;color:rgb(202,121,73);
}
#P389_128
{
left:29080.9px;bottom:6461.93px;color:rgb(35,31,31);
}
#P389_129
{
left:34318.8px;bottom:3876.46px;color:rgb(218,91,107);
}
#P389_130
{
left:29827.7px;bottom:6799.08px;color:rgb(218,91,107);
}
#P389_131
{
left:30264.9px;bottom:4171.95px;color:rgb(218,91,107);
}
#P389_132
{
left:35212.8px;bottom:6890.67px;color:rgb(218,91,107);
}
#P389_133
{
left:13707.4px;bottom:31945.3px;word-spacing:9.9px;color:rgb(235,26,35);
}
#P389_134
{
left:0px;letter-spacing:0px;margin-left:-4.2px;
}
#P389_135
{
left:0px;letter-spacing:0px;margin-left:599.7px;
}
#P389_136
{
left:17911px;bottom:31506.7px;color:rgb(235,26,35);
}
#P389_137
{
left:18262.7px;bottom:31945.3px;color:rgb(235,26,35);
}
#P389_138
{
left:18952.7px;bottom:31915.7px;color:rgb(235,26,35);
}
#P389_139
{
left:19539.1px;bottom:31945.3px;color:rgb(235,26,35);
}
#P389_140
{
left:14353.8px;bottom:30473.3px;letter-spacing:-2.6px;word-spacing:658.8px;color:rgb(0,170,77);
}
#P389_141
{
left:17080.3px;bottom:30912.9px;color:rgb(0,170,77);
}
#P389_142
{
left:17416.1px;bottom:30490.9px;color:rgb(0,170,77);
}
#P389_143
{
left:17059.2px;bottom:30457.2px;color:rgb(0,170,77);
}
#P389_144
{
left:17437.2px;bottom:30474.5px;color:rgb(0,170,77);
}
#P389_145
{
left:17080.3px;bottom:30005.4px;color:rgb(0,170,77);
}
#P389_146
{
left:17416.1px;bottom:30490.9px;color:rgb(0,170,77);
}
#P389_147
{
left:17437.2px;bottom:30473.3px;letter-spacing:-158.4px;color:rgb(0,170,77);
}
#P389_148
{
left:17542.7px;bottom:30034.7px;color:rgb(0,170,77);
}
#P389_149
{
left:17894.6px;bottom:30473.3px;color:rgb(0,170,77);
}
#P389_150
{
left:18904.8px;bottom:30034.7px;color:rgb(0,170,77);
}
#P389_151
{
left:19256.5px;bottom:30473.3px;color:rgb(0,170,77);
}
#P389_152
{
left:19946.5px;bottom:30443.7px;color:rgb(0,170,77);
}
#P389_153
{
left:20532.9px;bottom:30473.3px;color:rgb(0,170,77);
}
#P389_154
{
left:14572px;bottom:28617.2px;word-spacing:874.4px;color:rgb(0,170,77);
}
#P389_155
{
left:0px;letter-spacing:0px;margin-left:-8.5px;
}
#P389_156
{
left:17080.3px;bottom:29056.9px;color:rgb(0,170,77);
}
#P389_157
{
left:17416.1px;bottom:28634.9px;color:rgb(0,170,77);
}
#P389_158
{
left:17059.2px;bottom:28601.2px;color:rgb(0,170,77);
}
#P389_159
{
left:17437.2px;bottom:28618.5px;color:rgb(0,170,77);
}
#P389_160
{
left:17080.3px;bottom:28149.4px;color:rgb(0,170,77);
}
#P389_161
{
left:17416.1px;bottom:28634.9px;color:rgb(0,170,77);
}
#P389_162
{
left:17437.2px;bottom:28617.3px;letter-spacing:-158.4px;color:rgb(0,170,77);
}
#P389_163
{
left:17542.7px;bottom:28178.7px;color:rgb(0,170,77);
}
#P389_164
{
left:17894.6px;bottom:28617.3px;color:rgb(0,170,77);
}
#P389_165
{
left:18904.8px;bottom:28178.7px;color:rgb(0,170,77);
}
#P389_166
{
left:19256.5px;bottom:28617.3px;color:rgb(0,170,77);
}
#P389_167
{
left:19946.5px;bottom:28587.7px;color:rgb(0,170,77);
}
#P389_168
{
left:20532.9px;bottom:28617.3px;color:rgb(0,170,77);
}
#P389_169
{
left:14750px;bottom:27017.3px;word-spacing:1052.4px;color:rgb(0,124,196);
}
#P389_170
{
left:0px;letter-spacing:0px;margin-left:-13.9px;
}
#P389_171
{
left:0px;letter-spacing:0px;margin-left:-442.8px;
}
#P389_172
{
left:17910.9px;bottom:26578.7px;color:rgb(0,124,196);
}
#P389_173
{
left:18262.7px;bottom:27017.3px;color:rgb(0,124,196);
}
#P389_174
{
left:18952.7px;bottom:26987.7px;color:rgb(0,124,196);
}
#P389_175
{
left:19539.1px;bottom:27017.3px;color:rgb(0,124,196);
}
#P389_176
{
left:13539.2px;bottom:25929.3px;color:rgb(0,124,196);
}
#P389_177
{
left:14750px;bottom:25929.3px;letter-spacing:-2px;word-spacing:609.6px;color:rgb(253,184,18);
}
#P389_178
{
left:17537.8px;bottom:25490.7px;color:rgb(253,184,18);
}
#P389_179
{
left:17889.6px;bottom:25929.3px;color:rgb(253,184,18);
}
#P389_180
{
left:18579.5px;bottom:25899.7px;color:rgb(253,184,18);
}
#P389_181
{
left:19166px;bottom:25929.3px;color:rgb(253,184,18);
}
#P389_182
{
left:4781.85px;bottom:42623.7px;color:white;
}
#P389_183
{
left:5016.54px;bottom:41529.7px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P389_184
{
left:7529.88px;bottom:41529.7px;color:rgb(35,31,31);
}
#P389_185
{
left:7956.76px;bottom:41529.7px;color:rgb(35,31,31);
}
#P389_186
{
left:5016.54px;bottom:40761.7px;letter-spacing:-9.6px;color:rgb(35,31,31);
}
#P389_187
{
left:7730.07px;bottom:40761.7px;color:rgb(35,31,31);
}
#P389_188
{
left:8076.31px;bottom:40761.7px;letter-spacing:-9.6px;color:rgb(35,31,31);
}
#P389_189
{
left:11269.3px;bottom:40761.7px;color:rgb(35,31,31);
}
#P389_190
{
left:5016.54px;bottom:39609.7px;color:rgb(35,31,31);
}
#P389_191
{
left:5585.5px;bottom:39609.7px;color:rgb(35,31,31);
}
#P389_192
{
left:6012.38px;bottom:39609.7px;color:rgb(35,31,31);
}
#P389_193
{
left:6190.3px;bottom:39561.1px;color:rgb(35,31,31);
}
#P389_194
{
left:6723.42px;bottom:39609.7px;color:rgb(35,31,31);
}
#P389_195
{
left:0px;letter-spacing:0px;margin-left:-177.9px;
}
#P389_196
{
left:6920.47px;bottom:40009.1px;color:rgb(35,31,31);
}
#P389_197
{
left:7240.73px;bottom:39623.5px;color:rgb(35,31,31);
}
#P389_198
{
left:6901.27px;bottom:39575.3px;color:rgb(35,31,31);
}
#P389_199
{
left:7259.93px;bottom:39589.1px;color:rgb(35,31,31);
}
#P389_200
{
left:6920.47px;bottom:39184.1px;color:rgb(35,31,31);
}
#P389_201
{
left:7240.73px;bottom:39623.5px;color:rgb(35,31,31);
}
#P389_202
{
left:7311.13px;bottom:39609.7px;color:rgb(35,31,31);
}
#P389_203
{
left:7311.13px;bottom:39609.7px;color:rgb(35,31,31);
}
#P389_204
{
left:8022.81px;bottom:39609.7px;color:rgb(35,31,31);
}
#P389_205
{
left:11070.7px;bottom:33535px;color:rgb(35,31,31);
}
#P389_206
{
left:10360.5px;bottom:31666.4px;color:rgb(35,31,31);
}
#P389_207
{
left:7054.23px;bottom:33946.8px;color:rgb(35,31,31);
}
#P389_208
{
left:6248.41px;bottom:30814.5px;color:rgb(35,31,31);
}
#P389_209
{
left:25512.9px;bottom:28960.3px;color:rgb(0,124,196);
}
#P389_210
{
left:29832.9px;bottom:28960.3px;color:rgb(237,28,35);
}
#P389_211
{
left:33576.3px;bottom:28960.3px;color:rgb(242,121,40);
}
#P389_212
{
left:35285.3px;bottom:28960.3px;color:rgb(35,31,31);
}
#P389_213
{
left:33881.6px;bottom:31588.6px;color:rgb(35,31,31);
}
#P389_214
{
left:25257.1px;bottom:30904.3px;color:rgb(35,31,31);
}
#P389_215
{
left:29463.6px;bottom:31850.1px;color:rgb(35,31,31);
}
#P389_216
{
left:30057.5px;bottom:30105.4px;color:rgb(35,31,31);
}
#P389_217
{
left:30605.8px;bottom:26931.6px;color:rgb(0,145,68);
}
#P389_218
{
left:30669.8px;bottom:30935.4px;color:rgb(0,145,68);
}
#P389_219
{
left:7965.4px;bottom:15644.8px;color:rgb(35,31,31);
}
#P389_220
{
left:21047.2px;bottom:13352.7px;color:rgb(98,93,170);
}
#P389_221
{
left:14890.9px;bottom:12601.1px;color:rgb(98,93,170);
}
#P389_222
{
left:18312.9px;bottom:11800.4px;color:rgb(98,93,170);
}
#P389_223
{
left:30908.8px;bottom:11827.3px;color:rgb(218,91,107);
}
#P389_224
{
left:34447.2px;bottom:12954px;color:rgb(218,91,107);
}
#P389_225
{
left:35575.6px;bottom:14903.7px;color:rgb(218,91,107);
}
#P389_226
{
left:30900.6px;bottom:41081.8px;color:rgb(0,124,196);
}
#P389_227
{
left:35460.4px;bottom:41081.8px;color:rgb(242,121,40);
}
#P389_228
{
left:33340.2px;bottom:42783.7px;color:rgb(0,145,68);
}
#P389_229
{
left:33283.4px;bottom:39340.5px;color:rgb(0,145,68);
}
#P389_230
{
left:32813.7px;bottom:41081.8px;color:rgb(237,28,35);
}
#P389_231
{
left:19567.3px;bottom:41084.3px;color:rgb(35,31,31);
}
#P389_232
{
left:0px;letter-spacing:0px;margin-left:5883px;
}
#P389_233
{
left:15662px;bottom:38986.3px;color:rgb(0,145,68);
}
#PageContainer389
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg389.jpg");background-repeat:no-repeat;background-size: 906px 1215px; background-position: 119.34px 68.77px;
}
#ImageContainer389 {bottom:80.23px;left:119.34px;width:905.90px;height:1214.69px;position:absolute;} #TextContainer389 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.example2{  position: absolute;  top: 356px;  left: 161px;
}
.nyr{position: absolute;top: 888px;left: 186px;}
.nyr_exr{position: absolute;top: 928px;left: 228px;color:rgb(35,31,31);font-size:16px;white-space:pre;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}