.tr665{ color:transparent;}
#P665_1
{
left:4592.6px;bottom:1417.71px;color:rgb(35,31,31);
}
#P665_2
{
left:24780.1px;bottom:1410.03px;color:rgb(35,31,31);
}
#P665_3
{
left:29697px;bottom:1417.71px;letter-spacing:3.6px;word-spacing:462.8px;color:rgb(35,31,31);
}
#P665_4
{
left:0px;letter-spacing:0px;margin-left:174.3px;
}
#P665_5
{
left:0px;letter-spacing:0.1px;margin-left:-23px;
}
#P665_6
{
left:0px;letter-spacing:-0.6px;margin-left:-0.9px;
}
#P665_7
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P665_8
{
left:6909.4px;bottom:10690.5px;letter-spacing:-14.8px;color:rgb(35,31,31);
}
#P665_9
{
left:0px;letter-spacing:-1px;margin-left:14.8px;
}
#P665_10
{
left:17711.6px;bottom:10690.5px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P665_11
{
left:6909.4px;bottom:9218.48px;color:rgb(35,31,31);
}
#P665_12
{
left:7086.55px;bottom:9238.19px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P665_13
{
left:8509.4px;bottom:9238.19px;color:rgb(35,31,31);
}
#P665_14
{
left:8530.52px;bottom:9660.27px;color:rgb(35,31,31);
}
#P665_15
{
left:9202.14px;bottom:9236.08px;color:rgb(35,31,31);
}
#P665_16
{
left:8509.4px;bottom:9204.58px;color:rgb(35,31,31);
}
#P665_17
{
left:9223.26px;bottom:9219.74px;color:rgb(35,31,31);
}
#P665_18
{
left:8530.52px;bottom:8752.68px;color:rgb(35,31,31);
}
#P665_19
{
left:9202.14px;bottom:9236.08px;color:rgb(35,31,31);
}
#P665_20
{
left:9223.26px;bottom:9218.48px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P665_21
{
left:14382.6px;bottom:9238.19px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P665_22
{
left:15805.4px;bottom:9238.19px;color:rgb(35,31,31);
}
#P665_23
{
left:15994.4px;bottom:9660.27px;color:rgb(35,31,31);
}
#P665_24
{
left:16330.2px;bottom:9236.08px;color:rgb(35,31,31);
}
#P665_25
{
left:15805.4px;bottom:9204.58px;color:rgb(35,31,31);
}
#P665_26
{
left:16519.3px;bottom:9219.74px;color:rgb(35,31,31);
}
#P665_27
{
left:15826.5px;bottom:8752.68px;color:rgb(35,31,31);
}
#P665_28
{
left:16498.1px;bottom:9236.08px;color:rgb(35,31,31);
}
#P665_29
{
left:16519.3px;bottom:9218.48px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P665_30
{
left:21806.6px;bottom:9238.19px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P665_31
{
left:23229.4px;bottom:9238.19px;color:rgb(35,31,31);
}
#P665_32
{
left:23250.5px;bottom:9660.27px;color:rgb(35,31,31);
}
#P665_33
{
left:23922.1px;bottom:9236.08px;color:rgb(35,31,31);
}
#P665_34
{
left:23229.4px;bottom:9204.58px;color:rgb(35,31,31);
}
#P665_35
{
left:23943.3px;bottom:9219.74px;color:rgb(35,31,31);
}
#P665_36
{
left:23250.5px;bottom:8752.68px;color:rgb(35,31,31);
}
#P665_37
{
left:23922.1px;bottom:9236.08px;color:rgb(35,31,31);
}
#P665_38
{
left:23943.3px;bottom:9218.48px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P665_39
{
left:29166.6px;bottom:9238.19px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P665_40
{
left:30589.5px;bottom:9238.19px;color:rgb(35,31,31);
}
#P665_41
{
left:30610.5px;bottom:9660.27px;color:rgb(35,31,31);
}
#P665_42
{
left:31282.1px;bottom:9236.08px;color:rgb(35,31,31);
}
#P665_43
{
left:30589.4px;bottom:9204.58px;color:rgb(35,31,31);
}
#P665_44
{
left:31303.3px;bottom:9219.74px;color:rgb(35,31,31);
}
#P665_45
{
left:30610.5px;bottom:8752.68px;color:rgb(35,31,31);
}
#P665_46
{
left:31282.1px;bottom:9236.08px;color:rgb(35,31,31);
}
#P665_47
{
left:31303.3px;bottom:9218.48px;color:rgb(35,31,31);
}
#P665_48
{
left:6909.4px;bottom:7106.48px;color:rgb(35,31,31);
}
#P665_49
{
left:7086.43px;bottom:7126.19px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P665_50
{
left:8573.4px;bottom:7126.19px;letter-spacing:-17.6px;color:rgb(2,77,161);
}
#P665_51
{
left:0px;letter-spacing:0px;margin-left:17.6px;
}
#P665_52
{
left: 14139px;bottom:7106.48px;letter-spacing:151.5px;color:rgb(35,31,31);
}
#P665_53
{
left:0px;letter-spacing:-0.6px;margin-left:-151.5px;
}
#P665_54
{
left:18655.5px;bottom:7106.48px;color:rgb(35,31,31);
}
#P665_55
{
left:19708.7px;bottom:7106.48px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P665_56
{
left:8573.4px;bottom:6210.48px;color:rgb(35,31,31);
}
#P665_57
{
left:12670.6px;bottom:6210.48px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P665_58
{
left:16904.5px;bottom:6210.48px;color:rgb(35,31,31);
}
#P665_59
{
left:6909.47px;bottom:4546.48px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P665_60
{
left:8486.49px;bottom:4589.86px;color:rgb(35,31,31);
}
#P665_61
{
left:8823.32px;bottom:4710.99px;color:rgb(35,31,31);
}
#P665_62
{
left:9469.4px;bottom:4546.48px;color:rgb(35,31,31);
}
#P665_63
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P665_64
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P665_65
{
left:10338.6px;bottom:4986.16px;color:rgb(35,31,31);
}
#P665_66
{
left:11908.7px;bottom:4564.08px;color:rgb(35,31,31);
}
#P665_67
{
left:10237.4px;bottom:4530.46px;color:rgb(35,31,31);
}
#P665_68
{
left:12009.9px;bottom:4547.74px;color:rgb(35,31,31);
}
#P665_69
{
left:10258.5px;bottom:4078.64px;color:rgb(35,31,31);
}
#P665_70
{
left:11988.8px;bottom:4564.08px;color:rgb(35,31,31);
}
#P665_71
{
left:12009.9px;bottom:4546.48px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P665_72
{
left:15782.5px;bottom:4589.86px;color:rgb(35,31,31);
}
#P665_73
{
left:16119.3px;bottom:4710.99px;color:rgb(35,31,31);
}
#P665_74
{
left:16765.4px;bottom:4546.48px;color:rgb(35,31,31);
}
#P665_75
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P665_76
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P665_77
{
left:17634.6px;bottom:4986.16px;color:rgb(35,31,31);
}
#P665_78
{
left:18868.9px;bottom:4564.08px;color:rgb(35,31,31);
}
#P665_79
{
left:17533.4px;bottom:4530.46px;color:rgb(35,31,31);
}
#P665_80
{
left:18970.1px;bottom:4547.74px;color:rgb(35,31,31);
}
#P665_81
{
left:17554.5px;bottom:4078.64px;color:rgb(35,31,31);
}
#P665_82
{
left:18949px;bottom:4564.08px;color:rgb(35,31,31);
}
#P665_83
{
left:18970.1px;bottom:4546.48px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P665_84
{
left:23270.5px;bottom:4589.86px;color:rgb(35,31,31);
}
#P665_85
{
left:23607.3px;bottom:4710.99px;color:rgb(35,31,31);
}
#P665_86
{
left:24253.4px;bottom:4546.48px;color:rgb(35,31,31);
}
#P665_87
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P665_88
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P665_89
{
left:25042.5px;bottom:4986.16px;color:rgb(35,31,31);
}
#P665_90
{
left:26612.6px;bottom:4564.08px;color:rgb(35,31,31);
}
#P665_91
{
left:25021.4px;bottom:4530.46px;color:rgb(35,31,31);
}
#P665_92
{
left:26633.7px;bottom:4547.74px;color:rgb(35,31,31);
}
#P665_93
{
left:25130.3px;bottom:4078.64px;color:rgb(35,31,31);
}
#P665_94
{
left:26524.8px;bottom:4564.08px;color:rgb(35,31,31);
}
#P665_95
{
left:26633.7px;bottom:4546.48px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P665_96
{
left:30630.5px;bottom:4589.86px;color:rgb(35,31,31);
}
#P665_97
{
left:30967.3px;bottom:4710.99px;color:rgb(35,31,31);
}
#P665_98
{
left:31613.4px;bottom:4546.48px;color:rgb(35,31,31);
}
#P665_99
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P665_100
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P665_101
{
left:32402.5px;bottom:4986.16px;color:rgb(35,31,31);
}
#P665_102
{
left:33972.6px;bottom:4564.08px;color:rgb(35,31,31);
}
#P665_103
{
left:32381.4px;bottom:4530.46px;color:rgb(35,31,31);
}
#P665_104
{
left:33993.7px;bottom:4547.74px;color:rgb(35,31,31);
}
#P665_105
{
left:32490.3px;bottom:4078.64px;color:rgb(35,31,31);
}
#P665_106
{
left:33884.8px;bottom:4564.08px;color:rgb(35,31,31);
}
#P665_107
{
left:33993.7px;bottom:4546.48px;color:rgb(35,31,31);
}
#P665_108
{
left:6973.4px;bottom:46692.8px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P665_109
{
left:11500px;bottom:46698.5px;color:rgb(35,31,31);
}
#P665_110
{
left:11863.3px;bottom:46692.8px;color:rgb(35,31,31);
}
#P665_111
{
left:13416.9px;bottom:46698.5px;color:rgb(35,31,31);
}
#P665_112
{
left:13761.2px;bottom:46692.8px;letter-spacing:0.3px;color:rgb(35,31,31);
}
#P665_113
{
left:0px;letter-spacing:0px;margin-left:-14.2px;
}
#P665_114
{
left:0px;letter-spacing:-14px;margin-left:-50.6px;
}
#P665_115
{
left:0px;letter-spacing:0px;margin-left:-17.6px;
}
#P665_116
{
left:0px;letter-spacing:-0.7px;
}
#P665_117
{
left:0px;letter-spacing:0px;margin-left:-224.3px;
}
#P665_118
{
left:0px;letter-spacing:0px;margin-left:77.1px;
}
#P665_119
{
left:0px;letter-spacing:0px;
}
#P665_120
{
left:6973.34px;bottom:45796.9px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P665_121
{
left:0px;letter-spacing:-18.7px;margin-left:-50.6px;
}
#P665_122
{
left:0px;letter-spacing:-0.3px;margin-left:18.7px;
}
#P665_123
{
left:24749.5px;bottom:45802.5px;color:rgb(35,31,31);
}
#P665_124
{
left:25112.7px;bottom:45796.9px;color:rgb(35,31,31);
}
#P665_125
{
left:26666.4px;bottom:45802.5px;color:rgb(35,31,31);
}
#P665_126
{
left:27010.6px;bottom:45796.9px;letter-spacing:-28px;color:rgb(35,31,31);
}
#P665_127
{
left:7150.43px;bottom:44664.5px;color:rgb(35,31,31);
}
#P665_128
{
left:8573.4px;bottom:44644.8px;color:rgb(35,31,31);
}
#P665_129
{
left:8902.87px;bottom:44644.8px;color:rgb(35,31,31);
}
#P665_130
{
left:9061.27px;bottom:44615.2px;color:rgb(35,31,31);
}
#P665_131
{
left:9647.71px;bottom:44644.8px;color:rgb(35,31,31);
}
#P665_132
{
left:10897.1px;bottom:44644.8px;color:rgb(35,31,31);
}
#P665_133
{
left:11260.4px;bottom:44644.8px;color:rgb(35,31,31);
}
#P665_134
{
left:11418.8px;bottom:44615.2px;color:rgb(35,31,31);
}
#P665_135
{
left:12005.2px;bottom:44644.8px;color:rgb(35,31,31);
}
#P665_136
{
left:17454.6px;bottom:44664.5px;color:rgb(35,31,31);
}
#P665_137
{
left:18877.4px;bottom:44644.8px;color:rgb(35,31,31);
}
#P665_138
{
left:19206.9px;bottom:44644.8px;color:rgb(35,31,31);
}
#P665_139
{
left:19365.3px;bottom:44615.2px;color:rgb(35,31,31);
}
#P665_140
{
left:19951.7px;bottom:44644.8px;color:rgb(35,31,31);
}
#P665_141
{
left:21201.2px;bottom:44644.8px;color:rgb(35,31,31);
}
#P665_142
{
left:21564.5px;bottom:44644.8px;color:rgb(35,31,31);
}
#P665_143
{
left:21722.9px;bottom:44615.2px;color:rgb(35,31,31);
}
#P665_144
{
left:22309.3px;bottom:44644.8px;color:rgb(35,31,31);
}
#P665_145
{
left:27758.6px;bottom:44664.5px;color:rgb(35,31,31);
}
#P665_146
{
left:29053.5px;bottom:44644.8px;color:rgb(35,31,31);
}
#P665_147
{
left:29383px;bottom:44644.8px;color:rgb(35,31,31);
}
#P665_148
{
left:29541.4px;bottom:44615.2px;color:rgb(35,31,31);
}
#P665_149
{
left:30127.8px;bottom:44644.8px;color:rgb(35,31,31);
}
#P665_150
{
left:31377.3px;bottom:44644.8px;color:rgb(35,31,31);
}
#P665_151
{
left:31740.6px;bottom:44644.8px;color:rgb(35,31,31);
}
#P665_152
{
left:31899px;bottom:44615.2px;color:rgb(35,31,31);
}
#P665_153
{
left:32485.4px;bottom:44644.8px;color:rgb(35,31,31);
}
#P665_154
{
left:14254.6px;bottom:42232.6px;word-spacing:376.6px;color:rgb(35,31,31);
}
#P665_155
{
left:15805.4px;bottom:42232.6px;color:rgb(2,77,161);
}
#P665_156
{
left: 21007.9px;bottom:42212.8px;letter-spacing:151.5px;color:rgb(35,31,31);
}
#P665_157
{
left:0px;letter-spacing:5.5px;margin-left:-183.1px;
}
#P665_158
{
left:0px;letter-spacing:-0.8px;margin-left:-5.5px;
}
#P665_159
{
left:0px;letter-spacing:0px;margin-left:0.8px;
}
#P665_160
{
left:15805.4px;bottom:41316.8px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P665_161
{
left:19499.4px;bottom:41316.8px;color:rgb(35,31,31);
}
#P665_162
{
left:19862.6px;bottom:41316.8px;color:rgb(35,31,31);
}
#P665_163
{
left:23072.1px;bottom:41316.8px;color:rgb(35,31,31);
}
#P665_164
{
left:23401.6px;bottom:41316.8px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P665_165
{
left:7150.55px;bottom:38328.7px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P665_166
{
left:8637.4px;bottom:38328.6px;color:rgb(2,77,161);
}
#P665_167
{
left: 12450.5px;bottom:38308.8px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P665_168
{
left:0px;letter-spacing:-0.3px;margin-left:-197.8px;
}
#P665_169
{
left:0px;letter-spacing:0px;margin-left:-27.7px;
}
#P665_170
{
left:0px;letter-spacing:-5.2px;margin-left:-8.4px;
}
#P665_171
{
left:0px;letter-spacing:-7px;margin-left:5.2px;
}
#P665_172
{
left:28384.1px;bottom:36767.8px;letter-spacing:-7.1px;color:rgb(35,31,31);
}
#P665_173
{
left:0px;letter-spacing:0px;margin-left:7.1px;
}
#P665_174
{
left:8637.4px;bottom:37412.8px;letter-spacing:-1.1px;color:rgb(35,31,31);
}
#P665_175
{
left:0px;letter-spacing:0px;margin-left:1.1px;
}
#P665_176
{
left:8637.4px;bottom:36516.8px;letter-spacing:-0.2px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P665_177
{
left:19246.6px;bottom:35000.6px;word-spacing:440.6px;color:rgb(35,31,31);
}
#P665_178
{
left:20861.4px;bottom:35000.6px;color:rgb(2,77,161);
}
#P665_179
{
left:24920.4px;bottom:34980.8px;letter-spacing:-9.3px;word-spacing:193.6px;color:rgb(35,31,31);
}
#P665_180
{
left:26285.8px;bottom:34980.8px;color:rgb(35,31,31);
}
#P665_181
{
left:26615.3px;bottom:34980.8px;color:rgb(35,31,31);
}
#P665_182
{
left:26773.7px;bottom:34951.3px;color:rgb(35,31,31);
}
#P665_183
{
left:27360.1px;bottom:34980.8px;color:rgb(35,31,31);
}
#P665_184
{
left:27518.5px;bottom:34980.8px;color:rgb(35,31,31);
}
#P665_185
{
left:28265.4px;bottom:34980.8px;letter-spacing:-3px;color:rgb(35,31,31);
}
#P665_186
{
left:0px;letter-spacing:-0.5px;margin-left:3px;
}
#P665_187
{
left:20861.4px;bottom:34084.8px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P665_188
{
left:0px;letter-spacing:0px;margin-left:0.7px;
}
#P665_189
{
left:20861.4px;bottom:33188.9px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P665_190
{
left:19246.6px;bottom:31224.5px;color:rgb(35,31,31);
}
#P665_191
{
left:20861.4px;bottom:31224.6px;letter-spacing:-183px;color:rgb(2,77,161);
}
#P665_192
{
left:0px;letter-spacing:0px;margin-left:183px;
}
#P665_193
{
left: 24171.4px;bottom:31204.8px;letter-spacing:168.3px;color:rgb(35,31,31);
}
#P665_194
{
left:0px;letter-spacing:-2.3px;margin-left:-168.3px;
}
#P665_195
{
left:0px;letter-spacing:0px;margin-left:2.3px;
}
#P665_196
{
left:20861.4px;bottom:30308.8px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P665_197
{
left:0px;letter-spacing:-70.3px;margin-left:-24.9px;
}
#P665_198
{
left:0px;letter-spacing:0px;margin-left:70.3px;
}
#P665_199
{
left:32267.6px;bottom:30308.8px;color:rgb(35,31,31);
}
#P665_200
{
left:32630.9px;bottom:30308.8px;color:rgb(35,31,31);
}
#P665_201
{
left:34172.6px;bottom:30308.8px;color:rgb(35,31,31);
}
#P665_202
{
left:34502px;bottom:30308.8px;color:rgb(35,31,31);
}
#P665_203
{
left:20861.4px;bottom:29413px;letter-spacing:-4.2px;color:rgb(35,31,31);
}
#P665_204
{
left:0px;letter-spacing:-1.4px;margin-left:4.2px;
}
#P665_205
{
left:0px;letter-spacing:-2.7px;margin-left:1.4px;
}
#P665_206
{
left:0px;letter-spacing:0px;margin-left:2.7px;
}
#P665_207
{
left:0px;letter-spacing:0px;margin-left:-214.8px;
}
#P665_208
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P665_209
{
left:0px;letter-spacing:-1px;
}
#P665_210
{
left:20861.4px;bottom:28517px;color:rgb(35,31,31);
}
#P665_211
{
left:0px;letter-spacing:0px;margin-left:-66.9px;
}
#P665_212
{
left:0px;letter-spacing:-12.6px;
}
#P665_213
{
left:0px;letter-spacing:0.5px;margin-left:12.6px;
}
#P665_214
{
left:20861.4px;bottom:27621px;color:rgb(35,31,31);
}
#P665_215
{
left:0px;letter-spacing:0px;margin-left:-214.8px;
}
#P665_216
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P665_217
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P665_218
{
left:7150.55px;bottom:24568.8px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P665_219
{
left:8637.4px;bottom:24568.6px;color:rgb(2,77,161);
}
#P665_220
{
left:14962.8px;bottom:24548.8px;word-spacing:168.3px;color:rgb(35,31,31);
}
#P665_221
{
left:0px;letter-spacing:0px;margin-left:-70.3px;
}
#P665_222
{
left:0px;letter-spacing:0px;margin-left:-168.3px;
}
#P665_223
{
left:19036.2px;bottom:24548.8px;color:rgb(35,31,31);
}
#P665_224
{
left:19399.4px;bottom:24548.8px;color:rgb(35,31,31);
}
#P665_225
{
left:20941.2px;bottom:24548.8px;color:rgb(35,31,31);
}
#P665_226
{
left:21270.7px;bottom:24548.8px;color:rgb(35,31,31);
}
#P665_227
{
left:8637.4px;bottom:23652.8px;letter-spacing:-4.2px;color:rgb(35,31,31);
}
#P665_228
{
left:0px;letter-spacing:-1.4px;margin-left:4.2px;
}
#P665_229
{
left:0px;letter-spacing:-2.7px;margin-left:1.4px;
}
#P665_230
{
left:0px;letter-spacing:0.6px;margin-left:2.7px;
}
#P665_231
{
left:8637.4px;bottom:22756.9px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P665_232
{
left:0px;letter-spacing:0.8px;margin-left:0.9px;
}
#P665_233
{
left:7150.55px;bottom:21112.6px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P665_234
{
left:8637.4px;bottom:21112.6px;color:rgb(2,77,161);
}
#P665_235
{
left:11766.6px;bottom:21092.8px;letter-spacing:168.3px;color:rgb(35,31,31);
}
#P665_236
{
left:0px;letter-spacing:0.1px;margin-left:-168.3px;
}
#P665_237
{
left:26053.3px;bottom:21476.9px;color:rgb(35,31,31);
}
#P665_238
{
left:8637.34px;bottom:20196.8px;letter-spacing:-1.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P665_239
{
left:0px;letter-spacing:-0.1px;margin-left:1px;
}
#P665_240
{
left:0px;letter-spacing:-0.1px;margin-left:-42.1px;
}
#P665_241
{
left:0px;letter-spacing:-0.1px;margin-left:-25.3px;
}
#P665_242
{
left:0px;letter-spacing:-0.1px;margin-left:158.4px;
}
#P665_243
{
left:8637.34px;bottom:19301px;color:rgb(35,31,31);
}
#P665_244
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P665_245
{
left:0px;letter-spacing:-21px;
}
#P665_246
{
left:0px;letter-spacing:0px;margin-left:21px;
}
#P665_247
{
left:8637.34px;bottom:18405px;letter-spacing:0.2px;color:rgb(35,31,31);
}
#P665_248
{
left:7150.49px;bottom:16568.7px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P665_249
{
left:12723.5px;bottom:16548.8px;letter-spacing:193.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P665_250
{
left:0px;letter-spacing:-0.8px;margin-left:-206.1px;
}
#P665_251
{
left:0px;letter-spacing:-0.1px;margin-left:0.7px;
}
#P665_252
{
left:0px;letter-spacing:0.7px;margin-left:-4px;
}
#P665_253
{
left:8637.4px;bottom:15524.9px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P665_254
{
left:11499.1px;bottom:15544.6px;color:rgb(35,31,31);
}
#P665_255
{
left:11694.8px;bottom:15524.9px;letter-spacing:-0.3px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P665_256
{
left:0px;letter-spacing:-2.1px;margin-left:0.2px;
}
#P665_257
{
left:8637.4px;bottom:14629px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P665_258
{
left:0px;letter-spacing:-0.8px;margin-left:1px;
}
#P665_259
{
left:0px;letter-spacing:0px;margin-left:0.8px;
}
#P665_260
{
left:22538.2px;bottom:24306px;color:rgb(35,31,31);
}
#P665_261
{
left:25487.6px;bottom:24306px;color:rgb(35,31,31);
}
#P665_262
{
left:27038.9px;bottom:24287.2px;color:rgb(35,31,31);
}
#P665_263
{
left:0px;letter-spacing:0px;margin-left:1449.4px;
}
#P665_264
{
left:0px;letter-spacing:0px;margin-left:1449.5px;
}
#P665_265
{
left:0px;letter-spacing:0px;margin-left:1271.3px;
}
#P665_266
{
left:22538.3px;bottom:23154px;color:rgb(35,31,31);
}
#P665_267
{
left:24292.9px;bottom:23154px;color:rgb(35,31,31);
}
#P665_268
{
left:27039px;bottom:23135.2px;color:rgb(35,31,31);
}
#P665_269
{
left:0px;letter-spacing:0px;margin-left:1449.4px;
}
#P665_270
{
left:0px;letter-spacing:0px;margin-left:1449.5px;
}
#P665_271
{
left:0px;letter-spacing:0px;margin-left:1449.3px;
}
#P665_272
{
left:31319px;bottom:15434.9px;color:rgb(35,31,31);
}
#P665_273
{
left:11047.6px;bottom:41176.9px;word-spacing:-0.4px;color:rgb(35,31,31);
}
#P665_274
{
left:8253.02px;bottom:42972px;color:rgb(35,31,31);
}
#P665_275
{
left:17662.3px;bottom:28023px;color:rgb(35,31,31);
}
#P665_276
{
left:9062.81px;bottom:33678px;color:rgb(35,31,31);
}
#P665_277
{
left:12434.6px;bottom:28041.8px;color:rgb(35,31,31);
}
#P665_278
{
left:10911.6px;bottom:28037px;color:rgb(35,31,31);
}
#P665_279
{
left:13983.8px;bottom:28035.6px;color:rgb(35,31,31);
}
#P665_280
{
left:15519.8px;bottom:28036.1px;color:rgb(35,31,31);
}
#P665_281
{
left:16287.8px;bottom:28036px;letter-spacing:351.6px;color:rgb(35,31,31);
}
#P665_282
{
left:0px;letter-spacing:0px;margin-left:-351.6px;
}
#P665_283
{
left:8764.57px;bottom:29143.3px;color:rgb(35,31,31);
}
#P665_284
{
left:8763.61px;bottom:30678.9px;color:rgb(35,31,31);
}
#P665_285
{
left:8498.2px;bottom:32213px;color:rgb(35,31,31);
}
#P665_286
{
left:10117.7px;bottom:28043.7px;color:rgb(35,31,31);
}
#P665_287
{
left:11660.4px;bottom:28037px;color:rgb(35,31,31);
}
#P665_288
{
left:13224.3px;bottom:28041.3px;color:rgb(35,31,31);
}
#P665_289
{
left:14759.3px;bottom:28040.8px;color:rgb(35,31,31);
}
#P665_290
{
left:8764.57px;bottom:29917.6px;color:rgb(35,31,31);
}
#P665_291
{
left:8766.49px;bottom:31445px;color:rgb(35,31,31);
}
#P665_292
{
left:8500.57px;bottom:32977.6px;color:rgb(35,31,31);
}
#P665_293
{
left:12789px;bottom:27143.7px;color:rgb(35,31,31);
}
#P665_294
{
left:8193.31px;bottom:29648.6px;color:rgb(35,31,31);
}
#P665_295
{
left:14249.6px;bottom:33125.7px;color:rgb(0,124,196);
}
#P665_296
{
left:13475px;bottom:30581.4px;color:rgb(0,124,196);
}
#P665_297
{
left:11177.4px;bottom:29118.5px;color:rgb(0,124,196);
}
#P665_298
{
left:9371.8px;bottom:28044px;color:rgb(35,31,31);
}
#P665_299
{
left:9031.96px;bottom:28385.8px;color:rgb(35,31,31);
}
#P665_300
{
left:11740.2px;bottom:34768.4px;color:rgb(35,31,31);
}
#PageContainer665
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg665.jpg");background-repeat:no-repeat;background-size: 853px 1078px; background-position: 151.33px 194.73px;
}
#ImageContainer665 {bottom:91.27px;left:151.33px;width:852.70px;height:1078.26px;position:absolute;} #TextContainer665 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}