.tr672{ color:transparent;}
#P672_1
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P672_2
{
left:3540.44px;bottom:1417.71px;color:rgb(35,31,31);
}
#P672_3
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P672_4
{
left:9471.43px;bottom:1417.71px;letter-spacing:1.2px;word-spacing:457.7px;color:rgb(35,31,31);
}
#P672_5
{
left:0px;letter-spacing:0px;margin-left:-458.9px;
}
#P672_6
{
left:0px;letter-spacing:2.2px;margin-left:4.4px;
}
#P672_7
{
left:0px;letter-spacing:0px;margin-left:-459.9px;
}
#P672_8
{
left:0px;letter-spacing:4.9px;margin-left:4.4px;
}
#P672_9
{
left:0px;letter-spacing:4.4px;margin-left:-6px;
}
#P672_10
{
left:4669.4px;bottom:45479.5px;color:rgb(35,31,31);
}
#P672_11
{
left:5237.98px;bottom:45499.2px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P672_12
{
left:6269.4px;bottom:45479.5px;color:rgb(35,31,31);
}
#P672_13
{
left:11021.8px;bottom:45479.5px;color:rgb(35,31,31);
}
#P672_14
{
left:11385.1px;bottom:45479.5px;color:rgb(35,31,31);
}
#P672_15
{
left:12926.9px;bottom:45479.5px;color:rgb(35,31,31);
}
#P672_16
{
left:13256.3px;bottom:45479.5px;letter-spacing:-1.1px;color:rgb(35,31,31);
}
#P672_17
{
left:0px;letter-spacing:0px;margin-left:1.1px;
}
#P672_18
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P672_19
{
left:0px;letter-spacing:-0.1px;
}
#P672_20
{
left:6269.4px;bottom:44583.5px;color:rgb(35,31,31);
}
#P672_21
{
left:8836.89px;bottom:44583.5px;color:rgb(0,124,196);
}
#P672_22
{
left:0px;letter-spacing:0px;margin-left:-154.9px;
}
#P672_23
{
left:4669.4px;bottom:35130.7px;color:rgb(35,31,31);
}
#P672_24
{
left:5629.4px;bottom:35150.4px;color:rgb(35,31,31);
}
#P672_25
{
left:15634.6px;bottom:43081.5px;letter-spacing:1930.4px;color:rgb(35,31,31);
}
#P672_26
{
left:15642.9px;bottom:41425.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P672_27
{
left:15664px;bottom:41865px;color:rgb(35,31,31);
}
#P672_28
{
left:15999.8px;bottom:41442.9px;color:rgb(35,31,31);
}
#P672_29
{
left:15642.9px;bottom:41409.3px;color:rgb(35,31,31);
}
#P672_30
{
left:16021px;bottom:41426.6px;color:rgb(35,31,31);
}
#P672_31
{
left:15664px;bottom:40957.5px;color:rgb(35,31,31);
}
#P672_32
{
left:15999.8px;bottom:41442.9px;color:rgb(35,31,31);
}
#P672_33
{
left:16021px;bottom:41425.3px;color:rgb(35,31,31);
}
#P672_34
{
left:17938.8px;bottom:41410.7px;color:rgb(35,31,31);
}
#P672_35
{
left:15642.9px;bottom:39569.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P672_36
{
left:15664px;bottom:40009px;color:rgb(35,31,31);
}
#P672_37
{
left:15999.8px;bottom:39586.9px;color:rgb(35,31,31);
}
#P672_38
{
left:15642.9px;bottom:39553.3px;color:rgb(35,31,31);
}
#P672_39
{
left:16021px;bottom:39570.6px;color:rgb(35,31,31);
}
#P672_40
{
left:15664px;bottom:39101.5px;color:rgb(35,31,31);
}
#P672_41
{
left:15999.8px;bottom:39586.9px;color:rgb(35,31,31);
}
#P672_42
{
left:16021px;bottom:39569.3px;color:rgb(35,31,31);
}
#P672_43
{
left:17752.3px;bottom:39490.7px;color:rgb(35,31,31);
}
#P672_44
{
left:15642.9px;bottom:37585.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P672_45
{
left:15664px;bottom:38025px;color:rgb(35,31,31);
}
#P672_46
{
left:15999.8px;bottom:37602.9px;color:rgb(35,31,31);
}
#P672_47
{
left:15642.9px;bottom:37569.3px;color:rgb(35,31,31);
}
#P672_48
{
left:16021px;bottom:37586.6px;color:rgb(35,31,31);
}
#P672_49
{
left:15664px;bottom:37117.5px;color:rgb(35,31,31);
}
#P672_50
{
left:15999.8px;bottom:37602.9px;color:rgb(35,31,31);
}
#P672_51
{
left:16021px;bottom:37585.3px;color:rgb(35,31,31);
}
#P672_52
{
left:17752.3px;bottom:37570.7px;color:rgb(35,31,31);
}
#P672_53
{
left:15635px;bottom:35938.7px;color:rgb(35,31,31);
}
#P672_54
{
left:4669.53px;bottom:33786.7px;color:rgb(35,31,31);
}
#P672_55
{
left:6145.24px;bottom:33806.4px;color:rgb(35,31,31);
}
#P672_56
{
left:7293.54px;bottom:33786.7px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P672_57
{
left:20815.4px;bottom:33806.4px;color:rgb(35,31,31);
}
#P672_58
{
left:21885.5px;bottom:33786.7px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P672_59
{
left:4669.53px;bottom:32442.7px;color:rgb(35,31,31);
}
#P672_60
{
left:6223.39px;bottom:32462.4px;color:rgb(35,31,31);
}
#P672_61
{
left:7293.54px;bottom:32442.7px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P672_62
{
left:20737.2px;bottom:32462.4px;color:rgb(35,31,31);
}
#P672_63
{
left:21885.5px;bottom:32442.7px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P672_64
{
left:4669.53px;bottom:30330.7px;color:rgb(35,31,31);
}
#P672_65
{
left:5237.98px;bottom:30350.4px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P672_66
{
left:6269.4px;bottom:30330.7px;letter-spacing:-31.6px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P672_67
{
left:0px;letter-spacing:-0.8px;margin-left:189.3px;
}
#P672_68
{
left:0px;letter-spacing:-21.1px;margin-left:-13.2px;
}
#P672_69
{
left:0px;letter-spacing:-0.1px;margin-left:-42px;
}
#P672_70
{
left:0px;letter-spacing:-0.4px;margin-left:158.1px;
}
#P672_71
{
left:0px;letter-spacing:0px;margin-left:-66.5px;
}
#P672_72
{
left:6269.4px;bottom:29434.7px;letter-spacing:-10.5px;color:rgb(35,31,31);
}
#P672_73
{
left:0px;letter-spacing:-0.1px;margin-left:10.5px;
}
#P672_74
{
left:6269.4px;bottom:28538.7px;letter-spacing:0.2px;color:rgb(35,31,31);
}
#P672_75
{
left:13706.2px;bottom:28538.7px;letter-spacing:0.9px;color:rgb(0,124,196);
}
#P672_76
{
left:4669.4px;bottom:27194.7px;color:rgb(35,31,31);
}
#P672_77
{
left:6392.15px;bottom:27214.4px;letter-spacing:-90.7px;color:rgb(35,31,31);
}
#P672_78
{
left:7293.41px;bottom:27194.7px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P672_79
{
left:20737.2px;bottom:27214.4px;color:rgb(35,31,31);
}
#P672_80
{
left:21885.5px;bottom:27194.7px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P672_81
{
left:4669.47px;bottom:25850.7px;color:rgb(35,31,31);
}
#P672_82
{
left:6145.18px;bottom:25870.4px;color:rgb(35,31,31);
}
#P672_83
{
left:7293.47px;bottom:25850.7px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P672_84
{
left:21049.9px;bottom:25870.4px;color:rgb(35,31,31);
}
#P672_85
{
left:21885.6px;bottom:25850.7px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P672_86
{
left:4669.53px;bottom:22202.7px;color:rgb(35,31,31);
}
#P672_87
{
left:5238.11px;bottom:22222.4px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P672_88
{
left:6269.53px;bottom:22202.7px;letter-spacing:-1.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P672_89
{
left:0px;letter-spacing:-0.2px;margin-left:159.4px;
}
#P672_90
{
left:6269.53px;bottom:21306.7px;letter-spacing:-0.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P672_91
{
left:0px;letter-spacing:-0.1px;margin-left:-6.9px;
}
#P672_92
{
left:0px;letter-spacing:-0.1px;margin-left:-42.1px;
}
#P672_93
{
left:0px;letter-spacing:-0.1px;margin-left:-20.9px;
}
#P672_94
{
left:19923.2px;bottom:21306.7px;color:rgb(35,31,31);
}
#P672_95
{
left:20976.3px;bottom:21306.7px;letter-spacing:-1.1px;color:rgb(35,31,31);
}
#P672_96
{
left:0px;letter-spacing:0px;margin-left:1.1px;
}
#P672_97
{
left:6269.53px;bottom:20410.8px;letter-spacing:-2.8px;color:rgb(35,31,31);
}
#P672_98
{
left:0px;letter-spacing:0px;margin-left:2.8px;
}
#P672_99
{
left:11167.4px;bottom:20410.7px;color:rgb(0,124,196);
}
#P672_100
{
left:0px;letter-spacing:0px;margin-left:-154.9px;
}
#P672_101
{
left:4669.4px;bottom:8854.83px;color:rgb(35,31,31);
}
#P672_102
{
left:5629.4px;bottom:8874.54px;color:rgb(35,31,31);
}
#P672_103
{
left:21523.8px;bottom:10754.2px;color:rgb(35,31,31);
}
#P672_104
{
left:15341.3px;bottom:17876.6px;color:rgb(35,31,31);
}
#P672_105
{
left:14772.8px;bottom:13465.8px;color:rgb(35,31,31);
}
#P672_106
{
left:14772.8px;bottom:14230.4px;color:rgb(35,31,31);
}
#P672_107
{
left:14772.8px;bottom:12701.6px;color:rgb(35,31,31);
}
#P672_108
{
left:14772.8px;bottom:11937px;color:rgb(35,31,31);
}
#P672_109
{
left:18713.1px;bottom:10813.3px;color:rgb(35,31,31);
}
#P672_110
{
left:20256.3px;bottom:10813.3px;color:rgb(35,31,31);
}
#P672_111
{
left:17145px;bottom:10819.6px;color:rgb(35,31,31);
}
#P672_112
{
left:20998.9px;bottom:10818.6px;color:rgb(35,31,31);
}
#P672_113
{
left:17944.7px;bottom:10813.8px;color:rgb(35,31,31);
}
#P672_114
{
left:19487.8px;bottom:10813.8px;color:rgb(35,31,31);
}
#P672_115
{
left:16376.5px;bottom:10820px;color:rgb(35,31,31);
}
#P672_116
{
left:14771.9px;bottom:14995.6px;color:rgb(35,31,31);
}
#P672_117
{
left:14771.9px;bottom:15759.7px;color:rgb(35,31,31);
}
#P672_118
{
left:14771.9px;bottom:16527.7px;color:rgb(35,31,31);
}
#P672_119
{
left:14771.9px;bottom:17295.7px;color:rgb(35,31,31);
}
#P672_120
{
left:18031.1px;bottom:9881.07px;color:rgb(35,31,31);
}
#P672_121
{
left:14412.7px;bottom:12008.8px;color:rgb(35,31,31);
}
#P672_122
{
left:15557.4px;bottom:18958px;color:rgb(35,31,31);
}
#P672_123
{
left:0px;letter-spacing:0px;margin-left:28.8px;
}
#P672_124
{
left:0px;letter-spacing:0px;margin-left:-28.8px;
}
#P672_125
{
left:0px;letter-spacing:0px;margin-left:-53px;
}
#P672_126
{
left:18958.9px;bottom:16898.6px;color:rgb(0,124,196);
}
#P672_127
{
left:16667.7px;bottom:12514.6px;color:rgb(0,124,196);
}
#P672_128
{
left:16153.5px;bottom:11517.2px;color:rgb(0,124,196);
}
#P672_129
{
left:15629px;bottom:10811.5px;color:rgb(35,31,31);
}
#P672_130
{
left:15306.5px;bottom:11172.5px;color:rgb(35,31,31);
}
#P672_131
{
left:4669.4px;bottom:7510.83px;color:rgb(35,31,31);
}
#P672_132
{
left:6145.11px;bottom:7530.54px;color:rgb(35,31,31);
}
#P672_133
{
left:7293.4px;bottom:7510.83px;letter-spacing:285.8px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P672_134
{
left:0px;letter-spacing:-0.4px;margin-left:-285.9px;
}
#P672_135
{
left:0px;letter-spacing:0px;margin-left:-13.5px;
}
#P672_136
{
left:4669.4px;bottom:6166.83px;color:rgb(35,31,31);
}
#P672_137
{
left:6223.26px;bottom:6186.54px;color:rgb(35,31,31);
}
#P672_138
{
left: 7349.11px;bottom:6166.83px;
letter-spacing: 0px;color:rgb(35,31,31);
}
#P672_139
{
left:0px;letter-spacing:-0.2px;
margin-left: 0px;
}
#P672_140
{
left:0px;letter-spacing:0px;margin-left:-41.9px;
}
#P672_141
{
left:4669.4px;bottom:4822.83px;color:rgb(35,31,31);
}
#P672_142
{
left:6223.26px;bottom:4842.54px;color:rgb(35,31,31);
}
#P672_143
{
left:7293.4px;bottom:4822.83px;letter-spacing:285.8px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P672_144
{
left:0px;letter-spacing:-0.6px;margin-left:-285.9px;
}
#P672_145
{
left:0px;letter-spacing:-0.1px;margin-left:-6.3px;
}
#P672_146
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P672_147
{
left:4669.4px;bottom:3478.81px;color:rgb(35,31,31);
}
#P672_148
{
left:6145.11px;bottom:3498.52px;color:rgb(35,31,31);
}
#P672_149
{
left:7293.4px;bottom:3478.81px;letter-spacing:285.8px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P672_150
{
left:0px;letter-spacing:-0.4px;margin-left:-285.9px;
}
#P672_151
{
left:0px;letter-spacing:0px;margin-left:-13.5px;
}
#P672_152
{
left:30085.7px;bottom:31506.8px;color:rgb(35,31,31);
}
#P672_153
{
left:30675px;bottom:30815.2px;color:rgb(35,31,31);
}
#P672_154
{
left:31870.9px;bottom:31678.6px;color:rgb(35,31,31);
}
#P672_155
{
left:31870.9px;bottom:31102.6px;color:rgb(35,31,31);
}
#PageContainer672
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg672.jpg");background-repeat:no-repeat;background-size: 1066px 1119px; background-position: 1px -0.549999999999955px;
}
#ImageContainer672 {bottom:245.55px;right:0.00px;width:1066.24px;height:1118.61px;position:absolute;} #TextContainer672 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}