.tr503{ color:transparent;}
#P503_1
{
left:10056.3px;bottom:14088.8px;color:rgb(35,31,31);
}
#P503_2
{
left:10624.9px;bottom:14108.5px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P503_3
{
left:11656.3px;bottom:14108.5px;word-spacing:-26px;color:rgb(2,77,161);
}
#P503_4
{
left:0px;letter-spacing:0px;margin-left:-26px;
}
#P503_5
{
left:0px;letter-spacing:0px;margin-left:26px;
}
#P503_6
{
left:18816.2px;bottom:14088.8px;letter-spacing:193.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P503_7
{
left:0px;letter-spacing:-10.5px;margin-left:-214.5px;
}
#P503_8
{
left:0px;letter-spacing:-0.8px;margin-left:10.4px;
}
#P503_9
{
left:0px;letter-spacing:-0.8px;margin-left:0.7px;
}
#P503_10
{
left:11656.3px;bottom:13192.8px;color:rgb(35,31,31);
}
#P503_11
{
left:10056.3px;bottom:11848.8px;color:rgb(35,31,31);
}
#P503_12
{
left:10624.9px;bottom:11868.5px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P503_13
{
left:11656.3px;bottom:11868.5px;color:rgb(2,77,161);
}
#P503_14
{
left:13559.2px;bottom:11848.8px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P503_15
{
left:0px;letter-spacing:-0.2px;margin-left:-206.1px;
}
#P503_16
{
left:0px;letter-spacing:0px;margin-left:0.2px;
}
#P503_17
{
left:22988.6px;bottom:11848.8px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P503_18
{
left:27516.1px;bottom:11848.8px;letter-spacing:-5.2px;color:rgb(35,31,31);
}
#P503_19
{
left:0px;letter-spacing:-2.8px;margin-left:-8.6px;
}
#P503_20
{
left:0px;letter-spacing:0px;margin-left:2.8px;
}
#P503_21
{
left:10056.3px;bottom:10504.8px;letter-spacing:1505.6px;color:rgb(35,31,31);
}
#P503_22
{
left:11720.3px;bottom:10469.6px;color:rgb(35,31,31);
}
#P503_23
{
left:11896.7px;bottom:10406.9px;color:rgb(35,31,31);
}
#P503_24
{
left:12058.6px;bottom:10475.2px;color:rgb(35,31,31);
}
#P503_25
{
left:12645px;bottom:10504.8px;color:rgb(35,31,31);
}
#P503_26
{
left:13553.2px;bottom:10469.6px;color:rgb(35,31,31);
}
#P503_27
{
left:13729.5px;bottom:10504.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P503_28
{
left:13887.9px;bottom:10475.2px;color:rgb(35,31,31);
}
#P503_29
{
left:14474.3px;bottom:10504.8px;color:rgb(35,31,31);
}
#P503_30
{
left:0px;letter-spacing:0px;margin-left:2902.9px;
}
#P503_31
{
left:18440.3px;bottom:10469.6px;color:rgb(35,31,31);
}
#P503_32
{
left:18616.7px;bottom:10406.9px;color:rgb(35,31,31);
}
#P503_33
{
left:18778.6px;bottom:10504.8px;color:rgb(35,31,31);
}
#P503_34
{
left:19686.7px;bottom:10469.6px;color:rgb(35,31,31);
}
#P503_35
{
left:19863.1px;bottom:10504.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P503_36
{
left:20021.5px;bottom:10475.2px;color:rgb(35,31,31);
}
#P503_37
{
left:20607.9px;bottom:10504.8px;color:rgb(35,31,31);
}
#P503_38
{
left:0px;letter-spacing:0px;margin-left:2913.3px;
}
#P503_39
{
left:24584.3px;bottom:10469.6px;color:rgb(35,31,31);
}
#P503_40
{
left:24760.7px;bottom:10406.9px;color:rgb(35,31,31);
}
#P503_41
{
left:24922.6px;bottom:10504.8px;color:rgb(35,31,31);
}
#P503_42
{
left:25457.6px;bottom:10469.6px;color:rgb(35,31,31);
}
#P503_43
{
left:25633.9px;bottom:10504.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P503_44
{
left:25792.3px;bottom:10475.2px;color:rgb(35,31,31);
}
#P503_45
{
left:26378.8px;bottom:10504.8px;color:rgb(35,31,31);
}
#P503_46
{
left:0px;letter-spacing:0px;margin-left:2891.6px;
}
#P503_47
{
left:29960.3px;bottom:10469.6px;color:rgb(35,31,31);
}
#P503_48
{
left:30136.7px;bottom:10406.9px;color:rgb(35,31,31);
}
#P503_49
{
left:30298.6px;bottom:10475.2px;color:rgb(35,31,31);
}
#P503_50
{
left:30885px;bottom:10504.8px;color:rgb(35,31,31);
}
#P503_51
{
left:31420.1px;bottom:10469.6px;color:rgb(35,31,31);
}
#P503_52
{
left:31596.4px;bottom:10504.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P503_53
{
left:31754.8px;bottom:10475.2px;color:rgb(35,31,31);
}
#P503_54
{
left:32341.2px;bottom:10504.8px;color:rgb(35,31,31);
}
#P503_55
{
left: 11636.3px;bottom:9032.81px;letter-spacing:1441.6px;color:rgb(35,31,31);
}
#P503_56
{
left:0px;letter-spacing:-1.2px;margin-left:-1441.6px;
}
#P503_57
{
left:0px;letter-spacing:-0.4px;margin-left:1.2px;
}
#P503_58
{
left:0px;letter-spacing:0px;margin-left:0.4px;
}
#P503_59
{
left:10056.3px;bottom:8136.81px;color:rgb(35,31,31);
}
#P503_60
{
left:14472.3px;bottom:7452.4px;color:rgb(35,31,31);
}
#P503_61
{
left:14472.3px;bottom:7417.23px;color:rgb(35,31,31);
}
#P503_62
{
left:14648.7px;bottom:7354.45px;color:rgb(35,31,31);
}
#P503_63
{
left:14810.6px;bottom:7452.4px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P503_64
{
left:17440.7px;bottom:7417.23px;color:rgb(35,31,31);
}
#P503_65
{
left:17617.1px;bottom:7452.4px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P503_66
{
left:17775.5px;bottom:7422.83px;color:rgb(35,31,31);
}
#P503_67
{
left:18361.9px;bottom:7452.4px;color:rgb(35,31,31);
}
#P503_68
{
left:20932.8px;bottom:8136.81px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P503_69
{
left:23428.8px;bottom:7450.54px;color:rgb(35,31,31);
}
#P503_70
{
left:23428.8px;bottom:7415.31px;color:rgb(35,31,31);
}
#P503_71
{
left:23605.1px;bottom:7352.59px;color:rgb(35,31,31);
}
#P503_72
{
left:23767px;bottom:7450.54px;color:rgb(35,31,31);
}
#P503_73
{
left:25808.6px;bottom:7415.31px;color:rgb(35,31,31);
}
#P503_74
{
left:25984.9px;bottom:7450.54px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P503_75
{
left:26143.3px;bottom:7420.97px;color:rgb(35,31,31);
}
#P503_76
{
left:26888.2px;bottom:7450.54px;letter-spacing:-0.3px;word-spacing:0.3px;color:rgb(35,31,31);
}
#P503_77
{
left:14658.5px;bottom:4463.92px;letter-spacing:228.8px;color:rgb(0,124,196);
}
#P503_78
{
left:15074.5px;bottom:4495.92px;letter-spacing:-9.3px;color:rgb(35,31,31);
}
#P503_79
{
left:0px;letter-spacing:-0.1px;margin-left:9.3px;
}
#P503_80
{
left:15074.5px;bottom:3599.94px;letter-spacing:-1.6px;color:rgb(35,31,31);
}
#P503_81
{
left:0px;letter-spacing:-129px;margin-left:-127.4px;
}
#P503_82
{
left:0px;letter-spacing:0px;margin-left:129px;
}
#P503_83
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P503_84
{
left:21002.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P503_85
{
left:25910.5px;bottom:1410.03px;letter-spacing:461.5px;word-spacing:0.6px;color:rgb(35,31,31);
}
#P503_86
{
left:0px;letter-spacing:4.2px;margin-left:-462.1px;
}
#P503_87
{
left:0px;letter-spacing:3.8px;margin-left:-4.7px;
}
#P503_88
{
left:0px;letter-spacing:-3.1px;margin-left:-2.8px;
}
#P503_89
{
left:0px;letter-spacing:1.5px;margin-left:0.7px;
}
#P503_90
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P503_91
{
left:10088.1px;bottom:27200.6px;letter-spacing:10.3px;color:rgb(0,124,196);
}
#P503_92
{
left:13212.7px;bottom:27442.1px;color:rgb(0,124,196);
}
#P503_93
{
left:13523.4px;bottom:27200.6px;letter-spacing:0.3px;word-spacing:-2.6px;color:rgb(0,124,196);
}
#P503_94
{
left:18466.5px;bottom:27442.1px;color:rgb(0,124,196);
}
#P503_95
{
left:18772.4px;bottom:27200.6px;letter-spacing:3.5px;color:rgb(0,124,196);
}
#P503_96
{
left:10088.1px;bottom:26178.1px;color:rgb(35,31,31);
}
#P503_97
{
left:10674.5px;bottom:26204.9px;color:rgb(35,31,31);
}
#P503_98
{
left:11234.9px;bottom:26197.8px;color:rgb(35,31,31);
}
#P503_99
{
left:11688.1px;bottom:26178.1px;letter-spacing:-4.3px;color:rgb(35,31,31);
}
#P503_100
{
left:0px;letter-spacing:-0.7px;margin-left:4.3px;
}
#P503_101
{
left:10050.4px;bottom:21408px;color:rgb(35,31,31);
}
#P503_102
{
left:10618.9px;bottom:21427.8px;color:rgb(35,31,31);
}
#P503_103
{
left:11650.3px;bottom:21408px;letter-spacing:-1.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P503_104
{
left:0px;letter-spacing:-0.1px;margin-left:1.4px;
}
#P503_105
{
left:10050.4px;bottom:20064px;color:rgb(35,31,31);
}
#P503_106
{
left:10636.8px;bottom:20090.9px;color:rgb(35,31,31);
}
#P503_107
{
left:11197.3px;bottom:20083.8px;letter-spacing:257.5px;color:rgb(35,31,31);
}
#P503_108
{
left:11650.5px;bottom:20064px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P503_109
{
left:20020.7px;bottom:20034.5px;color:rgb(35,31,31);
}
#P503_110
{
left:20607.1px;bottom:20064px;letter-spacing:-3.1px;color:rgb(35,31,31);
}
#P503_111
{
left:0px;letter-spacing:-0.5px;margin-left:3.1px;
}
#P503_112
{
left:0px;letter-spacing:0px;margin-left:0.5px;
}
#P503_113
{
left:10050.3px;bottom:18720px;color:rgb(35,31,31);
}
#P503_114
{
left:10636.8px;bottom:18746.9px;color:rgb(35,31,31);
}
#P503_115
{
left:11197.3px;bottom:18739.8px;letter-spacing:257.5px;color:rgb(35,31,31);
}
#P503_116
{
left:11650.5px;bottom:18720px;letter-spacing:-0.2px;word-spacing:0.2px;color:rgb(35,31,31);
}
#P503_117
{
left:20478.6px;bottom:18690.5px;color:rgb(35,31,31);
}
#P503_118
{
left:21065px;bottom:18720px;letter-spacing:-0.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P503_119
{
left:11650.5px;bottom:17824px;color:rgb(35,31,31);
}
#P503_120
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P503_121
{
left:0px;letter-spacing:-0.5px;
}
#P503_122
{
left:0px;letter-spacing:-0.5px;margin-left:0.5px;
}
#P503_123
{
left:0px;letter-spacing:0px;margin-left:-41.5px;
}
#P503_124
{
left:11476.7px;bottom:43420.8px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P503_125
{
left:0px;letter-spacing:0.4px;margin-left:14.1px;
}
#P503_126
{
left:0px;letter-spacing:-18.7px;margin-left:-42.5px;
}
#P503_127
{
left:0px;letter-spacing:-1.9px;margin-left:18.7px;
}
#P503_128
{
left:0px;letter-spacing:0px;margin-left:1.9px;
}
#P503_129
{
left:11476.7px;bottom:42524.9px;color:rgb(35,31,31);
}
#P503_130
{
left:16728.5px;bottom:42524.9px;letter-spacing:-7px;word-spacing:77.1px;color:rgb(35,31,31);
}
#P503_131
{
left:0px;letter-spacing:0px;margin-left:-42.2px;
}
#P503_132
{
left:0px;letter-spacing:0px;margin-left:-77.1px;
}
#P503_133
{
left:0px;letter-spacing:0px;
}
#P503_134
{
left:11476.7px;bottom:41628.9px;letter-spacing:-6.3px;color:rgb(35,31,31);
}
#P503_135
{
left:0px;letter-spacing:-0.8px;margin-left:6.3px;
}
#P503_136
{
left:0px;letter-spacing:0px;margin-left:0.8px;
}
#P503_137
{
left:11476.7px;bottom:40028.9px;color:rgb(35,31,31);
}
#P503_138
{
left:11476.7px;bottom:33180.9px;color:rgb(35,31,31);
}
#P503_139
{
left:11476.7px;bottom:33180.9px;letter-spacing:-14px;word-spacing:452.1px;color:rgb(35,31,31);
}
#P503_140
{
left:12628.7px;bottom:33180.9px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P503_141
{
left:0px;letter-spacing:-14px;margin-left:0.2px;
}
#P503_142
{
left:0px;letter-spacing:-0.2px;margin-left:14px;
}
#P503_143
{
left:12628.7px;bottom:32284.9px;letter-spacing:-2.1px;word-spacing:0.2px;color:rgb(35,31,31);
}
#P503_144
{
left:0px;letter-spacing:-0.2px;margin-left:1.9px;
}
#P503_145
{
left:11476.7px;bottom:31196.9px;color:rgb(35,31,31);
}
#P503_146
{
left:11476.7px;bottom:31196.9px;letter-spacing:-13.9px;word-spacing:422.9px;color:rgb(35,31,31);
}
#P503_147
{
left:12628.7px;bottom:31196.9px;color:rgb(35,31,31);
}
#P503_148
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P503_149
{
left:0px;letter-spacing:0px;margin-left:-13.9px;
}
#P503_150
{
left:0px;letter-spacing:0px;margin-left:-6.9px;
}
#P503_151
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P503_152
{
left:12628.7px;bottom:30300.9px;letter-spacing:-5.6px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P503_153
{
left:0px;letter-spacing:-1.1px;margin-left:5.6px;
}
#P503_154
{
left:0px;letter-spacing:0px;margin-left:-19.9px;
}
#P503_155
{
left:0px;letter-spacing:-0.1px;margin-left:-13.9px;
}
#P503_156
{
left:0px;letter-spacing:-0.1px;margin-left:-13.8px;
}
#P503_157
{
left:12628.7px;bottom:29404.9px;color:rgb(35,31,31);
}
#P503_158
{
left:12438.3px;bottom:44901px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P503_159
{
left:15863.4px;bottom:45092.8px;color:rgb(255,223,126);
}
#P503_160
{
left:16056.2px;bottom:44901px;letter-spacing:207.4px;color:white;
}
#P503_161
{
left:16903.7px;bottom:45092.8px;color:white;
}
#P503_162
{
left:17143.9px;bottom:44901px;letter-spacing:-3.8px;color:white;
}
#P503_163
{
left:0px;letter-spacing:-2.6px;margin-left:3.9px;
}
#P503_164
{
left:10697.8px;bottom:44777.5px;
}
#P503_165
{
left:10697.8px;bottom:44777.5px;color:white;
}
#P503_166
{
left:11939.1px;bottom:40025.1px;color:rgb(35,31,31);
}
#P503_167
{
left:0px;letter-spacing:0px;margin-left:770.5px;
}
#P503_168
{
left:14102.6px;bottom:38938.2px;letter-spacing:4441.6px;color:rgb(35,31,31);
}
#P503_169
{
left:0px;letter-spacing:0px;margin-left:-4441.6px;
}
#P503_170
{
left:14102.6px;bottom:37914.2px;letter-spacing:4441.6px;color:rgb(35,31,31);
}
#P503_171
{
left:0px;letter-spacing:0px;margin-left:-4441.6px;
}
#P503_172
{
left:14102.6px;bottom:36890.2px;letter-spacing:4441.6px;color:rgb(35,31,31);
}
#P503_173
{
left:0px;letter-spacing:0px;margin-left:-4441.6px;
}
#P503_174
{
left:14102.6px;bottom:35866.2px;letter-spacing:4441.6px;color:rgb(35,31,31);
}
#P503_175
{
left:0px;letter-spacing:0px;margin-left:-4441.6px;
}
#P503_176
{
left:14102.6px;bottom:34842.2px;letter-spacing:4780.8px;color:rgb(35,31,31);
}
#P503_177
{
left:12178.5px;bottom:24701.7px;letter-spacing:-18.4px;color:rgb(35,31,31);
}
#P503_178
{
left:0px;letter-spacing:0px;margin-left:18.4px;
}
#P503_179
{
left:21398.4px;bottom:24654.7px;color:rgb(35,31,31);
}
#P503_180
{
left:21958.2px;bottom:24682.9px;color:rgb(35,31,31);
}
#P503_181
{
left:0px;letter-spacing:0px;margin-left:1567.7px;
}
#P503_182
{
left:26696.4px;bottom:24654.7px;color:rgb(35,31,31);
}
#P503_183
{
left:27256.2px;bottom:24682.9px;letter-spacing:1923.9px;color:rgb(35,31,31);
}
#P503_184
{
left:0px;letter-spacing:0px;margin-left:101.8px;
}
#P503_185
{
left:0px;letter-spacing:0px;
}
#P503_186
{
left:34198.4px;bottom:24654.7px;color:rgb(35,31,31);
}
#P503_187
{
left:34758px;bottom:24682.9px;color:rgb(35,31,31);
}
#P503_188
{
left:12178.3px;bottom:23357.7px;color:rgb(35,31,31);
}
#P503_189
{
left:4941.34px;bottom:38494.1px;color:rgb(35,31,31);
}
#P503_190
{
left:4941.34px;bottom:37726.1px;color:rgb(35,31,31);
}
#P503_191
{
left:6086.46px;bottom:37726.1px;word-spacing:18.1px;color:rgb(35,31,31);
}
#P503_192
{
left:4941.34px;bottom:36859.2px;color:rgb(35,31,31);
}
#P503_193
{
left:4941.34px;bottom:36123.2px;color:rgb(35,31,31);
}
#P503_194
{
left:4941.34px;bottom:35387.3px;color:rgb(35,31,31);
}
#P503_195
{
left:4941.34px;bottom:34651.4px;color:rgb(35,31,31);
}
#P503_196
{
left:4690.71px;bottom:40277.9px;letter-spacing:-20.4px;color:white;
}
#P503_197
{
left:4690.71px;bottom:39317.9px;letter-spacing:-27.2px;color:white;
}
#P503_198
{
left:6669.79px;bottom:39574.6px;color:white;
}
#P503_199
{
left:6945.05px;bottom:39317.9px;letter-spacing:-27.2px;color:white;
}
#PageContainer503
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg503.jpg");background-repeat:no-repeat;background-size: 1021px 1272px; background-position: 0px -0.240000000000009px;
}
#ImageContainer503 {bottom:92.24px;left:0.00px;width:1020.57px;height:1271.92px;position:absolute;} #TextContainer503 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.practice{position: absolute;top: 1215px;left: 249px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}