.tr193{ color:transparent;}
#P193_1
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P193_2
{
left:23991.7px;bottom:1410.03px;color:rgb(35,31,31);
}
#P193_3
{
left:28547.9px;bottom:1410.03px;letter-spacing:2px;word-spacing:462px;color:rgb(35,31,31);
}
#P193_4
{
left:0px;letter-spacing:0px;margin-left:-464px;
}
#P193_5
{
left:0px;letter-spacing:0.1px;margin-left:0.1px;
}
#P193_6
{
left:0px;letter-spacing:0px;margin-left:-462.1px;
}
#P193_7
{
left:0px;letter-spacing:-6.2px;margin-left:-40.5px;
}
#P193_8
{
left:0px;letter-spacing:0.3px;margin-left:6.3px;
}
#P193_9
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P193_10
{
left:11555.5px;bottom:43292.8px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P193_11
{
left:0px;letter-spacing:0.4px;margin-left:14.1px;
}
#P193_12
{
left:0px;letter-spacing:-14px;margin-left:-42.5px;
}
#P193_13
{
left:0px;letter-spacing:0px;margin-left:-17.6px;
}
#P193_14
{
left:0px;letter-spacing:-1px;
}
#P193_15
{
left:0px;letter-spacing:0.2px;margin-left:-7.4px;
}
#P193_16
{
left:11555.5px;bottom:42396.8px;color:rgb(35,31,31);
}
#P193_17
{
left:12005.3px;bottom:42396.8px;letter-spacing:77px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P193_18
{
left:0px;letter-spacing:-0.8px;margin-left:-77.1px;
}
#P193_19
{
left:0px;letter-spacing:-0.1px;margin-left:0.7px;
}
#P193_20
{
left:12433.7px;bottom:44853px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P193_21
{
left:15858.8px;bottom:45044.8px;color:rgb(255,223,126);
}
#P193_22
{
left:16451.7px;bottom:44853px;word-spacing:175.5px;color:white;
}
#P193_23
{
left:17523.9px;bottom:45044.8px;color:white;
}
#P193_24
{
left:17764.1px;bottom:44853px;color:white;
}
#P193_25
{
left:18100.1px;bottom:45044.8px;color:white;
}
#P193_26
{
left:18340.3px;bottom:44853px;color:white;
}
#P193_27
{
left:10693.3px;bottom:44729.5px;
}
#P193_28
{
left:10693.3px;bottom:44729.5px;color:white;
}
#P193_29
{
left:10541.4px;bottom:11591.9px;color:rgb(35,31,31);
}
#P193_30
{
left:10903.8px;bottom:11618.7px;color:rgb(35,31,31);
}
#P193_31
{
left:11464.2px;bottom:11591.9px;letter-spacing:326.8px;color:rgb(35,31,31);
}
#P193_32
{
left:11949.4px;bottom:11611.6px;word-spacing:-26px;color:rgb(2,77,161);
}
#P193_33
{
left:0px;letter-spacing:0px;margin-left:-26px;
}
#P193_34
{
left:0px;letter-spacing:0px;margin-left:26px;
}
#P193_35
{
left:19109.3px;bottom:11591.9px;letter-spacing:193.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P193_36
{
left:0px;letter-spacing:-10.5px;margin-left:-214.5px;
}
#P193_37
{
left:0px;letter-spacing:-0.3px;margin-left:10.4px;
}
#P193_38
{
left:0px;letter-spacing:-0.1px;margin-left:0.2px;
}
#P193_39
{
left:11949.4px;bottom:10695.9px;letter-spacing:-1.2px;word-spacing:0.3px;color:rgb(35,31,31);
}
#P193_40
{
left:10541.4px;bottom:9415.92px;color:rgb(35,31,31);
}
#P193_41
{
left:10903.8px;bottom:9442.73px;color:rgb(35,31,31);
}
#P193_42
{
left:11949.4px;bottom:9415.92px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P193_43
{
left:0px;letter-spacing:-0.1px;margin-left:-12.5px;
}
#P193_44
{
left:0px;letter-spacing:-0.1px;margin-left:-42px;
}
#P193_45
{
left:0px;letter-spacing:-1px;
}
#P193_46
{
left:0px;letter-spacing:-0.1px;margin-left:0.9px;
}
#P193_47
{
left:11949.4px;bottom:8519.92px;letter-spacing:-1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P193_48
{
left:0px;letter-spacing:-1.1px;margin-left:0.9px;
}
#P193_49
{
left:0px;letter-spacing:-0.3px;margin-left:1.1px;
}
#P193_50
{
left:0px;letter-spacing:-0.9px;margin-left:0.3px;
}
#P193_51
{
left:11949.4px;bottom:7623.98px;letter-spacing:-0.3px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P193_52
{
left:14845.4px;bottom:4397.23px;letter-spacing:228.8px;color:rgb(0,124,196);
}
#P193_53
{
left:15261.4px;bottom:4429.23px;letter-spacing:-9.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P193_54
{
left:0px;letter-spacing:-0.5px;margin-left:9.3px;
}
#P193_55
{
left:0px;letter-spacing:-0.5px;margin-left:0.4px;
}
#P193_56
{
left:15261.4px;bottom:3533.25px;color:rgb(35,31,31);
}
#P193_57
{
left:0px;letter-spacing:0px;margin-left:-4.2px;
}
#P193_58
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P193_59
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P193_60
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P193_61
{
left:19930.5px;bottom:39074.5px;letter-spacing:32.4px;color:rgb(0,124,196);
}
#P193_62
{
left:0px;letter-spacing:44.2px;margin-left:11.8px;
}
#P193_63
{
left:0px;letter-spacing:-7px;margin-left:-71.5px;
}
#P193_64
{
left:0px;letter-spacing:42.7px;margin-left:51.2px;
}
#P193_65
{
left:19930.5px;bottom:31113.2px;letter-spacing:29.9px;color:rgb(0,124,196);
}
#P193_66
{
left:19930.5px;bottom:21530.5px;letter-spacing:25.4px;color:rgb(0,124,196);
}
#P193_67
{
left:0px;letter-spacing:30.9px;margin-left:5.5px;
}
#P193_68
{
left:19857px;bottom:37204.7px;letter-spacing:23.1px;color:rgb(189,29,43);
}
#P193_69
{
left:0px;letter-spacing:30.9px;margin-left:7.8px;
}
#P193_70
{
left:24033.9px;bottom:37149.4px;letter-spacing:30.2px;word-spacing:0.1px;color:rgb(33,31,31);
}
#P193_71
{
left:0px;letter-spacing:30.5px;margin-left:-16.9px;
}
#P193_72
{
left:0px;letter-spacing:27.9px;margin-left:0.3px;
}
#P193_73
{
left:0px;letter-spacing:0px;margin-left:-23.5px;
}
#P193_74
{
left:19918.1px;bottom:36192.9px;letter-spacing:30.9px;color:rgb(33,31,31);
}
#P193_75
{
left:0px;letter-spacing:30.9px;margin-left:-35.3px;
}
#P193_76
{
left:0px;letter-spacing:30.9px;margin-left:-60px;
}
#P193_77
{
left:0px;letter-spacing:30.9px;margin-left:-7.1px;
}
#P193_78
{
left:19918.1px;bottom:20605.2px;letter-spacing:27.7px;color:rgb(33,31,31);
}
#P193_79
{
left:0px;letter-spacing:30.9px;margin-left:3.2px;
}
#P193_80
{
left:20126.9px;bottom:35409.1px;letter-spacing:28.3px;color:rgb(33,31,31);
}
#P193_81
{
left:20126.9px;bottom:30216.3px;letter-spacing:28.3px;color:rgb(33,31,31);
}
#P193_82
{
left:0px;letter-spacing:0px;margin-left:7103.4px;
}
#P193_83
{
left:0px;letter-spacing:0px;margin-left:21.9px;
}
#P193_84
{
left:20126.9px;bottom:34552.5px;letter-spacing:42.9px;color:rgb(33,31,31);
}
#P193_85
{
left:20126.9px;bottom:33696px;letter-spacing:13.8px;color:rgb(33,31,31);
}
#P193_86
{
left:20126.9px;bottom:19723.9px;letter-spacing:28.3px;color:rgb(33,31,31);
}
#P193_87
{
left:0px;letter-spacing:0px;margin-left:7270.2px;
}
#P193_88
{
left:0px;letter-spacing:0px;margin-left:43px;
}
#P193_89
{
left:12224.3px;bottom:36445.9px;color:rgb(0,124,196);
}
#P193_90
{
left:12224.3px;bottom:35639.5px;color:rgb(0,124,196);
}
#P193_91
{
left:12224.3px;bottom:34833.1px;color:rgb(0,124,196);
}
#P193_92
{
left:12224.3px;bottom:34026.7px;color:rgb(0,124,196);
}
#P193_93
{
left:11706.1px;bottom:30487.3px;color:rgb(0,124,196);
}
#P193_94
{
left:11706.1px;bottom:29680.9px;color:rgb(0,124,196);
}
#P193_95
{
left:11706.1px;bottom:28874.5px;color:rgb(0,124,196);
}
#P193_96
{
left:11706.1px;bottom:28068.1px;color:rgb(0,124,196);
}
#P193_97
{
left:11706.1px;bottom:27261.7px;color:rgb(0,124,196);
}
#P193_98
{
left:11817px;bottom:22647px;color:rgb(0,124,196);
}
#P193_99
{
left:11817px;bottom:21840.6px;color:rgb(0,124,196);
}
#P193_100
{
left:11817px;bottom:21034.2px;color:rgb(0,124,196);
}
#P193_101
{
left:11817px;bottom:20227.8px;color:rgb(0,124,196);
}
#P193_102
{
left:11817px;bottom:19421.4px;color:rgb(0,124,196);
}
#P193_103
{
left:4905.31px;bottom:38513.1px;color:rgb(35,31,31);
}
#P193_104
{
left:4905.31px;bottom:37745.1px;color:rgb(35,31,31);
}
#P193_105
{
left:6050.36px;bottom:37745.1px;word-spacing:18.1px;color:rgb(35,31,31);
}
#P193_106
{
left:4905.31px;bottom:36878.3px;color:rgb(35,31,31);
}
#P193_107
{
left:4905.31px;bottom:36142.3px;color:rgb(35,31,31);
}
#P193_108
{
left:5794.14px;bottom:36159.3px;color:rgb(35,31,31);
}
#P193_109
{
left:7862.36px;bottom:36142.3px;color:rgb(35,31,31);
}
#P193_110
{
left:4905.31px;bottom:35406.3px;color:rgb(35,31,31);
}
#P193_111
{
left:4905.31px;bottom:34670.3px;color:rgb(35,31,31);
}
#P193_112
{
left:4905.31px;bottom:33934.4px;color:rgb(35,31,31);
}
#P193_113
{
left:4905.31px;bottom:33198.4px;color:rgb(35,31,31);
}
#P193_114
{
left:4905.31px;bottom:32462.4px;color:rgb(35,31,31);
}
#P193_115
{
left:4654.68px;bottom:40296.9px;letter-spacing:-20.4px;color:white;
}
#P193_116
{
left:4654.68px;bottom:39336.9px;letter-spacing:-27.2px;color:white;
}
#P193_117
{
left:6633.75px;bottom:39593.6px;color:white;
}
#P193_118
{
left:6909.02px;bottom:39336.9px;letter-spacing:-27.2px;color:white;
}
#PageContainer193
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg193.jpg");background-repeat:no-repeat;background-size: 1014px 1274px; background-position: 0px -0.420000000000073px;
}
#ImageContainer193 {bottom:90.42px;left:0.00px;width:1014.47px;height:1273.74px;position:absolute;} #TextContainer193 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.practice{position: absolute;top: 1215px;left: 255px;}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}