.tr146{ color:transparent;}
#P146_1
{
left:2365.4px;bottom:1481.77px;color:rgb(35,31,31);
}
#P146_2
{
left:3540.44px;bottom:1623.85px;color:rgb(35,31,31);
}
#P146_3
{
left:4669.4px;bottom:1481.77px;color:rgb(35,31,31);
}
#P146_4
{
left:7585.88px;bottom:1481.77px;letter-spacing:462.1px;color:rgb(35,31,31);
}
#P146_5
{
left:0px;letter-spacing:1.1px;margin-left:-457.6px;
}
#P146_6
{
left:0px;letter-spacing:4px;margin-left:9.7px;
}
#P146_7
{
left:0px;letter-spacing:2.1px;margin-left:-0.2px;
}
#P146_8
{
left:0px;letter-spacing:6.4px;margin-left:2.4px;
}
#P146_9
{
left:0px;letter-spacing:0px;margin-left:2.6px;
}
#P146_10
{
left:5889.56px;bottom:46957.1px;color:white;
}
#P146_11
{
left:2372.31px;bottom:46930.2px;color:white;
}
#P146_12
{
left:10813.4px;bottom:44208.9px;letter-spacing:-2px;color:rgb(35,31,31);
}
#P146_13
{
left:0px;letter-spacing:-1.1px;margin-left:2px;
}
#P146_14
{
left:8141.4px;bottom:42427.6px;color:rgb(35,31,31);
}
#P146_15
{
left:0px;letter-spacing:0px;margin-left:2378.2px;
}
#P146_16
{
left:0px;letter-spacing:0px;margin-left:2504.5px;
}
#P146_17
{
left:0px;letter-spacing:0px;margin-left:1921.9px;
}
#P146_18
{
left:0px;letter-spacing:0px;margin-left:1824.5px;
}
#P146_19
{
left:8141.4px;bottom:41119.9px;letter-spacing:-2.7px;color:rgb(35,31,31);
}
#P146_20
{
left:8141.4px;bottom:40288px;color:rgb(35,31,31);
}
#P146_21
{
left:13712.7px;bottom:41068.8px;color:rgb(35,31,31);
}
#P146_22
{
left:14433.6px;bottom:40172.6px;color:rgb(35,31,31);
}
#P146_23
{
left:14026.6px;bottom:39276.4px;color:rgb(35,31,31);
}
#P146_24
{
left:13457.8px;bottom:38380.2px;letter-spacing:-1.8px;color:rgb(35,31,31);
}
#P146_25
{
left:13118.5px;bottom:37484px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P146_26
{
left:0px;letter-spacing:0px;margin-left:-16.2px;
}
#P146_27
{
left:13990px;bottom:36587.8px;color:rgb(35,31,31);
}
#P146_28
{
left:14499.7px;bottom:35691.6px;color:rgb(35,31,31);
}
#P146_29
{
left:18269.7px;bottom:41067.4px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P146_30
{
left:19814.9px;bottom:40171.2px;color:rgb(35,31,31);
}
#P146_31
{
left:18830px;bottom:39275px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P146_32
{
left:19424.9px;bottom:38378.8px;color:rgb(35,31,31);
}
#P146_33
{
left:18761.8px;bottom:37482.6px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P146_34
{
left:0px;letter-spacing:0px;margin-left:-16.2px;
}
#P146_35
{
left:19131.4px;bottom:36586.4px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P146_36
{
left:19260.2px;bottom:35690.2px;color:rgb(35,31,31);
}
#P146_37
{
left:24655.6px;bottom:41066px;letter-spacing:-1.5px;color:rgb(35,31,31);
}
#P146_38
{
left:25897.5px;bottom:40169.8px;color:rgb(35,31,31);
}
#P146_39
{
left:25114.6px;bottom:39273.6px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P146_40
{
left:25931.3px;bottom:38377.4px;color:rgb(35,31,31);
}
#P146_41
{
left:26464.9px;bottom:37481.2px;color:rgb(35,31,31);
}
#P146_42
{
left:30423.5px;bottom:41065.3px;letter-spacing:-2px;color:rgb(35,31,31);
}
#P146_43
{
left:30314.4px;bottom:40169.1px;color:rgb(35,31,31);
}
#P146_44
{
left:11590.8px;bottom:30841.1px;letter-spacing:-14.8px;color:rgb(35,31,31);
}
#P146_45
{
left:0px;letter-spacing:-0.5px;margin-left:14.8px;
}
#P146_46
{
left:10822.7px;bottom:29689.3px;color:rgb(35,31,31);
}
#P146_47
{
left:11614.7px;bottom:29689.3px;letter-spacing:-14.1px;color:rgb(35,31,31);
}
#P146_48
{
left:12679.2px;bottom:29689.3px;color:rgb(35,31,31);
}
#P146_49
{
left:13210.7px;bottom:29688.6px;letter-spacing:-0.5px;color:rgb(235,26,35);
}
#P146_50
{
left:16601.2px;bottom:29688.6px;color:rgb(35,31,31);
}
#P146_51
{
left:11590.8px;bottom:28216.6px;letter-spacing:1441.6px;color:rgb(35,31,31);
}
#P146_52
{
left:14152.5px;bottom:28220.8px;color:rgb(35,31,31);
}
#P146_53
{
left:15057.1px;bottom:28191.2px;color:rgb(235,26,35);
}
#P146_54
{
left:15643.5px;bottom:28220.8px;color:rgb(35,31,31);
}
#P146_55
{
left:21384.4px;bottom:28228.8px;letter-spacing:-8.3px;color:rgb(0,124,196);
}
#P146_56
{
left:0px;letter-spacing:0px;margin-left:8.3px;
}
#P146_57
{
left:24307px;bottom:28255.7px;color:rgb(0,124,196);
}
#P146_58
{
left:27258.8px;bottom:28228.8px;color:rgb(0,124,196);
}
#P146_59
{
left:29248.6px;bottom:28255.7px;color:rgb(0,124,196);
}
#P146_60
{
left:32263.4px;bottom:28228.8px;color:rgb(0,124,196);
}
#P146_61
{
left:10824.4px;bottom:26556.8px;color:rgb(35,31,31);
}
#P146_62
{
left:11644.6px;bottom:26556.8px;letter-spacing:-17.5px;color:rgb(35,31,31);
}
#P146_63
{
left:12680.9px;bottom:26556.8px;color:rgb(35,31,31);
}
#P146_64
{
left:13870.6px;bottom:26556.8px;letter-spacing:-0.5px;color:rgb(235,26,35);
}
#P146_65
{
left:17202.6px;bottom:26556.8px;color:rgb(35,31,31);
}
#P146_66
{
left:14152.5px;bottom:25084.8px;word-spacing:993.6px;color:rgb(35,31,31);
}
#P146_67
{
left:15057.1px;bottom:25055.2px;color:rgb(235,26,35);
}
#P146_68
{
left:15643.5px;bottom:25084.8px;color:rgb(35,31,31);
}
#P146_69
{
left:18210.2px;bottom:24646.3px;color:rgb(235,26,35);
}
#P146_70
{
left:18561.9px;bottom:25084.8px;color:rgb(35,31,31);
}
#P146_71
{
left:21384.4px;bottom:25092.8px;letter-spacing:-8.3px;color:rgb(0,124,196);
}
#P146_72
{
left:0px;letter-spacing:0px;margin-left:8.3px;
}
#P146_73
{
left:24307px;bottom:25119.7px;color:rgb(0,124,196);
}
#P146_74
{
left:27130.9px;bottom:25092.8px;color:rgb(0,124,196);
}
#P146_75
{
left:29120.7px;bottom:25119.7px;color:rgb(0,124,196);
}
#P146_76
{
left:32833.9px;bottom:25092.8px;color:rgb(0,124,196);
}
#P146_77
{
left:5497.11px;bottom:32449.7px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P146_78
{
left:12365.4px;bottom:32474.2px;color:white;
}
#P146_79
{
left:13437.7px;bottom:32666px;color:white;
}
#P146_80
{
left:13677.8px;bottom:32474.2px;color:white;
}
#P146_81
{
left:14013.9px;bottom:32666px;color:white;
}
#P146_82
{
left:14254.1px;bottom:32474.2px;color:white;
}
#P146_83
{
left:18032.4px;bottom:32666px;color:white;
}
#P146_84
{
left:18272.6px;bottom:32474.2px;letter-spacing:-1.6px;color:white;
}
#P146_85
{
left:22498.4px;bottom:32666px;color:white;
}
#P146_86
{
left:22738.6px;bottom:32474.2px;color:white;
}
#P146_87
{
left:10521px;bottom:32307.1px;
}
#P146_88
{
left:10521px;bottom:32307.1px;color:white;
}
#P146_89
{
left:2848.01px;bottom:17432.5px;color:rgb(35,31,31);
}
#P146_90
{
left:2848.01px;bottom:16664.5px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P146_91
{
left:2848.01px;bottom:15896.5px;color:rgb(35,31,31);
}
#P146_92
{
left:2848.01px;bottom:15128.5px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P146_93
{
left:2848.01px;bottom:14360.5px;color:rgb(35,31,31);
}
#P146_94
{
left:2848.01px;bottom:13592.5px;color:rgb(35,31,31);
}
#P146_95
{
left:6404.44px;bottom:13592.5px;color:rgb(35,31,31);
}
#P146_96
{
left:6688.6px;bottom:13592.5px;color:rgb(35,31,31);
}
#P146_97
{
left:2848.01px;bottom:12824.5px;color:rgb(35,31,31);
}
#P146_98
{
left:2848.01px;bottom:11928.5px;color:rgb(35,31,31);
}
#P146_99
{
left:3616.01px;bottom:11928.5px;color:rgb(35,31,31);
}
#P146_100
{
left:3900.17px;bottom:11928.5px;color:rgb(35,31,31);
}
#P146_101
{
left:4078.09px;bottom:11879.9px;color:rgb(35,31,31);
}
#P146_102
{
left:4611.23px;bottom:11928.5px;color:rgb(35,31,31);
}
#P146_103
{
left:7137.31px;bottom:11879.9px;color:rgb(35,31,31);
}
#P146_104
{
left:7670.36px;bottom:11928.5px;color:rgb(35,31,31);
}
#P146_105
{
left:7848.28px;bottom:11928.5px;color:rgb(35,31,31);
}
#P146_106
{
left:8132.44px;bottom:11928.5px;color:rgb(35,31,31);
}
#P146_107
{
left:2621.37px;bottom:18524.8px;color:white;
}
#P146_108
{
left:11578.5px;bottom:20716.8px;letter-spacing:-14.8px;color:rgb(35,31,31);
}
#P146_109
{
left:0px;letter-spacing:-0.5px;margin-left:14.8px;
}
#P146_110
{
left:10810.5px;bottom:19565.1px;color:rgb(35,31,31);
}
#P146_111
{
left:11538.4px;bottom:19565.1px;letter-spacing:-14.1px;color:rgb(35,31,31);
}
#P146_112
{
left:12602.8px;bottom:19565.1px;color:rgb(35,31,31);
}
#P146_113
{
left:13507.5px;bottom:19565.1px;letter-spacing:-1.8px;color:rgb(235,26,35);
}
#P146_114
{
left:16817px;bottom:19565.1px;color:rgb(35,31,31);
}
#P146_115
{
left:20229.3px;bottom:19565.1px;color:rgb(35,31,31);
}
#P146_116
{
left:11578.5px;bottom:18093px;letter-spacing:1441.6px;color:rgb(35,31,31);
}
#P146_117
{
left:14138.3px;bottom:18093px;color:rgb(35,31,31);
}
#P146_118
{
left:14501.5px;bottom:18063.5px;color:rgb(35,31,31);
}
#P146_119
{
left:14677.5px;bottom:18063.5px;color:rgb(235,26,35);
}
#P146_120
{
left:15264px;bottom:18063.5px;color:rgb(35,31,31);
}
#P146_121
{
left:15440px;bottom:18093px;color:rgb(35,31,31);
}
#P146_122
{
left:21370.5px;bottom:18100.8px;letter-spacing:-8.3px;color:rgb(0,124,196);
}
#P146_123
{
left:0px;letter-spacing:0px;margin-left:8.3px;
}
#P146_124
{
left:24293.1px;bottom:18127.7px;color:rgb(0,124,196);
}
#P146_125
{
left:27086.2px;bottom:18100.8px;color:rgb(0,124,196);
}
#P146_126
{
left:29075.9px;bottom:18127.7px;color:rgb(0,124,196);
}
#P146_127
{
left:31329.3px;bottom:18100.8px;color:rgb(0,124,196);
}
#P146_128
{
left:10810.5px;bottom:16428.8px;color:rgb(35,31,31);
}
#P146_129
{
left:11502.6px;bottom:16428.8px;letter-spacing:-17.5px;color:rgb(35,31,31);
}
#P146_130
{
left:12602.9px;bottom:16428.8px;color:rgb(35,31,31);
}
#P146_131
{
left:15856.8px;bottom:16428.8px;color:rgb(35,31,31);
}
#P146_132
{
left:16186.3px;bottom:16428.8px;color:rgb(35,31,31);
}
#P146_133
{
left:16344.7px;bottom:16428.8px;color:rgb(235,26,35);
}
#P146_134
{
left:18368.7px;bottom:16428.8px;color:rgb(35,31,31);
}
#P146_135
{
left:11578.6px;bottom:14956.8px;letter-spacing:993.6px;color:rgb(35,31,31);
}
#P146_136
{
left:14138.3px;bottom:14956.8px;color:rgb(35,31,31);
}
#P146_137
{
left:14467.8px;bottom:14956.8px;color:rgb(35,31,31);
}
#P146_138
{
left:14626.2px;bottom:14927.2px;color:rgb(235,26,35);
}
#P146_139
{
left:15212.6px;bottom:14956.8px;color:rgb(35,31,31);
}
#P146_140
{
left:21370.5px;bottom:14964.8px;letter-spacing:-8.3px;color:rgb(0,124,196);
}
#P146_141
{
left:0px;letter-spacing:0px;margin-left:8.3px;
}
#P146_142
{
left:23895.3px;bottom:14991.7px;color:rgb(0,124,196);
}
#P146_143
{
left:25482px;bottom:14964.8px;color:rgb(0,124,196);
}
#P146_144
{
left:27471.8px;bottom:14991.7px;color:rgb(0,124,196);
}
#P146_145
{
left:30486.5px;bottom:14964.8px;color:rgb(0,124,196);
}
#P146_146
{
left:10810.5px;bottom:13292.8px;color:rgb(35,31,31);
}
#P146_147
{
left:11573.7px;bottom:13292.8px;letter-spacing:-14.1px;color:rgb(35,31,31);
}
#P146_148
{
left:12602.2px;bottom:13292.8px;color:rgb(35,31,31);
}
#P146_149
{
left:13792px;bottom:13292.8px;color:rgb(235,26,35);
}
#P146_150
{
left:17316.9px;bottom:13292.8px;color:rgb(35,31,31);
}
#P146_151
{
left:22644.1px;bottom:13292.8px;color:rgb(35,31,31);
}
#P146_152
{
left:14138.5px;bottom:11628.6px;word-spacing:993.6px;color:rgb(35,31,31);
}
#P146_153
{
left:14670px;bottom:11599px;color:rgb(235,26,35);
}
#P146_154
{
left:15256.5px;bottom:11628.6px;color:rgb(35,31,31);
}
#P146_155
{
left:15414.9px;bottom:11628.6px;color:rgb(35,31,31);
}
#P146_156
{
left:15744.3px;bottom:11628.6px;color:rgb(35,31,31);
}
#P146_157
{
left:16927.8px;bottom:11628.8px;color:rgb(35,31,31);
}
#P146_158
{
left:16948.8px;bottom:12069px;color:rgb(35,31,31);
}
#P146_159
{
left:17284.6px;bottom:11646.4px;color:rgb(35,31,31);
}
#P146_160
{
left:16927.7px;bottom:11612.8px;color:rgb(235,26,35);
}
#P146_161
{
left:17305.8px;bottom:11630.1px;color:rgb(235,26,35);
}
#P146_162
{
left:16968.5px;bottom:11283.5px;color:rgb(35,31,31);
}
#P146_163
{
left:17265px;bottom:11646.4px;color:rgb(35,31,31);
}
#P146_164
{
left:17305.8px;bottom:11628.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P146_165
{
left:21370.5px;bottom:11636.8px;letter-spacing:-8.3px;color:rgb(0,124,196);
}
#P146_166
{
left:0px;letter-spacing:0px;margin-left:8.3px;
}
#P146_167
{
left:24293.1px;bottom:11663.7px;color:rgb(0,124,196);
}
#P146_168
{
left:27339.8px;bottom:11636.8px;color:rgb(0,124,196);
}
#P146_169
{
left:29329.6px;bottom:11663.7px;color:rgb(0,124,196);
}
#P146_170
{
left:31360.7px;bottom:11636.8px;color:rgb(0,124,196);
}
#P146_171
{
left:11578.5px;bottom:8108.84px;letter-spacing:-14.8px;color:rgb(35,31,31);
}
#P146_172
{
left:0px;letter-spacing:-0.5px;margin-left:14.8px;
}
#P146_173
{
left:0px;letter-spacing:0px;margin-left:-27.7px;
}
#P146_174
{
left:11578.5px;bottom:6957.1px;color:rgb(35,31,31);
}
#P146_175
{
left:11716.9px;bottom:6983.66px;color:rgb(35,31,31);
}
#P146_176
{
left:12730.5px;bottom:6956.84px;color:rgb(35,31,31);
}
#P146_177
{
left:23108.9px;bottom:6983.66px;color:rgb(35,31,31);
}
#P146_178
{
left:24122.5px;bottom:6956.84px;color:rgb(35,31,31);
}
#P146_179
{
left:11578.6px;bottom:5676.97px;color:rgb(35,31,31);
}
#P146_180
{
left:11716.9px;bottom:5703.66px;color:rgb(35,31,31);
}
#P146_181
{
left:12730.5px;bottom:5676.84px;color:rgb(35,31,31);
}
#P146_182
{
left:19851.5px;bottom:5676.84px;color:rgb(35,31,31);
}
#P146_183
{
left:20245.1px;bottom:5676.84px;color:rgb(35,31,31);
}
#P146_184
{
left:23108.9px;bottom:5703.66px;color:rgb(35,31,31);
}
#P146_185
{
left:24122.5px;bottom:5676.84px;color:rgb(35,31,31);
}
#P146_186
{
left:27376.4px;bottom:5676.84px;color:rgb(35,31,31);
}
#P146_187
{
left:27739.7px;bottom:5676.84px;letter-spacing:-1.5px;color:rgb(35,31,31);
}
#P146_188
{
left:11578.6px;bottom:4396.97px;color:rgb(35,31,31);
}
#P146_189
{
left:11716.9px;bottom:4423.66px;color:rgb(35,31,31);
}
#P146_190
{
left:12730.5px;bottom:4396.84px;color:rgb(35,31,31);
}
#P146_191
{
left:19576.9px;bottom:4396.84px;color:rgb(35,31,31);
}
#P146_192
{
left:19817px;bottom:4396.84px;color:rgb(35,31,31);
}
#P146_193
{
left:23108.9px;bottom:4423.66px;color:rgb(35,31,31);
}
#P146_194
{
left:24122.5px;bottom:4396.84px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P146_195
{
left:0px;letter-spacing:0px;margin-left:-16.6px;
}
#P146_196
{
left:32942.3px;bottom:4396.84px;color:rgb(35,31,31);
}
#P146_197
{
left:5483.23px;bottom:22321.7px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P146_198
{
left:12351.5px;bottom:22346.2px;color:white;
}
#P146_199
{
left:13423.8px;bottom:22538px;color:white;
}
#P146_200
{
left:13664px;bottom:22346.2px;color:white;
}
#P146_201
{
left:14000px;bottom:22538px;color:white;
}
#P146_202
{
left:14240.2px;bottom:22346.2px;letter-spacing:-1.7px;word-spacing:-31.9px;color:white;
}
#P146_203
{
left:18449.7px;bottom:22538px;color:white;
}
#P146_204
{
left:18689.9px;bottom:22346.2px;letter-spacing:-1.9px;word-spacing:0.1px;color:white;
}
#P146_205
{
left:22211.7px;bottom:22538px;color:white;
}
#P146_206
{
left:22451.9px;bottom:22346.2px;color:white;
}
#P146_207
{
left:10507.2px;bottom:22179.1px;
}
#P146_208
{
left:10507.2px;bottom:22179.1px;color:white;
}
#P146_209
{
left:6477.4px;bottom:7011.56px;color:rgb(35,31,31);
}
#P146_210
{
left:26785.2px;bottom:46188.3px;word-spacing:0.2px;color:rgb(33,31,31);
}
#P146_211
{
left:0px;letter-spacing:0px;margin-left:-44.9px;
}
#P146_212
{
left:0px;letter-spacing:0px;margin-left:0.1px;
}
#PageContainer146
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg146.jpg");background-repeat:no-repeat;background-size: 945px 1236px; background-position: 0px 35.4200000000001px;
}
#ImageContainer146 {bottom:92.58px;left:0.00px;width:944.90px;height:1236.40px;position:absolute;} #TextContainer146 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.example1{position: absolute;top: 455px;left: 102px;}
.example2{position: absolute;top: 726px;left: 102px;}
.nyr{position: absolute;top: 1122px;left: 147px;}
.nyr_exr{position: absolute;top: 1156px;left: 177px;color: rgb(35,31,31);font-size: 16px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}