.tr441{ color:transparent;}
#P441_1
{
left:4592.6px;bottom:1544.43px;color:rgb(35,31,31);
}
#P441_2
{
left:23253.8px;bottom:1410.03px;letter-spacing:3.6px;word-spacing:-1.2px;color:rgb(35,31,31);
}
#P441_3
{
left:27846.6px;bottom:1544.43px;letter-spacing:2.6px;word-spacing:462.3px;color:rgb(35,31,31);
}
#P441_4
{
left:0px;letter-spacing:0px;margin-left:175.1px;
}
#P441_5
{
left:0px;letter-spacing:-0.3px;margin-left:-0.3px;
}
#P441_6
{
left:0px;letter-spacing:0px;margin-left:-462.1px;
}
#P441_7
{
left:0px;letter-spacing:0.4px;margin-left:-23px;
}
#P441_8
{
left:0px;letter-spacing:-0.2px;margin-left:-4px;
}
#P441_9
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P441_10
{
left:8141.4px;bottom:6604.4px;color:rgb(35,31,31);
}
#P441_11
{
left:8141.4px;bottom:5836.4px;color:rgb(35,31,31);
}
#P441_12
{
left:13896.4px;bottom:16476.8px;color:rgb(35,31,31);
}
#P441_13
{
left:13896.4px;bottom:15132.8px;letter-spacing:801.6px;color:rgb(35,31,31);
}
#P441_14
{
left:15386.5px;bottom:14924.6px;color:rgb(35,31,31);
}
#P441_15
{
left:15657.8px;bottom:15132.8px;color:rgb(35,31,31);
}
#P441_16
{
left:15816.2px;bottom:15103.2px;color:rgb(35,31,31);
}
#P441_17
{
left:16402.6px;bottom:15132.8px;color:rgb(35,31,31);
}
#P441_18
{
left:22098.7px;bottom:15140.8px;color:rgb(0,124,196);
}
#P441_19
{
left:30216.4px;bottom:15132.8px;color:rgb(35,31,31);
}
#P441_20
{
left:30746.5px;bottom:14924.6px;color:rgb(35,31,31);
}
#P441_21
{
left:31017.8px;bottom:15132.8px;color:rgb(35,31,31);
}
#P441_22
{
left:31176.2px;bottom:15103.2px;color:rgb(35,31,31);
}
#P441_23
{
left:31762.6px;bottom:15132.8px;color:rgb(35,31,31);
}
#P441_24
{
left:13896.4px;bottom:13852.8px;color:rgb(35,31,31);
}
#P441_25
{
left:14536.4px;bottom:13852.8px;color:rgb(235,26,35);
}
#P441_26
{
left:15655.8px;bottom:13852.8px;color:rgb(35,31,31);
}
#P441_27
{
left:15814.2px;bottom:13823.2px;color:rgb(35,31,31);
}
#P441_28
{
left:16400.6px;bottom:13852.8px;color:rgb(35,31,31);
}
#P441_29
{
left:17738.1px;bottom:13852.8px;color:rgb(0,124,196);
}
#P441_30
{
left:18484.4px;bottom:13852.8px;color:rgb(35,31,31);
}
#P441_31
{
left:22236px;bottom:13860.8px;letter-spacing:-0.7px;color:rgb(0,124,196);
}
#P441_32
{
left:0px;letter-spacing:-24.8px;margin-left:-24.1px;
}
#P441_33
{
left:29896.4px;bottom:13852.8px;color:rgb(235,26,35);
}
#P441_34
{
left:31015.8px;bottom:13852.8px;color:rgb(35,31,31);
}
#P441_35
{
left:31174.2px;bottom:13823.2px;color:rgb(35,31,31);
}
#P441_36
{
left:31760.6px;bottom:13852.8px;color:rgb(35,31,31);
}
#P441_37
{
left:33098.1px;bottom:13852.8px;color:rgb(0,124,196);
}
#P441_38
{
left:33844.4px;bottom:13852.8px;color:rgb(35,31,31);
}
#P441_39
{
left:15576.7px;bottom:12572.8px;word-spacing:1521.9px;color:rgb(35,31,31);
}
#P441_40
{
left:23405.7px;bottom:12580.8px;color:rgb(0,124,196);
}
#P441_41
{
left:0px;letter-spacing:0px;margin-left:-49.7px;
}
#P441_42
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P441_43
{
left:30936.7px;bottom:12572.8px;color:rgb(35,31,31);
}
#P441_44
{
left:14480.4px;bottom:11292.8px;letter-spacing:520.3px;color:rgb(35,31,31);
}
#P441_45
{
left:0px;letter-spacing:0px;margin-left:-678.7px;
}
#P441_46
{
left:0px;letter-spacing:-2.3px;
}
#P441_47
{
left:0px;letter-spacing:0px;margin-left:-11.6px;
}
#P441_48
{
left:0px;letter-spacing:0px;margin-left:-13.9px;
}
#P441_49
{
left:15159.1px;bottom:10396.8px;color:rgb(35,31,31);
}
#P441_50
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P441_51
{
left:0px;letter-spacing:-12.2px;
}
#P441_52
{
left:0px;letter-spacing:-0.5px;margin-left:12.2px;
}
#P441_53
{
left:13896.5px;bottom:7452.91px;color:rgb(35,31,31);
}
#P441_54
{
left:14034.8px;bottom:7479.6px;color:rgb(35,31,31);
}
#P441_55
{
left:15048.4px;bottom:7452.78px;letter-spacing:-0.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P441_56
{
left:0px;letter-spacing:0px;margin-left:-77px;
}
#P441_57
{
left:0px;letter-spacing:-4.3px;margin-left:154.2px;
}
#P441_58
{
left:0px;letter-spacing:-2.7px;margin-left:4.2px;
}
#P441_59
{
left:0px;letter-spacing:-0.1px;margin-left:2.6px;
}
#P441_60
{
left:18959.8px;bottom:6172.78px;color:rgb(35,31,31);
}
#P441_61
{
left:13896.4px;bottom:4892.78px;color:rgb(35,31,31);
}
#P441_62
{
left:15113.3px;bottom:4892.78px;color:rgb(35,31,31);
}
#P441_63
{
left:15693.5px;bottom:4919.6px;color:rgb(35,31,31);
}
#P441_64
{
left:16136.4px;bottom:4892.78px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P441_65
{
left:0px;letter-spacing:-0.2px;margin-left:1.3px;
}
#P441_66
{
left:13896.4px;bottom:3612.77px;color:rgb(35,31,31);
}
#P441_67
{
left:15077.4px;bottom:3612.77px;letter-spacing:-6.9px;color:rgb(35,31,31);
}
#P441_68
{
left:15693.5px;bottom:3639.6px;color:rgb(35,31,31);
}
#P441_69
{
left:16136.4px;bottom:3612.78px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P441_70
{
left:0px;letter-spacing:-0.5px;margin-left:0.6px;
}
#P441_71
{
left:0px;letter-spacing:0px;margin-left:-41.6px;
}
#P441_72
{
left:7697.05px;bottom:46049.6px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P441_73
{
left:14565.3px;bottom:46074.2px;color:white;
}
#P441_74
{
left:14980.9px;bottom:46266px;color:white;
}
#P441_75
{
left:15221.1px;bottom:46074.2px;color:white;
}
#P441_76
{
left:16197.4px;bottom:46266px;color:white;
}
#P441_77
{
left:16437.6px;bottom:46074.2px;letter-spacing:-1px;color:white;
}
#P441_78
{
left:23113px;bottom:46266px;color:white;
}
#P441_79
{
left:23353.2px;bottom:46074.2px;color:white;
}
#P441_80
{
left:12721px;bottom:45907.1px;
}
#P441_81
{
left:12721px;bottom:45907.1px;color:white;
}
#P441_82
{
left:14752.3px;bottom:44444.8px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P441_83
{
left:0px;letter-spacing:-0.6px;margin-left:1.3px;
}
#P441_84
{
left:0px;letter-spacing:-1.9px;margin-left:0.6px;
}
#P441_85
{
left:14752.3px;bottom:43548.8px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P441_86
{
left:0px;letter-spacing:0.2px;margin-left:1px;
}
#P441_87
{
left:15605.3px;bottom:40148px;color:rgb(35,31,31);
}
#P441_88
{
left:0px;letter-spacing:0px;margin-left:618px;
}
#P441_89
{
left:0px;letter-spacing:0px;margin-left:618px;
}
#P441_90
{
left:0px;letter-spacing:0px;margin-left:618px;
}
#P441_91
{
left:0px;letter-spacing:0px;margin-left:618px;
}
#P441_92
{
left:0px;letter-spacing:0px;margin-left:618px;
}
#P441_93
{
left:0px;letter-spacing:0px;margin-left:618px;
}
#P441_94
{
left:0px;letter-spacing:0px;margin-left:618px;
}
#P441_95
{
left:0px;letter-spacing:0px;margin-left:618px;
}
#P441_96
{
left:0px;letter-spacing:0px;margin-left:618px;
}
#P441_97
{
left:0px;letter-spacing:0px;margin-left:618px;
}
#P441_98
{
left:33367.2px;bottom:41243.8px;color:rgb(33,31,31);
}
#P441_99
{
left:32200.9px;bottom:40629.4px;color:rgb(33,31,31);
}
#P441_100
{
left:14752.3px;bottom:38684.8px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P441_101
{
left:0px;letter-spacing:-4.2px;margin-left:1px;
}
#P441_102
{
left:0px;letter-spacing:0px;margin-left:0.1px;
}
#P441_103
{
left:0px;letter-spacing:0px;margin-left:-13.9px;
}
#P441_104
{
left:15336.3px;bottom:29212.8px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P441_105
{
left:0px;letter-spacing:0px;margin-left:-704px;
}
#P441_106
{
left:0px;letter-spacing:-9.3px;margin-left:-8.4px;
}
#P441_107
{
left:0px;letter-spacing:-0.2px;margin-left:9.3px;
}
#P441_108
{
left:26399.1px;bottom:29183.2px;color:rgb(35,31,31);
}
#P441_109
{
left:26985.6px;bottom:29212.8px;color:rgb(35,31,31);
}
#P441_110
{
left:28421.7px;bottom:29183.2px;color:rgb(35,31,31);
}
#P441_111
{
left:29008.1px;bottom:29212.8px;letter-spacing:-5.1px;color:rgb(35,31,31);
}
#P441_112
{
left:0px;letter-spacing:0px;margin-left:5.1px;
}
#P441_113
{
left:16040.3px;bottom:28316.8px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P441_114
{
left:0px;letter-spacing:-0.5px;margin-left:0.3px;
}
#P441_115
{
left:0px;letter-spacing:0px;margin-left:-41.6px;
}
#P441_116
{
left:13024.3px;bottom:26396.8px;letter-spacing:-63.2px;color:rgb(35,31,31);
}
#P441_117
{
left:0px;letter-spacing:0px;margin-left:63.2px;
}
#P441_118
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P441_119
{
left:7801.11px;bottom:18081.6px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P441_120
{
left:14669.4px;bottom:18106.2px;color:white;
}
#P441_121
{
left:16957.3px;bottom:18298px;color:white;
}
#P441_122
{
left:17197.5px;bottom:18106.2px;color:white;
}
#P441_123
{
left:21423.3px;bottom:18298px;color:white;
}
#P441_124
{
left:21663.4px;bottom:18106.2px;letter-spacing:-4.2px;color:white;
}
#P441_125
{
left:12825px;bottom:17939.1px;
}
#P441_126
{
left:12825px;bottom:17939.1px;color:white;
}
#P441_127
{
left:18620.4px;bottom:21167.5px;color:rgb(35,31,31);
}
#P441_128
{
left:17731px;bottom:20553.1px;color:rgb(35,31,31);
}
#P441_129
{
left:19893.7px;bottom:20600.7px;color:rgb(35,31,31);
}
#P441_130
{
left:20292.1px;bottom:20389.5px;color:rgb(35,31,31);
}
#P441_131
{
left:23740.4px;bottom:21167.5px;color:rgb(35,31,31);
}
#P441_132
{
left:22979px;bottom:20553.1px;color:rgb(35,31,31);
}
#P441_133
{
left:25141.7px;bottom:20600.7px;color:rgb(35,31,31);
}
#P441_134
{
left:25540.1px;bottom:20389.5px;color:rgb(35,31,31);
}
#P441_135
{
left:20832px;bottom:21167.5px;color:rgb(35,31,31);
}
#P441_136
{
left:9631.96px;bottom:21215.1px;color:rgb(237,28,35);
}
#P441_137
{
left:10030px;bottom:21003.9px;color:rgb(237,28,35);
}
#P441_138
{
left:10243.5px;bottom:21167.5px;color:rgb(237,28,35);
}
#P441_139
{
left:10385.9px;bottom:21161.4px;color:rgb(237,28,35);
}
#P441_140
{
left:10812.4px;bottom:21167.5px;color:rgb(237,28,35);
}
#P441_141
{
left:8669.59px;bottom:25099.9px;color:rgb(237,28,35);
}
#P441_142
{
left:7711.71px;bottom:24462.3px;color:rgb(237,28,35);
}
#P441_143
{
left:8159.83px;bottom:24248.7px;color:rgb(237,28,35);
}
#P441_144
{
left:8400.03px;bottom:24408.7px;color:rgb(237,28,35);
}
#P441_145
{
left:8560.15px;bottom:24401.8px;color:rgb(237,28,35);
}
#P441_146
{
left:9039.96px;bottom:24408.7px;color:rgb(237,28,35);
}
#P441_147
{
left:0px;letter-spacing:0px;margin-left:-53px;
}
#P441_148
{
left:29133.7px;bottom:25099.9px;color:rgb(237,28,35);
}
#P441_149
{
left:28704px;bottom:24462.3px;color:rgb(237,28,35);
}
#P441_150
{
left:29151.8px;bottom:24248.7px;color:rgb(237,28,35);
}
#P441_151
{
left:29392px;bottom:24408.7px;color:rgb(237,28,35);
}
#P441_152
{
left:29552.2px;bottom:24401.8px;color:rgb(237,28,35);
}
#P441_153
{
left:30032px;bottom:24408.7px;color:rgb(237,28,35);
}
#P441_154
{
left:0px;letter-spacing:0px;margin-left:-53px;
}
#P441_155
{
left:21262.4px;bottom:22816.7px;color:rgb(35,31,31);
}
#P441_156
{
left:30623.7px;bottom:21215.1px;color:rgb(237,28,35);
}
#P441_157
{
left:31022px;bottom:21003.9px;color:rgb(237,28,35);
}
#P441_158
{
left:31235.5px;bottom:21167.5px;color:rgb(237,28,35);
}
#P441_159
{
left:31377.9px;bottom:21161.4px;color:rgb(237,28,35);
}
#P441_160
{
left:31804.4px;bottom:21167.5px;color:rgb(237,28,35);
}
#P441_161
{
left:8442.97px;bottom:23073.3px;color:white;
}
#P441_162
{
left:32875.2px;bottom:23073.3px;color:white;
}
#P441_163
{
left:16997.6px;bottom:31283.1px;color:rgb(0,124,196);
}
#P441_164
{
left:17429.5px;bottom:31084.3px;color:rgb(0,124,196);
}
#P441_165
{
left:17664px;bottom:31283.1px;letter-spacing:-24.8px;word-spacing:24.8px;color:rgb(0,124,196);
}
#P441_166
{
left:17981.9px;bottom:31704.8px;color:rgb(0,124,196);
}
#P441_167
{
left:18998px;bottom:31679.4px;color:rgb(0,124,196);
}
#P441_168
{
left:19501.7px;bottom:31704.8px;color:rgb(0,124,196);
}
#P441_169
{
left:20517.8px;bottom:31299.9px;color:rgb(0,124,196);
}
#P441_170
{
left:17961.8px;bottom:31269.8px;color:rgb(0,124,196);
}
#P441_171
{
left:20537.9px;bottom:31284.3px;color:rgb(0,124,196);
}
#P441_172
{
left:19104.7px;bottom:30838.5px;color:rgb(0,124,196);
}
#P441_173
{
left:19395px;bottom:31299.9px;color:rgb(0,124,196);
}
#P441_174
{
left:20537.9px;bottom:31283.1px;letter-spacing:-161.3px;color:rgb(0,124,196);
}
#P441_175
{
left:20699.2px;bottom:31254.8px;color:rgb(0,124,196);
}
#P441_176
{
left:21259px;bottom:31283.1px;color:rgb(0,124,196);
}
#P441_177
{
left:21420.3px;bottom:31283.1px;color:rgb(235,26,35);
}
#P441_178
{
left:28007px;bottom:31295.9px;color:rgb(0,124,196);
}
#P441_179
{
left:28438.9px;bottom:31097.1px;color:rgb(0,124,196);
}
#P441_180
{
left:28673.4px;bottom:31295.9px;letter-spacing:-24.8px;word-spacing:24.8px;color:rgb(0,124,196);
}
#P441_181
{
left:28991.4px;bottom:31717.6px;color:rgb(0,124,196);
}
#P441_182
{
left:30007.4px;bottom:31692.2px;color:rgb(0,124,196);
}
#P441_183
{
left:30511.3px;bottom:31717.6px;color:rgb(0,124,196);
}
#P441_184
{
left:31527.3px;bottom:31312.7px;color:rgb(0,124,196);
}
#P441_185
{
left:28971.2px;bottom:31282.6px;color:rgb(0,124,196);
}
#P441_186
{
left:31547.4px;bottom:31297.1px;color:rgb(0,124,196);
}
#P441_187
{
left:30114.2px;bottom:30851.3px;color:rgb(0,124,196);
}
#P441_188
{
left:30404.5px;bottom:31312.7px;color:rgb(0,124,196);
}
#P441_189
{
left:31547.4px;bottom:31295.9px;letter-spacing:-161.3px;color:rgb(0,124,196);
}
#P441_190
{
left:31708.7px;bottom:31267.6px;color:rgb(0,124,196);
}
#P441_191
{
left:32268.4px;bottom:31295.9px;color:rgb(0,124,196);
}
#P441_192
{
left:32429.7px;bottom:31295.9px;color:rgb(235,26,35);
}
#P441_193
{
left:14701.4px;bottom:33661.2px;word-spacing:545.6px;color:rgb(35,31,31);
}
#P441_194
{
left:21726.2px;bottom:36788.5px;color:rgb(0,124,196);
}
#P441_195
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P441_196
{
left:0px;letter-spacing:0px;margin-left:-161.3px;
}
#P441_197
{
left:23972.8px;bottom:37210.2px;color:rgb(0,124,196);
}
#P441_198
{
left:24988.8px;bottom:37184.8px;color:rgb(0,124,196);
}
#P441_199
{
left:25492.6px;bottom:37210.2px;color:rgb(0,124,196);
}
#P441_200
{
left:26508.7px;bottom:36805.3px;color:rgb(0,124,196);
}
#P441_201
{
left:23952.7px;bottom:36775.2px;color:rgb(0,124,196);
}
#P441_202
{
left:26528.9px;bottom:36789.7px;color:rgb(0,124,196);
}
#P441_203
{
left:25095.6px;bottom:36343.9px;color:rgb(0,124,196);
}
#P441_204
{
left:25385.9px;bottom:36805.3px;color:rgb(0,124,196);
}
#P441_205
{
left:26528.9px;bottom:36788.5px;letter-spacing:-161.3px;color:rgb(0,124,196);
}
#P441_206
{
left:26690.1px;bottom:36760.2px;color:rgb(0,124,196);
}
#P441_207
{
left:27249.9px;bottom:36788.5px;color:rgb(0,124,196);
}
#P441_208
{
left:18783px;bottom:35181px;color:rgb(0,124,196);
}
#P441_209
{
left:0px;letter-spacing:0px;margin-left:8071.8px;
}
#PageContainer441
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg441.jpg");background-repeat:no-repeat;background-size: 955px 1212px; background-position: 51.27px 76.8199999999999px;
}
#ImageContainer441 {bottom:75.18px;left:51.27px;width:955.45px;height:1212.49px;position:absolute;} #TextContainer441 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.example2{position:absolute; top: 82px; left: 165px;}
.example3{position:absolute; top: 843px; left: 165px;}
.nyr{position:absolute; top: 1136px; left: 190px;}
.nyr_exr{position:absolute; top: 1179px; left: 197px;color:rgb(35,31,31);font-size:16px;white-space:pre;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}