.tr9{ color:transparent;}
#P9_1
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P9_2
{
left:36320.6px;bottom:1410.03px;
}
#P9_3
{
left:4669.4px;bottom:41980.8px;letter-spacing:-35.3px;color:rgb(0,151,73);
}
#P9_4
{
left:0px;letter-spacing:-29.4px;margin-left:5.9px;
}
#P9_5
{
left:0px;bottom:0px;letter-spacing:0px;color:rgb(35,31,31);
}
#P9_6
{
left:26615.4px;bottom:32839px;letter-spacing:-6.1px;color:rgb(35,31,31);
}
#P9_7
{
left:27503.1px;bottom:32071px;letter-spacing:-6px;color:rgb(35,31,31);
}
#P9_8
{
left:27111.4px;bottom:31303px;letter-spacing:-6.1px;color:rgb(35,31,31);
}
#P9_9
{
left:28733.8px;bottom:30535px;letter-spacing:-6.4px;color:rgb(35,31,31);
}
#P9_10
{
left:36320.6px;bottom:1410.03px;color:rgb(17,26,31);
}
#P9_11
{
left:4669.4px;bottom:39357.7px;color:rgb(0,151,73);
}
#P9_12
{
left:0px;letter-spacing:0px;margin-left:4264.8px;
}
#P9_13
{
left:0px;letter-spacing:-7px;margin-left:296.4px;
}
#P9_14
{
left:0px;letter-spacing:-7px;margin-left:-52.1px;
}
#P9_15
{
left:0px;letter-spacing:0px;margin-left:-8.4px;
}
#P9_16
{
left:18399.2px;bottom:39508.3px;letter-spacing:-7px;word-spacing:-116.4px;color:rgb(145,147,151);
}
#P9_17
{
left:21889.9px;bottom:39357.7px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P9_18
{
left:5484.42px;bottom:38333.4px;letter-spacing:-7px;word-spacing:605.9px;color:rgb(145,147,151);
}
#P9_19
{
left:0px;letter-spacing:-7px;margin-left:-606.2px;
}
#P9_20
{
left:9661.93px;bottom:38333.4px;letter-spacing:-7px;word-spacing:303.6px;color:rgb(35,31,31);
}
#P9_21
{
left:0px;letter-spacing:0px;margin-left:-303.4px;
}
#P9_22
{
left:0px;letter-spacing:0px;margin-left:-19.7px;
}
#P9_23
{
left:0px;letter-spacing:-7px;margin-left:-19.7px;
}
#P9_24
{
left:4670.11px;bottom:37309.7px;letter-spacing:4264.6px;color:rgb(35,31,31);
}
#P9_25
{
left:9662.17px;bottom:37309.7px;letter-spacing:-7px;color:rgb(235,26,35);
}
#P9_26
{
left:12132.1px;bottom:37460.4px;letter-spacing:-7px;word-spacing:-87px;color:rgb(145,147,151);
}
#P9_27
{
left:21877.3px;bottom:37309.7px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P9_28
{
left:4670.11px;bottom:36286.1px;letter-spacing:4264.6px;color:rgb(35,31,31);
}
#P9_29
{
left:9662.17px;bottom:36286.1px;letter-spacing:-7px;color:rgb(2,77,161);
}
#P9_30
{
left:12132.1px;bottom:36436.8px;letter-spacing:-7px;word-spacing:-115.2px;color:rgb(145,147,151);
}
#P9_31
{
left:21876.6px;bottom:36286.1px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P9_32
{
left:5353.48px;bottom:35261.8px;letter-spacing:-7px;word-spacing:475px;color:rgb(145,147,151);
}
#P9_33
{
left:0px;letter-spacing:-7px;margin-left:-475.2px;
}
#P9_34
{
left:9661.93px;bottom:35261.8px;letter-spacing:-7px;word-spacing:303.6px;color:rgb(35,31,31);
}
#P9_35
{
left:0px;letter-spacing:0px;margin-left:-303.4px;
}
#P9_36
{
left:0px;letter-spacing:0px;margin-left:-19.7px;
}
#P9_37
{
left:0px;letter-spacing:-7px;margin-left:-19.7px;
}
#P9_38
{
left:4670.11px;bottom:34238.2px;letter-spacing:4264.6px;color:rgb(35,31,31);
}
#P9_39
{
left:9662.17px;bottom:34238.2px;letter-spacing:-7px;color:rgb(235,26,35);
}
#P9_40
{
left:12132.1px;bottom:34388.8px;letter-spacing:-7px;word-spacing:-87px;color:rgb(145,147,151);
}
#P9_41
{
left:21876.6px;bottom:34238.2px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P9_42
{
left:4670.11px;bottom:33214.6px;letter-spacing:4264.6px;color:rgb(35,31,31);
}
#P9_43
{
left:9662.17px;bottom:33214.6px;letter-spacing:-7px;color:rgb(2,77,161);
}
#P9_44
{
left:12132.1px;bottom:33365.2px;letter-spacing:-7px;word-spacing:-115.2px;color:rgb(145,147,151);
}
#P9_45
{
left:21863.9px;bottom:33214.6px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P9_46
{
left:5353.48px;bottom:32190.3px;letter-spacing:-7px;word-spacing:475px;color:rgb(145,147,151);
}
#P9_47
{
left:0px;letter-spacing:-7px;margin-left:-475.2px;
}
#P9_48
{
left:9149.91px;bottom:32190.3px;letter-spacing:296.4px;color:rgb(35,31,31);
}
#P9_49
{
left:0px;letter-spacing:-7px;margin-left:-303.4px;
}
#P9_50
{
left:4670.11px;bottom:31166.6px;letter-spacing:4264.6px;color:rgb(35,31,31);
}
#P9_51
{
left:9662.17px;bottom:31166.6px;letter-spacing:-7px;color:rgb(235,26,35);
}
#P9_52
{
left:12132.1px;bottom:31317.3px;letter-spacing:-7px;word-spacing:-87px;color:rgb(145,147,151);
}
#P9_53
{
left:21889.9px;bottom:31166.6px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P9_54
{
left:4670.11px;bottom:30143px;letter-spacing:4264.6px;color:rgb(35,31,31);
}
#P9_55
{
left:9662.17px;bottom:30143px;letter-spacing:-7px;color:rgb(2,77,161);
}
#P9_56
{
left:12132.1px;bottom:30293.7px;letter-spacing:-7px;word-spacing:-115.2px;color:rgb(145,147,151);
}
#P9_57
{
left:21903.3px;bottom:30143px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P9_58
{
left:4670.11px;bottom:29118.7px;letter-spacing:4264.8px;color:rgb(0,151,73);
}
#P9_59
{
left:0px;letter-spacing:0px;margin-left:-3968.4px;
}
#P9_60
{
left:0px;letter-spacing:-7.5px;margin-left:-7px;
}
#P9_61
{
left:19892.3px;bottom:29269.4px;letter-spacing:-7px;word-spacing:-140.4px;color:rgb(145,147,151);
}
#P9_62
{
left:21890.6px;bottom:29118.7px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P9_63
{
left:9662.87px;bottom:28094.4px;letter-spacing:-7px;word-spacing:4271.6px;color:rgb(0,151,73);
}
#P9_64
{
left:0px;letter-spacing:-7px;margin-left:-4271.6px;
}
#P9_65
{
left:13774.4px;bottom:28245px;letter-spacing:-7px;word-spacing:-82.2px;color:rgb(145,147,151);
}
#P9_66
{
left:21917.4px;bottom:28094.4px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P9_67
{
left:5341.51px;bottom:27070.1px;letter-spacing:-7px;word-spacing:462.3px;color:rgb(145,147,151);
}
#P9_68
{
left:0px;letter-spacing:-7px;margin-left:-462.6px;
}
#P9_69
{
left:9150.62px;bottom:27070.1px;letter-spacing:296.4px;color:rgb(35,31,31);
}
#P9_70
{
left:0px;letter-spacing:-7.5px;margin-left:-303.4px;
}
#P9_71
{
left:4670.81px;bottom:26046.4px;letter-spacing:4264.6px;color:rgb(35,31,31);
}
#P9_72
{
left:9662.87px;bottom:26046.4px;letter-spacing:-7px;color:rgb(235,26,35);
}
#P9_73
{
left:12132.8px;bottom:26197.1px;letter-spacing:-7px;word-spacing:-87px;color:rgb(145,147,151);
}
#P9_74
{
left:21890.6px;bottom:26046.4px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P9_75
{
left:4670.81px;bottom:25022.8px;letter-spacing:4264.6px;color:rgb(35,31,31);
}
#P9_76
{
left:9662.87px;bottom:25022.8px;letter-spacing:-7px;color:rgb(2,77,161);
}
#P9_77
{
left:12132.8px;bottom:25173.5px;letter-spacing:-7px;word-spacing:-115.2px;color:rgb(145,147,151);
}
#P9_78
{
left:21863.9px;bottom:25022.8px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P9_79
{
left:5354.18px;bottom:23998.5px;letter-spacing:-7px;word-spacing:475px;color:rgb(145,147,151);
}
#P9_80
{
left:0px;letter-spacing:-7px;margin-left:-475.2px;
}
#P9_81
{
left:9662.64px;bottom:23998.5px;letter-spacing:-7px;word-spacing:303.6px;color:rgb(35,31,31);
}
#P9_82
{
left:0px;letter-spacing:-7px;margin-left:-303.4px;
}
#P9_83
{
left:4670.81px;bottom:22974.9px;letter-spacing:4264.6px;color:rgb(35,31,31);
}
#P9_84
{
left:9662.87px;bottom:22974.9px;letter-spacing:-7px;color:rgb(235,26,35);
}
#P9_85
{
left:12132.8px;bottom:23125.5px;letter-spacing:-7px;word-spacing:-87px;color:rgb(145,147,151);
}
#P9_86
{
left:21864.6px;bottom:22974.9px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P9_87
{
left:4670.81px;bottom:21951.3px;letter-spacing:4264.6px;color:rgb(35,31,31);
}
#P9_88
{
left:9662.87px;bottom:21951.3px;letter-spacing:-7px;color:rgb(2,77,161);
}
#P9_89
{
left:12132.8px;bottom:22101.9px;letter-spacing:-7px;word-spacing:-115.2px;color:rgb(145,147,151);
}
#P9_90
{
left:21863.9px;bottom:21951.3px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P9_91
{
left:5340.81px;bottom:20927px;letter-spacing:-7px;word-spacing:461.6px;color:rgb(145,147,151);
}
#P9_92
{
left:0px;letter-spacing:-7px;margin-left:-461.8px;
}
#P9_93
{
left:9662.64px;bottom:20927px;letter-spacing:-7px;word-spacing:303.6px;color:rgb(35,31,31);
}
#P9_94
{
left:0px;letter-spacing:-7px;margin-left:-303.4px;
}
#P9_95
{
left:4670.81px;bottom:19903.3px;letter-spacing:4264.6px;color:rgb(35,31,31);
}
#P9_96
{
left:9662.87px;bottom:19903.3px;letter-spacing:-7px;color:rgb(235,26,35);
}
#P9_97
{
left:12132.8px;bottom:20054px;letter-spacing:-7px;word-spacing:-87px;color:rgb(145,147,151);
}
#P9_98
{
left:21877.3px;bottom:19903.3px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P9_99
{
left:4670.81px;bottom:18879.7px;letter-spacing:4264.6px;color:rgb(35,31,31);
}
#P9_100
{
left:9662.87px;bottom:18879.7px;letter-spacing:-7px;color:rgb(2,77,161);
}
#P9_101
{
left:12132.8px;bottom:19030.4px;letter-spacing:-7px;word-spacing:-115.2px;color:rgb(145,147,151);
}
#P9_102
{
left:21864.6px;bottom:18879.7px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P9_103
{
left:9662.87px;bottom:17855.4px;letter-spacing:-7px;word-spacing:4271.6px;color:rgb(0,151,73);
}
#P9_104
{
left:0px;letter-spacing:-7px;margin-left:-4271.6px;
}
#P9_105
{
left:13923.6px;bottom:18006.1px;letter-spacing:-7px;word-spacing:-90px;color:rgb(145,147,151);
}
#P9_106
{
left:21584.4px;bottom:17855.4px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P9_107
{
left:9662.87px;bottom:16831.1px;letter-spacing:-7px;word-spacing:4271.6px;color:rgb(0,151,73);
}
#P9_108
{
left:0px;letter-spacing:-7px;margin-left:-4271.6px;
}
#P9_109
{
left:15117.5px;bottom:16981.7px;letter-spacing:-7px;word-spacing:-66.8px;color:rgb(145,147,151);
}
#P9_110
{
left:21630.2px;bottom:16831.1px;letter-spacing:42.2px;color:rgb(35,31,31);
}
#P9_111
{
left:9662.87px;bottom:15806.8px;letter-spacing:-7px;word-spacing:4271.6px;color:rgb(0,151,73);
}
#P9_112
{
left:0px;letter-spacing:0px;margin-left:-4271.6px;
}
#P9_113
{
left:0px;letter-spacing:-7px;margin-left:-103.5px;
}
#P9_114
{
left:14072.9px;bottom:15957.4px;letter-spacing:-7px;word-spacing:-90px;color:rgb(145,147,151);
}
#P9_115
{
left:21585.1px;bottom:15806.8px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P9_116
{
left:9662.87px;bottom:14782.4px;letter-spacing:-7px;word-spacing:4271.6px;color:rgb(0,151,73);
}
#P9_117
{
left:0px;letter-spacing:-7px;margin-left:-8.4px;
}
#P9_118
{
left:0px;letter-spacing:-7px;margin-left:-4271.6px;
}
#P9_119
{
left:17505.4px;bottom:14933.1px;letter-spacing:-7px;word-spacing:-116.9px;color:rgb(145,147,151);
}
#P9_120
{
left:21597.8px;bottom:14782.4px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P9_121
{
left:24829.4px;bottom:41388.8px;
}
#PageContainer9
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg009.jpg");background-repeat:no-repeat;background-size: 1066px 1364px; background-position: right bottom;
}
#ImageContainer9 {bottom:0.00px;right:0.00px;width:1066.24px;height:1364.16px;position:absolute;} #TextContainer9 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
