.tr428{ color:transparent;}
#P428_1
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P428_2
{
left:3540.44px;bottom:1410.03px;color:rgb(35,31,31);
}
#P428_3
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P428_4
{
left:7841.88px;bottom:1410.03px;letter-spacing:462.1px;color:rgb(35,31,31);
}
#P428_5
{
left:0px;letter-spacing:4.6px;margin-left:-470px;
}
#P428_6
{
left:0px;letter-spacing:2px;margin-left:-8.9px;
}
#P428_7
{
left:0px;letter-spacing:2.7px;margin-left:4.6px;
}
#P428_8
{
left:6977.56px;bottom:46189.1px;letter-spacing:-1.4px;color:white;
}
#P428_9
{
left:3459.78px;bottom:46161.9px;color:white;
}
#P428_10
{
left:18900.5px;bottom:41182.6px;letter-spacing:213.2px;color:rgb(35,31,31);
}
#P428_11
{
left:0px;letter-spacing:0px;margin-left:-213.2px;
}
#P428_12
{
left:7789.4px;bottom:40094.5px;color:rgb(35,31,31);
}
#P428_13
{
left:10136.1px;bottom:37666.7px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P428_14
{
left:13561.2px;bottom:37858.5px;color:rgb(255,223,126);
}
#P428_15
{
left:13753.9px;bottom:37666.7px;letter-spacing:207.4px;color:white;
}
#P428_16
{
left:14601.5px;bottom:37858.5px;color:white;
}
#P428_17
{
left:14841.7px;bottom:37666.7px;color:white;
}
#P428_18
{
left:15818px;bottom:37858.5px;color:white;
}
#P428_19
{
left:16058.2px;bottom:37666.7px;color:white;
}
#P428_20
{
left:19643.8px;bottom:37858.5px;color:white;
}
#P428_21
{
left:19884px;bottom:37666.7px;color:white;
}
#P428_22
{
left:8395.67px;bottom:37543.2px;
}
#P428_23
{
left:8395.67px;bottom:37543.2px;color:white;
}
#P428_24
{
left:9226.84px;bottom:36081.3px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P428_25
{
left:0px;letter-spacing:0.4px;margin-left:14.1px;
}
#P428_26
{
left:0px;letter-spacing:0px;margin-left:-42.5px;
}
#P428_27
{
left:9226.84px;bottom:34801.3px;color:rgb(35,31,31);
}
#P428_28
{
left:9354.84px;bottom:34801.3px;letter-spacing:-14px;word-spacing:516.1px;color:rgb(35,31,31);
}
#P428_29
{
left:10570.8px;bottom:34801.3px;letter-spacing:-13.1px;color:rgb(35,31,31);
}
#P428_30
{
left:0px;letter-spacing:0px;margin-left:13.1px;
}
#P428_31
{
left:23329.1px;bottom:34801.3px;word-spacing:56.3px;color:rgb(35,31,31);
}
#P428_32
{
left:0px;letter-spacing:0px;margin-left:-56.3px;
}
#P428_33
{
left:10570.8px;bottom:33905.3px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P428_34
{
left:23016.4px;bottom:33905.3px;letter-spacing:-3px;word-spacing:56.3px;color:rgb(35,31,31);
}
#P428_35
{
left:0px;letter-spacing:0px;margin-left:-53.3px;
}
#P428_36
{
left:0px;letter-spacing:0px;
}
#P428_37
{
left:10570.8px;bottom:33009.3px;letter-spacing:-1.8px;color:rgb(35,31,31);
}
#P428_38
{
left:0px;letter-spacing:0px;margin-left:-54.3px;
}
#P428_39
{
left:0px;letter-spacing:-0.4px;
}
#P428_40
{
left:0px;letter-spacing:0px;margin-left:-13.5px;
}
#P428_41
{
left:10570.8px;bottom:32113.4px;letter-spacing:-0.6px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P428_42
{
left:0px;letter-spacing:-0.1px;margin-left:0.5px;
}
#P428_43
{
left:9226.84px;bottom:30833.3px;color:rgb(35,31,31);
}
#P428_44
{
left:9354.84px;bottom:30833.3px;color:rgb(35,31,31);
}
#P428_45
{
left:9226.84px;bottom:22513.3px;color:rgb(35,31,31);
}
#P428_46
{
left:9354.84px;bottom:22513.3px;letter-spacing:-13.9px;word-spacing:486.9px;color:rgb(35,31,31);
}
#P428_47
{
left:10570.8px;bottom:22513.3px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P428_48
{
left:0px;letter-spacing:-0.3px;margin-left:1.2px;
}
#P428_49
{
left:10570.8px;bottom:21617.3px;letter-spacing:-1.6px;color:rgb(35,31,31);
}
#P428_50
{
left:0px;letter-spacing:0px;margin-left:-23.7px;
}
#P428_51
{
left:0px;letter-spacing:0.5px;
}
#P428_52
{
left:0px;letter-spacing:0px;margin-left:-0.5px;
}
#P428_53
{
left:10570.8px;bottom:20721.4px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P428_54
{
left:0px;letter-spacing:0px;margin-left:-13.2px;
}
#P428_55
{
left:9226.84px;bottom:19441.3px;color:rgb(35,31,31);
}
#P428_56
{
left:9354.84px;bottom:19441.3px;color:rgb(35,31,31);
}
#P428_57
{
left:9226.84px;bottom:17201.3px;color:rgb(35,31,31);
}
#P428_58
{
left:9354.84px;bottom:17201.3px;letter-spacing:-14px;word-spacing:551.3px;color:rgb(35,31,31);
}
#P428_59
{
left:10570.8px;bottom:17201.3px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P428_60
{
left:0px;letter-spacing:0px;margin-left:-214.2px;
}
#P428_61
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P428_62
{
left:0px;letter-spacing:-0.2px;
}
#P428_63
{
left:0px;letter-spacing:0px;margin-left:-27.8px;
}
#P428_64
{
left:0px;letter-spacing:-8.1px;margin-left:-20.9px;
}
#P428_65
{
left:0px;letter-spacing:-0.8px;margin-left:8.1px;
}
#P428_66
{
left:30978.1px;bottom:17201.3px;word-spacing:56.3px;color:rgb(35,31,31);
}
#P428_67
{
left:10570.9px;bottom:16305.3px;letter-spacing:-5.2px;color:rgb(35,31,31);
}
#P428_68
{
left:0px;letter-spacing:0px;margin-left:-8.6px;
}
#P428_69
{
left:0px;letter-spacing:-3.5px;margin-left:-14px;
}
#P428_70
{
left:0px;letter-spacing:-0.2px;margin-left:3.5px;
}
#P428_71
{
left:27286.4px;bottom:16305.3px;word-spacing:56.3px;color:rgb(35,31,31);
}
#P428_72
{
left:0px;letter-spacing:0px;margin-left:-56.3px;
}
#P428_73
{
left:10570.9px;bottom:15409.5px;letter-spacing:-0.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P428_74
{
left:18329.1px;bottom:15409.5px;word-spacing:56.3px;color:rgb(35,31,31);
}
#P428_75
{
left:0px;letter-spacing:0px;margin-left:-56.3px;
}
#P428_76
{
left:9226.91px;bottom:14129.3px;color:rgb(35,31,31);
}
#P428_77
{
left:9354.91px;bottom:14129.3px;color:rgb(35,31,31);
}
#P428_78
{
left:9226.84px;bottom:9777.32px;color:rgb(35,31,31);
}
#P428_79
{
left:9354.84px;bottom:9777.32px;letter-spacing:-14px;word-spacing:473.2px;color:rgb(35,31,31);
}
#P428_80
{
left:10570.8px;bottom:9777.32px;letter-spacing:-14px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P428_81
{
left:0px;letter-spacing:0px;margin-left:13.9px;
}
#P428_82
{
left:10570.8px;bottom:8881.32px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P428_83
{
left:0px;letter-spacing:0px;margin-left:-41.1px;
}
#P428_84
{
left:0px;letter-spacing:-1.6px;
}
#P428_85
{
left:0px;letter-spacing:-0.2px;margin-left:1.6px;
}
#P428_86
{
left:28730.7px;bottom:8881.32px;color:rgb(35,31,31);
}
#P428_87
{
left:31344.6px;bottom:8881.32px;color:rgb(35,31,31);
}
#P428_88
{
left:10570.8px;bottom:7985.45px;letter-spacing:-10.5px;color:rgb(35,31,31);
}
#P428_89
{
left:0px;letter-spacing:0px;margin-left:10.5px;
}
#P428_90
{
left:10570.8px;bottom:7089.45px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P428_91
{
left:0px;letter-spacing:0px;margin-left:-12.7px;
}
#P428_92
{
left:9226.84px;bottom:6001.39px;color:rgb(35,31,31);
}
#P428_93
{
left:9354.84px;bottom:6001.39px;letter-spacing:-14px;word-spacing:533.7px;color:rgb(35,31,31);
}
#P428_94
{
left:10570.8px;bottom:6001.39px;letter-spacing:-10.5px;color:rgb(35,31,31);
}
#P428_95
{
left:0px;letter-spacing:-1.1px;margin-left:10.5px;
}
#P428_96
{
left:0px;letter-spacing:0px;margin-left:-12.8px;
}
#P428_97
{
left:0px;letter-spacing:-7px;margin-left:-21px;
}
#P428_98
{
left:0px;letter-spacing:-1.2px;margin-left:7px;
}
#P428_99
{
left:10570.8px;bottom:5105.52px;color:rgb(35,31,31);
}
#P428_100
{
left:9226.84px;bottom:4017.45px;color:rgb(35,31,31);
}
#P428_101
{
left:9354.84px;bottom:4017.45px;letter-spacing:-17.5px;color:rgb(35,31,31);
}
#P428_102
{
left:10570.8px;bottom:4017.45px;letter-spacing:-0.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P428_103
{
left:0px;letter-spacing:-0.3px;margin-left:0.5px;
}
#P428_104
{
left:4301.4px;bottom:13360.6px;color:rgb(35,31,31);
}
#P428_105
{
left:4674.39px;bottom:13388.9px;letter-spacing:-10.2px;color:rgb(35,31,31);
}
#P428_106
{
left:6691.93px;bottom:13360.5px;color:rgb(35,31,31);
}
#P428_107
{
left:4301.34px;bottom:12656.5px;letter-spacing:-14.1px;color:rgb(35,31,31);
}
#P428_108
{
left:5012.31px;bottom:12684.9px;letter-spacing:-10.4px;color:rgb(35,31,31);
}
#P428_109
{
left:2365.37px;bottom:11788px;letter-spacing:1.2px;color:rgb(35,31,31);
}
#P428_110
{
left:0px;letter-spacing:2.3px;margin-left:1.3px;
}
#P428_111
{
left:2365.37px;bottom:11004.8px;letter-spacing:-3.3px;word-spacing:-0.7px;color:rgb(35,31,31);
}
#P428_112
{
left:0px;letter-spacing:-0.3px;margin-left:2.4px;
}
#P428_113
{
left:0px;letter-spacing:-3.1px;margin-left:-4.5px;
}
#P428_114
{
left:2365.37px;bottom:10383px;color:rgb(35,31,31);
}
#P428_115
{
left:2615.28px;bottom:10164.8px;color:rgb(35,31,31);
}
#P428_116
{
left:2960.24px;bottom:10204.8px;letter-spacing:-130.6px;color:rgb(35,31,31);
}
#P428_117
{
left:0px;letter-spacing:1.6px;margin-left:130.3px;
}
#P428_118
{
left:0px;letter-spacing:-1px;margin-left:-7px;
}
#P428_119
{
left:0px;letter-spacing:0px;margin-left:-0.4px;
}
#P428_120
{
left:2960.24px;bottom:9564.78px;letter-spacing:-2px;word-spacing:-2.3px;color:rgb(35,31,31);
}
#P428_121
{
left:0px;letter-spacing:-4.7px;margin-left:-1.1px;
}
#P428_122
{
left:2365.37px;bottom:8943.02px;color:rgb(35,31,31);
}
#P428_123
{
left:2615.28px;bottom:8724.78px;letter-spacing:186.6px;color:rgb(35,31,31);
}
#P428_124
{
left:2960.24px;bottom:8764.78px;letter-spacing:-135.2px;color:rgb(35,31,31);
}
#P428_125
{
left:0px;letter-spacing:-2.2px;margin-left:141.4px;
}
#P428_126
{
left:0px;letter-spacing:-1.8px;margin-left:-3.3px;
}
#P428_127
{
left:0px;letter-spacing:-0.6px;margin-left:1px;
}
#P428_128
{
left:2960.24px;bottom:8124.78px;letter-spacing:-0.9px;word-spacing:-4.7px;color:rgb(35,31,31);
}
#P428_129
{
left:0px;letter-spacing:3.2px;margin-left:10.2px;
}
#P428_130
{
left:2365.38px;bottom:7356.72px;letter-spacing:-1.5px;word-spacing:-5.3px;color:rgb(35,31,31);
}
#P428_131
{
left:0px;letter-spacing:-0.1px;margin-left:8.7px;
}
#P428_132
{
left:2365.38px;bottom:6716.65px;letter-spacing:2.7px;color:rgb(35,31,31);
}
#P428_133
{
left:0px;letter-spacing:0px;margin-left:-54.4px;
}
#P428_134
{
left:0px;letter-spacing:0px;margin-left:10.6px;
}
#P428_135
{
left:2365.38px;bottom:6076.65px;letter-spacing:2.7px;color:rgb(35,31,31);
}
#P428_136
{
left:0px;letter-spacing:0px;margin-left:-54.4px;
}
#P428_137
{
left:0px;letter-spacing:0px;margin-left:7.6px;
}
#P428_138
{
left:2365.38px;bottom:5436.65px;letter-spacing:2.4px;color:rgb(35,31,31);
}
#P428_139
{
left:0px;letter-spacing:0px;margin-left:-54.1px;
}
#P428_140
{
left:0px;letter-spacing:0.2px;margin-left:3px;
}
#PageContainer428
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg428.jpg");background-repeat:no-repeat;background-size: 1066px 1056px; background-position: 1px 0.0999999999999091px;
}
#ImageContainer428 {bottom:307.90px;right:0.00px;width:1066.24px;height:1056.26px;position:absolute;} #TextContainer428 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.rpj{position:absolute; top: 189px; left: 153px;}
.srpj{position:absolute; top: 186px; left: 97px;}
.math_paper{position:absolute; top: 301px; left: 163px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}