.tr462{ color:transparent;}
#P462_1
{
left:26785.2px;bottom:46188.3px;word-spacing:0.2px;color:rgb(33,31,31);
}
#P462_2
{
left:0px;letter-spacing:0px;margin-left:-44.8px;
}
#P462_3
{
left:0px;letter-spacing:0px;margin-left:0.2px;
}
#P462_4
{
left:2365.4px;bottom:1409.96px;color:rgb(35,31,31);
}
#P462_5
{
left:3540.44px;bottom:1409.96px;color:rgb(35,31,31);
}
#P462_6
{
left:4925.4px;bottom:1409.96px;color:rgb(35,31,31);
}
#P462_7
{
left:8197.72px;bottom:1409.96px;letter-spacing:462.1px;color:rgb(35,31,31);
}
#P462_8
{
left:0px;letter-spacing:1.5px;margin-left:-465px;
}
#P462_9
{
left:0px;letter-spacing:0px;margin-left:6.1px;
}
#P462_10
{
left:5889.56px;bottom:46957.1px;color:white;
}
#P462_11
{
left:2371.78px;bottom:46929.9px;color:white;
}
#P462_12
{
left:2856.07px;bottom:43569.7px;letter-spacing:-7.7px;word-spacing:-26px;color:rgb(0,124,196);
}
#P462_13
{
left:0px;letter-spacing:0px;margin-left:7.7px;
}
#P462_14
{
left:2856.07px;bottom:42627.8px;color:rgb(35,31,31);
}
#P462_15
{
left:2856.07px;bottom:41731.8px;color:rgb(35,31,31);
}
#P462_16
{
left:3624.07px;bottom:41731.8px;color:rgb(35,31,31);
}
#P462_17
{
left:2856.07px;bottom:40835.8px;color:rgb(35,31,31);
}
#P462_18
{
left:4527.13px;bottom:40835.8px;color:rgb(35,31,31);
}
#P462_19
{
left:2856.07px;bottom:39939.8px;color:rgb(35,31,31);
}
#P462_20
{
left:4207.13px;bottom:39939.8px;color:rgb(35,31,31);
}
#P462_21
{
left:12285.4px;bottom:41993.8px;color:rgb(35,31,31);
}
#P462_22
{
left:12285.4px;bottom:40886.1px;color:rgb(35,31,31);
}
#P462_23
{
left:12890.8px;bottom:40886.1px;color:rgb(35,31,31);
}
#P462_24
{
left:18985.3px;bottom:40886.1px;color:rgb(35,31,31);
}
#P462_25
{
left:12285.4px;bottom:39990.1px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P462_26
{
left:12285.4px;bottom:39094.1px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P462_27
{
left:20771.5px;bottom:39094.1px;color:rgb(35,31,31);
}
#P462_28
{
left:22378.6px;bottom:39094.1px;color:rgb(35,31,31);
}
#P462_29
{
left:12285.4px;bottom:38198.1px;color:rgb(35,31,31);
}
#P462_30
{
left:19719.4px;bottom:38198.1px;color:rgb(35,31,31);
}
#P462_31
{
left:20926.1px;bottom:38198.1px;color:rgb(35,31,31);
}
#P462_32
{
left:12285.4px;bottom:37302.3px;letter-spacing:0.4px;color:rgb(35,31,31);
}
#P462_33
{
left:12285.4px;bottom:35958.3px;color:rgb(35,31,31);
}
#P462_34
{
left:0px;letter-spacing:0px;margin-left:-21px;
}
#P462_35
{
left:0px;letter-spacing:0px;margin-left:-21px;
}
#P462_36
{
left:12285.4px;bottom:35062.3px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P462_37
{
left:5469.4px;bottom:29894.3px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P462_38
{
left:12337.7px;bottom:29918.8px;color:white;
}
#P462_39
{
left:14001.8px;bottom:30110.6px;color:white;
}
#P462_40
{
left:14241.9px;bottom:29918.8px;color:white;
}
#P462_41
{
left:10493.4px;bottom:29751.7px;
}
#P462_42
{
left:10493.4px;bottom:29751.7px;color:white;
}
#P462_43
{
left:11564.7px;bottom:28289.4px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P462_44
{
left:0px;letter-spacing:0px;margin-left:1.2px;
}
#P462_45
{
left:11564.7px;bottom:27137.4px;letter-spacing:-2.8px;color:rgb(35,31,31);
}
#P462_46
{
left:13740.8px;bottom:27137.4px;letter-spacing:225.5px;color:rgb(35,31,31);
}
#P462_47
{
left:0px;letter-spacing:-1.1px;margin-left:-225.5px;
}
#P462_48
{
left:11564.7px;bottom:25857.3px;letter-spacing:2401.6px;color:rgb(35,31,31);
}
#P462_49
{
left:0px;letter-spacing:0px;margin-left:-2401.6px;
}
#P462_50
{
left:11564.7px;bottom:24513.3px;letter-spacing:-2.8px;color:rgb(35,31,31);
}
#P462_51
{
left:14124.6px;bottom:24513.3px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P462_52
{
left:0px;letter-spacing:-0.6px;margin-left:-0.1px;
}
#P462_53
{
left:0px;letter-spacing:-0.3px;margin-left:0.5px;
}
#P462_54
{
left:14124.7px;bottom:23617.4px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P462_55
{
left:22663.8px;bottom:23617.4px;color:rgb(35,31,31);
}
#P462_56
{
left:23931.6px;bottom:23617.4px;color:rgb(35,31,31);
}
#P462_57
{
left:14124.7px;bottom:22721.4px;color:rgb(35,31,31);
}
#P462_58
{
left:15688.4px;bottom:22721.4px;letter-spacing:-0.6px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P462_59
{
left:0px;letter-spacing:-1.2px;margin-left:-3.5px;
}
#P462_60
{
left:0px;letter-spacing:-0.1px;margin-left:1.1px;
}
#P462_61
{
left:0px;letter-spacing:0px;margin-left:-66.8px;
}
#P462_62
{
left:11564.7px;bottom:21377.4px;letter-spacing:-2.8px;color:rgb(35,31,31);
}
#P462_63
{
left:13740.8px;bottom:21377.4px;letter-spacing:225.5px;color:rgb(35,31,31);
}
#P462_64
{
left:0px;letter-spacing:5.5px;margin-left:-257.1px;
}
#P462_65
{
left:0px;letter-spacing:0px;margin-left:-5.5px;
}
#P462_66
{
left:21213.8px;bottom:21377.4px;color:rgb(35,31,31);
}
#P462_67
{
left:22367.9px;bottom:21377.4px;letter-spacing:-0.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P462_68
{
left:11564.7px;bottom:20033.4px;letter-spacing:-2.8px;color:rgb(35,31,31);
}
#P462_69
{
left:14124.6px;bottom:20033.4px;letter-spacing:225.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P462_70
{
left:0px;letter-spacing:5.5px;margin-left:-257px;
}
#P462_71
{
left:0px;letter-spacing:-0.1px;margin-left:-5.6px;
}
#P462_72
{
left:25739.8px;bottom:20033.4px;color:rgb(35,31,31);
}
#P462_73
{
left:27422.6px;bottom:20033.4px;letter-spacing:-0.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P462_74
{
left:11564.7px;bottom:7937.39px;color:rgb(35,31,31);
}
#P462_75
{
left:12028.2px;bottom:7964.2px;word-spacing:453.2px;color:rgb(35,31,31);
}
#P462_76
{
left:13228.7px;bottom:7937.39px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P462_77
{
left:0px;letter-spacing:0px;margin-left:0.5px;
}
#P462_78
{
left:18735.6px;bottom:6475.56px;color:rgb(35,31,31);
}
#P462_79
{
left:13931.3px;bottom:5368.68px;color:rgb(35,31,31);
}
#P462_80
{
left:0px;letter-spacing:0px;margin-left:1563.8px;
}
#P462_81
{
left:0px;letter-spacing:0px;margin-left:1385.8px;
}
#P462_82
{
left:0px;letter-spacing:0px;margin-left:1207.7px;
}
#P462_83
{
left:0px;letter-spacing:0px;margin-left:1207.6px;
}
#P462_84
{
left:0px;letter-spacing:0px;margin-left:1385.7px;
}
#P462_85
{
left:0px;letter-spacing:0px;margin-left:1385.8px;
}
#P462_86
{
left:0px;letter-spacing:0px;
}
#P462_87
{
left:0px;letter-spacing:0px;margin-left:1385.7px;
}
#P462_88
{
left:0px;letter-spacing:0px;margin-left:1563.8px;
}
#P462_89
{
left:0px;letter-spacing:0px;margin-left:1385.8px;
}
#P462_90
{
left:0px;letter-spacing:0px;
}
#P462_91
{
left:13753.2px;bottom:4344.81px;color:rgb(35,31,31);
}
#P462_92
{
left:0px;letter-spacing:0px;margin-left:1207.6px;
}
#P462_93
{
left:0px;letter-spacing:0px;margin-left:1385.7px;
}
#P462_94
{
left:0px;letter-spacing:0px;margin-left:1563.8px;
}
#P462_95
{
left:0px;letter-spacing:0px;margin-left:1563.8px;
}
#P462_96
{
left:0px;letter-spacing:0px;margin-left:1385.8px;
}
#P462_97
{
left:0px;letter-spacing:0px;margin-left:1385.7px;
}
#P462_98
{
left:0px;letter-spacing:0px;margin-left:1385.8px;
}
#P462_99
{
left:0px;letter-spacing:0px;
}
#P462_100
{
left:0px;letter-spacing:0px;margin-left:1207.6px;
}
#P462_101
{
left:0px;letter-spacing:0px;
}
#P462_102
{
left:0px;letter-spacing:0px;margin-left:1207.7px;
}
#P462_103
{
left:0px;letter-spacing:0px;
}
#P462_104
{
left:5725.4px;bottom:7068.78px;letter-spacing:2.1px;color:rgb(35,31,31);
}
#P462_105
{
left:0px;letter-spacing:0px;margin-left:20.9px;
}
#P462_106
{
left:26971.9px;bottom:40705.4px;letter-spacing:-1.9px;word-spacing:748.1px;color:rgb(35,31,31);
}
#P462_107
{
left:28270.2px;bottom:39617.5px;word-spacing:300.5px;color:rgb(35,31,31);
}
#P462_108
{
left:0px;letter-spacing:0px;margin-left:437.1px;
}
#P462_109
{
left:28270.2px;bottom:38721.5px;word-spacing:300.5px;color:rgb(35,31,31);
}
#P462_110
{
left:0px;letter-spacing:0px;margin-left:437.1px;
}
#P462_111
{
left:28270.1px;bottom:37825.5px;word-spacing:1964.5px;color:rgb(35,31,31);
}
#P462_112
{
left:0px;letter-spacing:0px;margin-left:-1226.9px;
}
#P462_113
{
left:28270.1px;bottom:36929.5px;word-spacing:1964.5px;color:rgb(35,31,31);
}
#P462_114
{
left:0px;letter-spacing:0px;margin-left:-1226.9px;
}
#P462_115
{
left:0px;letter-spacing:0px;margin-left:-1664px;
}
#P462_116
{
left:26147.2px;bottom:35649.5px;color:rgb(35,31,31);
}
#P462_117
{
left:29539.2px;bottom:35649.5px;letter-spacing:-3.1px;word-spacing:216.7px;color:rgb(35,31,31);
}
#P462_118
{
left:0px;letter-spacing:0px;margin-left:-9.4px;
}
#P462_119
{
left:31790px;bottom:35713.5px;color:rgb(35,31,31);
}
#P462_120
{
left:32077.9px;bottom:35649.5px;word-spacing:-59.8px;color:rgb(35,31,31);
}
#P462_121
{
left:32620px;bottom:35619.9px;color:rgb(35,31,31);
}
#P462_122
{
left:33206.4px;bottom:35649.5px;color:rgb(35,31,31);
}
#P462_123
{
left:19229.3px;bottom:18834.9px;letter-spacing:265px;color:rgb(35,31,31);
}
#P462_124
{
left:0px;letter-spacing:-1px;margin-left:-273.4px;
}
#P462_125
{
left:0px;letter-spacing:0px;margin-left:-10.1px;
}
#P462_126
{
left:19926px;bottom:17746.9px;letter-spacing:-5.6px;color:rgb(235,26,35);
}
#P462_127
{
left:21597.3px;bottom:17746.9px;color:rgb(35,31,31);
}
#P462_128
{
left:22621.3px;bottom:17746.9px;color:rgb(0,124,196);
}
#P462_129
{
left:24022.3px;bottom:17746.9px;color:rgb(35,31,31);
}
#P462_130
{
left:19229.3px;bottom:16658.9px;color:rgb(35,31,31);
}
#P462_131
{
left:21224.2px;bottom:16658.9px;color:rgb(235,26,35);
}
#P462_132
{
left:21597.3px;bottom:16658.9px;color:rgb(35,31,31);
}
#P462_133
{
left:22621.3px;bottom:16658.9px;word-spacing:300.5px;color:rgb(0,124,196);
}
#P462_134
{
left:19229.3px;bottom:15762.9px;color:rgb(35,31,31);
}
#P462_135
{
left:21224.2px;bottom:15762.9px;color:rgb(235,26,35);
}
#P462_136
{
left:21597.3px;bottom:15762.9px;color:rgb(35,31,31);
}
#P462_137
{
left:22621.3px;bottom:15762.9px;word-spacing:300.5px;color:rgb(0,124,196);
}
#P462_138
{
left:19229.3px;bottom:14866.9px;color:rgb(35,31,31);
}
#P462_139
{
left:21224.2px;bottom:14866.9px;color:rgb(235,26,35);
}
#P462_140
{
left:21597.3px;bottom:14866.9px;color:rgb(35,31,31);
}
#P462_141
{
left:22621.3px;bottom:14866.9px;word-spacing:300.5px;color:rgb(0,124,196);
}
#P462_142
{
left:19229.3px;bottom:13970.9px;color:rgb(35,31,31);
}
#P462_143
{
left:21224.2px;bottom:13970.9px;color:rgb(235,26,35);
}
#P462_144
{
left:21597.3px;bottom:13970.9px;color:rgb(35,31,31);
}
#P462_145
{
left:22621.3px;bottom:13970.9px;word-spacing:300.5px;color:rgb(0,124,196);
}
#P462_146
{
left:19229.3px;bottom:13074.9px;color:rgb(35,31,31);
}
#P462_147
{
left:21224.2px;bottom:13074.9px;color:rgb(235,26,35);
}
#P462_148
{
left:21597.3px;bottom:13074.9px;color:rgb(35,31,31);
}
#P462_149
{
left:22621.3px;bottom:13074.9px;color:rgb(0,124,196);
}
#P462_150
{
left:19229.3px;bottom:12178.9px;color:rgb(35,31,31);
}
#P462_151
{
left:21224.2px;bottom:12178.9px;color:rgb(235,26,35);
}
#P462_152
{
left:21597.3px;bottom:12178.9px;color:rgb(35,31,31);
}
#P462_153
{
left:22621.3px;bottom:12178.9px;color:rgb(0,124,196);
}
#P462_154
{
left:22631.1px;bottom:10898.9px;letter-spacing:-2.8px;word-spacing:3256.7px;color:rgb(35,31,31);
}
#P462_155
{
left:24389.9px;bottom:10898.9px;color:rgb(235,26,35);
}
#P462_156
{
left:24784.2px;bottom:10898.9px;color:rgb(35,31,31);
}
#P462_157
{
left:24872.2px;bottom:10962.9px;color:rgb(35,31,31);
}
#P462_158
{
left:25072.1px;bottom:10898.9px;color:rgb(35,31,31);
}
#P462_159
{
left:25160.1px;bottom:10898.9px;color:rgb(0,124,196);
}
#P462_160
{
left:25554.3px;bottom:10898.9px;color:rgb(35,31,31);
}
#P462_161
{
left:25702.2px;bottom:10869.3px;color:rgb(35,31,31);
}
#P462_162
{
left:26288.6px;bottom:10898.9px;color:rgb(35,31,31);
}
#P462_163
{
left:28730.7px;bottom:16876.8px;color:rgb(0,124,196);
}
#P462_164
{
left:28730.7px;bottom:15980.8px;color:rgb(0,124,196);
}
#P462_165
{
left:0px;letter-spacing:0px;margin-left:-49.7px;
}
#P462_166
{
left:14065.6px;bottom:13520px;color:rgb(235,26,35);
}
#P462_167
{
left:14065.6px;bottom:12624px;letter-spacing:-1.8px;color:rgb(235,26,35);
}
#P462_168
{
left:11419.1px;bottom:17408.9px;word-spacing:-1.8px;color:rgb(235,26,35);
}
#P462_169
{
left:0px;letter-spacing:0px;margin-left:-49.7px;
}
#P462_170
{
left:11419.1px;bottom:16512.9px;letter-spacing:-8.3px;color:rgb(235,26,35);
}
#P462_171
{
left:0px;letter-spacing:-0.6px;margin-left:8.3px;
}
#P462_172
{
left:11419.1px;bottom:15617px;color:rgb(235,26,35);
}
#P462_173
{
left:20115.9px;bottom:34306.5px;letter-spacing:-8.3px;color:rgb(0,124,196);
}
#P462_174
{
left:21173px;bottom:34325.4px;color:rgb(0,124,196);
}
#P462_175
{
left:22147.9px;bottom:34306.5px;color:rgb(0,124,196);
}
#P462_176
{
left:20115.9px;bottom:33410.5px;color:rgb(0,124,196);
}
#PageContainer462
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg462.jpg");background-repeat:no-repeat;background-size: 947px 1291px; background-position: 0px 35.3699999999999px;
}
#ImageContainer462 {bottom:37.63px;left:0.00px;width:946.60px;height:1291.35px;position:absolute;} #TextContainer462 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.example1{
                            position: absolute;
                            top: 523px;
                            left: 101px;
}

.nyr{position: absolute;top: 1120px;left: 128px;}
.nyr_exr{position: absolute;top: 1153px;left: 161px;color:rgb(35,31,31);font-size:16px}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}