.tr415{ color:transparent;}
#P415_1
{
left:7119.71px;bottom:38151px;color:rgb(2,77,161);
}
#P415_2
{
left:16831.8px;bottom:38119px;color:rgb(2,77,161);
}
#P415_3
{
left:7869.4px;bottom:36562.3px;word-spacing:1720.3px;color:rgb(0,124,196);
}
#P415_4
{
left:0px;letter-spacing:0px;margin-left:-1720.3px;
}
#P415_5
{
left:11953.6px;bottom:36562.3px;color:rgb(35,31,31);
}
#P415_6
{
left:0px;letter-spacing:0px;margin-left:-7.6px;
}
#P415_7
{
left:0px;letter-spacing:0px;margin-left:-28.3px;
}
#P415_8
{
left:0px;letter-spacing:0px;margin-left:-28.4px;
}
#P415_9
{
left:11953.6px;bottom:35602.3px;letter-spacing:-7.1px;color:rgb(35,31,31);
}
#P415_10
{
left:0px;letter-spacing:-5.7px;margin-left:7.1px;
}
#P415_11
{
left:0px;letter-spacing:-0.5px;margin-left:5.7px;
}
#P415_12
{
left:9775.64px;bottom:33094.8px;letter-spacing:2488.8px;color:rgb(35,31,31);
}
#P415_13
{
left:12823.6px;bottom:34479.1px;color:rgb(0,124,196);
}
#P415_14
{
left:0px;letter-spacing:0px;margin-left:6906.2px;
}
#P415_15
{
left:0px;letter-spacing:0px;margin-left:2453px;
}
#P415_16
{
left:16450.5px;bottom:34479.1px;color:rgb(0,124,196);
}
#P415_17
{
left:19223.9px;bottom:34479.1px;color:rgb(0,124,196);
}
#P415_18
{
left:21869.8px;bottom:34479.1px;color:rgb(0,124,196);
}
#P415_19
{
left:5949.4px;bottom:29875px;letter-spacing:1706.5px;color:rgb(35,31,31);
}
#P415_20
{
left:0px;letter-spacing:-0.4px;margin-left:-1706.5px;
}
#P415_21
{
left:0px;letter-spacing:-1px;margin-left:-13.3px;
}
#P415_22
{
left:0px;letter-spacing:0px;margin-left:1px;
}
#P415_23
{
left:8245.98px;bottom:28609.2px;color:rgb(35,31,31);
}
#P415_24
{
left:9277.4px;bottom:28589.5px;color:rgb(35,31,31);
}
#P415_25
{
left:22006.1px;bottom:28609.2px;color:rgb(35,31,31);
}
#P415_26
{
left:23037.5px;bottom:28589.5px;color:rgb(35,31,31);
}
#P415_27
{
left:8246.11px;bottom:27265.2px;color:rgb(35,31,31);
}
#P415_28
{
left:9277.53px;bottom:27245.5px;color:rgb(35,31,31);
}
#P415_29
{
left:22006.2px;bottom:27265.2px;color:rgb(35,31,31);
}
#P415_30
{
left:23037.7px;bottom:27245.5px;color:rgb(35,31,31);
}
#P415_31
{
left:7183.71px;bottom:25139px;color:rgb(35,31,31);
}
#P415_32
{
left:22222.2px;bottom:24967.7px;color:rgb(2,77,161);
}
#P415_33
{
left:7869.4px;bottom:23795px;word-spacing:1720.3px;color:rgb(0,124,196);
}
#P415_34
{
left:0px;letter-spacing:0px;margin-left:-1720.3px;
}
#P415_35
{
left:11185.6px;bottom:23780.8px;letter-spacing:600.7px;color:rgb(0,124,196);
}
#P415_36
{
left:12017.6px;bottom:23795px;color:rgb(35,31,31);
}
#P415_37
{
left:0px;letter-spacing:0px;margin-left:-7.6px;
}
#P415_38
{
left:0px;letter-spacing:0px;margin-left:2276.7px;
}
#P415_39
{
left:23193.6px;bottom:16152.9px;color:rgb(33,31,31);
}
#P415_40
{
left:23193.6px;bottom:16920.9px;color:rgb(33,31,31);
}
#P415_41
{
left:23193.6px;bottom:17688.8px;color:rgb(33,31,31);
}
#P415_42
{
left:23193.6px;bottom:18456.8px;color:rgb(33,31,31);
}
#P415_43
{
left:23193.6px;bottom:19224.8px;color:rgb(33,31,31);
}
#P415_44
{
left:23193.6px;bottom:19992.8px;color:rgb(33,31,31);
}
#P415_45
{
left:23193.6px;bottom:20760.8px;color:rgb(33,31,31);
}
#P415_46
{
left:23193.6px;bottom:21528.8px;color:rgb(33,31,31);
}
#P415_47
{
left:23193.6px;bottom:22275.7px;color:rgb(33,31,31);
}
#P415_48
{
left:23972.9px;bottom:15384.7px;color:rgb(33,31,31);
}
#P415_49
{
left:25019.3px;bottom:15040.6px;color:rgb(33,31,31);
}
#P415_50
{
left:26707px;bottom:15032.4px;color:rgb(33,31,31);
}
#P415_51
{
left:0px;letter-spacing:0px;margin-left:620.2px;
}
#P415_52
{
left:30082.3px;bottom:15016.6px;color:rgb(33,31,31);
}
#P415_53
{
left:31770px;bottom:15040.6px;color:rgb(33,31,31);
}
#P415_54
{
left:29173.6px;bottom:14147.8px;letter-spacing:-26.5px;color:rgb(33,31,31);
}
#P415_55
{
left:0px;letter-spacing:0px;margin-left:26.5px;
}
#P415_56
{
left:22910.2px;bottom:16490.9px;color:rgb(33,31,31);
}
#P415_57
{
left:27786.8px;bottom:17195.4px;color:white;
}
#P415_58
{
left:27219.6px;bottom:19736.8px;color:white;
}
#P415_59
{
left:28920.7px;bottom:19563.7px;color:white;
}
#P415_60
{
left:29466.8px;bottom:17643.2px;color:white;
}
#P415_61
{
left:31173.7px;bottom:17792.4px;color:white;
}
#P415_62
{
left:32858.1px;bottom:18161.6px;color:white;
}
#P415_63
{
left:30612.8px;bottom:19264.5px;color:white;
}
#P415_64
{
left:32294.6px;bottom:19392.5px;color:white;
}
#P415_65
{
left:33456.5px;bottom:15040.7px;color:rgb(33,31,31);
}
#P415_66
{
left:34537.4px;bottom:18238.6px;color:white;
}
#P415_67
{
left:33975.6px;bottom:19153.3px;color:white;
}
#P415_68
{
left:24215.3px;bottom:23254.1px;color:rgb(33,31,31);
}
#P415_69
{
left:26093.6px;bottom:16598.1px;color:white;
}
#P415_70
{
left:25539px;bottom:19572.1px;color:white;
}
#P415_71
{
left:28338.3px;bottom:21492.5px;color:rgb(33,31,31);
}
#P415_72
{
left:0px;letter-spacing:0px;margin-left:846.5px;
}
#P415_73
{
left:12017.6px;bottom:22835px;color:rgb(35,31,31);
}
#P415_74
{
left:12017.6px;bottom:21875px;color:rgb(35,31,31);
}
#P415_75
{
left:12017.6px;bottom:20915px;color:rgb(35,31,31);
}
#P415_76
{
left:5949.4px;bottom:19245.5px;letter-spacing:2273.6px;color:rgb(35,31,31);
}
#P415_77
{
left:10493.4px;bottom:19245.5px;color:rgb(0,124,196);
}
#P415_78
{
left:11985.9px;bottom:19245.5px;color:rgb(35,31,31);
}
#P415_79
{
left:12144.3px;bottom:19215.9px;color:rgb(35,31,31);
}
#P415_80
{
left:12730.7px;bottom:19245.5px;color:rgb(35,31,31);
}
#P415_81
{
left:12889.1px;bottom:19245.5px;color:rgb(235,26,35);
}
#P415_82
{
left:14381.6px;bottom:19245.5px;color:rgb(35,31,31);
}
#P415_83
{
left:14540px;bottom:19215.9px;color:rgb(35,31,31);
}
#P415_84
{
left:15126.4px;bottom:19245.5px;color:rgb(35,31,31);
}
#P415_85
{
left:8389.4px;bottom:14381.5px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P415_86
{
left:0px;letter-spacing:-0.2px;margin-left:-545.6px;
}
#P415_87
{
left:7869.4px;bottom:11955px;word-spacing:1720.3px;color:rgb(0,124,196);
}
#P415_88
{
left:0px;letter-spacing:0px;margin-left:-1720.3px;
}
#P415_89
{
left:11953.6px;bottom:11955px;color:rgb(35,31,31);
}
#P415_90
{
left:11953.6px;bottom:10995px;color:rgb(35,31,31);
}
#P415_91
{
left:8389.4px;bottom:9709.48px;color:rgb(35,31,31);
}
#P415_92
{
left:9093.4px;bottom:9709.48px;color:rgb(0,124,196);
}
#P415_93
{
left:10585.9px;bottom:9709.48px;color:rgb(35,31,31);
}
#P415_94
{
left:10744.3px;bottom:9679.92px;color:rgb(35,31,31);
}
#P415_95
{
left:11330.7px;bottom:9709.48px;color:rgb(35,31,31);
}
#P415_96
{
left:11489.1px;bottom:9709.48px;color:rgb(235,26,35);
}
#P415_97
{
left:12981.6px;bottom:9709.48px;color:rgb(35,31,31);
}
#P415_98
{
left:13140px;bottom:9679.92px;color:rgb(35,31,31);
}
#P415_99
{
left:13726.4px;bottom:9709.48px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P415_100
{
left:0px;letter-spacing:-1.4px;margin-left:0.3px;
}
#P415_101
{
left:8245.98px;bottom:6273.2px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P415_102
{
left:9277.4px;bottom:6253.48px;letter-spacing:-10.5px;color:rgb(35,31,31);
}
#P415_103
{
left:0px;letter-spacing:-0.2px;margin-left:10.5px;
}
#P415_104
{
left:0px;letter-spacing:-0.3px;margin-left:-16.7px;
}
#P415_105
{
left:0px;letter-spacing:0px;margin-left:0.3px;
}
#P415_106
{
left:9277.4px;bottom:5357.48px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P415_107
{
left:0px;letter-spacing:0px;margin-left:-3.5px;
}
#P415_108
{
left:8245.98px;bottom:4033.2px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P415_109
{
left:9277.4px;bottom:4013.48px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P415_110
{
left:0px;letter-spacing:-0.4px;margin-left:0.7px;
}
#P415_111
{
left:0px;letter-spacing:0px;margin-left:0.4px;
}
#P415_112
{
left:9277.4px;bottom:3117.59px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P415_113
{
left:0px;letter-spacing:-1.4px;margin-left:0.4px;
}
#P415_114
{
left:23907.7px;bottom:36562.3px;
}
#P415_115
{
left:25411.2px;bottom:38890.9px;letter-spacing:-11.2px;color:rgb(33,31,31);
}
#P415_116
{
left:0px;letter-spacing:0px;margin-left:-50.4px;
}
#P415_117
{
left:5899.1px;bottom:43568.7px;word-spacing:-68.5px;color:rgb(237,28,35);
}
#P415_118
{
left:0px;letter-spacing:0px;margin-left:-139.2px;
}
#P415_119
{
left:5899.1px;bottom:41520.6px;letter-spacing:-2.5px;color:rgb(237,28,35);
}
#P415_120
{
left:7517.4px;bottom:17593.6px;color:rgb(0,124,196);
}
#P415_121
{
left:7517.4px;bottom:16697.6px;color:rgb(0,124,196);
}
#P415_122
{
left:13277.4px;bottom:17593.6px;color:rgb(235,26,35);
}
#P415_123
{
left:13277.4px;bottom:16697.6px;color:rgb(235,26,35);
}
#PageContainer415
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg415.jpg");background-repeat:no-repeat;background-size: 1066px 1364px; background-position: right bottom;
}
#ImageContainer415 {bottom:0.00px;right:0.00px;width:1066.24px;height:1364.16px;position:absolute;} #TextContainer415 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.rpj{position:absolute; top: 116px; left: 80px;}
.srpj{position:absolute; top: 116px; left: 26px;}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}