.tr325{ color:transparent;}
#P325_1
{
left:4592.6px;bottom:1410.03px;letter-spacing:14791.1px;color:rgb(35,31,31);
}
#P325_2
{
left:19739.5px;bottom:1410.03px;color:rgb(35,31,31);
}
#P325_3
{
left:21944.3px;bottom:1410.03px;color:rgb(35,31,31);
}
#P325_4
{
left:22122.2px;bottom:1410.03px;letter-spacing:-49.3px;color:rgb(35,31,31);
}
#P325_5
{
left:22913.2px;bottom:1410.03px;letter-spacing:462.1px;color:rgb(35,31,31);
}
#P325_6
{
left:0px;letter-spacing:-0.9px;margin-left:-467.1px;
}
#P325_7
{
left:0px;letter-spacing:1.9px;margin-left:-3.4px;
}
#P325_8
{
left:0px;letter-spacing:-7.3px;margin-left:-1.9px;
}
#P325_9
{
left:0px;letter-spacing:0px;margin-left:3.7px;
}
#P325_10
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P325_11
{
left:6909.4px;bottom:9042.48px;letter-spacing:-4.6px;color:rgb(35,31,31);
}
#P325_12
{
left:0px;letter-spacing:-0.7px;margin-left:4.6px;
}
#P325_13
{
left:16746.5px;bottom:9048.11px;color:rgb(35,31,31);
}
#P325_14
{
left:17166.1px;bottom:9042.48px;color:rgb(35,31,31);
}
#P325_15
{
left:17313.9px;bottom:9012.91px;color:rgb(35,31,31);
}
#P325_16
{
left:17900.4px;bottom:9042.48px;letter-spacing:-9.3px;color:rgb(35,31,31);
}
#P325_17
{
left:19315.5px;bottom:9042.48px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P325_18
{
left:6909.4px;bottom:7570.48px;color:rgb(35,31,31);
}
#P325_19
{
left:7086.55px;bottom:7590.19px;color:rgb(35,31,31);
}
#P325_20
{
left:8509.4px;bottom:7570.48px;color:rgb(35,31,31);
}
#P325_21
{
left:9040.92px;bottom:7540.91px;color:rgb(35,31,31);
}
#P325_22
{
left:9627.35px;bottom:7570.48px;color:rgb(35,31,31);
}
#P325_23
{
left:9785.75px;bottom:7570.48px;color:rgb(35,31,31);
}
#P325_24
{
left:10180.7px;bottom:7570.48px;color:rgb(35,31,31);
}
#P325_25
{
left:14382.5px;bottom:7590.19px;color:rgb(35,31,31);
}
#P325_26
{
left:15805.3px;bottom:7570.48px;color:rgb(35,31,31);
}
#P325_27
{
left:16200.3px;bottom:7570.48px;color:rgb(35,31,31);
}
#P325_28
{
left:16358.7px;bottom:7540.91px;color:rgb(35,31,31);
}
#P325_29
{
left:16945.1px;bottom:7570.48px;color:rgb(35,31,31);
}
#P325_30
{
left:21806.6px;bottom:7590.19px;color:rgb(35,31,31);
}
#P325_31
{
left:23229.5px;bottom:7570.48px;color:rgb(35,31,31);
}
#P325_32
{
left:23602.6px;bottom:7570.48px;color:rgb(35,31,31);
}
#P325_33
{
left:23997.5px;bottom:7570.48px;color:rgb(35,31,31);
}
#P325_34
{
left:29166.6px;bottom:7590.19px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P325_35
{
left:30589.5px;bottom:7590.19px;color:rgb(35,31,31);
}
#P325_36
{
left:30610.5px;bottom:8012.2px;color:rgb(35,31,31);
}
#P325_37
{
left:31282.1px;bottom:7588.08px;color:rgb(35,31,31);
}
#P325_38
{
left:30589.4px;bottom:7556.51px;color:rgb(35,31,31);
}
#P325_39
{
left:31303.3px;bottom:7571.74px;color:rgb(35,31,31);
}
#P325_40
{
left:30768.6px;bottom:7104.68px;color:rgb(35,31,31);
}
#P325_41
{
left:31124.1px;bottom:7588.08px;color:rgb(35,31,31);
}
#P325_42
{
left:31303.3px;bottom:7570.48px;color:rgb(35,31,31);
}
#P325_43
{
left:6909.4px;bottom:5458.48px;color:rgb(35,31,31);
}
#P325_44
{
left:7086.43px;bottom:5478.19px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P325_45
{
left:8573.4px;bottom:5478.19px;letter-spacing:-17.6px;color:rgb(2,77,161);
}
#P325_46
{
left:0px;letter-spacing:0px;margin-left:17.6px;
}
#P325_47
{
left:14049px;bottom:5458.48px;letter-spacing:151.5px;color:rgb(35,31,31);
}
#P325_48
{
left:0px;letter-spacing:-0.8px;margin-left:-151.5px;
}
#P325_49
{
left:0px;letter-spacing:0px;margin-left:0.8px;
}
#P325_50
{
left:25780px;bottom:5458.48px;color:rgb(35,31,31);
}
#P325_51
{
left:26143.3px;bottom:5458.48px;color:rgb(35,31,31);
}
#P325_52
{
left:26301.7px;bottom:5428.91px;color:rgb(35,31,31);
}
#P325_53
{
left:27046.4px;bottom:5458.48px;word-spacing:-0.1px;color:rgb(35,31,31);
}
#P325_54
{
left:28643.8px;bottom:5458.48px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P325_55
{
left:6909.4px;bottom:4114.48px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P325_56
{
left:8486.49px;bottom:4157.86px;color:rgb(35,31,31);
}
#P325_57
{
left:8823.32px;bottom:4278.99px;color:rgb(35,31,31);
}
#P325_58
{
left:9469.4px;bottom:4114.48px;color:rgb(35,31,31);
}
#P325_59
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P325_60
{
left:10610.5px;bottom:4114.48px;color:rgb(35,31,31);
}
#P325_61
{
left:10973.8px;bottom:4114.48px;color:rgb(35,31,31);
}
#P325_62
{
left:11132.2px;bottom:4084.91px;color:rgb(35,31,31);
}
#P325_63
{
left:11718.6px;bottom:4114.48px;color:rgb(35,31,31);
}
#P325_64
{
left:15782.5px;bottom:4157.86px;color:rgb(35,31,31);
}
#P325_65
{
left:16119.3px;bottom:4278.99px;color:rgb(35,31,31);
}
#P325_66
{
left:16765.4px;bottom:4114.48px;color:rgb(35,31,31);
}
#P325_67
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P325_68
{
left:17906.5px;bottom:4114.48px;color:rgb(35,31,31);
}
#P325_69
{
left:18269.8px;bottom:4114.48px;color:rgb(35,31,31);
}
#P325_70
{
left:18428.2px;bottom:4084.91px;color:rgb(35,31,31);
}
#P325_71
{
left:19014.6px;bottom:4114.48px;color:rgb(35,31,31);
}
#P325_72
{
left:23270.5px;bottom:4157.86px;color:rgb(35,31,31);
}
#P325_73
{
left:23607.3px;bottom:4278.99px;color:rgb(35,31,31);
}
#P325_74
{
left:24253.4px;bottom:4114.48px;color:rgb(35,31,31);
}
#P325_75
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P325_76
{
left:25394.5px;bottom:4114.48px;color:rgb(35,31,31);
}
#P325_77
{
left:25757.8px;bottom:4114.48px;color:rgb(35,31,31);
}
#P325_78
{
left:25916.2px;bottom:4084.91px;color:rgb(35,31,31);
}
#P325_79
{
left:26502.6px;bottom:4114.48px;color:rgb(35,31,31);
}
#P325_80
{
left:30630.5px;bottom:4157.86px;color:rgb(35,31,31);
}
#P325_81
{
left:30967.3px;bottom:4278.99px;color:rgb(35,31,31);
}
#P325_82
{
left:31613.4px;bottom:4114.48px;color:rgb(35,31,31);
}
#P325_83
{
left:32381.4px;bottom:4114.48px;color:rgb(35,31,31);
}
#P325_84
{
left:32744.7px;bottom:4114.48px;color:rgb(35,31,31);
}
#P325_85
{
left:32903.1px;bottom:4084.91px;color:rgb(35,31,31);
}
#P325_86
{
left:33489.5px;bottom:4114.48px;color:rgb(35,31,31);
}
#P325_87
{
left:6973.4px;bottom:46736.5px;letter-spacing:-1.8px;color:rgb(2,77,161);
}
#P325_88
{
left:10429.4px;bottom:46716.8px;letter-spacing:162px;color:rgb(35,31,31);
}
#P325_89
{
left:0px;letter-spacing:5.5px;margin-left:-197.1px;
}
#P325_90
{
left:0px;letter-spacing:0px;margin-left:-5.5px;
}
#P325_91
{
left:0px;letter-spacing:0px;margin-left:-225.2px;
}
#P325_92
{
left:0px;letter-spacing:0px;margin-left:77.1px;
}
#P325_93
{
left:0px;letter-spacing:-0.7px;
}
#P325_94
{
left:28444px;bottom:46722.4px;color:rgb(35,31,31);
}
#P325_95
{
left:28807.3px;bottom:46716.8px;color:rgb(35,31,31);
}
#P325_96
{
left:7150.55px;bottom:45584.5px;color:rgb(35,31,31);
}
#P325_97
{
left:8573.4px;bottom:45564.8px;letter-spacing:-5.2px;color:rgb(35,31,31);
}
#P325_98
{
left:0px;letter-spacing:0.3px;margin-left:5.2px;
}
#P325_99
{
left:0px;letter-spacing:0px;margin-left:193.3px;
}
#P325_100
{
left:0px;letter-spacing:0px;
}
#P325_101
{
left:18222.6px;bottom:45584.5px;color:rgb(35,31,31);
}
#P325_102
{
left:19709.4px;bottom:45564.8px;letter-spacing:-3.1px;color:rgb(35,31,31);
}
#P325_103
{
left:0px;letter-spacing:-1px;margin-left:3.1px;
}
#P325_104
{
left:0px;letter-spacing:0px;margin-left:194.6px;
}
#P325_105
{
left:0px;letter-spacing:0px;
}
#P325_106
{
left:10218.2px;bottom:41391.2px;color:rgb(98,93,170);
}
#P325_107
{
left:9141.08px;bottom:43513.8px;letter-spacing:2016px;color:rgb(98,93,170);
}
#P325_108
{
left:12119px;bottom:44240.5px;letter-spacing:5922.7px;color:rgb(35,31,31);
}
#P325_109
{
left:21170.7px;bottom:41295.2px;color:rgb(0,145,68);
}
#P325_110
{
left:7150.55px;bottom:39184.5px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P325_111
{
left:8637.4px;bottom:39184.5px;color:rgb(2,77,161);
}
#P325_112
{
left:10671.2px;bottom:39164.8px;letter-spacing:151.5px;color:rgb(35,31,31);
}
#P325_113
{
left:0px;letter-spacing:0px;margin-left:-214.7px;
}
#P325_114
{
left:0px;letter-spacing:0.1px;
}
#P325_115
{
left:8637.4px;bottom:38268.8px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P325_116
{
left:0px;letter-spacing:-63.2px;margin-left:-41.8px;
}
#P325_117
{
left:0px;letter-spacing:-0.9px;margin-left:63.2px;
}
#P325_118
{
left:0px;letter-spacing:-0.5px;margin-left:0.9px;
}
#P325_119
{
left:8637.4px;bottom:37372.8px;letter-spacing:-0.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P325_120
{
left:14989.7px;bottom:37372.8px;color:rgb(35,31,31);
}
#P325_121
{
left:15353px;bottom:37372.8px;color:rgb(35,31,31);
}
#P325_122
{
left:15511.4px;bottom:37372.8px;color:rgb(35,31,31);
}
#P325_123
{
left:17815.5px;bottom:37372.8px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P325_124
{
left:0px;letter-spacing:-13.1px;margin-left:-40.9px;
}
#P325_125
{
left:0px;letter-spacing:-0.2px;margin-left:13.1px;
}
#P325_126
{
left:8637.4px;bottom:36476.8px;color:rgb(35,31,31);
}
#P325_127
{
left:0px;letter-spacing:0px;margin-left:-214.8px;
}
#P325_128
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P325_129
{
left:18160.2px;bottom:36476.8px;color:rgb(35,31,31);
}
#P325_130
{
left:20464.3px;bottom:36476.8px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P325_131
{
left:7150.55px;bottom:34832.6px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P325_132
{
left:8637.4px;bottom:34832.5px;letter-spacing:-5.5px;word-spacing:-26px;color:rgb(2,77,161);
}
#P325_133
{
left:0px;letter-spacing:0px;margin-left:5.5px;
}
#P325_134
{
left:11910.4px;bottom:34812.8px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P325_135
{
left:0px;letter-spacing:-1.1px;margin-left:-200.5px;
}
#P325_136
{
left:0px;letter-spacing:-1.1px;margin-left:1.1px;
}
#P325_137
{
left:0px;letter-spacing:0px;margin-left:1.1px;
}
#P325_138
{
left:8637.4px;bottom:33916.8px;letter-spacing:-3.5px;color:rgb(35,31,31);
}
#P325_139
{
left:0px;letter-spacing:0.1px;margin-left:3.5px;
}
#P325_140
{
left:8637.4px;bottom:33020.8px;color:rgb(35,31,31);
}
#P325_141
{
left:8725.34px;bottom:31676.7px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P325_142
{
left:9917.4px;bottom:31676.7px;letter-spacing:-13.1px;color:rgb(35,31,31);
}
#P325_143
{
left:0px;letter-spacing:-0.1px;margin-left:13.1px;
}
#P325_144
{
left:0px;letter-spacing:0px;margin-left:-214.8px;
}
#P325_145
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P325_146
{
left:0px;letter-spacing:-0.4px;
}
#P325_147
{
left:27333.5px;bottom:31676.7px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P325_148
{
left:8689.11px;bottom:30588.7px;letter-spacing:-17.4px;color:rgb(35,31,31);
}
#P325_149
{
left:9917.27px;bottom:30588.7px;letter-spacing:-1.1px;color:rgb(35,31,31);
}
#P325_150
{
left:13949.8px;bottom:30588.7px;color:rgb(35,31,31);
}
#P325_151
{
left:14232.9px;bottom:30588.7px;color:rgb(35,31,31);
}
#P325_152
{
left:15627.5px;bottom:30588.7px;word-spacing:56.3px;color:rgb(35,31,31);
}
#P325_153
{
left:0px;letter-spacing:0px;margin-left:-56.3px;
}
#P325_154
{
left:17832.3px;bottom:30588.7px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P325_155
{
left:20145.6px;bottom:30588.7px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P325_156
{
left:13038.4px;bottom:28688.4px;word-spacing:312.6px;
}
#P325_157
{
left:14525.4px;bottom:28688.5px;letter-spacing:-1.1px;color:rgb(2,77,161);
}
#P325_158
{
left:19272.5px;bottom:28668.8px;letter-spacing:151.5px;color:rgb(35,31,31);
}
#P325_159
{
left:0px;letter-spacing:0px;margin-left:-214.7px;
}
#P325_160
{
left:0px;letter-spacing:-0.5px;
}
#P325_161
{
left:0px;letter-spacing:-42.1px;margin-left:0.5px;
}
#P325_162
{
left:0px;letter-spacing:0px;margin-left:-21.1px;
}
#P325_163
{
left:0px;letter-spacing:0px;
}
#P325_164
{
left:14525.4px;bottom:27772.8px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P325_165
{
left:0px;letter-spacing:0px;margin-left:0.8px;
}
#P325_166
{
left:14525.4px;bottom:26876.8px;color:rgb(35,31,31);
}
#P325_167
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P325_168
{
left:0px;letter-spacing:-1.1px;
}
#P325_169
{
left:0px;letter-spacing:-2.3px;margin-left:1.1px;
}
#P325_170
{
left:0px;letter-spacing:0.2px;margin-left:-11.6px;
}
#P325_171
{
left:0px;letter-spacing:-2.3px;margin-left:-14.2px;
}
#P325_172
{
left:0px;letter-spacing:0px;margin-left:2.3px;
}
#P325_173
{
left:14525.4px;bottom:25980.8px;letter-spacing:-0.6px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P325_174
{
left:0px;letter-spacing:-0.2px;margin-left:-6.3px;
}
#P325_175
{
left:0px;letter-spacing:-21.1px;margin-left:-27.8px;
}
#P325_176
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P325_177
{
left:0px;letter-spacing:-2.1px;margin-left:-0.1px;
}
#P325_178
{
left:14525.4px;bottom:25084.8px;letter-spacing:-0.2px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P325_179
{
left:14525.4px;bottom:24188.9px;letter-spacing:-1.7px;color:rgb(35,31,31);
}
#P325_180
{
left:14526.4px;bottom:22844.8px;letter-spacing:-14px;word-spacing:451.1px;color:rgb(35,31,31);
}
#P325_181
{
left:15677.4px;bottom:22844.8px;letter-spacing:-3.8px;color:rgb(35,31,31);
}
#P325_182
{
left:0px;letter-spacing:0.2px;margin-left:3.8px;
}
#P325_183
{
left:0px;letter-spacing:0px;margin-left:-215.2px;
}
#P325_184
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P325_185
{
left:0px;letter-spacing:0px;
}
#P325_186
{
left:15677.4px;bottom:21948.9px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P325_187
{
left:14490.3px;bottom:20860.8px;letter-spacing:-13.9px;word-spacing:458px;color:rgb(35,31,31);
}
#P325_188
{
left:15677.4px;bottom:20860.8px;letter-spacing:-3.8px;color:rgb(35,31,31);
}
#P325_189
{
left:0px;letter-spacing:0.2px;margin-left:3.8px;
}
#P325_190
{
left:0px;letter-spacing:0px;margin-left:-215.2px;
}
#P325_191
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P325_192
{
left:0px;letter-spacing:-3.5px;
}
#P325_193
{
left:0px;letter-spacing:-0.3px;margin-left:3.5px;
}
#P325_194
{
left:15677.4px;bottom:19965px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P325_195
{
left:7150.55px;bottom:17168.7px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P325_196
{
left:12371.5px;bottom:17148.8px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P325_197
{
left:0px;letter-spacing:-0.5px;margin-left:-193.6px;
}
#P325_198
{
left:0px;letter-spacing:-1.7px;margin-left:0.5px;
}
#P325_199
{
left:0px;letter-spacing:0px;margin-left:-23.5px;
}
#P325_200
{
left:0px;letter-spacing:0px;
}
#P325_201
{
left:8637.4px;bottom:16252.8px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P325_202
{
left:0px;letter-spacing:0px;margin-left:0.4px;
}
#P325_203
{
left:24081.4px;bottom:16252.8px;color:rgb(35,31,31);
}
#P325_204
{
left:24355.2px;bottom:16252.8px;letter-spacing:4.2px;word-spacing:-25.3px;color:rgb(35,31,31);
}
#P325_205
{
left:0px;letter-spacing:-4.7px;margin-left:-4.2px;
}
#P325_206
{
left:8637.4px;bottom:15356.9px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P325_207
{
left:0px;letter-spacing:0px;margin-left:-13.5px;
}
#P325_208
{
left:0px;letter-spacing:-21.1px;margin-left:-13.9px;
}
#P325_209
{
left:0px;letter-spacing:5.5px;margin-left:-10.6px;
}
#P325_210
{
left:0px;letter-spacing:0px;margin-left:-5.5px;
}
#P325_211
{
left:8637.4px;bottom:14461px;color:rgb(35,31,31);
}
#P325_212
{
left:0px;letter-spacing:0px;margin-left:-4.2px;
}
#P325_213
{
left:0px;letter-spacing:0px;margin-left:-214.8px;
}
#P325_214
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P325_215
{
left:19628.1px;bottom:14461px;color:rgb(35,31,31);
}
#P325_216
{
left:19902px;bottom:14461px;color:rgb(35,31,31);
}
#P325_217
{
left:13038.6px;bottom:28688.5px;color:rgb(33,31,31);
}
#P325_218
{
left:22606.2px;bottom:38268.8px;letter-spacing:871.6px;
}
#P325_219
{
left:31133px;bottom:17979.8px;color:rgb(0,124,196);
}
#P325_220
{
left:35455.8px;bottom:15535.3px;color:rgb(0,124,196);
}
#PageContainer325
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg325.jpg");background-repeat:no-repeat;background-size: 938px 1190px; background-position: 74.76px 80.99px;
}
#ImageContainer325 {bottom:93.01px;left:74.76px;width:937.70px;height:1190.06px;position:absolute;} #TextContainer325 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}