.tr69{ color:transparent;}
#P69_1
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P69_2
{
left:19072.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P69_3
{
left:24371.8px;bottom:1410.03px;letter-spacing:461.8px;word-spacing:0.3px;color:rgb(35,31,31);
}
#P69_4
{
left:0px;letter-spacing:0.7px;margin-left:-462.1px;
}
#P69_5
{
left:0px;letter-spacing:5.7px;margin-left:3.5px;
}
#P69_6
{
left:0px;letter-spacing:2.1px;margin-left:-2.1px;
}
#P69_7
{
left:0px;letter-spacing:2.1px;margin-left:-6.2px;
}
#P69_8
{
left:36142px;bottom:1410.03px;color:rgb(35,31,31);
}
#P69_9
{
left:7737.11px;bottom:43474.8px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P69_10
{
left:14605.4px;bottom:43499.3px;letter-spacing:-2.2px;color:white;
}
#P69_11
{
left:17886px;bottom:43691.1px;color:white;
}
#P69_12
{
left:18126.2px;bottom:43499.3px;color:white;
}
#P69_13
{
left:20063.3px;bottom:43691.1px;color:white;
}
#P69_14
{
left:20303.5px;bottom:43499.3px;letter-spacing:-0.9px;color:white;
}
#P69_15
{
left:12806.2px;bottom:43332.2px;
}
#P69_16
{
left:12806.2px;bottom:43332.2px;color:white;
}
#P69_17
{
left:13885.4px;bottom:41504.6px;letter-spacing:-2.6px;color:rgb(35,31,31);
}
#P69_18
{
left:0px;letter-spacing:-147.8px;margin-left:-115.7px;
}
#P69_19
{
left:15977.4px;bottom:41944.3px;color:rgb(35,31,31);
}
#P69_20
{
left:16332.2px;bottom:41522.2px;color:rgb(35,31,31);
}
#P69_21
{
left:15956.3px;bottom:41488.6px;color:rgb(35,31,31);
}
#P69_22
{
left:16353.4px;bottom:41505.9px;color:rgb(35,31,31);
}
#P69_23
{
left:15977.4px;bottom:41036.7px;color:rgb(35,31,31);
}
#P69_24
{
left:16332.2px;bottom:41522.2px;color:rgb(35,31,31);
}
#P69_25
{
left:16353.4px;bottom:41504.6px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P69_26
{
left:16501.2px;bottom:41475.1px;color:rgb(35,31,31);
}
#P69_27
{
left:17087.6px;bottom:41504.6px;color:rgb(35,31,31);
}
#P69_28
{
left:0px;letter-spacing:0px;margin-left:-118.3px;
}
#P69_29
{
left:0px;letter-spacing:0px;margin-left:-147.8px;
}
#P69_30
{
left:17857.6px;bottom:41944.3px;color:rgb(35,31,31);
}
#P69_31
{
left:18212.4px;bottom:41522.2px;color:rgb(35,31,31);
}
#P69_32
{
left:17659px;bottom:41488.6px;color:rgb(35,31,31);
}
#P69_33
{
left:18410.9px;bottom:41505.9px;color:rgb(35,31,31);
}
#P69_34
{
left:17680.2px;bottom:41036.7px;color:rgb(35,31,31);
}
#P69_35
{
left:18389.8px;bottom:41522.2px;color:rgb(35,31,31);
}
#P69_36
{
left:18453.1px;bottom:41504.6px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P69_37
{
left:13885.6px;bottom:39456.7px;letter-spacing:-13px;color:rgb(35,31,31);
}
#P69_38
{
left:0px;letter-spacing:-0.7px;margin-left:13px;
}
#P69_39
{
left:0px;letter-spacing:-1.6px;margin-left:0.7px;
}
#P69_40
{
left:15196.3px;bottom:37792.4px;letter-spacing:0.1px;word-spacing:993.6px;color:rgb(35,31,31);
}
#P69_41
{
left:15619.4px;bottom:38232.3px;color:rgb(35,31,31);
}
#P69_42
{
left:15955.2px;bottom:37810.2px;color:rgb(35,31,31);
}
#P69_43
{
left:15598.2px;bottom:37776.6px;color:rgb(35,31,31);
}
#P69_44
{
left:15976.3px;bottom:37793.9px;color:rgb(35,31,31);
}
#P69_45
{
left:15619.4px;bottom:37324.7px;color:rgb(35,31,31);
}
#P69_46
{
left:15955.2px;bottom:37810.2px;color:rgb(35,31,31);
}
#P69_47
{
left:15976.3px;bottom:37792.6px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P69_48
{
left:16134.7px;bottom:37763.1px;color:rgb(35,31,31);
}
#P69_49
{
left:16721.1px;bottom:37792.6px;color:rgb(35,31,31);
}
#P69_50
{
left:0px;letter-spacing:0px;margin-left:-128.8px;
}
#P69_51
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P69_52
{
left:17471px;bottom:38232.3px;color:rgb(35,31,31);
}
#P69_53
{
left:17806.8px;bottom:37810.2px;color:rgb(35,31,31);
}
#P69_54
{
left:17281.9px;bottom:37776.6px;color:rgb(35,31,31);
}
#P69_55
{
left:17995.8px;bottom:37793.9px;color:rgb(35,31,31);
}
#P69_56
{
left:17303.1px;bottom:37324.7px;color:rgb(35,31,31);
}
#P69_57
{
left:17974.7px;bottom:37810.2px;color:rgb(35,31,31);
}
#P69_58
{
left:17995.8px;bottom:37792.6px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P69_59
{
left:18154.2px;bottom:37763.1px;color:rgb(35,31,31);
}
#P69_60
{
left:18916.6px;bottom:37792.6px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P69_61
{
left:18937.8px;bottom:38232.3px;color:rgb(35,31,31);
}
#P69_62
{
left:19609.4px;bottom:37810.2px;color:rgb(35,31,31);
}
#P69_63
{
left:18916.6px;bottom:37776.6px;color:rgb(35,31,31);
}
#P69_64
{
left:19630.5px;bottom:37793.9px;color:rgb(35,31,31);
}
#P69_65
{
left:19105.7px;bottom:37324.7px;color:rgb(35,31,31);
}
#P69_66
{
left:19441.5px;bottom:37810.2px;color:rgb(35,31,31);
}
#P69_67
{
left:19630.5px;bottom:37792.6px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P69_68
{
left:19788.9px;bottom:37763.1px;color:rgb(35,31,31);
}
#P69_69
{
left:20375.3px;bottom:37792.6px;color:rgb(35,31,31);
}
#P69_70
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P69_71
{
left:20554.8px;bottom:38232.3px;color:rgb(35,31,31);
}
#P69_72
{
left:21226.5px;bottom:37810.2px;color:rgb(35,31,31);
}
#P69_73
{
left:20533.7px;bottom:37776.6px;color:rgb(35,31,31);
}
#P69_74
{
left:21247.6px;bottom:37793.9px;color:rgb(35,31,31);
}
#P69_75
{
left:20554.8px;bottom:37324.7px;color:rgb(35,31,31);
}
#P69_76
{
left:21226.5px;bottom:37810.2px;color:rgb(35,31,31);
}
#P69_77
{
left:21247.6px;bottom:37792.6px;color:rgb(35,31,31);
}
#P69_78
{
left:13885.1px;bottom:35744.7px;letter-spacing:-2.6px;color:rgb(35,31,31);
}
#P69_79
{
left:17157.3px;bottom:35744.7px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P69_80
{
left:0px;letter-spacing:0px;margin-left:-352px;
}
#P69_81
{
left:0px;letter-spacing:0px;margin-left:-28.2px;
}
#P69_82
{
left:0px;letter-spacing:-0.1px;
}
#P69_83
{
left:17509.3px;bottom:34848.5px;color:rgb(35,31,31);
}
#P69_84
{
left:0px;letter-spacing:0px;margin-left:-42.2px;
}
#P69_85
{
left:13885.1px;bottom:33184.2px;letter-spacing:993.6px;color:rgb(35,31,31);
}
#P69_86
{
left:0px;letter-spacing:0px;margin-left:-1151.7px;
}
#P69_87
{
left:15058.5px;bottom:33624.3px;color:rgb(35,31,31);
}
#P69_88
{
left:15730.1px;bottom:33202.2px;color:rgb(35,31,31);
}
#P69_89
{
left:15037.4px;bottom:33168.6px;color:rgb(35,31,31);
}
#P69_90
{
left:15751.3px;bottom:33185.9px;color:rgb(35,31,31);
}
#P69_91
{
left:15226.4px;bottom:32716.7px;color:rgb(35,31,31);
}
#P69_92
{
left:15562.2px;bottom:33202.2px;color:rgb(35,31,31);
}
#P69_93
{
left:15751.3px;bottom:33184.6px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P69_94
{
left:15909.7px;bottom:33155.1px;color:rgb(35,31,31);
}
#P69_95
{
left:16496.1px;bottom:33184.6px;color:rgb(35,31,31);
}
#P69_96
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P69_97
{
left:16675.6px;bottom:33624.3px;color:rgb(35,31,31);
}
#P69_98
{
left:17347.2px;bottom:33202.2px;color:rgb(35,31,31);
}
#P69_99
{
left:16654.5px;bottom:33168.6px;color:rgb(35,31,31);
}
#P69_100
{
left:17368.3px;bottom:33185.9px;color:rgb(35,31,31);
}
#P69_101
{
left:16675.6px;bottom:32716.7px;color:rgb(35,31,31);
}
#P69_102
{
left:17347.2px;bottom:33202.2px;color:rgb(35,31,31);
}
#P69_103
{
left:17368.3px;bottom:33184.6px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P69_104
{
left:17526.7px;bottom:33155.1px;color:rgb(35,31,31);
}
#P69_105
{
left:18113.2px;bottom:33184.6px;color:rgb(35,31,31);
}
#P69_106
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P69_107
{
left:18292.6px;bottom:33624.3px;color:rgb(35,31,31);
}
#P69_108
{
left:19059.3px;bottom:33229.6px;color:rgb(35,31,31);
}
#P69_109
{
left:19375.9px;bottom:33624.3px;color:rgb(35,31,31);
}
#P69_110
{
left:20190px;bottom:33202.2px;color:rgb(35,31,31);
}
#P69_111
{
left:18271.5px;bottom:33168.6px;color:rgb(35,31,31);
}
#P69_112
{
left:20211.2px;bottom:33185.9px;color:rgb(35,31,31);
}
#P69_113
{
left:18460.6px;bottom:32716.7px;color:rgb(35,31,31);
}
#P69_114
{
left:18891.4px;bottom:32322px;color:rgb(35,31,31);
}
#P69_115
{
left:19208px;bottom:32716.7px;color:rgb(35,31,31);
}
#P69_116
{
left:20022.2px;bottom:33202.2px;color:rgb(35,31,31);
}
#P69_117
{
left:20211.2px;bottom:33184.6px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P69_118
{
left:20369.6px;bottom:33155.1px;color:rgb(35,31,31);
}
#P69_119
{
left:20956px;bottom:33184.6px;color:rgb(35,31,31);
}
#P69_120
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P69_121
{
left:21135.5px;bottom:33624.3px;color:rgb(35,31,31);
}
#P69_122
{
left:21902.2px;bottom:33229.6px;color:rgb(35,31,31);
}
#P69_123
{
left:22218.8px;bottom:33624.3px;color:rgb(35,31,31);
}
#P69_124
{
left:22697.1px;bottom:33202.2px;color:rgb(35,31,31);
}
#P69_125
{
left:21114.4px;bottom:33168.6px;color:rgb(35,31,31);
}
#P69_126
{
left:22718.2px;bottom:33185.9px;color:rgb(35,31,31);
}
#P69_127
{
left:21135.5px;bottom:32716.7px;color:rgb(35,31,31);
}
#P69_128
{
left:21902.2px;bottom:32322px;color:rgb(35,31,31);
}
#P69_129
{
left:22218.8px;bottom:32716.7px;color:rgb(35,31,31);
}
#P69_130
{
left:22697.1px;bottom:33202.2px;color:rgb(35,31,31);
}
#P69_131
{
left:22718.2px;bottom:33184.6px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P69_132
{
left:24637.4px;bottom:33512.6px;color:rgb(0,124,196);
}
#P69_133
{
left:24637.4px;bottom:32616.8px;color:rgb(0,124,196);
}
#P69_134
{
left:29164.6px;bottom:32187.8px;color:rgb(0,124,196);
}
#P69_135
{
left:29500.4px;bottom:32616.6px;color:rgb(0,124,196);
}
#P69_136
{
left:30468.1px;bottom:32588.4px;color:rgb(0,124,196);
}
#P69_137
{
left:31027.9px;bottom:32616.6px;color:rgb(0,124,196);
}
#P69_138
{
left:13885.4px;bottom:31136.6px;color:rgb(35,31,31);
}
#P69_139
{
left:17549.7px;bottom:31107.1px;color:rgb(35,31,31);
}
#P69_140
{
left:18136.2px;bottom:31136.6px;color:rgb(35,31,31);
}
#P69_141
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P69_142
{
left:18315.4px;bottom:31576.3px;color:rgb(35,31,31);
}
#P69_143
{
left:19322.8px;bottom:31154.2px;color:rgb(35,31,31);
}
#P69_144
{
left:18294.2px;bottom:31120.6px;color:rgb(35,31,31);
}
#P69_145
{
left:19343.9px;bottom:31137.9px;color:rgb(35,31,31);
}
#P69_146
{
left:18483.2px;bottom:30668.7px;color:rgb(35,31,31);
}
#P69_147
{
left:19154.8px;bottom:31154.2px;color:rgb(35,31,31);
}
#P69_148
{
left:19343.9px;bottom:31136.6px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P69_149
{
left:19502.3px;bottom:31107.1px;color:rgb(35,31,31);
}
#P69_150
{
left:20088.7px;bottom:31136.6px;color:rgb(35,31,31);
}
#P69_151
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P69_152
{
left:20268.2px;bottom:31576.3px;color:rgb(35,31,31);
}
#P69_153
{
left:20939.8px;bottom:31154.2px;color:rgb(35,31,31);
}
#P69_154
{
left:20247.1px;bottom:31120.6px;color:rgb(35,31,31);
}
#P69_155
{
left:20960.9px;bottom:31137.9px;color:rgb(35,31,31);
}
#P69_156
{
left:20268.2px;bottom:30668.7px;color:rgb(35,31,31);
}
#P69_157
{
left:20939.8px;bottom:31154.2px;color:rgb(35,31,31);
}
#P69_158
{
left:20960.9px;bottom:31136.6px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P69_159
{
left:24637.4px;bottom:31144.6px;color:rgb(0,124,196);
}
#P69_160
{
left:0px;letter-spacing:0px;margin-left:-49.7px;
}
#P69_161
{
left:13885.4px;bottom:29152.6px;color:rgb(35,31,31);
}
#P69_162
{
left:17549.7px;bottom:29123.1px;color:rgb(35,31,31);
}
#P69_163
{
left:18136.2px;bottom:29152.6px;color:rgb(35,31,31);
}
#P69_164
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P69_165
{
left:18315.4px;bottom:29592.3px;color:rgb(35,31,31);
}
#P69_166
{
left:18987px;bottom:29170.2px;color:rgb(35,31,31);
}
#P69_167
{
left:18294.2px;bottom:29136.6px;color:rgb(35,31,31);
}
#P69_168
{
left:19008.1px;bottom:29153.9px;color:rgb(35,31,31);
}
#P69_169
{
left:18315.4px;bottom:28684.7px;color:rgb(35,31,31);
}
#P69_170
{
left:18987px;bottom:29170.2px;color:rgb(35,31,31);
}
#P69_171
{
left:19008.1px;bottom:29152.6px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P69_172
{
left:24637.4px;bottom:29160.6px;letter-spacing:-1.1px;color:rgb(0,124,196);
}
#P69_173
{
left:13885.4px;bottom:27104.6px;color:rgb(35,31,31);
}
#P69_174
{
left:17549.7px;bottom:27075.1px;color:rgb(35,31,31);
}
#P69_175
{
left:18136.2px;bottom:27104.6px;color:rgb(35,31,31);
}
#P69_176
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P69_177
{
left:18315.4px;bottom:27544.3px;color:rgb(35,31,31);
}
#P69_178
{
left:18987px;bottom:27122.2px;color:rgb(35,31,31);
}
#P69_179
{
left:18294.2px;bottom:27088.6px;color:rgb(35,31,31);
}
#P69_180
{
left:19008.1px;bottom:27105.9px;color:rgb(35,31,31);
}
#P69_181
{
left:18315.4px;bottom:26636.7px;color:rgb(35,31,31);
}
#P69_182
{
left:18987px;bottom:27122.2px;color:rgb(35,31,31);
}
#P69_183
{
left:19008.1px;bottom:27104.6px;color:rgb(35,31,31);
}
#P69_184
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P69_185
{
left:0px;letter-spacing:0px;margin-left:-128.8px;
}
#P69_186
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P69_187
{
left:20782.9px;bottom:27544.3px;color:rgb(35,31,31);
}
#P69_188
{
left:21118.7px;bottom:27122.2px;color:rgb(35,31,31);
}
#P69_189
{
left:20593.9px;bottom:27088.6px;color:rgb(35,31,31);
}
#P69_190
{
left:21307.8px;bottom:27105.9px;color:rgb(35,31,31);
}
#P69_191
{
left:20615.1px;bottom:26636.7px;color:rgb(35,31,31);
}
#P69_192
{
left:21286.7px;bottom:27122.2px;color:rgb(35,31,31);
}
#P69_193
{
left:21307.8px;bottom:27104.6px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P69_194
{
left:24637.4px;bottom:27112.6px;color:rgb(0,124,196);
}
#P69_195
{
left:0px;letter-spacing:0px;margin-left:-49.7px;
}
#P69_196
{
left:13885.4px;bottom:25184.6px;letter-spacing:-2.6px;color:rgb(35,31,31);
}
#P69_197
{
left:17157.6px;bottom:25184.6px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P69_198
{
left:0px;letter-spacing:0px;margin-left:-352px;
}
#P69_199
{
left:0px;letter-spacing:0px;margin-left:-28.2px;
}
#P69_200
{
left:0px;letter-spacing:-2.1px;
}
#P69_201
{
left:0px;letter-spacing:0px;margin-left:-40.1px;
}
#P69_202
{
left:0px;letter-spacing:0px;margin-left:-25.3px;
}
#P69_203
{
left:0px;letter-spacing:-0.6px;
}
#P69_204
{
left:13885.4px;bottom:23520.4px;letter-spacing:993.6px;color:rgb(35,31,31);
}
#P69_205
{
left:0px;letter-spacing:0px;margin-left:-1151.7px;
}
#P69_206
{
left:15058.5px;bottom:23960.3px;color:rgb(35,31,31);
}
#P69_207
{
left:15730.1px;bottom:23538.2px;color:rgb(35,31,31);
}
#P69_208
{
left:15037.4px;bottom:23504.6px;color:rgb(35,31,31);
}
#P69_209
{
left:15751.3px;bottom:23521.9px;color:rgb(35,31,31);
}
#P69_210
{
left:15226.4px;bottom:23052.7px;color:rgb(35,31,31);
}
#P69_211
{
left:15562.2px;bottom:23538.2px;color:rgb(35,31,31);
}
#P69_212
{
left:15751.3px;bottom:23520.6px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P69_213
{
left:15909.7px;bottom:23491.1px;color:rgb(35,31,31);
}
#P69_214
{
left:16496.1px;bottom:23520.6px;color:rgb(35,31,31);
}
#P69_215
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P69_216
{
left:16675.6px;bottom:23960.3px;color:rgb(35,31,31);
}
#P69_217
{
left:17347.2px;bottom:23538.2px;color:rgb(35,31,31);
}
#P69_218
{
left:16654.5px;bottom:23504.6px;color:rgb(35,31,31);
}
#P69_219
{
left:17368.3px;bottom:23521.9px;color:rgb(35,31,31);
}
#P69_220
{
left:16675.6px;bottom:23052.7px;color:rgb(35,31,31);
}
#P69_221
{
left:17347.2px;bottom:23538.2px;color:rgb(35,31,31);
}
#P69_222
{
left:17368.3px;bottom:23520.6px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P69_223
{
left:17526.7px;bottom:23491.1px;color:rgb(35,31,31);
}
#P69_224
{
left:18113.2px;bottom:23520.6px;color:rgb(35,31,31);
}
#P69_225
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P69_226
{
left:18292.6px;bottom:23960.3px;color:rgb(35,31,31);
}
#P69_227
{
left:19059.3px;bottom:23565.6px;color:rgb(35,31,31);
}
#P69_228
{
left:19375.9px;bottom:23960.3px;color:rgb(35,31,31);
}
#P69_229
{
left:19854.2px;bottom:23538.2px;color:rgb(35,31,31);
}
#P69_230
{
left:18271.5px;bottom:23504.6px;color:rgb(35,31,31);
}
#P69_231
{
left:19875.4px;bottom:23521.9px;color:rgb(35,31,31);
}
#P69_232
{
left:18460.6px;bottom:23052.7px;color:rgb(35,31,31);
}
#P69_233
{
left:18891.4px;bottom:22658px;color:rgb(35,31,31);
}
#P69_234
{
left:19208px;bottom:23052.7px;color:rgb(35,31,31);
}
#P69_235
{
left:19686.4px;bottom:23538.2px;color:rgb(35,31,31);
}
#P69_236
{
left:19875.4px;bottom:23520.6px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P69_237
{
left:20033.8px;bottom:23491.1px;color:rgb(35,31,31);
}
#P69_238
{
left:20620.2px;bottom:23520.6px;color:rgb(35,31,31);
}
#P69_239
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P69_240
{
left:20799.7px;bottom:23960.3px;color:rgb(35,31,31);
}
#P69_241
{
left:21566.4px;bottom:23565.6px;color:rgb(35,31,31);
}
#P69_242
{
left:21883px;bottom:23960.3px;color:rgb(35,31,31);
}
#P69_243
{
left:22361.3px;bottom:23538.2px;color:rgb(35,31,31);
}
#P69_244
{
left:20778.6px;bottom:23504.6px;color:rgb(35,31,31);
}
#P69_245
{
left:22382.4px;bottom:23521.9px;color:rgb(35,31,31);
}
#P69_246
{
left:20799.7px;bottom:23052.7px;color:rgb(35,31,31);
}
#P69_247
{
left:21566.4px;bottom:22658px;color:rgb(35,31,31);
}
#P69_248
{
left:21883px;bottom:23052.7px;color:rgb(35,31,31);
}
#P69_249
{
left:22361.3px;bottom:23538.2px;color:rgb(35,31,31);
}
#P69_250
{
left:22382.4px;bottom:23520.6px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P69_251
{
left:24637.4px;bottom:23888.2px;color:rgb(0,124,196);
}
#P69_252
{
left:24637.4px;bottom:22992.4px;color:rgb(0,124,196);
}
#P69_253
{
left:0px;letter-spacing:0px;margin-left:-37px;
}
#P69_254
{
left:0px;letter-spacing:0px;margin-left:-24.9px;
}
#P69_255
{
left:13885.4px;bottom:21472.6px;color:rgb(35,31,31);
}
#P69_256
{
left:17533.5px;bottom:21443.1px;color:rgb(35,31,31);
}
#P69_257
{
left:18120px;bottom:21472.6px;color:rgb(35,31,31);
}
#P69_258
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P69_259
{
left:18299.4px;bottom:21912.3px;color:rgb(35,31,31);
}
#P69_260
{
left:18971px;bottom:21490.2px;color:rgb(35,31,31);
}
#P69_261
{
left:18278.2px;bottom:21456.6px;color:rgb(35,31,31);
}
#P69_262
{
left:18992.1px;bottom:21473.9px;color:rgb(35,31,31);
}
#P69_263
{
left:18299.4px;bottom:21004.7px;color:rgb(35,31,31);
}
#P69_264
{
left:18971px;bottom:21490.2px;color:rgb(35,31,31);
}
#P69_265
{
left:18992.1px;bottom:21472.6px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P69_266
{
left:19150.5px;bottom:21443.1px;color:rgb(35,31,31);
}
#P69_267
{
left:19736.9px;bottom:21472.6px;color:rgb(35,31,31);
}
#P69_268
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P69_269
{
left:19916.4px;bottom:21912.3px;color:rgb(35,31,31);
}
#P69_270
{
left:20588px;bottom:21490.2px;color:rgb(35,31,31);
}
#P69_271
{
left:19895.3px;bottom:21456.6px;color:rgb(35,31,31);
}
#P69_272
{
left:20609.1px;bottom:21473.9px;color:rgb(35,31,31);
}
#P69_273
{
left:19916.4px;bottom:21004.7px;color:rgb(35,31,31);
}
#P69_274
{
left:20588px;bottom:21490.2px;color:rgb(35,31,31);
}
#P69_275
{
left:20609.1px;bottom:21472.6px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P69_276
{
left:24637.4px;bottom:21480.6px;color:rgb(0,124,196);
}
#P69_277
{
left:0px;letter-spacing:0px;margin-left:-49.7px;
}
#P69_278
{
left:13885.4px;bottom:19616.6px;color:rgb(35,31,31);
}
#P69_279
{
left:17533.5px;bottom:19587.1px;color:rgb(35,31,31);
}
#P69_280
{
left:18120px;bottom:19616.6px;color:rgb(35,31,31);
}
#P69_281
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P69_282
{
left:18299.4px;bottom:20056.3px;color:rgb(35,31,31);
}
#P69_283
{
left:18971px;bottom:19634.2px;color:rgb(35,31,31);
}
#P69_284
{
left:18278.2px;bottom:19600.6px;color:rgb(35,31,31);
}
#P69_285
{
left:18992.1px;bottom:19617.9px;color:rgb(35,31,31);
}
#P69_286
{
left:18299.4px;bottom:19148.7px;color:rgb(35,31,31);
}
#P69_287
{
left:18971px;bottom:19634.2px;color:rgb(35,31,31);
}
#P69_288
{
left:18992.1px;bottom:19616.6px;color:rgb(35,31,31);
}
#P69_289
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P69_290
{
left:0px;letter-spacing:0px;margin-left:-128.8px;
}
#P69_291
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P69_292
{
left:20766.9px;bottom:20056.3px;color:rgb(35,31,31);
}
#P69_293
{
left:21102.7px;bottom:19634.2px;color:rgb(35,31,31);
}
#P69_294
{
left:20577.9px;bottom:19600.6px;color:rgb(35,31,31);
}
#P69_295
{
left:21291.8px;bottom:19617.9px;color:rgb(35,31,31);
}
#P69_296
{
left:20599.1px;bottom:19148.7px;color:rgb(35,31,31);
}
#P69_297
{
left:21270.7px;bottom:19634.2px;color:rgb(35,31,31);
}
#P69_298
{
left:21291.8px;bottom:19616.6px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P69_299
{
left:24637.4px;bottom:19624.6px;color:rgb(0,124,196);
}
#P69_300
{
left:0px;letter-spacing:0px;margin-left:-49.7px;
}
#P69_301
{
left:4917.34px;bottom:35015.5px;color:white;
}
#P69_302
{
left:8272.86px;bottom:35257.1px;color:white;
}
#P69_303
{
left:8608.73px;bottom:35015.5px;color:white;
}
#P69_304
{
left:5152.03px;bottom:33912.5px;color:rgb(35,31,31);
}
#P69_305
{
left:5152.03px;bottom:33144.5px;color:rgb(35,31,31);
}
#P69_306
{
left:5152.03px;bottom:32376.5px;letter-spacing:-2.9px;color:rgb(35,31,31);
}
#P69_307
{
left:0px;letter-spacing:0px;margin-left:2.9px;
}
#P69_308
{
left:5152.03px;bottom:31608.5px;color:rgb(35,31,31);
}
#P69_309
{
left:0px;letter-spacing:0px;margin-left:-58.9px;
}
#P69_310
{
left:5152.03px;bottom:30840.5px;color:rgb(35,31,31);
}
#P69_311
{
left:5152.03px;bottom:30072.5px;letter-spacing:-2.9px;color:rgb(35,31,31);
}
#P69_312
{
left:0px;letter-spacing:0px;margin-left:2.9px;
}
#P69_313
{
left:5152.03px;bottom:29304.5px;color:rgb(35,31,31);
}
#P69_314
{
left:5152.03px;bottom:28024.5px;letter-spacing:-177.9px;color:rgb(35,31,31);
}
#P69_315
{
left:5187.35px;bottom:28423.9px;color:rgb(35,31,31);
}
#P69_316
{
left:5475.35px;bottom:28038.3px;color:rgb(35,31,31);
}
#P69_317
{
left:5152.03px;bottom:27990.1px;color:rgb(35,31,31);
}
#P69_318
{
left:5510.68px;bottom:28003.9px;color:rgb(35,31,31);
}
#P69_319
{
left:5171.23px;bottom:27598.9px;color:rgb(35,31,31);
}
#P69_320
{
left:5491.48px;bottom:28038.3px;color:rgb(35,31,31);
}
#P69_321
{
left:5510.68px;bottom:28024.5px;color:rgb(35,31,31);
}
#P69_322
{
left:5510.68px;bottom:28020.7px;color:rgb(35,31,31);
}
#P69_323
{
left:5688.6px;bottom:27975.9px;color:rgb(35,31,31);
}
#P69_324
{
left:6381.72px;bottom:28024.5px;letter-spacing:-177.9px;color:rgb(35,31,31);
}
#P69_325
{
left:6433.18px;bottom:28468.7px;color:rgb(35,31,31);
}
#P69_326
{
left:6688.92px;bottom:28038.3px;color:rgb(35,31,31);
}
#P69_327
{
left:6381.72px;bottom:28034.9px;color:rgb(35,31,31);
}
#P69_328
{
left:6740.38px;bottom:28003.9px;color:rgb(35,31,31);
}
#P69_329
{
left:6400.92px;bottom:27643.7px;color:rgb(35,31,31);
}
#P69_330
{
left:6721.18px;bottom:28038.3px;color:rgb(35,31,31);
}
#P69_331
{
left:6740.38px;bottom:28024.5px;letter-spacing:-177.9px;color:rgb(35,31,31);
}
#P69_332
{
left:6918.3px;bottom:27975.9px;color:rgb(35,31,31);
}
#P69_333
{
left:7451.42px;bottom:28020.7px;color:rgb(35,31,31);
}
#P69_334
{
left:7629.34px;bottom:28024.5px;letter-spacing:-177.9px;color:rgb(35,31,31);
}
#P69_335
{
left:7648.54px;bottom:28423.9px;color:rgb(35,31,31);
}
#P69_336
{
left:8256.79px;bottom:28420.5px;color:rgb(35,31,31);
}
#P69_337
{
left:8416.92px;bottom:28380.1px;color:rgb(35,31,31);
}
#P69_338
{
left:8896.73px;bottom:28420.5px;color:rgb(35,31,31);
}
#P69_339
{
left:9056.86px;bottom:28423.9px;color:rgb(35,31,31);
}
#P69_340
{
left:9632.79px;bottom:28038.3px;color:rgb(35,31,31);
}
#P69_341
{
left:7629.34px;bottom:27990.1px;color:rgb(35,31,31);
}
#P69_342
{
left:9651.99px;bottom:28003.9px;color:rgb(35,31,31);
}
#P69_343
{
left:8320.41px;bottom:27598.9px;color:rgb(35,31,31);
}
#P69_344
{
left:8960.92px;bottom:28038.3px;color:rgb(35,31,31);
}
#P69_345
{
left:9651.99px;bottom:28024.5px;letter-spacing:-177.9px;color:rgb(35,31,31);
}
#P69_346
{
left:5149.4px;bottom:16804.8px;letter-spacing:-10.6px;color:rgb(35,31,31);
}
#P69_347
{
left:0px;letter-spacing:-1.9px;margin-left:10.6px;
}
#P69_348
{
left:0px;letter-spacing:0.1px;margin-left:1.9px;
}
#P69_349
{
left:0px;letter-spacing:0px;margin-left:-42.4px;
}
#P69_350
{
left:5149.4px;bottom:15460.9px;color:rgb(35,31,31);
}
#P69_351
{
left:5718.23px;bottom:15480.6px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P69_352
{
left:6945.31px;bottom:15480.6px;color:rgb(35,31,31);
}
#P69_353
{
left:6966.23px;bottom:15902.6px;color:rgb(35,31,31);
}
#P69_354
{
left:7302.04px;bottom:15478.4px;color:rgb(35,31,31);
}
#P69_355
{
left:6945.11px;bottom:15446.9px;color:rgb(35,31,31);
}
#P69_356
{
left:7323.16px;bottom:15462.1px;color:rgb(35,31,31);
}
#P69_357
{
left:6966.23px;bottom:14995.1px;color:rgb(35,31,31);
}
#P69_358
{
left:7302.04px;bottom:15478.4px;color:rgb(35,31,31);
}
#P69_359
{
left:7323.16px;bottom:15460.8px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P69_360
{
left:7689.24px;bottom:15900.5px;color:rgb(35,31,31);
}
#P69_361
{
left:8025.05px;bottom:15478.4px;color:rgb(35,31,31);
}
#P69_362
{
left:7668.12px;bottom:15444.8px;color:rgb(35,31,31);
}
#P69_363
{
left:8046.17px;bottom:15462.1px;color:rgb(35,31,31);
}
#P69_364
{
left:7689.24px;bottom:14993px;color:rgb(35,31,31);
}
#P69_365
{
left:8025.05px;bottom:15478.4px;color:rgb(35,31,31);
}
#P69_366
{
left:8046.17px;bottom:15460.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P69_367
{
left:13013.6px;bottom:15480.6px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P69_368
{
left:14045px;bottom:15480.6px;color:rgb(35,31,31);
}
#P69_369
{
left:14066.5px;bottom:15902.6px;color:rgb(35,31,31);
}
#P69_370
{
left:14402.3px;bottom:15478.4px;color:rgb(35,31,31);
}
#P69_371
{
left:14045.4px;bottom:15446.9px;color:rgb(35,31,31);
}
#P69_372
{
left:14423.4px;bottom:15462.1px;color:rgb(35,31,31);
}
#P69_373
{
left:14066.5px;bottom:14995.1px;color:rgb(35,31,31);
}
#P69_374
{
left:14402.3px;bottom:15478.4px;color:rgb(35,31,31);
}
#P69_375
{
left:14423.4px;bottom:15460.8px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P69_376
{
left:14957.4px;bottom:15900.5px;color:rgb(35,31,31);
}
#P69_377
{
left:15293.2px;bottom:15478.4px;color:rgb(35,31,31);
}
#P69_378
{
left:14768.4px;bottom:15444.8px;color:rgb(35,31,31);
}
#P69_379
{
left:15482.3px;bottom:15462.1px;color:rgb(35,31,31);
}
#P69_380
{
left:14789.5px;bottom:14993px;color:rgb(35,31,31);
}
#P69_381
{
left:15461.1px;bottom:15478.4px;color:rgb(35,31,31);
}
#P69_382
{
left:15482.3px;bottom:15460.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P69_383
{
left:20437.7px;bottom:15480.6px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P69_384
{
left:21469.1px;bottom:15480.6px;color:rgb(35,31,31);
}
#P69_385
{
left:21658.4px;bottom:15902.6px;color:rgb(35,31,31);
}
#P69_386
{
left:21994.2px;bottom:15478.4px;color:rgb(35,31,31);
}
#P69_387
{
left:21469.4px;bottom:15446.9px;color:rgb(35,31,31);
}
#P69_388
{
left:22183.3px;bottom:15462.1px;color:rgb(35,31,31);
}
#P69_389
{
left:21490.5px;bottom:14995.1px;color:rgb(35,31,31);
}
#P69_390
{
left:22162.1px;bottom:15478.4px;color:rgb(35,31,31);
}
#P69_391
{
left:22183.3px;bottom:15460.8px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P69_392
{
left:22549.3px;bottom:15900.5px;color:rgb(35,31,31);
}
#P69_393
{
left:22885.1px;bottom:15478.4px;color:rgb(35,31,31);
}
#P69_394
{
left:22528.2px;bottom:15444.8px;color:rgb(35,31,31);
}
#P69_395
{
left:22906.3px;bottom:15462.1px;color:rgb(35,31,31);
}
#P69_396
{
left:22549.3px;bottom:14993px;color:rgb(35,31,31);
}
#P69_397
{
left:22885.1px;bottom:15478.4px;color:rgb(35,31,31);
}
#P69_398
{
left:22906.3px;bottom:15460.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P69_399
{
left:27797.7px;bottom:15480.6px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P69_400
{
left:28829px;bottom:15480.6px;color:rgb(35,31,31);
}
#P69_401
{
left:28850.5px;bottom:15902.6px;color:rgb(35,31,31);
}
#P69_402
{
left:29186.3px;bottom:15478.4px;color:rgb(35,31,31);
}
#P69_403
{
left:28829.4px;bottom:15446.9px;color:rgb(35,31,31);
}
#P69_404
{
left:29207.4px;bottom:15462.1px;color:rgb(35,31,31);
}
#P69_405
{
left:28850.5px;bottom:14995.1px;color:rgb(35,31,31);
}
#P69_406
{
left:29186.3px;bottom:15478.4px;color:rgb(35,31,31);
}
#P69_407
{
left:29207.4px;bottom:15460.8px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P69_408
{
left:29573.5px;bottom:15900.5px;color:rgb(35,31,31);
}
#P69_409
{
left:29909.3px;bottom:15478.4px;color:rgb(35,31,31);
}
#P69_410
{
left:29552.4px;bottom:15444.8px;color:rgb(35,31,31);
}
#P69_411
{
left:29930.5px;bottom:15462.1px;color:rgb(35,31,31);
}
#P69_412
{
left:29573.5px;bottom:14993px;color:rgb(35,31,31);
}
#P69_413
{
left:29909.3px;bottom:15478.4px;color:rgb(35,31,31);
}
#P69_414
{
left:29930.5px;bottom:15460.8px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P69_415
{
left:30464.4px;bottom:15900.5px;color:rgb(35,31,31);
}
#P69_416
{
left:30800.2px;bottom:15478.4px;color:rgb(35,31,31);
}
#P69_417
{
left:30275.4px;bottom:15444.8px;color:rgb(35,31,31);
}
#P69_418
{
left:30989.3px;bottom:15462.1px;color:rgb(35,31,31);
}
#P69_419
{
left:30296.5px;bottom:14993px;color:rgb(35,31,31);
}
#P69_420
{
left:30968.2px;bottom:15478.4px;color:rgb(35,31,31);
}
#P69_421
{
left:30989.3px;bottom:15460.8px;color:rgb(35,31,31);
}
#P69_422
{
left:5149.66px;bottom:13348.8px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P69_423
{
left:0px;letter-spacing:0px;margin-left:0.7px;
}
#P69_424
{
left:18242.6px;bottom:13412.9px;color:rgb(35,31,31);
}
#P69_425
{
left:18665px;bottom:13348.8px;letter-spacing:-28px;color:rgb(35,31,31);
}
#P69_426
{
left:18981.8px;bottom:13412.9px;color:rgb(35,31,31);
}
#P69_427
{
left:19404.2px;bottom:13348.8px;letter-spacing:-14.1px;color:rgb(35,31,31);
}
#P69_428
{
left:0px;letter-spacing:0px;margin-left:14.1px;
}
#P69_429
{
left:20590.5px;bottom:13319.3px;color:rgb(35,31,31);
}
#P69_430
{
left:21176.9px;bottom:13348.8px;color:rgb(35,31,31);
}
#P69_431
{
left:5149.66px;bottom:12004.9px;color:rgb(35,31,31);
}
#P69_432
{
left:5718.49px;bottom:12024.6px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P69_433
{
left:6749.85px;bottom:12024.6px;color:rgb(35,31,31);
}
#P69_434
{
left:6770.52px;bottom:12446.6px;color:rgb(35,31,31);
}
#P69_435
{
left:7106.33px;bottom:12022.4px;color:rgb(35,31,31);
}
#P69_436
{
left:6749.4px;bottom:11990.9px;color:rgb(35,31,31);
}
#P69_437
{
left:7127.45px;bottom:12006.1px;color:rgb(35,31,31);
}
#P69_438
{
left:6770.52px;bottom:11539.1px;color:rgb(35,31,31);
}
#P69_439
{
left:7106.33px;bottom:12022.4px;color:rgb(35,31,31);
}
#P69_440
{
left:7127.45px;bottom:12004.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P69_441
{
left:0px;letter-spacing:0px;margin-left:1502.4px;
}
#P69_442
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P69_443
{
left:8809.37px;bottom:12444.5px;color:rgb(35,31,31);
}
#P69_444
{
left:9145.18px;bottom:12022.4px;color:rgb(35,31,31);
}
#P69_445
{
left:8788.25px;bottom:11988.8px;color:rgb(35,31,31);
}
#P69_446
{
left:9166.3px;bottom:12006.1px;color:rgb(35,31,31);
}
#P69_447
{
left:8809.37px;bottom:11537px;color:rgb(35,31,31);
}
#P69_448
{
left:9145.18px;bottom:12022.4px;color:rgb(35,31,31);
}
#P69_449
{
left:9166.3px;bottom:12004.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P69_450
{
left:13013.7px;bottom:12024.6px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P69_451
{
left:14045px;bottom:12024.6px;color:rgb(35,31,31);
}
#P69_452
{
left:14234.4px;bottom:12446.6px;color:rgb(35,31,31);
}
#P69_453
{
left:14570.2px;bottom:12022.4px;color:rgb(35,31,31);
}
#P69_454
{
left:14045.4px;bottom:11990.9px;color:rgb(35,31,31);
}
#P69_455
{
left:14759.3px;bottom:12006.1px;color:rgb(35,31,31);
}
#P69_456
{
left:14066.5px;bottom:11539.1px;color:rgb(35,31,31);
}
#P69_457
{
left:14738.1px;bottom:12022.4px;color:rgb(35,31,31);
}
#P69_458
{
left:14759.3px;bottom:12004.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P69_459
{
left:0px;letter-spacing:0px;margin-left:1502.4px;
}
#P69_460
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P69_461
{
left:16441.2px;bottom:12444.5px;color:rgb(35,31,31);
}
#P69_462
{
left:16777px;bottom:12022.4px;color:rgb(35,31,31);
}
#P69_463
{
left:16420.1px;bottom:11988.8px;color:rgb(35,31,31);
}
#P69_464
{
left:16798.1px;bottom:12006.1px;color:rgb(35,31,31);
}
#P69_465
{
left:16441.2px;bottom:11537px;color:rgb(35,31,31);
}
#P69_466
{
left:16777px;bottom:12022.4px;color:rgb(35,31,31);
}
#P69_467
{
left:16798.1px;bottom:12004.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P69_468
{
left:20437.8px;bottom:12024.6px;color:rgb(35,31,31);
}
#P69_469
{
left:21469.1px;bottom:12004.8px;letter-spacing:-9.9px;word-spacing:-129px;color:rgb(35,31,31);
}
#P69_470
{
left:21893px;bottom:12444.5px;color:rgb(35,31,31);
}
#P69_471
{
left:22228.8px;bottom:12022.4px;color:rgb(35,31,31);
}
#P69_472
{
left:21871.8px;bottom:11988.8px;color:rgb(35,31,31);
}
#P69_473
{
left:22249.9px;bottom:12006.1px;color:rgb(35,31,31);
}
#P69_474
{
left:21893px;bottom:11537px;color:rgb(35,31,31);
}
#P69_475
{
left:22228.8px;bottom:12022.4px;color:rgb(35,31,31);
}
#P69_476
{
left:22249.9px;bottom:12004.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P69_477
{
left:0px;letter-spacing:0px;margin-left:1502.4px;
}
#P69_478
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P69_479
{
left:23931.8px;bottom:12444.5px;color:rgb(35,31,31);
}
#P69_480
{
left:24603.4px;bottom:12022.4px;color:rgb(35,31,31);
}
#P69_481
{
left:23910.7px;bottom:11988.8px;color:rgb(35,31,31);
}
#P69_482
{
left:24624.5px;bottom:12006.1px;color:rgb(35,31,31);
}
#P69_483
{
left:23931.8px;bottom:11537px;color:rgb(35,31,31);
}
#P69_484
{
left:24603.4px;bottom:12022.4px;color:rgb(35,31,31);
}
#P69_485
{
left:27798.2px;bottom:12024.6px;color:rgb(35,31,31);
}
#P69_486
{
left:28829.5px;bottom:12004.8px;letter-spacing:-9.9px;word-spacing:-129px;color:rgb(35,31,31);
}
#P69_487
{
left:29420.9px;bottom:12444.5px;color:rgb(35,31,31);
}
#P69_488
{
left:29756.7px;bottom:12022.4px;color:rgb(35,31,31);
}
#P69_489
{
left:29231.8px;bottom:11988.8px;color:rgb(35,31,31);
}
#P69_490
{
left:29945.7px;bottom:12006.1px;color:rgb(35,31,31);
}
#P69_491
{
left:29253px;bottom:11537px;color:rgb(35,31,31);
}
#P69_492
{
left:29924.6px;bottom:12022.4px;color:rgb(35,31,31);
}
#P69_493
{
left:29945.7px;bottom:12004.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P69_494
{
left:0px;letter-spacing:0px;margin-left:1502.4px;
}
#P69_495
{
left:0px;letter-spacing:0px;margin-left:-128.8px;
}
#P69_496
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P69_497
{
left:32198px;bottom:12444.5px;color:rgb(35,31,31);
}
#P69_498
{
left:32533.8px;bottom:12022.4px;color:rgb(35,31,31);
}
#P69_499
{
left:32008.9px;bottom:11988.8px;color:rgb(35,31,31);
}
#P69_500
{
left:32722.8px;bottom:12006.1px;color:rgb(35,31,31);
}
#P69_501
{
left:32030px;bottom:11537px;color:rgb(35,31,31);
}
#P69_502
{
left:32701.7px;bottom:12022.4px;color:rgb(35,31,31);
}
#P69_503
{
left:32722.8px;bottom:12004.8px;color:rgb(35,31,31);
}
#P69_504
{
left:5149.21px;bottom:9892.84px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P69_505
{
left:0px;letter-spacing:-23.9px;margin-left:-28.3px;
}
#P69_506
{
left:0px;letter-spacing:0px;margin-left:23.9px;
}
#P69_507
{
left:5149.21px;bottom:8548.91px;color:rgb(35,31,31);
}
#P69_508
{
left:5718.04px;bottom:8568.62px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P69_509
{
left:6749.4px;bottom:8568.62px;color:rgb(35,31,31);
}
#P69_510
{
left:6770.52px;bottom:8990.64px;color:rgb(35,31,31);
}
#P69_511
{
left:7106.33px;bottom:8566.44px;color:rgb(35,31,31);
}
#P69_512
{
left:6749.4px;bottom:8534.94px;color:rgb(35,31,31);
}
#P69_513
{
left:7127.45px;bottom:8550.11px;color:rgb(35,31,31);
}
#P69_514
{
left:6770.52px;bottom:8083.12px;color:rgb(35,31,31);
}
#P69_515
{
left:7106.33px;bottom:8566.44px;color:rgb(35,31,31);
}
#P69_516
{
left:7127.45px;bottom:8548.84px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P69_517
{
left:7285.85px;bottom:8519.28px;color:rgb(35,31,31);
}
#P69_518
{
left:7872.28px;bottom:8548.84px;color:rgb(35,31,31);
}
#P69_519
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P69_520
{
left:8051.8px;bottom:8988.52px;color:rgb(35,31,31);
}
#P69_521
{
left:8387.61px;bottom:8566.44px;color:rgb(35,31,31);
}
#P69_522
{
left:8030.68px;bottom:8532.83px;color:rgb(35,31,31);
}
#P69_523
{
left:8408.73px;bottom:8550.11px;color:rgb(35,31,31);
}
#P69_524
{
left:8051.8px;bottom:8081px;color:rgb(35,31,31);
}
#P69_525
{
left:8387.61px;bottom:8566.44px;color:rgb(35,31,31);
}
#P69_526
{
left:8408.73px;bottom:8548.84px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P69_527
{
left:12622.2px;bottom:8568.56px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P69_528
{
left:14045px;bottom:8568.56px;color:rgb(35,31,31);
}
#P69_529
{
left:14066.5px;bottom:8990.64px;color:rgb(35,31,31);
}
#P69_530
{
left:14402.3px;bottom:8566.44px;color:rgb(35,31,31);
}
#P69_531
{
left:14045.4px;bottom:8534.94px;color:rgb(35,31,31);
}
#P69_532
{
left:14423.4px;bottom:8550.11px;color:rgb(35,31,31);
}
#P69_533
{
left:14066.5px;bottom:8083.12px;color:rgb(35,31,31);
}
#P69_534
{
left:14402.3px;bottom:8566.44px;color:rgb(35,31,31);
}
#P69_535
{
left:14423.4px;bottom:8548.84px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P69_536
{
left:14581.8px;bottom:8519.28px;color:rgb(35,31,31);
}
#P69_537
{
left:15168.3px;bottom:8548.84px;color:rgb(35,31,31);
}
#P69_538
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P69_539
{
left:15347.8px;bottom:8988.52px;color:rgb(35,31,31);
}
#P69_540
{
left:15683.6px;bottom:8566.44px;color:rgb(35,31,31);
}
#P69_541
{
left:15326.7px;bottom:8532.83px;color:rgb(35,31,31);
}
#P69_542
{
left:15704.7px;bottom:8550.11px;color:rgb(35,31,31);
}
#P69_543
{
left:15347.8px;bottom:8081px;color:rgb(35,31,31);
}
#P69_544
{
left:15683.6px;bottom:8566.44px;color:rgb(35,31,31);
}
#P69_545
{
left:15704.7px;bottom:8548.84px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P69_546
{
left:20046.3px;bottom:8568.56px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P69_547
{
left:21469.1px;bottom:8568.56px;color:rgb(35,31,31);
}
#P69_548
{
left:21658.4px;bottom:8990.64px;color:rgb(35,31,31);
}
#P69_549
{
left:21994.2px;bottom:8566.44px;color:rgb(35,31,31);
}
#P69_550
{
left:21469.4px;bottom:8534.94px;color:rgb(35,31,31);
}
#P69_551
{
left:22183.3px;bottom:8550.11px;color:rgb(35,31,31);
}
#P69_552
{
left:21490.5px;bottom:8083.12px;color:rgb(35,31,31);
}
#P69_553
{
left:22162.1px;bottom:8566.44px;color:rgb(35,31,31);
}
#P69_554
{
left:22183.3px;bottom:8548.84px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P69_555
{
left:22341.7px;bottom:8519.28px;color:rgb(35,31,31);
}
#P69_556
{
left:22928.1px;bottom:8548.84px;color:rgb(35,31,31);
}
#P69_557
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P69_558
{
left:23275.5px;bottom:8988.52px;color:rgb(35,31,31);
}
#P69_559
{
left:23611.3px;bottom:8566.44px;color:rgb(35,31,31);
}
#P69_560
{
left:23086.5px;bottom:8532.83px;color:rgb(35,31,31);
}
#P69_561
{
left:23800.3px;bottom:8550.11px;color:rgb(35,31,31);
}
#P69_562
{
left:23107.6px;bottom:8081px;color:rgb(35,31,31);
}
#P69_563
{
left:23779.2px;bottom:8566.44px;color:rgb(35,31,31);
}
#P69_564
{
left:23800.3px;bottom:8548.84px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P69_565
{
left:27406.2px;bottom:8568.56px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P69_566
{
left:28829px;bottom:8568.56px;color:rgb(35,31,31);
}
#P69_567
{
left:28850.5px;bottom:8990.64px;color:rgb(35,31,31);
}
#P69_568
{
left:29522.1px;bottom:8566.44px;color:rgb(35,31,31);
}
#P69_569
{
left:28829.4px;bottom:8534.94px;color:rgb(35,31,31);
}
#P69_570
{
left:29543.3px;bottom:8550.11px;color:rgb(35,31,31);
}
#P69_571
{
left:28850.5px;bottom:8083.12px;color:rgb(35,31,31);
}
#P69_572
{
left:29522.1px;bottom:8566.44px;color:rgb(35,31,31);
}
#P69_573
{
left:29543.3px;bottom:8548.84px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P69_574
{
left:29701.7px;bottom:8519.28px;color:rgb(35,31,31);
}
#P69_575
{
left:30288.1px;bottom:8548.84px;color:rgb(35,31,31);
}
#P69_576
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P69_577
{
left:30467.6px;bottom:8988.52px;color:rgb(35,31,31);
}
#P69_578
{
left:30803.4px;bottom:8566.44px;color:rgb(35,31,31);
}
#P69_579
{
left:30446.5px;bottom:8532.83px;color:rgb(35,31,31);
}
#P69_580
{
left:30824.5px;bottom:8550.11px;color:rgb(35,31,31);
}
#P69_581
{
left:30467.6px;bottom:8081px;color:rgb(35,31,31);
}
#P69_582
{
left:30803.4px;bottom:8566.44px;color:rgb(35,31,31);
}
#P69_583
{
left:30824.5px;bottom:8548.84px;color:rgb(35,31,31);
}
#P69_584
{
left:5149.66px;bottom:6500.91px;color:rgb(35,31,31);
}
#P69_585
{
left:5327.07px;bottom:6520.62px;color:rgb(35,31,31);
}
#P69_586
{
left:6749.85px;bottom:6500.91px;letter-spacing:-9.9px;word-spacing:-129px;color:rgb(35,31,31);
}
#P69_587
{
left:7172.95px;bottom:6940.52px;color:rgb(35,31,31);
}
#P69_588
{
left:7508.76px;bottom:6518.44px;color:rgb(35,31,31);
}
#P69_589
{
left:7151.83px;bottom:6484.83px;color:rgb(35,31,31);
}
#P69_590
{
left:7529.88px;bottom:6502.11px;color:rgb(35,31,31);
}
#P69_591
{
left:7172.95px;bottom:6033px;color:rgb(35,31,31);
}
#P69_592
{
left:7508.76px;bottom:6518.44px;color:rgb(35,31,31);
}
#P69_593
{
left:7529.88px;bottom:6500.84px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P69_594
{
left:7688.28px;bottom:6471.28px;color:rgb(35,31,31);
}
#P69_595
{
left:8274.71px;bottom:6500.84px;color:rgb(35,31,31);
}
#P69_596
{
left:0px;letter-spacing:0px;margin-left:-128.8px;
}
#P69_597
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P69_598
{
left:8856.67px;bottom:6940.52px;color:rgb(35,31,31);
}
#P69_599
{
left:9192.47px;bottom:6518.44px;color:rgb(35,31,31);
}
#P69_600
{
left:8835.55px;bottom:6484.83px;color:rgb(35,31,31);
}
#P69_601
{
left:9213.59px;bottom:6502.11px;color:rgb(35,31,31);
}
#P69_602
{
left:8856.67px;bottom:6033px;color:rgb(35,31,31);
}
#P69_603
{
left:9192.47px;bottom:6518.44px;color:rgb(35,31,31);
}
#P69_604
{
left:9213.59px;bottom:6500.84px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P69_605
{
left:12622.4px;bottom:6520.56px;color:rgb(35,31,31);
}
#P69_606
{
left:14045.1px;bottom:6500.84px;letter-spacing:-9.9px;word-spacing:-129px;color:rgb(35,31,31);
}
#P69_607
{
left:14636.9px;bottom:6940.52px;color:rgb(35,31,31);
}
#P69_608
{
left:14972.7px;bottom:6518.44px;color:rgb(35,31,31);
}
#P69_609
{
left:14447.8px;bottom:6484.83px;color:rgb(35,31,31);
}
#P69_610
{
left:15161.7px;bottom:6502.11px;color:rgb(35,31,31);
}
#P69_611
{
left:14469px;bottom:6033px;color:rgb(35,31,31);
}
#P69_612
{
left:15140.6px;bottom:6518.44px;color:rgb(35,31,31);
}
#P69_613
{
left:15161.7px;bottom:6500.84px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P69_614
{
left:15320.1px;bottom:6471.28px;color:rgb(35,31,31);
}
#P69_615
{
left:15906.5px;bottom:6500.84px;color:rgb(35,31,31);
}
#P69_616
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P69_617
{
left:16627.1px;bottom:6940.52px;color:rgb(35,31,31);
}
#P69_618
{
left:16962.8px;bottom:6518.44px;color:rgb(35,31,31);
}
#P69_619
{
left:16438px;bottom:6484.83px;color:rgb(35,31,31);
}
#P69_620
{
left:17151.9px;bottom:6502.11px;color:rgb(35,31,31);
}
#P69_621
{
left:16459.2px;bottom:6033px;color:rgb(35,31,31);
}
#P69_622
{
left:17130.8px;bottom:6518.44px;color:rgb(35,31,31);
}
#P69_623
{
left:17151.9px;bottom:6500.84px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P69_624
{
left:20046.7px;bottom:6520.56px;color:rgb(35,31,31);
}
#P69_625
{
left:21469.5px;bottom:6500.84px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P69_626
{
left:21863.6px;bottom:6940.52px;color:rgb(35,31,31);
}
#P69_627
{
left:22199.4px;bottom:6518.44px;color:rgb(35,31,31);
}
#P69_628
{
left:21842.5px;bottom:6484.83px;color:rgb(35,31,31);
}
#P69_629
{
left:22220.6px;bottom:6502.11px;color:rgb(35,31,31);
}
#P69_630
{
left:21863.6px;bottom:6033px;color:rgb(35,31,31);
}
#P69_631
{
left:22199.4px;bottom:6518.44px;color:rgb(35,31,31);
}
#P69_632
{
left:22220.6px;bottom:6500.84px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P69_633
{
left:22379px;bottom:6471.28px;color:rgb(35,31,31);
}
#P69_634
{
left:22965.4px;bottom:6500.84px;color:rgb(35,31,31);
}
#P69_635
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P69_636
{
left:23144.9px;bottom:6940.52px;color:rgb(35,31,31);
}
#P69_637
{
left:23480.7px;bottom:6518.44px;color:rgb(35,31,31);
}
#P69_638
{
left:23123.8px;bottom:6484.83px;color:rgb(35,31,31);
}
#P69_639
{
left:23501.8px;bottom:6502.11px;color:rgb(35,31,31);
}
#P69_640
{
left:23144.9px;bottom:6033px;color:rgb(35,31,31);
}
#P69_641
{
left:23480.7px;bottom:6518.44px;color:rgb(35,31,31);
}
#P69_642
{
left:23501.8px;bottom:6500.84px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P69_643
{
left:27406.2px;bottom:6520.56px;color:rgb(35,31,31);
}
#P69_644
{
left:28829px;bottom:6500.84px;letter-spacing:-9.9px;word-spacing:-129px;color:rgb(35,31,31);
}
#P69_645
{
left:29253px;bottom:6940.52px;color:rgb(35,31,31);
}
#P69_646
{
left:29588.8px;bottom:6518.44px;color:rgb(35,31,31);
}
#P69_647
{
left:29231.8px;bottom:6484.83px;color:rgb(35,31,31);
}
#P69_648
{
left:29609.9px;bottom:6502.11px;color:rgb(35,31,31);
}
#P69_649
{
left:29253px;bottom:6033px;color:rgb(35,31,31);
}
#P69_650
{
left:29588.8px;bottom:6518.44px;color:rgb(35,31,31);
}
#P69_651
{
left:29609.9px;bottom:6500.84px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P69_652
{
left:29768.3px;bottom:6471.28px;color:rgb(35,31,31);
}
#P69_653
{
left:30354.7px;bottom:6500.84px;color:rgb(35,31,31);
}
#P69_654
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P69_655
{
left:31075.2px;bottom:6940.52px;color:rgb(35,31,31);
}
#P69_656
{
left:31411px;bottom:6518.44px;color:rgb(35,31,31);
}
#P69_657
{
left:30886.2px;bottom:6484.83px;color:rgb(35,31,31);
}
#P69_658
{
left:31600.1px;bottom:6502.11px;color:rgb(35,31,31);
}
#P69_659
{
left:30907.4px;bottom:6033px;color:rgb(35,31,31);
}
#P69_660
{
left:31579px;bottom:6518.44px;color:rgb(35,31,31);
}
#P69_661
{
left:31600.1px;bottom:6500.84px;color:rgb(35,31,31);
}
#P69_662
{
left:5149.4px;bottom:4196.65px;color:rgb(35,31,31);
}
#P69_663
{
left:5326.81px;bottom:4216.36px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P69_664
{
left:6813.66px;bottom:4216.36px;letter-spacing:-9.7px;color:rgb(2,77,161);
}
#P69_665
{
left:0px;letter-spacing:0px;margin-left:9.7px;
}
#P69_666
{
left:13947.3px;bottom:4196.65px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P69_667
{
left:0px;letter-spacing:-0.2px;margin-left:-193.6px;
}
#P69_668
{
left:6813.66px;bottom:3300.46px;color:rgb(35,31,31);
}
#P69_669
{
left:7932.63px;bottom:3300.67px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P69_670
{
left:0px;letter-spacing:0px;margin-left:-41.5px;
}
#P69_671
{
left:0px;letter-spacing:-0.7px;
}
#P69_672
{
left:0px;letter-spacing:0px;margin-left:-41.5px;
}
#P69_673
{
left:0px;letter-spacing:0px;
}
#P69_674
{
left:13117.4px;bottom:46716.8px;letter-spacing:-70.4px;color:rgb(35,31,31);
}
#P69_675
{
left:0px;letter-spacing:-0.4px;margin-left:70.4px;
}
#P69_676
{
left:0px;letter-spacing:0px;margin-left:-214.2px;
}
#P69_677
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P69_678
{
left:0px;letter-spacing:-0.4px;
}
#P69_679
{
left:0px;letter-spacing:0px;margin-left:0.4px;
}
#P69_680
{
left:13117.4px;bottom:45820.6px;letter-spacing:-2.1px;word-spacing:-25.3px;color:rgb(35,31,31);
}
#P69_681
{
left:0px;letter-spacing:5.1px;margin-left:2.1px;
}
#P69_682
{
left:18262.9px;bottom:45820.6px;color:rgb(35,31,31);
}
#P69_683
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P69_684
{
left:0px;letter-spacing:0px;margin-left:-42.2px;
}
#PageContainer69
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg069.jpg");background-repeat:no-repeat;background-size: 880px 895px; background-position: 123.02px 144.76px;
}
#ImageContainer69 {bottom:324.24px;left:123.02px;width:879.98px;height:894.79px;position:absolute;} #TextContainer69 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.example3{  position: absolute;  top: 151px;  left: 157px;}
.answer{  position: absolute;  top: 842px;  left: 85px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}