.tr33{ color:transparent;}
#P33_1
{
left:4592.6px;bottom:1417.71px;color:rgb(35,31,31);
}
#P33_2
{
left:21766.7px;bottom:1410.03px;color:rgb(35,31,31);
}
#P33_3
{
left:26320px;bottom:1417.71px;letter-spacing:4px;word-spacing:458.6px;color:rgb(35,31,31);
}
#P33_4
{
left:0px;letter-spacing:0px;margin-left:-462.6px;
}
#P33_5
{
left:0px;letter-spacing:3.8px;margin-left:3.5px;
}
#P33_6
{
left:0px;letter-spacing:0px;margin-left:-462.3px;
}
#P33_7
{
left:0px;letter-spacing:0.6px;margin-left:8.4px;
}
#P33_8
{
left:0px;letter-spacing:1.8px;margin-left:3.3px;
}
#P33_9
{
left:36533.7px;bottom:1410.03px;color:rgb(35,31,31);
}
#P33_10
{
left:6352.28px;bottom:33549.3px;color:rgb(33,31,31);
}
#P33_11
{
left:6438.69px;bottom:33580.7px;color:rgb(33,31,31);
}
#P33_12
{
left:6868.77px;bottom:33736.8px;color:rgb(33,31,31);
}
#P33_13
{
left:6430.68px;bottom:33370.1px;color:rgb(33,31,31);
}
#P33_14
{
left:6517.09px;bottom:33401.5px;letter-spacing:-0.2px;color:rgb(33,31,31);
}
#P33_15
{
left:6800.1px;bottom:33504.2px;letter-spacing:0.8px;color:rgb(33,31,31);
}
#P33_16
{
left:6525.92px;bottom:33190.9px;color:rgb(33,31,31);
}
#P33_17
{
left:6612.32px;bottom:33222.3px;letter-spacing:-0.2px;color:rgb(33,31,31);
}
#P33_18
{
left:6895.33px;bottom:33325px;letter-spacing:0.8px;color:rgb(33,31,31);
}
#P33_19
{
left:6691.1px;bottom:32941.7px;color:rgb(33,31,31);
}
#P33_20
{
left:6777.5px;bottom:32973.1px;letter-spacing:0.1px;color:rgb(33,31,31);
}
#P33_21
{
left:6973.4px;bottom:41957px;letter-spacing:-2.8px;color:rgb(2,77,161);
}
#P33_22
{
left:11549.6px;bottom:41937.3px;letter-spacing:204.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P33_23
{
left:0px;letter-spacing:-0.5px;margin-left:-204.2px;
}
#P33_24
{
left:0px;letter-spacing:-1.1px;margin-left:147.4px;
}
#P33_25
{
left:0px;letter-spacing:-0.1px;margin-left:-12.9px;
}
#P33_26
{
left:7541.98px;bottom:40804.8px;color:rgb(35,31,31);
}
#P33_27
{
left:8573.53px;bottom:40785.1px;color:rgb(35,31,31);
}
#P33_28
{
left:17846.1px;bottom:40804.8px;color:rgb(35,31,31);
}
#P33_29
{
left:18877.5px;bottom:40785.1px;color:rgb(35,31,31);
}
#P33_30
{
left:28150.1px;bottom:40804.8px;color:rgb(35,31,31);
}
#P33_31
{
left:29053.7px;bottom:40785.1px;color:rgb(35,31,31);
}
#P33_32
{
left:7542.23px;bottom:39460.8px;color:rgb(35,31,31);
}
#P33_33
{
left:8573.66px;bottom:39441.1px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P33_34
{
left:0px;letter-spacing:0px;margin-left:-16.1px;
}
#P33_35
{
left:17846.2px;bottom:39460.8px;color:rgb(35,31,31);
}
#P33_36
{
left:18877.7px;bottom:39441.1px;color:rgb(35,31,31);
}
#P33_37
{
left:28150.3px;bottom:39460.8px;color:rgb(35,31,31);
}
#P33_38
{
left:29053.8px;bottom:39441.1px;color:rgb(35,31,31);
}
#P33_39
{
left:7542.36px;bottom:38116.8px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P33_40
{
left:8573.4px;bottom:38117px;letter-spacing:-2.8px;color:rgb(2,77,161);
}
#P33_41
{
left:12797.6px;bottom:38097.3px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P33_42
{
left:0px;letter-spacing:0px;margin-left:-221.6px;
}
#P33_43
{
left:0px;letter-spacing:-1px;
}
#P33_44
{
left:0px;letter-spacing:0px;margin-left:1px;
}
#P33_45
{
left:8573.4px;bottom:37201.3px;color:rgb(35,31,31);
}
#P33_46
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P33_47
{
left:8396.95px;bottom:36140.1px;color:rgb(35,31,31);
}
#P33_48
{
left:9597.4px;bottom:36113.3px;color:rgb(35,31,31);
}
#P33_49
{
left:16424px;bottom:36140.1px;color:rgb(35,31,31);
}
#P33_50
{
left:17597.4px;bottom:36113.3px;color:rgb(35,31,31);
}
#P33_51
{
left:24408.2px;bottom:36140.1px;color:rgb(35,31,31);
}
#P33_52
{
left:25469.4px;bottom:36113.3px;color:rgb(35,31,31);
}
#P33_53
{
left:6258.71px;bottom:14668.2px;
}
#P33_54
{
left:6258.71px;bottom:14668.2px;color:white;
}
#P33_55
{
left:6267.8px;bottom:9477.8px;
}
#P33_56
{
left:6267.8px;bottom:9477.8px;color:white;
}
#P33_57
{
left:6935.64px;bottom:31109.5px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P33_58
{
left:0px;letter-spacing:0px;margin-left:1.2px;
}
#P33_59
{
left:6935.64px;bottom:30213.5px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P33_60
{
left:0px;letter-spacing:-23.9px;margin-left:-26.7px;
}
#P33_61
{
left:0px;letter-spacing:-0.5px;margin-left:23.9px;
}
#P33_62
{
left:6935.64px;bottom:29317.5px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P33_63
{
left:0px;letter-spacing:-14px;margin-left:-27.7px;
}
#P33_64
{
left:0px;letter-spacing:0px;margin-left:14px;
}
#P33_65
{
left:0px;letter-spacing:0px;margin-left:-225px;
}
#P33_66
{
left:0px;letter-spacing:0px;margin-left:77.1px;
}
#P33_67
{
left:0px;letter-spacing:-0.7px;
}
#P33_68
{
left:6935.64px;bottom:28421.5px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P33_69
{
left:6935.64px;bottom:26885.5px;color:rgb(35,31,31);
}
#P33_70
{
left:7504.22px;bottom:26905.3px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P33_71
{
left:8599.64px;bottom:26885.5px;color:rgb(35,31,31);
}
#P33_72
{
left:8599.64px;bottom:25989.5px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P33_73
{
left:6935.64px;bottom:24773.5px;color:rgb(35,31,31);
}
#P33_74
{
left:7504.22px;bottom:24793.3px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P33_75
{
left:8599.64px;bottom:24773.5px;letter-spacing:-10.5px;color:rgb(35,31,31);
}
#P33_76
{
left:0px;letter-spacing:-0.5px;margin-left:10.5px;
}
#P33_77
{
left:8599.64px;bottom:23877.5px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P33_78
{
left:6935.64px;bottom:22661.5px;color:rgb(35,31,31);
}
#P33_79
{
left:7112.79px;bottom:22681.3px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P33_80
{
left:8599.64px;bottom:22661.5px;letter-spacing:-10.5px;color:rgb(35,31,31);
}
#P33_81
{
left:0px;letter-spacing:-0.5px;margin-left:10.5px;
}
#P33_82
{
left:8599.64px;bottom:21765.5px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P33_83
{
left:6935.64px;bottom:20549.5px;color:rgb(35,31,31);
}
#P33_84
{
left:7112.79px;bottom:20569.3px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P33_85
{
left:8599.64px;bottom:20549.5px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P33_86
{
left:8599.64px;bottom:19653.5px;color:rgb(35,31,31);
}
#P33_87
{
left:8599.64px;bottom:18757.6px;color:rgb(35,31,31);
}
#P33_88
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P33_89
{
left:0px;letter-spacing:0px;margin-left:-4.2px;
}
#P33_90
{
left:8599.64px;bottom:17861.6px;color:rgb(35,31,31);
}
#P33_91
{
left:6935.64px;bottom:15749.6px;letter-spacing:-1.7px;color:rgb(35,31,31);
}
#P33_92
{
left:0px;letter-spacing:-0.9px;margin-left:-8.8px;
}
#P33_93
{
left:0px;letter-spacing:-4.7px;margin-left:0.9px;
}
#P33_94
{
left:0px;letter-spacing:-15.8px;margin-left:4.7px;
}
#P33_95
{
left:0px;letter-spacing:-0.2px;margin-left:15.8px;
}
#P33_96
{
left:0px;letter-spacing:0px;margin-left:-41.9px;
}
#P33_97
{
left:6935.64px;bottom:14597.6px;color:rgb(35,31,31);
}
#P33_98
{
left:7112.79px;bottom:14617.3px;color:rgb(35,31,31);
}
#P33_99
{
left:8535.64px;bottom:14597.6px;color:rgb(35,31,31);
}
#P33_100
{
left:10186.5px;bottom:14588.5px;color:rgb(35,31,31);
}
#P33_101
{
left:10772.9px;bottom:14597.6px;color:rgb(35,31,31);
}
#P33_102
{
left:17416.8px;bottom:14617.3px;color:rgb(35,31,31);
}
#P33_103
{
left:19587.1px;bottom:14596.2px;word-spacing:589.1px;color:rgb(35,31,31);
}
#P33_104
{
left:18839.6px;bottom:13691.1px;color:rgb(35,31,31);
}
#P33_105
{
left:19587.2px;bottom:13700.2px;color:rgb(35,31,31);
}
#P33_106
{
left:21805.4px;bottom:14597.5px;color:rgb(35,31,31);
}
#P33_107
{
left:27720.7px;bottom:14617.2px;color:rgb(35,31,31);
}
#P33_108
{
left:29015.7px;bottom:14597.5px;color:rgb(35,31,31);
}
#P33_109
{
left:30666.4px;bottom:14588.3px;color:rgb(35,31,31);
}
#P33_110
{
left:31252.8px;bottom:14597.5px;color:rgb(35,31,31);
}
#P33_111
{
left:6935.71px;bottom:11973.4px;color:rgb(35,31,31);
}
#P33_112
{
left:7112.86px;bottom:11993.1px;color:rgb(35,31,31);
}
#P33_113
{
left:8535.71px;bottom:11973.4px;color:rgb(35,31,31);
}
#P33_114
{
left:10186.5px;bottom:11964.2px;color:rgb(35,31,31);
}
#P33_115
{
left:10773px;bottom:11973.4px;color:rgb(35,31,31);
}
#P33_116
{
left:17416.9px;bottom:11993.1px;color:rgb(35,31,31);
}
#P33_117
{
left:18839.7px;bottom:11973.4px;color:rgb(35,31,31);
}
#P33_118
{
left:20490.5px;bottom:11964.2px;color:rgb(35,31,31);
}
#P33_119
{
left:21077px;bottom:11973.4px;color:rgb(35,31,31);
}
#P33_120
{
left:27720.9px;bottom:11993.1px;color:rgb(35,31,31);
}
#P33_121
{
left:29763.1px;bottom:11972.2px;word-spacing:589.1px;color:rgb(35,31,31);
}
#P33_122
{
left:29015.6px;bottom:11067.1px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P33_123
{
left:29763.2px;bottom:11076.2px;color:rgb(35,31,31);
}
#P33_124
{
left:6935.58px;bottom:9349.61px;color:rgb(35,31,31);
}
#P33_125
{
left:7112.73px;bottom:9369.32px;color:rgb(35,31,31);
}
#P33_126
{
left:9261.4px;bottom:9348.2px;word-spacing:567.4px;color:rgb(35,31,31);
}
#P33_127
{
left:8535.64px;bottom:8443.05px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P33_128
{
left:9261.4px;bottom:8452.2px;color:rgb(35,31,31);
}
#P33_129
{
left:10813.3px;bottom:9349.48px;color:rgb(35,31,31);
}
#P33_130
{
left:17416.7px;bottom:9369.2px;color:rgb(35,31,31);
}
#P33_131
{
left:18839.6px;bottom:9349.48px;color:rgb(35,31,31);
}
#P33_132
{
left:20117.3px;bottom:9340.33px;color:rgb(35,31,31);
}
#P33_133
{
left:20703.7px;bottom:9349.48px;color:rgb(35,31,31);
}
#P33_134
{
left:27720.9px;bottom:9369.2px;color:rgb(35,31,31);
}
#P33_135
{
left:29015.7px;bottom:9349.48px;color:rgb(35,31,31);
}
#P33_136
{
left:30293.4px;bottom:9340.33px;color:rgb(35,31,31);
}
#P33_137
{
left:30879.8px;bottom:9349.48px;color:rgb(35,31,31);
}
#P33_138
{
left:6935.71px;bottom:6661.48px;color:rgb(35,31,31);
}
#P33_139
{
left:7112.86px;bottom:6681.2px;color:rgb(35,31,31);
}
#P33_140
{
left:8535.71px;bottom:6661.48px;color:rgb(35,31,31);
}
#P33_141
{
left:9813.4px;bottom:6652.33px;color:rgb(35,31,31);
}
#P33_142
{
left:10399.8px;bottom:6661.48px;color:rgb(35,31,31);
}
#P33_143
{
left:17416.9px;bottom:6681.2px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P33_144
{
left:19035.4px;bottom:6681.2px;color:rgb(35,31,31);
}
#P33_145
{
left:19056.5px;bottom:7103.28px;color:rgb(35,31,31);
}
#P33_146
{
left:20063.9px;bottom:6679.08px;color:rgb(35,31,31);
}
#P33_147
{
left:19035.4px;bottom:6664.94px;color:rgb(35,31,31);
}
#P33_148
{
left:20085px;bottom:6680.11px;color:rgb(35,31,31);
}
#P33_149
{
left:19224.3px;bottom:6195.76px;color:rgb(35,31,31);
}
#P33_150
{
left:19896px;bottom:6679.08px;color:rgb(35,31,31);
}
#P33_151
{
left:20085px;bottom:6661.48px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P33_152
{
left:27720.8px;bottom:6681.2px;color:rgb(35,31,31);
}
#P33_153
{
left:29015.8px;bottom:6661.48px;color:rgb(35,31,31);
}
#P33_154
{
left:30666.5px;bottom:6652.33px;color:rgb(35,31,31);
}
#P33_155
{
left:31252.9px;bottom:6661.48px;color:rgb(35,31,31);
}
#P33_156
{
left:6935.71px;bottom:4741.48px;color:rgb(35,31,31);
}
#P33_157
{
left:7112.86px;bottom:4761.2px;color:rgb(35,31,31);
}
#P33_158
{
left:8535.71px;bottom:4741.48px;color:rgb(35,31,31);
}
#P33_159
{
left:10186.5px;bottom:4732.33px;color:rgb(35,31,31);
}
#P33_160
{
left:10773px;bottom:4741.48px;color:rgb(35,31,31);
}
#P33_161
{
left:17416.9px;bottom:4761.2px;color:rgb(35,31,31);
}
#P33_162
{
left:18839.7px;bottom:4741.48px;color:rgb(35,31,31);
}
#P33_163
{
left:20490.5px;bottom:4732.33px;color:rgb(35,31,31);
}
#P33_164
{
left:21077px;bottom:4741.48px;color:rgb(35,31,31);
}
#P33_165
{
left:27720.9px;bottom:4761.2px;word-spacing:120.6px;color:rgb(35,31,31);
}
#P33_166
{
left:29015.8px;bottom:4761.2px;color:rgb(35,31,31);
}
#P33_167
{
left:29036.8px;bottom:5183.28px;color:rgb(35,31,31);
}
#P33_168
{
left:30883.7px;bottom:4759.08px;color:rgb(35,31,31);
}
#P33_169
{
left:29015.6px;bottom:4744.94px;color:rgb(35,31,31);
}
#P33_170
{
left:30904.8px;bottom:4760.11px;color:rgb(35,31,31);
}
#P33_171
{
left:29456.5px;bottom:4275.76px;color:rgb(35,31,31);
}
#P33_172
{
left:30463.9px;bottom:4759.08px;color:rgb(35,31,31);
}
#P33_173
{
left:30904.8px;bottom:4741.48px;color:rgb(35,31,31);
}
#P33_174
{
left:29842.5px;bottom:37545.6px;color:rgb(35,31,31);
}
#P33_175
{
left:28398.5px;bottom:36794.2px;letter-spacing:21.1px;color:rgb(35,31,31);
}
#P33_176
{
left:29187px;bottom:36933.5px;color:rgb(35,31,31);
}
#P33_177
{
left:29343.3px;bottom:36771.9px;color:rgb(35,31,31);
}
#P33_178
{
left:29220.1px;bottom:36920.6px;color:rgb(35,31,31);
}
#P33_179
{
left:30652.7px;bottom:36822px;color:rgb(35,31,31);
}
#P33_180
{
left:29325.7px;bottom:36794.2px;color:rgb(35,31,31);
}
#P33_181
{
left:0px;letter-spacing:0px;margin-left:-109.1px;
}
#P33_182
{
left:6267.8px;bottom:4818.6px;
}
#P33_183
{
left:6267.8px;bottom:4818.6px;color:white;
}
#P33_184
{
left:6267.8px;bottom:6713px;
}
#P33_185
{
left:6267.8px;bottom:6713px;color:white;
}
#P33_186
{
left:26230.9px;bottom:19082.5px;color:rgb(33,31,31);
}
#P33_187
{
left:0px;letter-spacing:0px;margin-left:1560px;
}
#P33_188
{
left:0px;letter-spacing:0px;margin-left:1560px;
}
#P33_189
{
left:0px;letter-spacing:0px;margin-left:1560px;
}
#P33_190
{
left:23718.6px;bottom:20932.4px;color:rgb(33,31,31);
}
#P33_191
{
left:23718.2px;bottom:22468.5px;color:rgb(33,31,31);
}
#P33_192
{
left:23718.2px;bottom:24004.5px;color:rgb(33,31,31);
}
#P33_193
{
left:23718.2px;bottom:25540.5px;color:rgb(33,31,31);
}
#P33_194
{
left:23718.2px;bottom:27076.5px;color:rgb(33,31,31);
}
#P33_195
{
left:23718.2px;bottom:28612.5px;color:rgb(33,31,31);
}
#P33_196
{
left:23718.2px;bottom:30148.5px;color:rgb(33,31,31);
}
#P33_197
{
left:24518.8px;bottom:19396.5px;color:rgb(33,31,31);
}
#P33_198
{
left:29754.1px;bottom:18121.6px;letter-spacing:-26.5px;color:rgb(33,31,31);
}
#P33_199
{
left:0px;letter-spacing:0px;margin-left:26.5px;
}
#P33_200
{
left:23471.2px;bottom:22524.3px;color:rgb(33,31,31);
}
#P33_201
{
left:26270.9px;bottom:31042.5px;color:rgb(33,31,31);
}
#P33_202
{
left:26124.2px;bottom:23051.1px;color:rgb(33,31,31);
}
#P33_203
{
left:28751.3px;bottom:25006.6px;color:rgb(33,31,31);
}
#P33_204
{
left:31378.5px;bottom:27147.6px;color:rgb(33,31,31);
}
#P33_205
{
left:34005.6px;bottom:29557.5px;color:rgb(33,31,31);
}
#P33_206
{
left:8170.27px;bottom:47021.1px;letter-spacing:-6px;color:white;
}
#P33_207
{
left:11382.7px;bottom:47319.5px;color:white;
}
#P33_208
{
left:11756.3px;bottom:47021.1px;color:white;
}
#P33_209
{
left:4652.51px;bottom:46993.9px;color:white;
}
#P33_210
{
left:29065.8px;bottom:46233.7px;word-spacing:0.2px;color:rgb(33,31,31);
}
#PageContainer33
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg033.jpg");background-repeat:no-repeat;background-size: 1014px 1202px; background-position: 1.67px 33.5699999999999px;
}
#ImageContainer33 {bottom:128.43px;left:1.67px;width:1014.42px;height:1201.81px;position:absolute;} #TextContainer33 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.answer{position:absolute;top: 40px;left: 76px;}
.circle1{position:absolute;top: 940px;left: 156px;}
.circle2{position:absolute;top: 1080px;left: 158px;}
.circle3{position:absolute;top: 1154px;left: 160px;}
.circle4{position:absolute;top: 1208px;left: 160px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}