.tr106{ color:transparent;}
#P106_1
{
left:5889.56px;bottom:46957.1px;color:white;
}
#P106_2
{
left:2371.78px;bottom:46929.9px;color:white;
}
#P106_3
{
left:2365.4px;bottom:1525.23px;color:rgb(35,31,31);
}
#P106_4
{
left:3148.76px;bottom:1525.23px;color:rgb(35,31,31);
}
#P106_5
{
left:4925.4px;bottom:1525.23px;color:rgb(35,31,31);
}
#P106_6
{
left:9125.85px;bottom:1525.23px;letter-spacing:2.1px;word-spacing:462px;color:rgb(35,31,31);
}
#P106_7
{
left:0px;letter-spacing:2.3px;margin-left:-6.5px;
}
#P106_8
{
left:0px;letter-spacing:0px;margin-left:-464.3px;
}
#P106_9
{
left:0px;letter-spacing:2.4px;margin-left:0.1px;
}
#P106_10
{
left:0px;letter-spacing:0px;margin-left:-464.4px;
}
#P106_11
{
left:0px;letter-spacing:1.4px;margin-left:5.4px;
}
#P106_12
{
left:11837.4px;bottom:41944.7px;color:rgb(35,31,31);
}
#P106_13
{
left:13101.8px;bottom:42101px;color:rgb(35,31,31);
}
#P106_14
{
left:13297.5px;bottom:41944.7px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P106_15
{
left:18305.9px;bottom:42101px;color:rgb(35,31,31);
}
#P106_16
{
left:18501.6px;bottom:41944.7px;color:rgb(35,31,31);
}
#P106_17
{
left:20640.3px;bottom:42101px;color:rgb(35,31,31);
}
#P106_18
{
left:20836.1px;bottom:41944.7px;color:rgb(35,31,31);
}
#P106_19
{
left:11837.4px;bottom:40837px;letter-spacing:-70.3px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P106_20
{
left:0px;letter-spacing:-0.1px;margin-left:228.7px;
}
#P106_21
{
left:11837.4px;bottom:39941px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P106_22
{
left:0px;letter-spacing:0px;margin-left:-24.5px;
}
#P106_23
{
left:0px;letter-spacing:-1.7px;
}
#P106_24
{
left:0px;letter-spacing:0px;margin-left:1.7px;
}
#P106_25
{
left:11837.4px;bottom:39045px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P106_26
{
left:0px;letter-spacing:0px;margin-left:0.6px;
}
#P106_27
{
left:26785.2px;bottom:46188.3px;word-spacing:0.2px;color:rgb(33,31,31);
}
#P106_28
{
left:0px;letter-spacing:0px;margin-left:-44.8px;
}
#P106_29
{
left:0px;letter-spacing:0px;margin-left:0.2px;
}
#P106_30
{
left:2613.34px;bottom:28871.5px;color:white;
}
#P106_31
{
left:5968.99px;bottom:29113.1px;color:white;
}
#P106_32
{
left:6304.86px;bottom:28871.5px;color:white;
}
#P106_33
{
left:2848.01px;bottom:27768.6px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P106_34
{
left:2848.01px;bottom:27000.6px;color:rgb(35,31,31);
}
#P106_35
{
left:2848.01px;bottom:26232.6px;color:rgb(35,31,31);
}
#P106_36
{
left:2848.01px;bottom:25464.6px;color:rgb(35,31,31);
}
#P106_37
{
left:5497.11px;bottom:35873.6px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P106_38
{
left:12365.4px;bottom:35898.2px;color:white;
}
#P106_39
{
left:13917.1px;bottom:36090px;color:white;
}
#P106_40
{
left:14157.3px;bottom:35898.2px;color:white;
}
#P106_41
{
left:16782.2px;bottom:36090px;color:white;
}
#P106_42
{
left:17022.4px;bottom:35898.2px;color:white;
}
#P106_43
{
left:10521px;bottom:35731.1px;
}
#P106_44
{
left:10521px;bottom:35731.1px;color:white;
}
#P106_45
{
left:5497.11px;bottom:21713.6px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P106_46
{
left:12365.4px;bottom:21738.2px;letter-spacing:-2.2px;color:white;
}
#P106_47
{
left:15646.2px;bottom:21930px;color:white;
}
#P106_48
{
left:15886.4px;bottom:21738.2px;color:white;
}
#P106_49
{
left:18511.2px;bottom:21930px;color:white;
}
#P106_50
{
left:18751.4px;bottom:21738.2px;color:white;
}
#P106_51
{
left:10521px;bottom:21571.1px;
}
#P106_52
{
left:10521px;bottom:21571.1px;color:white;
}
#P106_53
{
left:11400.4px;bottom:34106.2px;word-spacing:452.1px;color:rgb(35,31,31);
}
#P106_53a
{
left: 12596.4px;bottom:34106.2px;word-spacing:452.1px;color:rgb(35,31,31);
}
#P106_54
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P106_55
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P106_56
{
left:0px;letter-spacing:0px;margin-left:-452.1px;
}
#P106_57
{
left:15524.7px;bottom:34076.6px;color:rgb(35,31,31);
}
#P106_58
{
left:16111.1px;bottom:34106.2px;letter-spacing:-4.7px;color:rgb(35,31,31);
}
#P106_59
{
left:22408.4px;bottom:34106.2px;letter-spacing:-1.2px;color:rgb(235,26,35);
}
#P106_60
{
left:25315.9px;bottom:34106.2px;color:rgb(35,31,31);
}
#P106_61
{
left:25667.9px;bottom:34106.2px;color:rgb(0,124,196);
}
#P106_62
{
left:27195.6px;bottom:34076.6px;color:rgb(0,124,196);
}
#P106_63
{
left:27929.8px;bottom:34106.2px;word-spacing:-0.1px;color:rgb(0,124,196);
}
#P106_64
{
left:29457.5px;bottom:34076.6px;color:rgb(0,124,196);
}
#P106_65
{
left:30043.9px;bottom:34106.2px;color:rgb(0,124,196);
}
#P106_66
{
left:30733.8px;bottom:34076.6px;color:rgb(0,124,196);
}
#P106_67
{
left:31320.3px;bottom:34106.2px;color:rgb(0,124,196);
}
#P106_68
{
left:32010.2px;bottom:34076.6px;color:rgb(0,124,196);
}
#P106_69
{
left:32596.6px;bottom:34106.2px;color:rgb(0,124,196);
}
#P106_70
{
left:11592.4px;bottom:31930.2px;color:rgb(35,31,31);
}
#P106_71
{
left:13395.3px;bottom:31959px;word-spacing:1132.5px;color:rgb(35,31,31);
}
#P106_72
{
left:12104.4px;bottom:31063px;color:rgb(35,31,31);
}
#P106_73
{
left:12632.9px;bottom:31033.4px;color:rgb(35,31,31);
}
#P106_74
{
left:13395.3px;bottom:31063px;color:rgb(35,31,31);
}
#P106_75
{
left:13022.1px;bottom:30167.1px;word-spacing:759.3px;color:rgb(35,31,31);
}
#P106_76
{
left:15011px;bottom:31930.2px;color:rgb(35,31,31);
}
#P106_77
{
left:17928.4px;bottom:31106.2px;letter-spacing:-0.7px;color:rgb(0,124,196);
}
#P106_78
{
left:11592.4px;bottom:29850.6px;color:rgb(35,31,31);
}
#P106_79
{
left:22408.4px;bottom:30051.8px;letter-spacing:-1.3px;color:rgb(235,26,35);
}
#P106_80
{
left:26513.5px;bottom:30051.8px;color:rgb(35,31,31);
}
#P106_81
{
left:26865.5px;bottom:30051.8px;color:rgb(0,124,196);
}
#P106_82
{
left:28787.4px;bottom:30022.2px;color:rgb(0,124,196);
}
#P106_83
{
left:29373.8px;bottom:30051.8px;color:rgb(0,124,196);
}
#P106_84
{
left:31014.1px;bottom:30140.7px;color:rgb(235,26,35);
}
#P106_85
{
left:11400.4px;bottom:28195.8px;letter-spacing:-11.6px;word-spacing:416px;color:rgb(35,31,31);
}
#P106_85a
{
left: 12530.4px;bottom:28195.8px;letter-spacing:-11.6px;word-spacing:416px;color:rgb(35,31,31);
}
#P106_85b
{
left: 14030.4px;bottom:28195.8px;letter-spacing:-11.6px;word-spacing:416px;color:rgb(35,31,31);
}
#P106_86
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P106_87
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P106_88
{
left:0px;letter-spacing:0px;
}
#P106_89
{
left:15918.9px;bottom:28166.2px;color:rgb(35,31,31);
}
#P106_90
{
left:16505.4px;bottom:28195.8px;color:rgb(35,31,31);
}
#P106_91
{
left:11592.5px;bottom:26787.8px;color:rgb(35,31,31);
}
#P106_92
{
left:13395.3px;bottom:26816.6px;word-spacing:1132.5px;color:rgb(35,31,31);
}
#P106_93
{
left:12104.4px;bottom:25920.6px;color:rgb(35,31,31);
}
#P106_94
{
left:12104.4px;bottom:25891px;color:rgb(35,31,31);
}
#P106_95
{
left:13042.8px;bottom:25920.6px;color:rgb(35,31,31);
}
#P106_96
{
left:14348.8px;bottom:25920.6px;color:rgb(235,26,35);
}
#P106_97
{
left:13022.1px;bottom:25024.6px;word-spacing:759.3px;color:rgb(35,31,31);
}
#P106_98
{
left:11592.4px;bottom:25891.8px;color:rgb(35,31,31);
}
#P106_99
{
left:11400.4px;bottom:19946.1px;word-spacing:452.1px;color:rgb(35,31,31);
}
#P106_99a
{
left: 12010.4px;bottom:19946.1px;word-spacing:452.1px;color:rgb(35,31,31);
}
#P106_100
{
left:0px;letter-spacing:0px;margin-left:571.9px;
}
#P106_101
{
left:0px;letter-spacing:0px;margin-left:-16.8px;
}
#P106_102
{
left:0px;letter-spacing:0px;margin-left:-452.1px;
}
#P106_103
{
left:17430.4px;bottom:19916.5px;color:rgb(35,31,31);
}
#P106_104
{
left:18016.9px;bottom:19946.1px;letter-spacing:-4px;color:rgb(35,31,31);
}
#P106_105
{
left:22408.4px;bottom:19946.2px;letter-spacing:-1.2px;color:rgb(235,26,35);
}
#P106_106
{
left:25315.9px;bottom:19946.2px;color:rgb(35,31,31);
}
#P106_107
{
left:25667.9px;bottom:19946.2px;color:rgb(0,124,196);
}
#P106_108
{
left:27589.8px;bottom:19916.6px;color:rgb(0,124,196);
}
#P106_109
{
left:28176.2px;bottom:19946.2px;color:rgb(0,124,196);
}
#P106_110
{
left:30246px;bottom:19916.6px;color:rgb(0,124,196);
}
#P106_111
{
left:30832.4px;bottom:19946.2px;color:rgb(0,124,196);
}
#P106_112
{
left:31522.3px;bottom:19916.6px;color:rgb(0,124,196);
}
#P106_113
{
left:32108.8px;bottom:19946.2px;color:rgb(0,124,196);
}
#P106_114
{
left:32798.7px;bottom:19916.6px;color:rgb(0,124,196);
}
#P106_115
{
left:33385px;bottom:19946.2px;color:rgb(0,124,196);
}
#P106_116
{
left:11592.4px;bottom:18154.2px;color:rgb(35,31,31);
}
#P106_117
{
left:12104.4px;bottom:18183px;letter-spacing:1132.5px;color:rgb(35,31,31);
}
#P106_118
{
left:0px;letter-spacing:0px;margin-left:-1132.5px;
}
#P106_119
{
left:12104.4px;bottom:17287px;color:rgb(35,31,31);
}
#P106_120
{
left:12632.9px;bottom:17257.4px;color:rgb(35,31,31);
}
#P106_121
{
left:13395.3px;bottom:17287px;color:rgb(35,31,31);
}
#P106_122
{
left:12104.4px;bottom:16391.1px;letter-spacing:1132.5px;color:rgb(35,31,31);
}
#P106_123
{
left:0px;letter-spacing:0px;margin-left:-1132.5px;
}
#P106_124
{
left:15640.9px;bottom:18154.2px;color:rgb(35,31,31);
}
#P106_125
{
left:17928.4px;bottom:17330.2px;letter-spacing:-0.6px;color:rgb(0,124,196);
}
#P106_126
{
left:11592.4px;bottom:16074.6px;color:rgb(35,31,31);
}
#P106_127
{
left:22408.4px;bottom:16275.8px;letter-spacing:-1.3px;color:rgb(235,26,35);
}
#P106_128
{
left:26513.5px;bottom:16275.8px;color:rgb(35,31,31);
}
#P106_129
{
left:26865.5px;bottom:16275.8px;color:rgb(0,124,196);
}
#P106_130
{
left:28787.4px;bottom:16246.2px;color:rgb(0,124,196);
}
#P106_131
{
left:29373.8px;bottom:16275.8px;color:rgb(0,124,196);
}
#P106_132
{
left:30619.9px;bottom:16364.7px;color:rgb(235,26,35);
}
#P106_133
{
left: 11510.4px;bottom:14419.8px;
letter-spacing: 0px;
word-spacing: 0px;color:rgb(35,31,31);
}
#P106_133a
{
left: 12600.4px;bottom:14419.8px;
letter-spacing: 0px;
word-spacing: 0px;color:rgb(35,31,31);
}
#P106_133b
{
left: 15630.4px;bottom:14419.8px;
letter-spacing: 0px;
word-spacing: 0px;color:rgb(35,31,31);
}
#P106_134
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P106_135
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P106_136
{
left:0px;letter-spacing:0px;
}
#P106_137
{
left:17036.2px;bottom:14390.2px;color:rgb(35,31,31);
}
#P106_138
{
left: 17512.6px;bottom:14419.8px;color:rgb(35,31,31);
}
#P106_139
{
left:11592.5px;bottom:12243.8px;color:rgb(35,31,31);
}
#P106_140
{
left:13022.1px;bottom:12272.6px;word-spacing:759.3px;color:rgb(35,31,31);
}
#P106_141
{
left:14486.5px;bottom:12272.6px;color:rgb(235,26,35);
}
#P106_142
{
left:12104.4px;bottom:11376.6px;color:rgb(35,31,31);
}
#P106_143
{
left:12456.9px;bottom:11347px;color:rgb(35,31,31);
}
#P106_144
{
left:13395.3px;bottom:11376.6px;color:rgb(35,31,31);
}
#P106_145
{
left:12104.4px;bottom:10480.6px;letter-spacing:759.4px;color:rgb(35,31,31);
}
#P106_146
{
left:0px;letter-spacing:0px;margin-left:-759.4px;
}
#P106_147
{
left:11592.4px;bottom:11347.8px;color:rgb(35,31,31);
}
#P106_148
{
left:11592.4px;bottom:6611.76px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P106_149
{
left:11592.4px;bottom:5459.63px;color:rgb(35,31,31);
}
#P106_150
{
left:12056px;bottom:5486.57px;color:rgb(35,31,31);
}
#P106_151
{
left:13256.4px;bottom:5459.76px;color:rgb(35,31,31);
}
#P106_152
{
left:15093.8px;bottom:5430.19px;color:rgb(35,31,31);
}
#P106_153
{
left:15680.3px;bottom:5459.76px;color:rgb(35,31,31);
}
#P106_154
{
left:19608px;bottom:5486.57px;color:rgb(35,31,31);
}
#P106_155
{
left:20872.4px;bottom:5459.76px;color:rgb(35,31,31);
}
#P106_156
{
left:22336.7px;bottom:5430.19px;color:rgb(35,31,31);
}
#P106_157
{
left:22923.2px;bottom:5459.76px;color:rgb(35,31,31);
}
#P106_158
{
left:27288px;bottom:5486.57px;color:rgb(35,31,31);
}
#P106_159
{
left:28552.4px;bottom:5459.76px;color:rgb(35,31,31);
}
#P106_160
{
left:30389.8px;bottom:5430.19px;color:rgb(35,31,31);
}
#P106_161
{
left:30976.3px;bottom:5459.76px;color:rgb(35,31,31);
}
#P106_162
{
left:11592.4px;bottom:4179.76px;color:rgb(35,31,31);
}
#P106_163
{
left:12056px;bottom:4206.57px;color:rgb(35,31,31);
}
#P106_164
{
left:13256.4px;bottom:4179.76px;color:rgb(35,31,31);
}
#P106_165
{
left:14720.7px;bottom:4150.19px;color:rgb(35,31,31);
}
#P106_166
{
left:15307.2px;bottom:4179.76px;color:rgb(35,31,31);
}
#P106_167
{
left:19608px;bottom:4206.57px;color:rgb(35,31,31);
}
#P106_168
{
left:20872.4px;bottom:4179.76px;color:rgb(35,31,31);
}
#P106_169
{
left:22336.7px;bottom:4150.19px;color:rgb(35,31,31);
}
#P106_170
{
left:22923.2px;bottom:4179.76px;color:rgb(35,31,31);
}
#P106_171
{
left:27288px;bottom:4206.57px;color:rgb(35,31,31);
}
#P106_172
{
left:28552.4px;bottom:4179.76px;color:rgb(35,31,31);
}
#P106_173
{
left:30763px;bottom:4150.19px;color:rgb(35,31,31);
}
#P106_174
{
left:31349.4px;bottom:4179.76px;color:rgb(35,31,31);
}
#P106_175
{
left:4381.4px;bottom:32889.6px;letter-spacing:-1px;color:rgb(0,124,196);
}
#P106_176
{
left:18287.3px;bottom:26470.4px;color:rgb(0,124,196);
}
#P106_177
{
left:18287.3px;bottom:25574.4px;letter-spacing:-0.8px;color:rgb(0,124,196);
}
#P106_178
{
left:18287.3px;bottom:12784px;color:rgb(0,124,196);
}
#P106_179
{
left:18287.3px;bottom:11888px;letter-spacing:-0.8px;color:rgb(0,124,196);
}
#P106_180
{
left:13437.4px;bottom:27527.5px;color:rgb(235,26,35);
}
#P106_181
{
left:13954.1px;bottom:12919.5px;color:rgb(235,26,35);
}
#P106_182
{
left:14343.3px;bottom:12919.5px;letter-spacing:-17.3px;color:rgb(235,26,35);
}
#P106_183
{
left:0px;letter-spacing:0px;margin-left:-25.9px;
}
#P106_184
{
left:14500.8px;bottom:13463.5px;color:rgb(235,26,35);
}
#P106_185
{
left:13977.9px;bottom:18871.5px;color:rgb(235,26,35);
}
#P106_186
{
left:14343.3px;bottom:18871.5px;letter-spacing:-43.2px;color:rgb(235,26,35);
}
#P106_187
{
left:5709.4px;bottom:5772.78px;letter-spacing:2.1px;color:rgb(35,31,31);
}
#P106_188
{
left:0px;letter-spacing:0px;margin-left:-2.1px;
}
#P106_189
{
left:4413.4px;bottom:18788.4px;letter-spacing:-1px;color:rgb(0,124,196);
}
#PageContainer106
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg106.jpg");background-repeat:no-repeat;background-size: 946px 1239px; background-position: 0px 35.03px;
}
#ImageContainer106 {bottom:89.97px;left:0.00px;width:945.89px;height:1239.01px;position:absolute;} #TextContainer106 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.example1{position:absolute; top: 356px; left: 90px;}
.example2{position:absolute; top: 744px; left: 90px;}
.nyr{position: absolute; top: 1156px; left: 122px;}
.nyr_exr{position: absolute; top: 1187px; left: 161px;color:rgb(35,31,31);font-size:16px;white-space:pre;}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}