.tr39{ color:transparent;}
#P39_1
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P39_2
{
left:23071.9px;bottom:1410.03px;color:rgb(35,31,31);
}
#P39_3
{
left:27628.6px;bottom:1410.03px;letter-spacing:2.4px;word-spacing:461.9px;color:rgb(35,31,31);
}
#P39_4
{
left:0px;letter-spacing:0px;margin-left:-464.2px;
}
#P39_5
{
left:0px;letter-spacing:2.4px;margin-left:0.2px;
}
#P39_6
{
left:0px;letter-spacing:0px;margin-left:-464.3px;
}
#P39_7
{
left:0px;letter-spacing:4.8px;margin-left:10.8px;
}
#P39_8
{
left:36142px;bottom:1410.03px;color:rgb(35,31,31);
}
#P39_9
{
left:13885.4px;bottom:43036.8px;letter-spacing:-0.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P39_10
{
left:13836px;bottom:41884.8px;letter-spacing:-9.3px;word-spacing:580.1px;color:rgb(35,31,31);
}
#P39_11
{
left:14909.5px;bottom:41884.8px;color:rgb(35,31,31);
}
#P39_12
{
left:15037.5px;bottom:40604.7px;word-spacing:993.6px;color:rgb(35,31,31);
}
#P39_13
{
left:0px;letter-spacing:0px;margin-left:-4.1px;
}
#P39_14
{
left:0px;letter-spacing:0px;margin-left:-993.6px;
}
#P39_15
{
left:18194.2px;bottom:40948.5px;color:rgb(35,31,31);
}
#P39_16
{
left:18465.4px;bottom:40604.8px;color:rgb(35,31,31);
}
#P39_17
{
left:18623.8px;bottom:40595.6px;color:rgb(35,31,31);
}
#P39_18
{
left:19210.3px;bottom:40604.8px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P39_19
{
left:0px;letter-spacing:0px;margin-left:-13.6px;
}
#P39_20
{
left:13802.2px;bottom:39516.7px;letter-spacing:-13.9px;word-spacing:550.9px;color:rgb(35,31,31);
}
#P39_21
{
left:14909.5px;bottom:39516.7px;color:rgb(35,31,31);
}
#P39_22
{
left: 14886.5px;bottom:38236.7px;letter-spacing:993.7px;color:rgb(35,31,31);
}
#P39_23
{
left:0px;letter-spacing:0px;margin-left:-1014.7px;
}
#P39_24
{
left:0px;letter-spacing:-0.5px;
}
#P39_25
{
left:0px;letter-spacing:-9.3px;margin-left:-7.9px;
}
#P39_26
{
left:0px;letter-spacing:-0.4px;margin-left:9.3px;
}
#P39_27
{
left:0px;letter-spacing:0px;margin-left:-13.5px;
}
#P39_28
{
left:13885.5px;bottom:34844.7px;letter-spacing:-1.7px;color:rgb(35,31,31);
}
#P39_29
{
left:0px;letter-spacing:0px;margin-left:-8.8px;
}
#P39_30
{
left:0px;letter-spacing:-16.3px;margin-left:-20.9px;
}
#P39_31
{
left:13885.5px;bottom:33692.7px;color:rgb(35,31,31);
}
#P39_32
{
left:14349px;bottom:33719.6px;color:rgb(35,31,31);
}
#P39_33
{
left:15549.4px;bottom:33692.8px;color:rgb(35,31,31);
}
#P39_34
{
left:15922.5px;bottom:34036.5px;color:rgb(35,31,31);
}
#P39_35
{
left:16193.8px;bottom:33692.8px;color:rgb(35,31,31);
}
#P39_36
{
left:20301px;bottom:33719.6px;color:rgb(35,31,31);
}
#P39_37
{
left:21437.4px;bottom:33692.8px;color:rgb(35,31,31);
}
#P39_38
{
left:21810.5px;bottom:34036.5px;color:rgb(35,31,31);
}
#P39_39
{
left:22081.8px;bottom:33692.8px;color:rgb(35,31,31);
}
#P39_40
{
left:25933px;bottom:33719.6px;color:rgb(35,31,31);
}
#P39_41
{
left:27069.4px;bottom:33692.8px;color:rgb(35,31,31);
}
#P39_42
{
left:27442.5px;bottom:34036.5px;color:rgb(35,31,31);
}
#P39_43
{
left:27713.8px;bottom:33692.8px;color:rgb(35,31,31);
}
#P39_44
{
left:31565px;bottom:33719.6px;color:rgb(35,31,31);
}
#P39_45
{
left:32701.4px;bottom:33692.8px;color:rgb(35,31,31);
}
#P39_46
{
left:33447.6px;bottom:34036.5px;color:rgb(35,31,31);
}
#P39_47
{
left:13885.4px;bottom:32412.8px;letter-spacing:-0.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P39_48
{
left:13885.4px;bottom:31260.8px;color:rgb(35,31,31);
}
#P39_49
{
left:14349px;bottom:31287.6px;color:rgb(35,31,31);
}
#P39_50
{
left:15549.4px;bottom:31260.8px;color:rgb(35,31,31);
}
#P39_51
{
left:20301px;bottom:31287.6px;color:rgb(35,31,31);
}
#P39_52
{
left:21437.4px;bottom:31260.8px;color:rgb(35,31,31);
}
#P39_53
{
left:25933px;bottom:31287.6px;color:rgb(35,31,31);
}
#P39_54
{
left:27069.4px;bottom:31260.8px;color:rgb(35,31,31);
}
#P39_55
{
left:31191.3px;bottom:31287.6px;color:rgb(35,31,31);
}
#P39_56
{
left:32701.4px;bottom:31260.8px;color:rgb(35,31,31);
}
#P39_57
{
left:7737.11px;bottom:44641.6px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P39_58
{
left:14605.4px;bottom:44666.2px;color:white;
}
#P39_59
{
left:16637.5px;bottom:44858px;color:white;
}
#P39_60
{
left:16877.7px;bottom:44666.2px;color:white;
}
#P39_61
{
left:17645.8px;bottom:44858px;color:white;
}
#P39_62
{
left:17886px;bottom:44666.2px;letter-spacing:-1.9px;color:white;
}
#P39_63
{
left:0px;letter-spacing:0px;margin-left:1.9px;
}
#P39_64
{
left:12761px;bottom:44499.1px;
}
#P39_65
{
left:12761px;bottom:44499.1px;color:white;
}
#P39_66
{
left:14600.4px;bottom:19164.8px;letter-spacing:-5.5px;color:rgb(35,31,31);
}
#P39_67
{
left:19244.8px;bottom:19508.5px;color:rgb(35,31,31);
}
#P39_68
{
left:19654.2px;bottom:19164.8px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P39_69
{
left:0px;letter-spacing:0px;margin-left:-13.3px;
}
#P39_70
{
left:14600.4px;bottom:18268.8px;letter-spacing:-2.8px;color:rgb(35,31,31);
}
#P39_71
{
left:0px;letter-spacing:14px;margin-left:-39.3px;
}
#P39_72
{
left:0px;letter-spacing:-0.5px;margin-left:-14px;
}
#P39_73
{
left:0px;letter-spacing:0px;margin-left:-13.5px;
}
#P39_74
{
left:14600.4px;bottom:17116.8px;letter-spacing:-9.5px;word-spacing:0.2px;color:rgb(35,31,31);
}
#P39_75
{
left:0px;letter-spacing:-0.3px;margin-left:9.3px;
}
#P39_76
{
left:13128.5px;bottom:15836.8px;color:rgb(35,31,31);
}
#P39_77
{
left:0px;letter-spacing:0px;margin-left:801.5px;
}
#P39_78
{
left:0px;letter-spacing:0px;margin-left:1441.6px;
}
#P39_79
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P39_80
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P39_81
{
left:0px;letter-spacing:0px;margin-left:91.3px;
}
#P39_82
{
left:22182.9px;bottom:15827.6px;color:rgb(35,31,31);
}
#P39_83
{
left:22769.4px;bottom:15836.8px;color:rgb(35,31,31);
}
#P39_84
{
left:0px;letter-spacing:0px;margin-left:-37.6px;
}
#P39_85
{
left:23048.4px;bottom:15666.2px;color:rgb(35,31,31);
}
#P39_86
{
left:23294.8px;bottom:15767.2px;color:rgb(35,31,31);
}
#P39_87
{
left:23351.1px;bottom:15836.8px;color:rgb(35,31,31);
}
#P39_88
{
left:26890.1px;bottom:15666.2px;color:rgb(35,31,31);
}
#P39_89
{
left:27136.5px;bottom:15836.8px;color:rgb(35,31,31);
}
#P39_90
{
left:27136.5px;bottom:16180.5px;color:rgb(35,31,31);
}
#P39_91
{
left:13128.4px;bottom:14748.8px;letter-spacing:801.6px;color:rgb(35,31,31);
}
#P39_92
{
left:0px;letter-spacing:0px;margin-left:-768px;
}
#P39_93
{
left:0px;letter-spacing:0px;margin-left:6625.6px;
}
#P39_94
{
left:22182.8px;bottom:14739.6px;color:rgb(35,31,31);
}
#P39_95
{
left:22769.2px;bottom:14748.8px;color:rgb(35,31,31);
}
#P39_96
{
left:23112.4px;bottom:14748.8px;color:rgb(235,26,35);
}
#P39_97
{
left:23858.6px;bottom:15092.5px;color:rgb(35,31,31);
}
#P39_98
{
left:24129.9px;bottom:14748.8px;color:rgb(35,31,31);
}
#P39_99
{
left:27336.4px;bottom:14756.8px;color:rgb(0,124,196);
}
#P39_100
{
left:13128.4px;bottom:13660.8px;letter-spacing:801.6px;color:rgb(35,31,31);
}
#P39_101
{
left:0px;letter-spacing:0px;margin-left:-768px;
}
#P39_102
{
left:0px;letter-spacing:0px;margin-left:6625.6px;
}
#P39_103
{
left:22182.8px;bottom:13651.6px;color:rgb(35,31,31);
}
#P39_104
{
left:22769.2px;bottom:13660.8px;letter-spacing:8.8px;color:rgb(35,31,31);
}
#P39_105
{
left:0px;letter-spacing:0px;margin-left:-8.8px;
}
#P39_106
{
left:27336.4px;bottom:13668.8px;color:rgb(0,124,196);
}
#P39_107
{
left:0px;letter-spacing:0px;margin-left:-49.7px;
}
#P39_108
{
left:15120.4px;bottom:12124.8px;color:rgb(35,31,31);
}
#P39_109
{
left:15824.4px;bottom:12316.8px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P39_110
{
left:0px;letter-spacing:0px;margin-left:-13.4px;
}
#P39_111
{
left:0px;letter-spacing:0px;margin-left:-13.9px;
}
#P39_112
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P39_113
{
left:13896.4px;bottom:8156.78px;color:rgb(35,31,31);
}
#P39_114
{
left:13986.3px;bottom:8183.6px;word-spacing:453.2px;color:rgb(35,31,31);
}
#P39_115
{
left:15560.4px;bottom:8156.78px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P39_116
{
left:0px;letter-spacing:0px;margin-left:-13.5px;
}
#P39_117
{
left:15560.4px;bottom:7260.78px;letter-spacing:-1.7px;color:rgb(35,31,31);
}
#P39_118
{
left:0px;letter-spacing:0px;margin-left:-213px;
}
#P39_119
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P39_120
{
left:0px;letter-spacing:-0.6px;
}
#P39_121
{
left:15560.4px;bottom:6364.91px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P39_122
{
left:7801.11px;bottom:20769.6px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P39_123
{
left:14669.4px;bottom:20794.2px;color:white;
}
#P39_124
{
left:17053.2px;bottom:20986px;color:white;
}
#P39_125
{
left:17293.4px;bottom:20794.2px;word-spacing:-31.9px;color:white;
}
#P39_126
{
left:20061.7px;bottom:20986px;color:white;
}
#P39_127
{
left:20301.9px;bottom:20794.2px;color:white;
}
#P39_128
{
left:21485.6px;bottom:20986px;color:white;
}
#P39_129
{
left:21725.8px;bottom:20794.2px;color:white;
}
#P39_130
{
left:12825px;bottom:20627.1px;
}
#P39_131
{
left:12825px;bottom:20627.1px;color:white;
}
#P39_132
{
left:8013.4px;bottom:33828.8px;color:rgb(35,31,31);
}
#P39_133
{
left:8013.4px;bottom:33060.8px;color:rgb(35,31,31);
}
#P39_134
{
left:13117.4px;bottom:46780.8px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P39_135
{
left:24130.7px;bottom:46780.8px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P39_136
{
left:28827.7px;bottom:46780.8px;color:rgb(35,31,31);
}
#P39_137
{
left:13117.4px;bottom:27748.8px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P39_138
{
left:0px;letter-spacing:0px;margin-left:-13.2px;
}
#P39_139
{
left:0px;letter-spacing:0px;margin-left:-13.9px;
}
#P39_140
{
left:23866.6px;bottom:25188.8px;letter-spacing:-2.8px;word-spacing:10593.6px;color:rgb(35,31,31);
}
#P39_141
{
left:25464.8px;bottom:25179.6px;color:rgb(35,31,31);
}
#P39_142
{
left:26051.2px;bottom:25188.8px;color:rgb(35,31,31);
}
#P39_143
{
left:26582.7px;bottom:25532.5px;color:rgb(35,31,31);
}
#P39_144
{
left:26854px;bottom:25188.8px;color:rgb(35,31,31);
}
#P39_145
{
left:27012.4px;bottom:25179.6px;color:rgb(35,31,31);
}
#P39_146
{
left:27598.8px;bottom:25188.8px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P39_147
{
left:4946.71px;bottom:28012.3px;color:white;
}
#P39_148
{
left:5181.4px;bottom:26918.4px;color:rgb(35,31,31);
}
#P39_149
{
left:6355.16px;bottom:26918.4px;color:rgb(35,31,31);
}
#P39_150
{
left:7528.28px;bottom:26918.4px;color:rgb(35,31,31);
}
#P39_151
{
left:0px;letter-spacing:0px;margin-left:-177.9px;
}
#P39_152
{
left:0px;letter-spacing:0px;margin-left:-11.4px;
}
#P39_153
{
left:5181.4px;bottom:26150.4px;color:rgb(35,31,31);
}
#P39_154
{
left:5181.4px;bottom:25382.4px;color:rgb(35,31,31);
}
#P39_155
{
left:5181.4px;bottom:24614.4px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P39_156
{
left:0px;letter-spacing:0px;margin-left:-10.5px;
}
#P39_157
{
left:5181.4px;bottom:23846.4px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P39_158
{
left:21560.4px;bottom:25351.3px;color:rgb(0,145,68);
}
#P39_159
{
left:19671.1px;bottom:23431.5px;color:rgb(0,145,68);
}
#P39_160
{
left:12574px;bottom:15624.7px;color:rgb(33,31,31);
}
#P39_161
{
left:7751.77px;bottom:11071.4px;color:rgb(33,31,31);
}
#P39_162
{
left:31623.9px;bottom:9677.87px;color:rgb(33,31,31);
}
#P39_163
{
left:31623.9px;bottom:5558.32px;color:rgb(33,31,31);
}
#PageContainer39
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg039.jpg");background-repeat:no-repeat;background-size: 887px 1277px; background-position: 122.71px 0.339999999999918px;
}
#ImageContainer39 {bottom:86.66px;left:122.71px;width:886.53px;height:1277.50px;position:absolute;} #TextContainer39 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

.example3{position:absolute;top: 121px;left: 154px;}
.example4{position:absolute;top: 768px;left: 162px;}
.nyr{position: absolute;top: 400px;left: 185px;}
.nyr_exr{position: absolute;top: 432px;left: 213px; color:rgb(35,31,31); font-size:16px; white-space:pre;}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}