.tr440{ color:transparent;}
#P440_1
{
left:2365.4px;bottom:1409.96px;color:rgb(35,31,31);
}
#P440_2
{
left:3540.44px;bottom:1544.36px;color:rgb(35,31,31);
}
#P440_3
{
left:4925.4px;bottom:1409.96px;color:rgb(35,31,31);
}
#P440_4
{
left:7841.88px;bottom:1544.36px;letter-spacing:462.1px;color:rgb(35,31,31);
}
#P440_5
{
left:0px;letter-spacing:4.6px;margin-left:-470px;
}
#P440_6
{
left:0px;letter-spacing:2px;margin-left:-8.9px;
}
#P440_7
{
left:0px;letter-spacing:2.7px;margin-left:4.6px;
}
#P440_8
{
left:5453.4px;bottom:40375px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P440_9
{
left:12321.7px;bottom:40399.5px;color:white;
}
#P440_10
{
left:12737.3px;bottom:40591.3px;color:white;
}
#P440_11
{
left:12977.5px;bottom:40399.5px;color:white;
}
#P440_12
{
left:13953.8px;bottom:40591.3px;color:white;
}
#P440_13
{
left:14194px;bottom:40399.5px;color:white;
}
#P440_14
{
left:10477.4px;bottom:40232.4px;
}
#P440_15
{
left:10477.4px;bottom:40232.4px;color:white;
}
#P440_16
{
left:11548.7px;bottom:38770.1px;letter-spacing:-1.6px;color:rgb(35,31,31);
}
#P440_17
{
left:0px;letter-spacing:-0.4px;margin-left:1.6px;
}
#P440_18
{
left:11548.7px;bottom:37874.1px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P440_19
{
left:0px;letter-spacing:-0.8px;margin-left:0.8px;
}
#P440_20
{
left:0px;letter-spacing:-14px;margin-left:-49.8px;
}
#P440_21
{
left:0px;letter-spacing:0px;margin-left:-1.5px;
}
#P440_22
{
left:11548.7px;bottom:36978.2px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P440_23
{
left:11548.7px;bottom:35826.1px;letter-spacing:-35.2px;word-spacing:70.3px;color:rgb(35,31,31);
}
#P440_24
{
left:0px;letter-spacing:0px;margin-left:-35.2px;
}
#P440_25
{
left:12694.9px;bottom:35826.1px;letter-spacing:28.2px;color:rgb(35,31,31);
}
#P440_26
{
left:0px;letter-spacing:-0.5px;margin-left:-28.2px;
}
#P440_27
{
left:0px;letter-spacing:-2.3px;margin-left:-3.7px;
}
#P440_28
{
left:0px;letter-spacing:0px;margin-left:2.3px;
}
#P440_29
{
left:11548.7px;bottom:34930.2px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P440_30
{
left:0px;letter-spacing:0px;margin-left:0.6px;
}
#P440_31
{
left:11548.7px;bottom:33650.1px;letter-spacing:1377.6px;color:rgb(235,26,35);
}
#P440_32
{
left:13457.8px;bottom:33650.1px;color:rgb(35,31,31);
}
#P440_33
{
left:24771px;bottom:33650.1px;color:rgb(235,26,35);
}
#P440_34
{
left:11548.7px;bottom:32370.1px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P440_35
{
left:0px;letter-spacing:0px;margin-left:-25.1px;
}
#P440_36
{
left:0px;letter-spacing:-1.5px;
}
#P440_37
{
left:0px;letter-spacing:0px;margin-left:1.5px;
}
#P440_38
{
left:12132.7px;bottom:31090.1px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P440_39
{
left:0px;letter-spacing:0px;margin-left:-704px;
}
#P440_40
{
left:0px;letter-spacing:-9.3px;margin-left:-8.4px;
}
#P440_41
{
left:0px;letter-spacing:-0.2px;margin-left:9.3px;
}
#P440_42
{
left:23687.6px;bottom:31060.5px;color:rgb(35,31,31);
}
#P440_43
{
left:24274px;bottom:31090.1px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P440_44
{
left:0px;letter-spacing:0px;margin-left:1.4px;
}
#P440_45
{
left:12836.7px;bottom:30194.1px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P440_46
{
left:0px;letter-spacing:-0.6px;margin-left:0.5px;
}
#P440_47
{
left:11548.7px;bottom:27122.2px;color:rgb(35,31,31);
}
#P440_48
{
left:11687.1px;bottom:27148.9px;word-spacing:266.4px;color:rgb(35,31,31);
}
#P440_49
{
left:12700.7px;bottom:27122.1px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P440_50
{
left:0px;letter-spacing:0px;margin-left:0.4px;
}
#P440_51
{
left:12700.7px;bottom:26226.1px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P440_52
{
left:0px;letter-spacing:-0.8px;margin-left:0.5px;
}
#P440_53
{
left:5709.4px;bottom:26012.8px;color:rgb(35,31,31);
}
#P440_54
{
left:5889.56px;bottom:46957.1px;color:white;
}
#P440_55
{
left:2371.78px;bottom:46929.9px;color:white;
}
#P440_56
{
left:10813.4px;bottom:44188.8px;color:rgb(35,31,31);
}
#P440_57
{
left:11418.8px;bottom:44188.8px;letter-spacing:-2px;color:rgb(35,31,31);
}
#P440_58
{
left:0px;letter-spacing:0.9px;margin-left:2px;
}
#P440_59
{
left:18204px;bottom:44188.8px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P440_60
{
left:10813.4px;bottom:43292.8px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P440_61
{
left:0px;letter-spacing:0.5px;margin-left:0.6px;
}
#P440_62
{
left:0px;letter-spacing:0px;margin-left:-215.4px;
}
#P440_63
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P440_64
{
left:0px;letter-spacing:0px;
}
#P440_65
{
left:27351.6px;bottom:43292.8px;letter-spacing:-2.8px;color:rgb(35,31,31);
}
#P440_66
{
left:29440.5px;bottom:43292.8px;word-spacing:-25.3px;color:rgb(35,31,31);
}
#P440_67
{
left:30825.3px;bottom:43292.8px;color:rgb(35,31,31);
}
#P440_68
{
left:32707.7px;bottom:43292.8px;color:rgb(35,31,31);
}
#P440_69
{
left:10813.4px;bottom:42396.8px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P440_70
{
left:0px;letter-spacing:-1.1px;margin-left:0.6px;
}
#P440_71
{
left:0px;letter-spacing:-0.8px;margin-left:1.1px;
}
#P440_72
{
left:2856.07px;bottom:38162.1px;letter-spacing:-7.7px;word-spacing:-26px;color:rgb(0,124,196);
}
#P440_73
{
left:0px;letter-spacing:0px;margin-left:7.7px;
}
#P440_74
{
left:2856.07px;bottom:37220.1px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P440_75
{
left:2856.07px;bottom:36324.1px;color:rgb(35,31,31);
}
#P440_76
{
left:3624.07px;bottom:36324.1px;color:rgb(35,31,31);
}
#P440_77
{
left:2856.07px;bottom:35428.1px;color:rgb(35,31,31);
}
#P440_78
{
left:4598.81px;bottom:35428.1px;color:rgb(35,31,31);
}
#P440_79
{
left:2856.07px;bottom:34532.1px;color:rgb(35,31,31);
}
#P440_80
{
left:5344.99px;bottom:34532.1px;color:rgb(35,31,31);
}
#P440_81
{
left:2856.07px;bottom:33636.1px;letter-spacing:-177.9px;color:rgb(35,31,31);
}
#P440_82
{
left:0px;letter-spacing:0px;margin-left:177.9px;
}
#P440_83
{
left:6304.99px;bottom:33636.1px;color:rgb(35,31,31);
}
#P440_84
{
left:2856.07px;bottom:32740.1px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P440_85
{
left:6542.55px;bottom:32740.1px;color:rgb(35,31,31);
}
#P440_86
{
left:2856.07px;bottom:31844.1px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P440_87
{
left:3624.07px;bottom:30948.1px;word-spacing:590.1px;color:rgb(35,31,31);
}
#P440_88
{
left:0px;letter-spacing:0px;margin-left:-590.1px;
}
#P440_89
{
left:26785.2px;bottom:46188.3px;word-spacing:0.2px;color:rgb(33,31,31);
}
#P440_90
{
left:0px;letter-spacing:0px;margin-left:-44.8px;
}
#P440_91
{
left:0px;letter-spacing:0px;margin-left:0.2px;
}
#P440_92
{
left:28827px;bottom:38486.3px;color:rgb(35,31,31);
}
#P440_93
{
left:28690.9px;bottom:37379.5px;color:rgb(35,31,31);
}
#P440_94
{
left:0px;letter-spacing:0px;margin-left:2790.2px;
}
#P440_95
{
left:28957.9px;bottom:36355.6px;color:rgb(35,31,31);
}
#P440_96
{
left:0px;letter-spacing:0px;margin-left:2879.4px;
}
#P440_97
{
left:28957.9px;bottom:35331.6px;color:rgb(35,31,31);
}
#P440_98
{
left:0px;letter-spacing:0px;margin-left:2612.2px;
}
#P440_99
{
left:28690.9px;bottom:34307.6px;color:rgb(35,31,31);
}
#P440_100
{
left:0px;letter-spacing:0px;margin-left:2345.1px;
}
#P440_101
{
left:28512.8px;bottom:33283.6px;color:rgb(35,31,31);
}
#P440_102
{
left:0px;letter-spacing:0px;margin-left:2612.2px;
}
#P440_103
{
left:2664.07px;bottom:19036.8px;color:white;
}
#P440_104
{
left:4834.2px;bottom:19278.4px;color:white;
}
#P440_105
{
left:5170.14px;bottom:19036.8px;color:white;
}
#P440_106
{
left:2792.07px;bottom:17933.8px;color:rgb(35,31,31);
}
#P440_107
{
left:0px;letter-spacing:0px;margin-left:-177.9px;
}
#P440_108
{
left:2792.07px;bottom:17165.8px;color:rgb(35,31,31);
}
#P440_109
{
left:2792.07px;bottom:16397.8px;color:rgb(35,31,31);
}
#P440_110
{
left:6916.83px;bottom:16397.8px;color:rgb(35,31,31);
}
#P440_111
{
left:2792.07px;bottom:15629.8px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P440_112
{
left:2792.07px;bottom:14861.8px;color:rgb(35,31,31);
}
#P440_113
{
left:6454.75px;bottom:14861.8px;color:rgb(35,31,31);
}
#P440_114
{
left:2792.07px;bottom:14093.8px;color:rgb(35,31,31);
}
#P440_115
{
left:12253.4px;bottom:21763.3px;color:rgb(35,31,31);
}
#P440_116
{
left:14052.8px;bottom:21919.6px;color:rgb(35,31,31);
}
#P440_117
{
left:14248.5px;bottom:21763.3px;color:rgb(35,31,31);
}
#P440_118
{
left:12253.4px;bottom:20655.6px;color:rgb(35,31,31);
}
#P440_119
{
left:13638.2px;bottom:20655.6px;letter-spacing:0.7px;color:rgb(35,31,31);
}
#P440_120
{
left:16579.3px;bottom:20655.6px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P440_121
{
left:0px;letter-spacing:0px;margin-left:-13.8px;
}
#P440_122
{
left:12253.4px;bottom:19759.6px;letter-spacing:-0.2px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P440_123
{
left:12253.4px;bottom:17071.6px;word-spacing:1399.3px;color:rgb(35,31,31);
}
#P440_124
{
left:16861.4px;bottom:17071.6px;color:rgb(0,124,196);
}
#P440_125
{
left:19186.5px;bottom:17071.6px;letter-spacing:-21.1px;word-spacing:1399.3px;color:rgb(35,31,31);
}
#P440_126
{
left:0px;letter-spacing:0px;margin-left:1578.9px;
}
#P440_127
{
left:28381.4px;bottom:17071.6px;color:rgb(0,124,196);
}
#P440_128
{
left:30685.4px;bottom:17071.6px;word-spacing:1357.1px;color:rgb(35,31,31);
}
#P440_129
{
left:0px;letter-spacing:0px;margin-left:42.2px;
}
#P440_130
{
left:12253.4px;bottom:11715.3px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P440_131
{
left:15487.7px;bottom:11871.6px;color:rgb(35,31,31);
}
#P440_132
{
left:15683.4px;bottom:11715.3px;color:rgb(35,31,31);
}
#P440_133
{
left:12253.4px;bottom:10607.5px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P440_134
{
left:0px;letter-spacing:-0.3px;margin-left:1px;
}
#P440_135
{
left:0px;letter-spacing:0px;margin-left:-214.7px;
}
#P440_136
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P440_137
{
left:0px;letter-spacing:0.4px;
}
#P440_138
{
left:12253.4px;bottom:9711.53px;color:rgb(35,31,31);
}
#P440_139
{
left:15494.6px;bottom:9711.53px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P440_140
{
left:21755.1px;bottom:9711.53px;letter-spacing:-8.4px;color:rgb(35,31,31);
}
#P440_141
{
left:0px;letter-spacing:-1.6px;margin-left:8.4px;
}
#P440_142
{
left:0px;letter-spacing:-0.6px;margin-left:-12.4px;
}
#P440_143
{
left:0px;letter-spacing:0px;margin-left:0.6px;
}
#P440_144
{
left:12253.4px;bottom:8815.66px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P440_145
{
left:0px;letter-spacing:0.8px;margin-left:0.4px;
}
#P440_146
{
left:12253.4px;bottom:7471.66px;word-spacing:1399.3px;color:rgb(35,31,31);
}
#P440_147
{
left:16861.4px;bottom:7471.6px;color:rgb(0,124,196);
}
#P440_148
{
left:19186.5px;bottom:7471.6px;letter-spacing:-21.1px;word-spacing:1399.3px;color:rgb(35,31,31);
}
#P440_149
{
left:0px;letter-spacing:0px;margin-left:1578.9px;
}
#P440_150
{
left:28381.4px;bottom:7471.6px;color:rgb(0,124,196);
}
#P440_151
{
left:30685.4px;bottom:7471.6px;word-spacing:1357.1px;color:rgb(35,31,31);
}
#P440_152
{
left:0px;letter-spacing:0px;margin-left:42.2px;
}
#P440_153
{
left:12253.4px;bottom:6319.6px;color:rgb(35,31,31);
}
#P440_154
{
left:18525.4px;bottom:6319.6px;color:rgb(0,124,196);
}
#P440_155
{
left:19919.3px;bottom:6290.03px;color:rgb(0,124,196);
}
#P440_156
{
left:20505.8px;bottom:6319.6px;color:rgb(0,124,196);
}
#P440_157
{
left:22109.4px;bottom:6319.6px;color:rgb(0,124,196);
}
#P440_158
{
left:22639.5px;bottom:6111.39px;color:rgb(0,124,196);
}
#P440_159
{
left:22910.7px;bottom:6319.6px;color:rgb(0,124,196);
}
#P440_160
{
left:24733.4px;bottom:6290.03px;color:rgb(0,124,196);
}
#P440_161
{
left:25319.8px;bottom:6319.6px;color:rgb(0,124,196);
}
#P440_162
{
left:27421.4px;bottom:6319.6px;color:rgb(0,124,196);
}
#P440_163
{
left:27951.5px;bottom:6111.39px;color:rgb(0,124,196);
}
#P440_164
{
left:12253.4px;bottom:5167.6px;letter-spacing:7393.6px;color:rgb(0,124,196);
}
#P440_165
{
left:19963.8px;bottom:5138.03px;color:rgb(0,124,196);
}
#P440_166
{
left:22109.4px;bottom:5167.6px;word-spacing:1400.7px;color:rgb(0,124,196);
}
#P440_167
{
left:24733.4px;bottom:5138.03px;color:rgb(0,124,196);
}
#P440_168
{
left:27421.4px;bottom:5167.6px;word-spacing:1943.2px;color:rgb(0,124,196);
}
#P440_169
{
left:12253.4px;bottom:4015.6px;letter-spacing:7393.6px;color:rgb(0,124,196);
}
#P440_170
{
left:19963.8px;bottom:3986.03px;color:rgb(0,124,196);
}
#P440_171
{
left:22109.4px;bottom:4015.6px;word-spacing:1400.7px;color:rgb(0,124,196);
}
#P440_172
{
left:13374.6px;bottom:14748.8px;letter-spacing:-8.3px;color:rgb(0,124,196);
}
#P440_173
{
left:0px;letter-spacing:0px;margin-left:8.3px;
}
#P440_174
{
left:13374.6px;bottom:13852.8px;color:rgb(0,124,196);
}
#P440_175
{
left:14916.1px;bottom:13864.5px;color:rgb(35,31,31);
}
#P440_176
{
left:15315px;bottom:13864.5px;letter-spacing:-5.2px;word-spacing:19px;color:rgb(35,31,31);
}
#P440_177
{
left:0px;letter-spacing:0px;margin-left:5.2px;
}
#P440_178
{
left:18587.5px;bottom:13852.8px;letter-spacing:-24.8px;color:rgb(0,124,196);
}
#P440_179
{
left:18864.6px;bottom:13852.8px;color:rgb(0,124,196);
}
#P440_180
{
left:19296.5px;bottom:13654px;color:rgb(0,124,196);
}
#P440_181
{
left:19531px;bottom:13852.8px;color:rgb(0,124,196);
}
#P440_182
{
left:24915.9px;bottom:14748.8px;letter-spacing:-8.3px;color:rgb(0,124,196);
}
#P440_183
{
left:0px;letter-spacing:0px;margin-left:8.3px;
}
#P440_184
{
left:24915.9px;bottom:13852.8px;color:rgb(0,124,196);
}
#P440_185
{
left:26457.4px;bottom:13864.5px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P440_186
{
left:30364.7px;bottom:13852.8px;letter-spacing:-24.8px;color:rgb(0,124,196);
}
#P440_187
{
left:30641.9px;bottom:13852.8px;color:rgb(0,124,196);
}
#P440_188
{
left:31073.8px;bottom:13654px;color:rgb(0,124,196);
}
#P440_189
{
left:31308.2px;bottom:13852.8px;color:rgb(0,124,196);
}
#P440_190
{
left:21320.1px;bottom:18668.2px;color:rgb(0,124,196);
}
#P440_191
{
left:23409.9px;bottom:18640px;color:rgb(0,124,196);
}
#P440_192
{
left:23969.7px;bottom:18668.2px;color:rgb(0,124,196);
}
#P440_193
{
left:15986.7px;bottom:18847.5px;color:rgb(0,124,196);
}
#P440_194
{
left:0px;letter-spacing:0px;margin-left:8786.3px;
}
#PageContainer440
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg440.jpg");background-repeat:no-repeat;background-size: 1002px 1291px; background-position: 0px 35.3699999999999px;
}
#ImageContainer440 {bottom:37.63px;left:0.00px;width:1002.46px;height:1291.35px;position:absolute;} #TextContainer440 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.example1{position:absolute; top: 234px; left: 106px;}
.nyr{position:absolute; top: 608px; left: 125px;}
.nyr_exr{position:absolute; top: 641px; left: 157px;color:rgb(35,31,31);font-size:16px}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}

.gloss_pos1 {
	left: 374px;
	top: 974px;
	width: 280px;	
}
.gloss_pos2 {
	left: 556px;
	top: 895px;
	width: 280px;	
}