.tr382{ color:transparent;}
#P382_1
{
left:2365.4px;bottom:1409.96px;color:rgb(35,31,31);
}
#P382_2
{
left:3540.44px;bottom:1409.96px;color:rgb(35,31,31);
}
#P382_3
{
left:4925.4px;bottom:1409.96px;color:rgb(35,31,31);
}
#P382_4
{
left:9121.88px;bottom:1409.96px;letter-spacing:462.3px;word-spacing:-0.3px;color:rgb(35,31,31);
}
#P382_5
{
left:0px;letter-spacing:3.9px;margin-left:-462.1px;
}
#P382_6
{
left:0px;letter-spacing:-0.8px;margin-left:173.2px;
}
#P382_7
{
left:0px;letter-spacing:2.1px;margin-left:1.8px;
}
#P382_8
{
left:5889.56px;bottom:46957.1px;color:white;
}
#P382_9
{
left:2371.78px;bottom:46929.9px;color:white;
}
#P382_10
{
left:10045.4px;bottom:44178.7px;color:rgb(35,31,31);
}
#P382_11
{
left:10650.8px;bottom:44178.7px;color:rgb(35,31,31);
}
#P382_12
{
left:12242.6px;bottom:44178.7px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P382_13
{
left:0px;letter-spacing:0px;margin-left:-214.3px;
}
#P382_14
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P382_15
{
left:0px;letter-spacing:-0.6px;
}
#P382_16
{
left:0px;letter-spacing:0px;margin-left:-13.3px;
}
#P382_17
{
left:29278.1px;bottom:44178.7px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P382_18
{
left:33111.4px;bottom:44178.7px;color:rgb(35,31,31);
}
#P382_19
{
left:10045.4px;bottom:43282.7px;color:rgb(35,31,31);
}
#P382_20
{
left:15137.3px;bottom:43282.7px;color:rgb(35,31,31);
}
#P382_21
{
left:16657.2px;bottom:43282.7px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P382_22
{
left:0px;letter-spacing:0px;margin-left:-13.1px;
}
#P382_23
{
left:5433.11px;bottom:33585.6px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P382_24
{
left:12301.4px;bottom:33610.2px;color:white;
}
#P382_25
{
left:12717px;bottom:33802px;color:white;
}
#P382_26
{
left:12957.2px;bottom:33610.2px;color:white;
}
#P382_27
{
left:13933.5px;bottom:33802px;color:white;
}
#P382_28
{
left:14173.7px;bottom:33610.2px;color:white;
}
#P382_29
{
left:0px;letter-spacing:0px;margin-left:-21.5px;
}
#P382_30
{
left:0px;letter-spacing:0px;margin-left:-31.9px;
}
#P382_31
{
left:0px;letter-spacing:0px;margin-left:-31.9px;
}
#P382_32
{
left:0px;letter-spacing:0px;margin-left:-31.9px;
}
#P382_33
{
left:0px;letter-spacing:0px;margin-left:-47.4px;
}
#P382_34
{
left:29648.3px;bottom:33802px;color:white;
}
#P382_35
{
left:29888.5px;bottom:33610.2px;color:white;
}
#P382_36
{
left:10457px;bottom:33443.1px;
}
#P382_37
{
left:10457px;bottom:33443.1px;color:white;
}
#P382_38
{
left:11528.4px;bottom:31980.8px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P382_39
{
left:0px;letter-spacing:0px;margin-left:-27.4px;
}
#P382_40
{
left:0px;letter-spacing:-7px;
}
#P382_41
{
left:0px;letter-spacing:-0.2px;margin-left:7px;
}
#P382_42
{
left:11528.4px;bottom:30700.8px;color:rgb(35,31,31);
}
#P382_43
{
left:15867.7px;bottom:30700.8px;color:rgb(235,26,35);
}
#P382_44
{
left:17703.1px;bottom:30700.8px;color:rgb(35,31,31);
}
#P382_45
{
left:22764.1px;bottom:30700.8px;color:rgb(235,26,35);
}
#P382_46
{
left:24599.3px;bottom:30700.8px;color:rgb(35,31,31);
}
#P382_47
{
left:11528.4px;bottom:29804.8px;letter-spacing:-2.8px;color:rgb(35,31,31);
}
#P382_48
{
left:0px;letter-spacing:0px;margin-left:2.8px;
}
#P382_49
{
left:16495.2px;bottom:29804.8px;color:rgb(235,26,35);
}
#P382_50
{
left:18637.4px;bottom:29804.8px;letter-spacing:-1.1px;color:rgb(35,31,31);
}
#P382_51
{
left:11528.4px;bottom:28524.8px;color:rgb(35,31,31);
}
#P382_52
{
left:18388px;bottom:28524.8px;letter-spacing:-0.6px;color:rgb(2,77,161);
}
#P382_53
{
left:26562.3px;bottom:28524.8px;color:rgb(35,31,31);
}
#P382_54
{
left:11528.4px;bottom:27244.8px;color:rgb(35,31,31);
}
#P382_55
{
left:18595px;bottom:27244.8px;letter-spacing:-0.8px;color:rgb(63,172,72);
}
#P382_56
{
left:24031.5px;bottom:27244.8px;color:rgb(35,31,31);
}
#P382_57
{
left:12816.4px;bottom:25964.8px;letter-spacing:545.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P382_58
{
left:0px;letter-spacing:-9.4px;margin-left:-554px;
}
#P382_59
{
left:0px;letter-spacing:-0.3px;margin-left:9.3px;
}
#P382_60
{
left:0px;letter-spacing:0px;margin-left:-13.7px;
}
#P382_61
{
left:11528.4px;bottom:22700.8px;color:rgb(35,31,31);
}
#P382_62
{
left:11666.8px;bottom:22727.6px;word-spacing:266.4px;color:rgb(35,31,31);
}
#P382_63
{
left:12680.4px;bottom:22700.8px;letter-spacing:-0.7px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P382_64
{
left:0px;letter-spacing:0.4px;margin-left:159.5px;
}
#P382_65
{
left:12680.4px;bottom:21804.8px;color:rgb(35,31,31);
}
#P382_66
{
left:26785.2px;bottom:46188.3px;word-spacing:0.2px;color:rgb(33,31,31);
}
#P382_67
{
left:0px;letter-spacing:0px;margin-left:-44.8px;
}
#P382_68
{
left:0px;letter-spacing:0px;margin-left:0.2px;
}
#P382_69
{
left:2856.07px;bottom:43515.2px;letter-spacing:-7.7px;word-spacing:-26px;color:rgb(0,124,196);
}
#P382_70
{
left:0px;letter-spacing:0px;margin-left:7.7px;
}
#P382_71
{
left:2856.07px;bottom:42573.2px;color:rgb(35,31,31);
}
#P382_72
{
left:4456.73px;bottom:42573.2px;color:rgb(35,31,31);
}
#P382_73
{
left:2856.07px;bottom:41677.2px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P382_74
{
left:6294.87px;bottom:41677.2px;color:rgb(35,31,31);
}
#P382_75
{
left:2856.07px;bottom:40781.2px;color:rgb(35,31,31);
}
#P382_76
{
left:4349.21px;bottom:40781.2px;color:rgb(35,31,31);
}
#P382_77
{
left:2856.07px;bottom:39885.2px;color:rgb(35,31,31);
}
#P382_78
{
left:4563.61px;bottom:39885.2px;color:rgb(35,31,31);
}
#P382_79
{
left:2856.07px;bottom:38989.2px;color:rgb(35,31,31);
}
#P382_80
{
left:4846.49px;bottom:38989.2px;color:rgb(35,31,31);
}
#P382_81
{
left:2856.07px;bottom:38093.2px;color:rgb(35,31,31);
}
#P382_82
{
left:4705.05px;bottom:38093.2px;color:rgb(35,31,31);
}
#P382_83
{
left:2856.07px;bottom:37197.2px;color:rgb(35,31,31);
}
#P382_84
{
left:5416.03px;bottom:37197.2px;color:rgb(35,31,31);
}
#P382_85
{
left:11837.4px;bottom:14640.4px;color:rgb(35,31,31);
}
#P382_86
{
left:12442.8px;bottom:14640.4px;letter-spacing:1.4px;color:rgb(35,31,31);
}
#P382_87
{
left:14394.8px;bottom:14640.4px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P382_88
{
left:11837.4px;bottom:13744.4px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P382_89
{
left:18854.9px;bottom:13744.4px;color:rgb(35,31,31);
}
#P382_90
{
left:20510px;bottom:13744.4px;word-spacing:-25.3px;color:rgb(35,31,31);
}
#P382_91
{
left:11837.4px;bottom:12848.6px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P382_92
{
left:15564.4px;bottom:12848.6px;letter-spacing:-2.1px;color:rgb(35,31,31);
}
#P382_93
{
left:0px;letter-spacing:-2.6px;margin-left:2.1px;
}
#P382_94
{
left:18106.6px;bottom:8762.03px;color:rgb(0,124,196);
}
#P382_95
{
left:13264.2px;bottom:9786.16px;color:rgb(237,28,35);
}
#P382_96
{
left:18368.2px;bottom:11066px;color:rgb(237,28,35);
}
#P382_97
{
left:14397.4px;bottom:7216.43px;letter-spacing:-23.3px;color:rgb(35,31,31);
}
#P382_98
{
left:0px;letter-spacing:-0.2px;margin-left:23.3px;
}
#P382_99
{
left:24589.4px;bottom:14624.4px;color:rgb(35,31,31);
}
#P382_100
{
left:25194.8px;bottom:14624.4px;letter-spacing:-1.7px;color:rgb(35,31,31);
}
#P382_101
{
left:27994.6px;bottom:14624.4px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P382_102
{
left:24589.4px;bottom:13728.4px;letter-spacing:-1.1px;color:rgb(35,31,31);
}
#P382_103
{
left:0px;letter-spacing:0px;margin-left:-24.2px;
}
#P382_104
{
left:0px;letter-spacing:-0.5px;
}
#P382_105
{
left:24589.4px;bottom:12832.5px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P382_106
{
left:0px;letter-spacing:0px;margin-left:-13.2px;
}
#P382_107
{
left:30578.9px;bottom:8788.01px;color:rgb(237,28,35);
}
#P382_108
{
left:30179.2px;bottom:11011.9px;color:rgb(0,124,196);
}
#P382_109
{
left:24589.4px;bottom:7206.06px;color:rgb(35,31,31);
}
#P382_110
{
left:26573.4px;bottom:7200.43px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P382_111
{
left:18291.9px;bottom:5401.58px;letter-spacing:-8.3px;color:rgb(0,124,196);
}
#P382_112
{
left:0px;letter-spacing:0px;margin-left:8.3px;
}
#P382_113
{
left:18291.9px;bottom:4505.58px;color:rgb(0,124,196);
}
#P382_114
{
left:11891.5px;bottom:15625.1px;color:rgb(35,31,31);
}
#P382_115
{
left:12556.8px;bottom:15781.4px;color:rgb(35,31,31);
}
#P382_116
{
left:12752.5px;bottom:15625.1px;letter-spacing:-1.6px;word-spacing:10441px;color:rgb(35,31,31);
}
#P382_117
{
left:26546.8px;bottom:15781.4px;color:rgb(35,31,31);
}
#P382_118
{
left:26742.6px;bottom:15625.1px;color:rgb(35,31,31);
}
#P382_119
{
left:5677.4px;bottom:21852.8px;color:rgb(35,31,31);
}
#P382_120
{
left:0px;letter-spacing:0px;margin-left:-66.2px;
}
#P382_121
{
left:24969.7px;bottom:37487.1px;color:rgb(0,145,68);
}
#P382_122
{
left:25516.7px;bottom:37506px;color:rgb(33,31,31);
}
#P382_123
{
left:27296.2px;bottom:37487.1px;color:rgb(0,145,68);
}
#P382_124
{
left:24969.7px;bottom:36680.7px;color:rgb(0,145,68);
}
#P382_125
{
left:12336.5px;bottom:37250.4px;color:rgb(0,124,196);
}
#P382_126
{
left:13046.2px;bottom:37250.4px;color:rgb(0,145,68);
}
#P382_127
{
left:13207.4px;bottom:37269.2px;color:rgb(35,31,31);
}
#P382_128
{
left:14775.9px;bottom:37250.4px;color:rgb(0,124,196);
}
#P382_129
{
left:12336.5px;bottom:36444px;color:rgb(0,124,196);
}
#P382_130
{
left:13908.8px;bottom:41416.2px;color:rgb(235,26,35);
}
#P382_131
{
left:14455.8px;bottom:41435px;color:rgb(33,31,31);
}
#P382_132
{
left:15637.8px;bottom:41416.2px;color:rgb(235,26,35);
}
#P382_133
{
left:13908.8px;bottom:40609.8px;color:rgb(235,26,35);
}
#PageContainer382
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg382.jpg");background-repeat:no-repeat;background-size: 1013px 1291px; background-position: 0px 35.3699999999999px;
}
#ImageContainer382 {bottom:37.63px;left:0.00px;width:1013.44px;height:1291.35px;position:absolute;} #TextContainer382 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.example1{    position: absolute;    top: 418px;    left: 100px;}
.nyr{position: absolute;top: 718px;left: 126px;}
.nyr_exr{position: absolute;top: 758px;left: 158px;color:rgb(35,31,31);font-size:16px;white-space:pre;}



#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}