.tr500{ color:transparent;}
#P500_1
{
left:0px;bottom:0px;letter-spacing:-2.8px;color:white;
}
#P500_2
{
left:5781.85px;bottom:39668.7px;word-spacing:-49.6px;
}
#P500_3
{
left:0px;letter-spacing:0px;margin-left:1044.2px;
}
#P500_4
{
left:0px;letter-spacing:0px;margin-left:-13.2px;
}
#P500_5
{
left:0px;letter-spacing:0px;margin-left:49.6px;
}
#P500_6
{
left:0px;letter-spacing:0px;margin-left:-73.9px;
}
#P500_7
{
left:5781.85px;bottom:39668.7px;word-spacing:-49.6px;color:white;
}
#P500_8
{
left:0px;letter-spacing:0px;margin-left:1044.2px;
}
#P500_9
{
left:0px;letter-spacing:0px;margin-left:-13.2px;
}
#P500_10
{
left:0px;letter-spacing:0px;margin-left:49.6px;
}
#P500_11
{
left:0px;letter-spacing:0px;margin-left:-73.7px;
}
#P500_12
{
left:5781.85px;bottom:37671.9px;word-spacing:945px;
}
#P500_13
{
left:11936.2px;bottom:37970.3px;
}
#P500_14
{
left:5781.85px;bottom:37671.9px;word-spacing:945px;color:white;
}
#P500_15
{
left:12309.8px;bottom:37671.9px;letter-spacing:-1.2px;
}
#P500_16
{
left:11936.2px;bottom:37970.3px;color:white;
}
#P500_17
{
left:12309.8px;bottom:37671.9px;letter-spacing:-1.2px;color:white;
}
#P500_18
{
left:5781.85px;bottom:35675.1px;letter-spacing:-2px;word-spacing:994.6px;
}
#P500_19
{
left:14675.4px;bottom:35973.5px;
}
#P500_20
{
left:5781.85px;bottom:35675.1px;letter-spacing:-2px;word-spacing:994.6px;color:white;
}
#P500_21
{
left:15049px;bottom:35675.1px;letter-spacing:-1.2px;
}
#P500_22
{
left:14675.4px;bottom:35973.5px;color:white;
}
#P500_23
{
left:15049px;bottom:35675.1px;letter-spacing:-1.2px;color:white;
}
#P500_24
{
left:5781.85px;bottom:33678.3px;word-spacing:994.6px;
}
#P500_25
{
left:12360.7px;bottom:33976.7px;
}
#P500_26
{
left:12734.4px;bottom:33678.3px;
}
#P500_27
{
left:14577px;bottom:33976.7px;
}
#P500_28
{
left:5781.85px;bottom:33678.3px;word-spacing:994.6px;color:white;
}
#P500_29
{
left:14950.6px;bottom:33678.3px;letter-spacing:-1.2px;
}
#P500_30
{
left:12360.7px;bottom:33976.7px;color:white;
}
#P500_31
{
left:12734.4px;bottom:33678.3px;color:white;
}
#P500_32
{
left:14577px;bottom:33976.7px;color:white;
}
#P500_33
{
left:14950.6px;bottom:33678.3px;letter-spacing:-1.2px;color:white;
}
#P500_34
{
left:5781.85px;bottom:31681.5px;word-spacing:994.6px;
}
#P500_35
{
left:10468.4px;bottom:31979.9px;
}
#P500_36
{
left:10842px;bottom:31681.5px;
}
#P500_37
{
left:11539.5px;bottom:31979.9px;
}
#P500_38
{
left:11913.2px;bottom:31681.5px;
}
#P500_39
{
left:12684.6px;bottom:31979.9px;
}
#P500_40
{
left:5781.85px;bottom:31681.5px;word-spacing:994.6px;color:white;
}
#P500_41
{
left:13058.3px;bottom:31681.5px;letter-spacing:-1.3px;
}
#P500_42
{
left:10468.4px;bottom:31979.9px;color:white;
}
#P500_43
{
left:10842px;bottom:31681.5px;color:white;
}
#P500_44
{
left:11539.5px;bottom:31979.9px;color:white;
}
#P500_45
{
left:11913.2px;bottom:31681.5px;color:white;
}
#P500_46
{
left:12684.6px;bottom:31979.9px;color:white;
}
#P500_47
{
left:13058.3px;bottom:31681.5px;letter-spacing:-1.3px;color:white;
}
#P500_48
{
left:4300.23px;bottom:15204.3px;letter-spacing:-4.7px;word-spacing:-0.1px;color:rgb(33,31,31);
}
#P500_49
{
left:0px;letter-spacing:0.1px;margin-left:4.8px;
}
#P500_50
{
left:4011.46px;bottom:14528.9px;letter-spacing:-2.8px;word-spacing:-0.1px;color:rgb(33,31,31);
}
#P500_51
{
left:0px;letter-spacing:-0.7px;margin-left:2.9px;
}
#P500_52
{
left:0px;letter-spacing:-2.2px;margin-left:0.8px;
}
#P500_53
{
left:4855.81px;bottom:13977.7px;letter-spacing:-1.2px;word-spacing:0.1px;color:rgb(33,31,31);
}
#P500_54
{
left:0px;letter-spacing:11.5px;margin-left:1.1px;
}
#P500_55
{
left:0px;letter-spacing:0px;margin-left:-63.4px;
}
#P500_56
{
left:24782.5px;bottom:17447.5px;letter-spacing:-3.8px;color:rgb(33,31,31);
}
#P500_57
{
left:0px;letter-spacing:-14.4px;margin-left:-48px;
}
#P500_58
{
left:0px;letter-spacing:0px;margin-left:-2.9px;
}
#P500_59
{
left:0px;letter-spacing:-2.9px;margin-left:-17.3px;
}
#P500_60
{
left:0px;letter-spacing:-0.7px;margin-left:2.9px;
}
#P500_61
{
left:25454.5px;bottom:16877.4px;letter-spacing:-1.8px;word-spacing:0.2px;color:rgb(33,31,31);
}
#P500_62
{
left:0px;letter-spacing:-0.2px;margin-left:179.8px;
}
#P500_63
{
left:26655px;bottom:16365.1px;letter-spacing:-1.4px;color:rgb(33,31,31);
}
#P500_64
{
left:0px;letter-spacing:-14.4px;margin-left:-33.1px;
}
#P500_65
{
left:0px;letter-spacing:-1.2px;margin-left:14.4px;
}
#P500_66
{
left:0px;letter-spacing:-51.8px;margin-left:-33.3px;
}
#P500_67
{
left:14710.1px;bottom:16344.4px;letter-spacing:-14.4px;color:rgb(33,31,31);
}
#P500_68
{
left:0px;letter-spacing:-2.5px;margin-left:14.4px;
}
#P500_69
{
left:0px;letter-spacing:0.6px;margin-left:2.5px;
}
#P500_70
{
left:14659.5px;bottom:15695.1px;letter-spacing:-7.2px;color:rgb(33,31,31);
}
#P500_71
{
left:0px;letter-spacing:-2.4px;margin-left:7.2px;
}
#P500_72
{
left:0px;letter-spacing:-3.4px;margin-left:2.4px;
}
#P500_73
{
left:0px;letter-spacing:0px;margin-left:3.4px;
}
#P500_74
{
left:14049px;bottom:14984.4px;letter-spacing:-0.4px;word-spacing:0.1px;color:rgb(33,31,31);
}
#P500_75
{
left:0px;letter-spacing:0px;margin-left:-51.4px;
}
#P500_76
{
left:7491.91px;bottom:14266.4px;letter-spacing:337.5px;
}
#P500_77
{
left:24856.6px;bottom:3480.39px;letter-spacing:-4.5px;
}
#P500_78
{
left:0px;letter-spacing:-3.4px;margin-left:4.5px;
}
#P500_79
{
left:0px;letter-spacing:1.8px;margin-left:3.4px;
}
#P500_80
{
left:0px;letter-spacing:0px;margin-left:-42.6px;
}
#P500_81
{
left:11154.2px;bottom:3899.71px;color:rgb(33,31,31);
}
#P500_82
{
left:0px;letter-spacing:-25.6px;margin-left:-34.6px;
}
#P500_83
{
left:0px;letter-spacing:-1.8px;margin-left:25.6px;
}
#P500_84
{
left:10548.5px;bottom:3285.62px;color:rgb(33,31,31);
}
#P500_85
{
left:0px;letter-spacing:0px;margin-left:-28.8px;
}
#P500_86
{
left:0px;letter-spacing:0px;margin-left:-28.8px;
}
#P500_87
{
left:17533.4px;bottom:2997.92px;color:rgb(33,31,31);
}
#P500_88
{
left:18012px;bottom:2959.73px;letter-spacing:-25.9px;color:rgb(33,31,31);
}
#P500_89
{
left:23015.9px;bottom:3040.41px;letter-spacing:-0.3px;color:rgb(33,31,31);
}
#P500_90
{
left:0px;letter-spacing:0px;margin-left:-17px;
}
#P500_91
{
left:0px;letter-spacing:0px;
}
#P500_92
{
left:0px;letter-spacing:0px;margin-left:-51.8px;
}
#P500_93
{
left:0px;bottom:0px;letter-spacing:0px;color:white;
}
#P500_94
{
left:8445.4px;bottom:42616.1px;
}
#P500_95
{
left:2365.4px;bottom:41054.1px;
}
#PageContainer500
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg500.jpg");background-repeat:no-repeat;background-size: 1066px 1364px; background-position: right bottom;
}
#ImageContainer500 {bottom:0.00px;right:0.00px;width:1066.24px;height:1364.16px;position:absolute;} #TextContainer500 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}