.tr28{ color:transparent;}
#P28_1
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P28_2
{
left:2757.08px;bottom:1410.03px;color:rgb(35,31,31);
}
#P28_3
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P28_4
{
left:9121.88px;bottom:1410.03px;letter-spacing:461.9px;word-spacing:0.2px;color:rgb(35,31,31);
}
#P28_5
{
left:0px;letter-spacing:3px;margin-left:-458.4px;
}
#P28_6
{
left:0px;letter-spacing:3.7px;margin-left:2.8px;
}
#P28_7
{
left:0px;letter-spacing:-1.2px;margin-left:-3.9px;
}
#P28_8
{
left:0px;letter-spacing:-0.2px;margin-left:22.6px;
}
#P28_9
{
left:0px;letter-spacing:0px;margin-left:13.5px;
}
#P28_10
{
left:6945.5px;bottom:46119.2px;letter-spacing:-1.3px;color:white;
}
#P28_11
{
left:20341.4px;bottom:46417.6px;color:white;
}
#P28_12
{
left:20715px;bottom:46119.2px;color:white;
}
#P28_13
{
left:3427.71px;bottom:46092.1px;color:white;
}
#P28_14
{
left:18900.5px;bottom:41322.2px;letter-spacing:213.2px;color:rgb(35,31,31);
}
#P28_15
{
left:0px;letter-spacing:0px;margin-left:-213.2px;
}
#P28_16
{
left:7789.4px;bottom:40234.2px;color:rgb(35,31,31);
}
#P28_17
{
left:9187.48px;bottom:35826px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P28_18
{
left:0px;letter-spacing:0.4px;margin-left:14.1px;
}
#P28_19
{
left:0px;letter-spacing:-18.7px;margin-left:-42.5px;
}
#P28_20
{
left:0px;letter-spacing:-1px;margin-left:18.7px;
}
#P28_21
{
left:0px;letter-spacing:0.5px;margin-left:1px;
}
#P28_22
{
left:9187.48px;bottom:34930px;color:rgb(35,31,31);
}
#P28_23
{
left:0px;letter-spacing:0px;margin-left:-50.6px;
}
#P28_24
{
left:13577.6px;bottom:21329.3px;color:rgb(33,31,31);
}
#P28_25
{
left:0px;letter-spacing:0px;margin-left:2202.2px;
}
#P28_26
{
left:0px;letter-spacing:0px;margin-left:2202.2px;
}
#P28_27
{
left:0px;letter-spacing:0px;margin-left:2202.2px;
}
#P28_28
{
left:10620.8px;bottom:23179.2px;color:rgb(33,31,31);
}
#P28_29
{
left:10620.2px;bottom:24715.4px;color:rgb(33,31,31);
}
#P28_30
{
left:10620.2px;bottom:26251.4px;color:rgb(33,31,31);
}
#P28_31
{
left:10620.2px;bottom:27787.4px;color:rgb(33,31,31);
}
#P28_32
{
left:10620.2px;bottom:29323.4px;color:rgb(33,31,31);
}
#P28_33
{
left:10620.2px;bottom:30859.4px;color:rgb(33,31,31);
}
#P28_34
{
left:10620.2px;bottom:32395.4px;color:rgb(33,31,31);
}
#P28_35
{
left:11420.9px;bottom:21643.4px;color:rgb(33,31,31);
}
#P28_36
{
left:17977.6px;bottom:20469.2px;letter-spacing:-26.5px;color:rgb(33,31,31);
}
#P28_37
{
left:0px;letter-spacing:0px;margin-left:26.5px;
}
#P28_38
{
left:10373.3px;bottom:23672.8px;color:rgb(33,31,31);
}
#P28_39
{
left:13208.7px;bottom:31546.8px;letter-spacing:-21.3px;color:rgb(33,31,31);
}
#P28_40
{
left:0px;letter-spacing:0px;margin-left:21.3px;
}
#P28_41
{
left:13208.7px;bottom:30804.5px;color:rgb(33,31,31);
}
#P28_42
{
left:15685px;bottom:33390.1px;color:rgb(33,31,31);
}
#P28_43
{
left:16164.5px;bottom:28116.1px;color:rgb(33,31,31);
}
#P28_44
{
left:17476.6px;bottom:22829px;color:rgb(33,31,31);
}
#P28_45
{
left:19433.9px;bottom:29658.7px;color:rgb(33,31,31);
}
#P28_46
{
left:14207px;bottom:22278.7px;color:rgb(33,31,31);
}
#P28_47
{
left:20746.3px;bottom:23149px;color:rgb(33,31,31);
}
#P28_48
{
left:23970.8px;bottom:23706.6px;
}
#P28_49
{
left:12894.9px;bottom:25258.9px;color:rgb(33,31,31);
}
#P28_50
{
left:22703.6px;bottom:31839.7px;color:rgb(33,31,31);
}
#P28_51
{
left:9955.48px;bottom:18499.6px;color:rgb(35,31,31);
}
#P28_52
{
left:10757.8px;bottom:18354.1px;color:rgb(35,31,31);
}
#P28_53
{
left:10757.8px;bottom:18354.1px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P28_54
{
left:0px;letter-spacing:-42px;margin-left:-20.1px;
}
#P28_55
{
left:9955.48px;bottom:17411.6px;color:rgb(35,31,31);
}
#P28_56
{
left:10757.8px;bottom:17266.1px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P28_57
{
left:10757.8px;bottom:17266.1px;letter-spacing:-17.5px;color:rgb(35,31,31);
}
#P28_58
{
left:0px;letter-spacing:-1.7px;margin-left:17.5px;
}
#P28_59
{
left:0px;letter-spacing:-0.7px;margin-left:1.7px;
}
#P28_60
{
left:0px;letter-spacing:0px;margin-left:0.7px;
}
#P28_61
{
left:10757.8px;bottom:16370.1px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P28_62
{
left:0px;letter-spacing:-8.4px;margin-left:-27.8px;
}
#P28_63
{
left:0px;letter-spacing:-1.6px;margin-left:8.4px;
}
#P28_64
{
left:0px;letter-spacing:14px;margin-left:-40.6px;
}
#P28_65
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P28_66
{
left:10757.8px;bottom:15474.2px;letter-spacing:-1.7px;color:rgb(35,31,31);
}
#P28_67
{
left:0px;letter-spacing:0px;margin-left:1.7px;
}
#P28_68
{
left:9955.48px;bottom:14531.6px;color:rgb(35,31,31);
}
#P28_69
{
left:10757.8px;bottom:14386.1px;color:rgb(35,31,31);
}
#P28_70
{
left:10757.8px;bottom:14386.1px;letter-spacing:-14.8px;color:rgb(35,31,31);
}
#P28_71
{
left:0px;letter-spacing:-0.6px;margin-left:14.8px;
}
#P28_72
{
left:0px;letter-spacing:0px;margin-left:0.6px;
}
#P28_73
{
left:9955.48px;bottom:13443.6px;color:rgb(35,31,31);
}
#P28_74
{
left:10757.8px;bottom:13298.1px;color:rgb(35,31,31);
}
#P28_75
{
left:10757.8px;bottom:13298.1px;letter-spacing:-1.7px;color:rgb(35,31,31);
}
#P28_76
{
left:0px;letter-spacing:-0.8px;margin-left:-8.8px;
}
#P28_77
{
left:0px;letter-spacing:0px;margin-left:0.8px;
}
#P28_78
{
left:9187.48px;bottom:11826.1px;color:rgb(35,31,31);
}
#P28_79
{
left:9315.48px;bottom:11826.1px;letter-spacing:-14px;word-spacing:516.1px;color:rgb(35,31,31);
}
#P28_80
{
left:10531.6px;bottom:11826.1px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P28_81
{
left:10531.6px;bottom:10930.1px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P28_82
{
left:9187.48px;bottom:9842.09px;color:rgb(35,31,31);
}
#P28_83
{
left:9315.48px;bottom:9842.09px;letter-spacing:-6.9px;color:rgb(35,31,31);
}
#P28_84
{
left: 10491.74px;bottom:9842.09px;letter-spacing:441.4px;color:rgb(35,31,31);
}
#P28_85
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P28_86
{
left:0px;letter-spacing:-7px;
margin-left: 0px;
}
#P28_87
{
left:0px;letter-spacing:-0.8px;margin-left:7px;
}
#P28_88
{
left:10531.5px;bottom:8946.09px;letter-spacing:-1.5px;color:rgb(35,31,31);
}
#P28_89
{
left:0px;letter-spacing:-0.9px;margin-left:-2.7px;
}
#P28_90
{
left:0px;letter-spacing:0px;margin-left:0.9px;
}
#P28_91
{
left:10531.5px;bottom:8050.09px;color:rgb(35,31,31);
}
#P28_92
{
left:9187.48px;bottom:6962.09px;color:rgb(35,31,31);
}
#P28_93
{
left:9315.48px;bottom:6962.09px;color:rgb(35,31,31);
}
#P28_94
{
left: 10480.38px;bottom:6962.09px;letter-spacing:512.8px;color:rgb(35,31,31);
}
#P28_95
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P28_96
{
left:0px;letter-spacing:-7px;
margin-left: 0px;
}
#P28_97
{
left:0px;letter-spacing:-0.9px;margin-left:7px;
}
#P28_98
{
left:0px;letter-spacing:-0.4px;margin-left:-13px;
}
#P28_99
{
left:10531.5px;bottom:6066.09px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P28_100
{
left:0px;letter-spacing:0px;margin-left:1px;
}
#P28_101
{
left:9187.48px;bottom:4978.09px;color:rgb(35,31,31);
}
#P28_102
{
left:9315.48px;bottom:4978.09px;color:rgb(35,31,31);
}
#P28_103
{
left: 10427.52px;bottom:4978.09px;letter-spacing:434.6px;color:rgb(35,31,31);
}
#P28_104
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P28_105
{
left:0px;letter-spacing:-0.2px;
}
#P28_106
{
left:10531.5px;bottom:4082.09px;color:rgb(35,31,31);
}
#P28_107
{
left:10531.5px;bottom:3186.12px;color:rgb(35,31,31);
}
#P28_108
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P28_109
{
left:10065.7px;bottom:37434.7px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P28_110
{
left:13490.8px;bottom:37626.5px;color:rgb(255,223,126);
}
#P28_111
{
left:14115.5px;bottom:37434.7px;word-spacing:207.4px;color:white;
}
#P28_112
{
left:16451.8px;bottom:37626.5px;color:white;
}
#P28_113
{
left:16692px;bottom:37434.7px;letter-spacing:-1.4px;color:white;
}
#P28_114
{
left:21734.4px;bottom:37626.5px;color:white;
}
#P28_115
{
left:21974.6px;bottom:37434.7px;color:white;
}
#P28_116
{
left:8325.27px;bottom:37262.8px;
}
#P28_117
{
left:8325.27px;bottom:37262.8px;color:white;
}
#P28_118
{
left:23970.8px;bottom:23706.6px;
}
#P28_119
{
left:0px;letter-spacing:0px;margin-left:-1281px;
}
#P28_120
{
left:0px;letter-spacing:0px;
}
#P28_121
{
left:4301.34px;bottom:13360.5px;color:rgb(35,31,31);
}
#P28_122
{
left:4674.39px;bottom:13388.9px;letter-spacing:-10.2px;color:rgb(35,31,31);
}
#P28_123
{
left:6691.93px;bottom:13360.5px;color:rgb(35,31,31);
}
#P28_124
{
left:4301.34px;bottom:12656.5px;letter-spacing:-14.1px;color:rgb(35,31,31);
}
#P28_125
{
left:5012.31px;bottom:12684.9px;letter-spacing:-10.4px;color:rgb(35,31,31);
}
#P28_126
{
left:2365.37px;bottom:11788px;letter-spacing:3.2px;word-spacing:-12.1px;color:rgb(35,31,31);
}
#P28_127
{
left:0px;letter-spacing:3.6px;margin-left:3.4px;
}
#P28_128
{
left:2365.37px;bottom:11004.8px;letter-spacing:-3.3px;word-spacing:-0.7px;color:rgb(35,31,31);
}
#P28_129
{
left:0px;letter-spacing:-0.3px;margin-left:2.4px;
}
#P28_130
{
left:0px;letter-spacing:-3.1px;margin-left:-4.5px;
}
#P28_131
{
left:2365.37px;bottom:10383px;color:rgb(35,31,31);
}
#P28_132
{
left:2615.28px;bottom:10164.8px;color:rgb(35,31,31);
}
#P28_133
{
left:2960.24px;bottom:10204.8px;letter-spacing:-128.4px;word-spacing:-2.1px;color:rgb(35,31,31);
}
#P28_134
{
left:0px;letter-spacing:-0.5px;margin-left:131.2px;
}
#P28_135
{
left:0px;letter-spacing:-1.1px;margin-left:-2.6px;
}
#P28_136
{
left:0px;letter-spacing:-0.9px;margin-left:1.4px;
}
#P28_137
{
left:2960.24px;bottom:9564.78px;letter-spacing:1.9px;word-spacing:-6px;color:rgb(35,31,31);
}
#P28_138
{
left:0px;letter-spacing:1.7px;margin-left:-2.1px;
}
#P28_139
{
left:2365.37px;bottom:8943.02px;color:rgb(35,31,31);
}
#P28_140
{
left:2615.28px;bottom:8724.78px;color:rgb(35,31,31);
}
#P28_141
{
left:2960.24px;bottom:8764.78px;letter-spacing:0.7px;word-spacing:-5.5px;color:rgb(35,31,31);
}
#P28_142
{
left:0px;letter-spacing:0.5px;margin-left:-0.7px;
}
#P28_143
{
left:2365.38px;bottom:7996.78px;letter-spacing:-1.4px;word-spacing:-5.4px;color:rgb(35,31,31);
}
#P28_144
{
left:0px;letter-spacing:-0.1px;margin-left:8.7px;
}
#P28_145
{
left:2365.38px;bottom:7356.72px;letter-spacing:4.6px;color:rgb(35,31,31);
}
#PageContainer28
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg028.jpg");background-repeat:no-repeat;background-size: 1066px 1257px; background-position: 1px 0.0699999999999363px;
}
#ImageContainer28 {bottom:106.93px;right:0.00px;width:1066.24px;height:1257.23px;position:absolute;} #TextContainer28 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.srpj{position:absolute;top: 205px;left: 103px;}
.rpj{position:absolute;top: 206px;left: 153px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}