.tr244{ color:transparent;}
#P244_1
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P244_2
{
left:3540.44px;bottom:1417.71px;color:rgb(35,31,31);
}
#P244_3
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P244_4
{
left:9122.35px;bottom:1417.71px;letter-spacing:0.2px;word-spacing:462.1px;color:rgb(35,31,31);
}
#P244_5
{
left:0px;letter-spacing:0px;margin-left:-462.3px;
}
#P244_6
{
left:0px;letter-spacing:2.3px;
}
#P244_7
{
left:0px;letter-spacing:0px;margin-left:-464.4px;
}
#P244_8
{
left:0px;letter-spacing:3px;
}
#P244_9
{
left:6945.5px;bottom:46119.2px;letter-spacing:-6.8px;color:white;
}
#P244_10
{
left:3427.71px;bottom:46092.1px;color:white;
}
#P244_11
{
left:18900.5px;bottom:41191px;letter-spacing:213.2px;color:rgb(35,31,31);
}
#P244_12
{
left:0px;letter-spacing:0px;margin-left:-213.2px;
}
#P244_13
{
left:7789.4px;bottom:40103px;color:rgb(35,31,31);
}
#P244_14
{
left:9277.08px;bottom:35900.8px;letter-spacing:-21px;color:rgb(35,31,31);
}
#P244_15
{
left:0px;letter-spacing:0.4px;margin-left:14.1px;
}
#P244_16
{
left:0px;letter-spacing:0px;margin-left:-42.5px;
}
#P244_17
{
left:9277.08px;bottom:34620.8px;color:rgb(35,31,31);
}
#P244_18
{
left:10045.1px;bottom:34766.4px;color:rgb(35,31,31);
}
#P244_19
{
left:10399.4px;bottom:34620.8px;letter-spacing:521.8px;color:rgb(35,31,31);
}
#P244_20
{
left:0px;letter-spacing:5.5px;margin-left:-556.9px;
}
#P244_21
{
left:0px;letter-spacing:-0.4px;margin-left:-5.5px;
}
#P244_22
{
left:0px;letter-spacing:0px;margin-left:-13.5px;
}
#P244_23
{
left:9277.08px;bottom:33340.8px;color:rgb(35,31,31);
}
#P244_24
{
left:10045.1px;bottom:33486.3px;color:rgb(35,31,31);
}
#P244_25
{
left:10399.4px;bottom:33340.8px;letter-spacing:521.8px;color:rgb(35,31,31);
}
#P244_26
{
left:0px;letter-spacing:0px;margin-left:-669.6px;
}
#P244_27
{
left:0px;letter-spacing:5.5px;margin-left:-35.1px;
}
#P244_28
{
left:0px;letter-spacing:-0.2px;margin-left:-5.5px;
}
#P244_29
{
left:11069.1px;bottom:32444.8px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P244_30
{
left:9277.08px;bottom:31164.8px;color:rgb(35,31,31);
}
#P244_31
{
left:10045.1px;bottom:31310.3px;color:rgb(35,31,31);
}
#P244_32
{
left:10399.4px;bottom:31164.8px;letter-spacing:521.8px;color:rgb(35,31,31);
}
#P244_33
{
left:0px;letter-spacing:0px;margin-left:-669.6px;
}
#P244_34
{
left:0px;letter-spacing:-10.5px;margin-left:-21px;
}
#P244_35
{
left:0px;letter-spacing:-0.4px;margin-left:10.5px;
}
#P244_36
{
left:0px;letter-spacing:0px;margin-left:-13.5px;
}
#P244_37
{
left:9277.08px;bottom:29884.8px;color:rgb(35,31,31);
}
#P244_38
{
left:10045.1px;bottom:30030.3px;color:rgb(35,31,31);
}
#P244_39
{
left:10399.4px;bottom:29884.8px;letter-spacing:521.8px;color:rgb(35,31,31);
}
#P244_40
{
left:0px;letter-spacing:0.4px;margin-left:-507.8px;
}
#P244_41
{
left:0px;letter-spacing:0px;margin-left:-0.4px;
}
#P244_42
{
left:9277.08px;bottom:28220.8px;color:rgb(35,31,31);
}
#P244_43
{
left:9404.95px;bottom:28220.8px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P244_44
{
left:17794.1px;bottom:28220.8px;color:rgb(35,31,31);
}
#P244_45
{
left:17904.9px;bottom:28220.8px;letter-spacing:-17.4px;color:rgb(35,31,31);
}
#P244_46
{
left:26306.1px;bottom:28220.8px;color:rgb(35,31,31);
}
#P244_47
{
left:26396.2px;bottom:28220.8px;color:rgb(35,31,31);
}
#P244_48
{
left:26941.1px;bottom:28220.8px;color:rgb(35,31,31);
}
#P244_49
{
left:10155.3px;bottom:37461px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P244_50
{
left:13580.4px;bottom:37652.8px;color:rgb(255,223,126);
}
#P244_51
{
left:14173.3px;bottom:37461px;word-spacing:175.5px;color:white;
}
#P244_52
{
left:15245.5px;bottom:37652.8px;color:white;
}
#P244_53
{
left:15485.7px;bottom:37461px;color:white;
}
#P244_54
{
left:15821.7px;bottom:37652.8px;color:white;
}
#P244_55
{
left:16061.9px;bottom:37461px;color:white;
}
#P244_56
{
left:18575.3px;bottom:37652.8px;color:white;
}
#P244_57
{
left:18815.5px;bottom:37461px;color:white;
}
#P244_58
{
left:8414.87px;bottom:37337.5px;
}
#P244_59
{
left:8414.87px;bottom:37337.5px;color:white;
}
#P244_60
{
left:7741.4px;bottom:16039.7px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P244_60a
{
left: 16841.4px;bottom:16039.7px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P244_61
{
left:0px;letter-spacing:0px;
margin-left: 0;
}
#P244_62
{
left:0px;letter-spacing:-0.6px;
}
#P244_63
{
left:16957.4px;bottom:15143.7px;color:rgb(35,31,31);
}
#P244_64
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P244_65
{
left:26173.4px;bottom:16039.7px;letter-spacing:-8.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P244_66
{
left:0px;letter-spacing:-7.1px;margin-left:8.3px;
}
#P244_67
{
left:0px;letter-spacing:-0.1px;margin-left:165.4px;
}
#P244_68
{
left:26173.4px;bottom:15143.7px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P244_69
{
left:0px;letter-spacing:0px;margin-left:-27.4px;
}
#P244_70
{
left:20509.4px;bottom:18111.6px;letter-spacing:-2.4px;color:rgb(0,124,196);
}
#P244_71
{
left:7741.4px;bottom:6468.27px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P244_72
{
left:9196.63px;bottom:6468.27px;color:rgb(35,31,31);
}
#P244_73
{
left:11635.9px;bottom:6468.27px;letter-spacing:-1.8px;color:rgb(35,31,31);
}
#P244_74
{
left:15634px;bottom:6468.27px;color:rgb(35,31,31);
}
#P244_75
{
left:16850.5px;bottom:6468.27px;letter-spacing:-2.3px;color:rgb(0,124,196);
}
#P244_76
{
left:19367.4px;bottom:6468.27px;color:rgb(35,31,31);
}
#P244_77
{
left:21806.7px;bottom:6468.27px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P244_78
{
left:26980.4px;bottom:6468.27px;letter-spacing:4.2px;word-spacing:-25.3px;color:rgb(35,31,31);
}
#P244_79
{
left:0px;letter-spacing:0px;margin-left:-4.2px;
}
#P244_80
{
left:7741.4px;bottom:5572.27px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P244_81
{
left:4301.34px;bottom:13360.5px;color:rgb(35,31,31);
}
#P244_82
{
left:4674.39px;bottom:13388.9px;letter-spacing:-10.2px;color:rgb(35,31,31);
}
#P244_83
{
left:6691.93px;bottom:13360.5px;color:rgb(35,31,31);
}
#P244_84
{
left:4301.34px;bottom:12656.5px;letter-spacing:-14.1px;color:rgb(35,31,31);
}
#P244_85
{
left:5012.31px;bottom:12684.9px;letter-spacing:-10.4px;color:rgb(35,31,31);
}
#P244_86
{
left:2365.37px;bottom:11756.9px;letter-spacing:7.1px;color:rgb(35,31,31);
}
#P244_87
{
left:2365.37px;bottom:10980.8px;letter-spacing:-3.3px;word-spacing:-0.7px;color:rgb(35,31,31);
}
#P244_88
{
left:0px;letter-spacing:-0.3px;margin-left:2.4px;
}
#P244_89
{
left:0px;letter-spacing:-3.1px;margin-left:-4.5px;
}
#P244_90
{
left:2365.37px;bottom:10487px;color:rgb(35,31,31);
}
#P244_91
{
left:2615.28px;bottom:10268.8px;color:rgb(35,31,31);
}
#P244_92
{
left:2960.24px;bottom:10292.8px;color:rgb(35,31,31);
}
#P244_93
{
left:2960.24px;bottom:10308.8px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P244_94
{
left:0px;letter-spacing:-0.7px;margin-left:-0.3px;
}
#P244_95
{
left:0px;letter-spacing:0px;margin-left:-1.3px;
}
#P244_96
{
left:2960.24px;bottom:9668.78px;letter-spacing:1.4px;word-spacing:-7.6px;color:rgb(35,31,31);
}
#P244_97
{
left:0px;letter-spacing:-0.1px;margin-left:-3.3px;
}
#P244_98
{
left:2960.24px;bottom:9028.78px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P244_99
{
left:2960.24px;bottom:8388.65px;letter-spacing:-7.7px;word-spacing:-2.6px;color:rgb(35,31,31);
}
#P244_100
{
left:0px;letter-spacing:-2.9px;margin-left:19.8px;
}
#P244_101
{
left:2365.37px;bottom:7895.02px;color:rgb(35,31,31);
}
#P244_102
{
left:2615.28px;bottom:7676.78px;letter-spacing:186.6px;color:rgb(35,31,31);
}
#P244_103
{
left:2960.24px;bottom:7716.78px;letter-spacing:0.9px;word-spacing:-9.7px;color:rgb(35,31,31);
}
#P244_104
{
left:0px;letter-spacing:1px;margin-left:-3.2px;
}
#P244_105
{
left:2960.24px;bottom:7076.78px;letter-spacing:-0.1px;word-spacing:-4.1px;color:rgb(35,31,31);
}
#P244_106
{
left:0px;letter-spacing:0px;margin-left:3.4px;
}
#P244_107
{
left:2365.38px;bottom:6308.72px;letter-spacing:4px;word-spacing:-5.4px;color:rgb(35,31,31);
}
#P244_108
{
left:0px;letter-spacing:5.4px;margin-left:8.7px;
}
#P244_109
{
left:2365.38px;bottom:5668.65px;letter-spacing:7.8px;color:rgb(35,31,31);
}
#P244_110
{
left:0px;letter-spacing:0px;margin-left:-54.1px;
}
#P244_111
{
left:0px;letter-spacing:3px;margin-left:13.1px;
}
#PageContainer244
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg244.jpg");background-repeat:no-repeat;background-size: 1066px 1121px; background-position: 1px 0.130000000000109px;
}
#ImageContainer244 {bottom:242.87px;right:0.00px;width:1066.24px;height:1121.29px;position:absolute;} #TextContainer244 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.rpj{position: absolute;top: 210px;left: 155px;}
.srpj{position: absolute;top: 210px;left: 107px;}
.math_paper{position: absolute;top: 315px;left: 160px;}
.math_tool{position: absolute;top: 312px;left: 108px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}