.tr387{ color:transparent;}
#P387_1
{
left:4592.6px;bottom:1544.43px;letter-spacing:17931.8px;color:rgb(35,31,31);
}
#P387_2
{
left:22880.3px;bottom:1410.03px;color:rgb(35,31,31);
}
#P387_3
{
left:25085px;bottom:1544.43px;color:rgb(35,31,31);
}
#P387_4
{
left:25262.9px;bottom:1410.03px;letter-spacing:17px;color:rgb(35,31,31);
}
#P387_5
{
left:26186.6px;bottom:1544.43px;letter-spacing:462.1px;color:rgb(35,31,31);
}
#P387_6
{
left:0px;letter-spacing:4.9px;margin-left:-462.1px;
}
#P387_7
{
left:0px;letter-spacing:1.1px;margin-left:-0.8px;
}
#P387_8
{
left:0px;letter-spacing:3.5px;margin-left:-1.1px;
}
#P387_9
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P387_10
{
left:11555.5px;bottom:43338.5px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P387_11
{
left:0px;letter-spacing:0.4px;margin-left:14.1px;
}
#P387_12
{
left:0px;letter-spacing:-14px;margin-left:-42.5px;
}
#P387_13
{
left:0px;letter-spacing:-0.5px;margin-left:14px;
}
#P387_14
{
left:0px;letter-spacing:-1.2px;margin-left:0.5px;
}
#P387_15
{
left:11555.5px;bottom:42442.5px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P387_16
{
left:0px;letter-spacing:-3.5px;margin-left:1.3px;
}
#P387_17
{
left:0px;letter-spacing:0px;margin-left:-24.5px;
}
#P387_18
{
left:0px;letter-spacing:-9.3px;
}
#P387_19
{
left:0px;letter-spacing:0px;margin-left:9.3px;
}
#P387_20
{
left:0px;letter-spacing:-28px;margin-left:-70.3px;
}
#P387_21
{
left:0px;letter-spacing:0px;
}
#P387_22
{
left:0px;letter-spacing:0px;
}
#P387_23
{
left:0px;letter-spacing:0px;margin-left:-225.2px;
}
#P387_24
{
left:0px;letter-spacing:0px;margin-left:77.1px;
}
#P387_25
{
left:0px;letter-spacing:-0.6px;
}
#P387_26
{
left:0px;letter-spacing:0px;margin-left:-13.3px;
}
#P387_27
{
left:11555.5px;bottom:41546.6px;letter-spacing:0.5px;color:rgb(35,31,31);
}
#P387_28
{
left:11555.5px;bottom:40458.5px;color:rgb(35,31,31);
}
#P387_29
{
left:11683.5px;bottom:40458.5px;letter-spacing:-14px;word-spacing:516.1px;color:rgb(35,31,31);
}
#P387_30
{
left:17092.5px;bottom:32717.7px;color:rgb(0,124,196);
}
#P387_31
{
left:13097.8px;bottom:34530px;color:rgb(0,124,196);
}
#P387_32
{
left:14635.7px;bottom:31794px;color:rgb(0,124,196);
}
#P387_33
{
left:11555.5px;bottom:30282.5px;color:rgb(35,31,31);
}
#P387_34
{
left:11683.5px;bottom:30282.5px;letter-spacing:-13.9px;word-spacing:486.9px;color:rgb(35,31,31);
}
#P387_35
{
left:13097.8px;bottom:26104.5px;color:rgb(0,124,196);
}
#P387_36
{
left:15728.4px;bottom:27847.5px;color:rgb(0,124,196);
}
#P387_37
{
left:14450.8px;bottom:23657.6px;letter-spacing:2282.7px;color:rgb(0,124,196);
}
#P387_38
{
left:12433.7px;bottom:44898.7px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P387_39
{
left:15858.8px;bottom:45090.5px;color:rgb(255,223,126);
}
#P387_40
{
left:16051.5px;bottom:44898.7px;letter-spacing:207.4px;color:white;
}
#P387_41
{
left:16899.1px;bottom:45090.5px;color:white;
}
#P387_42
{
left:17139.3px;bottom:44898.7px;color:white;
}
#P387_43
{
left:18115.6px;bottom:45090.5px;color:white;
}
#P387_44
{
left:18355.8px;bottom:44898.7px;letter-spacing:-4.6px;color:white;
}
#P387_45
{
left:0px;letter-spacing:-1.2px;margin-left:4.6px;
}
#P387_46
{
left:26873.4px;bottom:45090.5px;color:white;
}
#P387_47
{
left:27113.6px;bottom:44898.7px;letter-spacing:-0.9px;color:white;
}
#P387_48
{
left:33804.6px;bottom:45090.5px;color:white;
}
#P387_49
{
left:34044.8px;bottom:44898.7px;color:white;
}
#P387_50
{
left:10693.3px;bottom:44775.1px;
}
#P387_51
{
left:10693.3px;bottom:44775.1px;color:white;
}
#P387_52
{
left:10477.4px;bottom:7243.95px;color:rgb(35,31,31);
}
#P387_53
{
left:10903.8px;bottom:7270.76px;color:rgb(35,31,31);
}
#P387_54
{
left:11464.2px;bottom:7243.95px;letter-spacing:326.8px;color:rgb(35,31,31);
}
#P387_55
{
left:11949.4px;bottom:7263.66px;word-spacing:-26px;color:rgb(2,77,161);
}
#P387_56
{
left:0px;letter-spacing:0px;margin-left:-26px;
}
#P387_57
{
left:0px;letter-spacing:0px;margin-left:26px;
}
#P387_58
{
left:18757.3px;bottom:7243.95px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P387_59
{
left:0px;letter-spacing:-10.5px;margin-left:-214.6px;
}
#P387_60
{
left:0px;letter-spacing:-0.5px;margin-left:10.5px;
}
#P387_61
{
left:0px;letter-spacing:0px;margin-left:-214.2px;
}
#P387_62
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P387_63
{
left:0px;letter-spacing:-0.7px;
}
#P387_64
{
left:0px;letter-spacing:0.5px;margin-left:-13.3px;
}
#P387_65
{
left:11949.5px;bottom:6347.95px;letter-spacing:0.8px;color:rgb(35,31,31);
}
#P387_66
{
left:14845.4px;bottom:4388.65px;letter-spacing:228.8px;color:rgb(0,124,196);
}
#P387_67
{
left:15261.4px;bottom:4420.65px;letter-spacing:-9.3px;color:rgb(35,31,31);
}
#P387_68
{
left:0px;letter-spacing:-0.4px;margin-left:9.3px;
}
#P387_69
{
left:0px;letter-spacing:-0.1px;margin-left:0.4px;
}
#P387_70
{
left:15261.4px;bottom:3524.67px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P387_71
{
left:0px;letter-spacing:0px;margin-left:0.8px;
}
#P387_72
{
left:11555.5px;bottom:17799.5px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P387_73
{
left:0px;letter-spacing:0.4px;margin-left:14.1px;
}
#P387_74
{
left:0px;letter-spacing:-14px;margin-left:-42.5px;
}
#P387_75
{
left:0px;letter-spacing:-0.3px;margin-left:5.6px;
}
#P387_76
{
left:0px;letter-spacing:-2.8px;margin-left:-13.6px;
}
#P387_77
{
left:0px;letter-spacing:-1px;margin-left:2.8px;
}
#P387_78
{
left:11555.5px;bottom:16903.5px;color:rgb(35,31,31);
}
#P387_79
{
left:0px;letter-spacing:0px;margin-left:-225px;
}
#P387_80
{
left:0px;letter-spacing:0px;margin-left:77.1px;
}
#P387_81
{
left:0px;letter-spacing:-0.6px;
}
#P387_82
{
left:0px;letter-spacing:0.5px;margin-left:-13.3px;
}
#P387_83
{
left:11555.5px;bottom:15623.5px;color:rgb(35,31,31);
}
#P387_84
{
left:11683.5px;bottom:15623.5px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P387_85
{
left:15687.6px;bottom:12558.1px;color:rgb(0,124,196);
}
#P387_86
{
left:13279.4px;bottom:12609.3px;color:rgb(0,124,196);
}
#P387_87
{
left:17639.1px;bottom:14314.3px;color:rgb(0,124,196);
}
#P387_88
{
left:18316.2px;bottom:15623.5px;color:rgb(35,31,31);
}
#P387_89
{
left:24087.3px;bottom:15623.5px;letter-spacing:-17.5px;color:rgb(35,31,31);
}
#P387_90
{
left:25577.8px;bottom:12945.4px;color:rgb(0,124,196);
}
#P387_91
{
left:27013.8px;bottom:10283.1px;color:rgb(0,124,196);
}
#P387_92
{
left:28762.5px;bottom:10757.7px;color:rgb(0,124,196);
}
#P387_93
{
left:27300.1px;bottom:15842.1px;color:rgb(0,124,196);
}
#P387_94
{
left:12433.7px;bottom:19359.7px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P387_95
{
left:15858.8px;bottom:19551.5px;color:rgb(255,223,126);
}
#P387_96
{
left:16479.7px;bottom:19359.7px;letter-spacing:-12.5px;word-spacing:216px;color:white;
}
#P387_97
{
left:18497.7px;bottom:19551.5px;color:white;
}
#P387_98
{
left:18729.2px;bottom:19359.7px;letter-spacing:-20.5px;word-spacing:-31.9px;color:white;
}
#P387_99
{
left:0px;letter-spacing:-8.6px;margin-left:11.9px;
}
#P387_100
{
left:22261.4px;bottom:19551.5px;color:white;
}
#P387_101
{
left:22493px;bottom:19359.7px;letter-spacing:-8.6px;color:white;
}
#P387_102
{
left:24491.4px;bottom:19551.5px;color:white;
}
#P387_103
{
left:24723px;bottom:19359.7px;letter-spacing:-9.7px;color:white;
}
#P387_104
{
left:31195.4px;bottom:19551.5px;color:white;
}
#P387_105
{
left:31426.9px;bottom:19359.7px;letter-spacing:-8.6px;color:white;
}
#P387_106
{
left:34774.9px;bottom:19551.5px;color:white;
}
#P387_107
{
left:35006.5px;bottom:19359.7px;letter-spacing:-8.6px;color:white;
}
#P387_108
{
left:10693.3px;bottom:19236.1px;
}
#P387_109
{
left:10693.3px;bottom:19236.1px;color:white;
}
#P387_110
{
left:5037.34px;bottom:36058.3px;color:rgb(35,31,31);
}
#P387_111
{
left:5037.34px;bottom:35290.3px;color:rgb(35,31,31);
}
#P387_112
{
left:5037.34px;bottom:34423.5px;color:rgb(35,31,31);
}
#P387_113
{
left:0px;letter-spacing:0px;margin-left:-152px;
}
#P387_114
{
left:0px;letter-spacing:0px;margin-left:6.1px;
}
#P387_115
{
left:5037.34px;bottom:33687.5px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P387_116
{
left:0px;letter-spacing:0px;margin-left:-21.2px;
}
#P387_117
{
left:5037.34px;bottom:32951.5px;color:rgb(35,31,31);
}
#P387_118
{
left:5037.34px;bottom:32215.5px;color:rgb(35,31,31);
}
#P387_119
{
left:4914.71px;bottom:37954.1px;letter-spacing:-20.4px;color:white;
}
#P387_120
{
left:4914.71px;bottom:36994px;letter-spacing:-27.2px;color:white;
}
#P387_121
{
left:6893.79px;bottom:37250.8px;color:white;
}
#P387_122
{
left:7169.05px;bottom:36994px;letter-spacing:-27.2px;color:white;
}
#PageContainer387
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg387.jpg");background-repeat:no-repeat;background-size: 1021px 1274px; background-position: 0px -0.190000000000055px;
}
#ImageContainer387 {bottom:90.19px;left:0.00px;width:1020.57px;height:1273.97px;position:absolute;} #TextContainer387 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.math_paper1{
                            position: absolute;
                            top: 116px;
                            left: 225px;
}
.math_paper2{
                            position: absolute;
                            top: 119px;
                            left: 175px;
}
.math_paper3{
                            position: absolute;
                            top: 120px;left: 128px;
}
.practice{position:absolute;top: 1216px;left: 255px;}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}