.tr449{ color:transparent;}
#P449_1
{
left:6973.4px;bottom:10705.8px;color:rgb(35,31,31);
}
#P449_2
{
left:0px;letter-spacing:0px;margin-left:-15.5px;
}
#P449_3
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P449_4
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P449_5
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P449_6
{
left:23446.6px;bottom:10705.8px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P449_6a
{
left: 27016.6px;bottom:10705.8px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P449_6b
{
left:28446.6px;bottom:10705.8px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P449_7
{
left:6973.4px;bottom:9553.84px;color:rgb(35,31,31);
}
#P449_8
{
left:7150.55px;bottom:9573.55px;color:rgb(35,31,31);
}
#P449_9
{
left:8573.4px;bottom:9553.84px;color:rgb(35,31,31);
}
#P449_10
{
left:21934.6px;bottom:9573.55px;color:rgb(35,31,31);
}
#P449_11
{
left:23357.4px;bottom:9553.84px;color:rgb(35,31,31);
}
#P449_12
{
left:6973.4px;bottom:7889.84px;color:rgb(35,31,31);
}
#P449_13
{
left:7150.55px;bottom:7909.55px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P449_14
{
left:8637.4px;bottom:7909.55px;letter-spacing:-17.6px;color:rgb(2,77,161);
}
#P449_15
{
left:0px;letter-spacing:0px;margin-left:17.6px;
}
#P449_16
{
left:14113px;bottom:7889.84px;letter-spacing:151.5px;color:rgb(35,31,31);
}
#P449_17
{
left:0px;letter-spacing:-0.3px;margin-left:-151.5px;
}
#P449_18
{
left:8637.4px;bottom:6993.84px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P449_19
{
left:0px;letter-spacing:-1.1px;margin-left:-16.3px;
}
#P449_20
{
left:0px;letter-spacing:0px;margin-left:1.1px;
}
#P449_21
{
left:15780.4px;bottom:6993.84px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P449_22
{
left:6973.4px;bottom:5649.84px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P449_23
{
left:8550.49px;bottom:5693.22px;color:rgb(35,31,31);
}
#P449_24
{
left:8887.32px;bottom:5814.35px;color:rgb(35,31,31);
}
#P449_25
{
left:9533.4px;bottom:5649.84px;color:rgb(35,31,31);
}
#P449_26
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P449_27
{
left:0px;letter-spacing:0px;margin-left:-4.2px;
}
#P449_28
{
left:12911.9px;bottom:5993.56px;color:rgb(35,31,31);
}
#P449_29
{
left:13183.2px;bottom:5649.84px;color:rgb(35,31,31);
}
#P449_30
{
left:15846.5px;bottom:5693.22px;color:rgb(35,31,31);
}
#P449_31
{
left:16183.3px;bottom:5814.35px;color:rgb(35,31,31);
}
#P449_32
{
left:16829.4px;bottom:5649.84px;color:rgb(35,31,31);
}
#P449_33
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P449_34
{
left:0px;letter-spacing:0px;margin-left:-4.2px;
}
#P449_35
{
left:20207.9px;bottom:5993.56px;color:rgb(35,31,31);
}
#P449_36
{
left:6973.4px;bottom:4369.84px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P449_37
{
left:8550.49px;bottom:4413.22px;color:rgb(35,31,31);
}
#P449_38
{
left:8887.32px;bottom:4534.35px;color:rgb(35,31,31);
}
#P449_39
{
left:9533.4px;bottom:4369.84px;color:rgb(35,31,31);
}
#P449_40
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P449_41
{
left:0px;letter-spacing:0px;margin-left:-4.2px;
}
#P449_42
{
left:12911.9px;bottom:4713.56px;color:rgb(35,31,31);
}
#P449_43
{
left:13183.2px;bottom:4369.84px;color:rgb(35,31,31);
}
#P449_44
{
left:15846.5px;bottom:4413.22px;color:rgb(35,31,31);
}
#P449_45
{
left:16183.3px;bottom:4534.35px;color:rgb(35,31,31);
}
#P449_46
{
left:16829.4px;bottom:4369.84px;color:rgb(35,31,31);
}
#P449_47
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P449_48
{
left:0px;letter-spacing:0px;margin-left:-4.2px;
}
#P449_49
{
left:19648.2px;bottom:4713.56px;color:rgb(35,31,31);
}
#P449_50
{
left:4592.6px;bottom:1544.43px;color:rgb(35,31,31);
}
#P449_51
{
left:22182.4px;bottom:1410.03px;letter-spacing:3.6px;word-spacing:-1.2px;color:rgb(35,31,31);
}
#P449_52
{
left:26771.7px;bottom:1544.43px;letter-spacing:1.6px;word-spacing:461.5px;color:rgb(35,31,31);
}
#P449_53
{
left:0px;letter-spacing:0px;margin-left:-463.1px;
}
#P449_54
{
left:0px;letter-spacing:3.1px;margin-left:8px;
}
#P449_55
{
left:0px;letter-spacing:0px;margin-left:-464.6px;
}
#P449_56
{
left:0px;letter-spacing:-0.9px;margin-left:5.4px;
}
#P449_57
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P449_58
{
left:7278.55px;bottom:46779.2px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P449_59
{
left:8765.4px;bottom:46779.2px;color:rgb(2,77,161);
}
#P449_60
{
left:10643.7px;bottom:46759.5px;letter-spacing:168.3px;color:rgb(35,31,31);
}
#P449_61
{
left:0px;letter-spacing:-1.7px;margin-left:-168.3px;
}
#P449_62
{
left:0px;letter-spacing:0.5px;margin-left:1.7px;
}
#P449_63
{
left:8765.4px;bottom:45863.5px;color:rgb(35,31,31);
}
#P449_64
{
left:11145.6px;bottom:45863.5px;letter-spacing:27.9px;word-spacing:0.3px;color:rgb(35,31,31);
}
#P449_65
{
left:0px;letter-spacing:-0.3px;margin-left:130.2px;
}
#P449_66
{
left:8765.4px;bottom:44967.5px;letter-spacing:-0.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P449_67
{
left:8765.4px;bottom:44071.5px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P449_68
{
left:8765.4px;bottom:43175.5px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P449_69
{
left:0px;letter-spacing:-2.3px;margin-left:0.6px;
}
#P449_70
{
left:7278.55px;bottom:41851.2px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P449_71
{
left:8765.4px;bottom:41851.2px;color:rgb(2,77,161);
}
#P449_72
{
left:10707.7px;bottom:41831.5px;letter-spacing:168.3px;color:rgb(35,31,31);
}
#P449_72a
{
left:9107.7px;bottom:40331.5px;letter-spacing:168.3px;color:rgb(35,31,31);
}
#P449_72b
{
left:9307.7px;bottom:38931.5px;color:rgb(35,31,31);
}
#P449_73
{
left:0px;letter-spacing:-1.3px;margin-left:-168.3px;
}
#P449_74
{
left:0px;letter-spacing:-0.4px;margin-left:1.3px;
}
#P449_75
{
left:7101.4px;bottom:40487.5px;letter-spacing:801.6px;color:rgb(35,31,31);
}
#P449_76
{
left:0px;letter-spacing:0px;margin-left:-256px;
}
#P449_77
{
left:0px;letter-spacing:-10.5px;margin-left:-4.2px;
}
#P449_78
{
left:0px;letter-spacing:0px;margin-left:-66.8px;
}
#P449_79
{
left:0px;letter-spacing:0px;
}
#P449_80
{
left:7101.4px;bottom:39143.5px;letter-spacing:801.6px;color:rgb(35,31,31);
}
#P449_81
{
left:0px;letter-spacing:0px;margin-left:224px;
}
#P449_82
{
left:0px;letter-spacing:0px;margin-left:-25.3px;
}
#P449_83
{
left:0px;letter-spacing:0px;margin-left:-6.9px;
}
#P449_84
{
left:0px;letter-spacing:0px;margin-left:-77.4px;
}
#P449_85
{
left:0px;letter-spacing:0px;
}
#P449_86
{
left:7101.4px;bottom:37799.5px;letter-spacing:801.6px;color:rgb(35,31,31);
}
#P449_87
{
left:0px;letter-spacing:0px;margin-left:-256px;
}
#P449_88
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P449_89
{
left:0px;letter-spacing:-1px;margin-left:-6.9px;
}
#P449_90
{
left:0px;letter-spacing:-0.5px;margin-left:1px;
}
#P449_91
{
left:0px;letter-spacing:0.3px;margin-left:0.5px;
}
#P449_92
{
left:8765.4px;bottom:36903.5px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P449_93
{
left:0px;letter-spacing:-1.2px;margin-left:1.4px;
}
#P449_94
{
left:0px;letter-spacing:-21.1px;margin-left:-12.7px;
}
#P449_95
{
left:0px;letter-spacing:-0.2px;margin-left:21.1px;
}
#P449_96
{
left:7278.55px;bottom:35579.2px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P449_97
{
left:8765.4px;bottom:35579.2px;color:rgb(2,77,161);
}
#P449_98
{
left:0px;letter-spacing:0px;margin-left:-52.8px;
}
#P449_99
{
left:15164.1px;bottom:35559.5px;letter-spacing:151.4px;word-spacing:0.1px;
color: rgb(35,31,31);
}
#P449_100
{
left:0px;letter-spacing:0px;margin-left:-214.6px;
}
#P449_101
{
left:0px;letter-spacing:0.5px;margin-left:-0.1px;
}
#P449_102
{
left:22809.2px;bottom:35559.5px;
color: rgb(35,31,31);
letter-spacing:-0.1px;word-spacing:0.1px;
}
#P449_103
{
left:8765.4px;bottom:34663.5px;letter-spacing:-3.5px;color:rgb(35,31,31);
}
#P449_104
{
left:0px;letter-spacing:-1px;margin-left:3.5px;
}
#P449_105
{
left:0px;letter-spacing:-1.2px;margin-left:1px;
}
#P449_106
{
left:0px;letter-spacing:-4.2px;margin-left:-12.8px;
}
#P449_107
{
left:0px;letter-spacing:-1px;margin-left:4.2px;
}
#P449_108
{
left:19605.3px;bottom:33319.5px;letter-spacing:-14px;word-spacing:300.2px;color:rgb(35,31,31);
}
#P449_109
{
left:20605.3px;bottom:33319.5px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P449_110
{
left:0px;letter-spacing:-0.5px;margin-left:1.4px;
}
#P449_111
{
left:20605.3px;bottom:32423.5px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P449_112
{
left:19541.3px;bottom:31079.5px;letter-spacing:-6.9px;color:rgb(35,31,31);
}
#P449_113
{
left:20157.5px;bottom:31079.5px;color:rgb(35,31,31);
}
#P449_114
{
left:0px;letter-spacing:0px;margin-left:289.6px;
}
#P449_115
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P449_116
{
left:20605.5px;bottom:30183.6px;letter-spacing:-3.5px;color:rgb(35,31,31);
}
#P449_117
{
left:0px;letter-spacing:-0.4px;margin-left:3.5px;
}
#P449_118
{
left:0px;letter-spacing:-7px;margin-left:-20.6px;
}
#P449_119
{
left:0px;letter-spacing:0px;margin-left:7px;
}
#P449_120
{
left:20605.5px;bottom:29287.7px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P449_121
{
left:0px;letter-spacing:0px;margin-left:0.5px;
}
#P449_122
{
left:20605.5px;bottom:28391.8px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P449_123
{
left:0px;letter-spacing:0.1px;margin-left:0.9px;
}
#P449_124
{
left:7101.4px;bottom:26811.2px;color:rgb(2,77,161);
}
#P449_125
{
left:10817.8px;bottom:26791.5px;color:rgb(35,31,31);
}
#P449_126
{
left:11169.8px;bottom:26791.5px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P449_127
{
left:0px;letter-spacing:-0.5px;margin-left:0.1px;
}
#P449_128
{
left:7101.4px;bottom:25895.5px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P449_129
{
left:7278.55px;bottom:24763.2px;color:rgb(35,31,31);
}
#P449_130
{
left:8701.4px;bottom:24743.5px;color:rgb(35,31,31);
}
#P449_131
{
left:22062.6px;bottom:24763.2px;color:rgb(35,31,31);
}
#P449_132
{
left:23485.4px;bottom:24743.5px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P449_133
{
left:8701.4px;bottom:23847.5px;color:rgb(35,31,31);
}
#P449_133a
{
left:23485.4px;bottom:23847.5px;color:rgb(35,31,31);
}
#P449_134
{
left:0px;letter-spacing:0px;margin-left:801.6px;
}
#P449_135
{
left:0px;letter-spacing:0px;margin-left:481.6px;
}
#P449_136
{
left:0px;letter-spacing:0px;margin-left:1540.5px;
}
#P449_137
{
left:0px;letter-spacing:0px;margin-left:481.6px;
}
#P449_138
{
left:7278.55px;bottom:22523.2px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P449_139
{
left:8765.4px;bottom:22523.2px;color:rgb(2,77,161);
}
#P449_140
{
left:12481.8px;bottom:22503.5px;letter-spacing:168.3px;color:rgb(35,31,31);
}
#P449_141
{
left:0px;letter-spacing:-0.4px;margin-left:-168.3px;
}
#P449_142
{
left:0px;letter-spacing:-3.5px;margin-left:-13.6px;
}
#P449_143
{
left:0px;letter-spacing:-0.9px;margin-left:3.5px;
}
#P449_144
{
left:8765.4px;bottom:21607.5px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P449_145
{
left:0px;letter-spacing:-2.8px;margin-left:-6.8px;
}
#P449_146
{
left:0px;letter-spacing:0px;margin-left:-39.3px;
}
#P449_147
{
left:0px;letter-spacing:0px;
}
#P449_148
{
left:7278.55px;bottom:19899.2px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P449_149
{
left:12499.5px;bottom:19879.5px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P449_150
{
left:0px;letter-spacing:-0.4px;margin-left:-202px;
}
#P449_151
{
left:0px;letter-spacing:0.2px;margin-left:0.4px;
}
#P449_152
{
left:8765.4px;bottom:18855.5px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P449_153
{
left:0px;letter-spacing:0px;margin-left:1.4px;
}
#P449_154
{
left:8789.34px;bottom:17639.5px;letter-spacing:-14px;word-spacing:300.2px;color:rgb(35,31,31);
}
#P449_155
{
left:9789.34px;bottom:17639.5px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P449_156
{
left:0px;letter-spacing:0px;margin-left:-13.3px;
}
#P449_157
{
left:9789.34px;bottom:16743.5px;color:rgb(35,31,31);
}
#P449_158
{
left:0px;letter-spacing:0px;margin-left:-42px;
}
#P449_159
{
left:0px;letter-spacing:-1.1px;
}
#P449_160
{
left:0px;letter-spacing:-0.1px;margin-left:-12.9px;
}
#P449_161
{
left:8725.27px;bottom:15463.5px;letter-spacing:-6.9px;color:rgb(35,31,31);
}
#P449_162
{
left:9341.47px;bottom:15463.5px;letter-spacing:289.7px;color:rgb(35,31,31);
}
#P449_163
{
left:0px;letter-spacing:0px;margin-left:-448.1px;
}
#P449_164
{
left:0px;letter-spacing:-0.7px;
}
#P449_165
{
left:0px;letter-spacing:-0.6px;margin-left:0.7px;
}
#P449_166
{
left:9789.59px;bottom:14567.6px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P449_167
{
left:21202.8px;bottom:46511.6px;color:rgb(35,31,31);
}
#P449_168
{
left:23406.3px;bottom:45679.6px;color:rgb(35,31,31);
}
#P449_169
{
left:29654.4px;bottom:46511.6px;color:rgb(35,31,31);
}
#P449_170
{
left:31877px;bottom:45679.6px;color:rgb(35,31,31);
}
#P449_171
{
left:20417.6px;bottom:44640.7px;word-spacing:520.8px;color:rgb(35,31,31);
}
#P449_172
{
left:0px;letter-spacing:0px;margin-left:974.6px;
}
#P449_173
{
left:10981.4px;bottom:33046.3px;letter-spacing:-3.1px;color:rgb(35,31,31);
}
#P449_174
{
left:0px;letter-spacing:0px;margin-left:3.1px;
}
#P449_175
{
left:9796.25px;bottom:31939.5px;color:rgb(35,31,31);
}
#P449_176
{
left:0px;letter-spacing:0px;margin-left:2061.8px;
}
#P449_177
{
left:0px;letter-spacing:0px;margin-left:1883.7px;
}
#P449_178
{
left:0px;letter-spacing:0px;margin-left:1883.6px;
}
#P449_179
{
left:9796.25px;bottom:30915.5px;color:rgb(35,31,31);
}
#P449_180
{
left:0px;letter-spacing:0px;margin-left:2061.8px;
}
#P449_181
{
left:0px;letter-spacing:0px;margin-left:1883.7px;
}
#P449_182
{
left:0px;letter-spacing:0px;margin-left:1705.6px;
}
#P449_183
{
left:9618.2px;bottom:29891.6px;color:rgb(35,31,31);
}
#P449_184
{
left:0px;letter-spacing:0px;
}
#P449_185
{
left:0px;letter-spacing:2061.8px;margin-left:1883.6px;
}
#P449_186
{
left:9618.2px;bottom:28867.6px;color:rgb(35,31,31);
}
#P449_187
{
left:0px;letter-spacing:0px;margin-left:1705.6px;
}
#P449_188
{
left:0px;letter-spacing:0px;margin-left:1883.6px;
}
#P449_189
{
left:0px;letter-spacing:0px;margin-left:2061.8px;
}
#P449_190
{
left:30482.3px;bottom:35559.5px;
}
#P449_191
{
left:0px;letter-spacing:0px;
}
#P449_192
{
left:0px;letter-spacing:0px;margin-left:158.4px;
}
#P449_193
{
left:26211.7px;bottom:3770.28px;color:rgb(0,145,68);
}
#P449_194
{
left:28995.5px;bottom:7875.44px;color:rgb(0,145,68);
}
#PageContainer449
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg449.jpg");background-repeat:no-repeat;background-size: 876px 1213px; background-position: 153.07px 68.4300000000001px;
}
#ImageContainer449 {bottom:82.57px;left:153.07px;width:876.44px;height:1213.36px;position:absolute;} #TextContainer449 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}