.tr606{ color:transparent;}
#P606_1
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P606_2
{
left:3540.44px;bottom:1410.03px;color:rgb(35,31,31);
}
#P606_3
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P606_4
{
left:9487.37px;bottom:1410.03px;letter-spacing:5px;word-spacing:461.9px;color:rgb(35,31,31);
}
#P606_5
{
left:0px;letter-spacing:2.7px;margin-left:-4.8px;
}
#P606_6
{
left:0px;letter-spacing:0px;margin-left:-464.6px;
}
#P606_7
{
left:0px;letter-spacing:2.4px;margin-left:0.2px;
}
#P606_8
{
left:0px;letter-spacing:0px;margin-left:-464.3px;
}
#P606_9
{
left:0px;letter-spacing:1.1px;margin-left:-8.1px;
}
#P606_10
{
left:5889.56px;bottom:46957.1px;letter-spacing:-6px;color:white;
}
#P606_11
{
left:9101.98px;bottom:47255.5px;color:white;
}
#P606_12
{
left:9475.61px;bottom:46957.1px;color:white;
}
#P606_13
{
left:2371.78px;bottom:46929.9px;color:white;
}
#P606_14
{
left:4690.71px;bottom:42321.3px;color:rgb(35,31,31);
}
#P606_15
{
left:5259.29px;bottom:42341px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P606_16
{
left:6354.71px;bottom:42341px;color:rgb(2,77,161);
}
#P606_17
{
left:9431.83px;bottom:42321.3px;letter-spacing:193.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P606_18
{
left:0px;letter-spacing:-0.1px;margin-left:-197.7px;
}
#P606_19
{
left:6354.71px;bottom:41425.3px;letter-spacing:-0.2px;word-spacing:0.2px;color:rgb(35,31,31);
}
#P606_20
{
left:4690.71px;bottom:40081.3px;color:rgb(35,31,31);
}
#P606_21
{
left:5259.29px;bottom:40101px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P606_22
{
left:6354.71px;bottom:40101px;color:rgb(2,77,161);
}
#P606_23
{
left:10437.1px;bottom:40081.3px;letter-spacing:168.3px;color:rgb(35,31,31);
}
#P606_24
{
left:0px;letter-spacing:0px;margin-left:-225.9px;
}
#P606_25
{
left:0px;letter-spacing:-0.1px;margin-left:5.5px;
}
#P606_26
{
left:0px;letter-spacing:0px;margin-left:-13.8px;
}
#P606_27
{
left:6354.71px;bottom:39185.3px;letter-spacing:-0.9px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P606_28
{
left:0px;letter-spacing:-0.7px;margin-left:158.7px;
}
#P606_29
{
left:0px;letter-spacing:-0.1px;margin-left:0.6px;
}
#P606_30
{
left:6354.71px;bottom:38289.3px;letter-spacing:-0.8px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P606_31
{
left:4690.78px;bottom:36689.4px;letter-spacing:-0.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P606_32
{
left:0px;letter-spacing:-0.1px;margin-left:0.3px;
}
#P606_33
{
left:4690.78px;bottom:35537.3px;color:rgb(35,31,31);
}
#P606_34
{
left:5259.29px;bottom:35557px;color:rgb(35,31,31);
}
#P606_35
{
left:6290.71px;bottom:35537.3px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P606_36
{
left:0px;letter-spacing:0px;margin-left:1.3px;
}
#P606_37
{
left:12555.3px;bottom:35557px;color:rgb(35,31,31);
}
#P606_38
{
left:13586.7px;bottom:35537.3px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P606_39
{
left:19979.3px;bottom:35557px;color:rgb(35,31,31);
}
#P606_40
{
left:21010.7px;bottom:35537.3px;letter-spacing:-1.6px;color:rgb(35,31,31);
}
#P606_41
{
left:24700.4px;bottom:35507.8px;color:rgb(35,31,31);
}
#P606_42
{
left:25286.8px;bottom:35537.3px;color:rgb(35,31,31);
}
#P606_43
{
left:27339.4px;bottom:35557px;color:rgb(35,31,31);
}
#P606_44
{
left:28370.8px;bottom:35537.3px;color:rgb(35,31,31);
}
#P606_45
{
left:30746px;bottom:35507.8px;color:rgb(35,31,31);
}
#P606_46
{
left:31332.4px;bottom:35537.3px;color:rgb(35,31,31);
}
#P606_47
{
left:4086.06px;bottom:33229.3px;color:rgb(33,31,31);
}
#P606_48
{
left:4172.45px;bottom:33260.7px;letter-spacing:-0.2px;color:rgb(33,31,31);
}
#P606_49
{
left:4455.46px;bottom:33363.4px;letter-spacing:0.8px;color:rgb(33,31,31);
}
#P606_50
{
left:4602.53px;bottom:33416.9px;color:rgb(33,31,31);
}
#P606_51
{
left:4164.48px;bottom:33050.1px;color:rgb(33,31,31);
}
#P606_52
{
left:4250.85px;bottom:33081.5px;letter-spacing:-0.2px;color:rgb(33,31,31);
}
#P606_53
{
left:4533.86px;bottom:33184.3px;letter-spacing:0.8px;color:rgb(33,31,31);
}
#P606_54
{
left:4259.68px;bottom:32870.9px;color:rgb(33,31,31);
}
#P606_55
{
left:4346.08px;bottom:32902.3px;letter-spacing:-0.7px;color:rgb(33,31,31);
}
#P606_56
{
left:4543.52px;bottom:32974px;color:rgb(33,31,31);
}
#P606_57
{
left:4629.09px;bottom:33005.1px;letter-spacing:0.8px;color:rgb(33,31,31);
}
#P606_58
{
left:4424.86px;bottom:32621.7px;color:rgb(33,31,31);
}
#P606_59
{
left:4511.26px;bottom:32653.1px;letter-spacing:-0.2px;color:rgb(33,31,31);
}
#P606_60
{
left:4794.27px;bottom:32755.9px;letter-spacing:0.8px;color:rgb(33,31,31);
}
#P606_61
{
left:4669.4px;bottom:30789.5px;color:rgb(35,31,31);
}
#P606_62
{
left:0px;letter-spacing:0px;margin-left:-10.5px;
}
#P606_63
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P606_64
{
left:4669.4px;bottom:29317.5px;color:rgb(35,31,31);
}
#P606_65
{
left:5237.98px;bottom:29337.3px;color:rgb(35,31,31);
}
#P606_66
{
left:6269.4px;bottom:29317.5px;color:rgb(35,31,31);
}
#P606_67
{
left:6642.52px;bottom:29317.5px;color:rgb(35,31,31);
}
#P606_68
{
left:7069.85px;bottom:29317.5px;color:rgb(35,31,31);
}
#P606_69
{
left:7228.25px;bottom:29288px;color:rgb(35,31,31);
}
#P606_70
{
left:7814.68px;bottom:29317.5px;color:rgb(35,31,31);
}
#P606_71
{
left:12533.9px;bottom:29337.3px;color:rgb(35,31,31);
}
#P606_72
{
left:13565.3px;bottom:29288px;color:rgb(35,31,31);
}
#P606_73
{
left:14151.8px;bottom:29317.5px;color:rgb(35,31,31);
}
#P606_74
{
left:14524.9px;bottom:29317.5px;color:rgb(35,31,31);
}
#P606_75
{
left:14765px;bottom:29288px;color:rgb(35,31,31);
}
#P606_76
{
left:16289.8px;bottom:29317.5px;color:rgb(35,31,31);
}
#P606_77
{
left:19958px;bottom:29337.3px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P606_78
{
left:20989.5px;bottom:29337.3px;color:rgb(35,31,31);
}
#P606_79
{
left:21010.5px;bottom:29759.3px;color:rgb(35,31,31);
}
#P606_80
{
left:21402.1px;bottom:29335.1px;color:rgb(35,31,31);
}
#P606_81
{
left:20989.4px;bottom:29303.6px;color:rgb(35,31,31);
}
#P606_82
{
left:21423.2px;bottom:29318.8px;color:rgb(35,31,31);
}
#P606_83
{
left:21038.4px;bottom:28851.8px;color:rgb(35,31,31);
}
#P606_84
{
left:21374.2px;bottom:29335.1px;color:rgb(35,31,31);
}
#P606_85
{
left:21423.2px;bottom:29317.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P606_86
{
left:21581.6px;bottom:29288px;color:rgb(35,31,31);
}
#P606_87
{
left:22168px;bottom:29317.5px;color:rgb(35,31,31);
}
#P606_88
{
left:22326.4px;bottom:29288px;color:rgb(35,31,31);
}
#P606_89
{
left:22912.9px;bottom:29317.5px;color:rgb(35,31,31);
}
#P606_90
{
left:26926.6px;bottom:29337.3px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P606_91
{
left:28349.4px;bottom:29337.3px;color:rgb(35,31,31);
}
#P606_92
{
left:28629.7px;bottom:29759.3px;color:rgb(35,31,31);
}
#P606_93
{
left:28975px;bottom:29335.1px;color:rgb(35,31,31);
}
#P606_94
{
left:28349.4px;bottom:29303.6px;color:rgb(35,31,31);
}
#P606_95
{
left:29255.3px;bottom:29318.8px;color:rgb(35,31,31);
}
#P606_96
{
left:28370.5px;bottom:28825.2px;color:rgb(35,31,31);
}
#P606_97
{
left:28898.3px;bottom:28851.8px;color:rgb(35,31,31);
}
#P606_98
{
left:29234.1px;bottom:29335.1px;color:rgb(35,31,31);
}
#P606_99
{
left:29255.3px;bottom:29317.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P606_100
{
left:29413.7px;bottom:29288px;color:rgb(35,31,31);
}
#P606_101
{
left:30000px;bottom:29317.5px;color:rgb(35,31,31);
}
#P606_102
{
left:4669.4px;bottom:27333.5px;color:rgb(35,31,31);
}
#P606_103
{
left:4846.55px;bottom:27353.3px;color:rgb(35,31,31);
}
#P606_104
{
left:6269.4px;bottom:27333.5px;color:rgb(35,31,31);
}
#P606_105
{
left:6642.52px;bottom:27333.5px;color:rgb(35,31,31);
}
#P606_106
{
left:7284.57px;bottom:27333.5px;color:rgb(35,31,31);
}
#P606_107
{
left:7442.97px;bottom:27304px;color:rgb(35,31,31);
}
#P606_108
{
left:8029.4px;bottom:27333.5px;color:rgb(35,31,31);
}
#P606_109
{
left:8187.8px;bottom:27304px;color:rgb(35,31,31);
}
#P606_110
{
left:8774.17px;bottom:27333.5px;color:rgb(35,31,31);
}
#P606_111
{
left:12142.4px;bottom:27353.3px;color:rgb(35,31,31);
}
#P606_112
{
left:13565.3px;bottom:27333.5px;color:rgb(35,31,31);
}
#P606_113
{
left:13938.4px;bottom:27333.5px;color:rgb(35,31,31);
}
#P606_114
{
left:14178.5px;bottom:27333.5px;color:rgb(35,31,31);
}
#P606_115
{
left:14336.9px;bottom:27304px;color:rgb(35,31,31);
}
#P606_116
{
left:14923.3px;bottom:27333.5px;color:rgb(35,31,31);
}
#P606_117
{
left:15081.7px;bottom:27304px;color:rgb(35,31,31);
}
#P606_118
{
left:15668.1px;bottom:27333.5px;color:rgb(35,31,31);
}
#P606_119
{
left:19370.8px;bottom:27353.3px;color:rgb(35,31,31);
}
#P606_120
{
left:0px;letter-spacing:0px;margin-left:248.6px;
}
#P606_121
{
left:21185px;bottom:27304px;color:rgb(35,31,31);
}
#P606_122
{
left:21771.5px;bottom:27333.5px;color:rgb(35,31,31);
}
#P606_123
{
left:22704.3px;bottom:27333.5px;color:rgb(35,31,31);
}
#P606_124
{
left:23067.5px;bottom:27333.5px;color:rgb(35,31,31);
}
#P606_125
{
left:23225.9px;bottom:27304px;color:rgb(35,31,31);
}
#P606_126
{
left:23812.4px;bottom:27333.5px;color:rgb(35,31,31);
}
#P606_127
{
left:26926.5px;bottom:27353.3px;color:rgb(35,31,31);
}
#P606_128
{
left:28349.3px;bottom:27304px;color:rgb(35,31,31);
}
#P606_129
{
left:28935.8px;bottom:27333.5px;color:rgb(35,31,31);
}
#P606_130
{
left:29840.4px;bottom:27304px;color:rgb(35,31,31);
}
#P606_131
{
left:30426.8px;bottom:27333.5px;color:rgb(35,31,31);
}
#P606_132
{
left:30585.2px;bottom:27304px;color:rgb(35,31,31);
}
#P606_133
{
left:31016.7px;bottom:27333.5px;color:rgb(35,31,31);
}
#P606_134
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P606_135
{
left:31196.3px;bottom:27773.2px;color:rgb(35,31,31);
}
#P606_136
{
left:31550.5px;bottom:27351.1px;color:rgb(35,31,31);
}
#P606_137
{
left:31175.2px;bottom:27317.5px;color:rgb(35,31,31);
}
#P606_138
{
left:31571.6px;bottom:27334.8px;color:rgb(35,31,31);
}
#P606_139
{
left:31205.5px;bottom:26865.7px;color:rgb(35,31,31);
}
#P606_140
{
left:31541.3px;bottom:27351.1px;color:rgb(35,31,31);
}
#P606_141
{
left:31571.6px;bottom:27333.5px;color:rgb(35,31,31);
}
#P606_142
{
left:4669.4px;bottom:25349.5px;color:rgb(35,31,31);
}
#P606_143
{
left:4846.43px;bottom:25369.3px;color:rgb(35,31,31);
}
#P606_144
{
left:6269.27px;bottom:25320px;color:rgb(35,31,31);
}
#P606_145
{
left:6855.71px;bottom:25349.5px;color:rgb(35,31,31);
}
#P606_146
{
left:7228.83px;bottom:25349.5px;color:rgb(35,31,31);
}
#P606_147
{
left:7644.19px;bottom:25349.5px;color:rgb(35,31,31);
}
#P606_148
{
left:7802.59px;bottom:25320px;color:rgb(35,31,31);
}
#P606_149
{
left:8389.02px;bottom:25349.5px;color:rgb(35,31,31);
}
#P606_150
{
left:12142.4px;bottom:25369.3px;color:rgb(35,31,31);
}
#P606_151
{
left:13565.3px;bottom:25320px;color:rgb(35,31,31);
}
#P606_152
{
left:14151.7px;bottom:25349.5px;color:rgb(35,31,31);
}
#P606_153
{
left:15056.3px;bottom:25320px;color:rgb(35,31,31);
}
#P606_154
{
left:15642.8px;bottom:25349.5px;color:rgb(35,31,31);
}
#P606_155
{
left:16174.3px;bottom:25349.5px;color:rgb(35,31,31);
}
#P606_156
{
left:19566.4px;bottom:25369.3px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P606_157
{
left:20989.3px;bottom:25369.3px;color:rgb(35,31,31);
}
#P606_158
{
left:21234.5px;bottom:25791.3px;color:rgb(35,31,31);
}
#P606_159
{
left:21626.1px;bottom:25367.1px;color:rgb(35,31,31);
}
#P606_160
{
left:20989.4px;bottom:25335.6px;color:rgb(35,31,31);
}
#P606_161
{
left:21871.1px;bottom:25350.8px;color:rgb(35,31,31);
}
#P606_162
{
left:21010.5px;bottom:24883.8px;color:rgb(35,31,31);
}
#P606_163
{
left:21850px;bottom:25367.1px;color:rgb(35,31,31);
}
#P606_164
{
left:21871.1px;bottom:25349.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P606_165
{
left:22029.5px;bottom:25320px;color:rgb(35,31,31);
}
#P606_166
{
left:22616px;bottom:25349.5px;color:rgb(35,31,31);
}
#P606_167
{
left:26926.6px;bottom:25369.3px;color:rgb(35,31,31);
}
#P606_168
{
left:28349.4px;bottom:25320px;color:rgb(35,31,31);
}
#P606_169
{
left:28935.8px;bottom:25349.5px;color:rgb(35,31,31);
}
#P606_170
{
left:30400.2px;bottom:25320px;color:rgb(35,31,31);
}
#P606_171
{
left:30986.6px;bottom:25349.5px;color:rgb(35,31,31);
}
#P606_172
{
left:31144.9px;bottom:25320px;color:rgb(35,31,31);
}
#P606_173
{
left:31731.4px;bottom:25349.5px;color:rgb(35,31,31);
}
#P606_174
{
left:32664.2px;bottom:25349.5px;color:rgb(35,31,31);
}
#P606_175
{
left:4669.4px;bottom:23365.5px;color:rgb(35,31,31);
}
#P606_176
{
left:4846.43px;bottom:23385.3px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P606_177
{
left:6269.27px;bottom:23385.3px;color:rgb(35,31,31);
}
#P606_178
{
left:6290.52px;bottom:23807.3px;color:rgb(35,31,31);
}
#P606_179
{
left:6626.33px;bottom:23383.1px;color:rgb(35,31,31);
}
#P606_180
{
left:6269.4px;bottom:23351.6px;color:rgb(35,31,31);
}
#P606_181
{
left:6647.45px;bottom:23366.8px;color:rgb(35,31,31);
}
#P606_182
{
left:6290.52px;bottom:22899.8px;color:rgb(35,31,31);
}
#P606_183
{
left:6626.33px;bottom:23383.1px;color:rgb(35,31,31);
}
#P606_184
{
left:6647.45px;bottom:23365.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P606_185
{
left:6735.45px;bottom:23365.5px;color:rgb(35,31,31);
}
#P606_186
{
left:7086.75px;bottom:23365.5px;color:rgb(35,31,31);
}
#P606_187
{
left:7245.15px;bottom:23336px;color:rgb(35,31,31);
}
#P606_188
{
left:7831.58px;bottom:23365.5px;color:rgb(35,31,31);
}
#P606_189
{
left:7989.91px;bottom:23336px;color:rgb(35,31,31);
}
#P606_190
{
left:8576.35px;bottom:23365.5px;color:rgb(35,31,31);
}
#P606_191
{
left:12142.5px;bottom:23385.3px;color:rgb(35,31,31);
}
#P606_192
{
left:13565.4px;bottom:23365.5px;color:rgb(35,31,31);
}
#P606_193
{
left:14096.9px;bottom:23336px;color:rgb(35,31,31);
}
#P606_194
{
left:14683.4px;bottom:23365.5px;color:rgb(35,31,31);
}
#P606_195
{
left:14841.8px;bottom:23336px;color:rgb(35,31,31);
}
#P606_196
{
left:15273.2px;bottom:23365.5px;color:rgb(35,31,31);
}
#P606_197
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P606_198
{
left:15452.8px;bottom:23805.2px;color:rgb(35,31,31);
}
#P606_199
{
left:15788.6px;bottom:23383.1px;color:rgb(35,31,31);
}
#P606_200
{
left:15431.6px;bottom:23349.5px;color:rgb(35,31,31);
}
#P606_201
{
left:15809.7px;bottom:23366.8px;color:rgb(35,31,31);
}
#P606_202
{
left:15452.8px;bottom:22897.7px;color:rgb(35,31,31);
}
#P606_203
{
left:15788.6px;bottom:23383.1px;color:rgb(35,31,31);
}
#P606_204
{
left:15809.7px;bottom:23365.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P606_205
{
left:15897.7px;bottom:23365.5px;color:rgb(35,31,31);
}
#P606_206
{
left:16208.2px;bottom:23365.5px;color:rgb(35,31,31);
}
#P606_207
{
left:19566.6px;bottom:23385.3px;color:rgb(35,31,31);
}
#P606_208
{
left:20989.5px;bottom:23336px;color:rgb(35,31,31);
}
#P606_209
{
left:21421.1px;bottom:23365.5px;color:rgb(35,31,31);
}
#P606_210
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P606_211
{
left:21600.5px;bottom:23805.2px;color:rgb(35,31,31);
}
#P606_212
{
left:21936.3px;bottom:23383.1px;color:rgb(35,31,31);
}
#P606_213
{
left:21579.4px;bottom:23349.5px;color:rgb(35,31,31);
}
#P606_214
{
left:21957.4px;bottom:23366.8px;color:rgb(35,31,31);
}
#P606_215
{
left:21600.5px;bottom:22897.7px;color:rgb(35,31,31);
}
#P606_216
{
left:21936.3px;bottom:23383.1px;color:rgb(35,31,31);
}
#P606_217
{
left:21957.4px;bottom:23365.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P606_218
{
left:22045.4px;bottom:23365.5px;color:rgb(35,31,31);
}
#P606_219
{
left:22267.2px;bottom:23365.5px;color:rgb(35,31,31);
}
#P606_220
{
left:22425.5px;bottom:23336px;color:rgb(35,31,31);
}
#P606_221
{
left:23011.9px;bottom:23365.5px;color:rgb(35,31,31);
}
#P606_222
{
left:23170.3px;bottom:23336px;color:rgb(35,31,31);
}
#P606_223
{
left:23756.8px;bottom:23365.5px;color:rgb(35,31,31);
}
#P606_224
{
left:26926.5px;bottom:23385.3px;color:rgb(35,31,31);
}
#P606_225
{
left:28349.4px;bottom:23365.5px;color:rgb(35,31,31);
}
#P606_226
{
left:29254px;bottom:23336px;color:rgb(35,31,31);
}
#P606_227
{
left:29840.5px;bottom:23365.5px;color:rgb(35,31,31);
}
#P606_228
{
left:29998.9px;bottom:23336px;color:rgb(35,31,31);
}
#P606_229
{
left:30430.3px;bottom:23365.5px;color:rgb(35,31,31);
}
#P606_230
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P606_231
{
left:30609.9px;bottom:23805.2px;color:rgb(35,31,31);
}
#P606_232
{
left:30945.7px;bottom:23383.1px;color:rgb(35,31,31);
}
#P606_233
{
left:30588.8px;bottom:23349.5px;color:rgb(35,31,31);
}
#P606_234
{
left:30966.8px;bottom:23366.8px;color:rgb(35,31,31);
}
#P606_235
{
left:30609.9px;bottom:22897.7px;color:rgb(35,31,31);
}
#P606_236
{
left:30945.7px;bottom:23383.1px;color:rgb(35,31,31);
}
#P606_237
{
left:30966.8px;bottom:23365.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P606_238
{
left:31054.8px;bottom:23365.5px;color:rgb(35,31,31);
}
#P606_239
{
left:4669.4px;bottom:20933.5px;color:rgb(35,31,31);
}
#P606_240
{
left:4846.43px;bottom:20953.3px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P606_241
{
left:6333.4px;bottom:20953.3px;word-spacing:-26px;color:rgb(2,77,161);
}
#P606_242
{
left:0px;letter-spacing:0px;margin-left:-52.8px;
}
#P606_243
{
left:0px;letter-spacing:0px;margin-left:-12.5px;
}
#P606_244
{
left:11627px;bottom:20933.5px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P606_245
{
left:0px;letter-spacing:-0.5px;margin-left:-197.8px;
}
#P606_246
{
left:0px;letter-spacing:0px;margin-left:0.5px;
}
#P606_247
{
left:20797.4px;bottom:20332.2px;color:rgb(35,31,31);
}
#P606_248
{
left:23741.4px;bottom:20302.6px;color:rgb(35,31,31);
}
#P606_249
{
left:24327.8px;bottom:20290px;color:rgb(35,31,31);
}
#P606_250
{
left:25264.9px;bottom:20290px;color:rgb(35,31,31);
}
#P606_251
{
left:25544.3px;bottom:20290px;color:rgb(35,31,31);
}
#P606_252
{
left:25720.3px;bottom:20302.6px;color:rgb(35,31,31);
}
#P606_253
{
left:26306.7px;bottom:20290px;color:rgb(35,31,31);
}
#P606_254
{
left:20797.4px;bottom:18626px;letter-spacing:2896px;color:rgb(35,31,31);
}
#P606_255
{
left:0px;letter-spacing:0px;margin-left:-3071.9px;
}
#P606_256
{
left:23890.5px;bottom:19059.1px;color:rgb(35,31,31);
}
#P606_257
{
left:24418.3px;bottom:19047.7px;color:rgb(35,31,31);
}
#P606_258
{
left:25261.6px;bottom:19047.7px;color:rgb(35,31,31);
}
#P606_259
{
left:25513.1px;bottom:18647.8px;color:rgb(35,31,31);
}
#P606_260
{
left:23869.4px;bottom:18630px;color:rgb(35,31,31);
}
#P606_261
{
left:25534.2px;bottom:18669.5px;color:rgb(35,31,31);
}
#P606_262
{
left:24280.2px;bottom:18140.2px;color:rgb(35,31,31);
}
#P606_263
{
left:25123.5px;bottom:18647.8px;color:rgb(35,31,31);
}
#P606_264
{
left:25534.2px;bottom:18626px;letter-spacing:-176px;color:rgb(35,31,31);
}
#P606_265
{
left:25710.2px;bottom:18638.6px;color:rgb(35,31,31);
}
#P606_266
{
left:26296.7px;bottom:18626px;color:rgb(35,31,31);
}
#P606_267
{
left:0px;letter-spacing:0px;margin-left:-176px;
}
#P606_268
{
left:26643.7px;bottom:19047.7px;color:rgb(35,31,31);
}
#P606_269
{
left:27187.2px;bottom:18647.8px;color:rgb(35,31,31);
}
#P606_270
{
left:26472.7px;bottom:18630px;color:rgb(35,31,31);
}
#P606_271
{
left:27358.2px;bottom:18669.5px;color:rgb(35,31,31);
}
#P606_272
{
left:26493.8px;bottom:18140.2px;color:rgb(35,31,31);
}
#P606_273
{
left:27337.1px;bottom:18647.8px;color:rgb(35,31,31);
}
#P606_274
{
left:27358.2px;bottom:18626px;color:rgb(35,31,31);
}
#P606_275
{
left:20797.4px;bottom:16962px;color:rgb(35,31,31);
}
#P606_276
{
left:25277.3px;bottom:16962px;color:rgb(35,31,31);
}
#P606_277
{
left:25556.8px;bottom:16962px;color:rgb(35,31,31);
}
#P606_278
{
left:25732.8px;bottom:16974.6px;color:rgb(35,31,31);
}
#P606_279
{
left:26319.2px;bottom:16962px;color:rgb(35,31,31);
}
#P606_280
{
left:0px;bottom:0px;letter-spacing:0px;color:rgb(235,26,35);
}
#P606_281
{
left:6333.4px;bottom:20037.5px;color:rgb(35,31,31);
}
#P606_282
{
left:0px;letter-spacing:0px;margin-left:-4.2px;
}
#P606_283
{
left:0px;letter-spacing:0px;margin-left:-214.7px;
}
#P606_284
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P606_285
{
left:4669.4px;bottom:14661.5px;letter-spacing:-14.8px;color:rgb(35,31,31);
}
#P606_286
{
left:0px;letter-spacing:-1.9px;margin-left:14.8px;
}
#P606_287
{
left:0px;letter-spacing:-1.2px;margin-left:1.9px;
}
#P606_288
{
left:0px;letter-spacing:0px;margin-left:-26.9px;
}
#P606_289
{
left:0px;letter-spacing:-1.5px;
}
#P606_290
{
left:4669.4px;bottom:13509.4px;color:rgb(35,31,31);
}
#P606_291
{
left:4846.55px;bottom:13529.1px;color:rgb(35,31,31);
}
#P606_292
{
left:6269.4px;bottom:13509.4px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P606_293
{
left:13067.9px;bottom:13479.9px;color:rgb(35,31,31);
}
#P606_294
{
left:13654.3px;bottom:13509.4px;color:rgb(35,31,31);
}
#P606_295
{
left:14856px;bottom:13479.9px;color:rgb(35,31,31);
}
#P606_296
{
left:15442.4px;bottom:13509.4px;color:rgb(35,31,31);
}
#P606_297
{
left:19630.6px;bottom:13529.1px;color:rgb(35,31,31);
}
#P606_298
{
left:21053.4px;bottom:13509.4px;color:rgb(35,31,31);
}
#P606_299
{
left:0px;letter-spacing:0px;margin-left:-17.5px;
}
#P606_300
{
left:0px;letter-spacing:0px;
}
#P606_301
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P606_302
{
left:28815.6px;bottom:13949.2px;color:rgb(35,31,31);
}
#P606_303
{
left:29151.4px;bottom:13527.1px;color:rgb(35,31,31);
}
#P606_304
{
left:28794.5px;bottom:13493.5px;color:rgb(35,31,31);
}
#P606_305
{
left:29172.6px;bottom:13510.8px;color:rgb(35,31,31);
}
#P606_306
{
left:28815.6px;bottom:13041.7px;color:rgb(35,31,31);
}
#P606_307
{
left:29151.4px;bottom:13527.1px;color:rgb(35,31,31);
}
#P606_308
{
left:29172.6px;bottom:13509.5px;color:rgb(35,31,31);
}
#P606_309
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P606_310
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P606_311
{
left:30190.2px;bottom:13949.2px;color:rgb(35,31,31);
}
#P606_312
{
left:30526px;bottom:13527.1px;color:rgb(35,31,31);
}
#P606_313
{
left:30001.1px;bottom:13493.5px;color:rgb(35,31,31);
}
#P606_314
{
left:30715px;bottom:13510.8px;color:rgb(35,31,31);
}
#P606_315
{
left:30022.2px;bottom:13041.7px;color:rgb(35,31,31);
}
#P606_316
{
left:30693.8px;bottom:13527.1px;color:rgb(35,31,31);
}
#P606_317
{
left:30715px;bottom:13509.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P606_318
{
left:4669.34px;bottom:12165.5px;color:rgb(35,31,31);
}
#P606_319
{
left:4846.49px;bottom:12185.3px;color:rgb(35,31,31);
}
#P606_320
{
left:6333.34px;bottom:12165.5px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P606_321
{
left:17420.5px;bottom:12136px;color:rgb(35,31,31);
}
#P606_322
{
left:18006.9px;bottom:12165.5px;color:rgb(35,31,31);
}
#P606_323
{
left:4669.27px;bottom:10821.5px;color:rgb(35,31,31);
}
#P606_324
{
left:4846.43px;bottom:10841.3px;color:rgb(35,31,31);
}
#P606_325
{
left:6333.27px;bottom:10821.5px;color:rgb(35,31,31);
}
#P606_326
{
left:16038.4px;bottom:10792px;color:rgb(35,31,31);
}
#P606_327
{
left:16624.9px;bottom:10821.5px;color:rgb(35,31,31);
}
#P606_328
{
left:4669.21px;bottom:9221.55px;letter-spacing:-5px;color:rgb(35,31,31);
}
#P606_329
{
left:0px;letter-spacing:-1.9px;margin-left:5px;
}
#P606_330
{
left:0px;letter-spacing:-1.3px;margin-left:1.9px;
}
#P606_331
{
left:0px;letter-spacing:0px;margin-left:-26.8px;
}
#P606_332
{
left:0px;letter-spacing:-1.5px;
}
#P606_333
{
left:4669.21px;bottom:8069.55px;color:rgb(35,31,31);
}
#P606_334
{
left:4846.36px;bottom:8089.26px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P606_335
{
left:6333.4px;bottom:8089.26px;letter-spacing:-7.7px;color:rgb(2,77,161);
}
#P606_336
{
left:0px;letter-spacing:0px;margin-left:7.7px;
}
#P606_337
{
left:10817.3px;bottom:8069.55px;letter-spacing:151.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P606_338
{
left:0px;letter-spacing:-0.1px;margin-left:-214.6px;
}
#P606_339
{
left:0px;letter-spacing:0.3px;margin-left:158.8px;
}
#P606_340
{
left:6333.4px;bottom:7173.55px;letter-spacing:-2.3px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P606_341
{
left:0px;letter-spacing:-0.1px;margin-left:-18.7px;
}
#P606_342
{
left:0px;letter-spacing:-0.2px;margin-left:158.3px;
}
#P606_343
{
left:6333.4px;bottom:6277.55px;color:rgb(35,31,31);
}
#P606_344
{
left:4669.4px;bottom:4933.55px;color:rgb(35,31,31);
}
#P606_345
{
left:4846.55px;bottom:4953.26px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P606_346
{
left:6333.4px;bottom:4953.26px;color:rgb(2,77,161);
}
#P606_347
{
left:11704.9px;bottom:4933.55px;letter-spacing:193.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P606_348
{
left:0px;letter-spacing:-0.6px;margin-left:-35.6px;
}
#P606_349
{
left:20243.2px;bottom:5373.23px;color:rgb(35,31,31);
}
#P606_350
{
left:20579px;bottom:4951.15px;color:rgb(35,31,31);
}
#P606_351
{
left:20222px;bottom:4917.54px;color:rgb(35,31,31);
}
#P606_352
{
left:20600.1px;bottom:4934.82px;color:rgb(35,31,31);
}
#P606_353
{
left:20243.2px;bottom:4465.71px;color:rgb(35,31,31);
}
#P606_354
{
left:20579px;bottom:4951.15px;color:rgb(35,31,31);
}
#P606_355
{
left:20600.1px;bottom:4933.55px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P606_356
{
left:0px;letter-spacing:-0.9px;margin-left:158.4px;
}
#P606_357
{
left:4669.4px;bottom:3589.54px;color:rgb(35,31,31);
}
#P606_358
{
left:5629.4px;bottom:3609.25px;color:rgb(35,31,31);
}
#P606_359
{
left:6333.4px;bottom:3589.54px;letter-spacing:-21px;color:rgb(35,31,31);
}
#P606_360
{
left:7800.09px;bottom:3609.25px;color:rgb(35,31,31);
}
#P606_361
{
left:7995.8px;bottom:3589.54px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P606_362
{
left:3826.73px;bottom:29388.2px;
}
#P606_363
{
left:3826.73px;bottom:29388.2px;color:white;
}
#P606_364
{
left:3963.8px;bottom:23381.8px;
}
#P606_365
{
left:3963.8px;bottom:23381.8px;color:white;
}
#P606_366
{
left:3919px;bottom:13561px;
}
#P606_367
{
left:3919px;bottom:13561px;color:white;
}
#P606_368
{
left:26785.2px;bottom:46233.7px;word-spacing:0.2px;color:rgb(33,31,31);
}
#P606_369
{
left:21278px;bottom:19478.8px;
}
#PageContainer606
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg606.jpg");background-repeat:no-repeat;background-size: 942px 1193px; background-position: 0px 35.55px;
}
#ImageContainer606 {bottom:135.45px;left:0.00px;width:942.01px;height:1193.06px;position:absolute;} #TextContainer606 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.answer{  position: absolute;  top: 50px;  left: 19px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}
.circle1{position: absolute;top: 538px;left: 94px;}
.circle2{position: absolute;top: 704px;left: 94px;}
.circle3{position: absolute;top: 968px;left: 94px;}
#middle-toolbar img{vertical-align: middle;}