.tr663{ color:transparent;}
#P663_1
{
left:4592.6px;bottom:1544.43px;color:rgb(35,31,31);
}
#P663_2
{
left:24780.1px;bottom:1410.03px;color:rgb(35,31,31);
}
#P663_3
{
left:29697px;bottom:1544.43px;letter-spacing:3.6px;word-spacing:462.8px;color:rgb(35,31,31);
}
#P663_4
{
left:0px;letter-spacing:0px;margin-left:174.3px;
}
#P663_5
{
left:0px;letter-spacing:0.1px;margin-left:-23px;
}
#P663_6
{
left:0px;letter-spacing:-0.6px;margin-left:-0.9px;
}
#P663_7
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P663_8
{
left:13964.6px;bottom:45185.3px;letter-spacing:-28.1px;color:rgb(35,31,31);
}
#P663_9
{
left:0px;letter-spacing:0px;margin-left:28.1px;
}
#P663_10
{
left:18178.1px;bottom:45191px;color:rgb(35,31,31);
}
#P663_11
{
left:18541.4px;bottom:45185.3px;color:rgb(35,31,31);
}
#P663_12
{
left:20095.1px;bottom:45191px;color:rgb(35,31,31);
}
#P663_13
{
left:20439.4px;bottom:45185.3px;letter-spacing:-3.5px;color:rgb(35,31,31);
}
#P663_14
{
left:0px;letter-spacing:-3.5px;margin-left:3.5px;
}
#P663_15
{
left:0px;letter-spacing:-2.8px;margin-left:3.5px;
}
#P663_16
{
left:0px;letter-spacing:-0.6px;margin-left:2.8px;
}
#P663_17
{
left:13964.6px;bottom:44033.3px;color:rgb(35,31,31);
}
#P663_18
{
left:14428.2px;bottom:44060.1px;color:rgb(35,31,31);
}
#P663_19
{
left:16593.8px;bottom:43725.4px;letter-spacing:1930.4px;color:rgb(35,31,31);
}
#P663_20
{
left:16602.6px;bottom:42618.6px;color:rgb(35,31,31);
}
#P663_21
{
left:18626.8px;bottom:42590.4px;color:rgb(35,31,31);
}
#P663_22
{
left:19186.5px;bottom:42618.6px;color:rgb(35,31,31);
}
#P663_23
{
left:16602.6px;bottom:41594.6px;letter-spacing:1947.9px;color:rgb(35,31,31);
}
#P663_24
{
left:16602.6px;bottom:40570.7px;letter-spacing:1947.9px;color:rgb(35,31,31);
}
#P663_25
{
left:16602.6px;bottom:39546.7px;letter-spacing:1947.9px;color:rgb(35,31,31);
}
#P663_26
{
left:20844.6px;bottom:44033.3px;color:rgb(35,31,31);
}
#P663_27
{
left:21980.2px;bottom:44060.1px;color:rgb(35,31,31);
}
#P663_28
{
left:24209.8px;bottom:43734.3px;letter-spacing:1930.4px;color:rgb(35,31,31);
}
#P663_29
{
left:24218.6px;bottom:42627.5px;letter-spacing:1947.9px;color:rgb(35,31,31);
}
#P663_30
{
left:24218.6px;bottom:41603.5px;letter-spacing:1947.9px;color:rgb(35,31,31);
}
#P663_31
{
left:24218.6px;bottom:40579.5px;letter-spacing:1769.7px;color:rgb(35,31,31);
}
#P663_32
{
left:0px;letter-spacing:0px;margin-left:-1769.8px;
}
#P663_33
{
left:24218.6px;bottom:39555.5px;letter-spacing:1769.7px;color:rgb(35,31,31);
}
#P663_34
{
left:0px;letter-spacing:0px;margin-left:-1769.8px;
}
#P663_35
{
left:28460.6px;bottom:44033.3px;color:rgb(35,31,31);
}
#P663_36
{
left:29660.2px;bottom:44060.1px;color:rgb(35,31,31);
}
#P663_37
{
left:31889.8px;bottom:43702.3px;letter-spacing:1930.4px;color:rgb(35,31,31);
}
#P663_38
{
left:31618.7px;bottom:42567.3px;color:rgb(35,31,31);
}
#P663_39
{
left:32178.5px;bottom:42595.5px;letter-spacing:1668px;color:rgb(35,31,31);
}
#P663_40
{
left:31618.7px;bottom:41543.3px;color:rgb(35,31,31);
}
#P663_41
{
left:32178.5px;bottom:41571.5px;letter-spacing:1668px;color:rgb(35,31,31);
}
#P663_42
{
left:31898.6px;bottom:40547.5px;letter-spacing:1947.9px;color:rgb(35,31,31);
}
#P663_43
{
left:31898.6px;bottom:39523.5px;letter-spacing:1947.9px;color:rgb(35,31,31);
}
#P663_44
{
left:13964.6px;bottom:37569.3px;color:rgb(35,31,31);
}
#P663_45
{
left:14428.2px;bottom:37596.1px;color:rgb(35,31,31);
}
#P663_46
{
left:15628.6px;bottom:37569.3px;letter-spacing:8.4px;color:rgb(35,31,31);
}
#P663_47
{
left:16329.8px;bottom:37569.3px;color:rgb(35,31,31);
}
#P663_48
{
left:16488.2px;bottom:37539.8px;color:rgb(35,31,31);
}
#P663_49
{
left:17074.6px;bottom:37569.3px;color:rgb(35,31,31);
}
#P663_50
{
left:21980.2px;bottom:37596.1px;color:rgb(35,31,31);
}
#P663_51
{
left:23244.6px;bottom:37569.3px;color:rgb(35,31,31);
}
#P663_52
{
left:23607.9px;bottom:37569.3px;color:rgb(35,31,31);
}
#P663_53
{
left:23766.3px;bottom:37539.8px;color:rgb(35,31,31);
}
#P663_54
{
left:24352.7px;bottom:37569.3px;color:rgb(35,31,31);
}
#P663_55
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P663_56
{
left:24532.2px;bottom:38009px;color:rgb(35,31,31);
}
#P663_57
{
left:24868.1px;bottom:37586.9px;color:rgb(35,31,31);
}
#P663_58
{
left:24511.1px;bottom:37553.3px;color:rgb(35,31,31);
}
#P663_59
{
left:24889.2px;bottom:37570.6px;color:rgb(35,31,31);
}
#P663_60
{
left:24532.2px;bottom:37101.5px;color:rgb(35,31,31);
}
#P663_61
{
left:24868.1px;bottom:37586.9px;color:rgb(35,31,31);
}
#P663_62
{
left:24889.2px;bottom:37569.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P663_63
{
left:24977.2px;bottom:37569.3px;color:rgb(35,31,31);
}
#P663_64
{
left:25306.6px;bottom:37569.3px;color:rgb(35,31,31);
}
#P663_65
{
left:29660.2px;bottom:37596.1px;color:rgb(35,31,31);
}
#P663_66
{
left:30924.6px;bottom:37569.3px;color:rgb(35,31,31);
}
#P663_67
{
left:31254.1px;bottom:37569.3px;color:rgb(35,31,31);
}
#P663_68
{
left:31412.5px;bottom:37539.8px;color:rgb(35,31,31);
}
#P663_69
{
left:31998.9px;bottom:37569.3px;color:rgb(35,31,31);
}
#P663_70
{
left:32688.9px;bottom:37539.8px;color:rgb(35,31,31);
}
#P663_71
{
left:33275.3px;bottom:37569.3px;color:rgb(35,31,31);
}
#P663_72
{
left:33433.7px;bottom:37569.3px;color:rgb(35,31,31);
}
#P663_73
{
left:8013.4px;
bottom: 43801.4px;letter-spacing:1.9px;color:rgb(35,31,31);
}
#P663_74
{
left:0px;letter-spacing:0px;margin-left:-1.9px;
}
#P663_75
{
left:7737.11px;bottom:34320px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P663_76
{
left:14605.4px;bottom:34344.6px;color:white;
}
#P663_77
{
left:16989.2px;bottom:34536.4px;color:white;
}
#P663_78
{
left:17229.4px;bottom:34344.6px;word-spacing:-31.9px;color:white;
}
#P663_79
{
left:19997.7px;bottom:34536.4px;color:white;
}
#P663_80
{
left:20237.9px;bottom:34344.6px;color:white;
}
#P663_81
{
left:21421.6px;bottom:34536.4px;color:white;
}
#P663_82
{
left:21661.8px;bottom:34344.6px;color:white;
}
#P663_83
{
left:12761px;bottom:34177.5px;
}
#P663_84
{
left:12761px;bottom:34177.5px;color:white;
}
#P663_85
{
left:13832.4px;bottom:32715.2px;letter-spacing:-1.6px;color:rgb(35,31,31);
}
#P663_86
{
left:0px;letter-spacing:-1.4px;margin-left:1.6px;
}
#P663_87
{
left:21977.9px;bottom:32720.8px;color:rgb(35,31,31);
}
#P663_88
{
left:22322.1px;bottom:32715.2px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P663_89
{
left:13832.4px;bottom:31819.2px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P663_90
{
left:13832.4px;bottom:30928.9px;color:rgb(35,31,31);
}
#P663_91
{
left:14195.7px;bottom:30923.2px;color:rgb(35,31,31);
}
#P663_92
{
left:13064.4px;bottom:29771.1px;letter-spacing:580.1px;color:rgb(35,31,31);
}
#P663_92a
{
left: 14924.4px;bottom:29771.1px;letter-spacing:580.1px;color:rgb(35,31,31);
}
#P663_93
{
left:0px;letter-spacing:-28px;margin-left:-580.1px;
}
#P663_94
{
left:0px;letter-spacing:0px;margin-left:392.3px;
}
#P663_95
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P663_96
{
left:0px;letter-spacing:0px;margin-left:-12.5px;
}
#P663_97
{
left:0px;letter-spacing:-28.1px;margin-left:-28px;
}
#P663_98
{
left:0px;letter-spacing:0px;margin-left:28.1px;
}
#P663_99
{
left:24245.3px;bottom:29776.7px;color:rgb(35,31,31);
}
#P663_100
{
left:24608.6px;bottom:29771.1px;color:rgb(35,31,31);
}
#P663_101
{
left:26162.3px;bottom:29776.7px;color:rgb(35,31,31);
}
#P663_102
{
left:26506.5px;bottom:29771.1px;color:rgb(35,31,31);
}
#P663_103
{
left:14856.5px;bottom:28875.1px;letter-spacing:-4px;color:rgb(35,31,31);
}
#P663_104
{
left:0px;letter-spacing:0.1px;margin-left:4px;
}
#P663_105
{
left:14856.3px;bottom:27595.1px;word-spacing:0.2px;color:rgb(35,31,31);
}
#P663_106
{
left:0px;letter-spacing:-1.5px;margin-left:-0.2px;
}
#P663_107
{
left:0px;letter-spacing:-0.5px;margin-left:1.3px;
}
#P663_108
{
left:14856.5px;bottom:26699.2px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P663_109
{
left:13832.5px;bottom:25035.2px;letter-spacing:1577.5px;color:rgb(35,31,31);
}
#P663_110
{
left:16272.4px;bottom:25227.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P663_111
{
left:0px;letter-spacing:-0.4px;margin-left:158.4px;
}
#P663_112
{
left:16273.1px;bottom:24331.2px;letter-spacing:0.7px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P663_113
{
left:0px;letter-spacing:0px;margin-left:157.7px;
}
#P663_114
{
left:0px;letter-spacing:-14px;margin-left:-8.4px;
}
#P663_115
{
left:19610px;bottom:24331.2px;color:rgb(35,31,31);
}
#P663_116
{
left:19973.3px;bottom:24331.2px;color:rgb(35,31,31);
}
#P663_117
{
left:21515px;bottom:24331.2px;color:rgb(35,31,31);
}
#P663_118
{
left:21844.5px;bottom:24331.2px;letter-spacing:-2px;color:rgb(35,31,31);
}
#P663_119
{
left:0px;letter-spacing:0px;margin-left:-12px;
}
#P663_120
{
left:16272.5px;bottom:23435.2px;letter-spacing:0.1px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P663_121
{
left:13064.4px;bottom:21963.2px;
color: rgb(35,31,31);
}
#P663_122
{
left:13756.2px;
color: rgb(35,31,31);
bottom:21963.2px;
}
#P663_123
{
left:14175.3px;bottom:21963.2px;letter-spacing:-28px;color:rgb(35,31,31);
}
#P663_123a
{
left:15175.3px;bottom:21963.2px;letter-spacing:-28px;color:rgb(35,31,31);
}
#P663_124
{
left:0px;letter-spacing:0px;margin-left:392.3px;
}
#P663_125
{
left:0px;letter-spacing:0px;margin-left:-147.8px;
}
#P663_126
{
left:0px;letter-spacing:5.5px;margin-left:-35.1px;
}
#P663_127
{
left:0px;letter-spacing:-0.6px;margin-left:-5.5px;
}
#P663_128
{
left:0px;letter-spacing:0px;margin-left:-13.3px;
}
#P663_129
{
left:14856.5px;bottom:21067.3px;color:rgb(35,31,31);
}
#P663_130
{
left:13064.4px;bottom:19787.2px;letter-spacing:1132.2px;color:rgb(35,31,31);
}
#P663_131
{
left:14856.5px;bottom:19787.2px;color:rgb(35,31,31);
}
#P663_132
{
left:0px;letter-spacing:0px;margin-left:-215px;
}
#P663_133
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P663_134
{
left:0px;letter-spacing:0px;margin-left:-13.9px;
}
#P663_135
{
left:16008.4px;bottom:18123.3px;word-spacing:2785.6px;color:rgb(35,31,31);
}
#P663_136
{
left:17866.2px;bottom:18093.7px;color:rgb(35,31,31);
}
#P663_137
{
left:18452.6px;bottom:18123.3px;color:rgb(35,31,31);
}
#P663_138
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P663_139
{
left:18647.4px;bottom:18562.9px;color:rgb(235,26,35);
}
#P663_140
{
left:21586.6px;bottom:18562.9px;color:rgb(235,26,35);
}
#P663_141
{
left:0px;bottom:0px;letter-spacing:0px;color:rgb(235,26,35);
}
#P663_142
{
left:18611px;bottom:18107.1px;color:rgb(35,31,31);
}
#P663_143
{
left:0px;bottom:0px;letter-spacing:0px;color:rgb(35,31,31);
}
#P663_144
{
left:18632.2px;bottom:17655.3px;color:rgb(0,124,196);
}
#P663_145
{
left:21571.4px;bottom:17655.3px;color:rgb(0,124,196);
}
#P663_146
{
left:21898.3px;bottom:18140.8px;color:rgb(0,124,196);
}
#P663_147
{
left:21919.4px;bottom:18123.2px;color:rgb(0,124,196);
}
#P663_148
{
left:21919.4px;bottom:18123.2px;color:rgb(35,31,31);
}
#P663_149
{
left:22077.8px;bottom:18093.6px;color:rgb(35,31,31);
}
#P663_150
{
left:22664.2px;bottom:18123.2px;color:rgb(35,31,31);
}
#P663_151
{
left:22822.6px;bottom:18123.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P663_152
{
left:22843.7px;bottom:18562.9px;color:rgb(235,26,35);
}
#P663_153
{
left:23515.4px;bottom:18140.8px;color:rgb(235,26,35);
}
#P663_154
{
left:22822.6px;bottom:18107.1px;color:rgb(35,31,31);
}
#P663_155
{
left:23536.5px;bottom:18124.4px;color:rgb(35,31,31);
}
#P663_156
{
left:23011.7px;bottom:17655.3px;color:rgb(0,124,196);
}
#P663_157
{
left:23347.4px;bottom:18140.8px;color:rgb(2,77,161);
}
#P663_158
{
left:23536.5px;bottom:18123.2px;color:rgb(2,77,161);
}
#P663_159
{
left:23536.5px;bottom:18123.2px;color:rgb(35,31,31);
}
#P663_160
{
left:23694.9px;bottom:18093.6px;color:rgb(35,31,31);
}
#P663_161
{
left:24281.3px;bottom:18123.2px;color:rgb(35,31,31);
}
#P663_162
{
left:13832.4px;bottom:16075.2px;letter-spacing:1577.6px;color:rgb(35,31,31);
}
#P663_163
{
left:16272.4px;bottom:16267.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P663_164
{
left:0px;letter-spacing:0px;margin-left:158.4px;
}
#P663_165
{
left:0px;letter-spacing:0px;margin-left:-59.9px;
}
#P663_166
{
left:0px;letter-spacing:0px;
}
#P663_167
{
left:33604.5px;bottom:16267.2px;color:rgb(35,31,31);
}
#P663_168
{
left:33988.2px;bottom:16267.2px;color:rgb(35,31,31);
}
#P663_169
{
left:16272.5px;bottom:15371.2px;letter-spacing:-9.1px;color:rgb(35,31,31);
}
#P663_170
{
left:0px;letter-spacing:0px;margin-left:9.1px;
}
#P663_171
{
left:25356.8px;bottom:15371.2px;color:rgb(35,31,31);
}
#P663_172
{
left:25686.3px;bottom:15371.2px;color:rgb(35,31,31);
}
#P663_173
{
left:25844.7px;bottom:15341.6px;color:rgb(35,31,31);
}
#P663_174
{
left:26431.1px;bottom:15371.2px;color:rgb(35,31,31);
}
#P663_175
{
left:27335.8px;bottom:15371.2px;color:rgb(35,31,31);
}
#P663_176
{
left:27699px;bottom:15371.2px;color:rgb(35,31,31);
}
#P663_177
{
left:13064.5px;bottom:13899.2px;color:rgb(35,31,31);
}
#P663_177a
{
left:15064.5px;bottom:13899.2px;color:rgb(35,31,31);
}
#P663_178
{
left:0px;letter-spacing:0px;margin-left:615.3px;
}
#P663_179
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P663_180
{
left:0px;letter-spacing:0px;margin-left:364.2px;
}
#P663_181
{
left:0px;letter-spacing:0px;margin-left:-31.6px;
}
#P663_182
{
left:0px;letter-spacing:0px;margin-left:-225.1px;
}
#P663_183
{
left:0px;letter-spacing:0px;margin-left:77.1px;
}
#P663_184
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P663_185
{
left:13832.5px;bottom:12619.2px;color:rgb(35,31,31);
}
#P663_186
{
left:16072.5px;bottom:12619.2px;color:rgb(35,31,31);
}
#P663_187
{
left:16401.9px;bottom:12619.2px;color:rgb(35,31,31);
}
#P663_188
{
left:16560.3px;bottom:12589.6px;color:rgb(35,31,31);
}
#P663_189
{
left:17146.8px;bottom:12619.2px;color:rgb(35,31,31);
}
#P663_190
{
left:18051.4px;bottom:12619.2px;color:rgb(35,31,31);
}
#P663_191
{
left:18414.6px;bottom:12619.2px;color:rgb(35,31,31);
}
#P663_192
{
left:21640.4px;bottom:12627.2px;color:rgb(0,124,196);
}
#P663_193
{
left:13832.4px;bottom:11275.2px;color:rgb(35,31,31);
}
#P663_194
{
left:16584.4px;bottom:11245.6px;color:rgb(35,31,31);
}
#P663_195
{
left:17170.8px;bottom:11275.2px;color:rgb(35,31,31);
}
#P663_196
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P663_197
{
left:18409.9px;bottom:11275.2px;color:rgb(235,26,35);
}
#P663_198
{
left:19156.1px;bottom:11275.2px;color:rgb(35,31,31);
}
#P663_199
{
left:21640.4px;bottom:11283.2px;color:rgb(0,124,196);
}
#P663_200
{
left:26041.2px;bottom:11309.1px;color:rgb(0,124,196);
}
#P663_201
{
left:26329.2px;bottom:11283.2px;color:rgb(0,124,196);
}
#P663_202
{
left:13832.4px;bottom:9995.18px;color:rgb(35,31,31);
}
#P663_203
{
left:16584.4px;bottom:9965.61px;color:rgb(35,31,31);
}
#P663_204
{
left:17170.8px;bottom:9995.18px;color:rgb(35,31,31);
}
#P663_205
{
left:21640.4px;bottom:10003.2px;color:rgb(0,124,196);
}
#P663_206
{
left:0px;letter-spacing:0px;margin-left:-49.7px;
}
#P663_207
{
left:13832.4px;bottom:8395.18px;letter-spacing:1577.6px;color:rgb(35,31,31);
}
#P663_208
{
left:16272.4px;bottom:8587.18px;letter-spacing:-9.1px;color:rgb(35,31,31);
}
#P663_209
{
left:0px;letter-spacing:-0.7px;margin-left:9.1px;
}
#P663_210
{
left:0px;letter-spacing:-0.7px;margin-left:0.7px;
}
#P663_211
{
left:13832.4px;bottom:5515.18px;color:rgb(35,31,31);
}
#P663_212
{
left:14296px;bottom:5542px;word-spacing:453.2px;color:rgb(35,31,31);
}
#P663_213
{
left:15496.4px;bottom:5534.89px;letter-spacing:-12.9px;color:rgb(2,77,161);
}
#P663_214
{
left:0px;letter-spacing:0px;margin-left:12.9px;
}
#P663_215
{
left: 19045.2px;bottom:5515.18px;letter-spacing:168.3px;color:rgb(35,31,31);
}
#P663_216
{
left:0px;letter-spacing:0.1px;margin-left:-168.3px;
}
#P663_217
{
left:15496.4px;bottom:4619.18px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P663_218
{
left:0px;letter-spacing:-0.4px;margin-left:158.4px;
}
#P663_219
{
left:0px;letter-spacing:0px;margin-left:-13.6px;
}
#P663_220
{
left:29363.9px;bottom:4619.18px;color:rgb(35,31,31);
}
#P663_221
{
left:29727.1px;bottom:4619.18px;color:rgb(35,31,31);
}
#P663_222
{
left:31268.8px;bottom:4619.18px;color:rgb(35,31,31);
}
#P663_223
{
left:31598.3px;bottom:4619.18px;letter-spacing:-4.2px;color:rgb(35,31,31);
}
#P663_224
{
left:15496.4px;bottom:3723.29px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P663_225
{
left:0px;letter-spacing:-0.3px;margin-left:1.3px;
}
#P663_226
{
left:8013.4px;
bottom: 4349.95px;color:rgb(35,31,31);
}
#P663_227
{
left:36110.6px;bottom:24344.4px;color:rgb(35,31,31);
}
#P663_228
{
left:29928.1px;bottom:31466.7px;color:rgb(35,31,31);
}
#P663_229
{
left:29626.5px;bottom:27055.9px;color:rgb(35,31,31);
}
#P663_230
{
left:29626.5px;bottom:27820.6px;color:rgb(35,31,31);
}
#P663_231
{
left:29893.4px;bottom:26291.8px;color:rgb(35,31,31);
}
#P663_232
{
left:29893.4px;bottom:25527.1px;color:rgb(35,31,31);
}
#P663_233
{
left:33299.9px;bottom:24403.4px;color:rgb(35,31,31);
}
#P663_234
{
left:34843.1px;bottom:24403.4px;color:rgb(35,31,31);
}
#P663_235
{
left:31731.9px;bottom:24409.7px;color:rgb(35,31,31);
}
#P663_236
{
left:29626px;bottom:28585.2px;color:rgb(35,31,31);
}
#P663_237
{
left:29626px;bottom:29349.4px;color:rgb(35,31,31);
}
#P663_238
{
left:29626px;bottom:30117.4px;color:rgb(35,31,31);
}
#P663_239
{
left:29626px;bottom:30885.4px;color:rgb(35,31,31);
}
#P663_240
{
left:31401.4px;bottom:23471.2px;color:rgb(35,31,31);
}
#P663_241
{
left:29220.5px;bottom:26009.1px;letter-spacing:-1.9px;color:rgb(35,31,31);
}
#P663_242
{
left:0px;letter-spacing:0px;margin-left:1.9px;
}
#P663_243
{
left:30396px;bottom:32548.1px;letter-spacing:-3.5px;color:rgb(35,31,31);
}
#P663_244
{
left:0px;letter-spacing:0px;margin-left:3.5px;
}
#P663_245
{
left:33513.1px;bottom:30493.1px;color:rgb(0,124,196);
}
#P663_246
{
left:31983.2px;bottom:27435.3px;color:rgb(0,124,196);
}
#P663_247
{
left:30215.8px;bottom:24401.6px;color:rgb(35,31,31);
}
#P663_248
{
left:29893.3px;bottom:24762.6px;color:rgb(35,31,31);
}
#P663_249
{
left:31941.9px;bottom:25917.6px;color:rgb(0,124,196);
}
#P663_250
{
left:31571.9px;bottom:26258px;color:rgb(0,124,196);
}
#P663_251
{
left:31571.9px;bottom:25605.2px;color:rgb(0,124,196);
}
#P663_252
{
left:31512.2px;bottom:25663.1px;color:rgb(0,124,196);
}
#P663_253
{
left:32591.6px;bottom:25663.1px;color:rgb(0,124,196);
}
#P663_254
{
left:33473.8px;bottom:28918px;color:rgb(0,124,196);
}
#P663_255
{
left:33103.9px;bottom:29258.5px;color:rgb(0,124,196);
}
#P663_256
{
left:33103.9px;bottom:28605.7px;color:rgb(0,124,196);
}
#P663_257
{
left:33044.1px;bottom:28663.5px;color:rgb(0,124,196);
}
#P663_258
{
left:34429.7px;bottom:28663.5px;color:rgb(0,124,196);
}
#P663_259
{
left:7554.59px;bottom:32107.6px;letter-spacing:1930.4px;color:rgb(35,31,31);
}
#P663_260
{
left:7571.03px;bottom:30475.2px;letter-spacing:-151.2px;color:rgb(35,31,31);
}
#P663_261
{
left:7591.19px;bottom:30894.9px;color:rgb(35,31,31);
}
#P663_262
{
left:7911.77px;bottom:30492px;color:rgb(35,31,31);
}
#P663_263
{
left:7571.03px;bottom:30459.9px;color:rgb(35,31,31);
}
#P663_264
{
left:7931.93px;bottom:30476.4px;color:rgb(35,31,31);
}
#P663_265
{
left:7591.19px;bottom:30028.6px;color:rgb(35,31,31);
}
#P663_266
{
left:7911.77px;bottom:30492px;color:rgb(35,31,31);
}
#P663_267
{
left:7931.93px;bottom:30475.2px;color:rgb(35,31,31);
}
#P663_268
{
left:9867.29px;bottom:30456.8px;color:rgb(35,31,31);
}
#P663_269
{
left:7563.35px;bottom:28824.8px;letter-spacing:1769.7px;color:rgb(35,31,31);
}
#P663_270
{
left:0px;letter-spacing:0px;margin-left:-1769.7px;
}
#P663_271
{
left:7570.91px;bottom:27211.2px;letter-spacing:-151.2px;color:rgb(35,31,31);
}
#P663_272
{
left:7591.19px;bottom:27630.9px;color:rgb(35,31,31);
}
#P663_273
{
left:7911.77px;bottom:27228px;color:rgb(35,31,31);
}
#P663_274
{
left:7571.03px;bottom:27195.9px;color:rgb(35,31,31);
}
#P663_275
{
left:7931.93px;bottom:27212.4px;color:rgb(35,31,31);
}
#P663_276
{
left:7591.19px;bottom:26764.6px;color:rgb(35,31,31);
}
#P663_277
{
left:7911.77px;bottom:27228px;color:rgb(35,31,31);
}
#P663_278
{
left:7931.93px;bottom:27211.2px;color:rgb(35,31,31);
}
#P663_279
{
left:9689.24px;bottom:27192.8px;color:rgb(35,31,31);
}
#P663_280
{
left:7563.35px;bottom:25560.8px;letter-spacing:1769.7px;color:rgb(35,31,31);
}
#P663_281
{
left:0px;letter-spacing:0px;margin-left:-1769.7px;
}
#P663_282
{
left:21883.1px;bottom:18140.8px;
}
#P663_283
{
left:21919.4px;bottom:18124.4px;
}
#PageContainer663
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg663.jpg");background-repeat:no-repeat;background-size: 955px 1208px; background-position: 62.54px 75.8399999999999px;
}
#ImageContainer663 {bottom:80.16px;left:62.54px;width:954.50px;height:1207.61px;position:absolute;} #TextContainer663 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.example3{
position: absolute;
top: 401px;
left: 157px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}
.nyr{position: absolute;top: 120px;left: 187px;}
.nyr1{position: absolute;top: 1190px;left: 187px;}
#middle-toolbar img{vertical-align: middle;}