.tr426{ color:transparent;}
#P426_1
{
left:5889.56px;bottom:46957.1px;letter-spacing:-6px;color:white;
}
#P426_2
{
left:9101.98px;bottom:47255.5px;color:white;
}
#P426_3
{
left:9475.61px;bottom:46957.1px;color:white;
}
#P426_4
{
left:2371.78px;bottom:46929.9px;color:white;
}
#P426_5
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P426_6
{
left:3540.44px;bottom:1544.43px;color:rgb(35,31,31);
}
#P426_7
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P426_8
{
left:7841.88px;bottom:1544.43px;letter-spacing:462.1px;color:rgb(35,31,31);
}
#P426_9
{
left:0px;letter-spacing:4.6px;margin-left:-470px;
}
#P426_10
{
left:0px;letter-spacing:2px;margin-left:-8.9px;
}
#P426_11
{
left:0px;letter-spacing:2.7px;margin-left:4.6px;
}
#P426_12
{
left:4690.71px;bottom:42321.3px;color:rgb(35,31,31);
}
#P426_13
{
left:5259.29px;bottom:42341px;color:rgb(35,31,31);
}
#P426_14
{
left:6354.71px;bottom:42341px;letter-spacing:-2.8px;color:rgb(2,77,161);
}
#P426_15
{
left:10578.9px;bottom:42321.3px;color:rgb(35,31,31);
}
#P426_16
{
left:0px;letter-spacing:0px;margin-left:193.6px;
}
#P426_17
{
left:0px;letter-spacing:0px;margin-left:-6.9px;
}
#P426_18
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P426_19
{
left:0px;letter-spacing:0px;margin-left:-20.9px;
}
#P426_20
{
left:0px;letter-spacing:0px;margin-left:-214.9px;
}
#P426_21
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P426_22
{
left:4690.71px;bottom:40977.3px;color:rgb(35,31,31);
}
#P426_23
{
left:5650.71px;bottom:40997px;color:rgb(35,31,31);
}
#P426_24
{
left:6704.28px;bottom:40425.3px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P426_25
{
left:11748.2px;bottom:40997px;letter-spacing:156.3px;color:rgb(35,31,31);
}
#P426_26
{
left:13265px;bottom:40441.3px;letter-spacing:-2.2px;color:rgb(35,31,31);
}
#P426_27
{
left:16612.1px;bottom:40977.3px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P426_28
{
left:17978.8px;bottom:40377.3px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P426_29
{
left:26564.2px;bottom:40977.3px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P426_30
{
left:28183.1px;bottom:40409.3px;color:rgb(35,31,31);
}
#P426_31
{
left:29956.2px;bottom:40977.3px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P426_32
{
left:31510.7px;bottom:40425.3px;color:rgb(35,31,31);
}
#P426_33
{
left:4690.78px;bottom:38673.3px;color:rgb(35,31,31);
}
#P426_34
{
left:5259.23px;bottom:38693px;color:rgb(35,31,31);
}
#P426_35
{
left:6354.71px;bottom:38693px;color:rgb(2,77,161);
}
#P426_36
{
left:11193.9px;bottom:38673.3px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P426_37
{
left:0px;letter-spacing:-0.1px;margin-left:-206.1px;
}
#P426_38
{
left:0px;letter-spacing:-0.1px;margin-left:0.1px;
}
#P426_39
{
left:4690.71px;bottom:37329.3px;color:rgb(35,31,31);
}
#P426_40
{
left:5259.29px;bottom:37349px;color:rgb(35,31,31);
}
#P426_41
{
left:6354.71px;bottom:37349px;color:rgb(2,77,161);
}
#P426_42
{
left:10071.1px;bottom:37329.3px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P426_43
{
left:0px;letter-spacing:-0.2px;margin-left:-202px;
}
#P426_44
{
left:0px;letter-spacing:0px;margin-left:-4px;
}
#P426_45
{
left:4086.06px;bottom:34877.3px;color:rgb(33,31,31);
}
#P426_46
{
left:4172.45px;bottom:34908.7px;letter-spacing:-0.2px;color:rgb(33,31,31);
}
#P426_47
{
left:4455.46px;bottom:35011.4px;letter-spacing:0.8px;color:rgb(33,31,31);
}
#P426_48
{
left:4602.53px;bottom:35064.9px;color:rgb(33,31,31);
}
#P426_49
{
left:4164.48px;bottom:34698.1px;color:rgb(33,31,31);
}
#P426_50
{
left:4250.85px;bottom:34729.5px;letter-spacing:-0.2px;color:rgb(33,31,31);
}
#P426_51
{
left:4533.86px;bottom:34832.3px;letter-spacing:0.8px;color:rgb(33,31,31);
}
#P426_52
{
left:4259.68px;bottom:34518.9px;color:rgb(33,31,31);
}
#P426_53
{
left:4346.08px;bottom:34550.3px;letter-spacing:-0.7px;color:rgb(33,31,31);
}
#P426_54
{
left:4543.52px;bottom:34622px;color:rgb(33,31,31);
}
#P426_55
{
left:4629.09px;bottom:34653px;letter-spacing:0.8px;color:rgb(33,31,31);
}
#P426_56
{
left:4424.86px;bottom:34269.7px;color:rgb(33,31,31);
}
#P426_57
{
left:4511.26px;bottom:34301.1px;letter-spacing:-0.2px;color:rgb(33,31,31);
}
#P426_58
{
left:4794.27px;bottom:34403.9px;letter-spacing:0.8px;color:rgb(33,31,31);
}
#P426_59
{
left:4669.4px;bottom:32437.5px;letter-spacing:-0.8px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P426_60
{
left:0px;letter-spacing:-0.1px;margin-left:0.7px;
}
#P426_61
{
left:4669.4px;bottom:31285.5px;color:rgb(35,31,31);
}
#P426_62
{
left:5237.98px;bottom:31305.3px;color:rgb(35,31,31);
}
#P426_63
{
left:6269.4px;bottom:31285.5px;color:rgb(35,31,31);
}
#P426_63a
{
left:10869.4px;bottom:31285.5px;color:rgb(35,31,31);
}
#P426_64
{
left:20022px;bottom:31305.3px;color:rgb(35,31,31);
}
#P426_65
{
left:21053.4px;bottom:31285.5px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P426_65a
{
left:28053.4px;bottom:31285.5px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P426_66
{
left:0px;letter-spacing:-0.1px;margin-left:14px;
}
#P426_67
{
left:4669.4px;bottom:29685.5px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P426_68
{
left:4669.4px;bottom:28533.5px;color:rgb(35,31,31);
}
#P426_69
{
left:5237.98px;bottom:28553.3px;color:rgb(35,31,31);
}
#P426_70
{
left:7570.65px;bottom:28319.3px;color:rgb(35,31,31);
}
#P426_71
{
left:7229.4px;bottom:27138.9px;letter-spacing:-2.4px;color:rgb(35,31,31);
}
#P426_72
{
left:11573.7px;bottom:26939.1px;color:rgb(35,31,31);
}
#P426_73
{
left:11545.4px;bottom:27065.4px;color:rgb(35,31,31);
}
#P426_74
{
left:11506.5px;bottom:27332.7px;color:rgb(35,31,31);
}
#P426_75
{
left:11752px;bottom:27061.2px;color:rgb(35,31,31);
}
#P426_76
{
left:7229.4px;bottom:25967.6px;letter-spacing:-4.4px;color:rgb(35,31,31);
}
#P426_77
{
left:11449px;bottom:25767.9px;color:rgb(35,31,31);
}
#P426_78
{
left:11420.8px;bottom:25894.2px;color:rgb(35,31,31);
}
#P426_79
{
left:11381.9px;bottom:26161.5px;color:rgb(35,31,31);
}
#P426_80
{
left:11573.7px;bottom:25767.9px;color:rgb(35,31,31);
}
#P426_81
{
left:11545.4px;bottom:25894.2px;color:rgb(35,31,31);
}
#P426_82
{
left:11506.5px;bottom:26161.5px;color:rgb(35,31,31);
}
#P426_83
{
left:11698.3px;bottom:25767.9px;color:rgb(35,31,31);
}
#P426_84
{
left:11670px;bottom:25894.2px;color:rgb(35,31,31);
}
#P426_85
{
left:11631.1px;bottom:26161.5px;color:rgb(35,31,31);
}
#P426_86
{
left:11876.7px;bottom:25890px;color:rgb(35,31,31);
}
#P426_87
{
left:7229.4px;bottom:24796.4px;letter-spacing:-4px;color:rgb(35,31,31);
}
#P426_88
{
left:11511.3px;bottom:24596.7px;color:rgb(35,31,31);
}
#P426_89
{
left:11483.1px;bottom:24723px;color:rgb(35,31,31);
}
#P426_90
{
left:11444.2px;bottom:24990.3px;color:rgb(35,31,31);
}
#P426_91
{
left:11635.9px;bottom:24596.7px;color:rgb(35,31,31);
}
#P426_92
{
left:11607.7px;bottom:24723px;color:rgb(35,31,31);
}
#P426_93
{
left:11568.9px;bottom:24990.3px;color:rgb(35,31,31);
}
#P426_94
{
left:11814.4px;bottom:24718.8px;color:rgb(35,31,31);
}
#P426_95
{
left:7229.4px;bottom:23625.1px;letter-spacing:-3.2px;color:rgb(35,31,31);
}
#P426_96
{
left:11386.6px;bottom:23425.5px;color:rgb(35,31,31);
}
#P426_97
{
left:11358.4px;bottom:23551.8px;color:rgb(35,31,31);
}
#P426_98
{
left:11319.5px;bottom:23819.1px;color:rgb(35,31,31);
}
#P426_99
{
left:11511.3px;bottom:23425.5px;color:rgb(35,31,31);
}
#P426_100
{
left:11483.1px;bottom:23551.8px;color:rgb(35,31,31);
}
#P426_101
{
left:11444.2px;bottom:23819.1px;color:rgb(35,31,31);
}
#P426_102
{
left:11635.9px;bottom:23425.5px;color:rgb(35,31,31);
}
#P426_103
{
left:11607.7px;bottom:23551.8px;color:rgb(35,31,31);
}
#P426_104
{
left:11568.9px;bottom:23819.1px;color:rgb(35,31,31);
}
#P426_105
{
left:11760.6px;bottom:23425.5px;color:rgb(35,31,31);
}
#P426_106
{
left:11732.4px;bottom:23551.8px;color:rgb(35,31,31);
}
#P426_107
{
left:11693.5px;bottom:23819.1px;color:rgb(35,31,31);
}
#P426_108
{
left:11939px;bottom:23547.6px;color:rgb(35,31,31);
}
#P426_109
{
left:7229.4px;bottom:22527.5px;color:rgb(35,31,31);
}
#P426_110
{
left:0px;letter-spacing:-1.1px;margin-left:-16.1px;
}
#P426_111
{
left:0px;letter-spacing:0px;margin-left:2651.6px;
}
#P426_112
{
left:13469.4px;bottom:28533.5px;color:rgb(35,31,31);
}
#P426_113
{
left:20022px;bottom:28553.3px;color:rgb(35,31,31);
}
#P426_114
{
left:23001.7px;bottom:28326.6px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P426_115
{
left:21821.4px;bottom:27003.8px;color:rgb(35,31,31);
}
#P426_116
{
left:21821.4px;bottom:25547.8px;letter-spacing:-9.7px;color:rgb(35,31,31);
}
#P426_117
{
left:26975.2px;bottom:25327.7px;letter-spacing:580.9px;color:rgb(35,31,31);
}
#P426_118
{
left:21821.4px;bottom:24091.8px;letter-spacing:-4px;color:rgb(35,31,31);
}
#P426_119
{
left:27341.3px;bottom:23871.7px;letter-spacing:581px;color:rgb(35,31,31);
}
#P426_120
{
left:21821.4px;bottom:22635.8px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P426_121
{
left:28073.4px;bottom:22415.7px;color:rgb(35,31,31);
}
#P426_122
{
left:4669.4px;bottom:20917.5px;color:rgb(35,31,31);
}
#P426_123
{
left:5237.98px;bottom:20937.3px;color:rgb(35,31,31);
}
#P426_124
{
left:9537.05px;bottom:20526.1px;color:rgb(35,31,31);
}
#P426_125
{
left:7272.99px;bottom:19423.3px;color:rgb(35,31,31);
}
#P426_126
{
left:0px;letter-spacing:0px;margin-left:2053.6px;
}
#P426_127
{
left:0px;letter-spacing:0px;margin-left:2100.1px;
}
#P426_128
{
left:7272.99px;bottom:18407.3px;color:rgb(35,31,31);
}
#P426_129
{
left:0px;letter-spacing:0px;margin-left:1875.6px;
}
#P426_130
{
left:0px;letter-spacing:0px;margin-left:1743.8px;
}
#P426_131
{
left:7451.1px;bottom:17391.3px;color:rgb(35,31,31);
}
#P426_132
{
left:0px;letter-spacing:0px;margin-left:2053.6px;
}
#P426_133
{
left:0px;letter-spacing:0px;margin-left:1743.8px;
}
#P426_134
{
left:7272.99px;bottom:16375.3px;color:rgb(35,31,31);
}
#P426_135
{
left:0px;letter-spacing:0px;margin-left:2053.6px;
}
#P426_136
{
left:0px;letter-spacing:0px;margin-left:2100.1px;
}
#P426_137
{
left:15661.4px;bottom:20917.5px;color:rgb(35,31,31);
}
#P426_138
{
left:20022px;bottom:20937.3px;color:rgb(35,31,31);
}
#P426_139
{
left:22268.8px;bottom:16988.1px;color:rgb(33,31,31);
}
#P426_140
{
left:22960px;bottom:17755.9px;color:rgb(33,31,31);
}
#P426_141
{
left:24857.8px;bottom:20634px;letter-spacing:0.6px;color:rgb(33,31,31);
}
#P426_142
{
left:0px;letter-spacing:0px;margin-left:-53.6px;
}
#P426_143
{
left:0px;letter-spacing:-1.3px;
}
#P426_144
{
left:23251.7px;bottom:17466.6px;color:rgb(33,31,31);
}
#P426_145
{
left:23251.7px;bottom:18260.6px;color:rgb(33,31,31);
}
#P426_146
{
left:23251.7px;bottom:19018.8px;color:rgb(33,31,31);
}
#P426_147
{
left:23251.7px;bottom:19777.2px;color:rgb(33,31,31);
}
#P426_148
{
left:23518.6px;bottom:16711.9px;color:rgb(33,31,31);
}
#P426_149
{
left:24758.4px;bottom:16386.5px;color:rgb(33,31,31);
}
#P426_150
{
left:26113.4px;bottom:16379.8px;color:rgb(33,31,31);
}
#P426_151
{
left:27469px;bottom:16376.4px;color:rgb(33,31,31);
}
#P426_152
{
left:28824px;bottom:16383.1px;color:rgb(33,31,31);
}
#P426_153
{
left:30179px;bottom:16386.5px;color:rgb(33,31,31);
}
#P426_154
{
left:31534.6px;bottom:16376.9px;color:rgb(33,31,31);
}
#P426_155
{
left:32889.6px;bottom:16383.6px;color:rgb(33,31,31);
}
#P426_156
{
left:28449.2px;bottom:15410.3px;color:rgb(33,31,31);
}
#P426_157
{
left:27460px;bottom:17034.2px;color:rgb(33,31,31);
}
#P426_158
{
left:30028.2px;bottom:19423.7px;color:rgb(33,31,31);
}
#P426_159
{
left:24599.6px;bottom:17998.7px;color:rgb(33,31,31);
}
#P426_160
{
left:28815.4px;bottom:17663.3px;color:rgb(33,31,31);
}
#P426_161
{
left:31383.6px;bottom:19199.3px;color:rgb(33,31,31);
}
#P426_162
{
left:32738.8px;bottom:18356.6px;color:rgb(33,31,31);
}
#P426_163
{
left:25962.4px;bottom:18282.2px;color:rgb(33,31,31);
}
#P426_164
{
left:4669.4px;bottom:13365.5px;color:rgb(35,31,31);
}
#P426_165
{
left:4846.55px;bottom:13385.3px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P426_166
{
left:6333.4px;bottom:13385.3px;color:rgb(2,77,161);
}
#P426_167
{
left:7962.46px;bottom:13365.5px;letter-spacing:168.3px;color:rgb(35,31,31);
}
#P426_168
{
left:0px;letter-spacing:-1.7px;margin-left:-168.3px;
}
#P426_169
{
left:0px;letter-spacing:0.4px;margin-left:1.7px;
}
#P426_170
{
left:17983.1px;bottom:13365.5px;word-spacing:56.3px;color:rgb(35,31,31);
}
#P426_171
{
left:6333.4px;bottom:12469.5px;color:rgb(35,31,31);
}
#P426_172
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P426_173
{
left:4669.4px;bottom:11125.5px;color:rgb(35,31,31);
}
#P426_174
{
left:6421.34px;bottom:11125.5px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P426_175
{
left:7613.4px;bottom:11125.5px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P426_176
{
left:0px;letter-spacing:0px;margin-left:-76.6px;
}
#P426_177
{
left:0px;letter-spacing:0px;
}
#P426_178
{
left:16837.3px;bottom:11125.5px;word-spacing:56.3px;color:rgb(35,31,31);
}
#P426_179
{
left:4669.34px;bottom:10037.5px;color:rgb(35,31,31);
}
#P426_180
{
left:6385.31px;bottom:10037.5px;letter-spacing:-17.5px;color:rgb(35,31,31);
}
#P426_181
{
left:7613.4px;bottom:10037.5px;letter-spacing:-4.2px;color:rgb(35,31,31);
}
#P426_182
{
left:0px;letter-spacing:0px;margin-left:4.2px;
}
#P426_183
{
left:4669.4px;bottom:8373.55px;color:rgb(35,31,31);
}
#P426_184
{
left:17838.7px;bottom:8393.26px;word-spacing:184.6px;color:rgb(35,31,31);
}
#P426_185
{
left:19197.4px;bottom:8393.26px;color:rgb(2,77,161);
}
#P426_186
{
left:23851.5px;bottom:8373.55px;letter-spacing:151.5px;color:rgb(35,31,31);
}
#P426_187
{
left:0px;letter-spacing:0px;margin-left:-214.7px;
}
#P426_188
{
left:0px;letter-spacing:-0.6px;
}
#P426_189
{
left:0px;letter-spacing:0px;margin-left:0.6px;
}
#P426_190
{
left:19197.4px;bottom:7477.55px;letter-spacing:-1.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P426_191
{
left:0px;letter-spacing:0px;margin-left:-54.8px;
}
#P426_192
{
left:0px;letter-spacing:-0.3px;margin-left:-0.1px;
}
#P426_193
{
left:0px;letter-spacing:-14px;margin-left:-27.8px;
}
#P426_194
{
left:19197.4px;bottom:6581.61px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P426_195
{
left:0px;letter-spacing:-2px;margin-left:-13.1px;
}
#P426_196
{
left:0px;letter-spacing:-0.8px;margin-left:2px;
}
#P426_197
{
left:0px;letter-spacing:0px;margin-left:0.8px;
}
#P426_198
{
left:4669.4px;bottom:5237.55px;color:rgb(35,31,31);
}
#P426_199
{
left:19221.3px;bottom:5237.55px;letter-spacing:-14px;word-spacing:300.2px;color:rgb(35,31,31);
}
#P426_200
{
left:20221.4px;bottom:5237.55px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P426_201
{
left:0px;letter-spacing:0px;margin-left:0.5px;
}
#P426_202
{
left:4669.4px;bottom:4149.55px;color:rgb(35,31,31);
}
#P426_203
{
left:19185.2px;bottom:4149.55px;letter-spacing:-13.9px;word-spacing:307.1px;color:rgb(35,31,31);
}
#P426_204
{
left:20221.4px;bottom:4149.55px;letter-spacing:-9.3px;color:rgb(35,31,31);
}
#P426_205
{
left:0px;letter-spacing:-0.1px;margin-left:9.3px;
}
#P426_206
{
left:20221.4px;bottom:3253.57px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P426_207
{
left:3913.56px;bottom:28590.3px;
}
#P426_208
{
left:3913.56px;bottom:28590.3px;color:white;
}
#P426_209
{
left:23789.8px;bottom:13005.7px;letter-spacing:-74.4px;color:rgb(35,31,31);
}
#P426_210
{
left:0px;letter-spacing:0.7px;margin-left:74.4px;
}
#P426_211
{
left:21490.1px;bottom:11898.9px;letter-spacing:1179.8px;color:rgb(35,31,31);
}
#P426_212
{
left:0px;letter-spacing:0px;margin-left:-178px;
}
#P426_213
{
left:0px;letter-spacing:0px;
}
#P426_214
{
left:0px;letter-spacing:1179.8px;margin-left:1001.7px;
}
#P426_215
{
left:21312px;bottom:10875px;color:rgb(35,31,31);
}
#P426_216
{
left:0px;letter-spacing:0px;margin-left:823.7px;
}
#P426_217
{
left:0px;letter-spacing:0px;margin-left:1001.8px;
}
#P426_218
{
left:0px;letter-spacing:0px;margin-left:1179.8px;
}
#P426_219
{
left:0px;letter-spacing:0px;margin-left:1179.8px;
}
#P426_220
{
left:0px;letter-spacing:0px;margin-left:1001.9px;
}
#P426_221
{
left:0px;letter-spacing:0px;margin-left:1001.7px;
}
#P426_222
{
left:0px;letter-spacing:0px;margin-left:1179.8px;
}
#P426_223
{
left:26785.2px;bottom:46233.7px;word-spacing:0.2px;color:rgb(33,31,31);
}
#P426_224
{
left:8739.74px;bottom:7232.94px;color:rgb(35,31,31);
}
#P426_225
{
left:5611.1px;bottom:6062.12px;color:rgb(35,31,31);
}
#P426_226
{
left:0px;letter-spacing:0px;margin-left:1627.5px;
}
#P426_227
{
left:0px;letter-spacing:0px;margin-left:1449.3px;
}
#P426_228
{
left:0px;letter-spacing:0px;margin-left:1271.4px;
}
#P426_229
{
left:0px;letter-spacing:0px;margin-left:1271.3px;
}
#PageContainer426
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg426.jpg");background-repeat:no-repeat;background-size: 949px 1175px; background-position: 0px 35.79px;
}
#ImageContainer426 {bottom:153.21px;left:0.00px;width:948.76px;height:1175.29px;position:absolute;} #TextContainer426 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.answer{position:absolute; top: 48px; left: 18px;}
.c1{position:absolute; top: 560px; left: 98px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}