.tr490{ color:transparent;}
#P490_1
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P490_2
{
left:3540.44px;bottom:1410.03px;color:rgb(35,31,31);
}
#P490_3
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P490_4
{
left:8197.72px;bottom:1410.03px;letter-spacing:462.1px;color:rgb(35,31,31);
}
#P490_5
{
left:0px;letter-spacing:1.5px;margin-left:-465px;
}
#P490_6
{
left:0px;letter-spacing:0px;margin-left:6.1px;
}
#P490_7
{
left:4669.4px;bottom:46716.8px;color:rgb(35,31,31);
}
#P490_8
{
left:4846.55px;bottom:46736.5px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P490_9
{
left:6333.4px;bottom:46736.5px;letter-spacing:-6.4px;word-spacing:-26px;color:rgb(2,77,161);
}
#P490_10
{
left:0px;letter-spacing:0px;margin-left:6.4px;
}
#P490_11
{
left:9972.51px;bottom:46716.8px;letter-spacing:168.3px;color:rgb(35,31,31);
}
#P490_12
{
left:0px;letter-spacing:-0.5px;margin-left:-168.3px;
}
#P490_13
{
left:6333.4px;bottom:45820.8px;letter-spacing:-5.6px;color:rgb(35,31,31);
}
#P490_14
{
left:0px;letter-spacing:0px;margin-left:5.6px;
}
#P490_15
{
left:6333.4px;bottom:44924.8px;color:rgb(35,31,31);
}
#P490_16
{
left:0px;letter-spacing:0px;margin-left:-214.8px;
}
#P490_17
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P490_18
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P490_19
{
left:6333.4px;bottom:44028.8px;letter-spacing:-1.7px;color:rgb(35,31,31);
}
#P490_20
{
left:0px;letter-spacing:0px;margin-left:-15.8px;
}
#P490_21
{
left:0px;letter-spacing:0px;margin-left:-66.9px;
}
#P490_22
{
left:0px;letter-spacing:0px;
}
#P490_23
{
left:4669.4px;bottom:38588.8px;color:rgb(35,31,31);
}
#P490_24
{
left:6421.34px;bottom:38588.8px;letter-spacing:-14px;word-spacing:492.2px;color:rgb(35,31,31);
}
#P490_25
{
left:7613.4px;bottom:38588.8px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P490_26
{
left:0px;letter-spacing:-1.7px;margin-left:0.6px;
}
#P490_27
{
left:7613.4px;bottom:37692.8px;color:rgb(35,31,31);
}
#P490_28
{
left:4669.4px;bottom:36604.8px;color:rgb(35,31,31);
}
#P490_29
{
left:6385.24px;bottom:36604.8px;letter-spacing:-13.9px;word-spacing:499.1px;color:rgb(35,31,31);
}
#P490_30
{
left:7613.4px;bottom:36604.8px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P490_31
{
left:0px;letter-spacing:-2.8px;margin-left:-13px;
}
#P490_32
{
left:0px;letter-spacing:-1.9px;margin-left:2.8px;
}
#P490_33
{
left:0px;letter-spacing:0px;margin-left:1.9px;
}
#P490_34
{
left:20644.9px;bottom:36604.8px;word-spacing:56.3px;color:rgb(35,31,31);
}
#P490_35
{
left:7613.4px;bottom:35708.9px;letter-spacing:-1.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P490_36
{
left:0px;letter-spacing:-0.6px;margin-left:1px;
}
#P490_37
{
left:0px;letter-spacing:-0.1px;margin-left:0.5px;
}
#P490_38
{
left:4669.4px;bottom:34620.8px;color:rgb(35,31,31);
}
#P490_39
{
left:6456.54px;bottom:34620.8px;letter-spacing:-14px;word-spacing:492.2px;color:rgb(35,31,31);
}
#P490_40
{
left:7613.4px;bottom:34620.8px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P490_41
{
left:0px;letter-spacing:-0.1px;margin-left:1.3px;
}
#P490_42
{
left:4669.4px;bottom:33148.8px;color:rgb(35,31,31);
}
#P490_43
{
left:4846.55px;bottom:33168.6px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P490_44
{
left:6333.4px;bottom:33168.5px;color:rgb(2,77,161);
}
#P490_45
{
left:9723.1px;bottom:33148.8px;letter-spacing:168.3px;color:rgb(35,31,31);
}
#P490_46
{
left:0px;letter-spacing:-0.5px;margin-left:-168.3px;
}
#P490_47
{
left:0px;letter-spacing:-3.5px;margin-left:-13.4px;
}
#P490_48
{
left:0px;letter-spacing:0px;margin-left:3.5px;
}
#P490_49
{
left:6333.4px;bottom:32252.8px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P490_50
{
left:0px;letter-spacing:0px;margin-left:0.9px;
}
#P490_51
{
left:4669.53px;bottom:26236.8px;color:rgb(35,31,31);
}
#P490_52
{
left:16917.3px;bottom:26236.8px;letter-spacing:-14px;word-spacing:428.2px;color:rgb(35,31,31);
}
#P490_53
{
left:18045.5px;bottom:26236.8px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P490_54
{
left:0px;letter-spacing:0px;margin-left:-13.5px;
}
#P490_55
{
left:18045.5px;bottom:25340.8px;color:rgb(35,31,31);
}
#P490_56
{
left:4669.53px;bottom:24252.8px;color:rgb(35,31,31);
}
#P490_57
{
left:16881.4px;bottom:24252.8px;letter-spacing:-13.9px;word-spacing:435.1px;color:rgb(35,31,31);
}
#P490_58
{
left:18045.5px;bottom:24252.8px;letter-spacing:-3.8px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P490_59
{
left:0px;letter-spacing:-1.3px;margin-left:160.9px;
}
#P490_60
{
left:0px;letter-spacing:-0.9px;margin-left:1.2px;
}
#P490_61
{
left:0px;letter-spacing:-0.1px;margin-left:0.8px;
}
#P490_62
{
left:18045.5px;bottom:23356.8px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P490_63
{
left:0px;letter-spacing:-0.2px;margin-left:1.2px;
}
#P490_64
{
left:4669.53px;bottom:22268.7px;color:rgb(35,31,31);
}
#P490_65
{
left:16952.5px;bottom:22268.7px;letter-spacing:-14px;word-spacing:428.2px;color:rgb(35,31,31);
}
#P490_66
{
left:18045.4px;bottom:22268.7px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P490_67
{
left:0px;letter-spacing:-0.2px;margin-left:1.3px;
}
#P490_68
{
left:18045.4px;bottom:21372.8px;color:rgb(35,31,31);
}
#P490_69
{
left:4669.4px;bottom:19836.8px;letter-spacing:-3.5px;color:rgb(35,31,31);
}
#P490_70
{
left:0px;letter-spacing:-0.7px;margin-left:3.5px;
}
#P490_71
{
left:0px;letter-spacing:0px;margin-left:0.7px;
}
#P490_72
{
left:4669.4px;bottom:18300.8px;color:rgb(35,31,31);
}
#P490_73
{
left:4846.55px;bottom:18320.6px;color:rgb(35,31,31);
}
#P490_74
{
left:15933.5px;bottom:18300.8px;color:rgb(35,31,31);
}
#P490_75
{
left:19630.6px;bottom:18320.5px;color:rgb(35,31,31);
}
#P490_76
{
left:4669.4px;bottom:16252.8px;color:rgb(35,31,31);
}
#P490_77
{
left:4846.55px;bottom:16272.5px;color:rgb(35,31,31);
}
#P490_78
{
left:14205.5px;bottom:16252.8px;color:rgb(35,31,31);
}
#P490_79
{
left:19630.6px;bottom:16272.5px;color:rgb(35,31,31);
}
#P490_80
{
left:4669.4px;bottom:14396.8px;color:rgb(35,31,31);
}
#P490_81
{
left:4846.55px;bottom:14416.5px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P490_82
{
left:6333.4px;bottom:14416.5px;color:rgb(2,77,161);
}
#P490_83
{
left:8641.75px;bottom:14396.8px;letter-spacing:168.3px;color:rgb(35,31,31);
}
#P490_84
{
left:0px;letter-spacing:-0.4px;margin-left:-168.3px;
}
#P490_85
{
left:0px;letter-spacing:-2.8px;margin-left:-13.5px;
}
#P490_86
{
left:0px;letter-spacing:0px;margin-left:2.8px;
}
#P490_87
{
left:6333.4px;bottom:13500.8px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P490_88
{
left:0px;letter-spacing:0px;margin-left:-13.7px;
}
#P490_89
{
left:4669.4px;bottom:12412.8px;color:rgb(35,31,31);
}
#P490_90
{
left:5629.4px;bottom:12432.5px;color:rgb(35,31,31);
}
#P490_91
{
left:23133.7px;bottom:9803.76px;color:rgb(35,31,31);
}
#P490_92
{
left:22735.3px;bottom:9189.36px;color:rgb(35,31,31);
}
#P490_93
{
left:6531.74px;bottom:10654px;color:rgb(237,28,35);
}
#P490_94
{
left:6531.74px;bottom:12119.9px;color:rgb(0,124,196);
}
#P490_95
{
left:8366.17px;bottom:8771.56px;color:rgb(35,31,31);
}
#P490_96
{
left:9077.85px;bottom:8799.98px;color:rgb(35,31,31);
}
#P490_97
{
left:11374.2px;bottom:8771.56px;color:rgb(35,31,31);
}
#P490_98
{
left:12085.9px;bottom:8799.98px;color:rgb(35,31,31);
}
#P490_99
{
left:14439px;bottom:8771.56px;color:rgb(35,31,31);
}
#P490_100
{
left:15150.7px;bottom:8799.98px;letter-spacing:-49.5px;color:rgb(35,31,31);
}
#P490_101
{
left:0px;letter-spacing:0px;margin-left:49.5px;
}
#P490_102
{
left:17589.3px;bottom:8771.56px;color:rgb(35,31,31);
}
#P490_103
{
left:18016.3px;bottom:8799.98px;letter-spacing:-49.5px;color:rgb(35,31,31);
}
#P490_104
{
left:0px;letter-spacing:0px;margin-left:49.5px;
}
#P490_105
{
left:20597.4px;bottom:8771.56px;color:rgb(35,31,31);
}
#P490_106
{
left:21024.4px;bottom:8799.98px;letter-spacing:-49.5px;color:rgb(35,31,31);
}
#P490_107
{
left:0px;letter-spacing:0px;margin-left:49.5px;
}
#P490_108
{
left:4669.4px;bottom:7228.78px;color:rgb(35,31,31);
}
#P490_109
{
left:6421.34px;bottom:7228.78px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P490_110
{
left:7613.4px;bottom:7228.78px;letter-spacing:-4.2px;color:rgb(35,31,31);
}
#P490_111
{
left:0px;letter-spacing:0.2px;margin-left:4.2px;
}
#P490_112
{
left:4669.4px;bottom:6140.72px;color:rgb(35,31,31);
}
#P490_113
{
left:6385.24px;bottom:6140.72px;letter-spacing:-13.9px;word-spacing:499.1px;color:rgb(35,31,31);
}
#P490_114
{
left:7613.4px;bottom:6140.72px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P490_115
{
left:0px;letter-spacing:0px;margin-left:-76.8px;
}
#P490_116
{
left:0px;letter-spacing:-0.3px;
}
#P490_117
{
left:0px;letter-spacing:0px;margin-left:-13.6px;
}
#P490_118
{
left:7613.4px;bottom:5244.78px;letter-spacing:-3.5px;color:rgb(35,31,31);
}
#P490_119
{
left:0px;letter-spacing:-0.3px;margin-left:3.5px;
}
#P490_120
{
left:4669.4px;bottom:4156.72px;color:rgb(35,31,31);
}
#P490_121
{
left:6456.54px;bottom:4156.72px;letter-spacing:-14px;word-spacing:492.2px;color:rgb(35,31,31);
}
#P490_122
{
left:7613.4px;bottom:4156.72px;letter-spacing:-0.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P490_123
{
left:0px;letter-spacing:-0.1px;margin-left:-13.5px;
}
#P490_124
{
left:7613.4px;bottom:3260.83px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P490_125
{
left:4011.72px;bottom:46742.4px;
}
#P490_126
{
left:4011.72px;bottom:46742.4px;color:white;
}
#P490_127
{
left:3954.73px;bottom:18385.1px;
}
#P490_128
{
left:3954.73px;bottom:18385.1px;color:white;
}
#P490_129
{
left:6411.42px;bottom:40031.5px;color:rgb(35,31,31);
}
#P490_130
{
left:0px;letter-spacing:0px;margin-left:529.9px;
}
#P490_131
{
left:0px;letter-spacing:0px;margin-left:529.9px;
}
#P490_132
{
left:0px;letter-spacing:0px;margin-left:529.9px;
}
#P490_133
{
left:0px;letter-spacing:0px;margin-left:529.9px;
}
#P490_134
{
left:0px;letter-spacing:0px;margin-left:529.9px;
}
#P490_135
{
left:0px;letter-spacing:0px;margin-left:529.9px;
}
#P490_136
{
left:0px;letter-spacing:0px;margin-left:529.9px;
}
#P490_137
{
left:0px;letter-spacing:0px;margin-left:529.9px;
}
#P490_138
{
left:19737px;bottom:41076.6px;color:rgb(35,31,31);
}
#P490_139
{
left:19452.9px;bottom:40462.2px;color:rgb(35,31,31);
}
#P490_140
{
left:6357.59px;bottom:41695.2px;color:rgb(0,124,196);
}
#P490_141
{
left:9125.85px;bottom:41695.2px;color:rgb(0,124,196);
}
#P490_142
{
left:10510px;bottom:41695.2px;color:rgb(0,124,196);
}
#P490_143
{
left:13278.2px;bottom:41695.2px;color:rgb(0,124,196);
}
#P490_144
{
left:17430px;bottom:41695.2px;color:rgb(0,124,196);
}
#P490_145
{
left:17883.4px;bottom:27968.4px;color:rgb(35,31,31);
}
#P490_146
{
left:0px;letter-spacing:0px;margin-left:529.9px;
}
#P490_147
{
left:0px;letter-spacing:0px;margin-left:529.9px;
}
#P490_148
{
left:0px;letter-spacing:0px;margin-left:529.9px;
}
#P490_149
{
left:0px;letter-spacing:0px;margin-left:529.9px;
}
#P490_150
{
left:0px;letter-spacing:0px;margin-left:529.9px;
}
#P490_151
{
left:0px;letter-spacing:0px;margin-left:529.9px;
}
#P490_152
{
left:0px;letter-spacing:0px;margin-left:529.9px;
}
#P490_153
{
left:0px;letter-spacing:0px;margin-left:529.9px;
}
#P490_154
{
left:31093.3px;bottom:29013.4px;color:rgb(35,31,31);
}
#P490_155
{
left:30922.3px;bottom:28399px;color:rgb(35,31,31);
}
#P490_156
{
left:17167.3px;bottom:29632px;color:rgb(0,124,196);
}
#P490_157
{
left:20210.3px;bottom:29632px;color:rgb(0,124,196);
}
#P490_158
{
left:23089.1px;bottom:29632px;color:rgb(0,124,196);
}
#P490_159
{
left:28459.2px;bottom:29632px;color:rgb(0,124,196);
}
#PageContainer490
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg490.jpg");background-repeat:no-repeat;background-size: 870px 1214px; background-position: 76.74px 70.9400000000001px;
}
#ImageContainer490 {bottom:79.06px;left:76.74px;width:869.86px;height:1214.10px;position:absolute;} #TextContainer490 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.c2{position: absolute;top: 63px;left: 95px;}
.c3{position: absolute;top: 836px;left: 96px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}