.tr480{ color:transparent;}
#P480_1
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P480_2
{
left:3540.44px;bottom:1410.03px;color:rgb(35,31,31);
}
#P480_3
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P480_4
{
left:8197.72px;bottom:1410.03px;letter-spacing:462.1px;color:rgb(35,31,31);
}
#P480_5
{
left:0px;letter-spacing:1.5px;margin-left:-465px;
}
#P480_6
{
left:0px;letter-spacing:0px;margin-left:6.1px;
}
#P480_7
{
left:5889.56px;bottom:46957.1px;letter-spacing:-6px;color:white;
}
#P480_8
{
left:9101.98px;bottom:47255.5px;color:white;
}
#P480_9
{
left:9475.61px;bottom:46957.1px;color:white;
}
#P480_10
{
left:2371.78px;bottom:46929.9px;color:white;
}
#P480_11
{
left:4690.71px;bottom:42321.3px;color:rgb(35,31,31);
}
#P480_12
{
left:5259.29px;bottom:42341px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P480_13
{
left:6354.71px;bottom:42341px;letter-spacing:-2.8px;color:rgb(2,77,161);
}
#P480_14
{
left:10578.9px;bottom:42321.3px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P480_15
{
left:0px;letter-spacing:-7px;margin-left:-214.6px;
}
#P480_16
{
left:0px;letter-spacing:0.1px;margin-left:7px;
}
#P480_17
{
left:6354.71px;bottom:41425.3px;color:rgb(35,31,31);
}
#P480_18
{
left:4690.71px;bottom:40081.3px;color:rgb(35,31,31);
}
#P480_19
{
left:5259.29px;bottom:40101px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P480_20
{
left:6354.71px;bottom:40101px;letter-spacing:-2.8px;color:rgb(2,77,161);
}
#P480_21
{
left:10578.9px;bottom:40081.3px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P480_22
{
left:0px;letter-spacing:0px;margin-left:-218.9px;
}
#P480_23
{
left:0px;letter-spacing:-0.2px;
}
#P480_24
{
left:0px;letter-spacing:0px;margin-left:0.2px;
}
#P480_25
{
left:6354.71px;bottom:39185.3px;color:rgb(35,31,31);
}
#P480_26
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P480_27
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P480_28
{
left:4086.06px;bottom:36781.3px;color:rgb(33,31,31);
}
#P480_29
{
left:4172.45px;bottom:36812.7px;letter-spacing:-0.2px;color:rgb(33,31,31);
}
#P480_30
{
left:4455.46px;bottom:36915.4px;letter-spacing:0.8px;color:rgb(33,31,31);
}
#P480_31
{
left:4602.53px;bottom:36968.9px;color:rgb(33,31,31);
}
#P480_32
{
left:4164.48px;bottom:36602.1px;color:rgb(33,31,31);
}
#P480_33
{
left:4250.85px;bottom:36633.5px;letter-spacing:-0.2px;color:rgb(33,31,31);
}
#P480_34
{
left:4533.86px;bottom:36736.3px;letter-spacing:0.8px;color:rgb(33,31,31);
}
#P480_35
{
left:4259.68px;bottom:36422.9px;color:rgb(33,31,31);
}
#P480_36
{
left:4346.08px;bottom:36454.3px;letter-spacing:-0.2px;color:rgb(33,31,31);
}
#P480_37
{
left:4629.09px;bottom:36557px;letter-spacing:0.8px;color:rgb(33,31,31);
}
#P480_38
{
left:4424.86px;bottom:36173.7px;color:rgb(33,31,31);
}
#P480_39
{
left:4511.26px;bottom:36205.1px;letter-spacing:-0.2px;color:rgb(33,31,31);
}
#P480_40
{
left:4794.27px;bottom:36307.9px;letter-spacing:0.8px;color:rgb(33,31,31);
}
#P480_41
{
left:4669.4px;bottom:34341.5px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P480_42
{
left:0px;letter-spacing:-9.3px;margin-left:0.7px;
}
#P480_43
{
left:0px;letter-spacing:-1.6px;margin-left:9.3px;
}
#P480_44
{
left:0px;letter-spacing:-1.4px;margin-left:-19.4px;
}
#P480_45
{
left:0px;letter-spacing:-9.3px;margin-left:-12.6px;
}
#P480_46
{
left:0px;letter-spacing:-5.2px;margin-left:9.3px;
}
#P480_47
{
left:0px;letter-spacing:0.3px;margin-left:-1.7px;
}
#P480_48
{
left:4669.4px;bottom:33445.5px;letter-spacing:0.2px;color:rgb(35,31,31);
}
#P480_49
{
left:4669.4px;bottom:32293.5px;color:rgb(35,31,31);
}
#P480_50
{
left:5237.98px;bottom:32313.3px;color:rgb(35,31,31);
}
#P480_51
{
left:9730.27px;bottom:32078.3px;color:rgb(35,31,31);
}
#P480_52
{
left:6667.29px;bottom:30971.5px;letter-spacing:795.8px;color:rgb(35,31,31);
}
#P480_53
{
left:6667.29px;bottom:29947.6px;letter-spacing:795.8px;color:rgb(35,31,31);
}
#P480_54
{
left:19465.6px;bottom:32293.5px;color:rgb(35,31,31);
}
#P480_55
{
left:20022px;bottom:32313.3px;color:rgb(35,31,31);
}
#P480_56
{
left:24327.1px;bottom:32119.5px;color:rgb(35,31,31);
}
#P480_57
{
left:0px;letter-spacing:0px;margin-left:-224.1px;
}
#P480_58
{
left:0px;letter-spacing:0px;margin-left:37.3px;
}
#P480_59
{
left:21489.3px;bottom:31012.7px;color:rgb(35,31,31);
}
#P480_60
{
left:0px;letter-spacing:0px;margin-left:823.6px;
}
#P480_61
{
left:0px;letter-spacing:0px;margin-left:823.7px;
}
#P480_62
{
left:0px;letter-spacing:0px;margin-left:823.7px;
}
#P480_63
{
left:0px;letter-spacing:0px;margin-left:823.7px;
}
#P480_64
{
left:0px;letter-spacing:0px;margin-left:823.7px;
}
#P480_65
{
left:0px;letter-spacing:0px;margin-left:823.7px;
}
#P480_66
{
left:0px;letter-spacing:0px;margin-left:823.6px;
}
#P480_67
{
left:21489.3px;bottom:29988.8px;color:rgb(35,31,31);
}
#P480_68
{
left:0px;letter-spacing:0px;margin-left:823.6px;
}
#P480_69
{
left:0px;letter-spacing:0px;margin-left:823.7px;
}
#P480_70
{
left:0px;letter-spacing:0px;margin-left:823.7px;
}
#P480_71
{
left:0px;letter-spacing:0px;margin-left:823.7px;
}
#P480_72
{
left:0px;letter-spacing:0px;margin-left:823.7px;
}
#P480_73
{
left:0px;letter-spacing:0px;margin-left:823.7px;
}
#P480_74
{
left:4669.4px;bottom:28005.5px;letter-spacing:0.2px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P480_75
{
left:4669.4px;bottom:26853.5px;color:rgb(35,31,31);
}
#P480_76
{
left:5237.98px;bottom:26873.3px;color:rgb(35,31,31);
}
#P480_77
{
left:7104.73px;bottom:21881.5px;color:rgb(35,31,31);
}
#P480_78
{
left:0px;letter-spacing:0px;margin-left:505.9px;
}
#P480_79
{
left:0px;letter-spacing:0px;margin-left:505.8px;
}
#P480_80
{
left:0px;letter-spacing:0px;margin-left:1581.1px;
}
#P480_81
{
left:10330.3px;bottom:21881.5px;color:rgb(35,31,31);
}
#P480_82
{
left:0px;letter-spacing:0px;margin-left:1581.1px;
}
#P480_83
{
left:14030px;bottom:22939.4px;color:rgb(33,31,31);
}
#P480_84
{
left:14314.1px;bottom:22325px;color:rgb(33,31,31);
}
#P480_85
{
left:10017.2px;bottom:26904px;color:rgb(35,31,31);
}
#P480_86
{
left:17021.2px;bottom:26853.5px;color:rgb(35,31,31);
}
#P480_87
{
left:20022px;bottom:26873.3px;color:rgb(35,31,31);
}
#P480_88
{
left:21760.7px;bottom:21888.2px;color:rgb(35,31,31);
}
#P480_89
{
left:0px;letter-spacing:0px;margin-left:369.2px;
}
#P480_90
{
left:0px;letter-spacing:0px;margin-left:369.2px;
}
#P480_91
{
left:0px;letter-spacing:0px;margin-left:1308.2px;
}
#P480_92
{
left:24576.7px;bottom:21888.2px;color:rgb(35,31,31);
}
#P480_93
{
left:0px;letter-spacing:0px;margin-left:2246.7px;
}
#P480_94
{
left:26454.2px;bottom:21888.2px;color:rgb(35,31,31);
}
#P480_95
{
left:28936.2px;bottom:22933.3px;color:rgb(33,31,31);
}
#P480_96
{
left:28836.9px;bottom:22318.9px;color:rgb(33,31,31);
}
#P480_97
{
left:23536.5px;bottom:26910.7px;color:rgb(35,31,31);
}
#P480_98
{
left:4669.4px;bottom:20261.5px;color:rgb(35,31,31);
}
#P480_99
{
left:5237.98px;bottom:20281.3px;color:rgb(35,31,31);
}
#P480_100
{
left:7806.04px;bottom:15277.7px;color:rgb(35,31,31);
}
#P480_101
{
left:7827.35px;bottom:16045.7px;color:rgb(35,31,31);
}
#P480_102
{
left:7838.04px;bottom:16813.7px;color:rgb(35,31,31);
}
#P480_103
{
left:7816.92px;bottom:17581.7px;color:rgb(35,31,31);
}
#P480_104
{
left:7816.92px;bottom:18349.7px;color:rgb(35,31,31);
}
#P480_105
{
left:7816.92px;bottom:19117.7px;color:rgb(35,31,31);
}
#P480_106
{
left:8864.81px;bottom:13763.2px;letter-spacing:18px;color:rgb(35,31,31);
}
#P480_107
{
left:8087.83px;bottom:14489.8px;color:rgb(35,31,31);
}
#P480_108
{
left:11414.2px;bottom:12556.1px;color:rgb(35,31,31);
}
#P480_109
{
left:7463.96px;bottom:15678.6px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P480_110
{
left:8822.87px;bottom:20047px;letter-spacing:-26.5px;color:rgb(35,31,31);
}
#P480_111
{
left:0px;letter-spacing:0px;margin-left:26.5px;
}
#P480_112
{
left:10220.9px;bottom:13788.6px;color:rgb(35,31,31);
}

#P480_113{left:11174px;bottom:13411.2px;color:rgb(35,31,31);}
#P480_113a{left:12474px;bottom:13411.2px;color:rgb(35,31,31);}
#P480_113b{left:13874px;bottom:13411.2px;color:rgb(35,31,31);}
#P480_113c{left:15174px;bottom:13411.2px;color:rgb(35,31,31);}

#P480_114
{
left:17420.8px;bottom:20261.5px;color:rgb(35,31,31);
}
#P480_115
{
left:20022px;bottom:20281.3px;color:rgb(35,31,31);
}
#P480_116
{
left:22898.2px;bottom:15300.3px;color:rgb(35,31,31);
}
#P480_117
{
left:22919.5px;bottom:16068.3px;color:rgb(35,31,31);
}
#P480_118
{
left:22930.1px;bottom:16836.3px;color:rgb(35,31,31);
}
#P480_119
{
left:22909px;bottom:17604.3px;color:rgb(35,31,31);
}
#P480_120
{
left:22642.1px;bottom:18372.3px;color:rgb(35,31,31);
}
#P480_121
{
left:22642.1px;bottom:19140.3px;color:rgb(35,31,31);
}
#P480_122
{
left:23180.2px;bottom:14512.1px;color:rgb(35,31,31);
}
#P480_123
{
left:27066.1px;bottom:12578.5px;color:rgb(35,31,31);
}
#P480_124
{
left:22248px;bottom:15701.1px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P480_125
{
left:22902.6px;bottom:20069.5px;color:rgb(35,31,31);
}
#P480_126
{
left:23918.4px;bottom:13811.3px;color:rgb(35,31,31);
}

#P480_127{left:24681.3px;bottom:13433.8px;color:rgb(35,31,31);}
#P480_127a{left:25781.3px;bottom:13433.8px;color:rgb(35,31,31);}
#P480_127b{left:26881.3px;bottom:13433.8px;color:rgb(35,31,31);}
#P480_127c{left:27981.3px;bottom:13433.8px;color:rgb(35,31,31);}
#P480_127d{left:29181.3px;bottom:13433.8px;color:rgb(35,31,31);}
#P480_127e{left:30281.3px;bottom:13433.8px;color:rgb(35,31,31);}

#P480_128
{
left:4669.4px;bottom:10469.5px;color:rgb(35,31,31);
}
#P480_129
{
left:5237.98px;bottom:10489.3px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P480_130
{
left:6333.4px;bottom:10489.3px;color:rgb(2,77,161);
}
#P480_131
{
left:8523.55px;bottom:10469.5px;letter-spacing:168.3px;color:rgb(35,31,31);
}
#P480_132
{
left:0px;letter-spacing:-0.7px;margin-left:-168.3px;
}
#P480_133
{
left:0px;letter-spacing:0px;margin-left:-20.3px;
}
#P480_134
{
left:0px;letter-spacing:0.2px;
}
#P480_135
{
left:29061.3px;bottom:10469.5px;word-spacing:56.3px;color:rgb(35,31,31);
}
#P480_136
{
left:6333.4px;bottom:9573.55px;letter-spacing:-3.5px;color:rgb(35,31,31);
}
#P480_137
{
left:0px;letter-spacing:-0.7px;margin-left:3.5px;
}
#P480_138
{
left:0px;letter-spacing:0px;margin-left:-66.1px;
}
#P480_139
{
left:0px;letter-spacing:-0.1px;
}
#P480_140
{
left:6333.4px;bottom:8677.61px;color:rgb(35,31,31);
}
#P480_141
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P480_142
{
left:0px;letter-spacing:0px;
}
#P480_143
{
left:0px;letter-spacing:0px;margin-left:-77.4px;
}
#P480_144
{
left:0px;letter-spacing:0px;
}
#P480_145
{
left:6333.4px;bottom:7781.61px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P480_146
{
left:0px;letter-spacing:0px;margin-left:-3.9px;
}
#P480_147
{
left:4669.4px;bottom:3365.63px;color:rgb(35,31,31);
}
#P480_148
{
left:6589.4px;bottom:6197.8px;letter-spacing:-30.8px;color:rgb(35,31,31);
}
#P480_149
{
left:0px;letter-spacing:0px;margin-left:30.8px;
}
#P480_150
{
left:16486px;bottom:6178.99px;color:rgb(35,31,31);
}
#P480_151
{
left:0px;letter-spacing:0px;margin-left:1456.1px;
}
#P480_152
{
left:0px;letter-spacing:0px;margin-left:26.9px;
}
#P480_153
{
left:0px;letter-spacing:0px;
}
#P480_154
{
left:0px;letter-spacing:0px;margin-left:1264.6px;
}
#P480_155
{
left:0px;letter-spacing:0px;margin-left:26.9px;
}
#P480_156
{
left:0px;letter-spacing:0px;margin-left:921.9px;
}
#P480_157
{
left:0px;letter-spacing:0px;margin-left:737px;
}
#P480_158
{
left:0px;letter-spacing:0px;margin-left:40.3px;
}
#P480_159
{
left:0px;letter-spacing:0px;margin-left:710.3px;
}
#P480_160
{
left:0px;letter-spacing:0px;margin-left:26.9px;
}
#P480_161
{
left:0px;letter-spacing:0px;margin-left:26.9px;
}
#P480_162
{
left:0px;letter-spacing:0px;
}
#P480_163
{
left:0px;letter-spacing:0px;margin-left:730.3px;
}
#P480_164
{
left:6589.4px;bottom:5045.8px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P480_165
{
left:16832px;bottom:5026.99px;color:rgb(35,31,31);
}
#P480_166
{
left:0px;letter-spacing:0px;margin-left:1983.6px;
}
#P480_167
{
left:0px;letter-spacing:1805.6px;
}
#P480_168
{
left:0px;letter-spacing:1805.6px;margin-left:-1805.6px;
}
#P480_169
{
left:0px;letter-spacing:0px;margin-left:-1805.6px;
}
#P480_170
{
left:0px;letter-spacing:0px;margin-left:1983.6px;
}
#P480_171
{
left:0px;letter-spacing:0px;margin-left:2161.7px;
}
#P480_172
{
left:0px;letter-spacing:0px;margin-left:2161.7px;
}
#P480_173
{
left:6589.4px;bottom:3893.79px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P480_174
{
left:16832px;bottom:3874.97px;letter-spacing:2161.8px;color:rgb(35,31,31);
}
#P480_175
{
left:0px;letter-spacing:0px;margin-left:-178.1px;
}
#P480_176
{
left:0px;letter-spacing:0px;
}
#P480_177
{
left:0px;letter-spacing:0px;margin-left:1805.5px;
}
#P480_178
{
left:0px;letter-spacing:0px;
}
#P480_179
{
left:0px;letter-spacing:2161.8px;margin-left:1983.6px;
}
#P480_180
{
left:3954.73px;bottom:26892.3px;
}
#P480_181
{
left:3954.73px;bottom:26892.3px;color:white;
}
#P480_182
{
left:2924.67px;bottom:10433.6px;
}
#P480_183
{
left:2924.67px;bottom:10433.6px;color:white;
}
#P480_184
{
left:3954.73px;bottom:10433.6px;
}
#P480_185
{
left:3954.73px;bottom:10433.6px;color:white;
}
#P480_186
{
left:26505.8px;bottom:46200.7px;letter-spacing:0.1px;word-spacing:0.2px;color:rgb(33,31,31);
}
#PageContainer480
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg480.jpg");background-repeat:no-repeat;background-size: 934px 1234px; background-position: 0px 35.4000000000001px;
}
#ImageContainer480 {bottom:94.60px;left:0.00px;width:934.41px;height:1233.91px;position:absolute;} #TextContainer480 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.answer{ position: absolute; top: 50px; left: 27px;
} 
.c1{position: absolute;top: 605px;left: 97px;}
.c2{position: absolute;top: 1052px;left: 70px;}
.c3{position: absolute;top: 1054px;left: 100px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}