.tr169{ color:transparent;}
#P169_1
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P169_2
{
left:29714px;bottom:1410.03px;letter-spacing:1.1px;word-spacing:462.2px;color:rgb(35,31,31);
}
#P169_3
{
left:0px;letter-spacing:0px;margin-left:-463.3px;
}
#P169_4
{
left:0px;letter-spacing:-0.1px;margin-left:-0.1px;
}
#P169_5
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P169_6
{
left:8904.09px;bottom:13470.1px;letter-spacing:9.6px;color:white;
}
#P169_7
{
left:11208.1px;bottom:13505.8px;color:rgb(2,77,161);
}
#P169_8
{
left:12280.3px;bottom:13697.6px;color:rgb(2,77,161);
}
#P169_9
{
left:12520.5px;bottom:13505.8px;color:rgb(2,77,161);
}
#P169_10
{
left:12856.6px;bottom:13697.6px;color:rgb(2,77,161);
}
#P169_11
{
left:13096.8px;bottom:13505.8px;letter-spacing:-1.7px;color:rgb(2,77,161);
}
#P169_12
{
left:17211.4px;bottom:13697.6px;color:rgb(2,77,161);
}
#P169_13
{
left:17451.5px;bottom:13505.8px;color:rgb(2,77,161);
}
#P169_14
{
left:19659.8px;bottom:13555.6px;color:rgb(2,77,161);
}
#P169_15
{
left:10216.1px;bottom:12066px;letter-spacing:-14.8px;color:rgb(35,31,31);
}
#P169_16
{
left:0px;letter-spacing:-0.5px;margin-left:14.8px;
}
#P169_17
{
left:9448.09px;bottom:10914px;color:rgb(35,31,31);
}
#P169_18
{
left:10176px;bottom:10914px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P169_19
{
left:11240.2px;bottom:10914px;color:rgb(35,31,31);
}
#P169_20
{
left:14494px;bottom:10914px;color:rgb(35,31,31);
}
#P169_21
{
left:14823.4px;bottom:10914px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P169_22
{
left:0px;letter-spacing:0px;margin-left:-16.3px;
}
#P169_23
{
left:9448.03px;bottom:9633.9px;letter-spacing:1132.2px;color:rgb(35,31,31);
}
#P169_24
{
left:0px;letter-spacing:0px;margin-left:-768px;
}
#P169_25
{
left:12776px;bottom:9633.9px;color:rgb(35,31,31);
}
#P169_26
{
left:13105.5px;bottom:9633.9px;color:rgb(35,31,31);
}
#P169_27
{
left:13263.8px;bottom:9604.33px;color:rgb(35,31,31);
}
#P169_28
{
left:13850.3px;bottom:9633.9px;color:rgb(35,31,31);
}
#P169_29
{
left:18088.1px;bottom:9642.03px;letter-spacing:-8.3px;color:rgb(0,124,196);
}
#P169_30
{
left:0px;letter-spacing:0px;margin-left:8.3px;
}
#P169_31
{
left:21010.6px;bottom:9660.84px;color:rgb(0,124,196);
}
#P169_32
{
left:24470.4px;bottom:9642.03px;color:rgb(0,124,196);
}
#P169_33
{
left:26460.1px;bottom:9660.84px;color:rgb(0,124,196);
}
#P169_34
{
left:29474.8px;bottom:9642.03px;color:rgb(0,124,196);
}
#P169_35
{
left:9448.09px;bottom:8354.03px;color:rgb(35,31,31);
}
#P169_36
{
left:10139.9px;bottom:8354.03px;letter-spacing:-17.5px;color:rgb(35,31,31);
}
#P169_37
{
left:11240px;bottom:8354.03px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P169_38
{
left:24609.4px;bottom:8354.03px;color:rgb(35,31,31);
}
#P169_39
{
left:24972.7px;bottom:8354.03px;color:rgb(35,31,31);
}
#P169_40
{
left:9447.96px;bottom:7074.03px;letter-spacing:1132.2px;color:rgb(35,31,31);
}
#P169_41
{
left:0px;letter-spacing:0px;margin-left:-768px;
}
#P169_42
{
left:12776px;bottom:7074.03px;color:rgb(35,31,31);
}
#P169_43
{
left:13307.5px;bottom:7044.46px;color:rgb(35,31,31);
}
#P169_44
{
left:13893.8px;bottom:7074.03px;color:rgb(35,31,31);
}
#P169_45
{
left:14798.5px;bottom:7074.03px;color:rgb(35,31,31);
}
#P169_46
{
left:15161.8px;bottom:7074.03px;letter-spacing:2767.8px;color:rgb(35,31,31);
}
#P169_47
{
left:18088.1px;bottom:7082.03px;letter-spacing:-8.3px;color:rgb(0,124,196);
}
#P169_48
{
left:0px;letter-spacing:0px;margin-left:8.3px;
}
#P169_49
{
left:21010.6px;bottom:7100.84px;color:rgb(0,124,196);
}
#P169_50
{
left:22819.5px;bottom:7082.03px;color:rgb(0,124,196);
}
#P169_51
{
left:24809.3px;bottom:7100.84px;color:rgb(0,124,196);
}
#P169_52
{
left:27062.7px;bottom:7082.03px;letter-spacing:-24.8px;color:rgb(0,124,196);
}
#P169_53
{
left:18088.1px;bottom:6186.03px;letter-spacing:-8.3px;color:rgb(0,124,196);
}
#P169_54
{
left:0px;letter-spacing:0px;margin-left:8.3px;
}
#P169_55
{
left:21010.6px;bottom:6204.84px;color:rgb(0,124,196);
}
#P169_56
{
left:23834.6px;bottom:6186.03px;color:rgb(0,124,196);
}
#P169_57
{
left:25824.3px;bottom:6204.84px;color:rgb(0,124,196);
}
#P169_58
{
left:29537.6px;bottom:6186.03px;color:rgb(0,124,196);
}
#P169_59
{
left:0px;bottom:0px;letter-spacing:0px;color:white;
}
#P169_60
{
left:6651.35px;bottom:46893.1px;color:white;
}
#P169_61
{
left:13996.3px;bottom:47191.5px;color:white;
}
#P169_62
{
left:14369.9px;bottom:46893.1px;color:white;
}
#P169_63
{
left:6973.4px;bottom:43555.5px;letter-spacing:-4.4px;color:rgb(0,124,196);
}
#P169_64
{
left:0px;letter-spacing:0px;margin-left:4.4px;
}
#P169_65
{
left:6973.4px;bottom:37918.1px;letter-spacing:-0.6px;color:rgb(0,124,196);
}
#P169_66
{
left:10045.4px;bottom:42258.5px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P169_67
{
left:16156.6px;bottom:42258.5px;color:rgb(35,31,31);
}
#P169_68
{
left:10045.4px;bottom:41362.5px;color:rgb(35,31,31);
}
#P169_69
{
left:12023.8px;bottom:41362.5px;color:rgb(35,31,31);
}
#P169_70
{
left:10045.4px;bottom:40466.6px;color:rgb(35,31,31);
}
#P169_71
{
left:12621.1px;bottom:40466.6px;color:rgb(35,31,31);
}
#P169_72
{
left:19261.4px;bottom:42258.6px;color:rgb(35,31,31);
}
#P169_73
{
left:0px;letter-spacing:0px;margin-left:-186.8px;
}
#P169_74
{
left:22621.3px;bottom:42258.6px;color:rgb(35,31,31);
}
#P169_75
{
left:19261.4px;bottom:41362.6px;color:rgb(35,31,31);
}
#P169_76
{
left:22099.3px;bottom:41362.6px;color:rgb(35,31,31);
}
#P169_77
{
left:19261.4px;bottom:40466.7px;letter-spacing:-7.2px;color:rgb(35,31,31);
}
#P169_78
{
left:25846.4px;bottom:40466.7px;letter-spacing:-6.7px;color:rgb(35,31,31);
}
#P169_79
{
left:28477.3px;bottom:42258.7px;color:rgb(35,31,31);
}
#P169_80
{
left:31612.8px;bottom:42258.7px;color:rgb(35,31,31);
}
#P169_81
{
left:28477.3px;bottom:41362.8px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P169_82
{
left:29245.4px;bottom:40530.7px;color:rgb(35,31,31);
}
#P169_83
{
left:29449.8px;bottom:45131.3px;letter-spacing:-22.4px;word-spacing:0.2px;color:rgb(33,31,31);
}
#P169_84
{
left:0px;letter-spacing:0px;margin-left:22.4px;
}
#P169_85
{
left:9799.58px;bottom:34047.4px;letter-spacing:-9.3px;word-spacing:580.1px;color:rgb(35,31,31);
}
#P169_85a
{
left: 11058.58px;bottom:34047.4px;letter-spacing:-9.3px;word-spacing:580.1px;color:rgb(35,31,31);
}
#P169_86
{
left:0px;letter-spacing:0px;margin-left:-206.6px;
}
#P169_87
{
left:0px;letter-spacing:-2.6px;margin-left:-16.8px;
}
#P169_88
{
left:0px;letter-spacing:0px;margin-left:2.6px;
}
#P169_89
{
left:13854.4px;bottom:34053px;color:rgb(35,31,31);
}
#P169_90
{
left:14274.1px;bottom:34047.4px;color:rgb(35,31,31);
}
#P169_91
{
left:14422px;bottom:34017.8px;color:rgb(35,31,31);
}
#P169_92
{
left:15008.4px;bottom:34047.4px;color:rgb(35,31,31);
}
#P169_93
{
left:15156.1px;bottom:34053px;color:rgb(35,31,31);
}
#P169_94
{
left:15568.8px;bottom:34047.4px;color:rgb(35,31,31);
}
#P169_95
{
left:17667.9px;bottom:34053px;color:rgb(35,31,31);
}
#P169_96
{
left:18087.5px;bottom:34047.4px;color:rgb(35,31,31);
}
#P169_97
{
left:18235.4px;bottom:34017.8px;color:rgb(35,31,31);
}
#P169_98
{
left:18821.8px;bottom:34047.4px;color:rgb(35,31,31);
}
#P169_99
{
left:21311.8px;bottom:34053px;color:rgb(35,31,31);
}
#P169_100
{
left:21724.3px;bottom:34047.4px;color:rgb(35,31,31);
}
#P169_101
{
left:21872.2px;bottom:34017.8px;color:rgb(35,31,31);
}
#P169_102
{
left:22458.6px;bottom:34047.4px;color:rgb(35,31,31);
}
#P169_103
{
left:9848.92px;bottom:32383.4px;color:rgb(35,31,31);
}
#P169_104
{
left:12473px;bottom:32383.4px;color:rgb(235,26,35);
}
#P169_105
{
left:12867.9px;bottom:32383.4px;color:rgb(35,31,31);
}
#P169_106
{
left:13026.3px;bottom:32353.8px;color:rgb(35,31,31);
}
#P169_107
{
left:13612.7px;bottom:32383.4px;color:rgb(35,31,31);
}
#P169_108
{
left:13771.1px;bottom:32383.4px;color:rgb(0,124,196);
}
#P169_109
{
left:14164.6px;bottom:32383.4px;color:rgb(35,31,31);
}
#P169_110
{
left:14323px;bottom:32353.8px;color:rgb(35,31,31);
}
#P169_111
{
left:14909.5px;bottom:32383.4px;color:rgb(35,31,31);
}
#P169_112
{
left:15067.9px;bottom:32383.4px;color:rgb(235,26,35);
}
#P169_113
{
left:15814.1px;bottom:32383.4px;color:rgb(35,31,31);
}
#P169_114
{
left:15972.5px;bottom:32353.8px;color:rgb(35,31,31);
}
#P169_115
{
left:16558.9px;bottom:32383.4px;color:rgb(35,31,31);
}
#P169_116
{
left:16717.3px;bottom:32383.4px;color:rgb(0,124,196);
}
#P169_117
{
left:20793px;bottom:32391.4px;color:rgb(0,124,196);
}
#P169_118
{
left:25193.8px;bottom:32410.2px;color:rgb(0,124,196);
}
#P169_119
{
left:25530.1px;bottom:32391.4px;color:rgb(0,124,196);
}
#P169_120
{
left:28165.6px;bottom:32410.2px;color:rgb(0,124,196);
}
#P169_121
{
left:28535.1px;bottom:32391.4px;color:rgb(0,124,196);
}
#P169_122
{
left:9848.99px;bottom:31103.4px;letter-spacing:993.6px;color:rgb(35,31,31);
}
#P169_123
{
left:0px;letter-spacing:0px;margin-left:2017.6px;
}
#P169_124
{
left:14329px;bottom:31073.8px;color:rgb(35,31,31);
}
#P169_125
{
left:14915.4px;bottom:31103.4px;color:rgb(35,31,31);
}
#P169_126
{
left:20793px;bottom:31111.4px;color:rgb(0,124,196);
}
#P169_127
{
left:9080.99px;bottom:29823.4px;color:rgb(35,31,31);
}
#P169_128
{
left:9772.83px;bottom:29823.4px;letter-spacing:-11.6px;word-spacing:364.2px;color:rgb(35,31,31);
}
#P169_128a
{
left: 10928.83px;bottom:29823.4px;letter-spacing:-11.6px;word-spacing:364.2px;color:rgb(35,31,31);
}
#P169_129
{
left:0px;letter-spacing:-2.6px;margin-left:-5.2px;
}
#P169_130
{
left:0px;letter-spacing:0px;margin-left:2.6px;
}
#P169_131
{
left:13854.4px;bottom:29829px;color:rgb(35,31,31);
}
#P169_132
{
left:14255.1px;bottom:30167.1px;color:rgb(35,31,31);
}
#P169_133
{
left:14572.4px;bottom:29823.4px;color:rgb(35,31,31);
}
#P169_134
{
left:14720.2px;bottom:29793.8px;color:rgb(35,31,31);
}
#P169_135
{
left:15306.6px;bottom:29823.4px;color:rgb(35,31,31);
}
#P169_136
{
left:18342.2px;bottom:29829px;color:rgb(35,31,31);
}
#P169_137
{
left:18686.5px;bottom:29823.4px;color:rgb(35,31,31);
}
#P169_138
{
left:18834.3px;bottom:29793.8px;color:rgb(35,31,31);
}
#P169_139
{
left:19420.8px;bottom:29823.4px;color:rgb(35,31,31);
}
#P169_140
{
left:9848.99px;bottom:28159.4px;color:rgb(35,31,31);
}
#P169_141
{
left:12444.2px;bottom:28159.4px;color:rgb(235,26,35);
}
#P169_142
{
left:12872.3px;bottom:28503.1px;color:rgb(35,31,31);
}
#P169_143
{
left:13143.5px;bottom:28159.4px;color:rgb(35,31,31);
}
#P169_144
{
left:13301.9px;bottom:28129.8px;color:rgb(35,31,31);
}
#P169_145
{
left:14064.3px;bottom:28159.4px;color:rgb(35,31,31);
}
#P169_146
{
left:14969px;bottom:28129.8px;color:rgb(35,31,31);
}
#P169_147
{
left:15555.4px;bottom:28159.4px;color:rgb(35,31,31);
}
#P169_148
{
left:15713.8px;bottom:28159.4px;color:rgb(235,26,35);
}
#P169_149
{
left:16086.9px;bottom:28503.1px;color:rgb(35,31,31);
}
#P169_150
{
left:16358.2px;bottom:28159.4px;color:rgb(35,31,31);
}
#P169_151
{
left:16516.6px;bottom:28129.8px;color:rgb(35,31,31);
}
#P169_152
{
left:17279px;bottom:28159.4px;color:rgb(35,31,31);
}
#P169_153
{
left:20793px;bottom:28167.4px;color:rgb(0,124,196);
}
#P169_154
{
left:24871.3px;bottom:28186.2px;color:rgb(0,124,196);
}
#P169_155
{
left:25173.7px;bottom:28167.4px;color:rgb(0,124,196);
}
#P169_156
{
left:9848.99px;bottom:26879.4px;letter-spacing:4803.2px;color:rgb(35,31,31);
}
#P169_157
{
left:14969px;bottom:26849.8px;color:rgb(35,31,31);
}
#P169_158
{
left:15555.4px;bottom:26879.4px;color:rgb(35,31,31);
}
#P169_159
{
left:16618.4px;bottom:26849.8px;color:rgb(35,31,31);
}
#P169_160
{
left:17380.8px;bottom:26879.4px;color:rgb(35,31,31);
}
#P169_161
{
left:20793px;bottom:26887.4px;letter-spacing:-1px;color:rgb(0,124,196);
}
#P169_162
{
left:0px;letter-spacing:0px;margin-left:-23.8px;
}
#P169_163
{
left:0px;letter-spacing:0px;margin-left:-12px;
}
#P169_164
{
left:30195.7px;bottom:27215.5px;color:rgb(0,124,196);
}
#P169_165
{
left:30430.2px;bottom:26887.4px;color:rgb(0,124,196);
}
#P169_166
{
left:9848.99px;bottom:25599.4px;letter-spacing:4803.2px;color:rgb(35,31,31);
}
#P169_167
{
left:14969px;bottom:25569.8px;color:rgb(35,31,31);
}
#P169_168
{
left:15555.4px;bottom:25599.4px;color:rgb(35,31,31);
}
#P169_169
{
left:20793px;bottom:25607.4px;color:rgb(0,124,196);
}
#P169_170
{
left:9870.3px;bottom:21775px;letter-spacing:-4.6px;color:rgb(35,31,31);
}
#P169_171
{
left:0px;letter-spacing:-0.7px;margin-left:4.6px;
}
#P169_172
{
left:19707.4px;bottom:21780.6px;color:rgb(35,31,31);
}
#P169_173
{
left:20070.7px;bottom:21775px;color:rgb(35,31,31);
}
#P169_174
{
left:20218.5px;bottom:21745.4px;color:rgb(35,31,31);
}
#P169_175
{
left:20805px;bottom:21775px;color:rgb(35,31,31);
}
#P169_176
{
left:23294.9px;bottom:21780.6px;color:rgb(35,31,31);
}
#P169_177
{
left:23639.2px;bottom:21775px;color:rgb(35,31,31);
}
#P169_178
{
left:23787px;bottom:21745.4px;color:rgb(35,31,31);
}
#P169_179
{
left:24373.5px;bottom:21775px;color:rgb(35,31,31);
}
#P169_180
{
left:9870.3px;bottom:20623px;color:rgb(35,31,31);
}
#P169_181
{
left:10438.9px;bottom:20642.7px;color:rgb(35,31,31);
}
#P169_182
{
left:11026px;bottom:20623px;color:rgb(35,31,31);
}
#P169_183
{
left:11470.3px;bottom:20623px;color:rgb(35,31,31);
}
#P169_184
{
left:11833.6px;bottom:20623px;color:rgb(35,31,31);
}
#P169_185
{
left:11992px;bottom:20593.4px;color:rgb(35,31,31);
}
#P169_186
{
left:12578.4px;bottom:20623px;color:rgb(35,31,31);
}
#P169_187
{
left:16870.9px;bottom:20642.7px;color:rgb(35,31,31);
}
#P169_188
{
left:17458px;bottom:20623px;color:rgb(35,31,31);
}
#P169_189
{
left:17838.3px;bottom:20623px;color:rgb(35,31,31);
}
#P169_190
{
left:18167.8px;bottom:20623px;color:rgb(35,31,31);
}
#P169_191
{
left:18326.2px;bottom:20593.4px;color:rgb(35,31,31);
}
#P169_192
{
left:18912.6px;bottom:20623px;color:rgb(35,31,31);
}
#P169_193
{
left:19071px;bottom:20623px;color:rgb(35,31,31);
}
#P169_194
{
left:19434.2px;bottom:20623px;color:rgb(35,31,31);
}
#P169_195
{
left:23302.9px;bottom:20642.7px;color:rgb(35,31,31);
}
#P169_196
{
left:23890px;bottom:20623px;letter-spacing:285.9px;color:rgb(35,31,31);
}
#P169_197
{
left:24707.5px;bottom:20623px;color:rgb(35,31,31);
}
#P169_198
{
left:25037px;bottom:20623px;color:rgb(35,31,31);
}
#P169_199
{
left:25195.4px;bottom:20593.4px;color:rgb(35,31,31);
}
#P169_200
{
left:25781.8px;bottom:20623px;color:rgb(35,31,31);
}
#P169_201
{
left:25940.1px;bottom:20623px;color:rgb(35,31,31);
}
#P169_202
{
left:9870.3px;bottom:18895px;color:rgb(35,31,31);
}
#P169_203
{
left:10438.9px;bottom:18914.7px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P169_204
{
left:11470.3px;bottom:18914.7px;color:rgb(2,77,161);
}
#P169_205
{
left:14143.3px;bottom:18895px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P169_206
{
left:0px;letter-spacing:0px;margin-left:-206.1px;
}
#P169_207
{
left:0px;letter-spacing:-0.5px;margin-left:-14px;
}
#P169_208
{
left:0px;letter-spacing:0px;margin-left:-13.4px;
}
#P169_209
{
left:23019.1px;bottom:18895px;color:rgb(35,31,31);
}
#P169_210
{
left:23434.3px;bottom:18895px;color:rgb(35,31,31);
}
#P169_211
{
left:11470.2px;bottom:17999px;color:rgb(35,31,31);
}
#P169_212
{
left:12853.5px;bottom:17999px;color:rgb(35,31,31);
}
#P169_213
{
left:13247px;bottom:17999px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P169_214
{
left:0px;letter-spacing:-0.3px;margin-left:-13.7px;
}
#P169_215
{
left:11470.2px;bottom:17103.1px;letter-spacing:-1.7px;color:rgb(35,31,31);
}
#P169_216
{
left:13982.8px;bottom:17103.1px;color:rgb(35,31,31);
}
#P169_217
{
left:14398.2px;bottom:17103.1px;color:rgb(35,31,31);
}
#P169_218
{
left:14556.6px;bottom:17073.5px;color:rgb(35,31,31);
}
#P169_219
{
left:15143px;bottom:17103.1px;color:rgb(35,31,31);
}
#P169_220
{
left:15674.5px;bottom:17103.1px;color:rgb(35,31,31);
}
#P169_221
{
left:16068.1px;bottom:17103.1px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P169_222
{
left:0px;letter-spacing:-0.9px;margin-left:21.1px;
}
#P169_223
{
left:0px;letter-spacing:0.1px;margin-left:0.9px;
}
#P169_224
{
left:11470.2px;bottom:16207.1px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P169_225
{
left:8536.99px;bottom:35934.1px;letter-spacing:9.6px;
}
#P169_226
{
left:8536.99px;bottom:35934.1px;letter-spacing:9.6px;color:white;
}
#P169_227
{
left:10841px;bottom:35969.8px;letter-spacing:-2.6px;color:rgb(2,77,161);
}
#P169_228
{
left:13881.6px;bottom:36161.6px;color:rgb(2,77,161);
}
#P169_229
{
left:14121.8px;bottom:35969.8px;letter-spacing:-1.9px;color:rgb(2,77,161);
}
#P169_230
{
left:17643.6px;bottom:36161.6px;color:rgb(2,77,161);
}
#P169_231
{
left:17883.8px;bottom:35969.8px;color:rgb(2,77,161);
}
#P169_232
{
left:20092px;bottom:36019.6px;color:rgb(2,77,161);
}
#P169_233
{
left:28618px;bottom:9660.84px;
}
#P169_234
{
left:27214.1px;bottom:18895px;
}
#P169_235
{
left:27521px;bottom:18895px;color:rgb(33,31,31);
}
#P169_236
{
left:4097.75px;bottom:46399px;
}
#PageContainer169
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg169.jpg");background-repeat:no-repeat;background-size: 1032px 1270px; background-position: 1.67px 0.119999999999891px;
}
#ImageContainer169 {bottom:93.88px;left:1.67px;width:1031.96px;height:1270.28px;position:absolute;} #TextContainer169 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}




.spanish_review{position: absolute;top: 43px;left: 43px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}