.tr561{ color:transparent;}
#P561_1
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P561_2
{
left:20488.2px;bottom:1410.03px;color:rgb(35,31,31);
}
#P561_3
{
left:25401.8px;bottom:1410.03px;letter-spacing:3px;word-spacing:461.8px;color:rgb(35,31,31);
}
#P561_4
{
left:0px;letter-spacing:1.4px;margin-left:-7.4px;
}
#P561_5
{
left:0px;letter-spacing:0px;margin-left:-463.2px;
}
#P561_6
{
left:0px;letter-spacing:0.2px;margin-left:0.3px;
}
#P561_7
{
left:0px;letter-spacing:0px;margin-left:-461.9px;
}
#P561_8
{
left:0px;letter-spacing:4.5px;margin-left:0.3px;
}
#P561_9
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P561_10
{
left:13724.5px;bottom:41692.8px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P561_11
{
left:0px;letter-spacing:-0.2px;margin-left:-6.2px;
}
#P561_12
{
left:13724.5px;bottom:40348.8px;letter-spacing:-35.2px;word-spacing:70.3px;color:rgb(35,31,31);
}
#P561_13
{
left:0px;letter-spacing:0px;margin-left:-35.2px;
}
#P561_14
{
left:14870.7px;bottom:40348.8px;letter-spacing:28.2px;color:rgb(35,31,31);
}
#P561_15
{
left:0px;letter-spacing:-0.3px;margin-left:-28.2px;
}
#P561_16
{
left:27851px;bottom:40348.8px;word-spacing:56.3px;color:rgb(35,31,31);
}
#P561_17
{
left:0px;letter-spacing:0px;margin-left:-56.3px;
}
#P561_18
{
left:29047.1px;bottom:40348.8px;letter-spacing:28.2px;color:rgb(35,31,31);
}
#P561_19
{
left:0px;letter-spacing:-0.9px;margin-left:-28.2px;
}
#P561_20
{
left:13724.5px;bottom:39452.8px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P561_21
{
left:13724.5px;bottom:37724.8px;color:rgb(35,31,31);
}
#P561_22
{
left:15260.5px;bottom:37695.3px;color:rgb(35,31,31);
}
#P561_23
{
left:15846.9px;bottom:37724.8px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P561_24
{
left:16329.2px;bottom:38164.5px;color:rgb(35,31,31);
}
#P561_25
{
left:16665px;bottom:37742.4px;color:rgb(35,31,31);
}
#P561_26
{
left:16308.1px;bottom:37708.8px;color:rgb(35,31,31);
}
#P561_27
{
left:16686.1px;bottom:37726px;color:rgb(35,31,31);
}
#P561_28
{
left:16329.2px;bottom:37256.9px;color:rgb(35,31,31);
}
#P561_29
{
left:16665px;bottom:37742.4px;color:rgb(35,31,31);
}
#P561_30
{
left:16686.1px;bottom:37724.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P561_31
{
left:16844.5px;bottom:37695.2px;color:rgb(35,31,31);
}
#P561_32
{
left:17430.9px;bottom:37724.8px;color:rgb(35,31,31);
}
#P561_33
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P561_34
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P561_35
{
left:18071.6px;bottom:38164.5px;color:rgb(35,31,31);
}
#P561_36
{
left:18407.4px;bottom:37742.4px;color:rgb(35,31,31);
}
#P561_37
{
left:18050.5px;bottom:37708.8px;color:rgb(35,31,31);
}
#P561_38
{
left:18428.5px;bottom:37726px;color:rgb(35,31,31);
}
#P561_39
{
left:18071.6px;bottom:37256.9px;color:rgb(35,31,31);
}
#P561_40
{
left:18407.4px;bottom:37742.4px;color:rgb(35,31,31);
}
#P561_41
{
left:18428.5px;bottom:37724.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P561_42
{
left:18586.9px;bottom:37695.2px;color:rgb(35,31,31);
}
#P561_43
{
left:19173.3px;bottom:37724.8px;color:rgb(35,31,31);
}
#P561_44
{
left:19331.7px;bottom:37695.2px;color:rgb(35,31,31);
}
#P561_45
{
left:19918.2px;bottom:37724.8px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P561_46
{
left:20400.4px;bottom:38164.5px;color:rgb(35,31,31);
}
#P561_47
{
left:20736.2px;bottom:37742.4px;color:rgb(35,31,31);
}
#P561_48
{
left:20379.2px;bottom:37708.8px;color:rgb(35,31,31);
}
#P561_49
{
left:20757.3px;bottom:37726px;color:rgb(35,31,31);
}
#P561_50
{
left:20400.4px;bottom:37256.9px;color:rgb(35,31,31);
}
#P561_51
{
left:20736.2px;bottom:37742.4px;color:rgb(35,31,31);
}
#P561_52
{
left:20757.3px;bottom:37724.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P561_53
{
left:20915.7px;bottom:37695.2px;color:rgb(35,31,31);
}
#P561_54
{
left:21502.1px;bottom:37724.8px;color:rgb(35,31,31);
}
#P561_55
{
left:21660.5px;bottom:37134.4px;color:rgb(35,31,31);
}
#P561_56
{
left:21906.9px;bottom:37456px;color:rgb(35,31,31);
}
#P561_57
{
left:21963.2px;bottom:37695.2px;color:rgb(35,31,31);
}
#P561_58
{
left:22549.7px;bottom:37724.8px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P561_59
{
left:23031.9px;bottom:38164.5px;color:rgb(35,31,31);
}
#P561_60
{
left:23367.7px;bottom:37742.4px;color:rgb(35,31,31);
}
#P561_61
{
left:23010.8px;bottom:37708.8px;color:rgb(35,31,31);
}
#P561_62
{
left:23388.8px;bottom:37726px;color:rgb(35,31,31);
}
#P561_63
{
left:23031.9px;bottom:37256.9px;color:rgb(35,31,31);
}
#P561_64
{
left:23367.7px;bottom:37742.4px;color:rgb(35,31,31);
}
#P561_65
{
left:23388.8px;bottom:37724.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P561_66
{
left:23445.1px;bottom:37134.4px;color:rgb(35,31,31);
}
#P561_67
{
left:23691.5px;bottom:37724.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P561_68
{
left:24220.5px;bottom:37732.8px;color:rgb(0,124,196);
}
#P561_69
{
left:0px;letter-spacing:0px;margin-left:26.9px;
}
#P561_70
{
left:0px;letter-spacing:0px;margin-left:-161.3px;
}
#P561_71
{
left:29788.6px;bottom:38154.5px;color:rgb(0,124,196);
}
#P561_72
{
left:30078.9px;bottom:37749.6px;color:rgb(0,124,196);
}
#P561_73
{
left:29768.4px;bottom:37719.5px;color:rgb(0,124,196);
}
#P561_74
{
left:30099px;bottom:37734px;color:rgb(0,124,196);
}
#P561_75
{
left:29788.6px;bottom:37288.2px;color:rgb(0,124,196);
}
#P561_76
{
left:30078.9px;bottom:37749.6px;color:rgb(0,124,196);
}
#P561_77
{
left:30099px;bottom:37732.8px;letter-spacing:-161.3px;color:rgb(0,124,196);
}
#P561_78
{
left:13724.5px;bottom:35676.8px;letter-spacing:4513.6px;color:rgb(35,31,31);
}
#P561_79
{
left:18554.9px;bottom:35647.2px;color:rgb(35,31,31);
}
#P561_80
{
left:19141.3px;bottom:35676.8px;color:rgb(35,31,31);
}
#P561_81
{
left:19299.7px;bottom:35647.2px;color:rgb(35,31,31);
}
#P561_82
{
left:19731.3px;bottom:35676.8px;color:rgb(35,31,31);
}
#P561_83
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P561_84
{
left:19910.8px;bottom:36116.5px;color:rgb(35,31,31);
}
#P561_85
{
left:20246.6px;bottom:35694.4px;color:rgb(35,31,31);
}
#P561_86
{
left:19889.7px;bottom:35660.8px;color:rgb(35,31,31);
}
#P561_87
{
left:20267.7px;bottom:35678px;color:rgb(35,31,31);
}
#P561_88
{
left:19910.8px;bottom:35208.9px;color:rgb(35,31,31);
}
#P561_89
{
left:20246.6px;bottom:35694.4px;color:rgb(35,31,31);
}
#P561_90
{
left:20267.7px;bottom:35676.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P561_91
{
left:20426.1px;bottom:35647.2px;color:rgb(35,31,31);
}
#P561_92
{
left:21012.6px;bottom:35676.8px;color:rgb(35,31,31);
}
#P561_93
{
left:21171px;bottom:35087.5px;color:rgb(35,31,31);
}
#P561_94
{
left:21417.3px;bottom:35410.5px;color:rgb(35,31,31);
}
#P561_95
{
left:21473.6px;bottom:35647.2px;color:rgb(35,31,31);
}
#P561_96
{
left:21905.2px;bottom:35676.8px;color:rgb(35,31,31);
}
#P561_97
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P561_98
{
left:22084.7px;bottom:36116.5px;color:rgb(35,31,31);
}
#P561_99
{
left:22420.5px;bottom:35694.4px;color:rgb(35,31,31);
}
#P561_100
{
left:22063.6px;bottom:35660.8px;color:rgb(35,31,31);
}
#P561_101
{
left:22441.6px;bottom:35678px;color:rgb(35,31,31);
}
#P561_102
{
left:22084.7px;bottom:35208.9px;color:rgb(35,31,31);
}
#P561_103
{
left:22420.5px;bottom:35694.4px;color:rgb(35,31,31);
}
#P561_104
{
left:22441.6px;bottom:35676.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P561_105
{
left:22497.9px;bottom:35087.5px;color:rgb(35,31,31);
}
#P561_106
{
left:22744.3px;bottom:35676.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P561_107
{
left:24220.5px;bottom:36068.8px;letter-spacing:-0.6px;color:rgb(0,124,196);
}
#P561_108
{
left:13724.5px;bottom:33628.8px;color:rgb(35,31,31);
}
#P561_109
{
left:0px;letter-spacing:0px;margin-left:4355.2px;
}
#P561_110
{
left:18554.9px;bottom:33599.2px;color:rgb(35,31,31);
}
#P561_111
{
left:19141.3px;bottom:33628.8px;color:rgb(35,31,31);
}
#P561_112
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P561_113
{
left:19320.9px;bottom:34041.8px;color:rgb(35,31,31);
}
#P561_114
{
left:19848.7px;bottom:34068.5px;color:rgb(35,31,31);
}
#P561_115
{
left:20520.3px;bottom:33646.4px;color:rgb(35,31,31);
}
#P561_116
{
left:19299.7px;bottom:33612.8px;color:rgb(35,31,31);
}
#P561_117
{
left:20541.4px;bottom:33630px;color:rgb(35,31,31);
}
#P561_118
{
left:19752.7px;bottom:33160.9px;color:rgb(35,31,31);
}
#P561_119
{
left:20088.5px;bottom:33646.4px;color:rgb(35,31,31);
}
#P561_120
{
left:20541.4px;bottom:33628.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P561_121
{
left:24220.5px;bottom:33636.8px;color:rgb(0,124,196);
}
#P561_122
{
left:13724.5px;bottom:31964.8px;letter-spacing:4513.6px;color:rgb(35,31,31);
}
#P561_123
{
left:18554.9px;bottom:31935.2px;color:rgb(35,31,31);
}
#P561_124
{
left:19141.3px;bottom:31964.8px;color:rgb(35,31,31);
}
#P561_125
{
left:19299.7px;bottom:31935.2px;color:rgb(35,31,31);
}
#P561_126
{
left:19731.3px;bottom:31964.8px;color:rgb(35,31,31);
}
#P561_127
{
left:24220.5px;bottom:31972.8px;color:rgb(0,124,196);
}
#P561_128
{
left:0px;letter-spacing:0px;margin-left:-49.7px;
}
#P561_129
{
left:14308.5px;bottom:29916.8px;color:rgb(35,31,31);
}
#P561_130
{
left:15012.5px;bottom:30108.8px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P561_131
{
left:0px;letter-spacing:0px;margin-left:-4.2px;
}
#P561_132
{
left:0px;letter-spacing:0px;margin-left:158.4px;
}
#P561_133
{
left:17956.7px;bottom:30079.2px;color:rgb(35,31,31);
}
#P561_134
{
left:18543.1px;bottom:30108.8px;color:rgb(35,31,31);
}
#P561_135
{
left:19235.2px;bottom:30079.2px;color:rgb(35,31,31);
}
#P561_136
{
left:19821.6px;bottom:30108.8px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P561_137
{
left:27615.5px;bottom:30079.2px;color:rgb(35,31,31);
}
#P561_138
{
left:28201.9px;bottom:30108.8px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P561_139
{
left:28684.2px;bottom:30548.5px;color:rgb(35,31,31);
}
#P561_140
{
left:29020px;bottom:30126.4px;color:rgb(35,31,31);
}
#P561_141
{
left:28663.1px;bottom:30092.8px;color:rgb(35,31,31);
}
#P561_142
{
left:29041.1px;bottom:30110px;color:rgb(35,31,31);
}
#P561_143
{
left:28684.2px;bottom:29640.9px;color:rgb(35,31,31);
}
#P561_144
{
left:29020px;bottom:30126.4px;color:rgb(35,31,31);
}
#P561_145
{
left:29041.1px;bottom:30108.8px;color:rgb(35,31,31);
}
#P561_146
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P561_147
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P561_148
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P561_149
{
left:31065px;bottom:30548.5px;color:rgb(35,31,31);
}
#P561_150
{
left:31400.9px;bottom:30126.4px;color:rgb(35,31,31);
}
#P561_151
{
left:31043.9px;bottom:30092.8px;color:rgb(35,31,31);
}
#P561_152
{
left:31422px;bottom:30110px;color:rgb(35,31,31);
}
#P561_153
{
left:31065px;bottom:29640.9px;color:rgb(35,31,31);
}
#P561_154
{
left:31400.9px;bottom:30126.4px;color:rgb(35,31,31);
}
#P561_155
{
left:31422px;bottom:30108.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P561_156
{
left:0px;letter-spacing:0px;margin-left:158.4px;
}
#P561_157
{
left:7640.22px;bottom:43297.6px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P561_158
{
left:14508.5px;bottom:43322.2px;color:white;
}
#P561_159
{
left:14924.1px;bottom:43514px;color:white;
}
#P561_160
{
left:15164.2px;bottom:43322.2px;color:white;
}
#P561_161
{
left:16140.6px;bottom:43514px;color:white;
}
#P561_162
{
left:16380.8px;bottom:43322.2px;color:white;
}
#P561_163
{
left:18158px;bottom:43514px;color:white;
}
#P561_164
{
left:18398.2px;bottom:43322.2px;letter-spacing:-0.2px;color:white;
}
#P561_165
{
left:34364.2px;bottom:43514px;color:white;
}
#P561_166
{
left:34604.4px;bottom:43322.2px;color:white;
}
#P561_167
{
left:12664.2px;bottom:43155.1px;
}
#P561_168
{
left:12664.2px;bottom:43155.1px;color:white;
}
#P561_169
{
left:13724.5px;bottom:25388.8px;letter-spacing:-1.1px;color:rgb(35,31,31);
}
#P561_170
{
left:0px;letter-spacing:-14px;margin-left:-55.1px;
}
#P561_171
{
left:0px;letter-spacing:-0.6px;margin-left:14px;
}
#P561_172
{
left:0px;letter-spacing:-1.7px;margin-left:0.6px;
}
#P561_173
{
left:0px;letter-spacing:0px;margin-left:1.7px;
}
#P561_174
{
left:13724.5px;bottom:24492.8px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P561_175
{
left:0px;letter-spacing:2.6px;margin-left:-9.8px;
}
#P561_176
{
left:0px;letter-spacing:-45.6px;margin-left:-30.7px;
}
#P561_177
{
left:0px;letter-spacing:-1.7px;margin-left:24.6px;
}
#P561_178
{
left:0px;letter-spacing:0px;margin-left:1.7px;
}
#P561_179
{
left:0px;letter-spacing:-14px;margin-left:-56.2px;
}
#P561_180
{
left:0px;letter-spacing:0px;margin-left:14px;
}
#P561_181
{
left:13724.5px;bottom:23596.8px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P561_182
{
left:0px;letter-spacing:-0.3px;margin-left:-9.4px;
}
#P561_183
{
left:0px;letter-spacing:-3.7px;margin-left:-27.6px;
}
#P561_184
{
left:0px;letter-spacing:0px;margin-left:3.7px;
}
#P561_185
{
left:13724.5px;bottom:22700.8px;letter-spacing:0.6px;color:rgb(35,31,31);
}
#P561_186
{
left:13724.5px;bottom:21356.8px;letter-spacing:-2.8px;color:rgb(35,31,31);
}
#P561_187
{
left:0px;letter-spacing:0px;margin-left:-11.1px;
}
#P561_188
{
left:16238.7px;bottom:21356.8px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P561_189
{
left:21237.8px;bottom:21356.8px;color:rgb(35,31,31);
}
#P561_190
{
left:21665.2px;bottom:21356.8px;color:rgb(35,31,31);
}
#P561_191
{
left:13724.5px;bottom:20012.8px;color:rgb(35,31,31);
}
#P561_192
{
left:15260.5px;bottom:20012.8px;color:rgb(35,31,31);
}
#P561_193
{
left:15687.8px;bottom:20012.8px;color:rgb(35,31,31);
}
#P561_194
{
left:15846.2px;bottom:19983.3px;color:rgb(35,31,31);
}
#P561_195
{
left:16432.7px;bottom:20012.8px;color:rgb(35,31,31);
}
#P561_196
{
left:17682.3px;bottom:19983.3px;color:rgb(35,31,31);
}
#P561_197
{
left:18268.7px;bottom:20012.8px;color:rgb(35,31,31);
}
#P561_198
{
left:18673.5px;bottom:19983.3px;color:rgb(35,31,31);
}
#P561_199
{
left:19259.9px;bottom:20012.8px;color:rgb(35,31,31);
}
#P561_200
{
left:24220.5px;bottom:20020.8px;color:rgb(0,124,196);
}
#P561_201
{
left:13724.5px;bottom:18732.8px;letter-spacing:1761.6px;color:rgb(35,31,31);
}
#P561_202
{
left:15802.9px;bottom:18703.2px;color:rgb(35,31,31);
}
#P561_203
{
left:16389.3px;bottom:18732.8px;color:rgb(35,31,31);
}
#P561_204
{
left:17638.9px;bottom:18703.2px;color:rgb(35,31,31);
}
#P561_205
{
left:18225.4px;bottom:18732.8px;color:rgb(35,31,31);
}
#P561_206
{
left:24220.5px;bottom:18740.8px;color:rgb(0,124,196);
}
#P561_207
{
left:29419px;bottom:18712.6px;color:rgb(0,124,196);
}
#P561_208
{
left:29978.7px;bottom:18740.8px;color:rgb(0,124,196);
}
#P561_209
{
left:13724.5px;bottom:17452.8px;color:rgb(35,31,31);
}
#P561_210
{
left:0px;letter-spacing:0px;margin-left:1603.2px;
}
#P561_211
{
left:15802.9px;bottom:17423.2px;color:rgb(35,31,31);
}
#P561_212
{
left:16389.3px;bottom:17452.8px;color:rgb(35,31,31);
}
#P561_213
{
left:24220.5px;bottom:17460.8px;color:rgb(0,124,196);
}
#P561_214
{
left:13724.5px;bottom:15788.8px;letter-spacing:-2.8px;color:rgb(35,31,31);
}
#P561_215
{
left:15900.6px;bottom:15788.8px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P561_216
{
left:0px;letter-spacing:0px;margin-left:-200.5px;
}
#P561_217
{
left:21251.8px;bottom:15788.8px;color:rgb(35,31,31);
}
#P561_218
{
left:21491.9px;bottom:15788.8px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P561_219
{
left:0px;letter-spacing:0px;margin-left:-41.7px;
}
#P561_220
{
left:13724.5px;bottom:14508.8px;color:rgb(35,31,31);
}
#P561_221
{
left:15260.5px;bottom:14508.8px;color:rgb(35,31,31);
}
#P561_222
{
left:15500.6px;bottom:14508.8px;color:rgb(35,31,31);
}
#P561_223
{
left:15659px;bottom:14479.2px;color:rgb(35,31,31);
}
#P561_224
{
left:16245.4px;bottom:14508.8px;color:rgb(35,31,31);
}
#P561_225
{
left:17868.1px;bottom:14479.2px;color:rgb(35,31,31);
}
#P561_226
{
left:18454.6px;bottom:14508.8px;color:rgb(35,31,31);
}
#P561_227
{
left:24220.5px;bottom:14516.8px;color:rgb(0,124,196);
}
#P561_228
{
left:13724.5px;bottom:13228.8px;color:rgb(35,31,31);
}
#P561_229
{
left:0px;letter-spacing:0px;margin-left:1475.2px;
}
#P561_230
{
left:15674.9px;bottom:13199.2px;color:rgb(35,31,31);
}
#P561_231
{
left:16261.3px;bottom:13228.8px;color:rgb(35,31,31);
}
#P561_232
{
left:24220.5px;bottom:13236.8px;color:rgb(0,124,196);
}
#P561_233
{
left: 14968.5px;bottom:11564.8px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P561_234
{
left:0px;letter-spacing:0px;margin-left:-704px;
}
#P561_235
{
left:0px;letter-spacing:-0.6px;margin-left:-4.2px;
}
#P561_236
{
left:0px;letter-spacing:-0.2px;margin-left:0.6px;
}
#P561_237
{
left:15012.5px;bottom:10668.8px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P561_238
{
left:13724.5px;bottom:7404.78px;color:rgb(35,31,31);
}
#P561_239
{
left:14188.1px;bottom:7431.6px;word-spacing:453.2px;color:rgb(35,31,31);
}
#P561_240
{
left:15388.5px;bottom:7404.78px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P561_241
{
left:23927.4px;bottom:7375.21px;color:rgb(35,31,31);
}
#P561_242
{
left:24513.9px;bottom:7404.78px;color:rgb(35,31,31);
}
#P561_243
{
left:26988.4px;bottom:7375.21px;color:rgb(35,31,31);
}
#P561_244
{
left:27574.8px;bottom:7404.78px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P561_245
{
left:13724.5px;bottom:6124.78px;color:rgb(35,31,31);
}
#P561_246
{
left:14188.1px;bottom:6151.6px;word-spacing:453.2px;color:rgb(35,31,31);
}
#P561_247
{
left:15388.5px;bottom:6144.49px;letter-spacing:-12.9px;color:rgb(2,77,161);
}
#P561_248
{
left:0px;letter-spacing:0px;margin-left:12.9px;
}
#P561_249
{
left:18257.3px;bottom:6124.78px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P561_250
{
left:0px;letter-spacing:-0.2px;margin-left:-206.1px;
}
#P561_251
{
left:0px;letter-spacing:0px;margin-left:-6.6px;
}
#P561_252
{
left:15388.5px;bottom:5228.78px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P561_253
{
left:7640.22px;bottom:26993.6px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P561_254
{
left:14508.5px;bottom:27018.2px;color:white;
}
#P561_255
{
left:16892.2px;bottom:27210px;color:white;
}
#P561_256
{
left:17132.4px;bottom:27018.2px;word-spacing:-31.9px;color:white;
}
#P561_257
{
left:19900.8px;bottom:27210px;color:white;
}
#P561_258
{
left:20141px;bottom:27018.2px;color:white;
}
#P561_259
{
left:21324.7px;bottom:27210px;color:white;
}
#P561_260
{
left:21564.9px;bottom:27018.2px;color:white;
}
#P561_261
{
left:12664.2px;bottom:26851.1px;
}
#P561_262
{
left:12664.2px;bottom:26851.1px;color:white;
}
#P561_263
{
left:7852.51px;bottom:6444.78px;color:rgb(35,31,31);
}
#P561_264
{
left:6197.34px;bottom:20084.3px;color:rgb(35,31,31);
}
#P561_265
{
left:12349.4px;bottom:46716.8px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P561_266
{
left:12349.4px;bottom:45820.8px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P561_267
{
left:0px;letter-spacing:-0.8px;margin-left:1px;
}
#P561_268
{
left:7703.64px;bottom:33399.7px;color:rgb(33,31,31);
}
#P561_269
{
left:8130.14px;bottom:33513.3px;color:rgb(35,31,31);
}
#P561_270
{
left:7703.64px;bottom:32317.8px;color:rgb(33,31,31);
}
#P561_271
{
left:8130.14px;bottom:32431.5px;color:rgb(35,31,31);
}
#P561_272
{
left:7703.64px;bottom:34481.5px;color:rgb(33,31,31);
}
#P561_273
{
left:8130.14px;bottom:34595.2px;color:rgb(35,31,31);
}
#P561_274
{
left:7703.64px;bottom:35563.4px;color:rgb(33,31,31);
}
#P561_275
{
left:8130.14px;bottom:35677px;color:rgb(35,31,31);
}
#P561_276
{
left:8130.14px;bottom:36775.8px;color:rgb(35,31,31);
}
#P561_277
{
left:8130.14px;bottom:37863.8px;color:rgb(35,31,31);
}
#P561_278
{
left:8130.14px;bottom:38951.8px;color:rgb(35,31,31);
}
#P561_279
{
left:8130.14px;bottom:40039.8px;color:rgb(35,31,31);
}
#P561_280
{
left:8130.14px;bottom:41127.8px;color:rgb(35,31,31);
}
#P561_281
{
left:9777.37px;bottom:39638.7px;color:rgb(0,124,196);
}
#P561_282
{
left:9777.37px;bottom:38985.9px;color:rgb(0,124,196);
}
#P561_283
{
left:9378.91px;bottom:39306.6px;color:rgb(0,124,196);
}
#P561_284
{
left:10174px;bottom:34200.9px;color:rgb(0,124,196);
}
#P561_285
{
left:10174px;bottom:33548.1px;color:rgb(0,124,196);
}
#P561_286
{
left:9295.64px;bottom:33741px;color:rgb(0,124,196);
}
#P561_287
{
left:9775.45px;bottom:33868.8px;color:rgb(0,124,196);
}
#PageContainer561
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg561.jpg");background-repeat:no-repeat;background-size: 879px 1095px; background-position: 126.96px 149.8px;
}
#ImageContainer561 {bottom:119.20px;left:126.96px;width:878.78px;height:1095.02px;position:absolute;} #TextContainer561 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.example3{position: absolute;top: 155px;left: 164px;}
.example4{position: absolute;top: 599px;left: 165px;}
.nyr{position: absolute;top: 1145px;left: 178px;}
.nyr_exr{position: absolute;top: 1183px;left: 202px;color:rgb(35,31,31);font-size:16px}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}