.tr508{ color:transparent;}
#P508_1
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P508_2
{
left:3540.44px;bottom:1410.03px;color:rgb(35,31,31);
}
#P508_3
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P508_4
{
left:8197.72px;bottom:1410.03px;letter-spacing:462.1px;color:rgb(35,31,31);
}
#P508_5
{
left:0px;letter-spacing:4.9px;margin-left:-459.2px;
}
#P508_6
{
left:6977.56px;bottom:46189.1px;color:white;
}
#P508_7
{
left:9391.39px;bottom:46487.5px;color:white;
}
#P508_8
{
left:9765.02px;bottom:46189.1px;letter-spacing:-1.3px;color:white;
}
#P508_9
{
left:3459.78px;bottom:46161.9px;color:white;
}
#P508_10
{
left:18900.5px;bottom:41438.6px;letter-spacing:213.2px;color:rgb(35,31,31);
}
#P508_11
{
left:0px;letter-spacing:0px;margin-left:-213.2px;
}
#P508_12
{
left:28033.3px;bottom:41438.6px;color:rgb(35,31,31);
}
#P508_13
{
left:30576.1px;bottom:41438.6px;color:rgb(35,31,31);
}
#P508_14
{
left:30967.5px;bottom:41438.6px;color:rgb(35,31,31);
}
#P508_15
{
left:33823.6px;bottom:41438.6px;color:rgb(35,31,31);
}
#P508_16
{
left:7789.4px;bottom:40350.5px;color:rgb(35,31,31);
}
#P508_17
{
left:8689.11px;bottom:40350.5px;color:rgb(35,31,31);
}
#P508_18
{
left:10136.5px;bottom:40350.5px;color:rgb(35,31,31);
}
#P508_19
{
left:9251.48px;bottom:36058.2px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P508_20
{
left:0px;letter-spacing:0.4px;margin-left:14.1px;
}
#P508_21
{
left:0px;letter-spacing:-14px;margin-left:-42.5px;
}
#P508_22
{
left:0px;letter-spacing:0px;margin-left:-17.6px;
}
#P508_23
{
left:0px;letter-spacing:0px;
}
#P508_24
{
left:24243.4px;bottom:36058.2px;word-spacing:77.1px;color:rgb(35,31,31);
}
#P508_25
{
left:25266.3px;bottom:36028.6px;color:rgb(35,31,31);
}
#P508_26
{
left:25852.7px;bottom:36058.2px;color:rgb(35,31,31);
}
#P508_27
{
left:26394.8px;bottom:36028.6px;color:rgb(35,31,31);
}
#P508_28
{
left:26981.1px;bottom:36058.2px;color:rgb(35,31,31);
}
#P508_29
{
left:27385.9px;bottom:36028.6px;color:rgb(35,31,31);
}
#P508_30
{
left:27972.4px;bottom:36058.2px;color:rgb(35,31,31);
}
#P508_31
{
left:12704.4px;bottom:31289.5px;color:white;
}
#P508_32
{
left:12704.4px;bottom:30201.5px;color:white;
}
#P508_33
{
left:13792.4px;bottom:31289.5px;color:white;
}
#P508_34
{
left:13792.4px;bottom:30201.5px;color:white;
}
#P508_35
{
left:20933.8px;bottom:31289.5px;color:white;
}
#P508_36
{
left:20933.8px;bottom:30201.5px;color:white;
}
#P508_37
{
left:22021.8px;bottom:31289.5px;color:white;
}
#P508_38
{
left:13088.5px;bottom:28694.4px;color:rgb(35,31,31);
}
#P508_39
{
left:13674.9px;bottom:28683.2px;color:rgb(35,31,31);
}
#P508_40
{
left:21317.5px;bottom:28694.4px;color:rgb(35,31,31);
}
#P508_41
{
left:21904px;bottom:28683.2px;color:rgb(35,31,31);
}
#P508_42
{
left:17389.9px;bottom:28694.4px;color:rgb(35,31,31);
}
#P508_43
{
left:23951.2px;bottom:28694.4px;color:rgb(35,31,31);
}
#P508_44
{
left:25421.5px;bottom:34294.4px;color:rgb(0,124,196);
}
#P508_45
{
left:25421.5px;bottom:33488px;color:rgb(0,124,196);
}
#P508_46
{
left:13275px;bottom:34294.4px;color:rgb(0,124,196);
}
#P508_47
{
left:13275px;bottom:33488px;letter-spacing:-1.1px;color:rgb(0,124,196);
}
#P508_48
{
left:10536.7px;bottom:27162.2px;letter-spacing:-11.2px;word-spacing:554px;color:rgb(35,31,31);
}
#P508_49
{
left:11635.1px;bottom:27132.7px;color:rgb(35,31,31);
}
#P508_50
{
left:12221.5px;bottom:27162.2px;color:rgb(35,31,31);
}
#P508_51
{
left:12753px;bottom:27132.7px;color:rgb(35,31,31);
}
#P508_52
{
left:13339.4px;bottom:27162.2px;color:rgb(35,31,31);
}
#P508_53
{
left:13744.2px;bottom:27132.7px;color:rgb(35,31,31);
}
#P508_54
{
left:14330.6px;bottom:27162.2px;color:rgb(35,31,31);
}
#P508_55
{
left:15108.6px;bottom:27132.7px;color:rgb(35,31,31);
}
#P508_56
{
left:15695px;bottom:27162.2px;color:rgb(35,31,31);
}
#P508_57
{
left:17197.4px;bottom:27034.2px;color:rgb(35,31,31);
}
#P508_58
{
left:17285.4px;bottom:27162.2px;color:rgb(35,31,31);
}
#P508_59
{
left:10129.7px;bottom:37781px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P508_60
{
left:13554.8px;bottom:37972.8px;color:rgb(255,223,126);
}
#P508_61
{
left:14147.7px;bottom:37781px;word-spacing:175.5px;color:white;
}
#P508_62
{
left:15699.4px;bottom:37972.8px;color:white;
}
#P508_63
{
left:15939.5px;bottom:37781px;letter-spacing:-0.7px;color:white;
}
#P508_64
{
left:21244.7px;bottom:37972.8px;color:white;
}
#P508_65
{
left:21484.9px;bottom:37781px;color:white;
}
#P508_66
{
left:26832.2px;bottom:37972.8px;color:white;
}
#P508_67
{
left:27072.4px;bottom:37781px;color:white;
}
#P508_68
{
left:8389.27px;bottom:37657.5px;
}
#P508_69
{
left:8389.27px;bottom:37657.5px;color:white;
}
#P508_70
{
left:9251.48px;bottom:22938.2px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P508_71
{
left:0px;letter-spacing:0.4px;margin-left:14.1px;
}
#P508_72
{
left:0px;letter-spacing:-14px;margin-left:-42.5px;
}
#P508_73
{
left:0px;letter-spacing:0px;margin-left:-17.6px;
}
#P508_74
{
left:0px;letter-spacing:0px;
}
#P508_75
{
left:24243.4px;bottom:22938.2px;word-spacing:77.1px;color:rgb(35,31,31);
}
#P508_76
{
left:25266.3px;bottom:22908.7px;color:rgb(35,31,31);
}
#P508_77
{
left:25852.7px;bottom:22938.2px;color:rgb(35,31,31);
}
#P508_78
{
left:26394.8px;bottom:22908.7px;color:rgb(35,31,31);
}
#P508_79
{
left:26981.1px;bottom:22938.2px;color:rgb(35,31,31);
}
#P508_80
{
left:9883.67px;bottom:17932.1px;color:white;
}
#P508_81
{
left:9883.67px;bottom:16844.1px;color:white;
}
#P508_82
{
left:10971.7px;bottom:17932.1px;color:white;
}
#P508_83
{
left:16869.1px;bottom:17932.1px;color:rgb(35,31,31);
}
#P508_84
{
left:16869.1px;bottom:16844.1px;color:rgb(35,31,31);
}
#P508_85
{
left:21348.2px;bottom:17952.9px;letter-spacing:592.3px;color:white;
}
#P508_86
{
left:22564.2px;bottom:16864.9px;letter-spacing:608.3px;color:rgb(35,31,31);
}
#P508_87
{
left:10267.7px;bottom:15209.1px;color:rgb(35,31,31);
}
#P508_88
{
left:10854.2px;bottom:15197.9px;letter-spacing:5774.9px;color:rgb(35,31,31);
}
#P508_89
{
left:21863.3px;bottom:15209.1px;color:rgb(35,31,31);
}
#P508_90
{
left:22449.8px;bottom:15197.9px;color:rgb(35,31,31);
}
#P508_91
{
left:22981.3px;bottom:15209.1px;color:rgb(35,31,31);
}
#P508_92
{
left:23567.7px;bottom:15197.9px;color:rgb(35,31,31);
}
#P508_93
{
left:13973.6px;bottom:15209.1px;color:rgb(35,31,31);
}
#P508_94
{
left:19107.2px;bottom:15209.1px;color:rgb(35,31,31);
}
#P508_95
{
left:26790.6px;bottom:15209.1px;color:rgb(35,31,31);
}
#P508_96
{
left:19916.6px;bottom:20977.1px;
}
#P508_97
{
left:19916.6px;bottom:20170.7px;letter-spacing:-2.5px;color:rgb(0,124,196);
}
#P508_98
{
left:28534.3px;bottom:21001.3px;color:rgb(0,124,196);
}
#P508_99
{
left:28534.3px;bottom:20194.9px;color:rgb(0,124,196);
}
#P508_100
{
left:9784.86px;bottom:21001.3px;color:rgb(0,124,196);
}
#P508_101
{
left:9784.86px;bottom:20194.9px;letter-spacing:-1.1px;color:rgb(0,124,196);
}
#P508_102
{
left:10536.7px;bottom:13850.2px;letter-spacing:-11.2px;word-spacing:554px;color:rgb(35,31,31);
}
#P508_103
{
left:11635.1px;bottom:13820.7px;color:rgb(35,31,31);
}
#P508_104
{
left:12221.5px;bottom:13850.2px;color:rgb(35,31,31);
}
#P508_105
{
left:12753px;bottom:13820.7px;color:rgb(35,31,31);
}
#P508_106
{
left:13339.4px;bottom:13850.2px;color:rgb(35,31,31);
}
#P508_107
{
left:14029.3px;bottom:13820.7px;color:rgb(35,31,31);
}
#P508_108
{
left:14615.8px;bottom:13850.2px;color:rgb(35,31,31);
}
#P508_109
{
left:16118.2px;bottom:13722.2px;color:rgb(35,31,31);
}
#P508_110
{
left:16206.2px;bottom:13850.2px;color:rgb(35,31,31);
}
#P508_111
{
left:10129.7px;bottom:24661px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P508_112
{
left:13554.8px;bottom:24852.8px;color:rgb(255,223,126);
}
#P508_113
{
left:14147.7px;bottom:24661px;word-spacing:175.5px;color:white;
}
#P508_114
{
left:15699.4px;bottom:24852.8px;color:white;
}
#P508_115
{
left:15939.5px;bottom:24661px;letter-spacing:-0.7px;color:white;
}
#P508_116
{
left:21244.7px;bottom:24852.8px;color:white;
}
#P508_117
{
left:21484.9px;bottom:24661px;color:white;
}
#P508_118
{
left:23102.3px;bottom:24852.8px;color:white;
}
#P508_119
{
left:23342.5px;bottom:24661px;letter-spacing:-1.9px;color:white;
}
#P508_120
{
left:26735.6px;bottom:24852.8px;color:white;
}
#P508_121
{
left:26975.8px;bottom:24661px;color:white;
}
#P508_122
{
left:8389.27px;bottom:24537.5px;
}
#P508_123
{
left:8389.27px;bottom:24537.5px;color:white;
}
#P508_124
{
left:9187.48px;bottom:9547.56px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P508_125
{
left:0px;letter-spacing:0.4px;margin-left:14.1px;
}
#P508_126
{
left:0px;letter-spacing:-14px;margin-left:-42.5px;
}
#P508_127
{
left:0px;letter-spacing:0px;margin-left:-17.6px;
}
#P508_128
{
left:0px;letter-spacing:0px;
}
#P508_129
{
left:23376.2px;bottom:9547.56px;word-spacing:77.1px;color:rgb(35,31,31);
}
#P508_130
{
left:0px;letter-spacing:0px;margin-left:-77.1px;
}
#P508_131
{
left:24941.1px;bottom:9518px;color:rgb(35,31,31);
}
#P508_132
{
left:25527.6px;bottom:9547.56px;color:rgb(35,31,31);
}
#P508_133
{
left:25932.4px;bottom:9518px;color:rgb(35,31,31);
}
#P508_134
{
left:26518.8px;bottom:9547.56px;color:rgb(35,31,31);
}
#P508_135
{
left:20239.8px;bottom:4775.72px;letter-spacing:1251.8px;color:rgb(35,31,31);
}
#P508_136
{
left:22144.6px;bottom:6673.32px;color:rgb(0,124,196);
}
#P508_137
{
left:21952.8px;bottom:7953.2px;color:rgb(237,28,35);
}
#P508_138
{
left:23232.6px;bottom:7825.32px;color:rgb(237,28,35);
}
#P508_139
{
left:23712.4px;bottom:7953.2px;color:rgb(237,28,35);
}
#P508_140
{
left:18292.5px;bottom:4662.06px;color:rgb(35,31,31);
}
#P508_141
{
left:18719px;bottom:4775.72px;color:rgb(35,31,31);
}
#P508_142
{
left:16756.5px;bottom:4662.06px;color:rgb(35,31,31);
}
#P508_143
{
left:17183px;bottom:4775.72px;color:rgb(35,31,31);
}
#P508_144
{
left:15220.5px;bottom:4662.06px;color:rgb(35,31,31);
}
#P508_145
{
left:15647px;bottom:4775.72px;color:rgb(35,31,31);
}
#P508_146
{
left:13684.5px;bottom:4662.06px;color:rgb(35,31,31);
}
#P508_147
{
left:14111px;bottom:4775.72px;letter-spacing:8917.5px;color:rgb(35,31,31);
}
#P508_148
{
left:0px;letter-spacing:1251.8px;margin-left:-7665.7px;
}
#P508_149
{
left:14780.1px;bottom:7810.41px;letter-spacing:-2.3px;color:rgb(0,124,196);
}
#P508_150
{
left:0px;letter-spacing:0px;margin-left:2.3px;
}
#P508_151
{
left:14780.1px;bottom:7004.01px;color:rgb(0,124,196);
}
#P508_152
{
left:25734.5px;bottom:7760.68px;letter-spacing:-8.3px;color:rgb(237,28,35);
}
#P508_153
{
left:0px;letter-spacing:0px;margin-left:8.3px;
}
#P508_154
{
left:25734.5px;bottom:6954.28px;color:rgb(237,28,35);
}
#P508_155
{
left:10475.5px;bottom:3211.56px;word-spacing:545.6px;color:rgb(35,31,31);
}
#P508_156
{
left:0px;letter-spacing:0px;margin-left:-8.4px;
}
#P508_157
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P508_158
{
left:0px;letter-spacing:0px;margin-left:-545.6px;
}
#P508_159
{
left:12102.6px;bottom:3182px;color:rgb(35,31,31);
}
#P508_160
{
left:12689px;bottom:3211.56px;color:rgb(35,31,31);
}
#P508_161
{
left:13093.8px;bottom:3182px;color:rgb(35,31,31);
}
#P508_162
{
left:13680.2px;bottom:3211.56px;color:rgb(35,31,31);
}
#P508_163
{
left:14458.1px;bottom:3182px;color:rgb(35,31,31);
}
#P508_164
{
left:15044.6px;bottom:3211.56px;color:rgb(35,31,31);
}
#P508_165
{
left:16547px;bottom:3083.56px;color:rgb(35,31,31);
}
#P508_166
{
left:16635px;bottom:3211.55px;color:rgb(35,31,31);
}
#P508_167
{
left:10065.7px;bottom:11270.4px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P508_168
{
left:13490.8px;bottom:11462.2px;color:rgb(255,223,126);
}
#P508_169
{
left:14083.7px;bottom:11270.4px;word-spacing:175.5px;color:white;
}
#P508_170
{
left:15635.4px;bottom:11462.2px;color:white;
}
#P508_171
{
left:15875.5px;bottom:11270.4px;letter-spacing:-0.7px;color:white;
}
#P508_172
{
left:21180.7px;bottom:11462.2px;color:white;
}
#P508_173
{
left:21420.9px;bottom:11270.4px;color:white;
}
#P508_174
{
left:23038.3px;bottom:11462.2px;color:white;
}
#P508_175
{
left:23278.5px;bottom:11270.4px;letter-spacing:-1.9px;color:white;
}
#P508_176
{
left:26671.6px;bottom:11462.2px;color:white;
}
#P508_177
{
left:26911.8px;bottom:11270.4px;color:white;
}
#P508_178
{
left:8325.27px;bottom:11146.9px;
}
#P508_179
{
left:8325.27px;bottom:11146.9px;color:white;
}
#P508_180
{
left:4301.34px;bottom:13360.5px;color:rgb(35,31,31);
}
#P508_181
{
left:4674.39px;bottom:13388.9px;letter-spacing:-10.2px;color:rgb(35,31,31);
}
#P508_182
{
left:6691.93px;bottom:13360.5px;color:rgb(35,31,31);
}
#P508_183
{
left:4301.34px;bottom:12656.5px;letter-spacing:-14.1px;color:rgb(35,31,31);
}
#P508_184
{
left:5012.31px;bottom:12684.9px;letter-spacing:-10.4px;color:rgb(35,31,31);
}
#P508_185
{
left:2365.37px;bottom:11788px;letter-spacing:3px;color:rgb(35,31,31);
}
#P508_186
{
left:2365.37px;bottom:11004.8px;letter-spacing:-3.3px;word-spacing:-0.7px;color:rgb(35,31,31);
}
#P508_187
{
left:0px;letter-spacing:-0.3px;margin-left:2.4px;
}
#P508_188
{
left:0px;letter-spacing:-3.1px;margin-left:-4.5px;
}
#P508_189
{
left:2365.37px;bottom:10383px;color:rgb(35,31,31);
}
#P508_190
{
left:2615.28px;bottom:10164.8px;color:rgb(35,31,31);
}
#P508_191
{
left:2959.84px;bottom:10204.8px;letter-spacing:-0.6px;word-spacing:-130.4px;color:rgb(35,31,31);
}
#P508_192
{
left:0px;letter-spacing:0px;margin-left:125.5px;
}
#P508_193
{
left:0px;letter-spacing:1.9px;margin-left:-0.2px;
}
#P508_194
{
left:2365.37px;bottom:9711.02px;color:rgb(35,31,31);
}
#P508_195
{
left:2615.28px;bottom:9492.78px;letter-spacing:186.6px;color:rgb(35,31,31);
}
#P508_196
{
left:2960.24px;bottom:9532.78px;letter-spacing:-2.7px;word-spacing:-1px;color:rgb(35,31,31);
}
#P508_197
{
left:0px;letter-spacing:-3.6px;margin-left:2.8px;
}
#P508_198
{
left:2960.24px;bottom:8892.78px;letter-spacing:-1.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P508_199
{
left:0px;letter-spacing:-0.9px;margin-left:-4.1px;
}
#P508_200
{
left:0px;letter-spacing:-0.1px;margin-left:3.6px;
}
#P508_201
{
left:2960.24px;bottom:8252.72px;letter-spacing:-3px;word-spacing:-2.4px;color:rgb(35,31,31);
}
#P508_202
{
left:2365.37px;bottom:7759.02px;color:rgb(35,31,31);
}
#P508_203
{
left:2615.28px;bottom:7540.78px;letter-spacing:186.6px;color:rgb(35,31,31);
}
#P508_204
{
left:2960.24px;bottom:7580.78px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P508_205
{
left:0px;letter-spacing:-2.7px;margin-left:5.3px;
}
#P508_206
{
left:0px;letter-spacing:0.6px;margin-left:3.2px;
}
#P508_207
{
left:2365.38px;bottom:6812.78px;letter-spacing:-1.5px;word-spacing:-5.3px;color:rgb(35,31,31);
}
#P508_208
{
left:0px;letter-spacing:-0.1px;margin-left:8.7px;
}
#P508_209
{
left:2365.38px;bottom:6172.72px;letter-spacing:-18.4px;color:rgb(35,31,31);
}
#P508_210
{
left:0px;letter-spacing:-13.4px;margin-left:21px;
}
#P508_211
{
left:0px;letter-spacing:0px;margin-left:-16.9px;
}
#P508_212
{
left:2365.38px;bottom:5532.65px;letter-spacing:-18.4px;color:rgb(35,31,31);
}
#P508_213
{
left:0px;letter-spacing:-13.4px;margin-left:21px;
}
#P508_214
{
left:0px;letter-spacing:0px;margin-left:-12.6px;
}
#P508_215
{
left:2365.38px;bottom:4892.65px;letter-spacing:-18.4px;color:rgb(35,31,31);
}
#P508_216
{
left:0px;letter-spacing:-13.4px;margin-left:21px;
}
#P508_217
{
left:0px;letter-spacing:0px;margin-left:-12.9px;
}
#P508_218
{
left:2365.38px;bottom:4252.65px;letter-spacing:-18.4px;color:rgb(35,31,31);
}
#P508_219
{
left:0px;letter-spacing:5.5px;margin-left:21px;
}
.geo{position: absolute;top: 430px;left: 145px;}
.geo1{position: absolute;top: 660px;left: 145px;}
.geo2{position: absolute;top: 1100px;left: 221px;}
#PageContainer508
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg508.jpg");background-repeat:no-repeat;background-size: 1066px 1277px; background-position: 1px 0.1099999999999px;
}
#ImageContainer508 {bottom:86.89px;right:0.00px;width:1066.24px;height:1277.27px;position:absolute;} #TextContainer508 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

.rpj{position: absolute;top: 184px;left: 160px;}
.srpj{position: absolute;top: 184px;left: 107px;}
.math_paper_1{position: absolute;top: 308px;left: 57px;}
.math_paper_2{position: absolute;top: 307px;left: 112px;}
.math_paper_3{position: absolute;top: 307px;left: 164px;}
.math_paper_4{position: absolute;top: 369px;left: 165px;}
.math_tool{position: absolute;top: 366px;left: 104px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}