.tr138{ color:transparent;}
#P138_1
{
left:2365.4px;bottom:1525.23px;color:rgb(35,31,31);
}
#P138_2
{
left:3540.44px;bottom:1525.23px;color:rgb(35,31,31);
}
#P138_3
{
left:4925.4px;bottom:1525.23px;color:rgb(35,31,31);
}
#P138_4
{
left:7841.88px;bottom:1525.23px;letter-spacing:462.1px;color:rgb(35,31,31);
}
#P138_5
{
left:0px;letter-spacing:1.2px;margin-left:-457.8px;
}
#P138_6
{
left:0px;letter-spacing:4.1px;margin-left:9.5px;
}
#P138_7
{
left:0px;letter-spacing:2.1px;margin-left:-0.2px;
}
#P138_8
{
left:0px;letter-spacing:6.5px;margin-left:2.6px;
}
#P138_9
{
left:0px;letter-spacing:0px;margin-left:2.5px;
}
#P138_10
{
left:5889.56px;bottom:46957.1px;color:white;
}
#P138_11
{
left:2371.78px;bottom:46929.9px;color:white;
}
#P138_12
{
left:11596.6px;bottom:11440.6px;letter-spacing:-14.8px;color:rgb(35,31,31);
}
#P138_13
{
left:0px;letter-spacing:-0.4px;margin-left:14.8px;
}
#P138_14
{
left:10828.6px;bottom:10288.6px;color:rgb(35,31,31);
}
#P138_15
{
left:11556.6px;bottom:10288.6px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P138_16
{
left:12620.7px;bottom:10288.6px;color:rgb(35,31,31);
}
#P138_17
{
left:13033.9px;bottom:10288.6px;color:rgb(35,31,31);
}
#P138_18
{
left:13139.5px;bottom:9850.04px;color:rgb(35,31,31);
}
#P138_19
{
left:13491.3px;bottom:10288.6px;color:rgb(35,31,31);
}
#P138_20
{
left:13649.7px;bottom:10288.6px;color:rgb(35,31,31);
}
#P138_21
{
left:14062.9px;bottom:10288.6px;color:rgb(35,31,31);
}
#P138_22
{
left:14168.5px;bottom:9850.04px;color:rgb(35,31,31);
}
#P138_23
{
left:14520.3px;bottom:10288.6px;color:rgb(35,31,31);
}
#P138_24
{
left:14678.7px;bottom:10288.6px;color:rgb(35,31,31);
}
#P138_25
{
left:15091.9px;bottom:10288.6px;color:rgb(35,31,31);
}
#P138_26
{
left:15197.5px;bottom:9850.04px;color:rgb(35,31,31);
}
#P138_27
{
left:15549.3px;bottom:10288.6px;color:rgb(35,31,31);
}
#P138_28
{
left:15707.7px;bottom:10288.6px;color:rgb(35,31,31);
}
#P138_29
{
left:10828.6px;bottom:9008.62px;color:rgb(35,31,31);
}
#P138_30
{
left:12108.7px;bottom:9008.62px;color:rgb(35,31,31);
}
#P138_31
{
left:12620.7px;bottom:9008.62px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P138_32
{
left:15404.4px;bottom:9008.62px;color:rgb(35,31,31);
}
#P138_33
{
left:15817.6px;bottom:9008.62px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P138_34
{
left:10828.8px;bottom:7408.62px;color:rgb(35,31,31);
}
#P138_35
{
left:13905.8px;bottom:7536.62px;letter-spacing:-11.2px;word-spacing:554px;color:rgb(35,31,31);
}
#P138_36
{
left:15004.2px;bottom:7536.62px;color:rgb(35,31,31);
}
#P138_37
{
left:15417.5px;bottom:7536.62px;color:rgb(35,31,31);
}
#P138_38
{
left:15523.1px;bottom:7098.04px;color:rgb(35,31,31);
}
#P138_39
{
left:15874.8px;bottom:7536.62px;color:rgb(35,31,31);
}
#P138_40
{
left:16033.2px;bottom:7536.62px;color:rgb(35,31,31);
}
#P138_41
{
left:16446.5px;bottom:7536.62px;color:rgb(35,31,31);
}
#P138_42
{
left:16552.1px;bottom:7098.04px;color:rgb(35,31,31);
}
#P138_43
{
left:16903.8px;bottom:7536.62px;color:rgb(35,31,31);
}
#P138_44
{
left:17062.2px;bottom:7536.62px;color:rgb(35,31,31);
}
#P138_45
{
left:17475.5px;bottom:7536.62px;color:rgb(35,31,31);
}
#P138_46
{
left:17581.1px;bottom:7098.04px;color:rgb(35,31,31);
}
#P138_47
{
left:17932.9px;bottom:7536.62px;color:rgb(35,31,31);
}
#P138_48
{
left:18091.2px;bottom:7536.62px;color:rgb(35,31,31);
}
#P138_49
{
left:18504.5px;bottom:7536.62px;color:rgb(35,31,31);
}
#P138_50
{
left:18662.9px;bottom:7507.05px;color:rgb(35,31,31);
}
#P138_51
{
left:19249.3px;bottom:7536.62px;color:rgb(35,31,31);
}
#P138_52
{
left:19407.7px;bottom:7536.62px;color:rgb(35,31,31);
}
#P138_53
{
left:19906.6px;bottom:7880.35px;color:rgb(35,31,31);
}
#P138_54
{
left:20177.9px;bottom:7536.62px;color:rgb(35,31,31);
}
#P138_55
{
left:10828.6px;bottom:6064.62px;color:rgb(35,31,31);
}
#P138_56
{
left:11520.5px;bottom:6064.62px;letter-spacing:-17.5px;color:rgb(35,31,31);
}
#P138_57
{
left:12620.5px;bottom:6064.62px;color:rgb(35,31,31);
}
#P138_58
{
left:13659px;bottom:5626.04px;color:rgb(35,31,31);
}
#P138_59
{
left:14010.8px;bottom:6064.62px;color:rgb(35,31,31);
}
#P138_60
{
left:14169.2px;bottom:6064.62px;color:rgb(35,31,31);
}
#P138_61
{
left:14596.6px;bottom:6064.62px;color:rgb(35,31,31);
}
#P138_62
{
left:14702.2px;bottom:5626.04px;color:rgb(35,31,31);
}
#P138_63
{
left:15053.9px;bottom:6064.62px;color:rgb(35,31,31);
}
#P138_64
{
left:15212.3px;bottom:6064.62px;color:rgb(35,31,31);
}
#P138_65
{
left:15639.6px;bottom:6064.62px;color:rgb(35,31,31);
}
#P138_66
{
left:15745.2px;bottom:5626.04px;color:rgb(35,31,31);
}
#P138_67
{
left:16097px;bottom:6064.62px;color:rgb(35,31,31);
}
#P138_68
{
left:16255.4px;bottom:6064.62px;color:rgb(35,31,31);
}
#P138_69
{
left:10828.6px;bottom:4784.62px;color:rgb(35,31,31);
}
#P138_70
{
left:12108.6px;bottom:4784.62px;color:rgb(35,31,31);
}
#P138_71
{
left:12620.6px;bottom:4784.62px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P138_72
{
left:15245.9px;bottom:4784.62px;color:rgb(35,31,31);
}
#P138_73
{
left:15393.8px;bottom:4784.62px;color:rgb(35,31,31);
}
#P138_74
{
left:15821.1px;bottom:4784.62px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P138_75
{
left:10828.7px;bottom:3184.63px;color:rgb(35,31,31);
}
#P138_76
{
left:13908.6px;bottom:3312.62px;word-spacing:545.6px;color:rgb(35,31,31);
}
#P138_77
{
left:0px;letter-spacing:0px;margin-left:-8.4px;
}
#P138_78
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P138_79
{
left:0px;letter-spacing:0px;margin-left:-545.6px;
}
#P138_80
{
left:16042.6px;bottom:2874.04px;color:rgb(35,31,31);
}
#P138_81
{
left:16394.4px;bottom:3312.62px;color:rgb(35,31,31);
}
#P138_82
{
left:16552.8px;bottom:3312.62px;color:rgb(35,31,31);
}
#P138_83
{
left:16980.1px;bottom:3312.62px;color:rgb(35,31,31);
}
#P138_84
{
left:17085.7px;bottom:2874.04px;color:rgb(35,31,31);
}
#P138_85
{
left:17437.5px;bottom:3312.62px;color:rgb(35,31,31);
}
#P138_86
{
left:17595.9px;bottom:3312.62px;color:rgb(35,31,31);
}
#P138_87
{
left:18023.2px;bottom:3312.62px;color:rgb(35,31,31);
}
#P138_88
{
left:18128.8px;bottom:2874.04px;color:rgb(35,31,31);
}
#P138_89
{
left:18480.6px;bottom:3312.62px;color:rgb(35,31,31);
}
#P138_90
{
left:18639px;bottom:3312.62px;color:rgb(35,31,31);
}
#P138_91
{
left:19066.3px;bottom:3312.62px;color:rgb(35,31,31);
}
#P138_92
{
left:19224.7px;bottom:3283.05px;color:rgb(35,31,31);
}
#P138_93
{
left:19811.1px;bottom:3312.62px;color:rgb(35,31,31);
}
#P138_94
{
left:20902.3px;bottom:3312.62px;color:rgb(35,31,31);
}
#P138_95
{
left:21329.6px;bottom:3656.35px;color:rgb(35,31,31);
}
#P138_96
{
left:21600.9px;bottom:3312.62px;color:rgb(35,31,31);
}
#P138_97
{
left:11592.4px;bottom:28400.6px;letter-spacing:-3.5px;color:rgb(35,31,31);
}
#P138_98
{
left:0px;letter-spacing:-1.9px;margin-left:3.5px;
}
#P138_99
{
left:0px;letter-spacing:0px;margin-left:1.9px;
}
#P138_100
{
left:0px;letter-spacing:0px;margin-left:-225px;
}
#P138_101
{
left:0px;letter-spacing:0px;margin-left:77.1px;
}
#P138_102
{
left:0px;letter-spacing:-4.7px;
}
#P138_103
{
left:0px;letter-spacing:-0.4px;margin-left:4.7px;
}
#P138_104
{
left:0px;letter-spacing:0px;margin-left:-27.6px;
}
#P138_105
{
left:11543px;bottom:27120.6px;letter-spacing:-9.3px;word-spacing:580.1px;color:rgb(35,31,31);
}
#P138_106
{
left:12616.5px;bottom:27120.6px;color:rgb(35,31,31);
}
#P138_107
{
left:12989.6px;bottom:27120.6px;color:rgb(35,31,31);
}
#P138_108
{
left:13352.9px;bottom:27120.6px;color:rgb(35,31,31);
}
#P138_109
{
left:13511.3px;bottom:27091.1px;color:rgb(35,31,31);
}
#P138_110
{
left:14097.6px;bottom:27120.6px;color:rgb(35,31,31);
}
#P138_111
{
left:24124.3px;bottom:27120.6px;letter-spacing:-6.9px;word-spacing:8981.1px;color:rgb(35,31,31);
}
#P138_112
{
left:25372.3px;bottom:27120.6px;color:rgb(35,31,31);
}
#P138_113
{
left:25745.4px;bottom:27120.6px;color:rgb(35,31,31);
}
#P138_114
{
left:26074.8px;bottom:27464.3px;color:rgb(35,31,31);
}
#P138_115
{
left:26346.1px;bottom:27120.6px;color:rgb(35,31,31);
}
#P138_116
{
left:26504.5px;bottom:27091.1px;color:rgb(35,31,31);
}
#P138_117
{
left:27090.9px;bottom:27120.6px;color:rgb(35,31,31);
}
#P138_118
{
left:27249.3px;bottom:27120.6px;color:rgb(35,31,31);
}
#P138_119
{
left:27578.8px;bottom:27120.6px;color:rgb(35,31,31);
}
#P138_120
{
left:27737.1px;bottom:27091.1px;color:rgb(35,31,31);
}
#P138_121
{
left:28323.5px;bottom:27120.6px;color:rgb(35,31,31);
}
#P138_122
{
left:11592.4px;bottom:25840.6px;letter-spacing:5473.6px;color:rgb(35,31,31);
}
#P138_123
{
left:17597.5px;bottom:25840.6px;color:rgb(35,31,31);
}
#P138_124
{
left:17960.8px;bottom:25840.6px;color:rgb(35,31,31);
}
#P138_125
{
left:18119.2px;bottom:25811.1px;color:rgb(35,31,31);
}
#P138_126
{
left:18705.6px;bottom:25840.6px;color:rgb(35,31,31);
}
#P138_127
{
left:0px;letter-spacing:0px;margin-left:8783.8px;
}
#P138_128
{
left:28925.5px;bottom:25840.6px;color:rgb(35,31,31);
}
#P138_129
{
left:29255px;bottom:26184.3px;color:rgb(35,31,31);
}
#P138_130
{
left:29526.2px;bottom:25840.6px;color:rgb(35,31,31);
}
#P138_131
{
left:29684.6px;bottom:25811.1px;color:rgb(35,31,31);
}
#P138_132
{
left:30271.1px;bottom:25840.6px;color:rgb(35,31,31);
}
#P138_133
{
left:30429.5px;bottom:25840.6px;color:rgb(35,31,31);
}
#P138_134
{
left:30758.9px;bottom:25840.6px;color:rgb(35,31,31);
}
#P138_135
{
left:30917.3px;bottom:25811.1px;color:rgb(35,31,31);
}
#P138_136
{
left:31503.7px;bottom:25840.6px;color:rgb(35,31,31);
}
#P138_137
{
left:14575.3px;bottom:24176.6px;letter-spacing:-28.1px;word-spacing:3631.1px;color:rgb(35,31,31);
}
#P138_138
{
left:0px;letter-spacing:1.8px;margin-left:28.1px;
}
#P138_139
{
left:16845.5px;bottom:24176.6px;color:rgb(35,31,31);
}
#P138_140
{
left:17197.5px;bottom:24176.6px;color:rgb(235,26,35);
}
#P138_141
{
left:17570.6px;bottom:24176.6px;color:rgb(35,31,31);
}
#P138_142
{
left:17933.9px;bottom:24176.6px;color:rgb(35,31,31);
}
#P138_143
{
left:18888.4px;bottom:24176.6px;color:rgb(0,124,196);
}
#P138_144
{
left:19634.6px;bottom:24176.6px;color:rgb(35,31,31);
}
#P138_145
{
left:25995.3px;bottom:24176.6px;letter-spacing:-28.1px;color:rgb(35,31,31);
}
#P138_146
{
left:0px;letter-spacing:-4.7px;margin-left:33.6px;
}
#P138_147
{
left:28575.6px;bottom:24176.6px;color:rgb(235,26,35);
}
#P138_148
{
left:28948.7px;bottom:24176.6px;color:rgb(35,31,31);
}
#P138_149
{
left:29278.2px;bottom:24520.3px;color:rgb(35,31,31);
}
#P138_150
{
left:29549.4px;bottom:24176.6px;color:rgb(35,31,31);
}
#P138_151
{
left:30088.4px;bottom:24176.6px;color:rgb(235,26,35);
}
#P138_152
{
left:30461.5px;bottom:24176.6px;color:rgb(35,31,31);
}
#P138_153
{
left:30791px;bottom:24176.6px;color:rgb(35,31,31);
}
#P138_154
{
left:31688.4px;bottom:24176.6px;color:rgb(0,124,196);
}
#P138_155
{
left:13057.1px;bottom:22512.6px;letter-spacing:-1.7px;word-spacing:2086.5px;color:rgb(35,31,31);
}
#P138_156
{
left:15003.2px;bottom:22512.6px;word-spacing:77.1px;color:rgb(35,31,31);
}
#P138_157
{
left:16845.6px;bottom:22512.6px;color:rgb(35,31,31);
}
#P138_158
{
left:17197.5px;bottom:22512.6px;color:rgb(235,26,35);
}
#P138_159
{
left:17570.6px;bottom:22512.6px;color:rgb(35,31,31);
}
#P138_160
{
left:24136.7px;bottom:22512.6px;letter-spacing:-2.1px;color:rgb(35,31,31);
}
#P138_161
{
left:26081.1px;bottom:22512.6px;word-spacing:77.1px;color:rgb(35,31,31);
}
#P138_162
{
left:28237.5px;bottom:22512.6px;color:rgb(35,31,31);
}
#P138_163
{
left:28589.5px;bottom:22512.6px;color:rgb(235,26,35);
}
#P138_164
{
left:28962.6px;bottom:22512.6px;color:rgb(35,31,31);
}
#P138_165
{
left:30088.4px;bottom:22512.6px;color:rgb(235,26,35);
}
#P138_166
{
left:13641.6px;bottom:20848.6px;letter-spacing:-2.2px;word-spacing:2671.5px;color:rgb(35,31,31);
}
#P138_167
{
left:18920.4px;bottom:20848.6px;color:rgb(0,124,196);
}
#P138_168
{
left:19666.6px;bottom:20848.6px;color:rgb(35,31,31);
}
#P138_169
{
left:25035.7px;bottom:20848.6px;letter-spacing:-1.1px;color:rgb(35,31,31);
}
#P138_170
{
left:28237.4px;bottom:20848.6px;color:rgb(35,31,31);
}
#P138_171
{
left:31624.4px;bottom:20848.6px;color:rgb(0,124,196);
}
#P138_172
{
left:11592.4px;bottom:17776.6px;letter-spacing:-3.5px;color:rgb(35,31,31);
}
#P138_173
{
left:0px;letter-spacing:-1.9px;margin-left:3.5px;
}
#P138_174
{
left:0px;letter-spacing:0px;margin-left:1.9px;
}
#P138_175
{
left:0px;letter-spacing:0px;margin-left:-225px;
}
#P138_176
{
left:0px;letter-spacing:0px;margin-left:77.1px;
}
#P138_177
{
left:0px;letter-spacing:-4.7px;
}
#P138_178
{
left:0px;letter-spacing:-0.5px;margin-left:4.7px;
}
#P138_179
{
left:11592.4px;bottom:16304.6px;color:rgb(35,31,31);
}
#P138_180
{
left:12056px;bottom:16331.4px;color:rgb(35,31,31);
}
#P138_181
{
left:13256.4px;bottom:16304.6px;color:rgb(35,31,31);
}
#P138_182
{
left:14161px;bottom:16275.1px;color:rgb(35,31,31);
}
#P138_183
{
left:14747.5px;bottom:16304.6px;color:rgb(35,31,31);
}
#P138_184
{
left:15652.1px;bottom:16304.6px;color:rgb(35,31,31);
}
#P138_185
{
left:15962.5px;bottom:16304.6px;color:rgb(35,31,31);
}
#P138_186
{
left:19608px;bottom:16331.4px;color:rgb(35,31,31);
}
#P138_187
{
left:20872.4px;bottom:16304.6px;color:rgb(35,31,31);
}
#P138_188
{
left:21777px;bottom:16275.1px;color:rgb(35,31,31);
}
#P138_189
{
left:22363.5px;bottom:16304.6px;color:rgb(35,31,31);
}
#P138_190
{
left:22894.9px;bottom:16304.6px;color:rgb(35,31,31);
}
#P138_191
{
left:23447.6px;bottom:16304.6px;color:rgb(35,31,31);
}
#P138_192
{
left:23606px;bottom:16275.1px;color:rgb(35,31,31);
}
#P138_193
{
left:24192.4px;bottom:16304.6px;color:rgb(35,31,31);
}
#P138_194
{
left:24350.8px;bottom:16304.6px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P138_195
{
left:24371.9px;bottom:16744.3px;color:rgb(35,31,31);
}
#P138_196
{
left:24707.7px;bottom:16322.2px;color:rgb(35,31,31);
}
#P138_197
{
left:24350.8px;bottom:16288.6px;color:rgb(35,31,31);
}
#P138_198
{
left:24728.9px;bottom:16305.9px;color:rgb(35,31,31);
}
#P138_199
{
left:24371.9px;bottom:15836.8px;color:rgb(35,31,31);
}
#P138_200
{
left:24707.7px;bottom:16322.2px;color:rgb(35,31,31);
}
#P138_201
{
left:24728.9px;bottom:16304.6px;color:rgb(35,31,31);
}
#P138_202
{
left:24728.9px;bottom:16304.6px;color:rgb(35,31,31);
}
#P138_203
{
left:28552.4px;bottom:16331.4px;word-spacing:517.2px;color:rgb(35,31,31);
}
#P138_204
{
left:29256.4px;bottom:16304.6px;color:rgb(35,31,31);
}
#P138_205
{
left:29585.9px;bottom:16648.3px;color:rgb(35,31,31);
}
#P138_206
{
left:29857.1px;bottom:16304.6px;color:rgb(35,31,31);
}
#P138_207
{
left:30015.5px;bottom:16275.1px;color:rgb(35,31,31);
}
#P138_208
{
left:30601.9px;bottom:16304.6px;color:rgb(35,31,31);
}
#P138_209
{
left:31133.5px;bottom:16304.6px;color:rgb(35,31,31);
}
#P138_210
{
left:5501.34px;bottom:13045.5px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P138_211
{
left:12369.7px;bottom:13070px;color:white;
}
#P138_212
{
left:13441.9px;bottom:13261.8px;color:white;
}
#P138_213
{
left:13682.1px;bottom:13070px;color:white;
}
#P138_214
{
left:14018.2px;bottom:13261.8px;color:white;
}
#P138_215
{
left:14258.4px;bottom:13070px;letter-spacing:-1.7px;word-spacing:-31.9px;color:white;
}
#P138_216
{
left:18468.1px;bottom:13261.8px;color:white;
}
#P138_217
{
left:18708.2px;bottom:13070px;letter-spacing:-1.9px;color:white;
}
#P138_218
{
left:22230.1px;bottom:13261.8px;color:white;
}
#P138_219
{
left:22470.3px;bottom:13070px;color:white;
}
#P138_220
{
left:24951.7px;bottom:13261.8px;color:white;
}
#P138_221
{
left:25191.9px;bottom:13070px;color:white;
}
#P138_222
{
left:10525.3px;bottom:12902.9px;
}
#P138_223
{
left:10525.3px;bottom:12902.9px;color:white;
}
#P138_224
{
left:5497.11px;bottom:30005.5px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P138_225
{
left:12365.4px;bottom:30030px;color:white;
}
#P138_226
{
left:14397.5px;bottom:30221.8px;color:white;
}
#P138_227
{
left:14637.7px;bottom:30030px;color:white;
}
#P138_228
{
left:15405.8px;bottom:30221.8px;color:white;
}
#P138_229
{
left:15646px;bottom:30030px;letter-spacing:-1.1px;color:white;
}
#P138_230
{
left:0px;letter-spacing:0px;margin-left:-30.8px;
}
#P138_231
{
left:0px;letter-spacing:-5.1px;
}
#P138_232
{
left:24258.8px;bottom:30221.8px;color:white;
}
#P138_233
{
left:24499px;bottom:30030px;letter-spacing:-1.9px;color:white;
}
#P138_234
{
left:28020.8px;bottom:30221.8px;color:white;
}
#P138_235
{
left:28261px;bottom:30030px;color:white;
}
#P138_236
{
left:10521px;bottom:29862.9px;
}
#P138_237
{
left:10521px;bottom:29862.9px;color:white;
}
#P138_238
{
left:5709.4px;bottom:16688.6px;color:rgb(35,31,31);
}
#P138_239
{
left:0px;letter-spacing:0px;margin-left:-66.2px;
}
#P138_240
{
left:2856.07px;bottom:43520.6px;letter-spacing:-7.7px;word-spacing:-26px;color:rgb(0,124,196);
}
#P138_241
{
left:0px;letter-spacing:0px;margin-left:7.7px;
}
#P138_242
{
left:2856.07px;bottom:42578.7px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P138_243
{
left:2856.07px;bottom:41810.7px;color:rgb(35,31,31);
}
#P138_244
{
left:3624.07px;bottom:41810.7px;color:rgb(35,31,31);
}
#P138_245
{
left:2856.07px;bottom:40914.7px;color:rgb(35,31,31);
}
#P138_246
{
left:4740.25px;bottom:40914.7px;color:rgb(35,31,31);
}
#P138_247
{
left:2856.07px;bottom:40018.7px;color:rgb(35,31,31);
}
#P138_248
{
left:5309.15px;bottom:40018.7px;color:rgb(35,31,31);
}
#P138_249
{
left:2856.07px;bottom:39122.7px;color:rgb(35,31,31);
}
#P138_250
{
left:0px;letter-spacing:0px;margin-left:-177.9px;
}
#P138_251
{
left:6056.09px;bottom:39122.7px;color:rgb(35,31,31);
}
#P138_252
{
left:2856.13px;bottom:38226.7px;color:rgb(35,31,31);
}
#P138_253
{
left:5558.87px;bottom:38226.7px;color:rgb(35,31,31);
}
#P138_254
{
left:10813.4px;bottom:44188.8px;color:rgb(35,31,31);
}
#P138_255
{
left:11854.6px;bottom:44188.8px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P138_256
{
left:18570.8px;bottom:44188.8px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P138_257
{
left:0px;letter-spacing:0px;margin-left:-6.6px;
}
#P138_258
{
left:10813.4px;bottom:43292.8px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P138_259
{
left:0px;letter-spacing:0px;margin-left:-13.3px;
}
#P138_260
{
left:0px;letter-spacing:-8.4px;margin-left:-14px;
}
#P138_261
{
left:0px;letter-spacing:-0.6px;margin-left:8.4px;
}
#P138_262
{
left:0px;letter-spacing:-1.6px;margin-left:0.6px;
}
#P138_263
{
left:10813.4px;bottom:42396.9px;color:rgb(35,31,31);
}
#P138_264
{
left:12864.8px;bottom:42396.9px;letter-spacing:1.4px;color:rgb(35,31,31);
}
#P138_265
{
left:14787.3px;bottom:42396.9px;color:rgb(35,31,31);
}
#P138_266
{
left:20213px;bottom:37340.8px;color:rgb(235,26,35);
}
#P138_267
{
left:20586.1px;bottom:37340.8px;color:rgb(0,124,196);
}
#P138_268
{
left:21001.5px;bottom:37340.8px;color:rgb(35,31,31);
}
#P138_269
{
left:21159.9px;bottom:37311.3px;color:rgb(35,31,31);
}
#P138_270
{
left:21746.3px;bottom:37340.8px;color:rgb(35,31,31);
}
#P138_271
{
left:21904.7px;bottom:37340.8px;color:rgb(63,172,72);
}
#P138_272
{
left:26785.2px;bottom:46188.3px;word-spacing:0.2px;color:rgb(33,31,31);
}
#P138_273
{
left:0px;letter-spacing:0px;margin-left:-44.8px;
}
#P138_274
{
left:0px;letter-spacing:0px;margin-left:0.2px;
}
#P138_275
{
left:14277.4px;bottom:34781.4px;letter-spacing:-8.3px;color:rgb(235,26,35);
}
#P138_276
{
left:0px;letter-spacing:0px;margin-left:8.3px;
}
#P138_277
{
left:14277.4px;bottom:33885.4px;color:rgb(235,26,35);
}
#P138_278
{
left:14277.4px;bottom:32989.5px;letter-spacing:-0.9px;color:rgb(235,26,35);
}
#P138_279
{
left:17485.5px;bottom:33008.2px;color:rgb(35,31,31);
}
#P138_280
{
left:19078.2px;bottom:33008.2px;word-spacing:18.1px;color:rgb(35,31,31);
}
#P138_281
{
left:20460.4px;bottom:32989.4px;color:rgb(235,26,35);
}
#P138_282
{
left:22637.5px;bottom:34781.4px;letter-spacing:-0.5px;color:rgb(63,172,72);
}
#P138_283
{
left:22637.5px;bottom:33885.4px;color:rgb(63,172,72);
}
#P138_284
{
left:25161.4px;bottom:33885.4px;color:rgb(235,26,35);
}
#P138_285
{
left:25322.6px;bottom:33904.2px;color:rgb(35,31,31);
}
#P138_286
{
left:27749.9px;bottom:33885.4px;color:rgb(63,172,72);
}
#P138_287
{
left:15083.1px;bottom:40608.6px;color:rgb(0,124,196);
}
#P138_288
{
left:15083.1px;bottom:39712.6px;color:rgb(0,124,196);
}
#P138_289
{
left:21599.3px;bottom:39731.4px;color:rgb(35,31,31);
}
#P138_290
{
left:23877.3px;bottom:39712.6px;color:rgb(0,124,196);
}
#P138_291
{
left:2514.73px;bottom:25755.3px;color:white;
}
#P138_292
{
left:5870.36px;bottom:25997px;color:white;
}
#P138_293
{
left:6206.3px;bottom:25755.3px;color:white;
}
#P138_294
{
left:2749.4px;bottom:24652.3px;color:rgb(35,31,31);
}
#P138_295
{
left:2749.4px;bottom:23884.3px;color:rgb(35,31,31);
}
#P138_296
{
left:0px;letter-spacing:0px;margin-left:-177.9px;
}
#P138_297
{
left:2749.4px;bottom:23116.3px;color:rgb(35,31,31);
}
#P138_298
{
left:4206.68px;bottom:23116.3px;color:rgb(35,31,31);
}
#P138_299
{
left:4490.84px;bottom:23116.3px;color:rgb(35,31,31);
}
#P138_300
{
left:2749.4px;bottom:22348.3px;color:rgb(35,31,31);
}
#P138_301
{
left:0px;letter-spacing:0px;margin-left:-177.9px;
}
#PageContainer138
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg138.jpg");background-repeat:no-repeat;background-size: 947px 1291px; background-position: 0px 35.3699999999999px;
}
#ImageContainer138 {bottom:37.63px;left:0.00px;width:946.60px;height:1291.35px;position:absolute;} #TextContainer138 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

.example1{position: absolute;top: 515px;left: 101px;}
.example2{position: absolute;top: 978px;left: 101px;}
.nyr{position: absolute;top: 860px;left: 124px;}
.nyr_exr{position: absolute;top: 898px;left: 149px;color: rgb(35,31,31);font-size: 16px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}