.tr720{ color:transparent;}
#P720_1
{
left:10241.6px;bottom:46829.1px;color:white;
}
#P720_2
{
left:11909.5px;bottom:47127.5px;color:white;
}
#P720_3
{
left:12283.1px;bottom:46829.1px;color:white;
}
#P720_4
{
left:3395.76px;bottom:46801.9px;color:white;
}
#P720_5
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P720_6
{
left:3540.44px;bottom:1417.71px;color:rgb(35,31,31);
}
#P720_7
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P720_8
{
left:8197.72px;bottom:1417.71px;letter-spacing:462.1px;color:rgb(35,31,31);
}
#P720_9
{
left:0px;letter-spacing:3.5px;margin-left:-461.2px;
}
#P720_10
{
left:4669.4px;bottom:43784.6px;letter-spacing:-3.5px;color:rgb(35,31,31);
}
#P720_11
{
left:0px;letter-spacing:-0.5px;margin-left:3.5px;
}
#P720_12
{
left:16420px;bottom:43790.3px;letter-spacing:-2.6px;color:rgb(35,31,31);
}
#P720_13
{
left:19101.5px;bottom:43784.6px;color:rgb(35,31,31);
}
#P720_14
{
left:20649.6px;bottom:43790.3px;letter-spacing:-2.6px;color:rgb(35,31,31);
}
#P720_15
{
left:23409.4px;bottom:43784.6px;word-spacing:-28px;color:rgb(35,31,31);
}
#P720_16
{
left:0px;letter-spacing:0px;margin-left:91.9px;
}
#P720_17
{
left:0px;letter-spacing:0px;margin-left:28px;
}
#P720_18
{
left:25769.1px;bottom:43784.6px;letter-spacing:77.1px;color:rgb(35,31,31);
}
#P720_19
{
left:0px;letter-spacing:-1.1px;margin-left:-77.1px;
}
#P720_20
{
left:4669.47px;bottom:42888.6px;letter-spacing:-2.8px;color:rgb(35,31,31);
}
#P720_21
{
left:0px;letter-spacing:-1.3px;margin-left:2.8px;
}
#P720_22
{
left:0px;letter-spacing:0px;margin-left:1.3px;
}
#P720_23
{
left:0px;letter-spacing:-28px;margin-left:-50.5px;
}
#P720_24
{
left:25708.1px;bottom:42888.6px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P720_25
{
left:4669.4px;bottom:41672.6px;color:rgb(35,31,31);
}
#P720_26
{
left:5237.98px;bottom:41692.3px;color:rgb(35,31,31);
}
#P720_27
{
left:6269.4px;bottom:41672.6px;color:rgb(35,31,31);
}
#P720_28
{
left:19830px;bottom:41692.3px;color:rgb(35,31,31);
}
#P720_29
{
left:20861.4px;bottom:41672.6px;color:rgb(35,31,31);
}
#P720_30
{
left:4669.4px;bottom:40008.6px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P720_31
{
left:0px;letter-spacing:-9.3px;margin-left:0.2px;
}
#P720_32
{
left:0px;letter-spacing:-2.3px;margin-left:9.3px;
}
#P720_33
{
left:0px;letter-spacing:-2px;margin-left:2.3px;
}
#P720_34
{
left:0px;letter-spacing:-1.3px;margin-left:2px;
}
#P720_35
{
left:24642.1px;bottom:40008.6px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P720_36
{
left:4669.4px;bottom:38792.6px;color:rgb(35,31,31);
}
#P720_37
{
left:5237.98px;bottom:38812.3px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P720_38
{
left:6269.4px;bottom:38792.6px;letter-spacing:0.6px;color:rgb(35,31,31);
}
#P720_39
{
left:19830px;bottom:38812.3px;color:rgb(35,31,31);
}
#P720_40
{
left:20861.4px;bottom:38792.6px;letter-spacing:0.6px;color:rgb(35,31,31);
}
#P720_41
{
left:4669.4px;bottom:37896.6px;color:rgb(35,31,31);
}
#P720_42
{
left:5629.4px;bottom:37916.3px;color:rgb(35,31,31);
}
#P720_43
{
left:6269.4px;bottom:37896.6px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P720_44
{
left:0px;letter-spacing:0px;margin-left:9196.8px;
}
#P720_45
{
left:0px;letter-spacing:0px;margin-left:481.6px;
}
#P720_46
{
left:0px;letter-spacing:0px;margin-left:-4.2px;
}
#P720_47
{
left:4669.4px;bottom:37000.7px;letter-spacing:801.6px;color:rgb(35,31,31);
}
#P720_48
{
left:0px;letter-spacing:0px;margin-left:-320px;
}
#P720_49
{
left:0px;letter-spacing:0.5px;margin-left:-12.5px;
}
#P720_50
{
left:0px;letter-spacing:0px;margin-left:10097.9px;
}
#P720_51
{
left:0px;letter-spacing:0px;margin-left:481.6px;
}
#P720_52
{
left:0px;letter-spacing:0.3px;margin-left:-12.5px;
}
#P720_53
{
left:4669.4px;bottom:35720.6px;color:rgb(35,31,31);
}
#P720_54
{
left:5237.98px;bottom:35740.3px;color:rgb(35,31,31);
}
#P720_55
{
left:6269.4px;bottom:35720.6px;letter-spacing:0.6px;color:rgb(35,31,31);
}
#P720_56
{
left:19830px;bottom:35740.3px;color:rgb(35,31,31);
}
#P720_57
{
left:20861.4px;bottom:35720.6px;letter-spacing:-1.9px;color:rgb(35,31,31);
}
#P720_58
{
left:0px;letter-spacing:0px;margin-left:1.9px;
}
#P720_59
{
left:6269.41px;bottom:34824.7px;letter-spacing:-0.5px;word-spacing:481.6px;color:rgb(35,31,31);
}
#P720_60
{
left:0px;letter-spacing:0px;margin-left:-481.1px;
}
#P720_61
{
left:0px;letter-spacing:0px;
}
#P720_62
{
left:0px;letter-spacing:-1.8px;margin-left:9354.9px;
}
#P720_63
{
left:0px;letter-spacing:0px;margin-left:-479.8px;
}
#P720_64
{
left:0px;letter-spacing:0px;
}
#P720_65
{
left:4669.4px;bottom:33928.8px;letter-spacing:801.6px;color:rgb(35,31,31);
}
#P720_66
{
left:0px;letter-spacing:0px;margin-left:-320px;
}
#P720_67
{
left:0px;letter-spacing:0.3px;margin-left:-12.5px;
}
#P720_68
{
left:0px;letter-spacing:0px;margin-left:8319.7px;
}
#P720_69
{
left:0px;letter-spacing:0px;margin-left:481.6px;
}
#P720_70
{
left:0px;letter-spacing:0.4px;margin-left:-8.4px;
}
#P720_71
{
left:4669.4px;bottom:32264.9px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P720_72
{
left:0px;letter-spacing:-7.7px;margin-left:-28.1px;
}
#P720_73
{
left:0px;letter-spacing:-0.4px;margin-left:7.7px;
}
#P720_74
{
left:0px;letter-spacing:0px;margin-left:-27.6px;
}
#P720_75
{
left:0px;letter-spacing:-3.5px;margin-left:5.5px;
}
#P720_76
{
left:4669.4px;bottom:31368.9px;color:rgb(35,31,31);
}
#P720_77
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P720_78
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P720_79
{
left:11568.1px;bottom:31368.9px;color:rgb(35,31,31);
}
#P720_80
{
left:12272.1px;bottom:31368.6px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P720_81
{
left:4669.4px;bottom:30152.6px;color:rgb(35,31,31);
}
#P720_82
{
left:5237.98px;bottom:30172.3px;color:rgb(35,31,31);
}
#P720_83
{
left:6269.4px;bottom:30152.6px;letter-spacing:-5.3px;color:rgb(35,31,31);
}
#P720_84
{
left:0px;letter-spacing:0.5px;margin-left:5.3px;
}
#P720_85
{
left:19830px;bottom:30172.3px;color:rgb(35,31,31);
}
#P720_86
{
left:20861.4px;bottom:30152.6px;letter-spacing:-4.4px;color:rgb(35,31,31);
}
#P720_87
{
left:0px;letter-spacing:0.5px;margin-left:4.4px;
}
#P720_88
{
left:6269.41px;bottom:29256.6px;letter-spacing:-0.3px;word-spacing:481.6px;color:rgb(35,31,31);
}
#P720_89
{
left:0px;letter-spacing:0px;margin-left:-481.3px;
}
#P720_90
{
left:0px;letter-spacing:0px;
}
#P720_91
{
left:0px;letter-spacing:-0.3px;margin-left:8860.9px;
}
#P720_92
{
left:0px;letter-spacing:0px;margin-left:-481.3px;
}
#P720_93
{
left:0px;letter-spacing:0px;
}
#P720_94
{
left:4669.4px;bottom:28360.7px;letter-spacing:801.6px;color:rgb(35,31,31);
}
#P720_95
{
left:0px;letter-spacing:0px;margin-left:-320px;
}
#P720_96
{
left:0px;letter-spacing:-3.5px;margin-left:-12.5px;
}
#P720_97
{
left:0px;letter-spacing:-0.6px;margin-left:3.5px;
}
#P720_98
{
left:0px;letter-spacing:0px;margin-left:8644.8px;
}
#P720_99
{
left:0px;letter-spacing:0px;margin-left:481.6px;
}
#P720_100
{
left:0px;letter-spacing:-3.5px;margin-left:-12.5px;
}
#P720_101
{
left:0px;letter-spacing:-0.7px;margin-left:3.5px;
}
#P720_102
{
left:4669.4px;bottom:27464.7px;color:rgb(35,31,31);
}
#P720_103
{
left:0px;letter-spacing:0px;margin-left:801.6px;
}
#P720_104
{
left:0px;letter-spacing:0px;margin-left:481.6px;
}
#P720_105
{
left:0px;letter-spacing:0px;margin-left:-23.9px;
}
#P720_106
{
left:0px;letter-spacing:0px;margin-left:-4.2px;
}
#P720_107
{
left:0px;letter-spacing:0px;margin-left:9624.4px;
}
#P720_108
{
left:0px;letter-spacing:0px;margin-left:481.6px;
}
#P720_109
{
left:0px;letter-spacing:0px;margin-left:-23.9px;
}
#P720_110
{
left:4669.4px;bottom:26184.7px;color:rgb(35,31,31);
}
#P720_111
{
left:5237.98px;bottom:26204.4px;color:rgb(35,31,31);
}
#P720_112
{
left:6269.4px;bottom:26184.7px;letter-spacing:-5.3px;color:rgb(35,31,31);
}
#P720_113
{
left:0px;letter-spacing:0.4px;margin-left:5.3px;
}
#P720_114
{
left:19438.6px;bottom:26204.4px;color:rgb(35,31,31);
}
#P720_115
{
left:20861.4px;bottom:26184.7px;letter-spacing:-4.4px;color:rgb(35,31,31);
}
#P720_116
{
left:0px;letter-spacing:0.3px;margin-left:4.4px;
}
#P720_117
{
left:6269.41px;bottom:25288.7px;letter-spacing:-0.3px;word-spacing:481.6px;color:rgb(35,31,31);
}
#P720_118
{
left:0px;letter-spacing:0px;margin-left:-481.3px;
}
#P720_119
{
left:0px;letter-spacing:0px;
}
#P720_120
{
left:0px;letter-spacing:-0.3px;margin-left:9234px;
}
#P720_121
{
left:0px;letter-spacing:0px;margin-left:-481.3px;
}
#P720_122
{
left:4669.4px;bottom:24392.7px;letter-spacing:801.6px;color:rgb(35,31,31);
}
#P720_123
{
left:0px;letter-spacing:0px;margin-left:-320px;
}
#P720_124
{
left:0px;letter-spacing:-3.5px;margin-left:-12.5px;
}
#P720_125
{
left:0px;letter-spacing:-0.7px;margin-left:3.5px;
}
#P720_126
{
left:0px;letter-spacing:0px;margin-left:9334.1px;
}
#P720_127
{
left:0px;letter-spacing:0px;margin-left:481.6px;
}
#P720_128
{
left:0px;letter-spacing:-3.5px;margin-left:-12.5px;
}
#P720_129
{
left:0px;letter-spacing:-0.6px;margin-left:3.5px;
}
#P720_130
{
left:4669.4px;bottom:23496.7px;letter-spacing:801.6px;color:rgb(35,31,31);
}
#P720_131
{
left:0px;letter-spacing:0px;margin-left:-320px;
}
#P720_132
{
left:0px;letter-spacing:0px;margin-left:-23.9px;
}
#P720_133
{
left:0px;letter-spacing:-0.5px;
}
#P720_134
{
left:0px;letter-spacing:0px;margin-left:9625px;
}
#P720_135
{
left:0px;letter-spacing:0px;margin-left:481.6px;
}
#P720_136
{
left:0px;letter-spacing:0px;margin-left:-23.9px;
}
#P720_137
{
left:0px;letter-spacing:-0.6px;
}
#P720_138
{
left:4669.4px;bottom:22216.6px;color:rgb(35,31,31);
}
#P720_139
{
left:4846.55px;bottom:22236.3px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P720_140
{
left:6269.4px;bottom:22236.3px;color:rgb(2,77,161);
}
#P720_141
{
left:8551.77px;bottom:22216.6px;letter-spacing:151.5px;color:rgb(35,31,31);
}
#P720_142
{
left:0px;letter-spacing:0px;margin-left:-214.7px;
}
#P720_143
{
left:0px;letter-spacing:0px;
}
#P720_144
{
left:0px;letter-spacing:0px;margin-left:-25.3px;
}
#P720_145
{
left:0px;letter-spacing:0px;
}
#P720_146
{
left:6269.4px;bottom:21320.6px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P720_147
{
left:0px;letter-spacing:-1.6px;margin-left:0.5px;
}
#P720_148
{
left:0px;letter-spacing:-0.5px;margin-left:1.6px;
}
#P720_149
{
left:0px;letter-spacing:0px;margin-left:-41.6px;
}
#P720_150
{
left:21806.4px;bottom:21320.6px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P720_151
{
left:4669.4px;bottom:19848.6px;color:rgb(35,31,31);
}
#P720_152
{
left:4846.55px;bottom:19868.3px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P720_153
{
left:6269.4px;bottom:19868.3px;letter-spacing:-7.7px;color:rgb(2,77,161);
}
#P720_154
{
left:0px;letter-spacing:0px;margin-left:7.7px;
}
#P720_155
{
left:11615.6px;bottom:19848.6px;color:rgb(35,31,31);
}
#P720_156
{
left:0px;letter-spacing:0px;margin-left:193.6px;
}
#P720_157
{
left:0px;letter-spacing:0px;margin-left:-6.9px;
}
#P720_158
{
left:0px;letter-spacing:0px;margin-left:-25.3px;
}
#P720_159
{
left:6269.4px;bottom:18952.6px;letter-spacing:-0.3px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P720_160
{
left:6269.4px;bottom:18056.7px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P720_161
{
left:0px;letter-spacing:0px;margin-left:-41.9px;
}
#P720_162
{
left:0px;letter-spacing:0px;
}
#P720_163
{
left:6269.4px;bottom:17160.7px;color:rgb(35,31,31);
}
#P720_164
{
left:8558.75px;bottom:17160.7px;word-spacing:56.3px;color:rgb(35,31,31);
}
#P720_165
{
left:0px;letter-spacing:0px;margin-left:-56.3px;
}
#P720_166
{
left:0px;letter-spacing:0px;margin-left:5.5px;
}
#P720_167
{
left:12318.6px;bottom:17160.6px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P720_168
{
left:4669.4px;bottom:15688.6px;color:rgb(35,31,31);
}
#P720_169
{
left:4846.55px;bottom:15708.3px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P720_170
{
left:6269.4px;bottom:15708.3px;letter-spacing:-17.1px;color:rgb(2,77,161);
}
#P720_171
{
left:0px;letter-spacing:0px;margin-left:17.1px;
}
#P720_172
{
left:9986.65px;bottom:15688.6px;letter-spacing:168.3px;color:rgb(35,31,31);
}
#P720_173
{
left:0px;letter-spacing:0.5px;margin-left:-168.3px;
}
#P720_174
{
left:6269.4px;bottom:14792.6px;color:rgb(35,31,31);
}
#P720_175
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P720_176
{
left:6269.4px;bottom:13896.7px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P720_177
{
left:13426.3px;bottom:13896.6px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P720_178
{
left:4669.4px;bottom:8392.62px;color:rgb(35,31,31);
}
#P720_179
{
left:14653.4px;bottom:8412.33px;word-spacing:956.3px;
}
#P720_180
{
left:16189.4px;bottom:8412.33px;
}
#P720_181
{
left:20088.1px;bottom:8392.62px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P720_182
{
left:0px;letter-spacing:-0.6px;margin-left:-193.6px;
}
#P720_183
{
left:0px;letter-spacing:0px;margin-left:0.6px;
}
#P720_184
{
left:16189.4px;bottom:7496.62px;letter-spacing:-0.1px;word-spacing:0.1px;
}
#P720_185
{
left:21517.2px;bottom:7496.62px;letter-spacing:-21.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P720_186
{
left:0px;letter-spacing:-0.5px;margin-left:21.1px;
}
#P720_187
{
left:16189.4px;bottom:6600.68px;
}
#P720_188
{
left:16541.5px;bottom:6600.68px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P720_189
{
left:24865.6px;bottom:6600.68px;color:rgb(35,31,31);
}
#P720_190
{
left:25569.6px;bottom:6600.62px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P720_191
{
left:4669.4px;bottom:5128.62px;color:rgb(0,124,196);
}
#P720_192
{
left:17326.6px;bottom:5148.33px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P720_193
{
left:18749.4px;bottom:5148.33px;letter-spacing:-4.2px;color:rgb(2,77,161);
}
#P720_194
{
left:20483.5px;bottom:5128.62px;letter-spacing:151.5px;color:rgb(35,31,31);
}
#P720_195
{
left:0px;letter-spacing:0px;margin-left:-214.7px;
}
#P720_196
{
left:0px;letter-spacing:-3.6px;
}
#P720_197
{
left:0px;letter-spacing:-3.6px;margin-left:3.6px;
}
#P720_198
{
left:0px;letter-spacing:-0.7px;margin-left:3.6px;
}
#P720_199
{
left:0px;letter-spacing:0px;margin-left:-6.2px;
}
#P720_200
{
left:18749.4px;bottom:4232.62px;color:rgb(35,31,31);
}
#P720_201
{
left:0px;letter-spacing:-63.3px;margin-left:-42.1px;
}
#P720_202
{
left:0px;letter-spacing:-0.6px;margin-left:63.3px;
}
#P720_203
{
left:0px;letter-spacing:-10.5px;margin-left:0.6px;
}
#P720_204
{
left:0px;letter-spacing:0px;margin-left:-10.5px;
}
#P720_205
{
left:18749.4px;bottom:3336.66px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P720_206
{
left:28333.6px;bottom:3336.66px;color:rgb(35,31,31);
}
#P720_207
{
left:29037.6px;bottom:3336.62px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P720_208
{
left:14653.4px;bottom:8412.33px;color:rgb(33,31,31);
}
#P720_209
{
left:16189.4px;bottom:8412.33px;
}
#P720_210
{
left:16189.4px;bottom:7496.62px;
}
#P720_211
{
left:16189.4px;bottom:6600.62px;color:rgb(33,31,31);
}
#P720_212
{
left:22836.4px;bottom:10708.6px;color:rgb(33,31,31);
}
#P720_213
{
left:27145.8px;bottom:45671.1px;letter-spacing:-0.1px;word-spacing:0.3px;color:rgb(33,31,31);
}
#PageContainer720
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg720.jpg");background-repeat:no-repeat;background-size: 1000px 1281px; background-position: 0px -0.519999999999982px;
}
#ImageContainer720 {bottom:83.52px;left:0.00px;width:1000.30px;height:1280.64px;position:absolute;} #TextContainer720 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.progress_check{position: absolute;top: 73px;left: 728px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}