.tr212{ color:transparent;}
#P212_1
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P212_2
{
left:3540.44px;bottom:1410.03px;color:rgb(35,31,31);
}
#P212_3
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P212_4
{
left:9125.52px;bottom:1410.03px;letter-spacing:2.1px;word-spacing:461.8px;color:rgb(35,31,31);
}
#P212_5
{
left:0px;letter-spacing:0px;margin-left:-463.9px;
}
#P212_6
{
left:0px;letter-spacing:0.3px;margin-left:0.3px;
}
#P212_7
{
left:0px;letter-spacing:0px;margin-left:-462.1px;
}
#P212_8
{
left:0px;letter-spacing:1.6px;margin-left:0.3px;
}
#P212_9
{
left:4669.4px;bottom:45479.5px;color:rgb(35,31,31);
}
#P212_10
{
left:5237.98px;bottom:45499.2px;color:rgb(35,31,31);
}
#P212_11
{
left:6269.4px;bottom:45479.5px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P212_12
{
left:0px;letter-spacing:0px;margin-left:0.3px;
}
#P212_13
{
left:23225px;bottom:45479.5px;letter-spacing:1px;color:rgb(0,124,196);
}
#P212_14
{
left:14198.6px;bottom:43526.4px;word-spacing:272px;color:rgb(35,31,31);
}
#P212_15
{
left:14775.1px;bottom:43539.1px;color:rgb(35,31,31);
}
#P212_16
{
left:15361.6px;bottom:43526.4px;color:rgb(35,31,31);
}
#P212_17
{
left:16515.4px;bottom:43539.1px;color:rgb(35,31,31);
}
#P212_18
{
left:17101.8px;bottom:43526.4px;color:rgb(35,31,31);
}
#P212_19
{
left:18890.6px;bottom:43539.1px;color:rgb(35,31,31);
}
#P212_20
{
left:19477.1px;bottom:43526.4px;color:rgb(35,31,31);
}
#P212_21
{
left:13750.6px;bottom:42438.4px;letter-spacing:2448px;color:rgb(35,31,31);
}
#P212_22
{
left:16550.6px;bottom:42451.1px;color:rgb(35,31,31);
}
#P212_23
{
left:17137px;bottom:42438.4px;color:rgb(35,31,31);
}
#P212_24
{
left:19182.7px;bottom:42451.1px;color:rgb(35,31,31);
}
#P212_25
{
left:19769.2px;bottom:42438.4px;color:rgb(35,31,31);
}
#P212_26
{
left:13750.6px;bottom:41350.4px;letter-spacing:2448px;color:rgb(35,31,31);
}
#P212_27
{
left:16550.6px;bottom:41363.1px;color:rgb(35,31,31);
}
#P212_28
{
left:17137px;bottom:41350.4px;color:rgb(35,31,31);
}
#P212_29
{
left:18744.2px;bottom:41363.1px;color:rgb(35,31,31);
}
#P212_30
{
left:19330.6px;bottom:41350.4px;color:rgb(35,31,31);
}
#P212_31
{
left:13750.6px;bottom:40262.4px;letter-spacing:2448px;color:rgb(35,31,31);
}
#P212_32
{
left:16550.6px;bottom:40275.1px;color:rgb(35,31,31);
}
#P212_33
{
left:17137px;bottom:40262.4px;color:rgb(35,31,31);
}
#P212_34
{
left:4669.53px;bottom:37351.4px;color:rgb(35,31,31);
}
#P212_35
{
left:6392.28px;bottom:37371.1px;letter-spacing:-90.7px;color:rgb(35,31,31);
}
#P212_36
{
left:7293.53px;bottom:37351.4px;letter-spacing:285.8px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P212_37
{
left:0px;letter-spacing:-0.4px;margin-left:-285.9px;
}
#P212_38
{
left:0px;letter-spacing:-0.1px;margin-left:-24.9px;
}
#P212_39
{
left:0px;letter-spacing:-0.1px;
}
#P212_40
{
left:4669.53px;bottom:35815.4px;color:rgb(35,31,31);
}
#P212_41
{
left:6145.24px;bottom:35835.1px;color:rgb(35,31,31);
}
#P212_42
{
left:7293.53px;bottom:35815.4px;letter-spacing:285.7px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P212_43
{
left:0px;letter-spacing:-0.5px;margin-left:-294.2px;
}
#P212_44
{
left:0px;letter-spacing:-0.8px;margin-left:0.4px;
}
#P212_45
{
left:4669.53px;bottom:34279.5px;color:rgb(35,31,31);
}
#P212_46
{
left:6145.24px;bottom:34299.2px;color:rgb(35,31,31);
}
#P212_47
{
left:7293.67px;bottom:34279.5px;letter-spacing:-0.1px;word-spacing:286.1px;color:rgb(35,31,31);
}
#P212_48
{
left:0px;letter-spacing:0px;margin-left:-286px;
}
#P212_49
{
left:0px;letter-spacing:0.1px;margin-left:-8.4px;
}
#P212_50
{
left:4669.53px;bottom:32743.5px;color:rgb(35,31,31);
}
#P212_51
{
left:6457.82px;bottom:32763.2px;color:rgb(35,31,31);
}
#P212_52
{
left:7293.53px;bottom:32743.5px;letter-spacing:285.7px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P212_53
{
left:0px;letter-spacing:-0.1px;margin-left:-311px;
}
#P212_54
{
left:0px;letter-spacing:-0.4px;
}
#P212_55
{
left:4669.53px;bottom:29543.4px;color:rgb(35,31,31);
}
#P212_56
{
left:5237.98px;bottom:29563.1px;color:rgb(35,31,31);
}
#P212_57
{
left:6269.4px;bottom:29543.4px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P212_58
{
left:0px;letter-spacing:-2.8px;margin-left:-13.4px;
}
#P212_59
{
left:0px;letter-spacing:-0.1px;margin-left:2.8px;
}
#P212_60
{
left:0px;letter-spacing:0px;margin-left:-20.9px;
}
#P212_61
{
left:24312.5px;bottom:29543.5px;color:rgb(0,124,196);
}
#P212_62
{
left:4669.4px;bottom:28263.5px;letter-spacing:1825.6px;color:rgb(35,31,31);
}
#P212_63
{
left:12845.3px;bottom:22848.4px;color:rgb(0,145,68);
}
#P212_64
{
left:15254.7px;bottom:25831px;color:rgb(0,145,68);
}
#P212_65
{
left:4669.4px;bottom:18791.5px;color:rgb(35,31,31);
}
#P212_66
{
left:5237.98px;bottom:18811.2px;color:rgb(35,31,31);
}
#P212_67
{
left:6269.4px;bottom:18791.5px;color:rgb(35,31,31);
}
#P212_68
{
left:0px;letter-spacing:0px;margin-left:-21px;
}
#P212_69
{
left:0px;letter-spacing:0px;margin-left:-4.2px;
}
#P212_70
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P212_71
{
left:18612.6px;bottom:19231.1px;color:rgb(35,31,31);
}
#P212_72
{
left:19284.2px;bottom:18809.1px;color:rgb(35,31,31);
}
#P212_73
{
left:18591.5px;bottom:18775.5px;color:rgb(35,31,31);
}
#P212_74
{
left:19305.4px;bottom:18792.7px;color:rgb(35,31,31);
}
#P212_75
{
left:18612.6px;bottom:18323.6px;color:rgb(35,31,31);
}
#P212_76
{
left:19284.2px;bottom:18809.1px;color:rgb(35,31,31);
}
#P212_77
{
left:19393.4px;bottom:18791.5px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P212_78
{
left:20371.2px;bottom:18791.5px;color:rgb(0,124,196);
}
#P212_79
{
left:4669.4px;bottom:17319.5px;color:rgb(35,31,31);
}
#P212_80
{
left:6145.11px;bottom:17339.2px;color:rgb(35,31,31);
}
#P212_81
{
left:6849.11px;bottom:17319.5px;letter-spacing:285.9px;color:rgb(35,31,31);
}
#P212_82
{
left:0px;letter-spacing:0px;margin-left:-444.3px;
}
#P212_83
{
left:7314.52px;bottom:17759.1px;color:rgb(35,31,31);
}
#P212_84
{
left:7650.33px;bottom:17337.1px;color:rgb(35,31,31);
}
#P212_85
{
left:7293.4px;bottom:17303.5px;color:rgb(35,31,31);
}
#P212_86
{
left:7671.45px;bottom:17320.7px;color:rgb(35,31,31);
}
#P212_87
{
left:7314.52px;bottom:16851.6px;color:rgb(35,31,31);
}
#P212_88
{
left:7650.33px;bottom:17337.1px;color:rgb(35,31,31);
}
#P212_89
{
left:7671.45px;bottom:17319.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P212_90
{
left:7829.85px;bottom:17289.9px;color:rgb(35,31,31);
}
#P212_91
{
left:8416.28px;bottom:17319.5px;color:rgb(35,31,31);
}
#P212_92
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P212_93
{
left:8595.8px;bottom:17759.1px;color:rgb(35,31,31);
}
#P212_94
{
left:8931.61px;bottom:17337.1px;color:rgb(35,31,31);
}
#P212_95
{
left:8574.68px;bottom:17303.5px;color:rgb(35,31,31);
}
#P212_96
{
left:8952.73px;bottom:17320.7px;color:rgb(35,31,31);
}
#P212_97
{
left:8595.8px;bottom:16851.6px;color:rgb(35,31,31);
}
#P212_98
{
left:8931.61px;bottom:17337.1px;color:rgb(35,31,31);
}
#P212_99
{
left:8952.73px;bottom:17319.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P212_100
{
left:20815.3px;bottom:17339.2px;color:rgb(35,31,31);
}
#P212_101
{
left:21441.1px;bottom:17319.5px;letter-spacing:285.9px;color:rgb(35,31,31);
}
#P212_102
{
left:0px;letter-spacing:0px;margin-left:-444.3px;
}
#P212_103
{
left:21906.5px;bottom:17759.1px;color:rgb(35,31,31);
}
#P212_104
{
left:22242.3px;bottom:17337.1px;color:rgb(35,31,31);
}
#P212_105
{
left:21885.4px;bottom:17303.5px;color:rgb(35,31,31);
}
#P212_106
{
left:22263.4px;bottom:17320.7px;color:rgb(35,31,31);
}
#P212_107
{
left:21906.5px;bottom:16851.6px;color:rgb(35,31,31);
}
#P212_108
{
left:22242.3px;bottom:17337.1px;color:rgb(35,31,31);
}
#P212_109
{
left:22263.4px;bottom:17319.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P212_110
{
left:22421.8px;bottom:17289.9px;color:rgb(35,31,31);
}
#P212_111
{
left:23008.3px;bottom:17319.5px;color:rgb(35,31,31);
}
#P212_112
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P212_113
{
left:23187.8px;bottom:17759.1px;color:rgb(35,31,31);
}
#P212_114
{
left:23523.6px;bottom:17337.1px;color:rgb(35,31,31);
}
#P212_115
{
left:23166.7px;bottom:17303.5px;color:rgb(35,31,31);
}
#P212_116
{
left:23544.7px;bottom:17320.7px;color:rgb(35,31,31);
}
#P212_117
{
left:23187.8px;bottom:16851.6px;color:rgb(35,31,31);
}
#P212_118
{
left:23523.6px;bottom:17337.1px;color:rgb(35,31,31);
}
#P212_119
{
left:23544.7px;bottom:17319.5px;color:rgb(35,31,31);
}
#P212_120
{
left:4669.4px;bottom:15271.5px;color:rgb(35,31,31);
}
#P212_121
{
left:6223.39px;bottom:15291.2px;color:rgb(35,31,31);
}
#P212_122
{
left:6849.24px;bottom:15271.5px;letter-spacing:285.9px;color:rgb(35,31,31);
}
#P212_123
{
left:0px;letter-spacing:0px;margin-left:-444.3px;
}
#P212_124
{
left:7314.52px;bottom:15711.1px;color:rgb(35,31,31);
}
#P212_125
{
left:7650.33px;bottom:15289.1px;color:rgb(35,31,31);
}
#P212_126
{
left:7293.4px;bottom:15255.5px;color:rgb(35,31,31);
}
#P212_127
{
left:7671.45px;bottom:15272.7px;color:rgb(35,31,31);
}
#P212_128
{
left:7314.52px;bottom:14803.6px;color:rgb(35,31,31);
}
#P212_129
{
left:7650.33px;bottom:15289.1px;color:rgb(35,31,31);
}
#P212_130
{
left:7671.45px;bottom:15271.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P212_131
{
left:7829.85px;bottom:15241.9px;color:rgb(35,31,31);
}
#P212_132
{
left:8416.28px;bottom:15271.5px;color:rgb(35,31,31);
}
#P212_133
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P212_134
{
left:8595.8px;bottom:15711.1px;color:rgb(35,31,31);
}
#P212_135
{
left:8931.61px;bottom:15289.1px;color:rgb(35,31,31);
}
#P212_136
{
left:8574.68px;bottom:15255.5px;color:rgb(35,31,31);
}
#P212_137
{
left:8952.73px;bottom:15272.7px;color:rgb(35,31,31);
}
#P212_138
{
left:8595.8px;bottom:14803.6px;color:rgb(35,31,31);
}
#P212_139
{
left:8931.61px;bottom:15289.1px;color:rgb(35,31,31);
}
#P212_140
{
left:8952.73px;bottom:15271.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P212_141
{
left:20737.1px;bottom:15291.2px;color:rgb(35,31,31);
}
#P212_142
{
left:21441.1px;bottom:15271.5px;letter-spacing:285.9px;color:rgb(35,31,31);
}
#P212_143
{
left:0px;letter-spacing:0px;margin-left:-444.3px;
}
#P212_144
{
left:21906.5px;bottom:15711.1px;color:rgb(35,31,31);
}
#P212_145
{
left:22242.3px;bottom:15289.1px;color:rgb(35,31,31);
}
#P212_146
{
left:21885.4px;bottom:15255.5px;color:rgb(35,31,31);
}
#P212_147
{
left:22263.4px;bottom:15272.7px;color:rgb(35,31,31);
}
#P212_148
{
left:21906.5px;bottom:14803.6px;color:rgb(35,31,31);
}
#P212_149
{
left:22242.3px;bottom:15289.1px;color:rgb(35,31,31);
}
#P212_150
{
left:22263.4px;bottom:15271.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P212_151
{
left:22421.8px;bottom:15241.9px;color:rgb(35,31,31);
}
#P212_152
{
left:23008.3px;bottom:15271.5px;color:rgb(35,31,31);
}
#P212_153
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P212_154
{
left:23187.8px;bottom:15711.1px;color:rgb(35,31,31);
}
#P212_155
{
left:23523.6px;bottom:15289.1px;color:rgb(35,31,31);
}
#P212_156
{
left:23166.7px;bottom:15255.5px;color:rgb(35,31,31);
}
#P212_157
{
left:23544.7px;bottom:15272.7px;color:rgb(35,31,31);
}
#P212_158
{
left:23187.8px;bottom:14803.6px;color:rgb(35,31,31);
}
#P212_159
{
left:23523.6px;bottom:15289.1px;color:rgb(35,31,31);
}
#P212_160
{
left:23544.7px;bottom:15271.5px;color:rgb(35,31,31);
}
#P212_161
{
left:4669.4px;bottom:11687.5px;color:rgb(35,31,31);
}
#P212_162
{
left:5237.98px;bottom:11707.2px;color:rgb(35,31,31);
}
#P212_163
{
left:6269.4px;bottom:11687.5px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P212_164
{
left:0px;letter-spacing:-5.6px;margin-left:0.8px;
}
#P212_165
{
left:0px;letter-spacing:-0.4px;margin-left:5.6px;
}
#P212_166
{
left:26175.8px;bottom:11687.5px;color:rgb(0,124,196);
}
#P212_167
{
left:4669.4px;bottom:9959.47px;letter-spacing:673.6px;color:rgb(35,31,31);
}
#P212_168
{
left:6717.4px;bottom:9304.88px;letter-spacing:-28.1px;color:rgb(35,31,31);
}
#P212_169
{
left:0px;letter-spacing:-0.1px;margin-left:28.1px;
}
#P212_170
{
left:0px;letter-spacing:0px;margin-left:-27.9px;
}
#P212_171
{
left:4669.4px;bottom:6503.47px;color:rgb(35,31,31);
}
#P212_172
{
left:6392.15px;bottom:6523.18px;letter-spacing:-90.7px;color:rgb(35,31,31);
}
#P212_173
{
left:7292.01px;bottom:6503.47px;letter-spacing:-1.4px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P212_174
{
left:20737.1px;bottom:6523.18px;color:rgb(35,31,31);
}
#P212_175
{
left:21884.3px;bottom:6503.47px;letter-spacing:-1.5px;word-spacing:286.2px;color:rgb(35,31,31);
}
#P212_176
{
left:4669.4px;bottom:4967.47px;color:rgb(35,31,31);
}
#P212_177
{
left:6145.11px;bottom:4987.18px;color:rgb(35,31,31);
}
#P212_178
{
left:7291.41px;bottom:4967.47px;letter-spacing:-2px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P212_179
{
left:21049.7px;bottom:4987.18px;color:rgb(35,31,31);
}
#P212_180
{
left:21886.1px;bottom:4967.47px;letter-spacing:0.7px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P212_181
{
left:4669.4px;bottom:28263.5px;color:rgb(209,52,70);
}
#PageContainer212
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg212.jpg");background-repeat:no-repeat;background-size: 1066px 1135px; background-position: 1px -0.450000000000045px;
}
#ImageContainer212 {bottom:229.45px;right:0.00px;width:1066.24px;height:1134.71px;position:absolute;} #TextContainer212 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}