.tr364{ color:transparent;}
#P364_1
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P364_2
{
left:3540.44px;bottom:1410.03px;color:rgb(35,31,31);
}
#P364_3
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P364_4
{
left:9120.15px;bottom:1410.03px;letter-spacing:0.2px;word-spacing:461px;color:rgb(35,31,31);
}
#P364_5
{
left:0px;letter-spacing:0px;margin-left:-461.2px;
}
#P364_6
{
left:0px;letter-spacing:2.9px;margin-left:1.1px;
}
#P364_7
{
left:0px;letter-spacing:0px;margin-left:-463.9px;
}
#P364_8
{
left:0px;letter-spacing:1.3px;margin-left:1.1px;
}
#P364_9
{
left:6977.56px;bottom:46917.2px;color:white;
}
#P364_10
{
left:9541.91px;bottom:47215.6px;color:white;
}
#P364_11
{
left:9915.55px;bottom:46917.2px;color:white;
}
#P364_12
{
left:16264.6px;bottom:47215.6px;color:white;
}
#P364_13
{
left:16638.2px;bottom:46917.2px;color:white;
}
#P364_14
{
left:17161px;bottom:47215.6px;color:white;
}
#P364_15
{
left:17534.7px;bottom:46917.2px;color:white;
}
#P364_16
{
left:20597.7px;bottom:47215.6px;color:white;
}
#P364_17
{
left:20971.3px;bottom:46917.2px;color:white;
}
#P364_18
{
left:6977.56px;bottom:45304.4px;color:white;
}
#P364_19
{
left:9766.36px;bottom:45602.8px;color:white;
}
#P364_20
{
left:10140px;bottom:45304.4px;color:white;
}
#P364_21
{
left:11285.1px;bottom:45602.8px;color:white;
}
#P364_22
{
left:11658.7px;bottom:45304.4px;color:white;
}
#P364_23
{
left:13500px;bottom:45602.8px;color:white;
}
#P364_24
{
left:13873.6px;bottom:45304.4px;color:white;
}
#P364_25
{
left:18281.9px;bottom:45602.8px;color:white;
}
#P364_26
{
left:18655.6px;bottom:45304.4px;color:white;
}
#P364_27
{
left:19353.1px;bottom:45602.8px;color:white;
}
#P364_28
{
left:19726.7px;bottom:45304.4px;color:white;
}
#P364_29
{
left:20299.3px;bottom:45602.8px;color:white;
}
#P364_30
{
left:20672.9px;bottom:45304.4px;color:white;
}
#P364_31
{
left:3459.78px;bottom:46139.1px;color:white;
}
#P364_32
{
left:18900.5px;bottom:41182.6px;letter-spacing:213.2px;color:rgb(35,31,31);
}
#P364_33
{
left:0px;letter-spacing:0px;margin-left:-213.2px;
}
#P364_34
{
left:7789.4px;bottom:40094.5px;color:rgb(35,31,31);
}
#P364_35
{
left:9299.48px;bottom:36163.9px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P364_36
{
left:0px;letter-spacing:0.4px;margin-left:14.2px;
}
#P364_37
{
left:0px;letter-spacing:-14px;margin-left:-42.4px;
}
#P364_38
{
left:0px;letter-spacing:-0.5px;margin-left:14px;
}
#P364_39
{
left:9299.48px;bottom:35268.1px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P364_40
{
left:0px;letter-spacing:-63.3px;margin-left:-41.8px;
}
#P364_41
{
left:0px;letter-spacing:0px;margin-left:63.3px;
}
#P364_42
{
left:9299.48px;bottom:34372.1px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P364_43
{
left:9299.48px;bottom:33476.2px;color:rgb(35,31,31);
}
#P364_44
{
left:9299.48px;bottom:32196.2px;word-spacing:-147.8px;color:rgb(35,31,31);
}
#P364_45
{
left:10451.6px;bottom:32196.2px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P364_46
{
left:0px;letter-spacing:-2px;margin-left:1.2px;
}
#P364_47
{
left:0px;letter-spacing:-0.3px;margin-left:-12px;
}
#P364_48
{
left:0px;letter-spacing:0px;margin-left:-13.6px;
}
#P364_49
{
left:10451.6px;bottom:31300.3px;color:rgb(35,31,31);
}
#P364_50
{
left:13963.7px;bottom:31300.3px;color:rgb(35,31,31);
}
#P364_51
{
left:14327.1px;bottom:31300.3px;letter-spacing:-5.6px;color:rgb(35,31,31);
}
#P364_52
{
left:0px;letter-spacing:-1.1px;margin-left:5.6px;
}
#P364_53
{
left:0px;letter-spacing:0px;margin-left:1.1px;
}
#P364_54
{
left:9299.48px;bottom:30212.2px;color:rgb(35,31,31);
}
#P364_55
{
left:12655.1px;bottom:29659.9px;color:rgb(35,31,31);
}
#P364_56
{
left:13028.2px;bottom:29659.9px;color:rgb(35,31,31);
}
#P364_57
{
left:13391.5px;bottom:29659.9px;color:rgb(35,31,31);
}
#P364_58
{
left:13637.9px;bottom:29723.9px;color:rgb(35,31,31);
}
#P364_59
{
left:14285.6px;bottom:29659.9px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P364_60
{
left:15699.5px;bottom:30211.9px;color:rgb(35,31,31);
}
#P364_61
{
left:18486.6px;bottom:29651.1px;color:rgb(35,31,31);
}
#P364_62
{
left:18859.7px;bottom:29651.1px;color:rgb(35,31,31);
}
#P364_63
{
left:19222.9px;bottom:29651.1px;color:rgb(35,31,31);
}
#P364_64
{
left:19469.3px;bottom:29827.1px;color:rgb(35,31,31);
}
#P364_65
{
left:19943.8px;bottom:29651.1px;color:rgb(35,31,31);
}
#P364_66
{
left:9299.48px;bottom:28355.9px;color:rgb(35,31,31);
}
#P364_67
{
left:12655.1px;bottom:27803.9px;color:rgb(35,31,31);
}
#P364_68
{
left:13028.2px;bottom:27803.9px;color:rgb(35,31,31);
}
#P364_69
{
left:13391.5px;bottom:27803.9px;color:rgb(35,31,31);
}
#P364_70
{
left:13637.9px;bottom:27867.9px;color:rgb(35,31,31);
}
#P364_71
{
left:14285.6px;bottom:27803.9px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P364_72
{
left:15699.5px;bottom:28355.9px;color:rgb(35,31,31);
}
#P364_73
{
left:18486.6px;bottom:27795.1px;color:rgb(35,31,31);
}
#P364_74
{
left:18859.7px;bottom:27795.1px;color:rgb(35,31,31);
}
#P364_75
{
left:19222.9px;bottom:27795.1px;color:rgb(35,31,31);
}
#P364_76
{
left:19469.3px;bottom:27971.1px;color:rgb(35,31,31);
}
#P364_77
{
left:19943.8px;bottom:27795.1px;color:rgb(35,31,31);
}
#P364_78
{
left:9299.48px;bottom:26115.9px;letter-spacing:-6.9px;word-spacing:-140.9px;color:rgb(35,31,31);
}
#P364_79
{
left:10451.6px;bottom:26115.9px;letter-spacing:-0.7px;word-spacing:0.3px;color:rgb(35,31,31);
}
#P364_80
{
left:19552.4px;bottom:26115.9px;color:rgb(35,31,31);
}
#P364_81
{
left:19915.7px;bottom:26115.9px;color:rgb(35,31,31);
}
#P364_82
{
left:10451.6px;bottom:25219.9px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P364_83
{
left:0px;letter-spacing:-0.7px;margin-left:-19.8px;
}
#P364_84
{
left:0px;letter-spacing:-0.3px;margin-left:0.7px;
}
#P364_85
{
left:9299.48px;bottom:23939.9px;word-spacing:-147.8px;color:rgb(35,31,31);
}
#P364_86
{
left:10451.6px;bottom:23939.9px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P364_87
{
left:0px;letter-spacing:0.1px;margin-left:-13.2px;
}
#P364_88
{
left:0px;letter-spacing:0px;margin-left:-0.1px;
}
#P364_89
{
left:10451.6px;bottom:23043.9px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P364_90
{
left:10177.7px;bottom:37724.2px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P364_91
{
left:13602.8px;bottom:37916px;color:rgb(255,223,126);
}
#P364_92
{
left:14195.7px;bottom:37724.2px;word-spacing:175.5px;color:white;
}
#P364_93
{
left:15267.9px;bottom:37916px;color:white;
}
#P364_94
{
left:15508.1px;bottom:37724.2px;color:white;
}
#P364_95
{
left:15844.1px;bottom:37916px;color:white;
}
#P364_96
{
left:16084.3px;bottom:37724.2px;color:white;
}
#P364_97
{
left:21334.9px;bottom:37916px;color:white;
}
#P364_98
{
left:21575.1px;bottom:37724.2px;color:white;
}
#P364_99
{
left:8437.27px;bottom:37600.7px;
}
#P364_100
{
left:8437.27px;bottom:37600.7px;color:white;
}
#P364_101
{
left:9249.24px;bottom:18098.5px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P364_102
{
left:0px;letter-spacing:0.4px;margin-left:14.1px;
}
#P364_103
{
left:0px;letter-spacing:-14px;margin-left:-42.5px;
}
#P364_104
{
left:0px;letter-spacing:-0.3px;margin-left:7.1px;
}
#P364_105
{
left:0px;letter-spacing:-0.4px;margin-left:0.3px;
}
#P364_106
{
left:0px;letter-spacing:0px;margin-left:-27.6px;
}
#P364_107
{
left:9249.24px;bottom:17202.5px;letter-spacing:-31.6px;color:rgb(35,31,31);
}
#P364_108
{
left:0px;letter-spacing:-1.2px;margin-left:31.6px;
}
#P364_109
{
left:0px;letter-spacing:-52.7px;margin-left:-26.9px;
}
#P364_110
{
left:0px;letter-spacing:0px;margin-left:52.7px;
}
#P364_111
{
left:9249.24px;bottom:15922.5px;word-spacing:-147.8px;color:rgb(35,31,31);
}
#P364_112
{
left:10401.2px;bottom:15922.5px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P364_113
{
left:0px;letter-spacing:-2px;margin-left:1.2px;
}
#P364_114
{
left:0px;letter-spacing:-0.4px;margin-left:-12px;
}
#P364_115
{
left:10401.2px;bottom:15026.5px;color:rgb(35,31,31);
}
#P364_116
{
left:0px;letter-spacing:0px;margin-left:-42px;
}
#P364_117
{
left:10401.2px;bottom:14130.6px;color:rgb(35,31,31);
}
#P364_118
{
left:12055.6px;bottom:14130.6px;color:rgb(35,31,31);
}
#P364_119
{
left:12418.8px;bottom:14130.6px;letter-spacing:-5.6px;color:rgb(35,31,31);
}
#P364_120
{
left:0px;letter-spacing:-1.1px;margin-left:5.6px;
}
#P364_121
{
left:0px;letter-spacing:0px;margin-left:1.1px;
}
#P364_122
{
left:9249.24px;bottom:12210.5px;color:rgb(35,31,31);
}
#P364_123
{
left:12321.2px;bottom:12091.9px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P364_124
{
left:12342.4px;bottom:12531.6px;color:rgb(35,31,31);
}
#P364_125
{
left:12678.1px;bottom:12109.5px;color:rgb(35,31,31);
}
#P364_126
{
left:12321.2px;bottom:12075.9px;color:rgb(35,31,31);
}
#P364_127
{
left:12699.2px;bottom:12093.2px;color:rgb(35,31,31);
}
#P364_128
{
left:12342.4px;bottom:11624.1px;color:rgb(35,31,31);
}
#P364_129
{
left:12678.1px;bottom:12109.5px;color:rgb(35,31,31);
}
#P364_130
{
left:12741.5px;bottom:12091.9px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P364_131
{
left:12829.5px;bottom:12091.9px;color:rgb(35,31,31);
}
#P364_132
{
left:13192.7px;bottom:12091.9px;color:rgb(35,31,31);
}
#P364_133
{
left:13439.1px;bottom:12155.9px;color:rgb(35,31,31);
}
#P364_134
{
left:14086.8px;bottom:12091.9px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P364_135
{
left:15265.2px;bottom:12210.5px;color:rgb(35,31,31);
}
#P364_136
{
left:18145.2px;bottom:12105.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P364_137
{
left:18166.3px;bottom:12545.1px;color:rgb(35,31,31);
}
#P364_138
{
left:18502.1px;bottom:12123.1px;color:rgb(35,31,31);
}
#P364_139
{
left:18145.2px;bottom:12089.4px;color:rgb(35,31,31);
}
#P364_140
{
left:18523.2px;bottom:12106.7px;color:rgb(35,31,31);
}
#P364_141
{
left:18166.3px;bottom:11637.6px;color:rgb(35,31,31);
}
#P364_142
{
left:18502.1px;bottom:12123.1px;color:rgb(35,31,31);
}
#P364_143
{
left:18565.5px;bottom:12105.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P364_144
{
left:18653.5px;bottom:12105.5px;color:rgb(35,31,31);
}
#P364_145
{
left:19016.7px;bottom:12105.5px;color:rgb(35,31,31);
}
#P364_146
{
left:19263.1px;bottom:12281.5px;color:rgb(35,31,31);
}
#P364_147
{
left:19737.6px;bottom:12105.5px;color:rgb(35,31,31);
}
#P364_148
{
left:9249.24px;bottom:9138.41px;color:rgb(35,31,31);
}
#P364_149
{
left:12321.2px;bottom:9011.95px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P364_150
{
left:12342.4px;bottom:9451.63px;color:rgb(35,31,31);
}
#P364_151
{
left:12678.1px;bottom:9029.55px;color:rgb(35,31,31);
}
#P364_152
{
left:12321.2px;bottom:8995.94px;color:rgb(35,31,31);
}
#P364_153
{
left:12699.2px;bottom:9013.22px;color:rgb(35,31,31);
}
#P364_154
{
left:12342.4px;bottom:8544.11px;color:rgb(35,31,31);
}
#P364_155
{
left:12678.1px;bottom:9029.55px;color:rgb(35,31,31);
}
#P364_156
{
left:12741.5px;bottom:9011.95px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P364_157
{
left:12829.5px;bottom:9011.95px;color:rgb(35,31,31);
}
#P364_158
{
left:13192.7px;bottom:9011.95px;color:rgb(35,31,31);
}
#P364_159
{
left:13439.1px;bottom:9075.95px;color:rgb(35,31,31);
}
#P364_160
{
left:14086.8px;bottom:9011.95px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P364_161
{
left:15265.2px;bottom:9138.48px;color:rgb(35,31,31);
}
#P364_162
{
left:18145.2px;bottom:9011.95px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P364_163
{
left:18166.3px;bottom:9451.63px;color:rgb(35,31,31);
}
#P364_164
{
left:18502.1px;bottom:9029.55px;color:rgb(35,31,31);
}
#P364_165
{
left:18145.2px;bottom:8995.94px;color:rgb(35,31,31);
}
#P364_166
{
left:18523.2px;bottom:9013.22px;color:rgb(35,31,31);
}
#P364_167
{
left:18166.3px;bottom:8544.11px;color:rgb(35,31,31);
}
#P364_168
{
left:18502.1px;bottom:9029.55px;color:rgb(35,31,31);
}
#P364_169
{
left:18537.3px;bottom:9011.95px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P364_170
{
left:18625.3px;bottom:9011.95px;color:rgb(35,31,31);
}
#P364_171
{
left:18988.6px;bottom:9011.95px;color:rgb(35,31,31);
}
#P364_172
{
left:19235px;bottom:9187.95px;color:rgb(35,31,31);
}
#P364_173
{
left:19709.5px;bottom:9011.95px;color:rgb(35,31,31);
}
#P364_174
{
left:9249.24px;bottom:6898.48px;letter-spacing:-6.9px;word-spacing:-140.9px;color:rgb(35,31,31);
}
#P364_175
{
left:10401.2px;bottom:6898.48px;letter-spacing:-0.7px;word-spacing:0.3px;color:rgb(35,31,31);
}
#P364_176
{
left:19502px;bottom:6898.48px;color:rgb(35,31,31);
}
#P364_177
{
left:19865.2px;bottom:6898.48px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P364_178
{
left:10401.2px;bottom:6002.48px;letter-spacing:-2.5px;color:rgb(35,31,31);
}
#P364_179
{
left:0px;letter-spacing:-0.4px;margin-left:2.5px;
}
#P364_180
{
left:9249.24px;bottom:4722.48px;word-spacing:-147.8px;color:rgb(35,31,31);
}
#P364_181
{
left:10401.2px;bottom:4722.48px;letter-spacing:-2px;color:rgb(35,31,31);
}
#P364_182
{
left:0px;letter-spacing:0.1px;margin-left:2px;
}
#P364_183
{
left:10401.2px;bottom:3826.5px;letter-spacing:-1.6px;color:rgb(35,31,31);
}
#P364_184
{
left:0px;letter-spacing:0px;margin-left:1.6px;
}
#P364_185
{
left:10127.4px;bottom:19658.7px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P364_186
{
left:13552.5px;bottom:19850.5px;color:rgb(255,223,126);
}
#P364_187
{
left:14145.4px;bottom:19658.7px;word-spacing:175.5px;color:white;
}
#P364_188
{
left:15217.6px;bottom:19850.5px;color:white;
}
#P364_189
{
left:15457.8px;bottom:19658.7px;color:white;
}
#P364_190
{
left:15793.9px;bottom:19850.5px;color:white;
}
#P364_191
{
left:16034.1px;bottom:19658.7px;color:white;
}
#P364_192
{
left:21284.6px;bottom:19850.5px;color:white;
}
#P364_193
{
left:21524.8px;bottom:19658.7px;color:white;
}
#P364_194
{
left:8386.97px;bottom:19535.1px;
}
#P364_195
{
left:8386.97px;bottom:19535.1px;color:white;
}
#P364_196
{
left:4301.34px;bottom:13360.5px;color:rgb(35,31,31);
}
#P364_197
{
left:4674.39px;bottom:13388.9px;letter-spacing:-10.2px;color:rgb(35,31,31);
}
#P364_198
{
left:6691.93px;bottom:13360.5px;color:rgb(35,31,31);
}
#P364_199
{
left:4301.34px;bottom:12656.5px;letter-spacing:-14.1px;color:rgb(35,31,31);
}
#P364_200
{
left:5012.31px;bottom:12684.9px;letter-spacing:-10.4px;color:rgb(35,31,31);
}
#P364_201
{
left:2365.37px;bottom:11788px;letter-spacing:2px;word-spacing:-7.8px;color:rgb(35,31,31);
}
#P364_202
{
left:2365.37px;bottom:11004.8px;letter-spacing:-3.3px;word-spacing:-0.7px;color:rgb(35,31,31);
}
#P364_203
{
left:0px;letter-spacing:-0.3px;margin-left:2.4px;
}
#P364_204
{
left:0px;letter-spacing:-3.1px;margin-left:-4.5px;
}
#P364_205
{
left:2365.37px;bottom:10383px;color:rgb(35,31,31);
}
#P364_206
{
left:2615.28px;bottom:10164.8px;color:rgb(35,31,31);
}
#P364_207
{
left:2959.09px;bottom:10204.8px;letter-spacing:-2px;word-spacing:-129.7px;color:rgb(35,31,31);
}
#P364_208
{
left:0px;letter-spacing:0px;margin-left:126.3px;
}
#P364_209
{
left:0px;letter-spacing:-0.7px;margin-left:-0.8px;
}
#P364_210
{
left:2960.24px;bottom:9564.78px;letter-spacing:-1.6px;word-spacing:-5.7px;color:rgb(35,31,31);
}
#P364_211
{
left:0px;letter-spacing:-1px;margin-left:-0.3px;
}
#P364_212
{
left:0px;letter-spacing:0.3px;margin-left:-3.1px;
}
#P364_213
{
left:2960.24px;bottom:8924.78px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P364_214
{
left:0px;letter-spacing:0px;margin-left:3.9px;
}
#P364_215
{
left:2365.37px;bottom:8431.02px;color:rgb(35,31,31);
}
#P364_216
{
left:2615.28px;bottom:8212.78px;color:rgb(35,31,31);
}
#P364_217
{
left:2960.24px;bottom:8252.78px;letter-spacing:-130.5px;word-spacing:-0.1px;color:rgb(35,31,31);
}
#P364_218
{
left:0px;letter-spacing:-2.6px;margin-left:129.9px;
}
#P364_219
{
left:0px;letter-spacing:-3.3px;margin-left:4.9px;
}
#P364_220
{
left:0px;letter-spacing:-0.2px;margin-left:-2px;
}
#P364_221
{
left:2960.24px;bottom:7612.78px;letter-spacing:-0.5px;word-spacing:-0.6px;color:rgb(35,31,31);
}
#P364_222
{
left:0px;letter-spacing:-1.2px;margin-left:124.4px;
}
#P364_223
{
left:0px;letter-spacing:-0.8px;margin-left:124.9px;
}
#P364_224
{
left:2960.24px;bottom:6972.78px;letter-spacing:-1.8px;word-spacing:-2.4px;color:rgb(35,31,31);
}
#P364_225
{
left:0px;letter-spacing:0.9px;margin-left:2.1px;
}
#P364_226
{
left:2365.37px;bottom:6479.02px;color:rgb(35,31,31);
}
#P364_227
{
left:2615.28px;bottom:6260.78px;color:rgb(35,31,31);
}
#P364_228
{
left:2960.24px;bottom:6300.78px;letter-spacing:-130.6px;color:rgb(35,31,31);
}
#P364_229
{
left:0px;letter-spacing:-1.7px;margin-left:131.9px;
}
#P364_230
{
left:0px;letter-spacing:-2.7px;margin-left:5.6px;
}
#P364_231
{
left:0px;letter-spacing:0.6px;margin-left:3.2px;
}
#P364_232
{
left:2365.38px;bottom:5532.78px;letter-spacing:-0.3px;word-spacing:-5.8px;color:rgb(35,31,31);
}
#P364_233
{
left:0px;letter-spacing:0.3px;margin-left:7.6px;
}
#P364_234
{
left:2365.38px;bottom:4892.72px;letter-spacing:0.6px;color:rgb(35,31,31);
}
#P364_235
{
left:2365.38px;bottom:4252.65px;letter-spacing:1.6px;color:rgb(35,31,31);
}
#PageContainer364
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg364.jpg");background-repeat:no-repeat;background-size: 1066px 1150px; background-position: 1px -0.480000000000018px;
}
#ImageContainer364 {bottom:214.48px;right:0.00px;width:1066.24px;height:1149.68px;position:absolute;} #TextContainer364 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.rpj{ position: absolute; top: 215px; left: 158px;}
.srpj{ position: absolute; top: 214px; left: 109px;}
.math_paper{ position: absolute; top: 316px; left: 164px;}
.math_tool{ position: absolute; top: 311px; left: 109px;}
.geo{position: absolute;top: 364px;left: 155px;}
.geo1{position: absolute;top: 795px;left: 155px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}