.tr528{ color:transparent;}
#P528_1
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P528_2
{
left:3540.44px;bottom:1410.03px;color:rgb(35,31,31);
}
#P528_3
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P528_4
{
left:8197.72px;bottom:1410.03px;letter-spacing:462.1px;color:rgb(35,31,31);
}
#P528_5
{
left:0px;letter-spacing:4.9px;margin-left:-459.2px;
}
#P528_6
{
left:6977.56px;bottom:46189.1px;color:white;
}
#P528_7
{
left:7874.01px;bottom:46487.5px;color:white;
}
#P528_8
{
left:8247.64px;bottom:46189.1px;color:white;
}
#P528_9
{
left:8945.18px;bottom:46487.5px;color:white;
}
#P528_10
{
left:9318.81px;bottom:46189.1px;color:white;
}
#P528_11
{
left:10090.3px;bottom:46487.5px;color:white;
}
#P528_12
{
left:10463.9px;bottom:46189.1px;letter-spacing:-1.3px;color:white;
}
#P528_13
{
left:3459.78px;bottom:46161.9px;color:white;
}
#P528_14
{
left:9245.08px;bottom:35937.3px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P528_15
{
left:0px;letter-spacing:0.4px;margin-left:14.1px;
}
#P528_16
{
left:0px;letter-spacing:-14px;margin-left:-42.5px;
}
#P528_17
{
left:0px;letter-spacing:0px;margin-left:-17.6px;
}
#P528_18
{
left:0px;letter-spacing:0px;
}
#P528_19
{
left:24237px;bottom:35937.3px;word-spacing:77.1px;color:rgb(35,31,31);
}
#P528_20
{
left:25259.9px;bottom:35889px;color:rgb(35,31,31);
}
#P528_21
{
left:25899.7px;bottom:35937.3px;color:rgb(35,31,31);
}
#P528_22
{
left:26836px;bottom:35907.7px;color:rgb(35,31,31);
}
#P528_23
{
left:27422.4px;bottom:35937.3px;color:rgb(35,31,31);
}
#P528_24
{
left: 10599.08px;bottom:25825.3px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P528_25
{
left:0px;letter-spacing:-1px;margin-left:-549.8px;
}
#P528_26
{
left:0px;letter-spacing:0px;margin-left:-13px;
}
#P528_27
{
left:17778.9px;bottom:25825.3px;letter-spacing:-0.2px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P528_28
{
left:0px;letter-spacing:-0.1px;margin-left:-27.8px;
}
#P528_29
{
left:28268.1px;bottom:25795.7px;color:rgb(35,31,31);
}
#P528_30
{
left:28854.5px;bottom:25825.3px;color:rgb(35,31,31);
}
#P528_31
{
left:29759.1px;bottom:25795.7px;color:rgb(35,31,31);
}
#P528_32
{
left:30345.6px;bottom:25825.3px;color:rgb(35,31,31);
}
#P528_33
{
left:31035.4px;bottom:25795.7px;color:rgb(35,31,31);
}
#P528_34
{
left:31621.8px;bottom:25825.3px;color:rgb(35,31,31);
}
#P528_35
{
left:33124.2px;bottom:25697.3px;color:rgb(35,31,31);
}
#P528_36
{
left:33212.2px;bottom:25825.3px;color:rgb(35,31,31);
}
#P528_37
{
left:10123.3px;bottom:37722.9px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P528_38
{
left:13548.4px;bottom:37914.7px;color:rgb(255,223,126);
}
#P528_39
{
left:13741.1px;bottom:37722.9px;letter-spacing:207.4px;color:white;
}
#P528_40
{
left:14749.4px;bottom:37914.7px;color:white;
}
#P528_41
{
left:14989.6px;bottom:37722.9px;color:white;
}
#P528_42
{
left:15438px;bottom:37914.7px;color:white;
}
#P528_43
{
left:15678.2px;bottom:37722.9px;color:white;
}
#P528_44
{
left:16174.2px;bottom:37914.7px;color:white;
}
#P528_45
{
left:16414.4px;bottom:37722.9px;letter-spacing:-0.7px;color:white;
}
#P528_46
{
left:21719.4px;bottom:37914.7px;color:white;
}
#P528_47
{
left:21959.6px;bottom:37722.9px;color:white;
}
#P528_48
{
left:23577px;bottom:37914.7px;color:white;
}
#P528_49
{
left:23817.2px;bottom:37722.9px;letter-spacing:-1.9px;color:white;
}
#P528_50
{
left:27210.3px;bottom:37914.7px;color:white;
}
#P528_51
{
left:27450.5px;bottom:37722.9px;color:white;
}
#P528_52
{
left:8382.87px;bottom:37599.3px;
}
#P528_53
{
left:8382.87px;bottom:37599.3px;color:white;
}
#P528_54
{
left:18900.5px;bottom:41386.2px;letter-spacing:213.2px;color:rgb(35,31,31);
}
#P528_55
{
left:0px;letter-spacing:0px;margin-left:-213.2px;
}
#P528_56
{
left:29558.8px;bottom:41386.2px;color:rgb(35,31,31);
}
#P528_57
{
left:32101.7px;bottom:41386.2px;color:rgb(35,31,31);
}
#P528_58
{
left:7789.34px;bottom:40298.2px;color:rgb(35,31,31);
}
#P528_59
{
left:10645.5px;bottom:40298.2px;color:rgb(35,31,31);
}
#P528_60
{
left:11936.6px;bottom:40298.2px;color:rgb(35,31,31);
}
#P528_61
{
left:13384px;bottom:40298.2px;color:rgb(35,31,31);
}
#P528_62
{
left:14610.2px;bottom:31308.8px;color:white;
}
#P528_63
{
left:15386.7px;bottom:30615.5px;color:white;
}
#P528_64
{
left:14610.2px;bottom:29879.5px;color:white;
}
#P528_65
{
left:15386.7px;bottom:29186.2px;color:white;
}
#P528_66
{
left:14610.2px;bottom:28450.2px;color:white;
}
#P528_67
{
left:16210.2px;bottom:31308.8px;color:white;
}
#P528_68
{
left:16986.7px;bottom:30615.5px;color:white;
}
#P528_69
{
left:16210.2px;bottom:29879.5px;color:white;
}
#P528_70
{
left:16986.7px;bottom:29186.2px;color:white;
}
#P528_71
{
left:16210.2px;bottom:28450.2px;color:white;
}
#P528_72
{
left:17810.2px;bottom:31308.8px;color:white;
}
#P528_73
{
left:18586.7px;bottom:30615.5px;color:white;
}
#P528_74
{
left:17810.2px;bottom:29879.5px;color:white;
}
#P528_75
{
left:18586.7px;bottom:29186.2px;color:white;
}
#P528_76
{
left:17810.2px;bottom:28450.2px;color:white;
}
#P528_77
{
left:21963.7px;bottom:34186.5px;color:rgb(0,124,196);
}
#P528_78
{
left:21963.7px;bottom:33380.1px;letter-spacing:-0.9px;color:rgb(0,124,196);
}
#P528_79
{
left:14326.4px;bottom:34186.5px;color:rgb(0,124,196);
}
#P528_80
{
left:14326.4px;bottom:33380.1px;letter-spacing:-1.5px;color:rgb(0,124,196);
}
#P528_81
{
left:9238.68px;bottom:21242.2px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P528_82
{
left:0px;letter-spacing:0.4px;margin-left:14.1px;
}
#P528_83
{
left:0px;letter-spacing:-14px;margin-left:-42.5px;
}
#P528_84
{
left:0px;letter-spacing:0.1px;margin-left:1.4px;
}
#P528_85
{
left:23240.2px;bottom:20803.6px;color:rgb(35,31,31);
}
#P528_86
{
left:23591.9px;bottom:21242.2px;color:rgb(35,31,31);
}
#P528_87
{
left:24281.8px;bottom:21212.7px;color:rgb(35,31,31);
}
#P528_88
{
left:24868.2px;bottom:21242.2px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P528_89
{
left:9238.68px;bottom:20346.2px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P528_90
{
left:9238.68px;bottom:19071.9px;letter-spacing:-0.7px;word-spacing:-35.1px;color:rgb(35,31,31);
}
#P528_91
{
left:0px;letter-spacing:0px;margin-left:-41.4px;
}
#P528_92
{
left:12223.3px;bottom:19066.2px;color:rgb(35,31,31);
}
#P528_93
{
left:22870.8px;bottom:19071.9px;letter-spacing:-5.8px;word-spacing:-35.1px;color:rgb(35,31,31);
}
#P528_94
{
left:0px;letter-spacing:0px;margin-left:5.8px;
}
#P528_95
{
left:9238.81px;bottom:17786.2px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P528_95a
{
left: 22857.81px;bottom:17786.2px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P528_96
{
left:18655.2px;bottom:17658.2px;color:rgb(35,31,31);
}
#P528_97
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P528_98
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P528_99
{
left:0px;letter-spacing:0px;margin-left:-4.2px;
}
#P528_100
{
left:0px;letter-spacing:-70.4px;margin-left:1266.2px;
}
#P528_101
{
left:10526.7px;bottom:15994.2px;word-spacing:545.6px;color:rgb(35,31,31);
}
#P528_102
{
left:0px;letter-spacing:0px;margin-left:-8.4px;
}
#P528_103
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P528_104
{
left:0px;letter-spacing:0px;margin-left:-545.6px;
}
#P528_105
{
left:12526.9px;bottom:15964.7px;color:rgb(35,31,31);
}
#P528_106
{
left:13113.3px;bottom:15994.2px;color:rgb(35,31,31);
}
#P528_107
{
left:13803.2px;bottom:15964.7px;color:rgb(35,31,31);
}
#P528_108
{
left:14389.7px;bottom:15994.2px;color:rgb(35,31,31);
}
#P528_109
{
left:15902.4px;bottom:15866.2px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P528_110
{
left:24158.7px;bottom:15994.2px;word-spacing:545.6px;color:rgb(35,31,31);
}
#P528_111
{
left:0px;letter-spacing:0px;margin-left:-8.4px;
}
#P528_112
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P528_113
{
left:0px;letter-spacing:0px;margin-left:-545.6px;
}
#P528_114
{
left:26158.9px;bottom:15964.7px;color:rgb(35,31,31);
}
#P528_115
{
left:26745.3px;bottom:15994.2px;color:rgb(35,31,31);
}
#P528_116
{
left:27435.2px;bottom:15964.7px;color:rgb(35,31,31);
}
#P528_117
{
left:28021.7px;bottom:15994.2px;color:rgb(35,31,31);
}
#P528_118
{
left:29446.4px;bottom:15866.2px;letter-spacing:-70.4px;color:rgb(35,31,31);
}
#P528_119
{
left:10116.9px;bottom:22965px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P528_120
{
left:13542px;bottom:23156.8px;color:rgb(255,223,126);
}
#P528_121
{
left:14166.7px;bottom:22965px;word-spacing:207.4px;color:white;
}
#P528_122
{
left:16166.9px;bottom:23156.8px;color:white;
}
#P528_123
{
left:16407.1px;bottom:22965px;color:white;
}
#P528_124
{
left:16743.2px;bottom:23156.8px;color:white;
}
#P528_125
{
left:16983.4px;bottom:22965px;letter-spacing:-0.7px;color:white;
}
#P528_126
{
left:25740.2px;bottom:23156.8px;color:white;
}
#P528_127
{
left:25980.4px;bottom:22965px;color:white;
}
#P528_128
{
left:8376.47px;bottom:22841.5px;
}
#P528_129
{
left:8376.47px;bottom:22841.5px;color:white;
}
#P528_130
{
left:9187.48px;bottom:11152.7px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P528_131
{
left:0px;letter-spacing:0.4px;margin-left:14.1px;
}
#P528_132
{
left:0px;letter-spacing:-14px;margin-left:-42.5px;
}
#P528_133
{
left:0px;letter-spacing:0.1px;margin-left:1.4px;
}
#P528_134
{
left:22699.7px;bottom:11104.5px;color:rgb(35,31,31);
}
#P528_135
{
left:23339.4px;bottom:11152.7px;color:rgb(35,31,31);
}
#P528_136
{
left:23828.7px;bottom:10714.2px;color:rgb(35,31,31);
}
#P528_137
{
left:24180.4px;bottom:11152.7px;color:rgb(35,31,31);
}
#P528_138
{
left:24585.2px;bottom:11104.5px;color:rgb(35,31,31);
}
#P528_139
{
left:25225px;bottom:11152.7px;color:rgb(35,31,31);
}
#P528_140
{
left:26024px;bottom:11123.2px;color:rgb(35,31,31);
}
#P528_141
{
left:26610.5px;bottom:11152.7px;color:rgb(35,31,31);
}
#P528_142
{
left:9187.48px;bottom:10256.7px;letter-spacing:-1.6px;color:rgb(35,31,31);
}
#P528_143
{
left:0px;letter-spacing:-5.6px;margin-left:1.6px;
}
#P528_144
{
left:0px;letter-spacing:14px;margin-left:-36.5px;
}
#P528_145
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P528_146
{
left:9187.48px;bottom:8982.38px;letter-spacing:-0.7px;word-spacing:-35.1px;color:rgb(35,31,31);
}
#P528_147
{
left:0px;letter-spacing:0px;margin-left:-41.4px;
}
#P528_148
{
left:12172.1px;bottom:8976.75px;color:rgb(35,31,31);
}
#P528_149
{
left:22819.5px;bottom:8982.38px;letter-spacing:-5.8px;word-spacing:-35.1px;color:rgb(35,31,31);
}
#P528_150
{
left:0px;letter-spacing:0px;margin-left:5.8px;
}
#P528_151
{
left:9187.67px;bottom:7696.75px;color:rgb(35,31,31);
}
#P528_152
{
left:10092.3px;bottom:7667.18px;color:rgb(35,31,31);
}
#P528_153
{
left:10678.7px;bottom:7696.75px;color:rgb(35,31,31);
}
#P528_154
{
left:10837px;bottom:7528.82px;color:rgb(35,31,31);
}
#P528_155
{
left:11083.4px;bottom:7545.72px;color:rgb(35,31,31);
}
#P528_156
{
left:11139.7px;bottom:7568.75px;letter-spacing:1273.6px;color:rgb(35,31,31);
}
#P528_157
{
left:12659.7px;bottom:7696.75px;color:rgb(35,31,31);
}
#P528_158
{
left:12716px;bottom:7528.82px;color:rgb(35,31,31);
}
#P528_159
{
left:12962.4px;bottom:7696.75px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P528_160
{
left:13120.8px;bottom:7667.18px;color:rgb(35,31,31);
}
#P528_161
{
left:13707.2px;bottom:7696.75px;color:rgb(35,31,31);
}
#P528_162
{
left:15209.6px;bottom:7568.75px;color:rgb(35,31,31);
}
#P528_163
{
left:22819.4px;bottom:7696.75px;color:rgb(35,31,31);
}
#P528_164
{
left:23724.1px;bottom:7667.18px;color:rgb(35,31,31);
}
#P528_165
{
left:24310.5px;bottom:7696.75px;color:rgb(35,31,31);
}
#P528_166
{
left:24469px;bottom:7528.82px;color:rgb(35,31,31);
}
#P528_167
{
left:24715.4px;bottom:7545.72px;color:rgb(35,31,31);
}
#P528_168
{
left:24771.7px;bottom:7568.75px;letter-spacing:1273.6px;color:rgb(35,31,31);
}
#P528_169
{
left:26291.7px;bottom:7696.75px;color:rgb(35,31,31);
}
#P528_170
{
left:26348px;bottom:7528.82px;color:rgb(35,31,31);
}
#P528_171
{
left:26594.4px;bottom:7696.75px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P528_172
{
left:26752.8px;bottom:7667.18px;color:rgb(35,31,31);
}
#P528_173
{
left:27339.2px;bottom:7696.75px;color:rgb(35,31,31);
}
#P528_174
{
left:28841.6px;bottom:7568.75px;color:rgb(35,31,31);
}
#P528_175
{
left:9771.48px;bottom:5936.75px;color:rgb(35,31,31);
}
#P528_176
{
left:10347.5px;bottom:5904.75px;color:rgb(35,31,31);
}
#P528_177
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P528_178
{
left:0px;letter-spacing:0px;margin-left:-12.5px;
}
#P528_179
{
left:0px;letter-spacing:0px;
}
#P528_180
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P528_181
{
left:0px;letter-spacing:0px;margin-left:-4.1px;
}
#P528_182
{
left:0px;letter-spacing:0px;margin-left:3071.8px;
}
#P528_183
{
left:0px;letter-spacing:0px;margin-left:-17.5px;
}
#P528_184
{
left:0px;letter-spacing:0px;
}
#P528_185
{
left:0px;letter-spacing:0px;margin-left:3071.9px;
}
#P528_186
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P528_187
{
left: 10227.48px;bottom:4496.75px;color:rgb(35,31,31);
}
#P528_188
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P528_189
{
left:0px;letter-spacing:0px;margin-left:-4.2px;
}
#P528_190
{
left:0px;letter-spacing:0px;margin-left:3072px;
}
#P528_191
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P528_192
{
left:10065.7px;bottom:12938.3px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P528_193
{
left:13490.8px;bottom:13130.2px;color:rgb(255,223,126);
}
#P528_194
{
left:13683.5px;bottom:12938.3px;letter-spacing:207.4px;color:white;
}
#P528_195
{
left:14691.8px;bottom:13130.2px;color:white;
}
#P528_196
{
left:14932px;bottom:12938.3px;color:white;
}
#P528_197
{
left:15380.4px;bottom:13130.2px;color:white;
}
#P528_198
{
left:15620.6px;bottom:12938.3px;color:white;
}
#P528_199
{
left:16116.6px;bottom:13130.2px;color:white;
}
#P528_200
{
left:16356.8px;bottom:12938.3px;letter-spacing:-0.7px;color:white;
}
#P528_201
{
left:21661.8px;bottom:13130.2px;color:white;
}
#P528_202
{
left:21902px;bottom:12938.3px;color:white;
}
#P528_203
{
left:23519.4px;bottom:13130.2px;color:white;
}
#P528_204
{
left:23759.6px;bottom:12938.3px;letter-spacing:-1.9px;color:white;
}
#P528_205
{
left:27152.7px;bottom:13130.2px;color:white;
}
#P528_206
{
left:27392.9px;bottom:12938.3px;color:white;
}
#P528_207
{
left:8325.27px;bottom:12814.8px;
}
#P528_208
{
left:8325.27px;bottom:12814.8px;color:white;
}
#P528_209
{
left:4301.34px;bottom:13360.5px;color:rgb(35,31,31);
}
#P528_210
{
left:4674.39px;bottom:13388.9px;letter-spacing:-10.2px;color:rgb(35,31,31);
}
#P528_211
{
left:6691.93px;bottom:13360.5px;color:rgb(35,31,31);
}
#P528_212
{
left:4301.34px;bottom:12656.5px;letter-spacing:-14.1px;color:rgb(35,31,31);
}
#P528_213
{
left:5012.31px;bottom:12684.9px;letter-spacing:-10.4px;color:rgb(35,31,31);
}
#P528_214
{
left:2365.37px;bottom:11788px;letter-spacing:3px;color:rgb(35,31,31);
}
#P528_215
{
left:2365.37px;bottom:11004.8px;letter-spacing:-3.3px;word-spacing:-0.7px;color:rgb(35,31,31);
}
#P528_216
{
left:0px;letter-spacing:-0.3px;margin-left:2.4px;
}
#P528_217
{
left:0px;letter-spacing:-3.1px;margin-left:-4.5px;
}
#P528_218
{
left:2365.37px;bottom:10383px;color:rgb(35,31,31);
}
#P528_219
{
left:2615.28px;bottom:10164.8px;color:rgb(35,31,31);
}
#P528_220
{
left:2959.26px;bottom:10204.8px;letter-spacing:0.4px;word-spacing:-132px;color:rgb(35,31,31);
}
#P528_221
{
left:0px;letter-spacing:0px;margin-left:126.1px;
}
#P528_222
{
left:0px;letter-spacing:1.9px;margin-left:-2.4px;
}
#P528_223
{
left:2365.37px;bottom:9711.02px;color:rgb(35,31,31);
}
#P528_224
{
left:2615.28px;bottom:9492.78px;letter-spacing:186.6px;color:rgb(35,31,31);
}
#P528_225
{
left:2960.24px;bottom:9532.78px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P528_226
{
left:0px;letter-spacing:-2.7px;margin-left:5.3px;
}
#P528_227
{
left:0px;letter-spacing:0.6px;margin-left:3.2px;
}
#P528_228
{
left:2365.38px;bottom:8764.78px;letter-spacing:-1.5px;word-spacing:-5.3px;color:rgb(35,31,31);
}
#P528_229
{
left:0px;letter-spacing:-0.1px;margin-left:8.7px;
}
#P528_230
{
left:2365.38px;bottom:8124.72px;letter-spacing:-18.4px;color:rgb(35,31,31);
}
#P528_231
{
left:0px;letter-spacing:2px;margin-left:21px;
}
#P528_232
{
left:2365.38px;bottom:7484.65px;letter-spacing:-18.4px;color:rgb(35,31,31);
}
#P528_233
{
left:0px;letter-spacing:5.5px;margin-left:21px;
}
#PageContainer528
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg528.jpg");background-repeat:no-repeat;background-size: 1066px 1241px; background-position: 1px -0.569999999999936px;
}
#ImageContainer528 {bottom:123.57px;right:0.00px;width:1066.24px;height:1240.59px;position:absolute;} #TextContainer528 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.rpj{position: absolute;top: 195px;left: 160px;}
.srpj{position: absolute;top: 197px;left: 107px;}
.math_paper_1{position: absolute;top: 295px;left: 116px;}
.math_paper_2{position: absolute;top: 293px;left: 162px;}

.math_paper_3{position: absolute;top: 353px;left: 129px;}
.math_tool{position: absolute;top: 347px;left: 176px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}