.tr524{ color:transparent;}
#P524_1
{
left:2365.4px;bottom:1525.23px;color:rgb(35,31,31);
}
#P524_2
{
left:3540.44px;bottom:1525.23px;color:rgb(35,31,31);
}
#P524_3
{
left:4925.4px;bottom:1525.23px;color:rgb(35,31,31);
}
#P524_4
{
left:8197.72px;bottom:1525.23px;letter-spacing:462.1px;color:rgb(35,31,31);
}
#P524_5
{
left:0px;letter-spacing:4.9px;margin-left:-459.2px;
}
#P524_6
{
left:5889.56px;bottom:46957.1px;color:white;
}
#P524_7
{
left:2371.78px;bottom:46929.9px;color:white;
}
#P524_8
{
left:11573.2px;bottom:30888.7px;letter-spacing:-3.9px;color:rgb(35,31,31);
}
#P524_9
{
left:13220.6px;bottom:30859.2px;color:rgb(35,31,31);
}
#P524_10
{
left:13807px;bottom:30888.7px;color:rgb(35,31,31);
}
#P524_11
{
left:14296.2px;bottom:30450.2px;color:rgb(35,31,31);
}
#P524_12
{
left:14648px;bottom:30888.7px;color:rgb(35,31,31);
}
#P524_13
{
left:15052.8px;bottom:30859.2px;color:rgb(35,31,31);
}
#P524_14
{
left:15639.3px;bottom:30888.7px;color:rgb(35,31,31);
}
#P524_15
{
left:11573.2px;bottom:27275.2px;letter-spacing:7632px;color:rgb(35,31,31);
}
#P524_16
{
left:19967.6px;bottom:27304.7px;color:rgb(35,31,31);
}
#P524_17
{
left:20446.4px;bottom:26866.2px;color:rgb(35,31,31);
}
#P524_18
{
left:20798.1px;bottom:27304.7px;color:rgb(35,31,31);
}
#P524_19
{
left:21202.9px;bottom:27275.2px;color:rgb(35,31,31);
}
#P524_20
{
left:21789.3px;bottom:27304.7px;color:rgb(35,31,31);
}
#P524_21
{
left:22567.3px;bottom:27275.2px;color:rgb(35,31,31);
}
#P524_22
{
left:23153.7px;bottom:27304.7px;color:rgb(35,31,31);
}
#P524_23
{
left:12221.2px;bottom:25410.3px;color:rgb(35,31,31);
}
#P524_24
{
left:12925.2px;bottom:25234.3px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P524_25
{
left:5477.91px;bottom:32656.2px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P524_26
{
left:12346.2px;bottom:32680.7px;color:white;
}
#P524_27
{
left:14139px;bottom:32872.6px;color:white;
}
#P524_28
{
left:14379.2px;bottom:32680.7px;color:white;
}
#P524_29
{
left:15563.7px;bottom:32872.6px;color:white;
}
#P524_30
{
left:15803.9px;bottom:32680.7px;letter-spacing:-0.7px;color:white;
}
#P524_31
{
left:21109.1px;bottom:32872.6px;color:white;
}
#P524_32
{
left:21349.3px;bottom:32680.7px;color:white;
}
#P524_33
{
left:26696.5px;bottom:32872.6px;color:white;
}
#P524_34
{
left:26936.7px;bottom:32680.7px;color:white;
}
#P524_35
{
left:10501.8px;bottom:32513.6px;
}
#P524_36
{
left:10501.8px;bottom:32513.6px;color:white;
}
#P524_37
{
left:13789.3px;bottom:29291.4px;letter-spacing:-8.3px;color:rgb(0,124,196);
}
#P524_38
{
left:0px;letter-spacing:0px;margin-left:8.3px;
}
#P524_39
{
left:26000.6px;bottom:26076.8px;color:rgb(0,124,196);
}
#P524_40
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P524_41
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P524_42
{
left:11613.4px;bottom:41798.4px;color:rgb(35,31,31);
}
#P524_43
{
left:13074.2px;bottom:41954.7px;color:rgb(35,31,31);
}
#P524_44
{
left:13269.9px;bottom:41798.4px;color:rgb(35,31,31);
}
#P524_45
{
left:14235.1px;bottom:41954.7px;color:rgb(35,31,31);
}
#P524_46
{
left:14430.8px;bottom:41798.4px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P524_47
{
left:18753.5px;bottom:41954.7px;color:rgb(35,31,31);
}
#P524_48
{
left:18949.2px;bottom:41798.4px;color:rgb(35,31,31);
}
#P524_49
{
left:23306.3px;bottom:41954.7px;color:rgb(35,31,31);
}
#P524_50
{
left:23502px;bottom:41798.4px;color:rgb(35,31,31);
}
#P524_51
{
left:11613.4px;bottom:40731.8px;letter-spacing:-5.4px;color:rgb(2,77,161);
}
#P524_52
{
left:13585.9px;bottom:40714.7px;letter-spacing:508.3px;color:rgb(35,31,31);
}
#P524_53
{
left:14289.9px;bottom:40690.7px;letter-spacing:-0.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P524_54
{
left:11613.4px;bottom:39547.8px;letter-spacing:8.1px;color:rgb(2,77,161);
}
#P524_55
{
left:14499.9px;bottom:39514.7px;color:rgb(35,31,31);
}
#P524_56
{
left:15171.9px;bottom:39538.7px;color:rgb(35,31,31);
}
#P524_57
{
left:15650.6px;bottom:39100.2px;color:rgb(35,31,31);
}
#P524_58
{
left:16002.4px;bottom:39538.7px;color:rgb(35,31,31);
}
#P524_59
{
left:16692.3px;bottom:39509.2px;color:rgb(35,31,31);
}
#P524_60
{
left:17278.7px;bottom:39538.7px;color:rgb(35,31,31);
}
#P524_61
{
left:20829.4px;bottom:39509.2px;color:rgb(35,31,31);
}
#P524_62
{
left:21415.8px;bottom:39538.7px;color:rgb(35,31,31);
}
#P524_63
{
left:21894.6px;bottom:39100.2px;color:rgb(35,31,31);
}
#P524_64
{
left:22246.3px;bottom:39538.7px;color:rgb(35,31,31);
}
#P524_65
{
left:22651.1px;bottom:39509.2px;color:rgb(35,31,31);
}
#P524_66
{
left:23237.5px;bottom:39538.7px;color:rgb(35,31,31);
}
#P524_67
{
left:24015.4px;bottom:39509.2px;color:rgb(35,31,31);
}
#P524_68
{
left:24601.9px;bottom:39538.7px;color:rgb(35,31,31);
}
#P524_69
{
left:11613.5px;bottom:38022.4px;color:rgb(35,31,31);
}
#P524_70
{
left:13074.3px;bottom:38178.7px;color:rgb(35,31,31);
}
#P524_71
{
left:13270px;bottom:38022.4px;color:rgb(35,31,31);
}
#P524_72
{
left:14235.2px;bottom:38178.7px;color:rgb(35,31,31);
}
#P524_73
{
left:14430.9px;bottom:38022.4px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P524_74
{
left:18753.6px;bottom:38178.7px;color:rgb(35,31,31);
}
#P524_75
{
left:18949.3px;bottom:38022.4px;color:rgb(35,31,31);
}
#P524_76
{
left:20267.2px;bottom:38178.7px;color:rgb(35,31,31);
}
#P524_77
{
left:20462.9px;bottom:38022.4px;letter-spacing:-1.6px;color:rgb(35,31,31);
}
#P524_78
{
left:23227.6px;bottom:38178.7px;color:rgb(35,31,31);
}
#P524_79
{
left:23423.3px;bottom:38022.4px;color:rgb(35,31,31);
}
#P524_80
{
left:11613.4px;bottom:36955.8px;letter-spacing:-5.4px;color:rgb(2,77,161);
}
#P524_81
{
left:13585.9px;bottom:36938.7px;letter-spacing:508.3px;color:rgb(35,31,31);
}
#P524_82
{
left:14289.9px;bottom:36914.7px;letter-spacing:-0.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P524_83
{
left:0px;letter-spacing:-0.8px;margin-left:0.5px;
}
#P524_84
{
left:11613.4px;bottom:35771.8px;letter-spacing:8.1px;color:rgb(2,77,161);
}
#P524_85
{
left:14499.9px;bottom:35738.7px;color:rgb(35,31,31);
}
#P524_86
{
left:15171.9px;bottom:35730.7px;color:rgb(35,31,31);
}
#P524_87
{
left:15545px;bottom:35762.9px;color:rgb(35,31,31);
}
#P524_88
{
left:15650.6px;bottom:35324.2px;color:rgb(35,31,31);
}
#P524_89
{
left:16002.4px;bottom:35762.7px;color:rgb(35,31,31);
}
#P524_90
{
left:16407.2px;bottom:35733.2px;color:rgb(35,31,31);
}
#P524_91
{
left:16993.6px;bottom:35762.7px;color:rgb(35,31,31);
}
#P524_92
{
left:17771.5px;bottom:35733.2px;color:rgb(35,31,31);
}
#P524_93
{
left:18358px;bottom:35762.7px;color:rgb(35,31,31);
}
#P524_94
{
left:18516.4px;bottom:35733.2px;color:rgb(35,31,31);
}
#P524_95
{
left:19102.7px;bottom:35762.7px;color:rgb(35,31,31);
}
#P524_96
{
left:20829.4px;bottom:35733.2px;color:rgb(35,31,31);
}
#P524_97
{
left:21415.8px;bottom:35762.7px;color:rgb(35,31,31);
}
#P524_98
{
left:21894.6px;bottom:35324.2px;color:rgb(35,31,31);
}
#P524_99
{
left:22246.3px;bottom:35762.7px;color:rgb(35,31,31);
}
#P524_100
{
left:22936.2px;bottom:35733.2px;color:rgb(35,31,31);
}
#P524_101
{
left:23522.6px;bottom:35762.7px;color:rgb(35,31,31);
}
#P524_102
{
left:23681px;bottom:35733.2px;color:rgb(35,31,31);
}
#P524_103
{
left:24267.5px;bottom:35762.7px;color:rgb(35,31,31);
}
#P524_104
{
left:5709.4px;bottom:8146.16px;color:rgb(35,31,31);
}
#P524_105
{
left:0px;letter-spacing:0px;margin-left:-66.2px;
}
#P524_106
{
left:11596.6px;bottom:21020.8px;color:rgb(35,31,31);
}
#P524_107
{
left:0px;letter-spacing:0px;margin-left:-25.3px;
}
#P524_108
{
left:0px;letter-spacing:0px;margin-left:-50.6px;
}
#P524_109
{
left:11596.6px;bottom:19868.8px;color:rgb(35,31,31);
}
#P524_110
{
left:12067px;bottom:19876.8px;color:rgb(35,31,31);
}
#P524_111
{
left:12620.6px;bottom:19895.6px;color:rgb(35,31,31);
}
#P524_112
{
left:13260.6px;bottom:19868.8px;color:rgb(35,31,31);
}
#P524_113
{
left:13880.2px;bottom:19839.2px;color:rgb(35,31,31);
}
#P524_114
{
left:14466.6px;bottom:19868.8px;color:rgb(35,31,31);
}
#P524_115
{
left:22528.5px;bottom:19876.8px;letter-spacing:-6.6px;color:rgb(35,31,31);
}
#P524_116
{
left:23116.6px;bottom:19895.6px;color:rgb(35,31,31);
}
#P524_117
{
left:23692.6px;bottom:19839.2px;color:rgb(35,31,31);
}
#P524_118
{
left:24279.1px;bottom:19868.8px;color:rgb(35,31,31);
}
#P524_119
{
left:24757.8px;bottom:19430.2px;color:rgb(35,31,31);
}
#P524_120
{
left:25109.6px;bottom:19868.8px;color:rgb(35,31,31);
}
#P524_121
{
left:13132.6px;bottom:16284.8px;word-spacing:2145.6px;color:rgb(35,31,31);
}
#P524_122
{
left:13752.1px;bottom:16255.2px;color:rgb(35,31,31);
}
#P524_123
{
left:14338.5px;bottom:16284.8px;color:rgb(35,31,31);
}
#P524_124
{
left:15116.4px;bottom:16255.2px;color:rgb(35,31,31);
}
#P524_125
{
left:15702.9px;bottom:16284.8px;color:rgb(35,31,31);
}
#P524_126
{
left:15861.3px;bottom:16255.2px;color:rgb(35,31,31);
}
#P524_127
{
left:16447.7px;bottom:16284.8px;color:rgb(35,31,31);
}
#P524_128
{
left:23756.6px;bottom:16255.2px;color:rgb(35,31,31);
}
#P524_129
{
left:24343px;bottom:16284.8px;color:rgb(35,31,31);
}
#P524_130
{
left:24821.8px;bottom:15846.2px;color:rgb(35,31,31);
}
#P524_131
{
left:25173.6px;bottom:16284.8px;color:rgb(35,31,31);
}
#P524_132
{
left:25863.5px;bottom:16255.2px;color:rgb(35,31,31);
}
#P524_133
{
left:26449.9px;bottom:16284.8px;color:rgb(35,31,31);
}
#P524_134
{
left:26608.3px;bottom:16255.2px;color:rgb(35,31,31);
}
#P524_135
{
left:27194.7px;bottom:16284.8px;color:rgb(35,31,31);
}
#P524_136
{
left:11660.6px;bottom:12657.6px;color:rgb(35,31,31);
}
#P524_137
{
left:13780.6px;bottom:12854.4px;color:rgb(35,31,31);
}
#P524_138
{
left:14484.6px;bottom:12678.4px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P524_139
{
left:19124.9px;bottom:12648.9px;color:rgb(35,31,31);
}
#P524_140
{
left:19697px;bottom:12678.4px;color:rgb(35,31,31);
}
#P524_141
{
left:24276.6px;bottom:12854.4px;color:rgb(35,31,31);
}
#P524_142
{
left:24980.6px;bottom:12678.4px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P524_143
{
left:29620.9px;bottom:12648.9px;color:rgb(35,31,31);
}
#P524_144
{
left:30193px;bottom:12678.4px;color:rgb(35,31,31);
}
#P524_145
{
left:11596.7px;bottom:9222.44px;color:rgb(35,31,31);
}
#P524_146
{
left:0px;letter-spacing:0px;margin-left:-25px;
}
#P524_147
{
left:0px;letter-spacing:0px;margin-left:-49.9px;
}
#P524_148
{
left:11596.7px;bottom:8070.44px;color:rgb(35,31,31);
}
#P524_149
{
left:11744.2px;bottom:8097.26px;color:rgb(35,31,31);
}
#P524_150
{
left:12748.6px;bottom:8070.44px;color:rgb(35,31,31);
}
#P524_151
{
left:13215.7px;bottom:7631.87px;color:rgb(35,31,31);
}
#P524_152
{
left:13567.4px;bottom:8070.44px;color:rgb(35,31,31);
}
#P524_153
{
left:23127px;bottom:8097.26px;color:rgb(35,31,31);
}
#P524_154
{
left:24140.6px;bottom:8070.44px;color:rgb(35,31,31);
}
#P524_155
{
left:11596.6px;bottom:6726.44px;color:rgb(35,31,31);
}
#P524_156
{
left:11735px;bottom:6753.26px;color:rgb(35,31,31);
}
#P524_157
{
left:12748.6px;bottom:6696.88px;color:rgb(35,31,31);
}
#P524_158
{
left:13335.1px;bottom:6726.44px;color:rgb(35,31,31);
}
#P524_159
{
left:13954.6px;bottom:6696.88px;color:rgb(35,31,31);
}
#P524_160
{
left:14541px;bottom:6726.44px;color:rgb(35,31,31);
}
#P524_161
{
left:23127px;bottom:6753.26px;color:rgb(35,31,31);
}
#P524_162
{
left:24140.6px;bottom:6696.88px;color:rgb(35,31,31);
}
#P524_163
{
left:24727.1px;bottom:6726.44px;color:rgb(35,31,31);
}
#P524_164
{
left:25205.8px;bottom:6287.87px;color:rgb(35,31,31);
}
#P524_165
{
left:25557.6px;bottom:6726.44px;color:rgb(35,31,31);
}
#P524_166
{
left:25962.4px;bottom:6696.88px;color:rgb(35,31,31);
}
#P524_167
{
left:26548.8px;bottom:6726.44px;color:rgb(35,31,31);
}
#P524_168
{
left:11596.6px;bottom:5382.44px;color:rgb(35,31,31);
}
#P524_169
{
left:11735px;bottom:5409.26px;color:rgb(35,31,31);
}
#P524_170
{
left:12748.6px;bottom:5382.44px;color:rgb(35,31,31);
}
#P524_171
{
left:13600.5px;bottom:4943.87px;color:rgb(35,31,31);
}
#P524_172
{
left:13952.3px;bottom:5382.44px;color:rgb(35,31,31);
}
#P524_173
{
left:14357.1px;bottom:5352.88px;color:rgb(35,31,31);
}
#P524_174
{
left:14943.5px;bottom:5382.44px;color:rgb(35,31,31);
}
#P524_175
{
left:23127px;bottom:5409.26px;color:rgb(35,31,31);
}
#P524_176
{
left:24140.6px;bottom:5382.44px;color:rgb(35,31,31);
}
#P524_177
{
left:24760.2px;bottom:5352.88px;color:rgb(35,31,31);
}
#P524_178
{
left:25346.6px;bottom:5382.44px;color:rgb(35,31,31);
}
#P524_179
{
left:11596.6px;bottom:4038.44px;color:rgb(35,31,31);
}
#P524_180
{
left:11735px;bottom:4065.26px;color:rgb(35,31,31);
}
#P524_181
{
left:12748.6px;bottom:4008.88px;color:rgb(35,31,31);
}
#P524_182
{
left:13335.1px;bottom:4038.44px;color:rgb(35,31,31);
}
#P524_183
{
left:14327.7px;bottom:4008.88px;color:rgb(35,31,31);
}
#P524_184
{
left:14914.1px;bottom:4038.44px;color:rgb(35,31,31);
}
#P524_185
{
left:23127px;bottom:4065.26px;color:rgb(35,31,31);
}
#P524_186
{
left:24140.6px;bottom:4008.88px;color:rgb(35,31,31);
}
#P524_187
{
left:24727.1px;bottom:4038.44px;color:rgb(35,31,31);
}
#P524_188
{
left:25205.8px;bottom:3599.87px;letter-spacing:-93.6px;color:rgb(35,31,31);
}
#P524_189
{
left:25892px;bottom:4038.44px;color:rgb(35,31,31);
}
#P524_190
{
left:26138.4px;bottom:4008.88px;color:rgb(35,31,31);
}
#P524_191
{
left:26724.8px;bottom:4038.44px;color:rgb(35,31,31);
}
#P524_192
{
left:27449.9px;bottom:3599.87px;color:rgb(35,31,31);
}
#P524_193
{
left:27801.7px;bottom:4038.44px;color:rgb(35,31,31);
}
#P524_194
{
left:28206.5px;bottom:4008.88px;color:rgb(35,31,31);
}
#P524_195
{
left:28792.9px;bottom:4038.44px;color:rgb(35,31,31);
}
#P524_196
{
left:5501.34px;bottom:22625.6px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P524_197
{
left:12369.7px;bottom:22650.2px;color:white;
}
#P524_198
{
left:14162.5px;bottom:22842px;color:white;
}
#P524_199
{
left:14402.7px;bottom:22650.2px;color:white;
}
#P524_200
{
left:15587.2px;bottom:22842px;color:white;
}
#P524_201
{
left:15827.4px;bottom:22650.2px;letter-spacing:-0.7px;color:white;
}
#P524_202
{
left:21132.6px;bottom:22842px;color:white;
}
#P524_203
{
left:21372.8px;bottom:22650.2px;color:white;
}
#P524_204
{
left:22990.2px;bottom:22842px;color:white;
}
#P524_205
{
left:23230.4px;bottom:22650.2px;letter-spacing:-1.9px;color:white;
}
#P524_206
{
left:26623.4px;bottom:22842px;color:white;
}
#P524_207
{
left:26863.6px;bottom:22650.2px;color:white;
}
#P524_208
{
left:10525.3px;bottom:22483.1px;
}
#P524_209
{
left:10525.3px;bottom:22483.1px;color:white;
}
#P524_210
{
left:18259.9px;bottom:18620.8px;letter-spacing:-8.3px;color:rgb(0,124,196);
}
#P524_211
{
left:0px;letter-spacing:0px;margin-left:8.3px;
}
#P524_212
{
left:18259.9px;bottom:17724.8px;letter-spacing:-1.7px;color:rgb(0,124,196);
}
#P524_213
{
left:19059.9px;bottom:15148.8px;letter-spacing:-8.3px;color:rgb(0,124,196);
}
#P524_214
{
left:0px;letter-spacing:0px;margin-left:8.3px;
}
#P524_215
{
left:19059.9px;bottom:14252.8px;letter-spacing:-2.3px;color:rgb(0,124,196);
}
#P524_216
{
left:26785.2px;bottom:46188.3px;word-spacing:0.2px;color:rgb(33,31,31);
}
#P524_217
{
left:0px;letter-spacing:0px;margin-left:-44.8px;
}
#P524_218
{
left:0px;letter-spacing:0px;margin-left:0.2px;
}
#PageContainer524
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg524.jpg");background-repeat:no-repeat;background-size: 948px 1246px; background-position: 0px 34.5599999999999px;
}
#ImageContainer524 {bottom:83.44px;left:0.00px;width:948.05px;height:1245.53px;position:absolute;} #TextContainer524 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

.example1{position: absolute;top: 445px;left: 106px;}
.example2{position: absolute;top: 715px;left: 107px;}
.nyr{position: absolute;top: 1092px;left: 125px;}
.nyr_exr{position: absolute;top: 1122px;left: 155px; color:rgb(35,31,31); font-size:16px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}