.tr658{ color:transparent;}
#P658_1
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P658_2
{
left:3540.44px;bottom:1417.71px;color:rgb(35,31,31);
}
#P658_3
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P658_4
{
left:9471.43px;bottom:1417.71px;letter-spacing:1.2px;word-spacing:457.7px;color:rgb(35,31,31);
}
#P658_5
{
left:0px;letter-spacing:0px;margin-left:-458.9px;
}
#P658_6
{
left:0px;letter-spacing:2.2px;margin-left:4.4px;
}
#P658_7
{
left:0px;letter-spacing:0px;margin-left:-459.9px;
}
#P658_8
{
left:0px;letter-spacing:4.9px;margin-left:4.4px;
}
#P658_9
{
left:0px;letter-spacing:4.4px;margin-left:-6px;
}
#P658_10
{
left:5889.56px;bottom:46957.1px;letter-spacing:-6px;color:white;
}
#P658_11
{
left:9101.98px;bottom:47255.5px;color:white;
}
#P658_12
{
left:9475.61px;bottom:46957.1px;color:white;
}
#P658_13
{
left:2371.78px;bottom:46929.9px;color:white;
}
#P658_14
{
left:4690.71px;bottom:42321.3px;color:rgb(35,31,31);
}
#P658_15
{
left:5259.29px;bottom:42341px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P658_16
{
left:6354.71px;bottom:42341px;letter-spacing:-2.8px;color:rgb(2,77,161);
}
#P658_17
{
left:10578.9px;bottom:42321.3px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P658_18
{
left:0px;letter-spacing:-2.3px;margin-left:-206.1px;
}
#P658_19
{
left:0px;letter-spacing:-0.4px;margin-left:2.3px;
}
#P658_20
{
left:6354.71px;bottom:41425.3px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P658_21
{
left:4690.71px;bottom:40081.3px;color:rgb(35,31,31);
}
#P658_22
{
left:5259.29px;bottom:40101px;color:rgb(35,31,31);
}
#P658_23
{
left:6354.71px;bottom:40101px;color:rgb(2,77,161);
}
#P658_24
{
left:10071.1px;bottom:40081.3px;letter-spacing:151.5px;color:rgb(35,31,31);
}
#P658_25
{
left:0px;letter-spacing:-0.4px;margin-left:-151.5px;
}
#P658_26
{
left:30654.4px;bottom:38328.9px;color:rgb(35,31,31);
}
#P658_27
{
left:26695.8px;bottom:42317.1px;color:rgb(35,31,31);
}
#P658_28
{
left:25984.5px;bottom:39488px;color:rgb(35,31,31);
}
#P658_29
{
left:25959.6px;bottom:40256px;color:rgb(35,31,31);
}
#P658_30
{
left:25966.7px;bottom:41006.8px;color:rgb(35,31,31);
}
#P658_31
{
left:25957.7px;bottom:41813.2px;color:rgb(35,31,31);
}
#P658_32
{
left:27064.5px;bottom:38324px;color:rgb(35,31,31);
}
#P658_33
{
left:27841.2px;bottom:38323.1px;color:rgb(35,31,31);
}
#P658_34
{
left:28613px;bottom:38322.6px;color:rgb(35,31,31);
}
#P658_35
{
left:29360.9px;bottom:38326.4px;color:rgb(35,31,31);
}
#P658_36
{
left:30144.2px;bottom:38327.4px;color:rgb(35,31,31);
}
#P658_37
{
left:27710.8px;bottom:41703.4px;color:rgb(0,145,68);
}
#P658_38
{
left:29668px;bottom:41618.2px;color:rgb(237,28,35);
}
#P658_39
{
left:30172px;bottom:39583.7px;color:rgb(0,124,196);
}
#P658_40
{
left:4690.71px;bottom:38737.3px;color:rgb(35,31,31);
}
#P658_41
{
left:5259.29px;bottom:38757px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P658_42
{
left:6354.71px;bottom:38757px;color:rgb(2,77,161);
}
#P658_43
{
left:10071.1px;bottom:38737.3px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P658_44
{
left:0px;letter-spacing:0px;margin-left:-206.1px;
}
#P658_45
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P658_46
{
left:0px;letter-spacing:0px;margin-left:-214.8px;
}
#P658_47
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P658_48
{
left:0px;letter-spacing:-0.1px;
}
#P658_49
{
left:4690.84px;bottom:37393.3px;color:rgb(35,31,31);
}
#P658_50
{
left:5650.71px;bottom:37413px;color:rgb(35,31,31);
}
#P658_51
{
left:6354.71px;bottom:37393.3px;color:rgb(35,31,31);
}
#P658_52
{
left:6722.91px;bottom:37413px;color:rgb(35,31,31);
}
#P658_53
{
left:6918.62px;bottom:37393.3px;color:rgb(35,31,31);
}
#P658_54
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P658_55
{
left:9586.71px;bottom:37832.9px;color:rgb(35,31,31);
}
#P658_56
{
left:9922.52px;bottom:37410.9px;color:rgb(35,31,31);
}
#P658_57
{
left:9565.59px;bottom:37377.2px;color:rgb(35,31,31);
}
#P658_58
{
left:9943.64px;bottom:37394.5px;color:rgb(35,31,31);
}
#P658_59
{
left:9586.71px;bottom:36925.4px;color:rgb(35,31,31);
}
#P658_60
{
left:9922.52px;bottom:37410.9px;color:rgb(35,31,31);
}
#P658_61
{
left:9943.64px;bottom:37393.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P658_62
{
left:0px;letter-spacing:-0.3px;margin-left:158.4px;
}
#P658_63
{
left:4048.28px;bottom:33549.3px;color:rgb(33,31,31);
}
#P658_64
{
left:4134.67px;bottom:33580.7px;letter-spacing:-0.7px;color:rgb(33,31,31);
}
#P658_65
{
left:4332.06px;bottom:33652.4px;color:rgb(33,31,31);
}
#P658_66
{
left:4417.63px;bottom:33683.5px;letter-spacing:0.8px;color:rgb(33,31,31);
}
#P658_67
{
left:4564.77px;bottom:33736.9px;color:rgb(33,31,31);
}
#P658_68
{
left:4126.7px;bottom:33370.1px;color:rgb(33,31,31);
}
#P658_69
{
left:4213.09px;bottom:33401.5px;letter-spacing:-0.2px;color:rgb(33,31,31);
}
#P658_70
{
left:4496.1px;bottom:33504.2px;letter-spacing:0.8px;color:rgb(33,31,31);
}
#P658_71
{
left:4221.92px;bottom:33190.9px;color:rgb(33,31,31);
}
#P658_72
{
left:4308.32px;bottom:33222.3px;letter-spacing:-0.2px;color:rgb(33,31,31);
}
#P658_73
{
left:4591.33px;bottom:33325px;letter-spacing:0.8px;color:rgb(33,31,31);
}
#P658_74
{
left:4387.1px;bottom:32941.7px;color:rgb(33,31,31);
}
#P658_75
{
left:4473.5px;bottom:32973.1px;letter-spacing:-0.2px;color:rgb(33,31,31);
}
#P658_76
{
left:4756.51px;bottom:33075.8px;letter-spacing:0.8px;color:rgb(33,31,31);
}
#P658_77
{
left:4631.64px;bottom:31109.5px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P658_78
{
left:4631.64px;bottom:29957.5px;color:rgb(35,31,31);
}
#P658_79
{
left:5200.15px;bottom:29977.3px;color:rgb(35,31,31);
}
#P658_80
{
left:12124.6px;bottom:26308.8px;color:rgb(35,31,31);
}
#P658_81
{
left:8139.35px;bottom:30297.7px;color:rgb(35,31,31);
}
#P658_82
{
left:10079.7px;bottom:26303.3px;color:rgb(35,31,31);
}
#P658_83
{
left:10833.8px;bottom:26308.6px;color:rgb(35,31,31);
}
#P658_84
{
left:7427.67px;bottom:29798.2px;color:rgb(35,31,31);
}
#P658_85
{
left:7437.27px;bottom:28990.4px;color:rgb(35,31,31);
}
#P658_86
{
left:7443.99px;bottom:28247.3px;color:rgb(35,31,31);
}
#P658_87
{
left:7454.55px;bottom:27483.2px;color:rgb(35,31,31);
}
#P658_88
{
left:11605.6px;bottom:26308.1px;color:rgb(35,31,31);
}
#P658_89
{
left:8743.58px;bottom:29395.9px;color:rgb(0,124,196);
}
#P658_90
{
left:8023.58px;bottom:26313.8px;color:rgb(0,124,196);
}
#P658_91
{
left:12784.9px;bottom:29957.5px;color:rgb(35,31,31);
}
#P658_92
{
left:15504.2px;bottom:29977.3px;color:rgb(35,31,31);
}
#P658_93
{
left:22428.6px;bottom:26243.5px;color:rgb(35,31,31);
}
#P658_94
{
left:18454px;bottom:30287px;color:rgb(35,31,31);
}
#P658_95
{
left:20389.1px;bottom:26239px;color:rgb(35,31,31);
}
#P658_96
{
left:21138.8px;bottom:26244.3px;color:rgb(35,31,31);
}
#P658_97
{
left:17728.4px;bottom:29734.3px;color:rgb(35,31,31);
}
#P658_98
{
left:17738px;bottom:28926.4px;color:rgb(35,31,31);
}
#P658_99
{
left:17732.8px;bottom:28183.4px;color:rgb(35,31,31);
}
#P658_100
{
left:17754.8px;bottom:27419.2px;color:rgb(35,31,31);
}
#P658_101
{
left:21915px;bottom:26243.8px;color:rgb(35,31,31);
}
#P658_102
{
left:19812.9px;bottom:28587.9px;color:rgb(0,124,196);
}
#P658_103
{
left:18284.8px;bottom:26259.8px;color:rgb(0,124,196);
}
#P658_104
{
left:23088.9px;bottom:29957.5px;color:rgb(35,31,31);
}
#P658_105
{
left:25808.2px;bottom:29977.3px;color:rgb(35,31,31);
}
#P658_106
{
left:32588.6px;bottom:25532.8px;color:rgb(35,31,31);
}
#P658_107
{
left:27878px;bottom:30296.7px;color:rgb(35,31,31);
}
#P658_108
{
left:27145.9px;bottom:28219.6px;color:rgb(35,31,31);
}
#P658_109
{
left:27137.3px;bottom:29011.6px;color:rgb(35,31,31);
}
#P658_110
{
left:27140.2px;bottom:27456px;color:rgb(35,31,31);
}
#P658_111
{
left:30545.8px;bottom:25539.8px;color:rgb(35,31,31);
}
#P658_112
{
left:29794.6px;bottom:25533.5px;color:rgb(35,31,31);
}
#P658_113
{
left:29013.6px;bottom:25533.1px;color:rgb(35,31,31);
}
#P658_114
{
left:28241.3px;bottom:25532.1px;color:rgb(35,31,31);
}
#P658_115
{
left:31328.2px;bottom:25539.3px;color:rgb(35,31,31);
}
#P658_116
{
left:32082.3px;bottom:25532.1px;color:rgb(35,31,31);
}
#P658_117
{
left:27143.1px;bottom:29762.3px;color:rgb(35,31,31);
}
#P658_118
{
left:28498.3px;bottom:27891.1px;color:rgb(0,124,196);
}
#P658_119
{
left:30824.2px;bottom:28659.4px;color:rgb(0,124,196);
}
#P658_120
{
left:4631.64px;bottom:22533.5px;color:rgb(35,31,31);
}
#P658_121
{
left:5200.15px;bottom:22553.3px;color:rgb(35,31,31);
}
#P658_122
{
left:12124.6px;bottom:18840.1px;color:rgb(35,31,31);
}
#P658_123
{
left:11238px;bottom:22823.6px;color:rgb(35,31,31);
}
#P658_124
{
left:10531.4px;bottom:22309.5px;color:rgb(35,31,31);
}
#P658_125
{
left:10531.4px;bottom:20769.4px;color:rgb(35,31,31);
}
#P658_126
{
left:10531.4px;bottom:20008.1px;color:rgb(35,31,31);
}
#P658_127
{
left:11613.9px;bottom:18827.5px;color:rgb(35,31,31);
}
#P658_128
{
left:8906.2px;bottom:18837.7px;color:rgb(35,31,31);
}
#P658_129
{
left:9306.01px;bottom:18830.1px;color:rgb(35,31,31);
}
#P658_130
{
left:9675.74px;bottom:18837.7px;color:rgb(35,31,31);
}
#P658_131
{
left:10075.5px;bottom:18830.1px;color:rgb(35,31,31);
}
#P658_132
{
left:7366.94px;bottom:18837.7px;color:rgb(35,31,31);
}
#P658_133
{
left:7766.75px;bottom:18830.1px;color:rgb(35,31,31);
}
#P658_134
{
left:6597.34px;bottom:18837.7px;color:rgb(35,31,31);
}
#P658_135
{
left:6997.21px;bottom:18830.1px;color:rgb(35,31,31);
}
#P658_136
{
left:11094.3px;bottom:21193px;color:rgb(0,124,196);
}
#P658_137
{
left:7984.86px;bottom:18088.9px;color:rgb(0,124,196);
}
#P658_138
{
left:8176.6px;bottom:18034.8px;color:rgb(0,124,196);
}
#P658_139
{
left:8656.41px;bottom:18088.9px;color:rgb(0,124,196);
}
#P658_140
{
left:9296.92px;bottom:18034.8px;color:rgb(0,124,196);
}
#P658_141
{
left:9776.73px;bottom:18088.9px;color:rgb(0,124,196);
}
#P658_142
{
left:12923.9px;bottom:22533.5px;color:rgb(35,31,31);
}
#P658_143
{
left:15504.2px;bottom:22553.3px;color:rgb(35,31,31);
}
#P658_144
{
left:22492.6px;bottom:19609.6px;color:rgb(35,31,31);
}
#P658_145
{
left:20774px;bottom:22823.1px;color:rgb(35,31,31);
}
#P658_146
{
left:20058.1px;bottom:22285.7px;color:rgb(35,31,31);
}
#P658_147
{
left:20058.1px;bottom:21532.5px;color:rgb(35,31,31);
}
#P658_148
{
left:20058.1px;bottom:20764.5px;color:rgb(35,31,31);
}
#P658_149
{
left:21912.3px;bottom:19595.8px;color:rgb(35,31,31);
}
#P658_150
{
left:21146.7px;bottom:19597.7px;color:rgb(35,31,31);
}
#P658_151
{
left:18446.2px;bottom:19603.4px;color:rgb(35,31,31);
}
#P658_152
{
left:18846px;bottom:19595.8px;color:rgb(35,31,31);
}
#P658_153
{
left:17676.8px;bottom:19604.4px;color:rgb(35,31,31);
}
#P658_154
{
left:18076.5px;bottom:19596.7px;color:rgb(35,31,31);
}
#P658_155
{
left:16898.6px;bottom:19609.2px;color:rgb(35,31,31);
}
#P658_156
{
left:17298.4px;bottom:19601.5px;color:rgb(35,31,31);
}
#P658_157
{
left:20610.3px;bottom:21953.5px;color:rgb(0,124,196);
}
#P658_158
{
left:17634.1px;bottom:17537.3px;color:rgb(0,124,196);
}
#P658_159
{
left:17825.8px;bottom:17483.1px;color:rgb(0,124,196);
}
#P658_160
{
left:18305.6px;bottom:17537.3px;color:rgb(0,124,196);
}
#P658_161
{
left:18946.1px;bottom:17483.1px;color:rgb(0,124,196);
}
#P658_162
{
left:19425.9px;bottom:17537.3px;color:rgb(0,124,196);
}
#P658_163
{
left:19658.2px;bottom:18463.7px;color:rgb(35,31,31);
}
#P658_164
{
left:20058px;bottom:18456px;color:rgb(35,31,31);
}
#P658_165
{
left:23152.9px;bottom:22533.5px;color:rgb(35,31,31);
}
#P658_166
{
left:25808.2px;bottom:22553.3px;color:rgb(35,31,31);
}
#P658_167
{
left:32679.2px;bottom:18837px;color:rgb(35,31,31);
}
#P658_168
{
left:28646px;bottom:22823.6px;color:rgb(35,31,31);
}
#P658_169
{
left:27961px;bottom:19994.3px;color:rgb(35,31,31);
}
#P658_170
{
left:29773px;bottom:18842.3px;color:rgb(35,31,31);
}
#P658_171
{
left:30547.7px;bottom:18837px;color:rgb(35,31,31);
}
#P658_172
{
left:31323.4px;bottom:18837.5px;color:rgb(35,31,31);
}
#P658_173
{
left:31961.3px;bottom:18836px;color:rgb(35,31,31);
}
#P658_174
{
left:27961px;bottom:20778.6px;color:rgb(35,31,31);
}
#P658_175
{
left:27961px;bottom:21522.1px;color:rgb(35,31,31);
}
#P658_176
{
left:27961px;bottom:22297.3px;color:rgb(35,31,31);
}
#P658_177
{
left:30176.9px;bottom:19620px;color:rgb(0,124,196);
}
#P658_178
{
left:30479.3px;bottom:21945.9px;color:rgb(0,124,196);
}
#P658_179
{
left:27086.2px;bottom:18845.4px;color:rgb(35,31,31);
}
#P658_180
{
left:27486px;bottom:18837.7px;color:rgb(35,31,31);
}
#P658_181
{
left:4631.64px;bottom:14853.5px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P658_182
{
left:0px;letter-spacing:-14px;margin-left:-27.1px;
}
#P658_183
{
left:0px;letter-spacing:0px;margin-left:14px;
}
#P658_184
{
left:0px;letter-spacing:0px;margin-left:-225.1px;
}
#P658_185
{
left:0px;letter-spacing:0px;margin-left:77.1px;
}
#P658_186
{
left:0px;letter-spacing:-0.4px;
}
#P658_187
{
left:0px;letter-spacing:0px;margin-left:0.4px;
}
#P658_188
{
left:4631.64px;bottom:13701.5px;color:rgb(35,31,31);
}
#P658_189
{
left:4808.73px;bottom:13721.3px;color:rgb(35,31,31);
}
#P658_190
{
left:6487.64px;bottom:13452.7px;color:rgb(35,31,31);
}
#P658_191
{
left:9436.95px;bottom:13452.7px;color:rgb(35,31,31);
}
#P658_192
{
left:11141.7px;bottom:13433.8px;letter-spacing:1755.9px;color:rgb(35,31,31);
}
#P658_193
{
left:6487.77px;bottom:12300.7px;letter-spacing:-4px;color:rgb(35,31,31);
}
#P658_194
{
left:8890.33px;bottom:12300.7px;color:rgb(35,31,31);
}
#P658_195
{
left:10785.5px;bottom:12281.8px;color:rgb(35,31,31);
}
#P658_196
{
left:0px;letter-spacing:0px;margin-left:1043.5px;
}
#P658_197
{
left:0px;letter-spacing:0px;margin-left:1043.6px;
}
#P658_198
{
left:0px;letter-spacing:0px;margin-left:1043.5px;
}
#P658_199
{
left:19000.7px;bottom:13701.5px;color:rgb(35,31,31);
}
#P658_200
{
left:19592.8px;bottom:13721.3px;color:rgb(35,31,31);
}
#P658_201
{
left:21271.6px;bottom:13443.1px;color:rgb(35,31,31);
}
#P658_202
{
left:23997.2px;bottom:13443.1px;color:rgb(35,31,31);
}
#P658_203
{
left:25797.4px;bottom:13424.2px;color:rgb(35,31,31);
}
#P658_204
{
left:0px;letter-spacing:0px;margin-left:1705.9px;
}
#P658_205
{
left:0px;letter-spacing:1527.7px;
}
#P658_206
{
left:0px;letter-spacing:1527.7px;margin-left:-1527.7px;
}
#P658_207
{
left:0px;letter-spacing:0px;margin-left:-1527.6px;
}
#P658_208
{
left:21271.5px;bottom:12291.1px;color:rgb(35,31,31);
}
#P658_209
{
left:23325.1px;bottom:12291.1px;color:rgb(35,31,31);
}
#P658_210
{
left:25174.1px;bottom:12272.2px;color:rgb(35,31,31);
}
#P658_211
{
left:0px;letter-spacing:0px;margin-left:904.4px;
}
#P658_212
{
left:0px;letter-spacing:0px;margin-left:904.4px;
}
#P658_213
{
left:0px;letter-spacing:0px;margin-left:904.4px;
}
#P658_214
{
left:4631.64px;bottom:9541.55px;color:rgb(35,31,31);
}
#P658_215
{
left:4808.73px;bottom:9561.26px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P658_216
{
left:6295.64px;bottom:9561.26px;word-spacing:-26px;color:rgb(2,77,161);
}
#P658_217
{
left:0px;letter-spacing:0px;margin-left:-52.8px;
}
#P658_218
{
left:0px;letter-spacing:0px;margin-left:-12.5px;
}
#P658_219
{
left:11589.1px;bottom:9541.55px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P658_220
{
left:0px;letter-spacing:-0.5px;margin-left:-197.8px;
}
#P658_221
{
left:0px;letter-spacing:0px;margin-left:0.5px;
}
#P658_222
{
left:6295.64px;bottom:8645.55px;color:rgb(35,31,31);
}
#P658_223
{
left:0px;letter-spacing:0px;margin-left:-4.2px;
}
#P658_224
{
left:0px;letter-spacing:0px;margin-left:-214.8px;
}
#P658_225
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P658_226
{
left:6295.64px;bottom:7749.68px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P658_227
{
left:3890.73px;bottom:29996.3px;
}
#P658_228
{
left:3890.73px;bottom:29996.3px;color:white;
}
#P658_229
{
left:3899.8px;bottom:13746.7px;
}
#P658_230
{
left:3899.8px;bottom:13746.7px;color:white;
}
#P658_231
{
left:20861.4px;bottom:6355.44px;color:rgb(35,31,31);
}
#P658_232
{
left:23805.4px;bottom:6313.2px;color:rgb(35,31,31);
}
#P658_233
{
left:25544.9px;bottom:6325.87px;color:rgb(35,31,31);
}
#P658_234
{
left:26131.4px;bottom:6313.2px;color:rgb(35,31,31);
}
#P658_235
{
left:0px;letter-spacing:0px;margin-left:-176px;
}
#P658_236
{
left:26330.1px;bottom:6734.96px;color:rgb(35,31,31);
}
#P658_237
{
left:26687.4px;bottom:6335.02px;color:rgb(35,31,31);
}
#P658_238
{
left:26307.4px;bottom:6317.28px;color:rgb(35,31,31);
}
#P658_239
{
left:26710.1px;bottom:6356.7px;color:rgb(35,31,31);
}
#P658_240
{
left:26328.5px;bottom:5827.44px;color:rgb(35,31,31);
}
#P658_241
{
left:26689px;bottom:6335.02px;color:rgb(35,31,31);
}
#P658_242
{
left:26710.1px;bottom:6313.2px;color:rgb(35,31,31);
}
#P658_243
{
left:0px;bottom:0px;letter-spacing:0px;color:rgb(235,26,35);
}
#P658_244
{
left:33613px;bottom:4700.91px;color:rgb(35,31,31);
}
#P658_245
{
left:29579.8px;bottom:9457.84px;color:rgb(35,31,31);
}
#P658_246
{
left:32242.6px;bottom:4701.48px;color:rgb(35,31,31);
}
#P658_247
{
left:31491.9px;bottom:4694.25px;color:rgb(35,31,31);
}
#P658_248
{
left:29955.7px;bottom:4694.44px;color:rgb(35,31,31);
}
#P658_249
{
left:33015.7px;bottom:4700.72px;color:rgb(35,31,31);
}
#P658_250
{
left:28856.2px;bottom:6625.58px;color:rgb(35,31,31);
}
#P658_251
{
left:28856.2px;bottom:7393.58px;color:rgb(35,31,31);
}
#P658_252
{
left:32605.4px;bottom:6981.93px;color:rgb(237,28,35);
}
#P658_253
{
left:30685.3px;bottom:4669.04px;color:rgb(0,124,196);
}
#P658_254
{
left:28856.2px;bottom:8199.47px;color:rgb(35,31,31);
}
#P658_255
{
left:28856.2px;bottom:8927.6px;color:rgb(35,31,31);
}
#P658_256
{
left:30924.4px;bottom:9346.6px;color:rgb(0,145,68);
}
#P658_257
{
left:27883.2px;bottom:5530.6px;color:rgb(0,145,68);
}
#P658_258
{
left:26785.2px;bottom:46233.7px;word-spacing:0.2px;color:rgb(33,31,31);
}
#P658_259
{
left:21342px;bottom:8099.24px;
}
#PageContainer658
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg658.jpg");background-repeat:no-repeat;background-size: 942px 1242px; background-position: 0px 35.5699999999999px;
}
#ImageContainer658 {bottom:86.43px;left:0.00px;width:942.01px;height:1242.08px;position:absolute;} #TextContainer658 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.answer{position: absolute;top: 43px;left: 26px;
}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}
.circle1{position: absolute;top: 524px;left: 94px;}
.circle2{position: absolute;top: 964px;left: 94px;}
#middle-toolbar img{vertical-align: middle;}