.tr637{ color:transparent;}
#P637_1
{
left:4592.6px;bottom:1417.71px;color:rgb(35,31,31);
}
#P637_2
{
left:25980.7px;bottom:1410.03px;color:rgb(35,31,31);
}
#P637_3
{
left:30892px;bottom:1417.71px;letter-spacing:5.8px;word-spacing:457.9px;color:rgb(35,31,31);
}
#P637_4
{
left:0px;letter-spacing:1.8px;margin-left:-10.1px;
}
#P637_5
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P637_6
{
left:6909.4px;bottom:9765.04px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P637_7
{
left:0px;letter-spacing:0px;margin-left:-28.2px;
}
#P637_8
{
left:12851.2px;bottom:9765.04px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P637_8a
{
left: 13131.2px;bottom:9765.04px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P637_8b
{
left:12851.2px;bottom:9765.04px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P637_8c
{
left: 16921.2px;bottom:9765.04px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P637_8d
{
left: 22241.2px;bottom:9765.04px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P637_8b
{
left: 18511.2px;bottom:9765.04px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P637_9
{
left:6909.4px;bottom:8613.04px;color:rgb(35,31,31);
}
#P637_10
{
left:7086.55px;bottom:8632.75px;color:rgb(35,31,31);
}
#P637_11
{
left:8509.4px;bottom:8583.47px;color:rgb(35,31,31);
}
#P637_12
{
left:9095.83px;bottom:8613.04px;color:rgb(35,31,31);
}
#P637_13
{
left:10000.5px;bottom:8583.47px;color:rgb(35,31,31);
}
#P637_14
{
left:10586.9px;bottom:8613.04px;color:rgb(35,31,31);
}
#P637_15
{
left:14382.5px;bottom:8632.75px;color:rgb(35,31,31);
}
#P637_16
{
left:15805.3px;bottom:8583.47px;color:rgb(35,31,31);
}
#P637_17
{
left:16391.8px;bottom:8613.04px;color:rgb(35,31,31);
}
#P637_18
{
left:16923.3px;bottom:8583.47px;color:rgb(35,31,31);
}
#P637_19
{
left:17509.7px;bottom:8613.04px;color:rgb(35,31,31);
}
#P637_20
{
left:17914.5px;bottom:8583.47px;color:rgb(35,31,31);
}
#P637_21
{
left:18500.9px;bottom:8613.04px;color:rgb(35,31,31);
}
#P637_22
{
left:21806.6px;bottom:8632.75px;color:rgb(35,31,31);
}
#P637_23
{
left:23229.4px;bottom:8583.47px;color:rgb(35,31,31);
}
#P637_24
{
left:23815.8px;bottom:8613.04px;color:rgb(35,31,31);
}
#P637_25
{
left:24720.5px;bottom:8583.47px;color:rgb(35,31,31);
}
#P637_26
{
left:25306.9px;bottom:8613.04px;color:rgb(35,31,31);
}
#P637_27
{
left:29166.6px;bottom:8632.75px;color:rgb(35,31,31);
}
#P637_28
{
left:30589.4px;bottom:8583.47px;color:rgb(35,31,31);
}
#P637_29
{
left:31175.8px;bottom:8613.04px;color:rgb(35,31,31);
}
#P637_30
{
left:32080.5px;bottom:8583.47px;color:rgb(35,31,31);
}
#P637_31
{
left:32666.9px;bottom:8613.04px;color:rgb(35,31,31);
}
#P637_32
{
left:33071.7px;bottom:8583.47px;color:rgb(35,31,31);
}
#P637_33
{
left:33658.1px;bottom:8613.04px;color:rgb(35,31,31);
}
#P637_34
{
left:6909.4px;bottom:6693.04px;color:rgb(35,31,31);
}
#P637_35
{
left:7086.55px;bottom:6712.75px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P637_36
{
left:8573.4px;bottom:6712.75px;letter-spacing:-17.6px;color:rgb(2,77,161);
}
#P637_37
{
left:0px;letter-spacing:0px;margin-left:17.6px;
}
#P637_38
{
left: 14419px;bottom:6693.04px;letter-spacing:151.5px;color:rgb(35,31,31);
}
#P637_39
{
left:0px;letter-spacing:-0.3px;margin-left:-151.5px;
}
#P637_40
{
left:0px;letter-spacing:0px;margin-left:-158.1px;
}
#P637_41
{
left:25507.5px;bottom:7132.72px;color:rgb(35,31,31);
}
#P637_42
{
left:25843.4px;bottom:6710.64px;color:rgb(35,31,31);
}
#P637_43
{
left:25486.4px;bottom:6677.02px;color:rgb(35,31,31);
}
#P637_44
{
left:25864.5px;bottom:6694.3px;color:rgb(35,31,31);
}
#P637_45
{
left:25507.5px;bottom:6225.2px;color:rgb(35,31,31);
}
#P637_46
{
left:25843.4px;bottom:6710.64px;color:rgb(35,31,31);
}
#P637_47
{
left:25949px;bottom:6693.04px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P637_48
{
left:26926.8px;bottom:6693.04px;letter-spacing:-2.1px;color:rgb(0,124,196);
}
#P637_49
{
left:0px;letter-spacing:-1.5px;margin-left:-6.3px;
}
#P637_50
{
left:0px;letter-spacing:0px;margin-left:1.5px;
}
#P637_51
{
left:34927.9px;bottom:6693.04px;color:rgb(35,31,31);
}
#P637_52
{
left:6909.4px;bottom:4581.04px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P637_53
{
left:8486.49px;bottom:4624.42px;color:rgb(35,31,31);
}
#P637_54
{
left:8823.32px;bottom:4745.55px;color:rgb(35,31,31);
}
#P637_55
{
left:9469.4px;bottom:4581.04px;color:rgb(35,31,31);
}
#P637_56
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P637_57
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P637_58
{
left:10258.5px;bottom:5020.72px;color:rgb(35,31,31);
}
#P637_59
{
left:10594.3px;bottom:4598.64px;color:rgb(35,31,31);
}
#P637_60
{
left:10237.4px;bottom:4565.02px;color:rgb(35,31,31);
}
#P637_61
{
left:10615.4px;bottom:4582.3px;color:rgb(35,31,31);
}
#P637_62
{
left:10258.5px;bottom:4113.2px;color:rgb(35,31,31);
}
#P637_63
{
left:10594.3px;bottom:4598.64px;color:rgb(35,31,31);
}
#P637_64
{
left:10615.4px;bottom:4581.04px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P637_65
{
left:15782.5px;bottom:4624.42px;color:rgb(35,31,31);
}
#P637_66
{
left:16119.3px;bottom:4745.55px;color:rgb(35,31,31);
}
#P637_67
{
left:16765.4px;bottom:4581.04px;color:rgb(35,31,31);
}
#P637_68
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P637_69
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P637_70
{
left:17554.5px;bottom:5020.72px;color:rgb(35,31,31);
}
#P637_71
{
left:18226.1px;bottom:4598.64px;color:rgb(35,31,31);
}
#P637_72
{
left:17533.4px;bottom:4565.02px;color:rgb(35,31,31);
}
#P637_73
{
left:18247.3px;bottom:4582.3px;color:rgb(35,31,31);
}
#P637_74
{
left:17554.5px;bottom:4113.2px;color:rgb(35,31,31);
}
#P637_75
{
left:18226.1px;bottom:4598.64px;color:rgb(35,31,31);
}
#P637_76
{
left:18247.3px;bottom:4581.04px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P637_77
{
left:23270.5px;bottom:4624.42px;color:rgb(35,31,31);
}
#P637_78
{
left:23607.3px;bottom:4745.55px;color:rgb(35,31,31);
}
#P637_79
{
left:24253.4px;bottom:4581.04px;color:rgb(35,31,31);
}
#P637_80
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P637_81
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P637_82
{
left:25210.4px;bottom:5020.72px;color:rgb(35,31,31);
}
#P637_83
{
left:25546.2px;bottom:4598.64px;color:rgb(35,31,31);
}
#P637_84
{
left:25021.4px;bottom:4565.02px;color:rgb(35,31,31);
}
#P637_85
{
left:25735.3px;bottom:4582.3px;color:rgb(35,31,31);
}
#P637_86
{
left:25042.5px;bottom:4113.2px;color:rgb(35,31,31);
}
#P637_87
{
left:25714.1px;bottom:4598.64px;color:rgb(35,31,31);
}
#P637_88
{
left:25735.3px;bottom:4581.04px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P637_89
{
left:30630.5px;bottom:4624.42px;color:rgb(35,31,31);
}
#P637_90
{
left:30967.3px;bottom:4745.55px;color:rgb(35,31,31);
}
#P637_91
{
left:31613.4px;bottom:4581.04px;color:rgb(35,31,31);
}
#P637_92
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P637_93
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P637_94
{
left:32402.5px;bottom:5020.72px;color:rgb(35,31,31);
}
#P637_95
{
left:32738.3px;bottom:4598.64px;color:rgb(35,31,31);
}
#P637_96
{
left:32381.4px;bottom:4565.02px;color:rgb(35,31,31);
}
#P637_97
{
left:32759.4px;bottom:4582.3px;color:rgb(35,31,31);
}
#P637_98
{
left:32402.5px;bottom:4113.2px;color:rgb(35,31,31);
}
#P637_99
{
left:32738.3px;bottom:4598.64px;color:rgb(35,31,31);
}
#P637_100
{
left:32759.4px;bottom:4581.04px;color:rgb(35,31,31);
}
#P637_101
{
left:6973.4px;bottom:46692.4px;letter-spacing:-28.1px;color:rgb(35,31,31);
}
#P637_102
{
left:0px;letter-spacing:0.2px;margin-left:28.1px;
}
#P637_103
{
left:7150.55px;bottom:45240.1px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P637_104
{
left:8573.4px;bottom:45240.1px;color:rgb(35,31,31);
}
#P637_105
{
left:8594.52px;bottom:45662.2px;color:rgb(35,31,31);
}
#P637_106
{
left:9434.01px;bottom:45238px;color:rgb(35,31,31);
}
#P637_107
{
left:8573.4px;bottom:45206.5px;color:rgb(35,31,31);
}
#P637_108
{
left:9455.13px;bottom:45221.7px;color:rgb(35,31,31);
}
#P637_109
{
left:8846.36px;bottom:44754.7px;color:rgb(35,31,31);
}
#P637_110
{
left:9182.17px;bottom:45238px;color:rgb(35,31,31);
}
#P637_111
{
left:9455.13px;bottom:45220.4px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P637_112
{
left:10241px;bottom:45660.1px;color:rgb(35,31,31);
}
#P637_113
{
left:10576.8px;bottom:45238px;color:rgb(35,31,31);
}
#P637_114
{
left:9800.09px;bottom:45204.4px;color:rgb(35,31,31);
}
#P637_115
{
left:11017.7px;bottom:45221.7px;color:rgb(35,31,31);
}
#P637_116
{
left:9821.21px;bottom:44752.6px;color:rgb(35,31,31);
}
#P637_117
{
left:10996.6px;bottom:45238px;color:rgb(35,31,31);
}
#P637_118
{
left:11017.7px;bottom:45220.4px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P637_119
{
left:17454.6px;bottom:45240.1px;color:rgb(35,31,31);
}
#P637_120
{
left:18877.4px;bottom:45220.4px;color:rgb(35,31,31);
}
#P637_121
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P637_122
{
left:22666.3px;bottom:45660.1px;color:rgb(35,31,31);
}
#P637_123
{
left:23337.9px;bottom:45238px;color:rgb(35,31,31);
}
#P637_124
{
left:22645.1px;bottom:45204.4px;color:rgb(35,31,31);
}
#P637_125
{
left:23359px;bottom:45221.7px;color:rgb(35,31,31);
}
#P637_126
{
left:22834.2px;bottom:44752.6px;color:rgb(35,31,31);
}
#P637_127
{
left:23170px;bottom:45238px;color:rgb(35,31,31);
}
#P637_128
{
left:23359px;bottom:45220.4px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P637_129
{
left:27758.6px;bottom:45240.1px;color:rgb(35,31,31);
}
#P637_130
{
left:29053.5px;bottom:45220.4px;color:rgb(35,31,31);
}
#P637_131
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P637_132
{
left:29951px;bottom:45660.1px;color:rgb(35,31,31);
}
#P637_133
{
left:30286.8px;bottom:45238px;color:rgb(35,31,31);
}
#P637_134
{
left:29929.9px;bottom:45204.4px;color:rgb(35,31,31);
}
#P637_135
{
left:30307.9px;bottom:45221.7px;color:rgb(35,31,31);
}
#P637_136
{
left:29951px;bottom:44752.6px;color:rgb(35,31,31);
}
#P637_137
{
left:30286.8px;bottom:45238px;color:rgb(35,31,31);
}
#P637_138
{
left:30307.9px;bottom:45220.4px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P637_139
{
left:30674px;bottom:45660.1px;color:rgb(35,31,31);
}
#P637_140
{
left:31009.8px;bottom:45238px;color:rgb(35,31,31);
}
#P637_141
{
left:30652.9px;bottom:45204.4px;color:rgb(35,31,31);
}
#P637_142
{
left:31030.9px;bottom:45221.7px;color:rgb(35,31,31);
}
#P637_143
{
left:30674px;bottom:44752.6px;color:rgb(35,31,31);
}
#P637_144
{
left:31009.8px;bottom:45238px;color:rgb(35,31,31);
}
#P637_145
{
left:31030.9px;bottom:45220.4px;color:rgb(35,31,31);
}
#P637_146
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P637_147
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P637_148
{
left:31723.3px;bottom:45660.1px;color:rgb(35,31,31);
}
#P637_149
{
left:32059.1px;bottom:45238px;color:rgb(35,31,31);
}
#P637_150
{
left:31534.2px;bottom:45204.4px;color:rgb(35,31,31);
}
#P637_151
{
left:32248.1px;bottom:45221.7px;color:rgb(35,31,31);
}
#P637_152
{
left:31555.4px;bottom:44752.6px;color:rgb(35,31,31);
}
#P637_153
{
left:32227px;bottom:45238px;color:rgb(35,31,31);
}
#P637_154
{
left:32248.1px;bottom:45220.4px;color:rgb(35,31,31);
}
#P637_155
{
left:6973.4px;bottom:43172.4px;color:rgb(35,31,31);
}
#P637_156
{
left:7150.55px;bottom:43192.1px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P637_157
{
left:8637.4px;bottom:43192.1px;letter-spacing:-30.3px;color:rgb(2,77,161);
}
#P637_158
{
left:0px;letter-spacing:-19.3px;margin-left:30.3px;
}
#P637_159
{
left:0px;letter-spacing:0px;margin-left:19.3px;
}
#P637_160
{
left:11546.4px;bottom:43172.4px;letter-spacing:151.5px;color:rgb(35,31,31);
}
#P637_161
{
left:0px;letter-spacing:0px;margin-left:-214.7px;
}
#P637_162
{
left:0px;letter-spacing:-0.4px;
}
#P637_163
{
left:0px;letter-spacing:0px;margin-left:-77px;
}
#P637_164
{
left:0px;letter-spacing:-0.8px;
}
#P637_165
{
left:0px;letter-spacing:-63.3px;margin-left:-41.3px;
}
#P637_166
{
left:0px;letter-spacing:0.6px;margin-left:63.3px;
}
#P637_167
{
left:8637.4px;bottom:42276.4px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P637_168
{
left:0px;letter-spacing:0px;margin-left:-77px;
}
#P637_169
{
left:0px;letter-spacing:-0.7px;
}
#P637_170
{
left:6973.4px;bottom:40932.4px;color:rgb(35,31,31);
}
#P637_171
{
left:8725.34px;bottom:40932.4px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P637_172
{
left:9917.4px;bottom:40932.4px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P637_173
{
left:6973.4px;bottom:39844.4px;color:rgb(35,31,31);
}
#P637_174
{
left:8689.37px;bottom:39844.4px;letter-spacing:-17.5px;color:rgb(35,31,31);
}
#P637_175
{
left:9917.47px;bottom:39844.4px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P637_176
{
left:0px;letter-spacing:0px;margin-left:-76.6px;
}
#P637_177
{
left:0px;letter-spacing:-0.8px;
}
#P637_178
{
left:6973.47px;bottom:38756.3px;color:rgb(35,31,31);
}
#P637_179
{
left:8760.6px;bottom:38756.3px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P637_180
{
left:9917.47px;bottom:38756.3px;letter-spacing:-1.6px;color:rgb(35,31,31);
}
#P637_181
{
left:0px;letter-spacing:-0.4px;margin-left:1.6px;
}
#P637_182
{
left:6973.47px;bottom:37412.3px;color:rgb(35,31,31);
}
#P637_183
{
left:7150.62px;bottom:37432px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P637_184
{
left:8637.4px;bottom:37432.1px;letter-spacing:-1.8px;color:rgb(2,77,161);
}
#P637_185
{
left: 12423.5px;bottom:37412.4px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P637_186
{
left:0px;letter-spacing:-0.5px;
margin-left: 0px;
}
#P637_187
{
left:30305.1px;bottom:38331.3px;color:rgb(0,145,68);
}
#P637_188
{
left:30817.2px;bottom:38203.4px;color:rgb(0,145,68);
}
#P637_189
{
left:31441px;bottom:38331.3px;color:rgb(0,145,68);
}
#P637_190
{
left:27546.6px;bottom:36226.6px;color:rgb(0,145,68);
}
#P637_191
{
left:28058.7px;bottom:36098.7px;color:rgb(0,145,68);
}
#P637_192
{
left:28682.5px;bottom:36226.6px;color:rgb(0,145,68);
}
#P637_193
{
left:30881.3px;bottom:39446.9px;color:rgb(0,145,68);
}
#P637_194
{
left:31393.4px;bottom:39319px;color:rgb(0,145,68);
}
#P637_195
{
left:32017.2px;bottom:39446.9px;color:rgb(0,145,68);
}
#P637_196
{
left:33747.2px;bottom:37776.4px;color:rgb(0,145,68);
}
#P637_197
{
left:34259.3px;bottom:37648.6px;color:rgb(0,145,68);
}
#P637_198
{
left:34883.1px;bottom:37776.4px;color:rgb(0,145,68);
}
#P637_199
{
left:8637.4px;bottom:36516.4px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P637_200
{
left:7150.55px;bottom:34424.1px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P637_201
{
left:8637.4px;bottom:34424.1px;letter-spacing:-3.6px;color:rgb(2,77,161);
}
#P637_202
{
left: 12053.5px;bottom:34404.4px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P637_203
{
left:0px;letter-spacing:-0.2px;margin-left:-193.6px;
}
#P637_204
{
left:24450.1px;bottom:34082px;color:rgb(35,31,31);
}
#P637_205
{
left:24014px;bottom:33250px;color:rgb(35,31,31);
}
#P637_206
{
left:0px;letter-spacing:0px;margin-left:-61.7px;
}
#P637_207
{
left:26864.8px;bottom:33250px;color:rgb(35,31,31);
}
#P637_208
{
left:28800.6px;bottom:34082px;color:rgb(35,31,31);
}
#P637_209
{
left:29808.5px;bottom:33250px;color:rgb(35,31,31);
}
#P637_210
{
left:32432.6px;bottom:34082px;color:rgb(35,31,31);
}
#P637_211
{
left:34001px;bottom:33250px;color:rgb(35,31,31);
}
#P637_212
{
left:25448.2px;bottom:32211.2px;letter-spacing:3834.8px;color:rgb(35,31,31);
}
#P637_213
{
left:0px;letter-spacing:0px;margin-left:-3834.9px;
}
#P637_214
{
left:0px;letter-spacing:0px;margin-left:3639.6px;
}
#P637_215
{
left:25448.2px;bottom:31187.2px;letter-spacing:3834.8px;color:rgb(35,31,31);
}
#P637_216
{
left:0px;letter-spacing:0px;margin-left:-3834.9px;
}
#P637_217
{
left:0px;letter-spacing:0px;margin-left:3639.6px;
}
#P637_218
{
left:25448.2px;bottom:30163.2px;letter-spacing:3834.8px;color:rgb(35,31,31);
}
#P637_219
{
left:0px;letter-spacing:0px;margin-left:-3834.9px;
}
#P637_220
{
left:0px;letter-spacing:0px;margin-left:3461.5px;
}
#P637_221
{
left:0px;letter-spacing:0px;
}
#P637_222
{
left:25448.2px;bottom:29139.2px;letter-spacing:3834.8px;color:rgb(35,31,31);
}
#P637_223
{
left:0px;letter-spacing:0px;margin-left:-3834.9px;
}
#P637_224
{
left:0px;letter-spacing:0px;margin-left:3461.5px;
}
#P637_225
{
left:0px;letter-spacing:0px;
}
#P637_226
{
left:8637.4px;bottom:33508.4px;letter-spacing:0.3px;color:rgb(35,31,31);
}
#P637_227
{
left:8637.4px;bottom:32612.4px;letter-spacing:-3.6px;color:rgb(35,31,31);
}
#P637_228
{
left:0px;letter-spacing:-0.8px;margin-left:3.6px;
}
#P637_229
{
left:0px;letter-spacing:0px;margin-left:0.8px;
}
#P637_230
{
left:8725.34px;bottom:31268.4px;letter-spacing:-14px;word-spacing:492.2px;color:rgb(35,31,31);
}
#P637_231
{
left:9917.4px;bottom:31268.4px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P637_232
{
left:0px;letter-spacing:0px;margin-left:0.5px;
}
#P637_233
{
left:8689.31px;bottom:30180.4px;letter-spacing:-13.9px;word-spacing:499.1px;color:rgb(35,31,31);
}
#P637_234
{
left:9917.4px;bottom:30180.4px;letter-spacing:-10.5px;color:rgb(35,31,31);
}
#P637_235
{
left:0px;letter-spacing:-0.6px;margin-left:10.5px;
}
#P637_236
{
left:9917.4px;bottom:29284.4px;letter-spacing:0.2px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P637_237
{
left:9917.4px;bottom:28388.4px;letter-spacing:-2.8px;color:rgb(35,31,31);
}
#P637_238
{
left:0px;letter-spacing:-0.6px;margin-left:2.8px;
}
#P637_239
{
left:10068.4px;bottom:26724.5px;color:rgb(35,31,31);
}
#P637_240
{
left:10333.4px;bottom:26744.2px;word-spacing:313.7px;color:rgb(35,31,31);
}
#P637_241
{
left:11821.4px;bottom:26744.1px;color:rgb(2,77,161);
}
#P637_242
{
left:16071.4px;bottom:26724.4px;word-spacing:193.6px;color:rgb(35,31,31);
}
#P637_243
{
left:0px;letter-spacing:0px;margin-left:-193.6px;
}
#P637_244
{
left:18542.4px;bottom:26724.4px;letter-spacing:28.2px;color:rgb(35,31,31);
}
#P637_245
{
left:0px;letter-spacing:-0.6px;margin-left:-28.2px;
}
#P637_246
{
left:0px;letter-spacing:-2.8px;margin-left:-13.4px;
}
#P637_247
{
left:0px;letter-spacing:-0.6px;margin-left:2.8px;
}
#P637_248
{
left:11821.4px;bottom:25828.4px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P637_249
{
left:0px;letter-spacing:0px;margin-left:-55px;
}
#P637_250
{
left:0px;letter-spacing:-0.3px;
}
#P637_251
{
left:0px;letter-spacing:0.3px;margin-left:-13.6px;
}
#P637_252
{
left:11821.4px;bottom:24932.5px;letter-spacing:-5px;color:rgb(35,31,31);
}
#P637_253
{
left:0px;letter-spacing:0px;margin-left:-51.1px;
}
#P637_254
{
left:0px;letter-spacing:-14px;
}
#P637_255
{
left:0px;letter-spacing:-0.5px;margin-left:14px;
}
#P637_256
{
left:0px;letter-spacing:0px;margin-left:-214.3px;
}
#P637_257
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P637_258
{
left:0px;letter-spacing:-0.5px;
}
#P637_259
{
left:0px;letter-spacing:0px;margin-left:-13.4px;
}
#P637_260
{
left:0px;letter-spacing:0px;margin-left:-13.9px;
}
#P637_261
{
left:10068.4px;bottom:23588.4px;color:rgb(35,31,31);
}
#P637_262
{
left:10333.5px;bottom:23608.1px;word-spacing:313.7px;color:rgb(35,31,31);
}
#P637_263
{
left:11821.4px;bottom:23608.1px;color:rgb(2,77,161);
}
#P637_264
{
left: 17743.9px;bottom:23588.4px;letter-spacing:168.3px;color:rgb(35,31,31);
}
#P637_265
{
left:0px;letter-spacing:0px;margin-left:-168.3px;
}
#P637_266
{
left:0px;letter-spacing:105.6px;margin-left:105.6px;
}
#P637_267
{
left:0px;letter-spacing:0px;margin-left:-105.6px;
}
#P637_268
{
left:11821.4px;bottom:22692.4px;letter-spacing:-31.6px;color:rgb(35,31,31);
}
#P637_269
{
left:0px;letter-spacing:0.1px;margin-left:31.6px;
}
#P637_270
{
left:10068.4px;bottom:21348.4px;color:rgb(35,31,31);
}
#P637_271
{
left:11829.3px;bottom:21348.4px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P637_272
{
left:12925.4px;bottom:21348.4px;letter-spacing:-2.2px;color:rgb(35,31,31);
}
#P637_273
{
left:0px;letter-spacing:0.2px;margin-left:2.2px;
}
#P637_274
{
left:0px;letter-spacing:105.6px;margin-left:105.4px;
}
#P637_275
{
left:0px;letter-spacing:0px;margin-left:-105.6px;
}
#P637_276
{
left:10068.4px;bottom:20260.4px;color:rgb(35,31,31);
}
#P637_277
{
left:11825.3px;bottom:20260.4px;letter-spacing:-13.9px;word-spacing:371.1px;color:rgb(35,31,31);
}
#P637_278
{
left:12925.3px;bottom:20260.4px;letter-spacing:-6.4px;color:rgb(35,31,31);
}
#P637_279
{
left:0px;letter-spacing:-0.4px;margin-left:6.4px;
}
#P637_280
{
left:0px;letter-spacing:-0.3px;margin-left:-13.6px;
}
#P637_281
{
left:0px;letter-spacing:0px;margin-left:-20.6px;
}
#P637_282
{
left:0px;letter-spacing:0px;
}
#P637_283
{
left:12925.3px;bottom:19364.4px;word-spacing:-28px;color:rgb(35,31,31);
}
#P637_284
{
left:0px;letter-spacing:0px;margin-left:-56.1px;
}
#P637_285
{
left:0px;letter-spacing:-1.3px;
}
#P637_286
{
left:0px;letter-spacing:-35.1px;margin-left:-12.7px;
}
#P637_287
{
left:7150.49px;bottom:17656.1px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P637_288
{
left:8637.4px;bottom:17656.1px;letter-spacing:-6.3px;color:rgb(2,77,161);
}
#P637_289
{
left: 10365.99px;bottom:17636.4px;letter-spacing:151.5px;color:rgb(35,31,31);
}
#P637_290
{
left:0px;letter-spacing:0px;margin-left:-214.7px;
}
#P637_291
{
left:0px;letter-spacing:-1.2px;
}
#P637_292
{
left:0px;letter-spacing:-0.4px;margin-left:1.2px;
}
#P637_293
{
left:0px;letter-spacing:0px;margin-left:-20.6px;
}
#P637_294
{
left:0px;letter-spacing:-21.1px;
}
#P637_295
{
left:0px;letter-spacing:0px;margin-left:21.1px;
}
#P637_296
{
left:8637.4px;bottom:16740.4px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P637_297
{
left:0px;letter-spacing:-77.4px;margin-left:-56px;
}
#P637_298
{
left:0px;letter-spacing:-1.1px;margin-left:77.4px;
}
#P637_299
{
left:0px;letter-spacing:0px;margin-left:1.1px;
}
#P637_300
{
left:7150.55px;bottom:15032.2px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P637_301
{
left:12722.1px;bottom:15012.4px;letter-spacing:-1.4px;word-spacing:193.6px;color:rgb(35,31,31);
}
#P637_302
{
left:14548.2px;bottom:15012.4px;color:rgb(35,31,31);
}
#P637_303
{
left:14987.5px;bottom:15012.4px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P637_304
{
left:21970.5px;bottom:15012.4px;color:rgb(35,31,31);
}
#P637_305
{
left:22415.4px;bottom:15012.4px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P637_306
{
left:24585.1px;bottom:15012.4px;color:rgb(35,31,31);
}
#P637_307
{
left:25030px;bottom:15012.4px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P637_308
{
left:32013px;bottom:15012.4px;color:rgb(35,31,31);
}
#P637_309
{
left:32478.4px;bottom:15012.4px;color:rgb(35,31,31);
}
#P637_310
{
left:8637.4px;bottom:14116.4px;letter-spacing:-3px;color:rgb(35,31,31);
}
#P637_311
{
left:0px;letter-spacing:0px;margin-left:3px;
}
#P637_312
{
left:11160.7px;bottom:14116.4px;color:rgb(35,31,31);
}
#P637_313
{
left:11600px;bottom:14116.4px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P637_314
{
left:17912.7px;bottom:14116.4px;color:rgb(35,31,31);
}
#P637_315
{
left:18466.1px;bottom:14116.4px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#PageContainer637
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg637.jpg");background-repeat:no-repeat;background-size: 898px 1026px; background-position: 100.86px 246.73px;
}
#ImageContainer637 {bottom:91.27px;left:100.86px;width:897.94px;height:1025.88px;position:absolute;} #TextContainer637 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}