.tr153{ color:transparent;}
#P153_1
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P153_2
{
left:17467.7px;bottom:1410.03px;color:rgb(35,31,31);
}
#P153_3
{
left:22019.9px;bottom:1410.03px;letter-spacing:460.2px;word-spacing:1.9px;color:rgb(35,31,31);
}
#P153_4
{
left:0px;letter-spacing:7.6px;margin-left:-457.7px;
}
#P153_5
{
left:0px;letter-spacing:0.1px;margin-left:-9.5px;
}
#P153_6
{
left:0px;letter-spacing:0.3px;margin-left:2.3px;
}
#P153_7
{
left:0px;letter-spacing:1.1px;margin-left:-4.7px;
}
#P153_8
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P153_9
{
left:14845.4px;bottom:4364.65px;letter-spacing:228.8px;color:rgb(0,124,196);
}
#P153_10
{
left:15261.4px;bottom:4396.65px;letter-spacing:-9.3px;color:rgb(35,31,31);
}
#P153_11
{
left:0px;letter-spacing:0.1px;margin-left:9.3px;
}
#P153_12
{
left:15261.4px;bottom:3500.67px;color:rgb(35,31,31);
}
#P153_13
{
left:0px;letter-spacing:0px;margin-left:-4.2px;
}
#P153_14
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P153_15
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P153_16
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P153_17
{
left:10045.4px;bottom:43659.7px;letter-spacing:-31.7px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P153_17a
{
left: 23815.4px;bottom:43659.7px;letter-spacing:-31.7px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P153_18
{
left:0px;letter-spacing:-0.4px;margin-left:189.6px;
}
#P153_19
{
left:0px;letter-spacing:-0.1px;margin-left:-8px;
}
#P153_20
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P153_21
{
left:0px;letter-spacing:-0.3px;
margin-left: 0px;
}
#P153_22
{
left:30259.7px;bottom:43659.8px;color:rgb(0,124,196);
}
#P153_23
{
left:10045.4px;bottom:42763.7px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P153_24
{
left:11388.7px;bottom:42763.7px;color:rgb(0,124,196);
}
#P153_25
{
left:14390.6px;bottom:42763.7px;color:rgb(35,31,31);
}
#P153_25a
{
left: 23850.6px;bottom:42763.7px;color:rgb(35,31,31);
}
#P153_26
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P153_27
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P153_28
{
left:16098.1px;bottom:41867.7px;color:rgb(35,31,31);
}
#P153_29
{
left:22813.4px;bottom:45203.3px;color:rgb(0,124,196);
}
#P153_30
{
left:11363.5px;bottom:35996.8px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P153_31
{
left:0px;letter-spacing:0.4px;margin-left:14.1px;
}
#P153_32
{
left:0px;letter-spacing:0px;margin-left:-42.5px;
}
#P153_33
{
left:11363.5px;bottom:34716.8px;color:rgb(35,31,31);
}
#P153_34
{
left:11491.5px;bottom:34716.8px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P153_35
{
left:12707.5px;bottom:34716.8px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P153_36
{
left:0px;letter-spacing:-0.7px;margin-left:1.2px;
}
#P153_37
{
left:12835.5px;bottom:33500.7px;word-spacing:641.6px;color:rgb(35,31,31);
}
#P153_38
{
left:13367px;bottom:33471.1px;color:rgb(35,31,31);
}
#P153_39
{
left:13953.4px;bottom:33500.7px;color:rgb(35,31,31);
}
#P153_40
{
left:14889.8px;bottom:33471.1px;color:rgb(35,31,31);
}
#P153_41
{
left:15476.2px;bottom:33500.7px;color:rgb(35,31,31);
}
#P153_42
{
left:16412.4px;bottom:33471.1px;color:rgb(35,31,31);
}
#P153_43
{
left:16576.5px;bottom:33918.4px;color:rgb(235,26,35);
}
#P153_44
{
left:17002.5px;bottom:33500.8px;color:rgb(35,31,31);
}
#P153_45
{
left:17938.8px;bottom:33471.2px;color:rgb(35,31,31);
}
#P153_46
{
left:18525.3px;bottom:33500.8px;color:rgb(35,31,31);
}
#P153_47
{
left:19461.6px;bottom:33471.2px;color:rgb(35,31,31);
}
#P153_48
{
left:20048px;bottom:33500.8px;color:rgb(35,31,31);
}
#P153_49
{
left:0px;letter-spacing:0px;margin-left:2913.5px;
}
#P153_50
{
left:24182.9px;bottom:33471.2px;color:rgb(35,31,31);
}
#P153_51
{
left:24769.3px;bottom:33500.8px;color:rgb(35,31,31);
}
#P153_52
{
left:25705.6px;bottom:33471.2px;color:rgb(35,31,31);
}
#P153_53
{
left:26292.1px;bottom:33500.8px;color:rgb(35,31,31);
}
#P153_54
{
left:27228.3px;bottom:33471.2px;color:rgb(35,31,31);
}
#P153_55
{
left:27392.5px;bottom:33918.4px;color:rgb(235,26,35);
}
#P153_56
{
left:27818.5px;bottom:33500.8px;color:rgb(35,31,31);
}
#P153_57
{
left:28754.8px;bottom:33471.2px;color:rgb(35,31,31);
}
#P153_58
{
left:29341.3px;bottom:33500.8px;color:rgb(35,31,31);
}
#P153_59
{
left:30277.6px;bottom:33471.2px;color:rgb(35,31,31);
}
#P153_60
{
left:30864px;bottom:33500.8px;color:rgb(35,31,31);
}
#P153_61
{
left:12835.5px;bottom:32092.8px;word-spacing:641.6px;color:rgb(35,31,31);
}
#P153_62
{
left:13740.1px;bottom:32063.2px;color:rgb(35,31,31);
}
#P153_63
{
left:14326.6px;bottom:32092.8px;color:rgb(35,31,31);
}
#P153_64
{
left:15262.9px;bottom:32063.2px;color:rgb(35,31,31);
}
#P153_65
{
left:15849.3px;bottom:32092.8px;color:rgb(35,31,31);
}
#P153_66
{
left:16785.6px;bottom:32063.2px;color:rgb(35,31,31);
}
#P153_67
{
left:16949.6px;bottom:32510.4px;color:rgb(235,26,35);
}
#P153_68
{
left:17375.6px;bottom:32092.8px;color:rgb(35,31,31);
}
#P153_69
{
left:18685.1px;bottom:32063.2px;color:rgb(35,31,31);
}
#P153_70
{
left:19271.5px;bottom:32092.8px;color:rgb(35,31,31);
}
#P153_71
{
left:20207.8px;bottom:32063.2px;color:rgb(35,31,31);
}
#P153_72
{
left:20794.2px;bottom:32092.8px;color:rgb(35,31,31);
}
#P153_73
{
left:0px;letter-spacing:0px;margin-left:2167.4px;
}
#P153_74
{
left:24556px;bottom:32063.2px;color:rgb(35,31,31);
}
#P153_75
{
left:25142.4px;bottom:32092.8px;color:rgb(35,31,31);
}
#P153_76
{
left:26078.7px;bottom:32063.2px;color:rgb(35,31,31);
}
#P153_77
{
left:26665.2px;bottom:32092.8px;color:rgb(35,31,31);
}
#P153_78
{
left:27601.4px;bottom:32063.2px;color:rgb(35,31,31);
}
#P153_79
{
left:27765.6px;bottom:32510.4px;color:rgb(235,26,35);
}
#P153_80
{
left:28191.6px;bottom:32092.8px;color:rgb(35,31,31);
}
#P153_81
{
left:29501.1px;bottom:32063.2px;color:rgb(35,31,31);
}
#P153_82
{
left:30087.5px;bottom:32092.8px;color:rgb(35,31,31);
}
#P153_83
{
left:31023.8px;bottom:32063.2px;color:rgb(35,31,31);
}
#P153_84
{
left:31610.2px;bottom:32092.8px;color:rgb(35,31,31);
}
#P153_85
{
left:11363.5px;bottom:30812.8px;color:rgb(35,31,31);
}
#P153_86
{
left:11491.5px;bottom:30812.8px;letter-spacing:-13.9px;word-spacing:486.9px;color:rgb(35,31,31);
}
#P153_87
{
left:12707.5px;bottom:30812.8px;letter-spacing:-0.8px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P153_88
{
left:0px;letter-spacing:-0.5px;margin-left:158.6px;
}
#P153_89
{
left:0px;letter-spacing:-0.1px;margin-left:0.5px;
}
#P153_90
{
left:12707.5px;bottom:29916.8px;color:rgb(35,31,31);
}
#P153_91
{
left:0px;letter-spacing:0px;margin-left:-25.2px;
}
#P153_92
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P153_93
{
left:0px;letter-spacing:0px;margin-left:-4.2px;
}
#P153_94
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P153_95
{
left:28071.2px;bottom:29916.8px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P153_96
{
left:31485.6px;bottom:29916.8px;color:rgb(35,31,31);
}
#P153_97
{
left:12241.7px;bottom:37557px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P153_98
{
left:15666.8px;bottom:37748.8px;color:rgb(255,223,126);
}
#P153_99
{
left:16259.7px;bottom:37557px;word-spacing:175.5px;color:white;
}
#P153_100
{
left:18435.2px;bottom:37748.8px;color:white;
}
#P153_101
{
left:18675.4px;bottom:37557px;color:white;
}
#P153_102
{
left:19475.4px;bottom:37748.8px;color:white;
}
#P153_103
{
left:19715.6px;bottom:37557px;letter-spacing:-1.7px;color:white;
}
#P153_104
{
left:23781.8px;bottom:37748.8px;color:white;
}
#P153_105
{
left:24022px;bottom:37557px;color:white;
}
#P153_106
{
left:10501.3px;bottom:37433.5px;
}
#P153_107
{
left:10501.3px;bottom:37433.5px;color:white;
}
#P153_108
{
left:7672.79px;bottom:25251.1px;color:rgb(35,31,31);
}
#P153_109
{
left:8078.49px;bottom:25277.1px;word-spacing:405.7px;color:rgb(35,31,31);
}
#P153_110
{
left:9208.79px;bottom:25270.2px;word-spacing:-25.2px;color:rgb(2,77,161);
}
#P153_111
{
left:0px;letter-spacing:0px;margin-left:-25.2px;
}
#P153_112
{
left:0px;letter-spacing:0px;margin-left:25.2px;
}
#P153_113
{
left:15809.8px;bottom:25251.1px;letter-spacing:187.7px;color:rgb(35,31,31);
}
#P153_114
{
left:0px;letter-spacing:-0.7px;margin-left:-187.7px;
}
#P153_115
{
left:0px;letter-spacing:0.9px;margin-left:0.7px;
}
#P153_116
{
left:9208.79px;bottom:24382.3px;letter-spacing:-0.3px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P153_117
{
left:0px;letter-spacing:-0.1px;margin-left:-3.7px;
}
#P153_118
{
left:7672.67px;bottom:23065.4px;color:rgb(35,31,31);
}
#P153_119
{
left:8078.49px;bottom:23091.5px;word-spacing:405.7px;color:rgb(35,31,31);
}
#P153_120
{
left:9208.79px;bottom:23084.6px;color:rgb(2,77,161);
}
#P153_121
{
left:0px;letter-spacing:0px;margin-left:-37.5px;
}
#P153_122
{
left:0px;letter-spacing:0px;margin-left:-37.5px;
}
#P153_123
{
left:13609.6px;bottom:23065.5px;letter-spacing:187.7px;color:rgb(35,31,31);
}
#P153_124
{
left:0px;letter-spacing:-2.3px;margin-left:-191.8px;
}
#P153_125
{
left:0px;letter-spacing:-0.2px;margin-left:2.3px;
}
#P153_126
{
left:14264.8px;bottom:21748.8px;word-spacing:6335.8px;color:rgb(35,31,31);
}
#P153_127
{
left:15169.4px;bottom:21720.1px;color:rgb(35,31,31);
}
#P153_128
{
left:15755.9px;bottom:21748.8px;color:rgb(35,31,31);
}
#P153_129
{
left:16445.8px;bottom:21720.1px;color:rgb(35,31,31);
}
#P153_130
{
left:17032.2px;bottom:21748.8px;color:rgb(35,31,31);
}
#P153_131
{
left:18095.1px;bottom:21720.1px;color:rgb(35,31,31);
}
#P153_132
{
left:18681.5px;bottom:21748.8px;color:rgb(35,31,31);
}
#P153_133
{
left:19744.5px;bottom:21720.1px;color:rgb(35,31,31);
}
#P153_134
{
left:20331px;bottom:21748.8px;color:rgb(35,31,31);
}
#P153_135
{
left:21020.9px;bottom:21720.1px;color:rgb(35,31,31);
}
#P153_136
{
left:21607.3px;bottom:21748.8px;color:rgb(35,31,31);
}
#P153_137
{
left:7672.73px;bottom:20135.3px;color:rgb(35,31,31);
}
#P153_138
{
left:8067.16px;bottom:20161.3px;word-spacing:388.4px;color:rgb(35,31,31);
}
#P153_139
{
left:9208.79px;bottom:20154.4px;color:rgb(2,77,161);
}
#P153_140
{
left:13395.4px;bottom:20135.3px;letter-spacing:165.8px;color:rgb(35,31,31);
}
#P153_141
{
left:0px;letter-spacing:-1.5px;margin-left:-165.8px;
}
#P153_142
{
left:0px;letter-spacing:0px;margin-left:-12.2px;
}
#P153_143
{
left:9208.79px;bottom:19389.5px;color:rgb(63,172,72);
}
#P153_144
{
left:9880.79px;bottom:19266.5px;color:rgb(35,31,31);
}
#P153_145
{
left:10225.8px;bottom:19389.5px;color:rgb(167,80,151);
}
#P153_146
{
left:10881px;bottom:19266.5px;color:rgb(35,31,31);
}
#P153_147
{
left:11226px;bottom:19389.5px;color:rgb(235,26,35);
}
#P153_148
{
left:11888.3px;bottom:19266.5px;color:rgb(35,31,31);
}
#P153_149
{
left:13616.6px;bottom:19389.5px;color:rgb(2,77,161);
}
#P153_150
{
left:14400.6px;bottom:19266.5px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P153_151
{
left:0px;letter-spacing:0px;margin-left:0.9px;
}
#P153_152
{
left:7672.79px;bottom:17963.3px;color:rgb(35,31,31);
}
#P153_153
{
left:9287.38px;bottom:17963.3px;letter-spacing:-9.2px;word-spacing:1390.6px;color:rgb(35,31,31);
}
#P153_154
{
left:10488.8px;bottom:17963.3px;color:rgb(35,31,31);
}
#P153_155
{
left:10488.8px;bottom:17963.3px;letter-spacing:-9.2px;color:rgb(35,31,31);
}
#P153_156
{
left:0px;letter-spacing:-0.4px;margin-left:9.2px;
}
#P153_157
{
left:0px;letter-spacing:0px;margin-left:-13.4px;
}
#P153_158
{
left:10488.8px;bottom:17094.4px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P153_159
{
left:0px;letter-spacing:-0.2px;margin-left:-12.4px;
}
#P153_160
{
left:0px;letter-spacing:-0.9px;margin-left:0.2px;
}
#P153_161
{
left:13907.4px;bottom:16039.6px;word-spacing:568.9px;color:rgb(35,31,31);
}
#P153_162
{
left:14438.9px;bottom:16131.6px;color:rgb(2,77,161);
}
#P153_163
{
left:15110.9px;bottom:16039.6px;color:rgb(35,31,31);
}
#P153_164
{
left:15800.8px;bottom:16011px;color:rgb(35,31,31);
}
#P153_165
{
left:16387.2px;bottom:16039.6px;color:rgb(35,31,31);
}
#P153_166
{
left:17077.1px;bottom:16131.6px;color:rgb(2,77,161);
}
#P153_167
{
left:17749.1px;bottom:16039.6px;color:rgb(35,31,31);
}
#P153_168
{
left:13969.8px;bottom:14798.5px;word-spacing:568.9px;color:rgb(35,31,31);
}
#P153_169
{
left:14501.3px;bottom:14921.5px;color:rgb(235,26,35);
}
#P153_170
{
left:15269.3px;bottom:14798.5px;color:rgb(35,31,31);
}
#P153_171
{
left:15800.8px;bottom:14769.9px;color:rgb(35,31,31);
}
#P153_172
{
left:16387.2px;bottom:14798.5px;color:rgb(35,31,31);
}
#P153_173
{
left:17077.1px;bottom:14921.5px;color:rgb(235,26,35);
}
#P153_174
{
left:17845.1px;bottom:14798.5px;color:rgb(35,31,31);
}
#P153_175
{
left:12052.6px;bottom:13557.4px;word-spacing:568.9px;color:rgb(35,31,31);
}
#P153_176
{
left:12584.2px;bottom:13649.4px;color:rgb(2,77,161);
}
#P153_177
{
left:13256.2px;bottom:13557.4px;color:rgb(35,31,31);
}
#P153_178
{
left:14192.5px;bottom:13649.4px;color:rgb(2,77,161);
}
#P153_179
{
left:14864.5px;bottom:13557.4px;color:rgb(35,31,31);
}
#P153_180
{
left:15800.8px;bottom:13528.7px;color:rgb(35,31,31);
}
#P153_181
{
left:16387.2px;bottom:13557.4px;color:rgb(35,31,31);
}
#P153_182
{
left:17323.5px;bottom:13649.4px;color:rgb(2,77,161);
}
#P153_183
{
left:17995.5px;bottom:13557.4px;color:rgb(35,31,31);
}
#P153_184
{
left:18931.8px;bottom:13649.4px;color:rgb(2,77,161);
}
#P153_185
{
left:19603.8px;bottom:13557.4px;color:rgb(35,31,31);
}
#P153_186
{
left:12177.4px;bottom:12316.4px;word-spacing:568.9px;color:rgb(35,31,31);
}
#P153_187
{
left:12709px;bottom:12439.3px;color:rgb(235,26,35);
}
#P153_188
{
left:13477px;bottom:12316.3px;color:rgb(35,31,31);
}
#P153_189
{
left:14254.9px;bottom:12439.3px;color:rgb(235,26,35);
}
#P153_190
{
left:15022.9px;bottom:12316.3px;color:rgb(35,31,31);
}
#P153_191
{
left:15800.8px;bottom:12287.6px;color:rgb(35,31,31);
}
#P153_192
{
left:16387.2px;bottom:12316.3px;color:rgb(35,31,31);
}
#P153_193
{
left:17323.5px;bottom:12439.3px;color:rgb(235,26,35);
}
#P153_194
{
left:18091.5px;bottom:12316.3px;color:rgb(35,31,31);
}
#P153_195
{
left:18869.4px;bottom:12439.3px;color:rgb(235,26,35);
}
#P153_196
{
left:19637.4px;bottom:12316.3px;color:rgb(35,31,31);
}
#P153_197
{
left:13907.4px;bottom:11075.3px;word-spacing:568.9px;color:rgb(35,31,31);
}
#P153_198
{
left:14438.9px;bottom:11167.1px;color:rgb(2,77,161);
}
#P153_199
{
left:15110.9px;bottom:11075.2px;color:rgb(35,31,31);
}
#P153_200
{
left:15800.8px;bottom:11046.5px;color:rgb(35,31,31);
}
#P153_201
{
left:16387.2px;bottom:11075.2px;color:rgb(35,31,31);
}
#P153_202
{
left:13969.8px;bottom:9834.06px;word-spacing:568.9px;color:rgb(35,31,31);
}
#P153_203
{
left:14501.3px;bottom:9957.08px;color:rgb(235,26,35);
}
#P153_204
{
left:15269.3px;bottom:9834.06px;color:rgb(35,31,31);
}
#P153_205
{
left:15800.8px;bottom:9805.39px;color:rgb(35,31,31);
}
#P153_206
{
left:16387.2px;bottom:9834.06px;color:rgb(35,31,31);
}
#P153_207
{
left:7672.73px;bottom:8592.91px;color:rgb(35,31,31);
}
#P153_208
{
left:9253.57px;bottom:8592.91px;letter-spacing:-13.7px;word-spacing:1361.9px;color:rgb(35,31,31);
}
#P153_209
{
left:10488.7px;bottom:8592.91px;color:rgb(35,31,31);
}
#P153_210
{
left:10488.7px;bottom:8592.91px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P153_211
{
left:0px;letter-spacing:0px;margin-left:-19.7px;
}
#P153_212
{
left:0px;letter-spacing:0px;
}
#P153_213
{
left:0px;letter-spacing:-12.9px;margin-left:-41.5px;
}
#P153_214
{
left:0px;letter-spacing:0px;margin-left:12.9px;
}
#P153_215
{
left:10488.7px;bottom:7724.11px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P153_216
{
left:0px;letter-spacing:-31.8px;margin-left:-24px;
}
#P153_217
{
left:0px;letter-spacing:-0.6px;margin-left:31.8px;
}
#P153_218
{
left:0px;letter-spacing:0px;margin-left:0.6px;
}
#P153_219
{
left:10488.7px;bottom:6855.31px;letter-spacing:-4.6px;color:rgb(35,31,31);
}
#P153_220
{
left:0px;letter-spacing:-0.4px;margin-left:4.6px;
}
#P153_221
{
left:0px;letter-spacing:0px;margin-left:-13.3px;
}
#P153_222
{
left:4941.34px;bottom:34158.7px;color:rgb(35,31,31);
}
#P153_223
{
left:4941.34px;bottom:33390.7px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P153_224
{
left:4941.34px;bottom:32516.8px;color:rgb(35,31,31);
}
#P153_225
{
left:4941.34px;bottom:31780.8px;color:rgb(35,31,31);
}
#P153_226
{
left:4941.34px;bottom:31044.8px;color:rgb(35,31,31);
}
#P153_227
{
left:4941.34px;bottom:30308.9px;color:rgb(35,31,31);
}
#P153_228
{
left:4941.34px;bottom:29572.9px;color:rgb(35,31,31);
}
#P153_229
{
left:4690.71px;bottom:35911.5px;letter-spacing:-20.4px;color:white;
}
#P153_230
{
left:4690.71px;bottom:34951.4px;letter-spacing:-27.2px;color:white;
}
#P153_231
{
left:6669.79px;bottom:35208.2px;color:white;
}
#P153_232
{
left:6945.05px;bottom:34951.4px;letter-spacing:-27.2px;color:white;
}
#PageContainer153
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg153.jpg");background-repeat:no-repeat;background-size: 1021px 1273px; background-position: 0px -0.279999999999973px;
}
#ImageContainer153 {bottom:91.28px;left:0.00px;width:1020.57px;height:1272.88px;position:absolute;} #TextContainer153 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.practice{ position: absolute; top: 1215px; left: 255px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}