.tr688{ color:transparent;}
#P688_1
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P688_2
{
left:3540.44px;bottom:1410.03px;color:rgb(35,31,31);
}
#P688_3
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P688_4
{
left:8197.72px;bottom:1410.03px;letter-spacing:462.1px;color:rgb(35,31,31);
}
#P688_5
{
left:0px;letter-spacing:3.5px;margin-left:-461.2px;
}
#P688_6
{
left:6977.56px;bottom:46189.1px;letter-spacing:-6.8px;color:white;
}
#P688_7
{
left:0px;letter-spacing:-2.4px;margin-left:6.8px;
}
#P688_8
{
left:18956.2px;bottom:46487.5px;color:white;
}
#P688_9
{
left:19329.9px;bottom:46189.1px;color:white;
}
#P688_10
{
left:3459.78px;bottom:46161.9px;color:white;
}
#P688_11
{
left:18900.5px;bottom:41182.6px;letter-spacing:213.2px;color:rgb(35,31,31);
}
#P688_12
{
left:0px;letter-spacing:0px;margin-left:-213.2px;
}
#P688_13
{
left:7789.4px;bottom:40094.5px;color:rgb(35,31,31);
}
#P688_14
{
left:7741.4px;bottom:38332.8px;letter-spacing:-2px;color:rgb(35,31,31);
}
#P688_15
{
left:0px;letter-spacing:-0.4px;margin-left:2px;
}
#P688_16
{
left:0px;letter-spacing:-2.5px;margin-left:-13.5px;
}
#P688_17
{
left:0px;letter-spacing:-0.3px;margin-left:-11.4px;
}
#P688_18
{
left:0px;letter-spacing:0px;margin-left:-6.7px;
}
#P688_19
{
left:7741.4px;bottom:37436.8px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P688_20
{
left:0px;letter-spacing:0px;margin-left:0.8px;
}
#P688_21
{
left:17694.6px;bottom:36156.8px;word-spacing:4641.6px;color:rgb(35,31,31);
}
#P688_21a
{
left: 18364.6px;
bottom: 35276.8px;
word-spacing: 0px;color:rgb(35,31,31);
}

#P688_22
{
left:0px;letter-spacing:0px;margin-left:-4641.6px;
}
#P688_23
{
left: 10481.4px;
bottom: 35470.8px;color:rgb(35,31,31);
}
#P688_24
{
left:0px;letter-spacing:0px;margin-left:3183.2px;
}
#P688_25
{
left:0px;letter-spacing:0px;margin-left:-4.2px;
}
#P688_26
{
left:0px;letter-spacing:0px;margin-left:4225.6px;
}
#P688_27
{
left:0px;letter-spacing:0px;margin-left:3885.8px;
}
#P688_28
{
left:0px;letter-spacing:0px;margin-left:-59.1px;
}
#P688_29
{
left:0px;letter-spacing:0px;margin-left:-4.2px;
}
#P688_30
{
left:8893.4px;bottom:33916.8px;color:rgb(235,26,35);
}
#P688_30aa
{
left: 19893.4px;bottom:33916.8px;
color: rgb(235,26,35);
}

#P688_30a
{
left: 24933.4px;bottom:33916.8px;
color: rgb(1235,26,35);
}
#P688_30b
{
left: 24933.4px;
bottom: 31746.8px;
color: rgb(0,124,196);
}
#P688_31
{
left:0px;letter-spacing:0px;margin-left:5087.2px;
}
#P688_32
{
left:0px;letter-spacing:0px;margin-left:4519px;
}
#P688_33
{
left:0px;letter-spacing:0px;margin-left:-6.9px;
}
#P688_34
{
left:0px;letter-spacing:0px;margin-left:5.5px;
}
#P688_35
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P688_36
{
left:8893.4px;bottom:32828.7px;color:rgb(0,170,77);
}
#P688_36a
{
left: 19743.4px;bottom:32828.7px;color:rgb(0,170,77);
}
#P688_36b
{
left: 24883.4px;bottom:32828.7px;color:rgb(0,170,77);
}
#P688_37
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P688_38
{
left:0px;letter-spacing:0px;margin-left:3092.7px;
}
#P688_39
{
left:0px;letter-spacing:0px;margin-left:4037.5px;
}
#P688_40
{
left:0px;letter-spacing:0px;margin-left:-6.8px;
}
#P688_41
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P688_42
{
left: 8833.4px;bottom:31740.7px;color:rgb(0,124,196);
}
#P688_42a
{
left: 19683.4px;bottom:31740.7px;
color: rgb(0,124,196);
}
#P688_43
{
left:0px;letter-spacing:0px;margin-left:5394.8px;
}
#P688_44
{
left:0px;letter-spacing:0px;margin-left:4332.5px;
}
#P688_45
{
left:0px;letter-spacing:0px;margin-left:-6.9px;
}
#P688_46
{
left:0px;letter-spacing:0px;margin-left:-13.9px;
}
#P688_47
{
left:9251.48px;bottom:27356.8px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P688_48
{
left:0px;letter-spacing:0.4px;margin-left:14.1px;
}
#P688_49
{
left:0px;letter-spacing:-14px;margin-left:-42.5px;
}
#P688_50
{
left:0px;letter-spacing:0px;margin-left:-17.6px;
}
#P688_51
{
left:0px;letter-spacing:-0.1px;
}
#P688_52
{
left:9251.48px;bottom:26268.7px;color:rgb(35,31,31);
}
#P688_53
{
left:9379.48px;bottom:26268.7px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P688_54
{
left:10595.5px;bottom:26268.7px;color:rgb(35,31,31);
}
#P688_55
{
left:9251.48px;bottom:22735.9px;color:rgb(35,31,31);
}
#P688_56
{
left:9379.48px;bottom:22735.9px;color:rgb(35,31,31);
}
#P688_57
{
left:11081.8px;bottom:23331.2px;letter-spacing:8799.6px;
}
#P688_58
{
left:0px;letter-spacing:0px;margin-left:-8799.6px;
}
#P688_59
{
left:29478.7px;bottom:23331.2px;color:rgb(35,31,31);
}
#P688_60
{
left:10793.8px;bottom:25078.2px;color:rgb(35,31,31);
}
#P688_61
{
left:19913.6px;bottom:25078.2px;
}
#P688_62
{
left:29030.6px;bottom:25078.2px;color:rgb(35,31,31);
}
#P688_63
{
left: 11931.48px;bottom:21456px;
letter-spacing: 0px;color:rgb(35,31,31);
}
#P688_64
{
left:0px;letter-spacing:0px;margin-left:-1224px;
}
#P688_65
{
left:0px;letter-spacing:-9.3px;margin-left:-8.4px;
}
#P688_66
{
left:0px;letter-spacing:-0.3px;margin-left:9.3px;
}
#P688_67
{
left:0px;letter-spacing:0px;margin-left:1344.3px;
}
#P688_68
{
left:0px;letter-spacing:0px;
}
#P688_69
{
left:9251.48px;bottom:19408px;color:rgb(35,31,31);
}
#P688_70
{
left:9379.48px;bottom:19408px;letter-spacing:-17.5px;color:rgb(35,31,31);
}
#P688_71
{
left:10595.5px;bottom:19408px;color:rgb(35,31,31);
}
#P688_72
{
left:21918.6px;bottom:19408px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P688_73
{
left:23075.5px;bottom:19408px;color:rgb(35,31,31);
}
#P688_74
{
left:9251.48px;bottom:18128px;color:rgb(35,31,31);
}
#P688_75
{
left:9379.48px;bottom:18128px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P688_76
{
left:10595.5px;bottom:18128px;color:rgb(35,31,31);
}
#P688_77
{
left:21901px;bottom:18128px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P688_78
{
left:23075.5px;bottom:18128px;color:rgb(35,31,31);
}
#P688_79
{
left:10129.7px;bottom:28917px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P688_80
{
left:13554.8px;bottom:29108.8px;color:rgb(255,223,126);
}
#P688_81
{
left:14179.5px;bottom:28917px;word-spacing:207.4px;color:white;
}
#P688_82
{
left:15332.1px;bottom:29108.8px;color:white;
}
#P688_83
{
left:15572.3px;bottom:28917px;color:white;
}
#P688_84
{
left:17093px;bottom:29108.8px;color:white;
}
#P688_85
{
left:17333.1px;bottom:28917px;letter-spacing:-1.9px;color:white;
}
#P688_86
{
left:8389.27px;bottom:28793.5px;
}
#P688_87
{
left:8389.27px;bottom:28793.5px;color:white;
}
#P688_88
{
left:9245.08px;bottom:13788.8px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P688_89
{
left:0px;letter-spacing:0.4px;margin-left:14.1px;
}
#P688_90
{
left:0px;letter-spacing:-14px;margin-left:-42.5px;
}
#P688_91
{
left:0px;letter-spacing:0px;margin-left:-17.6px;
}
#P688_92
{
left:0px;letter-spacing:-0.1px;
}
#P688_93
{
left:9245.08px;bottom:12700.7px;color:rgb(35,31,31);
}
#P688_94
{
left:9373.08px;bottom:12700.7px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P688_95
{
left:10589.1px;bottom:12700.7px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P688_96
{
left:11267.4px;bottom:9763.18px;color:rgb(35,31,31);
}
#P688_97
{
left:29692.5px;bottom:9770.09px;color:rgb(35,31,31);
}
#P688_98
{
left:10979.4px;bottom:11510.2px;color:rgb(35,31,31);
}
#P688_99
{
left:0px;letter-spacing:0px;margin-left:17340.5px;
}
#P688_100
{
left:14546.2px;bottom:11509.6px;
}
#P688_101
{
left:14815.2px;bottom:9770.09px;color:rgb(35,31,31);
}
#P688_102
{
left:18236.6px;bottom:11509.6px;color:rgb(35,31,31);
}
#P688_103
{
left:18541.3px;bottom:9766.64px;
}
#P688_104
{
left:21937.4px;bottom:11509.6px;
}
#P688_105
{
left:22245.6px;bottom:9770.09px;color:rgb(35,31,31);
}
#P688_106
{
left:25705.6px;bottom:11509.6px;color:rgb(35,31,31);
}
#P688_107
{
left:25960.8px;bottom:9766.64px;
}
#P688_108
{
left: 11840.1px;bottom:7823.98px;
letter-spacing: 0px;color:rgb(35,31,31);
}
#P688_109
{
left:0px;letter-spacing:0px;margin-left:-1224px;
}
#P688_110
{
left:0px;letter-spacing:-9.3px;margin-left:-8.4px;
}
#P688_111
{
left:0px;letter-spacing:-0.2px;margin-left:9.3px;
}
#P688_112
{
left:0px;letter-spacing:0px;margin-left:1344.1px;
}
#P688_113
{
left:0px;letter-spacing:0px;
}
#P688_114
{
left:9245.08px;bottom:5775.98px;color:rgb(35,31,31);
}
#P688_115
{
left:9373.08px;bottom:5775.98px;letter-spacing:-17.5px;color:rgb(35,31,31);
}
#P688_116
{
left: 10589.1px;bottom:5775.98px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P688_117
{
left:21912.2px;bottom:5775.98px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P688_118
{
left:23069.1px;bottom:5775.98px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P688_119
{
left:9245.08px;bottom:4495.98px;color:rgb(35,31,31);
}
#P688_120
{
left:9373.08px;bottom:4495.98px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P688_121
{
left:10589.1px;bottom:4495.98px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P688_122
{
left:21894.6px;bottom:4495.98px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P688_123
{
left:23069.1px;bottom:4495.98px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P688_124
{
left:10123.3px;bottom:15349px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P688_125
{
left:13548.4px;bottom:15540.8px;color:rgb(255,223,126);
}
#P688_126
{
left:14173.1px;bottom:15349px;word-spacing:207.4px;color:white;
}
#P688_127
{
left:15325.7px;bottom:15540.8px;color:white;
}
#P688_128
{
left:15565.9px;bottom:15349px;color:white;
}
#P688_129
{
left:17086.6px;bottom:15540.8px;color:white;
}
#P688_130
{
left:17326.7px;bottom:15349px;letter-spacing:-3.9px;color:white;
}
#P688_131
{
left:0px;letter-spacing:0px;margin-left:3.9px;
}
#P688_132
{
left:8382.87px;bottom:15225.5px;
}
#P688_133
{
left:8382.87px;bottom:15225.5px;color:white;
}
#P688_134
{
left:4365.85px;bottom:13885.9px;color:rgb(35,31,31);
}
#P688_135
{
left:4738.91px;bottom:13914.3px;letter-spacing:-10.2px;color:rgb(35,31,31);
}
#P688_136
{
left:6756.38px;bottom:13885.9px;color:rgb(35,31,31);
}
#P688_137
{
left:4365.85px;bottom:13181.9px;letter-spacing:-14.1px;color:rgb(35,31,31);
}
#P688_138
{
left:5076.83px;bottom:13210.3px;letter-spacing:-10.4px;color:rgb(35,31,31);
}
#P688_139
{
left:2429.84px;bottom:12313.4px;letter-spacing:0.5px;word-spacing:-2.8px;color:rgb(35,31,31);
}
#P688_140
{
left:0px;letter-spacing:3.7px;margin-left:2.9px;
}
#P688_141
{
left:2429.84px;bottom:11530.2px;letter-spacing:-3.3px;word-spacing:-0.7px;color:rgb(35,31,31);
}
#P688_142
{
left:0px;letter-spacing:-0.3px;margin-left:2.4px;
}
#P688_143
{
left:0px;letter-spacing:-3.1px;margin-left:-4.5px;
}
#P688_144
{
left:2429.84px;bottom:10908.4px;color:rgb(35,31,31);
}
#P688_145
{
left:2679.76px;bottom:10690.2px;color:rgb(35,31,31);
}
#P688_146
{
left:3024.72px;bottom:10730.2px;letter-spacing:-130.6px;color:rgb(35,31,31);
}
#P688_147
{
left:0px;letter-spacing:-2.1px;margin-left:130px;
}
#P688_148
{
left:0px;letter-spacing:-0.1px;margin-left:-3.4px;
}
#P688_149
{
left:3024.72px;bottom:10090.2px;letter-spacing:2.9px;word-spacing:-6px;color:rgb(35,31,31);
}
#P688_150
{
left:0px;letter-spacing:-1.1px;margin-left:-2.3px;
}
#P688_151
{
left:0px;letter-spacing:0.6px;margin-left:2.7px;
}
#P688_152
{
left:3024.72px;bottom:9450.09px;letter-spacing:6.2px;word-spacing:-6px;color:rgb(35,31,31);
}
#P688_153
{
left:0px;letter-spacing:0.4px;margin-left:-2.1px;
}
#P688_154
{
left:3024.72px;bottom:8810.03px;letter-spacing:0.2px;word-spacing:-4.8px;color:rgb(35,31,31);
}
#P688_155
{
left:0px;letter-spacing:0px;margin-left:3px;
}
#P688_156
{
left:2429.86px;bottom:8042.03px;letter-spacing:-1.4px;word-spacing:-5.4px;color:rgb(35,31,31);
}
#P688_157
{
left:0px;letter-spacing:-0.1px;margin-left:8.7px;
}
#P688_158
{
left:2429.86px;bottom:7402.03px;letter-spacing:-39.1px;color:rgb(35,31,31);
}
#P688_159
{
left:0px;letter-spacing:0px;margin-left:41.5px;
}
#P688_160
{
left:0px;letter-spacing:0px;margin-left:0.9px;
}
#P688_161
{
left:0px;letter-spacing:0px;margin-left:-51.7px;
}
#P688_162
{
left:0px;letter-spacing:0px;margin-left:7.6px;
}
#PageContainer688
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg688.jpg");background-repeat:no-repeat;background-size: 1066px 1152px; background-position: 1px -0.299999999999955px;
}
#ImageContainer688 {bottom:212.30px;right:0.00px;width:1066.24px;height:1151.86px;position:absolute;} #TextContainer688 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.rpj{position: absolute;top: 209px;left: 159px;}
.srpj{position: absolute;top: 208px;left: 107px;}
.math_tool{position: absolute;top: 539px;left: 160px;}
.geo{position: absolute;top: 544px;left: 105px;}
.geo1{position: absolute;top: 906px;left: 115px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}