.tr450{ color:transparent;}
#P450_1
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P450_2
{
left:3540.44px;bottom:1417.71px;color:rgb(35,31,31);
}
#P450_3
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P450_4
{
left:7841.88px;bottom:1417.71px;letter-spacing:462.1px;color:rgb(35,31,31);
}
#P450_5
{
left:0px;letter-spacing:4.6px;margin-left:-470px;
}
#P450_6
{
left:0px;letter-spacing:2px;margin-left:-8.9px;
}
#P450_7
{
left:0px;letter-spacing:2.7px;margin-left:4.6px;
}
#P450_8
{
left:10241.6px;bottom:46829.1px;color:white;
}
#P450_9
{
left:11909.5px;bottom:47127.5px;color:white;
}
#P450_10
{
left:12283.1px;bottom:46829.1px;color:white;
}
#P450_11
{
left:3395.76px;bottom:46764.3px;color:white;
}
#P450_12
{
left:4669.4px;bottom:43353.3px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P450_13
{
left:0px;letter-spacing:0px;margin-left:-27.4px;
}
#P450_14
{
left:13908.7px;bottom:43353.3px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P450_15
{
left:4669.4px;bottom:42137.3px;color:rgb(35,31,31);
}
#P450_16
{
left:5237.98px;bottom:42157px;color:rgb(35,31,31);
}
#P450_17
{
left:6269.4px;bottom:42137.3px;color:rgb(35,31,31);
}
#P450_18
{
left:17333.8px;bottom:42157px;color:rgb(35,31,31);
}
#P450_19
{
left:18429.3px;bottom:42137.3px;color:rgb(35,31,31);
}
#P450_20
{
left:4669.27px;bottom:40409.3px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P450_21
{
left:0px;letter-spacing:0px;margin-left:-27px;
}
#P450_22
{
left:0px;letter-spacing:0px;margin-left:-225px;
}
#P450_23
{
left:0px;letter-spacing:0px;margin-left:77.1px;
}
#P450_24
{
left:0px;letter-spacing:-1.9px;
}
#P450_25
{
left:0px;letter-spacing:-0.6px;margin-left:1.9px;
}
#P450_26
{
left:0px;letter-spacing:0px;margin-left:-27.4px;
}
#P450_27
{
left:0px;letter-spacing:0px;
}
#P450_28
{
left:0px;letter-spacing:0px;margin-left:-28.1px;
}
#P450_29
{
left:4669.4px;bottom:39513.3px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P450_30
{
left:4669.4px;bottom:38425.3px;color:rgb(35,31,31);
}
#P450_31
{
left:5237.98px;bottom:38445px;color:rgb(35,31,31);
}
#P450_32
{
left:6269.4px;bottom:38425.3px;color:rgb(35,31,31);
}
#P450_33
{
left:17333.8px;bottom:38445px;color:rgb(35,31,31);
}
#P450_34
{
left:18429.3px;bottom:38425.3px;color:rgb(35,31,31);
}
#P450_35
{
left:4669.27px;bottom:36697.3px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P450_36
{
left:0px;letter-spacing:0px;margin-left:-12.9px;
}
#P450_37
{
left:0px;letter-spacing:-2.8px;margin-left:-28px;
}
#P450_38
{
left:0px;letter-spacing:-0.5px;margin-left:2.8px;
}
#P450_39
{
left:4669.27px;bottom:35801.4px;color:rgb(35,31,31);
}
#P450_40
{
left:0px;letter-spacing:-28px;margin-left:-50.5px;
}
#P450_41
{
left:15879.4px;bottom:35801.3px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P450_42
{
left:4669.4px;bottom:34713.3px;color:rgb(35,31,31);
}
#P450_43
{
left:5237.98px;bottom:34733px;color:rgb(35,31,31);
}
#P450_44
{
left:7031.19px;bottom:34552.7px;color:rgb(35,31,31);
}
#P450_45
{
left:0px;letter-spacing:0px;margin-left:-74.5px;
}
#P450_46
{
left:8446.87px;bottom:33720.7px;letter-spacing:0.5px;color:rgb(35,31,31);
}
#P450_47
{
left:7065.24px;bottom:32682px;color:rgb(35,31,31);
}
#P450_48
{
left:0px;letter-spacing:0px;margin-left:1591.7px;
}
#P450_49
{
left:0px;letter-spacing:0px;margin-left:1591.7px;
}
#P450_50
{
left:0px;letter-spacing:0px;margin-left:1591.7px;
}
#P450_51
{
left:7065.24px;bottom:31658px;color:rgb(35,31,31);
}
#P450_52
{
left:0px;letter-spacing:0px;margin-left:1591.7px;
}
#P450_53
{
left:0px;letter-spacing:0px;margin-left:1591.7px;
}
#P450_54
{
left:0px;letter-spacing:0px;margin-left:1591.7px;
}
#P450_55
{
left:15835.1px;bottom:34713.3px;color:rgb(35,31,31);
}
#P450_56
{
left:17334px;bottom:34733px;color:rgb(35,31,31);
}
#P450_57
{
left:21632.2px;bottom:34618.5px;color:rgb(35,31,31);
}
#P450_58
{
left:20736.3px;bottom:33786.5px;color:rgb(35,31,31);
}
#P450_59
{
left:19225.1px;bottom:32747.7px;color:rgb(35,31,31);
}
#P450_60
{
left:0px;letter-spacing:0px;margin-left:1413.6px;
}
#P450_61
{
left:0px;letter-spacing:0px;margin-left:1413.6px;
}
#P450_62
{
left:0px;letter-spacing:0px;margin-left:1413.6px;
}
#P450_63
{
left:0px;letter-spacing:0px;margin-left:1235.6px;
}
#P450_64
{
left:19225.1px;bottom:31723.7px;color:rgb(35,31,31);
}
#P450_65
{
left:0px;letter-spacing:0px;margin-left:1413.6px;
}
#P450_66
{
left:0px;letter-spacing:0px;margin-left:1235.5px;
}
#P450_67
{
left:0px;letter-spacing:0px;margin-left:1413.6px;
}
#P450_68
{
left:0px;letter-spacing:0px;margin-left:1413.6px;
}
#P450_69
{
left:17466.6px;bottom:29401.3px;color:rgb(35,31,31);
}
#P450_70
{
left:17466.6px;bottom:29421px;word-spacing:179.9px;color:rgb(35,31,31);
}
#P450_71
{
left:18429.4px;bottom:29421px;letter-spacing:-3.5px;color:rgb(2,77,161);
}
#P450_72
{
left:0px;letter-spacing:0px;margin-left:3.5px;
}
#P450_73
{
left:24676.7px;bottom:29401.3px;letter-spacing:168.3px;color:rgb(35,31,31);
}
#P450_74
{
left:0px;letter-spacing:0px;margin-left:-168.3px;
}
#P450_75
{
left:18429.4px;bottom:28505.3px;letter-spacing:-3.6px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P450_76
{
left:0px;letter-spacing:-0.1px;margin-left:3.5px;
}
#P450_77
{
left:18429.4px;bottom:27609.3px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P450_78
{
left:4669.4px;bottom:26137.3px;color:rgb(35,31,31);
}
#P450_79
{
left:5629.27px;bottom:26157px;letter-spacing:444.3px;color:rgb(35,31,31);
}
#P450_80
{
left:0px;letter-spacing:0px;margin-left:10816px;
}
#P450_81
{
left:19652.6px;bottom:26137.3px;color:rgb(35,31,31);
}
#P450_82
{
left:4669.15px;bottom:24665.3px;color:rgb(35,31,31);
}
#P450_83
{
left:18429.2px;bottom:24685px;letter-spacing:-131.7px;color:rgb(35,31,31);
}
#P450_84
{
left:18493.2px;bottom:24665.3px;letter-spacing:-2.3px;color:rgb(35,31,31);
}
#P450_85
{
left:19956.2px;bottom:24685px;color:rgb(35,31,31);
}
#P450_86
{
left:20152px;bottom:24665.3px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P450_87
{
left:0px;letter-spacing:-1.7px;margin-left:-6.1px;
}
#P450_88
{
left:0px;letter-spacing:0.1px;margin-left:1.7px;
}
#P450_89
{
left:18493.2px;bottom:23769.3px;letter-spacing:-2.1px;color:rgb(35,31,31);
}
#P450_90
{
left:0px;letter-spacing:0px;margin-left:2.1px;
}
#P450_91
{
left:18493.2px;bottom:22873.3px;color:rgb(35,31,31);
}
#P450_92
{
left:20783.5px;bottom:22873.3px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P450_92a
{
left: 24523.5px;bottom:22873.3px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P450_92b
{
left: 26163.5px;bottom:22873.3px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P450_93
{
left:4669.4px;bottom:21401.3px;color:rgb(35,31,31);
}
#P450_94
{
left:5237.98px;bottom:21421px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P450_95
{
left:6269.4px;bottom:21421px;letter-spacing:-0.7px;color:rgb(2,77,161);
}
#P450_96
{
left:13391.1px;bottom:21401.3px;letter-spacing:168.3px;color:rgb(35,31,31);
}
#P450_97
{
left:0px;letter-spacing:-1.6px;margin-left:-168.3px;
}
#P450_98
{
left:0px;letter-spacing:-0.4px;margin-left:1.6px;
}
#P450_99
{
left:25274.7px;bottom:21196.8px;color:rgb(35,31,31);
}
#P450_100
{
left:25367.7px;bottom:20364.8px;letter-spacing:-74.4px;color:rgb(35,31,31);
}
#P450_101
{
left:0px;letter-spacing:0px;margin-left:74.4px;
}
#P450_102
{
left:25031.4px;bottom:19532.8px;color:rgb(35,31,31);
}
#P450_103
{
left:25685.2px;bottom:18700.8px;color:rgb(35,31,31);
}
#P450_104
{
left:25419.4px;bottom:17661.9px;letter-spacing:1769.7px;color:rgb(35,31,31);
}
#P450_105
{
left:0px;letter-spacing:0px;margin-left:-1769.8px;
}
#P450_106
{
left:25241.2px;bottom:16637.9px;color:rgb(35,31,31);
}
#P450_107
{
left:0px;letter-spacing:0px;margin-left:1591.7px;
}
#P450_108
{
left:25419.4px;bottom:15613.9px;letter-spacing:1947.9px;color:rgb(35,31,31);
}
#P450_109
{
left:25419.4px;bottom:14589.9px;letter-spacing:1947.9px;color:rgb(35,31,31);
}
#P450_110
{
left:25241.2px;bottom:13565.9px;color:rgb(35,31,31);
}
#P450_111
{
left:0px;letter-spacing:0px;margin-left:1591.7px;
}
#P450_112
{
left:30880px;bottom:21196.8px;color:rgb(35,31,31);
}
#P450_113
{
left:30935.7px;bottom:20364.8px;letter-spacing:-74.4px;color:rgb(35,31,31);
}
#P450_114
{
left:0px;letter-spacing:0px;margin-left:74.4px;
}
#P450_115
{
left:30599.4px;bottom:19532.8px;color:rgb(35,31,31);
}
#P450_116
{
left:31253.4px;bottom:18700.8px;color:rgb(35,31,31);
}
#P450_117
{
left:30987.4px;bottom:17661.9px;letter-spacing:1769.7px;color:rgb(35,31,31);
}
#P450_118
{
left:0px;letter-spacing:0px;margin-left:-1769.7px;
}
#P450_119
{
left:30987.4px;bottom:16637.9px;letter-spacing:1769.7px;color:rgb(35,31,31);
}
#P450_120
{
left:0px;letter-spacing:0px;margin-left:-1769.7px;
}
#P450_121
{
left:30809.3px;bottom:15613.9px;color:rgb(35,31,31);
}
#P450_122
{
left:0px;letter-spacing:0px;margin-left:1591.7px;
}
#P450_123
{
left:30809.3px;bottom:14589.9px;color:rgb(35,31,31);
}
#P450_124
{
left:0px;letter-spacing:0px;margin-left:1591.7px;
}
#P450_125
{
left:30987.4px;bottom:13565.9px;letter-spacing:1947.9px;color:rgb(35,31,31);
}
#P450_126
{
left:6269.4px;bottom:20505.3px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P450_127
{
left:6269.4px;bottom:19609.3px;letter-spacing:-1.7px;color:rgb(35,31,31);
}
#P450_128
{
left:9545.24px;bottom:19609.3px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P450_129
{
left:4669.4px;bottom:18265.3px;color:rgb(35,31,31);
}
#P450_130
{
left:6270.43px;bottom:18265.3px;color:rgb(35,31,31);
}
#P450_131
{
left:6850.52px;bottom:18265.3px;letter-spacing:284.5px;color:rgb(35,31,31);
}
#P450_132
{
left:0px;letter-spacing:0px;margin-left:-442.9px;
}
#P450_133
{
left:0px;letter-spacing:-0.3px;margin-left:-6.9px;
}
#P450_134
{
left:0px;letter-spacing:0.1px;margin-left:-13.7px;
}
#P450_135
{
left:0px;letter-spacing:0px;margin-left:-0.1px;
}
#P450_136
{
left:7293.4px;bottom:17369.3px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P450_137
{
left:7293.4px;bottom:16473.3px;letter-spacing:-2.5px;color:rgb(35,31,31);
}
#P450_138
{
left:0px;letter-spacing:-1.7px;margin-left:2.5px;
}
#P450_139
{
left:0px;letter-spacing:0px;margin-left:-12.2px;
}
#P450_140
{
left:4669.4px;bottom:15193.3px;color:rgb(35,31,31);
}
#P450_141
{
left:6234.39px;bottom:15193.3px;letter-spacing:-6.9px;color:rgb(35,31,31);
}
#P450_142
{
left:7293.4px;bottom:15193.3px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P450_143
{
left:0px;letter-spacing:0px;margin-left:-0.1px;
}
#P450_144
{
left:7293.4px;bottom:14297.4px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P450_145
{
left:7293.4px;bottom:13401.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P450_146
{
left:0px;letter-spacing:-0.6px;margin-left:158.4px;
}
#P450_147
{
left:0px;letter-spacing:-0.3px;margin-left:-13.3px;
}
#P450_148
{
left:0px;letter-spacing:-7px;margin-left:-20.7px;
}
#P450_149
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P450_150
{
left:0px;letter-spacing:0px;
}
#P450_151
{
left:7293.4px;bottom:12505.6px;color:rgb(35,31,31);
}
#P450_152
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P450_153
{
left:0px;letter-spacing:-0.3px;
}
#P450_154
{
left:0px;letter-spacing:0px;margin-left:-3.9px;
}
#P450_155
{
left:4669.4px;bottom:10905.6px;color:rgb(35,31,31);
}
#P450_156
{
left:5237.98px;bottom:10925.4px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P450_157
{
left:6269.4px;bottom:10925px;color:rgb(2,77,161);
}
#P450_158
{
left:10151.3px;bottom:10905.3px;letter-spacing:151.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P450_159
{
left:0px;letter-spacing:-0.1px;margin-left:-214.6px;
}
#P450_160
{
left:0px;letter-spacing:0.1px;margin-left:158.6px;
}
#P450_161
{
left:6269.4px;bottom:10009.3px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P450_162
{
left:0px;letter-spacing:0px;margin-left:-41.6px;
}
#P450_163
{
left:0px;letter-spacing:0px;margin-left:-25.3px;
}
#P450_164
{
left:0px;letter-spacing:-1.4px;
}
#P450_165
{
left:0px;letter-spacing:0px;margin-left:-12.6px;
}
#P450_166
{
left:0px;letter-spacing:0px;margin-left:-21px;
}
#P450_167
{
left:0px;letter-spacing:-1.3px;
}
#P450_168
{
left:6269.4px;bottom:9113.26px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P450_168a
{
left: 10069.4px;bottom:9113.26px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P450_168b
{
left: 11509.4px;bottom:9113.26px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P450_169
{
left:5911.9px;bottom:7615.02px;color:rgb(35,31,31);
}
#P450_170
{
left:5259.42px;bottom:6533.29px;letter-spacing:1001.8px;color:rgb(35,31,31);
}
#P450_171
{
left:0px;letter-spacing:0px;margin-left:-1001.8px;
}
#P450_172
{
left:0px;letter-spacing:0px;margin-left:823.7px;
}
#P450_173
{
left:0px;letter-spacing:1001.8px;
}
#P450_174
{
left:5259.42px;bottom:5509.29px;letter-spacing:1001.8px;color:rgb(35,31,31);
}
#P450_175
{
left:0px;letter-spacing:1001.8px;margin-left:-1001.8px;
}
#P450_176
{
left:0px;letter-spacing:0px;margin-left:-1001.7px;
}
#P450_177
{
left:5081.31px;bottom:4485.29px;color:rgb(35,31,31);
}
#P450_178
{
left:0px;letter-spacing:0px;margin-left:823.7px;
}
#P450_179
{
left:0px;letter-spacing:0px;margin-left:1001.8px;
}
#P450_180
{
left:0px;letter-spacing:0px;margin-left:1179.8px;
}
#P450_181
{
left:5081.31px;bottom:3461.32px;color:rgb(35,31,31);
}
#P450_182
{
left:0px;letter-spacing:0px;margin-left:1001.8px;
}
#P450_183
{
left:0px;letter-spacing:0px;margin-left:1001.8px;
}
#P450_184
{
left:0px;letter-spacing:0px;
}
#P450_185
{
left:0px;letter-spacing:0px;margin-left:1001.8px;
}
#P450_186
{
left:10813.4px;bottom:7641.26px;color:rgb(35,31,31);
}
#P450_187
{
left:11710.4px;bottom:7641.26px;color:rgb(35,31,31);
}
#P450_188
{
left:12290.5px;bottom:7641.26px;letter-spacing:284.5px;color:rgb(35,31,31);
}
#P450_189
{
left:0px;letter-spacing:0px;margin-left:-442.9px;
}
#P450_190
{
left:0px;letter-spacing:-1px;margin-left:-6.9px;
}
#P450_191
{
left:0px;letter-spacing:-0.5px;margin-left:1px;
}
#P450_192
{
left:0px;letter-spacing:0.8px;margin-left:0.5px;
}
#P450_193
{
left:12733.4px;bottom:6745.26px;color:rgb(35,31,31);
}
#P450_194
{
left:4669.47px;bottom:5465.26px;color:rgb(35,31,31);
}
#P450_195
{
left:11674.4px;bottom:5465.26px;letter-spacing:-6.9px;color:rgb(35,31,31);
}
#P450_196
{
left:12290.6px;bottom:5465.26px;letter-spacing:284.5px;color:rgb(35,31,31);
}
#P450_197
{
left:0px;letter-spacing:0px;margin-left:-442.9px;
}
#P450_198
{
left:0px;letter-spacing:-0.2px;
}
#P450_199
{
left:0px;letter-spacing:0px;margin-left:-27.8px;
}
#P450_200
{
left:12733.5px;bottom:4569.26px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P450_201
{
left:0px;letter-spacing:-10.5px;margin-left:-20.3px;
}
#P450_202
{
left:0px;letter-spacing:-0.1px;margin-left:10.5px;
}
#P450_203
{
left:12733.5px;bottom:3673.31px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P450_204
{
left:0px;letter-spacing:0.1px;margin-left:0.5px;
}
#P450_205
{
left:27145.8px;bottom:45147.3px;letter-spacing:-0.1px;word-spacing:0.3px;color:rgb(33,31,31);
}
#PageContainer450
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg450.jpg");background-repeat:no-repeat;background-size: 1000px 1280px; background-position: 0px -0.0799999999999272px;
}
#ImageContainer450 {bottom:84.08px;left:0.00px;width:1000.30px;height:1280.08px;position:absolute;} #TextContainer450 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.graphic_organizer{position:absolute; top: 91px; left: 729px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}