.tr739{ color:transparent;}
#P739_1
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P739_2
{
left:25308px;bottom:1410.03px;color:rgb(35,31,31);
}
#P739_3
{
left:29970.2px;bottom:1410.03px;letter-spacing:1.6px;word-spacing:462.3px;color:rgb(35,31,31);
}
#P739_4
{
left:0px;letter-spacing:0px;margin-left:176.1px;
}
#P739_5
{
left:0px;letter-spacing:5.7px;margin-left:-0.2px;
}
#P739_6
{
left:36035.8px;bottom:1410.03px;color:rgb(35,31,31);
}
#P739_7
{
left:12369.7px;bottom:44853px;color:white;
}
#P739_8
{
left:13282.1px;bottom:45044.8px;color:white;
}
#P739_9
{
left:13522.3px;bottom:44853px;color:white;
}
#P739_10
{
left:10629.3px;bottom:44729.5px;
}
#P739_11
{
left:10629.3px;bottom:44729.5px;color:white;
}
#P739_12
{
left:11479px;bottom:43292.8px;color:rgb(35,31,31);
}
#P739_13
{
left:11484.8px;bottom:43425.3px;color:rgb(0,170,77);
}
#P739_14
{
left:12759px;bottom:43292.8px;letter-spacing:-0.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P739_15
{
left:12759px;bottom:42396.8px;color:rgb(35,31,31);
}
#P739_16
{
left:0px;letter-spacing:0px;margin-left:-214.7px;
}
#P739_17
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P739_18
{
left:20666.9px;bottom:42396.8px;word-spacing:56.3px;color:rgb(35,31,31);
}
#P739_19
{
left:12759px;bottom:41500.9px;letter-spacing:-0.2px;word-spacing:0.2px;color:rgb(35,31,31);
}
#P739_20
{
left:11479px;bottom:40220.8px;color:rgb(35,31,31);
}
#P739_21
{
left:11484.8px;bottom:40353.3px;color:rgb(0,170,77);
}
#P739_22
{
left:11991px;bottom:40220.8px;letter-spacing:609.6px;color:rgb(35,31,31);
}
#P739_23
{
left:0px;letter-spacing:0px;margin-left:-768px;
}
#P739_24
{
left:0px;letter-spacing:-2px;margin-left:-8.4px;
}
#P739_25
{
left:0px;letter-spacing:0px;margin-left:2px;
}
#P739_26
{
left:12759px;bottom:39324.8px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P739_27
{
left:0px;letter-spacing:-10.5px;margin-left:-20.3px;
}
#P739_28
{
left:0px;letter-spacing:0px;margin-left:10.5px;
}
#P739_29
{
left:12759px;bottom:38428.8px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P739_30
{
left:12759px;bottom:37532.8px;color:rgb(35,31,31);
}
#P739_31
{
left:0px;letter-spacing:0px;margin-left:-214.7px;
}
#P739_32
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P739_33
{
left:11479px;bottom:36252.8px;color:rgb(35,31,31);
}
#P739_34
{
left:11484.8px;bottom:36385.3px;color:rgb(0,170,77);
}
#P739_35
{
left:11991px;bottom:36252.8px;letter-spacing:609.6px;color:rgb(35,31,31);
}
#P739_36
{
left:0px;letter-spacing:0px;margin-left:-768px;
}
#P739_37
{
left:0px;letter-spacing:-0.8px;
}
#P739_38
{
left:0px;letter-spacing:0px;margin-left:0.8px;
}
#P739_39
{
left:12759px;bottom:35356.8px;letter-spacing:-0.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P739_40
{
left:0px;letter-spacing:-0.1px;margin-left:-20.8px;
}
#P739_41
{
left:0px;letter-spacing:-0.1px;margin-left:-42.1px;
}
#P739_42
{
left:0px;letter-spacing:-0.1px;margin-left:-13.8px;
}
#P739_43
{
left:12759px;bottom:34460.8px;letter-spacing:-3px;color:rgb(35,31,31);
}
#P739_44
{
left:0px;letter-spacing:0px;margin-left:3px;
}
#P739_45
{
left:11479px;bottom:33180.7px;color:rgb(35,31,31);
}
#P739_46
{
left:11484.8px;bottom:33313.3px;color:rgb(0,170,77);
}
#P739_47
{
left:11991px;bottom:33180.8px;letter-spacing:609.6px;color:rgb(35,31,31);
}
#P739_48
{
left:0px;letter-spacing:0px;margin-left:-768px;
}
#P739_49
{
left:0px;letter-spacing:-0.1px;
}
#P739_50
{
left:12759px;bottom:32284.8px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P739_51
{
left:12759px;bottom:31388.8px;color:rgb(35,31,31);
}
#P739_52
{
left:20852.1px;bottom:31388.8px;word-spacing:56.3px;color:rgb(35,31,31);
}
#P739_53
{
left:11479.1px;bottom:30108.8px;color:rgb(35,31,31);
}
#P739_54
{
left:11484.8px;bottom:30241.3px;color:rgb(0,170,77);
}
#P739_55
{
left:11991px;bottom:30108.8px;color:rgb(35,31,31);
}
#P739_56
{
left:0px;letter-spacing:0px;margin-left:609.6px;
}
#P739_57
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P739_58
{
left:0px;letter-spacing:0px;margin-left:-4.2px;
}
#P739_59
{
left:0px;letter-spacing:0px;margin-left:-21px;
}
#P739_60
{
left:0px;letter-spacing:0px;margin-left:-214.8px;
}
#P739_61
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P739_62
{
left:12759px;bottom:29212.8px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P739_63
{
left:0px;letter-spacing:0px;margin-left:-13.7px;
}
#P739_64
{
left:12759px;bottom:28316.8px;letter-spacing:0.2px;color:rgb(35,31,31);
}
#P739_65
{
left:0px;letter-spacing:-77.4px;margin-left:-56.4px;
}
#P739_66
{
left:0px;letter-spacing:0px;margin-left:77.4px;
}
#P739_67
{
left:12759px;bottom:27420.8px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P739_68
{
left:21969.6px;bottom:21507.6px;color:white;
}
#P739_69
{
left:22882px;bottom:21699.4px;color:white;
}
#P739_70
{
left:23122.2px;bottom:21507.6px;color:white;
}
#P739_71
{
left:20229.1px;bottom:21384px;
}
#P739_72
{
left:20229.1px;bottom:21384px;color:white;
}
#P739_73
{
left:21078.9px;bottom:19947.4px;color:rgb(35,31,31);
}
#P739_74
{
left:21084.7px;bottom:20079.9px;color:rgb(0,170,77);
}
#P739_75
{
left:21590.9px;bottom:19947.4px;letter-spacing:609.6px;color:rgb(35,31,31);
}
#P739_76
{
left:0px;letter-spacing:-2.8px;margin-left:-618px;
}
#P739_77
{
left:0px;letter-spacing:-0.5px;margin-left:2.8px;
}
#P739_78
{
left:21078.9px;bottom:18667.4px;color:rgb(35,31,31);
}
#P739_79
{
left:21084.7px;bottom:18799.9px;color:rgb(0,170,77);
}
#P739_80
{
left:21590.9px;bottom:18667.4px;letter-spacing:609.6px;color:rgb(35,31,31);
}
#P739_81
{
left:0px;letter-spacing:0px;margin-left:-768px;
}
#P739_82
{
left:0px;letter-spacing:0px;margin-left:-57.6px;
}
#P739_83
{
left:0px;letter-spacing:-0.4px;margin-left:12.5px;
}
#P739_84
{
left:22358.9px;bottom:17771.4px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P739_85
{
left:0px;letter-spacing:-63.2px;margin-left:-41.4px;
}
#P739_86
{
left:0px;letter-spacing:0px;margin-left:63.2px;
}
#P739_87
{
left:22358.9px;bottom:16875.4px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P739_88
{
left:22358.9px;bottom:15979.4px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P739_89
{
left:0px;letter-spacing:0px;margin-left:-41.8px;
}
#P739_90
{
left:21078.9px;bottom:14699.4px;color:rgb(35,31,31);
}
#P739_91
{
left:21084.7px;bottom:14831.9px;color:rgb(0,170,77);
}
#P739_92
{
left:21590.9px;bottom:14699.4px;letter-spacing:609.6px;color:rgb(35,31,31);
}
#P739_93
{
left:0px;letter-spacing:0px;margin-left:-768px;
}
#P739_94
{
left:0px;letter-spacing:-1.9px;
}
#P739_95
{
left:0px;letter-spacing:0.4px;margin-left:1.9px;
}
#P739_96
{
left:0px;letter-spacing:0px;margin-left:-42.5px;
}
#P739_97
{
left:0px;letter-spacing:0px;
}
#P739_98
{
left:22358.9px;bottom:13803.4px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P739_99
{
left:0px;letter-spacing:1.4px;margin-left:1px;
}
#P739_100
{
left:10301px;bottom:4211.31px;color:rgb(33,31,31);
}
#PageContainer739
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg739.jpg");background-repeat:no-repeat;background-size: 1066px 1272px; background-position: 1px -0.0999999999999091px;
}
#ImageContainer739 {bottom:92.10px;right:0.00px;width:1066.24px;height:1272.06px;position:absolute;} #TextContainer739 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
