.tr235{ color:transparent;}
#P235_1
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P235_2
{
left:28254.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P235_3
{
left:31526.9px;bottom:1410.03px;letter-spacing:462.1px;color:rgb(35,31,31);
}
#P235_4
{
left:0px;letter-spacing:2.2px;margin-left:-461.8px;
}
#P235_5
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P235_6
{
left:6909.4px;bottom:9269.1px;letter-spacing:-14.8px;color:rgb(35,31,31);
}
#P235_7
{
left:0px;letter-spacing:-0.9px;margin-left:14.8px;
}
#P235_8
{
left:0px;letter-spacing:-1px;margin-left:0.9px;
}
#P235_9
{
left:0px;letter-spacing:-2.5px;margin-left:1px;
}
#P235_10
{
left:27057.5px;bottom:9269.1px;letter-spacing:-2.1px;color:rgb(0,124,196);
}
#P235_11
{
left:0px;letter-spacing:-1.5px;margin-left:-6.3px;
}
#P235_12
{
left:0px;letter-spacing:0px;margin-left:1.5px;
}
#P235_13
{
left:6909.4px;bottom:7797.1px;color:rgb(35,31,31);
}
#P235_14
{
left:7086.55px;bottom:7816.81px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P235_15
{
left:8509.4px;bottom:7816.81px;color:rgb(35,31,31);
}
#P235_16
{
left:8530.52px;bottom:8238.89px;color:rgb(35,31,31);
}
#P235_17
{
left:8866.33px;bottom:7814.7px;color:rgb(35,31,31);
}
#P235_18
{
left:8509.4px;bottom:7783.2px;color:rgb(35,31,31);
}
#P235_19
{
left:8887.45px;bottom:7798.37px;color:rgb(35,31,31);
}
#P235_20
{
left:8530.52px;bottom:7331.37px;color:rgb(35,31,31);
}
#P235_21
{
left:8866.33px;bottom:7814.7px;color:rgb(35,31,31);
}
#P235_22
{
left:8887.45px;bottom:7797.1px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P235_23
{
left:14382.5px;bottom:7816.81px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P235_24
{
left:15805.5px;bottom:7816.81px;color:rgb(35,31,31);
}
#P235_25
{
left:15826.5px;bottom:8238.89px;color:rgb(35,31,31);
}
#P235_26
{
left:16162.3px;bottom:7814.7px;color:rgb(35,31,31);
}
#P235_27
{
left:15805.4px;bottom:7783.2px;color:rgb(35,31,31);
}
#P235_28
{
left:16183.4px;bottom:7798.37px;color:rgb(35,31,31);
}
#P235_29
{
left:15826.5px;bottom:7331.37px;color:rgb(35,31,31);
}
#P235_30
{
left:16162.3px;bottom:7814.7px;color:rgb(35,31,31);
}
#P235_31
{
left:16183.4px;bottom:7797.1px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P235_32
{
left:21806.6px;bottom:7816.81px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P235_33
{
left:23229.5px;bottom:7816.81px;color:rgb(35,31,31);
}
#P235_34
{
left:23250.5px;bottom:8238.89px;color:rgb(35,31,31);
}
#P235_35
{
left:23586.3px;bottom:7814.7px;color:rgb(35,31,31);
}
#P235_36
{
left:23229.4px;bottom:7783.2px;color:rgb(35,31,31);
}
#P235_37
{
left:23607.4px;bottom:7798.37px;color:rgb(35,31,31);
}
#P235_38
{
left:23250.5px;bottom:7331.37px;color:rgb(35,31,31);
}
#P235_39
{
left:23586.3px;bottom:7814.7px;color:rgb(35,31,31);
}
#P235_40
{
left:23607.4px;bottom:7797.1px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P235_41
{
left:29166.6px;bottom:7816.81px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P235_42
{
left:30589.5px;bottom:7816.81px;color:rgb(35,31,31);
}
#P235_43
{
left:30610.5px;bottom:8238.89px;color:rgb(35,31,31);
}
#P235_44
{
left:30946.3px;bottom:7814.7px;color:rgb(35,31,31);
}
#P235_45
{
left:30589.4px;bottom:7783.2px;color:rgb(35,31,31);
}
#P235_46
{
left:30967.4px;bottom:7798.37px;color:rgb(35,31,31);
}
#P235_47
{
left:30610.5px;bottom:7331.37px;color:rgb(35,31,31);
}
#P235_48
{
left:30946.3px;bottom:7814.7px;color:rgb(35,31,31);
}
#P235_49
{
left:30967.4px;bottom:7797.1px;color:rgb(35,31,31);
}
#P235_50
{
left:6909.4px;bottom:5365.16px;color:rgb(35,31,31);
}
#P235_51
{
left:7086.43px;bottom:5384.88px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P235_52
{
left:8573.4px;bottom:5384.81px;letter-spacing:-17.6px;color:rgb(2,77,161);
}
#P235_53
{
left:0px;letter-spacing:0px;margin-left:17.6px;
}
#P235_54
{
left:14049px;bottom:5365.1px;letter-spacing:151.5px;color:rgb(35,31,31);
}
#P235_55
{
left:0px;letter-spacing:-0.8px;margin-left:-151.5px;
}
#P235_56
{
left:0px;letter-spacing:0px;margin-left:0.8px;
}
#P235_57
{
left:25780px;bottom:5365.1px;color:rgb(35,31,31);
}
#P235_58
{
left:26143.3px;bottom:5365.1px;color:rgb(35,31,31);
}
#P235_59
{
left:29275.3px;bottom:5365.1px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P235_60
{
left:6909.4px;bottom:4021.1px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P235_61
{
left:8486.49px;bottom:4064.48px;color:rgb(35,31,31);
}
#P235_62
{
left:8823.32px;bottom:4185.61px;color:rgb(35,31,31);
}
#P235_63
{
left:9469.4px;bottom:4021.1px;color:rgb(35,31,31);
}
#P235_64
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P235_65
{
left:10856.9px;bottom:4021.1px;color:rgb(35,31,31);
}
#P235_66
{
left:11220.2px;bottom:4021.1px;color:rgb(35,31,31);
}
#P235_67
{
left:11378.6px;bottom:3991.53px;color:rgb(35,31,31);
}
#P235_68
{
left:11965px;bottom:4021.1px;color:rgb(35,31,31);
}
#P235_69
{
left:15782.5px;bottom:4064.48px;color:rgb(35,31,31);
}
#P235_70
{
left:16119.3px;bottom:4185.61px;color:rgb(35,31,31);
}
#P235_71
{
left:16765.4px;bottom:4021.1px;color:rgb(35,31,31);
}
#P235_72
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P235_73
{
left:18152.9px;bottom:4021.1px;color:rgb(35,31,31);
}
#P235_74
{
left:18516.2px;bottom:4021.1px;color:rgb(35,31,31);
}
#P235_75
{
left:18674.6px;bottom:3991.53px;color:rgb(35,31,31);
}
#P235_76
{
left:19261px;bottom:4021.1px;color:rgb(35,31,31);
}
#P235_77
{
left:23270.5px;bottom:4064.48px;color:rgb(35,31,31);
}
#P235_78
{
left:23607.3px;bottom:4185.61px;color:rgb(35,31,31);
}
#P235_79
{
left:24253.4px;bottom:4021.1px;color:rgb(35,31,31);
}
#P235_80
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P235_81
{
left:26014px;bottom:4021.1px;color:rgb(35,31,31);
}
#P235_82
{
left:26377.3px;bottom:4021.1px;color:rgb(35,31,31);
}
#P235_83
{
left:26535.7px;bottom:3991.53px;color:rgb(35,31,31);
}
#P235_84
{
left:27122.1px;bottom:4021.1px;color:rgb(35,31,31);
}
#P235_85
{
left:30630.5px;bottom:4064.48px;color:rgb(35,31,31);
}
#P235_86
{
left:30967.3px;bottom:4185.61px;color:rgb(35,31,31);
}
#P235_87
{
left:31613.4px;bottom:4021.1px;color:rgb(35,31,31);
}
#P235_88
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P235_89
{
left:33374px;bottom:4021.1px;color:rgb(35,31,31);
}
#P235_90
{
left:33737.3px;bottom:4021.1px;color:rgb(35,31,31);
}
#P235_91
{
left:33895.7px;bottom:3991.53px;color:rgb(35,31,31);
}
#P235_92
{
left:34482.1px;bottom:4021.1px;color:rgb(35,31,31);
}
#P235_93
{
left:6973.4px;bottom:46716.8px;letter-spacing:-0.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P235_94
{
left:0px;letter-spacing:2px;margin-left:-10px;
}
#P235_95
{
left:7150.55px;bottom:45584.5px;color:rgb(35,31,31);
}
#P235_96
{
left:8573.4px;bottom:45564.8px;color:rgb(35,31,31);
}
#P235_97
{
left:21934.6px;bottom:45584.5px;color:rgb(35,31,31);
}
#P235_98
{
left:23357.4px;bottom:45564.8px;letter-spacing:0.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P235_99
{
left:7933.4px;bottom:44688.5px;letter-spacing:444.3px;color:rgb(35,31,31);
}
#P235_100
{
left:8573.4px;bottom:44668.8px;color:rgb(35,31,31);
}
#P235_101
{
left:22717.4px;bottom:44688.5px;letter-spacing:444.3px;color:rgb(35,31,31);
}
#P235_102
{
left:23357.4px;bottom:44668.8px;letter-spacing:0.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P235_103
{
left:7150.55px;bottom:43344.5px;color:rgb(35,31,31);
}
#P235_104
{
left:8573.4px;bottom:43324.8px;letter-spacing:-0.2px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P235_105
{
left:21934.6px;bottom:43344.5px;color:rgb(35,31,31);
}
#P235_106
{
left:23357.4px;bottom:43324.8px;color:rgb(35,31,31);
}
#P235_107
{
left:7933.4px;bottom:42448.5px;letter-spacing:444.3px;color:rgb(35,31,31);
}
#P235_108
{
left:8573.4px;bottom:42428.8px;letter-spacing:-0.2px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P235_109
{
left:22717.4px;bottom:42448.5px;letter-spacing:444.3px;color:rgb(35,31,31);
}
#P235_110
{
left:23357.4px;bottom:42428.8px;color:rgb(35,31,31);
}
#P235_111
{
left:7150.55px;bottom:41104.5px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P235_112
{
left:8637.4px;bottom:41104.5px;color:rgb(2,77,161);
}
#P235_113
{
left:11259px;bottom:41084.8px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P235_114
{
left:0px;letter-spacing:-0.1px;margin-left:-193.6px;
}
#P235_115
{
left:8725.34px;bottom:39932.8px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P235_116
{
left:0px;letter-spacing:0px;margin-left:14px;
}
#P235_117
{
left:9917.4px;bottom:39932.8px;letter-spacing:-10.5px;color:rgb(35,31,31);
}
#P235_118
{
left:0px;letter-spacing:-0.2px;margin-left:10.5px;
}
#P235_119
{
left:8689.31px;bottom:38844.7px;letter-spacing:-13.9px;word-spacing:499.1px;color:rgb(35,31,31);
}
#P235_120
{
left:9917.4px;bottom:38844.7px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P235_121
{
left:0px;letter-spacing:-3.5px;margin-left:-13.7px;
}
#P235_122
{
left:0px;letter-spacing:0px;margin-left:3.5px;
}
#P235_123
{
left:9917.4px;bottom:37948.7px;letter-spacing:-10.5px;color:rgb(35,31,31);
}
#P235_124
{
left:0px;letter-spacing:-0.2px;margin-left:10.5px;
}
#P235_125
{
left:17710.6px;bottom:36496.6px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P235_126
{
left:19133.4px;bottom:36496.5px;word-spacing:-26px;color:rgb(2,77,161);
}
#P235_127
{
left:22849.9px;bottom:36476.8px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P235_128
{
left:19133.4px;bottom:35580.8px;color:rgb(35,31,31);
}
#P235_129
{
left:19157.3px;bottom:34428.8px;letter-spacing:-14px;word-spacing:492.2px;color:rgb(35,31,31);
}
#P235_130
{
left:20349.4px;bottom:34428.8px;letter-spacing:-10.5px;color:rgb(35,31,31);
}
#P235_131
{
left:0px;letter-spacing:-0.3px;margin-left:10.5px;
}
#P235_132
{
left:20349.4px;bottom:33532.8px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P235_133
{
left:19121.3px;bottom:32636.8px;letter-spacing:-13.9px;word-spacing:499.1px;color:rgb(35,31,31);
}
#P235_134
{
left:20349.4px;bottom:32636.8px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P235_135
{
left:20349.4px;bottom:31740.9px;color:rgb(35,31,31);
}
#P235_136
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P235_137
{
left:0px;letter-spacing:0px;margin-left:-13.9px;
}
#P235_138
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P235_139
{
left:20349.4px;bottom:30845px;color:rgb(35,31,31);
}
#P235_140
{
left:7150.55px;bottom:29584.7px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P235_141
{
left:8637.4px;bottom:29584.5px;color:rgb(2,77,161);
}
#P235_142
{
left: 12764px;bottom:29564.8px;color:rgb(35,31,31);
}
#P235_143
{
left:0px;letter-spacing:0px;
margin-left: 0;
}
#P235_144
{
left:0px;letter-spacing:0px;margin-left:-21px;
}
#P235_145
{
left:8637.4px;bottom:28668.8px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P235_146
{
left:0px;letter-spacing:0px;margin-left:0.6px;
}
#P235_147
{
left:8637.4px;bottom:27772.8px;letter-spacing:-1.6px;color:rgb(35,31,31);
}
#P235_148
{
left:0px;letter-spacing:-0.5px;margin-left:-19.3px;
}
#P235_149
{
left:0px;letter-spacing:0px;margin-left:0.5px;
}
#P235_150
{
left:8637.4px;bottom:26876.8px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P235_151
{
left:0px;letter-spacing:0px;margin-left:-20.3px;
}
#P235_152
{
left:0px;letter-spacing:0px;
}
#P235_153
{
left:8637.4px;bottom:25980.8px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P235_154
{
left:0px;letter-spacing:-0.6px;margin-left:-20.1px;
}
#P235_155
{
left:0px;letter-spacing:0px;margin-left:0.6px;
}
#P235_156
{
left:8637.4px;bottom:25084.9px;letter-spacing:-0.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P235_157
{
left:7150.55px;bottom:23568.6px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P235_158
{
left:8637.4px;bottom:23568.5px;letter-spacing:-9.7px;color:rgb(2,77,161);
}
#P235_159
{
left:0px;letter-spacing:0px;margin-left:9.7px;
}
#P235_160
{
left:12275.7px;bottom:23548.8px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P235_161
{
left:0px;letter-spacing:0px;margin-left:-193.6px;
}
#P235_162
{
left:8637.4px;bottom:22652.8px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P235_163
{
left:8725.34px;bottom:21308.8px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P235_164
{
left:9917.4px;bottom:21308.8px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P235_165
{
left:0px;letter-spacing:-0.7px;margin-left:0.9px;
}
#P235_166
{
left:8689.31px;bottom:20220.8px;letter-spacing:-13.9px;word-spacing:6.9px;color:rgb(35,31,31);
}
#P235_167
{
left:9917.4px;bottom:20220.8px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P235_168
{
left:0px;letter-spacing:-0.7px;margin-left:0.9px;
}
#P235_169
{
left:8760.54px;bottom:19132.8px;color:rgb(35,31,31);
}
#P235_170
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P235_171
{
left:0px;letter-spacing:0px;margin-left:344.3px;
}
#P235_172
{
left:9917.4px;bottom:19132.8px;letter-spacing:-0.1px;word-spacing:0.1px;
color: rgb(35,31,31);
}
#P235_173
{
left:0px;letter-spacing:-4.7px;margin-left:-28px;
}
#P235_174
{
left:0px;letter-spacing:-0.1px;margin-left:4.6px;
}
#P235_175
{
left:18753.1px;bottom:19132.8px;letter-spacing:-0.1px;word-spacing:0.1px;
color: rgb(35,31,31);
}
#P235_176
{
left:9917.4px;bottom:18236.9px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P235_177
{
left:0px;letter-spacing:0px;margin-left:-34.1px;
}
#P235_178
{
left:0px;letter-spacing:-0.2px;
}
#P235_179
{
left:0px;letter-spacing:0px;margin-left:-6.7px;
}
#P235_180
{
left:9917.4px;bottom:17341px;letter-spacing:0.5px;color:rgb(35,31,31);
}
#P235_181
{
left:0px;letter-spacing:-0.6px;margin-left:-0.5px;
}
#P235_182
{
left:25390.5px;
color: rgb(35,31,31);
bottom:17341px;
}
#P235_183
{
left:7150.55px;bottom:15632.7px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P235_184
{
left:9501.53px;bottom:15661px;letter-spacing:-24px;
}
#P235_185
{
left:9501.53px;bottom:15661px;letter-spacing:-24px;color:white;
}
#P235_186
{
left:12371.5px;bottom:15612.8px;color:rgb(35,31,31);
}
#P235_187
{
left:12519.3px;bottom:15612.8px;color:rgb(35,31,31);
}
#P235_188
{
left:0px;letter-spacing:0px;margin-left:-63.2px;
}
#P235_189
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P235_190
{
left:0px;letter-spacing:0px;margin-left:-42px;
}
#P235_191
{
left:0px;letter-spacing:0px;margin-left:-63.2px;
}
#P235_192
{
left:8637.4px;bottom:14716.8px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P235_193
{
left:0px;letter-spacing:0px;margin-left:-41.9px;
}
#P235_194
{
left:0px;letter-spacing:-21px;
}
#P235_195
{
left:26285.7px;bottom:14716.8px;
color: rgb(35,31,31);
}
#P235_196
{
left:8637.4px;bottom:13820.8px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P235_197
{
left:27507.2px;bottom:29547.6px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P235_198
{
left:0px;letter-spacing:0px;margin-left:991.7px;
}
#P235_199
{
left:0px;letter-spacing:-1.5px;
}
#P235_200
{
left:22307.7px;bottom:28459.6px;color:rgb(35,31,31);
}
#P235_201
{
left:29254.4px;bottom:28440.8px;color:rgb(35,31,31);
}
#P235_202
{
left:0px;letter-spacing:0px;margin-left:4447.6px;
}
#P235_203
{
left:22307.7px;bottom:27435.7px;color:rgb(35,31,31);
}
#P235_204
{
left:29254.4px;bottom:27416.9px;
}
#P235_205
{
left:0px;letter-spacing:0px;margin-left:4447.6px;
}
#P235_206
{
left:22307.7px;bottom:26411.7px;color:rgb(35,31,31);
}
#P235_207
{
left:29254.4px;bottom:26392.9px;
}
#P235_208
{
left:0px;letter-spacing:0px;margin-left:4447.6px;
}
#P235_209
{
left:26847.5px;bottom:19132.8px;
}
#P235_210
{
left:27274.8px;bottom:19132.8px;color:rgb(33,31,31);
}
#P235_211
{
left:26932.5px;bottom:18236.8px;
}
#P235_212
{
left:26833.4px;bottom:17340.8px;
}
#P235_213
{
left:27269.2px;bottom:17340.8px;color:rgb(33,31,31);
}
#P235_214
{
left:27046.4px;bottom:14716.8px;
}
#P235_215
{
left:27848.3px;bottom:14716.8px;color:rgb(33,31,31);
}
#P235_216
{
left:29254.4px;bottom:27416.7px;color:rgb(24,26,20);
}
#P235_217
{
left:0px;letter-spacing:0px;margin-left:4447.6px;
}
#P235_218
{
left:29254.4px;bottom:26392.7px;color:rgb(24,26,20);
}
#P235_219
{
left:0px;letter-spacing:0px;margin-left:4447.6px;
}
#P235_220
{
left:0px;letter-spacing:0px;
}
#PageContainer235
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg235.jpg");background-repeat:no-repeat;background-size: 915px 925px; background-position: 152px 356.43px;
}
#ImageContainer235 {bottom:82.57px;right:0.00px;width:914.91px;height:924.92px;position:absolute;} #TextContainer235 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}