.tr673{ color:transparent;}
#P673_1
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P673_2
{
left:27821px;bottom:1410.03px;letter-spacing:1.8px;word-spacing:461.5px;color:rgb(35,31,31);
}
#P673_3
{
left:0px;letter-spacing:0px;margin-left:176.7px;
}
#P673_4
{
left:0px;letter-spacing:6.3px;margin-left:21.2px;
}
#P673_5
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P673_6
{
left:6973.4px;bottom:45479.5px;color:rgb(35,31,31);
}
#P673_7
{
left:7541.98px;bottom:45499.2px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P673_8
{
left:8573.4px;bottom:45479.5px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P673_9
{
left:0px;letter-spacing:-1.1px;margin-left:0.7px;
}
#P673_10
{
left:0px;letter-spacing:-56.1px;margin-left:-19.9px;
}
#P673_11
{
left:0px;letter-spacing:-42.1px;margin-left:56.1px;
}
#P673_12
{
left:0px;letter-spacing:-0.6px;margin-left:42.1px;
}
#P673_13
{
left:8573.4px;bottom:44583.5px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P673_14
{
left:0px;letter-spacing:0px;margin-left:1px;
}
#P673_15
{
left:17941px;bottom:44583.5px;color:rgb(0,124,196);
}
#P673_16
{
left:6973.4px;bottom:33658.7px;color:rgb(35,31,31);
}
#P673_17
{
left:7933.4px;bottom:33678.4px;color:rgb(35,31,31);
}
#P673_18
{
left:15485.4px;bottom:41427.8px;letter-spacing:957px;color:rgb(35,31,31);
}
#P673_19
{
left:17049.9px;bottom:41457.3px;color:rgb(35,31,31);
}
#P673_20
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P673_21
{
left:17229.5px;bottom:41897px;color:rgb(35,31,31);
}
#P673_22
{
left:17565.3px;bottom:41474.9px;color:rgb(35,31,31);
}
#P673_23
{
left:17208.3px;bottom:41441.3px;color:rgb(35,31,31);
}
#P673_24
{
left:17586.4px;bottom:41458.6px;color:rgb(35,31,31);
}
#P673_25
{
left:17229.5px;bottom:40989.5px;color:rgb(35,31,31);
}
#P673_26
{
left:17565.3px;bottom:41474.9px;color:rgb(35,31,31);
}
#P673_27
{
left:17586.4px;bottom:41457.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P673_28
{
left:17744.8px;bottom:41427.8px;color:rgb(35,31,31);
}
#P673_29
{
left:18331.2px;bottom:41457.3px;color:rgb(35,31,31);
}
#P673_30
{
left:18489.6px;bottom:40866.9px;color:rgb(35,31,31);
}
#P673_31
{
left:18736px;bottom:41188.5px;color:rgb(35,31,31);
}
#P673_32
{
left:18792.3px;bottom:41427.8px;color:rgb(35,31,31);
}
#P673_33
{
left:19223.8px;bottom:41457.3px;color:rgb(35,31,31);
}
#P673_34
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P673_35
{
left:19403.4px;bottom:41897px;color:rgb(35,31,31);
}
#P673_36
{
left:19739.2px;bottom:41474.9px;color:rgb(35,31,31);
}
#P673_37
{
left:19382.2px;bottom:41441.3px;color:rgb(35,31,31);
}
#P673_38
{
left:19760.3px;bottom:41458.6px;color:rgb(35,31,31);
}
#P673_39
{
left:19403.4px;bottom:40989.5px;color:rgb(35,31,31);
}
#P673_40
{
left:19739.2px;bottom:41474.9px;color:rgb(35,31,31);
}
#P673_41
{
left:19760.3px;bottom:41457.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P673_42
{
left:19816.6px;bottom:40866.9px;color:rgb(35,31,31);
}
#P673_43
{
left:20063px;bottom:41457.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P673_44
{
left:20221.4px;bottom:41427.8px;color:rgb(35,31,31);
}
#P673_45
{
left:20807.8px;bottom:41457.3px;color:rgb(35,31,31);
}
#P673_46
{
left:20966.2px;bottom:41427.8px;color:rgb(35,31,31);
}
#P673_47
{
left:21397.8px;bottom:41457.3px;color:rgb(35,31,31);
}
#P673_48
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P673_49
{
left:21577.3px;bottom:41897px;color:rgb(35,31,31);
}
#P673_50
{
left:21913.1px;bottom:41474.9px;color:rgb(35,31,31);
}
#P673_51
{
left:21556.2px;bottom:41441.3px;color:rgb(35,31,31);
}
#P673_52
{
left:21934.2px;bottom:41458.6px;color:rgb(35,31,31);
}
#P673_53
{
left:21577.3px;bottom:40989.5px;color:rgb(35,31,31);
}
#P673_54
{
left:21913.1px;bottom:41474.9px;color:rgb(35,31,31);
}
#P673_55
{
left:21934.2px;bottom:41457.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P673_56
{
left:22092.6px;bottom:41427.8px;color:rgb(35,31,31);
}
#P673_57
{
left:22679px;bottom:41457.3px;color:rgb(35,31,31);
}
#P673_58
{
left:22837.4px;bottom:40868.1px;color:rgb(35,31,31);
}
#P673_59
{
left:23083.8px;bottom:41191px;color:rgb(35,31,31);
}
#P673_60
{
left:23140.1px;bottom:41427.8px;color:rgb(35,31,31);
}
#P673_61
{
left:23571.7px;bottom:41457.3px;color:rgb(35,31,31);
}
#P673_62
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P673_63
{
left:23751.2px;bottom:41897px;color:rgb(35,31,31);
}
#P673_64
{
left:24087px;bottom:41474.9px;color:rgb(35,31,31);
}
#P673_65
{
left:23730.1px;bottom:41441.3px;color:rgb(35,31,31);
}
#P673_66
{
left:24108.1px;bottom:41458.6px;color:rgb(35,31,31);
}
#P673_67
{
left:23751.2px;bottom:40989.5px;color:rgb(35,31,31);
}
#P673_68
{
left:24087px;bottom:41474.9px;color:rgb(35,31,31);
}
#P673_69
{
left:24108.1px;bottom:41457.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P673_70
{
left:24164.4px;bottom:40868.1px;color:rgb(35,31,31);
}
#P673_71
{
left:24410.8px;bottom:41457.3px;color:rgb(35,31,31);
}
#P673_72
{
left:20221.4px;bottom:39123.8px;word-spacing:4560px;color:rgb(35,31,31);
}
#P673_73
{
left:20983.8px;bottom:39153.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P673_74
{
left:21005px;bottom:39644.4px;color:rgb(35,31,31);
}
#P673_75
{
left:21483.4px;bottom:39617.8px;color:rgb(35,31,31);
}
#P673_76
{
left:22011.1px;bottom:39644.4px;color:rgb(35,31,31);
}
#P673_77
{
left:22489.4px;bottom:39170.9px;color:rgb(35,31,31);
}
#P673_78
{
left:20983.8px;bottom:39188.7px;color:rgb(35,31,31);
}
#P673_79
{
left:22510.6px;bottom:39154.6px;color:rgb(35,31,31);
}
#P673_80
{
left:21005px;bottom:38736.9px;color:rgb(35,31,31);
}
#P673_81
{
left:21483.4px;bottom:38710.3px;color:rgb(35,31,31);
}
#P673_82
{
left:22011.1px;bottom:38736.9px;color:rgb(35,31,31);
}
#P673_83
{
left:22489.4px;bottom:39170.9px;color:rgb(35,31,31);
}
#P673_84
{
left:22510.6px;bottom:39153.3px;color:rgb(35,31,31);
}
#P673_85
{
left:15485.4px;bottom:37041.3px;color:rgb(35,31,31);
}
#P673_86
{
left:20221.4px;bottom:37011.8px;color:rgb(35,31,31);
}
#P673_87
{
left:20807.8px;bottom:37041.3px;color:rgb(35,31,31);
}
#P673_88
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P673_89
{
left:20987.4px;bottom:37481px;color:rgb(35,31,31);
}
#P673_90
{
left:21659px;bottom:37058.9px;color:rgb(35,31,31);
}
#P673_91
{
left:20966.2px;bottom:37025.3px;color:rgb(35,31,31);
}
#P673_92
{
left:21680.1px;bottom:37042.6px;color:rgb(35,31,31);
}
#P673_93
{
left:20987.4px;bottom:36573.5px;color:rgb(35,31,31);
}
#P673_94
{
left:21659px;bottom:37058.9px;color:rgb(35,31,31);
}
#P673_95
{
left:21680.1px;bottom:37041.3px;color:rgb(35,31,31);
}
#P673_96
{
left:15485.4px;bottom:34929.3px;color:rgb(35,31,31);
}
#P673_97
{
left:20221.4px;bottom:34899.8px;color:rgb(35,31,31);
}
#P673_98
{
left:20807.8px;bottom:34929.3px;color:rgb(35,31,31);
}
#P673_99
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P673_100
{
left:21155.2px;bottom:35369px;color:rgb(35,31,31);
}
#P673_101
{
left:21491px;bottom:34946.9px;color:rgb(35,31,31);
}
#P673_102
{
left:20966.2px;bottom:34913.3px;color:rgb(35,31,31);
}
#P673_103
{
left:21680.1px;bottom:34930.6px;color:rgb(35,31,31);
}
#P673_104
{
left:20987.4px;bottom:34461.5px;color:rgb(35,31,31);
}
#P673_105
{
left:21659px;bottom:34946.9px;color:rgb(35,31,31);
}
#P673_106
{
left:21680.1px;bottom:34929.3px;color:rgb(35,31,31);
}
#P673_107
{
left:6973.4px;bottom:31162.7px;color:rgb(35,31,31);
}
#P673_108
{
left:8696.15px;bottom:31182.4px;letter-spacing:-90.7px;color:rgb(35,31,31);
}
#P673_109
{
left:9596.35px;bottom:31162.7px;letter-spacing:-1.1px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P673_110
{
left:12186px;bottom:31133.1px;color:rgb(35,31,31);
}
#P673_111
{
left:12617.6px;bottom:31162.7px;color:rgb(35,31,31);
}
#P673_112
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P673_113
{
left:12797px;bottom:31602.3px;color:rgb(35,31,31);
}
#P673_114
{
left:13132.8px;bottom:31180.3px;color:rgb(35,31,31);
}
#P673_115
{
left:12775.9px;bottom:31146.7px;color:rgb(35,31,31);
}
#P673_116
{
left:13153.9px;bottom:31163.9px;color:rgb(35,31,31);
}
#P673_117
{
left:12797px;bottom:30694.8px;color:rgb(35,31,31);
}
#P673_118
{
left:13132.8px;bottom:31180.3px;color:rgb(35,31,31);
}
#P673_119
{
left:13153.9px;bottom:31162.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P673_120
{
left:13312.3px;bottom:31133.1px;color:rgb(35,31,31);
}
#P673_121
{
left:13898.8px;bottom:31162.7px;color:rgb(35,31,31);
}
#P673_122
{
left:14057.2px;bottom:30572.2px;color:rgb(35,31,31);
}
#P673_123
{
left:14303.6px;bottom:30894px;color:rgb(35,31,31);
}
#P673_124
{
left:14359.9px;bottom:31133.1px;color:rgb(35,31,31);
}
#P673_125
{
left:14791.4px;bottom:31162.7px;color:rgb(35,31,31);
}
#P673_126
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P673_127
{
left:14971px;bottom:31602.3px;color:rgb(35,31,31);
}
#P673_128
{
left:15306.8px;bottom:31180.3px;color:rgb(35,31,31);
}
#P673_129
{
left:14949.8px;bottom:31146.7px;color:rgb(35,31,31);
}
#P673_130
{
left:15327.9px;bottom:31163.9px;color:rgb(35,31,31);
}
#P673_131
{
left:14971px;bottom:30694.8px;color:rgb(35,31,31);
}
#P673_132
{
left:15306.8px;bottom:31180.3px;color:rgb(35,31,31);
}
#P673_133
{
left:15327.9px;bottom:31162.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P673_134
{
left:15384.2px;bottom:30572.2px;color:rgb(35,31,31);
}
#P673_135
{
left:15789px;bottom:31162.7px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P673_136
{
left:16622.5px;bottom:31133.1px;color:rgb(35,31,31);
}
#P673_137
{
left:17054px;bottom:31162.7px;color:rgb(35,31,31);
}
#P673_138
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P673_139
{
left:17233.6px;bottom:31602.3px;color:rgb(35,31,31);
}
#P673_140
{
left:17569.4px;bottom:31180.3px;color:rgb(35,31,31);
}
#P673_141
{
left:17212.4px;bottom:31146.7px;color:rgb(35,31,31);
}
#P673_142
{
left:17590.5px;bottom:31163.9px;color:rgb(35,31,31);
}
#P673_143
{
left:17233.6px;bottom:30694.8px;color:rgb(35,31,31);
}
#P673_144
{
left:17569.4px;bottom:31180.3px;color:rgb(35,31,31);
}
#P673_145
{
left:17590.5px;bottom:31162.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P673_146
{
left:17748.9px;bottom:31133.1px;color:rgb(35,31,31);
}
#P673_147
{
left:18335.3px;bottom:31162.7px;color:rgb(35,31,31);
}
#P673_148
{
left:18493.7px;bottom:30572.2px;color:rgb(35,31,31);
}
#P673_149
{
left:18740.1px;bottom:30894px;color:rgb(35,31,31);
}
#P673_150
{
left:18796.4px;bottom:31133.1px;color:rgb(35,31,31);
}
#P673_151
{
left:19228px;bottom:31162.7px;color:rgb(35,31,31);
}
#P673_152
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P673_153
{
left:19407.5px;bottom:31602.3px;color:rgb(35,31,31);
}
#P673_154
{
left:19743.3px;bottom:31180.3px;color:rgb(35,31,31);
}
#P673_155
{
left:19386.4px;bottom:31146.7px;color:rgb(35,31,31);
}
#P673_156
{
left:19764.4px;bottom:31163.9px;color:rgb(35,31,31);
}
#P673_157
{
left:19407.5px;bottom:30694.8px;color:rgb(35,31,31);
}
#P673_158
{
left:19743.3px;bottom:31180.3px;color:rgb(35,31,31);
}
#P673_159
{
left:19764.4px;bottom:31162.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P673_160
{
left:19820.8px;bottom:30572.2px;color:rgb(35,31,31);
}
#P673_161
{
left:20067.2px;bottom:31162.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P673_162
{
left:6973.4px;bottom:29050.7px;color:rgb(35,31,31);
}
#P673_163
{
left:8449.11px;bottom:29070.4px;color:rgb(35,31,31);
}
#P673_164
{
left:9596.35px;bottom:29050.7px;letter-spacing:-1.1px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P673_165
{
left:12186px;bottom:29021.1px;color:rgb(35,31,31);
}
#P673_166
{
left:12617.6px;bottom:29050.7px;color:rgb(35,31,31);
}
#P673_167
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P673_168
{
left:12797.1px;bottom:29490.3px;color:rgb(35,31,31);
}
#P673_169
{
left:13132.9px;bottom:29068.3px;color:rgb(35,31,31);
}
#P673_170
{
left:12776px;bottom:29034.7px;color:rgb(35,31,31);
}
#P673_171
{
left:13154px;bottom:29051.9px;color:rgb(35,31,31);
}
#P673_172
{
left:12797.1px;bottom:28582.8px;color:rgb(35,31,31);
}
#P673_173
{
left:13132.9px;bottom:29068.3px;color:rgb(35,31,31);
}
#P673_174
{
left:13154px;bottom:29050.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P673_175
{
left:13312.3px;bottom:29021.1px;color:rgb(35,31,31);
}
#P673_176
{
left:13898.8px;bottom:29050.7px;color:rgb(35,31,31);
}
#P673_177
{
left:14057.2px;bottom:28460.2px;color:rgb(35,31,31);
}
#P673_178
{
left:14303.6px;bottom:28782px;color:rgb(35,31,31);
}
#P673_179
{
left:14359.9px;bottom:29021.1px;color:rgb(35,31,31);
}
#P673_180
{
left:14791.4px;bottom:29050.7px;color:rgb(35,31,31);
}
#P673_181
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P673_182
{
left:14971px;bottom:29490.3px;color:rgb(35,31,31);
}
#P673_183
{
left:15306.8px;bottom:29068.3px;color:rgb(35,31,31);
}
#P673_184
{
left:14949.8px;bottom:29034.7px;color:rgb(35,31,31);
}
#P673_185
{
left:15327.9px;bottom:29051.9px;color:rgb(35,31,31);
}
#P673_186
{
left:14971px;bottom:28582.8px;color:rgb(35,31,31);
}
#P673_187
{
left:15306.8px;bottom:29068.3px;color:rgb(35,31,31);
}
#P673_188
{
left:15327.9px;bottom:29050.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P673_189
{
left:15384.2px;bottom:28460.2px;color:rgb(35,31,31);
}
#P673_190
{
left:15789px;bottom:29050.7px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P673_191
{
left:16622.5px;bottom:29021.1px;color:rgb(35,31,31);
}
#P673_192
{
left:17054px;bottom:29050.7px;color:rgb(35,31,31);
}
#P673_193
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P673_194
{
left:17233.6px;bottom:29490.3px;color:rgb(35,31,31);
}
#P673_195
{
left:17569.4px;bottom:29068.3px;color:rgb(35,31,31);
}
#P673_196
{
left:17212.4px;bottom:29034.7px;color:rgb(35,31,31);
}
#P673_197
{
left:17590.5px;bottom:29051.9px;color:rgb(35,31,31);
}
#P673_198
{
left:17233.6px;bottom:28582.8px;color:rgb(35,31,31);
}
#P673_199
{
left:17569.4px;bottom:29068.3px;color:rgb(35,31,31);
}
#P673_200
{
left:17590.5px;bottom:29050.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P673_201
{
left:17748.9px;bottom:29021.1px;color:rgb(35,31,31);
}
#P673_202
{
left:18335.3px;bottom:29050.7px;color:rgb(35,31,31);
}
#P673_203
{
left:18493.7px;bottom:28461.4px;color:rgb(35,31,31);
}
#P673_204
{
left:18740.1px;bottom:28784.3px;color:rgb(35,31,31);
}
#P673_205
{
left:18796.4px;bottom:29021.1px;color:rgb(35,31,31);
}
#P673_206
{
left:19228px;bottom:29050.7px;color:rgb(35,31,31);
}
#P673_207
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P673_208
{
left:19407.5px;bottom:29490.3px;color:rgb(35,31,31);
}
#P673_209
{
left:19743.3px;bottom:29068.3px;color:rgb(35,31,31);
}
#P673_210
{
left:19386.4px;bottom:29034.7px;color:rgb(35,31,31);
}
#P673_211
{
left:19764.4px;bottom:29051.9px;color:rgb(35,31,31);
}
#P673_212
{
left:19407.5px;bottom:28582.8px;color:rgb(35,31,31);
}
#P673_213
{
left:19743.3px;bottom:29068.3px;color:rgb(35,31,31);
}
#P673_214
{
left:19764.4px;bottom:29050.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P673_215
{
left:19820.8px;bottom:28461.4px;color:rgb(35,31,31);
}
#P673_216
{
left:20067.2px;bottom:29050.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P673_217
{
left:6973.4px;bottom:26938.7px;color:rgb(35,31,31);
}
#P673_218
{
left:8449.11px;bottom:26958.4px;color:rgb(35,31,31);
}
#P673_219
{
left:9596.35px;bottom:26938.7px;letter-spacing:-1.1px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P673_220
{
left:12186px;bottom:26909.1px;color:rgb(35,31,31);
}
#P673_221
{
left:12617.6px;bottom:26938.7px;color:rgb(35,31,31);
}
#P673_222
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P673_223
{
left:12797.1px;bottom:27378.3px;color:rgb(35,31,31);
}
#P673_224
{
left:13132.9px;bottom:26956.3px;color:rgb(35,31,31);
}
#P673_225
{
left:12776px;bottom:26922.7px;color:rgb(35,31,31);
}
#P673_226
{
left:13154px;bottom:26939.9px;color:rgb(35,31,31);
}
#P673_227
{
left:12797.1px;bottom:26470.8px;color:rgb(35,31,31);
}
#P673_228
{
left:13132.9px;bottom:26956.3px;color:rgb(35,31,31);
}
#P673_229
{
left:13154px;bottom:26938.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P673_230
{
left:13312.3px;bottom:26909.1px;color:rgb(35,31,31);
}
#P673_231
{
left:13898.8px;bottom:26938.7px;color:rgb(35,31,31);
}
#P673_232
{
left:14057.2px;bottom:26348.2px;color:rgb(35,31,31);
}
#P673_233
{
left:14303.6px;bottom:26670px;color:rgb(35,31,31);
}
#P673_234
{
left:14359.9px;bottom:26909.1px;color:rgb(35,31,31);
}
#P673_235
{
left:14791.4px;bottom:26938.7px;color:rgb(35,31,31);
}
#P673_236
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P673_237
{
left:14971px;bottom:27378.3px;color:rgb(35,31,31);
}
#P673_238
{
left:15306.8px;bottom:26956.3px;color:rgb(35,31,31);
}
#P673_239
{
left:14949.8px;bottom:26922.7px;color:rgb(35,31,31);
}
#P673_240
{
left:15327.9px;bottom:26939.9px;color:rgb(35,31,31);
}
#P673_241
{
left:14971px;bottom:26470.8px;color:rgb(35,31,31);
}
#P673_242
{
left:15306.8px;bottom:26956.3px;color:rgb(35,31,31);
}
#P673_243
{
left:15327.9px;bottom:26938.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P673_244
{
left:15384.2px;bottom:26348.2px;color:rgb(35,31,31);
}
#P673_245
{
left:15789px;bottom:26938.7px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P673_246
{
left:16622.6px;bottom:26909.1px;color:rgb(35,31,31);
}
#P673_247
{
left:17054px;bottom:26938.7px;color:rgb(35,31,31);
}
#P673_248
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P673_249
{
left:17233.6px;bottom:27378.3px;color:rgb(35,31,31);
}
#P673_250
{
left:17569.4px;bottom:26956.3px;color:rgb(35,31,31);
}
#P673_251
{
left:17212.4px;bottom:26922.7px;color:rgb(35,31,31);
}
#P673_252
{
left:17590.5px;bottom:26939.9px;color:rgb(35,31,31);
}
#P673_253
{
left:17233.6px;bottom:26470.8px;color:rgb(35,31,31);
}
#P673_254
{
left:17569.4px;bottom:26956.3px;color:rgb(35,31,31);
}
#P673_255
{
left:17590.5px;bottom:26938.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P673_256
{
left:17748.9px;bottom:26909.1px;color:rgb(35,31,31);
}
#P673_257
{
left:18335.3px;bottom:26938.7px;color:rgb(35,31,31);
}
#P673_258
{
left:18493.7px;bottom:26356.9px;color:rgb(35,31,31);
}
#P673_259
{
left:18740.1px;bottom:26672.3px;color:rgb(35,31,31);
}
#P673_260
{
left:18796.4px;bottom:26909.1px;color:rgb(35,31,31);
}
#P673_261
{
left:19228px;bottom:26938.7px;color:rgb(35,31,31);
}
#P673_262
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P673_263
{
left:19407.5px;bottom:27378.3px;color:rgb(35,31,31);
}
#P673_264
{
left:19743.3px;bottom:26956.3px;color:rgb(35,31,31);
}
#P673_265
{
left:19386.4px;bottom:26922.7px;color:rgb(35,31,31);
}
#P673_266
{
left:19764.4px;bottom:26939.9px;color:rgb(35,31,31);
}
#P673_267
{
left:19407.5px;bottom:26470.8px;color:rgb(35,31,31);
}
#P673_268
{
left:19743.3px;bottom:26956.3px;color:rgb(35,31,31);
}
#P673_269
{
left:19764.4px;bottom:26938.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P673_270
{
left:19820.8px;bottom:26356.9px;color:rgb(35,31,31);
}
#P673_271
{
left:20067.2px;bottom:26938.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P673_272
{
left:6973.4px;bottom:24826.7px;color:rgb(35,31,31);
}
#P673_273
{
left:8761.69px;bottom:24846.4px;color:rgb(35,31,31);
}
#P673_274
{
left:9596.35px;bottom:24826.7px;letter-spacing:-1.1px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P673_275
{
left:12186px;bottom:24797.1px;color:rgb(35,31,31);
}
#P673_276
{
left:12617.6px;bottom:24826.7px;color:rgb(35,31,31);
}
#P673_277
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P673_278
{
left:12797.1px;bottom:25266.3px;color:rgb(35,31,31);
}
#P673_279
{
left:13132.9px;bottom:24844.3px;color:rgb(35,31,31);
}
#P673_280
{
left:12776px;bottom:24810.7px;color:rgb(35,31,31);
}
#P673_281
{
left:13154px;bottom:24827.9px;color:rgb(35,31,31);
}
#P673_282
{
left:12797.1px;bottom:24358.8px;color:rgb(35,31,31);
}
#P673_283
{
left:13132.9px;bottom:24844.3px;color:rgb(35,31,31);
}
#P673_284
{
left:13154px;bottom:24826.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P673_285
{
left:13312.4px;bottom:24797.1px;color:rgb(35,31,31);
}
#P673_286
{
left:13898.8px;bottom:24826.7px;color:rgb(35,31,31);
}
#P673_287
{
left:14057.2px;bottom:24237.4px;color:rgb(35,31,31);
}
#P673_288
{
left:14303.6px;bottom:24560.3px;color:rgb(35,31,31);
}
#P673_289
{
left:14359.9px;bottom:24797.1px;color:rgb(35,31,31);
}
#P673_290
{
left:14791.4px;bottom:24826.7px;color:rgb(35,31,31);
}
#P673_291
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P673_292
{
left:14971px;bottom:25266.3px;color:rgb(35,31,31);
}
#P673_293
{
left:15306.8px;bottom:24844.3px;color:rgb(35,31,31);
}
#P673_294
{
left:14949.8px;bottom:24810.7px;color:rgb(35,31,31);
}
#P673_295
{
left:15327.9px;bottom:24827.9px;color:rgb(35,31,31);
}
#P673_296
{
left:14971px;bottom:24358.8px;color:rgb(35,31,31);
}
#P673_297
{
left:15306.8px;bottom:24844.3px;color:rgb(35,31,31);
}
#P673_298
{
left:15327.9px;bottom:24826.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P673_299
{
left:15384.2px;bottom:24237.4px;color:rgb(35,31,31);
}
#P673_300
{
left:15789px;bottom:24826.7px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P673_301
{
left:16622.6px;bottom:24797.1px;color:rgb(35,31,31);
}
#P673_302
{
left:17054.1px;bottom:24826.7px;color:rgb(35,31,31);
}
#P673_303
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P673_304
{
left:17233.6px;bottom:25266.3px;color:rgb(35,31,31);
}
#P673_305
{
left:17712px;bottom:25239.7px;color:rgb(35,31,31);
}
#P673_306
{
left:18239.7px;bottom:25266.3px;color:rgb(35,31,31);
}
#P673_307
{
left:18718.1px;bottom:24844.3px;color:rgb(35,31,31);
}
#P673_308
{
left:17212.4px;bottom:24810.7px;color:rgb(35,31,31);
}
#P673_309
{
left:18739.2px;bottom:24827.9px;color:rgb(35,31,31);
}
#P673_310
{
left:17233.6px;bottom:24358.8px;color:rgb(35,31,31);
}
#P673_311
{
left:17712px;bottom:24332.2px;color:rgb(35,31,31);
}
#P673_312
{
left:18239.7px;bottom:24358.8px;color:rgb(35,31,31);
}
#P673_313
{
left:18718.1px;bottom:24844.3px;color:rgb(35,31,31);
}
#P673_314
{
left:18739.2px;bottom:24826.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P673_315
{
left:6973.4px;bottom:21562.7px;color:rgb(35,31,31);
}
#P673_316
{
left:7150.55px;bottom:21582.4px;color:rgb(35,31,31);
}
#P673_317
{
left:8573.4px;bottom:21562.7px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P673_318
{
left:16576.4px;bottom:21562.7px;color:rgb(35,31,31);
}
#P673_319
{
left:16816.5px;bottom:21562.7px;letter-spacing:0.2px;color:rgb(35,31,31);
}
#P673_320
{
left:27664.8px;bottom:21562.7px;letter-spacing:0.9px;color:rgb(0,124,196);
}
#P673_321
{
left:6973.4px;bottom:20218.7px;color:rgb(35,31,31);
}
#P673_322
{
left:7933.4px;bottom:20238.4px;color:rgb(35,31,31);
}
#P673_323
{
left:15421.4px;bottom:20218.7px;color:rgb(35,31,31);
}
#P673_324
{
left:15952.9px;bottom:20189.1px;color:rgb(35,31,31);
}
#P673_325
{
left:16539.4px;bottom:20218.7px;color:rgb(35,31,31);
}
#P673_326
{
left:17070.9px;bottom:20218.7px;color:rgb(35,31,31);
}
#P673_327
{
left:17310.9px;bottom:20218.7px;color:rgb(35,31,31);
}
#P673_328
{
left:17557.3px;bottom:20394.7px;color:rgb(35,31,31);
}
#P673_329
{
left:18031.8px;bottom:20218.7px;color:rgb(35,31,31);
}
#P673_330
{
left:18190.2px;bottom:20189.1px;color:rgb(35,31,31);
}
#P673_331
{
left:18776.6px;bottom:20218.7px;color:rgb(35,31,31);
}
#P673_332
{
left:6973.4px;bottom:17082.7px;color:rgb(35,31,31);
}
#P673_333
{
left:7150.55px;bottom:17102.4px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P673_334
{
left:8573.4px;bottom:17082.7px;letter-spacing:-31.6px;color:rgb(35,31,31);
}
#P673_335
{
left:0px;letter-spacing:-3px;margin-left:31.6px;
}
#P673_336
{
left:0px;letter-spacing:-0.4px;margin-left:3px;
}
#P673_337
{
left:0px;letter-spacing:-1.2px;margin-left:-13.5px;
}
#P673_338
{
left:0px;letter-spacing:-2.3px;margin-left:1.2px;
}
#P673_339
{
left:0px;letter-spacing:0px;margin-left:-18.7px;
}
#P673_340
{
left:0px;letter-spacing:0px;
}
#P673_341
{
left:8573.4px;bottom:16186.7px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P673_342
{
left:0px;letter-spacing:-0.5px;margin-left:0.9px;
}
#P673_343
{
left:0px;letter-spacing:0px;margin-left:-13.5px;
}
#P673_344
{
left:31022px;bottom:16186.7px;color:rgb(0,124,196);
}
#P673_345
{
left:0px;letter-spacing:0px;margin-left:-154.9px;
}
#P673_346
{
left:6973.4px;bottom:14842.7px;color:rgb(35,31,31);
}
#P673_347
{
left:8573.4px;bottom:14842.7px;letter-spacing:-1.9px;color:rgb(35,31,31);
}
#P673_348
{
left:11214px;bottom:14842.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P673_349
{
left:0px;letter-spacing:5.5px;margin-left:126.8px;
}
#P673_350
{
left:0px;letter-spacing:-0.6px;margin-left:-5.5px;
}
#P673_351
{
left:0px;letter-spacing:-1px;margin-left:0.6px;
}
#P673_352
{
left:0px;letter-spacing:-14px;margin-left:1px;
}
#P673_353
{
left:0px;letter-spacing:0px;margin-left:14px;
}
#P673_354
{
left:26889.4px;bottom:14842.7px;color:rgb(35,31,31);
}
#P673_355
{
left:27531.5px;bottom:14842.7px;letter-spacing:-2px;color:rgb(35,31,31);
}
#P673_356
{
left:0px;letter-spacing:0px;margin-left:-12px;
}
#P673_357
{
left:11214px;bottom:13946.7px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P673_358
{
left:0px;letter-spacing:-1.1px;margin-left:-3.5px;
}
#P673_359
{
left:6973.4px;bottom:12602.7px;color:rgb(35,31,31);
}
#P673_360
{
left:8573.4px;bottom:12602.7px;letter-spacing:-1.9px;color:rgb(35,31,31);
}
#P673_361
{
left:11219.5px;bottom:12602.7px;letter-spacing:-158.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P673_362
{
left:0px;letter-spacing:-0.2px;margin-left:150px;
}
#P673_363
{
left:0px;letter-spacing:-3.2px;margin-left:-4px;
}
#P673_364
{
left:0px;letter-spacing:-3.3px;margin-left:3.2px;
}
#P673_365
{
left:0px;letter-spacing:-0.2px;margin-left:3.3px;
}
#P673_366
{
left:11219.5px;bottom:11706.8px;letter-spacing:-2.8px;color:rgb(35,31,31);
}
#P673_367
{
left:0px;letter-spacing:-0.8px;margin-left:2.8px;
}
#P673_368
{
left:6973.34px;bottom:8890.8px;color:rgb(35,31,31);
}
#P673_369
{
left:6973.34px;bottom:8910.51px;color:rgb(35,31,31);
}
#P673_370
{
left:8573.34px;bottom:8890.8px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P673_371
{
left:13082.5px;bottom:8890.8px;color:rgb(35,31,31);
}
#P673_372
{
left:13497.9px;bottom:8890.8px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P673_373
{
left:0px;letter-spacing:0.9px;margin-left:0.9px;
}
#P673_374
{
left:24431.6px;bottom:8890.67px;letter-spacing:0.9px;color:rgb(0,124,196);
}
#P673_375
{
left:15165.3px;bottom:7226.67px;word-spacing:1441.6px;color:rgb(35,31,31);
}
#P673_376
{
left:15696.9px;bottom:7197.1px;color:rgb(35,31,31);
}
#P673_377
{
left:16283.4px;bottom:7226.67px;color:rgb(35,31,31);
}
#P673_378
{
left:16814.9px;bottom:7226.67px;color:rgb(35,31,31);
}
#P673_379
{
left:17230.2px;bottom:7226.67px;color:rgb(35,31,31);
}
#P673_380
{
left:17388.6px;bottom:7197.1px;color:rgb(35,31,31);
}
#P673_381
{
left:17975.1px;bottom:7226.67px;color:rgb(35,31,31);
}
#P673_382
{
left:18133.5px;bottom:7197.1px;color:rgb(35,31,31);
}
#P673_383
{
left:18719.9px;bottom:7226.67px;color:rgb(35,31,31);
}
#P673_384
{
left:6973.4px;bottom:4858.67px;color:rgb(35,31,31);
}
#P673_385
{
left:8449.11px;bottom:4878.38px;color:rgb(35,31,31);
}
#P673_386
{
left:9153.11px;bottom:4858.67px;color:rgb(35,31,31);
}
#P673_387
{
left:9597.4px;bottom:4829.1px;color:rgb(35,31,31);
}
#P673_388
{
left:10183.8px;bottom:4858.67px;color:rgb(35,31,31);
}
#P673_389
{
left:23119.3px;bottom:4878.38px;color:rgb(35,31,31);
}
#P673_390
{
left:24189.5px;bottom:4858.67px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P673_391
{
left:6973.4px;bottom:3514.69px;color:rgb(35,31,31);
}
#P673_392
{
left:8527.26px;bottom:3534.4px;color:rgb(35,31,31);
}
#P673_393
{
left:9153.11px;bottom:3514.69px;color:rgb(35,31,31);
}
#P673_394
{
left:9597.4px;bottom:3485.12px;color:rgb(35,31,31);
}
#P673_395
{
left:10183.8px;bottom:3514.69px;color:rgb(35,31,31);
}
#P673_396
{
left:23041.2px;bottom:3534.4px;color:rgb(35,31,31);
}
#P673_397
{
left:24189.5px;bottom:3514.69px;word-spacing:285.9px;color:rgb(35,31,31);
}
#PageContainer673
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg673.jpg");background-repeat:no-repeat;background-size: 1066px 969px; background-position: 1px -0.369999999999891px;
}
#ImageContainer673 {bottom:395.37px;right:0.00px;width:1066.24px;height:968.79px;position:absolute;} #TextContainer673 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}