.tr167{ color:transparent;}
#P167_1
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P167_2
{
left:22694.1px;bottom:1410.03px;color:rgb(35,31,31);
}
#P167_3
{
left:27991.2px;bottom:1410.03px;letter-spacing:4px;word-spacing:457.1px;color:rgb(35,31,31);
}
#P167_4
{
left:0px;letter-spacing:0.8px;margin-left:-8.3px;
}
#P167_5
{
left:0px;letter-spacing:0px;margin-left:-457.9px;
}
#P167_6
{
left:0px;letter-spacing:3.9px;margin-left:10.8px;
}
#P167_7
{
left:0px;letter-spacing:2.5px;margin-left:1.1px;
}
#P167_8
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P167_9
{
left:13896.4px;bottom:44444.8px;letter-spacing:-31.6px;color:rgb(35,31,31);
}
#P167_10
{
left:0px;letter-spacing:-3.5px;margin-left:31.6px;
}
#P167_11
{
left:0px;letter-spacing:-0.1px;margin-left:3.5px;
}
#P167_12
{
left:13896.4px;bottom:43548.8px;letter-spacing:-2.8px;color:rgb(35,31,31);
}
#P167_13
{
left:0px;letter-spacing:-18.7px;margin-left:-39.3px;
}
#P167_14
{
left:0px;letter-spacing:0.3px;margin-left:18.7px;
}
#P167_15
{
left:27241.5px;bottom:43554.4px;color:rgb(35,31,31);
}
#P167_16
{
left:27604.8px;bottom:43548.8px;letter-spacing:-3.1px;color:rgb(35,31,31);
}
#P167_17
{
left:0px;letter-spacing:-63.3px;margin-left:-38.9px;
}
#P167_18
{
left:0px;letter-spacing:0px;margin-left:63.3px;
}
#P167_19
{
left:13896.4px;bottom:42652.9px;color:rgb(35,31,31);
}
#P167_20
{
left:18670.1px;bottom:42658.5px;color:rgb(35,31,31);
}
#P167_21
{
left:19033.4px;bottom:42652.9px;color:rgb(35,31,31);
}
#P167_22
{
left:19181.2px;bottom:42623.3px;color:rgb(35,31,31);
}
#P167_23
{
left:19767.6px;bottom:42652.9px;letter-spacing:-2.2px;color:rgb(35,31,31);
}
#P167_24
{
left:0px;letter-spacing:-33.7px;margin-left:2.2px;
}
#P167_25
{
left:0px;letter-spacing:-0.7px;margin-left:33.7px;
}
#P167_26
{
left:0px;letter-spacing:-42.1px;margin-left:-27.2px;
}
#P167_27
{
left:0px;letter-spacing:0px;margin-left:56.1px;
}
#P167_28
{
left:13896.4px;bottom:41756.9px;color:rgb(35,31,31);
}
#P167_29
{
left:13896.4px;bottom:40604.8px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P167_30
{
left:19434.8px;bottom:40604.8px;color:rgb(35,31,31);
}
#P167_31
{
left:19798.1px;bottom:40604.8px;letter-spacing:-1.6px;color:rgb(35,31,31);
}
#P167_32
{
left:0px;letter-spacing:0.1px;margin-left:1.6px;
}
#P167_33
{
left:13896.4px;bottom:39324.8px;letter-spacing:2721.6px;color:rgb(35,31,31);
}
#P167_34
{
left:17149.5px;bottom:39324.8px;color:rgb(35,31,31);
}
#P167_35
{
left:17512.8px;bottom:39324.8px;color:rgb(35,31,31);
}
#P167_36
{
left:17671.2px;bottom:39295.2px;color:rgb(35,31,31);
}
#P167_37
{
left:18257.6px;bottom:39324.8px;color:rgb(35,31,31);
}
#P167_38
{
left:18894.7px;bottom:38886.2px;color:rgb(35,31,31);
}
#P167_39
{
left:19246.5px;bottom:39324.8px;color:rgb(35,31,31);
}
#P167_40
{
left:19404.9px;bottom:39324.8px;color:rgb(35,31,31);
}
#P167_41
{
left:19768.2px;bottom:39324.8px;color:rgb(35,31,31);
}
#P167_42
{
left:22152.4px;bottom:38628.8px;color:rgb(0,124,196);
}
#P167_43
{
left:0px;letter-spacing:0px;margin-left:-61px;
}
#P167_44
{
left:16776.4px;bottom:38044.8px;word-spacing:2721.6px;color:rgb(35,31,31);
}
#P167_45
{
left:17681px;bottom:38015.2px;color:rgb(35,31,31);
}
#P167_46
{
left:18267.5px;bottom:38044.8px;color:rgb(35,31,31);
}
#P167_47
{
left:18904.5px;bottom:37606.2px;color:rgb(35,31,31);
}
#P167_48
{
left:19256.3px;bottom:38044.8px;color:rgb(35,31,31);
}
#P167_49
{
left:13896.4px;bottom:36764.8px;letter-spacing:-9.1px;color:rgb(35,31,31);
}
#P167_50
{
left:0px;letter-spacing:0px;margin-left:9.1px;
}
#P167_51
{
left:18909.1px;bottom:36764.8px;color:rgb(35,31,31);
}
#P167_52
{
left:19272.3px;bottom:36764.8px;letter-spacing:-1.9px;color:rgb(35,31,31);
}
#P167_53
{
left:0px;letter-spacing:-0.4px;margin-left:1.9px;
}
#P167_54
{
left:13896.4px;bottom:35484.8px;letter-spacing:2721.6px;color:rgb(35,31,31);
}
#P167_55
{
left:17149.5px;bottom:35484.8px;color:rgb(35,31,31);
}
#P167_56
{
left:17512.8px;bottom:35484.8px;color:rgb(35,31,31);
}
#P167_57
{
left:17671.2px;bottom:35455.2px;color:rgb(35,31,31);
}
#P167_58
{
left:18257.6px;bottom:35484.8px;color:rgb(35,31,31);
}
#P167_59
{
left:19320.6px;bottom:35455.2px;color:rgb(35,31,31);
}
#P167_60
{
left:19907px;bottom:35484.8px;color:rgb(35,31,31);
}
#P167_61
{
left:20685px;bottom:35484.8px;color:rgb(35,31,31);
}
#P167_62
{
left:21048.2px;bottom:35484.8px;color:rgb(35,31,31);
}
#P167_63
{
left:21453px;bottom:35455.2px;color:rgb(35,31,31);
}
#P167_64
{
left:22039.4px;bottom:35484.8px;color:rgb(35,31,31);
}
#P167_65
{
left:25608.4px;bottom:35492.8px;color:rgb(0,124,196);
}
#P167_66
{
left:0px;letter-spacing:0px;margin-left:-86.6px;
}
#P167_67
{
left:13896.4px;bottom:34204.8px;color:rgb(35,31,31);
}
#P167_68
{
left:19272.4px;bottom:34175.2px;color:rgb(35,31,31);
}
#P167_69
{
left:19858.8px;bottom:34204.8px;color:rgb(35,31,31);
}
#P167_70
{
left:20636.8px;bottom:34204.8px;color:rgb(35,31,31);
}
#P167_71
{
left:21000px;bottom:34204.8px;color:rgb(35,31,31);
}
#P167_72
{
left:21158.4px;bottom:34175.2px;color:rgb(35,31,31);
}
#P167_73
{
left:21744.8px;bottom:34204.8px;color:rgb(35,31,31);
}
#P167_74
{
left:25608.4px;bottom:34212.8px;color:rgb(0,124,196);
}
#P167_75
{
left:13896.4px;bottom:32924.8px;color:rgb(35,31,31);
}
#P167_76
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P167_77
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P167_78
{
left:0px;letter-spacing:0px;margin-left:-13.9px;
}
#P167_79
{
left:0px;letter-spacing:0px;margin-left:-25.3px;
}
#P167_80
{
left:13896.4px;bottom:32028.8px;color:rgb(35,31,31);
}
#P167_81
{
left:14142.8px;bottom:32028.8px;color:rgb(35,31,31);
}
#P167_82
{
left:14506.1px;bottom:32028.8px;color:rgb(35,31,31);
}
#P167_83
{
left:14664.5px;bottom:31999.2px;color:rgb(35,31,31);
}
#P167_84
{
left:15250.8px;bottom:32028.8px;letter-spacing:-2px;color:rgb(35,31,31);
}
#P167_85
{
left:0px;letter-spacing:0.2px;margin-left:-12px;
}
#P167_86
{
left:0px;letter-spacing:0px;margin-left:-25.5px;
}
#P167_87
{
left:0px;letter-spacing:-0.5px;
}
#P167_88
{
left:13896.4px;bottom:31132.9px;letter-spacing:-1.6px;color:rgb(35,31,31);
}
#P167_89
{
left:0px;letter-spacing:0.3px;margin-left:1.6px;
}
#P167_90
{
left:24656.9px;bottom:31132.9px;color:rgb(35,31,31);
}
#P167_91
{
left:25020.1px;bottom:31132.9px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P167_92
{
left:0px;letter-spacing:0px;margin-left:-17px;
}
#P167_93
{
left:15184.4px;bottom:29852.8px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P167_94
{
left:0px;letter-spacing:-9.4px;margin-left:-8.4px;
}
#P167_95
{
left:0px;letter-spacing:-1px;margin-left:9.3px;
}
#P167_96
{
left:0px;letter-spacing:-0.1px;margin-left:-12.9px;
}
#P167_97
{
left:0px;letter-spacing:-0.1px;margin-left:-20.9px;
}
#P167_98
{
left:0px;letter-spacing:0.4px;
}
#P167_99
{
left:15184.4px;bottom:28956.8px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P167_100
{
left:0px;letter-spacing:0px;margin-left:-66.2px;
}
#P167_101
{
left:0px;letter-spacing:-12.6px;
}
#P167_102
{
left:0px;letter-spacing:-0.4px;margin-left:12.6px;
}
#P167_103
{
left:0px;letter-spacing:0px;margin-left:-20.6px;
}
#P167_104
{
left:0px;letter-spacing:0px;
}
#P167_105
{
left:7801.11px;bottom:46049.6px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P167_106
{
left:14669.4px;bottom:46074.2px;letter-spacing:-4.3px;color:white;
}
#P167_107
{
left:17079.2px;bottom:46266px;color:white;
}
#P167_108
{
left:17319.4px;bottom:46074.2px;letter-spacing:-5.3px;color:white;
}
#P167_109
{
left:0px;letter-spacing:-3.1px;margin-left:5.3px;
}
#P167_110
{
left:22698px;bottom:46266px;color:white;
}
#P167_111
{
left:22938.2px;bottom:46074.2px;letter-spacing:-1.9px;color:white;
}
#P167_112
{
left:26460.1px;bottom:46266px;color:white;
}
#P167_113
{
left:26700.2px;bottom:46074.2px;color:white;
}
#P167_114
{
left:12857px;bottom:45907.1px;
}
#P167_115
{
left:12857px;bottom:45907.1px;color:white;
}
#P167_116
{
left:5117.4px;bottom:24604.8px;letter-spacing:-16.9px;color:rgb(35,31,31);
}
#P167_117
{
left:0px;letter-spacing:-0.7px;margin-left:16.9px;
}
#P167_118
{
left:5685.98px;bottom:23472.5px;color:rgb(35,31,31);
}
#P167_119
{
left:6717.4px;bottom:23452.8px;color:rgb(35,31,31);
}
#P167_120
{
left:7248.92px;bottom:23423.2px;color:rgb(35,31,31);
}
#P167_121
{
left:7835.35px;bottom:23452.8px;color:rgb(35,31,31);
}
#P167_122
{
left:12981.9px;bottom:23472.5px;color:rgb(35,31,31);
}
#P167_123
{
left:14013.3px;bottom:23452.8px;color:rgb(35,31,31);
}
#P167_124
{
left:14918px;bottom:23423.2px;color:rgb(35,31,31);
}
#P167_125
{
left:15504.4px;bottom:23452.8px;color:rgb(35,31,31);
}
#P167_126
{
left:20406px;bottom:23472.5px;color:rgb(35,31,31);
}
#P167_127
{
left:21437.5px;bottom:23452.8px;color:rgb(35,31,31);
}
#P167_128
{
left:22342.1px;bottom:23423.2px;color:rgb(35,31,31);
}
#P167_129
{
left:22928.5px;bottom:23452.8px;color:rgb(35,31,31);
}
#P167_130
{
left:27766px;bottom:23472.5px;color:rgb(35,31,31);
}
#P167_131
{
left:28797.5px;bottom:23452.8px;color:rgb(35,31,31);
}
#P167_132
{
left:29702.2px;bottom:23423.2px;color:rgb(35,31,31);
}
#P167_133
{
left:30288.6px;bottom:23452.8px;color:rgb(35,31,31);
}
#P167_134
{
left:5686.17px;bottom:22128.4px;color:rgb(35,31,31);
}
#P167_135
{
left:6717.59px;bottom:22108.7px;color:rgb(35,31,31);
}
#P167_136
{
left:7622.23px;bottom:22079.1px;color:rgb(35,31,31);
}
#P167_137
{
left:8208.67px;bottom:22108.7px;color:rgb(35,31,31);
}
#P167_138
{
left:12982.1px;bottom:22128.4px;color:rgb(35,31,31);
}
#P167_139
{
left:14013.6px;bottom:22108.7px;color:rgb(35,31,31);
}
#P167_140
{
left:15291.4px;bottom:22079.1px;color:rgb(35,31,31);
}
#P167_141
{
left:15877.8px;bottom:22108.7px;color:rgb(35,31,31);
}
#P167_142
{
left:20406.2px;bottom:22128.4px;color:rgb(35,31,31);
}
#P167_143
{
left:21437.7px;bottom:22108.7px;color:rgb(35,31,31);
}
#P167_144
{
left:22342.3px;bottom:22079.1px;color:rgb(35,31,31);
}
#P167_145
{
left:22928.7px;bottom:22108.7px;color:rgb(35,31,31);
}
#P167_146
{
left:27766.3px;bottom:22128.4px;color:rgb(35,31,31);
}
#P167_147
{
left:28797.7px;bottom:22108.7px;color:rgb(35,31,31);
}
#P167_148
{
left:29702.4px;bottom:22079.1px;color:rgb(35,31,31);
}
#P167_149
{
left:30288.8px;bottom:22108.7px;color:rgb(35,31,31);
}
#P167_150
{
left:5686.36px;bottom:20784.4px;color:rgb(35,31,31);
}
#P167_151
{
left:6717.79px;bottom:20764.7px;color:rgb(35,31,31);
}
#P167_152
{
left:7090.91px;bottom:20764.7px;color:rgb(35,31,31);
}
#P167_153
{
left:7454.17px;bottom:20764.7px;color:rgb(35,31,31);
}
#P167_154
{
left:7612.57px;bottom:20735.1px;color:rgb(35,31,31);
}
#P167_155
{
left:8199px;bottom:20764.7px;color:rgb(35,31,31);
}
#P167_156
{
left:12590.9px;bottom:20784.4px;color:rgb(35,31,31);
}
#P167_157
{
left:14013.8px;bottom:20764.7px;color:rgb(35,31,31);
}
#P167_158
{
left:14760px;bottom:20764.7px;color:rgb(35,31,31);
}
#P167_159
{
left:15123.3px;bottom:20764.7px;color:rgb(35,31,31);
}
#P167_160
{
left:15281.7px;bottom:20735.1px;color:rgb(35,31,31);
}
#P167_161
{
left:15868.1px;bottom:20764.7px;color:rgb(35,31,31);
}
#P167_162
{
left:20015px;bottom:20784.4px;color:rgb(35,31,31);
}
#P167_163
{
left:21437.8px;bottom:20764.7px;color:rgb(35,31,31);
}
#P167_164
{
left:22184.1px;bottom:20764.7px;color:rgb(35,31,31);
}
#P167_165
{
left:22547.4px;bottom:20764.7px;color:rgb(35,31,31);
}
#P167_166
{
left:22705.8px;bottom:20735.1px;color:rgb(35,31,31);
}
#P167_167
{
left:23292.2px;bottom:20764.7px;color:rgb(35,31,31);
}
#P167_168
{
left:27375px;bottom:20784.4px;color:rgb(35,31,31);
}
#P167_169
{
left:28797.8px;bottom:20764.7px;color:rgb(35,31,31);
}
#P167_170
{
left:29544.1px;bottom:20764.7px;color:rgb(35,31,31);
}
#P167_171
{
left:29907.4px;bottom:20764.7px;color:rgb(35,31,31);
}
#P167_172
{
left:30065.8px;bottom:20735.1px;color:rgb(35,31,31);
}
#P167_173
{
left:30652.2px;bottom:20764.7px;color:rgb(35,31,31);
}
#P167_174
{
left:5295.07px;bottom:19440.4px;color:rgb(35,31,31);
}
#P167_175
{
left:6717.91px;bottom:19420.7px;color:rgb(35,31,31);
}
#P167_176
{
left:7464.15px;bottom:19420.7px;color:rgb(35,31,31);
}
#P167_177
{
left:7827.42px;bottom:19420.7px;color:rgb(35,31,31);
}
#P167_178
{
left:7985.82px;bottom:19391.1px;color:rgb(35,31,31);
}
#P167_179
{
left:8572.25px;bottom:19420.7px;color:rgb(35,31,31);
}
#P167_180
{
left:12591.1px;bottom:19440.4px;color:rgb(35,31,31);
}
#P167_181
{
left:14014px;bottom:19420.7px;color:rgb(35,31,31);
}
#P167_182
{
left:14760.2px;bottom:19420.7px;color:rgb(35,31,31);
}
#P167_183
{
left:15123.5px;bottom:19420.7px;color:rgb(35,31,31);
}
#P167_184
{
left:15281.9px;bottom:19391.1px;color:rgb(35,31,31);
}
#P167_185
{
left:15868.3px;bottom:19420.7px;color:rgb(35,31,31);
}
#P167_186
{
left:20015.2px;bottom:19440.4px;color:rgb(35,31,31);
}
#P167_187
{
left:21438px;bottom:19420.7px;color:rgb(35,31,31);
}
#P167_188
{
left:22184.3px;bottom:19420.7px;color:rgb(35,31,31);
}
#P167_189
{
left:22547.5px;bottom:19420.7px;color:rgb(35,31,31);
}
#P167_190
{
left:22705.9px;bottom:19391.1px;color:rgb(35,31,31);
}
#P167_191
{
left:23292.4px;bottom:19420.7px;color:rgb(35,31,31);
}
#P167_192
{
left:24197px;bottom:19420.7px;color:rgb(35,31,31);
}
#P167_193
{
left:24526.4px;bottom:19420.7px;color:rgb(35,31,31);
}
#P167_194
{
left:27375.1px;bottom:19440.4px;color:rgb(35,31,31);
}
#P167_195
{
left:28798px;bottom:19420.7px;color:rgb(35,31,31);
}
#P167_196
{
left:29544.3px;bottom:19420.7px;color:rgb(35,31,31);
}
#P167_197
{
left:29873.8px;bottom:19420.7px;color:rgb(35,31,31);
}
#P167_198
{
left:30032.2px;bottom:19391.1px;color:rgb(35,31,31);
}
#P167_199
{
left:30618.6px;bottom:19420.7px;color:rgb(35,31,31);
}
#P167_200
{
left:31523.2px;bottom:19420.7px;color:rgb(35,31,31);
}
#P167_201
{
left:5295.26px;bottom:17776.5px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P167_202
{
left:6781.4px;bottom:17776.5px;color:rgb(2,77,161);
}
#P167_203
{
left:10497.8px;bottom:17756.8px;letter-spacing:168.3px;color:rgb(35,31,31);
}
#P167_204
{
left:0px;letter-spacing:0px;margin-left:-168.3px;
}
#P167_205
{
left:17334.3px;bottom:17756.8px;color:rgb(35,31,31);
}
#P167_206
{
left:17729.2px;bottom:17756.8px;color:rgb(35,31,31);
}
#P167_207
{
left:19270.9px;bottom:17756.8px;color:rgb(35,31,31);
}
#P167_208
{
left:19664.5px;bottom:17756.8px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P167_209
{
left:0px;letter-spacing:0px;margin-left:-16.6px;
}
#P167_210
{
left:24724.2px;bottom:17756.8px;color:rgb(35,31,31);
}
#P167_211
{
left:25034.7px;bottom:17756.8px;letter-spacing:-3.1px;color:rgb(35,31,31);
}
#P167_212
{
left:26078.1px;bottom:17756.8px;color:rgb(35,31,31);
}
#P167_213
{
left:26473px;bottom:17756.8px;color:rgb(35,31,31);
}
#P167_214
{
left:26631.4px;bottom:17727.2px;color:rgb(35,31,31);
}
#P167_215
{
left:27217.9px;bottom:17756.8px;color:rgb(35,31,31);
}
#P167_216
{
left:27376.3px;bottom:17756.8px;color:rgb(35,31,31);
}
#P167_217
{
left:27769.8px;bottom:17756.8px;letter-spacing:-1.5px;color:rgb(35,31,31);
}
#P167_218
{
left:0px;letter-spacing:0px;margin-left:1.5px;
}
#P167_219
{
left:31681.2px;bottom:17756.8px;word-spacing:-129px;color:rgb(35,31,31);
}
#P167_220
{
left:32050.4px;bottom:17756.8px;color:rgb(35,31,31);
}
#P167_221
{
left:6781.4px;bottom:16860.8px;letter-spacing:-6.3px;color:rgb(35,31,31);
}
#P167_222
{
left:7479.9px;bottom:16860.8px;color:rgb(35,31,31);
}
#P167_223
{
left:7873.43px;bottom:16860.8px;color:rgb(35,31,31);
}
#P167_224
{
left:8031.83px;bottom:16831.2px;color:rgb(35,31,31);
}
#P167_225
{
left:8618.27px;bottom:16860.8px;color:rgb(35,31,31);
}
#P167_226
{
left:8776.6px;bottom:16860.8px;color:rgb(35,31,31);
}
#P167_227
{
left:9171.55px;bottom:16860.8px;letter-spacing:-1.5px;color:rgb(35,31,31);
}
#P167_228
{
left:0px;letter-spacing:0px;margin-left:1.5px;
}
#P167_229
{
left:13083px;bottom:16860.8px;color:rgb(35,31,31);
}
#P167_230
{
left:13450.9px;bottom:16860.8px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P167_231
{
left:0px;letter-spacing:0px;margin-left:1.4px;
}
#P167_232
{
left:5117.27px;bottom:15516.8px;color:rgb(35,31,31);
}
#P167_233
{
left:5294.43px;bottom:15536.5px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P167_234
{
left:6781.4px;bottom:15536.5px;color:rgb(2,77,161);
}
#P167_235
{
left:11173.8px;bottom:15516.8px;word-spacing:151.5px;color:rgb(35,31,31);
}
#P167_236
{
left:0px;letter-spacing:0px;margin-left:-31.6px;
}
#P167_237
{
left:0px;letter-spacing:0px;margin-left:5.5px;
}
#P167_238
{
left:0px;letter-spacing:0px;margin-left:-151.5px;
}
#P167_239
{
left:13451.8px;bottom:15516.8px;letter-spacing:28.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P167_240
{
left:0px;letter-spacing:-0.8px;margin-left:129.5px;
}
#P167_241
{
left:0px;letter-spacing:-0.3px;margin-left:-13.1px;
}
#P167_242
{
left:0px;letter-spacing:0px;margin-left:0.3px;
}
#P167_243
{
left:25520.7px;bottom:15516.8px;color:rgb(35,31,31);
}
#P167_244
{
left:25884px;bottom:15516.8px;color:rgb(35,31,31);
}
#P167_245
{
left:26042.4px;bottom:15487.2px;color:rgb(35,31,31);
}
#P167_246
{
left:26628.8px;bottom:15516.8px;color:rgb(35,31,31);
}
#P167_247
{
left:5117.4px;bottom:14172.8px;color:rgb(35,31,31);
}
#P167_248
{
left:5294.55px;bottom:14192.5px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P167_249
{
left:6781.4px;bottom:14192.5px;letter-spacing:-1.8px;color:rgb(2,77,161);
}
#P167_250
{
left:10237.5px;bottom:14172.8px;letter-spacing:168.3px;color:rgb(35,31,31);
}
#P167_251
{
left:0px;letter-spacing:-0.8px;margin-left:-168.3px;
}
#P167_252
{
left:0px;letter-spacing:-0.5px;margin-left:-6px;
}
#P167_253
{
left:26322.4px;bottom:13215.9px;color:rgb(0,145,68);
}
#P167_254
{
left:6781.4px;bottom:13276.8px;color:rgb(35,31,31);
}
#P167_255
{
left:7400.92px;bottom:13276.8px;color:rgb(35,31,31);
}
#P167_256
{
left:7764.19px;bottom:13276.8px;color:rgb(35,31,31);
}
#P167_257
{
left:7922.59px;bottom:13247.2px;color:rgb(35,31,31);
}
#P167_258
{
left:8509.02px;bottom:13276.8px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P167_259
{
left:0px;letter-spacing:-13.1px;margin-left:-41.3px;
}
#P167_260
{
left:0px;letter-spacing:-0.9px;margin-left:13.1px;
}
#P167_261
{
left:6781.4px;bottom:12380.8px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P167_262
{
left:5117.4px;bottom:10012.9px;color:rgb(35,31,31);
}
#P167_263
{
left:5294.55px;bottom:10032.6px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P167_264
{
left:6781.4px;bottom:10032.5px;color:rgb(2,77,161);
}
#P167_265
{
left:10354.8px;bottom:10012.8px;letter-spacing:151.5px;color:rgb(35,31,31);
}
#P167_266
{
left:0px;letter-spacing:0px;margin-left:-214.7px;
}
#P167_267
{
left:0px;letter-spacing:0.1px;
}
#P167_268
{
left:6781.4px;bottom:9116.78px;letter-spacing:-2.5px;color:rgb(35,31,31);
}
#P167_269
{
left:0px;letter-spacing:-2.1px;margin-left:2.5px;
}
#P167_270
{
left:0px;letter-spacing:-3px;margin-left:2.1px;
}
#P167_271
{
left:0px;letter-spacing:-0.2px;margin-left:3px;
}
#P167_272
{
left:29563.2px;bottom:9116.78px;word-spacing:56.3px;color:rgb(35,31,31);
}
#P167_273
{
left:0px;letter-spacing:-4.2px;margin-left:-56.3px;
}
#P167_274
{
left:0px;letter-spacing:0.9px;margin-left:4.2px;
}
#P167_275
{
left:6781.4px;bottom:8220.91px;color:rgb(35,31,31);
}
#P167_276
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P167_277
{
left:0px;letter-spacing:-0.9px;
}
#P167_278
{
left:0px;letter-spacing:-1.4px;margin-left:-3.2px;
}
#P167_279
{
left:0px;letter-spacing:0px;margin-left:1.4px;
}
#P167_280
{
left:5117.53px;bottom:4188.78px;color:rgb(35,31,31);
}
#P167_281
{
left:10621.4px;bottom:5823.28px;letter-spacing:-2.3px;color:rgb(35,31,31);
}
#P167_282
{
left:11981.7px;bottom:5823.28px;word-spacing:18.7px;color:rgb(35,31,31);
}
#P167_283
{
left:12466px;bottom:5835.95px;color:rgb(35,31,31);
}
#P167_284
{
left:13052.4px;bottom:5823.28px;color:rgb(35,31,31);
}
#P167_285
{
left:15118.6px;bottom:5835.95px;color:rgb(35,31,31);
}
#P167_286
{
left:15705px;bottom:5823.28px;color:rgb(35,31,31);
}
#P167_287
{
left:10621.4px;bottom:4927.28px;color:rgb(35,31,31);
}
#P167_288
{
left:12477.4px;bottom:4939.95px;color:rgb(35,31,31);
}
#P167_289
{
left:13063.8px;bottom:4927.28px;color:rgb(35,31,31);
}
#P167_290
{
left:14592.2px;bottom:4939.95px;color:rgb(35,31,31);
}
#P167_291
{
left:15178.6px;bottom:4927.28px;color:rgb(35,31,31);
}
#P167_292
{
left:10621.4px;bottom:4031.4px;color:rgb(35,31,31);
}
#P167_293
{
left:12477.4px;bottom:4044.08px;color:rgb(35,31,31);
}
#P167_294
{
left:13063.8px;bottom:4031.4px;color:rgb(35,31,31);
}
#P167_295
{
left:18237.4px;bottom:4208.49px;color:rgb(35,31,31);
}
#P167_296
{
left:20925.4px;bottom:6322.54px;letter-spacing:-2.3px;color:rgb(35,31,31);
}
#P167_297
{
left:22285.7px;bottom:6322.54px;word-spacing:18.7px;color:rgb(35,31,31);
}
#P167_298
{
left:22770px;bottom:6335.21px;color:rgb(35,31,31);
}
#P167_299
{
left:23356.4px;bottom:6322.54px;color:rgb(35,31,31);
}
#P167_300
{
left:25422.6px;bottom:6335.21px;color:rgb(35,31,31);
}
#P167_301
{
left:26009px;bottom:6322.54px;color:rgb(35,31,31);
}
#P167_302
{
left:22781.4px;bottom:5439.21px;color:rgb(35,31,31);
}
#P167_303
{
left:23367.8px;bottom:5426.54px;color:rgb(35,31,31);
}
#P167_304
{
left:25177px;bottom:5439.21px;color:rgb(35,31,31);
}
#P167_305
{
left:25763.5px;bottom:5426.54px;color:rgb(35,31,31);
}
#P167_306
{
left:22781.4px;bottom:4543.34px;color:rgb(35,31,31);
}
#P167_307
{
left:23367.8px;bottom:4530.67px;color:rgb(35,31,31);
}
#P167_308
{
left:22781.4px;bottom:3647.34px;color:rgb(35,31,31);
}
#P167_309
{
left:23367.8px;bottom:3634.67px;color:rgb(35,31,31);
}
#PageContainer167
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg167.jpg");background-repeat:no-repeat;background-size: 901px 1204px; background-position: 103.47px 74.46px;
}
#ImageContainer167 {bottom:85.54px;left:103.47px;width:901.27px;height:1203.51px;position:absolute;} #TextContainer167 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.example3{position: absolute;top: 82px;left: 165px;}
.answer{position: absolute;top: 617px;left: 80px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}