.tr191{ color:transparent;}
#P191_1
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P191_2
{
left:26947px;bottom:1410.03px;letter-spacing:3.6px;word-spacing:-0.4px;color:rgb(35,31,31);
}
#P191_3
{
left:0px;letter-spacing:0.4px;margin-left:-3.1px;
}
#P191_4
{
left:31753.3px;bottom:1410.03px;letter-spacing:462.1px;color:rgb(35,31,31);
}
#P191_5
{
left:0px;letter-spacing:-3.3px;margin-left:-455.6px;
}
#P191_6
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P191_7
{
left:6973.4px;bottom:43784.6px;letter-spacing:-1.5px;color:rgb(35,31,31);
}
#P191_8
{
left:0px;letter-spacing:0px;margin-left:-12.4px;
}
#P191_9
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P191_10
{
left:18978.8px;bottom:43784.6px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P191_11
{
left:6973.4px;bottom:42440.6px;color:rgb(35,31,31);
}
#P191_12
{
left:7541.98px;bottom:42460.3px;color:rgb(35,31,31);
}
#P191_13
{
left:9818.65px;bottom:41602.5px;color:rgb(33,31,31);
}
#P191_14
{
left:10746px;bottom:40428px;color:rgb(33,31,31);
}
#P191_15
{
left:16477.4px;bottom:42440.6px;color:rgb(35,31,31);
}
#P191_16
{
left:22134px;bottom:42460.3px;color:rgb(35,31,31);
}
#P191_17
{
left:25442.4px;bottom:39853.6px;color:rgb(100,94,170);
}
#P191_18
{
left:24432.1px;bottom:42556.2px;color:rgb(100,94,170);
}
#P191_19
{
left:6973.4px;bottom:35784.6px;color:rgb(35,31,31);
}
#P191_20
{
left:7541.98px;bottom:35804.3px;color:rgb(35,31,31);
}
#P191_21
{
left:12637.3px;bottom:31475.8px;color:rgb(240,89,40);
}
#P191_22
{
left:8771.74px;bottom:33989.5px;color:rgb(240,89,40);
}
#P191_23
{
left:14863.6px;bottom:35784.6px;color:rgb(35,31,31);
}
#P191_24
{
left:22134px;bottom:35804.3px;color:rgb(35,31,31);
}
#P191_25
{
left:26968.2px;bottom:33912.6px;color:rgb(207,153,14);
}
#P191_26
{
left:23681.5px;bottom:31122.4px;color:rgb(207,153,14);
}
#P191_27
{
left:6973.4px;bottom:28680.6px;letter-spacing:-1.5px;color:rgb(35,31,31);
}
#P191_28
{
left:0px;letter-spacing:0.3px;margin-left:-12.4px;
}
#P191_29
{
left:0px;letter-spacing:0px;margin-left:-28.3px;
}
#P191_30
{
left:16893.5px;bottom:28680.6px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P191_31
{
left:6973.4px;bottom:27464.6px;color:rgb(35,31,31);
}
#P191_32
{
left:7541.98px;bottom:27484.3px;color:rgb(35,31,31);
}
#P191_33
{
left:11277.3px;bottom:21771.3px;color:rgb(33,31,31);
}
#P191_34
{
left:13880.2px;bottom:25405.9px;color:rgb(33,31,31);
}
#P191_35
{
left:16477.3px;bottom:27464.6px;color:rgb(35,31,31);
}
#P191_36
{
left:22134px;bottom:27484.3px;color:rgb(35,31,31);
}
#P191_37
{
left:23363.7px;bottom:25554.3px;color:rgb(0,145,68);
}
#P191_38
{
left:28313.3px;bottom:22814.8px;color:rgb(0,145,68);
}
#P191_39
{
left:6973.4px;bottom:19464.6px;color:rgb(35,31,31);
}
#P191_40
{
left:7541.98px;bottom:19484.3px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P191_41
{
left:8573.4px;bottom:19484.3px;color:rgb(2,77,161);
}
#P191_42
{
left:10307.4px;bottom:19464.6px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P191_43
{
left:0px;letter-spacing:0.1px;margin-left:-193.6px;
}
#P191_44
{
left:0px;letter-spacing:-7px;margin-left:-21.1px;
}
#P191_45
{
left:0px;letter-spacing:0px;margin-left:7px;
}
#P191_46
{
left:8573.4px;bottom:18568.6px;color:rgb(35,31,31);
}
#P191_47
{
left:13014.9px;bottom:18568.6px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P191_48
{
left:6973.4px;bottom:17096.6px;color:rgb(0,124,196);
}
#P191_49
{
left:7933.4px;bottom:17116.3px;color:rgb(0,124,196);
}
#P191_50
{
left:12463.2px;bottom:13918.1px;color:rgb(35,31,31);
}
#P191_51
{
left:13235.6px;bottom:11961.5px;color:rgb(35,31,31);
}
#P191_52
{
left:6973.4px;bottom:7944.62px;color:rgb(35,31,31);
}
#P191_53
{
left:7541.98px;bottom:7964.33px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P191_54
{
left:8573.4px;bottom:7964.33px;color:rgb(2,77,161);
}
#P191_55
{
left:11533px;bottom:7944.62px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P191_56
{
left:0px;letter-spacing:0px;margin-left:-193.6px;
}
#P191_57
{
left:8573.4px;bottom:7048.62px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P191_58
{
left:0px;letter-spacing:0px;margin-left:-40.9px;
}
#P191_59
{
left:0px;letter-spacing:0px;
}
#P191_60
{
left:8573.4px;bottom:6152.68px;letter-spacing:-0.7px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P191_61
{
left:0px;letter-spacing:-0.6px;margin-left:0.6px;
}
#P191_62
{
left:8573.4px;bottom:5256.68px;letter-spacing:-8.4px;color:rgb(35,31,31);
}
#P191_63
{
left:0px;letter-spacing:-0.6px;margin-left:8.4px;
}
#P191_64
{
left:0px;letter-spacing:0px;margin-left:-41.5px;
}
#P191_65
{
left:15463px;bottom:5256.62px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P191_66
{
left:11630.4px;bottom:46829.1px;
}
#P191_67
{
left:13298.3px;bottom:47127.5px;
}
#P191_68
{
left:13671.9px;bottom:46829.1px;
}
#P191_69
{
left:4704.6px;bottom:46801.9px;word-spacing:-205.6px;color:white;
}
#P191_70
{
left:11630.4px;bottom:46829.1px;color:white;
}
#P191_71
{
left:13298.3px;bottom:47127.5px;color:white;
}
#P191_72
{
left:13671.9px;bottom:46829.1px;color:white;
}
#P191_73
{
left:29445.3px;bottom:45147.3px;letter-spacing:-0.1px;word-spacing:0.4px;color:rgb(33,31,31);
}
#P191_74
{
left:25329.4px;bottom:6672.43px;color:rgb(33,31,31);
}
#P191_75
{
left:29839.5px;bottom:4839.6px;color:rgb(33,31,31);
}
#PageContainer191
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg191.jpg");background-repeat:no-repeat;background-size: 1031px 1270px; background-position: 1.67px 0.119999999999891px;
}
#ImageContainer191 {bottom:93.88px;left:1.67px;width:1031.16px;height:1270.28px;position:absolute;} #TextContainer191 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.progress_check{position: absolute;top: 86px;left: 791px;}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}