.tr396{ color:transparent;}
#P396_1
{
left:2365.4px;bottom:1409.96px;color:rgb(35,31,31);
}
#P396_2
{
left:3540.44px;bottom:1544.36px;color:rgb(35,31,31);
}
#P396_3
{
left:4925.4px;bottom:1409.96px;color:rgb(35,31,31);
}
#P396_4
{
left:9121.88px;bottom:1544.36px;letter-spacing:462.3px;word-spacing:-0.3px;color:rgb(35,31,31);
}
#P396_5
{
left:0px;letter-spacing:3.9px;margin-left:-462.1px;
}
#P396_6
{
left:0px;letter-spacing:-0.8px;margin-left:173.2px;
}
#P396_7
{
left:0px;letter-spacing:2.1px;margin-left:1.8px;
}
#P396_8
{
left:5709.4px;bottom:8476.78px;color:rgb(35,31,31);
}
#P396_9
{
left:5889.56px;bottom:46957.1px;color:white;
}
#P396_10
{
left:2371.78px;bottom:46929.9px;color:white;
}
#P396_11
{
left:26785.2px;bottom:46188.3px;word-spacing:0.2px;color:rgb(33,31,31);
}
#P396_12
{
left:0px;letter-spacing:0px;margin-left:-44.8px;
}
#P396_13
{
left:0px;letter-spacing:0px;margin-left:0.2px;
}
#P396_14
{
left:11805.4px;bottom:41791.5px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P396_15
{
left:0px;letter-spacing:0px;margin-left:1.3px;
}
#P396_16
{
left:18875.9px;bottom:41947.8px;color:rgb(35,31,31);
}
#P396_17
{
left:19071.6px;bottom:41791.5px;color:rgb(35,31,31);
}
#P396_18
{
left:11805.4px;bottom:40683.8px;color:rgb(35,31,31);
}
#P396_19
{
left:12410.8px;bottom:40683.8px;letter-spacing:-2px;color:rgb(35,31,31);
}
#P396_20
{
left:0px;letter-spacing:0px;margin-left:-11.9px;
}
#P396_21
{
left:17337.6px;bottom:40683.8px;letter-spacing:-2.2px;color:rgb(35,31,31);
}
#P396_22
{
left:0px;letter-spacing:-0.8px;margin-left:-4.7px;
}
#P396_23
{
left:0px;letter-spacing:-2.8px;margin-left:0.8px;
}
#P396_24
{
left:27678.1px;bottom:37717.8px;color:rgb(0,124,196);
}
#P396_25
{
left:0px;letter-spacing:0px;margin-left:3528.2px;
}
#P396_26
{
left:29514.1px;bottom:37717.8px;color:rgb(237,28,35);
}
#P396_27
{
left:29940.6px;bottom:35541.8px;color:rgb(0,124,196);
}
#P396_28
{
left:29940.6px;bottom:39798.1px;color:rgb(0,124,196);
}
#P396_29
{
left:15910.6px;bottom:37645.2px;color:rgb(35,31,31);
}
#P396_30
{
left:0px;letter-spacing:0px;margin-left:5547.1px;
}
#P396_31
{
left:11892.2px;bottom:35038.8px;color:rgb(237,28,35);
}
#P396_32
{
left:5490.84px;bottom:31110.2px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P396_33
{
left:12359.1px;bottom:31134.7px;color:white;
}
#P396_34
{
left:12774.7px;bottom:31326.5px;color:white;
}
#P396_35
{
left:13014.9px;bottom:31134.7px;color:white;
}
#P396_36
{
left:13991.2px;bottom:31326.5px;color:white;
}
#P396_37
{
left:14231.4px;bottom:31134.7px;letter-spacing:-2.1px;color:white;
}
#P396_38
{
left:0px;letter-spacing:-2.2px;margin-left:2.1px;
}
#P396_39
{
left:0px;letter-spacing:-3.1px;margin-left:2.2px;
}
#P396_40
{
left:29151.6px;bottom:31326.5px;color:white;
}
#P396_41
{
left:29391.8px;bottom:31134.7px;color:white;
}
#P396_42
{
left:10514.8px;bottom:30967.6px;
}
#P396_43
{
left:10514.8px;bottom:30967.6px;color:white;
}
#P396_44
{
left:11394.1px;bottom:29505.3px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P396_45
{
left:0px;letter-spacing:0px;margin-left:-13.4px;
}
#P396_46
{
left:0px;letter-spacing:-1.7px;margin-left:-14px;
}
#P396_47
{
left:0px;letter-spacing:0px;margin-left:1.7px;
}
#P396_48
{
left:11394.1px;bottom:28353.3px;color:rgb(35,31,31);
}
#P396_49
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P396_50
{
left:0px;letter-spacing:0px;margin-left:-214.8px;
}
#P396_51
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P396_52
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P396_53
{
left:0px;letter-spacing:0px;margin-left:-13.9px;
}
#P396_54
{
left:11458.1px;bottom:17729.3px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P396_55
{
left:0px;letter-spacing:-0.9px;margin-left:0.9px;
}
#P396_56
{
left:11551.3px;bottom:16377.3px;letter-spacing:-1.9px;color:rgb(35,31,31);
}
#P396_57
{
left:12019.7px;bottom:15481.4px;letter-spacing:-4.7px;color:rgb(35,31,31);
}
#P396_58
{
left:14018.1px;bottom:15873.3px;color:rgb(35,31,31);
}
#P396_59
{
left:14176.5px;bottom:15843.7px;color:rgb(35,31,31);
}
#P396_60
{
left:14763px;bottom:15873.3px;color:rgb(35,31,31);
}
#P396_61
{
left:15088.3px;bottom:16377.3px;letter-spacing:-1.7px;color:rgb(35,31,31);
}
#P396_62
{
left:15017.6px;bottom:15481.3px;color:rgb(35,31,31);
}
#P396_63
{
left:17481.2px;bottom:15873.3px;color:rgb(35,31,31);
}
#P396_64
{
left:17639.6px;bottom:15843.8px;color:rgb(35,31,31);
}
#P396_65
{
left:18226.1px;bottom:15873.3px;color:rgb(35,31,31);
}
#P396_66
{
left:18551.5px;bottom:16377.3px;letter-spacing:-1.7px;color:rgb(35,31,31);
}
#P396_67
{
left:18753.9px;bottom:15481.3px;color:rgb(35,31,31);
}
#P396_68
{
left:20944.5px;bottom:15873.3px;color:rgb(35,31,31);
}
#P396_69
{
left:21102.9px;bottom:15843.8px;color:rgb(35,31,31);
}
#P396_70
{
left:21689.3px;bottom:15873.3px;color:rgb(35,31,31);
}
#P396_71
{
left:22014.7px;bottom:16377.3px;letter-spacing:-1.7px;color:rgb(35,31,31);
}
#P396_72
{
left:22217.2px;bottom:15481.3px;color:rgb(35,31,31);
}
#P396_73
{
left:24407.6px;bottom:15873.3px;color:rgb(35,31,31);
}
#P396_74
{
left:24566px;bottom:15843.8px;color:rgb(35,31,31);
}
#P396_75
{
left:25152.5px;bottom:15873.3px;color:rgb(35,31,31);
}
#P396_76
{
left:25477.9px;bottom:16377.3px;letter-spacing:-1.7px;color:rgb(35,31,31);
}
#P396_77
{
left:25680.4px;bottom:15481.3px;color:rgb(35,31,31);
}
#P396_78
{
left:27870.9px;bottom:15873.3px;color:rgb(35,31,31);
}
#P396_79
{
left:28029.3px;bottom:15843.8px;color:rgb(35,31,31);
}
#P396_80
{
left:28615.7px;bottom:15873.3px;color:rgb(35,31,31);
}
#P396_81
{
left:28941.1px;bottom:16377.3px;letter-spacing:-1.7px;color:rgb(35,31,31);
}
#P396_82
{
left:29143.6px;bottom:15481.3px;color:rgb(35,31,31);
}
#P396_83
{
left:11458px;bottom:14209.3px;color:rgb(35,31,31);
}
#P396_84
{
left:12550.4px;bottom:14209.3px;color:rgb(35,31,31);
}
#P396_85
{
left:12925.6px;bottom:14209.3px;letter-spacing:934px;color:rgb(35,31,31);
}
#P396_86
{
left:14176.3px;bottom:14179.8px;color:rgb(35,31,31);
}
#P396_87
{
left:14762.7px;bottom:14209.3px;color:rgb(35,31,31);
}
#P396_88
{
left:15757px;bottom:14209.3px;color:rgb(235,26,35);
}
#P396_89
{
left:16503.3px;bottom:14209.3px;letter-spacing:824.1px;color:rgb(35,31,31);
}
#P396_90
{
left:17644.2px;bottom:14179.8px;color:rgb(35,31,31);
}
#P396_91
{
left:18230.6px;bottom:14209.3px;color:rgb(35,31,31);
}
#P396_92
{
left:19277px;bottom:14209.3px;color:rgb(0,124,196);
}
#P396_93
{
left:20023.3px;bottom:14209.3px;letter-spacing:760px;color:rgb(35,31,31);
}
#P396_94
{
left:21100.1px;bottom:14179.8px;color:rgb(35,31,31);
}
#P396_95
{
left:21686.6px;bottom:14209.3px;color:rgb(35,31,31);
}
#P396_96
{
left:22733px;bottom:14209.3px;color:rgb(0,124,196);
}
#P396_97
{
left:23479.3px;bottom:14209.3px;letter-spacing:760px;color:rgb(35,31,31);
}
#P396_98
{
left:24556.1px;bottom:14179.8px;color:rgb(35,31,31);
}
#P396_99
{
left:25142.6px;bottom:14209.3px;color:rgb(35,31,31);
}
#P396_100
{
left:26253px;bottom:14209.3px;color:rgb(0,124,196);
}
#P396_101
{
left:26999.3px;bottom:14209.3px;letter-spacing:696px;color:rgb(35,31,31);
}
#P396_102
{
left:28012.1px;bottom:14179.8px;color:rgb(35,31,31);
}
#P396_103
{
left:28598.6px;bottom:14209.3px;color:rgb(35,31,31);
}
#P396_104
{
left:29709px;bottom:14209.3px;color:rgb(0,124,196);
}
#P396_105
{
left:30455.3px;bottom:14209.3px;letter-spacing:748.5px;color:rgb(35,31,31);
}
#P396_106
{
left:31520.5px;bottom:14179.8px;color:rgb(35,31,31);
}
#P396_107
{
left:32107px;bottom:14209.3px;color:rgb(35,31,31);
}
#P396_108
{
left:11978.1px;bottom:12481.3px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P396_109
{
left:0px;letter-spacing:-9.3px;margin-left:-554px;
}
#P396_110
{
left:0px;letter-spacing:-0.3px;margin-left:9.3px;
}
#P396_111
{
left:0px;letter-spacing:0px;margin-left:-13.6px;
}
#P396_112
{
left:0px;letter-spacing:0px;margin-left:-13.9px;
}
#P396_113
{
left:11586.1px;bottom:9601.32px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P396_114
{
left:0px;letter-spacing:0px;margin-left:-13.4px;
}
#P396_115
{
left:0px;letter-spacing:-1.7px;margin-left:-14px;
}
#P396_116
{
left:0px;letter-spacing:0px;margin-left:1.7px;
}
#P396_117
{
left:11586.1px;bottom:8449.32px;color:rgb(35,31,31);
}
#P396_118
{
left:12049.7px;bottom:8476.14px;color:rgb(35,31,31);
}
#P396_119
{
left:14212.2px;bottom:4391.08px;color:rgb(0,145,68);
}
#P396_120
{
left:16890.1px;bottom:7551.02px;color:rgb(235,26,35);
}
#P396_121
{
left:18023.5px;bottom:8449.32px;color:rgb(35,31,31);
}
#P396_122
{
left:19089.7px;bottom:8476.14px;color:rgb(35,31,31);
}
#P396_123
{
left:21746.1px;bottom:4304.88px;color:rgb(100,94,170);
}
#P396_124
{
left:24833.9px;bottom:7983.85px;color:rgb(235,26,35);
}
#P396_125
{
left:26347.2px;bottom:8449.32px;color:rgb(35,31,31);
}
#P396_126
{
left:26897.7px;bottom:8476.14px;color:rgb(35,31,31);
}
#P396_127
{
left:31157.5px;bottom:4170.8px;color:rgb(35,31,31);
}
#P396_128
{
left:28844.8px;bottom:7197.1px;color:rgb(35,31,31);
}
#P396_129
{
left:6143.26px;bottom:25308.3px;color:rgb(35,31,31);
}
#P396_130
{
left:8425.37px;bottom:28999.3px;color:rgb(237,28,35);
}
#P396_131
{
left:11397.3px;bottom:26867.4px;word-spacing:-54.1px;color:rgb(235,26,35);
}
#P396_132
{
left:0px;letter-spacing:0px;margin-left:-4.2px;
}
#P396_133
{
left:0px;letter-spacing:0px;margin-left:663.7px;
}
#P396_134
{
left:15227.7px;bottom:26428.8px;color:rgb(235,26,35);
}
#P396_135
{
left:15579.5px;bottom:26867.4px;color:rgb(235,26,35);
}
#P396_136
{
left:16269.4px;bottom:26837.8px;color:rgb(235,26,35);
}
#P396_137
{
left:16855.8px;bottom:26867.4px;color:rgb(235,26,35);
}
#P396_138
{
left:12439.8px;bottom:25523.4px;word-spacing:988.4px;color:rgb(0,124,196);
}
#P396_139
{
left:0px;letter-spacing:0px;margin-left:-13.9px;
}
#P396_140
{
left:14770.1px;bottom:25963.1px;color:rgb(0,124,196);
}
#P396_141
{
left:15105.9px;bottom:25541px;color:rgb(0,124,196);
}
#P396_142
{
left:14749px;bottom:25507.4px;color:rgb(0,124,196);
}
#P396_143
{
left:15127.1px;bottom:25524.6px;color:rgb(0,124,196);
}
#P396_144
{
left:14770.1px;bottom:25055.5px;color:rgb(0,124,196);
}
#P396_145
{
left:15105.9px;bottom:25541px;color:rgb(0,124,196);
}
#P396_146
{
left:15127.1px;bottom:25523.4px;letter-spacing:-158.4px;color:rgb(0,124,196);
}
#P396_147
{
left:15232.7px;bottom:25084.8px;color:rgb(0,124,196);
}
#P396_148
{
left:15584.4px;bottom:25523.4px;color:rgb(0,124,196);
}
#P396_149
{
left:16221.5px;bottom:25084.8px;color:rgb(0,124,196);
}
#P396_150
{
left:16573.3px;bottom:25523.4px;color:rgb(0,124,196);
}
#P396_151
{
left:17636.3px;bottom:25493.8px;color:rgb(0,124,196);
}
#P396_152
{
left:18222.7px;bottom:25523.4px;color:rgb(0,124,196);
}
#P396_153
{
left:12439.7px;bottom:23603.4px;word-spacing:988.4px;color:rgb(0,124,196);
}
#P396_154
{
left:0px;letter-spacing:0px;margin-left:-13.9px;
}
#P396_155
{
left:14770.1px;bottom:24043.1px;color:rgb(0,124,196);
}
#P396_156
{
left:15105.9px;bottom:23621px;color:rgb(0,124,196);
}
#P396_157
{
left:14749px;bottom:23587.4px;color:rgb(0,124,196);
}
#P396_158
{
left:15127.1px;bottom:23604.6px;color:rgb(0,124,196);
}
#P396_159
{
left:14770.1px;bottom:23135.5px;color:rgb(0,124,196);
}
#P396_160
{
left:15105.9px;bottom:23621px;color:rgb(0,124,196);
}
#P396_161
{
left:15127.1px;bottom:23603.4px;letter-spacing:-158.4px;color:rgb(0,124,196);
}
#P396_162
{
left:15232.7px;bottom:23164.8px;color:rgb(0,124,196);
}
#P396_163
{
left:15584.4px;bottom:23603.4px;color:rgb(0,124,196);
}
#P396_164
{
left:16221.5px;bottom:23164.8px;color:rgb(0,124,196);
}
#P396_165
{
left:16573.3px;bottom:23603.4px;color:rgb(0,124,196);
}
#P396_166
{
left:17636.3px;bottom:23573.8px;color:rgb(0,124,196);
}
#P396_167
{
left:18222.7px;bottom:23603.4px;color:rgb(0,124,196);
}
#P396_168
{
left:12439.7px;bottom:21683.4px;word-spacing:988.4px;color:rgb(0,124,196);
}
#P396_169
{
left:0px;letter-spacing:0px;margin-left:-13.9px;
}
#P396_170
{
left:14770.1px;bottom:22123.1px;color:rgb(0,124,196);
}
#P396_171
{
left:15105.9px;bottom:21701px;color:rgb(0,124,196);
}
#P396_172
{
left:14749px;bottom:21667.4px;color:rgb(0,124,196);
}
#P396_173
{
left:15127.1px;bottom:21684.6px;color:rgb(0,124,196);
}
#P396_174
{
left:14770.1px;bottom:21215.5px;color:rgb(0,124,196);
}
#P396_175
{
left:15105.9px;bottom:21701px;color:rgb(0,124,196);
}
#P396_176
{
left:15127.1px;bottom:21683.4px;letter-spacing:-158.4px;color:rgb(0,124,196);
}
#P396_177
{
left:15232.7px;bottom:21244.8px;color:rgb(0,124,196);
}
#P396_178
{
left:15584.4px;bottom:21683.4px;color:rgb(0,124,196);
}
#P396_179
{
left:16221.5px;bottom:21244.8px;color:rgb(0,124,196);
}
#P396_180
{
left:16573.3px;bottom:21683.4px;color:rgb(0,124,196);
}
#P396_181
{
left:17636.3px;bottom:21653.8px;color:rgb(0,124,196);
}
#P396_182
{
left:18222.7px;bottom:21683.4px;color:rgb(0,124,196);
}
#P396_183
{
left:12439.7px;bottom:19763.4px;word-spacing:988.4px;color:rgb(0,124,196);
}
#P396_184
{
left:0px;letter-spacing:0px;margin-left:-13.9px;
}
#P396_185
{
left:14770.1px;bottom:20203.1px;color:rgb(0,124,196);
}
#P396_186
{
left:15105.9px;bottom:19781px;color:rgb(0,124,196);
}
#P396_187
{
left:14749px;bottom:19747.4px;color:rgb(0,124,196);
}
#P396_188
{
left:15127.1px;bottom:19764.6px;color:rgb(0,124,196);
}
#P396_189
{
left:14770.1px;bottom:19295.5px;color:rgb(0,124,196);
}
#P396_190
{
left:15105.9px;bottom:19781px;color:rgb(0,124,196);
}
#P396_191
{
left:15127.1px;bottom:19763.4px;letter-spacing:-158.4px;color:rgb(0,124,196);
}
#P396_192
{
left:15232.7px;bottom:19324.8px;color:rgb(0,124,196);
}
#P396_193
{
left:15584.4px;bottom:19763.4px;color:rgb(0,124,196);
}
#P396_194
{
left:16221.5px;bottom:19324.8px;color:rgb(0,124,196);
}
#P396_195
{
left:16573.3px;bottom:19763.4px;color:rgb(0,124,196);
}
#P396_196
{
left:17636.3px;bottom:19733.8px;color:rgb(0,124,196);
}
#P396_197
{
left:18222.7px;bottom:19763.4px;color:rgb(0,124,196);
}
#P396_198
{
left:24370.2px;bottom:26189px;color:rgb(0,124,196);
}
#P396_199
{
left:30450.5px;bottom:21282px;color:rgb(0,124,196);
}
#P396_200
{
left:27468.8px;bottom:25487.1px;color:rgb(35,31,31);
}
#P396_201
{
left:31405.1px;bottom:24890.3px;color:rgb(237,28,35);
}
#P396_202
{
left:25421.1px;bottom:23734.3px;color:rgb(35,31,31);
}
#P396_203
{
left:26957px;bottom:23733.8px;color:rgb(237,28,35);
}
#PageContainer396
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg396.jpg");background-repeat:no-repeat;background-size: 965px 1242px; background-position: 0px 35.22px;
}
#ImageContainer396 {bottom:86.78px;left:0.00px;width:964.88px;height:1242.20px;position:absolute;} #TextContainer396 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.example1{   position: absolute;   top: 488px;   left: 97px;}
.nyr{position: absolute;top: 1088px;left: 126px;}
.nyr_exr{position: absolute;top: 1128px;left: 168px;color:rgb(35,31,31);font-size:16px;white-space:pre;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}