.tr254{ color:transparent;}
#P254_1
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P254_2
{
left:3540.44px;bottom:1544.43px;color:rgb(35,31,31);
}
#P254_3
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P254_4
{
left:9122.35px;bottom:1544.43px;letter-spacing:0.2px;word-spacing:462.1px;color:rgb(35,31,31);
}
#P254_5
{
left:0px;letter-spacing:0px;margin-left:-462.3px;
}
#P254_6
{
left:0px;letter-spacing:2.3px;
}
#P254_7
{
left:0px;letter-spacing:0px;margin-left:-464.4px;
}
#P254_8
{
left:0px;letter-spacing:3px;
}
#P254_9
{
left:7506.97px;bottom:36302.4px;color:rgb(33,31,31);
}
#P254_10
{
left:7827.23px;bottom:36302.4px;
}
#P254_11
{
left:7827.23px;bottom:36302.4px;letter-spacing:-320.3px;
}
#P254_12
{
left:8147.48px;bottom:36302.4px;color:rgb(33,31,31);
}
#P254_13
{
left:8307.61px;bottom:36302.4px;
}
#P254_14
{
left:0px;letter-spacing:0px;margin-left:-224.1px;
}
#P254_15
{
left:8307.61px;bottom:36302.4px;
}
#P254_16
{
left:8307.61px;bottom:36302.4px;color:rgb(33,31,31);
}
#P254_17
{
left:8531.67px;bottom:36302.4px;letter-spacing:-224.1px;
}
#P254_18
{
left:8073.7px;bottom:38977px;letter-spacing:-0.7px;
}
#P254_19
{
left:5560.28px;bottom:46049.6px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P254_20
{
left:12428.6px;bottom:46074.2px;color:white;
}
#P254_21
{
left:14812.4px;bottom:46266px;color:white;
}
#P254_22
{
left:15052.6px;bottom:46074.2px;word-spacing:-31.9px;color:white;
}
#P254_23
{
left:17820.9px;bottom:46266px;color:white;
}
#P254_24
{
left:18061.1px;bottom:46074.2px;color:white;
}
#P254_25
{
left:19244.8px;bottom:46266px;color:white;
}
#P254_26
{
left:19485px;bottom:46074.2px;color:white;
}
#P254_27
{
left:10584.2px;bottom:45907.1px;
}
#P254_28
{
left:10584.2px;bottom:45907.1px;color:white;
}
#P254_29
{
left:11655.6px;bottom:44444.8px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P254_30
{
left:0px;letter-spacing:-1.2px;margin-left:0.6px;
}
#P254_31
{
left:0px;letter-spacing:13.9px;margin-left:-40.9px;
}
#P254_32
{
left:0px;letter-spacing:-1px;margin-left:-13.9px;
}
#P254_33
{
left:11655.6px;bottom:43548.8px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P254_34
{
left:11655.6px;bottom:42396.8px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P254_35
{
left:13203.2px;bottom:40796.8px;word-spacing:1389.2px;color:rgb(235,26,35);
}
#P254_36
{
left:14539.4px;bottom:40796.8px;color:rgb(35,31,31);
}
#P254_37
{
left:16391.6px;bottom:40767.2px;color:rgb(35,31,31);
}
#P254_38
{
left:16977.9px;bottom:40796.8px;color:rgb(35,31,31);
}
#P254_39
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P254_40
{
left:17157.5px;bottom:41236.5px;color:rgb(235,26,35);
}
#P254_41
{
left:17493.3px;bottom:40814.4px;color:rgb(235,26,35);
}
#P254_42
{
left:17136.3px;bottom:40780.8px;color:rgb(235,26,35);
}
#P254_43
{
left:17514.4px;bottom:40798px;color:rgb(235,26,35);
}
#P254_44
{
left:17157.5px;bottom:40328.9px;color:rgb(235,26,35);
}
#P254_45
{
left:17493.3px;bottom:40814.4px;color:rgb(235,26,35);
}
#P254_46
{
left:17514.4px;bottom:40796.8px;color:rgb(235,26,35);
}
#P254_47
{
left:17514.4px;bottom:40796.8px;color:rgb(35,31,31);
}
#P254_48
{
left:17672.8px;bottom:40767.2px;color:rgb(35,31,31);
}
#P254_49
{
left:18259.2px;bottom:40796.8px;color:rgb(35,31,31);
}
#P254_50
{
left:21581.9px;bottom:41277.6px;color:rgb(35,31,31);
}
#P254_51
{
left:0px;letter-spacing:0px;margin-left:1244.2px;
}
#P254_52
{
left:0px;letter-spacing:0px;margin-left:1084px;
}
#P254_53
{
left:0px;letter-spacing:0px;margin-left:1084px;
}
#P254_54
{
left:0px;letter-spacing:0px;margin-left:1084px;
}
#P254_55
{
left:0px;letter-spacing:0px;margin-left:923.9px;
}
#P254_56
{
left:21621px;bottom:39459.2px;color:rgb(35,31,31);
}
#P254_57
{
left:23899.4px;bottom:39457.8px;color:rgb(35,31,31);
}
#P254_58
{
left:0px;letter-spacing:0px;margin-left:1975.9px;
}
#P254_59
{
left:0px;letter-spacing:0px;margin-left:1976px;
}
#P254_60
{
left:0px;letter-spacing:0px;margin-left:1816.1px;
}
#P254_61
{
left:0px;letter-spacing:0px;margin-left:1655.4px;
}
#P254_62
{
left:11655.6px;bottom:38428.8px;letter-spacing:4419.2px;color:rgb(35,31,31);
}
#P254_63
{
left:16391.6px;bottom:38399.2px;color:rgb(35,31,31);
}
#P254_64
{
left:16977.9px;bottom:38428.8px;color:rgb(35,31,31);
}
#P254_65
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P254_66
{
left:17157.5px;bottom:38868.5px;color:rgb(35,31,31);
}
#P254_67
{
left:17635.9px;bottom:38841.8px;color:rgb(35,31,31);
}
#P254_68
{
left:18163.5px;bottom:38868.5px;
}
#P254_69
{
left:18977.8px;bottom:38446.4px;color:rgb(35,31,31);
}
#P254_70
{
left:17136.3px;bottom:38412.8px;color:rgb(35,31,31);
}
#P254_71
{
left:18998.9px;bottom:38430px;color:rgb(35,31,31);
}
#P254_72
{
left:17899.7px;bottom:37960.9px;color:rgb(35,31,31);
}
#P254_73
{
left:18235.5px;bottom:38446.4px;color:rgb(35,31,31);
}
#P254_74
{
left:18998.9px;bottom:38428.8px;color:rgb(35,31,31);
}
#P254_75
{
left:11655.5px;bottom:36380.8px;letter-spacing:4419.2px;color:rgb(35,31,31);
}
#P254_76
{
left:16391.5px;bottom:36351.2px;color:rgb(35,31,31);
}
#P254_77
{
left:16977.9px;bottom:36380.8px;color:rgb(35,31,31);
}
#P254_78
{
left:21959.6px;bottom:36388.8px;letter-spacing:-8.3px;color:rgb(0,124,196);
}
#P254_79
{
left:0px;letter-spacing:0px;margin-left:8.3px;
}
#P254_80
{
left:11655.6px;bottom:35100.8px;letter-spacing:-9.3px;color:rgb(35,31,31);
}
#P254_81
{
left:0px;letter-spacing:-0.4px;margin-left:9.3px;
}
#P254_82
{
left:20680.2px;bottom:35100.8px;color:rgb(35,31,31);
}
#P254_83
{
left:21119.4px;bottom:35100.8px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P254_84
{
left:0px;letter-spacing:0px;margin-left:-13px;
}
#P254_85
{
left:11655.6px;bottom:33820.8px;color:rgb(235,26,35);
}
#P254_86
{
left:13361.9px;bottom:33820.8px;color:rgb(35,31,31);
}
#P254_87
{
left:13801.2px;bottom:33820.8px;color:rgb(35,31,31);
}
#P254_88
{
left:13959.6px;bottom:33791.2px;color:rgb(35,31,31);
}
#P254_89
{
left:14545.9px;bottom:33820.8px;color:rgb(35,31,31);
}
#P254_90
{
left:15609px;bottom:33791.2px;color:rgb(35,31,31);
}
#P254_91
{
left:16195.4px;bottom:33820.8px;color:rgb(35,31,31);
}
#P254_92
{
left:17258.5px;bottom:33791.2px;color:rgb(35,31,31);
}
#P254_93
{
left:17844.9px;bottom:33820.8px;color:rgb(35,31,31);
}
#P254_94
{
left: 12859.6px;bottom:32412.8px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P254_95
{
left:0px;letter-spacing:0px;
margin-left: 0;
}
#P254_96
{
left:0px;letter-spacing:-9.3px;margin-left:-8.4px;
}
#P254_97
{
left:0px;letter-spacing:-1.1px;margin-left:9.3px;
}
#P254_98
{
left:0px;letter-spacing:-0.7px;margin-left:1.1px;
}
#P254_99
{
left:11655.6px;bottom:29340.8px;color:rgb(35,31,31);
}
#P254_100
{
left:12119.1px;bottom:29367.6px;word-spacing:453.2px;color:rgb(35,31,31);
}
#P254_101
{
left:13319.6px;bottom:29340.8px;color:rgb(35,31,31);
}
#P254_102
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P254_103
{
left:0px;letter-spacing:0px;margin-left:-25.3px;
}
#P254_104
{
left:13319.6px;bottom:28444.8px;color:rgb(35,31,31);
}
#P254_105
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P254_106
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P254_107
{
left:18793.8px;bottom:39500.8px;color:rgb(235,26,35);
}
#P254_108
{
left:17398.1px;bottom:37479.5px;color:rgb(235,26,35);
}
#P254_109
{
left:11592.4px;bottom:24502.4px;letter-spacing:-31.6px;color:rgb(35,31,31);
}
#P254_110
{
left:0px;letter-spacing:-0.5px;margin-left:31.6px;
}
#P254_111
{
left:0px;letter-spacing:-63.3px;margin-left:-41.6px;
}
#P254_112
{
left:0px;letter-spacing:0px;margin-left:63.3px;
}
#P254_113
{
left:11592.4px;bottom:23606.4px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P254_114
{
left:0px;letter-spacing:-14px;margin-left:1.4px;
}
#P254_115
{
left:0px;letter-spacing:-1.7px;margin-left:14px;
}
#P254_116
{
left:0px;letter-spacing:0px;margin-left:-12.2px;
}
#P254_117
{
left:11592.4px;bottom:22710.4px;color:rgb(35,31,31);
}
#P254_118
{
left:10824.4px;bottom:21238.4px;color:rgb(35,31,31);
}
#P254_119
{
left:11528.4px;bottom:21281.8px;color:rgb(35,31,31);
}
#P254_120
{
left:11865.2px;bottom:21402.9px;color:rgb(35,31,31);
}
#P254_121
{
left:12511.3px;bottom:21238.4px;color:rgb(35,31,31);
}
#P254_122
{
left:0px;letter-spacing:0px;margin-left:460.9px;
}
#P254_123
{
left:17352.4px;bottom:21281.8px;color:rgb(35,31,31);
}
#P254_124
{
left:17689.2px;bottom:21402.9px;color:rgb(35,31,31);
}
#P254_125
{
left:18335.3px;bottom:21238.4px;color:rgb(35,31,31);
}
#P254_126
{
left:0px;letter-spacing:0px;margin-left:396.9px;
}
#P254_127
{
left:23112.4px;bottom:21281.8px;color:rgb(35,31,31);
}
#P254_128
{
left:23449.2px;bottom:21402.9px;color:rgb(35,31,31);
}
#P254_129
{
left:24095.3px;bottom:21238.4px;color:rgb(35,31,31);
}
#P254_130
{
left:0px;letter-spacing:0px;margin-left:407.8px;
}
#P254_131
{
left:29256.4px;bottom:21281.8px;color:rgb(35,31,31);
}
#P254_132
{
left:29593.2px;bottom:21402.9px;color:rgb(35,31,31);
}
#P254_133
{
left:30239.3px;bottom:21238.4px;color:rgb(35,31,31);
}
#P254_134
{
left:0px;letter-spacing:0px;margin-left:407.8px;
}
#P254_135
{
left:11592.4px;bottom:19894.4px;letter-spacing:-31.6px;color:rgb(35,31,31);
}
#P254_136
{
left:0px;letter-spacing:0px;margin-left:31.6px;
}
#P254_137
{
left:19722.8px;bottom:19894.4px;color:rgb(35,31,31);
}
#P254_138
{
left:21615.2px;bottom:19894.4px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P254_139
{
left:30807.9px;bottom:19894.4px;letter-spacing:1.4px;color:rgb(35,31,31);
}
#P254_140
{
left:32333.2px;bottom:19894.4px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P254_141
{
left:11592.3px;bottom:18998.4px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P254_142
{
left:0px;letter-spacing:-0.6px;margin-left:1.2px;
}
#P254_143
{
left:0px;letter-spacing:-1.2px;margin-left:0.6px;
}
#P254_144
{
left:12744.3px;bottom:17398.5px;word-spacing:993.6px;color:rgb(35,31,31);
}
#P254_145
{
left:14022.1px;bottom:17368.9px;color:rgb(35,31,31);
}
#P254_146
{
left:14608.5px;bottom:17398.5px;color:rgb(35,31,31);
}
#P254_147
{
left:16261.5px;bottom:17368.9px;color:rgb(35,31,31);
}
#P254_148
{
left:16847.9px;bottom:17398.5px;color:rgb(35,31,31);
}
#P254_149
{
left:18284.1px;bottom:17368.9px;color:rgb(35,31,31);
}
#P254_150
{
left:18870.5px;bottom:17398.5px;color:rgb(35,31,31);
}
#P254_151
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P254_152
{
left:19050.1px;bottom:17838.1px;color:rgb(35,31,31);
}
#P254_153
{
left:19385.9px;bottom:17416px;color:rgb(35,31,31);
}
#P254_154
{
left:19029px;bottom:17382.4px;color:rgb(35,31,31);
}
#P254_155
{
left:19407px;bottom:17399.6px;color:rgb(35,31,31);
}
#P254_156
{
left:19050.1px;bottom:16930.5px;color:rgb(35,31,31);
}
#P254_157
{
left:19385.9px;bottom:17416px;color:rgb(35,31,31);
}
#P254_158
{
left:21960.4px;bottom:17406.4px;color:rgb(0,124,196);
}
#P254_159
{
left:11592.4px;bottom:15030.4px;letter-spacing:993.6px;color:rgb(35,31,31);
}
#P254_160
{
left:0px;letter-spacing:0px;margin-left:2209.5px;
}
#P254_161
{
left:16264.4px;bottom:15000.8px;color:rgb(35,31,31);
}
#P254_162
{
left:16850.8px;bottom:15030.4px;color:rgb(35,31,31);
}
#P254_163
{
left:18234.2px;bottom:14591.8px;color:rgb(35,31,31);
}
#P254_164
{
left:18585.9px;bottom:15030.4px;color:rgb(35,31,31);
}
#P254_165
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P254_166
{
left:18923.9px;bottom:15470.1px;color:rgb(35,31,31);
}
#P254_167
{
left:19259.7px;bottom:15048px;color:rgb(35,31,31);
}
#P254_168
{
left:18902.7px;bottom:15014.4px;color:rgb(35,31,31);
}
#P254_169
{
left:19280.8px;bottom:15031.6px;color:rgb(35,31,31);
}
#P254_170
{
left:18923.9px;bottom:14562.5px;color:rgb(35,31,31);
}
#P254_171
{
left:19259.7px;bottom:15048px;color:rgb(35,31,31);
}
#P254_172
{
left:19280.8px;bottom:15030.4px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P254_173
{
left:21960.4px;bottom:15038.4px;color:rgb(0,124,196);
}
#P254_174
{
left:11592.4px;bottom:12982.4px;letter-spacing:993.6px;color:rgb(35,31,31);
}
#P254_175
{
left:0px;letter-spacing:0px;margin-left:2209.5px;
}
#P254_176
{
left:16264.4px;bottom:12952.8px;color:rgb(35,31,31);
}
#P254_177
{
left:16850.8px;bottom:12982.4px;color:rgb(35,31,31);
}
#P254_178
{
left:21960.4px;bottom:12990.4px;color:rgb(0,124,196);
}
#P254_179
{
left:0px;letter-spacing:0px;margin-left:-49.7px;
}
#P254_180
{
left:11592.4px;bottom:11382.4px;letter-spacing:-31.6px;color:rgb(35,31,31);
}
#P254_181
{
left:0px;letter-spacing:-0.2px;margin-left:31.6px;
}
#P254_182
{
left:0px;letter-spacing:0px;margin-left:-27.8px;
}
#P254_183
{
left:0px;letter-spacing:-2.6px;margin-left:-4.1px;
}
#P254_184
{
left:11592.4px;bottom:10486.4px;color:rgb(35,31,31);
}
#P254_185
{
left:17291.2px;bottom:10456.8px;color:rgb(35,31,31);
}
#P254_186
{
left:17877.6px;bottom:10486.4px;color:rgb(35,31,31);
}
#P254_187
{
left:19313.8px;bottom:10456.8px;color:rgb(35,31,31);
}
#P254_188
{
left:19900.2px;bottom:10486.4px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P254_189
{
left:0px;letter-spacing:0px;margin-left:-13.4px;
}
#P254_190
{
left: 12846.4px;bottom:8886.38px;letter-spacing:520.3px;color:rgb(35,31,31);
}
#P254_191
{
left:0px;letter-spacing:0px;
margin-left: 0;
}
#P254_192
{
left:0px;letter-spacing:-1.2px;
}
#P254_193
{
left:0px;letter-spacing:0px;margin-left:1.2px;
}
#P254_194
{
left:19752.3px;bottom:8929.76px;color:rgb(35,31,31);
}
#P254_195
{
left:20089.2px;bottom:9050.89px;color:rgb(35,31,31);
}
#P254_196
{
left:20735.3px;bottom:8886.38px;color:rgb(35,31,31);
}
#P254_197
{
left:11592.4px;bottom:5814.38px;color:rgb(35,31,31);
}
#P254_198
{
left:12056px;bottom:5841.2px;word-spacing:453.2px;color:rgb(35,31,31);
}
#P254_199
{
left:13256.4px;bottom:5834.09px;letter-spacing:-12.9px;color:rgb(2,77,161);
}
#P254_200
{
left:0px;letter-spacing:0px;margin-left:12.9px;
}
#P254_201
{
left:16477.2px;bottom:5814.38px;letter-spacing:-31.6px;color:rgb(35,31,31);
}
#P254_202
{
left:0px;letter-spacing:-0.1px;margin-left:31.6px;
}
#P254_203
{
left:13256.4px;bottom:4918.38px;letter-spacing:-10.5px;color:rgb(35,31,31);
}
#P254_204
{
left:0px;letter-spacing:-1.6px;margin-left:10.5px;
}
#P254_205
{
left:0px;letter-spacing:-0.2px;margin-left:-12.3px;
}
#P254_206
{
left:0px;letter-spacing:0px;margin-left:0.2px;
}
#P254_207
{
left:13256.4px;bottom:4022.44px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P254_208
{
left:5497.11px;bottom:26107.2px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P254_209
{
left:12365.4px;bottom:26131.8px;color:white;
}
#P254_210
{
left:14749.2px;bottom:26323.6px;color:white;
}
#P254_211
{
left:14989.4px;bottom:26131.8px;word-spacing:-31.9px;color:white;
}
#P254_212
{
left:17757.7px;bottom:26323.6px;color:white;
}
#P254_213
{
left:17997.9px;bottom:26131.8px;color:white;
}
#P254_214
{
left:19181.6px;bottom:26323.6px;color:white;
}
#P254_215
{
left:19421.8px;bottom:26131.8px;color:white;
}
#P254_216
{
left:10521px;bottom:25964.7px;
}
#P254_217
{
left:10521px;bottom:25964.7px;color:white;
}
#PageContainer254
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg254.jpg");background-repeat:no-repeat;background-size: 884px 1202px; background-position: 64.32px 74.6400000000001px;
}
#ImageContainer254 {bottom:87.36px;left:64.32px;width:884.00px;height:1201.69px;position:absolute;} #TextContainer254 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.example5{position: absolute;top: 82px;left: 107px;}
.example6{position: absolute;top: 625px;left: 105px;}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}