.tr571{ color:transparent;}
#P571_1
{
left:4592.6px;bottom:1417.71px;color:rgb(35,31,31);
}
#P571_2
{
left:29714px;bottom:1417.71px;letter-spacing:1.1px;word-spacing:462.2px;color:rgb(35,31,31);
}
#P571_3
{
left:0px;letter-spacing:0px;margin-left:-463.3px;
}
#P571_4
{
left:0px;letter-spacing:-0.1px;margin-left:-0.1px;
}
#P571_5
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P571_6
{
left:6651.35px;bottom:46893.1px;color:white;
}
#P571_7
{
left:13996.3px;bottom:47191.5px;color:white;
}
#P571_8
{
left:14369.9px;bottom:46893.1px;color:white;
}
#P571_9
{
left:0px;bottom:0px;letter-spacing:-220px;color:white;
}
#P571_10
{
left:6973.4px;bottom:43555.5px;letter-spacing:-4.4px;color:rgb(0,124,196);
}
#P571_11
{
left:0px;letter-spacing:0px;margin-left:4.4px;
}
#P571_12
{
left:10045.4px;bottom:42258.5px;color:rgb(35,31,31);
}
#P571_13
{
left:0px;letter-spacing:0px;margin-left:-61.7px;
}
#P571_14
{
left:14949.7px;bottom:42258.5px;color:rgb(35,31,31);
}
#P571_15
{
left:10045.4px;bottom:41362.5px;color:rgb(35,31,31);
}
#P571_16
{
left:16130.3px;bottom:41362.5px;color:rgb(35,31,31);
}
#P571_17
{
left:23869.5px;bottom:42258.5px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P571_18
{
left:29345.6px;bottom:42258.5px;color:rgb(35,31,31);
}
#P571_19
{
left:29449.8px;bottom:45131.3px;letter-spacing:-22.4px;word-spacing:0.2px;color:rgb(33,31,31);
}
#P571_20
{
left:0px;letter-spacing:0px;margin-left:22.4px;
}
#P571_21
{
left:6973.4px;bottom:38647.7px;letter-spacing:-0.6px;color:rgb(0,124,196);
}
#P571_22
{
left:8489.18px;bottom:36615.7px;letter-spacing:9.6px;
}
#P571_23
{
left:8489.18px;bottom:36615.7px;letter-spacing:9.6px;color:white;
}
#P571_24
{
left:11010.8px;bottom:36651.4px;color:rgb(2,77,161);
}
#P571_25
{
left:12323.2px;bottom:36843.2px;color:rgb(2,77,161);
}
#P571_26
{
left:12563.4px;bottom:36651.4px;letter-spacing:-0.7px;color:rgb(2,77,161);
}
#P571_27
{
left:18765.3px;bottom:36708.8px;color:rgb(2,77,161);
}
#P571_28
{
left:0px;letter-spacing:0px;margin-left:38.4px;
}
#P571_29
{
left:9869.4px;bottom:35066.2px;word-spacing:452.1px;color:rgb(35,31,31);
}
#P571_30
{
left:0px;letter-spacing:0px;margin-left:571.9px;
}
#P571_31
{
left:0px;letter-spacing:0px;margin-left:-35px;
}
#P571_32
{
left:0px;letter-spacing:0px;margin-left:5.4px;
}
#P571_33
{
left:0px;letter-spacing:0px;margin-left:-452.1px;
}
#P571_34
{
left:13457.9px;bottom:35505.9px;color:rgb(35,31,31);
}
#P571_35
{
left:13812.8px;bottom:35083.8px;color:rgb(35,31,31);
}
#P571_36
{
left:13436.8px;bottom:35050.2px;color:rgb(35,31,31);
}
#P571_37
{
left:13833.9px;bottom:35067.5px;color:rgb(35,31,31);
}
#P571_38
{
left:13457.9px;bottom:34598.3px;color:rgb(35,31,31);
}
#P571_39
{
left:13812.8px;bottom:35083.8px;color:rgb(35,31,31);
}
#P571_40
{
left:13833.9px;bottom:35066.2px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P571_41
{
left:0px;letter-spacing:0px;margin-left:147.8px;
}
#P571_42
{
left: 10991.4px;bottom:33210.2px;color:rgb(35,31,31);
}
#P571_43
{
left:0px;letter-spacing:0px;margin-left:801.6px;
}
#P571_44
{
left:0px;letter-spacing:0px;margin-left:-21px;
}
#P571_45
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P571_46
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P571_47
{
left:15192.7px;bottom:33649.9px;color:rgb(35,31,31);
}
#P571_48
{
left:15528.5px;bottom:33227.8px;color:rgb(35,31,31);
}
#P571_49
{
left:15171.6px;bottom:33194.2px;color:rgb(35,31,31);
}
#P571_50
{
left:15549.7px;bottom:33211.5px;color:rgb(35,31,31);
}
#P571_51
{
left:15192.7px;bottom:32742.3px;color:rgb(35,31,31);
}
#P571_52
{
left:15528.5px;bottom:33227.8px;color:rgb(35,31,31);
}
#P571_53
{
left:15549.7px;bottom:33210.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P571_54
{
left:15708.1px;bottom:33180.7px;color:rgb(35,31,31);
}
#P571_55
{
left:16294.5px;bottom:33210.2px;color:rgb(35,31,31);
}
#P571_56
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P571_57
{
left:16474px;bottom:33649.9px;color:rgb(35,31,31);
}
#P571_58
{
left:17145.6px;bottom:33227.8px;color:rgb(35,31,31);
}
#P571_59
{
left:16452.9px;bottom:33194.2px;color:rgb(35,31,31);
}
#P571_60
{
left:17166.7px;bottom:33211.5px;color:rgb(35,31,31);
}
#P571_61
{
left:16641.9px;bottom:32742.3px;color:rgb(35,31,31);
}
#P571_62
{
left:16977.7px;bottom:33227.8px;color:rgb(35,31,31);
}
#P571_63
{
left:17166.7px;bottom:33210.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P571_64
{
left:10061.4px;bottom:24634.2px;color:rgb(35,31,31);
}
#P571_65
{
left:12501.4px;bottom:24634.2px;word-spacing:545.6px;color:rgb(35,31,31);
}
#P571_66
{
left:0px;letter-spacing:0px;margin-left:-8.4px;
}
#P571_67
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P571_68
{
left:0px;letter-spacing:0px;margin-left:-545.6px;
}
#P571_69
{
left:14079.3px;bottom:25073.9px;color:rgb(35,31,31);
}
#P571_70
{
left:14415.1px;bottom:24651.8px;color:rgb(35,31,31);
}
#P571_71
{
left:14058.1px;bottom:24618.2px;color:rgb(35,31,31);
}
#P571_72
{
left:14436.2px;bottom:24635.5px;color:rgb(35,31,31);
}
#P571_73
{
left:14079.3px;bottom:24166.3px;color:rgb(35,31,31);
}
#P571_74
{
left:14415.1px;bottom:24651.8px;color:rgb(35,31,31);
}
#P571_75
{
left:14436.2px;bottom:24634.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P571_76
{
left:14594.6px;bottom:24604.7px;color:rgb(35,31,31);
}
#P571_77
{
left:15181px;bottom:24634.2px;color:rgb(35,31,31);
}
#P571_78
{
left:9869.4px;bottom:22202.2px;letter-spacing:-11.6px;word-spacing:416px;color:rgb(35,31,31);
}
#P571_79
{
left:0px;letter-spacing:5.4px;margin-left:-23.4px;
}
#P571_80
{
left:0px;letter-spacing:0px;margin-left:-5.4px;
}
#P571_81
{
left:12954.6px;bottom:22172.7px;color:rgb(35,31,31);
}
#P571_82
{
left:13541px;bottom:22202.2px;letter-spacing:0.2px;color:rgb(35,31,31);
}
#P571_83
{
left:10061.5px;bottom:19292.8px;letter-spacing:2317.3px;color:rgb(35,31,31);
}
#P571_84
{
left:13141.3px;bottom:19322.3px;color:rgb(35,31,31);
}
#P571_85
{
left:13700.8px;bottom:19322.2px;color:rgb(235,26,35);
}
#P571_86
{
left:14447.1px;bottom:19322.2px;color:rgb(35,31,31);
}
#P571_87
{
left:14605.4px;bottom:19292.7px;color:rgb(35,31,31);
}
#P571_88
{
left:15191.8px;bottom:19322.2px;color:rgb(35,31,31);
}
#P571_89
{
left:15350.2px;bottom:19292.7px;color:rgb(35,31,31);
}
#P571_90
{
left:15781.8px;bottom:19322.2px;color:rgb(35,31,31);
}
#P571_91
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P571_92
{
left:16129.2px;bottom:19761.9px;color:rgb(235,26,35);
}
#P571_93
{
left:16800.9px;bottom:19339.8px;color:rgb(235,26,35);
}
#P571_94
{
left:15940.2px;bottom:19306.2px;color:rgb(35,31,31);
}
#P571_95
{
left:16989.8px;bottom:19323.5px;color:rgb(35,31,31);
}
#P571_96
{
left:15961.3px;bottom:18854.3px;color:rgb(35,31,31);
}
#P571_97
{
left:16968.7px;bottom:19339.8px;color:rgb(35,31,31);
}
#P571_98
{
left:16989.8px;bottom:19322.2px;color:rgb(35,31,31);
}
#P571_99
{
left:10061.4px;bottom:15395.8px;letter-spacing:4227.2px;color:rgb(35,31,31);
}
#P571_100
{
left:14605.4px;bottom:15366.3px;color:rgb(35,31,31);
}
#P571_101
{
left:15191.8px;bottom:15395.8px;color:rgb(35,31,31);
}
#P571_102
{
left:15350.2px;bottom:15366.3px;color:rgb(35,31,31);
}
#P571_103
{
left:15781.8px;bottom:15395.8px;color:rgb(35,31,31);
}
#P571_104
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P571_105
{
left:16129.2px;bottom:15835.5px;color:rgb(35,31,31);
}
#P571_106
{
left:16465px;bottom:15413.4px;color:rgb(35,31,31);
}
#P571_107
{
left:15940.2px;bottom:15379.8px;color:rgb(35,31,31);
}
#P571_108
{
left:16654px;bottom:15397.1px;color:rgb(35,31,31);
}
#P571_109
{
left:15961.3px;bottom:14927.9px;color:rgb(35,31,31);
}
#P571_110
{
left:16632.9px;bottom:15413.4px;color:rgb(35,31,31);
}
#P571_111
{
left:16654px;bottom:15395.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P571_112
{
left:21133.4px;bottom:15403.8px;color:rgb(0,124,196);
}
#P571_113
{
left:0px;letter-spacing:0px;margin-left:-49.7px;
}
#P571_114
{
left:10034.7px;bottom:10956.8px;letter-spacing:-14.8px;color:rgb(35,31,31);
}
#P571_115
{
left:0px;letter-spacing:0px;margin-left:14.8px;
}
#P571_116
{
left:10034.7px;bottom:9484.84px;color:rgb(35,31,31);
}
#P571_117
{
left:10603.3px;bottom:9504.56px;color:rgb(35,31,31);
}
#P571_118
{
left:11634.7px;bottom:9455.28px;color:rgb(35,31,31);
}
#P571_119
{
left:12066.3px;bottom:9484.84px;color:rgb(35,31,31);
}
#P571_120
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P571_121
{
left:12413.7px;bottom:9924.52px;color:rgb(35,31,31);
}
#P571_122
{
left:12749.5px;bottom:9502.44px;color:rgb(35,31,31);
}
#P571_123
{
left:12224.7px;bottom:9468.83px;color:rgb(35,31,31);
}
#P571_124
{
left:12938.5px;bottom:9486.11px;color:rgb(35,31,31);
}
#P571_125
{
left:12245.8px;bottom:9016.94px;color:rgb(35,31,31);
}
#P571_126
{
left:12917.4px;bottom:9502.44px;color:rgb(35,31,31);
}
#P571_127
{
left:12938.5px;bottom:9484.84px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P571_128
{
left:17035.3px;bottom:9504.56px;word-spacing:184.6px;color:rgb(35,31,31);
}
#P571_129
{
left:18002.8px;bottom:9504.56px;color:rgb(35,31,31);
}
#P571_130
{
left:18023.8px;bottom:9926.64px;color:rgb(35,31,31);
}
#P571_131
{
left:18359.6px;bottom:9502.44px;color:rgb(35,31,31);
}
#P571_132
{
left:18002.7px;bottom:9470.94px;color:rgb(35,31,31);
}
#P571_133
{
left:18380.8px;bottom:9486.11px;color:rgb(35,31,31);
}
#P571_134
{
left:18023.8px;bottom:9019.05px;color:rgb(35,31,31);
}
#P571_135
{
left:18359.6px;bottom:9502.44px;color:rgb(35,31,31);
}
#P571_136
{
left:18380.8px;bottom:9504.56px;color:rgb(35,31,31);
}
#P571_137
{
left:23467.3px;bottom:9504.56px;word-spacing:4890.8px;color:rgb(35,31,31);
}
#P571_138
{
left:24498.7px;bottom:9455.28px;color:rgb(35,31,31);
}
#P571_139
{
left:24930.3px;bottom:9484.84px;color:rgb(35,31,31);
}
#P571_140
{
left:25088.7px;bottom:9504.56px;letter-spacing:-195.7px;color:rgb(35,31,31);
}
#P571_141
{
left:25109.8px;bottom:9924.52px;color:rgb(35,31,31);
}
#P571_142
{
left:25781.4px;bottom:9502.44px;color:rgb(35,31,31);
}
#P571_143
{
left:25088.7px;bottom:9468.83px;color:rgb(35,31,31);
}
#P571_144
{
left:25802.5px;bottom:9486.11px;color:rgb(35,31,31);
}
#P571_145
{
left:25277.7px;bottom:9016.94px;color:rgb(35,31,31);
}
#P571_146
{
left:25613.5px;bottom:9502.44px;color:rgb(35,31,31);
}
#P571_147
{
left:25802.5px;bottom:9504.56px;color:rgb(35,31,31);
}
#P571_148
{
left:30251.3px;bottom:9504.56px;word-spacing:4253.1px;color:rgb(35,31,31);
}
#P571_149
{
left:31218.7px;bottom:9484.84px;color:rgb(35,31,31);
}
#P571_150
{
left:31680px;bottom:9504.56px;letter-spacing:-195.7px;color:rgb(35,31,31);
}
#P571_151
{
left:31868.9px;bottom:9924.52px;color:rgb(35,31,31);
}
#P571_152
{
left:32204.7px;bottom:9502.44px;color:rgb(35,31,31);
}
#P571_153
{
left:31679.8px;bottom:9468.83px;color:rgb(35,31,31);
}
#P571_154
{
left:32393.7px;bottom:9486.11px;color:rgb(35,31,31);
}
#P571_155
{
left:31701px;bottom:9016.94px;color:rgb(35,31,31);
}
#P571_156
{
left:32372.6px;bottom:9502.44px;color:rgb(35,31,31);
}
#P571_157
{
left:32393.7px;bottom:9504.56px;color:rgb(35,31,31);
}
#P571_158
{
left:10034.7px;bottom:7436.84px;letter-spacing:-14.8px;color:rgb(35,31,31);
}
#P571_159
{
left:0px;letter-spacing:0px;margin-left:14.8px;
}
#P571_160
{
left:10034.7px;bottom:6284.84px;color:rgb(35,31,31);
}
#P571_161
{
left:10603.3px;bottom:6304.56px;color:rgb(35,31,31);
}
#P571_162
{
left:11190.4px;bottom:6284.84px;color:rgb(35,31,31);
}
#P571_163
{
left:11634.7px;bottom:6255.28px;color:rgb(35,31,31);
}
#P571_164
{
left:12066.3px;bottom:6284.84px;color:rgb(35,31,31);
}
#P571_165
{
left:17035.3px;bottom:6304.56px;color:rgb(35,31,31);
}
#P571_166
{
left:17622.4px;bottom:6284.84px;color:rgb(35,31,31);
}
#P571_167
{
left:18002.7px;bottom:6255.28px;color:rgb(35,31,31);
}
#P571_168
{
left:18434.3px;bottom:6284.84px;color:rgb(35,31,31);
}
#P571_169
{
left:23467.4px;bottom:6304.56px;color:rgb(35,31,31);
}
#P571_170
{
left:24054.6px;bottom:6284.84px;color:rgb(35,31,31);
}
#P571_171
{
left:24498.8px;bottom:6255.28px;color:rgb(35,31,31);
}
#P571_172
{
left:24930.4px;bottom:6284.84px;color:rgb(35,31,31);
}
#P571_173
{
left:30251.4px;bottom:6304.56px;color:rgb(35,31,31);
}
#P571_174
{
left:31218.9px;bottom:6284.84px;word-spacing:221.9px;color:rgb(35,31,31);
}
#P571_175
{
left:21715.6px;bottom:20617.9px;color:rgb(0,124,196);
}
#P571_176
{
left:21715.6px;bottom:19721.9px;color:rgb(0,124,196);
}
#P571_177
{
left:0px;letter-spacing:0px;margin-left:-61px;
}
#P571_178
{
left:21715.6px;bottom:18057.9px;letter-spacing:-12.4px;color:rgb(0,124,196);
}
#P571_179
{
left:0px;letter-spacing:0px;margin-left:12.4px;
}
#P571_180
{
left:21715.6px;bottom:17161.9px;color:rgb(0,124,196);
}
#P571_181
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P571_182
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P571_183
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P571_184
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P571_185
{
left:0px;letter-spacing:0px;margin-left:-61.1px;
}
#P571_186
{
left:22666.2px;bottom:31557.5px;word-spacing:3150.4px;color:rgb(35,31,31);
}
#P571_187
{
left:21661.4px;bottom:30661.5px;word-spacing:2145.6px;color:rgb(35,31,31);
}
#P571_188
{
left:22122.5px;bottom:30766.4px;color:rgb(35,31,31);
}
#P571_189
{
left:22181.3px;bottom:30904.3px;color:rgb(35,31,31);
}
#P571_190
{
left:23645.6px;bottom:30714.2px;color:rgb(35,31,31);
}
#P571_191
{
left:22290.4px;bottom:30661.5px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P571_192
{
left:19357.4px;bottom:29765.5px;letter-spacing:1857.6px;color:rgb(35,31,31);
}
#P571_193
{
left:21531.7px;bottom:29736px;color:rgb(35,31,31);
}
#P571_194
{
left:22294.1px;bottom:29765.5px;color:rgb(35,31,31);
}
#P571_195
{
left:22666.2px;bottom:28869.7px;word-spacing:3150.4px;color:rgb(35,31,31);
}
#P571_196
{
left:0px;letter-spacing:0px;margin-left:-3150.4px;
}
#P571_197
{
left:19357.4px;bottom:27973.7px;letter-spacing:2241.6px;color:rgb(35,31,31);
}
#P571_198
{
left:21915.7px;bottom:27944.2px;color:rgb(35,31,31);
}
#P571_199
{
left:22502.2px;bottom:27973.7px;color:rgb(35,31,31);
}
#P571_200
{
left:19357.4px;bottom:27077.7px;letter-spacing:3521.6px;color:rgb(35,31,31);
}
#P571_201
{
left:23195.7px;bottom:27077.5px;color:rgb(235,26,35);
}
#P571_202
{
left:19357.4px;bottom:28869.5px;color:rgb(33,29,24);
}
#P571_203
{
left:12263.1px;bottom:28156.8px;color:rgb(0,124,196);
}
#P571_204
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P571_205
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P571_206
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P571_207
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P571_208
{
left:12263.1px;bottom:27260.8px;color:rgb(0,124,196);
}
#P571_209
{
left:19357.4px;bottom:31557.5px;color:rgb(33,31,26);
}
#P571_210
{
left:19357.4px;bottom:30661.5px;color:rgb(33,29,26);
}
#P571_211
{
left:14739.9px;bottom:30979.2px;color:rgb(0,124,196);
}
#P571_212
{
left:4097.75px;bottom:46399px;
}
#PageContainer571
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg571.jpg");background-repeat:no-repeat;background-size: 1032px 1270px; background-position: 1.67px 0.119999999999891px;
}
#ImageContainer571 {bottom:93.88px;left:1.67px;width:1031.96px;height:1270.28px;position:absolute;} #TextContainer571 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.spanish_review{position: absolute;top: 41px;left: 39px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}