.tr340{ color:transparent;}
#P340_1
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P340_2
{
left:3540.44px;bottom:1410.03px;color:rgb(35,31,31);
}
#P340_3
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P340_4
{
left:9120.14px;bottom:1410.03px;letter-spacing:0.2px;word-spacing:461px;color:rgb(35,31,31);
}
#P340_5
{
left:0px;letter-spacing:0px;margin-left:-461.2px;
}
#P340_6
{
left:0px;letter-spacing:2.9px;margin-left:1.1px;
}
#P340_7
{
left:0px;letter-spacing:0px;margin-left:-463.9px;
}
#P340_8
{
left:0px;letter-spacing:1.3px;margin-left:1.1px;
}
#P340_9
{
left:6977.56px;bottom:46940.1px;color:white;
}
#P340_10
{
left:8645.47px;bottom:47238.4px;color:white;
}
#P340_11
{
left:9019.1px;bottom:46940.1px;color:white;
}
#P340_12
{
left:9541.91px;bottom:47238.4px;color:white;
}
#P340_13
{
left:9915.55px;bottom:46940.1px;color:white;
}
#P340_14
{
left:15244.5px;bottom:47238.4px;color:white;
}
#P340_15
{
left:15618.1px;bottom:46940.1px;color:white;
}
#P340_16
{
left:18058.8px;bottom:47238.4px;color:white;
}
#P340_17
{
left:18432.5px;bottom:46940.1px;color:white;
}
#P340_18
{
left:6977.56px;bottom:45327.3px;letter-spacing:-37px;word-spacing:-49.6px;color:white;
}
#P340_19
{
left:0px;letter-spacing:-37px;margin-left:299.8px;
}
#P340_20
{
left:0px;letter-spacing:0px;margin-left:37px;
}
#P340_21
{
left:11708.6px;bottom:45625.6px;color:white;
}
#P340_22
{
left:12082.2px;bottom:45327.3px;color:white;
}
#P340_23
{
left:3460.31px;bottom:46161.9px;color:white;
}
#P340_24
{
left:18852.5px;bottom:41182.6px;letter-spacing:213.3px;color:rgb(35,31,31);
}
#P340_25
{
left:0px;letter-spacing:0px;margin-left:-213.3px;
}
#P340_26
{
left:7741.27px;bottom:40094.2px;color:rgb(35,31,31);
}
#P340_27
{
left:9276.7px;bottom:36092.7px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P340_28
{
left:0px;letter-spacing:0.4px;margin-left:14.1px;
}
#P340_29
{
left:0px;letter-spacing:-44.6px;margin-left:-42.6px;
}
#P340_30
{
left:0px;letter-spacing:0.3px;margin-left:44.6px;
}
#P340_31
{
left:9276.7px;bottom:35196.5px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P340_32
{
left:0px;letter-spacing:0px;margin-left:-13.8px;
}
#P340_33
{
left:9276.7px;bottom:33916.6px;color:rgb(35,31,31);
}
#P340_34
{
left:9404.83px;bottom:33916.6px;letter-spacing:-14.1px;color:rgb(35,31,31);
}
#P340_35
{
left:10620.6px;bottom:33916.6px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P340_36
{
left:12722.9px;bottom:32015.6px;color:rgb(35,31,31);
}
#P340_37
{
left:12411.1px;bottom:31183.7px;letter-spacing:-2.4px;color:rgb(35,31,31);
}
#P340_38
{
left:15966.6px;bottom:32015.6px;letter-spacing:1px;color:rgb(35,31,31);
}
#P340_39
{
left:16981.3px;bottom:31183.7px;color:rgb(35,31,31);
}
#P340_40
{
left:13477.5px;bottom:29824.9px;color:rgb(35,31,31);
}
#P340_41
{
left:13477.5px;bottom:28417px;color:rgb(35,31,31);
}
#P340_42
{
left:13477.5px;bottom:27009.2px;color:rgb(35,31,31);
}
#P340_43
{
left:13477.5px;bottom:25601.3px;color:rgb(35,31,31);
}
#P340_44
{
left:13477.5px;bottom:24193.5px;color:rgb(35,31,31);
}
#P340_45
{
left:9277.08px;bottom:21924.8px;color:rgb(35,31,31);
}
#P340_46
{
left:9405.21px;bottom:21924.8px;letter-spacing:-13.9px;word-spacing:486.9px;color:rgb(35,31,31);
}
#P340_47
{
left:10621px;bottom:21924.8px;letter-spacing:-9.4px;color:rgb(35,31,31);
}
#P340_48
{
left:0px;letter-spacing:-0.3px;margin-left:9.4px;
}
#P340_49
{
left:10621px;bottom:21028.6px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P340_50
{
left:0px;letter-spacing:0px;margin-left:-25px;
}
#P340_51
{
left:0px;letter-spacing:-0.6px;
}
#P340_52
{
left:10621px;bottom:20132.4px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P340_53
{
left:0px;letter-spacing:0px;margin-left:-55.1px;
}
#P340_54
{
left:10621.1px;bottom:18998.3px;color:rgb(35,31,31);
}
#P340_55
{
left:10975.4px;bottom:18852.8px;letter-spacing:447px;color:rgb(35,31,31);
}
#P340_56
{
left:0px;letter-spacing:0px;margin-left:-605.4px;
}
#P340_57
{
left:0px;letter-spacing:0.1px;
}
#P340_58
{
left:11580.9px;bottom:17956.6px;letter-spacing:-5.6px;color:rgb(35,31,31);
}
#P340_59
{
left:0px;letter-spacing:0px;margin-left:5.6px;
}
#P340_60
{
left:0px;letter-spacing:0px;margin-left:-42.2px;
}
#P340_61
{
left:0px;letter-spacing:0.1px;
}
#P340_62
{
left:11580.9px;bottom:17060.4px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P340_63
{
left:10621.1px;bottom:15926.3px;word-spacing:481.1px;color:rgb(35,31,31);
}
#P340_64
{
left:11581.1px;bottom:15780.8px;letter-spacing:0.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P340_65
{
left:11581.1px;bottom:14884.6px;letter-spacing:-5.6px;color:rgb(35,31,31);
}
#P340_66
{
left:0px;letter-spacing:0px;margin-left:5.6px;
}
#P340_67
{
left:0px;letter-spacing:0px;margin-left:-42.2px;
}
#P340_68
{
left:0px;letter-spacing:0.1px;
}
#P340_69
{
left:11581.1px;bottom:13988.4px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P340_70
{
left:10621.1px;bottom:12854.3px;color:rgb(35,31,31);
}
#P340_71
{
left:10975.4px;bottom:12708.8px;letter-spacing:447px;color:rgb(35,31,31);
}
#P340_72
{
left:0px;letter-spacing:0px;margin-left:-605.4px;
}
#P340_73
{
left:0px;letter-spacing:-10.6px;margin-left:-21.1px;
}
#P340_74
{
left:0px;letter-spacing:-1.6px;margin-left:10.6px;
}
#P340_75
{
left:0px;letter-spacing:-3.5px;margin-left:-12.5px;
}
#P340_76
{
left:0px;letter-spacing:0px;margin-left:3.5px;
}
#P340_77
{
left:11580.9px;bottom:11812.6px;letter-spacing:-1.9px;color:rgb(35,31,31);
}
#P340_78
{
left:0px;letter-spacing:-0.2px;margin-left:1.9px;
}
#P340_79
{
left:11580.9px;bottom:10916.4px;color:rgb(35,31,31);
}
#P340_80
{
left:10621.1px;bottom:9782.32px;color:rgb(35,31,31);
}
#P340_81
{
left:11580.9px;bottom:9636.78px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P340_82
{
left:0px;letter-spacing:-7.1px;margin-left:-21.2px;
}
#P340_83
{
left:0px;letter-spacing:-1.1px;margin-left:7px;
}
#P340_84
{
left:0px;letter-spacing:-0.6px;margin-left:1.1px;
}
#P340_85
{
left:0px;letter-spacing:-0.6px;margin-left:0.5px;
}
#P340_86
{
left:11580.9px;bottom:8740.59px;letter-spacing:-1.1px;color:rgb(35,31,31);
}
#P340_87
{
left:0px;letter-spacing:0px;margin-left:1.1px;
}
#P340_88
{
left:9276.7px;bottom:7268.52px;color:rgb(35,31,31);
}
#P340_89
{
left:9404.83px;bottom:7268.52px;letter-spacing:-14.1px;word-spacing:551.3px;color:rgb(35,31,31);
}
#P340_90
{
left:10620.6px;bottom:7268.52px;letter-spacing:-10.6px;color:rgb(35,31,31);
}
#P340_91
{
left:0px;letter-spacing:-0.6px;margin-left:10.6px;
}
#P340_92
{
left:0px;letter-spacing:-4.2px;margin-left:0.6px;
}
#P340_93
{
left:0px;letter-spacing:0.1px;margin-left:4.2px;
}
#P340_94
{
left:10620.6px;bottom:6372.33px;letter-spacing:-5.6px;color:rgb(35,31,31);
}
#P340_95
{
left:0px;letter-spacing:0px;margin-left:5.6px;
}
#P340_96
{
left:9276.7px;bottom:4900.27px;color:rgb(35,31,31);
}
#P340_97
{
left:9404.83px;bottom:4900.27px;letter-spacing:-14.1px;word-spacing:473.2px;color:rgb(35,31,31);
}
#P340_98
{
left:10620.6px;bottom:4900.27px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P340_99
{
left:0px;letter-spacing:-2px;margin-left:-6.6px;
}
#P340_100
{
left:0px;letter-spacing:0px;margin-left:-12.1px;
}
#P340_101
{
left:10155.3px;bottom:37653px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P340_102
{
left:13580.2px;bottom:37844.8px;color:rgb(255,223,126);
}
#P340_103
{
left:14172.9px;bottom:37653px;word-spacing:175.4px;color:white;
}
#P340_104
{
left:15245.1px;bottom:37844.8px;color:white;
}
#P340_105
{
left:15485.3px;bottom:37653px;color:white;
}
#P340_106
{
left:15821.4px;bottom:37844.8px;color:white;
}
#P340_107
{
left:16061.6px;bottom:37653px;color:white;
}
#P340_108
{
left:20656.3px;bottom:37844.8px;color:white;
}
#P340_109
{
left:20896.5px;bottom:37653px;color:white;
}
#P340_110
{
left:22097.5px;bottom:37844.8px;color:white;
}
#P340_111
{
left:22337.7px;bottom:37653px;letter-spacing:-15.8px;word-spacing:-32px;color:white;
}
#P340_112
{
left:0px;letter-spacing:-15.9px;margin-left:15.8px;
}
#P340_113
{
left:0px;letter-spacing:0px;margin-left:15.9px;
}
#P340_114
{
left:26052px;bottom:37844.8px;color:white;
}
#P340_115
{
left:26292.2px;bottom:37653px;color:white;
}
#P340_116
{
left:8414.87px;bottom:37529.5px;
}
#P340_117
{
left:8414.87px;bottom:37529.5px;color:white;
}
#P340_118
{
left:26599.7px;bottom:13149.7px;color:rgb(35,31,31);
}
#P340_119
{
left:24753.2px;bottom:15035.6px;color:rgb(35,31,31);
}
#P340_120
{
left:28116.1px;bottom:13156.8px;color:rgb(33,31,31);
}
#P340_121
{
left:29655.7px;bottom:13154px;letter-spacing:1281.6px;color:rgb(33,31,31);
}
#P340_122
{
left:24498.8px;bottom:16571.8px;color:rgb(33,31,31);
}
#P340_123
{
left:24498.8px;bottom:18108px;color:rgb(33,31,31);
}
#P340_124
{
left:24498.8px;bottom:19644.3px;color:rgb(33,31,31);
}
#P340_125
{
left:24498.8px;bottom:21180.5px;color:rgb(33,31,31);
}
#P340_126
{
left:24753.2px;bottom:13499.3px;color:rgb(33,31,31);
}
#P340_127
{
left:25036.4px;bottom:13170px;color:rgb(33,31,31);
}
#P340_128
{
left:4301.34px;bottom:13360.5px;color:rgb(35,31,31);
}
#P340_129
{
left:4674.39px;bottom:13388.9px;letter-spacing:-10.2px;color:rgb(35,31,31);
}
#P340_130
{
left:6691.93px;bottom:13360.5px;color:rgb(35,31,31);
}
#P340_131
{
left:4301.15px;bottom:12656.5px;letter-spacing:-14.1px;color:rgb(35,31,31);
}
#P340_132
{
left:5012.31px;bottom:12684.9px;letter-spacing:-10.4px;color:rgb(35,31,31);
}
#P340_133
{
left:2365.37px;bottom:11788px;letter-spacing:0.5px;word-spacing:-5.3px;color:rgb(35,31,31);
}
#P340_134
{
left:0px;letter-spacing:5px;margin-left:3.5px;
}
#P340_135
{
left:2365.37px;bottom:11004.7px;letter-spacing:-3.3px;word-spacing:-0.6px;color:rgb(35,31,31);
}
#P340_136
{
left:0px;letter-spacing:-0.3px;margin-left:2.4px;
}
#P340_137
{
left:0px;letter-spacing:-3.1px;margin-left:-4.5px;
}
#P340_138
{
left:2365.37px;bottom:10383px;color:rgb(35,31,31);
}
#P340_139
{
left:2615.28px;bottom:10164.8px;color:rgb(35,31,31);
}
#P340_140
{
left:2960.24px;bottom:10204.8px;letter-spacing:-124.7px;word-spacing:-5.9px;color:rgb(35,31,31);
}
#P340_141
{
left:0px;letter-spacing:3.4px;margin-left:125.1px;
}
#P340_142
{
left:0px;letter-spacing:0.1px;margin-left:116px;
}
#P340_143
{
left:2960.24px;bottom:9564.52px;letter-spacing:0.1px;word-spacing:-7px;color:rgb(35,31,31);
}
#P340_144
{
left:0px;letter-spacing:0.6px;margin-left:-1.1px;
}
#P340_145
{
left:2365.37px;bottom:9071.02px;color:rgb(35,31,31);
}
#P340_146
{
left:2615.28px;bottom:8852.78px;color:rgb(35,31,31);
}
#P340_147
{
left:2960.24px;bottom:8892.78px;letter-spacing:-126.4px;word-spacing:-4.2px;color:rgb(35,31,31);
}
#P340_148
{
left:0px;letter-spacing:-0.8px;margin-left:130.7px;
}
#P340_149
{
left:0px;letter-spacing:-1.9px;margin-left:-0.5px;
}
#P340_150
{
left:2960.24px;bottom:8252.52px;letter-spacing:2.6px;word-spacing:-21.1px;color:rgb(35,31,31);
}
#P340_151
{
left:0px;letter-spacing:-2.6px;margin-left:13.1px;
}
#P340_152
{
left:0px;letter-spacing:0.2px;margin-left:3.5px;
}
#P340_153
{
left:2365.37px;bottom:7759.02px;color:rgb(35,31,31);
}
#P340_154
{
left:2615.28px;bottom:7540.78px;color:rgb(35,31,31);
}
#P340_155
{
left:2960.24px;bottom:7580.78px;letter-spacing:-125.2px;word-spacing:-5.3px;color:rgb(35,31,31);
}
#P340_156
{
left:0px;letter-spacing:0px;margin-left:125.1px;
}
#P340_157
{
left:0px;letter-spacing:-0.9px;margin-left:-0.1px;
}
#P340_158
{
left:2960.24px;bottom:6940.52px;letter-spacing:-0.7px;word-spacing:-1.5px;color:rgb(35,31,31);
}
#P340_159
{
left:0px;letter-spacing:-1.9px;margin-left:123.9px;
}
#P340_160
{
left:0px;letter-spacing:-1.6px;margin-left:2.4px;
}
#P340_161
{
left:2960.24px;bottom:6300.2px;letter-spacing:4px;word-spacing:-21.1px;color:rgb(35,31,31);
}
#P340_162
{
left:0px;letter-spacing:3.5px;margin-left:-0.8px;
}
#P340_163
{
left:0px;letter-spacing:-3.9px;margin-left:12.2px;
}
#P340_164
{
left:0px;letter-spacing:-2.5px;margin-left:19.6px;
}
#P340_165
{
left:0px;letter-spacing:0.2px;margin-left:3.5px;
}
#P340_166
{
left:2365.65px;bottom:5532.08px;letter-spacing:-1.5px;word-spacing:-5.3px;color:rgb(35,31,31);
}
#P340_167
{
left:0px;letter-spacing:-0.1px;margin-left:9px;
}
#P340_168
{
left:2365.65px;bottom:4891.76px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#PageContainer340
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg340.jpg");background-repeat:no-repeat;background-size: 1066px 1031px; background-position: 1px -0.289999999999964px;
}
#ImageContainer340 {bottom:333.29px;right:0.00px;width:1066.24px;height:1030.87px;position:absolute;} #TextContainer340 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.rpj{position: absolute;top: 212px;left: 156px;}
.srpj{position: absolute;top: 212px;left: 107px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}