.tr716{ color:transparent;}
#P716_1
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P716_2
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P716_3
{
left:8197.72px;bottom:1417.71px;letter-spacing:462.1px;color:rgb(35,31,31);
}
#P716_4
{
left:0px;letter-spacing:3.5px;margin-left:-461.2px;
}
#P716_5
{
left:5889.56px;bottom:46957.1px;color:white;
}
#P716_6
{
left:2371.78px;bottom:46929.9px;color:white;
}
#P716_7
{
left:10813.4px;bottom:44165.7px;letter-spacing:-4.4px;color:rgb(35,31,31);
}
#P716_8
{
left:0px;letter-spacing:0px;margin-left:4.4px;
}
#P716_9
{
left:13381.8px;bottom:44165.7px;color:rgb(35,31,31);
}
#P716_10
{
left:0px;letter-spacing:0px;margin-left:5.5px;
}
#P716_11
{
left:0px;letter-spacing:0px;margin-left:-66.9px;
}
#P716_12
{
left:0px;letter-spacing:0px;margin-left:-25.3px;
}
#P716_13
{
left:29527.1px;bottom:44165.7px;letter-spacing:0.7px;color:rgb(35,31,31);
}
#P716_14
{
left:32550.4px;bottom:44165.7px;color:rgb(35,31,31);
}
#P716_15
{
left:10813.3px;bottom:43269.7px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P716_16
{
left:0px;letter-spacing:0px;margin-left:-3px;
}
#P716_17
{
left:2856.07px;bottom:43520.6px;letter-spacing:-7.7px;word-spacing:-26px;color:rgb(0,124,196);
}
#P716_18
{
left:0px;letter-spacing:0px;margin-left:7.7px;
}
#P716_19
{
left:2856.07px;bottom:42578.7px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P716_20
{
left:5226.71px;bottom:42578.7px;color:rgb(35,31,31);
}
#P716_21
{
left:2856.07px;bottom:41682.7px;color:rgb(35,31,31);
}
#P716_22
{
left:5522.91px;bottom:41682.7px;color:rgb(35,31,31);
}
#P716_23
{
left:2856.07px;bottom:40786.7px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P716_24
{
left:2856.07px;bottom:39890.7px;color:rgb(35,31,31);
}
#P716_25
{
left:3624.07px;bottom:39890.7px;color:rgb(35,31,31);
}
#P716_26
{
left:12253.4px;bottom:38922.2px;color:rgb(35,31,31);
}
#P716_27
{
left:12631.4px;bottom:39078.4px;color:rgb(35,31,31);
}
#P716_28
{
left:12827.2px;bottom:38922.2px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P716_29
{
left:12253.4px;bottom:37855.5px;letter-spacing:-5.4px;color:rgb(2,77,161);
}
#P716_30
{
left:14225.9px;bottom:37838.4px;letter-spacing:508.3px;color:rgb(35,31,31);
}
#P716_31
{
left:14929.9px;bottom:37814.4px;letter-spacing:-1.9px;color:rgb(35,31,31);
}
#P716_32
{
left:0px;letter-spacing:0px;margin-left:1.9px;
}
#P716_33
{
left:19903.1px;bottom:37814.4px;letter-spacing:0.2px;color:rgb(35,31,31);
}
#P716_34
{
left:12253.4px;bottom:34367.5px;letter-spacing:3px;color:rgb(2,77,161);
}
#P716_35
{
left:14772.5px;bottom:34334.4px;color:rgb(35,31,31);
}
#P716_36
{
left:21533.4px;bottom:34358.4px;color:rgb(0,170,77);
}
#P716_37
{
left:21776.3px;bottom:34358.4px;color:rgb(35,31,31);
}
#P716_38
{
left:21934.7px;bottom:34328.9px;color:rgb(35,31,31);
}
#P716_39
{
left:22521.1px;bottom:34358.4px;color:rgb(35,31,31);
}
#P716_40
{
left:22679.5px;bottom:34358.4px;color:rgb(0,124,196);
}
#P716_41
{
left:23107.6px;bottom:34358.4px;color:rgb(114,80,160);
}
#P716_42
{
left:23396.1px;bottom:34358.4px;color:rgb(235,26,35);
}
#P716_43
{
left:17491.9px;bottom:33148.8px;color:rgb(0,124,196);
}
#P716_44
{
left:26717.5px;bottom:33180.8px;letter-spacing:-8.3px;color:rgb(235,26,35);
}
#P716_45
{
left:0px;letter-spacing:0px;margin-left:8.3px;
}
#P716_46
{
left:26483.9px;bottom:36169.6px;color:rgb(114,80,160);
}
#P716_47
{
left:26483.9px;bottom:35273.6px;color:rgb(114,80,160);
}
#P716_48
{
left:16253.4px;bottom:35663px;color:rgb(0,170,77);
}
#P716_49
{
left:5433.11px;bottom:29185.6px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P716_50
{
left:12301.4px;bottom:29210.2px;color:white;
}
#P716_51
{
left:12717px;bottom:29402px;color:white;
}
#P716_52
{
left:12957.2px;bottom:29210.2px;color:white;
}
#P716_53
{
left:13933.5px;bottom:29402px;color:white;
}
#P716_54
{
left:14173.7px;bottom:29210.2px;letter-spacing:-0.9px;color:white;
}
#P716_55
{
left:10457px;bottom:29043.1px;
}
#P716_56
{
left:10457px;bottom:29043.1px;color:white;
}
#P716_57
{
left:11528.4px;bottom:27580.8px;letter-spacing:-31.6px;color:rgb(35,31,31);
}
#P716_58
{
left:0px;letter-spacing:-0.6px;margin-left:31.6px;
}
#P716_59
{
left:0px;letter-spacing:0px;margin-left:-27.5px;
}
#P716_60
{
left:0px;letter-spacing:0.2px;
}
#P716_61
{
left:11528.4px;bottom:26684.8px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P716_62
{
left:0px;letter-spacing:-14px;margin-left:-41.2px;
}
#P716_63
{
left:0px;letter-spacing:0px;margin-left:14px;
}
#P716_64
{
left:0px;letter-spacing:14px;margin-left:-42.1px;
}
#P716_65
{
left:0px;letter-spacing:-0.2px;margin-left:-14px;
}
#P716_66
{
left:11528.4px;bottom:25788.8px;color:rgb(35,31,31);
}
#P716_67
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P716_68
{
left:0px;letter-spacing:0px;margin-left:14px;
}
#P716_69
{
left:10760.4px;bottom:24636.7px;color:rgb(35,31,31);
}
#P716_70
{
left:11488.3px;bottom:24636.7px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P716_71
{
left:12552.4px;bottom:24604.8px;color:rgb(0,170,77);
}
#P716_72
{
left:12795.3px;bottom:24636.8px;color:rgb(35,31,31);
}
#P716_73
{
left:12953.7px;bottom:24607.2px;color:rgb(35,31,31);
}
#P716_74
{
left:13540.1px;bottom:24636.8px;color:rgb(35,31,31);
}
#P716_75
{
left:13698.5px;bottom:24604.8px;color:rgb(0,124,196);
}
#P716_76
{
left:14138.7px;bottom:24604.8px;color:rgb(114,80,160);
}
#P716_77
{
left:14429px;bottom:24604.8px;color:rgb(235,26,35);
}
#P716_78
{
left:14669.1px;bottom:24604.8px;color:rgb(235,26,35);
}
#P716_79
{
left:20680.4px;bottom:24644.8px;color:rgb(0,124,196);
}
#P716_80
{
left:28253.6px;bottom:24636.8px;color:rgb(35,31,31);
}
#P716_81
{
left:11528.4px;bottom:23164.8px;letter-spacing:417.6px;color:rgb(35,31,31);
}
#P716_82
{
left:0px;letter-spacing:0px;margin-left:128px;
}
#P716_83
{
left:12966.8px;bottom:23135.2px;color:rgb(35,31,31);
}
#P716_84
{
left:13553.2px;bottom:23164.8px;color:rgb(35,31,31);
}
#P716_85
{
left:13711.6px;bottom:23164.8px;color:rgb(0,124,196);
}
#P716_86
{
left:14830.9px;bottom:23164.8px;color:rgb(35,31,31);
}
#P716_87
{
left:15077.3px;bottom:23164.8px;color:rgb(114,80,160);
}
#P716_88
{
left:16383.3px;bottom:23164.8px;color:rgb(35,31,31);
}
#P716_89
{
left:16876.1px;bottom:23164.8px;color:rgb(235,26,35);
}
#P716_90
{
left:17249.2px;bottom:23164.8px;color:rgb(35,31,31);
}
#P716_91
{
left:20680.4px;bottom:23172.8px;color:rgb(0,124,196);
}
#P716_92
{
left:25403.8px;bottom:23198.7px;color:rgb(0,124,196);
}
#P716_93
{
left:25724.1px;bottom:23172.8px;letter-spacing:-12.4px;color:rgb(0,124,196);
}
#P716_94
{
left:0px;letter-spacing:0px;margin-left:12.4px;
}
#P716_95
{
left:28182.9px;bottom:23198.7px;color:rgb(0,124,196);
}
#P716_96
{
left:28407px;bottom:23172.8px;letter-spacing:-12.4px;color:rgb(0,124,196);
}
#P716_97
{
left:0px;letter-spacing:0px;margin-left:12.4px;
}
#P716_98
{
left:31179px;bottom:23198.7px;color:rgb(0,124,196);
}
#P716_99
{
left:31403px;bottom:23172.8px;color:rgb(0,124,196);
}
#P716_100
{
left:11528.4px;bottom:21692.8px;color:rgb(35,31,31);
}
#P716_101
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P716_102
{
left:0px;letter-spacing:0px;margin-left:353.6px;
}
#P716_103
{
left:12966.8px;bottom:21663.3px;color:rgb(35,31,31);
}
#P716_104
{
left:13553.2px;bottom:21692.8px;color:rgb(35,31,31);
}
#P716_105
{
left:20680.4px;bottom:21700.8px;color:rgb(0,124,196);
}
#P716_106
{
left:0px;letter-spacing:0px;margin-left:-49.7px;
}
#P716_107
{
left: 14638.4px;bottom:20028.8px;letter-spacing:1449.6px;color:rgb(35,31,31);
}
#P716_108
{
left:0px;letter-spacing:0px;margin-left:-904px;
}
#P716_109
{
left:0px;letter-spacing:-9.3px;margin-left:-8.4px;
}
#P716_110
{
left:0px;letter-spacing:-0.2px;margin-left:9.3px;
}
#P716_111
{
left:0px;letter-spacing:-3.5px;margin-left:-3.9px;
}
#P716_112
{
left:10760.4px;bottom:18364.8px;color:rgb(35,31,31);
}
#P716_113
{
left:11452.2px;bottom:18364.8px;letter-spacing:-17.5px;color:rgb(35,31,31);
}
#P716_114
{
left:12552.3px;bottom:18364.8px;letter-spacing:-35.2px;word-spacing:70.3px;color:rgb(35,31,31);
}
#P716_115
{
left:0px;letter-spacing:0px;margin-left:-35.2px;
}
#P716_116
{
left:13698.5px;bottom:18364.8px;letter-spacing:28.2px;color:rgb(35,31,31);
}
#P716_117
{
left:0px;letter-spacing:-0.5px;margin-left:-28.2px;
}
#P716_118
{
left:0px;letter-spacing:0.3px;margin-left:-13.4px;
}
#P716_119
{
left:11528.3px;bottom:16700.9px;color:rgb(35,31,31);
}
#P716_120
{
left:13136.4px;bottom:16700.8px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P716_121
{
left:0px;letter-spacing:-9.3px;margin-left:-554px;
}
#P716_122
{
left:0px;letter-spacing:0px;margin-left:9.3px;
}
#P716_123
{
left:21105.8px;bottom:16671.2px;color:rgb(35,31,31);
}
#P716_124
{
left:21692.1px;bottom:16700.8px;color:rgb(35,31,31);
}
#P716_125
{
left:23128.3px;bottom:16671.2px;color:rgb(35,31,31);
}
#P716_126
{
left:23714.7px;bottom:16700.8px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P716_127
{
left:5437.4px;bottom:13474.6px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P716_128
{
left:12305.7px;bottom:13499.1px;color:white;
}
#P716_129
{
left:12721.3px;bottom:13690.9px;color:white;
}
#P716_130
{
left:12961.5px;bottom:13499.1px;color:white;
}
#P716_131
{
left:13937.8px;bottom:13690.9px;color:white;
}
#P716_132
{
left:14178px;bottom:13499.1px;letter-spacing:-5.3px;color:white;
}
#P716_133
{
left:0px;letter-spacing:-0.9px;margin-left:5.3px;
}
#P716_134
{
left:10461.4px;bottom:13332px;
}
#P716_135
{
left:10461.4px;bottom:13332px;color:white;
}
#P716_136
{
left:11532.7px;bottom:11869.7px;letter-spacing:-31.6px;color:rgb(35,31,31);
}
#P716_137
{
left:0px;letter-spacing:-0.7px;margin-left:31.6px;
}
#P716_138
{
left:0px;letter-spacing:0px;margin-left:-27.3px;
}
#P716_139
{
left:0px;letter-spacing:-0.2px;
}
#P716_140
{
left:11532.7px;bottom:10973.7px;letter-spacing:-2.5px;color:rgb(35,31,31);
}
#P716_141
{
left:0px;letter-spacing:14px;margin-left:-39.6px;
}
#P716_142
{
left:0px;letter-spacing:-0.5px;margin-left:-14px;
}
#P716_143
{
left:11532.7px;bottom:9629.74px;color:rgb(35,31,31);
}
#P716_144
{
left:14156.7px;bottom:9597.74px;color:rgb(0,170,77);
}
#P716_145
{
left:14399.6px;bottom:9629.74px;color:rgb(35,31,31);
}
#P716_146
{
left:14558px;bottom:9600.17px;color:rgb(35,31,31);
}
#P716_147
{
left:15144.4px;bottom:9629.74px;color:rgb(35,31,31);
}
#P716_148
{
left:15302.8px;bottom:9597.74px;color:rgb(0,124,196);
}
#P716_149
{
left:15743px;bottom:9597.74px;color:rgb(114,80,160);
}
#P716_150
{
left:16033.3px;bottom:9597.74px;color:rgb(235,26,35);
}
#P716_151
{
left:16273.4px;bottom:9597.74px;color:rgb(235,26,35);
}
#P716_152
{
left:20684.7px;bottom:9637.74px;color:rgb(0,124,196);
}
#P716_153
{
left:28257.9px;bottom:9629.74px;color:rgb(35,31,31);
}
#P716_154
{
left:11532.7px;bottom:8157.74px;color:rgb(35,31,31);
}
#P716_155
{
left:13260.7px;bottom:8157.74px;color:rgb(0,170,77);
}
#P716_156
{
left:14380.1px;bottom:8157.74px;color:rgb(35,31,31);
}
#P716_157
{
left:14538.5px;bottom:8128.17px;color:rgb(35,31,31);
}
#P716_158
{
left:15124.9px;bottom:8157.74px;color:rgb(35,31,31);
}
#P716_159
{
left:15283.3px;bottom:8157.74px;color:rgb(0,124,196);
}
#P716_160
{
left:16775.8px;bottom:8157.74px;color:rgb(35,31,31);
}
#P716_161
{
left:17022.1px;bottom:8157.74px;color:rgb(114,80,160);
}
#P716_162
{
left:17305.1px;bottom:8157.74px;color:rgb(35,31,31);
}
#P716_163
{
left:17797.9px;bottom:8157.74px;color:rgb(235,26,35);
}
#P716_164
{
left:18171px;bottom:8157.74px;color:rgb(35,31,31);
}
#P716_165
{
left:20684.7px;bottom:8165.74px;color:rgb(0,124,196);
}
#P716_166
{
left:25408.1px;bottom:8191.66px;color:rgb(0,124,196);
}
#P716_167
{
left:25568.2px;bottom:8165.74px;letter-spacing:-12.4px;color:rgb(0,124,196);
}
#P716_168
{
left:0px;letter-spacing:0px;margin-left:12.4px;
}
#P716_169
{
left:28188.4px;bottom:8191.66px;color:rgb(0,124,196);
}
#P716_170
{
left:28508.6px;bottom:8165.74px;letter-spacing:-12.4px;color:rgb(0,124,196);
}
#P716_171
{
left:0px;letter-spacing:0px;margin-left:12.4px;
}
#P716_172
{
left:31280.7px;bottom:8191.66px;color:rgb(0,124,196);
}
#P716_173
{
left:31504.7px;bottom:8165.74px;color:rgb(0,124,196);
}
#P716_174
{
left:13260.7px;bottom:6685.74px;word-spacing:1569.6px;color:rgb(35,31,31);
}
#P716_175
{
left:14538.4px;bottom:6656.17px;color:rgb(35,31,31);
}
#P716_176
{
left:15124.8px;bottom:6685.74px;color:rgb(35,31,31);
}
#P716_177
{
left:16775.7px;bottom:6685.74px;color:rgb(35,31,31);
}
#P716_178
{
left:17058.6px;bottom:6685.74px;color:rgb(35,31,31);
}
#P716_179
{
left:20684.7px;bottom:6693.74px;color:rgb(0,124,196);
}
#P716_180
{
left:0px;letter-spacing:0px;margin-left:26.9px;
}
#P716_181
{
left:0px;letter-spacing:0px;margin-left:-49.8px;
}
#P716_182
{
left:12684.7px;bottom:5149.74px;word-spacing:993.6px;color:rgb(35,31,31);
}
#P716_183
{
left:14522.1px;bottom:5120.17px;color:rgb(35,31,31);
}
#P716_184
{
left:15108.6px;bottom:5149.74px;color:rgb(35,31,31);
}
#P716_185
{
left:15267px;bottom:5149.74px;color:rgb(35,31,31);
}
#P716_186
{
left:15549.9px;bottom:5149.74px;color:rgb(35,31,31);
}
#P716_187
{
left:20684.7px;bottom:5157.74px;color:rgb(0,124,196);
}
#P716_188
{
left:12116.7px;bottom:3677.74px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P716_189
{
left:0px;letter-spacing:-9.3px;margin-left:-554px;
}
#P716_190
{
left:0px;letter-spacing:-0.7px;margin-left:9.3px;
}
#P716_191
{
left:0px;letter-spacing:0px;margin-left:-6.1px;
}
#P716_192
{
left:26785.2px;bottom:46188.3px;word-spacing:0.2px;color:rgb(33,31,31);
}
#P716_193
{
left:0px;letter-spacing:0px;margin-left:-44.8px;
}
#P716_194
{
left:0px;letter-spacing:0px;margin-left:0.2px;
}
#PageContainer716
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg716.jpg");background-repeat:no-repeat;background-size: 998px 1291px; background-position: 0px 35.3699999999999px;
}
#ImageContainer716 {bottom:37.63px;left:0.00px;width:998.18px;height:1291.35px;position:absolute;} #TextContainer716 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.example1{position: absolute;top: 539px;left: 100px;}
.example2{position: absolute;top: 966px;left: 100px;}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}