.tr348{ color:transparent;}
#P348_1
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P348_2
{
left:3540.44px;bottom:1417.71px;color:rgb(35,31,31);
}
#P348_3
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P348_4
{
left:9120.15px;bottom:1417.71px;letter-spacing:0.2px;word-spacing:461px;color:rgb(35,31,31);
}
#P348_5
{
left:0px;letter-spacing:0px;margin-left:-461.2px;
}
#P348_6
{
left:0px;letter-spacing:2.9px;margin-left:1.1px;
}
#P348_7
{
left:0px;letter-spacing:0px;margin-left:-463.9px;
}
#P348_8
{
left:0px;letter-spacing:1.3px;margin-left:1.1px;
}
#P348_9
{
left:0px;bottom:0px;letter-spacing:0px;color:white;
}
#P348_10
{
left:5437.4px;bottom:46893.1px;color:white;
}
#P348_11
{
left:5417.69px;bottom:22428.8px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P348_12
{
left:0px;letter-spacing:0px;margin-left:0.3px;
}
#P348_13
{
left:5417.69px;bottom:21276.8px;color:rgb(35,31,31);
}
#P348_14
{
left:5979.87px;bottom:21296.5px;color:rgb(35,31,31);
}
#P348_15
{
left:7011.35px;bottom:21276.8px;letter-spacing:-0.6px;word-spacing:0.2px;color:rgb(35,31,31);
}
#P348_16
{
left:5417.75px;bottom:19932.7px;color:rgb(35,31,31);
}
#P348_17
{
left:5979.93px;bottom:19952.4px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P348_18
{
left:7011.42px;bottom:19932.7px;letter-spacing:-0.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P348_19
{
left:7011.42px;bottom:19036.8px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P348_20
{
left:5417.82px;bottom:17692.8px;color:rgb(35,31,31);
}
#P348_21
{
left:5979.99px;bottom:17712.5px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P348_22
{
left:7011.48px;bottom:17692.8px;letter-spacing:-0.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P348_23
{
left:7011.48px;bottom:16796.8px;color:rgb(35,31,31);
}
#P348_24
{
left:5417.88px;bottom:15452.8px;color:rgb(35,31,31);
}
#P348_25
{
left:5980.06px;bottom:15472.5px;color:rgb(35,31,31);
}
#P348_26
{
left:7011.55px;bottom:15452.8px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P348_27
{
left:5417.95px;bottom:13852.8px;color:rgb(35,31,31);
}
#P348_28
{
left:0px;letter-spacing:0px;margin-left:-56.1px;
}
#P348_29
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P348_30
{
left:5417.95px;bottom:12956.9px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P348_31
{
left:5417.95px;bottom:12061px;letter-spacing:-3.5px;color:rgb(35,31,31);
}
#P348_32
{
left:0px;letter-spacing:0px;margin-left:3.5px;
}
#P348_33
{
left:5417.95px;bottom:10908.8px;color:rgb(35,31,31);
}
#P348_34
{
left:5980.12px;bottom:10928.6px;color:rgb(35,31,31);
}
#P348_35
{
left:7011.61px;bottom:10908.8px;color:rgb(35,31,31);
}
#P348_36
{
left:5418.01px;bottom:9564.84px;color:rgb(35,31,31);
}
#P348_37
{
left:5980.19px;bottom:9584.56px;color:rgb(35,31,31);
}
#P348_38
{
left:7011.67px;bottom:9564.84px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P348_39
{
left:5418.14px;bottom:8220.84px;color:rgb(35,31,31);
}
#P348_40
{
left:5980.25px;bottom:8240.56px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P348_41
{
left:7011.74px;bottom:8220.84px;letter-spacing:-0.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P348_42
{
left:7011.74px;bottom:7324.97px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P348_43
{
left:5418.2px;bottom:5980.84px;color:rgb(35,31,31);
}
#P348_44
{
left:5980.31px;bottom:6000.56px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P348_45
{
left:7011.8px;bottom:5980.84px;letter-spacing:-0.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P348_46
{
left:7011.8px;bottom:5084.97px;color:rgb(35,31,31);
}
#P348_47
{
left:4669.4px;bottom:43212.8px;letter-spacing:-31.6px;color:rgb(35,31,31);
}
#P348_48
{
left:0px;letter-spacing:0px;margin-left:31.6px;
}
#P348_49
{
left:9538.97px;bottom:43212.8px;letter-spacing:0.2px;color:rgb(35,31,31);
}
#P348_50
{
left:20175.4px;bottom:43212.8px;color:rgb(35,31,31);
}
#P348_51
{
left:4669.4px;bottom:42316.8px;letter-spacing:0.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P348_52
{
left:0px;letter-spacing:-5.3px;margin-left:-0.2px;
}
#P348_53
{
left:0px;letter-spacing:0px;margin-left:-8.7px;
}
#P348_54
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P348_55
{
left:17585.9px;bottom:39848.6px;letter-spacing:-1.1px;color:rgb(2,77,161);
}
#P348_56
{
left:14457px;bottom:38141.7px;color:rgb(2,77,161);
}
#P348_57
{
left:0px;letter-spacing:0px;margin-left:1756.2px;
}
#P348_58
{
left:0px;letter-spacing:0px;margin-left:-9px;
}
#P348_59
{
left:14264.3px;bottom:36575.1px;color:rgb(35,31,31);
}
#P348_60
{
left:14569.2px;bottom:36575.1px;color:rgb(35,31,31);
}
#P348_61
{
left:14264.3px;bottom:34921.6px;color:rgb(35,31,31);
}
#P348_62
{
left:14678.2px;bottom:34921.6px;color:rgb(35,31,31);
}
#P348_63
{
left:15075.3px;bottom:34921.6px;color:rgb(35,31,31);
}
#P348_64
{
left:14264.3px;bottom:28692.4px;color:rgb(35,31,31);
}
#P348_65
{
left:14273.5px;bottom:27770.8px;color:rgb(35,31,31);
}
#P348_66
{
left:14264.3px;bottom:33268.1px;color:rgb(35,31,31);
}
#P348_67
{
left:14569.2px;bottom:33268.1px;color:rgb(35,31,31);
}
#P348_68
{
left:14264.3px;bottom:31614.6px;color:rgb(35,31,31);
}
#P348_69
{
left:15510.7px;bottom:31614.6px;color:rgb(35,31,31);
}
#P348_70
{
left:15815.6px;bottom:31614.6px;color:rgb(35,31,31);
}
#P348_71
{
left:14264.3px;bottom:29961.1px;color:rgb(35,31,31);
}
#P348_72
{
left:14980.8px;bottom:28307.6px;color:rgb(35,31,31);
}
#P348_73
{
left:15312.6px;bottom:28307.6px;color:rgb(35,31,31);
}
#P348_74
{
left:19981.6px;bottom:36575.1px;color:rgb(35,31,31);
}
#P348_75
{
left:19981.6px;bottom:34921.6px;color:rgb(35,31,31);
}
#P348_76
{
left:20395.5px;bottom:34921.6px;color:rgb(35,31,31);
}
#P348_77
{
left:19981.6px;bottom:28692.4px;color:rgb(35,31,31);
}
#P348_78
{
left:19990.8px;bottom:27770.8px;color:rgb(35,31,31);
}
#P348_79
{
left:19982.4px;bottom:33268.1px;color:rgb(35,31,31);
}
#P348_80
{
left:20287.3px;bottom:33268.1px;color:rgb(35,31,31);
}
#P348_81
{
left:19982.4px;bottom:31614.6px;color:rgb(35,31,31);
}
#P348_82
{
left:20287.3px;bottom:31614.6px;color:rgb(35,31,31);
}
#P348_83
{
left:19982.4px;bottom:29961.1px;color:rgb(35,31,31);
}
#P348_84
{
left:20817px;bottom:6420.46px;letter-spacing:-6.1px;color:rgb(33,31,31);
}
#P348_85
{
left:21519.7px;bottom:5780.52px;letter-spacing:-8.7px;word-spacing:0.7px;color:rgb(33,31,31);
}
#P348_86
{
left:23311.1px;bottom:5780.52px;color:rgb(7,1,2);
}
#P348_87
{
left:23483.3px;bottom:5780.52px;letter-spacing:-6.7px;color:rgb(235,26,35);
}
#P348_88
{
left:0px;letter-spacing:-4.7px;margin-left:-13.5px;
}
#P348_89
{
left:33108.2px;bottom:5780.52px;letter-spacing:-57.6px;color:rgb(33,31,31);
}
#P348_90
{
left:26738.5px;bottom:45195.3px;word-spacing:0.2px;color:rgb(33,31,31);
}
#P348_91
{
left:2883.8px;bottom:46399px;
}
#PageContainer348
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg348.jpg");background-repeat:no-repeat;background-size: 1000px 1270px; background-position: 0px 0.119999999999891px;
}
#ImageContainer348 {bottom:93.88px;left:0.00px;width:1000.30px;height:1270.28px;position:absolute;} #TextContainer348 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.graphic_organiser{ position: absolute; top: 82px; left: 721px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}