.tr616{ color:transparent;}
#P616_1
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P616_2
{
left:3540.44px;bottom:1417.71px;color:rgb(35,31,31);
}
#P616_3
{
left:5565.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P616_4
{
left:10127.4px;bottom:1417.71px;letter-spacing:5px;word-spacing:461.9px;color:rgb(35,31,31);
}
#P616_5
{
left:0px;letter-spacing:2.7px;margin-left:-4.8px;
}
#P616_6
{
left:0px;letter-spacing:0px;margin-left:-464.6px;
}
#P616_7
{
left:0px;letter-spacing:2.4px;margin-left:0.2px;
}
#P616_8
{
left:0px;letter-spacing:0px;margin-left:-464.3px;
}
#P616_9
{
left:0px;letter-spacing:1.1px;margin-left:-8.1px;
}
#P616_10
{
left:6162.71px;bottom:44834.3px;letter-spacing:9.6px;
}
#P616_11
{
left:6162.71px;bottom:44834.3px;letter-spacing:9.6px;color:white;
}
#P616_12
{
left:8722.71px;bottom:44870.1px;color:rgb(2,77,161);
}
#P616_13
{
left:10274.5px;bottom:45061.9px;color:rgb(2,77,161);
}
#P616_14
{
left:10514.6px;bottom:44870.1px;letter-spacing:-1.1px;color:rgb(2,77,161);
}
#P616_15
{
left:16661.3px;bottom:45061.9px;color:rgb(2,77,161);
}
#P616_16
{
left:16901.5px;bottom:44870.1px;color:rgb(2,77,161);
}
#P616_17
{
left:18518px;bottom:45061.9px;color:rgb(2,77,161);
}
#P616_18
{
left:18758.2px;bottom:44870.1px;letter-spacing:-1.4px;color:rgb(2,77,161);
}
#P616_19
{
left:23640.9px;bottom:45061.9px;color:rgb(2,77,161);
}
#P616_20
{
left:23881px;bottom:44870.1px;color:rgb(2,77,161);
}
#P616_21
{
left:26089.2px;bottom:44927.5px;color:rgb(2,77,161);
}
#P616_22
{
left:0px;letter-spacing:0px;margin-left:51.2px;
}
#P616_23
{
left:7741.4px;bottom:43382.8px;word-spacing:452.1px;color:rgb(35,31,31);
}
#P616_24
{
left:0px;letter-spacing:0px;margin-left:571.9px;
}
#P616_25
{
left:0px;letter-spacing:0px;margin-left:-15.5px;
}
#P616_26
{
left:0px;letter-spacing:0px;margin-left:-452.1px;
}
#P616_27
{
left:11191.9px;bottom:43388.5px;color:rgb(35,31,31);
}
#P616_28
{
left:11520px;bottom:43382.8px;color:rgb(35,31,31);
}
#P616_29
{
left:11667.8px;bottom:43353.3px;color:rgb(35,31,31);
}
#P616_30
{
left:12254.2px;bottom:43382.8px;color:rgb(35,31,31);
}
#P616_31
{
left:13201.1px;bottom:43353.3px;color:rgb(35,31,31);
}
#P616_32
{
left:13787.5px;bottom:43382.8px;color:rgb(35,31,31);
}
#P616_33
{
left:14586.5px;bottom:43388.5px;color:rgb(35,31,31);
}
#P616_34
{
left:14914.6px;bottom:43382.8px;color:rgb(35,31,31);
}
#P616_35
{
left:15062.4px;bottom:43353.3px;color:rgb(35,31,31);
}
#P616_36
{
left:15648.9px;bottom:43382.8px;color:rgb(35,31,31);
}
#P616_37
{
left:8509.4px;bottom:42102.8px;letter-spacing:993.6px;color:rgb(35,31,31);
}
#P616_38
{
left:0px;letter-spacing:0px;margin-left:-379px;
}
#P616_39
{
left:10807.6px;bottom:42102.8px;color:rgb(35,31,31);
}
#P616_40
{
left:11137px;bottom:42102.8px;color:rgb(35,31,31);
}
#P616_41
{
left:11295.4px;bottom:42073.3px;color:rgb(35,31,31);
}
#P616_42
{
left:11881.9px;bottom:42102.8px;color:rgb(35,31,31);
}
#P616_43
{
left:8509.4px;bottom:40822.8px;color:rgb(35,31,31);
}
#P616_44
{
left:9661.4px;bottom:40793.3px;color:rgb(35,31,31);
}
#P616_45
{
left:10247.8px;bottom:40822.8px;color:rgb(35,31,31);
}
#P616_46
{
left:10779.3px;bottom:40822.8px;color:rgb(35,31,31);
}
#P616_47
{
left:11108.8px;bottom:40822.8px;color:rgb(35,31,31);
}
#P616_48
{
left:11267.2px;bottom:40793.3px;color:rgb(35,31,31);
}
#P616_49
{
left:11853.6px;bottom:40822.8px;color:rgb(35,31,31);
}
#P616_50
{
left:14653.4px;bottom:40830.8px;letter-spacing:-2.8px;color:rgb(0,124,196);
}
#P616_51
{
left:0px;letter-spacing:0px;margin-left:2.8px;
}
#P616_52
{
left:8509.4px;bottom:39542.8px;letter-spacing:993.6px;color:rgb(35,31,31);
}
#P616_53
{
left:0px;letter-spacing:0px;margin-left:-379px;
}
#P616_54
{
left:10807.6px;bottom:39542.8px;color:rgb(35,31,31);
}
#P616_55
{
left:11137px;bottom:39542.8px;color:rgb(35,31,31);
}
#P616_56
{
left:11295.4px;bottom:39513.3px;color:rgb(35,31,31);
}
#P616_57
{
left:11881.8px;bottom:39542.8px;color:rgb(35,31,31);
}
#P616_58
{
left:7741.34px;bottom:37878.8px;word-spacing:416px;color:rgb(35,31,31);
}
#P616_59
{
left:0px;letter-spacing:0px;margin-left:-6.9px;
}
#P616_60
{
left:0px;letter-spacing:0px;margin-left:535.8px;
}
#P616_61
{
left:0px;letter-spacing:0px;margin-left:-33.7px;
}
#P616_62
{
left:11158.9px;bottom:38318.5px;color:rgb(35,31,31);
}
#P616_63
{
left:11513.7px;bottom:37896.4px;color:rgb(35,31,31);
}
#P616_64
{
left:11137.8px;bottom:37862.8px;color:rgb(35,31,31);
}
#P616_65
{
left:11534.8px;bottom:37880.1px;color:rgb(35,31,31);
}
#P616_66
{
left:11158.9px;bottom:37411px;color:rgb(35,31,31);
}
#P616_67
{
left:11513.7px;bottom:37896.4px;color:rgb(35,31,31);
}
#P616_68
{
left:11534.8px;bottom:37878.8px;color:rgb(35,31,31);
}
#P616_69
{
left:0px;letter-spacing:0px;margin-left:-147.8px;
}
#P616_70
{
left:0px;letter-spacing:0px;margin-left:-147.8px;
}
#P616_71
{
left:13767.2px;bottom:38318.5px;color:rgb(35,31,31);
}
#P616_72
{
left:14122px;bottom:37896.4px;color:rgb(35,31,31);
}
#P616_73
{
left:13746.1px;bottom:37862.8px;color:rgb(35,31,31);
}
#P616_74
{
left:14143.1px;bottom:37880.1px;color:rgb(35,31,31);
}
#P616_75
{
left:13767.2px;bottom:37411px;color:rgb(35,31,31);
}
#P616_76
{
left:14122px;bottom:37896.4px;color:rgb(35,31,31);
}
#P616_77
{
left:14143.1px;bottom:37878.8px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P616_78
{
left:14260.4px;bottom:37884.5px;color:rgb(35,31,31);
}
#P616_79
{
left:14623.7px;bottom:37878.8px;color:rgb(35,31,31);
}
#P616_80
{
left:14771.5px;bottom:37849.3px;color:rgb(35,31,31);
}
#P616_81
{
left:15358px;bottom:37878.8px;color:rgb(35,31,31);
}
#P616_82
{
left:0px;letter-spacing:0px;margin-left:-147.8px;
}
#P616_83
{
left:15526.9px;bottom:38318.5px;color:rgb(35,31,31);
}
#P616_84
{
left:15881.8px;bottom:37896.4px;color:rgb(35,31,31);
}
#P616_85
{
left:15505.8px;bottom:37862.8px;color:rgb(35,31,31);
}
#P616_86
{
left:15902.9px;bottom:37880.1px;color:rgb(35,31,31);
}
#P616_87
{
left:15526.9px;bottom:37411px;color:rgb(35,31,31);
}
#P616_88
{
left:15881.8px;bottom:37896.4px;color:rgb(35,31,31);
}
#P616_89
{
left:15902.9px;bottom:37878.8px;letter-spacing:-133.2px;color:rgb(35,31,31);
}
#P616_90
{
left: 8769.4px;bottom:36214.8px;letter-spacing:225.6px;color:rgb(35,31,31);
}
#P616_91
{
left:0px;letter-spacing:5.4px;margin-left:-257.2px;
}
#P616_92
{
left:0px;letter-spacing:0px;margin-left:-5.4px;
}
#P616_93
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P616_94
{
left:18998.3px;bottom:36654.5px;color:rgb(35,31,31);
}
#P616_95
{
left:19334.1px;bottom:36232.4px;color:rgb(35,31,31);
}
#P616_96
{
left:18977.2px;bottom:36198.8px;color:rgb(35,31,31);
}
#P616_97
{
left:19355.2px;bottom:36216.1px;color:rgb(35,31,31);
}
#P616_98
{
left:18998.3px;bottom:35747px;color:rgb(35,31,31);
}
#P616_99
{
left:19334.1px;bottom:36232.4px;color:rgb(35,31,31);
}
#P616_100
{
left:19355.2px;bottom:36214.8px;color:rgb(35,31,31);
}
#P616_101
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P616_102
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P616_103
{
left:8509.4px;bottom:34230.8px;letter-spacing:2849.6px;color:rgb(35,31,31);
}
#P616_104
{
left:0px;letter-spacing:0px;margin-left:-3008px;
}
#P616_105
{
left:11538.5px;bottom:34670.5px;color:rgb(35,31,31);
}
#P616_106
{
left:11874.3px;bottom:34248.4px;color:rgb(35,31,31);
}
#P616_107
{
left:11517.4px;bottom:34214.8px;color:rgb(35,31,31);
}
#P616_108
{
left:11895.4px;bottom:34232.1px;color:rgb(35,31,31);
}
#P616_109
{
left:11538.5px;bottom:33763px;color:rgb(35,31,31);
}
#P616_110
{
left:11874.3px;bottom:34248.4px;color:rgb(35,31,31);
}
#P616_111
{
left:11895.4px;bottom:34230.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P616_112
{
left:12012.8px;bottom:34230.8px;color:rgb(35,31,31);
}
#P616_113
{
left:12376px;bottom:34230.8px;color:rgb(35,31,31);
}
#P616_114
{
left:12534.4px;bottom:34201.3px;color:rgb(35,31,31);
}
#P616_115
{
left:13120.9px;bottom:34230.8px;color:rgb(35,31,31);
}
#P616_116
{
left:13279.2px;bottom:34230.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P616_117
{
left:13300.3px;bottom:34670.5px;color:rgb(35,31,31);
}
#P616_118
{
left:13636.1px;bottom:34248.4px;color:rgb(35,31,31);
}
#P616_119
{
left:13279.2px;bottom:34214.8px;color:rgb(35,31,31);
}
#P616_120
{
left:13657.2px;bottom:34232.1px;color:rgb(35,31,31);
}
#P616_121
{
left:13300.3px;bottom:33763px;color:rgb(35,31,31);
}
#P616_122
{
left:13636.1px;bottom:34248.4px;color:rgb(35,31,31);
}
#P616_123
{
left:13657.2px;bottom:34230.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P616_124
{
left:13762.8px;bottom:33792.2px;color:rgb(35,31,31);
}
#P616_125
{
left:14114.6px;bottom:34230.8px;color:rgb(35,31,31);
}
#P616_126
{
left:14273px;bottom:34230.8px;color:rgb(35,31,31);
}
#P616_127
{
left:18237.4px;bottom:34201.3px;color:rgb(35,31,31);
}
#P616_128
{
left:18668.9px;bottom:34230.8px;color:rgb(35,31,31);
}
#P616_129
{
left:18827.3px;bottom:34230.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P616_130
{
left:18848.4px;bottom:34670.5px;color:rgb(35,31,31);
}
#P616_131
{
left:19184.2px;bottom:34248.4px;color:rgb(35,31,31);
}
#P616_132
{
left:18827.3px;bottom:34214.8px;color:rgb(35,31,31);
}
#P616_133
{
left:19205.3px;bottom:34232.1px;color:rgb(35,31,31);
}
#P616_134
{
left:18848.4px;bottom:33763px;color:rgb(35,31,31);
}
#P616_135
{
left:19184.2px;bottom:34248.4px;color:rgb(35,31,31);
}
#P616_136
{
left:19205.3px;bottom:34230.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P616_137
{
left:19363.7px;bottom:34201.3px;color:rgb(35,31,31);
}
#P616_138
{
left:19950.2px;bottom:34230.8px;color:rgb(35,31,31);
}
#P616_139
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P616_140
{
left:20129.7px;bottom:34670.5px;color:rgb(35,31,31);
}
#P616_141
{
left:20465.5px;bottom:34248.4px;color:rgb(35,31,31);
}
#P616_142
{
left:20108.6px;bottom:34214.8px;color:rgb(35,31,31);
}
#P616_143
{
left:20486.6px;bottom:34232.1px;color:rgb(35,31,31);
}
#P616_144
{
left:20129.7px;bottom:33763px;color:rgb(35,31,31);
}
#P616_145
{
left:20465.5px;bottom:34248.4px;color:rgb(35,31,31);
}
#P616_146
{
left:20486.6px;bottom:34230.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P616_147
{
left:20592.2px;bottom:33792.2px;color:rgb(35,31,31);
}
#P616_148
{
left:20944px;bottom:34230.8px;color:rgb(35,31,31);
}
#P616_149
{
left:21348.8px;bottom:34201.3px;color:rgb(35,31,31);
}
#P616_150
{
left:21935.2px;bottom:34230.8px;color:rgb(35,31,31);
}
#P616_151
{
left:8893.47px;bottom:32438.8px;letter-spacing:225.6px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P616_152
{
left:0px;letter-spacing:-0.1px;margin-left:-253.6px;
}
#P616_153
{
left:0px;letter-spacing:-0.3px;
}
#P616_154
{
left:0px;letter-spacing:-0.1px;margin-left:0.2px;
}
#P616_155
{
left:22387.5px;bottom:32878.5px;color:rgb(35,31,31);
}
#P616_156
{
left:22723.4px;bottom:32456.4px;color:rgb(35,31,31);
}
#P616_157
{
left:22366.4px;bottom:32422.8px;color:rgb(35,31,31);
}
#P616_158
{
left:22744.5px;bottom:32440.1px;color:rgb(35,31,31);
}
#P616_159
{
left:22387.5px;bottom:31971px;color:rgb(35,31,31);
}
#P616_160
{
left:22723.4px;bottom:32456.4px;color:rgb(35,31,31);
}
#P616_161
{
left:22744.5px;bottom:32438.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P616_162
{
left:8509.4px;bottom:30390.8px;letter-spacing:1761.6px;color:rgb(35,31,31);
}
#P616_163
{
left:0px;letter-spacing:0px;margin-left:-1920px;
}
#P616_164
{
left:10450.5px;bottom:30830.5px;color:rgb(35,31,31);
}
#P616_165
{
left:10786.3px;bottom:30408.4px;color:rgb(35,31,31);
}
#P616_166
{
left:10429.4px;bottom:30374.8px;color:rgb(35,31,31);
}
#P616_167
{
left:10807.4px;bottom:30392.1px;color:rgb(35,31,31);
}
#P616_168
{
left:10450.5px;bottom:29923px;color:rgb(35,31,31);
}
#P616_169
{
left:10786.3px;bottom:30408.4px;color:rgb(35,31,31);
}
#P616_170
{
left:10807.4px;bottom:30390.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P616_171
{
left:10924.8px;bottom:30390.8px;color:rgb(35,31,31);
}
#P616_172
{
left:11288px;bottom:30390.8px;color:rgb(35,31,31);
}
#P616_173
{
left:11446.4px;bottom:30361.3px;color:rgb(35,31,31);
}
#P616_174
{
left:12032.9px;bottom:30390.8px;color:rgb(35,31,31);
}
#P616_175
{
left:12191.2px;bottom:30390.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P616_176
{
left:12212.3px;bottom:30830.5px;color:rgb(35,31,31);
}
#P616_177
{
left:12548.1px;bottom:30408.4px;color:rgb(35,31,31);
}
#P616_178
{
left:12191.2px;bottom:30374.8px;color:rgb(35,31,31);
}
#P616_179
{
left:12569.2px;bottom:30392.1px;color:rgb(35,31,31);
}
#P616_180
{
left:12212.3px;bottom:29923px;color:rgb(35,31,31);
}
#P616_181
{
left:12548.1px;bottom:30408.4px;color:rgb(35,31,31);
}
#P616_182
{
left:12569.2px;bottom:30390.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P616_183
{
left:12727.6px;bottom:30361.3px;color:rgb(35,31,31);
}
#P616_184
{
left:13314.1px;bottom:30390.8px;color:rgb(35,31,31);
}
#P616_185
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P616_186
{
left:13493.6px;bottom:30830.5px;color:rgb(35,31,31);
}
#P616_187
{
left:13829.4px;bottom:30408.4px;color:rgb(35,31,31);
}
#P616_188
{
left:13472.5px;bottom:30374.8px;color:rgb(35,31,31);
}
#P616_189
{
left:13850.5px;bottom:30392.1px;color:rgb(35,31,31);
}
#P616_190
{
left:13493.6px;bottom:29923px;color:rgb(35,31,31);
}
#P616_191
{
left:13829.4px;bottom:30408.4px;color:rgb(35,31,31);
}
#P616_192
{
left:13850.5px;bottom:30390.8px;color:rgb(35,31,31);
}
#P616_193
{
left:13850.5px;bottom:29952.2px;color:rgb(35,31,31);
}
#P616_194
{
left:14202.3px;bottom:30390.8px;color:rgb(35,31,31);
}
#P616_195
{
left:14360.7px;bottom:30390.8px;color:rgb(35,31,31);
}
#P616_196
{
left:14723.9px;bottom:30390.8px;color:rgb(35,31,31);
}
#P616_197
{
left:14882.3px;bottom:30361.3px;color:rgb(35,31,31);
}
#P616_198
{
left:15468.8px;bottom:30390.8px;color:rgb(35,31,31);
}
#P616_199
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P616_200
{
left:15648.3px;bottom:30830.5px;color:rgb(35,31,31);
}
#P616_201
{
left:15984.1px;bottom:30408.4px;color:rgb(35,31,31);
}
#P616_202
{
left:15627.2px;bottom:30374.8px;color:rgb(35,31,31);
}
#P616_203
{
left:16005.2px;bottom:30392.1px;color:rgb(35,31,31);
}
#P616_204
{
left:15648.3px;bottom:29923px;color:rgb(35,31,31);
}
#P616_205
{
left:15984.1px;bottom:30408.4px;color:rgb(35,31,31);
}
#P616_206
{
left:16005.2px;bottom:30390.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P616_207
{
left:16110.8px;bottom:29952.2px;color:rgb(35,31,31);
}
#P616_208
{
left:16462.6px;bottom:30390.8px;color:rgb(35,31,31);
}
#P616_209
{
left:16867.4px;bottom:30361.3px;color:rgb(35,31,31);
}
#P616_210
{
left:17453.8px;bottom:30390.8px;color:rgb(35,31,31);
}
#P616_211
{
left:18231.7px;bottom:30361.3px;color:rgb(35,31,31);
}
#P616_212
{
left:18994.1px;bottom:30390.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P616_213
{
left:19015.3px;bottom:30881.9px;color:rgb(35,31,31);
}
#P616_214
{
left:19351.1px;bottom:30408.4px;color:rgb(35,31,31);
}
#P616_215
{
left:18994.1px;bottom:30426.2px;color:rgb(35,31,31);
}
#P616_216
{
left:19372.2px;bottom:30392.1px;color:rgb(35,31,31);
}
#P616_217
{
left:19015.3px;bottom:29974.4px;color:rgb(35,31,31);
}
#P616_218
{
left:19351.1px;bottom:30408.4px;color:rgb(35,31,31);
}
#P616_219
{
left:19372.2px;bottom:30390.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P616_220
{
left:0px;letter-spacing:0px;margin-left:117.3px;
}
#P616_221
{
left:19735.9px;bottom:30390.8px;color:rgb(35,31,31);
}
#P616_222
{
left:20099.2px;bottom:30390.8px;color:rgb(35,31,31);
}
#P616_223
{
left:20257.6px;bottom:30361.3px;color:rgb(35,31,31);
}
#P616_224
{
left:21020px;bottom:30390.8px;color:rgb(35,31,31);
}
#P616_225
{
left:9797.4px;bottom:28342.8px;word-spacing:545.6px;color:rgb(35,31,31);
}
#P616_226
{
left:0px;letter-spacing:0px;margin-left:-8.4px;
}
#P616_227
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P616_228
{
left:10914.1px;bottom:28782.5px;color:rgb(35,31,31);
}
#P616_229
{
left:11249.9px;bottom:28360.4px;color:rgb(35,31,31);
}
#P616_230
{
left:10893px;bottom:28326.8px;color:rgb(35,31,31);
}
#P616_231
{
left:11271px;bottom:28344.1px;color:rgb(35,31,31);
}
#P616_232
{
left:10914.1px;bottom:27875px;color:rgb(35,31,31);
}
#P616_233
{
left:11249.9px;bottom:28360.4px;color:rgb(35,31,31);
}
#P616_234
{
left:11271px;bottom:28342.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P616_235
{
left:11388.3px;bottom:28342.8px;color:rgb(35,31,31);
}
#P616_236
{
left:11751.6px;bottom:28342.8px;color:rgb(35,31,31);
}
#P616_237
{
left:11910px;bottom:28313.3px;color:rgb(35,31,31);
}
#P616_238
{
left:12496.4px;bottom:28342.8px;color:rgb(35,31,31);
}
#P616_239
{
left:12654.8px;bottom:28342.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P616_240
{
left:12675.9px;bottom:28782.5px;color:rgb(35,31,31);
}
#P616_241
{
left:13011.7px;bottom:28360.4px;color:rgb(35,31,31);
}
#P616_242
{
left:12654.8px;bottom:28326.8px;color:rgb(35,31,31);
}
#P616_243
{
left:13032.9px;bottom:28344.1px;color:rgb(35,31,31);
}
#P616_244
{
left:12675.9px;bottom:27875px;color:rgb(35,31,31);
}
#P616_245
{
left:13011.7px;bottom:28360.4px;color:rgb(35,31,31);
}
#P616_246
{
left:13032.9px;bottom:28342.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P616_247
{
left:13191.3px;bottom:28313.3px;color:rgb(35,31,31);
}
#P616_248
{
left:13777.7px;bottom:28342.8px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P616_249
{
left:0px;letter-spacing:0px;margin-left:-158.3px;
}
#P616_250
{
left:13957.1px;bottom:28782.5px;color:rgb(35,31,31);
}
#P616_251
{
left:14293px;bottom:28360.4px;color:rgb(35,31,31);
}
#P616_252
{
left:13936px;bottom:28326.8px;color:rgb(35,31,31);
}
#P616_253
{
left:14314.1px;bottom:28344.1px;color:rgb(35,31,31);
}
#P616_254
{
left:13957.1px;bottom:27875px;color:rgb(35,31,31);
}
#P616_255
{
left:14293px;bottom:28360.4px;color:rgb(35,31,31);
}
#P616_256
{
left:14314.1px;bottom:28342.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P616_257
{
left:14560.5px;bottom:28342.8px;color:rgb(35,31,31);
}
#P616_258
{
left:14923.7px;bottom:28342.8px;color:rgb(35,31,31);
}
#P616_259
{
left:15082.1px;bottom:28313.3px;color:rgb(35,31,31);
}
#P616_260
{
left:15844.6px;bottom:28342.8px;color:rgb(35,31,31);
}
#P616_261
{
left:7741.4px;bottom:23532.8px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P616_262
{
left:0px;letter-spacing:0px;margin-left:-13.2px;
}
#P616_263
{
left:7741.4px;bottom:22380.8px;color:rgb(35,31,31);
}
#P616_264
{
left:7918.55px;bottom:22400.6px;color:rgb(35,31,31);
}
#P616_265
{
left:9341.4px;bottom:22380.8px;color:rgb(35,31,31);
}
#P616_266
{
left:9587.74px;bottom:22380.8px;color:rgb(35,31,31);
}
#P616_267
{
left:9898.2px;bottom:22380.8px;color:rgb(35,31,31);
}
#P616_268
{
left:10056.6px;bottom:22351.3px;color:rgb(35,31,31);
}
#P616_269
{
left:10643px;bottom:22380.8px;color:rgb(35,31,31);
}
#P616_270
{
left:11579.4px;bottom:22351.3px;color:rgb(35,31,31);
}
#P616_271
{
left:12165.8px;bottom:22380.8px;color:rgb(35,31,31);
}
#P616_272
{
left:12943.7px;bottom:22380.8px;color:rgb(35,31,31);
}
#P616_273
{
left:13254px;bottom:22380.8px;color:rgb(35,31,31);
}
#P616_274
{
left:13412.5px;bottom:22351.3px;color:rgb(35,31,31);
}
#P616_275
{
left:13998.8px;bottom:22380.8px;color:rgb(35,31,31);
}
#P616_276
{
left:20782.4px;bottom:22400.6px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P616_277
{
left:22401px;bottom:22400.6px;color:rgb(35,31,31);
}
#P616_278
{
left:22422.2px;bottom:22822.6px;color:rgb(35,31,31);
}
#P616_279
{
left:22758px;bottom:22398.4px;color:rgb(35,31,31);
}
#P616_280
{
left:22401px;bottom:22366.9px;color:rgb(35,31,31);
}
#P616_281
{
left:22779.1px;bottom:22382.1px;color:rgb(35,31,31);
}
#P616_282
{
left:22422.2px;bottom:21915.1px;color:rgb(35,31,31);
}
#P616_283
{
left:22758px;bottom:22398.4px;color:rgb(35,31,31);
}
#P616_284
{
left:22779.1px;bottom:22380.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P616_285
{
left:23025.5px;bottom:22380.8px;color:rgb(35,31,31);
}
#P616_286
{
left:23438.7px;bottom:22380.8px;color:rgb(35,31,31);
}
#P616_287
{
left:23597.1px;bottom:22351.3px;color:rgb(35,31,31);
}
#P616_288
{
left:24183.6px;bottom:22380.8px;color:rgb(35,31,31);
}
#P616_289
{
left:25493px;bottom:22351.3px;color:rgb(35,31,31);
}
#P616_290
{
left:26079.4px;bottom:22380.8px;color:rgb(35,31,31);
}
#P616_291
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P616_292
{
left:26259px;bottom:22820.5px;color:rgb(35,31,31);
}
#P616_293
{
left:26594.8px;bottom:22398.4px;color:rgb(35,31,31);
}
#P616_294
{
left:26237.8px;bottom:22364.8px;color:rgb(35,31,31);
}
#P616_295
{
left:26615.9px;bottom:22382.1px;color:rgb(35,31,31);
}
#P616_296
{
left:26259px;bottom:21913px;color:rgb(35,31,31);
}
#P616_297
{
left:26594.8px;bottom:22398.4px;color:rgb(35,31,31);
}
#P616_298
{
left:26615.9px;bottom:22380.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P616_299
{
left:26862.3px;bottom:22380.8px;color:rgb(35,31,31);
}
#P616_300
{
left:27275.5px;bottom:22380.8px;color:rgb(35,31,31);
}
#P616_301
{
left:27433.9px;bottom:22351.3px;color:rgb(35,31,31);
}
#P616_302
{
left:28020.3px;bottom:22380.8px;color:rgb(35,31,31);
}
#P616_303
{
left:7741.4px;bottom:20780.8px;letter-spacing:-16.9px;color:rgb(35,31,31);
}
#P616_304
{
left:0px;letter-spacing:0px;margin-left:16.9px;
}
#P616_305
{
left:0px;letter-spacing:0px;margin-left:-225px;
}
#P616_306
{
left:0px;letter-spacing:0px;margin-left:77.1px;
}
#P616_307
{
left:0px;letter-spacing:-0.2px;
}
#P616_308
{
left:0px;letter-spacing:0px;margin-left:-27.8px;
}
#P616_309
{
left:7741.4px;bottom:19628.8px;color:rgb(35,31,31);
}
#P616_310
{
left:7918.43px;bottom:19648.6px;color:rgb(35,31,31);
}
#P616_311
{
left:9341.27px;bottom:19628.8px;color:rgb(35,31,31);
}
#P616_312
{
left:9714.39px;bottom:19628.8px;color:rgb(35,31,31);
}
#P616_313
{
left:10107.9px;bottom:19628.8px;color:rgb(35,31,31);
}
#P616_314
{
left:10266.3px;bottom:19599.3px;color:rgb(35,31,31);
}
#P616_315
{
left:10852.7px;bottom:19628.8px;color:rgb(35,31,31);
}
#P616_316
{
left:14350.6px;bottom:19648.6px;word-spacing:184.6px;color:rgb(35,31,31);
}
#P616_317
{
left:15709.4px;bottom:19648.6px;color:rgb(35,31,31);
}
#P616_318
{
left:15730.5px;bottom:20070.6px;color:rgb(35,31,31);
}
#P616_319
{
left:16066.3px;bottom:19646.4px;color:rgb(35,31,31);
}
#P616_320
{
left:15709.4px;bottom:19614.9px;color:rgb(35,31,31);
}
#P616_321
{
left:16087.4px;bottom:19630.1px;color:rgb(35,31,31);
}
#P616_322
{
left:15730.5px;bottom:19163.1px;color:rgb(35,31,31);
}
#P616_323
{
left:16066.3px;bottom:19646.4px;color:rgb(35,31,31);
}
#P616_324
{
left:16087.4px;bottom:19628.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P616_325
{
left:16204.8px;bottom:19628.8px;color:rgb(35,31,31);
}
#P616_326
{
left:16534.2px;bottom:19628.8px;color:rgb(35,31,31);
}
#P616_327
{
left:16692.6px;bottom:19599.3px;color:rgb(35,31,31);
}
#P616_328
{
left:17279.1px;bottom:19628.8px;color:rgb(35,31,31);
}
#P616_329
{
left:17437.4px;bottom:19628.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P616_330
{
left:17458.5px;bottom:20068.5px;color:rgb(35,31,31);
}
#P616_331
{
left:17794.3px;bottom:19646.4px;color:rgb(35,31,31);
}
#P616_332
{
left:17437.4px;bottom:19612.8px;color:rgb(35,31,31);
}
#P616_333
{
left:17815.4px;bottom:19630.1px;color:rgb(35,31,31);
}
#P616_334
{
left:17458.5px;bottom:19161px;color:rgb(35,31,31);
}
#P616_335
{
left:17794.3px;bottom:19646.4px;color:rgb(35,31,31);
}
#P616_336
{
left:17815.4px;bottom:19628.8px;color:rgb(35,31,31);
}
#P616_337
{
left:17815.4px;bottom:19628.8px;color:rgb(35,31,31);
}
#P616_338
{
left:20782.6px;bottom:19648.6px;color:rgb(35,31,31);
}
#P616_339
{
left:22205.4px;bottom:19628.8px;color:rgb(35,31,31);
}
#P616_340
{
left:23138.2px;bottom:19628.8px;color:rgb(35,31,31);
}
#P616_341
{
left:23355.7px;bottom:19628.8px;color:rgb(35,31,31);
}
#P616_342
{
left:23514.1px;bottom:19599.3px;color:rgb(35,31,31);
}
#P616_343
{
left:24100.5px;bottom:19628.8px;color:rgb(35,31,31);
}
#P616_344
{
left:27566.6px;bottom:19648.6px;color:rgb(35,31,31);
}
#P616_345
{
left:28936.5px;bottom:19599.3px;color:rgb(35,31,31);
}
#P616_346
{
left:29522.9px;bottom:19628.8px;color:rgb(35,31,31);
}
#P616_347
{
left:29896px;bottom:19628.8px;color:rgb(35,31,31);
}
#P616_348
{
left:30311.4px;bottom:19628.8px;color:rgb(35,31,31);
}
#P616_349
{
left:30469.8px;bottom:19599.3px;color:rgb(35,31,31);
}
#P616_350
{
left:31056.2px;bottom:19628.8px;color:rgb(35,31,31);
}
#P616_351
{
left:7741.4px;bottom:6111.98px;color:rgb(35,31,31);
}
#P616_352
{
left:0px;letter-spacing:0px;margin-left:-10.5px;
}
#P616_353
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P616_354
{
left:7741.4px;bottom:4959.98px;color:rgb(35,31,31);
}
#P616_355
{
left:7918.55px;bottom:4979.69px;color:rgb(35,31,31);
}
#P616_356
{
left:9341.4px;bottom:4959.98px;color:rgb(35,31,31);
}
#P616_357
{
left:9756.7px;bottom:4959.98px;color:rgb(35,31,31);
}
#P616_358
{
left:9915.1px;bottom:4930.41px;color:rgb(35,31,31);
}
#P616_359
{
left:10501.5px;bottom:4959.98px;color:rgb(35,31,31);
}
#P616_360
{
left:11191.4px;bottom:4930.41px;color:rgb(35,31,31);
}
#P616_361
{
left:11777.9px;bottom:4959.98px;color:rgb(35,31,31);
}
#P616_362
{
left:11936.3px;bottom:4930.41px;color:rgb(35,31,31);
}
#P616_363
{
left:12522.7px;bottom:4959.98px;color:rgb(35,31,31);
}
#P616_364
{
left:14350.6px;bottom:4979.69px;color:rgb(35,31,31);
}
#P616_365
{
left:15709.4px;bottom:4959.98px;color:rgb(35,31,31);
}
#P616_366
{
left:16240.9px;bottom:4930.41px;color:rgb(35,31,31);
}
#P616_367
{
left:16827.3px;bottom:4959.98px;color:rgb(35,31,31);
}
#P616_368
{
left:16985.7px;bottom:4959.98px;color:rgb(35,31,31);
}
#P616_369
{
left:17379.2px;bottom:4959.98px;color:rgb(35,31,31);
}
#P616_370
{
left:17537.6px;bottom:4930.41px;color:rgb(35,31,31);
}
#P616_371
{
left:18124.1px;bottom:4959.98px;color:rgb(35,31,31);
}
#P616_372
{
left:20782.5px;bottom:4979.69px;color:rgb(35,31,31);
}
#P616_373
{
left:22205.3px;bottom:4930.41px;color:rgb(35,31,31);
}
#P616_374
{
left:22791.8px;bottom:4959.98px;color:rgb(35,31,31);
}
#P616_375
{
left:23323.3px;bottom:4930.41px;color:rgb(35,31,31);
}
#P616_376
{
left:23909.7px;bottom:4959.98px;color:rgb(35,31,31);
}
#P616_377
{
left:24068.1px;bottom:4959.98px;color:rgb(35,31,31);
}
#P616_378
{
left:24285.7px;bottom:4959.98px;color:rgb(35,31,31);
}
#P616_379
{
left:24444.1px;bottom:4930.41px;color:rgb(35,31,31);
}
#P616_380
{
left:25030.5px;bottom:4959.98px;color:rgb(35,31,31);
}
#P616_381
{
left:25188.9px;bottom:4930.41px;color:rgb(35,31,31);
}
#P616_382
{
left:25775.3px;bottom:4959.98px;color:rgb(35,31,31);
}
#P616_383
{
left:27566.6px;bottom:4979.69px;color:rgb(35,31,31);
}
#P616_384
{
left:28925.5px;bottom:4959.98px;color:rgb(35,31,31);
}
#P616_385
{
left:29319px;bottom:4959.98px;color:rgb(35,31,31);
}
#P616_386
{
left:29477.4px;bottom:4930.41px;color:rgb(35,31,31);
}
#P616_387
{
left:30063.8px;bottom:4959.98px;color:rgb(35,31,31);
}
#P616_388
{
left:31126.9px;bottom:4930.41px;color:rgb(35,31,31);
}
#P616_389
{
left:31713.3px;bottom:4959.98px;color:rgb(35,31,31);
}
#P616_390
{
left:31871.7px;bottom:4930.41px;color:rgb(35,31,31);
}
#P616_391
{
left:32458.1px;bottom:4959.98px;color:rgb(35,31,31);
}
#P616_392
{
left:7741.47px;bottom:3295.98px;color:rgb(35,31,31);
}
#P616_393
{
left:7918.62px;bottom:3315.69px;color:rgb(35,31,31);
}
#P616_394
{
left:9341.47px;bottom:3295.98px;color:rgb(35,31,31);
}
#P616_395
{
left:9776.54px;bottom:3295.98px;color:rgb(35,31,31);
}
#P616_396
{
left:9934.94px;bottom:3266.41px;color:rgb(35,31,31);
}
#P616_397
{
left:10521.4px;bottom:3295.98px;color:rgb(35,31,31);
}
#P616_398
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P616_399
{
left:10700.8px;bottom:3735.66px;color:rgb(35,31,31);
}
#P616_400
{
left:11036.6px;bottom:3313.58px;color:rgb(35,31,31);
}
#P616_401
{
left:10679.6px;bottom:3279.97px;color:rgb(35,31,31);
}
#P616_402
{
left:11057.7px;bottom:3297.25px;color:rgb(35,31,31);
}
#P616_403
{
left:10700.8px;bottom:2828.14px;color:rgb(35,31,31);
}
#P616_404
{
left:11036.6px;bottom:3313.58px;color:rgb(35,31,31);
}
#P616_405
{
left:11057.7px;bottom:3295.98px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P616_406
{
left:11216.1px;bottom:3266.41px;color:rgb(35,31,31);
}
#P616_407
{
left:11802.5px;bottom:3295.98px;color:rgb(35,31,31);
}
#P616_408
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P616_409
{
left:11982px;bottom:3735.66px;color:rgb(35,31,31);
}
#P616_410
{
left:12317.8px;bottom:3313.58px;color:rgb(35,31,31);
}
#P616_411
{
left:11960.9px;bottom:3279.97px;color:rgb(35,31,31);
}
#P616_412
{
left:12339px;bottom:3297.25px;color:rgb(35,31,31);
}
#P616_413
{
left:11982px;bottom:2828.14px;color:rgb(35,31,31);
}
#P616_414
{
left:12317.8px;bottom:3313.58px;color:rgb(35,31,31);
}
#P616_415
{
left:12339px;bottom:3295.98px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P616_416
{
left:14350.5px;bottom:3315.69px;color:rgb(35,31,31);
}
#P616_417
{
left:15709.5px;bottom:3295.98px;color:rgb(35,31,31);
}
#P616_418
{
left:16068.4px;bottom:3295.98px;color:rgb(35,31,31);
}
#P616_419
{
left:16226.9px;bottom:3266.41px;color:rgb(35,31,31);
}
#P616_420
{
left:16813.3px;bottom:3295.98px;color:rgb(35,31,31);
}
#P616_421
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P616_422
{
left:16992.7px;bottom:3735.66px;color:rgb(35,31,31);
}
#P616_423
{
left:17328.5px;bottom:3313.58px;color:rgb(35,31,31);
}
#P616_424
{
left:16971.6px;bottom:3279.97px;color:rgb(35,31,31);
}
#P616_425
{
left:17349.7px;bottom:3297.25px;color:rgb(35,31,31);
}
#P616_426
{
left:16992.7px;bottom:2828.14px;color:rgb(35,31,31);
}
#P616_427
{
left:17328.5px;bottom:3313.58px;color:rgb(35,31,31);
}
#P616_428
{
left:17349.7px;bottom:3295.98px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P616_429
{
left:17508.1px;bottom:3266.41px;color:rgb(35,31,31);
}
#P616_430
{
left:18094.5px;bottom:3295.98px;color:rgb(35,31,31);
}
#P616_431
{
left:18252.9px;bottom:3266.41px;color:rgb(35,31,31);
}
#P616_432
{
left:18839.3px;bottom:3295.98px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P616_433
{
left:18860.4px;bottom:3787.05px;color:rgb(35,31,31);
}
#P616_434
{
left:19196.2px;bottom:3313.58px;color:rgb(35,31,31);
}
#P616_435
{
left:18839.3px;bottom:3331.36px;color:rgb(35,31,31);
}
#P616_436
{
left:19217.4px;bottom:3297.25px;color:rgb(35,31,31);
}
#P616_437
{
left:18860.4px;bottom:2879.53px;color:rgb(35,31,31);
}
#P616_438
{
left:19196.2px;bottom:3313.58px;color:rgb(35,31,31);
}
#P616_439
{
left:19217.4px;bottom:3295.98px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P616_440
{
left:20782.5px;bottom:3315.69px;color:rgb(35,31,31);
}
#P616_441
{
left:22205.3px;bottom:3295.98px;color:rgb(35,31,31);
}
#P616_442
{
left:22445.4px;bottom:3295.98px;color:rgb(35,31,31);
}
#P616_443
{
left:22603.8px;bottom:3266.41px;color:rgb(35,31,31);
}
#P616_444
{
left:23190.2px;bottom:3295.98px;color:rgb(35,31,31);
}
#P616_445
{
left:24439.8px;bottom:3266.41px;color:rgb(35,31,31);
}
#P616_446
{
left:25026.3px;bottom:3295.98px;color:rgb(35,31,31);
}
#P616_447
{
left:27566.6px;bottom:3315.69px;color:rgb(35,31,31);
}
#P616_448
{
left:28923.8px;bottom:3463.24px;color:rgb(35,31,31);
}
#P616_449
{
left:29476.4px;bottom:3295.98px;color:rgb(35,31,31);
}
#P616_450
{
left:29634.8px;bottom:3266.41px;color:rgb(35,31,31);
}
#P616_451
{
left:30221.2px;bottom:3295.98px;color:rgb(35,31,31);
}
#P616_452
{
left:31843.9px;bottom:3266.41px;color:rgb(35,31,31);
}
#P616_453
{
left:32430.4px;bottom:3295.98px;color:rgb(35,31,31);
}
#P616_454
{
left:32588.8px;bottom:3266.41px;color:rgb(35,31,31);
}
#P616_455
{
left:33175.2px;bottom:3295.98px;color:rgb(35,31,31);
}
#P616_456
{
left:6109.4px;bottom:16906.9px;letter-spacing:9.6px;
}
#P616_457
{
left:6109.4px;bottom:16906.9px;letter-spacing:9.6px;color:white;
}
#P616_458
{
left:8669.4px;bottom:16942.6px;color:rgb(2,77,161);
}
#P616_459
{
left:10317.9px;bottom:17134.4px;color:rgb(2,77,161);
}
#P616_460
{
left:10558.1px;bottom:16942.6px;color:rgb(2,77,161);
}
#P616_461
{
left:13983.8px;bottom:17134.4px;color:rgb(2,77,161);
}
#P616_462
{
left:14224px;bottom:16942.6px;color:rgb(2,77,161);
}
#P616_463
{
left:16705.4px;bottom:17134.4px;color:rgb(2,77,161);
}
#P616_464
{
left:16945.6px;bottom:16942.6px;word-spacing:-31.9px;color:rgb(2,77,161);
}
#P616_465
{
left:19666.5px;bottom:17134.4px;color:rgb(2,77,161);
}
#P616_466
{
left:19906.6px;bottom:16942.6px;color:rgb(2,77,161);
}
#P616_467
{
left:20242.8px;bottom:17134.4px;color:rgb(2,77,161);
}
#P616_468
{
left:20483px;bottom:16942.6px;letter-spacing:-1.2px;color:rgb(2,77,161);
}
#P616_469
{
left:26021.4px;bottom:17134.4px;color:rgb(2,77,161);
}
#P616_470
{
left:26261.6px;bottom:16942.6px;color:rgb(2,77,161);
}
#P616_471
{
left:28101.7px;bottom:17000px;color:rgb(2,77,161);
}
#P616_472
{
left:0px;letter-spacing:0px;margin-left:25.6px;
}
#P616_473
{
left:0px;letter-spacing:0px;margin-left:38.4px;
}
#P616_474
{
left:7677.4px;bottom:15340.2px;letter-spacing:-2.1px;color:rgb(35,31,31);
}
#P616_475
{
left:9570.52px;bottom:15345.8px;color:rgb(35,31,31);
}
#P616_476
{
left:9933.79px;bottom:15340.2px;color:rgb(35,31,31);
}
#P616_477
{
left:10081.6px;bottom:15310.6px;color:rgb(35,31,31);
}
#P616_478
{
left:10668px;bottom:15340.2px;color:rgb(35,31,31);
}
#P616_479
{
left:11357.9px;bottom:15310.6px;color:rgb(35,31,31);
}
#P616_480
{
left:12530.8px;bottom:15340.2px;color:rgb(35,31,31);
}
#P616_481
{
left:10429.4px;bottom:13804.2px;color:rgb(35,31,31);
}
#P616_482
{
left:10792.7px;bottom:13804.2px;color:rgb(35,31,31);
}
#P616_483
{
left:10951.1px;bottom:13774.6px;color:rgb(35,31,31);
}
#P616_484
{
left:11537.5px;bottom:13804.2px;color:rgb(35,31,31);
}
#P616_485
{
left:12227.4px;bottom:13774.6px;color:rgb(35,31,31);
}
#P616_486
{
left:12813.8px;bottom:13804.2px;color:rgb(35,31,31);
}
#P616_487
{
left:12972.2px;bottom:13774.6px;color:rgb(35,31,31);
}
#P616_488
{
left:13558.6px;bottom:13804.2px;color:rgb(35,31,31);
}
#P616_489
{
left:16253.4px;bottom:13812.2px;color:rgb(0,124,196);
}
#P616_490
{
left:10941.4px;bottom:12302.6px;color:rgb(235,26,35);
}
#P616_491
{
left:11527.8px;bottom:12332.2px;color:rgb(235,26,35);
}
#P616_492
{
left:12059.4px;bottom:12332.2px;color:rgb(35,31,31);
}
#P616_493
{
left:12797.4px;bottom:12302.6px;color:rgb(235,26,35);
}
#P616_494
{
left:13383.8px;bottom:12332.2px;color:rgb(235,26,35);
}
#P616_495
{
left:13915.4px;bottom:12332.2px;color:rgb(35,31,31);
}
#P616_496
{
left:16253.4px;bottom:12340.2px;color:rgb(0,124,196);
}
#P616_497
{
left:11709.4px;bottom:10860.2px;color:rgb(35,31,31);
}
#P616_498
{
left:12072.7px;bottom:10860.2px;color:rgb(35,31,31);
}
#P616_499
{
left:12231.1px;bottom:10830.6px;color:rgb(35,31,31);
}
#P616_500
{
left:12817.5px;bottom:10860.2px;color:rgb(35,31,31);
}
#P616_501
{
left:16253.4px;bottom:10868.2px;word-spacing:2743.1px;color:rgb(0,124,196);
}
#P616_502
{
left:0px;letter-spacing:0px;margin-left:-49.7px;
}
#P616_503
{
left:3017.94px;bottom:12335.3px;color:rgb(0,124,196);
}
#P616_504
{
left:25389.9px;bottom:14887.1px;color:rgb(235,26,35);
}
#P616_505
{
left:25389.9px;bottom:13769.5px;color:rgb(35,31,31);
}
#P616_506
{
left:25960px;bottom:13799.1px;color:rgb(235,26,35);
}
#P616_507
{
left:26323.2px;bottom:13799.1px;color:rgb(35,31,31);
}
#P616_508
{
left:26481.6px;bottom:13769.5px;color:rgb(35,31,31);
}
#P616_509
{
left:27068px;bottom:13799.1px;color:rgb(35,31,31);
}
#P616_510
{
left:27757.9px;bottom:13769.5px;color:rgb(35,31,31);
}
#P616_511
{
left:28344.3px;bottom:13799.1px;color:rgb(35,31,31);
}
#P616_512
{
left:28502.7px;bottom:13769.5px;color:rgb(35,31,31);
}
#P616_513
{
left:28934.3px;bottom:13799.1px;color:rgb(35,31,31);
}
#P616_514
{
left:25389.9px;bottom:12327.1px;color:rgb(35,31,31);
}
#P616_515
{
left:25950.1px;bottom:12327.1px;color:rgb(235,26,35);
}
#P616_516
{
left:26323.2px;bottom:12327.1px;color:rgb(35,31,31);
}
#P616_517
{
left:26481.6px;bottom:12297.5px;color:rgb(35,31,31);
}
#P616_518
{
left:27068px;bottom:12327.1px;color:rgb(35,31,31);
}
#P616_519
{
left:27757.9px;bottom:12297.5px;color:rgb(35,31,31);
}
#P616_520
{
left:27921.9px;bottom:12744.7px;color:rgb(235,26,35);
}
#P616_521
{
left:28348px;bottom:12327.1px;color:rgb(35,31,31);
}
#P616_522
{
left:28506.4px;bottom:12297.5px;color:rgb(35,31,31);
}
#P616_523
{
left:28937.9px;bottom:12327.1px;color:rgb(35,31,31);
}
#P616_524
{
left:25389.9px;bottom:10791.1px;color:rgb(35,31,31);
}
#P616_525
{
left:26636.5px;bottom:10761.5px;color:rgb(35,31,31);
}
#P616_526
{
left:27068px;bottom:10791.1px;color:rgb(35,31,31);
}
#P616_527
{
left:27757.9px;bottom:10761.5px;color:rgb(35,31,31);
}
#P616_528
{
left:28344.3px;bottom:10791.1px;color:rgb(35,31,31);
}
#P616_529
{
left:28502.7px;bottom:10761.5px;color:rgb(35,31,31);
}
#P616_530
{
left:28934.3px;bottom:10791.1px;color:rgb(35,31,31);
}
#P616_531
{
left:29817.8px;bottom:10880px;color:rgb(235,26,35);
}
#PageContainer616
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg616.jpg");background-repeat:no-repeat;background-size: 1066px 1283px; background-position: 1px 0.160000000000082px;
}
#ImageContainer616 {bottom:80.84px;right:0.00px;width:1066.24px;height:1283.32px;position:absolute;} #TextContainer616 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}