.tr730{ color:transparent;}
#P730_1
{
left:4163.99px;bottom:38786.4px;
}
#P730_2
{
left:0px;letter-spacing:0px;margin-left:994.6px;
}
#P730_3
{
left:0px;letter-spacing:0px;margin-left:-349.4px;
}
#P730_4
{
left:8073.69px;bottom:39084.8px;
}
#P730_5
{
left:4163.99px;bottom:38786.4px;word-spacing:994.6px;color:white;
}
#P730_6
{
left:7427.23px;bottom:38786.4px;color:white;
}
#P730_7
{
left:8447.32px;bottom:38786.4px;letter-spacing:-6.9px;
}
#P730_8
{
left:0px;letter-spacing:-3.5px;margin-left:6.9px;
}
#P730_9
{
left:8073.69px;bottom:39084.8px;color:white;
}
#P730_10
{
left:8447.32px;bottom:38786.4px;letter-spacing:-6.9px;color:white;
}
#P730_11
{
left:0px;letter-spacing:-3.5px;margin-left:6.9px;
}
#P730_12
{
left:7427.16px;bottom:37173.6px;
}
#P730_13
{
left:8671.71px;bottom:37472px;
}
#P730_14
{
left:9045.34px;bottom:37173.6px;letter-spacing:-16.6px;
}
#P730_15
{
left:0px;letter-spacing:-24.9px;margin-left:16.6px;
}
#P730_16
{
left:0px;letter-spacing:-3px;margin-left:24.9px;
}
#P730_17
{
left:18757.1px;bottom:37472px;
}
#P730_18
{
left:7427.16px;bottom:37173.6px;color:white;
}
#P730_19
{
left:19130.7px;bottom:37173.6px;letter-spacing:-20.8px;
}
#P730_20
{
left:0px;letter-spacing:0px;margin-left:20.8px;
}
#P730_21
{
left:8671.71px;bottom:37472px;color:white;
}
#P730_22
{
left:9045.34px;bottom:37173.6px;letter-spacing:-16.6px;word-spacing:-49.6px;color:white;
}
#P730_23
{
left:0px;letter-spacing:-2.2px;margin-left:314.2px;
}
#P730_24
{
left:18757.3px;bottom:37472px;color:white;
}
#P730_25
{
left:19131px;bottom:37173.6px;letter-spacing:-3.1px;word-spacing:-49.6px;color:white;
}
#P730_26
{
left:4163.99px;bottom:35048.8px;
}
#P730_27
{
left:0px;letter-spacing:0px;margin-left:994.6px;
}
#P730_28
{
left:0px;letter-spacing:0px;margin-left:-349.4px;
}
#P730_29
{
left:8273.95px;bottom:35347.2px;
}
#P730_30
{
left:4163.99px;bottom:35048.8px;word-spacing:994.6px;color:white;
}
#P730_31
{
left:7427.23px;bottom:35048.8px;color:white;
}
#P730_32
{
left:8647.58px;bottom:35048.8px;letter-spacing:-1.9px;
}
#P730_33
{
left:8273.95px;bottom:35347.2px;color:white;
}
#P730_34
{
left:8647.58px;bottom:35048.8px;letter-spacing:-1.9px;color:white;
}
#P730_35
{
left:7427.16px;bottom:33436px;
}
#P730_36
{
left:13651.2px;bottom:33734.4px;
}
#P730_37
{
left:14024.9px;bottom:33436px;
}
#P730_38
{
left:15543.6px;bottom:33734.4px;
}
#P730_39
{
left:15917.2px;bottom:33436px;letter-spacing:-12.5px;
}
#P730_40
{
left:19179px;bottom:33734.4px;
}
#P730_41
{
left:7427.16px;bottom:33436px;color:white;
}
#P730_42
{
left:19552.6px;bottom:33436px;
}
#P730_43
{
left:13651.2px;bottom:33734.4px;color:white;
}
#P730_44
{
left:14024.9px;bottom:33436px;color:white;
}
#P730_45
{
left:15543.6px;bottom:33734.4px;color:white;
}
#P730_46
{
left:15917.2px;bottom:33436px;word-spacing:-49.7px;color:white;
}
#P730_47
{
left:19179.1px;bottom:33734.4px;color:white;
}
#P730_48
{
left:19552.7px;bottom:33436px;color:white;
}
#P730_49
{
left:0px;bottom:0px;letter-spacing:0px;color:white;
}
#P730_50
{
left:0px;bottom:0px;letter-spacing:0px;color:white;
}
#P730_51
{
left:0px;bottom:0px;letter-spacing:0px;word-spacing:-73.8px;color:white;
}
#P730_52
{
left:0px;bottom:0px;letter-spacing:0px;color:white;
}
#P730_53
{
left:0px;bottom:0px;letter-spacing:0px;color:white;
}
#P730_54
{
left:0px;bottom:0px;letter-spacing:-2.4px;color:white;
}
#P730_55
{
left:2847.4px;bottom:44237.4px;
}
#P730_56
{
left:12820.8px;bottom:44876.8px;
}
#P730_57
{
left:13621.5px;bottom:44237.4px;
}
#P730_58
{
left:2847.4px;bottom:41600.5px;
}
#P730_59
{
left:7927.71px;bottom:42112px;
}
#P730_60
{
left:8568.22px;bottom:41600.5px;
}
#PageContainer730
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg730.jpg");background-repeat:no-repeat;background-size: 1066px 1364px; background-position: right bottom;
}
#ImageContainer730 {bottom:0.00px;right:0.00px;width:1066.24px;height:1364.16px;position:absolute;} #TextContainer730 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
