.tr768{ color:transparent;}
#P768_1
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P768_2
{
left:4925.07px;bottom:1410.03px;letter-spacing:6.3px;word-spacing:1094.2px;color:rgb(35,31,31);
}
#P768_3
{
left:0px;letter-spacing:0px;margin-left:0.3px;
}
#P768_4
{
left:0px;letter-spacing:0px;margin-left:-1094.2px;
}
#P768_5
{
left:0px;letter-spacing:7.7px;margin-left:6.6px;
}
#P768_6
{
left:2969.56px;bottom:43457px;word-spacing:348.2px;color:rgb(35,31,31);
}
#P768_7
{
left:4029.4px;bottom:43439.1px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P768_8
{
left:0px;letter-spacing:0px;margin-left:-15.6px;
}
#P768_9
{
left:0px;letter-spacing:-1.6px;
}
#P768_10
{
left:2969.56px;bottom:42177px;word-spacing:348.2px;color:rgb(35,31,31);
}
#P768_11
{
left:4029.4px;bottom:42159.1px;letter-spacing:-0.3px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P768_12
{
left:0px;letter-spacing:-0.1px;margin-left:0.2px;
}
#P768_13
{
left:4029.4px;bottom:41327.1px;letter-spacing:-1.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P768_14
{
left:0px;letter-spacing:-7.7px;margin-left:137.4px;
}
#P768_15
{
left:0px;letter-spacing:-0.1px;margin-left:7.7px;
}
#P768_16
{
left:0px;letter-spacing:-0.1px;margin-left:-54.3px;
}
#P768_17
{
left:0px;letter-spacing:-0.8px;
}
#P768_18
{
left:0px;letter-spacing:-0.2px;margin-left:144.6px;
}
#P768_19
{
left:4029.4px;bottom:40495.1px;color:rgb(35,31,31);
}
#P768_20
{
left:2969.56px;bottom:39233px;word-spacing:348.2px;color:rgb(35,31,31);
}
#P768_21
{
left:4029.4px;bottom:39215.1px;letter-spacing:-3.2px;color:rgb(35,31,31);
}
#P768_22
{
left:0px;letter-spacing:-0.2px;margin-left:3.2px;
}
#P768_23
{
left:0px;letter-spacing:0px;margin-left:-18.8px;
}
#P768_24
{
left:0px;letter-spacing:-0.8px;
}
#P768_25
{
left:0px;letter-spacing:-1px;margin-left:0.8px;
}
#P768_26
{
left:2969.56px;bottom:37953px;color:rgb(35,31,31);
}
#P768_27
{
left:3965.4px;bottom:37935.1px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P768_28
{
left:18265.6px;bottom:37953px;color:rgb(35,31,31);
}
#P768_29
{
left:19261.4px;bottom:37935.1px;color:rgb(35,31,31);
}
#P768_30
{
left:2613.72px;bottom:36673px;color:rgb(35,31,31);
}
#P768_31
{
left:3965.4px;bottom:36655.1px;color:rgb(35,31,31);
}
#P768_32
{
left:4492.76px;bottom:36655.1px;letter-spacing:176px;color:rgb(35,31,31);
}
#P768_33
{
left:0px;letter-spacing:-5.7px;margin-left:-179.8px;
}
#P768_34
{
left:0px;letter-spacing:-1.2px;margin-left:5.7px;
}
#P768_35
{
left:0px;letter-spacing:-0.2px;margin-left:1.2px;
}
#P768_36
{
left:0px;letter-spacing:-3.2px;margin-left:-12.5px;
}
#P768_37
{
left:2365.4px;bottom:35311.1px;letter-spacing:816px;color:rgb(35,31,31);
}
#P768_38
{
left:3965.4px;bottom:35311.1px;letter-spacing:-6.3px;color:rgb(35,31,31);
}
#P768_39
{
left:4845.53px;bottom:35311.1px;word-spacing:176px;color:rgb(35,31,31);
}
#P768_40
{
left:0px;letter-spacing:0px;margin-left:-176px;
}
#P768_41
{
left:2613.72px;bottom:34049px;color:rgb(35,31,31);
}
#P768_42
{
left:4029.4px;bottom:34031.1px;color:rgb(35,31,31);
}
#P768_43
{
left:8543.26px;bottom:34031.1px;letter-spacing:176px;color:rgb(35,31,31);
}
#P768_44
{
left:0px;letter-spacing:0px;margin-left:-176px;
}
#P768_45
{
left:2613.72px;bottom:32769px;word-spacing:348.2px;color:rgb(35,31,31);
}
#P768_46
{
left:4029.4px;bottom:32751.1px;letter-spacing:-1.5px;color:rgb(35,31,31);
}
#P768_47
{
left:0px;letter-spacing:0px;margin-left:-24px;
}
#P768_48
{
left:0px;letter-spacing:0.1px;
}
#P768_49
{
left:4029.4px;bottom:31919.1px;letter-spacing:-0.9px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P768_50
{
left:0px;letter-spacing:-8.5px;margin-left:-6.8px;
}
#P768_51
{
left:0px;letter-spacing:-1.2px;margin-left:4.8px;
}
#P768_52
{
left:0px;letter-spacing:-0.1px;margin-left:-20.5px;
}
#P768_53
{
left:0px;letter-spacing:-0.4px;
}
#P768_54
{
left:0px;letter-spacing:-4.3px;margin-left:-5.9px;
}
#P768_55
{
left:2613.72px;bottom:30657px;word-spacing:348.2px;color:rgb(35,31,31);
}
#P768_56
{
left:4029.4px;bottom:30639.1px;letter-spacing:-3.2px;color:rgb(35,31,31);
}
#P768_57
{
left:0px;letter-spacing:-0.8px;margin-left:3.2px;
}
#P768_58
{
left:0px;letter-spacing:0px;margin-left:-18.3px;
}
#P768_59
{
left:0px;letter-spacing:0px;
}
#P768_60
{
left:4029.4px;bottom:29807.1px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P768_61
{
left:0px;letter-spacing:0px;margin-left:-12.3px;
}
#P768_62
{
left:0px;letter-spacing:0px;margin-left:-12.7px;
}
#P768_63
{
left:2613.72px;bottom:28545px;color:rgb(35,31,31);
}
#P768_64
{
left:3965.4px;bottom:28527.1px;color:rgb(35,31,31);
}
#P768_65
{
left:13301.7px;bottom:28545px;color:rgb(35,31,31);
}
#P768_66
{
left:14653.4px;bottom:28527.1px;color:rgb(35,31,31);
}
#P768_67
{
left:23797.7px;bottom:28545px;color:rgb(35,31,31);
}
#P768_68
{
left:25149.4px;bottom:28527.1px;color:rgb(35,31,31);
}
#P768_69
{
left:2369.56px;bottom:45518.9px;color:white;
}
#P768_70
{
left:4932.57px;bottom:45817.3px;color:white;
}
#P768_71
{
left:5306.2px;bottom:45518.9px;color:white;
}
#P768_72
{
left:11821.4px;bottom:45979.3px;color:rgb(2,77,161);
}
#P768_73
{
left:11821.4px;bottom:44997.9px;color:rgb(2,77,161);
}
#P768_74
{
left:2365.4px;bottom:22271.1px;color:rgb(35,31,31);
}
#P768_75
{
left:2969.56px;bottom:22289px;color:rgb(35,31,31);
}
#P768_76
{
left:3965.4px;bottom:22289px;color:rgb(35,31,31);
}
#P768_77
{
left:3965.4px;bottom:22271.1px;color:rgb(35,31,31);
}
#P768_78
{
left:8479.26px;bottom:22271.1px;letter-spacing:176px;color:rgb(35,31,31);
}
#P768_79
{
left:0px;letter-spacing:0px;margin-left:-176px;
}
#P768_80
{
left:18265.6px;bottom:22289px;color:rgb(35,31,31);
}
#P768_81
{
left:19261.4px;bottom:22271.1px;letter-spacing:-1.9px;color:rgb(35,31,31);
}
#P768_82
{
left:0px;letter-spacing:-0.8px;margin-left:1.9px;
}
#P768_83
{
left:0px;letter-spacing:0px;margin-left:-11.9px;
}
#P768_84
{
left:0px;letter-spacing:0px;margin-left:-12.7px;
}
#P768_85
{
left:0px;letter-spacing:0px;margin-left:-38.3px;
}
#P768_86
{
left:2365.4px;bottom:20991.1px;color:rgb(35,31,31);
}
#P768_87
{
left:2969.56px;bottom:21009px;color:rgb(35,31,31);
}
#P768_88
{
left:3965.4px;bottom:20991.1px;color:rgb(35,31,31);
}
#P768_89
{
left:18265.6px;bottom:21009px;color:rgb(35,31,31);
}
#P768_90
{
left:19261.4px;bottom:20991.1px;color:rgb(35,31,31);
}
#P768_91
{
left:2365.4px;bottom:19711.1px;color:rgb(35,31,31);
}
#P768_92
{
left:2969.56px;bottom:19729px;color:rgb(35,31,31);
}
#P768_93
{
left:3965.4px;bottom:19711.1px;color:rgb(35,31,31);
}
#P768_94
{
left:17909.7px;bottom:19729px;color:rgb(35,31,31);
}
#P768_95
{
left:19261.4px;bottom:19711.1px;color:rgb(35,31,31);
}
#P768_96
{
left:2365.4px;bottom:18431.1px;color:rgb(35,31,31);
}
#P768_97
{
left:2613.72px;bottom:18449px;word-spacing:348.2px;color:rgb(35,31,31);
}
#P768_98
{
left:4029.4px;bottom:18431.1px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P768_99
{
left:0px;letter-spacing:-6.3px;margin-left:0.9px;
}
#P768_100
{
left:0px;letter-spacing:-0.9px;margin-left:6.3px;
}
#P768_101
{
left:0px;letter-spacing:-3.3px;margin-left:0.9px;
}
#P768_102
{
left:0px;letter-spacing:0px;margin-left:3.3px;
}
#P768_103
{
left:4029.4px;bottom:17599.1px;color:rgb(35,31,31);
}
#P768_104
{
left:2365.4px;bottom:16319.1px;color:rgb(35,31,31);
}
#P768_105
{
left:2613.72px;bottom:16337px;color:rgb(35,31,31);
}
#P768_106
{
left:4029.4px;bottom:16319.1px;color:rgb(35,31,31);
}
#P768_107
{
left:2365.4px;bottom:15039.1px;color:rgb(35,31,31);
}
#P768_108
{
left:2613.72px;bottom:15057px;word-spacing:348.2px;color:rgb(35,31,31);
}
#P768_109
{
left:4029.4px;bottom:15039.1px;color:rgb(35,31,31);
}
#P768_110
{
left:4029.4px;bottom:14207.1px;color:rgb(35,31,31);
}
#P768_111
{
left:8543.26px;bottom:14207.1px;color:rgb(35,31,31);
}
#P768_112
{
left:0px;letter-spacing:0px;margin-left:153px;
}
#P768_113
{
left:0px;letter-spacing:0px;margin-left:-3.8px;
}
#P768_114
{
left:0px;letter-spacing:0px;margin-left:-23px;
}
#P768_115
{
left:4029.4px;bottom:13375.1px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P768_116
{
left:0px;letter-spacing:-4.2px;margin-left:0.3px;
}
#P768_117
{
left:2365.4px;bottom:12095.1px;color:rgb(35,31,31);
}
#P768_118
{
left:2613.72px;bottom:12113px;word-spacing:348.2px;color:rgb(35,31,31);
}
#P768_119
{
left:4029.4px;bottom:12095.1px;color:rgb(35,31,31);
}
#P768_120
{
left:4029.4px;bottom:11263.1px;color:rgb(35,31,31);
}
#P768_121
{
left:8543.26px;bottom:11263.1px;letter-spacing:153px;color:rgb(35,31,31);
}
#P768_122
{
left:0px;letter-spacing:-0.5px;margin-left:-153px;
}
#P768_123
{
left:0px;letter-spacing:0px;margin-left:-12.2px;
}
#P768_124
{
left:0px;letter-spacing:0px;margin-left:-12.7px;
}
#P768_125
{
left:4029.4px;bottom:10431.1px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P768_126
{
left:2365.4px;bottom:9151.08px;color:rgb(35,31,31);
}
#P768_127
{
left:2613.72px;bottom:9169px;color:rgb(35,31,31);
}
#P768_128
{
left:4029.4px;bottom:9151.08px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P768_129
{
left:0px;letter-spacing:0px;margin-left:1514.2px;
}
#P768_130
{
left:0px;letter-spacing:-0.3px;margin-left:-6.3px;
}
#P768_131
{
left:2365.4px;bottom:8127.08px;color:rgb(35,31,31);
}
#P768_132
{
left:0px;letter-spacing:0px;margin-left:1584px;
}
#P768_133
{
left:0px;letter-spacing:0px;margin-left:1952.6px;
}
#P768_134
{
left:2365.4px;bottom:7295.08px;color:rgb(35,31,31);
}
#P768_135
{
left:0px;letter-spacing:0px;margin-left:1584px;
}
#P768_136
{
left:0px;letter-spacing:0px;margin-left:1892.5px;
}
#P768_137
{
left:2365.4px;bottom:6463.08px;color:rgb(35,31,31);
}
#P768_138
{
left:0px;letter-spacing:0px;margin-left:1584px;
}
#P768_139
{
left:0px;letter-spacing:0px;margin-left:1628.2px;
}
#P768_140
{
left:2365.4px;bottom:5439.08px;letter-spacing:1584px;color:rgb(35,31,31);
}
#P768_141
{
left:0px;letter-spacing:0px;margin-left:-1728px;
}
#P768_142
{
left:0px;letter-spacing:-0.3px;
}
#P768_143
{
left:0px;letter-spacing:0px;margin-left:-54.1px;
}
#P768_144
{
left:0px;letter-spacing:-0.6px;
}
#P768_145
{
left:0px;letter-spacing:-8.9px;margin-left:-12.1px;
}
#P768_146
{
left:0px;letter-spacing:-0.7px;margin-left:8.9px;
}
#P768_147
{
left:4093.4px;bottom:4607.08px;color:rgb(35,31,31);
}
#P768_148
{
left:0px;letter-spacing:0px;margin-left:-38.3px;
}
#P768_149
{
left:2365.4px;bottom:3327.08px;color:rgb(35,31,31);
}
#P768_150
{
left:2613.72px;bottom:3345px;color:rgb(35,31,31);
}
#P768_151
{
left:4029.4px;bottom:3327.08px;color:rgb(35,31,31);
}
#P768_152
{
left:2333.12px;bottom:24360px;color:white;
}
#P768_153
{
left:4896.15px;bottom:24658.4px;color:white;
}
#P768_154
{
left:5269.79px;bottom:24360px;color:white;
}
#P768_155
{
left:11785px;bottom:24820.5px;letter-spacing:-1px;color:rgb(2,77,161);
}
#P768_156
{
left:11785px;bottom:23839.1px;color:rgb(2,77,161);
}
#P768_157
{
left:0px;letter-spacing:0px;margin-left:49.9px;
}
#PageContainer768
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg768.jpg");background-repeat:no-repeat;background-size: 611px 652px; background-position: 0px 74.49px;
}
#ImageContainer768 {bottom:637.51px;left:0.00px;width:610.89px;height:651.89px;position:absolute;} #TextContainer768 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
