.tr157{ color:transparent;}
#P157_1
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P157_2
{
left:17467.7px;bottom:1410.03px;color:rgb(35,31,31);
}
#P157_3
{
left:22019.9px;bottom:1410.03px;letter-spacing:460.2px;word-spacing:1.9px;color:rgb(35,31,31);
}
#P157_4
{
left:0px;letter-spacing:7.6px;margin-left:-457.7px;
}
#P157_5
{
left:0px;letter-spacing:0.1px;margin-left:-9.5px;
}
#P157_6
{
left:0px;letter-spacing:0.3px;margin-left:2.3px;
}
#P157_7
{
left:0px;letter-spacing:1.1px;margin-left:-4.7px;
}
#P157_8
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P157_9
{
left:6973.4px;bottom:46554.2px;color:rgb(35,31,31);
}
#P157_10
{
left:7150.55px;bottom:46573.9px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P157_11
{
left:8637.4px;bottom:46573.9px;color:rgb(2,77,161);
}
#P157_12
{
left:12537.6px;bottom:46554.2px;letter-spacing:168.2px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P157_13
{
left:0px;letter-spacing:-0.3px;margin-left:-168.3px;
}
#P157_14
{
left:26367.5px;bottom:46115.6px;color:rgb(35,31,31);
}
#P157_15
{
left:26719.3px;bottom:46554.2px;color:rgb(35,31,31);
}
#P157_16
{
left:26877.7px;bottom:46554.2px;color:rgb(35,31,31);
}
#P157_17
{
left:27240.9px;bottom:46554.2px;color:rgb(35,31,31);
}
#P157_18
{
left:27346.5px;bottom:46115.6px;color:rgb(35,31,31);
}
#P157_19
{
left:27698.3px;bottom:46554.2px;color:rgb(35,31,31);
}
#P157_20
{
left:6973.4px;bottom:45210.2px;color:rgb(35,31,31);
}
#P157_21
{
left:8725.34px;bottom:45210.2px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P157_22
{
left:9917.4px;bottom:45210.2px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P157_23
{
left:0px;letter-spacing:0px;margin-left:-13.1px;
}
#P157_24
{
left:30565px;bottom:44187.9px;color:rgb(235,26,35);
}
#P157_25
{
left:35937.4px;bottom:46290.9px;color:rgb(235,26,35);
}
#P157_26
{
left:34944.9px;bottom:44838.2px;color:rgb(235,26,35);
}
#P157_27
{
left:6973.4px;bottom:44122.2px;color:rgb(35,31,31);
}
#P157_28
{
left:8689.24px;bottom:44122.2px;letter-spacing:-17.4px;color:rgb(35,31,31);
}
#P157_29
{
left:9917.4px;bottom:44122.2px;letter-spacing:-1.7px;color:rgb(35,31,31);
}
#P157_30
{
left:12118.8px;bottom:44122.2px;color:rgb(35,31,31);
}
#P157_31
{
left:12482.1px;bottom:44122.2px;color:rgb(35,31,31);
}
#P157_32
{
left:12640.5px;bottom:44092.6px;color:rgb(35,31,31);
}
#P157_33
{
left:13226.9px;bottom:44122.2px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P157_34
{
left:6973.4px;bottom:42842.2px;letter-spacing:289.6px;color:rgb(35,31,31);
}
#P157_35
{
left:0px;letter-spacing:0px;margin-left:1151.9px;
}
#P157_36
{
left:9845.21px;bottom:42861.9px;color:rgb(0,124,196);
}
#P157_37
{
left:10549.2px;bottom:42842.2px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P157_38
{
left:0px;letter-spacing:0px;margin-left:-193.6px;
}
#P157_39
{
left:18323.4px;bottom:42861.9px;color:rgb(0,124,196);
}
#P157_40
{
left:19302.2px;bottom:42842.2px;letter-spacing:0.9px;word-spacing:193.6px;color:rgb(35,31,31);
}
#P157_41
{
left:22619.8px;bottom:42861.9px;color:rgb(0,124,196);
}
#P157_42
{
left:23597.7px;bottom:42842.2px;word-spacing:193.6px;color:rgb(35,31,31);
}
#P157_43
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P157_44
{
left:0px;letter-spacing:0px;margin-left:-193.6px;
}
#P157_45
{
left:26325px;bottom:42842.2px;word-spacing:56.3px;color:rgb(35,31,31);
}
#P157_46
{
left:0px;letter-spacing:0px;margin-left:-56.3px;
}
#P157_47
{
left:6973.4px;bottom:40794.2px;letter-spacing:-14.8px;color:rgb(35,31,31);
}
#P157_48
{
left:0px;letter-spacing:-0.5px;margin-left:14.8px;
}
#P157_49
{
left:0px;letter-spacing:-14px;margin-left:-27.6px;
}
#P157_50
{
left:0px;letter-spacing:-0.5px;margin-left:14px;
}
#P157_51
{
left:6973.4px;bottom:39642px;color:rgb(35,31,31);
}
#P157_52
{
left:7150.55px;bottom:39661.7px;color:rgb(35,31,31);
}
#P157_53
{
left:8637.4px;bottom:39642px;color:rgb(35,31,31);
}
#P157_54
{
left:17459.6px;bottom:39642px;color:rgb(35,31,31);
}
#P157_55
{
left:17822.9px;bottom:39642px;color:rgb(35,31,31);
}
#P157_56
{
left:6973.27px;bottom:38298px;color:rgb(35,31,31);
}
#P157_57
{
left:7150.3px;bottom:38317.7px;color:rgb(35,31,31);
}
#P157_58
{
left:8637.15px;bottom:38298px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P157_59
{
left:18486px;bottom:38298px;color:rgb(35,31,31);
}
#P157_60
{
left:18815.5px;bottom:38298px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P157_61
{
left:0px;letter-spacing:0px;margin-left:1.3px;
}
#P157_62
{
left:6973.21px;bottom:36250px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P157_63
{
left:0px;letter-spacing:0px;margin-left:0.7px;
}
#P157_64
{
left:23416.4px;bottom:36250px;word-spacing:77.1px;color:rgb(35,31,31);
}
#P157_65
{
left:0px;letter-spacing:0px;margin-left:-77.1px;
}
#P157_66
{
left:0px;letter-spacing:0.2px;
}
#P157_67
{
left:0px;letter-spacing:0px;margin-left:-50.7px;
}
#P157_68
{
left:6973.21px;bottom:33306px;color:rgb(35,31,31);
}
#P157_69
{
left:7150.23px;bottom:33325.7px;color:rgb(35,31,31);
}
#P157_70
{
left:6973.21px;bottom:31834px;color:rgb(35,31,31);
}
#P157_71
{
left:7150.23px;bottom:31853.7px;color:rgb(35,31,31);
}
#P157_72
{
left:6973.21px;bottom:30362.2px;color:rgb(35,31,31);
}
#P157_73
{
left:7150.23px;bottom:30381.9px;color:rgb(35,31,31);
}
#P157_74
{
left:6973.21px;bottom:28890.2px;color:rgb(35,31,31);
}
#P157_75
{
left:7150.23px;bottom:28909.9px;color:rgb(35,31,31);
}
#P157_76
{
left:6973.21px;bottom:27418.2px;color:rgb(35,31,31);
}
#P157_77
{
left:7150.23px;bottom:27437.9px;color:rgb(35,31,31);
}
#P157_78
{
left:6973.21px;bottom:25370.2px;color:rgb(35,31,31);
}
#P157_79
{
left:7150.23px;bottom:25389.9px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P157_80
{
left:8637.4px;bottom:25389.9px;letter-spacing:-12.9px;color:rgb(2,77,161);
}
#P157_81
{
left:10228.4px;bottom:25370.2px;letter-spacing:151.5px;color:rgb(35,31,31);
}
#P157_82
{
left:0px;letter-spacing:0px;margin-left:-214.7px;
}
#P157_83
{
left:0px;letter-spacing:0.1px;
}
#P157_84
{
left:0px;letter-spacing:-63.2px;margin-left:-42.2px;
}
#P157_85
{
left:0px;letter-spacing:0px;margin-left:63.2px;
}
#P157_86
{
left:30919px;bottom:25370.2px;word-spacing:56.3px;color:rgb(35,31,31);
}
#P157_87
{
left:8637.4px;bottom:24474.2px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P157_88
{
left:0px;letter-spacing:-63.2px;margin-left:-41.7px;
}
#P157_89
{
left:0px;letter-spacing:0.4px;margin-left:63.2px;
}
#P157_90
{
left:24833.6px;bottom:24474.2px;color:rgb(35,31,31);
}
#P157_91
{
left:25196.8px;bottom:24474.2px;color:rgb(35,31,31);
}
#P157_92
{
left:6973.4px;bottom:23130.2px;color:rgb(35,31,31);
}
#P157_93
{
left:8725.34px;bottom:23130.2px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P157_94
{
left:9917.4px;bottom:23130.2px;letter-spacing:-13.1px;color:rgb(35,31,31);
}
#P157_95
{
left:0px;letter-spacing:-0.3px;margin-left:13.1px;
}
#P157_96
{
left:6973.4px;bottom:22042.2px;color:rgb(35,31,31);
}
#P157_97
{
left:8689.37px;bottom:22042.2px;letter-spacing:-13.9px;word-spacing:499.1px;color:rgb(35,31,31);
}
#P157_98
{
left:9917.47px;bottom:22042.2px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P157_99
{
left:17018.8px;bottom:22012.6px;color:rgb(35,31,31);
}
#P157_100
{
left:17605.1px;bottom:22042.2px;color:rgb(35,31,31);
}
#P157_101
{
left:18509.8px;bottom:22042.2px;color:rgb(35,31,31);
}
#P157_102
{
left:18873px;bottom:22042.2px;letter-spacing:-5.6px;color:rgb(35,31,31);
}
#P157_103
{
left:0px;letter-spacing:-0.1px;margin-left:5.6px;
}
#P157_104
{
left:9917.47px;bottom:21146.2px;letter-spacing:-1.7px;color:rgb(35,31,31);
}
#P157_105
{
left:0px;letter-spacing:0px;margin-left:-19.3px;
}
#P157_106
{
left:0px;letter-spacing:-0.1px;
}
#P157_107
{
left:9917.47px;bottom:20250.2px;letter-spacing:0.3px;color:rgb(35,31,31);
}
#P157_108
{
left:6973.53px;bottom:18842.2px;color:rgb(35,31,31);
}
#P157_109
{
left:8760.6px;bottom:18842.2px;letter-spacing:-14px;word-spacing:492.2px;color:rgb(35,31,31);
}
#P157_110
{
left:13651.5px;bottom:18861.9px;color:rgb(2,77,161);
}
#P157_111
{
left:14003.5px;bottom:18842.2px;letter-spacing:-31.6px;color:rgb(35,31,31);
}
#P157_112
{
left:0px;letter-spacing:-0.5px;margin-left:31.6px;
}
#P157_113
{
left:0px;letter-spacing:0.6px;margin-left:0.5px;
}
#P157_114
{
left:0px;letter-spacing:0px;margin-left:-42.7px;
}
#P157_115
{
left:0px;letter-spacing:-0.3px;
}
#P157_116
{
left:9917.4px;bottom:17946.2px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P157_117
{
left:15781px;bottom:17946.2px;color:rgb(35,31,31);
}
#P157_118
{
left:16144.3px;bottom:17946.2px;color:rgb(35,31,31);
}
#P157_119
{
left:6973.4px;bottom:12897.8px;letter-spacing:-4.6px;color:rgb(35,31,31);
}
#P157_120
{
left:0px;letter-spacing:-0.9px;margin-left:4.6px;
}
#P157_121
{
left:0px;letter-spacing:0px;margin-left:-27.2px;
}
#P157_122
{
left:15584.3px;bottom:12897.8px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P157_123
{
left:6973.4px;bottom:11745.8px;color:rgb(35,31,31);
}
#P157_124
{
left:7150.55px;bottom:11765.5px;color:rgb(35,31,31);
}
#P157_125
{
left:8573.4px;bottom:11745.8px;color:rgb(35,31,31);
}
#P157_126
{
left:10097.6px;bottom:11716.3px;color:rgb(35,31,31);
}
#P157_127
{
left:10684px;bottom:11745.8px;color:rgb(35,31,31);
}
#P157_128
{
left:14446.5px;bottom:11765.5px;color:rgb(35,31,31);
}
#P157_129
{
left:15869.3px;bottom:11745.8px;color:rgb(35,31,31);
}
#P157_130
{
left:17766.6px;bottom:11716.3px;color:rgb(35,31,31);
}
#P157_131
{
left:18353px;bottom:11745.8px;color:rgb(35,31,31);
}
#P157_132
{
left:21870.6px;bottom:11765.5px;color:rgb(35,31,31);
}
#P157_133
{
left:23293.5px;bottom:11745.8px;color:rgb(35,31,31);
}
#P157_134
{
left:24444.5px;bottom:11716.3px;color:rgb(35,31,31);
}
#P157_135
{
left:25030.9px;bottom:11745.8px;color:rgb(35,31,31);
}
#P157_136
{
left:29230.6px;bottom:11765.5px;color:rgb(35,31,31);
}
#P157_137
{
left:30653.5px;bottom:11745.8px;color:rgb(35,31,31);
}
#P157_138
{
left:32177.6px;bottom:11716.3px;color:rgb(35,31,31);
}
#P157_139
{
left:32764.1px;bottom:11745.8px;color:rgb(35,31,31);
}
#P157_140
{
left:6973.47px;bottom:10145.8px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P157_141
{
left:0px;letter-spacing:-28px;margin-left:-42px;
}
#P157_142
{
left:21895.9px;bottom:10145.8px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P157_143
{
left:6973.4px;bottom:8993.84px;color:rgb(35,31,31);
}
#P157_144
{
left:7150.55px;bottom:9013.55px;color:rgb(35,31,31);
}
#P157_145
{
left:8573.4px;bottom:8993.84px;color:rgb(35,31,31);
}
#P157_146
{
left:14446.5px;bottom:9013.55px;color:rgb(35,31,31);
}
#P157_147
{
left:15869.3px;bottom:8993.84px;color:rgb(35,31,31);
}
#P157_148
{
left:21870.6px;bottom:9013.55px;color:rgb(35,31,31);
}
#P157_149
{
left:23293.5px;bottom:8993.84px;color:rgb(35,31,31);
}
#P157_150
{
left:29230.6px;bottom:9013.55px;color:rgb(35,31,31);
}
#P157_151
{
left:30653.5px;bottom:8993.84px;color:rgb(35,31,31);
}
#P157_152
{
left:6973.47px;bottom:7265.84px;color:rgb(35,31,31);
}
#P157_153
{
left:7150.62px;bottom:7285.55px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P157_154
{
left:8637.4px;bottom:7285.55px;letter-spacing:-17.6px;color:rgb(2,77,161);
}
#P157_155
{
left:0px;letter-spacing:0px;margin-left:17.6px;
}
#P157_156
{
left:14113px;bottom:7265.84px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P157_157
{
left:0px;letter-spacing:-0.7px;margin-left:-193.6px;
}
#P157_158
{
left:0px;letter-spacing:0px;margin-left:-13.3px;
}
#P157_159
{
left:0px;letter-spacing:0px;margin-left:-13.9px;
}
#P157_160
{
left:0px;letter-spacing:-21.1px;margin-left:-14px;
}
#P157_161
{
left:0px;letter-spacing:0px;margin-left:21.1px;
}
#P157_162
{
left:8637.4px;bottom:6369.84px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P157_163
{
left:0px;letter-spacing:0px;margin-left:0.6px;
}
#P157_164
{
left:22139.5px;bottom:6369.84px;color:rgb(35,31,31);
}
#P157_165
{
left:22843.5px;bottom:6369.84px;letter-spacing:-2.1px;color:rgb(0,124,196);
}
#P157_166
{
left:0px;letter-spacing:-1.5px;margin-left:-6.3px;
}
#P157_167
{
left:0px;letter-spacing:0px;margin-left:1.5px;
}
#P157_168
{
left:6973.4px;bottom:4705.84px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P157_169
{
left:8550.49px;bottom:4749.22px;color:rgb(35,31,31);
}
#P157_170
{
left:8887.32px;bottom:4870.35px;color:rgb(35,31,31);
}
#P157_171
{
left:9533.4px;bottom:4705.84px;color:rgb(35,31,31);
}
#P157_172
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P157_173
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P157_174
{
left:10322.5px;bottom:5145.52px;color:rgb(35,31,31);
}
#P157_175
{
left:10658.3px;bottom:4723.44px;color:rgb(35,31,31);
}
#P157_176
{
left:10301.4px;bottom:4689.82px;color:rgb(35,31,31);
}
#P157_177
{
left:10679.4px;bottom:4707.1px;color:rgb(35,31,31);
}
#P157_178
{
left:10322.5px;bottom:4238px;color:rgb(35,31,31);
}
#P157_179
{
left:10658.3px;bottom:4723.44px;color:rgb(35,31,31);
}
#P157_180
{
left:10679.4px;bottom:4705.84px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P157_181
{
left:15846.5px;bottom:4749.22px;color:rgb(35,31,31);
}
#P157_182
{
left:16183.3px;bottom:4870.35px;color:rgb(35,31,31);
}
#P157_183
{
left:16829.4px;bottom:4705.84px;color:rgb(35,31,31);
}
#P157_184
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P157_185
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P157_186
{
left:17786.4px;bottom:5145.52px;color:rgb(35,31,31);
}
#P157_187
{
left:18122.2px;bottom:4723.44px;color:rgb(35,31,31);
}
#P157_188
{
left:17597.4px;bottom:4689.82px;color:rgb(35,31,31);
}
#P157_189
{
left:18311.3px;bottom:4707.1px;color:rgb(35,31,31);
}
#P157_190
{
left:17618.5px;bottom:4238px;color:rgb(35,31,31);
}
#P157_191
{
left:18290.1px;bottom:4723.44px;color:rgb(35,31,31);
}
#P157_192
{
left:18311.3px;bottom:4705.84px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P157_193
{
left:23334.5px;bottom:4749.22px;color:rgb(35,31,31);
}
#P157_194
{
left:23671.3px;bottom:4870.35px;color:rgb(35,31,31);
}
#P157_195
{
left:24317.4px;bottom:4705.84px;color:rgb(35,31,31);
}
#P157_196
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P157_197
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P157_198
{
left:25274.4px;bottom:5145.52px;color:rgb(35,31,31);
}
#P157_199
{
left:25610.2px;bottom:4723.44px;color:rgb(35,31,31);
}
#P157_200
{
left:25085.4px;bottom:4689.82px;color:rgb(35,31,31);
}
#P157_201
{
left:25799.3px;bottom:4707.1px;color:rgb(35,31,31);
}
#P157_202
{
left:25106.5px;bottom:4238px;color:rgb(35,31,31);
}
#P157_203
{
left:25778.1px;bottom:4723.44px;color:rgb(35,31,31);
}
#P157_204
{
left:25799.3px;bottom:4705.84px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P157_205
{
left:30694.5px;bottom:4749.22px;color:rgb(35,31,31);
}
#P157_206
{
left:31031.3px;bottom:4870.35px;color:rgb(35,31,31);
}
#P157_207
{
left:31677.4px;bottom:4705.84px;color:rgb(35,31,31);
}
#P157_208
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P157_209
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P157_210
{
left:32466.5px;bottom:5145.52px;color:rgb(35,31,31);
}
#P157_211
{
left:33138.1px;bottom:4723.44px;color:rgb(35,31,31);
}
#P157_212
{
left:32445.4px;bottom:4689.82px;color:rgb(35,31,31);
}
#P157_213
{
left:33159.3px;bottom:4707.1px;color:rgb(35,31,31);
}
#P157_214
{
left:32466.5px;bottom:4238px;color:rgb(35,31,31);
}
#P157_215
{
left:33138.1px;bottom:4723.44px;color:rgb(35,31,31);
}
#P157_216
{
left:33159.3px;bottom:4705.84px;color:rgb(35,31,31);
}
#P157_217
{
left:14173.3px;bottom:34714.5px;color:rgb(35,31,31);
}
#P157_218
{
left:0px;letter-spacing:0px;margin-left:-11.9px;
}
#P157_219
{
left:0px;letter-spacing:0px;margin-left:8487.4px;
}
#P157_220
{
left:8973.4px;bottom:33279.7px;letter-spacing:-0.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P157_220a
{
left: 20909.4px;bottom:33279.7px;letter-spacing:-0.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P157_221
{
left:0px;letter-spacing:-0.1px;margin-left:-25px;
}
#P157_222
{
left:0px;letter-spacing:-0.1px;
}
#P157_223
{
left:0px;letter-spacing:0px;margin-left:1924.1px;
}
#P157_224
{
left:0px;letter-spacing:-0.1px;margin-left:-0.1px;
}
#P157_225
{
left:23848.2px;bottom:33279.7px;color:rgb(35,31,31);
}
#P157_226
{
left:24177.6px;bottom:33279.7px;color:rgb(35,31,31);
}
#P157_227
{
left:24582.4px;bottom:33250.1px;color:rgb(35,31,31);
}
#P157_228
{
left:8973.4px;bottom:31807.6px;letter-spacing:0px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P157_228a
{
left: 22823.4px;bottom:31807.6px;letter-spacing:0px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P157_229
{
left:0px;letter-spacing:-4.3px;margin-left:0.8px;
}
#P157_230
{
left:0px;letter-spacing:-0.1px;margin-left:4.2px;
}
#P157_231
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P157_232
{
left:0px;
letter-spacing: 0px;
margin-left: 0px;
}
#P157_233
{
left:24267px;bottom:31369px;color:rgb(35,31,31);
}
#P157_234
{
left:24618.8px;bottom:31807.6px;color:rgb(35,31,31);
}
#P157_235
{
left:25023.6px;bottom:31807.6px;color:rgb(35,31,31);
}
#P157_236
{
left:25386.8px;bottom:31807.6px;color:rgb(35,31,31);
}
#P157_237
{
left:25492.4px;bottom:31369px;color:rgb(35,31,31);
}
#P157_238
{
left:25844.2px;bottom:31807.6px;color:rgb(35,31,31);
}
#P157_239
{
left:26780.5px;bottom:31778px;color:rgb(35,31,31);
}
#P157_240
{
left:27366.9px;bottom:31807.6px;color:rgb(35,31,31);
}
#P157_241
{
left:8973.4px;bottom:30335.6px;letter-spacing:-0.7px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P157_241a
{
left: 22928.4px;bottom:30335.6px;letter-spacing:-0.7px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P157_242
{
left:0px;letter-spacing:-0.1px;margin-left:0.6px;
}
#P157_243
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P157_244
{
left:0px;letter-spacing:-0.1px;margin-left:-0.1px;
}
#P157_245
{
left:23760.2px;bottom:30306px;color:rgb(35,31,31);
}
#P157_246
{
left:24346.6px;bottom:30335.6px;color:rgb(35,31,31);
}
#P157_247
{
left:25282.9px;bottom:30306px;color:rgb(35,31,31);
}
#P157_248
{
left:25869.3px;bottom:30335.6px;color:rgb(35,31,31);
}
#P157_249
{
left:26400.8px;bottom:30335.6px;color:rgb(35,31,31);
}
#P157_250
{
left:26764.1px;bottom:30335.6px;color:rgb(35,31,31);
}
#P157_251
{
left:27168.9px;bottom:30306px;color:rgb(35,31,31);
}
#P157_252
{
left:27755.3px;bottom:30335.6px;color:rgb(35,31,31);
}
#P157_253
{
left:8973.4px;bottom:28863.6px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P157_253a
{
left: 17153.4px;bottom:28863.6px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P157_254
{
left:0px;letter-spacing:-1px;margin-left:1px;
}
#P157_255
{
left:0px;letter-spacing:0px;margin-left:5782.2px;
}
#P157_256
{
left:0px;letter-spacing:0px;
}
#P157_257
{
left:23387px;bottom:28834px;color:rgb(35,31,31);
}
#P157_258
{
left:23973.5px;bottom:28863.6px;color:rgb(35,31,31);
}
#P157_259
{
left:24378.3px;bottom:28863.6px;color:rgb(35,31,31);
}
#P157_260
{
left:24688.7px;bottom:28863.6px;color:rgb(35,31,31);
}
#P157_261
{
left:24847.1px;bottom:28834px;color:rgb(35,31,31);
}
#P157_262
{
left:25433.5px;bottom:28863.6px;color:rgb(35,31,31);
}
#P157_263
{
left:26369.8px;bottom:28834px;color:rgb(35,31,31);
}
#P157_264
{
left:26956.2px;bottom:28863.6px;color:rgb(35,31,31);
}
#P157_265
{
left:8973.4px;bottom:27391.6px;letter-spacing:-6.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P157_265a
{
left: 22873.4px;bottom:27391.6px;letter-spacing:-6.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P157_266
{
left:0px;letter-spacing:-0.4px;margin-left:6.3px;
}
#P157_267
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P157_268
{
left:23228.6px;bottom:27362px;color:rgb(35,31,31);
}
#P157_269
{
left:23351.8px;bottom:26953px;color:rgb(35,31,31);
}
#P157_270
{
left:23703.6px;bottom:27362px;color:rgb(35,31,31);
}
#P157_271
{
left:23879.6px;bottom:27391.6px;color:rgb(35,31,31);
}
#P157_272
{
left:24432.2px;bottom:27391.6px;color:rgb(35,31,31);
}
#P157_273
{
left:24537.8px;bottom:26953px;color:rgb(35,31,31);
}
#P157_274
{
left:24889.6px;bottom:27391.6px;color:rgb(35,31,31);
}
#P157_275
{
left:25952.7px;bottom:27362px;color:rgb(35,31,31);
}
#P157_276
{
left:26539.1px;bottom:27391.6px;color:rgb(35,31,31);
}
#PageContainer157
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg157.jpg");background-repeat:no-repeat;background-size: 825px 1166px; background-position: 153.07px 100.64px;
}
#ImageContainer157 {bottom:97.36px;left:153.07px;width:824.73px;height:1166.25px;position:absolute;} #TextContainer157 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}