.tr321{ color:transparent;}
#P321_1
{
left:4592.6px;bottom:1410.03px;letter-spacing:14791.1px;color:rgb(35,31,31);
}
#P321_2
{
left:19739.5px;bottom:1410.03px;color:rgb(35,31,31);
}
#P321_3
{
left:21944.3px;bottom:1410.03px;color:rgb(35,31,31);
}
#P321_4
{
left:22122.2px;bottom:1410.03px;letter-spacing:-49.3px;color:rgb(35,31,31);
}
#P321_5
{
left:22913.2px;bottom:1410.03px;letter-spacing:462.1px;color:rgb(35,31,31);
}
#P321_6
{
left:0px;letter-spacing:-0.9px;margin-left:-467.1px;
}
#P321_7
{
left:0px;letter-spacing:1.9px;margin-left:-3.4px;
}
#P321_8
{
left:0px;letter-spacing:-7.3px;margin-left:-1.9px;
}
#P321_9
{
left:0px;letter-spacing:0px;margin-left:3.7px;
}
#P321_10
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P321_11
{
left:11619.5px;bottom:43292.8px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P321_12
{
left:0px;letter-spacing:0.4px;margin-left:14.1px;
}
#P321_13
{
left:0px;letter-spacing:-14px;margin-left:-42.5px;
}
#P321_14
{
left:0px;letter-spacing:0px;margin-left:1.4px;
}
#P321_15
{
left:0px;letter-spacing:-3px;margin-left:-7px;
}
#P321_16
{
left:0px;letter-spacing:-14px;margin-left:3px;
}
#P321_17
{
left:0px;letter-spacing:-2.6px;margin-left:14px;
}
#P321_18
{
left:11619.5px;bottom:42396.8px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P321_19
{
left:0px;letter-spacing:-14px;margin-left:-27.9px;
}
#P321_20
{
left:0px;letter-spacing:-1.3px;margin-left:14px;
}
#P321_21
{
left:11619.5px;bottom:41500.8px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P321_22
{
left:11610.1px;bottom:40220.7px;letter-spacing:-9.3px;word-spacing:-147.8px;color:rgb(35,31,31);
}
#P321_23
{
left:12771.5px;bottom:40220.8px;letter-spacing:-2.3px;color:rgb(0,124,196);
}
#P321_24
{
left:11612.4px;bottom:33756.8px;letter-spacing:-13.9px;word-spacing:-140.9px;color:rgb(35,31,31);
}
#P321_25
{
left:12771.5px;bottom:33756.8px;letter-spacing:-2.3px;color:rgb(0,124,196);
}
#P321_26
{
left:11610.1px;bottom:26332.8px;letter-spacing:-9.3px;word-spacing:-147.8px;color:rgb(35,31,31);
}
#P321_27
{
left:12771.5px;bottom:26332.8px;letter-spacing:-2.3px;color:rgb(0,124,196);
}
#P321_28
{
left:12497.7px;bottom:44853px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P321_29
{
left:15922.8px;bottom:45044.8px;color:rgb(255,223,126);
}
#P321_30
{
left:16547.5px;bottom:44853px;word-spacing:207.4px;color:white;
}
#P321_31
{
left:18547.7px;bottom:45044.8px;color:white;
}
#P321_32
{
left:18787.9px;bottom:44853px;color:white;
}
#P321_33
{
left:19124px;bottom:45044.8px;color:white;
}
#P321_34
{
left:19364.2px;bottom:44853px;letter-spacing:-6.4px;color:white;
}
#P321_35
{
left:0px;letter-spacing:-4px;margin-left:-15.1px;
}
#P321_36
{
left:0px;letter-spacing:0px;margin-left:4px;
}
#P321_37
{
left:10757.3px;bottom:44729.5px;
}
#P321_38
{
left:10757.3px;bottom:44729.5px;color:white;
}
#P321_39
{
left:14909.4px;bottom:4147.56px;letter-spacing:228.8px;color:rgb(0,124,196);
}
#P321_40
{
left:15325.4px;bottom:4179.56px;letter-spacing:-9.3px;color:rgb(35,31,31);
}
#P321_41
{
left:0px;letter-spacing:0.1px;margin-left:9.3px;
}
#P321_42
{
left:15325.4px;bottom:3283.58px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P321_43
{
left:0px;letter-spacing:0px;margin-left:0.9px;
}
#P321_44
{
left:9074.71px;bottom:38443.7px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P321_45
{
left:0px;letter-spacing:-0.5px;margin-left:0.4px;
}
#P321_46
{
left:0px;letter-spacing:2.3px;margin-left:-16.3px;
}
#P321_47
{
left:0px;letter-spacing:0px;margin-left:-2.3px;
}
#P321_48
{
left:32058.8px;bottom:38443.7px;word-spacing:56.3px;color:rgb(35,31,31);
}
#P321_49
{
left:0px;letter-spacing:0px;margin-left:-56.3px;
}
#P321_50
{
left:9074.71px;bottom:37547.7px;letter-spacing:-0.6px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P321_51
{
left:0px;letter-spacing:-0.6px;margin-left:-13.4px;
}
#P321_52
{
left:0px;letter-spacing:0px;margin-left:-66.3px;
}
#P321_53
{
left:0px;letter-spacing:-1.6px;margin-left:156.8px;
}
#P321_54
{
left:0px;letter-spacing:-0.6px;margin-left:159.4px;
}
#P321_55
{
left:9074.71px;bottom:36651.8px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P321_56
{
left:0px;letter-spacing:-63.2px;margin-left:-41.7px;
}
#P321_57
{
left:0px;letter-spacing:-0.5px;margin-left:63.2px;
}
#P321_58
{
left:0px;letter-spacing:-0.3px;margin-left:-13.5px;
}
#P321_59
{
left:9074.71px;bottom:35755.8px;letter-spacing:-0.7px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P321_60
{
left:0px;letter-spacing:-7px;margin-left:-20.2px;
}
#P321_61
{
left:0px;letter-spacing:-0.1px;margin-left:7px;
}
#P321_62
{
left:9074.71px;bottom:31944.2px;letter-spacing:-31.6px;color:rgb(35,31,31);
}
#P321_63
{
left:0px;letter-spacing:-0.7px;margin-left:31.6px;
}
#P321_64
{
left:0px;letter-spacing:-0.7px;margin-left:0.7px;
}
#P321_65
{
left:0px;letter-spacing:0px;margin-left:-24.5px;
}
#P321_66
{
left:0px;letter-spacing:-0.7px;
}
#P321_67
{
left:0px;letter-spacing:0px;margin-left:0.7px;
}
#P321_68
{
left:9074.71px;bottom:31048.2px;letter-spacing:-31.6px;color:rgb(35,31,31);
}
#P321_69
{
left:0px;letter-spacing:-0.6px;margin-left:31.6px;
}
#P321_70
{
left:0px;letter-spacing:-1.5px;margin-left:0.6px;
}
#P321_71
{
left:0px;letter-spacing:-0.6px;margin-left:-12.4px;
}
#P321_72
{
left:0px;letter-spacing:-0.3px;margin-left:0.6px;
}
#P321_73
{
left:0px;letter-spacing:0px;margin-left:-13.7px;
}
#P321_74
{
left:9074.71px;bottom:30152.3px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P321_75
{
left:0px;letter-spacing:0px;margin-left:-59.1px;
}
#P321_76
{
left:0px;letter-spacing:-7px;margin-left:-28px;
}
#P321_77
{
left:0px;letter-spacing:-0.9px;margin-left:7px;
}
#P321_78
{
left:0px;letter-spacing:0px;margin-left:-13px;
}
#P321_79
{
left:0px;letter-spacing:-4.2px;margin-left:-4.2px;
}
#P321_80
{
left:0px;letter-spacing:0px;margin-left:4.2px;
}
#P321_81
{
left:9074.71px;bottom:29256.3px;letter-spacing:-1.6px;color:rgb(35,31,31);
}
#P321_82
{
left:0px;letter-spacing:0px;margin-left:-33.5px;
}
#P321_83
{
left:0px;letter-spacing:-63.2px;margin-left:-42px;
}
#P321_84
{
left:0px;letter-spacing:-0.1px;margin-left:63.2px;
}
#P321_85
{
left:0px;letter-spacing:6.9px;margin-left:-27.9px;
}
#P321_86
{
left:0px;letter-spacing:-4.2px;margin-left:-6.9px;
}
#P321_87
{
left:0px;letter-spacing:0px;margin-left:-73.2px;
}
#P321_88
{
left:0px;letter-spacing:0px;
}
#P321_89
{
left:9074.71px;bottom:28360.3px;letter-spacing:-214.7px;color:rgb(35,31,31);
}
#P321_90
{
left:0px;letter-spacing:0px;margin-left:271px;
}
#P321_91
{
left:0px;letter-spacing:-17.5px;
}
#P321_92
{
left:0px;letter-spacing:-0.9px;margin-left:17.5px;
}
#P321_93
{
left:0px;letter-spacing:-1.6px;margin-left:0.9px;
}
#P321_94
{
left:9074.71px;bottom:24603.7px;letter-spacing:-63.2px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P321_95
{
left:0px;letter-spacing:-1.2px;margin-left:63.2px;
}
#P321_96
{
left:0px;letter-spacing:-0.1px;margin-left:1.1px;
}
#P321_97
{
left:0px;letter-spacing:0px;margin-left:-66.8px;
}
#P321_98
{
left:0px;letter-spacing:-25.3px;margin-left:133.1px;
}
#P321_99
{
left:0px;letter-spacing:0px;margin-left:-45px;
}
#P321_100
{
left:0px;letter-spacing:-1.1px;margin-left:157.3px;
}
#P321_101
{
left:0px;letter-spacing:-0.1px;margin-left:1.1px;
}
#P321_102
{
left:9074.71px;bottom:23707.7px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P321_103
{
left:0px;letter-spacing:0px;margin-left:-214.7px;
}
#P321_104
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P321_105
{
left:0px;letter-spacing:-0.2px;
}
#P321_106
{
left:9074.71px;bottom:22811.8px;letter-spacing:-0.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P321_107
{
left:0px;letter-spacing:-0.1px;margin-left:-13.6px;
}
#P321_108
{
left:0px;letter-spacing:-0.3px;margin-left:-13.9px;
}
#P321_109
{
left:0px;letter-spacing:-0.8px;margin-left:157.9px;
}
#P321_110
{
left:0px;letter-spacing:-0.1px;margin-left:-27.2px;
}
#P321_111
{
left:9074.71px;bottom:21915.9px;letter-spacing:-0.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P321_112
{
left:0px;letter-spacing:-0.1px;margin-left:-25.2px;
}
#P321_113
{
left:0px;letter-spacing:0px;
}
#P321_114
{
left:9074.71px;bottom:21020px;letter-spacing:-1.7px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P321_115
{
left:0px;letter-spacing:0.2px;margin-left:160.2px;
}
#P321_116
{
left:0px;letter-spacing:-0.1px;margin-left:-42.3px;
}
#P321_117
{
left:0px;letter-spacing:-4.3px;
}
#P321_118
{
left:0px;letter-spacing:-0.3px;margin-left:4.2px;
}
#P321_119
{
left:10477.4px;bottom:16547px;color:rgb(35,31,31);
}
#P321_120
{
left:10935.8px;bottom:16573.8px;color:rgb(35,31,31);
}
#P321_121
{
left:12077.4px;bottom:16566.7px;color:rgb(2,77,161);
}
#P321_122
{
left:12077.4px;bottom:16566.7px;word-spacing:-26px;color:rgb(2,77,161);
}
#P321_123
{
left:0px;letter-spacing:0px;margin-left:-26px;
}
#P321_124
{
left:0px;letter-spacing:0px;margin-left:26px;
}
#P321_125
{
left:19237.3px;bottom:16547px;letter-spacing:193.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P321_126
{
left:0px;letter-spacing:-7px;margin-left:-214.5px;
}
#P321_127
{
left:0px;letter-spacing:-0.5px;margin-left:7px;
}
#P321_128
{
left:0px;letter-spacing:-0.3px;margin-left:-13.4px;
}
#P321_129
{
left:0px;letter-spacing:-0.1px;margin-left:-3.8px;
}
#P321_130
{
left:12077.4px;bottom:15651px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P321_131
{
left:0px;letter-spacing:-1.2px;margin-left:-7.4px;
}
#P321_132
{
left:0px;letter-spacing:-0.5px;margin-left:1.2px;
}
#P321_133
{
left:0px;letter-spacing:-4.7px;margin-left:-13.3px;
}
#P321_134
{
left:12077.4px;bottom:14755.1px;letter-spacing:-2.6px;color:rgb(35,31,31);
}
#P321_135
{
left:0px;letter-spacing:-4.2px;margin-left:2.6px;
}
#P321_136
{
left:0px;letter-spacing:-0.4px;
}
#P321_137
{
left:0px;letter-spacing:-0.5px;margin-left:-3.7px;
}
#P321_138
{
left:0px;letter-spacing:0px;margin-left:-13.4px;
}
#P321_139
{
left:14291.5px;bottom:7260.4px;letter-spacing:-11px;word-spacing:-0.1px;color:rgb(33,31,31);
}
#P321_140
{
left:0px;letter-spacing:-10.4px;margin-left:0.8px;
}
#P321_141
{
left:15135.3px;bottom:6652.65px;letter-spacing:-10.4px;color:rgb(33,31,31);
}
#P321_142
{
left:0px;letter-spacing:-10.2px;margin-left:10.4px;
}
#P321_143
{
left:0px;letter-spacing:0px;margin-left:-46.1px;
}
#P321_144
{
left:23423px;bottom:7376.62px;letter-spacing:-33px;color:rgb(33,31,31);
}
#P321_145
{
left:0px;letter-spacing:-10.6px;margin-left:22.8px;
}
#P321_146
{
left:23513.1px;bottom:6816.49px;letter-spacing:-9.7px;word-spacing:0.1px;color:rgb(33,31,31);
}
#P321_147
{
left:0px;letter-spacing:-10.2px;margin-left:9.8px;
}
#P321_148
{
left:24999.4px;bottom:6256.36px;letter-spacing:-9.8px;color:rgb(33,31,31);
}
#P321_149
{
left:0px;letter-spacing:0px;margin-left:-46.6px;
}
#P321_150
{
left:4941.34px;bottom:43257.5px;color:rgb(35,31,31);
}
#P321_151
{
left:4941.34px;bottom:42390.7px;color:rgb(35,31,31);
}
#P321_152
{
left:4941.34px;bottom:41654.7px;color:rgb(35,31,31);
}
#P321_153
{
left:4941.34px;bottom:40918.8px;color:rgb(35,31,31);
}
#P321_154
{
left:4690.71px;bottom:45041.3px;letter-spacing:-20.4px;color:white;
}
#P321_155
{
left:4690.71px;bottom:44081.3px;letter-spacing:-27.2px;color:white;
}
#P321_156
{
left:6669.79px;bottom:44338px;color:white;
}
#P321_157
{
left:6945.05px;bottom:44081.3px;letter-spacing:-27.2px;color:white;
}
#PageContainer321
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg321.jpg");background-repeat:no-repeat;background-size: 1029px 1281px; background-position: 0px -0.630000000000109px;
}
#ImageContainer321 {bottom:83.63px;left:0.00px;width:1028.87px;height:1280.53px;position:absolute;} #TextContainer321 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.practice{position: absolute;top: 1222px;left: 257px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}