.tr446{ color:transparent;}
#P446_1
{
left:2365.4px;bottom:1409.96px;color:rgb(35,31,31);
}
#P446_2
{
left:3540.44px;bottom:1409.96px;color:rgb(35,31,31);
}
#P446_3
{
left:4925.4px;bottom:1409.96px;color:rgb(35,31,31);
}
#P446_4
{
left:7841.88px;bottom:1409.96px;letter-spacing:462.1px;color:rgb(35,31,31);
}
#P446_5
{
left:0px;letter-spacing:4.6px;margin-left:-470px;
}
#P446_6
{
left:0px;letter-spacing:2px;margin-left:-8.9px;
}
#P446_7
{
left:0px;letter-spacing:2.7px;margin-left:4.6px;
}
#P446_8
{
left:5433.11px;bottom:30604.3px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P446_9
{
left:12301.4px;bottom:30628.8px;color:white;
}
#P446_10
{
left:12717px;bottom:30820.7px;color:white;
}
#P446_11
{
left:12957.2px;bottom:30628.8px;color:white;
}
#P446_12
{
left:13933.5px;bottom:30820.7px;color:white;
}
#P446_13
{
left:14173.7px;bottom:30628.8px;letter-spacing:-2.7px;color:white;
}
#P446_14
{
left:0px;letter-spacing:0px;margin-left:2.7px;
}
#P446_15
{
left:24370.7px;bottom:30820.7px;color:white;
}
#P446_16
{
left:24610.9px;bottom:30628.8px;color:white;
}
#P446_17
{
left:25411px;bottom:30820.7px;color:white;
}
#P446_18
{
left:25651.2px;bottom:30628.8px;color:white;
}
#P446_19
{
left:10457px;bottom:30461.7px;
}
#P446_20
{
left:10457px;bottom:30461.7px;color:white;
}
#P446_21
{
left:11528.4px;bottom:28999.5px;letter-spacing:-31.6px;color:rgb(35,31,31);
}
#P446_22
{
left:0px;letter-spacing:-4.7px;margin-left:31.6px;
}
#P446_23
{
left:0px;letter-spacing:-0.3px;margin-left:4.7px;
}
#P446_24
{
left:0px;letter-spacing:-7.7px;margin-left:-27.7px;
}
#P446_25
{
left:0px;letter-spacing:0px;margin-left:7.7px;
}
#P446_26
{
left:11528.4px;bottom:28103.5px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P446_27
{
left:20316.6px;bottom:26951.5px;color:rgb(35,31,31);
}
#P446_28
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P446_29
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P446_30
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P446_31
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P446_32
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P446_33
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P446_34
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P446_35
{
left:11528.4px;bottom:24903.5px;letter-spacing:-2.8px;color:rgb(35,31,31);
}
#P446_36
{
left:14404.2px;bottom:24903.5px;letter-spacing:-4.2px;word-spacing:545.5px;color:rgb(35,31,31);
}
#P446_37
{
left:16376.2px;bottom:24873.9px;color:rgb(35,31,31);
}
#P446_38
{
left:16962.6px;bottom:24903.5px;color:rgb(35,31,31);
}
#P446_39
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P446_40
{
left:17142.1px;bottom:25343.1px;color:rgb(35,31,31);
}
#P446_41
{
left:17620.5px;bottom:25316.5px;color:rgb(35,31,31);
}
#P446_42
{
left:18148.2px;bottom:25343.1px;color:rgb(35,31,31);
}
#P446_43
{
left:18769.2px;bottom:25316.5px;color:rgb(35,31,31);
}
#P446_44
{
left:19297px;bottom:25343.1px;color:rgb(35,31,31);
}
#P446_45
{
left:19917.9px;bottom:25316.5px;color:rgb(35,31,31);
}
#P446_46
{
left:20445.7px;bottom:25343.1px;color:rgb(35,31,31);
}
#P446_47
{
left:21066.6px;bottom:25316.5px;color:rgb(35,31,31);
}
#P446_48
{
left:21594.3px;bottom:25343.1px;color:rgb(35,31,31);
}
#P446_49
{
left:22215.1px;bottom:25316.5px;color:rgb(35,31,31);
}
#P446_50
{
left:22742.9px;bottom:25343.1px;color:rgb(35,31,31);
}
#P446_51
{
left:23363.9px;bottom:25316.5px;color:rgb(35,31,31);
}
#P446_52
{
left:23891.6px;bottom:25343.1px;color:rgb(35,31,31);
}
#P446_53
{
left:24512.5px;bottom:25316.5px;color:rgb(35,31,31);
}
#P446_54
{
left:25040.2px;bottom:25343.1px;color:rgb(35,31,31);
}
#P446_55
{
left:0px;bottom:0px;letter-spacing:0px;color:rgb(35,31,31);
}
#P446_56
{
left:0px;bottom:0px;letter-spacing:0px;color:rgb(35,31,31);
}
#P446_57
{
left:0px;bottom:0px;letter-spacing:0px;color:rgb(35,31,31);
}
#P446_58
{
left:17121px;bottom:24887.5px;color:rgb(35,31,31);
}
#P446_59
{
left:23351.3px;bottom:24904.7px;color:rgb(35,31,31);
}
#P446_60
{
left:25539.9px;bottom:24904.7px;color:rgb(35,31,31);
}
#P446_61
{
left:21162.6px;bottom:24435.6px;color:rgb(35,31,31);
}
#P446_62
{
left:21498.4px;bottom:24921.1px;color:rgb(35,31,31);
}
#P446_63
{
left:25539.9px;bottom:24903.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P446_64
{
left:25698.3px;bottom:24873.9px;color:rgb(35,31,31);
}
#P446_65
{
left:26284.8px;bottom:24903.5px;color:rgb(35,31,31);
}
#P446_66
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P446_67
{
left:26464.3px;bottom:25343.1px;color:rgb(35,31,31);
}
#P446_68
{
left:27135.9px;bottom:24921.1px;color:rgb(35,31,31);
}
#P446_69
{
left:26443.2px;bottom:24887.5px;color:rgb(35,31,31);
}
#P446_70
{
left:27157px;bottom:24904.7px;color:rgb(35,31,31);
}
#P446_71
{
left:26632.2px;bottom:24435.6px;color:rgb(35,31,31);
}
#P446_72
{
left:26968px;bottom:24921.1px;color:rgb(35,31,31);
}
#P446_73
{
left:27157px;bottom:24903.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P446_74
{
left:27315.4px;bottom:24873.9px;color:rgb(35,31,31);
}
#P446_75
{
left:27901.8px;bottom:24903.5px;color:rgb(35,31,31);
}
#P446_76
{
left:11528.4px;bottom:23239.5px;letter-spacing:-2.8px;color:rgb(35,31,31);
}
#P446_77
{
left:13704.5px;bottom:23239.5px;letter-spacing:545.5px;color:rgb(35,31,31);
}
#P446_78
{
left:0px;letter-spacing:0px;margin-left:-703.9px;
}
#P446_79
{
left:0px;letter-spacing:0px;margin-left:-63.2px;
}
#P446_80
{
left:0px;letter-spacing:-0.5px;
}
#P446_81
{
left:0px;letter-spacing:0px;margin-left:0.5px;
}
#P446_82
{
left:14408.4px;bottom:22343.6px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P446_83
{
left:10760.4px;bottom:21063.5px;color:rgb(35,31,31);
}
#P446_84
{
left:13882.1px;bottom:16888.2px;letter-spacing:867.3px;color:rgb(35,31,31);
}
#P446_85
{
left:17338px;bottom:16888.2px;color:rgb(237,28,35);
}
#P446_86
{
left:18490px;bottom:16888.2px;letter-spacing:867.3px;color:rgb(35,31,31);
}
#P446_87
{
left:26394.8px;bottom:16888.2px;letter-spacing:867.3px;color:rgb(35,31,31);
}
#P446_88
{
left:27529px;bottom:18372.6px;letter-spacing:831.7px;color:rgb(0,124,196);
}
#P446_89
{
left:28681px;bottom:19140.4px;color:rgb(0,124,196);
}
#P446_90
{
left:28681px;bottom:19908.2px;color:rgb(0,124,196);
}
#P446_91
{
left:30985px;bottom:18372.6px;color:rgb(0,124,196);
}
#P446_92
{
left:30985px;bottom:19140.4px;color:rgb(0,124,196);
}
#P446_93
{
left:30985px;bottom:19908.2px;color:rgb(0,124,196);
}
#P446_94
{
left:32137px;bottom:18372.6px;color:rgb(0,124,196);
}
#P446_95
{
left:15790.2px;bottom:15731.2px;color:rgb(235,26,35);
}
#P446_96
{
left:17397.1px;bottom:21100.7px;color:rgb(235,26,35);
}
#P446_97
{
left:11528.4px;bottom:13639.5px;letter-spacing:-2.8px;color:rgb(35,31,31);
}
#P446_98
{
left:13704.5px;bottom:13639.5px;letter-spacing:545.5px;color:rgb(35,31,31);
}
#P446_99
{
left:0px;letter-spacing:0px;margin-left:-545.5px;
}
#P446_100
{
left:23670.7px;bottom:13609.9px;color:rgb(35,31,31);
}
#P446_101
{
left:24257.2px;bottom:13639.5px;color:rgb(35,31,31);
}
#P446_102
{
left:24946.9px;bottom:13609.9px;color:rgb(35,31,31);
}
#P446_103
{
left:25533.3px;bottom:13639.5px;color:rgb(35,31,31);
}
#P446_104
{
left:26223.3px;bottom:13609.9px;color:rgb(35,31,31);
}
#P446_105
{
left:26809.7px;bottom:13639.5px;color:rgb(35,31,31);
}
#P446_106
{
left:27499.6px;bottom:13609.9px;color:rgb(35,31,31);
}
#P446_107
{
left:28086px;bottom:13639.5px;color:rgb(35,31,31);
}
#P446_108
{
left:28776px;bottom:13609.9px;color:rgb(35,31,31);
}
#P446_109
{
left:29362.3px;bottom:13639.5px;color:rgb(35,31,31);
}
#P446_110
{
left:30052.2px;bottom:13609.9px;color:rgb(35,31,31);
}
#P446_111
{
left:30638.7px;bottom:13639.5px;color:rgb(35,31,31);
}
#P446_112
{
left:31328.6px;bottom:13609.9px;color:rgb(35,31,31);
}
#P446_113
{
left:31915px;bottom:13639.5px;color:rgb(35,31,31);
}
#P446_114
{
left:32605px;bottom:13609.9px;color:rgb(35,31,31);
}
#P446_115
{
left:33191.4px;bottom:13639.5px;color:rgb(35,31,31);
}
#P446_116
{
left:11528.3px;bottom:11975.5px;letter-spacing:-2.8px;color:rgb(35,31,31);
}
#P446_117
{
left:13704.3px;bottom:11975.5px;color:rgb(35,31,31);
}
#P446_118
{
left:0px;letter-spacing:0px;margin-left:545.5px;
}
#P446_119
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P446_120
{
left:24504.3px;bottom:12415.1px;color:rgb(35,31,31);
}
#P446_121
{
left:25175.9px;bottom:11993.1px;color:rgb(35,31,31);
}
#P446_122
{
left:24483.2px;bottom:11959.5px;color:rgb(35,31,31);
}
#P446_123
{
left:25197px;bottom:11976.7px;color:rgb(35,31,31);
}
#P446_124
{
left:24672.2px;bottom:11507.6px;color:rgb(35,31,31);
}
#P446_125
{
left:25008px;bottom:11993.1px;color:rgb(35,31,31);
}
#P446_126
{
left:25197px;bottom:11975.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P446_127
{
left:25355.4px;bottom:11945.9px;color:rgb(35,31,31);
}
#P446_128
{
left:25941.8px;bottom:11975.5px;color:rgb(35,31,31);
}
#P446_129
{
left:12816.4px;bottom:10119.5px;letter-spacing:545.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P446_130
{
left:0px;letter-spacing:-9.4px;margin-left:-554px;
}
#P446_131
{
left:0px;letter-spacing:-0.8px;margin-left:9.3px;
}
#P446_132
{
left:0px;letter-spacing:-0.6px;margin-left:158.6px;
}
#P446_133
{
left:0px;letter-spacing:0px;margin-left:-13.4px;
}
#P446_134
{
left:11528.4px;bottom:6599.47px;color:rgb(35,31,31);
}
#P446_135
{
left:11666.8px;bottom:6626.28px;color:rgb(35,31,31);
}
#P446_136
{
left:12680.4px;bottom:6599.47px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P446_137
{
left:0px;letter-spacing:0px;margin-left:1.3px;
}
#P446_138
{
left:10760.4px;bottom:5319.47px;letter-spacing:7473px;color:rgb(35,31,31);
}
#P446_139
{
left:0px;letter-spacing:0px;margin-left:-7473px;
}
#P446_140
{
left:5689.11px;bottom:5724.78px;color:rgb(35,31,31);
}
#P446_141
{
left:5889.56px;bottom:46957.1px;color:white;
}
#P446_142
{
left:2371.78px;bottom:46929.9px;color:white;
}
#P446_143
{
left:10813.4px;bottom:44188.8px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P446_144
{
left:0px;letter-spacing:0.4px;margin-left:0.9px;
}
#P446_145
{
left:22127.3px;bottom:44188.8px;color:rgb(35,31,31);
}
#P446_146
{
left:30190.1px;bottom:44188.8px;word-spacing:-25.3px;color:rgb(35,31,31);
}
#P446_147
{
left:31574.9px;bottom:44188.8px;color:rgb(35,31,31);
}
#P446_148
{
left:10813.4px;bottom:43292.8px;color:rgb(35,31,31);
}
#P446_149
{
left:17045.9px;bottom:43292.8px;letter-spacing:-1.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P446_150
{
left:0px;letter-spacing:-0.4px;margin-left:159.5px;
}
#P446_151
{
left:10813.4px;bottom:42396.8px;color:rgb(35,31,31);
}
#P446_152
{
left:2856.07px;bottom:43388.7px;letter-spacing:-7.7px;word-spacing:-26px;color:rgb(0,124,196);
}
#P446_153
{
left:0px;letter-spacing:0px;margin-left:7.7px;
}
#P446_154
{
left:2856.07px;bottom:42446.8px;color:rgb(35,31,31);
}
#P446_155
{
left:3624.07px;bottom:41550.8px;word-spacing:590.1px;color:rgb(35,31,31);
}
#P446_156
{
left:6468.83px;bottom:41550.8px;color:rgb(35,31,31);
}
#P446_157
{
left:12253.4px;bottom:38472.6px;color:rgb(35,31,31);
}
#P446_158
{
left:12592px;bottom:38628.9px;color:rgb(35,31,31);
}
#P446_159
{
left:12787.7px;bottom:38472.6px;color:rgb(35,31,31);
}
#P446_160
{
left:13583.3px;bottom:38628.9px;color:rgb(35,31,31);
}
#P446_161
{
left:13779px;bottom:38472.6px;letter-spacing:-2.2px;color:rgb(35,31,31);
}
#P446_162
{
left:0px;letter-spacing:0px;margin-left:2.2px;
}
#P446_163
{
left:22087.6px;bottom:38628.9px;color:rgb(35,31,31);
}
#P446_164
{
left:22283.4px;bottom:38472.6px;color:rgb(35,31,31);
}
#P446_165
{
left:22935.3px;bottom:38628.9px;color:rgb(35,31,31);
}
#P446_166
{
left:23131px;bottom:38472.6px;color:rgb(35,31,31);
}
#P446_167
{
left:12253.4px;bottom:37364.9px;letter-spacing:-2.8px;color:rgb(35,31,31);
}
#P446_168
{
left:14429.5px;bottom:37364.9px;letter-spacing:225.5px;color:rgb(35,31,31);
}
#P446_169
{
left:0px;letter-spacing:0px;margin-left:-232.4px;
}
#P446_170
{
left:12253.4px;bottom:36212.8px;letter-spacing:-2.8px;color:rgb(35,31,31);
}
#P446_171
{
left:14429.5px;bottom:36212.8px;letter-spacing:225.5px;color:rgb(35,31,31);
}
#P446_172
{
left:0px;letter-spacing:-0.2px;margin-left:-232.4px;
}
#P446_173
{
left:12253.4px;bottom:35060.8px;letter-spacing:-2.8px;color:rgb(35,31,31);
}
#P446_174
{
left:14429.5px;bottom:35060.8px;letter-spacing:225.5px;color:rgb(35,31,31);
}
#P446_175
{
left:0px;letter-spacing:-0.5px;margin-left:-232.4px;
}
#P446_176
{
left:0px;letter-spacing:0px;margin-left:0.5px;
}
#P446_177
{
left:12253.4px;bottom:33908.7px;letter-spacing:-2.8px;color:rgb(35,31,31);
}
#P446_178
{
left:14429.5px;bottom:33908.7px;letter-spacing:225.5px;color:rgb(35,31,31);
}
#P446_179
{
left:0px;letter-spacing:-0.9px;margin-left:-229.6px;
}
#P446_180
{
left:0px;letter-spacing:-1.3px;margin-left:0.9px;
}
#P446_181
{
left:0px;letter-spacing:-0.7px;margin-left:1.3px;
}
#P446_182
{
left:26785.2px;bottom:46188.3px;word-spacing:0.2px;color:rgb(33,31,31);
}
#P446_183
{
left:0px;letter-spacing:0px;margin-left:-44.8px;
}
#P446_184
{
left:0px;letter-spacing:0px;margin-left:0.2px;
}
#P446_185
{
left:19920.3px;bottom:24921.1px;
}
#P446_186
{
left:22719.6px;bottom:24921.1px;
}
#P446_187
{
left:25518.8px;bottom:24921.1px;
}
#PageContainer446
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg446.jpg");background-repeat:no-repeat;background-size: 1026px 1291px; background-position: 0px 35.3699999999999px;
}
#ImageContainer446 {bottom:37.63px;left:0.00px;width:1026.38px;height:1291.35px;position:absolute;} #TextContainer446 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

.example1{position:absolute; top: 496px; left: 45px;}
.nyr{position:absolute; top: 1161px; left: 122px;}
.nyr_exr{position:absolute; top: 1192px; left: 151px;color:rgb(35,31,31);font-size:16px}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}