.tr276{ color:transparent;}
#P276_1
{
left:2365.4px;bottom:1409.96px;color:rgb(35,31,31);
}
#P276_2
{
left:3540.44px;bottom:1409.96px;color:rgb(35,31,31);
}
#P276_3
{
left:4925.4px;bottom:1409.96px;color:rgb(35,31,31);
}
#P276_4
{
left:9121.88px;bottom:1409.96px;letter-spacing:462px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P276_5
{
left:0px;letter-spacing:4.3px;margin-left:-462.1px;
}
#P276_6
{
left:0px;letter-spacing:0.8px;margin-left:-4.4px;
}
#P276_7
{
left:0px;letter-spacing:0px;margin-left:2.9px;
}
#P276_8
{
left:5889.56px;bottom:46957.1px;color:white;
}
#P276_9
{
left:2371.78px;bottom:46929.9px;color:white;
}
#P276_10
{
left:10813.4px;bottom:44172.8px;letter-spacing:-5.1px;color:rgb(35,31,31);
}
#P276_11
{
left:0px;letter-spacing:-1.2px;margin-left:5.1px;
}
#P276_12
{
left:16520.1px;bottom:44172.8px;letter-spacing:-4px;color:rgb(35,31,31);
}
#P276_13
{
left:0px;letter-spacing:-1.9px;margin-left:4px;
}
#P276_14
{
left:0px;letter-spacing:0.2px;margin-left:1.9px;
}
#P276_15
{
left:10813.4px;bottom:43276.8px;letter-spacing:-0.3px;word-spacing:0.3px;color:rgb(35,31,31);
}
#P276_16
{
left:15196.5px;bottom:43247.3px;color:rgb(35,31,31);
}
#P276_17
{
left:15782.9px;bottom:43276.8px;color:rgb(35,31,31);
}
#P276_18
{
left:13405.7px;bottom:42082.5px;color:rgb(35,31,31);
}
#P276_19
{
left:13992px;bottom:42112.1px;word-spacing:2247.2px;color:rgb(35,31,31);
}
#P276_20
{
left:19826.3px;bottom:42082.5px;color:rgb(35,31,31);
}
#P276_21
{
left:20412.7px;bottom:42112.1px;word-spacing:2358px;color:rgb(35,31,31);
}
#P276_22
{
left:10813.4px;bottom:40947.3px;letter-spacing:-6.3px;color:rgb(35,31,31);
}
#P276_23
{
left:0px;letter-spacing:-2.8px;margin-left:-7px;
}
#P276_24
{
left:16872.1px;bottom:40947.3px;letter-spacing:-3.6px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P276_25
{
left:0px;letter-spacing:-2.8px;margin-left:-24.5px;
}
#P276_26
{
left:0px;letter-spacing:-3.1px;
}
#P276_27
{
left:33542.2px;bottom:40917.7px;letter-spacing:-2.8px;color:rgb(35,31,31);
}
#P276_28
{
left:34357.4px;bottom:40947.3px;color:rgb(35,31,31);
}
#P276_29
{
left:10813.4px;bottom:39782.6px;color:rgb(35,31,31);
}
#P276_30
{
left:13403.9px;bottom:39753px;color:rgb(35,31,31);
}
#P276_31
{
left:13835.4px;bottom:39782.6px;color:rgb(35,31,31);
}
#P276_32
{
left:16475.7px;bottom:39753px;color:rgb(35,31,31);
}
#P276_33
{
left:16907.3px;bottom:39782.6px;color:rgb(35,31,31);
}
#P276_34
{
left:19745.2px;bottom:39753px;color:rgb(35,31,31);
}
#P276_35
{
left:20176.7px;bottom:39782.6px;color:rgb(35,31,31);
}
#P276_36
{
left:23380.3px;bottom:39753px;color:rgb(35,31,31);
}
#P276_37
{
left:23811.8px;bottom:39782.6px;color:rgb(35,31,31);
}
#P276_38
{
left:10813.3px;bottom:38617.8px;letter-spacing:-70.3px;color:rgb(35,31,31);
}
#P276_39
{
left:0px;letter-spacing:-0.5px;margin-left:70.3px;
}
#P276_40
{
left:0px;letter-spacing:-0.5px;margin-left:0.5px;
}
#P276_41
{
left:10813.3px;bottom:37721.8px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P276_42
{
left:20222.9px;bottom:37721.8px;color:rgb(35,31,31);
}
#P276_43
{
left:23388.8px;bottom:37721.8px;letter-spacing:-8.4px;color:rgb(35,31,31);
}
#P276_44
{
left:0px;letter-spacing:0px;margin-left:8.4px;
}
#P276_45
{
left:2856.07px;bottom:43490.1px;letter-spacing:-7.7px;word-spacing:-26px;color:rgb(0,124,196);
}
#P276_46
{
left:0px;letter-spacing:0px;margin-left:7.7px;
}
#P276_47
{
left:2856.07px;bottom:42548.1px;color:rgb(35,31,31);
}
#P276_48
{
left:2856.07px;bottom:41780.1px;color:rgb(35,31,31);
}
#P276_49
{
left:3624.07px;bottom:41780.1px;color:rgb(35,31,31);
}
#P276_50
{
left:2856.07px;bottom:40884.1px;color:rgb(35,31,31);
}
#P276_51
{
left:2856.07px;bottom:40116.1px;color:rgb(35,31,31);
}
#P276_52
{
left:3624.07px;bottom:40116.1px;color:rgb(35,31,31);
}
#P276_53
{
left:2856.07px;bottom:39220.1px;color:rgb(35,31,31);
}
#P276_54
{
left:5808.41px;bottom:39220.1px;color:rgb(35,31,31);
}
#P276_55
{
left:2856.07px;bottom:38324.1px;color:rgb(35,31,31);
}
#P276_56
{
left:5380.89px;bottom:38324.1px;color:rgb(35,31,31);
}
#P276_57
{
left:5709.4px;bottom:8060.78px;color:rgb(35,31,31);
}
#P276_58
{
left:0px;letter-spacing:0px;margin-left:34.6px;
}
#P276_59
{
left:26785.2px;bottom:46188.3px;word-spacing:0.2px;color:rgb(33,31,31);
}
#P276_60
{
left:0px;letter-spacing:0px;margin-left:-44.8px;
}
#P276_61
{
left:0px;letter-spacing:0px;margin-left:0.2px;
}
#P276_62
{
left:5481.11px;bottom:23073.6px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P276_63
{
left:12349.4px;bottom:23098.2px;color:white;
}
#P276_64
{
left:13421.7px;bottom:23290px;color:white;
}
#P276_65
{
left:13661.8px;bottom:23098.2px;color:white;
}
#P276_66
{
left:13997.9px;bottom:23290px;color:white;
}
#P276_67
{
left:14238.1px;bottom:23098.2px;letter-spacing:-1.7px;color:white;
}
#P276_68
{
left:16775px;bottom:23290px;color:white;
}
#P276_69
{
left:17015.2px;bottom:23098.2px;color:white;
}
#P276_70
{
left:17351.3px;bottom:23290px;color:white;
}
#P276_71
{
left:17591.4px;bottom:23098.2px;color:white;
}
#P276_72
{
left:22729.7px;bottom:23290px;color:white;
}
#P276_73
{
left:22969.9px;bottom:23098.2px;letter-spacing:-0.9px;color:white;
}
#P276_74
{
left:10505px;bottom:22931.1px;
}
#P276_75
{
left:10505px;bottom:22931.1px;color:white;
}
#P276_76
{
left:11575.4px;bottom:21391.5px;letter-spacing:-14.8px;color:rgb(35,31,31);
}
#P276_77
{
left:0px;letter-spacing:-0.9px;margin-left:14.8px;
}
#P276_78
{
left:0px;letter-spacing:-0.8px;margin-left:0.9px;
}
#P276_79
{
left:0px;letter-spacing:0px;margin-left:-13.1px;
}
#P276_80
{
left:10807.4px;bottom:20239.5px;color:rgb(35,31,31);
}
#P276_81
{
left:11535.4px;bottom:20239.5px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P276_81a
{
left:12535.4px;bottom:20239.5px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P276_82
{
left:0px;letter-spacing:0px;
margin-left: 0;
}
#P276_83
{
left:0px;letter-spacing:-0.5px;
}
#P276_84
{
left:0px;letter-spacing:0px;margin-left:-41.6px;
}
#P276_85
{
left:11383.4px;bottom:18959.3px;color:rgb(35,31,31);
}
#P276_86
{
left:12535.6px;bottom:18959.3px;letter-spacing:0.7px;color:rgb(35,31,31);
}
#P276_87
{
left:14523.2px;bottom:18959.3px;letter-spacing:-0.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P276_88
{
left:0px;letter-spacing:-9.4px;margin-left:-8px;
}
#P276_89
{
left:0px;letter-spacing:-0.1px;margin-left:9.3px;
}
#P276_90
{
left:0px;letter-spacing:0px;margin-left:-42px;
}
#P276_91
{
left:13183.4px;bottom:17423.5px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P276_92
{
left:13887.4px;bottom:17393.9px;color:rgb(35,31,31);
}
#P276_93
{
left:14473.9px;bottom:17423.5px;color:rgb(35,31,31);
}
#P276_94
{
left:10807.4px;bottom:15951.5px;color:rgb(35,31,31);
}
#P276_95
{
left:11499.3px;bottom:15951.5px;letter-spacing:-17.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P276_95a
{
left:12499.3px;bottom:15951.5px;letter-spacing:-17.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P276_96
{
left:0px;letter-spacing:0px;
margin-left: 0;
}
#P276_97
{
left:0px;letter-spacing:-1.5px;margin-left:-8.4px;
}
#P276_98
{
left:0px;letter-spacing:-0.9px;margin-left:1.4px;
}
#P276_99
{
left:0px;letter-spacing:-5px;margin-left:0.9px;
}
#P276_100
{
left:0px;letter-spacing:-6.9px;margin-left:0.9px;
}
#P276_101
{
left:11383.4px;bottom:14671.5px;letter-spacing:1004.2px;color:rgb(35,31,31);
}
#P276_102
{
left:12535.6px;bottom:14671.5px;letter-spacing:-2.8px;color:rgb(35,31,31);
}
#P276_103
{
left:0px;letter-spacing:-2.1px;margin-left:-1.3px;
}
#P276_104
{
left:16046.6px;bottom:14671.5px;letter-spacing:-0.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P276_105
{
left:0px;letter-spacing:0px;margin-left:-8.4px;
}
#P276_106
{
left:0px;letter-spacing:-0.1px;margin-left:-28px;
}
#P276_107
{
left:12535.6px;bottom:13775.5px;color:rgb(35,31,31);
}
#P276_108
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P276_109
{
left:13183.4px;bottom:12239.5px;color:rgb(35,31,31);
}
#P276_110
{
left:13887.4px;bottom:12209.9px;color:rgb(35,31,31);
}
#P276_111
{
left:14319px;bottom:12239.5px;color:rgb(35,31,31);
}
#P276_112
{
left:11575.4px;bottom:9013.99px;letter-spacing:-14.5px;color:rgb(35,31,31);
}
#P276_113
{
left:0px;letter-spacing:-0.9px;margin-left:14.5px;
}
#P276_114
{
left:0px;letter-spacing:-0.8px;margin-left:0.9px;
}
#P276_115
{
left:0px;letter-spacing:0px;margin-left:-12.8px;
}
#P276_116
{
left:11575.4px;bottom:7894.18px;color:rgb(35,31,31);
}
#P276_117
{
left:12012.2px;bottom:7913.18px;color:rgb(35,31,31);
}
#P276_118
{
left:13239.5px;bottom:7894.18px;color:rgb(35,31,31);
}
#P276_119
{
left:11575.5px;bottom:6646.5px;color:rgb(35,31,31);
}
#P276_120
{
left:12012.4px;bottom:6665.5px;color:rgb(35,31,31);
}
#P276_121
{
left:13239.6px;bottom:6646.5px;letter-spacing:-31.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P276_122
{
left:0px;letter-spacing:-0.1px;margin-left:186.5px;
}
#P276_123
{
left:11575.6px;bottom:5366.43px;color:rgb(35,31,31);
}
#P276_124
{
left:12012.4px;bottom:5385.44px;color:rgb(35,31,31);
}
#P276_125
{
left:13239.6px;bottom:5366.43px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P276_126
{
left:11575.6px;bottom:4118.69px;color:rgb(35,31,31);
}
#P276_127
{
left:12012.5px;bottom:4137.69px;color:rgb(35,31,31);
}
#P276_128
{
left:13239.7px;bottom:4118.69px;letter-spacing:0.2px;color:rgb(35,31,31);
}
#P276_129
{
left:4337.43px;bottom:30777.6px;color:rgb(0,124,196);
}
#P276_130
{
left:2781.4px;bottom:29731.2px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P276_131
{
left:2781.4px;bottom:28835.2px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P276_132
{
left:2781.4px;bottom:27939.2px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P276_133
{
left:2781.4px;bottom:27043.2px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P276_134
{
left:5037.08px;bottom:27043.2px;color:rgb(0,124,196);
}
#P276_135
{
left:7888.92px;bottom:27043.2px;color:rgb(35,31,31);
}
#P276_136
{
left:2781.4px;bottom:26147.2px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P276_137
{
left:12253.4px;bottom:33386.2px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P276_138
{
left:12253.4px;bottom:32319.5px;letter-spacing:-5.4px;color:rgb(2,77,161);
}
#P276_139
{
left:14225.9px;bottom:32302.4px;letter-spacing:508.3px;color:rgb(35,31,31);
}
#P276_140
{
left:14929.9px;bottom:32278.4px;letter-spacing:-1.8px;color:rgb(35,31,31);
}
#P276_141
{
left:17627.1px;bottom:32278.4px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P276_142
{
left:0px;letter-spacing:0px;margin-left:-13.6px;
}
#P276_143
{
left:12253.4px;bottom:31135.5px;letter-spacing:4.1px;color:rgb(2,77,161);
}
#P276_144
{
left:21393.3px;bottom:29091.6px;color:rgb(235,26,35);
}
#P276_145
{
left:21819.8px;bottom:29097.7px;color:rgb(237,28,35);
}
#P276_146
{
left:19972.5px;bottom:29091.6px;color:rgb(235,26,35);
}
#P276_147
{
left:20399px;bottom:29097.7px;color:rgb(237,28,35);
}
#P276_148
{
left:18551.7px;bottom:29091.6px;color:rgb(235,26,35);
}
#P276_149
{
left:18978.2px;bottom:29097.7px;color:rgb(237,28,35);
}
#P276_150
{
left:17130.9px;bottom:29091.6px;color:rgb(235,26,35);
}
#P276_151
{
left:17557.4px;bottom:29097.7px;color:rgb(237,28,35);
}
#P276_152
{
left:15710.1px;bottom:29091.6px;color:rgb(235,26,35);
}
#P276_153
{
left:16136.6px;bottom:29097.7px;color:rgb(237,28,35);
}
#P276_154
{
left:23247.3px;bottom:29097.7px;color:rgb(35,31,31);
}
#P276_155
{
left:24668.1px;bottom:29097.7px;letter-spacing:1136.1px;color:rgb(0,124,196);
}
#P276_156
{
left:28930.5px;bottom:29097.7px;color:rgb(0,124,196);
}
#P276_157
{
left:30351.3px;bottom:29097.7px;color:rgb(0,124,196);
}
#P276_158
{
left:22109.3px;bottom:31215.1px;color:rgb(0,145,68);
}
#P276_159
{
left:16828.5px;bottom:28335.1px;color:rgb(235,26,35);
}
#P276_160
{
left:25404.6px;bottom:28335.1px;color:rgb(0,124,196);
}
#P276_161
{
left:18774.6px;bottom:27029.6px;letter-spacing:-0.7px;color:rgb(33,31,31);
}
#PageContainer276
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg276.jpg");background-repeat:no-repeat;background-size: 947px 1291px; background-position: 0px 35.3699999999999px;
}
#ImageContainer276 {bottom:37.63px;left:0.00px;width:946.60px;height:1291.35px;position:absolute;} #TextContainer276 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.example1{position: absolute;top: 708px;left: 108px;}
.nyr{position: absolute;top: 1100px;left: 125px;}
.nyr_exr{position: absolute;top: 1141px;left: 153px;color: rgb(35,31,31);font-size: 16px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}