.tr277{ color:transparent;}
#P277_1
{
left:4592.6px;bottom:1410.03px;letter-spacing:22505.5px;color:rgb(35,31,31);
}
#P277_2
{
left:27454px;bottom:1410.03px;letter-spacing:1px;color:rgb(35,31,31);
}
#P277_3
{
left:0px;letter-spacing:0px;margin-left:-50px;
}
#P277_4
{
left:30685.9px;bottom:1410.03px;letter-spacing:462.1px;color:rgb(35,31,31);
}
#P277_5
{
left:0px;letter-spacing:4.2px;margin-left:-459.2px;
}
#P277_6
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P277_7
{
left:7801.11px;bottom:46049.6px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P277_8
{
left:14669.4px;bottom:46074.2px;letter-spacing:-3.8px;color:white;
}
#P277_9
{
left:17006.7px;bottom:46266px;color:white;
}
#P277_10
{
left:17246.9px;bottom:46074.2px;letter-spacing:-0.8px;color:white;
}
#P277_11
{
left:12825px;bottom:45907.1px;
}
#P277_12
{
left:12825px;bottom:45907.1px;color:white;
}
#P277_13
{
left:13896.4px;bottom:44444.8px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P277_14
{
left:13128.4px;bottom:43292.8px;color:rgb(35,31,31);
}
#P277_15
{
left:13856.3px;bottom:43292.8px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P277_16
{
left:14920.5px;bottom:43292.8px;color:rgb(35,31,31);
}
#P277_17
{
left:13128.4px;bottom:42012.7px;color:rgb(35,31,31);
}
#P277_18
{
left:21372.3px;bottom:40727.7px;color:rgb(33,31,31);
}
#P277_19
{
left:21798.7px;bottom:40733.8px;color:rgb(35,31,31);
}
#P277_20
{
left:19951.5px;bottom:40727.7px;color:rgb(33,31,31);
}
#P277_21
{
left:20378px;bottom:40733.8px;color:rgb(35,31,31);
}
#P277_22
{
left:18530.7px;bottom:40727.7px;color:rgb(33,31,31);
}
#P277_23
{
left:18957.1px;bottom:40733.8px;color:rgb(35,31,31);
}
#P277_24
{
left:17109.9px;bottom:40727.7px;color:rgb(33,31,31);
}
#P277_25
{
left:17536.4px;bottom:40733.8px;color:rgb(35,31,31);
}
#P277_26
{
left:15689.1px;bottom:40727.7px;color:rgb(33,31,31);
}
#P277_27
{
left:16115.6px;bottom:40733.8px;letter-spacing:6826px;color:rgb(35,31,31);
}
#P277_28
{
left:0px;letter-spacing:1136.1px;margin-left:-5689.9px;
}
#P277_29
{
left:18336.7px;bottom:39056.9px;color:rgb(0,124,196);
}
#P277_30
{
left:18896.4px;bottom:39046.1px;color:rgb(0,124,196);
}
#P277_31
{
left:28133px;bottom:42838.1px;color:rgb(0,124,196);
}
#P277_32
{
left:13128.4px;bottom:36508.8px;color:rgb(35,31,31);
}
#P277_33
{
left:13820.2px;bottom:36508.8px;letter-spacing:-17.5px;color:rgb(35,31,31);
}
#P277_34
{
left:14920.3px;bottom:36479.2px;color:rgb(35,31,31);
}
#P277_35
{
left:15351.8px;bottom:36508.8px;color:rgb(35,31,31);
}
#P277_36
{
left:13128.3px;bottom:35228.8px;color:rgb(35,31,31);
}
#P277_37
{
left:21372.3px;bottom:34111.7px;color:rgb(33,31,31);
}
#P277_38
{
left:21798.7px;bottom:34117.8px;color:rgb(35,31,31);
}
#P277_39
{
left:19951.5px;bottom:34111.7px;color:rgb(33,31,31);
}
#P277_40
{
left:20378px;bottom:34117.8px;color:rgb(35,31,31);
}
#P277_41
{
left:18530.7px;bottom:34111.7px;color:rgb(33,31,31);
}
#P277_42
{
left:18957.1px;bottom:34117.8px;color:rgb(35,31,31);
}
#P277_43
{
left:17109.9px;bottom:34111.7px;color:rgb(33,31,31);
}
#P277_44
{
left:17536.4px;bottom:34117.8px;color:rgb(35,31,31);
}
#P277_45
{
left:15689.1px;bottom:34111.7px;color:rgb(33,31,31);
}
#P277_46
{
left:16115.6px;bottom:34117.8px;letter-spacing:6826px;color:rgb(35,31,31);
}
#P277_47
{
left:0px;letter-spacing:1136.1px;margin-left:-5689.9px;
}
#P277_48
{
left:21046px;bottom:32430.1px;color:rgb(0,124,196);
}
#P277_49
{
left:29413.1px;bottom:32440.9px;color:rgb(0,124,196);
}
#P277_50
{
left:29972.8px;bottom:32430.1px;color:rgb(0,124,196);
}
#P277_51
{
left:17658.6px;bottom:36222.1px;color:rgb(0,124,196);
}
#P277_52
{
left:19388.4px;bottom:36232.8px;color:rgb(0,124,196);
}
#P277_53
{
left:19948.1px;bottom:36222.1px;color:rgb(0,124,196);
}
#P277_54
{
left:7750.49px;bottom:29619.6px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P277_55
{
left:14618.8px;bottom:29644.1px;color:white;
}
#P277_56
{
left:17002.6px;bottom:29835.9px;color:white;
}
#P277_57
{
left:17242.8px;bottom:29644.1px;word-spacing:-31.9px;color:white;
}
#P277_58
{
left:20011.1px;bottom:29835.9px;color:white;
}
#P277_59
{
left:20251.3px;bottom:29644.1px;color:white;
}
#P277_60
{
left:21435px;bottom:29835.9px;color:white;
}
#P277_61
{
left:21675.2px;bottom:29644.1px;color:white;
}
#P277_62
{
left:12774.4px;bottom:29477px;
}
#P277_63
{
left:12774.4px;bottom:29477px;color:white;
}
#P277_64
{
left:13845.7px;bottom:28014.7px;
color: rgb(35,31,31);
}
#P277_65
{
left:14216.8px;bottom:28014.7px;letter-spacing:-1px;
color: rgb(35,31,31);
}
#P277_66
{
left:0px;letter-spacing:0px;margin-left:-223.9px;
}
#P277_67
{
left:0px;letter-spacing:0px;margin-left:77.1px;
}
#P277_68
{
left:0px;letter-spacing:-1.7px;margin-left:-21px;
}
#P277_69
{
left:0px;letter-spacing:0px;margin-left:1.7px;
}
#P277_70
{
left:0px;letter-spacing:0px;margin-left:-225px;
}
#P277_71
{
left:0px;letter-spacing:0px;margin-left:77.1px;
}
#P277_72
{
left:0px;letter-spacing:-2.5px;
}
#P277_73
{
left:0px;letter-spacing:-63.3px;margin-left:-39.6px;
}
#P277_74
{
left:0px;letter-spacing:-0.5px;margin-left:63.3px;
}
#P277_75
{
left:13845.7px;bottom:27118.7px;
color: rgb(35,31,31);
}
#P277_76
{
left:15597.4px;bottom:27118.7px;color:rgb(35,31,31);
}
#P277_77
{
left:0px;letter-spacing:0px;margin-left:-225px;
}
#P277_78
{
left:0px;letter-spacing:0px;margin-left:77.1px;
}
#P277_79
{
left:0px;letter-spacing:0px;
}
#P277_80
{
left:0px;letter-spacing:0px;margin-left:-225px;
}
#P277_81
{
left:0px;letter-spacing:0px;margin-left:77.1px;
}
#P277_82
{
left:0px;letter-spacing:0.2px;
}
#P277_83
{
left:0px;letter-spacing:-18.7px;margin-left:-50.8px;
}
#P277_84
{
left:0px;letter-spacing:0px;margin-left:18.7px;
}
#P277_85
{
left:33869.1px;bottom:27118.7px;word-spacing:77.1px;color:rgb(35,31,31);
}
#P277_86
{
left:0px;letter-spacing:0px;margin-left:-77.1px;
}
#P277_87
{
left:13845.7px;bottom:26222.8px;
color: rgb(35,31,31);
}
#P277_88
{
left:21085.7px;bottom:26222.8px;letter-spacing:6.3px;color:rgb(35,31,31);
}
#P277_89
{
left:0px;letter-spacing:0px;margin-left:-56.8px;
}
#P277_90
{
left:13077.7px;bottom:25070.7px;color:rgb(35,31,31);
}
#P277_91
{
left:13805.7px;bottom:25070.7px;
color: rgb(35,31,31);
}
#P277_92
{
left: 14767.7px;bottom:25070.7px;letter-spacing:364.2px;color:rgb(35,31,31);
}
#P277_93
{
left:0px;letter-spacing:0px;
margin-left: 0;
}
#P277_94
{
left:0px;letter-spacing:5.5px;margin-left:-35.1px;
}
#P277_95
{
left:0px;letter-spacing:-0.6px;margin-left:-5.5px;
}
#P277_96
{
left:0px;letter-spacing:0px;margin-left:-13.3px;
}
#P277_97
{
left:16405.7px;bottom:23796.3px;letter-spacing:-2.4px;color:rgb(35,31,31);
}
#P277_98
{
left:19115.6px;bottom:23790.7px;color:rgb(35,31,31);
}
#P277_99
{
left:25364.6px;bottom:23796.3px;letter-spacing:-2.1px;color:rgb(35,31,31);
}
#P277_100
{
left:16405.7px;bottom:22702.7px;word-spacing:0.1px;color:rgb(63,172,72);
}
#P277_100a
{
left: 26485.7px;bottom:22702.7px;word-spacing:0.1px;color:rgb(63,172,72);
}
#P277_101
{
left:0px;letter-spacing:-0.1px;margin-left:-63.2px;
}
#P277_102
{
left:0px;letter-spacing:-0.1px;margin-left:-4px;
}
#P277_103
{
left:0px;letter-spacing:0px;
margin-left: 0;
}
#P277_104
{
left:16405.7px;bottom:21806.7px;color:rgb(235,26,35);
}
#P277_105
{
left:0px;letter-spacing:0px;margin-left:-63.2px;
}
#P277_106
{
left:0px;letter-spacing:0px;margin-left:-21px;
}
#P277_107
{
left:21578px;bottom:21806.7px;letter-spacing:-2.3px;word-spacing:56.3px;color:rgb(235,26,35);
}
#P277_108
{
left:25874.7px;bottom:21777.1px;color:rgb(235,26,35);
}
#P277_109
{
left:26306.3px;bottom:21806.7px;color:rgb(235,26,35);
}
#P277_110
{
left:16405.7px;bottom:20910.8px;letter-spacing:-31.6px;color:rgb(0,124,196);
}
#P277_111
{
left:0px;letter-spacing:0px;margin-left:31.6px;
}
#P277_112
{
left:20652.3px;bottom:20910.8px;word-spacing:56.3px;color:rgb(0,124,196);
}
#P277_113
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P277_114
{
left:25878.2px;bottom:20881.3px;color:rgb(0,124,196);
}
#P277_115
{
left:26464.6px;bottom:20910.8px;color:rgb(0,124,196);
}
#P277_116
{
left:13077.7px;bottom:19630.7px;color:rgb(35,31,31);
}
#P277_117
{
left:13769.6px;bottom:19630.7px;
color: rgb(35,31,31);
}
#P277_118
{
left:14188.6px;bottom:19630.7px;letter-spacing:-28px;color:rgb(35,31,31);
}
#P277_118a
{
left: 14808.6px;bottom:19630.7px;letter-spacing:-28px;color:rgb(35,31,31);
}
#P277_119
{
left:0px;letter-spacing:0px;margin-left:392.3px;
}
#P277_120
{
left:0px;letter-spacing:0px;
margin-left: 0;
}
#P277_121
{
left:0px;letter-spacing:5.5px;margin-left:-35.1px;
}
#P277_122
{
left:0px;letter-spacing:-0.6px;margin-left:-5.5px;
}
#P277_123
{
left:0px;letter-spacing:0px;margin-left:-13.3px;
}
#P277_124
{
left:14869.6px;bottom:18734.7px;letter-spacing:-3px;color:rgb(35,31,31);
}
#P277_125
{
left:0px;letter-spacing:-0.7px;margin-left:3px;
}
#P277_126
{
left:0px;letter-spacing:0px;margin-left:-9.8px;
}
#P277_127
{
left:14869.6px;bottom:17454.7px;letter-spacing:-9.3px;color:rgb(35,31,31);
}
#P277_128
{
left:0px;letter-spacing:-0.2px;margin-left:9.3px;
}
#P277_129
{
left:14869.6px;bottom:16558.7px;letter-spacing:-1.9px;word-spacing:0.2px;color:rgb(35,31,31);
}
#P277_130
{
left:0px;letter-spacing:-4.4px;margin-left:1.7px;
}
#P277_131
{
left:14869.6px;bottom:15278.7px;letter-spacing:0.3px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P277_132
{
left:24681.8px;bottom:15278.7px;word-spacing:56.3px;color:rgb(35,31,31);
}
#P277_133
{
left:14869.6px;bottom:14382.8px;color:rgb(35,31,31);
}
#P277_134
{
left:0px;letter-spacing:0px;margin-left:-214.7px;
}
#P277_135
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P277_136
{
left:0px;letter-spacing:0px;margin-left:-42px;
}
#P277_137
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P277_138
{
left:0px;letter-spacing:0px;margin-left:-63.2px;
}
#P277_139
{
left:0px;letter-spacing:0px;margin-left:-21px;
}
#P277_140
{
left:23604.5px;bottom:14382.8px;word-spacing:56.3px;color:rgb(35,31,31);
}
#P277_141
{
left:14869.6px;bottom:13486.8px;letter-spacing:-0.9px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P277_142
{
left:0px;letter-spacing:-0.1px;margin-left:0.8px;
}
#P277_143
{
left: 16083.7px;bottom:12206.7px;letter-spacing:520.3px;color:rgb(35,31,31);
}
#P277_144
{
left:0px;letter-spacing:0px;
margin-left: 0;
}
#P277_145
{
left:0px;letter-spacing:-1px;
}
#P277_146
{
left:0px;letter-spacing:0px;margin-left:-12.9px;
}
#P277_147
{
left:16132.5px;bottom:11310.7px;letter-spacing:-28.1px;color:rgb(35,31,31);
}
#P277_148
{
left:0px;letter-spacing:0px;margin-left:7.2px;
}
#P277_149
{
left:19300.8px;bottom:11310.7px;word-spacing:56.3px;color:rgb(35,31,31);
}
#P277_150
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P277_151
{
left:0px;letter-spacing:0px;margin-left:-56.3px;
}
#P277_152
{
left:21817px;bottom:11281.1px;color:rgb(35,31,31);
}
#P277_153
{
left:22248.5px;bottom:11310.7px;color:rgb(35,31,31);
}
#P277_154
{
left:13845.8px;bottom:8046.7px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P277_155
{
left:13845.8px;bottom:6894.64px;color:rgb(35,31,31);
}
#P277_156
{
left:14309.3px;bottom:6921.52px;color:rgb(35,31,31);
}
#P277_157
{
left:15509.7px;bottom:6894.7px;color:rgb(35,31,31);
}
#P277_158
{
left:20261.3px;bottom:6921.52px;color:rgb(35,31,31);
}
#P277_159
{
left:21397.7px;bottom:6865.13px;color:rgb(35,31,31);
}
#P277_160
{
left:21829.3px;bottom:6894.7px;color:rgb(35,31,31);
}
#P277_161
{
left:25893.3px;bottom:6921.52px;color:rgb(35,31,31);
}
#P277_162
{
left:27029.7px;bottom:6865.13px;color:rgb(35,31,31);
}
#P277_163
{
left:27461.3px;bottom:6894.7px;color:rgb(35,31,31);
}
#P277_164
{
left:31525.3px;bottom:6921.52px;color:rgb(35,31,31);
}
#P277_165
{
left:32661.7px;bottom:6894.7px;color:rgb(35,31,31);
}
#P277_166
{
left:13845.7px;bottom:5614.7px;color:rgb(35,31,31);
}
#P277_167
{
left:14309.3px;bottom:5641.52px;word-spacing:453.2px;color:rgb(35,31,31);
}
#P277_168
{
left:15509.7px;bottom:5634.41px;letter-spacing:-12.9px;color:rgb(2,77,161);
}
#P277_169
{
left:0px;letter-spacing:0px;margin-left:12.9px;
}
#P277_170
{
left:18378.6px;bottom:5614.7px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P277_171
{
left:0px;letter-spacing:-0.6px;margin-left:-206.1px;
}
#P277_172
{
left:0px;letter-spacing:0px;margin-left:0.6px;
}
#P277_173
{
left:0px;letter-spacing:0px;margin-left:-214.8px;
}
#P277_174
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P277_175
{
left:0px;letter-spacing:0px;
}
#P277_176
{
left:15509.7px;bottom:4718.7px;letter-spacing:0.8px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P277_177
{
left:0px;letter-spacing:0px;margin-left:-67.7px;
}
#P277_178
{
left:0px;letter-spacing:-42.1px;margin-left:116.4px;
}
#P277_179
{
left:0px;letter-spacing:5.5px;margin-left:10.5px;
}
#P277_180
{
left:0px;letter-spacing:-0.7px;margin-left:-5.6px;
}
#P277_181
{
left:0px;letter-spacing:-0.1px;margin-left:-13.2px;
}
#P277_182
{
left:0px;letter-spacing:-0.9px;margin-left:-20.9px;
}
#P277_183
{
left:15509.7px;bottom:3822.74px;letter-spacing:-1.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P277_184
{
left:0px;letter-spacing:-0.1px;margin-left:0.9px;
}
#P277_185
{
left:8013.4px;bottom:7171.18px;color:rgb(35,31,31);
}
#P277_186
{
left:29083.5px;bottom:11121.5px;color:rgb(33,31,31);
}
#P277_187
{
left:29510px;bottom:11127.6px;color:rgb(35,31,31);
}
#P277_188
{
left:29083.5px;bottom:12101.4px;color:rgb(33,31,31);
}
#P277_189
{
left:29510px;bottom:12107.6px;color:rgb(35,31,31);
}
#P277_190
{
left:29083.5px;bottom:13081.4px;color:rgb(33,31,31);
}
#P277_191
{
left:29510px;bottom:13087.5px;color:rgb(35,31,31);
}
#P277_192
{
left:29510px;bottom:14056.7px;color:rgb(0,145,68);
}
#P277_193
{
left:29510px;bottom:15036.7px;color:rgb(35,31,31);
}
#P277_194
{
left:29510px;bottom:16016.7px;color:rgb(35,31,31);
}
#P277_195
{
left:29510px;bottom:16996.7px;color:rgb(35,31,31);
}
#P277_196
{
left:29510px;bottom:17976.6px;color:rgb(35,31,31);
}
#P277_197
{
left:29510px;bottom:18956.6px;color:rgb(35,31,31);
}
#P277_198
{
left:29510px;bottom:19936.5px;color:rgb(35,31,31);
}
#P277_199
{
left:25772.5px;bottom:14381.9px;letter-spacing:-28.2px;color:rgb(0,145,68);
}
#P277_200
{
left:0px;letter-spacing:0px;margin-left:28.2px;
}
#P277_201
{
left:25772.5px;bottom:13690.7px;color:rgb(0,145,68);
}
#P277_202
{
left:31080.3px;bottom:11580.8px;letter-spacing:-28.2px;color:rgb(235,26,35);
}
#P277_203
{
left:0px;letter-spacing:0px;margin-left:28.2px;
}
#P277_204
{
left:33136px;bottom:11580.8px;color:rgb(235,26,35);
}
#P277_205
{
left:31080.3px;bottom:10889.6px;color:rgb(235,26,35);
}
#P277_206
{
left:34184.3px;bottom:10882.7px;color:rgb(235,26,35);
}
#P277_207
{
left:34664.2px;bottom:10889.6px;color:rgb(235,26,35);
}
#P277_208
{
left:32243.3px;bottom:20149.4px;letter-spacing:-28.2px;color:rgb(0,124,196);
}
#P277_209
{
left:0px;letter-spacing:0px;margin-left:28.2px;
}
#P277_210
{
left:34299px;bottom:20149.4px;color:rgb(0,124,196);
}
#P277_211
{
left:35002.8px;bottom:20149.4px;color:rgb(0,124,196);
}
#P277_212
{
left:32243.3px;bottom:19458.2px;color:rgb(0,124,196);
}
#P277_213
{
left:34131.4px;bottom:19451.2px;color:rgb(0,124,196);
}
#P277_214
{
left:34611.2px;bottom:19458.2px;color:rgb(0,124,196);
}
#P277_215
{
left:4925.4px;bottom:38010.7px;color:white;
}
#P277_216
{
left:7095.51px;bottom:38252.3px;color:white;
}
#P277_217
{
left:7431.45px;bottom:38010.7px;color:white;
}
#P277_218
{
left:5053.4px;bottom:36907.7px;letter-spacing:-58.8px;color:rgb(35,31,31);
}
#P277_219
{
left:0px;letter-spacing:0px;margin-left:58.8px;
}
#P277_220
{
left:5053.4px;bottom:36139.7px;color:rgb(35,31,31);
}
#P277_221
{
left:9000.86px;bottom:36091.1px;color:rgb(35,31,31);
}
#P277_222
{
left:9533.98px;bottom:36139.7px;color:rgb(35,31,31);
}
#P277_223
{
left:5053.4px;bottom:35371.7px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P277_224
{
left:5053.4px;bottom:34603.7px;color:rgb(35,31,31);
}
#P277_225
{
left:0px;letter-spacing:0px;margin-left:-58.8px;
}
#P277_226
{
left:5053.4px;bottom:33835.7px;color:rgb(35,31,31);
}
#P277_227
{
left:5053.4px;bottom:33067.7px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P277_228
{
left:7566.81px;bottom:33019.1px;color:rgb(35,31,31);
}
#P277_229
{
left:8099.87px;bottom:33067.7px;color:rgb(35,31,31);
}
#P277_230
{
left:5053.4px;bottom:32299.7px;color:rgb(35,31,31);
}
#P277_231
{
left:13845.7px;bottom:28014.7px;
}
#P277_232
{
left:13845.7px;bottom:27118.7px;
}
#P277_233
{
left:13845.7px;bottom:26222.7px;
}
#P277_234
{
left:13805.7px;bottom:25070.7px;
}
#P277_235
{
left:13769.6px;bottom:19630.7px;
}
#P277_236
{
left:13845.7px;bottom:28014.7px;
}
#P277_237
{
left:13845.7px;bottom:27118.7px;
}
#P277_238
{
left:13845.7px;bottom:26222.7px;
}
#P277_239
{
left:13805.7px;bottom:25070.7px;
}
#P277_240
{
left:13769.6px;bottom:19630.7px;
}
#PageContainer277
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg277.jpg");background-repeat:no-repeat;background-size: 916px 1205px; background-position: 93.46px 75.3800000000001px;
}
#ImageContainer277 {bottom:83.62px;left:93.46px;width:915.78px;height:1205.43px;position:absolute;} #TextContainer277 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.example2{position: absolute;top: 82px;left: 172px;}
.example3{position: absolute;top: 524px;left: 172px;}
.nyr{position: absolute;top: 1119px;left: 183px;}
.nyr_exr{position: absolute;top: 1152px;left: 210px;color: rgb(35,31,31);font-size: 16px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}