.tr65{ color:transparent;}
#P65_1
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P65_2
{
left:22709.8px;bottom:1410.03px;color:rgb(35,31,31);
}
#P65_3
{
left:27267px;bottom:1410.03px;letter-spacing:3.9px;word-spacing:460.5px;color:rgb(35,31,31);
}
#P65_4
{
left:0px;letter-spacing:0px;margin-left:-464.5px;
}
#P65_5
{
left:0px;letter-spacing:1.5px;margin-left:1.5px;
}
#P65_6
{
left:0px;letter-spacing:0px;margin-left:-462.1px;
}
#P65_7
{
left:0px;letter-spacing:0.7px;margin-left:1.5px;
}
#P65_8
{
left:36142px;bottom:1410.03px;color:rgb(35,31,31);
}
#P65_9
{
left:7737.11px;bottom:46034.8px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P65_10
{
left:14605.4px;bottom:46059.3px;color:white;
}
#P65_11
{
left:15021px;bottom:46251.1px;color:white;
}
#P65_12
{
left:15261.2px;bottom:46059.3px;color:white;
}
#P65_13
{
left:16237.5px;bottom:46251.1px;color:white;
}
#P65_14
{
left:16477.7px;bottom:46059.3px;letter-spacing:-2.3px;color:white;
}
#P65_15
{
left:0px;letter-spacing:-2.2px;margin-left:2.3px;
}
#P65_16
{
left:12806.2px;bottom:45956.2px;
}
#P65_17
{
left:12806.2px;bottom:45956.2px;color:white;
}
#P65_18
{
left:13885.4px;bottom:44419.2px;color:rgb(35,31,31);
}
#P65_19
{
left:0px;letter-spacing:0px;margin-left:-15.5px;
}
#P65_20
{
left:0px;letter-spacing:0px;margin-left:-8.4px;
}
#P65_21
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P65_22
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P65_23
{
left:13885.4px;bottom:42883.2px;letter-spacing:-13.1px;color:rgb(35,31,31);
}
#P65_24
{
left:0px;letter-spacing:0.3px;margin-left:13.1px;
}
#P65_25
{
left:0px;letter-spacing:0px;margin-left:-42.3px;
}
#P65_26
{
left:0px;letter-spacing:-0.8px;
}
#P65_27
{
left:0px;letter-spacing:0px;margin-left:-13.1px;
}
#P65_28
{
left:13885.4px;bottom:41987.2px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P65_29
{
left:0px;letter-spacing:0px;margin-left:-13.5px;
}
#P65_30
{
left:0px;letter-spacing:0px;margin-left:-13.9px;
}
#P65_31
{
left:15389.4px;bottom:40515.2px;word-spacing:993.6px;color:rgb(35,31,31);
}
#P65_32
{
left:15920.9px;bottom:40485.7px;color:rgb(35,31,31);
}
#P65_33
{
left:16507.4px;bottom:40515.2px;color:rgb(35,31,31);
}
#P65_34
{
left:17144.5px;bottom:40076.6px;color:rgb(35,31,31);
}
#P65_35
{
left:17496.2px;bottom:40515.2px;color:rgb(35,31,31);
}
#P65_36
{
left:22589.4px;bottom:40523.2px;color:rgb(0,124,196);
}
#P65_37
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P65_38
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P65_39
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P65_40
{
left:15037.4px;bottom:39171.2px;word-spacing:993.6px;color:rgb(35,31,31);
}
#P65_41
{
left:15942px;bottom:39141.6px;color:rgb(35,31,31);
}
#P65_42
{
left:16528.5px;bottom:39171.2px;color:rgb(35,31,31);
}
#P65_43
{
left:17165.6px;bottom:38732.6px;color:rgb(35,31,31);
}
#P65_44
{
left:17517.3px;bottom:39171.2px;color:rgb(35,31,31);
}
#P65_45
{
left:22589.4px;bottom:39179.2px;color:rgb(0,124,196);
}
#P65_46
{
left:0px;letter-spacing:0px;margin-left:-49.8px;
}
#P65_47
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P65_48
{
left:15037.4px;bottom:37827.2px;word-spacing:993.6px;color:rgb(35,31,31);
}
#P65_49
{
left:15942px;bottom:37797.6px;color:rgb(35,31,31);
}
#P65_50
{
left:16528.5px;bottom:37827.2px;color:rgb(35,31,31);
}
#P65_51
{
left:17165.6px;bottom:37388.6px;color:rgb(35,31,31);
}
#P65_52
{
left:17517.3px;bottom:37827.2px;color:rgb(35,31,31);
}
#P65_53
{
left:18154.5px;bottom:37388.6px;color:rgb(35,31,31);
}
#P65_54
{
left:18506.2px;bottom:37827.2px;color:rgb(35,31,31);
}
#P65_55
{
left:22589.4px;bottom:37835.2px;letter-spacing:-1px;color:rgb(0,124,196);
}
#P65_56
{
left:0px;letter-spacing:0px;margin-left:-23.8px;
}
#P65_57
{
left:0px;letter-spacing:-1.7px;
}
#P65_58
{
left:0px;letter-spacing:0px;margin-left:-23.1px;
}
#P65_59
{
left:15037.4px;bottom:36675.2px;word-spacing:993.6px;color:rgb(235,26,35);
}
#P65_60
{
left:15516.1px;bottom:36236.6px;color:rgb(235,26,35);
}
#P65_61
{
left:15867.9px;bottom:36675.2px;color:rgb(235,26,35);
}
#P65_62
{
left:16505px;bottom:36236.6px;color:rgb(235,26,35);
}
#P65_63
{
left:16856.8px;bottom:36675.2px;color:rgb(235,26,35);
}
#P65_64
{
left:17493.9px;bottom:36236.6px;color:rgb(235,26,35);
}
#P65_65
{
left:17845.7px;bottom:36675.2px;color:rgb(235,26,35);
}
#P65_66
{
left:18482.8px;bottom:36236.6px;color:rgb(235,26,35);
}
#P65_67
{
left:18834.5px;bottom:36675.2px;color:rgb(235,26,35);
}
#P65_68
{
left:19366px;bottom:36645.6px;color:rgb(235,26,35);
}
#P65_69
{
left:20304.5px;bottom:36675.2px;color:rgb(235,26,35);
}
#P65_70
{
left:21423.8px;bottom:36675.2px;color:rgb(35,31,31);
}
#P65_71
{
left:22589.4px;bottom:36683.2px;color:rgb(0,124,196);
}
#P65_72
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P65_73
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P65_74
{
left:14469.4px;bottom:34947.2px;color:rgb(35,31,31);
}
#P65_75
{
left:15173.4px;bottom:35139.2px;letter-spacing:-9.1px;color:rgb(35,31,31);
}
#P65_76
{
left:0px;letter-spacing:-0.4px;margin-left:9.1px;
}
#P65_77
{
left:13885.5px;bottom:31555.2px;letter-spacing:-2.4px;color:rgb(35,31,31);
}
#P65_78
{
left:0px;letter-spacing:0px;margin-left:2.4px;
}
#P65_79
{
left:14349px;bottom:30430px;color:rgb(35,31,31);
}
#P65_80
{
left:15549.4px;bottom:30403.2px;color:rgb(35,31,31);
}
#P65_81
{
left:24845px;bottom:30430px;color:rgb(35,31,31);
}
#P65_82
{
left:26173.4px;bottom:30403.2px;color:rgb(35,31,31);
}
#P65_83
{
left:14349px;bottom:29150px;word-spacing:453.2px;color:rgb(35,31,31);
}
#P65_84
{
left:15549.4px;bottom:29123.2px;letter-spacing:-13.1px;color:rgb(35,31,31);
}
#P65_85
{
left:0px;letter-spacing:0px;margin-left:13.1px;
}
#P65_86
{
left:8013.4px;bottom:30819.2px;color:rgb(35,31,31);
}
#P65_87
{
left:0px;letter-spacing:0px;margin-left:-66.2px;
}
#P65_88
{
left:7801.11px;bottom:25569.6px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P65_89
{
left:14669.4px;bottom:25594.2px;color:white;
}
#P65_90
{
left:17053.2px;bottom:25786px;color:white;
}
#P65_91
{
left:17293.4px;bottom:25594.2px;word-spacing:-31.9px;color:white;
}
#P65_92
{
left:20061.7px;bottom:25786px;color:white;
}
#P65_93
{
left:20301.9px;bottom:25594.2px;color:white;
}
#P65_94
{
left:21485.6px;bottom:25786px;color:white;
}
#P65_95
{
left:21725.8px;bottom:25594.2px;color:white;
}
#P65_96
{
left:12825px;bottom:25427.1px;
}
#P65_97
{
left:12825px;bottom:25427.1px;color:white;
}
#P65_98
{
left:13949.4px;bottom:23963.6px;color:rgb(35,31,31);
}
#P65_99
{
left:0px;letter-spacing:0px;margin-left:-225px;
}
#P65_100
{
left:0px;letter-spacing:0px;margin-left:77.1px;
}
#P65_101
{
left:0px;letter-spacing:0px;margin-left:-10.5px;
}
#P65_102
{
left:0px;letter-spacing:0px;margin-left:12.5px;
}
#P65_103
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P65_104
{
left:31476.7px;bottom:23963.6px;word-spacing:77.1px;color:rgb(35,31,31);
}
#P65_105
{
left:13949.4px;bottom:23067.6px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P65_106
{
left:0px;letter-spacing:-1.4px;margin-left:-28.1px;
}
#P65_107
{
left:0px;letter-spacing:-1.3px;margin-left:1.4px;
}
#P65_108
{
left:13949.4px;bottom:22171.7px;letter-spacing:-2.6px;color:rgb(35,31,31);
}
#P65_109
{
left:0px;letter-spacing:0px;margin-left:2.6px;
}
#P65_110
{
left:13949.4px;bottom:21275.7px;color:rgb(35,31,31);
}
#P65_111
{
left:13949.4px;bottom:20123.6px;letter-spacing:-1.6px;color:rgb(35,31,31);
}
#P65_112
{
left:0px;letter-spacing:-1.2px;margin-left:1.6px;
}
#P65_113
{
left:0px;letter-spacing:0px;margin-left:1.2px;
}
#P65_114
{
left:13949.4px;bottom:19227.7px;color:rgb(35,31,31);
}
#P65_115
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P65_116
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P65_117
{
left:0px;letter-spacing:0px;margin-left:-13.9px;
}
#P65_118
{
left:15101.5px;bottom:17755.7px;letter-spacing:-8.4px;color:rgb(35,31,31);
}
#P65_119
{
left:0px;letter-spacing:0px;margin-left:8.4px;
}
#P65_120
{
left:20129.5px;bottom:17755.7px;color:rgb(35,31,31);
}
#P65_121
{
left:15101.5px;bottom:16411.7px;letter-spacing:-8.4px;color:rgb(35,31,31);
}
#P65_122
{
left:0px;letter-spacing:-1.2px;margin-left:8.4px;
}
#P65_123
{
left:20263.4px;bottom:16411.7px;color:rgb(35,31,31);
}
#P65_124
{
left:13949.5px;bottom:14939.7px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P65_125
{
left:0px;letter-spacing:0px;margin-left:-26.7px;
}
#P65_126
{
left:0px;letter-spacing:0px;
}
#P65_127
{
left:13949.5px;bottom:14043.7px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P65_128
{
left:13949.5px;bottom:12763.7px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P65_129
{
left:0px;letter-spacing:0px;margin-left:-12.7px;
}
#P65_130
{
left:0px;letter-spacing:-2.3px;margin-left:-14px;
}
#P65_131
{
left:0px;letter-spacing:-3.5px;margin-left:2.3px;
}
#P65_132
{
left:13949.5px;bottom:11867.7px;color:rgb(35,31,31);
}
#P65_133
{
left:15227.3px;bottom:11838.1px;color:rgb(35,31,31);
}
#P65_134
{
left:15813.7px;bottom:11867.7px;color:rgb(35,31,31);
}
#P65_135
{
left:16876.8px;bottom:11838.1px;color:rgb(35,31,31);
}
#P65_136
{
left:17463.1px;bottom:11867.7px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P65_137
{
left:14533.4px;bottom:10395.6px;color:rgb(35,31,31);
}
#P65_138
{
left:15237.4px;bottom:10587.6px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P65_139
{
left:13949.5px;bottom:6619.5px;color:rgb(35,31,31);
}
#P65_140
{
left:14039.3px;bottom:6646.44px;word-spacing:453.2px;color:rgb(35,31,31);
}
#P65_141
{
left:15613.4px;bottom:6639.34px;letter-spacing:-12.9px;color:rgb(2,77,161);
}
#P65_142
{
left:0px;letter-spacing:0px;margin-left:12.9px;
}
#P65_143
{
left:18482.2px;bottom:6619.63px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P65_144
{
left:0px;letter-spacing:-0.2px;margin-left:-206.1px;
}
#P65_145
{
left:0px;letter-spacing:0px;margin-left:-6.6px;
}
#P65_146
{
left:25999.8px;bottom:6619.63px;letter-spacing:28px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P65_147
{
left:0px;letter-spacing:0.3px;margin-left:-28.2px;
}
#P65_148
{
left:15613.4px;bottom:5723.63px;letter-spacing:-0.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P65_149
{
left:0px;letter-spacing:-0.1px;margin-left:-4.1px;
}
#P65_150
{
left:15613.4px;bottom:4827.69px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P65_151
{
left:0px;letter-spacing:0px;margin-left:1.2px;
}
#P65_152
{
left:15613.4px;bottom:3931.69px;color:rgb(35,31,31);
}
#PageContainer65
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg065.jpg");background-repeat:no-repeat;background-size: 861px 1199px; background-position: 189.27px 76.4200000000001px;
}
#ImageContainer65 {bottom:88.58px;left:189.27px;width:861.18px;height:1198.68px;position:absolute;} #TextContainer65 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.example3{ position: absolute; top: 86px; left: 153px;}
.example4{ position: absolute; top: 637px; left: 155px;}
.nyr{position: absolute;top: 480px;left: 183px;}
.nyr_exr{position: absolute;top: 515px;left: 207px;color:rgb(35,31,31);font-size:16px}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}