.tr26{ color:transparent;}
#P26_1
{
left:0px;bottom:0px;letter-spacing:0px;color:white;
}
#P26_2
{
left:0px;bottom:0px;letter-spacing:0px;color:white;
}
#P26_3
{
left:0px;bottom:0px;letter-spacing:-3.6px;color:white;
}
#P26_4
{
left:0px;bottom:0px;letter-spacing:0px;color:white;
}
#P26_5
{
left:0px;bottom:0px;letter-spacing:0px;color:white;
}
#P26_6
{
left:0px;bottom:0px;letter-spacing:-5.5px;color:white;
}
#P26_7
{
left:0px;letter-spacing:0px;margin-left:-14.1px;
}
#P26_8
{
left:5781.85px;bottom:39143px;
}
#P26_9
{
left:0px;letter-spacing:0px;margin-left:945px;
}
#P26_10
{
left:0px;letter-spacing:0px;margin-left:-24.1px;
}
#P26_11
{
left:22219.2px;bottom:39441.3px;
}
#P26_12
{
left:5781.85px;bottom:39143px;color:white;
}
#P26_13
{
left:0px;letter-spacing:0px;margin-left:945px;
}
#P26_14
{
left:0px;letter-spacing:0px;margin-left:-23.9px;
}
#P26_15
{
left:22592.9px;bottom:39143px;
}
#P26_16
{
left:22219.4px;bottom:39441.3px;color:white;
}
#P26_17
{
left:22593px;bottom:39143px;color:white;
}
#P26_18
{
left:5781.85px;bottom:37018.2px;
}
#P26_19
{
left:0px;letter-spacing:0px;margin-left:994.6px;
}
#P26_20
{
left:0px;letter-spacing:-0.7px;margin-left:-13.2px;
}
#P26_21
{
left:5781.85px;bottom:37018.2px;color:white;
}
#P26_22
{
left:0px;letter-spacing:0px;margin-left:994.6px;
}
#P26_23
{
left:0px;letter-spacing:-0.7px;margin-left:-13.2px;
}
#P26_24
{
left:5781.85px;bottom:34893.4px;
}
#P26_25
{
left:0px;letter-spacing:0px;margin-left:994.6px;
}
#P26_26
{
left:0px;letter-spacing:0px;margin-left:-13.2px;
}
#P26_27
{
left:0px;letter-spacing:0px;margin-left:-24.1px;
}
#P26_28
{
left:18444.1px;bottom:35191.7px;
}
#P26_29
{
left:5781.85px;bottom:34893.4px;color:white;
}
#P26_30
{
left:0px;letter-spacing:0px;margin-left:994.6px;
}
#P26_31
{
left:0px;letter-spacing:0px;margin-left:-13.2px;
}
#P26_32
{
left:0px;letter-spacing:0px;margin-left:-23.9px;
}
#P26_33
{
left:18817.7px;bottom:34893.4px;
}
#P26_34
{
left:18444.2px;bottom:35191.7px;color:white;
}
#P26_35
{
left:18817.8px;bottom:34893.4px;color:white;
}
#P26_36
{
left:5781.85px;bottom:32768.6px;word-spacing:994.6px;
}
#P26_37
{
left:10143.1px;bottom:33066.9px;
}
#P26_38
{
left:10516.8px;bottom:32768.6px;letter-spacing:-4.2px;
}
#P26_39
{
left:16457.4px;bottom:33066.9px;
}
#P26_40
{
left:16831px;bottom:32768.6px;
}
#P26_41
{
left:18648.1px;bottom:33066.9px;
}
#P26_42
{
left:5781.85px;bottom:32768.6px;word-spacing:994.6px;color:white;
}
#P26_43
{
left:19021.7px;bottom:32768.6px;
}
#P26_44
{
left:10143.1px;bottom:33066.9px;color:white;
}
#P26_45
{
left:10516.8px;bottom:32768.6px;letter-spacing:-4.2px;color:white;
}
#P26_46
{
left:16457.4px;bottom:33066.9px;color:white;
}
#P26_47
{
left:16831px;bottom:32768.6px;color:white;
}
#P26_48
{
left:18648.1px;bottom:33066.9px;color:white;
}
#P26_49
{
left:19021.7px;bottom:32768.6px;color:white;
}
#P26_50
{
left:5781.85px;bottom:30643.8px;
}
#P26_51
{
left:0px;letter-spacing:0px;margin-left:994.6px;
}
#P26_52
{
left:0px;letter-spacing:0px;margin-left:-24.1px;
}
#P26_53
{
left:0px;letter-spacing:0px;margin-left:-33.6px;
}
#P26_54
{
left:5781.85px;bottom:30643.8px;color:white;
}
#P26_55
{
left:0px;letter-spacing:0px;margin-left:994.6px;
}
#P26_56
{
left:0px;letter-spacing:0px;margin-left:-23.9px;
}
#P26_57
{
left:0px;letter-spacing:0px;margin-left:-33.5px;
}
#P26_58
{
left:5781.85px;bottom:28519px;
}
#P26_59
{
left:0px;letter-spacing:0px;margin-left:994.6px;
}
#P26_60
{
left:20849.4px;bottom:28817.3px;color:white;
}
#P26_61
{
left:5781.85px;bottom:28519px;
}
#P26_62
{
left:0px;letter-spacing:0px;margin-left:-698.9px;
}
#P26_63
{
left:0px;letter-spacing:0px;margin-left:994.6px;
}
#P26_64
{
left:21223.1px;bottom:28519px;
}
#P26_65
{
left:20849.4px;bottom:28817.3px;
}
#P26_66
{
left:5781.85px;bottom:28519px;
}
#P26_67
{
left:0px;letter-spacing:0px;margin-left:994.6px;
}
#P26_68
{
left:21222.9px;bottom:28519px;
}
#P26_69
{
left:20849.4px;bottom:28817.3px;
}
#P26_70
{
left:21222.9px;bottom:28519px;
}
#P26_71
{
left:4964.04px;bottom:15030.5px;letter-spacing:0.1px;word-spacing:-0.1px;color:rgb(33,31,31);
}
#P26_72
{
left:0px;letter-spacing:0px;margin-left:-34.6px;
}
#P26_73
{
left:0px;letter-spacing:0.1px;margin-left:-51.3px;
}
#P26_74
{
left:11667.3px;bottom:15774.5px;color:rgb(33,31,31);
}
#P26_75
{
left:12047.1px;bottom:16062.9px;color:rgb(33,31,31);
}
#P26_76
{
left:5844.48px;bottom:14483px;color:rgb(33,31,31);
}
#P26_77
{
left:8520.22px;bottom:14785.9px;color:rgb(33,31,31);
}
#P26_78
{
left:8881.99px;bottom:14815.7px;color:rgb(33,31,31);
}
#P26_79
{
left:0px;letter-spacing:-28.8px;margin-left:-51.9px;
}
#P26_80
{
left:16201.4px;bottom:16261px;word-spacing:-0.2px;color:rgb(33,31,31);
}
#P26_81
{
left:0px;letter-spacing:0.2px;margin-left:-28.8px;
}
#P26_82
{
left:0px;letter-spacing:0.2px;margin-left:-17.4px;
}
#P26_83
{
left:21635.8px;bottom:16866px;color:rgb(33,31,31);
}
#P26_84
{
left:22027.4px;bottom:17156px;color:rgb(33,31,31);
}
#P26_85
{
left:16191.5px;bottom:15616.2px;color:rgb(33,31,31);
}
#P26_86
{
left:18867.2px;bottom:15919.1px;color:rgb(33,31,31);
}
#P26_87
{
left:19229px;bottom:15948.9px;letter-spacing:-0.2px;color:rgb(33,31,31);
}
#P26_88
{
left:0px;letter-spacing:-28.8px;margin-left:-51.6px;
}
#P26_89
{
left:27213.8px;bottom:17467.1px;letter-spacing:-7.2px;color:rgb(33,31,31);
}
#P26_90
{
left:0px;letter-spacing:-4.3px;margin-left:7.2px;
}
#P26_91
{
left:0px;letter-spacing:1px;margin-left:4.3px;
}
#P26_92
{
left:31288.3px;bottom:17923.2px;color:rgb(33,31,31);
}
#P26_93
{
left:31645.1px;bottom:18209.3px;color:rgb(33,31,31);
}
#P26_94
{
left:27109.7px;bottom:16812px;color:rgb(33,31,31);
}
#P26_95
{
left:29335.9px;bottom:17065.6px;color:rgb(33,31,31);
}
#P26_96
{
left:29697.7px;bottom:17095.4px;letter-spacing:-3.6px;color:rgb(33,31,31);
}
#P26_97
{
left:22353.2px;bottom:4084.3px;letter-spacing:-4.3px;
}
#P26_98
{
left:0px;letter-spacing:-3.2px;margin-left:4.3px;
}
#P26_99
{
left:0px;letter-spacing:1.7px;margin-left:3.2px;
}
#P26_100
{
left:0px;letter-spacing:0px;margin-left:-40.3px;
}
#P26_101
{
left:9550.85px;bottom:4626.69px;color:rgb(7,1,2);
}
#P26_102
{
left:9827.77px;bottom:4040.45px;word-spacing:-0.1px;color:rgb(7,1,2);
}
#P26_103
{
left:0px;letter-spacing:0.1px;margin-left:-12.3px;
}
#P26_104
{
left:11450.2px;bottom:3395.46px;letter-spacing:-4.1px;color:rgb(7,1,2);
}
#P26_105
{
left:0px;letter-spacing:-2.1px;margin-left:4.1px;
}
#P26_106
{
left:0px;letter-spacing:-44.3px;margin-left:-27.3px;
}
#P26_107
{
left:21816.8px;bottom:4090.69px;letter-spacing:-4.9px;color:rgb(7,1,2);
}
#P26_108
{
left:0px;letter-spacing:-3.7px;margin-left:4.9px;
}
#P26_109
{
left:0px;letter-spacing:2px;margin-left:3.8px;
}
#P26_110
{
left:0px;letter-spacing:0px;margin-left:-46.2px;
}
#P26_111
{
left:0px;bottom:0px;letter-spacing:0px;color:white;
}
#P26_112
{
left:6909.4px;bottom:44472.1px;
}
#P26_113
{
left:15500.4px;bottom:45111.5px;
}
#P26_114
{
left:16301.1px;bottom:44472.1px;
}
#P26_115
{
left:30387.7px;bottom:45111.5px;
}
#P26_116
{
left:31188.4px;bottom:44472.1px;
}
#P26_117
{
left:6909.4px;bottom:41016.1px;
}
#P26_118
{
left:2365.4px;bottom:41054.1px;
}
#PageContainer26
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg026.jpg");background-repeat:no-repeat;background-size: 1066px 1364px; background-position: right bottom;
}
#ImageContainer26 {bottom:0.00px;right:0.00px;width:1066.24px;height:1364.16px;position:absolute;} #TextContainer26 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
