.tr139{ color:transparent;}
#P139_1
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P139_2
{
left:23400px;bottom:1410.03px;color:rgb(35,31,31);
}
#P139_3
{
left:27946.5px;bottom:1410.03px;letter-spacing:3px;word-spacing:456.2px;color:rgb(35,31,31);
}
#P139_4
{
left:0px;letter-spacing:0px;margin-left:-1.6px;
}
#P139_5
{
left:0px;letter-spacing:0px;margin-left:-456.2px;
}
#P139_6
{
left:0px;letter-spacing:3.6px;margin-left:10.8px;
}
#P139_7
{
left:0px;letter-spacing:2.9px;margin-left:2.3px;
}
#P139_8
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P139_9
{
left:4818.71px;bottom:32705.7px;color:white;
}
#P139_10
{
left:8174.36px;bottom:32947.4px;color:white;
}
#P139_11
{
left:8510.23px;bottom:32705.7px;color:white;
}
#P139_12
{
left:5053.4px;bottom:31602.7px;letter-spacing:-58.8px;color:rgb(35,31,31);
}
#P139_13
{
left:0px;letter-spacing:0px;margin-left:58.8px;
}
#P139_14
{
left:5053.4px;bottom:30834.7px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P139_15
{
left:9843.87px;bottom:30834.7px;color:rgb(35,31,31);
}
#P139_16
{
left:10199.7px;bottom:30834.7px;color:rgb(35,31,31);
}
#P139_17
{
left:5053.4px;bottom:30066.7px;color:rgb(35,31,31);
}
#P139_18
{
left:6589.4px;bottom:29170.7px;word-spacing:1358.1px;color:rgb(35,31,31);
}
#P139_19
{
left:7075.16px;bottom:28729.9px;color:rgb(35,31,31);
}
#P139_20
{
left:7394.97px;bottom:29170.7px;color:rgb(35,31,31);
}
#P139_21
{
left:7572.89px;bottom:29170.7px;color:rgb(35,31,31);
}
#P139_22
{
left:5053.4px;bottom:28274.7px;letter-spacing:1358.1px;color:rgb(35,31,31);
}
#P139_23
{
left:6945.24px;bottom:28274.7px;color:rgb(35,31,31);
}
#P139_24
{
left:6589.4px;bottom:27378.7px;word-spacing:1358.1px;color:rgb(35,31,31);
}
#P139_25
{
left:7123.16px;bottom:27378.7px;color:rgb(35,31,31);
}
#P139_26
{
left:7479px;bottom:27378.7px;color:rgb(35,31,31);
}
#P139_27
{
left:13838.5px;bottom:34932.4px;letter-spacing:-9.3px;word-spacing:580.1px;color:rgb(35,31,31);
}
#P139_27a
{
left: 15068.5px;bottom:34932.4px;letter-spacing:-9.3px;word-spacing:580.1px;color:rgb(35,31,31);
}
#P139_28
{
left:0px;letter-spacing:0px;margin-left:-206.5px;
}
#P139_29
{
left:0px;letter-spacing:-2.6px;margin-left:-16.8px;
}
#P139_30
{
left:0px;letter-spacing:0px;margin-left:2.6px;
}
#P139_31
{
left:17893.4px;bottom:34938px;color:rgb(35,31,31);
}
#P139_32
{
left:18294.7px;bottom:34932.4px;color:rgb(35,31,31);
}
#P139_33
{
left:18442.4px;bottom:34902.8px;color:rgb(35,31,31);
}
#P139_34
{
left:19028.8px;bottom:34932.4px;color:rgb(35,31,31);
}
#P139_35
{
left:22064.4px;bottom:34938px;color:rgb(35,31,31);
}
#P139_36
{
left:22465.7px;bottom:34932.4px;color:rgb(35,31,31);
}
#P139_37
{
left:22613.5px;bottom:34902.8px;color:rgb(35,31,31);
}
#P139_38
{
left:23200px;bottom:34932.4px;color:rgb(35,31,31);
}
#P139_39
{
left:13887.9px;bottom:33268.4px;letter-spacing:993.6px;color:rgb(35,31,31);
}
#P139_40
{
left:16447.9px;bottom:33268.4px;color:rgb(235,26,35);
}
#P139_41
{
left:16831.6px;bottom:33268.4px;color:rgb(35,31,31);
}
#P139_42
{
left:16990px;bottom:33238.8px;color:rgb(35,31,31);
}
#P139_43
{
left:17576.4px;bottom:33268.4px;color:rgb(35,31,31);
}
#P139_44
{
left:18639.4px;bottom:33238.8px;color:rgb(35,31,31);
}
#P139_45
{
left:19225.8px;bottom:33268.4px;color:rgb(35,31,31);
}
#P139_46
{
left:19384.2px;bottom:33268.4px;color:rgb(235,26,35);
}
#P139_47
{
left:20130.5px;bottom:33268.4px;color:rgb(35,31,31);
}
#P139_48
{
left:20288.9px;bottom:33238.8px;color:rgb(35,31,31);
}
#P139_49
{
left:20875.3px;bottom:33268.4px;color:rgb(35,31,31);
}
#P139_50
{
left:24063.9px;bottom:33276.4px;color:rgb(0,124,196);
}
#P139_51
{
left:28464.7px;bottom:33303.3px;color:rgb(0,124,196);
}
#P139_52
{
left:28801px;bottom:33276.4px;color:rgb(0,124,196);
}
#P139_53
{
left:13887.9px;bottom:31988.4px;letter-spacing:993.6px;color:rgb(35,31,31);
}
#P139_54
{
left:0px;letter-spacing:0px;margin-left:-192.1px;
}
#P139_55
{
left:0px;letter-spacing:0px;margin-left:2312px;
}
#P139_56
{
left:18628.7px;bottom:31958.8px;color:rgb(35,31,31);
}
#P139_57
{
left:19215.1px;bottom:31988.4px;color:rgb(35,31,31);
}
#P139_58
{
left:24063.9px;bottom:31996.4px;color:rgb(0,124,196);
}
#P139_59
{
left:13800.1px;bottom:30324.4px;letter-spacing:-11.6px;word-spacing:544px;color:rgb(35,31,31);
}
#P139_59a
{
left: 15162.1px;bottom:30324.4px;letter-spacing:-11.6px;word-spacing:544px;color:rgb(35,31,31);
}
#P139_60
{
left:0px;letter-spacing:0px;margin-left:-168.2px;
}
#P139_61
{
left:0px;letter-spacing:-2.6px;margin-left:-16.8px;
}
#P139_62
{
left:0px;letter-spacing:0px;margin-left:2.6px;
}
#P139_63
{
left:0px;letter-spacing:0px;margin-left:-544px;
}
#P139_64
{
left:18382.7px;bottom:29885.8px;color:rgb(35,31,31);
}
#P139_65
{
left:18734.5px;bottom:30324.4px;color:rgb(35,31,31);
}
#P139_66
{
left:18882.3px;bottom:30330px;color:rgb(35,31,31);
}
#P139_67
{
left:19329.4px;bottom:30324.4px;color:rgb(35,31,31);
}
#P139_68
{
left:21428.6px;bottom:30330px;color:rgb(35,31,31);
}
#P139_69
{
left:21875.7px;bottom:30324.4px;color:rgb(35,31,31);
}
#P139_70
{
left:22023.5px;bottom:30294.8px;color:rgb(35,31,31);
}
#P139_71
{
left:22609.9px;bottom:30324.4px;color:rgb(35,31,31);
}
#P139_72
{
left:13887.9px;bottom:28660.4px;letter-spacing:993.6px;color:rgb(35,31,31);
}
#P139_73
{
left:0px;letter-spacing:0px;margin-left:255.9px;
}
#P139_74
{
left:16821px;bottom:28630.8px;color:rgb(35,31,31);
}
#P139_75
{
left:16944.2px;bottom:28221.8px;color:rgb(35,31,31);
}
#P139_76
{
left:17296px;bottom:28630.8px;color:rgb(35,31,31);
}
#P139_77
{
left:17472px;bottom:28660.4px;color:rgb(235,26,35);
}
#P139_78
{
left:17907px;bottom:28660.4px;color:rgb(35,31,31);
}
#P139_79
{
left:18065.4px;bottom:28630.8px;color:rgb(35,31,31);
}
#P139_80
{
left:18651.9px;bottom:28660.4px;color:rgb(35,31,31);
}
#P139_81
{
left:19183.4px;bottom:28630.8px;color:rgb(35,31,31);
}
#P139_82
{
left:19306.6px;bottom:28221.8px;color:rgb(35,31,31);
}
#P139_83
{
left:19658.4px;bottom:28630.8px;color:rgb(35,31,31);
}
#P139_84
{
left:19834.4px;bottom:28660.4px;color:rgb(235,26,35);
}
#P139_85
{
left:24063.9px;bottom:28668.4px;color:rgb(0,124,196);
}
#P139_86
{
left:28464.7px;bottom:28695.3px;color:rgb(0,124,196);
}
#P139_87
{
left:28834.3px;bottom:28668.4px;color:rgb(0,124,196);
}
#P139_88
{
left:13887.9px;bottom:27380.4px;letter-spacing:993.6px;color:rgb(35,31,31);
}
#P139_89
{
left:0px;letter-spacing:0px;margin-left:-128.1px;
}
#P139_90
{
left:0px;letter-spacing:0px;margin-left:1697.6px;
}
#P139_91
{
left:18078.3px;bottom:27350.8px;color:rgb(35,31,31);
}
#P139_92
{
left:18664.7px;bottom:27380.4px;color:rgb(35,31,31);
}
#P139_93
{
left:24063.9px;bottom:27388.4px;color:rgb(0,124,196);
}
#P139_94
{
left:13887.9px;bottom:24308.4px;color:rgb(35,31,31);
}
#P139_95
{
left:14351.4px;bottom:24335.2px;color:rgb(35,31,31);
}
#P139_96
{
left:15551.9px;bottom:24308.4px;letter-spacing:-2.1px;color:rgb(35,31,31);
}
#P139_97
{
left:0px;letter-spacing:0px;margin-left:2.1px;
}
#P139_98
{
left:19338.8px;bottom:24278.8px;color:rgb(35,31,31);
}
#P139_99
{
left:19925.2px;bottom:24308.4px;color:rgb(35,31,31);
}
#P139_100
{
left:20083.6px;bottom:24308.4px;color:rgb(35,31,31);
}
#P139_101
{
left:20394.1px;bottom:24308.4px;color:rgb(35,31,31);
}
#P139_102
{
left:22476.5px;bottom:24308.4px;color:rgb(35,31,31);
}
#P139_103
{
left:22787px;bottom:24308.4px;color:rgb(35,31,31);
}
#P139_104
{
left:22945.4px;bottom:24278.8px;color:rgb(35,31,31);
}
#P139_105
{
left:23531.7px;bottom:24308.4px;color:rgb(35,31,31);
}
#P139_106
{
left:13887.9px;bottom:23028.4px;color:rgb(35,31,31);
}
#P139_107
{
left:14351.4px;bottom:23055.2px;color:rgb(35,31,31);
}
#P139_108
{
left:15551.9px;bottom:23028.4px;letter-spacing:-2.6px;color:rgb(35,31,31);
}
#P139_109
{
left:18434.2px;bottom:23028.4px;color:rgb(35,31,31);
}
#P139_110
{
left:18847.4px;bottom:23028.4px;color:rgb(35,31,31);
}
#P139_111
{
left:19005.8px;bottom:22998.8px;color:rgb(35,31,31);
}
#P139_112
{
left:19592.2px;bottom:23028.4px;color:rgb(35,31,31);
}
#P139_113
{
left:22579.3px;bottom:23028.4px;color:rgb(35,31,31);
}
#P139_114
{
left:22992.5px;bottom:23028.4px;color:rgb(35,31,31);
}
#P139_115
{
left:23150.9px;bottom:22998.8px;color:rgb(35,31,31);
}
#P139_116
{
left:23737.3px;bottom:23028.4px;color:rgb(35,31,31);
}
#P139_117
{
left:7792.6px;bottom:36699.9px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P139_118
{
left:14660.9px;bottom:36724.4px;color:white;
}
#P139_119
{
left:17542.4px;bottom:36916.2px;color:white;
}
#P139_120
{
left:17782.6px;bottom:36724.4px;letter-spacing:-1.7px;word-spacing:-31.9px;color:white;
}
#P139_121
{
left:21992.2px;bottom:36916.2px;color:white;
}
#P139_122
{
left:22232.4px;bottom:36724.4px;letter-spacing:-1.9px;color:white;
}
#P139_123
{
left:25754.2px;bottom:36916.2px;color:white;
}
#P139_124
{
left:25994.4px;bottom:36724.4px;color:white;
}
#P139_125
{
left:12906.2px;bottom:36621.3px;
}
#P139_126
{
left:12906.2px;bottom:36621.3px;color:white;
}
#P139_127
{
left:13896.4px;bottom:17845.9px;letter-spacing:-4.6px;color:rgb(35,31,31);
}
#P139_128
{
left:0px;letter-spacing:0px;margin-left:4.6px;
}
#P139_129
{
left:16877.9px;bottom:17851.5px;color:rgb(35,31,31);
}
#P139_130
{
left:17297.5px;bottom:17845.9px;color:rgb(35,31,31);
}
#P139_131
{
left:17445.3px;bottom:17816.3px;color:rgb(35,31,31);
}
#P139_132
{
left:18031.8px;bottom:17845.9px;color:rgb(35,31,31);
}
#P139_133
{
left:18179.6px;bottom:17851.5px;color:rgb(35,31,31);
}
#P139_134
{
left:18592.2px;bottom:17845.9px;color:rgb(35,31,31);
}
#P139_135
{
left:20691.4px;bottom:17851.5px;color:rgb(35,31,31);
}
#P139_136
{
left:21111px;bottom:17845.9px;color:rgb(35,31,31);
}
#P139_137
{
left:21258.8px;bottom:17816.3px;color:rgb(35,31,31);
}
#P139_138
{
left:21845.3px;bottom:17845.9px;color:rgb(35,31,31);
}
#P139_139
{
left:24335.3px;bottom:17851.5px;color:rgb(35,31,31);
}
#P139_140
{
left:24747.8px;bottom:17845.9px;color:rgb(35,31,31);
}
#P139_141
{
left:24895.6px;bottom:17816.3px;color:rgb(35,31,31);
}
#P139_142
{
left:25482.1px;bottom:17845.9px;color:rgb(35,31,31);
}
#P139_143
{
left:0px;letter-spacing:0px;margin-left:-147.8px;
}
#P139_144
{
left:25651px;bottom:18285.5px;color:rgb(35,31,31);
}
#P139_145
{
left:26005.8px;bottom:17863.5px;color:rgb(35,31,31);
}
#P139_146
{
left:25629.9px;bottom:17829.9px;color:rgb(35,31,31);
}
#P139_147
{
left:26027px;bottom:17847.1px;color:rgb(35,31,31);
}
#P139_148
{
left:25651px;bottom:17378px;color:rgb(35,31,31);
}
#P139_149
{
left:26005.8px;bottom:17863.5px;color:rgb(35,31,31);
}
#P139_150
{
left:26027px;bottom:17845.9px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P139_151
{
left:13896.4px;bottom:15861.9px;color:rgb(35,31,31);
}
#P139_152
{
left:15496.4px;bottom:15861.9px;color:rgb(235,26,35);
}
#P139_153
{
left:15891.4px;bottom:15861.9px;color:rgb(35,31,31);
}
#P139_154
{
left:16049.8px;bottom:15832.3px;color:rgb(35,31,31);
}
#P139_155
{
left:16636.1px;bottom:15861.9px;color:rgb(35,31,31);
}
#P139_156
{
left:16794.5px;bottom:15861.9px;color:rgb(0,124,196);
}
#P139_157
{
left:17188.1px;bottom:15861.9px;color:rgb(35,31,31);
}
#P139_158
{
left:17346.5px;bottom:15832.3px;color:rgb(35,31,31);
}
#P139_159
{
left:17932.9px;bottom:15861.9px;color:rgb(35,31,31);
}
#P139_160
{
left:18091.3px;bottom:15861.9px;color:rgb(235,26,35);
}
#P139_161
{
left:18837.5px;bottom:15861.9px;color:rgb(35,31,31);
}
#P139_162
{
left:18995.9px;bottom:15832.3px;color:rgb(35,31,31);
}
#P139_163
{
left:19582.4px;bottom:15861.9px;color:rgb(35,31,31);
}
#P139_164
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P139_165
{
left:19761.9px;bottom:16301.5px;color:rgb(0,124,196);
}
#P139_166
{
left:20097.7px;bottom:15879.5px;color:rgb(0,124,196);
}
#P139_167
{
left:19740.8px;bottom:15845.9px;color:rgb(0,124,196);
}
#P139_168
{
left:20118.8px;bottom:15863.1px;color:rgb(0,124,196);
}
#P139_169
{
left:19761.9px;bottom:15394px;color:rgb(0,124,196);
}
#P139_170
{
left:20097.7px;bottom:15879.5px;color:rgb(0,124,196);
}
#P139_171
{
left:20118.8px;bottom:15861.9px;letter-spacing:-158.4px;color:rgb(0,124,196);
}
#P139_172
{
left:22344.4px;bottom:15869.9px;color:rgb(0,124,196);
}
#P139_173
{
left:26745.2px;bottom:15896.7px;color:rgb(0,124,196);
}
#P139_174
{
left:27081.5px;bottom:15869.9px;color:rgb(0,124,196);
}
#P139_175
{
left:0px;letter-spacing:0px;margin-left:-161.3px;
}
#P139_176
{
left:28382.4px;bottom:16291.6px;color:rgb(0,124,196);
}
#P139_177
{
left:28672.7px;bottom:15886.7px;color:rgb(0,124,196);
}
#P139_178
{
left:28362.3px;bottom:15856.6px;color:rgb(0,124,196);
}
#P139_179
{
left:28692.9px;bottom:15871.1px;color:rgb(0,124,196);
}
#P139_180
{
left:28382.4px;bottom:15425.4px;color:rgb(0,124,196);
}
#P139_181
{
left:28672.7px;bottom:15886.7px;color:rgb(0,124,196);
}
#P139_182
{
left:28854.2px;bottom:15869.9px;word-spacing:-161.3px;color:rgb(0,124,196);
}
#P139_183
{
left:29725.1px;bottom:15896.7px;color:rgb(0,124,196);
}
#P139_184
{
left:30094.6px;bottom:15869.9px;color:rgb(0,124,196);
}
#P139_185
{
left:13896.4px;bottom:13621.9px;letter-spacing:3105.6px;color:rgb(35,31,31);
}
#P139_186
{
left:17318.8px;bottom:13592.3px;color:rgb(35,31,31);
}
#P139_187
{
left:17905.2px;bottom:13621.9px;color:rgb(35,31,31);
}
#P139_188
{
left:18915.4px;bottom:13183.3px;color:rgb(35,31,31);
}
#P139_189
{
left:19267.2px;bottom:13621.9px;color:rgb(35,31,31);
}
#P139_190
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P139_191
{
left:19446.7px;bottom:14061.5px;color:rgb(35,31,31);
}
#P139_192
{
left:19782.6px;bottom:13639.5px;color:rgb(35,31,31);
}
#P139_193
{
left:19425.6px;bottom:13605.9px;color:rgb(35,31,31);
}
#P139_194
{
left:19803.7px;bottom:13623.1px;color:rgb(35,31,31);
}
#P139_195
{
left:19446.7px;bottom:13154px;color:rgb(35,31,31);
}
#P139_196
{
left:19782.6px;bottom:13639.5px;color:rgb(35,31,31);
}
#P139_197
{
left:19803.7px;bottom:13621.9px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P139_198
{
left:22344.4px;bottom:13629.9px;color:rgb(0,124,196);
}
#P139_199
{
left:0px;letter-spacing:0px;margin-left:-161.3px;
}
#P139_200
{
left:29665px;bottom:14051.6px;color:rgb(0,124,196);
}
#P139_201
{
left:29955.3px;bottom:13646.7px;color:rgb(0,124,196);
}
#P139_202
{
left:29644.8px;bottom:13616.6px;color:rgb(0,124,196);
}
#P139_203
{
left:29975.4px;bottom:13631.1px;color:rgb(0,124,196);
}
#P139_204
{
left:29665px;bottom:13185.4px;color:rgb(0,124,196);
}
#P139_205
{
left:29955.3px;bottom:13646.7px;color:rgb(0,124,196);
}
#P139_206
{
left:29975.4px;bottom:13629.9px;color:rgb(0,124,196);
}
#P139_207
{
left:0px;letter-spacing:0px;margin-left:-161.3px;
}
#P139_208
{
left:0px;letter-spacing:0px;margin-left:-133.2px;
}
#P139_209
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P139_210
{
left:0px;letter-spacing:0px;margin-left:-161.3px;
}
#P139_211
{
left:32560.4px;bottom:14051.6px;color:rgb(0,124,196);
}
#P139_212
{
left:32850.7px;bottom:13646.7px;color:rgb(0,124,196);
}
#P139_213
{
left:32540.2px;bottom:13616.6px;color:rgb(0,124,196);
}
#P139_214
{
left:32870.9px;bottom:13631.1px;color:rgb(0,124,196);
}
#P139_215
{
left:32560.4px;bottom:13185.4px;color:rgb(0,124,196);
}
#P139_216
{
left:32850.7px;bottom:13646.7px;color:rgb(0,124,196);
}
#P139_217
{
left:32870.9px;bottom:13629.9px;letter-spacing:-161.3px;color:rgb(0,124,196);
}
#P139_218
{
left:13896.4px;bottom:11573.9px;letter-spacing:3105.6px;color:rgb(35,31,31);
}
#P139_219
{
left:17318.8px;bottom:11544.3px;color:rgb(35,31,31);
}
#P139_220
{
left:17905.2px;bottom:11573.9px;color:rgb(35,31,31);
}
#P139_221
{
left:22344.4px;bottom:11581.9px;color:rgb(0,124,196);
}
#P139_222
{
left:0px;letter-spacing:0px;margin-left:-49.7px;
}
#P139_223
{
left:13896.4px;bottom:7605.87px;letter-spacing:-4.6px;color:rgb(35,31,31);
}
#P139_224
{
left:0px;letter-spacing:-0.7px;margin-left:4.6px;
}
#P139_225
{
left:23733.5px;bottom:7611.5px;color:rgb(35,31,31);
}
#P139_226
{
left:24160.2px;bottom:7605.87px;color:rgb(35,31,31);
}
#P139_227
{
left:24308px;bottom:7576.3px;color:rgb(35,31,31);
}
#P139_228
{
left:24894.4px;bottom:7605.87px;color:rgb(35,31,31);
}
#P139_229
{
left:27384.4px;bottom:7611.5px;color:rgb(35,31,31);
}
#P139_230
{
left:27795.5px;bottom:7605.87px;color:rgb(35,31,31);
}
#P139_231
{
left:27943.4px;bottom:7576.3px;color:rgb(35,31,31);
}
#P139_232
{
left:28529.8px;bottom:7605.87px;color:rgb(35,31,31);
}
#P139_233
{
left:13896.4px;bottom:6453.87px;color:rgb(35,31,31);
}
#P139_234
{
left:14360px;bottom:6480.68px;color:rgb(35,31,31);
}
#P139_235
{
left:15560.4px;bottom:6453.87px;color:rgb(35,31,31);
}
#P139_236
{
left:15975.8px;bottom:6453.87px;color:rgb(35,31,31);
}
#P139_237
{
left:16134.2px;bottom:6424.3px;color:rgb(35,31,31);
}
#P139_238
{
left:16720.6px;bottom:6453.87px;color:rgb(35,31,31);
}
#P139_239
{
left:16879px;bottom:6453.87px;color:rgb(35,31,31);
}
#P139_240
{
left:17272.5px;bottom:6453.87px;color:rgb(35,31,31);
}
#P139_241
{
left:24856px;bottom:6480.68px;color:rgb(35,31,31);
}
#P139_242
{
left:26184.4px;bottom:6453.87px;color:rgb(35,31,31);
}
#P139_243
{
left:26577.9px;bottom:6453.87px;color:rgb(35,31,31);
}
#P139_244
{
left:26736.3px;bottom:6424.3px;color:rgb(35,31,31);
}
#P139_245
{
left:27322.8px;bottom:6453.87px;color:rgb(35,31,31);
}
#P139_246
{
left:27481.1px;bottom:6453.87px;color:rgb(35,31,31);
}
#P139_247
{
left:13896.3px;bottom:5173.87px;color:rgb(35,31,31);
}
#P139_248
{
left:13986.3px;bottom:5200.68px;color:rgb(35,31,31);
}
#P139_249
{
left:15560.4px;bottom:5173.87px;color:rgb(35,31,31);
}
#P139_250
{
left:15975.8px;bottom:5173.87px;color:rgb(35,31,31);
}
#P139_251
{
left:16134.2px;bottom:5144.3px;color:rgb(35,31,31);
}
#P139_252
{
left:16720.6px;bottom:5173.87px;color:rgb(35,31,31);
}
#P139_253
{
left:16879px;bottom:5173.87px;color:rgb(35,31,31);
}
#P139_254
{
left:17272.5px;bottom:5173.87px;color:rgb(35,31,31);
}
#P139_255
{
left:24482.3px;bottom:5200.68px;color:rgb(35,31,31);
}
#P139_256
{
left:26184.4px;bottom:5173.87px;color:rgb(35,31,31);
}
#P139_257
{
left:7801.11px;bottom:19613.4px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P139_258
{
left:14669.4px;bottom:19637.9px;color:white;
}
#P139_259
{
left:17550.9px;bottom:19829.7px;color:white;
}
#P139_260
{
left:17791.1px;bottom:19637.9px;letter-spacing:-1.3px;color:white;
}
#P139_261
{
left:23074.6px;bottom:19829.7px;color:white;
}
#P139_262
{
left:23314.8px;bottom:19637.9px;color:white;
}
#P139_263
{
left:25203.5px;bottom:19829.7px;color:white;
}
#P139_264
{
left:25443.7px;bottom:19637.9px;letter-spacing:-11.9px;word-spacing:-31.9px;color:white;
}
#P139_265
{
left:0px;letter-spacing:-15.8px;margin-left:11.9px;
}
#P139_266
{
left:0px;letter-spacing:0px;margin-left:15.8px;
}
#P139_267
{
left:29494.4px;bottom:19829.7px;color:white;
}
#P139_268
{
left:29734.6px;bottom:19637.9px;color:white;
}
#P139_269
{
left:12825px;bottom:19470.8px;
}
#P139_270
{
left:12825px;bottom:19470.8px;color:white;
}
#P139_271
{
left:8013.4px;bottom:7096.49px;color:rgb(35,31,31);
}
#P139_272
{
left:0px;letter-spacing:0px;margin-left:-66.2px;
}
#P139_273
{
left:8013.4px;bottom:23352.5px;color:rgb(35,31,31);
}
#P139_274
{
left:0px;letter-spacing:0px;margin-left:-66.2px;
}
#P139_275
{
left:8013.4px;bottom:44344.5px;color:rgb(35,31,31);
}
#P139_276
{
left:0px;letter-spacing:0px;margin-left:-66.2px;
}
#P139_277
{
left:13885.4px;bottom:45308.8px;letter-spacing:-14.8px;color:rgb(35,31,31);
}
#P139_278
{
left:0px;letter-spacing:-0.4px;margin-left:14.8px;
}
#P139_279
{
left:14349px;bottom:44183.6px;color:rgb(35,31,31);
}
#P139_280
{
left:15549.4px;bottom:44156.8px;color:rgb(35,31,31);
}
#P139_281
{
left:15766.9px;bottom:44156.8px;color:rgb(35,31,31);
}
#P139_282
{
left:15872.5px;bottom:43718.2px;color:rgb(35,31,31);
}
#P139_283
{
left:16224.3px;bottom:44156.8px;color:rgb(35,31,31);
}
#P139_284
{
left:16382.7px;bottom:44156.8px;color:rgb(35,31,31);
}
#P139_285
{
left:16600.2px;bottom:44156.8px;color:rgb(35,31,31);
}
#P139_286
{
left:16705.8px;bottom:43718.2px;color:rgb(35,31,31);
}
#P139_287
{
left:17057.6px;bottom:44156.8px;color:rgb(35,31,31);
}
#P139_288
{
left:17216px;bottom:44156.8px;color:rgb(35,31,31);
}
#P139_289
{
left:17433.5px;bottom:44156.8px;color:rgb(35,31,31);
}
#P139_290
{
left:17539.1px;bottom:43718.2px;color:rgb(35,31,31);
}
#P139_291
{
left:17890.9px;bottom:44156.8px;color:rgb(35,31,31);
}
#P139_292
{
left:18049.3px;bottom:44156.8px;color:rgb(35,31,31);
}
#P139_293
{
left:18266.8px;bottom:44156.8px;color:rgb(35,31,31);
}
#P139_294
{
left:18372.4px;bottom:43718.2px;color:rgb(35,31,31);
}
#P139_295
{
left:18724.2px;bottom:44156.8px;color:rgb(35,31,31);
}
#P139_296
{
left:18882.6px;bottom:44156.8px;color:rgb(35,31,31);
}
#P139_297
{
left:19100.1px;bottom:44156.8px;color:rgb(35,31,31);
}
#P139_298
{
left:19205.7px;bottom:43718.2px;color:rgb(35,31,31);
}
#P139_299
{
left:19557.5px;bottom:44156.8px;color:rgb(35,31,31);
}
#P139_300
{
left:19715.9px;bottom:44156.8px;color:rgb(35,31,31);
}
#P139_301
{
left:19933.4px;bottom:44156.8px;color:rgb(35,31,31);
}
#P139_302
{
left:24845px;bottom:44183.6px;color:rgb(35,31,31);
}
#P139_303
{
left:26173.4px;bottom:44156.8px;color:rgb(35,31,31);
}
#P139_304
{
left:26652.1px;bottom:43718.2px;color:rgb(35,31,31);
}
#P139_305
{
left:27003.9px;bottom:44156.8px;color:rgb(35,31,31);
}
#P139_306
{
left:27162.3px;bottom:44156.8px;color:rgb(35,31,31);
}
#P139_307
{
left:27545.9px;bottom:44156.8px;color:rgb(35,31,31);
}
#P139_308
{
left:27651.5px;bottom:43718.2px;color:rgb(35,31,31);
}
#P139_309
{
left:28003.4px;bottom:44156.8px;color:rgb(35,31,31);
}
#P139_310
{
left:28161.8px;bottom:44156.8px;color:rgb(35,31,31);
}
#P139_311
{
left:28545.4px;bottom:44156.8px;color:rgb(35,31,31);
}
#P139_312
{
left:28651px;bottom:43718.2px;color:rgb(35,31,31);
}
#P139_313
{
left:29002.8px;bottom:44156.8px;color:rgb(35,31,31);
}
#P139_314
{
left:29161.2px;bottom:44156.8px;color:rgb(35,31,31);
}
#P139_315
{
left:29544.9px;bottom:44156.8px;color:rgb(35,31,31);
}
#P139_316
{
left:29650.5px;bottom:43718.2px;color:rgb(35,31,31);
}
#P139_317
{
left:30002.3px;bottom:44156.8px;color:rgb(35,31,31);
}
#P139_318
{
left:30160.6px;bottom:44156.8px;color:rgb(35,31,31);
}
#P139_319
{
left:30544.3px;bottom:44156.8px;color:rgb(35,31,31);
}
#P139_320
{
left:30649.9px;bottom:43718.2px;color:rgb(35,31,31);
}
#P139_321
{
left:31001.7px;bottom:44156.8px;color:rgb(35,31,31);
}
#P139_322
{
left:31160.1px;bottom:44156.8px;color:rgb(35,31,31);
}
#P139_323
{
left:13117.4px;bottom:41340.8px;letter-spacing:-70.3px;color:rgb(35,31,31);
}
#P139_324
{
left:0px;letter-spacing:-0.9px;margin-left:70.3px;
}
#P139_325
{
left:0px;letter-spacing:0px;margin-left:0.9px;
}
#P139_326
{
left:13117.4px;bottom:40444.8px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P139_327
{
left:0px;letter-spacing:0px;margin-left:-23.9px;
}
#P139_328
{
left:0px;letter-spacing:-0.6px;
}
#P139_329
{
left:0px;letter-spacing:0px;margin-left:-6.3px;
}
#P139_330
{
left:0px;letter-spacing:0px;margin-left:-214.8px;
}
#P139_331
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P139_332
{
left:0px;letter-spacing:-0.2px;
}
#P139_333
{
left:13117.4px;bottom:39548.9px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#PageContainer139
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg139.jpg");background-repeat:no-repeat;background-size: 889px 1172px; background-position: 120.34px 74.3099999999999px;
}
#ImageContainer139 {bottom:117.69px;left:120.34px;width:888.68px;height:1171.69px;position:absolute;} #TextContainer139 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

 .example3{position: absolute;top: 336px;left: 157px;}
 .example4{position: absolute;top: 800px;left: 157px;}
.nyr{position: absolute;top: 108px;left: 189px;}
.nyr_exr{position: absolute;top: 143px;left: 218px;color: rgb(35,31,31);font-size: 16px;}
.nyr1{position: absolute;top: 677px;left: 187px;}
.nyr_exr1{position: absolute;top: 719px;left: 210px;color: rgb(35,31,31);font-size: 16px;}
.nyr2{position: absolute;top: 1118px;left: 184px;}
.nyr_exr2{position: absolute;top: 1160px;left: 211px;color: rgb(35,31,31);font-size: 16px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}