.tr27{ color:transparent;}
#P27_1
{
left:7027.03px;bottom:38876.8px;color:rgb(2,77,161);
}
#P27_2
{
left:7776.86px;bottom:38535px;letter-spacing:-64px;word-spacing:-192px;color:rgb(2,77,161);
}
#P27_3
{
left:18583.8px;bottom:38876.8px;color:rgb(2,77,161);
}
#P27_4
{
left:5856.86px;bottom:37532.8px;color:rgb(2,77,161);
}
#P27_5
{
left:7776.86px;bottom:37191px;letter-spacing:-64px;word-spacing:-192px;color:rgb(2,77,161);
}
#P27_6
{
left:17928.3px;bottom:37261.5px;letter-spacing:-44.8px;color:rgb(2,77,161);
}
#P27_7
{
left:7776.79px;bottom:35986.3px;word-spacing:1720.3px;color:rgb(0,124,196);
}
#P27_8
{
left:0px;letter-spacing:0px;margin-left:-1720.3px;
}
#P27_9
{
left:11861px;bottom:35986.3px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P27_10
{
left:11861px;bottom:35004.8px;color:rgb(35,31,31);
}
#P27_11
{
left:0px;letter-spacing:0px;margin-left:-28.4px;
}
#P27_12
{
left:0px;letter-spacing:0px;margin-left:-28.4px;
}
#P27_13
{
left:0px;letter-spacing:0px;margin-left:-28.3px;
}
#P27_14
{
left:0px;letter-spacing:0px;margin-left:-28.4px;
}
#P27_15
{
left:0px;letter-spacing:0px;margin-left:-28.4px;
}
#P27_16
{
left:7776.79px;bottom:33682.3px;word-spacing:1720.3px;color:rgb(0,124,196);
}
#P27_17
{
left:0px;letter-spacing:0px;margin-left:-1720.3px;
}
#P27_18
{
left:11861px;bottom:33682.3px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P27_19
{
left:11861px;bottom:32700.8px;color:rgb(35,31,31);
}
#P27_20
{
left:0px;letter-spacing:0px;margin-left:-28.4px;
}
#P27_21
{
left:0px;letter-spacing:0px;margin-left:-28.4px;
}
#P27_22
{
left:5856.79px;bottom:30994.3px;color:rgb(0,124,196);
}
#P27_23
{
left: 8076.79px;bottom:29778.3px;letter-spacing:1706.5px;color:rgb(35,31,31);
}
#P27_24
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P27_25
{
left:5856.79px;bottom:28492.8px;color:rgb(35,31,31);
}
#P27_26
{
left:8153.37px;bottom:28512.5px;color:rgb(35,31,31);
}
#P27_27
{
left:9184.79px;bottom:28492.8px;color:rgb(35,31,31);
}
#P27_28
{
left:17305.4px;bottom:28512.5px;color:rgb(35,31,31);
}
#P27_29
{
left:18336.8px;bottom:28492.8px;color:rgb(35,31,31);
}
#P27_30
{
left:26457.4px;bottom:28512.5px;color:rgb(35,31,31);
}
#P27_31
{
left:27488.8px;bottom:28492.8px;color:rgb(35,31,31);
}
#P27_32
{
left:5856.79px;bottom:27148.8px;color:rgb(35,31,31);
}
#P27_33
{
left:8153.37px;bottom:27168.5px;color:rgb(35,31,31);
}
#P27_34
{
left:9184.79px;bottom:27148.8px;color:rgb(35,31,31);
}
#P27_35
{
left:17305.4px;bottom:27168.5px;color:rgb(35,31,31);
}
#P27_36
{
left:18336.8px;bottom:27148.8px;color:rgb(35,31,31);
}
#P27_37
{
left:26457.4px;bottom:27168.5px;color:rgb(35,31,31);
}
#P27_38
{
left:27488.8px;bottom:27148.8px;color:rgb(35,31,31);
}
#P27_39
{
left:5856.79px;bottom:25804.8px;color:rgb(35,31,31);
}
#P27_40
{
left:8153.37px;bottom:25824.5px;color:rgb(35,31,31);
}
#P27_41
{
left:9184.79px;bottom:25804.8px;color:rgb(35,31,31);
}
#P27_42
{
left:17305.4px;bottom:25824.5px;color:rgb(35,31,31);
}
#P27_43
{
left:18336.8px;bottom:25804.8px;color:rgb(35,31,31);
}
#P27_44
{
left:26457.4px;bottom:25824.5px;color:rgb(35,31,31);
}
#P27_45
{
left:27488.8px;bottom:25804.8px;color:rgb(35,31,31);
}
#P27_46
{
left:7091.03px;bottom:23378.3px;color:rgb(35,31,31);
}
#P27_47
{
left:7776.79px;bottom:23239px;letter-spacing:-62.2px;word-spacing:-192px;color:rgb(2,77,161);
}
#P27_48
{
left:7776.79px;bottom:21895px;letter-spacing:1432.3px;word-spacing:-192px;color:rgb(2,77,161);
}
#P27_49
{
left:0px;letter-spacing:-64px;margin-left:-1496.3px;
}
#P27_50
{
left:20017.2px;bottom:21965.5px;letter-spacing:-44.8px;color:rgb(2,77,161);
}
#P27_51
{
left:7776.79px;bottom:20306.3px;word-spacing:1720.3px;color:rgb(0,124,196);
}
#P27_52
{
left:0px;letter-spacing:0px;margin-left:-1720.3px;
}
#P27_53
{
left:11093px;bottom:20292.1px;color:rgb(0,124,196);
}
#P27_54
{
left:11925px;bottom:20306.3px;color:rgb(35,31,31);
}
#P27_55
{
left:0px;letter-spacing:0px;margin-left:-103.7px;
}
#P27_56
{
left:0px;letter-spacing:0px;margin-left:-199.7px;
}
#P27_57
{
left:14009.3px;bottom:20786.1px;color:rgb(35,31,31);
}
#P27_58
{
left:14368.7px;bottom:20323.3px;color:rgb(35,31,31);
}
#P27_59
{
left:13986.3px;bottom:20288.5px;color:rgb(35,31,31);
}
#P27_60
{
left:14391.8px;bottom:20305.1px;color:rgb(35,31,31);
}
#P27_61
{
left:14009.3px;bottom:19796px;color:rgb(35,31,31);
}
#P27_62
{
left:14368.7px;bottom:20323.3px;color:rgb(35,31,31);
}
#P27_63
{
left:14391.8px;bottom:20306.3px;letter-spacing:-199.7px;color:rgb(35,31,31);
}
#P27_64
{
left:14591.4px;bottom:20274.8px;color:rgb(35,31,31);
}
#P27_65
{
left:15231.2px;bottom:20306.3px;color:rgb(35,31,31);
}
#P27_66
{
left:0px;letter-spacing:0px;margin-left:-103.7px;
}
#P27_67
{
left:0px;letter-spacing:0px;margin-left:-199.7px;
}
#P27_68
{
left:15949.2px;bottom:20786.1px;color:rgb(35,31,31);
}
#P27_69
{
left:16308.6px;bottom:20323.3px;color:rgb(35,31,31);
}
#P27_70
{
left:15926.2px;bottom:20288.5px;color:rgb(35,31,31);
}
#P27_71
{
left:16331.7px;bottom:20305.1px;color:rgb(35,31,31);
}
#P27_72
{
left:15949.2px;bottom:19796px;color:rgb(35,31,31);
}
#P27_73
{
left:16308.6px;bottom:20323.3px;color:rgb(35,31,31);
}
#P27_74
{
left:16331.7px;bottom:20306.3px;letter-spacing:-199.7px;color:rgb(35,31,31);
}
#P27_75
{
left:5856.79px;bottom:18386.3px;color:rgb(35,31,31);
}
#P27_76
{
left:7744.79px;bottom:18380.8px;color:rgb(35,31,31);
}
#P27_77
{
left:8205.91px;bottom:18386.3px;letter-spacing:-199.7px;color:rgb(35,31,31);
}
#P27_78
{
left:8227.03px;bottom:18821.7px;color:rgb(35,31,31);
}
#P27_79
{
left:8562.84px;bottom:18398.4px;color:rgb(35,31,31);
}
#P27_80
{
left:8205.91px;bottom:18350.2px;color:rgb(35,31,31);
}
#P27_81
{
left:8583.96px;bottom:18385.1px;color:rgb(35,31,31);
}
#P27_82
{
left:8227.03px;bottom:17911.7px;color:rgb(35,31,31);
}
#P27_83
{
left:8562.84px;bottom:18398.4px;color:rgb(35,31,31);
}
#P27_84
{
left:8583.96px;bottom:18386.3px;color:rgb(35,31,31);
}
#P27_85
{
left:8583.96px;bottom:18380.8px;color:rgb(35,31,31);
}
#P27_86
{
left:8742.36px;bottom:18371.6px;color:rgb(35,31,31);
}
#P27_87
{
left:9328.79px;bottom:18380.8px;color:rgb(35,31,31);
}
#P27_88
{
left:9948.25px;bottom:18386.3px;letter-spacing:-199.7px;color:rgb(35,31,31);
}
#P27_89
{
left:9969.37px;bottom:18820.5px;color:rgb(35,31,31);
}
#P27_90
{
left:10305.2px;bottom:18398.4px;color:rgb(35,31,31);
}
#P27_91
{
left:9948.25px;bottom:18382.1px;color:rgb(35,31,31);
}
#P27_92
{
left:10326.3px;bottom:18399.4px;color:rgb(35,31,31);
}
#P27_93
{
left:9969.37px;bottom:17912.9px;color:rgb(35,31,31);
}
#P27_94
{
left:10305.2px;bottom:18398.4px;color:rgb(35,31,31);
}
#P27_95
{
left:10326.3px;bottom:18386.3px;color:rgb(35,31,31);
}
#P27_96
{
left:10326.3px;bottom:18380.8px;color:rgb(35,31,31);
}
#P27_97
{
left:10484.7px;bottom:18371.6px;color:rgb(35,31,31);
}
#P27_98
{
left:11071.1px;bottom:18380.8px;color:rgb(35,31,31);
}
#P27_99
{
left:11229.5px;bottom:18386.3px;letter-spacing:-199.7px;color:rgb(35,31,31);
}
#P27_100
{
left:11250.6px;bottom:18820.5px;color:rgb(35,31,31);
}
#P27_101
{
left:11681.5px;bottom:18460.7px;color:rgb(35,31,31);
}
#P27_102
{
left:11998.1px;bottom:18820.5px;color:rgb(35,31,31);
}
#P27_103
{
left:12619px;bottom:18812.2px;color:rgb(35,31,31);
}
#P27_104
{
left:13146.8px;bottom:18820.5px;color:rgb(35,31,31);
}
#P27_105
{
left:13625.2px;bottom:18398.4px;color:rgb(35,31,31);
}
#P27_106
{
left:11229.5px;bottom:18382.1px;color:rgb(35,31,31);
}
#P27_107
{
left:13646.3px;bottom:18399.4px;color:rgb(35,31,31);
}
#P27_108
{
left:12270px;bottom:17912.9px;color:rgb(35,31,31);
}
#P27_109
{
left:12605.8px;bottom:18398.4px;color:rgb(35,31,31);
}
#P27_110
{
left:13646.3px;bottom:18386.3px;letter-spacing:-199.7px;color:rgb(35,31,31);
}
#P27_111
{
left:13846px;bottom:18354.8px;color:rgb(35,31,31);
}
#P27_112
{
left:14485.7px;bottom:18364.8px;color:rgb(35,31,31);
}
#P27_113
{
left:14658.5px;bottom:18386.3px;letter-spacing:-199.7px;color:rgb(35,31,31);
}
#P27_114
{
left:14679.6px;bottom:18820.5px;color:rgb(35,31,31);
}
#P27_115
{
left:15110.4px;bottom:18460.7px;color:rgb(35,31,31);
}
#P27_116
{
left:15427px;bottom:18820.5px;color:rgb(35,31,31);
}
#P27_117
{
left:16048px;bottom:18812.2px;color:rgb(35,31,31);
}
#P27_118
{
left:16575.8px;bottom:18820.5px;color:rgb(35,31,31);
}
#P27_119
{
left:17054.1px;bottom:18398.4px;color:rgb(35,31,31);
}
#P27_120
{
left:14658.5px;bottom:18382.1px;color:rgb(35,31,31);
}
#P27_121
{
left:17075.2px;bottom:18399.4px;color:rgb(35,31,31);
}
#P27_122
{
left:15699px;bottom:17912.9px;color:rgb(35,31,31);
}
#P27_123
{
left:16034.8px;bottom:18398.4px;color:rgb(35,31,31);
}
#P27_124
{
left:17075.2px;bottom:18386.3px;letter-spacing:-199.7px;color:rgb(35,31,31);
}
#P27_125
{
left:19616.8px;bottom:18388.8px;letter-spacing:-0.5px;color:rgb(0,124,196);
}
#P27_126
{
left:5856.79px;bottom:16515.6px;letter-spacing:4432px;color:rgb(35,31,31);
}
#P27_127
{
left:11230.7px;bottom:16964.5px;color:rgb(35,31,31);
}
#P27_128
{
left:11209.6px;bottom:16526.1px;color:rgb(35,31,31);
}
#P27_129
{
left:11398.6px;bottom:16056.9px;color:rgb(35,31,31);
}
#P27_130
{
left:12081.8px;bottom:16515.6px;color:rgb(35,31,31);
}
#P27_131
{
left:12847.8px;bottom:16964.5px;color:rgb(35,31,31);
}
#P27_132
{
left:12826.6px;bottom:16526.1px;color:rgb(35,31,31);
}
#P27_133
{
left:13015.7px;bottom:16056.9px;color:rgb(35,31,31);
}
#P27_134
{
left:19616.8px;bottom:16532.8px;color:rgb(0,124,196);
}
#P27_135
{
left:0px;letter-spacing:0px;margin-left:-49.7px;
}
#P27_136
{
left:5856.79px;bottom:14659.6px;letter-spacing:4432px;color:rgb(35,31,31);
}
#P27_137
{
left:11230.7px;bottom:15108.5px;color:rgb(35,31,31);
}
#P27_138
{
left:12044.9px;bottom:15100.2px;color:rgb(35,31,31);
}
#P27_139
{
left:12572.7px;bottom:15108.5px;color:rgb(35,31,31);
}
#P27_140
{
left:11209.6px;bottom:14670.1px;color:rgb(35,31,31);
}
#P27_141
{
left:12140.9px;bottom:14200.9px;color:rgb(35,31,31);
}
#P27_142
{
left:19616.8px;bottom:14676.8px;letter-spacing:-1.4px;color:rgb(0,124,196);
}
#P27_143
{
left:5856.79px;bottom:12803.6px;letter-spacing:4432px;color:rgb(35,31,31);
}
#P27_144
{
left:11230.7px;bottom:13252.5px;color:rgb(35,31,31);
}
#P27_145
{
left:11209.6px;bottom:12814.1px;color:rgb(35,31,31);
}
#P27_146
{
left:11398.6px;bottom:12344.9px;color:rgb(35,31,31);
}
#P27_147
{
left:11923.5px;bottom:12812.8px;color:rgb(35,31,31);
}
#P27_148
{
left:13589.1px;bottom:13252.5px;color:rgb(35,31,31);
}
#P27_149
{
left:13568px;bottom:12814.1px;color:rgb(35,31,31);
}
#P27_150
{
left:13589.1px;bottom:12344.9px;color:rgb(35,31,31);
}
#P27_151
{
left:19616.8px;bottom:12820.8px;color:rgb(0,124,196);
}
#P27_152
{
left:0px;letter-spacing:0px;margin-left:-49.7px;
}
#P27_153
{
left: 7875.79px;bottom:9490.28px;letter-spacing:1706.5px;color:rgb(35,31,31);
}
#P27_154
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P27_155
{
left:7761.95px;bottom:7968.49px;color:rgb(35,31,31);
}
#P27_156
{
left:9184.79px;bottom:7948.78px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P27_157
{
left:9667.03px;bottom:8388.46px;color:rgb(35,31,31);
}
#P27_158
{
left:9645.91px;bottom:7950.12px;color:rgb(35,31,31);
}
#P27_159
{
left:9667.03px;bottom:7480.94px;color:rgb(35,31,31);
}
#P27_160
{
left:10182.4px;bottom:7939.63px;color:rgb(35,31,31);
}
#P27_161
{
left:10768.8px;bottom:7948.78px;color:rgb(35,31,31);
}
#P27_162
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P27_163
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P27_164
{
left:11409.4px;bottom:8388.46px;color:rgb(35,31,31);
}
#P27_165
{
left:11388.2px;bottom:7950.12px;color:rgb(35,31,31);
}
#P27_166
{
left:11409.4px;bottom:7480.94px;color:rgb(35,31,31);
}
#P27_167
{
left:16913.9px;bottom:7968.49px;color:rgb(35,31,31);
}
#P27_168
{
left:18336.8px;bottom:7948.78px;color:rgb(35,31,31);
}
#P27_169
{
left:19001.3px;bottom:8388.46px;color:rgb(35,31,31);
}
#P27_170
{
left:18812.3px;bottom:7950.12px;color:rgb(35,31,31);
}
#P27_171
{
left:18833.4px;bottom:7480.94px;color:rgb(35,31,31);
}
#P27_172
{
left:19684.6px;bottom:7939.63px;color:rgb(35,31,31);
}
#P27_173
{
left:20271px;bottom:7948.78px;color:rgb(35,31,31);
}
#P27_174
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P27_175
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P27_176
{
left:21079.5px;bottom:8388.46px;color:rgb(35,31,31);
}
#P27_177
{
left:20890.5px;bottom:7950.12px;color:rgb(35,31,31);
}
#P27_178
{
left:20911.6px;bottom:7480.94px;color:rgb(35,31,31);
}
#P27_179
{
left:26065.9px;bottom:7968.49px;color:rgb(35,31,31);
}
#P27_180
{
left:27488.8px;bottom:7948.78px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P27_181
{
left:27971px;bottom:8388.46px;color:rgb(35,31,31);
}
#P27_182
{
left:27949.9px;bottom:7950.12px;color:rgb(35,31,31);
}
#P27_183
{
left:27971px;bottom:7480.94px;color:rgb(35,31,31);
}
#P27_184
{
left:28486.4px;bottom:7939.63px;color:rgb(35,31,31);
}
#P27_185
{
left:29072.8px;bottom:7948.78px;color:rgb(35,31,31);
}
#P27_186
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P27_187
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P27_188
{
left:29713.4px;bottom:8388.46px;color:rgb(35,31,31);
}
#P27_189
{
left:29692.2px;bottom:7950.12px;color:rgb(35,31,31);
}
#P27_190
{
left:29713.4px;bottom:7480.94px;color:rgb(35,31,31);
}
#P27_191
{
left:7761.95px;bottom:5856.49px;color:rgb(35,31,31);
}
#P27_192
{
left:9184.79px;bottom:5836.78px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P27_193
{
left:9834.91px;bottom:6276.46px;color:rgb(35,31,31);
}
#P27_194
{
left:9645.91px;bottom:5838.12px;color:rgb(35,31,31);
}
#P27_195
{
left:9667.03px;bottom:5368.94px;color:rgb(35,31,31);
}
#P27_196
{
left:10518.2px;bottom:5827.63px;color:rgb(35,31,31);
}
#P27_197
{
left:11104.6px;bottom:5836.78px;color:rgb(35,31,31);
}
#P27_198
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P27_199
{
left:11825.1px;bottom:6276.46px;color:rgb(35,31,31);
}
#P27_200
{
left:11636.1px;bottom:5838.12px;color:rgb(35,31,31);
}
#P27_201
{
left:11657.2px;bottom:5368.94px;color:rgb(35,31,31);
}
#P27_202
{
left:16913.9px;bottom:5856.49px;color:rgb(35,31,31);
}
#P27_203
{
left:18336.8px;bottom:5836.78px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P27_204
{
left:18819px;bottom:6276.46px;color:rgb(35,31,31);
}
#P27_205
{
left:18797.9px;bottom:5838.12px;color:rgb(35,31,31);
}
#P27_206
{
left:18819px;bottom:5368.94px;color:rgb(35,31,31);
}
#P27_207
{
left:19334.4px;bottom:5827.63px;color:rgb(35,31,31);
}
#P27_208
{
left:19920.8px;bottom:5836.78px;color:rgb(35,31,31);
}
#P27_209
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P27_210
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P27_211
{
left:20561.4px;bottom:6276.46px;color:rgb(35,31,31);
}
#P27_212
{
left:20540.2px;bottom:5838.12px;color:rgb(35,31,31);
}
#P27_213
{
left:20561.4px;bottom:5368.94px;color:rgb(35,31,31);
}
#P27_214
{
left:26065.9px;bottom:5856.49px;color:rgb(35,31,31);
}
#P27_215
{
left:27488.8px;bottom:5836.78px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P27_216
{
left:27971px;bottom:6276.46px;color:rgb(35,31,31);
}
#P27_217
{
left:27949.9px;bottom:5838.12px;color:rgb(35,31,31);
}
#P27_218
{
left:27971px;bottom:5368.94px;color:rgb(35,31,31);
}
#P27_219
{
left:28486.4px;bottom:5827.63px;color:rgb(35,31,31);
}
#P27_220
{
left:29072.8px;bottom:5836.78px;color:rgb(35,31,31);
}
#P27_221
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P27_222
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P27_223
{
left:29713.4px;bottom:6276.46px;color:rgb(35,31,31);
}
#P27_224
{
left:29692.2px;bottom:5838.12px;color:rgb(35,31,31);
}
#P27_225
{
left:29713.4px;bottom:5368.94px;color:rgb(35,31,31);
}
#P27_226
{
left:25569.2px;bottom:40053.5px;letter-spacing:-1.1px;color:rgb(33,31,31);
}
#P27_227
{
left:0px;letter-spacing:-5.4px;margin-left:1.1px;
}
#P27_228
{
left:25635.6px;bottom:39441.6px;letter-spacing:-0.4px;color:rgb(33,31,31);
}
#P27_229
{
left:0px;letter-spacing:-5.4px;margin-left:-7.7px;
}
#P27_230
{
left:26256px;bottom:38771.6px;letter-spacing:0.1px;color:rgb(33,31,31);
}
#P27_231
{
left:0px;letter-spacing:0px;margin-left:-27.2px;
}
#P27_232
{
left:0px;letter-spacing:-39.5px;
}
#P27_233
{
left:0px;letter-spacing:0px;margin-left:39.5px;
}
#P27_234
{
left:0px;letter-spacing:0px;margin-left:-48.8px;
}
#P27_235
{
left:5899.1px;bottom:43568.7px;word-spacing:-68.5px;color:rgb(237,28,35);
}
#P27_236
{
left:0px;letter-spacing:0px;margin-left:-139.2px;
}
#P27_237
{
left:5899.1px;bottom:41520.6px;letter-spacing:-2.5px;color:rgb(237,28,35);
}
#PageContainer27
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg027.jpg");background-repeat:no-repeat;background-size: 1066px 1364px; background-position: right bottom;
}
#ImageContainer27 {bottom:0.00px;right:0.00px;width:1066.24px;height:1364.16px;position:absolute;} #TextContainer27 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}