.tr92{ color:transparent;}
#P92_1
{
left:2365.4px;bottom:1408.43px;color:rgb(35,31,31);
}
#P92_2
{
left:3148.76px;bottom:1408.43px;color:rgb(35,31,31);
}
#P92_3
{
left:4925.4px;bottom:1408.43px;color:rgb(35,31,31);
}
#P92_4
{
left:9125.85px;bottom:1408.43px;letter-spacing:2.1px;word-spacing:462px;color:rgb(35,31,31);
}
#P92_5
{
left:0px;letter-spacing:2.3px;margin-left:-6.5px;
}
#P92_6
{
left:0px;letter-spacing:0px;margin-left:-464.3px;
}
#P92_7
{
left:0px;letter-spacing:2.4px;margin-left:0.1px;
}
#P92_8
{
left:0px;letter-spacing:0px;margin-left:-464.4px;
}
#P92_9
{
left:0px;letter-spacing:1.4px;margin-left:5.4px;
}
#P92_10
{
left:5433.11px;bottom:46049.6px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P92_11
{
left:12301.4px;bottom:46074.2px;color:white;
}
#P92_12
{
left:12877.7px;bottom:46266px;color:white;
}
#P92_13
{
left:13117.8px;bottom:46074.2px;color:white;
}
#P92_14
{
left:13566.3px;bottom:46266px;color:white;
}
#P92_15
{
left:13806.5px;bottom:46074.2px;color:white;
}
#P92_16
{
left:14302.4px;bottom:46266px;color:white;
}
#P92_17
{
left:14542.6px;bottom:46074.2px;letter-spacing:-1.7px;color:white;
}
#P92_18
{
left:18352.2px;bottom:46266px;color:white;
}
#P92_19
{
left:18592.3px;bottom:46074.2px;letter-spacing:-4px;color:white;
}
#P92_20
{
left:0px;letter-spacing:0px;margin-left:4px;
}
#P92_21
{
left:10457px;bottom:45907.1px;
}
#P92_22
{
left:10457px;bottom:45907.1px;color:white;
}
#P92_23
{
left:11528.4px;bottom:44282.2px;color:rgb(35,31,31);
}
#P92_24
{
left:0px;letter-spacing:0px;margin-left:-15.5px;
}
#P92_25
{
left:0px;letter-spacing:0px;margin-left:-147.8px;
}
#P92_26
{
left:13196.9px;bottom:44721.8px;color:rgb(35,31,31);
}
#P92_27
{
left:13551.7px;bottom:44299.8px;color:rgb(35,31,31);
}
#P92_28
{
left:13175.8px;bottom:44266.1px;color:rgb(35,31,31);
}
#P92_29
{
left:13572.8px;bottom:44283.4px;color:rgb(35,31,31);
}
#P92_30
{
left:13196.9px;bottom:43814.3px;color:rgb(35,31,31);
}
#P92_31
{
left:13551.7px;bottom:44299.8px;color:rgb(35,31,31);
}
#P92_32
{
left:13572.8px;bottom:44282.2px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P92_33
{
left:13720.6px;bottom:44252.6px;color:rgb(35,31,31);
}
#P92_34
{
left:14307px;bottom:44282.2px;color:rgb(35,31,31);
}
#P92_35
{
left:11528.4px;bottom:42106.2px;letter-spacing:1377.6px;color:rgb(35,31,31);
}
#P92_36
{
left:0px;letter-spacing:0px;margin-left:-1536px;
}
#P92_37
{
left:13085.5px;bottom:42545.8px;color:rgb(35,31,31);
}
#P92_38
{
left:13421.3px;bottom:42123.8px;color:rgb(35,31,31);
}
#P92_39
{
left:13064.4px;bottom:42090.1px;color:rgb(35,31,31);
}
#P92_40
{
left:13442.5px;bottom:42107.4px;color:rgb(35,31,31);
}
#P92_41
{
left:13085.5px;bottom:41638.3px;color:rgb(35,31,31);
}
#P92_42
{
left:13421.3px;bottom:42123.8px;color:rgb(35,31,31);
}
#P92_43
{
left:13442.5px;bottom:42106.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P92_44
{
left:13600.9px;bottom:42076.6px;color:rgb(35,31,31);
}
#P92_45
{
left:14187.3px;bottom:42106.2px;color:rgb(35,31,31);
}
#P92_46
{
left:14345.6px;bottom:42106.2px;color:rgb(235,26,35);
}
#P92_47
{
left:14718.7px;bottom:42106.2px;color:rgb(35,31,31);
}
#P92_48
{
left:14877.1px;bottom:42076.6px;color:rgb(35,31,31);
}
#P92_49
{
left:15463.6px;bottom:42106.2px;color:rgb(35,31,31);
}
#P92_50
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P92_51
{
left:15643.1px;bottom:42545.8px;color:rgb(35,31,31);
}
#P92_52
{
left:15978.9px;bottom:42123.8px;color:rgb(35,31,31);
}
#P92_53
{
left:15622px;bottom:42090.1px;color:rgb(35,31,31);
}
#P92_54
{
left:16000px;bottom:42107.4px;color:rgb(35,31,31);
}
#P92_55
{
left:15643.1px;bottom:41638.3px;color:rgb(35,31,31);
}
#P92_56
{
left:15978.9px;bottom:42123.8px;color:rgb(35,31,31);
}
#P92_57
{
left:16000px;bottom:42106.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P92_58
{
left:16158.4px;bottom:42076.6px;color:rgb(35,31,31);
}
#P92_59
{
left:16744.9px;bottom:42106.2px;color:rgb(35,31,31);
}
#P92_60
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P92_61
{
left:16924.4px;bottom:42545.8px;color:rgb(235,26,35);
}
#P92_62
{
left:17260.2px;bottom:42123.8px;color:rgb(235,26,35);
}
#P92_63
{
left:16903.3px;bottom:42090.1px;color:rgb(235,26,35);
}
#P92_64
{
left:17281.3px;bottom:42107.4px;color:rgb(235,26,35);
}
#P92_65
{
left:16924.4px;bottom:41638.3px;color:rgb(235,26,35);
}
#P92_66
{
left:17260.2px;bottom:42123.8px;color:rgb(235,26,35);
}
#P92_67
{
left:17281.3px;bottom:42106.2px;color:rgb(235,26,35);
}
#P92_68
{
left:17281.3px;bottom:42106.2px;color:rgb(35,31,31);
}
#P92_69
{
left:19656.4px;bottom:42114.2px;color:rgb(0,124,196);
}
#P92_70
{
left:11528.4px;bottom:39994.2px;color:rgb(35,31,31);
}
#P92_71
{
left:14888.4px;bottom:39964.6px;color:rgb(35,31,31);
}
#P92_72
{
left:15474.8px;bottom:39994.2px;color:rgb(35,31,31);
}
#P92_73
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P92_74
{
left:15654.4px;bottom:40433.8px;color:rgb(35,31,31);
}
#P92_75
{
left:15990.2px;bottom:40011.8px;color:rgb(35,31,31);
}
#P92_76
{
left:15633.2px;bottom:39978.1px;color:rgb(35,31,31);
}
#P92_77
{
left:16011.3px;bottom:39995.4px;color:rgb(35,31,31);
}
#P92_78
{
left:15654.4px;bottom:39526.3px;color:rgb(35,31,31);
}
#P92_79
{
left:15990.2px;bottom:40011.8px;color:rgb(35,31,31);
}
#P92_80
{
left:16011.3px;bottom:39994.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P92_81
{
left:16169.6px;bottom:39964.6px;color:rgb(35,31,31);
}
#P92_82
{
left:16756.1px;bottom:39994.2px;color:rgb(35,31,31);
}
#P92_83
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P92_84
{
left:16935.6px;bottom:40433.8px;color:rgb(35,31,31);
}
#P92_85
{
left:17271.4px;bottom:40011.8px;color:rgb(35,31,31);
}
#P92_86
{
left:16914.5px;bottom:39978.1px;color:rgb(35,31,31);
}
#P92_87
{
left:17292.5px;bottom:39995.4px;color:rgb(35,31,31);
}
#P92_88
{
left:16935.6px;bottom:39526.3px;color:rgb(35,31,31);
}
#P92_89
{
left:17271.4px;bottom:40011.8px;color:rgb(35,31,31);
}
#P92_90
{
left:17292.5px;bottom:39994.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P92_91
{
left:19656.4px;bottom:40002.2px;color:rgb(0,124,196);
}
#P92_92
{
left:0px;letter-spacing:0px;margin-left:-161.3px;
}
#P92_93
{
left:26977px;bottom:40423.9px;color:rgb(0,124,196);
}
#P92_94
{
left:27267.3px;bottom:40019px;color:rgb(0,124,196);
}
#P92_95
{
left:26956.8px;bottom:39988.9px;color:rgb(0,124,196);
}
#P92_96
{
left:27287.4px;bottom:40003.4px;color:rgb(0,124,196);
}
#P92_97
{
left:26977px;bottom:39557.6px;color:rgb(0,124,196);
}
#P92_98
{
left:27267.3px;bottom:40019px;color:rgb(0,124,196);
}
#P92_99
{
left:27287.4px;bottom:40002.2px;color:rgb(0,124,196);
}
#P92_100
{
left:0px;letter-spacing:0px;margin-left:-161.3px;
}
#P92_101
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P92_102
{
left:0px;letter-spacing:0px;margin-left:-161.3px;
}
#P92_103
{
left:29844.4px;bottom:40423.9px;color:rgb(0,124,196);
}
#P92_104
{
left:30134.7px;bottom:40019px;color:rgb(0,124,196);
}
#P92_105
{
left:29824.3px;bottom:39988.9px;color:rgb(0,124,196);
}
#P92_106
{
left:30154.9px;bottom:40003.4px;color:rgb(0,124,196);
}
#P92_107
{
left:29844.4px;bottom:39557.6px;color:rgb(0,124,196);
}
#P92_108
{
left:30134.7px;bottom:40019px;color:rgb(0,124,196);
}
#P92_109
{
left:30154.9px;bottom:40002.2px;letter-spacing:-161.3px;color:rgb(0,124,196);
}
#P92_110
{
left:11528.4px;bottom:37562.2px;color:rgb(35,31,31);
}
#P92_111
{
left:14888.4px;bottom:37532.6px;color:rgb(35,31,31);
}
#P92_112
{
left:15474.8px;bottom:37562.2px;color:rgb(35,31,31);
}
#P92_113
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P92_114
{
left:15654.4px;bottom:38001.8px;
}
#P92_115
{
left:16132.8px;bottom:37975.2px;color:rgb(35,31,31);
}
#P92_116
{
left:16660.4px;bottom:38001.8px;color:rgb(35,31,31);
}
#P92_117
{
left:17138.8px;bottom:37579.8px;color:rgb(35,31,31);
}
#P92_118
{
left:15633.2px;bottom:37546.1px;color:rgb(35,31,31);
}
#P92_119
{
left:17160px;bottom:37563.4px;color:rgb(35,31,31);
}
#P92_120
{
left:15654.4px;bottom:37094.3px;color:rgb(35,31,31);
}
#P92_121
{
left:16132.8px;bottom:37067.7px;color:rgb(35,31,31);
}
#P92_122
{
left:16660.4px;bottom:37094.3px;color:rgb(35,31,31);
}
#P92_123
{
left:17138.8px;bottom:37579.8px;color:rgb(35,31,31);
}
#P92_124
{
left:17160px;bottom:37562.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P92_125
{
left:19656.4px;bottom:37570.2px;color:rgb(0,124,196);
}
#P92_126
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P92_127
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P92_128
{
left:11528.4px;bottom:35130.2px;color:rgb(35,31,31);
}
#P92_129
{
left:14888.4px;bottom:35100.6px;color:rgb(35,31,31);
}
#P92_130
{
left:15474.8px;bottom:35130.2px;color:rgb(35,31,31);
}
#P92_131
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P92_132
{
left:15654.4px;bottom:35569.8px;color:rgb(35,31,31);
}
#P92_133
{
left:15990.2px;bottom:35147.8px;color:rgb(35,31,31);
}
#P92_134
{
left:15633.2px;bottom:35114.1px;color:rgb(35,31,31);
}
#P92_135
{
left:16011.3px;bottom:35131.4px;color:rgb(35,31,31);
}
#P92_136
{
left:15654.4px;bottom:34662.3px;color:rgb(35,31,31);
}
#P92_137
{
left:15990.2px;bottom:35147.8px;color:rgb(35,31,31);
}
#P92_138
{
left:16011.3px;bottom:35130.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P92_139
{
left:19656.4px;bottom:35138.2px;color:rgb(0,124,196);
}
#P92_140
{
left:0px;letter-spacing:0px;margin-left:-49.7px;
}
#P92_141
{
left:11528.4px;bottom:31290.2px;letter-spacing:-5.2px;color:rgb(35,31,31);
}
#P92_142
{
left:0px;letter-spacing:-14.8px;margin-left:-36.9px;
}
#P92_143
{
left:0px;letter-spacing:0px;margin-left:14.8px;
}
#P92_144
{
left:11528.4px;bottom:29754.2px;color:rgb(35,31,31);
}
#P92_145
{
left:11528.4px;bottom:29781px;word-spacing:31.1px;color:rgb(35,31,31);
}
#P92_146
{
left:12680.4px;bottom:29781px;color:rgb(35,31,31);
}
#P92_147
{
left:12736.2px;bottom:30193.8px;color:rgb(35,31,31);
}
#P92_148
{
left:13072px;bottom:29771.8px;color:rgb(35,31,31);
}
#P92_149
{
left:12715px;bottom:29738.1px;color:rgb(35,31,31);
}
#P92_150
{
left:13093.1px;bottom:29755.4px;color:rgb(35,31,31);
}
#P92_151
{
left:12736.2px;bottom:29286.3px;color:rgb(35,31,31);
}
#P92_152
{
left:13072px;bottom:29771.8px;color:rgb(35,31,31);
}
#P92_153
{
left:13093.1px;bottom:29754.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P92_154
{
left:13251.5px;bottom:29724.6px;color:rgb(35,31,31);
}
#P92_155
{
left:13837.9px;bottom:29754.2px;color:rgb(35,31,31);
}
#P92_156
{
left:22685.1px;bottom:29781px;word-spacing:266.4px;color:rgb(35,31,31);
}
#P92_157
{
left:24072.4px;bottom:29781px;color:rgb(35,31,31);
}
#P92_158
{
left:24128.2px;bottom:30193.8px;color:rgb(35,31,31);
}
#P92_159
{
left:24464px;bottom:29771.8px;color:rgb(35,31,31);
}
#P92_160
{
left:24107px;bottom:29738.1px;color:rgb(35,31,31);
}
#P92_161
{
left:24485.1px;bottom:29755.4px;color:rgb(35,31,31);
}
#P92_162
{
left:24128.2px;bottom:29286.3px;color:rgb(35,31,31);
}
#P92_163
{
left:24464px;bottom:29771.8px;color:rgb(35,31,31);
}
#P92_164
{
left:24485.1px;bottom:29754.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P92_165
{
left:24643.5px;bottom:29724.6px;color:rgb(35,31,31);
}
#P92_166
{
left:25229.9px;bottom:29754.2px;color:rgb(35,31,31);
}
#P92_167
{
left:11528.4px;bottom:27834.2px;color:rgb(35,31,31);
}
#P92_168
{
left:11528.4px;bottom:27861px;word-spacing:31.1px;color:rgb(35,31,31);
}
#P92_169
{
left:12680.4px;bottom:27861px;color:rgb(35,31,31);
}
#P92_170
{
left:12736.2px;bottom:28273.8px;color:rgb(35,31,31);
}
#P92_171
{
left:13072px;bottom:27851.8px;color:rgb(35,31,31);
}
#P92_172
{
left:12715px;bottom:27818.1px;color:rgb(35,31,31);
}
#P92_173
{
left:13093.1px;bottom:27835.4px;color:rgb(35,31,31);
}
#P92_174
{
left:12736.2px;bottom:27366.3px;color:rgb(35,31,31);
}
#P92_175
{
left:13072px;bottom:27851.8px;color:rgb(35,31,31);
}
#P92_176
{
left:13093.1px;bottom:27834.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P92_177
{
left:13251.5px;bottom:27804.6px;color:rgb(35,31,31);
}
#P92_178
{
left:13837.9px;bottom:27834.2px;color:rgb(35,31,31);
}
#P92_179
{
left:22685.1px;bottom:27861px;word-spacing:266.4px;color:rgb(35,31,31);
}
#P92_180
{
left:24072.4px;bottom:27861px;color:rgb(35,31,31);
}
#P92_181
{
left:24093.5px;bottom:28267.9px;color:rgb(35,31,31);
}
#P92_182
{
left:24429.3px;bottom:27851.8px;color:rgb(35,31,31);
}
#P92_183
{
left:24072.4px;bottom:27812.2px;color:rgb(35,31,31);
}
#P92_184
{
left:24450.5px;bottom:27835.4px;color:rgb(35,31,31);
}
#P92_185
{
left:24093.5px;bottom:27360.3px;color:rgb(35,31,31);
}
#P92_186
{
left:24429.3px;bottom:27851.8px;color:rgb(35,31,31);
}
#P92_187
{
left:24450.5px;bottom:27834.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P92_188
{
left:24608.9px;bottom:27804.6px;color:rgb(35,31,31);
}
#P92_189
{
left:25195.3px;bottom:27834.2px;color:rgb(35,31,31);
}
#P92_190
{
left:17189.9px;bottom:36707.2px;color:rgb(235,26,35);
}
#P92_191
{
left:15186.7px;bottom:38441.6px;color:rgb(235,26,35);
}
#P92_192
{
left:5709.4px;bottom:30076.8px;color:rgb(35,31,31);
}
#P92_193
{
left:5433.11px;bottom:23777.6px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P92_194
{
left:12301.4px;bottom:23802.2px;color:white;
}
#P92_195
{
left:13213.8px;bottom:23994px;color:white;
}
#P92_196
{
left:13454px;bottom:23802.2px;letter-spacing:-1.4px;color:white;
}
#P92_197
{
left:20807.8px;bottom:23994px;color:white;
}
#P92_198
{
left:21048px;bottom:23802.2px;color:white;
}
#P92_199
{
left:10457px;bottom:23635.1px;
}
#P92_200
{
left:10457px;bottom:23635.1px;color:white;
}
#P92_201
{
left:11528.4px;bottom:22010.2px;color:rgb(35,31,31);
}
#P92_202
{
left:0px;letter-spacing:0px;margin-left:-16.8px;
}
#P92_203
{
left:0px;letter-spacing:0px;margin-left:-10.5px;
}
#P92_204
{
left:0px;letter-spacing:0px;margin-left:-147.8px;
}
#P92_205
{
left:14531px;bottom:22449.8px;color:rgb(35,31,31);
}
#P92_206
{
left:14885.8px;bottom:22027.8px;color:rgb(35,31,31);
}
#P92_207
{
left:14509.9px;bottom:21994.1px;color:rgb(35,31,31);
}
#P92_208
{
left:14907px;bottom:22011.4px;color:rgb(35,31,31);
}
#P92_209
{
left:14531px;bottom:21542.3px;color:rgb(35,31,31);
}
#P92_210
{
left:14885.8px;bottom:22027.8px;color:rgb(35,31,31);
}
#P92_211
{
left:14907px;bottom:22010.2px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P92_212
{
left:15054.8px;bottom:21980.6px;color:rgb(35,31,31);
}
#P92_213
{
left:15641.2px;bottom:22010.2px;color:rgb(35,31,31);
}
#P92_214
{
left:0px;letter-spacing:0px;margin-left:-147.8px;
}
#P92_215
{
left:15810.2px;bottom:22449.8px;color:rgb(35,31,31);
}
#P92_216
{
left:16165px;bottom:22027.8px;color:rgb(35,31,31);
}
#P92_217
{
left:15789.1px;bottom:21994.1px;color:rgb(35,31,31);
}
#P92_218
{
left:16186.1px;bottom:22011.4px;color:rgb(35,31,31);
}
#P92_219
{
left:15810.2px;bottom:21542.3px;color:rgb(35,31,31);
}
#P92_220
{
left:16165px;bottom:22027.8px;color:rgb(35,31,31);
}
#P92_221
{
left:16186.1px;bottom:22010.2px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P92_222
{
left:16334px;bottom:21980.6px;color:rgb(35,31,31);
}
#P92_223
{
left:16920.4px;bottom:22010.2px;color:rgb(35,31,31);
}
#P92_224
{
left:11528.4px;bottom:19834.2px;letter-spacing:1377.6px;color:rgb(35,31,31);
}
#P92_225
{
left:0px;letter-spacing:0px;margin-left:-1536px;
}
#P92_226
{
left:13085.5px;bottom:20273.8px;color:rgb(35,31,31);
}
#P92_227
{
left:13421.3px;bottom:19851.8px;color:rgb(35,31,31);
}
#P92_228
{
left:13064.4px;bottom:19818.1px;color:rgb(35,31,31);
}
#P92_229
{
left:13442.5px;bottom:19835.4px;color:rgb(35,31,31);
}
#P92_230
{
left:13085.5px;bottom:19366.3px;color:rgb(35,31,31);
}
#P92_231
{
left:13421.3px;bottom:19851.8px;color:rgb(35,31,31);
}
#P92_232
{
left:13442.5px;bottom:19834.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P92_233
{
left:13600.9px;bottom:19804.6px;color:rgb(35,31,31);
}
#P92_234
{
left:14187.3px;bottom:19834.2px;color:rgb(35,31,31);
}
#P92_235
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P92_236
{
left:14366.7px;bottom:20273.8px;color:rgb(35,31,31);
}
#P92_237
{
left:14702.6px;bottom:19851.8px;color:rgb(35,31,31);
}
#P92_238
{
left:14345.6px;bottom:19818.1px;color:rgb(35,31,31);
}
#P92_239
{
left:14723.7px;bottom:19835.4px;color:rgb(35,31,31);
}
#P92_240
{
left:14366.7px;bottom:19366.3px;color:rgb(35,31,31);
}
#P92_241
{
left:14702.6px;bottom:19851.8px;color:rgb(35,31,31);
}
#P92_242
{
left:14723.7px;bottom:19834.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P92_243
{
left:14882.1px;bottom:19804.6px;color:rgb(35,31,31);
}
#P92_244
{
left:15468.5px;bottom:19834.2px;color:rgb(35,31,31);
}
#P92_245
{
left:15626.9px;bottom:19834.2px;color:rgb(235,26,35);
}
#P92_246
{
left:16000px;bottom:19834.2px;color:rgb(35,31,31);
}
#P92_247
{
left:16158.4px;bottom:19804.6px;color:rgb(35,31,31);
}
#P92_248
{
left:16744.9px;bottom:19834.2px;color:rgb(35,31,31);
}
#P92_249
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P92_250
{
left:16924.4px;bottom:20273.8px;color:rgb(35,31,31);
}
#P92_251
{
left:17260.2px;bottom:19851.8px;color:rgb(35,31,31);
}
#P92_252
{
left:16903.3px;bottom:19818.1px;color:rgb(35,31,31);
}
#P92_253
{
left:17281.3px;bottom:19835.4px;color:rgb(35,31,31);
}
#P92_254
{
left:16924.4px;bottom:19366.3px;color:rgb(35,31,31);
}
#P92_255
{
left:17260.2px;bottom:19851.8px;color:rgb(35,31,31);
}
#P92_256
{
left:17281.3px;bottom:19834.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P92_257
{
left:17439.7px;bottom:19804.6px;color:rgb(35,31,31);
}
#P92_258
{
left:18026.1px;bottom:19834.2px;color:rgb(35,31,31);
}
#P92_259
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P92_260
{
left:18205.7px;bottom:20273.8px;color:rgb(35,31,31);
}
#P92_261
{
left:18541.5px;bottom:19851.8px;color:rgb(35,31,31);
}
#P92_262
{
left:18184.5px;bottom:19818.1px;color:rgb(35,31,31);
}
#P92_263
{
left:18562.6px;bottom:19835.4px;color:rgb(35,31,31);
}
#P92_264
{
left:18205.7px;bottom:19366.3px;color:rgb(35,31,31);
}
#P92_265
{
left:18541.5px;bottom:19851.8px;color:rgb(35,31,31);
}
#P92_266
{
left:18562.6px;bottom:19834.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P92_267
{
left:18721px;bottom:19804.6px;color:rgb(35,31,31);
}
#P92_268
{
left:19307.4px;bottom:19834.2px;color:rgb(35,31,31);
}
#P92_269
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P92_270
{
left:19486.9px;bottom:20273.8px;color:rgb(235,26,35);
}
#P92_271
{
left:19822.7px;bottom:19851.8px;color:rgb(235,26,35);
}
#P92_272
{
left:19465.8px;bottom:19818.1px;color:rgb(235,26,35);
}
#P92_273
{
left:19843.8px;bottom:19835.4px;color:rgb(235,26,35);
}
#P92_274
{
left:19486.9px;bottom:19366.3px;color:rgb(235,26,35);
}
#P92_275
{
left:19822.7px;bottom:19851.8px;color:rgb(235,26,35);
}
#P92_276
{
left:19843.8px;bottom:19834.2px;color:rgb(235,26,35);
}
#P92_277
{
left:19843.8px;bottom:19834.2px;color:rgb(35,31,31);
}
#P92_278
{
left:21768.4px;bottom:19842.2px;color:rgb(0,124,196);
}
#P92_279
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P92_280
{
left:0px;letter-spacing:0px;margin-left:-161.3px;
}
#P92_281
{
left:31948.4px;bottom:20263.9px;color:rgb(0,124,196);
}
#P92_282
{
left:32238.7px;bottom:19859px;color:rgb(0,124,196);
}
#P92_283
{
left:31928.2px;bottom:19828.9px;color:rgb(0,124,196);
}
#P92_284
{
left:32258.8px;bottom:19843.4px;color:rgb(0,124,196);
}
#P92_285
{
left:31948.4px;bottom:19397.6px;color:rgb(0,124,196);
}
#P92_286
{
left:32238.7px;bottom:19859px;color:rgb(0,124,196);
}
#P92_287
{
left:32258.8px;bottom:19842.2px;letter-spacing:-161.3px;color:rgb(0,124,196);
}
#P92_288
{
left:11528.4px;bottom:17402.2px;letter-spacing:4321.6px;color:rgb(35,31,31);
}
#P92_289
{
left:16166.8px;bottom:17372.6px;color:rgb(35,31,31);
}
#P92_290
{
left:16753.2px;bottom:17402.2px;color:rgb(35,31,31);
}
#P92_291
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P92_292
{
left:16932.8px;bottom:17841.8px;color:rgb(35,31,31);
}
#P92_293
{
left:17268.6px;bottom:17419.8px;color:rgb(35,31,31);
}
#P92_294
{
left:16911.6px;bottom:17386.1px;color:rgb(35,31,31);
}
#P92_295
{
left:17289.7px;bottom:17403.4px;color:rgb(35,31,31);
}
#P92_296
{
left:16932.8px;bottom:16934.3px;color:rgb(35,31,31);
}
#P92_297
{
left:17268.6px;bottom:17419.8px;color:rgb(35,31,31);
}
#P92_298
{
left:17289.7px;bottom:17402.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P92_299
{
left:17448px;bottom:17372.6px;color:rgb(35,31,31);
}
#P92_300
{
left:18034.5px;bottom:17402.2px;color:rgb(35,31,31);
}
#P92_301
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P92_302
{
left:18214px;bottom:17841.8px;color:rgb(35,31,31);
}
#P92_303
{
left:18692.3px;bottom:17815.2px;color:rgb(35,31,31);
}
#P92_304
{
left:19220px;bottom:17841.8px;color:rgb(35,31,31);
}
#P92_305
{
left:19698.5px;bottom:17419.8px;color:rgb(35,31,31);
}
#P92_306
{
left:18192.9px;bottom:17386.1px;color:rgb(35,31,31);
}
#P92_307
{
left:19719.6px;bottom:17403.4px;color:rgb(35,31,31);
}
#P92_308
{
left:18214px;bottom:16934.3px;color:rgb(35,31,31);
}
#P92_309
{
left:18692.3px;bottom:16907.7px;color:rgb(35,31,31);
}
#P92_310
{
left:19220px;bottom:16934.3px;color:rgb(35,31,31);
}
#P92_311
{
left:19698.5px;bottom:17419.8px;color:rgb(35,31,31);
}
#P92_312
{
left:19719.6px;bottom:17402.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P92_313
{
left:21768.4px;bottom:17410.2px;word-spacing:-0.5px;color:rgb(0,124,196);
}
#P92_314
{
left:24039.2px;bottom:17831.9px;color:rgb(0,124,196);
}
#P92_315
{
left:24329.5px;bottom:17427px;color:rgb(0,124,196);
}
#P92_316
{
left:24019px;bottom:17396.9px;color:rgb(0,124,196);
}
#P92_317
{
left:24349.7px;bottom:17411.4px;color:rgb(0,124,196);
}
#P92_318
{
left:24039.2px;bottom:16965.6px;color:rgb(0,124,196);
}
#P92_319
{
left:24329.5px;bottom:17427px;color:rgb(0,124,196);
}
#P92_320
{
left:24510.4px;bottom:17410.2px;letter-spacing:-0.2px;word-spacing:-0.3px;color:rgb(0,124,196);
}
#P92_321
{
left:25649.6px;bottom:17831.9px;color:rgb(0,124,196);
}
#P92_322
{
left:25939.9px;bottom:17427px;color:rgb(0,124,196);
}
#P92_323
{
left:25629.4px;bottom:17396.9px;color:rgb(0,124,196);
}
#P92_324
{
left:25960px;bottom:17411.4px;color:rgb(0,124,196);
}
#P92_325
{
left:25649.6px;bottom:16965.6px;color:rgb(0,124,196);
}
#P92_326
{
left:25939.9px;bottom:17427px;color:rgb(0,124,196);
}
#P92_327
{
left:25960px;bottom:17410.2px;word-spacing:-0.5px;color:rgb(0,124,196);
}
#P92_328
{
left:0px;letter-spacing:0px;margin-left:136px;
}
#P92_329
{
left:11528.4px;bottom:15290.2px;letter-spacing:4321.6px;color:rgb(35,31,31);
}
#P92_330
{
left:16166.8px;bottom:15260.6px;color:rgb(35,31,31);
}
#P92_331
{
left:16753.2px;bottom:15290.2px;color:rgb(35,31,31);
}
#P92_332
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P92_333
{
left:16932.8px;bottom:15729.8px;color:rgb(35,31,31);
}
#P92_334
{
left:17268.6px;bottom:15307.8px;color:rgb(35,31,31);
}
#P92_335
{
left:16911.6px;bottom:15274.1px;color:rgb(35,31,31);
}
#P92_336
{
left:17289.7px;bottom:15291.4px;color:rgb(35,31,31);
}
#P92_337
{
left:16932.8px;bottom:14822.3px;color:rgb(35,31,31);
}
#P92_338
{
left:17268.6px;bottom:15307.8px;color:rgb(35,31,31);
}
#P92_339
{
left:17289.7px;bottom:15290.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P92_340
{
left:17448.1px;bottom:15260.6px;color:rgb(35,31,31);
}
#P92_341
{
left:18034.5px;bottom:15290.2px;color:rgb(35,31,31);
}
#P92_342
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P92_343
{
left:18214px;bottom:15729.8px;color:rgb(35,31,31);
}
#P92_344
{
left:18549.8px;bottom:15307.8px;color:rgb(35,31,31);
}
#P92_345
{
left:18192.9px;bottom:15274.1px;color:rgb(35,31,31);
}
#P92_346
{
left:18570.9px;bottom:15291.4px;color:rgb(35,31,31);
}
#P92_347
{
left:18214px;bottom:14822.3px;color:rgb(35,31,31);
}
#P92_348
{
left:18549.8px;bottom:15307.8px;color:rgb(35,31,31);
}
#P92_349
{
left:18570.9px;bottom:15290.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P92_350
{
left:21832.4px;bottom:15298.2px;color:rgb(0,124,196);
}
#P92_351
{
left:0px;letter-spacing:0px;margin-left:-49.7px;
}
#P92_352
{
left:11528.4px;bottom:13178.2px;letter-spacing:4257.6px;color:rgb(35,31,31);
}
#P92_353
{
left:16102.8px;bottom:13148.6px;color:rgb(35,31,31);
}
#P92_354
{
left:16689.2px;bottom:13178.2px;color:rgb(35,31,31);
}
#P92_355
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P92_356
{
left:16868.8px;bottom:13617.8px;color:rgb(35,31,31);
}
#P92_357
{
left:17540.4px;bottom:13195.8px;color:rgb(35,31,31);
}
#P92_358
{
left:16847.6px;bottom:13162.1px;color:rgb(35,31,31);
}
#P92_359
{
left:17561.5px;bottom:13179.4px;color:rgb(35,31,31);
}
#P92_360
{
left:16868.8px;bottom:12710.3px;color:rgb(35,31,31);
}
#P92_361
{
left:17540.4px;bottom:13195.8px;color:rgb(35,31,31);
}
#P92_362
{
left:17561.5px;bottom:13178.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P92_363
{
left:17719.8px;bottom:13148.6px;color:rgb(35,31,31);
}
#P92_364
{
left:18306.3px;bottom:13178.2px;color:rgb(35,31,31);
}
#P92_365
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P92_366
{
left:18653.7px;bottom:13617.8px;color:rgb(35,31,31);
}
#P92_367
{
left:18989.5px;bottom:13195.8px;color:rgb(35,31,31);
}
#P92_368
{
left:18464.7px;bottom:13162.1px;color:rgb(35,31,31);
}
#P92_369
{
left:19178.5px;bottom:13179.4px;color:rgb(35,31,31);
}
#P92_370
{
left:18485.8px;bottom:12710.3px;color:rgb(35,31,31);
}
#P92_371
{
left:19157.4px;bottom:13195.8px;color:rgb(35,31,31);
}
#P92_372
{
left:19178.5px;bottom:13178.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P92_373
{
left:21832.4px;bottom:13186.2px;color:rgb(0,124,196);
}
#P92_374
{
left:0px;letter-spacing:0px;margin-left:-61px;
}
#P92_375
{
left:11528.4px;bottom:11066.2px;letter-spacing:4257.6px;color:rgb(35,31,31);
}
#P92_376
{
left:16102.8px;bottom:11036.6px;color:rgb(35,31,31);
}
#P92_377
{
left:16689.2px;bottom:11066.2px;color:rgb(35,31,31);
}
#P92_378
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P92_379
{
left:16868.8px;bottom:11505.8px;color:rgb(35,31,31);
}
#P92_380
{
left:17540.4px;bottom:11083.8px;color:rgb(35,31,31);
}
#P92_381
{
left:16847.6px;bottom:11050.1px;color:rgb(35,31,31);
}
#P92_382
{
left:17561.5px;bottom:11067.4px;color:rgb(35,31,31);
}
#P92_383
{
left:16868.8px;bottom:10598.3px;color:rgb(35,31,31);
}
#P92_384
{
left:17540.4px;bottom:11083.8px;color:rgb(35,31,31);
}
#P92_385
{
left:17561.5px;bottom:11066.2px;color:rgb(35,31,31);
}
#P92_386
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P92_387
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P92_388
{
left:18766px;bottom:11505.8px;color:rgb(35,31,31);
}
#P92_389
{
left:19437.6px;bottom:11083.8px;color:rgb(35,31,31);
}
#P92_390
{
left:18744.9px;bottom:11050.1px;color:rgb(35,31,31);
}
#P92_391
{
left:19458.7px;bottom:11067.4px;color:rgb(35,31,31);
}
#P92_392
{
left:18766px;bottom:10598.3px;color:rgb(35,31,31);
}
#P92_393
{
left:19437.6px;bottom:11083.8px;color:rgb(35,31,31);
}
#P92_394
{
left:19458.7px;bottom:11066.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P92_395
{
left:21832.4px;bottom:11074.2px;color:rgb(0,124,196);
}
#P92_396
{
left:0px;letter-spacing:0px;margin-left:-49.7px;
}
#P92_397
{
left:11528.4px;bottom:7290.16px;letter-spacing:-4.6px;color:rgb(35,31,31);
}
#P92_398
{
left:0px;letter-spacing:-0.9px;margin-left:4.6px;
}
#P92_399
{
left:0px;letter-spacing:-23.9px;margin-left:-27.1px;
}
#P92_400
{
left:0px;letter-spacing:0px;margin-left:23.9px;
}
#P92_401
{
left:11528.4px;bottom:5690.16px;color:rgb(35,31,31);
}
#P92_402
{
left:11618.3px;bottom:5716.97px;word-spacing:453.2px;color:rgb(35,31,31);
}
#P92_403
{
left:13192.4px;bottom:5716.97px;color:rgb(35,31,31);
}
#P92_404
{
left:13213.5px;bottom:6123.88px;color:rgb(35,31,31);
}
#P92_405
{
left:13549.3px;bottom:5707.76px;color:rgb(35,31,31);
}
#P92_406
{
left:13192.4px;bottom:5668.19px;color:rgb(35,31,31);
}
#P92_407
{
left:13570.5px;bottom:5691.42px;color:rgb(35,31,31);
}
#P92_408
{
left:13213.5px;bottom:5216.36px;color:rgb(35,31,31);
}
#P92_409
{
left:13549.3px;bottom:5707.76px;color:rgb(35,31,31);
}
#P92_410
{
left:13570.5px;bottom:5690.16px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P92_411
{
left:13728.9px;bottom:5660.59px;color:rgb(35,31,31);
}
#P92_412
{
left:14315.3px;bottom:5690.16px;color:rgb(35,31,31);
}
#P92_413
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P92_414
{
left:14494.8px;bottom:6129.84px;color:rgb(35,31,31);
}
#P92_415
{
left:14830.6px;bottom:5707.76px;color:rgb(35,31,31);
}
#P92_416
{
left:14473.7px;bottom:5674.14px;color:rgb(35,31,31);
}
#P92_417
{
left:14851.7px;bottom:5691.42px;color:rgb(35,31,31);
}
#P92_418
{
left:14494.8px;bottom:5222.32px;color:rgb(35,31,31);
}
#P92_419
{
left:14830.6px;bottom:5707.76px;color:rgb(35,31,31);
}
#P92_420
{
left:14851.7px;bottom:5690.16px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P92_421
{
left:15010.1px;bottom:5660.59px;color:rgb(35,31,31);
}
#P92_422
{
left:15596.5px;bottom:5690.16px;color:rgb(35,31,31);
}
#P92_423
{
left:19170.3px;bottom:5716.97px;word-spacing:517.2px;color:rgb(35,31,31);
}
#P92_424
{
left:20808.4px;bottom:5716.97px;color:rgb(35,31,31);
}
#P92_425
{
left:20829.5px;bottom:6123.88px;color:rgb(35,31,31);
}
#P92_426
{
left:21165.3px;bottom:5707.76px;color:rgb(35,31,31);
}
#P92_427
{
left:20808.4px;bottom:5668.19px;color:rgb(35,31,31);
}
#P92_428
{
left:21186.5px;bottom:5691.42px;color:rgb(35,31,31);
}
#P92_429
{
left:20829.5px;bottom:5216.36px;color:rgb(35,31,31);
}
#P92_430
{
left:21165.3px;bottom:5707.76px;color:rgb(35,31,31);
}
#P92_431
{
left:21186.5px;bottom:5690.16px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P92_432
{
left:21344.9px;bottom:5660.59px;color:rgb(35,31,31);
}
#P92_433
{
left:21931.3px;bottom:5690.16px;color:rgb(35,31,31);
}
#P92_434
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P92_435
{
left:22110.8px;bottom:6129.84px;color:rgb(35,31,31);
}
#P92_436
{
left:22446.6px;bottom:5707.76px;color:rgb(35,31,31);
}
#P92_437
{
left:22089.7px;bottom:5674.14px;color:rgb(35,31,31);
}
#P92_438
{
left:22467.7px;bottom:5691.42px;color:rgb(35,31,31);
}
#P92_439
{
left:22110.8px;bottom:5222.32px;color:rgb(35,31,31);
}
#P92_440
{
left:22446.6px;bottom:5707.76px;color:rgb(35,31,31);
}
#P92_441
{
left:22467.7px;bottom:5690.16px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P92_442
{
left:22626.1px;bottom:5660.59px;color:rgb(35,31,31);
}
#P92_443
{
left:23212.5px;bottom:5690.16px;color:rgb(35,31,31);
}
#P92_444
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P92_445
{
left:23392px;bottom:6129.84px;color:rgb(35,31,31);
}
#P92_446
{
left:23727.8px;bottom:5707.76px;color:rgb(35,31,31);
}
#P92_447
{
left:23370.9px;bottom:5674.14px;color:rgb(35,31,31);
}
#P92_448
{
left:23749px;bottom:5691.42px;color:rgb(35,31,31);
}
#P92_449
{
left:23392px;bottom:5222.32px;color:rgb(35,31,31);
}
#P92_450
{
left:23727.8px;bottom:5707.76px;color:rgb(35,31,31);
}
#P92_451
{
left:23749px;bottom:5690.16px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P92_452
{
left:26850.3px;bottom:5716.97px;word-spacing:517.2px;color:rgb(35,31,31);
}
#P92_453
{
left:28488.4px;bottom:5716.97px;color:rgb(35,31,31);
}
#P92_454
{
left:28509.5px;bottom:6123.88px;color:rgb(35,31,31);
}
#P92_455
{
left:28845.3px;bottom:5707.76px;color:rgb(35,31,31);
}
#P92_456
{
left:28488.4px;bottom:5668.19px;color:rgb(35,31,31);
}
#P92_457
{
left:28866.5px;bottom:5691.42px;color:rgb(35,31,31);
}
#P92_458
{
left:28509.5px;bottom:5216.36px;color:rgb(35,31,31);
}
#P92_459
{
left:28845.3px;bottom:5707.76px;color:rgb(35,31,31);
}
#P92_460
{
left:28866.5px;bottom:5690.16px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P92_461
{
left:29024.9px;bottom:5660.59px;color:rgb(35,31,31);
}
#P92_462
{
left:29611.3px;bottom:5690.16px;color:rgb(35,31,31);
}
#P92_463
{
left:30301.2px;bottom:5660.59px;color:rgb(35,31,31);
}
#P92_464
{
left:30887.6px;bottom:5690.16px;color:rgb(35,31,31);
}
#P92_465
{
left:17810.6px;bottom:18292.3px;color:rgb(235,26,35);
}
#P92_466
{
left:19730.6px;bottom:16572.8px;color:rgb(235,26,35);
}
#P92_467
{
left:5709.4px;bottom:6204.78px;color:rgb(35,31,31);
}
#P92_468
{
left:0px;letter-spacing:0px;margin-left:-66.2px;
}
#P92_469
{
left:2613.34px;bottom:16007.5px;color:white;
}
#P92_470
{
left:5968.99px;bottom:16249.1px;color:white;
}
#P92_471
{
left:6304.86px;bottom:16007.5px;color:white;
}
#P92_472
{
left:2848.01px;bottom:14904.6px;letter-spacing:-58.8px;color:rgb(35,31,31);
}
#P92_473
{
left:0px;letter-spacing:0px;margin-left:58.8px;
}
#P92_474
{
left:2848.01px;bottom:14136.6px;color:rgb(35,31,31);
}
#P92_475
{
left:2848.01px;bottom:13368.6px;color:rgb(35,31,31);
}
#P92_476
{
left:2848.01px;bottom:12088.6px;letter-spacing:-177.9px;color:rgb(35,31,31);
}
#P92_477
{
left:2867.21px;bottom:12488px;color:rgb(35,31,31);
}
#P92_478
{
left:3187.46px;bottom:12102.4px;color:rgb(35,31,31);
}
#P92_479
{
left:2848.01px;bottom:12054.1px;color:rgb(35,31,31);
}
#P92_480
{
left:3206.66px;bottom:12067.9px;color:rgb(35,31,31);
}
#P92_481
{
left:2867.21px;bottom:11663px;color:rgb(35,31,31);
}
#P92_482
{
left:3187.46px;bottom:12102.4px;color:rgb(35,31,31);
}
#P92_483
{
left:3206.66px;bottom:12088.6px;letter-spacing:-177.9px;color:rgb(35,31,31);
}
#P92_484
{
left:3384.58px;bottom:12039.9px;color:rgb(35,31,31);
}
#P92_485
{
left:3917.7px;bottom:12088.6px;color:rgb(35,31,31);
}
#P92_486
{
left:0px;letter-spacing:0px;margin-left:-177.9px;
}
#P92_487
{
left:4114.82px;bottom:12488px;color:rgb(35,31,31);
}
#P92_488
{
left:4435.1px;bottom:12102.4px;color:rgb(35,31,31);
}
#P92_489
{
left:4095.62px;bottom:12054.1px;color:rgb(35,31,31);
}
#P92_490
{
left:4454.3px;bottom:12067.9px;color:rgb(35,31,31);
}
#P92_491
{
left:4114.82px;bottom:11663px;color:rgb(35,31,31);
}
#P92_492
{
left:4435.1px;bottom:12102.4px;color:rgb(35,31,31);
}
#P92_493
{
left:4454.3px;bottom:12088.6px;letter-spacing:-177.9px;color:rgb(35,31,31);
}
#P92_494
{
left:4632.22px;bottom:12039.9px;color:rgb(35,31,31);
}
#P92_495
{
left:5165.34px;bottom:12088.6px;color:rgb(35,31,31);
}
#P92_496
{
left:0px;letter-spacing:0px;margin-left:-177.9px;
}
#P92_497
{
left:5522.52px;bottom:12488px;color:rgb(35,31,31);
}
#P92_498
{
left:5842.84px;bottom:12102.4px;color:rgb(35,31,31);
}
#P92_499
{
left:5343.26px;bottom:12054.1px;color:rgb(35,31,31);
}
#P92_500
{
left:6022.17px;bottom:12067.9px;color:rgb(35,31,31);
}
#P92_501
{
left:5362.39px;bottom:11663px;color:rgb(35,31,31);
}
#P92_502
{
left:6002.97px;bottom:12102.4px;color:rgb(35,31,31);
}
#P92_503
{
left:6022.17px;bottom:12088.6px;letter-spacing:-177.9px;color:rgb(35,31,31);
}
#P92_504
{
left:6200.09px;bottom:12039.9px;color:rgb(35,31,31);
}
#P92_505
{
left:6733.21px;bottom:12088.6px;color:rgb(35,31,31);
}
#P92_506
{
left:0px;letter-spacing:0px;margin-left:-177.9px;
}
#P92_507
{
left:7090.39px;bottom:12488px;color:rgb(35,31,31);
}
#P92_508
{
left:7410.65px;bottom:12102.4px;color:rgb(35,31,31);
}
#P92_509
{
left:6911.07px;bottom:12054.1px;color:rgb(35,31,31);
}
#P92_510
{
left:7589.98px;bottom:12067.9px;color:rgb(35,31,31);
}
#P92_511
{
left:6930.27px;bottom:11663px;color:rgb(35,31,31);
}
#P92_512
{
left:7570.78px;bottom:12102.4px;color:rgb(35,31,31);
}
#P92_513
{
left:7589.98px;bottom:12088.6px;letter-spacing:-177.9px;color:rgb(35,31,31);
}
#P92_514
{
left:7767.9px;bottom:12039.9px;color:rgb(35,31,31);
}
#P92_515
{
left:8301.02px;bottom:12088.6px;color:rgb(35,31,31);
}
#P92_516
{
left:0px;letter-spacing:0px;margin-left:-177.9px;
}
#P92_517
{
left:8498.14px;bottom:12488px;color:rgb(35,31,31);
}
#P92_518
{
left:9138.65px;bottom:12102.4px;color:rgb(35,31,31);
}
#P92_519
{
left:8478.94px;bottom:12054.1px;color:rgb(35,31,31);
}
#P92_520
{
left:9157.85px;bottom:12067.9px;color:rgb(35,31,31);
}
#P92_521
{
left:8498.14px;bottom:11663px;color:rgb(35,31,31);
}
#P92_522
{
left:9138.65px;bottom:12102.4px;color:rgb(35,31,31);
}
#P92_523
{
left:9157.85px;bottom:12088.6px;color:rgb(35,31,31);
}
#PageContainer92
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg092.jpg");background-repeat:no-repeat;background-size: 882px 1174px; background-position: 60.37px 74.8px;
}
#ImageContainer92 {bottom:115.20px;left:60.37px;width:881.88px;height:1173.85px;position:absolute;} #TextContainer92 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.example4{position:absolute; top: 84px; left: 90px;}
.example5{position:absolute; top: 686px; left: 90px;}
.nyr{position: absolute; top: 496px; left: 121px;}
.nyr_exr{position: absolute; top: 526px; left: 156px;color:rgb(35,31,31);font-size:16px;white-space:pre;}
.nyr1{position: absolute; top: 1145px; left: 121px;}
.nyr_exr1{position: absolute; top: 1175px; left: 156px;color:rgb(35,31,31);font-size:16px;white-space:pre;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}