.tr601{ color:transparent;}
#P601_1
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P601_2
{
left:15052.8px;bottom:1410.03px;color:rgb(35,31,31);
}
#P601_3
{
left:19961px;bottom:1410.03px;letter-spacing:461.8px;word-spacing:0.3px;color:rgb(35,31,31);
}
#P601_4
{
left:0px;letter-spacing:-0.3px;margin-left:-455.1px;
}
#P601_5
{
left:0px;letter-spacing:0.6px;margin-left:6.6px;
}
#P601_6
{
left:0px;letter-spacing:0.9px;margin-left:-0.9px;
}
#P601_7
{
left:0px;letter-spacing:-2.2px;margin-left:20.5px;
}
#P601_8
{
left:0px;letter-spacing:-0.1px;margin-left:6.1px;
}
#P601_9
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P601_10
{
left:6973.4px;bottom:46736.5px;letter-spacing:-1.8px;color:rgb(2,77,161);
}
#P601_11
{
left:10429.4px;bottom:46716.8px;letter-spacing:162px;color:rgb(35,31,31);
}
#P601_12
{
left:0px;letter-spacing:5.5px;margin-left:-197.1px;
}
#P601_13
{
left:0px;letter-spacing:-0.4px;margin-left:-5.5px;
}
#P601_14
{
left:0px;letter-spacing:0px;margin-left:-224.6px;
}
#P601_15
{
left:0px;letter-spacing:0px;margin-left:77.1px;
}
#P601_16
{
left:0px;letter-spacing:-1.9px;
}
#P601_17
{
left:0px;letter-spacing:0px;margin-left:1.9px;
}
#P601_18
{
left:7150.62px;bottom:45584.5px;color:rgb(35,31,31);
}
#P601_19
{
left:8573.47px;bottom:45564.8px;letter-spacing:-3.1px;color:rgb(35,31,31);
}
#P601_20
{
left:0px;letter-spacing:0px;margin-left:3.1px;
}
#P601_21
{
left:11868.8px;bottom:45535.2px;color:rgb(35,31,31);
}
#P601_22
{
left:12455.3px;bottom:45564.8px;color:rgb(35,31,31);
}
#P601_23
{
left:17454.6px;bottom:45584.5px;color:rgb(35,31,31);
}
#P601_24
{
left:18877.5px;bottom:45564.8px;letter-spacing:-3.1px;color:rgb(35,31,31);
}
#P601_25
{
left:0px;letter-spacing:0px;margin-left:3.1px;
}
#P601_26
{
left:22172.8px;bottom:45535.2px;color:rgb(35,31,31);
}
#P601_27
{
left:22759.3px;bottom:45564.8px;color:rgb(35,31,31);
}
#P601_28
{
left:27758.6px;bottom:45584.5px;color:rgb(35,31,31);
}
#P601_29
{
left:29053.6px;bottom:45564.8px;letter-spacing:-3.1px;color:rgb(35,31,31);
}
#P601_30
{
left:0px;letter-spacing:0px;margin-left:3.1px;
}
#P601_31
{
left:32349px;bottom:45535.2px;color:rgb(35,31,31);
}
#P601_32
{
left:32935.4px;bottom:45564.8px;color:rgb(35,31,31);
}
#P601_33
{
left:12710.2px;bottom:43915.7px;color:rgb(240,89,40);
}
#P601_34
{
left:9885.53px;bottom:43954.3px;color:rgb(240,89,40);
}
#P601_35
{
left:10445.4px;bottom:42070.2px;color:rgb(240,89,40);
}
#P601_36
{
left:14221.4px;bottom:44240.5px;letter-spacing:3820.3px;color:rgb(35,31,31);
}
#P601_37
{
left:19075.7px;bottom:43125px;color:rgb(237,28,35);
}
#P601_38
{
left:20661.5px;bottom:41630.3px;color:rgb(237,28,35);
}
#P601_39
{
left:24611.7px;bottom:43000px;color:rgb(237,28,35);
}
#P601_40
{
left:21636.6px;bottom:44446.3px;color:rgb(237,28,35);
}
#P601_41
{
left:26637.4px;bottom:44220.8px;color:rgb(35,31,31);
}
#P601_42
{
left:32802.3px;bottom:44436.7px;color:rgb(98,93,170);
}
#P601_43
{
left:32046.6px;bottom:41150px;color:rgb(98,93,170);
}
#P601_44
{
left:0px;letter-spacing:0px;margin-left:160.1px;
}
#P601_45
{
left:35458.8px;bottom:42925.2px;color:rgb(98,93,170);
}
#P601_46
{
left:28803.7px;bottom:42706.3px;color:rgb(98,93,170);
}
#P601_47
{
left:6973.4px;bottom:39804.8px;letter-spacing:-5px;color:rgb(35,31,31);
}
#P601_48
{
left:0px;letter-spacing:0px;margin-left:5px;
}
#P601_49
{
left:11791.1px;bottom:39775.2px;color:rgb(35,31,31);
}
#P601_50
{
left:12377.6px;bottom:39804.8px;letter-spacing:-9.3px;color:rgb(35,31,31);
}
#P601_51
{
left:0px;letter-spacing:-1.3px;margin-left:9.3px;
}
#P601_52
{
left:0px;letter-spacing:0px;margin-left:-26.8px;
}
#P601_53
{
left:0px;letter-spacing:-1.5px;
}
#P601_54
{
left:10819.2px;bottom:38652.8px;color:rgb(35,31,31);
}
#P601_55
{
left:10819.2px;bottom:38672.5px;word-spacing:484px;color:rgb(35,31,31);
}
#P601_56
{
left:12477.4px;bottom:38672.5px;color:rgb(2,77,161);
}
#P601_57
{
left:0px;letter-spacing:0px;margin-left:-38.7px;
}
#P601_58
{
left:0px;letter-spacing:0px;margin-left:-38.7px;
}
#P601_59
{
left:18436.8px;bottom:38652.8px;letter-spacing:168.3px;color:rgb(35,31,31);
}
#P601_60
{
left:0px;letter-spacing:-0.7px;margin-left:-168.3px;
}
#P601_61
{
left:0px;letter-spacing:0.3px;margin-left:0.7px;
}
#P601_62
{
left:12477.4px;bottom:37756.8px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P601_63
{
left:0px;letter-spacing:-21px;margin-left:-13.7px;
}
#P601_64
{
left:0px;letter-spacing:0px;margin-left:21px;
}
#P601_65
{
left:12477.4px;bottom:36860.8px;color:rgb(35,31,31);
}
#P601_66
{
left:10819.1px;bottom:35196.8px;color:rgb(35,31,31);
}
#P601_67
{
left:10819.1px;bottom:35216.6px;word-spacing:484px;color:rgb(35,31,31);
}
#P601_68
{
left:12477.4px;bottom:35216.5px;color:rgb(2,77,161);
}
#P601_69
{
left:18343.9px;bottom:35196.8px;word-spacing:151.5px;color:rgb(35,31,31);
}
#P601_70
{
left:0px;letter-spacing:0px;margin-left:-63.2px;
}
#P601_71
{
left:0px;letter-spacing:0px;margin-left:-151.5px;
}
#P601_72
{
left:20174.4px;bottom:35196.8px;color:rgb(35,31,31);
}
#P601_73
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P601_74
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P601_75
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P601_76
{
left:24755.9px;bottom:35636.5px;color:rgb(35,31,31);
}
#P601_77
{
left:25091.7px;bottom:35214.4px;color:rgb(35,31,31);
}
#P601_78
{
left:24734.8px;bottom:35180.8px;color:rgb(35,31,31);
}
#P601_79
{
left:25112.9px;bottom:35198px;color:rgb(35,31,31);
}
#P601_80
{
left:24755.9px;bottom:34728.9px;color:rgb(35,31,31);
}
#P601_81
{
left:25091.7px;bottom:35214.4px;color:rgb(35,31,31);
}
#P601_82
{
left:25112.9px;bottom:35196.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P601_83
{
left:0px;letter-spacing:-0.2px;margin-left:158.4px;
}
#P601_84
{
left:12471.8px;bottom:33532.8px;letter-spacing:-5.6px;word-spacing:1499.9px;color:rgb(35,31,31);
}
#P601_85
{
left:14337.5px;bottom:33552.5px;color:rgb(35,31,31);
}
#P601_86
{
left:14533.2px;bottom:33532.8px;color:rgb(35,31,31);
}
#P601_87
{
left:0px;letter-spacing:0px;margin-left:-63.2px;
}
#P601_88
{
left:0px;letter-spacing:0px;margin-left:-214.8px;
}
#P601_89
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P601_90
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P601_91
{
left:22013.3px;bottom:33503.2px;color:rgb(35,31,31);
}
#P601_92
{
left:22599.8px;bottom:33532.8px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P601_93
{
left:23828.2px;bottom:33972.5px;color:rgb(35,31,31);
}
#P601_94
{
left:24164.1px;bottom:33550.4px;color:rgb(35,31,31);
}
#P601_95
{
left:23807.1px;bottom:33516.8px;color:rgb(35,31,31);
}
#P601_96
{
left:24185.2px;bottom:33534px;color:rgb(35,31,31);
}
#P601_97
{
left:23828.2px;bottom:33064.9px;color:rgb(35,31,31);
}
#P601_98
{
left:24164.1px;bottom:33550.4px;color:rgb(35,31,31);
}
#P601_99
{
left:24185.2px;bottom:33532.8px;color:rgb(35,31,31);
}
#P601_100
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P601_101
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P601_102
{
left:0px;letter-spacing:0px;margin-left:-4.2px;
}
#P601_103
{
left:10819.1px;bottom:31868.8px;color:rgb(35,31,31);
}
#P601_104
{
left:11069.4px;bottom:31888.5px;color:rgb(35,31,31);
}
#P601_105
{
left:12477.4px;bottom:31868.8px;color:rgb(35,31,31);
}
#P601_106
{
left:14758.2px;bottom:31888.5px;color:rgb(35,31,31);
}
#P601_107
{
left:14953.9px;bottom:31868.8px;color:rgb(35,31,31);
}
#P601_108
{
left:10819px;bottom:30204.9px;color:rgb(35,31,31);
}
#P601_109
{
left:10819px;bottom:30224.6px;word-spacing:484px;color:rgb(35,31,31);
}
#P601_110
{
left:12477.4px;bottom:30224.5px;letter-spacing:-12.9px;color:rgb(2,77,161);
}
#P601_111
{
left:0px;letter-spacing:0px;margin-left:12.9px;
}
#P601_112
{
left:14798.5px;bottom:30204.8px;color:rgb(35,31,31);
}
#P601_113
{
left:0px;letter-spacing:0px;margin-left:193.6px;
}
#P601_114
{
left:0px;letter-spacing:0px;margin-left:-4.2px;
}
#P601_115
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P601_116
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P601_117
{
left:20284.8px;bottom:30644.5px;color:rgb(35,31,31);
}
#P601_118
{
left:20620.6px;bottom:30222.4px;color:rgb(35,31,31);
}
#P601_119
{
left:20263.6px;bottom:30188.8px;color:rgb(35,31,31);
}
#P601_120
{
left:20641.7px;bottom:30206px;color:rgb(35,31,31);
}
#P601_121
{
left:20284.8px;bottom:29736.9px;color:rgb(35,31,31);
}
#P601_122
{
left:20620.6px;bottom:30222.4px;color:rgb(35,31,31);
}
#P601_123
{
left:20800.1px;bottom:30204.8px;letter-spacing:-1.3px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P601_124
{
left:0px;letter-spacing:-0.5px;margin-left:1.2px;
}
#P601_125
{
left:10819.1px;bottom:28540.8px;color:rgb(35,31,31);
}
#P601_126
{
left:11069.4px;bottom:28560.5px;color:rgb(35,31,31);
}
#P601_127
{
left:12477.4px;bottom:28540.8px;letter-spacing:-2.8px;color:rgb(35,31,31);
}
#P601_128
{
left:14971.7px;bottom:28560.5px;color:rgb(35,31,31);
}
#P601_129
{
left:15167.4px;bottom:28540.8px;color:rgb(35,31,31);
}
#P601_130
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P601_131
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P601_132
{
left:16693px;bottom:28980.5px;color:rgb(35,31,31);
}
#P601_133
{
left:17028.8px;bottom:28558.4px;color:rgb(35,31,31);
}
#P601_134
{
left:16671.8px;bottom:28524.8px;color:rgb(35,31,31);
}
#P601_135
{
left:17049.9px;bottom:28542px;color:rgb(35,31,31);
}
#P601_136
{
left:16693px;bottom:28072.9px;color:rgb(35,31,31);
}
#P601_137
{
left:17028.8px;bottom:28558.4px;color:rgb(35,31,31);
}
#P601_138
{
left:17208.3px;bottom:28540.8px;letter-spacing:-0.9px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P601_139
{
left:0px;letter-spacing:-10.5px;margin-left:148.8px;
}
#P601_140
{
left:0px;letter-spacing:-0.1px;margin-left:-10.4px;
}
#P601_141
{
left:0px;letter-spacing:-0.4px;margin-left:158.1px;
}
#P601_142
{
left:6973.4px;bottom:26108.8px;color:rgb(35,31,31);
}
#P601_143
{
left:7150.43px;bottom:26128.6px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P601_144
{
left:8637.4px;bottom:26128.5px;letter-spacing:-1.8px;color:rgb(2,77,161);
}
#P601_145
{
left:12093.4px;bottom:26108.8px;letter-spacing:168.3px;color:rgb(35,31,31);
}
#P601_146
{
left:0px;letter-spacing:-0.4px;margin-left:-168.3px;
}
#P601_147
{
left:28499.3px;bottom:24637.1px;color:rgb(237,28,35);
}
#P601_148
{
left:29620.2px;bottom:24509.2px;color:rgb(237,28,35);
}
#P601_149
{
left:33704.6px;bottom:24637.1px;color:rgb(237,28,35);
}
#P601_150
{
left:34825.5px;bottom:24509.2px;color:rgb(237,28,35);
}
#P601_151
{
left:31928.8px;bottom:26638.7px;color:rgb(237,28,35);
}
#P601_152
{
left:32440.9px;bottom:26503.9px;color:rgb(237,28,35);
}
#P601_153
{
left:8637.4px;bottom:25212.8px;letter-spacing:0.2px;color:rgb(35,31,31);
}
#P601_154
{
left:0px;letter-spacing:0px;margin-left:-42.3px;
}
#P601_155
{
left:0px;letter-spacing:-0.7px;
}
#P601_156
{
left:8637.4px;bottom:24316.8px;color:rgb(35,31,31);
}
#P601_157
{
left:6973.4px;bottom:22652.9px;color:rgb(35,31,31);
}
#P601_158
{
left:7150.55px;bottom:22672.6px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P601_159
{
left:8637.4px;bottom:22672.5px;letter-spacing:-12.9px;color:rgb(2,77,161);
}
#P601_160
{
left:0px;letter-spacing:-1.6px;margin-left:12.9px;
}
#P601_161
{
left:13945px;bottom:22652.8px;letter-spacing:168.3px;color:rgb(35,31,31);
}
#P601_162
{
left:0px;letter-spacing:-1.7px;margin-left:-168.3px;
}
#P601_163
{
left:0px;letter-spacing:-0.7px;margin-left:1.7px;
}
#P601_164
{
left:23357.4px;bottom:22299.6px;color:rgb(35,31,31);
}
#P601_165
{
left:27024.2px;bottom:22280.7px;letter-spacing:2161.8px;color:rgb(35,31,31);
}
#P601_166
{
left:23357.4px;bottom:21147.6px;color:rgb(35,31,31);
}
#P601_167
{
left:26400.9px;bottom:21128.7px;color:rgb(35,31,31);
}
#P601_168
{
left:0px;letter-spacing:0px;margin-left:915.2px;
}
#P601_169
{
left:0px;letter-spacing:0px;margin-left:915.2px;
}
#P601_170
{
left:0px;letter-spacing:0px;margin-left:1585.8px;
}
#P601_171
{
left:8637.4px;bottom:21756.8px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P601_172
{
left:0px;letter-spacing:0px;margin-left:-13.3px;
}
#P601_173
{
left:8637.4px;bottom:20860.8px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P601_174
{
left:0px;letter-spacing:0px;margin-left:-41.6px;
}
#P601_175
{
left:0px;letter-spacing:-1.7px;
}
#P601_176
{
left:8637.4px;bottom:19964.8px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P601_177
{
left:6973.4px;bottom:18620.8px;color:rgb(35,31,31);
}
#P601_178
{
left:7150.55px;bottom:18640.6px;color:rgb(35,31,31);
}
#P601_179
{
left:8637.4px;bottom:18640.5px;word-spacing:-26px;color:rgb(2,77,161);
}
#P601_180
{
left:14634.8px;bottom:18620.8px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P601_181
{
left:0px;letter-spacing:-0.2px;margin-left:-200.5px;
}
#P601_182
{
left:20822.4px;bottom:18620.8px;color:rgb(35,31,31);
}
#P601_183
{
left:21185.6px;bottom:18620.8px;color:rgb(35,31,31);
}
#P601_184
{
left:21344px;bottom:18591.2px;color:rgb(35,31,31);
}
#P601_185
{
left:21930.5px;bottom:18620.8px;color:rgb(35,31,31);
}
#P601_186
{
left:24544.3px;bottom:18620.8px;color:rgb(35,31,31);
}
#P601_187
{
left:24907.6px;bottom:18620.8px;color:rgb(35,31,31);
}
#P601_188
{
left:25066px;bottom:18591.2px;color:rgb(35,31,31);
}
#P601_189
{
left:25652.4px;bottom:18620.8px;color:rgb(35,31,31);
}
#P601_190
{
left:26342.4px;bottom:18591.2px;color:rgb(35,31,31);
}
#P601_191
{
left:26928.8px;bottom:18620.8px;color:rgb(35,31,31);
}
#P601_192
{
left:10707.5px;bottom:16892.8px;letter-spacing:204.2px;color:rgb(35,31,31);
}
#P601_193
{
left:0px;letter-spacing:0px;margin-left:-219.6px;
}
#P601_194
{
left:0px;letter-spacing:0px;margin-left:-10.5px;
}
#P601_195
{
left:16951.3px;bottom:16898.4px;color:rgb(35,31,31);
}
#P601_196
{
left:17314.5px;bottom:16892.8px;color:rgb(35,31,31);
}
#P601_197
{
left:6973.4px;bottom:15612.8px;color:rgb(35,31,31);
}
#P601_198
{
left:7150.43px;bottom:15632.5px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P601_199
{
left:8573.4px;bottom:15577.6px;color:rgb(35,31,31);
}
#P601_200
{
left:8749.72px;bottom:15514.8px;color:rgb(35,31,31);
}
#P601_201
{
left:8911.64px;bottom:15612.8px;color:rgb(35,31,31);
}
#P601_202
{
left:9436.83px;bottom:15577.6px;color:rgb(35,31,31);
}
#P601_203
{
left:9613.21px;bottom:15612.8px;color:rgb(35,31,31);
}
#P601_204
{
left:9613.21px;bottom:15612.8px;color:rgb(35,31,31);
}
#P601_205
{
left:9771.55px;bottom:15583.2px;color:rgb(35,31,31);
}
#P601_206
{
left:10358px;bottom:15612.8px;color:rgb(35,31,31);
}
#P601_207
{
left:17454.6px;bottom:15632.5px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P601_208
{
left:18877.4px;bottom:15577.6px;color:rgb(35,31,31);
}
#P601_209
{
left:19053.7px;bottom:15514.8px;color:rgb(35,31,31);
}
#P601_210
{
left:19215.6px;bottom:15612.8px;color:rgb(35,31,31);
}
#P601_211
{
left:19740.8px;bottom:15577.6px;color:rgb(35,31,31);
}
#P601_212
{
left:19917.2px;bottom:15612.8px;color:rgb(35,31,31);
}
#P601_213
{
left:19917.2px;bottom:15612.8px;color:rgb(35,31,31);
}
#P601_214
{
left:20075.5px;bottom:15583.2px;color:rgb(35,31,31);
}
#P601_215
{
left:20662px;bottom:15612.8px;color:rgb(35,31,31);
}
#P601_216
{
left:21351.9px;bottom:15583.2px;color:rgb(35,31,31);
}
#P601_217
{
left:21938.3px;bottom:15612.8px;color:rgb(35,31,31);
}
#P601_218
{
left:27758.6px;bottom:15632.5px;word-spacing:120.6px;color:rgb(35,31,31);
}
#P601_219
{
left:29249.1px;bottom:15577.6px;color:rgb(35,31,31);
}
#P601_220
{
left:29425.4px;bottom:15514.8px;color:rgb(35,31,31);
}
#P601_221
{
left:29587.4px;bottom:15612.8px;color:rgb(35,31,31);
}
#P601_222
{
left:30112.5px;bottom:15577.6px;color:rgb(35,31,31);
}
#P601_223
{
left:30288.9px;bottom:15612.8px;color:rgb(35,31,31);
}
#P601_224
{
left:30288.9px;bottom:15612.8px;color:rgb(35,31,31);
}
#P601_225
{
left:30447.3px;bottom:15583.2px;color:rgb(35,31,31);
}
#P601_226
{
left:31033.7px;bottom:15612.8px;color:rgb(35,31,31);
}
#P601_227
{
left:31723.6px;bottom:15583.2px;color:rgb(35,31,31);
}
#P601_228
{
left:32310px;bottom:15612.8px;color:rgb(35,31,31);
}
#P601_229
{
left:7005.34px;bottom:10775.2px;color:rgb(35,31,31);
}
#P601_230
{
left:0px;letter-spacing:0px;margin-left:-25.3px;
}
#P601_231
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P601_232
{
left:13707.6px;bottom:10775.2px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P601_232b
{
left: 19208.6px;bottom:10775.2px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P601_232a
{
left: 17747.6px;bottom:10775.2px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P601_233
{
left:23242.6px;bottom:10775.2px;color:rgb(35,31,31);
}
#P601_234
{
left:7005.34px;bottom:9623.21px;color:rgb(35,31,31);
}
#P601_235
{
left:7182.36px;bottom:9642.92px;color:rgb(35,31,31);
}
#P601_236
{
left:8605.21px;bottom:9593.64px;color:rgb(35,31,31);
}
#P601_237
{
left:9191.64px;bottom:9623.21px;color:rgb(35,31,31);
}
#P601_238
{
left:9723.16px;bottom:9593.64px;color:rgb(35,31,31);
}
#P601_239
{
left:10309.6px;bottom:9623.21px;color:rgb(35,31,31);
}
#P601_240
{
left:14478.4px;bottom:9642.92px;color:rgb(35,31,31);
}
#P601_241
{
left:15901.2px;bottom:9623.21px;color:rgb(35,31,31);
}
#P601_242
{
left:16432.7px;bottom:9593.64px;color:rgb(35,31,31);
}
#P601_243
{
left:17019.2px;bottom:9623.21px;color:rgb(35,31,31);
}
#P601_244
{
left:17424px;bottom:9593.64px;color:rgb(35,31,31);
}
#P601_245
{
left:18010.4px;bottom:9623.21px;color:rgb(35,31,31);
}
#P601_246
{
left:21902.4px;bottom:9642.92px;color:rgb(35,31,31);
}
#P601_247
{
left:23325.4px;bottom:9623.21px;color:rgb(35,31,31);
}
#P601_248
{
left:24229.8px;bottom:9593.64px;color:rgb(35,31,31);
}
#P601_249
{
left:24816.3px;bottom:9623.21px;color:rgb(35,31,31);
}
#P601_250
{
left:25221.1px;bottom:9593.64px;color:rgb(35,31,31);
}
#P601_251
{
left:25807.5px;bottom:9623.21px;color:rgb(35,31,31);
}
#P601_252
{
left:29262.4px;bottom:9642.92px;color:rgb(35,31,31);
}
#P601_253
{
left:30685.3px;bottom:9593.64px;color:rgb(35,31,31);
}
#P601_254
{
left:31271.6px;bottom:9623.21px;color:rgb(35,31,31);
}
#P601_255
{
left:32176.3px;bottom:9593.64px;color:rgb(35,31,31);
}
#P601_256
{
left:32762.7px;bottom:9623.21px;color:rgb(35,31,31);
}
#P601_257
{
left:7005.27px;bottom:7703.08px;color:rgb(35,31,31);
}
#P601_258
{
left:7182.3px;bottom:7722.8px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P601_259
{
left:8669.4px;bottom:7722.92px;letter-spacing:-17.6px;color:rgb(2,77,161);
}
#P601_260
{
left:0px;letter-spacing:0px;margin-left:17.6px;
}
#P601_261
{
left:14497px;bottom:7703.21px;letter-spacing:193.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P601_262
{
left:0px;letter-spacing:-0.3px;margin-left:-35.5px;
}
#P601_263
{
left:0px;letter-spacing:-0.1px;margin-left:-25px;
}
#P601_264
{
left:0px;letter-spacing:0.5px;margin-left:-13.9px;
}
#P601_265
{
left:7005.47px;bottom:6487.21px;color:rgb(35,31,31);
}
#P601_266
{
left:7965.34px;bottom:6506.92px;color:rgb(35,31,31);
}
#P601_267
{
left:8669.34px;bottom:6487.21px;color:rgb(35,31,31);
}
#P601_268
{
left:9300.06px;bottom:6506.92px;color:rgb(35,31,31);
}
#P601_269
{
left:9495.77px;bottom:6487.21px;letter-spacing:-0.3px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P601_270
{
left:29219.9px;bottom:6926.89px;color:rgb(35,31,31);
}
#P601_271
{
left:29555.7px;bottom:6504.81px;color:rgb(35,31,31);
}
#P601_272
{
left:29198.7px;bottom:6471.2px;color:rgb(35,31,31);
}
#P601_273
{
left:29576.8px;bottom:6488.48px;color:rgb(35,31,31);
}
#P601_274
{
left:29219.9px;bottom:6019.37px;color:rgb(35,31,31);
}
#P601_275
{
left:29555.7px;bottom:6504.81px;color:rgb(35,31,31);
}
#P601_276
{
left:29576.8px;bottom:6487.21px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P601_277
{
left:0px;letter-spacing:-1.6px;margin-left:158.4px;
}
#P601_278
{
left:0px;letter-spacing:-7px;margin-left:-12.4px;
}
#P601_279
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P601_280
{
left:7005.4px;bottom:5399.15px;color:rgb(35,31,31);
}
#P601_281
{
left:7965.4px;bottom:5418.86px;color:rgb(35,31,31);
}
#P601_282
{
left:8669.4px;bottom:5399.15px;color:rgb(35,31,31);
}
#P601_283
{
left:10479.3px;bottom:5418.86px;color:rgb(35,31,31);
}
#P601_284
{
left:10675px;bottom:5399.15px;letter-spacing:-0.3px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P601_285
{
left:21064.7px;bottom:5399.21px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P601_286
{
left:25298.6px;bottom:5399.21px;color:rgb(35,31,31);
}
#P601_287
{
left:7005.4px;bottom:4055.21px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P601_288
{
left:8582.43px;bottom:4098.59px;color:rgb(35,31,31);
}
#P601_289
{
left:8919.32px;bottom:4219.72px;color:rgb(35,31,31);
}
#P601_290
{
left:9565.4px;bottom:4055.21px;color:rgb(35,31,31);
}
#P601_291
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P601_292
{
left:15878.4px;bottom:4098.59px;color:rgb(35,31,31);
}
#P601_293
{
left:16215.3px;bottom:4219.72px;color:rgb(35,31,31);
}
#P601_294
{
left:16861.4px;bottom:4055.21px;color:rgb(35,31,31);
}
#P601_295
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P601_296
{
left:23366.4px;bottom:4098.59px;color:rgb(35,31,31);
}
#P601_297
{
left:23703.3px;bottom:4219.72px;color:rgb(35,31,31);
}
#P601_298
{
left:24349.4px;bottom:4055.21px;color:rgb(35,31,31);
}
#P601_299
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P601_300
{
left:30726.4px;bottom:4098.59px;color:rgb(35,31,31);
}
#P601_301
{
left:31063.3px;bottom:4219.72px;color:rgb(35,31,31);
}
#P601_302
{
left:31709.4px;bottom:4055.21px;color:rgb(35,31,31);
}
#P601_303
{
left:0px;letter-spacing:0px;margin-left:451.2px;
}
#P601_304
{
left:4867.74px;bottom:33494.6px;color:rgb(35,31,31);
}
#PageContainer601
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg601.jpg");background-repeat:no-repeat;background-size: 843px 1133px; background-position: 142.95px 140.13px;
}
#ImageContainer601 {bottom:90.87px;left:142.95px;width:842.85px;height:1133.28px;position:absolute;} #TextContainer601 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}