.tr652{ color:transparent;}
#P652_1
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P652_2
{
left:3540.44px;bottom:1410.03px;color:rgb(35,31,31);
}
#P652_3
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P652_4
{
left:9471.43px;bottom:1410.03px;letter-spacing:1.2px;word-spacing:457.7px;color:rgb(35,31,31);
}
#P652_5
{
left:0px;letter-spacing:0px;margin-left:-458.9px;
}
#P652_6
{
left:0px;letter-spacing:2.2px;margin-left:4.4px;
}
#P652_7
{
left:0px;letter-spacing:0px;margin-left:-459.9px;
}
#P652_8
{
left:0px;letter-spacing:4.9px;margin-left:4.4px;
}
#P652_9
{
left:0px;letter-spacing:4.4px;margin-left:-6px;
}
#P652_10
{
left:5889.56px;bottom:46957.1px;letter-spacing:-6px;color:white;
}
#P652_11
{
left:9101.98px;bottom:47255.5px;color:white;
}
#P652_12
{
left:9475.61px;bottom:46957.1px;color:white;
}
#P652_13
{
left:2371.78px;bottom:46929.9px;color:white;
}
#P652_14
{
left:4080.28px;bottom:34093.3px;color:rgb(33,31,31);
}
#P652_15
{
left:4166.69px;bottom:34124.7px;color:rgb(33,31,31);
}
#P652_16
{
left:4596.77px;bottom:34280.8px;color:rgb(33,31,31);
}
#P652_17
{
left:4158.7px;bottom:33914.1px;color:rgb(33,31,31);
}
#P652_18
{
left:4245.09px;bottom:33945.5px;letter-spacing:-0.2px;color:rgb(33,31,31);
}
#P652_19
{
left:4528.1px;bottom:34048.2px;letter-spacing:0.8px;color:rgb(33,31,31);
}
#P652_20
{
left:4253.92px;bottom:33734.9px;color:rgb(33,31,31);
}
#P652_21
{
left:4340.32px;bottom:33766.3px;color:rgb(33,31,31);
}
#P652_22
{
left:4419.1px;bottom:33485.7px;color:rgb(33,31,31);
}
#P652_23
{
left:4505.5px;bottom:33517.1px;letter-spacing:0.1px;color:rgb(33,31,31);
}
#P652_24
{
left:4690.71px;bottom:42321.3px;color:rgb(35,31,31);
}
#P652_25
{
left:5259.29px;bottom:42341px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P652_26
{
left:6354.71px;bottom:42341px;color:rgb(2,77,161);
}
#P652_27
{
left:9389.72px;bottom:42321.3px;letter-spacing:151.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P652_28
{
left:0px;letter-spacing:-1.5px;margin-left:-151.5px;
}
#P652_29
{
left:0px;letter-spacing:-0.2px;margin-left:-12.5px;
}
#P652_30
{
left:0px;letter-spacing:0.1px;margin-left:0.2px;
}
#P652_31
{
left:4690.71px;bottom:40657.3px;color:rgb(35,31,31);
}
#P652_32
{
left:5259.29px;bottom:40677px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P652_33
{
left:6354.71px;bottom:40677px;color:rgb(2,77,161);
}
#P652_34
{
left:10747px;bottom:40657.3px;letter-spacing:-0.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P652_35
{
left:0px;letter-spacing:-0.1px;margin-left:-4.1px;
}
#P652_36
{
left:22917.1px;bottom:41096.9px;color:rgb(35,31,31);
}
#P652_37
{
left:23252.9px;bottom:40674.9px;color:rgb(35,31,31);
}
#P652_38
{
left:22896px;bottom:40641.2px;color:rgb(35,31,31);
}
#P652_39
{
left:23274px;bottom:40658.5px;color:rgb(35,31,31);
}
#P652_40
{
left:22921.6px;bottom:40189.4px;color:rgb(35,31,31);
}
#P652_41
{
left:23248.5px;bottom:40674.9px;color:rgb(35,31,31);
}
#P652_42
{
left:23274px;bottom:40657.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P652_43
{
left:23432.4px;bottom:40627.7px;color:rgb(35,31,31);
}
#P652_44
{
left:24018.8px;bottom:40657.3px;color:rgb(35,31,31);
}
#P652_45
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P652_46
{
left:24366.2px;bottom:41096.9px;color:rgb(35,31,31);
}
#P652_47
{
left:24702px;bottom:40674.9px;color:rgb(35,31,31);
}
#P652_48
{
left:24177.2px;bottom:40641.2px;color:rgb(35,31,31);
}
#P652_49
{
left:24891.1px;bottom:40658.5px;color:rgb(35,31,31);
}
#P652_50
{
left:24198.4px;bottom:40189.4px;color:rgb(35,31,31);
}
#P652_51
{
left:24870px;bottom:40674.9px;color:rgb(35,31,31);
}
#P652_52
{
left:24979.1px;bottom:40657.3px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P652_53
{
left:4690.71px;bottom:39569.3px;color:rgb(35,31,31);
}
#P652_54
{
left:5650.71px;bottom:39589px;color:rgb(35,31,31);
}
#P652_55
{
left:6354.71px;bottom:39569.3px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P652_56
{
left:8752.6px;bottom:39589px;color:rgb(35,31,31);
}
#P652_57
{
left:8948.31px;bottom:39569.3px;letter-spacing:-1.3px;color:rgb(35,31,31);
}
#P652_58
{
left:4690.71px;bottom:37777.3px;color:rgb(35,31,31);
}
#P652_59
{
left:5259.29px;bottom:37797px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P652_60
{
left:6354.71px;bottom:37797px;color:rgb(2,77,161);
}
#P652_61
{
left:11545.9px;bottom:37777.3px;word-spacing:193.6px;color:rgb(35,31,31);
}
#P652_62
{
left:13353.3px;bottom:38216.9px;color:rgb(35,31,31);
}
#P652_63
{
left:13680.2px;bottom:37794.9px;color:rgb(35,31,31);
}
#P652_64
{
left:13327.7px;bottom:37761.2px;color:rgb(35,31,31);
}
#P652_65
{
left:13705.8px;bottom:37778.5px;color:rgb(35,31,31);
}
#P652_66
{
left:13348.8px;bottom:37309.4px;color:rgb(35,31,31);
}
#P652_67
{
left:13684.6px;bottom:37794.9px;color:rgb(35,31,31);
}
#P652_68
{
left:13705.8px;bottom:37777.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P652_69
{
left:13864.2px;bottom:37747.7px;color:rgb(35,31,31);
}
#P652_70
{
left:14450.6px;bottom:37777.3px;color:rgb(35,31,31);
}
#P652_71
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P652_72
{
left:14630.1px;bottom:38216.9px;color:rgb(35,31,31);
}
#P652_73
{
left:15301.7px;bottom:37794.9px;color:rgb(35,31,31);
}
#P652_74
{
left:14609px;bottom:37761.2px;color:rgb(35,31,31);
}
#P652_75
{
left:15322.8px;bottom:37778.5px;color:rgb(35,31,31);
}
#P652_76
{
left:14798px;bottom:37309.4px;color:rgb(35,31,31);
}
#P652_77
{
left:15133.8px;bottom:37794.9px;color:rgb(35,31,31);
}
#P652_78
{
left:15481.2px;bottom:37777.3px;letter-spacing:-0.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P652_79
{
left:23993.8px;bottom:38216.9px;color:rgb(35,31,31);
}
#P652_80
{
left:24320.7px;bottom:37794.9px;color:rgb(35,31,31);
}
#P652_81
{
left:23800.3px;bottom:37761.2px;color:rgb(35,31,31);
}
#P652_82
{
left:24514.2px;bottom:37778.5px;color:rgb(35,31,31);
}
#P652_83
{
left:23821.5px;bottom:37309.4px;color:rgb(35,31,31);
}
#P652_84
{
left:24493.1px;bottom:37794.9px;color:rgb(35,31,31);
}
#P652_85
{
left:24514.2px;bottom:37777.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P652_86
{
left:24672.6px;bottom:37747.7px;color:rgb(35,31,31);
}
#P652_87
{
left:25259px;bottom:37777.3px;color:rgb(35,31,31);
}
#P652_88
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P652_89
{
left:25438.6px;bottom:38216.9px;color:rgb(35,31,31);
}
#P652_90
{
left:25774.4px;bottom:37794.9px;color:rgb(35,31,31);
}
#P652_91
{
left:25417.4px;bottom:37761.2px;color:rgb(35,31,31);
}
#P652_92
{
left:25795.5px;bottom:37778.5px;color:rgb(35,31,31);
}
#P652_93
{
left:25438.6px;bottom:37309.4px;color:rgb(35,31,31);
}
#P652_94
{
left:25774.4px;bottom:37794.9px;color:rgb(35,31,31);
}
#P652_95
{
left:25883.5px;bottom:37777.3px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P652_96
{
left:4690.71px;bottom:36561.3px;color:rgb(35,31,31);
}
#P652_97
{
left:5650.59px;bottom:36581px;color:rgb(35,31,31);
}
#P652_98
{
left:6354.59px;bottom:36561.3px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P652_99
{
left:7552.22px;bottom:36581px;color:rgb(35,31,31);
}
#P652_100
{
left:7747.93px;bottom:36561.3px;letter-spacing:-1.1px;color:rgb(35,31,31);
}
#P652_101
{
left:0px;letter-spacing:-0.1px;margin-left:-7.3px;
}
#P652_102
{
left:0px;letter-spacing:-21.1px;margin-left:-4.1px;
}
#P652_103
{
left:4663.51px;bottom:31653.4px;letter-spacing:-10.5px;color:rgb(35,31,31);
}
#P652_104
{
left:0px;letter-spacing:-0.2px;margin-left:10.5px;
}
#P652_105
{
left:4663.51px;bottom:30181.4px;color:rgb(35,31,31);
}
#P652_106
{
left:5232.09px;bottom:30201.1px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P652_107
{
left:6263.51px;bottom:30201.1px;color:rgb(35,31,31);
}
#P652_108
{
left:6284.76px;bottom:30623.3px;color:rgb(35,31,31);
}
#P652_109
{
left:6620.57px;bottom:30199.1px;color:rgb(35,31,31);
}
#P652_110
{
left:6263.64px;bottom:30167.6px;color:rgb(35,31,31);
}
#P652_111
{
left:6641.69px;bottom:30182.8px;color:rgb(35,31,31);
}
#P652_112
{
left:6284.76px;bottom:29715.8px;color:rgb(35,31,31);
}
#P652_113
{
left:6620.57px;bottom:30199.1px;color:rgb(35,31,31);
}
#P652_114
{
left:6641.69px;bottom:30181.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P652_115
{
left:6800.03px;bottom:30151.9px;color:rgb(35,31,31);
}
#P652_116
{
left:7386.46px;bottom:30181.5px;color:rgb(35,31,31);
}
#P652_117
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P652_118
{
left:7753.56px;bottom:30621.2px;color:rgb(35,31,31);
}
#P652_119
{
left:8050.07px;bottom:30199.1px;color:rgb(35,31,31);
}
#P652_120
{
left:7544.86px;bottom:30165.5px;color:rgb(35,31,31);
}
#P652_121
{
left:8258.71px;bottom:30182.8px;color:rgb(35,31,31);
}
#P652_122
{
left:7565.98px;bottom:29713.6px;color:rgb(35,31,31);
}
#P652_123
{
left:8237.59px;bottom:30199.1px;color:rgb(35,31,31);
}
#P652_124
{
left:8258.71px;bottom:30181.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P652_125
{
left:15536.2px;bottom:30201.2px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P652_126
{
left:16567.6px;bottom:30201.2px;color:rgb(35,31,31);
}
#P652_127
{
left:16732.2px;bottom:30623.3px;color:rgb(35,31,31);
}
#P652_128
{
left:17116.8px;bottom:30199.1px;color:rgb(35,31,31);
}
#P652_129
{
left:16567.6px;bottom:30167.6px;color:rgb(35,31,31);
}
#P652_130
{
left:17281.5px;bottom:30182.8px;color:rgb(35,31,31);
}
#P652_131
{
left:16588.8px;bottom:29715.8px;color:rgb(35,31,31);
}
#P652_132
{
left:17260.4px;bottom:30199.1px;color:rgb(35,31,31);
}
#P652_133
{
left:17281.5px;bottom:30181.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P652_134
{
left:17439.8px;bottom:30151.9px;color:rgb(35,31,31);
}
#P652_135
{
left:18026.3px;bottom:30181.5px;color:rgb(35,31,31);
}
#P652_136
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P652_137
{
left:18205.8px;bottom:30621.2px;color:rgb(35,31,31);
}
#P652_138
{
left:18877.4px;bottom:30199.1px;color:rgb(35,31,31);
}
#P652_139
{
left:18184.7px;bottom:30165.5px;color:rgb(35,31,31);
}
#P652_140
{
left:18898.5px;bottom:30182.8px;color:rgb(35,31,31);
}
#P652_141
{
left:18373.7px;bottom:29713.6px;color:rgb(35,31,31);
}
#P652_142
{
left:18709.5px;bottom:30199.1px;color:rgb(35,31,31);
}
#P652_143
{
left:18898.5px;bottom:30181.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P652_144
{
left:25840.2px;bottom:30201.2px;word-spacing:120.6px;color:rgb(35,31,31);
}
#P652_145
{
left:26743.8px;bottom:30201.2px;color:rgb(35,31,31);
}
#P652_146
{
left:26764.8px;bottom:30623.3px;color:rgb(35,31,31);
}
#P652_147
{
left:27262.1px;bottom:30199.1px;color:rgb(35,31,31);
}
#P652_148
{
left:26743.6px;bottom:30167.6px;color:rgb(35,31,31);
}
#P652_149
{
left:27283.2px;bottom:30182.8px;color:rgb(35,31,31);
}
#P652_150
{
left:26845.5px;bottom:29715.8px;color:rgb(35,31,31);
}
#P652_151
{
left:27181.3px;bottom:30199.1px;color:rgb(35,31,31);
}
#P652_152
{
left:27283.2px;bottom:30181.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P652_153
{
left:27441.6px;bottom:30151.9px;color:rgb(35,31,31);
}
#P652_154
{
left:28028.1px;bottom:30181.5px;color:rgb(35,31,31);
}
#P652_155
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P652_156
{
left:28207.6px;bottom:30621.2px;color:rgb(35,31,31);
}
#P652_157
{
left:28879.2px;bottom:30199.1px;color:rgb(35,31,31);
}
#P652_158
{
left:28186.5px;bottom:30165.5px;color:rgb(35,31,31);
}
#P652_159
{
left:28900.3px;bottom:30182.8px;color:rgb(35,31,31);
}
#P652_160
{
left:28207.6px;bottom:29713.6px;color:rgb(35,31,31);
}
#P652_161
{
left:28879.2px;bottom:30199.1px;color:rgb(35,31,31);
}
#P652_162
{
left:28900.3px;bottom:30181.5px;color:rgb(35,31,31);
}
#P652_163
{
left:4663.64px;bottom:28069.5px;color:rgb(35,31,31);
}
#P652_164
{
left:5232.09px;bottom:28089.2px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P652_165
{
left:6263.64px;bottom:28089.2px;color:rgb(35,31,31);
}
#P652_166
{
left:6284.76px;bottom:28511.3px;color:rgb(35,31,31);
}
#P652_167
{
left:6956.38px;bottom:28087.1px;color:rgb(35,31,31);
}
#P652_168
{
left:6263.64px;bottom:28055.6px;color:rgb(35,31,31);
}
#P652_169
{
left:6977.5px;bottom:28070.8px;color:rgb(35,31,31);
}
#P652_170
{
left:6284.76px;bottom:27603.8px;color:rgb(35,31,31);
}
#P652_171
{
left:6956.38px;bottom:28087.1px;color:rgb(35,31,31);
}
#P652_172
{
left:6977.5px;bottom:28069.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P652_173
{
left:7135.83px;bottom:28039.9px;color:rgb(35,31,31);
}
#P652_174
{
left:7722.27px;bottom:28069.5px;color:rgb(35,31,31);
}
#P652_175
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P652_176
{
left:8041.82px;bottom:28509.2px;color:rgb(35,31,31);
}
#P652_177
{
left:8433.37px;bottom:28087.1px;color:rgb(35,31,31);
}
#P652_178
{
left:7880.67px;bottom:28053.5px;color:rgb(35,31,31);
}
#P652_179
{
left:8594.52px;bottom:28070.8px;color:rgb(35,31,31);
}
#P652_180
{
left:7901.79px;bottom:27601.6px;color:rgb(35,31,31);
}
#P652_181
{
left:8573.4px;bottom:28087.1px;color:rgb(35,31,31);
}
#P652_182
{
left:8594.52px;bottom:28069.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P652_183
{
left:15536.2px;bottom:28089.2px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P652_184
{
left:16567.7px;bottom:28089.2px;color:rgb(35,31,31);
}
#P652_185
{
left:16756.6px;bottom:28511.3px;color:rgb(35,31,31);
}
#P652_186
{
left:17092.4px;bottom:28087.1px;color:rgb(35,31,31);
}
#P652_187
{
left:16567.6px;bottom:28055.6px;color:rgb(35,31,31);
}
#P652_188
{
left:17281.5px;bottom:28070.8px;color:rgb(35,31,31);
}
#P652_189
{
left:16588.8px;bottom:27603.8px;color:rgb(35,31,31);
}
#P652_190
{
left:17260.4px;bottom:28087.1px;color:rgb(35,31,31);
}
#P652_191
{
left:17281.5px;bottom:28069.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P652_192
{
left:17439.8px;bottom:28039.9px;color:rgb(35,31,31);
}
#P652_193
{
left:18026.3px;bottom:28069.5px;color:rgb(35,31,31);
}
#P652_194
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P652_195
{
left:18210.3px;bottom:28509.2px;color:rgb(35,31,31);
}
#P652_196
{
left:18537.2px;bottom:28087.1px;color:rgb(35,31,31);
}
#P652_197
{
left:18184.7px;bottom:28053.5px;color:rgb(35,31,31);
}
#P652_198
{
left:18562.7px;bottom:28070.8px;color:rgb(35,31,31);
}
#P652_199
{
left:18205.8px;bottom:27601.6px;color:rgb(35,31,31);
}
#P652_200
{
left:18541.6px;bottom:28087.1px;color:rgb(35,31,31);
}
#P652_201
{
left:18562.7px;bottom:28069.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P652_202
{
left:25840.2px;bottom:28089.2px;word-spacing:120.6px;color:rgb(35,31,31);
}
#P652_203
{
left:26743.8px;bottom:28089.2px;color:rgb(35,31,31);
}
#P652_204
{
left:26784.4px;bottom:28511.3px;color:rgb(35,31,31);
}
#P652_205
{
left:27080.9px;bottom:28087.1px;color:rgb(35,31,31);
}
#P652_206
{
left:26743.6px;bottom:28055.6px;color:rgb(35,31,31);
}
#P652_207
{
left:27121.7px;bottom:28070.8px;color:rgb(35,31,31);
}
#P652_208
{
left:26764.8px;bottom:27603.8px;color:rgb(35,31,31);
}
#P652_209
{
left:27100.6px;bottom:28087.1px;color:rgb(35,31,31);
}
#P652_210
{
left:27121.7px;bottom:28069.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P652_211
{
left:27280px;bottom:28039.9px;color:rgb(35,31,31);
}
#P652_212
{
left:27866.5px;bottom:28069.5px;color:rgb(35,31,31);
}
#P652_213
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P652_214
{
left:28046px;bottom:28509.2px;color:rgb(35,31,31);
}
#P652_215
{
left:28717.6px;bottom:28087.1px;color:rgb(35,31,31);
}
#P652_216
{
left:28024.9px;bottom:28053.5px;color:rgb(35,31,31);
}
#P652_217
{
left:28738.7px;bottom:28070.8px;color:rgb(35,31,31);
}
#P652_218
{
left:28046px;bottom:27601.6px;color:rgb(35,31,31);
}
#P652_219
{
left:28717.6px;bottom:28087.1px;color:rgb(35,31,31);
}
#P652_220
{
left:28738.7px;bottom:28069.5px;color:rgb(35,31,31);
}
#P652_221
{
left:4663.58px;bottom:26021.5px;letter-spacing:-10.5px;color:rgb(35,31,31);
}
#P652_222
{
left:0px;letter-spacing:-1.1px;margin-left:10.5px;
}
#P652_223
{
left:0px;letter-spacing:-0.6px;margin-left:-7.3px;
}
#P652_224
{
left:0px;letter-spacing:0.1px;margin-left:0.6px;
}
#P652_225
{
left:4663.58px;bottom:24549.5px;color:rgb(35,31,31);
}
#P652_226
{
left:4840.73px;bottom:24569.2px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P652_227
{
left:6263.58px;bottom:24569.2px;color:rgb(35,31,31);
}
#P652_228
{
left:6284.76px;bottom:24991.3px;color:rgb(35,31,31);
}
#P652_229
{
left:6640.15px;bottom:24567.1px;color:rgb(35,31,31);
}
#P652_230
{
left:6263.64px;bottom:24535.6px;color:rgb(35,31,31);
}
#P652_231
{
left:6661.27px;bottom:24550.8px;color:rgb(35,31,31);
}
#P652_232
{
left:6294.55px;bottom:24083.8px;color:rgb(35,31,31);
}
#P652_233
{
left:6630.36px;bottom:24567.1px;color:rgb(35,31,31);
}
#P652_234
{
left:6661.27px;bottom:24549.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P652_235
{
left:6819.67px;bottom:24519.9px;color:rgb(35,31,31);
}
#P652_236
{
left:7406.11px;bottom:24549.5px;color:rgb(35,31,31);
}
#P652_237
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P652_238
{
left:7585.63px;bottom:24989.2px;color:rgb(35,31,31);
}
#P652_239
{
left:8257.24px;bottom:24567.1px;color:rgb(35,31,31);
}
#P652_240
{
left:7564.51px;bottom:24533.5px;color:rgb(35,31,31);
}
#P652_241
{
left:8278.36px;bottom:24550.8px;color:rgb(35,31,31);
}
#P652_242
{
left:7753.56px;bottom:24081.6px;color:rgb(35,31,31);
}
#P652_243
{
left:8089.37px;bottom:24567.1px;color:rgb(35,31,31);
}
#P652_244
{
left:8278.36px;bottom:24549.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P652_245
{
left:12136.8px;bottom:24569.2px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P652_246
{
left:13559.6px;bottom:24569.2px;color:rgb(35,31,31);
}
#P652_247
{
left:13580.8px;bottom:24991.3px;color:rgb(35,31,31);
}
#P652_248
{
left:14252.4px;bottom:24567.1px;color:rgb(35,31,31);
}
#P652_249
{
left:13559.6px;bottom:24535.6px;color:rgb(35,31,31);
}
#P652_250
{
left:14273.5px;bottom:24550.8px;color:rgb(35,31,31);
}
#P652_251
{
left:13748.6px;bottom:24083.8px;color:rgb(35,31,31);
}
#P652_252
{
left:14084.4px;bottom:24567.1px;color:rgb(35,31,31);
}
#P652_253
{
left:14273.5px;bottom:24549.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P652_254
{
left:14431.8px;bottom:24519.9px;color:rgb(35,31,31);
}
#P652_255
{
left:15018.3px;bottom:24549.5px;color:rgb(35,31,31);
}
#P652_256
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P652_257
{
left:15202.6px;bottom:24989.2px;color:rgb(35,31,31);
}
#P652_258
{
left:15538.3px;bottom:24567.1px;color:rgb(35,31,31);
}
#P652_259
{
left:15176.7px;bottom:24533.5px;color:rgb(35,31,31);
}
#P652_260
{
left:15564.2px;bottom:24550.8px;color:rgb(35,31,31);
}
#P652_261
{
left:15197.8px;bottom:24081.6px;color:rgb(35,31,31);
}
#P652_262
{
left:15543.1px;bottom:24567.1px;color:rgb(35,31,31);
}
#P652_263
{
left:15564.2px;bottom:24549.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P652_264
{
left:19560.8px;bottom:24569.2px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P652_265
{
left:20983.6px;bottom:24569.2px;color:rgb(35,31,31);
}
#P652_266
{
left:21004.8px;bottom:24991.3px;color:rgb(35,31,31);
}
#P652_267
{
left:21340.6px;bottom:24567.1px;color:rgb(35,31,31);
}
#P652_268
{
left:20983.6px;bottom:24535.6px;color:rgb(35,31,31);
}
#P652_269
{
left:21361.7px;bottom:24550.8px;color:rgb(35,31,31);
}
#P652_270
{
left:21004.8px;bottom:24083.8px;color:rgb(35,31,31);
}
#P652_271
{
left:21340.6px;bottom:24567.1px;color:rgb(35,31,31);
}
#P652_272
{
left:21361.7px;bottom:24549.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P652_273
{
left:21520px;bottom:24519.9px;color:rgb(35,31,31);
}
#P652_274
{
left:22106.5px;bottom:24549.5px;color:rgb(35,31,31);
}
#P652_275
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P652_276
{
left:22460.2px;bottom:24989.2px;color:rgb(35,31,31);
}
#P652_277
{
left:22783.4px;bottom:24567.1px;color:rgb(35,31,31);
}
#P652_278
{
left:22264.9px;bottom:24533.5px;color:rgb(35,31,31);
}
#P652_279
{
left:22978.7px;bottom:24550.8px;color:rgb(35,31,31);
}
#P652_280
{
left:22286px;bottom:24081.6px;color:rgb(35,31,31);
}
#P652_281
{
left:22957.6px;bottom:24567.1px;color:rgb(35,31,31);
}
#P652_282
{
left:22978.7px;bottom:24549.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P652_283
{
left:26920.8px;bottom:24569.2px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P652_284
{
left:28343.6px;bottom:24569.2px;color:rgb(35,31,31);
}
#P652_285
{
left:28392.6px;bottom:24991.3px;color:rgb(35,31,31);
}
#P652_286
{
left:28728.4px;bottom:24567.1px;color:rgb(35,31,31);
}
#P652_287
{
left:28343.6px;bottom:24535.6px;color:rgb(35,31,31);
}
#P652_288
{
left:28777.4px;bottom:24550.8px;color:rgb(35,31,31);
}
#P652_289
{
left:28364.8px;bottom:24083.8px;color:rgb(35,31,31);
}
#P652_290
{
left:28756.3px;bottom:24567.1px;color:rgb(35,31,31);
}
#P652_291
{
left:28777.4px;bottom:24549.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P652_292
{
left:28935.8px;bottom:24519.9px;color:rgb(35,31,31);
}
#P652_293
{
left:29522.3px;bottom:24549.5px;color:rgb(35,31,31);
}
#P652_294
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P652_295
{
left:29701.7px;bottom:24989.2px;color:rgb(35,31,31);
}
#P652_296
{
left:30373.3px;bottom:24567.1px;color:rgb(35,31,31);
}
#P652_297
{
left:29680.6px;bottom:24533.5px;color:rgb(35,31,31);
}
#P652_298
{
left:30394.5px;bottom:24550.8px;color:rgb(35,31,31);
}
#P652_299
{
left:29701.7px;bottom:24081.6px;color:rgb(35,31,31);
}
#P652_300
{
left:30373.3px;bottom:24567.1px;color:rgb(35,31,31);
}
#P652_301
{
left:30394.5px;bottom:24549.5px;color:rgb(35,31,31);
}
#P652_302
{
left:4663.64px;bottom:22437.5px;color:rgb(35,31,31);
}
#P652_303
{
left:4840.67px;bottom:22457.2px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P652_304
{
left:6263.51px;bottom:22457.2px;color:rgb(35,31,31);
}
#P652_305
{
left:6284.76px;bottom:22879.3px;color:rgb(35,31,31);
}
#P652_306
{
left:6956.38px;bottom:22455.1px;color:rgb(35,31,31);
}
#P652_307
{
left:6263.64px;bottom:22423.6px;color:rgb(35,31,31);
}
#P652_308
{
left:6977.5px;bottom:22438.8px;color:rgb(35,31,31);
}
#P652_309
{
left:6284.76px;bottom:21971.8px;color:rgb(35,31,31);
}
#P652_310
{
left:6956.38px;bottom:22455.1px;color:rgb(35,31,31);
}
#P652_311
{
left:6977.5px;bottom:22437.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P652_312
{
left:7135.83px;bottom:22407.9px;color:rgb(35,31,31);
}
#P652_313
{
left:7722.27px;bottom:22437.5px;color:rgb(35,31,31);
}
#P652_314
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P652_315
{
left:7901.79px;bottom:22877.2px;color:rgb(35,31,31);
}
#P652_316
{
left:8573.4px;bottom:22455.1px;color:rgb(35,31,31);
}
#P652_317
{
left:7880.67px;bottom:22421.5px;color:rgb(35,31,31);
}
#P652_318
{
left:8594.52px;bottom:22438.8px;color:rgb(35,31,31);
}
#P652_319
{
left:8110.23px;bottom:21969.6px;color:rgb(35,31,31);
}
#P652_320
{
left:8364.95px;bottom:22455.1px;color:rgb(35,31,31);
}
#P652_321
{
left:8594.52px;bottom:22437.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P652_322
{
left:12136.8px;bottom:22457.2px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P652_323
{
left:13559.6px;bottom:22457.2px;color:rgb(35,31,31);
}
#P652_324
{
left:13748.6px;bottom:22879.3px;color:rgb(35,31,31);
}
#P652_325
{
left:14084.4px;bottom:22455.1px;color:rgb(35,31,31);
}
#P652_326
{
left:13559.6px;bottom:22423.6px;color:rgb(35,31,31);
}
#P652_327
{
left:14273.5px;bottom:22438.8px;color:rgb(35,31,31);
}
#P652_328
{
left:13580.8px;bottom:21971.8px;color:rgb(35,31,31);
}
#P652_329
{
left:14252.4px;bottom:22455.1px;color:rgb(35,31,31);
}
#P652_330
{
left:14273.5px;bottom:22437.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P652_331
{
left:14431.8px;bottom:22407.9px;color:rgb(35,31,31);
}
#P652_332
{
left:15018.3px;bottom:22437.5px;color:rgb(35,31,31);
}
#P652_333
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P652_334
{
left:15431.6px;bottom:22877.2px;color:rgb(35,31,31);
}
#P652_335
{
left:15803.5px;bottom:22455.1px;color:rgb(35,31,31);
}
#P652_336
{
left:15176.7px;bottom:22421.5px;color:rgb(35,31,31);
}
#P652_337
{
left:16058.5px;bottom:22438.8px;color:rgb(35,31,31);
}
#P652_338
{
left:15197.8px;bottom:21969.6px;color:rgb(35,31,31);
}
#P652_339
{
left:16037.3px;bottom:22455.1px;color:rgb(35,31,31);
}
#P652_340
{
left:16058.5px;bottom:22437.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P652_341
{
left:19560.8px;bottom:22457.2px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P652_342
{
left:20983.6px;bottom:22457.2px;color:rgb(35,31,31);
}
#P652_343
{
left:21009.2px;bottom:22879.3px;color:rgb(35,31,31);
}
#P652_344
{
left:21336.1px;bottom:22455.1px;color:rgb(35,31,31);
}
#P652_345
{
left:20983.6px;bottom:22423.6px;color:rgb(35,31,31);
}
#P652_346
{
left:21361.7px;bottom:22438.8px;color:rgb(35,31,31);
}
#P652_347
{
left:21004.8px;bottom:21971.8px;color:rgb(35,31,31);
}
#P652_348
{
left:21340.6px;bottom:22455.1px;color:rgb(35,31,31);
}
#P652_349
{
left:21361.7px;bottom:22437.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P652_350
{
left:21520px;bottom:22407.9px;color:rgb(35,31,31);
}
#P652_351
{
left:22106.5px;bottom:22437.5px;color:rgb(35,31,31);
}
#P652_352
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P652_353
{
left:22453.9px;bottom:22877.2px;color:rgb(35,31,31);
}
#P652_354
{
left:22789.7px;bottom:22455.1px;color:rgb(35,31,31);
}
#P652_355
{
left:22264.9px;bottom:22421.5px;color:rgb(35,31,31);
}
#P652_356
{
left:22978.7px;bottom:22438.8px;color:rgb(35,31,31);
}
#P652_357
{
left:22286px;bottom:21969.6px;color:rgb(35,31,31);
}
#P652_358
{
left:22957.6px;bottom:22455.1px;color:rgb(35,31,31);
}
#P652_359
{
left:22978.7px;bottom:22437.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P652_360
{
left:26920.8px;bottom:22457.2px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P652_361
{
left:28343.6px;bottom:22457.2px;color:rgb(35,31,31);
}
#P652_362
{
left:28485.7px;bottom:22879.3px;color:rgb(35,31,31);
}
#P652_363
{
left:28821.5px;bottom:22455.1px;color:rgb(35,31,31);
}
#P652_364
{
left:28343.6px;bottom:22423.6px;color:rgb(35,31,31);
}
#P652_365
{
left:28963.7px;bottom:22438.8px;color:rgb(35,31,31);
}
#P652_366
{
left:28364.8px;bottom:21971.8px;color:rgb(35,31,31);
}
#P652_367
{
left:28942.6px;bottom:22455.1px;color:rgb(35,31,31);
}
#P652_368
{
left:28963.7px;bottom:22437.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P652_369
{
left:29122.1px;bottom:22407.9px;color:rgb(35,31,31);
}
#P652_370
{
left:29708.5px;bottom:22437.5px;color:rgb(35,31,31);
}
#P652_371
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P652_372
{
left:30055.9px;bottom:22877.2px;color:rgb(35,31,31);
}
#P652_373
{
left:30391.7px;bottom:22455.1px;color:rgb(35,31,31);
}
#P652_374
{
left:29866.9px;bottom:22421.5px;color:rgb(35,31,31);
}
#P652_375
{
left:30580.8px;bottom:22438.8px;color:rgb(35,31,31);
}
#P652_376
{
left:29888px;bottom:21969.6px;color:rgb(35,31,31);
}
#P652_377
{
left:30559.6px;bottom:22455.1px;color:rgb(35,31,31);
}
#P652_378
{
left:30580.8px;bottom:22437.5px;color:rgb(35,31,31);
}
#P652_379
{
left:4663.64px;bottom:20325.5px;color:rgb(35,31,31);
}
#P652_380
{
left:4840.73px;bottom:20345.2px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P652_381
{
left:6263.64px;bottom:20345.2px;color:rgb(35,31,31);
}
#P652_382
{
left:6452.63px;bottom:20767.3px;color:rgb(35,31,31);
}
#P652_383
{
left:6788.44px;bottom:20343.1px;color:rgb(35,31,31);
}
#P652_384
{
left:6263.64px;bottom:20311.6px;color:rgb(35,31,31);
}
#P652_385
{
left:6977.5px;bottom:20326.8px;color:rgb(35,31,31);
}
#P652_386
{
left:6284.76px;bottom:19859.8px;color:rgb(35,31,31);
}
#P652_387
{
left:6956.38px;bottom:20343.1px;color:rgb(35,31,31);
}
#P652_388
{
left:6977.5px;bottom:20325.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P652_389
{
left:7135.83px;bottom:20295.9px;color:rgb(35,31,31);
}
#P652_390
{
left:7722.27px;bottom:20325.5px;color:rgb(35,31,31);
}
#P652_391
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P652_392
{
left:8097.88px;bottom:20765.2px;color:rgb(35,31,31);
}
#P652_393
{
left:8377.31px;bottom:20343.1px;color:rgb(35,31,31);
}
#P652_394
{
left:7880.67px;bottom:20309.5px;color:rgb(35,31,31);
}
#P652_395
{
left:8594.52px;bottom:20326.8px;color:rgb(35,31,31);
}
#P652_396
{
left:7901.79px;bottom:19857.6px;color:rgb(35,31,31);
}
#P652_397
{
left:8573.4px;bottom:20343.1px;color:rgb(35,31,31);
}
#P652_398
{
left:8594.52px;bottom:20325.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P652_399
{
left:12136.8px;bottom:20345.2px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P652_400
{
left:13559.6px;bottom:20345.2px;color:rgb(35,31,31);
}
#P652_401
{
left:13580.8px;bottom:20767.3px;color:rgb(35,31,31);
}
#P652_402
{
left:14252.4px;bottom:20343.1px;color:rgb(35,31,31);
}
#P652_403
{
left:13559.6px;bottom:20311.6px;color:rgb(35,31,31);
}
#P652_404
{
left:14273.5px;bottom:20326.8px;color:rgb(35,31,31);
}
#P652_405
{
left:13580.8px;bottom:19859.8px;color:rgb(35,31,31);
}
#P652_406
{
left:14252.4px;bottom:20343.1px;color:rgb(35,31,31);
}
#P652_407
{
left:14273.5px;bottom:20325.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P652_408
{
left:14431.8px;bottom:20295.9px;color:rgb(35,31,31);
}
#P652_409
{
left:15018.3px;bottom:20325.5px;color:rgb(35,31,31);
}
#P652_410
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P652_411
{
left:15347.7px;bottom:20765.2px;color:rgb(35,31,31);
}
#P652_412
{
left:15719.6px;bottom:20343.1px;color:rgb(35,31,31);
}
#P652_413
{
left:15176.7px;bottom:20309.5px;color:rgb(35,31,31);
}
#P652_414
{
left:15890.5px;bottom:20326.8px;color:rgb(35,31,31);
}
#P652_415
{
left:15197.8px;bottom:19857.6px;color:rgb(35,31,31);
}
#P652_416
{
left:15869.4px;bottom:20343.1px;color:rgb(35,31,31);
}
#P652_417
{
left:15890.5px;bottom:20325.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P652_418
{
left:19560.8px;bottom:20345.2px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P652_419
{
left:20983.8px;bottom:20345.2px;color:rgb(35,31,31);
}
#P652_420
{
left:21004.8px;bottom:20767.3px;color:rgb(35,31,31);
}
#P652_421
{
left:21676.4px;bottom:20343.1px;color:rgb(35,31,31);
}
#P652_422
{
left:20983.6px;bottom:20311.6px;color:rgb(35,31,31);
}
#P652_423
{
left:21697.5px;bottom:20326.8px;color:rgb(35,31,31);
}
#P652_424
{
left:21004.8px;bottom:19859.8px;color:rgb(35,31,31);
}
#P652_425
{
left:21676.4px;bottom:20343.1px;color:rgb(35,31,31);
}
#P652_426
{
left:21697.5px;bottom:20325.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P652_427
{
left:21855.8px;bottom:20295.9px;color:rgb(35,31,31);
}
#P652_428
{
left:22442.3px;bottom:20325.5px;color:rgb(35,31,31);
}
#P652_429
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P652_430
{
left:22709px;bottom:20765.2px;color:rgb(35,31,31);
}
#P652_431
{
left:23206.3px;bottom:20343.1px;color:rgb(35,31,31);
}
#P652_432
{
left:22600.7px;bottom:20309.5px;color:rgb(35,31,31);
}
#P652_433
{
left:23314.5px;bottom:20326.8px;color:rgb(35,31,31);
}
#P652_434
{
left:22621.8px;bottom:19857.6px;color:rgb(35,31,31);
}
#P652_435
{
left:23293.4px;bottom:20343.1px;color:rgb(35,31,31);
}
#P652_436
{
left:23314.5px;bottom:20325.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P652_437
{
left:26920.7px;bottom:20345.2px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P652_438
{
left:28343.7px;bottom:20345.2px;color:rgb(35,31,31);
}
#P652_439
{
left:28364.8px;bottom:20767.3px;color:rgb(35,31,31);
}
#P652_440
{
left:29204.2px;bottom:20343.1px;color:rgb(35,31,31);
}
#P652_441
{
left:28343.6px;bottom:20311.6px;color:rgb(35,31,31);
}
#P652_442
{
left:29225.4px;bottom:20326.8px;color:rgb(35,31,31);
}
#P652_443
{
left:28364.8px;bottom:19859.8px;color:rgb(35,31,31);
}
#P652_444
{
left:29204.2px;bottom:20343.1px;color:rgb(35,31,31);
}
#P652_445
{
left:29225.4px;bottom:20325.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P652_446
{
left:29383.8px;bottom:20295.9px;color:rgb(35,31,31);
}
#P652_447
{
left:29970.2px;bottom:20325.5px;color:rgb(35,31,31);
}
#P652_448
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P652_449
{
left:30149.7px;bottom:20765.2px;color:rgb(35,31,31);
}
#P652_450
{
left:30989.2px;bottom:20343.1px;color:rgb(35,31,31);
}
#P652_451
{
left:30128.6px;bottom:20309.5px;color:rgb(35,31,31);
}
#P652_452
{
left:31010.3px;bottom:20326.8px;color:rgb(35,31,31);
}
#P652_453
{
left:30396.8px;bottom:19857.6px;color:rgb(35,31,31);
}
#P652_454
{
left:30742.1px;bottom:20343.1px;color:rgb(35,31,31);
}
#P652_455
{
left:31010.3px;bottom:20325.5px;color:rgb(35,31,31);
}
#P652_456
{
left:4663.64px;bottom:17765.5px;color:rgb(35,31,31);
}
#P652_457
{
left:4840.67px;bottom:17785.2px;color:rgb(35,31,31);
}
#P652_458
{
left:6327.64px;bottom:17785.2px;word-spacing:-26px;color:rgb(2,77,161);
}
#P652_459
{
left:0px;letter-spacing:0px;margin-left:-52.8px;
}
#P652_460
{
left:0px;letter-spacing:0px;margin-left:-12.5px;
}
#P652_461
{
left: 12011.1px;bottom:17765.5px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P652_462
{
left:0px;letter-spacing:-0.5px;margin-left:-197.8px;
}
#P652_463
{
left:0px;letter-spacing:-0.3px;margin-left:0.5px;
}
#P652_464
{
left:23129.1px;bottom:16917px;letter-spacing:2785.6px;color:rgb(35,31,31);
}
#P652_465
{
left:0px;letter-spacing:0px;margin-left:-1792px;
}
#P652_466
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P652_467
{
left:27246.2px;bottom:17318.6px;color:rgb(35,31,31);
}
#P652_468
{
left:27739.2px;bottom:16896.6px;color:rgb(35,31,31);
}
#P652_469
{
left:27225.1px;bottom:16901px;color:rgb(35,31,31);
}
#P652_470
{
left:27760.3px;bottom:16918.2px;color:rgb(35,31,31);
}
#P652_471
{
left:27283.9px;bottom:16411.1px;color:rgb(35,31,31);
}
#P652_472
{
left:27701.5px;bottom:16896.6px;color:rgb(35,31,31);
}
#P652_473
{
left:27760.3px;bottom:16874.7px;letter-spacing:-176px;color:rgb(35,31,31);
}
#P652_474
{
left:27936.3px;bottom:16887.4px;color:rgb(35,31,31);
}
#P652_475
{
left:28522.7px;bottom:16874.7px;color:rgb(35,31,31);
}
#P652_476
{
left:0px;letter-spacing:0px;margin-left:-176px;
}
#P652_477
{
left:28788px;bottom:17296.4px;color:rgb(35,31,31);
}
#P652_478
{
left:29350.6px;bottom:16896.6px;color:rgb(35,31,31);
}
#P652_479
{
left:28698.7px;bottom:16878.8px;color:rgb(35,31,31);
}
#P652_480
{
left:29439.8px;bottom:16918.2px;color:rgb(35,31,31);
}
#P652_481
{
left:28719.8px;bottom:16388.9px;color:rgb(35,31,31);
}
#P652_482
{
left:29418.7px;bottom:16896.6px;color:rgb(35,31,31);
}
#P652_483
{
left:29439.8px;bottom:16874.7px;color:rgb(35,31,31);
}
#P652_484
{
left:26073.1px;bottom:15338.7px;word-spacing:2768px;color:rgb(35,31,31);
}
#P652_485
{
left:26660.2px;bottom:14942.4px;color:rgb(35,31,31);
}
#P652_486
{
left:27012.1px;bottom:15338.7px;color:rgb(35,31,31);
}
#P652_487
{
left:27188.1px;bottom:15338.7px;color:rgb(35,31,31);
}
#P652_488
{
left:27735.8px;bottom:15338.7px;color:rgb(35,31,31);
}
#P652_489
{
left:27911.8px;bottom:15351.4px;color:rgb(35,31,31);
}
#P652_490
{
left:28498.2px;bottom:15338.7px;color:rgb(35,31,31);
}
#P652_491
{
left:29573.8px;bottom:14942.4px;color:rgb(35,31,31);
}
#P652_492
{
left:29925.7px;bottom:15338.7px;color:rgb(35,31,31);
}
#P652_493
{
left:23129.1px;bottom:14442.7px;letter-spacing:2768px;color:rgb(35,31,31);
}
#P652_494
{
left:27193px;bottom:14442.7px;color:rgb(35,31,31);
}
#P652_495
{
left:27740.8px;bottom:14442.7px;color:rgb(35,31,31);
}
#P652_496
{
left:27916.8px;bottom:14455.4px;color:rgb(35,31,31);
}
#P652_497
{
left:28503.3px;bottom:14442.7px;color:rgb(35,31,31);
}
#P652_498
{
left:0px;bottom:0px;letter-spacing:0px;color:rgb(235,26,35);
}
#P652_499
{
left:4663.64px;bottom:16549.5px;color:rgb(35,31,31);
}
#P652_500
{
left:5623.58px;bottom:16569.2px;color:rgb(35,31,31);
}
#P652_501
{
left:6327.58px;bottom:16549.5px;color:rgb(35,31,31);
}
#P652_502
{
left:6968.09px;bottom:16569.2px;color:rgb(35,31,31);
}
#P652_503
{
left:7163.8px;bottom:16549.5px;letter-spacing:0.1px;color:rgb(35,31,31);
}
#P652_504
{
left:0px;letter-spacing:0px;margin-left:-158.5px;
}
#P652_505
{
left:14469.2px;bottom:16989.2px;color:rgb(35,31,31);
}
#P652_506
{
left:15047px;bottom:16567.1px;color:rgb(35,31,31);
}
#P652_507
{
left:14448.1px;bottom:16533.5px;color:rgb(35,31,31);
}
#P652_508
{
left:15068.1px;bottom:16550.8px;color:rgb(35,31,31);
}
#P652_509
{
left:14590.2px;bottom:16081.6px;color:rgb(35,31,31);
}
#P652_510
{
left:14926px;bottom:16567.1px;color:rgb(35,31,31);
}
#P652_511
{
left:15068.1px;bottom:16549.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P652_512
{
left:15226.5px;bottom:16519.9px;color:rgb(35,31,31);
}
#P652_513
{
left:15813px;bottom:16549.5px;color:rgb(35,31,31);
}
#P652_514
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P652_515
{
left:15992.5px;bottom:16989.2px;color:rgb(35,31,31);
}
#P652_516
{
left:16664.1px;bottom:16567.1px;color:rgb(35,31,31);
}
#P652_517
{
left:15971.4px;bottom:16533.5px;color:rgb(35,31,31);
}
#P652_518
{
left:16685.2px;bottom:16550.8px;color:rgb(35,31,31);
}
#P652_519
{
left:15992.5px;bottom:16081.6px;color:rgb(35,31,31);
}
#P652_520
{
left:16664.1px;bottom:16567.1px;color:rgb(35,31,31);
}
#P652_521
{
left:16685.2px;bottom:16549.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P652_522
{
left:4663.64px;bottom:12965.5px;color:rgb(35,31,31);
}
#P652_523
{
left:4840.79px;bottom:12985.2px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P652_524
{
left:6327.64px;bottom:12985.2px;color:rgb(2,77,161);
}
#P652_525
{
left: 8291.99px;bottom:12965.5px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P652_526
{
left:0px;letter-spacing:2.8px;margin-left:-218.9px;
}
#P652_527
{
left:0px;letter-spacing:-5.2px;margin-left:-2.8px;
}
#P652_528
{
left:0px;letter-spacing:-0.5px;margin-left:5.2px;
}
#P652_529
{
left:0px;letter-spacing:-3.5px;margin-left:-12px;
}
#P652_530
{
left:6327.64px;bottom:12069.5px;letter-spacing:-10.5px;color:rgb(35,31,31);
}
#P652_531
{
left:0px;letter-spacing:-0.5px;margin-left:10.5px;
}
#P652_532
{
left:0px;letter-spacing:0px;margin-left:-12px;
}
#P652_533
{
left:4663.64px;bottom:10725.5px;color:rgb(35,31,31);
}
#P652_534
{
left:4840.79px;bottom:10745.2px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P652_535
{
left:6327.64px;bottom:10745.2px;letter-spacing:-5.5px;color:rgb(2,77,161);
}
#P652_536
{
left:0px;letter-spacing:0px;margin-left:5.5px;
}
#P652_537
{
left: 10372.6px;bottom:10725.5px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P652_538
{
left:0px;letter-spacing:-7px;margin-left:-214.6px;
}
#P652_539
{
left:0px;letter-spacing:0px;margin-left:7px;
}
#P652_540
{
left:4663.58px;bottom:9381.48px;color:rgb(35,31,31);
}
#P652_541
{
left:5623.58px;bottom:9401.2px;color:rgb(35,31,31);
}
#P652_542
{
left:9727.13px;bottom:7786.73px;color:white;
}
#P652_543
{
left:4663.64px;bottom:5669.48px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P652_544
{
left:0px;letter-spacing:0px;margin-left:-27.6px;
}
#P652_545
{
left:4663.64px;bottom:4197.48px;color:rgb(35,31,31);
}
#P652_546
{
left:4840.73px;bottom:4217.2px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P652_547
{
left:6263.58px;bottom:4217.2px;color:rgb(35,31,31);
}
#P652_548
{
left:6284.76px;bottom:4639.28px;color:rgb(35,31,31);
}
#P652_549
{
left:6620.57px;bottom:4639.28px;color:rgb(35,31,31);
}
#P652_550
{
left:6947.48px;bottom:4215.08px;color:rgb(35,31,31);
}
#P652_551
{
left:6263.64px;bottom:4183.58px;color:rgb(35,31,31);
}
#P652_552
{
left:6968.6px;bottom:4198.75px;color:rgb(35,31,31);
}
#P652_553
{
left:6448.22px;bottom:3731.76px;color:rgb(35,31,31);
}
#P652_554
{
left:6784.03px;bottom:4215.08px;color:rgb(35,31,31);
}
#P652_555
{
left:6968.6px;bottom:4197.48px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P652_556
{
left:7127px;bottom:4167.92px;color:rgb(35,31,31);
}
#P652_557
{
left:7713.43px;bottom:4197.48px;color:rgb(35,31,31);
}
#P652_558
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P652_559
{
left:8060.83px;bottom:4637.16px;color:rgb(35,31,31);
}
#P652_560
{
left:8396.63px;bottom:4215.08px;color:rgb(35,31,31);
}
#P652_561
{
left:7871.83px;bottom:4181.47px;color:rgb(35,31,31);
}
#P652_562
{
left:8585.69px;bottom:4198.75px;color:rgb(35,31,31);
}
#P652_563
{
left:7892.95px;bottom:3729.64px;color:rgb(35,31,31);
}
#P652_564
{
left:8564.57px;bottom:4215.08px;color:rgb(35,31,31);
}
#P652_565
{
left:8585.69px;bottom:4197.48px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P652_566
{
left:15144.8px;bottom:4217.2px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P652_567
{
left:16567.6px;bottom:4217.2px;color:rgb(35,31,31);
}
#P652_568
{
left:16588.8px;bottom:4639.28px;color:rgb(35,31,31);
}
#P652_569
{
left:16924.6px;bottom:4215.08px;color:rgb(35,31,31);
}
#P652_570
{
left:16567.6px;bottom:4183.58px;color:rgb(35,31,31);
}
#P652_571
{
left:16945.7px;bottom:4198.75px;color:rgb(35,31,31);
}
#P652_572
{
left:16588.8px;bottom:3731.76px;color:rgb(35,31,31);
}
#P652_573
{
left:16924.6px;bottom:4215.08px;color:rgb(35,31,31);
}
#P652_574
{
left:16945.7px;bottom:4197.48px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P652_575
{
left:17104px;bottom:4167.92px;color:rgb(35,31,31);
}
#P652_576
{
left:17690.5px;bottom:4197.48px;color:rgb(35,31,31);
}
#P652_577
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P652_578
{
left:17870px;bottom:4637.16px;color:rgb(35,31,31);
}
#P652_579
{
left:18241.9px;bottom:4637.16px;color:rgb(35,31,31);
}
#P652_580
{
left:18384.5px;bottom:4610.55px;color:rgb(35,31,31);
}
#P652_581
{
left:18912.2px;bottom:4637.16px;color:rgb(35,31,31);
}
#P652_582
{
left:19390.6px;bottom:4215.08px;color:rgb(35,31,31);
}
#P652_583
{
left:17848.9px;bottom:4181.47px;color:rgb(35,31,31);
}
#P652_584
{
left:19411.7px;bottom:4198.75px;color:rgb(35,31,31);
}
#P652_585
{
left:18462.4px;bottom:3729.64px;color:rgb(35,31,31);
}
#P652_586
{
left:18798.2px;bottom:4215.08px;color:rgb(35,31,31);
}
#P652_587
{
left:19411.7px;bottom:4197.48px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P652_588
{
left:25448.8px;bottom:4217.2px;word-spacing:120.6px;color:rgb(35,31,31);
}
#P652_589
{
left:26743.8px;bottom:4217.2px;color:rgb(35,31,31);
}
#P652_590
{
left:27343.8px;bottom:4639.28px;color:rgb(35,31,31);
}
#P652_591
{
left:27679.6px;bottom:4215.08px;color:rgb(35,31,31);
}
#P652_592
{
left:26743.6px;bottom:4183.58px;color:rgb(35,31,31);
}
#P652_593
{
left:28279.9px;bottom:4198.75px;color:rgb(35,31,31);
}
#P652_594
{
left:26764.8px;bottom:3731.76px;color:rgb(35,31,31);
}
#P652_595
{
left:27110px;bottom:3731.76px;color:rgb(35,31,31);
}
#P652_596
{
left:27252.6px;bottom:3705.15px;color:rgb(35,31,31);
}
#P652_597
{
left:27780.4px;bottom:3731.76px;color:rgb(35,31,31);
}
#P652_598
{
left:28258.7px;bottom:4215.08px;color:rgb(35,31,31);
}
#P652_599
{
left:28279.9px;bottom:4197.48px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P652_600
{
left:28438.2px;bottom:4167.92px;color:rgb(35,31,31);
}
#P652_601
{
left:29024.7px;bottom:4197.48px;color:rgb(35,31,31);
}
#P652_602
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P652_603
{
left:29372.1px;bottom:4637.16px;color:rgb(35,31,31);
}
#P652_604
{
left:29707.9px;bottom:4215.08px;color:rgb(35,31,31);
}
#P652_605
{
left:29183.1px;bottom:4181.47px;color:rgb(35,31,31);
}
#P652_606
{
left:29896.9px;bottom:4198.75px;color:rgb(35,31,31);
}
#P652_607
{
left:29204.2px;bottom:3729.64px;color:rgb(35,31,31);
}
#P652_608
{
left:29875.8px;bottom:4215.08px;color:rgb(35,31,31);
}
#P652_609
{
left:29896.9px;bottom:4197.48px;color:rgb(35,31,31);
}
#P652_610
{
left:3954.73px;bottom:30194.6px;
}
#P652_611
{
left:3954.73px;bottom:30194.6px;color:white;
}
#P652_612
{
left:3963.8px;bottom:24584px;
}
#P652_613
{
left:3963.8px;bottom:24584px;color:white;
}
#P652_614
{
left:26785.2px;bottom:46233.7px;word-spacing:0.2px;color:rgb(33,31,31);
}
#P652_615
{
left:23576.2px;bottom:16288.7px;
}
#PageContainer652
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg652.jpg");background-repeat:no-repeat;background-size: 942px 1152px; background-position: 0px 35.6399999999999px;
}
#ImageContainer652 {bottom:176.36px;left:0.00px;width:942.01px;height:1152.15px;position:absolute;} #TextContainer652 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.answer{ position: absolute; top: 43px; left: 26px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}
.circle1{position: absolute;top: 514px;left: 94px;}
.circle2{position: absolute;top: 664px;left: 94px;}
#middle-toolbar img{vertical-align: middle;}