.tr397{ color:transparent;}
#P397_1
{
left:4592.6px;bottom:1410.03px;letter-spacing:17100.9px;color:rgb(35,31,31);
}
#P397_2
{
left:22049.3px;bottom:1410.03px;color:rgb(35,31,31);
}
#P397_3
{
left:24254px;bottom:1410.03px;color:rgb(35,31,31);
}
#P397_4
{
left:24432px;bottom:1410.03px;letter-spacing:15.8px;color:rgb(35,31,31);
}
#P397_5
{
left:26633.2px;bottom:1410.03px;letter-spacing:462px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P397_6
{
left:0px;letter-spacing:4.9px;margin-left:-462.1px;
}
#P397_7
{
left:0px;letter-spacing:1.1px;margin-left:-0.7px;
}
#P397_8
{
left:0px;letter-spacing:-1.1px;margin-left:23.9px;
}
#P397_9
{
left:0px;letter-spacing:2.3px;margin-left:2.5px;
}
#P397_10
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P397_11
{
left:14072.5px;bottom:44778.2px;letter-spacing:-2.9px;color:rgb(35,31,31);
}
#P397_12
{
left:0px;letter-spacing:0px;margin-left:-35.8px;
}
#P397_13
{
left:17347px;bottom:44934.4px;color:rgb(35,31,31);
}
#P397_14
{
left:17542.7px;bottom:44778.2px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P397_15
{
left:22121.6px;bottom:44934.4px;color:rgb(35,31,31);
}
#P397_16
{
left:22317.3px;bottom:44778.2px;color:rgb(35,31,31);
}
#P397_17
{
left:14072.5px;bottom:43670.4px;color:rgb(35,31,31);
}
#P397_18
{
left:14677.9px;bottom:43670.4px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P397_19
{
left:20779.5px;bottom:43670.4px;letter-spacing:-2.2px;color:rgb(35,31,31);
}
#P397_20
{
left:0px;letter-spacing:-0.3px;margin-left:-4.7px;
}
#P397_21
{
left:18239.1px;bottom:39106.7px;color:rgb(35,31,31);
}
#P397_22
{
left:0px;letter-spacing:0px;margin-left:5547.1px;
}
#P397_23
{
left:29078.3px;bottom:37464.3px;color:rgb(0,124,196);
}
#P397_24
{
left:0px;letter-spacing:0px;margin-left:2148.9px;
}
#P397_25
{
left:30542.1px;bottom:39852.3px;color:rgb(0,124,196);
}
#P397_26
{
left:30138.1px;bottom:38596.8px;color:rgb(237,28,35);
}
#P397_27
{
left:17631.4px;bottom:36865.8px;color:rgb(237,28,35);
}
#P397_28
{
left:7710.81px;bottom:32674.8px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P397_29
{
left:14579.1px;bottom:32699.4px;color:white;
}
#P397_30
{
left:14994.6px;bottom:32891.2px;color:white;
}
#P397_31
{
left:15234.8px;bottom:32699.4px;color:white;
}
#P397_32
{
left:16211.2px;bottom:32891.2px;color:white;
}
#P397_33
{
left:16451.4px;bottom:32699.4px;letter-spacing:-2.1px;color:white;
}
#P397_34
{
left:0px;letter-spacing:-1.9px;margin-left:2.1px;
}
#P397_35
{
left:0px;letter-spacing:-47.4px;margin-left:-30px;
}
#P397_36
{
left:26712.7px;bottom:32891.2px;color:white;
}
#P397_37
{
left:26952.9px;bottom:32699.4px;letter-spacing:-1.3px;color:white;
}
#P397_38
{
left:32572.5px;bottom:32891.2px;color:white;
}
#P397_39
{
left:32812.7px;bottom:32699.4px;color:white;
}
#P397_40
{
left:12734.7px;bottom:32532.2px;
}
#P397_41
{
left:12734.7px;bottom:32532.2px;color:white;
}
#P397_42
{
left:13614.1px;bottom:31069.9px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P397_43
{
left:0px;letter-spacing:0.3px;margin-left:-13.4px;
}
#P397_44
{
left:0px;letter-spacing:0px;margin-left:-10.8px;
}
#P397_45
{
left:13614.1px;bottom:29917.9px;color:rgb(35,31,31);
}
#P397_46
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P397_47
{
left:0px;letter-spacing:0px;margin-left:-214.8px;
}
#P397_48
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P397_49
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P397_50
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P397_51
{
left:13678.1px;bottom:20189.8px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P397_52
{
left:0px;letter-spacing:-0.9px;margin-left:0.9px;
}
#P397_53
{
left:13771.2px;bottom:18645.8px;letter-spacing:-1.9px;color:rgb(35,31,31);
}
#P397_54
{
left:14239.7px;bottom:17749.8px;letter-spacing:-4.7px;color:rgb(35,31,31);
}
#P397_55
{
left:16238.1px;bottom:18141.8px;color:rgb(35,31,31);
}
#P397_56
{
left:16396.5px;bottom:18112.2px;color:rgb(35,31,31);
}
#P397_57
{
left:16982.9px;bottom:18141.8px;color:rgb(35,31,31);
}
#P397_58
{
left:17308.2px;bottom:18645.9px;letter-spacing:-1.7px;color:rgb(35,31,31);
}
#P397_59
{
left:17237.6px;bottom:17749.9px;color:rgb(35,31,31);
}
#P397_60
{
left:19701.2px;bottom:18141.9px;color:rgb(35,31,31);
}
#P397_61
{
left:19859.6px;bottom:18112.4px;color:rgb(35,31,31);
}
#P397_62
{
left:20446px;bottom:18141.9px;color:rgb(35,31,31);
}
#P397_63
{
left:20771.4px;bottom:18645.9px;letter-spacing:-1.7px;color:rgb(35,31,31);
}
#P397_64
{
left:20973.9px;bottom:17749.9px;color:rgb(35,31,31);
}
#P397_65
{
left:23164.4px;bottom:18141.9px;color:rgb(35,31,31);
}
#P397_66
{
left:23322.8px;bottom:18112.4px;color:rgb(35,31,31);
}
#P397_67
{
left:23909.2px;bottom:18141.9px;color:rgb(35,31,31);
}
#P397_68
{
left:24234.6px;bottom:18645.9px;letter-spacing:-1.7px;color:rgb(35,31,31);
}
#P397_69
{
left:24437.1px;bottom:17749.9px;color:rgb(35,31,31);
}
#P397_70
{
left:26627.6px;bottom:18141.9px;color:rgb(35,31,31);
}
#P397_71
{
left:26786px;bottom:18112.4px;color:rgb(35,31,31);
}
#P397_72
{
left:27372.4px;bottom:18141.9px;color:rgb(35,31,31);
}
#P397_73
{
left:27697.9px;bottom:18645.9px;letter-spacing:-1.7px;color:rgb(35,31,31);
}
#P397_74
{
left:27900.3px;bottom:17749.9px;color:rgb(35,31,31);
}
#P397_75
{
left:13678.1px;bottom:16221.9px;color:rgb(35,31,31);
}
#P397_76
{
left:14770.3px;bottom:16221.9px;color:rgb(35,31,31);
}
#P397_77
{
left:15145.6px;bottom:16221.9px;letter-spacing:934px;color:rgb(35,31,31);
}
#P397_78
{
left:16396.4px;bottom:16192.4px;color:rgb(35,31,31);
}
#P397_79
{
left:16982.8px;bottom:16221.9px;color:rgb(35,31,31);
}
#P397_80
{
left:17697.1px;bottom:16221.9px;color:rgb(235,26,35);
}
#P397_81
{
left:19003px;bottom:16221.9px;letter-spacing:544.3px;color:rgb(35,31,31);
}
#P397_82
{
left:19864.1px;bottom:16192.4px;color:rgb(35,31,31);
}
#P397_83
{
left:20450.5px;bottom:16221.9px;color:rgb(35,31,31);
}
#P397_84
{
left:21497px;bottom:16221.9px;color:rgb(0,124,196);
}
#P397_85
{
left:22243.2px;bottom:16221.9px;letter-spacing:760px;color:rgb(35,31,31);
}
#P397_86
{
left:23320.1px;bottom:16192.4px;color:rgb(35,31,31);
}
#P397_87
{
left:23906.5px;bottom:16221.9px;color:rgb(35,31,31);
}
#P397_88
{
left:24953px;bottom:16221.9px;color:rgb(0,124,196);
}
#P397_89
{
left:25699.2px;bottom:16221.9px;letter-spacing:760px;color:rgb(35,31,31);
}
#P397_90
{
left:26776.1px;bottom:16192.4px;color:rgb(35,31,31);
}
#P397_91
{
left:27362.5px;bottom:16221.9px;color:rgb(35,31,31);
}
#P397_92
{
left:28473px;bottom:16221.9px;color:rgb(0,124,196);
}
#P397_93
{
left:13678.1px;bottom:14877.9px;letter-spacing:2401.6px;color:rgb(35,31,31);
}
#P397_94
{
left:16396.5px;bottom:14848.4px;color:rgb(35,31,31);
}
#P397_95
{
left:16982.9px;bottom:14877.9px;color:rgb(35,31,31);
}
#P397_96
{
left:14198.1px;bottom:13597.9px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P397_97
{
left:0px;letter-spacing:-9.3px;margin-left:-554px;
}
#P397_98
{
left:0px;letter-spacing:-0.3px;margin-left:9.3px;
}
#P397_99
{
left:0px;letter-spacing:0px;margin-left:-13.7px;
}
#P397_100
{
left:13885.4px;bottom:9725.93px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P397_101
{
left:0px;letter-spacing:0.3px;margin-left:-13.4px;
}
#P397_102
{
left:0px;letter-spacing:0px;margin-left:-10.8px;
}
#P397_103
{
left:14349px;bottom:8600.75px;color:rgb(35,31,31);
}
#P397_104
{
left:18446.9px;bottom:4146.54px;color:rgb(0,145,68);
}
#P397_105
{
left:18835.7px;bottom:6720.68px;color:rgb(0,145,68);
}
#P397_106
{
left:15747.7px;bottom:7936.62px;color:rgb(237,28,35);
}
#P397_107
{
left:20729.2px;bottom:8573.93px;color:rgb(35,31,31);
}
#P397_108
{
left:21901px;bottom:8600.75px;color:rgb(35,31,31);
}
#P397_109
{
left:27244.1px;bottom:7985.39px;color:rgb(149,144,89);
}
#P397_110
{
left:23698.8px;bottom:8407.6px;color:rgb(237,28,35);
}
#P397_111
{
left:26908.3px;bottom:4682.6px;color:rgb(149,144,89);
}
#P397_112
{
left:29393.9px;bottom:8573.93px;color:rgb(35,31,31);
}
#P397_113
{
left:29581px;bottom:8600.75px;color:rgb(35,31,31);
}
#P397_114
{
left:35523.5px;bottom:5113.39px;color:rgb(218,91,107);
}
#P397_115
{
left:35139.3px;bottom:8073.45px;color:rgb(218,91,107);
}
#P397_116
{
left:31428.1px;bottom:8355.12px;color:rgb(237,28,35);
}
#P397_117
{
left:13643.4px;bottom:28233.3px;word-spacing:9.9px;color:rgb(235,26,35);
}
#P397_118
{
left:0px;letter-spacing:0px;margin-left:-4.2px;
}
#P397_119
{
left:17016.3px;bottom:28672.9px;color:rgb(235,26,35);
}
#P397_120
{
left:17352.1px;bottom:28250.9px;color:rgb(235,26,35);
}
#P397_121
{
left:16995.2px;bottom:28217.2px;color:rgb(235,26,35);
}
#P397_122
{
left:17373.2px;bottom:28234.5px;color:rgb(235,26,35);
}
#P397_123
{
left:17016.3px;bottom:27765.4px;color:rgb(235,26,35);
}
#P397_124
{
left:17352.1px;bottom:28250.9px;color:rgb(235,26,35);
}
#P397_125
{
left:17373.2px;bottom:28233.3px;letter-spacing:-158.4px;color:rgb(235,26,35);
}
#P397_126
{
left:17478.5px;bottom:27794.7px;color:rgb(235,26,35);
}
#P397_127
{
left:17988.4px;bottom:28233.3px;letter-spacing:-0.1px;word-spacing:-0.1px;color:rgb(235,26,35);
}
#P397_128
{
left:18466.8px;bottom:27794.7px;color:rgb(235,26,35);
}
#P397_129
{
left:18976.7px;bottom:28233.3px;letter-spacing:-0.1px;word-spacing:-0.1px;color:rgb(235,26,35);
}
#P397_130
{
left:20067.6px;bottom:28203.7px;color:rgb(235,26,35);
}
#P397_131
{
left:20812.2px;bottom:28233.3px;letter-spacing:-0.1px;word-spacing:-0.1px;color:rgb(235,26,35);
}
#P397_132
{
left:14686px;bottom:26377.3px;word-spacing:1052.4px;color:rgb(0,124,196);
}
#P397_133
{
left:0px;letter-spacing:0px;margin-left:-13.9px;
}
#P397_134
{
left:17016.3px;bottom:26816.9px;color:rgb(0,124,196);
}
#P397_135
{
left:17352.1px;bottom:26394.9px;color:rgb(0,124,196);
}
#P397_136
{
left:16995.2px;bottom:26361.2px;color:rgb(0,124,196);
}
#P397_137
{
left:17373.2px;bottom:26378.5px;color:rgb(0,124,196);
}
#P397_138
{
left:17016.3px;bottom:25909.4px;color:rgb(0,124,196);
}
#P397_139
{
left:17352.1px;bottom:26394.9px;color:rgb(0,124,196);
}
#P397_140
{
left:17373.2px;bottom:26377.3px;letter-spacing:-158.4px;color:rgb(0,124,196);
}
#P397_141
{
left:17478.7px;bottom:25938.7px;color:rgb(0,124,196);
}
#P397_142
{
left:17830.6px;bottom:26377.3px;color:rgb(0,124,196);
}
#P397_143
{
left:18467.7px;bottom:25938.7px;color:rgb(0,124,196);
}
#P397_144
{
left:18819.4px;bottom:26377.3px;color:rgb(0,124,196);
}
#P397_145
{
left:19509.3px;bottom:26347.7px;color:rgb(0,124,196);
}
#P397_146
{
left:20095.8px;bottom:26377.3px;color:rgb(0,124,196);
}
#P397_147
{
left:14686px;bottom:24521.3px;word-spacing:1052.4px;color:rgb(0,124,196);
}
#P397_148
{
left:0px;letter-spacing:0px;margin-left:-13.9px;
}
#P397_149
{
left:17016.3px;bottom:24960.9px;color:rgb(0,124,196);
}
#P397_150
{
left:17352.1px;bottom:24538.9px;color:rgb(0,124,196);
}
#P397_151
{
left:16995.2px;bottom:24505.2px;color:rgb(0,124,196);
}
#P397_152
{
left:17373.2px;bottom:24522.5px;color:rgb(0,124,196);
}
#P397_153
{
left:17016.3px;bottom:24053.4px;color:rgb(0,124,196);
}
#P397_154
{
left:17352.1px;bottom:24538.9px;color:rgb(0,124,196);
}
#P397_155
{
left:17373.2px;bottom:24521.3px;letter-spacing:-158.4px;color:rgb(0,124,196);
}
#P397_156
{
left:17478.7px;bottom:24082.7px;color:rgb(0,124,196);
}
#P397_157
{
left:17830.6px;bottom:24521.3px;color:rgb(0,124,196);
}
#P397_158
{
left:18467.7px;bottom:24082.7px;color:rgb(0,124,196);
}
#P397_159
{
left:18819.4px;bottom:24521.3px;color:rgb(0,124,196);
}
#P397_160
{
left:19509.3px;bottom:24491.7px;color:rgb(0,124,196);
}
#P397_161
{
left:20095.8px;bottom:24521.3px;color:rgb(0,124,196);
}
#P397_162
{
left:14686px;bottom:22665.3px;word-spacing:1052.4px;color:rgb(0,124,196);
}
#P397_163
{
left:0px;letter-spacing:0px;margin-left:-13.9px;
}
#P397_164
{
left:17016.2px;bottom:23104.9px;color:rgb(0,124,196);
}
#P397_165
{
left:17352px;bottom:22682.9px;color:rgb(0,124,196);
}
#P397_166
{
left:16995.1px;bottom:22649.2px;color:rgb(0,124,196);
}
#P397_167
{
left:17373.1px;bottom:22666.5px;color:rgb(0,124,196);
}
#P397_168
{
left:17016.2px;bottom:22197.4px;color:rgb(0,124,196);
}
#P397_169
{
left:17352px;bottom:22682.9px;color:rgb(0,124,196);
}
#P397_170
{
left:17373.1px;bottom:22665.3px;letter-spacing:-158.4px;color:rgb(0,124,196);
}
#P397_171
{
left:17478.7px;bottom:22226.7px;color:rgb(0,124,196);
}
#P397_172
{
left:17830.6px;bottom:22665.3px;color:rgb(0,124,196);
}
#P397_173
{
left:18467.7px;bottom:22226.7px;color:rgb(0,124,196);
}
#P397_174
{
left:18819.4px;bottom:22665.3px;color:rgb(0,124,196);
}
#P397_175
{
left:19509.3px;bottom:22635.7px;color:rgb(0,124,196);
}
#P397_176
{
left:20095.8px;bottom:22665.3px;color:rgb(0,124,196);
}
#P397_177
{
left:7965.4px;bottom:8860.78px;color:rgb(35,31,31);
}
#P397_178
{
left:4818.71px;bottom:40412.8px;color:white;
}
#P397_179
{
left:8174.36px;bottom:40654.4px;color:white;
}
#P397_180
{
left:8510.23px;bottom:40412.8px;color:white;
}
#P397_181
{
left:5053.4px;bottom:39309.8px;color:rgb(35,31,31);
}
#P397_182
{
left:5053.4px;bottom:38541.8px;color:rgb(35,31,31);
}
#P397_183
{
left:5053.4px;bottom:37773.8px;color:rgb(35,31,31);
}
#P397_184
{
left:5053.4px;bottom:37005.8px;color:rgb(35,31,31);
}
#P397_185
{
left:10358px;bottom:26031.3px;color:rgb(35,31,31);
}
#P397_186
{
left:9053.91px;bottom:23377.7px;color:rgb(35,31,31);
}
#P397_187
{
left:5943.32px;bottom:28040.2px;color:rgb(237,28,35);
}
#P397_188
{
left:29501.5px;bottom:21523.1px;color:rgb(237,28,35);
}
#P397_189
{
left:33196.6px;bottom:27427.1px;color:rgb(35,31,31);
}
#P397_190
{
left:32479.1px;bottom:24012.8px;color:rgb(35,31,31);
}
#PageContainer397
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg397.jpg");background-repeat:no-repeat;background-size: 901px 1204px; background-position: 120.34px 69.3299999999999px;
}
#ImageContainer397 {bottom:90.67px;left:120.34px;width:900.65px;height:1204.25px;position:absolute;} #TextContainer397 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.example2{   position: absolute;   top: 446px;   left: 159px;}
.nyr{position: absolute;top: 1068px;left: 186px;}
.nyr_exr{position: absolute;top: 1108px;left: 228px;color:rgb(35,31,31);font-size:16px;white-space:pre;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}