.tr682{ color:transparent;}
#P682_1
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P682_2
{
left:3540.44px;bottom:1410.03px;color:rgb(35,31,31);
}
#P682_3
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P682_4
{
left:8197.72px;bottom:1410.03px;letter-spacing:462.1px;color:rgb(35,31,31);
}
#P682_5
{
left:0px;letter-spacing:3.5px;margin-left:-461.2px;
}
#P682_6
{
left:9277.08px;bottom:35932.8px;letter-spacing:-21.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P682_7
{
left:0px;letter-spacing:0.3px;margin-left:14.1px;
}
#P682_8
{
left:0px;letter-spacing:-14px;margin-left:-42.4px;
}
#P682_9
{
left:0px;letter-spacing:-0.7px;margin-left:13.9px;
}
#P682_10
{
left:0px;letter-spacing:-3.6px;margin-left:0.7px;
}
#P682_11
{
left:0px;letter-spacing:-0.1px;margin-left:3.5px;
}
#P682_12
{
left:9277.08px;bottom:35036.8px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P682_13
{
left:0px;letter-spacing:0px;margin-left:-13px;
}
#P682_14
{
left:0px;letter-spacing:-14px;margin-left:-28px;
}
#P682_15
{
left:0px;letter-spacing:0px;margin-left:14px;
}
#P682_16
{
left:0px;letter-spacing:0px;margin-left:-225.1px;
}
#P682_17
{
left:0px;letter-spacing:0px;margin-left:77.1px;
}
#P682_18
{
left:0px;letter-spacing:-0.8px;
}
#P682_19
{
left:0px;letter-spacing:0px;margin-left:-41.3px;
}
#P682_20
{
left:9277.08px;bottom:33564.8px;color:rgb(35,31,31);
}
#P682_21
{
left:15101.1px;bottom:33564.8px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P682_22
{
left:16061px;bottom:33564.8px;color:rgb(35,31,31);
}
#P682_23
{
left:0px;letter-spacing:0px;margin-left:545.6px;
}
#P682_24
{
left:0px;letter-spacing:0px;margin-left:545.6px;
}
#P682_25
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P682_26
{
left:22110.9px;bottom:34004.5px;color:rgb(35,31,31);
}
#P682_27
{
left:22446.7px;bottom:33582.4px;color:rgb(35,31,31);
}
#P682_28
{
left:21921.8px;bottom:33548.8px;color:rgb(35,31,31);
}
#P682_29
{
left:22635.7px;bottom:33566px;color:rgb(35,31,31);
}
#P682_30
{
left:21942.9px;bottom:33096.9px;color:rgb(35,31,31);
}
#P682_31
{
left:22614.6px;bottom:33582.4px;color:rgb(35,31,31);
}
#P682_32
{
left:22635.7px;bottom:33564.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P682_33
{
left:0px;letter-spacing:0px;margin-left:158.4px;
}
#P682_34
{
left:9277.08px;bottom:30172.8px;color:rgb(35,31,31);
}
#P682_35
{
left:15101px;bottom:30172.8px;letter-spacing:-17.4px;color:rgb(35,31,31);
}
#P682_36
{
left:16061px;bottom:30172.8px;color:rgb(35,31,31);
}
#P682_37
{
left:20106.1px;bottom:30172.8px;word-spacing:545.6px;color:rgb(35,31,31);
}
#P682_38
{
left:23332.6px;bottom:30612.5px;color:rgb(35,31,31);
}
#P682_39
{
left:23668.4px;bottom:30190.4px;color:rgb(35,31,31);
}
#P682_40
{
left:23311.5px;bottom:30156.8px;color:rgb(35,31,31);
}
#P682_41
{
left:23689.6px;bottom:30174px;color:rgb(35,31,31);
}
#P682_42
{
left:23332.6px;bottom:29704.9px;color:rgb(35,31,31);
}
#P682_43
{
left:23668.4px;bottom:30190.4px;color:rgb(35,31,31);
}
#P682_44
{
left:23689.6px;bottom:30172.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P682_45
{
left:0px;letter-spacing:0px;margin-left:158.4px;
}
#P682_46
{
left:26428.8px;bottom:30172.8px;word-spacing:56.3px;color:rgb(35,31,31);
}
#P682_47
{
left:9277.08px;bottom:26780.8px;color:rgb(35,31,31);
}
#P682_48
{
left:15101px;bottom:26780.8px;word-spacing:295.3px;color:rgb(35,31,31);
}
#P682_49
{
left:16071.6px;bottom:27220.5px;color:rgb(35,31,31);
}
#P682_50
{
left:16407.4px;bottom:26798.4px;color:rgb(35,31,31);
}
#P682_51
{
left:16050.5px;bottom:26764.8px;color:rgb(35,31,31);
}
#P682_52
{
left:16428.6px;bottom:26782px;color:rgb(35,31,31);
}
#P682_53
{
left:16071.6px;bottom:26312.9px;color:rgb(35,31,31);
}
#P682_54
{
left:16407.4px;bottom:26798.4px;color:rgb(35,31,31);
}
#P682_55
{
left:16428.6px;bottom:26780.8px;word-spacing:545.6px;color:rgb(35,31,31);
}
#P682_56
{
left:0px;letter-spacing:0px;margin-left:-545.6px;
}
#P682_57
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P682_58
{
left:0px;letter-spacing:0px;margin-left:-545.6px;
}
#P682_59
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P682_60
{
left:9277.08px;bottom:23388.8px;color:rgb(35,31,31);
}
#P682_61
{
left:15101px;bottom:23388.8px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P682_62
{
left:16061px;bottom:23388.8px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P682_63
{
left:16916.4px;bottom:23828.5px;color:rgb(35,31,31);
}
#P682_64
{
left:17252.2px;bottom:23406.4px;color:rgb(35,31,31);
}
#P682_65
{
left:16895.3px;bottom:23372.8px;color:rgb(35,31,31);
}
#P682_66
{
left:17273.4px;bottom:23390px;color:rgb(35,31,31);
}
#P682_67
{
left:16916.4px;bottom:22920.9px;color:rgb(35,31,31);
}
#P682_68
{
left:17252.2px;bottom:23406.4px;color:rgb(35,31,31);
}
#P682_69
{
left:17431.8px;bottom:23388.8px;word-spacing:545.6px;color:rgb(35,31,31);
}
#P682_70
{
left:0px;letter-spacing:0px;margin-left:-545.6px;
}
#P682_71
{
left:9277.08px;bottom:19996.8px;color:rgb(35,31,31);
}
#P682_72
{
left:15101px;bottom:19996.8px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P682_73
{
left:16061px;bottom:19996.8px;color:rgb(35,31,31);
}
#P682_74
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P682_75
{
left:0px;letter-spacing:0px;margin-left:545.6px;
}
#P682_76
{
left:0px;letter-spacing:0px;margin-left:545.6px;
}
#P682_77
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P682_78
{
left:22660.5px;bottom:20436.5px;color:rgb(35,31,31);
}
#P682_79
{
left:22996.3px;bottom:20014.4px;color:rgb(35,31,31);
}
#P682_80
{
left:22639.4px;bottom:19980.8px;color:rgb(35,31,31);
}
#P682_81
{
left:23017.4px;bottom:19998px;color:rgb(35,31,31);
}
#P682_82
{
left:22660.5px;bottom:19528.9px;color:rgb(35,31,31);
}
#P682_83
{
left:22996.3px;bottom:20014.4px;color:rgb(35,31,31);
}
#P682_84
{
left:23017.4px;bottom:19996.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P682_85
{
left:0px;letter-spacing:-1.6px;margin-left:158.4px;
}
#P682_86
{
left:9277.08px;bottom:16604.8px;color:rgb(35,31,31);
}
#P682_87
{
left:15101.1px;bottom:16604.8px;letter-spacing:-17.4px;color:rgb(35,31,31);
}
#P682_88
{
left:16061.1px;bottom:16604.8px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P682_89
{
left:16543.3px;bottom:17044.5px;color:rgb(35,31,31);
}
#P682_90
{
left:16879.1px;bottom:16622.4px;color:rgb(35,31,31);
}
#P682_91
{
left:16522.2px;bottom:16588.8px;color:rgb(35,31,31);
}
#P682_92
{
left:16900.2px;bottom:16606px;color:rgb(35,31,31);
}
#P682_93
{
left:16543.3px;bottom:16136.9px;color:rgb(35,31,31);
}
#P682_94
{
left:16879.1px;bottom:16622.4px;color:rgb(35,31,31);
}
#P682_95
{
left:17058.6px;bottom:16604.8px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P682_96
{
left:17488.1px;bottom:16604.8px;word-spacing:545.6px;color:rgb(35,31,31);
}
#P682_97
{
left:0px;letter-spacing:0px;margin-left:-545.6px;
}
#P682_98
{
left:0px;letter-spacing:0px;margin-left:-545.6px;
}
#P682_99
{
left:24594.2px;bottom:16604.8px;word-spacing:56.3px;color:rgb(35,31,31);
}
#P682_100
{
left:0px;letter-spacing:0px;margin-left:-56.3px;
}
#P682_101
{
left:10155.3px;bottom:37493px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P682_102
{
left:13580.4px;bottom:37684.8px;color:rgb(255,223,126);
}
#P682_103
{
left:14205.1px;bottom:37493px;word-spacing:207.4px;color:white;
}
#P682_104
{
left:15117.5px;bottom:37684.8px;color:white;
}
#P682_105
{
left:15357.7px;bottom:37493px;letter-spacing:-2.2px;color:white;
}
#P682_106
{
left:18478.6px;bottom:37684.8px;color:white;
}
#P682_107
{
left:18718.8px;bottom:37493px;letter-spacing:-8px;color:white;
}
#P682_108
{
left:0px;letter-spacing:0px;margin-left:8px;
}
#P682_109
{
left:21904.5px;bottom:37684.8px;color:white;
}
#P682_110
{
left:22144.7px;bottom:37493px;letter-spacing:-6.4px;color:white;
}
#P682_111
{
left:0px;letter-spacing:-4.4px;margin-left:6.4px;
}
#P682_112
{
left:0px;letter-spacing:0px;margin-left:4.4px;
}
#P682_113
{
left:8414.87px;bottom:37369.5px;color:white;
}
#P682_114
{
left:6977.56px;bottom:46940.1px;color:white;
}
#P682_115
{
left:11657.4px;bottom:47238.4px;color:white;
}
#P682_116
{
left:12031px;bottom:46940.1px;letter-spacing:-1.2px;color:white;
}
#P682_117
{
left:19935.3px;bottom:47238.4px;color:white;
}
#P682_118
{
left:20309px;bottom:46940.1px;letter-spacing:-3.4px;color:white;
}
#P682_119
{
left:25163.7px;bottom:47238.4px;color:white;
}
#P682_120
{
left:25537.4px;bottom:46940.1px;letter-spacing:-12.4px;color:white;
}
#P682_121
{
left:6977.43px;bottom:45327.3px;color:white;
}
#P682_122
{
left:9192.35px;bottom:45625.6px;color:white;
}
#P682_123
{
left:9565.98px;bottom:45327.3px;letter-spacing:-9.9px;color:white;
}
#P682_124
{
left:0px;letter-spacing:-6.8px;margin-left:9.9px;
}
#P682_125
{
left:0px;letter-spacing:0px;margin-left:6.8px;
}
#P682_126
{
left:3459.64px;bottom:46161.9px;color:white;
}
#P682_127
{
left:18900.5px;bottom:41066.2px;letter-spacing:213.2px;color:rgb(35,31,31);
}
#P682_128
{
left:0px;letter-spacing:0px;margin-left:-213.2px;
}
#P682_129
{
left:7789.4px;bottom:39978.2px;color:rgb(35,31,31);
}
#P682_130
{
left:9206.68px;bottom:11676.8px;letter-spacing:-21px;color:rgb(35,31,31);
}
#P682_131
{
left:0px;letter-spacing:-0.4px;margin-left:14.1px;
}
#P682_132
{
left:0px;letter-spacing:-1.7px;margin-left:0.4px;
}
#P682_133
{
left:0px;letter-spacing:0px;margin-left:1.7px;
}
#P682_134
{
left:9206.68px;bottom:9884.72px;color:rgb(35,31,31);
}
#P682_135
{
left:0px;letter-spacing:0px;margin-left:1219.2px;
}
#P682_136
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P682_137
{
left:10763.8px;bottom:10324.5px;color:rgb(35,31,31);
}
#P682_138
{
left:11099.6px;bottom:9902.38px;color:rgb(35,31,31);
}
#P682_139
{
left:10742.7px;bottom:9868.77px;color:rgb(35,31,31);
}
#P682_140
{
left:11120.7px;bottom:9886.05px;color:rgb(35,31,31);
}
#P682_141
{
left:10763.8px;bottom:9416.94px;color:rgb(35,31,31);
}
#P682_142
{
left:11099.6px;bottom:9902.38px;color:rgb(35,31,31);
}
#P682_143
{
left:12662.7px;bottom:9884.78px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P682_144
{
left:15539.7px;bottom:10324.5px;color:rgb(35,31,31);
}
#P682_145
{
left:15875.5px;bottom:9902.38px;color:rgb(35,31,31);
}
#P682_146
{
left:15350.7px;bottom:9868.77px;color:rgb(35,31,31);
}
#P682_147
{
left:16064.5px;bottom:9886.05px;color:rgb(35,31,31);
}
#P682_148
{
left:15371.8px;bottom:9416.94px;color:rgb(35,31,31);
}
#P682_149
{
left:16043.4px;bottom:9902.38px;color:rgb(35,31,31);
}
#P682_150
{
left:17526.7px;bottom:9884.78px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P682_151
{
left:0px;letter-spacing:0px;margin-left:1265px;
}
#P682_152
{
left:0px;letter-spacing:0px;margin-left:1318.1px;
}
#P682_153
{
left:0px;letter-spacing:0px;margin-left:1223.8px;
}
#P682_154
{
left:0px;letter-spacing:0px;margin-left:1340.9px;
}
#P682_155
{
left:30283.8px;bottom:10324.5px;color:rgb(35,31,31);
}
#P682_156
{
left:30619.6px;bottom:9902.38px;color:rgb(35,31,31);
}
#P682_157
{
left:30262.7px;bottom:9868.77px;color:rgb(35,31,31);
}
#P682_158
{
left:30640.7px;bottom:9886.05px;color:rgb(35,31,31);
}
#P682_159
{
left:30283.8px;bottom:9416.94px;color:rgb(35,31,31);
}
#P682_160
{
left:30619.6px;bottom:9902.38px;color:rgb(35,31,31);
}
#P682_161
{
left:30640.7px;bottom:9884.78px;color:rgb(35,31,31);
}
#P682_162
{
left:9206.68px;bottom:7836.78px;color:rgb(35,31,31);
}
#P682_163
{
left:9334.68px;bottom:7836.78px;letter-spacing:-14px;word-spacing:516.1px;color:rgb(35,31,31);
}
#P682_164
{
left:10550.7px;bottom:7836.78px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P682_165
{
left:0px;letter-spacing:-0.5px;margin-left:0.9px;
}
#P682_166
{
left:0px;letter-spacing:-6.9px;margin-left:-41.6px;
}
#P682_167
{
left:0px;letter-spacing:0.1px;margin-left:6.9px;
}
#P682_168
{
left:10550.7px;bottom:6940.78px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P682_169
{
left:0px;letter-spacing:-1.7px;margin-left:-6.3px;
}
#P682_170
{
left:0px;letter-spacing:0px;margin-left:1.7px;
}
#P682_171
{
left:9206.68px;bottom:5852.78px;color:rgb(35,31,31);
}
#P682_172
{
left:9334.68px;bottom:5852.78px;letter-spacing:-13.9px;word-spacing:486.9px;color:rgb(35,31,31);
}
#P682_173
{
left:10550.7px;bottom:5852.78px;letter-spacing:-9.3px;color:rgb(35,31,31);
}
#P682_174
{
left:0px;letter-spacing:-0.7px;margin-left:9.3px;
}
#P682_175
{
left:0px;letter-spacing:-0.2px;margin-left:0.7px;
}
#P682_176
{
left:10550.7px;bottom:4956.78px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P682_177
{
left:0px;letter-spacing:0px;margin-left:-20.3px;
}
#P682_178
{
left:0px;letter-spacing:0px;
}
#P682_179
{
left:0px;letter-spacing:0px;margin-left:-66.9px;
}
#P682_180
{
left:0px;letter-spacing:0px;
}
#P682_181
{
left:9206.68px;bottom:3868.75px;color:rgb(35,31,31);
}
#P682_182
{
left:9334.68px;bottom:3868.75px;color:rgb(35,31,31);
}
#P682_183
{
left:10084.9px;bottom:13237px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P682_184
{
left:13510px;bottom:13428.8px;color:rgb(255,223,126);
}
#P682_185
{
left:14133px;bottom:13237px;letter-spacing:-1.7px;word-spacing:207.4px;color:white;
}
#P682_186
{
left:16350.2px;bottom:13428.8px;color:white;
}
#P682_187
{
left:16590.4px;bottom:13237px;letter-spacing:-0.9px;color:white;
}
#P682_188
{
left:8344.47px;bottom:13113.5px;
}
#P682_189
{
left:8344.47px;bottom:13113.5px;color:white;
}
#P682_190
{
left:4375px;bottom:13888.5px;color:rgb(35,31,31);
}
#P682_191
{
left:4748.06px;bottom:13916.9px;letter-spacing:-10.2px;color:rgb(35,31,31);
}
#P682_192
{
left:6765.53px;bottom:13888.5px;color:rgb(35,31,31);
}
#P682_193
{
left:4374.94px;bottom:13184.5px;letter-spacing:-14.1px;color:rgb(35,31,31);
}
#P682_194
{
left:5085.98px;bottom:13212.9px;letter-spacing:-10.4px;color:rgb(35,31,31);
}
#P682_195
{
left:2438.99px;bottom:12316px;letter-spacing:1.8px;word-spacing:-4.8px;color:rgb(35,31,31);
}
#P682_196
{
left:0px;letter-spacing:1.8px;margin-left:3.4px;
}
#P682_197
{
left:0px;letter-spacing:2.4px;margin-left:1.6px;
}
#P682_198
{
left:2438.99px;bottom:11676px;letter-spacing:1.5px;word-spacing:-9.2px;color:rgb(35,31,31);
}
#P682_199
{
left:0px;letter-spacing:0px;margin-left:7.4px;
}
#P682_200
{
left:2438.99px;bottom:10892.7px;letter-spacing:-3.3px;word-spacing:-0.7px;color:rgb(35,31,31);
}
#P682_201
{
left:0px;letter-spacing:-0.3px;margin-left:2.4px;
}
#P682_202
{
left:0px;letter-spacing:-3.1px;margin-left:-4.5px;
}
#P682_203
{
left:2438.99px;bottom:10271px;color:rgb(35,31,31);
}
#P682_204
{
left:2688.9px;bottom:10052.8px;color:rgb(35,31,31);
}
#P682_205
{
left:3033.86px;bottom:10092.8px;letter-spacing:-124.6px;word-spacing:-5.9px;color:rgb(35,31,31);
}
#P682_206
{
left:0px;letter-spacing:-0.3px;margin-left:125.1px;
}
#P682_207
{
left:3033.86px;bottom:9452.78px;letter-spacing:1.6px;word-spacing:-9.3px;color:rgb(35,31,31);
}
#P682_208
{
left:0px;letter-spacing:1.4px;margin-left:-1px;
}
#P682_209
{
left:0px;letter-spacing:-1px;margin-left:-3.7px;
}
#P682_210
{
left:3033.86px;bottom:8812.78px;letter-spacing:0.2px;word-spacing:-4.8px;color:rgb(35,31,31);
}
#P682_211
{
left:0px;letter-spacing:0px;margin-left:3px;
}
#P682_212
{
left:2438.99px;bottom:8319.02px;color:rgb(35,31,31);
}
#P682_213
{
left:2688.9px;bottom:8100.78px;letter-spacing:186.6px;color:rgb(35,31,31);
}
#P682_214
{
left:3033.86px;bottom:8140.78px;letter-spacing:-0.5px;word-spacing:-7.3px;color:rgb(35,31,31);
}
#P682_215
{
left:0px;letter-spacing:-0.8px;margin-left:-0.8px;
}
#P682_216
{
left:3033.86px;bottom:7500.78px;letter-spacing:1px;color:rgb(35,31,31);
}
#P682_217
{
left:2439px;bottom:6732.72px;letter-spacing:-1.4px;word-spacing:-5.4px;color:rgb(35,31,31);
}
#P682_218
{
left:0px;letter-spacing:-0.1px;margin-left:8.7px;
}
#P682_219
{
left:2439px;bottom:6092.65px;letter-spacing:-18.4px;color:rgb(35,31,31);
}
#P682_220
{
left:0px;letter-spacing:3.7px;margin-left:13.9px;
}
#PageContainer682
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg682.jpg");background-repeat:no-repeat;background-size: 1066px 1264px; background-position: 1px -0.5px;
}
#ImageContainer682 {bottom:100.50px;right:0.00px;width:1066.24px;height:1263.66px;position:absolute;} #TextContainer682 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.rpj{position: absolute;top: 218px;left: 158px;}
.srpj{position: absolute;top: 218px;left: 109px;}
.math_tool{position: absolute;top: 312px;left: 160px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}