.tr136{ color:transparent;}
#P136_1
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P136_2
{
left:3540.44px;bottom:1410.03px;color:rgb(35,31,31);
}
#P136_3
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P136_4
{
left:7841.88px;bottom:1410.03px;letter-spacing:462.1px;color:rgb(35,31,31);
}
#P136_5
{
left:0px;letter-spacing:1.2px;margin-left:-457.8px;
}
#P136_6
{
left:0px;letter-spacing:4.1px;margin-left:9.5px;
}
#P136_7
{
left:0px;letter-spacing:2.1px;margin-left:-0.2px;
}
#P136_8
{
left:0px;letter-spacing:6.5px;margin-left:2.6px;
}
#P136_9
{
left:0px;letter-spacing:0px;margin-left:2.5px;
}
#P136_10
{
left:6945.5px;bottom:46119.2px;letter-spacing:-4px;color:white;
}
#P136_11
{
left:11675.3px;bottom:46417.6px;color:white;
}
#P136_12
{
left:12048.9px;bottom:46119.2px;letter-spacing:-3px;color:white;
}
#P136_13
{
left:17527.3px;bottom:46417.6px;color:white;
}
#P136_14
{
left:17901px;bottom:46119.2px;color:white;
}
#P136_15
{
left:3427.71px;bottom:46092.1px;color:white;
}
#P136_16
{
left:9272.86px;bottom:36162.7px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P136_17
{
left:0px;letter-spacing:0.4px;margin-left:14.1px;
}
#P136_18
{
left:0px;letter-spacing:0px;margin-left:-42.5px;
}
#P136_19
{
left:9272.86px;bottom:34882.7px;color:rgb(35,31,31);
}
#P136_20
{
left:9400.86px;bottom:34882.7px;letter-spacing:-14px;word-spacing:516.1px;color:rgb(35,31,31);
}
#P136_21
{
left:10616.9px;bottom:34882.7px;letter-spacing:-31.7px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P136_22
{
left:0px;letter-spacing:-1.2px;margin-left:188.8px;
}
#P136_23
{
left:0px;letter-spacing:-2.8px;margin-left:1.2px;
}
#P136_24
{
left:0px;letter-spacing:-63.2px;margin-left:-39.3px;
}
#P136_25
{
left:0px;letter-spacing:-1.1px;margin-left:63.2px;
}
#P136_26
{
left:0px;letter-spacing:-0.1px;margin-left:-41.1px;
}
#P136_27
{
left:0px;letter-spacing:-0.3px;
}
#P136_28
{
left:9272.86px;bottom:33794.6px;letter-spacing:-30.4px;color:rgb(35,31,31);
}
#P136_29
{
left:10616.9px;bottom:33940.2px;color:rgb(35,31,31);
}
#P136_30
{
left:11419.2px;bottom:33794.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P136_31
{
left:0px;letter-spacing:5.5px;margin-left:126.8px;
}
#P136_32
{
left:0px;letter-spacing:-1.9px;margin-left:-5.5px;
}
#P136_33
{
left:0px;letter-spacing:0px;margin-left:1.9px;
}
#P136_34
{
left:11419.2px;bottom:32898.7px;letter-spacing:-0.3px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P136_35
{
left:10616.9px;bottom:31956.2px;word-spacing:3.4px;color:rgb(35,31,31);
}
#P136_36
{
left:11419.2px;bottom:31810.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P136_37
{
left:0px;letter-spacing:-0.3px;margin-left:144.4px;
}
#P136_38
{
left:0px;letter-spacing:-0.7px;margin-left:0.3px;
}
#P136_39
{
left:0px;letter-spacing:-2.8px;margin-left:-13.2px;
}
#P136_40
{
left:0px;letter-spacing:-0.7px;margin-left:2.8px;
}
#P136_41
{
left:11419.2px;bottom:30914.7px;color:rgb(35,31,31);
}
#P136_42
{
left:10808.9px;bottom:23828.2px;word-spacing:1411.5px;color:rgb(35,31,31);
}
#P136_43
{
left:11611.2px;bottom:23682.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P136_44
{
left:0px;letter-spacing:5.5px;margin-left:126.8px;
}
#P136_45
{
left:0px;letter-spacing:-0.2px;margin-left:-5.5px;
}
#P136_46
{
left:0px;letter-spacing:0px;margin-left:-6.7px;
}
#P136_47
{
left:11611.2px;bottom:22786.7px;word-spacing:-42.1px;color:rgb(35,31,31);
}
#P136_48
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P136_49
{
left:0px;letter-spacing:0px;margin-left:-31.6px;
}
#P136_50
{
left:0px;letter-spacing:0px;margin-left:5.5px;
}
#P136_51
{
left:15608.6px;bottom:22757.1px;color:rgb(35,31,31);
}
#P136_52
{
left:16195px;bottom:22786.7px;color:rgb(35,31,31);
}
#P136_53
{
left:16540px;bottom:22757.1px;color:rgb(35,31,31);
}
#P136_54
{
left:17126.4px;bottom:22786.7px;color:rgb(35,31,31);
}
#P136_55
{
left:17471.4px;bottom:22757.1px;color:rgb(35,31,31);
}
#P136_56
{
left:18057.8px;bottom:22786.7px;color:rgb(35,31,31);
}
#P136_57
{
left:18402.7px;bottom:22757.1px;color:rgb(35,31,31);
}
#P136_58
{
left:18989.1px;bottom:22786.7px;color:rgb(35,31,31);
}
#P136_59
{
left:20717.5px;bottom:22757.1px;color:rgb(35,31,31);
}
#P136_60
{
left:21479.9px;bottom:22786.7px;color:rgb(35,31,31);
}
#P136_61
{
left:22909.7px;bottom:22786.7px;letter-spacing:-0.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P136_62
{
left:0px;letter-spacing:0px;margin-left:-42px;
}
#P136_63
{
left:10808.9px;bottom:15508.2px;word-spacing:1411.5px;color:rgb(35,31,31);
}
#P136_64
{
left:11611.2px;bottom:15362.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P136_65
{
left:0px;letter-spacing:-0.2px;margin-left:158.4px;
}
#P136_66
{
left:0px;letter-spacing:0px;margin-left:-13.7px;
}
#P136_67
{
left:0px;letter-spacing:12.5px;margin-left:-28px;
}
#P136_68
{
left:0px;letter-spacing:0px;margin-left:-12.5px;
}
#P136_69
{
left:11611.2px;bottom:14466.7px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P136_70
{
left:10808.9px;bottom:13140.2px;word-spacing:1411.5px;color:rgb(35,31,31);
}
#P136_71
{
left:11611.2px;bottom:12994.7px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P136_72
{
left:0px;letter-spacing:-0.5px;margin-left:141.6px;
}
#P136_73
{
left:0px;letter-spacing:-0.8px;margin-left:0.5px;
}
#P136_74
{
left:0px;letter-spacing:-3.5px;margin-left:-13.1px;
}
#P136_75
{
left:0px;letter-spacing:-0.7px;margin-left:3.5px;
}
#P136_76
{
left:12792.8px;bottom:11394.7px;word-spacing:1377.6px;color:rgb(35,31,31);
}
#P136_77
{
left:0px;letter-spacing:0px;margin-left:-1377.6px;
}
#P136_78
{
left:16833px;bottom:11365.1px;color:rgb(35,31,31);
}
#P136_79
{
left:17419.4px;bottom:11394.7px;letter-spacing:1536.1px;color:rgb(35,31,31);
}
#P136_80
{
left:19272.2px;bottom:11365.1px;color:rgb(35,31,31);
}
#P136_81
{
left:19858.6px;bottom:11394.7px;letter-spacing:1536px;color:rgb(35,31,31);
}
#P136_82
{
left:23992.9px;bottom:11402.7px;letter-spacing:-5px;color:rgb(0,124,196);
}
#P136_83
{
left:9272.86px;bottom:9730.67px;letter-spacing:1377.6px;color:rgb(35,31,31);
}
#P136_84
{
left:0px;letter-spacing:0px;margin-left:1280px;
}
#P136_85
{
left:0px;letter-spacing:0px;margin-left:2913.5px;
}
#P136_86
{
left:16855.2px;bottom:9701.1px;color:rgb(35,31,31);
}
#P136_87
{
left:17441.6px;bottom:9730.67px;letter-spacing:1536px;color:rgb(35,31,31);
}
#P136_88
{
left:23992.9px;bottom:9738.67px;letter-spacing:-1.7px;color:rgb(0,124,196);
}
#P136_89
{
left:0px;letter-spacing:0px;margin-left:-23.1px;
}
#P136_90
{
left:9272.86px;bottom:7554.67px;color:rgb(35,31,31);
}
#P136_91
{
left:11200.9px;bottom:7682.67px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P136_92
{
left:0px;letter-spacing:-9.3px;margin-left:-554px;
}
#P136_93
{
left:0px;letter-spacing:0px;margin-left:5.2px;
}
#P136_94
{
left:0px;letter-spacing:0px;margin-left:1606.3px;
}
#P136_95
{
left:0px;letter-spacing:0px;
}
#P136_96
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P136_97
{
left:9272.86px;bottom:6018.67px;color:rgb(35,31,31);
}
#P136_98
{
left:9400.86px;bottom:6018.67px;letter-spacing:-13.9px;word-spacing:486.9px;color:rgb(35,31,31);
}
#P136_99
{
left:10617px;bottom:6018.67px;letter-spacing:-10.5px;color:rgb(35,31,31);
}
#P136_100
{
left:0px;letter-spacing:-0.3px;margin-left:10.5px;
}
#P136_101
{
left:23016.1px;bottom:6018.67px;letter-spacing:28px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P136_102
{
left:0px;letter-spacing:-4.3px;margin-left:126.1px;
}
#P136_103
{
left:0px;letter-spacing:-1px;margin-left:4.2px;
}
#P136_104
{
left:0px;letter-spacing:-0.1px;margin-left:0.8px;
}
#P136_105
{
left:10617px;bottom:5122.8px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P136_106
{
left:10151px;bottom:37722.9px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P136_107
{
left:13576.2px;bottom:37914.7px;color:rgb(255,223,126);
}
#P136_108
{
left:14200.9px;bottom:37722.9px;word-spacing:207.4px;color:white;
}
#P136_109
{
left:16137.1px;bottom:37914.7px;color:white;
}
#P136_110
{
left:16377.3px;bottom:37722.9px;color:white;
}
#P136_111
{
left:22443.5px;bottom:37914.7px;color:white;
}
#P136_112
{
left:22683.7px;bottom:37722.9px;color:white;
}
#P136_113
{
left:8410.59px;bottom:37599.3px;
}
#P136_114
{
left:8410.59px;bottom:37599.3px;color:white;
}
#P136_115
{
left:18900.5px;bottom:41322.2px;letter-spacing:213.2px;color:rgb(35,31,31);
}
#P136_116
{
left:0px;letter-spacing:0px;margin-left:-213.2px;
}
#P136_117
{
left:7789.4px;bottom:40234.2px;color:rgb(35,31,31);
}
#P136_118
{
left:14606.1px;bottom:27322.6px;letter-spacing:-96px;color:rgb(35,31,31);
}
#P136_119
{
left:0px;letter-spacing:-1.8px;margin-left:96px;
}
#P136_120
{
left:0px;letter-spacing:-24px;margin-left:1.8px;
}
#P136_121
{
left:0px;letter-spacing:0px;margin-left:-72px;
}
#P136_122
{
left:0px;letter-spacing:-4px;
}
#P136_123
{
left:0px;letter-spacing:-3.2px;margin-left:4px;
}
#P136_124
{
left:14606.1px;bottom:25882.6px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P136_125
{
left:22968px;bottom:17514.2px;color:rgb(35,31,31);
}
#P136_126
{
left:4301.34px;bottom:13360.5px;color:rgb(35,31,31);
}
#P136_127
{
left:4674.39px;bottom:13388.9px;letter-spacing:-10.2px;color:rgb(35,31,31);
}
#P136_128
{
left:6691.93px;bottom:13360.5px;color:rgb(35,31,31);
}
#P136_129
{
left:4301.34px;bottom:12656.5px;letter-spacing:-14.1px;color:rgb(35,31,31);
}
#P136_130
{
left:5012.31px;bottom:12684.9px;letter-spacing:-10.4px;color:rgb(35,31,31);
}
#P136_131
{
left:2365.37px;bottom:11756.9px;letter-spacing:5.9px;word-spacing:-7.9px;color:rgb(35,31,31);
}
#P136_132
{
left:0px;letter-spacing:9px;margin-left:2px;
}
#P136_133
{
left:0px;letter-spacing:5.2px;margin-left:-4.8px;
}
#P136_134
{
left:2365.37px;bottom:10980.8px;letter-spacing:-3.3px;word-spacing:-0.7px;color:rgb(35,31,31);
}
#P136_135
{
left:0px;letter-spacing:-0.3px;margin-left:2.4px;
}
#P136_136
{
left:0px;letter-spacing:-3.1px;margin-left:-4.5px;
}
#P136_137
{
left:2365.37px;bottom:10487px;color:rgb(35,31,31);
}
#P136_138
{
left:2615.28px;bottom:10268.8px;color:rgb(35,31,31);
}
#P136_139
{
left:2960.24px;bottom:10292.8px;color:rgb(35,31,31);
}
#P136_140
{
left:2960.24px;bottom:10308.8px;letter-spacing:-1px;word-spacing:-0.4px;color:rgb(35,31,31);
}
#P136_141
{
left:0px;letter-spacing:-2px;margin-left:-4.1px;
}
#P136_142
{
left:0px;letter-spacing:-1px;margin-left:2.6px;
}
#P136_143
{
left:2960.24px;bottom:9668.78px;letter-spacing:-1.6px;word-spacing:-4.1px;color:rgb(35,31,31);
}
#P136_144
{
left:0px;letter-spacing:-1.4px;margin-left:0.2px;
}
#P136_145
{
left:2960.24px;bottom:9028.78px;letter-spacing:0.5px;color:rgb(35,31,31);
}
#P136_146
{
left:0px;letter-spacing:0px;margin-left:1.2px;
}
#P136_147
{
left:2365.37px;bottom:8535.02px;color:rgb(35,31,31);
}
#P136_148
{
left:2615.28px;bottom:8316.78px;color:rgb(35,31,31);
}
#P136_149
{
left:2960.24px;bottom:8356.78px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P136_150
{
left:0px;letter-spacing:-2.7px;margin-left:5.3px;
}
#P136_151
{
left:0px;letter-spacing:0.6px;margin-left:3.2px;
}
#P136_152
{
left:2365.38px;bottom:7588.78px;letter-spacing:4px;word-spacing:-5.4px;color:rgb(35,31,31);
}
#P136_153
{
left:0px;letter-spacing:5.4px;margin-left:8.7px;
}
#P136_154
{
left:2365.38px;bottom:6948.72px;letter-spacing:7.9px;color:rgb(35,31,31);
}
#P136_155
{
left:0px;letter-spacing:0px;margin-left:-17.6px;
}
#PageContainer136
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg136.jpg");background-repeat:no-repeat;background-size: 1066px 1157px; background-position: 1px 0.279999999999973px;
}
#ImageContainer136 {bottom:206.72px;right:0.00px;width:1066.24px;height:1157.44px;position:absolute;} #TextContainer136 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

                           .rpj{position: absolute;top: 208px;left: 141px;}
						    .srpj{position: absolute;top: 208px;left: 97px;}
							.math_tool{position: absolute;top: 298px;left: 153px;}


							#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}