.tr14{ color:transparent;}
#P14_1
{
left:17286.6px;bottom:43596.8px;letter-spacing:-29.4px;
}
#P14_2
{
left:27333px;bottom:43596.8px;color:rgb(0,151,73);
}
#P14_3
{
left:17286.6px;bottom:41996.7px;letter-spacing:-29.4px;
}
#P14_4
{
left:17286.6px;bottom:43596.8px;
}
#P14_5
{
left:17286.6px;bottom:41996.8px;
}
#P14_6
{
left:0px;bottom:0px;letter-spacing:0px;color:rgb(35,31,31);
}
#P14_7
{
left:6272.99px;bottom:32839px;letter-spacing:-6.5px;color:rgb(35,31,31);
}
#P14_8
{
left:5740.51px;bottom:32071px;letter-spacing:-6.5px;color:rgb(35,31,31);
}
#P14_9
{
left:5545.95px;bottom:31303px;letter-spacing:-6.3px;color:rgb(35,31,31);
}
#P14_10
{
left:5096.67px;bottom:30535px;letter-spacing:-6.3px;color:rgb(35,31,31);
}
#P14_11
{
left:7267.55px;bottom:29767px;letter-spacing:-8.2px;color:rgb(35,31,31);
}
#P14_12
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P14_13
{
left:15713.9px;bottom:39364.5px;color:rgb(0,151,73);
}
#P14_14
{
left:0px;letter-spacing:0px;margin-left:4328.9px;
}
#P14_15
{
left:0px;letter-spacing:-7px;margin-left:232.3px;
}
#P14_16
{
left:0px;letter-spacing:-7px;margin-left:-52.1px;
}
#P14_17
{
left:0px;letter-spacing:0px;margin-left:-8.4px;
}
#P14_18
{
left:29443.8px;bottom:39515.2px;letter-spacing:-7px;word-spacing:-116.4px;color:rgb(145,147,151);
}
#P14_19
{
left:32510.7px;bottom:39364.5px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P14_20
{
left:16606.3px;bottom:38340.2px;letter-spacing:-7px;word-spacing:683.3px;color:rgb(145,147,151);
}
#P14_21
{
left:0px;letter-spacing:-7px;margin-left:-683.6px;
}
#P14_22
{
left:20258.4px;bottom:38340.2px;color:rgb(35,31,31);
}
#P14_23
{
left:0px;letter-spacing:-7px;margin-left:232.3px;
}
#P14_24
{
left:0px;letter-spacing:-7px;margin-left:-38.7px;
}
#P14_25
{
left:15714.6px;bottom:37316.6px;letter-spacing:4328.5px;color:rgb(35,31,31);
}
#P14_26
{
left:20706.7px;bottom:37316.6px;letter-spacing:-7px;color:rgb(235,26,35);
}
#P14_27
{
left:23176.6px;bottom:37467.2px;letter-spacing:-7px;word-spacing:-87px;color:rgb(145,147,151);
}
#P14_28
{
left:32498.7px;bottom:37316.6px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P14_29
{
left:15715.4px;bottom:36293px;letter-spacing:4328.5px;color:rgb(35,31,31);
}
#P14_30
{
left:20707.4px;bottom:36293px;letter-spacing:-7px;color:rgb(2,77,161);
}
#P14_31
{
left:23177.3px;bottom:36443.6px;letter-spacing:-7px;word-spacing:-115.2px;color:rgb(145,147,151);
}
#P14_32
{
left:32498.7px;bottom:36293px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P14_33
{
left:16476.8px;bottom:35268.7px;letter-spacing:-7px;word-spacing:552.4px;color:rgb(145,147,151);
}
#P14_34
{
left:0px;letter-spacing:-7px;margin-left:-552.7px;
}
#P14_35
{
left:20259.8px;bottom:35268.7px;letter-spacing:232.6px;color:rgb(35,31,31);
}
#P14_36
{
left:0px;letter-spacing:-7px;margin-left:-447.7px;
}
#P14_37
{
left:31943.6px;bottom:35268.5px;color:rgb(35,31,31);
}
#P14_38
{
left:20706.3px;bottom:34436.4px;letter-spacing:-8px;color:rgb(35,31,31);
}
#P14_39
{
left:15714.3px;bottom:33412.8px;letter-spacing:4328.5px;color:rgb(35,31,31);
}
#P14_40
{
left:20706.4px;bottom:33412.8px;letter-spacing:-7px;color:rgb(235,26,35);
}
#P14_41
{
left:23176.3px;bottom:33563.4px;letter-spacing:-7px;word-spacing:-87px;color:rgb(145,147,151);
}
#P14_42
{
left:32497.7px;bottom:33412.8px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P14_43
{
left:15715px;bottom:32389.2px;letter-spacing:4328.5px;color:rgb(35,31,31);
}
#P14_44
{
left:20707.1px;bottom:32389.2px;letter-spacing:-7px;color:rgb(2,77,161);
}
#P14_45
{
left:23177px;bottom:32539.8px;letter-spacing:-7px;word-spacing:-115.2px;color:rgb(145,147,151);
}
#P14_46
{
left:32511.8px;bottom:32389.2px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P14_47
{
left:16476.5px;bottom:31364.8px;letter-spacing:-7px;word-spacing:552.4px;color:rgb(145,147,151);
}
#P14_48
{
left:0px;letter-spacing:-7px;margin-left:-552.7px;
}
#P14_49
{
left:20259.5px;bottom:31364.8px;letter-spacing:232.6px;color:rgb(35,31,31);
}
#P14_50
{
left:0px;letter-spacing:-7px;margin-left:-447.7px;
}
#P14_51
{
left:28948.8px;bottom:31364.5px;color:rgb(35,31,31);
}
#P14_52
{
left:20706.4px;bottom:30532.3px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P14_53
{
left:15714.3px;bottom:29508.7px;letter-spacing:4328.5px;color:rgb(35,31,31);
}
#P14_54
{
left:20706.4px;bottom:29508.8px;letter-spacing:-7px;color:rgb(235,26,35);
}
#P14_55
{
left:23176.3px;bottom:29659.4px;letter-spacing:-7px;word-spacing:-87px;color:rgb(145,147,151);
}
#P14_56
{
left:32497.7px;bottom:29508.8px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P14_57
{
left:15715px;bottom:28485.2px;letter-spacing:4328.5px;color:rgb(35,31,31);
}
#P14_58
{
left:20707.1px;bottom:28485.2px;letter-spacing:-7px;color:rgb(2,77,161);
}
#P14_59
{
left:23177px;bottom:28635.8px;letter-spacing:-7px;word-spacing:-115.2px;color:rgb(145,147,151);
}
#P14_60
{
left:32530.1px;bottom:28485.2px;letter-spacing:49.3px;color:rgb(35,31,31);
}
#P14_61
{
left:16463.8px;bottom:27460.8px;letter-spacing:-7px;word-spacing:539.7px;color:rgb(145,147,151);
}
#P14_62
{
left:0px;letter-spacing:-7px;margin-left:-540px;
}
#P14_63
{
left:20259.5px;bottom:27460.8px;color:rgb(35,31,31);
}
#P14_64
{
left:0px;letter-spacing:-7px;margin-left:232.3px;
}
#P14_65
{
left:0px;letter-spacing:-7px;margin-left:-78.1px;
}
#P14_66
{
left:0px;letter-spacing:-7px;margin-left:-38.7px;
}
#P14_67
{
left:15715.7px;bottom:26437.2px;letter-spacing:4328.5px;color:rgb(35,31,31);
}
#P14_68
{
left:20707.8px;bottom:26437.2px;letter-spacing:-7px;color:rgb(235,26,35);
}
#P14_69
{
left:23177.7px;bottom:26587.9px;letter-spacing:-7px;word-spacing:-87px;color:rgb(145,147,151);
}
#P14_70
{
left:32573.7px;bottom:26437.2px;letter-spacing:28.2px;color:rgb(35,31,31);
}
#P14_71
{
left:15716.4px;bottom:25413.6px;letter-spacing:4328.5px;color:rgb(35,31,31);
}
#P14_72
{
left:20708.5px;bottom:25413.6px;letter-spacing:-7px;color:rgb(2,77,161);
}
#P14_73
{
left:23178.4px;bottom:25564.3px;letter-spacing:-7px;word-spacing:-115.2px;color:rgb(145,147,151);
}
#P14_74
{
left:32573.7px;bottom:25413.6px;letter-spacing:28.2px;color:rgb(35,31,31);
}
#P14_75
{
left:15716.4px;bottom:24390px;letter-spacing:4328.5px;color:rgb(35,31,31);
}
#P14_76
{
left:20708.5px;bottom:24390px;letter-spacing:-7.5px;color:rgb(0,151,73);
}
#P14_77
{
left:30938.6px;bottom:24540.7px;letter-spacing:-7px;word-spacing:-140.4px;color:rgb(145,147,151);
}
#P14_78
{
left:32526.6px;bottom:24390px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P14_79
{
left:20709.2px;bottom:23365.7px;letter-spacing:-7px;word-spacing:4335.6px;color:rgb(0,151,73);
}
#P14_80
{
left:0px;letter-spacing:-7px;margin-left:-4335.6px;
}
#P14_81
{
left:24820.7px;bottom:23516.3px;letter-spacing:-7px;word-spacing:-68.1px;color:rgb(145,147,151);
}
#P14_82
{
left:32527.3px;bottom:23365.7px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P14_83
{
left:16478.6px;bottom:22341.4px;letter-spacing:-7px;word-spacing:552.4px;color:rgb(145,147,151);
}
#P14_84
{
left:0px;letter-spacing:-7px;margin-left:-552.7px;
}
#P14_85
{
left:20261.6px;bottom:22341.4px;letter-spacing:232.3px;color:rgb(35,31,31);
}
#P14_86
{
left:0px;letter-spacing:-7.4px;margin-left:-239.4px;
}
#P14_87
{
left:15717.8px;bottom:21317.7px;letter-spacing:4328.5px;color:rgb(35,31,31);
}
#P14_88
{
left:20709.9px;bottom:21317.7px;letter-spacing:-7px;color:rgb(235,26,35);
}
#P14_89
{
left:23179.8px;bottom:21468.4px;letter-spacing:-7px;word-spacing:-87px;color:rgb(145,147,151);
}
#P14_90
{
left:32515.3px;bottom:21317.7px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P14_91
{
left:15718.6px;bottom:20294.1px;letter-spacing:4328.5px;color:rgb(35,31,31);
}
#P14_92
{
left:20710.6px;bottom:20294.1px;letter-spacing:-7px;color:rgb(2,77,161);
}
#P14_93
{
left:23180.5px;bottom:20444.8px;letter-spacing:-7px;word-spacing:-115.2px;color:rgb(145,147,151);
}
#P14_94
{
left:32515.3px;bottom:20294.1px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P14_95
{
left:16466.6px;bottom:19269.8px;letter-spacing:-7px;word-spacing:539px;color:rgb(145,147,151);
}
#P14_96
{
left:0px;letter-spacing:-7px;margin-left:-539.3px;
}
#P14_97
{
left:20263px;bottom:19269.8px;letter-spacing:232.6px;color:rgb(35,31,31);
}
#P14_98
{
left:0px;letter-spacing:-7px;margin-left:-447.7px;
}
#P14_99
{
left:32485px;bottom:19268.5px;color:rgb(35,31,31);
}
#P14_100
{
left:20706.4px;bottom:18436.4px;letter-spacing:-8px;color:rgb(35,31,31);
}
#P14_101
{
left:15714.3px;bottom:17412.8px;letter-spacing:4328.5px;color:rgb(35,31,31);
}
#P14_102
{
left:20706.4px;bottom:17412.8px;letter-spacing:-7px;color:rgb(235,26,35);
}
#P14_103
{
left:23176.3px;bottom:17563.4px;letter-spacing:-7px;word-spacing:-87px;color:rgb(145,147,151);
}
#P14_104
{
left:32524.4px;bottom:17412.8px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P14_105
{
left:15714.3px;bottom:16389.2px;letter-spacing:4328.5px;color:rgb(35,31,31);
}
#P14_106
{
left:20706.4px;bottom:16389.2px;letter-spacing:-7px;color:rgb(2,77,161);
}
#P14_107
{
left:23176.3px;bottom:16539.8px;letter-spacing:-7px;word-spacing:-115.2px;color:rgb(145,147,151);
}
#P14_108
{
left:32511.8px;bottom:16389.2px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P14_109
{
left:16489.2px;bottom:15364.8px;letter-spacing:-7px;word-spacing:565.7px;color:rgb(145,147,151);
}
#P14_110
{
left:0px;letter-spacing:-7px;margin-left:-566px;
}
#P14_111
{
left:20258.8px;bottom:15364.8px;letter-spacing:232.6px;color:rgb(35,31,31);
}
#P14_112
{
left:0px;letter-spacing:-7px;margin-left:-447.7px;
}
#P14_113
{
left:29490.2px;bottom:15364.5px;color:rgb(35,31,31);
}
#P14_114
{
left:20706.4px;bottom:14532.3px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P14_115
{
left:15714.3px;bottom:13508.7px;letter-spacing:4328.5px;color:rgb(35,31,31);
}
#P14_116
{
left:20706.4px;bottom:13508.8px;letter-spacing:-7px;color:rgb(235,26,35);
}
#P14_117
{
left:23176.3px;bottom:13659.4px;letter-spacing:-7px;word-spacing:-87px;color:rgb(145,147,151);
}
#P14_118
{
left:32511.1px;bottom:13508.8px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P14_119
{
left:15715px;bottom:12485.2px;letter-spacing:4328.5px;color:rgb(35,31,31);
}
#P14_120
{
left:20707.1px;bottom:12485.2px;letter-spacing:-7px;color:rgb(2,77,161);
}
#P14_121
{
left:23177px;bottom:12635.8px;letter-spacing:-7px;word-spacing:-115.2px;color:rgb(145,147,151);
}
#P14_122
{
left:32499.1px;bottom:12485.2px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P14_123
{
left:20707.8px;bottom:11460.8px;letter-spacing:-7px;word-spacing:4335.6px;color:rgb(0,151,73);
}
#P14_124
{
left:0px;letter-spacing:-7px;margin-left:-4335.6px;
}
#P14_125
{
left:24968.6px;bottom:11611.5px;letter-spacing:-7px;word-spacing:-23.8px;color:rgb(145,147,151);
}
#P14_126
{
left:32500.5px;bottom:11460.8px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P14_127
{
left:20708.5px;bottom:10436.5px;letter-spacing:-7px;word-spacing:4335.6px;color:rgb(0,151,73);
}
#P14_128
{
left:0px;letter-spacing:-7px;margin-left:-4335.6px;
}
#P14_129
{
left:26163.2px;bottom:10587.2px;letter-spacing:-7px;word-spacing:-66.8px;color:rgb(145,147,151);
}
#P14_130
{
left:32513.9px;bottom:10436.5px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P14_131
{
left:20709.2px;bottom:9412.2px;letter-spacing:-7px;word-spacing:4335.6px;color:rgb(0,151,73);
}
#P14_132
{
left:0px;letter-spacing:0px;margin-left:-4335.6px;
}
#P14_133
{
left:0px;letter-spacing:-7px;margin-left:-103.5px;
}
#P14_134
{
left:25119.2px;bottom:9562.86px;letter-spacing:-7px;word-spacing:-90px;color:rgb(145,147,151);
}
#P14_135
{
left:32501.2px;bottom:9412.2px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P14_136
{
left:20709.9px;bottom:8387.88px;letter-spacing:-7px;word-spacing:4335.6px;color:rgb(0,151,73);
}
#P14_137
{
left:0px;letter-spacing:-7px;margin-left:-8.4px;
}
#P14_138
{
left:0px;letter-spacing:-7px;margin-left:-4335.6px;
}
#P14_139
{
left:28552.4px;bottom:8538.54px;letter-spacing:-7px;word-spacing:-116.9px;color:rgb(145,147,151);
}
#P14_140
{
left:32501.9px;bottom:8387.88px;letter-spacing:-7px;color:rgb(35,31,31);
}
#P14_141
{
left:3901.4px;bottom:41388.8px;
}
#PageContainer14
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg014.jpg");background-repeat:no-repeat;background-size: 1066px 1364px; background-position: right bottom;
}
#ImageContainer14 {bottom:0.00px;right:0.00px;width:1066.24px;height:1364.16px;position:absolute;} #TextContainer14 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
