.tr610{ color:transparent;}
#P610_1
{
left:2365.4px;bottom:1525.23px;color:rgb(35,31,31);
}
#P610_2
{
left:3540.44px;bottom:1525.23px;color:rgb(35,31,31);
}
#P610_3
{
left:4925.4px;bottom:1525.23px;color:rgb(35,31,31);
}
#P610_4
{
left:9487.37px;bottom:1525.23px;letter-spacing:5px;word-spacing:461.9px;color:rgb(35,31,31);
}
#P610_5
{
left:0px;letter-spacing:2.7px;margin-left:-4.8px;
}
#P610_6
{
left:0px;letter-spacing:0px;margin-left:-464.6px;
}
#P610_7
{
left:0px;letter-spacing:2.4px;margin-left:0.2px;
}
#P610_8
{
left:0px;letter-spacing:0px;margin-left:-464.3px;
}
#P610_9
{
left:0px;letter-spacing:1.1px;margin-left:-8.1px;
}
#P610_10
{
left:5889.56px;bottom:46957.1px;color:white;
}
#P610_11
{
left:2371.78px;bottom:46929.9px;color:white;
}
#P610_12
{
left:11592.4px;bottom:41732.8px;letter-spacing:-2.1px;color:rgb(35,31,31);
}
#P610_13
{
left:13485.5px;bottom:41703.3px;color:rgb(35,31,31);
}
#P610_14
{
left:14071.9px;bottom:41732.8px;color:rgb(35,31,31);
}
#P610_15
{
left:14466.1px;bottom:41738.5px;color:rgb(35,31,31);
}
#P610_16
{
left:14829.4px;bottom:41732.8px;color:rgb(35,31,31);
}
#P610_17
{
left:14977.2px;bottom:41703.3px;color:rgb(35,31,31);
}
#P610_18
{
left:15563.7px;bottom:41732.8px;color:rgb(35,31,31);
}
#P610_19
{
left:16253.6px;bottom:41703.3px;color:rgb(35,31,31);
}
#P610_20
{
left:16840px;bottom:41732.8px;letter-spacing:-9.3px;color:rgb(35,31,31);
}
#P610_21
{
left:0px;letter-spacing:0px;margin-left:9.3px;
}
#P610_22
{
left:11592.4px;bottom:40167.3px;letter-spacing:1360px;color:rgb(35,31,31);
}
#P610_23
{
left:0px;letter-spacing:0px;margin-left:-1536px;
}
#P610_24
{
left:13714.8px;bottom:40196.8px;color:rgb(35,31,31);
}
#P610_25
{
left:14088px;bottom:40196.8px;color:rgb(35,31,31);
}
#P610_26
{
left:14451.2px;bottom:40196.8px;color:rgb(35,31,31);
}
#P610_27
{
left:14609.6px;bottom:40167.3px;color:rgb(35,31,31);
}
#P610_28
{
left:15196px;bottom:40196.8px;color:rgb(35,31,31);
}
#P610_29
{
left:16202.7px;bottom:40167.3px;color:rgb(35,31,31);
}
#P610_30
{
left:17544.4px;bottom:40196.8px;word-spacing:596.9px;color:rgb(35,31,31);
}
#P610_31
{
left:19144.4px;bottom:40204.8px;color:rgb(0,124,196);
}
#P610_32
{
left:11592.4px;bottom:38724.8px;color:rgb(35,31,31);
}
#P610_33
{
left:14600.4px;bottom:38695.3px;color:rgb(235,26,35);
}
#P610_34
{
left:15362.8px;bottom:38724.8px;color:rgb(235,26,35);
}
#P610_35
{
left:15736px;bottom:38724.8px;color:rgb(35,31,31);
}
#P610_36
{
left:16776.4px;bottom:38695.3px;color:rgb(235,26,35);
}
#P610_37
{
left:17538.8px;bottom:38724.8px;color:rgb(235,26,35);
}
#P610_38
{
left:19144.4px;bottom:38732.8px;color:rgb(0,124,196);
}
#P610_39
{
left:11592.4px;bottom:37060.8px;color:rgb(35,31,31);
}
#P610_40
{
left:14408.4px;bottom:37031.3px;color:rgb(35,31,31);
}
#P610_41
{
left:14994.8px;bottom:37060.8px;color:rgb(35,31,31);
}
#P610_42
{
left:15368px;bottom:37060.8px;color:rgb(35,31,31);
}
#P610_43
{
left:16048px;bottom:37060.8px;color:rgb(35,31,31);
}
#P610_44
{
left:16206.4px;bottom:37031.3px;color:rgb(35,31,31);
}
#P610_45
{
left:16792.8px;bottom:37060.8px;color:rgb(35,31,31);
}
#P610_46
{
left:16951.2px;bottom:37031.3px;color:rgb(35,31,31);
}
#P610_47
{
left:17537.6px;bottom:37060.8px;color:rgb(35,31,31);
}
#P610_48
{
left:19144.4px;bottom:37068.8px;color:rgb(0,124,196);
}
#P610_49
{
left:0px;letter-spacing:0px;margin-left:-49.7px;
}
#P610_50
{
left:11592.4px;bottom:35588.8px;letter-spacing:993.6px;color:rgb(35,31,31);
}
#P610_51
{
left:0px;letter-spacing:0px;margin-left:895.9px;
}
#P610_52
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P610_53
{
left:14813.5px;bottom:36001.9px;color:rgb(35,31,31);
}
#P610_54
{
left:15341.3px;bottom:36028.5px;color:rgb(35,31,31);
}
#P610_55
{
left:15677.1px;bottom:36028.5px;color:rgb(35,31,31);
}
#P610_56
{
left:16004.1px;bottom:35606.4px;color:rgb(35,31,31);
}
#P610_57
{
left:14792.4px;bottom:35572.8px;color:rgb(235,26,35);
}
#P610_58
{
left:16025.2px;bottom:35590.1px;color:rgb(235,26,35);
}
#P610_59
{
left:14977px;bottom:35094.4px;color:rgb(235,26,35);
}
#P610_60
{
left:15504.8px;bottom:35121px;color:rgb(235,26,35);
}
#P610_61
{
left:15840.6px;bottom:35606.4px;color:rgb(235,26,35);
}
#P610_62
{
left:16025.2px;bottom:35588.8px;color:rgb(235,26,35);
}
#P610_63
{
left:16025.2px;bottom:35588.8px;color:rgb(35,31,31);
}
#P610_64
{
left:16183.6px;bottom:35559.3px;color:rgb(35,31,31);
}
#P610_65
{
left:16770px;bottom:35588.8px;color:rgb(35,31,31);
}
#P610_66
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P610_67
{
left:16949.5px;bottom:36001.9px;color:rgb(35,31,31);
}
#P610_68
{
left:17477.3px;bottom:36028.5px;color:rgb(35,31,31);
}
#P610_69
{
left:17813.1px;bottom:35606.4px;color:rgb(35,31,31);
}
#P610_70
{
left:16928.3px;bottom:35572.8px;color:rgb(235,26,35);
}
#P610_71
{
left:17834.2px;bottom:35590.1px;color:rgb(235,26,35);
}
#P610_72
{
left:16949.5px;bottom:35094.4px;color:rgb(235,26,35);
}
#P610_73
{
left:17477.3px;bottom:35121px;color:rgb(235,26,35);
}
#P610_74
{
left:17813.1px;bottom:35606.4px;color:rgb(235,26,35);
}
#P610_75
{
left:17834.2px;bottom:35588.8px;color:rgb(235,26,35);
}
#P610_76
{
left:17834.2px;bottom:35588.8px;color:rgb(35,31,31);
}
#P610_77
{
left:19144.4px;bottom:35596.8px;color:rgb(0,124,196);
}
#P610_78
{
left:11592.4px;bottom:33924.8px;letter-spacing:1377.6px;color:rgb(35,31,31);
}
#P610_79
{
left:15678.7px;bottom:33924.8px;color:rgb(35,31,31);
}
#P610_80
{
left:16042px;bottom:33924.8px;color:rgb(35,31,31);
}
#P610_81
{
left:16200.4px;bottom:33895.3px;color:rgb(35,31,31);
}
#P610_82
{
left:16786.8px;bottom:33924.8px;color:rgb(35,31,31);
}
#P610_83
{
left:19144.4px;bottom:33932.8px;color:rgb(0,124,196);
}
#P610_84
{
left:0px;letter-spacing:0px;margin-left:-49.7px;
}
#P610_85
{
left:10824.4px;bottom:32396.8px;color:rgb(0,124,196);
}
#P610_86
{
left: 12766.4px;bottom:32388.8px;letter-spacing:520.3px;color:rgb(35,31,31);
}
#P610_87
{
left:0px;letter-spacing:0px;margin-left:-520.3px;
}
#P610_88
{
left:17693.6px;bottom:32388.8px;color:rgb(35,31,31);
}
#P610_89
{
left:18056.9px;bottom:32388.8px;color:rgb(35,31,31);
}
#P610_90
{
left:18215.3px;bottom:32359.3px;color:rgb(35,31,31);
}
#P610_91
{
left:18801.7px;bottom:32388.8px;color:rgb(35,31,31);
}
#P610_92
{
left:11592.3px;bottom:28996.8px;color:rgb(35,31,31);
}
#P610_93
{
left:0px;letter-spacing:0px;margin-left:-10.5px;
}
#P610_94
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P610_95
{
left:11592.3px;bottom:27652.8px;color:rgb(35,31,31);
}
#P610_96
{
left:12056px;bottom:27679.7px;color:rgb(35,31,31);
}
#P610_97
{
left:13256.4px;bottom:27652.8px;color:rgb(35,31,31);
}
#P610_98
{
left:13629.5px;bottom:27652.8px;color:rgb(35,31,31);
}
#P610_99
{
left:13992.8px;bottom:27652.8px;color:rgb(35,31,31);
}
#P610_100
{
left:14151.2px;bottom:27623.3px;color:rgb(35,31,31);
}
#P610_101
{
left:14737.6px;bottom:27652.8px;color:rgb(35,31,31);
}
#P610_102
{
left:15800.6px;bottom:27623.3px;color:rgb(35,31,31);
}
#P610_103
{
left:16387px;bottom:27652.8px;color:rgb(35,31,31);
}
#P610_104
{
left:19608px;bottom:27679.7px;color:rgb(35,31,31);
}
#P610_105
{
left:20872.4px;bottom:27623.3px;color:rgb(35,31,31);
}
#P610_106
{
left:21458.8px;bottom:27652.8px;color:rgb(35,31,31);
}
#P610_107
{
left:21832px;bottom:27652.8px;color:rgb(35,31,31);
}
#P610_108
{
left:22142.4px;bottom:27652.8px;color:rgb(35,31,31);
}
#P610_109
{
left:22300.8px;bottom:27623.3px;color:rgb(35,31,31);
}
#P610_110
{
left:22887.3px;bottom:27652.8px;color:rgb(35,31,31);
}
#P610_111
{
left:23577.1px;bottom:27623.3px;color:rgb(35,31,31);
}
#P610_112
{
left:24163.5px;bottom:27652.8px;color:rgb(35,31,31);
}
#P610_113
{
left:24321.9px;bottom:27623.3px;color:rgb(35,31,31);
}
#P610_114
{
left:24908.4px;bottom:27652.8px;color:rgb(35,31,31);
}
#P610_115
{
left:27288px;bottom:27679.7px;color:rgb(35,31,31);
}
#P610_116
{
left:28552.4px;bottom:27652.8px;color:rgb(35,31,31);
}
#P610_117
{
left:29171.9px;bottom:27652.8px;color:rgb(35,31,31);
}
#P610_118
{
left:29535.2px;bottom:27623.3px;color:rgb(35,31,31);
}
#P610_119
{
left:30473.6px;bottom:27652.8px;color:rgb(35,31,31);
}
#P610_120
{
left:31251.5px;bottom:27623.3px;color:rgb(35,31,31);
}
#P610_121
{
left:31837.9px;bottom:27652.8px;color:rgb(35,31,31);
}
#P610_122
{
left:5497.11px;bottom:43500.3px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P610_123
{
left:12365.4px;bottom:43524.8px;color:white;
}
#P610_124
{
left:14013.9px;bottom:43716.7px;color:white;
}
#P610_125
{
left:14254.1px;bottom:43524.8px;color:white;
}
#P610_126
{
left:0px;letter-spacing:0px;margin-left:-31.9px;
}
#P610_127
{
left:0px;letter-spacing:0px;margin-left:-47.4px;
}
#P610_128
{
left:22177.2px;bottom:43716.7px;color:white;
}
#P610_129
{
left:22417.4px;bottom:43524.8px;color:white;
}
#P610_130
{
left:10521px;bottom:43357.7px;
}
#P610_131
{
left:10521px;bottom:43357.7px;color:white;
}
#P610_132
{
left:6637.4px;
bottom: 27431.5px;color:rgb(35,31,31);
}
#P610_133
{
left:0px;letter-spacing:0px;margin-left:-66.2px;
}
#P610_134
{
left:28430px;bottom:39949.7px;color:rgb(235,26,35);
}
#P610_135
{
left:28430px;bottom:38832.1px;letter-spacing:394.5px;color:rgb(35,31,31);
}
#P610_136
{
left:29587px;bottom:38861.7px;color:rgb(35,31,31);
}
#P610_137
{
left:29960.1px;bottom:38861.7px;color:rgb(235,26,35);
}
#P610_138
{
left:30323.4px;bottom:38861.7px;color:rgb(35,31,31);
}
#P610_139
{
left:30481.8px;bottom:38832.1px;color:rgb(35,31,31);
}
#P610_140
{
left:31068.2px;bottom:38861.7px;color:rgb(35,31,31);
}
#P610_141
{
left:31758px;bottom:38832.1px;color:rgb(35,31,31);
}
#P610_142
{
left:32344.5px;bottom:38861.7px;color:rgb(35,31,31);
}
#P610_143
{
left:28430px;bottom:37389.7px;color:rgb(35,31,31);
}
#P610_144
{
left:28497.9px;bottom:37360.1px;color:rgb(35,31,31);
}
#P610_145
{
left:29084.3px;bottom:37389.7px;color:rgb(35,31,31);
}
#P610_146
{
left:29703.8px;bottom:37389.7px;color:rgb(235,26,35);
}
#P610_147
{
left:30077px;bottom:37389.7px;color:rgb(35,31,31);
}
#P610_148
{
left:30481.8px;bottom:37360.1px;color:rgb(35,31,31);
}
#P610_149
{
left:31068.2px;bottom:37389.7px;color:rgb(35,31,31);
}
#P610_150
{
left:31758px;bottom:37360.1px;color:rgb(35,31,31);
}
#P610_151
{
left:31922.1px;bottom:37807.3px;color:rgb(235,26,35);
}
#P610_152
{
left:32348.1px;bottom:37389.7px;color:rgb(35,31,31);
}
#P610_153
{
left:28430px;bottom:35888.1px;letter-spacing:757.7px;color:rgb(35,31,31);
}
#P610_154
{
left:29950.3px;bottom:35917.7px;color:rgb(35,31,31);
}
#P610_155
{
left:30481.8px;bottom:35888.1px;color:rgb(35,31,31);
}
#P610_156
{
left:31068.2px;bottom:35917.7px;color:rgb(35,31,31);
}
#P610_157
{
left:31758.1px;bottom:35888.1px;color:rgb(35,31,31);
}
#P610_158
{
left:31922.1px;bottom:36335.3px;color:rgb(235,26,35);
}
#P610_159
{
left:32348.1px;bottom:35917.7px;color:rgb(35,31,31);
}
#P610_160
{
left:31226.5px;bottom:34381.7px;word-spacing:2638.1px;color:rgb(35,31,31);
}
#P610_161
{
left:31758.1px;bottom:34352.1px;color:rgb(35,31,31);
}
#P610_162
{
left:32344.5px;bottom:34381.7px;color:rgb(35,31,31);
}
#P610_163
{
left:33228px;bottom:34470.6px;color:rgb(235,26,35);
}
#P610_164
{
left:2485.34px;bottom:21063.5px;color:white;
}
#P610_165
{
left:5840.99px;bottom:21305.1px;color:white;
}
#P610_166
{
left:6176.86px;bottom:21063.5px;color:white;
}
#P610_167
{
left:2720px;bottom:19960.6px;letter-spacing:-58.8px;color:rgb(35,31,31);
}
#P610_168
{
left:0px;letter-spacing:0px;margin-left:58.8px;
}
#P610_169
{
left:2720px;bottom:19192.6px;color:rgb(35,31,31);
}
#P610_170
{
left:2720px;bottom:18424.6px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P610_171
{
left:2720px;bottom:17656.6px;color:rgb(35,31,31);
}
#P610_172
{
left:2720px;bottom:16888.6px;color:rgb(35,31,31);
}
#P610_173
{
left:2720px;bottom:15672.6px;letter-spacing:1102.1px;color:rgb(35,31,31);
}
#P610_174
{
left:0px;letter-spacing:0px;margin-left:-1144.2px;
}
#P610_175
{
left:0px;letter-spacing:0px;margin-left:-177.9px;
}
#P610_176
{
left:4187.29px;bottom:16072px;color:rgb(35,31,31);
}
#P610_177
{
left:4443.03px;bottom:15686.4px;color:rgb(35,31,31);
}
#P610_178
{
left:4135.81px;bottom:15638.1px;color:rgb(35,31,31);
}
#P610_179
{
left:4494.49px;bottom:15651.9px;color:rgb(35,31,31);
}
#P610_180
{
left:4155.01px;bottom:15247px;color:rgb(35,31,31);
}
#P610_181
{
left:4475.29px;bottom:15686.4px;color:rgb(35,31,31);
}
#P610_182
{
left:4494.49px;bottom:15672.6px;letter-spacing:-177.9px;color:rgb(35,31,31);
}
#P610_183
{
left:4672.41px;bottom:15623.9px;color:rgb(35,31,31);
}
#P610_184
{
left:5205.53px;bottom:15672.6px;color:rgb(35,31,31);
}
#P610_185
{
left:0px;letter-spacing:0px;margin-left:-177.9px;
}
#P610_186
{
left:5402.65px;bottom:16072px;color:rgb(35,31,31);
}
#P610_187
{
left:5722.91px;bottom:15686.4px;color:rgb(35,31,31);
}
#P610_188
{
left:5383.45px;bottom:15638.1px;color:rgb(35,31,31);
}
#P610_189
{
left:5742.11px;bottom:15651.9px;color:rgb(35,31,31);
}
#P610_190
{
left:5402.65px;bottom:15247px;color:rgb(35,31,31);
}
#P610_191
{
left:5722.91px;bottom:15686.4px;color:rgb(35,31,31);
}
#P610_192
{
left:5742.11px;bottom:15672.6px;letter-spacing:-177.9px;color:rgb(35,31,31);
}
#P610_193
{
left:5920.03px;bottom:15623.9px;color:rgb(35,31,31);
}
#P610_194
{
left:6453.15px;bottom:15672.6px;color:rgb(35,31,31);
}
#P610_195
{
left:6631.07px;bottom:15623.9px;color:rgb(35,31,31);
}
#P610_196
{
left:7023.39px;bottom:15650.8px;color:rgb(35,31,31);
}
#P610_197
{
left:7167.32px;bottom:15672.6px;letter-spacing:-177.9px;color:rgb(35,31,31);
}
#P610_198
{
left:7186.52px;bottom:16070.1px;color:rgb(35,31,31);
}
#P610_199
{
left:7506.78px;bottom:15686.4px;color:rgb(35,31,31);
}
#P610_200
{
left:7167.32px;bottom:15636.2px;color:rgb(35,31,31);
}
#P610_201
{
left:7525.98px;bottom:15651.9px;color:rgb(35,31,31);
}
#P610_202
{
left:7186.52px;bottom:15245px;color:rgb(35,31,31);
}
#P610_203
{
left:7506.78px;bottom:15686.4px;color:rgb(35,31,31);
}
#P610_204
{
left:7525.98px;bottom:15672.6px;color:rgb(35,31,31);
}
#P610_205
{
left:2720.03px;bottom:14328.6px;letter-spacing:1294.1px;color:rgb(35,31,31);
}
#P610_206
{
left:0px;letter-spacing:0px;margin-left:-1433px;
}
#P610_207
{
left:4515.23px;bottom:14328.6px;color:rgb(35,31,31);
}
#P610_208
{
left:4693.15px;bottom:14279.9px;color:rgb(35,31,31);
}
#P610_209
{
left:5386.27px;bottom:14328.6px;color:rgb(35,31,31);
}
#P610_210
{
left:5920.03px;bottom:14279.9px;color:rgb(35,31,31);
}
#P610_211
{
left:6453.15px;bottom:14328.6px;color:rgb(35,31,31);
}
#P610_212
{
left:6631.07px;bottom:14279.9px;color:rgb(35,31,31);
}
#P610_213
{
left:7164.12px;bottom:14328.6px;color:rgb(35,31,31);
}
#P610_214
{
left:2720.03px;bottom:13432.6px;letter-spacing:1294.1px;color:rgb(35,31,31);
}
#P610_215
{
left:0px;letter-spacing:0px;margin-left:-206.1px;
}
#P610_216
{
left:5742.11px;bottom:13432.6px;color:rgb(35,31,31);
}
#P610_217
{
left:5920.03px;bottom:13383.9px;color:rgb(35,31,31);
}
#P610_218
{
left:6453.15px;bottom:13432.6px;color:rgb(35,31,31);
}
#P610_219
{
left:6631.07px;bottom:13383.9px;color:rgb(35,31,31);
}
#P610_220
{
left:7164.12px;bottom:13432.6px;color:rgb(35,31,31);
}
#P610_221
{
left:11579.6px;bottom:22568.8px;word-spacing:-59.8px;color:rgb(35,31,31);
}
#P610_222
{
left:0px;letter-spacing:0px;margin-left:-10.5px;
}
#P610_223
{
left:13595.7px;bottom:23013.6px;color:rgb(35,31,31);
}
#P610_224
{
left:13922.7px;bottom:22591.5px;color:rgb(35,31,31);
}
#P610_225
{
left:13560.7px;bottom:22552.8px;color:rgb(35,31,31);
}
#P610_226
{
left:13957.7px;bottom:22570.1px;color:rgb(35,31,31);
}
#P610_227
{
left:13581.8px;bottom:22100.9px;color:rgb(35,31,31);
}
#P610_228
{
left:13936.6px;bottom:22586.4px;color:rgb(35,31,31);
}
#P610_229
{
left:13957.7px;bottom:22568.8px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P610_230
{
left:14105.6px;bottom:22539.2px;color:rgb(35,31,31);
}
#P610_231
{
left:14692px;bottom:22568.8px;color:rgb(35,31,31);
}
#P610_232
{
left:0px;letter-spacing:0px;margin-left:-147.8px;
}
#P610_233
{
left:14861px;bottom:23008.5px;color:rgb(35,31,31);
}
#P610_234
{
left:15215.8px;bottom:22586.4px;color:rgb(35,31,31);
}
#P610_235
{
left:14839.8px;bottom:22552.8px;color:rgb(35,31,31);
}
#P610_236
{
left:15236.9px;bottom:22570.1px;color:rgb(35,31,31);
}
#P610_237
{
left:14861px;bottom:22100.9px;color:rgb(35,31,31);
}
#P610_238
{
left:15215.8px;bottom:22586.4px;color:rgb(35,31,31);
}
#P610_239
{
left:15236.9px;bottom:22568.8px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P610_240
{
left:15384.7px;bottom:22539.2px;color:rgb(35,31,31);
}
#P610_241
{
left:16733.6px;bottom:22568.8px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P610_242
{
left:16754.7px;bottom:23002.3px;color:rgb(35,31,31);
}
#P610_243
{
left:17109.5px;bottom:22586.4px;color:rgb(35,31,31);
}
#P610_244
{
left:16733.6px;bottom:22549.8px;color:rgb(35,31,31);
}
#P610_245
{
left:17130.6px;bottom:22570.1px;color:rgb(35,31,31);
}
#P610_246
{
left:16754.7px;bottom:22094.8px;color:rgb(35,31,31);
}
#P610_247
{
left:17109.5px;bottom:22586.4px;color:rgb(35,31,31);
}
#P610_248
{
left:17130.6px;bottom:22568.8px;color:rgb(35,31,31);
}
#P610_249
{
left:0px;letter-spacing:0px;margin-left:-147.8px;
}
#P610_250
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P610_251
{
left:11579.6px;bottom:20235.2px;letter-spacing:1360px;color:rgb(35,31,31);
}
#P610_252
{
left:13115.6px;bottom:20264.8px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P610_253
{
left:13141.1px;bottom:20755.9px;color:rgb(35,31,31);
}
#P610_254
{
left:13468.1px;bottom:20282.4px;color:rgb(35,31,31);
}
#P610_255
{
left:13115.6px;bottom:20300.2px;color:rgb(35,31,31);
}
#P610_256
{
left:13493.7px;bottom:20266.1px;color:rgb(35,31,31);
}
#P610_257
{
left:13136.7px;bottom:19848.4px;color:rgb(35,31,31);
}
#P610_258
{
left:13472.5px;bottom:20282.4px;color:rgb(35,31,31);
}
#P610_259
{
left:13493.7px;bottom:20264.8px;color:rgb(35,31,31);
}
#P610_260
{
left:13493.7px;bottom:20264.8px;color:rgb(35,31,31);
}
#P610_261
{
left:13652.1px;bottom:20235.2px;color:rgb(35,31,31);
}
#P610_262
{
left:14238.5px;bottom:20264.8px;color:rgb(35,31,31);
}
#P610_263
{
left:14396.8px;bottom:20264.8px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P610_264
{
left:14417.9px;bottom:20704.5px;color:rgb(35,31,31);
}
#P610_265
{
left:14753.8px;bottom:20282.4px;color:rgb(35,31,31);
}
#P610_266
{
left:14396.8px;bottom:20248.8px;color:rgb(35,31,31);
}
#P610_267
{
left:14774.9px;bottom:20266.1px;color:rgb(35,31,31);
}
#P610_268
{
left:14417.9px;bottom:19796.9px;color:rgb(35,31,31);
}
#P610_269
{
left:14753.8px;bottom:20282.4px;color:rgb(35,31,31);
}
#P610_270
{
left:14774.9px;bottom:20264.8px;color:rgb(35,31,31);
}
#P610_271
{
left:14774.9px;bottom:20264.8px;color:rgb(35,31,31);
}
#P610_272
{
left:15091.7px;bottom:20235.2px;color:rgb(35,31,31);
}
#P610_273
{
left:15678.1px;bottom:20264.8px;color:rgb(35,31,31);
}
#P610_274
{
left:15994.9px;bottom:20235.2px;color:rgb(35,31,31);
}
#P610_275
{
left:16426.5px;bottom:20264.8px;color:rgb(35,31,31);
}
#P610_276
{
left:16584.9px;bottom:20264.8px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P610_277
{
left:16606px;bottom:20704.5px;color:rgb(35,31,31);
}
#P610_278
{
left:16941.8px;bottom:20282.4px;color:rgb(35,31,31);
}
#P610_279
{
left:16584.9px;bottom:20248.8px;color:rgb(35,31,31);
}
#P610_280
{
left:16962.9px;bottom:20266.1px;color:rgb(35,31,31);
}
#P610_281
{
left:16606px;bottom:19796.9px;color:rgb(35,31,31);
}
#P610_282
{
left:16941.8px;bottom:20282.4px;color:rgb(35,31,31);
}
#P610_283
{
left:16962.9px;bottom:20264.8px;color:rgb(35,31,31);
}
#P610_284
{
left:16962.9px;bottom:20264.8px;color:rgb(35,31,31);
}
#P610_285
{
left:19131.6px;bottom:20272.8px;color:rgb(0,124,196);
}
#P610_286
{
left:10811.6px;bottom:18280.8px;letter-spacing:2529.6px;color:rgb(35,31,31);
}
#P610_287
{
left:13658px;bottom:18251.2px;color:rgb(235,26,35);
}
#P610_288
{
left:14420.4px;bottom:18280.8px;letter-spacing:-158.4px;color:rgb(235,26,35);
}
#P610_289
{
left:14441.6px;bottom:18771.9px;color:rgb(235,26,35);
}
#P610_290
{
left:14777.4px;bottom:18298.4px;color:rgb(235,26,35);
}
#P610_291
{
left:14420.4px;bottom:18316.2px;color:rgb(235,26,35);
}
#P610_292
{
left:14798.5px;bottom:18282.1px;color:rgb(235,26,35);
}
#P610_293
{
left:14441.6px;bottom:17864.4px;color:rgb(235,26,35);
}
#P610_294
{
left:14777.4px;bottom:18298.4px;color:rgb(235,26,35);
}
#P610_295
{
left:14798.5px;bottom:18280.8px;color:rgb(235,26,35);
}
#P610_296
{
left:14798.5px;bottom:18280.8px;color:rgb(35,31,31);
}
#P610_297
{
left:15803.6px;bottom:18251.2px;color:rgb(235,26,35);
}
#P610_298
{
left:16566px;bottom:18280.8px;letter-spacing:-158.4px;color:rgb(235,26,35);
}
#P610_299
{
left:16587.2px;bottom:18771.9px;color:rgb(235,26,35);
}
#P610_300
{
left:16923px;bottom:18298.4px;color:rgb(235,26,35);
}
#P610_301
{
left:16566px;bottom:18316.2px;color:rgb(235,26,35);
}
#P610_302
{
left:16944.1px;bottom:18282.1px;color:rgb(235,26,35);
}
#P610_303
{
left:16587.2px;bottom:17864.4px;color:rgb(235,26,35);
}
#P610_304
{
left:16923px;bottom:18298.4px;color:rgb(235,26,35);
}
#P610_305
{
left:16944.1px;bottom:18280.8px;color:rgb(235,26,35);
}
#P610_306
{
left:16944.1px;bottom:18280.8px;color:rgb(35,31,31);
}
#P610_307
{
left:19131.6px;bottom:18288.8px;color:rgb(0,124,196);
}
#P610_308
{
left:11579.6px;bottom:16040.8px;letter-spacing:1377.6px;color:rgb(35,31,31);
}
#P610_309
{
left:14340.8px;bottom:16040.8px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P610_310
{
left:14366.3px;bottom:16480.5px;color:rgb(35,31,31);
}
#P610_311
{
left:14693.3px;bottom:16058.4px;color:rgb(35,31,31);
}
#P610_312
{
left:14340.8px;bottom:16024.8px;color:rgb(35,31,31);
}
#P610_313
{
left:14718.8px;bottom:16042.1px;color:rgb(35,31,31);
}
#P610_314
{
left:14361.9px;bottom:15572.9px;color:rgb(35,31,31);
}
#P610_315
{
left:14697.7px;bottom:16058.4px;color:rgb(35,31,31);
}
#P610_316
{
left:14718.8px;bottom:16040.8px;color:rgb(35,31,31);
}
#P610_317
{
left:14718.8px;bottom:16040.8px;color:rgb(35,31,31);
}
#P610_318
{
left:15035.6px;bottom:16011.2px;color:rgb(35,31,31);
}
#P610_319
{
left:15622px;bottom:16040.8px;color:rgb(35,31,31);
}
#P610_320
{
left:15938.8px;bottom:16011.2px;color:rgb(35,31,31);
}
#P610_321
{
left:16525.2px;bottom:16040.8px;color:rgb(35,31,31);
}
#P610_322
{
left:19131.6px;bottom:16048.8px;color:rgb(0,124,196);
}
#P610_323
{
left:0px;letter-spacing:0px;margin-left:-49.7px;
}
#P610_324
{
left:11579.6px;bottom:13800.8px;color:rgb(35,31,31);
}
#P610_325
{
left:13371.6px;bottom:13800.8px;color:rgb(235,26,35);
}
#P610_326
{
left:13850.3px;bottom:13362.2px;color:rgb(235,26,35);
}
#P610_327
{
left:14202.1px;bottom:13800.8px;color:rgb(35,31,31);
}
#P610_328
{
left:14360.5px;bottom:13800.8px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P610_329
{
left:14386px;bottom:14240.5px;color:rgb(35,31,31);
}
#P610_330
{
left:14713px;bottom:13818.4px;color:rgb(35,31,31);
}
#P610_331
{
left:14360.5px;bottom:13784.8px;color:rgb(35,31,31);
}
#P610_332
{
left:14738.5px;bottom:13802.1px;color:rgb(35,31,31);
}
#P610_333
{
left:14381.6px;bottom:13332.9px;color:rgb(35,31,31);
}
#P610_334
{
left:14717.4px;bottom:13818.4px;color:rgb(35,31,31);
}
#P610_335
{
left:14738.5px;bottom:13800.8px;color:rgb(35,31,31);
}
#P610_336
{
left:14738.5px;bottom:13800.8px;color:rgb(35,31,31);
}
#P610_337
{
left:14896.9px;bottom:13800.8px;color:rgb(35,31,31);
}
#P610_338
{
left:15055.3px;bottom:13771.2px;color:rgb(35,31,31);
}
#P610_339
{
left:15641.8px;bottom:13800.8px;color:rgb(35,31,31);
}
#P610_340
{
left:15800.2px;bottom:13800.8px;color:rgb(235,26,35);
}
#P610_341
{
left:16278.9px;bottom:13362.2px;color:rgb(235,26,35);
}
#P610_342
{
left:16630.6px;bottom:13800.8px;color:rgb(235,26,35);
}
#P610_343
{
left:16789px;bottom:13800.8px;color:rgb(35,31,31);
}
#P610_344
{
left:17035.4px;bottom:13771.2px;color:rgb(35,31,31);
}
#P610_345
{
left:17621.8px;bottom:13800.8px;color:rgb(35,31,31);
}
#P610_346
{
left:19131.6px;bottom:13808.8px;letter-spacing:-6.5px;color:rgb(0,124,196);
}
#P610_347
{
left:19131.6px;bottom:12912.8px;letter-spacing:-6.7px;word-spacing:1637.5px;color:rgb(0,124,196);
}
#P610_348
{
left:11579.6px;bottom:11368.8px;letter-spacing:1377.6px;color:rgb(35,31,31);
}
#P610_349
{
left:14513.9px;bottom:11368.8px;color:rgb(35,31,31);
}
#P610_350
{
left:14877.2px;bottom:11368.8px;color:rgb(35,31,31);
}
#P610_351
{
left:15035.6px;bottom:11339.2px;color:rgb(35,31,31);
}
#P610_352
{
left:15622px;bottom:11368.8px;color:rgb(35,31,31);
}
#P610_353
{
left:15780.4px;bottom:11339.2px;color:rgb(35,31,31);
}
#P610_354
{
left:16366.9px;bottom:11368.8px;color:rgb(35,31,31);
}
#P610_355
{
left:19131.6px;bottom:11376.8px;color:rgb(0,124,196);
}
#P610_356
{
left:0px;letter-spacing:0px;margin-left:-49.7px;
}
#P610_357
{
left:10811.5px;bottom:9840.81px;color:rgb(0,124,196);
}
#P610_358
{
left: 12765.6px;bottom:9832.81px;letter-spacing:520.3px;color:rgb(35,31,31);
}
#P610_359
{
left:0px;letter-spacing:0px;margin-left:-520.3px;
}
#P610_360
{
left:17680.8px;bottom:9832.81px;color:rgb(35,31,31);
}
#P610_361
{
left:18044.1px;bottom:9832.81px;color:rgb(35,31,31);
}
#P610_362
{
left:18202.5px;bottom:9803.24px;color:rgb(35,31,31);
}
#P610_363
{
left:18788.9px;bottom:9832.81px;color:rgb(35,31,31);
}
#P610_364
{
left:18947.3px;bottom:9803.24px;color:rgb(35,31,31);
}
#P610_365
{
left:19533.7px;bottom:9832.81px;color:rgb(35,31,31);
}
#P610_366
{
left:11579.5px;bottom:6440.81px;color:rgb(35,31,31);
}
#P610_367
{
left:0px;letter-spacing:0px;margin-left:-10.4px;
}
#P610_368
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P610_369
{
left:11579.5px;bottom:4968.81px;color:rgb(35,31,31);
}
#P610_370
{
left:12043.2px;bottom:4995.63px;word-spacing:453.2px;color:rgb(35,31,31);
}
#P610_371
{
left:13243.6px;bottom:4995.63px;color:rgb(35,31,31);
}
#P610_372
{
left:13264.7px;bottom:5402.48px;color:rgb(35,31,31);
}
#P610_373
{
left:13842.5px;bottom:4986.41px;color:rgb(35,31,31);
}
#P610_374
{
left:13243.6px;bottom:4946.78px;color:rgb(35,31,31);
}
#P610_375
{
left:13863.6px;bottom:4970.08px;color:rgb(35,31,31);
}
#P610_376
{
left:13385.8px;bottom:4494.96px;color:rgb(35,31,31);
}
#P610_377
{
left:13721.6px;bottom:4986.41px;color:rgb(35,31,31);
}
#P610_378
{
left:13863.6px;bottom:4968.81px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P610_379
{
left:14022px;bottom:4939.24px;color:rgb(35,31,31);
}
#P610_380
{
left:14608.5px;bottom:4968.81px;color:rgb(35,31,31);
}
#P610_381
{
left:15298.4px;bottom:4939.24px;color:rgb(35,31,31);
}
#P610_382
{
left:15884.8px;bottom:4968.81px;color:rgb(35,31,31);
}
#P610_383
{
left:19595.2px;bottom:4995.63px;color:rgb(35,31,31);
}
#P610_384
{
left:20859.6px;bottom:4939.24px;color:rgb(35,31,31);
}
#P610_385
{
left:21291.2px;bottom:4968.81px;color:rgb(35,31,31);
}
#P610_386
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P610_387
{
left:21490.3px;bottom:5408.49px;color:rgb(35,31,31);
}
#P610_388
{
left:21786.8px;bottom:4986.41px;color:rgb(35,31,31);
}
#P610_389
{
left:21449.6px;bottom:4952.8px;color:rgb(35,31,31);
}
#P610_390
{
left:21827.6px;bottom:4970.08px;color:rgb(35,31,31);
}
#P610_391
{
left:21470.7px;bottom:4500.91px;color:rgb(35,31,31);
}
#P610_392
{
left:21806.5px;bottom:4986.41px;color:rgb(35,31,31);
}
#P610_393
{
left:21827.6px;bottom:4968.81px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P610_394
{
left:21986px;bottom:4939.24px;color:rgb(35,31,31);
}
#P610_395
{
left:22572.4px;bottom:4968.81px;color:rgb(35,31,31);
}
#P610_396
{
left:23262.3px;bottom:4939.24px;color:rgb(35,31,31);
}
#P610_397
{
left:23848.7px;bottom:4968.81px;color:rgb(35,31,31);
}
#P610_398
{
left:27275.2px;bottom:4995.63px;word-spacing:517.2px;color:rgb(35,31,31);
}
#P610_399
{
left:28539.6px;bottom:4995.63px;color:rgb(35,31,31);
}
#P610_400
{
left:28560.7px;bottom:5402.48px;color:rgb(35,31,31);
}
#P610_401
{
left:28896.5px;bottom:4986.41px;color:rgb(35,31,31);
}
#P610_402
{
left:28539.6px;bottom:4946.78px;color:rgb(35,31,31);
}
#P610_403
{
left:28917.7px;bottom:4970.08px;color:rgb(35,31,31);
}
#P610_404
{
left:28560.7px;bottom:4494.96px;color:rgb(35,31,31);
}
#P610_405
{
left:28896.5px;bottom:4986.41px;color:rgb(35,31,31);
}
#P610_406
{
left:28917.7px;bottom:4968.81px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P610_407
{
left:29076.1px;bottom:4939.24px;color:rgb(35,31,31);
}
#P610_408
{
left:29662.5px;bottom:4968.81px;color:rgb(35,31,31);
}
#P610_409
{
left:30194px;bottom:4968.81px;color:rgb(35,31,31);
}
#P610_410
{
left:30588.9px;bottom:4968.81px;color:rgb(35,31,31);
}
#P610_411
{
left:30747.3px;bottom:4939.24px;color:rgb(35,31,31);
}
#P610_412
{
left:31333.7px;bottom:4968.81px;color:rgb(35,31,31);
}
#P610_413
{
left:31492.1px;bottom:4939.24px;color:rgb(35,31,31);
}
#P610_414
{
left:31923.7px;bottom:4968.81px;color:rgb(35,31,31);
}
#P610_415
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P610_416
{
left:32103.2px;bottom:5408.49px;color:rgb(35,31,31);
}
#P610_417
{
left:32439px;bottom:4986.41px;color:rgb(35,31,31);
}
#P610_418
{
left:32082.1px;bottom:4952.8px;color:rgb(35,31,31);
}
#P610_419
{
left:32460.1px;bottom:4970.08px;color:rgb(35,31,31);
}
#P610_420
{
left:32103.2px;bottom:4500.91px;color:rgb(35,31,31);
}
#P610_421
{
left:32439px;bottom:4986.41px;color:rgb(35,31,31);
}
#P610_422
{
left:32460.1px;bottom:4968.81px;color:rgb(35,31,31);
}
#P610_423
{
left:5484.31px;bottom:24336.2px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P610_424
{
left:12352.6px;bottom:24360.8px;color:white;
}
#P610_425
{
left:14001.1px;bottom:24552.6px;color:white;
}
#P610_426
{
left:14241.3px;bottom:24360.8px;color:white;
}
#P610_427
{
left:0px;letter-spacing:0px;margin-left:-31.9px;
}
#P610_428
{
left:0px;letter-spacing:0px;margin-left:-47.4px;
}
#P610_429
{
left:22164.4px;bottom:24552.6px;color:white;
}
#P610_430
{
left:22404.6px;bottom:24360.8px;color:white;
}
#P610_431
{
left:10508.2px;bottom:24193.6px;
}
#P610_432
{
left:10508.2px;bottom:24193.6px;color:white;
}
#P610_433
{
left:5709.4px;
bottom: 5314.59px;color:rgb(35,31,31);
}
#P610_434
{
left:26785.2px;bottom:46188.3px;word-spacing:0.2px;color:rgb(33,31,31);
}
#P610_435
{
left:0px;letter-spacing:0px;margin-left:-44.8px;
}
#P610_436
{
left:0px;letter-spacing:0px;margin-left:0.2px;
}
#P610_437
{
left:7423.64px;bottom:38747.9px;color:rgb(0,124,196);
}
#P610_438
{
left:11592.4px;bottom:35588.8px;letter-spacing:993.6px;
}
#P610_439
{
left:6259.87px;bottom:35557.3px;color:rgb(0,124,196);
}
#P610_440
{
left:27821.4px;bottom:19260.8px;color:rgb(235,26,35);
}
#P610_441
{
left:27821.4px;bottom:18143.2px;color:rgb(35,31,31);
}
#P610_442
{
left:29104.4px;bottom:18172.8px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P610_443
{
left:29130.1px;bottom:18663.9px;color:rgb(235,26,35);
}
#P610_444
{
left:29457px;bottom:18190.4px;color:rgb(235,26,35);
}
#P610_445
{
left:29104.5px;bottom:18208.2px;color:rgb(35,31,31);
}
#P610_446
{
left:29482.5px;bottom:18174px;color:rgb(35,31,31);
}
#P610_447
{
left:29125.6px;bottom:17756.3px;color:rgb(35,31,31);
}
#P610_448
{
left:29461.4px;bottom:18190.4px;color:rgb(35,31,31);
}
#P610_449
{
left:29482.5px;bottom:18172.8px;color:rgb(35,31,31);
}
#P610_450
{
left:29482.5px;bottom:18143.2px;color:rgb(35,31,31);
}
#P610_451
{
left:30421px;bottom:18172.8px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P610_452
{
left:30442.1px;bottom:18663.9px;color:rgb(35,31,31);
}
#P610_453
{
left:30777.9px;bottom:18190.4px;color:rgb(35,31,31);
}
#P610_454
{
left:30421px;bottom:18208.2px;color:rgb(35,31,31);
}
#P610_455
{
left:30799px;bottom:18174px;color:rgb(35,31,31);
}
#P610_456
{
left:30442.1px;bottom:17756.3px;color:rgb(35,31,31);
}
#P610_457
{
left:30777.9px;bottom:18190.4px;color:rgb(35,31,31);
}
#P610_458
{
left:30799px;bottom:18172.8px;color:rgb(35,31,31);
}
#P610_459
{
left:30799px;bottom:18172.8px;color:rgb(35,31,31);
}
#P610_460
{
left:30957.4px;bottom:18143.2px;color:rgb(35,31,31);
}
#P610_461
{
left:31543.8px;bottom:18172.8px;color:rgb(35,31,31);
}
#P610_462
{
left:31702.2px;bottom:18143.2px;color:rgb(35,31,31);
}
#P610_463
{
left:32133.8px;bottom:18172.8px;color:rgb(35,31,31);
}
#P610_464
{
left:32292.2px;bottom:18172.8px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P610_465
{
left:32313.3px;bottom:18612.5px;color:rgb(35,31,31);
}
#P610_466
{
left:32649.1px;bottom:18190.4px;color:rgb(35,31,31);
}
#P610_467
{
left:32292.2px;bottom:18156.8px;color:rgb(35,31,31);
}
#P610_468
{
left:32670.2px;bottom:18174px;color:rgb(35,31,31);
}
#P610_469
{
left:32313.3px;bottom:17704.9px;color:rgb(35,31,31);
}
#P610_470
{
left:32649.1px;bottom:18190.4px;color:rgb(35,31,31);
}
#P610_471
{
left:32670.2px;bottom:18172.8px;color:rgb(35,31,31);
}
#P610_472
{
left:27821.4px;bottom:16316.8px;letter-spacing:293.1px;color:rgb(35,31,31);
}
#P610_473
{
left:0px;letter-spacing:0px;margin-left:-451.5px;
}
#P610_474
{
left:28294px;bottom:16729.8px;color:rgb(235,26,35);
}
#P610_475
{
left:28682.5px;bottom:16756.5px;color:rgb(235,26,35);
}
#P610_476
{
left:29496.6px;bottom:16334.4px;color:rgb(235,26,35);
}
#P610_477
{
left:28272.9px;bottom:16300.8px;color:rgb(35,31,31);
}
#P610_478
{
left:29517.7px;bottom:16318px;color:rgb(35,31,31);
}
#P610_479
{
left:28727.4px;bottom:15848.9px;color:rgb(35,31,31);
}
#P610_480
{
left:29063.3px;bottom:16334.4px;color:rgb(35,31,31);
}
#P610_481
{
left:29517.7px;bottom:16316.8px;color:rgb(35,31,31);
}
#P610_482
{
left:29517.7px;bottom:16316.8px;color:rgb(35,31,31);
}
#P610_483
{
left:29676.1px;bottom:16287.2px;color:rgb(35,31,31);
}
#P610_484
{
left:30262.6px;bottom:16316.8px;color:rgb(35,31,31);
}
#P610_485
{
left:30421px;bottom:16316.8px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P610_486
{
left:30442.1px;bottom:16756.5px;color:rgb(35,31,31);
}
#P610_487
{
left:30777.9px;bottom:16334.4px;color:rgb(35,31,31);
}
#P610_488
{
left:30421px;bottom:16300.8px;color:rgb(35,31,31);
}
#P610_489
{
left:30799px;bottom:16318px;color:rgb(35,31,31);
}
#P610_490
{
left:30442.1px;bottom:15848.9px;color:rgb(35,31,31);
}
#P610_491
{
left:30777.9px;bottom:16334.4px;color:rgb(35,31,31);
}
#P610_492
{
left:30799px;bottom:16316.8px;color:rgb(35,31,31);
}
#P610_493
{
left:30799px;bottom:16316.8px;color:rgb(35,31,31);
}
#P610_494
{
left:30957.4px;bottom:16287.2px;color:rgb(35,31,31);
}
#P610_495
{
left:31121.4px;bottom:16734.4px;letter-spacing:164.6px;color:rgb(235,26,35);
}
#P610_496
{
left:31698.6px;bottom:16287.2px;color:rgb(35,31,31);
}
#P610_497
{
left:32130.2px;bottom:16316.8px;color:rgb(35,31,31);
}
#P610_498
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P610_499
{
left:32309.7px;bottom:16756.5px;color:rgb(35,31,31);
}
#P610_500
{
left:32645.5px;bottom:16334.4px;color:rgb(35,31,31);
}
#P610_501
{
left:32288.6px;bottom:16300.8px;color:rgb(35,31,31);
}
#P610_502
{
left:32666.6px;bottom:16318px;color:rgb(35,31,31);
}
#P610_503
{
left:32309.7px;bottom:15848.9px;color:rgb(35,31,31);
}
#P610_504
{
left:32645.5px;bottom:16334.4px;color:rgb(35,31,31);
}
#P610_505
{
left:32666.6px;bottom:16316.8px;color:rgb(35,31,31);
}
#P610_506
{
left:27821.3px;bottom:14367.2px;letter-spacing:525.6px;color:rgb(35,31,31);
}
#P610_507
{
left:29109.3px;bottom:14396.8px;color:rgb(35,31,31);
}
#P610_508
{
left:29482.5px;bottom:14367.2px;color:rgb(35,31,31);
}
#P610_509
{
left:30420.9px;bottom:14396.8px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P610_510
{
left:30442.1px;bottom:14887.9px;color:rgb(35,31,31);
}
#P610_511
{
left:30777.9px;bottom:14414.4px;color:rgb(35,31,31);
}
#P610_512
{
left:30421px;bottom:14432.2px;color:rgb(35,31,31);
}
#P610_513
{
left:30799px;bottom:14398px;color:rgb(35,31,31);
}
#P610_514
{
left:30442.1px;bottom:13980.3px;color:rgb(35,31,31);
}
#P610_515
{
left:30777.9px;bottom:14414.4px;color:rgb(35,31,31);
}
#P610_516
{
left:30799px;bottom:14396.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P610_517
{
left:30957.4px;bottom:14367.2px;color:rgb(35,31,31);
}
#P610_518
{
left:31121.4px;bottom:14814.4px;color:rgb(235,26,35);
}
#P610_519
{
left:31547.5px;bottom:14396.8px;color:rgb(35,31,31);
}
#P610_520
{
left:31705.9px;bottom:14367.2px;color:rgb(35,31,31);
}
#P610_521
{
left:32137.4px;bottom:14396.8px;color:rgb(35,31,31);
}
#P610_522
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P610_523
{
left:32317px;bottom:14836.5px;color:rgb(35,31,31);
}
#P610_524
{
left:32652.8px;bottom:14414.4px;color:rgb(35,31,31);
}
#P610_525
{
left:32295.8px;bottom:14380.8px;color:rgb(35,31,31);
}
#P610_526
{
left:32673.9px;bottom:14398px;color:rgb(35,31,31);
}
#P610_527
{
left:32317px;bottom:13928.9px;color:rgb(35,31,31);
}
#P610_528
{
left:32652.8px;bottom:14414.4px;color:rgb(35,31,31);
}
#P610_529
{
left:32673.9px;bottom:14396.8px;color:rgb(35,31,31);
}
#P610_530
{
left:27821.4px;bottom:12476.8px;color:rgb(35,31,31);
}
#P610_531
{
left:29831px;bottom:12447.2px;color:rgb(35,31,31);
}
#P610_532
{
left:30262.6px;bottom:12476.8px;color:rgb(35,31,31);
}
#P610_533
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P610_534
{
left:30442.1px;bottom:12916.5px;color:rgb(35,31,31);
}
#P610_535
{
left:30777.9px;bottom:12494.4px;color:rgb(35,31,31);
}
#P610_536
{
left:30421px;bottom:12460.8px;color:rgb(35,31,31);
}
#P610_537
{
left:30799px;bottom:12478px;color:rgb(35,31,31);
}
#P610_538
{
left:30442.1px;bottom:12008.9px;color:rgb(35,31,31);
}
#P610_539
{
left:30777.9px;bottom:12494.4px;color:rgb(35,31,31);
}
#P610_540
{
left:30799px;bottom:12476.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P610_541
{
left:30957.4px;bottom:12447.2px;color:rgb(35,31,31);
}
#P610_542
{
left:31543.8px;bottom:12476.8px;color:rgb(35,31,31);
}
#P610_543
{
left:31702.2px;bottom:12447.2px;color:rgb(35,31,31);
}
#P610_544
{
left:32133.8px;bottom:12476.8px;color:rgb(35,31,31);
}
#P610_545
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P610_546
{
left:32313.3px;bottom:12916.5px;color:rgb(35,31,31);
}
#P610_547
{
left:32649.1px;bottom:12494.4px;color:rgb(35,31,31);
}
#P610_548
{
left:32292.2px;bottom:12460.8px;color:rgb(35,31,31);
}
#P610_549
{
left:32670.2px;bottom:12478px;color:rgb(35,31,31);
}
#P610_550
{
left:32313.3px;bottom:12008.9px;color:rgb(35,31,31);
}
#P610_551
{
left:32649.1px;bottom:12494.4px;color:rgb(35,31,31);
}
#P610_552
{
left:32670.2px;bottom:12476.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P610_553
{
left:33022.2px;bottom:12565.7px;color:rgb(235,26,35);
}
#PageContainer610
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg610.jpg");background-repeat:no-repeat;background-size: 949px 1229px; background-position: 0px 35.03px;
}
#ImageContainer610 {bottom:99.97px;left:0.00px;width:948.92px;height:1229.00px;position:absolute;} #TextContainer610 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.example1{position: absolute;top: 148px;left: 101px;}
.example2{position: absolute;top: 669px;left: 111px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}
.nyr{position: absolute;top: 1164px;left: 127px;}
.nyr1{position: absolute;top: 560px;left: 147px;}
#middle-toolbar img{vertical-align: middle;}