.tr782{ color:transparent;}
#P782_1
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P782_2
{
left:4925.07px;bottom:1410.03px;letter-spacing:6.3px;word-spacing:1094.2px;color:rgb(35,31,31);
}
#P782_3
{
left:0px;letter-spacing:0px;margin-left:0.3px;
}
#P782_4
{
left:0px;letter-spacing:0px;margin-left:-1094.2px;
}
#P782_5
{
left:0px;letter-spacing:7.7px;margin-left:6.6px;
}
#P782_6
{
left:2369.56px;bottom:45518.9px;color:white;
}
#P782_7
{
left:4932.57px;bottom:45817.3px;color:white;
}
#P782_8
{
left:5306.2px;bottom:45518.9px;color:white;
}
#P782_9
{
left:11821.4px;bottom:45979.3px;color:rgb(2,77,161);
}
#P782_10
{
left:0px;letter-spacing:0px;margin-left:-113.5px;
}
#P782_11
{
left:25534.9px;bottom:46021.9px;color:rgb(2,77,161);
}
#P782_12
{
left:30017.6px;bottom:46021.9px;color:rgb(2,77,161);
}
#P782_13
{
left:11821.3px;bottom:44997.9px;color:rgb(2,77,161);
}
#P782_14
{
left:2613.72px;bottom:41822.7px;color:rgb(35,31,31);
}
#P782_15
{
left:3965.4px;bottom:41804.8px;color:rgb(35,31,31);
}
#P782_16
{
left:4324.44px;bottom:41804.8px;color:rgb(35,31,31);
}
#P782_17
{
left:4468.44px;bottom:41777.9px;color:rgb(35,31,31);
}
#P782_18
{
left:5001.56px;bottom:41804.8px;color:rgb(35,31,31);
}
#P782_19
{
left:0px;letter-spacing:0px;margin-left:-144px;
}
#P782_20
{
left:5503.96px;bottom:42204.5px;color:rgb(35,31,31);
}
#P782_21
{
left:5809.24px;bottom:41820.8px;color:rgb(35,31,31);
}
#P782_22
{
left:5484.76px;bottom:41790.3px;color:rgb(35,31,31);
}
#P782_23
{
left:5828.44px;bottom:41805.9px;color:rgb(35,31,31);
}
#P782_24
{
left:5503.96px;bottom:41379.4px;color:rgb(35,31,31);
}
#P782_25
{
left:5809.24px;bottom:41820.8px;color:rgb(35,31,31);
}
#P782_26
{
left:5828.44px;bottom:41804.8px;letter-spacing:-144px;color:rgb(35,31,31);
}
#P782_27
{
left:13301.7px;bottom:41822.7px;color:rgb(35,31,31);
}
#P782_28
{
left:14653.4px;bottom:41804.8px;color:rgb(35,31,31);
}
#P782_29
{
left:15011.2px;bottom:41804.8px;color:rgb(35,31,31);
}
#P782_30
{
left:15155.2px;bottom:41777.9px;color:rgb(35,31,31);
}
#P782_31
{
left:15688.3px;bottom:41804.8px;color:rgb(35,31,31);
}
#P782_32
{
left:0px;letter-spacing:0px;margin-left:-64px;
}
#P782_33
{
left:0px;letter-spacing:0px;margin-left:-144px;
}
#P782_34
{
left:16609.9px;bottom:42204.5px;color:rgb(35,31,31);
}
#P782_35
{
left:16915.2px;bottom:41820.8px;color:rgb(35,31,31);
}
#P782_36
{
left:16590.7px;bottom:41790.3px;color:rgb(35,31,31);
}
#P782_37
{
left:16934.4px;bottom:41805.9px;color:rgb(35,31,31);
}
#P782_38
{
left:16609.9px;bottom:41379.4px;color:rgb(35,31,31);
}
#P782_39
{
left:16915.2px;bottom:41820.8px;color:rgb(35,31,31);
}
#P782_40
{
left:16934.4px;bottom:41804.8px;letter-spacing:-144px;color:rgb(35,31,31);
}
#P782_41
{
left:23797.7px;bottom:41822.7px;color:rgb(35,31,31);
}
#P782_42
{
left:25149.4px;bottom:41804.8px;color:rgb(35,31,31);
}
#P782_43
{
left:25475.8px;bottom:41804.8px;color:rgb(35,31,31);
}
#P782_44
{
left:25619.8px;bottom:41777.9px;color:rgb(35,31,31);
}
#P782_45
{
left:26152.9px;bottom:41804.8px;color:rgb(35,31,31);
}
#P782_46
{
left:26296.9px;bottom:41777.9px;color:rgb(35,31,31);
}
#P782_47
{
left:26689.2px;bottom:41804.8px;color:rgb(35,31,31);
}
#P782_48
{
left:0px;letter-spacing:0px;margin-left:-144px;
}
#P782_49
{
left:27005.1px;bottom:42204.5px;color:rgb(35,31,31);
}
#P782_50
{
left:27310.4px;bottom:41820.8px;color:rgb(35,31,31);
}
#P782_51
{
left:26833.2px;bottom:41790.3px;color:rgb(35,31,31);
}
#P782_52
{
left:27482.2px;bottom:41805.9px;color:rgb(35,31,31);
}
#P782_53
{
left:26852.4px;bottom:41379.4px;color:rgb(35,31,31);
}
#P782_54
{
left:27463px;bottom:41820.8px;color:rgb(35,31,31);
}
#P782_55
{
left:27482.2px;bottom:41804.8px;color:rgb(35,31,31);
}
#P782_56
{
left:2365.4px;bottom:40204.8px;color:rgb(35,31,31);
}
#P782_57
{
left:2613.72px;bottom:40222.7px;color:rgb(35,31,31);
}
#P782_58
{
left:4029.4px;bottom:40204.8px;color:rgb(35,31,31);
}
#P782_59
{
left:5021.4px;bottom:40177.9px;color:rgb(35,31,31);
}
#P782_60
{
left:5554.52px;bottom:40204.8px;color:rgb(35,31,31);
}
#P782_61
{
left:6885.72px;bottom:40204.8px;color:rgb(35,31,31);
}
#P782_62
{
left:7215.96px;bottom:40204.8px;color:rgb(35,31,31);
}
#P782_63
{
left:7359.96px;bottom:40177.9px;color:rgb(35,31,31);
}
#P782_64
{
left:7893.02px;bottom:40204.8px;color:rgb(35,31,31);
}
#P782_65
{
left:2365.4px;bottom:38924.8px;color:rgb(35,31,31);
}
#P782_66
{
left:2613.72px;bottom:38942.7px;color:rgb(35,31,31);
}
#P782_67
{
left:3965.4px;bottom:38924.8px;color:rgb(35,31,31);
}
#P782_68
{
left:4291.8px;bottom:38924.8px;color:rgb(35,31,31);
}
#P782_69
{
left:4435.8px;bottom:38897.9px;color:rgb(35,31,31);
}
#P782_70
{
left:4968.92px;bottom:38924.8px;color:rgb(35,31,31);
}
#P782_71
{
left:5112.92px;bottom:38897.9px;color:rgb(35,31,31);
}
#P782_72
{
left:5646.04px;bottom:38924.8px;color:rgb(35,31,31);
}
#P782_73
{
left:13301.7px;bottom:38942.7px;color:rgb(35,31,31);
}
#P782_74
{
left:14653.4px;bottom:38924.8px;color:rgb(35,31,31);
}
#P782_75
{
left:15029.1px;bottom:38924.8px;color:rgb(35,31,31);
}
#P782_76
{
left:15173.1px;bottom:38897.9px;color:rgb(35,31,31);
}
#P782_77
{
left:15706.2px;bottom:38924.8px;color:rgb(35,31,31);
}
#P782_78
{
left:15850.2px;bottom:38897.9px;color:rgb(35,31,31);
}
#P782_79
{
left:16383.3px;bottom:38924.8px;color:rgb(35,31,31);
}
#P782_80
{
left:23797.7px;bottom:38942.7px;color:rgb(35,31,31);
}
#P782_81
{
left:25149.4px;bottom:38924.8px;color:rgb(35,31,31);
}
#P782_82
{
left:25733.1px;bottom:38897.9px;color:rgb(35,31,31);
}
#P782_83
{
left:27119.3px;bottom:38924.8px;color:rgb(35,31,31);
}
#P782_84
{
left:2365.4px;bottom:37644.8px;color:rgb(35,31,31);
}
#P782_85
{
left:2613.72px;bottom:37662.7px;word-spacing:348.2px;color:rgb(35,31,31);
}
#P782_86
{
left:4029.4px;bottom:37644.8px;color:rgb(35,31,31);
}
#P782_87
{
left:8824.99px;bottom:37644.8px;letter-spacing:137.7px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P782_88
{
left:0px;letter-spacing:-0.1px;margin-left:-195.1px;
}
#P782_89
{
left:0px;letter-spacing:-0.3px;margin-left:143.8px;
}
#P782_90
{
left:0px;letter-spacing:-0.1px;margin-left:-38px;
}
#P782_91
{
left:0px;letter-spacing:-0.1px;margin-left:-23px;
}
#P782_92
{
left:0px;letter-spacing:-1.8px;margin-left:142.3px;
}
#P782_93
{
left:0px;letter-spacing:-0.1px;margin-left:1.7px;
}
#P782_94
{
left:4029.4px;bottom:36812.8px;letter-spacing:-0.8px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P782_95
{
left:0px;letter-spacing:-0.1px;margin-left:-18.3px;
}
#P782_96
{
left:0px;letter-spacing:-2.1px;
}
#P782_97
{
left:0px;letter-spacing:0px;margin-left:-16.9px;
}
#P782_98
{
left:0px;letter-spacing:-0.1px;
}
#P782_99
{
left:20392.1px;bottom:36812.8px;color:rgb(35,31,31);
}
#P782_100
{
left:20722.3px;bottom:36812.8px;color:rgb(35,31,31);
}
#P782_101
{
left:20866.3px;bottom:36785.9px;color:rgb(35,31,31);
}
#P782_102
{
left:21399.4px;bottom:36812.8px;color:rgb(35,31,31);
}
#P782_103
{
left:2365.4px;bottom:35532.8px;color:rgb(35,31,31);
}
#P782_104
{
left:2613.72px;bottom:35550.7px;color:rgb(35,31,31);
}
#P782_105
{
left:4029.4px;bottom:35532.8px;color:rgb(35,31,31);
}
#P782_106
{
left:2365.4px;bottom:34252.8px;color:rgb(35,31,31);
}
#P782_107
{
left:2613.72px;bottom:34270.7px;word-spacing:348.2px;color:rgb(35,31,31);
}
#P782_108
{
left:4029.4px;bottom:34252.8px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P782_109
{
left:0px;letter-spacing:0px;margin-left:0.7px;
}
#P782_110
{
left:18190.7px;bottom:34252.8px;word-spacing:51.2px;color:rgb(35,31,31);
}
#P782_111
{
left:0px;letter-spacing:0px;margin-left:-51.2px;
}
#P782_112
{
left:4029.4px;bottom:33420.8px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P782_113
{
left:2365.4px;bottom:32140.8px;color:rgb(35,31,31);
}
#P782_114
{
left:2613.72px;bottom:32158.7px;color:rgb(35,31,31);
}
#P782_115
{
left:4029.4px;bottom:32140.8px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P782_116
{
left:0px;letter-spacing:0px;margin-left:-15.3px;
}
#P782_117
{
left:0px;letter-spacing:0px;
}
#P782_118
{
left:14189.5px;bottom:32113.9px;color:rgb(35,31,31);
}
#P782_119
{
left:14722.6px;bottom:32140.8px;color:rgb(35,31,31);
}
#P782_120
{
left:14866.5px;bottom:32140.8px;color:rgb(35,31,31);
}
#P782_121
{
left:15196.8px;bottom:32140.8px;color:rgb(35,31,31);
}
#P782_122
{
left:15564.8px;bottom:32113.9px;color:rgb(35,31,31);
}
#P782_123
{
left:16097.9px;bottom:32140.8px;color:rgb(35,31,31);
}
#P782_124
{
left:17851.5px;bottom:32113.9px;color:rgb(35,31,31);
}
#P782_125
{
left:18384.6px;bottom:32140.8px;color:rgb(35,31,31);
}
#P782_126
{
left:2365.4px;bottom:30540.8px;color:rgb(35,31,31);
}
#P782_127
{
left:2613.72px;bottom:30558.7px;color:rgb(35,31,31);
}
#P782_128
{
left:3965.4px;bottom:30513.9px;color:rgb(35,31,31);
}
#P782_129
{
left:4498.52px;bottom:30540.8px;word-spacing:-64px;color:rgb(35,31,31);
}
#P782_130
{
left:4936.92px;bottom:30940.5px;color:rgb(35,31,31);
}
#P782_131
{
left:5242.2px;bottom:30556.8px;color:rgb(35,31,31);
}
#P782_132
{
left:4917.72px;bottom:30526.3px;color:rgb(35,31,31);
}
#P782_133
{
left:5261.4px;bottom:30541.9px;color:rgb(35,31,31);
}
#P782_134
{
left:4936.92px;bottom:30115.4px;color:rgb(35,31,31);
}
#P782_135
{
left:5242.2px;bottom:30556.8px;color:rgb(35,31,31);
}
#P782_136
{
left:5261.4px;bottom:30540.8px;letter-spacing:-144px;color:rgb(35,31,31);
}
#P782_137
{
left:13301.7px;bottom:30558.7px;color:rgb(35,31,31);
}
#P782_138
{
left:14653.4px;bottom:30540.8px;color:rgb(35,31,31);
}
#P782_139
{
left:2969.56px;bottom:23349.6px;color:rgb(35,31,31);
}
#P782_140
{
left:4029.4px;bottom:23331.7px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P782_141
{
left:0px;letter-spacing:0px;margin-left:0.7px;
}
#P782_142
{
left:2969.56px;bottom:22069.6px;color:rgb(35,31,31);
}
#P782_143
{
left:4029.4px;bottom:22051.7px;color:rgb(35,31,31);
}
#P782_144
{
left:8543.26px;bottom:22051.7px;letter-spacing:176px;color:rgb(35,31,31);
}
#P782_145
{
left:0px;letter-spacing:-0.5px;margin-left:-176px;
}
#P782_146
{
left:0px;letter-spacing:-0.3px;margin-left:0.5px;
}
#P782_147
{
left:2969.56px;bottom:20789.6px;color:rgb(35,31,31);
}
#P782_148
{
left:3965.4px;bottom:20771.7px;color:rgb(35,31,31);
}
#P782_149
{
left:7137.18px;bottom:20771.7px;word-spacing:51.2px;color:rgb(35,31,31);
}
#P782_150
{
left:0px;letter-spacing:0px;margin-left:-51.2px;
}
#P782_151
{
left:13657.6px;bottom:20789.6px;color:rgb(35,31,31);
}
#P782_152
{
left:14653.4px;bottom:20771.7px;color:rgb(35,31,31);
}
#P782_153
{
left:24153.6px;bottom:20789.6px;color:rgb(35,31,31);
}
#P782_154
{
left:25149.4px;bottom:20771.7px;color:rgb(35,31,31);
}
#P782_155
{
left:2613.72px;bottom:19189.6px;word-spacing:284.2px;color:rgb(35,31,31);
}
#P782_156
{
left:3965.4px;bottom:19189.6px;color:rgb(35,31,31);
}
#P782_157
{
left:3984.6px;bottom:19573.3px;color:rgb(35,31,31);
}
#P782_158
{
left:4289.88px;bottom:19187.7px;color:rgb(35,31,31);
}
#P782_159
{
left:3965.4px;bottom:19159px;color:rgb(35,31,31);
}
#P782_160
{
left:4309.08px;bottom:19172.8px;color:rgb(35,31,31);
}
#P782_161
{
left:3984.6px;bottom:18748.3px;color:rgb(35,31,31);
}
#P782_162
{
left:4289.88px;bottom:19187.7px;color:rgb(35,31,31);
}
#P782_163
{
left:4309.08px;bottom:19171.7px;letter-spacing:-144px;color:rgb(35,31,31);
}
#P782_164
{
left:13301.7px;bottom:19189.6px;word-spacing:284.2px;color:rgb(35,31,31);
}
#P782_165
{
left:14653.4px;bottom:19189.6px;color:rgb(35,31,31);
}
#P782_166
{
left:14672.6px;bottom:19573.3px;color:rgb(35,31,31);
}
#P782_167
{
left:14977.9px;bottom:19187.7px;color:rgb(35,31,31);
}
#P782_168
{
left:14653.4px;bottom:19159px;color:rgb(35,31,31);
}
#P782_169
{
left:14997.1px;bottom:19172.8px;color:rgb(35,31,31);
}
#P782_170
{
left:14672.6px;bottom:18748.3px;color:rgb(35,31,31);
}
#P782_171
{
left:14977.9px;bottom:19187.7px;color:rgb(35,31,31);
}
#P782_172
{
left:14997.1px;bottom:19171.7px;letter-spacing:-144px;color:rgb(35,31,31);
}
#P782_173
{
left:23797.7px;bottom:19189.6px;word-spacing:284.2px;color:rgb(35,31,31);
}
#P782_174
{
left:25149.4px;bottom:19189.6px;color:rgb(35,31,31);
}
#P782_175
{
left:25168.6px;bottom:19573.3px;color:rgb(35,31,31);
}
#P782_176
{
left:25473.9px;bottom:19187.7px;color:rgb(35,31,31);
}
#P782_177
{
left:25149.4px;bottom:19159px;color:rgb(35,31,31);
}
#P782_178
{
left:25493.1px;bottom:19172.8px;color:rgb(35,31,31);
}
#P782_179
{
left:25168.6px;bottom:18748.3px;color:rgb(35,31,31);
}
#P782_180
{
left:25473.9px;bottom:19187.7px;color:rgb(35,31,31);
}
#P782_181
{
left:25493.1px;bottom:19171.7px;color:rgb(35,31,31);
}
#P782_182
{
left:2613.72px;bottom:17589.6px;color:rgb(35,31,31);
}
#P782_183
{
left:3965.4px;bottom:17571.7px;color:rgb(35,31,31);
}
#P782_184
{
left:13301.7px;bottom:17589.6px;color:rgb(35,31,31);
}
#P782_185
{
left:14653.4px;bottom:17571.7px;color:rgb(35,31,31);
}
#P782_186
{
left:23797.7px;bottom:17589.6px;color:rgb(35,31,31);
}
#P782_187
{
left:25149.4px;bottom:17571.7px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P782_188
{
left:2613.72px;bottom:16309.6px;color:rgb(35,31,31);
}
#P782_189
{
left:3965.4px;bottom:16291.7px;letter-spacing:0.5px;color:rgb(35,31,31);
}
#P782_190
{
left:13301.7px;bottom:16309.6px;color:rgb(35,31,31);
}
#P782_191
{
left:14653.4px;bottom:16291.7px;color:rgb(35,31,31);
}
#P782_192
{
left:23797.7px;bottom:16309.6px;color:rgb(35,31,31);
}
#P782_193
{
left:25149.4px;bottom:16291.7px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P782_194
{
left:2613.72px;bottom:15029.6px;color:rgb(35,31,31);
}
#P782_195
{
left:3965.4px;bottom:15011.7px;letter-spacing:-0.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P782_196
{
left:0px;letter-spacing:-0.1px;margin-left:-18.7px;
}
#P782_197
{
left:0px;letter-spacing:-0.7px;
}
#P782_198
{
left:0px;letter-spacing:-0.6px;margin-left:-11.9px;
}
#P782_199
{
left:0px;letter-spacing:-0.9px;margin-left:0.6px;
}
#P782_200
{
left:0px;letter-spacing:0px;margin-left:-11.8px;
}
#P782_201
{
left:2613.72px;bottom:13749.6px;color:rgb(35,31,31);
}
#P782_202
{
left:3965.4px;bottom:13731.7px;color:rgb(35,31,31);
}
#P782_203
{
left:2613.72px;bottom:12469.6px;color:rgb(35,31,31);
}
#P782_204
{
left:3965.4px;bottom:12451.7px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P782_205
{
left:0px;letter-spacing:0px;margin-left:0.7px;
}
#P782_206
{
left:2613.72px;bottom:11189.6px;color:rgb(35,31,31);
}
#P782_207
{
left:3965.4px;bottom:11171.7px;color:rgb(35,31,31);
}
#P782_208
{
left:4492.76px;bottom:11171.7px;letter-spacing:176px;color:rgb(35,31,31);
}
#P782_209
{
left:0px;letter-spacing:0px;margin-left:-188.7px;
}
#P782_210
{
left:17909.7px;bottom:11189.6px;color:rgb(35,31,31);
}
#P782_211
{
left:19261.4px;bottom:11171.7px;letter-spacing:-52.4px;color:rgb(35,31,31);
}
#P782_212
{
left:0px;letter-spacing:-0.8px;margin-left:63.7px;
}
#P782_213
{
left:0px;letter-spacing:0px;margin-left:-24.6px;
}
#P782_214
{
left:0px;letter-spacing:0px;margin-left:-195.3px;
}
#P782_215
{
left:0px;letter-spacing:0px;margin-left:51.2px;
}
#P782_216
{
left:0px;letter-spacing:-1.3px;margin-left:-12.7px;
}
#P782_217
{
left:0px;letter-spacing:-1.8px;margin-left:1.3px;
}
#P782_218
{
left:0px;letter-spacing:0px;margin-left:-30.1px;
}
#P782_219
{
left:4797.4px;bottom:10147.7px;letter-spacing:0.2px;color:rgb(35,31,31);
}
#P782_220
{
left:2365.4px;bottom:9123.69px;letter-spacing:752px;color:rgb(35,31,31);
}
#P782_221
{
left:4029.4px;bottom:9123.69px;letter-spacing:-6.3px;color:rgb(35,31,31);
}
#P782_222
{
left:4909.53px;bottom:9123.69px;word-spacing:176px;color:rgb(35,31,31);
}
#P782_223
{
left:0px;letter-spacing:0px;margin-left:-176px;
}
#P782_224
{
left:2613.72px;bottom:7541.61px;color:rgb(35,31,31);
}
#P782_225
{
left:3965.4px;bottom:7523.69px;color:rgb(35,31,31);
}
#P782_226
{
left:4812.76px;bottom:7523.69px;word-spacing:176px;color:rgb(35,31,31);
}
#P782_227
{
left:0px;letter-spacing:0px;margin-left:-3.8px;
}
#P782_228
{
left:6222.75px;bottom:7923.37px;color:rgb(35,31,31);
}
#P782_229
{
left:6528.03px;bottom:7539.69px;color:rgb(35,31,31);
}
#P782_230
{
left:6203.55px;bottom:7509.1px;color:rgb(35,31,31);
}
#P782_231
{
left:6547.23px;bottom:7524.84px;color:rgb(35,31,31);
}
#P782_232
{
left:6222.75px;bottom:7098.35px;color:rgb(35,31,31);
}
#P782_233
{
left:6528.03px;bottom:7539.69px;color:rgb(35,31,31);
}
#P782_234
{
left:6547.23px;bottom:7523.69px;letter-spacing:-144px;color:rgb(35,31,31);
}
#P782_235
{
left:0px;letter-spacing:0px;margin-left:144px;
}
#P782_236
{
left:17909.7px;bottom:7541.61px;color:rgb(35,31,31);
}
#P782_237
{
left:19261.4px;bottom:7523.69px;color:rgb(35,31,31);
}
#P782_238
{
left:3965.4px;bottom:5923.69px;letter-spacing:-6.3px;color:rgb(35,31,31);
}
#P782_239
{
left:4525.53px;bottom:5941.61px;color:rgb(35,31,31);
}
#P782_240
{
left:4845.53px;bottom:5923.69px;word-spacing:-64px;color:rgb(35,31,31);
}
#P782_241
{
left:5283.93px;bottom:6323.37px;color:rgb(35,31,31);
}
#P782_242
{
left:5589.21px;bottom:5939.69px;color:rgb(35,31,31);
}
#P782_243
{
left:5264.73px;bottom:5909.1px;color:rgb(35,31,31);
}
#P782_244
{
left:5608.41px;bottom:5924.84px;color:rgb(35,31,31);
}
#P782_245
{
left:5283.93px;bottom:5498.35px;color:rgb(35,31,31);
}
#P782_246
{
left:5589.21px;bottom:5939.69px;color:rgb(35,31,31);
}
#P782_247
{
left:5752.41px;bottom:5923.69px;word-spacing:-144px;color:rgb(35,31,31);
}
#P782_248
{
left:17909.7px;bottom:5941.61px;color:rgb(35,31,31);
}
#P782_249
{
left:19261.4px;bottom:5923.69px;color:rgb(35,31,31);
}
#P782_250
{
left:3965.4px;bottom:4323.69px;color:rgb(35,31,31);
}
#P782_251
{
left:4460.76px;bottom:4341.61px;color:rgb(35,31,31);
}
#P782_252
{
left:4780.76px;bottom:4323.69px;color:rgb(35,31,31);
}
#P782_253
{
left:0px;letter-spacing:0px;margin-left:-3.8px;
}
#P782_254
{
left:0px;letter-spacing:0px;margin-left:-144px;
}
#P782_255
{
left:6529.95px;bottom:4723.37px;color:rgb(35,31,31);
}
#P782_256
{
left:6835.23px;bottom:4339.69px;color:rgb(35,31,31);
}
#P782_257
{
left:6510.75px;bottom:4309.1px;color:rgb(35,31,31);
}
#P782_258
{
left:6854.43px;bottom:4324.84px;color:rgb(35,31,31);
}
#P782_259
{
left:6529.95px;bottom:3898.34px;color:rgb(35,31,31);
}
#P782_260
{
left:6835.23px;bottom:4339.69px;color:rgb(35,31,31);
}
#P782_261
{
left:6998.43px;bottom:4323.69px;word-spacing:-144px;color:rgb(35,31,31);
}
#P782_262
{
left:2369.56px;bottom:25411.5px;color:white;
}
#P782_263
{
left:4932.57px;bottom:25709.9px;color:white;
}
#P782_264
{
left:5306.2px;bottom:25411.5px;color:white;
}
#P782_265
{
left:11821.4px;bottom:25871.9px;color:rgb(2,77,161);
}
#P782_266
{
left:11821.4px;bottom:24890.5px;color:rgb(2,77,161);
}
#PageContainer782
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg782.jpg");background-repeat:no-repeat;background-size: 913px 1064px; background-position: 0px 74.22px;
}
#ImageContainer782 {bottom:225.78px;left:0.00px;width:912.71px;height:1063.62px;position:absolute;} #TextContainer782 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
