.tr186{ color:transparent;}
#P186_1
{
left:2365.4px;bottom:1409.96px;color:rgb(35,31,31);
}
#P186_2
{
left:3540.44px;bottom:1409.96px;color:rgb(35,31,31);
}
#P186_3
{
left:4925.4px;bottom:1409.96px;color:rgb(35,31,31);
}
#P186_4
{
left:9125.52px;bottom:1409.96px;letter-spacing:2.1px;word-spacing:461.8px;color:rgb(35,31,31);
}
#P186_5
{
left:0px;letter-spacing:0px;margin-left:-463.9px;
}
#P186_6
{
left:0px;letter-spacing:0.3px;margin-left:0.3px;
}
#P186_7
{
left:0px;letter-spacing:0px;margin-left:-462.1px;
}
#P186_8
{
left:0px;letter-spacing:1.6px;margin-left:0.3px;
}
#P186_9
{
left:5889.56px;bottom:46957.1px;color:white;
}
#P186_10
{
left:2371.78px;bottom:46929.9px;color:white;
}
#P186_11
{
left:5450.2px;bottom:34635.8px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P186_12
{
left:12318.5px;bottom:34660.3px;color:white;
}
#P186_13
{
left:12734px;bottom:34852.1px;color:white;
}
#P186_14
{
left:12974.2px;bottom:34660.3px;color:white;
}
#P186_15
{
left:13950.6px;bottom:34852.1px;color:white;
}
#P186_16
{
left:14190.7px;bottom:34660.3px;letter-spacing:-4.6px;color:white;
}
#P186_17
{
left:0px;letter-spacing:-1.9px;margin-left:4.6px;
}
#P186_18
{
left:0px;letter-spacing:-47.4px;margin-left:-30px;
}
#P186_19
{
left:21315.7px;bottom:34852.1px;color:white;
}
#P186_20
{
left:21555.9px;bottom:34660.3px;color:white;
}
#P186_21
{
left:10474.1px;bottom:34493.2px;
}
#P186_22
{
left:10474.1px;bottom:34493.2px;color:white;
}
#P186_23
{
left:11545.5px;bottom:33030.9px;letter-spacing:-1.5px;color:rgb(35,31,31);
}
#P186_24
{
left:0px;letter-spacing:0.3px;margin-left:-12.4px;
}
#P186_25
{
left:10777.5px;bottom:31494.9px;color:rgb(35,31,31);
}
#P186_26
{
left:13145.5px;bottom:31494.9px;color:rgb(35,31,31);
}
#P186_27
{
left:13584.8px;bottom:31494.9px;color:rgb(35,31,31);
}
#P186_28
{
left:13743.2px;bottom:31465.3px;color:rgb(35,31,31);
}
#P186_29
{
left:14329.6px;bottom:31494.9px;color:rgb(35,31,31);
}
#P186_30
{
left:14488px;bottom:31494.9px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P186_31
{
left:14509.1px;bottom:31934.6px;color:rgb(35,31,31);
}
#P186_32
{
left:14844.9px;bottom:31512.5px;color:rgb(35,31,31);
}
#P186_33
{
left:14488px;bottom:31478.9px;color:rgb(35,31,31);
}
#P186_34
{
left:14866px;bottom:31496.2px;color:rgb(35,31,31);
}
#P186_35
{
left:14509.1px;bottom:31027.1px;color:rgb(35,31,31);
}
#P186_36
{
left:14844.9px;bottom:31512.5px;color:rgb(35,31,31);
}
#P186_37
{
left:14866px;bottom:31494.9px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P186_38
{
left:14954px;bottom:31494.9px;color:rgb(235,26,35);
}
#P186_39
{
left:15341.7px;bottom:31494.9px;color:rgb(0,124,196);
}
#P186_40
{
left:15769px;bottom:31494.9px;color:rgb(35,31,31);
}
#P186_41
{
left:18713.5px;bottom:31502.9px;letter-spacing:0.4px;color:rgb(0,124,196);
}
#P186_42
{
left:10777.5px;bottom:29702.9px;letter-spacing:2657.6px;color:rgb(35,31,31);
}
#P186_43
{
left:13751.9px;bottom:29673.3px;color:rgb(35,31,31);
}
#P186_44
{
left:14338.3px;bottom:29702.9px;color:rgb(35,31,31);
}
#P186_45
{
left:14496.7px;bottom:29702.9px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P186_46
{
left:14517.8px;bottom:30142.6px;color:rgb(35,31,31);
}
#P186_47
{
left:14853.7px;bottom:29720.5px;color:rgb(35,31,31);
}
#P186_48
{
left:14496.7px;bottom:29686.9px;color:rgb(35,31,31);
}
#P186_49
{
left:14874.8px;bottom:29704.2px;color:rgb(35,31,31);
}
#P186_50
{
left:14517.8px;bottom:29235.1px;color:rgb(35,31,31);
}
#P186_51
{
left:14853.7px;bottom:29720.5px;color:rgb(35,31,31);
}
#P186_52
{
left:14874.8px;bottom:29702.9px;color:rgb(35,31,31);
}
#P186_53
{
left:14874.8px;bottom:29702.9px;color:rgb(35,31,31);
}
#P186_54
{
left:15131.9px;bottom:29702.9px;color:rgb(235,26,35);
}
#P186_55
{
left:15509.7px;bottom:29702.9px;letter-spacing:-6.1px;color:rgb(35,31,31);
}
#P186_56
{
left:16012.1px;bottom:29702.9px;color:rgb(0,124,196);
}
#P186_57
{
left:16401.1px;bottom:29702.9px;color:rgb(35,31,31);
}
#P186_58
{
left:18713.5px;bottom:29710.9px;letter-spacing:0.7px;word-spacing:-0.2px;color:rgb(0,124,196);
}
#P186_59
{
left:22805.7px;bottom:29870.8px;color:rgb(0,124,196);
}
#P186_60
{
left:23295.4px;bottom:29710.9px;letter-spacing:0.3px;word-spacing:-0.3px;color:rgb(0,124,196);
}
#P186_61
{
left:25774.4px;bottom:29870.8px;color:rgb(0,124,196);
}
#P186_62
{
left:26091.2px;bottom:29710.9px;color:rgb(0,124,196);
}
#P186_63
{
left:10777.5px;bottom:27910.9px;letter-spacing:2657.6px;color:rgb(35,31,31);
}
#P186_64
{
left:13751.9px;bottom:27881.3px;color:rgb(35,31,31);
}
#P186_65
{
left:14338.3px;bottom:27910.9px;color:rgb(35,31,31);
}
#P186_66
{
left:14496.7px;bottom:27910.9px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P186_67
{
left:14517.8px;bottom:28350.6px;color:rgb(35,31,31);
}
#P186_68
{
left:14853.7px;bottom:27928.5px;color:rgb(35,31,31);
}
#P186_69
{
left:14496.7px;bottom:27894.9px;color:rgb(35,31,31);
}
#P186_70
{
left:14874.8px;bottom:27912.2px;color:rgb(35,31,31);
}
#P186_71
{
left:14517.8px;bottom:27443.1px;color:rgb(35,31,31);
}
#P186_72
{
left:14853.7px;bottom:27928.5px;color:rgb(35,31,31);
}
#P186_73
{
left:14874.8px;bottom:27910.9px;color:rgb(35,31,31);
}
#P186_74
{
left:14874.8px;bottom:27910.9px;letter-spacing:4.1px;color:rgb(35,31,31);
}
#P186_75
{
left:18713.5px;bottom:27918.9px;letter-spacing:0.9px;word-spacing:-0.5px;color:rgb(0,124,196);
}
#P186_76
{
left:10777.5px;bottom:26246.9px;letter-spacing:2657.6px;color:rgb(35,31,31);
}
#P186_77
{
left:13751.9px;bottom:26217.3px;color:rgb(35,31,31);
}
#P186_78
{
left:14496.7px;bottom:26246.9px;letter-spacing:0.1px;word-spacing:-0.1px;color:rgb(35,31,31);
}
#P186_79
{
left:18713.5px;bottom:26254.9px;letter-spacing:0.7px;word-spacing:-0.7px;color:rgb(0,124,196);
}
#P186_80
{
left:20989.5px;bottom:26676.6px;color:rgb(0,124,196);
}
#P186_81
{
left:21279.8px;bottom:26271.7px;color:rgb(0,124,196);
}
#P186_82
{
left:20969.3px;bottom:26241.6px;color:rgb(0,124,196);
}
#P186_83
{
left:21299.9px;bottom:26256.1px;color:rgb(0,124,196);
}
#P186_84
{
left:20989.5px;bottom:25810.3px;color:rgb(0,124,196);
}
#P186_85
{
left:21279.8px;bottom:26271.7px;color:rgb(0,124,196);
}
#P186_86
{
left:21461.2px;bottom:26254.9px;letter-spacing:2.7px;word-spacing:-0.4px;color:rgb(0,124,196);
}
#P186_87
{
left:10777.5px;bottom:24006.9px;color:rgb(35,31,31);
}
#P186_88
{
left:12129.5px;bottom:24198.9px;letter-spacing:520.3px;color:rgb(35,31,31);
}
#P186_89
{
left:0px;letter-spacing:0px;margin-left:-678.7px;
}
#P186_90
{
left:0px;letter-spacing:-0.2px;
}
#P186_91
{
left:0px;letter-spacing:0px;margin-left:-13.7px;
}
#P186_92
{
left:0px;letter-spacing:0px;margin-left:-14px;
}
#P186_93
{
left:11481.5px;bottom:22150.9px;letter-spacing:-1.3px;color:rgb(235,26,35);
}
#P186_94
{
left:15586.6px;bottom:22150.9px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P186_95
{
left:0px;letter-spacing:0.1px;margin-left:-202px;
}
#P186_96
{
left:0px;letter-spacing:-4.7px;margin-left:-14px;
}
#P186_97
{
left:11481.5px;bottom:21254.9px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P186_98
{
left:0px;letter-spacing:-3.5px;margin-left:-13.6px;
}
#P186_99
{
left:0px;letter-spacing:-0.8px;margin-left:3.5px;
}
#P186_100
{
left:19545.4px;bottom:18694.9px;letter-spacing:8609.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P186_101
{
left:0px;letter-spacing:-0.7px;margin-left:-8609.5px;
}
#P186_102
{
left:27995px;bottom:18694.9px;color:rgb(235,26,35);
}
#P186_103
{
left:19545.4px;bottom:17414.9px;letter-spacing:8609.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P186_104
{
left:0px;letter-spacing:-0.7px;margin-left:-8609.5px;
}
#P186_105
{
left:27200.9px;bottom:17414.9px;color:rgb(0,124,196);
}
#P186_106
{
left: 19588.5px;bottom:15750.9px;letter-spacing:8609.5px;color:rgb(35,31,31);
}
#P186_107
{
left:0px;letter-spacing:-0.9px;margin-left:-8609.5px;
}
#P186_108
{
left:24887.5px;bottom:15721.3px;color:rgb(35,31,31);
}
#P186_109
{
left:25649.9px;bottom:15750.9px;color:rgb(35,31,31);
}
#P186_110
{
left:26023.1px;bottom:15169.2px;color:rgb(35,31,31);
}
#P186_111
{
left:26269.5px;bottom:15484.5px;color:rgb(35,31,31);
}
#P186_112
{
left:26325.8px;bottom:15750.9px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P186_113
{
left:26346.9px;bottom:16190.6px;color:rgb(35,31,31);
}
#P186_114
{
left:26682.7px;bottom:15768.5px;color:rgb(35,31,31);
}
#P186_115
{
left:26325.8px;bottom:15734.9px;color:rgb(35,31,31);
}
#P186_116
{
left:26703.8px;bottom:15752.2px;color:rgb(35,31,31);
}
#P186_117
{
left:26346.9px;bottom:15283.1px;color:rgb(35,31,31);
}
#P186_118
{
left:26682.7px;bottom:15768.5px;color:rgb(35,31,31);
}
#P186_119
{
left:26703.8px;bottom:15750.9px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P186_120
{
left:26760.2px;bottom:15169.2px;color:rgb(35,31,31);
}
#P186_121
{
left:27006.6px;bottom:15750.9px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P186_122
{
left:27164.9px;bottom:15721.3px;color:rgb(35,31,31);
}
#P186_123
{
left:27751.3px;bottom:15750.9px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P186_124
{
left:0px;letter-spacing:0px;margin-left:-13.1px;
}
#P186_125
{
left: 19737.5px;bottom:14086.9px;letter-spacing:8609.6px;color:rgb(35,31,31);
}
#P186_126
{
left:0px;letter-spacing:-9.3px;margin-left:-8618px;
}
#P186_127
{
left:0px;letter-spacing:-1.3px;margin-left:9.3px;
}
#P186_128
{
left:0px;letter-spacing:-1.5px;margin-left:1.3px;
}
#P186_129
{
left:29305.4px;bottom:14175.9px;color:rgb(235,26,35);
}
#P186_130
{
left:11545.5px;bottom:9286.89px;letter-spacing:-1.5px;color:rgb(35,31,31);
}
#P186_131
{
left:0px;letter-spacing:0.3px;margin-left:-12.4px;
}
#P186_132
{
left:11545.5px;bottom:8134.89px;color:rgb(35,31,31);
}
#P186_133
{
left:11683.9px;bottom:8161.71px;color:rgb(35,31,31);
}
#P186_134
{
left:17036.7px;bottom:5645.61px;color:rgb(100,94,170);
}
#P186_135
{
left:12895.8px;bottom:7381.68px;color:rgb(100,94,170);
}
#P186_136
{
left:21757.4px;bottom:8134.89px;color:rgb(35,31,31);
}
#P186_137
{
left:23075.9px;bottom:8161.71px;color:rgb(35,31,31);
}
#P186_138
{
left:26908.3px;bottom:5209.45px;color:rgb(0,124,196);
}
#P186_139
{
left:27532.7px;bottom:7076.27px;color:rgb(0,124,196);
}
#P186_140
{
left:2514.73px;bottom:29527.5px;color:white;
}
#P186_141
{
left:2749.4px;bottom:28433.6px;color:rgb(35,31,31);
}
#P186_142
{
left:2749.4px;bottom:27665.6px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P186_143
{
left:2749.4px;bottom:26897.6px;color:rgb(35,31,31);
}
#P186_144
{
left:2749.4px;bottom:26129.6px;color:rgb(35,31,31);
}
#P186_145
{
left:0px;letter-spacing:0px;margin-left:-178px;
}
#P186_146
{
left:5709.4px;bottom:8390.89px;color:rgb(35,31,31);
}
#P186_147
{
left:0px;letter-spacing:0px;margin-left:34.6px;
}
#P186_148
{
left:26785.2px;bottom:46188.3px;word-spacing:0.2px;color:rgb(33,31,31);
}
#P186_149
{
left:0px;letter-spacing:0px;margin-left:-44.8px;
}
#P186_150
{
left:0px;letter-spacing:0px;margin-left:0.2px;
}
#P186_151
{
left:12293.4px;bottom:42218.2px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P186_152
{
left:0px;letter-spacing:-38.7px;margin-left:-24.6px;
}
#P186_153
{
left:15920px;bottom:42374.4px;color:rgb(35,31,31);
}
#P186_154
{
left:16115.7px;bottom:42218.2px;color:rgb(35,31,31);
}
#P186_155
{
left:12293.4px;bottom:41151.5px;letter-spacing:-5.4px;color:rgb(2,77,161);
}
#P186_156
{
left:14265.9px;bottom:41134.4px;letter-spacing:508.3px;color:rgb(35,31,31);
}
#P186_157
{
left:14969.9px;bottom:41110.4px;letter-spacing:-1.7px;color:rgb(35,31,31);
}
#P186_158
{
left:17871.3px;bottom:41078.4px;color:rgb(35,31,31);
}
#P186_159
{
left:18310.6px;bottom:41110.4px;letter-spacing:0.2px;color:rgb(35,31,31);
}
#P186_160
{
left:14969.9px;bottom:40214.4px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P186_161
{
left:20989.1px;bottom:40214.4px;color:rgb(35,31,31);
}
#P186_162
{
left:21382.7px;bottom:40214.4px;color:rgb(35,31,31);
}
#P186_163
{
left:26024.7px;bottom:40214.4px;color:rgb(35,31,31);
}
#P186_164
{
left:26452.1px;bottom:40214.4px;color:rgb(35,31,31);
}
#P186_165
{
left:12293.4px;bottom:38687.5px;letter-spacing:2.4px;color:rgb(2,77,161);
}
#P186_166
{
left:15420.5px;bottom:38646.4px;color:rgb(35,31,31);
}
#P186_167
{
left:15859.8px;bottom:38678.5px;color:rgb(35,31,31);
}
#P186_168
{
left:16018.2px;bottom:38648.9px;color:rgb(35,31,31);
}
#P186_169
{
left:16604.6px;bottom:38678.5px;color:rgb(35,31,31);
}
#P186_170
{
left:16763px;bottom:38822.4px;letter-spacing:-169px;color:rgb(35,31,31);
}
#P186_171
{
left:16803.9px;bottom:39118.1px;color:rgb(35,31,31);
}
#P186_172
{
left:17139.7px;bottom:38664px;color:rgb(35,31,31);
}
#P186_173
{
left:16782.7px;bottom:38662.4px;color:rgb(35,31,31);
}
#P186_174
{
left:17160.8px;bottom:38647.7px;color:rgb(35,31,31);
}
#P186_175
{
left:16803.9px;bottom:38210.6px;color:rgb(35,31,31);
}
#P186_176
{
left:17139.7px;bottom:38664px;color:rgb(35,31,31);
}
#P186_177
{
left:17217.1px;bottom:38822.4px;color:rgb(35,31,31);
}
#P186_178
{
left:17217.1px;bottom:38678.5px;letter-spacing:-5.8px;color:rgb(35,31,31);
}
#P186_179
{
left:30297.8px;bottom:40412.4px;color:rgb(0,124,196);
}
#P186_180
{
left:30865.2px;bottom:38460.3px;color:rgb(0,124,196);
}
#P186_181
{
left:28964.1px;bottom:25846.4px;color:rgb(207,153,14);
}
#P186_182
{
left:31379.2px;bottom:28873.3px;color:rgb(207,153,14);
}
#PageContainer186
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg186.jpg");background-repeat:no-repeat;background-size: 943px 1220px; background-position: 0px 34.6099999999999px;
}
#ImageContainer186 {bottom:109.39px;left:0.00px;width:943.34px;height:1219.59px;position:absolute;} #TextContainer186 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.example1{position: absolute;top: 391px;left: 104px;}
.nyr{position: absolute;top: 1091px;left: 120px;}
.nyr_exr{position: absolute;top: 1125px;left: 143px;color: rgb(30,31,31);font-size: 16px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}