.tr384{ color:transparent;}
#P384_1
{
left:5889.56px;bottom:46957.1px;letter-spacing:-6px;color:white;
}
#P384_2
{
left:9101.98px;bottom:47255.5px;color:white;
}
#P384_3
{
left:9475.61px;bottom:46957.1px;color:white;
}
#P384_4
{
left:2371.78px;bottom:46929.9px;color:white;
}
#P384_5
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P384_6
{
left:3540.44px;bottom:1410.03px;color:rgb(35,31,31);
}
#P384_7
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P384_8
{
left:9121.88px;bottom:1410.03px;letter-spacing:462.3px;word-spacing:-0.3px;color:rgb(35,31,31);
}
#P384_9
{
left:0px;letter-spacing:3.9px;margin-left:-462.1px;
}
#P384_10
{
left:0px;letter-spacing:-0.8px;margin-left:173.2px;
}
#P384_11
{
left:0px;letter-spacing:2.1px;margin-left:1.8px;
}
#P384_12
{
left:4690.71px;bottom:42341px;color:rgb(2,77,161);
}
#P384_13
{
left:6593.63px;bottom:42321.3px;color:rgb(35,31,31);
}
#P384_14
{
left:6945.63px;bottom:42321.3px;letter-spacing:-0.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P384_15
{
left:17621.7px;bottom:42326.9px;color:rgb(35,31,31);
}
#P384_16
{
left:18965.6px;bottom:42321.3px;color:rgb(35,31,31);
}
#P384_17
{
left:19982.9px;bottom:42326.9px;color:rgb(35,31,31);
}
#P384_18
{
left:21703.4px;bottom:42321.3px;letter-spacing:-3.2px;color:rgb(35,31,31);
}
#P384_19
{
left:0px;letter-spacing:0px;margin-left:3.2px;
}
#P384_20
{
left:4690.71px;bottom:41425.3px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P384_21
{
left:4690.71px;bottom:40274.1px;color:rgb(35,31,31);
}
#P384_22
{
left:5259.29px;bottom:40293.8px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P384_23
{
left:6354.71px;bottom:40274.1px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P384_24
{
left:6354.71px;bottom:39378.1px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P384_25
{
left:4690.71px;bottom:38290.1px;color:rgb(35,31,31);
}
#P384_26
{
left:5259.29px;bottom:38309.8px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P384_27
{
left:6354.71px;bottom:38290.1px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P384_28
{
left:0px;letter-spacing:-1.2px;margin-left:-16.5px;
}
#P384_29
{
left:0px;letter-spacing:0px;margin-left:1.2px;
}
#P384_30
{
left:6354.71px;bottom:37394.1px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P384_31
{
left:0px;letter-spacing:0px;margin-left:-13px;
}
#P384_32
{
left:4690.71px;bottom:36306.1px;color:rgb(35,31,31);
}
#P384_33
{
left:5259.29px;bottom:36325.8px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P384_34
{
left:6354.71px;bottom:36306.1px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P384_35
{
left:6354.71px;bottom:35410.1px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P384_36
{
left:0px;letter-spacing:0px;margin-left:-6.2px;
}
#P384_37
{
left:20050.6px;bottom:40274.1px;color:rgb(35,31,31);
}
#P384_38
{
left:20619.2px;bottom:40293.8px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P384_39
{
left:21714.6px;bottom:40274.1px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P384_40
{
left:21714.6px;bottom:39378.1px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P384_41
{
left:0px;letter-spacing:0px;margin-left:-13.1px;
}
#P384_42
{
left:20050.6px;bottom:38290.1px;color:rgb(35,31,31);
}
#P384_43
{
left:20619.2px;bottom:38309.8px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P384_44
{
left:21714.6px;bottom:38290.1px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P384_45
{
left:0px;letter-spacing:-1.2px;margin-left:-16.5px;
}
#P384_46
{
left:0px;letter-spacing:-1.6px;margin-left:1.2px;
}
#P384_47
{
left:21714.6px;bottom:37394.1px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P384_48
{
left:20050.6px;bottom:36306.1px;color:rgb(35,31,31);
}
#P384_49
{
left:20619.2px;bottom:36325.8px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P384_50
{
left:21714.6px;bottom:36306.1px;letter-spacing:-4.2px;color:rgb(35,31,31);
}
#P384_51
{
left:0px;letter-spacing:-0.5px;margin-left:4.2px;
}
#P384_52
{
left:21714.6px;bottom:35410.1px;letter-spacing:-4.1px;color:rgb(35,31,31);
}
#P384_53
{
left:0px;letter-spacing:-2.3px;margin-left:4.1px;
}
#P384_54
{
left:0px;letter-spacing:0px;margin-left:2.3px;
}
#P384_55
{
left:4086.06px;bottom:33656px;color:rgb(33,31,31);
}
#P384_56
{
left:4172.45px;bottom:33687.4px;letter-spacing:-0.2px;color:rgb(33,31,31);
}
#P384_57
{
left:4455.46px;bottom:33790.1px;letter-spacing:0.8px;color:rgb(33,31,31);
}
#P384_58
{
left:4602.53px;bottom:33843.5px;color:rgb(33,31,31);
}
#P384_59
{
left:4164.48px;bottom:33476.8px;color:rgb(33,31,31);
}
#P384_60
{
left:4250.85px;bottom:33508.1px;letter-spacing:-0.7px;color:rgb(33,31,31);
}
#P384_61
{
left:4448.29px;bottom:33579.9px;color:rgb(33,31,31);
}
#P384_62
{
left:4533.86px;bottom:33610.9px;letter-spacing:0.8px;color:rgb(33,31,31);
}
#P384_63
{
left:4259.68px;bottom:33297.6px;color:rgb(33,31,31);
}
#P384_64
{
left:4346.08px;bottom:33329px;letter-spacing:-0.2px;color:rgb(33,31,31);
}
#P384_65
{
left:4629.09px;bottom:33431.7px;letter-spacing:0.8px;color:rgb(33,31,31);
}
#P384_66
{
left:4424.86px;bottom:33048.3px;color:rgb(33,31,31);
}
#P384_67
{
left:4511.26px;bottom:33079.8px;letter-spacing:-0.2px;color:rgb(33,31,31);
}
#P384_68
{
left:4794.27px;bottom:33182.4px;letter-spacing:0.8px;color:rgb(33,31,31);
}
#P384_69
{
left:4669.4px;bottom:31216.2px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P384_70
{
left:0px;letter-spacing:0px;margin-left:-27.6px;
}
#P384_71
{
left:0px;letter-spacing:-9.3px;
}
#P384_72
{
left:0px;letter-spacing:-0.8px;margin-left:9.3px;
}
#P384_73
{
left:0px;letter-spacing:0px;margin-left:-27.3px;
}
#P384_74
{
left:0px;letter-spacing:0px;
}
#P384_75
{
left:0px;letter-spacing:0px;margin-left:-225.2px;
}
#P384_76
{
left:0px;letter-spacing:0px;margin-left:77.1px;
}
#P384_77
{
left:0px;letter-spacing:0px;
}
#P384_78
{
left:4669.4px;bottom:30320.2px;color:rgb(35,31,31);
}
#P384_79
{
left:4669.4px;bottom:29168.2px;color:rgb(35,31,31);
}
#P384_80
{
left:5237.98px;bottom:29187.9px;color:rgb(35,31,31);
}
#P384_81
{
left:10075.4px;bottom:29168.2px;color:rgb(35,31,31);
}
#P384_82
{
left:15542px;bottom:29187.9px;color:rgb(35,31,31);
}
#P384_83
{
left:21160.7px;bottom:29168.2px;color:rgb(35,31,31);
}
#P384_84
{
left:25846px;bottom:29187.9px;color:rgb(35,31,31);
}
#P384_85
{
left:4669.4px;bottom:25328.2px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P384_86
{
left:0px;letter-spacing:0px;margin-left:-27.4px;
}
#P384_87
{
left:0px;letter-spacing:-7px;
}
#P384_88
{
left:0px;letter-spacing:-0.2px;margin-left:7px;
}
#P384_89
{
left:4669.4px;bottom:24176.2px;color:rgb(35,31,31);
}
#P384_90
{
left:4846.55px;bottom:24195.9px;color:rgb(35,31,31);
}
#P384_91
{
left:9070.11px;bottom:24176.2px;color:rgb(35,31,31);
}
#P384_92
{
left:15150.6px;bottom:24195.9px;color:rgb(35,31,31);
}
#P384_93
{
left:21271.7px;bottom:24176.2px;color:rgb(35,31,31);
}
#P384_94
{
left:25454.6px;bottom:24195.9px;color:rgb(35,31,31);
}
#P384_95
{
left:4669.4px;bottom:18672.2px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P384_96
{
left:4669.4px;bottom:17520.2px;color:rgb(35,31,31);
}
#P384_97
{
left:4846.55px;bottom:17539.9px;color:rgb(35,31,31);
}
#P384_98
{
left:6269.4px;bottom:17520.2px;letter-spacing:0.7px;color:rgb(35,31,31);
}
#P384_99
{
left:20078.6px;bottom:17539.9px;color:rgb(35,31,31);
}
#P384_100
{
left:21373.4px;bottom:17520.2px;letter-spacing:0.4px;color:rgb(35,31,31);
}
#P384_101
{
left:4669.4px;bottom:16176.2px;color:rgb(35,31,31);
}
#P384_102
{
left:4846.55px;bottom:16195.9px;color:rgb(35,31,31);
}
#P384_103
{
left:6269.4px;bottom:16176.2px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P384_104
{
left:0px;letter-spacing:-1.2px;margin-left:-16.4px;
}
#P384_105
{
left:20078.6px;bottom:16195.9px;color:rgb(35,31,31);
}
#P384_106
{
left:21373.4px;bottom:16176.2px;letter-spacing:-1.5px;color:rgb(35,31,31);
}
#P384_107
{
left:0px;letter-spacing:0px;margin-left:-5.4px;
}
#P384_108
{
left:4669.4px;bottom:14576.2px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P384_109
{
left:0px;letter-spacing:0px;margin-left:-27.6px;
}
#P384_110
{
left:0px;letter-spacing:-9.3px;
}
#P384_111
{
left:0px;letter-spacing:0px;margin-left:9.3px;
}
#P384_112
{
left:4669.4px;bottom:13424.1px;color:rgb(35,31,31);
}
#P384_113
{
left:4846.55px;bottom:13443.8px;color:rgb(35,31,31);
}
#P384_114
{
left:12966.4px;bottom:13424.2px;color:rgb(35,31,31);
}
#P384_115
{
left:15150.5px;bottom:13443.9px;color:rgb(35,31,31);
}
#P384_116
{
left:21995.9px;bottom:13424.2px;color:rgb(35,31,31);
}
#P384_117
{
left:25454.6px;bottom:13443.9px;color:rgb(35,31,31);
}
#P384_118
{
left:4669.4px;bottom:7472.17px;color:rgb(35,31,31);
}
#P384_119
{
left:4846.55px;bottom:7491.88px;color:rgb(35,31,31);
}
#P384_120
{
left:12157.4px;bottom:7472.17px;color:rgb(35,31,31);
}
#P384_121
{
left:15150.6px;bottom:7491.88px;color:rgb(35,31,31);
}
#P384_122
{
left:23181.4px;bottom:7472.17px;color:rgb(35,31,31);
}
#P384_123
{
left:25454.6px;bottom:7491.88px;color:rgb(35,31,31);
}
#P384_124
{
left:26785.2px;bottom:46233.7px;word-spacing:0.2px;color:rgb(33,31,31);
}
#P384_125
{
left:3963.8px;bottom:24236.2px;
}
#P384_126
{
left:3963.8px;bottom:24236.2px;color:white;
}
#P384_127
{
left:3963.8px;bottom:17580.2px;
}
#P384_128
{
left:3963.8px;bottom:17580.2px;color:white;
}
#P384_129
{
left:3963.8px;bottom:13480px;
}
#P384_130
{
left:3963.8px;bottom:13480px;color:white;
}
#PageContainer384
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg384.jpg");background-repeat:no-repeat;background-size: 942px 1232px; background-position: 0px 35.0599999999999px;
}
#ImageContainer384 {bottom:96.94px;left:0.00px;width:942.01px;height:1231.57px;position:absolute;} #TextContainer384 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.answer{
                            position: absolute;
                            top: 51px;
                            left: 22px;
}
.c1{position: absolute;top: 678px;left: 96px;}
.c2{position: absolute;top: 858px;left: 98px;}
.c3{position: absolute;top: 968px;left: 98px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}