.tr83{ color:transparent;}
#P83_1
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P83_2
{
left:23548.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P83_3
{
left:28097.8px;bottom:1410.03px;letter-spacing:0.8px;word-spacing:459.9px;color:rgb(35,31,31);
}
#P83_4
{
left:0px;letter-spacing:0px;margin-left:-460.7px;
}
#P83_5
{
left:0px;letter-spacing:5.8px;margin-left:-6.9px;
}
#P83_6
{
left:0px;letter-spacing:2.4px;margin-left:-10.1px;
}
#P83_7
{
left:36142px;bottom:1410.03px;color:rgb(35,31,31);
}
#P83_8
{
left:7737.11px;bottom:46049.6px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P83_9
{
left:14605.4px;bottom:46074.2px;color:white;
}
#P83_10
{
left:16989.2px;bottom:46266px;color:white;
}
#P83_11
{
left:17229.4px;bottom:46074.2px;word-spacing:-31.9px;color:white;
}
#P83_12
{
left:19997.7px;bottom:46266px;color:white;
}
#P83_13
{
left:20237.9px;bottom:46074.2px;color:white;
}
#P83_14
{
left:21421.6px;bottom:46266px;color:white;
}
#P83_15
{
left:21661.8px;bottom:46074.2px;color:white;
}
#P83_16
{
left:12761px;bottom:45907.1px;
}
#P83_17
{
left:12761px;bottom:45907.1px;color:white;
}
#P83_18
{
left:14317.4px;bottom:44282.2px;color:rgb(35,31,31);
}
#P83_19
{
left:0px;letter-spacing:0px;margin-left:-63.3px;
}
#P83_20
{
left:0px;letter-spacing:0px;margin-left:-10.5px;
}
#P83_21
{
left:0px;letter-spacing:0px;margin-left:-147.8px;
}
#P83_22
{
left:17408.1px;bottom:44721.8px;color:rgb(35,31,31);
}
#P83_23
{
left:17762.9px;bottom:44299.8px;color:rgb(35,31,31);
}
#P83_24
{
left:17387px;bottom:44266.1px;color:rgb(35,31,31);
}
#P83_25
{
left:17784px;bottom:44283.4px;color:rgb(35,31,31);
}
#P83_26
{
left:17408.1px;bottom:43814.3px;color:rgb(35,31,31);
}
#P83_27
{
left:17762.9px;bottom:44299.8px;color:rgb(35,31,31);
}
#P83_28
{
left:17784px;bottom:44282.2px;color:rgb(35,31,31);
}
#P83_29
{
left:0px;letter-spacing:0px;margin-left:-147.8px;
}
#P83_30
{
left:0px;letter-spacing:0px;margin-left:-225px;
}
#P83_31
{
left:0px;letter-spacing:0px;margin-left:77.1px;
}
#P83_32
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P83_33
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P83_34
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P83_35
{
left:0px;letter-spacing:0px;margin-left:-63.2px;
}
#P83_36
{
left:0px;letter-spacing:0px;margin-left:-147.8px;
}
#P83_37
{
left:25907.2px;bottom:44721.8px;color:rgb(35,31,31);
}
#P83_38
{
left:26262px;bottom:44299.8px;color:rgb(35,31,31);
}
#P83_39
{
left:25886px;bottom:44266.1px;color:rgb(35,31,31);
}
#P83_40
{
left:26283.1px;bottom:44283.4px;color:rgb(35,31,31);
}
#P83_41
{
left:25907.2px;bottom:43814.3px;color:rgb(35,31,31);
}
#P83_42
{
left:26262px;bottom:44299.8px;color:rgb(35,31,31);
}
#P83_43
{
left:26283.1px;bottom:44282.2px;color:rgb(35,31,31);
}
#P83_44
{
left:0px;letter-spacing:0px;margin-left:-147.8px;
}
#P83_45
{
left:0px;letter-spacing:0px;margin-left:-225px;
}
#P83_46
{
left:0px;letter-spacing:0px;margin-left:77.1px;
}
#P83_47
{
left:14317.3px;bottom:43130.2px;letter-spacing:-1.9px;color:rgb(35,31,31);
}
#P83_48
{
left:0px;letter-spacing:-14px;margin-left:1.9px;
}
#P83_49
{
left:0px;letter-spacing:-0.4px;margin-left:14px;
}
#P83_50
{
left:14317.3px;bottom:42234.2px;color:rgb(35,31,31);
}
#P83_51
{
left:14317.3px;bottom:40698.2px;letter-spacing:-2.6px;color:rgb(35,31,31);
}
#P83_52
{
left:17589.7px;bottom:40698.2px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P83_53
{
left:0px;letter-spacing:0px;margin-left:-352px;
}
#P83_54
{
left:0px;letter-spacing:0px;margin-left:-28px;
}
#P83_55
{
left:0px;letter-spacing:-0.5px;
}
#P83_56
{
left:0px;letter-spacing:0px;margin-left:-13.4px;
}
#P83_57
{
left:17941.7px;bottom:39802.2px;letter-spacing:-0.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P83_58
{
left: 15481.4px;bottom:38138.2px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P83_59
{
left:0px;letter-spacing:-14px;
margin-left: 0px;
}
#P83_60
{
left:0px;letter-spacing:-0.5px;margin-left:14px;
}
#P83_61
{
left:0px;letter-spacing:0px;margin-left:-157.9px;
}
#P83_62
{
left:19487.1px;bottom:38577.8px;color:rgb(35,31,31);
}
#P83_63
{
left:19822.9px;bottom:38155.8px;color:rgb(35,31,31);
}
#P83_64
{
left:19298.1px;bottom:38122.1px;color:rgb(35,31,31);
}
#P83_65
{
left:20011.9px;bottom:38139.4px;color:rgb(35,31,31);
}
#P83_66
{
left:19319.2px;bottom:37670.3px;color:rgb(35,31,31);
}
#P83_67
{
left:19990.8px;bottom:38155.8px;color:rgb(35,31,31);
}
#P83_68
{
left:20011.9px;bottom:38138.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P83_69
{
left:20170.3px;bottom:38108.6px;color:rgb(35,31,31);
}
#P83_70
{
left:20756.8px;bottom:38138.2px;color:rgb(35,31,31);
}
#P83_71
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P83_72
{
left:20936.3px;bottom:38577.8px;color:rgb(35,31,31);
}
#P83_73
{
left:21272.1px;bottom:38155.8px;color:rgb(35,31,31);
}
#P83_74
{
left:20915.2px;bottom:38122.1px;color:rgb(35,31,31);
}
#P83_75
{
left:21293.2px;bottom:38139.4px;color:rgb(35,31,31);
}
#P83_76
{
left:20936.3px;bottom:37670.3px;color:rgb(35,31,31);
}
#P83_77
{
left:21272.1px;bottom:38155.8px;color:rgb(35,31,31);
}
#P83_78
{
left:21293.2px;bottom:38138.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P83_79
{
left:0px;letter-spacing:-0.8px;margin-left:158.4px;
}
#P83_80
{
left:14317.4px;bottom:36090.2px;letter-spacing:-2.6px;color:rgb(35,31,31);
}
#P83_81
{
left:17916.4px;bottom:36090.2px;letter-spacing:-70.3px;word-spacing:238.7px;color:rgb(35,31,31);
}
#P83_82
{
left:0px;letter-spacing:0px;margin-left:228.8px;
}
#P83_83
{
left:19277.5px;bottom:36090.2px;word-spacing:56.3px;color:rgb(35,31,31);
}
#P83_84
{
left:20313.6px;bottom:36529.8px;color:rgb(35,31,31);
}
#P83_85
{
left:20649.4px;bottom:36107.8px;color:rgb(35,31,31);
}
#P83_86
{
left:20292.5px;bottom:36074.1px;color:rgb(35,31,31);
}
#P83_87
{
left:20670.6px;bottom:36091.4px;color:rgb(35,31,31);
}
#P83_88
{
left:20313.6px;bottom:35622.3px;color:rgb(35,31,31);
}
#P83_89
{
left:20649.4px;bottom:36107.8px;color:rgb(35,31,31);
}
#P83_90
{
left:20670.6px;bottom:36090.2px;color:rgb(35,31,31);
}
#P83_91
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P83_92
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P83_93
{
left:21639.3px;bottom:36529.8px;color:rgb(35,31,31);
}
#P83_94
{
left:21975.1px;bottom:36107.8px;color:rgb(35,31,31);
}
#P83_95
{
left:21618.1px;bottom:36074.1px;color:rgb(35,31,31);
}
#P83_96
{
left:21996.2px;bottom:36091.4px;color:rgb(35,31,31);
}
#P83_97
{
left:21639.3px;bottom:35622.3px;color:rgb(35,31,31);
}
#P83_98
{
left:21975.1px;bottom:36107.8px;color:rgb(35,31,31);
}
#P83_99
{
left:21996.2px;bottom:36090.2px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P83_100
{
left:0px;letter-spacing:0px;margin-left:158.4px;
}
#P83_101
{
left:0px;letter-spacing:0px;margin-left:-66.9px;
}
#P83_102
{
left:14317.4px;bottom:33786.2px;letter-spacing:892.6px;color:rgb(35,31,31);
}
#P83_103
{
left:0px;letter-spacing:0px;margin-left:-1051.1px;
}
#P83_104
{
left:15389.5px;bottom:34225.8px;color:rgb(35,31,31);
}
#P83_105
{
left:15725.3px;bottom:33803.8px;color:rgb(35,31,31);
}
#P83_106
{
left:15368.4px;bottom:33770.1px;color:rgb(35,31,31);
}
#P83_107
{
left:15746.5px;bottom:33787.4px;color:rgb(35,31,31);
}
#P83_108
{
left:15389.5px;bottom:33318.3px;color:rgb(35,31,31);
}
#P83_109
{
left:15725.3px;bottom:33803.8px;color:rgb(35,31,31);
}
#P83_110
{
left:15746.5px;bottom:33786.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P83_111
{
left:15904.9px;bottom:33756.6px;color:rgb(35,31,31);
}
#P83_112
{
left:16491.3px;bottom:33786.2px;color:rgb(35,31,31);
}
#P83_113
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P83_114
{
left:16670.8px;bottom:34225.8px;color:rgb(35,31,31);
}
#P83_115
{
left:17006.6px;bottom:33803.8px;color:rgb(35,31,31);
}
#P83_116
{
left:16649.7px;bottom:33770.1px;color:rgb(35,31,31);
}
#P83_117
{
left:17027.7px;bottom:33787.4px;color:rgb(35,31,31);
}
#P83_118
{
left:16670.8px;bottom:33318.3px;color:rgb(35,31,31);
}
#P83_119
{
left:17006.6px;bottom:33803.8px;color:rgb(35,31,31);
}
#P83_120
{
left:17027.7px;bottom:33786.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P83_121
{
left:17186.1px;bottom:33756.6px;color:rgb(35,31,31);
}
#P83_122
{
left:17772.5px;bottom:33786.2px;color:rgb(35,31,31);
}
#P83_123
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P83_124
{
left:17952px;bottom:34225.8px;
}
#P83_125
{
left:18430.4px;bottom:34199.2px;color:rgb(35,31,31);
}
#P83_126
{
left:18958.2px;bottom:34225.8px;color:rgb(35,31,31);
}
#P83_127
{
left:19436.6px;bottom:33803.8px;color:rgb(35,31,31);
}
#P83_128
{
left:17930.9px;bottom:33770.1px;color:rgb(35,31,31);
}
#P83_129
{
left:19457.7px;bottom:33787.4px;color:rgb(35,31,31);
}
#P83_130
{
left:17952px;bottom:33318.3px;
}
#P83_131
{
left:18430.4px;bottom:33291.7px;color:rgb(35,31,31);
}
#P83_132
{
left:18958.2px;bottom:33318.3px;
}
#P83_133
{
left:19436.6px;bottom:33803.8px;color:rgb(35,31,31);
}
#P83_134
{
left:19457.7px;bottom:33786.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P83_135
{
left:14317.4px;bottom:31738.2px;letter-spacing:892.6px;color:rgb(35,31,31);
}
#P83_136
{
left:0px;letter-spacing:0px;margin-left:613px;
}
#P83_137
{
left:17190.8px;bottom:31708.6px;color:rgb(35,31,31);
}
#P83_138
{
left:17777.2px;bottom:31738.2px;color:rgb(35,31,31);
}
#P83_139
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P83_140
{
left:17956.7px;bottom:32177.8px;color:rgb(35,31,31);
}
#P83_141
{
left:18292.5px;bottom:31755.8px;color:rgb(35,31,31);
}
#P83_142
{
left:17935.6px;bottom:31722.1px;color:rgb(35,31,31);
}
#P83_143
{
left:18313.6px;bottom:31739.4px;color:rgb(35,31,31);
}
#P83_144
{
left:17956.7px;bottom:31270.3px;color:rgb(35,31,31);
}
#P83_145
{
left:18292.5px;bottom:31755.8px;color:rgb(35,31,31);
}
#P83_146
{
left:18313.6px;bottom:31738.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P83_147
{
left:21768.4px;bottom:31746.2px;color:rgb(0,124,196);
}
#P83_148
{
left:0px;letter-spacing:0px;margin-left:-49.7px;
}
#P83_149
{
left: 15531.4px;bottom:29690.2px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P83_150
{
left:0px;letter-spacing:-14px;
margin-left: 0px;
}
#P83_151
{
left:0px;letter-spacing:-0.5px;margin-left:14px;
}
#P83_152
{
left:0px;letter-spacing:0px;margin-left:-157.9px;
}
#P83_153
{
left:19319.2px;bottom:30129.8px;color:rgb(35,31,31);
}
#P83_154
{
left:19655px;bottom:29707.8px;color:rgb(35,31,31);
}
#P83_155
{
left:19298.1px;bottom:29674.1px;color:rgb(35,31,31);
}
#P83_156
{
left:19676.1px;bottom:29691.4px;color:rgb(35,31,31);
}
#P83_157
{
left:19319.2px;bottom:29222.3px;color:rgb(35,31,31);
}
#P83_158
{
left:19655px;bottom:29707.8px;color:rgb(35,31,31);
}
#P83_159
{
left:19676.1px;bottom:29690.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P83_160
{
left:0px;letter-spacing:-0.8px;margin-left:158.4px;
}
#P83_161
{
left:13832.4px;bottom:25978.2px;color:rgb(35,31,31);
}
#P83_162
{
left:14296px;bottom:26005px;word-spacing:453.2px;color:rgb(35,31,31);
}
#P83_163
{
left:15496.4px;bottom:25997.9px;color:rgb(2,77,161);
}
#P83_164
{
left:0px;letter-spacing:0px;margin-left:-38.7px;
}
#P83_165
{
left:0px;letter-spacing:0px;margin-left:70.4px;
}
#P83_166
{
left:18435.6px;bottom:25978.2px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P83_167
{
left:0px;letter-spacing:-0.3px;margin-left:-206.1px;
}
#P83_168
{
left:0px;letter-spacing:0px;margin-left:-3.8px;
}
#P83_169
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P83_170
{
left:25878.5px;bottom:26417.8px;color:rgb(35,31,31);
}
#P83_171
{
left:26214.3px;bottom:25995.8px;color:rgb(35,31,31);
}
#P83_172
{
left:25857.4px;bottom:25962.1px;color:rgb(35,31,31);
}
#P83_173
{
left:26235.4px;bottom:25979.4px;color:rgb(35,31,31);
}
#P83_174
{
left:25878.5px;bottom:25510.3px;color:rgb(35,31,31);
}
#P83_175
{
left:26214.3px;bottom:25995.8px;color:rgb(35,31,31);
}
#P83_176
{
left:26235.4px;bottom:25978.2px;color:rgb(35,31,31);
}
#P83_177
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P83_178
{
left:0px;letter-spacing:0px;margin-left:-214.8px;
}
#P83_179
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P83_180
{
left:13832.4px;bottom:24698.2px;color:rgb(35,31,31);
}
#P83_181
{
left:14856.4px;bottom:24725px;color:rgb(35,31,31);
}
#P83_182
{
left:15432.4px;bottom:24698.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P83_183
{
left:0px;letter-spacing:-7px;margin-left:137.4px;
}
#P83_184
{
left:0px;letter-spacing:-0.6px;margin-left:7px;
}
#P83_185
{
left:0px;letter-spacing:0px;margin-left:0.6px;
}
#P83_186
{
left:30555.5px;bottom:38789.8px;color:rgb(35,31,31);
}
#P83_187
{
left:30555.5px;bottom:38183px;color:rgb(35,31,31);
}
#P83_188
{
left:33259.9px;bottom:36394.7px;color:rgb(35,31,31);
}
#P83_189
{
left:33259.9px;bottom:35787.9px;color:rgb(35,31,31);
}
#P83_190
{
left:21757.4px;bottom:34096px;letter-spacing:-0.6px;color:rgb(0,124,196);
}
#P83_191
{
left:0px;letter-spacing:0px;margin-left:-24.2px;
}
#P83_192
{
left:21757.4px;bottom:33200px;letter-spacing:-1px;color:rgb(0,124,196);
}
#P83_193
{
left:12307px;bottom:40985.8px;color:rgb(35,31,31);
}
#P83_194
{
left:12307px;bottom:40333px;color:rgb(35,31,31);
}
#P83_195
{
left:13284.1px;bottom:40566.6px;color:rgb(35,31,31);
}
#P83_196
{
left:13284.1px;bottom:39913.8px;color:rgb(35,31,31);
}
#P83_197
{
left:17618.7px;bottom:34691.2px;color:rgb(235,26,35);
}
#P83_198
{
left:17437.4px;bottom:32912px;color:rgb(235,26,35);
}
#P83_199
{
left:19568.6px;bottom:34682.7px;color:rgb(235,26,35);
}
#P83_200
{
left:19453.4px;bottom:32924.8px;color:rgb(235,26,35);
}
#P83_201
{
left:14177.7px;bottom:20106.2px;color:rgb(35,31,31);
}
#P83_202
{
left:15638.5px;bottom:20262.4px;color:rgb(35,31,31);
}
#P83_203
{
left:15834.2px;bottom:20106.2px;color:rgb(35,31,31);
}
#P83_204
{
left:16799.4px;bottom:20262.4px;color:rgb(35,31,31);
}
#P83_205
{
left:16995.1px;bottom:20106.2px;color:rgb(35,31,31);
}
#P83_206
{
left:18573.5px;bottom:20262.4px;color:rgb(35,31,31);
}
#P83_207
{
left:18769.2px;bottom:20106.2px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P83_208
{
left:14177.7px;bottom:18998.4px;letter-spacing:-13.1px;color:rgb(35,31,31);
}
#P83_209
{
left:0px;letter-spacing:-0.2px;margin-left:13.1px;
}
#P83_210
{
left:0px;letter-spacing:0px;margin-left:-25px;
}
#P83_211
{
left:0px;letter-spacing:0px;
}
#P83_212
{
left:14177.7px;bottom:18102.4px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P83_213
{
left:7869.4px;bottom:15009.6px;letter-spacing:61.4px;color:rgb(2,77,161);
}
#P83_214
{
left:14737.7px;bottom:15034.2px;color:white;
}
#P83_215
{
left:16530.5px;bottom:15226px;color:white;
}
#P83_216
{
left:16770.6px;bottom:15034.2px;color:white;
}
#P83_217
{
left:17955.2px;bottom:15226px;color:white;
}
#P83_218
{
left:18195.4px;bottom:15034.2px;letter-spacing:-1.7px;color:white;
}
#P83_219
{
left:22005px;bottom:15226px;color:white;
}
#P83_220
{
left:22245.1px;bottom:15034.2px;color:white;
}
#P83_221
{
left:26535.8px;bottom:15226px;color:white;
}
#P83_222
{
left:26776px;bottom:15034.2px;color:white;
}
#P83_223
{
left:12893.4px;bottom:14867.1px;
}
#P83_224
{
left:12893.4px;bottom:14867.1px;color:white;
}
#P83_225
{
left:13964.7px;bottom:13242.2px;color:rgb(35,31,31);
}
#P83_226
{
left:0px;letter-spacing:0px;margin-left:-15.5px;
}
#P83_227
{
left:0px;letter-spacing:0px;margin-left:-147.8px;
}
#P83_228
{
left:15633.2px;bottom:13681.8px;color:rgb(35,31,31);
}
#P83_229
{
left:15988px;bottom:13259.8px;color:rgb(35,31,31);
}
#P83_230
{
left:15612.1px;bottom:13226.1px;color:rgb(35,31,31);
}
#P83_231
{
left:16009.1px;bottom:13243.4px;color:rgb(35,31,31);
}
#P83_232
{
left:15633.2px;bottom:12774.3px;color:rgb(35,31,31);
}
#P83_233
{
left:15988px;bottom:13259.8px;color:rgb(35,31,31);
}
#P83_234
{
left:16009.1px;bottom:13242.2px;letter-spacing:-147.8px;color:rgb(35,31,31);
}
#P83_235
{
left:16157px;bottom:13212.6px;color:rgb(35,31,31);
}
#P83_236
{
left:16743.4px;bottom:13242.2px;color:rgb(35,31,31);
}
#P83_237
{
left:0px;letter-spacing:0px;margin-left:-147.8px;
}
#P83_238
{
left:17306.5px;bottom:13681.8px;color:rgb(35,31,31);
}
#P83_239
{
left:17661.3px;bottom:13259.8px;color:rgb(35,31,31);
}
#P83_240
{
left:17285.4px;bottom:13226.1px;color:rgb(35,31,31);
}
#P83_241
{
left:17682.5px;bottom:13243.4px;color:rgb(35,31,31);
}
#P83_242
{
left:17306.5px;bottom:12774.3px;color:rgb(35,31,31);
}
#P83_243
{
left:17661.3px;bottom:13259.8px;color:rgb(35,31,31);
}
#P83_244
{
left:17682.5px;bottom:13242.2px;letter-spacing:-28px;word-spacing:-119.8px;color:rgb(35,31,31);
}
#P83_245
{
left:24076.7px;bottom:13242.2px;letter-spacing:-1.2px;color:rgb(235,26,35);
}
#P83_246
{
left:26984.2px;bottom:13242.2px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P83_247
{
left:0px;letter-spacing:0px;margin-left:-352px;
}
#P83_248
{
left:27357.3px;bottom:13681.8px;color:rgb(0,124,196);
}
#P83_249
{
left:27712.2px;bottom:13259.8px;color:rgb(0,124,196);
}
#P83_250
{
left:27336.2px;bottom:13226.1px;color:rgb(0,124,196);
}
#P83_251
{
left:27733.3px;bottom:13243.4px;color:rgb(0,124,196);
}
#P83_252
{
left:27357.3px;bottom:12774.3px;color:rgb(0,124,196);
}
#P83_253
{
left:27712.2px;bottom:13259.8px;color:rgb(0,124,196);
}
#P83_254
{
left:27733.3px;bottom:13242.2px;color:rgb(0,124,196);
}
#P83_255
{
left:27733.3px;bottom:13242.2px;color:rgb(0,124,196);
}
#P83_256
{
left:27881.1px;bottom:13212.6px;color:rgb(0,124,196);
}
#P83_257
{
left:28467.5px;bottom:13242.2px;color:rgb(0,124,196);
}
#P83_258
{
left:29157.5px;bottom:13212.6px;color:rgb(0,124,196);
}
#P83_259
{
left:29743.8px;bottom:13242.2px;color:rgb(0,124,196);
}
#P83_260
{
left:30373.9px;bottom:13242.2px;letter-spacing:-158.4px;color:rgb(0,124,196);
}
#P83_261
{
left:30395px;bottom:13681.8px;color:rgb(0,124,196);
}
#P83_262
{
left:30749.8px;bottom:13259.8px;color:rgb(0,124,196);
}
#P83_263
{
left:30373.9px;bottom:13226.1px;color:rgb(0,124,196);
}
#P83_264
{
left:30771px;bottom:13243.4px;color:rgb(0,124,196);
}
#P83_265
{
left:30395px;bottom:12774.3px;color:rgb(0,124,196);
}
#P83_266
{
left:30749.8px;bottom:13259.8px;color:rgb(0,124,196);
}
#P83_267
{
left:30771px;bottom:13242.2px;color:rgb(0,124,196);
}
#P83_268
{
left:13964.7px;bottom:10938.2px;letter-spacing:1441.6px;color:rgb(35,31,31);
}
#P83_269
{
left:0px;letter-spacing:0px;margin-left:-1600px;
}
#P83_270
{
left:15585.8px;bottom:11377.8px;color:rgb(35,31,31);
}
#P83_271
{
left:15921.6px;bottom:10955.8px;color:rgb(35,31,31);
}
#P83_272
{
left:15564.7px;bottom:10922.1px;color:rgb(35,31,31);
}
#P83_273
{
left:15942.7px;bottom:10939.4px;color:rgb(35,31,31);
}
#P83_274
{
left:15585.8px;bottom:10470.3px;color:rgb(35,31,31);
}
#P83_275
{
left:15921.6px;bottom:10955.8px;color:rgb(35,31,31);
}
#P83_276
{
left:15942.7px;bottom:10938.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P83_277
{
left:16101.1px;bottom:10908.6px;color:rgb(35,31,31);
}
#P83_278
{
left:16687.6px;bottom:10938.2px;color:rgb(35,31,31);
}
#P83_279
{
left:16846px;bottom:10938.2px;color:rgb(235,26,35);
}
#P83_280
{
left:17219.1px;bottom:10938.2px;letter-spacing:-70.4px;color:rgb(35,31,31);
}
#P83_281
{
left:0px;letter-spacing:0px;margin-left:-88px;
}
#P83_282
{
left:17328.2px;bottom:11377.8px;color:rgb(235,26,35);
}
#P83_283
{
left:17664px;bottom:10955.8px;color:rgb(235,26,35);
}
#P83_284
{
left:17307.1px;bottom:10922.1px;color:rgb(235,26,35);
}
#P83_285
{
left:17685.1px;bottom:10939.4px;color:rgb(235,26,35);
}
#P83_286
{
left:17328.2px;bottom:10470.3px;color:rgb(235,26,35);
}
#P83_287
{
left:17664px;bottom:10955.8px;color:rgb(235,26,35);
}
#P83_288
{
left:17685.1px;bottom:10938.2px;color:rgb(235,26,35);
}
#P83_289
{
left:17685.1px;bottom:10938.2px;color:rgb(35,31,31);
}
#P83_290
{
left:17843.5px;bottom:10908.6px;color:rgb(35,31,31);
}
#P83_291
{
left:18429.9px;bottom:10938.2px;color:rgb(35,31,31);
}
#P83_292
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P83_293
{
left:18609.4px;bottom:11377.8px;color:rgb(35,31,31);
}
#P83_294
{
left:18945.2px;bottom:10955.8px;color:rgb(35,31,31);
}
#P83_295
{
left:18588.3px;bottom:10922.1px;color:rgb(35,31,31);
}
#P83_296
{
left:18966.4px;bottom:10939.4px;color:rgb(35,31,31);
}
#P83_297
{
left:18609.4px;bottom:10470.3px;color:rgb(35,31,31);
}
#P83_298
{
left:18945.2px;bottom:10955.8px;color:rgb(35,31,31);
}
#P83_299
{
left:18966.4px;bottom:10938.2px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P83_300
{
left:19124.8px;bottom:10908.6px;color:rgb(35,31,31);
}
#P83_301
{
left:19711.2px;bottom:10938.2px;color:rgb(35,31,31);
}
#P83_302
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P83_303
{
left:19890.7px;bottom:11377.8px;color:rgb(235,26,35);
}
#P83_304
{
left:20562.3px;bottom:10955.8px;color:rgb(235,26,35);
}
#P83_305
{
left:19869.6px;bottom:10922.1px;color:rgb(235,26,35);
}
#P83_306
{
left:20583.4px;bottom:10939.4px;color:rgb(235,26,35);
}
#P83_307
{
left:20058.6px;bottom:10470.3px;color:rgb(235,26,35);
}
#P83_308
{
left:20394.4px;bottom:10955.8px;color:rgb(235,26,35);
}
#P83_309
{
left:20583.4px;bottom:10938.2px;color:rgb(235,26,35);
}
#P83_310
{
left:20583.4px;bottom:10938.2px;color:rgb(35,31,31);
}
#P83_311
{
left:23116.7px;bottom:10946.2px;color:rgb(0,124,196);
}
#P83_312
{
left:0px;letter-spacing:0px;margin-left:-77.2px;
}
#P83_313
{
left:0px;letter-spacing:0px;margin-left:-161.3px;
}
#P83_314
{
left:25085px;bottom:11367.9px;color:rgb(0,124,196);
}
#P83_315
{
left:25375.3px;bottom:10963px;color:rgb(0,124,196);
}
#P83_316
{
left:25064.8px;bottom:10932.9px;color:rgb(0,124,196);
}
#P83_317
{
left:25395.4px;bottom:10947.4px;color:rgb(0,124,196);
}
#P83_318
{
left:25085px;bottom:10501.6px;color:rgb(0,124,196);
}
#P83_319
{
left:25375.3px;bottom:10963px;color:rgb(0,124,196);
}
#P83_320
{
left:25395.4px;bottom:10946.2px;color:rgb(0,124,196);
}
#P83_321
{
left:0px;letter-spacing:0px;margin-left:-161.3px;
}
#P83_322
{
left:0px;letter-spacing:0px;margin-left:-161.3px;
}
#P83_323
{
left:31857.9px;bottom:11367.9px;color:rgb(0,124,196);
}
#P83_324
{
left:32438.4px;bottom:10963px;color:rgb(0,124,196);
}
#P83_325
{
left:31837.7px;bottom:10932.9px;color:rgb(0,124,196);
}
#P83_326
{
left:32458.6px;bottom:10947.4px;color:rgb(0,124,196);
}
#P83_327
{
left:32003px;bottom:10501.6px;color:rgb(0,124,196);
}
#P83_328
{
left:32293.3px;bottom:10963px;color:rgb(0,124,196);
}
#P83_329
{
left:32458.6px;bottom:10946.2px;letter-spacing:-161.3px;color:rgb(0,124,196);
}
#P83_330
{
left:13964.7px;bottom:8506.16px;letter-spacing:1441.6px;color:rgb(35,31,31);
}
#P83_331
{
left:0px;letter-spacing:0px;margin-left:512px;
}
#P83_332
{
left:17835.1px;bottom:8476.59px;color:rgb(35,31,31);
}
#P83_333
{
left:18421.5px;bottom:8506.16px;color:rgb(35,31,31);
}
#P83_334
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P83_335
{
left:18601px;bottom:8945.84px;color:rgb(35,31,31);
}
#P83_336
{
left:19079.4px;bottom:8919.23px;color:rgb(35,31,31);
}
#P83_337
{
left:19607.1px;bottom:8945.84px;color:rgb(35,31,31);
}
#P83_338
{
left:20421.3px;bottom:8523.76px;color:rgb(35,31,31);
}
#P83_339
{
left:18579.9px;bottom:8490.14px;color:rgb(35,31,31);
}
#P83_340
{
left:20442.5px;bottom:8507.42px;color:rgb(35,31,31);
}
#P83_341
{
left:18768.9px;bottom:8038.32px;color:rgb(35,31,31);
}
#P83_342
{
left:19247.3px;bottom:8011.71px;color:rgb(35,31,31);
}
#P83_343
{
left:19775.1px;bottom:8038.32px;color:rgb(35,31,31);
}
#P83_344
{
left:20253.4px;bottom:8523.76px;color:rgb(35,31,31);
}
#P83_345
{
left:20442.5px;bottom:8506.16px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P83_346
{
left:23116.7px;bottom:8514.16px;letter-spacing:-0.6px;color:rgb(0,124,196);
}
#P83_347
{
left:13964.7px;bottom:6074.16px;letter-spacing:993.6px;color:rgb(35,31,31);
}
#P83_348
{
left:0px;letter-spacing:0px;margin-left:1408px;
}
#P83_349
{
left:17835.1px;bottom:6044.59px;color:rgb(35,31,31);
}
#P83_350
{
left:18421.5px;bottom:6074.16px;color:rgb(35,31,31);
}
#P83_351
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P83_352
{
left:18601px;bottom:6513.84px;color:rgb(35,31,31);
}
#P83_353
{
left:19272.7px;bottom:6091.76px;color:rgb(35,31,31);
}
#P83_354
{
left:18579.9px;bottom:6058.14px;color:rgb(35,31,31);
}
#P83_355
{
left:19293.8px;bottom:6075.42px;color:rgb(35,31,31);
}
#P83_356
{
left:18768.9px;bottom:5606.32px;color:rgb(35,31,31);
}
#P83_357
{
left:19104.7px;bottom:6091.76px;color:rgb(35,31,31);
}
#P83_358
{
left:19293.8px;bottom:6074.16px;color:rgb(35,31,31);
}
#P83_359
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P83_360
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P83_361
{
left:20871.4px;bottom:6513.84px;color:rgb(35,31,31);
}
#P83_362
{
left:21207.2px;bottom:6091.76px;color:rgb(35,31,31);
}
#P83_363
{
left:20850.3px;bottom:6058.14px;color:rgb(35,31,31);
}
#P83_364
{
left:21228.3px;bottom:6075.42px;color:rgb(35,31,31);
}
#P83_365
{
left:20871.4px;bottom:5606.32px;color:rgb(35,31,31);
}
#P83_366
{
left:21207.2px;bottom:6091.76px;color:rgb(35,31,31);
}
#P83_367
{
left:21228.3px;bottom:6074.16px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P83_367a
{
left: 14600px;
bottom: 3873.84px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P83_368
{
left:23052.7px;bottom:6082.16px;color:rgb(0,124,196);
}
#P83_369
{
left:0px;letter-spacing:0px;margin-left:-49.7px;
}
#P83_370
{
left:14548.7px;bottom:3834.16px;color:rgb(35,31,31);
}
#P83_371
{
left:0px;letter-spacing:0px;margin-left:520.3px;
}
#P83_372
{
left:0px;letter-spacing:0px;margin-left:-4.2px;
}
#P83_373
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P83_374
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P83_375
{
left:20465.9px;bottom:4273.84px;color:rgb(35,31,31);
}
#P83_376
{
left:20801.7px;bottom:3851.76px;color:rgb(35,31,31);
}
#P83_377
{
left:20444.8px;bottom:3818.14px;color:rgb(35,31,31);
}
#P83_378
{
left:20822.8px;bottom:3835.42px;color:rgb(35,31,31);
}
#P83_379
{
left:20465.9px;bottom:3366.32px;color:rgb(35,31,31);
}
#P83_380
{
left:20801.7px;bottom:3851.76px;color:rgb(35,31,31);
}
#P83_381
{
left:20822.8px;bottom:3834.16px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P83_382
{
left:24076.7px;bottom:3834.16px;letter-spacing:-1.3px;color:rgb(235,26,35);
}
#P83_383
{
left:28181.8px;bottom:3834.16px;color:rgb(35,31,31);
}
#P83_384
{
left:28533.8px;bottom:3834.16px;color:rgb(0,124,196);
}
#P83_385
{
left:28928px;bottom:3834.16px;letter-spacing:-158.4px;color:rgb(0,124,196);
}
#P83_386
{
left:28949.1px;bottom:4273.84px;color:rgb(0,124,196);
}
#P83_387
{
left:29304px;bottom:3851.76px;color:rgb(0,124,196);
}
#P83_388
{
left:28928px;bottom:3818.14px;color:rgb(0,124,196);
}
#P83_389
{
left:29325.1px;bottom:3835.42px;color:rgb(0,124,196);
}
#P83_390
{
left:28949.1px;bottom:3366.32px;color:rgb(0,124,196);
}
#P83_391
{
left:29304px;bottom:3851.76px;color:rgb(0,124,196);
}
#P83_392
{
left:29325.1px;bottom:3834.16px;color:rgb(0,124,196);
}
#P83_393
{
left:29325.1px;bottom:3834.16px;color:rgb(0,124,196);
}
#P83_394
{
left:29472.9px;bottom:3804.59px;color:rgb(0,124,196);
}
#P83_395
{
left:30059.4px;bottom:3834.16px;color:rgb(0,124,196);
}
#P83_396
{
left:30601.4px;bottom:3834.16px;letter-spacing:-158.4px;color:rgb(0,124,196);
}
#P83_397
{
left:30622.6px;bottom:4273.84px;color:rgb(0,124,196);
}
#P83_398
{
left:30977.4px;bottom:3851.76px;color:rgb(0,124,196);
}
#P83_399
{
left:30601.4px;bottom:3818.14px;color:rgb(0,124,196);
}
#P83_400
{
left:30998.5px;bottom:3835.42px;color:rgb(0,124,196);
}
#P83_401
{
left:30622.6px;bottom:3366.32px;color:rgb(0,124,196);
}
#P83_402
{
left:30977.4px;bottom:3851.76px;color:rgb(0,124,196);
}
#P83_403
{
left:30998.5px;bottom:3834.16px;color:rgb(0,124,196);
}
#P83_404
{
left:30998.5px;bottom:3842.16px;color:rgb(0,124,196);
}
#P83_405
{
left:31670.5px;bottom:3923.12px;color:rgb(235,26,35);
}
#PageContainer83
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg083.jpg");background-repeat:no-repeat;background-size: 879px 1183px; background-position: 127.83px 75.4400000000001px;
}
#ImageContainer83 {bottom:105.56px;left:127.83px;width:878.76px;height:1183.49px;position:absolute;} #TextContainer83 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.example3{position:absolute; top: 84px; left: 157px;}
.example4{position:absolute; top: 922px; left: 157px;}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}