.tr459{ color:transparent;}
#P459_1
{
left:7119.71px;bottom:38151px;color:rgb(2,77,161);
}
#P459_2
{
left:18505px;bottom:38119px;color:rgb(2,77,161);
}
#P459_3
{
left:7869.4px;bottom:36562.3px;word-spacing:1720.3px;color:rgb(0,124,196);
}
#P459_4
{
left:0px;letter-spacing:0px;margin-left:-1720.3px;
}
#P459_5
{
left:11911.4px;bottom:36562.3px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P459_6
{
left:11911.4px;bottom:35602.3px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P459_7
{
left:11911.4px;bottom:34642.3px;color:rgb(35,31,31);
}
#P459_8
{
left:0px;letter-spacing:0px;margin-left:-28.4px;
}
#P459_9
{
left:0px;letter-spacing:0px;margin-left:-28.4px;
}
#P459_10
{
left:11911.4px;bottom:33682.3px;color:rgb(35,31,31);
}
#P459_11
{
left:11911.4px;bottom:32722.3px;color:rgb(35,31,31);
}
#P459_12
{
left: 7914.4px;bottom:31500.8px;letter-spacing:1761.6px;color:rgb(35,31,31);
}
#P459_13
{
left:0px;letter-spacing:0px;
margin-left: 0px;
}
#P459_14
{
left:0px;letter-spacing:-1px;
}
#P459_15
{
left:0px;letter-spacing:-2.8px;margin-left:-12.9px;
}
#P459_16
{
left:0px;letter-spacing:0px;margin-left:-39.3px;
}
#P459_17
{
left:0px;letter-spacing:0px;
}
#P459_18
{
left:5949.4px;bottom:29452.8px;color:rgb(35,31,31);
}
#P459_19
{
left:9093.4px;bottom:29452.8px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P459_20
{
left:0px;letter-spacing:-9.4px;margin-left:-8.4px;
}
#P459_21
{
left:0px;letter-spacing:0.1px;margin-left:167.9px;
}
#P459_22
{
left:9093.4px;bottom:28556.8px;letter-spacing:-2px;color:rgb(35,31,31);
}
#P459_23
{
left:5949.4px;bottom:26706.3px;color:rgb(0,124,196);
}
#P459_24
{
left:5949.4px;bottom:25164.8px;color:rgb(35,31,31);
}
#P459_25
{
left:8245.98px;bottom:25184.5px;color:rgb(35,31,31);
}
#P459_26
{
left:9277.4px;bottom:25164.8px;color:rgb(35,31,31);
}
#P459_27
{
left:5949.4px;bottom:23820.8px;color:rgb(35,31,31);
}
#P459_28
{
left:8245.98px;bottom:23840.5px;color:rgb(35,31,31);
}
#P459_29
{
left:9277.4px;bottom:23820.8px;letter-spacing:-14px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P459_30
{
left:0px;letter-spacing:-0.6px;margin-left:13.9px;
}
#P459_31
{
left:0px;letter-spacing:0.1px;margin-left:-13.4px;
}
#P459_32
{
left:5949.4px;bottom:22476.8px;color:rgb(35,31,31);
}
#P459_33
{
left:8245.98px;bottom:22496.5px;color:rgb(35,31,31);
}
#P459_34
{
left:9277.4px;bottom:22476.8px;letter-spacing:-10.5px;color:rgb(35,31,31);
}
#P459_35
{
left:0px;letter-spacing:0px;margin-left:10.5px;
}
#P459_36
{
left:16978.1px;bottom:22476.8px;color:rgb(35,31,31);
}
#P459_37
{
left:18187.6px;bottom:22476.8px;letter-spacing:-2px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P459_38
{
left:0px;letter-spacing:0.2px;margin-left:160.6px;
}
#P459_39
{
left:5949.4px;bottom:21132.8px;color:rgb(35,31,31);
}
#P459_40
{
left:8245.98px;bottom:21152.5px;color:rgb(35,31,31);
}
#P459_41
{
left:9277.4px;bottom:21132.8px;letter-spacing:-10.5px;color:rgb(35,31,31);
}
#P459_42
{
left:0px;letter-spacing:-0.5px;margin-left:10.5px;
}
#P459_43
{
left:7183.71px;bottom:17938.3px;color:rgb(35,31,31);
}
#P459_44
{
left:15978.1px;bottom:17767px;color:rgb(2,77,161);
}
#P459_45
{
left:7869.4px;bottom:16594.3px;word-spacing:1720.3px;color:rgb(0,124,196);
}
#P459_46
{
left:0px;letter-spacing:0px;margin-left:-1720.3px;
}
#P459_47
{
left:12017.6px;bottom:16594.3px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P459_48
{
left:12081.6px;bottom:15634.3px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P459_49
{
left:0px;letter-spacing:-21.1px;margin-left:-27.1px;
}
#P459_50
{
left:0px;letter-spacing:-0.8px;margin-left:21.1px;
}
#P459_51
{
left:12081.6px;bottom:14674.3px;color:rgb(35,31,31);
}
#P459_52
{
left:0px;letter-spacing:0px;margin-left:-28.4px;
}
#P459_53
{
left:0px;letter-spacing:0px;margin-left:-28.4px;
}
#P459_54
{
left:12081.6px;bottom:13714.3px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P459_55
{
left: 7899.4px;bottom:12492.8px;letter-spacing:1761.6px;color:rgb(35,31,31);
}
#P459_56
{
left:0px;letter-spacing:0px;margin-left:-1768.4px;
}
#P459_57
{
left:9021.4px;bottom:10892.8px;color:rgb(235,26,35);
}
#P459_58
{
left:10357.6px;bottom:10892.8px;color:rgb(35,31,31);
}
#P459_59
{
left:12209.8px;bottom:10863.2px;color:rgb(35,31,31);
}
#P459_60
{
left:12975.7px;bottom:11332.5px;color:rgb(235,26,35);
}
#P459_61
{
left:12954.6px;bottom:10876.8px;color:rgb(235,26,35);
}
#P459_62
{
left:12975.7px;bottom:10424.9px;color:rgb(235,26,35);
}
#P459_63
{
left:13438.2px;bottom:10454.2px;color:rgb(35,31,31);
}
#P459_64
{
left:13790px;bottom:10892.8px;color:rgb(35,31,31);
}
#P459_65
{
left:14800.2px;bottom:10863.2px;color:rgb(35,31,31);
}
#P459_66
{
left:15566.2px;bottom:11332.5px;color:rgb(35,31,31);
}
#P459_67
{
left:15997px;bottom:10937.7px;color:rgb(35,31,31);
}
#P459_68
{
left:16313.6px;bottom:11332.5px;color:rgb(35,31,31);
}
#P459_69
{
left:15545px;bottom:10876.8px;color:rgb(35,31,31);
}
#P459_70
{
left:16179.1px;bottom:10424.9px;
}
#P459_71
{
left:17254.5px;bottom:10863.2px;color:rgb(35,31,31);
}
#P459_72
{
left:17840.9px;bottom:10892.8px;color:rgb(35,31,31);
}
#P459_73
{
left:9093.4px;bottom:8652.78px;letter-spacing:545.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P459_74
{
left:0px;letter-spacing:-9.4px;margin-left:-554px;
}
#P459_75
{
left:0px;letter-spacing:-0.3px;margin-left:167.5px;
}
#P459_76
{
left:8245.98px;bottom:5472.49px;color:rgb(35,31,31);
}
#P459_77
{
left:9277.4px;bottom:5452.78px;letter-spacing:-14px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P459_78
{
left:0px;letter-spacing:0.1px;margin-left:13.9px;
}
#P459_79
{
left:8245.98px;bottom:4128.49px;color:rgb(35,31,31);
}
#P459_80
{
left:9277.4px;bottom:4108.78px;letter-spacing:-10.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P459_81
{
left:0px;letter-spacing:0.2px;margin-left:10.4px;
}
#P459_82
{
left:5899.1px;bottom:43568.7px;word-spacing:-68.5px;color:rgb(237,28,35);
}
#P459_83
{
left:0px;letter-spacing:0px;margin-left:-139.2px;
}
#P459_84
{
left:5899.1px;bottom:41520.6px;letter-spacing:-2.5px;color:rgb(237,28,35);
}
#P459_85
{
left:24304px;bottom:28505px;color:rgb(35,31,31);
}
#P459_86
{
left:24304px;bottom:29274.3px;color:rgb(35,31,31);
}
#P459_87
{
left:24304px;bottom:30043.6px;color:rgb(35,31,31);
}
#P459_88
{
left:24304px;bottom:30812.8px;color:rgb(35,31,31);
}
#P459_89
{
left:24304px;bottom:31582.1px;color:rgb(35,31,31);
}
#P459_90
{
left:24304px;bottom:32351.4px;color:rgb(35,31,31);
}
#P459_91
{
left:24304px;bottom:33120.6px;color:rgb(35,31,31);
}
#P459_92
{
left:24304px;bottom:33890px;color:rgb(35,31,31);
}
#P459_93
{
left:24304px;bottom:34659.4px;color:rgb(35,31,31);
}
#P459_94
{
left:24304px;bottom:27735.7px;color:rgb(35,31,31);
}
#P459_95
{
left:25123.8px;bottom:27394.9px;color:rgb(35,31,31);
}
#P459_96
{
left:27253.6px;bottom:27389.2px;color:rgb(35,31,31);
}
#P459_97
{
left:0px;letter-spacing:0px;margin-left:617.7px;
}
#P459_98
{
left:30885.7px;bottom:27394.4px;color:rgb(35,31,31);
}
#P459_99
{
left:32339.7px;bottom:27389.2px;letter-spacing:-17.7px;color:rgb(35,31,31);
}
#P459_100
{
left:0px;letter-spacing:0px;margin-left:17.7px;
}
#P459_101
{
left:28809.8px;bottom:26475.1px;color:rgb(35,31,31);
}
#P459_102
{
left:24011.3px;bottom:28770.3px;color:rgb(35,31,31);
}
#P459_103
{
left:26990.6px;bottom:35698.4px;color:rgb(35,31,31);
}
#P459_104
{
left:30858.8px;bottom:14254.3px;color:rgb(35,31,31);
}
#P459_105
{
left:33092.5px;bottom:12323.5px;color:rgb(35,31,31);
}
#P459_106
{
left:29844.4px;bottom:11100.1px;color:rgb(35,31,31);
}
#P459_107
{
left:29583.1px;bottom:16836.3px;color:rgb(2,77,161);
}
#P459_108
{
left:26600.7px;bottom:40330.8px;letter-spacing:-17.3px;color:rgb(33,31,31);
}
#P459_109
{
left:0px;letter-spacing:-31.7px;margin-left:-51.9px;
}
#P459_110
{
left:0px;letter-spacing:-19px;margin-left:14.4px;
}
#P459_111
{
left:0px;letter-spacing:-31.7px;margin-left:1.7px;
}
#P459_112
{
left:0px;letter-spacing:-17.3px;margin-left:14.4px;
}
#P459_113
{
left:26036.5px;bottom:39746.6px;letter-spacing:-19px;color:rgb(33,31,31);
}
#P459_114
{
left:0px;letter-spacing:-17.3px;margin-left:1.7px;
}
#P459_115
{
left:26479.5px;bottom:39056.7px;letter-spacing:-19.3px;color:rgb(33,31,31);
}
#P459_116
{
left:0px;letter-spacing:-17.8px;margin-left:2px;
}
#P459_117
{
left:0px;letter-spacing:0px;margin-left:-51.3px;
}
#P459_118
{
left:15790.4px;bottom:9932.78px;color:rgb(235,26,35);
}
#P459_119
{
left:17084.5px;bottom:11900.8px;color:rgb(235,26,35);
}
#PageContainer459
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg459.jpg");background-repeat:no-repeat;background-size: 1066px 1364px; background-position: right bottom;
}
#ImageContainer459 {bottom:0.00px;right:0.00px;width:1066.24px;height:1364.16px;position:absolute;} #TextContainer459 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.rpj{ position: absolute; top: 124px; left: 78px;
}
.srpj{ position: absolute; top: 124px; left: 31px;
}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}