.tr356{ color:transparent;}
#P356_1
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P356_2
{
left:3540.44px;bottom:1417.71px;color:rgb(35,31,31);
}
#P356_3
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P356_4
{
left:9120.15px;bottom:1417.71px;letter-spacing:0.2px;word-spacing:461px;color:rgb(35,31,31);
}
#P356_5
{
left:0px;letter-spacing:0px;margin-left:-461.2px;
}
#P356_6
{
left:0px;letter-spacing:2.9px;margin-left:1.1px;
}
#P356_7
{
left:0px;letter-spacing:0px;margin-left:-463.9px;
}
#P356_8
{
left:0px;letter-spacing:1.3px;margin-left:1.1px;
}
#P356_9
{
left:4669.4px;bottom:46716.8px;letter-spacing:-14.8px;color:rgb(35,31,31);
}
#P356_10
{
left:0px;letter-spacing:-0.8px;margin-left:14.8px;
}
#P356_11
{
left:0px;letter-spacing:-0.8px;margin-left:0.8px;
}
#P356_12
{
left:0px;letter-spacing:0px;margin-left:-13.2px;
}
#P356_13
{
left:4669.4px;bottom:45564.8px;color:rgb(35,31,31);
}
#P356_14
{
left:4846.55px;bottom:45584.5px;color:rgb(35,31,31);
}
#P356_15
{
left:9911.45px;bottom:44896.3px;color:rgb(35,31,31);
}
#P356_16
{
left:10337.9px;bottom:45010px;color:rgb(35,31,31);
}
#P356_17
{
left:6978.2px;bottom:44887.1px;color:rgb(35,31,31);
}
#P356_18
{
left:7404.7px;bottom:45000.8px;color:rgb(35,31,31);
}
#P356_19
{
left:8455.32px;bottom:44884.6px;color:rgb(35,31,31);
}
#P356_20
{
left:8881.82px;bottom:44998.3px;color:rgb(35,31,31);
}
#P356_21
{
left:11842.7px;bottom:44984.9px;color:rgb(35,31,31);
}
#P356_22
{
left:13303.4px;bottom:44999.8px;letter-spacing:1219.3px;color:rgb(35,31,31);
}
#P356_23
{
left:17536.2px;bottom:45564.8px;color:rgb(35,31,31);
}
#P356_24
{
left:19630.6px;bottom:45584.5px;color:rgb(35,31,31);
}
#P356_25
{
left:23210.6px;bottom:44828.1px;color:rgb(35,31,31);
}
#P356_26
{
left:23637.1px;bottom:44941.8px;color:rgb(35,31,31);
}
#P356_27
{
left:31054px;bottom:44931.1px;color:rgb(35,31,31);
}
#P356_28
{
left:21754.5px;bottom:44815.9px;color:rgb(35,31,31);
}
#P356_29
{
left:22181px;bottom:44929.5px;color:rgb(35,31,31);
}
#P356_30
{
left:25130.1px;bottom:44916.2px;color:rgb(35,31,31);
}
#P356_31
{
left:26611.4px;bottom:44931.1px;letter-spacing:1196.3px;color:rgb(35,31,31);
}
#P356_32
{
left:4669.4px;bottom:43260.8px;color:rgb(35,31,31);
}
#P356_33
{
left:4846.55px;bottom:43280.5px;color:rgb(35,31,31);
}
#P356_34
{
left:9776.79px;bottom:42528.4px;color:rgb(35,31,31);
}
#P356_35
{
left:10203.3px;bottom:42642px;color:rgb(35,31,31);
}
#P356_36
{
left:6811.29px;bottom:42519.1px;color:rgb(35,31,31);
}
#P356_37
{
left:7237.79px;bottom:42632.8px;color:rgb(35,31,31);
}
#P356_38
{
left:8320.15px;bottom:42516.5px;color:rgb(35,31,31);
}
#P356_39
{
left:8746.65px;bottom:42630.2px;color:rgb(35,31,31);
}
#P356_40
{
left:11707.5px;bottom:42616.9px;color:rgb(35,31,31);
}
#P356_41
{
left:13168.3px;bottom:42631.7px;letter-spacing:1203.2px;color:rgb(35,31,31);
}
#P356_42
{
left:17536.2px;bottom:43260.8px;color:rgb(35,31,31);
}
#P356_43
{
left:19630.6px;bottom:43280.5px;color:rgb(35,31,31);
}
#P356_44
{
left:24992.8px;bottom:42566px;color:rgb(35,31,31);
}
#P356_45
{
left:21595.7px;bottom:42443.1px;color:rgb(35,31,31);
}
#P356_46
{
left:22022.2px;bottom:42556.8px;color:rgb(35,31,31);
}
#P356_47
{
left:23488.5px;bottom:42554.2px;color:rgb(35,31,31);
}
#P356_48
{
left:26332.2px;bottom:42540.9px;color:rgb(35,31,31);
}
#P356_49
{
left:27792.9px;bottom:42555.8px;color:rgb(35,31,31);
}
#P356_50
{
left:0px;letter-spacing:0px;margin-left:964.1px;
}
#P356_51
{
left:0px;letter-spacing:0px;margin-left:905.2px;
}
#P356_52
{
left:4669.4px;bottom:40572.8px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P356_53
{
left:4669.4px;bottom:38908.8px;color:rgb(35,31,31);
}
#P356_54
{
left:4846.55px;bottom:38928.5px;color:rgb(35,31,31);
}
#P356_55
{
left:6269.4px;bottom:38908.8px;color:rgb(35,31,31);
}
#P356_56
{
left:6664.35px;bottom:38908.8px;color:rgb(35,31,31);
}
#P356_57
{
left:6910.75px;bottom:38972.8px;color:rgb(35,31,31);
}
#P356_58
{
left:7558.43px;bottom:38908.8px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P356_59
{
left:12142.5px;bottom:38928.5px;color:rgb(35,31,31);
}
#P356_60
{
left:13565.3px;bottom:38908.8px;color:rgb(35,31,31);
}
#P356_61
{
left:14000.4px;bottom:38908.8px;color:rgb(35,31,31);
}
#P356_62
{
left:14246.8px;bottom:39084.8px;color:rgb(35,31,31);
}
#P356_63
{
left:14721.3px;bottom:38908.8px;color:rgb(35,31,31);
}
#P356_64
{
left:19566.6px;bottom:38928.5px;color:rgb(35,31,31);
}
#P356_65
{
left:20989.5px;bottom:38908.8px;color:rgb(35,31,31);
}
#P356_66
{
left:21609px;bottom:39084.8px;color:rgb(35,31,31);
}
#P356_67
{
left:22083.5px;bottom:38908.8px;color:rgb(35,31,31);
}
#P356_68
{
left:22241.9px;bottom:38908.8px;color:rgb(35,31,31);
}
#P356_69
{
left:22605.1px;bottom:38908.8px;color:rgb(35,31,31);
}
#P356_70
{
left:26926.6px;bottom:38928.5px;color:rgb(35,31,31);
}
#P356_71
{
left:28349.5px;bottom:38908.8px;color:rgb(35,31,31);
}
#P356_72
{
left:28679px;bottom:38908.8px;color:rgb(35,31,31);
}
#P356_73
{
left:28925.4px;bottom:38972.8px;color:rgb(35,31,31);
}
#P356_74
{
left:29326.7px;bottom:38908.8px;letter-spacing:-70.4px;color:rgb(35,31,31);
}
#P356_75
{
left:0px;letter-spacing:0px;margin-left:70.3px;
}
#P356_76
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P356_77
{
left:29594px;bottom:39348.5px;color:rgb(35,31,31);
}
#P356_78
{
left:29929.8px;bottom:38926.4px;color:rgb(35,31,31);
}
#P356_79
{
left:29572.9px;bottom:38892.8px;color:rgb(35,31,31);
}
#P356_80
{
left:29950.9px;bottom:38910px;color:rgb(35,31,31);
}
#P356_81
{
left:29594px;bottom:38440.9px;color:rgb(35,31,31);
}
#P356_82
{
left:29929.8px;bottom:38926.4px;color:rgb(35,31,31);
}
#P356_83
{
left:29950.9px;bottom:38908.8px;color:rgb(35,31,31);
}
#P356_84
{
left:4669.4px;bottom:36732.8px;color:rgb(35,31,31);
}
#P356_85
{
left:4846.43px;bottom:36752.5px;color:rgb(35,31,31);
}
#P356_86
{
left:6301.27px;bottom:36732.8px;color:rgb(35,31,31);
}
#P356_87
{
left:6664.54px;bottom:36732.8px;color:rgb(35,31,31);
}
#P356_88
{
left:6910.94px;bottom:36796.8px;color:rgb(35,31,31);
}
#P356_89
{
left:7579.87px;bottom:37172.5px;color:rgb(35,31,31);
}
#P356_90
{
left:7915.67px;bottom:36750.4px;color:rgb(35,31,31);
}
#P356_91
{
left:7558.75px;bottom:36716.8px;color:rgb(35,31,31);
}
#P356_92
{
left:7936.79px;bottom:36734px;color:rgb(35,31,31);
}
#P356_93
{
left:7579.87px;bottom:36264.9px;color:rgb(35,31,31);
}
#P356_94
{
left:7915.67px;bottom:36750.4px;color:rgb(35,31,31);
}
#P356_95
{
left:7936.79px;bottom:36732.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P356_96
{
left:12142.6px;bottom:36752.5px;color:rgb(35,31,31);
}
#P356_97
{
left:13565.4px;bottom:36703.2px;color:rgb(35,31,31);
}
#P356_98
{
left:14151.8px;bottom:36732.8px;color:rgb(35,31,31);
}
#P356_99
{
left:14771.4px;bottom:36908.8px;color:rgb(35,31,31);
}
#P356_100
{
left:15245.8px;bottom:36732.8px;color:rgb(35,31,31);
}
#P356_101
{
left:15404.2px;bottom:36732.8px;color:rgb(35,31,31);
}
#P356_102
{
left:15714.7px;bottom:36732.8px;color:rgb(35,31,31);
}
#P356_103
{
left:19566.7px;bottom:36752.5px;color:rgb(35,31,31);
}
#P356_104
{
left:20989.5px;bottom:36732.8px;color:rgb(35,31,31);
}
#P356_105
{
left:21631.6px;bottom:36732.8px;color:rgb(35,31,31);
}
#P356_106
{
left:21878px;bottom:36796.8px;color:rgb(35,31,31);
}
#P356_107
{
left:22279.3px;bottom:36732.8px;letter-spacing:-70.4px;color:rgb(35,31,31);
}
#P356_108
{
left:22525.6px;bottom:36703.2px;color:rgb(35,31,31);
}
#P356_109
{
left:23112px;bottom:36732.8px;color:rgb(35,31,31);
}
#P356_110
{
left:26926.6px;bottom:36752.5px;color:rgb(35,31,31);
}
#P356_111
{
left:28349.5px;bottom:36732.8px;color:rgb(35,31,31);
}
#P356_112
{
left:28969px;bottom:36908.8px;color:rgb(35,31,31);
}
#P356_113
{
left:29443.5px;bottom:36732.8px;color:rgb(35,31,31);
}
#P356_114
{
left:29601.9px;bottom:36732.8px;color:rgb(35,31,31);
}
#P356_115
{
left:4669.47px;bottom:34492.8px;color:rgb(35,31,31);
}
#P356_116
{
left:4846.49px;bottom:34512.5px;color:rgb(35,31,31);
}
#P356_117
{
left:6365.4px;bottom:34492.8px;color:rgb(35,31,31);
}
#P356_118
{
left:7544.6px;bottom:34556.8px;color:rgb(35,31,31);
}
#P356_119
{
left:7945.88px;bottom:34492.8px;letter-spacing:-70.4px;color:rgb(35,31,31);
}
#P356_120
{
left:8192.28px;bottom:34492.8px;color:rgb(35,31,31);
}
#P356_121
{
left:8413.98px;bottom:34492.8px;color:rgb(35,31,31);
}
#P356_122
{
left:12142.6px;bottom:34512.5px;color:rgb(35,31,31);
}
#P356_123
{
left:13565.4px;bottom:34492.8px;color:rgb(35,31,31);
}
#P356_124
{
left:13805.5px;bottom:34492.8px;color:rgb(35,31,31);
}
#P356_125
{
left:14051.9px;bottom:34668.8px;color:rgb(35,31,31);
}
#P356_126
{
left:14526.4px;bottom:34492.8px;color:rgb(35,31,31);
}
#P356_127
{
left:14684.8px;bottom:34463.2px;color:rgb(35,31,31);
}
#P356_128
{
left:15271.1px;bottom:34492.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P356_129
{
left:15292.2px;bottom:34983.9px;color:rgb(35,31,31);
}
#P356_130
{
left:15628.1px;bottom:34510.4px;color:rgb(35,31,31);
}
#P356_131
{
left:15271.1px;bottom:34528.2px;color:rgb(35,31,31);
}
#P356_132
{
left:15649.2px;bottom:34494px;color:rgb(35,31,31);
}
#P356_133
{
left:15292.2px;bottom:34076.3px;color:rgb(35,31,31);
}
#P356_134
{
left:15628.1px;bottom:34510.4px;color:rgb(35,31,31);
}
#P356_135
{
left:15649.2px;bottom:34492.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P356_136
{
left:19566.6px;bottom:34512.5px;color:rgb(35,31,31);
}
#P356_137
{
left:20989.5px;bottom:34492.8px;color:rgb(35,31,31);
}
#P356_138
{
left:21404.9px;bottom:34492.8px;color:rgb(35,31,31);
}
#P356_139
{
left:21651.3px;bottom:34556.8px;color:rgb(35,31,31);
}
#P356_140
{
left:22052.6px;bottom:34492.8px;letter-spacing:-70.4px;color:rgb(35,31,31);
}
#P356_141
{
left:22299px;bottom:34463.2px;color:rgb(35,31,31);
}
#P356_142
{
left:22885.2px;bottom:34492.8px;color:rgb(35,31,31);
}
#P356_143
{
left:26926.6px;bottom:34512.5px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P356_144
{
left:28349.4px;bottom:34512.5px;color:rgb(35,31,31);
}
#P356_145
{
left:28407.8px;bottom:34983.9px;color:rgb(35,31,31);
}
#P356_146
{
left:28743.6px;bottom:34510.4px;color:rgb(35,31,31);
}
#P356_147
{
left:28386.7px;bottom:34528.2px;color:rgb(35,31,31);
}
#P356_148
{
left:28764.8px;bottom:34494px;color:rgb(35,31,31);
}
#P356_149
{
left:28407.8px;bottom:34076.3px;color:rgb(35,31,31);
}
#P356_150
{
left:28743.6px;bottom:34510.4px;color:rgb(35,31,31);
}
#P356_151
{
left:29011.2px;bottom:34668.8px;color:rgb(35,31,31);
}
#P356_152
{
left:29485.7px;bottom:34492.8px;color:rgb(35,31,31);
}
#P356_153
{
left:29644.1px;bottom:34492.8px;color:rgb(35,31,31);
}
#P356_154
{
left:4669.4px;bottom:32160.5px;word-spacing:-26px;color:rgb(2,77,161);
}
#P356_155
{
left:0px;letter-spacing:0px;margin-left:-52.8px;
}
#P356_156
{
left:0px;letter-spacing:0px;margin-left:-12.5px;
}
#P356_157
{
left:10315px;bottom:32140.8px;letter-spacing:204.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P356_158
{
left:0px;letter-spacing:-0.5px;margin-left:-204.2px;
}
#P356_159
{
left:0px;letter-spacing:-0.1px;margin-left:0.5px;
}
#P356_160
{
left:0px;letter-spacing:0px;margin-left:-50.5px;
}
#P356_161
{
left:4846.55px;bottom:31008.5px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P356_162
{
left:0px;letter-spacing:0px;margin-left:12852.9px;
}
#P356_163
{
left:16814.6px;bottom:25760.5px;word-spacing:504.6px;
}
#P356_164
{
left:18493.4px;bottom:25760.5px;color:rgb(2,77,161);
}
#P356_165
{
left:21009.4px;bottom:25740.8px;letter-spacing:151.5px;color:rgb(35,31,31);
}
#P356_166
{
left:0px;letter-spacing:0px;margin-left:-214.7px;
}
#P356_167
{
left:0px;letter-spacing:-2.3px;
}
#P356_168
{
left:0px;letter-spacing:0px;margin-left:-212.5px;
}
#P356_169
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P356_170
{
left:0px;letter-spacing:-0.9px;
}
#P356_171
{
left:0px;letter-spacing:-1.4px;margin-left:-20.1px;
}
#P356_172
{
left:18493.4px;bottom:24844.8px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P356_173
{
left:18493.4px;bottom:23948.8px;letter-spacing:0.2px;color:rgb(35,31,31);
}
#P356_174
{
left:18493.4px;bottom:23052.8px;color:rgb(35,31,31);
}
#P356_175
{
left:18622.4px;bottom:21772.8px;letter-spacing:-14px;word-spacing:707px;color:rgb(35,31,31);
}
#P356_176
{
left:20029.4px;bottom:21772.8px;letter-spacing:-13.1px;color:rgb(35,31,31);
}
#P356_177
{
left:0px;letter-spacing:-0.2px;margin-left:13.1px;
}
#P356_178
{
left:20029.4px;bottom:20876.8px;letter-spacing:-5.6px;color:rgb(35,31,31);
}
#P356_179
{
left:0px;letter-spacing:0.2px;margin-left:5.6px;
}
#P356_180
{
left:20029.4px;bottom:19980.8px;letter-spacing:-1.1px;color:rgb(35,31,31);
}
#P356_181
{
left:0px;letter-spacing:-0.8px;margin-left:-19.9px;
}
#P356_182
{
left:0px;letter-spacing:0px;margin-left:0.8px;
}
#P356_183
{
left:18586.3px;bottom:18700.8px;letter-spacing:-13.9px;word-spacing:713.9px;color:rgb(35,31,31);
}
#P356_184
{
left:20029.4px;bottom:18700.8px;letter-spacing:-13.1px;color:rgb(35,31,31);
}
#P356_185
{
left:0px;letter-spacing:-0.2px;margin-left:13.1px;
}
#P356_186
{
left:20029.4px;bottom:17804.8px;letter-spacing:-5.6px;color:rgb(35,31,31);
}
#P356_187
{
left:0px;letter-spacing:0.2px;margin-left:5.6px;
}
#P356_188
{
left:20029.4px;bottom:16909px;letter-spacing:-1.1px;color:rgb(35,31,31);
}
#P356_189
{
left:0px;letter-spacing:-0.8px;margin-left:-19.9px;
}
#P356_190
{
left:0px;letter-spacing:0px;margin-left:0.8px;
}
#P356_191
{
left:4846.49px;bottom:14880.7px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P356_192
{
left:6333.4px;bottom:14880.5px;color:rgb(2,77,161);
}
#P356_193
{
left:9736.47px;bottom:14860.8px;color:rgb(35,31,31);
}
#P356_194
{
left:0px;letter-spacing:0px;margin-left:193.6px;
}
#P356_195
{
left:0px;letter-spacing:0px;margin-left:-25.3px;
}
#P356_196
{
left:17686px;bottom:14860.8px;letter-spacing:-2.3px;color:rgb(35,31,31);
}
#P356_197
{
left:21334.9px;bottom:14860.8px;color:rgb(35,31,31);
}
#P356_198
{
left:6333.4px;bottom:13964.8px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P356_199
{
left:0px;letter-spacing:-0.4px;margin-left:-13.2px;
}
#P356_200
{
left:0px;letter-spacing:0px;margin-left:0.4px;
}
#P356_201
{
left:6333.4px;bottom:13068.8px;letter-spacing:1.1px;color:rgb(35,31,31);
}
#P356_202
{
left:6421.34px;bottom:11724.8px;letter-spacing:-14px;word-spacing:492.2px;color:rgb(35,31,31);
}
#P356_203
{
left:7613.4px;bottom:11724.8px;letter-spacing:-13.1px;color:rgb(35,31,31);
}
#P356_204
{
left:0px;letter-spacing:-0.7px;margin-left:13.1px;
}
#P356_205
{
left:0px;letter-spacing:-1.3px;margin-left:0.7px;
}
#P356_206
{
left:7613.4px;bottom:10828.8px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P356_207
{
left:0px;letter-spacing:0.8px;margin-left:0.9px;
}
#P356_208
{
left:6385.31px;bottom:9548.84px;letter-spacing:-13.9px;word-spacing:499.1px;color:rgb(35,31,31);
}
#P356_209
{
left:7613.4px;bottom:9548.84px;letter-spacing:-13.1px;color:rgb(35,31,31);
}
#P356_210
{
left:0px;letter-spacing:-0.7px;margin-left:13.1px;
}
#P356_211
{
left:0px;letter-spacing:-1.3px;margin-left:0.7px;
}
#P356_212
{
left:7613.4px;bottom:8652.84px;letter-spacing:0.3px;color:rgb(35,31,31);
}
#P356_213
{
left:20556.8px;bottom:8652.84px;color:rgb(35,31,31);
}
#P356_214
{
left:21610px;bottom:8652.84px;color:rgb(35,31,31);
}
#P356_215
{
left:7613.4px;bottom:7756.84px;letter-spacing:-3px;color:rgb(35,31,31);
}
#P356_216
{
left:0px;letter-spacing:0px;margin-left:3px;
}
#P356_217
{
left:6456.54px;bottom:6476.84px;letter-spacing:-14px;word-spacing:492.2px;color:rgb(35,31,31);
}
#P356_218
{
left:7613.4px;bottom:6476.84px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P356_219
{
left:0px;letter-spacing:0px;margin-left:-13.1px;
}
#P356_220
{
left:0px;letter-spacing:0.6px;margin-left:-17.5px;
}
#P356_221
{
left:0px;letter-spacing:0px;margin-left:-0.6px;
}
#P356_222
{
left:7613.4px;bottom:5580.84px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P356_223
{
left:0px;letter-spacing:-0.2px;margin-left:1.4px;
}
#P356_224
{
left:6269.4px;bottom:31008.5px;color:rgb(33,31,31);
}
#P356_225
{
left:6733.4px;bottom:30487.9px;color:rgb(35,31,31);
}
#P356_226
{
left:9293.4px;bottom:30445.7px;color:rgb(35,31,31);
}
#P356_227
{
left:9572.89px;bottom:30445.7px;color:rgb(35,31,31);
}
#P356_228
{
left:9836.89px;bottom:30727.9px;color:rgb(35,31,31);
}
#P356_229
{
left:10311.4px;bottom:30445.7px;color:rgb(35,31,31);
}
#P356_230
{
left:6733.4px;bottom:29549.7px;color:rgb(35,31,31);
}
#P356_231
{
left:11872.8px;bottom:28784.4px;color:rgb(35,31,31);
}
#P356_232
{
left:10320.9px;bottom:28772.6px;color:rgb(35,31,31);
}
#P356_233
{
left:13452.3px;bottom:28759.3px;color:rgb(35,31,31);
}
#P356_234
{
left:15025.2px;bottom:28774.1px;color:rgb(35,31,31);
}
#P356_235
{
left:0px;bottom:0px;letter-spacing:0px;color:rgb(235,26,35);
}
#P356_236
{
left:21448.6px;bottom:30490.2px;color:rgb(35,31,31);
}
#P356_237
{
left:24008.6px;bottom:30447.9px;color:rgb(35,31,31);
}
#P356_238
{
left:24288.1px;bottom:30343px;color:rgb(35,31,31);
}
#P356_239
{
left:24465.2px;bottom:30535px;color:rgb(35,31,31);
}
#P356_240
{
left:24917px;bottom:30343px;color:rgb(35,31,31);
}
#P356_241
{
left:25064.8px;bottom:30460.6px;color:rgb(35,31,31);
}
#P356_242
{
left:25651.2px;bottom:30447.9px;color:rgb(35,31,31);
}
#P356_243
{
left:21448.6px;bottom:29404.7px;color:rgb(35,31,31);
}
#P356_244
{
left:27874.6px;bottom:28667.1px;color:rgb(35,31,31);
}
#P356_245
{
left:28301.1px;bottom:28780.7px;color:rgb(35,31,31);
}
#P356_246
{
left:29874.5px;bottom:28795.6px;color:rgb(35,31,31);
}
#P356_247
{
left:26306.4px;bottom:28667.1px;color:rgb(35,31,31);
}
#P356_248
{
left:26732.9px;bottom:28780.7px;color:rgb(35,31,31);
}
#P356_249
{
left:24738.1px;bottom:28692.7px;color:rgb(35,31,31);
}
#P356_250
{
left:25164.6px;bottom:28806.3px;color:rgb(35,31,31);
}
#P356_251
{
left:0px;bottom:0px;letter-spacing:0px;color:rgb(235,26,35);
}
#P356_252
{
left:3946.51px;bottom:38962.6px;
}
#P356_253
{
left:3946.51px;bottom:38962.6px;color:white;
}
#P356_254
{
left:16814.6px;bottom:25760.5px;color:rgb(33,31,31);
}
#P356_255
{
left:9993.24px;bottom:19678.7px;color:rgb(35,31,31);
}
#P356_256
{
left:6766.04px;bottom:29034.9px;
}
#P356_257
{
left:21691.9px;bottom:29034.9px;
}
#PageContainer356
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg356.jpg");background-repeat:no-repeat;background-size: 833px 1174px; background-position: 97.38px 106.08px;
}
#ImageContainer356 {bottom:83.92px;left:97.38px;width:833.07px;height:1173.63px;position:absolute;} #TextContainer356 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.circle3{position: absolute;top: 277px;left: 97px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}