.tr687{ color:transparent;}
#P687_1
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P687_2
{
left:11891.8px;bottom:1410.03px;color:rgb(35,31,31);
}
#P687_3
{
left:16800px;bottom:1410.03px;letter-spacing:462.2px;word-spacing:-0.1px;color:rgb(35,31,31);
}
#P687_4
{
left:0px;letter-spacing:1.4px;margin-left:-462.1px;
}
#P687_5
{
left:0px;letter-spacing:0px;margin-left:4.2px;
}
#P687_6
{
left:0px;letter-spacing:-2.7px;margin-left:21.4px;
}
#P687_7
{
left:0px;letter-spacing:4.3px;margin-left:6.6px;
}
#P687_8
{
left:0px;letter-spacing:2.9px;margin-left:-5.9px;
}
#P687_9
{
left:0px;letter-spacing:2.5px;margin-left:1.8px;
}
#P687_10
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P687_11
{
left:6909.4px;bottom:9365.1px;letter-spacing:-28.1px;color:rgb(35,31,31);
}
#P687_12
{
left:0px;letter-spacing:0.2px;margin-left:28.1px;
}
#P687_13
{
left:0px;letter-spacing:0px;margin-left:-28.2px;
}
#P687_14
{
left:21231.4px;bottom:9365.1px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P687_15
{
left:6909.4px;bottom:7829.1px;color:rgb(35,31,31);
}
#P687_16
{
left:7086.55px;bottom:7848.81px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P687_17
{
left:8509.4px;bottom:7848.81px;color:rgb(35,31,31);
}
#P687_18
{
left:8698.39px;bottom:8270.89px;color:rgb(35,31,31);
}
#P687_19
{
left:9034.2px;bottom:7846.7px;color:rgb(35,31,31);
}
#P687_20
{
left:8509.4px;bottom:7815.2px;color:rgb(35,31,31);
}
#P687_21
{
left:9223.26px;bottom:7830.37px;color:rgb(35,31,31);
}
#P687_22
{
left:8530.52px;bottom:7363.37px;color:rgb(35,31,31);
}
#P687_23
{
left:9202.14px;bottom:7846.7px;color:rgb(35,31,31);
}
#P687_24
{
left:9223.26px;bottom:7829.1px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P687_25
{
left:9757.21px;bottom:8268.78px;color:rgb(35,31,31);
}
#P687_26
{
left:10093px;bottom:7846.7px;color:rgb(35,31,31);
}
#P687_27
{
left:9568.22px;bottom:7813.09px;color:rgb(35,31,31);
}
#P687_28
{
left:10282.1px;bottom:7830.37px;color:rgb(35,31,31);
}
#P687_29
{
left:9589.34px;bottom:7361.26px;color:rgb(35,31,31);
}
#P687_30
{
left:10261px;bottom:7846.7px;color:rgb(35,31,31);
}
#P687_31
{
left:10282.1px;bottom:7829.1px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P687_32
{
left:17390.6px;bottom:7848.81px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P687_33
{
left:18813.4px;bottom:7848.81px;color:rgb(35,31,31);
}
#P687_34
{
left:19002.4px;bottom:8270.89px;color:rgb(35,31,31);
}
#P687_35
{
left:19338.2px;bottom:7846.7px;color:rgb(35,31,31);
}
#P687_36
{
left:18813.4px;bottom:7815.2px;color:rgb(35,31,31);
}
#P687_37
{
left:19527.3px;bottom:7830.37px;color:rgb(35,31,31);
}
#P687_38
{
left:18834.5px;bottom:7363.37px;color:rgb(35,31,31);
}
#P687_39
{
left:19506.1px;bottom:7846.7px;color:rgb(35,31,31);
}
#P687_40
{
left:19527.3px;bottom:7829.1px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P687_41
{
left:19893.3px;bottom:8268.78px;color:rgb(35,31,31);
}
#P687_42
{
left:20565px;bottom:7846.7px;color:rgb(35,31,31);
}
#P687_43
{
left:19872.2px;bottom:7813.09px;color:rgb(35,31,31);
}
#P687_44
{
left:20586.1px;bottom:7830.37px;color:rgb(35,31,31);
}
#P687_45
{
left:19893.3px;bottom:7361.26px;color:rgb(35,31,31);
}
#P687_46
{
left:20565px;bottom:7846.7px;color:rgb(35,31,31);
}
#P687_47
{
left:20586.1px;bottom:7829.1px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P687_48
{
left:27694.6px;bottom:7848.81px;word-spacing:120.6px;color:rgb(35,31,31);
}
#P687_49
{
left:28989.5px;bottom:7848.81px;color:rgb(35,31,31);
}
#P687_50
{
left:29010.5px;bottom:8270.89px;color:rgb(35,31,31);
}
#P687_51
{
left:29682.1px;bottom:7846.7px;color:rgb(35,31,31);
}
#P687_52
{
left:28989.4px;bottom:7815.2px;color:rgb(35,31,31);
}
#P687_53
{
left:29703.3px;bottom:7830.37px;color:rgb(35,31,31);
}
#P687_54
{
left:29010.5px;bottom:7363.37px;color:rgb(35,31,31);
}
#P687_55
{
left:29682.1px;bottom:7846.7px;color:rgb(35,31,31);
}
#P687_56
{
left:29703.3px;bottom:7829.1px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P687_57
{
left:30069.3px;bottom:8268.78px;color:rgb(35,31,31);
}
#P687_58
{
left:30741px;bottom:7846.7px;color:rgb(35,31,31);
}
#P687_59
{
left:30048.2px;bottom:7813.09px;color:rgb(35,31,31);
}
#P687_60
{
left:30762.1px;bottom:7830.37px;color:rgb(35,31,31);
}
#P687_61
{
left:30069.3px;bottom:7361.26px;color:rgb(35,31,31);
}
#P687_62
{
left:30741px;bottom:7846.7px;color:rgb(35,31,31);
}
#P687_63
{
left:30762.1px;bottom:7829.1px;color:rgb(35,31,31);
}
#P687_64
{
left:6909.4px;bottom:5781.1px;color:rgb(35,31,31);
}
#P687_65
{
left:7086.55px;bottom:5800.81px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P687_66
{
left:8573.4px;bottom:5800.81px;letter-spacing:-17.6px;color:rgb(2,77,161);
}
#P687_67
{
left:0px;letter-spacing:0px;margin-left:17.6px;
}
#P687_68
{
left:14049px;bottom:5781.1px;letter-spacing:151.5px;color:rgb(35,31,31);
}
#P687_69
{
left:0px;letter-spacing:0px;margin-left:-151.5px;
}
#P687_70
{
left:22022.6px;bottom:5781.1px;color:rgb(35,31,31);
}
#P687_71
{
left:22457.6px;bottom:5781.1px;color:rgb(35,31,31);
}
#P687_72
{
left:22616px;bottom:5751.53px;color:rgb(35,31,31);
}
#P687_73
{
left:23202.5px;bottom:5781.1px;color:rgb(35,31,31);
}
#P687_74
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P687_75
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P687_76
{
left:24628.1px;bottom:5751.53px;color:rgb(35,31,31);
}
#P687_77
{
left:25214.4px;bottom:5781.1px;color:rgb(35,31,31);
}

#P687_78
{
left:27096.9px;bottom:5781.1px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P687_78a
{
left: 30816.9px;bottom:5781.1px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P687_78b
{
left: 32446.9px;bottom:5781.1px;letter-spacing:-0.3px;color:rgb(0,124,196);
}
#P687_79
{
left:6909.4px;bottom:4437.1px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P687_80
{
left:8486.49px;bottom:4480.48px;color:rgb(35,31,31);
}
#P687_81
{
left:8823.32px;bottom:4601.61px;color:rgb(35,31,31);
}
#P687_82
{
left:9469.4px;bottom:4437.1px;color:rgb(35,31,31);
}
#P687_83
{
left:10237.4px;bottom:4437.1px;color:rgb(35,31,31);
}
#P687_84
{
left:10918.9px;bottom:4437.1px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P687_85
{
left:11566.6px;bottom:4407.53px;color:rgb(35,31,31);
}
#P687_86
{
left:12153px;bottom:4437.1px;color:rgb(35,31,31);
}
#P687_87
{
left:15782.5px;bottom:4480.48px;color:rgb(35,31,31);
}
#P687_88
{
left:16119.3px;bottom:4601.61px;color:rgb(35,31,31);
}
#P687_89
{
left:16765.4px;bottom:4437.1px;color:rgb(35,31,31);
}
#P687_90
{
left:17533.4px;bottom:4437.1px;color:rgb(35,31,31);
}
#P687_91
{
left:18214.9px;bottom:4437.1px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P687_92
{
left:18862.6px;bottom:4407.53px;color:rgb(35,31,31);
}
#P687_93
{
left:19449px;bottom:4437.1px;color:rgb(35,31,31);
}
#P687_94
{
left:23270.5px;bottom:4480.48px;color:rgb(35,31,31);
}
#P687_95
{
left:23607.3px;bottom:4601.61px;color:rgb(35,31,31);
}
#P687_96
{
left:24253.4px;bottom:4437.1px;color:rgb(35,31,31);
}
#P687_97
{
left:25021.4px;bottom:4437.1px;color:rgb(35,31,31);
}
#P687_98
{
left:25702.9px;bottom:4437.1px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P687_99
{
left:26350.6px;bottom:4407.53px;color:rgb(35,31,31);
}
#P687_100
{
left:26937px;bottom:4437.1px;color:rgb(35,31,31);
}
#P687_101
{
left:30630.5px;bottom:4480.48px;color:rgb(35,31,31);
}
#P687_102
{
left:30967.3px;bottom:4601.61px;color:rgb(35,31,31);
}
#P687_103
{
left:31613.4px;bottom:4437.1px;color:rgb(35,31,31);
}
#P687_104
{
left:32381.4px;bottom:4437.1px;color:rgb(35,31,31);
}
#P687_105
{
left:33062.9px;bottom:4437.1px;word-spacing:-70.4px;color:rgb(35,31,31);
}
#P687_106
{
left:33710.6px;bottom:4407.53px;color:rgb(35,31,31);
}
#P687_107
{
left:34297px;bottom:4437.1px;color:rgb(35,31,31);
}
#P687_108
{
left:6973.4px;bottom:46736.5px;color:rgb(2,77,161);
}
#P687_109
{
left:10298.3px;bottom:46716.8px;letter-spacing:204.2px;color:rgb(35,31,31);
}
#P687_110
{
left:0px;letter-spacing:-1.4px;margin-left:-211.1px;
}
#P687_111
{
left:0px;letter-spacing:-0.7px;margin-left:1.4px;
}
#P687_112
{
left:0px;letter-spacing:5.2px;margin-left:0.7px;
}
#P687_113
{
left:7150.55px;bottom:45264.5px;color:rgb(35,31,31);
}
#P687_114
{
left:8573.4px;bottom:45244.8px;color:rgb(35,31,31);
}
#P687_115
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P687_116
{
left:12803px;bottom:45684.5px;color:rgb(35,31,31);
}
#P687_117
{
left:13138.8px;bottom:45262.4px;color:rgb(35,31,31);
}
#P687_118
{
left:12781.8px;bottom:45228.8px;color:rgb(35,31,31);
}
#P687_119
{
left:13159.9px;bottom:45246px;color:rgb(35,31,31);
}
#P687_120
{
left:12803px;bottom:44776.9px;color:rgb(35,31,31);
}
#P687_121
{
left:13138.8px;bottom:45262.4px;color:rgb(35,31,31);
}
#P687_122
{
left:13159.9px;bottom:45244.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P687_123
{
left:0px;letter-spacing:0px;margin-left:158.4px;
}
#P687_124
{
left:21934.6px;bottom:45264.5px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P687_125
{
left:23357.4px;bottom:45264.5px;color:rgb(35,31,31);
}
#P687_126
{
left:23378.5px;bottom:45686.6px;color:rgb(35,31,31);
}
#P687_127
{
left:23714.3px;bottom:45262.4px;color:rgb(35,31,31);
}
#P687_128
{
left:23357.4px;bottom:45230.9px;color:rgb(35,31,31);
}
#P687_129
{
left:23735.4px;bottom:45246px;color:rgb(35,31,31);
}
#P687_130
{
left:23378.5px;bottom:44779.1px;color:rgb(35,31,31);
}
#P687_131
{
left:23714.3px;bottom:45262.4px;color:rgb(35,31,31);
}
#P687_132
{
left:23735.4px;bottom:45244.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P687_133
{
left:0px;letter-spacing:0px;margin-left:158.4px;
}
#P687_134
{
left:27011.1px;bottom:45595.1px;color:rgb(35,31,31);
}
#P687_135
{
left:27384.2px;bottom:45225.5px;color:rgb(35,31,31);
}
#P687_136
{
left:27011.1px;bottom:45244.8px;color:rgb(35,31,31);
}
#P687_137
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P687_138
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P687_139
{
left:27908.7px;bottom:45684.5px;color:rgb(35,31,31);
}
#P687_140
{
left:28580.3px;bottom:45262.4px;color:rgb(35,31,31);
}
#P687_141
{
left:27887.6px;bottom:45228.8px;color:rgb(35,31,31);
}
#P687_142
{
left:28601.4px;bottom:45246px;color:rgb(35,31,31);
}
#P687_143
{
left:27908.7px;bottom:44776.9px;color:rgb(35,31,31);
}
#P687_144
{
left:28580.3px;bottom:45262.4px;color:rgb(35,31,31);
}
#P687_145
{
left:28601.4px;bottom:45244.8px;color:rgb(35,31,31);
}
#P687_146
{
left:6973.4px;bottom:43324.8px;color:rgb(35,31,31);
}
#P687_147
{
left:0px;letter-spacing:0px;margin-left:-56.1px;
}
#P687_148
{
left:0px;letter-spacing:0px;margin-left:-21px;
}
#P687_149
{
left:0px;letter-spacing:0px;margin-left:-42.1px;
}
#P687_150
{
left:7150.55px;bottom:41872.5px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P687_151
{
left:8573.4px;bottom:41872.5px;color:rgb(35,31,31);
}
#P687_152
{
left:8594.52px;bottom:42294.6px;color:rgb(35,31,31);
}
#P687_153
{
left:8930.33px;bottom:41870.4px;color:rgb(35,31,31);
}
#P687_154
{
left:8573.4px;bottom:41838.9px;color:rgb(35,31,31);
}
#P687_155
{
left:8951.45px;bottom:41854px;color:rgb(35,31,31);
}
#P687_156
{
left:8594.52px;bottom:41387.1px;color:rgb(35,31,31);
}
#P687_157
{
left:8930.33px;bottom:41870.4px;color:rgb(35,31,31);
}
#P687_158
{
left:8951.45px;bottom:41852.8px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P687_159
{
left:14446.5px;bottom:41872.5px;color:rgb(35,31,31);
}
#P687_160
{
left:15869.5px;bottom:41852.8px;color:rgb(35,31,31);
}
#P687_161
{
left:21870.6px;bottom:41872.5px;color:rgb(35,31,31);
}
#P687_162
{
left:23293.5px;bottom:41852.8px;color:rgb(35,31,31);
}
#P687_163
{
left:29230.7px;bottom:41872.5px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P687_164
{
left:30653.5px;bottom:41872.5px;color:rgb(35,31,31);
}
#P687_165
{
left:30674.5px;bottom:42294.6px;color:rgb(35,31,31);
}
#P687_166
{
left:31010.3px;bottom:41870.4px;color:rgb(35,31,31);
}
#P687_167
{
left:30653.4px;bottom:41838.9px;color:rgb(35,31,31);
}
#P687_168
{
left:31031.4px;bottom:41854px;color:rgb(35,31,31);
}
#P687_169
{
left:30674.5px;bottom:41387.1px;color:rgb(35,31,31);
}
#P687_170
{
left:31010.3px;bottom:41870.4px;color:rgb(35,31,31);
}
#P687_171
{
left:31031.4px;bottom:41852.8px;color:rgb(35,31,31);
}
#P687_172
{
left:9823.96px;bottom:39041.2px;color:rgb(35,31,31);
}
#P687_173
{
left:0px;letter-spacing:0px;margin-left:5914.6px;
}
#P687_174
{
left:0px;letter-spacing:0px;margin-left:731.6px;
}
#P687_175
{
left:0px;letter-spacing:0px;margin-left:731.6px;
}
#P687_176
{
left:0px;letter-spacing:0px;margin-left:731.6px;
}
#P687_177
{
left:0px;letter-spacing:0px;margin-left:731.6px;
}
#P687_178
{
left:0px;letter-spacing:0px;margin-left:731.6px;
}
#P687_179
{
left:0px;letter-spacing:0px;margin-left:731.6px;
}
#P687_180
{
left:11552px;bottom:39041.2px;color:rgb(35,31,31);
}
#P687_181
{
left:13280px;bottom:39041.2px;color:rgb(35,31,31);
}
#P687_182
{
left:15008px;bottom:39041.2px;color:rgb(35,31,31);
}
#P687_183
{
left:10093.6px;bottom:40448.1px;letter-spacing:5663.2px;color:rgb(0,124,196);
}
#P687_184
{
left:0px;letter-spacing:0px;margin-left:-4383.4px;
}
#P687_185
{
left:0px;letter-spacing:0px;margin-left:873.8px;
}
#P687_186
{
left:7150.55px;bottom:36304.5px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P687_187
{
left:8637.4px;bottom:36304.5px;letter-spacing:-1px;color:rgb(2,77,161);
}
#P687_188
{
left:13972.4px;bottom:36284.8px;letter-spacing:168.3px;color:rgb(35,31,31);
}
#P687_189
{
left:0px;letter-spacing:-8.4px;margin-left:-168.3px;
}
#P687_190
{
left:0px;letter-spacing:0px;margin-left:-61.9px;
}
#P687_191
{
left:0px;letter-spacing:-2.3px;
}
#P687_192
{
left:0px;letter-spacing:-0.6px;margin-left:2.3px;
}
#P687_193
{
left:0px;letter-spacing:-8.4px;margin-left:-13.3px;
}
#P687_194
{
left:0px;letter-spacing:-0.3px;margin-left:8.4px;
}
#P687_195
{
left:8637.4px;bottom:35388.8px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P687_196
{
left:17083.3px;bottom:35388.8px;color:rgb(35,31,31);
}
#P687_197
{
left:18936.2px;bottom:35388.8px;letter-spacing:-6.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P687_198
{
left:0px;letter-spacing:-2.2px;margin-left:162.6px;
}
#P687_199
{
left:0px;letter-spacing:-4.3px;margin-left:2.1px;
}
#P687_200
{
left:0px;letter-spacing:-1.1px;margin-left:4.2px;
}
#P687_201
{
left:0px;letter-spacing:-0.1px;margin-left:159.4px;
}
#P687_202
{
left:8637.4px;bottom:34492.9px;letter-spacing:-4.2px;color:rgb(35,31,31);
}
#P687_203
{
left:0px;letter-spacing:0px;margin-left:-66.1px;
}
#P687_204
{
left:0px;letter-spacing:-2.3px;
}
#P687_205
{
left:0px;letter-spacing:-1.1px;margin-left:2.3px;
}
#P687_206
{
left:0px;letter-spacing:-42.1px;margin-left:1.1px;
}
#P687_207
{
left:0px;letter-spacing:-0.9px;margin-left:42.1px;
}
#P687_208
{
left:0px;letter-spacing:0.3px;margin-left:0.9px;
}
#P687_209
{
left:11405.4px;bottom:32678.3px;color:rgb(35,31,31);
}
#P687_210
{
left:20888.7px;bottom:32667.4px;letter-spacing:2322.6px;color:rgb(35,31,31);
}
#P687_211
{
left:0px;letter-spacing:0px;margin-left:-143.9px;
}
#P687_212
{
left:0px;letter-spacing:0px;margin-left:2009.1px;
}
#P687_213
{
left:0px;letter-spacing:0px;
}
#P687_214
{
left:0px;letter-spacing:0px;margin-left:1839.4px;
}
#P687_215
{
left:0px;letter-spacing:0px;
}
#P687_216
{
left:11405.4px;bottom:31129.9px;color:rgb(35,31,31);
}
#P687_217
{
left:0px;letter-spacing:0px;margin-left:-74.5px;
}
#P687_218
{
left:20567.4px;bottom:31111.1px;letter-spacing:-151.2px;color:rgb(35,31,31);
}
#P687_219
{
left:20747.8px;bottom:31530.8px;color:rgb(35,31,31);
}
#P687_220
{
left:21388.9px;bottom:31127.9px;color:rgb(35,31,31);
}
#P687_221
{
left:20567.4px;bottom:31095.8px;color:rgb(35,31,31);
}
#P687_222
{
left:21569.3px;bottom:31112.3px;color:rgb(35,31,31);
}
#P687_223
{
left:20587.5px;bottom:30664.5px;color:rgb(35,31,31);
}
#P687_224
{
left:21549.1px;bottom:31127.9px;color:rgb(35,31,31);
}
#P687_225
{
left:22918.7px;bottom:31111.1px;word-spacing:1198.2px;color:rgb(35,31,31);
}
#P687_226
{
left:26087.8px;bottom:31530.8px;color:rgb(35,31,31);
}
#P687_227
{
left:26408.3px;bottom:31127.9px;color:rgb(35,31,31);
}
#P687_228
{
left:25747.1px;bottom:31095.8px;color:rgb(35,31,31);
}
#P687_229
{
left:26749px;bottom:31112.3px;color:rgb(35,31,31);
}
#P687_230
{
left:25767.3px;bottom:30664.5px;color:rgb(35,31,31);
}
#P687_231
{
left:26728.9px;bottom:31127.9px;color:rgb(35,31,31);
}
#P687_232
{
left:28132.6px;bottom:31111.1px;word-spacing:1232.4px;color:rgb(35,31,31);
}
#P687_233
{
left:0px;letter-spacing:0px;margin-left:1434.9px;
}
#P687_234
{
left:7150.55px;bottom:27664.5px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P687_235
{
left:8637.4px;bottom:27664.5px;color:rgb(2,77,161);
}
#P687_236
{
left:10476.2px;bottom:27644.8px;letter-spacing:168.3px;color:rgb(35,31,31);
}
#P687_237
{
left:0px;letter-spacing:-1.7px;margin-left:-168.3px;
}
#P687_238
{
left:0px;letter-spacing:0.3px;margin-left:1.7px;
}
#P687_239
{
left:8637.4px;bottom:26748.8px;letter-spacing:-0.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P687_240
{
left:0px;letter-spacing:0px;margin-left:-27.6px;
}
#P687_241
{
left:8725.34px;bottom:25404.8px;letter-spacing:-14px;word-spacing:492.2px;color:rgb(35,31,31);
}
#P687_242
{
left:9917.4px;bottom:25404.8px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P687_243
{
left:0px;letter-spacing:0px;margin-left:-16.8px;
}
#P687_244
{
left:0px;letter-spacing:0px;margin-left:-4.1px;
}
#P687_245
{
left:9917.4px;bottom:24508.9px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P687_246
{
left:8689.31px;bottom:23420.8px;letter-spacing:-17.5px;color:rgb(35,31,31);
}
#P687_247
{
left:9917.4px;bottom:23420.8px;color:rgb(35,31,31);
}
#P687_248
{
left:0px;letter-spacing:0px;margin-left:-28.1px;
}
#P687_249
{
left:8760.54px;bottom:22332.9px;letter-spacing:-14px;color:rgb(35,31,31);
}
#P687_250
{
left:9917.4px;bottom:22332.9px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P687_251
{
left:0px;letter-spacing:0px;margin-left:-213.3px;
}
#P687_252
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P687_253
{
left:0px;letter-spacing:-1.3px;
}
#P687_254
{
left:0px;letter-spacing:0px;margin-left:-12.7px;
}
#P687_255
{
left:7150.62px;bottom:19408.6px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P687_256
{
left:12829.4px;bottom:19388.8px;letter-spacing:168.3px;color:rgb(35,31,31);
}
#P687_257
{
left:0px;letter-spacing:0px;margin-left:-238.7px;
}
#P687_258
{
left:0px;letter-spacing:-0.2px;
}
#P687_259
{
left:8637.4px;bottom:18492.8px;color:rgb(35,31,31);
}
#P687_260
{
left:14351.6px;bottom:18492.8px;color:rgb(35,31,31);
}
#P687_261
{
left:14746.5px;bottom:18492.8px;color:rgb(35,31,31);
}
#P687_262
{
left:8637.4px;bottom:17596.9px;letter-spacing:-4.6px;color:rgb(35,31,31);
}
#P687_263
{
left:0px;letter-spacing:-1.6px;margin-left:4.6px;
}
#P687_264
{
left:0px;letter-spacing:-0.8px;margin-left:1.6px;
}
#P687_265
{
left:0px;letter-spacing:-1.4px;margin-left:-3.3px;
}
#P687_266
{
left:8637.4px;bottom:16701px;color:rgb(35,31,31);
}
#P687_267
{
left:0px;letter-spacing:0px;margin-left:-13.9px;
}
#P687_268
{
left:0px;letter-spacing:0px;margin-left:-66.9px;
}
#P687_269
{
left:6973.47px;bottom:15293px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P687_270
{
left:8697.37px;bottom:15293px;color:rgb(35,31,31);
}
#P687_271
{
left:9277.47px;bottom:15293px;letter-spacing:481.6px;color:rgb(35,31,31);
}
#P687_272
{
left:0px;letter-spacing:0px;margin-left:-640px;
}
#P687_273
{
left:9948.31px;bottom:15732.5px;color:rgb(35,31,31);
}
#P687_274
{
left:10284.1px;bottom:15310.4px;color:rgb(35,31,31);
}
#P687_275
{
left:9917.4px;bottom:15276.8px;color:rgb(35,31,31);
}
#P687_276
{
left:10315.1px;bottom:15294px;color:rgb(35,31,31);
}
#P687_277
{
left:9938.52px;bottom:14824.9px;color:rgb(35,31,31);
}
#P687_278
{
left:10294px;bottom:15310.4px;color:rgb(35,31,31);
}
#P687_279
{
left:10315.1px;bottom:15292.8px;color:rgb(35,31,31);
}
#P687_280
{
left:10315.1px;bottom:15292.8px;color:rgb(35,31,31);
}
#P687_281
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P687_282
{
left:10839.3px;bottom:15732.5px;color:rgb(35,31,31);
}
#P687_283
{
left:11194.7px;bottom:15310.4px;color:rgb(35,31,31);
}
#P687_284
{
left:10660.1px;bottom:15276.8px;color:rgb(35,31,31);
}
#P687_285
{
left:11373.9px;bottom:15294px;color:rgb(35,31,31);
}
#P687_286
{
left:10681.2px;bottom:14824.9px;color:rgb(35,31,31);
}
#P687_287
{
left:11352.8px;bottom:15310.4px;color:rgb(35,31,31);
}
#P687_288
{
left:11373.9px;bottom:15292.8px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P687_289
{
left:0px;letter-spacing:0px;margin-left:158.4px;
}
#P687_290
{
left:17109.2px;bottom:15292.8px;letter-spacing:-6.9px;color:rgb(35,31,31);
}
#P687_291
{
left:17725.4px;bottom:15292.8px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P687_292
{
left:0px;letter-spacing:0px;margin-left:-704px;
}
#P687_293
{
left:18460.3px;bottom:15732.5px;color:rgb(35,31,31);
}
#P687_294
{
left:18796.1px;bottom:15310.4px;color:rgb(35,31,31);
}
#P687_295
{
left:18429.4px;bottom:15276.8px;color:rgb(35,31,31);
}
#P687_296
{
left:18827.1px;bottom:15294px;color:rgb(35,31,31);
}
#P687_297
{
left:18450.5px;bottom:14824.9px;color:rgb(35,31,31);
}
#P687_298
{
left:18806px;bottom:15310.4px;color:rgb(35,31,31);
}
#P687_299
{
left:18827.1px;bottom:15292.8px;color:rgb(35,31,31);
}
#P687_300
{
left:18827.1px;bottom:15292.8px;color:rgb(35,31,31);
}
#P687_301
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P687_302
{
left:19193.2px;bottom:15732.5px;color:rgb(35,31,31);
}
#P687_303
{
left:19548.6px;bottom:15310.4px;color:rgb(35,31,31);
}
#P687_304
{
left:19172.1px;bottom:15276.8px;color:rgb(35,31,31);
}
#P687_305
{
left:19569.8px;bottom:15294px;color:rgb(35,31,31);
}
#P687_306
{
left:19203px;bottom:14824.9px;color:rgb(35,31,31);
}
#P687_307
{
left:19538.8px;bottom:15310.4px;color:rgb(35,31,31);
}
#P687_308
{
left:19569.8px;bottom:15292.8px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P687_309
{
left:0px;letter-spacing:0px;margin-left:158.4px;
}
#P687_310
{
left:25786.1px;bottom:23411.6px;word-spacing:-4px;
}
#P687_311
{
left:0px;letter-spacing:0px;margin-left:1020.8px;
}
#P687_312
{
left:25789.4px;bottom:22304.8px;
}
#P687_313
{
left:0px;letter-spacing:0px;margin-left:3677px;
}
#P687_314
{
left:25789.4px;bottom:21280.9px;color:rgb(35,31,31);
}
#P687_315
{
left:31889.6px;bottom:21280.9px;
}
#P687_316
{
left:25789.4px;bottom:19799.2px;word-spacing:-151.2px;color:rgb(35,31,31);
}
#P687_317
{
left:0px;letter-spacing:0px;margin-left:-8.1px;
}
#P687_318
{
left:32483.9px;bottom:20218.8px;color:rgb(35,31,31);
}
#P687_319
{
left:33125px;bottom:19815.9px;color:rgb(35,31,31);
}
#P687_320
{
left:32463.8px;bottom:19783.8px;color:rgb(35,31,31);
}
#P687_321
{
left:33145.2px;bottom:19800.4px;color:rgb(35,31,31);
}
#P687_322
{
left:32483.9px;bottom:19352.6px;color:rgb(35,31,31);
}
#P687_323
{
left:33125px;bottom:19815.9px;color:rgb(35,31,31);
}
#P687_324
{
left:33145.2px;bottom:19799.1px;color:rgb(35,31,31);
}
#P687_325
{
left:25789.5px;bottom:17811.9px;letter-spacing:-0.4px;word-spacing:-150.8px;color:rgb(35,31,31);
}
#P687_326
{
left:0px;letter-spacing:-0.4px;margin-left:-12.9px;
}
#P687_327
{
left:32483.9px;bottom:18231.6px;color:rgb(35,31,31);
}
#P687_328
{
left:33125px;bottom:17828.7px;color:rgb(35,31,31);
}
#P687_329
{
left:32463.8px;bottom:17796.6px;color:rgb(35,31,31);
}
#P687_330
{
left:33145.2px;bottom:17813.1px;color:rgb(35,31,31);
}
#P687_331
{
left:32483.9px;bottom:17365.3px;color:rgb(35,31,31);
}
#P687_332
{
left:33125px;bottom:17828.7px;color:rgb(35,31,31);
}
#P687_333
{
left:33145.2px;bottom:17811.9px;color:rgb(35,31,31);
}
#P687_334
{
left:25789.5px;bottom:16282.2px;color:rgb(35,31,31);
}
#P687_335
{
left:0px;letter-spacing:0px;margin-left:-22.8px;
}
#P687_336
{
left:0px;letter-spacing:0px;margin-left:4553.8px;
}
#P687_337
{
left:25786.1px;bottom:23411.6px;color:rgb(29,20,0);
}
#P687_338
{
left:29047.3px;bottom:23411.6px;word-spacing:-4px;color:rgb(29,20,0);
}
#P687_339
{
left:33258.7px;bottom:23411.6px;color:rgb(29,20,0);
}
#P687_340
{
left:33815.1px;bottom:23411.6px;word-spacing:-4px;color:rgb(29,20,0);
}
#P687_341
{
left:36130.8px;bottom:23411.6px;color:rgb(29,20,0);
}
#P687_342
{
left:25789.4px;bottom:22304.8px;
color: rgb(31,29,20);
}
#P687_343
{
left:0px;letter-spacing:0px;margin-left:3677px;
}
#P687_344
{
left:0px;letter-spacing:0px;
}
#P687_345
{
left: 26509.4px;
color: rgb(31,29,20);
bottom:21280.8px;
}
#P687_346
{
left:0px;letter-spacing:0px;margin-left:5522.9px;
}
#P687_347
{
left:0px;letter-spacing:0px;margin-left:178.1px;
}
#P687_348
{
left:0px;letter-spacing:0px;margin-left:-0.1px;
}
#PageContainer687
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg687.jpg");background-repeat:no-repeat;background-size: 857px 1005px; background-position: 151.33px 267.73px;
}
#ImageContainer687 {bottom:91.27px;left:151.33px;width:856.66px;height:1004.61px;position:absolute;} #TextContainer687 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}