.tr227{ color:transparent;}
#P227_1
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P227_2
{
left:26270.2px;bottom:1410.03px;color:rgb(35,31,31);
}
#P227_3
{
left:30821.1px;bottom:1410.03px;letter-spacing:-0.1px;word-spacing:461.4px;color:rgb(35,31,31);
}
#P227_4
{
left:0px;letter-spacing:0px;margin-left:-461.4px;
}
#P227_5
{
left:0px;letter-spacing:1px;margin-left:-45.3px;
}
#P227_6
{
left:0px;letter-spacing:3.4px;margin-left:-0.4px;
}
#P227_7
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P227_8
{
left:8193.56px;bottom:46957.1px;letter-spacing:-6px;color:white;
}
#P227_9
{
left:11406px;bottom:47255.5px;color:white;
}
#P227_10
{
left:11779.6px;bottom:46957.1px;color:white;
}
#P227_11
{
left:4675.8px;bottom:46929.9px;color:white;
}
#P227_12
{
left:6994.71px;bottom:42321.3px;color:rgb(35,31,31);
}
#P227_13
{
left:7563.29px;bottom:42341px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P227_14
{
left:8658.71px;bottom:42341px;letter-spacing:-2.8px;color:rgb(2,77,161);
}
#P227_15
{
left:12882.9px;bottom:42321.3px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P227_16
{
left:0px;letter-spacing:-7px;margin-left:-214.6px;
}
#P227_17
{
left:0px;letter-spacing:-0.3px;margin-left:7px;
}
#P227_18
{
left:0px;letter-spacing:-0.3px;margin-left:-13.6px;
}
#P227_19
{
left:6994.71px;bottom:40977.3px;color:rgb(35,31,31);
}
#P227_20
{
left:7563.29px;bottom:40997px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P227_21
{
left:8658.71px;bottom:40997px;color:rgb(2,77,161);
}
#P227_22
{
left:13497.9px;bottom:40977.3px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P227_23
{
left:0px;letter-spacing:-0.3px;margin-left:-202px;
}
#P227_24
{
left:0px;letter-spacing:-2px;margin-left:-8.2px;
}
#P227_25
{
left:0px;letter-spacing:-0.5px;margin-left:2px;
}
#P227_26
{
left:0px;letter-spacing:0px;margin-left:-17.1px;
}
#P227_27
{
left:8658.71px;bottom:40081.3px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P227_28
{
left:6994.71px;bottom:38737.3px;color:rgb(35,31,31);
}
#P227_29
{
left:7563.29px;bottom:38757px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P227_30
{
left:8658.71px;bottom:38757px;color:rgb(2,77,161);
}
#P227_31
{
left:18179.5px;bottom:38737.3px;letter-spacing:151.5px;color:rgb(35,31,31);
}
#P227_32
{
left:0px;letter-spacing:-0.5px;margin-left:-151.5px;
}
#P227_33
{
left:24019.4px;bottom:38737.3px;color:rgb(35,31,31);
}
#P227_34
{
left:25072.5px;bottom:38737.3px;color:rgb(35,31,31);
}
#P227_35
{
left:8658.71px;bottom:37841.3px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P227_36
{
left:0px;letter-spacing:-1.1px;margin-left:-2.9px;
}
#P227_37
{
left:13089.9px;bottom:36185.3px;color:rgb(35,31,31);
}
#P227_38
{
left:15122.7px;bottom:36497.3px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P227_39
{
left:17127.4px;bottom:36185.3px;color:rgb(35,31,31);
}
#P227_40
{
left:19346.8px;bottom:36497.3px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P227_41
{
left:21164.8px;bottom:36185.3px;color:rgb(35,31,31);
}
#P227_42
{
left:23570.7px;bottom:36497.3px;letter-spacing:545.6px;color:rgb(35,31,31);
}
#P227_43
{
left:25388.8px;bottom:36185.3px;color:rgb(35,31,31);
}
#P227_44
{
left:6390.04px;bottom:32868.6px;color:rgb(33,31,31);
}
#P227_45
{
left:6476.45px;bottom:32900px;letter-spacing:-0.2px;color:rgb(33,31,31);
}
#P227_46
{
left:6759.46px;bottom:33002.7px;letter-spacing:0.8px;color:rgb(33,31,31);
}
#P227_47
{
left:6906.53px;bottom:33056.2px;color:rgb(33,31,31);
}
#P227_48
{
left:6468.51px;bottom:32689.4px;color:rgb(33,31,31);
}
#P227_49
{
left:6554.91px;bottom:32720.8px;color:rgb(33,31,31);
}
#P227_50
{
left:6563.74px;bottom:32510.2px;color:rgb(33,31,31);
}
#P227_51
{
left:6650.08px;bottom:32541.6px;letter-spacing:-0.2px;color:rgb(33,31,31);
}
#P227_52
{
left:6933.09px;bottom:32644.3px;letter-spacing:0.8px;color:rgb(33,31,31);
}
#P227_53
{
left:6728.86px;bottom:32261px;color:rgb(33,31,31);
}
#P227_54
{
left:6815.26px;bottom:32292.4px;letter-spacing:-0.2px;color:rgb(33,31,31);
}
#P227_55
{
left:7098.27px;bottom:32395.1px;letter-spacing:0.8px;color:rgb(33,31,31);
}
#P227_56
{
left:6973.4px;bottom:30428.8px;letter-spacing:-14.8px;color:rgb(35,31,31);
}
#P227_57
{
left:0px;letter-spacing:-0.1px;margin-left:14.8px;
}
#P227_58
{
left:6973.4px;bottom:29276.8px;color:rgb(35,31,31);
}
#P227_59
{
left:7541.98px;bottom:29296.6px;color:rgb(35,31,31);
}
#P227_60
{
left:8573.4px;bottom:29276.8px;letter-spacing:-1.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P227_61
{
left:0px;letter-spacing:-0.1px;margin-left:1.3px;
}
#P227_62
{
left:22326px;bottom:29296.6px;color:rgb(35,31,31);
}
#P227_63
{
left:23357.4px;bottom:29276.8px;color:rgb(35,31,31);
}
#P227_64
{
left:6973.4px;bottom:23132.7px;color:rgb(35,31,31);
}
#P227_65
{
left:7933.4px;bottom:23152.4px;color:rgb(35,31,31);
}
#P227_66
{
left:18414.6px;bottom:23152.6px;letter-spacing:4107.1px;color:rgb(35,31,31);
}
#P227_67
{
left:6973.4px;bottom:17948.8px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P227_68
{
left:0px;letter-spacing:0px;margin-left:-9.6px;
}
#P227_69
{
left:0px;letter-spacing:-14px;margin-left:-28px;
}
#P227_70
{
left:0px;letter-spacing:-0.2px;margin-left:14px;
}
#P227_71
{
left:6973.4px;bottom:16540.8px;color:rgb(35,31,31);
}
#P227_72
{
left:7541.98px;bottom:16560.5px;color:rgb(35,31,31);
}
#P227_73
{
left:8973.4px;bottom:16285.5px;color:rgb(35,31,31);
}
#P227_74
{
left:11904.7px;bottom:16266.7px;color:rgb(35,31,31);
}
#P227_75
{
left:8973.4px;bottom:14941.5px;color:rgb(35,31,31);
}
#P227_76
{
left:11904.7px;bottom:14922.7px;color:rgb(35,31,31);
}
#P227_77
{
left:14013.7px;bottom:14902.6px;color:rgb(35,31,31);
}
#P227_78
{
left:17221.9px;bottom:16540.8px;color:rgb(35,31,31);
}
#P227_79
{
left:22326px;bottom:16560.5px;color:rgb(35,31,31);
}
#P227_80
{
left:23757.4px;bottom:16285.5px;letter-spacing:1.1px;color:rgb(35,31,31);
}
#P227_81
{
left:27419.3px;bottom:16266.7px;letter-spacing:1769.8px;color:rgb(35,31,31);
}
#P227_82
{
left:0px;letter-spacing:0px;margin-left:-1769.8px;
}
#P227_83
{
left:23757.4px;bottom:14941.5px;color:rgb(35,31,31);
}
#P227_84
{
left:27419.3px;bottom:14922.7px;color:rgb(35,31,31);
}
#P227_85
{
left:6973.4px;bottom:12956.8px;color:rgb(35,31,31);
}
#P227_86
{
left:7541.98px;bottom:12976.5px;color:rgb(35,31,31);
}
#P227_87
{
left:8973.4px;bottom:12701.5px;letter-spacing:-74.4px;color:rgb(35,31,31);
}
#P227_88
{
left:0px;letter-spacing:0px;margin-left:74.4px;
}
#P227_89
{
left:12219.4px;bottom:12682.7px;color:rgb(35,31,31);
}
#P227_90
{
left:16632.3px;bottom:12662.6px;color:rgb(35,31,31);
}
#P227_91
{
left:8973.4px;bottom:11357.5px;color:rgb(35,31,31);
}
#P227_92
{
left:12219.4px;bottom:11338.7px;color:rgb(35,31,31);
}
#P227_93
{
left:14328.3px;bottom:11318.6px;color:rgb(35,31,31);
}
#P227_94
{
left:19698.8px;bottom:12956.8px;color:rgb(35,31,31);
}
#P227_95
{
left:22325.9px;bottom:12976.5px;color:rgb(35,31,31);
}
#P227_96
{
left:23757.4px;bottom:12701.5px;color:rgb(35,31,31);
}
#P227_97
{
left:28011.4px;bottom:12682.7px;color:rgb(35,31,31);
}
#P227_98
{
left:32610.8px;bottom:12662.6px;color:rgb(35,31,31);
}
#P227_99
{
left:23757.4px;bottom:11357.5px;color:rgb(35,31,31);
}
#P227_100
{
left:28011.4px;bottom:11338.7px;color:rgb(35,31,31);
}
#P227_101
{
left:30120.3px;bottom:11318.6px;color:rgb(35,31,31);
}
#P227_102
{
left:6973.4px;bottom:9372.78px;color:rgb(35,31,31);
}
#P227_103
{
left:7150.55px;bottom:9392.49px;color:rgb(35,31,31);
}
#P227_104
{
left:8973.4px;bottom:9117.48px;letter-spacing:-37.2px;color:rgb(35,31,31);
}
#P227_105
{
left:0px;letter-spacing:0px;margin-left:37.2px;
}
#P227_106
{
left:12905.2px;bottom:9098.67px;color:rgb(35,31,31);
}
#P227_107
{
left:0px;letter-spacing:0px;margin-left:1769.8px;
}
#P227_108
{
left:8973.4px;bottom:7773.48px;color:rgb(35,31,31);
}
#P227_109
{
left:13083.4px;bottom:7754.67px;letter-spacing:4073.7px;color:rgb(35,31,31);
}
#P227_110
{
left:0px;letter-spacing:0px;margin-left:-4073.7px;
}
#P227_111
{
left:19948.3px;bottom:9372.78px;color:rgb(35,31,31);
}
#P227_112
{
left:21934.6px;bottom:9392.49px;color:rgb(35,31,31);
}
#P227_113
{
left:23757.4px;bottom:9117.48px;color:rgb(35,31,31);
}
#P227_114
{
left:27273.2px;bottom:9098.67px;color:rgb(35,31,31);
}
#P227_115
{
left:0px;letter-spacing:0px;margin-left:1769.8px;
}
#P227_116
{
left:23757.4px;bottom:7773.48px;color:rgb(35,31,31);
}
#P227_117
{
left:27273.2px;bottom:7754.67px;color:rgb(35,31,31);
}
#P227_118
{
left:0px;letter-spacing:0px;margin-left:3895.7px;
}
#P227_119
{
left:6973.4px;bottom:5532.78px;color:rgb(35,31,31);
}
#P227_120
{
left:7150.55px;bottom:5552.49px;word-spacing:312.6px;color:rgb(35,31,31);
}
#P227_121
{
left:8637.4px;bottom:5552.49px;color:rgb(2,77,161);
}
#P227_122
{
left:10877px;bottom:5532.78px;letter-spacing:151.4px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P227_123
{
left:0px;letter-spacing:-0.1px;margin-left:-214.6px;
}
#P227_124
{
left:0px;letter-spacing:-0.1px;
}
#P227_125
{
left:8637.4px;bottom:4636.78px;letter-spacing:-31.6px;color:rgb(35,31,31);
}
#P227_126
{
left:0px;letter-spacing:-0.7px;margin-left:31.6px;
}
#P227_127
{
left:0px;letter-spacing:0px;margin-left:-13.3px;
}
#P227_128
{
left:0px;letter-spacing:0px;margin-left:-66.9px;
}
#P227_129
{
left:0px;letter-spacing:-14px;
}
#P227_130
{
left:0px;letter-spacing:-0.2px;margin-left:14px;
}
#P227_131
{
left:8637.4px;bottom:3740.82px;letter-spacing:-4.2px;color:rgb(35,31,31);
}
#P227_132
{
left:6189.66px;bottom:16637.3px;
}
#P227_133
{
left:6189.66px;bottom:16637.3px;color:white;
}
#P227_134
{
left:29065.8px;bottom:46233.7px;word-spacing:0.2px;color:rgb(33,31,31);
}
#PageContainer227
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg227.jpg");background-repeat:no-repeat;background-size: 1002px 1129px; background-position: 1.67px 35.3499999999999px;
}
#ImageContainer227 {bottom:199.65px;left:1.67px;width:1002.36px;height:1128.85px;position:absolute;} #TextContainer227 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.answer {position: absolute ; top: 41px; left: 73px;}
.circle1{position: absolute;top: 884px;left: 152px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}