.tr551{ color:transparent;}
#P551_1
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P551_2
{
left:21754.3px;bottom:1410.03px;color:rgb(35,31,31);
}
#P551_3
{
left:26664.8px;bottom:1410.03px;letter-spacing:1.1px;word-spacing:462.2px;color:rgb(35,31,31);
}
#P551_4
{
left:0px;letter-spacing:0px;margin-left:-463.3px;
}
#P551_5
{
left:0px;letter-spacing:-0.2px;margin-left:-0.1px;
}
#P551_6
{
left:0px;letter-spacing:0px;margin-left:-462.1px;
}
#P551_7
{
left:0px;letter-spacing:4.7px;margin-left:3.5px;
}
#P551_8
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P551_9
{
left:14845.4px;bottom:4364.72px;letter-spacing:228.8px;color:rgb(0,124,196);
}
#P551_10
{
left:15261.4px;bottom:4396.72px;letter-spacing:-9.3px;color:rgb(35,31,31);
}
#P551_11
{
left:0px;letter-spacing:-0.1px;margin-left:9.3px;
}
#P551_12
{
left:15261.4px;bottom:3500.74px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P551_13
{
left:0px;letter-spacing:0px;margin-left:71.3px;
}
#P551_14
{
left:0px;letter-spacing:0px;
}
#P551_15
{
left:10787.3px;bottom:18422.6px;color:rgb(35,31,31);
}
#P551_16
{
left:11245.7px;bottom:18449.5px;word-spacing:394.4px;color:rgb(35,31,31);
}
#P551_17
{
left:12387.3px;bottom:18442.3px;word-spacing:-26px;color:rgb(2,77,161);
}
#P551_18
{
left:0px;letter-spacing:0px;margin-left:-26px;
}
#P551_19
{
left:0px;letter-spacing:0px;margin-left:26px;
}
#P551_20
{
left:19195.2px;bottom:18422.6px;letter-spacing:193.6px;color:rgb(35,31,31);
}
#P551_21
{
left:0px;letter-spacing:-7px;margin-left:-214.6px;
}
#P551_22
{
left:0px;letter-spacing:-1.3px;margin-left:7px;
}
#P551_23
{
left:0px;letter-spacing:0px;margin-left:1.3px;
}
#P551_24
{
left:12387.3px;bottom:17526.6px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P551_25
{
left:10787.3px;bottom:15946.3px;color:rgb(2,77,161);
}
#P551_26
{
left:13057px;bottom:15926.6px;letter-spacing:204.2px;color:rgb(35,31,31);
}
#P551_27
{
left:0px;letter-spacing:-0.3px;margin-left:-219.6px;
}
#P551_28
{
left:0px;letter-spacing:-0.5px;margin-left:0.3px;
}
#P551_29
{
left:10787.3px;bottom:15030.6px;letter-spacing:-31.6px;color:rgb(35,31,31);
}
#P551_30
{
left:0px;letter-spacing:-3px;margin-left:31.6px;
}
#P551_31
{
left:0px;letter-spacing:0.1px;margin-left:-7.5px;
}
#P551_32
{
left:0px;letter-spacing:0.7px;margin-left:-10.6px;
}
#P551_33
{
left:0px;letter-spacing:0px;margin-left:-51.2px;
}
#P551_34
{
left:10787.3px;bottom:13558.6px;color:rgb(35,31,31);
}
#P551_35
{
left:11355.9px;bottom:13578.3px;color:rgb(35,31,31);
}
#P551_36
{
left:12387.3px;bottom:13558.6px;word-spacing:193.6px;color:rgb(35,31,31);
}
#P551_37
{
left:0px;letter-spacing:0px;margin-left:-16.8px;
}
#P551_38
{
left:14387.4px;bottom:13998.3px;color:rgb(35,31,31);
}
#P551_39
{
left:14723.2px;bottom:13576.2px;color:rgb(35,31,31);
}
#P551_40
{
left:14366.2px;bottom:13542.6px;color:rgb(35,31,31);
}
#P551_41
{
left:14744.3px;bottom:13559.9px;color:rgb(35,31,31);
}
#P551_42
{
left:14387.4px;bottom:13090.8px;color:rgb(35,31,31);
}
#P551_43
{
left:14723.2px;bottom:13576.2px;color:rgb(35,31,31);
}
#P551_44
{
left:14744.3px;bottom:13558.6px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P551_45
{
left:26139.9px;bottom:13578.3px;color:rgb(35,31,31);
}
#P551_46
{
left:27171.3px;bottom:13558.6px;letter-spacing:-4.2px;color:rgb(35,31,31);
}
#P551_47
{
left:28956.6px;bottom:13529.1px;color:rgb(35,31,31);
}
#P551_48
{
left:29543.1px;bottom:13558.6px;color:rgb(35,31,31);
}
#P551_49
{
left:15427.1px;bottom:11110.3px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P551_50
{
left:15448.2px;bottom:11550px;color:rgb(35,31,31);
}
#P551_51
{
left:15784px;bottom:11127.9px;color:rgb(35,31,31);
}
#P551_52
{
left:15427.1px;bottom:11094.3px;color:rgb(35,31,31);
}
#P551_53
{
left:15805.1px;bottom:11111.6px;color:rgb(35,31,31);
}
#P551_54
{
left:15448.2px;bottom:10642.5px;color:rgb(35,31,31);
}
#P551_55
{
left:15784px;bottom:11127.9px;color:rgb(35,31,31);
}
#P551_56
{
left:15805.1px;bottom:11110.3px;letter-spacing:2027px;color:rgb(35,31,31);
}
#P551_57
{
left:0px;letter-spacing:0px;margin-left:-2185.4px;
}
#P551_58
{
left:18011.7px;bottom:11550px;color:rgb(35,31,31);
}
#P551_59
{
left:18347.5px;bottom:11127.9px;color:rgb(35,31,31);
}
#P551_60
{
left:17990.6px;bottom:11094.3px;color:rgb(35,31,31);
}
#P551_61
{
left:18368.6px;bottom:11111.6px;color:rgb(35,31,31);
}
#P551_62
{
left:18011.7px;bottom:10642.5px;color:rgb(35,31,31);
}
#P551_63
{
left:18347.5px;bottom:11127.9px;color:rgb(35,31,31);
}
#P551_64
{
left:18368.6px;bottom:11110.3px;color:rgb(35,31,31);
}
#P551_65
{
left:20255.1px;bottom:11080.7px;color:rgb(35,31,31);
}
#P551_66
{
left:20686.7px;bottom:11110.3px;color:rgb(35,31,31);
}
#P551_67
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P551_68
{
left:20866.2px;bottom:11550px;color:rgb(35,31,31);
}
#P551_69
{
left:21202px;bottom:11127.9px;color:rgb(35,31,31);
}
#P551_70
{
left:20845.1px;bottom:11094.3px;color:rgb(35,31,31);
}
#P551_71
{
left:21223.1px;bottom:11111.6px;color:rgb(35,31,31);
}
#P551_72
{
left:20866.2px;bottom:10642.5px;color:rgb(35,31,31);
}
#P551_73
{
left:21202px;bottom:11127.9px;color:rgb(35,31,31);
}
#P551_74
{
left:21223.1px;bottom:11110.3px;color:rgb(35,31,31);
}
#P551_75
{
left:15132.1px;bottom:9048.75px;color:rgb(35,31,31);
}
#P551_76
{
left:15563.7px;bottom:9078.32px;color:rgb(35,31,31);
}
#P551_77
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P551_78
{
left:15743.1px;bottom:9518px;color:rgb(35,31,31);
}
#P551_79
{
left:16078.9px;bottom:9095.92px;color:rgb(35,31,31);
}
#P551_80
{
left:15722px;bottom:9062.3px;color:rgb(35,31,31);
}
#P551_81
{
left:16100.1px;bottom:9079.58px;color:rgb(35,31,31);
}
#P551_82
{
left:15743.1px;bottom:8610.48px;color:rgb(35,31,31);
}
#P551_83
{
left:16078.9px;bottom:9095.92px;color:rgb(35,31,31);
}
#P551_84
{
left:16100.1px;bottom:9078.32px;color:rgb(35,31,31);
}
#P551_85
{
left:17695.6px;bottom:9048.75px;color:rgb(35,31,31);
}
#P551_86
{
left:18127.1px;bottom:9078.32px;color:rgb(35,31,31);
}
#P551_87
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P551_88
{
left:18306.6px;bottom:9518px;color:rgb(35,31,31);
}
#P551_89
{
left:18642.5px;bottom:9095.92px;color:rgb(35,31,31);
}
#P551_90
{
left:18285.5px;bottom:9062.3px;color:rgb(35,31,31);
}
#P551_91
{
left:18663.6px;bottom:9079.58px;color:rgb(35,31,31);
}
#P551_92
{
left:18306.6px;bottom:8610.48px;color:rgb(35,31,31);
}
#P551_93
{
left:18642.5px;bottom:9095.92px;color:rgb(35,31,31);
}
#P551_94
{
left:18663.6px;bottom:9078.32px;letter-spacing:1728.1px;color:rgb(35,31,31);
}
#P551_95
{
left:0px;letter-spacing:0px;margin-left:-1886.5px;
}
#P551_96
{
left:20571.2px;bottom:9518px;color:rgb(35,31,31);
}
#P551_97
{
left:20907px;bottom:9095.92px;color:rgb(35,31,31);
}
#P551_98
{
left:20550.1px;bottom:9062.3px;color:rgb(35,31,31);
}
#P551_99
{
left:20928.2px;bottom:9079.58px;color:rgb(35,31,31);
}
#P551_100
{
left:20571.2px;bottom:8610.48px;color:rgb(35,31,31);
}
#P551_101
{
left:20907px;bottom:9095.92px;color:rgb(35,31,31);
}
#P551_102
{
left:20928.2px;bottom:9078.32px;color:rgb(35,31,31);
}
#P551_103
{
left:11619.7px;bottom:11069px;letter-spacing:-2.8px;color:rgb(235,26,35);
}
#P551_104
{
left:23101.4px;bottom:9145.84px;letter-spacing:-1.4px;color:rgb(0,124,196);
}
#P551_105
{
left:27202.2px;bottom:11174.3px;color:rgb(35,31,31);
}
#P551_106
{
left:0px;letter-spacing:0px;margin-left:1353.5px;
}
#P551_107
{
left:32208px;bottom:11144.7px;color:rgb(35,31,31);
}
#P551_108
{
left:32794.5px;bottom:11174.3px;color:rgb(35,31,31);
}
#P551_109
{
left:26908.8px;bottom:9112.75px;color:rgb(35,31,31);
}
#P551_110
{
left:27495.3px;bottom:9142.32px;color:rgb(35,31,31);
}
#P551_111
{
left:0px;letter-spacing:0px;margin-left:1060.4px;
}
#P551_112
{
left:32208px;bottom:9112.75px;color:rgb(35,31,31);
}
#P551_113
{
left:32794.5px;bottom:9142.32px;color:rgb(35,31,31);
}
#P551_114
{
left:23837.3px;bottom:11133px;letter-spacing:-2.8px;color:rgb(235,26,35);
}
#P551_115
{
left:35575px;bottom:9081.84px;letter-spacing:-1.4px;color:rgb(0,124,196);
}
#P551_116
{
left:12433.7px;bottom:44853px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P551_117
{
left:15858.8px;bottom:45044.8px;color:rgb(255,223,126);
}
#P551_118
{
left:16451.7px;bottom:44853px;word-spacing:175.5px;color:white;
}
#P551_119
{
left:17523.9px;bottom:45044.8px;color:white;
}
#P551_120
{
left:17764.1px;bottom:44853px;color:white;
}
#P551_121
{
left:18100.1px;bottom:45044.8px;color:white;
}
#P551_122
{
left:18340.3px;bottom:44853px;letter-spacing:-1.7px;color:white;
}
#P551_123
{
left:22454.9px;bottom:45044.8px;color:white;
}
#P551_124
{
left:22695.1px;bottom:44853px;color:white;
}
#P551_125
{
left:10693.3px;bottom:44729.5px;
}
#P551_126
{
left:10693.3px;bottom:44729.5px;color:white;
}
#P551_127
{
left:11555.5px;bottom:43292.8px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P551_128
{
left:0px;letter-spacing:0.4px;margin-left:14.1px;
}
#P551_129
{
left:0px;letter-spacing:-35.1px;margin-left:-42.5px;
}
#P551_130
{
left:0px;letter-spacing:-0.5px;margin-left:40.6px;
}
#P551_131
{
left:0px;letter-spacing:-9.3px;margin-left:-20.5px;
}
#P551_132
{
left:0px;letter-spacing:0px;margin-left:-18.6px;
}
#P551_133
{
left:0px;letter-spacing:0px;
}
#P551_134
{
left:32855.9px;bottom:43292.8px;word-spacing:77.1px;color:rgb(35,31,31);
}
#P551_135
{
left:11555.5px;bottom:42396.8px;color:rgb(35,31,31);
}
#P551_136
{
left:11546.1px;bottom:41116.8px;letter-spacing:-9.3px;word-spacing:-147.8px;color:rgb(35,31,31);
}
#P551_137
{
left:24875.4px;bottom:37586.3px;letter-spacing:2290.2px;color:rgb(35,31,31);
}
#P551_138
{
left:26548.5px;bottom:39483.9px;color:rgb(0,124,196);
}
#P551_139
{
left:24558.4px;bottom:40599.7px;color:rgb(237,28,35);
}
#P551_140
{
left:25838.2px;bottom:40471.8px;color:rgb(237,28,35);
}
#P551_141
{
left:26318px;bottom:40599.7px;color:rgb(237,28,35);
}
#P551_142
{
left:16726.7px;bottom:37472.7px;color:rgb(35,31,31);
}
#P551_143
{
left:17153.2px;bottom:37586.3px;color:rgb(35,31,31);
}
#P551_144
{
left:14150.3px;bottom:37472.7px;color:rgb(35,31,31);
}
#P551_145
{
left:14576.8px;bottom:37586.3px;color:rgb(35,31,31);
}
#P551_146
{
left:19306.1px;bottom:37472.7px;color:rgb(35,31,31);
}
#P551_147
{
left:19732.6px;bottom:37586.3px;color:rgb(35,31,31);
}
#P551_148
{
left:21885.6px;bottom:37472.7px;color:rgb(35,31,31);
}
#P551_149
{
left:22312.1px;bottom:37586.3px;color:rgb(35,31,31);
}
#P551_150
{
left:17159.6px;bottom:40621px;letter-spacing:-2.3px;color:rgb(0,124,196);
}
#P551_151
{
left:0px;letter-spacing:0px;margin-left:2.3px;
}
#P551_152
{
left:17159.6px;bottom:39814.6px;color:rgb(0,124,196);
}
#P551_153
{
left:30224px;bottom:40571.2px;letter-spacing:-8.3px;color:rgb(237,28,35);
}
#P551_154
{
left:0px;letter-spacing:0px;margin-left:8.3px;
}
#P551_155
{
left:30224px;bottom:39764.8px;color:rgb(237,28,35);
}
#P551_156
{
left:33842.1px;bottom:39775.6px;
}
#P551_157
{
left:34401.9px;bottom:39764.8px;
}
#P551_158
{
left:11548.4px;bottom:34460.8px;letter-spacing:-13.9px;word-spacing:-140.9px;color:rgb(35,31,31);
}
#P551_159
{
left:24875.4px;bottom:30291.4px;letter-spacing:2290.2px;color:rgb(35,31,31);
}
#P551_160
{
left:16726.9px;bottom:30177.8px;color:rgb(35,31,31);
}
#P551_161
{
left:17153.4px;bottom:30291.4px;color:rgb(35,31,31);
}
#P551_162
{
left:14147.4px;bottom:30177.8px;color:rgb(35,31,31);
}
#P551_163
{
left:14573.9px;bottom:30291.4px;color:rgb(35,31,31);
}
#P551_164
{
left:19306.3px;bottom:30177.8px;color:rgb(35,31,31);
}
#P551_165
{
left:19732.8px;bottom:30291.4px;color:rgb(35,31,31);
}
#P551_166
{
left:21885.8px;bottom:30177.8px;color:rgb(35,31,31);
}
#P551_167
{
left:22312.3px;bottom:30291.4px;color:rgb(35,31,31);
}
#P551_168
{
left:29888px;bottom:33301.5px;letter-spacing:-2.3px;color:rgb(237,28,35);
}
#P551_169
{
left:0px;letter-spacing:0px;margin-left:2.3px;
}
#P551_170
{
left:29888px;bottom:32085.2px;color:rgb(237,28,35);
}
#P551_171
{
left:0px;letter-spacing:0px;margin-left:-24.9px;
}
#P551_172
{
left:34695.8px;bottom:33674px;color:rgb(237,28,35);
}
#P551_173
{
left:34550.7px;bottom:32948.2px;color:rgb(237,28,35);
}
#P551_174
{
left:23169px;bottom:34143.9px;color:rgb(0,124,196);
}
#P551_175
{
left:25418.9px;bottom:34143.9px;color:rgb(0,124,196);
}
#P551_176
{
left:24928px;bottom:34483.1px;color:rgb(0,124,196);
}
#P551_177
{
left:24776.8px;bottom:33830.3px;color:rgb(0,124,196);
}
#P551_178
{
left:21583.3px;bottom:32382.8px;color:rgb(237,28,35);
}
#P551_179
{
left:22063.1px;bottom:32510.6px;color:rgb(237,28,35);
}
#P551_180
{
left:22582.5px;bottom:32822.9px;color:rgb(237,28,35);
}
#P551_181
{
left:22431.3px;bottom:32170.1px;color:rgb(237,28,35);
}
#P551_182
{
left:13253px;bottom:33756.7px;color:rgb(0,124,196);
}
#P551_183
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P551_184
{
left:0px;letter-spacing:0px;margin-left:16.8px;
}
#P551_185
{
left:13253px;bottom:32540.4px;color:rgb(0,124,196);
}
#P551_186
{
left:18576px;bottom:32540.4px;letter-spacing:-24.9px;word-spacing:24.9px;color:rgb(0,124,196);
}
#P551_187
{
left:16719.4px;bottom:34109.9px;color:rgb(0,124,196);
}
#P551_188
{
left:16574.2px;bottom:33384.1px;color:rgb(0,124,196);
}
#P551_189
{
left:11546.1px;bottom:27164.8px;letter-spacing:-9.3px;word-spacing:-147.8px;color:rgb(35,31,31);
}
#P551_190
{
left:24875.4px;bottom:23634.3px;letter-spacing:2290.2px;color:rgb(35,31,31);
}
#P551_191
{
left:19924.1px;bottom:26716.1px;color:rgb(237,28,35);
}
#P551_192
{
left:21203.9px;bottom:26588.2px;color:rgb(237,28,35);
}
#P551_193
{
left:21683.7px;bottom:26716.1px;color:rgb(237,28,35);
}
#P551_194
{
left:16726.7px;bottom:23520.7px;color:rgb(35,31,31);
}
#P551_195
{
left:17153.2px;bottom:23634.3px;color:rgb(35,31,31);
}
#P551_196
{
left:14151.8px;bottom:23520.7px;color:rgb(35,31,31);
}
#P551_197
{
left:14578.3px;bottom:23634.3px;color:rgb(35,31,31);
}
#P551_198
{
left:19306.1px;bottom:23520.7px;color:rgb(35,31,31);
}
#P551_199
{
left:19732.6px;bottom:23634.3px;color:rgb(35,31,31);
}
#P551_200
{
left:21885.6px;bottom:23520.7px;color:rgb(35,31,31);
}
#P551_201
{
left:22312.1px;bottom:23634.3px;color:rgb(35,31,31);
}
#P551_202
{
left:22961.4px;bottom:25564.1px;color:rgb(237,28,35);
}
#P551_203
{
left:23441.2px;bottom:25692px;color:rgb(237,28,35);
}
#P551_204
{
left:26938.1px;bottom:26619.1px;letter-spacing:-2.3px;color:rgb(237,28,35);
}
#P551_205
{
left:0px;letter-spacing:0px;margin-left:2.3px;
}
#P551_206
{
left:26938.1px;bottom:25812.7px;color:rgb(237,28,35);
}
#P551_207
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P551_208
{
left:13702.4px;bottom:26619.1px;letter-spacing:-8.3px;color:rgb(237,28,35);
}
#P551_209
{
left:0px;letter-spacing:0px;margin-left:8.3px;
}
#P551_210
{
left:13702.4px;bottom:25812.7px;color:rgb(237,28,35);
}
#P551_211
{
left:18503.2px;bottom:25812.7px;color:rgb(237,28,35);
}
#P551_212
{
left:0px;letter-spacing:0px;margin-left:-24.8px;
}
#P551_213
{
left:5165.34px;bottom:39642.3px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P551_214
{
left:5165.34px;bottom:38775.5px;color:rgb(35,31,31);
}
#P551_215
{
left:5165.34px;bottom:38039.5px;color:rgb(35,31,31);
}
#P551_216
{
left:5165.34px;bottom:37303.6px;color:rgb(35,31,31);
}
#P551_217
{
left:5165.34px;bottom:36567.7px;color:rgb(35,31,31);
}
#P551_218
{
left:5165.34px;bottom:35831.7px;color:rgb(35,31,31);
}
#P551_219
{
left:5165.34px;bottom:35095.7px;color:rgb(35,31,31);
}
#P551_220
{
left:4914.71px;bottom:41426.2px;letter-spacing:-20.4px;color:white;
}
#P551_221
{
left:4914.71px;bottom:40466.2px;letter-spacing:-27.2px;color:white;
}
#P551_222
{
left:6893.79px;bottom:40723px;color:white;
}
#P551_223
{
left:7169.05px;bottom:40466.2px;letter-spacing:-27.2px;color:white;
}
#PageContainer551
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg551.jpg");background-repeat:no-repeat;background-size: 1017px 1275px; background-position: 0px -0.539999999999964px;
}
#ImageContainer551 {bottom:89.54px;left:0.00px;width:1017.07px;height:1274.62px;position:absolute;} #TextContainer551 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.practice{position: absolute;top: 1218px;left: 254px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}