.tr237{ color:transparent;}
#P237_1
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P237_2
{
left:20240px;bottom:1410.03px;color:rgb(35,31,31);
}
#P237_3
{
left:24792.3px;bottom:1410.03px;letter-spacing:463.4px;word-spacing:-1.3px;color:rgb(35,31,31);
}
#P237_4
{
left:0px;letter-spacing:0.6px;margin-left:-462.1px;
}
#P237_5
{
left:0px;letter-spacing:1.1px;margin-left:0.7px;
}
#P237_6
{
left:35750.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P237_7
{
left:12433.7px;bottom:44954.9px;letter-spacing:-2.2px;color:rgb(255,223,126);
}
#P237_8
{
left:15858.6px;bottom:45146.7px;color:rgb(255,223,126);
}
#P237_9
{
left:16483.3px;bottom:44954.9px;word-spacing:207.4px;color:white;
}
#P237_10
{
left:19491.7px;bottom:45146.7px;color:white;
}
#P237_11
{
left:19731.9px;bottom:44954.9px;letter-spacing:-2.6px;color:white;
}
#P237_12
{
left:0px;letter-spacing:0px;margin-left:2.6px;
}
#P237_13
{
left:27256.5px;bottom:45146.7px;color:white;
}
#P237_14
{
left:27496.7px;bottom:44954.9px;letter-spacing:-13.5px;word-spacing:-32px;color:white;
}
#P237_15
{
left:0px;letter-spacing:0px;margin-left:13.5px;
}
#P237_16
{
left:10717.4px;bottom:44831.3px;
}
#P237_17
{
left:10717.4px;bottom:44831.3px;color:white;
}
#P237_18
{
left:14845.4px;bottom:4204.65px;letter-spacing:228.8px;color:rgb(0,124,196);
}
#P237_19
{
left:15261.4px;bottom:4236.65px;letter-spacing:-9.4px;color:rgb(35,31,31);
}
#P237_20
{
left:0px;letter-spacing:0px;margin-left:9.4px;
}
#P237_21
{
left:15261.4px;bottom:3340.46px;letter-spacing:-1px;color:rgb(35,31,31);
}
#P237_22
{
left:0px;letter-spacing:0px;margin-left:1px;
}
#P237_23
{
left:11555.5px;bottom:43353px;letter-spacing:-21.1px;color:rgb(35,31,31);
}
#P237_24
{
left:0px;letter-spacing:0.4px;margin-left:14.1px;
}
#P237_25
{
left:0px;letter-spacing:-18.8px;margin-left:-42.6px;
}
#P237_26
{
left:0px;letter-spacing:0px;margin-left:18.8px;
}
#P237_27
{
left:11555.5px;bottom:42456.8px;letter-spacing:-2.3px;color:rgb(35,31,31);
}
#P237_28
{
left:0px;letter-spacing:-0.9px;margin-left:2.3px;
}
#P237_29
{
left:11555.5px;bottom:41560.6px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P237_30
{
left:11555.5px;bottom:40664.4px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P237_31
{
left:0px;letter-spacing:0px;margin-left:-48.1px;
}
#P237_32
{
left:0px;letter-spacing:-0.5px;
}
#P237_33
{
left:11555.5px;bottom:39384.6px;color:rgb(35,31,31);
}
#P237_34
{
left:11683.7px;bottom:39384.6px;letter-spacing:-14.1px;word-spacing:516.1px;color:rgb(35,31,31);
}
#P237_35
{
left:12899.5px;bottom:39384.6px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P237_36
{
left:12899.5px;bottom:38488.4px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P237_37
{
left:11555.5px;bottom:20184.4px;color:rgb(35,31,31);
}
#P237_38
{
left:11683.7px;bottom:20184.4px;letter-spacing:-13.9px;word-spacing:486.9px;color:rgb(35,31,31);
}
#P237_39
{
left:12899.5px;bottom:20184.4px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P237_40
{
left:0px;letter-spacing:-0.1px;margin-left:1.2px;
}
#P237_41
{
left:12899.5px;bottom:19288.2px;letter-spacing:-0.3px;color:rgb(35,31,31);
}
#P237_42
{
left:11555.5px;bottom:18008.3px;color:rgb(35,31,31);
}
#P237_43
{
left:11683.7px;bottom:18008.3px;letter-spacing:-14.1px;word-spacing:551.3px;color:rgb(35,31,31);
}
#P237_44
{
left:12899.5px;bottom:18008.3px;letter-spacing:-14.1px;color:rgb(35,31,31);
}
#P237_45
{
left:0px;letter-spacing:-0.4px;margin-left:14.1px;
}
#P237_46
{
left:0px;letter-spacing:0px;margin-left:-8.1px;
}
#P237_47
{
left:0px;letter-spacing:-10.6px;margin-left:-21.1px;
}
#P237_48
{
left:0px;letter-spacing:0px;margin-left:10.6px;
}
#P237_49
{
left:12899.5px;bottom:17112.1px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P237_50
{
left:11555.5px;bottom:15832.2px;color:rgb(35,31,31);
}
#P237_51
{
left:11683.7px;bottom:15832.2px;letter-spacing:-14.1px;word-spacing:473.2px;color:rgb(35,31,31);
}
#P237_52
{
left:12899.5px;bottom:15832.2px;letter-spacing:-10.6px;color:rgb(35,31,31);
}
#P237_53
{
left:0px;letter-spacing:-0.2px;margin-left:10.6px;
}
#P237_54
{
left:12899.5px;bottom:14936px;letter-spacing:-4.7px;color:rgb(35,31,31);
}
#P237_55
{
left:0px;letter-spacing:-0.2px;margin-left:4.7px;
}
#P237_56
{
left:12382.8px;bottom:33768.7px;color:rgb(35,31,31);
}
#P237_57
{
left:0px;letter-spacing:0px;margin-left:-61.8px;
}
#P237_58
{
left:0px;letter-spacing:0px;margin-left:-74.6px;
}
#P237_59
{
left:0px;letter-spacing:0px;margin-left:-49.7px;
}
#P237_60
{
left:13341.8px;bottom:32936.8px;letter-spacing:-1.7px;color:rgb(35,31,31);
}
#P237_61
{
left:12160.4px;bottom:31920.7px;letter-spacing:-2.4px;color:rgb(35,31,31);
}
#P237_62
{
left:12061px;bottom:31088.8px;color:rgb(35,31,31);
}
#P237_63
{
left:15232.8px;bottom:31920.7px;letter-spacing:-2.4px;color:rgb(35,31,31);
}
#P237_64
{
left:15039.9px;bottom:31088.8px;color:rgb(35,31,31);
}
#P237_65
{
left:12910.4px;bottom:29793.9px;color:rgb(35,31,31);
}
#P237_66
{
left:12910.4px;bottom:28257.7px;color:rgb(35,31,31);
}
#P237_67
{
left:12910.4px;bottom:26721.5px;color:rgb(35,31,31);
}
#P237_68
{
left:12732.2px;bottom:25185.3px;color:rgb(35,31,31);
}
#P237_69
{
left:12732.2px;bottom:23649.1px;color:rgb(35,31,31);
}
#P237_70
{
left:36695.1px;bottom:23197.1px;color:rgb(35,31,31);
}
#P237_71
{
left:21918.7px;bottom:43431.5px;color:rgb(35,31,31);
}
#P237_72
{
left:23015.1px;bottom:23197.1px;letter-spacing:513.6px;color:rgb(35,31,31);
}
#P237_73
{
left:21936.5px;bottom:24315.1px;color:rgb(35,31,31);
}
#P237_74
{
left:21936.5px;bottom:25083.1px;color:rgb(35,31,31);
}
#P237_75
{
left:21936.5px;bottom:25851.1px;color:rgb(35,31,31);
}
#P237_76
{
left:25299.4px;bottom:23203.8px;color:rgb(33,31,31);
}
#P237_77
{
left:26070.7px;bottom:23201.5px;color:rgb(33,31,31);
}
#P237_78
{
left:26839.1px;bottom:23201.4px;letter-spacing:513.6px;color:rgb(33,31,31);
}
#P237_79
{
left:28770.3px;bottom:22310.6px;letter-spacing:-2.2px;color:rgb(33,31,31);
}
#P237_80
{
left:0px;letter-spacing:0px;margin-left:2.2px;
}
#P237_81
{
left:21313.8px;bottom:31993.1px;letter-spacing:-0.9px;color:rgb(33,31,31);
}
#P237_82
{
left:28375.1px;bottom:23201.4px;color:rgb(33,31,31);
}
#P237_83
{
left:0px;letter-spacing:0px;margin-left:513.6px;
}
#P237_84
{
left:0px;letter-spacing:0px;margin-left:386.4px;
}
#P237_85
{
left:0px;letter-spacing:0px;margin-left:259.2px;
}
#P237_86
{
left:0px;letter-spacing:0px;margin-left:259.2px;
}
#P237_87
{
left:0px;letter-spacing:0px;margin-left:259.2px;
}
#P237_88
{
left:0px;letter-spacing:0px;margin-left:259.2px;
}
#P237_89
{
left:0px;letter-spacing:0px;margin-left:259.2px;
}
#P237_90
{
left:0px;letter-spacing:0px;margin-left:259.2px;
}
#P237_91
{
left:0px;letter-spacing:0px;margin-left:259.2px;
}
#P237_92
{
left:0px;letter-spacing:0px;margin-left:259.2px;
}
#P237_93
{
left:21936.6px;bottom:26619.2px;color:rgb(33,31,31);
}
#P237_94
{
left:21936.6px;bottom:27387.2px;color:rgb(33,31,31);
}
#P237_95
{
left:21936.6px;bottom:28155.5px;color:rgb(33,31,31);
}
#P237_96
{
left:21936.6px;bottom:28923.7px;color:rgb(33,31,31);
}
#P237_97
{
left:21936.6px;bottom:29691.8px;color:rgb(33,31,31);
}
#P237_98
{
left:21936.6px;bottom:30459.9px;color:rgb(33,31,31);
}
#P237_99
{
left:21682.2px;bottom:31227.9px;color:rgb(33,31,31);
}
#P237_100
{
left:21682.2px;bottom:31995.9px;color:rgb(33,31,31);
}
#P237_101
{
left:21682.2px;bottom:32763.9px;color:rgb(33,31,31);
}
#P237_102
{
left:21682.2px;bottom:33531.9px;color:rgb(33,31,31);
}
#P237_103
{
left:21682.2px;bottom:34299.9px;color:rgb(33,31,31);
}
#P237_104
{
left:21682.1px;bottom:35068px;color:rgb(33,31,31);
}
#P237_105
{
left:21682.1px;bottom:35836px;color:rgb(33,31,31);
}
#P237_106
{
left:21682.1px;bottom:36604px;color:rgb(33,31,31);
}
#P237_107
{
left:21682.1px;bottom:37372px;color:rgb(33,31,31);
}
#P237_108
{
left:21682.1px;bottom:38140px;color:rgb(33,31,31);
}
#P237_109
{
left:21682.1px;bottom:38908px;color:rgb(33,31,31);
}
#P237_110
{
left:21682.1px;bottom:39676px;color:rgb(33,31,31);
}
#P237_111
{
left:21682.1px;bottom:40444px;color:rgb(33,31,31);
}
#P237_112
{
left:21682.1px;bottom:41212px;color:rgb(33,31,31);
}
#P237_113
{
left:21682.1px;bottom:41980px;color:rgb(33,31,31);
}
#P237_114
{
left:21682.1px;bottom:42748px;color:rgb(33,31,31);
}
#P237_115
{
left:21936.5px;bottom:23546.5px;color:rgb(33,31,31);
}
#P237_116
{
left:22219.7px;bottom:23217.3px;color:rgb(33,31,31);
}
#P237_117
{
left:24828.6px;bottom:25434.5px;color:rgb(235,26,35);
}
#P237_118
{
left:22772.9px;bottom:24058.2px;color:rgb(0,124,196);
}
#P237_119
{
left:24892.9px;bottom:26762.2px;color:rgb(0,124,196);
}
#P237_120
{
left:27132.4px;bottom:29274.7px;color:rgb(235,26,35);
}
#P237_121
{
left:27196.9px;bottom:30602.2px;color:rgb(0,124,196);
}
#P237_122
{
left:29436.4px;bottom:33114.7px;color:rgb(235,26,35);
}
#P237_123
{
left:29500.9px;bottom:34442.2px;color:rgb(0,124,196);
}
#P237_124
{
left:31740.4px;bottom:36954.7px;color:rgb(235,26,35);
}
#P237_125
{
left:31804.9px;bottom:38282.2px;color:rgb(0,124,196);
}
#P237_126
{
left:34044.4px;bottom:40794.7px;color:rgb(235,26,35);
}
#P237_127
{
left:4973.34px;bottom:41347px;color:rgb(35,31,31);
}
#P237_128
{
left:4973.34px;bottom:40578.8px;letter-spacing:-18.5px;color:rgb(35,31,31);
}
#P237_129
{
left:0px;letter-spacing:0px;margin-left:18.5px;
}
#P237_130
{
left:4973.34px;bottom:39712.2px;color:rgb(35,31,31);
}
#P237_131
{
left:4973.34px;bottom:38976.5px;color:rgb(35,31,31);
}
#P237_132
{
left:4973.34px;bottom:38240.8px;word-spacing:-33.4px;color:rgb(35,31,31);
}
#P237_133
{
left:0px;letter-spacing:0px;margin-left:33.4px;
}
#P237_134
{
left:4973.34px;bottom:37505.1px;color:rgb(35,31,31);
}
#P237_135
{
left:4973.34px;bottom:36769.5px;color:rgb(35,31,31);
}
#P237_136
{
left:4722.71px;bottom:43130.9px;letter-spacing:-20.4px;color:white;
}
#P237_137
{
left:4722.71px;bottom:42171.2px;letter-spacing:-27.2px;color:white;
}
#P237_138
{
left:6701.79px;bottom:42428px;color:white;
}
#P237_139
{
left:6977.05px;bottom:42171.2px;letter-spacing:-27.2px;color:white;
}
#P237_140
{
left:10534.6px;bottom:10557.7px;color:rgb(35,31,31);
}
#P237_141
{
left:10929px;bottom:10584.5px;word-spacing:394.4px;color:rgb(35,31,31);
}
#P237_142
{
left:12070.6px;bottom:10577.4px;word-spacing:-26px;color:rgb(2,77,161);
}
#P237_143
{
left:0px;letter-spacing:0px;margin-left:-26.1px;
}
#P237_144
{
left:0px;letter-spacing:0px;margin-left:26px;
}
#P237_145
{
left:19230.3px;bottom:10557.7px;letter-spacing:-10.6px;color:rgb(35,31,31);
}
#P237_146
{
left:0px;letter-spacing:-1px;margin-left:10.6px;
}
#P237_147
{
left:0px;letter-spacing:0px;margin-left:-6.1px;
}
#P237_148
{
left:10534.5px;bottom:9213.74px;color:rgb(35,31,31);
}
#P237_149
{
left:10929px;bottom:9240.49px;word-spacing:394.4px;color:rgb(35,31,31);
}
#P237_150
{
left:12070.6px;bottom:9233.39px;color:rgb(2,77,161);
}
#P237_151
{
left:15747.6px;bottom:9213.68px;letter-spacing:-63.4px;color:rgb(35,31,31);
}
#P237_152
{
left:0px;letter-spacing:-1.4px;margin-left:63.4px;
}
#P237_153
{
left:0px;letter-spacing:0px;margin-left:-76px;
}
#P237_154
{
left:0px;letter-spacing:-1.1px;
}
#P237_155
{
left:0px;letter-spacing:-1.1px;margin-left:1.1px;
}
#P237_156
{
left:0px;letter-spacing:-2.1px;margin-left:1.1px;
}
#P237_157
{
left:0px;letter-spacing:0px;margin-left:-19px;
}
#P237_158
{
left:0px;letter-spacing:0px;
}
#P237_159
{
left:12070.6px;bottom:8317.48px;letter-spacing:-0.5px;color:rgb(35,31,31);
}
#P237_160
{
left:0px;letter-spacing:0px;margin-left:-214.2px;
}
#P237_161
{
left:0px;letter-spacing:0px;margin-left:56.3px;
}
#P237_162
{
left:0px;letter-spacing:-4.2px;
}
#P237_163
{
left:0px;letter-spacing:-0.8px;margin-left:4.2px;
}
#P237_164
{
left:0px;letter-spacing:0px;margin-left:0.8px;
}
#P237_165
{
left:12070.6px;bottom:7421.29px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P237_166
{
left:0px;letter-spacing:-0.3px;margin-left:-3.4px;
}
#PageContainer237
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg237.jpg");background-repeat:no-repeat;background-size: 1021px 1279px; background-position: 0px -0.190000000000055px;
}
#ImageContainer237 {bottom:85.19px;left:0.00px;width:1020.57px;height:1278.97px;position:absolute;} #TextContainer237 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
.practice{position:absolute;top: 1228px;left: 255px;}
.geo{position: absolute;top: 102px;left: 198px;}
#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}