.tr132{ color:transparent;}
#P132_1
{
left:2365.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P132_2
{
left:3540.44px;bottom:1544.43px;color:rgb(35,31,31);
}
#P132_3
{
left:4925.4px;bottom:1410.03px;color:rgb(35,31,31);
}
#P132_4
{
left:9125.72px;bottom:1544.43px;letter-spacing:2px;word-spacing:462px;color:rgb(35,31,31);
}
#P132_5
{
left:0px;letter-spacing:2.4px;margin-left:-6.4px;
}
#P132_6
{
left:0px;letter-spacing:0px;margin-left:-464.3px;
}
#P132_7
{
left:0px;letter-spacing:2.4px;margin-left:0.1px;
}
#P132_8
{
left:0px;letter-spacing:0px;margin-left:-464.3px;
}
#P132_9
{
left:0px;letter-spacing:1.3px;margin-left:5.2px;
}
#P132_10
{
left:4669.4px;bottom:45479.5px;color:rgb(35,31,31);
}
#P132_11
{
left:5238.23px;bottom:45499.2px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P132_12
{
left:6269.59px;bottom:45479.5px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P132_13
{
left:0px;letter-spacing:-4.2px;margin-left:0.2px;
}
#P132_14
{
left:0px;letter-spacing:-4.2px;margin-left:4.2px;
}
#P132_15
{
left:0px;letter-spacing:0px;margin-left:-52.1px;
}
#P132_16
{
left:4669.4px;bottom:43815.2px;color:rgb(35,31,31);
}
#P132_17
{
left:5629.66px;bottom:43834.9px;color:rgb(35,31,31);
}
#P132_18
{
left:14077.4px;bottom:42640.6px;color:rgb(35,31,31);
}
#P132_19
{
left:14653.3px;bottom:42627.9px;color:rgb(35,31,31);
}
#P132_20
{
left:15138.3px;bottom:42670.1px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P132_21
{
left:15174.8px;bottom:43049.6px;color:rgb(35,31,31);
}
#P132_22
{
left:15516.2px;bottom:42649.7px;color:rgb(35,31,31);
}
#P132_23
{
left:15138.5px;bottom:42631.9px;color:rgb(35,31,31);
}
#P132_24
{
left:15552.6px;bottom:42671.4px;color:rgb(35,31,31);
}
#P132_25
{
left:15159.6px;bottom:42142.1px;color:rgb(35,31,31);
}
#P132_26
{
left:15531.5px;bottom:42649.7px;color:rgb(35,31,31);
}
#P132_27
{
left:15552.6px;bottom:42670.1px;color:rgb(35,31,31);
}
#P132_28
{
left:15552.6px;bottom:42627.9px;color:rgb(35,31,31);
}
#P132_29
{
left:15728.6px;bottom:42640.6px;color:rgb(35,31,31);
}
#P132_30
{
left:16315px;bottom:42627.9px;color:rgb(35,31,31);
}
#P132_31
{
left:16958.5px;bottom:42670.1px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P132_32
{
left:17057.2px;bottom:43049.6px;color:rgb(35,31,31);
}
#P132_33
{
left:17259.4px;bottom:42649.7px;color:rgb(35,31,31);
}
#P132_34
{
left:16958.5px;bottom:42631.9px;color:rgb(35,31,31);
}
#P132_35
{
left:17358px;bottom:42671.4px;color:rgb(35,31,31);
}
#P132_36
{
left:16979.6px;bottom:42142.1px;color:rgb(35,31,31);
}
#P132_37
{
left:17336.9px;bottom:42649.7px;color:rgb(35,31,31);
}
#P132_38
{
left:17358px;bottom:42670.1px;color:rgb(35,31,31);
}
#P132_39
{
left:17358px;bottom:42627.9px;color:rgb(35,31,31);
}
#P132_40
{
left:17534px;bottom:42640.6px;color:rgb(35,31,31);
}
#P132_41
{
left:18120.5px;bottom:42627.9px;color:rgb(35,31,31);
}
#P132_42
{
left:18296.5px;bottom:42670.1px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P132_43
{
left:18317.6px;bottom:43049.6px;color:rgb(35,31,31);
}
#P132_44
{
left:18877.1px;bottom:42649.7px;color:rgb(35,31,31);
}
#P132_45
{
left:18296.5px;bottom:42631.9px;color:rgb(35,31,31);
}
#P132_46
{
left:18898.2px;bottom:42671.4px;color:rgb(35,31,31);
}
#P132_47
{
left:18411.4px;bottom:42142.1px;color:rgb(35,31,31);
}
#P132_48
{
left:18783.3px;bottom:42649.7px;color:rgb(35,31,31);
}
#P132_49
{
left:18898.2px;bottom:42670.1px;color:rgb(35,31,31);
}
#P132_50
{
left:18898.2px;bottom:42627.9px;color:rgb(35,31,31);
}
#P132_51
{
left:19074.2px;bottom:42640.6px;color:rgb(35,31,31);
}
#P132_52
{
left:19660.6px;bottom:42627.9px;color:rgb(35,31,31);
}
#P132_53
{
left:19836.6px;bottom:42670.1px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P132_54
{
left:19857.8px;bottom:43049.6px;color:rgb(35,31,31);
}
#P132_55
{
left:20237.9px;bottom:42649.7px;color:rgb(35,31,31);
}
#P132_56
{
left:19836.6px;bottom:42631.9px;color:rgb(35,31,31);
}
#P132_57
{
left:20259px;bottom:42671.4px;color:rgb(35,31,31);
}
#P132_58
{
left:19869.1px;bottom:42142.1px;color:rgb(35,31,31);
}
#P132_59
{
left:20226.5px;bottom:42649.7px;color:rgb(35,31,31);
}
#P132_60
{
left:20259px;bottom:42670.1px;color:rgb(35,31,31);
}
#P132_61
{
left:14077.2px;bottom:40528.6px;letter-spacing:3280px;color:rgb(35,31,31);
}
#P132_62
{
left:18119.6px;bottom:40515.9px;color:rgb(35,31,31);
}
#P132_63
{
left:18295.6px;bottom:40558.1px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P132_64
{
left:18317px;bottom:40937.6px;color:rgb(35,31,31);
}
#P132_65
{
left:18860.6px;bottom:40537.7px;color:rgb(35,31,31);
}
#P132_66
{
left:18295.8px;bottom:40519.9px;color:rgb(35,31,31);
}
#P132_67
{
left:18881.7px;bottom:40559.4px;color:rgb(35,31,31);
}
#P132_68
{
left:18418px;bottom:40030.1px;color:rgb(35,31,31);
}
#P132_69
{
left:18759.5px;bottom:40537.7px;color:rgb(35,31,31);
}
#P132_70
{
left:18881.7px;bottom:40558.1px;color:rgb(35,31,31);
}
#P132_71
{
left:14077.6px;bottom:38416.6px;letter-spacing:3280px;color:rgb(35,31,31);
}
#P132_72
{
left:18120px;bottom:38403.9px;color:rgb(35,31,31);
}
#P132_73
{
left:19049.9px;bottom:38446.1px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P132_74
{
left:19140.6px;bottom:38825.6px;color:rgb(35,31,31);
}
#P132_75
{
left:19342.7px;bottom:38425.7px;color:rgb(35,31,31);
}
#P132_76
{
left:19049.8px;bottom:38407.9px;color:rgb(35,31,31);
}
#P132_77
{
left:19433.6px;bottom:38447.4px;color:rgb(35,31,31);
}
#P132_78
{
left:19070.9px;bottom:37918.1px;color:rgb(35,31,31);
}
#P132_79
{
left:19412.4px;bottom:38425.7px;color:rgb(35,31,31);
}
#P132_80
{
left:19433.6px;bottom:38446.1px;color:rgb(35,31,31);
}
#P132_81
{
left:4669.27px;bottom:36007.5px;color:rgb(35,31,31);
}
#P132_82
{
left:5629.53px;bottom:36027.2px;letter-spacing:444.3px;color:rgb(35,31,31);
}
#P132_83
{
left:6269.47px;bottom:36007.5px;color:rgb(35,31,31);
}
#P132_84
{
left:7968.92px;bottom:36027.2px;color:rgb(35,31,31);
}
#P132_85
{
left:8164.63px;bottom:36007.5px;letter-spacing:-0.4px;color:rgb(35,31,31);
}
#P132_86
{
left:0px;letter-spacing:0px;margin-left:0.4px;
}
#P132_87
{
left:6269.47px;bottom:35111.3px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P132_88
{
left:10042.2px;bottom:35111.3px;color:rgb(0,124,196);
}
#P132_89
{
left:4669.27px;bottom:33639.2px;color:rgb(35,31,31);
}
#P132_90
{
left:6391.96px;bottom:33658.9px;letter-spacing:-90.7px;color:rgb(35,31,31);
}
#P132_91
{
left:6848.86px;bottom:33639.2px;color:rgb(35,31,31);
}
#P132_92
{
left:7293.21px;bottom:33639.5px;letter-spacing:-0.2px;color:rgb(35,31,31);
}
#P132_93
{
left:4669.4px;bottom:31591.5px;color:rgb(35,31,31);
}
#P132_94
{
left:6144.99px;bottom:31611.2px;color:rgb(35,31,31);
}
#P132_95
{
left:6848.99px;bottom:31591.5px;letter-spacing:285.8px;color:rgb(35,31,31);
}
#P132_96
{
left:0px;letter-spacing:0px;margin-left:-311.2px;
}
#P132_97
{
left:0px;letter-spacing:-2.5px;
}
#P132_98
{
left:0px;letter-spacing:-1.7px;margin-left:2.5px;
}
#P132_99
{
left:0px;letter-spacing:0px;margin-left:1.7px;
}
#P132_100
{
left:0px;letter-spacing:0px;margin-left:42.2px;
}
#P132_101
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P132_102
{
left:16454px;bottom:32031.1px;color:rgb(35,31,31);
}
#P132_103
{
left:17125.7px;bottom:31609.1px;color:rgb(35,31,31);
}
#P132_104
{
left:16432.9px;bottom:31575.5px;color:rgb(35,31,31);
}
#P132_105
{
left:17146.8px;bottom:31592.7px;color:rgb(35,31,31);
}
#P132_106
{
left:16622px;bottom:31123.6px;color:rgb(35,31,31);
}
#P132_107
{
left:16957.8px;bottom:31609.1px;color:rgb(35,31,31);
}
#P132_108
{
left:17146.8px;bottom:31591.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P132_109
{
left:4669.08px;bottom:29543.5px;color:rgb(35,31,31);
}
#P132_110
{
left:6144.67px;bottom:29563.2px;color:rgb(35,31,31);
}
#P132_111
{
left:6848.67px;bottom:29543.5px;letter-spacing:285.8px;color:rgb(35,31,31);
}
#P132_112
{
left:0px;letter-spacing:0px;margin-left:-311.2px;
}
#P132_113
{
left:0px;letter-spacing:-2.5px;
}
#P132_114
{
left:0px;letter-spacing:-1.7px;margin-left:2.5px;
}
#P132_115
{
left:0px;letter-spacing:0px;margin-left:1.7px;
}
#P132_116
{
left:0px;letter-spacing:0px;margin-left:42.2px;
}
#P132_117
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P132_118
{
left:16454px;bottom:29983.1px;color:rgb(35,31,31);
}
#P132_119
{
left:16789.8px;bottom:29561.1px;color:rgb(35,31,31);
}
#P132_120
{
left:16432.9px;bottom:29527.5px;color:rgb(35,31,31);
}
#P132_121
{
left:16811px;bottom:29544.7px;color:rgb(35,31,31);
}
#P132_122
{
left:16454px;bottom:29075.6px;color:rgb(35,31,31);
}
#P132_123
{
left:16789.8px;bottom:29561.1px;color:rgb(35,31,31);
}
#P132_124
{
left:16811px;bottom:29543.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P132_125
{
left:4669.79px;bottom:27495.5px;color:rgb(35,31,31);
}
#P132_126
{
left:6457.95px;bottom:27515.2px;color:rgb(35,31,31);
}
#P132_127
{
left:7293.66px;bottom:27495.5px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P132_128
{
left:0px;letter-spacing:0px;margin-left:-14.1px;
}
#P132_129
{
left:0px;letter-spacing:0px;margin-left:-285.8px;
}
#P132_130
{
left:10550.9px;bottom:27935.1px;color:rgb(35,31,31);
}
#P132_131
{
left:10886.7px;bottom:27513.1px;color:rgb(35,31,31);
}
#P132_132
{
left:10529.8px;bottom:27479.5px;color:rgb(35,31,31);
}
#P132_133
{
left:10907.9px;bottom:27496.7px;color:rgb(35,31,31);
}
#P132_134
{
left:10550.9px;bottom:27027.6px;color:rgb(35,31,31);
}
#P132_135
{
left:10886.7px;bottom:27513.1px;color:rgb(35,31,31);
}
#P132_136
{
left:10907.9px;bottom:27495.5px;color:rgb(35,31,31);
}
#P132_137
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P132_138
{
left:0px;letter-spacing:0px;margin-left:-70.4px;
}
#P132_139
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P132_140
{
left:12382px;bottom:27935.1px;color:rgb(35,31,31);
}
#P132_141
{
left:12717.8px;bottom:27513.1px;color:rgb(35,31,31);
}
#P132_142
{
left:12360.9px;bottom:27479.5px;color:rgb(35,31,31);
}
#P132_143
{
left:12738.9px;bottom:27496.7px;color:rgb(35,31,31);
}
#P132_144
{
left:12382px;bottom:27027.6px;color:rgb(35,31,31);
}
#P132_145
{
left:12717.8px;bottom:27513.1px;color:rgb(35,31,31);
}
#P132_146
{
left:12738.9px;bottom:27495.5px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P132_147
{
left:4669.66px;bottom:24359.1px;color:rgb(35,31,31);
}
#P132_148
{
left:5238.49px;bottom:24378.9px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P132_149
{
left:6269.85px;bottom:24359.1px;color:rgb(35,31,31);
}
#P132_150
{
left:15409.9px;bottom:24359.1px;color:rgb(35,31,31);
}
#P132_151
{
left:16621.5px;bottom:24359.1px;letter-spacing:-0.1px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P132_152
{
left:6269.85px;bottom:23463px;color:rgb(35,31,31);
}
#P132_153
{
left:9998.94px;bottom:23463px;color:rgb(0,124,196);
}
#P132_154
{
left:4669.66px;bottom:21990.9px;color:rgb(35,31,31);
}
#P132_155
{
left:6145.24px;bottom:22010.6px;color:rgb(35,31,31);
}
#P132_156
{
left:7293.54px;bottom:21990.9px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P132_157
{
left:8384.41px;bottom:21991.5px;color:rgb(35,31,31);
}
#P132_158
{
left:20814.9px;bottom:22011.2px;color:rgb(35,31,31);
}
#P132_159
{
left:21885.1px;bottom:21991.5px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P132_160
{
left:0px;letter-spacing:0px;margin-left:-285.8px;
}
#P132_161
{
left:4669.4px;bottom:20455.3px;color:rgb(35,31,31);
}
#P132_162
{
left:6223.13px;bottom:20475.1px;color:rgb(35,31,31);
}
#P132_163
{
left:7293.28px;bottom:20455.3px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P132_164
{
left:0px;letter-spacing:0px;margin-left:-285.8px;
}
#P132_165
{
left:20736.8px;bottom:20475.1px;color:rgb(35,31,31);
}
#P132_166
{
left:21885.1px;bottom:20455.3px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P132_167
{
left:0px;letter-spacing:0px;margin-left:-285.8px;
}
#P132_168
{
left:4669.4px;bottom:17703.4px;color:rgb(35,31,31);
}
#P132_169
{
left:5238.23px;bottom:17723.1px;word-spacing:248.6px;color:rgb(35,31,31);
}
#P132_170
{
left:6269.59px;bottom:17703.4px;letter-spacing:-31.8px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P132_171
{
left:0px;letter-spacing:-0.5px;margin-left:189.7px;
}
#P132_172
{
left:0px;letter-spacing:-21.2px;margin-left:-13.6px;
}
#P132_173
{
left:0px;letter-spacing:-0.1px;margin-left:-42.2px;
}
#P132_174
{
left:0px;letter-spacing:0.1px;margin-left:158.6px;
}
#P132_175
{
left:6269.59px;bottom:16807.2px;letter-spacing:-1.2px;color:rgb(35,31,31);
}
#P132_176
{
left:0px;letter-spacing:-42.2px;margin-left:1.2px;
}
#P132_177
{
left:0px;letter-spacing:-0.4px;margin-left:42.2px;
}
#P132_178
{
left:0px;letter-spacing:0px;margin-left:0.4px;
}
#P132_179
{
left:6269.59px;bottom:15911px;letter-spacing:-0.8px;color:rgb(35,31,31);
}
#P132_180
{
left:0px;letter-spacing:0px;margin-left:-2.7px;
}
#P132_181
{
left:16578.3px;bottom:15911px;color:rgb(0,124,196);
}
#P132_182
{
left:4669.4px;bottom:14439px;color:rgb(35,31,31);
}
#P132_183
{
left:6392.09px;bottom:14458.7px;letter-spacing:-90.7px;color:rgb(35,31,31);
}
#P132_184
{
left:7293.28px;bottom:14439px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P132_185
{
left:20736.8px;bottom:14458.7px;color:rgb(35,31,31);
}
#P132_186
{
left:21440.8px;bottom:14439px;letter-spacing:285.9px;color:rgb(35,31,31);
}
#P132_187
{
left:4669.4px;bottom:12902.8px;color:rgb(35,31,31);
}
#P132_188
{
left:6144.99px;bottom:12922.5px;color:rgb(35,31,31);
}
#P132_189
{
left:7293.28px;bottom:12902.8px;word-spacing:285.9px;color:rgb(35,31,31);
}
#P132_190
{
left:21049.4px;bottom:12922.5px;color:rgb(35,31,31);
}
#P132_191
{
left:21440.8px;bottom:12902.8px;letter-spacing:285.9px;color:rgb(35,31,31);
}
#P132_192
{
left:4669.4px;bottom:9766.51px;color:rgb(35,31,31);
}
#P132_193
{
left:5238.23px;bottom:9786.22px;color:rgb(35,31,31);
}
#P132_194
{
left:6269.59px;bottom:9766.51px;color:rgb(35,31,31);
}
#P132_195
{
left:9890.27px;bottom:9767.72px;color:rgb(35,31,31);
}
#P132_196
{
left:12741.5px;bottom:9767.72px;color:rgb(35,31,31);
}
#P132_197
{
left:13794.6px;bottom:9767.72px;color:rgb(35,31,31);
}
#P132_198
{
left:0px;letter-spacing:0px;margin-left:-4.2px;
}
#P132_199
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P132_200
{
left:18303.6px;bottom:10207.1px;color:rgb(35,31,31);
}
#P132_201
{
left:18639.4px;bottom:9785.07px;color:rgb(35,31,31);
}
#P132_202
{
left:18282.5px;bottom:9751.46px;color:rgb(35,31,31);
}
#P132_203
{
left:18660.5px;bottom:9768.74px;color:rgb(35,31,31);
}
#P132_204
{
left:18303.6px;bottom:9299.63px;color:rgb(35,31,31);
}
#P132_205
{
left:18639.4px;bottom:9785.07px;color:rgb(35,31,31);
}
#P132_206
{
left:18818.9px;bottom:9767.47px;word-spacing:-158.4px;color:rgb(35,31,31);
}
#P132_207
{
left:19796.8px;bottom:9767.47px;color:rgb(0,124,196);
}
#P132_208
{
left:4669.21px;bottom:7783.6px;color:rgb(35,31,31);
}
#P132_209
{
left:6144.79px;bottom:7803.31px;color:rgb(35,31,31);
}
#P132_210
{
left:6848.79px;bottom:7783.6px;letter-spacing:285.9px;color:rgb(35,31,31);
}
#P132_211
{
left:7293.21px;bottom:7783.47px;color:rgb(35,31,31);
}
#P132_212
{
left:7314.52px;bottom:8223.15px;color:rgb(35,31,31);
}
#P132_213
{
left:7650.33px;bottom:7801.07px;color:rgb(35,31,31);
}
#P132_214
{
left:7293.4px;bottom:7767.46px;color:rgb(35,31,31);
}
#P132_215
{
left:7671.45px;bottom:7784.74px;color:rgb(35,31,31);
}
#P132_216
{
left:7314.52px;bottom:7315.63px;color:rgb(35,31,31);
}
#P132_217
{
left:7650.33px;bottom:7801.07px;color:rgb(35,31,31);
}
#P132_218
{
left:7671.45px;bottom:7783.47px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P132_219
{
left:7829.85px;bottom:7753.9px;color:rgb(35,31,31);
}
#P132_220
{
left:8416.28px;bottom:7783.47px;color:rgb(35,31,31);
}
#P132_221
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P132_222
{
left:8595.8px;bottom:8223.15px;color:rgb(35,31,31);
}
#P132_223
{
left:8931.61px;bottom:7801.07px;color:rgb(35,31,31);
}
#P132_224
{
left:8574.68px;bottom:7767.46px;color:rgb(35,31,31);
}
#P132_225
{
left:8952.73px;bottom:7784.74px;color:rgb(35,31,31);
}
#P132_226
{
left:8595.8px;bottom:7315.63px;color:rgb(35,31,31);
}
#P132_227
{
left:8931.61px;bottom:7801.07px;color:rgb(35,31,31);
}
#P132_228
{
left:8952.73px;bottom:7783.47px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P132_229
{
left:9111.13px;bottom:7753.9px;color:rgb(35,31,31);
}
#P132_230
{
left:9697.56px;bottom:7783.47px;color:rgb(35,31,31);
}
#P132_231
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P132_232
{
left:9877.02px;bottom:8223.15px;color:rgb(35,31,31);
}
#P132_233
{
left:10212.8px;bottom:7801.07px;color:rgb(35,31,31);
}
#P132_234
{
left:9855.9px;bottom:7767.46px;color:rgb(35,31,31);
}
#P132_235
{
left:10233.9px;bottom:7784.74px;color:rgb(35,31,31);
}
#P132_236
{
left:9877.02px;bottom:7315.63px;color:rgb(35,31,31);
}
#P132_237
{
left:10212.8px;bottom:7801.07px;color:rgb(35,31,31);
}
#P132_238
{
left:10233.9px;bottom:7783.47px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P132_239
{
left:20815.1px;bottom:7803.18px;color:rgb(35,31,31);
}
#P132_240
{
left:21440.9px;bottom:7783.47px;letter-spacing:285.9px;color:rgb(35,31,31);
}
#P132_241
{
left:0px;letter-spacing:0px;margin-left:-444.2px;
}
#P132_242
{
left:21906.5px;bottom:8223.15px;color:rgb(35,31,31);
}
#P132_243
{
left:22242.3px;bottom:7801.07px;color:rgb(35,31,31);
}
#P132_244
{
left:21885.4px;bottom:7767.46px;color:rgb(35,31,31);
}
#P132_245
{
left:22263.4px;bottom:7784.74px;color:rgb(35,31,31);
}
#P132_246
{
left:21906.5px;bottom:7315.63px;color:rgb(35,31,31);
}
#P132_247
{
left:22242.3px;bottom:7801.07px;color:rgb(35,31,31);
}
#P132_248
{
left:22263.4px;bottom:7783.47px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P132_249
{
left:22421.8px;bottom:7753.9px;color:rgb(35,31,31);
}
#P132_250
{
left:23008.3px;bottom:7783.47px;color:rgb(35,31,31);
}
#P132_251
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P132_252
{
left:23187.8px;bottom:8223.15px;color:rgb(35,31,31);
}
#P132_253
{
left:23523.6px;bottom:7801.07px;color:rgb(35,31,31);
}
#P132_254
{
left:23166.7px;bottom:7767.46px;color:rgb(35,31,31);
}
#P132_255
{
left:23544.7px;bottom:7784.74px;color:rgb(35,31,31);
}
#P132_256
{
left:23187.8px;bottom:7315.63px;color:rgb(35,31,31);
}
#P132_257
{
left:23523.6px;bottom:7801.07px;color:rgb(35,31,31);
}
#P132_258
{
left:23544.7px;bottom:7783.47px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P132_259
{
left:23703.1px;bottom:7753.9px;color:rgb(35,31,31);
}
#P132_260
{
left:24289.6px;bottom:7783.47px;color:rgb(35,31,31);
}
#P132_261
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P132_262
{
left:24469px;bottom:8223.15px;color:rgb(35,31,31);
}
#P132_263
{
left:24804.8px;bottom:7801.07px;color:rgb(35,31,31);
}
#P132_264
{
left:24447.9px;bottom:7767.46px;color:rgb(35,31,31);
}
#P132_265
{
left:24825.9px;bottom:7784.74px;color:rgb(35,31,31);
}
#P132_266
{
left:24469px;bottom:7315.63px;color:rgb(35,31,31);
}
#P132_267
{
left:24804.8px;bottom:7801.07px;color:rgb(35,31,31);
}
#P132_268
{
left:24825.9px;bottom:7783.47px;color:rgb(35,31,31);
}
#P132_269
{
left:4669.72px;bottom:5351.15px;color:rgb(35,31,31);
}
#P132_270
{
left:6223.45px;bottom:5370.86px;color:rgb(35,31,31);
}
#P132_271
{
left:6849.31px;bottom:5351.15px;letter-spacing:285.9px;color:rgb(35,31,31);
}
#P132_272
{
left:0px;letter-spacing:0px;margin-left:-444.2px;
}
#P132_273
{
left:7314.52px;bottom:5791.15px;color:rgb(35,31,31);
}
#P132_274
{
left:7986.14px;bottom:5369.07px;color:rgb(35,31,31);
}
#P132_275
{
left:7293.4px;bottom:5335.46px;color:rgb(35,31,31);
}
#P132_276
{
left:8007.26px;bottom:5352.74px;color:rgb(35,31,31);
}
#P132_277
{
left:7314.52px;bottom:4883.63px;color:rgb(35,31,31);
}
#P132_278
{
left:7986.14px;bottom:5369.07px;color:rgb(35,31,31);
}
#P132_279
{
left:8007.26px;bottom:5351.47px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P132_280
{
left:8165.66px;bottom:5321.9px;color:rgb(35,31,31);
}
#P132_281
{
left:8752.09px;bottom:5351.47px;color:rgb(35,31,31);
}
#P132_282
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P132_283
{
left:8931.61px;bottom:5791.15px;color:rgb(35,31,31);
}
#P132_284
{
left:9267.42px;bottom:5369.07px;color:rgb(35,31,31);
}
#P132_285
{
left:8910.49px;bottom:5335.46px;color:rgb(35,31,31);
}
#P132_286
{
left:9288.54px;bottom:5352.74px;color:rgb(35,31,31);
}
#P132_287
{
left:8931.61px;bottom:4883.63px;color:rgb(35,31,31);
}
#P132_288
{
left:9267.42px;bottom:5369.07px;color:rgb(35,31,31);
}
#P132_289
{
left:9288.54px;bottom:5351.47px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P132_290
{
left:9446.94px;bottom:5321.9px;color:rgb(35,31,31);
}
#P132_291
{
left:10033.4px;bottom:5351.47px;color:rgb(35,31,31);
}
#P132_292
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P132_293
{
left:10212.8px;bottom:5791.15px;color:rgb(35,31,31);
}
#P132_294
{
left:10548.6px;bottom:5369.07px;color:rgb(35,31,31);
}
#P132_295
{
left:10191.7px;bottom:5335.46px;color:rgb(35,31,31);
}
#P132_296
{
left:10569.8px;bottom:5352.74px;color:rgb(35,31,31);
}
#P132_297
{
left:10212.8px;bottom:4883.63px;color:rgb(35,31,31);
}
#P132_298
{
left:10548.6px;bottom:5369.07px;color:rgb(35,31,31);
}
#P132_299
{
left:10569.8px;bottom:5351.47px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P132_300
{
left:20736.9px;bottom:5371.18px;color:rgb(35,31,31);
}
#P132_301
{
left:21440.9px;bottom:5351.47px;letter-spacing:285.9px;color:rgb(35,31,31);
}
#P132_302
{
left:0px;letter-spacing:0px;margin-left:-444.2px;
}
#P132_303
{
left:21906.5px;bottom:5791.15px;color:rgb(35,31,31);
}
#P132_304
{
left:22578.1px;bottom:5369.07px;color:rgb(35,31,31);
}
#P132_305
{
left:21885.4px;bottom:5335.46px;color:rgb(35,31,31);
}
#P132_306
{
left:22599.3px;bottom:5352.74px;color:rgb(35,31,31);
}
#P132_307
{
left:21906.5px;bottom:4883.63px;color:rgb(35,31,31);
}
#P132_308
{
left:22578.1px;bottom:5369.07px;color:rgb(35,31,31);
}
#P132_309
{
left:22599.3px;bottom:5351.47px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P132_310
{
left:22757.7px;bottom:5321.9px;color:rgb(35,31,31);
}
#P132_311
{
left:23344.1px;bottom:5351.47px;color:rgb(35,31,31);
}
#P132_312
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P132_313
{
left:23691.5px;bottom:5791.15px;color:rgb(35,31,31);
}
#P132_314
{
left:24027.3px;bottom:5369.07px;color:rgb(35,31,31);
}
#P132_315
{
left:23502.5px;bottom:5335.46px;color:rgb(35,31,31);
}
#P132_316
{
left:24216.3px;bottom:5352.74px;color:rgb(35,31,31);
}
#P132_317
{
left:23523.6px;bottom:4883.63px;color:rgb(35,31,31);
}
#P132_318
{
left:24195.2px;bottom:5369.07px;color:rgb(35,31,31);
}
#P132_319
{
left:24216.3px;bottom:5351.47px;letter-spacing:-158.4px;color:rgb(35,31,31);
}
#P132_320
{
left:24374.7px;bottom:5321.9px;color:rgb(35,31,31);
}
#P132_321
{
left:24961.2px;bottom:5351.47px;color:rgb(35,31,31);
}
#P132_322
{
left:0px;letter-spacing:0px;margin-left:-158.4px;
}
#P132_323
{
left:25308.6px;bottom:5791.15px;color:rgb(35,31,31);
}
#P132_324
{
left:25644.4px;bottom:5369.07px;color:rgb(35,31,31);
}
#P132_325
{
left:25119.5px;bottom:5335.46px;color:rgb(35,31,31);
}
#P132_326
{
left:25833.4px;bottom:5352.74px;color:rgb(35,31,31);
}
#P132_327
{
left:25140.6px;bottom:4883.63px;color:rgb(35,31,31);
}
#P132_328
{
left:25812.2px;bottom:5369.07px;color:rgb(35,31,31);
}
#P132_329
{
left:25833.4px;bottom:5351.47px;color:rgb(35,31,31);
}
#PageContainer132
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg132.jpg");background-repeat:no-repeat;background-size: 1066px 351px; background-position: 1px -0.420000000000073px;
}
#ImageContainer132 {bottom:1013.42px;right:0.00px;width:1066.24px;height:350.74px;position:absolute;} #TextContainer132 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}

#middle-toolbar
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 1068.36px;
	height: 32px;
	background: transparent url(../images/bar-bg.png) repeat;
	border: 1px solid #333;
	font-weight: bold;
	z-index: 100;
}

#middle-toolbar img{vertical-align: middle;}