.tr747{ color:transparent;}
#P747_1
{
left:4592.6px;bottom:1410.03px;color:rgb(35,31,31);
}
#P747_2
{
left:29171px;bottom:1410.03px;letter-spacing:6px;word-spacing:-0.6px;color:rgb(35,31,31);
}
#P747_3
{
left:0px;letter-spacing:5.6px;margin-left:2.1px;
}
#P747_4
{
left:35644.1px;bottom:1410.03px;color:rgb(35,31,31);
}
#P747_5
{
left:37346.4px;bottom:28730.5px;color:white;
}
#P747_6
{
left:5273.56px;bottom:43328px;color:rgb(35,31,31);
}
#P747_7
{
left:6909.4px;bottom:43310.1px;color:rgb(35,31,31);
}
#P747_8
{
left:12889.6px;bottom:43328px;color:rgb(35,31,31);
}
#P747_9
{
left:13885.4px;bottom:43310.1px;color:rgb(35,31,31);
}
#P747_10
{
left:15216.6px;bottom:43283.2px;color:rgb(35,31,31);
}
#P747_11
{
left:15749.7px;bottom:43310.1px;color:rgb(35,31,31);
}
#P747_12
{
left:16716.1px;bottom:43283.2px;color:rgb(35,31,31);
}
#P747_13
{
left:17249.2px;bottom:43310.1px;color:rgb(35,31,31);
}
#P747_14
{
left:20569.6px;bottom:43328px;color:rgb(35,31,31);
}
#P747_15
{
left:21565.4px;bottom:43310.1px;word-spacing:-64px;color:rgb(35,31,31);
}
#P747_16
{
left:22323.8px;bottom:43417px;color:rgb(35,31,31);
}
#P747_17
{
left:22465.9px;bottom:43270px;color:rgb(35,31,31);
}
#P747_18
{
left:22353.9px;bottom:43410.2px;color:rgb(35,31,31);
}
#P747_19
{
left:23592.3px;bottom:43320.6px;color:rgb(35,31,31);
}
#P747_20
{
left:22529.9px;bottom:43310.1px;word-spacing:-64px;color:rgb(35,31,31);
}
#P747_21
{
left:28889.6px;bottom:43328px;color:rgb(35,31,31);
}
#P747_22
{
left:29885.4px;bottom:43310.1px;word-spacing:-64px;color:rgb(35,31,31);
}
#P747_23
{
left:30983px;bottom:43417px;color:rgb(35,31,31);
}
#P747_24
{
left:31125.1px;bottom:43270px;color:rgb(35,31,31);
}
#P747_25
{
left:31013.1px;bottom:43410.2px;color:rgb(35,31,31);
}
#P747_26
{
left:32590.7px;bottom:43320.6px;color:rgb(35,31,31);
}
#P747_27
{
left:31189.1px;bottom:43310.1px;word-spacing:-64px;color:rgb(35,31,31);
}
#P747_28
{
left:6333.4px;bottom:42414.1px;word-spacing:-64px;color:rgb(35,31,31);
}
#P747_29
{
left:6752.6px;bottom:42521px;color:rgb(35,31,31);
}
#P747_30
{
left:6894.68px;bottom:42374px;color:rgb(35,31,31);
}
#P747_31
{
left:6782.68px;bottom:42514.2px;color:rgb(35,31,31);
}
#P747_32
{
left:8190.68px;bottom:42424.6px;color:rgb(35,31,31);
}
#P747_33
{
left:6958.68px;bottom:42414.1px;word-spacing:-64px;color:rgb(35,31,31);
}
#P747_34
{
left:5273.56px;bottom:41152px;color:rgb(35,31,31);
}
#P747_35
{
left:6269.4px;bottom:41134.1px;color:rgb(35,31,31);
}
#P747_36
{
left:12533.7px;bottom:41152px;color:rgb(35,31,31);
}
#P747_37
{
left:13885.4px;bottom:41134.1px;color:rgb(35,31,31);
}
#P747_38
{
left:20213.7px;bottom:41152px;color:rgb(35,31,31);
}
#P747_39
{
left:21565.4px;bottom:41134.1px;color:rgb(35,31,31);
}
#P747_40
{
left:28533.7px;bottom:41152px;color:rgb(35,31,31);
}
#P747_41
{
left:29885.4px;bottom:41134.1px;color:rgb(35,31,31);
}
#P747_42
{
left:4917.72px;bottom:39872px;color:rgb(35,31,31);
}
#P747_43
{
left:6269.4px;bottom:39854.1px;color:rgb(35,31,31);
}
#P747_44
{
left:12533.7px;bottom:39872px;color:rgb(35,31,31);
}
#P747_45
{
left:13885.4px;bottom:39854.1px;color:rgb(35,31,31);
}
#P747_46
{
left:20213.7px;bottom:39872px;color:rgb(35,31,31);
}
#P747_47
{
left:21565.4px;bottom:39854.1px;color:rgb(35,31,31);
}
#P747_48
{
left:28533.7px;bottom:39872px;color:rgb(35,31,31);
}
#P747_49
{
left:29885.4px;bottom:39854.1px;color:rgb(35,31,31);
}
#P747_50
{
left:4917.72px;bottom:38592px;word-spacing:284.2px;color:rgb(35,31,31);
}
#P747_51
{
left:6269.4px;bottom:38574.1px;letter-spacing:-0.7px;color:rgb(35,31,31);
}
#P747_52
{
left:0px;letter-spacing:0px;margin-left:0.7px;
}
#P747_53
{
left:20213.7px;bottom:38544px;word-spacing:348.2px;color:rgb(35,31,31);
}
#P747_54
{
left:21629.4px;bottom:38526.1px;letter-spacing:-1.1px;color:rgb(35,31,31);
}
#P747_55
{
left:0px;letter-spacing:0.2px;margin-left:1.1px;
}
#P747_56
{
left:21629.4px;bottom:37694.1px;color:rgb(35,31,31);
}
#P747_57
{
left:21629.4px;bottom:36862.1px;letter-spacing:-0.9px;color:rgb(35,31,31);
}
#P747_58
{
left:6269.4px;bottom:37742.1px;color:rgb(35,31,31);
}
#P747_59
{
left:6919px;bottom:36718.1px;word-spacing:816px;color:rgb(35,31,31);
}
#P747_60
{
left:6269.4px;bottom:35886.1px;word-spacing:816px;color:rgb(35,31,31);
}
#P747_61
{
left:6688.6px;bottom:35993px;color:rgb(35,31,31);
}
#P747_62
{
left:6830.68px;bottom:35846px;color:rgb(35,31,31);
}
#P747_63
{
left:6718.68px;bottom:35986.2px;color:rgb(35,31,31);
}
#P747_64
{
left:8465.88px;bottom:35896.6px;color:rgb(35,31,31);
}
#P747_65
{
left:6894.68px;bottom:35886.1px;word-spacing:-64px;color:rgb(35,31,31);
}
#P747_66
{
left:7319px;bottom:35054.1px;word-spacing:816px;color:rgb(35,31,31);
}
#P747_67
{
left:7767px;bottom:34222.1px;word-spacing:816px;color:rgb(35,31,31);
}
#P747_68
{
left:7767px;bottom:33390.1px;word-spacing:816px;color:rgb(35,31,31);
}
#P747_69
{
left:4669.4px;bottom:32558.1px;letter-spacing:816px;color:rgb(35,31,31);
}
#P747_70
{
left:0px;letter-spacing:0px;margin-left:1516.8px;
}
#P747_71
{
left:4917.72px;bottom:31296px;color:rgb(35,31,31);
}
#P747_72
{
left:6269.4px;bottom:31278.1px;color:rgb(35,31,31);
}
#P747_73
{
left:12533.7px;bottom:31296px;color:rgb(35,31,31);
}
#P747_74
{
left:13885.4px;bottom:31278.1px;color:rgb(35,31,31);
}
#P747_75
{
left:20213.7px;bottom:31296px;color:rgb(35,31,31);
}
#P747_76
{
left:21565.4px;bottom:31278.1px;color:rgb(35,31,31);
}
#P747_77
{
left:28533.7px;bottom:31296px;color:rgb(35,31,31);
}
#P747_78
{
left:29885.4px;bottom:31278.1px;color:rgb(35,31,31);
}
#P747_79
{
left:4917.72px;bottom:30016px;color:rgb(35,31,31);
}
#P747_80
{
left:6269.4px;bottom:29998.1px;color:rgb(35,31,31);
}
#P747_81
{
left:12533.7px;bottom:30016px;color:rgb(35,31,31);
}
#P747_82
{
left:13885.4px;bottom:29998.1px;color:rgb(35,31,31);
}
#P747_83
{
left:20213.7px;bottom:30016px;color:rgb(35,31,31);
}
#P747_84
{
left:21565.4px;bottom:29998.1px;color:rgb(35,31,31);
}
#P747_85
{
left:28533.7px;bottom:30016px;color:rgb(35,31,31);
}
#P747_86
{
left:29885.4px;bottom:29998.1px;color:rgb(35,31,31);
}
#P747_87
{
left:4917.72px;bottom:28736px;color:rgb(35,31,31);
}
#P747_88
{
left:6269.4px;bottom:28718.1px;color:rgb(35,31,31);
}
#P747_89
{
left:12533.7px;bottom:28736px;color:rgb(35,31,31);
}
#P747_90
{
left:13885.4px;bottom:28718.1px;color:rgb(35,31,31);
}
#P747_91
{
left:20213.7px;bottom:28736px;color:rgb(35,31,31);
}
#P747_92
{
left:21565.4px;bottom:28718.1px;color:rgb(35,31,31);
}
#P747_93
{
left:28533.7px;bottom:28736px;color:rgb(35,31,31);
}
#P747_94
{
left:29885.4px;bottom:28718.1px;color:rgb(35,31,31);
}
#P747_95
{
left:4917.72px;bottom:27456px;color:rgb(35,31,31);
}
#P747_96
{
left:6269.4px;bottom:27411.2px;color:rgb(35,31,31);
}
#P747_97
{
left:6802.52px;bottom:27438.1px;color:rgb(35,31,31);
}
#P747_98
{
left:12533.7px;bottom:27456px;color:rgb(35,31,31);
}
#P747_99
{
left:13885.4px;bottom:27438.1px;color:rgb(35,31,31);
}
#P747_100
{
left:4917.72px;bottom:26176px;color:rgb(35,31,31);
}
#P747_101
{
left:6269.4px;bottom:26158.1px;color:rgb(35,31,31);
}
#P747_102
{
left:4917.72px;bottom:24896px;color:rgb(35,31,31);
}
#P747_103
{
left:6269.4px;bottom:24878.1px;letter-spacing:-0.6px;color:rgb(35,31,31);
}
#P747_104
{
left:0px;letter-spacing:0px;margin-left:0.6px;
}
#P747_105
{
left:4917.72px;bottom:23296px;color:rgb(35,31,31);
}
#P747_106
{
left:6269.4px;bottom:23278.1px;word-spacing:-64px;color:rgb(35,31,31);
}
#P747_107
{
left:6707.8px;bottom:23677.9px;color:rgb(35,31,31);
}
#P747_108
{
left:7013.08px;bottom:23294.1px;color:rgb(35,31,31);
}
#P747_109
{
left:6688.6px;bottom:23263.6px;color:rgb(35,31,31);
}
#P747_110
{
left:7032.28px;bottom:23279.3px;color:rgb(35,31,31);
}
#P747_111
{
left:6707.8px;bottom:22852.8px;color:rgb(35,31,31);
}
#P747_112
{
left:7013.08px;bottom:23294.1px;color:rgb(35,31,31);
}
#P747_113
{
left:7032.28px;bottom:23278.1px;letter-spacing:-144px;color:rgb(35,31,31);
}
#P747_114
{
left:12533.7px;bottom:23296px;word-spacing:284.2px;color:rgb(35,31,31);
}
#P747_115
{
left:13885.4px;bottom:23296px;color:rgb(35,31,31);
}
#P747_116
{
left:14057.2px;bottom:23679.8px;color:rgb(35,31,31);
}
#P747_117
{
left:14362.5px;bottom:23294.1px;color:rgb(35,31,31);
}
#P747_118
{
left:13885.4px;bottom:23265.5px;color:rgb(35,31,31);
}
#P747_119
{
left:14534.4px;bottom:23279.3px;color:rgb(35,31,31);
}
#P747_120
{
left:13904.6px;bottom:22854.8px;color:rgb(35,31,31);
}
#P747_121
{
left:14515.2px;bottom:23294.1px;color:rgb(35,31,31);
}
#P747_122
{
left:14534.4px;bottom:23278.1px;color:rgb(35,31,31);
}
#P747_123
{
left:4917.72px;bottom:21696px;color:rgb(35,31,31);
}
#P747_124
{
left:6269.4px;bottom:21678.1px;color:rgb(35,31,31);
}
#P747_125
{
left:4673.56px;bottom:45552px;color:white;
}
#P747_126
{
left:7236.57px;bottom:45850.3px;color:white;
}
#P747_127
{
left:7610.2px;bottom:45552px;color:white;
}
#P747_128
{
left:14125.4px;bottom:46004.1px;color:rgb(2,77,161);
}
#P747_129
{
left:14125.4px;bottom:45022.7px;color:rgb(2,77,161);
}
#P747_130
{
left:17824.5px;bottom:44964.5px;color:rgb(2,77,161);
}
#P747_131
{
left:18517.5px;bottom:45022.7px;color:rgb(2,77,161);
}
#P747_132
{
left:5273.56px;bottom:16665.2px;word-spacing:348.2px;color:rgb(35,31,31);
}
#P747_133
{
left:6333.4px;bottom:16647.3px;color:rgb(35,31,31);
}
#P747_134
{
left:7603.8px;bottom:16620.4px;color:rgb(35,31,31);
}
#P747_135
{
left:8136.92px;bottom:16647.3px;letter-spacing:-0.1px;color:rgb(35,31,31);
}
#P747_136
{
left:0px;letter-spacing:-2.5px;margin-left:-12.6px;
}
#P747_137
{
left:0px;letter-spacing:0px;margin-left:2.5px;
}
#P747_138
{
left:6333.4px;bottom:15815.3px;letter-spacing:-1.4px;color:rgb(35,31,31);
}
#P747_139
{
left:0px;letter-spacing:-2.1px;margin-left:1.4px;
}
#P747_140
{
left:5273.56px;bottom:14553.2px;word-spacing:348.2px;color:rgb(35,31,31);
}
#P747_141
{
left:6333.4px;bottom:14535.3px;letter-spacing:-1.5px;word-spacing:0.1px;color:rgb(35,31,31);
}
#P747_142
{
left:0px;letter-spacing:-0.1px;margin-left:-36.9px;
}
#P747_143
{
left:0px;letter-spacing:-1.3px;
}
#P747_144
{
left:0px;letter-spacing:-0.9px;margin-left:1.3px;
}
#P747_145
{
left:0px;letter-spacing:-0.3px;margin-left:0.9px;
}
#P747_146
{
left:6333.4px;bottom:13703.3px;color:rgb(35,31,31);
}
#P747_147
{
left:5273.56px;bottom:12441.2px;color:rgb(35,31,31);
}
#P747_148
{
left:6269.4px;bottom:12423.3px;color:rgb(35,31,31);
}
#P747_149
{
left:20569.6px;bottom:12441.2px;color:rgb(35,31,31);
}
#P747_150
{
left:21565.4px;bottom:12423.3px;color:rgb(35,31,31);
}
#P747_151
{
left:5273.56px;bottom:11161.2px;color:rgb(35,31,31);
}
#P747_152
{
left:6269.4px;bottom:11172.1px;letter-spacing:-63.9px;color:rgb(35,31,31);
}
#P747_153
{
left:0px;letter-spacing:1.2px;margin-left:63.9px;
}
#P747_154
{
left:8545.18px;bottom:11172.1px;color:rgb(35,31,31);
}
#P747_155
{
left:8864.54px;bottom:11172.1px;color:rgb(35,31,31);
}
#P747_156
{
left:10509.3px;bottom:11172.1px;color:rgb(35,31,31);
}
#P747_157
{
left:6269.4px;bottom:10340.1px;letter-spacing:-1.9px;color:rgb(35,31,31);
}
#P747_158
{
left:7992.28px;bottom:10340.1px;word-spacing:51.2px;color:rgb(35,31,31);
}
#P747_159
{
left:0px;letter-spacing:0px;margin-left:124.8px;
}
#P747_160
{
left:0px;letter-spacing:0px;margin-left:-51.2px;
}
#P747_161
{
left:6269.4px;bottom:9508.08px;letter-spacing:-0.7px;word-spacing:176px;color:rgb(35,31,31);
}
#P747_162
{
left:12461.4px;bottom:11143.3px;color:rgb(35,31,31);
}
#P747_163
{
left:15605.7px;bottom:11161.2px;color:rgb(35,31,31);
}
#P747_164
{
left:16957.4px;bottom:11146.5px;letter-spacing:-63.9px;word-spacing:176px;color:rgb(35,31,31);
}
#P747_165
{
left:0px;letter-spacing:1px;margin-left:63.9px;
}
#P747_166
{
left:19572.4px;bottom:11146.5px;color:rgb(35,31,31);
}
#P747_167
{
left:20168.9px;bottom:11459px;color:rgb(35,31,31);
}
#P747_168
{
left:20415.4px;bottom:11146.5px;color:rgb(35,31,31);
}
#P747_169
{
left:22060.2px;bottom:11146.5px;color:rgb(35,31,31);
}
#P747_170
{
left:22463.4px;bottom:11459px;color:rgb(35,31,31);
}
#P747_171
{
left:16957.4px;bottom:10314.5px;letter-spacing:-1.9px;color:rgb(35,31,31);
}
#P747_172
{
left:18680.3px;bottom:10314.5px;word-spacing:51.2px;color:rgb(35,31,31);
}
#P747_173
{
left:0px;letter-spacing:0px;margin-left:124.8px;
}
#P747_174
{
left:0px;letter-spacing:0px;margin-left:-51.2px;
}
#P747_175
{
left:16957.4px;bottom:9482.48px;letter-spacing:-0.7px;word-spacing:176px;color:rgb(35,31,31);
}
#P747_176
{
left:23149.4px;bottom:11143.3px;color:rgb(35,31,31);
}
#P747_177
{
left:26101.7px;bottom:11161.2px;color:rgb(35,31,31);
}
#P747_178
{
left:27453.4px;bottom:11156.3px;letter-spacing:-63.9px;word-spacing:176px;color:rgb(35,31,31);
}
#P747_179
{
left:0px;letter-spacing:1px;margin-left:63.9px;
}
#P747_180
{
left:30068.4px;bottom:11156.3px;color:rgb(35,31,31);
}
#P747_181
{
left:30398.6px;bottom:11156.3px;color:rgb(35,31,31);
}
#P747_182
{
left:0px;letter-spacing:0px;margin-left:-144px;
}
#P747_183
{
left:30731.4px;bottom:11556px;color:rgb(35,31,31);
}
#P747_184
{
left:31051.7px;bottom:11837.2px;color:rgb(35,31,31);
}
#P747_185
{
left:31273.6px;bottom:11172.3px;color:rgb(35,31,31);
}
#P747_186
{
left:30712.2px;bottom:11141.7px;color:rgb(35,31,31);
}
#P747_187
{
left:31292.8px;bottom:11157.4px;color:rgb(35,31,31);
}
#P747_188
{
left:30849.9px;bottom:10731px;color:rgb(35,31,31);
}
#P747_189
{
left:31155.2px;bottom:11172.3px;color:rgb(35,31,31);
}
#P747_190
{
left:31292.8px;bottom:11156.3px;color:rgb(35,31,31);
}
#P747_191
{
left:27453.4px;bottom:9876.27px;letter-spacing:-1.9px;color:rgb(35,31,31);
}
#P747_192
{
left:29176.3px;bottom:9876.27px;word-spacing:51.2px;color:rgb(35,31,31);
}
#P747_193
{
left:0px;letter-spacing:0px;margin-left:124.8px;
}
#P747_194
{
left:32065.8px;bottom:10276px;color:rgb(35,31,31);
}
#P747_195
{
left:32371.1px;bottom:9892.27px;color:rgb(35,31,31);
}
#P747_196
{
left:32046.6px;bottom:9861.74px;color:rgb(35,31,31);
}
#P747_197
{
left:32390.3px;bottom:9877.42px;color:rgb(35,31,31);
}
#P747_198
{
left:32065.8px;bottom:9450.99px;color:rgb(35,31,31);
}
#P747_199
{
left:32371.1px;bottom:9892.27px;color:rgb(35,31,31);
}
#P747_200
{
left:32390.3px;bottom:9876.27px;color:rgb(35,31,31);
}
#P747_201
{
left:27453.4px;bottom:8596.27px;letter-spacing:-0.6px;word-spacing:176px;color:rgb(35,31,31);
}
#P747_202
{
left:4917.72px;bottom:7641.2px;color:rgb(35,31,31);
}
#P747_203
{
left:6333.4px;bottom:7623.28px;color:rgb(35,31,31);
}
#P747_204
{
left:7157.79px;bottom:7623.28px;word-spacing:153px;color:rgb(35,31,31);
}
#P747_205
{
left:0px;letter-spacing:0px;margin-left:-63.9px;
}
#P747_206
{
left:0px;letter-spacing:5.6px;
}
#P747_207
{
left:9655.55px;bottom:7699.28px;letter-spacing:-121.4px;color:rgb(35,31,31);
}
#P747_208
{
left:10554px;bottom:7623.28px;color:rgb(35,31,31);
}
#P747_209
{
left:10893.2px;bottom:7623.28px;color:rgb(35,31,31);
}
#P747_210
{
left:11395.6px;bottom:7623.28px;color:rgb(35,31,31);
}
#P747_211
{
left:0px;letter-spacing:0px;margin-left:-7.7px;
}
#P747_212
{
left:0px;letter-spacing:0px;margin-left:-195.2px;
}
#P747_213
{
left:0px;letter-spacing:0px;margin-left:51.2px;
}
#P747_214
{
left:0px;letter-spacing:0px;margin-left:176px;
}
#P747_215
{
left:0px;letter-spacing:0px;margin-left:-7.7px;
}
#P747_216
{
left:0px;letter-spacing:0px;margin-left:176px;
}
#P747_217
{
left:4669.4px;bottom:6599.28px;letter-spacing:816px;color:rgb(35,31,31);
}
#P747_218
{
left:6333.4px;bottom:6599.28px;letter-spacing:-6.3px;color:rgb(35,31,31);
}
#P747_219
{
left:7190.55px;bottom:6599.28px;word-spacing:153px;color:rgb(35,31,31);
}
#P747_220
{
left:0px;letter-spacing:0px;margin-left:-153px;
}
#P747_221
{
left:9864.41px;bottom:6599.28px;letter-spacing:51.2px;color:rgb(35,31,31);
}
#P747_222
{
left:0px;letter-spacing:0px;margin-left:-51.2px;
}
#P747_223
{
left:12787.1px;bottom:6675.28px;color:rgb(35,31,31);
}
#P747_224
{
left:13473.9px;bottom:6599.28px;letter-spacing:-5.1px;color:rgb(35,31,31);
}
#P747_225
{
left:0px;letter-spacing:-0.7px;margin-left:5.1px;
}
#P747_226
{
left:0px;letter-spacing:0px;margin-left:-11.9px;
}
#P747_227
{
left:0px;letter-spacing:0px;margin-left:-12.7px;
}
#P747_228
{
left:0px;letter-spacing:0px;margin-left:-12.7px;
}
#P747_229
{
left:7101.4px;bottom:5767.28px;word-spacing:816px;color:rgb(35,31,31);
}
#P747_230
{
left:0px;letter-spacing:0px;margin-left:-816px;
}
#P747_231
{
left:9775.26px;bottom:5767.28px;letter-spacing:51.2px;color:rgb(35,31,31);
}
#P747_232
{
left:0px;letter-spacing:0px;margin-left:-51.2px;
}
#P747_233
{
left:12764px;bottom:5767.28px;color:rgb(35,31,31);
}
#P747_234
{
left:13266.4px;bottom:5767.28px;letter-spacing:-5.1px;color:rgb(35,31,31);
}
#P747_235
{
left:0px;letter-spacing:-0.7px;margin-left:5.1px;
}
#P747_236
{
left:0px;letter-spacing:0px;margin-left:-12px;
}
#P747_237
{
left:0px;letter-spacing:0px;margin-left:-12.7px;
}
#P747_238
{
left:0px;letter-spacing:0px;margin-left:-12.7px;
}
#P747_239
{
left:4917.72px;bottom:4505.2px;color:rgb(35,31,31);
}
#P747_240
{
left:6269.4px;bottom:4487.28px;color:rgb(35,31,31);
}
#P747_241
{
left:6614.36px;bottom:4799.76px;color:rgb(35,31,31);
}
#P747_242
{
left:6860.95px;bottom:4487.28px;color:rgb(35,31,31);
}
#P747_243
{
left:11637.7px;bottom:4505.2px;color:rgb(35,31,31);
}
#P747_244
{
left:12989.4px;bottom:4487.28px;color:rgb(35,31,31);
}
#P747_245
{
left:13850.2px;bottom:4487.28px;color:rgb(35,31,31);
}
#P747_246
{
left:14226.5px;bottom:4799.76px;color:rgb(35,31,31);
}
#P747_247
{
left:14473.1px;bottom:4487.28px;color:rgb(35,31,31);
}
#P747_248
{
left:18357.7px;bottom:4505.2px;color:rgb(35,31,31);
}
#P747_249
{
left:19773.4px;bottom:4487.28px;color:rgb(35,31,31);
}
#P747_250
{
left:20621.4px;bottom:4487.28px;color:rgb(35,31,31);
}
#P747_251
{
left:21289.6px;bottom:4799.76px;color:rgb(35,31,31);
}
#P747_252
{
left:21536.2px;bottom:4487.28px;color:rgb(35,31,31);
}
#P747_253
{
left:25333.7px;bottom:4505.2px;color:rgb(35,31,31);
}
#P747_254
{
left:26685.4px;bottom:4487.28px;color:rgb(35,31,31);
}
#P747_255
{
left:27363.8px;bottom:4487.28px;color:rgb(35,31,31);
}
#P747_256
{
left:27803.5px;bottom:4799.76px;color:rgb(35,31,31);
}
#P747_257
{
left:28050.1px;bottom:4487.28px;color:rgb(35,31,31);
}
#P747_258
{
left:32245.7px;bottom:4505.2px;color:rgb(35,31,31);
}
#P747_259
{
left:33597.4px;bottom:4487.28px;color:rgb(35,31,31);
}
#P747_260
{
left:4917.72px;bottom:3225.2px;color:rgb(35,31,31);
}
#P747_261
{
left:6269.4px;bottom:3207.28px;color:rgb(35,31,31);
}
#P747_262
{
left:11637.7px;bottom:3225.2px;color:rgb(35,31,31);
}
#P747_263
{
left:12989.4px;bottom:3207.28px;color:rgb(35,31,31);
}
#P747_264
{
left:18357.7px;bottom:3225.2px;color:rgb(35,31,31);
}
#P747_265
{
left:19773.4px;bottom:3207.28px;color:rgb(35,31,31);
}
#P747_266
{
left:25333.7px;bottom:3225.2px;color:rgb(35,31,31);
}
#P747_267
{
left:26685.4px;bottom:3207.28px;color:rgb(35,31,31);
}
#P747_268
{
left:32245.7px;bottom:3225.2px;color:rgb(35,31,31);
}
#P747_269
{
left:33597.4px;bottom:3207.28px;color:rgb(35,31,31);
}
#P747_270
{
left:4673.56px;bottom:18889.1px;color:white;
}
#P747_271
{
left:7236.57px;bottom:19187.5px;color:white;
}
#P747_272
{
left:7610.2px;bottom:18889.1px;color:white;
}
#P747_273
{
left:14125.4px;bottom:19341.2px;letter-spacing:-0.9px;color:rgb(2,77,161);
}
#P747_274
{
left:14125.4px;bottom:18359.9px;color:rgb(2,77,161);
}
#P747_275
{
left:18287.1px;bottom:18301.6px;color:rgb(2,77,161);
}
#P747_276
{
left:18980.1px;bottom:18359.9px;color:rgb(2,77,161);
}
#PageContainer747
{
width:1066.62px;height:1364.16px;background-image: url("../images/bg747.jpg");background-repeat:no-repeat;background-size: 1065px 1364px; background-position: right bottom;
}
#ImageContainer747 {bottom:0.00px;right:0.00px;width:1064.57px;height:1364.16px;position:absolute;} #TextContainer747 {-webkit-transform:scale(0.027191);-o-transform:scale(0.027191);-ms-transform:scale(0.027191);-moz-transform:scale(0.027191);transform:scale(0.027191);}
