﻿@charset "UTF-8";
/**
 * Stylesheet: example.css
 *
 * (C) 2011-2012 Zazar Ltd
 * 
 * Description: Stylesheet for examples
 *
 **/

body {
	margin: 1em 3em;
	font-family: Tahoma, Genevam, sans-serif;
}

